<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/buy/buyclass_new.phtml");
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$buyClass = new buyClass();
$buyClass->db = $DB;
$buyClass->mysqlid = $mysqlid;
$buyClass->efc = $efc;
$top_cats = $buyClass->getBuyCategories($parentid);

if (count($top_cats)>0) {
	foreach ($top_cats as $c) {
		?>
			<div class="mainCatContainer" style="padding-left:30px;">
				<a href="javascript:void(0)" id="maincat_<?=$c['id']?>" class="catLinks"><?=$c['catname']?></a>
				<a onclick="deleteCat('<?=$c['id']?>','<?=$parentid?>');" href="javascript:void(0);"><img alt="Delete Category" src="/mgt/images/del.jpg"></a>
				<div class="subcatContainer" id="subcats_<?=$c['id']?>"></div>
			</div>
		<?
	}
}
?>
<div class="mainCatContainer" style="padding-left:30px;"><a href="javascript:void(0)" onclick="showAddCat('<?=$parentid?>')" class="addCat">*add category</a></div>