<?
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
?>
<tr class="baseFeedErrorRes">
        <tr bgcolor="#eeeeee">
                <td>&nbsp;</td>
                <td><b>PID</b></td>
                <td><b>Time</b></td>
                <td><b>Message</b></td>
                <td>Action</td>
        </tr>
</tr>
<?
$q = "SELECT id,reportid,requestid FROM buy_feed_report WHERE type='BASE'";
if(!$q2ok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$k = 1;
while(list($xid,$xreportid,$xrequestid) = mysql_fetch_array($q2ok))
{
        $q1 = "select id,pid,tstamp,message from buy_errors where requestid = '$xrequestid' order by pid";
        if(!$q2ok1 = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while(list($xid,$xpid,$xtstamp,$xmessage) = mysql_fetch_array($q2ok1))
        {
                ?>
                        <tr class="baseFeedErrorRes" id="newerror_<?=$xpid;?>">
                                <td><?=$k?></td>
                                <td><a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$xpid;?>&inwin=1', 'Edit SKU: <?=$xpid;?>');"><?=$xpid;?></td>
                                <td><?=$xtstamp?></td>
                                <td><?=$xmessage?></td>
                                <td><a href="javascript:void(0);" onclick="markResolvedNew('<?=$xpid;?>','<?=$xrequestid?>');">mark resolved</a></td>
                        </tr>
                <?
                $k++;
        }
}
?>
<tr class="baseFeedErrorRes">
    <td colspan="5">
            <a href="javascript:void(0);" onclick="markResolvedNewAll('BASE');">mark all resolved</a>
    </td>
</tr>