<?
//header ("content-type: text/xml");

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
//REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


$query = "select data,type from buy_log_extended where lid = '$lid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($data,$type) = mysql_fetch_array($qok);
//echo $data;

$arr_data = explode("\n",$data);
?>
<HTML>
<HEAD>
<TITLE>Edit SKU Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<STYLE>
table{font-size:12px;border:1px solid black;border-collapse:collapse;}
table td{border:1px solid black;}
</STYLE>
</HEAD>

<body>
<table cellpadding="5" cellspacing="0" border="0">
<?
if ($type == 'request') {
	foreach ($arr_data as $k=>$v) {
		if ($k>=1) {
			$xdata = explode("\t",$v);
			?>
			<tr>
			<?
			foreach ($xdata as $x=>$y) {
				?>
					<td valign="top">
						<?=$y?>
					</td>
				<?
			}
			?>
			</tr>
			<?
		}
	}
}
else {
	$cols = count(explode("\t",$arr_data[1]));
	foreach ($arr_data as $k=>$v) {
		if ($k == 0) {
			?>
			<tr>
				<td valign="top" colspan="<?=$cols?>">
					<?=$v?>
				</td>
			</tr>
			<?
		}
		if ($k>0) {
			$xdata = explode("\t",$v);
				if (count($xdata)>1) {
				?>
				<tr>
				<?
				foreach ($xdata as $x=>$y) {
					?>
						<td valign="top">
							<?=$y?>
						</td>
					<?
				}
				?>
				</tr>
				<?
			}
		}
	}
}
?>
</table>
</body>
</html>
<?
/*
$message = array();
while(!feof($file))
{
	$str = fgets($file);
	$m_text = explode("\t",$str);
	if ($type == 'new') {
		if (count($m_text) == 1) {
			if ($m_text[0] != '') {
				$message[] = $m_text;							
			}
		}	
		else {
			$message[] = $m_text;	
		}
	}
	else {
		if (count($m_text)>1) {
			$message[] = $m_text;	
		}
	}
}
fclose($file);
*/

?>

