<?
class buyclass {
	private $ftp_url = "trade.marketplace.buy.com";
	private $local_file_path = "feeds/";
	
	function dbconnect($server, $username, $password)
	{// establish a connection to our server
		$this->mysqlid = mysql_connect($server,$username,$password);

		if($this->mysqlid == false)
		{
			echo "ERROR CONNECTING TO DATABASE\n";
			exit();
		}

		$this->server = $server;
		$this->username = $username;
		$this->password = $password;
	}
	function setFtpParams($ftp_usr,$ftp_pass) {
		$this->ftp_usr = $ftp_usr;
		$this->ftp_pw = $ftp_pass;
	}
	function cleanse($data)
	{
		$data = str_replace("<![CDATA[", "", $data);
		$data = str_replace("]]>", "", $data);
		
		$data = strip_tags($data, "<br><p><ul><li>");
		
		return preg_replace("/[^a-zA-Z0-9!~$#;:?&%=)(><.,\[\]\-'\+\/\"\s]/","", $data);
	}
	
	function cleanVar($data)
	{
		//matches anything in range 0-31, 128-255 and removes it.
		return preg_replace('/[\x00-\x1F\x80-\xFF]/', '', $data);
	}	
	function getClassification($pid)
	{
		
	}
	function AddProduct($pid, $campid, $useasin = "")
	{
		$condition_addon = "";
		$data = "";
		$msrp = "";
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
	/*	if(trim($am_condition) != '')
		{
			$condition = $am_condition;
			$condition_val = '10';
		}
		else 
		{*/
			if(intval($refurb) == 1) {
				$condition = "Refurbished";
				$condition_val = "10";
			}
			else {
				$condition = "New";
				$condition_val = "1";
			}
//		}
		
		$query = "select pricelevel from buy_campaigns where id = '$campid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q2ok)>0) {
			list($plevel) = mysql_fetch_array($q2ok);	
		}
		else {
			$plevel = 7;
		}
		
		
		$query = "select price_level".$plevel." from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		
		if (mysql_num_rows($q2ok) == 0) {
			$prod_price = number_format(9999.99,2,'.','');
		}
		else {
			list($prod_price) = mysql_fetch_array($q2ok);
			if ($prod_price <= 0) {
				$alt_sku_flag = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG");
				$alt_sku_parent = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT");
				$alt_sku_parentid = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID");
				
				$q = "SELECT text_short FROM custom_values WHERE cfid='$alt_sku_flag' AND pid='".$pid."'";
				if(!$q98ok = mysql_db_query($this->db, $q, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($is_alt_sku) = mysql_fetch_array($q98ok);
				if ($is_alt_sku == 1) {
					$qx = "SELECT text_short FROM custom_values WHERE cfid='$alt_sku_parentid' AND pid='".$pid."'";
					if(!$q98okx = mysql_db_query($this->db, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($parent_id) = mysql_fetch_array($q98okx);

					$queryx = "select price_level".$plevel." from product_prices where id = '$parent_id'";
					if(!$q2okx = mysql_db_query($this->db, $queryx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($prod_price) = mysql_fetch_array($q2okx);
				}
			}
		}
		
		$q1 = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$pid."' AND custom_fields.name='Buy.com SKU'";
		$qok1 = mysql_db_query($this->db, $q1, $this->mysqlid);
		if($qok1 == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($buy_sku) = mysql_fetch_array($qok1);
		if ($buy_sku == '') {
			$buy_sku = $pid;
		}
		
		/*$query = "SELECT text_short FROM custom_values WHERE  cfid='29' and pid='$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($buy_sku) = mysql_fetch_array($q2ok);
		if ($buy_sku == '') {
			$buy_sku = $pid;
		}*/
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) );
		
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		//reference id
	$data .= "\t";
		/*Product-id is a unique identifier that is used to find the product you wish to list on the Marketplace. 
			The product-id types which can be used:
			• ISBN must be 13 digits in length.
			• UPC must be 12 or 14 digits in length
			• Buy.com SKUs have variable lengths
			• Seller SKU have variable lengths
			Examples: 30764650 or 0066620996
		Note: ISBN will be used for Books and UPC will be used for electronics, hardware and software. 
			The Buy.com SKU is universal across categories.*/
	$data .=$pid."\t";
//	$data .=$buy_sku."\t";
		/*
		Choose the product id that you are using. Please select from one of the following:
		0 = Buy.com SKU
		1 = ISBN
		2 = UPC
		3 = Seller SKU
		*/
	$data .="3\t";
		/*	Please enter the numerical index corresponding to the condition of the item:
			1 = Brand New
			2 = Used-Like New
			3 = Used-Very Good
			4 = Used-Good
			5 = Used-Acceptable
			10 = Refurbished	*/
	$data .=$condition_val."\t";
		/* PRICE	*/
	$data .=$prod_price."\t";
	
		/* MAP
			Minimum Advertised Price. Specify this amount if your price is below MAP and you want 
			to comply with the rules for displaying prices that are below MAP.
			Do not enter currency symbols or commas.
			Do not specify more than 2 decimal points.
		*/
	$data .="\t";
		/*	QUANTITY	*/
	$data .= $this->getBuyQty($pid,$campid,$this->efc)."\t";
	/*	
		Sellers shipment must arrive in 4 business days if they offer this option.
		1 = Offering Expedited Shipping
		0 = Not Offering Expedited shipping
	*/
	$data .="1\t";
	/*	
		These notes will appear in your Marketplace listing. 
		Up to 250 characters of free form text describing the condition of the item.
		Do not put any product details or marketing information here.
	*/
	if ($descr == '') {
		$descr = ' ';
	}
        $descr = str_replace("\t", '', $descr);
	$data .=trim($descr)."\t";
	
	/*	
		The flat rate shipping fee you want to charge for Standard shipping, which will override the Buy.com default shipping rates. 
		If you don’t specify a value, the shipping rates from the Buy.com default shipping table will be used.
		Rate must be >= 0.
		Use 0 for Free Shipping.
	*/
	$data .="0\t";
	/*	
		The flat rate shipping fee you want to charge for Expedited shipping, which will override the Buy.com default expedited shipping rates. 
		If you don’t specify a value, the shipping rates from the Buy.com default shipping table will be used.
		Rate must be >= 0.
		Use 0 for Free Shipping.
		Do not enter currency symbols or commas. Do not specify more than 2 decimal points.
	*/
	$data .=$this->efc->getConfigValue("Buy.com", "expedited")."\t";
	
	/*	
		The lead time (in days) that it takes to ship an order once it is received.
		The default for all Marketplace orders is 1 to 2 business days.
		Use this field if your lead time to ship is greater than 2 business days.
		NOTE:
		This functionality only works with the Home & Outdoor, Sports, Toys and Baby categories. 
		Will not work with any other product categories	
	*/
	$data .="\t";
	/*	
		a unique alphanumeric identifier for each product - e.g., your internal ID code/SKU. Maximum of 30 characters.
		Once you associate a ReferenceId to a listing (and Buy.com SKU) you should not change this association. 
		The only time you would have different ReferenceId’s for the same Buy.com SKU is when you are listing different ItemCondition listings for that Buy.com SKU.
		You can change the ReferenceId association by including the ListingId of the item that has the ReferenceId you would like to change. 
		If the new ReferenceId is not in use then the association will be changed to use the new ReferenceId.
	
	*/
//	$data .=$sku."\n";
	$data .=$pid."\n";
		return $data;
	}
	function NewFeedAddProduct($pid, $campid,$upc_check, $useasin = "")
	{	
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) ); 
		$sales_descr = $this->cleanse($this->efc->getSalesDescr($pid));
		$sales_descr = str_replace(array("\r\n", "\r", "\n", "\t", "&bull;"),"",$sales_descr);
		$sales_descr = str_replace("&quot;","'",$sales_descr);
		$imageList = $this->efc->getImageList($pid);
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		$query2 = "SELECT feature from product_features where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$features = "";
		while( (list($feature) = mysql_fetch_array($q3ok)))
		{
			if ($feature != '') {
				$feature = str_replace(array("\r\n", "\r", "\n", "\t"),"",$feature);
				$features .= $feature."~";	
			}
		}	

		$query2 = "SELECT kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$keywords = "";
		list($kw1,$kw2,$kw3,$kw4,$kw5) = mysql_fetch_array($q3ok);
		if ($kw1 != '') {
			$kw1 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw1);
			$keywords .=$kw1."|";
		}
		if ($kw2 != '') {
			$kw2 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw2);
			$keywords .=$kw2."|";
		}
		if ($kw3 != '') {
			$kw3 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw3);
			$keywords .=$kw3."|";
		}
		if ($kw4 != '') {
			$kw4 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw4);
			$keywords .=$kw4."|";
		}
		if ($kw5 != '') {
			$kw5 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw5);
			$keywords .=$kw5."|";
		}
		
		$query = "select pricelevel from buy_campaigns where id = '$campid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($plevel) = mysql_fetch_array($q2ok);
		
		$query = "select price_level".$plevel." from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//		list($prod_price) = mysql_fetch_array($q2ok);
			
		if (mysql_num_rows($q2ok) == 0) {
			$prod_price = number_format(9999.99,2,'.','');
		}
		else {
			list($prod_price) = mysql_fetch_array($q2ok);
		}
			
		$data =SELLER_ID."\t";
		
		if ($upc_check != '') {
			if (strlen($upc_check) == 13 && substr($upc_check,0,1) == '0') {
		  		$upc_check = substr($upc_check,1);
		  	}
			$data .=trim($upc_check)."\t";
		}
		else {
			if (strlen($upccode) == 13 && substr($upccode,0,1) == '0') {
		  		$upccode = substr($upccode,1);
		  	}
			$data .=trim($upccode)."\t";
		}
		$final_desc = strip_tags($sales_descr);
		if (trim($final_desc) == '') {
			$final_desc = $descr;
		}
		$data .="\t";
		$data .=$manname."\t";
		$data .=$manpart."\t";
		$data .=$asin."\t";
//		$data .=$sku."\t";
		$data .=$pid."\t";
		$data .=str_replace("\t",'',$descr)."\t";
		$data .=str_replace("\t",'',$final_desc)."\t";
		$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=0&thumb=0\t";
		if (count($imageList)>1) {
			foreach ($imageList as $k=>$itype) {
				$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=".$itype."&thumb=0";
				if ($k<count($imageList)-1) {
					$data .="|";
				}
			}
		}
		$data .="\t";
		$data .=$shipweight."\t";
		$data .=substr($features,0,-1)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=substr($keywords,0,-1)."\t";
		$data .="\t";
		$data .="7000\t";
		$data .=$this->getBuyAssignedCat($pid)."\n";	
			
		return $data;
	}
	function NewFeedAddProductBfly($pid, $campid,$upc_check, $useasin = "")
	{	
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) ); 
		$sales_descr = $this->cleanse($this->efc->getSalesDescr($pid));
		$sales_descr = str_replace(array("\r\n", "\r", "\n", "\t", "&bull;"),"",$sales_descr);
		$sales_descr = str_replace("&quot;","'",$sales_descr);
		$imageList = $this->efc->getImageList($pid);
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		$query2 = "SELECT feature from product_features where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$features = "";
		while( (list($feature) = mysql_fetch_array($q3ok)))
		{
			if ($feature != '') {
				$feature = str_replace(array("\r\n", "\r", "\n", "\t"),"",$feature);
				$features .= $feature."~";	
			}
		}	

		$query2 = "SELECT kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$keywords = "";
		list($kw1,$kw2,$kw3,$kw4,$kw5) = mysql_fetch_array($q3ok);
		if ($kw1 != '') {
			$kw1 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw1);
			$keywords .=$kw1."|";
		}
		if ($kw2 != '') {
			$kw2 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw2);
			$keywords .=$kw2."|";
		}
		if ($kw3 != '') {
			$kw3 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw3);
			$keywords .=$kw3."|";
		}
		if ($kw4 != '') {
			$kw4 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw4);
			$keywords .=$kw4."|";
		}
		if ($kw5 != '') {
			$kw5 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw5);
			$keywords .=$kw5."|";
		}
		
		$query = "select pricelevel from buy_campaigns where id = '$campid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($plevel) = mysql_fetch_array($q2ok);
		
		$query = "select price_level".$plevel." from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//		list($prod_price) = mysql_fetch_array($q2ok);
			
		if (mysql_num_rows($q2ok) == 0) {
			$prod_price = number_format(9999.99,2,'.','');
		}
		else {
			list($prod_price) = mysql_fetch_array($q2ok);
		}
			
		$data ="24151837\t";
		
		if ($upc_check != '') {
			if (strlen($upc_check) == 13 && substr($upc_check,0,1) == '0') {
		  		$upc_check = substr($upc_check,1);
		  	}
			$data .=trim($upc_check)."\t";
		}
		else {
			if (strlen($upccode) == 13 && substr($upccode,0,1) == '0') {
		  		$upccode = substr($upccode,1);
		  	}
			$data .=trim($upccode)."\t";
		}
		
		$final_desc = strip_tags($sales_descr);
		if (trim($final_desc) == '') {
			$final_desc = $descr;
		}
		
		$data .="\t";
		$data .=$manname."\t";
		$data .=$manpart."\t";
		$data .=$asin."\t";
//		$data .=$sku."\t";
		$data .=$pid."\t";
		$data .=str_replace("\t",'',$descr)."\t";
		$data .=str_replace("\t",'',$final_desc)."\t";
		$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=0&thumb=0\t";
		if (count($imageList)>1) {
			foreach ($imageList as $k=>$itype) {
				$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=".$itype."&thumb=0";
				if ($k<count($imageList)-1) {
					$data .="|";
				}
			}
		}
		$data .="\t";
		$data .=$shipweight."\t";
		$data .=substr($features,0,-1)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=$this->getBuyAssignedCat($pid)."\t";
		$data .=substr($keywords,0,-1)."\t";
		$data .="\t\n";
//		$data .="7000\t";	
			
		return $data;
	}
	function NewFeedAddProductEcom($pid, $campid,$upc_check, $useasin = "")
	{	
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) ); 
		$sales_descr = $this->cleanse($this->efc->getSalesDescr($pid));
		$sales_descr = str_replace(array("\r\n", "\r", "\n", "\t", "&bull;"),"",$sales_descr);
		$sales_descr = str_replace("&quot;","'",$sales_descr);
		$imageList = $this->efc->getImageList($pid);
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		$query2 = "SELECT feature from product_features where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$features = "";
		while( (list($feature) = mysql_fetch_array($q3ok)))
		{
			if ($feature != '') {
				$feature = str_replace(array("\r\n", "\r", "\n", "\t"),"",$feature);
				$features .= $feature."~";	
			}
		}	

		$query2 = "SELECT kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$keywords = "";
		list($kw1,$kw2,$kw3,$kw4,$kw5) = mysql_fetch_array($q3ok);
		if ($kw1 != '') {
			$kw1 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw1);
			$keywords .=$kw1."|";
		}
		if ($kw2 != '') {
			$kw2 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw2);
			$keywords .=$kw2."|";
		}
		if ($kw3 != '') {
			$kw3 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw3);
			$keywords .=$kw3."|";
		}
		if ($kw4 != '') {
			$kw4 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw4);
			$keywords .=$kw4."|";
		}
		if ($kw5 != '') {
			$kw5 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw5);
			$keywords .=$kw5."|";
		}
		
		$query = "select pricelevel from buy_campaigns where id = '$campid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($plevel) = mysql_fetch_array($q2ok);
		
		$query = "select price_level".$plevel." from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//		list($prod_price) = mysql_fetch_array($q2ok);
			
		if (mysql_num_rows($q2ok) == 0) {
			$prod_price = number_format(9999.99,2,'.','');
		}
		else {
			list($prod_price) = mysql_fetch_array($q2ok);
		}
			
		$data ="29934833\t";
		
		if ($upc_check != '') {
			if (strlen($upc_check) == 13 && substr($upc_check,0,1) == '0') {
		  		$upc_check = substr($upc_check,1);
		  	}
			$data .=trim($upc_check)."\t";
		}
		else {
			if (strlen($upccode) == 13 && substr($upccode,0,1) == '0') {
		  		$upccode = substr($upccode,1);
		  	}
			$data .=trim($upccode)."\t";
		}
		
		$final_desc = strip_tags($sales_descr);
		if (trim($final_desc) == '') {
			$final_desc = $descr;
		}
		
		$data .="\t";
		$data .=$manname."\t";
//		$data .=$manpart."\t";
		$data .=$sku."\t";
		$data .=$asin."\t";
//		$data .=$sku."\t";
		$data .=$pid."\t";
		$data .=str_replace("\t",'',$descr)."\t";
		$data .=str_replace("\t",'',$final_desc)."\t";
		$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=0&thumb=0\t";
		if (count($imageList)>1) {
			foreach ($imageList as $k=>$itype) {
				$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=".$itype."&thumb=0";
				if ($k<count($imageList)-1) {
					$data .="|";
				}
			}
		}
		$data .="\t";
		$data .=$shipweight."\t";
		$data .=substr($features,0,-1)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=$this->getBuyAssignedCat($pid)."\t";
		$data .=substr($keywords,0,-1)."\t";
		$data .="\t\n";
//		$data .="7000\t";	
			
		return $data;
	}
	function NewFeedAddProductV2($pid, $campid,$upc_check, $useasin = "")
	{	
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) ); 
		$sales_descr = $this->cleanse($this->efc->getSalesDescr($pid));
		$sales_descr = str_replace(array("\r\n", "\r", "\n", "\t", "&bull;"),"",$sales_descr);
		$sales_descr = str_replace("&quot;","'",$sales_descr);
		$imageList = $this->efc->getImageList($pid);
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		$query2 = "SELECT feature from product_features where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$features = "";
		while( (list($feature) = mysql_fetch_array($q3ok)))
		{
			if ($feature != '') {
				$feature = str_replace(array("\r\n", "\r", "\n", "\t"),"",$feature);
				$features .= $feature."~";	
			}
		}	

		/*$query2 = "SELECT kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$keywords = "";
		list($kw1,$kw2,$kw3,$kw4,$kw5) = mysql_fetch_array($q3ok);
		if ($kw1 != '') {
			$kw1 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw1);
			$kw1 = str_replace(",","|",$kw1);
			$kw1 = trim($kw1);
			$keywords .=$kw1."|";
		}
		if ($kw2 != '') {
			$kw2 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw2);
			$kw2 = str_replace(",","|",$kw2);
			$kw2 = trim($kw2);
			$keywords .=$kw2."|";
		}
		if ($kw3 != '') {
			$kw3 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw3);
			$kw3 = str_replace(",","|",$kw3);
			$kw3 = trim($kw3);
			$keywords .=$kw3."|";
		}
		if ($kw4 != '') {
			$kw4 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw4);
			$kw4 = str_replace(",","|",$kw4);
			$kw4 = trim($kw4);
			$keywords .=$kw4."|";
		}
		if ($kw5 != '') {
			$kw5 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw5);
			$kw5 = str_replace(",","|",$kw5);
			$kw5 = trim($kw5);
			$keywords .=$kw5."|";
		}*/
		$keywords = $this->getProdKeywords($pid);		
		$query = "select pricelevel from buy_campaigns where id = '$campid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($plevel) = mysql_fetch_array($q2ok);
		
		$query = "select price_level".$plevel." from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//		list($prod_price) = mysql_fetch_array($q2ok);
			
		if (mysql_num_rows($q2ok) == 0) {
			$prod_price = number_format(9999.99,2,'.','');
		}
		else {
			list($prod_price) = mysql_fetch_array($q2ok);
		}
			
//		$data ="29934833\t";
		$data = SELLER_ID."\t";
		
		if ($upc_check != '') {
			if (strlen($upc_check) == 13 && substr($upc_check,0,1) == '0') {
		  		$upc_check = substr($upc_check,1);
		  	}
			$data .=trim($upc_check)."\t";
		}
		else {
			if (strlen($upccode) == 13 && substr($upccode,0,1) == '0') {
		  		$upccode = substr($upccode,1);
		  	}
			$data .=trim($upccode)."\t";
		}
		
		$final_desc = strip_tags($sales_descr);
		if (trim($final_desc) == '') {
			$final_desc = $descr;
		}
		
		$data .="\t";
		$data .=$manname."\t";
		$data .=$sku."\t";
//		$data .=$manpart."\t";
		$data .=$asin."\t";
//		$data .=$sku."\t";
		$data .=$pid."\t";
		$data .=str_replace("\t",'',$descr)."\t";
		$data .=str_replace("\t",'',$final_desc)."\t";
		$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=0&thumb=0\t";
		if (count($imageList)>1) {
			foreach ($imageList as $k=>$itype) {
				$data .=BASE_URL."/getimage.phtml?id=".$pid."&itype=".$itype."&thumb=0";
				if ($k<count($imageList)-1) {
					$data .="|";
				}
			}
		}
		$data .="\t";
		$data .=$shipweight."\t";
		$data .=substr($features,0,-1)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=number_format($prod_price,2)."\t";
		$data .=$this->getBuyAssignedCat($pid)."\t";
		$data .=substr($keywords,0,-1)."\t";
		$data .="\n";
//		$data .="\t\n";
//		$data .="7000\t";	
			
		return $data;
	}
	function getProdKeywords($pid) {
		$query2 = "SELECT kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$keywords = "";
		list($kw1,$kw2,$kw3,$kw4,$kw5) = mysql_fetch_array($q3ok);
		if ($kw1 != '') {
			$kw1 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw1);
			$kw1 = str_replace(",","|",$kw1);
			$kw1 = trim($kw1);
			if ($kw1 != '') {
//				$keywords .=$kw1."|";
				$kw1_arr = explode("|",$kw1);
				foreach ($kw1_arr as $k=>$v) {
					$keywords .=trim($v)."|";	
				}
			}
			
		}
		if ($kw2 != '') {
			$kw2 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw2);
			$kw2 = str_replace(",","|",$kw2);
			$kw2 = trim($kw2);
			if ($kw2 != '') {
//				$keywords .=$kw2."|";	
				$kw2_arr = explode("|",$kw2);
				foreach ($kw2_arr as $k=>$v) {
					$keywords .=trim($v)."|";	
				}	
			}
		}
		if ($kw3 != '') {
			$kw3 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw3);
			$kw3 = str_replace(",","|",$kw3);
			$kw3 = trim($kw3);
			if ($kw3 != '') {
//				$keywords .=$kw3."|";	
				$kw3_arr = explode("|",$kw3);
				foreach ($kw3_arr as $k=>$v) {
					$keywords .=trim($v)."|";	
				}		
			}
		}
		if ($kw4 != '') {
			$kw4 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw4);
			$kw4 = str_replace(",","|",$kw4);
			$kw4 = trim($kw4);
			if ($kw4 != '') {
//				$keywords .=$kw4."|";
				$kw4_arr = explode("|",$kw4);
				foreach ($kw4_arr as $k=>$v) {
					$keywords .=trim($v)."|";	
				}	
			}
		}
		if ($kw5 != '') {
			$kw5 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw5);
			$kw5 = str_replace(",","|",$kw5);
			$kw5 = trim($kw5);
			if ($kw5 != '') {
//				$keywords .=$kw5."|";	
				$kw5_arr = explode("|",$kw5);
				foreach ($kw5_arr as $k=>$v) {
					$keywords .=trim($v)."|";	
				}
			}
		}
		if (substr($keywords,-1) == '|') {
			$keywords = substr($keywords,0,-1);
		}
		return $keywords;
	}
	function getProdKeywordsTest($pid) {
		$query2 = "SELECT kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$pid'";
		if(!$q3ok = mysql_db_query($this->db, $query2, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$keywords = "";
		list($kw1,$kw2,$kw3,$kw4,$kw5) = mysql_fetch_array($q3ok);
		if ($kw1 != '') {
			$kw1 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw1);
			$kw1 = str_replace(",","|",$kw1);
			$kw1 = trim($kw1);
			if ($kw1 != '') {
//				$keywords .=$kw1."|";
				$kw1_arr = explode("|",$kw1);
				foreach ($kw1_arr as $k=>$v) {
					$v = trim($v);
					$keywords .=$v."---".strlen($v)."|";	
				}
			}
			
		}
		if ($kw2 != '') {
			$kw2 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw2);
			$kw2 = str_replace(",","|",$kw2);
			$kw2 = trim($kw2);
			if ($kw2 != '') {
//				$keywords .=$kw2."|";	
				$kw2_arr = explode("|",$kw2);
				foreach ($kw2_arr as $k=>$v) {
					$v = trim($v);
					$keywords .=$v."---".strlen($v)."|";	
				}	
			}
		}
		if ($kw3 != '') {
			$kw3 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw3);
			$kw3 = str_replace(",","|",$kw3);
			$kw3 = trim($kw3);
			if ($kw3 != '') {
//				$keywords .=$kw3."|";	
				$kw3_arr = explode("|",$kw3);
				foreach ($kw3_arr as $k=>$v) {
					$v = trim($v);
					$keywords .=$v."---".strlen($v)."|";	
				}		
			}
		}
		if ($kw4 != '') {
			$kw4 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw4);
			$kw4 = str_replace(",","|",$kw4);
			$kw4 = trim($kw4);
			if ($kw4 != '') {
//				$keywords .=$kw4."|";
				$kw4_arr = explode("|",$kw4);
				foreach ($kw4_arr as $k=>$v) {
					$v = trim($v);
					$keywords .=$v."---".strlen($v)."|";	
				}	
			}
		}
		if ($kw5 != '') {
			$kw5 = str_replace(array("\r\n", "\r", "\n", "\t"),"",$kw5);
			$kw5 = str_replace(",","|",$kw5);
			$kw5 = trim($kw5);
			if ($kw5 != '') {
//				$keywords .=$kw5."|";	
				$kw5_arr = explode("|",$kw5);
				foreach ($kw5_arr as $k=>$v) {
					$v = trim($v);
					$keywords .=$v."---".strlen($v)."|";	
				}
			}
		}
		if (substr($keywords,-1) == '|') {
			$keywords = substr($keywords,0,-1);
		}
		return $keywords;
	}
	function getBuyAssignedCat($pid) {
		$query3 = "SELECT buycat from buy_categories_pid where pid = '".$pid."'";
		if(!$q4ok = mysql_db_query($this->db, $query3, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q4ok)>0) {
			list($buycat) = mysql_fetch_array($q4ok);	
		}
		else {
			$cattree = $this->efc->getCatTree($pid);
			foreach ($cattree['catid'] as $k=>$v) {
				$query3 = "SELECT buycat from buy_categories where catid = '".$v."'";
				if(!$q4ok = mysql_db_query($this->db, $query3, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($q4ok)>0) {
					list($buycat) = mysql_fetch_array($q4ok);	
					break;
				}
			}
		}
		return $buycat;
	}
	function genRandomString() {
	    $length = 10;
	    $characters = "0123456789abcdefghijklmnopqrstuvwxyz";
	    $string = "";    
	
	    for ($p = 0; $p < $length; $p++) {
	        $string .= $characters[mt_rand(0, strlen($characters))];
	    }
	
	    return $string;
	}
	function uploadFile($filename,$type) {
		$local_file = '../feeds/'.$filename;
		if ($type == 'base') {
			$ftp_path = '/Inventory/'.$filename;
		}
		if ($type == 'new') {
			$ftp_path = '/NewSku/'.$filename;
		}
		if ($type == 'shipping') {
			$ftp_path = '/Fulfillment/'.$filename;
			$local_file = '../shipping/'.$filename;
		}
		$conn_id = ftp_connect($this->ftp_url, 21) or die ("Cannot connect to host");
		 
		// send access parameters
		ftp_login($conn_id, $this->ftp_usr, $this->ftp_pw) or die("Cannot login");
		 
		// turn on passive mode transfers (some servers need this)
		// ftp_pasv ($conn_id, true);
	/*	 print_r("dir---".ftp_pwd($conn_id));
		 ftp_chdir($conn_id,"Inventory");
		 print_r("dir---".ftp_pwd($conn_id));*/
		// perform file upload
		$upload = ftp_put($conn_id, $ftp_path, $local_file, FTP_BINARY);
		
		// check upload status:
//		print (!$upload) ? 'Cannot upload' : 'Upload complete';
//		print "\n";
		// close the FTP stream
		ftp_close($conn_id);
	}
	function uploadBaseFeed() {
		$query = "select reportid,filename from buy_feed_report where type = 'BASE' and complete = '0'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($feedreportid,$filename) = mysql_fetch_array($q2ok);
			$this->uploadFile($filename,'base');
			
		}
	}
	function uploadNewFeed() {
		$query = "select reportid,filename from buy_feed_report where type = 'NEW' and complete = '0'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($feedreportid,$filename) = mysql_fetch_array($q2ok);
			$this->uploadFile($filename,'new');
			
		}
	}
	function uploadShippingFeed($filename) {
		$this->uploadFile($filename,'shipping');
	}
	function getBaseFeedRespons($filename) {
		return $this->getFeedRespons($filename,'base');
	}
	function getNewFeedRespons($filename) {
		return $this->getFeedRespons($filename,'new');
	}
	function getShippingFeedRespons($filename) {
		return $this->getFeedRespons($filename,'shipping');
	}
	function getFeedRespons($filename,$type) {
		$read_tmp = false;
		$count = 0;
		$message = '';
		$conn_id = ftp_connect($this->ftp_url, 21) or die ("Cannot connect to host");
		ftp_login($conn_id, $this->ftp_usr, $this->ftp_pw) or die("Cannot login");
		if ($type == 'new') {
			$files = ftp_nlist($conn_id,"NewSku/Archive");
		}elseif ($type == 'base') {
			$files = ftp_nlist($conn_id,"Inventory/Archive");
		}elseif ($type == 'shipping') {
			$files = ftp_nlist($conn_id,"Fulfillment/Archive");
		}
		if (count($files)>0) {
			foreach ($files as $k=>$v) {
				if ($v == $filename.".resp") {
					
					if ($type == 'new') {
						$target = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename.".resp", "w");
					}elseif ($type == 'base') {
						$target = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename.".resp", "w");
					}elseif ($type == 'shipping') {
						$target = fopen($this->ROOT_DIR."/mgt/buy/shipping/".$filename.".resp", "w");
					}
					
//					ftp_fget($conn_id, $target,"Inventory/Archive/".$filename.".resp",FTP_BINARY);
					if ($type == 'new') {
						ftp_fget($conn_id, $target,"NewSku/Archive/".$filename.".resp",FTP_BINARY);
					}elseif ($type == 'base') {
						ftp_fget($conn_id, $target,"Inventory/Archive/".$filename.".resp",FTP_BINARY);
					}elseif ($type == 'shipping') {
						ftp_fget($conn_id, $target,"Fulfillment/Archive/".$filename.".resp",FTP_BINARY);
					}
					fclose($target);
					$read_tmp = true;
				}
			}
		}
		ftp_close($conn_id);
		return $read_tmp;
	}
	function getFeedFile($filename,$type) {
		$read_tmp = false;
		$count = 0;
		$message = '';
		$conn_id = ftp_connect($this->ftp_url, 21) or die ("Cannot connect to host");
		ftp_login($conn_id, $this->ftp_usr, $this->ftp_pw) or die("Cannot login");
		if ($type == 'new') {
			$files = ftp_nlist($conn_id,"NewSku/Archive");
		}elseif ($type == 'base') {
			$files = ftp_nlist($conn_id,"Inventory/Archive");
		}elseif ($type == 'shipping') {
			$files = ftp_nlist($conn_id,"Fulfillment/Archive");
		}
		if (count($files)>0) {
			foreach ($files as $k=>$v) {
				if ($v == $filename) {
					
					if ($type == 'new') {
						$target = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename, "w");
					}elseif ($type == 'base') {
						$target = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename, "w");
					}elseif ($type == 'shipping') {
						$target = fopen($this->ROOT_DIR."/mgt/buy/shipping/".$filename, "w");
					}
					
//					ftp_fget($conn_id, $target,"Inventory/Archive/".$filename.".resp",FTP_BINARY);
					if ($type == 'new') {
						ftp_fget($conn_id, $target,"NewSku/Archive/".$filename,FTP_BINARY);
					}elseif ($type == 'base') {
						ftp_fget($conn_id, $target,"Inventory/Archive/".$filename,FTP_BINARY);
					}elseif ($type == 'shipping') {
						ftp_fget($conn_id, $target,"Fulfillment/Archive/".$filename,FTP_BINARY);
					}
					fclose($target);
					$read_tmp = true;
				}
			}
		}
		ftp_close($conn_id);
		return $read_tmp;
	}
	function parseFeedRespons($filename,$type) {
		
//		$file = fopen(ROOT_DIR."/mgt/buy/feeds/".$filename.".resp", "r") or exit("Unable to open file!");
		//Output a line of the file until the end is reached
		if ($type == 'new') {
			$file = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename.".resp", "r") or exit("Unable to open file!");
		}elseif ($type == 'base') {
			$file = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename.".resp", "r") or exit("Unable to open file!");
		}elseif ($type == 'shipping') {
			$file = fopen($this->ROOT_DIR."/mgt/buy/shipping/".$filename.".resp", "r") or exit("Unable to open file!");
		}
		
		$tmp = 0;
		$message = array();
		while(!feof($file))
		{
			$str = fgets($file);
			$m_text = explode("\t",$str);
			if ($type == 'new' || $type == 'base') {
				if (count($m_text) == 1) {
					if ($m_text[0] != '') {
						$message[] = $m_text;							
					}
				}	
				else {
					$message[] = $m_text;	
				}
			}
			/*elseif ($type == 'base') {
				if ($m_text[0] != '') {
						$message[] = $m_text;							
					}	
			}*/
			else {
				if (count($m_text)>1) {
					$message[] = $m_text;	
				}
			}
		}
		fclose($file);
		return $message;
	}
	function getBuyCatTree($parentId=0) {
		$categories = array();
		$query3 = "SELECT id,buycat,catname,parentid from buy_categories_api where parentid = '$parentId' order by catname";
		if(!$q4ok = mysql_db_query($this->db, $query3, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q4ok)>0) {
			while( (list($id,$buycat,$catname,$parentid) = mysql_fetch_array($q4ok)))
			{
				$cat['id'] = $id;
				$cat['catname'] = $catname;
				$cat['buycat'] = $buycat;
				$cat['parentid'] = $parentid;
				$cat['subcategories'] = $this->getBuyCatTree($id);
				array_push($categories,$cat);
			}
		}
		return $categories;
	}
	function getBuyCategories($parentId) {
		$categories = array();
		$query3 = "SELECT id,buycat,catname,parentid from buy_categories_api where parentid = '$parentId' order by catname";
		if(!$q4ok = mysql_db_query($this->db, $query3, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q4ok)>0) {
			while( (list($id,$buycat,$catname,$parentid) = mysql_fetch_array($q4ok)))
			{
				$cat['id'] = $id;
				$cat['catname'] = $catname;
				$cat['buycat'] = $buycat;
				$cat['parentid'] = $parentid;
				array_push($categories,$cat);
			}
		}
		return $categories;
	}
	function getBuyQty ($pid,$campid,$efc) {
		if ($campid == '') {
			return '0';
		}
		$query = "select 
			buy_campaigns.quantity, 
			buy_campaigns.qty_control,
			buy_campaigns.min_qty, 
			product_list.kit, 
			product_list.am_qty
			from product_list, buy_campaigns
			where 
			buy_campaigns.id='$campid' AND 
			product_list.id = '".$pid."'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($usequantity, $qty_control, $min_qty, $kit,$am_qty) = mysql_fetch_array($q2ok);
		if(intval($kit) == 0)
		{
			if($usequantity == "-1")  // -1 => physical + dropship - onhold  - committed a.k.a. instock + dropship
			{
		       	$invinfo = $efc->getInventoryInfo2($pid);
		        $query = "select dropship from product_list where id = '$pid'";
		        if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		        list($dropship) = mysql_fetch_array($qok);
		        	
		       	if($dropship == 1) // then we count sourcing
		       	  	$sourcing_stock = $efc->getInventorySourcing($pid);
		       	else 
		       	 	$sourcing_stock = 0;
		        	
		       	$available = $invinfo['instock'] - $invinfo['onhold'] - $invinfo['committed'] + $sourcing_stock;
		       	if($qty_control > 0){$available = $available * ($qty_control / 100);}
		        	
		       	$quantity = $available;
			}
		    else if($usequantity == "-2") // -2 => physical
		    {
		    	$invinfo = $efc->getInventoryInfo2($pid);
		        $available = $invinfo['instock'];
		        if($qty_control > 0){$available = $available * ($qty_control / 100);}
		        	
		        $quantity = $available;
			}
		    else if($usequantity == "-3") // -3 => physical - onhold - committed a.k.a. instock
		    {
		    	$invinfo = $efc->getInventoryInfo2($pid);
		        $available = $invinfo['instock'] - $invinfo['onhold'] - $invinfo['committed'];
		        if($qty_control > 0){$available = $available * ($qty_control / 100);}
		        	
		        $quantity = $available;
			}
		    else if($usequantity == "-4")// -4 => physical + dropship 
		    {
		    	$invinfo = $efc->getInventoryInfo2($pid);
		        	
		        $query = "select dropship from product_list where id = '$pid'";
		        if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		        list($dropship) = mysql_fetch_array($qok);
		        	
		        if($dropship == 1) // then we count sourcing
		        	$sourcing_stock = $efc->getInventorySourcing($pid);
				else 
		        	$sourcing_stock = 0;
		        	
				$available = $invinfo['instock'] + $sourcing_stock;
		        if($qty_control > 0){$available = $available * ($qty_control / 100);}
		        	
		        $quantity = $available;
			}
			else if($usequantity == "-5")// -5 => amazon quantity
			{
				$query = "select am_qty, rtdsinv, amazon_realtime from product_list where id = '$pid'";
				if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($am_qty, $rtdsinv, $amazon_realtime) = mysql_fetch_array($q4ok);
				
				if(intval($amazon_realtime) == 1)
				{
					$invinfo = $efc->getInventoryInfo2($pid);
		        	$available = $invinfo['instock'] - $invinfo['onhold'] - $invinfo['committed'];
				}
				else if($rtdsinv == 1)
				{
					$query = "select sum(qty) from product_sourcing where pid = '$pid' and useinv = '1'";
					if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($dsinv) = mysql_fetch_array($q4ok);
					
					if($dsinv == "")
						$available = "0";
					else 
						$available = intval($dsinv);
				}
				else
				{
					$available = $am_qty;
				}			
				//////////////////////////////////////////////////////////////////////////			
			
				if($qty_control > 0){$quantity = $available * ($qty_control / 100);}
				else $quantity = $available;
			}
			else if($usequantity == "-6")// SKU Level Inventory (if available) or available + dropship
			{
				$query = "select am_qty, rtdsinv, amazon_realtime from product_list where id = '$pid'";
				if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($am_qty, $rtdsinv, $amazon_realtime) = mysql_fetch_array($q4ok);
				
				if(intval($amazon_realtime) == 1)
				{
					$invinfo = $efc->getInventoryInfo2($pid);
		        	$available = $invinfo['instock'] - $invinfo['onhold'] - $invinfo['committed'];
				}
				else if($rtdsinv == 1)
				{
					$query = "select sum(qty) from product_sourcing where pid = '$pid' and useinv = '1'";
					if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($dsinv) = mysql_fetch_array($q4ok);
					
					if($dsinv == "")
						$available = "0";
					else 
						$available = intval($dsinv);
				}
				else if(intval($am_qty) > 0) 
				{
					$available = $am_qty;
				}
				else if(intval($am_qty) == -1)
				{
					$available = -1;
				}
				else
				{
					$invinfo = $efc->getInventoryInfo2($pid);
			        $query = "select dropship from product_list where id = '$pid'";
			        if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			        list($dropship) = mysql_fetch_array($qok);
			        	
			       	if($dropship == 1) // then we count sourcing
			       	  	$sourcing_stock = $efc->getInventorySourcing($pid);
			       	else 
			       	 	$sourcing_stock = 0;
			        	
			       	$available = $invinfo['instock'] - $invinfo['onhold'] - $invinfo['committed'] + $sourcing_stock;
			       	
			       	//echo "AVAILABLE: $available SOURCING: $sourcing_stock\n";
			       	
			       	if($qty_control > 0){$available = $available * ($qty_control / 100);}
			        	
			       	$quantity = $available;
				}			
				//////////////////////////////////////////////////////////////////////////			
			
				if($qty_control > 0){$quantity = $available * ($qty_control / 100);}
				else $quantity = $available;
			}
		    else 
		    {
		    	$quantity = $quantity;
			}
		}
		else 
		{
			$quantity = $am_qty;
		}
		if(intval($min_qty) > 0)
		{
			echo "... min qty set to => $min_qty (current qty: $quantity\n";
			
			if(intval($quantity) > intval($min_qty))
			{
				$quantity = intval($quantity);
			}
			else 
			{
				$quantity = 0;
				
				echo "... zeroed out qty because it was too low\n";
			}
		}
		else 
		{
			if(intval($quantity) < 0)
				$quantity = 0;
			else 
				$quantity = intval($quantity);
		}
		
//		echo "PID=".$pid."--------".$quantity."\n";
		return $quantity;
	}
	function getBuyPrice($pid,$campid) {
		
		$query = "select pricelevel from buy_campaigns where id = '$campid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q2ok)>0) {
			list($plevel) = mysql_fetch_array($q2ok);	
		}
		else {
			$plevel = 7;
		}
		
		
		$query = "select price_level".$plevel." from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		
		if (mysql_num_rows($q2ok) == 0) {
			$prod_price = number_format(9999.99,2,'.','');
		}
		else {
			list($prod_price) = mysql_fetch_array($q2ok);
			if ($prod_price <= 0) {
				$alt_sku_flag = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG");
				$alt_sku_parent = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT");
				$alt_sku_parentid = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID");
				
				$q = "SELECT text_short FROM custom_values WHERE cfid='$alt_sku_flag' AND pid='".$pid."'";
				if(!$q98ok = mysql_db_query($this->db, $q, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($is_alt_sku) = mysql_fetch_array($q98ok);
				if ($is_alt_sku == 1) {
					$qx = "SELECT text_short FROM custom_values WHERE cfid='$alt_sku_parentid' AND pid='".$pid."'";
					if(!$q98okx = mysql_db_query($this->db, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($parent_id) = mysql_fetch_array($q98okx);

					$queryx = "select price_level".$plevel." from product_prices where id = '$parent_id'";
					if(!$q2okx = mysql_db_query($this->db, $queryx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($prod_price) = mysql_fetch_array($q2okx);
				}
			}
		}
		return $prod_price;
	}
	function getOpenOrders() {
		$read_tmp = false;
		$count = 0;
		$message = '';
		$conn_id = ftp_connect($this->ftp_url, 21) or die ("Cannot connect to host");
		ftp_login($conn_id, $this->ftp_usr, $this->ftp_pw) or die("Cannot login");
		$files = ftp_nlist($conn_id,"Orders");
		
		if (count($files)>0) {
			foreach ($files as $k=>$v) {
				if (preg_match('/.*\.txt/', $v) > 0) {
					if (!file_exists($this->ROOT_DIR."/mgt/buy/orders/".$v)) {
						$target = fopen($this->ROOT_DIR."/mgt/buy/orders/".$v, "w");
						ftp_fget($conn_id, $target,"Orders/".$v,FTP_BINARY);
						fclose($target);
						$read_tmp = true;
					}
				}
			}
		}
		ftp_close($conn_id);
		return $read_tmp;
	}
	function parseOpenOrders() {
		$message = array();
		if ($handle = opendir($this->ROOT_DIR."/mgt/buy/orders/")) {
		   
		    while (false !== ($file = readdir($handle))) {
		       if (is_file($this->ROOT_DIR."/mgt/buy/orders/".$file)) {
					$file = fopen($this->ROOT_DIR."/mgt/buy/orders/".$file, "r") or exit("Unable to open file!");
					//Output a line of the file until the end is reached
					$m = array();
					while(!feof($file))
					{
						$str = fgets($file);
						$m_text = explode("\t",$str);
						if (count($m_text)>1) {
							$m[] = $m_text;	
						}
					}
					fclose($file);
					$message[] = $m;
		       }
		    }
		    closedir($handle);
		}
		return $message;
	}
}
?>