<?php
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;
$action = $_POST['action'];
if (strpos($referer, '/customer/') == true)
{
	$referer = $BASE_M_URL . '/customer/history.phtml';
}
elseif (!isset($referer) || $referer == '') 
{
	$referer = $_SERVER['HTTP_REFERER'];
}

if($action == "login")
{
	if ($cclass->AttempLogin($_POST['email'], $_POST['password'], $errormsg))
    {
		if (isset($_SESSION['return_checkout']))
		{
	    	$sc->redirectUrl($_SESSION['return_checkout']);
	    	exit;
		}
	   	$sc->redirectUrl($referer);
    }else
    {
		$loginerrormsg = "<font size=3 color='#ff0000'><B>Login failed.  Username and/or Password is incorrect.</B></font>";
	}
}

if ($action == 'create_account') 
{
	if ($cclass->sanitizeInput($_POST['zone_country_id']) == 'US')
	{
		$_POST['state'] = $_POST['usa_state'];	
	}
	
	$res = $cclass->createAccount();
     if($res != 'error') 
     {
     	if (isset($_POST["email"]) && !empty($_POST["email"]))
     	{
			// add email to inboxair.com
     		$cclass->addCustomerToNewsletter($cclass->sanitizeInput($_POST["email"]));
     	}

     	// when a new customer signs up for an account, a welcome letter should be sent
		$q_email = "SELECT subject, body
					FROM email_templates
					WHERE id = '48'
					AND divid = '0'
					LIMIT 1";
		if(!$qok_email = mysql_db_query($DB, $q_email, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list ($template_subject, $template_body) = mysql_fetch_array($qok_email);
		     	
		$template_body = str_replace('#bill2name#',$sc->sanitizeInput($_POST['fname']),$template_body);
		
     	REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");
		$mail = new PHPMailer();
		$mail->do_debug = 10;
		$mail->SMTPDebug = true;
		$mail->IsSMTP(); // telling the class to use SMTP
		$mail->Host = $efc->getConfigValue("Email Settings", "SMTP"); // SMTP server
		
		if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
		{
			$mail->SMTPAuth = true;
			$mail->AuthType = "";//CRAM-MD5
			$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
			$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
		}
		else 
		{
			$mail->SMTPAuth = false;
		}
					
		$mail->From     = $efc->getConfigValue("Email Settings", "FROMADDR");
		$mail->FromName = $efc->getConfigValue("Email Settings", "FROMNAME");;
		$mail->AddAddress($sc->sanitizeInput($_POST['email']));
		$mail->IsHTML(true);	
		$mail->Subject = $template_subject;
		$mail->Body = html_entity_decode($template_body);
		$mail->Send();
     	
     	if($cclass->AttempLogin($cclass->sanitizeInput($_POST["email"]), $cclass->sanitizeInput($_POST["password"]), $errormsg))
        {
			if (isset($_SESSION['return_checkout']))
			{
		    	header('Location: ' . $_SESSION['return_checkout']);
				exit;			
			}
	    	header('Location: ' . $referer);
        }
     }else
    {
		$loginerrormsg = "<font size=3 color='#ff0000'><B>Signup failed.This email address is being used by another user. <br>Please add a unique e-mail address to your record.</B></font>";
	}
}

if($_SESSION["acctid"] != "")
{
    Header("Location: " . $BASE_M_URL . "/customer/history.phtml");
    exit;
}

// request login as affiliate
if (isset($_GET['login_as_affiliate']) && !empty($_GET['login_as_affiliate']))
{
	$login_as_affiliate = (int) $_GET['login_as_affiliate'];
	// check if is admin and logged in
	if (isset($_SESSION['ID']) && !empty($_SESSION['ID']) && 
		isset($_SESSION['USERTYPE']) && !empty($_SESSION['USERTYPE']))
	{
		if ($cclass->loginAsAffiliate($login_as_affiliate) == true)
	    {
	    	$sc->redirectUrl($BASE_M_URL . '/customer/history.phtml');
	    }
	    else 
	    {
		   	$sc->redirectUrl($BASE_M_URL . '/customer/default.phtml');
	    }
	}
	else 
	{
	   	$sc->redirectUrl($BASE_M_URL . '/customer/default.phtml');
	}
}

include($ROOT_DIR."/m/include/header.phtml");
?>


<script src="/js/account_validation.js" async="" type="text/javascript"></script>
<?php include($ROOT_DIR."/m/include/top.phtml"); ?>
<?php include($ROOT_DIR."/m/include/customer_default.phtml"); ?>
<?php include($ROOT_DIR."/m/include/footer.phtml"); ?>
