<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$query = "select step from company_orderflow where status='Shipped'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
list($step) = mysql_fetch_array($qok);
?>
<B>Last 10 Shipped Orders</B><BR>
<table width=100%>
<tr bgcolor="#eeeeee">
	<td>Invoice ID</td>
	<td>Order Date</td>
	<td>Ship2Name</td>
	<td>Total</td>
</tr>
<?
$query = "SELECT customer_orders.orderid,customer_orders.invoiceid,customer_orders.orderdate,customer_orders.ship2name,customer_orders.total 
			FROM customer_orders,customer_order_lines WHERE 
					customer_orders.status='$step' and 
					customer_orders.wholesale='0' and 
					customer_orders.orderid=customer_order_lines.orderid and 
					customer_order_lines.prodid='".$pid."' 
			order by customer_orders.orderdate DESC limit 0,10";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
while(list($orderid,$invoiceid, $orderdate, $ship2name, $total) = mysql_fetch_array($qok))
{
	?>
	<tr>
		<td>
			<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?on=<?=$orderid;?>&inwin=1', 'View Order ')">
				<?=$invoiceid;?>
			</a>
		</td>
		<td><?=date("m/d/Y H:i:s", $orderdate);?></td>
		<td><?=$ship2name;?></td>
		<td><?=number_format($total, 2);?></td>
	</tr>
	<?
}
?>