<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($action == "AddSourcing")
{
	$tstamp = date("Y-m-d H:i:s", time());
	$query = "SELECT sid FROM product_sourcing WHERE distid='".$vendorid."' AND pid='".$id."'";
	if(!$qokx = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
	list($sid) = mysql_fetch_array($qokx);
	
	if(intval($sid )> 0)
	{
		$query = "update product_sourcing set distid = '$vendorid', manpart = '$manpart', distsku = '$distsku',
					cost = '$cost', qty = '$distqty', tstamp = '$tstamp', pid = '$id', stealth = '$stealth', oprice = '$oprice' where sid = '$sid'";
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		
		$vendorname = $efc->getVendorName($vendorid);
		$msg = "Sourcing Updated for $vendorname COST: $cost QTY: $distqty DISTSKU: $distsku MANPART: $manpart";
		$efc->logAction("SUCCESS", "1", $id, $msg, $msg);
	}
	else 
	{
		$query = "insert into product_sourcing(distid, manpart, distsku, cost, qty, tstamp, pid, stealth, oprice) ";
		$query .= "values('$vendorid', '$manpart', '$distsku', '$cost', '$distqty', '$tstamp', '$id', '$stealth', '$oprice') ";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		
		$vendorname = $efc->getVendorName($vendorid);
		$msg = "Sourcing Added for $vendorname COST: $cost QTY: $distqty DISTSKU: $distsku MANPART: $manpart";
		$efc->logAction("SUCCESS", "1", $id, $msg, $msg);
		
	}
	?>
	<TR>
		<td align=left height=21><?=$efc->getVendorName($vendorid);?></TD>
		<td align=left><?=$distsku;?></td>
		<td align=center><?=$distqty;?></td>
		<td align=right><?=number_format($cost, 2);?></td>
		<td align=center><?=$tstamp?></td>
	</TR>
	<?
}
?>