<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

echo "$pid~";

if ($amazon_account == 'max') {
	$status = $efc->getConfigValue("AmazonFBAMAX", "NEW_ORDER_STATUS");
}
elseif ($amazon_account == 'blue') {
	$status = $efc->getConfigValue("AmazonFBABLUE", "NEW_ORDER_STATUS");
}
else {
	$status = $efc->getConfigValue("AmazonFBA", "NEW_ORDER_STATUS");	
}
$query = "SELECT vendor_pos.poid,vendor_pos.vendorid,vendor_pos.invoiceid,vendor_pos.sub_stamp,vendor_po_lines.qty_ordered,vendors.vendorname FROM vendor_pos,vendor_po_lines,vendors WHERE vendor_po_lines.poid = vendor_pos.poid AND vendor_po_lines.pid='".$pid."' AND vendors.vendorid=vendor_pos.vendorid ORDER BY sub_stamp DESC limit 1,10";
   if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
   while(list($poid,$vendorid,$invoiceid,$sub_stamp,$qty_ordered,$vendorname) = mysql_fetch_array($qok)) {
       ?>
       <tr>
	   <td><a id="viewpo_<?=$poid.'_'.$pid?>" href="javascript:e2window('/mgt/vn/viewpo.phtml?poid=<?=$poid?>&inwin=1', 'View PO: <?=$poid?>','viewpo_<?=$poid.'_'.$pid?>');"><?=$poid?></a>&nbsp;&nbsp;&nbsp;</td>
	   <td><?=$vendorname?>&nbsp;&nbsp;&nbsp;</td>
	   <td><?=$invoiceid?>&nbsp;&nbsp;&nbsp;</td>
	   <td><?=date("m-d-Y",$sub_stamp)?>&nbsp;&nbsp;&nbsp;</td>
	   <td><?=$qty_ordered?>&nbsp;&nbsp;&nbsp;</td>
       </tr>
       <?
   }
?>