<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if ($action == 'get_lists') {
	?>
	<table border=0 cellpadding=3 cellspacing=0>
		<tr bgcolor="#eeeeee">
			<td class="g1 align=center"><B>List</B></td>
			<td class="g1"><div style="text-align:center"><B>Name</B></div></td>
			<td class="g1" align=center><B>Remove</B></td>
		</tr>		
		
		<?
		$query = "select lists.lid, lists.list_title from lists, list_products where lists.lid = list_products.lid and list_products.pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		while(list($lid, $listname) = mysql_fetch_array($qok))
		{
		?>
			<tr>
				<td><div align=center><?=$lid;?></td>
				<td><div align=center><?=$listname;?></td>
				<td><div align=center><a href="javascript:confirmDeleteList('Are you sure you want to delete this sku from the list?', '<?=$lid;?>','<?=$id;?>');"><img src="/mgt/images/del.gif" border=0 align="middle"> Remove</a></td>
			</tr>
		<?
		}
		?>
	</table>
	
	<?
}
if ($action == 'add_item') {
	if($efc->inList($id, $lid) <= 0)
	{
		$query = "delete from list_products where lid = '$lid' and pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		
		$query = "insert into list_products(lid, pid) value('$lid', '$id')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		
		$query = "select list_title from lists where lid = '$lid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		list($list_title) = mysql_fetch_array($qok);
		
		$efc->logAction("SUCCESS", "1", $id, "SKU Added to List: $list_title", "SKU Added to List: $list_title"); 
	}
	else 
	{
		$efc->logAction("FAILURE", "1", $id, "$id is already in a list", "$id is already in a list"); 
	}
}
if($action == "DeleteList")
{
	$query = "delete from list_products where lid = '$lid' and pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
	
	$query = "select list_title from lists where lid = '$lid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
	list($list_title) = mysql_fetch_array($qok);

	$efc->logAction("SUCCESS", "1", $id, "SKU Deleted from List: $list_title", "SKU Deleted from List: $list_title"); 
}
?>