<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

echo "$pid~";

if ($amazon_account == 'max') {
	$status = $efc->getConfigValue("AmazonFBAMAX", "NEW_ORDER_STATUS");
}
elseif ($amazon_account == 'blue') {
	$status = $efc->getConfigValue("AmazonFBABLUE", "NEW_ORDER_STATUS");
}
else {
	$status = $efc->getConfigValue("AmazonFBA", "NEW_ORDER_STATUS");	
}

?>
<B>Last 10 FBA Orders</B><BR>
<table width=100%>
<tr bgcolor="#eeeeee">
	<td>Invoice ID</td>
	<td>Order Date</td>
	<td>Ship2Name</td>
	<td>Total</td>
</tr>
<?
$query = "select customer_orders.invoiceid, customer_orders.orderid, customer_orders.orderdate, customer_orders.ship2name, customer_orders.total 
			from customer_orders, customer_order_lines where 
			customer_orders.status = '$status' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_order_lines.prodid = '$pid' 
			order by orderdate desc limit 0, 10";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
while(list($invoiceid, $orderid, $orderdate, $ship2name, $total) = mysql_fetch_array($qok))
{
	?>
	<tr>
		<td>
			<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?on=<?=$orderid;?>&inwin=1', 'View Order ')">
				<?=$invoiceid;?>
			</a>
		</td>
		<td><?=date("m/d/Y H:i:s", $orderdate);?></td>
		<td><?=$ship2name;?></td>
		<td><?=number_format($total, 2);?></td>
	</tr>
	<?
}
?>