<table>
    <tr><td style="border-bottom:1px solid #808080" colspan="5">FBA Sales History</td></tr>
    <tr bgcolor="#eeeeee">
		<td>&nbsp;</td>
		<td>7 Days</td>
		<td>14 Days</td>
		<td>30 Days</td>
		<td>90 Days</td>
	</tr>
	<tr>
		<td>
			<input type="hidden" name="showing" value="0" id="fbaordersshowing-<?=$skulist['id'][$xx];?>">
			<a href="javascript:void(0);" onclick="showFBAOrders('<?=$skulist['id'][$xx];?>','<?=$amazon_account?>');" border=0>
				<img src="/mgt/images/plus.gif" id="fbaordersimg-<?=$skulist['id'][$xx];?>">
			</a>
		</td>
		<?
		if ($amazon_account == 'regular') {
			$status = $efc->getConfigValue("AmazonFBA", "NEW_ORDER_STATUS");
		}
		elseif ($amazon_account=='max') {
			$status = $efc->getConfigValue("AmazonFBAMAX", "NEW_ORDER_STATUS");
		}
		elseif ($amazon_account=='blue') {
			$status = $efc->getConfigValue("AmazonFBABLUE", "NEW_ORDER_STATUS");
		}
		elseif ($amazon_account=='ace') {
			$status = $efc->getConfigValue("AmazonFBAACE", "NEW_ORDER_STATUS");
		}
		else {
			$status = $efc->getConfigValue("AmazonFBA", "NEW_ORDER_STATUS");
		}
		$odate = time() - (86400 * 7);
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
					orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$skulist['id'][$xx]."' AND
					customer_orders.orderid = customer_order_lines.orderid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		list($numorders) = mysql_fetch_array($qok);
		?>
		<td><?=$numorders;?></td>

		<?
		$odate = time() - (86400 * 14);
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
					orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$skulist['id'][$xx]."' AND
					customer_orders.orderid = customer_order_lines.orderid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		list($numorders) = mysql_fetch_array($qok);
		?>
		<td><?=$numorders;?></td>

		<?
		$odate = time() - (86400 * 30);
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
					orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$skulist['id'][$xx]."' AND
					customer_orders.orderid = customer_order_lines.orderid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		list($numorders) = mysql_fetch_array($qok);
		?>
		<td><?=$numorders;?></td>
		<?
		$odate = time() - (86400 * 90);
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
					orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$skulist['id'][$xx]."' AND
					customer_orders.orderid = customer_order_lines.orderid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		list($numorders) = mysql_fetch_array($qok);
		?>
		<td><?=$numorders;?></td>
	</tr>
	<tr>
		<td colspan=5><div id="fbaorders-<?=$skulist['id'][$xx];?>">&nbsp;</div></td>
	</tr>
</table>