<?
$id = $skulist['id'][$xx]
?>

<script>
changeAvgCostSource('<?$id?>');
</script>
<table width=95% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td>
	    
		<B>AutoPricer Details for PID: <?=$id;?></B>
		
		<?
		$aggressive_factor=$minimum_profit= $profit_type=$use_avgcost= $maximum_profit= $max_profit_type= $commission=$ceiling_price=$fight_amazon= $add_fba_cost= $minprice = '';
		$query = "select aggressive_factor, minimum_profit, profit_type, use_avgcost, maximum_profit, max_profit_type, commission, ceiling_price, fight_amazon, add_fba_cost, minprice from autoprice where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			echo "<BR><BR><B><font color='#ee0000'>No SKU Override found.  This sku will use the defaults in Site Config->AutoPricer</font></B><BR><BR>";
		}
		else
			list($aggressive_factor, $minimum_profit, $profit_type, $use_avgcost, $maximum_profit, $max_profit_type, $commission, $ceiling_price, $fight_amazon, $add_fba_cost, $minprice) = mysql_fetch_array($qok);
			
		if($Note != "")
		{
			echo "<BR><BR><B><font color='#ee0000'>$Note</font></B><BR><BR>";			
		}
		?>
		<table>
		<tr>
			<td align=right><div style="padding-top:3px"><B>Aggressive Factor:</B></div></td>
			<td>$ <input type="text" name="aggressive_factor_<?=$id?>" id="aggressive_factor_<?=$id?>" value="<?=$aggressive_factor;?>" class="formBox" style="width:75px;"></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align=right><div style="padding-top:3px"><B>Minimum Profit:</B></div></td>
			<td><input type="text" name="minimum_profit_<?=$id?>" id="minimum_profit_<?=$id?>" value="<?=$minimum_profit;?>" class="formBox" style="width:75px;"></td>
			<td>
			    <select name="profit_type_<?=$id?>" id="profit_type_<?=$id?>" class="formSelect">
					<option value="PERCENT" <?if($profit_type=="PERCENT") echo "SELECTED";?>>Percent</option>
					<option value="DOLLAR" <?if($profit_type=="DOLLAR") echo "SELECTED";?>>Dollar(s)</option>
				</select>
				<input type="checkbox" name="add_fba_cost_<?=$id?>" id="add_fba_cost_<?=$id?>" value="1" <?if($add_fba_cost == 1) echo "CHECKED";?>>In addition to FBA cost
			</td>
		</tr>
		
		<tr>
			<td align=right><div style="padding-top:3px"><B>Maximum Profit:</B></div></td>
			<td><input type="text" name="maximum_profit_<?=$id?>" id="maximum_profit_<?=$id?>" value="<?=$maximum_profit;?>" class="formBox" style="width:75px;"></td>
			<td>
				<select name="max_profit_type_<?=$id?>" id="max_profit_type_<?=$id?>" class="formSelect">
					<option value="PERCENT" <?if($max_profit_type=="PERCENT") echo "SELECTED";?>>Percent</option>
					<option value="DOLLAR" <?if($max_profit_type=="DOLLAR") echo "SELECTED";?>>Dollar(s)</option>
				</select>
			</td>
		</tr>	
		<tr>
			<td align=right><div style="padding-top:3px"><B>Commission:</B></div></td>
			<td><input type="text" name="commission_<?=$id?>" id="commission_<?=$id?>" value="<?=$commission;?>" class="formBox" style="width:75px;">%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align=right><div style="padding-top:3px"><B>Ceiling Price:</B></div></td>
			<td>$ <input type="text" name="ceiling_price_<?=$id?>" id="ceiling_price_<?=$id?>" value="<?=$ceiling_price;?>" class="formBox" style="width:75px;"></td>
			<td><input type="checkbox" name="fight_amazon_<?=$id?>" id="fight_amazon_<?=$id?>" value="1" <?if($fight_amazon == 1) echo "CHECKED";?>>Fight Amazon</td>
		</tr>		
		<tr>
			<td align=right><div style="padding-top:3px"><B>Min Price:</B></div></td>
			<td>$ <input type="text" name="minprice_<?=$id?>" id="minprice_<?=$id?>" value="<?=$minprice;?>" class="formBox" style="width:75px;"></td>
			<td>Lowest you will sell for (0.00 ignore)</td>
		</tr>		
		
		
		<tr>
			<td align=right><div style="padding-top:3px"><B>Use Average Cost:</B></div></td>
			<td>
				<select name="use_avgcost_<?=$id?>" id="use_avgcost_<?=$id?>" class="formSelect" onchange="changeAvgCostSource();">
					<option value="AVGCOST"   <?if($use_avgcost=="AVGCOST") echo "SELECTED";?>  >Avg Cost</option>
					<option value="WAREHOUSE" <?if($use_avgcost=="WAREHOUSE") echo "SELECTED";?>>Warehouse</option>
					<option value="VENDOR"    <?if($use_avgcost=="VENDOR") echo "SELECTED";?>   >Vendor</option>
				</select>
			</td>
			<td>
				<div id="warehouselist_<?=$id?>" style="display:none;">
				<?
				$query = "select avgcost_id from autoprice_extended where pid = '$id'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($avgcost_id) = mysql_fetch_array($qok);
				
				$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($config_key, $config_value) = mysql_fetch_array($qok))
				{
				?>
					<input type="radio" name="warehouseID_<?=$id?>" id="warehouseID_<?=$id?>" value="<?=$config_key;?>" <?if(($use_avgcost=="WAREHOUSE") && ($avgcost_id == $config_key)) echo "CHECKED";?>><?=$config_key;?> - <?=$config_value;?><BR>
				<?
				}
				?>
				</div>
								
				<div id="vendorlist_<?=$id?>" style="display:none;">
				<?
				$query = "select vendorid, vendorname from vendors where dropshipvendor = '1' order by vendorname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($vendorid, $vendorname) = mysql_fetch_array($qok))
				{
				?>
					<input type="radio" name="vendorID_<?=$id?>" id="vendorID_<?=$id?>" value="<?=$vendorid;?>" <?if(($use_avgcost=="VENDOR") && ($avgcost_id == $vendorid)) echo "CHECKED";?>><?=$vendorid;?> - <?=$vendorname;?><BR>
				<?
				}
				?>
				</div>

			</td>
		</tr>
                <?
                if($DB == 'butterfly') {
		    $batchid = $tstamp = $result ='';
                     $query = "select autoprice_batches.id, autoprice_batches.jobid, autoprice_batches.tstamp, autoprice_batches.status, autoprice_batches.numskus, autoprice_batches.pctcomplete ,autoprice_batches_skus.result
						from autoprice_batches, autoprice_batches_skus 
						WHERE 
						autoprice_batches.id = autoprice_batches_skus.apbid AND 
						autoprice_batches_skus.pid = '$id' AND autoprice_batches_skus.complete=1
						order by tstamp desc limit 1";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        list($batchid, $jobid, $tstamp, $status, $numskus, $pctcomplete,$result) = mysql_fetch_array($qok);
			
                        $query = "select lastupdate from autoprice WHERE pid = '$batchid'";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        list($lastupdate) = mysql_fetch_array($qok);
                ?>
                <tr>
                    <td><div style="padding-top:3px"><B>Last autoprice update:</B></div></td>
                    <td colspan="2">
                        <?
                        if($lastupdate>0) {
                            echo date('Y-m-d H:i:s',$lastupdate);
                        }
                        ?>
                    </td>
                </tr>
                 <tr>
                    <td><div style="padding-top:3px"><B>Last run:</B></div></td>
                    <td colspan="2">
                        <?=$tstamp?>
                    </td>
                </tr>
                 <tr>
                    <td><div style="padding-top:3px"><B>Result:</B></div></td>
                    <td colspan="2" id="autopricer_details_<?=$skulist['id'][$xx]?>">
                        <?=str_replace("\n", "<BR>", $result);?>
                    </td>
                </tr>
                <?}?>
		</table>
		<input type="button" name="Action" value="Update Autoprice Values" class="buttonItem" onclick="updateAutopricer('<?=$id?>')">
		<img src="/mgt/images/loading.gif" id="loading_autopricer_<?=$id?>" style="display:none" />
	</td>
</tr>
  <tr>
        <td align="left">
            <input type="button" name="Action" value="Amazon Price Flush" onclick="flushAmzPrice('<?=$skulist['id'][$xx]?>')" class="buttonItem">
        </td>
    </tr>
</table>