<?
$query = "select tstamp from amazon_sqs where asin='".$skulist['asin'][$xx]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
list($tstamp) = mysql_fetch_array($qok);
?>

<table cellpadding="2" cellpadding="2">
    <tr>
	<td colspan="8"><span style="font-size:12px;color:red;float:left;">Date: <?=date('m-d-Y H:i:s',$tstamp)?></span></td>
    </tr>
    <tr bgcolor="#eeeeee">
	<td>Seller</td>
	<td>Price</td>
	<td>Shipping</td>
	<td>Total</td>
	<td>Condition</td>
<!--	<td>FDBK %</td>
	<td>FeedbackCount</td>
	<td>Stock</td>-->
	<!--<td>Notes</td>-->
    </tr>
<?
$nr = 1;
$condition_tmp = 1;
$q = "SELECT sqs_id,asin,seller_id,item_condition,seller_positive_feedback_reating,seller_feedback_count,seller_shipping_availability_type,seller_listing_price,seller_shipping,seller_listing_price+seller_shipping as total,seller_is_fulfilled,seller_is_box_winner,seller_condition_notes FROM amazon_sqs_offers WHERE asin='".$skulist['asin'][$xx]."' and item_condition ='1' order by item_condition,total";
if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
while (list($sqs_id,$sqs_asin,$seller_id,$item_condition,$seller_positive_feedback_reating,$seller_feedback_count,$seller_shipping_availability_type,$seller_listing_price,$seller_shipping,$total_price,$seller_is_fulfilled,$seller_is_box_winner,$seller_condition_notes) = mysql_fetch_array($qok)) {
    $seller_is_fulfilled_text = 'No';
    $merchant_color = 'black';
    if($seller_is_fulfilled == '1') {
	$seller_is_fulfilled_text = 'Yes';
	$merchant_color = 'green';
    }
    $seller_is_box_winner_text = 'No';
    $box_winner = '';
    if($seller_is_box_winner == '1') {
	$seller_is_box_winner_text = 'Yes';
	$box_winner = 'text-decoration:underline';
    }
    $item_condition_text = 'Used';
    if($item_condition == '1') {
	$item_condition_text = 'New';
    }
    $qaa = "SELECT seller_name from amazon_sqs_sellers where seller_id='$seller_id' limit 1";
    if(!$qokaa = mysql_db_query($DB, $qaa, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
    list($seller_name) = mysql_fetch_array($qokaa);
    if($condition_tmp != $item_condition) {
	?>
    <tr>
	<td colspan="10" style="height:3px;line-height: 3px;border-bottom: 1px solid black;">&nbsp;</td>
    </tr>
	<?
    }
    $condition_tmp = $item_condition;
    ?>
    <tr class="sellerTr<?=$skulist['id'][$xx]?>" style="display:<?if($nr>10) echo "none";?>">
	<td style="color:<?=$merchant_color?>;<?=$box_winner?>"><?=$seller_name?></td>
	<td>$<?=$seller_listing_price?></td>
	<td>$<?=$seller_shipping?></td>
	<td><b>$<?=number_format($seller_shipping+$seller_listing_price,2)?></b></td>
	<td><?=$item_condition_text?></td>
<!--	<td><?=$seller_positive_feedback_reating?></td>
	<td><?=$seller_feedback_count?></td>
	<td><?
	    if(strtolower($seller_shipping_availability_type) ==='now') {
		?>
		<img src="/mgt/images/checkmark_green.gif" />
		<?
	    }
	    else {
		?>
		<img src="/mgt/images/red-x-icon.png" />
		<?
	    }
	?></td>-->
	<!--<td><?=$seller_condition_notes?></td>-->
    </tr>
    <?
    $nr++;
}
?>
    <tr>
	<td colspan="9" id="showMore<?=$skulist['id'][$xx]?>"><a href="javascript:showMoreOffers('<?=$skulist['id'][$xx]?>');">Show More</a></td>
    </tr>
</table>