<?
$query = "select sid, distid, distsku, cost, tstamp, qty, useinv from product_sourcing where pid = '".$skulist['id'][$xx]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
if(mysql_num_rows($qok) > 0)
{
    ?>
    <table style="border:1px #808080 solid;width:200px">
	<tr>
	    <td>Manual Cost</td>
	    <td><input type="text" name="manual_cost" id="manual_cost_<?=$skulist['id'][$xx];?>" class="formBox" style="width:55px;"></td>
	    <td><input type="button" value="Go" onclick="resetCostManual('<?=$skulist['id'][$xx];?>');" class="buttonItem"></td>
	</tr>
    </table>
    <B>Vendor Inventory</B>
    <TABLE style="border:1px #808080 solid;width:200px" id="results_<?=$skulist['id'][$xx];?>">
	<TR  bgcolor="#eeeeee">
		<TD align=center>Vendor</TD>
		<td align=center>SKU</td>
		<td align=center>Qty</td>
		<td align=center>Cost</td>
		<td align=center>Date</td>
		<td>&nbsp;</td>
	</TR>
	<?
	while(list($sid, $distid, $distsku, $cost, $tstamp, $qty, $useinv) = mysql_fetch_array($qok))
	{
	    ?>
	    <TR>
		<td align=left height=21><?=$efc->getVendorName($distid);?></TD>
		<td align=left><?=$distsku;?></td>
		<td align=center><?=$qty;?></td>
		<td align=right><?=number_format($cost, 2);?></td>
		<td align=center><?=date("m/d/Y", strtotime($tstamp));?></td>
		<td align=center><input type="button" value="Go" onclick="resetCost('<?=$skulist['id'][$xx];?>', '<?=$cost;?>');" class="buttonItem"></td>
	    </TR>
	    <?					
	}
	?>
	</TABLE>
	<?
}
else 
{
    ?>
    <B>Vendor Inventory</B>
    <TABLE style="border:1px #808080 solid;width:200px">
	<tr>
	    <td><I>Not Available</I></td>
	</tr>
    </table>
    <?
}
?>
<TABLE>
    <tr>
	<td><a href="javascript:void(0);" onclick="addSourcing('<?=$skulist['id'][$xx];?>')" id="addsourcing_<?=$skulist['id'][$xx];?>">Add Sourcing</a></td>
    </tr>
</table>