<table>
    <tr><td style="border-bottom:1px solid #808080" colspan="5">PO History</td></tr>
    <tr bgcolor="#eeeeee">
	<td>Total POs:</td>
	<td colspan="4">
	    <b>
	    <?
	    $query = "SELECT distinct(poid) FROM vendor_po_lines WHERE pid='".$skulist['id'][$xx]."' GROUP BY poid";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
			echo mysql_num_rows($qok);
	    ?>

	    </b>
	</td>
     </tr>
     <tr bgcolor="#eeeeee">
	<td>POID</td>
	<td>Vendor</td>
	<td>Invoiceid</td>
	<td>Date</td>
	<td>Qty</td>
     </tr>
     <?
     $query = "SELECT vendor_pos.poid,vendor_pos.vendorid,vendor_pos.invoiceid,vendor_pos.sub_stamp,vendor_po_lines.qty_ordered,vendors.vendorname FROM vendor_pos,vendor_po_lines,vendors WHERE vendor_po_lines.poid = vendor_pos.poid AND vendor_po_lines.pid='".$skulist['id'][$xx]."' AND vendors.vendorid=vendor_pos.vendorid ORDER BY sub_stamp DESC limit 0,1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
	while(list($poid,$vendorid,$invoiceid,$sub_stamp,$qty_ordered,$vendorname) = mysql_fetch_array($qok)) {
	    ?>
	    <tr>
		<td><a id="viewpo_<?=$poid.'_'.$skulist['id'][$xx]?>" href="javascript:e2window('/mgt/vn/viewpo.phtml?poid=<?=$poid?>&inwin=1', 'View PO: <?=$poid?>','viewpo_<?=$poid.'_'.$skulist['id'][$xx]?>');"><?=$poid?></a>&nbsp;&nbsp;&nbsp;</td>
		<td><?=$vendorname?>&nbsp;&nbsp;&nbsp;</td>
		<td><?=$invoiceid?>&nbsp;&nbsp;&nbsp;</td>
		<td><?=date("m-d-Y",$sub_stamp)?>&nbsp;&nbsp;&nbsp;</td>
		<td><?=$qty_ordered?>&nbsp;&nbsp;&nbsp;</td>
	    </tr>
	    <?
	}
     ?>
	<tr id='showMorePOS-<?=$skulist['id'][$xx];?>'>
	    <td colspan=5>
		<input type="hidden" name="showing" value="0" id="pohistoryshowing-<?=$skulist['id'][$xx];?>">
		    <a href="javascript:void(0);" onclick="showPOHistory('<?=$skulist['id'][$xx];?>','<?=$amazon_account?>');" border=0>
			<img src="/mgt/images/plus.gif" id="pohistoryimg-<?=$skulist['id'][$xx];?>">
		    </a>
	    </td>
	</tr>
	<tr>
		<td colspan=5><div id="pohistory-<?=$skulist['id'][$xx];?>">&nbsp;</div></td>
	</tr>
</table>