<?

$profiles = array();
$query = "select config_value,note from configuration where config_group = 'super_pricer' and config_key = 'profile_id'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
while(list($profile_id,$profile_value) = mysql_fetch_array($qok)) {
    $profiles[] = array($profile_id,$profile_value);
}
$group = array();
$query = "select config_value,note from configuration where config_group = 'super_pricer' and config_key = 'group'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
while(list($group_id,$group_value) = mysql_fetch_array($qok)) {
    $group[] = array($group_id,$group_value);
}

$query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='amazon' AND pid='".$skulist['id'][$xx]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
list($min_price_amazon,$max_price_amazon,$map_price_amazon,$sp_profile_amazon,$sp_group_amazon,$sp_managed_amazon) = mysql_fetch_array($qok);

$query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='amazon_canada' AND pid='".$skulist['id'][$xx]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
list($min_price_amazon_canada,$max_price_amazon_canada,$map_price_amazon_canada,$sp_profile_amazon_canada,$sp_group_amazon_canada,$sp_managed_amazon_canada) = mysql_fetch_array($qok);

$query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='ebay' AND pid='".$skulist['id'][$xx]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
list($min_price_ebay,$max_price_ebay,$map_price_ebay,$sp_profile_ebay,$sp_group_ebay,$sp_managed_ebay) = mysql_fetch_array($qok);

$query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='buy' AND pid='".$skulist['id'][$xx]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
list($min_price_buy,$max_price_buy,$map_price_buy,$sp_profile_buy,$sp_group_buy,$sp_managed_buy) = mysql_fetch_array($qok);
?>

<table cellpadding=2 cellspacing=2 border=0>
    <tr bgcolor="#eeeeee">
        <td>&nbsp;</td>
        <td><b>Amazon</b></td>
        <!--<td><b>Amazon Canada</b></td>-->
        <!--<td><b>eBay</b></td>
        <td><b>Buy.com</b></td>-->
    </tr>
    <tr>
        <td>Min. Price</td>
        <td><input value="<?=$min_price_amazon?>" type="text" class="formBox" style="width:40px;" name="minprice_amazon_<?=$skulist['id'][$xx];?>" id="minprice_amazon_<?=$skulist['id'][$xx];?>"/></td>
        <!--<td><input value="<?=$min_price_amazon_canada?>" type="text" class="formBox" style="width:40px;" name="minprice_amazon_canada_<?=$skulist['id'][$xx];?>" id="minprice_amazon_canada_<?=$skulist['id'][$xx];?>"/></td>-->
        <!--<td><input value="<?=$min_price_ebay?>" type="text" class="formBox" style="width:40px;" name="minprice_ebay_<?=$skulist['id'][$xx];?>" id="minprice_ebay_<?=$skulist['id'][$xx];?>"/></td>
        <td><input value="<?=$min_price_buy?>" type="text" class="formBox" style="width:40px;" name="minprice_buy_<?=$skulist['id'][$xx];?>" id="minprice_buy_<?=$skulist['id'][$xx];?>"/></td>-->
    </tr>
    <tr>
        <td>Max. Price</td>
        <td><input value="<?=$max_price_amazon?>" type="text" class="formBox" style="width:40px;" name="maxprice_amazon_<?=$skulist['id'][$xx];?>" id="maxprice_amazon_<?=$skulist['id'][$xx];?>"/></td>
        <!--<td><input value="<?=$max_price_amazon_canada?>" type="text" class="formBox" style="width:40px;" name="maxprice_amazon_canada_<?=$skulist['id'][$xx];?>" id="maxprice_amazon_canada_<?=$skulist['id'][$xx];?>"/></td>-->
        <!--<td><input value="<?=$max_price_ebay?>" type="text" class="formBox" style="width:40px;" name="maxprice_ebay_<?=$skulist['id'][$xx];?>" id="maxprice_ebay_<?=$skulist['id'][$xx];?>"/></td>
        <td><input value="<?=$max_price_buy?>" type="text" class="formBox" style="width:40px;" name="maxprice_buy_<?=$skulist['id'][$xx];?>" id="maxprice_buy_<?=$skulist['id'][$xx];?>"/></td>-->
    </tr>
<!--    <tr>
        <td>MAP. Price</td>
        <td><input value="<?=$map_price_amazon?>" type="text" class="formBox" style="width:40px;" name="mapprice_amazon_<?=$skulist['id'][$xx];?>" id="mapprice_amazon_<?=$skulist['id'][$xx];?>"/></td>
        <td><input value="<?=$map_price_amazon_canada?>" type="text" class="formBox" style="width:40px;" name="mapprice_amazon_canada_<?=$skulist['id'][$xx];?>" id="mapprice_amazon_canada_<?=$skulist['id'][$xx];?>"/></td>
        <td><input value="<?=$map_price_ebay?>" type="text" class="formBox" style="width:40px;" name="mapprice_ebay_<?=$skulist['id'][$xx];?>" id="mapprice_ebay_<?=$skulist['id'][$xx];?>"/></td>
        <td><input value="<?=$map_price_buy?>" type="text" class="formBox" style="width:40px;" name="mapprice_buy_<?=$skulist['id'][$xx];?>" id="mapprice_buy_<?=$skulist['id'][$xx];?>"/></td>
    </tr>-->
    <tr>
        <td>Profile</td>
        <td>
            <select class="formSelect" style="width:40px;" name="profile_amazon_<?=$skulist['id'][$xx];?>" id="profile_amazon_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($profiles as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_profile_amazon == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>
<!--        <td>
            <select class="formSelect" style="width:40px;" name="profile_amazon_canada_<?=$skulist['id'][$xx];?>" id="profile_amazon_canada_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($profiles as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_profile_amazon_canada == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>-->
        <!--<td>
            <select class="formSelect" style="width:40px;" name="profile_ebay_<?=$skulist['id'][$xx];?>" id="profile_ebay_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($profiles as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_profile_ebay == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>
        <td>
            <select class="formSelect" style="width:40px;" name="profile_buy_<?=$skulist['id'][$xx];?>" id="profile_buy_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($profiles as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_profile_buy == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>-->
    </tr>
<!--    <tr>
        <td>Group</td>
        <td>
            <select class="formSelect" style="width:40px;" name="group_amazon_<?=$skulist['id'][$xx];?>" id="group_amazon_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($group as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_group_amazon == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>
        <td>
            <select class="formSelect" style="width:40px;" name="group_amazon_canada_<?=$skulist['id'][$xx];?>" id="group_amazon_canada_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($group as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_group_amazon_canada == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>
        <td>
            <select class="formSelect" style="width:40px;" name="group_ebay_<?=$skulist['id'][$xx];?>" id="group_ebay_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($group as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_group_ebay == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>
        <td>
            <select class="formSelect" style="width:40px;" name="group_buy_<?=$skulist['id'][$xx];?>" id="group_buy_<?=$skulist['id'][$xx];?>">
                <option value="">--------</option>
                <?
                   foreach($group as $k=>$v) {
                       ?>
                        <option value="<?=$v[0]?>" <?if($sp_group_buy == $v[0]) echo " selected"?>><?=$v[1]?></option>
                       <?
                   }
                ?>
            </select>
        </td>
    </tr>-->
    <tr>
        <td>Man / Unmanage</td>
        <td><input type="checkbox" value="1" name="managed_amazon_<?=$skulist['id'][$xx];?>" id="managed_amazon_<?=$skulist['id'][$xx];?>" <?if($sp_managed_amazon == '1') echo " checked"?> /></td>
        <!--<td><input type="checkbox" value="1" name="managed_amazon_canada_<?=$skulist['id'][$xx];?>" id="managed_amazon_canada_<?=$skulist['id'][$xx];?>" <?if($sp_managed_amazon_canada == '1') echo " checked"?> /></td>-->
        <!--<td><input type="checkbox" value="1" name="managed_ebay_<?=$skulist['id'][$xx];?>" id="managed_ebay_<?=$skulist['id'][$xx];?>" <?if($sp_managed_ebay == '1') echo " checked"?> /></td>
        <td><input type="checkbox" value="1" name="managed_buy_<?=$skulist['id'][$xx];?>" id="managed_buy_<?=$skulist['id'][$xx];?>" <?if($sp_managed_buy == '1') echo " checked"?> /></td>-->
    </tr>
    <tr>
        <td colspan="4" align="center">
            <input type="hidden" name="id" value="<?=$skulist['id'][$xx];?>" />
            <input type="button" name="Action" value="Update SuperPrice Values" onclick="saveSuperPricer('<?=$skulist['id'][$xx]?>')" class="buttonItem">
        </td>
    </tr>
	<?php
	/*
	$query_se = "SELECT COUNT(id)
				 FROM sellery 
				 WHERE pid = '".$skulist['id'][$xx]."'
				 LIMIT 1";
	if(!$qok_se = mysql_db_query($DB, $query_se, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
	list($is_sellery) = mysql_fetch_array($qok_se);
	?>
    <tr>
        <td>Sellery</td>
        <td colspan="2"><input type="checkbox" value="<?=$skulist['id'][$xx];?>" name="sellery_<?=$skulist['id'][$xx];?>" id="sellery_<?=$skulist['id'][$xx];?>" <?if($is_sellery == '1') echo ' checked="checked"';?> /></td>
    </tr>
    <?php */ ?>
</table>