<table>
    <tr bgcolor="#eeeeee">
	    <td>Today</td>
	    <td>Yesterday</td>
	    <td>3 Days</td>
	    <td>7 Days</td>
	    <td>30 Days</td>
    </tr>
    <tr>
	<td><?=$skulist['sold_today'][$xx];?></td>
	<td><?=$skulist['sold_yesterday'][$xx];?></td>
	<td><?=$skulist['sold_3days'][$xx];?></td>
	<td><?=$skulist['sold_7days'][$xx];?></td>
	<td><?=$skulist['sold_30days'][$xx];?></td>
    </tr>
    <tr>
	    <td colspan=5><div id="fbaorders-<?=$skulist['id'][$xx];?>">&nbsp;</div></td>
    </tr>
</table>