<style>
input.disabled {
	border:none;
	background:#fff;
	color:#000000;
}
.border_bottom {
	border-bottom:1px solid #999;
}
.red {
	color:red;
}
.green {
	color:lime;
}
</style>
<?
$itemid_fee = $skulist['id'][$xx];
$asin_fee = $skulist['asin'][$xx];
?>
<table border="0">
    <tr>
	<td valign="top" width="250">
	    <table width="100%">
		<tr>
		    <td id="settelemnt_data_<?=$itemid_fee?>">

		    </td>
		</tr>
	    </table>
	</td>
    </tr>
	<tr>
	    <td>
		<a href="javascript:getSettlementData('<?=$itemid_fee?>','<?=$amazon_account?>')">Get real FBA cost from Settle Report</a>
		<br />
		 <?
		$query = "select ecampid, pid, starttime, endtime, pid_lastupdate, ebaylistingid from ebay_listings where pid = '".$skulist['id'][$xx]."' and active = 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
		list($ecampid, $pid, $starttime, $endtime, $pid_lastupdate, $ebaylistingid) = mysql_fetch_array($qok);

		$ebaylink = "<a href='http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebaylistingid' target='_new'>See it on eBay</a>";
		echo $ebaylink;
		?>

	    </td>
	</tr>
</table>