<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure
if ($Action == 'Delete') {
	$query = "DELETE FROM drilldown_main WHERE id='".$ddid."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
<HTML>
<HEAD>
<TITLE>Drilldown Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}


function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function createDrilldown()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<table width=95%>
		<tr>
			<td width=50% align=left><B>Drilldown Manager</B></td>
			<td width=50% align=right><a href="/mgt/dd/default.phtml">Drilldown Manager</a>&nbsp;&nbsp;<a href="/mgt/dd/missing_drilldowns.phtml">Missing Drilldown</a></td>
		</tr>
		</table>
		
		<BR><BR>
		<table cellspacing="0" cellpadding="0" border=0 width="90%">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center>ID</td>
			<td align=center>Cat Name</td>
			<td align=center>Template Name</td>
			<td align=center>Listing Type</td>
			<td align=center>Data Type</td>
			<td align=center>Title</td>
			<td align=center>CatPage</td>
			<td align=center>Delete</td>
		</tr>
		<?
		$query = "select drilldown_main.id, product_categories.catname, drilldown_main.catid, 
					drilldown_main.ltype, drilldown_main.dtype, drilldown_main.tid, drilldown_main.title, drilldown_main.catpage
					from 
					drilldown_main, product_categories WHERE
					drilldown_main.catid = product_categories.catid
					order by product_categories.catname, drilldown_main.id";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		$catid = 0;
		while(list($id, $catname, $catid, $ltype, $dtype, $tid, $title, $catpage) = mysql_fetch_array($qok))
		{
			$query = "select template from static_specs_templates where id = '$tid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($template) = mysql_fetch_array($q2ok);
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td align=center height=21><a href="/mgt/dd/dd_edit.phtml?ddid=<?=$id;?>"><?=$id;?></a></td>
				<td align=center height=21><?=$catname;?></td>
				<td align=center height=21><?=$template;?></td>
				<td align=center height=21>
				<?
				if($ltype == "SS") echo "Static Specs";
				else if($ltype == "CAT") echo "Subcat Drilldown";
				else if($ltype == "BRND") echo "Brand";
				else if($ltype == "PRICE") echo "Price";
				?>
				</td>
				<td align=center>
				<?
				if($dtype == "1") echo "Double";
				else if($dtype == "2") echo "Text";
				?>
				</td>
				<td align=center><?=$title;?></td>
				<td align=center><?if($catpage == 1) echo "Yes"; else echo "No";?></td>
				<td align=center><a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete this drilldown?', '/mgt/dd/default.phtml?ddid=<?=$id;?>&Action=Delete');"><img src="/mgt/images/del.gif">Delete</a></td>
			</tr>
			<?
		}
		?>
		</table>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createDrilldown();">Create New Drilldown</a>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

	

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/dd/dd_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Drildown:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
</body>
</html>