<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Cubic Orders</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script type="text/javascript" src="/mgt/js/jquery_offset.js"></script>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
.mainCatContainer{padding:3px;}
.subcatContainer{display:none;}
.addCat{text-decoration:none;color:#000000}
.dialog {display:none;}
.error_msg{color:red}
</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<table cellpadding="3" cellspacing="3" border="0">
				<tr bgcolor="#eeeeee">
					<td><b>Invoiceid</b></td>
					<td><b>TrackNo</b></td>
					<td><b>Method</b></td>
					<td><b>Carrier</b></td>
					<td><b>Shipdate</b></td>
					<td><b>Cost</b></td>
				</tr>
				<?
				$total_cost = 0;
				$x = 0;
				$q = "SELECT invoiceid,trackno,type,carrier,shipdate,cost FROM customer_order_tracking WHERE type like '%Cubic%' AND shipdate>0 AND cost>7 order by shipdate desc";
				if(!$qoka = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while (list($invoiceid,$trackno,$type,$carrier,$shipdate,$cost) = mysql_fetch_array($qoka)) {
					
					if ($x>0 && date("m",$shipdate) != $month) {
						?>
						<tr bgcolor="#eeeeee">
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><b>$<?=number_format($total_cost,2);?></b></td>
						</tr>
						<?
						$total_cost = $cost;
					}
					else {
						$total_cost += $cost;
					}
					
					?>
					<tr id="order_<?=$invoiceid?>">
						<td>
							<a href="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid?>&inwin=1', 'View Order: <?=$invoiceid?>','order_<?=$invoiceid?>');">
								<?=$invoiceid?>
							</a>
						</td>
						<td><?=$trackno?></td>
						<td><?=$type?></td>
						<td><?=$carrier?></td>
						<td><?=date("Y-m-d",$shipdate)?></td>
						<td>$<?=number_format($cost,2);?></td>
					</tr>
					<?	
					$month = date("m",$shipdate);
					$x++;
				}
				?>
				<tr bgcolor="#eeeeee">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><b>$<?=number_format($total_cost,2);?></b></td>
				</tr>
			</table>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>