<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
}
else 
{
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
	
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

/*
fba_skus
fba_ca_skus
fba_max_skus
*/


$tb = array(
		
);
?>
<table cellpadding="0" cellspacing="0" border="0" style="font-size:12px">
<tr>
	<td>

		<table cellpadding="3" cellspacing="0" border="1">
		<tr>
			<td><b>Table</b></td>
			<td><b>Records</b></td>
			<td colspan="2"><b>Size</b></td>
			<td>Status</td>
			<td>Runtime</td>
		</tr>
		<?
		$total = 0;
		$query = "SELECT TABLE_NAME, table_rows, data_length, index_length, 
		                round(((data_length + index_length)/1024 /1024 ) , 2) 'size_in_mb',
		                round(((data_length + index_length)/1024 /1024/1024 ) , 2) 'size_in_gb',
		                round(((data_length + index_length)/1024 ) , 2) 'size_in_kib'
		                                FROM information_schema.TABLES
		                                WHERE table_schema = '$MYSQL_DATABASE'";
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while($res = mysql_fetch_assoc($qok))
		{
			
//			if ($res['TABLE_NAME'] != 'product_images') {
//				$querya = "OPTIMIZE TABLE ".$res['TABLE_NAME'];
//				if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }						
//			}
			
		//	$data_array[] = $res;
		$total += $res['size_in_kib'];
			?>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td valign="top"><?=$res['TABLE_NAME']?></td>
								<td valign="top" width="20px">&nbsp;</td>
								<td valign="top">
								<?if ($show_index==1) {
								?>
									<table cellpadding="0" cellspacing="0" border="0" style="font-size:12px">
										<tr>
											<td><b>KEY</b></td>
											<td width="10px">&nbsp;</td>
											<td><b>Column</b></td>
											<td width="10px">&nbsp;</td>
											<td><b>Cardinality</b></td>
										</tr>
										<?
											$qx = "show index from ".$res['TABLE_NAME'];
											if(!$qokx = mysql_db_query($MYSQL_DATABASE, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while($res2 = mysql_fetch_assoc($qokx))
											{
												?>
												<tr>
													<td><?=$res2['Key_name']?></td>
													<td width="10px">&nbsp;</td>
													<td><?=$res2['Column_name']?></td>
													<td width="10px">&nbsp;</td>
													<td><?=$res2['Cardinality']?></td>
												</tr>
												<?
											}
										?>
										
									</table>
									<?}?>
								</td>
							</tr>
						</table>
					</td>
					<td><?=number_format($res['table_rows'],0,'',',');?></td>
					<td><?
						if ($res['size_in_gb']>0) {
							echo number_format($res['size_in_gb'],2);				
						}
						elseif ($res['size_in_mb']>0) {
							echo number_format($res['size_in_mb'],2);				
						}
						else {
							echo number_format($res['size_in_kib'],2);				
						}
					?></td>
					<td><?
						if ($res['size_in_gb']>0) {
							echo " <b>GB</b>";				
						}
						elseif ($res['size_in_mb']>0) {
							echo " MB";				
						}
						else {
							echo " KiB";				
						}
					?></td>
					<td>&nbsp;
						<?
							if (in_array($res['TABLE_NAME'],$tb)) {
								echo "<span style=\"color:green;font-weight:bold;\">OK</span>";
							}
						?>
					</td>
					<td nowrap>
					<?
//						$qf = "SELECT tstamp FROM database_maintenance_log WHERE table_name='".$res['TABLE_NAME']."'";
//						if(!$qokf = mysql_db_query($MYSQL_DATABASE, $qf, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//						$resf = mysql_fetch_assoc($qokf);
//						if ($resf['tstamp']>0) {
//							echo date("Y-m-d H:y:s",$resf['tstamp']);
//						}
						
					?>
					</td>
				</tr>
			<?
		}
		//print_r($data_array);
		?>
		</table>
	</td>
	<td width="20px"></td>
	<td valign="top">
		<b>Total DB size: 
		<?
			$total_size_mb = number_format($total/1024,2);
            $total_size_gb = number_format($total/(1024*1024),2);
            if($total_size_gb>1) {
                echo $total_size_gb ." GB";
            }
            else {
                if ($total_size_mb>1) {
                    echo $total_size_mb ." Mb";
                }
                else {
                    echo $total ." KiB";
                }
            }
		?>
		</b>
	</td>
<!--====================================================================	-->
</tr>
</table>	


<?
/*$query_optimize = "SELECT table_name
				   FROM database_maintenance_log";
if(!$qok_optimize = mysql_db_query($DB, $query_optimize, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }			
if (mysql_num_rows($qok_optimize) > 0)
{
	while (list($table_name) = mysql_fetch_array($qok_optimize))
	{
		if ($table_name != 'product_images') {
			$query = "OPTIMIZE TABLE $table_name";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }						
		}
	}
}*/
?>