<style type="text/css">
input.groovybutton
{
   font-size:11px;
   font-family:Arial Narrow,sans-serif;
   color:#FFFFFF;
   height:18px;
   background-color:#CC0000;
   border-top-style:solid;
   border-top-color:#009900;
   border-top-width:1px;
   border-bottom-style:solid;
   border-bottom-color:#9933FF;
   border-bottom-width:1px;
   border-left-style:solid;
   border-left-color:#404040;
   border-left-width:12px;
   border-right-style:solid;
   border-right-color:#009900;
   border-right-width:1px;
}
</style>


<script language="javascript">
function goLite(FRM,BTN) {   window.document.forms[FRM].elements[BTN].style.backgroundColor = "#F5E5FF"; }
function goDim(FRM,BTN) {   window.document.forms[FRM].elements[BTN].style.backgroundColor = "#CC0000"; }
</script>

<style type="text/css">
input.groovybutton1
{
   font-size:11px;
   font-family:Arial Narrow,sans-serif;
   color:#FFFFFF;
   height:18px;
   background-color:#009900;
   border-top-style:solid;
   border-top-color:#009900;
   border-top-width:1px;
   border-bottom-style:solid;
   border-bottom-color:#9933FF;
   border-bottom-width:1px;
   border-left-style:solid;
   border-left-color:#404040;
   border-left-width:10px;
   border-right-style:solid;
   border-right-color:#009900;
   border-right-width:1px;
}
</style>

<script language="javascript">
function goLite1(FRM,BTN) {   window.document.forms[FRM].elements[BTN].style.backgroundColor = "#F5E5FF"; }
function goDim1(FRM,BTN) {    window.document.forms[FRM].elements[BTN].style.backgroundColor = "#009900"; }
</script>



<style>
table.contacts
{ width: 240px;
background-color: #fafafa;
border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px; }


td.contactDept
{ background-color: #99CCCC;
border: 1px #000000 solid;
font-family: Verdana;
font-weight: bold;
font-size: 10px;
color: #404040; }


td.contact
{ border-bottom: 1px #6699CC dotted;
text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 10px;
color: #404040;
background-color: #fafafa;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; }

table.alerts
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 260px;
background-color: #fafafa;
border: 1px #d79900 solid;
border-collapse: collapse;
border-spacing: 0px;}


.alertHd
{ border-bottom: 2px solid #d79900;
background-color: #fff2ba;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040;}


.alertBod p
{ text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
line-height: 12px;
color: #404040;
background-color: #fafafa;
text-indent: -8px;
margin-left: 10px;
margin-right: 10px;
margin-top: 5px;
margin-bottom: 5px;} 

table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 280px;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.stats td.hed
{background-color: #666;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;} 

table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 500px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; }

td.helpHed
{ border-bottom: 2px solid #6699CC;
border-left: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040; }

td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: #fafafa; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 580px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 

table.servicesT
{ font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 320px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;}


table.servicesT td.servHd
{ border-bottom: 2px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040;}


table.servicesT td
{ border-bottom: 1px dotted #6699CC;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: white;
text-align: left;
padding-left: 3px;}

.servBodL { border-left: 1px dotted #CEDCEA; } 
</style>