<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
?>
<HTML>
<HEAD>
<TITLE>Email Marketing - Create Campaign</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<table>
<tr>
	<td><B>Current SKU List</B></td>
</tr>
</table>
<table width=95%>
<?
if(!is_array($newlist))
	$newlist = array();


$newlist = $_SESSION["OE_SKULIST"];


if($Action == "Add")
{
	$newlist[] = $id;
}
else if($Action == "Delete")
{
	$new2list = array();
	for($xx = 0; $xx < count($newlist); $xx++)	
	{
		if($newlist[$xx] == $id)
		{
		}
		else 
		{
			$new2list[] = $newlist[$xx];
		}
	}

	$newlist = "";
	$newlist = $new2list;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

for($xx = 0; $xx < count($newlist); $xx++)
{
	$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr from
			product_list, product_manufacturers 
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = '".$newlist[$xx]."' ";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($id, $manname, $manpart, $descr) = mysql_fetch_array($qok);
	
	if(intval($id) > 0)
	{
		if(strlen($descr) > 30)
			$descr = substr($descr, 0, 27) . "...";		
	?>
	<tr>
		<td><a href="/mgt/oe/skulist.phtml?Action=Delete&id=<?=$id;?>">Del (<?=$id;?>)</a></td>
		<td><?=$manname;?></td>
		<td><?=$manpart;?></td>
		<td><?=$descr;?></td>
		
	</tr>
	<?
	}
}

$_SESSION["OE_SKULIST"] = $newlist;
?>
</table>
</body>
</html>