<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$amz_table_order = 'fba_settlement_order';
$amz_table = 'fba_settlement_order_items';
$amz_table_cost = 'fba_settlement_order_items_cost';
$wh_fba_id = $efc->getConfigKey("Warehouse List", "FBA");

$query = "select $amz_table.orid,
                 $amz_table.Principal,
                 $amz_table.FBAPerUnitFulfillmentFee,
                 $amz_table.FBAWeightBasedFee,
                 $amz_table.FBAPerOrderFulfillmentFee,
                 $amz_table.Commission,
                 $amz_table.GiftWrap,
                 $amz_table.GiftwrapChargeback,
                 $amz_table_order.posted_date
             FROM $amz_table,$amz_table_order WHERE $amz_table_order.id=$amz_table.orid AND $amz_table_order.merchant_fulfillment_id = 'AFN' AND $amz_table.OUR_SKU='$pid' AND $amz_table.Quantity=1 order by $amz_table_order.posted_date desc limit 1";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($orid,$Principal,$FBAPerUnitFulfillmentFee,$FBAWeightBasedFee,$FBAPerOrderFulfllmentFee,$Commission,$GiftWrap,$GiftwrapChargeback,$posted_date ) = mysql_fetch_array($qok);
//print_r($query);
$query = "select cost
                FROM $amz_table_cost WHERE pid='$pid' AND orid='$orid' AND whid='$wh_fba_id' order by id desc limit 1;";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($cost) = mysql_fetch_array($qok);
?>
<table>
    <tr>
        <td colspan='2'> <b>FBA Settlement Cost</b></td>
	</tr>
	<tr>
        <td>Principal</td>
        <td>$<?=number_format($Principal,2)?></td>
	</tr>
    <tr>
        <td>FBAPerUnitFulfillmentFee</td>
        <td>$<?=number_format($FBAPerUnitFulfillmentFee*(-1),2)?></td>
	</tr>
    <tr>
        <td>FBAWeightBasedFee</td>
        <td>$<?=number_format($FBAWeightBasedFee*(-1),2)?></td>
	</tr>
    <tr>
        <td>FBAPerOrderFulfllmentFee</td>
        <td>$<?=number_format($FBAPerOrderFulfllmentFee*(-1),2)?></td>
	</tr>
    <tr>
        <td style="border-bottom:1px solid black">Commission</td>
        <td style="border-bottom:1px solid black">$<?=number_format($Commission*(-1),2)?></td>
	</tr>
<!--    <tr>
        <td>GiftWrap</td>
        <td>$<?=number_format($GiftWrap,2)?></td>
	</tr>
    <tr>
        <td style="border-bottom:1px solid black">GiftwrapChargeback</td>
        <td style="border-bottom:1px solid black">$<?=number_format($GiftwrapChargeback,2)?></td>
	</tr>-->
     <tr>
        <td>Cost</td>
        <td>$<?=number_format($cost,2)?></td>
	</tr>
    <tr>
        <td>Profit</td>
        <?
        $profit = number_format($Principal+$FBAPerUnitFulfillmentFee+$FBAWeightBasedFee+$FBAPerOrderFulfllmentFee+$Commission+$GiftWrap+$GiftwrapChargeback-$cost,2);
        if($profit >0 ) {
            $color = "#04B404";
//            $color = "#00FF00";
        }        
        else {
            $color = "#B40404";
        }
        ?>
        <td style="color:<?=$color?>;font-weight:bold;">$<?=$profit?></td>
	</tr>
     <tr>
        <td>CM</td>
        <td>%<?=number_format(($Commission/$Principal)*100*(-1),2)?></td>
	</tr>
    <tr>
        <td colspan="2" height="10px">&nbsp;</td>
	</tr>
    <tr>
        <td colspan="2"><?=$posted_date?></td>
	</tr>
</table>