<style>
input.disabled {
	border:none;
	background:#fff;
	color:#000000;
}
.border_bottom {
	border-bottom:1px solid #999;
}
.red {
	color:red;
}
.green {
	color:lime;
}
</style>
<?
$itemid_fee = $skulist['id'][$xx];
$asin_fee = $skulist['asin'][$xx];
?>
<table border="0" style="border-top:1px solid #ccc;">
	<tr>
		<td valign="top" width="250" style="border-right:1px solid #ccc;">
            <table width="100%">
                <tr>
                    <td id="settelemnt_data_<?=$itemid_fee?>">
                        
                    </td>
                </tr>
            </table>
		</td>
	</tr>
	<tr>
		<td>
                    <a href="javascript:getSettlementData('<?=$itemid_fee?>','<?=$amazon_account?>')">Get real FBA cost from Settle Report</a>
                </td>
	</tr>
</table>