<table border="0">
	<tr>		
	<!--	<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080">STICKER</td>
			</tr>
			<tr>
				<td align=right>
					<?
						$q = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$skulist['id'][$xx]."' AND custom_fields.name='AMZ Needs STICKER'";
						$qok = mysql_db_query($DB, $q, $mysqlid);
						if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if (mysql_num_rows($qok) > 0) {
							list($amz_sticker) = mysql_fetch_array($qok);	
							if ($amz_sticker == '1') {
								echo '<span style="color:red;">X</span>';
							}
						}
						
					?>
				
				</td>
			</tr>
			</table>
		</td>
		<td>&nbsp;&nbsp;</td>-->
		<?
			if ($DB == 'butterfly') {
		?>			
		<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080">FBA Reorder Qty</td>
			</tr>
			<tr>
				<td align=center>
					<?
					$q = "SELECT text_short 
						  FROM custom_values 
						  WHERE cfid = '".$efc->getConfigValue("AmazonGrid", "ReorderFbaQty")."'
						  AND pid = '".$skulist['id'][$xx]."'
						  LIMIT 1";
					$qok = mysql_db_query($DB, $q, $mysqlid);
					if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($cf_val) = mysql_fetch_array($qok);
					?>
					<input type="text" name="<?php echo $skulist['id'][$xx]; ?>_fba_reorder_qty" style="width:40px" id="<?php echo $skulist['id'][$xx]; ?>_fba_reorder_qty" value="<?php echo $cf_val; ?>" class="formBox"><br />
					<input type="button" class="buttonItem" onclick="updateFbaReorderQty('<?php echo $efc->getConfigValue("AmazonGrid", "ReorderFbaQty"); ?>','<?php echo $skulist['id'][$xx]; ?>');" value="Save">
				</td>
			</tr>
			</table>
		</td>
		<td>&nbsp;&nbsp;</td>
		<?}?>
		<?php if ($DB != 'ecom') { ?>
		<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080"><a href="javascript:void(0)" onclick="updateOversized('<?=$skulist['id'][$xx]?>')">OvSize</a></td>
			</tr>
			<tr>
				<td align=right>
					<div id="xvalover_<?=$skulist['id'][$xx]?>">
					<?
						$q = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$skulist['id'][$xx]."' AND custom_fields.name='AMZ Oversize'";
						$qok = mysql_db_query($DB, $q, $mysqlid);
						if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if (mysql_num_rows($qok) > 0) {
							list($amz_oversize) = mysql_fetch_array($qok);	
							if ($amz_oversize == '1') {
								echo '<span style="color:red;">X</span>';
							}
						}
					?>
					</div>
					<div id="amz<?=$skulist['id'][$xx];?>-oversized" style="display:none;"><?=intval($skulist['oversized'][$xx]);?></div>
				</td>
			</tr>
			</table>
		</td>
		<?php } ?>
		<td>&nbsp;&nbsp;</td>
		<?php if ($DB != 'ecom') { ?>
		<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080">Amazon %</td>
			</tr>
			<tr>
				<td align=right><div id="amz<?=$skulist['id'][$xx];?>-amazonpct"><?=$skulist['amazonpct'][$xx];?></div></td>
			</tr>
                         <tr>
                                <td>
                                <input type="text" name="amazonpct_perc" id="amazonpct_perc_<?=$skulist['id'][$xx];?>" value="<?=$amazonpct_cf?>" class="formBox" style="width:55px;"/>
                                <br />
                                <a href="javascript:void(0)" class="amazonpct_perc" id="amazonpct_perc_<?=$skulist['id'][$xx];?>">save</a>
                                </td>
                        </tr>
			</table>
		</td>
		<?php } ?>
		<td>&nbsp;&nbsp;</td>
		<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080">Shipping Weight</td>
			</tr>
			<tr>
				<td align=right><div id="amz<?=$skulist['id'][$xx];?>-weight"><?=$skulist['shipweight'][$xx];?></div></td>
			</tr>
			</table>
		</td>
		<td>&nbsp;&nbsp;</td>
		<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080">Customer Reviews</td>
			</tr>
			<tr>
				<td align=center>
					<div id="amz<?=$skulist['id'][$xx];?>-custreviews"><img src="/mgt/images/loading.gif"></div>
				</td>
			</tr>
			</table>
		</td>
		<td>
			<table>
			<tr>
				<td style="border-bottom:1px solid #808080">Rank</td>
			</tr>
			<tr>
				<td align=left>
					<div id="amz<?=$skulist['id'][$xx];?>-rank"><img src="/mgt/images/loading.gif"></div>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>