<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

///////////////////////////////////////////////////////////////////////////
$html = "<div class=\"buying\" style=\"color: #990000; padding-bottom: 0.75em;\">
  Only 12 left in stock--order soon (more on the way).
</div>";
/*
$pattern = '/Only [^0-9s+] left in stock/';

preg_match($pattern, $html, $matches);

echo "<pre>";
print_r($matches);
echo "</pre>";*/

$hita = strpos($html, "Only ");
$hitb = strpos($html, "left in stock", $hita);
$instock = trim(substr($html, $hita + 5, $hitb - $hita - 5));

if(is_numeric($instock))
	echo "INSTOCK: $instock<BR>";

?>