<title>PETS Manual Upload</title>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<html>
<body>
<br /><br />
<form action="upload_file.php" method="post" enctype="multipart/form-data">
<label for="file">Filename:</label>
<input type="file" name="file" id="file" />
<br /><br />
<input type="submit" name="submit" value="Upload"/>
</form>
<br>
<p>Step #1 :: Download this file: <a href=http://www.utmdistributing.com/Pet_Stores_USA_spreadsheet.xls>http://www.utmdistributing.com/Pet_Stores_USA_spreadsheet.xls</a></p>
<p>Step #2 :: Open the xls file in OpenOffice or Microsoft Excel and export as a <i>CSV</i> file.</p>
<p>Step #3 :: Upload it here.</p>

</body>
</html>
