<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Title Duplicate</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}    
    
function loadMore(nr,limit_nr) {
    
    if(limit_nr == 0) {
        $('.rowRes').remove();
    }
    var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
    if(document.amazon_report.cat0.selectedIndex > 0)
    cat0 = document.amazon_report.cat0.options[ document.amazon_report.cat0.selectedIndex ].value;

    if(document.amazon_report.cat1.selectedIndex > 0)
    cat1 = document.amazon_report.cat1.options[ document.amazon_report.cat1.selectedIndex ].value;

    if(document.amazon_report.cat2.selectedIndex > 0)
    cat2 = document.amazon_report.cat2.options[ document.amazon_report.cat2.selectedIndex ].value;

    if(document.amazon_report.cat3.selectedIndex > 0)
    cat3 = document.amazon_report.cat3.options[ document.amazon_report.cat3.selectedIndex ].value;

    if(document.amazon_report.cat4.selectedIndex > 0)
    cat4 = document.amazon_report.cat4.options[ document.amazon_report.cat4.selectedIndex ].value;
    var not_listid='';
    for (var i = 0; i < document.amazon_report.not_listid.length; i++) 
    { 
        if (document.amazon_report.not_listid.options[i].selected) 
        { 
            not_listid += document.amazon_report.not_listid.options[i].value + ","; 
        } 
    } 
    if($('#use_ebay').is(':checked')) {
        var use_ebay = 1;
    }
    else {
         var use_ebay = 0;
    }
    var brand='';
    for (var i = 0; i < document.amazon_report.brand.length; i++) 
    { 
        if (document.amazon_report.brand.options[i].selected) 
        { 
            brand += document.amazon_report.brand.options[i].value + ","; 
        } 
    } 
    $('#img_search').show();
    $('#load_more_img').show();
    $.get("load_more.phtml", 
            {
                'nr':nr,
                'limit_nr':limit_nr,
                'cat0':cat0,
                'cat1':cat1,
                'cat2':cat2,
                'cat3':cat3,
                'cat4':cat4,
                'not_list':not_listid,
                'use_ebay':use_ebay,
                'brand':brand
            },function(data){
                $('#morelink').remove();
                $('#img_search').hide();
                if(data !='') {
                    $('#results tbody').append(data);
                }
               
    });
}
function EndListing(ebayListing)
{
	if(confirm("Ending this listing with also remove the item from any list associated with this campaign.  Is this okay?"))
	{
		var cvr = document.getElementById("savecover");
		cvr.style.display = "block";
				
		cvr.style.top = 0;
		cvr.style.left = 0;
				
		cvr.style.width = "100%";
		cvr.style.height = "100%";
	
		xmlHttp=GetXmlHttpObject();
		
		var url = "/mgt/ebay/ajax_endlisting.phtml?listingid="+ebayListing+"&sid="+Math.random();
		xmlHttp.onreadystatechange=endListingResult;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
}

function endListingResult()
{
        var cvr = document.getElementById("savecover");
        cvr.style.display = "none";
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		alert(data[2]);
                $('#endlist_'+data[1]).html('');
//		document.location = "/mgt/sm/datafeed_loader.phtml?id=<?=$id;?>";

	}
}

function EndListingAll(ebayListing)
{
    xmlHttp=GetXmlHttpObject();

    var url = "/mgt/ebay/ajax_endlisting.phtml?listingid="+ebayListing+"&sid="+Math.random();
    xmlHttp.onreadystatechange=endListingResult2;
    xmlHttp.open("GET",url,true);
    xmlHttp.send(null);	
}

function endListingResult2()
{
    if(xmlHttp.readyState==4)
    { 
        var data = xmlHttp.responseText.split("~");
        $('#endlist_'+data[1]).html('');
    }
}

function checkAll() {
    if($('#check_all').is(':checked')) {
        $('.checkList').attr('checked', true);
    }
    else {
        $('.checkList').attr('checked', false);
    }
}
function endChecked() {
    if(confirm("Ending this listing with also remove the item from any list associated with this campaign.  Is this okay?"))
    {
        var cvr = document.getElementById("savecover");
        cvr.style.display = "block";

        cvr.style.top = 0;
        cvr.style.left = 0;

        cvr.style.width = "100%";
        cvr.style.height = "100%";
        endCheckedAction();
    }
}
function endCheckedAction() {
   
    var checkLength = $('.checkList').filter(":checked").length;
    if(checkLength>0) {
        var listid_txt = $(".checkList:checked:first").attr('id').split('_');
        if(listid_txt[1] != '' && $('#endlist_'+listid_txt[1]).html !='') {
            $('#check_'+listid_txt[1]).attr('checked',false);
            
             $.get("/mgt/ebay/ajax_endlisting.phtml", 
                {
                    'listingid':listid_txt[1],
                    'sid':Math.random()
                },function(data){
                    var xdata = data.split("~");
                    $('#endlist_'+xdata[1]).html('');
//                    $.get("endlisting_audit.phtml", 
//                        {
//                            'listingid':xdata[1],
//                            'sid':Math.random()
//                        },function(data){
//                            endCheckedAction();
//                    });
                    endCheckedAction();
            });
//            endCheckedAction();
        }
    }
    else {
        var cvr = document.getElementById("savecover");
        cvr.style.display = "none";
    }
//    
//    
//        var cvr = document.getElementById("savecover");
//        cvr.style.display = "block";
//
//        cvr.style.top = 0;
//        cvr.style.left = 0;
//
//        cvr.style.width = "100%";
//        cvr.style.height = "100%";
//                
//        var skus = '';
//        var len = $('.checkList').length;
//        $('.checkList').each(function(index){
//            var listid_txt = $(this).attr('id').split('_');
//            var listid = listid_txt[1];
//            if($(this).is(":checked")) {
//                $.get("/mgt/ebay/ajax_endlisting.phtml", 
//                    {
//                        'listingid':listid,
//                        'sid':Math.random()
//                    },function(data){
//                        var xdata = data.split("~");
//                        $('#endlist_'+xdata[1]).html('');
//                });
//            }
//            if(len-1 == index) {
//                var cvr = document.getElementById("savecover");
//                cvr.style.display = "none";
//            }
//        });
}

function endCheckedOld() {
    if(confirm("Ending this listing with also remove the item from any list associated with this campaign.  Is this okay?"))
    {
        var cvr = document.getElementById("savecover");
        cvr.style.display = "block";

        cvr.style.top = 0;
        cvr.style.left = 0;

        cvr.style.width = "100%";
        cvr.style.height = "100%";
                
        var skus = '';
        var len = $('.checkList').length;
        $('.checkList').each(function(index){
            var listid_txt = $(this).attr('id').split('_');
            var listid = listid_txt[1];
            if($(this).is(":checked")) {
                $.get("/mgt/ebay/ajax_endlisting.phtml", 
                    {
                        'listingid':listid,
                        'sid':Math.random()
                    },function(data){
                        var xdata = data.split("~");
                        $('#endlist_'+xdata[1]).html('');
                });
            }
            if(len-1 == index) {
                var cvr = document.getElementById("savecover");
                cvr.style.display = "none";
            }
        });
    }
}

function endCheckedCount(count_nr) {
    if(confirm("Ending this listing with also remove the item from any list associated with this campaign.  Is this okay?"))
    {
        var cvr = document.getElementById("savecover");
        cvr.style.display = "block";

        cvr.style.top = 0;
        cvr.style.left = 0;

        cvr.style.width = "100%";
        cvr.style.height = "100%";
                
        var skus = '';
        $('.checkList').each(function(){
            var listid_txt = $(this).attr('id').split('_');
            var listid = listid_txt[1];
            if($(this).is(":checked")) {
//                skus += listid+',';
                EndListingAll(listid);
                $('#endlist_'+listid).html('');
            }
        });
    }
//    alert(skus);
    var cvr = document.getElementById("savecover");
    cvr.style.display = "none";
}

function checkAllDuplicates() {
    $('.rowsel').attr('checked',true);
}
function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
		
	}
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.amazon_report.cat0.options[ document.amazon_report.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.amazon_report.cat1.options[ document.amazon_report.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.amazon_report.cat2.options[ document.amazon_report.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.amazon_report.cat3.options[ document.amazon_report.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.amazon_report.cat4.options[ document.amazon_report.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
  	g_cat = cat;
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
                            <div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
                                <ul class="TabbedPanelsTabGroup">
                                    <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
                                </ul>
                                <div class="TabbedPanelsContentGroup">
                                    <div class="TabbedPanelsContent">  
                                            <?INCLUDE("form.phtml");?>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">

                            var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
                            //
                            </script>			
			</td>
			<!------------------------------------------------------------------------------------------>
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">
                            <table width=99% id="results">
                                <tr>
                                    <td colspan="6"><a href="javascript:endChecked()">End All Checked</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:checkAllDuplicates()">Check All Duplicates</a></td>
                                </tr>
                                <tr bgcolor="#eeeeee" id="res_header">
                                        <td height="21" align="center" valign="middle"><B>Nr</B></td>
                                        <td><input type="checkbox" id="check_all" onclick="checkAll()" /></td>
                                        <td height="21" align="center" valign="middle"><B>ID</B></td>
                                        <td height="21" align="center" valign="middle"><B>Kit</B></td>
                                        <td height="21" align="center" valign="middle"><B>Title</B></td>
                                        <td height="21" align="center" valign="middle"><B>Listing ID</B></td>
                                        <td height="21" align="center" valign="middle"><B>End</B></td>
                                </tr>
                            </table>
                        </div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>