<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}

$addtables = $addon = $addon_type = "";

if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00");
    $xedate = strtotime("$edate 23:59:59");
    if($bdate != "") {
        $addon .= " AND amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xedate."'";
    }
}

if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND amazon_order_reports_by_last_update_orders_items.pid = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND amazon_order_reports_by_last_update_orders_items.pid NOT IN (select pid from sku_assignment) ";}

if( intval($sourcing) > 0 )
{
    $addtables .= ", product_sourcing ";
    $addon .= " AND product_sourcing.distid = '$sourcing' AND product_sourcing.pid = amazon_order_reports_by_last_update_orders_items.pid ";
}

if(intval($brand) > 0){ 
    $addtables .= ", product_list ";
    $addon .= " AND product_list.manid = '$brand' AND amazon_order_reports_by_last_update_orders_items.pid=product_list.id"; 
}

//if(intval($listid) > 0)
//{
//        $addtables .= ", list_products ";
//        $addon .= " AND amazon_order_reports_by_last_update_orders_items.pid = list_products.pid AND list_products.lid = '$listid' ";
//}
if ($listid != '' && $listid != 'null')
{
	$listid_arr = explode(',',$listid);
	if (count($listid_arr)>0) 
	{
		$addtables .= ", list_products ";
		$addon_list =" AND amazon_order_reports_by_last_update_orders_items.pid = list_products.pid AND (";
		foreach ($listid_arr as $i)
		{
			$addon_list .= " list_products.lid = '$i' OR ";
		}
		$addon .= substr($addon_list,0,-4).")";
	}
}
if(intval($nolist) > 0)
{
        $addon .= " AND product_search_extended.inlist = 0 ";
}
?>
<tr id="item_detail_<?=$sku?>">
    <td colspan="10">
        <table>
            
       
        <?
        if($type =='') {
            if($DB == 'butterfly') {
                ?>
                <tr>
                    <td><b>ButterflyPhoto</b></td>
                </tr>
                <tr>
                    <td><?getStatsByType('0',$sku,$bdate,$edate,$addon,$addon_type,$addtables,$listid,$DB,$mysqlid);?></td>
                </tr>
                <tr>
                    <td><b>AmazingDeals</b></td>
                </tr>
                <tr>
                    <td><?getStatsByType('1',$sku,$bdate,$edate,$addon,$addon_type,$addtables,$listid,$DB,$mysqlid);?></td>
                </tr>
                <?
            }
            else {
                 ?>
                <!--<tr>
                    <td><b>Ecom</b></td>
                </tr>-->
                <tr>
                    <td><?getStatsByType('0',$sku,$bdate,$edate,$addon,$addon_type,$addtables,$listid,$DB,$mysqlid);?></td>
                </tr>
                <?
            }
        }
        else {
            if($type == '1') {
                $stype='0';
            }
            elseif($type== '2') {
                $stype='1';
            }
            if($DB == 'ecom') {
                ?>
                <!--<tr>
                    <td><b>Ecom</b></td>
                </tr>-->
                <?
            }
            elseif($DB == 'butterfly' && $type == '1') {
                ?>
                <tr>
                    <td><b>ButterflyPhoto</b></td>
                </tr>
                <?
            }
            elseif($DB == 'butterfly' && $type == '2') {
                ?>
                <tr>
                    <td><b>AmazingDeals</b></td>
                </tr>
                <?
            }
             ?>
            <tr>
                <td><?getStatsByType($stype,$sku,$bdate,$edate,$addon,$addon_type,$addtables,$listid,$DB,$mysqlid);?></td>
            </tr>
            <?
        }
        ?>
        </table>
    </td>
</tr>


<?
function getStatsByType($type,$sku,$bdate,$edate,$addon,$addon_type,$addtables,$listid,$DB,$mysqlid) {
	
    $queryx = "select pid from fba_sku_map where fba_sku = '$sku'";
    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
    if(mysql_num_rows($qokx)>0) {
        list($pid) = mysql_fetch_array($qokx);
    }
    else {
       $pid = $sku;
    }
    
    $count_list = 1;
    if ($listid != '' && $listid != 'null')
	{
		$listid_arr = explode(',',$listid);
		if (count($listid_arr)>0) 
		{
			$addon_listx ="(";
			foreach ($listid_arr as $i)
			{
				$addon_listx .= " lid = '$i' OR ";
			}
			$addonx = substr($addon_listx,0,-4).")";
			$qa = "SELECT pid FROM list_products WHERE pid='".$pid."' AND ".$addonx;
			if(!$q4oka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
   			$count_list = mysql_num_rows($q4oka);
		}
	}
    
    
    $addon .= " AND amazon_order_reports_by_last_update_orders_items.type = '$type' ";
    $addon_type .= " AND amazon_order_reports_by_last_update_orders_items.type = '$type' ";
    
    if ($DB == 'sndkids') {
    	$pid_add = " amazon_order_reports_by_last_update_orders_items.sku='".$pid."' ";
    }
    else {
    	$pid_add = " amazon_order_reports_by_last_update_orders_items.pid='".$pid."' ";
    }
    
    
    $query = "select distinct(amazon_order_reports_by_last_update_orders.status) FROM 
    					amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders $addtables 
    				WHERE $pid_add AND
    					amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid
    					$addon 
    				GROUP BY amazon_order_reports_by_last_update_orders.status";
    if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
    ?>
        <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;float: left">
            <tr bgcolor='#eeeeee'>
                <td><b>Status</b></td>
                <td><b>QTY</b></td>
            </tr>
            <?
            while(list($amazon_order_status) = mysql_fetch_array($q4ok)) {
                if($amazon_order_status == 'Cancelled') {
                	$count_type = "count";
                }
                else {
                    $count_type = "sum";
                }
                $qx = "SELECT $count_type(amazon_order_reports_by_last_update_orders_items.qty) 
                				FROM amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders $addtables 
                		WHERE $pid_add AND 
                			  amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid AND
                				amazon_order_reports_by_last_update_orders.status='".$amazon_order_status."' $addon";
//                print_r($qx);
                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
                list($item_count) = mysql_fetch_array($q4okx);
                ?>
                    <tr>
                        <td><?=$amazon_order_status?></td>
                        <td><?=$item_count/$count_list?></td>
                    </tr>
                <?
            }
            ?>
        </table>
        
        <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;float: left">
            <tr bgcolor='#eeeeee'>
                <?
                $start_ts = strtotime("$bdate 00:00:00");
                $end_ts = strtotime("$edate 23:59:59");
                $diff = $end_ts - $start_ts;
                $nr_days =  ceil($diff / 86400);
                for ($i = ($nr_days-1); $i >=0 ; $i--)
                {
        //            $timestamp = time();
                    $timestamp = strtotime("$edate 23:59:59");
                    $tm = 86400 * $i; // 60 * 60 * 24 = 86400 = 1 day in seconds
                    $tm = $timestamp - $tm;
                    ?>
                        <td align=center class="sortable_numeric"><B><?=$the_date = date("m/d/Y", $tm);?></B></td>
                    <?

                }

                ?>
            </tr>
            <tr>
            <?
            for ($i = ($nr_days-1); $i >=0 ; $i--)
            {
                $timestamp = strtotime("$edate 23:59:59");
                $tm = 86400 * $i; // 60 * 60 * 24 = 86400 = 1 day in seconds
                $tm = $timestamp - $tm;

                $date_from = date("m/d/Y", $tm);
                $xxsdate = strtotime("$date_from 00:00:00");
                $xxedate = strtotime("$date_from 23:59:59");
                $qx = "SELECT sum(amazon_order_reports_by_last_update_orders_items.qty) 
                        FROM amazon_order_reports_by_last_update_orders,amazon_order_reports_by_last_update_orders_items 
                        WHERE $pid_add AND amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xxsdate."' AND 
                            amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xxedate."' AND 
                            amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid 
                             $addon_type";
                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
                list($qtyx) = mysql_fetch_array($q4okx);
                if($qtyx == '') {
                    $qtyx = 0;
                }
                ?>
                    <td align=center><?=$qtyx?></td>
                <?
            }
            ?>
            </tr>
        </table>
       <!-- <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;float: left">
            <tr>
                <td><b>Amazon Order Id</b></td>
                <td><b>Qty</b></td>
                <td><b>Date</b></td>
                <td><b>Date PST</b></td>
            </tr>
            <tr>
            <?
            $querya = "select amazon_order_reports_by_last_update_orders.orderid,amazon_order_reports_by_last_update_orders_items.qty,amazon_order_reports_by_last_update_orders.purchase_date,amazon_order_reports_by_last_update_orders.purchase_timestamp FROM amazon_order_reports_by_last_update_orders,amazon_order_reports_by_last_update_orders_items $addtables WHERE amazon_order_reports_by_last_update_orders_items.pid='".$pid."' AND amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid $addon";
            if(!$q4oka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
            while(list($amazon_order_id,$amazon_item_qty,$amazon_order_purchase_date_string,$purchase_timestamp) = mysql_fetch_array($q4oka)){
                ?>
                <tr>
                	<td align=center><?=$amazon_order_id?></td>
                	<td align=center><?=$amazon_item_qty?></td>
                	<td align=center><?=$amazon_order_purchase_date_string?></td>
                	<td align=center><?=date("Y-m-d H:i:s",UTCToPST($purchase_timestamp))?></td>
                </tr>
                <?
            }
            ?>
        </table>-->
    <?
}
function UTCToPST($time) {
    $dst = intval(date("I", $time));
    $tzOffset = intval(date('Z', time()));
    if ($tzOffset>0) {
    	$t = $tzOffset-28800;
    }
    else {
    	$t = 28800+$tzOffset;
    }
    return $time - $t;
//    return date($format, $time + $tzOffset - 28800 + $dst * 3600);
}
?>
