<div class="TabbedPanelsContent2">  
    <form name="addPO" method="post" action="" style="margin:0px">
        <table>
            <tr>
                <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.addPO, document.pereport);">Select All SKUs</td>
                <td>&nbsp;&nbsp;&nbsp;</td>


                <td><input type="button" name="Action" value="Add SKUs" class="buttonItem" onclick="addBulkItem2PO();"></td>
            </tr>
        </table>
    </form>		
</div>	