<?if($efc->getPermission("perm_pegrid")){?>
<div class="TabbedPanelsContent2">  
    <form name="pe3options" method="post" action="/mgt/pereport/amazon_grid.phtml" style="margin:0px">
        <input type="hidden" name="idlist" value="">
        <table>
        <tr>
                <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe3options, document.pereport);">Select All SKUs</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td class="g1"><div style="padding-top:3px"><B>Pick PL for FWS Calculation:</B></div></td>
                <td>
                        <select name="fws_price_level" class="formSelect">
                                <option value="-1">--- SELECT ----</option>
                                <option value="1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?></option>
                                <option value="2"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?></option>
                                <option value="3"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?></option>
                                <option value="4"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?></option>
                                <option value="5"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?></option>
                                <option value="6"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?></option>
                                <option value="7"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?></option>
                                <option value="8"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?></option>
                                <option value="9"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?></option>
                        </select>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE3Report();"></td>
        </tr>
        <tr>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td class="g1"><div style="padding-top:3px"><B>Use COST from vendor:</B></div></td>
                <td>
                        <select name="sourcing" class="formSelect">
                                <option value="-1">--- SELECT ----</option>
                                <?

                                $query = "select vendorid, vendorname from vendors order by vendorname";
                                if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
                                {
                                        if(strlen($x_vendorname) > 25)
                                        {
                                                $x_vendorname = substr($x_vendorname, 0, 22)."...";
                                        }
                                ?>
                                        <option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH_SKU"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
                                <?	
                                }
                                ?>
                        </select>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
        <tr>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>	
                <td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
                <td>
                        <select name="peid[]" class="formSelect">
                                <option value="a9">Amazon</option>
                        </select>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
        </tr>
        <tr>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;</td>	
                <td class="g1"><div style="padding-top:3px"><B>Acq fee:</B></div></td>
                <td>
                        <input type="text" name="acq_perc" value="" class="formBox" style="width:50px;" /> % / 
                        <input type="text" name="acq_val" value="" class="formBox" style="width:50px;" /> $ 
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
        </tr>
        </table>		
        </form>

</div>
<?}?>