<?
if($DB == "butterfly")
{
?>
<div class="TabbedPanelsContent2">  

    <form name="appoptions" method="get" action="/mgt/pereport/appgrid.phtml" style="margin:0px">
    <input type="hidden" name="idlist" value="">
    <table>
    <tr>
            <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe2options, document.pereport);">Select All SKUs</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
            <td><select name="peid[]" class="formSelect" MULTIPLE  size=7>
                    <option value="aj">AJ Madison</option>
                    <option value="he">Home Everything</option>
                    <option value="abe">Abes Of Maine</option>
                    <option value="apc">Appliance Connection</option>
                    <option value="rb">Rainbow Appliance</option>
                    <option value="pg">PriceGrabber</option>
                    </select>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>


            <td>
                    <input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doAppReport(0);">
                    <input type="button" name="Action" value="Run Extended Report" class="buttonItem" onclick="doAppReport(1);">
            </td>
    </tr>
    </table>		
    </form>

</div>			
<?
}
?>
<!---------------------------------------------------------------------------------------------->			

