<?
if($DB == "ecom")
{
?>
<div class="TabbedPanelsContent2">  
    <form name="spideroptions" method="get" action="/mgt/spiders/gateway.phtml" style="margin:0px">
        <input type="hidden" name="idlist" value="">
        <table>
            <tr>
                    <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.spideroptions, document.pereport);">Select All SKUs</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>

                    <td class="g1"><div style="padding-top:3px"><B>Reacquire:</B></div></td>
                    <td><input type="checkbox" name="f" value="re"/></select></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td class="g1"><div style="padding-top:3px"><B>View Cache:</B></div></td>
                    <td><input type="checkbox" name="f2" value="cache"/></select></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>


                    <td><input type="button" name="Action" value="Run Crawler" class="buttonItem" onclick="doSpiderReport();"></td>
                    <!--<td align=center><font face="Webdings" size=6>&#33;</font></td>-->
            </tr>
        </table>		
    </form>
</div>	
<?}?>