<div class="TabbedPanelsContent2">  
    <form name="kitreplace" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
    <input type="hidden" name="idlist" value="">
    <table>
    <tr>
            <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.kitreplace, document.pereport);">Select All SKUs</td>
            <td>&nbsp;&nbsp;&nbsp;</td>

            <td class="g1">			

            <table>
            <tr>
                    <td><B>New SKU (PID):</B></td>
                    <td>
                            <input type="text" name="newsku" value="" class="formBox" style="width:75px;text-align:right;">
                            <input type="button" name="Action" value="Replace" class="buttonItem" onclick="doFindReplace();">
                    </td>
            </tr>
            </table>
            </td>
    </tr>
    </table>
    If you searched for a Kit SKU (PID) and have results, you can replace the component you searched for in all  
    the resulting kits here.<BR>
    Leave the 'New SKU (PID)' blank to delete the components from the kits you have selected.
    <BR><BR>
    If you searched for a Acc. SKU (PID) and have results, you can replace the accessory you searched for in all
    the resuling products here.
            <BR>
    </form>
</div>