<div class="TabbedPanelsContent2">  
    <table>
        <tr>
            <td>
                    <form name="listoptions" method="post" action="/mgt/sm/add2list.phtml" style="margin:0px;">
                    <input type="hidden" name="idlist" value="">
                    <table>
                    <tr>
                            <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.listoptions, document.pereport);">Select All SKUs</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                    <select name="todo" class="formSelect">
                                    <option value="add">Add</option>
                                    <option value="remove">Remove</option>
                                    <?
                                    if($efc->getPermission("perm_edit_ebay"))
                                    {
                                            ?>
                                            <option value="rea">eBay - Remove/Erase/Add</optoin>							
                                            <?
                                    }
                                    ?>
                                    </select>
                            </td>	

                    </tr>
                    <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                    <select name="listid[]" class="formSelect" MULTIPLE  size=7>
                                    <?
                                    $query = "select lid, list_title from lists order by list_title";
                                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                    while(list($lid, $list_title) = mysql_fetch_array($qok))
                                    {
                                            ?>
                                            <option value="<?=$lid;?>"><?=$list_title;?></option>
                                            <?
                                    }
                                    ?>
                                    </select>					


                            </td>
                    </tr>	
                    <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td><input type="button" name="Action" value="Update List" class="buttonItem" onclick="add2List();"></td>
                    </tr>
                    </table>		
                    </form>
            </td>
            <td width="100px">&nbsp;</td>
            <td>
                    <form name="listoptions_custom" method="post" action="/mgt/sm/add2list_custom.phtml" style="margin:0px;float:left;">
                    <input type="hidden" name="idlist" value="">
                    <table>
                    <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td align="center">
                                    Add
                            </td>	
                            <td align="center">
                                    Remove
                            </td>	

                    </tr>
                    <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                    <select name="listid_add[]" class="formSelect" MULTIPLE  size=7>
                                            <option value="">--------</option>
                                    <?
                                    $query = "select lid, list_title from lists order by list_title";
                                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                    while(list($lid, $list_title) = mysql_fetch_array($qok))
                                    {
                                            ?>
                                            <option value="<?=$lid;?>"><?=$list_title;?></option>
                                            <?
                                    }
                                    ?>
                                    </select>					


                            </td>
                            <td>
                                    <select name="listid_remove[]" class="formSelect" MULTIPLE  size=7>
                                            <option value="">--------</option>
                                    <?
                                    $query = "select lid, list_title from lists order by list_title";
                                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                    while(list($lid, $list_title) = mysql_fetch_array($qok))
                                    {
                                            ?>
                                            <option value="<?=$lid;?>"><?=$list_title;?></option>
                                            <?
                                    }
                                    ?>
                                    </select>					


                            </td>
                    </tr>	
                    <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td colspan="2" align="center"><input type="button" name="Action" value="Update List" class="buttonItem" onclick="add2ListCustom();"></td>
                    </tr>
                    </table>		
                    </form>
            </td>
        </tr>
    </table>
</div>	