<?
if($DB == "ecom")
{
?>
<div class="TabbedPanelsContent2">  
    <form name="multipack" method="post" action="/mgt/sm/create_multipack_skus.phtml" style="margin:0px">
    <input type="hidden" name="selected_ids" id="selected_ids" value="">    
    <table>
        <tr>
            <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.multipack, document.pereport);">Select All SKUs</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>Multi Pack Qty:</td>
            <td><input type="text" name="multi_pack_qty" class="formBox" style="width:75px;"></td>
            <td>Parent Id:</td>
            <td><input type="text" name="parent_id" id="parent_id" class="formBox" style="width:75px;"></td>
            <td><input type="button" name="Action" value="Go" class="buttonItem" onclick="createMultiPackSkus()"></td>
            <td><img src="/mgt/images/loading.gif" id="multi_res_img" style="display:none"/></td>
            <td id="multi_res">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right">Ace:</td>
            <td><input type="checkbox" name="multipack_ace" id="multipack_ace" /> </td>
            <td>Dont issue UPC</td>
            <td><input type="checkbox" name="multipack_not_upc" id="multipack_not_upc" /> </td>
            <td colspan="3">&nbsp</td>
        </tr>
    </table>
    </form>	
    <table>
            <tr>
                <td>
                            <p id="f1_upload_process">Loading...<br/><img src="/mgt/images/loading.gif" /></p>
                                    <p id="result"></p>
                                    <form action="upload_upc_csv.phtml" method="post" enctype="multipart/form-data" target="upload_target" onsubmit="startUpload();" >
                                        Upload UPC Codes: 
                                        <input name="csv" type="file" />
                                        <input type="submit" name="submitBtn" value="Upload" />
                                    </form>
                                    <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>
                </td>
                <td style="vertical-align:middle">
                        <?
                                $query = "SELECT count(*) FROM multipack_upc_codes";
                                if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                list($nr_upc_codes) = mysql_fetch_array($qok);
                        ?>
                        &nbsp;&nbsp;&nbsp;&nbsp;UPC Codes: <?=$nr_upc_codes?>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:e2window('/mgt/sm/viewupc.phtml', 'UPC Codes','');">view</a>
                </td>
            </tr>
                <tr>
                <td>
                    <p id="f2_upload_process">Loading...<br/><img src="/mgt/images/loading.gif" /></p>
                    <p id="result2"></p>
                    <form action="delete_upc_csv.phtml" method="post" enctype="multipart/form-data" target="upload_target" onsubmit="startUpload2();" >
                        Delete UPC Codes: 
                        <input name="csv" type="file" />
                        <input type="submit" name="submitBtn" value="Upload" />
                    </form>
                    <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>
                </td>
                <td style="vertical-align:middle">
                        &nbsp;
                </td>
            </tr>
    </table>	
</div>
<?}?>