<?
if($efc->getPermission("perm_pegrid")){?>
<div class="TabbedPanelsContent2">  
    <form name="pe2options" method="post" action="/mgt/pereport/pegrid2.phtml" style="margin:0px">
        <input type="hidden" name="idlist" value="">
        <table>
            <tr>
                    <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe2options, document.pereport);">Select All SKUs</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>

                    <td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
                    <td><select name="peid[]" class="formSelect" MULTIPLE  size=7>
                            <option value="pg">PriceGrabber</option>
                            <option value="bo">Bountii</option>
                            <option value="cn">C|Net Shopper</option>
                            <option value="dt">Shopping.com</option>
                            <option value="br">BizRate.com</option>
                            <option value="ys">Yahoo Shopping</option>
                            <option value="am">Amazon</option>
                            <option value="nt">NexTag</option>
                            <option value="fr">Froogle</option>
                            <option value="f2">Froogle (grp)</option>
                            <option value="pw">PriceWatch</option>
                            </select>
                    </td>
                    <td>
                        &nbsp;<input type="checkbox" name="kit_addon" value="1">Kit Extension&nbsp;
                    </td>
                    <td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE2Report();"></td>
            </tr>

            <tr>
                    <td colspan=3>&nbsp;</td>

                    <td colspan=6>
                            <input type="radio" name="coption" value="ignore">Ignore Missing Crawler IDs
                            <input type="radio" name="coption" value="acquire" CHECKED>Acquire Missing CrawlerIDs
                            <input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
                    </td>

            </tr>	
        </table>		
    </form>
</div>
<?}?>