<?
if($DB == "ecom")
{
?>
<div class="TabbedPanelsContent2">  
    <form name="pid_converter" method="post" action="/mgt/sm/pid_converter.phtml" style="margin:0px">
        <input type="hidden" name="converter_selected_ids" id="_converter_selected_ids" value="">    
        <table>
            <tr>
                <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pid_converter, document.pereport);">Select All SKUs</td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>issue UPCs <input type="checkbox" name="issue_upc" id="issue_upc"></td>
                <td>Create Children for Parent ID:</td>
                <td><input type="text" name="parent_id" id="parent_id" class="formBox" style="width:75px;"></td>
                <td><input type="button" name="Action" value="Go" class="buttonItem" onclick="pidConverter()"></td>
                <td><img src="/mgt/images/loading.gif" id="converter_res_img" style="display:none"/></td>
                <td id="converter_res">&nbsp;</td>
            </tr>
        </table>
    </form>	
</div>
<?}?>