<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$addon = $addtables = "";
if($pid != "") {
    $addon .=" AND product_reviews.pid = '$pid' ";
}
$stars = substr($stars, 0,-1);
if ($stars != '') {
    $stars_arr = explode(',',$stars);
    if (count($stars_arr)>0) {
	    $addonstars =" AND ( ";
	    foreach ($stars_arr as $i) {
		if($i>0) {
		    $addonstars .= " product_reviews.rev_stars = '$i' OR ";
		}
	    }
	    $addon .= substr($addonstars,0,-4).")";
    }

}
//if($stars != "") {
//    $addon .=" AND product_reviews.rev_stars = '$stars' ";
//}
if($assignedto != "") {
    $addon .=" AND product_reviews_info.rev_assigned = '$assignedto' ";
}
if($status != "") {
    $addon .=" AND product_reviews_info.rev_status = '$status' ";
}
$keywords = str_replace('^','#',$keywords);
if(strlen($keywords) >= 2)
{
	$wordlist = explode(" ", $keywords);
	$kwpart = " AND (";
	for($xx = 0; $xx < count($wordlist); $xx++)
	{
		$thisword = $wordlist[$xx];
		$kwpart .= "product_reviews.rev_ptitle like '%$thisword%' OR ";
		
		if (is_numeric($thisword)) {
			$kwpart .= " product_reviews.pid = '$thisword' OR ";
		}
		
	}
	$kwpart = substr($kwpart, 0,-4);
	$kwpart .= ")";
	$addon .= $kwpart;
}
if($disable_range != "true")
{
	if($bdate != "") $addon .= " AND product_reviews.rev_timestamp >= '".strtotime("$bdate 00:00:00")."'";
	if($edate != "") $addon .= " AND product_reviews.rev_timestamp <= '".strtotime("$edate 23:59:59")."'";
}

if($listid != '') {
    $addtables .= "INNER JOIN list_products ON list_products.lid='$listid' AND list_products.pid=product_reviews.pid";
}
$query = "SELECT   product_reviews.asin,
		    product_reviews.pid,
		    product_reviews.rev_id,
		    product_reviews.rev_title,
		    product_reviews.rev_stars,
		    product_reviews.rev_date,
		    product_reviews.rev_timestamp,
		    product_reviews.rev_user,
		    product_reviews.rev_verified,
		    product_reviews.rev_ptitle,
		    product_reviews.rev_details,
		    product_reviews.avb,
		    product_reviews.rev_top,
		    product_reviews.rev_realname,
		    product_reviews.rev_fame,
		    product_reviews.rev_color,
		    product_reviews.rev_size,
		    product_reviews_info.rev_assigned,
		    product_reviews_info.rev_ordernr,
		    product_reviews_info.rev_phone,
		    product_reviews_info.rev_email,
		    product_reviews_info.rev_notes,
		    product_reviews_info.rev_status
		from product_reviews
		LEFT JOIN product_reviews_info ON product_reviews.rev_id=product_reviews_info.rev_id 
		$addtables
		WHERE 1 
		$addon
		";

//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;

if(intval($num2return) <= 0)
	$num2return = 50;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No Reviews Found</I>~<B><I>No Reviews Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>

<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Reviews on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>

<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center><b>PID</b></td>
	<td align=center><b>Title</b></td>
	<td align=center><b>Color</b></td>
	<td align=center><b>Size</b></td>
	<td align=center><b>Date</b></td>
	<td align=center><b>Star</b></td>
	<td align=center><b>Rev. Title</b></td>
	<td align=center><b>Rev. Details</b></td>
	<td align=center><b>Name</b></td>
	<td align=center><b>Verified</b></td>
	<td align=center><b>Info</b></td>
	<td align=center><b>Status</b></td>
	<td align=center><b>AmazonOrder</b></td>
	<td align=center><b>Notes</b></td>
	<td align=center><b>Reminder</b></td>
</tr>	
<?

$assigntoArr = array();
$querya = "select id, displayname from users order by displayname";
if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($x_userid, $x_displayname) = mysql_fetch_array($qoka))
{
    array_push($assigntoArr, array('id'=>$x_userid,"name"=>$x_displayname));
}

$onrow = 0;
	while((list($asin,$pid,$rev_id,$rev_title,$rev_stars,$rev_date,$rev_timestamp,$rev_user,$rev_verified,$rev_ptitle,$rev_details,$avb,$rev_top,$rev_realname,$rev_fame,$color,$size,$rev_assigned,$rev_ordernr,$rev_phone,$rev_email,$rev_notes,$rev_status) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
        {
            if($onrow % 2) {
                    echo "<tr bgcolor='#eeeeee'>";
            }
            else {
                    echo "<tr bgcolor='#ffffff'>";
            }
	    if($rev_stars == '1') {
		$stars_class = 'stars1';
	    }
	    if($rev_stars == '2') {
		$stars_class = 'stars2';
	    }
	    if($rev_stars == '3') {
		$stars_class = 'stars3';
	    }
	    if($rev_stars == '4') {
		$stars_class = 'stars4';
	    }
	    if($rev_stars == '5') {
		$stars_class = 'stars5';
	    }
            ?>
		    <td align=center><a href="javascript:showMenu('<?=$rev_id?>','<?=$pid?>')" id='item_<?=$rev_id?>'><?=$pid?></a></td>
                    <td align=center><?=$rev_ptitle?></td>
		    <td align=center><?=$color?></td>
                    <td align=center><?=$size?></td>
                    <td align=center><?=date('m-d-Y',$rev_timestamp)?></td>
                    <td align=center><a href="http://www.amazon.com/Blue-Donuts-Bronze-prevent-leakage/product-reviews/<?=$asin?>/ref=cm_cr_dp_see_all_btm?ie=UTF8&pageNumber=1&showViewpoints=1&sortBy=bySubmissionDateDescending" target="_blank" class="rating <?=$stars_class?>"></a></td>
                    <td align=center><?=$rev_title?></td>
		    <td align=center><?=$rev_details?></td>
                    <td align=center><?=$rev_user?></td>
		    <td align=center><?if($rev_verified == '1') echo "Y"; else echo "N";?></td>
		    <td>
			<table>
			    <tr>
				<td>AssignedTo:</td>
				<td align=center>
				    <select name="assignedto" id="assignedto_<?=$rev_id?>" class="formSelect">
					<option value="-1">--- SELECT ----</option>
					<option value="UN">Unassigned</option>
					<?
					foreach ($assigntoArr as $user)
					{
					?>
						<option value="<?=$user['id'];?>" <?if($user['id'] == $rev_assigned) echo "SELECTED";?>><?=$user['name'];?></option>
					<?	
					}
					?>
				    </select>
				</td>
			    </tr>
			    <tr>
				<td>Status:</td>
				<td align=center>
				    <select name="status" id="status_<?=$rev_id?>" class="formSelect">
					<option value="">--- SELECT ----</option>
					<?
					$statusArr = array('1','2','3','4','5','6');
					foreach ($statusArr as $status)
					{
					?>
						<option value="<?=$status;?>" <?if($status == $rev_status) echo "SELECTED";?>><?=$status;?></option>
					<?	
					}
					?>
				    </select>
				</td>
			    </tr>
			    <tr>
				<td>OrderNr.:</td>
				<td align=center><input type="text" id="ordernr_<?=$rev_id?>" name="ordernr" value="<?=$rev_ordernr?>" style="width:100px" class="formBox" /></td>
			    </tr>
			    <tr>
				<td>Phone:</td>
				<td align=center><input type="text" id="phone_<?=$rev_id?>" name="phone" value="<?=$rev_phone?>" style="width:100px" class="formBox" /></td>
			    </tr>
			    <tr>
				<td>Email:</td>
				<td align=center><input type="text" id="email_<?=$rev_id?>" name="email" value="<?=$rev_email?>" style="width:100px" class="formBox" /></td>
			    </tr>
			    <tr>
				<td colspan="2" align='center'>
				    <a href="javascript:saveInfo('<?=$rev_id?>')">Save</a>
				    <img src="/mgt/images/loading.gif" id='saveimg_<?=$rev_id?>' style="display:none"/>
				</td>
			    </tr>
			</table>
		    </td>
		    <td align=center>&nbsp;</td>
		    <td align=center id='amazonorder_<?=$rev_id?>'>
			<?if($rev_ordernr !='') {
			    ?>
			    <a href="javascript:showMenu2('<?=$rev_id?>','<?=$rev_ordernr?>')" id='amazonorderlink_<?=$rev_id?>'><?=$rev_ordernr?></a>
			    <?    
			}
			?>
		    </td>
		    <td align=center>
			<textarea id="notes_<?=$rev_id?>" name="notes" style="width:100px;height:100px" class="formBox" ><?=$rev_notes?></textarea>
		    </td>
		    <td align=center>&nbsp;</td>
            </tr>	

            <?
            $numout++;
            $onrow++;
        }
?>
</table>

<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Reviews on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>

