<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

ini_set('memory_limit', '-1');
set_time_limit(9999999999);


$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_price_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonca/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');      

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select id from amazon_ca_feed_report where type = 'SHIPPING' and complete = '0'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) > 0)
{
	$query = "select tstamp from amazon_ca_feed_report where type = 'SHIPPING' order by tstamp desc limit 0, 1";
	if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($tstamp) = mysql_fetch_array($q3ok);
	$feedage = (time() - strtotime($tstamp)) / 60;
	if($feedage > 120)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		$query = "update amazon_ca_feed_report set complete = 1 where id = '$feedreportid'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "Reset feed $feedreportid\n";
	}
	else 
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_ca_log(title, tstamp) values('Shipping Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanada", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanada", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanada", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanada", "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanada", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Override</MessageType>

";


$usequantity = -1;
$qty_control = 100;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed

$price_level = $efc->getConfigValue("AmazonCanada", "PRICE_LEVEL");

$query = "select distinct(amazon_ca_base_messages.pid), amazon_ca_base_messages.mid, product_list.lastupdate 
			from amazon_ca_base_messages, product_list
			where 
			amazon_ca_base_messages.pid_lastupdate != product_list.lastupdate AND
			amazon_ca_base_messages.pid = product_list.id AND
			amazon_ca_base_messages.mid NOT IN (select mid from amazon_ca_errors) group by amazon_ca_base_messages.pid";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from amazon_ca_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	exit;
}

$numout = 0;
$mid = 0;

while(list($pid, $messageid, $lastupdate) = mysql_fetch_array($q2ok))
{
	$query = "select am_std_ship, am_exp_ship from product_list where id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($am_std_ship, $am_exp_ship) = mysql_fetch_array($qok);
	
	echo "PID: $pid - STD: $am_std_ship EXP: $am_exp_ship\n";
	
	//if(floatval($am_std_ship) > 0.00)
	{
		$mid++;
		$numout++;
		$data .= "<Message> 
				<MessageID>$mid</MessageID> 
				<OperationType>Update</OperationType> 
				<Override> 
					<SKU>$pid</SKU> 
					<ShippingOverride> 
						<ShipOption>Std Cont US Street Addr</ShipOption> 
						<Type>Exclusive</Type> 
						<ShipAmount currency=\"CAD\">$am_std_ship</ShipAmount>
					</ShippingOverride> 
				</Override> 
			</Message>";
	}
	
	if(floatval($am_exp_ship) > 0.00)
	{
		$mid++;
		$numout++;
		$data .= "<Message> 
					<MessageID>$mid</MessageID> 
					<OperationType>Update</OperationType> 
					<Override> 
						<SKU>$pid</SKU> 
						<ShippingOverride> 
							<ShipOption>Exp Cont US Street Addr</ShipOption> 
							<Type>Exclusive</Type> 
							<ShipAmount currency=\"CAD\">$am_exp_ship</ShipAmount>
						</ShippingOverride> 
					</Override> 
				</Message>";
	}

	if( (floatval($am_std_ship) > 0.00) || (floatval($am_exp_ship) > 0.00) )
	{
		$query = "insert into amazon_ca_log_extended_skus(lid, pid) values('$logid', '$pid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
}

$data .= "</AmazonEnvelope>\n";


if($numout <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from amazon_ca_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	exit;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$filename = "/tmp/amazonca/price.".date("Ymd-His", time()).".xml";
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) 
{
	$query = "insert into amazon_ca_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else 
{
	$query = "insert into amazon_ca_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

echo "AWS_ACCESS_KEY_ID: ".AWS_ACCESS_KEY_ID."\n";
echo "AWS_SECRET_ACCESS_KEY: ".AWS_SECRET_ACCESS_KEY."\n";
echo "MARKETPLACE_ID: ".MARKETPLACE_ID."\n";
echo "MERCHANT_ID: ".MERCHANT_ID."\n";

$service = new MarketplaceWebService_Client(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, $config, APPLICATION_NAME, APPLICATION_VERSION);

$feedHandle = fopen($filename, "r");

if(!$feedHandle)
{
	echo "Error opening file\n";
	exit;
}

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_OVERRIDES_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);


try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_ca_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_ca_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_ca_reportid\n";
	echo "REQUESTID: $amazon_ca_requestid\n";
	
	if($amazon_ca_reportid != "" || $amazon_ca_requestid != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_ca_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('SHIPPING', '$tstamp', '$amazon_ca_reportid', '$amazon_ca_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update amazon_ca_log set requestid = '$amazon_ca_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}

fclose($feedHandle);

unlink($filename);
?>
<?mysql_close();?>