<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_price_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonca/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');      

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function canWeListPID($mysqlid, $DB, $pid)
{
	if($DB == "butterfly")
	{
		echo "Can List\n";
		return true;
	}
	if($DB == 'ecom') {
        // its been translated
            $query = "select sp_managed from superpricer where pid = '$pid' and sp_type='amazon_canada'";	
            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            if(mysql_num_rows($qok) > 0)
            {
                list($managed) = mysql_fetch_array($qok);
                if($managed == '1') {
                    echo "Cannot List Superpricer managed \n";
                    return false;
                }
            }
	}	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// get the warehouseID of the FBA warehouse
/*	$query = "select config_value from configuration where config_group = 'eFluent Settings' and config_key = 'FBA'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_warehouse) = mysql_fetch_array($qok);
	
	// see if its in the FBA warehouse
	$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fba_warehouse'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_inventory) = mysql_fetch_array($qok);

	$query = "select sku from fba_ca_skus where sku = '$pid' and lastupdate = '9'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		// if it ain't in stock in the FBA warehouse....... then we can list it on amazon
		if(intval($fba_inventory) <= 0) return true;
	}*/
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
	// its in the fba_ca_skus list
	$query = "select sku from fba_ca_skus where sku = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		echo "Cannot List Type #1\n";
		return false;
	}
		
	// its been translated
	$query = "select pid from fba_sku_map where fba_sku = '$pid'";	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		echo "Cannot List Type #2\n";
		return false;
	}
	
	echo "Can List\n";
	
	return true;
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanada", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanada", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanada", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanada", "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanada", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Price</MessageType>

";


$usequantity = -1;
$qty_control = 100;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed

$price_level = $efc->getConfigValue("AmazonCanada", "PRICE_LEVEL");


$addonShipping = $efc->getConfigValue("AmazonCanada", "addonShipping");
$addonDuties = $efc->getConfigValue("AmazonCanada", "addonDuties");

$addonShippingValues = explode('],[',$addonShipping);

foreach ($addonShippingValues as $k=>$v) {
    $tmp = str_replace('[', '', $v);
    $tmp = str_replace(']', '', $tmp);
    
    $tmp1 = explode(',',$tmp);
    $perpound = explode('(',$tmp1[2]);
    
    $x = array();
    $x['weight_min'] = $tmp1[0];
    $x['weight_max'] = $tmp1[1];
    $x['addon_val'] = $perpound[0];
    $x['addon_val_per_pound'] = str_replace(')', '', $perpound[1]);
    
    $addonShippingValues[$k] = $x;
}

//print_r($addonShippingValues);

function getNewPrice($weight,$price,$addonValues,$addonValuesPercent,$pid,$DB,$mysqlid) {
    $query = "select sp_managed from superpricer where pid = '$pid' AND sp_type='amazon_canada'";	
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($qok) > 0)
    {
        list($managed) = mysql_fetch_array($qok);
        if($managed == '1') {
            return $price;
        }
    }
    
    $xprice = $price/3;
    if ($xprice>=20) {
    	$addonDut = $price*$addonValuesPercent/100;
    }
    else {
    	$addonDut = 0;
    }
    $newprice = $price;
    foreach ($addonValues as $k=>$v) {
        if($weight>= $v['weight_min'] && $weight<= $v['weight_max']) {
            $newprice = $price +$addonDut+$v['addon_val']+($weight*$v['addon_val_per_pound']);
        }
    }
    return $newprice;
}


$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG"); // child
$alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT"); // parent
$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID"); // id parent pt kids



/*
			amazon_ca_base_messages.price != product_prices.price_level$price_level AND
*/

$query = "select distinct(amazon_ca_base_messages.pid), amazon_ca_base_messages.mid, product_list.lastupdate 
			from amazon_ca_base_messages, product_list, product_prices
			where 
			product_list.id = product_prices.id AND
			amazon_ca_base_messages.pid = product_list.id AND
			amazon_ca_base_messages.campid > 0 AND
			amazon_ca_base_messages.mid NOT IN (select mid from amazon_ca_errors) and amazon_ca_base_messages.pid =640480 group by amazon_ca_base_messages.pid";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) <= 0)
{
	echo "No Products to update\n";
	

	exit;
}

$numlisted = 0;

while(list($pid, $messageid, $lastupdate) = mysql_fetch_array($q2ok))
{
	if( (canWeListPID($mysqlid, $DB, $pid) == true) && ($efc->getConfigValue("AmazonFBAC", "EXCLUSIVE_PRICING") == 0) )
	{
		
		$query = "select shipweight from product_list where id = '$pid'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($shipweight) = mysql_fetch_array($qok);
		if ($shipweight == 0 || $shipweight == '') {
			$query_verify = "SELECT COUNT(pid) FROM custom_values WHERE cfid = '$alt_sku_flag' AND pid = '$pid' AND text_short = '1'";
			if(!$qok_verify = mysql_db_query($DB, $query_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			list($count_verify) = mysql_fetch_array($qok_verify);
			if ($count_verify > 0)
			{
				$query_childrens = "SELECT text_short FROM custom_values WHERE cfid = '$alt_sku_parentid' AND pid = '$pid'";
				print_r($query_childrens);
				if(!$qok_childrens = mysql_db_query($DB, $query_childrens, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				list($parent_pid) = mysql_fetch_array($qok_childrens);
				
				$query = "select shipweight from product_list where id = '$parent_pid'";
		        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		        list($shipweight) = mysql_fetch_array($qok);
				
			}
		}
			
				
                
                if ($shipweight == 0 || $shipweight == '') {
                     echo "WEIGHT IS 0 : $pid\n";
                }
                else {
                    $query = "select price_level$price_level, price_map from product_prices where id = '$pid'";
                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($price, $price_map) = mysql_fetch_array($qok);
                    if($price > 0 ) {
                        $new_price = number_format(getNewPrice($shipweight,$price,$addonShippingValues,$addonDuties,$pid,$DB,$mysqlid),2);
                        $new_price_map = number_format(getNewPrice($shipweight,$price_map,$addonShippingValues,$addonDuties,$pid,$DB,$mysqlid),2);
                    }
                    else {
                        $new_price = 0;
                        $new_price_map = 0;
    //                    $query = "select price_level3, price_map from product_prices where id = '$pid'";
    //                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    //                    list($price, $price_map) = mysql_fetch_array($qok);
    //                    $new_price = number_format(getNewPrice($shipweight,$price,$addonShippingValues,$addonDuties),2);
    //                    $new_price_map = number_format(getNewPrice($shipweight,$price_map,$addonShippingValues,$addonDuties),2);
                    }
                    if($new_price <= 0 ) {
                        echo "PRICE IS 0 : $pid\n";
                    }
                    else {
                        $numlisted++;
        //		echo "$shipweight - $price - $addonShippingValues - $addonDuties\n";
                        echo "PID: $pid - $new_price\n";

                        $query = "select custom_values.text_short from custom_fields, custom_values where custom_fields.id = custom_values.cfid and custom_fields.name = 'AMZ Add to Cart' and custom_values.pid = '$pid'";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        list($amz_add2cart) = mysql_fetch_array($qok);

                        if(intval($amz_add2cart) > 0)
                        {
                                $data .= "<Message> 
                                        <MessageID>$messageid</MessageID> 
                                        <Price> 
                                                <SKU>$pid</SKU> 
                                                <StandardPrice currency=\"CAD\">$new_price</StandardPrice> 
                                                <MAP currency=\"CAD\">$new_price_map</MAP> 
                                        </Price> 
                                </Message>";
                        }
                        else 
                        {
                                $data .= "<Message> 
                                        <MessageID>$messageid</MessageID> 
                                        <Price> 
                                                <SKU>$pid</SKU> 
                                                <StandardPrice currency=\"CAD\">$new_price</StandardPrice> 
                                        </Price> 
                                </Message>";
                        }
                    }
                }
	}
	else
	{
		echo "EXCLUSIVE_PRICING: $pid\n";
	}
	
}

$data .= "</AmazonEnvelope>\n";
print_r($data);
?>
<?mysql_close();?>