<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: create_base_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonca/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if(intval($DEBUG) != 1)
{
	$query = "select id from amazon_ca_feed_report where type = 'BASE' and complete = '0'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($q2ok) > 0)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_ca_log(title, tstamp) values('Base Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$brid = "";

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/********************************************************************************************/
$mid = 1;

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanada", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Product</MessageType>
";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$numout = 0;


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PRODUCTS TO REMOVE
$query = "select mid, campid, pid, listid, asin from amazon_ca_base_messages where asin != ''";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($mid, $campid, $pid, $listid, $asin) = mysql_fetch_array($q9ok))
{
	echo "\nRemoving: PID: $pid LISTID: $listid [ASIN: $asin]\n";
				
	$skudata = $amClass->RemoveProduct($pid, $asin);	
		
	if($skudata != "")
	{
		$numout++;
			
		$skudata = str_replace("#mid#", "$mid", $skudata);
		$data .= $skudata;
	}
}

$data .= "</AmazonEnvelope>\n";

$filename = "/tmp/amazonca/basefeed.".date("Ymd-His", time());
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

if(intval($DEBUG) == 1)
{
	echo "CHECK FILE => $filename\n";
	exit;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// check the validity of the xml file we just created
$cmd = "/usr/bin/xmllint --recover $filename > $filename.xml"; // XMLLINT will fix any broken xml formatting (THANK GAWD)
exec($cmd);

unlink($filename); // remove the old file
$filename = $filename . ".xml"; // append the XML

if(filesize($filename) <= 10)
{
	echo "XML VALIDATION FAILED";
	
	$query = "delete from amazon_ca_base_requests where brid = '$brid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	$query = "delete from amazon_ca_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	exit;
	
}
else 
{
	echo "XML VALIDATION SUCCESSFUL\n";
}
/////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) // if its < 5mb
{
	$query = "insert into amazon_ca_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	copy($filename, $ROOT_DIR."/mgt/amazonca/logs/basefeed_$brid.xml");
}
else 
{
	$query = "insert into amazon_ca_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanada", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanada", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanada", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanada", "MARKETPLACE_ID"));
/********************************************************************************************/


$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

$service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
 
$feedHandle = fopen($filename, "r");

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_ca_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_ca_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_ca_reportid\n";
	echo "REQUESTID: $amazon_ca_requestid\n";
	
	if($amazon_ca_reportid != "" || $amazon_ca_requestid != "")
	{
		$query = "update amazon_ca_base_requests set amazon_ca_submissionid = '$amazon_ca_reportid', amazon_ca_requestid = '$amazon_ca_requestid' where brid = '$brid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_ca_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('BASE', '$tstamp', '$amazon_ca_reportid', '$amazon_ca_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update amazon_ca_log set requestid = '$amazon_ca_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     
fclose($feedHandle);

//echo "GO CHECK => $filename\n";
unlink($filename);
?>
<?mysql_close();?>