<?
ini_set('display_errors',1);
error_reporting(E_ALL);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonca/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

function cleanVar($data)
{
	return preg_replace('/[\x00-\x1F\x80-\xFF]/', '', $data);
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$bulletpoints = "";
$query = "select feature from product_features where feature != '' and id = '$pid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($feature) = mysql_fetch_array($q2ok))
{
	$numbullet++;
			
	if($numbullet < 5)
	{
		$feature = htmlentities( cleanVar($feature) );
		$bulletpoints .= "<BulletPoint>$feature</BulletPoint>";
	}
}

echo $bulletpoints;

echo "<BR><BR>";

echo cleanVar("This's my test string, 52\" bitch!");
?>
<?mysql_close();?>