<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

$result_message = "";

$errormsg1 = $errormsg2 = $errormsg3 = 'none';
if($action == 'send_contact') {
    $contactname = $sc->sanitizeInput($contactname);
    $email_addr = $sc->sanitizeInput($email_addr);
    $enquiry = $sc->sanitizeInput($enquiry);
	$reason = $sc->sanitizeInput($reason);
	$noerror = 1;

	$auth_token   = "f8f736565d6a935c2e8441aac14c436d";
	$subject      = "Customer Support";
	$case_origin  = "Email";
	$status       = "Open";
	$email        = $email_addr;
	$case_owner   = "Curtis Thiel";
	$reported_by  = $contactname;
	$related_to   = $contactname;
	$description  = $enquiry;
	$phone        = $_POST['phone'];
	$url = 'https://crm.zoho.com/crm/private/xml/Cases/insertRecords?authtoken='.$auth_token.'&scope=crmapi&newFormat=1&xmlData=<Cases><row no="1"><FL val="Subject">'.$subject.'</FL><FL val="Case Origin">'.$case_origin.'</FL><FL val="Status">'.$status.'</FL><FL val="Email">'.$email.'</FL><FL val="Reported By">'.$reported_by.'</FL><FL val="Related To">'.$related_to.'</FL><FL val="Description">'.$description.'</FL><FL val="Phone">'.$phone.'</FL><FL val="Account Name">'.$email.'</FL><FL val="Case Reason">'.$reason.'</FL></row></Cases>';
	$sxml = simplexml_load_file($url);
	$message       = $sxml->result->message;
	$id            = $sxml->result->recorddetail->FL[0];
	$created_time  = $sxml->result->recorddetail->FL[1];
	$modified_time = $sxml->result->recorddetail->FL[2];
	
	
    if(trim($contactname) == '') {
        $errormsg1 = 'block';
		$noerror = 0;
    }
    else {
        $errormsg1 = 'none';  
    }
    if(trim($email_addr) == '') {
		$noerror = 0;
        $errormsg2 = 'block';
    }
    else {
        $errormsg2 = 'none';  
    }
    if($enquiry == '') {
		$noerror = 0;
        $errormsg3 = 'block';
    }
    else {
        $errormsg3 = 'none';  
    }
	
	if($noerror == 1)
	{
	////////////////////////////////////////////////////////////////////
		ob_start();
		
		$emailbody = "Contact Name: $contactname\n<BR>";
		$emailbody .= "Email Address: $email_addr\n<BR>";
		$emailbody .= "Message: $enquiry\n<BR>";
		
		$mail = new PHPMailer();
		$mail->IsSMTP(); // telling the class to use SMTP
		$mail->Host = $efc->getConfigValue("Email Settings", "SMTP");; // SMTP server
		if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
		{
			if( intval($efc->getConfigValue("Email Settings", "NOAUTH")) == 0)
			{
				$mail->SMTPAuth = true;
				$mail->SMTPSecure = $efc->getConfigValue("Email Settings", "SMTPSECURE");
			}
			else 
			{
				$mail->SMTPAuth = false;
			}
			
			$port = $efc->getConfigValue("Email Settings", "SMTPPORT");
			if ($port != '') 
			{
				$mail->Port = $port;
			}
			
			$mail->AuthType = "";//CRAM-MD5
			$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER_C");
			$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS_C");
		}
		else 
		{
			$mail->SMTPAuth = false;
		}
		
		$mail->From     = $email_addr;
		$mail->AddReplyTo  = $email_addr;
//		$mail->From     = "rawworldservice@gmail.com";
		$mail->FromName = $contactname;

		$mail->AddAddress("support@therawfoodworld.com");
		$mail->AddBCC('support@trfwi.com');
		//$mail->AddAddress("Stephen.redding31@gmail.com");
//		$mail->AddAddress("yancey@efluent.com");
//		$mail->AddAddress("chende_cristian@yahoo.com");

		
		$mail->IsHTML(true);	


		$mail->Subject =$reason." - "." Question for The Raw Food World";
		$mail->Body = html_entity_decode( $emailbody );
		$mail->SMTPDebug = 2;

		if(!$mail->Send())
		{
			$errormsg4 = "block";
			echo "Error: ".$mail->ErrorInfo."\n";
			$result_message = "There was an error sending your email.\n";
		}
		else 
		{
			$errormsg4 = "block";
			$result_message = "Your email was successfully sent.\n";
			echo "OK";
		}	
		$results = ob_get_clean();
	////////////////////////////////////////////////////////////////////		
	}

}
include($ROOT_DIR."/include/header.phtml");
?>



<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/contact.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

