<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Ship Orders (starbestbuy.com)</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function pullOrder()
{
	var dlg = document.getElementById("shipdata");
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	var po = document.shiporder.po.value;
  	if (po == '')
  	{
  		alert('Please write PO number.');
		dlg.innerHTML = "";
  		return false;
  	}

	var upc = document.shiporder.upc.value;
   	if (upc == '')
  	{
  		alert('Please write UPC number.');
		dlg.innerHTML = "";
  		return false;
  	}
  	
  	var url = "/mgt/ship/ship_sbb/ajax_pullorder.phtml";
	url += "?po="+po;
	url += "&upc="+upc;
	url += "&sid="+Math.random();
  	
	//window.open(url);
	
  	xml2Http.onreadystatechange=gotOrder;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);			
}

function gotOrder()
{
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("shipdata");
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
	}		
}

function clearData() 
{
	document.shiporder.po.value = "";
	document.shiporder.upc.value = "";
	document.getElementById('shipdata').innerHTML = "";
}
</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Ship Orders</B>
		<BR><BR>
		
		<form name="shiporder" onsubmit="return false;">
		<table width="300px">
		<tr>
			<td width=30% align=right><B>PO Number:</B></td>
			<td width=70% align=left><input type="text" class="formBox" name="po" value=""></td>
		</tr>
		<tr>
			<td width=30% align=right><B>UPC:</B></td>
			<td width=70% align=left><input type="text" class="formBox" name="upc" value=""></td>
		</tr>
		<tr>
			<td width=50% align=center><input type="button" name="reset" value="Clear" onclick="clearData();"></td>
			<td width=50% align=center><input type="button" name="get_orders" onclick="pullOrder();" value="Get orders"></td>
		</tr>
		</table>
		</form>
		<table width=100%>
		<tr>
			<td width=100% align=center>
			<form name="shipitems" method="POST" action="/mgt/ship/autoship/shiporder_starbestbuy.phtml">
			<div id="shipdata"></div>
			</form>
			</td>
		</tr>
		</table>		
		
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>