<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

	function sanitizeInput($data) 
	{
		$data = str_replace("\"", "", $data);
		$data = str_replace("'", "", $data);
		$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);
		
		return $data;
	}
	
	
function addOn($newpart, $addon)
{
	if($addon == "")
		return "WHERE $newpart";
		
	$addon .= " AND ".$newpart." ";
	
	return $addon;
}


if(intval($nosave) == 1)
{
}
else 
{
	$_SESSION["PO_SAVEDSEARCH"]['num2return'] = $num2return;
	$num2return = sanitizeInput($num2return);

	$_SESSION["PO_SAVEDSEARCH"]['status'] = $status;
	$status = sanitizeInput($status);
	
	$_SESSION["PO_SAVEDSEARCH"]['poid'] = $poid;
	$poid = sanitizeInput($poid);
	
	$_SESSION["PO_SAVEDSEARCH"]['poref'] = $poref;
    $poref = sanitizeInput($poref);
	
	$_SESSION["PO_SAVEDSEARCH"]['vendorref'] = $vendorref;
    $vendorref = sanitizeInput($vendorref);
	
	$_SESSION["PO_SAVEDSEARCH"]['invoiceid'] = $invoiceid;
    $invoiceid = sanitizeInput($invoiceid);
	
	$_SESSION["PO_SAVEDSEARCH"]['sku'] = $sku;
    $sku = sanitizeInput($sku);

    $_SESSION["PO_SAVEDSEARCH"]['bdate'] = $bdate;
	$bdate = sanitizeInput($bdate);

	$_SESSION["PO_SAVEDSEARCH"]['edate'] = $edate;
	$edate = sanitizeInput($edate);

	$_SESSION["PO_SAVEDSEARCH"]['min'] = $min;
	$min = sanitizeInput($min);
	
	$_SESSION["PO_SAVEDSEARCH"]['max'] = $max;
    $max = sanitizeInput($max);

    $_SESSION["PO_SAVEDSEARCH"]['disable_range'] = $disable_range;
	$disable_range = sanitizeInput($disable_range);

	$_SESSION["PO_SAVEDSEARCH"]['qdate'] = $qdate;
	$qdate = sanitizeInput($qdate);

	$_SESSION["PO_SAVEDSEARCH"]['bdate'] = $bdate;
	$bdate = sanitizeInput($bdate);

	$_SESSION["PO_SAVEDSEARCH"]['edate'] = $edate;
	$edate = sanitizeInput($edate);

} 	
	
$addon = "";


if($status != "" && $status != -1) $addon = addOn("vendor_pos.status = '$status'", $addon);
if(intval($vendorid) > 0) $addon = addOn("vendor_pos.vendorid = '$vendorid'", $addon);
if($disable_range != "true")
{
	if($bdate != "") $addon = addOn("vendor_pos.sub_stamp >= '".strtotime("$bdate 00:00:00")."'", $addon);
	if($edate != "") $addon = addOn("vendor_pos.sub_stamp <= '".strtotime("$edate 23:59:59")."'", $addon);
}

$query = "select vendor_pos.poid, vendor_pos.poref, vendor_pos.vendorref, vendor_pos.sub_stamp, vendor_pos.status, vendor_pos.vendorid, vendor_pos.total, vendor_pos.repid 
		from vendor_pos $addon order by vendor_pos.poid desc";


?>

<table width="99%" class="sortable" id="results">
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="21"><a href="#">PO ID.</a></th>
		<th><a href="#">Rep Name</a></th>
		<th><a href="#">PO Ref.</a></th>
		<th><a href="#">V. Ref.</a></th>
		<th><a href="#">Date</a></th>
		<th><a href="#">Status</a></th>
		<th><a href="#">Vendor</a></th>
		<th><a href="#">Amount</a></th>
	</tr>	

<?

$count = 0;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
	while( list($poid, $poref, $vendorref, $sub_stamp, $status, $vendorid, $total, $repid) = mysql_fetch_array($qok))
	{
		$numout++;
		
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "select vendorname from vendors where vendorid = '$vendorid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($vendorname) = mysql_fetch_array($q2ok);
		///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									
		if($status == 2) $showstatus = "Complete";
		else if($status == 3) $showstatus = "Error";
		else if($status == 0) $showstatus = "In-Queue";
		else if($status == 1) $showstatus = "Submitted";
		else if($status == 4) $showstatus = "Void";
				
		$showdate = date("m/d/Y", $sub_stamp);
		
		$repname = $efc->getRepName($repid);
		?>
		<tr id="36447" <?if ($count%2) {echo " bgcolor=\"#eeeeee\"";}?>>
			<td><a onclick="showMenu(&quot;36447&quot;, &quot;CWR Electronics&quot;);" href="javascript:void(0);"><?=$poid?></a></td>
			<td><?=$repname?></td>
			<td><?=$poref?></td>
			<td><?=$vendorref?></td>
			<td><?=$showdate?></td>
			<td><?=$showstatus?></td>
			<td><?=$vendorname?></td>
			<td><?=$total?></td>
		</tr>
		<?
		$count++;
	}
}
?>
</table>