<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////


$query = "update customer_orders set pallocated = '$allocated' where invoiceid = '$iv'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "select lockedup, pallocated from customer_orders where invoiceid = '$iv'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($lockedup, $pallocated) = mysql_fetch_array($qok);

if($allocated == 1)
{
	?><font color='#ff0000'><B>Partially Allocated</B></font><?
}
?>|
<a href="javascript:void(0);" onclick="pallocateOrder('<?if($pallocated == 1) echo "0"; else echo "1";?>')" style="color:#000000;text-decoration:none;">
	<?if($pallocated == 1) echo "Partially Unallocate Order"; else echo "Partially Allocate Order";?>
</a>
