<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$on = $efc->getOrderNumber($iv);
?>
<HTML>
<HEAD>
<TITLE>Reports Action Log</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>

<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>

	<td width=100%>
		<table width=99% id="results">
		<tr bgcolor="#eeeeee">
			<td>ID</td>
			<td>Date</td>
			<td>Result</td>
			<td>Type</td>
			<td>Title</td>
			<td>UserID</td>
		</tr>	
		<?
		
		$query = "select id, ltype, type, updateid, title, tstamp, userid from action_log where type = '2' and updateid = '$on' order by tstamp desc";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($id, $ltype, $type, $updateid, $title, $tstamp, $userid) = mysql_fetch_array($qok))
		{
			?>
			<tr bgcolor="#eeeeee">
				<td><?=$id;?></td>
				<td><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
				<td><?=$ltype;?></td>
				<td>
					<?=$updateid;?>
				</td>
				<td><?=$title;?></td>
				<td>
					<?
					if($userid == 0)
					{
						$userid = "AUTO";
					}
					else 
					{
						$query = "select displayname from users where id = '$userid'";
						if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($userid) = mysql_fetch_array($q4ok);
						
						echo $userid;
					}
					?>
				</td>
			</tr>	
			<tr>
				<td>&nbsp;</td>
				<td colspan=5 bgcolor="#FEFEEF">
				<?
				$query = "select details from action_log_extended where lid = '$id'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($details) = mysql_fetch_array($q2ok);
				
				echo $details;
				?>
				</td>
			</tr>					
			<?
		}
		?>
		</table>	
	</td>
	
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>