<?
set_magic_quotes_runtime (1);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$mysqldb = $DB;
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$cartClass = new cartClass();
$cartClass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cartClass->db = $DB;

REQUIRE($ROOT_DIR."/mgt/classes/customerclass.phtml");

/*$query = "insert into customer_orders(acctid, otype, 
				bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip,
				ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip,
				ip_addr, phone, altphone, 
				emailaddr, csmid, csmethod) ";
$query .= " select acctid, 'RETURN', 
				bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip,
				ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip,
				ip_addr, phone, altphone, 
				emailaddr, csmid, csmethod from customer_orders where orderid = '$on'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
*/
if($Action == "Add")
{
	$query = "select product_list.manid, product_manufacturers.manname, product_list.manpart, 
				product_list.descr, product_prices.price_level1, product_list.shipweight, product_prices.avgcost
				from product_list,product_manufacturers,product_prices where product_list.manid = product_manufacturers.manid and
				product_prices.id = product_list.id and product_list.id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($manid, $manname, $manpart, $descr, $price, $shipweight, $avgcost) = mysql_fetch_array($qok);

	$query = "insert into customer_order_lines(orderid, prodid, manid, manname, manpart, descr, qty_ordered, weight, cost, ex_return, price)";
	$query .= "values('$on', '$pid', '$manid', '$manname', '$manpart', '$descr', '1', '$shipweight', '$avgcost', '0', '$price')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else if($Action == "Del")
{
	$query = "delete from customer_order_lines where lineid = '$lid' and orderid = '$on'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
<html>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script>
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function searchSKUs()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", brand = "";
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.addaccessory.keywords.value
  	
	brand = document.addaccessory.brand.options[ document.addaccessory.brand.selectedIndex ].value;
	
	if(document.addaccessory.cat0.selectedIndex > 0)
		cat0 = document.addaccessory.cat0.options[ document.addaccessory.cat0.selectedIndex ].value;
	
	if(document.addaccessory.cat1.selectedIndex > 0)
		cat1 = document.addaccessory.cat1.options[ document.addaccessory.cat1.selectedIndex ].value;
	
	if(document.addaccessory.cat2.selectedIndex > 0)		
		cat2 = document.addaccessory.cat2.options[ document.addaccessory.cat2.selectedIndex ].value;
	
	if(document.addaccessory.cat3.selectedIndex > 0)		
		cat3 = document.addaccessory.cat3.options[ document.addaccessory.cat3.selectedIndex ].value;
	
	if(document.addaccessory.cat4.selectedIndex > 0)		
		cat4 = document.addaccessory.cat4.options[ document.addaccessory.cat4.selectedIndex ].value;
			
	var url="/mgt/sm/ajax_qsearch.phtml?keywords="+keywords;
	url += "&cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
	url += "&maxout=20&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function closeResults()
{
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "";
	
	var theTable = document.all.results;
		
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 1)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0 && parseInt(rows[pp]) > 0)
						newCell.innerHTML = "<a href='/mgt/om/exchange_additem.phtml?pid="+rows[pp]+"&on=<?=$on;?>&inwin=1&Action=Add'>Add</a>";
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}

	}
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 


function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			searchSKUs();
 			return false; 
 		}
	}  
} 

var g_level = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.addaccessory.cat0.options[ document.addaccessory.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.addaccessory.cat1.options[ document.addaccessory.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.addaccessory.cat2.options[ document.addaccessory.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.addaccessory.cat3.options[ document.addaccessory.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.addaccessory.cat4.options[ document.addaccessory.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotCats;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotCats() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

	}
}


function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.addaccessory.cat1;
	theSelect.appendChild(nOption); 
}


</script>
<style type="text/css">
.dialog {
display:none;
left:50px;
top:25px;
width:650px;
height:400px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.dialog2 {
display:none;
left:50px;
top:25px;
width:225px;
height:75px;
position:absolute;
z-index:100;
background:#eeeeff;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
</style>
</HEAD>
<body onload="updateExchange(0);">
<div id="skuresults" class="dialog">
<form name="aresults" method="post">
<input type="hidden" name="on" value="<?=$on;?>">
<table width=99% id="results" name="results">
<tr bgcolor="#eeeeee">
	<td height=21><div align="center">Add</div></td>
		<td><div align="center">Man</div></td>
		<td><div align="center">ManPart</div></td>
		<td><div align="center">Descr</div></td>
		<td><div align="center">V</div></td>
		<td><div align="center">Stock</div></td>
		<td><div align="center">Price</div></td>
	</tr>
	<tr>
		<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
	</tr>	
</table>
<BR><BR>
<table width=100%>
<tr>
	<td align=center>
		<input type="hidden" name="id" value="<?=$id;?>">
		<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
	</td>
</tr>
</table>
</form>
</div>

<table width=100%>
<tr>
	<td align=right><B>Exchange: <?=$efc->getInvoicefromOrderNo($on);?></td>
</tr>
<tr>
	<td>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	<form name="addaccessory">
	<table>
	<tr>
		<td><B>Sku/Keywords:</B><input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
		
					<td><B>Brand:</B></td>
							<td>
								<select name="brand" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$query = "select manid, manname from product_manufacturers order by manname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($manid, $manname) = mysql_fetch_array($qok))
								{
									if(strlen($manname) > 25)
									{
										$manname = substr($manname, 0, 22)."...";
									}
									?>
									<option value="<?=$manid;?>"><?=$manname;?>
									<?
								}
								?>
								</select>						
							</td>
									
					<td><B>Category:</B></td>
					<td>
						<select name="cat0" class="formSelect" onchange="getCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0 order by catname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>"><?=$catname;?>
							<?
						}
						?>
						</select>		
						<?
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 1)
						{
							?>
							<div id="cat1d" style="display:;">
								<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[0]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>"><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 2)
						{
							?>
							<div id="cat2d" style="display:;">
								<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[1]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>"><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval(count($loadedcats)) > 3)
						{
							?>
							<div id="cat3d" style="display:;">
								<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat2' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>"><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
						?>
						<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
						<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
					</td>
		<td>
			<input type="button"  name="Action" value="Search" onclick="searchSKUs()" class="buttonItem">	
		</td>		
	
		</tr>		
	
	</table>
	
	<div style="background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
		<div align=center>
		<table>
		<tr>
			<td>To the exchange item, type keywords and hit "Search".  Search by Description, sku, manpart or ID.</td>
		</tr>
		</table>
		</div>
	</div>	
	</form>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	</td>
</tr>

<tr>
	<td>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
		<B>Items Returned</B><BR>
		<table width=99% id="returnitems">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center><B>PID</B></td>
			<td align=center><B>Man.</B></td>
			<td align=center><B>Man. Part</B></td>
			<td align=center><B>Description</B></td>
			<td align=center><B>Price</B></td>
			<td align=center><B>Qty</B></td>
			<td align=center><B>Total</B></td>
		</tr>	
		<?
		$query = "select prodid, manname, manpart, descr, price, qty_ordered from customer_order_lines where orderid = '$on' and ex_return = 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($pid, $manname, $manpart, $descr, $price, $qty) = mysql_fetch_array($qok))
		{
		?>
		<tr bgcolor="#ffffff">
			<td height=21><?=$pid;?></td>
			<td><?=$manname;?></td>
			<td><?=$manpart;?></td>
			<td><?=$descr;?></td>
			<td align=right><?=number_format($price, 2, ".", "");?></td>
			<td align=right><?=$qty;?></td>
			<td align=right><?=number_format($price * $qty, 2, ".", "");?></td>
		</tr>			
		<?
		}
		?>
		</table>
		
		<B>Exchange Items (to ship)</B><BR>
		<table width=99% id="exchangeitems">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center><B>PID</B></td>
			<td align=center><B>Man.</B></td>
			<td align=center><B>Man. Part</B></td>
			<td align=center><B>Description</B></td>
			<td align=center><B>Price</B></td>
			<td align=center><B>Qty</B></td>
			<td align=center><B>Total</B></td>
			<td align=center><B>Del</B></td>
		</tr>	
		<?
		$lines = array();
		$query = "select prodid, manname, manpart, descr, price, qty_ordered, lineid from customer_order_lines where orderid = '$on' and ex_return = 0";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($pid, $manname, $manpart, $descr, $price, $qty, $lineid) = mysql_fetch_array($qok))
		{
			$lines[] = $lineid;
		?>
		<tr bgcolor="#ffffff">
			<td height=21><?=$pid;?></td>
			<td><?=$manname;?></td>
			<td><?=$manpart;?></td>
			<td><?=$descr;?></td>
			<td align=right>
				<input type="text" 
						name="p<?=$lineid;?>" 
						id="p<?=$lineid;?>" 
						style="width:55px;text-align:right;" 
						class="formBox" 
						value="<?=number_format($price, 2, ".", "");?>" 
						onblur="updateExchange(0);">
			</td>
			<td align=right>
				<input type="text" 
						name="q<?=$lineid;?>" 
						id="q<?=$lineid;?>"
						style="width:15px" 
						class="formBox" 
						onblur="updateExchange(0);" value="<?=$qty;?>">
			</td>
			<td align=right><div id="t<?=$lineid;?>"><?=number_format($price * $qty, 2, ".", "");?></div></td>
			<td align=right>
				<a href="javascript:void(0);"
					onclick="javascript:makesure('Are you sure you want to delete this item?', '/mgt/om/exchange_additem.phtml?lid=<?=$lineid;?>&on=<?=$on;?>&Action=Del');"><img src="/mgt/images/del.gif"></a>
			</td>
		</tr>			
		<?
		}
		?>
		</table>		
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	</td>
</tr>

<tr>
	<td align=right>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	<?
	$query = "select shipping, tax, total from customer_orders where orderid = '$on'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipping, $tax, $total) = mysql_fetch_array($qok);
	?>
	<table>
	<tr>
		<td align=right><B>Shipping:</B></td>
		<td align=right><input type="text" name="shipping" id="shipping" style="width:55px;text-align:right;" class="formBox" value="<?=number_format($shipping, 2, ".", "");?>"></td>
	</tr>
	<tr>
		<td align=right><B>Tax:</B></td>
		<td align=right><input type="text" name="tax" id="tax" style="width:55px;text-align:right;" class="formBox" value="<?=number_format($tax, 2, ".", "");?>"></td>
	</tr>
	<tr>
		<td align=right><B>Total:</B></td>
		<td align=right><div id="total" align=right><?=number_format($total, 2, ".", "");?></div></td>
	</tr>
	</table>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	</td>
</tr>

<tr>
	<td align=right>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	<table width=100%>
	<tr>
		<td bgcolor="#eeeeee" align=center>
			<input type="button" name="Action" value="Cancel" class="buttonItem" disabled>	
			<input type="button" name="Action" value="Submit Exchange" onclick="updateExchange(1);" class="buttonItem">
		</td>
	</tr>
	</table>
	<!-------------------------------------------------------------------------------------------------------------------------------------------->
	</td>
</tr>
	
</table>

<script>
var g_loadExchange = 0;

function updateExchange(loadExchange)
{
	g_loadExchange = loadExchange;
	
	var theTable = document.all.returnitems;
	var numrows = theTable.rows.length;
	var gTotal = 0.00;
	
	for(xx = 1; xx < numrows; xx++)
	{
		gTotal += parseFloat( theTable.rows[xx].cells[6].innerHTML );
	}
	
	/////////////////////////////////////////////
	// do all the lines (thanks for PHP)
	<?
	for($xx = 0; $xx < count($lines); $xx++)
	{
		?>
		thisprice = parseFloat( document.getElementById("p<?=$lines[$xx];?>").value );
		thisqty = parseFloat( document.getElementById("q<?=$lines[$xx];?>").value );
		linetotal = (thisprice * thisqty);
		
		gTotal += (thisprice * thisqty);
		
		document.getElementById("t<?=$lines[$xx];?>").innerHTML = linetotal.toFixed(2);
		<?
	}
	?>
	
	gTotal += parseFloat( document.getElementById("shipping").value )
	gTotal += parseFloat( document.getElementById("tax").value )
	
	document.getElementById("total").innerHTML = gTotal.toFixed(2); 
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	xml4Http=GetXmlHttpObject();
 	
	var url="/mgt/om/save_exchange.phtml?on=<?=$on;?>&loadexchange="+loadExchange;
	
	<?
	for($xx = 0; $xx < count($lines); $xx++)
	{
		?>
		url += "&p<?=$lines[$xx];?>="+document.getElementById("p<?=$lines[$xx];?>").value;
		url += "&q<?=$lines[$xx];?>="+document.getElementById("q<?=$lines[$xx];?>").value;
		<?
	}
	?>
	
	url += "&shipping="+document.getElementById("shipping").value;
	url += "&tax="+document.getElementById("tax").value;
	
	xml4Http.onreadystatechange=exchangeUpdated;
	xml4Http.open("GET",url,true);
	xml4Http.send(null);

}

function exchangeUpdated()
{
	if(xml4Http.readyState==4)
	{ // do nothing
		if(xml4Http.responseText != "OK")
		{
			alert(xml4Http.responseText);
		}
		else
		{
			if(g_loadExchange == 1)
			{
				document.location = "/mgt/om/vieworder.phtml?on=<?=$on;?>&inwin=1";
			}
		}
	}
}
</script>
		
		
</body>
</html>