<?
ini_set('display_errors',1);
error_reporting(E_ALL);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass;
$efc->db = $DB;
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

?>
<table border="1" cellpadding="3">
    <tr>
        <td>OrderID</td>
        <td>Coupon</td>
        <td>Wrong</td>
        <td>Correct</td>
        <td>Loss</td>
    </tr>

<?
$total_loss =0;
$query = "select distinct(customer_order_lines.orderid),count(customer_order_lines.orderid) as c,customer_orders.invoiceid,customer_orders.clickid from customer_order_lines,customer_orders where customer_order_lines.prodid=-7 and customer_order_lines.orderid=customer_orders.orderid group by customer_order_lines.orderid having c>1";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
    $counta = mysql_num_rows($qok);
    while(list($orderid, $count,$invoiceid,$origin) = mysql_fetch_array($qok)) {
    $qa = "SELECT total from customer_orders where orderid='$orderid'";
    if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($wtotal) = mysql_fetch_array($qoka);
    
    $q = "SELECT distinct(manpart),count(manpart) from customer_order_lines where prodid=-7 and orderid='$orderid'";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($qokx) == 1)
    {
        list($manpart,$c) = mysql_fetch_array($qokx);
        if($count == $c) {
            $t = 0;
            $qa = "select price,qty_ordered from customer_order_lines where orderid='$orderid' and prodid>0";
            if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            while(list($price,$qty_ordered) = mysql_fetch_array($qoka)) {
                $t += $price*$qty_ordered;
            }
            
            $qa = "select shipping,tax from customer_orders where orderid='$orderid'";
            if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($shipping,$tax) = mysql_fetch_array($qoka);
            
            $qa = "select coupon_codes.cid, coupon_discounts.fixed_price,coupon_discounts.fixed_discount from coupon_codes,coupon_discounts where coupon_codes.couponcode='$manpart' AND coupon_codes.cid=coupon_discounts.cid";
            if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            if(mysql_num_rows($qoka)>0) {
                list($cid,$fixed_price,$fixed_discount) = mysql_fetch_array($qoka);



                if($fixed_price>0) {

                }elseif($fixed_discount>0) {
                    $discountval = round($t*($fixed_discount/100),2);
                }

                $subtotal = $t-$discountval;
                $total = $subtotal+$tax+$shipping;
                $total_loss +=$total-$wtotal;
               ?>
               <tr>
                    <td><?=$invoiceid?></td>
                    <td><?=$manpart?></td>
                    <td><?=$wtotal?></td>
                    <td><?=$total?></td>
                    <td><?=number_format($total-$wtotal,2)?></td>
                </tr>    
               <?
            }
            else {
                 ?>
               <tr>
                    <td><?=$invoiceid?></td>
                    <td><?=$manpart?></td>
                    <td><?=$wtotal?></td>
                    <td>coupon deleted</td>
                    <td>coupon deleted</td>
                </tr>    
               <?
            }
        }
    }
    }
}
?>
<tr>
    <td><?=$counta?></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><?=$total_loss?></td>
</tr>
</table>