<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_scolumns"); // will redirect on failure
$filters_array = array(
        array("id"=>"type","title"=>"Type","default"=>"1"),
        array("id"=>"stock_status","title"=>"Stock Status","default"=>"1"),
        array("id"=>"status","title"=>"Status","default"=>"1"),
        array("id"=>"order_number","title"=>"Order Numbe","default"=>"0"),
        array("id"=>"bill_ship_to","title"=>"Bill To/Ship To","default"=>"0"),
        array("id"=>"phone","title"=>"Phone","default"=>"0"),
        array("id"=>"zipcode","title"=>"ZipCode","default"=>"0"),
        array("id"=>"email_address","title"=>"Email Address","default"=>"0"),
        array("id"=>"sku","title"=>"SKU","default"=>"1"),
        array("id"=>"keywords","title"=>"keywords","default"=>"0"),
        array("id"=>"price_range","title"=>"Price Range","default"=>"0"),
        array("id"=>"ebay_acct","title"=>"eBay Acct","default"=>"0"),
        array("id"=>"weight","title"=>"Weight","default"=>"0"),
        array("id"=>"assigned_to","title"=>"Assigned to","default"=>"1"),
        array("id"=>"assigned_to_pid","title"=>"Assigned to PID","default"=>"0"),
        array("id"=>"sourced_from","title"=>"Sourced From","default"=>"0"),
        array("id"=>"list","title"=>"List","default"=>"0"),
        array("id"=>"order_date","title"=>"Order Date","default"=>"1"),
        array("id"=>"ship_date","title"=>"Ship Date","default"=>"1"),
        array("id"=>"origin","title"=>"Origin","default"=>"1"),
        array("id"=>"ebay_only","title"=>"Ebay Only","default"=>"0"),
        array("id"=>"category","title"=>"Category","default"=>"0"),
        array("id"=>"brand","title"=>"Brand","default"=>"0"),
        array("id"=>"older_than","title"=>"Older Than","default"=>"0"),
        array("id"=>"no_po","title"=>"No PO","default"=>"0"),
        array("id"=>"locked_up","title"=>"Locked Up","default"=>"0"),
        array("id"=>"allocated","title"=>"Allocated","default"=>"0"),
        array("id"=>"order_prefix","title"=>"Order Prefix","default"=>"0"),
        array("id"=>"return","title"=>"Return","default"=>"0")
);

if($_POST[colsOrder]){

$query = "delete from user_search_order_filters where userid = '".$_SESSION["ID"]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$arr = explode("#",$_POST[colsOrder]);

foreach($arr as $key=>$val){
	$valArr = explode("**",$val);
	$key = $key + 1;
	$coltitle = strip_tags($valArr[1]);
	$colname = substr($valArr[0],6);
	//echo $key."=".substr($valArr[0],6)." --".$valArr[1]."<BR>";
	$query = "insert into user_search_order_filters(userid, colname, dorder, coltitle) 
	values('".$_SESSION["ID"]."','$colname','$key ', '$coltitle')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

?>
<HTML>
<HEAD>
<TITLE>Configuration</TITLE>
</HEAD>
<BODY onload="top.location='/mgt/om/search.phtml';">
Loading...
</BODY> 
</HTML>
<?
exit;
}
?>
<HTML>
<HEAD>
<TITLE>User Search Filters</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<style type="text/css">
<!--
.DragContainer, .OverDragContainer {
  float: left;
  margin: 3px;
  width: 200px;
  border: #669999 2px solid;
  padding: 5px;
}

.DragBox, .OverDragBox, .miniDragBox {
  border: #000 1px solid;
  padding: 2px;
  font-size: 10px;
  margin-bottom: 5px;
  width: 94px;
  cursor: pointer;
  font-family: verdana, tahoma, arial;
  background-color: #eee;
}

.MyDragContainer {
  float: left;
  margin: 3px;
  width: 400px;
  border: #669999 2px solid;
  padding: 5px;
}

.DragDragBox
{
  float: none;
  border: #000 1px solid;
  padding: 2px;
  font-size: 10px;
  margin-bottom: 5px;
  width: 94px;
  cursor: pointer;
  font-family: verdana, tahoma, arial;
  background-color: #eee;
}

.OverDragContainer {
	background-color: #eee;
}

.OverDragBox, .DragDragBox {
  background-color: #ffff99;
}

.DragDragBox {
  filter: alpha(opacity=50);
  background-color: #ff99cc;
}

legend {
  font-weight: bold;
  font-size: 12px;
  color: #666699;
  font-family: verdana, tahoma, arial;
}

fieldset {
  padding: 3px;
}

.History {
  font-size: 10px;
  overflow: auto;
  width: 100%;
  font-family: verdana, tahoma, arial;
  height: 82px;
}

#DragContainer8 {
  border: #669999 1px solid;
  padding: 5px 0 0 5px;
  width: 110px;
  height: 110px;
}

.miniDragBox {
  float: left;
  margin: 0 5px 5px 0;
  width: 20px;
  height: 20px;
}
-->
</style>	
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script type="text/javascript" src="./js/drag_drop.js"></script>
<script>
function dropItems(idOfDraggedItem,targetId,x,y)
{	
	var targetObj = document.getElementById(targetId);	// Creating reference to target obj
	var sourceObj = document.getElementById(idOfDraggedItem);	// Creating reference to source, i.e. dragged object
	targetObj.appendChild(sourceObj);	// Append	
}
function StartUp()
{
	<?		
	$query = "select colname, coltitle, dorder from user_search_order_filters where userid = '".$_SESSION["ID"]."' order by dorder";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($colname, $coltitle, $dorder) = mysql_fetch_array($qok))
	{
	?>
	// dropItems("order_<?=$colname;?>","box101")
	<?
	}
	?>
}

function cancelWindow()
{
	var thisframe = window.frameElement.id;
	var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
	var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
	
	<?
	if(intval($pid) > 0)
	{
		?>
		window.location="/mgt/om/search.phtml";
		<?
	}
	else 
	{
		?>
		top.closeWindow(thiswinname, thiswinid);
		<?
	}
	?>


}
</script>
<body>
<?
if($inwin != 1)
{
?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		
<?
}
?>		
		<script>
		var g_onnum = <?=intval($onnum);?>;
		function defaultColumns()
		{	
			<?
				foreach ($filters_array as $k=>$v) {
					if ($v['default'] == '1') {
						?>
							dropItems("order_<?=$v['id']?>","DragContainer6");
						<?
					} else {
                                            ?>
                                                dropItems("order_<?=$v['id']?>","DragContainer4");
                                            <?
                                        }
					
				}
			?>
		}
		function ColumnsOrders(){
			allValues = new Array();
			var targetObj = document.getElementById("DragContainer6");	// Creating reference to target obj
			var subDivs = targetObj.getElementsByTagName('DIV');
			for(z=0; z<subDivs.length;z++){
				//alert(subDivs.item(z).id);
				//alert(document.getElementById(subDivs.item(z).id).innerHTML);
				allValues[z] = subDivs.item(z).id + '**' + document.getElementById(subDivs.item(z).id).innerHTML;
			}
			var columns = allValues.join("#");
			document.co.colsOrder.value = columns;
			document.co.submit();
		}
		function clearAll()
		{
			<?
				foreach ($filters_array as $k=>$v) {
					?>
						dropItems("order_<?=$v['id']?>","DragContainer4");
					<?
				}
			?>
		}
		</script>
		<table>
		<tr>
			<td>
			<B>Orders Search Filters</B>
			</td>
		</tr>
		</table>
			<fieldset id="Demo4">
				<legend>Drop Selected Columns</legend>
				<div style="float:left">
				<div class="MyDragContainer" id="DragContainer4" overclass="OverDragContainer">
				<?		
				$query = "select colname, coltitle, dorder from user_search_order_filters where userid = '".$_SESSION["ID"]."' order by dorder";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($colname, $coltitle, $dorder) = mysql_fetch_array($qok))
				{
					$orderArr[] = "order_".$colname;
				}
				if(count($orderArr)){
					foreach ($filters_array as $k=>$v) {
						if (!in_array('order_'.$v['id'],$orderArr)) {
							echo '<div class="DragBox" id="order_'.$v['id'].'" overclass="OverDragBox" dragclass="DragDragBox">'.$v['title'].'</div>';
						}
						else {
							
						}
					}
					
				}else{
					foreach ($filters_array as $k=>$v) {
						?>
						<div class="DragBox" id="order_<?=$v['id']?>" overclass="OverDragBox" dragclass="DragDragBox"><?=$v['title']?></div>
						<?
					}
				} ?>
				</div>
				<div class="DragContainer" id="DragContainer6" overclass="OverDragContainer">
				<?		
				$query = "select colname, coltitle, dorder from user_search_order_filters where userid = '".$_SESSION["ID"]."' order by dorder";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($colname, $coltitle, $dorder) = mysql_fetch_array($qok))
				{
				?>
				<div class="DragBox" id="order_<?=$colname;?>" overclass="OverDragBox" dragclass="DragDragBox"><?=$coltitle;?></div>
				<?
				}
				?>
				</div></div>
			</fieldset>
			
		<form name="co" method="POST"><input type ="hidden" name="colsOrder">
		<table width=100%>
		<tr>
			<td>
			<!--------------------------------------------------------------->		
				
				
									
			<!--------------------------------------------------------------->		
			</td>
			
			<td>
			
				<BR><BR>
				
				<BR>
					
			</td>
		</tr>
		</table>
		<table>
		<tr>
			<td>
				<BR>
				<!--<input type="submit" name="Action" value="Save Columns" class="buttonItem">	-->
				<input type="button" onclick="ColumnsOrders()" name="Action" value="Save Cols" class="buttonItem">
				<input type="button" onclick="defaultColumns()" name="Action" value="Default" class="buttonItem">
				<input type="button" onclick="clearAll()" name="Clear" value="Clear All" class="buttonItem">
				<input type="button" onclick="cancelWindow()" name="Action" value="Cancel" class="buttonItem">
			</td>
		</tr>
		<tr>
			<td>
			<BR>
			<HR NOSHADE>
			<LI>The box to the left of each checkbox is the order to display the data</LI>			
			<LI>Clearing the form, then selecting the checkboxes in order will properly order the columns</LI>
			<LI>You cannot use the number "0" in the ordering</LI>
			<LI>Click the "Default" button to view the default configuration.</LI>
			</td>
		</tr>
		</table>
		</form>
	<?
if($inwin != 1)
{
?>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?>
</body>
</html>