<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if($override = "89798y129fgasd72")
{
}
else 
{
	REQUIRE($ROOT_DIR."/mgt/auth.phtml");
}

if($DB == "sndkids")
{
	INCLUDE("printorder_snd.phtml");
	exit;
}

////////////////////////////////////////////////////////////////////////////////////////////


if($iv == "")
{
	$iv = $efc->getInvoicefromOrderNo($on);
}
if($on == "") 
	$on = $efc->getOrderNumber($iv);
	
$acctid = $efc->getAcctNoforOrder($on);
$orderid = $on;

$invoiceid = $iv;
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<LINK HREF="/mgt/pereport/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<table width=100%>
<tr>
	<td>
<!----------------------------------------------------------------------------------------------------------->
<?
		$query = "select orderid, smid, otype, invoiceid, status, bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
					ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country, phone, altphone, emailaddr,
					subtotal, tax, shipping, total, ip_addr, pmttype, orderdate, package, csmethod, arepid from customer_orders where invoiceid = '$invoiceid'";
		
		$qok = mysql_db_query($DB, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($orderid, $smid, $otype, $invoiceid, $status, $bill2name, $bill2street1, $bill2street2, $bill2city, $bill2state, $bill2zip, $bill2country,
					$ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country, $phone, $altphone, $emailaddr,
					$subtotal, $tax, $shipping, $total, $ip_addr, $pmttype, $orderdate, $package, $csmethod, $arepid) = mysql_fetch_array($qok);
					
		if($otype == "") $otype = "INVOICE";

		if(intval($status) == 0) $show_status = "Received";
		else 
		{
			$query = "select status, explanation from company_orderflow where step = '$status' ";
			$q2ok = mysql_db_query($DB, $query, $mysqlid);
			if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			list($show_status, $explanation) = mysql_fetch_array($q2ok);
		}
	
		$showdate = date("M-d-Y h:i a", $orderdate);
		?>
		<table width=95% border=0>
		<tr bgcolor="#ffffff" >
			<td align=right class="gtitle" colspan=2><B><?=$otype;?>:<?=$invoiceid;?></B><div style="font-size:10px;"><?=$showdate;?></div><BR><BR></td>
		</tr>
		<tr bgcolor="#eeeeee">
			<td class="g3"><B>Billing Address</B></td>
			<td class="g3"><B>Shipping Address</B></td>
		</tr>
		<tr bgcolor="#ffffff">
			<td class="g" align=left>
				<?=$bill2name;?><BR>
				<?=$bill2street1;?><BR>
				<?=$bill2street2;?><BR>
				<?=$bill2city;?>, <?=$bill2state;?> <?=$bill2zip;?><BR>
				<?=$bill2country;?><BR>
			</td>
			<td class="g" align=left>
				<?=$ship2name;?><BR>
				<?=$ship2street1;?><BR>
				<?=$ship2street2;?><BR>
				<?=$ship2city;?>, <?=$ship2state;?> <?=$ship2zip;?><BR>
				<?=$ship2country;?><BR>
			</td>
		</tr>
		
		<tr><td colspan=2 background="/images/square/tb.gif"></td></tr>
<form name="dostatus" id="dostatus">		
		<tr bgcolor="#ffffff">
			<td class="g" colspan=2>
				<table>
				<tr>
					<td bgcolor="#eeeeee" class="g" align=right><div style="padding-top:3px"><B>Status:</B></td>	
					<td bgcolor="#ffffff" class="g" align=left><?=$efc->getOrderStatus($orderid);?></td>
				</tr>
				<?if($otype == "INVOICE")
				{
					?>
				<tr>
					<td bgcolor="#eeeeee" class="g" align=right><div style="padding-top:3px"><B>Salesman:</B></td>	
					<td bgcolor="#ffffff" class="g" align=left><?=$efc->getRepName($arepid);?></td>
				</tr>	
					<?
				}
				?>			
				</table>
			</td>
		</tr>		
</form>
<?
if ($DB == 'rawfoodworld')
{
	$phone = $efc->stripPhoneRFW($phone);
	$altphone = $efc->stripPhoneRFW($altphone);
}
else 
{
	$phone = ereg_replace("[^0-9]", "", $phone );
	$altphone = ereg_replace("[^0-9]", "", $altphone );
}
?>
		<tr bgcolor="#ffffff">
			<td class="g" colspan=2>
				<table width=100%>
				<tr>
					<td bgcolor="#eeeeee" class="g" align=right><B>IP:</B></td>		<td bgcolor="#ffffff" class="g" align=left><?=$ip_addr;?></td>
					<td bgcolor="#eeeeee" class="g" align=right><B>Phone:</B></td>	
					<td bgcolor="#ffffff" class="g" align=left>
						<?=$phone;?>
					</td>
					<td bgcolor="#eeeeee" class="g" align=right><B>Alt Phone:</B></td>	
					<td bgcolor="#ffffff" class="g" align=left>
						<?=$altphone;?>
					</td>
					<td bgcolor="#eeeeee" class="g" align=right><B>Email:</B></td>	<td bgcolor="#ffffff" class="g" align=left><?=$emailaddr;?></td>
				</tr>
				</table>
			</td>
		</tr>		

		
		<tr><td colspan=2 background="/images/square/tb.gif"></td></tr>
		<!------------------------- LINE ITEMS --------------------------------->
		<tr bgcolor="#ffffff">
			<td class="g" colspan=2>
				<table width=100%>
				<tr bgcolor="#eeeeee">
                                        <?
                                        if($DB == 'sndkids') {
                                            ?>
                                            <td class="g" align=center><B>SKU</B></td>
                                            <?
                                        }
                                        ?>
					<td class="g" align=center><B>PID</B></td>
					<td class="g" align=center><B>Manufacturer</B></td>
					<td class="g" align=center><B>Part</B></td>
					<td class="g" align=center><B>Description</B></td>
					<td class="g" align=right><div align=right><B>Price</B></td>
					<?
					if($otype == "INVOICE")
					{
						?>
						<td class="g" align=center><div align=center><B>Ordered</B></td>
						<td class="g" align=center><div align=center><B>Shipped</B></td>
						<td class="g" align=center><div align=center><B>Returned</B></td>
						<?
					}
					else 
					{
						?>
						<td class="g" align=center><div align=center><B>Return</B></td>
						<td class="g" align=center><div align=center><B>Received</B></td>
						<?
					}
					?>
					<td class="g" align=right><div align=right><B>Total</B></td>
				</tr>
				<?
				$query = "select prodid,manname, manpart, descr, price, qty_ordered, qty_shipped, qty_returned from customer_order_lines where orderid = '$orderid'";
				$q2ok = mysql_db_query($DB, $query, $mysqlid);
				if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

				
				while(list($prodid,$manname, $manpart, $descr, $price, $qty, $shipped, $returned) = mysql_fetch_array($q2ok))
				{
					if ($prodid == -7 && $DB == 'rawfoodworld')
					{
						$coupon_info = $descr;
						$coupon_cost = $price;
						$subtotal -= $price;
						continue;
					}					
				?>
				<tr>
                                        <?
                                        $queryx = "select dropship,sku from product_list where id = '$prodid'";
					if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($dropship,$sku) = mysql_fetch_array($qokx);
                                        
                                        
                                        if($DB == 'sndkids') {
                                            ?>
                                            <td class="g" align=center><?=$sku?></td>
                                            <?
                                        }
                                        ?>
					<td class="g" align=center><?=$prodid;?></td>
					<td class="g" align=center><?=$manname;?></td>
					<td class="g" align=center><?=$manpart;?></td>
					<td class="g" align=center><?=$descr;?></td>
					<?
					if($package == 1)
					{
						?>
						<td class="g" align=right NOWRAP>-</td>
						<?
					}
					else 
					{
						?>
						<td class="g" align=right NOWRAP><div align=right>$ <?=number_format($price, 2);?></td>
						<?
					}
					?>
					
					<td class="g" align=center NOWRAP><div align=center><?=$qty;?></td>
					<?if($package == 1)
					{
						?>
						<td class="g" align=center NOWRAP><div align=center><?=$shipped;?></td>
						
						<?
						if($otype == "INVOICE")
						{
							?>
							<td class="g" align=center NOWRAP><div align=center><?=$returned;?></td>
							<?
						}
						
						?>
						<td class="g" align=right NOWRAP><div align=center>-</td>
						<?
					}
					else
					{
						?>
						<td class="g" align=center NOWRAP><div align=center><?=$shipped;?></td>
						
						<?
						if($otype == "INVOICE")
						{
							?>
							<td class="g" align=center NOWRAP><div align=center><?=$returned;?></td>
							
							<?
						}	
						?>
						<td class="g" align=right NOWRAP><div align=right>$ <?=number_format($price * $qty, 2);?></td>
						<?					
					}
					?>

				</tr>
				<?
				}
				
				
				if($package == 1)
				{
					?>
					<tr>
						<td class="g" align=center> </td>
						<td class="g" align=center> </td>
						<td class="g" colspan=5 align=right><B>* Package Deal</B></td>

						<td class="g" align=right><div align=right>$ <?=number_format($subtotal, 2);?></td>
					</tr>					
					<?
				}
				?>
				<tr><td colspan=9 background="/images/square/tb.gif"></td></tr>
				</table>
				
				<table width=100%>
				<tr>
					<td valign=top>
						<?
						$query = "select notes from customer_order_notes where orderid = '$orderid'";
						$q2ok = mysql_db_query($DB, $query, $mysqlid);
						if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($notes) = mysql_fetch_array($q2ok);
						
						if($notes != "")
						{
							echo "<BR><B>ORDER NOTES:</B> ";
							echo stripslashes($notes);
						}
						?>
					</td>				
					
					<td valign=top>
						<table width=100%>
						<tr bgcolor="#ffffff">
							<td class="g" align=right colspan=6><div align=right><B>Subtotal</B></td>
							<td class="g" align=right><div align=right>$ <?=number_format($subtotal, 2);?></td>
						</tr>				
						<tr bgcolor="#ffffff">
							<td class="g" align=right colspan=6><div align=right><B><?=$csmethod;?></B></td>
							<td class="g" align=right><div align=right>$ <?=number_format($shipping, 2);?></td>
						</tr>				
						<?php if ($coupon_info && $coupon_cost && $DB == 'rawfoodworld'): ?>
						<tr bgcolor="#ffffff">
							<td class="g" align=right colspan=6><div align=right><B><?php echo $coupon_info; ?>:</B></td>
							<td class="g" align=right><div align=right>$ <?=number_format($coupon_cost, 2);?></td>
						</tr>				
						<?php endif; ?>
						<tr bgcolor="#ffffff">
							<td class="g" align=right colspan=6><div align=right><B>Tax</B></td>
							<td class="g" align=right><div align=right>$ <?=number_format($tax, 2);?></td>
						</tr>				
						<?php
						if ($DB == 'rawfoodworld')
						{
							// verify if order has a credit amount used for payment
							$q_verify_creditam = "SELECT credit_amount
												  FROM customer_credits_log
												  WHERE acctid = '$acctid'
												  AND orderid = '$orderid'
												  ORDER BY lastupdate DESC
												  LIMIT 1";
							if(!$qok_verify_creditam = mysql_db_query($DB, $q_verify_creditam, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if (mysql_num_rows($qok_verify_creditam) > 0)
							{
								list($credit_amount) = mysql_fetch_array($qok_verify_creditam);
								?>
								<tr bgcolor="#ffffff">
									<td class="g" align=right colspan=6><div align=right><B>Store Credit:</B></td>
									<td class="g" align=right><div align=right>$ -<?=number_format($credit_amount, 2);?></td>
								</tr>				
								<?php							
							}
						}
						?>
						<tr bgcolor="#ffffff">
							<td class="g" align=right colspan=6><div align=right><B><div style="padding-top:5px;">Total</div></B></td>
							<td class="gtitle" align=right><B><div align=right>$ <?=number_format($total, 2);?></B></td>
						</tr>	
						</table>
					</td>
				</tr>
				</table>
				
				<div align=left>
				<table width=95% border=0>
				<tr>
					<td>
						<table>
						<tr bgcolor="#eeeeee">
							<td class="g" align=center><B>Tracking</B></td>
							<td class="g" align=center><B>Type</B></td>
							<td class="g" align=center><B>Carrier</B></td>
						</tr>
						<?
						$query = "select tid, trackno, type, carrier from customer_order_tracking where invoiceid = '$invoiceid'";
						$q2ok = mysql_db_query($DB, $query, $mysqlid);
						if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
						
						while(list($tid, $trackno, $type, $carrier) = mysql_fetch_array($q2ok))
						{
							$query = "select config_value from configuration where config_group = 'Shipping Carriers' and config_key = '$carrier'";
							$q3ok = mysql_db_query($DB, $query, $mysqlid);
							
							if(mysql_num_rows($q3ok) > 0)
							{
								list($url) = mysql_fetch_array($q3ok);
								
								$url.=$trackno;
							}
							else 
							{
								$url = "";
							}
							?>
							<tr>
								<td class="g" align=center><?if($url != ""){?><a href="<?=$url;?>" class="title" target="_blank"><?}?><?=$trackno;?></a></td>
								<td class="g" align=center><?=$type;?></td>
								<td class="g" align=center><?=$carrier;?></td>
							</tr>
							<?
						}
						?>
						</table>
					</td>
				</tr>
				</table>
				</div>	
				
				
				<div align=left>
				<table width=95% border=0>
				<tr>
					<td>
						<table>
						<tr bgcolor="#eeeeee">
							<td class="g" align=center><B>Status</B></td>
							<td class="g" align=center><B>Date</B></td>
							<td class="g" align=center><B>Approval</B></td>
							<td class="g" align=center><B>AVS</B></td>
							<td class="g" align=center><B>CVV</B></td>
							<td class="g" align=center><B>Processor</B></td>
							<td class="g" align=center><B>Card</B></td>
							<td class="g" align=center><B>TxType</B></td>
							<td class="g" align=center><B>Amount</B></td>
						</tr>
						<tr>
							<td colspan=7><div align=right><B>Balance Due:</B></div></td>
							<td colspan=7><div align=right><B><?=$efc->getOrderBalance($orderid);?></B></div></td>
						</tr>
						<?
						$query = "select status, tstamp, approvalcode, txid, avscode, cvvcode, pname, firstdigit, lastfour, amount, txtype from 
									customer_payments where orderid = '$orderid' order by tstamp desc";
						$q2ok = mysql_db_query($DB, $query, $mysqlid);
						if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
						
						$numout=0;
						while(list($status, $tstamp, $approvalcode, $txid, $avscode, $cvvcode, $pname, $firstdigit, $lastfour, $amount, $txtype) = mysql_fetch_array($q2ok))
						{
							$approvalcode = str_replace("'", "", $approvalcode);
							$approvalcode = str_replace("\"", "", $approvalcode);
							
							$numout++;
							
							if($numout % 2)
								echo "<tr bgcolor=\"#ffffff\">";
							else 
								echo "<tr bgcolor=\"#eeeeff\">";
								
							if($status == 0)
								$docolor = "<font color=\"#808080\">";
							else if($amount < 0)
								$docolor = "<font color=\"#800000\">";
							else 
								$docolor = "";
							?>
							
								<td class="g" align=center height=20><?=$docolor;?>
											<?if($status == 0) echo "DECLINED"; 
											else if($status == 1) echo "APPROVED";?>
								</td>
								<td class="g" align=center><?=$docolor;?><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
								<td class="g" align=center><?=$docolor;?>
									<?
									if(strlen($approvalcode) > 10)
									{
										$showapproved = substr($approvalcode, 0, 10)."...";
										?>
										<table cellpadding="0" cellspacing="0" border=0>
										<tr>
											<td valign=top>	
											<a href="javascript:void(0);" 
											onmouseover="showResultText('<?=htmlspecialchars($approvalcode);?>');" 
											onmouseout="hideResultText();"><img src="/mgt/images/notes.gif"></a>
											</td>										
											<td valign=top><?=$docolor;?><?=$showapproved;?></td>
											
										</tr>
										</table>
										<?	
									}
									else 
										echo $docolor.$approvalcode;
									?>
								</td>
								<td class="g" align=center><?=$docolor;?><?=$avscode;?></td>
								<td class="g" align=center><?=$docolor;?><?=$cvvcode;?></td>
								<td class="g" align=center><?=$docolor;?><?=$pname;?></td>
								<td class="g" align=center><?=$docolor;?><?=$firstdigit;?>...<?=$lastfour;?></td>
								<td class="g" align=center><?=$docolor;?><?=$txtype;?></td>
								<td class="g"><div align=right><?=$docolor;?><?=number_format($amount, 2);?></div></td>
							</tr>
							<?
						}
						?>
						</table>
					</td>
				</tr>
				</table>
				</div>	
				<!------------------------- LINE ITEMS --------------------------------->
				
			</td>
		</tr>		
		</table>
		

<!----------------------------------------------------------------------------------------------------------->		
	</td>
</tr>	
</table>
</body>
</html>