<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

if($on == "")
	$on = $efc->getOrderNumber($iv);
	
?>
<HTML>
<head>
<LINK HREF="/mgt/pereport/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<?
if($inwin == 0)
{?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>View Order - <?=$iv;?></B>
		<BR><BR>
<?
}
?>		
		<table width=100%>
		<tr>
			<td>
			<!--------------------------------------------------------------------------------------------------------------->
				<table width=100%>
				<tr bgcolor="#eeeeee">
					<td class="g" align=center><B>Manufacturer</B></td>
					<td class="g" align=center><B>Part</B></td>
					<td class="g" align=center><B>Description</B></td>
					<td class="g" align=right><div align=right><B>Price</B></td>
					<td class="g" align=center><div align=center><B>Ordered</B></td>
					<td class="g" align=center><div align=center><B>Shipped</B></td>
					<td class="g" align=center><div align=center><B>Returned</B></td>
					<td class="g" align=center><div align=center><B>To Return</B></td>
					<td class="g" align=right><div align=right><B>Total</B></td>
				</tr>
				<?
				$query = "select clickid, clicktype, package, subtotal from customer_orders where orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($clickid, $clicktype, $package, $subtotal) = mysql_fetch_array($qok);
				
				$query = "select prodid, manname, manpart, descr, price, qty_ordered, qty_shipped, qty_returned from customer_order_lines
					 where orderid = '$on' AND
					qty_shipped - qty_returned > 0";
				$q2ok = mysql_db_query($DB, $query, $mysqlid);
				if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

				$pidlist = "";
				$total_items = 0;
				
				while(list($pid, $manname, $manpart, $descr, $price, $qty, $shipped, $qreturned) = mysql_fetch_array($q2ok))
				{
					if(floatval($price) <= 0.00)
					{
						$price = $subtotal / $qty;
					}
				?>
				<tr>
					<td class="g" align=center><?=$manname;?></td>
					<td class="g" align=center><?=$manpart;?></td>
					<td class="g" align=center><?=$descr;?></td>
					<td class="g" align=right><div align=right>$ <?=number_format($price, 2);?></td>
					<td class="g" align=center><div align=center><?=$qty;?></td>
					<td class="g" align=center><div align=center><?=$shipped;?></td>
					<td class="g" align=center><div align=center><?=$qreturned;?></td>
					<td class="g" align=center><div align=center>
						<input type="hidden" name="p<?=$pid;?>" id="p<?=$pid;?>" value="<?=$price;?>"> <!-- item price --->
						<input type="hidden" name="q<?=$pid;?>" id="q<?=$pid;?>" value="<?=$shipped-$returned;?>"> <!--- Quantity available for return --->
						<input type="text" name="r<?=$pid;?>" id="r<?=$pid;?>" style="width:15px" class="formBox" onkeyup="recalculate(); "onchange="recalculate();"> <!--- Quantity requested to return --->
					</td>
					<td class="g" align=right><div align=right>$ <?=number_format($price * $qty, 2);?></td>
				</tr>
				<?
					$pidlist[] = $pid;
					$total_items += $shipped;
				}
				?>
				<tr><td colspan=9 background="/images/square/tb.gif"></td></tr>
				</table>			
			<!--------------------------------------------------------------------------------------------------------------->	
			</td>
		</tr>	
		</table>
		
		<script>
		function GetXmlHttpObject()
		{
			var xmlHttp=null;
		
			try
		    {
				// Firefox, Opera 8.0+, Safari
				xmlHttp=new XMLHttpRequest();
			}
		    catch (e)
		    {
		    	// Internet Explorer
		        try
		        {
					xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
				}
				catch (e)
		        {
		        	try
					{
						xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
					}
		            catch (e)
		            {
		            	alert("Your browser does not support AJAX!");
						return false;
					}
				}
			}
			
			return xmlHttp;
		}
		
		function getCheckItem(pid)
		{
			var pItem = document.getElementById("p"+pid); // price
			var qItem = document.getElementById("q"+pid); // quantity available to return
			var rItem = document.getElementById("r"+pid); // quantity requested to return
			
			if( parseInt( rItem.value ) > parseInt( qItem.value ) )
			{
				alert('You cannot return more than was ordered');
				rItem.value = qItem.value;
			}
			
			return parseFloat( rItem.value ) * parseFloat( pItem.value );
		}
		
		function recalculate()
		{
			var rtotal = 0.00;
			<?
			for($xx = 0; $xx < count($pidlist); $xx++)
			{
				?>
				var xtotal = getCheckItem('<?=$pidlist[$xx]?>');
				if(!isNaN(xtotal))
					rtotal += xtotal;
				<?
			}
			?>
			
			document.getElementById("subtotal").innerHTML =  rtotal.toFixed(2);
			
			//addRestockingFee();
			addShipping();
			computeTotal();
		}
		
		function addRestockingFee()
		{
			<?
			$rpct = $efc->getConfigValue("General Settings", "RestockingFee");
			$rpct = str_replace("%", "", $rpct);
			$rpct = floatval($rpct) / 100;
			?>
			if(!document.getElementById("ckrestock").checked)
			{
				return;
			}
			
			var subtotal = parseFloat( document.getElementById("subtotal").innerHTML );
			var restockingfee = subtotal * <?=$rpct;?>;
			
			document.getElementById("restock").value = restockingfee.toFixed(2);
			computeTotal();
		}
		
		function addShipping()
		{
			if(!document.getElementById("ckshipping").checked)
			{
				return;
			}
			<?
			$query = "select subtotal, shipping, total from customer_orders where orderid = '$on'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($osubtotal, $shipping) = mysql_fetch_array($q2ok);
			
			?>
			var subtotal = parseFloat( document.getElementById("subtotal").innerHTML );
			var shipping = (subtotal / <?=$osubtotal;?>) * <?=$shipping;?>;
			
			document.getElementById("shipping").value = shipping.toFixed(2);
			computeTotal();
		}
		
		function addTax()
		{
			if(!document.getElementById("ckshipping").checked)
			{
				return;
			}
			<?
			$query = "select tax, ship2state from customer_orders where orderid = '$on'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($tax, $ship2state) = mysql_fetch_array($q2ok);
			
			if($tax > 0)
			{
				$tpct = floatval($efc->getConfigValue("Taxable States", $ship2state)) / 100;
			}
			else 
			{
				$tpct = 0.00;
			}
			?>
			var subtotal = parseFloat( document.getElementById("subtotal").innerHTML );
			var shipping = parseFloat( document.getElementById("shipping").value );
			
			var tax = (subtotal + shipping) * <?=$tpct;?>;
			
			document.getElementById("tax").value = tax.toFixed(2);
			computeTotal();
		}
		
		function computeTotal()
		{
			var subtotal 	= parseFloat( document.getElementById("subtotal").innerHTML );
			var restocking 	= parseFloat( document.getElementById("restock").value );
			var shipping 	= parseFloat( document.getElementById("shipping").value );
			var tax 		= parseFloat( document.getElementById("tax").value );
			
			
			var total = 0.00;
			
			if(!isNaN(subtotal) )
				total += subtotal;

			if(!isNaN(restocking))	
				total -= restocking;

			if(!isNaN(shipping))
				total += shipping;

			if(!isNaN(tax))
				total += tax;
			
			document.getElementById("total").innerHTML = total.toFixed(2);
		}
		
		function createRMA()
		{
			var subtotal 	= parseFloat( document.getElementById("subtotal").innerHTML );
			var restocking 	= parseFloat( document.getElementById("restock").value );
			var shipping 	= parseFloat( document.getElementById("shipping").value );
			var tax 		= parseFloat( document.getElementById("tax").value );

			var numreturns = 0;
			
			var params = "on=<?=$on;?>";
			
			<?
			for($xx = 0; $xx < count($pidlist); $xx++)
			{
				?>
				var rItem = document.getElementById("r"+<?=$pidlist[$xx];?>);
				if(parseInt(rItem.value) > 0)			
				{
					params += "&item[]="+<?=$pidlist[$xx];?>+"&rqty[]="+rItem.value;
					numreturns++;
				}
				<?
			}
			?>
			
			
			<?
			if( ($clickid == "FB") || ($clickid == "AM") )
			{
				?>
				
				if(parseInt(<?=$total_items;?>) == parseInt(numreturns))
				{
					subtotal = <?=$subtotal;?>;
				}
				
				<?
			}
			?>
			
			
			
			if(numreturns < 1)
			{
				alert('You cannot create a return without any items to return!');
				return;
			}
			
			if(!isNaN(subtotal) )
				params += "&subtotal="+subtotal.toFixed(2);
				
			if(!isNaN(restocking))	
				params += "&restocking="+restocking.toFixed(2);

			if(!isNaN(shipping))
				params += "&shipping="+shipping.toFixed(2);

			if(!isNaN(tax))
				params += "&tax="+tax.toFixed(2);
				
			var inotes = document.getElementById("inotes").value;
				
			params += "&inotes="+escape(inotes);
			
			xmlHttp=GetXmlHttpObject();
	
			var url = "/mgt/om/ajax_savereturn.phtml";

			xmlHttp.open("POST", url, true);
	
			//Send the proper header information along with the request
			xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xmlHttp.setRequestHeader("Content-length", params.length);
			xmlHttp.setRequestHeader("Connection", "close");
		
			xmlHttp.onreadystatechange = returnComplete;
		
			xmlHttp.send(params);	
		}
		
		function createExchange()
		{
			var subtotal 	= parseFloat( document.getElementById("subtotal").innerHTML );
			var restocking 	= parseFloat( document.getElementById("restock").value );
			var shipping 	= parseFloat( document.getElementById("shipping").value );
			var tax 		= parseFloat( document.getElementById("tax").value );

			var numreturns = 0;
			
			var params = "on=<?=$on;?>";
			<?
			for($xx = 0; $xx < count($pidlist); $xx++)
			{
				?>
				var rItem = document.getElementById("r"+<?=$pidlist[$xx];?>);
				if(parseInt(rItem.value) > 0)			
				{
					params += "&item[]="+<?=$pidlist[$xx];?>+"&rqty[]="+rItem.value;
					numreturns++;
				}
				<?
			}
			?>
			
			if(numreturns < 1)
			{
				alert('You cannot create a return without any items to return!');
				return;
			}
			
			if(!isNaN(subtotal) )
				params += "&subtotal="+subtotal.toFixed(2);
				
			if(!isNaN(restocking))	
				params += "&restocking="+restocking.toFixed(2);

			if(!isNaN(shipping))
				params += "&shipping="+shipping.toFixed(2);

			if(!isNaN(tax))
				params += "&tax="+tax.toFixed(2);
				
			var inotes = document.getElementById("inotes").value;
				
			params += "&inotes="+escape(inotes);
			
			xmlHttp=GetXmlHttpObject();
	
			var url = "/mgt/om/ajax_exchange.phtml";

			xmlHttp.open("POST", url, true);
	
			//Send the proper header information along with the request
			xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xmlHttp.setRequestHeader("Content-length", params.length);
			xmlHttp.setRequestHeader("Connection", "close");
		
			xmlHttp.onreadystatechange = exchangeComplete;
		
			xmlHttp.send(params);	
		}	
		
		function exchangeComplete()
		{
			if(xmlHttp.readyState==4)
			{
				if(parseInt(xmlHttp.responseText) > 0)
				{
					document.location='/mgt/om/exchange_additem.phtml?on='+parseInt(xmlHttp.responseText)+'&inwin=1';
				}
				else
				{
					alert(xmlHttp.responseText);
				}
			}				
		}		
			
		function returnComplete()
		{
			if(xmlHttp.readyState==4)
			{
				if(parseInt(xmlHttp.responseText) > 0)
				{
					document.location='/mgt/om/vieworder.phtml?on='+parseInt(xmlHttp.responseText)+'&inwin=1';
				}
				else
				{
					alert(xmlHttp.responseText);
				}
			}				
		}
		</script>

		<table border=0 width=100%>
		<tr>
			<td valign=top>
			<!------------------------------------------------------------------------->
			<table width=100% border=0>
			<tr>
				<td valign=top><B>Public Note:</B></td>
				<td>
					<textarea style="width:400px;height:60px" name="inotes" id="inotes" class="formBox"></textarea>	
				</td>
			</tr>
			</table>
			<!------------------------------------------------------------------------->
			</td>
			
			
			<td valign=top>
			<!------------------------------------------------------------------------->
			<table width=100%>
			<tr>
				<td>Subtotal:</td>
				<td align=right><div id="subtotal" style="display:inline;">0.00</div></td>
			</tr>	
			<tr>
				<td><input type="checkbox" name="ckrestock" id="ckrestock" onclick="addRestockingFee()">Restocking Fee %*:</td>
				<td align=right>(-)<input type="text" name="restock" id="restock" style="width:55px;text-align:right;color:#ff0000" class="formBox" onkeyup="recalculate();" onchange="recalculate();"></td>
			</tr>	
			<tr>
				<td><input type="checkbox" name="ckshipping" id="ckshipping" onclick="addShipping()">Refund Shipping %*:</td>
				<td align=right><input type="text" name="shipping" id="shipping" style="width:55px;text-align:right" class="formBox" onkeyup="recalculate(); "onchange="recalculate();"></td>
			</tr>	
			<tr>
				<td><input type="checkbox" name="cktax" id="cktax" onclick="addTax()">Refund Tax %*:</td>
				<td align=right><input type="text" name="tax" id="tax" style="width:55px;text-align:right" class="formBox" onkeyup="recalculate(); "onchange="recalculate();"></td>
			</tr>	
			<tr>
				<td>Total:</td>
				<td align=right><div id="total" name="total" style="display:inline;">0.00</div></td>
			</tr>	
			</table>
			<!------------------------------------------------------------------------->
			</td>
		</tr>
		</table>


	<input type="button" name="Action" value="Create RMA" onclick="createRMA();" class="buttonItem">
	<input type="button" name="Action" value="Create Exchange" onclick='createExchange();' class="buttonItem" <?if($DB == "ecom") echo "disabled";?>>
	<input type="button" name="Action" value="Cancel" class="buttonItem" onclick="document.location='/mgt/om/vieworder.phtml?iv=<?=$iv;?>&inwin=1';">
	<BR><BR>
	<HR NOSHADE>
	<table><tr><td>*The checkboxes (Restocking Fee % and Refund Shipping %) turn on and off automatic calculations</td></tr></table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>



</body>
</html>