<?
class amParser
{
	function cleanNumber($data)
	{
		$data = str_replace("+", "", $data);	
		$data = str_replace("$", "", $data);
		$data = str_replace(",", "", $data);
		$data = trim($data);
		return floatval($data);
	}
	
	function parseAmazonPrices(&$px, $buffer)
	{
		$onitem = 0;
		$buffer = strtolower($buffer);
		$hitx = strpos($buffer, "ready to buy");
		
		while(1)
		{
			$hity = strpos($buffer, "edit-one-click-pref.html", $hitx + 24); //24
			
			if($hity == false) return;
			
			$segment = substr($buffer, $hitx, $hity - $hitx);
			
			$hita = strpos($segment, "&seller=");
			$hitb = strpos($segment, "\"", $hita + 8);
			
			$mid = substr($segment, $hita + 8, $hitb - $hita - 8);
			
			$hita = strpos($segment, "<span class=\"price\">"); // 20
			$hitb = strpos($segment, "</span>", $hita + 20 );
			$price = substr($segment, $hita + 20, $hitb - $hita - 20);
			$price = str_replace("+", "", $price);
			$price = floatval( trim( str_replace("$", "", $price) ) );
			
			
			$hita = strpos($segment, "<span class=\"price_shipping\">"); // 29
			$hitb = strpos($segment, "</span>", $hita + 29 );
			$shipping = substr($segment, $hita + 29, $hitb - $hita - 29);
			$shipping = str_replace("+", "", $shipping);
			$shipping = floatval(trim( str_replace("$", "", $shipping) ));
			
			$hita = strpos($segment, "<div class=\"condition\">"); // 22
			$hitb = strpos($segment, "</div>", $hita + 23 );
			$condition = substr($segment, $hita + 23, $hitb - $hita - 23);

			$hita = strpos($segment, "seller:");
			$hita = strpos($segment, "<b>", $hita + 7);
			$hitb = strpos($segment, "</b>", $hita);
			if($hita != false && $hitb != false)
				$merchant = substr($segment, $hita + 3, $hitb - $hita - 3);
			else 
				$merchant = "";
			
			/*echo "CONDITION: $condition<BR>";
			echo "MID: $mid<BR>";
			//echo "MERCHANT: $merchant<BR>";
			echo "PRICE: $price<BR>";
			echo "SHIPPING: $shipping<BR>";
			echo "<HR NOSHADE>";*/
			
			$px['mid'][] = $mid;
			$px['name'][] = "";
			$px['url'][] = "";
			$px['price'][] = $price;
			$px['shipping'][] = $shipping;
			$px['shipnote'][] = "";
			$px['pricenote'][] = "";
			$px['shipprice'][] = $shipping + $price;
							
/*			if($onitem == 10)
			{
				echo $segment;
				exit;
			}*/
						
			$hitx = $hity + 24;
			
			$onitem++;
		}
		
	}
	
	
}
?>