<?
/*
stock for item for $mid only
webservices.amazon.com/onca/xml?Service=AWSECommerceService&AWSAccessKeyId=1TTNA3VJBQ0KM95NQJG2&AssociateTag=cruxworks-20&Operation=ItemLookup&ItemId=B000BY52NK&MerchantId=A1NNKRGKEFQRI9&ResponseGroup=OfferFull&OfferPage=1
*/

//$asin = "B001EQ4BVI";
//$mid = "A2P7U8ZHUJIO9T";

$asin = "B0001DYTOY";


$baseHOST = "webservices.amazon.com";
$baseURL = "/onca/xml?Service=AWSECommerceService&AWSAccessKeyId=1TTNA3VJBQ0KM95NQJG2&AssociateTag=cruxworks-20&Operation=ItemLookup&ItemId=$asin&MerchantId=$mid&ResponseGroup=OfferFull&OfferPage=1";
echo $baseHOST . $baseURL . "<br>";

$buffer = getSite($baseURL, $baseHOST);
$arrOutput = xml2array($buffer, 0);


/* output...

<FormattedPrice>$679.99</FormattedPrice>
<TotalNew>9</TotalNew>
<TotalUsed>10</TotalUsed>
<TotalCollectible>0</TotalCollectible>
<TotalRefurbished>0</TotalRefurbished>
<Name>best-of-sales</Name>
<Availability>Usually ships in 1-2 business days</Availability>

*/

echo "Merchant: " . $arrOutput['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['Name']. "<br>";
echo "Merchant ID: " . $arrOutput['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['MerchantId']. "<br>";

echo "New Items: " . $arrOutput['ItemLookupResponse']['Items']['Item']['OfferSummary']['LowestNewPrice']['FormattedPrice'] . "<br>";
echo "Used Items: " . $arrOutput['ItemLookupResponse']['Items']['Item']['OfferSummary']['LowestUsedPrice']['FormattedPrice'] . "<br>";

echo "Offers New: " . $arrOutput['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalNew'] . "<br>";
echo "Offers Used: " . $arrOutput['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalUsed'] . "<br>";
echo "Offers Collectible: " . $arrOutput['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalCollectible'] . "<br>";
echo "Offers Refurb: " . $arrOutput['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalRefurbished'] . "<br>";



 








?>















<?

function getSite($baseURL, $baseHOST) {
//echo $baseURL . "<BR>";
//echo $baseHOST . "<BR>";
$out = "GET $baseURL HTTP/1.0\r\nHost: $baseHOST\r\n\r\n";
$fp = fsockopen($baseHOST, 80, $errno, $errstr, 30);
fwrite($fp, $out);
$body = false;
while (!feof($fp)) {
$s = fgets($fp, 1024);
if ( $body )
$in .= $s;
if ( $s == "\r\n" )
$body = true;
}

fclose($fp);

return $in;
}


function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
} 
function sanitizeInput($data) 
{
		$data = str_replace("\"", "", $data);
		$data = str_replace("'", "", $data);
		$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);
		
		return $data;
}

?>







