<?

//REQUIRE("networkclass.phtml");
REQUIRE("u007xml.phtml");
REQUIRE("xml2arrayclass.phtml");
		
$data = go();


echo "<pre>"; print_r($data); echo "</pre>";


 
function go()
{
	$server = "localhost";
	$username = "root";
	$password = "g-KLzyxq06";
$mysqlid = mysql_connect($server, $username, $password);

   	
//    	$asin = "B001G5ZTPY";
//$asin = "B001EQ4BVI";
$asin = "B0001DYTOY";

//$mid = "A2P7U8ZHUJIO9T";
    	
			
			echo "sin: <b>$asin</b>\n";
			
			// okay, so here we have the asin
			if($asin == "") return $ps; // double-check that it ain't empty
			
			$ps = "";
			
			///////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			$numpages = 0;
			$onpage = 1;
			
			echo "<BR><BR>Now lets Cycle all pages connected to <b>$asin</b> and list all Regular Merchants... ";
			$baseHOST = "webservices.amazon.com";
			$baseURL = "/onca/xml?Service=AWSECommerceService&AWSAccessKeyId=1TTNA3VJBQ0KM95NQJG2&AssociateTag=cruxworks-20&Operation=ItemLookup&ItemId=$asin&MerchantId=All&ResponseGroup=OfferFull&OfferPage=1";
			$buffer = getSite($baseURL, $baseHOST);
            $objXML = new xml2Array();
			$arrOutput = $objXML->parse($buffer);
			
			$numpages = $arrOutput[0]['children'][1]['children'][1]['children'][2]['children'][1]['tagData'];
			
			$offers = $arrOutput[0]['children'][1]['children'][1]['children'][2]['children'];
			
			echo "Number of Pages to parse:<b><i> $numpages</b></i><BR><BR>";
			sleep(2);
			
			for($onpage = 1; $onpage <= $numpages; $onpage++)
			{
				echo "<i><b>PAGE: $onpage OFFERS: ".count($offers)."</i></b><BR><BR>";
				
				if($onpage > 1)// we already loaded page 1..... so, skip it here
				{
                   $baseHOST = "webservices.amazon.com";
					$baseURL = "/onca/xml?Service=AWSECommerceService&AWSAccessKeyId=1TTNA3VJBQ0KM95NQJG2&AssociateTag=cruxworks-20&Operation=ItemLookup&ItemId=$asin&MerchantId=All&ResponseGroup=OfferFull&OfferPage=$onpage";
					$buffer = getSite($baseURL, $baseHOST);
					$objXML = new xml2Array();
					$arrOutput = $objXML->parse($buffer);
					$offers = $arrOutput[0]['children'][1]['children'][1]['children'][2]['children'];
				}
// <-----------------------------------------------------------------------------------------------------------------------------------------------------				
				for($i = 2; $i < count($offers); $i++)
				{
					$mid =   $offers[$i]['children'][0]['children'][0]['tagData'];
					$name =  $offers[$i]['children'][0]['children'][1]['tagData'];
					$rawprice = trim($offers[$i]['children'][2]['children'][1]['children'][2]['tagData']);
					$price = str_replace("$", "", $rawprice);
					$price = str_replace(",", "", $price);
			
					if(intval($price <= 0))
					{
						$rawprice = trim($offers[$i]['children'][2]['children'][2]['children'][2]['tagData']);
						$price = str_replace("$", "", $rawprice);
						$price = str_replace(",", "", $price);		
					}
					
					echo "$name = $price<br> ";
			
					/*if(intval($price <= 0))
					{
						echo "<pre>";
						print_r($offers[$i]['children'][2]['children'][2]);
						echo "</pre>";
					}
					*/
				
					if($mid != "")
					{
						echo "mid: $mid<br><BR>";
						$ps['mid'][] = $mid;
						$ps['name'][] = $name;
						$ps['url'][] = "AMAZON_URL";
						
						$ps['shipping'][] = 0;
									
						$ps['shipnote'][] = "not listed.";
								
						if(intval($price) <= 0)			
						{
							$ps['pricenote'][] = "Too Low to Display";
							$ps['price'][] = 999999;
						}
						else
						{
							$ps['pricenote'][] = $offers[$i]['children'][1]['children'][0]['tagData'];
							$ps['price'][] = $price;
						}
							
						$ps['shipprice'][] = $price;
					}
			
					//echo "OKAY2: $mid => $name<br>";
						//$name = addslashes($name);
						//$query = "insert into am_mid values('$mid', '$name')";
						//$queryok = mysql_db_query("dsndata", $query, $this->mysqlid);
						//if($queryok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					///////////////////////////////////////////////////////////////////////////////////////////////////////////				
				}
				
				
			}

			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
   $baseHOST = "webservices.amazon.com";
			$baseURL = "/onca/xml?Service=AWSECommerceService&AWSAccessKeyId=1TTNA3VJBQ0KM95NQJG2&AssociateTag=cruxworks-20&Operation=ItemLookup&ItemId=$asin&MerchantId=Featured&ResponseGroup=OfferFull&OfferPage=1";
			$buffer = getSite($baseURL, $baseHOST);
			
			$objXML = new xml2Array();
			
			$arrOutput = $objXML->parse($buffer);
			
			$numpages = $arrOutput[0]['children'][1]['children'][1]['children'][2]['children'][1]['tagData'];
			
			$offers = $arrOutput[0]['children'][1]['children'][1]['children'][2]['children'];
			
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// do a loop just for the featured merchants
			{
				echo "The Featured Merchants Are...<BR><BR>";
				
				for($i = 2; $i < count($offers); $i++)
				{
					$mid =   $offers[$i]['children'][0]['children'][0]['tagData'];
					$name =  $offers[$i]['children'][0]['children'][1]['tagData'];
					$rawprice = trim($offers[$i]['children'][2]['children'][1]['children'][2]['tagData']);
					$price = str_replace("$", "", $rawprice);
					$price = str_replace(",", "", $price);
			
					if(intval($price <= 0))
					{
						$rawprice = trim($offers[$i]['children'][2]['children'][2]['children'][2]['tagData']);
						$price = str_replace("$", "", $rawprice);
						$price = str_replace(",", "", $price);		
					}
					
					echo "$name = $price\n\n";
			
					/*if(intval($price <= 0))
					{
						echo "<pre>";
						print_r($offers[$i]['children'][2]['children'][2]);
						echo "</pre>";
					}
					*/
				
					if($mid != "")
					{
						echo "Featured Merchent: $mid - $name<br>";
						$ps['mid'][] = $mid;
						$ps['name'][] = $name;
						$ps['url'][] = "AMAZON_URL";
						
						$ps['shipping'][] = 0;
									
						$ps['shipnote'][] = "not listed.";
								
						if(intval($price) <= 0)			
						{
							$ps['pricenote'][] = "Too Low to Display";
							$ps['price'][] = 999999;
						}
						else
						{
							$ps['pricenote'][] = $offers[$i]['children'][1]['children'][0]['tagData'];
							$ps['price'][] = $price;
						}
							
						$ps['shipprice'][] = $price;
					}
			
					///////////////////////////////////////////////////////////////////////////////////////////////////////////
					//echo "CHECKING: $mid \n";
					//$query = "select merchant from am_mid where mid = '$mid' ";
					//$queryok = mysql_db_query("dsndata", $query, $this->mysqlid);
					//if($queryok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
					//if(mysql_num_rows($queryok) >= 1)
					//{}
					//else 
					//{
						//echo "ADDING: $mid => $name\n";
						//$name = addslashes($name);
						//$query = "insert into am_mid values('$mid', '$name')";
						//$queryok = mysql_db_query("dsndata", $query, $this->mysqlid);
						//if($queryok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					//}
					///////////////////////////////////////////////////////////////////////////////////////////////////////////				
				}
				
				
			}			
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$baseHOST = "www.amazon.com";
			$baseURL = "/gp/offer-listing/$asin/sr=/qid=/ref=olp_tab_new?ie=UTF8&coliid=&me=&qid=&sr=&seller=&colid=&condition=new";
			$buffer = getSite($baseURL, $baseHOST);
			
			$amparser = new amParser();
			
			$amparser->parseAmazonPrices(&$px, $buffer);
			
			for($xx = 0; $xx < count($ps['mid']); $xx++)
			{
				for($zz = 0; $zz < count($px['mid']); $zz++)
				{
					echo "TESTING: ".strtolower($ps['mid'][$xx])." == ".strtolower($px['mid'][$zz])."\n";
					
					if( strtolower($ps['mid'][$xx]) == strtolower($px['mid'][$zz]) )
					{
						echo "SHIPPING UPDATED!!!\n";
						$ps['shipping'][$xx] = $px['shipping'][$zz];
					}
				}
			}
			
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					
			return $ps;

		}

function getSite($baseURL, $baseHOST) {
//echo $baseURL . "<BR>";
//echo $baseHOST . "<BR>";
$out = "GET $baseURL HTTP/1.0\r\nHost: $baseHOST\r\n\r\n";
$fp = fsockopen($baseHOST, 80, $errno, $errstr, 30);
fwrite($fp, $out);
$body = false;
while (!feof($fp)) {
$s = fgets($fp, 1024);
if ( $body )
$in .= $s;
if ( $s == "\r\n" )
$body = true;
}

fclose($fp);

return $in;
}

	
		
		
?>