<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>BT Kit Mover</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>

<script>
function searchSKUs(pagenumVal){
	
	$("#savecover").show();
	var num2ret = $('#num2return').val();
	$.get("ajax_skusearch.phtml", 
			{p:pagenumVal,'num2return':num2ret},function(data){
			$('#reportdata').html(data);  
			$("#savecover").hide(); 	
   	});
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
function updatePid(id) {
	$.get("updatepid.phtml", 
			{'action':'single','id':id},function(data){
			$('#delete_'+id).html('');
   	});
}
function updateAllPids() {
	var pids_str = '';
	$('.delete_td').each(function(){
		var pid = $(this).attr('id').split('_');
		pids_str += pid[1]+',';
	});
	$.get("updatepid.phtml", 
			{'action':'all','ids':pids_str},function(data){
			/*$('.delete_td').each(function(){
				$(this).html('');
			});*/
			searchSKUs(0);
   	});
}
</script>

<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td align="center">BT Kit Mover</td>
		</tr>
		<tr>
                        <td width=250>
			<!------------------------------------------------------------------------------------------>
                        <div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
                            <ul class="TabbedPanelsTabGroup">
                             <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
                            </ul>
                            <div class="TabbedPanelsContentGroup">
                                <div class="TabbedPanelsContent">  
                                    <?INCLUDE("advanced_search.phtml");?>
                                </div>
                            </div>
                        </div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>
			<!------------------------------------------------------------------------------------------>
			<td>
				
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>