<?
$ROOT_DIR = "/home/httpd/rawfoodworld.com";
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;


ob_start();
print_r($_POST);
$debug_data = addslashes(ob_get_clean());
$tstamp = date("Y-m-d H:i:s", time());
$query = "insert into debug(tstamp, title, data) values('$tstamp', 'ListEruption NewLead', '$debug_data')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}


/******************************************************************************************/

//curl_setopt($ch, CURLOPT_POSTFIELDS, "campaignid=".$_POST['id']."&email=".urlencode($info[1])."&userid=".$wpdb->insert_id);
// see if the lead exists in the customer_accounts table
$showpassword = 0;

$email = addslashes( urldecode($email) );
$query = "select acctid from customer_accounts where emailaddr = '$email'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
if(mysql_num_rows($qok) <= 0)
{// create the account
	$showpassword = 1;
	$password = $cclass->rand_string(8);
	
	$query = "insert into customer_accounts(emailaddr, password) values('$email', '".md5($password)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
	$acctid = mysql_insert_id();
}
else
{// already have an account
	list($acctid) = mysql_fetch_array($qok);
}

// see if they're in the listeruption_extended table
$query = "select acctid from listeruption_extended where acctid = '$acctid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
if(mysql_num_rows($qok) <= 0)
{// not in the le table?  give'em $10 in credit and email
	
	$query = "insert into listeruption_extended(acctid, userid, amount, action) values('$acctid' ,'$userid', '10.00', 'New Signup')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
	
	$query = "select id, credit_amount from customer_credits where acctid = '$acctid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
	if(mysql_num_rows($qok) > 0)
	{// update an old entry
		list($id, $credit_amount) = mysql_fetch_array($qok);
		
		$credit_amount = $credit_amount + 10;
		
		$query = "update customer_credits set credit_amount = '$credit_amount' where id = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
		
		$operation_description = "List Eruption - New Signup";
		$query = "INSERT INTO customer_credits_log (acctid, orderid, credit_amount, operation_description, lastupdate)
						 VALUES ('$acctid', '', '10.00', '$operation_description', '".time()."')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}

	}
	else
	{// create a new entry
		$query = "insert into customer_credits(acctid, credit_amount) values('$acctid', '10.00')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
		
		$operation_description = "List Eruption - New Signup";
		$query = "INSERT INTO customer_credits_log (acctid, orderid, credit_amount, operation_description, lastupdate)
						 VALUES ('$acctid', '', '10.00', '$operation_description', '".time()."')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
	}
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	if($showpassword == 1)
	{
		$body = "Welcome!<BR>
<BR>
Your personal store account with TheRawFoodWorld.com has now been created using the email you provided, and your FREE $10 Gift Card has already been applied to your account!
<BR><BR>
Get even *more* added to your gift card by sharing - click here to find out more:<BR>
<a href='http://news.therawfoodworld.com/get-a-10-gift-card-for-free/'>http://news.therawfoodworld.com/get-a-10-gift-card-for-free/</a>
<BR><BR>
Below are your login details for your new account:
<BR><BR>
<a href='http://www.therawfoodworld.com/customer/'>http://www.therawfoodworld.com/customer/</a><BR>
Username $email<BR>
Password $password
<BR><BR>
We are thrilled to welcome you to The Raw Food World, the biggest online raw food and superfood store in the world!
<BR><BR>
We stock thousands of health-related items, from staple foods and snacks to supplements, books, DVDs, appliances, exercise equipment, beauty products and more...and we ship anywhere in the world.
<BR><BR>
So jump on over to <a href='http://www.therawfoodworld.com'>www.TheRawFoodWorld.com</a> right now to use your free $10 store credit today!
<BR><BR>
Your journey to vibrant health starts here!
<BR><BR>
Matt Monarch<BR>
CEO, TheRawFoodWorld.com<BR>
<BR>
P.S. We also offer a huge list of exclusive, deeply discounted \"At-Cost\" Specials every single month, to help lighten the load of healthier living on your wallet - check out our current At-Cost Specials here!
<a href='http://www.therawfoodworld.com/at-cost-specials-l36'>http://www.therawfoodworld.com/at-cost-specials-l36</a>
";	
	}
	else
	{
		$body = "Thank you!
<BR><BR>
Your FREE $10 store credit has now been applied to your account at TheRawFoodWorld.com!
<BR><BR>
Get even *more* added to your gift card by sharing - click here to find out more:<BR>
<a href='http://news.therawfoodworld.com/get-a-10-gift-card-for-free/'>http://news.therawfoodworld.com/get-a-10-gift-card-for-free/</a>
<BR><BR>
Then jump on over to <a href='http://www.therawfoodworld.com'>www.TheRawFoodWorld.com</a> to use your free store credit today!
<BR><BR>
Your journey to vibrant health starts here!
<BR><BR>
Matt Monarch<BR>
CEO, TheRawFoodWorld.com
<BR><BR>
P.S. As you may know, we offer a huge list of exclusive, deeply discounted \"At-Cost\" Specials every single month, to help lighten the load of healthier living on your wallet - check out our current At-Cost Specials here!
<a href='http://www.therawfoodworld.com/at-cost-specials-l36'>http://www.therawfoodworld.com/at-cost-specials-l36</a>
";
	}	
	
		
	//ob_start();
		$mail = new PHPMailer();
	    $mail->do_debug = 1;
			
		if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
		{
			$mail->IsSMTP(); // telling the class to use SMTP
			$mail->Host = $efc->getConfigValue("Email Settings", "SMTP");; // SMTP server
			$mail->SMTPAuth = true;
			$mail->AuthType = "";//CRAM-MD5
			$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
			$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
		}
		else 
		{
			$mail->SMTPAuth = false;
		}
			
		$mail->From     = "support@therawfoodworld.com";
		$mail->FromName = "support@therawfoodworld.com";
			
		$mail->AddAddress($email);
		//$mail->AddBCC("yancey@efluent.com");
			
		$mail->IsHTML(true);	
					
		$mail->Subject = "Rawfoodworld Credit Received!!";
		$mail->Body = html_entity_decode( $body );
			
		$mail->Send();
	//ob_clean();	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
}
else
{
	// do nothing they're already in the listeruptoin table so they don't get the $10 credit
}

?>