<?
$ROOT_DIR = "/home/httpd/rawfoodworld.com";

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

/******************************************************************************************/
//curl_setopt($ch, CURLOPT_POSTFIELDS, "userid=".$id."&type=".urlencode($var));
ob_start();
print_r($_POST);
$debug_data = addslashes(ob_get_clean());
$tstamp = date("Y-m-d H:i:s", time());
$query = "insert into debug(tstamp, title, data) values('$tstamp', 'ListEruption Shared', '$debug_data')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}

$query = "select acctid from listeruption_extended where userid = '$userid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
if(mysql_num_rows($qok) <= 0)
{
}
else
{
	list($acctid) = mysql_fetch_array($qok);
	
	$query = "insert into listeruption_extended(acctid, userid, amount, action) values('$acctid' ,'$userid', '1.00', '".addslashes($type)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
	
	// it exists.... make sure they don't have $15 in credits already
	$query = "select sum(amount) from listeruption_extended where userid = '$userid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
	list($sum) = mysql_fetch_array($qok);
	
	if($sum <= 16)
	{
		$query = "select id, credit_amount from customer_credits where acctid = '$acctid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
		if(mysql_num_rows($qok) > 0)
		{// update an old entry
			list($id, $credit_amount) = mysql_fetch_array($qok);
			
			$credit_amount = $credit_amount + 1;
			
			$query = "update customer_credits set credit_amount = '$credit_amount' where id = '$id'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
			
			$operation_description = "List Eruption - $type";
			$query = "INSERT INTO customer_credits_log (acctid, orderid, credit_amount, operation_description, lastupdate)
							 VALUES ('$acctid', '', '1.00', '$operation_description', '".time()."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
			
			/*$query = "select emailaddr from customer_accounts where acctid = '$acctid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "$query<BR><BR>".mysql_error();exit;}
			list($email) = mysql_fetch_array($qok);
			
			$body = "Congratulations!  You have received a $1 credit at http://www.therawfoodworld.com<BR><BR>";
			
			$body .="<BR>Login to your account and use your credit on any purchase!";
			$body .="<BR><BR>Thanks<BR>The Raw Food World";
				
			//ob_start();
			$mail = new PHPMailer();
		    $mail->do_debug = 1;
					
			if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
			{
				$mail->IsSMTP(); // telling the class to use SMTP
				$mail->Host = $efc->getConfigValue("Email Settings", "SMTP");; // SMTP server
				$mail->SMTPAuth = true;
				$mail->AuthType = "";//CRAM-MD5
				$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
				$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
			}
			else 
			{
				$mail->SMTPAuth = false;
			}
				
			$mail->From     = "support@therawfoodworld.com";
			$mail->FromName = "support@therawfoodworld.com";
				
			$mail->AddAddress($email);
			$mail->AddBCC("yancey@efluent.com");
				
			$mail->IsHTML(true);	
						
			$mail->Subject = "Rawfoodworld Credit Received!!";
			$mail->Body = html_entity_decode( $body );
				
			$mail->Send();	*/		
		}	
	}
}
?>