.halfmoon{
margin-bottom: 4px;
}

.halfmoon ul{
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 14px Verdana;
	list-style-type: none;
}

.halfmoon li{
display: inline;
margin: 0;
}

.halfmoon li a{
	text-decoration: none;
	margin: 0;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	background-image: url(/ni/line-a.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 8px;
}

.halfmoon li a:visited{
	color: #FFFFFF;
}

.halfmoon li a:hover, .halfmoon li a.current{
	color: #FFFF66;
}

#tabcontentcontainer{
width:95%; /*width of 2nd level content*/
height:1.5em; /*height of 2nd level content. Set to largest's content height to avoid jittering.*/
}

.tabcontent{
display:none;
}#ddimagetabs {
	background-image: url(/ni/logo_r3_c1.gif);
	height: 32px;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 8px;
}
