<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/ccvalidation.phtml");

$Form = new CreditCardValidationSolution;

/*
<li> American Express    </li>
     *                                  <li> Australian BankCard </li>
     *                                  <li> Carte Blanche       </li>
     *                                  <li> Diners Club         </li>
     *                                  <li> Discover/Novus      </li>
     *                                  <li> JCB                 </li>
     *                                  <li> MasterCard          </li>
     *                                  <li> Visa                </li>
*/
$Accepted = array('American Express', 'Australian BankCard', 'Carte Blanche',  'Diners Club', 'Discover/Novus', 'JCB', 'MasterCard', 'Visa');

if (!$Form->validateCreditCard($cc, 'en', $Accepted, 'N', "", "") ) 
{
        echo "<font color=\"#800000\">$Form->CCVSError</font>";
} 
else 
{
        echo "<B>$Form->CCVSType</B>";
}

?>