<?
// This file is depreciated..... see ajax_updateorderstatus.phtml
/*
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass;
$efc->db = $DB;
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


$orderid = $efc->getOrderNumber($iv);

$moveanytime = $efc->getPermission("perm_flow_move_anytime"); // this person is the shiznit... can move anything anywhere
$onlymine = $efc->getPermission("perm_flow_move_onlymine");
$freemoveq =$efc->getPermission("perm_flow_move_freemoveq"); 

$query = "select arepid, status from customer_orders where orderid = '$orderid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($old_arepid, $current_status) = mysql_fetch_array($qok);

$query = "select anypush from company_orderflow where step = '$current_status'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($anypush) = mysql_fetch_array($qok);

if($efc->getUserType() != "MANAGER")
{// not a manager?  can't change the sales rep....... that simple ;-)
	$repid = $old_arepid;	
}
 
if(
	($efc->getUserType() == "SALESMAN" || ($onlymine == true)) && $moveanytime == false
  )
{
	if($_SESSION["ID"] != $old_arepid)
	{
		echo "You cannot modify the status of an order not assigned to you.";
		exit;
	}
}

// if its a salesman, and its not in a step that's marked *Free Movement from this step*
if($efc->getUserType() == "SALESMAN" && $anypush == false)
{
	if($_SESSION["ID"] != $old_arepid)
	{
		echo "As a salesman, you cannot modify the status of an order thats not in a *Free Movement* step.";
		exit;
	}

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select zerobal from company_orderflow where step = '$status'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($zerobal) = mysql_fetch_array($qok);
		
$balance = $efc->getOrderBalance($orderid);
		
if($zerobal == 1 && $balance > 0 && $moveanytime == false)
{
	echo "Cannot Move '$iv' to '($status) - ".$efc->lookupOrderStatus($status)."'  There is a balance remaining!\n";	
	exit;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$old_repname = $efc->getRepName($old_arepid);
$new_repname = $efc->getRepName($repid);

$old_status = $efc->lookupOrderStatus($current_status);
$new_status = $efc->lookupOrderStatus($status);

if($old_status != $new_status)
{
	$title_change = "Status Changed";
	
	$change_log = "NEW_STATUS: $new_status OLD_STATUS: $old_status";
}
	
if($old_repname != $new_repname)
{
	if($title_change != "")
	{
		$title_change .= "/Rep Changed";
		$change_log .= "<BR><BR>OLD_REP:$old_repname  NEW_REP: $new_repname";
	}
	else 	
	{
		$title_change = "Rep Changed";
		$change_log .= "<BR><BR>OLD_REP:$old_repname  NEW_REP: $new_repname";
	}
}
	
$efc->logAction("SUCCESS", "2", $orderid, $title_change, $change_log);

$query = "update customer_orders set status = '$status', arepid = '$repid' where invoiceid = '$iv'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "delete from company_orderflow_onstep where orderid = '$orderid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$tstamp = date("Y-m-d H:i:s", time());
$query = "insert into update_pool(type, updateid, tstamp) values('2', '$orderid', '$tstamp')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

echo "OK";
*/
?>