<script>
var g_onnum = 0;
var orderlist = new Array();
function temp()
{
//	var cvr = document.getElementById("savecover");
//	cvr.style.display = "block";
	
//	cvr.style.top = 0;
//	cvr.style.left = 0;
	
//	cvr.style.width = "100%";
//	cvr.style.height = "100%";
	
	var dlg = document.getElementById("changestatus");
	
	dlg.style.top = 100;
	dlg.style.left = 100;
	
	//////////////////////////////////////////////////////////////	
	var myForm = document.omreport;
	
	var i = 0;
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
//				alert(myForm[z].value);
//				alert(document.imail.eid.options[  document.imail.eid.selectedIndex ].value);
//				orderlist[i] = myForm[z].value;
//				i++;
			}
		}
	}
	
//	dlg.innerHTML =  "<CENTER><BR>Please Wait...<BR><BR><img src='/mgt/images/loading.gif'></CENTER>";
}



var g_onnum = 0;
var orderlist = new Array();
function Emails()
{
//    var theeid = document.imail.eid.options[  document.imail.eid.selectedIndex ].value;
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("changestatus");
	
	dlg.style.top = 100;
	dlg.style.left = 100;
	
	//////////////////////////////////////////////////////////////	
	var myForm = document.omreport;
	
	var i = 0;
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				//alert(myForm[z].value);
				orderlist[i] = myForm[z].value;
				i++;
			}
		}
	}
	
	dlg.innerHTML =  "<CENTER><BR>Please Wait...<BR><BR><img src='/mgt/images/loading.gif'></CENTER>";
	
	doEmails();
}

function doEmails()
{
	if(orderlist.length <= g_onnum)
	{
		orderlist = new Array();
		g_onnum = 0;
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("changestatus");
		dlg.style.display = "none";

		return;	
	}
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	
  	document.getElementById("changestatus").innerHTML = "Email: "+orderlist[g_onnum];
  	
	//////////////////////////////////////////////////////////////	
	var newstatus = document.omreport.ostatus.options[ document.omreport.ostatus.selectedIndex ].value;
	var newassign = document.omreport.oassignedto.options[ document.omreport.oassignedto.selectedIndex ].value;
		
	var useassigned = 0;
	
	if(document.imail.useassigned.checked)
		useassigned = 1;

	url = "/mgt/om/ajax_sendmail.phtml?on="+orderlist[g_onnum]+"&eid="+document.imail.eid.options[  document.imail.eid.selectedIndex ].value+"&useassigned="+useassigned;
  		
	xmlHttp.onreadystatechange=EmailComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function EmailComplete()
{
	if(xmlHttp.readyState==4)
	{ 
		if(xmlHttp.responseText != "OK")
		{
			alert(xmlHttp.responseText);
		}

		g_onnum++;	
		doEmails();
	}
	
}




</script>
<form name="imail">
<table>
<tr>
	<td>
		<input type="checkbox" name="checkall" onclick="checkUncheckAll(document.imail, document.omreport);">Select All Orders
	</td>
	<td>
		<select name="eid" size="1" class="formSelect">
		<option value="">--- SELECT ---</option>
		<?
		$query = "select id, name, subject, tstamp from email_templates order by name";
		echo $query;
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($eid, $name, $subject) = mysql_fetch_array($qok))  
		{
			echo "<option value=\"$eid\">$name ($subject)</option>";
		}
		?>
		</select>
		<input type="checkbox" value="1" name="useassigned">Use assigned Rep
		<input type="button" name="Action" value="Send" onclick="Emails()" class="buttonItem">
	</td>
</tr>			
</table>
</form>

