<?
if($ORDER_TYPE == "INVOICE" || $orderType == "INVOICE")
{
	?>
	<div class="vmenuItem" id="menuItem4" style="text-align:center;">
		<a href="javascript:void(0);" onclick="top.document.location='/mgt/cm/viewaccount.phtml?acctid=<?=$acctid;?>'">
			<img src="/mgt/images/account.gif" width=16 alt="View Account">
		</a>
	</div>
	<div class="vmenuItem" id="menuItem4" style="text-align:center;">
		<a href="javascript:void(0);" onclick="getFraudInfo();">
			<img src="/mgt/images/private.gif" width=16 alt="Fraud Check">
		</a>
	</div>
	
	<div class="vmenuItem" id="menuItem5" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showEmailForm();">
			<img src="/mgt/images/e-mail.gif" width=16 alt="Send Email">
		</a>
	</div>
	
	<div class="vmenuItem" id="menuItem5" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showTrackingForm();">
			<img src="/mgt/images/truck.gif" width=16 alt="Add Tracking Info">
		</a>
	</div>
	
	
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showChargeForm();">
			<img src="/mgt/images/bill.gif" width=16 alt="Charge Customer">
		</a>
	</div>
	
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showCreditForm();">
			<img src="/mgt/images/register.gif" width=16 alt="Create Credit">
		</a>
	</div>
	
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="top.window.location='/mgt/om/createorder.phtml?iv=<?=$iv;?>'">
			<img src="/mgt/images/disk.gif" width=16 alt="Edit Order">
		</a>
	</div>
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="window.location='/mgt/om/return.phtml?iv=<?=$iv;?>&inwin=1'">
			<img src="/mgt/images/return.gif" width=16 alt="Return">
		</a>
	</div>
	
	<div class="vmenuItem" id="menuItem7" style="text-align:center;">
		<a href="javascript:void(0);" onclick="viewOrderTree();">
			<img src="<? if($efc->hasOrderTree($on)) echo "/mgt/images/tree_red.gif"; else echo "/mgt/images/tree.gif";?>" alt="View Order Tree">
		</a>
	</div>	
	
	<?
	if($_SESSION["USERTYPE"] == "MANAGER")
	{
		?>
		<div class="vmenuItem" id="menuItem8" style="text-align:center;">
			<a href="javascript:void(0);" onclick="unPrint();">
				<img src="/mgt/images/unprint.gif" alt="Unprint Invoice">
			</a>
		</div>	
		<?
	}
	
	?>
	<div class="vmenuItem" id="menuItem8" style="text-align:center;">
		<a href="javascript:void(0);" onclick="javascript:top.e2window('/mgt/vn/createpo.phtml?load=2&iv=<?=$iv;?>&inwin=1', 'Compatibility Lists');">
			<img src="/mgt/images/pencil.jpg" width=16 alt="Write PO">
		</a>
	</div>
	<?
	
	$query = "select company_orderflow.dropship from company_orderflow, customer_orders where company_orderflow.step = customer_orders.status and customer_orders.invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($can_dropship) = mysql_fetch_array($qok);
	
	if($can_dropship == 1)
	{
		$query = "select count(*) from customer_order_lines where orderid = '$on' AND ((qty_ordered > qty_shipped - qty_returned) OR (qty_ordered > qty_dropship - qty_returned))";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($items2dropship) = mysql_fetch_array($qok);
		
		if($items2dropship > 0)
		{
			?>
			<div class="vmenuItem" id="menuItem8" style="text-align:center;">
				<a href="javascript:void(0);" onclick="window.location='/mgt/om/dropship.phtml?iv=<?=$iv;?>&inwin=1';">
					<img src="/mgt/images/truck.gif" width=16 alt="Drop Ship Order">
				</a>
			</div>		
			<?
		}
	}
	?>
	
	<?
	$query = "select vendor_pos.poid from vendor_pos where vendor_pos.invoiceid = '$iv' UNION
			select vendor_pos.poid from 
					vendor_pos, vendor_pos_extended where vendor_pos.poid = vendor_pos_extended.poid and vendor_pos_extended.invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		?>
		<div class="vmenuItem" id="menuItem9" style="text-align:center;">
			<a href="javascript:void(0);" onclick="viewPOTree();">
				<img src="/mgt/images/txticon.gif" alt="View PO Tree">
			</a>
		</div>	
	<?
	}
	
	?>
	<div class="vmenuItem" id="menuItem9" style="text-align:center;">
                <a href="/mgt/om/printorder.phtml?iv=<?=$iv;?>" target="_blank">
                        <img src="/mgt/images/print.gif" alt="Print Order">
                </a>
        </div>
	
	<?
        if($DB == 'butterfly') {
            ?>
            <div class="vmenuItem" id="menuItem9" style="text-align:center;">
                    <a href="/mgt/ship/viewpick4.phtml?iv=<?=$iv;?>" target="_blank">
                           Print
                    </a>
            </div>
	    <div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:saveEmptyOrder('<?=$iv;?>')">
		    New
		</a>
	    </div>
            <?
        }
        
	$query = "select clickid from customer_orders where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($clickid) = mysql_fetch_array($qok);
	
	if($clickid == "AM")
	{
		?>
		<div class="vmenuItem" id="menuItem9" style="text-align:center;">
			<a href="https://sellercentral.amazon.com/gp/orders-v2/details?ie=UTF8&orderID=<?=$iv;?>" target="_blank">
				<img src="/mgt/images/amazon.jpg" alt="View Order on Channel">
			</a>
		</div>			
	
		<?
	}
	
}
else if($ORDER_TYPE == "RETURN" || $orderType=="RETURN")
{
	?>
	<div class="vmenuItem" id="menuItem8" style="text-align:center;">
		<a href="javascript:void(0);" onclick="receiveReturn();">
			<img src="/mgt/images/return.gif" alt="Receive Return">
		</a>
	</div>	
	
	<?
	if($efc->getOrderStatus($on) == 2)
	{
		?>
		<div class="vmenuItem" id="menuItem6" style="text-align:center;">
			<a href="javascript:void(0);" onclick="showChargeForm();changeTxType();">
				<img src="/mgt/images/bill.gif" alt="Charge Customer">
			</a>
		</div>
		<?
	}
	?>
	
	<div class="vmenuItem" id="menuItem7" style="text-align:center;">
		<a href="javascript:void(0);" onclick="viewOrderTree();">
			<img src="<? if($efc->hasOrderTree($on)) echo "/mgt/images/tree_red.gif"; else echo "/mgt/images/tree.gif";?>" alt="View Order Tree">
		</a>
	</div>	

	<div class="vmenuItem" id="menuItem5" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showEmailForm();">
			<img src="/mgt/images/e-mail.gif" width=16 alt="Send Email">
		</a>
	</div>	
	<?
	/*
	if($status == 0) return "Open";
		else if($status == 1) return "Received";
		else if($status == 2) return "Billing Queue";
		else if($status == 5) return "Complete";
		else if($status == 99) return "Cancelled";
	*/
	// not complete or already cancelled
	if(	$efc->getOrderStatus($on) != "5"  ) 
	{
		if($efc->getOrderStatus($on) != "99")
		{
		?>
		<div class="vmenuItem" id="menuItem7" style="text-align:center;">
			<a href="javascript:void(0);" onclick="voidOrder();">
				<img src="/mgt/images/del.gif"" alt="Void Return">
			</a>
		</div>
		
		<div class="vmenuItem" id="menuItem6" style="text-align:center;">
			<a href="javascript:void(0);" onclick="editShipTo()">
				<img src="/mgt/images/disk.gif" width=16 alt="Edit Shipping Address">
			</a>
		</div>
		<?
		}
	}
	?>
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="window.location='/mgt/om/return.phtml?iv=<?=$iv;?>&inwin=1'">
			<img src="/mgt/images/return.gif" width=16 alt="Return">
		</a>
	</div>
	<?	
	$query = "select clickid, parentid from customer_orders where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($clickid, $parentid) = mysql_fetch_array($qok);
	
	if($clickid == "AM")
	{
		$query = "select invoiceid from customer_orders where orderid = '$parentid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		list($useinvoiceid) = mysql_fetch_array($qok);
		?>
		<div class="vmenuItem" id="menuItem9" style="text-align:center;">
			<a href="https://sellercentral.amazon.com/gp/orders-v2/details?ie=UTF8&orderID=<?=$useinvoiceid;?>" target="_blank">
				<img src="/mgt/images/amazon.jpg" alt="View Order on Channel">
			</a>
		</div>			
	
		<?
	}	
}
else if($ORDER_TYPE == "EXCHANGE" || $orderType=="EXCHANGE")
{
	?>
	<div class="vmenuItem" id="menuItem8" style="text-align:center;">
		<a href="javascript:void(0);" onclick="receiveReturn();">
			<img src="/mgt/images/return.gif" alt="Receive Return">
		</a>
	</div>	
	
	<?	
	if($efc->getOrderBalance($on) != 0.00)
	{
		?>
		<div class="vmenuItem" id="menuItem6" style="text-align:center;">
			<a href="javascript:void(0);" onclick="showChargeForm();changeTxType();">
				<img src="/mgt/images/bill.gif" alt="Charge Customer">
			</a>
		</div>
		<?
	}
	?>
	
	<div class="vmenuItem" id="menuItem7" style="text-align:center;">
		<a href="javascript:void(0);" onclick="viewOrderTree();">
			<img src="<? if($efc->hasOrderTree($on)) echo "/mgt/images/tree_red.gif"; else echo "/mgt/images/tree.gif";?>" alt="View Order Tree">
		</a>
	</div>	
	
	<div class="vmenuItem" id="menuItem5" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showEmailForm();">
			<img src="/mgt/images/e-mail.gif" width=16 alt="Send Email">
		</a>
	</div>

	<?
	/*
		if($status == 0) return "Awaiting Return";
		else if($status == 5 || $status == 2) return "Billing Queue";
		else if($status == 10) return "Shipping Queue";
		else if($status == 50) return "Shipped Complete";
		else if($status == 99) return "Cancelled";
	*/
	if(	$efc->getOrderStatus($on) != "50" ) 
	{
		if($efc->getOrderStatus($on) != "99")
		{
		?>
		<div class="vmenuItem" id="menuItem7" style="text-align:center;">
			<a href="javascript:void(0);" onclick="voidOrder();">
				<img src="/mgt/images/del.gif"" alt="Void Return">
			</a>
		</div>	
		
		<div class="vmenuItem" id="menuItem6" style="text-align:center;">
			<a href="javascript:void(0);" onclick="editShipTo();">
				<img src="/mgt/images/disk.gif" width=16 alt="Edit Shipping Address">
			</a>
		</div>		
		<?
		}
	}	
	?>
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="window.location='/mgt/om/return.phtml?iv=<?=$iv;?>&inwin=1'">
			<img src="/mgt/images/return.gif" width=16 alt="Return">
		</a>
	</div>
	<?
	
}
else if($ORDER_TYPE == "CREDIT" || $orderType=="CREDIT")
{
	if($efc->getOrderStatus($on) == "2")
	{
	?>
	<div class="vmenuItem" id="menuItem6" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showChargeForm2();">
			<img src="/mgt/images/bill.gif" width=16 alt="Refund Customer">
		</a>
	</div>
	<?
	}
	?>
	
	<div class="vmenuItem" id="menuItem7" style="text-align:center;">
		<a href="javascript:void(0);" onclick="viewOrderTree();">
			<img src="<? if($efc->hasOrderTree($on)) echo "/mgt/images/tree_red.gif"; else echo "/mgt/images/tree.gif";?>" alt="View Order Tree">
		</a>
	</div>	
	
	<div class="vmenuItem" id="menuItem5" style="text-align:center;">
		<a href="javascript:void(0);" onclick="showEmailForm();">
			<img src="/mgt/images/e-mail.gif" width=16 alt="Send Email">
		</a>
	</div>	
	
	<?	
	$query = "select clickid, parentid from customer_orders where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($clickid, $parentid) = mysql_fetch_array($qok);
	
	if($clickid == "AM")
	{
		$query = "select invoiceid from customer_orders where orderid = '$parentid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		list($useinvoiceid) = mysql_fetch_array($qok);
		?>
		<div class="vmenuItem" id="menuItem9" style="text-align:center;">
			<a href="https://sellercentral.amazon.com/gp/orders-v2/details?ie=UTF8&orderID=<?=$useinvoiceid;?>" target="_blank">
				<img src="/mgt/images/amazon.jpg" alt="View Order on Channel">
			</a>
		</div>			
	
		<?
	}	
}
?>