<?
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////


if($iv == "")
{
	$iv = $efc->getInvoicefromOrderNo($on);
}
if($on == "") 
	$on = $efc->getOrderNumber($iv);
	
$acctid = $efc->getAcctNoforOrder($on);
$orderid = $on;

$invoiceid = $iv;
/******************************************************************************************/
		$query = "select orderid, smid, otype, invoiceid, status, bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
					ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country, phone, altphone, emailaddr,
					subtotal, tax, shipping, total, ip_addr, pmttype, orderdate, package, csmethod, arepid, clickid from customer_orders where invoiceid = '$invoiceid'";
		
		$qok = mysql_db_query($DB, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($orderid, $smid, $otype, $invoiceid, $status, $bill2name, $bill2street1, $bill2street2, $bill2city, $bill2state, $bill2zip, $bill2country,
					$ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country, $phone, $altphone, $emailaddr,
					$subtotal, $tax, $shipping, $total, $ip_addr, $pmttype, $orderdate, $package, $csmethod, $arepid, $clickid) = mysql_fetch_array($qok);
					
		if($otype == "") $otype = "INVOICE";

		if(intval($status) == 0) $show_status = "Received";
		else 
		{
			$query = "select status, explanation from company_orderflow where step = '$status' ";
			$q2ok = mysql_db_query($DB, $query, $mysqlid);
			if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			list($show_status, $explanation) = mysql_fetch_array($q2ok);
		}
	
		$showdate = date("M-d-Y h:i a", $orderdate);
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<LINK HREF="/mgt/pereport/style.css" TYPE="text/css" REL="stylesheet">
	<STYLE>		
		
		.header
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			font-weight:bold;
			text-align:center;
			background-color:black;
			color:white;
			border-bottom:1px solid black;
		}		
		
		.lineItem
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			background-color:white;
			color:black;
			padding-top:3px;
			padding-bottom:3px;
		}
		
		.gTitle
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
		}
		
		.g3
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
		}
		
		.g
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
		}
		
		.visitOnline
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			text-align:center;
		}
		
		.giftMessage
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			text-align:left;
			padding-left:5px;
			padding-top:2px;
			
		}
		
		.giftMessageHeader
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			text-align:left;
			text-decoration:underline;
			font-weight:bold;
			padding-left:4px;
		}
		
		.giftMsgWrap
		{
			border:1px solid black
		}
		
		/* Sticky Footer CSS */
		
		html, body {height: 100%;}

		#wrap {min-height: 100%;}
		
		#main {overflow:auto;
			padding-bottom: 150px;}  /* must be same height as the footer */
		
		#footer {position: relative;
			margin-top: -150px; /* negative value of footer height */
			height: 150px;
			clear:both;} 
		
		/*Opera Fix*/
		body:before {
			content:"";
			height:100%;
			float:left;
			width:0;
			margin-top:-32767px;/
			 
			   
    </STYLE>
	
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
    <![endif]-->

</HEAD>
<body>

<div id="wrap">

	<div id="main">
    
    	<table width=100%>
            <tr>
                <td>
            <!----------------------------------------------------------------------------------------------------------->
                    <table width=99% border=0>
                    <tr bgcolor="#ffffff" >
                        <td class="g" align=left valign=top>
                        <p><img src="http://sndkids.efluent.com/images/logo.jpg"></p>
                        <table width="300px" border="0">
                          <tr>
                            <td width="1px">&nbsp;</td>
                            <td><b><?=$efc->getConfigValue("Company Information", "CompanyName");?></b><br>
           	<?=$efc->getConfigValue("Company Information", "CompanyAddress1");?><br>
            <?=$efc->getConfigValue("Company Information", "CompanyCity");?>, <?=$efc->getConfigValue("Company Information", "CompanyState");?> <?=$efc->getConfigValue("Company Information", "CompanyZip");?><br>
            customerservice@sndkids.com<br>
            www.sndkids.com</td>
                          </tr>
                        </table>
                        <BR><BR>
                      </td>
                        <td align=right class="gtitle" valign=top>
                        	<B>ORDER: <?=$invoiceid;?></B>
                            <div style="font-size:10px;"><?=date("M-d-Y h:i a", $orderdate);?></div>
                            <BR><BR>
                            <!-- IF GiftMessage Exists -->
							<?
							/*
                            <div class="giftMsgWrap">
                                <div class="giftMessageHeader">Gift Message</div>
                                <div class="giftMessage">Hi Jaime, Hope you love these things I got for your little terror!!!  He's a real pain in the ass so I thought this muzzle would do some good.  With love always, Your Mother in Law</div>
                            </div>
							*/
							?>
                            <!-- END IF -->
                        </td>
                    </tr>
                    <tr bgcolor="#eeeeee">
                        <td class="header" style="text-align:left; width:50%"><B>Billing Address</B></td>
                        <td class="header" style="text-align:left; width:50%"><B>Shipping Address</B></td>
                    </tr>
                    <tr bgcolor="#ffffff" style="height:100px;">
                        <td class="g" align="left" valign="top">
                            <?=$bill2name;?><BR>
                            <?=$bill2street1;?><BR>
                            <?if($bill2street2 != "")
								echo "$bill2street2<BR>";?>
                            <?=$bill2city;?>, <?=$bill2state;?> <?=$bill2zip;?>
                            US<BR>
                        </td>
                        <td class="g" align="left" valign="top">
							<?=$ship2name;?><BR>
                            <?=$ship2street1;?><BR>
                            <?if($ship2street2 != "")
								echo "$ship2street2<BR>";?>
                            <?=$ship2city;?>, <?=$ship2state;?> <?=$ship2zip;?>
                            US<BR>
                        </td>
                    </tr>
                   <!------------------------- LINE ITEMS --------------------------------->
                    <tr bgcolor="#ffffff">
                    <!------------------------- LINE ITEMS: HEADER --------------------------------->
                        <td colspan=2>
                        <table border="1" width="100%" cellspacing="0" cellpadding="0" bordercolor="#000000" style="border-collapse: collapse"> <!--outer border-->
                        <tr><td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bordercolor="#000000" style="border-collapse: collapse">
                            <tr>
                              <td width="12%" class="header"><B>Sku</B></td>
                              <td width="13%" align=center class="header"><B>Style</B></td>
                              <td width="51%" align=center class="header"><B>Description</B></td>
                              <td width="8%" align=right class="header"><B>Ordered</B></td>
                              <td width="8%" align=center class="header"><B>Shipped</B></td>
<!--                              <td width="8%" align=center class="header"><B>Returned</B></td>						-->
                              <td width="8%" align=center class="header"><B>Cancelled</B></td>						
                            </tr>
                             <!------------------------- LINE ITEMS: LINES --------------------------------->
							<?
							$query = "select prodid,manname, manpart, descr, price, qty_ordered, qty_shipped, qty_returned from customer_order_lines where orderid = '$orderid'";
							$q2ok = mysql_db_query($DB, $query, $mysqlid);
							if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
							
							while(list($prodid,$manname, $manpart, $descr, $price, $qty, $shipped, $returned) = mysql_fetch_array($q2ok))
							{
			                    $queryx = "select dropship,sku from product_list where id = '$prodid'";
								if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($dropship,$sku) = mysql_fetch_array($qokx);
                                                         if($manpart == 'NULL') {
                                                             $manpart = '';
                                                         }       
			                   	?>
								<tr>
	                                <td class="lineItem" align=center><?=$sku;?></td>
	                                <td class="lineItem" align=center><?=$manpart;?></td>
	                                <td class="lineItem" align=center><?=$descr;?></td>
	                                <td class="lineItem" align=center NOWRAP><?=$qty;?></td>
	                                <td class="lineItem" align=center NOWRAP><?=$shipped;?></td>
	                                <td class="lineItem" align=center NOWRAP><?=$returned;?></td>
	                            </tr>								
								<?
							}
							?>                          
						  
                            </table>
                            </td></tr>
                            </table> <!--outer border-->
                            
            
                            
                            
                            <!------------------------- LINE ITEMS --------------------------------->
                            
                        </td>
                    </tr>                   
               </table>
                    
            
            <!----------------------------------------------------------------------------------------------------------->		
                </td>
            </tr>	
            </table>

	</div> <!-- Main --->

</div> <!-- Wrap --->

<div id="footer">
	
    <table width="99%" border="0">
		<tr>
            <td class="visitOnline" colspan="2">
                <!--Visit Online -->
                <br><br>
                To view your order details online please visit <?if($clickid == "AM") echo "Amazon.com"; 
																 else if($clickid == "EB") echo "eBay.com"; 
																 else if($clickid == "BY") echo "Buy.com"; 
																 else echo "SnDKids.com";?>
            </td>
        </tr>	
   </table>

</div>


</body>
</html>
				<!------------------------- LINE ITEMS --------------------------------->
				
			</td>
		</tr>		
		</table>
		

<!----------------------------------------------------------------------------------------------------------->		
	</td>
</tr>	
</table>
</body>
</html>