<div align=left>
<input type="hidden" name="loadsearch" value="1">	
<table>
<tr>
	<td class="g1"><div align="left">Saved Searches:</div></td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
	<div align="left">
		<UL>
		<?
		$userid = $_SESSION["ID"];
		$query = "select id, name, public, sdata from saved_order_search where userid = '$userid' or public = 1 order by name";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($sid, $sname, $public, $sdata) = mysql_fetch_array($qok))
		{
			if(strlen($sname) > 30)
			{
				$sname = substr($sname, 0, 27)."...";
			}
		
			eval($sdata);
			
			ob_start(); // start output buffering
			
				if(intval($qdate) > 0)
				{
					$bdate = "";
					$edate = "";
					
					$x_today = time();
						
					if($qdate == "1")				
					{// today
							
						$bdate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
				
					}
					else if($qdate == "6")				
					{// yesterday
								
						$bdate = date("m", $x_today - (86400 * 1))."/".date("d", $x_today - (86400 * 1))."/".date("Y", $x_today - (86400 * 1));
						$edate = date("m", $x_today - (86400 * 1))."/".date("d", $x_today - (86400 * 1))."/".date("Y", $x_today - (86400 * 1));
					}	
					else if($qdate == "7")				
					{// yesterday + today
								
						$bdate = date("m", $x_today - (86400 * 1))."/".date("d", $x_today - (86400 * 1))."/".date("Y", $x_today - (86400 * 1));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
					}	
					else if($qdate == "2")				
					{// last 7 days
								
						$bdate = date("m", $x_today - (86400 * 7))."/".date("d", $x_today - (86400 * 7))."/".date("Y", $x_today - (86400 * 7));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
					}	
					else if($qdate == "3")				
					{// last 14 days
								
						$bdate = date("m", $x_today - (86400 * 14))."/".date("d", $x_today - (86400 * 14))."/".date("Y", $x_today - (86400 * 14));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
						
					}
					else if($qdate == "4")				
					{// last 30 days
								
						$bdate = date("m", $x_today - (86400 * 30))."/".date("d", $x_today - (86400 * 30))."/".date("Y", $x_today - (86400 * 30));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
					}
					else if($qdate == "8")				
					{// last 60 days
								
						$bdate = date("m", $x_today - (86400 * 60))."/".date("d", $x_today - (86400 * 60))."/".date("Y", $x_today - (86400 * 60));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
					}
					else if($qdate == "9")				
					{// last 90 days
								
						$bdate = date("m", $x_today - (86400 * 90))."/".date("d", $x_today - (86400 * 90))."/".date("Y", $x_today - (86400 * 90));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
					}
					else if($qdate == "10")				
					{// last 120 days
								
						$bdate = date("m", $x_today - (86400 * 120))."/".date("d", $x_today - (86400 * 120))."/".date("Y", $x_today - (86400 * 120));
						$edate = date("m", $x_today)."/".date("d", $x_today)."/".date("Y", $x_today);
					}
					else if($qdate == "5")				
					{// last month
						
						$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
						$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
						$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));
				
						$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
						$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
								
						$bdate = date("m", $b_lastmonth)."/".date("d", $b_lastmonth)."/".date("Y", $b_lastmonth);
						$edate = date("m", $e_lastmonth)."/".date("d", $e_lastmonth)."/".date("Y", $e_lastmonth);
					}					
				}
				else
				{
					
				}	
				
	
				REQUIRE("ajax_ordersearch_extended.phtml");
			ob_clean(); // clear it...... all we wanted was $totalnum anyway :-)
			
			?>
			<LI >
				<?
				if($public == 1){ echo "<img src='/mgt/images/public.gif' alt='Public Search'>"; }
				else{ echo "<img src='/mgt/images/private.gif' alt='Private Search'>"; }
				?>
				<a href="/mgt/om/search.phtml?loadsearch=1&saveid=<?=$sid;?>"><?=stripslashes($sname);?> (<?=$totalnum;?>)</a>
					<SUP><a href="javascript:deleteSearch('<?=$sid;?>', '<?=addslashes($sname);?>');" class="x">x</a></SUP><BR><BR>
			<?
		}
		?>
		</UL>
	</div>
	</td>
</tr>
</table>
</div>		        	