<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

ini_set('memory_limit', '-1');
set_time_limit(9999999999);

ini_set('memory_limit', '-1');
$ROOT_DIR = $argv[1];
if ($ROOT_DIR == '') {
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];	
}

if($ROOT_DIR == "")
{
	echo "usage: get_fba_settlement.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$f = fopen("pids.txt", "w+");
$fxp = fopen("products.csv", "r");
$k = 0 ;
exit();
while($data = fgetcsv($fxp, 8192, "\t"))
{
	if ($k>1) {
		$sku = $data[0];
		$brand = $data[3];
		$title = $data[4];
		$price = $data[6];
		$cost = $data[7];
		$image = $data[8];
		
		$desc_tmp = explode("Designer:",$data[2]);
		$desc = $data[1]."<br />".$desc_tmp[0]."<br />Designer: ".ucwords($desc_tmp[1]);
//		print_r($desc);
		
	
	
		$brand = addslashes($brand);
		$query = "select manid from product_manufacturers where manname = '$brand'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($manid) = mysql_fetch_array($qok);
		}
		else 
		{
			$query = "insert into product_manufacturers(manname) values('$brand')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
			$manid = mysql_insert_id();
		}
		
		
		$query = "select id from product_list order by id desc limit 0, 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
		list($pid) = mysql_fetch_array($qok);
		$pid++;	
		fwrite($f,$pid."\n");
		
		$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
		
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into product_list(id, manid, manpart, cmanpart, descr, added_dte, upccode, visible, sku, dropship, oem, refurb, use_asin, asin, am_qty, modelno,shipweight) 
			values('$pid', '$manid', '$manpart', '$cleanmanpart', '".addslashes($title)."', '$tstamp', '$upc', '0', '$sku', '1', '0', '0', '1', '$asin', '0', '$model', '$weight')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo $query;exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();echo $query;exit; exit; }  }
						
		$query = "insert into product_category_map(pid, catid) values('$pid', '46')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
	
							
		$query = "insert into product_prices(id, price_level1, price_level2, price_level3, instock, avgcost) 
					values('$pid', '$price','$price','$price', '0', '$cost')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
			
		
		
		$data[8] = str_replace(" ","",$data[8]);
		$imagefile = "$ROOT_DIR/mgt/scripts/starbestbuy_import/images/$pid.jpg";
		$t = $efc->getBinaryFile($data[8], "http://www.namebrandsperfume.com", $imagefile);		
	//	print_r($t);
		if(file_exists($imagefile))	
		{
			//echo "IMAGE => $imagefile\n\n";
			
			$fp = fopen($imagefile, "r");
			if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
			$data = "";
			while(!feof($fp))
			{
				$data .= fgets($fp, 4096);
			}
			fclose($fp);
			$data = addslashes($data);	 		
	
		
			$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '500', '500')";
			$qok = mysql_db_query($DB, $query, $mysqlid);
			if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
			
			unlink($imagefile);
			
			$efc->cache_watermark_image($pid, $ROOT_DIR);	
		}
		else 
		{
			echo "ERROR DOWNLOADING IMAGE\n";	
		}
		$desc = addslashes($desc);
		$query = "insert into product_descr(id, data) values('$pid', '$desc')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error();exit; exit; }  }
		
		$efc->cacheAdditionalInfo($pid);
		
	}
	
	$k++;
//	if ($k==30) {
//		exit();
//	}
}
fclose($fxp);
fclose($f);
?>