<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($export == 1)
{
	header("Pragma: public");
	header("Expires: 0"); // set expiration time
	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
	// browser must download file from server instead of cache
	
	// force download dialog
	header("Content-Type: application/force-download");
	header("Content-Type: application/octet-stream");
	header("Content-Type: application/download");
	
	// use the Content-Disposition header to supply a recommended filename and
	// force the browser to display the save dialog.
	header("Content-Disposition: attachment; filename=commission_report.csv;");
	
	/*
	The Content-transfer-encoding header should be binary, since the file will be read
	directly from the disk and the raw bytes passed to the downloading computer.
	The Content-length header is useful to set for downloads. The browser will be able to
	show a progress meter as a file downloads. The content-lenght can be determines by
	filesize function returns the size of a file.
	*/
	header("Content-Transfer-Encoding: binary");
	flush();
}
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//$xbdate = strtotime("03/15/2009 00:00:00");
$xbdate = mktime(0, 0, 0, date('m'), date('d')-1, date('Y'));
//$xedate = strtotime("03/15/2009 23:59:59");
$xedate = mktime(23, 59, 59, date('m'), date('d')-1, date('Y'));
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>PID</B></td>
	<td align=center><B>SKU</B></td>
	<td align=center><B>QTY Sold</B></td>
	<td align=center><B>QTY Left</B></td>
	<td align=center><B>QTY Avail.</B></td>
	<td align=center><B>Total Sold</B></td>
	<td align=center><B>Total Cost</B></td>
	<td align=center><B>Total Profit</B></td>
	<td align=center><B>Margin</B></td>
<?
$query = "select divid, sitename from site_list order by sitename";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$scount = mysql_num_rows($qok);
$sitelist = array();
while(list($divid, $sitename) = mysql_fetch_array($qok))
{
	$ss = array();
	$ss['divid'] = $divid;
	$ss['sitename'] = $sitename;
	array_push($sitelist,$ss);
	?>
		<td align=center><B><?=$sitename?></B></td>
	<?
}

?>
</tr>
<?	
$addon = "";
if ($store != '') {
	$addon = " AND customer_orders.divid = '".$store."'";
}
$query = "SELECT distinct(product_list.id),product_list.sku from product_list,customer_orders,customer_order_lines
				WHERE customer_order_lines.prodid = product_list.id AND  
					  customer_order_lines.orderid = customer_orders.orderid AND 
					  customer_orders.orderdate >= $xbdate and customer_orders.orderdate <= $xedate $addon
				 order by product_list.id";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($id, $sku) = mysql_fetch_array($qok))
{
	$query1 = "SELECT sum(customer_order_lines.qty_ordered) as qordered,sum(customer_order_lines.price),sum(customer_order_lines.cost) as qcost from customer_orders,customer_order_lines
				WHERE customer_order_lines.prodid = '".$id."' AND  
					  customer_order_lines.orderid = customer_orders.orderid AND 
					  customer_orders.orderdate >= $xbdate and customer_orders.orderdate <= $xedate $addon";
	if(!$q1ok = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($qordered,$qprice,$qcost) = mysql_fetch_array($q1ok);
	
	$totalp = $qprice*$qordered;
	$totalc = $qcost*$qordered;
	$totalprofit = $totalp-$totalc;
	$colspan = 9+$scount;
	$inv = $efc->getInventoryInfo2($id);
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td align=center height=21><?=$id?></td>
				<td align=center><?=$sku?></td>
				<td align=center><?=$qordered?></td>
				<td align=center><?=$inv['instock']?></td>
				<td align=center><?=$inv['instock'] - $inv['onhold'] - $inv['committed']?></td>
				<td align=center><?=number_format($totalp,2)?></td>
				<td align=center><?=number_format($totalc,2)?></td>
				<td align=center><?=number_format($totalprofit,2)?></td>
				<td align=center><?=number_format(($totalprofit*100)/$totalp,2)?>%</td>
				<?
				foreach ($sitelist as $k=>$v) {
					if ($addon != '') {
						if ($v['divid'] == $store) {
							$qordered1 = $qordered;
						}
						else {
							$qordered1 = 0;
						}
					}
					else {
						$query2 = "SELECT sum(customer_order_lines.qty_ordered) as qordered from customer_orders,customer_order_lines
									WHERE customer_order_lines.prodid = '".$id."' AND  
										  customer_orders.divid = '".$v['divid']."' AND  
										  customer_order_lines.orderid = customer_orders.orderid AND 
										  customer_orders.orderdate >= $xbdate and customer_orders.orderdate <= $xedate";
						if(!$q2ok = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($qordered1) = mysql_fetch_array($q2ok);
						if ($qordered1 == '') {
							$qordered1 = 0;
						}
					}
					?>
					<td align=center><?=$qordered1?></td>
					<?
				}
				?>
			</tr>
			<tr>
				<td colspan="<?=$colspan?>"><HR NOSHADE></td>
			</tr>
	<?
}
?>
</table>

