<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($export == 1)
{
	header("Pragma: public");
	header("Expires: 0"); // set expiration time
	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
	// browser must download file from server instead of cache
	
	// force download dialog
	header("Content-Type: application/force-download");
	header("Content-Type: application/octet-stream");
	header("Content-Type: application/download");
	
	// use the Content-Disposition header to supply a recommended filename and
	// force the browser to display the save dialog.
	header("Content-Disposition: attachment; filename=commission_report.csv;");
	
	/*
	The Content-transfer-encoding header should be binary, since the file will be read
	directly from the disk and the raw bytes passed to the downloading computer.
	The Content-length header is useful to set for downloads. The browser will be able to
	show a progress meter as a file downloads. The content-lenght can be determines by
	filesize function returns the size of a file.
	*/
	header("Content-Transfer-Encoding: binary");
	flush();
}
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$xbdate = date("Y-m-d 00:00:00", strtotime($bdate));
$xedate = date("Y-m-d 23:59:59", strtotime($edate));

if($export != 1)
{
?>
<table width=99%>
<tr>
	<td><I>This report finds all duplicate orders by bill2name.  
			Then shows the time in between the orders, the bill to versus ship to addresses and IP Address to help identify duplicate orders
		</I>
	</td>
</tr>
</table>

<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>Invoice</B></td>
	<td align=center><B>Date/Time</B></td>
	<td align=center><B>Time Between</B></td>
	<td align=center><B>Bill2Name</B></td>
	<td align=center><B>Ship2Name</B></td>
	<td align=center><B>Amount</B></td>
	<td align=center><B>Status</B></td>
	<td align=center><B>IP Addr</B></td>
</tr>
<?	
}
else 
{
	echo "Invoice,Date/Time,Time Between,Bill2Name,Ship2Name,Amount,Status,IP Addr\n";
}

$query = "select distinct(bill2name), count(*) as numorders from customer_orders where 
		orderdate >= UNIX_TIMESTAMP('$xbdate') AND
		orderdate <= UNIX_TIMESTAMP('$xedate')	 group by bill2name having numorders > 1";
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($bill2name, $count) = mysql_fetch_array($q4ok))
{
	$query = "select invoiceid, orderdate, bill2name, ship2name, total, status, ip_addr from customer_orders 
				where 
					bill2name = '".addslashes($bill2name)."' AND
					orderdate >= UNIX_TIMESTAMP('$xbdate') AND
					orderdate <= UNIX_TIMESTAMP('$xedate')";
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$onnum = 0;
	
	while(list($invoiceid, $tstamp, $billname, $ship2name, $amount, $status, $ip_addr) = mysql_fetch_array($qok))
	{
		if($onnum == 0)
		{
			$timebetween = 0;	
		}
		else 
		{
			$timebetween = $tstamp - $laststamp;
			
			$minutes = floor( $timebetween / 60 );
			
			if($minutes > 0)
			{
				$seconds = ($timebetween - ($minutes * 60));
				
				$timebetween = "$minutes min $seconds sec";
			}
			else 
			{
				$timebetween = "$timebetween sec";
			}
		}
		
		if($export == 1)
		{
			$ship2name = str_replace(",", "", $ship2name);
			$bill2name = str_replace(",", "", $bill2name);
			
			echo "$invoiceid,$tstamp,$timebetwee,$bill2name,$ship2name,$amount,$status,$ip_addr\n";
		}
		else 
		{
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td  height=21>
					<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Order <?=$invoiceid;?>');">
						<?=$invoiceid;?>
					</a>
				</td>
				<td  align="center"><?=date("m/d/Y H:i:s", $tstamp);?></td>
				<td align=center><?=$timebetween;?></td>
				<td align="center"><?=$bill2name;?></td>
				<td align="center"><?=$ship2name;?></td>
				<td align="right"><?=number_format($amount, 2);?></td>
				<td align="center"><?=$status;?></td>
				<td align="center"><?=$ip_addr;?></td>
			</tr>
			<?
		}
		
		$onnum++;
		$laststamp = $tstamp;
	}
	
	?>
	<tr>
		<td colspan=8><HR NOSHADE></td>
	</tr>
	<?
}


if($export != 1)
{
?>
</table>
<?
}
?>

