<?
ini_set('memory_limit', '-1');

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: get_order_report.phtml ROOT_DIR\n\n";
	exit;
//    $ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonca/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../../.');    


function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$query = "select id, reportid from amazon_order_reports_by_last_update_canada where status = '0' and type='0'";
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q4ok) <= 0)
{
	echo "No Report to get status of\n";
	exit;
}
else {
    
}

//ini_set('display_errors',1);
//error_reporting(E_ALL^E_NOTICE);
echo "<pre>\n";
while(list($amazon_id, $reportId) = mysql_fetch_array($q4ok))
{
	echo "sleeping...\n";
	sleep(15);
	$REQUESTID = $reportId;
	echo "REQUESTID: $REQUESTID\n";
	
	$efc = new efluentClass();
	$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
	$efc->db = $DB;
	
	/********************************************************************************************/
        define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');

        define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanada", "AWS_ACCESS_KEY_ID"));
        define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanada", "AWS_SECRET_ACCESS_KEY"));  

        define('APPLICATION_NAME', 'eFluent');
        define('APPLICATION_VERSION', '2.0');

        define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanada", "MERCHANT_ID"));
        define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanada", "MARKETPLACE_ID"));
        /********************************************************************************************/
        ////////////////////////////////////////////////////////////////////////////////


        $config = array (
        'ProxyHost' => null,
        'ProxyPort' => -1,
        'MaxErrorRetry' => 3,
        );

        $service = new MarketplaceWebService_Client(
            AWS_ACCESS_KEY_ID, 
            AWS_SECRET_ACCESS_KEY, 
            $config,
            APPLICATION_NAME,
            APPLICATION_VERSION);

        $request = new MarketplaceWebService_Model_GetReportListRequest();
        $request->setMarketplace(MARKETPLACE_ID);
        $request->setMerchant(MERCHANT_ID);
        $request->setAvailableToDate(time()+14400);
        $request->setAvailableFromDate(time() - (86400 * 3) );
        $request->setAcknowledged(false);

        $typeList = new MarketplaceWebService_Model_TypeList();
        $request->setReportTypeList($typeList->withType('_GET_XML_ALL_ORDERS_DATA_BY_LAST_UPDATE_'));
        
        $response = $service->getReportList($request);
        if ($response->isSetGetReportListResult()) 
        {
                $getReportListResult = $response->getGetReportListResult();
                $reportInfoList = $getReportListResult->getReportInfoList();

                foreach ($reportInfoList as $reportInfo) 
                {
                        if($reportInfo->isSetReportId())
                        {
                                $reportId = $reportInfo->getReportId();
                                $requestId = $reportInfo->getReportRequestId();
                                
                                $qx = "SELECT id from amazon_order_reports_by_last_update_canada WHERE requestid='".$requestId."' AND status=0 AND type='0'";
                                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                if(mysql_num_rows($q4okx)>0) {
                                    
                                    
                                    $qa = "UPDATE amazon_order_reports_by_last_update_canada SET reportid='".$reportId."' WHERE requestid='".$requestId."' AND type='0'";
                                    if(!$q4oka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     

                                    $filename = "/tmp/amazon_orders_by_last_update_canada/amazon_order_by_date_0_$reportId.txt";

                                    $fp = fopen($filename, "w");

                                    $parameters = array (
                                    'Marketplace' => MARKETPLACE_ID,
                                    'Merchant' => MERCHANT_ID,
                                    'Report' => $fp,
                                    'ReportId' => $reportId,
                                    );

                                    $request = new MarketplaceWebService_Model_GetReportRequest($parameters);


                                        try {
                                                $response = $service->getReport($request);

                                                    echo ("Service Response\n");
                                                    echo ("=============================================================================\n");

                                                    echo("        GetReportResponse\n");
                                                    if ($response->isSetGetReportResult()) {
                                                    $getReportResult = $response->getGetReportResult(); 
                                                    echo ("            GetReport");

                                                    if ($getReportResult->isSetContentMd5()) {
                                                        echo ("                ContentMd5");
                                                        echo ("                " . $getReportResult->getContentMd5() . "\n");
                                                    }
                                                    }
                                                    if ($response->isSetResponseMetadata()) { 
                                                        echo("            ResponseMetadata\n");
                                                        $responseMetadata = $response->getResponseMetadata();
                                                        if ($responseMetadata->isSetRequestId()) 
                                                        {
                                                            echo("                RequestId\n");
                                                            echo("                    " . $responseMetadata->getRequestId() . "\n");
                                                        }
                                                    }

                                                    echo ("        Report Contents\n");
                                                    echo (stream_get_contents($request->getReport()) . "\n");

                                        } catch (MarketplaceWebService_Exception $ex) {
                                            echo("Caught Exception: " . $ex->getMessage() . "\n");
                                            echo("Response Status Code: " . $ex->getStatusCode() . "\n");
                                            echo("Error Code: " . $ex->getErrorCode() . "\n");
                                            echo("Error Type: " . $ex->getErrorType() . "\n");
                                            echo("Request ID: " . $ex->getRequestId() . "\n");
                                            echo("XML: " . $ex->getXML() . "\n");
                                        }

                                    fclose($fp);  

                                    if(filesize($filename) > 0)
                                    {
                                            $fp = fopen($filename, "r");
                                            if(!$fp){echo "NO FILE!<BR>";exit;}
                                            $data = "";
                                            while(!feof($fp))$data .= fgets($fp, 4096);
                                            fclose($fp);

                                            $xmldata = xml2array($data, 1);
                                            $message = $xmldata['AmazonEnvelope']['Message']['Order'];
                                            if($message['AmazonOrderID']['value'] == "")
                                            {
                                                    $message = $xmldata['AmazonEnvelope']['Message'][0]['Order'];
                                                    if($message['AmazonOrderID']['value'] == "")
                                                    {
                                                            echo "OH SHIT!<BR>";
                                                            exit;
                                                    }
                                                    else 
                                                    {
                                                            echo "IS ARRAY<BR>";
                                                            for($xx = 0; $xx < count($xmldata['AmazonEnvelope']['Message']); $xx++)
                                                            {
                                                                $message = $xmldata['AmazonEnvelope']['Message'][$xx]['Order'];
																importOrder($message,$DB,$mysqlid);
                                                            }
                                                    }

                                            }
                                            else 
                                            {
                                                    echo "SINGLE ORDER<BR>";

                                            }

                                            $queryx = "update amazon_order_reports_by_last_update_canada set status = 1 where id = '$amazon_id' AND type='0'";
                                            if(!$q2okx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                                    }
                                    else {
							        	echo "Error creating the file\n";
							        }
                                    
                                }
                                else {
						        	echo "No Report Id in DB\n";
						        }
                        }
                        else {
				        	echo "No Report Id in result\n";
				        }	
                }
        }
        else {
        	echo "No Results\n";
        }

        echo "ReportID: $reportId\n";

        if($reportId == "")
        {
                echo "No Report ID\n";
                exit;
        }
        
}


function importOrder($orders,$DB,$mysqlid) {
	$AmazonOrderID = $orders['AmazonOrderID']['value'];
	$AmazonPurchaseDate = $orders['PurchaseDate']['value'];
	$AmazonLastUpdate = $orders['LastUpdatedDate']['value'];
    $AmazonOrderStatus = $orders['OrderStatus']['value'];
    $AmazonSalesChannel = $orders['SalesChannel']['value'];
    $FulfillmentChannel = $orders['FulfillmentData']['FulfillmentChannel']['value'];
    $ShipServiceLevel = $orders['FulfillmentData']['ShipServiceLevel']['value'];
    $AddressCity = $orders['FulfillmentData']['Address']['City']['value'];
    $AddressState = $orders['FulfillmentData']['Address']['State']['value'];
    $AddressZip = $orders['FulfillmentData']['Address']['PostalCode']['value'];
    $AddressCountry = $orders['FulfillmentData']['Address']['Country']['value'];
	$items = $orders['OrderItem'];
	
	$purchase_timestamp = strtotime($AmazonPurchaseDate);
	$purchase_timestamp_pst = UTCToPST($purchase_timestamp);
	$update_timestamp = strtotime($AmazonLastUpdate);
	$update_timestamp_pst = UTCToPST($update_timestamp);
	
	$q = "SELECT id FROM amazon_order_reports_by_last_update_orders_canada WHERE orderid='".$AmazonOrderID."'";
	if(!$q4ok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
	if (mysql_num_rows($q4ok)>0) {
		list($order_record_id) = mysql_fetch_array($q4ok);
		$qx = "UPDATE amazon_order_reports_by_last_update_orders_canada SET 
							lastupdate_date='$AmazonLastUpdate',
							lastupdate_timestamp='".strtotime($AmazonLastUpdate)."',
							lastupdate_timestamp_pst='".$update_timestamp_pst."',
							purchase_timestamp_pst='".$purchase_timestamp_pst."',
							status='$AmazonOrderStatus'
					WHERE
							id='$order_record_id'
			";
		if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
	}
	else {
		$qx = "INSERT INTO amazon_order_reports_by_last_update_orders_canada
					      (orderid,purchase_date,purchase_timestamp,purchase_timestamp_pst,lastupdate_date,lastupdate_timestamp,lastupdate_timestamp_pst,status,sales_channel,fulfillment_channel,ship_service_level,address_city,address_state,address_zipcode,address_country,type)
					VALUES('$AmazonOrderID','$AmazonPurchaseDate','".strtotime($AmazonPurchaseDate)."','$purchase_timestamp_pst','$AmazonLastUpdate','".strtotime($AmazonLastUpdate)."','$update_timestamp_pst','$AmazonOrderStatus','$AmazonSalesChannel','$FulfillmentChannel','$ShipServiceLevel','".addslashes($AddressCity)."','".addslashes($AddressState)."','".addslashes($AddressZip)."','".addslashes($AddressCountry)."','0')
			";
		if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
		$order_record_id = mysql_insert_id();
	}
	importItems($order_record_id,$AmazonOrderID,$items,$DB,$mysqlid);
//	print_r($orders);
}
function importItems($order_record_id,$amazon_orderid,$items,$DB,$mysqlid) {
	if(isset($items['ASIN'])) {
		$asin = $items['ASIN']['value'];
		$sku = $items['SKU']['value'];
		$itemStatus = $items['ItemStatus']['value'];
		$itemName = $items['ProductName']['value'];
		$itemQty = $items['Quantity']['value'];
		$efluentPid = getEfluentPID($items['SKU']['value'],$DB,$mysqlid);
		
		if (isset($items['ItemPrice'])) {
			$itemPrice = getItemPrices($items);
		}
		importItemValues($asin,$sku,$itemStatus,$itemName,$itemQty,$efluentPid,$itemPrice,$amazon_orderid,$order_record_id,$DB,$mysqlid);
	}
	else {
		foreach ($items as $k=>$v) {
			$asin = $v['ASIN']['value'];
			$sku = $v['SKU']['value'];
			$itemStatus = $v['ItemStatus']['value'];
			$itemName = $v['ProductName']['value'];
			$itemQty = $v['Quantity']['value'];
			$efluentPid = getEfluentPID($v['SKU']['value'],$DB,$mysqlid);
			
			if (isset($v['ItemPrice'])) {
				$itemPrice = getItemPrices($v);
			}
			importItemValues($asin,$sku,$itemStatus,$itemName,$itemQty,$efluentPid,$itemPrice,$amazon_orderid,$order_record_id,$DB,$mysqlid);
		}
	}
	
}

function importItemValues($asin,$sku,$itemStatus,$itemName,$itemQty,$efluentPid,$itemsPrice,$amazon_orderid,$order_record_id,$DB,$mysqlid) {
	$queryx = "SELECT id FROM amazon_order_reports_by_last_update_orders_items_canada WHERE orderid='".$order_record_id."' AND sku='".$sku."'";
	if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
    if(mysql_num_rows($qokx)>0) {
    	$q = "UPDATE amazon_order_reports_by_last_update_orders_items_canada SET
					asin='$asin',
					sku='$sku',
					pid='$efluentPid',
					item_status='$itemStatus',
					product_name='".addslashes($itemName)."',
					qty='$itemQty',
					price_principal='".$itemsPrice['principal']."',
					price_tax='".$itemsPrice['tax']."',
					price_shipping='".$itemsPrice['shipping']."',
					price_giftwrap='".$itemsPrice['giftwrap']."'
				WHERE 
					orderid='".$order_record_id."' AND sku='".$sku."'";
    }
    else {
    	$q = "INSERT INTO amazon_order_reports_by_last_update_orders_items_canada
    				(orderid,amazon_orderid,asin,sku,pid,item_status,product_name,qty,price_principal,price_tax,price_shipping,price_giftwrap,type) 
    			VALUES('$order_record_id','$amazon_orderid','$asin','$sku','$efluentPid','$itemStatus','".addslashes($itemName)."','$itemQty','".$itemsPrice['principal']."','".$itemsPrice['tax']."','".$itemsPrice['shipping']."','".$itemsPrice['giftwrap']."','0')
    			";
    }
    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
}
function getItemPrices($items) {
	$principal = $tax = $shipping = $giftwrap = 0;
	if (isset($items['ItemPrice']['Component'][0])) {
		foreach ($items['ItemPrice']['Component'] as $x=>$v) {
			if ($v['Type']['value'] == 'Principal') {
				$principal = $v['Amount']['value'];
			}
			if ($v['Type']['value'] == 'Shipping') {
				$shipping = $v['Amount']['value'];
			}
			if ($v['Type']['value'] == 'Tax') {
				$tax = $v['Amount']['value'];
			}
			if ($v['Type']['value'] == 'GiftWrap') {
				$giftwrap = $v['Amount']['value'];
			}
		}
	}
	else {
		if ($items['ItemPrice']['Component']['Type']['value'] == 'Principal') {
			$principal = $items['ItemPrice']['Component']['Amount']['value'];
		}
		if ($items['ItemPrice']['Component']['Type']['value'] == 'Shipping') {
			$shipping = $items['ItemPrice']['Component']['Amount']['value'];
		}
		if ($items['ItemPrice']['Component']['Type']['value'] == 'Tax') {
			$tax = $items['ItemPrice']['Component']['Amount']['value'];
		}
		if ($items['ItemPrice']['Component']['Type']['value'] == 'GiftWrap') {
			$giftwrap = $items['ItemPrice']['Component']['Amount']['value'];
		}
	}
	return array("principal"=>$principal,"shipping"=>$shipping,"tax"=>$tax,"giftwrap"=>$giftwrap);
}
function UTCToPST($time) {
    $dst = intval(date("I", $time));
    $tzOffset = intval(date('Z', time()));
    if ($tzOffset>0) {
    	$t = $tzOffset-28800;
    }
    else {
    	$t = 28800+$tzOffset;
    }
    return $time - $t;
//    return date($format, $time + $tzOffset - 28800 + $dst * 3600);
}
function getEfluentPID($amazon_sku,$DB,$mysqlid) {
    $queryx = "select pid from fba_sku_map where fba_sku = '$amazon_sku'";
    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
    if(mysql_num_rows($qokx)>0) {
        list($fba_sku) = mysql_fetch_array($qokx);
        return $fba_sku;
    }
    else {
        return $amazon_sku;
    }
}
?>
<?mysql_close();?>