<?
ini_set('memory_limit', '-1');
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


$query ="SHOW COLUMNS FROM product_list";
$pl_fields = array();
$pp_fields = array();
$pi_fields = array();
if(!$result = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>"; exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($result) > 0)
{
   while ($row = mysql_fetch_assoc($result)) 
   {
		if (trim($row['Field']) == 'descr') 
		{
			$row['Field'] = 'Title';
		}
		
		$f = explode('_',$row['Field']);
		$field = '';
		foreach ($f as $k=>$v) {
			$field .= ucfirst($v)." "; 
		}
		$fi['name'] = trim($field);
		$fi['value'] = $row['Field'];
		$fields[] = $fi;
		$pl_fields[] = $fi;
   }
}

$fi['name'] = "brand";
$fi['value'] = "brand";
$fields[] = $fi;
$pl_fields[] = $fi;
		
$x['name'] = 'Description';
$x['value'] = 'data_descr';
$fields[] = $x;
$x['name'] = 'HTML Description';
$x['value'] = 'data_html';
$fields[] = $x;
$x['name'] = 'In the box';
$x['value'] = 'data_inthebox';
$fields[] = $x;

$query ="SHOW COLUMNS FROM product_prices";
if(!$result = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($result) > 0) {
   while ($row = mysql_fetch_assoc($result)) {
//       print_r($row);
		if ($row['Field'] != 'id') {
			$f = explode('_',$row['Field']);
			$field = '';
			foreach ($f as $k=>$v) {
				$field .= ucfirst($v)." "; 
			}
			$fi['name'] = trim($field);
			$fi['value'] = $row['Field'];
			$fields[] = $fi;
			$pp_fields[] = $fi;
		}
		
   }
}



function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Import Products")
{
	$tmpfile = "$ROOT_DIR/mgt/si/uploads/$filename";
	$fp = fopen($tmpfile, "r");
				
	if(!$fp)
	{
		echo "Error opening file!  Make sure there are no special characters or spaces in your filename!";
		exit;
	}
				
	$data = fgetcsv($fp);

	if($profilename != "")
	{
		$query = "insert into si_profiles(profilename) values('".addslashes($profilename)."')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$siid = mysql_insert_id();
		
		for($k = 0; $k < count($data); $k++)
		{
			if($_POST["column$k"] != "")
			{
				$colname = $_POST["column$k"];
				
				$query = "insert into si_profiles_ext(siid, colid, colname) values('$siid', '$k', '$colname')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			}
		}
	}
	$ordersimported = 0;
	$duplicates = 0;

	while($data = fgetcsv($fp))
	{	
		$data_descr_value = '';
		$data_html_value = '';
		$data_inthebox_value = '';
		$productId = '';
		$tmp = array();
		foreach ($data as $k=>$v) 
		{
			foreach ($fields as $x=>$y) {
				if ($_POST["column$k"] == $y['value']) {
					if ($_POST["column$k"] == 'data_descr') {
						$data_descr_value = $v;
					}
					if ($_POST["column$k"] == 'data_html') {
						$data_html_value = $v;
					}
					if ($_POST["column$k"] == 'data_inthebox') {
						$data_inthebox_value = $v;
					}
					if ($_POST["column$k"] == 'id') {
						$productId = $v;
					}
					$var = $y['value'];
					$tmp[$var] = addslashes($v); 
				}	
			}
		}
		
		
		
		if ($productId != '') 
		{
			$q = "SELECT id FROM product_list WHERE id='".$productId."'";
			print_r($q);
			
			if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if (mysql_num_rows($qok) > 0) {
				$duplicates++;					
			}
			else 
			{
				/*$query_insert = "INSERT INTO product_list(";
				foreach ($pl_fields as $xx=>$yy) {
					if ($yy['value'] == 'Title') {
						$col = 'descr';
					}
					else {
						$col = $yy['value'];
					}
					$query_insert .=$col;
					if ($xx < count($pl_fields)-1) {
						$query_insert .=",";
					}
				}
				$query_insert .=") VALUES(";
				foreach ($pl_fields as $xx=>$yy) {
					$tmp1 = $yy['value'];		
					$val = $tmp[$tmp1];
					$query_insert .= "'".trim(addslashes($val))."'";
					if ($xx < count($pl_fields)-1) {
						$query_insert .=",";
					}
				}
				$query_insert .=")";
//				if(!$qok_insert = mysql_db_query($DB, $query_insert, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				print_r($query_insert);
				
				$q1 = "SELECT id FROM product_descr WHERE id='".$productId."'";
				if(!$qok1 = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qok) <= 0 && $data_descr_value != '') {
					$q_desc = "INSERT INTO product_descr(id,data,divid) VALUES('".$productId."','".trim(addslashes($data_descr_value))."','".$divid."')";					
	//				if(!$qok_desc = mysql_db_query($DB, $q_desc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//					print_r($q_desc);
				}
				$q2 = "SELECT id FROM product_html WHERE id='".$productId."'";
				if(!$qok2 = mysql_db_query($DB, $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qok2) <= 0 && $data_html_value != '') {
					$q_html = "INSERT INTO product_html(id,data,divid) VALUES('".$productId."','".trim(addslashes($data_html_value))."','".$divid."')";					
	//				if(!$qok_html = mysql_db_query($DB, $q_html, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//					print_r($q_html);
				}
				$q3 = "SELECT id FROM product_inthebox WHERE id='".$productId."'";
				if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qok3) <= 0 && $data_inthebox_value != '') {
					$q_inthebox = "INSERT INTO product_inthebox(id,data,divid) VALUES('".$productId."','".trim(addslashes($data_inthebox_value))."','".$divid."')";					
//					if(!$qok_inthebox = mysql_db_query($DB, $q_inthebox, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//					print_r($q_inthebox);
				}
				$query_prices = "INSERT INTO product_prices(";
				foreach ($pp_fields as $xx=>$yy) {
					$query_prices .= $yy['value'];
					if ($xx < count($pp_fields)-1) {
						$query_prices .=",";
					}
				}
				$query_prices .=") VALUES(";
				foreach ($pp_fields as $xx=>$yy) {
					$tmp1 = $yy['value'];		
					$val = $tmp[$tmp1];
					$query_prices .= "'".trim(addslashes($val))."'";
					if ($xx < count($pp_fields)-1) {
						$query_prices .=",";
					}
				}
				$query_prices .=")";
//				print_r($query_prices);
				$ordersimported++;*/
			}
		}
		else 
		{
			$query = "select id from product_list order by id desc limit 0, 1";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($id) = mysql_fetch_array($qok);
			$id++;
	
			
			$unique_identifier = "";
			$identifier_column = "";
			
			$query1 = "INSERT INTO product_list(id";
			$query2 = "VALUES('$id'";
		
			foreach ($pl_fields as $xx=>$yy) 
			{
				if ($yy['value'] == 'Title') 
				{
					$col = 'descr';
				}
				else 
				{
					$col = $yy['value'];
				}
				
				if ($col != 'id') 
				{
					$query_insert .=$col;	
				}
				
				$tmp1 = $yy['value'];		
				$val = $tmp[$tmp1];
				
				if(($val != '') && ($col != "brand"))
				{				
					$query1 .= ", $col";
					$query2 .= ", '$val'";
				}
				
				if($col == "brand")
				{
					if(trim($val) == "") $val = "Unknown";
						
					$query = "select manid from product_manufacturers where manname = '".addslashes($val)."'";
					//echo "QUERY: $query<BR>";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($manid) = mysql_fetch_array($qok);
					}
					else 
					{
						$query = "insert into product_manufacturers(manname) values('".addslashes($val)."')";
						//echo "QUERY: $query<BR>";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						$manid = mysql_insert_id();
					}
					
					$query1 .= ", manid";
					$query2 .= ", '$manid'";

					
				}
				
				if( ($unique_identifier == "") && ($val != ""))
				{
					if($col == "upccode")
					{
						$unique_identifier = $val;
						$identifier_column = "upccode";
					}
					else if($col == "sku")
					{
						$unique_identifier = $val;
						$identifier_column = "sku";
					}
					else if($col == "asin")
					{
						$unique_identifier = $val;
						$identifier_column = "asin";
					}
				}
			}

			/*if(!stristr($query1, "manid"))
			{
				$val = "Unknown";
						
				$query = "select manid from product_manufacturers where manname = '".addslashes($val)."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) > 0)
				{
					list($manid) = mysql_fetch_array($qok);
				}
				else 
				{
					$query = "insert into product_manufacturers(manname) values('".addslashes($val)."')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$manid = mysql_insert_id();
				}
				
				
			}*/
			
			$query1 .= ")";
			$query2 .= ")";
			
			$query_insert = $query1 . " " . $query2;
			
			$query = "select id from product_list where $identifier_column = '$unique_identifier'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) > 0)
			{
				list($id) = mysql_fetch_array($qok);
			}
			else 
			{
				if(!$qok_insert = mysql_db_query($DB, $query_insert, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$productId = $id;
			}
			
			$productId = $id;
			
			$q1 = "SELECT id FROM product_descr WHERE id='".$productId."'";
			if(!$qok1 = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if (mysql_num_rows($qok) <= 0 && $data_descr_value != '') 
			{
				$q_desc = "INSERT INTO product_descr(id,data,divid) VALUES('".$productId."','".trim(addslashes($data_descr_value))."','".$divid."')";					
				if(!$qok_desc = mysql_db_query($DB, $q_desc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//				print_r($q_desc);
			}
			$q2 = "SELECT id FROM product_html WHERE id='".$productId."'";
			if(!$qok2 = mysql_db_query($DB, $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if (mysql_num_rows($qok2) <= 0 && $data_html_value != '') 
			{
				$q_html = "INSERT INTO product_html(id,data,divid) VALUES('".$productId."','".trim(addslashes($data_html_value))."','".$divid."')";					
				if(!$qok_html = mysql_db_query($DB, $q_html, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//				print_r($q_html);
			}
			$q3 = "SELECT id FROM product_inthebox WHERE id='".$productId."'";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if (mysql_num_rows($qok3) <= 0 && $data_inthebox_value != '') 
			{
				$q_inthebox = "INSERT INTO product_inthebox(id,data,divid) VALUES('".$productId."','".trim(addslashes($data_inthebox_value))."','".$divid."')";					
				if(!$qok_inthebox = mysql_db_query($DB, $q_inthebox, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//				print_r($q_inthebox);
			}
			
			
			$query = "delete from product_prices where id = '$id'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query_prices = "INSERT INTO product_prices(id,";
			foreach ($pp_fields as $xx=>$yy) 
			{
				$query_prices .= $yy['value'];
				if ($xx < count($pp_fields)-1) 
				{
					$query_prices .=",";
				}
			}
			$query_prices .=") VALUES('$id',";

			foreach ($pp_fields as $xx=>$yy) 
			{
				$tmp1 = $yy['value'];		
				$val = $tmp[$tmp1];
				
				$val = str_replace("$", "", $val);
				$val = str_replace(",", "", $val);
				
				$query_prices .= "'".trim(addslashes($val))."'";
				if ($xx < count($pp_fields)-1) 
				{
					$query_prices .=",";
				}
			}
			$query_prices .=")";
			
			if(!$qok = mysql_db_query($DB, $query_prices, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();echo "<BR><BR>$query<BR><BR>";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			//echo "QUERY_PRICES: $query_prices<BR>";
			
			$ordersimported++;
			
			$efc->logAction("SUCCESS", "1", $id, "Product: $id Created", "Product: $id Created"); 
			$efc->UpdatePool("1", $id);
			$efc->touchSKU($id);
		}
	}
}
?>
<HTML>
<HEAD>
<TITLE>Product Import - Mapping Columns</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
function showCover()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
}
</script>
<style>
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}
</style>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Product Import</B>
		<BR><BR>
		
		<table>
		<tr>
			<td><B>Product Imported</B></td>
			<td><?=$ordersimported;?></td>
		</tr>
		<tr>
			<td><B>Duplicates Skipped</B></td>
			<td><?=$duplicates;?></td>
		</tr>
		</table>

		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td>
	
	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>