<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
/******************************************************************************************/
$assigned_arr = array();
$query = "select id, displayname from users order by displayname";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
{
    $aa = array();
    $aa['userid'] = $x_userid;
    $aa['displayname'] = $x_displayname;
    array_push($assigned_arr, $aa);
}

$addon = $addon_id = "";
$keywords = str_replace('^','#',$keywords);
if(strlen($keywords) >= 2)
{
	$wordlist = explode(" ", $keywords);

	for($xx = 0; $xx < count($wordlist); $xx++)
	{
		$thisword = $wordlist[$xx];

		$kwpart = " AND (fba_shipment_creator.name like '%$thisword%') ";

		$addon .= $kwpart;
	}
}
if($id != "")$addon_id .= " AND fba_shipment_creator_items.pid = '$id'";

if (intval($sort_linked)>0) {
	$orderby = " ORDER BY fba_shipment_creator_link.shipment_id DESC";
	$addon_tables = " LEFT JOIN fba_shipment_creator_link ON fba_shipment_creator.id=fba_shipment_creator_link.plan_id";
}
else {
	$orderby = " ORDER BY fba_shipment_creator.date_added";
}

if($assignedto >= 0) {
    $addon = " AND fba_shipment_creator.assigned='".$assignedto."'";
}

$query = "SELECT distinct(fba_shipment_creator.id),fba_shipment_creator.name,fba_shipment_creator.assigned,fba_shipment_creator.date_added FROM fba_shipment_creator 
				LEFT JOIN fba_shipment_creator_items ON fba_shipment_creator.id=fba_shipment_creator_items.iso_id $addon_id
			$addon_tables
		  WHERE 1 $addon GROUP BY fba_shipment_creator.id $orderby";


$query = str_replace("\n", "", $query);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No ISOs Found</I>~<B><I>No ISOs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> ISOs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center height=21><b>Nr</b></td>
	<td align=center height=21><b>ID</b></td>
	<td align=center><b>Name</b></td>
	<td align=center><b>Created by</b></td>
	<td align=center><b>Link</b></td>
	<td align=center><b>Date Created</b></td>
	<td align=center colspan="2"><b>Action</b></td>
</tr>	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $name,$assigned, $date_added) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
	{

		$linked_shipment_id = '';
		$qx = "SELECT id FROM fba_shipment_creator_respons WHERE iso_id='".$id."'";
		if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($qokx)>0) {
			$iso_tmp = true;
		}
		else {
			$iso_tmp = false;
		}
		
		if($onrow % 2) {
			echo "<tr bgcolor='#eeeeee' id='isoline_".$id."'>";
		}
		else {
			echo "<tr bgcolor='#ffffff' id='isoline_".$id."'>";
		}
		?>
			<td align=center height=21><?=($onrow+1)?></td>
			<td align=center height=21><a href="javascript:void(0)" onclick="showItems('<?=$id?>')"><?=$id?></span></td>
			<td align=center><span id="isoname_line_<?=$id?>"><?=$name?></span></td>
			<td align=center>
                            <div id="assigned_val_<?=$id?>" style="display:none;">
                                <select id="assigned_select_<?=$id?>" class="formSelect">
                                    <option value="0">Unassigned</option>
                                <?
                                foreach($assigned_arr as $k=>$v) {
                                    ?>
                                    <option value="<?=$v['userid']?>" <?if($assigned == $v['userid']) echo " selected"?>><?=$v['displayname']?></option>
                                    <?
                                }
                                ?>
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="javascript:void(0)" onclick="saveAssigned('<?=$id?>')">Save</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" onclick="hideAssigned('<?=$id?>')">Cancel</a>
                            </div>
                            <div id="assigned_name_<?=$id?>">
                            <?
                            $querya = "select id, displayname from users WHERE id='".$assigned."'";
                            if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($x_userid, $x_displayname) = mysql_fetch_array($qoka);
                            echo $x_displayname."&nbsp&nbsp&nbsp&nbsp<a href=\"javascript:void(0)\" onclick=\"showAssigned('".$id."')\">Edit</a>";
                            ?>
                            </div>
                        </td>
			<?
				$qxx = "SELECT shipment_id,plan_id FROM fba_shipment_creator_link WHERE plan_id='".$id."'";
				if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qokxx)>0) {
					list($linked_shipment_id) = mysql_fetch_array($qokxx);
					$qa = "SELECT fba_shipment_creator_respons.iso_id,fba_shipment_creator.name FROM fba_shipment_creator_respons,fba_shipment_creator WHERE fba_shipment_creator_respons.shipment_id='".$linked_shipment_id."' AND fba_shipment_creator_respons.iso_id=fba_shipment_creator.id";
					if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($linked_plan_id,$linked_plan_name) = mysql_fetch_array($qoka);
					?>
						<td align=center height=21>Linked: <?=$linked_shipment_id?> <?=$linked_plan_id?> (<?=$linked_plan_name?>)</td>
					<?
				}
				else {
					if (!$iso_tmp) {
						?>
							<td align=center height=21><a href="javascript:void(0)" onclick="showMenuShipment('<?=$id?>')" id="isoshiplink_<?=$id?>">Link</span></td>
						<?
					}
					else {
						?>
							<td align=center height=21>&nbsp;</td>
						<?
					}
				}
				
			?>
			<td align=center><?=$date_added?></td>
			<td align=center><a href="javascript:void(0)" onclick="deleteISO('<?=$id?>')">delete</a></td>
<!--			<td align=center><a href="/mgt/amazon/scripts/create_inbound_shipment_plan.phtml?iso_id=<?=$id?>" target="_blank">Shipment plan</a></td>-->
			<?
				if ($iso_tmp) {
					?>
						<td align=center id="plan_action_<?=$id?>"><a href="javascript:void(0)" onclick="viewShipmentPlan('<?=$id?>')">View plan</a></td>
					<?
				}
				else {
					if ($linked_shipment_id == '') {
					?>
						<td align=center id="plan_action_<?=$id?>"><a href="javascript:void(0)" onclick="saveShipmentPlan('<?=$id?>')">Create plan</a></td>					
					<?
					}
					else {
						?>
						<td align=center>&nbsp;</td>
						<?
					}
				}
			?>
			
		</tr>	
		<?
		$onrow++;
	$numout++;
		}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> ISOs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
