<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>FBA Shipment Creator</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery_offset.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function searchSKUs(pagenumVal){
	$("#savecover").show();
	var keywords = $('#keywords').val();
	var assignedto = $('#assignedto').val();
	var prodid = $('#id').val();
	if(document.skusearch.sort_linked.checked)
		var sort_linkedVal = 1;
	else
		var sort_linkedVal = 0;
	$.get("ajax_skusearch2_iso.phtml", 
			{
				'keywords':keywords,
				'assignedto':assignedto,
				'id':prodid,
				'sort_linked':sort_linkedVal,
				p:pagenumVal
			},function(data){
			$('#reportdata').html(data);  
			$("#savecover").hide(); 	
   	});
}
function clearForm() {
	
	var dlg = document.getElementById("searchresults");
	dlg.innerHTML = "&nbsp;";
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchSKUs();
			return false;
		}
	}
}
function searchAddSKUs(iso_id)
{
	var dlg = document.getElementById("skuresults_add");
	dlg.style.display = "block";

	var posArray = findPos( document.getElementById("add_keywords") );	
	
	var x = posArray[0];
	var y = posArray[1];

	dlg.style.left  = x-90;
	dlg.style.top  = y+20;		
	dlg.style.width=800;
	/*dlg.style.width=800;
	dlg.style.height=300;*/
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = $('#add_keywords').val();
  	
	var url="ajax_qsearch.phtml?keywords="+keywords+"&iso_id="+iso_id+"&maxout=20&stockdetail=1&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function stateChanged()
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.sresults;
		
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 1)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0 && parseInt(rows[pp]) > 0) {
						newCell.innerHTML = "<a href=\"javascript:addItem2ISO('"+rows[pp]+"','"+rows[rows.length-1]+"');\">Add</a>";
					}
					else {
						if(pp<rows.length-1) {
							newCell.innerHTML = rows[pp];
						}
					}
					
				}
				newCell.innerHTML = '<input type="text" id="qty_'+rows[0]+'_'+rows[rows.length-1]+'" class="formBox" style="width:50px;"/>';
			}
		}

	}
}

function closeResults()
{
	var dlg = document.getElementById("skuresults_add");
	dlg.style.display = "";
	
	var theTable = document.all.sresults;
		
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
}
function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}
function addItem2ISO(pid,iso_id) {
	hideMenuShipment();
	if($('#isoitemlist_'+iso_id+'_'+pid).length == 0) {
		var tr_elem = $('#table_isoitems tr').length-4;
		var qty = $('#qty_'+pid+'_'+iso_id).val();
		$.get("add_iso_item.phtml", 
			{
				'pid':pid,
				'iso_id':iso_id,
				'qty':qty,
				'tr_elem':tr_elem
			},function(data){
				$('#isoitemlistfooter_'+iso_id).before(data);
	   	});
	}
}
function removeISOItem(iso_id,pid) {
	hideMenuShipment();
	$('#isoitemlist_'+iso_id+'_'+pid).remove();
	var itemnr = 1;
	$('.iso_item_nrline').each(function(){
		$(this).html(itemnr);
		itemnr++;
	});
	$.get("remove_iso_item.phtml", 
		{
			'iso_id':iso_id,
			'pid':pid
		},function(data){
			
	});
}
function saveISO(iso_id) {
	hideMenuShipment();
	var iso_name = $('#isoname_'+iso_id).val();
	var iso_items = '';
	$('.isoitemaddline').each(function(){
		var item_id = $(this).attr('id').split('_');
		var item_qty = $('#isoitemqty_'+iso_id+'_'+item_id[2]).val();
		iso_items += item_id[2]+'_'+item_qty+',';
	});
	iso_items = iso_items.substr(0,iso_items.length-1);
	
	$.get("save_iso_item_line.phtml", 
		{
			'iso_id':iso_id,
			'name':iso_name,
			'items':iso_items
		},function(data){
		$('#isoname_line_'+iso_id).html(iso_name);
		cancelSave(iso_id);
	});
}
function showItems(iso_id) {
	hideMenuShipment();
	$.get("ajax_getisoline.phtml", 
		{
			'id':iso_id
		},function(data){
		if($('#isolineitems_'+iso_id).length > 0 ) {
			$('#isolineitems_'+iso_id).remove();
		}
		$('#isoline_'+iso_id).after(data);
	});
}
function cancelSave(iso_id) {
	hideMenuShipment();
	$('#isolineitems_'+iso_id).remove();
	closeResults();
}
function deleteISO(iso_id) {
	hideMenuShipment();
	$.get("delete_iso.phtml", 
		{
			'iso_id':iso_id
		},function(data){
			searchSKUs(0);
			closeResults();
	});
}
function saveShipmentPlan(iso_id) {
	hideMenuShipment();
	$.get("ajax_validate_case_plan.phtml", 
		{
			'iso_id':iso_id
		},function(data){
			if(data == 'ok') {
				$.get("/mgt/amazon/scripts/inbound_shipment_plan_request.phtml", 
				{
					'iso_id':iso_id
				},function(data){
					if($('#error_'+iso_id).length>0) {
						$('#error_'+iso_id).remove();
					}
					
					if(data != '') {
						
						$('#isoline_'+iso_id).after('<tr id="error_'+iso_id+'"><td colspan="6">'+data+'</td></tr>');
					}
					else {
						
						$('#plan_action_'+iso_id).html('<a href="javascript:void(0)" onclick="viewShipmentPlan(\''+iso_id+'\')">View plan</a>');				
					}
				});
			}
			else {
				$('#isoline_'+iso_id).after('<tr id="error_'+iso_id+'"><td colspan="6">Case Pack qty does not match total qty</td></tr>');
			}
	});
	
}
function viewShipmentPlan(iso_id) {
	hideMenuShipment();
	$.get("ajax_getplan.phtml", 
		{
			'id':iso_id
		},function(data){
			if($('#plan_'+iso_id).length > 0) {
				$('#plan_'+iso_id).remove();
			}
			if($('#isolineitems_'+iso_id).length > 0) {
				$('#isolineitems_'+iso_id).after(data);
			}
			else {
				$('#isoline_'+iso_id).after(data);
			}
	});
}
function savePlan(plan_id) {
	hideMenuShipment();
	$('#loadimg_'+plan_id).show();
	var plan_items = '';
	$('.planitemqty_'+plan_id).each(function(){
		var item_id = $(this).attr('id').split('_');
		var item_qty = $(this).val();
		var item_price = $('#planitemprice_'+item_id[1]).val();
		var pid = $('#pidvalue_'+item_id[1]).html();
		plan_items += item_id[1]+'_'+item_qty+'_'+pid+'_'+item_price+',';
	});
	plan_items = plan_items.substr(0,plan_items.length-1);
	var plan_name = $('#planname_'+plan_id).val();
	$.get("update_plan.phtml", 
		{
			'plan_items':plan_items,
			'plan_id':plan_id,
			'plan_name':plan_name
		},function(data){
		$('#loadimg_'+plan_id).hide();
	});
}
function cancelPlan(plan_id) {
	hideMenuShipment();
	$('#plan_'+plan_id).remove();
}
function deletePlan(plan_id,iso_id) {
	hideMenuShipment();
	$.get("delete_plan.phtml", 
		{
			'plan_id':plan_id
		},function(data){
			$('#plansepid_'+plan_id).remove();
			if($('#plan_'+iso_id+' .plansepid').length == 0) {
				$('#plan_action_'+iso_id).html('<a href="javascript:void(0)" onclick="saveShipmentPlan(\''+iso_id+'\')">Create plan</a>');
				cancelPlan(plan_id);
			}
//			$('#plan_action_'+iso_id).html('<a href="javascript:void(0)" onclick="saveShipmentPlan(\''+iso_id+'\')">Create plan</a>');
	});
}
function updatePlan(plan_id) {
	hideMenuShipment();
	$('#loadimg_'+plan_id).show();
	$.get("/mgt/amazon/scripts/inbound_shipment_plan_update.phtml", 
		{
			'id':plan_id
		},function(data){
			$('#loadimg_'+plan_id).hide();
	});
}
function createPlan(plan_id) {
	hideMenuShipment();
	$('#loadimg_'+plan_id).show();
	$.get("/mgt/amazon/scripts/inbound_shipment_plan_create.phtml", 
		{
			'id':plan_id
		},function(data){
			if(data != '') {
				$('#loadimg_'+plan_id).hide();
				if($('#errorplan_'+plan_id).length>0) {
					$('#errorplan_'+plan_id).remove();
				}
				$('#plansepid_'+plan_id).append('<tr id="errorplan_'+plan_id+'"><td colspan="6">'+data+'</td></tr>');
			}
			else {
				if($('#errorplan_'+plan_id).length>0) {
					$('#errorplan_'+plan_id).remove();
				}
				$('#loadimg_'+plan_id).hide();
			
				$('#updateplan_'+plan_id).show();
				$('#labelplan_'+plan_id).show();
				$('#createplan_'+plan_id).hide();
			}
			
	});
}
function createPO(plan_id) {
	hideMenuShipment();
	$('#loadimg_'+plan_id).show();
	var assignedto = $('#assignedto_'+plan_id).val();
	var vendorid = $('#sourcing_'+plan_id).val();
	var fbaid = $('#fba_id_'+plan_id).val();
	var ship_zip = $('#shipzip_'+plan_id).html();
	var destid = $('#destid_'+plan_id).html();
	var plan_items = '';
	$('.planitemqty_'+plan_id).each(function(){
		var item_id = $(this).attr('id').split('_');
		var pid = $('#pidvalue_'+item_id[1]).html();
		var item_qty = $(this).val();
		var item_price = $('#planitemprice_'+item_id[1]).val();
		
		plan_items += pid+'_'+item_qty+'_'+item_price+',';
	});
	plan_items = plan_items.substr(0,plan_items.length-1);
	
	$.get("savepo.phtml", 
		{
			'assigned':assignedto,
			'plan_id':plan_id,
			'vendorid':vendorid,
			'fbaid':fbaid,
			'ship_zip':ship_zip,
			'destid':destid,
			'prods':plan_items
		},function(data){
			$('#loadimg_'+plan_id).hide();
			$('#createpo_'+plan_id).hide();
			$('#poblock_'+plan_id).html('PO#: <a href="javascript:void(0)" onclick="showMenu(\''+data+'\',\'1\',\''+plan_id+'\')">'+data+'</a>');
	});
}

function createPOISO(iso_id) {
	hideMenuShipment();
//	$('#loadimg_'+plan_id).show();
	var assignedto = $('#assignedtoiso_'+iso_id).val();
	var vendorid = $('#sourcingiso_'+iso_id).val();
	var fbaid = $('#fba_idiso_'+iso_id).val();
	var ship_zip = $('#shipzipiso_'+iso_id).val();
	var destid = $('#destidiso_'+iso_id).val();
	var plan_items = '';
	$('.isoitemqty_'+iso_id).each(function(){
		var item_id = $(this).attr('id').split('_');
		var pid = item_id[2];
		var item_qty = $(this).val();
		var item_price = $('#itempriceiso_'+iso_id+'_'+pid).val();
		
		plan_items += pid+'_'+item_qty+'_'+item_price+',';
	});
	plan_items = plan_items.substr(0,plan_items.length-1);
	
	$.get("savepo.phtml", 
		{
			'assigned':assignedto,
			'iso_id':iso_id,
			'vendorid':vendorid,
			'fbaid':fbaid,
			'ship_zip':ship_zip,
                        'destid':destid,
			'prods':plan_items
		},function(data){
			$('#loadimg_'+iso_id).hide();
			$('#createpoiso_'+iso_id).hide();
			$('#poblockiso_'+iso_id).html('PO#: <a href="javascript:void(0)" onclick="showMenuISO(\''+data+'\',\'1\',\''+iso_id+'\')">'+data+'</a>');
	});
}
function createOrder(plan_id) {
	hideMenuShipment();
	$('#loadimg_'+plan_id).show();
	var assignedto = $('#order_assignedto_'+plan_id).val();
	var fbaid = $('#order_fba_id_'+plan_id).val();
	var ship_zip = $('#shipzip_'+plan_id).html();
	var destid = $('#destid_'+plan_id).html();
	var plan_items = '';
	$('.planitemqty_'+plan_id).each(function(){
		var item_id = $(this).attr('id').split('_');
		var pid = $('#pidvalue_'+item_id[1]).html();
		var item_qty = $(this).val();
		var item_price = $('#planitemprice_'+item_id[1]).val();
		plan_items += pid+'_'+item_qty+'_'+item_price+',';
	});
	plan_items = plan_items.substr(0,plan_items.length-1);
	
	$.get("saveorder.phtml", 
		{
			'assigned':assignedto,
			'plan_id':plan_id,
			'fbaid':fbaid,
			'ship_zip':ship_zip,
                        'destid':destid,
			'prods':plan_items
		},function(data){
			$('#loadimg_'+plan_id).hide();
			$('#createorder_'+plan_id).hide();
//			$('#orderblock_'+plan_id).html('<a href="javascript:void(0)">'+data+'</a>');
			$('#orderblock_'+plan_id).html('Order#: <a href="javascript:void(0)" onclick="showMenu2(\''+data+'\',\''+plan_id+'\')">'+data+'</a>');
	});
}
function createOrderISO(iso_id) {
	hideMenuShipment();
	$('#loadimg_'+iso_id).show();
	var assignedto = $('#order_assignedtoiso_'+iso_id).val();
	var fbaid = $('#order_fba_idiso_'+iso_id).val();
	var ship_zip = $('#shipzipiso_'+iso_id).val();
        var destid = $('#destidiso_'+iso_id).val();
	var plan_items = '';
	var plan_items = '';
	$('.isoitemqty_'+iso_id).each(function(){
		var item_id = $(this).attr('id').split('_');
		var pid = item_id[2];
		var item_qty = $(this).val();
		var item_price = $('#itempriceiso_'+iso_id+'_'+pid).val();
		
		plan_items += pid+'_'+item_qty+'_'+item_price+',';
	});
	plan_items = plan_items.substr(0,plan_items.length-1);
	$.get("saveorder.phtml", 
		{
			'assigned':assignedto,
			'iso_id':iso_id,
			'fbaid':fbaid,
			'ship_zip':ship_zip,
                        'destid':destid,
			'prods':plan_items
		},function(data){
			$('#loadimg_'+iso_id).hide();
			$('#createorderiso_'+iso_id).hide();
			$('#orderblockiso_'+iso_id).html('Order#: <a href="javascript:void(0)" onclick="showMenu2ISO(\''+data+'\',\''+iso_id+'\')">'+data+'</a>');
	});
}
function showMenuISO(poid, status,plan_id)
{
//	$('#dialog').html('');
	var pos = $('#poblockiso_'+plan_id).offset();
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	$("#dialog").offset({ top: pos.top, left: pos.left+20});
	
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption2").innerHTML = "";
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/vn/viewpo.phtml?poid="+poid+"&inwin=1', 'View PO: "+poid+"');\">View PO</a>";
	
	if(parseInt(status) != 2)
		document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:editPO("+poid+");\">Edit PO</a>";
}
function showMenu(poid, status,plan_id)
{
	var pos = $('#poblock_'+plan_id).position();
//	alert(pos.top+'-'+pos.left);
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
//	alert($('#dialog').position());
/*	dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;
	
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption2").innerHTML = "";
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/vn/viewpo.phtml?poid="+poid+"&inwin=1', 'View PO: "+poid+"');\">View PO</a>";
	
	if(parseInt(status) != 2)
		document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:editPO("+poid+");\">Edit PO</a>";
}
function showMenu2(iv,plan_id)
{
	var pos = $('#orderblock_'+plan_id).position();
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	/*dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:e2window('/mgt/om/vieworder.phtml?iv="+iv+"&inwin=1', 'View Order: "+iv+"','orderblock_"+plan_id+"');\">View Order</a>";
	document.getElementById("menuOption2").innerHTML = "<a href=\"/mgt/om/createorder.phtml?iv="+iv+"\" target=\"_blank\">Edit Order</a>";
	document.getElementById("menuOption3").innerHTML = "<a href=\"/mgt/ship/viewpick4.phtml?iv="+iv+"\" target=\"_blank\">Print</a>";
}
function showMenu2ISO(iv,plan_id)
{
	
//	$('#dialog').html('');
	var pos = $('#orderblockiso_'+plan_id).offset();
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	$("#dialog").offset({ top: pos.top, left: pos.left+20});
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:e2window('/mgt/om/vieworder.phtml?iv="+iv+"&inwin=1', 'View Order: "+iv+"','orderblockiso_"+plan_id+"');\">View Order</a>"
	document.getElementById("menuOption2").innerHTML = "<a href=\"/mgt/om/createorder.phtml?iv="+iv+"\" target=\"_blank\">Edit Order</a>"

}
function editPO(poid)
{
	if(confirm("Loading this PO will remove any items you currently have in your PO shopping cart.  Continue anyway?"))
	{
//		document.location="/mgt/vn/createpo.phtml?load=1&poid="+poid;
		window.open("/mgt/vn/createpo.phtml?load=1&poid="+poid);
	}
}

function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}
function showMenu3(productID,plan_id)
{
	var pos = $('#pidvalue_'+plan_id).position();
//	alert(pos.top+'-'+pos.left);
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
//	alert($('#dialog').position());
/*	dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;

	//var menuDiv = document.getElementById("menuDiv");

	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"','pidvalue_"+plan_id+"');\">View SKU</a>"

	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/editsku.phtml?id="+productID+"&inwin=1', 'Edit SKU: "+productID+"','pidvalue_"+plan_id+"');\">Edit SKU</a>"
}
function viewHistory(pid)
{
	var dlg = document.getElementById("pohistory");
	dlg.style.display = "block";
	
	dlg.style.width=650;
//	dlg.style.height=250;
	
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";

	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;
	
	xml21Http=GetXmlHttpObject();
	
	if (xml21Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	var url = "ajax_skuhistory.phtml";
	url += "?pid="+pid;
	url += "&sid="+Math.random();
  	
  	xml21Http.onreadystatechange=gotHistory;
	xml21Http.open("GET",url,true);
	xml21Http.send(null);	
}

function gotHistory()
{
	if(xml21Http.readyState==4)
	{ 
		var dlg = document.getElementById("pohistory");
		dlg.innerHTML = "<span class=g>"+xml21Http.responseText+"</span>";
	}	
}
function closeHistory()
{
	var dlg = document.getElementById("pohistory");
	dlg.style.display = "none";
}
function getItemLabel(asin,pid) {
	if(asin == '') {
		alert('Invalid ASIN');
	}
	else {
	/*$.get("barcode_pdf/pdf_barcode.phtml", 
		{
			'pid':pid,
			'asin':asin
		},function(data){
//			window.open ("barcode/img/"+asin+".png","mywindow");
//			window.print("barcode/img/"+asin+".png");
//			var win = window.open("barcode/img/"+asin+".png","mywindow","width=220,height=120,top=-1"); 
			var win = window.open("print.phtml?name="+asin,"mywindow","width=220,height=120,top=-1"); 
			win.print();
	});*/
	var win = window.open("/mgt/reports/fba_shipment_creator/barcode_pdf/pdf_barcode.phtml?asin="+asin+"&pid="+pid,"mywindow","top=-1"); 
//	win.print();
	}
}
function printLabelPlan(plan_id,shipment_id) {
	$.get("barcode_shipment.php", 
		{
			'id':plan_id,
			'shipid':shipment_id
		},function(data){
			var win = window.open("barcode/img/"+shipment_id+".png","mywindow","width=600,height=400,top=-1"); 
//			var win = window.open("print.phtml?name="+shipment_id,"mywindow","width=600,height=400,top=-1"); 
			win.print();
	});
}
function hideMenuShipment()
{
	var dlg = document.getElementById("dialog1");
	dlg.style.display = "none";
}
function showMenuShipment(iso_id)
{
	$('#dialog1').html('');
	var pos = $('#isoshiplink_'+iso_id).offset();

	$.get('ajax_shipment_ids.phtml', 
		{
			'plan_id':iso_id
		}, function(data) {
			$('#dialog1').html(data);
	});
	var dlg = document.getElementById("dialog1");
	dlg.style.display = "block";
	
	$("#dialog1").offset({ top: pos.top, left: pos.left+20});
}

function updatePlanShipment(plan_id,iso_id) {
	$.get("/mgt/amazon/scripts/inbound_shipment_plan_update_add.phtml", 
		{
			'id':iso_id,
			'plan_id':plan_id
		},function(data){
			if(data != '') {
//				$('#dialog1').append(data);
				alert(data);
			}
//			$('#loadimg_'+plan_id).hide();
	});
}
function updateLinkedPlan(shipment_id,linked_iso_id,iso_id,plan_id) {
	var plan_items = '';
	$('.isoitemqty_'+iso_id).each(function(){
		var item_id = $(this).attr('id').split('_');
		var pid = item_id[2];
		var item_qty = $(this).val();
		plan_items += pid+'_'+item_qty+',';
	});
	plan_items = plan_items.substr(0,plan_items.length-1);
	
	$.get("update_linked_plan.phtml", 
		{
			'shipment_id':shipment_id,
			'linked_iso_id':linked_iso_id,
			'iso_id':iso_id,
			'items':plan_items
		},function(data){
			updatePlanShipment(iso_id,plan_id);
	});
}
function setAMZOversize(pid) {
	$.get("set_amz_oversize.phtml", 
		{
			'pid':pid
		},function(data){

	});
}
function showAssigned(iso) {
    $('#assigned_name_'+iso).hide();
    $('#assigned_val_'+iso).show();
}
function hideAssigned(iso) {
    $('#assigned_name_'+iso).show();
    $('#assigned_val_'+iso).hide();
}
function saveAssigned(isoid) {
        var assigned = $('#assigned_select_'+isoid).val();
	$.get("update_assigned.phtml", 
		{
			'isoid':isoid,
			'assigned':assigned
		},function(data){
                    hideAssigned(isoid);
                    $('#assigned_name_'+isoid).html(data);
	});
}
function saveCaseQty(pid) {
	if($('#isoitemcase_'+pid).length>0) {
		var case_qty = $('#isoitemcase_'+pid).val();
	}
	else {
		var case_qty = $('.isoitemcase_'+pid).val();
	}
	$.get("ajax_save_case_qty.phtml", 
		{
			'pid':pid,
			'qty':case_qty
		},function(data){
			
	});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.dialog2 {
display:none;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td align="right" colspan="2">
				<a href="default.phtml">View products</a>
			</td>
		</tr>
		<tr>
			<td width=160>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:160px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search_iso.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			<td>
			<!------------------------------------------------------------------------------------------>
				<div id="reportdata">&nbsp;</div>
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<div id="skuresults_add" class="dialog2">
	<table width=99% id="sresults">
	<tr bgcolor="#eeeeee">
		<td height=21><div align="center">Add</div></td>
			<td><div align="center">PID</div></td>
			<td><div align="center">Man</div></td>
			<td><div align="center">ManPart</div></td>
			<td><div align="center">Descr</div></td>
			<td><div align="center">V</div></td>
			<td><div align="center">OnHand</div></td>
			<td><div align="center">OnHold</div></td>
			<td><div align="center">Committed</div></td>
			<td><div align="center">Available</div></td>
			<td><div align="center">OnPO</div></td>
			<td><div align="center">Qty</div></td>
		</tr>
		<tr>
			<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
		</tr>	
	</table>
	<BR><BR>
	<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
</div>
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
<div id="dialog1" class="dialog2" onclick="hideMenuShipment();">

</div>
<div id="pohistory" class="dialog">
</div>
</body>
</html>