<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
function xml2array($contents, $get_attributes=1) 
    { 
        if(!$contents) return array(); 

        if(!function_exists('xml_parser_create')) { 
            //print "'xml_parser_create()' function not found!"; 
            return array(); 
        } 
        //Get the XML parser of PHP - PHP must have this module for the parser to work 
        $parser = xml_parser_create(); 
        xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
        xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
        xml_parse_into_struct( $parser, $contents, $xml_values ); 
        xml_parser_free( $parser ); 

        if(!$xml_values) return;//Hmm... 

        //Initializations 
        $xml_array = array(); 
        $parents = array(); 
        $opened_tags = array(); 
        $arr = array(); 

        $current = &$xml_array; 

        //Go through the tags. 
        foreach($xml_values as $data) { 
            unset($attributes,$value);//Remove existing values, or there will be trouble 

            //This command will extract these variables into the foreach scope 
            // tag(string), type(string), level(int), attributes(array). 
            extract($data);//We could use the array by itself, but this cooler. 

            $result = ''; 
            if($get_attributes) {//The second argument of the function decides this. 
                $result = array(); 
                if(isset($value)) $result['value'] = $value; 

                //Set the attributes too. 
                if(isset($attributes)) { 
                    foreach($attributes as $attr => $val) { 
                        if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                        /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                    } 
                } 
            } elseif(isset($value)) { 
                $result = $value; 
            } 

            //See tag status and do the needed. 
            if($type == "open") {//The starting of the tag '<tag>' 
                $parent[$level-1] = &$current; 

                if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                    $current[$tag] = $result; 
                    $current = &$current[$tag]; 

                } else { //There was another element with the same tag name 
                    if(isset($current[$tag][0])) { 
                        array_push($current[$tag], $result); 
                    } else { 
                        $current[$tag] = array($current[$tag],$result); 
                    } 
                    $last = count($current[$tag]) - 1; 
                    $current = &$current[$tag][$last]; 
                } 

            } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
                //See if the key is already taken. 
                if(!isset($current[$tag])) { //New Key 
                    $current[$tag] = $result; 

                } else { //If taken, put all things inside a list(array) 
                    if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                            or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                        array_push($current[$tag],$result); // ...push the new element into that array. 
                    } else { //If it is not an array... 
                        $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                    } 
                } 

            } elseif($type == 'close') { //End of tag '</tag>' 
                $current = &$parent[$level-1]; 
            } 
        } 

        return($xml_array); 
    } 
function get_refund($xml,$url) {
//  $ch = curl_init();
//  $timeout = 5;
//  curl_setopt($ch, CURLOPT_URL, $url);
//  curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
//  curl_setopt($ch, CURLOPT_CONNECTTIMEOUT, $timeout);
//  $data = curl_exec($ch);
//  curl_close($ch);
  
  $curl_handle = curl_init (); 
  curl_setopt ($curl_handle, CURLOPT_URL, $url); 
  curl_setopt ($curl_handle, CURLOPT_FOLLOWLOCATION, 1); 
  curl_setopt ($curl_handle, CURLOPT_RETURNTRANSFER, 1); 
  curl_setopt ($curl_handle, CURLOPT_SSL_VERIFYPEER, 0); 
  curl_setopt ($curl_handle, CURLOPT_POST, 1); 
  curl_setopt ($curl_handle, CURLOPT_POSTFIELDS, '&method=RefundRequest&XMLInput=' . $xml); 
  $data = curl_exec ($curl_handle) or die ("There has been a CURL_EXEC error"); 
  curl_close ($curl_handle);
  return $data;
}

$q = "select trackno
                    from
                    labels_return_log
                    where
                    orderid='$orderid'";
if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($track) = mysql_fetch_array($qok);
$on = $orderid;

$xml = '<?xml version="1.0" encoding="utf-8"?> 
            <RefundRequest> 
                <AccountID>'.$efc->getConfigValue("Endicia Settings", "AccountID").'</AccountID> 
                <PassPhrase>'.$efc->getConfigValue("Endicia Settings", "PassPhrase").'</PassPhrase> 
                <Test>N</Test> 
                <RefundList> 
                    <PICNumber>'.$track.'</PICNumber> 
                    <PieceID></PieceID> 
                    <CustomsID></CustomsID> 
                </RefundList> 
            </RefundRequest>';

//$url = "https://LabelServer.Endicia.com/LabelService/EwsLabelService.asmx";
$url = "https://www.endicia.com/ELS/ELSServices.cfc?wsdl";
$data = get_refund($xml,$url);
$data_array = xml2array($data);

$msg = $data_array['RefundResponse']['RefundList']['PICNumber']['ErrorMsg']['value'];
$approved = $data_array['RefundResponse']['RefundList']['PICNumber']['IsApproved']['value'];

$query = "select notes from customer_order_notes_internal where orderid = '$on'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
        list($oldnotes) = mysql_fetch_array($qok);
}
else 
{
        $oldnotes = "";	
}

$query = "delete from customer_order_notes_internal where orderid = '$on'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$tstamp = date("Y-m-d H:i:s", time());
$xstamp = date("m/d/Y H:i:s", time());

$savenote = " REFUND REQUEST - $xstamp<BR>-------------------------------<BR>".$msg."<BR><BR>".$oldnotes;

$query = "insert into customer_order_notes_internal(orderid, notes, tstamp) values('$on', '".addslashes($savenote)."', '$tstamp')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


if (strtolower($approved) == 'no') {
	
}
else {
	$query = "UPDATE labels_return_log SET isrefund='1' WHERE orderid='".$orderid."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
echo $msg.'~'.$track.'~'.strtolower($approved);
?>