<?php
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
REQUIRE($ROOT_DIR."/classes/cartclass.phtml");
require_once($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;

$iclass = new ipinfoClass();
$iclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$icount = $_SESSION["ICOUNT"];
$ctotal = $_SESSION["CTOTAL"];

if($icount <= 0)
{
	Header("Location: " . $BASE_M_URL . "/checkout/empty_cart.phtml");
	exit;
}

$PAYPAL_API_USERNAME = $efc->getConfigValue("Paypal", "API_Username");
$PAYPAL_API_PASSWORD = $efc->getConfigValue("Paypal", "API_Password");
$PAYPAL_API_CERTIFICATE = $efc->getConfigValue("Paypal", "API_CERT");

if(stristr($_SERVER["HTTP_HOST"], ".efluent.") != FALSE)
{
	$PAYPAL_API_RETURNURL = "http://rawfoodworld.efluent.com/checkout/paypal/review.phtml";
	$PAYPAL_API_CANCELURL = "http://rawfoodworld.efluent.com/checkout/paypal/cancelled.phtml";
	$environment = 'beta-sandbox';	// or 'beta-sandbox' or 'live'
}
else 
{
	$PAYPAL_API_RETURNURL = "https://www.therawfoodworld.com/checkout/paypal/review.phtml";
	$PAYPAL_API_CANCELURL = "https://www.therawfoodworld.com/checkout/paypal/cancelled.phtml";
	$environment = 'live';
}

function PPHttpPost($methodName_, $nvpStr_) 
{
	global $environment;
	global $PAYPAL_API_USERNAME;
	global $PAYPAL_API_PASSWORD;
	global $PAYPAL_API_CERTIFICATE;
	
	// Set up your API credentials, PayPal end point, and API version.
	$API_UserName = $PAYPAL_API_USERNAME;
	$API_Password = $PAYPAL_API_PASSWORD;
	//$API_Signature = $PAYPAL_API_SIGNATURE;
	
	$API_Endpoint = "https://api.paypal.com/nvp";	
	
	if("sandbox" === $environment || "beta-sandbox" === $environment) 
	{
		$API_Endpoint = "https://api.$environment.paypal.com/nvp";
	}
	$version = urlencode('51.0');

	// Set the API operation, version, and API signature in the request.
	$nvpreq = "METHOD=$methodName_&VERSION=$version&PWD=$API_Password&USER=$API_UserName".$nvpStr_;

	$cmd = "/usr/bin/curl -v -E $PAYPAL_API_CERTIFICATE -d \"$nvpreq\" $API_Endpoint";
	
	//echo $cmd;
	//exit;
	
	exec( $cmd, $returnArray ); //run curl with the data 
		
	$httpResponse = "";
	for($xx = 0; $xx < count($returnArray); $xx++) 
		$httpResponse .= $returnArray[$xx];

	if($httpResponse == "") 
	{
		echo "CURL ERROR ($environment)<BR>\n";
		exit;
	}
	
	// DEBUG
	//echo "HTTPRESPONSE: $httpResponse<BR><BR>";
	
	// Extract the response details.
	$httpResponseAr = explode("&", $httpResponse);
	
	$httpParsedResponseAr = array();
	
	foreach ($httpResponseAr as $i => $value) 
	{
		$tmpAr = explode("=", $value);
		
		if(sizeof($tmpAr) > 1) 
		{
			$httpParsedResponseAr[$tmpAr[0]] = $tmpAr[1];
		}
	}
	
	if((0 == sizeof($httpParsedResponseAr)) || !array_key_exists('ACK', $httpParsedResponseAr)) 
	{
		exit("Invalid HTTP Response for POST request($nvpreq) to $API_Endpoint.");
	}

	// DEBUG
	/*echo "INFUNCTION:<pre>";
	print_r($httpParsedResponseAr);
	echo "</pre>";*/
	
	return $httpParsedResponseAr;
}

if($usingPP == "1")
{
    if($_SESSION["acctid"] == '' || !isset($_SESSION["acctid"])) {
        $_SESSION["acctid"] = $cclass->PaypalAccount();
    }
	
	$h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
    fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
    fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
    fwrite($h, "account : ".$_SESSION["acctid"]."\n");
    fclose($h);
    
    
	$subtotal = $cc->computeSubTotal();
	$subtotal_tmp = $cc->computeSubTotalWithoutNonTaxable();
	$tax = $cc->computeTax($subtotal_tmp);
	$shipping = $cc->computeShipping();
	//ijaz
	$discout = '';
		if ($_SESSION['warehousePickup']=='1')
		{
			$itemTotal = $subtotal;
			$discout = $itemTotal*10/100;
			$shipping = 0;
		}
	//ijaz
	$total = $subtotal + $tax + $shipping + $_SESSION["BONDVALUE"]-$discout;

	if (isset($_SESSION['use_credit_amount']) && $_SESSION['use_credit_amount'] > 0)
	{
		if ($_SESSION['use_credit_amount'] <= $total)
		{
			$total -= $_SESSION['use_credit_amount'];
		}
	}
	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$payerID = urlencode($PayerID);
	$token = urlencode($token);
	
	$paymentType = urlencode('Sale');			// or 'Sale' or 'Order'
	$paymentAmount = urlencode(number_format($total, 2, ".", ""));
	$currencyID = urlencode("USD");						// or other currency code ('GBP', 'EUR', 'JPY', 'CAD', 'AUD')
	
	// Add request-specific fields to the request string.
	$nvpStr = "&TOKEN=$token&PAYERID=$payerID&PAYMENTACTION=$paymentType&AMT=$paymentAmount&CURRENCYCODE=$currencyID";
	
	// Execute the API operation; see the PPHttpPost function above.
	$httpParsedResponseAr = PPHttpPost('DoExpressCheckoutPayment', $nvpStr);

	$transactionID  = $httpParsedResponseAr["TRANSACTIONID"];
	$paymentstatus  = $httpParsedResponseAr["PAYMENTSTATUS"]; // Pending / Completed
	
    $h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
    fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
    fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
    fwrite($h, "place_order.phtml: ".serialize($httpParsedResponseAr)."\n");
    fclose($h);
	if("SUCCESS" == strtoupper($httpParsedResponseAr["ACK"]) || "SUCCESSWITHWARNING" == strtoupper($httpParsedResponseAr["ACK"])) 
	{
	} 
	else  
	{
		exit('DoExpressCheckoutPayment failed: ' . print_r($httpParsedResponseAr, true));
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
}

//print_r($_SESSION);
//$cclass->emptyTmpCart();
$orderid = $cclass->PlaceOrder();

// start - affiliate commision
if (isset($_SESSION["acctid"]) && !empty($_SESSION["acctid"])) 
{ 
	$aff_lastorder_days = $efc->getConfigValue('eFluent Settings', 'CstAffLastOrderDays');
	if (!$aff_lastorder_days || empty($aff_lastorder_days)) { $aff_lastorder_days = 60; }
	$cclass->processAffOrder($BASE_URL,$_SESSION["acctid"],$orderid); 
}
// end - affiliate commision

unset($_SESSION["use_credit_amount"]);

$efc->recalculateInventory($orderid);
$efc->buildOutCost($orderid);

if($usingPP == "1" && $orderid != "")
{
    $h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
    fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
    fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
    fwrite($h, "Orderid: ".$orderid."\n");
    fclose($h);
    
	$avs = substr($_SESSION["ADDRESS_STATUS"], 0, 3) . ":" . substr($_SESSION["PAYERSTATUS"], 0, 3);
	$pp_tstamp = date("Y-m-d H:i:s", time());
	$query = "insert into verification_results_pp(orderid, pmtstatus, txid, tstamp, status) ";
	$query .= "values('$orderid', '$paymentstatus', '$transactionID', '$pp_tstamp', '$avs')";
	
	$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if( strtoupper($paymentstatus) == "COMPLETED" )
		$approved = 1;
	else 
		$approved = 0;
		
		
	$query = "select orderid from customer_orders where invoiceid = '$orderid'";
	if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($xx_orderid) = mysql_fetch_array($qok);
		
	$xx_total = $total;
	$xx_total = str_replace(",", "", $xx_total);
	$xx_total = str_replace("$", "", $xx_total);
	$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
				amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
	$query .= "values('$xx_orderid', '$pp_tstamp', '$avs', '$transactionID', '$paymentstatus', '$transactionID',
				'$xx_total', '', '$approved', '', 'PayPal.com', 'X', 'XXXX', 'CAPT')";	
	if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Log the traffic
REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("$orderid",-1);

include($ROOT_DIR."/m/include/header.phtml");
?>


<?php include($ROOT_DIR."/m/include/top.phtml"); ?>
<?php include($ROOT_DIR."/m/include/place_order.phtml"); ?>
<!-- Google Code for TRFW Sales Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 969658972;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "1JujCNztjwcQ3KSvzgM";
var google_conversion_value = '<?=number_format($ctotal+$_SESSION['SHIPRATE']+$_SESSION['TAX'],2)?>';
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/969658972/?value=1&amp;label=1JujCNztjwcQ3KSvzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/4e3b17f2-f58d-40c7-aa54-168ab26b47fa/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"1294378",type:"1",revenue:"<?=number_format($ctotal+$_SESSION['SHIPRATE']+$_SESSION['TAX'],2)?>",actionid:"183571"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/4e3b17f2-f58d-40c7-aa54-168ab26b47fa/analytics.html?dedup=1&domainId=1294378&type=1&revenue=<?=number_format($ctotal+$_SESSION['SHIPRATE']+$_SESSION['TAX'],2)?>&actionid=183571" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>

<!-- jrox affiliate script -->
<script language="JavaScript" type="text/javascript" src="http://jrox.therawfoodworld.com/sale.php?amount=<?php echo $ctotal; ?>&trans_id=<?php echo $orderid; ?>"></script>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6013778831346';
fb_param.value = '<?=number_format($ctotal+$_SESSION['SHIPRATE']+$_SESSION['TAX'],2)?>';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>

<?
$discount = 0;
$icount = $_SESSION["ICOUNT"];
for($xx = 0; $xx <$icount; $xx++)
{
    $id 		= $_SESSION["CART"]["ID"][$xx];
    $price 		= $_SESSION["CART"]["PRICE"][$xx];
    $qty 		= $_SESSION["CART"]["QTY"][$xx];
    $sku 		= $_SESSION["CART"]["SKU"][$xx];
    if ($id==-7)
    {
        $discount +=$price;
    }
    ?>
    <input type="hidden" name="_productId_productId" id="_productId_productId" value="<?=$sku?>" /> 
    <input type="hidden" name="_price_price" id="_price_price" value="<?=$price?>" /> 
    <input type="hidden" name="_quantity_quantity" id="_quantity_quantity" value="<?=$qty?>" /> 
    <?
}
?>
<input type="hidden" name="_ipq_ipq" id="_ipq_ipq" value="<?=$orderid?>:<?=$discount?>:<?=$_SESSION['email']?>:<?=$_SESSION['bill2country']?>:1" /> 
<script type="text/javascript">setTimeout ("xmlPost ()", 500) ;</script>


<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6013778831346&amp;value=<?=number_format($ctotal+$_SESSION['SHIPRATE']+$_SESSION['TAX'],2)?>&amp;currency=USD" /></noscript>
<img src="http://jrox.therawfoodworld.com/sale/amount/<?=number_format($ctotal+$_SESSION['SHIPRATE']+$_SESSION['TAX'],2)?>/trans_id/<?php echo $orderid; ?>" border="1" height="1" width="1" />

<?php
include($ROOT_DIR."/m/include/footer.phtml");
$cc->emptyCart();