<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
REQUIRE($ROOT_DIR."/classes/cartclass.phtml");
require_once($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/checkout/sdk-php-master/autoload.php");
$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$iclass = new ipinfoClass();
$iclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;
$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
//////////////////////////////////////////////////////////////////////////////////////////////////////////

session_start();

if(isset($_SESSION['form_submit']) && $_SESSION['form_submit']=='Success')
{
   $approved = 1;
	$x_invoice_num = $cclass->PlaceOrder('6000');
	//$cclass->addOnHold($x_invoice_num);
   //destory form submit
unset($_SESSION['form_submit']);
unset($_SESSION['orderid']);

	$_SESSION['ORDERID'] = $x_invoice_num;

	ob_start();
	$cmd = "nohup /usr/bin/php /var/www/vhosts/alumni.d3vsource.com/httpdocs/checkout/send_shipordermail.phtml $x_invoice_num >> /dev/null &";
	exec($cmd);
	$trash = ob_get_clean();
    $cclass->emptyTmpCart();
	$cc->emptyCart();
unset($_SESSION["use_credit_amount"]);	
} else {
	$approved = 0;
	$approvalcode = $return_msg = $_POST['x_response_reason_text'];
if(empty($approvalcode) || !isset($_SESSION['form_submit']) ){$approvalcode ="Something went wrong! Please try again";} 
	}
include($ROOT_DIR."/m/include/header.phtml");
include($ROOT_DIR."/m/include/top.phtml"); 
?>
<script src="/js/o.js" async="" type="text/javascript"></script>
<script src="/js/ga.js" async="" type="text/javascript"></script>
<?php include($ROOT_DIR."/m/include/thankyou4order.php"); ?>
<?php include($ROOT_DIR."/m/include/footer.phtml"); ?>
