<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;
if($_POST['warehousePickupRadio']!='')
{
$warehousePickupva = $_POST['warehousePickupRadio'];

$_SESSION['warehousePickup'] = $warehousePickupva;
//$_SESSION['ship2country'] 	= 'US';
}else
{
$shippingAddressID = $_POST['shippingAddress'];

if($shippingAddressID!='')
{
	if($shippingAddressID == $_SESSION["acctid"])
	{
			 $userInfo=$cclass->getUserInfo();
	 		 $_SESSION['ship2name'] 	= $userInfo['ship2name'];
             $_SESSION['ship2company'] 	= $userInfo['ship2company'];
             $_SESSION['ship2street1'] 	= $userInfo['ship2street1'];
             $_SESSION['ship2street2'] 	= $userInfo['ship2street2'];
             $_SESSION['ship2city'] 	= $userInfo['ship2city'];
             $_SESSION['ship2state'] 	= $userInfo['ship2state'];
             $_SESSION['ship2zip'] 		= $userInfo['ship2zip'];
             $_SESSION['ship2country'] 	= $userInfo['ship2country'];
	}else
	{
			$userSlictAddress=$cclass->getShippingAddressByID($shippingAddressID);
			 $_SESSION['shippingAddressID'] 	= $userSlictAddress[0]['id'];
	 		 $_SESSION['ship2name'] 	= $userSlictAddress[0]['ship2name'];
             $_SESSION['ship2company'] 	= $userSlictAddress[0]['ship2company'];
             $_SESSION['ship2street1'] 	= $userSlictAddress[0]['ship2street1'];
             $_SESSION['ship2street2'] 	= $userSlictAddress[0]['ship2street2'];
             $_SESSION['ship2city'] 	= $userSlictAddress[0]['ship2city'];
             $_SESSION['ship2state'] 	= $userSlictAddress[0]['ship2state'];
             $_SESSION['ship2zip'] 		= $userSlictAddress[0]['ship2zip'];
             $_SESSION['ship2country'] 	= $userSlictAddress[0]['ship2country'];
	}
}
}


REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;
$err_msg ='';

$icount = $_SESSION["ICOUNT"];
if($icount <= 0) {
	Header("Location: ".$BASE_URL."/checkout/empty_cart.phtml");
	exit;
}

if($_SESSION["acctid"] == "")
{
	Header("Location: /customer/default.phtml");
	exit;
}

if (isset($_POST['shipping']))
{
	if (isset($_SESSION['METHODS']) && count($_SESSION['METHODS']) > 0)
	{
		$shipping_id = (int) $_POST['shipping'];
		$_SESSION["METHOD"] = $shipping_id;
		for($xx = 0; $xx < count($_SESSION['METHODS']); $xx++)
		{
			if ($_SESSION['METHODS']['id'][$xx] == $shipping_id)
			{
				$_SESSION['SHIPRATE'] = number_format($_SESSION['METHODS']['rate'][$xx],2);
			}
		}
	}
    Header("Location: /checkout/checkout_payment.phtml");
	exit;
}
$action = $_POST['action'];
if($action == 'change_billing') 
{
	if ($cclass->sanitizeInput($_POST['zone_country_id']) == 'US')
	{
		$_POST['state'] = $_POST['usa_state'];	
	}
    
    $cclass->changeBilling();
}
if($action == 'payment_select') {
    if(!isset($payment) || $payment=='') {
        $err_msg = "Please select a payment method for your order.";
    }
    if(isset($payment) || $payment=='authorizenet_aim') {
//        $err_msg = "The credit card number starting with ".substr($authorizenet_aim_cc_number, 0,4)." was not entered correctly, or we do not accept that kind of card. Please try again or use another credit card.";
    }
}

include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/checkout.js" async="" type="text/javascript"></script>
<script src="/js/checkout_validate.js" async="" type="text/javascript"></script>

<?
$fbcode = "fbq('track', 'AddPaymentInfo');";
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/checkout_payment.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

