<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
ini_set('display_errors',1);
error_reporting(E_ERROR);
$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);


require_once($ROOT_DIR."/classes/cartclass.phtml");
$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;



require_once($ROOT_DIR."/mgt/classes/couponclass.phtml");
$cup = new couponClass();
$cup->db = $DB;
$cup->mysqlid = $mysqlid;
$cup->divid = 0;


REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/Cart.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/Item.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/MandatoryProperties.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/OptionalProperties.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/Price.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/Promotion.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/ShippingMethod.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/ShippingRate.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/TaxRule.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/TaxTable.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Model/Weight.php");
REQUIRE($ROOT_DIR."/checkout/AmazonPayments/Signature/SignatureCalculator.php");


//require_once($ROOT_DIR."/classes/bitcoin/Coinbase.php");
//$coinbase = new Coinbase('e9b1c304b1d3793509d393c95158dcf67b6695b1c1e9c3dd5194c82bc020e464');
//$response = $coinbase->getTransactions();
////echo "Balance is " . $balance . " BTC";
//echo "<pre>";
//print_r($response);
//echo "</pre>";

$icount = $_SESSION["ICOUNT"];
if($icount <= 0) {
	Header("Location: ".$BASE_URL."/checkout/empty_cart.phtml");
	exit();
}

$err_msg ='';
if($_SESSION["acctid"] == "")
{
	Header("Location: ".$BASE_URL."/customer/default.phtml");
	exit();
}
$dc_redeem_code = $cclass->sanitizeInput($dc_redeem_code);
if($dc_redeem_code != '') {
//	$cup->clearCoupons();

	if ($sc->countCouponUsed($_SESSION["acctid"],$dc_redeem_code) == 'limit_reached')
	{
		$error_coupon_used = 'This coupon (' . $dc_redeem_code . ') has reached its maximum use limit and cannot be used again.';
	}
	else 
	{
		$cup->applyCoupon($dc_redeem_code, $efc);
//		var_dump($cup);
//		exit;
	}
}
$cclass->saveOrderInfoRaw();

include($ROOT_DIR."/include/header.phtml");
?>

<script src="/js/ga.js" async="" type="text/javascript"></script>
<script src="/js/o.js" async="" type="text/javascript"></script>
<script src="/js/checkout.js?<?php echo time(); ?>" async="" type="text/javascript"></script>
<script src="/js/checkout_validate.js" async="" type="text/javascript"></script>

<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/checkout_confirm.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>


<?
include($ROOT_DIR."/include/footer.phtml");
?>
