<?php
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

require_once($ROOT_DIR."/classes/cartclass.phtml");
$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/shippingclass.phtml");
$shipc = new shippingClass();
$shipc->mysqlid = $mysqlid;
$shipc->db = $MYSQL_DATABASE;
$shipc->cc = $cc;
$shipc->efc = $efc;

$action = $_POST['action'];
if($action == 'add_shipping_address') 
{
	
	if ($cclass->sanitizeInput($_POST['zone_country_id']) == 'US')
	{
		$_POST['state'] = $_POST['usa_state'];	
	}
	
     $cclass->add_shipping();
			 
}

//ijaz code
$icount = $_SESSION["ICOUNT"];
$onlyCoupon = 0;
if ($icount > 0) {
    for($xx = 0; $xx <$icount; $xx++)
    {
        $id 		= $_SESSION["CART"]["ID"][$xx];
		if($id<=0)
		{
			$onlyCoupon = 1;
		}
    }
}
if($onlyCoupon==1 && $icount<2)
{
  	Header("Location: /cart.phtml");
	exit;
}
//End ijaz code

if(trim($_SESSION["ship2street1"]) == "")
{
	Header("Location: /checkout/checkout_shipping_address.phtml");
}

$icount = $_SESSION["ICOUNT"];
if($icount <= 0) {
	
	if (isset($_GET['error_shipping_country']))
	{
		Header("Location: ".$BASE_URL."/checkout/empty_cart.phtml?error_shipping_country");
	} else {
		Header("Location: ".$BASE_URL."/checkout/empty_cart.phtml");
	}
	exit;
}

if($_SESSION["acctid"] == "")
{
	$_SESSION['return_checkout'] = '/checkout/';
	Header("Location: ".$BASE_URL."/customer/default.phtml");
	exit();
} else {
	unset($_SESSION['return_checkout']);
}


if($action == 'change_shipping') 
{
	if ($cclass->sanitizeInput($_POST['zone_country_id']) == 'US')
	{
		$_POST['state'] = $_POST['usa_state'];	
	}
	
    $cclass->changeShipping();
}


$methods = $shipc->calcShipping();
include($ROOT_DIR."/include/header.phtml");
?>



<?
$fbcode = "fbq('track', 'InitiateCheckout');";
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/checkout_default.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>