<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");



$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

require_once($ROOT_DIR."/classes/cartclass.phtml");
$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;


include($ROOT_DIR."/include/header.phtml");
?>
<script src="/js/o.js" async="" type="text/javascript"></script>
<script src="/js/ga.js" async="" type="text/javascript"></script>

<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/empty_cart.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

