<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
REQUIRE($ROOT_DIR."/classes/cartclass.phtml");
require_once($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/checkout/sdk-php-master/autoload.php");
$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$iclass = new ipinfoClass();
$iclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;
$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
//////////////////////////////////////////////////////////////////////////////////////////////////////////

session_start();

if(isset($_SESSION['form_submit']) && $_SESSION['form_submit']=='Success' && $_POST['x_response_code'] == "1")
{
     //$_POST['x_response_code'];   
	$x_invoice_num = $cclass->PlaceOrder();
   //destory form submit
unset($_SESSION['form_submit']);
    $save_txtype = "SALE";

$query = "SELECT acctid, 
                 orderid, 
				 invoiceid 
		  FROM customer_orders 
		  WHERE invoiceid = '$x_invoice_num'";
$q4ok = mysql_db_query($DB, $query, $mysqlid) or die(mysql_error());
list($acctid, $orderid, $invoiceid) = mysql_fetch_array($q4ok); 
    if(isset($_SESSION["acctid"]) && !empty($_SESSION["acctid"])) 
	{ 
		$aff_lastorder_days = $efc->getConfigValue('eFluent Settings', 'CstAffLastOrderDays');
		if (!$aff_lastorder_days || empty($aff_lastorder_days)) 
		{ 
			$aff_lastorder_days = 60; 
		}
		$cclass->processAffOrder($BASE_URL,$_SESSION["acctid"],$orderid); 
	}
	// end - affiliate commision
	$_SESSION['ORDERID'] = $x_invoice_num;
	
	ob_start();
	if ($_SESSION['warehousePickup']=='1')
		{
	$cmd = "nohup /usr/bin/php /home/httpd/rawfoodworld.com/checkout/sendmailwarehouse_cmdline.phtml $x_invoice_num >> /dev/null &";
		}else
		{
	$cmd = "nohup /usr/bin/php /home/httpd/rawfoodworld.com/checkout/sendmail_cmdline.phtml $x_invoice_num >> /dev/null &";	
		}
	exec($cmd);
	$trash = ob_get_clean();
	$approved = 1;
	$approvalcode = "APPROVED";						
	$txid = $_POST['x_trans_id'];
	$avscode = $_POST['x_avs_code'];
	$cvvcode = $_POST['x_cavv_response'];
	$return_msg = $_POST['x_response_reason_text'];	
	
	if ($_SESSION['warehousePickup']=='1')
		{
			unset($_SESSION['warehousePickup']);
			$query = "UPDATE customer_orders 
	             SET status = '102' 
			   WHERE invoiceid = '$x_invoice_num'";
			
		}else 
		{
	$query = "UPDATE customer_orders 
	             SET status = '4' 
			   WHERE invoiceid = '$x_invoice_num'";
		}
	$q4ok = mysql_db_query($DB, $query, $mysqlid) or die(mysql_error());
	
	$tstamp = date("Y-m-d H:i:s", time());
					
	$firstdigit = $_POST['x_account_number'];
	$lastfour = substr($_POST['x_account_number'], strlen($cardnum) - 4);	
	$x_amount =	$_POST['x_amount'];
     $ref = $_POST['x_invoice_num'];

	$cclass->Remove_TmpOrder($ref);
	
	$ref = $x_invoice_num;
	unset($_SESSION['orderid']);
	$query = "INSERT into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
				amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype, bid) 
			   values('$orderid', '$tstamp', '$avscode', '$txid', '$return_msg', '$ref',
				'$x_amount', '', '$approved', '$cvvcode', 'Authorize.Net', '$firstdigit', '$lastfour', '$save_txtype', '')";
	$q4ok = mysql_db_query($DB, $query, $mysqlid) or die(mysql_error());
    $cclass->emptyTmpCart();
	$cc->emptyCart();
unset($_SESSION["use_credit_amount"]);	
} else {
	$approved = 0;
$ref = $_POST['x_invoice_num'];
	$approvalcode = $return_msg = $_POST['x_response_reason_text'];
if(empty($approvalcode) || !isset($_SESSION['form_submit']) ){$approvalcode ="Something went wrong! Please try again";} 
	//$query = "update customer_orders set status = '20' where orderid = '$orderid'";
	//$q4ok = mysql_db_query($DB, $query, $mysqlid) or die(mysql_error());
}
include($ROOT_DIR."/include/header_checkout.phtml");
/*
foreach($_POST as $key => $value) 
{
  echo "'$key' => '$value'\n";
}
echo "ACCTID: $acctid\n";
echo "ORDERID: $orderid\n";
echo "INVOICEID: $invoiceid\n";
*/
?>
<script src="/js/o.js" async="" type="text/javascript"></script>
<script src="/js/ga.js" async="" type="text/javascript"></script>
<?php include($ROOT_DIR."/include/top_checkout.phtml"); ?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;"></td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
			<?php include($ROOT_DIR."/include/thankyou.phtml"); ?>
            </td>
            <td id="column_right" style="width:250px;">
                <?php include($ROOT_DIR."/include/right_col.phtml"); ?>
            </td>
        </tr>
    </table>
</div>
<?php include($ROOT_DIR."/include/footer.phtml"); ?>