<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_image_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');     
/************************************************************************ 
* OPTIONAL ON SOME INSTALLATIONS  
* 
* Autoload function is reponsible for loading classes of the library on demand
* 
* NOTE: Only one __autoload function is allowed by PHP per each PHP installation,
* and this function may need to be replaced with individual require_once statements
* in case where other framework that define an __autoload already loaded.
* 
* However, since this library follow common naming convention for PHP classes it
* may be possible to simply re-use an autoload mechanism defined by other frameworks
* (provided library is installed in the PHP include path), and so classes may just 
* be loaded even when this function is removed
***********************************************************************/   
function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select id from amazonzd_feed_report where type = 'IMAGE' and complete = '0'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) > 0)
{
	$query = "select tstamp from amazonzd_feed_report where type = 'IMAGE' order by tstamp desc limit 0, 1";
	if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($tstamp) = mysql_fetch_array($q3ok);
	$feedage = (time() - strtotime($tstamp)) / 60;
	
	echo "FEEDAGE: $feedage\n";
	
	if($feedage > 120)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		$query = "update amazonzd_feed_report set complete = 1 where id = '$feedreportid'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "Reset feed $feedreportid\n";
	}
	else 
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazonzd_log(title, tstamp) values('Image Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanZipDeals", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>ProductImage</MessageType>

";


$usequantity = -1;
$qty_control = 100;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed
$baseURL = $efc->getConfigValue("AmazonCanZipDeals", "baseURL");

//
$query = "select distinct(amazonzd_base_messages.pid), amazonzd_base_messages.mid, product_list.lastupdate 
			from amazonzd_base_messages, product_list
			where 
			amazonzd_base_messages.pid = product_list.id AND
			amazonzd_base_messages.pid_lastupdate != product_list.lastupdate AND
			amazonzd_base_messages.mid NOT IN (select mid from amazonzd_errors) group by amazonzd_base_messages.pid";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

if(mysql_num_rows($q2ok) <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from amazonzd_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	exit;
}

$onnum = 1;
$image_override_cf = $efc->getConfigValue('Amazon','image_override');
while(list($pid, $messageid, $lastupdate) = mysql_fetch_array($q2ok))
{
	if($DB == "ecom")
	{
		$qx1 = "SELECT pid FROM list_products WHERE lid='168' AND pid='".$pid."'";
		if(!$qokx1 = mysql_db_query($DB, $qx1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qokx1)==0) 
		{
			$qx = "SELECT text_short FROM custom_values WHERE cfid='".$image_override_cf."' AND pid='".$pid."'";
			if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($img_override) = mysql_fetch_array($qokx);
			if($img_override != '1') 
			{
			
				echo "PID: $pid\n";
				
				$data .= "<Message> 
							<MessageID>$onnum</MessageID> 
							<OperationType>Update</OperationType> 
							<ProductImage> 
								<SKU>$pid</SKU> 
								<ImageType>Main</ImageType> 
								<ImageLocation>$baseURL/amzimg/0/$pid/amazon.jpg</ImageLocation> 
							</ProductImage> ";
				$data .= "</Message>";
				
				$onimage = 0;
				
				$query = "select distinct(itype) from product_images where itype > 0 and id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($itype) = mysql_fetch_array($qok))
				{
					$onnum++;
					$onimage++;
					
					$data .= "<Message> 
							<MessageID>$onnum</MessageID> 
							<OperationType>Update</OperationType>		
							<ProductImage> 
								<SKU>$pid</SKU> 
								<ImageType>PT$onimage</ImageType> 
								<ImageLocation>$baseURL/amzimg/$itype/$pid/amazon.jpg</ImageLocation> 
							</ProductImage> 
							</Message>";
				}
				$onnum++;
			}
		}		
	}
	else
	{
		echo "PID: $pid\n";
		
		$data .= "<Message> 
							<MessageID>$onnum</MessageID> 
							<OperationType>Update</OperationType> 
							<ProductImage> 
								<SKU>$pid</SKU> 
								<ImageType>Main</ImageType> 
								<ImageLocation>$baseURL/amzimg/0/$pid/amazon.jpg</ImageLocation> 
							</ProductImage> ";
		$data .= "</Message>";
				
		$onimage = 0;
				
		$query = "select distinct(itype) from product_images where itype > 0 and id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($itype) = mysql_fetch_array($qok))
		{
			$onnum++;
			$onimage++;
			
			$data .= "<Message> 
					<MessageID>$onnum</MessageID> 
					<OperationType>Update</OperationType>		
					<ProductImage> 
						<SKU>$pid</SKU> 
						<ImageType>PT$onimage</ImageType> 
						<ImageLocation>$baseURL/amzimg/$itype/$pid/amazon.jpg</ImageLocation> 
					</ProductImage> 
					</Message>";
		}
		
		$onnum++;		
		
	}

}

$data .= "</AmazonEnvelope>\n";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$filename = "/tmp/amazonzd/image.".date("Ymd-His", time()).".xml";
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) 
{
	$query = "insert into amazonzd_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else 
{
	$query = "insert into amazonzd_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

echo "AWS_ACCESS_KEY_ID: ".AWS_ACCESS_KEY_ID."\n";
echo "AWS_SECRET_ACCESS_KEY: ".AWS_SECRET_ACCESS_KEY."\n";
echo "MARKETPLACE_ID: ".MARKETPLACE_ID."\n";
echo "MERCHANT_ID: ".MERCHANT_ID."\n";

$service = new MarketplaceWebService_Client(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, $config, APPLICATION_NAME, APPLICATION_VERSION);

$feedHandle = fopen($filename, "r");

if(!$feedHandle)
{
	echo "Error opening file\n";
	exit;
}

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_IMAGE_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);


try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazonzd_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazonzd_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazonzd_reportid\n";
	echo "REQUESTID: $amazonzd_requestid\n";
	
	if($amazonzd_reportid != "" || $amazonzd_requestid != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazonzd_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('IMAGE', '$tstamp', '$amazonzd_reportid', '$amazonzd_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update amazonzd_log set requestid = '$amazonzd_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}

fclose($feedHandle);

//unlink($filename);
?>
<?mysql_close();?>