<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: create_base_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$messageid_list = array();



/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function canWeListPID($mysqlid, $DB, $pid)
{
	if($DB == "butterfly")
	{
		echo "Can List\n";
		return true;
	}
		
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// get the warehouseID of the FBA warehouse
/*	$query = "select config_value from configuration where config_group = 'eFluent Settings' and config_key = 'FBA'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_warehouse) = mysql_fetch_array($qok);
	
	// see if its in the FBA warehouse
	$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fba_warehouse'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_inventory) = mysql_fetch_array($qok);

	$query = "select sku from fba_skus where sku = '$pid' and lastupdate = '9'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		// if it ain't in stock in the FBA warehouse....... then we can list it on amazon
		if(intval($fba_inventory) <= 0) return true;
	}*/
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
	// its in the fba_skus list
	$query = "select sku from fba_skus where sku = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		echo "Cannot List Type #1\n";
		return false;
	}
		
	// its been translated
	$query = "select pid from fba_sku_map where fba_sku = '$pid'";	
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		echo "Cannot List Type #2\n";
		return false;
	}
	
	echo "Can List\n";
	
	return true;
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);



$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/********************************************************************************************/
$mid = 1;
//$pid = 3350888;
$pid = $_GET['pid'];
$campaignid = 3;
if(canWeListPID($mysqlid, $DB, $pid))
	$skudata = $amClass->AddProduct($pid, $campaignid);	
else 	
	$skudata = "errror";	

print_r($skudata);
exit();
$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Product</MessageType>
";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$numout = 0;

if($DB == "supplysale")
	$maxout = 5000;
else
	$maxout = 1000;


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ADD NEW ITEMS

$query = "select amazonzd_campaigns.id, amazonzd_campaigns.campaign_name, amazonzd_campaign_lists.listid, lists.list_title from amazonzd_campaigns, amazonzd_campaign_lists, lists where 
				amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = lists.lid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while( (list($campaignid, $amazonzd_campaign_name, $amazonzd_listid, $list_title) = mysql_fetch_array($q9ok)) && ($numout < $maxout) )
{

		
	$amazonzd_campaign_name = stripslashes($amazonzd_campaign_name);
	echo "Campaign $amazonzd_campaign_name [LIST => $list_title]\n";

	// first list new items
	$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin
				from product_list, product_manufacturers, list_products
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazonzd_listid' AND 
				product_list.id NOT IN (select pid from amazonzd_base_messages) AND
				product_list.id NOT IN (select pid from amazonzd_errors)";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while( (list($pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok))  && ($numout < $maxout) )
	{
		$query = "select mid from amazonzd_base_messages where pid = '$pid'"; // the query above supposedly filters them.... but they could have been added since
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			echo "Adding: $pid [$numout of $maxout]\n";
			if(intval($DEBUG) != 1)
			{
				
					if(canWeListPID($mysqlid, $DB, $pid))
						$skudata = $amClass->AddProduct($pid, $campaignid);	
					else 	
						$skudata = "";
		
					if($skudata != "")
					{
						$numout++;
						
						if($amClass->asin == "" && $asin != "")
						{
							$saveasin = $asin;
						}
						else 
						{
							$saveasin = $amClass->asin;
						}
						
						
						$data .= $skudata;
					}
		
			}
			else 
			{// DEBUG SHIT
				if(canWeListPID($mysqlid, $DB, $pid))
					$skudata = $amClass->AddProduct($pid, $campaignid);	
				else 
					$skudata = "";
					
				$data .= $skudata;
			}
		}
	}	
}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*$query = "select distinct(product_list.id), product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
		product_list.use_asin, product_list.asin
		from product_list, product_manufacturers, list_products
		where 
		product_list.manid = product_manufacturers.manid AND
		product_list.id = list_products.pid AND
		product_list.id IN (select id from yancey_broke)
		group by product_list.id";


	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok)) 
	{
		echo "Adding: $pid [$numout of $maxout]\n";
		if(intval($DEBUG) != 1)
		{
			if( (strlen($upccode) < 12) && ($use_asin != 1) )
			{
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "select id from amazonzd_errors where pid = '$pid' and message = 'SKU Excluded - NO UPC NO ASIN'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) <= 0)
				{
					$query = "insert into amazonzd_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', 'SKU Excluded - NO UPC NO UPC NO ASIN', '$campaignid')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
			}
			else 
			{
				$skudata = $amClass->AddProduct($pid, $campaignid);	
	
				if($skudata != "")
				{
					$numout++;
					
					if($amClass->asin == "" && $asin != "")
					{
						$saveasin = $asin;
					}
					else 
					{
						$saveasin = $amClass->asin;
					}
					
					$query = "delete from amazonzd_base_messages where pid = '$pid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					$tstamp = date("Y-m-d H:i:s", time());
					$query = "insert into amazonzd_base_messages(pid, tstamp, brid, campid, asin) values('$pid', '$tstamp', '$brid', '$campaignid', '$saveasin')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$mid = mysql_insert_id();
					
					$skudata = str_replace("#mid#", "$mid", $skudata);
					
					$query = "insert into amazonzd_log_extended_skus(lid, pid, mid) values('$logid', '$pid', '$mid')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					$data .= $skudata;
				}
	
			}
		}
	}
*/
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
echo "=============================================================================================\n";
echo "Doing Updates\n";
echo "=============================================================================================\n";

$query = "select amazonzd_campaigns.id, amazonzd_campaigns.campaign_name, amazonzd_campaign_lists.listid, lists.list_title from amazonzd_campaigns, amazonzd_campaign_lists, lists where 
				amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = lists.lid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($campaignid, $amazonzd_campaign_name, $amazonzd_listid, $list_title) = mysql_fetch_array($q9ok))
{
	
	$amazonzd_campaign_name = stripslashes($amazonzd_campaign_name);
	echo "Campaign $amazonzd_campaign_name [LIST => $list_title]\n";

	
	$query = "select amazonzd_base_messages.mid, product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin 
				from product_list, product_manufacturers, list_products, amazonzd_base_messages
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				product_list.id = amazonzd_base_messages.pid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazonzd_listid' AND 
				amazonzd_base_messages.asin != '' AND
				product_list.lastupdate != amazonzd_base_messages.pid_lastupdate AND
				product_list.id NOT IN (select pid from amazonzd_errors)";
	
	//				(product_list.dropship = 0 || product_list.am_update_override = 1) AND

	
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($messageid, $pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok))
	{
		echo "--------------------------------------------------\n";
		
		if(canWeListPID($mysqlid, $DB, $pid))
			$skudata = $amClass->AddProduct($pid, $campaignid, $asin);	
		else 
			$skudata = "";

		if($skudata != "")
		{
			if(!stristr($data, "<MessageID>$messageid</MessageID>")) // if it's already in the output, don't add it again
			{
				$numout++;
				$skudata = str_replace("#mid#", "$messageid", $skudata);
				$data .= $skudata;
	
				
			}
		}
	}
}
print_r($data);

exit();

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PRODUCTS TO REMOVE
$query = "select distinct(amazonzd_base_messages.mid), amazonzd_base_messages.campid, amazonzd_base_messages.pid, 
			amazonzd_base_messages.listid, amazonzd_base_messages.asin
			from 
			amazonzd_base_messages
			where 
			amazonzd_base_messages.asin != ''
			group by amazonzd_base_messages.mid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($mid, $campid, $pid, $listid, $asin) = mysql_fetch_array($q9ok)) // don't limit the end listings....  
{
	$addon = "";
	
	$query = "select listid from amazonzd_campaign_lists where campid = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xlistid) = mysql_fetch_array($q2ok))
	{
		if($addon == "") $addon .= " AND (lid = '$xlistid' ";
		else $addon .= " OR lid = '$xlistid' ";
	}
	
	if($addon != "")
		$addon .= ")";
	
	// it ain't on a list no more
	//$query = "select pid from list_products where pid = '$pid' $addon";
	$query = "select amazonzd_campaigns.id 
				from
				amazonzd_campaigns, amazonzd_campaign_lists, list_products
				where
				amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND
				amazonzd_campaign_lists.listid = list_products.lid AND
				list_products.pid = '$pid'"; // if it ain't on an amazon campaign list, then nuke it
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		$fba = $efc->getConfigValue("eFluent Settings", "FBA");
		$fbau = $efc->getConfigValue("eFluent Settings", "FBAU");

		// see if the fba inventory update is running
		$query = "select count(*) from fba_skus where lastupdate = 9";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fba_running) = mysql_fetch_array($q4ok);
		
		$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fba'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fba_inventory) = mysql_fetch_array($qok);
		
		$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fbau'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fbau_inventory) = mysql_fetch_array($qok);

		if(($fba_running <= 0) && (($fba_inventory + $fbau_inventory) <= 0))
		{
			echo "\nRemoving: PID: $pid [ASIN: $asin]<BR>";
					
			$skudata = $amClass->RemoveProduct($pid, $asin);	
			
			if(intval($DEBUG) != 1)
			{
				if($skudata != "")
				{
					if(!stristr($data, "<MessageID>$mid</MessageID>")) // if it's already in the output, don't add it again<b></b>
					{
						$numout++;
						$skudata = str_replace("#mid#", "$mid", $skudata); 
						$data .= $skudata;
					}
				}
			}
			else 
			{
				$skudata = str_replace("#mid#", "$mid", $skudata);
				$data .= $skudata;	

				$query = "insert into amazonzd_log_extended_skus(lid, pid, mid) values('$logid', '$pid', '$mid')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
			}
			// remove it either way..... no asin would cause $skudata to be blank...... maybe it ain't listed
			if(intval($DEBUG) != 1)
			{
				$query = "delete from amazonzd_base_messages where pid = '$pid' and asin = '$asin'";
				if(!$q12ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
		else 
		{
			echo "Skipping: $pid (FBA_RUNNING: $fba_running) (FBA: $fba_inventory + FBAU: $fbau_inventory)<BR>";
			//echo ".";
		}
	}
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

if(intval($DEBUG) != 1)
{
	if($numout <= 0)
	{
		$query = "delete from amazonzd_base_requests where brid = '$brid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "delete from amazonzd_log where id = '$logid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "No Proudcts\n";
		exit;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$data .= "</AmazonEnvelope>\n";

$filename = "/tmp/amazonzd/basefeed.".date("Ymd-His", time());
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

if(intval($DEBUG) == 1)
{
	echo "CHECK FILE => $filename\n";
	exit;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// check the validity of the xml file we just created
$cmd = "/usr/bin/iconv -t utf-8 $filename > $filename.utf8";
exec($cmd);
$cmd = "/usr/bin/xmllint --recover $filename.utf8 > $filename.xml"; // XMLLINT will fix any broken xml formatting (THANK GAWD)
exec($cmd);

unlink($filename.".utf8"); // remove the old file
unlink($filename); // remove the old file
$filename = $filename . ".xml"; // append the XML

if(filesize($filename) <= 10)
{
	echo "XML VALIDATION FAILED";
	
	$query = "delete from amazonzd_base_requests where brid = '$brid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	$query = "delete from amazonzd_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	exit;
	
}
else 
{
	echo "XML VALIDATION SUCCESSFUL\n";
}

if($numout <= 0)
{
	echo "Empty Feed\n";
	
	$query = "delete from amazonzd_feed_report where id = '$feedreportid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	exit;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////

/*$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) // if its < 5mb
{
	$query = "insert into amazonzd_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	copy($filename, $ROOT_DIR."/mgt/amazonzd/logs/basefeed_$brid.xml");
}
else 
{*/
	$query = "insert into amazonzd_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ }
//}

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanZipDeals", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "MARKETPLACE_ID"));
/********************************************************************************************/


$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

$service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
 
$feedHandle = fopen($filename, "r");

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazonzd_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazonzd_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazonzd_reportid\n";
	echo "REQUESTID: $amazonzd_requestid\n";
	
	if($amazonzd_reportid != "" || $amazonzd_requestid != "")
	{
		$query = "update amazonzd_base_requests set amazonzd_submissionid = '$amazonzd_reportid', amazonzd_requestid = '$amazonzd_requestid' where brid = '$brid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazonzd_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('BASE', '$tstamp', '$amazonzd_reportid', '$amazonzd_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update amazonzd_log set requestid = '$amazonzd_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     
fclose($feedHandle);

//echo "GO CHECK => $filename\n";
//unlink($filename);
?>
<?mysql_close();?>