<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_price_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');      

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanZipDeals", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>OrderFulfillment</MessageType>";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$mid = 0;

$FULFILLMENT_TYPE = strtoupper($efc->getConfigValue("AmazonCanZipDeals", "FULFILLMENT_TYPE"));

$query = "select invoiceid, orderid from customer_orders where invoiceid = '105-9244991-9073813'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$numout = 0;

while(list($invoiceid, $orderid) = mysql_fetch_array($qok))
{
	$outputbuysafe = 0;
	
	$query = "select trackno, carrier, shipdate, type from customer_order_tracking where invoiceid = '$invoiceid'";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while( list($trackno, $carrier, $shipdate, $type) = mysql_fetch_array($q4ok) )
	{
		$kitarray = array();
		
		$carrier = strtoupper($carrier);
		if($carrier == "FEDEX")	$carrier = "FedEx";
		else if($carrier == "MAIL INNOVATIONS") $carrier = "UPS Mail Innovations";
		
		// for each tracking number..... get the items that shipped
		$query = "select prodid from customer_order_tracking_extended where trackno = '$trackno' and orderid = '$orderid'";
		if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($prodid) = mysql_fetch_array($q9ok))
		{
			$query = "select ampid, qty_shipped, kitpid from customer_order_lines where orderid = '$orderid' and prodid = '$prodid'";
			if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($ampid, $qty_shipped, $kitpid) = mysql_fetch_array($q10ok);
		
			$amzshipdate = date("c", $shipdate);
			
			if($ampid == "")
			{
				echo "$query\n\n";
			}
			else 
			{
				if(intval($kitpid) > 0)
				{
					if(!in_array($kitpid, $kitarray))
					{
						$mid++;
						
						/*$query = "select qty from product_kitskus where pid = '$kitpid' and kid = '$prodid'";
						if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($kitqty) = mysql_fetch_array($q10ok);*/
						
						$query = "select sum(qty_ordered) from customer_order_lines where orderid = '$orderid' AND kitpid = '$kitpid'";
						if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($qty_ordered) = mysql_fetch_array($q10ok);
						
						$query = "select sum(qty) from product_kitskus where pid = '$kitpid'";
						if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($kitqty) = mysql_fetch_array($q10ok);
						
						$qty_shipped = floor($qty_ordered / $kitqty);
						
						if(intval($qty_shipped) <= 0)
							$qty_shipped = 1;
						
						//fputs($fp, "$orderid\t$invoiceid\t\t\t$kitpid\t$ampid\t\t$qty_shipped\t\t\t".date("Y-m-d", $shipdate)."\t$carrier\t$type\t$trackno\t\n");
						echo "$invoiceid => $trackno [KITPID: $kitpid QTY_SHIPPED: $qty_shipped / KITQTY: $kitqty AMPID: $ampid]\n";
						
						echo "****** ADDING DATA 1 ********\n";
						$data .= "<Message>
								<MessageID>$mid</MessageID>
								<OrderFulfillment> 
									<AmazonOrderID>$invoiceid</AmazonOrderID> 
									<FulfillmentDate>$amzshipdate</FulfillmentDate> 
									<FulfillmentData> 
										<CarrierName>$carrier</CarrierName> 
										<ShippingMethod>$type</ShippingMethod> 
										<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
									</FulfillmentData> 
									<Item> 
										<AmazonOrderItemCode>$ampid</AmazonOrderItemCode> 
										<Quantity>$qty_shipped</Quantity> 
									</Item> 
								</OrderFulfillment> 
							</Message>";
						
						$kitarray[] = $kitpid;
						
						$numout++;
						
						if($outputbuysafe == 0)
						{
							$outputbuysafe = 1;
							
							$query = "select count(*) from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
							if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($hasbuysafe) = mysql_fetch_array($q77ok);
							
							if(intval($hasbuysafe) > 0)
							{
								$mid++;
								$numout++;
								
								$query = "select ampid from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
								if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($ampid_buysafe) = mysql_fetch_array($q77ok);
								
								echo "****** ADDING DATA 2 ********\n";
								$data .= "<Message>
									<MessageID>$mid</MessageID>
									<OrderFulfillment> 
										<AmazonOrderID>$invoiceid</AmazonOrderID> 
										<FulfillmentDate>$amzshipdate</FulfillmentDate> 
										<FulfillmentData> 
											<CarrierName>$carrier</CarrierName> 
											<ShippingMethod>$type</ShippingMethod> 
											<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
										</FulfillmentData> 
										<Item> 
											<AmazonOrderItemCode>$ampid_buysafe</AmazonOrderItemCode> 
											<Quantity>1</Quantity> 
										</Item> 
									</OrderFulfillment> 
								</Message>";
								
							}
						}						
						
					}
					else 
					{
						
					}
				}
				else  // non kit item
				{
					$mid++;
				
					
					if(intval($qty_shipped) <= 0)
							$qty_shipped = 1;

					echo "$invoiceid => $trackno [$ampid] $qty_shipped\n";
					
					echo "****** ADDING DATA 3 ********\n";
					$data .= "<Message>
								<MessageID>$mid</MessageID>
								<OrderFulfillment> 
									<AmazonOrderID>$invoiceid</AmazonOrderID> 
									<FulfillmentDate>$amzshipdate</FulfillmentDate> 
									<FulfillmentData> 
										<CarrierName>$carrier</CarrierName> 
										<ShippingMethod>$type</ShippingMethod> 
										<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
									</FulfillmentData> 
									<Item> 
										<AmazonOrderItemCode>$ampid</AmazonOrderItemCode> 
										<Quantity>$qty_shipped</Quantity> 
									</Item> 
								</OrderFulfillment> 
							</Message>";
					
					$numout++;
					
						if($outputbuysafe == 0)
						{
							$outputbuysafe = 1;
							
							$query = "select count(*) from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
							if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($hasbuysafe) = mysql_fetch_array($q77ok);
							
							if(intval($hasbuysafe) > 0)
							{
								$mid++;
								$numout++;
								
								$query = "select ampid from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
								if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($ampid_buysafe) = mysql_fetch_array($q77ok);
								
								echo "****** ADDING DATA 4 ********\n";
								$data .= "<Message>
									<MessageID>$mid</MessageID>
									<OrderFulfillment> 
										<AmazonOrderID>$invoiceid</AmazonOrderID> 
										<FulfillmentDate>$amzshipdate</FulfillmentDate> 
										<FulfillmentData> 
											<CarrierName>$carrier</CarrierName> 
											<ShippingMethod>$type</ShippingMethod> 
											<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
										</FulfillmentData> 
										<Item> 
											<AmazonOrderItemCode>$ampid_buysafe</AmazonOrderItemCode> 
											<Quantity>1</Quantity> 
										</Item> 
									</OrderFulfillment> 
								</Message>";
								
							}
						}					
				}
			}
		}
		
	}
}

$data .= "</AmazonEnvelope>\n";

echo $data;

?>
<?mysql_close();?>