<?
ini_set('memory_limit', '-1');

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: get_order_report.phtml ROOT_DIR\n\n";
//	exit;
    $ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
/********************************************************************************************/
$filename = "/tmp/amazonzd/amazonzd_order_by_date.8392404323.txt";
if(filesize($filename) > 0)
{
        $fp = fopen($filename, "r");
        if(!$fp){echo "NO FILE!<BR>";exit;}
        $data = "";
        while(!feof($fp))$data .= fgets($fp, 4096);
        fclose($fp);

        $xmldata = xml2array($data, 1);
        $message = $xmldata['AmazonEnvelope']['Message']['Order'];
        if($message['AmazonOrderID']['value'] == "")
        {
                $message = $xmldata['AmazonEnvelope']['Message'][0]['Order'];
                if($message['AmazonOrderID']['value'] == "")
                {
                        echo "OH SHIT!<BR>";
                        exit;
                }
                else 
                {
                        echo "IS ARRAY<BR>";
                        for($xx = 0; $xx < count($xmldata['AmazonEnvelope']['Message']); $xx++)
                        {
                            $message = $xmldata['AmazonEnvelope']['Message'][$xx]['Order'];

                            $AmazonOrderID = $message['AmazonOrderID']['value'];
                            $AmazonPurchaseDate = $message['PurchaseDate']['value'];
                            $AmazonOrderStatus = $message['OrderStatus']['value'];
                            $AmazonSalesChannel = $message['SalesChannel']['value'];
                            $items = $message['OrderItem'];
                            if(isset($message['OrderItem'][0])) {
                                for($yy=0;$yy<count($items);$yy++) {
                                    $i = $items[$yy];
                                    
                                    $efluent_pid = getEfluentPID($i['SKU']['value'],$DB,$mysqlid);
                                    
                                    
                                   
	                                    $q = "INSERT INTO amazonzd_order_reports_by_date_items(
	                                                                amazonzd_order_id,
	                                                                amazonzd_order_purchase_date,
	                                                                amazonzd_order_purchase_date_string,
	                                                                amazonzd_order_status,
	                                                                amazonzd_sales_chanel,
	                                                                amazonzd_item_asin,
	                                                                amazonzd_item_sku,
	                                                                pid,
	                                                                amazonzd_item_status,
	                                                                amazonzd_item_qty,
	                                                                type
	                                                            ) VALUES(
	                                                                '".$AmazonOrderID."',
	                                                                '".strtotime($AmazonPurchaseDate)."',
	                                                                '".$AmazonPurchaseDate."',
	                                                                '".$AmazonOrderStatus."',
	                                                                '".$AmazonSalesChannel."',
	                                                                '".$i['ASIN']['value']."',
	                                                                '".$i['SKU']['value']."',
	                                                                '".$efluent_pid."',
	                                                                '".$i['ItemStatus']['value']."',
	                                                                '".$i['Quantity']['value']."',
	                                                                '0'
	                                                            )"; 
                                    if ($xx+10>count($xmldata['AmazonEnvelope']['Message'])) {
	                                    print_r($q."\n"); 
                                    }
                                }
                            }
                            else {
                                $efluent_pid = getEfluentPID($items['SKU']['value'],$DB,$mysqlid);
                                $q= "INSERT INTO amazonzd_order_reports_by_date_items(
                                                                amazonzd_order_id,
                                                                amazonzd_order_purchase_date,
                                                                amazonzd_order_purchase_date_string,
                                                                amazonzd_order_status,
                                                                amazonzd_sales_chanel,
                                                                amazonzd_item_asin,
                                                                amazonzd_item_sku,
                                                                pid,
                                                                amazonzd_item_status,
                                                                amazonzd_item_qty,
                                                                type
                                                            ) VALUES(
                                                                '".$AmazonOrderID."',
                                                                '".strtotime($AmazonPurchaseDate)."',
                                                                '".$AmazonPurchaseDate."',
                                                                '".$AmazonOrderStatus."',
                                                                '".$AmazonSalesChannel."',
                                                                '".$items['ASIN']['value']."',
                                                                '".$items['SKU']['value']."',
                                                                '".$efluent_pid."',
                                                                '".$items['ItemStatus']['value']."',
                                                                '".$items['Quantity']['value']."',
                                                                '0'
                                                            )";   
                                if ($xx+10>count($xmldata['AmazonEnvelope']['Message'])) {
                                    print_r($q."\n"); 
                                }  
                            }

                        }

                }

        }
        else 
        {
                echo "SINGLE ORDER<BR>";

        }
}
                                  
function getEfluentPID($amazonzd_sku,$DB,$mysqlid) {
    $queryx = "select pid from fba_sku_map where fba_sku = '$amazonzd_sku'";
//    print_r($queryx);
    if(!$qokxx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($qokxx)>0) {
        list($fba_sku) = mysql_fetch_array($qokxx);
        return $fba_sku;
    }
    else {
        return $amazonzd_sku;
    }
}
?>
<?mysql_close();?>