<?
ini_set('memory_limit', '-1');

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$REQUESTID = $argv[2];

if($ROOT_DIR == "" || $REQUESTID == "")
{
	echo "usage: create_inventory_feed.phtml ROOT_DIR REQUESTID\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');       
 
function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanZipDeals", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "MARKETPLACE_ID"));
/********************************************************************************************/

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

 $service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
     
$filename = "/tmp/amazonzd/5163523774.xml";

/*$fp = fopen($filename, "w");

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedSubmissionId' => $REQUESTID,
  'FeedSubmissionResult' => $fp,
);*/

//$request = new MarketplaceWebService_Model_GetFeedSubmissionResultRequest($parameters);


//try 
{
	//$response = $service->getFeedSubmissionResult($request);
              
	//if ($response->isSetResponseMetadata()) 
	{ 
		//fclose($fp);

		//echo "\n\nSUCCESSFUL!\n\n";
		
		//$query = "select type from amazonzd_feed_report where reportid = '$REQUESTID'";
		//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//list($REPORTTYPE) = mysql_fetch_array($qok);
		$REPORTTYPE = "BASE";
		
		/*$fp = fopen($filename, "r");
		if(!$fp){echo "NO FILE!<BR>";exit;}
		$data = "";
		while(!feof($fp))$data .= fgets($fp, 4096);
		fclose($fp);*/
		$query = "select data from amazonzd_log_extended where lid = '93852'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($data) = mysql_fetch_array($qok);
		
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into amazonzd_log(title, tstamp, requestid) values('$REPORTTYPE', '$tstamp', '$REQUESTID')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$logid = mysql_insert_id();
		
		$query = "SELECT @@max_allowed_packet";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($maxsize) = mysql_fetch_array($qok);
		
		$filesize = filesize($filename);
		
		if($filesize > $maxsize)
		{
			$query = "insert into amazonzd_log_extended(lid, type, data) values('$logid', 'response', 'Filesize was too large')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
			copy($filename, $ROOT_DIR."/mgt/amazonzd/logs/basefeed_response_$REQUESTID.xml");

		}
		else 
		{
			$query = "insert into amazonzd_log_extended(lid, type, data) values('$logid', 'response', '".addslashes($data)."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}*/
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		
		$xmldata = xml2array($data, 1);
		
		$processingreport = $xmldata['AmazonEnvelope']['Message']['ProcessingReport'];
		$processingstatus = @$processingreport['StatusCode']['value'];
		
		if($processingstatus == "")
			$processingstatus = $processingreport['StatusCode'][0]['value'];
		
		if($processingstatus == "")
			$processingstatus = $processingreport['Summary']['StatusCode']['value'];
		
		if($processingstatus == "Complete")
		{
			//$query = "update amazonzd_feed_report set complete = '1' where reportid = '$REQUESTID'";
			//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			echo "Feed Complete<BR><BR>\n";
			
			$numerrors = @$processingreport['ProcessingSummary']['MessagesWithError']['value'];
			$numwarnings = @$processingreport['ProcessingSummary']['MessagesWithWarning']['value'];
			
			if($numerrors == "" && $numwarnings == "")
			{
				$numerrors = $processingreport['ProcessingSummary'][0]['MessagesWithError']['value'];
				$numwarnings = $processingreport['ProcessingSummary'][0]['MessagesWithWarning']['value'];
				
			}
			
			echo "NUMERRORS: $numerrors\n";
			echo "NUMWARNINGS: $numwarnings\n";
			
			
			if(intval($numerrors) > 0 || intval($numwarnings) > 0)
			{
				$result = @$processingreport['Result'];
				
				if(@$result[0]['MessageID']['value'] == "")
				{
					$mid = $result['MessageID']['value'];
					$ResultCode = $result['ResultCode']['value'];
					$ResultMessageCode = $result['ResultMessageCode']['value'];
					$ResultDescription = $result['ResultDescription']['value'];
					$sku = @$result['AdditionalInfo']['SKU']['value'];
					$message = addslashes("$ResultMessageCode - $ResultDescription");
			
					$pid = $sku;
					echo "REPORTYPE: $REPORTTYPE SKU[$sku]\n";
					
					if($REPORTTYPE == "BASE")
					{
						$query = "select id from amazonzd_errors where mid = '$mid' and pid = '$sku' and message = '$message'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) <= 0)
						{
							$query = "select pid, campid from amazonzd_base_messages where mid = '$mid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pid, $campid) = mysql_fetch_array($q2ok);
								
							if(intval($pid) <= 0)
							{
								$query = "select pid from amazonzd_log, amazonzd_log_extended_skus where 
											amazonzd_log.id = amazonzd_log_extended_skus.lid and 
											amazonzd_log.requestid = '$REQUESTID' and 
											amazonzd_log.title = 'Base Feed Creation' and
											amazonzd_log_extended_skus.mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }											
								list($pid) = mysql_fetch_array($q2ok);	
							}
							
							if(intval($campid) <= 0)
							{
								$query = "select amazonzd_campaigns.id from amazonzd_campaigns, amazonzd_campaign_lists, list_products where 
										amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($campid) = mysql_fetch_array($q2ok);									
							}
							
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazonzd_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
							//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							echo "\n$query\n\n";
						}
						else
						{
							if(intval($campid) <= 0)
							{
								$query = "select amazonzd_campaigns.id from amazonzd_campaigns, amazonzd_campaign_lists, list_products where 
										amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($campid) = mysql_fetch_array($q2ok);									
							}

							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazonzd_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
							//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							echo "\n$query\n\n";
							
							echo "HERE\n";
						}	
					}
					else 
					{
						$query = "select id from amazonzd_errors_other where requestid = '$REQUESTID' and message = '$message'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) <= 0)
						{
							$query = "select pid, campid from amazonzd_base_messages where mid = '$mid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pid, $campid) = mysql_fetch_array($q2ok);
								
							if(intval($pid) <= 0)
							{
								$query = "select pid from amazonzd_log, amazonzd_log_extended_skus where 
											amazonzd_log.id = amazonzd_log_extended_skus.lid and 
											amazonzd_log.requestid = '$REQUESTID' and 
											amazonzd_log.title = 'Base Feed Creation' and
											amazonzd_log_extended_skus.mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }											
								list($pid) = mysql_fetch_array($q2ok);	
							}
							
							if(intval($campid) <= 0)
							{
								$query = "select amazonzd_campaigns.id from amazonzd_campaigns, amazonzd_campaign_lists, list_products where 
										amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($campid) = mysql_fetch_array($q2ok);									
							}
								
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazonzd_errors_other(pid, tstamp, message, mid, campid, requestid, type) ";
							$query .= " values('$pid', '$tstamp', '$message', '$mid', '$campid', '$REQUESTID', '$REPORTTYPE')";
							//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							echo "\n$query\n\n";
						}	
						
					}
				}
				else 
				{
					for($xx = 0; $xx < count(@$result); $xx++)
					{
						$mid = $result[$xx]['MessageID']['value'];
						$ResultCode = $result[$xx]['ResultCode']['value'];
						$ResultMessageCode = $result[$xx]['ResultMessageCode']['value'];
						$ResultDescription = $result[$xx]['ResultDescription']['value'];
						$sku = $result[$xx]['AdditionalInfo']['SKU']['value'];
						$message = addslashes("$ResultMessageCode - $ResultDescription");
			
						echo "REPORTTYPE2[$xx] $REPORTTYPE\n";
						
						if($REPORTTYPE == "BASE")
						{
							$query = "select id from amazonzd_errors where mid = '$mid' and pid = '$sku' and message = '$message'";
							echo "\n$query\n";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok) <= 0)
							{
								$query = "select pid, campid from amazonzd_base_messages where mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($pid, $campid) = mysql_fetch_array($q2ok);
								
								if(intval($pid) <= 0)
								{
									$query = "select pid from amazonzd_log, amazonzd_log_extended_skus where 
												amazonzd_log.id = amazonzd_log_extended_skus.lid and 
												amazonzd_log.requestid = '$REQUESTID' and 
												amazonzd_log.title = 'Base Feed Creation' and
												amazonzd_log_extended_skus.mid = '$mid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }											
									list($pid) = mysql_fetch_array($q2ok);	
								}
								
								if(intval($campid) <= 0)
								{
									$query = "select amazonzd_campaigns.id from amazonzd_campaigns, amazonzd_campaign_lists, list_products where 
											amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									list($campid) = mysql_fetch_array($q2ok);									
								}
								
								$tstamp = date("Y-m-d H:i:s", time());
								$query = "insert into amazonzd_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
								//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								echo "\n$query\n\n";
							}
						}
						else 
						{
							$query = "select id from amazonzd_errors_other where requestid = '$REQUESTID' and message = '$message'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok) <= 0)
							{
								$query = "select pid, campid from amazonzd_base_messages where mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($pid, $campid) = mysql_fetch_array($q2ok);
									
								if(intval($pid) <= 0)
								{
									$query = "select pid from amazonzd_log, amazonzd_log_extended_skus where 
												amazonzd_log.id = amazonzd_log_extended_skus.lid and 
												amazonzd_log.requestid = '$REQUESTID' and 
												amazonzd_log.title = 'Base Feed Creation' and
												amazonzd_log_extended_skus.mid = '$mid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }											
									list($pid) = mysql_fetch_array($q2ok);	
								}
								
								if(intval($campid) <= 0)
								{
									$query = "select amazonzd_campaigns.id from amazonzd_campaigns, amazonzd_campaign_lists, list_products where 
											amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									list($campid) = mysql_fetch_array($q2ok);									
								}
								
								$tstamp = date("Y-m-d H:i:s", time());
								$query = "insert into amazonzd_errors_other(pid, tstamp, message, mid, campid, requestid, type) ";
								$query .= " values('$pid', '$tstamp', '$message', '$mid', '$campid', '$REQUESTID', '$REPORTTYPE')";
								//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								echo "\n$query\n\n";
							}	
						}
					}
				}
			}				
				
			}
			
			if($REPORTTYPE == "BASE")
			{
				//exec("/usr/bin/php -c /etc/php.ini -q $ROOT_DIR/mgt/amazonzd/scripts/request_listings_report.phtml $ROOT_DIR");
			}
	}
} 



?>
<?mysql_close();?>