<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
if($ROOT_DIR == "")
{
	echo "usage: import_skus.phtml ASIN ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$fp = fopen("/home/httpd/opteka.com/mgt/amazonzd/scripts/2664659273.txt", "r");
$data = fgetcsv($fp, 4096, "\t");

while($data = fgetcsv($fp, 4096, "\t"))
{
	$asin = $data[1];
	$myprice = $data[2];
	$qty = $data[3];
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	ob_start();
		$public_key = $efc->getConfigValue("AmazonCanZipDeals", "PUBLIC_KEY");
		$private_key = $efc->getConfigValue("AmazonCanZipDeals", "PRIVATE_KEY");
					
		$asinURL = aws_signed_request("com", array("Operation"=>"ItemSearch","Keywords"=>"$asin","SearchIndex"=>"Blended","ResponseGroup"=>"Large"), $public_key, $private_key);
					
		$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
		$xmldata = xml2array($buffer);
	ob_get_clean();

	$totalresults = $xmldata['ItemSearchResponse']['Items']['TotalResults']['value'];
	$totalpages = $xmldata['ItemSearchResponse']['Items']['TotalPages']['value'];
				
	$itemlist = $xmldata['ItemSearchResponse']['Items']['Item'];

	if($itemlist == "")
	{
		echo "Nothing Found\n";
	}
		
	if( (@$itemlist[0]['ASIN']['value'] == "") && (@$itemlist != "") )
	{
		$asin = @$itemlist['ASIN']['value'];
		$salesrank = @$itemlist['SalesRank']['value'];
		$imageURL = @$itemlist['SmallImage']['URL']['value'];
		$large_imageURL = @$itemlist['LargeImage']['URL']['value'];
		$brand = addslashes( @$itemlist['ItemAttributes']['Brand']['value'] );
		$manpart = addslashes( @$itemlist['ItemAttributes']['MPN']['value'] );
		$model = addslashes( @$itemlist['ItemAttributes']['Model']['value'] );
		$ean = @$itemlist['ItemAttributes']['EAN']['value'];
		$title = addslashes(@$itemlist['ItemAttributes']['Title']['value']);
		$upc = @$itemlist['ItemAttributes']['UPC']['value'];
		$featurelist = @$itemlist['ItemAttributes']['Feature'];
					
		$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
		$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
			
		$query = "select manid from product_manufacturers where manname = '$brand'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($manid) = mysql_fetch_array($qok);
		}
		else 
		{
			$query = "insert into product_manufacturers(manname) values('$brand')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$manid = mysql_insert_id();
		}
	
		$features = "";
		
		for($xx = 0; $xx < count($featurelist); $xx++)
		{
			$features .= "<LI>".$featurelist[$xx]['value']."</LI>";
		}
			
		if($manpart == "")
		{
			$query = "select id from product_list, product_manufacturers 
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.upccode = '$upc' AND 
					product_manufacturers.manid = '$manid'";
		}
		else 
		{
			$query = "select id from product_list, product_manufacturers 
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.sku = '$manpart' AND 
					product_manufacturers.manid = '$manid'";
			
		}
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
		if(mysql_num_rows($qok) > 0)// it already exists
		{
			list($pid) = mysql_fetch_array($qok);
								
			/*$query = "delete from product_prices where id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
			$query = "insert into product_prices(id, price_level3, instock, avgcost) values('$pid', '$price', '$stock', '0.00')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	*/
			
			echo "ALREADY EXISTS: $pid";
		}
		else 
		{
			$query = "select id from product_list order by id desc limit 0, 1";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($pid) = mysql_fetch_array($qok);
			$pid++;	
	
			$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
					
			$tstamp = date("Y-m-d H:i:s", time());
			$query = "insert into product_list(id, manid, manpart, cmanpart, descr, added_dte, upccode, visible, sku, dropship, oem, refurb, use_asin, asin, am_qty, modelno) 
				values('$pid', '$manid', '$manpart', '$cleanmanpart', '$title', '$tstamp', '$upc', '0', '$manpart', '1', '0', '0', '1', '$asin', '0', '$model')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
			$query = "insert into product_category_map(pid, catid) values('$pid', '19')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
								
			$query = "insert into product_prices(id, price_level1, price_level2, price_level3, instock, avgcost) 
						values('$pid', '$myprice','$myprice','$myprice', '$qty', '0.00')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
			
			$imagefile = "$ROOT_DIR/mgt/temp/$pid.jpg";
			$efc->getBinaryFile($large_imageURL, "http://www.amazon.com", $imagefile);		
			
			if(file_exists($imagefile))	
			{
				echo "IMAGE => $imagefile\n\n";
				
				$xp = fopen($imagefile, "r");
				if($xp == false){echo "ERROR OPENING FILE<BR>";return;}
				$data = "";
				while(!feof($xp))
				{
					$data .= fgets($xp, 4096);
				}
				fclose($xp);
				$data = addslashes($data);	 		
		
			
				$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '500', '500')";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				unlink($imagefile);
			}
			else 
			{
				echo "ERROR DOWNLOADING IMAGE\n";	
			}
			
			if($features != '')
			{
				$features = addslashes($features);
				$query = "insert into product_descr(id, data) values('$pid', '$features')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			
			echo "$pid";
				
		}
					
		$efc->cacheAdditionalInfo($pid);
	}
}
?>
<?mysql_close();?>