<?php
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	/*echo "usage: create_inventory_feed.phtml ROOT_DIR REQUESTID\n\n";
	exit;*/
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/customerclass.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$custclass = new customerClass();
$custclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$custclass->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');

if ($DB == 'butterfly') {
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonFBA", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonFBA", "AWS_SECRET_ACCESS_KEY"));  
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonFBA", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonFBA", "MARKETPLACE_ID"));	
}
else {
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonCanZipDeals", "AWS_SECRET_ACCESS_KEY"));  
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonCanZipDeals", "MARKETPLACE_ID"));
}

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2010-10-01');

define ('MWS_ENDPOINT_URL', 'https://mws.amazonservices.com/FulfillmentInboundShipment/2010-10-01/');
/********************************************************************************************/

$config = array (
  'ServiceURL' => MWS_ENDPOINT_URL,
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3
);

$service = new FBAInboundServiceMWS_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);

$request = new FBAInboundServiceMWS_Model_ListInboundShipmentItemsRequest();
$request->setSellerId(MERCHANT_ID);
$request->setShipmentId($id);

//echo ("<pre>");

$nextToken = invokeListInboundShipmentsItems($service, $request,$DB,$mysqlid,$efc,$custclass);

/*while($nextToken != "")
{
	//echo "--------------------------------------TOKEN REQUEST----------------------------------------\n";
	$config = array (
	  'ServiceURL' => MWS_ENDPOINT_URL,
	  'ProxyHost' => null,
	  'ProxyPort' => -1,
	  'MaxErrorRetry' => 3
	);
	
	$service = new FBAInboundServiceMWS_Client(
	     AWS_ACCESS_KEY_ID, 
	     AWS_SECRET_ACCESS_KEY, 
	     $config,
	     APPLICATION_NAME,
	     APPLICATION_VERSION);
	
	$request = new FBAInboundServiceMWS_Model_ListInboundShipmentItemsByNextTokenRequest();
	$request->setSellerId(MERCHANT_ID);
	$request->setNextToken($nextToken);
	$nextToken = invokeListInboundShipmentItemsByNextToken($service, $request,$DB,$mysqlid,$efc,$custclass);
}*/

$query = "SELECT amazonzd_inbound_shipping.shipment_id,amazonzd_inbound_shipping.shipment_name,amazonzd_inbound_shipping_extra.poid FROM amazonzd_inbound_shipping,amazonzd_inbound_shipping_extra WHERE amazonzd_inbound_shipping.id=amazonzd_inbound_shipping_extra.ais_id AND amazonzd_inbound_shipping.shipment_id='".$id."'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($shipment_id,$shipment_name,$ship_poid) = mysql_fetch_array($q2ok);
?>
<HTML>
<HEAD>
<TITLE>Inbound Shipments</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</head>
<body>
<table class="sortable" width="100%">
	<tr bgcolor="#eeeeee">
		<td align="center">ShipmentId</td>
		<td align="center">ShipmentName</td>
		<td align="center">PO</td>
	</tr>
	<tr>
		<td align="center"><?=$shipment_id?></td>
		<td align="center"><?=$shipment_name?></td>
		<td align="center"><?=$ship_poid?></td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
</table>
<table class="sortable" width="100%">
	<tr bgcolor="#eeeeee">
		<td align="center">SellerSku</td>
		<td align="center">Title</td>
		<td align="center">Ordered</td>
		<td align="center">Received</td>
	</tr>
	<?echo $nextToken;?>
<?
function invokeListInboundShipmentsItems(FBAInboundServiceMWS_Interface $service, $request,$DB,$mysqlid,$efc,$custclass) 
{
  	$onrow = 0;
	$x = "" ;
	try {
		$response = $service->listInboundShipmentItems($request);
              
                //echo ("Service Response\n");
                //echo ("=============================================================================\n");

                //echo("        ListInboundShipmentItemsResponse\n");
                if ($response->isSetListInboundShipmentItemsResult()) { 
                    //echo("            ListInboundShipmentItemsResult\n");
                    $listInboundShipmentItemsResult = $response->getListInboundShipmentItemsResult();
                    if ($listInboundShipmentItemsResult->isSetItemData()) { 
                        //echo("                ItemData\n");
                        $itemData = $listInboundShipmentItemsResult->getItemData();
                        $memberList = $itemData->getmember();
                        foreach ($memberList as $member) {
                           // echo("                    member\n");
                           if($onrow % 2) {
								 $x .= "<tr bgcolor='#eeeeee'><td align=\"center\">";
							}
							else {
								 $x .= "<tr bgcolor='#ffffff'><td align=\"center\">";
							}
                            
                            $sku = $member->getSellerSKU();
                            $query = "SELECT pid FROM fba_sku_map WHERE fba_sku='".$sku."'";
//                            print_r($query);
                            if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            if (mysql_num_rows($q2ok)>0) {
                            	list($pidx) = mysql_fetch_array($q2ok);	
                            	$pid = $pidx;
                            }
                            else {
                            	$pid = $sku;
                            }
							
							
							$query = "SELECT id,descr FROM product_list WHERE id='".$pid."'";
                            if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pid,$title) = mysql_fetch_array($q2ok);
							if (strlen($title)>50) {
								$title = substr($title,0,47)."...";
							}
							
                            if ($member->isSetSellerSKU()) 
                            {
                                //echo("                        SellerSKU\n");
                                //echo("                            " . $member->getSellerSKU() . "\n");
                                
                                 $x .= "<a href=\"javascript:void(0)\" onclick=\"showMenu3('".$pid."')\" id=\"sku_".$pid."\">".$sku."</a>";
                            }
                            if ($member->isSetFulfillmentNetworkSKU()) 
                            {
                                //echo("                        FulfillmentNetworkSKU\n");
                                //echo("                            " . $member->getFulfillmentNetworkSKU() . "\n");
                            }
                            $x .= "</td><td align=\"center\">";
                            $x .= $title ."</td><td align=\"center\">";
                            if ($member->isSetQuantityShipped()) 
                            {
                                //echo("                        QuantityShipped\n");
                                //echo("                            " . $member->getQuantityShipped() . "\n");
                                $x .= $member->getQuantityShipped();
                            }
                            $x .= "</td><td align=\"center\">";
                            if ($member->isSetQuantityReceived()) 
                            {
                                //echo("                        QuantityReceived\n");
                                //echo("                            " . $member->getQuantityReceived() . "\n");
                                $x .= $member->getQuantityReceived();
                            }
                            $x .= "</td></tr>";
                            $onrow++;
                        }
                    } 
                    if ($listInboundShipmentItemsResult->isSetNextToken()) 
                    {
                       $nextToken = $listInboundShipmentItemsResult->getNextToken();
	                	//echo("                NextToken\n");
	                    //echo("                    " . $nextToken . "\n");
                    }
                } 
                if ($response->isSetResponseMetadata()) { 
                    //echo("            ResponseMetadata\n");
                    $responseMetadata = $response->getResponseMetadata();
                    if ($responseMetadata->isSetRequestId()) 
                    {
                        //echo("                RequestId\n");
                        //echo("                    " . $responseMetadata->getRequestId() . "\n");
                    }
                } 

     } catch (FBAInboundServiceMWS_Exception $ex) {
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
     }
     return $x;
}
 
function invokeListInboundShipmentItemsByNextToken(FBAInboundServiceMWS_Interface $service, $request,$DB,$mysqlid,$efc,$custclass) 
{
	$nextToken = '';
	try {
              $response = $service->listInboundShipmentItemsByNextToken($request);
              
                echo ("Service Response\n");
                echo ("=============================================================================\n");

                echo("        ListInboundShipmentItemsByNextTokenResponse\n");
                if ($response->isSetListInboundShipmentItemsByNextTokenResult()) { 
                    echo("            ListInboundShipmentItemsByNextTokenResult\n");
                    $listInboundShipmentItemsByNextTokenResult = $response->getListInboundShipmentItemsByNextTokenResult();
                    if ($listInboundShipmentItemsByNextTokenResult->isSetItemData()) { 
                        echo("                ItemData\n");
                        $itemData = $listInboundShipmentItemsByNextTokenResult->getItemData();
                        $memberList = $itemData->getmember();
                        foreach ($memberList as $member) {
                            echo("                    member\n");
                            if ($member->isSetShipmentId()) 
                            {
                                echo("                        ShipmentId\n");
                                echo("                            " . $member->getShipmentId() . "\n");
                            }
                            if ($member->isSetSellerSKU()) 
                            {
                                echo("                        SellerSKU\n");
                                echo("                            " . $member->getSellerSKU() . "\n");
                            }
                            if ($member->isSetFulfillmentNetworkSKU()) 
                            {
                                echo("                        FulfillmentNetworkSKU\n");
                                echo("                            " . $member->getFulfillmentNetworkSKU() . "\n");
                            }
                            if ($member->isSetQuantityShipped()) 
                            {
                                echo("                        QuantityShipped\n");
                                echo("                            " . $member->getQuantityShipped() . "\n");
                            }
                            if ($member->isSetQuantityReceived()) 
                            {
                                echo("                        QuantityReceived\n");
                                echo("                            " . $member->getQuantityReceived() . "\n");
                            }
                        }
                    } 
                    if ($listInboundShipmentItemsByNextTokenResult->isSetNextToken()) 
                    {
						$nextToken = $listInboundShipmentItemsByNextTokenResult->getNextToken();
	                	echo("                NextToken\n");
	                    echo("                    " . $nextToken . "\n");
                    }
                } 
                if ($response->isSetResponseMetadata()) { 
                    echo("            ResponseMetadata\n");
                    $responseMetadata = $response->getResponseMetadata();
                    if ($responseMetadata->isSetRequestId()) 
                    {
                        echo("                RequestId\n");
                        echo("                    " . $responseMetadata->getRequestId() . "\n");
                    }
                } 

     } catch (FBAInboundServiceMWS_Exception $ex) {
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
     }
 return $nextToken;
}
?>
<tr>
	<td colspan="4" align="center" style="border-bottom:2px solid black"><a href="javascript:void(0)" onclick="hideMenu2();">Close</a></td>
</tr>
</table>
</body>
</html>
<?mysql_close();?>