<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: create_base_feed.phtml ROOT_DIR\n\n";
//	exit;
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$messageid_list = array();
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function canWeListPID($mysqlid, $DB, $pid)
{
	$query = "select id from amazonzd_convert_mfn where pid = '$pid'";
		
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
	if(mysql_num_rows($qok) > 0)
	{
		return true;
	}
	
	if($DB == "butterfly")
	{
		echo "Can List\n";
		return true;
	}
		
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// get the warehouseID of the FBA warehouse
/*	$query = "select config_value from configuration where config_group = 'eFluent Settings' and config_key = 'FBA'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_warehouse) = mysql_fetch_array($qok);
	
	// see if its in the FBA warehouse
	$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fba_warehouse'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_inventory) = mysql_fetch_array($qok);

	$query = "select sku from fba_skus where sku = '$pid' and lastupdate = '9'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		// if it ain't in stock in the FBA warehouse....... then we can list it on amazon
		if(intval($fba_inventory) <= 0) return true;
	}*/
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
	// its in the fba_skus list
	$query = "select sku from fba_skus where sku = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		echo "Cannot List Type #1\n";
		return false;
	}
		
	// its been translated
	$query = "select pid from fba_sku_map where fba_sku = '$pid'";	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		echo "Cannot List Type #2\n";
		return false;
	}
	
	echo "Can List\n";
	
	return true;
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$brid = "";

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/********************************************************************************************/
$mid = 1;

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonCanZipDeals", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Product</MessageType>
";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$numout = 0;

if($DB == "supplysale")
	$maxout = 500;
else
	$maxout = 1000;


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ADD NEW ITEMS

$adx = " AND product_list.id ='3018232'";

$query = "select amazonzd_campaigns.id, amazonzd_campaigns.campaign_name, amazonzd_campaign_lists.listid, lists.list_title from amazonzd_campaigns, amazonzd_campaign_lists, lists where 
				amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = lists.lid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while( (list($campaignid, $amazonzd_campaign_name, $amazonzd_listid, $list_title) = mysql_fetch_array($q9ok)) && ($numout < $maxout) )
{
	$amazonzd_campaign_name = stripslashes($amazonzd_campaign_name);
	echo "Campaign $amazonzd_campaign_name [LIST => $list_title]\n";

	if($DB == "supplysale")
	{
		$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin
				from product_list, product_manufacturers, list_products, product_sourcing, vendors
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazonzd_listid' AND 
				product_list.id = product_sourcing.pid AND
				product_sourcing.distid = vendors.vendorid AND
				product_sourcing.qty > vendors.stockthreshold AND
				product_list.id NOT IN (select pid from amazonzd_base_messages) AND
				product_list.id NOT IN (select pid from amazonzd_errors)";
	}
	else
	{
		// first list new items
		$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin
				from product_list, product_manufacturers, list_products
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazonzd_listid' AND 
				product_list.id NOT IN (select pid from amazonzd_base_messages) AND
				product_list.id NOT IN (select pid from amazonzd_errors) $adx";
		
	}
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while( (list($pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok))  && ($numout < $maxout) )
	{
		$query = "select mid from amazonzd_base_messages where pid = '$pid'"; // the query above supposedly filters them.... but they could have been added since
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			echo "Adding: $pid [$numout of $maxout]\n";
			if(intval($DEBUG) != 1)
			{
				if( (strlen($upccode) < 12) && ($use_asin != 1) )
				{
					echo "SKU Excluded - NO UPC NO ASIN \n";
				}
				else 
				{
					if(canWeListPID($mysqlid, $DB, $pid))
						$skudata = $amClass->AddProduct($pid, $campaignid);	
					else 	
						$skudata = "";
		
					if($skudata != "")
					{
						$numout++;
						
						if($amClass->asin == "" && $asin != "")
						{
							$saveasin = $asin;
						}
						else 
						{
							$saveasin = $amClass->asin;
						}
						
						$skudata = str_replace("#mid#", "$mid", $skudata);
						
						$data .= $skudata;
					}
		
				}
			}
		}
	}	
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
echo "=============================================================================================\n";
echo "Doing Updates\n";
echo "=============================================================================================\n";

$query = "select amazonzd_campaigns.id, amazonzd_campaigns.campaign_name, amazonzd_campaign_lists.listid, lists.list_title from amazonzd_campaigns, amazonzd_campaign_lists, lists where 
				amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND amazonzd_campaign_lists.listid = lists.lid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($campaignid, $amazonzd_campaign_name, $amazonzd_listid, $list_title) = mysql_fetch_array($q9ok))
{
	$amazonzd_campaign_name = stripslashes($amazonzd_campaign_name);
	echo "Campaign $amazonzd_campaign_name [LIST => $list_title]\n";

	
	$query = "select amazonzd_base_messages.mid, product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin 
				from product_list, product_manufacturers, list_products, amazonzd_base_messages
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				product_list.id = amazonzd_base_messages.pid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazonzd_listid' AND 
				amazonzd_base_messages.asin != '' AND
				product_list.lastupdate != amazonzd_base_messages.pid_lastupdate AND
				product_list.id NOT IN (select pid from amazonzd_errors) $adx
				";
	
	//				(product_list.dropship = 0 || product_list.am_update_override = 1) AND

	
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($messageid, $pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok))
	{
		echo "--------------------------------------------------\n";
		
		if(canWeListPID($mysqlid, $DB, $pid))
			$skudata = $amClass->AddProduct($pid, $campaignid, $asin);	
		else 
			$skudata = "";

		if($skudata != "")
		{
			if(!stristr($data, "<MessageID>$messageid</MessageID>")) // if it's already in the output, don't add it again
			{
				$numout++;
				$skudata = str_replace("#mid#", "$messageid", $skudata);
				$data .= $skudata;
			}
		}
	}
}

$adx = " AND amazonzd_base_messages.pid ='3018232'";
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PRODUCTS TO REMOVE
$query = "select distinct(amazonzd_base_messages.mid), amazonzd_base_messages.campid, amazonzd_base_messages.pid, 
			amazonzd_base_messages.listid, amazonzd_base_messages.asin
			from 
			amazonzd_base_messages
			where 
			amazonzd_base_messages.asin != ''
			group by amazonzd_base_messages.mid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($mid, $campid, $pid, $listid, $asin) = mysql_fetch_array($q9ok)) // don't limit the end listings....  
{
	$addon = "";
	
	$query = "select listid from amazonzd_campaign_lists where campid = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xlistid) = mysql_fetch_array($q2ok))
	{
		if($addon == "") $addon .= " AND (lid = '$xlistid' ";
		else $addon .= " OR lid = '$xlistid' ";
	}
	
	if($addon != "")
		$addon .= ")";
	
	// it ain't on a list no more
	//$query = "select pid from list_products where pid = '$pid' $addon";
	$query = "select amazonzd_campaigns.id 
				from
				amazonzd_campaigns, amazonzd_campaign_lists, list_products
				where
				amazonzd_campaigns.id = amazonzd_campaign_lists.campid AND
				amazonzd_campaign_lists.listid = list_products.lid AND
				list_products.pid = '$pid'"; // if it ain't on an amazon campaign list, then nuke it
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		$fba = $efc->getConfigValue("eFluent Settings", "FBA");
		$fbau = $efc->getConfigValue("eFluent Settings", "FBAU");

		// see if the fba inventory update is running
		$query = "select count(*) from fba_skus where lastupdate = 9";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fba_running) = mysql_fetch_array($q4ok);
		
		$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fba'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fba_inventory) = mysql_fetch_array($qok);
		
		$query = "select sum(inv_available) from product_inventory where id = '$pid' and whid = '$fbau'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fbau_inventory) = mysql_fetch_array($qok);

		if(($fba_running <= 0) && (($fba_inventory + $fbau_inventory) <= 0))
		{
			echo "\nRemoving: PID: $pid [ASIN: $asin]<BR>";
					
			$skudata = $amClass->RemoveProduct($pid, $asin);	
			
				if($skudata != "")
				{
					if(!stristr($data, "<MessageID>$mid</MessageID>")) // if it's already in the output, don't add it again<b></b>
					{
						$numout++;
						$skudata = str_replace("#mid#", "$mid", $skudata); 
						$data .= $skudata;
					}
				}
		}
		else 
		{
			echo "Skipping: $pid (FBA_RUNNING: $fba_running) (FBA: $fba_inventory + FBAU: $fbau_inventory)<BR>";
			//echo ".";
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$data .= "</AmazonEnvelope>\n";
print_r($data);
?>
<?mysql_close();?>