<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if($form_data == "")
{
	echo "Please upload a file";
	exit;		
}

$invoiceid = str_replace(".OUT", "", strtoupper($_FILES['form_data']['name']));
$invoiceid = str_replace(".TXT", "", $invoiceid);
$invoiceid = str_replace(".ERROR", "", $invoiceid);

if(stristr($invoiceid, "_"))
	list($invoiceid, $junk) = explode("_", $_FILES['form_data']['name']);


$on = $efc->getOrderNumber($invoiceid);

if(intval($on) <= 0)
{
	echo "Order could not be found";
	exit;		
}

$fp = fopen($form_data, "r");
if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
$data = "";
while(!feof($fp))
{
	$data .= fgets($fp, 4096);
}
fclose($fp);


$tstamp = date("Y-m-d H:i:s", time());
$query = "insert into debug(tstamp, data, title) values('$tstamp', '".addslashes($data)."', '$on MI Import [".addslashes($_FILES['form_data']['name'])."]')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }

$xmldata = xml2array(trim($data), 1);

$tracking = $xmldata['OpenShipments']['OpenShipment']['ProcessMessage']['USPSNumbers']['USPSNumber']['value'];
$status = $xmldata['OpenShipments']['OpenShipment']['attr']['ProcessStatus'];

if(strtoupper($status) != "PROCESSED")
{
	$errormsg = $xmldata['OpenShipments']['OpenShipment']['ProcessMessage']['Error']['ErrorMessage']['value'];
	
	$tstamp = date("Y-m-d H:i:s", time());
	$query = "insert into customer_order_notes_internal(orderid, notes, tstamp) values('$on', '$errormsg', '$tstamp')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
	
	echo "$errormsg";
	exit;	
}

$ref2 = $xmldata['OpenShipments']['OpenShipment']['Package']['Reference2']['value'];
$ref3 = $xmldata['OpenShipments']['OpenShipment']['Package']['Reference3']['value'];
$ref4 = $xmldata['OpenShipments']['OpenShipment']['Package']['Reference4']['value'];

$pidlist = $ref2;
if($ref3 != "") $pidlist = $pidlist . "x". $ref3;
if($ref4 != "") $pidlist = $pidlist . "x". $ref4;


/*echo "IV: $invoiceid<BR>";
echo "STATUS: $status<BR>";
echo "TRACKNO: $tracking<BR>";
echo "PIDLIST: $pidlist<BR>";
echo "REF2: $ref2<BR>";
echo "REF3: $ref3<BR>";
echo "REF4: $ref4<BR>";
exit;*/

{
	//if(strtoupper($void) != "Y")
	{
		$xshipdate = time();
		
		$query = "select tid from customer_order_tracking where invoiceid = '$invoiceid' and trackno = '$tracking'";
		//echo "$query<BR><BR>";
		
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error A"; exit;  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($tmp_tid) = mysql_fetch_array($q2ok);
		
			$query = "delete from customer_order_tracking_extended where tid = '$tmp_tid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error B"; exit;  }
			//echo "$query<BR><BR>";
			
			$query = "delete from customer_order_tracking where invoiceid= '$invoiceid' and trackno = '$tracking'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error C"; exit;  }
			//echo "$query<BR><BR>";
		}
		
		$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost) ";
		$query .= "values('$invoiceid', '$tracking', 'Mail Innovations', 'USPS', '$xshipdate', '$shipcost') ";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error D"; exit;  }
		$tid = mysql_insert_id();
		
		//if(intval($pid) > 0)
		{
			$serial = "";
			// save what was in the box
			
			$pids = explode("x", $pidlist);
			
			for($xx = 0; $xx < count($pids); $xx++)
			{
				$pid = $pids[$xx];
				//echo "PID: $pid<BR>";
				
				if(intval($pid) > 0)
				{
					$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$on', '$tid', '$tracking', '$pid', '$serial')";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
					
					////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					$now = time();
					$cost = $efc->getActualCost($pid);
					$scost = $efc->getSalesmanCost($pid);
								
					/*
					// this code is in ship/mi/shiporder.phtml now
					if($efc->getOrderType($on) == "EXCHANGE")
					{
						$query = "update customer_order_lines set qty_shipped = qty_ordered, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid' and ex_return = 0";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }					
					}
					else 
					{
						$query = "update customer_order_lines set qty_shipped = qty_ordered, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
						
						//echo $query;
					}*/
							
					$efc->updateInventory(0, 1, $shipcost, $pid, $whid, "", $on);					
					////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				}
			}
			
		}
			
		
		$efc->getStartStatus($on);
		if($efc->getOrderType($on) == "EXCHANGE")
		{
			$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
			list($numleft) = mysql_fetch_array($qok);
						
			if($numleft <= 0)
			{
				$completedate = time();
				$query = "update customer_orders set status = '50', completedate = '$completedate' where orderid = '$on'";	
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
			}
		}
		else 
		{
			// see if everything on the order has shipped
			$query = "select lineid, prodid from customer_order_lines where orderid = '$on' AND qty_ordered > qty_shipped";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
			if(mysql_num_rows($qok) <= 0)
			{
				// success
				$query = "select customer_orders.status, company_orderflow.success from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
				list($this_step, $success_step) = mysql_fetch_array($qok);
				
				$query = "update customer_orders set status = '$success_step' where orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
			}
			else 
			{
				// failure .... partially shipped
				$query = "select customer_orders.status, company_orderflow.failure from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
				list($this_step, $failure_step) = mysql_fetch_array($qok);
				
				$query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Internal Error"; exit;  }
			}
		}
			
		$efc->getLogStopStatus($on);
		$efc->recalculateInventory($on);
		if($kitpid = $efc->orderWasKit($on))
			$efc->internal_repriceKits($kitpid, 0, 0);
		
		$efc->UpdatePool(2, $on);
	}
}

echo "OK";
?>