<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$cg = addslashes($cg);

?>
<table>
<?
// default query
$query = "select hid, title, link, parent, public from help_items where parent = '$parentid' order by title";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($hid, $title, $link, $parent) = mysql_fetch_array($qok))
{
	$title = stripslashes($title);
	?>
	<tr onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='#FFFFFF';">
		<td width=16>
			<a href="#" onclick="javascript:e2window('/mgt/help/edit.phtml?mid=<?=$hid;?>&inwin=1', 'Edit Help');">
				<img src="/mgt/images/txticon.gif" alt="Edit Help" border=0>
			</a>
		</td>
		<td width=16>
			<a href="#"" onclick="deleteCat('<?=$hid;?>')">
				<img src="/mgt/images/del.gif" alt="Delete Help Item" border=0>
			</a>
		</td>
		<td>
			<?
			if($parentid == 0){?><a href="#" onclick="showBottomCat('<?=$hid;?>');"><?}
			else{?><a href="#" onclick="showCat('<?=$hid;?>');"><?}
			?>
				<?=$title;?> (#<?=$hid;?>)
			</a> 
		</td>
	</tr>
	<tr>
		<td id="divid<?=$hid;?>" colspan=3 style="padding-left:10px;">
		
		</td>
	</tr>
	<?
}

if($parentid == 0)
{
}
else 
{
	?>
	<tr>
		<td colspan=3><a href="#" onclick="addCategory('<?=$parentid;?>');">* Add Help Item</a></td>
	</tr>
	<?
}
?>
</table>