<?
// modified cf/categories .phtml
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

// check the permissions
$efc->hasPermission("perm_online_help"); // will redirect on failure
?>
<HTML>
<HEAD>
<TITLE>Configuration-Manage Help</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function StartUp()
{
	showBottomCat(0); // show the top level categories
	<?/*
	if($_SESSION["ROOT_CATEGORY"] != "")
	{
		?>
		showBottomCat('<?=$_SESSION["ROOT_CATEGORY"];?>');
		<?
	}*/
	?>
}

var g_parent = "";
var g_sparent = "";
var g_nohide = "";

function showBottomCat(topcat)
{
	g_parent = topcat;
	
	var imgtag = document.getElementById("img"+g_parent); // .src = "/mgt/images/rar3.gif";
	
	if(imgtag)
	{
		// already expanded?  if so, close it
		if( (imgtag.src.indexOf("/mgt/images/rar3.gif")  > 0) && (g_nohide == 0) )
		{
			document.getElementById("cat"+g_parent).innerHTML = "";
			imgtag.src = "/mgt/images/rar2.gif";
			return;
		}
	}
	
	xmlHttp=GetXmlHttpObject();
	
	var url="/mgt/help/ajax_gethelp.phtml?parentid="+topcat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotBottomCategory;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	

	//window.open(url);
	
	g_nohide = 0;
		
	return false;	
}

function gotBottomCategory()
{
	if(xmlHttp.readyState==4)
	{ 
		if(g_parent == 0)
		{
			var topLevel = document.getElementById("topLevel");
			
			if(topLevel)
			{
				topLevel.innerHTML = xmlHttp.responseText;
			}
			
		}
		else
		{
			var cattag = document.getElementById("cat"+g_parent)
			
			if(!cattag)
				document.getElementById("bottomcategory").innerHTML = xmlHttp.responseText;
			else
			{
				document.getElementById("img"+g_parent).src = "/mgt/images/rar3.gif";
				cattag.innerHTML = xmlHttp.responseText;
			}
		}
	}	
}

var currentCat = 0;

function showCat(topcat)
{
	currentCat = topcat;
	
	xmlHttp=GetXmlHttpObject();
	
	var url="/mgt/help/ajax_gethelp.phtml?parentid="+topcat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotCat;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	

	return false;	
}

function gotCat()
{
	if(xmlHttp.readyState==4)
	{
		var myDIV = document.getElementById("divid"+currentCat);
		
		if(myDIV)
		{
			myDIV.innerHTML = xmlHttp.responseText;
		}
		else
		{
			alert('Could not find DIV');
		}
		
		
	}		
}

function addCategory(parentid)
{
	document.mysaveform.parentid.value = parentid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function moveCategory(catid)
{
	document.mymoveform.catid.value = catid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("moveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mymoveform.newcatid.focus();
	}

}

function hideMoveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("moveform");
	dlg.style.display = "none";
}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function saveForm()
{
	var newcat = document.mysaveform.savename.value;
	var parent = parseInt( document.mysaveform.parentid.value );
	
	var useidSelect = document.getElementById('usedivid');
	var selected_index = useidSelect.selectedIndex;

	var selected_option_value = useidSelect.options[selected_index].value;
	
	g_sparent = parent;
	
	xmlHttp=GetXmlHttpObject();
	
	var url="/mgt/help/ajax_savehelp.phtml?parentid="+parent+"&usedivid="+selected_option_value+"&title="+escape(newcat)+"&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=saveCatDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
	return false;		
}

function saveCatDone()
{
	if(xmlHttp.readyState==4)
	{
		document.mysaveform.savename.value = "";
		document.mysaveform.parentid.value = "";
		
		if(isNaN(parseInt(g_sparent)))
		{
			document.location = "/mgt/help/help.phtml";
			return;
		}
		else
		{
			g_nohide = 1;
			showBottomCat(xmlHttp.responseText);
			hideSaveForm();
		}
	}	
}

function deleteCat(catid)
{
	if(confirm("Are you sure you want to delete the help item #'"+catid+"'?"))
	{
		g_sparent = parent;
		
		xmlHttp=GetXmlHttpObject();
		
		var url="/mgt/help/ajax_deletehelp.phtml?hid="+catid+"&sid="+Math.random();
		
		xmlHttp.onreadystatechange=deleteCatDone;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
		
		return false;		
	}
}

function deleteCatDone()
{
	if(xmlHttp.readyState==4)
	{
		g_nohide = 1;
		showBottomCat(xmlHttp.responseText);
		hideSaveForm();
	}
}

function saveMove()
{
	var catid = document.mymoveform.catid.value;
	var newcatid = document.mymoveform.newcatid.value;
	
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/help/ajax_movecategory.phtml?catid="+catid+"&newcatid="+newcatid+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=moveDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;		
}

function moveDone()
{
	if(xmlHttp.readyState==4)
	{
		document.location = "/mgt/cf/categories.phtml";
	}
}

function orderCategory(catid, parentid, direction)
{
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/help/ajax_ordercategory.phtml?catid="+catid+"&parentid="+parentid+"&move="+direction+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=orderDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;		
}

function changeVisible(catid, visible, parentid)
{
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/help/ajax_changevisible.phtml?catid="+catid+"&parentid="+parentid+"&visible="+visible+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=orderDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;	
}

function orderDone()
{
	if(xmlHttp.readyState==4)
	{
		g_nohide = 1;
		showBottomCat(xmlHttp.responseText);
	}	
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body onload="StartUp()">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Manage Help</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<table style="width:225;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<tr>
					<td>
					<div id="topLevel">
						<!--<table>

						<tr>
							<td align=center>
								<table id="topLevel">
								<?/*
								// default query
								$query = "select product_categories.catid, product_categories.catname from product_categories 
											LEFT JOIN product_categories_order ON
											product_categories.catid = product_categories_order.catid
											where 
											parentid = '$parentid' 
											order by product_categories_order.dorder, product_categories.catname";
								
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
								?>
								<tr>
									<td>
										<a href="#" onclick="orderCategory('<?=$catid;?>', '<?=$parentid;?>', 'up');"><img src="/mgt/images/a-up.gif" alt="Move Up in Branch"></a>
										<a href="#" onclick="orderCategory('<?=$catid;?>', '<?=$parentid;?>', 'down');"><img src="/mgt/images/a-down.gif" alt="Move Down in Branch"></a>
									
										<a href="#" onclick="showBottomCat('<?=$catid;?>');"><?=$catname;?> (<?=$catid;?>)</a>
										&nbsp;&nbsp;
										<a href="#" onclick="deleteCat('<?=$catid;?>');"><img src="/mgt/images/sm_del.gif" alt="Delete Category"></a>
									
									</td>
								</tr>
								<?
								}
								*/
								?>
								</table>
								
							</td>
						</tr>	
						</table>-->
					</div>
					<BR><BR>
					<input type="button" name="Action" value="Add Top Level" class="buttonItem" onclick="addCategory(0);">				

					</td>
				</tr>
				</table>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			
			<td>
				<div id="bottomcategory" style="display:inline;">&nbsp;</div><BR><BR>
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<div id="saveform" class="dialog">
<form name="mysaveform">
<input type="hidden" name="parentid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Add Help Item</td>		
		</tr>
		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td>
			<select name="usedivid" class="formSelect" id="usedivid">
			<?
			$query = "select divid, sitename from site_list order by sitename";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($usediv, $sitename) = mysql_fetch_array($qok))
			{
				?>
				<option value="<?=$usediv;?>"><?=$sitename;?></option>
				<?
			}
			?>
			</select>
		</td>		
		<tr>
			<td>
				<input type="button" name="SaveForm" value="Save"   onclick="saveForm()" class="buttonItem">
				<input type="button" name="HideSaveForm" value="Cancel" onclick="hideSaveForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>

<div id="moveform" class="dialog">
<form name="mymoveform">
<input type="hidden" name="catid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><B>Move Category</B></td>		
		</tr>
		<tr>
			<td>Parent ID:<input type="text" name="newcatid" class="formBox" style="width:75px"></td>		
		</tr>
		<tr>
			<td>
				Enter the parent id you wish<BR>
				to move this branch under.<BR>
				Parent ids are located in <BR>
				parenthesis after each<BR>
				category name.<BR><BR>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" name="SaveForm" value="Save"   onclick="saveMove()" class="buttonItem">
				<input type="button" name="HideSaveForm" value="Cancel" onclick="hideMoveForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>


</body>
</html>