<style type="text/css">
<!--
.style1 {color: #000000}
.style2 {font-weight: bold}
.topNav{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#ffffff;font-weight:bold;}
.square-padding{padding-left:3px; vertical-align:middle;}
.RedTxtBldMed{font-family:Arial,Helvetica,sans-serif;font-size:12px; color:#FF0000; font-weight:bold;}
.leftNav{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;}
.leftNav2{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
.leftNav3{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;line-height:14px;padding-left: 6px;padding-bottom: 3px;padding-top: 3px;}
.leftNav3_org{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FF6600;line-height:14px;padding-left: 6px;padding-bottom: 3px;padding-top: 3px;}
.leftNav4{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;line-height:14px;padding-left: 6px;padding-bottom: 3px;padding-top: 3px;}
.rightNav2{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;padding-left: 6px; padding-bottom: 4px; line-height: .99em;}
.rightNav3{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;padding-left: 6px; padding-bottom: 4px;line-height:14px;}
.rightNav4{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
.rightNavboldBlk{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;padding-left: 6px; padding-bottom: 4px; font-weight:bold;}
.rightNavboldBlu{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#0000FF;padding-left: 6px; padding-bottom: 4px; font-weight:bold;line-height: .85em;}
.prodjump1{ padding-bottom: 0px; margin-top: 0px; }
.prodjump1 select{ width: 100px; margin-top: 2px; margin-left: auto; margin-right: auto; font-size: 10px; }
.prodjump2{ padding-bottom: 3px; margin-top: 2px; }
.prodjump2 select{ width: 100px; margin-top: 2px; margin-left: auto; margin-right: auto; font-size: 10px; }
.tabfont{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#ffffff;font-weight:bold; }
.tabfontsn{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#ffffff;font-weight:bold; padding-top:6px;}<!--line-height: .85em;
.tabfontItalic{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#ffffff;font-weight:bold; font-style:italic;}
.lg_whitefont{font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#ffffff;font-weight:bold;}
.lg_whitefontMed{font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#ffffff;font-weight:bold;}
.lg_grayfont{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#333333;font-weight:bold;}
.lg_grayfontsm{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;}
.BluTxt12bld{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#0066cc; font-weight:bold;}
.DkBluTxt12bld{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#0000FF; font-weight:bold;}
.grayfont11{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#333333;}
.lg_BLUfont{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#0000FF;font-weight:bold; font-style:italic; padding-right: 3px; padding-top: 3px;}
.lg_BLUfont-old{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#0066CC;font-weight:bold; font-style:italic; padding-right: 3px; padding-top: 3px;}
.exlg_BLUfont{font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#0066CC;font-weight:bold;}
.sm_BLUfontItalic{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#0000FF;font-weight:bold; font-style:italic;}
.sm_BLUfontItalic-old{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#0066CC;font-weight:bold; font-style:italic;}
.sm_BLUfontRg{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#0000FF;font-weight:bold;}
.sm_BLUfontRg-old{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#0066CC;font-weight:bold;}
.lg_BLUTitle_font{font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#0000FF;font-weight:bold; padding-left:7px; padding-top:2px;padding-bottom:5px;}
.lg_BLUTitle_font-old{font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#0066CC;font-weight:bold; padding-left:7px; padding-top:2px;padding-bottom:5px;}
.dkgryBoldTxt{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;line-height:normal;font-weight:bold;font-variant:normal;color:#333333;text-decoration:none;margin-left:3px; margin-top:3px; margin-bottom:3px; margin-right:3px;}
.dkgryTxt{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;line-height:normal;font-weight:normal;font-variant:normal;color:#333333;text-decoration:none;margin-left:3px; margin-top:3px; margin-bottom:3px; margin-right:3px;}
.dkgryMedTxt{font-family:Arial,Helvetica,sans-serif;font-size:13px;font-style:normal;line-height:normal;font-weight:normal;font-variant:normal;color:#333333;}
.printerFinderFont{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#ffffff; font-weight:bold}
.border_BtLftDpOrange{border-bottom:1px solid #D97B31;border-left:1px solid #D97B31;}
.border_topDpOrange{border-top:1px solid #D97B31;}
.border_bttmBlue{border-bottom:1px solid #0066cc;}
.border_RTLftDpOrange{border-right:1px solid #D97B31;border-left:1px solid #D97B31;}
.border_BtDpOrange{border-bottom:1px solid #D97B31;}
.border_RtBtDpOrange{border-right:1px solid #D97B31;border-bottom:1px solid #D97B31;}
.border_RtBttopDpOrange{border-right:1px solid #D97B31;border-bottom:1px solid #D97B31;border-top:1px solid #D97B31;}
.border_BtLftRtDpOrange{border-bottom:1px solid #D97B31;border-left:1px solid #D97B31;border-right:1px solid #D97B31;}
.border_lftRtBtTopDpOrange{border-bottom:1px solid #D97B31;border-left:1px solid #D97B31;border-right:1px solid #D97B31;border-top:1px solid #D97B31;}
.border_RtTopDpOrange{border-right:1px solid #D97B31;border-top:1px solid #D97B31;}
.border_lftRtTopDpOrange{border-right:1px solid #D97B31;border-left:1px solid #D97B31;border-top:1px solid #D97B31;}
.border_RtBtLft{border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.border_topBtLft{border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.border_RtLft{border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.border_RtLfttop{border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-top:1px solid #CCCCCC;}
.border_Right{border-right:1px solid #CCCCCC;}
.border_gryAll{border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;}
.border_left{border-left:1px solid #CCCCCC;}
.border_top{border-top:1px solid #CCCCCC;}
.border_rtBttm{border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
.border_bottom{border-bottom:1px solid #CCCCCC;}
.border_topBt{border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;}
.border_toplft{border-left:1px solid #CCCCCC;border-top:1px solid #CCCCCC;}
.border_lftBt{border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.border_topRt{border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
.border_topRtBttm{border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC;border-top:1px solid #CCCCCC;}
.border_LftRtTop{border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.borderGrayall{border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
.TopNavMargin{ margin-top:6px;}
.noMargin{ margin-top:0px;}
.BtmTopNavMarginSm{ margin-bottom:8px;margin-top:3px;}
.custSerMarginSm{ margin-bottom:20px;margin-top:0px;}
.PhonenumMargin{ margin-top:4px;}
.bluBgBordr{ background-color:#6699CC; border:1px solid #ffffff;}
.gryBgBordr{ background-color:#ECECEC; border:1px solid #ffffff;}
.top10price{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FF6600;font-weight:bold;}
.OrangeTxtMedbld{font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#FF6600;font-weight:bold;}
.OrangeTxtMedbldItalic{font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#FF6600;font-weight:bold; font-style:italic;}
.OrangeTxtSMbld{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FF6600;font-weight:bold;}
.top10title{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;font-weight:bold;}
.boxTxt{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#000000;}
.boxTxt2{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;color:#000000;}
.boxHead{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;font-weight:bold;}
.boxHead2{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:#000000;font-weight:bold;}
.boxHead3{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;background-color:#F2F2F2;font-weight:bold;padding-left: 5px; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 2px solid #E8E8E8;}
.boxHead4{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;font-weight:bold;}
.inputstyle{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#000000;}
.searchBlutxt{color:#0000FF;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px;}
a.boxLink{color:#0000FF;text-decoration:underline;}
a.boxLink:hover{color:#0066FF;text-decoration:underline;}
a.boxLink2{color:#0000FF;text-decoration:none;}
a.boxLink2:hover{color:#0066FF;text-decoration:underline;}
a.boxLink3{color:#0066cc;text-decoration:none;}
a.boxLink3:hover{color:#FF9900;text-decoration:underline;}
a.boxLink5{color:#000000;text-decoration:none;}
a.boxLink5:hover{color:#0066FF;text-decoration:underline;}
a.fallLink{color:#ff6501;text-decoration:none;}
a.fallLink:hover{color:#3A2603;text-decoration:underline;}
a.gov_navlink{color:#0000FF;text-decoration:none;}
a.gov_navlink:hover{color:#FF9900;text-decoration:underline;border-bottom:1px solid #CCCCCC;}
a.searchlink{color:#0000FF;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px;}
a.searchlink:hover{color:#FF9900;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-size:11px;}
a.searchlink_current{color:#0000FF;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px; font-weight:bold;}
a.searchlink_current:hover{color:#FF9900;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-size:11px; font-weight:bold;}
a.sitemapLink{font-family:Arial,Helvetica,sans-serif;color:#666666;text-decoration:none; font-size:14px;font-weight:bold;}
a.sitemapLink:hover{font-family:Arial,Helvetica,sans-serif;color:#0066CC;text-decoration:underline; font-size:14px;font-weight:bold;}
a.bluLinks{color:#0066cc;text-decoration:none;}
a.bluLinks:hover{color:#FF9900;text-decoration:underline;}
a.GrayLinks{color:#333333;text-decoration:none; font-size:12px;}
a.GrayLinks:hover{color:#0066CC;text-decoration:underline; font-size:12px;}
a.GrayLinks_sm{color:#333333;text-decoration:none; font-size:11px;}
a.GrayLinks_sm:hover{color:#0066CC;text-decoration:underline; font-size:11px;}
a.medGrayLinks{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;line-height:normal;font-weight:bold;font-variant:normal;color:#666666;text-decoration:underline;}
a.medGrayLinks:hover{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;line-height:normal;font-weight:bold;font-variant:normal;color:#0066CC;text-decoration:underline;}
a.blackLink{color:#000000;text-decoration:none; font-size:12px;}
a.blackLink:hover{color:#FF9900;text-decoration:underline; font-size:12px;}
a.whiteLinksMed{color:#ffffff;text-decoration:none; font-size:13px;}
a.whiteLinksMed:hover{color:#FF9900;text-decoration:none; font-size:13px;}
a.topNavWhiteLink{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#ffffff;font-weight:bold;text-decoration:none;}
a.topNavWhiteLink:hover{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#ffffff;font-weight:bold;text-decoration:none;}
a.boxLink_white{color:#ffffff;font-size:11px;text-decoration:none;}
a.boxLink_white:hover{color:#FF9900;text-decoration:underline;}
a.boxLink_BluMed{color:#0000FF;font-size:11px;text-decoration:none; font-weight:bold;font-family:Arial,Helvetica,sans-serif;}
a.boxLink_BluMed:hover{color:#FF9900;text-decoration:underline; font-weight:bold; font-family:Arial,Helvetica,sans-serif;}
a.newnavblu_med{color:#0066cc;font-size:12px;text-decoration:none; font-weight:bold;font-family:Arial,Helvetica,sans-serif; margin-left:5px;}
a.newnavblu_med:hover{color:#FF9900;text-decoration:underline; font-weight:bold; font-family:Arial,Helvetica,sans-serif; margin-left:5px;}
a.boxLink_Blusm{color:#0000FF;font-size:11px;text-decoration:none;font-family:Arial,Helvetica,sans-serif;}
a.boxLink_Blusm:hover{color:#FF9900;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;}
a.boxLink_Blulg{color:#0000FF;font-size:13px;text-decoration:none; font-weight:bold;font-family:Arial,Helvetica,sans-serif;}
a.boxLink_Blulg:hover{color:#FF9900;text-decoration:underline; font-weight:bold; font-family:Arial,Helvetica,sans-serif;}
a.graylinksm{color:#666666;font-size:11px;text-decoration:none;font-family:Arial,Helvetica,sans-serif;}
a.graylinksm:hover{color:#FF9900;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;}
a.graylinksmBld{color:#666666;font-size:11px;text-decoration:none;font-family:Arial,Helvetica,sans-serif; font-weight:bold;}
a.graylinksmBld:hover{color:#FF9900;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-weight:bold;}
a.orangelinksm{color:#FF6600;font-size:11px;text-decoration:none; font-weight:bold;font-family:Arial,Helvetica,sans-serif;}
a.orangelinksm:hover{color:#333333;text-decoration:none; font-weight:bold; font-family:Arial,Helvetica,sans-serif;}
a.topnavBluLinks{color:#293E5B; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;line-height: .85em;}
a.topnavBluLinks:hover{color:#999999;text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;line-height: .85em;}
a.boxLink3{color:#333333;text-decoration:none;}
a.boxLink3:hover{color:#0066FF;margin:0px;padding:0px;text-decoration:underline;}
a.boxLink4{color:#333333;text-decoration:none;}
a.boxLink4:hover{color:#0066FF;margin:0px;padding:0px;text-decoration:underline;}
a.leftLink{color:#003399;text-decoration:none;}
a.leftLink:hover{color:#FF6633;margin:0px;padding:0px;}
.searchitalics{font-style:italic;}
hr{margin-top:0px;padding-top:0px;color:#E8E8E8;}
DIV.Menu1{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#0066CC;font-weight:bold;padding-left:5px;border-left:0px solid #cccccc;border-right:0px solid #cccccc;border-bottom:2px solid #E8E8E8;background-color:#F2F2F2;cursor:hand;}
DIV.Menu2{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;line-height:14px;}

div.detailSpecs	table  {	
	width:100%;	
	border-collapse:seperate;
	border-spacing:1px;	
	font-size:10px;	
	font-family:verdana, arial, helvetica; 
} 
div.detailSpecs	table th {
	font-family:verdana, arial, helvetica; background-color:#69c ; 
	color:#fff;	
	text-align:left;padding:3 10 3 3;font-size:10px;} 

div.detailSpecs	table th.children{
	width:140px;
}

div.detailSpecs	table th.subheader{
	width:140px;
	background-color:#8bb1d8; text-align:right;padding-right:3px;
}
div.detailSpecs	table td.data, div.detailSpecs table td.subheader {
	text-align:left;
	background-color:#ececec;
	padding:3;
	font-size:10px;
	font-family:verdana, arial, helvetica;}

div.detailSpecs	table th.subSubheader{
	padding:0;
	background-color:#ffffff ; 
}

div.detailSpecs	table th.subSubheader table{
	width:100%
}

	h3.greatdeal {
		margin:0px;
		background:transparent url('http://www.superwarehouse.com/design/orange-arrow.gif') top right no-repeat;
		background-position: right 3px;
		margin-left:6px;
		display:inline;
		padding-right:15px
		
	}	
	ul.greatdeal {
		margin:0px 0px;
		margin-top:5px;
		padding:0px;
		list-style: none;
		
	
	}
	
	ul.greatdeal li {
		float:left;
		margin:0px;
		
		margin-left:6px;
		background-image: url('http://www.superwarehouse.com/design/orange-arrow.gif');
		background-position: 0 3px;
		background-repeat: no-repeat;		
		padding: 0 7px 0 15px;
		
		}

table.collapse { border-collapse:collapse; border-spacing:0; border:0px;}
table.collapse td,table.collapse th { padding: 0; }
body {color:#000;background-color:#fff;margin:0px;margin-top:2px;}	
-->
</style>
<tr>
<td class="swhtxt3">

	        
			
			
