<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$on = $efc->getOrderNumber($iv);

function updateCost($on, $iv, $DB, $mysqlid)
{
	$query = "select sum(cost) from customer_order_lines where orderid = '$on'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($linecost) = mysql_fetch_array($qok);
	
	$query = "select sum(cost) from customer_order_tracking where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipcost) = mysql_fetch_array($qok);
	
	$query = "select sum(cost) from additional_costs where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($addcost) = mysql_fetch_array($qok);

	$tcost = $linecost + $shipcost + $addcost;

	$query = "update customer_orders set cost = '$tcost' where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
}

if($Action == "Save Line Cost")
{
	$query = "select prodid from customer_order_lines where orderid = '$on'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($prodid) = mysql_fetch_array($qok))	
	{
		$usecost = $_POST["pid-$prodid"];
		$query = "update customer_order_lines set cost = '$usecost' where orderid = '$on' and prodid = '$prodid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	updateCost($on, $iv, $DB, $mysqlid);
		
}
else if($Action == "Save Shipping Cost")
{
	$query = "select tid from customer_order_tracking where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($tid) = mysql_fetch_array($qok))	
	{
		$usecost = $_POST["tid-$tid"];
		$query = "update customer_order_tracking set cost = '$usecost' where tid = '$tid' ";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	updateCost($on, $iv, $DB, $mysqlid);
}
else if($Action == "Save Additional Cost")
{
	$query = "select id from additional_costs where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($id) = mysql_fetch_array($qok))
	{	
		$usecost = $_POST["cid-$id"];
		$query = "update additional_costs set cost = '$usecost' where id = '$id' ";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	if(floatval($new_cost) > 0.00)
	{
		$new_title = addslashes($new_title);
		$new_note  = addslashes($new_note);
		
		$query = "insert into additional_costs(invoiceid, title, note, cost) values('$iv', '$new_title', '$new_note', '$new_cost')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	updateCost($on, $iv, $DB, $mysqlid);
}
else if($Action == "Delete")
{
	$query = "delete from additional_costs where id = '$cid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	updateCost($on, $iv, $DB, $mysqlid);	
}
?>
<HTML>
<HEAD>
<TITLE>Editable Profit/Loss</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
<script>
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}
</script>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<div style="padding-left:5px;">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=100%>
		<tr>
			<td width=50%>
				<form method="POST" action="editcost.phtml">
				<input type="hidden" name="iv" value="<?=$iv;?>">
				<B>Line Cost</B>
				<table>
				<tr bgcolor="#eeeeee">
					<td><B>PID</B></td>
					<td><B>Manpart</B></td>
					<td><B>Descr</B></td>
					<td><B>Price</B></td>
					<td><B>Cost</B></td>
				</tr>
				<?
				$query = "select prodid, manpart, descr, price, cost from customer_order_lines where orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($prodid, $manpart, $descr, $price, $cost) = mysql_fetch_array($qok))
				{
					?>
					<tr>
						<td><?=$prodid;?></td>
						<td><?=$manpart;?></td>
						<td><?=$descr;?></td>
						<td align=right><?=number_format($price, 2);?></td>
						<td align=right><input type="text" name="pid-<?=$prodid;?>" value="<?=number_format($cost, 2, ".", "");?>" class="formbox" style="width:65px;text-align:right;"></td>
					</tr>
					<?
				}
				?>
				</table>
				<input type="submit" name="Action" value="Save Line Cost" class="buttonItem">
				</form>
				<BR>
				<?/********************************************************************************************************************************************/?>
				<form method="POST" action="editcost.phtml">
				<input type="hidden" name="iv" value="<?=$iv;?>">
				<B>Shipping Cost</B>
				<table>
				<tr bgcolor="#eeeeee">
					<td><B>Tracking Number</B></td>
					<td><B>Type</B></td>
					<td><B>Ship Date</B></td>
					<td><B>Cost</B></td>
				</tr>
				<?
				$query = "select trackno, type, shipdate, cost, tid from customer_order_tracking where invoiceid = '$iv'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($trackno, $type, $shipdate, $cost, $tid) = mysql_fetch_array($qok))
				{
					?>
					<tr>
						<td><?=$trackno;?></td>
						<td><?=$type;?></td>
						<td><?=date("m/d/Y", $shipdate);?></td>
						<td align=right><input type="text" name="tid-<?=$tid;?>" value="<?=number_format($cost, 2, ".", "");?>" class="formbox" style="width:65px;text-align:right;"></td>
					</tr>
					<?
				}
				?>
				</table>
				<input type="submit" name="Action" value="Save Shipping Cost" class="buttonItem">
				</form>			
			</td>
			
			<td width=50%>
				<form method="POST" action="editcost.phtml">
				<input type="hidden" name="iv" value="<?=$iv;?>">			
				<B>Additional Costs</B>
				<table>
				<tr bgcolor="#eeeeee">
					<td><B>Title</B></td>
					<td><B>Note</B></td>
					<td><B>Cost</B></td>
					<td><B>Delete</B></td>
				</tr>
				<?
				$query = "select id, title, note, cost from additional_costs where invoiceid = '$iv'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($id, $title, $note, $cost) = mysql_fetch_array($qok))
				{
					?>
					<tr>
						<td><?=$title;?></td>
						<td><?=$note;?></td>
						<td align=right><input type="text" name="cid-<?=$id;?>" value="<?=number_format($cost, 2, ".", "");?>" class="formbox" style="width:65px;text-align:right;"></td>
						<td align=center>
							<a href="javascript:void(0);" onclick="makesure('Are you sure you want to remove this cost?', 'editcost.phtml?Action=Delete&cid=<?=$id;?>&iv=<?=$iv;?>');">
								<img src="/mgt/images/del.gif" width=16 height=16>
							</a>
						</td>
					</tr>
					<?
				}
				?>
				<tr>
					<td><input type="text" name="new_title" value="" class="formbox" style="width:100px;"></td>
					<td><input type="text" name="new_note" value="" class="formbox" style="width:175px;"></td>
					<td align=right><input type="text" name="new_cost" value="0.00" class="formbox" style="width:65px;text-align:right;"></td>
					<td align=center><img src="/mgt/images/menu/gdel.jpg" width=16 height=16></td>
				</tr>
				</table>
				<input type="submit" name="Action" value="Save Additional Cost" class="buttonItem">
				</form>
			</td>
		</tr>
		</table>

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		</div>
	</td>
</tr>
</table>
</body>
</html>