<!-- TITLE: Not All Incan Berries are the Same! -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="http://www.youtube.com/watch?v=cH17PlUHQ1M">
<meta property="og:title" content="Not All Incan Berries are the Same!">
<meta property="og:type" content="video">
<meta property="og:image" content="https://i1.ytimg.com/vi/cH17PlUHQ1M/maxresdefault.jpg">
<meta property="og:description" content="Incan Berries are not all the same!  We have another new Superfood video shot right in the high-altitude Andean Slopes of Peru, from where we source our Organic Incan Berries...">
<meta property="og:video" content="http://www.youtube.com/v/cH17PlUHQ1M?autohide=1&amp;version=3">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<big><big><strong><center>
Not All Incan Berries are the Same! Click the video below to see why!
</center></strong></big></big>
<br /><br />
<iframe width="735" height="413" src="//www.youtube.com/embed/cH17PlUHQ1M?rel=0" frameborder="0" allowfullscreen></iframe>
<br /><br /><br />