<!-- TITLE: Copy-Kids DVD Trailer -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="https://vimeo.com/24151268">
<meta property="og:title" content="Copy-Kids DVD Trailer">
<meta property="og:type" content="video">
<meta property="og:image" content="http://copy-kids.com/wp-content/themes/Copy-Kids/images/malabar.jpg">
<meta property="og:description" content="A joy-filled video and an innovative tool for parents who want to get children to enjoy eating fruits and vegetables...">
<meta property="og:video" content="https://vimeo.com/24151268">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<br><big><big><strong><center>
Interested in getting your child to eat more Raw Food?  <br><br>Check out the video below to discover what I found to be the most effective way to do this.<br><br>We have the DVD at an incredile discount just under the video!<br><br>
</center></strong></big></big>
<br /><br />
<iframe src="//player.vimeo.com/video/24151268" width="735" height="413" frameborder="0"></iframe>
<br /><br /><br />