<!-- TITLE: Not All Maca Powder is the Same! -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="http://www.youtube.com/watch?v=CW62R_243xY">
<meta property="og:title" content="Not All Maca Powder is the Same!">
<meta property="og:type" content="video">
<meta property="og:image" content="http://i1.ytimg.com/vi/CW62R_243xY/maxresdefault.jpg">
<meta property="og:description" content="There are well over five different grades of Maca Powder. We reveal in this video how many companies choos...">
<meta property="og:video" content="http://www.youtube.com/v/CW62R_243xY?version=3&amp;autohide=1">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<big><big><strong><center>
Not All Maca Powder is the Same!

Click the video below to see why!
<br /><br />
The taste burns with lifeforce unlike any other brand Guaranteed!
</center></strong></big></big>
<br /><br />
<iframe width="735" height="413" src="//www.youtube.com/embed/CW62R_243xY?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
<br /><br /><br />
<big><strong><center>
Although we pay double the price due to the special processing and quality of our maca, we are offering it at rock bottom pricing below, just because we want to prove to you the difference.
<br /><br />
We challenge you to taste test our Maca Powder against any other brand. If you don't taste and smell the difference we will give you 100% of your money back, no questions asked, guaranteed!
</center></strong></big>
<br /><br /><br />