<!-- TITLE: The Most Powerful Superfood in the World - Guaranteed! -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="https://www.youtube.com/watch?v=QWLIDvRT6QY">
<meta property="og:title" content="The Most Powerful Superfood in the World - Guaranteed!">
<meta property="og:type" content="video">
<meta property="og:image" content="https://i1.ytimg.com/vi/QWLIDvRT6QY/maxresdefault.jpg">
<meta property="og:description" content="This Superfood has never been seen before in the History of the Health Movement.">
<meta property="og:video" content="http://www.youtube.com/v/QWLIDvRT6QY?version=3&amp;autohide=1">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<h2 style="color:#990000;font-size:36px;font-weight:bold;text-align:center;margin:0 0 20px;line-height:105%;">New Superfood has never been seen before in the History of the Health Movement.</h2><h3 style="text-align:center;font-size:24px;text-align:center;font-weight:normal; margin: 0px 0 25px 0;line-height:105%;">It will be launched April 23rd, 2014! Just put your email in the box further below to be among the first to find out more!</h3>
<script language="JavaScript">
TargetDate = "04/23/2014 3:00 PM UTC-0400";
BackColor = "palegreen";
ForeColor = "navy";
CountActive = true;
CountStepper = -1;
LeadingZero = false;
DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
FinishMessage = "It is finally here!";
</script>
<script language="JavaScript" src="/timer-assets/countdown.js"></script>
<iframe width="735" height="413" src="//www.youtube.com/embed/XpP1marr7aQ?&rel=0&autoplay=1" frameborder="0"></iframe>
<br /><br /><div style="text-align:center;font-size:16px;color:#000;margin-bottom:10px;width:70%;margin-left:auto;margin-right:auto;">Put your email in the box below to be among the first to be notified of the arrival and launch of this ground-breaking Superfood!</div>
<center>
<!--
Do not modify the NAME value of any of the INPUT fields
the FORM action, or any of the hidden fields (eg. input type=hidden).
These are all required for this form to function correctly.
-->
<style type="text/css">
    .myForm111 .em1 {
        padding: 12px;
        border: solid 1px #E5E5E5;
        outline: 0;
        font: normal 15px/100% Verdana, Tahoma, sans-serif;
        width: 220px;
        background: #FFFFFF url('bg_form.png') left top repeat-x;
        background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
        background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }

    .myForm111 .em1:hover, .myForm111 .em1:focus {
	    border-color: #C9C9C9;
	    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }

    .myForm111 .submit1 {
        width: 180px;
        padding: 12px;
        font: normal 15px/100% Verdana, Tahoma, sans-serif;
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: rgb(28, 184, 65); /* this is a green */
    }

    .myForm111 .fset1 {
        border: 1px solid #ccc;
        width: 240px;
        padding: 10px;
    }
</style>
<form method="post" action="http://cloud.inboxair.com/send/form.php?form=110" id="frmSS110" onsubmit="return CheckForm110(this);" class="myForm111">
<fieldset class="fset1">
    <p>
        <input type="text" name="email" id="email" onFocus="if(this.value=='Enter your email')this.value='';" value="Enter your email" class="em1" />
    </p>

    <p style="margin-top:5px;">
        <input type="submit" value="Subscribe" class="submit1" />
    </p>
<input type="hidden" name="format" value="h">
</fieldset>
</form>
<script type="text/javascript">
// <![CDATA[
			function CheckMultiple110(frm, name) {
				for (var i=0; i < frm.length; i++)
				{
					fldObj = frm.elements[i];
					fldId = fldObj.id;
					if (fldId) {
						var fieldnamecheck=fldObj.id.indexOf(name);
						if (fieldnamecheck != -1) {
							if (fldObj.checked) {
								return true;
							}
						}
					}
				}
				return false;
			}
		function CheckForm110(f) {
			var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
			if (!email_re.test(f.email.value)) {
				alert("Please enter your email address.");
				f.email.focus();
				return false;
			}
// ]]>
</script>
</center>
<br /><br /><br />