<!-- TITLE: The Most Powerful Superfood in the World - Guaranteed! -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="https://www.youtube.com/watch?v=QKHh17DHzbk">
<meta property="og:title" content="The Most Powerful Superfood in the World - Guaranteed!">
<meta property="og:type" content="video">
<meta property="og:image" content="https://i1.ytimg.com/vi/QKHh17DHzbk/maxresdefault.jpg">
<meta property="og:description" content="This Superfood has never been seen before in the History of the Health Movement.">
<meta property="og:video" content="http://www.youtube.com/v/QKHh17DHzbk?version=3&amp;autohide=1">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><h2 align="center" style="color:#990000;font-size:36px;font-weight:bold;text-align:center;margin:0 0 20px;line-height:105%;">New Most Powerful Superfood is Here!</h2>
      <h3 align="center" style="text-align:center;font-size:24px;text-align:center;font-weight:normal; margin: 0px 0 25px 0;line-height:105%;">Click the video below to discover what this new Superfood is!</h3>
      <iframe width="735" height="413" src="//www.youtube.com/embed/QKHh17DHzbk?&rel=0&autoplay=0" frameborder="0"></iframe>
      <div align="center"><br />
        <br />
        <br />
        <br />
          <font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><strong> Yep</strong>, I guaranteee that the Superfood that I'm about to share with you is the <strong>most powerful</strong> Superfood in the world!&nbsp; It has <strong>never</strong> been seen before in the history of the Superfoods movement.&nbsp; We actually have <strong>three</strong> new <strong>very</strong> powerful Superfoods for you today, and the last one I share with you is truly <strong>the</strong> most powerful Superfood in the world.&nbsp; Furthermore, we are offering all <strong>three</strong> of these products <strong>'At-Cost'</strong> today! It doesn't get better than this!<br />
          <br />
            <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/rms55.jpg" align="right" border="0" /></a> In today's day and age it is <strong>critical</strong> to boost our immune systems in order to protect ourselves from pathogenic organisms and foreign substances, which can cause sickness and disease.&nbsp; It is <strong>widely</strong> known that the Reishi Mushroom is <strong>an ideal</strong> food/Superfood for supporting our immune systems.&nbsp; When you discover what we have now done with the Reishi Mushroom, it will most likely <strong>blow</strong> your mind.<br />
          <br />
          I know that a lot of you are probably thinking that this <strong>new</strong> powerful product might be Reishi Spore Oil.&nbsp; <em>Well...</em>&nbsp; we <em>do</em> have a <strong>new</strong> and <strong>improved</strong> Reishi Spore Oil, <em>which is 10 Xs better than our previous one and is the second most powerful Superfood in the world,</em> as one of the three new products available today,<strong> but...</strong> we have something even <strong>more</strong> powerful than that!<br />
          <br />
          Before I introduce this new product to you, I feel it's <strong>key</strong> to understand that the <em>'triterpenes</em>' are the <strong>most</strong> powerful, important active constituents of the Reishi Mushroom.&nbsp; <br />
          <br />
          <strong>In the clinical study <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3271404/">here</a>, it says:</strong> <br />
          <br />
  "...the triterpenoids were found to be the most important active substances for its numerous pharmacological uses.&nbsp; Triterpenoids isolated from ganoderma spores showed <strong>significantly</strong> anti-HIV-1 protease, anti-tumor, and anti-complement activities. <br />
          Triterpenoids are the main active constituents of ganoderma spores and show various bioactivities for its medicinal use."<br />
          <br />
          The <strong>highest</strong> concentration of triterpenes are in the <em>spore</em> of the Reishi Mushroom.<br />
          <br />
          <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/reis1.jpg" align="right" border="0" /></a> <strong style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">1000 kg</strong> of dried <strong>Reishi Mushrooms</strong> produces about <strong>1 kg</strong> of <strong>Spores</strong>.&nbsp; It then takes <strong>over 1000 kg</strong> of<strong> Reishi Spores</strong> to produce <strong>just</strong> a <strong>few kilograms</strong> of <strong>Spore Oil</strong>.&nbsp; If you do the math here, Reishi Spore Oil is probably <strong>100 Xs more</strong> effective compared to <strong>all</strong> the other Reishi Supplements on the market today!<br />
          <br />
          What we have for you today are three <strong>very powerful</strong> Cracked-Shell Reishi Spore products, the third one being the <strong>most</strong> powerful Superfood in the <strong>world</strong>.<br />
  <br />
  <strong>Product 1.&nbsp; Reishi Spore Powder</strong> <br />
          Our Reishi Spore Powder is simply the highest quality and most potent Reishi Spores in the world.&nbsp; It is more powerful than any other standard Reishi product on the market, hands down.&nbsp; You will definitely feel the difference!<br />
  <br />
  <strong>Product 2. Reishi Spore Oil</strong> <em>(New &amp; Improved 10 Xs Stronger!)</em><br />
          Our previous Reishi Spore Oil product was the most potent and best priced Reishi Spore Oil on the market.&nbsp; We found a way to use zero carriers with the Reishi.&nbsp; We've vacuum-sealed the bottles and we place a metal cap on top which prevents oxidation.&nbsp; Inside this bottle is simply pure Reishi Spore Oil and <em>no</em> other ingredients!&nbsp;&nbsp;<br />
  <br />
  <strong>Product 3. Reishi Triterpene Crystals</strong> <em>(extract from Reishi Spores!)</em><br />
          For the first time ever in history, we have discovered a way to extract the most powerful constituent of the Reishi Mushroom!...&nbsp; <strong>The Triterpene Crystals.</strong>&nbsp; This product consists of <strong>simply Reishi Triterpene Crystals</strong><strong style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">!&nbsp;</strong> <em>Oh man...</em>&nbsp; This product is the <strong>most</strong> potent and <strong>important active</strong> constituent of the entire Reishi Mushroom, which is responsible for the beneficial effects produced in the vast amount of clinical studies on the Reishi Mushroom.&nbsp; There is <strong>no other</strong> more powerful concentrated Superfood in the world than this!&nbsp; <br />
  <br />
          Reishi Triterpene Crystals, also sometimes called Triterpenes or Triterpenoids, are not available anywhere except through us.&nbsp; We have recieved the <strong>exclusive</strong> rights on this product.&nbsp; It's <strong>never</strong> been sold over the counter... <em>until now.</em>&nbsp; Although Reishi Triterpene Crystals weren't available over the counter, many clinical studies have been conducted using these Triterpene Crystals/Triterpenoids.<br />
  <br />
          These Reishi Triterpene Crystals are <strong>so effective</strong> at boosting our immune systems that they have the potential to kill tumors, plus even to have inhibitory effects on herpes and HIV, as shown in these clinical studies just below!&nbsp; <br />
  <br />
  <strong>Triterpene Extract Herpes Clinical Study Excerpt &amp; Link:</strong><br />
  "All of the triterpenoids, with the exception of 7a, were evaluated with respect to their inhibitory effects on the induction of Epstein-Barr virus <em>(Herpes)</em> early antigen.<br />
          All of the compounds tested showed<b> potent</b> inhibitory effects on EBV-EA induction (96-100% inhibition at 1 x 10(3) mol ratio/TPA)."<br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/14695801">http://www.ncbi.nlm.nih.gov/pubmed/14695801</a><br />
  <br />
  <strong> Triterpene Extract HIV Clinical Study Excerpts &amp; Links:</strong><br />
  "...showed significant anti-human immunodeficiency virus (anti-HIV)-1 protease activity with IC50 values of 20-90 microM."<br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/9810695">http://www.ncbi.nlm.nih.gov/pubmed/9810695</a><br />
  "Among these, ganoderic acid inhibited human immunodeficiency virus-1..." <a href="http://www.ncbi.nlm.nih.gov/pubmed/19801861">http://www.ncbi.nlm.nih.gov/pubmed/19801861</a><br />
  "Triterpenoids isolated from ganoderma spores showed significantly anti-HIV-1 protease, anti-tumor, and anti-complement activities. Triterpenoids are the main active constituents of ganoderma spores and show various bioactivities for its medicinal use."<br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22361494">http://www.ncbi.nlm.nih.gov/pubmed/22361494</a> <br />
  <br />
          At the end of this article I list<strong> three more</strong> Triterpene clinical studies on breast cancer and <strong>four</strong> on other types of cancer.&nbsp; On top of that you will see<strong> nine more</strong> anti-tumor and <strong>four more</strong> anti-cancer Reishi Spore or Triterpene clinical studies.&nbsp; <br />
  <br />
          If you think all of these clinical studies are incredible, we've stumbled across something that I feel to be even <strong>more</strong> profound than all this!<br />
  <br />
  <strong>In the clinical study <a href="http://www.ncbi.nlm.nih.gov/pubmed/21242065">here</a>, it states:</strong><br />
  <br />
          Three groups of Sprague-Dawley rats were preadministrated with GLS <i>(Reishi Spores) </i>at doses of <strong>2.0, 4.0</strong> and <strong>8.0 g/kg</strong>, respectively, for 3 weeks before the ICV STZ injury. <i>(ICV STZ is a Streptozotocin Injection that impacts the memory impairment of their brain, which is similar to what people with alzheimers go through)</i><br />
          In conclusion, preadministration with GLS at dose of <strong>8.0 g/kg</strong> in ICV STZ rats <strong>significantly</strong> reversed these abnormalities. In conclusion, preadministration with GLS might <strong>protect hippocampus</strong> from oxidative impairment and energy metabolism disturbance of ICV STZ. This may also provide useful information for future research on the pathogenesis and prevention of Alzheimer's disease (AD). <br />
  <br />
          This Clinical Study stated that <strong>highest</strong> dose of Reishi Spores have the potential to protect the Hippocampus of the brain.<br />
  <br />
  <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/hippocamp.jpg" align="right" border="0" /></a> <strong> What is the Hippocampus?</strong><br />
  <br />
          If you go to <strong>Wikipedia</strong> at the link <a href="http://en.wikipedia.org/wiki/Hippocampus">here</a> it states: <br />
  <br />
          It belongs to the limbic system and plays <strong>important</strong> roles in the consolidation of information from <strong>short-term memory</strong> to <strong>long-term memory</strong> and <strong>spatial navigation</strong>. <br />
          In <strong>Alzheimer's</strong> disease, the hippocampus is one of the <strong>first</strong> regions of the brain to suffer damage; memory loss and disorientation are included among the early symptoms. <br />
  <br />
          I wanted to find out more so I got this clinical study and it stated this below. <em>I posted the pages of this clinical study at the link <a href="http://www.therawfoodworld.com/reishialz.html">here</a>:</em> <br />
  <br />
          the present study showed that GLS pre administrated rats exhibited significant increase of the ATP content and CytOx level in Hippocampus, <strong>accompanied with marked improvements in spatial learning and memory</strong>.<br />
          Our present study showed that pretreatment with GLS reduced the incidence of neuron apoptosis in hippocampus in ICV STZ rats.<br />
          In conclusion, this study investigated the interventional effects of pre administration with GLS on ICV STZ model of Alzheimer&rsquo;s disease in rats. The results demonstrated that pre administration with H-GLS could alleviate oxidative stress and mitochondrial dysfunction in hippocampus of ICV STZ rats, protect neurons from apoptosis, and improve cognitive dysfunction. It is suggested this could have an effect in treatment of GLS neurodegenerative disorders, such as AD. <br />
  <br />
          These clinical studies state that <strong>high</strong> dosages of Reishi Spores have the potential to <strong>protect</strong> the hippocampus of the brain while at the same time <strong>improving</strong> congnitive dysfunction in <font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">the ICV STZ model of Alzheimer&rsquo;s disease in rats.</font><br />
  <br />
  <strong>I want to the Alzheimer's Association website and found crazy statistics out:</strong><br />
  <br />
  <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/alz7.jpg" align="middle" border="0" /></a> <br />
  <br />
          These statistics are <strong>crazy!</strong>&nbsp; <strong>1 in 3</strong> seniors die with Alzheimer's or another Dementia.&nbsp; <strong>Furthermore</strong>, on this website it states that Alzheimer's Disease is up <strong>68%</strong> from <strong>2000</strong> to <strong>2010</strong>!&nbsp; I'm pretty confident that many of us have a relative or loved one that has signs of Alzheimer's or another dementia, because of how common this disease is.&nbsp; This is a <strong>new</strong> <strong>phenomena</strong> and this wasn't happening to such an <strong>extreme</strong> in the past.<br />
  <br />
  <a href="http://www.therawfoodworld.com"><img src="http://www.therawfoodworld.com/images/adhands.jpg" align="right" border="0" /></a> <strong>Why is this all of a sudden happening to the elderly?!</strong><br />
  <br />
  <em>To me it's quite obvious.</em>&nbsp; If you look at the <strong>changes</strong> that our <strong>planet</strong> and <strong>diets</strong> have gone through over the last couple of generations, you will notice that there is <strong>more</strong> pollution and chemicals running through the air now than <strong>ever</strong> before and people are now eating processed foods like never before, when just a few generations ago processed foods didn't exist. <br />
  <br />
  <em>Now</em>, in this clinical study above, it stated that high dose of Reishi Spores <strong>protected</strong> the <strong>Hippocampus</strong> of the brain from the toxic chemical Streptozotocin and it protected the mice from the abnormalties associated with this <font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">ICV STZ model of Alzheimer&rsquo;s disease.</font><br />
  <br />
          Injecting straight Streptozotocin into a mouse seems like it is a <strong>heavy</strong> amount of chemical compounds all at once.&nbsp; We are breathing all sorts of chemicals <strong>all day long</strong> throughout our entire life, which may very well be one of the main reasons <strong>1 out of 3</strong> seniors dies with Alzheimer's disease.&nbsp; If you put all of these points together, it seems to me that our reishi spore products may have the potential to protect the hippocampus in our brain from developing Alzheimer's Disease in the long-run.&nbsp; Furthermore it states these results were <font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">accompanied with marked improvements in spatial learning and memory.&nbsp; Therefore, high doses of Reishi Spores I believe have the potential to help current victims with Alzheimer's disease.</font> <br />
  <br />
          In the clinical study <a href="http://www.ncbi.nlm.nih.gov/pubmed/19230404">here</a>, the conclusion insinuates that <strong>only</strong> <strong>high</strong> doses of Reishi Spores can make tumor cells <strong>Apoptosized</strong><em> (dead)</em>.&nbsp;<strong> See below:</strong><br />
  <br />
  <strong>"Conclusion:</strong> GLS has a direct inhibitory effect on tumor cell proliferation and its growth cycle, it can reduce the G2 phase; and <strong>high doses</strong> of GLS can also make tumor cells apoptosised."<br />
  <br />
          For the<strong> first time</strong> in history, we have the ability to take <strong>high</strong> dosages of the <strong>most</strong> potent constituents of the Reishi Mushroom at a <strong>reasonable</strong> price! This is SO exciting!<br />
  <br />
          If you go to <strong>Amazon.com</strong> and type in <em>Reishi Spore Oil</em>, the top two most popular and best-valued Reishi Spore Oils pop up, just as shown in the picture below.&nbsp; <strong>30 caps</strong> is over <strong>$137</strong> and <strong>90 caps</strong> is over <strong>$330</strong>.&nbsp; I am <strong>positive</strong> that it takes <strong>only</strong> <strong>1 - 1.5 drops</strong> of our <strong>extremely potent</strong> Reishi Spore Oil to get the <strong>same</strong> amount/strength of Spore Oil that they have in <strong>one</strong> cap.<br />
  <br />
  <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/reishiam.jpg" align="middle" border="0" /></a></font></font>
      </div>
      <p><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
            <br />
        If you click on the<strong> top</strong> Reishi Spore Oil product on <strong>Amazon</strong>, it states <em>"no additives or carriers"</em> but then right after that it states <em>"other ingredients: Rice Powder, gelatin (capsule)"</em>.&nbsp; <strong>This can be seen at the picture below:</strong><br />
            <br />
            <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/nocarriers.jpg" align="middle" border="0" /></a> <br />
        <br />
      </font></p>
      <p><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Our Reishi Spore Oil bottle has <strong>zero</strong> other ingredients and contains about <strong>500 drops</strong> of Reishi Spore Oil.&nbsp; If we were to price it the way that these other companies do, <strong>one bottle</strong> of this oil would cost <strong>over $1500</strong>.&nbsp; Our regular price is <strong>$147.97</strong> and today we are offering it <strong>'At-Cost'</strong> for <strong>$97</strong> or <strong>$87.30</strong> if you buy a pack of three bottles.&nbsp; <strong>On top of that</strong>, you can use the coupons shown at the bottom of this newsletter for an even bigger discount.&nbsp; <br />
            <br />
        You could <strong>literally</strong> take<strong> eight drops</strong> a day of this precious gold liquid for <strong>two months straight</strong> if you wish, with <strong>just one bottle</strong>.&nbsp; You could <strong>also</strong> choose to take an extraordinarily immune-boosting <strong>15 - 16 drops</strong> a day for <strong>one month!</strong><br />
        <br />
        Due to going <strong>directly</strong> to the source and purchasing <strong>large</strong> quantities, we are able to offer all of these <strong>potent, superior</strong> Reishi products at very <strong>reasonable</strong> prices.<br />
        <br />
        <strong> Reishi Spore Powder, 50 grams</strong> - Normally <strong>$72.97</strong>, today<strong> $48.97, </strong>&amp; 3+<strong> $44.07 each</strong><br />
            <strong>Reishi Spore Oil, 1oz</strong> - Normally<strong> $147.95</strong>, today <strong>$97.97, </strong>&amp; 3+<strong> $88.17 each</strong><br />
            <strong>Reishi Spore Triterpene Crystals</strong> - Normally <strong>$139.97</strong>, today <strong>$92.37,</strong> &amp; 3+<strong> $83.13 each</strong><br />
            <strong>Reishi Spore Variety Pack</strong> <em>(includes one of each product)</em> - Normally <strong>$360.89</strong>, today <strong>$215.38, </strong>&amp; 3+<strong> $193.84 each</strong><br />
        <br />
        On your <strong>first</strong> order, you <strong>may</strong> want to try <strong>one of each</strong> new product, to see which seems to work <strong>best</strong> for you.&nbsp; Our <strong>variety 3-pack</strong>, which consists of one of each product, represents <strong>10% off</strong> the <strong>'At-Cost'</strong> Pricing and if you get <strong>three</strong> of these variety packs, you receive even <strong>another 10% off</strong> on top, for the best value you will <strong>ever</strong> see on these products.&nbsp; I feel that the Triterpene Crystals are <strong>ideal</strong> for anyone dealing with serious conditions.&nbsp; However, I feel that everyone could definitely benefit from trying these Triterpene Crystals <strong>at least</strong> once, to <strong>initially</strong> boost your immune system and to experience their power.&nbsp; For daily maintenance, I <strong>personally</strong> like to take both the Spore Powder and Spore Oil, which taste <strong>really</strong> good and are also <strong>very</strong> powerful.&nbsp; They each have a slower absorption rate over time, while the Triterpene Crystals are like a powerful high dosage hit all at once.<strong><br />
          <br />
          If you are interested in ordering, the products are at the bottom of this page. </strong><br />
        <br />
        I sampled the Reishi Spore Powder <strong>first</strong> and I was <strong>flying</strong>!...&nbsp; and it tasted <strong>really good!</strong><br />
  <br />
        When I sampled this <strong>new</strong> and <strong>improved</strong> Reishi Spore Oil, I was kind of <strong>hesitant</strong> to do it right after taking the Reishi Spore Powder, because I was already flying.&nbsp; I thought I might not feel the <strong>full</strong> effect of it.&nbsp; I did it anyway and <em><strong>boy</strong></em> did I <strong>feel</strong> it!&nbsp; This Reishi Spore Oil is<strong> no doubt</strong> the second most powerful Superfood in the world.&nbsp; It also tasted really good.<br />
  <br />
        I <strong>then</strong> decided to try the Reishi Spore Triterpene Crystals.&nbsp; I was already <strong>flying</strong> from the first two products and I knew that I wouldn't be able to feel the effects...&nbsp; <em>or at least I <strong>thought</strong> that.&nbsp;</em> I like to take a high dosage of new products that I sample so I can <strong>feel</strong> the effect it has.&nbsp; I took about a 1/2 - 1 teaspoon of the Reishi Spore Powder and then an entire dropper-full of the Reishi Spore Oil.&nbsp; When I got to the Triterpene Crystals, I probably took about a 1/2 to 1 full teaspoon of it.&nbsp; I had no idea that it was <strong>extremely</strong> bitter. <em>Lol...</em>&nbsp; After I got past the bitter taste of taking such a <strong>high</strong> dosage, I had <strong>never</strong> felt a product bring me to a space such as this did.&nbsp;<strong> I was blown away!&nbsp;</strong> I was <strong>seriously</strong> debating if we should <strong>even bring</strong> a Superfood to the market, which was <strong>this</strong> powerful.&nbsp; You only need a <strong>pinch</strong> of these Triterpene Crystals.&nbsp; Our Reishi Spore Oil is no doubt <strong>100 Xs</strong> more potent than all other Reishi products on the market.&nbsp; These Triterpene Crystals take it to <strong>an entire new</strong> level, which I <strong>can't</strong> even begin to calculate yet.&nbsp; If you want to go <strong>hardcore</strong> with combating any of the issues mentioned in these clinical studies, I believe that these products have the potential to be the <strong>most</strong> effective in the world to help you with that.<br />
  <br />
  <strong>If you are interested in ordering our powerful Reishi Spore products "At-Cost", just scroll down to these products further below.&nbsp; This offer is good until April 30th, 2014 or as long as supplies last.</strong><br />
  <br />
  <strong>Here is a list of only <em>some</em> of the many clinical studies on <span data-scayt_word="Triterpenes" data-scaytid="497">Triterpenes</span>, <span data-scayt_word="Reishi" data-scaytid="480">Reishi</span> Spores and <span data-scayt_word="Reishi" data-scaytid="481">Reishi</span> Spore Oil that I came <span data-scayt_word="accross" data-scaytid="566">accross</span>:</strong><br />
  <br />
  <strong><span data-scayt_word="Triterpene" data-scaytid="493">Triterpene</span> Clinical Studies</strong><br />
  <br />
  <strong> Breast Cancer</strong><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22178684">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="498">pubmed</span>/22178684</a><br />
        In the present study, we found that GADM effectively inhibited cell proliferation and colony formation in MCF-7 human breast cancer cells, which was much stronger than that of MDA-MB-231 breast cancer cells. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22745075">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="499">pubmed</span>/22745075</a><br />
        In conclusion, ESAC exerts anti-proliferation effects by inducing DNA damage, G1 cell cycle arrest and apoptosis in human breast cancer cells. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/24204647">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="500">pubmed</span>/24204647</a><br />
        Our study also suggests that GAEE may be a potential agent for treatment of breast cancer. <br />
  <br />
  <strong> Cervical, Liver, Leukemia, Lymphoma, Tumor</strong><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/20615519">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="501">pubmed</span>/20615519</a><br />
        All of the compounds were assayed for their inhibitory activities against human HeLa cervical cancer cell lines. Some compounds exhibit significant cytotoxicity <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22263904">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="502">pubmed</span>/22263904</a><br />
        Among them, compound 4 showed cytotoxicity against HL-60 and CA46 cancer cell lines <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/11520245">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="503">pubmed</span>/11520245</a><br />
        showed significant cytotoxic activity against Hep G2, Hep G2,2,15, and P-388 tumor cells. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/17979098">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="504">pubmed</span>/17979098</a><br />
        resulted in significant inhibitory effects on PMA-induced MMP-9 activity and invasion of HepG(2 )cells. The results indicate that the lucidenic acids isolated from G. lucidum (YK-02) are anti-invasive bioactive components on hepatoma cells.<br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/21671206">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="505">pubmed</span>/21671206</a><br />
        had nerve growth factor-like neuronal survival-promoting effects, whereas compounds 1, and 4-7 showed brain-derived neurotrophic factor-like neuronal survival-promoting activities.<br />
  <br />
  <strong> <span data-scayt_word="Reishi" data-scaytid="482">Reishi</span> Spore Clinical Studies</strong><br />
  <br />
  <b>Anti-Tumor</b><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/12048161">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="506">pubmed</span>/12048161</a><br />
        The germinating spores and the SBGS of G. lucidum had remarkable antitumor effects in a dose-dependent manner, and could significantly inhibit three tumors with an inhibition of 80-90%.<br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/16011264"><span data-scayt_word="ttp" data-scaytid="598">http</span>://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="507">pubmed</span>/16011264</a><br />
        The total polysaccharides, Lzps processed antitumor activity against sarcoma 180 and Lewis lung cancer in mice and enhanced the NK cell activity. Lzps-1 is obtained for the first time from Ganoderma spore Lzps has anti-tumor activity. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19230404">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="508">pubmed</span>/19230404</a><br />
        CONCLUSION: GLS has a direct inhibitory effect on tumor cell proliferation and its growth cycle, it can reduce the G2 phase; and high doses of GLS can also make tumor cells apoptosised <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19540939">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="509">pubmed</span>/19540939</a><br />
        induced anti-tumor activity against Lewis lung cancer in mice Therefore, these results suggest that GSG is an effective immunomodulator and may be a promising adjuvant remedy for anti-tumor therapies. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/15289852">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="510">pubmed</span>/15289852</a><br />
        the spore of Ganoderma lucidum may possess potential anti-tumor and anti-angiogenic activities. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/14499024">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="511">pubmed</span>/14499024</a><br />
        Ganoderma lucidum has demonstrated strong activity against breast and prostate cancer cells <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/10923835">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="512">pubmed</span>/10923835</a><br />
        Triterpenes from the spores of Ganoderma lucidum and their cytotoxicity against meth-A and LLC tumor cells. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/18827358">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="513">pubmed</span>/18827358</a><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22541088">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="514">pubmed</span>/22541088</a><br />
        It is concluded that GLS can inhibit proliferation of lymphoma cells and induce the lymphoma cell apoptosis<br />
  <br />
  <b>Anti Cancer</b><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/16398597">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="515">pubmed</span>/16398597</a><br />
        conclusion: These findings provide evidences that GL-M has immunomodulating effects on human immune cells and therefore can be used as a natural adjuvant for cancer immunotherapy with DCs. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/16011264">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="516">pubmed</span>/16011264</a><br />
        The total polysaccharides, Lzps processed antitumor activity against sarcoma 180 and Lewis lung cancer in mice and enhanced the NK cell activity. Lzps-1 is obtained for the first time from Ganoderma spore Lzps has anti-tumor activity. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/14499024">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="517">pubmed</span>/14499024</a><br />
        Ganoderma lucidum has demonstrated strong activity against breast and prostate cancer cells <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22172327">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="518">pubmed</span>/22172327</a><br />
        our study for the first time suggests that active lipids of Ganoderma lucidum spores is able to enhance apoptosis in THP-1 cells <br />
  <br />
  <b>Immune Boosting</b><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19540939">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="519">pubmed</span>/19540939</a><br />
        induced anti-tumor activity against Lewis lung cancer in mice Therefore, these results suggest that GSG is an effective immunomodulator and may be a promising adjuvant remedy for anti-tumor therapies. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22537928">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="520">pubmed</span>/22537928</a><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/16398597">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="521">pubmed</span>/16398597</a><br />
        conclusion: These findings provide evidences that GL-M has immunomodulating effects on human immune cells and therefore can be used as a natural adjuvant for cancer immunotherapy with DCs. <br />
  <br />
  <b>Others (Diabetes, Anti-Aging, Free Radical Protection, Memory, etc.)</b><br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/20093034">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="522">pubmed</span>/20093034</a><br />
        The anti-aging activity of these compounds on yeast is comparable to a well-known substance, resveratrol. Based on results of the investigation of the mechanism of biological activity, ganodermasides A and B regulated UTH1 expression in order to extend the replicative life span of yeast. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/17569252">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="523">pubmed</span>/17569252</a><br />
        CONCLUSION: With disequilibrium of calcium homeostasis and damage to mitochondria, there might be excessive apoptosis in the epididymal cells of type 2 diabetes rats. Ganoderma lucidum spores could protect epididymal cells and counteract their apoptosis in diabetic condition. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/17201249">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="524">pubmed</span>/17201249</a><br />
        CONCLUSION: Cyt-C and calcium ion are involved in the damage of the testis. Ganoderma lucidum spores can protect the testis of NIDDM rats. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/18998461">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="525">pubmed</span>/18998461</a><br />
        CONCLUSION: Ganoderma lucidum spores can protect the testis of diabetic rats by reducing free radical-induced damage to the testicular tissue and enhancing the activity of SDH. <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/21242065">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="526">pubmed</span>/21242065</a><br />
        Three groups of Sprague-Dawley rats were preadministrated with GLS at doses of 2.0, 4.0 and 8.0 g/kg, respectively, for 3 weeks before the ICV STZ injury. In conclusion, preadministration with GLS at dose of 8.0 g/kg in ICV STZ rats significantly reversed these abnormalities. In conclusion, preadministration with GLS might protect hippocampus from oxidative impairment and energy metabolism disturbance of ICV STZ. This may also provide useful information for future research on the pathogenesis and prevention of Alzheimer's disease (AD). <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22659462">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="527">pubmed</span>/22659462</a><br />
        Protective effects of Ganoderma lucidum spore on cadmium hepatotoxicity in mice. In summary, G. lucidum spore is effective in protection against Cd(II)-induced hepatotoxicity <br />
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/21512225">http://www.ncbi.nlm.nih.gov/<span data-scayt_word="pubmed" data-scaytid="528">pubmed</span>/21512225</a><br />
        Both of them significantly extended the replicative lifespan of the K6001 yeast strain. Ganodermasides C and D regulated the expression of the gene for UTH1 to prolong the replicative lifespan of yeast. <br />
  <br />
  <strong>And there are so many more clinical studies that show how Reishi Spore products have the potential to be extremely beneficial in so many cases.</strong><br />
  <br />
  <strong>If you are interested in ordering our powerful Reishi Spore products "At-Cost", just scroll down to these products below.</strong><br />
  <br />
    </font></p></td>
  </tr>
</table>
<div align="center"></div>
<h2 style="color:#990000;font-size:36px;font-weight:bold;text-align:center;margin:0 0 20px;line-height:105%;">&nbsp;</h2>
<h2 style="color:#990000;font-size:36px;font-weight:bold;text-align:center;margin:0 0 20px;line-height:105%;">&nbsp;</h2>
