<!-- TITLE: The Most Powerful Superfood in the World - Guaranteed! -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="https://www.youtube.com/watch?v=QKHh17DHzbk">
<meta property="og:title" content="The Most Powerful Superfood in the World - Guaranteed!">
<meta property="og:type" content="video">
<meta property="og:image" content="https://i1.ytimg.com/vi/QKHh17DHzbk/maxresdefault.jpg">
<meta property="og:description" content="This Superfood has never been seen before in the History of the Health Movement.">
<meta property="og:video" content="http://www.youtube.com/v/QKHh17DHzbk?version=3&amp;autohide=1">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<style type="text/css">
<!--
.style2 {
	color: #cc5413;
	font-weight: bold;
}
.style3 {color: #993300}
.style7 {color: #cc5413}
.style9 {color: #006633}
.style11 {color: #006600}
.style12 {
	font-family: Tahoma;
	font-size: 36px;
	color: #cc5413;
}
-->
</style>
<div align="center">
<table width="1000" border="0" cellpadding="0">
    <tr>
      <td height="8073"><p align="center">&nbsp;</p>
        <p align="center">&nbsp;</p>
        <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 40px; font-family: Tahoma; font-weight: bold;">New Most Powerful Superfood is Here!</span></p>
        <p align="center">&nbsp;</p>
        <h3 style="text-align:center;font-size:24px;text-align:center;font-weight:normal; margin: 0px 0 25px 0;line-height:105%;">Click the video below to discover what this new Superfood is!</h3>
        <div align="center">
          <iframe width="735" height="413" src="//www.youtube.com/embed/QKHh17DHzbk?&rel=0&autoplay=0" frameborder="0"></iframe>
        </div>
        <p>&nbsp;</p>
        <table width="920" height="7487" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="110" height="7487"><p align="center">&nbsp;</p>            </td>
            <td width="810"><p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">The Superfood  I'm about to share </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">with you is the </span><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"><u><em>most powerful</em></u> </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Superfood in the world!</span></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center"><br />
              </p>
              <p align="center">&nbsp;</p>
              <p align="center" class="style11"><strong><font style="font-size: 20px; font-family: Tahoma;"><font style="font-size: 20px; font-family: Tahoma;">I’m a fanatic about food. I’ve been on a 100% Raw Food Diet for 16 years and when I take a supplement, it better be powerful. These three new Reishi Spore products far exceeded my expectations. I am blown away by these products </font></font></strong><font style="font-size: 20px; font-family: Tahoma;"><font style="font-size: 20px; font-family: Tahoma;">and believe you will be too.<strong> There is only so much I can say about the unprecedented potency of these products; I am so excited for you to try them and feel for yourself just how incredible and powerful these products are! </strong></font></font></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center"><br />
                  <font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="../images/rm55b.jpg" alt="" width="244" height="220" align="right" border="0" /></a></font></font> </p>
                  
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;">&nbsp;  One of the three products that we’re bringing you today has <strong>never</strong> been seen before in the history of the Superfoods movement.  There are<strong> three </strong>new<strong> incredibly</strong> powerful Superfoods, one of which is truly <em><strong>the</strong></em> most powerful Superfood in the world.  Furthermore, we are offering all <strong>three</strong> of these products <strong>at an INCREDIBLE DISCOUNT</strong> until April 30th, 2014! It doesn't get any better than this!</font></font></p>
              <p>&nbsp;</p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;">Nowadays it is <strong>critical</strong> to boost our immune systems and protect ourselves from pathogenic organisms and foreign substances which can cause sickness and disease.  It is <strong>widely</strong> known that the Reishi Mushroom is an <strong>ideal</strong> Superfood for supporting our immune systems.  When you hear what we have now done with the Reishi Mushroom, it will <strong>blow</strong> your mind.</font></font></p>
              <p>&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
               <p align="center">&nbsp;</p>   <p align="center">&nbsp;</p>
               <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Before I introduce this new product to </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">you, I feel </span><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">it's <u>key</u> to understand </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">that </span><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">'triterpenes' are the <u>most</u> powerful,</span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> important active constituents </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">of</span> <span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">the Reishi Mushroom.  </span></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
                <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
              </font></font></font></p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;"><strong>This <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3271404/">clinical study</a> found that Triterpenoids from Reishi were the most powerful part of the mushroom and showed significant anti-viral and anti-tumor activities:</strong> </font></font></p>
              <blockquote>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="8%">&nbsp;</td>
                    <td width="85%"><span style="color: #006600"><font style="font-size: 16px; font-family: Tahoma;"><font style="font-size: 16px; font-family: Tahoma;">&quot;...the triterpenoids were found to be the most important active substances for its numerous pharmacological uses.&nbsp; Triterpenoids isolated from ganoderma spores showed <strong>significantly</strong> anti-HIV-1 protease, anti-tumor, and anti-complement activities. <br />
  Triterpenoids are the main active constituents of ganoderma spores and show various bioactivities for its medicinal use.&quot;</font></font></span></td>
                    <td width="7%">&nbsp;</td>
                  </tr>
                </table>
                <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;"><br />
                </font></font></p>
              </blockquote>
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;"><br />
              The <strong>highest</strong> concentration of triterpenes are in the <em>spore</em> of the Reishi Mushroom.</font></font></p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;"><br />
                    <strong>1000 kg </strong>of dried <strong>Reishi Mushrooms</strong> produces about<strong> 1 kg </strong>of <strong>Spores</strong>.  It takes <strong>over 1000 kg</strong> of <strong>Reishi Spores</strong> to produce <strong>just</strong> a<strong> few kilograms</strong> of <strong>Spore Oil</strong>.  Pure Reishi Spore Oil is <strong>100 Xs more</strong> effective than <strong>all </strong>the other Reishi Supplements on the market today!  <br />
              <br />
              What we have for you today are three <strong>very powerful</strong> Cracked-Shell Reishi Spore products, the third one being the <strong>most</strong> powerful Superfood in the <strong>world</strong>.</font></font></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
                 <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">We are offering 3 potent, Cracked-Shell</span></p>
                 <p align="center">&nbsp;</p>
                 <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> Reishi Spore products, the third being the </span></p>
                 <p align="center">&nbsp;</p>
                 <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">most powerful Superfood in the world.</span></p>
                 <p align="center">&nbsp;</p>
                 <p align="center">&nbsp;</p>
              <p>&nbsp;</p>
              <p align="center"><img src="../images/reishi_shot.jpg" width="483" height="333" /></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="17%"><p><img src="../images/reishi_rsp.jpg" /></p>                  </td>
                  <td width="83%"><p>&nbsp;</p>
                    <p align="left"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Product 1: Reishi Spore Powder</span> </p>
                    <p>&nbsp;</p>
                    <font style="font-size: 16px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Our Reishi Spore Powder is simply the highest quality and most potent Reishi Spores in the world. It is more powerful than any other standard Reishi product on the market, hands down. You will definitely feel the difference! </font>
                    <p></p>
                    <p align="left"> </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p></p></td>
                </tr>
                <tr>
                  <td><p><img src="../images/reishi_rso.jpg" /></p>                  </td>
                  <td><p>&nbsp;</p>
                    <p><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Product 2: Reishi Spore Oil</span></p>
                    <p>&nbsp;</p>
                    <p><span style="font-weight: bold"><em><font style="font-size: 16px; font-family: verdana,geneva,arial,helvetica,sans-serif;">(New & Improved 10 Xs Stronger!)</font></em></span> <br />
                        <font style="font-size: 16px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Our previous Reishi Spore Oil product was the most potent and best priced Reishi Spore Oil on the market. We found a way to use zero carriers with the Reishi. We've vacuum-sealed the bottles and we placed a metal cap on top which prevents oxidation. Inside this bottle is simply pure Reishi Spore Oil and no other ingredients! </font> </p>
                    <p> </p>
                    <p> </p>
                    <p>&nbsp;</p>
                    <p><br />
                    </p></td>
                </tr>
                <tr>
                  <td height="282"><p><img src="../images/reishi_tc.jpg" /></p>                  </td>
                  <td><p><br />
                  </p>
                    <p><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Product 3: Reishi Triterpene Crystals</span></p>
                    <p>&nbsp;</p>
                    <p><font style="font-size: 16px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><em><strong>(extract from Reishi Spores!) </strong></em><br />
                      For the first time ever in history, we have discovered a way to extract the most powerful constituent of the Reishi Mushroom!... The Triterpene Crystals. This product consists of simply Reishi Triterpene Crystals! Oh man... This product is the most potent and important active constituent of the entire Reishi Mushroom, which is responsible for the beneficial effects produced in the vast amount of clinical studies on the Reishi Mushroom. There is no other more powerful concentrated Superfood in the world than this!</font></p>                  </td>
                </tr>
              </table>
              <p>
              <font style="font-size: 15px; font-family: Tahoma;">Reishi Triterpene Crystals, also sometimes called Triterpenes or Triterpenoids, are not available anywhere except through us.&nbsp; We have recieved the <strong>exclusive</strong> rights on this product.&nbsp; It's <strong>never</strong> been sold over the counter... <em>until now.</em>&nbsp; Although Reishi Triterpene Crystals weren't available over the counter, many clinical studies have been conducted using these Triterpene Crystals/Triterpenoids.<br />
              </font>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
              </font></p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">These Reishi Triterpene Crystals are so </span></p>
                <p align="center">&nbsp;</p>
                <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">effective at boosting our immune systems </span></p>
                <p align="center">&nbsp;</p>
                <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">that they have the potential to kill tumors,</span></p>
                <p align="center">&nbsp;</p>
                <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> plus even to have inhibitory effects on </span></p>
                <p align="center">&nbsp;</p>
                <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">herpes and HIV, as shown in the clinical </span></p>
                <p align="center">&nbsp;</p>
                <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">studies below! </span>                </p>
                <p align="center">&nbsp;</p>
                <p align="center">&nbsp;</p>
                <p align="center"><br />
                </p>
              </p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="29%"><p>&nbsp;</p>
                  <p><img src="../images/lab.jpg" width="213" height="240" /></p></td>
                  <td width="71%" rowspan="2"><p><font style="font-size: 15px; font-family: Tahoma;"><br />
                            <strong>Study discovers that Triterpene Extract has potent anti-herpes effects:</strong></font></font></p>
                    <p><font style="font-size: 16px; font-family: Tahoma;"><span class="style11"><br />
&quot;All of the triterpenoids, with the exception of 7a, were evaluated with respect to their inhibitory effects on the induction of Epstein-Barr virus <em>(Herpes)</em> early antigen.<br />
                    All of the compounds tested showed<b> potent</b> inhibitory effects on EBV-EA induction (96-100% inhibition at 1 x 10(3) mol ratio/TPA).&quot;</span><span class="style9"><br />
                    <a href="http://www.ncbi.nlm.nih.gov/pubmed/14695801">http://www.ncbi.nlm.nih.gov/pubmed/14695801</a></span><br />
                    </font></font></p>
                    <p><font style="font-size: 16px; font-family: Tahoma;"><br />
                    <strong> 3 studies show that Reishi Triterpene Extract combats HIV:</strong></font></font></p>
                    <p><font style="font-size: 16px; font-family: Tahoma;"><br />
                        <span class="style11">&quot;...showed significant anti-human immunodeficiency virus (anti-HIV)-1 protease activity with IC50 values of 20-90 microM.&quot;</span><br />
                    <a href="http://www.ncbi.nlm.nih.gov/pubmed/9810695">http://www.ncbi.nlm.nih.gov/pubmed/9810695</a><br />
                    <span class="style11">&quot;Among these, ganoderic acid inhibited human immunodeficiency virus-1...&quot; </span><a href="http://www.ncbi.nlm.nih.gov/pubmed/19801861">http://www.ncbi.nlm.nih.gov/pubmed/19801861</a><br />
  <span class="style11">&quot;Triterpenoids isolated from ganoderma spores showed significantly anti-HIV-1 protease, anti-tumor, and anti-complement activities. Triterpenoids are the main active constituents of ganoderma spores and show various bioactivities for its medicinal use.&quot;</span><br />
                    <a href="http://www.ncbi.nlm.nih.gov/pubmed/22361494">http://www.ncbi.nlm.nih.gov/pubmed/22361494</a> <br />
                    <br />
                    <br />
                    </font></font></p>
                    <font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">
                    <p></p>
                  </font></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> If you think all of these clinical studies are</span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> incredible, we've stumbled across </span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">something that I feel to be even <em>more</strong></em> </span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">profound than all this! </span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p><br />
            <br />
              <font style="font-size: 15px; font-family: Tahoma;"><strong>This <a href="http://www.ncbi.nlm.nih.gov/pubmed/21242065">clinical study</a> showed that Reishi spores significantly reduced abnormalities commonly associated with Alzheimer’s in rats’ brains:</strong></font></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <blockquote>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="8%">&nbsp;</td>
                    <td width="85%"><font style="font-size: 16px; font-family: Tahoma;">&quot;Three groups of Sprague-Dawley rats were preadministrated with GLS <i>(Reishi Spores) </i>at doses of <strong>2.0, 4.0</strong> and <strong>8.0 g/kg</strong>, respectively, for 3 weeks before the ICV STZ injury. <i>(ICV STZ is a Streptozotocin Injection that impacts the memory impairment of their brain, which is similar to what people with alzheimers experience)</i><br />
In conclusion, preadministration with GLS at dose of <strong>8.0 g/kg</strong> in ICV STZ rats <strong>significantly</strong> reversed these abnormalities. In conclusion, preadministration with GLS might <strong>protect hippocampus</strong> from oxidative impairment and energy metabolism disturbance of ICV STZ. This may also provide useful information for future research on the pathogenesis and prevention of Alzheimer's disease (AD).&quot;</font></td>
                    <td width="7%">&nbsp;</td>
                </tr>
                </table>
                <p><font style="font-size: 15px; font-family: Tahoma;"><br />
                <br />
                </font></p>
              </blockquote>
              <p><font style="font-size: 15px; font-family: Tahoma;"><br />
              <br />
              The study concluded that Reishi spores may protect the brain’s hippocampus from impairments and disturbances associated with Alzheimer’s disease!

</font></p>
              <p><font style="font-size: 15px; font-family: Tahoma;">The study also found that <strong>high doses</strong> of Reishi Spores have the potential to <strong>protect</strong> the Hippocampus of the brain.<br />
              </font></p>
              <p align="center">&nbsp;</p> <p align="center">&nbsp;</p> <p align="center">&nbsp;</p>
              <p align="center"><font style="font-size: 36px; font-family: Tahoma;"><br />
                  <span class="style2"> What is the Hippocampus?</span></font></p> <p align="center">&nbsp;</p> <p align="center">&nbsp;</p>
              <p align="center"><font style="font-size: 15px; font-family: Tahoma;"><a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="http://www.therawfoodworld.com/images/hippocamp.jpg" align="center" border="0" /></a><br />
              <br />
              From <strong><a href="http://en.wikipedia.org/wiki/Hippocampus">Wikipedia</a>: </strong></font></p>
              <blockquote>
                <p><font style="font-size: 15px; font-family: Tahoma;"><br />
                <br />
                </font></p>
              </blockquote>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="8%">&nbsp;</td>
                  <td width="85%"><span style="color: #006600"><font style="font-size: 16px; font-family: Tahoma;">“(The  Hippocampus)  belongs to the limbic system and plays <strong>important</strong> roles in the consolidation of information from <strong>short-term memory</strong> to <strong>long-term memory</strong> and <strong>spatial navigation</strong>. <br />
In <strong>Alzheimer's</strong> disease, the hippocampus is one of the <strong>first</strong> regions of the brain to suffer damage; memory loss and disorientation are included among the early symptoms.&quot; </font></span></td>
                  <td width="7%">&nbsp;</td>
                </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><br />
              <br />
              <strong>I found another clinical study on Reishi Spores’ protective effects on the Hippocampus of the brain</strong>  <a href="http://www.therawfoodworld.com/reishialz.html">here</a>:</em></font></p>
              <blockquote>
                <p>&nbsp;</p>
                <p><font style="font-size: 15px; font-family: Tahoma;"><br /><p><br />
                </p>
                </font>
                </p>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="8%">&nbsp;</td>
                    <td width="83%"><span style="color: #006600"><font style="font-size: 16px; font-family: Tahoma;">&quot;...the present study showed that GLS pre administrated rats exhibited significant increase of the ATP content and CytOx level in Hippocampus, <strong>accompanied with marked improvements in spatial learning and memory</strong>.<br />
Our present study showed that pretreatment with GLS reduced the incidence of neuron apoptosis in hippocampus in ICV STZ rats.<br />
In conclusion, this study investigated the interventional effects of pre administration with GLS on ICV STZ model of Alzheimer&rsquo;s disease in rats. The results demonstrated that pre administration with H-GLS could alleviate oxidative stress and mitochondrial dysfunction in hippocampus of ICV STZ rats, protect neurons from apoptosis, and improve cognitive dysfunction. It is suggested this could have an effect in treatment of GLS neurodegenerative disorders, such as AD.&quot;</font></span></td>
                    <td width="9%">&nbsp;</td>
                  </tr>
                </table>
                <p>&nbsp;</p>
              </blockquote>
              <p>&nbsp;</p><p>&nbsp;</p>
              <p>&nbsp;</p><p>&nbsp;</p>
              <font style="font-size: 15px; font-family: Tahoma;"><br />
              <br />
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> This study concluded that high doses of </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Reishi Spores resulted in improvements </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">in spatial learning and memory, and </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">protected neurons!  The study concluded </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">that Reishi Spores could be a valuable </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">preventative treatment to protect the </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">brain from diseases such as Alzheimer’s.</span></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <br />
              <br />
              <strong>I found some alarming statistics on the Alzheimer's Association website:</strong></font></p>
              <p align="center"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
                      <br />
                    <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="../images/facts.jpg" align="middle" border="0" /></a> </font></font></p>
             <p><font style="font-size: 15px; font-family: Tahoma;">
             <p><font style="font-size: 15px; font-family: Tahoma;"><br />
               <br />
               These statistics are <strong>crazy!  1 in 3 </strong>seniors die with Alzheimer's or Dementia.  The same website states that Alzheimer's Disease rates increased <strong>68%</strong> from<strong> 2000 </strong>to <strong>2010!</strong>  Many of us have relatives or loved one with symptoms of Alzheimer's or dementia.  This is a <strong>new phenomena </strong>that was not at all common in the past.
               
              </font></p>
             <p>&nbsp;</p>
             <p><font style="font-size: 15px; font-family: Tahoma;"><strong>Why is this suddenly happening to our elderly?! </strong></font></p>
             <p><font style="font-size: 15px; font-family: Tahoma;"><a href="http://www.therawfoodworld.com"><img src="http://www.therawfoodworld.com/images/adhands.jpg" align="right" border="0" /></a></font></p>
             <p><font style="font-size: 15px; font-family: Tahoma;">To me it's quite obvious.  Consider the <strong>changes</strong> that our<strong> planet</strong> and <strong>diets</strong> have gone through over the last few generations - there is <strong>more</strong> pollution and chemicals in our environment now than <strong>ever</strong> before and most people eat highly processed, refined, chemical-laced diets, when just a few generations ago processed foods didn't even exist.</font></p>
             <p>&nbsp;</p>
             <p><font style="font-size: 15px; font-family: Tahoma;">The two clinical studies above showed that Reishi Spores <strong>protected</strong> the<strong> Hippocampus</strong> of the brain from a toxic chemical, guarding the rodents from chemical damage that can lead to abnormalities associated with Alzheimer’s disease.
              </font></p>
             <p>&nbsp;</p>
             <p><font style="font-size: 15px; font-family: Tahoma;">We are all breathing in countless types of chemicals <strong>all day long</strong> in our modern world, which may very well be one of the main reasons<strong> 1 out of 3</strong> seniors currently dies with Alzheimer's disease.  These studies concluded that high doses of Reishi Spore products may have the potential to protect the Hippocampus in our brains from developing Alzheimer's Disease in the long-run.  Furthermore, these results were accompanied by marked improvements in spatial learning and memory.  Therefore, I believe that high doses of Reishi Spores have the potential to help people currently dealing with Alzheimer's disease. <br />
              <br />
              <br />
                                                                  </font></p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> <span class="style3"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19230404" target="_blank">This clinical study</a></span> showed that high</span></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> doses of Reishi Spores kill tumor cells:</span></p>
              <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td width="8%">&nbsp;</td>
                 <td width="83%"><font style="font-size: 16px; font-family: Tahoma;"><span class="style11"><strong>"Conclusion:</strong> GLS has a direct inhibitory effect on tumor cell proliferation and its growth cycle, it can reduce the G2 phase; and <strong>high doses</strong> of GLS can also make tumor cells apoptosised."</span><br />
                 </font></td>
                 <td width="9%">&nbsp;</td>
               </tr>
             </table>
             <p><font style="font-size: 15px; font-family: Tahoma;"><br />
               <br />
              <br />
              </font></p>
             <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
             <p><font style="font-size: 15px; font-family: Tahoma;"><br />
                        </font></p>
             <font style="font-size: 15px; font-family: Tahoma;">
             <p align="center">&nbsp;</p>
             </font>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> For the <u> first time</u> in history, we have the </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">ability to take <u>high dosages</u> of the most </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">potent constituents of the Reishi Mushroom</span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> at a <u>reasonable</u> price! This is SO exciting!</span></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;">
    <p align="center">&nbsp;</p>
     
    
     </font></font><div align="center">
       <p align="left"><font style="font-size: 15px; font-family: Tahoma;"><strong>Amazon.com’s</strong> current top two most popular and best-valued Reishi Spore Oil products are shown in the photo below.<strong> 30 caps</strong> is over <strong>$137</strong> and <strong>90 caps</strong> is over <strong>$330</strong>.  I am <strong>positive</strong> that it takes <strong>only 1 - 1.5 drops</strong> of our <strong>extremely potent</strong> Reishi Spore Oil to get the <strong>same </strong>amount/strength of Spore Oil that these other products have in <strong>one</strong> cap.</font></p>
       <p><font style="font-size: 15px; font-family: Tahoma;"><br />
        </font><p>&nbsp;</p>
         <font style="font-size: 15px; font-family: Tahoma;"><br />
         <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><a href="../images/nocarriers2.jpg"><img src="../images/reishiam2.jpg" align="middle" border="0" /></a></font></div>
               <div align="center">
                <p>&nbsp;</p>
                 <p>&nbsp;</p>
                <p align="left"><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;"><br />
                 If you click on the <strong>top</strong> Reishi Spore Oil product on <strong>Amazon</strong>, it claims "no additives or carriers" yet right after that it states "other ingredients: Rice Powder, gelatin (capsule)".  <strong>This can be seen at the picture below:</strong></font></p>
                 <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <br />
                  <a href="http://www.therawfoodworld.com/at-cost-specials-l36"><img src="../images/nocarriers2.jpg" align="middle" border="0" /></a> <br />
                  <br />
              </div>
               <p>&nbsp;</p>
                <p>&nbsp;</p>
              <p>
              <p><font style="font-size: 15px; font-family: Tahoma;">Our Reishi Spore Oil bottle has <strong>zero</strong> other ingredients and contains about <strong>500 drops</strong> of Reishi Spore Oil.&nbsp; If we were to price it the way that these other companies do, <strong>one bottle</strong> of this oil would cost <strong>over $1500</strong>.&nbsp; Our regular price is <strong>$147.97</strong> and today we are offering it <strong>At AN INCREDIBLE DISCOUNT</strong> for <strong>$97</strong>, or <strong>$87.30</strong> for a 3-pack.&nbsp; <strong>On top of that</strong>, you can use the coupons shown at the bottom of this newsletter for an even bigger discount.&nbsp; <br />
                    <br />
                You could <strong>literally</strong> take<strong> eight drops</strong> a day of this precious gold liquid for <strong>two months straight</strong> if you wish, with <strong>just one bottle</strong>.&nbsp; You could <strong>also</strong> choose to take an extraordinarily immune-boosting <strong>15 - 16 drops</strong> a day for <strong>one month!</strong><br />
  <br />
              Due to going <strong>directly</strong> to the source and purchasing <strong>large</strong> quantities, we are able to offer all of these <strong>potent, superior</strong> Reishi products at very <strong>reasonable</strong> prices.</font></p>
              <p><font style="font-size: 22px; font-family: Tahoma;"><br />
              <br />
              <span class="style7"><strong>Reishi Spore Powder, 50 grams</strong> - </span></font></p>
              <p><font style="font-size: 16px; font-family: Tahoma;">Normally <strong>$72.97</strong>, today<strong> $48.97, </strong>&amp; 3+<strong> $44.07 each</strong></font></p>
              <p><font style="font-size: 22px; font-family: Tahoma;"><br />
                  <span class="style7"><strong>Reishi Spore Oil, 1oz</strong> - </span></font></p>
              <p><font style="font-size: 16px; font-family: Tahoma;">Normally<strong> $147.95</strong>, today <strong>$97.97, </strong>&amp; 3+<strong> $88.17 each</strong></font></p>
              <p><font style="font-size: 22px; font-family: Tahoma;"><br />
                  <span class="style7"><strong>Reishi Spore Triterpene Crystals</strong> - </span></font></p>
              <p><font style="font-size: 16px; font-family: Tahoma;">Normally <strong>$139.97</strong>, today <strong>$92.37,</strong> &amp; 3+<strong> $83.13 each</strong></font></p>
              <p><font style="font-size: 22px; font-family: Tahoma;"><br />
                  <span class="style7"><strong>Reishi Spore Variety Pack</strong></span> <em>(includes one of each product)</em> - </font></p>
              <p><font style="font-size: 16px; font-family: Tahoma;">Normally <strong>$360.89</strong>, today <strong>$215.38, </strong>&amp; 3+<strong> $193.84 each</strong></font></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><br />
                The <strong>variety 3-pack </strong>consists of one of each product at an additional <strong>10% off </strong>the <strong>Incredible Discount</strong> Pricing. <strong>Another 10% off </strong>is given if you purchase <strong>three</strong> or more of these variety packs! 
</font></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><font style="font-size: 15px; font-family: Tahoma;">Triterpene Crystals are <strong>ideal </strong>for anyone dealing with serious conditions.  However, everyone could definitely benefit from trying these Triterpene Crystals <strong>at least </strong>once to boost the immune system and experience their power.  For daily maintenance, I <strong>personally</strong> take both the Spore Powder and Spore Oil.  They each have a slower absorption rate over time, while the Triterpene Crystals are quickly absorbed and the potent effects are immediately felt.<br />
              </font></p>
              <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                   <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> It is impossible to fully describe the </span></p>
                   <p align="center">&nbsp;</p>
                   <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">potency of these unique Superfoods… </span></p>
                   <p align="center">&nbsp;</p>
                   <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">I’m so excited that now you can feel </span></p>
                   <p align="center">&nbsp;</p>
                   <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">for yourself just how awesome these</span></p>
                   <p align="center">&nbsp;</p>
                   <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> Reishi products are!</span></p>
                   <p align="center">&nbsp;</p>
                   <p align="center">&nbsp;</p>
                   <p align="center">&nbsp;</p>
                   <p align="center">&nbsp;</p>
                 <p align="center"><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><img src="../images/brain.jpg" width="376" height="289" /></font><img src="../images/Immunity.jpg" width="406" height="290" /></p>
                 <p>&nbsp;</p>
                 <p>&nbsp;</p>
                 <p>&nbsp;</p>
                 <p>&nbsp;</p>
              <p><font style="font-size: 15px; font-family: Tahoma;"><font style="font-size: 15px; font-family: Tahoma;"><br />
              <strong>If you are interested in ordering our powerful Reishi Spore products "At-Cost", just scroll down to these products further below.&nbsp; This offer is good until April 30th, 2014 or as long as supplies last.</strong><br />
              <br />
              <strong>Here is a list of only <em>some</em> of the many clinical studies on <span data-scayt_word="Triterpenes" data-scaytid="497">Triterpenes</span>, <span data-scayt_word="Reishi" data-scaytid="480">Reishi</span> Spores and <span data-scayt_word="Reishi" data-scaytid="481">Reishi</span> Spore Oil that I came <span data-scayt_word="accross" data-scaytid="566">accross</span>:</strong></font></p>
              <p align="center"><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
              </font></p>
              <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center"><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
              <br />
              </font></p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> <span data-scayt_word="Triterpene" data-scaytid="493">Triterpene</span> Clinical Studies</span></p>
              <p align="left">&nbsp;</p>
              <p align="left">&nbsp;</p>
              <p align="left">&nbsp;</p>
              <p align="left">&nbsp;</p>
              <p align="left"><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><strong>Breast Cancer</strong></font></p>
              <p align="left"><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
                                                </font></p>
              <ul>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi Triterpene Extract found to inhibit breast cancer cell proliferation <a href="http://www.ncbi.nlm.nih.gov/pubmed/22178684" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> A solution of mainly Reishi Triterpenes halts the ability of breast cancer cells to proliferate by damaging the cancer cells’ DNA <a href="http://www.ncbi.nlm.nih.gov/pubmed/22745075" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Study suggests that Reishi Triterpenes may be a potential agent for treatment of breast cancer due to its ability to disrupt cancer growth. <a href="http://www.ncbi.nlm.nih.gov/pubmed/24204647" target="_blank"><strong>(Read study)</strong></a></font></li>
              </ul>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Cervical, Liver, Leukemia, Lymphoma, Tumors</font></strong></p>
              <p>&nbsp;</p>
              <ul>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Isolated Reishi Triterpenoids found to attack cervical cancer <a href="http://www.ncbi.nlm.nih.gov/pubmed/20615519" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Triterpenoids and other compounds isolated from Reishi attack several different cancer cell lines<a href="http://www.ncbi.nlm.nih.gov/pubmed/22263904" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Several Triterpenoids and other compounds isolated from Reishi found to attack several different tumor cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/11520245"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Triterpenoids extracted from Reishi discovered to inhibit the growth and spread of liver cancer cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/17979098" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Triterpenoids isolated from Reishi shown to have protective and growth stimulating effects on healthy brain cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/21671206" target="_blank"><strong>(Read study) </strong></a></font></li>
              </ul>
              <p>&nbsp;</p>
              <p><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;"><br />
              </font></p>
                             <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">Reishi Spore Clinical Studies </span></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Anti Tumor </font></strong></p>
              <p>&nbsp;</p>
              <blockquote>
                <ul>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores had remarkable antitumor effects and significantly inhibit three different tumors <a href="http://www.ncbi.nlm.nih.gov/pubmed/12048161" target="_blank"><strong>(Read study) </strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">A Polysaccharide isolated from Reishi displays antitumor activity against sarcoma and lung cancer in mice<a href="http://www.ncbi.nlm.nih.gov/pubmed/16011264" target="_blank"><strong>(Read study) </strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores inhibit tumor cell proliferation growth and high doses of reishi spores can also kill cancer cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/19230404" target="_blank"><strong>(Read study)</strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi spores display anti-tumor activity against Lewis lung cancer in mice and may be a promising adjuvant remedy for anti-tumor therapies.<a href="http://www.ncbi.nlm.nih.gov/pubmed/19540939" target="_blank"><strong> (Read study) </strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores may possess potential anti-tumor and anti-angiogenic activities. <a href="http://www.ncbi.nlm.nih.gov/pubmed/15289852" target="_blank">(Read study)</a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi has demonstrated strong activity against breast and prostate cancer cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/14499024" target="_blank"><strong>(Read study) </strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Triterpenes from the spores of Reishi attack 2 types of tumor cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/10923835" target="_blank"><strong>(Read study) </strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Long Chain fatty acids in Reishi may possess anti-tumor activity <a href="http://www.ncbi.nlm.nih.gov/pubmed/18827358" target="_blank"><strong>(Read study) </strong></a></font></li>
                  <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores can inhibit proliferation of lymphoma cells and induce the lymphoma cancer cell death <a href="http://www.ncbi.nlm.nih.gov/pubmed/22541088" target="_blank"><strong>(Read study)</strong></a></font></li>
                </ul>
              </blockquote>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Anti Cancer</font></strong></p>
              <p>&nbsp;</p>
              <ul>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi mycelium and Reishi spores showed strengthening effects on the immune system and maybe be useful as a natural adjuvant to immunotherapy cancer treatments <a href="http://www.ncbi.nlm.nih.gov/pubmed/16398597" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">A polysaccharide isolated from Reishi shows anti-tumor activity against sarcoma and lung cancer <a href="http://www.ncbi.nlm.nih.gov/pubmed/16011264" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Ganoderma lucidum has demonstrated strong activity against breast and prostate cancer cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/14499024" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi spores contain lipids that attack cancer cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/22172327" target="_blank"><strong>(Read study)</strong></a></font></li>
              </ul>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Immune Boosting </font></strong></p>
              <p>&nbsp;</p>
              <ul>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">A polysaccharide isolated from Reishi found to stimulate the immune system and induce anti-tumor activity against lung cancer cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/19540939" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Spores from Reishi found to strengthen human immune system <a href="http://www.ncbi.nlm.nih.gov/pubmed/22537928" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spore extracts and mycelium benefit human immune cells and may be beneficial adjuvants to cancer immunotherapy<strong> <a href="http://www.ncbi.nlm.nih.gov/pubmed/16398597" target="_blank">(Read study) </a></strong></font></li>
              </ul>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong><font style="font-size: 18px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Others (Diabetes, Anti-Aging, Free Radical Protection, Memory, etc.) </font></strong></p>
              <p>&nbsp;</p>
              <ul>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores contain compounds with possible anti-aging effects <a href="http://www.ncbi.nlm.nih.gov/pubmed/20093034" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi spores could help protect epiddymal cells that would otherwise be damaged in a diabetic condition <a href="http://www.ncbi.nlm.nih.gov/pubmed/17569252" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi spores can protect the testes of diabetic rats from damage associated with the diabetic condition <a href="http://www.ncbi.nlm.nih.gov/pubmed/18998461" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores can protect the testis of diabetic rats by reducing free radical-induced damage to the testicular tissue <a href="http://www.ncbi.nlm.nih.gov/pubmed/21242065" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Reishi spores may protect the hippocampus in the brain, this may provide useful information for future research on the pathogenesis and prevention of Alzheimer's disease <a href="http://www.ncbi.nlm.nih.gov/pubmed/22659462" target="_blank"><strong>(Read study) </strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;">Reishi spores have protective effect on the liver of mice against cadmium induced toxicity <a href="http://www.ncbi.nlm.nih.gov/pubmed/22659462" target="_blank"><strong>(Read study)</strong></a></font></li>
                <li><font style="font-size: 13px; font-family: verdana,geneva,arial,helvetica,sans-serif;"> Anti-aging effects of ergosterols isolated from the spores of Reishi <a href="http://www.ncbi.nlm.nih.gov/pubmed/21512225" target="_blank"><strong>(Read study) </strong></a></font></li>
              </ul>              <p>&nbsp;</p>
              <p>&nbsp;</p>
               <p align="center">&nbsp;</p>
                <p align="center">&nbsp;</p>
                
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">And there are so many more clinical studies</span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> that show how Reishi Spore products</span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> have</span><span class="style12"> </span><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">the potential to be extremely </span></p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">beneficial in</span><span class="style12"> </span><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">so many cases. </span></p>
              <p align="center">&nbsp;</p> <p align="center">&nbsp;</p> <p align="center">&nbsp;</p>
            <p align="center"><img src="../images/brain-power.jpg" width="240" height="269" /></p>
             <p align="center">&nbsp;</p> <p align="center">&nbsp;</p> <p align="center">&nbsp;</p>
              <p align="center">&nbsp;</p>
              <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">If you are interested in ordering our </span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">powerful Reishi Spore products <strong>at</strong></span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"><strong> an INCREDIBLE DISCOUNT </strong> </span><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;">just</span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="titl" style="color: #cc5413; margin: 50px 0; font-size: 36px; font-family: Tahoma; font-weight: bold;"> scroll down to these products below.</span></p>
            <p align="center">&nbsp;</p>
            <p align="center"><img src="../images/a1.jpg" width="300" height="273" /></p>
            </td>
          </tr>
      </table>      </td>
  </tr>
  </table>
