<!-- TITLE: Spiral Slicers -->
<!-- METABEGIN --->
<meta property="og:site_name" content="The Raw Food World">
<meta property="og:url" content="http://www.youtube.com/watch?v=DaJ1gGR0hRo">
<meta property="og:title" content="Spirooli and Spiral Slicer in Action">
<meta property="og:type" content="video">
<meta property="og:image" content="https://i1.ytimg.com/vi/DaJ1gGR0hRo/maxresdefault.jpg">
<meta property="og:description" content="The spirooli and spiral slicer are by far the two best slicers to make zucchini pasta with!">
<meta property="og:video" content="http://www.youtube.com/v/DaJ1gGR0hRo?autohide=1&amp;version=3">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<!-- METAEND --->
<big><big><strong><center>
Click the video below to see the Spirooli and Spiral Slicer in action!
</center></strong></big></big>
<br /><br />
<iframe width="735" height="413" src="//www.youtube.com/embed/DaJ1gGR0hRo?&rel=0" frameborder="0" allowfullscreen></iframe>
<br /><br /><br />