<?
ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
//getInfo($ROOT_DIR,$DB,$mysqlid);

function getInfo($ROOT_DIR,$DB,$mysqlid) {
    $conn_id = ftp_connect('ftp.globegisticsinc.com', 21) or die ("Cannot connect to host");

    // send access parameters
    ftp_login($conn_id, 'BUTPHONY', 'butphony123') or die("Cannot login");

    // turn on passive mode transfers (some servers need this)
    // ftp_pasv ($conn_id, true);
    //	 print_r("dir---".ftp_pwd($conn_id));
     ftp_chdir($conn_id,"/INCOMING/");
    // print_r("dir---".ftp_pwd($conn_id));
    // perform file upload
    //    print_r($ftp_path);
    //    print_r($filename);
    $files = ftp_nlist($conn_id,"");
		if (count($files)>0) {
			foreach ($files as $k=>$v) {
                if(substr($v, 0,3)=='GLB') {
                    if(!is_file($ROOT_DIR."/mgt/reports/globegistics_upload_orders/results/".$v)) {
                        $target = fopen($ROOT_DIR."/mgt/reports/globegistics_upload_orders/results/".$v, "w");
                        ftp_fget($conn_id, $target,$v,FTP_BINARY);
                        fclose($target);
                        
                        $fp = fopen($ROOT_DIR."/mgt/reports/globegistics_upload_orders/results/".$v, "r");
                        $k=0;
                        while($data = fgetcsv($fp, 20000))
                        {
//                            print_r($data);
                            $tracking_id = $data[1];
                            $orderid= $data[3];
                            
                            $query = "select notes from customer_order_notes_internal where orderid = '$orderid'";
                            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            if(mysql_num_rows($qok) > 0)
                            {
                                list($oldnotes) = mysql_fetch_array($qok);
                            }
                            else 
                            {
                                $oldnotes = "";	
                            }

                            $query = "delete from customer_order_notes_internal where orderid = '$orderid'";
                            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                            $tstamp = date("Y-m-d H:i:s", time());
                            $xstamp = date("m/d/Y H:i:s", time());

                            $savenote = $_SESSION["DISPLAYNAME"]." (".$_SESSION["ID"] .") - $xstamp<BR>-------------------------------<BR>$tracking_id<BR><BR>".$oldnotes;

                            $query = "insert into customer_order_notes_internal(orderid, notes, tstamp) values('$orderid', '".addslashes($savenote)."', '$tstamp')";
                            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                            
                            
                        }
                        fclose($fp);
                    }
                }
			}
		}

    // check upload status:
    //		print (!$upload) ? 'Cannot upload' : 'Upload complete';
    //		print "\n";
    // close the FTP stream
    ftp_close($conn_id);
}
exit();
getInfo2($ROOT_DIR,$DB,$mysqlid);
function getInfo2($ROOT_DIR,$DB,$mysqlid) {
    
    $fp = fopen($ROOT_DIR."/mgt/reports/globegistics_upload_orders/tmp/globe2.csv", "r");
    $k=0;
    while($data = fgetcsv($fp, 20000))
    {
//                            print_r($data);
        $tracking_id = $data[1];
        $orderid= $data[3];

//        $query = "select notes from customer_order_notes_internal where orderid = '$orderid'";
//        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//        if(mysql_num_rows($qok) > 0)
//        {
//            list($oldnotes) = mysql_fetch_array($qok);
//        }
//        else 
//        {
//            $oldnotes = "";	
//        }
//
//        $query = "delete from customer_order_notes_internal where orderid = '$orderid'";
//        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//
//        $tstamp = date("Y-m-d H:i:s", time());
//        $xstamp = date("m/d/Y H:i:s", time());
//
//        $savenote = $_SESSION["DISPLAYNAME"]." (".$_SESSION["ID"] .") - $xstamp<BR>-------------------------------<BR>$tracking_id<BR><BR>".$oldnotes;
//
//        $query = "insert into customer_order_notes_internal(orderid, notes, tstamp) values('$orderid', '".addslashes($savenote)."', '$tstamp')";
//        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        
        $query = "select invoiceid from customer_orders where orderid = '$orderid'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        if(mysql_num_rows($qok) > 0)
        {
            list($invoiceid) = mysql_fetch_array($qok);
            
            $querya = "UPDATE customer_order_tracking SET trackno='$tracking_id' WHERE invoiceid='$invoiceid'";
            print_r($querya."\n");
            if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        }
        else 
        {
        }

    }
    fclose($fp);
                    
}
?>