<?
$Nupdated = 0;
$Ncreated = 0;
ini_set("memory_limit","1050M");

$ROOT_DIR = $argv[1];
if($ROOT_DIR == "") { echo "usage: $argv[0] ROOT_DIR"; exit;	}

require($ROOT_DIR."/config.phtml");
require($ROOT_DIR."/include/mysql.phtml");
require($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
global $mysqlid;

$VENDORID = $efc->getConfigValue("Almo", "VENDORID");

global $MYSQL_SERVER;
global $MYSQL_USERNAME;
global $MYSQL_PASSWORD;





echo "VENDORID: $VENDORID\n";
$xtime_start = getmicrotime();


echo "Importing HTML data...\n";
$vid = $VENDORID;




//package contents.......



$buffer = "";
$handle = fopen($ROOT_DIR."/mgt/scripts/almo/067194D_20090617_163707.832.xml", "r");
if ($handle) { while (!feof($handle))    {   $buffer .= fgets($handle, 4096);   }     fclose($handle);  }
$data = xml2array($buffer, 0);
$itemcount = 0;
foreach($data['CatalogBatch']['Catalog']['Item'] as $key) { $itemcount++; }
$counted = count($data['CatalogBatch']['Catalog']['Item']);
echo "foreach(itemcount++): $itemcount count(): $counted\n";
$key = 0;
unlink("/tmp/file.txt.123.abc");
for($key = 0; $key < $itemcount; $key++)
{
	$pc = $item['packagecontents'][] = addslashes($data['CatalogBatch']['Catalog']['Item'][$key]['PackageContents']);
	$pc = str_replace("\r", "", $pc);
	$pc = str_replace("\n", "", $pc);
	$pc = strip_tags($pc);

	$contents .= $item['manpart'][] = addslashes($data['CatalogBatch']['Catalog']['Item'][$key]['VendorPart']) . "\t" . $pc . "\n";

}

file_put_contents("/tmp/file.txt.123.abc", $contents);


$herewego = 0;

$fp = fopen("/tmp/file.txt.123.abc", "r");
if($fp == FALSE) { echo "ERROR OPENING FILE\n"; 	exit; }
while(($data = fgetcsv($fp, 1000, "\t")) !== FALSE)
{

	$data[1] = strip_tags($data[1]);
	$memorySucks[$data[0]] = $data[0] . "\t" . $data[1];

	$herewego++;
}
//print_r($memorySucks);
echo "count: $herewego\n\n";


foreach($memorySucks as $eggs)
{


	$payload = explode("\t", $eggs);
	//echo "manpart->$payload[0] data->$payload[1]\n";
	$manpart = $payload[0];
	$piped = $payload[1]; 	$packagecontents = explode("|", $piped);

	echo "manmpart->$manpart\n";


	if ($packagecontents[0] != "") { $packagecontents[0] = "<ul><li>$packagecontents[0] "; }
	if ($packagecontents[1] != "") { $packagecontents[1] = "<li>$packagecontents[1] "; }
	if ($packagecontents[2] != "") { $packagecontents[2] = "<li>$packagecontents[2] "; }
	if ($packagecontents[3] != "") { $packagecontents[3] = "<li>$packagecontents[3] "; }
	if ($packagecontents[4] != "") { $packagecontents[4] = "<li>$packagecontents[4] "; }
	if ($packagecontents[5] != "") { $packagecontents[5] = "<li>$packagecontents[5] "; }
	if ($packagecontents[6] != "") { $packagecontents[6] = "<li>$packagecontents[6] "; }
	if ($packagecontents[7] != "") { $packagecontents[7] = "<li>$packagecontents[7] "; }
	if ($packagecontents[8] != "") { $packagecontents[8] = "<li>$packagecontents[8] "; }
	if ($packagecontents[9] != "") { $packagecontents[9] = "<li>$packagecontents[9] "; }
	if ($packagecontents[10] != "") { $packagecontents[10] = "<li>$packagecontents[10]</ul>"; } else { $packagecontents[10] = "</ul>"; }


	$data = "$packagecontents[0] $packagecontents[1] $packagecontents[2] $packagecontents[3] $packagecontents[4] $packagecontents[5] $packagecontents[6] $packagecontents[7] $packagecontents[8] $packagecontents[9] $packagecontents[10]";
	echo "DATA: $data\n";

	$query = "select id from vendor_product_list where manpart = '$manpart' and vid = '$VENDORID'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($pid) = mysql_fetch_array($qok);
		//    echo "PID: $pid\n";

		$query = "delete from vendor_product_inthebox where id = '$pid' and vid = '$VENDORID'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$query = "insert into vendor_product_inthebox(id, vid, data) values('$pid','$VENDORID','$data')";
		echo "$query\n";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	}

}



// Features..............


$buffer = "";
$handle = fopen($ROOT_DIR."/mgt/scripts/almo/067194D_20090617_163707.832.xml", "r");
if ($handle) { while (!feof($handle))    {   $buffer .= fgets($handle, 4096);   }     fclose($handle);  }
$data = xml2array($buffer, 0);
$itemcount = 0;
foreach($data['CatalogBatch']['Catalog']['Item'] as $key) { $itemcount++; }
$counted = count($data['CatalogBatch']['Catalog']['Item']);
echo "foreach(itemcount++): $itemcount count(): $counted\n";
$key = 0;
unlink("/tmp/file.txt.123.abc");
for($key = 0; $key < $itemcount; $key++)
{
	$pc = $item['packagecontents'][] = addslashes($data['CatalogBatch']['Catalog']['Item'][$key]['Features']);
	$pc = str_replace("\r", "", $pc);
	$pc = str_replace("\n", "", $pc);
	$pc = strip_tags($pc);

	$contents .= $item['manpart'][] = addslashes($data['CatalogBatch']['Catalog']['Item'][$key]['VendorPart']) . "\t" . $pc . "\n";

}

file_put_contents("/tmp/file.txt.123.abc", $contents);


//package contents.......
$herewego = 0;

$fp = fopen("/tmp/file.txt.123.abc", "r");
if($fp == FALSE) { echo "ERROR OPENING FILE\n"; 	exit; }
while(($data = fgetcsv($fp, 1000, "\t")) !== FALSE)
{

	$data[1] = strip_tags($data[1]);
	$memorySucks[$data[0]] = $data[0] . "\t" . $data[1];

	$herewego++;
}
//print_r($memorySucks);
echo "count: $herewego\n\n";


foreach($memorySucks as $eggs)
{


	$payload = explode("\t", $eggs);
	//echo "manpart->$payload[0] data->$payload[1]\n";
	$manpart = $payload[0];
	$piped = $payload[1]; 	$packagecontents = explode("|", $piped);

	echo "manmpart->$manpart\n";


	if ($packagecontents[0] != "") { $packagecontents[0] = "<ul><li>$packagecontents[0] "; }
	if ($packagecontents[1] != "") { $packagecontents[1] = "<li>$packagecontents[1] "; }
	if ($packagecontents[2] != "") { $packagecontents[2] = "<li>$packagecontents[2] "; }
	if ($packagecontents[3] != "") { $packagecontents[3] = "<li>$packagecontents[3] "; }
	if ($packagecontents[4] != "") { $packagecontents[4] = "<li>$packagecontents[4] "; }
	if ($packagecontents[5] != "") { $packagecontents[5] = "<li>$packagecontents[5] "; }
	if ($packagecontents[6] != "") { $packagecontents[6] = "<li>$packagecontents[6] "; }
	if ($packagecontents[7] != "") { $packagecontents[7] = "<li>$packagecontents[7] "; }
	if ($packagecontents[8] != "") { $packagecontents[8] = "<li>$packagecontents[8] "; }
	if ($packagecontents[9] != "") { $packagecontents[9] = "<li>$packagecontents[9] "; }
	if ($packagecontents[10] != "") { $packagecontents[10] = "<li>$packagecontents[10] </ul>"; } else { $packagecontents[10] = "</ul>"; }


	$data = "$packagecontents[0] $packagecontents[1] $packagecontents[2] $packagecontents[3] $packagecontents[4] $packagecontents[5] $packagecontents[6] $packagecontents[7] $packagecontents[8] $packagecontents[9] $packagecontents[10]";
	echo "DATA: $data\n";

	$query = "select id from vendor_product_list where manpart = '$manpart' and vid = '$VENDORID'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($pid) = mysql_fetch_array($qok);
		//    echo "PID: $pid\n";

		$query = "delete from vendor_features where pid = '$pid' and vid = '$VENDORID'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$query = "insert into vendor_features(pid, vid, feature) values('$pid','$vid','$data')";
		echo "$query\n";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }



		// product_html.....

		$query = "delete from vendor_product_html where id = '$pid' and vid = '$VENDORID'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$query = "insert into vendor_product_html(id, vid, data) values('$pid','$vid','$data')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	}

}


// Keywords.....


$buffer = "";
$handle = fopen($ROOT_DIR."/mgt/scripts/almo/067194D_20090617_163707.832.xml", "r");
if ($handle) { while (!feof($handle))    {   $buffer .= fgets($handle, 4096);   }     fclose($handle);  }
$data = xml2array($buffer, 0);
$itemcount = 0;
foreach($data['CatalogBatch']['Catalog']['Item'] as $key) { $itemcount++; }
$counted = count($data['CatalogBatch']['Catalog']['Item']);
echo "foreach(itemcount++): $itemcount count(): $counted\n";
$key = 0;
unlink("/tmp/file.txt.123.abc");
for($key = 0; $key < $itemcount; $key++)
{
	$pc = $item['packagecontents'][] = addslashes($data['CatalogBatch']['Catalog']['Item'][$key]['Keywords']);
	$pc = str_replace("\r", "", $pc);
	$pc = str_replace("\n", "", $pc);
	$pc = strip_tags($pc);

	$contents .= $item['manpart'][] = addslashes($data['CatalogBatch']['Catalog']['Item'][$key]['VendorPart']) . "\t" . $pc . "\n";

}

file_put_contents("/tmp/file.txt.123.abc", $contents);


$herewego = 0;

$fp = fopen("/tmp/file.txt.123.abc", "r");
if($fp == FALSE) { echo "ERROR OPENING FILE\n"; 	exit; }
while(($data = fgetcsv($fp, 1000, "\t")) !== FALSE)
{

	$data[1] = strip_tags($data[1]);
	$memorySucks[$data[0]] = $data[0] . "\t" . $data[1];

	$herewego++;
}
//print_r($memorySucks);
echo "count: $herewego\n\n";


foreach($memorySucks as $eggs)
{


	$payload = explode("\t", $eggs);
	//echo "manpart->$payload[0] data->$payload[1]\n";
	$manpart = $payload[0];
	$piped = $payload[1]; 	$packagecontents = explode("|", $piped);

	echo "manmpart->$manpart\n";


	if ($packagecontents[0] != "") { $packagecontents[0] = "$packagecontents[0], "; }
	if ($packagecontents[1] != "") { $packagecontents[1] = "$packagecontents[1], "; }
	if ($packagecontents[2] != "") { $packagecontents[2] = "$packagecontents[2], "; }
	if ($packagecontents[3] != "") { $packagecontents[3] = "$packagecontents[3], "; }
	if ($packagecontents[4] != "") { $packagecontents[4] = "$packagecontents[4], "; }
	if ($packagecontents[5] != "") { $packagecontents[5] = "$packagecontents[5], "; }
	if ($packagecontents[6] != "") { $packagecontents[6] = "$packagecontents[6], "; }
	if ($packagecontents[7] != "") { $packagecontents[7] = "$packagecontents[7], "; }
	if ($packagecontents[8] != "") { $packagecontents[8] = "$packagecontents[8], "; }
	if ($packagecontents[9] != "") { $packagecontents[9] = "$packagecontents[9], "; }
	if ($packagecontents[10] != "") { $packagecontents[10] = "$packagecontents[10]"; }


	$data = "$packagecontents[0] $packagecontents[1] $packagecontents[2] $packagecontents[3] $packagecontents[4] $packagecontents[5] $packagecontents[6] $packagecontents[7] $packagecontents[8] $packagecontents[9] $packagecontents[10]";
	echo "DATA: $data\n";

	$query = "select id from vendor_product_list where manpart = '$manpart' and vid = '$VENDORID'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($pid) = mysql_fetch_array($qok);
		//    echo "PID: $pid\n";

		$query = "delete from vendor_product_keywords where pid = '$pid' and vid = '$VENDORID'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$query = "insert into vendor_product_keywords(pid, vid, data) values('$pid','$VENDORID','$data')";
		echo "$query\n";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	}

}





















function getmicrotime()
{
	list($usec, $sec) = explode(" ",microtime());
	return ((float)$usec + (float)$sec);
}

function xml2array($contents, $get_attributes=1)
{
	if(!$contents) return array();

	if(!function_exists('xml_parser_create')) {
		//print "'xml_parser_create()' function not found!";
		return array();
	}
	//Get the XML parser of PHP - PHP must have this module for the parser to work
	$parser = xml_parser_create();
	xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 );
	xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 );
	xml_parse_into_struct( $parser, $contents, $xml_values );
	xml_parser_free( $parser );

	if(!$xml_values) return;//Hmm...

	//Initializations
	$xml_array = array();
	$parents = array();
	$opened_tags = array();
	$arr = array();

	$current = &$xml_array;

	//Go through the tags.
	foreach($xml_values as $data) {
		unset($attributes,$value);//Remove existing values, or there will be trouble

		//This command will extract these variables into the foreach scope
		// tag(string), type(string), level(int), attributes(array).
		extract($data);//We could use the array by itself, but this cooler.

		$result = '';
		if($get_attributes) {//The second argument of the function decides this.
			$result = array();
			if(isset($value)) $result['value'] = $value;

			//Set the attributes too.
			if(isset($attributes)) {
				foreach($attributes as $attr => $val) {
					if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr'
					/**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */
				}
			}
		} elseif(isset($value)) {
			$result = $value;
		}

		//See tag status and do the needed.
		if($type == "open") {//The starting of the tag '<tag>'
			$parent[$level-1] = &$current;

			if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag
				$current[$tag] = $result;
				$current = &$current[$tag];

			} else { //There was another element with the same tag name
				if(isset($current[$tag][0])) {
					array_push($current[$tag], $result);
				} else {
					$current[$tag] = array($current[$tag],$result);
				}
				$last = count($current[$tag]) - 1;
				$current = &$current[$tag][$last];
			}

		} elseif($type == "complete") { //Tags that ends in 1 line '<tag />'
			//See if the key is already taken.
			if(!isset($current[$tag])) { //New Key
				$current[$tag] = $result;

			} else { //If taken, put all things inside a list(array)
				if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array...
				or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) {
					array_push($current[$tag],$result); // ...push the new element into that array.
				} else { //If it is not an array...
					$current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value
				}
			}

		} elseif($type == 'close') { //End of tag '</tag>'
			$current = &$parent[$level-1];
		}
	}

	return($xml_array);
}

?>

<?mysql_close();?>

