<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

function getDay($day)
{
	if($day == 0) return "Sunday";
	else if($day == 1) return "Monday";	
	else if($day == 2) return "Tuesday";	
	else if($day == 3) return "Wednesday";	
	else if($day == 4) return "Thursday";	
	else if($day == 5) return "Friday";	
	else if($day == 6) return "Saturday";	
}
?>
<HTML>
<HEAD>
<TITLE>List Scheduler Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>
<?
if($type == "")
	$type = "list";
?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>List Scheduler</B>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Scheduler</a>
		<BR><BR>
		<table id="results" width=100% class="sortable">
		<tr bgcolor="#eeeeee">
			<th height=21 >ID</th>
			<th class="sortable_caseinsensitive">Scheduler Name</th>
			<th class="sortable_caseinsensitive">Schedule</th>
			<th class="sortable_caseinsensitive">List</th>
			<th class="sortable_caseinsensitive">Active</th>
			<th>Delete</th>
		</tr>
		<?
		$query = "SELECT id, name, listid, belowcost, active 
				  FROM listing_schedule";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($id, $name, $listid, $belowcost, $active) = mysql_fetch_array($qok))
		{
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td><a href="schedule_edit.phtml?psid=<?=$id;?>"><?=$id;?></td>
				<td>
					<a href="schedule_edit.phtml?psid=<?=$id;?>"><?=$name;?></a>
					&nbsp;&nbsp;<a href="listing_grid.phtml?psid=<?=$id;?>">Grid</a>
				
				</td>
				<td>
					<table>
					<?
					$query = "SELECT id, startday, starthour, startmin, endday, endhour, endmin 
							  FROM listing_schedule_extended
							  WHERE psid = '$psid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($xid, $startday, $starthour, $startmin, $endday, $endhour, $endmin) = mysql_fetch_array($q2ok))
					{
					?>
					<tr>
						<td><?=getDay($startday);?> <?printf("%02d", $starthour);?>:<?printf("%02d", $startmin);?> => <?=getDay($endday);?> <?printf("%02d", $endhour);?>:<?printf("%02d", $endmin);?></td>
					</tr>
					<?	
					}
					?>
					</table>
				</td>
				<td>
					<?
					$query = "SELECT list_title 
							  FROM lists 
							  WHERE lid = '$listid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($list_title) = mysql_fetch_array($q2ok);
					?>
					<?=$list_title;?>
				</td>
				<td align=center><?if($active == 1) echo "Yes"; else echo "No";?></td>
				<td align=center>
					<a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete schedule <?=$id;?>', '/mgt/list_scheduler/delete.phtml?psid=<?=$id;?>');"><img src="/mgt/images/del.gif" border=0></a>
				</td>
			</tr>
			<?
		}
		?>
		</table>
		<BR><BR>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Scheduler</a>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/list_scheduler/schedule_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create New Scheduler:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(scheduler title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
	
</body>
</html>