<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;


if($_SESSION["acctid"] == "" || !isset($_SESSION["acctid"]))
{
	$_SESSION['return_customer'] = '/customer/account_edit.phtml';
	Header("Location: /customer/");
	exit;
}
if($action == 'edit_account') {
    $cclass->changeAccount();
    
    $accid = (int) $_SESSION["acctid"];
    // Shipping Address
	$ship2name = $_SESSION['ship2name'] = $cclass->sanitizeInput($_POST['ship2fname']).' '.$cclass->sanitizeInput($_POST['ship2lname']);
	$ship2company = $cclass->sanitizeInput($_POST['ship2company']);
	$ship2street1 = $_SESSION['ship2street1'] = $cclass->sanitizeInput($_POST['ship2street1']);
	$ship2street2 = $_SESSION['ship2street2'] = $cclass->sanitizeInput($_POST['ship2street2']);
	$ship2country = $_SESSION['ship2country'] = $cclass->sanitizeInput($_POST['ship2country']);
	if ($cclass->sanitizeInput($_POST['ship2country']) == 'US')
	{
		$ship2state = $_SESSION['ship2state'] = $cclass->sanitizeInput($_POST['ship2usa_state']);
	}
	else 
	{
		$ship2state = $_SESSION['ship2state'] = $cclass->sanitizeInput($_POST['ship2state']);
	}
	$ship2city = $_SESSION['ship2city'] = $cclass->sanitizeInput($_POST['ship2city']);
	$ship2zip = $_SESSION['ship2zip'] = $cclass->sanitizeInput($_POST['ship2zip']);
            
	$q_shipping = "UPDATE customer_accounts 
				   SET ship2name = '".$ship2name."', 
					   ship2company = '".$ship2company."',
					   ship2street1 = '".$ship2street1."',
					   ship2street2 = '".$ship2street2."',
					   ship2city = '".$ship2city."',
					   ship2state = '".$ship2state."',
					   ship2zip = '".$ship2zip."',
					   ship2country = '".$ship2country."'
				   WHERE acctid = '".$accid."'
				   LIMIT 1";
	if(!$qok_shipping = mysql_db_query($DB, $q_shipping, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	// Billing Address
	$bill2name = $_SESSION['bill2name'] = $cclass->sanitizeInput($_POST['bill2fname']).' '.$cclass->sanitizeInput($_POST['bill2lname']);
	$bill2company = $cclass->sanitizeInput($_POST['bill2company']);
	$bill2street1 = $_SESSION['bill2street1'] = $cclass->sanitizeInput($_POST['bill2street1']);
	$bill2street2 = $_SESSION['bill2street2'] = $cclass->sanitizeInput($_POST['bill2street2']);
	$bill2country = $_SESSION['bill2country'] = $cclass->sanitizeInput($_POST['bill2country']);
	if ($cclass->sanitizeInput($_POST['bill2country']) == 'US')
	{
		$bill2state = $_SESSION['bill2state'] = $cclass->sanitizeInput($_POST['bill2usa_state']);
	}
	else 
	{
		$bill2state = $_SESSION['bill2state'] = $cclass->sanitizeInput($_POST['bill2state']);
	}
	$bill2city = $_SESSION['bill2city'] = $cclass->sanitizeInput($_POST['bill2city']);
	$bill2zip = $_SESSION['bill2zip'] = $cclass->sanitizeInput($_POST['bill2zip']);

	$q_billing = "UPDATE customer_accounts 
				  SET bill2name = '".$bill2name."',
				  	  bill2company = '".$bill2company."',
					  bill2street1 = '".$bill2street1."',
					  bill2street2 = '".$bill2street2."',
					  bill2city = '".$bill2city."',
					  bill2state = '".$bill2state."',
					  bill2zip = '".$bill2zip."',
					  bill2country = '".$bill2country."'
				  WHERE acctid = '".$accid."'
				  LIMIT 1";    
	if(!$qok_billing = mysql_db_query($DB, $q_billing, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/account_edit_validation.js" async="" type="text/javascript"></script>
<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/customer_account_edit.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

