<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

if($_SESSION["acctid"] == "")
{
	$_SESSION['return_customer'] = '/customer/affiliate_payment_settings.phtml';
	Header("Location: /customer/default.phtml");
	exit;
}
if($action == 'affiliate_edit')
{
	$accid = (int) $_SESSION["acctid"];
	$payment_type = $_POST['payment_type'];
	$email = $_POST['email'];
	$address_street1 = $cclass->sanitizeInput($_POST['address_street1']);
	$address_street2 = $cclass->sanitizeInput($_POST['address_street2']);
	$address_country = $cclass->sanitizeInput($_POST['address_country']);
	if ($cclass->sanitizeInput($_POST['address_country']) == 'US')
	{
		$address_state = $cclass->sanitizeInput($_POST['address_usastate']);
	}
	else 
	{
		$address_state = $cclass->sanitizeInput($_POST['address_state']);
	}
	$address_city = $cclass->sanitizeInput($_POST['address_city']);
	$address_zipcode = $cclass->sanitizeInput($_POST['address_zipcode']);

	if ($payment_type == 'paypal')
	{
		$address_street1 = $address_street2 = $address_country = $address_state = $address_city = $address_zipcode = '';
	}
	elseif ($payment_type == 'check')
	{
		$email = '';
	}
	else 
	{
		$address_street1 = $address_street2 = $address_country = $address_state = $address_city = $address_zipcode = $email = '';
	}
	
	$q_cnt = "SELECT COUNT(id) AS cnt
			  FROM customer_aff
			  WHERE aff_acctid = '$acctid'
			  LIMIT 1";
	if(!$qok_cnt = mysql_db_query($DB, $q_cnt, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($af_cnt) = mysql_fetch_array($qok_cnt);
	if ($af_cnt > 0)
	{
		$q_aff = "UPDATE customer_aff
				  SET payments_type = '$payment_type', email = '$email', address_street1 = '$address_street1', address_street2 = '$address_street2', address_country = '$address_country', address_state = '$address_state', address_city = '$address_city', address_zipcode = '$address_zipcode'
				  WHERE aff_acctid = '$acctid'
				  LIMIT 1";
	}
	else 
	{
		$q_aff = "INSERT INTO customer_aff (aff_acctid, payments_type, email, address_street1, address_street2, address_country, address_state, address_city, address_zipcode)
				  VALUES ('$accid','$payment_type','$email','$address_street1','$address_street2','$address_country','$address_state','$address_city','$address_zipcode')";
	}
	if(!$qok_aff = mysql_db_query($DB, $q_aff, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/affiliate_edit_validation.js" async="" type="text/javascript"></script>
<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/customer_affiliate_payment_settings.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

