<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/ipinfoclass.phtml");
REQUIRE($ROOT_DIR."/classes/customerclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

if($_SESSION["acctid"] == "")
{
	Header("Location: /customer/default.phtml");
	exit;
}

if($action == 'add_allowed_url')
{
	$accid = (int) $_SESSION["acctid"];
	$add_link = filter_var($cclass->sanitizeInput($_POST['add_link']), FILTER_SANITIZE_URL);
	$verify_cnt = (int) $cclass->verifyAffUrlDomain($add_link);
	if ($verify_cnt > 0)
	{
		$sc->redirectUrl('affiliate_create_rawlinks.phtml?error-register-link');
	}
	else 
	{
		$allowed_code = 'trfw' . $cclass->rand_string(16);
		
		if ($cclass->isDomainSubdomainOrLink($add_link))
		{
			if ($cclass->isDomainSubdomainOrLink($add_link) == 'domain')
			{
				$q_aff = "INSERT INTO customer_aff_allowed_links (aff_acctid, verify_code, domain)
						  VALUES ('$accid','$allowed_code','$add_link')";
			}
			elseif ($cclass->isDomainSubdomainOrLink($add_link) == 'subdomain')
			{
				$q_aff = "INSERT INTO customer_aff_allowed_links (aff_acctid, verify_code, subdomain)
						  VALUES ('$accid','$allowed_code','$add_link')";
			}
			else 
			{}
		}
		if(!$qok_aff = mysql_db_query($DB, $q_aff, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
		$sc->redirectUrl('affiliate_create_rawlinks.phtml');
	}
}
include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/affiliate_edit_validation.js" async="" type="text/javascript"></script>
<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 762px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/customer_affiliate_create_rawlinks.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

