<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}

/*
rdate=05/14/2009
vendorid=71
status=
buyerid=
*/

if($brdate != "" || $erdate != "")
	$addon .= " AND vendor_receipt.tstamp >= '".date("Y-m-d 00:00:00", strtotime($brdate))."' AND vendor_receipt.tstamp <= '".date("Y-m-d 23:59:59", strtotime($erdate))."'";

if(intval($vendorid) > 0)
	$addon .= " AND vendor_pos.vendorid = '$vendorid'";
	
if($status != "")
	$addon .= " AND vendor_pos.status = '$status'";

if($buyerid != "")
	$addon .= " AND vendor_pos.repid = '$buyerid'";

	
$query = "select distinct(vendor_receipt.poid), vendor_receipt.tstamp, vendor_pos.vendorid, vendor_pos.repid, sum(vendor_receipt_lines.cost * vendor_receipt_lines.qty) from
			vendor_receipt, vendor_pos, vendor_receipt_lines where
			vendor_receipt.id = vendor_receipt_lines.vid AND
			vendor_receipt.poid = vendor_pos.poid $addon	
			group by vendor_receipt.poid ";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td height=21 align=center><B>POID</B></td>
	<td align=center><B>Received Date</B></td>
	<td align=center><B>Vendor</B></td>
	<td align=center><B>Buyer</B></td>
	<td align=center><B>Total</B></td>
</tr>
<?
$onrow = 0;
while(list($poid, $tstamp, $vendorid, $repid, $cost) = mysql_fetch_array($qok))
{
	if($onrow % 2)
	{
		echo "<tr bgcolor='#eeeeee' onMouseOver=\"this.bgColor='#eeeeff';\" onMouseOut=\"this.bgColor='#eeeeee';\">";
	}
	else 
	{
		echo "<tr onMouseOver=\"this.bgColor='#eeeeff';\" onMouseOut=\"this.bgColor='#FFFFFF';\">";
	}	
	?>
	
		<td height=21>
			<a href="javascript:void(0);" onclick="getListing('<?=$poid;?>', '<?=$onrow;?>');"><img src="/mgt/images/plus.gif" id="image<?=$onrow;?>"></a>
			<a href="javascript:void(0);" onclick="e2window('/mgt/vn/viewpo.phtml?poid=<?=$poid;?>&inwin=1', 'View PO <?=$poid;?>');">
			<?=$poid;?>
			</a>
		</td>
		<td><?=date("m/d/Y", strtotime($tstamp));?></td>
		<td><?=$efc->getVendorName($vendorid);?> [<?=$vendorid;?>]</td>
		<td><?=$efc->getRepName($repid);?></td>
		<td align=right><?=number_format($cost, 2);?></td>
	</tr>
	<tr id="row<?=$onrow;?>" style="display:none;border:1px solid #eeeeee;">
		<td colspan=5 align=center>
			<div id="content<?=$onrow;?>"><img src="/mgt/images/loading.gif"></div>
		</td>
	</tr>
	<?	
	$onrow++;
}
?>
</table>