<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

	function sanitizeInput($data) 
	{
		$data = str_replace("\"", "", $data);
		$data = str_replace("'", "", $data);
		$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);
		
		return $data;
	}
	
	
function addOn($newpart, $addon)
{
//	if($addon == "")
//		return "WHERE $newpart";
		
	$addon .= " AND ".$newpart." ";
	
	return $addon;
}

$addon = "";


if($disable_range != "true")
{
	if($bdate != "") $addon = addOn("customer_orders.orderdate >= '".strtotime("$bdate 00:00:00")."'", $addon);
	if($edate != "") $addon = addOn("customer_orders.orderdate <= '".strtotime("$edate 23:59:59")."'", $addon);
}
$query = "select customer_orders.orderid,customer_orders.status,customer_orders.invoiceid,customer_order_lines.prodid,customer_order_lines.qty_ordered,customer_order_lines.qty_shipped
		from customer_orders,customer_order_lines,product_list 
                WHERE customer_orders.orderid=customer_order_lines.orderid AND
                      customer_order_lines.prodid=product_list.id AND
                      product_list.dropship=1 AND 
                      customer_order_lines.qty_ordered!=customer_order_lines.qty_shipped
            $addon order by customer_orders.orderid asc";
//print_r($query);
?>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td height=21 align="center"><b>Order ID</b></td>
	<td height=21 align="center"><b>Status</b></td>
	<td height=21 align="center"><b>PID</b></td>
	<td align="center"><b>Qty. Ordered</b></td>
	<td align="center"><b>Qty. Shipped</b></td>
</tr>	

<?
$cccount = 0;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
	while( (list($orderid,$status,$invoiceid,$prodid,$qty_ordered,$qty_shipped) = mysql_fetch_array($qok)))
	{
		
            ?>
            <tr id="<?=$vid?>" <?if ($cccount%2) {echo " bgcolor=\"#eeeeee\"";}?>>
                <td align="center"><a id="order_<?=$invoiceid?>" href="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid?>&inwin=1', 'View Order: <?=$invoiceid?>','order_<?=$invoiceid?>');"><?=$invoiceid?></a></td>
                <td align="center"><?=$efc->lookupOrderStatus($status);?></td>
                <td align="center"><a id="order_<?=$invoiceid?>_<?=$prodid?>" href="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$prodid?>&inwin=1', 'View Sku: <?=$prodid?>','order_<?=$invoiceid?>_<?=$prodid?>');"><?=$prodid?></a></td>
                <td><?=$qty_ordered?></td>
                <td><?=$qty_shipped?></td>
            </tr>
            <?
            $cccount++;
	}
}
?>
</table>