<form name="ivaluation" id="ivaluation">
<table>
<tr>
	<td class="g1">Category:</td>
	<td>
		<select name="cat0" class="formSelect" onchange="getCategories(1);">
		<option value="0">----- SELECT --------
		<?
		$query = "select catid, catname from product_categories where parentid = 0";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
		<?
		}
		?>
		</select>		
		<?
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat0) > 0)
		{
		?>
			<div id="cat1d" style="display:;">
			<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat1) > 0 && intval($cat0) > 0)
		{
		?>
			<div id="cat2d" style="display:;">
			<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat1'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat2) > 0)
		{
		?>
			<div id="cat3d" style="display:;">
			<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
		<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
		?>
		<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
		<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
	</td>
</tr>				
<tr>
	<td class="g1">Brand:</td>
	<td>
		<select name="brand" id="brand" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select manid, manname from product_manufacturers order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">Keywords:</td>
	<td>
		<input type="text" name="keywords" value="<?=$_SESSION["SAVEDSEARCH"]['keywords'];?>" style="width:150px" class="formBox" onkeypress="return cancelReturn(this, event)">					
	</td>
</tr>
 <tr>
        <td class="g1">List:</td>
        <td>
                <select name="listid" id="listid" class="formSelect">
                <option value="">----- SELECT --------
                <?
                $query = "select lid, list_title from lists order by list_title";
                if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                while(list($lid, $list_title) = mysql_fetch_array($qok))
                {
                        if(strlen($list_title) > 25)
                        {
                                $list_title = substr($list_title, 0, 18)."...";
                        }
                        ?>
                        <option value="<?=$lid;?>" <?if($_SESSION["SAVEDSEARCH"]['listid'] == $lid) echo "SELECTED"; ?>><?=$list_title;?>
                        <?
                }
                ?>
                </select>	
                <BR>
                <input type="checkbox" name="nolist" value="1"  <?if($_SESSION["SAVEDSEARCH"]['nolist'] == 1) echo "CHECKED"; ?>>Not on a list					
        </td>
</tr>
<!--<tr>
	<td class="g1">Vendor:</td>
	<td>
		<select name="vendorid" id="vendorid" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select vendorid, vendorname from vendors order by vendorname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($vendorid, $vendorname) = mysql_fetch_array($qok))
		{
			if(strlen($vendorname) > 25)
			{
				$vendorname = substr($vendorname, 0, 22)."...";
			}
			?>
			<option value="<?=$vendorid;?>" <?if($_SESSION["SAVEDSEARCH"]['vendorid'] == $vendorid) echo "SELECTED"; ?>><?=$vendorname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
--><tr>
	<tr>
		<td class="g1">Warehouse:</td>
		<td>
			<select name="warehouse" id="warehouse" class="formSelect">
			<option value="">----- SELECT --------
			<?
			$query = "select config_key, config_value from configuration where config_group = 'warehouse list' and config_key is NOT NULL and config_key != '';";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($whid, $whname) = mysql_fetch_array($qok))
			{
				?>
				<option value="<?=$whid;?>"><?=$whname;?>
				<?
			}
			?>
			</select>						
		</td>
	</tr>	
	<tr>
		<td class="g1"><div style="padding-top:2px;">Display On:</td>
		<td valign=top>
			<?
			$query = "select divid, sitename from site_list order by sitename";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($divid, $sitename) = mysql_fetch_array($qok))
			{
				?>
				<input type="checkbox" name="displayon_<?=$divid;?>" <?if(in_array($divid, $_SESSION["SAVEDSEARCH"]['displayon'])) echo "CHECKED";?>><?=$sitename;?><BR>
				<?
			}
			?>	
							
		</td>
	</tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		<input type="button" name="Action" value="Clear" onclick="clearReport()" class="buttonItem">
	</td>
</tr>						
</table>
</form>