<form name="settlement" id="settlement">
<table>
<tr>
	<td class="g1">Report:</td>
	<td>
		<select name="report_id[]" id="report_id" class="formSelect" multiple="multiple" size="4">
		<option value="">----- SELECT --------</option>
		<?
		$query = "select amazon_settlement_id,start_date,end_date from fba_settlement_report order by end_date ";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($amazon_settlement_id,$start_date,$end_date) = mysql_fetch_array($qok))
		{
			$sd = date("m/d/Y",strtotime($start_date));
			$ed = date("m/d/Y",strtotime($end_date));
			?>
			<option value="<?=$amazon_settlement_id;?>"><?=$amazon_settlement_id."_".$sd."-".$ed;?></option>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">Report type:</td>
	<td>
		<select name="report_type" id="report_type" class="formSelect">
			<option value="1">Sales</option>
			<option value="2">Returns</option>
			<option value="3">Other</option>
			<option value="4">FWS Charges</option>
		</select>	
	</td>
</tr>
<?
	$bdate_in = date("m/d/Y");
	$edate_in = date("m/d/Y");
	?>
<tr>
	<td class="g1">Date Range:</td>
	<td>
		<input type="text" name="bdate" id="bdate" value="" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['settlement'].bdate,'bdate','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['settlement'].bdate,'bdate','MM/dd/yyyy'); return false;" onkeypress="return cancelReturn(this, event)">
	- to -
		<input type="text" name="edate" id="edate" value="" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['settlement'].edate,'edate','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['settlement'].edate,'edate','MM/dd/yyyy'); return false;" onkeypress="return cancelReturn(this, event)">				
	</td>
</tr>
<tr>
	<td class="g1">Warehouse:</td>
	<td>
		<select name="whid" id="whid" class="formSelect">
		<option value="">----- SELECT --------</option>
		<?
		$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($whid, $whname) = mysql_fetch_array($qok))
		{
			?>
			<option value="<?=$whid;?>"><?=$whname;?></option>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">PID:</td>
	<td>
		<input type="text" name="pid" id="pid" />				
	</td>
</tr>
<tr>
	<td class="g1">Category:</td>
	<td>
		<select name="cat0" id="cat0" class="formSelect" onchange="getCategories(1);">
		<option value="0">----- SELECT --------
		<?
		$query = "select catid, catname from product_categories where parentid = 0";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
		<?
		}
		?>
		</select>		
		<?
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat0) > 0)
		{
		?>
			<div id="cat1d" style="display:;">
			<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat1) > 0 && intval($cat0) > 0)
		{
		?>
			<div id="cat2d" style="display:;">
			<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat1'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat2) > 0)
		{
		?>
			<div id="cat3d" style="display:;">
			<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
		<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
		?>
		<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
		<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
	</td>
</tr>				
<tr>
	<td class="g1">Brand:</td>
	<td>
		<select name="brand" id="brand" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select manid, manname from product_manufacturers order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">Excl. Brand:</td>
	<td>
		<select name="excl_brand" id="excl_brand" class="formSelect" multiple="multiple" size="4">
		<option value="">----- SELECT --------
		<?
		$query = "select manid, manname from product_manufacturers order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">Vendor:</td>
	<td>
		<select name="vendorid" id="vendorid" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select vendorid, vendorname from vendors order by vendorname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($vendorid, $vendorname) = mysql_fetch_array($qok))
		{
			if(strlen($vendorname) > 25)
			{
				$vendorname = substr($vendorname, 0, 22)."...";
			}
			?>
			<option value="<?=$vendorid;?>" <?if($_SESSION["SAVEDSEARCH"]['vendorid'] == $vendorid) echo "SELECTED"; ?>><?=$vendorname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1"><B>Assigned To:</B></td>
	<td>
		<select name="assignedto" id="assignedto" class="formSelect">
		<option value="-1">--- SELECT ----</option>
		<option value="UN">Unassigned</option>
		<?
		
		$query = "select id, displayname from users order by displayname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$x_userid;?>" <?if($x_userid == $_SESSION["SAVEDSEARCH"]['assignedto']) echo "SELECTED";?>><?=$x_displayname;?></option>
		<?	
		}
		?>
		</select>
	</td>	
</tr>
<tr>
	<td class="g1">List:</td>
	<td>
		<select name="listid" id="listid" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select lid, list_title from lists order by list_title";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($lid, $list_title) = mysql_fetch_array($qok))
		{
			if(strlen($list_title) > 25)
			{
				$list_title = substr($list_title, 0, 18)."...";
			}
			?>
			<option value="<?=$lid;?>" <?if($_SESSION["SAVEDSEARCH"]['listid'] == $lid) echo "SELECTED"; ?>><?=$list_title;?>
			<?
		}
		?>
		</select>	
		<BR>
<!--		<input type="checkbox" name="nolist" value="1"  <?if($_SESSION["SAVEDSEARCH"]['nolist'] == 1) echo "CHECKED"; ?>>Not on a list					-->
	</td>
</tr>
<tr>
	<td class="g1">Hide Columns:</td>
	<td>
		<input type="checkbox" name="hide_columns" id="hide_columns"> <br />
		<font style="font-style:italic;font-size:10px;">
			Hide columns: Shipping, Shipping Chargeback,GiftWrap,Giftwrap Chargeback.
		</font>					
	</td>
</tr>
<?
if ($DB == 'butterfly') {
	?>
	<tr>
		<td class="g1">Impacted By Rate Change:</td>
		<td>
			<select name="rate_change" id="rate_change" class="formSelect">
				<option value="1">Show All</option>
				<option value="2">Show Affected</option>
				<option value="3">Show Not Affected</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td class="g1">Show before/after:</td>
		<td>
			<input type="checkbox" name="show_before_after" id="show_before_after">
		</td>
	</tr>
	<?
}
?>		
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="getReport('0')" class="buttonItem">
		<input type="button" name="Action" value="Export" onclick="getReport('1')" class="buttonItem">
		<input type="button" name="Action" value="Clear" onclick="clearReport()" class="buttonItem">
	</td>
</tr>						
</table>
</form>