				<form name="plreport" onsubmit="return checkData();">
							<table>
							<tr>
								<td class="g1">Date Range:</td>
								<td>
								<select name="qdate" class="formselect" onchange="changeRange();">
									<option value="-1">-Quick Range-</option>
									<option value="1" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
									<option value="6" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
									
									<option value="7" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "7") echo "SELECTED";?>>Yesterday + Today</option>
									
									<option value="2" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
									<option value="3" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
									<option value="4" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
									
									<option value="8" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "8") echo "SELECTED";?>>Last 60 Days</option>
									<option value="9" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "9") echo "SELECTED";?>>Last 90 Days</option>
									<option value="10" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "10") echo "SELECTED";?>>Last 120 Days</option>
									
									<option value="5" <?if($_SESSION["OM_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
								</select>							
								<BR>
								
								<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
								
								- to -
								
									<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
								</td>
							</tr>						
							<tr>
								<td class="g1">Category:</td>
								<td>
									<select name="cat0" class="formSelect" onchange="getCategories(1);">
									<option value="0">----- SELECT --------
									<?
									$query = "select catid, catname from product_categories where parentid = 0";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($catid, $catname) = mysql_fetch_array($qok))
									{
										?>
										<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
										<?
									}
									?>
									</select>		
									<?
									//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									if(intval($cat0) > 0)
									{
										?>
										<div id="cat1d" style="display:;">
											<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
												<option value="0">----- SELECT --------
												<?
													$query = "select catid, catname from product_categories where parentid = '$cat0'";
													if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
													while(list($catid, $catname) = mysql_fetch_array($qok))
													{
														?>
														<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
														<?
													}
												?>
											</select>
										</div>
										<?
									}
									else 
									{
										?>
										<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
										<?
									}
									//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									if(intval($cat1) > 0 && intval($cat0) > 0)
									{
										?>
										<div id="cat2d" style="display:;">
											<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
												<option value="0">----- SELECT --------
												<?
													$query = "select catid, catname from product_categories where parentid = '$cat1'";
													if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
													while(list($catid, $catname) = mysql_fetch_array($qok))
													{
														?>
														<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
														<?
													}
												?>
											</select>
										</div>
										<?
									}
									else 
									{
										?>
										<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
										<?
									}
									//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									if(intval($cat2) > 0)
									{
										?>
										<div id="cat3d" style="display:;">
											<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
												<option value="0">----- SELECT --------
												<?
													$query = "select catid, catname from product_categories where parentid = '$cat2'";
													if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
													while(list($catid, $catname) = mysql_fetch_array($qok))
													{
														?>
														<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
														<?
													}
												?>
											</select>
										</div>
										<?
									}
									else 
									{
										?>
										<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
										<?
									}
									//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
									?>
									<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
									<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
								</td>
							</tr>	
							<tr>
								<td class="g1">Salesman:</td>
								<td>
									<select name="repid" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select id, displayname from users order by displayname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($repid, $displayname) = mysql_fetch_array($qok))
									{
										?>
										<option value="<?=$repid;?>"><?=$displayname;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>	
							<tr>
								<td class="g1">Brand:</td>
								<td>
									<select name="brand" id="brand" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select manid, manname from product_manufacturers order by manname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($manid, $manname) = mysql_fetch_array($qok))
									{
									?>
										<option value="<?=$manid;?>" ><?=$manname;?>
									<?
									}
									?>
									</select><span id="brandloading">&nbsp;</span>	
								</td>
							</tr>									
							<tr>
								<td class="g1">Status:</td>
								<td>
									<select name="status" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select step, status from company_orderflow order by status";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($step, $status) = mysql_fetch_array($qok))
									{
										if(strlen($status) > 25)
											$status = substr($status, 0, 17)."...";
										?>
										<option value="<?=$step;?>">[<?=$step;?>] - <?=$status;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>											
							<tr>
								<td colspan=2>
										<div align=center>
											<input type="button" name="Action" value="Export" onclick="pullReport(1)" class="buttonItem">	
											<input type="button" name="Action" value="View Report" onclick="pullReport(0)" class="buttonItem">
										</div>										
								</td>
							</tr>						
													
							</table>
							
						</form>	