<?
/*ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);*/
ini_set('memory_limit', '64M');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$products_added = 0;
$products_skiped = 0;
if ($list != '') {
	$fp = fopen('files/'.$file, "r");
	$k = 0;
	while($data = fgetcsv($fp, 4096, "\t"))
	{
		if ($k > 0) { 
			$q = "SELECT pid FROM product_sourcing WHERE distsku='".addslashes($data[$column])."' and distid='".$sourcing."'";
			if(!$qok3 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while (list($pid) = mysql_fetch_array($qok3)) {
				$q1 = "SELECT * from list_products WHERE lid='".$list."' and pid='".$pid."'";
				if(!$qok1 = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qok1)==0) {
					$q2 = "INSERT INTO list_products (lid,pid) VALUES('".$list."','".$pid."')";
					if(!$qok2 = mysql_db_query($DB, $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$products_added++;
				}
				else {
					$products_skiped++;
				}
			}
		}
		$k++;
	}
}
?>
<table cellpadding="0" cellspacing="5" border="0" >
	<tr>
		<td>Products added:</td>
		<td><b><?=$products_added?></b></td>
	</tr>
	<tr>
		<td>Products in list:</td>
		<td><b><?=$products_skiped?></b></td>
	</tr>
</table>