<?
/*ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);*/
ini_set('memory_limit', '64M');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


if ($action == 'upload_file') {
	$target_path = "files/";
	$target_path = $target_path . basename( $_FILES['csv_report']['name']); 
	$ext = substr($_FILES['csv_report']['name'],-3);
	$fl = substr($_FILES['csv_report']['name'],0,-4);
	$k=0;
	while (file_exists($target_path))
	{
		
		$filename = $fl."_".$k.".".$ext;// creates the path where the file is to be uploaded
		$target_path = "files/". $filename;
		$k++;
	}
	if(move_uploaded_file($_FILES['csv_report']['tmp_name'], $target_path)) {
		
	} else{
	    echo "There was an error uploading the file, please try again!";
	}

}
if ($handle = opendir('files')) {
    while (false !== ($file = readdir($handle))) {
        if ($file != "." && $file != ".." && $file != ".svn") {
            $files[] = $file;
        }
    }
    closedir($handle);
}
?>
<HTML>
<HEAD>
<TITLE>FBA Settlement Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/reports/ebay_payments/jquery.tooltip_new.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link href="/mgt/reports/ebay_payments/tooltip.css" rel="stylesheet" type="text/css" />
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
$(document).ready(function(){
	$('#file_select').change(function(){
		$('#file_headers option').each(function(i, option){ $(option).remove(); });
		$.get('get_file_header.phtml',{'f':$(this).val()}, function(data) {
			$('#file_headers').append(data);
		});
	});
}); 
function addToList() {
	
	var file = $('#file_select').val();
	var column = $('#file_headers').val();
	var list = $('#listid').val();
	var sourcing = $('#sourcing').val();
	var msg = '';
	if(column == '' || column==null) {
		msg+='Please select a Column\n';
	}
	if(list == '') {
		msg+='Please select a List\n';
	}
	if(sourcing == '-1') {
		msg+='Please select a Vendor\n';
	}
	if(msg == '') {
		$('#reportdata').html('<img src="/mgt/images/loading.gif" alt="" />');
		$.get('ajax_addtolist.phtml',{'file':file,'column':column,'list':list,'sourcing':sourcing}, function(data) {
			$('#reportdata').html(data);
		});
	}
	else {
		alert(msg);
	}
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td colspan="2">
			<!------------------------------------------------------------------------------------------>
			<table cellpadding="0" cellspacing="0" border="0" style="font-size:12px;">
				<tr>
					<td style="padding-left:50px">
						<form method="POST" enctype="multipart/form-data">
							Upload files:
							<input type="file" name="csv_report">
							<input type="hidden" name="action" value="upload_file"/>
							<input type="submit" value="Upload">
						</form>
					</td>
				</tr>
			</table>
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		<tr>
			<td width=300>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:300px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>	
			<td>
				<div id="reportdata">&nbsp;</div>
			</td>		
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>