<form name="settlement" id="settlement">
<table>
<tr>
	<td class="g1">File:</td>
	<td>
		<select id="file_select">
			<option value="">Please select a file</option>
			<?
				foreach ($files as $f) {
					?>
						<option value="<?=$f?>"><?=substr($f,0,-4)?></option>
					<?
				}
			?>
		</select>					
	</td>
</tr>
<tr>
	<td class="g1">File headers:</td>
	<td>
		<select name="file_headers" id="file_headers" class="formSelect">
			
		</select>	
	</td>
</tr>
<tr>
	<td class="g1">List:</td>
	<td>
		<select name="listid" id="listid" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select lid, list_title from lists order by list_title";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($lid, $list_title) = mysql_fetch_array($qok))
		{
			if(strlen($list_title) > 25)
			{
				$list_title = substr($list_title, 0, 18)."...";
			}
			?>
			<option value="<?=$lid;?>" <?if($_SESSION["SAVEDSEARCH"]['listid'] == $lid) echo "SELECTED"; ?>><?=$list_title;?>
			<?
		}
		?>
		</select>	
		<BR>
<!--		<input type="checkbox" name="nolist" value="1"  <?if($_SESSION["SAVEDSEARCH"]['nolist'] == 1) echo "CHECKED"; ?>>Not on a list					-->
	</td>
</tr>
<tr>
	<td class="g1"><B>Sourced From:</B></td>
	<td>
		<select name="sourcing" id="sourcing" class="formSelect">
		<option value="-1">--- SELECT ----</option>
		<?
		
		$query = "select vendorid, vendorname from vendors order by vendorname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
		{
			if(strlen($x_vendorname) > 25)
			{
				$x_vendorname = substr($x_vendorname, 0, 22)."...";
			}
		?>
			<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
		<?	
		}
		?>
		</select>
	</td>	
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="Add To List" onclick="addToList()" class="buttonItem">
	</td>
</tr>						
</table>
</form>