<script>
function assignSKUs()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}

	document.assignoptions.idlist.value = skus;
	document.assignoptions.submit();

}
</script>
<form name="assignoptions" method="post" action="assign_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.assignoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Assigned To:</td>
	<td>
		<select name="assignedto" class="formSelect">
			<option value="-1">--- SELECT ----</option>
			<option value="0">Unassigned</option>
			<?
			$query = "select id, displayname from users order by displayname";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
			<?	
			}
			?>
		</select>	
	</td>

	<td>&nbsp;&nbsp;&nbsp;</td>

	<td valign=top><input type="button" name="Action" value="Assign SKUs" class="buttonItem" onclick="assignSKUs();"></td> <!-- categorizeSKus --->

</tr>
</table>
</form>