<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Affiliate Overall Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
	display:none;
	width:125px;
	height:65px;
	position:absolute;
	z-index:100;
	background:white;
	padding:2px;
	font:9pt tahoma;
	border:1px solid gray
}
.cover {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:99;
	background:#eeeeee;
	filter:alpha(Opacity=50);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7
}
</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<strong>Affiliate Overall Report</strong>
		<br /><br />
		
		<table width="100%">
		<tr bgcolor="#eeeeee">
			<td align=center height="21">Total traffic</td>
			<td align=center>Total sale amount</td>
			<td align=center>Total commissions</td>
			<td align=center>Total unpaid</td>
			<td align=center>Total paid</td>
			<td align=center>Total moved to credit</td>
		</tr>
		<?php
		// total traffic count
		$q_traffic = "SELECT COUNT(id) AS cnt 
					  FROM customer_aff_traffic_log 
					  LIMIT 1";
		if (!$qok_traffic = mysql_db_query($DB, $q_traffic, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($total_traffic) = mysql_fetch_array($qok_traffic);

		// total sale and commissions
		$q_sale_commissions = "SELECT SUM(cacl.sale_amount) AS total_sale, 
									  SUM(cacl.commission_amount) AS total_commission, 
									  (SELECT SUM(commission_amount) FROM customer_aff_commissions_log WHERE sale_status = 'completed' AND commission_status = 'approved' AND payment_status = 'unpaid') AS total_commission_unpaid,  
									  (SELECT SUM(commission_amount) FROM customer_aff_commissions_log WHERE sale_status = 'completed' AND commission_status = 'approved' AND payment_status = 'paid') AS total_commission_paid 
							   FROM customer_aff_commissions_log cacl
							   LEFT JOIN customer_aff_traffic_log catl ON catl.id = cacl.traffic_log_id
							   LIMIT 1";
		if (!$qok_sale_commissions = mysql_db_query($DB, $q_sale_commissions, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($total_sale, $total_commission, $total_commission_unpaid, $total_commission_paid) = mysql_fetch_array($qok_sale_commissions);

		// total commission paid as credit
		$q_commission_2credit = "SELECT SUM(cacp.payment_amount) AS payment_amount 
								 FROM customer_aff_commissions_log cacl 
								 LEFT JOIN customer_aff_commission_payments cacp ON cacp.commission_id = cacl.id";
		if (!$qok_commission_2credit = mysql_db_query($DB, $q_commission_2credit, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($commission_to_credit_amount) = mysql_fetch_array($qok_commission_2credit);
		?>
		<tr>
			<td align=center><?php echo $total_traffic; ?> cookies</td>
			<td align=center>$<?php echo sprintf('%.2f', $total_sale); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $total_commission); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $total_commission_unpaid); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $total_commission_paid); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $commission_to_credit_amount); ?></td>
		</tr>
		</table>		
		
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>