<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Affiliates</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Affiliate Dashboard</B>
		<BR><BR>
		<table>
		<tr>
			<td><a href="/mgt/cm/affiliate_banners.phtml">Banner management</a></td>
			<td>&nbsp;</td>
			<td>Manage banners used by affiliate to promote us.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_view_affiliates.phtml">View affiliates</a></td>
			<td>&nbsp;</td>
			<td>View affiliates.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_view_commissions.phtml">View commissions</a></td>
			<td>&nbsp;</td>
			<td>View commissions.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_pay_commissions.phtml">Pay commissions</a></td>
			<td>&nbsp;</td>
			<td>View commissions.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_report_traffic.phtml">Traffic reports</a></td>
			<td>&nbsp;</td>
			<td>View traffic reports.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_report_commissions.phtml">Commission reports</a></td>
			<td>&nbsp;</td>
			<td>View commission reports.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_report_hcp.phtml">Healthcare report</a></td>
			<td>&nbsp;</td>
			<td>View healthcare providers report.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/cm/affiliate_report_overall.phtml">Overall reports</a></td>
			<td>&nbsp;</td>
			<td>View overall reports.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		</table>
		<tr>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>