<form name="commission_report" id="commission_report">
<table>
<tr>
	<td class="g1">Commission Date:</td>
	<td>
	<select name="qdate" class="formselect" onchange="changeRange();">
		<option value="-1">-Quick Range-</option>
		<option value="1">Today</option>
		<option value="6">Yesterday</option>
		<option value="2">Last 7 Days</option>
		<option value="3">Last 14 Days</option>
		<option value="4">Last 30 Days</option>
		<option value="5">Last Month</option>
	</select>
	<br>							
	<input type="checkbox" name="disable_range" checked="checked">Ignore Date Range<br />
	<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size="15" class="formbox" style="width:65px" onclick="cal1x.select(document.forms['commission_report'].bdate,'anchor1x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['commission_report'].bdate,'anchor1x','MM/dd/yyyy'); return false;" id="anchor1x">
	- to -
	<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size="15" class="formbox" style="width:65px" onclick="cal1x.select(document.forms['commission_report'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['commission_report'].edate,'anchor2x','MM/dd/yyyy'); return false;" id="anchor2x">
	</td>
</tr>
<tr>
	<td class="g1">Payment<br />Status:</td>
	<td>
		<select name="payment_status" class="formSelect" >
		<option value="">----- ALL --------</option>
		<option value="unpaid">Unpaid</option>
		<option value="paid">Paid</option>
		</select>		
	</td>
</tr>
<tr>
	<td class="g1"><div style="padding-top:2px;">Return:</div></td>
	<td valign="top">
		<select name="num2return" class="formSelect">
			<option value="50" selected="">50 items (default)
			</option><option value="100">100 items
			</option><option value="1000">1000 items
			</option><option value="9999">9999 items
		</option></select>						
	</td>
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		<div id="logresults" style="display:block;margin-top:10px;"></div>
	</td>
</tr>						
</table>
</form>