<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Affiliate View Commissions</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
	display:none;
	width:125px;
	height:65px;
	position:absolute;
	z-index:100;
	background:white;
	padding:2px;
	font:9pt tahoma;
	border:1px solid gray
}
.cover {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:99;
	background:#eeeeee;
	filter:alpha(Opacity=50);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7
}
</STYLE>
<script>
function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "1")				
	{// today
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "8")				
	{// last 60 days
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "9")				
	{// last 90 days
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "10")				
	{// last 120 days
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.commission_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.commission_report.qdate.options[document.commission_report.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.commission_report.disable_range.checked = 0;
		
		document.commission_report.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.commission_report.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function pullReport(p)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var disable_range = document.commission_report.disable_range.checked;
	var bdate =  document.commission_report.bdate.value;
	var edate =  document.commission_report.edate.value;
	var commission_status = document.commission_report.commission_status.options[ document.commission_report.commission_status.selectedIndex ].value;
	var payment_status = document.commission_report.payment_status.options[ document.commission_report.payment_status.selectedIndex ].value;
	var num2return = document.commission_report.num2return.options[ document.commission_report.num2return.selectedIndex ].value;
	
	document.getElementById("logresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	var url="/mgt/cm/ajax_affiliate_view_commissions.phtml";
	url += "?disable_range="+disable_range;
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&commission_status="+commission_status;
	url += "&payment_status="+payment_status;
	url += "&num2return="+num2return;
	url += "&p="+p;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split('~');
		document.getElementById("logresults").innerHTML =  data[0];
		var dlg = document.getElementById("reportdata");
		dlg.innerHTML = data[1];
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}	
}
function gotoPage(pagenum)
{
	pullReport(pagenum);
}
function goToPage2()
{
    var pagenum = $('#pageno').val();
	pullReport(pagenum);
}
function toggle(source,inputs_name) {
	checkboxes = document.getElementsByName(inputs_name);
	for(var i=0, n=checkboxes.length;i<n;i++) {
		if (checkboxes[i].disabled == false){
			checkboxes[i].checked = source.checked;
		}
	}
}
function e2window(url, title,itemId)
{
	var winname = "";
	var contentFrame = "";
	var titlebar = "";
	
	for(var xx = 1; xx <= numwindows; xx++)
	{
		if(eWindows[xx] == 0)
		{
			contentFrame = "win"+xx+"frame";
			winname = "#win"+xx;
			titlebar = "win"+xx+"title";
			break;
		}
	}
	
	if(winname == "")
	{
		alert("No more windows available.");
		return;
	}
	
	eWindows[xx] = 1;

	$(winname).dialog({
			autoOpen: true,
			height: 600,
			width: 800,
			modal: false,
			close: function(event, ui)
				{ 
                   //document.getElementById(contentFrame).src = "about:blank";
				    document.getElementById(contentFrame).innerHTML = '<center><img src="/mgt/js/cp/i/ajax_loader_large.gif"></center>';
					$(winname).dialog('option', 'title', "Loading...");
					$(this).dialog('close'); 
					eWindows[xx] = 0;
               }
			})
	      .dialogExtend({
	        "closable" : true,
       		"maximizable" : true,
        	"minimizable" : true,
        	"collapsable" : true,
        	"dblclick" : "collapse",
        	"minimizeLocation" : "right",
        	"icons" : {
          	"close" : "ui-icon-circle-close",
          	"maximize" : "ui-icon-circle-plus",
          	"minimize" : "ui-icon-circle-minus",
          	"collapse" : "ui-icon-triangle-1-s",
          	"restore" : "ui-icon-bullet"
        }
      });
	  
	  
	$(winname).dialog( "open" );
	$(winname).dialog('option', 'title', title);
	document.getElementById(contentFrame).src = url;
}

function updateCommissionStatus(status_type,commission_id){
	document.getElementById("commission-status-" + commission_id).innerHTML =  "<img src='/mgt/images/loading.gif'>";
	var url="/mgt/cm/ajax_affiliate_functions.phtml";
 	url += "?action=update_commission_status";
	url += "&status_type="+status_type;
	url += "&commission_id="+commission_id;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
	xmlHttp.onreadystatechange=function () {
		gotUpdateCommissionStatus(commission_id);
	};
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotUpdateCommissionStatus(commission_id)
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("commission-status-" + commission_id).innerHTML = xmlHttp.responseText;
	}	
}
function updateSelectedCommissions(checkboxes_name)
{
	var commissions_list = "";
	var myForm = document.reportdata;
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name == checkboxes_name)
		{
			if(myForm[z].checked)
			{
				if(commissions_list.length <= 0){
					commissions_list += myForm[z].value;
				} else {
					commissions_list += ","+myForm[z].value;
				}
			}
		}
	}

	if (commissions_list != '')
	{
		var commission_status = document.reportdata.commission_status.options[ document.reportdata.commission_status.selectedIndex ].value;
		var commissions_list_arr = commissions_list.split(',');
		var z = 0;
		for(z=0; z<commissions_list_arr.length;z++)
		{
			updateCommissionStatus(commission_status,commissions_list_arr[z]);
			setInterval(updateCommissionStatus, 500);
		}
	} else {
		alert('Please check off at least one commission.');
		return;
	}
}
function gotUpdateCommissionStatus(commission_id)
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("commission-status-" + commission_id).innerHTML = xmlHttp.responseText;
	}	
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<strong>Affiliate View Commissions</strong>
		<br /><br />
		<table width=99%>
		<tr>
			<td width=250>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("affiliate_view_commissions_form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			</td>		
			<td>
			<form name="reportdata" method="post" action="">
				<div id="reportdata">&nbsp;</div>
			</form>
			</td>
		</tr>
		</table>
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>