<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>View Affiliates</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
	display:none;
	width:125px;
	height:65px;
	position:absolute;
	z-index:100;
	background:white;
	padding:2px;
	font:9pt tahoma;
	border:1px solid gray
}
.cover {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:99;
	background:#eeeeee;
	filter:alpha(Opacity=50);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7
}
</STYLE>
<script>
function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function pullReport(p)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var aff_acctid 	= escape(document.view_affiliates.aff_acctid.value);
	var cname 	= escape(document.view_affiliates.cname.value);
	var emailaddr = escape(document.view_affiliates.emailaddr.value);
	var num2return = document.view_affiliates.num2return.options[ document.view_affiliates.num2return.selectedIndex ].value;
	
	document.getElementById("logresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	var url="/mgt/cm/ajax_affiliate_view_affiliates.phtml";
 	url += "?aff_acctid="+aff_acctid;
	url += "&cname="+cname;
	url += "&emailaddr="+emailaddr;
	url += "&num2return="+num2return;
	url += "&p="+p;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split('~');
		document.getElementById("logresults").innerHTML =  data[0];
		var dlg = document.getElementById("reportdata");
		dlg.innerHTML = data[1];
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}	
}
function gotoPage(pagenum)
{
	pullReport(pagenum);
}
function goToPage2()
{
    var pagenum = $('#pageno').val();
	pullReport(pagenum);
}
function e2window(url, title,itemId)
{
	var winname = "";
	var contentFrame = "";
	var titlebar = "";
	
	for(var xx = 1; xx <= numwindows; xx++)
	{
		if(eWindows[xx] == 0)
		{
			contentFrame = "win"+xx+"frame";
			winname = "#win"+xx;
			titlebar = "win"+xx+"title";
			break;
		}
	}
	
	if(winname == "")
	{
		alert("No more windows available.");
		return;
	}
	
	eWindows[xx] = 1;

	$(winname).dialog({
			autoOpen: true,
			height: 600,
			width: 800,
			modal: false,
			close: function(event, ui)
				{ 
                   //document.getElementById(contentFrame).src = "about:blank";
				    document.getElementById(contentFrame).innerHTML = '<center><img src="/mgt/js/cp/i/ajax_loader_large.gif"></center>';
					$(winname).dialog('option', 'title', "Loading...");
					$(this).dialog('close'); 
					eWindows[xx] = 0;
               }
			})
	      .dialogExtend({
	        "closable" : true,
       		"maximizable" : true,
        	"minimizable" : true,
        	"collapsable" : true,
        	"dblclick" : "collapse",
        	"minimizeLocation" : "right",
        	"icons" : {
          	"close" : "ui-icon-circle-close",
          	"maximize" : "ui-icon-circle-plus",
          	"minimize" : "ui-icon-circle-minus",
          	"collapse" : "ui-icon-triangle-1-s",
          	"restore" : "ui-icon-bullet"
        }
      });
	  
	  
	$(winname).dialog( "open" );
	$(winname).dialog('option', 'title', title);
	document.getElementById(contentFrame).src = url;
}
function updatePreferentialCommission(aff_acctid)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";

	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var commission_percent = document.getElementById('preferential-commission-' + aff_acctid).value;
	var url="/mgt/cm/ajax_affiliate_functions.phtml";
 	url += "?action=update_preferential_commission";
	url += "&aff_acctid="+aff_acctid;
	url += "&commission_percent="+commission_percent;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
	xmlHttp.onreadystatechange=gotUpdatePreferentialCommission;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotUpdatePreferentialCommission()
{
	if(xmlHttp.readyState==4)
	{ 
		var ajax_response = xmlHttp.responseText;
		if (ajax_response != ''){
			alert(ajax_response);
		}
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}
}
function updateAutoApproveCommission(aff_acctid, form_select_name)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";

	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var commission_status = document.reportdata[form_select_name].options[ document.reportdata[form_select_name].selectedIndex ].value;	
	var url="/mgt/cm/ajax_affiliate_functions.phtml";
 	url += "?action=update_auto_approve_commission";
	url += "&aff_acctid="+aff_acctid;
	url += "&commission_status="+commission_status;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
	xmlHttp.onreadystatechange=gotUpdateAutoApproveCommission;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotUpdateAutoApproveCommission()
{
	if(xmlHttp.readyState==4)
	{ 
		var ajax_response = xmlHttp.responseText;
		if (ajax_response != ''){
			alert(ajax_response);
		}
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}
}
function updateHcProviderStatus(aff_acctid, form_select_name)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";

	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var hc_provider_status = document.reportdata[form_select_name].options[document.reportdata[form_select_name].selectedIndex].value;	
	var url="/mgt/cm/ajax_affiliate_functions.phtml";
 	url += "?action=update_hc_provider_status";
	url += "&aff_acctid="+aff_acctid;
	url += "&hc_provider_status="+hc_provider_status;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
	xmlHttp.onreadystatechange=gotUpdateHcProviderStatus;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotUpdateHcProviderStatus()
{
	if(xmlHttp.readyState==4)
	{ 
		var ajax_response = xmlHttp.responseText;
		if (ajax_response != ''){
			alert(ajax_response);
		}

		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}
}
function updateHcProviderLength(aff_acctid)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";

	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var hc_provider_length = document.getElementById('hc_provider_length_' + aff_acctid).value;
	var url="/mgt/cm/ajax_affiliate_functions.phtml";
 	url += "?action=update_hc_provider_length";
	url += "&aff_acctid="+aff_acctid;
	url += "&hc_provider_length="+hc_provider_length;

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
	xmlHttp.onreadystatechange=gotUpdatePreferentialCommission;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotUpdateHcProviderLength()
{
	if(xmlHttp.readyState==4)
	{ 
		var ajax_response = xmlHttp.responseText;
		if (ajax_response != ''){
			alert(ajax_response);
		}
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<strong>View Affiliates</strong>
		<br /><br />
		<table width=99%>
		<tr>
			<td width=250>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("affiliate_view_affiliates_form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			</td>		
			<td>
			<form name="reportdata" method="post" action="">
				<div id="reportdata">&nbsp;</div>
			</form>
			</td>
		</tr>
		</table>
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>