<form name="report_hcp" id="report_hcp">
<table>
<tr>
	<td class="g1">Affiliate<br />account #:</td>
	<td><input type="text" name="aff_acctid" value="" style="width:125px" class="formBox"></td>
</tr>
<tr>
	<td class="g1">Customer<br />account #:</td>
	<td><input type="text" name="acctid" value="" style="width:125px" class="formBox"></td>
</tr>
<tr>
	<td class="g1">Customer name:</td>
	<td><input type="text" name="cname" value="" style="width:125px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
</tr>
<tr>
	<td class="g1">Customer<br />email address:</td>
	<td><input type="text" name="emailaddr" value="" style="width:125px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
</tr>
<tr>
	<td class="g1"><div style="padding-top:2px;">Return:</div></td>
	<td valign="top">
		<select name="num2return" class="formSelect">
			<option value="50" selected="">50 items (default)
			</option><option value="100">100 items
			</option><option value="1000">1000 items
			</option><option value="9999">9999 items
		</option></select>						
	</td>
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		<div id="logresults" style="display:block;margin-top:10px;"></div>
	</td>
</tr>						
</table>
</form>