<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");
$xbdate2 = strtotime("$bdate2 00:00:00");
$xedate2 = strtotime("$edate2 23:59:59");
$addon = '';

if ($disable_range != "true")
{
	$addon .= " AND UNIX_TIMESTAMP(catl.traffic_datetime) >= '$xbdate' 
				AND UNIX_TIMESTAMP(catl.traffic_datetime) <= '$xedate'";
}

if ($disable_range2 != "true")
{
	$addon .= " AND UNIX_TIMESTAMP(cacl.commission_datetime) >= '$xbdate2' 
				AND UNIX_TIMESTAMP(cacl.commission_datetime) <= '$xedate2'";
}

if (!empty($commission_status))
{
	$addon .= " AND cacl.commission_status = '$commission_status'";
}

if (!empty($payment_status))
{
	$addon .= " AND cacl.payment_status = '$payment_status'";
}

$q = "SELECT caff.hc_provider, 
			 catl.traffic_referer, 
			 catl.utm_source, 
			 catl.utm_medium, 
			 catl.utm_campaign, 
			 catl.traffic_ip, 
			 catl.traffic_datetime, 
			 cacl.id, 
			 cacl.traffic_log_id, 
			 cacl.sale_amount, 
			 cacl.commission_datetime, 
			 cacl.commission_amount, 
			 cacl.payment_status, 
			 cacl.payment_datetime
	  FROM customer_aff caff
	  JOIN customer_aff_commissions_log cacl ON cacl.aff_acctid = caff.aff_acctid 
	  LEFT JOIN customer_aff_traffic_log catl ON catl.id = cacl.traffic_log_id 
	  WHERE cacl.sale_status = 'completed' 
	  AND cacl.commission_status = 'approved' 
	  $addon
	  ORDER BY cacl.commission_datetime DESC";
if (!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;

if(intval($p) == 0)	$p = 1;

$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );

$nextpage = $lastpage = 0;

if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;

$offset = ($p - 1) * $ITEMS_PER_PAGE;
if ($totalnum > 0)
{
	$bview = ($offset) + 1;
	$eview = $bview + $ITEMS_PER_PAGE - 1;
}

if ($eview > $totalnum)
{
	$eview = $totalnum;
}

if(mysql_num_rows($qok) <= 0){echo "<I>No results</I>~<B><I>No results</I></B>";exit;}
if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
echo "($totalnum results found)~";
?>

<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?php
	if ($lastpage != "")
	{
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
	<td align="center">
		<div align="center"><?=number_format($totalnum,0);?> results on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
		Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
		<input type="button" name="" value="Go" onclick="goToPage2();" class="buttonItem">
	</td>
	<?php
	if($nextpage != "")
	{
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
</tr>
</table>

<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align="center" height="21"><B>Commission ID</B></td>
	<td align="center"><B>Commission date</B></td>
	<td align="center"><B>Referring URL</B></td>
	<td align="center"><B>Reffering source</B></td>
	<td align="center"><B>Reffering medium</B></td>
	<td align="center"><B>Reffering campaign</B></td>
	<td align="center"><B>IP address</B></td>
	<td align="center"><B>Traffic date</B></td>
	<td align="center"><B>Sale amount</B></td>
	<td align="center"><B>Commission amount</B></td>
	<td align="center"><B>Payment status</B></td>
	<td align="center"><B>Payment date</B></td>
</tr>	
<?php
if (mysql_num_rows($qok) > 0)
{
	$numout = 0;
	while ((list($hc_provider, 
				 $traffic_referer, 
				 $traffic_source, 
				 $traffic_medium, 
				 $traffic_campaign, 
				 $traffic_ip, 
				 $traffic_datetime, 
				 $commission_id, 
				 $traffic_log_id, 
				 $sale_amount, 
				 $commission_datetime, 
				 $commission_amount, 
				 $payment_status, 
				 $payment_datetime) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
	{
		$traffic_referer_text = '';
		if (!empty($traffic_referer))
		{
			$traffic_host_arr = parse_url($traffic_referer); 
			$traffic_referer_text = $traffic_host_arr['scheme'] . '://' . $traffic_host_arr['host'];
		}
		
		if ($traffic_log_id == 0 && $hc_provider == 1)
		{
			$bgcolor_onmouseover = '#B0E1C0';
			$bgcolor_onmouseout = '#B0E1C0';
		}
		else 
		{
			$bgcolor_onmouseover = '#eeeeff';
			$bgcolor_onmouseout = '#FFFFFF';
		}
		?>
		<tr onMouseOver="this.bgColor='<?php echo $bgcolor_onmouseover; ?>';" onMouseOut="this.bgColor='<?php echo $bgcolor_onmouseout; ?>';" bgcolor="<?php echo $bgcolor_onmouseout; ?>">
			<td align=center>#<?php echo $commission_id; ?></td>
			<td align=center><?php echo $commission_datetime; ?></td>
			<td align=center><span title="<?php echo $traffic_referer; ?>"><?=$traffic_referer_text;?></span></td>
			<td align=center><?php echo $traffic_source; ?></td>
			<td align=center><?php echo $traffic_medium; ?></td>
			<td align=center><?php echo $traffic_campaign; ?></td>
			<td align=center><?php echo $traffic_ip; ?></td>
			<td align=center><?php echo $traffic_datetime; ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $sale_amount); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $commission_amount); ?></td>
			<td align=center><?php echo ucfirst($payment_status); ?></td>
			<td align=center><?php echo $payment_datetime; ?></td>
		</tr>
		<?php
		++$numout;
	}	
}
else 
{
	?>
	<tr><td colspan="8" align="center">No results.</td></tr>
	<?php
}
?>
</table>

<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?php
	if ($lastpage != "")
	{
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";		
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";		
	}
	?>
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> results on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	<?php
	if($nextpage != "")
	{
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";		
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
</tr>
</table>