<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");
$addon = '';

if ($disable_range != "true")
{
	$addon .= " AND UNIX_TIMESTAMP(cacl.commission_datetime) >= '$xbdate' 
				AND UNIX_TIMESTAMP(cacl.commission_datetime) <= '$xedate'";
}

if (!empty($commission_status))
{
	$addon .= " AND cacl.commission_status = '$commission_status'";
}
else 
{
	$addon .= " AND cacl.commission_status IN ('pending', 'approved', 'canceled')";
}

if (!empty($payment_status))
{
	$addon .= " AND cacl.payment_status = '$payment_status'";
}

$q = "SELECT cacl.id, 
			 cacl.aff_acctid, 
			 cacl.traffic_log_id, 
			 cacl.sale_order_id, 
			 cacl.sale_amount, 
			 cacl.commission_datetime, 
			 cacl.commission_amount, 
			 cacl.commission_status, 
			 cacl.payment_status, 
			 ca.fname, 
			 ca.lname, 
			 catl.traffic_referer,
			 (SELECT hc_provider FROM customer_aff WHERE aff_acctid = cacl.aff_acctid) AS hc_provider
	  FROM customer_aff_commissions_log cacl 
	  JOIN customer_accounts ca ON ca.acctid = cacl.aff_acctid
	  LEFt JOIN customer_aff_traffic_log catl ON catl.id = cacl.traffic_log_id
	  WHERE cacl.sale_status = 'completed'
	  $addon";
if (!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;

if(intval($p) == 0)	$p = 1;

$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );

$nextpage = $lastpage = 0;

if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;

$offset = ($p - 1) * $ITEMS_PER_PAGE;
if ($totalnum > 0)
{
	$bview = ($offset) + 1;
	$eview = $bview + $ITEMS_PER_PAGE - 1;
}

if ($eview > $totalnum)
{
	$eview = $totalnum;
}

if(mysql_num_rows($qok) <= 0){echo "<I>No results</I>~<B><I>No results</I></B>";exit;}
if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
echo "($totalnum results found)~";
?>

<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?php
	if ($lastpage != "")
	{
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
	<td align="center">
		<div align="center"><?=number_format($totalnum,0);?> results on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
		Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
		<input type="button" name="" value="Go" onclick="goToPage2();" class="buttonItem">
	</td>
	<?php
	if($nextpage != "")
	{
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
</tr>
</table>

<table width=100% id="results">
<tr bgcolor="#eeeeee">
	<td align="center" height="21"><B>Affiliate ID</B></td>
	<td align="center"><B>Affiliate Name</B></td>
	<td align="center"><B>Commission status</B></td>
	<td align="center"><B>Commission date</B></td>
	<td align="center"><B>Order ID</B></td>
	<td align="center"><B>Total sale</B></td>
	<td align="center"><B>Commission amount</B></td>
	<td align="center"><B>Referral URL</B></td>
	<td align="center"><B>Payment status</B></td>
	<td align="center"><B>Remove</B></td>
	<td align="center"><input type="checkbox" name="select_all" onClick="toggle(this,'commission[]');" value=""></td>
</tr>	
<?php
if (mysql_num_rows($qok) > 0)
{
	$numout = 0;
	while ((list($commission_id, 
				 $affiliate_id, 
				 $traffic_log_id, 
				 $order_id, 
				 $order_amount, 
				 $commission_datetime, 
				 $commission_amount, 
				 $commission_status, 
				 $payment_status, 
				 $affiliate_fname, 
				 $affiliate_lname, 
				 $traffic_referer, 
				 $hc_provider) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
	{
		if ($commission_status == 'pending')
		{
			$commission_status_text = '<a href="javascript:void(0)" onClick="updateCommissionStatus(\'approved\',\'' . $commission_id . '\');" title="Approve commission" style="color:#50874D">Approve</a>';
		}
		elseif ($commission_status == 'approved')
		{
			$commission_status_text = '<a href="javascript:void(0)" onClick="updateCommissionStatus(\'canceled\',\'' . $commission_id . '\')" title="Cancel commission" style="color:#ff0000">Cancel</a>';
		}
		elseif ($commission_status == 'canceled')
		{
			$commission_status_text = '<a href="javascript:void(0)" onClick="updateCommissionStatus(\'approved\',\'' . $commission_id . '\');" title="Approve commission" style="color:#50874D">Approve</a>';
		}
		
		$traffic_referer_text = '';
		if (!empty($traffic_referer))
		{
			$traffic_host_arr = parse_url($traffic_referer); 
			$traffic_referer_text = $traffic_host_arr['scheme'] . '://' . $traffic_host_arr['host'];
		}
		
		if ($traffic_log_id == 0 && $hc_provider == 1)
		{
			$bgcolor_onmouseover = '#B0E1C0';
			$bgcolor_onmouseout = '#B0E1C0';
		}
		else 
		{
			$bgcolor_onmouseover = '#eeeeff';
			$bgcolor_onmouseout = '#FFFFFF';
		}
		?>
		<tr onMouseOver="this.bgColor='<?php echo $bgcolor_onmouseover; ?>';" onMouseOut="this.bgColor='<?php echo $bgcolor_onmouseout; ?>';" bgcolor="<?php echo $bgcolor_onmouseout; ?>">
			<td align=center><a href="javascript:e2window('/mgt/cm/viewaccount.phtml?acctid=<?php echo $affiliate_id; ?>&inwin=1', 'View affiliate account');" title="View affiliate account"><?php echo $affiliate_id; ?></a></td>
			<td align=center><a href="/customer/default.phtml?login_as_affiliate=<?php echo $affiliate_id; ?>" target="_blank" title="Login as this affiliate"><?php echo $affiliate_fname . ' ' . $affiliate_lname; ?></a></td>
			<td align=center id="commission-status-<?php echo $commission_id; ?>"><?php echo $commission_status_text; ?></td>
			<td align=center><?php echo $commission_datetime; ?></td>
			<td align=center><a href="javascript:top.e2window('/mgt/om/vieworder.phtml?iv=<?php echo $order_id; ?>&inwin=1', 'View Order: <?php echo $order_id; ?>');"><?php echo $order_id; ?></a></td>
			<td align=center>$<?php echo sprintf('%.2f', $order_amount); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $commission_amount); ?></td>
			<td align=center><span title="<?php echo $traffic_referer; ?>"><?=$traffic_referer_text;?></span></td>
			<td align=center><?php echo ucfirst($payment_status); ?></td>
			<?php if ($payment_status == 'unpaid'): ?>
				<td align=center><a href="javascript:void(0)" onclick="updateCommissionStatus('removed','<?php echo $commission_id; ?>');" title="Remove commission"><img src="/mgt/images/del.gif" alt="Remove commission"></a></td>
				<td align=center><input type="checkbox" name="commission[]" value="<?php echo $commission_id; ?>"></td>
			<?php else: ?>
				<td align=center><img src="/mgt/images/del.gif" alt="Remove commission"></td>
				<td align=center><input type="checkbox" name="commission[]" value="<?php echo $commission_id; ?>" disabled="disabled"></td>
			<?php endif; ?>	
		</tr>
		<?php
		++$numout;
	}	
}
else 
{
	?>
	<tr><td colspan="8" align="center">No results.</td></tr>
	<?php
}
?>
</table>

<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin:10px 0;background-color:#ffffee">
<tr>
	<?php
	if ($lastpage != "")
	{
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";		
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";		
	}
	?>
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> results on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	<?php
	if($nextpage != "")
	{
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";		
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
</tr>
</table>

<div class="TabbedPanelsContentGroup">
	<div class="TabbedPanelsContent2 TabbedPanelsContentVisible">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
		<tr>
			<td><div style="padding-bottom:3px"><b>Select an action:</b></div>
				<select name="commission_status" class="formSelect">
				<option value="approved">Approve commissions</option>
				<option value="canceled">Cancel commissions</option>
				<option value="removed">Remove commissions</option>
				</select>
				<input type="button" name="do" value="Update selected" class="buttonItem" onclick="updateSelectedCommissions('commission[]');"></td>
		</tr>
		</table>	
	</div>
</div>