<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$addon = '';

if (!empty($aff_acctid))
{
	$addon .= " AND cafa.aff_acctid = '$aff_acctid'";
}

if (!empty($acctid))
{
	$addon .= " AND cafa.acctid = '$acctid'";
}

if (!empty($cname))
{
	$cname_arr = explode(' ', $cname);
	if (count($cname_arr) == 1)
	{
		$addon .= " AND (LOWER(cacc.fname) LIKE '".strtolower($cname_arr['0'])."%' OR LOWER(cacc.lname) LIKE '".strtolower($cname_arr['0'])."%')";
	}
	else 
	{
		$addon .= " AND (LOWER(cacc.fname) LIKE '".strtolower($cname_arr['0'])."%' OR LOWER(cacc.lname) LIKE '".strtolower($cname_arr['0'])."%') AND (LOWER(cacc.lname) LIKE '".strtolower($cname_arr['1'])."%' OR LOWER(cacc.fname) LIKE '".strtolower($cname_arr['1'])."%')";
	}
}

if (!empty($emailaddr))
{
	$addon .= " AND cacc.emailaddr LIKE '$emailaddr%'";
}

$q = "SELECT DISTINCT cafa.aff_acctid,
			 cafa.acctid, 
			 cafa.expiry_date,   
			 cacc.fname, 
			 cacc.lname, 
			 DATE(FROM_UNIXTIME(cacc.created)) AS created, 
			 (SELECT SUM(sale_amount) FROM customer_aff_commissions_log WHERE aff_acctid = cafa.aff_acctid AND acctid = cafa.acctid AND traffic_log_id = '0' LIMIT 1) AS purchase_amount, 
			 (SELECT SUM(commission_amount) FROM customer_aff_commissions_log WHERE aff_acctid = cafa.aff_acctid AND acctid = cafa.acctid AND traffic_log_id = '0' AND sale_status = 'completed' AND commission_status = 'approved') AS commission_amount 
	  FROM customer_aff_hcp cafa
	  JOIN customer_aff caff ON caff.aff_acctid = cafa.aff_acctid 
	  JOIN customer_accounts cacc ON cacc.acctid = cafa.acctid 
	  WHERE 1
	  $addon";
if (!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;

if(intval($p) == 0)	$p = 1;

$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );

$nextpage = $lastpage = 0;

if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;

$offset = ($p - 1) * $ITEMS_PER_PAGE;
if ($totalnum > 0)
{
	$bview = ($offset) + 1;
	$eview = $bview + $ITEMS_PER_PAGE - 1;
}

if ($eview > $totalnum)
{
	$eview = $totalnum;
}

if(mysql_num_rows($qok) <= 0){echo "<I>No results</I>~<B><I>No results</I></B>";exit;}
if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
echo "($totalnum results found)~";
?>

<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?php
	if ($lastpage != "")
	{
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
	<td align="center">
		<div align="center"><?=number_format($totalnum,0);?> results on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
		Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
		<input type="button" name="" value="Go" onclick="goToPage2();" class="buttonItem">
	</td>
	<?php
	if($nextpage != "")
	{
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
</tr>
</table>

<table width=100% id="results">
<tr bgcolor="#eeeeee">
	<td align="center" height="21"><B>Affiliate ID</B></td>
	<td align="center"><B>Customer ID</B></td>
	<td align="center"><B>Customer Name</B></td>
	<td align="center"><B>Signup Date</B></td>
	<td align="center"><B>Commission<br />Expiry Date</B></td>
	<td align="center"><B>Total<br />Purchase Amount</B></td>
	<td align="center"><B>Total<br />Commission Amount</B></td>
</tr>	
<?php
if (mysql_num_rows($qok) > 0)
{
	$numout = 0;
	while ((list($aff_acctid, 
				 $acctid, 
				 $expiry_date, 
				 $customer_fname, 
				 $customer_lname, 
				 $customer_created, 
				 $purchase_amount, 
				 $commission_amount) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
	{
		?>
		<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#ffffff';">
			<td align=center><a href="javascript:e2window('/mgt/cm/viewaccount.phtml?acctid=<?php echo $aff_acctid; ?>&inwin=1', 'View affiliate account');" title="View affiliate account"><?php echo $aff_acctid; ?></a></td>
			<td align=center><a href="javascript:e2window('/mgt/cm/viewaccount.phtml?acctid=<?php echo $acctid; ?>&inwin=1', 'View customer account');" title="View customer account"><?php echo $acctid; ?></a></td>
			<td align=center><?php echo $customer_fname . ' ' . $customer_lname; ?></td>
			<td align=center><?php echo $customer_created; ?></td>
			<td align=center><?php echo $expiry_date; ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $purchase_amount); ?></td>
			<td align=center>$<?php echo sprintf('%.2f', $commission_amount); ?></td>
		</tr>
		<?php
		++$numout;
	}	
}
else 
{
	?>
	<tr><td colspan="8" align="center">No results.</td></tr>
	<?php
}
?>
</table>

<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin:10px 0;background-color:#ffffee">
<tr>
	<?php
	if ($lastpage != "")
	{
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";		
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";		
	}
	?>
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> results on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	<?php
	if($nextpage != "")
	{
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";		
	}
	else
	{
		echo "<td>&nbsp;&nbsp;</td>";
	}
	?>
</tr>
</table>