<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>
		<td><a href="/mgt/om/createorder.phtml?xacctid=<?=$acctid;?>" >Create Order</a></td> 
	</tr>
	</table>
	</div>
</div>