<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$acctid = $_GET["acctid"];
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>

<?
if($inwin == 0)
{?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B><a href="javascript:e2window('/mgt/cm/editaccount.phtml?acctid=<?=$acctid;?>&inwin=1', 'Edit Acct: <?=$acctid;?>');" class="title">View Account - <?=$acctid;?></a></B>
		<BR><BR>
<?
}
$query = "select acctid, fname, lname, emailaddr, emailspecials, phone, altphone, faxnumber, website, 
			bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
			ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country,
			nontaxable, taxid, created, netterms, creditlimit, balance, repid, billing_id, shipping_id, ebayacctid
			from customer_accounts where acctid = '$acctid'";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($acctid, $fname, $lname, $emailaddr, $emailspecials, $phone, $altphone, $faxnumber, $website, 
			$bill2name, $bill2street1, $bill2street2, $bill2city, $bill2state, $bill2zip, $bill2country,
			$ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country,
			$nontaxable, $taxid, $created, $netterms, $creditlimit, $balance, $repid, $billing_id, $shipping_id, $ebayacctid) = mysql_fetch_array($qok);
?>		
		<table>
		<tr>
			<td width=31% valign=top>
				<!----------------------------------------------------------------------------------------------------------------->
				<table>
				<tr><td bgcolor="#eeeeee" height=21><B>Acct Id:</B></td><td><?=$acctid;?></td></tr>
				<tr><td bgcolor="#eeeeee" height=21><B>eBay Acct:</B></td><td><?=$ebayacctid;?></td></tr>
				<tr><td bgcolor="#eeeeee" height=21><B>First Name:</B></td><td><?=$fname;?></td></tr>
				<tr><td bgcolor="#eeeeee" height=21><B>Last Name:</B></td><td><?=$lname;?></td></tr>
				<tr><td bgcolor="#eeeeee" height=21><B>Email Address:</B></td><td><?=$emailaddr;?></td></tr>
				<tr><td bgcolor="#eeeeee" height=21><B>Email Specials:</B></td><td><?=$efc->yesno($emailspecials);?></td></tr>
				<tr><td bgcolor="#eeeeee" height=21><B>Account Created:</B></td><td><?=date("m/d/Y", $created);?></td></tr>
				<?php 
				if ($DB == 'rawfoodworld' && $acctid > 0)
				{
					$q_cb = "SELECT COUNT(id) as count, credit_amount
							 FROM customer_credits
							 WHERE acctid = '$acctid'
							 LIMIT 1";
					if(!$qok_cb = mysql_db_query($DB, $q_cb, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($cb_verify,$credit_amount) = mysql_fetch_array($qok_cb);
					if ($cb_verify > 0)
					{}
					else 
					{
						$q_cb_insert = "INSERT INTO customer_credits (acctid, credit_amount)
										VALUES ('$acctid', '0.00')";
						if(!$qok_cb_insert = mysql_db_query($DB, $q_cb_insert, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						$credit_amount = 0;
					}
					?>
					<tr><td bgcolor="#eeeeee" height=21><B>Credit Balance:</B></td><td>$ <?=sprintf("%.2f", $credit_amount);?> - <a href="<?php echo ($inwin == 1) ? 'javascript:top.' : 'javascript:'; ?>e2window('/mgt/cm/credit_viewlog.phtml?acctid=<?=$acctid;?>&inwin=1', 'View Credit Log');" class="title">View Log</a></td></tr>
					<?php
				}
				?>
				</table>
				<!----------------------------------------------------------------------------------------------------------------->	
			</td>
			
			<td width=2%>&nbsp;</td>
			
			<td width=31% valign=top>
				<!----------------------------------------------------------------------------------------------------------------->
				<table>
				<tr><td bgcolor="#eeeeee" height=21><B>Billing Address:</B></td>
				<td>
					<?=$bill2name;?><BR>
					<?=$bill2street1;?><BR>
					<?=$bill2street2;?><BR>
					<?=$bill2city;?>, <?=$bill2state;?> <?=$bill2zip;?><BR>
					<?=$bill2country;?>
				
				</td>
				</tr>
				
				
				</table>
				<!----------------------------------------------------------------------------------------------------------------->	
			</td>		
			
			<td width=2%>&nbsp;</td>
			
			<td width=31% valign=top>
				<!----------------------------------------------------------------------------------------------------------------->
				<table>
				<tr><td bgcolor="#eeeeee" height=21><B>Shipping Address:</B></td>
				<td>
					<?=$ship2name;?><BR>
					<?=$ship2street1;?><BR>
					<?=$ship2street2;?><BR>
					<?=$ship2city;?>, <?=$ship2state;?> <?=$ship2zip;?><BR>
					<?=$ship2country;?>
				
				</td>
				</tr>
				
				
				</table>
				<!----------------------------------------------------------------------------------------------------------------->	
			</td>			
				
		</tr>
		</table>
			
		<BR><BR>
		
		<TABLE width=95% CELLPADDING=0 CELLSPACING=0 border=0 bgcolor="#ffffff">
		<tr bgcolor="#eeeeee">
			<td class="g3" align=center height=22><B>OrderID</td>
			<td class="g3" align=center><B>Type</td>
			<td class="g3" align=center><B>Date</td>
			<td class="g3" align=center><B>Status</td>
			<td class="g3" align=center><B>Shipped To</td>
			<td class="g3" align=right><B>SubTotal</td>
			<td class="g3" align=right><B>Tax</td>
			<td class="g3" align=right><B>Shipping</td>
			<td class="g3" align=right><B>Total</td>
		</tr>		
			<?
			$query = "select orderid, invoiceid, orderdate, status, subtotal, tax, shipping, total, ship2name, otype, clicktype, clickid from
						customer_orders where acctid = '$acctid' order by orderdate desc";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($orderid, $invoiceid, $orderdate, $status, $subtotal, $tax, $shipping, $total, $ship2name, $otype, $clicktype, $clickid) = mysql_fetch_array($qok))
			{
				if($otype == "") $otype = "INVOICE";
	
				$show_status = "N/A";
	
				if(intval($status) == 0) $show_status = "Received";
				else
				{
					$query = "select status, explanation from company_orderflow where step = '$status' ";
					$q2ok = mysql_db_query($DB, $query, $mysqlid);
					if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
					list($show_status, $explanation) = mysql_fetch_array($q2ok);
				}
	
				$tstamp = date("M-d-Y h:i a", $orderdate);
				
				if ($DB == 'rawfoodworld')
				{
					$q_coup = "SELECT prodid, price
							   FROM customer_order_lines
							   WHERE orderid = '$orderid'";
					$qok_coup = mysql_db_query($DB, $q_coup, $mysqlid);
					if($qok_coup == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($prodid_coup, $price_coup) = mysql_fetch_array($qok_coup))
					{
						if ($prodid_coup == -7)
						{
							$subtotal -= $price_coup;
							continue;
						}
					}
				}
				?>
				<tr class="m3out">
					<td class="g2" align=center height=22>
						<a href="javascript:top.e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Invoice: <?=$invoiceid;?>');" class="title">
							<?=$invoiceid;?>
						</a>
					</td>
					<td class="g2" align=center><?=$otype;?></td>
					<td class="g2" align=center><?=$tstamp;?></td>
					<td class="g2" align=center><?=$show_status;?> 
						<?if($explanation != "") echo "<img src=\"/images/icons/help.gif\" border=0 alt=\"$explanation\">";?>
					</td>
					<td class="g2" align=center><?=$ship2name;?></td>
					<td class="g2" align=right>$ <?=number_format($subtotal, 2);?></td>
					<td class="g2" align=right>$ <?=number_format($tax, 2);?></td>
					<td class="g2" align=right>$ <?=number_format($shipping, 2);?></td>
					<td class="g2" align=right>$ <?=number_format($total, 2);?></td>
				</tr>
				<?
				if(intval($ebayacctid) > 0 && ($clicktype == "1" && $clickid == "EB"))
				{
					$query = "select username, score, feedbackid, type, tstamp, comment from ebay_feedback where orderid = '$orderid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($q2ok) > 0)
					{
						?>
						<tr>
							<td colspan=1>&nbsp;</td>
							<td colspan=7>
								<B>eBay Feedback for <?=$invoiceid;?></B>
								<div style="border:1px #808080 dashed;background-color:#ffffee">
								<table width=98%>
								<tr>
									<td><B>ID</B></td>
									<td><B>Username</B></td>
									<td><B>Date/Time</B></td>
									<td><B>Type</B></td>
									<td><B>Comment</B></td>
								</tr>
								<?
								while(list($username, $score, $feedbackid, $type, $ebtstamp, $ebcomment) = mysql_fetch_array($q2ok))
								{
									?>
									<tr>
										<td><?=$feedbackid;?></td>
										<td><?=$username;?></td>
										<td><?=date("m/d/Y H:i:s", strtotime($ebtstamp));?></td>
										<td><B><?=$type;?></B></td>
										<td><?=$ebcomment;?></td>
									</tr>
									<?
								}
								
								?>
								</table>
								</div>
							</td>
							<td colspan=1>&nbsp;</td>
						</tr>
						<?
					}
				}
			}
			?>
		</TABLE>
<?
//if($inwin == 0)
//{
	?>
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
//}
?>

</body>
</html>