<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
function cleanVar($var)
{
	$var = trim($var);
	
	if($var[0] == '"')
		$var = substr($var, 1);
	
	if($var[ strlen($var) - 1 ] == '"')
		$var = substr($var, 0, strlen($var) - 1);
		
	$var = str_replace("\"\"", "~~", $var);
	
	return $var;
}
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$BASE_FILE = $argv[2];

if($ROOT_DIR == "" || $BASE_FILE == "")
{
	echo "usage: diymicro_import_skus.phtml ROOT_DIR FILENAME\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$fp = fopen($BASE_FILE, "r");
$data = fgetcsv($fp, null, ",");

while($data = fgetcsv($fp, null, ","))
{
	//////////////////////////////////////////////////////////////////////////////////////////
	$sku   	= addslashes( cleanVar( $data[0] ) );
	$manpart = addslashes( cleanVar( $data[1] ) );
	$title 	= addslashes( cleanVar( $data[2] ) );
	$instock= addslashes( cleanVar( $data[3] ) );
	$upc = addslashes( cleanVar( $data[4] ) );
	$cfid_37 = addslashes( cleanVar( $data[5] ) ); // productnameshort
	$shipweight = addslashes( cleanVar( $data[6] ) );
	$cfid_38 = addslashes( cleanVar( $data[7] ) ); // freeshippingitem
	
	$prices = array();
	
	if(floatval($data[8]) > 0.00)
		$prices[] = addslashes( cleanVar( $data[8] ) ); // productprice
	
	if(floatval($data[9]) > 0.00)
		$prices[] = addslashes( cleanVar( $data[9] ) ); // listprice
		
	if(floatval($data[10]) > 0.00)		
		$prices[] = addslashes( cleanVar( $data[10] ) ); // saleprice
	
	sort($prices, SORT_NUMERIC);
	
	print_r($prices);
	
	$cfid_39 = addslashes( cleanVar( $data[11] ) ); // availability
	
	$metatag_title = addslashes( cleanVar( $data[12] ) );
	$metatag_description = addslashes( cleanVar( $data[13] ) );
	
	$condition = addslashes( cleanVar( $data[14] ) ); // (new / refurbished / blank)
	
	if(stristr($condition, "refurb"))
		$refurb = 1;
	else 	
		$refurb = 0;
		
	$brand= addslashes( cleanVar( $data[16] ) );
	
	$cost 	= addslashes( cleanVar( $data[17] ) );
	
	$gtaxonomy = str_replace("\"", "", addslashes( cleanVar( $data[20] ) ));
	$gtaxonomy2 = str_replace("\"", "", addslashes( cleanVar( $data[27] ) ));
	
	//$cfid_40 = addslashes( cleanVar( $data[21] ) ); // productdescriptionshort
	
	$product_descr = addslashes( cleanVar( $data[21] ) ); // * productdescriptionshort
	$product_warranty = addslashes( cleanVar( $data[23] ) ); // * product_warranty
	$product_html = addslashes( cleanVar( $data[24] ) ); // *  techspecs     
	$product_inthebox = addslashes( cleanVar( $data[25] ) ); // * extinfo
	//////////////////////////////////////////////////////////////////////////////////////////

	$query = "select id from product_list where sku = '$sku'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
	if(mysql_num_rows($qok) > 0)// it already exists
	{
		list($pid) = mysql_fetch_array($qok);
		
		echo "ALREADY EXISTS: $pid\n";
	}
	else 
	{
		////////////////////////////////////////////////////////////////////////////////
		// see if the brand exists
		$query = "select manid from product_manufacturers where manname = '$brand'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($manid) = mysql_fetch_array($qok);
		}
		else 
		{
			$query = "insert into product_manufacturers(manname) values('$brand')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$manid = mysql_insert_id();
		}
		
		$query = "select id from product_list order by id desc limit 0, 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pid) = mysql_fetch_array($qok);
		$pid++;	
	
		$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $sku);
					
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into product_list(id, manid, manpart, cmanpart, descr, added_dte, upccode, visible, sku, dropship, oem, refurb, use_asin, asin, am_qty, modelno, pricenote, am_condition) 
				values('$pid', '$manid', '$manpart', '$cleanmanpart', '$title', '$tstamp', '$upc', '0', '$sku', '0', '0', '$refurb', '0', '', '0', '', '', '')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
		$query = "select catid from product_categories where catname = 'Volusion Import'"			;
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($catid) = mysql_fetch_array($qok);
		
		$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
								
		$price = $prices[0];
		$query = "insert into product_prices(id, price_level1, instock, avgcost) 
						values('$pid', '$price', '$instock', '$cost')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								

		if($product_descr != '')
		{
			$query = "insert into product_descr(id, data, divid) values('$pid', '$product_descr', '6')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		if($product_inthebox != '')
		{
			$query = "insert into product_inthebox(id, data) values('$pid', '$product_inthebox')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		if($product_html != '')
		{
			$query = "insert into product_html(id, data, divid) values('$pid', '$product_html', '6')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		if($product_warranty != '')
		{
			$query = "insert into product_warranty(id, data) values('$pid', '$product_warranty')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
	
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from custom_values where cfid = '37' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into custom_values(cfid, pid, text_short) values('37', '$pid', '$cfid_37')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		// free shipping
		$query = "delete from custom_values where cfid = '38' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		if(strtoupper($cfid_38) == "Y")		
		{
			$query = "insert into custom_values(cfid, pid, text_short) values('38', '$pid', '1')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from custom_values where cfid = '39' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into custom_values(cfid, pid, text_short) values('39', '$pid', '$cfid_39')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from custom_values where cfid = '40' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into custom_values(cfid, pid, text_short) values('40', '$pid', '$cfid_40')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		if($gtaxonomy != "" || $gtaxonomy2 != "")
		{
			if($gtaxonomy != "") $taxonomy = $gtaxonomy;
			else $taxonomy = $gtaxonomy2;
			
			$query = "delete from product_taxonomy where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "insert into product_taxonomy(pid, taxonomy) values('$pid', '$taxonomy')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}

		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from metatag_data where type = '1' and subtype = 'description' and divid = '6' and typeid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if($metatag_description != "")
		{
			
			$query = "insert into metatag_data(type, subtype, typeid, data, divid) values('1', 'description', '$pid', '$metatag_description', '6')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from metatag_data where type = '1' and subtype = 'title' and divid = '6' and typeid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if($metatag_title != "")
		{
			$query = "insert into metatag_data(type, subtype, typeid, data, divid) values('1', 'title', '$pid', '$metatag_description', '6')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		}
		
		$query = "delete from site_skus where pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into site_skus(divid, pid) values('6', '$pid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "$pid\n";
			
		$efc->cacheAdditionalInfo($pid);
	}
	
}
?>
DONE!
