<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
function cleanVar($var)
{
	$var = trim($var);
	
	if($var[0] == '"')
		$var = substr($var, 1);
	
	if($var[ strlen($var) - 1 ] == '"')
		$var = substr($var, 0, strlen($var) - 1);
		
	$var = str_replace("\"\"", "~~", $var);
	
	return $var;
}
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];


if($ROOT_DIR == "")
{
	echo "usage: diymicro_import_images.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$d = dir("/home/httpd/efluent_core/mgt/scripts/volusion/pics/PICS");

$files = array();

while (false !== ($entry = $d->read())) 
{
	if(($entry != ".") && ($entry != ".."))
	{
		$files[] = $entry;
	}
}
$d->close();


$query = "select catid from product_categories where catname = 'Volusion Import'"			;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catid) = mysql_fetch_array($qok);

$imagesimported = 0;

$query = "select product_list.id, product_list.sku from product_list, product_category_map where product_list.id = product_category_map.pid and product_category_map.catid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $sku) = mysql_fetch_array($qok))
{
	echo "Searching $pid [$sku]\n";

	$query = "delete from product_images where id = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	for($xx = 0; $xx < count($files); $xx++)
	{
		$fparts = explode("-", $files[$xx]);
		
		if(strtolower($fparts[0]) == strtolower($sku))
		{
			echo "PID: $pid => ".$files[$xx]."\n";
			$imagesimported++;
			
			$imagefile = "/home/httpd/efluent_core/mgt/scripts/volusion/pics/PICS/".$files[$xx];
			$xp = fopen($imagefile, "r");
					
			if($xp == false){echo "ERROR OPENING FILE<BR>";return;}
			$data = "";
			while(!feof($xp))
			{
				$data .= fgets($xp, 4096);
			}
			fclose($xp);
			$data = addslashes($data);	 		
			
			$imageinfo = getimagesize($imagefile);
				
			$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '$xx', '0', '".$imageinfo[0]."', '".$imageinfo[1]."')";
			$q2ok = mysql_db_query($DB, $query, $mysqlid);
			if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
	}
	
	echo "Re-Ordering Images\n";
	$imid = 0;
	$query = "select imageid, (width * height) as dim from product_images where id = '$pid' order by dim desc";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($imageid) = mysql_fetch_array($q2ok))
	{
		$query = "update product_images set itype = '$imid' where imageid = '$imageid'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$imid++;
	}
	
	echo "--------------------------------------------\n";
}

echo "Images Imported => $imagesimported\n";
?>
DONE!
