<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$xbdate = date("Y-m-d 00:00:00", strtotime($bdate));
$xedate = date("Y-m-d 00:00:00", strtotime($edate));

$query = "select sum(web), sum(phone), sum(amazon), sum(ebay), sum(buycom), sum(wholesale), sum(claim) from cache_channel_sales 
		where tstamp >= '$xbdate' and tstamp <= '$xedate' and type = '$otype'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($web, $phone, $amazon, $ebay, $buycom, $wholesale, $claim) = mysql_fetch_array($qok);

?>
<chart showLabels="0" showValues="0" showBorder="0" bgColor="#ffffff">
<set label="Web" value="<?=$web;?>" /> 
<set label="Phone" value="<?=$phone;?>" /> 
<set label="Amazon" value="<?=$amazon;?>" /> 
<set label="eBay" value="<?=$ebay;?>" /> 
<set label="Buy.com" value="<?=$buycom;?>" /> 
<set label="WholeSale" value="<?=$wholesale;?>" /> 
<set label="Claim" value="<?=$claim;?>" /> 
</chart>