<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/trafficreportclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/termsreportclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/trafficutility.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$tuc = new trafficUtilityClass();
$tuc->db = $MYSQL_DATABASE;
$tuc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$trc = new trafficReportClass();
$trc->db = $MYSQL_DATABASE;
$trc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$trc->tuc = $tuc;

if($bdate == "" || $edate == "")
{
	$bdate = date("m/d/Y", time() - (86400 * 14));
	$edate = date("m/d/Y", time());
}
?>
<HTML>
<HEAD>
<TITLE>Master Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script language="JavaScript" src="FusionCharts.js"></script>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>

<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<script>
function categoryDrilldown(catid)
{
	if( document.getElementById("row"+catid).style.display=='none' )
	{
  		document.getElementById("row"+catid).style.display = '';
  		document.getElementById("image"+catid).src = "/mgt/images/minus.gif";
  		
  		loadBreakdown(catid);
 	}
 	else
 	{
   		document.getElementById("row"+catid).style.display = 'none';
  		document.getElementById("image"+catid).src = "/mgt/images/plus.gif";
 	}	
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function loadBreakdown(catid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="ajax_category_breakdown.phtml?catid="+catid+"&bdate=<?=$bdate;?>&edate=<?=$edate;?>&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotBreakdown;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotBreakdown()
{
	if(xmlHttp.readyState==4)
	{
		var data = xmlHttp.responseText.split("|");
		var div = document.getElementById("data"+data[0]);
		
		if(div)
		{
			div.innerHTML = data[1];
		}
		else
		{
			alert("Can't find DIV: data"+data[0]+"!");
			return;
		}
		
	}
}
</script>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

		<?INCLUDE("table_inventory_value.phtml");?>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=100%>
		<tr>
			<td width=325>
			<div style="font-size:16px;font-weight:strong;">Inventory Value: $ <?=number_format($tinventory, 2);?></div>
				<div id="inventory_value" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Pie2D.swf", "ChartId", "400", "350", "0", "0");
				   chart.setDataURL("data_inventory_value.phtml");	
				   chart.addParam("WMode", "Transparent");	   
				   chart.render("inventory_value");
				</script> 
			</td>
			
			<td align=center>
				<?=$inventory_value_table;?>	
			</td>
			
			
			<td>
				<?INCLUDE("table_inventory_aging.phtml");?>	
			</td>
		</tr>
		</table>
		
		<!--		         -->
		<table width=100%>
		<tr>
			<td bgcolor="#eeeeee">&nbsp;</td>
		</tr>
		</table>
		<!--		         -->

		<form name="widget">
		<table>
		<tr>
			<td class="g1">Date Range:							
				<input type="text" name="bdate" value="<?=$bdate?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['widget'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  
					onselect="cal1x.select(document.forms['widget'].bdate,'anchor1x','MM/dd/yyyy'); return false;" 
					ID="anchor1x"
					onKeyPress="return cancelReturn(this, event)">
							
							- to -
							
				<input type="text" name="edate" value="<?=$edate;?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['widget'].edate,'anchor2x','MM/dd/yyyy'); return false;" 
					onSelect="cal1x.select(document.forms['widget'].edate,'anchor2x','MM/dd/yyyy'); return false;" 
					ID="anchor2x" 
					onKeyPress="return cancelReturn(this, event)">
				<input type = "submit" value ="View" class="buttonItem" >
			</td>
		</tr>
		</table>
		</form>
		
		<table>
		<tr>
			<td>
			
			
			<?
			$query = "select sum(sales),
								sum(sales) - sum(cost) as profit, 
				 				((sum(sales) - sum(cost)) / sum(sales)) * 100 as margin  
				 				from cache_sales_by_cat where 
								tstamp >= '".date("Y-m-d 00:00:00", strtotime($bdate))."' AND
								tstamp <= '".date("Y-m-d 00:00:00", strtotime($edate))."' AND
								cache_sales_by_cat.catid = '0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($revenue, $profit, $margin) = mysql_fetch_array($qok);
			?>
			<table>
			<tr>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">Revenue:</div></td>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">$ <?=number_format($revenue, 2);?></div></td>
			</tr>
			<tr>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">Profit:</div></td>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">$ <?=number_format($profit, 2);?></div></td>
			</tr>
			<tr>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">Margin:</div></td>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;"><?=number_format($margin, 2);?>%</div></td>
			</tr>
			</table>
			</div> 
			</td>
			
			<td>
				<div id="revenue_trend" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "400", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_revenue_trend.phtml?bdate=$bdate&edate=$edate&type=revenue trend&prefix=$");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("revenue_trend");
				</script>  
			</td>
			<td>
				<div id="profit_trend" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "400", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_revenue_trend.phtml?bdate=$bdate&edate=$edate&type=profit trend&prefix=$");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("profit_trend");
				</script>  
			</td>
			<td>
				<div id="margin_trend" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "400", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_revenue_trend.phtml?bdate=$bdate&edate=$edate&type=margin trend&suffix=%25");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("margin_trend");
				</script>  
			</td>
		</tr>
		</table>
		
		<!--		         -->
		<table width=100%>
		<tr>
			<td bgcolor="#eeeeee">&nbsp;</td>
		</tr>
		</table>
		<!--		         -->
		
		<table>
		<tr>
			<td>
				<?$otype = "DOLLAR"; INCLUDE("table_channel_breakdown.phtml");?>
			</td>
			
			<td>
				<div id="channel_value" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Pie2D.swf", "ChartI2", "300", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_value.phtml?bdate=$bdate&edate=$edate&otype=DOLLAR");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel_value");
				</script> 
			</td>
			
			<td>
				<div id="channel_web" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=web&otype=DOLLAR&prefix=$");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel_web");
				</script> 
			</td>
			<td>
				<div id="channel_phone" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=phone&otype=DOLLAR&prefix=$");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel_phone");
				</script> 
			</td>
			<td>
				<div id="channel_amazon" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=amazon&otype=DOLLAR&prefix=$");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel_amazon");
				</script> 
			</td>
			<td>
				<div id="channel_ebay" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=ebay&otype=DOLLAR&prefix=$");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel_ebay");
				</script> 
			</td>
		</tr>
		</table>
		
		<!------------ same as above with count ------------------->
		<table>
		<tr>
			<td>
				<?$otype = "COUNT"; INCLUDE("table_channel_breakdown.phtml");?>
			</td>
			
			<td>
				<div id="channel_count" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Pie2D.swf", "ChartI2", "300", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_value.phtml?bdate=$bdate&edate=$edate&otype=COUNT");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel_count");
				</script> 
			</td>
			
			<td>
				<div id="channel2_web" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=web&otype=COUNT");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel2_web");
				</script> 
			</td>
			<td>
				<div id="channel2_phone" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=phone&otype=COUNT");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel2_phone");
				</script> 
			</td>
			<td>
				<div id="channel2_amazon" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=amazon&otype=COUNT");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel2_amazon");
				</script> 
			</td>
			<td>
				<div id="channel2_ebay" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("Line.swf", "ChartI3", "200", "200", "0", "0");
				   chart.setDataURL("<?=urlencode("data_channel_trend.phtml?bdate=$bdate&edate=$edate&type=ebay&otype=COUNT");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("channel2_ebay");
				</script> 
			</td>
		</tr>
		</table>		
		
		
		<!--		         -->
		<table width=100%>
		<tr>
			<td bgcolor="#eeeeee">&nbsp;</td>
		</tr>
		</table>
		<!--		         -->
		
		<table width=100%>
		<tr>
			<td width=400>
				<?INCLUDE("table_category_performance.phtml");?>
			</td>
			<td>
				<div id="category_perf" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("MSLine.swf", "ChartI3", "850", "400", "0", "0");
				   chart.setDataURL("<?=urlencode("data_category_performance.phtml?bdate=$bdate&edate=$edate");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("category_perf");
				</script> 
			</td>
		</tr>
		</table>
		
		<!--		         -->
		<table width=100%>
		<tr>
			<td bgcolor="#eeeeee">&nbsp;</td>
		</tr>
		</table>
		<!--		         -->
		
		
		<table>
		<tr>
			<td>
				<?INCLUDE("table_salesman_performance.phtml");?>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				<div id="salesman_perf" align="center"> </div>
				<script type="text/javascript">
				   var chart = new FusionCharts("MSLine.swf", "ChartI3", "850", "400", "0", "0");
				   chart.setDataURL("<?=urlencode("data_salesman_performance.phtml?bdate=$bdate&edate=$edate");?>");		   
				   chart.addParam("WMode", "Transparent");
				   chart.render("salesman_perf");
				</script> 
			</td>
		</tr>
		</table>
		
		<!--		         -->
		<table width=100%>
		<tr>
			<td bgcolor="#eeeeee">&nbsp;</td>
		</tr>
		</table>
		<!--		         -->

		<table>
		<tr>
			<td>
				<B>Traffic</B>
				<?=$trc->outputClickSummaryMR( strtotime(date("Y-m-d 00:00:00", strtotime($bdate))), strtotime(date("Y-m-d 23:59:59", strtotime($edate))));?>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				
			</td>
		</tr>
		</table>
		
		
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		</div>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>