<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$query = "select invoiceid, orderid, subtotal, orderdate from customer_orders, company_orderflow 
			where 
			customer_orders.status = company_orderflow.step AND
			customer_orders.otype = 'INVOICE' and 
			company_orderflow.complete = 1";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($invoiceid, $orderid, $subtotal, $orderdate) = mysql_fetch_array($qok))
{
	$query = "select count(*) from customer_order_lines where orderid = '$orderid' and qty_shipped = qty_ordered";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($numshipped) = mysql_fetch_array($q2ok);
	
	$query = "select count(*) from customer_order_lines where orderid = '$orderid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($numordered) = mysql_fetch_array($q2ok);
	
	if($numshipped != $numordered)
	{
		echo "NOT ALL LINES SHIPPED: $invoiceid ($orderid)<BR>";

		$efc->logAction("SUCCESS", 2, $orderid, "OrderLine Audit - Updating non-shipped lines", "OrderLine Audit - Updating non-shipped lines");
		
		$beginMarker = $efc->orderMarker($orderid);
			$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$orderid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$endMarker = $efc->orderMarker($orderid);
		$efc->logOrderChange($orderid, $beginMarker, $endMarker);
		$efc->UpdatePool("2", $orderid);
	}
	else 
	{
		$query = "select sum(qty_shipped * price), count(*) from customer_order_lines where orderid = '$orderid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($xsubtotal, $linecount) = mysql_fetch_array($q2ok);
		
		if(abs($xsubtotal - $subtotal) > .01)
		{
			echo "MISMATCH [".date("m/d/Y", $orderdate)."]: $invoiceid (LINES_SUBTOTAL: $xsubtotal ORDER_SUBTOTAL: $subtotal) $ ".($xsubtotal - $subtotal)." difference <BR>";	
			
			if($linecount == 0)
			{
				$efc->logAction("SUCCESS", 2, $orderid, "OrderLine Audit - Missing Line", "OrderLine Audit - Missing Line");
				$efc->UpdatePool("2", $orderid);
				
				$query = "insert into customer_order_lines(orderid, prodid, manid, manname, manpart, descr, price, qty_ordered, qty_shipped, weight, kit) ";
				$query .= "values('$orderid', '$orderid', '0', 'LINE', '', 'Line', '$subtotal', '1', '1', '', '')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else 
			{
				
				if(floatval($xsubtotal) == 0.00)
				{// then use salesmancost
					$query = "select sum(qty_shipped * scost) from customer_order_lines where orderid = '$orderid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($xsubtotal) = mysql_fetch_array($q2ok);
					
					echo "... resorted to salesmancost: $xsubtotal<BR>";
					
					$efc->logAction("SUCCESS", 2, $orderid, "OrderLine Audit - ReAllocating Pricing [scost fallback]", "OrderLine Audit - ReAllocating Pricing [scost fallback]");
					$beginMarker = $efc->orderMarker($orderid);
					
						// mark all the lines as shipped = ordered
						$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$orderid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					
						$query = "update customer_order_lines set price = (((scost * qty_ordered) / $xsubtotal) * $subtotal) / qty_ordered where orderid = '$orderid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
						
					$endMarker = $efc->orderMarker($orderid);
					$efc->logOrderChange($orderid, $beginMarker, $endMarker);
					$efc->UpdatePool("2", $orderid);					
				}
				else 
				{
					// then allocate the lines based on the subtotal on the order
					$efc->logAction("SUCCESS", 2, $orderid, "OrderLine Audit - ReAllocating Pricing", "OrderLine Audit - ReAllocating Pricing");
					$beginMarker = $efc->orderMarker($orderid);
					
						// mark all the lines as shipped = ordered
						$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$orderid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					
						$query = "update customer_order_lines set price = (((price * qty_ordered) / $xsubtotal) * $subtotal) / qty_ordered where orderid = '$orderid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
						
					$endMarker = $efc->orderMarker($orderid);
					$efc->logOrderChange($orderid, $beginMarker, $endMarker);
					$efc->UpdatePool("2", $orderid);
				}
			}
						
		}
	}	
}
			
?>