		<?ob_start();?>
		<table>
		<?
		$onrow = 0;
		$_SESSION["INVENTORY_VALUE"] = "";
		$tinventory = 0;
		/*$query = "select 
					distinct(product_categories.catname),
					sum(product_prices.avgcost * product_prices.instock) as value
					from 
					product_prices, product_category_map, product_categories
					where 
					product_prices.id = product_category_map.pid AND
					product_category_map.catid = product_categories.catid AND
					product_categories.parentid = 0 AND
					product_prices.instock > 0
					group by product_categories.catname order by value desc";*/
		$query = "select 
					distinct(product_categories.catname),
					sum(product_inventory.cost * product_inventory.inv_available) as value
					from 
					product_inventory, product_category_map, product_categories
					where 
					product_inventory.id = product_category_map.pid AND
					product_category_map.catid = product_categories.catid AND
					product_categories.parentid = 0 AND
					product_inventory.inv_available > 0 AND
					product_inventory.whid = 0 
					group by product_categories.catname order by value desc";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catname, $value) = mysql_fetch_array($qok))
		{
		?>
			<tr>
				<td><?=$catname;?></td>
				<td align=right>$ <?=number_format($value, 2);?></td>
			</tr>
			<?
			$tinventory += $value;
			
			$_SESSION["INVENTORY_VALUE"][$onrow]["CATNAME"] = $catname;
			$_SESSION["INVENTORY_VALUE"][$onrow]["VALUE"] = $value;
			
			$onrow++;
		}
		?>
		</table>
		<?$inventory_value_table = ob_get_clean();?>