<B>Category Performance</B>
<table>
	<tr>
		<td>Category</td>
		<td align=center>Sales</td>
		<td align=center>Profit</td>
		<td align=center>Margin</td>
	</tr>
<?
$xbdate = strtotime($bdate);
$xedate = strtotime($edate);

$xbdate = strtotime( date("Y-m-d 00:00:00", $xbdate));
$xedate = strtotime( date("Y-m-d 23:59:59", $xedate));

$catdata = array();

$query = "select catid, catname from product_categories where parentid = '0'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($catid, $catname) = mysql_fetch_array($qok))
{
	$query = "select sum(sales), 
					sum(sales) - sum(cost) as profit, 
					((sum(sales) - sum(cost)) / sum(sales)) * 100 as margin
					from cache_sales_by_cat where
				cache_sales_by_cat.tstamp >= '".date("Y-m-d H:i:s", $xbdate)."' and
				cache_sales_by_cat.tstamp <= '".date("Y-m-d H:i:s", $xedate)."' and
				cache_sales_by_cat.catid = '$catid' ";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sales, $profit, $margin) = mysql_fetch_array($q2ok);
	
	$catdata['catid'][]   = $catid;
	$catdata['catname'][] = $catname;
	$catdata['sales'][]   = $sales;
	$catdata['profit'][]  = $profit;
	$catdata['margin'][]  = $margin;
}

array_multisort($catdata['sales'], SORT_NUMERIC, SORT_DESC, $catdata['catid'], $catdata['catname'], $catdata['sales'], $catdata['profit'], $catdata['margin'] );

$tsales = 0.00;

for($xx = 0; $xx < count($catdata['catid']); $xx++)
{
	?>
	<tr>
		<td><a href="javascript:void(0);" onclick="categoryDrilldown('<?=$catdata['catid'][$xx];?>');"><img id="image<?=$catdata['catid'][$xx];?>" src="/mgt/images/plus.gif"></a>&nbsp;<?=$catdata['catname'][$xx];?></td>
		<td align=right>$ <?=number_format($catdata['sales'][$xx], 2);?></td>
		<td align=right>$ <?=number_format($catdata['profit'][$xx], 2);?></td>
		<td align=right><?=number_format($catdata['margin'][$xx], 2);?> %</td>
	</tr>
	<tr id="row<?=$catdata['catid'][$xx];?>" style="display:none;">
		<td colspan=4><div id="data<?=$catdata['catid'][$xx];?>"><img src="/mgt/images/loading.gif"></div></td>
	</tr>
	<?
	$tsales += $catdata['sales'][$xx];
	$tprofit += $catdata['profit'][$xx];
	
}

?>
<tr>
	<td>Total</td>
	<td align=right>$ <?=number_format($tsales, 2);?></td>
	<td align=right>$ <?=number_format($tprofit, 2);?></td>
	<td align=right><?=number_format(($tprofit / $tsales) * 100, 2);?>%</td>
</tr>
</table>