<?


if($otype == 'COUNT') 
{
	$xbdate = date("Y-m-d 00:00:00", strtotime($bdate));
	$xedate = date("Y-m-d 00:00:00", strtotime($edate));
	$query = "select sum(web), sum(phone), sum(amazon), sum(ebay), sum(buycom), sum(wholesale), sum(claim) from cache_channel_sales 
			where tstamp >= '$xbdate' and tstamp <= '$xedate' and type = '$otype'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($web, $phone, $amazon, $ebay, $buycom, $wholesale, $claim) = mysql_fetch_array($qok);

	$rtotal = $web + $phone + $amazon + $ebay + $buycom + $wholesale + $claim;
	?><B>Order Count</B>
	
	<table>
	<tr><td>Web Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($web, 0); else echo "$ ".number_format($web, 2);?></td></tr>
	<tr><td>Phone Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($phone, 0); else echo "$ ".number_format($phone, 2);?></td></tr>
	<tr><td>Amzaon Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($amazon, 0); else echo "$ ".number_format($amazon, 2);?></td></tr>
	<tr><td>eBay Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($ebay, 0); else echo  "$ ".number_format($ebay, 2);?></td></tr>
	<tr><td>Buy.com Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($buycom, 0); else echo  "$ ".number_format($buycom, 2);?></td></tr>
	<tr><td>Wholesale Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($wholesale, 0); else echo  "$ ".number_format($wholesale, 2);?></td></tr>
	<tr><td>Claim Orders</td><td align=right><?if($otype == 'COUNT') echo number_format($claim, 0); else echo  "$ ".number_format($claim, 2);?></td></tr>
	<tr><td>Total</td><td align=right><?if($otype == 'COUNT') echo number_format($rtotal, 0); else echo "$". number_format($rtotal, 2);?></td></tr>
	</table>
	<?
}
else 
{
	$xbdate = date("Y-m-d 00:00:00", strtotime($bdate));
	$xedate = date("Y-m-d 00:00:00", strtotime($edate));
	
	$query = "select sum(web), sum(phone), sum(amazon), sum(ebay), sum(buycom), sum(wholesale), sum(claim) from cache_channel_sales 
			where tstamp >= '$xbdate' and tstamp <= '$xedate' and type = '$otype'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($web, $phone, $amazon, $ebay, $buycom, $wholesale, $claim) = mysql_fetch_array($qok);

	$query = "select sum(web), sum(phone), sum(amazon), sum(ebay), sum(buycom), sum(wholesale), sum(claim) from cache_channel_sales 
			where tstamp >= '$xbdate' and tstamp <= '$xedate' and type = 'COST'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($web_cost, $phone_cost, $amazon_cost, $ebay_cost, $buycom_cost, $wholesale_cost, $claim_cost) = mysql_fetch_array($qok);

	$rtotal = $web + $phone + $amazon + $ebay + $buycom + $wholesale + $claim;
	$rcost = $web_cost + $phone_cost + $amazon_cost + $ebay_cost + $buycom_cost + $wholesale_cost + $claim_cost;
	?>
	<B>Channel Breakdown</B>
	<table>
	<tr>
		<td align=center>Channel</td>
		<td align=center>Sales</td>
		<td align=center>Profit</td>
		<td align=center>Margin</td>
	</tr>
	<tr>
		<td>Web Orders</td>
		<td align=right NOWRAP><?echo "$ ".number_format($web, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($web - $web_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($web - $web_cost) / $web, 2);?> %</td>
	</tr>
	<tr>
		<td>Phone Orders</td>
		<td align=right NOWRAP><?echo "$ ".number_format($phone, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($phone - $phone_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($phone - $phone_cost) / $phone, 2);?> %</td>
	</tr>
	<tr>
		<td>Amzaon Orders</td>
		<td align=right NOWRAP><?echo "$ ".number_format($amazon, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($amazon - $amazon_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($amazon - $amazon_cost) / $amazon, 2);?> %</td>
	</tr>
	<tr>
		<td>eBay Orders</td>
		<td align=right NOWRAP><?echo  "$ ".number_format($ebay, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($ebay - $ebay_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($ebay - $ebay_cost) / $ebay, 2);?> %</td>
	</tr>
	<tr>
		<td>Buy.com Orders</td>
		<td align=right NOWRAP><?echo  "$ ".number_format($buycom, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($buycom - $buycom_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($buycom - $buycom_cost) / $buycom, 2);?> %</td>
	</tr>
	<tr>
		<td>Wholesale Orders</td>
		<td align=right NOWRAP><?echo  "$ ".number_format($wholesale, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($wholesale - $wholesale_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($wholesale - $wholesale_cost) / $wholesale, 2);?> %</td>
	</tr>
	<tr>
		<td>Claim Orders</td>
		<td align=right NOWRAP><?echo  "$ ".number_format($claim, 2);?></td>
		<td align=right NOWRAP><?echo "$ ".number_format(($claim - $claim_cost), 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($claim - $claim_cost) / $claim, 2);?> %</td>
	</tr>
	<tr>
		<td>Total</td>
		<td align=right NOWRAP><?echo "$". number_format($rtotal, 2);?></td>
		<td align=right NOWRAP><?echo "$". number_format($rcost, 2);?></td>
		<td align=right NOWRAP><?echo number_format(100 * ($rtotal - $rcost) / $rtotal, 2)?> %</td>
	</tr>
	</table>
	<?
	
	
	?><?
}
?>
