<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$top_cats = array();
$query = "SELECT catid,catname FROM product_categories WHERE parentid='".$parentid."' AND catid NOT IN (SELECT catid FROM autopackage_criteria)";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($catid, $catname) = mysql_fetch_array($qok))
{
	$c['id'] = $catid;
	$c['catname'] = $catname;
	array_push($top_cats,$c);
}

if (count($top_cats)>0) {
	foreach ($top_cats as $c) {
		$query = "SELECT product_list.id FROM product_category_map,product_list WHERE product_list.id=product_category_map.pid and product_category_map.catid='".$c['id']."' and product_list.visible='1'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$nr = mysql_num_rows($qok);
		?>
			<div class="mainCatContainer" style="padding-left:30px;">
				<a href="javascript:void(0)" id="maincat_<?=$c['id']?>" class="catLinks"><?=$c['catname']?> - (<?=$nr?>)</a>
				<div class="subcatContainer" id="subcats_<?=$c['id']?>"></div>
			</div> 
		<?
	}
}
?>