<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$top_cats = array();
$query = "SELECT catid,catname FROM product_categories WHERE parentid=0 AND catid NOT IN (SELECT catid FROM autopackage_criteria)";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($catid, $catname) = mysql_fetch_array($qok))
{
	$c['id'] = $catid;
	$c['catname'] = $catname;
	array_push($top_cats,$c);
}
?>
<HTML>
<HEAD>
<TITLE>Kit / Category</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
.mainCatContainer{padding:3px;}
.subcatContainer{display:none;}
.addCat{text-decoration:none;color:#000000}
.dialog {display:none;}
.error_msg{color:red}
</STYLE>
<script>
/*var cvr = document.getElementById("savecover");
cvr.style.display = "block";*/
$(document).ready(function(){ 
	$('.catLinks').each(function(){
		var catIdArr = $(this).attr('id').split('_');
		$(this).click(function(){
			if($('#subcats_'+catIdArr[1]).html() == '') {
				$.get("ajax_getcategories.phtml", { parentid: catIdArr[1]},
			   		function(data){
						$('#subcats_'+catIdArr[1]).html(data);   	
						$('#subcats_'+catIdArr[1]).show();  
						addCatEvents(catIdArr[1]); 	
			   	});
			}
			else {
				$('#subcats_'+catIdArr[1]).toggle();
			}
		});
	});
});
function addCatEvents(id) {
	$('#subcats_'+id+' .catLinks').each(function(){
		var catIdArr = $(this).attr('id').split('_');
		$(this).click(function(){
			if($('#subcats_'+catIdArr[1]).html() == '') {
				$.get("ajax_getcategories.phtml", { parentid: catIdArr[1]},
			   		function(data){
						$('#subcats_'+catIdArr[1]).html(data);   	
						$('#subcats_'+catIdArr[1]).show();  
						addCatEvents(catIdArr[1]); 	
			   	});
			}
			else {
				$('#subcats_'+catIdArr[1]).toggle();
			}
		});
	});
}
</script>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div class="mainCatContainer" style="margin:20px;border:1px solid black;width:600px;padding:10px;">
				<?
					if (count($top_cats)>0) {
						foreach ($top_cats as $c) {
							$query = "SELECT product_list.id FROM product_category_map,product_list WHERE product_list.id=product_category_map.pid and product_category_map.catid='".$c['id']."' and product_list.visible='1'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							$nr = mysql_num_rows($qok);
							?>
								<div class="mainCatContainer">
									<a href="javascript:void(0)" id="maincat_<?=$c['id']?>" class="catLinks"><?=$c['catname']?> - (<?=$nr?>)</a>&nbsp;&nbsp;
									<div class="subcatContainer" id="subcats_<?=$c['id']?>"></div>
								</div>
							<?
						}
					}
				?>
			</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>