<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$id = $_GET['id'];

$Action = $_POST['Action'];

if($Action == "Update Promo")
{
	
	
	$id = $_POST['id'];
	$title=$_POST['title'];
	$description=$_POST['description'];
	$page_type=$_POST['page_type'];
	$page_location=$_POST['page_location'];
	$page_position=$_POST['page_position'];
	
	$bdate = $_POST['bdate'];
	$edate = $_POST['edate'];
	$bdate = date("Y-m-d", strtotime($bdate));
	$edate = date("Y-m-d", strtotime($edate));
	$status=$_POST['status'];	
	$sql="update home_promotions set page_type='$page_type',page_location='$page_location',title='$title',description='$description',page_position='$page_position',begin_date='$bdate',end_date='$edate',status='$status' where promoid ='$id'";
	mysql_db_query($DB, $sql, $mysqlid);
	
	//mysqli_query($mysqlid, $sql);
    
	header("Location: homepage_promo_edit.phtml?id=".$id);
		   exit();
	
}


		   $query2 = "select * from home_promotions where promoid = '$id'  ";
                    if(!$qok = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		   $data = mysql_fetch_array($qok);
		   
			  

 
?>
<HTML>
<HEAD>
<TITLE>Promo Edit</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}

</STYLE>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Home Page Promo Edit <div id="loading" style="display:inline;"></div></B>
       
		
		<form name="advform" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="item_id" value="<?=$id;?>">
		<table>
			<td width=33%>
			<div style="border:1px solid #eeeeee;">
				<table>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Title</div></td>
					<td><input type="text" name="title" value="<?=$data['title']?>" style="width:250px" class="formBox"></td>						
				</tr>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Description</div></td>
					<td><textarea style="width:250px;height:60px" name="description" class="formBox"><?=$data['description']?></textarea></td>						
				</tr>
                
                
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Location</div></td>
					<td> 
						<select class="formBox" name="page_location">
<option value="left" <?php if($data['page_location']=='left'){echo'selected';} ?>>Left Sidebar</option>
<option value="right" <?php if($data['page_location']=='right'){echo'selected';} ?>>Right Sidebar</option>

<option value="center" <?php if($data['page_location']=='center'){echo 'selected';} ?>>Center</option>
						</select>
					</td>						
				</tr>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Position</div></td>
					<td> 
						<select class="formBox" name="page_position">
						<option value="top" <?php if($data['page_position']=='top'){echo'selected';} ?>>Top</option>
						<option value="bottom" <?php if($data['page_position']=='bottom'){echo'selected';} ?>>Bottom</option>
						</select>
					</td>						
				</tr>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Begin Date:</div></td>
					<td>
                    <?php
						$beginDate = date("Y-m-d",strtotime($data['begin_date']));
					?>
						<input type="text" name="bdate" value="<?=$beginDate;?>" size=15 class="formbox datepicker" style="width:65px" id="startDate">					
					</td>
				</tr>
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">End Date:</div></td>
					<td>
						<input type="text" name="edate" value="<?=date("Y-m-d",strtotime($data['end_date']))?>" size=15 class="formbox datepicker" style="width:65px" id="endDate">				
					</td>
				</tr>
                
			
                
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Status:</div></td>
					<td> 
						<select class="formBox" name="status">
						
						<option value="1" <?php if($data['status']=='1'){echo'selected';} ?>>Active</option>
                        <option value="0" <?php if($data['status']=='0'){echo'selected';} ?>>InActive</option>
						</select>
					</td>						
				</tr>
                
               <tr>
					<td colspan=2 align=center>
						<input type="submit" name="Action" value="Update Promo" class="buttonItem">&nbsp;&nbsp;&nbsp;
                         <a href="homepage_promo.phtml" style="font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC; float:right; margin-right:230px;">Go Back</a>
					</td>
				</tr>	
				</table>
			</div>
            
			</td>
        </table>
			<input type="hidden" name="id" value="<?=$id?>">
		</form>
        
		<!---------------->	
		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#startDate" ).datepicker({
		minDate: -0,
        onSelect: function( selectedDate ) {
            $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#endDate" ).datepicker({
		minDate: -0,
        onSelect: function( selectedDate ) {
            $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
  } );
  </script>
<script>
$
function checkDelete(id)
{
	if(id==1)
	{
		alert('Alert: To Delete this image please set another image as default');
		return false;
	}else
	{
		return true;
	}
}

</script>
</body>
</html>