<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$update   = $_GET['update'];
if($update =='deletePromo')
{
	
	$promoid = $_GET['id'];
	
	$queryimages = "select * from home_promotions_images where home_promotions_id = '$promoid' AND type='image'";
                    if(!$qokq = mysql_db_query($DB, $queryimages, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		  
		  while($dataImages = mysql_fetch_array($qokq))
		  {
				$imageLink = $dataImages['promo_img'];  
				if($imageLink !='')
				{
					unlink("images/".$imageLink);
		   			unlink("images/thumbnail/".$imageLink);
				}       
		  }
		   
		   $uery2ImageDelete = "delete  from home_promotions_images where home_promotions_id = '$promoid'  ";
                    if(!$qok = mysql_db_query($DB, $uery2ImageDelete, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					$uery2Delete = "delete  from home_promotions where promoid = '$promoid'  ";
                    if(!$qok2 = mysql_db_query($DB, $uery2Delete, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		   header("Location: homepage_promo.phtml");
		   exit();
}
$Action = $_POST['Action'];
if($Action == "Save Promo")
{

	$title=$_POST['title'];
	$description=$_POST['description'];
	$page_type=$_POST['page_type'];
	$page_location=$_POST['page_location'];
	$page_position=$_POST['page_position'];
	
	$bdate = $_POST['bdate'];
	$edate = $_POST['edate'];
	$bdate = date("Y-m-d", strtotime($bdate));
	$edate = date("Y-m-d", strtotime($edate));
	$status=$_POST['status'];
	//echo sizeof($imagesArray); exit;
	
	
	 $sql = "INSERT INTO home_promotions (page_type, page_location, 	title,description,page_position,begin_date,end_date,status)
VALUES ('$page_type', '$page_location', '$title','$description','$page_position','$bdate','$edate','$status')";

	mysql_db_query($DB, $sql, $mysqlid);    
	Header("Location: homepage_promo.phtml");
	
}




//echo $promoVideoLink; exit;
?>
<HTML>
<HEAD>
<TITLE>Home Page Promo</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}

</STYLE>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
        <?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		
		<div style="padding-left:5px;padding-top:10px">
		<B>Home Page Promo <div id="loading" style="display:inline;"></div></B>
		
		<form name="advform" method="POST" enctype="multipart/form-data" onSubmit=" return checInputForm();">
		<input type="hidden" name="item_id" value="<?=$id;?>">
		<table>
			<td width=33%>
			<div style="border:1px solid #eeeeee;">
				<table>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Title</div></td>
					<td><input type="text" name="title" id='title' style="width:250px" class="formBox"></td>						
				</tr>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Description</div></td>
					<td><textarea style="width:250px;height:60px" name="description" class="formBox"></textarea></td>						
				</tr>
                
                
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Location</div></td>
					<td> 
						<select class="formBox" name="page_location">
						<option value="left">Left Sidebar</option>
						<option value="right">Right Sidebar</option>
                        <option value="center">Center</option>
						
						</select>
					</td>						
				</tr>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Position</div></td>
					<td> 
						<select class="formBox" name="page_position">
						<option value="top">Top</option>
						<option value="bottom">Bottom</option>
						</select>
					</td>						
				</tr>
                
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Begin Date:</div></td>
					<td>
						<input type="text" name="bdate" value="" size=15 class="formbox datepicker" style="width:65px" id="startDate">					
					</td>
				</tr>
                <tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">End Date:</div></td>
					<td>
						<input type="text" name="edate" value="" size=15 class="formbox datepicker" style="width:65px" id="endDate">				
					</td>
				</tr>
                
				
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Status:</div></td>
					<td> 
						<select class="formBox" name="status">
						
						<option value="1">Active</option>
                        <option value="0">InActive</option>
						</select>
					</td>						
				</tr>
                
               <tr>
					<td colspan=2 align=center>
						<input type="submit" name="Action" value="Save Promo" class="buttonItem">&nbsp;&nbsp;&nbsp;
                        
					</td>
				</tr>	
				</table>
			</div>
            <td width=75%>
				
			
				<B>List of Promotions </B>
				<div style="border:1px solid #eeeeee;" id="skusearch">
				<table width="100%">
				
				
             <tr bgcolor="#eeeeee">
			<td height="21">Promo Information</td>
			<td height="21">Manage Items </td>
            <td height="21">Edit/View</td>
            <td height="21">Delete</td>
		   </tr>
           <?php
		   $query2 = "select* from home_promotions";
                    if(!$qok = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		   while($dataPro = mysql_fetch_array($qok)){
			   ?>
           <tr bgcolor="#ffffff">
           	<td style="border: 1px solid black">
            	<b>Title :</b> <?=$dataPro['title']?><br>
                <b>Page Location :</b> <?=$dataPro['page_location']?></br>
                <b>Page Position :</b> <?=$dataPro['page_position']?></br>
                <b>Start Date :</b> <?=date('Y-m-d',strtotime($dataPro['begin_date']))?></br>   
                <b>End Date :</b> <?=date('Y-m-d',strtotime($dataPro['end_date']))?></br>
                <b>Status :</b> <? if($dataPro['status'] ==0){echo 'In-Active';}else{echo 'Active';}?></br>   
            </td>
            
            
           
            <td align="center">
            	<a href="manage_photo.phtml?id=<?=$dataPro['promoid']?>">Manage Photo/Video</a>
            </td>
            <td>
            	<a href="homepage_promo_edit.phtml?id=<?=$dataPro['promoid']?>">View/Edit</a>
            </td>
            <td>
            <a onClick="return confirm('Are you sure to delete?')" href="homepage_promo.phtml?id=<?=$dataPro['promoid']?>&update=deletePromo">Delete</a>
            </td>
           </tr>
           <?php } ?>
				</table>
				</div>
				
				
			</td>
			</td>
        </table>
		</form>
        
		<!---------------->	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#startDate" ).datepicker({
		minDate: -0,
        onSelect: function( selectedDate ) {
            $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#endDate" ).datepicker({
		minDate: -0,
        onSelect: function( selectedDate ) {
            $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
  } );
  </script>
<script>
function checInputForm()
{
  var startDate = $('#startDate').val();
  var endDate = $('#endDate').val();
 var title = $('#title').val();
 if(title=='')
  {
	  alert('Enter title');
	  $('#startDate').focus();
	  return false;
  }
  if(startDate=='')
  {
	  alert('Enter stat Date');
	  $('#startDate').focus();
	  return false;
  }
   if(endDate=='')
  {
	  alert('Enter End Date');
	  $('#endDate').focus();
	  return false;
  }
   return true;
}
</script>
</body>
</html>