<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure

if($savename != "")
{
	$query = "insert into promotions(promoname, active) values('".addslashes($savename)."', '0')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$promoid = mysql_insert_id();
	
	Header("Location: /mgt/promo/promo_edit.phtml?promoid=$promoid");
	exit;
}
else if(intval($promoid) <= 0)
{
	Header("Location: /mgt/promo/default.phtml");
	exit;
}
else if($Action == "Save Promo")
{
	$bdate = date("Y-m-d H:i:s", strtotime($bdate));
	$edate = date("Y-m-d H:i:s", strtotime($edate));
	
	$query = "update promotions set promoname = '".addslashes($promoname)."',
										begin_date = '$bdate',
										end_date = '$edate',
										active = '$active',
										type = '$type'										
										where promoid = '$promoid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/promo/promo_edit.phtml?promoid=$promoid");
}
?>
<HTML>
<HEAD>
<TITLE>Edit Promo</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<script>
var g_level = 0;
var g_pid = 0;

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			searchSKUs();
 			return false; 
 		}
	}  
}

function cancel2Return(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			search2SKUs();
 			return false; 
 		}
	}  
}

function cancel3Return(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			addDiscountPerSKU();
 			return false; 
 		}
	}  
}

var g_searchType = 0;

function searchSKUs()
{
	g_searchType = 0;
	
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	var posArray = findPos( document.getElementById("skusearch") );	
	
	var x = posArray[0];
	var y = posArray[1];

	dlg.style.left  = x - 250;
	dlg.style.top  = y + 25;		
	
	dlg.style.width=800;
	dlg.style.height=300;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.advform.keywords.value
  	
	var url="/mgt/vn/ajax_qsearch.phtml?keywords="+keywords+"&maxout=20&stockdetail=1&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=searchDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function search2SKUs()
{
	g_searchType = 1;
	
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	var posArray = findPos( document.getElementById("sku2search") );	
	
	var x = posArray[0];
	var y = posArray[1];

	dlg.style.left  = x - 450;
	dlg.style.top  = y + 25;		
	
	dlg.style.width=800;
	dlg.style.height=300;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.advform.key2words.value
	var action = document.advform.action.options[ document.advform.action.selectedIndex ].value;
	
	var url="/mgt/vn/ajax_qsearch.phtml?keywords="+keywords+"&maxout=20&stockdetail=1&action="+action+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=searchDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}

function searchDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.sresults;
		
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 1)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0 && parseInt(rows[pp]) > 0)
					{
						if(g_searchType == 1)
						{
							var action = document.advform.action.options[ document.advform.action.selectedIndex ].value;
							newCell.innerHTML = "<a href=\"javascript:addItem2Order('"+rows[pp]+"', '"+action+"');\">Add</a>";							
						}
						else
						{
							newCell.innerHTML = "<a href=\"javascript:addItem2Cart('"+rows[pp]+"');\">Add</a>";
						}
					}
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}

	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.advform.cat0.options[ document.advform.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.advform.cat1.options[ document.advform.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.advform.cat2.options[ document.advform.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.advform.cat3.options[ document.advform.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.advform.cat4.options[ document.advform.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			//recalcOrders();
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

		//recalcOrders();
	}
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function closeResults()
{
	hidePromoForm();
	hideSaveCover();
	
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "";
	
	var theTable = document.all.sresults;
		
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
}

function addItem2Cart(pid)
{
	g_pid = pid;
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("promoform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 150;
		dlg.style.left = 120;

		dlg.style.width = 200;
		dlg.style.height = 100;
		
		dlg.style.display = "block";
		
		document.mypromoform.promonote.focus();
	}
}

function savePromoForm()
{
	var note = document.mypromoform.promonote.value;
	var amount = document.mypromoform.promoamount.value;
	var begin_date = document.mypromoform.begin_date.value;
	var end_date = document.mypromoform.end_date.value;
	
	closeResults();
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/promo/ajax_promo.phtml?Action=CiteriaAddSKU&pid="+g_pid+"&promoid=<?=$promoid;?>&note="+escape(note)+"&amount="+amount;
	url += "&begin_date="+begin_date+"&end_date="+end_date+"&sid="+Math.random();

	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function hidePromoForm()
{
	var cvr = document.getElementById("promoform");
	cvr.style.display = "none";
}

function hideSaveCover()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
}

function itemAdded()
{
	if(xmlHttp.readyState==4)
	{
		loadSKUs();
	}	
}

function loadSKUs()
{
	var url="/mgt/promo/ajax_loadskus.phtml?promoid=<?=$promoid;?>&Action=CiteriaSKUs";
		
	xmlHttp=GetXmlHttpObject();
			
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
		
	xmlHttp.onreadystatechange=loadSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function loadSKUsComplete()
{
	if(xmlHttp.readyState==4)
	{
		var div = document.getElementById("requiredSKUs");
		
		if(div)
		{
			div.innerHTML = xmlHttp.responseText;
			itemAdded2Order();
		}
	}	
}

function addItem2Order(pid, action)
{
/*	closeResults();
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/promo/ajax_promo.phtml?Action=ItemsAdded&pid="+pid+"&type="+action+"&cid=<?=$cid;?>&sid="+Math.random();
	
	xmlHttp.onreadystatechange=itemAdded2Order;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	*/
}//

function itemAdded2Order()
{
	if(xmlHttp.readyState==4)
	{
		loadaddedremovedSKUs();
	}	
}

function loadaddedremovedSKUs()
{
	var url="/mgt/promo/ajax_loadskus.phtml?cid=<?=$cid;?>&Action=ItemsAdded";
		
	xmlHttp=GetXmlHttpObject();
			
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
		
	xmlHttp.onreadystatechange=loadaddedremovedSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function loadaddedremovedSKUsComplete()
{
	if(xmlHttp.readyState==4)
	{
		var div = document.getElementById("addedremovedSKUs");

		if(div)
		{
			div.innerHTML = xmlHttp.responseText;
			loadDiscountSKUs();
		}
	}	
}

function startUp()
{
	loadSKUs();
}

function deleteSKU(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/promo/ajax_promo.phtml?Action=CiteriaDelSKU&pid="+pid+"&promoid=<?=$promoid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function removeItem(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/promo/ajax_promo.phtml?Action=ItemsAddedDelete&pid="+pid+"&cid=<?=$cid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=itemAddedDeleteComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function itemAddedDeleteComplete()
{
	if(xmlHttp.readyState==4)
	{
		loadaddedremovedSKUs();
	}	
}

function addDiscountPerSKU()
{
	var pid = document.advform.dpid.value;
	var da = document.advform.damount.value;
	var dp = document.advform.dpercent.value;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/promo/ajax_promo.phtml?Action=DiscountPerSKU&pid="+pid+"&da="+da+"&dp="+dp+"&cid=<?=$cid;?>&sid="+Math.random();
	
	xmlHttp.onreadystatechange=discountPerSKUAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function discountPerSKUAdded()
{
	if(xmlHttp.readyState==4)
	{
		loadDiscountSKUs();
	}	
}

function loadDiscountSKUs()
{
	var url="/mgt/promo/ajax_loadskus.phtml?cid=<?=$cid;?>&Action=DiscountPerSKU";
		
	xmlHttp=GetXmlHttpObject();
			
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
		
	xmlHttp.onreadystatechange=loadDiscountSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function loadDiscountSKUsComplete()
{
	if(xmlHttp.readyState==4)
	{
		var div = document.getElementById("discountSKUs");
		
		if(div)
		{
			div.innerHTML = xmlHttp.responseText;
		}
	}	
}

function removeDiscountItem(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/promo/ajax_promo.phtml?Action=DiscountPerSKUDelete&pid="+pid+"&cid=<?=$cid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=DiscountPerSKUDeleteComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function DiscountPerSKUDeleteComplete()
{
	if(xmlHttp.readyState==4)
	{
		loadDiscountSKUs();
	}
}

</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}

</STYLE>
<body onload="startUp();">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Promo Editor</B>
		<BR><BR>
		<form name="advform" method="POST">
		<input type="hidden" name="promoid" value="<?=$promoid;?>">
		<table>
		<tr>
			<td width=25%>
			<!--
			-->
				<?
				$query = "select promoname, begin_date, end_date, active, type from promotions where promoid = '$promoid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($promoname, $begin_date, $end_date, $active, $type) = mysql_fetch_array($qok);
				
				if($begin_date == "0000-00-00 00:00:00")
					$begin_date = date("m/d/Y", time());
				else 
					$begin_date = date("m/d/Y", strtotime($begin_date));
					 
				if($end_date == "0000-00-00 00:00:00")
					$end_date = date("m/d/Y", time());
				else 
					$end_date = date("m/d/Y", strtotime($end_date));
					
				?>
				<B>Main</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Promo Name:</div></td>
					<td><input type="text" name="promoname" value="<?=$promoname;?>" style="width:250px" class="formBox"></td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Active:</div></td>
					<td><input type="checkbox" name="active" value="1" <?if($active == 1) echo "CHECKED";?>></td>						
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Begin Date:</div></td>
					<td>
						<input type="text" name="bdate" value="<?=$begin_date;?>" size=15 class="formbox" style="width:65px" 
									onclick="cal1x.select(document.forms['advform'].bdate,'anchor1x','MM/dd/yyyy');return false;"  onselect="cal1x.select(document.forms['advform'].bdate,'anchor1x','MM/dd/yyyy');return false;" ID="anchor1x" onblur="">					
					</td>
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">End Date:</div></td>
					<td>
						<input type="text" name="edate" value="<?=$end_date;?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['advform'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['advform'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onblur="">				
					</td>
				</tr>
				<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Type:</div></td>
						<td>
							<select class="formSelect" name="type">
								<option value="">--- SELECT ---</option>							
								<option value="STA" <?if($type == "STA") echo "SELECTED";?>>Promo (STA)</option>
								<option value="SPA" <?if($type == "SPA") echo "SELECTED";?>>Promo (SPA)</option>
								<option value="EOM" <?if($type == "EOM") echo "SELECTED";?>>Promo (EOM)</option>
								<option value="BUY" <?if($type == "BUY") echo "SELECTED";?>>Buydown</option>
							</select>
						</td>
				</tr>
				</table>
				<LI>Buydowns will reduce cost for a period of time.....  STA and EOM/SPA will not  
				<BR><BR>
				<LI>Begin and End Dates are defaults for CSV file imports (remember to save before importing)
				</div>
				
			</td>
			
			<td width=75%>
				
			
				<B>Promo SKUs</B>
				<div style="border:1px solid #eeeeee;" id="skusearch">
				<table>
				<tr bgcolor="#eeeeee">
					<td>SKU/Keywords:<input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
					<td>
						<input type="button"  name="Action" value="Search" onclick="searchSKUs()" class="buttonItem">	
					</td>		
				</tr>
				<tr>
					<td colspan=2>
					<div id="requiredSKUs">&nbsp;</div>
					</td>
				</tr>
				</table>
				</div>
				
				
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan=3 align=center height=25>
				
			</td>
		</tr>		
		<tr>
			<td bgcolor="#eeeeff" colspan=3 align=center>
				<input type="submit" name="Action" value="Save Promo" class="buttonItem">
				<input type="button" name="Action" value="Upload Promo CSV" class="buttonItem" onclick="e2window('/mgt/promo/upload.phtml?promoid=<?=$promoid;?>', 'Upload Promo CSV');">
			</td>
		</tr>
		</table>
		
		</form>
		
		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
		<!---------------->	
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>			
		<div id="skuresults" class="dialog">
		<table width=99% id="sresults">
		<tr bgcolor="#eeeeee">
			<td height=21><div align="center">Add</div></td>
				<td><div align="center">PID</div></td>
				<td><div align="center">Man</div></td>
				<td><div align="center">ManPart</div></td>
				<td><div align="center">Descr</div></td>
				<td><div align="center">V</div></td>
				<td><div align="center">OnHand</div></td>
				<td><div align="center">OnHold</div></td>
				<td><div align="center">Committed</div></td>
				<td><div align="center">Available</div></td>
				<td><div align="center">OnPO</div></td>
				<td><div align="center">Price</div></td>
				<td><div align="center">S Cost</div></td>
				<td><div align="center">3rd</div></td>
		
				</tr>
			<tr>
				<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
			</tr>	
		</table>
		<BR><BR>
		<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
		</div>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	
<div id="promoform" class="dialog">
<form name="mypromoform" method="GET">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>
				Note:
			</td>		
			<td>
				<input type="text" name="promonote" class="formBox" style="width:100px;">
			</td>
		</tr>
		<tr>
			<td>
				Amount:
			</td>		
			<td>
				$ <input type="text" name="promoamount" class="formBox" style="width:50px;text-align:right;">
			</td>
		</tr>
		<tr>
			<td>
				Begin Date:
			</td>		
			<td>
				<input type="text" name="begin_date" class="formBox" style="width:100px;"> (MM/DD/YYYY)
			</td>
		</tr>
		<tr>
			<td>
				End Date:
			</td>		
			<td>
				<input type="text" name="end_date" class="formBox" style="width:100px;"> (MM/DD/YYYY)
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" name="Action" value="Save" onclick="savePromoForm()" class="buttonItem">
			</td>
			<td>
				<input type="button" name="Action" value="Cancel" onclick="hidePromoForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	


</body>
</html>