<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$tmpfile = $_SESSION["PROMOFILE"];

$fp = fopen($tmpfile, "r");

if(!$fp)
{
	echo "ERROR OPENING PROMO FILE\n";
	exit;
	
}

$query = "select begin_date, end_date from promotions where promoid = '$promoid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($default_bdate, $default_edate) = mysql_fetch_array($qok);

$query = "delete from promotion_skus where promoid = '$promoid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


// the header
$data = fgetcsv($fp);

while($data = fgetcsv($fp))
{	
	$pid = $manpart = $note = $amount = $bdate = $edate = "";

	for($xx = 0; $xx < count($data); $xx++) // for each column
	{
		if($_POST["column$xx"] == "pid")
			$pid .= $data[$xx];
		if($_POST["column$xx"] == "manpart")
			$manpart .= $data[$xx];
		if($_POST["column$xx"] == "note")
			$note .= $data[$xx];
		if($_POST["column$xx"] == "amount")
			$amount .= $data[$xx];
		if($_POST["column$xx"] == "bdate")
			$bdate .= $data[$xx];
		if($_POST["column$xx"] == "edate")
			$edate .= $data[$xx];
	}
	
	if($pid == "")
	{
		$query = "select id from product_list where sku = '$manpart' or manpart = '$manpart'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($pid) = mysql_fetch_array($qok);
		}
	}
	
	if($bdate == "") $begin_date = $default_bdate;
	else $begin_date = date("Y-m-d H:i:s", strtotime($bdate));
	
	if($edate == "") $end_date = $default_edate;
	else $end_date = date("Y-m-d H:i:s", strtotime($edate));
	
	if(intval($pid) > 0)
	{
		$query = "insert into promotion_skus(promoid, pid, manpart, note, amount, begin_date, end_date) ";
		$query .= "values('$promoid', '$pid', '$manpart', '$note', '$amount', '$begin_date', '$end_date')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}

// copy what we just uploaded into the historical_stas sku
$query = "insert into historical_stas select promotions.promoid, promotions.promoname, promotion_skus.amount, promotion_skus.note, 
					promotion_skus.pid, promotion_skus.begin_date, promotion_skus.end_date from promotions, promotion_skus where 
					promotions.promoid = promotion_skus.promoid and promotions.type = 'STA' and promotions.promoid = '$promoid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="top.location='/mgt/promo/promo_edit.phtml?id=<?=$promoid;?>';">
	Loading...
	</BODY>
	</HTML>