<?
if($argv [1] == "")
{
	echo "USAGE: cancelscript.phtml ROOT_DIR\n";
	exit;	
}

$ROOT_DIR = $argv[1];
REQUIRE($ROOT_DIR."/config.phtml");
require_once($ROOT_DIR."/include/mysql.phtml");

///////////////////////////
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
//////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$cancelstep = $efc->getConfigValue("BuySafe", "CANCELLED_STEP");;

$many_days_ago = time() - (86400 * 30);

$query = "select distinct(customer_orders.invoiceid), customer_orders.orderid, buysafe_orders.shoppingcartid, 
			customer_orders.ip_addr, customer_orders.total, customer_orders.subtotal
			 from 
			customer_orders, buysafe_orders , customer_order_lines
			where
			customer_orders.invoiceid = buysafe_orders.invoiceid AND
			customer_orders.orderdate >= '$many_days_ago' AND
			customer_orders.status = '$cancelstep' AND
			customer_order_lines.orderid = customer_orders.orderid AND
			customer_order_lines.prodid = '-4' and price > 0
			group by customer_orders.invoiceid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($invoiceid, $orderid, $shoppingcartid, $ip_addr, $total, $subtotal) = mysql_fetch_array($qok))
{
	{
		echo "CANCELLING $invoiceid ($orderid) [$shoppingcartid]\n";
		/*########################################################################################################################
		BUYSAFE BEGIN
		########################################################################################################################*/
		require_once($ROOT_DIR.'/checkout/lib/nusoap.php');
		
		if($DB == "ecom")
		{
			$SERVER       = 'api.buysafe.com';         # This is for Sandbox testing.  Production will be api.buysafe.com
			$USERNAME     = 'EcomElectronics';
			$PASSWORD     = '7CA1501E-0234-45BD-A4F5-A87FEEB3D9DE';
			$STORE_TOKEN  = 'f8ab9e5f-80bf-4421-92fb-91c3bbd00ac3';
			###############################################################################
			# These should never need to be changed
			$VERSION      = '610';
			$URL          = "https://$SERVER/BuysafeWS/CheckoutAPI.dll";
			$XMLNS        = 'http://ws.buysafe.com';
			###############################################################################
		}
		else 
		{
			###############################################################################
			$SERVER       = 'api.buysafe.com';         # This is for Sandbox testing.  Production will be api.buysafe.com
			$USERNAME     = 'JustBuyElectronics';
			$PASSWORD     = '2BEBD9E3-0D4B-44CD-896B-420E228E89BB';
			$STORE_TOKEN  = '3ab1688b-641d-4e45-9ec7-0f5f2885973e';
			###############################################################################
			# These should never need to be changed
			$VERSION      = '610';
			$URL          = "https://$SERVER/BuysafeWS/CheckoutAPI.dll";
			$XMLNS        = 'http://ws.buysafe.com';
			###############################################################################				
		}
		# Build the SOAP Header - which is common to ALL requests for a particular store
		$soapheader = "<BuySafeWSHeader xmlns=\"$XMLNS\">
					        <Version>$VERSION</Version>
					    </BuySafeWSHeader>
					    <MerchantServiceProviderCredentials xmlns=\"$XMLNS\">
					        <UserName>$USERNAME</UserName>
					        <Password>$PASSWORD</Password>
					    </MerchantServiceProviderCredentials>
					    <BuySafeUserCredentials xmlns=\"$XMLNS\">
					        <AuthenticationTokens>
					            <string>$STORE_TOKEN</string>
					        </AuthenticationTokens>
					    </BuySafeUserCredentials>";
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$SetShoppingCartCancelOrder = "<SetShoppingCartCancelOrder xmlns=\"http://ws.buysafe.com\">
								        <SetShoppingCartCancelOrderRQ>
								            <ShoppingCartId>$shoppingcartid</ShoppingCartId>
								        </SetShoppingCartCancelOrderRQ>
								    </SetShoppingCartCancelOrder>";
		
		
		# Build the Soap Client
		$client = new nusoap_client($URL);
		
		$err = $client->getError();
		if ($err)
		{
		  echo '<h2>Constructor error</h2><pre>' . $err . '</pre>';
		}
		
		$client->soap_defencoding='UTF-8';
		
		$SOAPACTION = 'http://ws.buysafe.com/SetShoppingCartCancelOrder';
		$response   = $client->call('SetShoppingCartCancelOrder', $SetShoppingCartCancelOrder, $XMLNS, $SOAPACTION, $soapheader, null, 'rpc', 'literal');
		
		$err = $client->getError();
		if ($err)
		{
		  echo '<h2>SetShoppingCartCancelOrder call error</h2><pre>' . $err . '</pre>';
		}
		
		$header = $client->getHeader();
		
		if($header['faultcode'] == "")
		{
			$query = "select lineid, price from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($lineid, $bsprice) = mysql_fetch_array($q2ok);
			
			$query = "update customer_order_lines set descr = 'buySAFE Bond Cancelled', price = 0.00 where lineid = '$lineid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$subtotal = $subtotal - $bsprice;
			$total = $total - $bsprice;
			
			$query = "update customer_orders set subtotal = '$subtotal', total = '$total' where orderid = '$orderid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			$efc->logAction("SUCCESS", "2", $orderid, "buySAFE bond cancelled by system", "buySAFE bond cancelled by system");   	
		}
			
		/*echo "IsBuySafeEnabled: ".$response['IsBuySafeEnabled']."<BR>";
		echo "BondCostDisplayText: ".$response['BondCostDisplayText']."<BR>";
		echo "TotalBondCost: ".$response['TotalBondCost']."<BR>";
		echo "BONDVALUE: ".$_SESSION["BONDVALUE"]."<BR>";
		*//*########################################################################################################################
		BUYSAFE END
		########################################################################################################################*/
	}
}
?>
