<?
/*ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);*/
ini_set('memory_limit', '64M');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}
$query = "SELECT pid,ebay,nopid FROM ebay_out_synk order by nopid desc";
$query = str_replace("\n", "", $query);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><b>PID</b></td>
	<td align=center height=21><b>Ebay Listing</b></td>
	<td align=center><b>Update Efluent</b></td>
	<td align=center><b>End Listing</b></td>
	<td align=center>
		<!--<a href="javascript:void()" onclick="checkUncheckAll()">Check All</a>-->
		<input type="checkbox" onclick="checkUncheckAll()" id="check_all" />
	</td>
</tr>	
<?
$onrow = ($p-1)*$ITEMS_PER_PAGE;
while((list($pid,$ebay,$nopid) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
{				
	if(stristr($efc->getConfigValue("eBay", "ServerURL"), "sandbox") != FALSE)
		$ebaylink = "<a href='http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebay' target='_new'>$ebay</a>";
	else 
		$ebaylink = "<a href='http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebay' target='_new'>$ebay</a>";
	
	if($onrow % 2) 
	{
		echo "<tr bgcolor='#eeeeee'>";
	}
	else {
		echo "<tr bgcolor='#ffffff'>";
	}
	?>
		<td align=center height=21>
			<a id="item_<?=$pid;?>" href="javascript:showMenu('<?=$pid;?>', '<?=$pid;?>');">
				<?=$pid?>
			</a>
		</td>
		<td align=center height=21><?=$ebaylink?></td>
		<td align=center id="updatepid_<?=$pid?>">
			<?
				if ($nopid == 0) {
					?>
						<a href="javascript:void(0)" onclick="updatePid('<?=$pid?>','<?=$ebay?>')">update</a>
					<?
				}
				else {
					?>
						no pid
					<?
				}
			?>
			
		</td>
		<td align=center id="endpid_<?=$pid?>">
			<?if($efc->getPermission("perm_edit_ebay")){?><a href="javascript:void(0);" onclick="EndListing('<?=$ebay;?>','<?=$pid?>');">End</a><?}else{?>n/a<?}?>
		</td>
		<td align="center">
			<input type="checkbox" id="end_<?=$pid?>_<?=$ebay;?>" class="endList" />
		</td>
	</tr>	
	<?
	$onrow++;
	$numout++;
}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>