<?
class amazonClass
{
	function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}

	function cleanse($data)
	{
		$data = str_replace("<![CDATA[", "", $data);
		$data = str_replace("]]>", "", $data);
		
		$data = strip_tags($data, "<br><p><ul><li>");
		
		return preg_replace("/[^a-zA-Z0-9!~$#;:?&%=)(><.,\[\]\-'\+\/\"\s]/","", $data);
	}
	
	function cleanVar($data)
	{
		//matches anything in range 0-31, 128-255 and removes it.
		return preg_replace('/[\x00-\x1F\x80-\xFF]/', '', $data);
	}	
	
	function aws_signed_request($region, $params, $public_key, $private_key)
	{
	    /*
	    Copyright (c) 2009 Ulrich Mierendorff
	
	    Permission is hereby granted, free of charge, to any person obtaining a
	    copy of this software and associated documentation files (the "Software"),
	    to deal in the Software without restriction, including without limitation
	    the rights to use, copy, modify, merge, publish, distribute, sublicense,
	    and/or sell copies of the Software, and to permit persons to whom the
	    Software is furnished to do so, subject to the following conditions:
	
	    The above copyright notice and this permission notice shall be included in
	    all copies or substantial portions of the Software.
	
	    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
	    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
	    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
	    DEALINGS IN THE SOFTWARE.
	    */
	    
	    /*
	    Parameters:
	        $region - the Amazon(r) region (ca,com,co.uk,de,fr,jp)
	        $params - an array of parameters, eg. array("Operation"=>"ItemLookup",
	                        "ItemId"=>"B000X9FLKM", "ResponseGroup"=>"Small")
	        $public_key - your "Access Key ID"
	        $private_key - your "Secret Access Key"
	    */
	
	    // some paramters
	    $method = "GET";
	    $host = "ecs.amazonaws.".$region;
	    $uri = "/onca/xml";
	    
	    // additional parameters
	    $params["Service"] = "AWSECommerceService";
	    $params["AWSAccessKeyId"] = $public_key;
	    // GMT timestamp
	    $params["Timestamp"] = gmdate("Y-m-d\TH:i:s\Z");
	    // API version
	    $params["Version"] = "2009-03-31";
	    
	    // sort the parameters
	    ksort($params);
	    
	    // create the canonicalized query
	    $canonicalized_query = array();
	    foreach ($params as $param=>$value)
	    {
	        $param = str_replace("%7E", "~", rawurlencode($param));
	        $value = str_replace("%7E", "~", rawurlencode($value));
	        $canonicalized_query[] = $param."=".$value;
	    }
	    $canonicalized_query = implode("&", $canonicalized_query);
	    
	    // create the string to sign
	    $string_to_sign = $method."\n".$host."\n".$uri."\n".$canonicalized_query;
	    
	    // calculate HMAC with SHA256 and base64-encoding
	    $signature = base64_encode(hash_hmac("sha256", $string_to_sign, $private_key, True));
	    
	    // encode the signature for the request
	    $signature = str_replace("%7E", "~", rawurlencode($signature));
	    
	    // create request
	    $request = "http://".$host.$uri."?".$canonicalized_query."&Signature=".$signature;
	    
	    return $request;
	    
	/*    // do request
	    $response = @file_get_contents($request);
	    
	    if ($response === False)
	    {
	        return False;
	    }
	    else
	    {
	        // parse XML
	        $pxml = simplexml_load_string($response);
	        if ($pxml === False)
	        {
	            return False; // no xml
	        }
	        else
	        {
	            return $pxml;
	        }
	    }
	*/
	}
	function getItemTypeCategoy($pid) {
		$cattree = $this->efc->getCatTree($pid);
		$amazon_item_type = "";
		if(is_array($cattree))
		{
			for($xx = 0; $xx < count($cattree['catid']); $xx++)
			{
				$query = "select item_type from amazon_item_type where category_id = '".$cattree['catid'][$xx]."'";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
				if(mysql_num_rows($q2ok) > 0)
				{
					list($amazon_item_type) = mysql_fetch_array($q2ok);	
					
					break;
				}
			}
		}
		return $amazon_item_type;
	}
	function getBrowserNodeCategory($pid) {
		$cattree = $this->efc->getCatTree($pid);
		$amazon_item_type = "";
		if(is_array($cattree))
		{
			for($xx = 0; $xx < count($cattree['catid']); $xx++)
			{
				
				$qaa = "SELECT btg_categories.nodeid FROM btg_categories,btg_categories_map WHERE btg_categories_map.catid='".$cattree['catid'][$xx]."' AND btg_categories_map.btgcat=btg_categories.catid";
				if(!$qokaa = mysql_db_query($this->db, $qaa, $this->mysqlid)){ echo "Whoops!  Internal Error"; exit;  }

				
				if(mysql_num_rows($q2ok) > 0)
				{
					list($btg_categories_nodeid) = mysql_fetch_array($qokaa);	
					
					break;
				}
			}
		}
		return $btg_categories_nodeid;
	}
	function getClassification($pid)
	{
		$amazoncat = 0;
		$classification = "";
		
		$query = "select amazoncat from amazon_categories where pid = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($amazoncat) = mysql_fetch_array($q2ok);	
		}
		else 
		{
			$cattree = $this->efc->getCatTree($pid);
	
			if(is_array($cattree))
			{
				for($xx = 0; $xx < count($cattree['catid']); $xx++)
				{
					$query = "select amazoncat from amazon_categories where catid = '".$cattree['catid'][$xx]."'";
					if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					if(mysql_num_rows($q2ok) > 0)
					{
						list($amazoncat) = mysql_fetch_array($q2ok);	
						
						break;
					}
				}
			}
		}
		
		if(intval($amazoncat) > 0)
		{
			$query = "select classification from categories where id = '$amazoncat'";
			if(!$q2ok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			list($classification) = mysql_fetch_array($q2ok);
		}

		return $classification;
	}
	
	// convert the data to the type specified
	function xsdConversion($type, $cvalue)
	{
		if($type == "boolean")
		{
			if(strtolower($cvalue) == "yes") $cvalue = "true";
			else if(strtolower($cvalue) == "no") $cvalue = "false";
			else $cvalue = intval($cvalue);
		}
		else if($type == "positiveInteger")
		{
			if(intval($cvalue) < 0)
				$cvalue = ""; // blank and we'll omit it
			else 
				$cvalue = intval($cvalue); // make sure its just an integer
		}
		else if($type == "nonNegativeInteger")
		{
			if(intval($cvalue) < 0)
				$cvalue = "";
			else 
				$cvalue = intval($cvalue);
		}
		else if($type == "string")
		{
			// no nothing...... its a string
		}
		else if($type == "decimal")
		{
			$cvalue = number_format($cvalue, 2);
		}
		else if($type == "dateTime")
		{
			$cvalue = date("Y-m-d", strtotime($cvalue))."T".date("H:i:m:s", strtotime($cvalue));
		}

		return $cvalue;	
	}
	
	function getProductData($pid, $campid)
	{
		$DEBUG = 0;
		
		$templateid = 0;
		$dataelements = 0;
		$productData = array();
		$cattree = $this->efc->getCatTree($pid);
		
		$filename = "";
		$productType = "";
		
		for($xx = 0; $xx < count($cattree['catid']); $xx++)
		{
			$query = "select id from static_specs_templates where cat = '".$cattree['catid'][$xx]."'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			if(mysql_num_rows($qok))
			{
				list($templateid) = mysql_fetch_array($qok);
				break;
			}
		}

		for($xx = 0; $xx < count($cattree['catid']); $xx++)
		{
			$query = "select override_rid, tlid from amazon_tlid_map_secondary where catid = '".$cattree['catid'][$xx]."'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			if(mysql_num_rows($qok))
			{
				list($override_rid, $tlid) = mysql_fetch_array($qok);
				break;
			}
		}
		
		if($DEBUG == 1) echo "TEMPLATEID: $templateid OVERRIDE_RID: $override_rid TLID: $tlid<BR>";
//		echo "TEMPLATEID: $templateid OVERRIDE_RID: $override_rid TLID: $tlid<BR>";
		//echo "TemplateID: $templateid\n";
		
		if( (intval(@$templateid) > 0) || ((intval(@$override_rid) > 0) && (intval(@$tlid) > 0)) )
		{
			if(intval($tlid) > 0)
			{}
			else 
			{
				$query = "select tlid from amazon_tlid_map where tid = '$templateid'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($tlid) = mysql_fetch_array($qok);	
			}
		
			if($DEBUG == 1) echo "TLID: $tlid<BR>";
		
			//$productData .= "<ProductData>\n";
			
			$query = "select filename, name from xsd_toplevel where id = '$tlid'";
			if(!$qok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			list($filename, $productType) = mysql_fetch_array($qok);
			
			$filename = str_replace(".xsd", "", $filename);
			
			//$productData .= "<$filename>\n";
			//$productData .= "<ProductType>\n";
			//$productData .= "<$productType>\n"; // i.e. consumerelectronics / digitalcamera
			
			if($DEBUG == 1) echo "FILENAME: $filename<BR>\n";
			
			if($tlid == "75")
				$query = "select tlname, id, name, type, min, max from xsd_keys where tlid = '$tlid' OR tlname = 'CE' order by id";
			else 
				$query = "select tlname, id, name, type, min, max from xsd_keys where tlid = '$tlid' OR tlname = '$filename' order by id";
			
			if($DEBUG == 1) echo "$query<BR>";
			//$query = "select id, name, type, min, max from xsd_keys where tlid = '$tlid'";
			if(!$qok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			while(list($tlname, $amzkid, $xk_name, $xk_type, $xk_min, $xk_max) = mysql_fetch_array($qok))
			{
				$query = "select sscid from amazon_ss_map where amzkid = '$amzkid'";
				if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				if(mysql_num_rows($q4ok) > 0) // then this column is mapped
				{
					list($sscid) = mysql_fetch_array($q4ok);
					
					if($DEBUG == 1) echo "<HR NOSHADE>\n";
					if($DEBUG == 1) echo "$tlname $amzkid, $xk_name, $xk_type, $xk_min, $xk_max<BR>\n";
					if($DEBUG == 1) echo "... SSCID: $sscid<BR>\n";
					
					$query = "select dvalue from product_static_specs where id = '$pid' and tid = '$templateid' and sscid = '$sscid'";
					if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					if(mysql_num_rows($q4ok) > 0)
					{
						list($cvalue) = mysql_fetch_array($q4ok);
						
						if($DEBUG == 1) echo "CVALUE: $cvalue ($xk_type)<BR>";
						
						if(substr($xk_type, 0, 4) == "xsd:")
						{
							list(,$type) = explode(":", $xk_type);
							
							$cvalue = $this->xsdConversion($type, $cvalue);							
							
							if($cvalue != "")
							{
								$dataelements++;
								$productData["$tlname"][] = "<$xk_name>$cvalue</$xk_name>\n";
							}
							
							if($DEBUG == 1) echo "... CVALUE: $cvalue<BR>";
						}
						else if($xk_type == "")  // then its a enumeration
						{
							$match = false;
							$query = "select name from xsd_values where kid = '$amzkid'";
							if($DEBUG == 1) echo "=> $query<BR>\n";
							if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
							while(list($xk_enum) = mysql_fetch_array($q4ok))
							{
								if($DEBUG == 1) echo "... ENUM: $xk_enum => $cvalue ($xk_name)<BR>";
								
								if($xk_name == "ExternalMemoryType") // be nice and give some translations
								{
									if(strtolower($cvalue) == "cf") $cvalue = "compact-flash";
									else if(strtolower($cvalue) == "sm") $cvalue = "smart-media";
									else if(strtolower($cvalue) == "sd") $cvalue = "secure-digital";
									else if(strtolower($cvalue) == "xd") $cvalue = "xd-picture-card";
									else if(strtolower($cvalue) == "ms") $cvalue = "memory-stick";
									else if(strtolower($cvalue) == "md") $cvalue = "micro-drive";
									
									if($DEBUG == 1) echo "... $xk_name translated => $cvalue<BR>";
								}
								
								$cleanenum = strtolower(str_replace("-", "", $xk_enum));
								$cleancval = strtolower(str_replace(" ", "", $cvalue));
								$cleancval = strtolower(str_replace("-", "", $cleancval));
								
								if($DEBUG == 1) echo "... CLEANENUM: $cleanenum CLEANCVAL: $cleancval<BR>";
								
								if($cleanenum == $cleancval)
								{
									if($DEBUG == 1) echo "... !!! MATCH a: $xk_enum !!!<BR>";
									$cvalue = $xk_enum;
									break;
								}
								
								$cleanenum = strtolower(substr($xk_enum, 0, 4));
								$cleancval = strtolower(substr($cvaluem, 0, 4));
								
								if($DEBUG == 1) echo "... CLEANENUM (test2): $cleanenum CLEANCVAL: $cleancval<BR>";
								if($cleanenum == $cleancval)
								{
									$match = true;
									if($DEBUG == 1) echo "... !!! MATCH b: $xk_enum !!!<BR>";
									$cvalue = $xk_enum;
									break;
								}
							}
							
							if($match == true)
							{
								$dataelements++;
								$productData["$tlname"][] = "<$xk_name>$cvalue</$xk_name>\n";
							}
						}
						else
						{
							$totaldigits = $fractionaldigits = 0;
							
							if($DEBUG == 1) echo "SSCID: $sscid<BR>";
							if($DEBUG == 1) echo "AMZKID: $amzkid XK_NAME: $xk_name XK_TYPE: $xk_type XK_MIN: $xk_min XK_MAX: $xk_max<BR>";
							if($DEBUG == 1) echo "... SPECIAL AMAZON TYPE: $xk_type CVALUE: $cvalue<BR>";

							$query = "select dtype from static_specs_columns where id = '$sscid'";
							if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
							list($dtype) = mysql_fetch_array($q4ok);
							
							if($DEBUG == 1) echo "... DATATYPE: $dtype<BR>";
							
							$query = "select attrbase, attrattr, attrtype, attruse from complexTypes where attrname = '$xk_type'";
							if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
							if(mysql_num_rows($q4ok) > 0)
								list($attrbase, $attrattr, $attrtype, $attruse) = mysql_fetch_array($q4ok);
							else 
								$attrbase = $xk_type;
							
							if($DEBUG == 1) echo "...NEW ATTRBASE: $attrbase ATTRTYPE: $attrtype ATTRATTR: $attrattr<BR>";
							
							if($attrtype != "") // eg. ZoomUnitOfMeasure, LengthUnitOfMeasure, PixelUnitOfMeasure 
							{
								$query = "select id, attrname, base, pattern, minlen, maxlen, totaldigits, fractionaldigits from simpleTypes where attrname = '$attrtype'";
								if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
								list($st_id, $st_attrname, $st_base, $st_pattern, $st_minlen, $st_maxlen, $st_totaldigits, $st_fractionaldigits) = mysql_fetch_array($q4ok);

								if( (substr($attrbase, 0, 4) != "xsd:") && ($attrbase != "StringNotNull") )
								{
									$query = "select base, totaldigits, fractionaldigits from simpleTypes where attrname = '$attrbase'";
									if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
									if(mysql_num_rows($q4ok) > 0)
										list($attrbase, $totaldigits, $fractionaldigits) = mysql_fetch_array($q4ok);
								}
								
								/////////////////////////////////////////////////////////////////////////////////////////
								// let's try and extract the units from the 
								$xvalue = $cvalue;
								
								if($dtype == "")
								{// no datatype was defined for the static specs column..... so, let's try and extract it from what was entered

									$units = $cvalue;
									$units = str_replace(" ", "", preg_replace("/[0-9.]/","", $units));
									$cvalue = str_replace(" ", "", preg_replace("/[a-zA-Z]/","", $cvalue));							
								}

								$identifier = "";
								
								if($attrtype != "")
								{
									$query = "select data from simpleTypes_extended where stid = '$st_id'";
									if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
									while(list($data) = mysql_fetch_array($q4ok))
									{
										if($DEBUG == 1) echo "... ENUM: $data<BR>";
										
										if(strtolower($data) == strtolower($units))
										{
											$identifier = $data;
											if($DEBUG == 1) echo "... !!! MATCH: $data!!!<BR>";
											break;
										}
										
										if( (strlen($data) < strlen($units) ) && ( strtolower(substr($units, 0, strlen($data))) == strtolower($data) ) ) 
										{
											$identifier = $data;
											if($DEBUG == 1) echo "... !!! MATCH2: $data!!!<BR>";
											break;
										}
									}
								}
								
								if($attrbase == "StringNotNull")
								{
									$dataelements++;
									$productData["$tlname"][] = "<$xk_name>$xvalue</$xk_name>\n";
								}
								else 
								{
									if(substr($attrbase, 0, 4) == "xsd:")
									{
										list(,$type) = explode(":", $attrbase);
										$cvalue = $this->xsdConversion($type, $cvalue);		
									}
									
									$dataelements++;
									$productData["$tlname"][] = "<$xk_name $attrattr=\"$identifier\">$cvalue</$xk_name>\n";
								}
									
								//echo "... XK_NAME: $xk_name FINAL ATTRBASE: $attrbase (TD: $totaldigits, FD: $fractionaldigits) (UNITS: $units)<BR>";

							}
							else if($attrbase == "StringNotNull")
							{
								if($cvalue != "")
								{
									$dataelements++;
									$productData["$tlname"][] = "<$xk_name>$cvalue</$xk_name>\n";
								}
							}
						}
					}
				}
				else // the column is not mapped.....  if its required.. we should put it in anyway 
				{
					//echo "... column is not mapped<BR>";
					if(intval($xk_min) > 0)
					{
						$dataelements++;
						$productData["$tlname"][] = "<$xk_name></$xk_name>\n";
					}
				}
			}
		}
		else 
		{
			//echo "PID: $pid Excluded - No TemplateID\n";
			
			/*$query = "select id from amazon_errors where pid = '$pid' and message = 'SKU Excluded - no templateID'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			if(mysql_num_rows($qok) <= 0)
			{
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "insert into amazon_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', 'SKU Excluded - no templateID', '$campid')";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			}*/
		}
		//$productData .= "<$filename>\n";
		//$productData .= "<ProductType>\n";
		//$productData .= "<$productType>\n";			
			
		//$productData .= "</$productType>\n";
		//$productData .= "</ProductType>\n";
		//$productData .= "</$filename>\n";
		//$productData .= "</ProductData>\n";
			
		if($DEBUG == 1) 
		{
			echo "<pre>\n";
			print_r($productData);
			echo "</pre>\n";
		}
		
		$pdata = "";
		$pdata .= "<ProductData>\n";
		$pdata .= "<$filename>\n";
		$pdata .= "<ProductType>\n";
		$pdata .= "<$productType>\n";	
		
		for($xx = 0; $xx < count(@$productData["$productType"]); $xx++)
			$pdata .= $productData["$productType"][$xx];

		$pdata .= "</$productType>\n";
		$pdata .= "</ProductType>\n";
		
		for($xx = 0; $xx < count(@$productData["$filename"]); $xx++)
			$pdata .= $productData["$filename"][$xx];

		if($filename == "Home")
			$pdata .= "<Parentage>base-product</Parentage>";
						
		$pdata .= "</$filename>\n";
		
		$pdata .= "</ProductData>\n";
		
		//echo "PDATA\n\n$pdata\n";
		//exit;
//		echo $pdata;
		if( ($filename == "") || ($productType == "") )
		{
			return "SEND_BLANK";
			/*echo "PID: $pid Excluded\n";
			
			$query = "select id from amazon_errors where pid = '$pid' and 
							message = 'SKU Excluded - Product Data is Blank - Either Create Static Spec Template or add Secondary Classification in From Category Manager'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			if(mysql_num_rows($qok) <= 0)
			{
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "insert into amazon_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', 'SKU Excluded - Product Data is Blank - Either Create Static Spec Template or add Secondary Classification in From Category Manager', '$campid')";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			}*/
			
		}
		else if(($filename == "CE") && ($productType == "PC"))
		{
			if(!stristr($pdata, "HardDriveSize") ||
				!stristr($pdata, "HardDriveInterface") ||
				!stristr($pdata, "ComputerMemoryType") ||
				!stristr($pdata, "RAMSize") ||
				!stristr($pdata, "ProcessorBrand") ||
				!stristr($pdata, "ProcessorSpeed") ||
				!stristr($pdata, "ProcessorType") ||
				!stristr($pdata, "ProcessorCount") ||
				!stristr($pdata, "OperatingSystem") ||
				!stristr($pdata, "HardwarePlatform"))
				{
					return "SEND_BLANK";
				}
				else 
					return $pdata;
		}
		else 
			return $pdata;
	}
	
	function filterItem($data)
	{
		$query = "select keyword from amazon_keywords";
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		while(list($keyword) = mysql_fetch_array($qok))
		{
			
			//			if(stristr($data, trim($keyword)))

			if( preg_match("/\b".trim(strtoupper($keyword))."\b/i", strtoupper($data)) ) 
			{
				$this->filtered = $keyword;
				echo "......  Filtered $keyword\n";
				return true;
			}
		}
		
		return false;
	}
	
	function AddProduct($pid, $campid, $useasin = "")
	{
		$condition_addon = "";
		$data = "";
		$msrp = "";
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		$asin = trim($asin);
		
		if(trim($am_condition) != '')
		{
			$condition = $am_condition;
		}
		else 
		{
			if(intval($refurb) == 1)
				$condition = "Refurbished";
			else 
				$condition = "New";
		}
			
		//$sdescr = $this->cleanse( $this->efc->getSalesDescr($pid) );

		if( strtoupper($this->efc->getConfigValue("Amazon", "FilterItems")) == "YES")
		{
			// if they're filtering make sure they have the filtering table
			$query = "CREATE TABLE if not exists `amazon_keywords`(`id` int(10) NOT NULL auto_increment,`keyword` varchar(255) NOT NULL, PRIMARY KEY  (`id`)) ENGINE=MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=latin1";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		
			if($this->filterItem($manname))
			{ 
				$msg = "ManName failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
			if($this->filterItem($descr)) // Title
			{ 
				$msg = "Title failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
			if($this->filterItem($this->efc->getSalesDescr($pid))) // sales description
			{
				$msg = "Sales Description failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
			if($this->filterItem($this->efc->getHTMLSpecs($pid))) // HTML Specs
			{
				$msg = "HTML Specs failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
		}
		
		//BulletPoints
		$numbullet = 0;
		
		$bulletpoints = "";
		$query = "select feature from product_features where feature != '' and id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		if(mysql_num_rows($q2ok)==0) {
			$feature = htmlentities( $this->cleanVar($feature) );
			$bulletpoints .= "<BulletPoint><![CDATA[$descr]]></BulletPoint>";
		}
		else {
			while(list($feature) = mysql_fetch_array($q2ok))
			{
				$numbullet++;
				
				if($numbullet < 6)
				{
					$feature = htmlentities( $this->cleanVar($feature) );
					$bulletpoints .= "<BulletPoint><![CDATA[$feature]]></BulletPoint>";
				}
			}
		}
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$search_terms = "";
		$query = "select kw1, kw2, kw3, kw4, kw5 from product_keywords where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($kw1, $kw2, $kw3, $kw4, $kw5) = mysql_fetch_array($q2ok);
		
		{
			
			$kw1 = htmlentities( $this->cleanVar(trim($kw1)) );
			$kw2 = htmlentities( $this->cleanVar(trim($kw2)) );
			$kw3 = htmlentities( $this->cleanVar(trim($kw3)) );
			$kw4 = htmlentities( $this->cleanVar(trim($kw4)) );
			$kw5 = htmlentities( $this->cleanVar(trim($kw5)) );
			
			if($kw1 != "") $search_terms .= "<SearchTerms>$kw1</SearchTerms>";
			if($kw2 != "") $search_terms .= "<SearchTerms>$kw2</SearchTerms>";
			if($kw3 != "") $search_terms .= "<SearchTerms>$kw3</SearchTerms>";
			if($kw4 != "") $search_terms .= "<SearchTerms>$kw4</SearchTerms>";
			if($kw5 != "") $search_terms .= "<SearchTerms>$kw5</SearchTerms>";

		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$query = "select price_msrp from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($price_msrp) = mysql_fetch_array($q2ok);
		
		if(floatval($price_msrp) > 0.00) $msrp = "<MSRP currency=\"USD\">$price_msrp</MSRP>";
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "select config_value from configuration where config_group = 'Amazon' and config_key = 'CONDITION_NOTE'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($cfid) = mysql_fetch_array($q2ok);
		
		echo "CFID: $cfid\n";
		
		if(intval($cfid) > 0)
		{
			$query = "select text_short from custom_values where pid = '$pid' and cfid = '$cfid'";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			list($condition_note) = mysql_fetch_array($q2ok);
			
			if($condition_note != "")
			{
				$condition_addon = "<ConditionNote>$condition_note</ConditionNote>";
				
				echo "$condition_addon\n";
			}
			else if($this->db == "supplyace")
			{
				$condition_addon = "<ConditionNote>  </ConditionNote>";
			}
		}
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$productData = $this->getProductData($pid, $campid);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) );
		
		$sdescr = $descr; // default to the title
		
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/*
		s0ck: OMG
		s0ck: kits always pull the product_html
		s0ck: non-kits use that config value
		s0ck: want me to change it?
		alancohen24: yah, make all skus use that config
		alancohen24: if checked
		alancohen24: but why aint the errors logging
		*/
		$iskit = intval($iskit);
		
		$cfid = $this->efc->getConfigValue("Amazon", "SalesDescr_CFID");
		if(intval($cfid) > 0) // if they've defined the custom field
		{
			$query1 = "select text_short from custom_values where cfid = '$cfid' and pid = '$pid'";
			if(!$q2ok1 = mysql_db_query($this->db, $query1, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			list($senddescr) = mysql_fetch_array($q2ok1);
			
			$senddescr = intval($senddescr);
			
			if($senddescr == 1) // the custom field is checked
			{
				if($DB == 'rawfoodworld') {
                                    $query2 = "select data from product_descr_amz where id = '$pid'";
                                }
                                else {
                                    $query2 = "select data from product_descr where id = '$pid'";
                                }
				if(!$q2ok2 = mysql_db_query($this->db, $query2, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($sdescr) = mysql_fetch_array($q2ok2);
				$sdescr = $this->cleanse($sdescr);
				$sdescr = htmlentities($sdescr);
				
			}
			
			if( ($iskit=='1') && ($senddescr == 0) )
			{
				
				$query3 = "select data from product_html where id = '$pid'";
				if(!$q2ok3 = mysql_db_query($this->db, $query3, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($sdescr) = mysql_fetch_array($q2ok3);
				$sdescr = $this->cleanse($sdescr);
				$sdescr = htmlentities($sdescr);
				
			}
			
		}
		if($this->db =='valuenetpc') {
                    
                    $query2 = "select data from product_descr where id = '$pid'";
                    if(!$q2ok2 = mysql_db_query($this->db, $query2, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
                    list($sdescr) = mysql_fetch_array($q2ok2);
                    $sdescr = $this->cleanse($sdescr);
                    $sdescr = htmlentities($sdescr);
                    if($sdescr == '') {
                        $query3 = "select data from product_html where id = '$pid'";
                        if(!$q2ok3 = mysql_db_query($this->db, $query3, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
                        list($sdescr) = mysql_fetch_array($q2ok3);
                        $sdescr = $this->cleanse($sdescr);
                        $sdescr = htmlentities($sdescr);
                    }
                }
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		if($productData == "") // as a business rule..... productdata must be provided
		{
			return "";
		}
		else
		{
			if($productData == "SEND_BLANK")
				$productData = "";
			
			$numlistings = 1; // default to 1
			
			if( strtoupper($this->efc->getConfigValue("Amazon", "SCRUB_LISTINGS")) == "YES")
			{
				$numlistings = $this->countListings4UPC($upccode, $pid, $manname, $manpart, $descr, $campid, $asin);
				
				if($numlistings == 1)
				{
					if($this->asin != "")
					{
						$asin = $this->asin; 
						$use_asin = 1;
						
						echo "--------------------   Perfect Match from Amazon --------------------------\n";
					}
				}
						
						
			}
					
			if( (intval($use_asin) > 0) && ($asin != "") && ($numlistings == 1))
			{
				echo "... use_asin > 0 && asin != ''\n";
				
				$identifier = "<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>";
				$numlistings = 1; // there's only 1 ASIN
			}
			else if($useasin != "") // it was sent in the function call....... I used this for fixing butterfly 9/14/2010
			{
				echo "HEY-YO!  Using ASIN from amazon_base_messages\n";
				
				$identifier = "<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>";
				$numlistings = 1; // there's only 1 ASIN
			}
			else 
			{
				if($numlistings == 1)
				{
					if($this->asin == "")
						$identifier = "<StandardProductID><Type>UPC</Type><Value>".$upccode."</Value></StandardProductID>";
					else 
						$identifier = "<StandardProductID><Type>ASIN</Type><Value>".$this->asin."</Value></StandardProductID>";
				}
			}
			
			// override for Eli....
			$uniquesku_cfid = $this->efc->getConfigValue("Amazon", "UniqueSKU_CFID");
			if( intval($uniquesku_cfid) > 0 )
			{
				$query = "select text_short from custom_values where pid = '$pid' and cfid = '$uniquesku_cfid'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($text_short) = mysql_fetch_array($qok);
				
				if(intval($text_short) == 1)
				{
					$identifier = "<StandardProductID><Type>UPC</Type><Value>".$upccode."</Value></StandardProductID>";
				}
				
			}
				
			if(intval($numlistings) > 1)
			{
				echo "Multiple Matches\n";
			}
			else 
			{
				//if(strlen($descr) > 40)
				//	$descr = substr($descr, 0, 40);
					
				/*$newpid = $this->translatePID($pid);
				
				if(intval($newpid) > 0)
				{
					$pid = $newpid;
				}*/
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if($this->db == "sndkids")
				{
					$query = "select text_short from custom_values where pid = '$pid' and cfid = '37'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($taxcode) = mysql_fetch_array($qok);					
				}
				
				if(trim($taxcode) == "")
					$taxcode = "A_GEN_TAX";
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$query = "select count(*) from amazon_base_messages where pid = '$pid' and asin != ''";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($alreadylisted) = mysql_fetch_array($qok);
				
				if($alreadylisted > 0)
					$updatetype = "PartialUpdate";
				else
					$updatetype = "Update";					
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				/*$item_type_cfid = $this->efc->getConfigValue("Amazon", "ItemType");
				$item_type_text = "";
				if(intval($item_type_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$item_type_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($item_type) = mysql_fetch_array($qok);
					
					$item_type = trim($item_type);
					
					if($item_type != "")
						$item_type_text = "<ItemType>$item_type</ItemType>";
				}
				else
				{
					$classification = $this->getClassification($pid);
					
					$dynamic_tags = "";
					
					if($classification != "")
					{
						if(strstr($classification, " OR ") || strstr($classification, " AND "))
						{
							// do something about it				
						}
						else 
						{
							list($tag, $class) = explode(":", $classification);
							$dynamic_tags = "<$tag>$class</$tag>";
						}
					}					
				}*/
				$item_type_tmp = false;
				$item_type_cfid = $this->efc->getConfigValue("Amazon", "ItemType");
				$item_type_text = "";
				if(intval($item_type_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$item_type_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
					list($item_type) = mysql_fetch_array($qok);
					
					$item_type = trim($item_type);
					
					if($item_type != "") {
						$item_type_text = "<ItemType>$item_type</ItemType>";
						$item_type_tmp = true;
					}
				}
				if (!$item_type_tmp) {
					$itemTypeCategory = $this->getItemTypeCategoy($pid);
					if ($itemTypeCategory != '') {
						$item_type_text = "<ItemType>$itemTypeCategory</ItemType>";
					}
					else
					{
						$classification = $this->getClassification($pid);
						
						$dynamic_tags = "";
						
						if($classification != "")
						{
							if(strstr($classification, " OR ") || strstr($classification, " AND "))
							{
								// do something about it				
							}
							else 
							{
								list($tag, $class) = explode(":", $classification);
								$dynamic_tags = "<$tag>$class</$tag>";
							}
						}					
					}
					
				}
				$btg_categories_nodeid = "";
				$btg_categories_nodeid_text = "";
				$qaa = "SELECT btg_categories.nodeid FROM btg_categories,btg_categories_pid_map WHERE btg_categories_pid_map.pid='".$pid."' AND btg_categories_pid_map.btgcat=btg_categories.catid";
				if(!$qokaa = mysql_db_query($this->db, $qaa, $this->mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
				list($btg_categories_nodeid) = mysql_fetch_array($qokaa);
				if ($btg_categories_nodeid != '') {
					$btg_categories_nodeid_text = "<recommended_browse_nodes>$btg_categories_nodeid</recommended_browse_nodes>";
				}
				if ($btg_categories_nodeid_text == "") {
					$btg_categories_nodeid = $this->getBrowserNodeCategory($pid);
					if ($btg_categories_nodeid != '') {
						$btg_categories_nodeid_text = "<recommended_browse_nodes>$btg_categories_nodeid</recommended_browse_nodes>";
					}
				}
				
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$maxorder_cfid = $this->efc->getConfigValue("Amazon", "MaxOrderQty");
				$maxorder_text = "";
				if(intval($maxorder_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$maxorder_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($maxorder) = mysql_fetch_array($qok);
					
					$maxorder = trim($maxorder);
					
					if($maxorder != "")
						$maxorder_text = "<MaxOrderQuantity>$maxorder</MaxOrderQuantity>";
				}
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

				$presell_cfid = $this->efc->getConfigValue("Amazon", "presell");
				$presell_text = "";
				
				if(intval($presell_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$presell_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($presell) = mysql_fetch_array($qok);
					
					$presell = trim($presell);
					
					if($presell != "")
						$presell_text = "<ReleaseDate>".date("Y-m-d\TH:i:s\Z", strtotime($presell) )."</ReleaseDate>";
				}
				
				$query = "SELECT pid FROM list_products WHERE lid='168' AND pid='".$pid."'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				if(mysql_num_rows($qok)==0) {
					$brand_addon = "<Brand>$manname</Brand>";
					$manfacturer_addon = "<Manufacturer>$manname</Manufacturer>";
				}
				else {
					$brand_addon = "";
					$manfacturer_addon = "";
				}
				$sdescr = html_entity_decode($sdescr);
                                
                                $descr = str_ireplace("refurbished","",$descr);
                                $descr = str_ireplace("Refurb","",$descr);
                                $descr = str_ireplace("remanufactured","",$descr);
                                $descr = str_ireplace("ref "," ",$descr);
                                $descr = str_ireplace("reman "," ",$descr);
                                if(strtolower(substr($descr, -4)) == ' ref') {
                                    $descr = substr($descr,0, -4);
                                }
                                
                                
                                $sdescr = str_ireplace("refurbished","",$sdescr);
                                $sdescr = str_ireplace("Refurb","",$sdescr);
                                $sdescr = str_ireplace("remanufactured","",$sdescr);
                                $sdescr = str_ireplace("ref ","",$sdescr);
                                $sdescr = str_ireplace("reman ","",$sdescr);
                                if(strtolower(substr($sdescr, -4)) == ' ref') {
                                    $sdescr = substr($sdescr,0, -4);
                                }
                                
                                $bulletpoints = str_ireplace("refurbished","",$bulletpoints);
                                $bulletpoints = str_ireplace("Refurb","",$bulletpoints);
                                $bulletpoints = str_ireplace("remanufactured","",$bulletpoints);
                                $bulletpoints = str_ireplace("ref ","",$bulletpoints);
                                $bulletpoints = str_ireplace("reman ","",$bulletpoints);
                                if(strtolower(substr($bulletpoints, -4)) == ' ref') {
                                    $bulletpoints = substr($bulletpoints,0, -4);
                                }
                                
                                
                                $brand_addon = str_ireplace("refurbished","",$brand_addon);
                                $brand_addon = str_ireplace("Refurb","",$brand_addon);
                                $brand_addon = str_ireplace("remanufactured","",$brand_addon);
                                $brand_addon = str_ireplace("ref ","",$brand_addon);
                                $brand_addon = str_ireplace("reman ","",$brand_addon);
                                if(strtolower(substr($brand_addon, -4)) == ' ref') {
                                    $brand_addon = substr($brand_addon,0, -4);
                                }
                                
                                $manfacturer_addon = str_ireplace("refurbished","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("Refurb","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("remanufactured","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("ref ","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("reman ","",$manfacturer_addon);
                                if(strtolower(substr($manfacturer_addon, -4)) == ' ref') {
                                    $manfacturer_addon = substr($manfacturer_addon,0, -4);
                                }
                                
				$data .= "
				<Message>
					<MessageID>#mid#</MessageID>
						<OperationType>$updatetype</OperationType>
						<Product>
						<SKU>$pid</SKU>
						$identifier
						<ProductTaxCode>$taxcode</ProductTaxCode>
						<LaunchDate>2010-01-01T00:00:00</LaunchDate>
						$presell_text
						<Condition>
							<ConditionType>$condition</ConditionType>
							$condition_addon
						</Condition>
						<DescriptionData>
							<Title>$descr</Title>
							$brand_addon
							<Description><![CDATA[$sdescr]]></Description>
							<ShippingWeight unitOfMeasure=\"LB\">$shipweight</ShippingWeight>
							$msrp
							$maxorder_text
							$manfacturer_addon
							<MfrPartNumber>$manpart</MfrPartNumber>
							$search_terms
							$item_type_text
							$dynamic_tags
						</DescriptionData>
						$productData
						</Product>
				</Message>
				";
			}
		}
				
		return $data;
	}
	
	function AddProduct2($pid, $campid, $seller_sku, $useasin)
	{
		$condition_addon = "";
		$data = "";
		$msrp = "";
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		$asin = trim($asin);
		
		if(trim($am_condition) != '')
		{
			$condition = $am_condition;
		}
		else 
		{
			if(intval($refurb) == 1)
				$condition = "Refurbished";
			else 
				$condition = "New";
		}
			
		//$sdescr = $this->cleanse( $this->efc->getSalesDescr($pid) );

		if( strtoupper($this->efc->getConfigValue("Amazon", "FilterItems")) == "YES")
		{
			// if they're filtering make sure they have the filtering table
			$query = "CREATE TABLE if not exists `amazon_keywords`(`id` int(10) NOT NULL auto_increment,`keyword` varchar(255) NOT NULL, PRIMARY KEY  (`id`)) ENGINE=MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=latin1";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		
			if($this->filterItem($manname))
			{ 
				$msg = "ManName failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
			if($this->filterItem($descr)) // Title
			{ 
				$msg = "Title failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
			if($this->filterItem($this->efc->getSalesDescr($pid))) // sales description
			{
				$msg = "Sales Description failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
			if($this->filterItem($this->efc->getHTMLSpecs($pid))) // HTML Specs
			{
				$msg = "HTML Specs failed on filter: ".$this->filtered."";
				$this->lasterror = $msg;
				return ""; 
			}
			
		}
		
		//BulletPoints
		$numbullet = 0;
		
		/*$bulletpoints = "";
		$query = "select feature from product_features where feature != '' and id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		if(mysql_num_rows($q2ok)==0) {
			
			$feature = htmlentities( $this->cleanVar($feature) );
			$descr = preg_replace("/[^a-z A-Z0-9s+]/", "", $descr);
			$bulletpoints .= "<BulletPoint><![CDATA[$descr]]></BulletPoint>";
		}
		else {
			while(list($feature) = mysql_fetch_array($q2ok))
			{
				$numbullet++;
				
				if($numbullet < 6)
				{
					$feature = htmlentities( $this->cleanVar($feature) );
					$feature = preg_replace("/[^a-z A-Z0-9s+]/", "", $feature);
					$bulletpoints .= "<BulletPoint><![CDATA[$feature]]></BulletPoint>";
				}
			}
		}*/
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$search_terms = "";
		$query = "select kw1, kw2, kw3, kw4, kw5 from product_keywords where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($kw1, $kw2, $kw3, $kw4, $kw5) = mysql_fetch_array($q2ok);
		
		{
			
			$kw1 = htmlentities( $this->cleanVar(trim($kw1)) );
			$kw2 = htmlentities( $this->cleanVar(trim($kw2)) );
			$kw3 = htmlentities( $this->cleanVar(trim($kw3)) );
			$kw4 = htmlentities( $this->cleanVar(trim($kw4)) );
			$kw5 = htmlentities( $this->cleanVar(trim($kw5)) );
			
			if($kw1 != "") $search_terms .= "<SearchTerms>$kw1</SearchTerms>";
			if($kw2 != "") $search_terms .= "<SearchTerms>$kw2</SearchTerms>";
			if($kw3 != "") $search_terms .= "<SearchTerms>$kw3</SearchTerms>";
			if($kw4 != "") $search_terms .= "<SearchTerms>$kw4</SearchTerms>";
			if($kw5 != "") $search_terms .= "<SearchTerms>$kw5</SearchTerms>";

		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$query = "select price_msrp from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($price_msrp) = mysql_fetch_array($q2ok);
		
		if(floatval($price_msrp) > 0.00) $msrp = "<MSRP currency=\"USD\">$price_msrp</MSRP>";
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "select config_value from configuration where config_group = 'Amazon' and config_key = 'CONDITION_NOTE'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($cfid) = mysql_fetch_array($q2ok);
		
		echo "CFID: $cfid\n";
		
		if(intval($cfid) > 0)
		{
			$query = "select text_short from custom_values where pid = '$pid' and cfid = '$cfid'";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			list($condition_note) = mysql_fetch_array($q2ok);
			
			if($condition_note != "")
			{
				$condition_addon = "<ConditionNote>$condition_note</ConditionNote>";
				
				echo "$condition_addon\n";
			}
			else if($this->db == "supplyace")
			{
				$condition_addon = "<ConditionNote>  </ConditionNote>";
			}
		}
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$productData = $this->getProductData($pid, $campid);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) );
		
		$sdescr = $descr; // default to the title
		
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/*
		s0ck: OMG
		s0ck: kits always pull the product_html
		s0ck: non-kits use that config value
		s0ck: want me to change it?
		alancohen24: yah, make all skus use that config
		alancohen24: if checked
		alancohen24: but why aint the errors logging
		*/
		$iskit = intval($iskit);
		
		$cfid = $this->efc->getConfigValue("Amazon", "SalesDescr_CFID");
		if(intval($cfid) > 0) // if they've defined the custom field
		{
			$query1 = "select text_short from custom_values where cfid = '$cfid' and pid = '$pid'";
			if(!$q2ok1 = mysql_db_query($this->db, $query1, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
			list($senddescr) = mysql_fetch_array($q2ok1);
			
			$senddescr = intval($senddescr);
			
			if($senddescr == 1) // the custom field is checked
			{
				if($DB == 'rawfoodworld') {
                                    $query2 = "select data from product_descr_amz where id = '$pid'";
                                }
                                else {
                                    $query2 = "select data from product_descr where id = '$pid'";
                                }
				if(!$q2ok2 = mysql_db_query($this->db, $query2, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($sdescr) = mysql_fetch_array($q2ok2);
				$sdescr = $this->cleanse($sdescr);
				$sdescr = htmlentities($sdescr);
				
			}
			
			if( ($iskit=='1') && ($senddescr == 0) )
			{
				
				$query3 = "select data from product_html where id = '$pid'";
				if(!$q2ok3 = mysql_db_query($this->db, $query3, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($sdescr) = mysql_fetch_array($q2ok3);
				$sdescr = $this->cleanse($sdescr);
				$sdescr = htmlentities($sdescr);
				
			}
			
		}
		if($this->db =='valuenetpc') {
                    
                    $query2 = "select data from product_descr where id = '$pid'";
                    if(!$q2ok2 = mysql_db_query($this->db, $query2, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
                    list($sdescr) = mysql_fetch_array($q2ok2);
                    $sdescr = $this->cleanse($sdescr);
                    $sdescr = htmlentities($sdescr);
                    if($sdescr == '') {
                        $query3 = "select data from product_html where id = '$pid'";
                        if(!$q2ok3 = mysql_db_query($this->db, $query3, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
                        list($sdescr) = mysql_fetch_array($q2ok3);
                        $sdescr = $this->cleanse($sdescr);
                        $sdescr = htmlentities($sdescr);
                    }
                }
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
		if($productData == "") // as a business rule..... productdata must be provided
		{
			return "";
		}
		else
		{
			if($productData == "SEND_BLANK")
				$productData = "";
			
			$numlistings = 1; // default to 1
			
			if( strtoupper($this->efc->getConfigValue("Amazon", "SCRUB_LISTINGS")) == "YES")
			{
				$numlistings = $this->countListings4UPC($upccode, $pid, $manname, $manpart, $descr, $campid, $asin);
				
				if($numlistings == 1)
				{
					if($this->asin != "")
					{
						$asin = $this->asin; 
						$use_asin = 1;
						
						echo "--------------------   Perfect Match from Amazon --------------------------\n";
					}
				}
						
						
			}
					
			echo "HEY-YO!  Using ASIN from amazon_base_messages\n";
				
			$identifier = "<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>";
			$numlistings = 1; // there's only 1 ASIN
			
			
			
			// override for Eli....
			$uniquesku_cfid = $this->efc->getConfigValue("Amazon", "UniqueSKU_CFID");
			if( intval($uniquesku_cfid) > 0 )
			{
				$query = "select text_short from custom_values where pid = '$pid' and cfid = '$uniquesku_cfid'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($text_short) = mysql_fetch_array($qok);
				
				if(intval($text_short) == 1)
				{
					$identifier = "<StandardProductID><Type>UPC</Type><Value>".$upccode."</Value></StandardProductID>";
				}
				
			}
				
			if(intval($numlistings) > 1)
			{
				echo "Multiple Matches\n";
			}
			else 
			{
				//if(strlen($descr) > 40)
				//	$descr = substr($descr, 0, 40);
					
				/*$newpid = $this->translatePID($pid);
				
				if(intval($newpid) > 0)
				{
					$pid = $newpid;
				}*/
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if($this->db == "sndkids")
				{
					$query = "select text_short from custom_values where pid = '$pid' and cfid = '37'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($taxcode) = mysql_fetch_array($qok);					
				}
				
				if(trim($taxcode) == "")
					$taxcode = "A_GEN_TAX";
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$query = "select count(*) from amazon_base_messages where pid = '$pid' and asin != ''";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				list($alreadylisted) = mysql_fetch_array($qok);
				
				$updatetype = "Update";					
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				/*$item_type_cfid = $this->efc->getConfigValue("Amazon", "ItemType");
				$item_type_text = "";
				if(intval($item_type_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$item_type_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($item_type) = mysql_fetch_array($qok);
					
					$item_type = trim($item_type);
					
					if($item_type != "")
						$item_type_text = "<ItemType>$item_type</ItemType>";
				}
				else
				{
					$classification = $this->getClassification($pid);
					
					$dynamic_tags = "";
					
					if($classification != "")
					{
						if(strstr($classification, " OR ") || strstr($classification, " AND "))
						{
							// do something about it				
						}
						else 
						{
							list($tag, $class) = explode(":", $classification);
							$dynamic_tags = "<$tag>$class</$tag>";
						}
					}					
				}*/
				$item_type_tmp = false;
				$item_type_cfid = $this->efc->getConfigValue("Amazon", "ItemType");
				$item_type_text = "";
				if(intval($item_type_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$item_type_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
					list($item_type) = mysql_fetch_array($qok);
					
					$item_type = trim($item_type);
					
					if($item_type != "") {
						$item_type_text = "<ItemType>$item_type</ItemType>";
						$item_type_tmp = true;
					}
				}
				if (!$item_type_tmp) {
					$itemTypeCategory = $this->getItemTypeCategoy($pid);
					if ($itemTypeCategory != '') {
						$item_type_text = "<ItemType>$itemTypeCategory</ItemType>";
					}
					else
					{
						$classification = $this->getClassification($pid);
						
						$dynamic_tags = "";
						
						if($classification != "")
						{
							if(strstr($classification, " OR ") || strstr($classification, " AND "))
							{
								// do something about it				
							}
							else 
							{
								list($tag, $class) = explode(":", $classification);
								$dynamic_tags = "<$tag>$class</$tag>";
							}
						}					
					}
					
				}
				$btg_categories_nodeid = "";
				$btg_categories_nodeid_text = "";
				$qaa = "SELECT btg_categories.nodeid FROM btg_categories,btg_categories_pid_map WHERE btg_categories_pid_map.pid='".$pid."' AND btg_categories_pid_map.btgcat=btg_categories.catid";
				if(!$qokaa = mysql_db_query($this->db, $qaa, $this->mysqlid)){ echo "Whoops!  Internal Error"; exit;  }
				list($btg_categories_nodeid) = mysql_fetch_array($qokaa);
				if ($btg_categories_nodeid != '') {
					$btg_categories_nodeid_text = "<recommended_browse_nodes>$btg_categories_nodeid</recommended_browse_nodes>";
				}
				if ($btg_categories_nodeid_text == "") {
					$btg_categories_nodeid = $this->getBrowserNodeCategory($pid);
					if ($btg_categories_nodeid != '') {
						$btg_categories_nodeid_text = "<recommended_browse_nodes>$btg_categories_nodeid</recommended_browse_nodes>";
					}
				}
				
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$maxorder_cfid = $this->efc->getConfigValue("Amazon", "MaxOrderQty");
				$maxorder_text = "";
				if(intval($maxorder_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$maxorder_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($maxorder) = mysql_fetch_array($qok);
					
					$maxorder = trim($maxorder);
					
					if($maxorder != "")
						$maxorder_text = "<MaxOrderQuantity>$maxorder</MaxOrderQuantity>";
				}
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

				$presell_cfid = $this->efc->getConfigValue("Amazon", "presell");
				$presell_text = "";
				
				if(intval($presell_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$presell_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
					list($presell) = mysql_fetch_array($qok);
					
					$presell = trim($presell);
					
					if($presell != "")
						$presell_text = "<ReleaseDate>".date("Y-m-d\TH:i:s\Z", strtotime($presell) )."</ReleaseDate>";
				}
				
				$query = "SELECT pid FROM list_products WHERE lid='168' AND pid='".$pid."'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				if(mysql_num_rows($qok)==0) {
					$brand_addon = "<Brand>$manname</Brand>";
					$manfacturer_addon = "<Manufacturer>$manname</Manufacturer>";
				}
				else {
					$brand_addon = "";
					$manfacturer_addon = "";
				}
				$sdescr = html_entity_decode($sdescr);
                                
                                $descr = str_ireplace("refurbished","",$descr);
                                $descr = str_ireplace("Refurb","",$descr);
                                $descr = str_ireplace("remanufactured","",$descr);
                                $descr = str_ireplace("ref "," ",$descr);
                                $descr = str_ireplace("reman "," ",$descr);
                                if(strtolower(substr($descr, -4)) == ' ref') {
                                    $descr = substr($descr,0, -4);
                                }
                                
                                
                                $sdescr = str_ireplace("refurbished","",$sdescr);
                                $sdescr = str_ireplace("Refurb","",$sdescr);
                                $sdescr = str_ireplace("remanufactured","",$sdescr);
                                $sdescr = str_ireplace("ref ","",$sdescr);
                                $sdescr = str_ireplace("reman ","",$sdescr);
                                if(strtolower(substr($sdescr, -4)) == ' ref') {
                                    $sdescr = substr($sdescr,0, -4);
                                }
                                
                                $bulletpoints = str_ireplace("refurbished","",$bulletpoints);
                                $bulletpoints = str_ireplace("Refurb","",$bulletpoints);
                                $bulletpoints = str_ireplace("remanufactured","",$bulletpoints);
                                $bulletpoints = str_ireplace("ref ","",$bulletpoints);
                                $bulletpoints = str_ireplace("reman ","",$bulletpoints);
                                if(strtolower(substr($bulletpoints, -4)) == ' ref') {
                                    $bulletpoints = substr($bulletpoints,0, -4);
                                }
                                
                                
                                $brand_addon = str_ireplace("refurbished","",$brand_addon);
                                $brand_addon = str_ireplace("Refurb","",$brand_addon);
                                $brand_addon = str_ireplace("remanufactured","",$brand_addon);
                                $brand_addon = str_ireplace("ref ","",$brand_addon);
                                $brand_addon = str_ireplace("reman ","",$brand_addon);
                                if(strtolower(substr($brand_addon, -4)) == ' ref') {
                                    $brand_addon = substr($brand_addon,0, -4);
                                }
                                
                                $manfacturer_addon = str_ireplace("refurbished","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("Refurb","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("remanufactured","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("ref ","",$manfacturer_addon);
                                $manfacturer_addon = str_ireplace("reman ","",$manfacturer_addon);
                                if(strtolower(substr($manfacturer_addon, -4)) == ' ref') {
                                    $manfacturer_addon = substr($manfacturer_addon,0, -4);
                                }
                
                $sdescr = preg_replace("/[^a-z A-Z0-9s+]/", "", $sdescr);
                                
				$data .= "
				<Message>
					<MessageID>#mid#</MessageID>
						<OperationType>$updatetype</OperationType>
						<Product>
						<SKU>$seller_sku</SKU>
						$identifier
						<ProductTaxCode>$taxcode</ProductTaxCode>
						<LaunchDate>2010-01-01T00:00:00</LaunchDate>
						$presell_text
						<Condition>
							<ConditionType>$condition</ConditionType>
							$condition_addon
						</Condition>
						<DescriptionData>
							<Title>$descr</Title>
							$brand_addon
							<Description><![CDATA[$sdescr]]></Description>
							$bulletpoints
							<ShippingWeight unitOfMeasure=\"LB\">$shipweight</ShippingWeight>
							$msrp
							$maxorder_text
							$manfacturer_addon
							<MfrPartNumber>$manpart</MfrPartNumber>
							$search_terms
							$item_type_text
							$dynamic_tags
						</DescriptionData>
						$productData
						</Product>
				</Message>
				";
			}
		}
				
		return $data;
	}	
	
	function translatePID($pid)
	{
		$query = "select pid from fba_sku_map where fba_sku = '$pid'";	
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		if(mysql_num_rows($qok) > 0)
		{
			list($pid) = mysql_fetch_array($qok);
			return $pid;
		}
		
		// no translation table.....
		$query = "select id from product_list where id = '$pid'";	
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		if(mysql_num_rows($qok) > 0)
		{
			list($pid) = mysql_fetch_array($qok);
			return $pid;
		}
		
		return 0;
	}

	function RemoveProduct($pid, $asin)
	{
		if($asin == "")
			return;
			
		/*$condition_addon = "";
		$data = "";
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart
					from product_list, product_manufacturers, list_products
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart) = mysql_fetch_array($q2ok);
		
		if(intval($refurb) == 1)
			$condition = "Refurbished";
		else 
			$condition = "New";
		
		$sdescr = $descr;
		
		if(floatval($shipweight) <= 0.00)
			$shipweight =  "1.00";	
		
		$data = "
			<Message>
				<MessageID>#mid#</MessageID>
					<OperationType>Delete</OperationType>
					<Product>
					<SKU>$pid</SKU>
					<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>
					<ProductTaxCode>A_GEN_TAX</ProductTaxCode>
					<LaunchDate>2010-01-01T00:00:00</LaunchDate>
					<Condition>
						<ConditionType>$condition</ConditionType>
						$condition_addon
					</Condition>
					<DescriptionData>
						<Title>$descr</Title>
						<Brand>$manname</Brand>
						<Description>$sdescr</Description>
						<ShippingWeight unitOfMeasure=\"LB\">$shipweight</ShippingWeight>
						<Manufacturer>$manname</Manufacturer>
						<MfrPartNumber>$manpart</MfrPartNumber>
					</DescriptionData>
					</Product>
			</Message>
			";	*/
		
		$data = "
			<Message>
				<MessageID>#mid#</MessageID>
					<OperationType>Delete</OperationType>
					<Product>
					<SKU>$pid</SKU>
					<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>
					</Product>
			</Message>
			";	
		
		return $data;	
	}
	
	function countListings4UPC($upccode, $pid, $mybrand, $mymanpart, $mydescr, $campid, $asin)
	{
		$modifiedUPC = false;

		if($upccode == "9999999999999") $upccode = "";
		
		$query = "select did from amazon_duplicates where pid = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		if(mysql_num_rows($q2ok) > 0)
		{
			echo "already a duplicate\n";
			return 10;	
		}
		
		$public_key = $this->efc->getConfigValue("Amazon", "PUBLIC_KEY");
		$private_key = $this->efc->getConfigValue("Amazon", "PRIVATE_KEY");
		$associateID = $this->efc->getConfigValue("Amazon", "ASSOCIATEID");

		if($asin != "")
		{
			echo "UPC Search...\n";
			$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"ASIN","ItemId"=>"$asin","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
			
			$error_tag = "ItemLookupErrorResponse";
			$response_tag = "ItemLookupResponse";
		}
		else
		{
			if(strlen($upccode) == 11)	
			{
				$upccode = "0$upccode";
			}
			
			if(strlen($upccode) == 13)
			{
				echo "EAN Search...[$upccode]\n";
				$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"EAN","ItemId"=>"$upccode","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
					
				$error_tag = "ItemLookupErrorResponse";
				$response_tag = "ItemLookupResponse";
			}
			else if(strlen($upccode) == 12)
			{ 	
				echo "UPC Search...[$upccode]\n";
				$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"UPC","ItemId"=>"$upccode","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
				
				$error_tag = "ItemLookupErrorResponse";
				$response_tag = "ItemLookupResponse";
			}
			else
			{
				echo "Keyword Search [$mybrand $mymanpart]\n";
				$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemSearch","AssociateTag"=>$associateID,"Keywords"=>"$mybrand $mymanpart","SearchIndex"=>"Blended","ResponseGroup"=>"Large"), $public_key, $private_key);
				
				$error_tag = "ItemSearchErrorResponse";
				$response_tag = "ItemSearchResponse";
			
			}		
		}		
		
		ob_start();
			$buffer = $this->efc->loadPage($asinURL, "http://www.amazon.com");
			$xmldata = $this->xml2array($buffer);
		ob_get_clean();
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////
		while($xmldata[$error_tag]['Error']['Code']['value'] == "RequestThrottled")
		{
			echo "..................................................................................\n";
			echo "... Throttled Sleeping for 5\n";
			echo "..................................................................................\n";
			sleep(5);
			
			if($asin != "")
			{
				echo "UPC Search...\n";
				$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"ASIN","ItemId"=>"$asin","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
				
				$error_tag = "ItemLookupErrorResponse";
				$response_tag = "ItemLookupResponse";
			}
			else
			{
				if(strlen($upccode) == 11)	
				{
					$upccode = "0$upccode";
				}
				
				if(strlen($upccode) == 13)
				{
					echo "EAN Search...[$upccode]\n";
					$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"EAN","ItemId"=>"$upccode","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
						
					$error_tag = "ItemLookupErrorResponse";
					$response_tag = "ItemLookupResponse";
				}
				else if(strlen($upccode) == 12)
				{ 	
					echo "UPC Search...[$upccode]\n";
					$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"UPC","ItemId"=>"$upccode","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
					
					$error_tag = "ItemLookupErrorResponse";
					$response_tag = "ItemLookupResponse";
				}
				else
				{
					echo "Keyword Search [$mybrand $mymanpart]\n";
					$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemSearch","AssociateTag"=>$associateID,"Keywords"=>"$mybrand $mymanpart","SearchIndex"=>"Blended","ResponseGroup"=>"Large"), $public_key, $private_key);
					
					$error_tag = "ItemSearchErrorResponse";
					$response_tag = "ItemSearchResponse";
				
				}		
			}		
			
			ob_start();
				$buffer = $this->efc->loadPage($asinURL, "http://www.amazon.com");
				$xmldata = $this->xml2array($buffer);
			ob_get_clean();			
		}
		
		////////////////////////////////////////////////////////////////////////////////////
		$errorcode = $xmldata[$error_tag]['Error']['Code']['value'];
		$errormess = $xmldata[$error_tag]['Error']['Message']['value'];
		
		if($errorcode == "AccountLimitExceeded")
		{
			echo "ERROR => [$errorcode] $errormess\n";
			echo "ABORT\n";
			return 999;

		}
		////////////////////////////////////////////////////////////////////////////////////
		
		$totalresults = $xmldata[$response_tag]['Items']['TotalResults']['value'];
		$totalpages = $xmldata[$response_tag]['Items']['TotalPages']['value'];
		
		$itemlist = $xmldata[$response_tag]['Items']['Item'];
		
		if(@$itemlist[0]['ASIN']['value'] == "")
		{
			$asin = @$itemlist['ASIN']['value'];
			$salesrank = @$itemlist['SalesRank']['value'];
			$imageURL = @$itemlist['SmallImage']['URL']['value'];
			$brand = @$itemlist['ItemAttributes']['Brand']['value'];
			$ean = @$itemlist['ItemAttributes']['EAN']['value'];
			$title = @$itemlist['ItemAttributes']['Title']['value'];
			$upc = @$itemlist['ItemAttributes']['UPC']['value'];
			$featurelist = @$itemlist['ItemAttributes']['Feature'];
			$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
			$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
			$manpart = $itemlist['ItemAttributes']['MPN']['value'];
			
			if($asin == "")
			{
				echo "... single match but, blank ASIN from Amazon (aborting)\n";
				
				print_r($xmldata);
				
				$this->asin = "";
				if(strtoupper($this->efc->getConfigValue("Amazon", "LIST_ON_NO_MATCH")) == "NO")
				{
					echo "... LIST_ON_NO_MATCH = NO\n";
					return 100;
				}
				else
				{
					
					echo "... LIST_ON_NO_MATCH = YES\n"; 
					return 1;
				}
			}
			
			echo "Checking Brand: '$brand' versus '$mybrand'\n";
			
			if( strtolower( substr(trim($brand), 0, 3) ) != strtolower( substr(trim($mybrand), 0, 3) ) )
			{
				echo "... Brands do not match...  Checking map\n";
				$brand_found = FALSE;
				
				$query = "select mannameB from brand_mapper where mannameA = '".addslashes(trim($mybrand))."'";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
				while(list($mybrandB) = mysql_fetch_array($q2ok))
				{
					echo "Checking _ALTERNATE_ Brand: '$brand' versus '$mybrandB'\n";
					
					if( strtolower( substr(trim($brand), 0, 3) ) != strtolower( substr(trim($mybrandB), 0, 3) ) )
					{
						echo "... failed\n";
					}
					else
					{
						echo "!! ALT MATCH BRAND !!\n";
						$brand_found = TRUE;
						break;
					}
				}
				
				if(!$brand_found) 
				{
					echo "Brand Failure.....\n";
					return 101;
				}
			}
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			$title = trim($title);
			$mydescr = trim($mydescr);
			
			
			$aparts = explode(" ", $title);
			$tparts = explode(" ", $mydescr);
			
			echo "Checking Title: '$title' versus '$mydescr'\n";
			
			$totalparts = count($aparts);
			$matchedparts = 0;
			
			for($xx = 0; $xx < count($tparts); $xx++)
			{
				for($zz = 0; $zz < count($aparts); $zz++)
				{
					if( strtolower($aparts[$zz]) == strtolower($tparts[$xx]) )
					{
						$matchedparts++;
					}
				}
			}

			$matchpercentage = number_format(100 *($matchedparts / $totalparts), 2, ".", "");
			
			echo "... Title match Percentage: $matchpercentage\n";
			
			if(floatval($matchpercentage) < 5.00)
			{
				echo "...... Title match Percentage below 5%.... Let's check the manpart\n";
				
				
				$mymanpart = strtoupper(preg_replace("/[^a-zA-Z0-9s+]/", "", $mymanpart));
				$manpart = strtoupper(preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart));
				if($manpart != "")
				{
					echo "Checking Manpart: '$manpart' versus '$mymanpart'\n";
					
					if($mymanpart != $manpart)
					{
						echo "... Title match percentage below 5%, let's check manparts => '$manpart' versus '$mymanpart'\n";
						
						//$errormsg = "PID Skipped, title match < 5%, Manufacturer Parts do not match AMZ: '$manpart' OUR: '$mymanpart' [$asin]";
						
						return 102;
					}
				}
				else 
				{
					///$errormsg = "PID Skipped, Title match Percentage below 5%: AMZ: '$title' OUR: '$mydescr' ";
				}
				
				
				return 103;
			}
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// CHECK PRICE
			$query = "select refurb from product_list where id = '$pid'";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
			list($refurb) = mysql_fetch_array($q2ok);
			
			$ps = array();
			$this->getPricing($efc, $asin, $ps, $refurb);
	
			array_multisort($ps['shipprice'], SORT_NUMERIC , SORT_ASC, 
				$ps['mid'], $ps['name'], $ps['condition'], $ps['condition_note'], 
				$ps['price'], $ps['availability'], $ps['supersaver'],
				$ps['quantity'], $ps['rating'], $ps['numreviews'], $ps['offerlistingid'],
				$ps['shipping'], $ps['shipprice']);
				
			$amz_price = $ps['shipprice'][0]; // lowest price on amz
			
			$price_level = $this->efc->getConfigValue("Amazon", "PRICE_LEVEL");
			if(intval($price_level) == 0) $price_level = 1;
			
			$query = "select price_level$price_level from product_prices where id = '$pid'";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
			list($e2_price) = mysql_fetch_array($q2ok);

			$lpd = $this->efc->getConfigValue("Amazon", "SCRUB_LISTINGS_LPD");
			
			$diff = number_format( abs( 100 * ($amz_price - $e2_price) / $e2_price ), 2, ".", "");
			$ddiff = number_format( abs( $amz_price - $e2_price ), 2, ".", "");
			
			echo "PID: $pid ASIN: $asin DIFF: $diff% PDIF: $ddiff AMZ_PRICE: $amz_price E2_PRICE: $e2_price\n"; // BRAND: $brand MANPART: $manpart eBRAND: $e_manname eMANPART: $e_manpart

			if(floatval($amz_price) <= 0.00)
			{
				echo "----------------  BEGIN FINAL RESULTS -----------------\n";
				print_r($ps);
				echo "-----------------  END FINAL RESULTS -----------------\n";		
				return 105;
			}
			
			
			if($diff <= $lpd)
			{
				$list++;
				echo "... DIFF <= 35\n";
				
				//$query = "insert into ss_list(pid) values('$pid')";
				//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error();exit;  }
			}
			else if($diff == 100)
			{
				$noprice++;
				echo "... NOPRICE\n";
				
				$query = "select listid from amazon_campaign_lists where campid = '$campid'";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
				while(list($listid)= mysql_fetch_array($q2ok))
				{
					$query = "delete from list_products where lid = '$listid' and pid = '$pid'";
					if(!$q3ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
				}

				// no other sellers list
				$nos = $this->efc->getConfigValue("Amazon", "SCRUB_LISTINGS_NOS");
				
				$query = "insert into list_products(lid, pid) values('$nos', '$pid')";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
				
				return 110;
			}
			else
			{
				$pricediff++;
				echo "... PRICEDIFF\n";
				//$query = "insert into ss_diff(pid) values('$pid')";
				//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error();exit;  }
				
				$query = "select listid from amazon_campaign_lists where campid = '$campid'";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
				while(list($listid)= mysql_fetch_array($q2ok))
				{
					$query = "delete from list_products where lid = '$listid' and pid = '$pid'";
					if(!$q3ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
				}

				// no other sellers list
				$pdl = $this->efc->getConfigValue("Amazon", "SCRUB_LISTINGS_PD");
				
				$query = "insert into list_products(lid, pid) values('$pdl', '$pid')";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ echo mysql_error();exit;  }
				
				return 111;				
			}
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			$this->asin = $asin;
			
			return 1;
		}
		else 
		{
			echo "... multiple matches from amazon\n";
			return count($itemlist);
		}
	}
	
	function getPricing($efc, $asin, &$ps, $refurb = 0)
	{
		$publickey  = $this->efc->getConfigValue("Amazon", "PUBLIC_KEY");
		$privatekey = $this->efc->getConfigValue("Amazon", "PRIVATE_KEY");
		$associateid= $this->efc->getConfigValue("Amazon", "ASSOCIATEID");
		
		$ps = array();
						
		$onpage = 1;
						
		// see how many pages we gotta parse				
		$baseURL = "Service=AWSECommerceService&AWSAccessKeyId=$publickey&AssociateTag=$associateid";
		$baseURL .= "&Version=2009-03-31&Operation=ItemLookup&ItemId=$asin&MerchantId=Featured&ResponseGroup=OfferFull,Small&OfferPage=1";
		$baseHOST = "webservices.amazon.com";
		
		$baseURL = 	$this->sigAlt($baseURL,$baseHOST, $privatekey);
		$baseURL = "http://" . $baseHOST . $baseURL;

		$buffer = $this->efc->loadPage($baseURL, "http://www.amazon.com");

		$xmldata = $this->doxml2array($buffer, 1);
		$totalnew = $xmldata['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalNew']['value'];
		$totalrefurb = $xmldata['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalRefurbished']['value'];
		
		$error = $xmldata['ItemLookupResponse']['Items']['Request']['Errors']['Error']['Message']['value'];
		$othererror = $xmldata['ItemLookupResponse']['Items']['Request']['ItemLookupRequest']['MerchantId']['value'];
		
		if(trim($error) == "This item is not accessible through the Product Advertising API.")
		{
			echo "ERROR => $error\n\n";
			return;
		}
		
		$retries = 0;
		
		if(intval($refurb) == 0)	
		{
			$totalitems = $totalnew;
			$condition = "new";
		}
		else
		{
			$totalitems = $totalrefurb;
			$condition = "refurbished";
		}
			
		if(($othererror == "Deprecated") && ($totalitems == 0))
		{
			echo "OTHERERROR: $othererror\n";		
			$totalitems = 15;			
		}
		
		echo "===============> TOTAL ITEMS: $totalitems\n";
					
		for($xx = 0; $xx < $totalitems; $xx += 15)
		{
			while(1)
			{
				$baseURL = "http://www.amazon.com/gp/offer-listing/$asin/ref=olp_seeall_fm?ie=UTF8&shipPromoFilter=0&startIndex=$xx&sort=sip&me=&condition=$condition";
				$buffer = $this->efc->loadPage($baseURL, "http://www.amazon.com");
				
				echo "ZZZZZZZZZZZZZZZZzzzzzzzzzzzzz\n";
				
				sleep(3);
				
				if($retries >= 10)
				{
					echo "///////////////////// Max retries attempted \\\\\\\\\\\\\\\\\\\\\\\\\ \n";							
				}
	
				if(stristr($buffer, "500 Service Unavailable Error"))
				{
					$retries++;
					echo "&&&&&&&&&&&&&&&&&&&&& Amazon Service Unavailable Error &&&&&&&&&&&&&&&&&&&&&\n";
					sleep(15);							
				}
				else
				{
					break;								
				}
								
			}
			
			$this->parseAmazonPrices(&$ps, $buffer);
		}
				
		for($xx = 0; $xx < count($ps['mid']); $xx++)
		{
			if(floatval($ps['price'][$xx]) <= 0)
			{
				$offerlistingid = $ps['offerlistingid'][$xx];
							
				$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$publickey&AssociateTag=$associateid&Operation=CartCreate&Item.1.Quantity=1&Item.1.OfferListingId=$offerlistingid";
				$baseHOST = "ecs.amazonaws.com";
				$asinURL = $this->sigAlt($asinURL,$baseHOST, $privatekey);
				$asinURL = "http://" . $baseHOST . $asinURL;		
															
				$buffer = $this->efc->loadPage($asinURL, "http://www.amazon.com");
							
				$xmldata = $this->doxml2array($buffer, 1);
				$price = $xmldata['CartCreateResponse']['Cart']['CartItems']['SubTotal']['Amount']['value'] / 100;

				$ps['price'][$xx] = $price;						
			}
		}
					
					
		echo "--------------------------------------------------------------------------------\n";
		echo "Scraping for shipping\n";
		echo "--------------------------------------------------------------------------------\n";
					
		for($xx = 0; $xx < $totalitems; $xx += 15)
		{
			if($xx == 0)
				$baseURL = "http://www.amazon.com/gp/offer-listing/$asin/ref=olp_seeall_fm?ie=UTF8&shipPromoFilter=0&startIndex=0&sort=sip&me=&condition=$condition";
			else
				$baseURL = "http://www.amazon.com/gp/offer-listing/$asin/ref=olp_page_next?ie=UTF8&shipPromoFilter=0&startIndex=$xx&sort=sip&me=&condition=$condition";
				
			$buffer = $this->efc->loadPage($baseURL, "http://www.amazon.com");			
						
			$hitb = $hita = 1;
					
			while($hitb)
			{
				echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n";
				
				$hita = strpos($buffer, "<tbody class=\"result\">", $hitb); // 22
							
				if($hita)
				{
					$hitb = strpos($buffer, "class=\"readytobuy\"", $hita + 22); // 18
					$section = substr($buffer, $hita + 22, $hitb - $hita - 22);
							
					$sA = strpos($section, "seller=");
					$sB = strpos($section, "\"", $sA + 7);
								
					$mid = substr($section, $sA + 7, $sB - $sA - 7);
								
					$shipA = strpos($section, "<span class=\"price_shipping\">");
					$shipB = strpos($section, "</span>", $shipA + 29);
						
					if($shipA)
					{
						$shipping = substr($section, $shipA + 29, $shipB - $shipA - 29);
						$shipping = str_replace(",", "", $shipping);
						$shipping = str_replace(" ", "", $shipping);
						$shipping = str_replace("+", "", $shipping);
						$shipping = str_replace("$", "", $shipping);
							
						echo "SHIPPING: $shipping\n";
						
						for($oo = 0; $oo < count(@$ps['mid']); $oo++)
						{
							if(strtoupper(@$ps['mid'][$oo]) == strtoupper($mid))
							{
								@$ps['shipping'][$oo] = $shipping;
							}
						}
					}
					else 
					{
						for($oo = 0; $oo < count(@$ps['mid']); $oo++)
						{
							if(strtoupper(@$ps['mid'][$oo]) == strtoupper($mid))
							{
								@$ps['shipping'][$oo] = 0.00;
							}
						}
						echo "SHIPPING: 0.00\n";
					}
								
					//echo "<HR NOSHADE>";
				}
				else 
				{
					$hitb = false;
				}
							
							
			}
		}
			
/*		echo "----------------  BEGIN FINAL RESULTS -----------------\n";
		print_r($ps);
		echo "-----------------  END FINAL RESULTS -----------------\n";		
*/		
	}	
	
	function parseAmazonPrices(&$ps, $buffer)
	{
		$hitc = 0;
		
		while(1)
		{
			$hita = strpos($buffer, "<tbody class=\"result\">", $hitc); //22
			$hitb = strpos($buffer, "to turn on 1-Click ordering", $hita + 22); //32
			$hitc = $hitb;
			if($hita <= 0 || $hitb <= 0)
			{
				echo "HITA AND HITB FAILED\n";
				return;
			}
			/////////////////////////////////////////////////////////////////////////////
			
			$segment = substr($buffer, $hita + 22, $hitb - $hita - 22);
			
			//echo "SEGMENT: $segment\n<BR>";
	
			$hita = strpos($segment, "<span class=\"price\">"); //20
			$hitb = strpos($segment, "</span>", $hita + 20);
			$price = substr($segment, $hita + 20, $hitb - $hita - 20);
			$price = preg_replace("/[^a-zA-Z0-9s.]/", "", trim($price));
			$price = str_replace(",", "", $price);
			$price = floatval(str_replace("$", "", $price));
			
			$hita = strpos($segment, "<span class=\"price_shipping\">"); //29
			$hitb = strpos($segment, "</span>", $hita + 29);
			$shipping = substr($segment, $hita + 29, $hitb - $hita - 29);
			$shipping = preg_replace("/[^a-zA-Z0-9s.]/", "", trim($shipping));
			$shipping = str_replace(",", "", $shipping);
			$shipping = floatval(str_replace("$", "", $shipping));
			
			$hita = strpos($segment, "alt=\""); //5
			$hitb = strpos($segment, "\"", $hita + 5);
			$merchant = substr($segment, $hita + 5, $hitb - $hita - 5);
	
			if($merchant == "Amazon Prime TM")
			{
				$hita = strpos($segment, "alt=\"", $hitb + 5); //5
				$hitb = strpos($segment, "\"", $hita + 5);
				$merchant = substr($segment, $hita + 5, $hitb - $hita - 5);
			}
			
			$hita = strpos($segment, "seller="); //7
			$hitb = strpos($segment, "\"", $hita + 7);
			$mid = substr($segment, $hita + 7, $hitb - $hita - 7);
	
			if($merchant == "")
			{
				$target = "$mid\"><b>";
				$tsize = strlen($target);
				
				$hita = strpos($segment, $target);
				$hitb = strpos($segment, "<", $hita + $tsize);
				
				$merchant = substr($segment, $hita + $tsize, $hitb - $hita - $tsize);
				
			}
			
			$hita = strpos($segment, "<div class=\"comments\">"); // 22
			$hitb = strpos($segment, "</div>", $hita + 22);
			
			if($hita <= 0 || $hitb <= 0)
			{
				$shipnote = "";
			}
			else 
			{
				$shipnote = substr($segment, $hita + 22, $hitb - $hita - 22);
				$shipnote = str_replace("&nbsp;", "", $shipnote);
				$shipnote = trim(strip_tags($shipnote));
			}
			
			$hita = strpos($segment, "&#37;"); // 5
			for($xx = $hita; $xx > 0; $xx--){if($segment[$xx] == ">"){$hita = $xx;break;}}
			$hitb = strpos($segment, "<", $hita + 1);
			$pricenote = substr($segment, $hita + 1, $hitb - $hita - 1);
	
			$hita = strpos($segment, "<div class=\"condition\">"); // 23
			$hitb = strpos($segment, "</div>", $hita + 23);
			$condition = substr($segment, $hita + 23, $hitb - $hita - 23);
			
			if(stristr($segment, "Super Saver Shipping"))
				$supersaver = 1;
			else 
				$supersaver = 0;
			
			$hita = strpos($segment, "SellerRating");
			$hita = strpos($segment, "<b>", $hita + 12);
			$hitb = strpos($segment, "</b>", $hita + 3);
			$rating = substr($segment, $hita + 3, $hitb - $hita - 3);
			
			if(stristr($rating, "positive"))
			{
				$hita = strpos($segment, "(", $hitb);
				$hitb = strpos($segment, ")", $hita + 1);
				$numreviews = substr($segment, $hita + 1, $hitb - $hita - 1);
			}
			else 
			{
				$rating = "";
				$numreviews = "";
			}
			
			$hita = strpos($segment, "offeringID.1");
			$hita = strpos($segment, "value=\"", $hita + 12);  //7
			$hitb = strpos($segment, "\"", $hita + 7);
			$offerlistingid = substr($segment, $hita + 7, $hitb - $hita - 7);
			
			/*echo "\n";	
			echo "MERCHANT: $merchant\n";
			echo "MID: $mid\n";
			echo "PRICE: $price\n";
			echo "SHIPPING: $shipping\n";
			echo "SUPERSAVER: $supersaver\n";
			echo "RATING: $rating\n";
			echo "NUMREVIEWS: $numreviews\n";
			echo "OFFERLISTINGID: $offerlistingid\n";
			echo "------------------------------------------------------------------------";*/
			
			
			$shipprice = floatval($shipping) + floatval($price);
			
			if(floatval($shipprice) <= 0)
			{
				echo "Skipping $merchant because price <= 0\n";
			}
			else
			{
				$ps['mid'][] = $mid;
				$ps['name'][] = $merchant;
				$ps['condition'][] = $condition;
				$ps['condition_note'][] = "";
				$ps['price'][] = $price;
				$ps['availability'][] = "";
				$ps['supersaver'][] = $supersaver;
				$ps['quantity'][] = "";
				$ps['rating'][] = $rating;
				$ps['numreviews'][] = $numreviews;
				$ps['offerlistingid'][] = $offerlistingid;
				$ps['shipping'][] = $shipping;
				$ps['shipprice'][] = $shipprice;
			}
		}
		
	}	
	
	function sigAlt($request, $host, $privatekey)
	{
	    $request = $request . '&Timestamp='.gmdate("Y-m-d\TH:i:s\Z").'';
	    
	    // replace commas with %2C, replace colon with %3A
	  	// Could use urlencode($request) here, but $request may already be partially encoded
	  	$request = str_replace(',','%2C', $request);
	  	$request = str_replace(':','%3A', $request);
	
	  	$reqarr = explode('&',$request);
	
	  	//sort by byte value
	  	sort($reqarr);
	
	  	// glued by &'s
	  	$string_to_sign = implode("&", $reqarr);
	
		$string_to_sign = "GET\n$host\n/onca/xml\n".$string_to_sign;
		$signature = urlencode(base64_encode(hash_hmac("sha256", $string_to_sign, $privatekey, True)));
	
		$request .= '&Signature='.$signature;
	
	    $request = '/onca/xml?'.$request;
	
		return $request;
	
		if ($response) $simple_response = simplexml_load_string($response);
	
	  // more data here --> http://mierendo.com/software/aws_signed_query/
	}	
	
	function doxml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}	
}
?>