<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Delete")
{
	$query = "delete from amazon_campaigns where id = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	$query = "delete from amazon_campaign_lists where campid = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	
	Header("Location: /mgt/amazon/sndkids_default.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>SNDKids Amazon Campaign Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE($ROOT_DIR."/mgt/amazon/e2win_menu.phtml");?>
		
		<div style="padding-left:5px;padding-top:10px">
		<B>Amazon Campaigns</B>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Campaign</a>
		<BR><BR>
		<table id="results" width=100% class="sortable">
		<tr bgcolor="#eeeeee">
			<th height=21 >ID</th>
			<th class="sortable_caseinsensitive">Campaign Name</th>
			<th class="sortable_caseinsensitive">Delete</th>
		</tr>
		<?
		$query = "select id, campaign_name from amazon_campaigns order by campaign_name";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($id, $campaign_name, $listid) = mysql_fetch_array($qok))
		{
		?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td height=21 align=center><a href="campaign_edit.phtml?campid=<?=$id;?>"><?=$id;?></td>
				<td align=center>
					<?=stripslashes($campaign_name);?>
				</td>
				<td heigh=21 align=center>
					<?
					if($numlistings <= 0)
					{
						?>
						<a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete this campaign?', '/mgt/amazon/sndkids_default.phtml?Action=Delete&campid=<?=$id;?>')">
							<img src="/mgt/images/del.gif">
						</a>
						<?
					}
					else 
					{
						?>
						n/a
						<?
					}
					?>
				</td>
			</tr>
		<?
		}
		?>
		</table>
		<BR><BR>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Campaign</a>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/amazon/campaign_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Campagin:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(campaign title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
	
</body>
</html>
<?mysql_close();?>