<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($Action == "MarkSimilarResolved")
{
	$query = "delete from amazon_errors where message = '".addslashes($msg)."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/amazon/view_errors.phtml?campid=$campid");
}

$query = "select campaign_name, min_profit_pct, min_profit_cur, quantity, qty_control, pricelevel from amazon_campaigns where id = '$campid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($campaign_name, $min_profit_pct, $min_profit_cur, $quantity, $qty_control, $pricelevel) = mysql_fetch_array($qok);

$campaign_name = stripslashes($campaign_name);
	
$query = "select list_title from lists where lid = '$listid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($list_title) = mysql_fetch_array($q2ok);				
?>
<HTML>
<HEAD>
<TITLE>Amazon Listing Errors</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}

function markResolved(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazon/ajax_markresolved.phtml?pid="+pid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=resolvedResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function resolvedResult()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		document.getElementById("resolved"+data[0]).innerHTML = data[1];
		
		var row = document.getElementById("row"+data[0]);
		
		if(row)
			row.style.display="none";
	}
}

function loadErrors(pid)
{
	var row = document.getElementById("row"+pid)
	
	if(row)
	{
		if(row.style.display == "none")
			row.style.display="";
		else
			row.style.display="none";
	}
	else
	{
		alert('couldnt find the row');
	}
	
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazon/ajax_geterrors.phtml?pid="+pid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=gotErrors;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function gotErrors()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		document.getElementById("div"+data[0]).innerHTML = data[1];
	}
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Amazon Errors</B>
		<BR><BR>
		<?
		//list($campaign_name, $min_profit_pct, $min_profit_cur, $quantity, $qty_control, $pricelevel) = mysql_fetch_array($qok);
		?>
		<table >
		<tr>
			<td>
			
				<table>
				<tr>
					<td bgcolor="#eeeeee" height=21>ID</td>
					<td><a href="campaign_edit.phtml?campid=<?=$campid;?>"><?=$campid;?> - edit</a></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Campaign Name</td>
					<td><?=$campaign_name;?></td>
				</tr>
				
				<tr>
					<td bgcolor="#eeeeee" height=21>Min Profit %</td>
					<td><?=$min_profit_pct;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Min Profit $</td>
					<td><?=$min_profit_cur;?></td>
				</tr>
				</table>			
			
			</td>
			
			<td>&nbsp;&nbsp;</td>

			<td>
				<table>
				<tr>
					<td bgcolor="#eeeeee" height=21>Quantity</td>
					<td><?=$quantity;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Qty Control</td>
					<td><?=$qty_control;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>PL</td>
					<td><?=$pricelevel;?></td>
				</tr>
				</table>
			
			
			</td>
		</tr>
		</table>
		
		<?//INCLUDE("info_bar.phtml");?>
		
		<BR>
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Manname:</B></font></td>
			<td>		
				<select name="fmanid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select distinct(product_manufacturers.manid), product_manufacturers.manname from
							amazon_errors, product_manufacturers, product_list 
							WHERE
							amazon_errors.pid = product_list.id AND
							product_list.manid = product_manufacturers.manid AND
							amazon_errors.campid = '$campid' 
							group by product_manufacturers.manid
							order by product_manufacturers.manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if($manid == $fmanid)
						echo "<option value='$manid' SELECTED>$manname</option>\n";
					else 
						echo "<option value='$manid'>$manname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>PID:</B></font></td>
			<td>
				<input type="text" name="fpid" value="<?=$fpid;?>" style="width:100px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Keywords:</B></font></td>
			<td>
				<input type="text" name="fkeywords" value="<?=$fkeywords;?>" style="width:175px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="submit" name="Action" value="Filter" class="buttonItem"></td>
			
		</tr>
		</table>
		</div>		
		<?
		if($Action == "ViewSimilar")
		{
			$addon .= " AND amazon_errors.message = '".addslashes($msg)."'";	
		}
		
		if(intval($fmanid) > 0)
			$addon .= " AND product_list.manid = '$fmanid'";
		
		if(intval($fpid) > 0)
			$addon .= " AND product_list.id = '$fpid'";
			
		if(strlen($fkeywords) >= 2)
		{
			$wordlist = explode(" ", $fkeywords);
			
			for($xx = 0; $xx < count($wordlist); $xx++)
			{
				$thisword = $wordlist[$xx];
			
				$kwpart = " AND (product_list.manpart like '%$thisword%' OR product_list.upccode like '%$thisword%' OR product_list.descr like '%$thisword%') ";
				
				$addon .= $kwpart;
			}
		}		
		
/*		$query = "select amazon_errors.id, amazon_errors.pid, product_manufacturers.manname, product_list.descr, amazon_errors.message, amazon_errors.tstamp, amazon_errors.mid
					from
					amazon_errors, product_manufacturers, product_list 
					WHERE
					amazon_errors.pid = product_list.id AND
					product_list.manid = product_manufacturers.manid AND
					amazon_errors.campid = '$campid' 
					$addon
					order by product_list.id, amazon_errors.tstamp";*/
		
		$query = "select distinct(amazon_errors.pid), product_manufacturers.manname, product_list.descr, amazon_errors.tstamp, count(amazon_errors.tstamp) from 
					amazon_errors, product_manufacturers, product_list  WHERE amazon_errors.pid = product_list.id AND 
					product_list.manid = product_manufacturers.manid AND amazon_errors.campid = '$campid'  
					$addon
					group by product_list.id order by tstamp desc";
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numerrors = $numrows = mysql_num_rows($qok);
		
		if(intval($numerrors) > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$ITEMS_PER_PAGE = 50;
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazon/view_errors.phtml?campid=$campid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
			<table width=100%>
			
			<tr bgcolor="#eeeeee">
				<td height=21 align=center><B># Errors</B></td>
				<td height=21 align=center><B>Date/Time</B></td>
				<td height=21 align=center><B>PID</B></td>
				<td height=21 align=center><B>Man</B></td>
				<td height=21 align=center><B>Title</B></td>
				<td height=21 align=center><B>Assigned To</B></td>
				<td height=21 align=center><B>Mark Resolved</B></td>
				
			</tr>
			<?
			
			$numout=0;
			while( (list($pid, $manname, $descr, $tstamp, $count) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
					<td height=21 align=center><a href="javascript:void(0);" onclick="loadErrors('<?=$pid;?>');"><?=$count;?></a></td>
					<td height=21><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
					<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td height=21><?=$manname;?></td>
					<td height=21><?=$descr;?></td>
					<td height=21><?=$efc->getRepName( $efc->getSKUAssignment($pid) );?></td>
					<td height=21 align=center>
						<div id="resolved<?=$pid;?>"><a href="javascript:void(0);" onclick="markResolved('<?=$pid;?>');">Mark Resolved</a></div>
					</td>
				</tr>
				<tr id="row<?=$pid;?>" style="display:none;" onMouseOver="this.bgColor='#ffffff';" onMouseOut="this.bgColor='#ffffff';">
					<td colspan=7 align=left>
						<div id="div<?=$pid;?>"><img src="/mgt/images/loading.gif"></div>
					</td>
				</tr>
				<?
			}
			?>
			</table>
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazon/view_errors.phtml?campid=$campid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";				
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Errors Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>