<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//$efc->hasPermission("perm_edit_ebay"); // will redirect on failure
	
?>
<HTML>
<HEAD>
<TITLE>Amazon Duplicates Log</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function useThis(pid, asin)
{
	document.getElementById("ut"+pid).innerHTML = "<img src='/mgt/images/loading.gif'>";
	
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazon/ajax_usethisasin_vn.phtml?pid="+pid+"&asin="+asin+"&sid="+Math.random();
	xmlHttp.onreadystatechange=useThisComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
	
}

function useThisComplete()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText;	//.split("~")
		
		document.getElementById("header"+data).style.display = 'none';
		document.getElementById("company"+data).style.display = 'none';
		document.getElementById("amazon"+data).style.display = 'none';
	}
	
}

</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Amazon Duplicates Log</B>
		<BR><BR>

				<BR>
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Manname:</B></font></td>
			<td>		
				<select name="fmanid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select distinct(product_manufacturers.manid), product_manufacturers.manname from
							amazon_duplicates, product_manufacturers, product_list 
							WHERE
							amazon_duplicates.pid = product_list.id AND
							product_list.manid = product_manufacturers.manid
							group by product_manufacturers.manid
							order by product_manufacturers.manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if($manid == $fmanid)
						echo "<option value='$manid' SELECTED>$manname</option>\n";
					else 
						echo "<option value='$manid'>$manname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>PID:</B></font></td>
			<td>
				<input type="text" name="fpid" value="<?=$fpid;?>" style="width:100px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Keywords:</B></font></td>
			<td>
				<input type="text" name="fkeywords" value="<?=$fkeywords;?>" style="width:175px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><div style="padding-top:3px"><B>Assigned To:</B></font></td>
			<td>		
				<select name="userid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select id, displayname from users order by displayname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($uid, $displayname) = mysql_fetch_array($qok))
				{
					if($userid == $uid)
						echo "<option value='$uid' SELECTED>$displayname</option>\n";
					else 
						echo "<option value='$uid'>$displayname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="submit" name="Action" value="Filter" class="buttonItem"></td>
			
		</tr>
		</table>
		</div>	
		
		<?
		if(intval($fmanid) > 0)
			$addon .= " AND product_list.manid = '$fmanid'";
		
		if(intval($fpid) > 0)
			$addon .= " AND product_list.id = '$fpid'";
			
		if(strlen($fkeywords) >= 2)
		{
			$wordlist = explode(" ", $fkeywords);
			
			for($xx = 0; $xx < count($wordlist); $xx++)
			{
				$thisword = $wordlist[$xx];
			
				$kwpart = " AND (product_list.manpart like '%$thisword%' OR product_list.upccode like '%$thisword%' OR product_list.descr like '%$thisword%') ";
				
				$addon .= $kwpart;
			}
		}		
		
		if(intval($userid) > 0)
		{
			$addontables = ", sku_assignment ";
			$addon .= " AND product_list.id = sku_assignment.pid and sku_assignment.userid = '$userid' ";
			
		}
				
		$pricelevel = $efc->getConfigValue("Amazon", "PRICE_LEVEL");
		$query = "select amazon_duplicates.did, amazon_duplicates.pid, product_list.manpart, product_list.upccode, product_list.descr, 
						product_manufacturers.manname, product_prices.price_level$pricelevel
						from amazon_duplicates, product_list, product_manufacturers, product_prices $addontables
						where 
						amazon_duplicates.pid = product_list.id AND
						product_list.manid = product_manufacturers.manid AND
						product_list.id = product_prices.id $addon group by amazon_duplicates.pid";
		
		//echo $query;
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numerrors = $numrows = mysql_num_rows($qok);
		
		if(intval($numerrors) > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$ITEMS_PER_PAGE = 20;
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazon/view_duplicates_vn.phtml?x=y";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
			<table width=100% cellpadding=0 cellspacing=0 border=0>
			<tr bgcolor="#eeeeee">
				<td height=21 align=center><B>Image</B></td>
				<td height=21 align=center><B>PID</B></td>
				<td height=21 align=center><B>Man</B></td>
				<td height=21 align=center><B>Title</B></td>
				<td height=21 align=center><B>UPC</B></td>
				<td height=21 align=center><B>Assigned To</B></td>
				<td height=21 align=center><B>Price</B></td>
			</tr>
			<?
			
			$numout=0;
			while( (list($did, $pid, $manpart, $upccode, $descr, $manname, $price) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				?>
				<tr id="header<?=$pid;?>">
					<td colspan=7  bgcolor='#eeeeff'>&nbsp;</td>
				</tr>
				<tr id="company<?=$pid;?>">
					<td align=center ><img src="/getimage.phtml?id=<?=$pid;?>&thumb=1" height=50></td>
					<td align=center >
						<a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></a>
					</td>
					<td align=center ><?=$manname;?></td>
					<td align=center ><?=$descr;?></td>
					<td align=center ><?=$upccode;?></td>
					<td align=center > <?=$efc->getRepName( $efc->getSKUAssignment($pid) );?> </td>
					<td align=center >$ <?=number_format($price, 2);?></td>
				</tr>
				<tr id="amazon<?=$pid;?>">
					<td colspan=1>&nbsp;</td>
					<td colspan=6>
						<table width=100% style="border:1px solid #8888aa">
						<tr bgcolor="#ffffee">
							<td>Image</td>
							<td>ASIN</td>
							<td>Rank</td>
							<td>Brand</td>
							<td>Title</td>
							<td>UPC</td>
							<td># Sellers</td>
							<td>Lowest</td>
						</tr>
						
						<?
						$query = "select asin, salesrank, imageurl, brand, upc, features, lowestprice, numsellers, title from amazon_duplicates_extended where did = '$did'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
						while(list($asin, $salesrank, $imageurl, $brand, $upc, $features, $lowestprice, $numsellers, $title) = mysql_fetch_array($q2ok))
						{
							?>
							<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';"></tr>
								<td><img src="<?=$imageurl;?>"></td>
								<td>
									<a href="http://www.amazon.com/dp/<?=$asin;?>/" target="amazonwindow"><?=$asin;?></a>
								</td>
								<td><?=number_format($salesrank, 0);?></td>
								<td><?=$brand;?></td>
								<td>
									<?=$title;?><BR><?=$features;?>
									<BR>
									<div id="ut<?=$pid;?>">
										<a href="javascript:void(0);" onclick="useThis('<?=$pid;?>', '<?=$asin;?>');">Use This</a>
									</div>
								</td>
								<td><?=$upc;?></td>
								<td><?=$numsellers;?></td>
								<td><?=$lowestprice;?></td>
							</tr>
							<?
						}
						?>
						</table>
					</td>
				</tr>
				<?
			}
			?>
			</table>
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazon/view_duplicates.phtml?x=y";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";				
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Duplicates Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>