
<table border="1">

<tr></tr>


<?

$fp = fopen("td_inventory_ECO6136.txt", "r");
if($fp == FALSE)
{
	echo "ERROR OPENING FILE\n";
	exit;
}
?>
<?
while(($data = fgetcsv($fp, 8192, "|")) !== FALSE)
{

	echo "<tr><td><a href=\"string.phtml?mp=$data[10]\">$data[0]</a></td><td>$data[1]</td><td>$data[2]</td><td>$data[3]</td><td>$data[4]</td><td>$data[5]</td><td>$data[6]</td><td>$data[7]</td><td>$data[8]</td><td>$data[9]</td><td>$data[10]</td><td>$data[11]</td><td>$data[12]</td><td>$data[13]</td><td>$data[14]</td><td>$data[15]</td></tr>";

}

?>
 
</table>
<?mysql_close();?>
