<?
$mp = $_GET['mp'];

$fp = fopen("td_inventory_ECO6136.txt", "r");
if($fp == FALSE)
{
	echo "ERROR OPENING FILE\n";
	exit;
}
while(($data = fgetcsv($fp, 8192, "|")) !== FALSE)
{
	if ($data[10] == "$mp") {

		$descr = addslashes($data[1]);
		$cost = addslashes($data[2]);
		$map = addslashes($data[3]);
		$instock = addslashes($data[4]);
		$shipweight = addslashes($data[5]);
		$manname = addslashes($data[11]);
		if ($manname == "") { $manname = addslashes($data[7]); }
		$upccode = addslashes($data[6]);
		$salesdescr  = addslashes($data[12]);
		$price = 0.00;

		$whyme = addslashes($data[0]);

			if($salesdescr != "")
			{

				//$salesdescr = str_replace("- ", "<br><li>", "$salesdescr");
				//alan fix...headache
				unset($alanarray);
				$alanarray = explode("- ", $salesdescr);
				foreach($alanarray as $key =>$val){

					$alanzzz = $alanarray[$key];

					$alanarray[$key] = "<br><li>$alanzzz";
				}
				$alantmp = $alanarray[0];
				$alantmpb = $alanarray[1];

				if ($alantmp == "<br><li>") {
					$alanarray[0] = "";
					$alanarray[1] = "$alantmpb<br>";

				} else {
					$alanarray[0] = "$alantmp<br>";
				}
				$okie = "$alanarray[0] $alanarray[1] $alanarray[2] $alanarray[3] $alanarray[4] $alanarray[5] $alanarray[6] $alanarray[7] $alanarray[8] $alanarray[9] $alanarray[10] $alanarray[11] $alanarray[12] $alanarray[13]
$alanarray[14] $alanarray[15] $alanarray[16] $alanarray[17] $alanarray[18] $alanarray[19] $alanarray[20] $alanarray[21] $alanarray[22] $alanarray[23] $alanarray[24] $alanarray[25] ";
				//$zzz = str_replace("Array", "", "$okie");
				//$zzz = str_replace("{", "", "$okie");
				//$zzz = str_replace("}", "", "$okie");
				//echo "pid: $pid\n";
				//print_r($okie);

				echo $okie;
				
				
		}
    }    
}



?><?mysql_close();?>
