<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

echo $uid."~";
?>
<table>
<tr bgcolor="#eeeeee" width=95%>
	<td><B>PID</B></td>
	<td><B>Brand</B></td>
	<td><B>Title</B></td>
	<td><B>Cost</B></td>
</tr>
<?
$query = "select kid from product_kitskus, product_prices where 
			product_kitskus.kid = product_prices.id AND 
			product_kitskus.pid = '$pid' 
			order by product_prices.price_level1 desc";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($kid) = mysql_fetch_array($qok))
{
	$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.manpart from
				product_list, product_manufacturers 
				where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$kid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($pid, $manname, $descr, $manpart) = mysql_fetch_array($q2ok);
	
	$avgcost = $efc->getActualCost($kid);
	?>
	<tr>
		<td><a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$pid;?></a></td>
		<td><?=$manname;?></td>
		<td><?=$descr;?></td>
		<td align=right><?=number_format($avgcost, 2);?></td>
	</tr>
	<?
}
?>
</table>