<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$price = trim(stripslashes($price));
$price = str_replace("$", "", $price);
$price = str_replace(",", "", $price);

/*
var url = "/mgt/pereport/ajax_savekitprice.phtml?pid="+kpid+"&price="+price+"&qty="+qty+"&cost="+cost+"&pl="+pl+"&uid="+uid;
*/
$query = "select price_level$pl from product_prices where id = '$pid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($old_price) = mysql_fetch_array($qok);

$query = "select amazon_ca_am_qty from product_list where id = '$pid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($old_qty) = mysql_fetch_array($qok);

$query = "update product_prices set price_level$pl = '$price' where id = '$pid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
$query = "update product_list set amazon_ca_am_qty = '$qty' where id = '$pid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$logmsg = "$price_level changed from: $old_price to $price ";
$logmsg .= "Amazon Quantity changed from: $old_qty to $qty";
	
$kit_commission = $efc->getConfigValue("eFluent Settings", "Kit_Commission");


////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$fba_pricelevel = "price_level".$efc->getConfigValue("AmazonGridC", "FBA");
if(strtolower($price_level) == strtolower($fba_pricelevel))
{
	$query = "select fba_sku from fba_ca_sku_map where pid = '$pid' and fba_sku != ''";	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
	if(mysql_num_rows($qok) > 0)
	{
		while(list($fba_sku) = mysql_fetch_array($qok))
		{
			$query = "select id from fba_ca_skus where sku = '$fba_sku'";
			$q2ok = mysql_db_query($DB, $query, $mysqlid);
						
			if(mysql_num_rows($q2ok) > 0)
			{
				$query = "update fba_ca_skus set updateprice = '1' where sku = '$fba_sku'";
				$changes .= "$query<BR>\n";
				mysql_db_query($DB, $query, $mysqlid);
			}
			else 
			{
				$query = "insert into fba_ca_skus(sku, updateprice) values('$fba_sku', '1')";
				$changes .= "$query<BR>\n";
				mysql_db_query($DB, $query, $mysqlid);
			}
		}
	}
	else 
	{
		$query = "select id from fba_ca_skus where sku = '$pid'";
		$q2ok = mysql_db_query($DB, $query, $mysqlid);
						
		if(mysql_num_rows($q2ok) > 0)
		{
			$query = "update fba_ca_skus set updateprice = '1' where sku = '$pid'";
			$changes .= "$query<BR>\n";
			mysql_db_query($DB, $query, $mysqlid);
		}
		else 
		{
			$query = "insert into fba_ca_skus(sku, updateprice) values('$pid', '1')";
			$changes .= "$query<BR>\n";
			mysql_db_query($DB, $query, $mysqlid);
		}
	}
}

if ($DB == 'ecom')
{
	// Amazon Canada
	$fba_ca_pricelevel = "price_level".$efc->getConfigValue("AmazonGridC", "FBA");
	if(strtolower($price_level) == strtolower($fba_ca_pricelevel))
	{
		$query = "select fba_sku from fba_ca_sku_map where pid = '$pid' and fba_sku != ''";	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
		if(mysql_num_rows($qok) > 0)
		{
			while(list($fba_sku) = mysql_fetch_array($qok))
			{
				$query = "select id from fba_ca_skus where sku = '$fba_sku'";
				$q2ok = mysql_db_query($DB, $query, $mysqlid);
							
				if(mysql_num_rows($q2ok) > 0)
				{
					$query = "update fba_ca_skus set updateprice = '1' where sku = '$fba_sku'";
					$changes .= "$query<BR>\n";
					mysql_db_query($DB, $query, $mysqlid);
				}
				else 
				{
					$query = "insert into fba_ca_skus(sku, updateprice) values('$fba_sku', '1')";
					$changes .= "$query<BR>\n";
					mysql_db_query($DB, $query, $mysqlid);
				}
			}
		}
		else 
		{
			$query = "select id from fba_ca_skus where sku = '$pid'";
			$q2ok = mysql_db_query($DB, $query, $mysqlid);
							
			if(mysql_num_rows($q2ok) > 0)
			{
				$query = "update fba_ca_skus set updateprice = '1' where sku = '$pid'";
				$changes .= "$query<BR>\n";
				mysql_db_query($DB, $query, $mysqlid);
			}
			else 
			{
				$query = "insert into fba_ca_skus(sku, updateprice) values('$pid', '1')";
				$changes .= "$query<BR>\n";
				mysql_db_query($DB, $query, $mysqlid);
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$efc->logAction("SUCCESS", "1", $pid, "$logmsg", $logmsg);
$efc->UpdatePool("1", $pid);
$efc->touchSKU($pid);

$kit_cost = $efc->getComponentCost($pid);

$commission = $kit_commission * $price;
$kit_profit = $price - $kit_cost - $commission;
$profit_pct = number_format(($kit_profit / $price) * 100,2);

$kit_profit = number_format($kit_profit, 2);
$profit_pct = number_format($profit_pct, 2);
$commission = number_format($commission, 2);

echo "$uid:$kit_profit:$profit_pct:$commission";

?>