<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

///////////////////////////////////////////////////////////////////////////
function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


function sig($request, $host, $private_key)
	{
	    $request = $request . '&Timestamp='.gmdate("Y-m-d\TH:i:s\Z").'';
	    
	    // replace commas with %2C, replace colon with %3A
	  	// Could use urlencode($request) here, but $request may already be partially encoded
	  	$request = str_replace(',','%2C', $request);
	  	$request = str_replace(':','%3A', $request);
	
	  	$reqarr = explode('&',$request);
	
	  	//sort by byte value
	  	sort($reqarr);
	
	  	// glued by &'s
	  	$string_to_sign = implode("&", $reqarr);
	
		$string_to_sign = "GET\n$host\n/onca/xml\n".$string_to_sign;
		$signature = urlencode(base64_encode(hash_hmac("sha256", $string_to_sign, $private_key, True)));
	
		$request .= '&Signature='.$signature;
	
	    $request = '/onca/xml?'.$request;
	
		return $request;
	
		if ($response) $simple_response = simplexml_load_string($response);
	
	  // more data here --> http://mierendo.com/software/aws_signed_query/
	}
	
	
function getURL($peid, $results)
		{
			$lines = explode("\n", $results);
			
			for($xx = 0; $xx < count($lines); $xx++)
			{
				list($xpeid, $xurl) = explode("\t", $lines[$xx]);
				
				//echo "XPEID: $xpeid PEID: $peid URL: $xurl<BR>";
				
				if(strtoupper($xpeid) == strtoupper($peid))
				{
					//echo "GOT IT<BR>";
					return $xurl;
				}
			}
		}
		
$query = "select product_list.roimast, upccode, asin
			from 
				product_list 
				where 
				product_list.id = '$pid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($roimast, $upc, $asin) = mysql_fetch_array($qok);

$asin = trim($asin);
//$baseURL = "http://yancey:judedog@209.213.121.146/dsnman/getmods.phtml?roimast=$roimast";
//$results = trim($efc->loadPage($baseURL, "E2"));

//$asin = getURL("AM", $results);
ob_start();

if($asin != "") // there was an ASIN on the sku
{
	$public_key = $efc->getConfigValue("AmazonCanada", "PUBLIC_KEY");
	$private_key = $efc->getConfigValue("AmazonCanada", "PRIVATE_KEY");
	$associateID = $efc->getConfigValue("AmazonCanada", "ASSOCIATEID");
	
	if($associateID != "")
		$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&AssociateTag=$associateID&Operation=ItemLookup&ItemId=$asin&MerchantId=FeaturedBuyBoxMerchant&ResponseGroup=OfferFull,Small";
	else 
		$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&Operation=ItemLookup&ItemId=$asin&MerchantId=FeaturedBuyBoxMerchant&ResponseGroup=OfferFull,Small";
		
	$baseHOST = "webservices.amazon.ca";
	$asinURL = sig($asinURL,$baseHOST,$private_key);
	$asinURL = "http://" . $baseHOST . $asinURL;		
	$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
	
	$xmldata = xml2array($buffer, 1);
	
	$mid = $xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['MerchantId']['value'];
	$name = $xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['Name']['value'];
	$url = addslashes($xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['GlancePage']['value']);
	$price = $xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['OfferListing']['Price']['Amount']['value'] / 100;
	
	if(floatval($price) <= 0.00)
	{
		$public_key = $efc->getConfigValue("AmazonCanada", "PUBLIC_KEY");
		$private_key = $efc->getConfigValue("AmazonCanada", "PRIVATE_KEY");
		$associateID = $efc->getConfigValue("AmazonCanada", "ASSOCIATEID");
	
		if($associateID != "")
			$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&AssociateTag=$associateID&Operation=CartCreate&Item.1.ASIN=$asin&Item.1.Quantity=1";
		else 
			$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&Operation=CartCreate&Item.1.ASIN=$asin&Item.1.Quantity=1";
			
		$baseHOST = "ecs.amazonaws.ca";
		$asinURL = sig($asinURL,$baseHOST,$private_key);
		$asinURL = "http://" . $baseHOST . $asinURL;		
		$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
		$xmldata = xml2array($buffer, 1);
		
		$price = $xmldata['CartCreateResponse']['Cart']['CartItems']['SubTotal']['Amount']['value'] / 100;
		$mid = $xmldata['CartCreateResponse']['Cart']['CartItems']['CartItem']['SellerId']['value'];
		$name = $xmldata['CartCreateResponse']['Cart']['CartItems']['CartItem']['SellerNickname']['value'];
		
		echo "$pid~";
		echo "<font color='#0000ff'><B>$name ($asin)</B></font>&nbsp;&nbsp;<input type='button' onclick=\"window.open('http://www.amazon.ca/gp/product/$asin/');\" name='Action' value='Go' class='buttonItem'>";
	}
	else 
	{
		echo "$pid~";
		echo "<font color='#0000ff'><B>$name ($asin)</B></font>&nbsp;&nbsp;<input type='button' onclick=\"window.open('http://www.amazon.ca/gp/product/$asin/');\" name='Action' value='Go' class='buttonItem'>";
	}
}
else 
{
	$public_key = $efc->getConfigValue("AmazonCanada", "PUBLIC_KEY");
	$private_key = $efc->getConfigValue("AmazonCanada", "PRIVATE_KEY");
	$associateID = $efc->getConfigValue("AmazonCanada", "ASSOCIATEID");
	
	if($associateID != "")
		$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&AssociateTag=$associateID&Operation=ItemSearch&Keywords=$upc&SearchIndex=Blended&ResponseGroup=Medium";
	else 
		$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&Operation=ItemSearch&Keywords=$upc&SearchIndex=Blended&ResponseGroup=Medium";
		
	$baseHOST = "webservices.amazon.ca";
	$asinURL = sig($asinURL,$baseHOST,$private_key);
	$asinURL = "http://" . $baseHOST . $asinURL;
	$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
	$xmldata = xml2array($buffer, 1);
	$asin = $xmldata['ItemSearchResponse']['Items']['Item']['ASIN']['value'];

	if($asin != "")
	{
		$public_key = $efc->getConfigValue("Amazon", "PUBLIC_KEY");
		$private_key = $efc->getConfigValue("Amazon", "PRIVATE_KEY");
		$associateID = $efc->getConfigValue("Amazon", "ASSOCIATEID");
	
		if($associateID != "")
			$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&AssociateTag=$associateID&Operation=ItemLookup&ItemId=$asin&MerchantId=FeaturedBuyBoxMerchant&ResponseGroup=OfferFull,Small";
		else 
			$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&Operation=ItemLookup&ItemId=$asin&MerchantId=FeaturedBuyBoxMerchant&ResponseGroup=OfferFull,Small";
			
		$baseHOST = "webservices.amazon.ca";
		$asinURL = sig($asinURL,$baseHOST,$private_key);
		$asinURL = "http://" . $baseHOST . $asinURL;		
		
		$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
		
		$xmldata = xml2array($buffer, 1);
		
		$mid = $xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['MerchantId']['value'];
		$name = $xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['Name']['value'];
		$url = addslashes($xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['Merchant']['GlancePage']['value']);
		$price = $xmldata['ItemLookupResponse']['Items']['Item']['Offers']['Offer']['OfferListing']['Price']['Amount']['value'] / 100;
		
		if(floatval($price) <= 0.00)
		{
			$public_key = $efc->getConfigValue("AmazonCanada", "PUBLIC_KEY");
			$private_key = $efc->getConfigValue("AmazonCanada", "PRIVATE_KEY");
			$associateID = $efc->getConfigValue("AmazonCanada", "ASSOCIATEID");
			
			if($associateID != "")
				$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&AssociateTag=$associateID&Operation=CartCreate&Item.1.ASIN=$asin&Item.1.Quantity=1";
			else 
				$asinURL = "Service=AWSECommerceService&AWSAccessKeyId=$public_key&Operation=CartCreate&Item.1.ASIN=$asin&Item.1.Quantity=1";
				
			$baseHOST = "ecs.amazonaws.com";
			$asinURL = sig($asinURL,$baseHOST,$private_key);
			$asinURL = "http://" . $baseHOST . $asinURL;		
			$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
			$xmldata = xml2array($buffer, 1);
			
			$price = $xmldata['CartCreateResponse']['Cart']['CartItems']['SubTotal']['Amount']['value'] / 100;
			$mid = $xmldata['CartCreateResponse']['Cart']['CartItems']['CartItem']['SellerId']['value'];
			$name = $xmldata['CartCreateResponse']['Cart']['CartItems']['CartItem']['SellerNickname']['value'];
			
			echo "$pid~";
			echo "<font color='#0000ff'><B>$name ($asin)</B></font>&nbsp;&nbsp;<input type='button' onclick=\"window.open('http://www.amazon.ca/gp/product/$asin/');\" name='Action' value='Go' class='buttonItem'>";
		}
		else 
		{
			echo "$pid~";
			echo "<font color='#0000ff'><B>$name ($asin)</B></font>&nbsp;&nbsp;<input type='button' onclick=\"window.open('http://www.amazon.ca/gp/product/$asin/');\" name='Action' value='Go' class='buttonItem'>";		
		}
	}
	else 
	{
		echo "$pid~MULTIPLE MATCHES FOR UPC, NO ASIN ENTERED";
	}
	
}

if($asin != "")
{
	$baseURL = "http://www.amazon.ca/gp/product/$asin/";
	$buffer = $efc->loadPage($baseURL, "http://www.amazon.com");
	
	
	
	$hita = strpos($buffer, "<b>Shipping Weight:</b>"); // 23
	$hitb = strpos($buffer, "</li>", $hita + 23);
	
	$weight = substr($buffer, $hita + 23, $hitb - $hita - 23);
//	print_r($weight);
	
	
	if(stristr($weight, "kg"))
	{
		$weight = str_replace("kg", "", $weight);
		$weight = number_format(trim($weight)*1000, 2);
	}
	$weight = trim(str_replace("g", "", $weight));
	
	$hita = strpos($buffer, "See all reviews");
	$hitb = strpos($buffer, "(", $hita);
	$hitc = strpos($buffer, ")", $hita);
	$reviews = strip_tags( substr($buffer, $hitb + 1, $hitc - $hitb - 1) );
	
	if(stristr($reviews, "http"))
	{
		$reviews = "0";
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$hita = strpos($buffer, "<li id=\"SalesRank\">"); // 20
	$hitb = strpos($buffer, "</li>", $hita + 20);
	$hitb = strpos($buffer, "</li>", $hitb + 5);
	
	$salesrank = substr($buffer, $hita + 20, $hitb - $hita - 20);
	$salesrank = str_replace("Amazon Bestsellers Rank:", "", $salesrank);
	$salesrank = preg_replace("'<style[^>]*>.*</style>'siU",'',$salesrank);
	$salesrank = strip_tags($salesrank);
	$salesrank = str_replace("#", "<BR>#", $salesrank);
	if(stristr($salesrank, "function"))
		$salesrank = "";
	
	$hita = strpos($buffer, "Only ");
	$hitb = strpos($buffer, "left in stock", $hita);
	$instock = trim(substr($buffer, $hita + 5, $hitb - $hita - 5));
	
	if(is_numeric($instock))
	{
		echo "<BR>Only $instock left in stock";		
	}
}

$data = ob_get_clean();

$weight = trim($weight);

echo "$data~$weight~$reviews~$salesrank";


?>