<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$days = time() - (86400 * 7);
$query = "select distinct(customer_orders.orderid) from 
			customer_orders, customer_order_lines 
				where 
				customer_orders.orderid = customer_order_lines.orderid and 
				customer_orders.orderdate >= $days and 
				customer_order_lines.kitpid = '$pid' group by customer_orders.orderid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$orders7 = mysql_num_rows($qok);

$days = time() - (86400 * 14);
$query = "select distinct(customer_orders.orderid) from 
			customer_orders, customer_order_lines 
				where 
				customer_orders.orderid = customer_order_lines.orderid and 
				customer_orders.orderdate >= $days and 
				customer_order_lines.kitpid = '$pid' group by customer_orders.orderid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$orders14 = mysql_num_rows($qok);

$days = time() - (86400 * 30);
$query = "select distinct(customer_orders.orderid) from 
			customer_orders, customer_order_lines 
				where 
				customer_orders.orderid = customer_order_lines.orderid and 
				customer_orders.orderdate >= $days and 
				customer_order_lines.kitpid = '$pid' group by customer_orders.orderid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$orders30 = mysql_num_rows($qok);

$days = time() - (86400 * 45);
$query = "select distinct(customer_orders.orderid) from 
			customer_orders, customer_order_lines 
				where 
				customer_orders.orderid = customer_order_lines.orderid and 
				customer_orders.orderdate >= $days and 
				customer_order_lines.kitpid = '$pid' group by customer_orders.orderid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$orders45 = mysql_num_rows($qok);


echo $uid."~";
?>
<table>
<tr bgcolor="#eeeeee" width=95%>
	<td>7</td>
	<td>14</td>
	<td>30</td>
	<td>45</td>
</tr>
<tr>
	<td align=center><?=$orders7;?></td>
	<td align=center><?=$orders14;?></td>
	<td align=center><?=$orders30;?></td>
	<td align=center><?=$orders45;?></td>			
</tr>
</table>