<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$efc->hasPermission("perm_pegrid"); // will redirect on failure

////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $DB;
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>SKUs Search</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</head>
<script>
function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function acquireCrawlerID()
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
 	
 	var url="/mgt/pereport_canada/ajax_manual.phtml?id=<?=$id;?>&manpart=<?=urlencode($manpart);?>&manname=<?=urlencode($manname);?>&descr=<?=urlencode($descr);?>";
	xmlHttp.onreadystatechange=gotCrawlerID;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotCrawlerID()
{
	if(xmlHttp.readyState==4)
	{
		//alert(xmlHttp.responseText);
		
		if(parseInt(xmlHttp.responseText) > 0)
		{
			document.location='/mgt/pereport_canada/peoptions.phtml?id=<?=$id;?>';
		}
		else
		{
			alert('No CrawlerID Found');
			document.location='/mgt/pereport_canada/peoptions.phtml?id=<?=$id;?>&attempted=1';			
		}
	}
}
</script>
<body topmargin=0 leftmargin=0 onload="acquireCrawlerID();">
<BR><BR>
<center>
<table width=98% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
	<!----------------------------------------------------------------------------->
	<div id="acquireResults" align=center>
	<B>Creating a new CrawlerID in the CrawlerID database...</B>
	<BR><BR>
	<img src="/mgt/images/loading.gif">
	</div>
	<!----------------------------------------------------------------------------->
	</td>
</tr>
</table>
</center>
		
</body>
</html>
