<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?><?=$sku;?>|

<?
//if ($show_cost_change == '1' || $show_cost_change_green == '1') {
	?>
	<div style="padding-left:100px;float:left;">
	<table style="border:1px #808080 solid;">
		<tr>
			<td align=center><B>PID</B></td>
			<td align=center><B>Cost</B></td>
			<td align=center><B>Action</B></td>
		</tr>
		<tr>
			<td align=center><?=$sku?></td>
			<td align=center><input type="text" name="cost_<?=$sku?>" id="cost_<?=$sku?>" style="width:70px;" /></td>
			<td align=center><a href="javascript:saveNewCost('<?=$sku?>');">Save</a></td>
		</tr>
	</table>
	</div>
	<?
//}

if ($report_id != '') {
	$rep_addon = " AND ("; 
	$report_id_arr = explode(",",$report_id);
	foreach ($report_id_arr as $k=>$v) {
		if ($v !='') {
			$rep_addon .= "fba_settlement_order_bfly.report_id ='$v' OR ";
		}
	}
	$rep_addon = substr($rep_addon,0,-3);
	$rep_addon .= ")"; 
}
if ($report_id != '') {
	$rep_addon_cost = " AND ("; 
	$report_id_arr = explode(",",$report_id);
	foreach ($report_id_arr as $k=>$v) {
		if ($v !='') {
			$rep_addon_cost .= "amazon_settlement_id ='$v' OR ";
		}
	}
	$rep_addon_cost = substr($rep_addon_cost,0,-3);
	$rep_addon_cost .= ")"; 
}
if($bdate != "") $bdate_addon .= " AND fba_settlement_order_bfly.posted_date >= '".date("Y-m-d H:i:s",strtotime("$bdate 00:00:00"))."'";
if($edate != "") $edate_addon .= " AND fba_settlement_order_bfly.posted_date <= '".date("Y-m-d H:i:s",strtotime("$edate 23:59:59"))."'";

	$query = "SELECT distinct(fba_settlement_order_bfly.amazon_order_id),fba_settlement_order_bfly.report_id,fba_settlement_order_bfly.merchant_order_id,fba_settlement_order_bfly.posted_date
			FROM fba_settlement_order_items_bfly,fba_settlement_order_bfly
			WHERE
			fba_settlement_order_bfly.amazon_order_id=fba_settlement_order_items_bfly.amazon_order_id AND
			fba_settlement_order_bfly.merchant_fulfillment_id='MFN' AND
			fba_settlement_order_items_bfly.OUR_SKU ='$sku' AND 
			fba_settlement_order_bfly.marketplace_name ='Amazon.com' $rep_addon $bdate_addon $edate_addon" ;
//	print_r($query);
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($amazon_order_id,$rep,$merchant_order_id,$posted_date) = mysql_fetch_array($qok)) {
		$cost_arr = '';
		$cost_arr = $rep."#".$amazon_order_id."#".$sku;
		?>
		<input type="hidden" name="cost_arr" value="<?=$cost_arr?>" class="cost_arr_<?=$sku?>" />
		<div style="padding-left:100px;float:left;">
		<BR>
		<B><?="Order id: </B>".$amazon_order_id."<br /><b>Report id:</b> ".$rep;?>
		<table width=100% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>Man</B></td>
				<td align=center><B>Title</B></td>
				<td align=center><B>ManPart</B></td>
				<td align=center><B>%</B></td>
				<td align=center><B>Qty</B></td>
				<td align=center><B>Principal</B></td>
				<td align=center><B>Commission</B></td>
				<td align=center><B>Shipping</B></td>
				<td align=center><B>ShippingTax</B></td>
				<td align=center><B>Tax</B></td>
				<td align=center><B>ShippingHB</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Shipping Cost</B></td>
				<td align=center><B>Profit</B></td>
			</tr>
		<?
			$q = "SELECT sum(Quantity),sum(Principal),sum(Shipping),sum(ShippingTax),sum(Tax),sum(ShippingHB),sum(Commission) FROM fba_settlement_order_items_bfly WHERE amazon_order_id='".$amazon_order_id."' AND OUR_SKU='$sku'";
			if(!$qok1 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($Quantity,$Principal,$Shipping,$ShippingTax,$Tax,$ShippingHB,$Commission) = mysql_fetch_array($qok1);
			
			$query_x = "select product_manufacturers.manname,product_list.descr,product_list.manpart from product_list,product_manufacturers where product_list.id = '$sku' AND product_list.manid=product_manufacturers.manid";
			if(!$qok_x = mysql_db_query($DB, $query_x, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($manname,$title,$manpart) = mysql_fetch_array($qok_x);

			$q3 = "select cost,qty from fba_settlement_order_items_cost_bfly where pid = '$sku' and whid = '$whid' and amazon_order_id='$amazon_order_id'";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($inv_lcost,$qty) = mysql_fetch_array($qok3);
			$cost = $inv_lcost*$qty;
			
			
			$cost_shipping = 0;
			$q3 = "SELECT cost 
						FROM customer_order_tracking 
						WHERE invoiceid='$amazon_order_id'";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while (list($inv_lcost) = mysql_fetch_array($qok3)) {
				$cost_shipping +=$inv_lcost;
			}
			$profit = $Principal+$Shipping+$ShippingTax+$Tax+$ShippingHB+$Commission-$cost-$cost_shipping;
		?>
			<tr>
				<td align=center><?=$manname?></td>
				<td align=center><?=$title?></td>
				<td align=center><?=$manpart?></td>
				<td align=center style="color:#cc6600"><?=number_format(((-1)*$Commission*100)/$Principal,2);?>%</td>
				<td align=center><?=$Quantity?></td>
				<td align=center><?=$Principal?></td>
				<td align=center><?=$Commission?></td>
				<td align=center><?=$Shipping?></td>
				<td align=center><?=$ShippingTax?></td>
				<td align=center><?=$Tax?></td>
				<td align=center><?=$ShippingHB?></td>
				<td align=center><?=number_format($cost,2)?></td>
				<td align=center><?=number_format($cost_shipping,2)?></td>
				<td align=center><?=number_format($profit,2)?></td>
			</tr>
		</table>
		</div>
		<?
	}
?>

