<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?><?=$sku;?>|

<?
if ($report_id != '') {
	$rep_addon = " AND ("; 
	$report_id_arr = explode(",",$report_id);
	foreach ($report_id_arr as $k=>$v) {
		if ($v !='') {
			$rep_addon .= "fba_settlement_adjustment_bfly.report_id ='$v' OR ";
		}
	}
	$rep_addon = substr($rep_addon,0,-3);
	$rep_addon .= ")"; 
}
if ($report_id != '') {
	$rep_addon_cost = " AND ("; 
	$report_id_arr = explode(",",$report_id);
	foreach ($report_id_arr as $k=>$v) {
		if ($v !='') {
			$rep_addon_cost .= "amazon_settlement_id ='$v' OR ";
		}
	}
	$rep_addon_cost = substr($rep_addon_cost,0,-3);
	$rep_addon_cost .= ")"; 
}
if($bdate != "") $bdate_addon .= " AND fba_settlement_adjustment_bfly.posted_date >= '".date("Y-m-d H:i:s",strtotime("$bdate 00:00:00"))."'";
if($edate != "") $edate_addon .= " AND fba_settlement_adjustment_bfly.posted_date <= '".date("Y-m-d H:i:s",strtotime("$edate 23:59:59"))."'";

	$query = "SELECT distinct(fba_settlement_adjustment_bfly.amazon_order_id),fba_settlement_adjustment_bfly.report_id,
                            fba_settlement_adjustment_bfly.merchant_order_id,fba_settlement_adjustment_bfly.posted_date,
                            fba_settlement_adjustment_items_bfly.MerchantAdjustmentItemID,fba_settlement_adjustment_items_bfly.id
			FROM fba_settlement_adjustment_items_bfly,fba_settlement_adjustment_bfly
			WHERE
			fba_settlement_adjustment_bfly.amazon_order_id=fba_settlement_adjustment_items_bfly.amazon_order_id AND
			fba_settlement_adjustment_bfly.merchant_fulfillment_id='MFN' AND
			fba_settlement_adjustment_items_bfly.OUR_SKU ='$sku' AND 
			fba_settlement_adjustment_bfly.marketplace_name ='Amazon.com' $rep_addon $bdate_addon $edate_addon" ;
        $query = "SELECT fba_settlement_adjustment_bfly.id,fba_settlement_adjustment_bfly.amazon_order_id,fba_settlement_adjustment_bfly.report_id,
                            fba_settlement_adjustment_bfly.merchant_order_id,fba_settlement_adjustment_bfly.posted_date,
                            fba_settlement_adjustment_items_bfly.MerchantAdjustmentItemID,fba_settlement_adjustment_items_bfly.id
			FROM fba_settlement_adjustment_items_bfly,fba_settlement_adjustment_bfly
			WHERE
			fba_settlement_adjustment_bfly.id=fba_settlement_adjustment_items_bfly.adj_id AND
			fba_settlement_adjustment_bfly.merchant_fulfillment_id='MFN' AND
			fba_settlement_adjustment_items_bfly.OUR_SKU ='$sku' AND 
			fba_settlement_adjustment_bfly.marketplace_name ='Amazon.com' $rep_addon $bdate_addon $edate_addon" ;
//	print_r($query);
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
	while (list($adj_id,$amazon_order_id,$rep,$merchant_order_id,$posted_date,$MerchantAdjustmentItemID,$adj_item_id) = mysql_fetch_array($qok)) {
                $qxx = "SELECT dataid FROM fba_settlement_adjustment_items_newdata_bfly WHERE dataid='".$adj_item_id."'";
                if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
                if(mysql_num_rows($qokxx)>0) {
                    $bg = '#E464E4';
                }
                else {
                    $bg = '';
                }
		?>
                <div style="padding-left:100px;">
		<BR>
                <p style="color:<?=$bg?>">
                    <B><?="Order id: </B>".$amazon_order_id."<br /><b>Report id:</b> ".$rep."<br /><b>MerchantAdjustmentItemID:</b> ".$MerchantAdjustmentItemID;?>
                </p>
		<table width=100% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>Man</B></td>
				<td align=center><B>Title</B></td>
				<td align=center><B>ManPart</B></td>
				<td align=center><B>Principal</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>ShippingHB</B></td>
				<td align=center><B>RefundCommission</B></td>
				<td align=center><B>Commission</B></td>
				<td align=center><B>Shipping</B></td>
				<td align=center><B>Profit</B></td>
			</tr>
		<?
			$q = "SELECT sum(Principal),sum(Shipping),sum(RefundCommission),sum(Commission),sum(ShippingHB) FROM fba_settlement_adjustment_items_bfly WHERE id='".$adj_item_id."' AND OUR_SKU='$sku'";
			if(!$qok1 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
			list($Principal,$Shipping,$RefundCommission,$Commission,$ShippingHB) = mysql_fetch_array($qok1);
			
			$query_x = "select product_manufacturers.manname,product_list.descr,product_list.manpart from product_list,product_manufacturers where product_list.id = '$sku' AND product_list.manid=product_manufacturers.manid";
			if(!$qok_x = mysql_db_query($DB, $query_x, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
			list($manname,$title,$manpart) = mysql_fetch_array($qok_x);
			
//			$cost = $efc->getActualCostHistory($sku);
	
			/*$q3 = "select cost from product_inventory where id = '$sku' and whid = '$whid' group by whid";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
			list($inv_lcost) = mysql_fetch_array($qok3);		
	
			$cost = $inv_lcost;*/

			$q3 = "select cost from fba_settlement_adjustment_items_cost_bfly where pid = '$sku' and whid = '$whid' and adj_id='$adj_id'";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
			list($inv_lcost,$qty) = mysql_fetch_array($qok3);
			$cost = $inv_lcost*(-1);
			
//			$profit = $Principal+$Shipping+$FBAPerUnitFulfillmentFee+$FBAWeightBasedFee+$FBAPerOrderFulfillmentFee+$Commission+$ShippingChargeback-$cost;
			$profit = $Principal+$Shipping+$RefundCommission+$Commission+$ShippingHB-$cost;
                        
                        
		?>
			<tr>
				<td align=center><?=$manname?></td>
				<td align=center><?=$title?></td>
				<td align=center><?=$manpart?></td>
				<td align=center><?=$Principal?></td>
				<td align=center><?=number_format($cost,2)?></td>
				<td align=center><?=$ShippingHB?></td>
				<td align=center><?=$RefundCommission?></td>
				<td align=center><?=$Commission?></td>
				<td align=center><?=$Shipping?></td>
				<td align=center><?=number_format($profit,2)?></td>
			</tr>
		</table>
		</div>
		<?
	}
?>

