<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if ($Action == 'Attach') {
	/*print_r($poid);
	print_r($_FILES);*/
	$files = $_FILES['po_file'];
	
	$img_path = $_SERVER['DOCUMENT_ROOT']."/mgt/reports/inboud_shipment/files/";
	$img_name = str_replace(" ","",basename($files['name']));
	$img_name = str_replace(",","",$img_name);
	$img_name = str_replace("/","",$img_name);
	$img_name = str_replace("'","",$img_name);
	$img_name = str_replace("\"","",$img_name);
	$img_name = stripslashes($img_name);
	$tmp_file_name = $img_name;
	$target_path = $img_path . $img_name; 
	$ext = substr($img_name,-3);
	$fl = substr($img_name,0,-4);
	$k=0;
	while (file_exists($target_path))
	{
		
		$filename = $fl."_".$k.".".$ext;// creates the path where the file is to be uploaded
		$target_path = $img_path. $filename;
		$tmp_file_name = $filename;
		$k++;
	}
	if(!move_uploaded_file($files['tmp_name'], $target_path)){
		print_r("Upload failed, please try again!");
	}
	else {
		$q = "INSERT INTO amazon_inbound_shipping_files(inbound_id,file_name) VALUES('$id','$tmp_file_name')";
		if(!$q4ok = mysql_db_query($DB, $q , $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<SCRIPT>
function deleteAttachedFile(fid) {
	if(confirm('Are you sure you want to delete this file?')) {
		$.get("ajax_delete_file.phtml", {'fid':fid},
	   		function(data){
			$('#file_'+fid).remove();
	   	});
	}
}
</script>
</head>
<body>
<form name="mybol" enctype="multipart/form-data" action="" method="POST">
	<input type="hidden" name="id" value="<?=$poid?>" />
	<table width=100% style="font-size:12px;">
		<tr>
			<td valign="top"><B>Files Attached:</B></td>		
			<td>
				<?
				$query = "select id,file_name from amazon_inbound_shipping_files where inbound_id = '$poid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while( list($fid,$file) = mysql_fetch_array($qok) )
				{
					?>
						<div id="file_<?=$fid?>"><a href="files/<?=$file?>" target="_blank"><?=$file?></a>&nbsp;<a href="javascript:void(0)" onclick="deleteAttachedFile('<?=$fid?>')"><img src="/mgt/images/del.gif" border="0" /></a></div>
					<?
				}
				?>
			</td>		
		</tr>
		<tr>
			<td><B>Attach file:</B></td>		
			<td><input type="file" name="po_file" class="formBox" style="width:120px"></td>	
		</tr>
		<tr>
			<td colspan=2><div align=center><input type="submit" name="Action" value="Attach" class="buttonItem"></div></td>		
		</tr>
	</table>
</form>	

</body>
</html>