<?php
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	return $data;
}

$condition = sanitizeInput($condition);
$location = sanitizeInput(strtolower($location));
$pid = sanitizeInput($pid);

if ($condition == 'validate')
{
	$location_array = explode(',',$location);
	if (count($location_array) != 3)
	{
		echo "Error\nPlease write a correct location address.";
		exit;
	}
	
	foreach ($location_array AS $k => $v)
	{
		if ($v == '')
		{
			$error_col = '';
			if ($k == 0)
			{
				$error_col = 'AISLE';
			}
			elseif ($k == 1)
			{
				$error_col = 'ROW';
			}
			else 
			{
				$error_col = 'BIN';
			}
			echo "Error\nPlease write $error_col.";
			exit;	
		}
	}
	
	// search if items has a duplicate location
	$q_verify = "SELECT COUNT(id)
				 FROM whs_loc_mngt
				 WHERE pid = '$pid'
				 AND whs_isle = '".$location_array['0']."'
				 AND whs_row = '".$location_array['1']."'
				 AND whs_bin = '".$location_array['2']."'
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($count_verify) = mysql_fetch_array($qok_verify);
	if ($count_verify > 0)
	{
		echo "Error\nThis item is already in this location.";
		exit;	
	}
	
	// search if items has already a location
	$q_verify = "SELECT COUNT(id)
				 FROM whs_loc_mngt
				 WHERE pid = '$pid'
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($count_verify) = mysql_fetch_array($qok_verify);
	if ($count_verify > 0)
	{
		echo "HasLoc\nThis item has an existing location, would you like to continue? By pressing OK the locations will be saved for this PID.";
		exit;	
	}

	// search if is already another items to this location
	$q_verify = "SELECT COUNT(id)
				 FROM whs_loc_mngt
				 WHERE whs_isle = '".$location_array['0']."'
				 AND whs_row = '".$location_array['1']."'
				 AND whs_bin = '".$location_array['2']."'
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($count_verify) = mysql_fetch_array($qok_verify);
	if ($count_verify > 0)
	{
		echo "NotSingle\nThere is another item in this location! Would you like to add this item to the same place?";
		exit;	
	}
	
	echo "Success\n";
}
elseif ($condition == 'save')
{
	$location = sanitizeInput(strtolower($location));
	$location_array = explode(',',$location);
	$q = "INSERT INTO whs_loc_mngt (pid, whs_isle, whs_row, whs_bin)
		  VALUES ('$pid', '".$location_array['0']."', '".$location_array['1']."', '".$location_array['2']."')";	
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	echo "Success\nItemd added to location - " . strtoupper($location);
}
elseif ($condition == 'list')
{
	$q = "SELECT whs_isle, whs_row, whs_bin
		  FROM whs_loc_mngt
		  WHERE pid = '$pid'
		  ORDER BY id ASC";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$i = 1;
	while (list($whs_isle, $whs_row, $whs_bin) = mysql_fetch_array($qok))
	{
		echo '<li>';
		echo '<span class="title">Location '.$i.'</span>';
		echo '<span>Aisle: '.$whs_isle.'</span>';
		echo '<span>Row: '.strtoupper($whs_row).'</span>';
		echo '<span>Bin: '.$whs_bin.'</span>';
		echo '</li>';
		++$i;
	}
}
elseif ($condition == 'lookup_list')
{
	$q = "SELECT whs_isle, whs_row, whs_bin
		  FROM whs_loc_mngt
		  WHERE pid = '$pid'
		  ORDER BY id ASC";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$i = 1;
	while (list($whs_isle, $whs_row, $whs_bin) = mysql_fetch_array($qok))
	{
		echo '<li>';
		echo '<span class="title">Location '.$i.' <a href="javascript:void(0);" onclick="return removeItemFromLoc(\''.$pid.'\',\''.$whs_isle.','.$whs_row.','.$whs_bin.'\');"><img src="/mgt/warehouselocations/images/delete_icon.gif" /></a></span>';
		echo '<span>Aisle: '.$whs_isle.'</span>';
		echo '<span>Row: '.strtoupper($whs_row).'</span>';
		echo '<span>Bin: '.$whs_bin.'</span>';
		echo '</li>';
		++$i;
	}
}
elseif ($condition == 'search')
{
	$location = sanitizeInput(strtolower($location));
	$location_array = explode(',',$location);
	$q_search = "SELECT product_list.id, product_list.upccode, product_manufacturers.manname, product_list.descr, whs_loc_mngt.whs_isle, whs_loc_mngt.whs_row, whs_loc_mngt.whs_bin
				 FROM whs_loc_mngt
				 JOIN product_list ON product_list.id = whs_loc_mngt.pid
				 JOIN product_manufacturers ON product_manufacturers.manid = product_list.manid
				 WHERE whs_loc_mngt.whs_isle = '".$location_array['0']."'
				 AND whs_loc_mngt.whs_row = '".$location_array['1']."'
				 AND whs_loc_mngt.whs_bin = '".$location_array['2']."'";
	if(!$qok_search = mysql_db_query($DB, $q_search, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok_search) > 0)
	{
		$i = 0;
		while(list($pid, $upccode, $manname, $descr, $whs_isle, $whs_row, $whs_bin) = mysql_fetch_array($qok_search))
		{
			echo '<li>';
			echo '<span>PID: '.$pid.'</span>';
			echo '<span>UPC: '.$upccode.'</span>';
			echo '<span>Brand: '.$manname.'</span>';
			echo '<span>Title: <strong>'.$descr.'</strong></span>';
			$q_loc = "SELECT whs_isle, whs_row, whs_bin
					  FROM whs_loc_mngt
					  WHERE pid = '$pid'
					  ORDER BY id ASC";
			if(!$qok_loc = mysql_db_query($DB, $q_loc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while (list($whs_isle_loc, $whs_row_loc, $whs_bin_loc) = mysql_fetch_array($qok_loc))
			{
				echo '<span>Location: '.$whs_isle_loc.','.strtoupper($whs_row_loc).','.$whs_bin_loc.'</span>';
			}
			echo '<span>&nbsp;</span>';
			echo '<span class="title">Location <a href="javascript:void(0);" onclick="return removeItemFromLoc(\''.$pid.'\');"><img src="/mgt/warehouselocations/images/delete_icon.gif" /></a></span>';
			echo '<span>Aisle: '.$whs_isle.'</span>';
			echo '<span>Row: '.strtoupper($whs_row).'</span>';
			echo '<span>Bin: '.$whs_bin.'</span>';
			echo '</li>';
			echo ($i % 3 == 2) ? '<li class="clear">&nbsp;</li>' : '';
			++$i;
		}
	}
	else 
	{
		echo '<li><span>No items on this location.</span></li>';
	}
}
elseif ($condition == 'remove')
{
	$location = sanitizeInput(strtolower($location));
	$location_array = explode(',',$location);
	$q = "DELETE FROM whs_loc_mngt
		  WHERE pid = '$pid'
		  AND whs_isle = '".$location_array['0']."'
		  AND whs_row = '".$location_array['1']."'
		  AND whs_bin = '".$location_array['2']."'
		  LIMIT 1";	
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}