<style type="text/css">
.left_table_box {
	width: 400px;
	display: block;
	margin: 0;
	text-align: center;
	position:relative;
}

.left_table_box tr {
	height:90px;
}

.left_table_box .box {
	border: 1px solid #ccc;
	padding: 20px;
	font-size: 20px;
	text-decoration: none;
	position:absolute;
	left:10px;
}

.left_table_box .blue_box {
	color: blue;
	top:0;
}

.left_table_box .red_box {
	color: red;
	top:60px;
}

.left_table_box .green_box {
	color: green;
	top:120px;
}

.left_table_box .brown_box {
	color: brown;
	top:180px;
}

.left_table_box .brown_box2 {
	color: brown;
	top:240px;
}
</style>
<table class="left_table_box" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td><a class="box blue_box" href="/mgt/warehouselocations/product_lookup.phtml">Add An Item To A Location</a></td>
</tr>
<tr>
	<td><a class="box red_box" href="/mgt/warehouselocations/remove_from_location.phtml">Remove An Item From A Location</a></td>
</tr>
<tr>
	<td><a class="box green_box" href="/mgt/warehouselocations/item_lookup.phtml">Loop Up Where An Items Is Located</a></td>
</tr>
<tr>
	<td><a class="box brown_box2" href="/mgt/warehouselocations/list_by_pid.phtml">All Items</a>&nbsp;<a class="box brown_box" href="/mgt/warehouselocations/list_by_location.phtml">All Locations</a></td>
</tr>
</table>