<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/*******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Warehouse location management - List by location</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<style type="text/css">
#table_box {
	display: block;
	margin: 0;
	text-align: left;
	_text-align:left;
}

#table_box p {
	font-size:13px;
	padding: 0 5px;
	line-height: 20px;
	margin: 0;
}
</style>
<script type="text/javascript">
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function exportCSV() {
	var url="/mgt/warehouselocations/ajax_exportcsv.phtml?type=bylocation&sid="+Math.random();
	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null) {
		alert ("Your browser does not support AJAX!");
		return;
	} 	
	
	window.open(url)
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr height="100">
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<? //REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B><a href="/mgt/warehouselocations/">Home</a> - <a href="/mgt/warehouselocations/product_lookup.phtml">Add An Item To A Location</a> - <a href="/mgt/warehouselocations/remove_from_location.phtml">Remove a item from a location</a> - <a href="/mgt/warehouselocations/item_lookup.phtml">Look up where an item is located</a><div id="loading_gif"></div></B>
		<BR><BR>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
<tr>	
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td style="_text-align:center;">
	
	<table width="99%" id="table_box">
	<tbody>
	<tr bgcolor="#eeeeee">
		<td><p>Location</p></td>
		<td><p>PID</p></td>
		<td><p>UPC</p></td>
		<td><p>Brand</p></td>
		<td><p>Title</p></td>
	</tr>	
	<?php
	$q_allloc = "SELECT whs_isle, whs_row, whs_bin, COUNT(*) AS count
				 FROM whs_loc_mngt
				 GROUP BY whs_isle, whs_row, whs_bin";
	if(!$qok_allloc = mysql_db_query($DB, $q_allloc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	if (mysql_num_rows($qok_allloc) > 0)
	{
		$i = 1;
		while(list($whs_isle, $whs_row, $whs_bin, $count_pids) = mysql_fetch_array($qok_allloc))
		{
			$q_allpids = "SELECT DISTINCT product_list.id, product_list.upccode, product_manufacturers.manname, product_list.descr
						  FROM whs_loc_mngt
						  JOIN product_list ON product_list.id = whs_loc_mngt.pid
						  JOIN product_manufacturers ON product_manufacturers.manid = product_list.manid
						  WHERE whs_loc_mngt.whs_isle = '$whs_isle'
						  AND whs_loc_mngt.whs_row = '$whs_row'
						  AND whs_loc_mngt.whs_bin = '$whs_bin'
						  ORDER BY whs_loc_mngt.pid ASC";
			if(!$qok_allpids = mysql_db_query($DB, $q_allpids, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
			?>
			<?php 
			if ($count_pids == 1)
			{
				list($pid, $upccode, $brand, $descr) = mysql_fetch_array($qok_allpids);
				?>
				<tr align="left" bgcolor="<?php echo ($i % 2 == 0) ? '#eeeeee' : '#ffffff'; ?>">
					<td><p><?php echo $whs_isle; ?>,<?php echo strtoupper($whs_row); ?>,<?php echo $whs_bin; ?></p></td>
					<td><p><?php echo $pid; ?></p></td>
					<td><p><?php echo $upccode; ?></p></td>
					<td><p><?php echo $brand; ?></p></td>
					<td><p><strong><?php echo $descr; ?></strong></p></td>
				</tr>
				<?php		
			}
			else 
			{
				$j = 1;
				while (list($pid, $upccode, $brand, $descr) = mysql_fetch_array($qok_allpids))
				{
					if ($j == 1)
					{
						?>
						<tr align="left" bgcolor="<?php echo ($i % 2 == 0) ? '#eeeeee' : '#ffffff'; ?>">
							<td rowspan="<?php echo $count_pids; ?>"><p><?php echo $whs_isle; ?>,<?php echo strtoupper($whs_row); ?>,<?php echo $whs_bin; ?></p></td>
							<td><p><?php echo $pid; ?></p></td>
							<td><p><?php echo $upccode; ?></p></td>
							<td><p><?php echo $brand; ?></p></td>
							<td><p><strong><?php echo $descr; ?></strong></p></td>
						</tr>
						<?php
					}
					else 
					{
						?>
						<tr align="left" bgcolor="<?php echo ($i % 2 == 0) ? '#eeeeee' : '#ffffff'; ?>">
							<td><p><?php echo $pid; ?></p></td>
							<td><p><?php echo $upccode; ?></p></td>
							<td><p><?php echo $brand; ?></p></td>
							<td><p><strong><?php echo $descr; ?></strong></p></td>
						</tr>
						<?php				
					}
					++$j;
				}
			}
			++$i;
		}
		?>
		<tr><td colspan="5" align="left"> <button value="Export CSV" onclick="exportCSV();" class="buttonItem">Export CSV</button></td></tr>		
		<?php
	}
	else 
	{
		?>
		<tr><td colspan="5">No results.</td></tr>
		<?php
	}
	?>
	</tbody>
	</table>	

	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>