<?

if(isset($c) && $c == "100")
{
	Header("Location: http://www.therawfoodworld.com/stonegrinder-nutbutters-p100465");
	exit;
}
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

REQUIRE($ROOT_DIR."/mgt/classes/ipinfoclass.phtml");
$iclass = new ipinfoClass();
$iclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

header("Cache-Control: no-cache, must-revalidate"); // HTTP/1.1
header("Expires: Sat, 26 Jul 1997 05:00:00 GMT"); // Date in the past

// redirect from /products.phtml?c=xxxx to /lorem-ipsum-dolorem-pxxxx
if ($_SERVER['REQUEST_URI'] && substr($_SERVER['REQUEST_URI'],0,15) == '/products.phtml')
{
	$url = $sc->createProductsNewUrlById($c);
	if ($lid && $lid == 36) { $url = '/at-cost-specials-l36'; }
	if ($p && $p > 0) { $url .= '?p=' . $p; }

	header("HTTP/1.1 301 Moved Permanently"); 
	header("Location: " . $url); 
	exit;
}

$catTree = $sc->getCatTreeExt($c);

if ($lid != '') 
{
	$sb = (isset($_SESSION['SB']['list'][$lid])) ? $_SESSION['SB']['list'][$lid] : '';
}
else 
{
	$sb = (isset($_SESSION['SB']['cat'][$c])) ? $_SESSION['SB']['cat'][$c] : '';
}
if ($sb == '') {
	$sb = 1;
}elseif (!is_numeric($sb)) {
	$sb = 3;
}
if(intval($ipp) > 0)
{
	$_SESSION["IPP_RESULTS"] = $ipp;
	$ipp_results = $ipp;
}
if(intval($_SESSION["IPP_RESULTS"]) == 0)
{
	$_SESSION["IPP_RESULTS"] = 12;
	$ipp_results = 12;
}
else {
	$ipp_results = $_SESSION["IPP_RESULTS"];
}
if(intval($p) == 0)$p = 1;

//$plist = $sc->getProducts($c, $lid, $p, $mid, $min, $max, $kw, $ss, $sb,$filters_arr, &$numproducts, &$numpages, &$bview, &$eview, &$nextpage, &$lastpage);
$plist = $sc->getProductsSort($c, $lid, $p, $mid, $min, $max, $kw, $ss, $sb,$filters_arr, &$numproducts, &$numpages, &$bview, &$eview, &$nextpage, &$lastpage);

$cat_desc = $sc->getCategoryDescr($c);
include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/general.js?<?php echo time(); ?>" async="" type="text/javascript"></script>
<meta name="expires" content="tue, 01 Jun 2010 19:45:00 GMT">
<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                  if($c == "100571")
                	include($ROOT_DIR."/include/products_100571.phtml");
                 else if($c == "100576")
                	include($ROOT_DIR."/include/products_clean.phtml");
                else if($c == "100570")
                	include($ROOT_DIR."/include/products_100571.phtml");
                else if(($c == "100382") || ($c == "100465") || ($c == "100497"))
                	include($ROOT_DIR."/include/products_clean.phtml");
				else if($c == "100591") 
                	include($ROOT_DIR."/include/products_100591.phtml");
                else
                	include($ROOT_DIR."/include/products.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>


<?php
$ecomm_pagetype="category";
include($ROOT_DIR."/include/footer.phtml");
?>

