<?

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");


REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
		
	return $data;
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


function add2Query($add2query, $addon)
{
	$addon .= " AND $add2query ";
		
	return $addon;
}

$addontables = "";

if($pid != "")
{
	$addon = add2Query(" price_change_log_items.pid = '$pid'", $addon);
}
	
	
if($disable_range != "true")
{
	if($bdate != "") $addon = add2Query(" price_change_log.date_created >= '".strtotime("$bdate 00:00:00")."' ", $addon);
	if($edate != "") $addon = add2Query(" price_change_log.date_created <= '".strtotime("$edate 23:59:59")."' ", $addon);
}

$query = "select price_change_log.id, price_change_log.date_created,price_change_log_items.pid, price_change_log_items.price_new, price_change_log_items.price_old from price_change_log, price_change_log_items $addontables 
			where 
			price_change_log.id = price_change_log_items.logid 
			$addon 
			order by price_change_log.id desc";
//print_r($query);
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$numrows = mysql_num_rows($qok);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$ITEMS_PER_PAGE = 50;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($numrows > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $numrows)
	$eview = $numrows;
if(mysql_data_seek($qok, $offset) == false){echo "No records found";exit();}
?>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($numrows,0);?> Log Entries on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<table width=100%>
<tr bgcolor="#eeeeee">
	<td height=21><B>ID</B></td>
	<td height=21><B>Response</B></td>
	<td height=21><B>PID</B></td>
	<td height=21><B>Time Stamp</B></td>
	<td height=21><B>Price Old</B></td>
	<td height=21><B>Price New</B></td>
	<td height=21><B>Price Level 2</B></td>
</tr>
<?
$numout = 0;
while((list($id, $tstamp, $pid, $price_new, $price_old) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
{
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$id;?></td>
		<td height=21><a href="view_response.phtml?logid=<?=$id;?>&pid=<?=$pid?>" target="_blank">log</a></td>
		<td height=21>	
			<?=$pid?>
		</td>
		<td height=21><?=date("m/d/Y H:i:s",$tstamp);?></td>
		<td height=21><?=$price_old;?></td>
		<td height=21><?=$price_new;?></td>
		<td height=21><?
			$qx = "SELECT price_level2 FROM product_prices WHERE id='".$pid."'";
			if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($price_level1) = mysql_fetch_array($qokx);
			echo $price_level1;
			?></td>
	<?
	$numout++;
}
?>
</table>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($numrows,0);?> Log Entries on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<?mysql_close();?>