<form name="plreport">
    <table>
        <tr>
            <td class="g1">Range 1:</td>
            <td>
            <select name="qdate" class="formselect" onchange="changeRange();">
                    <option value="-1">-Quick Range-</option>
                    <option value="1">Today</option>
                    <option value="6">Yesterday</option>

                    <option value="7">Yesterday + Today</option>

                    <option value="2">Last 7 Days</option>
                    <option value="3">Last 14 Days</option>
                    <option value="4">Last 30 Days</option>

                    <option value="8">Last 60 Days</option>
                    <option value="9">Last 90 Days</option>
                    <option value="10">Last 120 Days</option>

                    <option value="5">Last Month</option>
            </select>
		<br />
            <?
            if($_SESSION["OM_SAVEDSEARCH"]['bdate'] == "") $_SESSION["OM_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
            if($_SESSION["OM_SAVEDSEARCH"]['edate'] == "") $_SESSION["OM_SAVEDSEARCH"]['edate'] = date("m/d/Y");
            ?>
            <input type="text" name="bdate" value="<?=$_SESSION["OM_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onkeypress="return cancelReturn(this, event)">
            - to -
                    <input type="text" name="edate" value="<?=$_SESSION["OM_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
onclick="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onkeypress="return cancelReturn(this, event)">
            </td>
    </tr>
    <tr>
            <td class="g1">Range 2:</td>
            <td>
            <select name="qdate2" class="formselect" onchange="changeRange2();">
                    <option value="-1">-Quick Range-</option>
                    <option value="1">Today</option>
                    <option value="6">Yesterday</option>

                    <option value="7">Yesterday + Today</option>

                    <option value="2">Last 7 Days</option>
                    <option value="3">Last 14 Days</option>
                    <option value="4">Last 30 Days</option>

                    <option value="8">Last 60 Days</option>
                    <option value="9">Last 90 Days</option>
                    <option value="10">Last 120 Days</option>

                    <option value="5">Last Month</option>
            </select>
		<br />
            <?
            if($_SESSION["OM_SAVEDSEARCH"]['bdate2'] == "") $_SESSION["OM_SAVEDSEARCH"]['bdate2'] = date("m/d/Y");
            if($_SESSION["OM_SAVEDSEARCH"]['edate2'] == "") $_SESSION["OM_SAVEDSEARCH"]['edate2'] = date("m/d/Y");
            ?>
            <input type="text" name="bdate2" value="<?=$_SESSION["OM_SAVEDSEARCH"]['bdate2'];?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['plreport'].bdate2,'anchor3x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate2,'anchor3x','MM/dd/yyyy'); return false;" ID="anchor3x" onkeypress="return cancelReturn(this, event)">
            - to -
                    <input type="text" name="edate2" value="<?=$_SESSION["OM_SAVEDSEARCH"]['edate2'];?>" size=15 class="formbox" style="width:65px"
onclick="cal1x.select(document.forms['plreport'].edate2,'anchor4x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate2,'anchor4x','MM/dd/yyyy'); return false;" ID="anchor4x" onkeypress="return cancelReturn(this, event)">
            </td>
    </tr>
        <tr>
            <td class="g1">Type:</td>
            <td>
                <select id="type" name="type" class="formselect">
                    <option value="">------</option>
                    <?
                        if($DB == 'butterfly') {
                            ?>
                                <option value="1">ButterflyPhoto</option>
                                <option value="2">AmazingDeals</option>
                            <?
                        }
                        elseif($DB == 'ecom') {
                            ?>
                                <option value="1">Ecom</option>
                            <?
                        }
                    ?>
                    
                </select>
                
            </td>
        </tr>
        <tr>
            <td class="g1">ID:</td>
            <td><input type="text" name="id" id="id" style="width:75px" value="" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
        </tr>
        <tr>
            <td class="g1"><B>Assigned To:</B></td>
            <td>
                <select name="assignedto" id="assignedto" class="formSelect">
                <?
                	if ($DB == 'butterfly') {
                		
	                	if ($_SESSION['ID'] == '4' || $_SESSION['ID'] == '13' || $_SESSION['ID'] == '14' || $_SESSION['ID'] == '46' || $_SESSION['ID'] == '98') {
		                	?>
		                    <option value="-1">--- SELECT ----</option>
		                    <option value="UN">Unassigned</option>
		                    <?
		
		                    $query = "select id, displayname from users order by displayname";
		                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		                    while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
		                    {
		                    ?>
		                            <option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
		                    <?	
		                    }
		                 
	                    }
	                    else {
		                    $query = "select id, displayname from users WHERE id='".$_SESSION['ID']."' order by displayname";
		                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		                    while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
		                    {
		                    ?>
		                            <option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
		                    <?	
		                    }
	                    }
                	}
                    else {
                    	?>
		                    <option value="-1">--- SELECT ----</option>
		                    <option value="UN">Unassigned</option>
		                    <?
		
		                    $query = "select id, displayname from users order by displayname";
		                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		                    while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
		                    {
		                    ?>
		                            <option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
		                    <?	
		                    }
                    }
                   ?>
                </select>
            </td>	
        </tr>
        <?
        $result = "SHOW TABLES LIKE 'list_groups'";
        if(!$qok = mysql_db_query($DB, $result, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$tableExists = mysql_num_rows($qok) > 0;
		if ($tableExists) {
        ?>
        
        
        <tr>
                <td class="g1">Groups:</td>
                <td>
                        <select name="groupid" id="groupid" class="formSelect" onchange="getListsByGroup();">
                        <option value="0">----- SELECT --------
                        <?
                        $query = "SELECT id, group_name
                        		  FROM list_groups
                        		  ORDER BY group_name ASC";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        while(list($gid, $group_name) = mysql_fetch_array($qok))
                        {
							?>
                            <option value="<?=$gid;?>"><?=$group_name;?>
                            <?
                        }
                        ?>
                        </select>
                </td>
        </tr>
        <?}?>
        <tr>
            <td class="g1">List:</td>
            <td>
                <select name="listid" id="listid" class="formSelect" multiple="multiple">
                    <option value="">----- SELECT --------</option>
                    <?
                    $query = "select lid, list_title from lists order by list_title";
                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    while(list($lid, $list_title) = mysql_fetch_array($qok))
                    {
                            if(strlen($list_title) > 25)
                            {
                                    $list_title = substr($list_title, 0, 18)."...";
                            }
                            ?>
                            <option value="<?=$lid;?>"><?=$list_title;?></option>
                            <?
                    }
                    ?>
                </select>	
<!--                <BR>
                <input type="checkbox" name="nolist" value="1">Not on a list					-->
            </td>
        </tr>
        <tr>
            <td class="g1">Brand:</td>
            <td>
                <select name="brand" id="brand" class="formSelect">
                    <option value="">----- SELECT --------</option>
                    <?
                    $query = "select manid, manname from product_manufacturers order by manname";
                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    while(list($manid, $manname) = mysql_fetch_array($qok))
                    {
                            if(strlen($manname) > 25)
                            {
                                    $manname = substr($manname, 0, 18)."...";
                            }
                            ?>
                            <option value="<?=$manid;?>"><?=$manname;?></option>
                            <?
                    }
                    ?>
                </select>						
            </td>
        </tr>
        <tr>
            <td class="g1"><B>Sourced From:</B></td>
            <td>
                <select name="sourcing" id="sourcing" class="formSelect">
                    <option value="-1">--- SELECT ----</option>
                    <?

                    $query = "select vendorid, vendorname from vendors order by vendorname";
                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
                    {
                            if(strlen($x_vendorname) > 25)
                            {
                                    $x_vendorname = substr($x_vendorname, 0, 22)."...";
                            }
                    ?>
                            <option value="<?=$x_vendorid;?>"><?=$x_vendorname;?></option>
                    <?	
                    }
                    ?>
                </select>
            </td>	
        </tr>
        <tr>
            <td class="g1">Exc. open PO:</td>
            <td><input type="checkbox" name="exclude_po" id="exclude_po"></td>
        </tr>
         <tr>
                    <td class="g1" colspan="2" valign="top">
                    	<table>
                    		<tr>
                    			<td class="g1" valign="top" nowrap>
                    				Only show items with < 
	                    			
                    			</td>
                    			<td>
                    			<input type="text" id="whmin" name="whmin" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['whmin'];?>" style="width:25px" class="formBox" onkeypress="return cancelReturn(this, event)">						
                    			</td>
                    			<td>
                    				
			                        <select name="whid" id="whid" class="formSelect" multiple>
			                        <option value="">--- SELECT ---
			                        <?
			                        $query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key != ''";
			                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			                        while(list($whid, $whname) = mysql_fetch_array($qok))
			                        {
			                        ?>
			                        <option value="<?=$whid;?>" <?if($whid == $_SESSION["SAVEDSEARCH_SKU"]['whid']) echo "SELECTED";?>><?=$whname;?></option>
			                        <?	
			                        }
			                        ?>
			                        </select>
                    			
                    			</td>
                    		</tr>
	                    	
                        </table>
                     </td>       
                </tr>
        <tr>
            <td class="g1"><div style="padding-top:2px;">Return:</td>
            <td valign=top>
                    <select name="num2return" id="num2return" class="formSelect">
                            <option value="50" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 50) echo "SELECTED"; ?>>50 items (default)
                            <option value="100" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 100) echo "SELECTED"; ?>>100 items
                            <option value="1000" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 1000) echo "SELECTED"; ?>>1000 items
                            <option value="2500" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 2500) echo "SELECTED"; ?>>2500 items
                            <option value="9999" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 9999) echo "SELECTED"; ?>>9999 items
                    </select>						
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <div align=center>
                    <input type="button" name="Action" value="View Report" onclick="pullReport(1,'')" class="buttonItem">&nbsp;&nbsp;
                    <input type="button" name="" value="Export" onclick="pullReport(1,'do')" class="buttonItem">&nbsp;&nbsp;
                    <input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
                </div>										
            </td>
        </tr>						
    </table>

</form>	