<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_relationship_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon_alpha/amazon_config.phtml");
REQUIRE($ROOT_DIR."/mgt/".AMAZON_DIR."/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');      

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select id from ".TABLE_PREFIX_AMAZON."_feed_report where type = 'PRICE' and complete = '0'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) > 0)
{
	$query = "select tstamp from ".TABLE_PREFIX_AMAZON."_feed_report where type = 'PRICE' order by tstamp desc limit 0, 1";
	if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($tstamp) = mysql_fetch_array($q3ok);
	$feedage = (time() - strtotime($tstamp)) / 60;
	if($feedage > 120)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		$query = "update ".TABLE_PREFIX_AMAZON."_feed_report set complete = 1 where id = '$feedreportid'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "Reset feed $feedreportid\n";
	}
	else 
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue(AMAZON_CONFIG_VALUES, "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue(AMAZON_CONFIG_VALUES, "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue(AMAZON_CONFIG_VALUES, "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue(AMAZON_CONFIG_VALUES, "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue(AMAZON_CONFIG_VALUES, "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Relationship</MessageType>

";


$usequantity = -1;
$qty_control = 100;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed

$price_level = $efc->getConfigValue(AMAZON_CONFIG_VALUES, "PRICE_LEVEL");

/*
			amazon_base_messages.price != product_prices.price_level$price_level AND
*/

$query = "select distinct(".TABLE_PREFIX_AMAZON."_base_messages.pid), ".TABLE_PREFIX_AMAZON."_base_messages.mid, product_list.lastupdate 
			from ".TABLE_PREFIX_AMAZON."_base_messages, product_list, product_prices
			where 
			product_list.id = product_prices.id AND
			".TABLE_PREFIX_AMAZON."_base_messages.pid = product_list.id AND
			".TABLE_PREFIX_AMAZON."_base_messages.mid NOT IN (select mid from ".TABLE_PREFIX_AMAZON."_errors) group by ".TABLE_PREFIX_AMAZON."_base_messages.pid";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from ".TABLE_PREFIX_AMAZON."_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	exit;
}

$numlisted = 0;

while(list($pid, $messageid, $lastupdate) = mysql_fetch_array($q2ok))
{
	if( (canWeListPID($mysqlid, $DB, $pid) == true) && ($efc->getConfigValue(AMAZON_CONFIG_VALUES, "EXCLUSIVE_PRICING") == 0) )
	{
		$numlisted++;
		
		$query = "select price_level$price_level, price_map from product_prices where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($price, $price_map) = mysql_fetch_array($qok);
		
		echo "PID: $pid - $price\n";
		
		$query = "insert into ".TABLE_PREFIX_AMAZON."_log_extended_skus(lid, pid) values('$logid', '$pid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update ".TABLE_PREFIX_AMAZON."_base_messages set price = '$price' where mid = '$messageid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "select custom_values.text_short from custom_fields, custom_values where custom_fields.id = custom_values.cfid and custom_fields.name = 'AMZ Add to Cart' and custom_values.pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($amz_add2cart) = mysql_fetch_array($qok);

		if(intval($amz_add2cart) > 0)
		{
			$data .= "<Message> 
				<MessageID>$messageid</MessageID> 
				<OperationType>$messageid</OperationType> 
				<Relationship> 
					<ParentSKU>$pid</ParentSKU> 
					<Relation>
						<SKU>$price_map</SKU> 
						<Type>$price_map</Type> 
					</Relation>
				</Relationship> 
			</Message>";
		}
		else 
		{
			$data .= "<Message> 
				<MessageID>$messageid</MessageID> 
				<OperationType>$messageid</OperationType> 
				<Relationship> 
					<ParentSKU>$pid</ParentSKU> 
					<Relation>
						<SKU>$price_map</SKU> 
						<Type>$price_map</Type> 
					</Relation>
				</Relationship> 
			</Message>";
		}
	
		// only this script updates the lastupdate
		$query = "update ".TABLE_PREFIX_AMAZON."_base_messages set pid_lastupdate = '$lastupdate' where pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	else
	{
		echo "EXCLUSIVE_PRICING: $pid\n";
	}
	
}

$data .= "</AmazonEnvelope>\n";


if($numlisted == 0)
{
	echo "No Products to update\n";
	
	$query = "delete from ".TABLE_PREFIX_AMAZON."_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	exit;	
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$filename = "/tmp/".AMAZON_DIR."/price.".date("Ymd-His", time()).".xml";
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) 
{
	$query = "insert into ".TABLE_PREFIX_AMAZON."_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else 
{
	$query = "insert into ".TABLE_PREFIX_AMAZON."_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

echo "AWS_ACCESS_KEY_ID: ".AWS_ACCESS_KEY_ID."\n";
echo "AWS_SECRET_ACCESS_KEY: ".AWS_SECRET_ACCESS_KEY."\n";
echo "MARKETPLACE_ID: ".MARKETPLACE_ID."\n";
echo "MERCHANT_ID: ".MERCHANT_ID."\n";

$service = new MarketplaceWebService_Client(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, $config, APPLICATION_NAME, APPLICATION_VERSION);

$feedHandle = fopen($filename, "r");

if(!$feedHandle)
{
	echo "Error opening file\n";
	exit;
}

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_RELATIONSHIP_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);


try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into ".TABLE_PREFIX_AMAZON."_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('PRICE', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update ".TABLE_PREFIX_AMAZON."_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}

fclose($feedHandle);

echo "$filename";
?>
<?mysql_close();?>