<?
ini_set('memory_limit', '-1');

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$REQUESTID = $argv[2];

if($ROOT_DIR == "" || $REQUESTID == "")
{
	echo "usage: create_inventory_feed.phtml ROOT_DIR REQUESTID\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon_alpha/amazon_config.phtml");
REQUIRE($ROOT_DIR."/mgt/".AMAZON_DIR."/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');       
 
function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue(AMAZON_CONFIG_VALUES, "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue(AMAZON_CONFIG_VALUES, "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue(AMAZON_CONFIG_VALUES, "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue(AMAZON_CONFIG_VALUES, "MARKETPLACE_ID"));
/********************************************************************************************/

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

 $service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
     
$filename = "/tmp/".AMAZON_DIR."/$REQUESTID.xml";

$fp = fopen($filename, "w");

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedSubmissionId' => $REQUESTID,
  'FeedSubmissionResult' => $fp,
);

$request = new MarketplaceWebService_Model_GetFeedSubmissionResultRequest($parameters);


try 
{
	$response = $service->getFeedSubmissionResult($request);
              
	if ($response->isSetResponseMetadata()) 
	{ 
		fclose($fp);

		echo "\n\nSUCCESSFUL!\n\n";
		
		$query = "select type from ".TABLE_PREFIX_AMAZON."_feed_report where reportid = '$REQUESTID'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
		list($REPORTTYPE) = mysql_fetch_array($qok);
		
		$fp = fopen($filename, "r");
		if(!$fp){echo "NO FILE!<BR>";exit;}
		$data = "";
		while(!feof($fp))$data .= fgets($fp, 4096);
		fclose($fp);
		
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into ".TABLE_PREFIX_AMAZON."_log(title, tstamp, requestid) values('$REPORTTYPE', '$tstamp', '$REQUESTID')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
		$logid = mysql_insert_id();
		
/*		$query = "SELECT @@max_allowed_packet";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
		list($maxsize) = mysql_fetch_array($qok);
		
		$filesize = filesize($filename);
		
		if($filesize > $maxsize)
		{
			$query = "insert into ".TABLE_PREFIX_AMAZON."_log_extended(lid, type, data) values('$logid', 'response', 'Filesize was too large')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
	
			copy($filename, $ROOT_DIR."/mgt/".AMAZON_DIR."/logs/basefeed_response_$REQUESTID.xml");

		}
		else 
		{*/
			$query = "insert into ".TABLE_PREFIX_AMAZON."_log_extended(lid, type, data) values('$logid', 'response', '".addslashes($data)."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){   }
		//}
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		
		$xmldata = xml2array($data, 1);
		
		$processingreport = $xmldata['AmazonEnvelope']['Message']['ProcessingReport'];
		$processingstatus = @$processingreport['StatusCode']['value'];
		
		if($processingstatus == "")
			$processingstatus = $processingreport['StatusCode'][0]['value'];
		
		if($processingstatus == "")
			$processingstatus = $processingreport['Summary']['StatusCode']['value'];
		
		echo "REPORTYPE: $REPORTTYPE\n";

		if($processingstatus == "Complete")
		{
			echo "1\n";
			
			$query = "update ".TABLE_PREFIX_AMAZON."_feed_report set complete = '1' where reportid = '$REQUESTID'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
			
			echo "Feed Complete<BR><BR>\n";
			
			$numerrors = @$processingreport['ProcessingSummary']['MessagesWithError']['value'];
			$numwarnings = @$processingreport['ProcessingSummary']['MessagesWithWarning']['value'];
			
			if($numerrors == "" && $numwarnings == "")
			{
				$numerrors = $processingreport['ProcessingSummary'][0]['MessagesWithError']['value'];
				$numwarnings = $processingreport['ProcessingSummary'][0]['MessagesWithWarning']['value'];
				
			}
			if($numerrors == "" && $numwarnings == "")
			{
				$numerrors = $processingreport['Summary']['ProcessingSummary']['MessagesWithError']['value'];
				$numwarnings = $processingreport['Summary']['ProcessingSummary']['MessagesWithWarning']['value'];
				
			}
			echo "NUMERRORS: $numerrors\n";
			echo "NUMWARNINGS: $numwarnings\n";
			
			if(intval($numerrors) > 0 || intval($numwarnings) > 0)
			{
				echo "2\n";
				$result = @$processingreport['Result'];
				
				if(@$result[0]['MessageID']['value'] == "")
				{
					$mid = $result['MessageID']['value'];
					$ResultCode = $result['ResultCode']['value'];
					$ResultMessageCode = $result['ResultMessageCode']['value'];
					$ResultDescription = $result['ResultDescription']['value'];
					$sku = @$result['AdditionalInfo']['SKU']['value'];
					$message = addslashes("$ResultMessageCode - $ResultDescription");
			
					$pid = $sku;
					echo "REPORTYPE: $REPORTTYPE\n";
					if($REPORTTYPE == "BASE_CF" || $REPORTTYPE == "BASE_TAX") {
					    
					}
					elseif($REPORTTYPE == "BASE")
					{
					    if($ResultCode === 'Error') {
						$query = "select id from ".TABLE_PREFIX_AMAZON."_errors where mid = '$mid' and pid = '$sku' and message = '$message'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						if(mysql_num_rows($qok) <= 0)
						{
							$query = "select pid, campid from ".TABLE_PREFIX_AMAZON."_base_messages where mid = '$mid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							list($pid, $campid) = mysql_fetch_array($q2ok);
								
							if(intval($pid) <= 0)
							{
								$query = "select pid from ".TABLE_PREFIX_AMAZON."_log, ".TABLE_PREFIX_AMAZON."_log_extended_skus where 
											".TABLE_PREFIX_AMAZON."_log.id = ".TABLE_PREFIX_AMAZON."_log_extended_skus.lid and 
											".TABLE_PREFIX_AMAZON."_log.requestid = '$REQUESTID' and 
											".TABLE_PREFIX_AMAZON."_log.title = 'Base Feed Creation' and
											".TABLE_PREFIX_AMAZON."_log_extended_skus.mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }											
								list($pid) = mysql_fetch_array($q2ok);	
							}

						}	
						
						if(intval($campid) <= 0)
						{
							$query = "select ".TABLE_PREFIX_AMAZON."_campaigns.id from ".TABLE_PREFIX_AMAZON."_campaigns, ".TABLE_PREFIX_AMAZON."_campaign_lists, list_products where 
									".TABLE_PREFIX_AMAZON."_campaigns.id = ".TABLE_PREFIX_AMAZON."_campaign_lists.campid AND ".TABLE_PREFIX_AMAZON."_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							list($campid) = mysql_fetch_array($q2ok);									
						}
						
						$tstamp = date("Y-m-d H:i:s", time());
						$query = "insert into ".TABLE_PREFIX_AMAZON."_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
					    }
					}
					else if($REPORTTYPE == "ORDERADJUSTMENT")
					{
						echo "ORDERADJUSTMENT\n\n";
						
						$numerrors = $processingreport['ProcessingSummary']['MessagesWithError']['value'];
							
						if($numerrors > 1)
						{
							$results = $processingreport['Result'];
								
							for($xx = 0; $xx < count($results); $xx++)
							{
								$descr = addslashes($results[$xx]['ResultDescription']['value']);
								$invoiceid = $results[$xx]['AdditionalInfo']['AmazonOrderID']['value'];
								
								echo "----------------------------------------\n";
								echo "INVOICEID: $invoiceid\n";
								echo "DESCR: $descr\n";
								
								// update this refund with any error message
								$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = '$descr' where invoiceid = '$invoiceid' and reportid = '$REQUESTID'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
									
								// get the credit associated with the order
								$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and invoiceid = '$invoiceid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								list($creditid) = mysql_fetch_array($q2ok);
									
								// set the credit status to declined
								$query = "update customer_orders set status = '4' where orderid = '$creditid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }									
							}
								
						}
						else if($numerrors == 1)
						{
							$results = $processingreport['Result'];
							$descr = addslashes($results['ResultDescription']['value']);
							$invoiceid = $results['AdditionalInfo']['AmazonOrderID']['value'];
								
							echo "----------------------------------------\n";
							echo "INVOICEID: $invoiceid\n";
							echo "DESCR: $descr\n";
							
							// update this refund with any error message
							$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = '$descr' where invoiceid = '$invoiceid' and reportid = '$REQUESTID'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							
							// get the credit associated with the order
							$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and invoiceid = '$invoiceid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							list($creditid) = mysql_fetch_array($q2ok);
							
							// set the credit status to declined
							$query = "update customer_orders set status = '4' where orderid = '$creditid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }									
						
						}
							
						// update the log to show we have successfully processed this report
						//$query = "update amazon_log set status = 'Successful' where requestid = '$REQUESTID'";
						//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							
						// any credits without errors, mark as successful
						$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = 'Successful' where reportid = '$REQUESTID' and status = ''";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							
						// update the status of all the non-errored credits to Complete
						$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and status = ''";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						while(list($creditid) = mysql_fetch_array($q2ok))
						{
							$query = "update customer_orders set status = '5' where orderid = '$creditid'";
							if(!$q211ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						}
					}
					else 
					{
						$query = "select id from ".TABLE_PREFIX_AMAZON."_errors_other where requestid = '$REQUESTID' and message = '$message'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						if(mysql_num_rows($qok) <= 0)
						{
							$query = "select pid, campid from ".TABLE_PREFIX_AMAZON."_base_messages where mid = '$mid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							list($pid, $campid) = mysql_fetch_array($q2ok);
								
							if(intval($pid) <= 0)
							{
								$query = "select pid from ".TABLE_PREFIX_AMAZON."_log, ".TABLE_PREFIX_AMAZON."_log_extended_skus where 
											".TABLE_PREFIX_AMAZON."_log.id = ".TABLE_PREFIX_AMAZON."_log_extended_skus.lid and 
											".TABLE_PREFIX_AMAZON."_log.requestid = '$REQUESTID' and 
											".TABLE_PREFIX_AMAZON."_log.title = 'Base Feed Creation' and
											".TABLE_PREFIX_AMAZON."_log_extended_skus.mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }											
								list($pid) = mysql_fetch_array($q2ok);	
							}
							
						}	
						
						if(intval($campid) <= 0)
						{
							$query = "select ".TABLE_PREFIX_AMAZON."_campaigns.id from ".TABLE_PREFIX_AMAZON."_campaigns, ".TABLE_PREFIX_AMAZON."_campaign_lists, list_products where 
									".TABLE_PREFIX_AMAZON."_campaigns.id = ".TABLE_PREFIX_AMAZON."_campaign_lists.campid AND ".TABLE_PREFIX_AMAZON."_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							list($campid) = mysql_fetch_array($q2ok);									
						}
							
						$tstamp = date("Y-m-d H:i:s", time());
						$query = "insert into ".TABLE_PREFIX_AMAZON."_errors_other(pid, tstamp, message, mid, campid, requestid, type) ";
						$query .= " values('$pid', '$tstamp', '$message', '$mid', '$campid', '$REQUESTID', '$REPORTTYPE')";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
					}
				}
				else 
				{
					echo "4\n";
					for($xx = 0; $xx < count(@$result); $xx++)
					{
						$mid = $result[$xx]['MessageID']['value'];
						$ResultCode = $result[$xx]['ResultCode']['value'];
						$ResultMessageCode = $result[$xx]['ResultMessageCode']['value'];
						$ResultDescription = $result[$xx]['ResultDescription']['value'];
						$sku = $result[$xx]['AdditionalInfo']['SKU']['value'];
						$message = addslashes("$ResultMessageCode - $ResultDescription");
			
						$pid = $sku;
						
						echo "REPORTTYPE2[$xx] $REPORTTYPE\n";
						if($REPORTTYPE == "BASE_TAX" || $REPORTTYPE == "BASE_CF" ) {
					    
						}
						elseif($REPORTTYPE == "BASE")
						{
						    if($ResultCode === 'Error') {
							$query = "select id from ".TABLE_PREFIX_AMAZON."_errors where mid = '$mid' and pid = '$sku' and message = '$message'";
							echo "\n$query\n";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							if(mysql_num_rows($qok) <= 0)
							{
								$query = "select pid, campid from ".TABLE_PREFIX_AMAZON."_base_messages where mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								list($pid, $campid) = mysql_fetch_array($q2ok);
								
								if(intval($pid) <= 0)
								{
									$query = "select pid from ".TABLE_PREFIX_AMAZON."_log, ".TABLE_PREFIX_AMAZON."_log_extended_skus where 
												".TABLE_PREFIX_AMAZON."_log.id = ".TABLE_PREFIX_AMAZON."_log_extended_skus.lid and 
												".TABLE_PREFIX_AMAZON."_log.requestid = '$REQUESTID' and 
												".TABLE_PREFIX_AMAZON."_log.title = 'Base Feed Creation' and
												".TABLE_PREFIX_AMAZON."_log_extended_skus.mid = '$mid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }											
									list($pid) = mysql_fetch_array($q2ok);	
								}
								
							}
						
							if(intval($campid) <= 0)
							{
								$query = "select ".TABLE_PREFIX_AMAZON."_campaigns.id from ".TABLE_PREFIX_AMAZON."_campaigns, ".TABLE_PREFIX_AMAZON."_campaign_lists, list_products where 
										".TABLE_PREFIX_AMAZON."_campaigns.id = ".TABLE_PREFIX_AMAZON."_campaign_lists.campid AND ".TABLE_PREFIX_AMAZON."_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								list($campid) = mysql_fetch_array($q2ok);									
							}
							
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into ".TABLE_PREFIX_AMAZON."_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						    }
						}
						else if($REPORTTYPE == "ORDERADJUSTMENT")
						{
							echo "ORDERADJUSTMENT\n\n";	
							$numerrors = $processingreport['ProcessingSummary']['MessagesWithError']['value'];
							
							if($numerrors > 1)
							{
								$results = $processingreport['Result'];
								
								for($xx = 0; $xx < count($results); $xx++)
								{
									$descr = addslashes($results[$xx]['ResultDescription']['value']);
									$invoiceid = $results[$xx]['AdditionalInfo']['AmazonOrderID']['value'];
									
									echo "----------------------------------------\n";
									echo "INVOICEID: $invoiceid\n";
									echo "DESCR: $descr\n";
									
									// update this refund with any error message
									$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = '$descr' where invoiceid = '$invoiceid' and reportid = '$REQUESTID'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
									
									// get the credit associated with the order
									$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and invoiceid = '$invoiceid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
									list($creditid) = mysql_fetch_array($q2ok);
									
									// set the credit status to declined
									$query = "update customer_orders set status = '4' where orderid = '$creditid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }									
								}
								
							}
							else if($numerrors == 1)
							{
								$results = $processingreport['Result'];
								$descr = addslashes($results['ResultDescription']['value']);
								$invoiceid = $results['AdditionalInfo']['AmazonOrderID']['value'];
									
								echo "----------------------------------------\n";
								echo "INVOICEID: $invoiceid\n";
								echo "DESCR: $descr\n";
								
								// update this refund with any error message
								$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = '$descr' where invoiceid = '$invoiceid' and reportid = '$REQUESTID'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								
								// get the credit associated with the order
								$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and invoiceid = '$invoiceid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								list($creditid) = mysql_fetch_array($q2ok);
								
								// set the credit status to declined
								$query = "update customer_orders set status = '4' where orderid = '$creditid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }									
							
							}
							
							// update the log to show we have successfully processed this report
							//$query = "update amazon_log set status = 'Successful' where requestid = '$REQUESTID'";
							//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							
							// any credits without errors, mark as successful
							$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = 'Successful' where reportid = '$REQUESTID' and status = ''";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							
							// update the status of all the non-errored credits to Complete
							$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and status = ''";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							while(list($creditid) = mysql_fetch_array($q2ok))
							{
								$query = "update customer_orders set status = '5' where orderid = '$creditid'";
								if(!$q211ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							}
							
							
						}
						else 
						{
							$query = "select id from ".TABLE_PREFIX_AMAZON."_errors_other where requestid = '$REQUESTID' and message = '$message'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
							if(mysql_num_rows($qok) <= 0)
							{
								$query = "select pid, campid from ".TABLE_PREFIX_AMAZON."_base_messages where mid = '$mid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								list($pid, $campid) = mysql_fetch_array($q2ok);
									
								if(intval($pid) <= 0)
								{
									$query = "select pid from ".TABLE_PREFIX_AMAZON."_log, ".TABLE_PREFIX_AMAZON."_log_extended_skus where 
												".TABLE_PREFIX_AMAZON."_log.id = ".TABLE_PREFIX_AMAZON."_log_extended_skus.lid and 
												".TABLE_PREFIX_AMAZON."_log.requestid = '$REQUESTID' and 
												".TABLE_PREFIX_AMAZON."_log.title = 'Base Feed Creation' and
												".TABLE_PREFIX_AMAZON."_log_extended_skus.mid = '$mid'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }											
									list($pid) = mysql_fetch_array($q2ok);	
								}
								
							}	
							
							if(intval($campid) <= 0)
							{
								$query = "select ".TABLE_PREFIX_AMAZON."_campaigns.id from ".TABLE_PREFIX_AMAZON."_campaigns, ".TABLE_PREFIX_AMAZON."_campaign_lists, list_products where 
										".TABLE_PREFIX_AMAZON."_campaigns.id = ".TABLE_PREFIX_AMAZON."_campaign_lists.campid AND ".TABLE_PREFIX_AMAZON."_campaign_lists.listid = list_products.lid AND list_products.pid = '$pid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
								list($campid) = mysql_fetch_array($q2ok);									
							}
							
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into ".TABLE_PREFIX_AMAZON."_errors_other(pid, tstamp, message, mid, campid, requestid, type) ";
							$query .= " values('$pid', '$tstamp', '$message', '$mid', '$campid', '$REQUESTID', '$REPORTTYPE')";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						}
					}
				}
			}
			else
			{
				echo "10\n";
			
				if($REPORTTYPE == "ORDERADJUSTMENT") // NO ERRORS
				{
					echo "ORDERADJUSTMENT DB: $DB\n\n";	
					$numerrors = $processingreport['ProcessingSummary']['MessagesWithError']['value'];
							
					// update the log to show we have successfully processed this report
					//$query = "update ".TABLE_PREFIX_AMAZON."_log set status = 'Successful' where requestid = '$REQUESTID'";
					//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "ERROR: ".mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						
					// any credits without errors, mark as successful
					$query = "update ".TABLE_PREFIX_AMAZON."_refunds set status = 'Successful' where reportid = '$REQUESTID' and status = ''";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "ERROR: ".mysql_error()."\n\n\n$query\n\n\n"; exit;  }
						
					// update the status of all the non-errored credits to Complete
					$query = "select creditid from ".TABLE_PREFIX_AMAZON."_refunds where reportid = '$REQUESTID' and status = 'Successful'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "ERROR: ".mysql_error()."\n\n\n$query\n\n\n"; exit;  }
					while(list($creditid) = mysql_fetch_array($q2ok))
					{
						$query = "update customer_orders set status = '5' where orderid = '$creditid'";
						if(!$q211ok = mysql_db_query($DB, $query, $mysqlid)){ echo "ERROR: ".mysql_error()."\n\n\n$query\n\n\n"; exit;  }
					}
				}
			}
			
				
			
			
			if($REPORTTYPE == "BASE")
			{
				//exec("/usr/bin/php -c /etc/php.ini -q $ROOT_DIR/mgt/".AMAZON_DIR."/scripts/request_listings_report.phtml $ROOT_DIR");
			}
			
		}
		else 
		{
			echo "Not Complete<BR>\n";
			
			print_r($xmldata)."\n\n";
		}
		
		
	}
} 
catch (MarketplaceWebService_Exception $ex) 
{
	echo("Caught Exception: " . $ex->getMessage() . "\n");
    echo("Response Status Code: " . $ex->getStatusCode() . "\n");
    echo("Error Code: " . $ex->getErrorCode() . "\n");
    echo("Error Type: " . $ex->getErrorType() . "\n");
    echo("Request ID: " . $ex->getRequestId() . "\n");
    echo("XML: " . $ex->getXML() . "\n");
    
    fclose($fp);

}


?>
<?mysql_close();?>