<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//$query = "SELECT asin, COUNT( * ) c FROM product_list WHERE asin != '' AND asin is not null GROUP BY asin HAVING c >1  ORDER BY c DESC";
$query = "SELECT product_list.id, product_list.asin
                FROM `product_list`
                INNER JOIN (

                SELECT asin, count( * ) AS c
                FROM product_list
                WHERE asin != ''
                AND asin IS NOT NULL
                GROUP BY asin
                HAVING c >1
                ) AS p ON p.asin = product_list.asin
            ORDER BY `product_list`.`asin`    
            ";

//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;

if(intval($num2return) <= 0)
	$num2return = 50;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>

<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>

<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center><b>ASIN</b></td>
	<td align=center><b>PID</b></td>
</tr>	
<?
$onrow = 0;
	while((list($pid, $asin) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
        {
            if($onrow % 2) {
                    echo "<tr bgcolor='#eeeeee'>";
            }
            else {
                    echo "<tr bgcolor='#ffffff'>";
            }
            ?>
                    <td align=center id="item_<?=$pid?>"><?=$asin?></td>
                    <td align=center>
                        <a href="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid?>&inwin=1', 'View SKU: <?=$pid?>','item_<?=$pid?>');"><?=$pid?></a>
                    </td>
            </tr>	

            <?
            $numout++;
            $onrow++;
        }
?>
</table>

<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>

