<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Delete")
{
	$query = "delete from product_accessories where id = '$id' and accid = '$aid'";
	$q6ok = mysql_db_query($DB, $query, $mysqlid);
	if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
}
else if($Action == "Add")
{
	for($xx = 0; $xx < count($aids); $xx++)
	{	
		$aid = $aids[$xx];
		
		$query = "delete from product_accessories where id = '$id' and accid = '$aid'";
		$q6ok = mysql_db_query($DB, $query, $mysqlid);
		if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
		$query = "insert into product_accessories(id, accid) value('$id', '$aid')";
		$q6ok = mysql_db_query($DB, $query, $mysqlid);
		if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	}
}
else if($Action == "Copy")
{
	$query = "insert into product_accessories(id, accid) select $id, accid from product_accessories where id = '$cid'";
	$q6ok = mysql_db_query($DB, $query, $mysqlid);
	if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
}


if($move != "")
{
	$savedid = $id;
	$savedaccid = $accid;
	
	$query = "select id, accid, dorder from product_accessories where id = '$id' order by dorder";	
	$qok = mysql_db_query($DB, $query, $mysqlid);
	if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$xx = 0;
	
	while(list($id, $accid, $dorder) = mysql_fetch_array($qok))
	{
		$dfclist['id'][] = $id;
		$dfclist['accid'][] = $accid;
		$dfclist['dorder'][] = $xx;
		
		$xx++;
	}
	
	// get the position of the current group
	for($xx = 0; $xx < count($dfclist['id']); $xx++)
	{
		if($dfclist['accid'][$xx] == $aid)
		{
			$thisposition = $xx;
			break;
		}
	}

	if($move == "up")
	{
		$newposition = $thisposition - 1;
	}
	else
	{
		$newposition = $thisposition + 2;
	}

	// now let's rebuild the array based on what they wanted to do
	for($xx = 0; $xx <= count($dfclist['id']); $xx++)
	{
		if($xx == $newposition)
		{
			$newdfclist['id'][] = $dfclist['id'][$thisposition];
			$newdfclist['accid'][] = $dfclist['accid'][$thisposition];
			$newdfclist['dorder'][] = $dfclist['dorder'][$thisposition];
		}

		if($xx != $thisposition)
		{// skip the one we're editing
			if($dfclist['id'][$xx] != "")
			{
				$newdfclist['id'][] = $dfclist['id'][$xx];
				$newdfclist['accid'][] = $dfclist['accid'][$xx];
				$newdfclist['dorder'][] = $dfclist['dorder'][$xx];
			}
		}
	}
	
	for($xx = 0; $xx < count($newdfclist['id']); $xx++)
	{
		$query = "update product_accessories set dorder = '$xx' where id = '".$newdfclist['id'][$xx]."' and accid = '".$newdfclist['accid'][$xx]."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}
	
	$id = $savedid;
	$accid = $savedaccid;
	
}
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script>
function viewParentSKU(sku)
{
	top.e2window("/mgt/sm/viewsku.phtml?id="+sku+"&inwin=1", "View SKU "+sku);
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function searchSKUs()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", brand = "";
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.addaccessory.keywords.value
  	
	brand = document.addaccessory.brand.options[ document.addaccessory.brand.selectedIndex ].value;
	
	if(document.addaccessory.cat0.selectedIndex > 0)
		cat0 = document.addaccessory.cat0.options[ document.addaccessory.cat0.selectedIndex ].value;
	
	if(document.addaccessory.cat1.selectedIndex > 0)
		cat1 = document.addaccessory.cat1.options[ document.addaccessory.cat1.selectedIndex ].value;
	
	if(document.addaccessory.cat2.selectedIndex > 0)		
		cat2 = document.addaccessory.cat2.options[ document.addaccessory.cat2.selectedIndex ].value;
	
	if(document.addaccessory.cat3.selectedIndex > 0)		
		cat3 = document.addaccessory.cat3.options[ document.addaccessory.cat3.selectedIndex ].value;
	
	if(document.addaccessory.cat4.selectedIndex > 0)		
		cat4 = document.addaccessory.cat4.options[ document.addaccessory.cat4.selectedIndex ].value;
			
	var url="/mgt/sm/ajax_qsearch.phtml?keywords="+keywords;
	url += "&cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
	url += "&maxout=20&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function closeResults()
{
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "";
	
	var theTable = document.all.results;
		
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 1)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0 && parseInt(rows[pp]) > 0)
						newCell.innerHTML = "<input type='checkbox' name='aids[]' value='"+rows[pp]+"'>";
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}

	}
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 


function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			searchSKUs();
 			return false; 
 		}
	}  
} 

var g_level = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.addaccessory.cat0.options[ document.addaccessory.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.addaccessory.cat1.options[ document.addaccessory.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.addaccessory.cat2.options[ document.addaccessory.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.addaccessory.cat3.options[ document.addaccessory.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.addaccessory.cat4.options[ document.addaccessory.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotCats;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotCats() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

	}
}


function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.addaccessory.cat1;
	theSelect.appendChild(nOption); 
}

function showCopyForm()
{
	var dlg = document.getElementById("copyresults");
	dlg.style.display = "block";
}

function closeCopy()
{
	var dlg = document.getElementById("copyresults");
	dlg.style.display = "";
}

</script>
<style type="text/css">
.dialog {
display:none;
left:50px;
top:25px;
width:650px;
height:400px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.dialog2 {
display:none;
left:50px;
top:25px;
width:225px;
height:75px;
position:absolute;
z-index:100;
background:#eeeeff;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
</style>
</HEAD>
<body>
<div id="skuresults" class="dialog">
<form name="aresults" method="post">
<table width=99% id="results" name="results">
<tr bgcolor="#eeeeee">
	<td height=21><div align="center">Add</div></td>
		<td><div align="center">Man</div></td>
		<td><div align="center">ManPart</div></td>
		<td><div align="center">Descr</div></td>
		<td><div align="center">V</div></td>
		<td><div align="center">Stock</div></td>
		<td><div align="center">Price</div></td>
		<td><div align="center">Avg.cost</div></td>
		<?
			if ($DB == 'riviera') {
				?>
				<td><div align="center">Color</div></td>
				<td><div align="center">Size</div></td>
				<?
			}
		?>
	</tr>
	<tr>
		<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
	</tr>	
</table>
<BR><BR>
<table width=100%>
<tr>
	<td>
		<input type="hidden" name="id" value="<?=$id;?>">
		<input type="submit" name="Action" value="Add" class="buttonItem">
	</td>
	
	<td align=right>
		<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
	</td>
</tr>
</table>
</form>
</div>


<div id="copyresults" class="dialog2">
<form name="copyform" method="post">
<table width=99%>
<tr>
	<td height=21>
		<B>Product ID:</B> <input type="text" name="cid" value="" class="formBox" style="width:75px"><input type="hidden" name="id" value="<?=$id;?>"><input type="submit" name="Action" value="Copy" class="buttonItem">
	</td>
</tr>
<tr>
	<td align=center>
		<a href="javascript:void(0);" onclick="closeCopy();">Close Window</a>
	</td>
</tr>
</table>
</form>
</div>

<?
if(intval($id) <= 0)
{
	?>
	<table>
	<tr>
		<td>
			You cannot edit the accessories until a sku (id) has been created.  Try saving the sku before editing the accessories.
		</td>
	</tr>
	</table>
	<?
}
else 
{
	?>
	<form name="addaccessory">
	<table>
	<tr>
		<td><B>Sku/Keywords:</B><input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
		
					<td><B>Brand:</B></td>
							<td>
								<select name="brand" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$query = "select manid, manname from product_manufacturers order by manname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($manid, $manname) = mysql_fetch_array($qok))
								{
									if(strlen($manname) > 25)
									{
										$manname = substr($manname, 0, 22)."...";
									}
									?>
									<option value="<?=$manid;?>"><?=$manname;?>
									<?
								}
								?>
								</select>						
							</td>
									
					<td><B>Category:</B></td>
					<td>
						<select name="cat0" class="formSelect" onchange="getCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>"><?=$catname;?>
							<?
						}
						?>
						</select>		
						<?
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 1)
						{
							?>
							<div id="cat1d" style="display:;">
								<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[0]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>"><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 2)
						{
							?>
							<div id="cat2d" style="display:;">
								<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[1]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>"><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval(count($loadedcats)) > 3)
						{
							?>
							<div id="cat3d" style="display:;">
								<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat2'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>"><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
						?>
						<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
						<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
					</td>
		<td>
			<input type="button"  name="Action" value="Search" onclick="searchSKUs()" class="buttonItem">	
		</td>		

		<td>
			<a href="javascript:void(0);" onclick="showCopyForm();"><img src="/mgt/images/copy.gif" border=0></a>
		</td>	
		</tr>		
	
	</table>
	
	<div style="background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
		<div align=center>
		<table>
		<tr>
			<td>To add an accessory, type keywords and hit "Search".  Search by Description, sku, manpart or ID.</td>
		</tr>
		</table>
		</div>
	</div>	
		
	</form>	
	<?
	$inwin = 1;
	
	$query = "select 	
				product_list.id,
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.upccode,
				product_list.platform, 
				product_prices.price_msrp,
				product_prices.price_level1,
				product_list.visible
				from 
				product_accessories, product_list, product_manufacturers, product_prices
				where
				product_accessories.accid = product_list.id and product_list.kit = '0' AND 
				product_list.manid = product_manufacturers.manid and 
				product_prices.id = product_list.id and product_accessories.id = '$id'
				order by product_accessories.dorder
				";
				
	$q6ok = mysql_db_query($DB, $query, $mysqlid);
	if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
	if(mysql_num_rows($q6ok) <= 0)
	{
		echo "<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td class=\"g\">No Accessories for this item.</td></tr></table>"; 
	}
	else 
	{
		$numout = 0;
		echo "<table>";
		//<img src=\"/getimage.phtml?id=$xid&itype=0\" width=75 border=0>				
		while(list($xid, $manname, $manpart, $descr, $upccode, $platform, $msrp, $price, $visible) = mysql_fetch_array($q6ok))
		{	
			if(strlen($manpart) > 11)
				$manpart = substr($manpart, 0, 8) . "...";
							
			$buffer = "<table width=197 border=0>";
			$buffer .= "<tr>";
			$buffer .= "	<td bgcolor=\"#eeeeee\" colspan=2><a href=\"javascript:void(0);\" onclick=\"viewParentSKU('$xid');\" class=\"title\">$manname - $descr</a></td>";
			$buffer .= "</tr>";
			$buffer .= "<tr>";
			$buffer .= "	<td bgcolor=\"#ffffff\"><a href=\"jvaascript:void(0);\" onclick=\"viewParentSKU('$xid');\" class=\"title\"></a></td>";
			$buffer .= "	<td bgcolor=\"#ffffff\" class=\"g\">";
			$buffer .= "		<table width=100%>";
			$buffer .= "		<tr>";
			
			$buffer .= "<td><div align=left>";
			$buffer .= "<a href=\"/mgt/sm/accessories_loader.phtml?id=$id&aid=$xid&move=down\"><img src=\"/mgt/images/down.gif\" border=0 alt=\"Move Down\"></a>";
			$buffer .= "<a href=\"/mgt/sm/accessories_loader.phtml?id=$id&aid=$xid&move=up\"><img src=\"/mgt/images/up.gif\" border=0 alt=\"Move Up\"></a>";
			$buffer .= "</td>";
			
			$buffer .= "			<td><div style=\"color:#800000;\" align=right><B>$ ".number_format($price, 2)."</B></div></td>";
			$buffer .= "		</tr>";
			$buffer .= "		<tr>";
			$buffer .= "			<td class=\"g\">Part: $manpart</td>";
			$buffer .= "		</tr>";
			$buffer .= "		<tr>";
			$buffer .= "			<td bgcolor=\"#ffffff\" class=\"g\" align=right NOWRAP colspan=2>";
			$buffer .= "				<a href=\"javascript:void(0);\" onclick=\"makesure('Are you sure you want to remove this accessory?', '/mgt/sm/accessories_loader.phtml?Action=Delete&id=$id&aid=$xid');\">";
			$buffer .= "					<img src=\"/mgt/images/del.gif\" border=0 align=left>Delete</a>";
			$buffer .= "			</td>";
			$buffer .= "		</tr>";
			$buffer .= "		</table>";
							
			$buffer .= "	</td>";
			$buffer .= "</tr>";
			$buffer .= "</table>";
						
			if($numout == 0)
			{
				echo "\n<tr><td>";
				$numout++;
			}
			else if($numout > 2)
			{
				echo "</td></tr>\n";
				$numout = 1;
				echo "\n<tr><td>";
			}
			else
			{
				echo "</td><td>\n";
				$numout++;
			}
				
			//echo "DATA";
			echo $buffer;
							
							
		}
						
		echo "</table>";
		
					
	}
	
	?>
	<table width=100%>
	<tr>
		<td height=21 bgcolor="#eeeeee"><B>Accessory Kits</B></td>
	</tr>
	</table>
	
	<?
	
	$query = "select 	
				product_list.id,
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.upccode,
				product_list.platform, 
				product_prices.price_msrp,
				product_prices.price_level1,
				product_list.visible
				from 
				product_accessories, product_list, product_manufacturers, product_prices
				where
				product_accessories.accid = product_list.id and product_list.kit = '1' AND 
				product_list.manid = product_manufacturers.manid and 
				product_prices.id = product_list.id and product_accessories.id = '$id'
				order by product_accessories.dorder";
				
	$q6ok = mysql_db_query($DB, $query, $mysqlid);
	if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
	if(mysql_num_rows($q6ok) <= 0)
	{
		echo "<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td class=\"g\">No Accessory Kits for this item.</td></tr></table>"; 
	}
	else 
	{
		$numout = 0;
		echo "<table>";
		//<img src=\"/getimage.phtml?id=$xid&itype=0\" width=75 border=0>				
		while(list($xid, $manname, $manpart, $descr, $upccode, $platform, $msrp, $price, $visible) = mysql_fetch_array($q6ok))
		{	
			if(strlen($manpart) > 11)
				$manpart = substr($manpart, 0, 8) . "...";
							
			$buffer = "<table width=197 border=0>";
			$buffer .= "<tr>";
			$buffer .= "	<td bgcolor=\"#eeeeee\" colspan=2><a href=\"javascript:void(0);\" onclick=\"viewParentSKU('$xid');\" class=\"title\">$manname - $descr</a></td>";
			$buffer .= "</tr>";
			$buffer .= "<tr>";
			$buffer .= "	<td bgcolor=\"#ffffff\"><a href=\"jvaascript:void(0);\" onclick=\"viewParentSKU('$xid');\" class=\"title\"></a></td>";
			$buffer .= "	<td bgcolor=\"#ffffff\" class=\"g\">";
			$buffer .= "		<table width=100%>";
			$buffer .= "		<tr>";

			$buffer .= "<td><div align=left>";
			$buffer .= "<a href=\"/mgt/sm/accessories_loader.phtml?id=$id&aid=$xid&move=down\"><img src=\"/mgt/images/down.gif\" border=0 alt=\"Move Down\"></a>";
			$buffer .= "<a href=\"/mgt/sm/accessories_loader.phtml?id=$id&aid=$xid&move=up\"><img src=\"/mgt/images/up.gif\" border=0 alt=\"Move Up\"></a>";
			$buffer .= "</td>";
			
			$buffer .= "			<td><div style=\"color:#800000;\" align=right><B>$ ".number_format($price, 2)."</B></div></td>";
			$buffer .= "		</tr>";
			$buffer .= "		<tr>";
			$buffer .= "			<td class=\"g\">Part: $manpart</td>";
			$buffer .= "		</tr>";
			$buffer .= "		<tr>";
			$buffer .= "			<td bgcolor=\"#ffffff\" class=\"g\" align=right NOWRAP colspan=2>";
			$buffer .= "				<a href=\"javascript:void(0);\" onclick=\"makesure('Are you sure you want to remove this accessory?', '/mgt/sm/accessories_loader.phtml?Action=Delete&id=$id&aid=$xid');\">";
			$buffer .= "					<img src=\"/mgt/images/del.gif\" border=0 align=left>Delete</a>";
			$buffer .= "			</td>";
					
			$buffer .= "		</tr>";
			$buffer .= "		</table>";
							
			$buffer .= "	</td>";
			$buffer .= "</tr>";
			$buffer .= "</table>";
						
			if($numout == 0)
			{
				echo "\n<tr><td>";
				$numout++;
			}
			else if($numout > 2)
			{
				echo "</td></tr>\n";
				$numout = 1;
				echo "\n<tr><td>";
			}
			else
			{
				echo "</td><td>\n";
				$numout++;
			}
				
			//echo "DATA";
			echo $buffer;
							
							
		}
						
		echo "</table>";
		
	}	

	echo "<BR><table bgcolor='#eeeeee'><tr><td>* Only accessories assigned to this specific sku are displayed here.<BR>";
	echo "* Accessories by category are excluded and cannot be edited from this page.</td></tr></table>";
	
}
?>
</body>
</html>
