<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_accbycat"); // will redirect on failure

if($Action == "Create")
{
	if(intval($cat0) > 0){ $savecat = $cat0;}
	if(intval($cat1) > 0 && intval($cat0) > 0){ $savecat = $cat1;}
	if(intval($cat2) > 0 && intval($cat0) > 0 && intval($cat1) > 0){ $savecat = $cat2; }
	if(intval($cat3) > 0 && intval($cat0) > 0 && intval($cat1) > 0 && intval($cat2) > 0){ $savecat = $cat3;}
	if(intval($cat4) > 0 && intval($cat0) > 0 && intval($cat1) > 0 && intval($cat2) > 0 && intval($cat3) > 0){ $savecat = $cat4;}	
	
	$query = "insert into accbycat_top(catid) values('$savecat')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	Header("Location: /mgt/sm/accessoriesbycat.phtml?inwin=$inwin");
	exit;
	
}
else if($Action == "Delete")
{
	$query = "delete from accbycat_top where id = '$topid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from accbycat_products where topid = '$topid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/sm/accessoriesbycat.phtml?inwin=$inwin");
	exit;	
}
?>
<HTML>
<HEAD>
<TITLE>Salesman Cost Defaults</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.accbycat.cat0.options[ document.accbycat.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.accbycat.cat1.options[ document.accbycat.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.accbycat.cat2.options[ document.accbycat.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.accbycat.cat3.options[ document.accbycat.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.accbycat.cat4.options[ document.accbycat.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		searchSKUs();
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function checkData()
{
	if(document.accbycat.sc_percent.value == "" && document.accbycat.sc_percent.value == "")
	{
		alert("You must enter the cost as a percent or dollar amount.")
		return false;
	}
	
	return true;
}

function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}

</script>
<body>
<?
if($inwin != 1)
{
?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Accessories by Category</B>
		<BR><BR>
<?
}
?>		

		<table width=100%>
		<tr>
			<td width=205 align=center>
			<!--------------------------------------------------------------->		
			<div style="border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;width:205px">
					<form name="accbycat" onsubmit="return checkData();">
					<input type="hidden" name="inwin" value="<?=$inwin;?>">
						<table>
						
						<tr>
							<td class="g1">Category:</td>
							<td>
								<select name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
									<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat0) > 0)
								{
									?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat0'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat1) > 0 && intval($cat0) > 0)
								{
									?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat1'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat2) > 0)
								{
									?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat2'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							</td>
						</tr>				
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="submit" name="Action" value="Create" class="buttonItem">
										
							</td>
						</tr>						
												
						</table>
						
					</form>	
					<!--------------------------------------------------------------->			
				</div>
			<!--------------------------------------------------------------->		
			</td>
			
			<td>
			<!--------------------------------------------------------------->		
				
				<table width=75% id="results">
				<tr bgcolor="#eeeeee">
					<td class="g1"><div align=center>Category</td>
					<td class="g1"><div align=center>Manage</td>
					<td class="g1"><div align=center>Delete</td>
				</tr>	
				<?
				$query = "select id, catid from accbycat_top";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($topid, $catid) = mysql_fetch_array($qok))
				{
					$maincatid = $catid;
					
					$cattree = "";
					if(intval($catid) > 0)
					{
						while(intval($catid) > 0)
						{
							$query = "select catid, catname, parentid from product_categories where catid = '$catid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($catid, $catname, $parentid) = mysql_fetch_array($q2ok);
							
							if(trim($catname) != "")
							{
								$cattree['catid'][] = $catid;
								$cattree['catname'][] = $catname;
								$cattree['parentid'][] = $parentid;
							}
							
							$catid = $parentid;
						}
					}	
					
					if($altcolor == 0)
					{
						echo "<tr bgcolor='#ffffff'>";
						$altcolor = 1;						
					}
					else 
					{
						echo "<tr bgcolor='#eeeeee'>";
						$altcolor = 0;
					}
					?>
						<td>
							<?
							$lname = "";
							
							if($maincatid  == 0) echo "ALL CATEGORIES";
							$iout = 0;
							
							if(!is_array($cattree))
							{
								echo "*DELETED CATEGORY*";
							}
							else 
							{
								for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
								{
									for($tt=0;$tt<$iout;$tt++)
										echo "&nbsp;";
										
									echo $cattree['catname'][$xx]."<BR>";
									
									if($lname == "")
										$lname .= $cattree['catname'][$xx];
									else 	
										$lname .= " -> ".$cattree['catname'][$xx];
									$iout+=5;
								}
								
								$lname = str_replace("\"", "", $lname);
								$lname = str_replace("'", "", $lname);
							}							
							?>						
						</td>
						<td valign=top>
							<div align=center>
								<a href="/mgt/sm/accessoriesbycat_manage.phtml?id=<?=$topid;?>&inwin=<?=$inwin;?>"">
									Manage
								</a>
							</div>
						</td>
						<td valign=top>
							<div align=center>
							<a href="javascript:makesure('Are you sure you want to delete this entry?', 'accessoriesbycat.phtml?Action=Delete&topid=<?=$topid;?>&inwin=<?=$inwin;?>');">
								<img src="/mgt/images/del.gif" border=0 align="absmiddle">Delete
							</a>
							</div>
						</td>
					</tr>					
					<?					
				}
				?>
				</table>
			<!--------------------------------------------------------------->		
			</td>
		</tr>
		</table>
	<?
if($inwin != 1)
{
?>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?>
</body>
</html>