<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////



/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;

/******************************************************************************************/

$pidlist = explode(",", $idlist);

if($todo == "rea")
{
	$tstamp = date("Y-m-d H:i:s", time());
		
	$query = "insert into background_jobs(title, status, tstamp) values('eBay - Remove/Erase/Add', 'PENDING', '$tstamp')";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$jobid = mysql_insert_id();
}

for($xx = 0; $xx < count($pidlist); $xx++)
{
	$pid = $pidlist[$xx];
	
	if($todo == "add")
	{
		for($zz = 0; $zz < count($listid); $zz++)
		{
			if($efc->inList($pid, $listid[$zz]) <= 0)
			{
				$query = "delete from list_products where pid = '$pid' and lid = '".$listid[$zz]."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				//echo "$query<BR><BR>";
				
				$query = "insert into list_products(pid, lid) values('$pid', '".$listid[$zz]."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				//echo "$query<BR><BR>";
				
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				$query = "select list_title from lists where lid = '".$listid[$zz]."'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($list_title) = mysql_fetch_array($q2ok);
								
				$efc->logAction("SUCCESS", "1", $pid, "Added $pid to List ($list_title)", "Added $pid to List ($list_title)"); 
				$efc->UpdatePool("1", $pid);
				$efc->touchSKU($pid);
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
			}
			else 
			{
				$efc->logAction("FAILURE", "1", $pid, "$pid is already in a list", "$pid is already in a list"); 
			}
		}
	}
	else if($todo == "remove") 
	{
		for($zz = 0; $zz < count($listid); $zz++)
		{
			$query = "delete from list_products where pid = '$pid' and lid = '".$listid[$zz]."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			//echo "$query<BR><BR>";
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$query = "select list_title from lists where lid = '".$listid[$zz]."'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($list_title) = mysql_fetch_array($q2ok);
							
			$efc->logAction("SUCCESS", "1", $pid, "Deleted $pid from List ($list_title)", "Deleted $pid from List ($list_title)"); 
			$efc->UpdatePool("1", $pid);
			$efc->touchSKU($pid);
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	

		}
	}
	else if($todo == "rea")
	{
		
		for($zz = 0; $zz < count($listid); $zz++)
		{
			$thislistid = $listid[$zz];
			
			$query = "insert into background_job_skus(jobid, pid, listid, complete) values('$jobid', '$pid', '$thislistid', '0')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}		
	}
}

Header("Location: /mgt/sm/search.phtml");
?>