<form name="skusearch">
	<table>
	<?
	$filters_array = array();
	
	$queryx = "select colname, coltitle, dorder from user_search_filters where userid = '".$_SESSION["ID"]."' order by dorder";
	if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qokx)>0) {
		while(list($colname, $coltitle, $dorder) = mysql_fetch_array($qokx))
		{
			array_push($filters_array,array("id"=>$colname,"title"=>$coltitle,"default"=>"1"));
		}
	}
	else {
		$filters_array = array(
					array("id"=>"keywords","title"=>"Keywords","default"=>"1"),
					array("id"=>"id","title"=>"ID","default"=>"1"),
					array("id"=>"asin","title"=>"ASIN","default"=>"1"),
					array("id"=>"sku","title"=>"SKU","default"=>"1"),
					array("id"=>"category","title"=>"Category","default"=>"1"),
					array("id"=>"brand","title"=>"Brand","default"=>"1"),
					array("id"=>"list","title"=>"List","default"=>"1"),
					array("id"=>"exc_list","title"=>"EXC if on list","default"=>"1"),
					array("id"=>"man_part","title"=>"Man Part","default"=>"1"),
					array("id"=>"condition","title"=>"Condition","default"=>"1"),
					array("id"=>"upc","title"=>"UPC","default"=>"1"),
					array("id"=>"visible","title"=>"Visible","default"=>"1"),
					array("id"=>"display_on","title"=>"Display On","default"=>"1"),
					array("id"=>"return","title"=>"Return","default"=>"1")
				);
	}
	foreach ($filters_array as $k=>$v) {
		
		$colname = $v['id'];
			switch ($colname) {
				case "keywords":
					?>
						<tr>
							<td class="g1">Keywords:</td>
							<td><input type="text" id="keywords" name="keywords" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['keywords'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "id":
					?>
						<tr>
							<td class="g1">ID:</td>
							<td><input type="text" id="id" name="id" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['id'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "ebay_id":
					?>
						<tr>
							<td class="g1">Ebay ID:</td>
							<td><input type="text" id="ebayid" name="ebayid" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['ebayid'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "asin":
					?>
						<tr>
							<td class="g1">ASIN:</td>
							<td><input type="text" id="asin" name="asin" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['asin'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"><input type="checkbox" name="hasasin" value="1"  <?if(@in_array($hasasin, @$_SESSION["SAVEDSEARCH_SKU"]['hasasin'])) echo "CHECKED";?>>Has ASIN</td>
						</tr>
					<?
					break;
				case "fba_sku":
					?>
						<tr>
							<td class="g1">FBA SKU:</td>
							<td><input type="text" id="fbasku" name="fbasku" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['fbasku'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "sku":
					?>
						<tr>
							<td class="g1">SKU:</td>
							<td><input type="text" id="sku" name="sku" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['sku'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "dist_sku":
					?>
						<tr>
							<td class="g1">DIST SKU:</td>
							<td><input type="text" id="distsku" name="distsku" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['distsku'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "category":
					?>
						<tr>
							<td class="g1">Category:</td>
							<td>
								<select id="cat0" name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0 order by catname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$catid;?>" <?if($catid == $_SESSION["SAVEDSEARCH_SKU"]['cat0']) echo "SELECTED";?>><?=$catname;?>
									<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($_SESSION["SAVEDSEARCH_SKU"]['cat0']) > 0)
								{
									?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '".$_SESSION["SAVEDSEARCH_SKU"]['cat0']."' order by catname";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $_SESSION["SAVEDSEARCH_SKU"]['cat1']) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($_SESSION["SAVEDSEARCH_SKU"]['cat1']) > 0 && intval($_SESSION["SAVEDSEARCH_SKU"]['cat0']) > 0)
								{
									?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '".$_SESSION["SAVEDSEARCH_SKU"]['cat1']."' order by catname";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $_SESSION["SAVEDSEARCH_SKU"]['cat2']) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($_SESSION["SAVEDSEARCH_SKU"]['cat2']) > 0)
								{
									?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '".$_SESSION["SAVEDSEARCH_SKU"]['cat2']."' order by catname";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $_SESSION["SAVEDSEARCH_SKU"]['cat3']) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							</td>
						</tr>	
					<?
					break;
				case "brand":
					?>
						<tr>
							<td class="g1">Brand:</td>
							<td>
								<select name="brand" id="brand" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$query = "select manid, manname from product_manufacturers order by manname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($manid, $manname) = mysql_fetch_array($qok))
								{
									if(strlen($manname) > 25)
									{
										$manname = substr($manname, 0, 18)."...";
									}
									?>
									<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH_SKU"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
									<?
								}
								?>
								</select>						
							</td>
						</tr>
					<?
					break;
				case "list":
					?>
				        <tr>
				                <td class="g1">Groups:</td>
				                <td>
				                        <select name="groupid" id="groupid" class="formSelect" onchange="getListsByGroup();">
				                        <option value="0">----- SELECT --------
				                        <?
				                        $query = "SELECT id, group_name
				                        		  FROM list_groups
				                        		  ORDER BY group_name ASC";
				                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				                        while(list($gid, $group_name) = mysql_fetch_array($qok))
				                        {
											?>
				                            <option value="<?=$gid;?>" <?if($_SESSION["SAVEDSEARCH_SKU"]['groupid'] == $gid) echo "SELECTED"; ?>><?=$group_name;?>
				                            <?
				                        }
				                        ?>
				                        </select>
				                </td>
				        </tr>
						<tr>
							<td class="g1">List:</td>
							<td>
								<select name="listid" id="listid" class="formSelect" multiple>
								<option value="">----- SELECT --------
								<?
								$query = "select lid, list_title from lists order by list_title";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($lid, $list_title) = mysql_fetch_array($qok))
								{
									if(strlen($list_title) > 25)
									{
										$list_title = substr($list_title, 0, 18)."...";
									}
									?>
									<option value="<?=$lid;?>" <?if($_SESSION["SAVEDSEARCH_SKU"]['listid'] == $lid) echo "SELECTED"; ?>><?=$list_title;?>
									<?
								}
								?>
								</select>	
								<BR>
								<input type="checkbox" id="nolist" name="nolist" value="1"  <?if($_SESSION["SAVEDSEARCH_SKU"]['nolist'] == 1) echo "CHECKED"; ?>>Not on a list					
							</td>
						</tr>
					<?
					break;
				case "exc_list":
					?>
						<tr>
							<td class="g1">EXC if on list:</td>
							<td>
								<select name="not_listid" id="not_listid" class="formSelect" multiple>
								<option value="" selected>----- SELECT --------</option>
								<?
								$lids = explode(',',$_SESSION["SAVEDSEARCH_SKU"]['not_listid']);
								
								$query = "select lid, list_title from lists order by list_title";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($lid, $list_title) = mysql_fetch_array($qok))
								{
									if(strlen($list_title) > 25)
									{
										$list_title = substr($list_title, 0, 18)."...";
									}
									if($DB == 'rawfoodworld' && (count($lids)<=0 || $lids == '' || $lids[0] == '')) {
									    $lids[] = 90;
									}
									?>
									<option value="<?=$lid;?>" <?if(in_array($lid,$lids)) echo " selected"?>><?=$list_title;?></option>
									<?
								}
								?>
								</select>	
							</td>
						</tr>
					<?
					break;
				case "man_part":
					?>
						<tr>
							<td class="g1">Man Part:</td>
							<td><input type="text" id="manpart" name="manpart" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['manpart'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "condition":
					?>
						<tr>
							<td class="g1">Condition:</td>
							<td>
								<select id="condition" name="condition" class="formSelect">
									<option value="0">----- SELECT --------
									<option value="3" <?if($_SESSION["SAVEDSEARCH_SKU"]['condition'] == 3) echo "SELECTED"; ?>>Refurb
									<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['condition'] == 2) echo "SELECTED"; ?>>Demo
									<option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['condition'] == 1) echo "SELECTED"; ?>>OEM
									<option value="4" <?if($_SESSION["SAVEDSEARCH_SKU"]['condition'] == 4) echo "SELECTED"; ?>>New
								</select>
							</td>
						</tr>
					<?
					break;
				case "upc":
					?>
						<tr>
							<td class="g1">UPC:</td>
							<td>
								<input type="text" id="upc" name="upc" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['upc'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">
								<input type="checkbox" id="hasupc" name="hasupc" value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['hasupc'] == 1) echo " CHECKED"; ?>>Has UPC
							</td>
						</tr>
					<?
					break;
				case "no_upc":
					?>
						<tr>
							<td class="g1">No UPC:</td>
							<td>
								<input type="checkbox" id="no_upc" name="no_upc" value="0" <?if($_SESSION["SAVEDSEARCH_SKU"]['no_upc'] == 1) echo " CHECKED"; ?>>
							</td>
						</tr>
					<?
					break;
				case "exclude_sellery":
					?>
						<tr>
							<td class="g1">Exclude Sellery:</td>
							<td>
								<input type="checkbox" id="exclude_sellery" name="exclude_sellery" value="0" <?if($_SESSION["SAVEDSEARCH_SKU"]['exclude_sellery'] == 1) echo " CHECKED"; ?>>
							</td>
						</tr>
					<?
					break;
				case "status":
					?>
						<tr>
							<td class="g1">Status:</td>
							<td>
								<select id="status" name="status" class="formSelect">
									<option value="0">----- SELECT --------
									<option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['status'] == 1) echo "SELECTED"; ?>>Active
									<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['status'] == 2) echo "SELECTED"; ?>>Allocated
									<option value="3" <?if($_SESSION["SAVEDSEARCH_SKU"]['status'] == 3) echo "SELECTED"; ?>>End of Life
									<option value="4" <?if($_SESSION["SAVEDSEARCH_SKU"]['status'] == 4) echo "SELECTED"; ?>>Discontinued
								</select>
							</td>
						</tr>	
					<?
					break;
				case "min_price":
					?>
						<tr>
							<td class="g1">Min Price:</td>
							<td><input type="text" id="minprice" name="minprice" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['minprice'];?>" style="width:50px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "max_price":
					?>
						<tr>
							<td class="g1">Max Price:</td>
							<td><input type="text" id="maxprice" name="maxprice" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['maxprice'];?>" style="width:50px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
					<?
					break;
				case "weight":
					?>
						<tr>
							<td class="g1">Weight:</td>
							<td>
								<select name="weight" id="weight">
									<option value="" <?if($_SESSION["SAVEDSEARCH_SKU"]['weight'] == '') echo "SELECTED"; ?>>-----</option>
									<option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['weight'] == 1) echo "SELECTED"; ?>>--<--</option>
									<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['weight'] == 2) echo "SELECTED"; ?>>-->--</option>
								</select>
								<input type="text" name="weight_value" value="<?=$_SESSION['SAVEDSEARCH_SKU']['weight_value']?>" style="width:50px" class="formBox"/>
							</td>
						</tr>	
					<?
					break;
				case "weight_range":
					?>
						 <tr>
                                                        <td class="g1">Weight Range:</td>
                                                        <td>
                                                            <input type="text" name="weight_range_min" id="weight_range_min" value="<?=$_SESSION['SAVEDSEARCH_SKU']['weight_range_min']?>" style="width:50px" class="formBox"/>
                                                            &nbsp;&nbsp;-&nbsp;&nbsp;
                                                            <input type="text" name="weight_range_max" id="weight_range_max" value="<?=$_SESSION['SAVEDSEARCH_SKU']['weight_range_max']?>" style="width:50px" class="formBox"/>
                                                        </td>
                                                </tr>	
					<?
					break;
				case "visible":
					?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Visible:</td>
							<td valign=top>
								<select name="visible" id="visible" class="formSelect">
									<option value="-1">----- ALL --------
									<option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['visible'] == 1) echo "SELECTED"; ?>>Visible Only
									<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['visible'] == 2) echo "SELECTED"; ?>>Hidden Only
								</select>						
							</td>
						</tr>
					<?
					break;
				case "inventory":
					?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Inventory:</td>
							<td valign=top>
								<select name="inventory" id="inventory" class="formSelect">
									<option value="-1">----- ALL --------
									<option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['inventory'] == 1) echo "SELECTED"; ?>>In-Stock (exc DS)
									<option value="3" <?if($_SESSION["SAVEDSEARCH_SKU"]['inventory'] == 3) echo "SELECTED"; ?>>In-Stock (inc DS)
									<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['inventory'] == 2) echo "SELECTED"; ?>>Out of Stock
									<option value="4" <?if($_SESSION["SAVEDSEARCH_SKU"]['inventory'] == 4) echo "SELECTED"; ?>>Out of Stock (DS)
								</select>						
							</td>
						</tr>
					<?
					break;
				case "include":
					?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Include:</td>
							<td valign=top>
								<select name="includekits" id="includekits" class="formSelect">
									<option value="1">All SKUs
									<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['includekits'] == 2 || $_SESSION["SAVEDSEARCH_SKU"]['includekits'] == '' || !isset($_SESSION["SAVEDSEARCH_SKU"]['includekits'])) echo "SELECTED"; ?>>Exclude Kits	
									<option value="3" <?if($_SESSION["SAVEDSEARCH_SKU"]['includekits'] == 3) echo "SELECTED"; ?>>Only Show Kits
									<option value="4" <?if($_SESSION["SAVEDSEARCH_SKU"]['includekits'] == 4) echo "SELECTED"; ?>>Only Show AutoPack
								</select>						
							</td>
						</tr>	
					<?
					break;
				case "kit_sku":
					?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Kit SKU (PID):</td>
							<td valign=top>
								<input type="text" name="component" id="component" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['component'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">						
							</td>
						</tr>
					<?
					break;
				case "acc_sku":
					?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Acc. SKU (PID):</td>
							<td valign=top>
								<input type="text" name="accessory" id="accessory" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['accessory'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">						
							</td>
						</tr>
					<?
					break;
				case "acc_sku":
					?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Acc. SKU (PID):</td>
							<td valign=top>
								<input type="text" name="accessory" id="accessory" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['accessory'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">						
							</td>
						</tr>
					<?
					break;
				case "assigned_to":
					?>
						<tr>
							<td class="g1"><B>Assigned To:</B></td>
							<td>
								<select name="assignedto" id="assignedto" class="formSelect">
								<option value="-1">--- SELECT ----</option>
								<option value="UN">Unassigned</option>
								<?
								
								$query = "select id, displayname from users order by displayname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
								{
								?>
									<option value="<?=$x_userid;?>" <?if($x_userid == $_SESSION["SAVEDSEARCH_SKU"]['assignedto']) echo "SELECTED";?>><?=$x_displayname;?></option>
								<?	
								}
								?>
								</select>
							</td>	
						</tr>
					<?
					break;
				case "alt_sku":
					if ($DB == 'ecom' || $DB == 'ajritchie') {
						?>
						<tr>
							<td class="g1"><B>ALT Sku:</B></td>
							<td>
								<select name="alt_sku" id="alt_sku" class="formSelect">
								<option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['alt_sku'] == 1) echo "SELECTED";?>>Dont show alts</option>
								<option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['alt_sku'] == 2) echo "SELECTED";?>>Show all</option>
								<option value="3" <?if($_SESSION["SAVEDSEARCH_SKU"]['alt_sku'] == 3) echo "SELECTED";?>>Show children</option>
							</td>	
						</tr>		
						<?
					}
					break;
				case "scost_to_price_gap":
					if($_SESSION["USERTYPE"] == "MANAGER")
					{
						?>
						<tr>
							<td class="g1">SCost to Price Gap:</td>
							<td>
								<input type="text" name="mingap" id="mingap" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['mingap'];?>" style="width:50px;text-align:right;" class="formBox" onkeypress="return cancelReturn(this, event)"> or >
							</td>
						</tr>
						<?
					}
					break;
				case "wh_instock":
					if($_SESSION["USERTYPE"] == "MANAGER")
					{
						?>
						<tr>
							<td class="g1">WH Instock:</td>
							<td>
								<select name="whid" id="whid" class="formSelect">
								<option value="">--- SELECT ---
								<?
								$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key != ''";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($whid, $whname) = mysql_fetch_array($qok))
								{
								?>
								<option value="<?=$whid;?>" <?if($whid == $_SESSION["SAVEDSEARCH_SKU"]['whid']) echo "SELECTED";?>><?=$whname;?></option>
								<?	
								}
								?>
								</select>
								<select name="whtype" id="whtype" class="formSelect">
                                                                    <option value="">---</option>
                                                                    <option value="1" <?if($_SESSION["SAVEDSEARCH_SKU"]['whtype'] == 1) echo "SELECTED";?>> > </option>
                                                                    <option value="2" <?if($_SESSION["SAVEDSEARCH_SKU"]['whtype'] == 2) echo "SELECTED";?>> < </option>
                                                                    <option value="3" <?if($_SESSION["SAVEDSEARCH_SKU"]['whtype'] == 3) echo "SELECTED";?>> = </option>
                                                                </select>
								<input type="text" name="whmin" id="whmin" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['whmin'];?>" style="width:25px" class="formBox" onkeypress="return cancelReturn(this, event)">						
							</td>
						</tr>							
						<?
					}
					break;
                                case "whminqty":
					if($_SESSION["USERTYPE"] == "MANAGER")
					{
						?>
						<tr>
                                                    <td class="g1">Min Qty:</td>
                                                    <td>
                                                            <select name="whminqty" id="whminqty" class="formSelect">
                                                            <option value="">--- SELECT ---
                                                                <option value="1">Items below Min QTY</option>
                                                                <option value="2">Items w 0 Qty</option>
                                                            </select>
                                                    </td>
                                                </tr>						
						<?
					}
					break;
				case "sourced_from":
						?>
						<tr>
							<td class="g1"><B>Sourced From:</B></td>
							<td>
								<select name="sourcing" id="sourcing" class="formSelect">
								<option value="-1">--- SELECT ----</option>
								<?
								
								$query = "select vendorid, vendorname from vendors order by vendorname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
								{
									if(strlen($x_vendorname) > 25)
									{
										$x_vendorname = substr($x_vendorname, 0, 22)."...";
									}
								?>
									<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH_SKU"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
								<?	
								}
								?>
								</select>
							</td>	
						</tr>	
						<?
					break;
				case "min_sourced_qty":
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Min Sourced QTY:</td>
							<td valign=top>
								<input type="text" name="sourcing_qty" id="sourcing_qty" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['sourcing_qty'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">						
							</td>
						</tr>
						<?
					break;
				case "no_image":
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;"></td>
							<td valign=top>
								<input type="checkbox" name="noimage" id="noimage" value="1" <?if(@in_array($divid, @$_SESSION["SAVEDSEARCH_SKU"]['noimage'])) echo "CHECKED";?>>No Image<BR>
							</td>
						</tr>
						<?
					break;
                                case "superpricer":
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;"></td>
							<td valign=top>
								<input type="checkbox" name="superpricer" id="superpricer" value="1" <?if(@in_array($divid, @$_SESSION["SAVEDSEARCH_SKU"]['superpricer'])) echo "CHECKED";?>>SuperPricer Managed<BR>
							</td>
						</tr>
						<?
					break;
				case "display_on":
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Display On:</td>
							<td valign=top>
								<?
								$query = "select divid, sitename from site_list order by sitename";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($divid, $sitename) = mysql_fetch_array($qok))
								{
									?>
									<input class="displayon" type="checkbox" name="displayon_<?=$divid;?>" id="displayon_<?=$divid;?>" <?if(@in_array($divid, @$_SESSION["SAVEDSEARCH_SKU"]['displayon'])) echo "CHECKED";?>><?=$sitename;?><BR>
									<?
								}
								?>	
												
							</td>
						</tr>
						<?
					break;
				case "return":
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<td valign=top>
								<select name="num2return" id="num2return" class="formSelect">
									<option value="50" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 50) echo "SELECTED"; ?>>50 items (default)
									<option value="100" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 100) echo "SELECTED"; ?>>100 items
									<option value="1000" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 1000) echo "SELECTED"; ?>>1000 items
									<option value="9999" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 2500) echo "SELECTED"; ?>>2500 items
									<option value="9999" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 9999) echo "SELECTED"; ?>>9999 items
								</select>						
							</td>
						</tr>	
						<?
					break;
			}
		}
	?>
	<tr>
		<td colspan=2>
			<BR>
				<div align=center>
					<input type="button" name="" value="Search" onclick="searchSKUs();" class="buttonItem">&nbsp;&nbsp;
					<input type="button" name="" value="Export" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
					<input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
					<input type="button" name="" value="Save" onclick="saveForm();" class="buttonItem"></div>
		</td>
	</tr>									
	<tr>
		<td colspan=2>
			<div align=center>
			<!---
				<input type="button" name="Action" value="Search" class="buttonItem">
				&nbsp;&nbsp;
				<input type="button" name="Action" value="Clear" class="buttonItem">
			--->
			<BR>
			<div id="skuresults" style="display:inline;">&nbsp;</div>
			<div id="poolresults" style="display:inline;">&nbsp;</div>		
			</div>
		</td>
	</tr>
	
							
	</table>
	
</form>	
<!--------------------------------------------------------------->