<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$pkid = $cmicid;

$query = "select pkid, pkbrand, pkcategory, colorsavail, seriesname, statuscodes from productbase where pkid = '$pkid'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($pkid, $pkbrand, $pkcategory, $colorsavail, $seriesname, $statuscodes) = mysql_fetch_array($qok);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select commonbrandid, commonbrandname from brand_data where pkid = '$pkbrand'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($commonbrandid, $commonbrandname) = mysql_fetch_array($qok);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$saveclass = "";
$query = "select pksupercategory, pkclass, category_id, consumerdescription from categories where pkid = '$pkcategory'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($pksupercategory, $pkclass, $category_id, $consumerdescription) = mysql_fetch_array($qok);
?>

<HR NOSHADE><BR>
MAP_Target <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'map', '');"><BR><BR>
<table>
<?
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select currentactivemap, currentmapeffectivedate, mintargetprice, maxtargetprice from map_target where pkproduct = '$pkid'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($currentactivemap, $currentmapeffectivedate, $mintargetprice, $maxtargetprice) = mysql_fetch_array($qok);
?>
	<tr>
		<td>CurrentActiveMAP</td>
		<td><?=$currentactivemap;?></td>
	</tr>
	<?
?>
</table>	

<HR NOSHADE><BR>
KeyFeatures <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'features', '');"><BR><BR>

<?
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select basicdescription, expandeddescription, keyfeature1, keyfeature2, keyfeature3, keyfeature4, keyfeature5 from keyfeatures where pkproduct = '$pkid'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($basicdescription, $expandeddescription, $keyfeature1, $keyfeature2, $keyfeature3, $keyfeature4, $keyfeature5) = mysql_fetch_array($qok);


$stuff = "$commonbrandname $e2sku ";

if($keyfeature1 != "" || $keyfeature2 != "" || $keyfeature3 != "" || $keyfeature4 != "" || $keyfeature5 != "")
{
	$stuff .= " FEATURES: ";
}
		
if($keyfeature1 != "") $stuff .= "$keyfeature1";
if($keyfeature2 != "") $stuff .= ", $keyfeature2";
if($keyfeature3 != "") $stuff .= ", $keyfeature3";
if($keyfeature4 != "") $stuff .= ", $keyfeature4";
if($keyfeature5 != "") $stuff .= ", $keyfeature5";

echo $stuff;	
?>


<HR NOSHADE>
ProductEnhancedFeatures <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'enhancedfeatures', '');"><BR><BR>
<?
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$spectable = "";
$query = "select featurecategory, feature from productenhancedfeatures where pkproduct = '$pkid' order by featurecategory";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($featurecategory, $feature) = mysql_fetch_array($qok))
{
	if($featurecategory == $lastfeaturecategory)
	{
		$spectable .= "<tr><td>$feature</td></tr>";
	}
	else 
	{
		$spectable .= "<tr><td class=\".t32A\" colspan=\"2\"><B>$featurecategory</B></td></tr>";
		$spectable .= "<tr><td>$feature</td></tr>";
	}
	$lastfeaturecategory = $featurecategory;
}

$spectable = "<table class=\"t30\" cellspacing=\"0\"><tbody>".$spectable."</td></tr></table>";

echo $spectable;
?>

<HR NOSHADE><BR>
AssetData 
<BR>
<input type="button" name="Action" value="Copy Image" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'image', '');"><BR><BR>
<input type="button" name="Action" value="Copy Docs" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'docs', '');"><BR><BR>
<table style="border:1px dashed #808080" cellpadding=2 cellspacing=2>
<?
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select colorcode from sku_basic where pkproduct = '$pkid'";
if(!$q2ok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) > 1)
{
	$colorcode = substr($e2sku, strlen($e2sku) - 2);
	$query = "select ast_url_txt, ast_role_txt from 
				assetdata, joinassettosku, sku_basic, productbase where
				assetdata.pkid = joinassettosku.pkasset and
				joinassettosku.pksku = sku_basic.pkid and
				sku_basic.pkproduct = productbase.pkid and 
				sku_basic.colorcode = '$colorcode' AND
				productbase.pkid = '$pkid'";
}
else 
{
	$query = "select ast_url_txt, ast_role_txt from 
				assetdata, joinassettosku, sku_basic, productbase where
				assetdata.pkid = joinassettosku.pkasset and
				joinassettosku.pksku = sku_basic.pkid and
				sku_basic.pkproduct = productbase.pkid and 
				productbase.pkid = '$pkid'";	
}

if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($ast_url_txt, $ast_role_txt) = mysql_fetch_array($qok))
{
	$ast_url_txt = str_replace("http//", "http://", $ast_url_txt);
	?>
	<tr>
		<td>
		<?
		if($ast_role_txt == "LargerPhoto" || $ast_role_txt == "GeneralPhoto" || $ast_role_txt == "PrimaryPhoto" || $ast_role_txt == "ThumbnailPhoto")
		{
			?>
			<a href="<?=$ast_url_txt;?>" target="_blank"><img src="<?=$ast_url_txt?>" width=125></a><BR>
			<?=$ast_role_txt;?>
			<?
		}
		else 
		{
			?>
			<a href="<?=$ast_url_txt;?>" target="_blank"><?=$ast_role_txt;?></a>
			<?
		}
		?>
		</td>
	</tr>
	<tr>
		<td style="border-bottom:1px dashed #808080;">&nbsp;</td>
	</tr>
	<?
}
?>
</table>
<I>* Photos are set to 125px for display here</I>

<HR NOSHADE><BR>
ProductMeasurements <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'measurements', '');">
<BR>
<?
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select pkproduct, pkmeasurementsmetadata, measurementvalue, fractionaldimensionvalue from productmeasurements where pkproduct = '$pkid'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pkproduct, $pkmeasurementsmetadata, $measurementvalue, $fractionaldimensionvalue) = mysql_fetch_array($qok))
{
	$query = "select measurementname, unitsofmeasurement from measurementsmetadata where pkmeasurementsmetadata = '$pkmeasurementsmetadata'";
	if(!$q2ok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($measurementname, $unitsofmeasurement) = mysql_fetch_array($q2ok);
	
	if(strtolower($measurementname) == "height") $height = str_replace(".00", "", $measurementvalue);
	if(strtolower($measurementname) == "width")  $width = str_replace(".00", "", $measurementvalue);
	if(strtolower($measurementname) == "depth")  $depth = str_replace(".00", "", $measurementvalue);
	
	if(strtolower($measurementname) == "total capacity")  		$totalcapacity = str_replace(".00", "", $measurementvalue);
	if(strtolower($measurementname) == "refrigerator capacity") $refrigeratorcapacity = str_replace(".00", "", $measurementvalue);
	if(strtolower($measurementname) == "freezer capacity")  	$freezercapacity = str_replace(".00", "", $measurementvalue);
	if(strtolower($measurementname) == "shelf area")  			$shelfarea = str_replace(".00", "", $measurementvalue);
}
?>
<table>
<tr>
	<td>Height: <?=$height;?></td>
</tr>
<tr>
	<td>Width: <?=$width;?></td>
</tr>
<tr>
	<td>Depth: <?=$depth;?></td>
</tr>
<?if($totalcapacity != ""){?>
<tr><td>Total Capacity: <?=$totalcapacity;?></td></tr>
<?}?>
<?if($refrigeratorcapacity != ""){?>
<tr><td>Refrigerator Capacity: <?=$refrigeratorcapacity;?></td></tr>
<?}?>
<?if($freezercapacity != ""){?>
<tr><td>Freezer Capacity: <?=$freezercapacity;?></td></tr>
<?}?>
<?if($shelfarea != ""){?>
<tr><td>Shelf Area: <?=$shelfarea;?></td></tr>
<?}?>
<?if($seriesname != ""){?>
<tr><td>Series: <?=$seriesname;?></td></tr>
<?}?>

</table>

<HR NOSHADE><BR>
StandardColor <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'color', '');">
<BR>
<?
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select sku, colorcode, colordescription, standardcolor from sku_basic where pkproduct = '$pkid' and sku = '$e2sku'";
if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($sku, $colorcode, $colordescription, $standardcolor) = mysql_fetch_array($qok);
?>
<table>
<tr>
	<td><?if(strtolower($standardcolor) == "other"){ echo "<font color='#eeeeee'>"; }?><?=$standardcolor;?></td>
</tr>
</table>
<HR NOSHADE><BR>
Product Title <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopycmicData('<?=$cmicid;?>', '<?=$pid;?>', '<?=$e2sku;?>', 'title', '');">
<BR><BR>
<?=$commonbrandname;?><?if($seriesname != "") echo " $seriesname";?> <?=$e2sku;?> <?if($expandeddescription == ""){echo $basicdescription;} else{echo $expandeddescription;}?> <?if($standardcolor != "" && strtolower($standardcolor) != "other") echo "- $standardcolor";?>