<?
$cat0 = $_POST['cat0'];
$cat1 = $_POST['cat1'];
$cat2 = $_POST['cat2'];
$cat3 = $_POST['cat3'];
$cat4 = $_POST['cat4'];
$id = $_POST['id'];
$sku = $_POST['sku'];
$manpart = $_POST['manpart'];
$upc = $_POST['upc'];
$keywords = $_POST['keywords'];
$condition = $_POST['condition'];
$status = $_POST['status'];
$minprice = $_POST['minprice'];
$maxprice = $_POST['maxprice'];
$brand = $_POST['brand'];
$visible = $_POST['visable'];
$inventory = $_POST['inventory'];
$component = $_POST['component'];
$accessory = $_POST['accessory'];
$includekits = $_POST['includekits'];
$assignedto = $_POST['assignedto'];
$num2return = $_POST['num2return'];
$mingap = $_POST['mingap'];

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$whatrow = 1;
echo '<?xml version="1.0" encoding="UTF-8"?>
<rows>
<head>
<column width="*" type="ro" color="" sort="na" align="left">ID</column>
<column width="*" type="ro" color="" sort="na" align="left">Man</column>
<column width="*" type="ro" color="" sort="na" align="left">ManPart</column>
<column width="*" type="ro" color="" sort="na" align="left">Descr</column>
<column width="*" type="ro" color="" sort="na" align="left">UPC</column>
<column width="*" type="ro" color="" sort="na" align="left">S, Cost</column>
<column width="*" type="ro" color="" sort="na" align="left">Status</column>
<column width="*" type="ro" color="" sort="na" align="left">V</column>
<column width="*" type="ro" color="" sort="na" align="left">D</column>
<column width="*" type="ro" color="" sort="na" align="left">R</column>
<column width="*" type="ro" color="" sort="na" align="left">L / DS</column>
<column width="*" type="ro" color="" sort="na" align="left">Price</column>
<column width="*" type="ro" color="" sort="na" align="left">Category</column>
<settings>
<colwidth>px</colwidth>
</settings>
</head>' . "\n\n";


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

	function sanitizeInput($data) 
	{
		$data = str_replace("\"", "", $data);
		$data = str_replace("'", "", $data);
		$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);
		
		return $data;
	}
	
	
$query = "select colname, coltitle from user_search_columns where userid = '".$_SESSION["ID"]."' order by dorder";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while( list($colname, $coltitle) = mysql_fetch_array($qok) )
{
	if($colname == "columnperstock")
		$columnperstock = 1;
	else
		$collist[] = $colname;
}	

/*echo "<pre>";
print_r($collist);
echo "</pre>";*/

if(intval($st) < 2)
{
	if(intval($nosave) == 1)
	{
		
	}
	else 
	{
		$_SESSION["SAVEDSEARCH_SKU"]['cat0'] = $cat0;
        $cat0 = sanitizeInput($cat0);

        $_SESSION["SAVEDSEARCH_SKU"]['cat1'] = $cat1;
        $cat1 = sanitizeInput($cat1);

		$_SESSION["SAVEDSEARCH_SKU"]['cat2'] = $cat2;
        $cat2 = sanitizeInput($cat2);

		$_SESSION["SAVEDSEARCH_SKU"]['cat3'] = $cat3;
        $cat3 = sanitizeInput($cat3);

		$_SESSION["SAVEDSEARCH_SKU"]['cat4'] = $cat4;
        $cat4 = sanitizeInput($cat4);

		$_SESSION["SAVEDSEARCH_SKU"]['id'] = $id;
        $id = sanitizeInput($id);

		$_SESSION["SAVEDSEARCH_SKU"]['sku'] = $sku;
        $sku = sanitizeInput($sku);

		$_SESSION["SAVEDSEARCH_SKU"]['manpart'] = $manpart;
        $manpart = sanitizeInput($manpart);

		$_SESSION["SAVEDSEARCH_SKU"]['upc'] = $upc;
        $upc = sanitizeInput($upc);

		$_SESSION["SAVEDSEARCH_SKU"]['keywords'] = $keywords;
        $keywords = sanitizeInput($keywords);

		$_SESSION["SAVEDSEARCH_SKU"]['condition'] = $condition;
        $condition = sanitizeInput($condition);

		$_SESSION["SAVEDSEARCH_SKU"]['status'] = $status;
        $status = sanitizeInput($status);

		$_SESSION["SAVEDSEARCH_SKU"]['platform'] = $platform;
        $platform = sanitizeInput($platform);

		$_SESSION["SAVEDSEARCH_SKU"]['minprice'] = $minprice;
        $minprice = sanitizeInput($minprice);

		$_SESSION["SAVEDSEARCH_SKU"]['maxprice'] = $maxprice;
        $maxprice = sanitizeInput($maxprice);

		$_SESSION["SAVEDSEARCH_SKU"]['brand'] = $brand;
        $brand = sanitizeInput($brand);

		$_SESSION["SAVEDSEARCH_SKU"]['visible'] = $visible;
        $visible = sanitizeInput($visible);

		$_SESSION["SAVEDSEARCH_SKU"]['inventory'] = $inventory;
        $inventory = sanitizeInput($inventory);

		$_SESSION["SAVEDSEARCH_SKU"]['component'] = $component;
        $component = sanitizeInput($component);

		$_SESSION["SAVEDSEARCH_SKU"]['accessory'] = $accessory;
        $accessory = sanitizeInput($accessory);

		$_SESSION["SAVEDSEARCH_SKU"]['includekits'] = $includekits;
        $includekits = sanitizeInput($includekits);

		$_SESSION["SAVEDSEARCH_SKU"]['assignedto'] = $assignedto;
        $assignedto = sanitizeInput($assignedto);

		$_SESSION["SAVEDSEARCH_SKU"]['num2return'] = $num2return;
        $num2return = sanitizeInput($num2return);

		$_SESSION["SAVEDSEARCH_SKU"]['mingap'] = $mingap;
        $mingap = sanitizeInput($mingap);

	} 	
	/******************************************************************************************/
	
	$addon = "";
	
	if($cat0 != "")
	{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat0'"; $cataddon = " AND product_list.id = product_category_map.pid";}
	if($cat1 != "" && $cat0 != "")
	{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat1'"; $cataddon = " AND product_list.id = product_category_map.pid";}
	if($cat2 != "" && $cat0 != "" && $cat1 != "")
	{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat2'"; $cataddon = " AND product_list.id = product_category_map.pid";}
	if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
	{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat3'"; $cataddon = " AND product_list.id = product_category_map.pid";}
	if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
	{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat4'"; $cataddon = " AND product_list.id = product_category_map.pid";}

	if(intval($assignedto) > 0)
	{ $addtables = ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND product_list.id = sku_assignment.pid ";}
	else if(intval($assignedto) == "UN")
	{ $addtables = ", sku_assignment "; $addon .= " AND product_list.id NOT IN (select pid from sku_assignment) ";}
	
	if($catquery != ""){$addon .= " AND $catquery ";}
	
	if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }
	
	if(strlen($keywords) >= 2)
	{
		$wordlist = explode(" ", $keywords);
		
		for($xx = 0; $xx < count($wordlist); $xx++)
		{
			$thisword = $wordlist[$xx];
		
			$kwpart = " AND (manpart like '%$thisword%' OR upccode like '%$thisword%' OR descr like '%$thisword%' OR product_list.id = '$thisword') ";
			
			$addon .= $kwpart;
		}
	}
		
	if($id != "")$addon .= " AND product_list.id = '$id'";
	if($sku != "")$addon .= " AND product_list.sku = '$sku'";
	if($manpart != "")$addon .= " AND product_list.manpart = '$manpart'";
	if($upc != "")$addon .= " AND product_list.upccode = '$upc'";
	if(intval($condition) > 0)
	{
		if(intval($condition) == 1)$addon .= " AND product_list.oem = '1'";
		if(intval($condition) == 2)$addon .= " AND product_list.demo = '1'";
		if(intval($condition) == 3)$addon .= " AND product_list.refurb = '1'";
		if(intval($condition) == 4)$addon .= " AND product_list.oem = 0 AND product_list.demo = 0 AND product_list.refurb = 0";
	}
	if(intval($status) > 0)
	{
		$status--;
		$addon .= " AND product_list.status = '$status'";
	}
	if($platform != "")$addon .= " AND product_list.platform = '$platform'";
	if(intval($minprice) > 0)$addon .= " AND product_prices.price_level1 >= '$minprice'";
	if(intval($maxprice) > 0)$addon .= " AND product_prices.price_level1 <= '$maxprice'";
	
	if(intval($visible) == -1){/* do nothing */}
	else if(intval($visible) == 2)$addon .= " AND product_list.visible = '0'";
	else if(intval($visible) == 1)$addon .= " AND product_list.visible = '1'";
	
	if($includekits == 2) // exclude kits
		$addon .= " AND kit = 0 ";
	if($includekits == 3) // only show kits
		$addon .= " AND kit = 1 ";
	
	if($component == "" && $accessory == "")
	{
		$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr,
				product_list.upccode, product_list.platform, product_list.status, product_list.visible, 
				product_list.dropship, product_list.refurb, product_prices.price_level1,
				product_list.sku, product_list.roimast, product_list.shipweight, product_list.platform,
				product_list.oem, product_list.returnable, product_list.demo, product_list.hidestock, 
				product_list.usemap, product_prices.avgcost, 
				product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock,
				product_list.alwaysinstock, product_list.alwaysoutstock, product_list.invisibleonstock
				from
				product_list, product_manufacturers, product_prices $cattable $addtables
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = product_prices.id
					$addon $cataddon 
					order by product_manufacturers.manname, 
							product_prices.price_level1";
	}
	else 
	{
		if($component != "")
		{
			$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr,
				product_list.upccode, product_list.platform, product_list.status, product_list.visible, 
				product_list.dropship, product_list.refurb, product_prices.price_level1,
				product_list.sku, product_list.roimast, product_list.shipweight, product_list.platform,
				product_list.oem, product_list.returnable, product_list.demo, product_list.hidestock, 
				product_list.usemap, product_prices.avgcost, 
				product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock,
				product_list.alwaysinstock, product_list.alwaysoutstock, product_list.invisibleonstock
				from
				product_list, product_manufacturers, product_prices, product_kitskus $cattable $addtables 
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = product_kitskus.pid AND 
					product_list.id = product_prices.id AND
					product_kitskus.kid = '$component' 
					$addon $cataddon 
					order by product_manufacturers.manname, 
							product_prices.price_level1";
		}
		else if($accessory != "")
		{
			$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr,
				product_list.upccode, product_list.platform, product_list.status, product_list.visible, 
				product_list.dropship, product_list.refurb, product_prices.price_level1,
				product_list.sku, product_list.roimast, product_list.shipweight, product_list.platform,
				product_list.oem, product_list.returnable, product_list.demo, product_list.hidestock, 
				product_list.usemap, product_prices.avgcost, 
				product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock,
				product_list.alwaysinstock, product_list.alwaysoutstock, product_list.invisibleonstock
				from
				product_list, product_manufacturers, product_prices, product_accessories $cattable $addtables 
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = product_accessories.id AND 
					product_list.id = product_prices.id AND
					product_accessories.accid = '$accessory' 
					$addon $cataddon 
					order by product_manufacturers.manname, 
							product_prices.price_level1";
			
		}
	}
	
	$query = str_replace("\n", "", $query);
	
	//echo $query."<BR><BR><BR>";
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$numresults = mysql_num_rows($qok);
	
	$numout = 0;
	
	if(intval($num2return) <= 0)
		$num2return = 50;
		
	while((list($id, $manname, $manpart, $descr, $upccode, $platform, $status, $visible, $dropship, $refurb, $price,
				$sku, $roimast, $shipweight, $platform, $oem, $returnable, $demo, $hidestock, $usemap, $avgcost, 
				$onhold, $committed, $onpo, $instock, $alwaysinstock, $alwaysoutstock, $invisibleonstock) = mysql_fetch_array($qok)) && ($numout < $num2return))
	{
		
		
		if($visible == 1) $visible = "X"; else $visible = "";
		if($dropship == 1) $dropship = "X"; else $dropship = "";
		if($refurb == 1) $refurb = "X"; else $refurb = "";
		if($returnable == 1) $returnable = "X"; else $returnable = "";
		if($hidestock == 1) $hidestock = "X"; else $hidestock = "";
		if($usemap == 1) $usemap = "X"; else $usemap = "";
		
		$stock = $efc->getInvTotal($id);
	
		if($status == 0) $status = "Active";	
		if($status == 1) $status = "Special Order";
		if($status == 2) $status = "End of Life";
		if($status == 3) $status = "Discontinued";
		
		if(
			$inventory == -1 || // show all 
			($inventory == 1 && $stock > 0) || // show in stock and its in stock
			($inventory == 2 && $stock <= 0)
		  )
		{
			$salesmancost = $efc->getSalesmanCost($id);
			
			///////////////////////////////////////////////////////////////////////////////////
			$cattree = $efc->getCatTree($id);
			
			$showcat = "";
			
			if(is_array($cattree))
			{
				for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
				{
					if($showcat != "") $showcat .= ":";
					
					$showcat .= $cattree['catname'][$xx]."/";
				}
			}
			///////////////////////////////////////////////////////////////////////////////////
				
				if(is_array($collist) && count($collist) > 0)
				{
					//echo "<HR NOSHADE>";
					///////////////////////////////////////////////////////////////////////////////////
					$resultline = "";
					for($dx = 0; $dx < count($collist); $dx++)
					{
						//echo "COLUM: ".$collist[$dx]."  ==>  ";
						
						
						if($collist[$dx] == "id")$resultline .= $id;
						else if($collist[$dx] == "sku")$resultline .= $sku;
						else if($collist[$dx] == "man")$resultline .= $manname;
						else if($collist[$dx] == "manpart")$resultline .= $manpart;
						else if($collist[$dx] == "descr")$resultline .= $descr;
						else if($collist[$dx] == "upccode")$resultline .= $upccode;
						else if($collist[$dx] == "roimast")$resultline .= $roimast;
						else if($collist[$dx] == "status")$resultline .= $status;
						else if($collist[$dx] == "cat")$resultline .= $showcat;
						else if($collist[$dx] == "weight")$resultline .= $shipweight;
						else if($collist[$dx] == "platform")$resultline .= $platform;
						else if($collist[$dx] == "visible")$resultline .= $visible;
						else if($collist[$dx] == "dropship")$resultline .= $dropship;
						else if($collist[$dx] == "refurb")$resultline .= $refurb;
						else if($collist[$dx] == "returnable")$resultline .= $returnable;
						else if($collist[$dx] == "hidestock")$resultline .= $hidestock;
						else if($collist[$dx] == "usemap")$resultline .= $usemap;
						else if($collist[$dx] == "price")$resultline .= $price;
						else if($collist[$dx] == "scost")$resultline .= $salesmancost;
						else if($collist[$dx] == "avgcost")$resultline .= $avgcost;
						else if($collist[$dx] == "instock")$resultline .= $stock;
						else if($collist[$dx] == "hasimage")
						{
							$query = "select count(*) from product_images where id = '$id'";
							if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($numimages) = mysql_fetch_array($q4ok);
							
							$resultline .= $numimages;
						}
						else if($collist[$dx] == "webinventory")
						{ //$alwaysinstock, $alwaysoutstock, $invisibleonstock
							if($alwaysinstock == 1)
								$resultline .= " InStock ";

							if($alwaysoutstock == 1)
								$resultline .= " OutStock ";
								
							if($invisibleonstock)
								$resultline .= " Realtime ";
						}
						else if($collist[$dx] == "assignedto")
						{
							$query = "select users.displayname from sku_assignment, users where sku_assignment.userid = users.id AND sku_assignment.pid = '$id'";
							if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							if(mysql_num_rows($q4ok) > 0)
							{
								list($displayname) = mysql_fetch_array($q4ok);
								$resultline .= $displayname;
							}
							else 
							{
								$resultline .= "Unassigned";
							}
							
							
						}
						else if($collist[$dx] == "columnperhouse")
						{
							$whout = 0;
							
							$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
							if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($whid, $whname) = mysql_fetch_array($q4ok))
							{
								if($whout > 0) $resultline .= "\t";
								
								$query = "select sum(inv_available),cost from product_inventory where whid = '$whid' and id = '$id' group by whid";
								if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($inv_available, $total_cost) = mysql_fetch_array($q5ok);
								
								$resultline .= intval($inv_available);
								
								if($columnperstock == 1)
								{
									$resultline .= "\t".number_format($total_cost, 2);
								}
								
								$whout++;
							}
						}
						else if($collist[$dx] == "stockdetail")
						{
							/*
							OnHand
							OnHold
							Committed
							Available
							OnPO
							*/
							$iavailable = $instock - $onhold - $committed;
							$resultline .= "$instock\t<a href=\"javascript:void(0);\" onclick=\"stockDetail('$id', 'onhold');\">$onhold</a>\t";
							$resultline .= "<a href=\"javascript:void(0);\" onclick=\"stockDetail('$id', 'committed');\">$committed</a>\t";
							$resultline .= "$iavailable\t";
							$resultline .= "<a href=\"javascript:void(0);\" onclick=\"stockDetail('$id', 'onpo');\">$onpo</a>";
						}
						else if($collist[$dx] == "dsinventory")
						{
							$dsi_out = 0;
							
							$query = "select distinct(product_sourcing.distid), vendors.vendorname 
										from product_sourcing, vendors where 
										product_sourcing.distid = vendors.vendorid order by vendorid";
							if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($distid, $vendorname) = mysql_fetch_array($q5ok))
							{
								$query = "select sum(qty), avg(cost) from product_sourcing where pid = '$id' and distid = '$distid'";
								if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($qty, $dsi_cost) = mysql_fetch_array($q9ok);
								
								if($dsi_out > 0)
									$resultline .= "\t";
									
								$resultline .= intval($qty);

								if($dsi_cost > 0)
									$resultline .= " - $ ".number_format($dsi_cost,2, ".", "");
								
								$dsi_out++;
							}							
							
							
						}
						
						//echo $resultline."<BR>";				
						$resultline .= "\t";
					}
					
					//echo "ID: $id MINGAP: $mingap (SCOST: $salesmancost - AVGCOST: $avgcost) >= GAP: $mingap && SCOST: $salesmancost < PRICE: $price)<BR>";
					
					if( floatval($mingap) > 0 )
					{ 
						if( ($price - $salesmancost) >= $mingap)
							$resultset[] = "$id\t$resultline\n";
					}
					else 
						$resultset[] = "$id\t$resultline\n";
					//////////////////////////////////////////////////////////////////////////////////////
				}
				else 
				{
					if( floatval($mingap) > 0 )
					{
						if( ($price - $salesmancost) >= $mingap)
							$resultset[] = "<cell>$id</cell> <cell>$manname</cell> <cell>$manpart</cell> <cell>$descr</cell> <cell>$upccode</cell> <cell>$salesmancost</cell> <cell>$status</cell> <cell>$visible</cell> <cell>$dropship</cell> <cell>$refurb</cell> <cell>$stock</cell> <cell>$price</cell> <cell>$showcat</cell>\n";
					}
					else 
						$resultset[] = "<cell>$id</cell> <cell>$manname</cell> <cell>$manpart</cell> <cell>$descr</cell> <cell>$upccode</cell> <cell>$salesmancost</cell> <cell>$status</cell> <cell>$visible</cell> <cell>$dropship</cell> <cell>$refurb</cell> <cell>$stock</cell> <cell>$price</cell> <cell>$showcat</cell>\n";
				}

			if( floatval($mingap) > 0 )	
			{
				if( ($price - $salesmancost) >= $mingap)
					$numout++;
			}
			else
				$numout++;
		}
	}
	
//	echo "$numout of $numresults\n";
	for($xx = 0 ;$xx < count($resultset); $xx++)
	{
    echo "\n<row id=\"$whatrow\">\n";
	echo "$resultset[$xx]\n";
    $whatrow++;
    echo "\n</row>\n";
	}
}
else 
{
	$skulist = "";
	
	if($manid != "-1")
	{
		$addon .= " AND product_manufacturers.manid = '$manid' ";
	}

	if(intval($assignedto) > 0)
	{ $addtables = ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND product_list.id = sku_assignment.pid ";}
	else if(intval($assignedto) == "UN")
	{ $addtables = ", sku_assignment "; $addon .= " AND product_list.id NOT IN (select pid from sku_assignment) ";}

	
	foreach($_GET as $key => $value) 
	{
	 	//echo "$key => $value<BR>";

	 	if(substr($key, 0, 4) == "scid")
	 	{
			if($value != "-1")
	 		{
	 			$sscid = intval(substr($key, 4));
	 			
				$addon .= " AND product_static_specs.id IN  (select id from product_static_specs where tid = '$sst_template' and sscid = '$sscid' and dvalue = '$value') ";
	 		}
	 	}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	{
		
		$pid = $skulist[$xx];
	
		$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr,
				product_list.upccode, product_list.platform, product_list.status, product_list.visible, 
				product_list.dropship, product_list.refurb, product_prices.price_level1,
				product_list.sku, product_list.roimast, product_list.shipweight, product_list.platform,
				product_list.oem, product_list.returnable, product_list.demo, product_list.hidestock, 
				product_list.usemap, product_prices.avgcost,
				product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock $addtables
				from
				product_list, product_manufacturers, product_prices, product_static_specs
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = product_prices.id AND
					product_list.id = product_static_specs.id $addon group by product_list.id";
	
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$numresults = mysql_num_rows($qok);
		
		while(list($id, $manname, $manpart, $descr, $upccode, $platform, $status, $visible, $dropship, $refurb, $price,
					$sku, $roimast, $shipweight, $platform, $oem, $returnable, $demo, $hidestock, $usemap, $avgcost,
					$onhold, $committed, $onpo, $instock) = mysql_fetch_array($qok))
		{
			$salesmancost = 0.00;
			
			
			if($visible == 1) $visible = "X"; else $visible = "";
			if($dropship == 1) $dropship = "X"; else $dropship = "";
			if($refurb == 1) $refurb = "X"; else $refurb = "";
			if($returnable == 1) $returnable = "X"; else $returnable = "";
			if($hidestock == 1) $hidestock = "X"; else $hidestock = "";
			if($usemap == 1) $usemap = "X"; else $usemap = "";
		
			$stock = $efc->getInvTotal($id);
		
			//echo "$id - $descr -> $stock<BR>";
			if($status == 0) $status = "Active";	
			if($status == 1) $status = "Special Order";
			if($status == 2) $status = "End of Life";
			if($status == 3) $status = "Discontinued";
			
			if(
				$inv == -1 || // show all 
				($inv == 1 && $stock > 0) || // show in stock and its in stock
				($inv == 2 && $stock <= 0)
			  )
			  {
			  	$salesmancost = $efc->getSalesmanCost($id);
			  	
				///////////////////////////////////////////////////////////////////////////////////
				$cattree = $efc->getCatTree($id);
				
				$showcat = "";
				for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
				{
					if($showcat != "") $showcat .= ":";
					
					$showcat .= $cattree['catname'][$xx]."<BR>";
				}
			
				if(is_array($collist) && count($collist) > 0)
				{
					//echo "<HR NOSHADE>";
					///////////////////////////////////////////////////////////////////////////////////
					$resultline = "";
					for($dx = 0; $dx < count($collist); $dx++)
					{
						//echo "COLUM: ".$collist[$dx]."  ==>  ";
						
						
						if($collist[$dx] == "id")$resultline .= $id;
						else if($collist[$dx] == "sku")$resultline .= $sku;
						else if($collist[$dx] == "man")$resultline .= $manname;
						else if($collist[$dx] == "manpart")$resultline .= $manpart;
						else if($collist[$dx] == "descr")$resultline .= $descr;
						else if($collist[$dx] == "upccode")$resultline .= $upccode;
						else if($collist[$dx] == "roimast")$resultline .= $roimast;
						else if($collist[$dx] == "status")$resultline .= $status;
						else if($collist[$dx] == "cat")$resultline .= $showcat;
						else if($collist[$dx] == "weight")$resultline .= $shipweight;
						else if($collist[$dx] == "platform")$resultline .= $platform;
						else if($collist[$dx] == "visible")$resultline .= $visible;
						else if($collist[$dx] == "dropship")$resultline .= $dropship;
						else if($collist[$dx] == "refurb")$resultline .= $refurb;
						else if($collist[$dx] == "returnable")$resultline .= $returnable;
						else if($collist[$dx] == "hidestock")$resultline .= $hidestock;
						else if($collist[$dx] == "usemap")$resultline .= $usemap;
						else if($collist[$dx] == "price")$resultline .= $price;
						else if($collist[$dx] == "scost")$resultline .= $salesmancost;
						else if($collist[$dx] == "avgcost")$resultline .= $avgcost;
						else if($collist[$dx] == "instock")$resultline .= $stock;
						else if($collist[$dx] == "hasimage")
						{
							$query = "select count(*) from product_images where id = '$id'";
							if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($numimages) = mysql_fetch_array($q4ok);
							
							$resultline .= $numimages;
						}
						else if($collist[$dx] == "columnperhouse")
						{
							$whout = 0;
							
							$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
							if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($whid, $whname) = mysql_fetch_array($q4ok))
							{
								if($whout > 0) $resultline .= "\t";
								
								$query = "select sum(inv_available), sum(inv_available * inv_available) from product_inventory where whid = '$whid' and id = '$id'";
								if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($inv_available, $total_cost) = mysql_fetch_array($q5ok);
								
								$resultline .= intval($inv_available);
								
								if($columnperstock == 1)
								{
									$resultline .= "\t".number_format(($total_cost / $inv_available), 2);
								}
								
								$whout++;
							}
						}
						else if($collist[$dx] == "stockdetail")
						{
							/*
							OnHand
							OnHold
							Committed
							Available
							OnPO
							*/
							$iavailable = $instock - $onhold - $committed;
							$resultline .= "$instock\t$onhold\t$committed\t$iavailable\t$onpo";
						}						
						
						
								
						$resultline .= "\t";
					}
					
					

										
					if( floatval($mingap) > 0 )
					{	
						if( ($price - $salesmancost) >= $mingap)
							$resultset[] = "$id\t$resultline\n";
					}
					else 
						$resultset[] = "$id\t$resultline\n";
					//////////////////////////////////////////////////////////////////////////////////////
				}
				else 
				{
					if( floatval($mingap) > 0 )
					{
						if( ($price - $salesmancost) >= $mingap)
						if( ($price - $salesmancost) >= $mingap)
							$resultset[] = "<cell>$id</cell> <cell>$manname</cell> <cell>$manpart</cell> <cell>$descr</cell> <cell>$upccode</cell> <cell>$salesmancost</cell> <cell>$status</cell> <cell>$visible</cell> <cell>$dropship</cell> <cell>$refurb</cell> <cell>$stock</cell> <cell>$price</cell> <cell>$showcat</cell>\n";
					}
					else 
						$resultset[] = "<cell>$id</cell><cell>$id</cell> <cell>$id</cell> <cell>$manname</cell> <cell>$manpart</cell> <cell>$descr</cell> <cell>$upccode</cell> <cell>$salesmancost</cell> <cell>$status</cell> <cell>$visible</cell> <cell>$dropship</cell> <cell>$refurb</cell> <cell>$stock</cell> <cell>$price</cell> <cell>$showcat</cell>\n";
				}
				
				if( (floatval($mingap) > 0)  )			
				{
					if( ($price - $salesmancost) >= $mingap )
						$numout++;
				}
				else 
					$numout++;
			  }
		}
		
	}
	

	echo "$numout of $numresults\n";
		
	for($xx = 0 ;$xx < count($resultset); $xx++)
	{
		echo "$resultset[$xx]";
	}	
}

echo "</rows>";



?>
