<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$selected_ids = explode(',', $selected_ids);
?>
<table>
<tr>
	<td><b>SKUs Created</b></td>
</tr>
<?
$copypid = $parent_id;

foreach ($selected_ids as $selected_id) {
    if (intval($selected_id) <= 0) {
//        break;
    }
    else {
	////////////////////////////////////////////
	// e1 is syncing with e2 right now so, don't autoincrement for the id
	$query = "select id from product_list order by id desc limit 0, 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($id) = mysql_fetch_array($qok);
	$id++;
	?>
	<tr>
		<td><?=$id?></td>
	</tr>
	<?
	$q = "SELECT manid, manpart, descr, added_dte, status, returnable, upccode, platform, grp, cat, sub, roimast, dropship, shipweight,
				oem, refurb, sku, visible, kit, demo, hidestock, usemap, shipcode, alwaysinstock, alwaysoutstock, 
				invisibleonstock, shipsin, minqty, targetqty, pricenote, asin, am_qty,
				am_std_ship, am_exp_ship, kit_fixed, kit_value, amazon_realtime, modelno, serialized, preorder, sysvis, cmanpart, am_latency, use_asin, series, 
				eb_std_ship, eb_exp_ship, am_update_override, am_condition FROM product_list WHERE id='".$copypid."'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($manid, $manpart, $descr, $added_dte, $status, $returnable, $upccode, $platform, $grp, $cat, $sub, $roimast, $dropship, $shipweight,
				$oem, $refurb, $sku, $visible, $kit, $demo, $hidestock, $usemap, $shipcode, $alwaysinstock, $alwaysoutstock, 
				$invisibleonstock, $shipsin, $minqty, $targetqty, $pricenote, $asin, $am_qty,
				$am_std_ship, $am_exp_ship, $kit_fixed, $kit_value, $amazon_realtime, $modelno, $serialized, $preorder, $sysvis, $cmanpart, $am_latency, $use_asin, $series, 
				$eb_std_ship, $eb_exp_ship, $am_update_override, $am_condition) = mysql_fetch_array($qok);
	
	
	$cmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
	if($issue_upc == '1') {
        $upc_query = "select * from multipack_upc_codes limit 1";
            if(!$qok = mysql_db_query($DB, $upc_query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($upccodeid, $upccode) = mysql_fetch_array($qok);
            
            $upc_delete_query = "delete from multipack_upc_codes where id = '$upccodeid'";
            if(!$qok = mysql_db_query($DB, $upc_delete_query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        }
        else {
            $upccode = '';
        }
        $query = "insert into product_list(id, manid, manpart, descr, added_dte, status, returnable, upccode, platform, grp, cat, sub, roimast, dropship, shipweight,
				oem, refurb, sku, visible, kit, demo, hidestock, usemap, shipcode, alwaysinstock, alwaysoutstock, 
				invisibleonstock, shipsin, minqty, targetqty, pricenote, am_qty,
				am_std_ship, am_exp_ship, kit_fixed, kit_value, amazon_realtime, modelno, serialized, preorder, sysvis, cmanpart, am_latency, series, 
				eb_std_ship, eb_exp_ship, am_update_override, am_condition) ";
	$query .= " values('$id','$manid', '$manpart', '$descr', '$added_dte', '$status', '$returnable', '$upccode', '$platform', '$grp', '$cat', '$sub', '$roimast', '1', '$shipweight',
				'$oem', '$refurb', '$sku', '$visible', $kit, '$demo', '$hidestock', '$usemap', '$shipcode', '$alwaysinstock', '$alwaysoutstock', 
				'$invisibleonstock', '$shipsin', '$minqty', '$targetqty', '$pricenote', '100',
				'$am_std_ship', '$am_exp_ship', '$kit_fixed', '$kit_value', '$amazon_realtime', '$modelno', '$serialized', '$preorder', '$sysvis', '$cmanpart', '$am_latency', '$series', 
				'$eb_std_ship', '$eb_exp_ship', '$am_update_override', '$am_condition')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
        
	
        if(intval($id) <= 0)
	{
		//echo "ERROR ID: $query\n";
	}
	
	$query = "select descr from product_list where id = '$selected_id'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($selected_product_title) = mysql_fetch_array($qok);

        $query = "update product_list set descr='" . $selected_product_title . "' where id = '$id'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
 
	$q = "SELECT dsqty,scost,displayname,roimast_count,imagecount,cattree,sitelist,inlist FROM product_search_extended WHERE pid='$copypid'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sqtya,$scosta,$displaynamea,$roimast_counta,$imagecounta,$cattreea,$sitelista,$inlista) = mysql_fetch_array($qok);
	
	$q = "INSERT INTO product_search_extended(pid,dsqty,scost,displayname,roimast_count,imagecount,cattree,sitelist,inlist) 
				VALUES('$id','$sqtya','$scosta','$displaynamea','$roimast_counta','$imagecounta','$cattreea','$sitelista','$inlista')";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	
	if( (intval($copypid) > 0) && ($kit == 1)) // copypid and kit?  Copy the kit components over
	{
		$query = "insert into product_kitskus(pid, kid, qty) select $id, kid, qty from product_kitskus where pid = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	if( intval($copypid) > 0 ) 
	{
		$query = "insert into product_descr(id, data, divid) select $id, data, divid from product_descr where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_html(id, data, divid) select $id, data, divid from product_html where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_images(id, idata, itype, thumb, width, height, divid) select $id, idata, itype, thumb, width, height, divid from product_images where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->cache_watermark_image($id, $ROOT_DIR);	
		
		$query = "insert into product_specs(id, section, dkey, dval, divid) select $id, section, dkey, dval, divid from product_specs where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_accessories(id, accid, dorder) select $id, accid, dorder from product_accessories where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_accessories2(id, accid, dorder) select $id, accid, dorder from product_accessories2 where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_features(id, feature) select $id, feature from product_features where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_inthebox(id, data) select $id, data from product_inthebox where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_warranty(id, data) select $id, data from product_warranty where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                
                $query = "SELECT tid,sscid,dvalue FROM product_static_specs WHERE id='".$copypid."'";
                if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 56";echo mysql_error(); exit; }  }
                $static_arr = array();
                while (list($tid,$sscid,$dvalue) = mysql_fetch_array($qok)) {
                    $ss = array();
                    $ss['tid'] = $tid;
                    $ss['sscid'] = $sscid;
                    $ss['dvalue'] = $dvalue;
                    $static_arr[] = $ss;	
                }
                foreach($static_arr as $x=>$y) {
                    $qxx = "INSERT INTO product_static_specs(id,tid,sscid,dvalue) VALUES('".$id."','".addslashes($y['tid'])."','".$y['sscid']."','".$y['dvalue']."')";
                    if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 57";echo mysql_error(); exit; }  }
                }
		
	}
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$q = "SELECT price_map, price_msrp, price_level1, price_level2, price_level3, price_level4, price_level5, price_level6, price_level7, price_level8, price_level9, instock, avgcost, eta, fco1, fco2, fco3, fco4, fco5, fco6, fco7, fco8, fco9 FROM product_prices WHERE id='".$copypid."'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($price_map, $price_msrp, $price_level1, $price_level2, $price_level3, $price_level4, $price_level5, $price_level6, $price_level7, $price_level8, $price_level9, $instock, $avgcost, $eta, $fco1, $fco2, $fco3, $fco4, $fco5, $fco6, $fco7, $fco8, $fco9) = mysql_fetch_array($qok);
	
	
	if(floatval($price_level2) <= 0) $price_level2 = $price_level1;
	if(floatval($price_level3) <= 0) $price_level3 = $price_level1;
	if(floatval($price_level4) <= 0) $price_level4 = $price_level1;
	if(floatval($price_level5) <= 0) $price_level5 = $price_level1;
	if(floatval($price_level6) <= 0) $price_level6 = $price_level1;
	if(floatval($price_level7) <= 0) $price_level7 = $price_level1;
	if(floatval($price_level8) <= 0) $price_level8 = $price_level1;
	if(floatval($price_level9) <= 0) $price_level9 = $price_level1;
	
	$eta = date("Y-m-d H:i:s", strtotime($inventory_eta));
	
	$query = "insert into product_prices(id, price_map, price_msrp, price_level1, price_level2, price_level3, price_level4, price_level5, price_level6, price_level7, price_level8, price_level9, instock, avgcost, eta, fco1, fco2, fco3, fco4, fco5, fco6, fco7, fco8, fco9)";
	$query .= " values('$id', '$price_map', '$price_msrp','$price_level1','$price_level2','$price_level3','$price_level4','$price_level5','$price_level6','$price_level7','$price_level8','$price_level9','0','$inventory_cost','$eta','$fco1','$fco2','$fco3','$fco4','$fco5','$fco6','$fco7','$fco8','$fco9')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$tstock = $tcost = 0.00;
	
	$efc->checkKitPriceChange($id);
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// KEYWORDS
	$query = "insert into product_keywords(id, kw1,kw2,kw3,kw4,kw5) select $id, kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$typeBenabled = $efc->getConfigValue("eFluent Settings", "InvType");
	if($typeBenabled == "B")
	{
		$invarray = $efc->getInventoryType($id);
		$inv_type = $invarray['inv_type'];
	}
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// PRODUCT SOURCING
        
//        $query = "select sid, distid,manid,manpart, distsku, cost,qty,pid, tstamp,vpid,useinv, stealth, oprice,basecost from product_sourcing where pid = '$copypid'";
//        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//        while(list($sid,$distid,$manid,$manpart,$distsku,$cost,$qty,$pid,$tstamp,$vpid,$useinv,$stealth,$oprice,$basecost) = mysql_fetch_array($qok))
//        {
//            
//        }
        $query = "insert into product_sourcing(distid,manid,manpart, distsku, cost,qty,pid, tstamp,vpid,useinv, stealth, oprice,basecost) select distid,manid,manpart, distsku, cost,qty,$id, tstamp,vpid,useinv, stealth, oprice,basecost from product_sourcing where pid = '$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
	// now get the total inventory from sourcing 
	$query = "select sum(qty), sum(cost) from product_sourcing where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sqty, $scost) = mysql_fetch_array($qok);
	
	// now get the total inventory from local warehouses
	// there's a warehouse to exclude...... 

	//////////////////////////////////////////////////////////////////////////////////////////////////////
	$exclude = trim( $efc->getConfigValue("eFluent Settings", "ExcludeWarehouse") );
	$qaddon = "";
	if(stristr($exclude, ","))
	{
		$ex_whlist = explode(",", $exclude);
		
		for($pj = 0; $pj < count($ex_whlist); $pj++)
		{
			if($ex_whlist[$pj] != "")
				$qaddon .= " AND whid != '".$ex_whlist[$pj]."' ";
		}
	}
	else 
	{
		if($exclude != "")
			$qaddon= " AND whid != '$exclude'";
	}
	//////////////////////////////////////////////////////////////////////////////////////////////////////	
		
	if($inv_type == "B")
	{
		if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory_b where pid = '$id' $qaddon";}
		else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory_b where pid = '$id'";}
	}
	else 
	{
		if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$id' $qaddon";}
		else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$id'";}
	}

	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($lqty, $lcost) = mysql_fetch_array($qok);
	
	$tqty = $lqty;
	$tcost = $lcost / $lqty;
	
	//echo "TQTY: $tqty TCOST: $tcost\n";
	
	$query = "update product_prices set instock = '$tqty', avgcost = '$tcost' where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "delete from product_category_map where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$q = "SELECT catid FROM product_category_map WHERE pid='".$copypid."'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	while (list($cat_id) = mysql_fetch_array($qok)) {
		$query1 = "insert into product_category_map(pid, catid) values('$id', '$cat_id')";
		if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}

	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "delete from salesman_cost where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "SELECT sdollar, spercent from salesman_cost where pid = '$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sc_fixed,$sc_percent) = mysql_fetch_array($qok);
	
	if($sc_fixed > 0 || $sc_percent > 0)
	{
		$query = "insert into salesman_cost(type, pid, sdollar, spercent) values('1', '$id', '$sc_fixed', '$sc_percent')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "SELECT fba_sku FROM fba_sku_map WHERE pid='$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_sku) = mysql_fetch_array($qok);
	
	$query = "select pid from fba_sku_map where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		$fba_sku = addslashes($fba_sku);
		$query = "update fba_sku_map set fba_sku = '$fba_sku' where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	else 
	{
		$fba_sku = addslashes($fba_sku);
		$query = "insert into fba_sku_map(fba_sku, pid) values('$fba_sku', '$id')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$efc->logAction("SUCCESS", "1", $id, "Product: $id Created", "Product: $id Created"); 
	$efc->UpdatePool("1", $id);
	//$efc->touchSKU($id);

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // update the site_list for this sku
        $query = "select divid from site_skus WHERE pid='$copypid'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while(list($site_divid) = mysql_fetch_array($qok))
        {
                $query = "delete from site_skus where pid = '$id' and divid = '$site_divid'";
                if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                $query = "insert into site_skus(divid, pid) values('$site_divid', '$id')"; 
                if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        }
        

        $parentid_cf = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID");
        $altsku_cf = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG");

        $qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='$parentid_cf' AND pid='".$id."'";	
        if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        if (mysql_num_rows($q2okx)>0) {
            $queryy = "UPDATE custom_values SET text_short='".$copypid."' WHERE cfid = '$parentid_cf' AND pid='$id'";
            if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
        }
        else {
            $queryy = "insert into custom_values(cfid, pid, text_short) values('$parentid_cf', '$id', '".$copypid."')";
            if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
        } 

        $qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='$altsku_cf' AND pid='".$id."'";	
        if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        if (mysql_num_rows($q2okx)>0) {
            $queryy = "UPDATE custom_values SET text_short='1' WHERE cfid = '$altsku_cf' AND pid='$id'";
            if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
        }
        else {
            $queryy = "insert into custom_values(cfid, pid, text_short) values('$altsku_cf', '$id', '1')";
            if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
        } 

        $queryy = "DELETE FROM list_products WHERE (lid='136' OR lid='167') AND pid='$id'";
        if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			

        $queryy = "insert into list_products(pid, lid) values('$id', '136')";
        if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
        $queryy = "insert into list_products(pid, lid) values('$id', '167')";
        if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
        
        //ADD TO FROOGLE

        $query = "delete from datafeed_skus where dfid = '4' and pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into datafeed_skus(dfid, pid, manpart) value('4', '$id', '$manpart')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$dfname = $efc->getDatafeedName(4);
		
		$efc->logAction("SUCCESS", "1", $id, "SKU Added to Datafeed: $dfname", "SKU Added to Datafeed: $dfname"); 
        
        $efc->touchSKU($copypid);   
    }
} 


//Header("Location: /mgt/sm/search.phtml");
?>
</table>