<a href="javascript:void(0);" onclick="hideRebates();">Hide Rebates</a><BR>
<?


REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$today = date("Y-m-d H:i:s", time());
		
$query = "select distinct(rebates_products.rid), rebate_title, rebate_descr, begin_date, end_date, postmark_date, 
			rebate_amount, rebate_type, apply2price, promotion from rebates_products, rebates 
			where
			rebates_products.rid = rebates.rid AND
			rebates.active = 1 AND
			rebates.end_date >= '$today'  AND
			rebates_products.pid = '$pid'
			group by rebates_products.rid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($rid, $rebate_title, $rebate_descr, $begin_date, $end_date, 
			$postmark_date, $rebate_amount, $rebate_type, $apply2price, $promotion) = mysql_fetch_array($qok))
{
	if(strlen($rebate_title) > 25)
		$rebate_title = substr($rebate_title, 0, 22)."...";
	?>
		<table style="border:1px solid #C7C7C7;" width=400>
		<tr bgcolor="#EBEBEB" >
			<td height=18 style="border-bottom:none;"><a href="/mgt/rebate/rebate_edit.phtml?rid=<?=$rid;?>" target="_blank"><B><font color="#505050"><?=$rebate_title;?></font></B></a></td>
			<td><a href="javascript:void(0);" onclick="removeRebate('<?=$rid;?>', '<?=$pid;?>');"><img src="/mgt/images/del.gif" border=0></a></td>
		</tr>
		<tr>
			<td class="clean" width=75% valign=top>
				<?
				if($promotion == "1")
				{
					?>
					<B><font color="#CE1414">Up to $ <?=$rebate_amount;?> In Rebates</font></B><BR><BR>
					<?
				}
				else 
				{
				{
					?>
					<B><font color="#CE1414">$ <?=$rebate_amount;?> Cash Rebate</font></B><BR><BR>
					<?
				}
					
				}
				?>
				<?=$rebate_descr;?>
			</td>
			<td class="clean" NOWRAP width=25% valign=top style="border-right:1px solid #EBEBEB;">
				<B>Offer Valid:</B><BR><?=date("m/d/Y", strtotime($begin_date));?> - <?=date("m/d/Y", strtotime($end_date));?><BR><BR>
				
				<?
				if(strtotime($postmark_date) > strtotime($end_date))
				{
				?>
				<B>Postmark by:</B> <?=date("m/d/Y", strtotime($postmark_date));?><BR><BR>
				<?	
				}
				
				$query = "select rxid, filename, link from rebates_extended where rid = '".$rebates['rid'][$xx]."'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($rxid, $filename, $link) = mysql_fetch_array($q2ok))
				{
					if($filename != "")
					{
						if(stristr($filename, "/mgt/"))
						{
							$hita = strpos($filename, "rebates/");
							$filename = substr($filename, $hita + 8);
							
						}
						?>
						<a href="/getrebate.phtml?id=<?=$rxid;?>">Download Rebate Form</a>
						<?
					}
					else 
					{
						?>
						<a href="<?=$link;?>">Download Rebate Form</a>
						<?
					}
				}
				?>
			</td>
		</tr>

		</table>
	<?
}
?>
