<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select catid, catname from amazon_template_category where parentid = '$catid' order by catname";
$catid ++;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($qok) > 0) {
?>
    <select id="cat<?=$level;?>" name="cat<?=$catid?>" class="formSelect selectTemplateCategory" onchange="getTemplateCategories(<?=$level?>);">
        <option value="">----- SELECT --------
        <?
        while(list($catid, $catname) = mysql_fetch_array($qok))
        {
            ?>
            <option value="<?=$catid;?>" ><?=$catname;?> </option>
            <?
        }
        ?>
    </select>	
<?
}
?>
