<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if ($generic == 1) {
    $query = "select attid, name from amazon_template_category_attributes where catid='$catid' 
    and is_generic = 1 and name not in (select name from amazon_template_category_attributes where 
    catid='$childcatid' and is_generic='1')";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    while(list($attid, $name) = mysql_fetch_array($qok))
    {
        echo '<div class="DragBox" id="order_'.$attid.'" attid="' . $attid . '" overclass="OverDragBox" dragclass="DragDragBox">'.$name.'</div>';
    }
} else {
    $query = "select name from amazon_template_category_attributes where catid='$catid' 
    and is_generic = 1";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    while(list($name1) = mysql_fetch_array($qok)) {
        $query1 = "select attid, name from amazon_template_category_attributes where name = '$name1' and 
        catid = '$parentcatid' and is_generic = 1";
        if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        if (mysql_num_rows($qok1) > 0) {
            while(list($attid, $name) = mysql_fetch_array($qok1)) {
                echo '<div class="DragBox" id="order_'.$attid.'" attid="' . $attid . '" overclass="OverDragBox" dragclass="DragDragBox">'.$name.'</div>';
            }
        }
    }
}

