<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$saved_asin = trim($asin);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ob_start();
	$public_key = $efc->getConfigValue("Amazon", "PUBLIC_KEY");
	$private_key = $efc->getConfigValue("Amazon", "PRIVATE_KEY");
	$associateID = $efc->getConfigValue("Amazon", "ASSOCIATEID");
	
	$asinURL = aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"ASIN","ItemId"=>"$asin","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
	
	$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
	$xmldata = xml2array($buffer);
	
ob_get_clean();
			
$totalresults = $xmldata['ItemLookupResponse']['Items']['TotalResults']['value'];
$totalpages = $xmldata['ItemLookupResponse']['Items']['TotalPages']['value'];
			
$itemlist = $xmldata['ItemLookupResponse']['Items']['Item'];
			
if(@$itemlist[0]['ASIN']['value'] == "")
{
	$asin = @$itemlist['ASIN']['value'];
	$salesrank = @$itemlist['SalesRank']['value'];
	$imageURL = @$itemlist['SmallImage']['URL']['value'];
	$large_imageURL = @$itemlist['LargeImage']['URL']['value'];
	$brand = addslashes( @$itemlist['ItemAttributes']['Brand']['value'] );
	$manpart = addslashes( @$itemlist['ItemAttributes']['MPN']['value'] );
	$model = addslashes( @$itemlist['ItemAttributes']['Model']['value'] );
	$ean = @$itemlist['ItemAttributes']['EAN']['value'];
	$title = addslashes(@$itemlist['ItemAttributes']['Title']['value']);
	$upc = @$itemlist['ItemAttributes']['UPC']['value'];
	$featurelist = @$itemlist['ItemAttributes']['Feature'];
				
	$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
	$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
				
	$query = "select manid from product_manufacturers where manname = '$brand'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($manid) = mysql_fetch_array($qok);
	}
	else 
	{
		$query = "insert into product_manufacturers(manname) values('$brand')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$manid = mysql_insert_id();
	}

	$features = "";
	
	for($xx = 0; $xx < count($featurelist); $xx++)
	{
		$features .= "<LI>".$featurelist[$xx]['value']."</LI>";
	}
		
	$query = "select id from product_list, product_manufacturers 
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.sku = '$manpart' AND 
				product_manufacturers.manid = '$manid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
	if((mysql_num_rows($qok) > 0) && ($pidtype == 0))// it already exists
	{
		list($pid) = mysql_fetch_array($qok);
							
		/*$query = "delete from product_prices where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
		$query = "insert into product_prices(id, price_level3, instock, avgcost) values('$pid', '$price', '$stock', '0.00')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	*/
		
		echo "ALREADY EXISTS:$pid";
		exit;
	}
	else 
	{
		$query = "select id from product_list order by id desc limit 0, 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pid) = mysql_fetch_array($qok);
		$pid++;	

		$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
				
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into product_list(id, manid, manpart, cmanpart, descr, added_dte, upccode, visible, sku, dropship, oem, refurb, use_asin, asin, am_qty, modelno) 
			values('$pid', '$manid', '$manpart', '$cleanmanpart', '$title', '$tstamp', '$upc', '0', '$manpart', '1', '0', '0', '1', '$asin', '0', '$model')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		$query = "insert into product_category_map(pid, catid) values('$pid', '46')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

							
		$query = "insert into product_prices(id, price_level1, price_level2, price_level3, instock, avgcost) 
					values('$pid', '$lowestnewprice','$lowestnewprice','$lowestnewprice', '0', '0.00')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
		
		$imagefile = "$ROOT_DIR/mgt/temp/$pid.jpg";
		$efc->getBinaryFile($large_imageURL, "http://www.amazon.com", $imagefile);		
		
		if(file_exists($imagefile))	
		{
			//echo "IMAGE => $imagefile\n\n";
			
			$fp = fopen($imagefile, "r");
			if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
			$data = "";
			while(!feof($fp))
			{
				$data .= fgets($fp, 4096);
			}
			fclose($fp);
			$data = addslashes($data);	 		
	
		
			$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '500', '500')";
			$qok = mysql_db_query($DB, $query, $mysqlid);
			if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			unlink($imagefile);
			
			$efc->cache_watermark_image($pid, $ROOT_DIR);	
		}
		else 
		{
			echo "ERROR DOWNLOADING IMAGE\n";	
		}
		
		if($features != '')
		{
			$features = addslashes($features);
			$query = "insert into product_descr(id, data) values('$pid', '$features')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		echo "SUCCESS:$pid";
			
	}
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// pidtype = 0 => regular
	// pidtype = 1 => parent
	// pidtype = 2 => child
			if(intval($pidtype) > 0)
			{
				$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG"); // 33
				$alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT"); // 34
				$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID"); // 35	
				
				if(intval($pidtype) == 1)
				{
					$query = "delete from custom_values where pid = '$pid' and cfid = '$alt_sku_parent'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
					$query = "insert into custom_values(pid, cfid, text_short) values('$pid', '$alt_sku_parent', '1')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
				}
				else if(intval($pidtype) == 2)
				{
					$query = "delete from custom_values where pid = '$pid' and cfid = '$alt_sku_flag'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
					$query = "insert into custom_values(pid, cfid, text_short) values('$pid', '$alt_sku_flag', '1')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
					
					$query = "delete from custom_values where pid = '$pid' and cfid = '$alt_sku_parentid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
					$query = "insert into custom_values(pid, cfid, text_short) values('$pid', '$alt_sku_parentid', '$parentid')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
					
				}
				
			}
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$efc->cacheAdditionalInfo($pid);
}
else 
{
	for($xx = 0; $xx < count($itemlist); $xx++)
	{
		$features = "";
		
		$asin = @$itemlist[$xx]['ASIN']['value'];
		
		if($asin == $saved_asin)
		{
			$salesrank = @$itemlist[$xx]['SalesRank']['value'];
			$imageURL = @$itemlist[$xx]['SmallImage']['URL']['value'];
			$large_imageURL = @$itemlist[$xx]['LargeImage']['URL']['value'];
			$brand = addslashes( @$itemlist[$xx]['ItemAttributes']['Brand']['value'] );
			$manpart = addslashes( @$itemlist[$xx]['ItemAttributes']['MPN']['value'] );
			$model = addslashes( @$itemlist[$xx]['ItemAttributes']['Model']['value'] );
			$ean = @$itemlist[$xx]['ItemAttributes']['EAN']['value'];
			$title = addslashes(@$itemlist[$xx]['ItemAttributes']['Title']['value']);
			$upc = @$itemlist[$xx]['ItemAttributes']['UPC']['value'];
			$featurelist = @$itemlist[$xx]['ItemAttributes']['Feature'];
						
			$lowestnewprice = @$itemlist[$xx]['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
			$totalnew = @$itemlist[$xx]['OfferSummary']['TotalNew']['value'];
						
			$query = "select manid from product_manufacturers where manname = '$brand'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) > 0)
			{
				list($manid) = mysql_fetch_array($qok);
			}
			else 
			{
				$query = "insert into product_manufacturers(manname) values('$brand')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$manid = mysql_insert_id();
			}
		
			$features = "";
			
			for($xx = 0; $xx < count($featurelist); $xx++)
			{
				$features .= "<LI>".$featurelist[$xx]['value']."</LI>";
			}
				
			$query = "select id from product_list, product_manufacturers 
						where 
						product_list.manid = product_manufacturers.manid AND
						product_list.sku = '$manpart' AND 
						product_manufacturers.manid = '$manid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
			if((mysql_num_rows($qok) > 0) && ($pidtype == 0))// it already exists
			{
				list($pid) = mysql_fetch_array($qok);
									
				/*$query = "delete from product_prices where id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									
				$query = "insert into product_prices(id, price_level3, instock, avgcost) values('$pid', '$price', '$stock', '0.00')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	*/
				
				echo "ALREADY EXISTS:$pid";
				exit;
			}
			else 
			{
				$query = "select id from product_list order by id desc limit 0, 1";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($pid) = mysql_fetch_array($qok);
				$pid++;	
		
				$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
						
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "insert into product_list(id, manid, manpart, cmanpart, descr, added_dte, upccode, visible, sku, dropship, oem, refurb, use_asin, asin, am_qty, modelno) 
					values('$pid', '$manid', '$manpart', '$cleanmanpart', '$title', '$tstamp', '$upc', '0', '$manpart', '1', '0', '0', '1', '$asin', '0', '$model')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
				$query = "insert into product_category_map(pid, catid) values('$pid', '46')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
									
				$query = "insert into product_prices(id, price_level1, price_level2, price_level3, instock, avgcost) 
							values('$pid', '$lowestnewprice','$lowestnewprice','$lowestnewprice', '0', '0.00')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									
				
				$imagefile = "$ROOT_DIR/mgt/temp/$pid.jpg";
				$efc->getBinaryFile($large_imageURL, "http://www.amazon.com", $imagefile);		
				
				if(file_exists($imagefile))	
				{
					//echo "IMAGE => $imagefile\n\n";
					
					$fp = fopen($imagefile, "r");
					if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
					$data = "";
					while(!feof($fp))
					{
						$data .= fgets($fp, 4096);
					}
					fclose($fp);
					$data = addslashes($data);	 		
			
				
					$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '500', '500')";
					$qok = mysql_db_query($DB, $query, $mysqlid);
					if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					unlink($imagefile);
					
					$efc->cache_watermark_image($pid, $ROOT_DIR);	
				}
				else 
				{
					echo "ERROR DOWNLOADING IMAGE\n";	
				}
				
				if($features != '')
				{
					$features = addslashes($features);
					$query = "insert into product_descr(id, data) values('$pid', '$features')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				
				echo "SUCCESS:$pid";
					
			}
					
			///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// pidtype = 0 => regular
			// pidtype = 1 => parent
			// pidtype = 2 => child
			if(intval($pidtype) > 0)
			{
				$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG"); // 33
				$alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT"); // 34
				$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID"); // 35	
				
				if(intval($pidtype) == 1)
				{
					$query = "delete from custom_values where pid = '$pid' and cfid = '$alt_sku_parent'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
					$query = "insert into custom_values(pid, cfid, text_short) values('$pid', '$alt_sku_parent', '1')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
				}
				else if(intval($pidtype) == 2)
				{
					$query = "delete from custom_values where pid = '$pid' and cfid = '$alt_sku_flag'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
					$query = "insert into custom_values(pid, cfid, text_short) values('$pid', '$alt_sku_flag', '1')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
					
					$query = "delete from custom_values where pid = '$pid' and cfid = '$alt_sku_parentid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
					$query = "insert into custom_values(pid, cfid, text_short) values('$pid', '$alt_sku_parentid', '$parentid')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
					
				}
				
			}
			///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
			$efc->cacheAdditionalInfo($pid);	
			exit;
		}	
	}
}
?>