<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
?>
<table id="kittable" border=0>
	<tr bgcolor="#eeeeee">
		<td><div align=center><B>ID</B></div></td>
		<td><div align=center><B>Man Part</B></div></td>
		<td><div align=center><B>Title</B></div></td>
		<td><div align=center><B>Qty</B></div></td>
		<td><div align=center><B>Price</B></div></td>
		<td><div align=center><B>Cost</B></div></td>
		<td><div align=center><B>Del</B></div></td>
	</tr>
	<?
	$tcost = 0.00;
	$tprice = 0.00;
	
	$query = "select product_list.id, product_list.manpart, product_list.descr, product_prices.price_level1, product_kitskus.qty
				from 
				product_list, product_manufacturers, product_kitskus, product_prices 
				where 
				product_list.manid = product_manufacturers.manid and 
				product_list.id = product_kitskus.kid and 
				product_list.id = product_prices.id and
				product_kitskus.pid = '$id' 
				order by product_prices.price_level1 desc";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($kid, $manpart, $descr, $kprice, $qty) = mysql_fetch_array($qok))
	{
		if( strlen($descr) > 20 )
			$descr = substr($descr, 0, 17)."...";
			
		$avgcost = $efc->getActualCost($kid);
		
		$tcost += $kprice;
		$tprice += $avgcost;
		?>
		<tr bgcolor="#FFFFFF" onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" id="r-<?=$kid;?>-<?=$id;?>">
			<td><a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/viewsku.phtml?id=<?=$kid;?>&inwin=1', 'View SKU: <?=$kid;?>');"><?=$kid;?></a></td>
			<td><?=$manpart;?></td>
			<td><?=$descr;?></td>
			<td align=center>
				<input type="text" name="q-<?=$kid;?>-<?=$id;?>" id="q-<?=$kid;?>-<?=$id;?>" onblur="updateQty('q-<?=$kid;?>-<?=$id;?>')" value="<?=$qty;?>" class="formBox" style="width:20px"></td>
			<td align=right><?=number_format($kprice, 2);?></td>
			<td align=right><?=number_format($avgcost, 2);?></td>
			<td><a href="javascript:void(0);" onclick="deleteKitItem('<?=$kid;?>', '<?=$id;?>')"><img src="/mgt/images/del.gif" border=0></a></td>
		</tr>
		<?
	}
	?>
	<tr bgcolor="#eeeeee" id="total_row">
		<td colspan=4> &nbsp; </td>
		<td><div align=right><B><span id="totalprice_comp"><?=number_format($tcost, 2);?></span></B></div></td>
		<td><div align=right><B><span id="totalcost_comp"><?=number_format($tprice, 2);?></span></B></div></td
		<td>&nbsp;</td>
	</tr>
	</table>