<script>
function stateChanged2()
{
	if(xmlHttp.readyState==4)
	{
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n");

		document.getElementById("cat"+g2_level+"dx").style.display = '';


		for(xx = g2_level+1; xx < 6; xx++)
		{
			var cxs = document.getElementById("cat"+xx+"dx");

			if(!cxs)
			{
				alert('Could not find div:  cat'+xx+'dx');
				return;
			}
			cxs.style.display = 'none';

			var theSelect = document.getElementById("catx"+g2_level);
			for (i = theSelect.length - 1; i>=0; i--)
			{
				theSelect.remove(i);
		    }
		}

		var theSelect = document.getElementById("catx"+g2_level);
		var i;

		for (i = theSelect.length - 1; i>=0; i--)
		{
			theSelect.remove(i);
	    }

		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");

			if(data[0] != "")appendOption2(data);
		}

	}
}

function appendOption2(data)
{
	var theSelect = document.getElementById("catx"+g2_level);

	nOption = document.createElement('option');
	isData = document.createTextNode(data[1]);
	nOption.setAttribute('value',data[0]);
	nOption.appendChild(isData);

	//isList = document.advform.cat1;
	theSelect.appendChild(nOption);
}

var g2_level = 0;

function getCategories2(level)
{
	g2_level = level;

	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	}

  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.catoptions.catx0.options[ document.catoptions.catx0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.catoptions.catx1.options[ document.catoptions.catx1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.catoptions.catx2.options[ document.catoptions.catx2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.catoptions.catx3.options[ document.catoptions.catx3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.catoptions.catx4.options[ document.catoptions.catx4.selectedIndex ].value;

 	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged2;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
</script>
<script>
function categorizeSKUs()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}

	document.catoptions.idlist.value = skus;
	document.catoptions.submit();

}
</script>
<form name="catoptions" method="post" action="/mgt/sm/categorize_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.catoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Category:</td>
	<td>
	<select name="catx0" class="formSelect" onchange="getCategories2(1);">
	<option value="0">----- SELECT --------
	<?
	$query = "select product_categories.catid, product_categories.catname from product_categories
					LEFT JOIN product_categories_order ON
					product_categories.catid = product_categories_order.catid
					where parentid = '0'
					 order by product_categories_order.dorder, product_categories.catname";

	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($catid, $catname) = mysql_fetch_array($qok))
	{
	?>
		<option value="<?=$catid;?>"><?=$catname;?>
	<?
	}
	?>
	</select>

	<div id="cat1dx" style="display:none;"><select name="catx1" id="catx1" class="formSelect" onchange="getCategories2(2);"></select></div>
	<div id="cat2dx" style="display:none;"><select name="catx2" id="catx2" class="formSelect" onchange="getCategories2(3);"></select></div>
	<div id="cat3dx" style="display:none;"><select name="catx3" id="catx3" class="formSelect" onchange="getCategories2(4);"></select></div>
	<div id="cat4dx" style="display:none;"><select name="catx4" id="catx4" class="formSelect" onchange="getCategories2(5);"></select></div>
	<div id="cat5dx" style="display:none;"><select name="catx5" id="catx5" class="formSelect" onchange="getCategories2(6);"></select></div>


	</td>

	<td>&nbsp;&nbsp;&nbsp;</td>

	<td valign=top><input type="button" name="Action" value="Categorize" class="buttonItem" onclick="categorizeSKUs();"></td>

</tr>
</table>
</form>