<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if(intval($id) <= 0) // create sku?  make sure they have permission
{
	$efc->hasPermission("perm_createskus"); // will redirect on failure	
}
else 
{
	$efc->hasPermission("perm_editsku"); // will redirect on failure	
}

			
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</HEAD>
<STYLE>
.dialog {
display:none;
width:225px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 


function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)
 			{
 				window.event.cancelBubble = true;
 			}
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			searchcmic();
 			
 			return false; 
 		}
	}  
} 


function searchcmic()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	
	var dlg = document.getElementById("saveform");
	
	dlg.style.top = 20;
	dlg.style.left = 20;

	dlg.style.width = 100;
	dlg.style.height = 75;
		
	dlg.style.display = "block";

	document.getElementById("waitmsg").innerHTML = "<B>Searching...</B>";
	
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 

  	var manid = document.esearch.emanid.options[ document.esearch.emanid.selectedIndex ].value;
   	var keywords = document.esearch.keywords.value;
   	
 	var url="/mgt/sm/ajax_searchcmic.phtml?e_manid="+manid+"&f="+escape(keywords)+"&sid="+Math.random();
 	
	xmlHttp.onreadystatechange=cmicDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function cmicDone()
{
	if(xmlHttp.readyState==4)
	{ 
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("saveform");
		dlg.style.display = "none";

		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					if(pp == 0)
						newCell.innerHTML = "<a href=\"javascript:void(0);\" onclick=\"LoadSKU('"+rows[0]+"', '"+rows[2]+"');\">"+rows[0]+"</a>";
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}		
	}
		
}

function LoadSKU(cmicid, sku)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	
	var dlg = document.getElementById("saveform");
	
	dlg.style.top = 20;
	dlg.style.left = 20;

	dlg.style.width = 100;
	dlg.style.height = 75;
		
	dlg.style.display = "block";

	document.getElementById("waitmsg").innerHTML = "<B>Loading...</B>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 

  	var manid = document.esearch.emanid.options[ document.esearch.emanid.selectedIndex ].value;
   	var keywords = document.esearch.keywords.value;
   	
 	var url="/mgt/sm/ajax_loadcmicsku.phtml?cmicid="+cmicid+"&e2sku="+sku+"&pid=<?=$id;?>&sid="+Math.random();
 	
	xmlHttp.onreadystatechange=cmicSKULoaded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function cmicSKULoaded()
{
	if(xmlHttp.readyState==4)
	{ 
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("saveform");
		dlg.style.display = "none";
		
		document.getElementById("eskudata").innerHTML = xmlHttp.responseText;
		
		TabbedPanels1.showPanel(1);
	}	
}

function swapImage(imageSrc, imageInfo, imageWidth, showInfo)
{
	document.GALLERY.src=imageSrc;
				
	if(parseInt(imageWidth) > 300)
	{
		document.getElementById("GALLERY").width = 300;
		imageInfo += "<BR>"+showInfo;
		imageInfo += "<BR><BR><font color='#ff0000'>Image has been scaled down.</font><BR><a href='"+imageSrc+"' target='_blank'>Click Here to View Full Size</a>";
	}
	else
	{
		document.getElementById("GALLERY").width = parseInt(imageWidth);
		imageInfo += "<BR>"+showInfo;
	}
				
	document.getElementById("InfoImage").innerHTML = imageInfo;			
}

function CopycmicData(eid, pid, sku, type, addon)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	
	var dlg = document.getElementById("saveform");
	
	dlg.style.top = 20;
	dlg.style.left = 20;

	dlg.style.width = 100;
	dlg.style.height = 75;
		
	dlg.style.display = "block";
		
	document.getElementById("waitmsg").innerHTML = "<B>Copying...</B>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 

  	var manid = document.esearch.emanid.options[ document.esearch.emanid.selectedIndex ].value;
   	var keywords = document.esearch.keywords.value;
   	
 	var url="/mgt/sm/ajax_copycmic.phtml?cmicid="+eid+"&pid="+pid+"&type="+type+"&sku="+sku+"&addon="+escape(addon)+"&sid="+Math.random();
 	
 	xmlHttp.onreadystatechange=cmicCopied;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);			
}

function cmicCopied()
{
	if(xmlHttp.readyState==4)
	{ 
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("saveform");
		dlg.style.display = "none";
		
		alert(xmlHttp.responseText);
	}	
}
</script>
<body>
<div id="savecover" class="cover"></div>

<?
if($inwin == 0)
{?>

	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
<?
}
else 
{
	?>
	<table width=95% height=100% cellpadding=0 cellspacing=0 border=0>
	<tr>
		<td>
	<?
}
list($e2width, $e2height) = $efc->get_e2win_size();

$tabid = 0;
?>
	<input type="hidden" name="id" value="<?=$id;?>">
	<input type="hidden" name="inwin" value="<?=$inwin;?>">
		<div style="padding-left:5px;padding-top:10px">
		<div id="TabbedPanels1" class="TabbedPanels" style="width:<?=$e2width-25;?>px">
	    	<ul class="TabbedPanelsTabGroup">
	        	<li class="TabbedPanelsTab" tabindex="<?echo $tabid;$tabid++?>"><strong>Search</strong></li>
	        	<li class="TabbedPanelsTab" tabindex="<?echo $tabid;$tabid++?>"><strong>View SKU</strong></li>
	        </ul>
			<div class="TabbedPanelsContentGroup">
				<div class="TabbedPanelsContent">  
<!---------------------------------------------------------------------------------------------------------------------->
				<form name="esearch">
				<table>
				<tr>
					<td><B>Manufacturer:</B></td>				
					<td>
						<select class="formSelect" name="emanid">
						<option value="0">--- ANY ---</option>
						<?
						$query = "select commonbrandid, commonbrandname from brand_data order by commonbrandname";
						if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($e_manid, $e_manname) = mysql_fetch_row($qok))
						{
						?>
							<option value="<?=$e_manid;?>"><?=$e_manname;?></option>
						<?	
						}
						?>
						</select>
					</td>
				</tr>
				
				<tr>
					<td><B>Keywords:</B></td>
					<td>
						<input type="text" name="keywords" class="formBox" style="width:225px" value="<?=$kw;?>" onkeypress="return cancelReturn(this, event);">
					</td>
				</tr>
				
				<tr>
					<td colspan=2>
						<input type="button" onclick="searchcmic()" name="Action" value="Search cmic" class="buttonItem">
					</td>
				</tr>
				</table>
				</form>
				
				<BR><BR>
				<?//echo "$eid\t$manname\t$manpart\t$upc\t$descr\n";	?>
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th>ID</th>
					<th>Man.</th>
					<th>Man. Part</th>
					<th>UPC</th>
					<th>Descr</th>
				</tr>	
				</table>				
<!---------------------------------------------------------------------------------------------------------------------->
		        </div>
				<div class="TabbedPanelsContent">  
					<div id="eskudata">
					<B>No SKU Loaded... click on an cmic id from the search results</B>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		<!--
		var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
		//-->
		</script>		
<?
if($inwin == 0)
{
	?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
else 
{
	?>
	</td>
	</tr>
	</table>
	<?
}
?>

<div id="saveform" class="dialog">
<table>
<tr>
	<td align=center>
		<div id="waitmsg"><B>Searching...</B></div>
		<BR><BR>
		<img src="/mgt/images/loading.gif" border=0>
	</td>
</tr>
</table>
</div>

</body>
</html>