<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$selected_ids = explode(',', $selected_ids);
?>
<table>
<tr>
	<td><b>SKUs Created</b></td>
</tr>
<?
$copypid = $parent_id;
foreach ($selected_ids as $selected_id) {
    if (intval($selected_id) <= 0) {
        break;
    }
	////////////////////////////////////////////
	// e1 is syncing with e2 right now so, don't autoincrement for the id
	$query = "select id from product_list order by id desc limit 0, 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($id) = mysql_fetch_array($qok);
	$id++;
	?>
	<tr>
		<td><?=$id?></td>
	</tr>
	<?
	$q = "SELECT manid, manpart, descr, added_dte, status, returnable, upccode, platform, grp, cat, sub, roimast, dropship, shipweight,
				oem, refurb, sku, visible, kit, demo, hidestock, usemap, shipcode, alwaysinstock, alwaysoutstock, 
				invisibleonstock, shipsin, minqty, targetqty, pricenote, asin, am_qty,
				am_std_ship, am_exp_ship, kit_fixed, kit_value, amazon_realtime, modelno, serialized, preorder, sysvis, cmanpart, am_latency, use_asin, series, 
				eb_std_ship, eb_exp_ship, am_update_override, am_condition FROM product_list WHERE id='".$copypid."'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($manid, $manpart, $descr, $added_dte, $status, $returnable, $upccode, $platform, $grp, $cat, $sub, $roimast, $dropship, $shipweight,
				$oem, $refurb, $sku, $visible, $kit, $demo, $hidestock, $usemap, $shipcode, $alwaysinstock, $alwaysoutstock, 
				$invisibleonstock, $shipsin, $minqty, $targetqty, $pricenote, $asin, $am_qty,
				$am_std_ship, $am_exp_ship, $kit_fixed, $kit_value, $amazon_realtime, $modelno, $serialized, $preorder, $sysvis, $cmanpart, $am_latency, $use_asin, $series, 
				$eb_std_ship, $eb_exp_ship, $am_update_override, $am_condition) = mysql_fetch_array($qok);
	
	
	$cmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
        if($no_upc == '0' || $no_upc == '') {
            $upc_query = "select * from multipack_upc_codes limit 1";
            if(!$qok = mysql_db_query($DB, $upc_query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($upccodeid, $upccode) = mysql_fetch_array($qok);
        }
        else {
           $upccode = ''; 
        }
        $query = "insert into product_list(id, manid, manpart, descr, added_dte, status, returnable, upccode, platform, grp, cat, sub, roimast, dropship, shipweight,
				oem, refurb, sku, visible, kit, demo, hidestock, usemap, shipcode, alwaysinstock, alwaysoutstock, 
				invisibleonstock, shipsin, minqty, targetqty, pricenote, am_qty,
				am_std_ship, am_exp_ship, kit_fixed, kit_value, amazon_realtime, modelno, serialized, preorder, sysvis, cmanpart, am_latency, series, 
				eb_std_ship, eb_exp_ship, am_update_override, am_condition) ";
	$query .= " values('$id','$manid', '$manpart', '".addslashes($descr)."', '$added_dte', '$status', '$returnable', '$upccode', '$platform', '$grp', '$cat', '$sub', '$roimast', '1', '$shipweight',
				'$oem', '$refurb', '$sku', '$visible', '1', '$demo', '$hidestock', '$usemap', '$shipcode', '$alwaysinstock', '$alwaysoutstock', 
				'$invisibleonstock', '$shipsin', '$minqty', '$targetqty', '$pricenote', '100',
				'$am_std_ship', '$am_exp_ship', '$kit_fixed', '$kit_value', '$amazon_realtime', '$modelno', '$serialized', '$preorder', '$sysvis', '$cmanpart', '$am_latency', '$series', 
				'$eb_std_ship', '$eb_exp_ship', '$am_update_override', '$am_condition')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if($no_upc == '0' || $no_upc == '') {
            $upc_delete_query = "delete from multipack_upc_codes where id = '$upccodeid'";
            if(!$qok = mysql_db_query($DB, $upc_delete_query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        }
        if(intval($id) <= 0)
	{
		//echo "ERROR ID: $query\n";
	}
	
	$query = "select descr from product_list where id = '$selected_id'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($selected_product_title) = mysql_fetch_array($qok);

    $ebay_title = $multi_pack_qty . ' Pack - '.$selected_product_title;
    $selected_product_title .= ' - ' . $multi_pack_qty . ' Pack';

    /*$ebay_title = $selected_product_title.' '.$multi_pack_qty . ' Pack ';
    $selected_product_title = $multi_pack_qty . ' Pack '.$selected_product_title;*/
    
    $query = "update product_list set descr='" . $selected_product_title . "' where id = '$id'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        
    $qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='10' AND pid='".$id."'";	
	if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($q2okx)>0) {
		$queryy = "UPDATE custom_values SET text_short='$ebay_title' WHERE cfid = '10' AND pid='$id'";
		if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
	}
	else {
		$queryy = "insert into custom_values(cfid, pid, text_short) values('10', '$id', '".addslashes($ebay_title)."')";
		if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
	} 	
	
	
	
	$q = "SELECT dsqty,scost,displayname,roimast_count,imagecount,cattree,sitelist,inlist FROM product_search_extended WHERE pid='$copypid'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sqtya,$scosta,$displaynamea,$roimast_counta,$imagecounta,$cattreea,$sitelista,$inlista) = mysql_fetch_array($qok);
	
	$q = "INSERT INTO product_search_extended(pid,dsqty,scost,displayname,roimast_count,imagecount,cattree,sitelist,inlist) 
				VALUES('$id','$sqtya','$scosta','$displaynamea','$roimast_counta','$imagecounta','$cattreea','$sitelista','$inlista')";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// product_commission
	$query = "show tables like 'product_commission'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		$query = "delete from product_commission where pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if(floatval($commission) > 0.00)
		{
			$query = "insert into product_commission(pid, commission, type) values('$id', '$commission', '$commission_type')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}

	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// SKU ASSIGNMENT
	$query = "delete from sku_assignment where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if(intval($assignedto) > 0)
	{
		$query = "insert into sku_assignment(pid, userid) values('$id', '$assignedto')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        if( intval($copypid) > 0 ) 
	{
            
            $query = "SELECT tid,sscid,dvalue FROM product_static_specs WHERE id='".$copypid."'";
            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 56";echo mysql_error(); exit; }  }
            $static_arr = array();
            while (list($tid,$sscid,$dvalue) = mysql_fetch_array($qok)) {
                $ss = array();
                $ss['tid'] = $tid;
                $ss['sscid'] = $sscid;
                $ss['dvalue'] = $dvalue;
                $static_arr[] = $ss;	
            }
            foreach($static_arr as $x=>$y) {
                $qxx = "INSERT INTO product_static_specs(id,tid,sscid,dvalue) VALUES('".$id."','".addslashes($y['tid'])."','".$y['sscid']."','".$y['dvalue']."')";
                if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 57";echo mysql_error(); exit; }  }
            }
            
        }
	if( (intval($copypid) > 0) && ($kit == 1)) // copypid and kit?  Copy the kit components over
	{
		$query = "insert into product_kitskus(pid, kid, qty) select $id, kid, qty from product_kitskus where pid = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	if( intval($copypid) > 0 ) 
	{
		$query = "insert into product_descr(id, data, divid) select $id, data, divid from product_descr where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_html(id, data, divid) select $id, data, divid from product_html where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_images(id, idata, itype, thumb, width, height, divid) select $id, idata, itype, thumb, width, height, divid from product_images where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->cache_watermark_image($id, $ROOT_DIR);	
		
		$query = "insert into product_specs(id, section, dkey, dval, divid) select $id, section, dkey, dval, divid from product_specs where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_accessories(id, accid, dorder) select $id, accid, dorder from product_accessories where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_accessories2(id, accid, dorder) select $id, accid, dorder from product_accessories2 where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_features(id, feature) select $id, feature from product_features where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_inthebox(id, data) select $id, data from product_inthebox where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_warranty(id, data) select $id, data from product_warranty where id = '$copypid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$q = "SELECT price_map, price_msrp, price_level1, price_level2, price_level3, price_level4, price_level5, price_level6, price_level7, price_level8, price_level9, instock, avgcost, eta, fco1, fco2, fco3, fco4, fco5, fco6, fco7, fco8, fco9 FROM product_prices WHERE id='".$copypid."'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($price_map, $price_msrp, $price_level1, $price_level2, $price_level3, $price_level4, $price_level5, $price_level6, $price_level7, $price_level8, $price_level9, $instock, $avgcost, $eta, $fco1, $fco2, $fco3, $fco4, $fco5, $fco6, $fco7, $fco8, $fco9) = mysql_fetch_array($qok);
	
	
	if(floatval($price_level2) <= 0) $price_level2 = $price_level1;
	if(floatval($price_level3) <= 0) $price_level3 = $price_level1;
	if(floatval($price_level4) <= 0) $price_level4 = $price_level1;
	if(floatval($price_level5) <= 0) $price_level5 = $price_level1;
	if(floatval($price_level6) <= 0) $price_level6 = $price_level1;
	if(floatval($price_level7) <= 0) $price_level7 = $price_level1;
	if(floatval($price_level8) <= 0) $price_level8 = $price_level1;
	if(floatval($price_level9) <= 0) $price_level9 = $price_level1;
	
	$eta = date("Y-m-d H:i:s", strtotime($inventory_eta));
	
	$query = "insert into product_prices(id, price_map, price_msrp, price_level1, price_level2, price_level3, price_level4, price_level5, price_level6, price_level7, price_level8, price_level9, instock, avgcost, eta, fco1, fco2, fco3, fco4, fco5, fco6, fco7, fco8, fco9)";
	$query .= " values('$id', '$price_map', '$price_msrp','$price_level1','$price_level2','$price_level3','$price_level4','$price_level5','$price_level6','$price_level7','$price_level8','$price_level9','0','$inventory_cost','$eta','$fco1','$fco2','$fco3','$fco4','$fco5','$fco6','$fco7','$fco8','$fco9')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$tstock = $tcost = 0.00;
	
	$efc->checkKitPriceChange($id);
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// DATA FEED
		$query = "select datafeed_skus.id, datafeed_skus.dfid, datafeed_skus.manpart, datafeeds.dfname from datafeed_skus, datafeeds 
					where datafeed_skus.pid = '$copypid' and datafeed_skus.dfid = datafeeds.dfid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($xid, $dfid, $manpart, $dfname) = mysql_fetch_array($qok))
		{
			$queryx = "INSERT INTO datafeed_skus(dfid,manpart,pid) VALUES('".$dfid."','".$manpart."','".$id."')";
			if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// KEYWORDS
	$query = "insert into product_keywords(id, kw1,kw2,kw3,kw4,kw5) select $id, kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	/*$warehouse = addslashes($inventory_warehouse);
	$available = $inventory_available;
	
	$inventory_cost = str_replace(",", "", $inventory_cost);
	$inventory_cost = str_replace("$", "", $inventory_cost);
	$cost = $inventory_cost;
	$eta = date("Y-m-d H:i:s", strtotime($inventory_eta));
	
	$query = "delete from product_inventory where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into product_inventory(id, warehouse, inv_available, cost, eta) values('$id', '$warehouse', '$available', '$cost', '$eta')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }*/
	
	$typeBenabled = $efc->getConfigValue("eFluent Settings", "InvType");
	if($typeBenabled == "B")
	{
		$invarray = $efc->getInventoryType($id);
		$inv_type = $invarray['inv_type'];
	}
	
	// get the list of available warehouses
	
	/*if($inv_type == "B")
		$query = "select config_key, config_value from configuration where config_group = 'Warehouse List B' and config_key is NOT NULL";
	else 
		$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($whid, $whname) = mysql_fetch_array($qok))
	{
		// remove whatever inventory we had
		if($inv_type == "B")
			$query = "delete from product_inventory_b where pid = '$id' and whid = '$whid'";
		else 
			$query = "delete from product_inventory where id = '$id' and whid = '$whid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$qz = "SELECT inv_available, cost FROM product_inventory WHERE id='$copypid' AND whid='$whid'";
		if(!$q2okz = mysql_db_query($DB, $qz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($whstock,$whcost) = mysql_fetch_array($q2okz);
		// now add what we have
		//$whstock = $_POST["inventory_available_$whid"];
		$whcost  = $_POST["inventory_cost_$whid"];
		
		if($inv_type == "B")
		{
			$query = "insert into product_inventory_b(pid, inv_available, whid) values('$id', '$whstock', '$whid')";
		}
		else 
		{
			$query = "insert into product_inventory(id, warehouse, inv_available, cost, whid) values('$id', '$whname', '$whstock', '$whcost', '$whid')";
		}
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	*/
	
	// now get the total inventory from sourcing 
	$query = "select sum(qty), sum(cost) from product_sourcing where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sqty, $scost) = mysql_fetch_array($qok);
	
	// now get the total inventory from local warehouses
	// there's a warehouse to exclude...... 

	//////////////////////////////////////////////////////////////////////////////////////////////////////
	$exclude = trim( $efc->getConfigValue("eFluent Settings", "ExcludeWarehouse") );
	$qaddon = "";
	if(stristr($exclude, ","))
	{
		$ex_whlist = explode(",", $exclude);
		
		for($pj = 0; $pj < count($ex_whlist); $pj++)
		{
			if($ex_whlist[$pj] != "")
				$qaddon .= " AND whid != '".$ex_whlist[$pj]."' ";
		}
	}
	else 
	{
		if($exclude != "")
			$qaddon= " AND whid != '$exclude'";
	}
	//////////////////////////////////////////////////////////////////////////////////////////////////////	
		
	if($inv_type == "B")
	{
		if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory_b where pid = '$id' $qaddon";}
		else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory_b where pid = '$id'";}
	}
	else 
	{
		if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$id' $qaddon";}
		else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$id'";}
	}

	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($lqty, $lcost) = mysql_fetch_array($qok);
	
	$tqty = $lqty;
	$tcost = $lcost / $lqty;
	
	//echo "TQTY: $tqty TCOST: $tcost\n";
	
	$query = "update product_prices set instock = '$tqty', avgcost = '$tcost' where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "delete from product_category_map where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$q = "SELECT catid FROM product_category_map WHERE pid='".$copypid."'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	while (list($cat_id) = mysql_fetch_array($qok)) {
		$query1 = "insert into product_category_map(pid, catid) values('$id', '$cat_id')";
		if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}

	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "delete from salesman_cost where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "SELECT sdollar, spercent from salesman_cost where pid = '$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sc_fixed,$sc_percent) = mysql_fetch_array($qok);
	
	if($sc_fixed > 0 || $sc_percent > 0)
	{
		$query = "insert into salesman_cost(type, pid, sdollar, spercent) values('1', '$id', '$sc_fixed', '$sc_percent')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
	}
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// save the kit components
	if($kit == 1)
		$efc->internal_repriceKits($id, $kit_fixed, $kit_value);
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	/*$query = "update product_sourcing set useinv = 0 where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	for($pp = 0; $pp < count($dsinventory); $pp++)
	{
		$query = "update product_sourcing set useinv = 1 where pid = '$id' and sid = '".$dsinventory[$pp]."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}*/
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	
	$query = "select id, name, type, note from custom_fields where active = 1 and display = 1 order by type, name";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xid, $name, $type, $note) = mysql_fetch_array($qok))
	{
//		$field_data = addslashes($_POST["CFID_$xid"]);	
		
		
		$query = "delete from custom_values where cfid = '$xid' and pid = '$id'";
		if(!$q2ok =mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='".$xid."' AND pid='".$copypid."'";	
		if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while (list($text_short, $text_long) = mysql_fetch_array($q2okx)) {
			$queryy = "insert into custom_values(cfid, pid, text_short, text_long) values('$xid', '$id', '$text_short', '$text_long')";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		/*
		if($type == 0 || $type == 1)
			$query = "insert into custom_values(cfid, pid, text_short, text_long) values('$xid', '$id', '$field_data', '')";
		else
			$query = "insert into custom_values(cfid, pid, text_short, text_long) values('$xid', '$id', '', '$field_data')";
		
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }*/
	}	
	$qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='10' AND pid='".$id."'";	
	if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($q2okx)>0) {
		$queryy = "UPDATE custom_values SET text_short='".addslashes($ebay_title)."' WHERE cfid = '10' AND pid='$id'";
		if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
	}
	else {
		$queryy = "insert into custom_values(cfid, pid, text_short) values('10', '$id', '".addslashes($ebay_title)."')";
		if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
	} 	
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "SELECT fba_sku FROM fba_sku_map WHERE pid='$copypid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_sku) = mysql_fetch_array($qok);
	
	$query = "select pid from fba_sku_map where pid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		$fba_sku = addslashes($fba_sku);
		$query = "update fba_sku_map set fba_sku = '$fba_sku' where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	else 
	{
		$fba_sku = addslashes($fba_sku);
		$query = "insert into fba_sku_map(fba_sku, pid) values('$fba_sku', '$id')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$efc->logAction("SUCCESS", "1", $id, "Product: $id Created", "Product: $id Created"); 
	$efc->UpdatePool("1", $id);
	//$efc->touchSKU($id);

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // update the site_list for this sku
        $query = "select divid from site_skus WHERE pid='$copypid'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while(list($site_divid) = mysql_fetch_array($qok))
        {
                $query = "delete from site_skus where pid = '$id' and divid = '$site_divid'";
                if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                $query = "insert into site_skus(divid, pid) values('$site_divid', '$id')"; 
                if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        }
        
        
        
        $qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='36' AND pid='".$id."'";	
		if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q2okx)>0) {
			$queryy = "UPDATE custom_values SET text_short='1' WHERE cfid = '36' AND pid='$id'";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
		else {
			$queryy = "insert into custom_values(cfid, pid, text_short) values('36', '$id', '1')";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
		
		$qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='41' AND pid='".$id."'";	
		if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q2okx)>0) {
			$queryy = "UPDATE custom_values SET text_short='1' WHERE cfid = '41' AND pid='$id'";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
		else {
			$queryy = "insert into custom_values(cfid, pid, text_short) values('41', '$id', '1')";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
		
		$qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='38' AND pid='".$id."'";	
		if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q2okx)>0) {
			$queryy = "UPDATE custom_values SET text_short='$copypid' WHERE cfid = '38' AND pid='$id'";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
		else {
			$queryy = "insert into custom_values(cfid, pid, text_short) values('38', '$id', '$copypid')";
			if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
		}
		
		
		if($ace == '1') {
                    $queryy = "DELETE FROM list_products WHERE (lid='166' OR lid='167') AND pid='$id'";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			

                    $queryy = "insert into list_products(pid, lid) values('$id', '166')";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
                    $queryy = "insert into list_products(pid, lid) values('$id', '167')";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
                }
                else {
                    $queryy = "DELETE FROM list_products WHERE (lid='135' OR lid='107' OR lid='60' OR lid='124') AND pid='$id'";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			

                    $queryy = "insert into list_products(pid, lid) values('$id', '135')";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
                    $queryy = "insert into list_products(pid, lid) values('$id', '107')";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
                    $queryy = "insert into list_products(pid, lid) values('$id', '60')";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
                    $queryy = "insert into list_products(pid, lid) values('$id', '124')";
                    if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
                }
} 
$efc->touchSKU($copypid);   

//Header("Location: /mgt/sm/search.phtml");
?>
</table>