<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if($Action == "Save Field")
{
	$name = addslashes($name);
	$note = addslashes($note);
	
	if(intval($cfid) > 0)
	{
		$query = "update custom_fields set name = '$name', type = '$type', note = '$note', failover = '$failover', 
					active = '$active', display = '$display' where id = '$cfid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		Header("Location: /mgt/sm/custom_fields.phtml");
		exit;
		
	}
	else 
	{
		$query = "insert into custom_fields(name, type, note, failover, active, display) ";
		$query .= "values('$name', '$type', '$note', '$failover', '$active', '$display')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		Header("Location: /mgt/sm/custom_fields.phtml");
		exit;
		
	}
	
}	
else if($Action == "Delete")
{
	$query = "delete from custom_fields where id = '$cfid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from custom_values where cfid = '$cfid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/sm/custom_fields.phtml");
	exit;	
}
?>
<HTML>
<HEAD>
<TITLE>Custom Fields</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script type="text/javascript">
<!--
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
//-->
</script>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Custom Fields</B>
		<BR><BR>

	<table width=99%>
	<tr bgcolor="#F1F3F7">
		<td><B>CFID</B></td>
		<td><B>Active</B></td>
		<td><B>Name</B></td>
		<td><B>Type</B></td>
		<td><B>Default</B></td>
		<td><B>Note</B></td>
		<td><B>Del</B></td>
	</tr>
	
	
	<?
	$query = "select id, name, type, note, failover, active, display from custom_fields order by name";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($id, $name, $type, $note, $failover, $active, $display) = mysql_fetch_array($qok))
	{
		$note = str_replace("\\", "", $note);
		?>
		<?
		if($display == 1)
			echo "<tr bgcolor='#ffffee'>";
		else 
			echo "<tr>";
	?>
			<td>
				<a href="/mgt/sm/custom_fields.phtml?Action=Edit&cfid=<?=$id;?>">CFID_<?=$id;?></a>
			</td>
			
			<td>
			<?
				if($active == "1") echo "Yes";
				else if($active == "0") echo "No";
			?>
			</td>
			<td><?=$name;?></td>
			<td>
				<?
				if($type == 0) echo "Checkbox"; 
				else if($type == 1) echo "Input Field"; 
				else if($type == 2) echo "Select Box"; 
				?> 
			</td>
			<td>
				<?=$failover;?>
			</td>			
			<td>
				<?=$note;?>
			</td>
			<td>
				<a href="javascript:makesure('Are you sure you want to delete this custom field?\nAll data entered for this custom field will also be deleted.', '/mgt/sm/custom_fields.phtml?Action=Delete&cfid=<?=$id;?>');" class="g2">
					<img src="/mgt/images/del.gif" border=0>
				</a>
			</td>
		</tr>
		<?
	}
	?>
	</table>		
		
	<!--------------------------------------------------------------->		
	<HR NOSHADE>
	<BR><BR>
	<!--------------------------------------------------------------->		
	<B>Add Field</B><BR>
	<form name="editfield" method="post" onsubmit="return checkData();">
	<input type="hidden" name="sku" value="<?=$sku;?>">
	<?
	if($Action == "Edit")
	{
		$query = "select name, type, note, failover, active, display from custom_fields where id = '$cfid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($name, $type, $note, $failover, $active, $display) = mysql_fetch_array($qok);
		
		$note = str_replace("\\", "", $note);
		?>
		<input type="hidden" name="cfid" value="<?=$cfid;?>">
		<?
	}
	?>
	<table>
	<tr>
		<td><B>Name:</B></td>
		<td><input type="text" name="name" value="<?=$name;?>" class="formBox"></td>
	</tr>
	<tr>
		<td><B>Type:</B></td>
		<td>
			<select name="type" class="formSelect">
				<option value="">--- Select ---
				<option value="0" <?if($type == 0) echo "SELECTED";?>>Checkbox
				<option value="1" <?if($type == 1) echo "SELECTED";?>>Input Field
				<option value="2" <?if($type == 2) echo "SELECTED";?>>Select Box
			</select>		
		</td>
	</tr>
	<tr>
		<td><B>Default:</B></td>
		<td>
			<input type="text" name="failover" value="<?if($Action=="Edit") echo $failover;?>">		
		</td>
	</tr>	
	<tr>
		<td><B>Active:</B></td>
		<td>
			<select name="active" class="formSelect">
				<option value="0" <?if($active == 0) echo "SELECTED";?>>No
				<option value="1" <?if($active == 1) echo "SELECTED";?>>Yes
			</select>		
		</td>
	</tr>	
	<tr>
		<td><B>Note:</B></td>
		<td>
			<textarea style="width:155px;height:90px" name="note" class="formBox"><?=$note;?></textarea>
		</td>
	</tr>
	<tr>
		<td><B>Display:</B></td>
		<td>
			<input type="checkbox" name="display" value="1" <?if($display == 1) echo "CHECKED";?>> (display on Edit SKU page 1)		
		</td>
	</tr>	
	
	<tr>
		<td colspan=2 align=center>
			<input type="submit" name="Action" value="Save Field" class="buttonItem">
		</td>
	</tr>

	</table>
	</form>	
	** For Select Box, input a comma delimited list of choices in the "NOTE" field
	</td>

</tr>
</table>

</body>
</html>