<?
function useField($field)
{
	global $mysqlid;
	global $DB;

	$query = "select count(*) from edit_sku_fields where field = '$field'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($isfield) = mysql_fetch_array($qok);
	
	return $isfield;
}

if(useField("brand"))
{
	$fields['tag'][] = "Brand";
	$fields['code'][] = "<input type=\"text\" name=\"brand\" value=\"$brand\" onblur=\"verifyBrand()\" onkeypress=\"return autocomplete(this, event, keyValues)\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("weight"))
{
	$fields['tag'][] = "Weight";
	$fields['code'][] = "<input type=\"text\" name=\"weight\" value=\"$shipweight\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("manpart"))
{
	$fields['tag'][] = "Man Part";
	$fields['code'][] = "<input type=\"text\" name=\"manpart\" value=\"$manpart\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("status"))
{
	if($status == 0) $status0 = "SELECTED";
	else if($status == 1) $status1 = "SELECTED";
	else if($status == 2) $status2 = "SELECTED";
	else if($status == 3) $status3 = "SELECTED";
	
	$fields['tag'][] = "Status";
	$fields['code'][] = "<select name=\"status\" class=\"formSelect\">
						<option value=\"-1\">----- SELECT --------
						<option value=\"0\" $status0>Active
						<option value=\"1\" $status1>Allocated
						<option value=\"2\" $status2>End of Life
						<option value=\"3\" $status3>Discontinued
						</select>";
}

if(useField("upc"))
{
	$fields['tag'][] = "UPC";
	$fields['code'][] = "<input type=\"text\" name=\"upc\" value=\"$upccode\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("platform"))
{
	$fields['tag'][] = "Platform";
	$fields['code'][] = "<input type=\"text\" name=\"platform\" value=\"$platform\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("crawlerid"))
{
	$fields['tag'][] = "CrawlerID";
	$fields['code'][] = "<input type=\"text\" name=\"crawlerid\" value=\"$roimast\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("instock"))
{
	if(intval($id) <= 0)
		$sv = " 0/0 ";
	else
		$sv = $efc->getInvTotal($id);
							
	$fields['tag'][] = "In-Stock";
	$fields['code'][] = "$sv";
}

if(useField("shipcode"))
{
	$fields['tag'][] = "Ship Code";
	$fields['code'][] = "<input type=\"text\" name=\"shipcode\" value=\"$shipcode\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("shipsin"))
{
	if($shipsin == 1) $shipsin1 = "SELECTED";
	else if($shipsin == 2) $shipsin2 = "SELECTED";
	else if($shipsin == 3) $shipsin3 = "SELECTED";
	else if($shipsin == 5) $shipsin5 = "SELECTED";
	else if($shipsin == 7) $shipsin7 = "SELECTED";
	else if($shipsin == 10) $shipsin10 = "SELECTED";
	else if($shipsin == 11) $shipsin11 = "SELECTED";
	else if($shipsin == 12) $shipsin12 = "SELECTED";
	else if($shipsin == 13) $shipsin13 = "SELECTED";
	
	$fields['tag'][] = "Ships in";
	$fields['code'][] = "<select name=\"shipsin\" class=\"formSelect\">
						<option value=\"\">--- SELECT ---</option>
						<option value=\"1\" $shipsin1>Ships in 1-2 Business Days</option>
						<option value=\"2\" $shipsin2>Ships in 2-3 Business Days</option>
						<option value=\"3\" $shipsin3>Ships in 3-5 Business Days</option>
						<option value=\"5\" $shipsin5>Ships in 5-7 Business Days</option>
						<option value=\"7\" $shipsin7>Ships in 7-14 Business Days</option>
						
						<option value=\"10\" $shipsin10>Usually Ships in 1-2 Weeks</option>
						<option value=\"11\" $shipsin11>Usually Ships in 2-3 Weeks</option>
						<option value=\"12\" $shipsin12>Usually Ships in 3-4 Weeks</option>
						<option value=\"13\" $shipsin13>Usually Ships in 4-6 Weeks</option>";
}

if(useField("asin"))
{
	$fields['tag'][] = "ASIN";
	$fields['code'][] = "<input type=\"text\" name=\"asin\" value=\"$asin\" class=\"formBox\" style=\"width:85px\"><a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/asinlookup.phtml?pid=$id&upc=$upccode&inwin=1', 'ASIN SKU: $id');\">Search</a>";
}

if(useField("amazonqty"))
{
	$fields['tag'][] = "Amazon Qty";
	$fields['code'][] = "<input type=\"text\" name=\"am_qty\" value=\"$am_qty\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("stdshipping"))
{
	$fields['tag'][] = "Std Shipping";
	$fields['code'][] = "<input type=\"text\" name=\"am_std_ship\" value=\"$am_std_ship\" class=\"formBox\" style=\"width:125px\"><a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/cf/amazon_defaults.phtml?pid=$id&inwin=1', 'Etilize SKU: $id');\">Defaults</a>";
}

if(useField("expshipping"))
{
	$fields['tag'][] = "Exp Shipping";
	$fields['code'][] = "<input type=\"text\" name=\"am_exp_ship\" value=\"$am_exp_ship\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("model"))
{
	$fields['tag'][] = "Model#";
	$fields['code'][] = "<input type=\"text\" name=\"modelno\" value=\"$modelno\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("assignedto"))
{
	$x_assignedto = $efc->getSKUAssignment($id);
	
	$code = "<select name=\"assignedto\" class=\"formSelect\">";
	$code .= "<option value=\"0\">Unassigned</option>";
	
	$query = "select id, displayname from users order by displayname";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
	{
	
		if($x_userid == $x_assignedto)
			$code .= "<option value=\"$x_userid\">$x_displayname</option>";
		else 
			$code .= "<option value=\"$x_userid\">$x_displayname</option>";
		
	
	}
	$code .= "</select>";
	
	$fields['tag'][] = "Assigned To";
	$fields['code'][] = $code;
}

if(useField("partydata"))
{
	$fields['tag'][] = "3rd Party Data";
	
	if($DB == "butterfly")
	{
		$thirdparty = "<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/etilizesku.phtml?id=$id&kw=".urlencode($manpart)."&inwin=1', 'Etilize SKU: $id');\">Etilize</a>
						&nbsp;&nbsp;
						<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/cmicsku.phtml?id=$id&kw=".urlencode($manpart)."&inwin=1', 'CMIC SKU: $id');\">CMIC</a>";
	}
	else 
	{
		$thirdparty = "<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/etilizesku.phtml?id=$id&kw=".urlencode($manpart)."&inwin=1', 'Etilize SKU: $id');\">Etilize</a>";
		
	}
	
	$fields['code'][] = $thirdparty;
}

if(useField("metatags"))
{
	$fields['tag'][] = "MetaTags";
	$fields['code'][] = "<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/cf/metatags.phtml?typeid=$id&type=1&inwin=1', 'Metatags for SKU: $id');\">Edit Tags</a>";
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

if(useField("visible"))
{
	$ischecked = "";
	if($visible == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"visible\" value=\"1\" $ischecked> Visible";
}

if(useField("dropship"))
{
	$ischecked = "";
	if($dropship == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"dropship\" value=\"1\" $ischecked> Drop Ship";
}

if(useField("oem"))
{
	$ischecked = "";
	if($oem == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"oem\" value=\"1\" $ischecked> OEM";
}

if(useField("refurb"))
{
	$ischecked = "";
	if($refurb == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"refurb\" value=\"1\" $ischecked> Refurb";
}

if(useField("demo"))
{
	$ischecked = "";
	if($demo == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"demo\" value=\"1\" $ischecked> Demo";
}

if(useField("returnable"))
{
	$ischecked = "";
	if($returnable == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"returnable\" value=\"1\" $ischecked> Returnable";
}

if(useField("kit"))
{
	$ischecked = "";
	if($kit == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"kit\" value=\"1\" onclick=\"updateKit()\" $ischecked> Kit";
}

if(useField("hidestock"))
{
	$ischecked = "";
	if($hidestock == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"hidestock\" value=\"1\" $ischecked> Hide Stock";
}

if(useField("usemap"))
{
	$ischecked = "";
	if($usemap == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"usemap\" value=\"1\" $ischecked> Use MAP";
}

if(useField("newsku"))
{
	$ischecked = "";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"force_sku\" value=\"1\" $ischecked><font color='#ff0000'>Save as a New SKU</font>";
}

if(useField("alwaysinstock"))
{
	$ischecked = "";
	if($alwaysinstock == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"alwaysinstock\" value=\"1\" $ischecked> Always In-Stock";
}

if(useField("alwaysoutstock"))
{
	$ischecked = "";
	if($alwaysoutstock == 1) $ischecked = "CHECKED";
	
	$checks['code'][] = "<input type=\"checkbox\" name=\"alwaysoutstock\" value=\"1\" $ischecked> Always In-Stock";
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

if(useField("outofstockonzero"))
{
	$ischecked = "";
	if($invisibleonstock == 1) $ischecked = "CHECKED";
	
	$xchecks['code'][] = "<input type=\"checkbox\" name=\"invisibleonstock\" value=\"1\" $ischecked>Out-of-Stock on 0 \"Available\"";
}

if(useField("realtimestock"))
{
	$ischecked = "";
	if($invisibleonstock == 1) $ischecked = "CHECKED";
	
	$xchecks['code'][] = "<input type=\"checkbox\" name=\"amazon_realtime\" value=\"1\" $ischecked>Realtime Stock for Amazon Inventory";
}

if(useField("prompt4serial"))
{
	$ischecked = "";
	if($serialized == 1) $ischecked = "CHECKED";
	
	$xchecks['code'][] = "<input type=\"checkbox\" name=\"serialized\" value=\"1\"  $ischecked>Prompt for Serial# when Shipped";
}

if(useField("systemcontrolledvisible"))
{
	$ischecked = "";
	if($sysvis == 1) $ischecked = "CHECKED";
	
	$xchecks['code'][] = "<input type=\"checkbox\" name=\"sysvis\" value=\"1\" $ischecked>System Controlled Visible";
}

if(useField("preorder"))
{
	$ischecked = "";
	if($preorder == 1) $ischecked = "CHECKED";
	
	$xchecks['code'][] = "<input type=\"checkbox\" name=\"preorder\" value=\"1\" $ischecked>Pre-Order";
}

if(useField("realtimedropshipper"))
{
	$ischecked = "";
	if($rtdsinv == 1) $ischecked = "CHECKED";
	
	$xchecks['code'][] = "<input type=\"checkbox\" onclick=\"dsInventory()\" name=\"rtdsinv\" value=\"1\" $ischecked>Pre-Order";
}


?>