<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Save Custom Fields")
{
	$query = "select id, name, type, note from custom_fields where active = '1' and display = 0 order by type, name";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($id, $name, $type, $note) = mysql_fetch_array($qok))
	{
		$field_data = addslashes($_POST["CFID_$id"]);	
	
		$query = "delete from custom_values where cfid = '$id' and pid = '$pid'";
		if(!$q2ok =mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if($type == 0 || $type == 1)
			$query = "insert into custom_values(cfid, pid, text_short, text_long) values('$id', '$pid', '$field_data', '')";
		else
			$query = "insert into custom_values(cfid, pid, text_short, text_long) values('$id', '$pid', '', '$field_data')";
		
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	$efc->touchSKU($pid);
	
	Header("Location: /mgt/sm/customfields_loader.phtml?pid=$pid");
	exit;
}

?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
function countNumChars(ele, divid)
{
	var strlength = document.getElementById(ele).value.length;
	document.getElementById(divid).innerHTML = "<font color='#0000FF'>&nbsp;&nbsp;" + strlength.toString() + " chars</font>";
}

function bS(divid)
{
	document.getElementById(divid).innerHTML = "&nbsp;";
}
</script>
<body>

<form name="customfields" method="post">

<table style="white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;">
	<input type="hidden" name="pid" value="<?=$pid;?>">
	<?
	$query = "select id, name, type, note, failover from custom_fields where active = 1 and display = 0 order by type, name";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xid, $name, $type, $note, $failover) = mysql_fetch_array($qok))
	{
		$note = str_replace("\\", "", $note);
		$query = "select text_short, text_long from custom_values where cfid = '$xid' and pid = '$pid'";
		if(!$q2ok =  mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($text_short, $text_long) = mysql_fetch_array($q2ok);
		?>
		<tr>
			<td align=right>
				<B><?=$name;?>:</B><BR>
				<?if( (trim($note) != "") && ($type != 2) ) { ?><I>Note:</I>&nbsp;<?=stripslashes($note);?><?}?>
			</td>
			<td>
				<?
				
				if($type == 0)
				{
					if(intval($text_short) == 1)
						$checked = "CHECKED";
					else
						$checked = "";
						
					echo "<input type=\"checkbox\" name=\"CFID_$xid\" value=\"1\" $checked>";
				}
				else if($type == 1) 
				{
					?>
					<input type="text" class="formbox" name="CFID_<?=$xid;?>" id="CFID_<?=$xid;?>" value="<?=$text_short;?>"
						onkeyup="countNumChars('CFID_<?=$xid;?>', 'CFID_<?=$xid;?>_Count');" 
						onfocus="countNumChars('CFID_<?=$xid;?>', 'CFID_<?=$xid;?>_Count');" 
						onblur="bS('CFID_<?=$xid;?>_Count');"> <?if(trim($failover) != "")echo "(default: $failover)";?><span id="CFID_<?=$xid;?>_Count">&nbsp;</span>
					<?
				}
				else if($type == 2)
				{
					$mylist = explode(",", $note);
					?>
					<select name="<?="CFID_".$xid;?>" class="formSelect" >
					<?
					for($pp = 0; $pp < count($mylist); $pp++)
					{
					?>
						<option value="<?=$mylist[$pp];?>" <?if($text_long == $mylist[$pp]) echo "SELECTED";?>><?=$mylist[$pp];?></option>
					<?
					}
					?>
					</select>
				<?	
				}
				?> 
			</td>
		</tr>
		<tr bgcolor="#F1F3F7">
			<td colspan=2>&nbsp;</td>
		</tr>
		<?
	}
	?>
	<tr>
		<td colspan=2 align=center>
			<input type="submit" name="Action" value="Save Custom Fields" class="buttonItem">
		</td>
	</tr>
	</table>

	</form>

</body>
</html>
