<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if($Action == "Save Tabs")
{
	$query = "delete from custom_tabs";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if ($DB == 'rawfoodworld')
	{
		$query = "INSERT INTO custom_tabs (tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10, tab11, tab12, tab13, tab14, tab15, tab16, tab17, tab18, tab19, tab20)
				  VALUES ('$tab1', '$tab2', '$tab3', '$tab4', '$tab5', '$tab6', '$tab7', '$tab8', '$tab9', '$tab10', '$tab11', '$tab12', '$tab13', '$tab14', '$tab15', '$tab16', '$tab17', '$tab18', '$tab19', '$tab20')";
	}
	else 
	{
		$query = "INSERT INTO custom_tabs (tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10, tab11, tab12, tab13, tab14, tab15, tab16, tab17, tab18, tab19)
				  VALUES ('$tab1', '$tab2', '$tab3', '$tab4', '$tab5', '$tab6', '$tab7', '$tab8', '$tab9', '$tab10', '$tab11', '$tab12', '$tab13', '$tab14', '$tab15', '$tab16', '$tab17', '$tab18', '$tab19')";
	}
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from configuration where config_group = 'eFluent Settings' and config_key = 'preload_images_off'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into configuration(config_group, config_key, config_value) values('eFluent Settings', 'preload_images_off', '$preload_images_off')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/sm/custom_tabs.phtml");
	exit;
}	

if ($DB == 'rawfoodworld')
{
	$query = "SELECT tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10, tab11, tab12, tab13, tab14, tab15, tab16, tab17, tab18, tab19, tab20
			  FROM custom_tabs";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($tab1,$tab2,$tab3,$tab4,$tab5,$tab6,$tab7,$tab8,$tab9,$tab10,$tab11,$tab12,$tab13,$tab14,$tab15,$tab16,$tab17,$tab18,$tab19,$tab20)=mysql_fetch_array($qok);
	}
	else 
	{
		$tab1=$tab2=$tab3=$tab4=$tab5=$tab6=$tab7=$tab8=$tab9=$tab10=$tab11=$tab12=$tab13=$tab14=$tab15=$tab16=$tab17=$tab18=$tab19=$tab20=1;
	}
}
else 
{
	$query = "SELECT tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10, tab11, tab12, tab13, tab14, tab15, tab16, tab17, tab18, tab19
			  FROM custom_tabs";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($tab1,$tab2,$tab3,$tab4,$tab5,$tab6,$tab7,$tab8,$tab9,$tab10,$tab11,$tab12,$tab13,$tab14,$tab15,$tab16,$tab17,$tab18,$tab19)=mysql_fetch_array($qok);
	}
	else 
	{
		$tab1=$tab2=$tab3=$tab4=$tab5=$tab6=$tab7=$tab8=$tab9=$tab10=$tab11=$tab12=$tab13=$tab14=$tab15=$tab16=$tab17=$tab18=$tab19=1;
	}
}
?>
<HTML>
<HEAD>
<TITLE>Custom Fields</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script type="text/javascript">
<!--
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
//-->
</script>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Custom Tabs</B>
		<BR><BR>

		<form name="editform" method="post">
		<table width=100%>
		<tr>
			<td>
				<table>
					<tr><td><input type="checkbox" name="tab1" value="1" <?if($tab1 == "1") echo "CHECKED";?>> Main </td></tr>
					<tr><td><input type="checkbox" name="tab2" value="1" <?if($tab2 == "1") echo "CHECKED";?>> Price/Sourcing</td></tr>
					<tr><td><input type="checkbox" name="tab3" value="1" <?if($tab3 == "1") echo "CHECKED";?>> Sales Description</td></tr>
					<tr><td><input type="checkbox" name="tab4" value="1" <?if($tab4 == "1") echo "CHECKED";?>> HTML Specs</td></tr>
					<tr><td><input type="checkbox" name="tab5" value="1" <?if($tab5 == "1") echo "CHECKED";?>> Images</td></tr>
					<tr><td><input type="checkbox" name="tab6" value="1" <?if($tab6 == "1") echo "CHECKED";?>> Tech Specs</td></tr>
					<tr><td><input type="checkbox" name="tab7" value="1" <?if($tab7 == "1") echo "CHECKED";?>> Static Templates</td></tr>
					<tr><td><input type="checkbox" name="tab8" value="1" <?if($tab8 == "1") echo "CHECKED";?>> Accessories </td></tr>
					<tr><td><input type="checkbox" name="tab9" value="1" <?if($tab9 == "1") echo "CHECKED";?>> Accessories #2</td></tr>
					<tr><td><input type="checkbox" name="tab10" value="1" <?if($tab10 == "1") echo "CHECKED";?>> Datafeeds</td></tr>
				</table>		
			</td>
			
			<td>
				<table>
					<tr><td><input type="checkbox" name="tab11" value="1" <?if($tab11 == "1") echo "CHECKED";?>> History</td></tr>
					<tr><td><input type="checkbox" name="tab12" value="1" <?if($tab12 == "1") echo "CHECKED";?>> Shipping</td></tr>
					<tr><td><input type="checkbox" name="tab13" value="1" <?if($tab13 == "1") echo "CHECKED";?>> In The Box</td></tr>
					<tr><td><input type="checkbox" name="tab14" value="1" <?if($tab14 == "1") echo "CHECKED";?>> Warranty</td></tr>
					<tr><td><input type="checkbox" name="tab15" value="1" <?if($tab15 == "1") echo "CHECKED";?>> Custom Fields</td></tr>
					<tr><td><input type="checkbox" name="tab16" value="1" <?if($tab16 == "1") echo "CHECKED";?>> Taxonomy</td></tr>
					<tr><td><input type="checkbox" name="tab17" value="1" <?if($tab17 == "1") echo "CHECKED";?>> Features</td></tr>
					<tr><td><input type="checkbox" name="tab18" value="1" <?if($tab18 == "1") echo "CHECKED";?>> Documentation</td></tr>
					<tr><td><input type="checkbox" name="tab19" value="1" <?if($tab19 == "1") echo "CHECKED";?>> Performance</td></tr>
					<?php if ($DB == 'rawfoodworld'): ?>
						<tr><td><input type="checkbox" name="tab20" value="1" <?if($tab20 == "1") echo "CHECKED";?>> Bulk Options</td></tr>
					<?php endif; ?>	
				</table>		
			</td>
			
			<td>
				<table>
					<tr><td><input type="checkbox" name="preload_images_off" value="1" <?if($efc->getConfigValue("eFluent Settings", "preload_images_off") == "1") echo "CHECKED";?>> 
							Do not preload images</td></tr>
				</table>
			</td>
			
			
			<td>
				<input type="submit" name="Action" value="Save Tabs" class="buttonItem">
			</td>
		</tr>
		</table>
		</form>
	
	</td>
</tr>
</table>		

</body>
</html>