<script>
function doDFChanges()
{
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}
	
	document.dfoptions.idlist.value = skus;
	
	document.dfoptions.submit();

}
</script>
<form name="dfoptions" method="post" action="/mgt/sm/datafeed_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.dfoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Action:</td>
	<td>
		<select name="type" class="formSelect">
			<option value="add">Add to Feed
			<option value="del">Remove from Feed
		</select>
	</td>
	
	<td>&nbsp;&nbsp;&nbsp;</td>

	<td class="g1"><div style="padding-top:3px"><B>Datafeed:</B></div></td>
	<td>
		<select name="dfid" class="formSelect">
		<?
		$query = "select dfid, dfname from datafeeds order by dfname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		while(list($dfid, $dfname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$dfid;?>"><?=$dfname;?></option>
		<?
		}
		?>
		</select>
	</td>
	<td>&nbsp;</td>
					
				
	<td><input type="button" name="Action" value="Take Action" class="buttonItem" onclick="doDFChanges();"></td>
</tr>
</table>
</form>