<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>SKU Management</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>SKU Management</B>
		<BR><BR>
		<table>
		<tr>
			<td><a href="/mgt/sm/search.phtml">SKU Search</a></td>
			<td>&nbsp;</td>
			<td>Search SKUs</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="#" onclick="javascript:e2window('/mgt/sm/editsku.phtml?id=&inwin=1', 'Create SKU');">Create SKU</a></td>
			<td>&nbsp;</td>
			<td>Create New SKU</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="#" onclick="javascript:e2window('/mgt/sm/accessoriesbycat.phtml?inwin=1', 'Accessories by Cat');">Accessories by Cat.</a></td>
			<td>&nbsp;</td>
			<td>Add accessories and apply them to multiple skus</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="#" onclick="javascript:e2window('/mgt/sm/salesmancost.phtml?inwin=1', 'Salesman Cost');">Salesman Cost</a></td>
			<td>&nbsp;</td>
			<td>Manage Salesman Cost by Category</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>

		</table>
		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>