<?
set_magic_quotes_runtime (1);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

//delete_sku.phtml?Action=DeleteSKU&pid=$id&c=2

if($Action == "DeleteSKU" && $c == 2)
{
	$efc->deletePID($pid);
	Header("Location: /mgt/sm/delete_sku.phtml?pid=$pid&inwin=$inwin");
	exit;
}


?>
<HTML>
<HEAD>
<TITLE>Configuration-Categoy Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<body>
<center>
<BR><BR>
<table>
<tr>
	<td align=center><B>PID: <?=$pid;?> Deleted</B></td>
</tr>
</table>
</center>
</body>
</HTML>