<form name="dfsearch">
<table>
<tr>
	<td class="g1">Datafeeds:</td>
	<td>
		<?
		$query = "select dfid, dfname from datafeeds order by dfname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		while(list($dfid, $dfname) = mysql_fetch_array($qok))
		{
		?>
			<input type="checkbox" name="dflist" value="<?=$dfid;?>" <?if(in_array($dfid, $_SESSION["SAVEDSEARCH_SKU"]['dflist'])) echo "CHECKED";?>><?=$dfname;?><BR>
		<?
		}
		?>	
	</td>
</tr>
</table>
</form>	
