<script>
function displayOnSKUs()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}

	document.displayonoptions.idlist.value = skus;
	document.displayonoptions.submit();

}
</script>
<form name="displayonoptions" method="post" action="/mgt/sm/displayon_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.displayonoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Display On:</td>
	<td>
	
		<?
		
		$query = "select divid, sitename from site_list order by sitename";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($divid, $sitename) = mysql_fetch_array($qok))
		{
			?>
			<input type="checkbox" name="sites[]" value="<?=$divid;?>"><?=$sitename;?><BR>
			<?
		}
		?>
	</td>

	<td>&nbsp;&nbsp;&nbsp;</td>

	<td valign=top>
		<input type="button" name="Action" value="Display On" class="buttonItem" onclick="displayOnSKUs();">
		<BR>
		* Not having a site checked will remove it from the site.
	
	</td> <!-- categorizeSKus --->

</tr>
</table>
</form>