<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>
		<td><a href="/mgt/sm/new2_user_search_columns.phtml">Search Columns</a></td> 
		<td>&nbsp;&nbsp;</td>
		<?
		if($efc->getPermission("perm_accbycat"))
		{
			?>
			<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/custom_tabs.phtml?id=&inwin=1', 'Custom Tabs');">Custom Tabs</a></td> 
			<td>&nbsp;&nbsp;</td>
			<?
		}
		if($DB == 'hjstores')
		{
			?>
			<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/ajax_hjstores_channels.phtml', 'Channels');">Channels</a></td> 
			<td>&nbsp;&nbsp;</td>
			<?
		}
		?>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/custom_fields.phtml?id=&inwin=1', 'Custom Fields');">Custom Fields</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/editsku.phtml?id=&inwin=1', 'Create SKU');">Create SKU</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/amazon_search.phtml?inwin=1', 'Amazon Search');">ASIN Search</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/sm/search.phtml">Search</td>
		<td>&nbsp;&nbsp;</td>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/accessoriesbycat.phtml?inwin=1', 'Accessories by Cat');">Accessories by Cat</a></td>
		<td>&nbsp;&nbsp;</td>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/static_specs.phtml?inwin=1', 'Spec Templates');">Spec Templates</a></td>
		<td>&nbsp;&nbsp;</td>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/compatibility_list.phtml?inwin=1', 'Compatibility Lists');">Compatibility Lists</a></td>
		<td>&nbsp;&nbsp;</td>
		<?
		if($efc->getPermission("perm_accbycat"))
		{
			?>
			<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/edit_sku_fields.phtml?inwin=1', 'Edit Sku Fields');">Edit Sku Fields</a></td>
			<td>&nbsp;&nbsp;</td>
			<?
		}
		?>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/upc_management.phtml?inwin=1', 'UPC Management');">Manage UPCs</td>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/salesmancost.phtml?inwin=1', 'Salesman Cost');">Salesman Cost</td>
	</tr>
	</table>
	</div>
</div>