<?REQUIRE($ROOT_DIR."/mgt/e2win/autocomplete.phtml");?>
<?
$query = "select manname from product_manufacturers";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($xmanname) = mysql_fetch_array($qok))
{
	$xmanname = addslashes($xmanname);
	$manlist .= "$xmanname\\n";
}
?>
<script>
var manlist = "<?=$manlist;?>";
keyValues=manlist.split("\n"); 

function verifyBrand()
{
	var manname = document.saveskuform.brand.value;
	var found = 0;
	
	for(xx = 0; xx < keyValues.length; xx++)
	{
		if(keyValues[xx].toLowerCase() == manname.toLowerCase())
		{
			found = 1;
			break;
		}
	}
	
	if(found == 0)
	{
		alert('The brand that you entered is a new brand.  It will be created when you save the sku.')
	}
}
function assignUPC(pid) {
    if($("#upccode_val").val() != '') {
        alert('Product already has UPC code!');
    }
    else {
        $.get('ajax_assign_upc.phtml', 
            {
                    'pid':pid
            }, function(data) {
                $("#upccode_val").val(data);
        });
    }

}
</script>
<table width=95%>
<tr>
	<td>
	<!------------------------------------------------------------------------------------------------------------>
		<table border=0>
		<tr>
			<td class="g1">SKU:</td>
			<td><input type="text" name="sku" value="<?=$sku;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
					<td class="g1">Category:</td>
					<td>
						<select name="cat0" class="formSelect" onchange="getCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0 order by catname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>" <?if($catid == $loadedcats[0]) echo "SELECTED";?>><?=$catname;?>
							<?
						}
						?>
						</select>		
						<?
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 1)
						{
							?>
							<div id="cat1d" style="display:;">
								<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[0]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[1]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 2)
						{
							?>
							<div id="cat2d" style="display:;">
								<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[1]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[2]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 3)
						{
							?>
							<div id="cat3d" style="display:;">
								<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[2]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[3]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 4)
						{
							?>
							<div id="cat4d" style="display:;">
								<select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[3]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[4]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 5)
						{
							?>
							<div id="cat5d" style="display:;">
								<select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[4]."' order by catname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[5]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
						?>
						<div id="cat6d" style="display:none;"><select name="cat6" id="cat6" class="formSelect" onchange="getCategories(7);"></select></div>
					</td>
		</tr>	
		<tr>
			<td class="g1">Title:</td>
			<td><input type="text" name="title" id="title" value="<?=htmlspecialchars($descr);?>" class="formBox" style="width:225px" 
							onkeyup="countNumChars('title', 'titleCount');" onfocus="countNumChars('title', 'titleCount');" onblur="bS('titleCount');"><span id="titleCount">&nbsp;</span></td>
		</tr>
		
		<tr>
			<td colspan=2>
				
				<table>
				<tr>
					<td class="g1"><B>Brand:</B></td>
					<td>
						<input type="text" name="brand" value="<?=$brand;?>" onblur="verifyBrand()" onkeypress="return autocomplete(this, event, keyValues)" class="formBox" style="width:125px">										
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>
					
					<td class="g1"><B>Weight:</B></td>
					<td><input type="text" name="weight" value="<?=$shipweight;?>" class="formBox" style="width:125px"></td>
				</tr>
				
				<tr>
					<td class="g1"><B>Man Part:</B></td>
					<td><input type="text" name="manpart" value="<?=$manpart;?>" class="formBox" style="width:125px"></td>

					<td>&nbsp;&nbsp;&nbsp;</td>
			
					<td class="g1"><B>Status:</B></td>
					<td><select name="status" id="status" class="formSelect" onchange="statusChanged();">
						<option value="-1">----- SELECT --------
						<option value="0" <?if($status == 0) echo "SELECTED";?>>Active
						<option value="1" <?if($status == 1) echo "SELECTED";?>>Allocated
						<option value="2" <?if($status == 2) echo "SELECTED";?>>End of Life
						<option value="3" <?if($status == 3) echo "SELECTED";?>>Discontinued
						</select>
						<?
						$query = "select replacedby from discontinued_replacedby where pid = '$id'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($discoed_replaced) = mysql_fetch_array($qok);
						?>
						<script>
						function statusChanged()
						{
							var theSelect = document.getElementById("status");
							if(theSelect.options[ theSelect.selectedIndex ].value == "3")
							{
								var theDIV = document.getElementById("showStatus");
								theDIV.style.display = '';
							}
							else
							{
								var theDIV = document.getElementById("showStatus");
								theDIV.style.display = 'none';
							}
						}
						</script>
						<div id="showStatus" style="display:<?if($status != 3) echo "none;";?>">
							Replacement PID:<input type="text" name="discoed_replaced" value="<?=$discoed_replaced;?>" class="formBox" style="width:55px">
						</div>
					</td>
				</tr>
				<tr>
					<td class="g1"><B>UPC:</B></td>
					<td>
                                            <input type="text" id="upccode_val" name="upc" value="<?=$upccode;?>" class="formBox" style="width:125px">
                                            <?
                                            if($DB == 'xsreez') {
                                                ?>
                                            <a href="javascript:assignUPC('<?=$id?>')">Assign</a>
                                                <?
                                            }
                                            ?>
                                        </td>

					<td>&nbsp;&nbsp;&nbsp;</td>
					
					<td class="g1"><B>Platform:</B></td>
					<td><input type="text" name="platform" value="<?=$platform;?>" class="formBox" style="width:125px"></td>
				</tr>
				<tr>
					<td class="g1"><B>CrawlerID:</B></td>
					<td>
						<?
						if(intval($roimast) > 1)
						{
							$query = "select count(*) from product_list where roimast = '$roimast'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($numused) = mysql_fetch_array($qok);
						}
						else 
							$numused = 1;
						
						if($numused > 1)
						{
						?>
						<input type="text" name="crawlerid" value="<?=$roimast;?>" class="formBox" style="width:125px;background-color:FF7777;"><BR>
						<font color="#ff0000"><B>crawlerid is used on <?=$numused;?> skus.</B></font>
						<?	
						}
						else 
						{
						?>
						<input type="text" name="crawlerid" value="<?=$roimast;?>" class="formBox" style="width:125px">
						<?	
	
						}
						?>
						
						
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>

					<td class="g1"><div id="stocklabel"><B>In-Stock:</B></div></td>
					<td><div id="stockvalue">
							<?
							if(intval($id) <= 0)
								echo " 0/0 ";
							else
								echo $efc->getInvTotal($id);
							?></div></td>
				</tr>
				<tr>
					<td class="g1"><B>Ship Code:</B></td>
					<td><input type="text" name="shipcode" value="<?=$shipcode;?>" class="formBox" style="width:125px"></td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>

					<td class="g1"><B>Ship in:</B></td>
					<td>
						<select name="shipsin" class="formSelect">
							<option value="">--- SELECT ---</option>
							<option value="1" <?if($shipsin == 1) echo "SELECTED";?>>Ships in 1-2 Business Days</option>
							<option value="2" <?if($shipsin == 2) echo "SELECTED";?>>Ships in 2-3 Business Days</option>
							<option value="3" <?if($shipsin == 3) echo "SELECTED";?>>Ships in 3-5 Business Days</option>
							<option value="5" <?if($shipsin == 5) echo "SELECTED";?>>Ships in 5-7 Business Days</option>
							<option value="7" <?if($shipsin == 7) echo "SELECTED";?>>Ships in 7-14 Business Days</option>

							<option value="10" <?if($shipsin == 10) echo "SELECTED";?>>Usually Ships in 1-2 Weeks</option>
							<option value="11" <?if($shipsin == 11) echo "SELECTED";?>>Usually Ships in 2-3 Weeks</option>
							<option value="12" <?if($shipsin == 12) echo "SELECTED";?>>Usually Ships in 3-4 Weeks</option>
							<option value="13" <?if($shipsin == 13) echo "SELECTED";?>>Usually Ships in 4-6 Weeks</option>
						</select>
					</td>
				</tr>
				
				
					
				
						
				
				<tr>
					<td class="g1">
                                            <?if($DB == 'rawfoodworld') {
                                                 ?>
                                                <B>ISBN:</B>
                                                <? 
                                            }
                                            else {
                                                ?>
                                                <B>Model#:</B>
                                                <?    
                                            }
                                            ?>
                                            
                                        </td>
					<td><input type="text" name="modelno" value="<?=$modelno;?>" class="formBox" style="width:125px"></td>
						
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>

					<?$x_assignedto = $efc->getSKUAssignment($id);?>
					<td class="g1"><B>Assigned:</B></td>
					<td>
						<select name="assignedto" class="formSelect">
						<option value="0">Unassigned</option>
						<?
						$query = "select id, displayname from users order by displayname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$x_userid;?>" <?if($x_userid == $x_assignedto) echo "SELECTED";?>><?=$x_displayname;?></option>
						<?	
						}
						?>
						</select>
					</td>
				</tr>
				<tr>
					<td class="g1"><B>3rd Party Data</B></td>
					<td>
					<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/etilizesku.phtml?id=<?=$id;?>&kw=<?=urlencode($manpart);?>&inwin=1', 'Datapak SKU: <?=$id;?>');">Datapak</a>
					
					<?if($DB != "butterfly" && $DB != "projectmadisonweb"){}
					else
					{
						?>
						&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/cmicsku.phtml?id=<?=$id;?>&kw=<?=urlencode($manpart);?>&inwin=1', 'CMIC SKU: <?=$id;?>');">CMIC</a>
						<?
					}
					?>
					</td>
					
					<td>&nbsp;</td>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					
				</tr>
				<tr>
					<td class="g1"><B>MetaTags</B></td>
					<td>
					<a href= "javascript:void(0);" onclick= "top.e2window('/mgt/cf/metatags.phtml?typeid=<?=$id;?>&type=1&inwin=1', 'Metatags for  SKU: <?=$id;?>');">Edit Tags</a>
					</td>
					
					<td>&nbsp;</td>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan=6 bgcolor="#eeeeee" style="border:1px #808080 dashed;">
					<B> Amazon Specific Fields </B>&nbsp;&nbsp;&nbsp;&nbsp;
					<?
					$query = "select type,date_created from amazon_convert_log WHERE pid ='$id' order by date_created DESC LIMIT 0,1";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					if (mysql_num_rows($qok)>0) {
						list($amazon_convert_type, $amazon_convert_date) = mysql_fetch_array($qok);
						echo $type." - ".date("Y-m-d H:i:s",$$amazon_convert_date);
					}
					?>
					<table width=100%>
					<tr>
						<td class="g1"><B>ASIN:</B></td>
						<td>
							<input type="text" name="asin" value="<?=$asin;?>" class="formBox" style="width:85px"><input type="checkbox" name="use_asin" value="1"  <?if($use_asin == 1) echo "CHECKED"; ?>>Use ASIN
							<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/amazon_search.phtml?pid=<?=$id;?>', 'Amazon Search: <?=$id;?> - <?=htmlspecialchars(addslashes($descr));?>');">
								Search
							</a>
	
						</td>
					
						<td>&nbsp;&nbsp;&nbsp;</td>

						<td class="g1"><B>Latency:</B></td>
						<td>
							<input type="text" name="am_latency" value="<?=$am_latency;?>" class="formBox" style="width:45px"> Day(s) 
								<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/latency_help.phtml', 'Amazon Fulfillment Latency');">Help?</a>
						</td>
					</tr>		
				
					<tr>
						<td class="g1"><B>Std. Ship:</B></td>
						<td>
							<input type="text" name="am_std_ship" value="<?=$am_std_ship;?>" class="formBox" style="width:125px">
							<a href="javascript:void(0);" onclick="top.e2window('/mgt/cf/amazon_defaults.phtml?pid=<?=$id;?>&inwin=1', 'Etilize SKU: <?=$id;?>');">
								Defaults
							</a>
						</td>
					
						<td>&nbsp;&nbsp;&nbsp;</td>
	
						<td class="g1"><B>Exp. Ship:</B></td>
						<td>
							<input type="text" name="am_exp_ship" value="<?=$am_exp_ship;?>" class="formBox" style="width:125px">
						</td>
					</tr>	
					<?
					if ($DB == 'butterfly') {
						$qa = "SELECT  amazonzd_am_std_ship,amazonzd_am_exp_ship FROM product_list where id='".$id."'";
						if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($amzd_std_ship, $amzd_exp_ship) = mysql_fetch_array($qoka);
						?>
						<tr>
						<td class="g1"><B>ZD Std. Ship:</B></td>
						<td>
							<input type="text" name="amzd_std_ship" value="<?=$amzd_std_ship;?>" class="formBox" style="width:125px">
							<a href="javascript:void(0);" onclick="top.e2window('/mgt/cf/amazonzd_defaults.phtml?pid=<?=$id;?>&inwin=1', 'Etilize SKU: <?=$id;?>');">
								Defaults
							</a>
						</td>
					
						<td>&nbsp;&nbsp;&nbsp;</td>
	
						<td class="g1"><B>ZD Exp. Ship:</B></td>
						<td>
							<input type="text" name="amzd_exp_ship" value="<?=$amzd_exp_ship;?>" class="formBox" style="width:125px">
						</td>
					</tr>	
						<?
					}
					?>
					<tr>
						<td class="g1"><B>Amz Qty:</B></td>
						<td><input type="text" name="am_qty" value="<?=$am_qty;?>" class="formBox" style="width:125px"></td>							
								
						<td>&nbsp;&nbsp;&nbsp;</td>
						
						<td><input type="checkbox" name="amazon_realtime" value="1"  <?if($amazon_realtime == 1) echo "CHECKED"; ?>>Realtime Stock</td>			
						<td><input type="checkbox" name="am_update_override" value="1"  <?if($am_update_override == 1) echo "CHECKED"; ?>>Update Override</td>
					</tr>
									
					<tr>
						<td class="g1"><B>Condition:</B></td>
						<td>
							<select name="am_condition" class="formSelect">
								<option value="">--- SELECT ---</option>
								<option value="New" 		<?if($am_condition == "New") echo "SELECTED";?>>New</option>
								<option value="UsedLikeNew"		<?if($am_condition == "UsedLikeNew") echo "SELECTED";?>>UsedLikeNew</option>
								<option value="VeryGood" 	<?if($am_condition == "VeryGood") echo "SELECTED";?>>VeryGood</option>
								<option value="Good" 		<?if($am_condition == "Good") echo "SELECTED";?>>Good</option>
								<option value="Acceptable" 	<?if($am_condition == "Acceptable") echo "SELECTED";?>>Acceptable</option>
								<option value="Refurbished" <?if($am_condition == "Refurbished") echo "SELECTED";?>>Refurbished</option>

							</select>
						</td>							
								
						<td>&nbsp;&nbsp;&nbsp;</td>
						<?
						$query = "select fba_sku from fba_sku_map where pid = '$id'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($fba_sku) = mysql_fetch_array($qok);
						
						$isfba = false;
						
						if($fba_sku != "")
							$query = "select id from fba_skus where sku = '$fba_sku'";
						else
							$query = "select id from fba_skus where sku = '$id'";
							
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						{
							$isfba = true;
						}
						?>
						<td class="g1" <? if($isfba){ echo "style='background-color:#ff99c2'"; } ?>><B>FBA SKU:</B></td>
						<td>
							<input type="text" name="fba_sku" value="<?=$fba_sku;?>" class="formBox" style="width:125px">
							<?
							$query = "select pid from fba_sku_map where fba_sku = '$id'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok) > 0)
							{
								list($redirect) = mysql_fetch_array($qok);
								?>
								<BR>
								<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/editsku.phtml?id=<?=$redirect;?>&inwin=1', 'Edit SKU: <?=$redirect;?>');">
									<font color='#ff0000'><B>FBA SKU is mapped to <?=$redirect;?></B></font>
								</a>
								
								<?
							}
							?>
							
						
						</td>
					</tr>				
					</table>
					</td>
				</tr>
                                <?
                                if($amazon_ca_enabled == '1') {
                                ?>
				<tr>
					<td colspan=6 bgcolor="#eeeeee" style="border:1px #808080 dashed;">
					<B> Amazon.ca Specific Fields </B>
					
					<table width=100%>
					<tr>
						<td class="g1"><B>ASIN:</B></td>
						<td>
							<input type="text" name="amazon_ca_asin" value="<?=$amazon_ca_asin;?>" class="formBox" style="width:85px"><input type="checkbox" name="amazon_ca_use_asin" value="1"  <?if($amazon_ca_use_asin == 1) echo "CHECKED"; ?>>Use ASIN
							<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/amazon_ca/amazon_search.phtml?pid=<?=$id;?>', 'Amazon Search: <?=$id;?> - <?=htmlspecialchars(addslashes($descr));?>');">
								Search
							</a>
	
						</td>
					
						<td>&nbsp;&nbsp;&nbsp;</td>

						<td class="g1"><B>Latency:</B></td>
						<td>
							<input type="text" name="amazon_ca_am_latency" value="<?=$amazon_ca_am_latency;?>" class="formBox" style="width:45px"> Day(s) 
								<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/latency_help.phtml', 'Amazon Fulfillment Latency');">Help?</a>
						</td>
					</tr>		
				
					<tr>
						<td class="g1"><B>Std. Ship:</B></td>
						<td>
							<input type="text" name="amazon_ca_am_std_ship" value="<?=$amazon_ca_am_std_ship;?>" class="formBox" style="width:125px">
							<a href="javascript:void(0);" onclick="top.e2window('/mgt/cf/amazon_ca_defaults.phtml?pid=<?=$id;?>&inwin=1', 'Etilize SKU: <?=$id;?>');">
								Defaults
							</a>
						</td>
					
						<td>&nbsp;&nbsp;&nbsp;</td>
	
						<td class="g1"><B>Exp. Ship:</B></td>
						<td>
							<input type="text" name="amazon_ca_am_exp_ship" value="<?=$amazon_ca_am_exp_ship;?>" class="formBox" style="width:125px">
						</td>
					</tr>	

					<tr>
						<td class="g1"><B>Amz Qty:</B></td>
						<td><input type="text" name="amazon_ca_am_qty" value="<?=$amazon_ca_am_qty;?>" class="formBox" style="width:125px"></td>							
								
						<td>&nbsp;&nbsp;&nbsp;</td>
						
						<td><input type="checkbox" name="amazon_ca_amazon_realtime" value="1"  <?if($amazon_ca_amazon_realtime == 1) echo "CHECKED"; ?>>Realtime Stock</td>			
						<td><input type="checkbox" name="amazon_ca_am_update_override" value="1"  <?if($amazon_ca_am_update_override == 1) echo "CHECKED"; ?>>Update Override</td>
					</tr>
									
					<tr>
						<td class="g1"><B>Condition:</B></td>
						<td>
							<select name="amazon_ca_am_condition" class="formSelect">
								<option value="">--- SELECT ---</option>
								<option value="New" 		<?if($amazon_ca_am_condition == "New") echo "SELECTED";?>>New</option>
								<option value="UsedLikeNew"	<?if($amazon_ca_am_condition == "UsedLikeNew") echo "SELECTED";?>>UsedLikeNew</option>
								<option value="VeryGood" 	<?if($amazon_ca_am_condition == "VeryGood") echo "SELECTED";?>>VeryGood</option>
								<option value="Good" 		<?if($amazon_ca_am_condition == "Good") echo "SELECTED";?>>Good</option>
								<option value="Acceptable" 	<?if($amazon_ca_am_condition == "Acceptable") echo "SELECTED";?>>Acceptable</option>
								<option value="Refurbished"     <?if($amazon_ca_am_condition == "Refurbished") echo "SELECTED";?>>Refurbished</option>

							</select>
						</td>							
								
						<td>&nbsp;&nbsp;&nbsp;</td>
						<?
						$query = "select fba_sku from fba_sku_map where pid = '$id'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($fba_sku) = mysql_fetch_array($qok);
						?>
						<td class="g1"><B>FBA SKU:</B></td>
						<td>
							<input type="text" name="fba_sku" value="<?=$fba_sku;?>" class="formBox" style="width:125px">
							<?
							$query = "select pid from fba_sku_map where fba_sku = '$id'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok) > 0)
							{
								list($redirect) = mysql_fetch_array($qok);
								?>
								<BR>
								<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/editsku.phtml?id=<?=$redirect;?>&inwin=1', 'Edit SKU: <?=$redirect;?>');">
									<font color='#ff0000'><B>FBA SKU is mapped to <?=$redirect;?></B></font>
								</a>
								
								<?
							}
							?>
							
						
						</td>
					</tr>				
					</table>
					</td>
				</tr>
				<?
                                }
                                ?>
				
				<tr>
					<td colspan=6 bgcolor="#eeeeee" style="border:1px #808080 dashed;">
					<B> eBay Specific Fields </B>
					
					<table width=100%>
					<tr>
						<td class="g1"><B>Std. Ship:</B></td>
						<td>
							<input type="text" name="eb_std_ship" value="<?=$eb_std_ship;?>" class="formBox" style="width:125px">
							<a href="javascript:void(0);" onclick="top.e2window('/mgt/cf/ebay_defaults.phtml?pid=<?=$id;?>&inwin=1', 'Etilize SKU: <?=$id;?>');">
								Defaults
							</a>
						</td>
						
						<td>&nbsp;&nbsp;&nbsp;</td>
						
						<td class="g1"><B>Exp. Ship:</B></td>
						<td>
							<input type="text" name="eb_exp_ship" value="<?=$eb_exp_ship;?>" class="formBox" style="width:125px">
							<BR>
							<I>* -2 to disallow expedited shipping</I>
						</td>
					</tr>
					</table>
					
					</td>
				</tr>				
				
				
				<tr>
					<td colspan=5>
					
					<table>
					<?		
					$query = "select id, name, type, note, failover from custom_fields where active = 1 and display = 1 order by type, name";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($xid, $name, $type, $note, $failover) = mysql_fetch_array($qok))
					{
						$note = str_replace("\\", "", $note);
						$query = "select text_short, text_long from custom_values where cfid = '$xid' and pid = '$id'";
						if(!$q2ok =  mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($text_short, $text_long) = mysql_fetch_array($q2ok);
						?>
						<tr>
							<td class="g1" style="padding-top:3px;">
								<B><?=$name;?></B><BR>
														</td>
							<td>
								<?
								if($type == 0)
								{
									if(intval($text_short) == 1)
										$checked = "CHECKED";
									else
										$checked = "";
										
									echo "<input type=\"checkbox\" name=\"CFID_$xid\" value=\"1\" $checked>";
								}
								else if($type == 1) 
								{
									?>
									<input type="text" class="formbox" name="CFID_<?=$xid;?>" id="CFID_<?=$xid;?>" value="<?=$text_short;?>"
										onkeyup="countNumChars('CFID_<?=$xid;?>', 'CFID_<?=$xid;?>_Count');" 
										onfocus="countNumChars('CFID_<?=$xid;?>', 'CFID_<?=$xid;?>_Count');" 
										onblur="bS('CFID_<?=$xid;?>_Count');"> <?if(trim($failover) != "")echo "(default: $failover)";?><span id="CFID_<?=$xid;?>_Count">&nbsp;</span>
									<?
								}
								else if($type == 2)
								{
									$mylist = explode(",", $note);
									?>
									<select name="<?="CFID_".$xid;?>" class="formSelect" >
									<?
									for($pp = 0; $pp < count($mylist); $pp++)
									{
										?>
										<option value="<?=$mylist[$pp];?>" <?if($text_long == $mylist[$pp]) echo "SELECTED";?>><?=$mylist[$pp];?></option>
										<?
									}
									?>
									</select>
									<?	
								}
								?> 
								
							</td>
							<td></td>
						</tr>
						<?
					}
						
					?>	
						</table>	
					</td>			
				</tr>
				</table>
				<BR><BR>
				<div id="dsinventory" style="display:<?if($rtdsinv == 1) echo ""; else echo "none";?>;">
				<TABLE WIDTH=100% style="border:1px #808080 solid;">
				<TR bgcolor="#eeeeee">
					<TD>
						VENDOR
					</TD>
					<td>
						SKU
					</td>
					<td>
						QTY
					</td>
					<td>
						COST
					</td>
					<td>
						DATE
					</td>
				</TR>
				<?
				$query = "select sid, distid, distsku, cost, tstamp, qty, useinv from product_sourcing where pid = '$id'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($sid, $distid, $distsku, $cost, $tstamp, $qty, $useinv) = mysql_fetch_array($qok))
				{
					?>
					<TR>
						<TD><input type="checkbox" name="dsinventory[]" value="<?=$sid;?>" <?if($useinv == 1) echo "CHECKED";?>><?=$efc->getVendorName($distid);?></TD>
						<td><?=$distsku;?></td>
						<td><?=$qty;?></td>
						<td><?=number_format($cost, 2);?></td>
						<td><?=date("m/d/Y", strtotime($tstamp));?></td>
					</TR>
					<?					
				}
				?>
				</TABLE>
				</div>
				
			</td>
		</tr>
		</table>	
	<!------------------------------------------------------------------------------------------------------------>
	</td>
	 
	<td valign=bottom>
	<!------------------------------------------------------------------------------------------------------------>

		<table>
		<tr>
			<td><input type="checkbox" name="visible" value="1" 	<?if($visible == 1) echo "CHECKED"; ?>>Visible</td>
			<td><input type="checkbox" name="dropship" value="1" 	<?if($dropship == 1) echo "CHECKED"; ?>>Drop Ship</td>
		</tr>

		<tr>
			<td><input type="checkbox" name="oem" value="1" 		<?if($oem == 1) echo "CHECKED"; ?>>OEM</td>
			<td>
				<?if($DB != "supplysale"){?><input type="checkbox" name="refurb" value="1" 		<?if($refurb == 1) echo "CHECKED"; ?>>Refurb<?}?>
			</td>
		</tr>
		
		<tr>
			<td><input type="checkbox" name="demo" value="1" 		<?if($demo == 1) echo "CHECKED"; ?>>Open Box</td>
			<td><input type="checkbox" name="returnable" value="1" 	<?if($returnable == 1) echo "CHECKED"; ?>>Returnable</td>
		</tr>
		
		<tr>
			<td><input type="checkbox" name="kit" value="1" onclick="updateKit()"	<?if($kit == 1) echo "CHECKED"; ?>>Kit</td>
			<td><input type="checkbox" name="hidestock" value="1" 	<?if($hidestock == 1) echo "CHECKED"; ?>>Hide Stock</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="usemap" value="1" 		<?if($usemap == 1) echo "CHECKED"; ?>>Use MAP</td>
			<td><input type="checkbox" name="force_sku" value="1" ><font color="#ff0000">Save as a New SKU</a></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="series" value="1"  <?if($series == 1) echo "CHECKED"; ?>><I>Series</I></td>
			<td><input type="checkbox" name="preorder" value="1"  <?if($preorder == 1) echo "CHECKED"; ?>>Pre-Order</td>
		</tr>
		
		<tr>
			<td NOWRAP><input type="checkbox" name="alwaysinstock" value="1"  <?if($alwaysinstock == 1) echo "CHECKED"; ?>>Always In-Stock</td>
			<td NOWRAP><input type="checkbox" name="alwaysoutstock" value="1" <?if($alwaysoutstock == 1) echo "CHECKED"; ?>>Always Out of Stock</td>
		</tr>
		<tr>
			<td colspan=2><input type="checkbox" name="invisibleonstock" value="1"  <?if($invisibleonstock == 1) echo "CHECKED"; ?>>Out-of-Stock on 0 "Available"</td>
		</tr>
		<tr>
			<td colspan=2><input type="checkbox" name="serialized" value="1"  <?if($serialized == 1) echo "CHECKED"; ?>>Prompt for Serial# when Shipped</td>
		</tr>
		<tr>
			<td colspan=2><input type="checkbox" name="sysvis" value="1"  <?if($sysvis == 1) echo "CHECKED"; ?>>System Controlled Visible</td>
		</tr>
		<tr>
			<td colspan=2><input type="checkbox" name="rtdsinv" value="1" onclick="dsInventory()" <?if($rtdsinv == 1) echo "CHECKED"; ?> >Realtime Dropshipper Inventory</td>
		</tr>
		<?
		if($DB == "supplysale")
		{
			?>
			<tr>
				<td colspan=2>
					<select name="refurb"  class="formSelect">
						<option <?if(intval($refurb) == 0) echo "SELECTED";?> value="0">NEW</option>
						<option <?if(intval($refurb) == 1) echo "SELECTED";?> value="1">Refurb</option>
						<option <?if(intval($refurb) == 2) echo "SELECTED";?> value="2">Factory Sealed</option>
						<option <?if(intval($refurb) == 3) echo "SELECTED";?> value="3">New - Open Box</option>
						<option <?if(intval($refurb) == 4) echo "SELECTED";?> value="4">Used</option>
					</select>
				</td>
			</tr>
			<?
		}
		?>		
		<tr>
			<td colspan=2 valign=top>

			<div style="border:1px #808080 solid;background: #ffffee">
				<B>Display on Sites:</B>
				<table width=100%>
				<?
				$xcount = 0;
				$query = "select divid, sitename from site_list order by divid";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($site_divid, $site_name) = mysql_fetch_array($qok))
				{
					if($xcount == 0)
						echo "<tr>";
						
					$query = "select count(*) from site_skus where pid = '$id' and divid = '$site_divid'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($checked) = mysql_fetch_array($q4ok);
					
					?>
					<td><input type="checkbox" name="sitelist_<?=$site_divid;?>" value="1" <?if($checked == 1) echo "CHECKED";?>><?=$site_name;?></td>
					<?
					
					$xcount++;
					
					if($xcount == 2)
					{
						echo "</tr>";
						$xcount = 0;
					}
						
				}
				?>
				</table>
			
			</div>
			</td>
		</tr>
		<tr>
			<td colspan=2 valign=top>
				<table>
				<tr>
					<td class="gl" valign=top><B>PriceNote:</B></td>
					
					<td>
						<textarea style="width:155px;height:90px" name="pricenote" class="formBox"><?=$pricenote;?></textarea>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<input type="submit" name="Action" value="Save SKU" class="buttonItem">
			</td>
		</tr>
                <?
                if($DB == 'ecom') {
                ?>
                <tr>
			<td colspan=2>
                            <a href="javascript:void(0)" onclick="top.e2window('/mgt/sm/create_multipack_skus_win.phtml?pid=<?=$id?>', 'Multi Pack SKU: <?=$id?>');">Multi Pack</a>
			</td>
		</tr>
                <?}?>
		</table>
	<!------------------------------------------------------------------------------------------------------------>	
	</td>

</tr>
</table>

<table>
<tr>
	<td>
		<a href="javascript:void(0);" onclick="deleteSKU();">Delete SKU</a>	
	</td>
</tr>
</table>


<script>
function updateKit()
{
	if(document.advform.kit.checked)
	{
		document.getElementById("kitparts").style.display = '';
		document.getElementById("kitpricing").style.display = ''
		document.getElementById("stocklabel").style.display = 'none';
		document.getElementById("stockvalue").style.display = 'none';
		document.getElementById("warehouseinfo").style.display = 'none';
	}
	else
	{
		document.getElementById("kitparts").style.display = 'none';
		document.getElementById("kitpricing").style.display = 'none'
		document.getElementById("stocklabel").style.display = '';
		document.getElementById("stockvalue").style.display = '';
		document.getElementById("warehouseinfo").style.display = '';
	}
}

function delKitSKU()
{
	var theSelect = document.advform.kitlist;
	
	if(theSelect.selectedIndex < 0)	
	{
		
	}
	else
		theSelect.remove(theSelect.selectedIndex);	
}

function dsInventory()
{
	if(document.advform.rtdsinv.checked)
	{
		document.getElementById("dsinventory").style.display = '';
	}
	else
	{
		document.getElementById("dsinventory").style.display = 'none';
	}
}

function autogenHTML()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;
	
	
	var url = "/mgt/sm/ajax_autogenhtml.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		window.frames['hspecsframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(3);
	}
}

function autogenImages()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenimages.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	//alert(url);
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenImagesDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenImagesDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(4);
	}
}
</script>

<!------------------------------------------------------------------------------------------------------------>	
<div id="skuresults" class="dialog">
<table width=99% id="results" name="results" bgcolor="#ffffff" style="border:1px #000000 solid;">
<tr bgcolor="#eeeeee">
	<td height=21><div align="center">Add</div></td>
		<td><div align="center">Man</div></td>
		<td><div align="center">ManPart</div></td>
		<td><div align="center">Descr</div></td>
		<td><div align="center">V</div></td>
		<td><div align="center">Stock</div></td>
		<td><div align="center">Price</div></td>
	</tr>
	<tr>
		<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
	</tr>	
</table>
<table width=99% bgcolor="#ffffff" style="border:1px #000000 solid;">
<tr>
	<td>
		&nbsp;
	</td>
	
	<td align=right>
		<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
	</td>
</tr>
</table>
</div>
<!------------------------------------------------------------------------------------------------------------>	

<input type="hidden" name="kitskus" value="">

<div id="kitparts" style="display:none;">
<HR NOSHADE>
<table>
<tr>
	<td>
		<B>Kit SKUs</B>
		<BR>
		<table id="kittable" border=0>
		<tr bgcolor="#eeeeee">
			<td><div align=center><B>ID</B></div></td>
			<td><div align=center><B>Man Part</B></div></td>
			<td><div align=center><B>Title</B></div></td>
			<td><div align=center><B>Qty</B></div></td>
			<td><div align=center><B>Price</B></div></td>
			<td><div align=center><B>Cost</B></div></td>
			<td><div align=center><B>Del</B></div></td>
		</tr>
		<?
		$tcost = 0.00;
		$tprice = 0.00;
		
		$query = "select product_list.id, product_list.manpart, product_list.descr, product_prices.price_level1, product_kitskus.qty
					from 
					product_list, product_manufacturers, product_kitskus, product_prices 
					where 
					product_list.manid = product_manufacturers.manid and 
					product_list.id = product_kitskus.kid and 
					product_list.id = product_prices.id and
					product_kitskus.pid = '$id' 
					order by product_prices.price_level1 desc";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($kid, $manpart, $descr, $kprice, $qty) = mysql_fetch_array($qok))
		{
			if( strlen($descr) > 20 )
				$descr = substr($descr, 0, 17)."...";
				
			$avgcost = $efc->getActualCost($kid);
			
			$tcost += $kprice;
			$tprice += $avgcost;
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" id="r-<?=$kid;?>-<?=$id;?>">
				<td><a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/viewsku.phtml?id=<?=$kid;?>&inwin=1', 'View SKU: <?=$kid;?>');"><?=$kid;?></a></td>
				<td><?=$manpart;?></td>
				<td><?=$descr;?></td>
				<td align=center>
					<input type="text" name="q-<?=$kid;?>-<?=$id;?>" id="q-<?=$kid;?>-<?=$id;?>" onblur="updateQty('q-<?=$kid;?>-<?=$id;?>')" value="<?=$qty;?>" class="formBox" style="width:20px"></td>
				<td align=right><?=number_format($kprice, 2);?></td>
				<td align=right><?=number_format($avgcost, 2);?></td>
				<td><a href="javascript:void(0);" onclick="deleteKitItem('<?=$kid;?>', '<?=$id;?>')"><img src="/mgt/images/del.gif" border=0></a></td>
			</tr>
			<?
		}
		?>
		<tr bgcolor="#eeeeee">
			<td colspan=4> &nbsp; </td>
			<td><div align=right><B><?=number_format($tcost, 2);?></B></div></td>
			<td><div align=right><B><?=number_format($tprice, 2);?></B></div></td
			<td>&nbsp;</td>
		</tr>
		</table>
		<I>To Update the quantity, type in the desired quantity and then press tab (or click away from the box).</I>
		<BR><BR>
		<HR NOSHADE>
		<?
		if($id != "")
		{
			?>
			Autogenerate HTML Specs<input type="button" class="buttonItem" value="Generate" onclick="autogenHTML();"><BR>
			Autogenerate Images<input type="button" class="buttonItem" value="Generate" onclick="autogenImages();"><BR>
			<?
		}
		?>
		
	</td>

	
	<td>
	<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<B>SKU Search</B>
		<BR>
		<table>
		<tr>
			<td><B>S:</B></td>
			<td align=left><input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
		</tr>
		<tr>
			<td><B>B:</B></td>
			<td align=left>
				<select name="kbrand" class="formSelect">
				<option value="">----- SELECT --------
				<?
				$query = "select manid, manname from product_manufacturers order by manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if(strlen($manname) > 25)
					{
						$manname = substr($manname, 0, 22)."...";
					}
					?>
					<option value="<?=$manid;?>"><?=$manname;?>
					<?
				}
				?>
				</select>						
			</td>
		</tr>
		
		<tr>
			<td><B>C:</B></td>
			<td align=left>
				<!------------------------------------------------------------------------------------------------------------------------------------------>			
				<select name="kat0" class="formSelect" onchange="getKategories(1);">
				<option value="0">----- SELECT --------
				<?
				$query = "select catid, catname from product_categories where parentid = 0";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($catid, $catname) = mysql_fetch_array($qok))
				{
				?>
					<option value="<?=$catid;?>"><?=$catname;?>
				<?
				}
				?>
				</select>		
				<?
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if(count($loadedcats) > 1)
				{
				?>
					<div id="kat1d" style="display:;">
					<select name="kat1" id="kat1" class="formSelect" onchange="getKategories(2);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = '".$loadedcats[0]."'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$catid;?>"><?=$catname;?>
						<?
						}
						?>
					</select>
					</div>
				<?
				}
				else 
				{
				?>
					<div id="kat1d" style="display:none;"><select name="kat1" id="kat1" class="formSelect" onchange="getKategories(2);"></select></div>
				<?
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if(count($loadedcats) > 2)
				{
					?>
					<div id="kat2d" style="display:;">
						<select name="kat2" id="kat2" class="formSelect" onchange="getKategories(3);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = '".$loadedcats[1]."'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$catid;?>"><?=$catname;?>
						<?
						}
						?>
						</select>
					</div>
					<?
				}
				else 
				{
					?>
					<div id="kat2d" style="display:none;"><select name="kat2" id="kat2" class="formSelect" onchange="getKategories(3);"></select></div>
					<?
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if(intval(count($loadedcats)) > 3)
				{
					?>
					<div id="kat3d" style="display:;">
					<select name="kat3" id="kat3" class="formSelect" onchange="getKategories(4);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = '$l_cat2'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$catid;?>"><?=$catname;?>
						<?
						}
						?>
					</select>
					</div>
					<?
				}
				else 
				{
				?>
					<div id="kat3d" style="display:none;"><select name="kat3" id="kat3" class="formSelect" onchange="getKategories(4);"></select></div>
				<?
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
				?>
				<div id="kat4d" style="display:none;"><select name="kat4" id="kat4" class="formSelect" onchange="getKategories(5);"></select></div>
				<div id="kat5d" style="display:none;"><select name="kat5" id="kat5" class="formSelect" onchange="getKategories(6);"></select></div>
				<!------------------------------------------------------------------------------------------------------------------------------------------>				
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="button"  name="Action" value="Search" onclick="searchSKUs()" class="buttonItem">	
			</td>		
		</tr>
		</table>	
	<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	
	</td>
	
	<td>
		Enter a comma delmiited list of the<BR>
		pid's below and click 'update kit'.<BR>
		<textarea class="formSelect" id="cpkitskus" name="cpkitskus" style="width:200px;height:150px"></textarea>
		<BR>
		<input type="checkbox" id="copycart" name="cartkit" value="1">Copy the cart as a kit	
		<BR><BR>
		<input type="button" name="bulkkit" value="Update Kit" onclick="doBulkKit();" class="buttonItem" >
	</td>
</tr>

</table>

</div>