<!---
<IFRAME 
scrolling="no" 
width=100% 
height=450 
marginwidth="0" 
marginheight="0" 
frameborder="0" 
vspace="0" 
hspace="0" 
style="overflow:visible;"
SRC="/mgt/sm/sourcing_loader.phtml?id=<?=$id;?>">
</IFRAME>
---->
<table width=95%>
<tr>
	<td width=100%>
	<!------------------------------------------------------------------------------------------------------------>
        <a href="javascript:void(0)" onclick="top.e2window('inventory_history.phtml?id=<?=$id?>&inwin=1', 'Inventory History Change: <?=$id?>','item_<?=$id?>');">Manual Inv Adjusts</a>
        <BR><BR>
	<B>PO History</B>
		<table width=100%>
			<tr bgcolor="#EEEEEE">
				<td><div align=center>PID</div></td>
				<td><div align=center>Date/Time</div></td>
				<td><div align=center>SKU</div></td>
				<td><div align=center>Man Name</div></td>
				<td><div align=center>Vendor</div></td>
				<td><div align=center>POID</div></td>
				<td><div align=center>Qty</div></td>
				<td><div align=center>Cost</div></td>
			</tr>
			<?
			$query = "select pid, tstamp, sku, manname, vendorname, poid, qty, cost from product_purchase_history where pid = '$id' and poid > 0 order by tstamp desc limit 0, 50";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($ph_pid, $ph_tstamp, $ph_sku, $ph_manname, $ph_vendorname, $ph_poid, $ph_qty, $ph_cost) = mysql_fetch_array($qok))
			{
				?>
				<tr>
				<td><?=$ph_pid;?></td>
				<td><?=date("m/d/Y H:i:s (D)", strtotime($ph_tstamp));?></td>
				<td><?=$ph_sku;?></td>
				<td><?=$ph_manname;?></td>
				<td><?=$ph_vendorname;?></td>
				<td>
					<a href="javascript:void(0);" onclick='top.e2window("/mgt/vn/viewpo.phtml?poid=<?=$ph_poid;?>&inwin=1", "View PO ");'>
						<?=$ph_poid;?>
					</a>
				</td>
				<td><?=$ph_qty;?></td>
				<td><?=$ph_cost;?></td>
				</tr>
				<?
			}
			?>
			</table>
	<!------------------------------------------------------------------------------------------------------------>
	<BR><BR>
	<B>Order History</B>
		<table width=100%>
			<tr bgcolor="#EEEEEE">
				<td><div align=center>PID</div></td>
				<td><div align=center>Date/Time</div></td>
				<td><div align=center>Man Name</div></td>
				<td><div align=center>Man Part</div></td>
				<td><div align=center>Invoice</div></td>
				<td><div align=center>Qty</div></td>
				<td><div align=center>Price</div></td>
			</tr>
			<?
			$query = "select customer_order_lines.prodid, customer_orders.orderdate, customer_order_lines.manname, customer_order_lines.manpart, 
							customer_orders.invoiceid, customer_order_lines.qty_shipped, customer_order_lines.price, customer_orders.orderid
						from customer_orders, customer_order_lines, company_orderflow
						where 
						customer_orders.orderid = customer_order_lines.orderid and 
						customer_orders.status = company_orderflow.step and
						company_orderflow.complete = 1 and
						customer_order_lines.prodid = '$id' and 
						customer_order_lines.qty_shipped > 0 
						order by customer_orders.orderdate desc  limit 0, 50";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($oh_pid, $oh_orderdate, $oh_manname, $oh_manpart, $oh_invoiceid, $oh_shipped, $oh_price, $oh_orderid) = mysql_fetch_array($qok))
			{
				?>
				<tr>
				<td><?=$oh_pid;?></td>
				<td><?=date("m/d/Y H:i:s (D)", $oh_orderdate);?></td>
				<td><?=$oh_manname;?></td>
				<td><?=$oh_manpart;?></td>
				<td>
					<a href="javascript:void(0);" onclick='top.e2window("/mgt/om/vieworder.phtml?on=<?=$oh_orderid;?>&inwin=1", "View Order ");'>
						<?=$oh_invoiceid;?>
					</a>
				</td>
				<td><?=$oh_shipped;?></td>
				<td><?=$oh_price;?></td>
				</tr>
				<?
			}
			?>
			</table>			
	</td>
</tr>
</table>					