<IFRAME 
scrolling="no" 
width=100% 
height=450 
marginwidth="0" 
marginheight="0" 
frameborder="0" 
vspace="0" 
hspace="0" 
style="overflow:visible;"
SRC="/mgt/sm/sdescr_loader_amz.phtml?id=<?=$id;?>">
</IFRAME>
<?
/*
<table width=98%>
<tr>
	<td>
		<?
			<div align=right><input type="submit" name="Action" value="Save SKU" class="buttonItem"></div>
			
			$oFCKeditor = new FCKeditor('sdescr') ;
			$oFCKeditor->BasePath	= "/mgt/help/";
			$oFCKeditor->Value		= "$salesdescr";
			$oFCKeditor->Width = "99%";
			$oFCKeditor->Height = "425";
			$oFCKeditor->Create() ;
		?>	
		
	</td>
</tr>
</table>
*/
?>
