<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$seldivid = 0;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
	{
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
	catch (e)
	{
		// Internet Explorer
		try
		{
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
		{
			try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e)
			{
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}

	return xmlHttp;
}
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}
function popData() {
//	var inst = FCKeditorAPI.GetInstance("htmlspecs");
//	var sValue = inst.GetHTML();
//	
//	var inst1 = FCKeditorAPI.GetInstance("sdescr");
//	var sValue1 = inst1.GetHTML();
	FCKeditor_OnComplete();
//	$('#htmlspecsAll').val(sValue);
//	$('#sdescrAll').val(sValue1);
	$('#kw1All').val($('#kw1').val());
	$('#kw2All').val($('#kw2').val());
	$('#kw3All').val($('#kw3').val());
	$('#kw4All').val($('#kw4').val());
	$('#kw5All').val($('#kw5').val());
	$('#titleAll').val($('#title').val());
	$('#titleEbayAll').val($('#ebay_title').val());
	$('#featureAll').val($('#feature').val());
	$('#pricenoteAll').val($('#pricenote').val());
}
function FCKeditor_OnComplete( editorInstance ){
   var inst = FCKeditorAPI.GetInstance("htmlspecs");
    var sValue = inst.GetHTML();

    var inst1 = FCKeditorAPI.GetInstance("sdescr");
    var sValue1 = inst1.GetHTML();
    $('#htmlspecsAll').val(sValue);
    $('#sdescrAll').val(sValue1);
}
function autogenHTML()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;
	
	
	var url = "/mgt/sm/ajax_autogenhtml.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
//	url += "id=35907";
	url += "id=<?=$id;?>";
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		window.location.reload(); 
		/*window.frames['hspecsframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=35907";
		TabbedPanels1.showPanel(3);*/
	}
}

function autogenImages()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenimages.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
//	url += "id=35907";
	url += "id=<?=$id;?>";
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenImagesDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenImagesDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		window.location.reload(); 
		/*window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=35907";
		TabbedPanels1.showPanel(4);*/
	}
}

function autogenFeatures()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenfeatures.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenFeaturesDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenFeaturesDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		/*window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(4);*/
	}
}

function autogenKeywords()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenkeywords.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenKeywordsDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenKeywordsDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		/*window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(4);*/
	}
}

</script>

</HEAD>
<STYLE>
.dialog {
display:none;
width:225px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body> <!--- loadTime(); --->
	<input type="hidden" name="id" value="<?=$id;?>">
		<div style="padding-left:5px;padding-top:10px">
			<div id="TabbedPanels1" class="TabbedPanels" style="width:<?=$e2width-25;?>px">
				<div class="TabbedPanelsContentGroup">
					<?INCLUDE("editsku_page1_custom3.phtml");?>
				</div>
			</div>
			<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
		</div>
</body>
</html>