<?REQUIRE($ROOT_DIR."/mgt/e2win/autocomplete.phtml");?>
<?
$query = "select manname from product_manufacturers";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($xmanname) = mysql_fetch_array($qok))
{
	$manlist .= "$xmanname\\n";
}
?>
<script>
var manlist = "<?=$manlist;?>";
keyValues=manlist.split("\n"); 

function verifyBrand()
{
	var manname = document.advform.brand.value;
	var found = 0;
	
	for(xx = 0; xx < keyValues.length; xx++)
	{
		if(keyValues[xx].toLowerCase() == manname.toLowerCase())
		{
			found = 1;
			break;
		}
	}
	
	if(found == 0)
	{
		alert('The brand that you entered is a new brand.  It will be created when you save the sku.')
	}
}
function copyPriceLevels() {
	var webprice = $("#price_level1").val();
	$("#price_level2").val(webprice);
	$("#price_level3").val(webprice);
	$("#price_level4").val(webprice);
	$("#price_level5").val(webprice);
	$("#price_level6").val(webprice);
	$("#price_level7").val(webprice);
	$("#price_level8").val(webprice);
	$("#price_level9").val(webprice);
}
</script>
<table width=95%>
<tr>
	<td>
		<?if($efc->getPermission("perm_iportal")){?>
			<a href="javascript:void(0);"  onclick="javascript:e2window('/mgt/iportal/createticket.phtml', 'Create Ticket');"><img src="/mgt/images/ticket.gif" border=0 alt="Create Support Ticket"></a>&nbsp;
		<?}?>
	</td>
</tr>
<tr>
	<td>
	<!------------------------------------------------------------------------------------------------------------>
		<table border=0>
		<tr>
			<td class="g1">SKU:</td>
			<td><input type="text" name="sku" value="<?=$sku;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
					<td class="g1">Category:</td>
					<td>
						<select name="cat0" class="formSelect" onchange="getCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>" <?if($catid == $loadedcats[0]) echo "SELECTED";?>><?=$catname;?>
							<?
						}
						?>
						</select>		
						<?
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 1)
						{
							?>
							<div id="cat1d" style="display:;">
								<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[0]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[1]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 2)
						{
							?>
							<div id="cat2d" style="display:;">
								<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[1]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[2]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 3)
						{
							?>
							<div id="cat3d" style="display:;">
								<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[2]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[3]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 4)
						{
							?>
							<div id="cat4d" style="display:;">
								<select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[3]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[4]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(count($loadedcats) > 5)
						{
							?>
							<div id="cat5d" style="display:;">
								<select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '".$loadedcats[4]."'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $loadedcats[5]) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
						?>
						<div id="cat6d" style="display:none;"><select name="cat6" id="cat6" class="formSelect" onchange="getCategories(7);"></select></div>
					</td>
		</tr>	
		<tr>
			<td class="g1">Title:</td>
			<td><input type="text" name="title" id="title" value="<?=htmlspecialchars($descr);?>" class="formBox" style="width:225px" 
							onkeyup="countNumChars('title', 'titleCount');" onfocus="countNumChars('title', 'titleCount');" onblur="bS('titleCount');"><span id="titleCount">&nbsp;</span></td>
		</tr>
		<tr>
			<td class="g1">Ebay Title:</td>
			<td><input type="text" name="ebay_title" id="ebay_title" value="<?=htmlspecialchars($ebay_title);?>" class="formBox" style="width:225px" 
							onkeyup="countNumChars('ebay_title', 'ebay_titleCount');" onfocus="countNumChars('ebay_title', 'ebay_titleCount');" onblur="bS('ebay_titleCount');"><span id="ebay_titleCount">&nbsp;</span></td>
		</tr>
		<tr>
			<td class="g1"><B>Brand:</B></td>
			<td>
				<input type="text" name="brand" value="<?=$brand;?>" onblur="verifyBrand()" onkeypress="return autocomplete(this, event, keyValues)" class="formBox" style="width:125px">										
			</td>
		</tr>
		<tr>
			<td class="g1"><B>Man Part:</B></td>
			<td><input type="text" name="manpart" value="<?=$manpart;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
		<?$x_assignedto = $efc->getSKUAssignment($id);?>
			<td class="g1"><B>Assigned:</B></td>
			<td>
				<select name="assignedto" class="formSelect">
				<option value="0">Unassigned</option>
				<?
				$query = "select id, displayname from users order by displayname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
				{
				?>
					<option value="<?=$x_userid;?>" <?if($x_userid == $x_assignedto) echo "SELECTED";?>><?=$x_displayname;?></option>
				<?	
				}
				?>
				</select>
			</td>
		</tr>
		<tr>
			<td class="g1">Kit</td>
			<td><input type="checkbox" name="kit" value="1"	<?if($kit == 1) echo "CHECKED"; ?>></td>
		</tr>
		<tr>
			<td class="g1">Visible</td>
			<td><input type="checkbox" name="visible" value="1"	<?if($visible == 1) echo "CHECKED"; ?>></td>
		</tr>
		<tr>
			<td class="g1">Always in stock</td>
			<td><input type="checkbox" name="alwaysinstock" value="1"	<?if($alwaysinstock == 1) echo "CHECKED"; ?>></td>
		</tr>
		<tr>
			<td class="g1"><B>Latency:</B></td>
			<td>
				<input type="text" name="am_latency" value="<?=$am_latency;?>" class="formBox" style="width:45px"> Day(s) 
			</td>
		</tr>
		<tr>
			<td class="g1"><B>UPC:</B></td>
			<td><input type="text" name="upc" value="<?=$upccode;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td class="g1"><B>Item Type (CFID 68):</B></td>
			<td><input type="text" name="cfid68" value="<?=$cfid68;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td class="g1"><B>BFLY Unique SKU (CFID 58):</B></td>
			<td><input type="checkbox" name="cfid58" <?if($cfid58 == 1) echo "CHECKED"; ?>></td>
		</tr>
		<tr>
			<td class="g1"><B>Kit Includes (CFID 80):</B></td>
			<td><input type="text" name="cfid80" value="<?=$cfid80;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td class="g1"><div style="padding-top:2px;">Display On:</td>
			<td valign=top>
				<?
				$query = "select divid, sitename from site_list order by divid";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($site_divid, $site_name) = mysql_fetch_array($qok))
				{
					$query = "select count(*) from site_skus where pid = '$id' and divid = '$site_divid'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($checked) = mysql_fetch_array($q4ok);
					
					?>
					<input type="checkbox" name="sitelist_<?=$site_divid;?>" value="1" <?if($checked == 1) echo "CHECKED";?>><?=$site_name;?> <br />
					<?
				}
				?>	
								
			</td>
		</tr>
		</table>
				
	<!--			
			</td>
		</tr>
		</table>	-->
	<!------------------------------------------------------------------------------------------------------------>
	</td>
	<td align="right" style="padding-right:30px;"><?if ($id != '') {
		?>
		<b>KIT ID: <?=$id?></b>
		<?
	}?></td>
	</tr>
	<tr>
		<td colspan=2>
			<input type="submit" name="Action" value="Save SKU" class="buttonItem">
			<input type="button" value="Create SKU" class="buttonItem" onclick="document.location='/mgt/sm/createsku_custom.phtml'">
		</td>
	</tr>
	</table>
	<!------------------------------------------------------------------------------------------------------------>	
	</td>

</tr>
</table>
<div id="kitpricing">
<HR NOSHADE>
<table>
<tr>
	<td colspan="2">
		<table>
		<tr>
			<td class="g1"><B>Ship in:</B></td>
			<td>
				<select name="shipsin" class="formSelect">
					<option value="">--- SELECT ---</option>
					<option value="1" <?if($shipsin == 1) echo "SELECTED";?>>Ships in 1-2 Business Days</option>
					<option value="2" <?if($shipsin == 2) echo "SELECTED";?>>Ships in 2-3 Business Days</option>
					<option value="3" <?if($shipsin == 3) echo "SELECTED";?>>Ships in 3-5 Business Days</option>
					<option value="5" <?if($shipsin == 5) echo "SELECTED";?>>Ships in 5-7 Business Days</option>
					<option value="7" <?if($shipsin == 7) echo "SELECTED";?>>Ships in 7-14 Business Days</option>

					<option value="10" <?if($shipsin == 10) echo "SELECTED";?>>Usually Ships in 1-2 Weeks</option>
					<option value="11" <?if($shipsin == 11) echo "SELECTED";?>>Usually Ships in 2-3 Weeks</option>
					<option value="12" <?if($shipsin == 12) echo "SELECTED";?>>Usually Ships in 3-4 Weeks</option>
					<option value="13" <?if($shipsin == 13) echo "SELECTED";?>>Usually Ships in 4-6 Weeks</option>
				</select>
			</td>
		</tr>
		<tr>
					<td class="g1"><B>Std. Ship:</B></td>
					<td>
						<input type="text" name="am_std_ship" value="<?=$am_std_ship;?>" class="formBox" style="width:125px">
						<a href="javascript:void(0);" onclick="e2window('/mgt/cf/amazon_defaults.phtml?pid=<?=$id;?>&inwin=1', 'Etilize SKU: <?=$id;?>');">
							Defaults
						</a>
					</td>
				
					<td>&nbsp;&nbsp;&nbsp;</td>

					<td class="g1"><B>Exp. Ship:</B></td>
					<td>
						<input type="text" name="am_exp_ship" value="<?=$am_exp_ship;?>" class="formBox" style="width:125px">
					</td>
				</tr>
		
		</table>
	</td>
</tr>	
<tr>
	<td><B>Kit Pricing:</td>
	<td>&nbsp;&nbsp;</td>
	<td>Discount Kit Price By: $<input type="text" name="kit_fixed" value="<?=$kit_fixed;?>" class="formBox" style="width:75px;text-align:right;"></td>
	<td>&nbsp;&nbsp;</td>
	<td>By a Percent: <input type="text" name="kit_value" value="<?=$kit_value;?>" class="formBox" style="width:75px;text-align:right;">%</td>
</tr>
</table>
</div>
<div id="kitpricinglevels">
<table width=95%>
<tr>
	<td width=33%>
	
		<table>
		<tr>
			<td class="g1">MSRP:</td>
			<td><input type="text" name="price_msrp" value="<?=$price_msrp;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td class="g1">MAP:</td>
			<td><input type="text" name="price_map" value="<?=$price_map;?>" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?>:</td>
			<td><input type="text" onblur="copyPriceLevels()" name="price_level1" id="price_level1" value="<?=$price_level1;?>" class="formBox" style="width:125px"><span id="fcd1" style="display:none;"><input type="checkbox" name="fco1" value=1 <?if($fco1 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?>:</td>
			<td><input type="text" name="price_level2" id="price_level2" value="<?=$price_level2;?>" class="formBox" style="width:125px"><span id="fcd2" style="display:none;"><input type="checkbox" name="fco2" value=1 <?if($fco2 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		
		
		</table>	
	</td>
	
	<td width=33%>
		<table>
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?>:</td>
			<td><input type="text" name="price_level3" id="price_level3" value="<?=$price_level3;?>" class="formBox" style="width:125px"><span id="fcd3" style="display:none;"><input type="checkbox" name="fco3" value=1 <?if($fco3 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?>:</td>
			<td><input type="text" name="price_level4" id="price_level4" value="<?=$price_level4;?>" class="formBox" style="width:125px"><span id="fcd4" style="display:none;"><input type="checkbox" name="fco4" value=1 <?if($fco4 == 1) echo "CHECKED";?>></span></td>
		</tr>
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?>:</td>
			<td><input type="text" name="price_level5" id="price_level5" value="<?=$price_level5;?>" class="formBox" style="width:125px"><span id="fcd5" style="display:none;"><input type="checkbox" name="fco5" value=1 <?if($fco5 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?>:</td>
			<td><input type="text" name="price_level6" id="price_level6" value="<?=$price_level6;?>" class="formBox" style="width:125px"><span id="fcd6" style="display:none;"><input type="checkbox" name="fco6" value=1 <?if($fco6 == 1) echo "CHECKED";?>></span></td>
		</tr>		

		</table>	
	
	</td>
	
	<td width=33%>

		<table>
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?>:</td>
			<td><input type="text" name="price_level7" id="price_level7" value="<?=$price_level7;?>" class="formBox" style="width:125px"><span id="fcd7" style="display:none;"><input type="checkbox" name="fco7" value=1 <?if($fco7 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?>:</td>
			<td><input type="text" name="price_level8" id="price_level8" value="<?=$price_level8;?>" class="formBox" style="width:125px"><span id="fcd8" style="display:none;"><input type="checkbox" name="fco8" value=1 <?if($fco8 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		<tr>
			<td class="g1"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?>:</td>
			<td><input type="text" name="price_level9" id="price_level9" value="<?=$price_level9;?>" class="formBox" style="width:125px"><span id="fcd9" style="display:none;"><input type="checkbox" name="fco9" value=1 <?if($fco9 == 1) echo "CHECKED";?>></span></td>
		</tr>		
		</table>	
		
		<BR><BR>
		
		
	</td>
</tr>
</table>
</div>
<!--
<table>
<tr>
	<td>
		<a href="javascript:void(0);" onclick="deleteSKU();">Delete SKU</a>	
	</td>
</tr>
</table>-->


<script>
function updateKit()
{
	if(document.advform.kit.checked)
	{
		document.getElementById("kitparts").style.display = '';
		document.getElementById("kitpricing").style.display = ''
		document.getElementById("kitpricinglevels").style.display = '';
	/*	document.getElementById("stocklabel").style.display = 'none';
		document.getElementById("stockvalue").style.display = 'none';
		document.getElementById("warehouseinfo").style.display = 'none';*/
	}
	else
	{
		document.getElementById("kitparts").style.display = 'none';
		document.getElementById("kitpricing").style.display = 'none'
		document.getElementById("kitpricinglevels").style.display = 'none';
		/*document.getElementById("stocklabel").style.display = '';
		document.getElementById("stockvalue").style.display = '';
		document.getElementById("warehouseinfo").style.display = '';*/
	}
}

function delKitSKU()
{
	var theSelect = document.advform.kitlist;
	
	if(theSelect.selectedIndex < 0)	
	{
		
	}
	else
		theSelect.remove(theSelect.selectedIndex);	
}

function dsInventory()
{
	if(document.advform.rtdsinv.checked)
	{
		document.getElementById("dsinventory").style.display = '';
	}
	else
	{
		document.getElementById("dsinventory").style.display = 'none';
	}
}

function autogenHTML()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;
	
	
	var url = "/mgt/sm/ajax_autogenhtml.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		/*window.frames['hspecsframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(3);*/
	}
}

function autogenImages()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenimages.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenImagesDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenImagesDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		/*window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(4);*/
	}
}

function autogenFeatures()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenfeatures.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenFeaturesDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenFeaturesDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		/*window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(4);*/
	}
}

function autogenKeywords()
{
	var theTable = document.getElementById("kittable")
	var numrows = theTable.rows.length;

	var url = "/mgt/sm/ajax_autogenkeywords.phtml?";
	
	for(zz = 1; zz < numrows; zz++)
	{
		var data = theTable.rows[zz].id.split("-");
		url += "pid[]="+data[1]+"&";
	}
	
	url += "id=<?=$id;?>";
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
 	
	xmlHttp.onreadystatechange=autogenKeywordsDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function autogenKeywordsDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		/*window.frames['imagesframe'].window.location.reload(); 
		//window.frames[""].src = "/mgt/sm/htmlspecs_loader.phtml?id=<?=$id;?>";
		TabbedPanels1.showPanel(4);*/
	}
}

</script>

<!------------------------------------------------------------------------------------------------------------>	
<div id="skuresults" class="dialog">
<table width=99% id="results" name="results">
<tr bgcolor="#eeeeee">
	<td height=21><div align="center">Add</div></td>
		<td><div align="center">Man</div></td>
		<td><div align="center">ManPart</div></td>
		<td><div align="center">Descr</div></td>
		<td><div align="center">V</div></td>
		<td><div align="center">Stock</div></td>
		<td><div align="center">Price</div></td>
	</tr>
	<tr>
		<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
	</tr>	
</table>
<BR><BR>
<table width=100%>
<tr>
	<td>
		&nbsp;
	</td>
	
	<td align=right>
		<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
	</td>
</tr>
</table>
</div>
<!------------------------------------------------------------------------------------------------------------>	

<input type="hidden" name="kitskus" value="">
<?
if ($id != '') {
?>
<div id="kitparts">
<HR NOSHADE>
<table>
<tr>
	<td>
		<B>Kit SKUs</B>
		<BR>
		<div id="kittable_html">
		<table id="kittable" border=0>
		<tr bgcolor="#eeeeee">
			<td><div align=center><B>ID</B></div></td>
			<td><div align=center><B>Man Part</B></div></td>
			<td><div align=center><B>Title</B></div></td>
			<td><div align=center><B>Qty</B></div></td>
			<td><div align=center><B>Price</B></div></td>
			<td><div align=center><B>Cost</B></div></td>
			<td><div align=center><B>Del</B></div></td>
		</tr>
		<?
		$tcost = 0.00;
		$tprice = 0.00;
		$tship_weight = 0.00;
		
		$query = "select product_list.id, product_list.manpart, product_list.descr, product_list.shipweight, product_prices.price_level1, product_kitskus.qty
					from 
					product_list, product_manufacturers, product_kitskus, product_prices 
					where 
					product_list.manid = product_manufacturers.manid and 
					product_list.id = product_kitskus.kid and 
					product_list.id = product_prices.id and
					product_kitskus.pid = '$id' 
					order by product_prices.price_level1 desc";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($kid, $manpart, $descr, $shipweight, $kprice, $qty) = mysql_fetch_array($qok))
		{
			if( strlen($descr) > 20 )
				$descr = substr($descr, 0, 17)."...";
				
			$avgcost = $efc->getActualCost($kid);
			
			$tcost += $kprice;
			$tprice += $avgcost;
			$tship_weight += sprintf("%.2f", $shipweight * $qty);
			?>
			<tr bgcolor="#FFFFFF" onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" id="r-<?=$kid;?>-<?=$id;?>">
				<td><a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$kid;?>&inwin=1', 'View SKU: <?=$kid;?>');"><?=$kid;?></a></td>
				<td><?=$manpart;?></td>
				<td><?=$descr;?></td>
				<td align=center>
					<input type="text" name="q-<?=$kid;?>-<?=$id;?>" id="q-<?=$kid;?>-<?=$id;?>" onblur="updateQty('q-<?=$kid;?>-<?=$id;?>')" value="<?=$qty;?>" class="formBox" style="width:20px"></td>
				<td align=right><?=number_format($kprice, 2);?></td>
				<td align=right><?=number_format($avgcost, 2);?></td>
				<td><a href="javascript:void(0);" onclick="deleteKitItem('<?=$kid;?>', '<?=$id;?>')"><img src="/mgt/images/del.gif" border=0></a></td>
			</tr>
			<?
		}
		
		$total_cost = number_format($tprice,2);
		$total_profit = number_format($price_level3, 2,'.','')-number_format($total_cost, 2,'.','');
		$total_price = number_format($price_level3,2);
		
		?>
		<tr bgcolor="#eeeeee" id="total_row">
			<td colspan=4 align="right"><B>Ship weight: <span id="totalship_weight"><?=number_format($tship_weight, 2);?></span></B></td>
			<td><div align=right><B><span id="totalprice_comp"><?=number_format($tcost, 2);?></span></B></div></td>
			<td><div align=right><B><span id="totalcost_comp"><?=number_format($tprice, 2);?></span></B></div></td
			<td>&nbsp;</td>
		</tr>
		</table>
		</div>
		<I>To Update the quantity, type in the desired quantity and then press tab (or click away from the box).</I>
		<BR><BR>
		<HR NOSHADE>
		<table>
			<tr>
				<td>
					Autogenerate HTML Specs<input type="button" class="buttonItem" value="Generate" onclick="autogenHTML();"><BR>
					Autogenerate Images<input type="button" class="buttonItem" value="Generate" onclick="autogenImages();"><BR>
					Autogenerate Features<input type="button" class="buttonItem" value="Generate" onclick="autogenFeatures();"><BR>
					Autogenerate Keywords<input type="button" class="buttonItem" value="Generate" onclick="autogenKeywords();"><BR>
				</td>
				<td>
					<table>
						<tr>
							<td><b>Total Price</b></td>
							<td><b>Total Cost</b></td>
							<td><b>Profit</b></td>
							<td><b>Margin</b></td>
						</tr>
						<tr>
							<td><?=$total_price?></td>
							<td><?=$total_cost?></td>
							<td><?=$total_profit?></td>
							<td><?=number_format(($total_profit/$total_price)*100,2)?>%</td> 
						</tr>
					</table>
				
				</td>
			</tr>
		</table>
	</td>

	
	<td>
	<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<B>SKU Search</B>
		<BR>
		<table>
		<tr>
			<td><B>S:</B></td>
			<td align=left><input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
		</tr>
		<tr>
			<td><B>B:</B></td>
			<td align=left>
				<select name="kbrand" class="formSelect">
				<option value="">----- SELECT --------
				<?
				$query = "select manid, manname from product_manufacturers order by manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if(strlen($manname) > 25)
					{
						$manname = substr($manname, 0, 22)."...";
					}
					?>
					<option value="<?=$manid;?>"><?=$manname;?>
					<?
				}
				?>
				</select>						
			</td>
		</tr>
		
		<tr>
			<td><B>C:</B></td>
			<td align=left>
				<!------------------------------------------------------------------------------------------------------------------------------------------>			
				<select name="kat0" class="formSelect" onchange="getKategories(1);">
				<option value="0">----- SELECT --------
				<?
				$query = "select catid, catname from product_categories where parentid = 0";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($catid, $catname) = mysql_fetch_array($qok))
				{
				?>
					<option value="<?=$catid;?>"><?=$catname;?>
				<?
				}
				?>
				</select>		
				<?
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if(count($loadedcats) > 1)
				{
				?>
					<div id="kat1d" style="display:;">
					<select name="kat1" id="kat1" class="formSelect" onchange="getKategories(2);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = '".$loadedcats[0]."'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$catid;?>"><?=$catname;?>
						<?
						}
						?>
					</select>
					</div>
				<?
				}
				else 
				{
				?>
					<div id="kat1d" style="display:none;"><select name="kat1" id="kat1" class="formSelect" onchange="getKategories(2);"></select></div>
				<?
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if(count($loadedcats) > 2)
				{
					?>
					<div id="kat2d" style="display:;">
						<select name="kat2" id="kat2" class="formSelect" onchange="getKategories(3);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = '".$loadedcats[1]."'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$catid;?>"><?=$catname;?>
						<?
						}
						?>
						</select>
					</div>
					<?
				}
				else 
				{
					?>
					<div id="kat2d" style="display:none;"><select name="kat2" id="kat2" class="formSelect" onchange="getKategories(3);"></select></div>
					<?
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if(intval(count($loadedcats)) > 3)
				{
					?>
					<div id="kat3d" style="display:;">
					<select name="kat3" id="kat3" class="formSelect" onchange="getKategories(4);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = '$l_cat2'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
						?>
							<option value="<?=$catid;?>"><?=$catname;?>
						<?
						}
						?>
					</select>
					</div>
					<?
				}
				else 
				{
				?>
					<div id="kat3d" style="display:none;"><select name="kat3" id="kat3" class="formSelect" onchange="getKategories(4);"></select></div>
				<?
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
				?>
				<div id="kat4d" style="display:none;"><select name="kat4" id="kat4" class="formSelect" onchange="getKategories(5);"></select></div>
				<div id="kat5d" style="display:none;"><select name="kat5" id="kat5" class="formSelect" onchange="getKategories(6);"></select></div>
				<!------------------------------------------------------------------------------------------------------------------------------------------>				
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="button"  name="Action" value="Search" onclick="searchSKUs()" class="buttonItem">	
			</td>		
		</tr>
		</table>	
	<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	
	</td>
	
	<td>
		Enter a comma delmiited list of the<BR>
		pid's below and click 'update kit'.<BR>
		<textarea class="formSelect" id="cpkitskus" name="cpkitskus" style="width:200px;height:150px"></textarea>
		<BR>
<!--		<input type="checkbox" id="copycart" name="cartkit" value="1">Copy the cart as a kit	-->
		<input type="checkbox" id="cartkit" name="cartkit" value="1">Copy the cart as a kit	
		<BR><BR>
		<input type="button" name="bulkkit" value="Update Kit" onclick="doBulkKit();" class="buttonItem" >
	</td>
</tr>
</table>
</div>
<div>
<HR NOSHADE>
<table>
<tr>
	<td colspan="3">
		<?
			include('editsku_page1_custom4.phtml');
		?>
	</td>
</tr>
</table>
</div>

<?
}?>