<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;
REQUIRE($ROOT_DIR."/mgt/help_new/ckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<table width=95%>
<tr>
	<td width=100%>
	<!------------------------------------------------------------------------------------------------------------>
	<B>Inventory Change</B>
            <table width=100%>
                    <tr bgcolor="#EEEEEE">
                            <td><div align=center>PID</div></td>
                            <td><div align=center>Date/Time</div></td>
                            <td><div align=center>UserId</div></td>
<!--                            <td><div align=center>Title</div></td>-->
                            <td><div align=center>Details</div></td>
                    </tr>
                    <?
                    $query = "SELECT action_log_inventory.updateid, action_log_inventory.title, action_log_inventory.tstamp, action_log_inventory.userid,action_log_inventory_extended.details FROM action_log_inventory,action_log_inventory_extended
                                    WHERE action_log_inventory.id=action_log_inventory_extended.lid AND
                                            action_log_inventory.updateid='".$id."'
                                            order by action_log_inventory.tstamp desc  limit 0, 50";
                    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    while(list($updateid, $title, $tstamp, $userid, $details) = mysql_fetch_array($qok))
                    {
                        $tstamp = strtotime($tstamp);
                            ?>
                            <tr>
                            <td valign="top"><?=$updateid;?></td>
                            <td valign="top" nowrap><?=date("m/d/Y H:i:s (D)", $tstamp);?></td>
                            <td valign="top" nowrap><?=$userid;?></td>
<!--                            <td valign="top" nowrap><?=$title;?></td>-->
                            <td valign="top"><?=$details;?></td>
                            </tr>
                            <?
                    }
                    ?>
                </table>			
	</td>
</tr>
</table>	
    </body>
</html>