<script>
function inventorySKUs()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}

	document.invoptions.idlist.value = skus;
	document.invoptions.submit();

}
</script>
<form name="invoptions" method="post" action="/mgt/sm/invoptions_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.invoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Inventory Options:</td>
	<td>
	
		<table>
		<tr>
			<td>Amazon Realtime</td>
			<td><input type="checkbox" name="amazon_realtime" value="1"></td>
		</tr>
		<tr>
			<td>Real-Time DS Inv.</td>
			<td><input type="checkbox" name="rtdsinv" value="1"></td>
		</tr>
		<tr>
			<td>Amazon Qty</td>
			<td><input type="text" name="am_qty" class="formBox" style="width:50px"></td>
		</tr>
		<tr>
			<td>Always In-Stock</td>
			<td><input type="checkbox" name="am_alwaysinstock" value="1"></td>
		</tr>
		<tr>
			<td>Always Out of Stock</td>
			<td><input type="checkbox" name="am_alwaysoutstock" value="1"></td>
		</tr>
		<tr>
			<td>Out-of-Stock on 0 "Available"</td>
			<td><input type="checkbox" name="am_invisibleonstock" value="1"></td>
		</tr>
		<tr>
			<td colspan=2><I>* clicking Update will update all the above options</I></td>
		</tr>
		</table>
	</td>

	<td>&nbsp;&nbsp;&nbsp;</td>

	<td valign=top>
		<input type="button" name="Action" value="Update" class="buttonItem" onclick="inventorySKUs();">
		<BR>
	
	</td> <!-- categorizeSKus --->

	<?
	if($gotpmw)
	{
		?>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
			<table>
			<tr>
				<td>PMW - Overwrite Title</td>
				<td><input type="checkbox" name="pmw_overwrite_title" value="1"></td>
			</tr>
			<tr>
				<td>PMW - Overwrite Sales Description</td>
				<td><input type="checkbox" name="pmw_overwrite_sdescr" value="1"></td>
			</tr>
			<tr>
				<td>PMW - Overwrite Specs</td>
				<td><input type="checkbox" name="pmw_overwrite_specs" value="1"></td>
			</tr>
			<tr>
				<td>PMW - Overwrite Images</td>
				<td><input type="checkbox" name="pmw_overwrite_images" value="1"></td>
			</tr>
			</table>
			<table>
			<tr>
				<td style="padding-top:4px">PMW - Append Title</td>
				<td>
					<input type="checkbox" name="pmw_append_title" value="1">&nbsp;<input type="text" name="append_title" class="formBox" style="width:75px">
				</td>
			</tr>
			</table>
			* selecing this option will ignore the inventory options to the left
		</td>

		<?
	}
	?>
	
	<?
	if($gotcmic)
	{
		?>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
			<table>
			<tr>
				<td>CMIC - Overwrite Image</td>
				<td><input type="checkbox" name="cmic_overwrite_image" value="1"></td>
			</tr>
			<tr>
				<td>CMIC - Overwrite MAP</td>
				<td><input type="checkbox" name="cmic_overwrite_map" value="1"></td>
			</tr>
			<tr>
				<td>CMIC - Overwrite Features (product_descr)</td>
				<td><input type="checkbox" name="cmic_overwrite_features" value="1"></td>
			</tr>
			<tr>
				<td>CMIC - Overwrite Enhanced Features (product_html)</td>
				<td><input type="checkbox" name="cmic_overwrite_efeatures" value="1"></td>
			</tr>
			</table>
		</td>

		<?
	}
	?>	
</tr>
</table>
</form>
