<script>
function mannameSKUs()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}

	document.mannameoptions.idlist.value = skus;
	document.mannameoptions.submit();

}
</script>
<form name="mannameoptions" method="post" action="/mgt/sm/manname_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.mannameoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Use Manufacturer Name:</td>
	<td>
		<select name="usemanid" id="usemanid">
		<?
		
		$query = "select manid, manname from product_manufacturers order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			?>
			<option value="<?=$manid;?>"><?=$manname;?></option>
			<?
		}
		?>
		</select>
	</td>

	<td>&nbsp;&nbsp;&nbsp;</td>

	<td valign=top>
		<input type="button" name="Action" value="Change ManName" class="buttonItem" onclick="mannameSKUs();">
		<BR>
	</td> <!-- categorizeSKus --->

</tr>
</table>
</form>