<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_accbycat");

if($Action == "Save Links")
{
	$query = "truncate user_search_links";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	foreach ($_POST as $key => $value)
	{
		if($value == 1)
		{
			$query = "insert into user_search_links(userid, colname) values('".$_SESSION["ID"]."','$key')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}	
    
	Header("Location: /mgt/sm/new2_user_search_links.phtml?message=Field+List+Updated");
	exit;

}
else if($Action == "Use Default Fields")
{
	$query = "truncate user_search_links";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/sm/new2_user_search_links.phtml");
	exit;
	
}

function isCheckedField($field,$mysqlid,$DB)
{
	$query = "select count(*) from user_search_links where colname = '$field' AND userid='".$_SESSION["ID"]."'";
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($isfield) = mysql_fetch_array($qok);
	
	if($isfield > 0)
	{
		return "CHECKED";
	}
	
	return "";
}
?>
<HTML>
<HEAD>
<TITLE>Edit SKU Search Top Links</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Edit SKU Search Top Links</B>
		<BR><BR>
		<font color="#ff0000"><B><?=$message;?></B></font>
		<form method="POST">
		<table>
		<tr>
			<td>
			<!------------------------------------------------------------------------------------->
				<table>
				<tr><td><input type="checkbox" name="top_links" value="1" <?=isCheckedField("top_links",$mysqlid,$DB);?>>Edit Top Links</td></tr>
				<tr><td><input type="checkbox" name="search_filters" value="1" <?=isCheckedField("search_filters",$mysqlid,$DB);?>>Search Filters</td></tr>
				<tr><td><input type="checkbox" name="search_columns" value="1" <?=isCheckedField("search_columns",$mysqlid,$DB);?>>Search Columns</td></tr>
				<tr><td><input type="checkbox" name="custom_tabs" value="1" <?=isCheckedField("custom_tabs",$mysqlid,$DB);?>>Custom Tabs</td></tr>
				<tr><td><input type="checkbox" name="custom_fields" value="1" <?=isCheckedField("custom_fields",$mysqlid,$DB);?>>Custom Fields</td></tr>
				<tr><td><input type="checkbox" name="create_sku" value="1" <?=isCheckedField("create_sku",$mysqlid,$DB);?>>Create SKU</td></tr>
				<tr><td><input type="checkbox" name="asin_search" value="1" <?=isCheckedField("asin_search",$mysqlid,$DB);?>>ASIN Search</td></tr>
				<tr><td><input type="checkbox" name="search" value="1" <?=isCheckedField("search",$mysqlid,$DB);?>>Search</td></tr>
				<tr><td><input type="checkbox" name="acc_by_cat" value="1" <?=isCheckedField("acc_by_cat",$mysqlid,$DB);?>>Accessories by Cat</td></tr>
				<tr><td><input type="checkbox" name="spec_template" value="1" <?=isCheckedField("spec_template",$mysqlid,$DB);?>>Spec Templates</td></tr>
				<tr><td><input type="checkbox" name="compatibility_list" value="1" <?=isCheckedField("compatibility_list",$mysqlid,$DB);?>>Compatibility Lists</td></tr>
				<tr><td><input type="checkbox" name="edit_sku_fields" value="1" <?=isCheckedField("edit_sku_fields",$mysqlid,$DB);?>>	Edit Sku Fields</td></tr>
				<tr><td><input type="checkbox" name="salesman_cost" value="1" <?=isCheckedField("salesman_cost",$mysqlid,$DB);?>>Salesman Cost</td></tr>
				<tr><td><input type="checkbox" name="bottom_tabs" value="1" <?=isCheckedField("bottom_tabs",$mysqlid,$DB);?>>Bottom Tabs</td></tr>
				</table>
			<!------------------------------------------------------------------------------------->			
			</td>
		</tr>
		<tr>
			<td colspan=4 align=center>
				<input type="submit" name="Action" value="Save Links" class="buttonItem">
			</td>
		</tr>
		</table>
		</form>
	</td>
</tr>
</table>

</body>
</html>