<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_scolumns"); // will redirect on failure
/*
if($Action == "Save Columns")
{
	$query = "delete from user_search_columns where userid = '".$_SESSION["ID"]."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	foreach($_POST as $key => $value)
	{
		if(intval($value) == 1 && intval($_POST["order_$key"] > 0))
		{
			//echo $key."=".$value."<BR>";
			$query = "insert into user_search_columns(userid, colname, dorder, coltitle) 
			values('".$_SESSION["ID"]."', '$key', '".$_POST["order_$key"]."', '".$_POST["title_$key"]."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
	}
	
	?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="top.location='/mgt/sm/search.phtml';">
	Loading...
	</BODY> 
	</HTML>
	<?
	exit;	
}
*/
if($_POST[colsOrder]){

$query = "delete from user_search_columns where userid = '".$_SESSION["ID"]."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$arr = explode("#",$_POST[colsOrder]);

foreach($arr as $key=>$val){
	$valArr = explode("**",$val);
	$key = $key + 1;
	$coltitle = strip_tags($valArr[1]);
	$colname = substr($valArr[0],6);
	//echo $key."=".substr($valArr[0],6)." --".$valArr[1]."<BR>";
	$query = "insert into user_search_columns(userid, colname, dorder, coltitle) 
	values('".$_SESSION["ID"]."','$colname','$key ', '$coltitle')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

?>
<HTML>
<HEAD>
<TITLE>Configuration</TITLE>
</HEAD>
<BODY onload="top.location='/mgt/sm/search.phtml';">
Loading...
</BODY> 
</HTML>
<?
exit;
}
?>
<HTML>
<HEAD>
<TITLE>User Search Columns</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<link rel="stylesheet" href="./css/demos.css" media="screen" type="text/css">
	<style type="text/css">
	/* CSS for the demo. CSS needed for the scripts are loaded dynamically by the scripts */
	#mainContainer{
		width:800px;
		margin:0 auto;
		margin-top:10px;
		border:1px solid #000;
		padding:2px;
	}
	
	#capitals{
		width:400px;
		float:left;
		border:1px solid #000;
		background-color:#E2EBED;
		padding:3px;
		height:auto;
	}
	#countries{
		width:380px;
		float:right;
		margin:2px;
		height:400px;
	}	
	.dragableBox,.dragableBoxRight{
		width:100px;
		height:auto;
		border:1px solid #000;
		background-color:#FFF;		
		margin-bottom:5px;
		margin-left:5px;
		padding:5px;
		float:left;
		font-weight:bold;
		text-align:center;
	}
	div.dragableBoxRight{
		height:auto;
		width:200px;
		float:left;
		overflow:auto;
		margin-right:5px;
		padding:5px;
		background-color:#E2EBED;
	}
	.dropBox{
		width:300px;
		border:1px solid #000;
		background-color:#E2EBED;
		height:200px;
		overflow:auto;
		margin-bottom:10px;
		padding:3px;
	}		
	a{
		color:#F00;
	}
		
	.clear{
		clear:both;
	}
	img{
		border:0px;
	}	
	</style>	
<script type="text/javascript" src="./js/drag-drop-custom.js"></script>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>

function dropItems(idOfDraggedItem,targetId,x,y)
{	
	var targetObj = document.getElementById(targetId);	// Creating reference to target obj
	//var subDivs = targetObj.getElementsByTagName('DIV');	// Number of subdivs
	// if(subDivs.length>0 && targetId!='capitals')return;	// Sub divs exists on target, i.e. element already dragged on it. => return from function without doing anything
	var sourceObj = document.getElementById(idOfDraggedItem);	// Creating reference to source, i.e. dragged object
	
	if(targetId=='capitals'){	// Target is the capital box - append the dragged item as child of first sub div, i.e. as child of <div id="dropContent">
		targetObj = targetObj.getElementsByTagName('DIV')[0];	
	}
	targetObj.appendChild(sourceObj);	// Append	
}

function onDragFunction(cloneId,origId)
{	
	/*
	if(allValues.indexOf(idOfDraggedItem)== -1){
		allValues[n++] = idOfDraggedItem;
	}
	*/
}

function StartUp()
{
	<?		
	$query = "select colname, coltitle, dorder from user_search_columns where userid = '".$_SESSION["ID"]."' order by dorder";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($colname, $coltitle, $dorder) = mysql_fetch_array($qok))
	{
	?>
	dropItems("order_<?=$colname;?>","box101")
	<?
	}
	?>
}

function cancelWindow()
{
	var thisframe = window.frameElement.id;
	var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
	var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
	
	<?
	if(intval($pid) > 0)
	{
		?>
		window.location="/mgt/sm/search.phtml";
		<?
	}
	else 
	{
		?>
		top.closeWindow(thiswinname, thiswinid);
		<?
	}
	?>


}
</script>
<body onload="StartUp()">
<?
if($inwin != 1)
{
?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		
<?
}
?>		
		<script>
		var g_onnum = <?=intval($onnum);?>;
		function defaultColumns()
		{	
			dropItems("order_id","box101");
			dropItems("order_man","box101");
			dropItems("order_manpart","box101");
			dropItems("order_descr","box101");
			dropItems("order_upccode","box101");
			dropItems("order_scost","box101");
			dropItems("order_status","box101");
			dropItems("order_visible","box101");
			dropItems("order_dropship","box101");
			dropItems("order_refurb","box101");
			
			//clearAll();
			//ID   Man   ManPart   Descr   UPC   S. Cost   Status   V   D   R   L / DS   Price   Category  
			
		}
		function ColumnsOrders(){
			allValues = new Array();
			var targetObj = document.getElementById("box101");	// Creating reference to target obj
			var subDivs = targetObj.getElementsByTagName('DIV');
			for(z=0; z<subDivs.length;z++){
				//alert(subDivs.item(z).id);
				//alert(document.getElementById(subDivs.item(z).id).innerHTML);
				allValues[z] = subDivs.item(z).id + '**' + document.getElementById(subDivs.item(z).id).innerHTML;
			}
			var columns = allValues.join("#");
			document.co.colsOrder.value = columns;
			document.co.submit();
		}
		function clearAll()
		{
			dropItems("order_id","dropContent");
			dropItems("order_sku","dropContent");
			dropItems("order_man","dropContent");
			dropItems("order_manpart","dropContent");
			dropItems("order_descr","dropContent");
			
			dropItems("order_upccode","dropContent");
			dropItems("order_roimast","dropContent");
			dropItems("order_status","dropContent");
			dropItems("order_cat","dropContent");
			dropItems("order_weight","dropContent");
			
			dropItems("order_platform","dropContent");
			dropItems("order_hasimage","dropContent");
			dropItems("order_visible","dropContent");
			dropItems("order_dropship","dropContent");
			dropItems("order_refurb","dropContent");
			
			dropItems("order_oem","dropContent");
			dropItems("order_returnable","dropContent");
			dropItems("order_demo","dropContent");
			dropItems("order_hidestock","dropContent");
			dropItems("order_usemap","dropContent");
			
			dropItems("order_price","dropContent");
			dropItems("order_scost","dropContent");
			dropItems("order_avgcost","dropContent");
			dropItems("order_instock","dropContent");
			dropItems("order_columnperhouse","dropContent");
			
			dropItems("order_columnperstock","dropContent");
			dropItems("order_stockdetail","dropContent");
			dropItems("order_webinventory","dropContent");
			dropItems("order_assignedto","dropContent");
			dropItems("order_dsinventory","dropContent");
			
			dropItems("order_displayedon","dropContent");
			dropItems("order_namedpl","dropContent");
			dropItems("order_amazon_avil","dropContent");
			dropItems("order_amazon_avil_flag","dropContent");
			dropItems("order_specificfeed","dropContent");
		}
		
		function numberColumn(colName)
		{
			if(document.getElementById(colName).checked == 1 || document.getElementById(colName).checked == true)
			{
				g_onnum++;
				document.getElementById("order_"+colName).value = g_onnum;
			}
		}
		</script>
		<table>
		<tr>
			<td>
			<B>SKU Search Columns</B>
			</td>
		</tr>
		</table>
			<div id="mainContainer">
				<div id="capitals">
					<p><b>Available Columns</b></p>
					<div id="dropContent">
						<div class="dragableBox" id="order_id">ID</div>
						<div class="dragableBox" id="order_sku">SKU</div>
						<div class="dragableBox" id="order_man">Manufacturer</div>
						<div class="dragableBox" id="order_manpart">Man. Part</div>
						<div class="dragableBox" id="order_descr">Descr (title)</div>
						<div class="dragableBox" id="order_upccode">UPC</div>
						<div class="dragableBox" id="order_roimast">CrawlerID</div>
						<div class="dragableBox" id="order_status">Status</div>
						<div class="dragableBox" id="order_cat">Category</div>
						<div class="dragableBox" id="order_weight">Ship Weight</div>
						<div class="dragableBox" id="order_platform">Platform</div>
						<div class="dragableBox" id="order_hasimage">Has Image</div>
						<div class="dragableBox" id="order_visible">Visible</div>
						<div class="dragableBox" id="order_dropship">Drop Ship</div>
						<div class="dragableBox" id="order_refurb">Refurb</div>
						
						<div class="dragableBox" id="order_oem">OEM</div>
						<div class="dragableBox" id="order_returnable">Returnable</div>
						<div class="dragableBox" id="order_demo">Demo</div>
						<div class="dragableBox" id="order_hidestock">Hide Stock</div>
						<div class="dragableBox" id="order_usemap">Use MAP</div>
						<div class="dragableBox" id="order_price">Price (PLI)</div>
						<div class="dragableBox" id="order_scost">Salesman Cost</div>
						<div class="dragableBox" id="order_avgcost">Average Cost</div>
						<div class="dragableBox" id="order_instock">Stock (L/DS)</div>
						<div class="dragableBox" id="order_columnperhouse">Stock (Column Per Warehouse)</div>
						<div class="dragableBox" id="order_columnperstock">Stock (Column Per Warehouse Cost)</div>
						<div class="dragableBox" id="order_stockdetail">Stock Detail</div>
						<div class="dragableBox" id="order_webinventory">Web Inventory (In/Out/Real)</div>
						<div class="dragableBox" id="order_assignedto">Assigned To</div>
						<div class="dragableBox" id="order_dsinventory">Drop Ship Inventory</div>
						
						<div class="dragableBox" id="order_displayedon">Sites Displayed On</div>
						<div class="dragableBox" id="order_namedpl">All Named Price levels</div>
						<div class="dragableBox" id="order_amazon_avil">Amazon Availability</div>
						<div class="dragableBox" id="order_amazon_avil_flag">Amazon Availability Flag</div>
						<div class="dragableBox" id="order_specificfeed">Specific Feed (from SiteConfig)</div>
					</div>
				</div>
				<div id="countries">
					<div id="box101" class="dragableBoxRight">Your Search Columns</div>
				</div>
				<div class="clear"></div>
				<div class="konaBody"></div>
			</div>
		<div id="debug"></div>
		<script type="text/javascript">
		
		
		var dragDropObj = new DHTMLgoodies_dragDrop();	// Creating drag and drop object
		
		// Assigning drag events to the capitals
		dragDropObj.addSource('order_id',true,true,true,false,'onDragFunction');	// Make <div id="box1"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_sku',true,true,true,false,'onDragFunction');	// Make <div id="box2"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_man',true,true,true,false,'onDragFunction');	// Make <div id="box3"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_manpart',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_descr',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_upccode',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_roimast',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_status',true,true,true,false,'onDragFunction');	// Make <div id="box1"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_cat',true,true,true,false,'onDragFunction');	// Make <div id="box2"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_weight',true,true,true,false,'onDragFunction');	// Make <div id="box3"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_platform',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_hasimage',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_visible',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_dropship',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_refurb',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		
		dragDropObj.addSource('order_oem',true,true,true,false,'onDragFunction');	// Make <div id="box1"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_returnable',true,true,true,false,'onDragFunction');	// Make <div id="box2"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_demo',true,true,true,false,'onDragFunction');	// Make <div id="box3"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_hidestock',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_usemap',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_price',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_scost',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_avgcost',true,true,true,false,'onDragFunction');	// Make <div id="box1"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_instock',true,true,true,false,'onDragFunction');	// Make <div id="box2"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_columnperhouse',true,true,true,false,'onDragFunction');	// Make <div id="box3"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_columnperstock',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_stockdetail',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_webinventory',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_assignedto',true,true,true,false,'onDragFunction');	// Make <div id="box4"> dragable. slide item back into original position after drop
		dragDropObj.addSource('order_dsinventory',true,true,true,false,'onDragFunction');
		
		dragDropObj.addSource('order_displayedon',true,true,true,false,'onDragFunction');
		dragDropObj.addSource('order_namedpl',true,true,true,false,'onDragFunction');
		dragDropObj.addSource('order_amazon_avil',true,true,true,false,'onDragFunction');
		dragDropObj.addSource('order_amazon_avil_flag',true,true,true,false,'onDragFunction');
		dragDropObj.addSource('order_specificfeed',true,true,true,false,'onDragFunction');
		
		// Assigning drop events on the countries
		dragDropObj.addTarget('box101','dropItems'); // Set <div id="leftColumn"> as a drop target. Call function dropItems on drop
		dragDropObj.addTarget('capitals','dropItems'); // Set <div id="leftColumn"> as a drop target. Call function dropItems on drop
		
		dragDropObj.init();	// Initizlizing drag and drop object
		</script>
		<form name="co" method="POST"><input type ="hidden" name="colsOrder">
		<table width=100%>
		<tr>
			<td>
			<!--------------------------------------------------------------->		
				
				<!--<table >
					<tr><td><input type="text" id="order_id" name="order_id" style="width:25px" value="" class="formBox"><input type="hidden" name="title_id" value="ID"><input type="checkbox" value="1" name="id" onclick="numberColumn('id');">ID</td></tr>
					<tr><td><input type="text" id="order_sku" name="order_sku" style="width:25px" value="" class="formBox"><input type="hidden" name="title_sku" value="SKU"><input type="checkbox" value="1" name="sku" onclick="numberColumn('sku');">SKU</td></tr>
					<tr><td><input type="text" id="order_man" name="order_man" style="width:25px" value="" class="formBox"><input type="hidden" name="title_man" value="Man."><input type="checkbox" value="1" name="man" onclick="numberColumn('man');">Manufacturer</td></tr>
					<tr><td><input type="text" id="order_manpart" name="order_manpart" style="width:25px" value="" class="formBox"><input type="hidden" name="title_manpart" value="ManPart"><input type="checkbox" value="1" name="manpart" onclick="numberColumn('manpart');">Man. Part</td></tr>
					<tr><td><input type="text" id="order_descr" name="order_descr" style="width:25px" value="" class="formBox"><input type="hidden" name="title_descr" value="Title"><input type="checkbox" value="1" name="descr" onclick="numberColumn('descr');">Descr (title)</td></tr>
					<tr><td><input type="text" id="order_upccode" name="order_upccode" style="width:25px" value="" class="formBox"><input type="hidden" name="title_upccode" value="UPC"><input type="checkbox" value="1" name="upccode" onclick="numberColumn('upccode');">UPC</td></tr>
					<tr><td><input type="text" id="order_roimast" name="order_roimast" style="width:25px" value="" class="formBox"><input type="hidden" name="title_roimast" value="CrawlerID"><input type="checkbox" value="1" name="roimast" onclick="numberColumn('roimast');">CrawlerID</td></tr>
					<tr><td><input type="text" id="order_status" name="order_status" style="width:25px" value="" class="formBox"><input type="hidden" name="title_status" value="Status"><input type="checkbox" value="1" name="status" onclick="numberColumn('status');">Status</td></tr>
					<tr><td><input type="text" id="order_cat" name="order_cat" style="width:25px" value="" class="formBox"><input type="hidden" name="title_cat" value="CatTree"><input type="checkbox" value="1" name="cat" onclick="numberColumn('cat');">Category</td></tr>
					<tr><td><input type="text" id="order_weight" name="order_weight" style="width:25px" value="" class="formBox"><input type="hidden" name="title_weight" value="Weight"><input type="checkbox" value="1" name="weight" onclick="numberColumn('weight');">Ship Weight</td></tr>
					<tr><td><input type="text" id="order_platform" name="order_platform" style="width:25px" value="" class="formBox"><input type="hidden" name="title_platform" value="Platform"><input type="checkbox" value="1" name="platform" onclick="numberColumn('platform');">Platform</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_hasimage" name="order_hasimage" style="width:25px" value="" class="formBox"><input type="hidden" name="title_hasimage" value="Image"><input type="checkbox" value="1" name="hasimage" onclick="numberColumn('hasimage');">Has Image</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_visible" name="order_visible" style="width:25px" value="" class="formBox"><input type="hidden" name="title_visible" value="V"><input type="checkbox" value="1" name="visible" onclick="numberColumn('visible');">Visible</td></tr>
					<tr><td><input type="text" id="order_dropship" name="order_dropship" style="width:25px" value="" class="formBox"><input type="hidden" name="title_dropship" value="DS"><input type="checkbox" value="1" name="dropship" onclick="numberColumn('dropship');">Drop Ship</td></tr>
					<tr><td><input type="text" id="order_refurb" name="order_refurb" style="width:25px" value="" class="formBox"><input type="hidden" name="title_refurb" value="R"><input type="checkbox" value="1" name="refurb" onclick="numberColumn('refurb');">Refurb</td></tr>
				</table>-->
				
									
			<!--------------------------------------------------------------->		
			</td>
			
			<td>
				<!--<table >
					<tr><td><input type="text" id="order_oem" name="order_oem" style="width:25px" value="" class="formBox"><input type="hidden" name="title_oem" value="OEM"><input type="checkbox" value="1" name="oem" onclick="numberColumn('oem');">OEM</td></tr>
					<tr><td><input type="text" id="order_returnable" name="order_returnable" style="width:25px" value="" class="formBox"><input type="hidden" name="title_returnable" value="Ret"><input type="checkbox" value="1" name="returnable" onclick="numberColumn('returnable');">Returnable</td></tr>
					<tr><td><input type="text" id="order_demo" name="order_demo" style="width:25px" value="" class="formBox"><input type="hidden" name="title_demo" value="Demo"><input type="checkbox" value="1" name="demo" onclick="numberColumn('demo');">Demo</td></tr>
					<tr><td><input type="text" id="order_hidestock" name="order_hidestock" style="width:25px" value="" class="formBox"><input type="hidden" name="title_hidestock" value="HideStock"><input type="checkbox" value="1" name="hidestock" onclick="numberColumn('hidestock');">Hide Stock</td></tr>
					<tr><td><input type="text" id="order_usemap" name="order_usemap" style="width:25px" value="" class="formBox"><input type="hidden" name="title_usemap" value="Use MAP"><input type="checkbox" value="1" name="usemap" onclick="numberColumn('usemap');">Use MAP</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_price" name="order_price" style="width:25px" value="" class="formBox"><input type="hidden" name="title_price" value="Price"><input type="checkbox" value="1" name="price" onclick="numberColumn('price');">Price (PL1)</td></tr>
					<tr><td><input type="text" id="order_scost" name="order_scost" style="width:25px" value="" class="formBox"><input type="hidden" name="title_scost" value="S. Cost"><input type="checkbox" value="1" name="scost" onclick="numberColumn('scost');">Salesman Cost</td></tr>
					<tr><td><input type="text" id="order_avgcost" name="order_avgcost" style="width:25px" value="" class="formBox"><input type="hidden" name="title_avgcost" value="AvgCost"><input type="checkbox" value="1" name="avgcost" onclick="numberColumn('avgcost');">Average Cost</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_instock" name="order_instock" style="width:25px" value="" class="formBox"><input type="hidden" name="title_instock" value="Stock (L/DS)"><input type="checkbox" value="1" name="instock" onclick="numberColumn('instock');">Stock (L/DS)</td></tr>										
					<tr><td><input type="text" id="order_columnperhouse" name="order_columnperhouse" style="width:25px" value="" class="formBox"><input type="checkbox" value="1" name="columnperhouse" onclick="numberColumn('columnperhouse');">Stock (Column Per Warehouse)</td></tr>										
					<tr><td><input type="text" id="order_columnperstock" name="order_columnperstock" style="width:25px" value="" class="formBox"><input type="checkbox" value="1" name="columnperstock" onclick="numberColumn('columnperstock');">Stock (Column Per Warehouse Cost)</td></tr>										
					<tr><td><input type="text" id="order_stockdetail" name="order_stockdetail" style="width:25px" value="" class="formBox"><input type="checkbox" value="1" name="stockdetail" onclick="numberColumn('stockdetail');">Stock Detail (5 columns)<BR>&nbsp;&nbsp;OnHand, OnHold, Committed, Available, On PO</td></tr>
					<tr><td><input type="text" id="order_webinventory" name="order_webinventory" style="width:25px" value="" class="formBox"><input type="hidden" name="title_webinventory" value="Web Inventory"><input type="checkbox" value="1" name="webinventory" onclick="numberColumn('webinventory');">Web Inventory (In/Out/Real)</td></tr>
				</tr>
					<tr><td><input type="text" id="order_assignedto" name="order_assignedto" style="width:25px" value="" class="formBox"><input type="hidden" name="title_assignedto" value="Assigned To"><input type="checkbox" value="1" name="assignedto" onclick="numberColumn('assignedto');">Assigned To</td></tr>
					
					<tr><td><input type="text" id="order_dsinventory" name="order_dsinventory" style="width:25px" value="" class="formBox"><input type="hidden" name="title_dsinventory" value="Drop Ship Inventory"><input type="checkbox" value="1" name="dsinventory" onclick="numberColumn('dsinventory');">Drop Ship Inventory Detail</td></tr>					
				
				</table>-->
				<BR><BR>
				
				<BR>
					
			</td>
		</tr>
		</table>
		<table>
		<tr>
			<td>
				<BR>
				<!--<input type="submit" name="Action" value="Save Columns" class="buttonItem">	-->
				<input type="button" onclick="ColumnsOrders()" name="Action" value="Save Cols" class="buttonItem">
				<input type="button" onclick="defaultColumns()" name="Action" value="Default" class="buttonItem">
				<input type="button" onclick="clearAll()" name="Clear" value="Clear All" class="buttonItem">
				<input type="button" onclick="cancelWindow()" name="Action" value="Cancel" class="buttonItem">
			</td>
		</tr>
		<tr>
			<td>
			<BR>
			<HR NOSHADE>
			<LI>The box to the left of each checkbox is the order to display the data</LI>			
			<LI>Clearing the form, then selecting the checkboxes in order will properly order the columns</LI>
			<LI>You cannot use the number "0" in the ordering</LI>
			<LI>Click the "Default" button to view the default configuration.</LI>
			</td>
		</tr>
		</table>
		</form>
	<?
if($inwin != 1)
{
?>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?>
</body>
</html>