<form name="promosearch">
<table>
<tr>
	<td class="g1"><div style="padding-top:2px">Has Promo:</div></td>
	<td>
		<select name="ptype" class="formSelect">
			<option value="">--- SELECT ---</option>							
			<option value="ALL" <?if($_SESSION["SAVEDSEARCH_SKU"]['ptype'] == "ALL") echo "SELECTED";?>>ALL Promos</option>
			<option value="STA" <?if($_SESSION["SAVEDSEARCH_SKU"]['ptype'] == "STA") echo "SELECTED";?>>Promo (STA)</option>
			<option value="EOM" <?if($_SESSION["SAVEDSEARCH_SKU"]['ptype'] == "EOM") echo "SELECTED";?>>Promo (EOM/SPA)</option>
			<option value="BUY" <?if($_SESSION["SAVEDSEARCH_SKU"]['ptype'] == "BUY") echo "SELECTED";?>>Buydown</option>
		</select>
	</td>
</tr>
<tr>
	<td colspan=2><HR NOSHADE></td>
</tr>
<tr>
	<td class="g1"><div style="padding-top:2px">Starts Between:</div></td>
	<td>
		<div style="padding-left:10px">
			<input type="text" name="sbdate" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['sbdate'];?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['promosearch'].sbdate,'anchor5x','MM/dd/yyyy'); return false;"  
					onselect="cal1x.select(document.forms['promosearch'].sbdate,'anchor5x','MM/dd/yyyy'); return false;" 
					ID="anchor5x" onkeypress="return cancelReturn(this, event)">
			<BR>				
							- to -
			<BR>				
			<input type="text" name="sedate" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['sedate'];?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['promosearch'].sedate,'anchor6x','MM/dd/yyyy'); return false;" 
					onselect="cal1x.select(document.forms['promosearch'].sedate,'anchor6x','MM/dd/yyyy'); return false;" 
					ID="anchor6x" onkeypress="return cancelReturn(this, event)">		
		</div>
	</td>
</tr>
<tr>
	<td colspan=2><HR NOSHADE></td>
</tr>

<tr>
	<td class="g1"><div style="padding-top:2px">Expires Between:</div></td>
	<td>
		<div style="padding-left:10px">
			<input type="text" name="bsdate" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['bpdate'];?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['promosearch'].bsdate,'anchor3x','MM/dd/yyyy'); return false;"  
					onselect="cal1x.select(document.forms['promosearch'].bsdate,'anchor3x','MM/dd/yyyy'); return false;" 
					ID="anchor3x" onkeypress="return cancelReturn(this, event)">
			<BR>				
							- to -
			<BR>				
			<input type="text" name="esdate" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['epdate'];?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['promosearch'].esdate,'anchor4x','MM/dd/yyyy'); return false;" 
					onselect="cal1x.select(document.forms['promosearch'].esdate,'anchor4x','MM/dd/yyyy'); return false;" 
					ID="anchor4x" onkeypress="return cancelReturn(this, event)">		
		</div>
	</td>
</tr>
<tr>
	<td colspan=2><HR NOSHADE></td>
</tr>

<tr>
	<td class="g1"><div style="padding-top:2px">Note:</div></td>
	<td>
		<input type="text" 
				name="note" value="<?=$_SESSION["SAVEDSEARCH_SKU"]['note'];?>" 
				size=15 
				class="formbox" 
				style="width:65px" 
				onkeypress="return cancelReturn(this, event)">
	</td>
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="" value="Search" onclick="searchSKUs()" class="buttonItem">&nbsp;&nbsp;
		<input type="button" name="" value="Clear Promo" onclick="clearPromo()" class="buttonItem">
		</div>
	</td>
</tr>
</table>
</form>	
