<?
ini_set('memory_limit', '-1');
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

//if($argv[1] == "")
//{
//	echo "Usage manage_listings.phtml ROOT_DIR USECONFIG\n";
//	exit;
//}

function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}	
	
$ROOT_DIR = $argv[1];
$USECONFIG = $argv[2];



REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

echo "<pre>";
$q = "SELECT product_list.id,product_list.descr,product_list.manid FROM product_list,product_category_map WHERE product_list.kit='0' AND product_category_map.catid='5086' AND product_list.id = product_category_map.pid";
if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo $q; exit; }  }
while(list($pid,$desc,$manid) = mysql_fetch_array($qok)) {
    $qx = "SELECT product_list.id,product_list.descr FROM product_list,product_category_map WHERE product_list.descr LIKE '".addslashes($desc)."%' AND product_category_map.catid='5086' AND product_list.id = product_category_map.pid AND product_list.manid='$manid'";
    if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo $qx; exit; }  }
    if(mysql_num_rows($qokx)>1) {
        $rel_arr = array();
        while(list($pidx,$descx) = mysql_fetch_array($qokx)) {
            array_push($rel_arr, $pidx);
        }
        foreach ($rel_arr as $k=>$v) {
            matchItem($v,$rel_arr,$DB,$mysqlid);
        }
//        echo "------------------------------<br />";
    }
}
echo "</pre>";
//Header("Location: /mgt/sm/search.phtml");
function matchItem($pid,$arr,$DB,$mysqlid) {
    foreach ($arr as $k=>$v) {
        if($v != $pid) {
            $q = "SELECT id FROM product_related WHERE id='".$pid."' AND relid='".$v."'";
            if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo $q; exit; }  }
            if(mysql_num_rows($qokx)>0) {

            }
            else {
                $qq = "INSERT INTO product_related(id,relid) VALUES('$pid','$v')";
//                echo $qq."<br />";
                if(!$qokq = mysql_db_query($DB, $qq, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo $qq; exit; }  }
            }
        }
    }
}
?>