<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;
REQUIRE($ROOT_DIR."/mgt/help_new/ckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/******************************************************************************************/

$divid = intval($divid);
$usedivid = intval($usedivid);
$sel_channel_id = intval($sel_channel_id);

if($Action == "Save")
{
	if(intval($id) > 0)
	{
		$mode = 0;
		
		$beginMarker = $efc->markTableChange("select * from product_descr where id = '$id' and divid = '$usedivid'");
		
		$tstamp = date("Y-m-d H:i:s", time());
		$sdescr = addslashes($sdescr);	
		
//		400MA REG TRANFORM	
		if ($DB == 'hjstores') {
			$query = "delete from product_descr where id = '$id' and channel_id = '$sel_channel_id'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
			$query = "insert into product_descr(id, data, channel_id) values('$id', '$sdescr', '$sel_channel_id')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		}
		else {
			$query = "delete from product_descr where id = '$id' and divid = '$usedivid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
			$query = "insert into product_descr(id, data, divid) values('$id', '$sdescr', '$usedivid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		}
		$query = "insert into update_pool(type, updateid, tstamp) values('1', '$id', '$tstamp')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->findLogTableChange($beginMarker, $efc->markTableChange("select * from product_descr where id = '$id' and divid = '$usedivid'"), "1", "$id", "Product Descr Changed");
		
		$efc->touchSKU($id);
	}	
}

$salesdescr = $efc->getSalesDescr($id, $usedivid,$sel_channel_id);

$sdescr = $amClass->cleanse($salesdescr);
//$sdescr = htmlentities($sdescr);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<?

if(intval($id) <= 0)
{
	?>
	<table width=675>
	<tr>
		<td>
			You cannot edit the specs until a sku (id) has been created.  Try saving the sku before editing the specs.
		</td>
	</tr>
	</table>
	<?
}
else 
{
	?>
		<div style="width:675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
			<div align=right>
			<form style="margin:0px;" name="changediv">
			<input type="hidden" name="id" value="<?=$id;?>">
			<table>
			<tr>
				<td align=right>
					<select name="usedivid" class="formSelect" onchange="document.changediv.submit();">
					<?
					$query = "select divid, sitename from site_list order by sitename";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($usediv, $sitename) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$usediv;?>" <?if($usedivid == $usediv) echo "SELECTED";?>><?=$sitename;?></option>
						<?
					}
					?>
					</select>
				</td>
				<?
					if ($DB == 'hjstores') {
						?>
						<td align=right>
							<select name="sel_channel_id" class="formSelect" onchange="document.changediv.submit();">
							<?
							$query = "select channel_id,channel_name from product_description_channels order by channel_name";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($channel_id, $channel_name) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$channel_id;?>" <?if($sel_channel_id == $channel_id) echo "SELECTED";?>><?=$channel_name;?></option>
								<?
							}
							?>
							</select>
						</td>
						<?
					}
				?>
				<td><div align=right><a href="/mgt/sm/sdescr_loader.phtml?id=<?=$id;?>&mode=0&usedivid=<?=$usedivid?>&sel_channel_id=<?=$sel_channel_id;?>">View Mode</a></div></td>
			</tr>
			</table>
			</form>
			</div>
		</div>	
		<form method="POST" target="_self" name="sdeskSaveForm" action="/mgt/sm/sdescr_editor.phtml">
		<table width=675>
		<tr>
			<td>
				<textarea name="sdescr" style="width:800px;height:600px" style="formBox">
				<?=$salesdescr;?>
				</textarea>
				
				<div align=right><input type="submit" name="Action" value="Save" class="buttonItem"></div>
				<input type="hidden" name="id" value="<?=$id;?>">
				<input type="hidden" name="usedivid" value="<?=$usedivid;?>">
				<input type="hidden" name="sel_channel_id" value="<?=$sel_channel_id;?>">
				<input type="hidden" name="mode" value="0">
			</td>
		</tr>
		</table>	
		</form>
	<?	
}
?>
</body>
</html>