<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($loadsearch == 1)
{
	$query = "select sdata from saved_sku_search where id = '$saveid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sdata) = mysql_fetch_array($qok);
	
	$sdata = str_replace("\n", "", $sdata);
	
	eval($sdata);
	
	$_SESSION["SAVEDSEARCH_SKU"]['cat0'] = $cat0;
	$_SESSION["SAVEDSEARCH_SKU"]['cat1'] = $cat1;
	$_SESSION["SAVEDSEARCH_SKU"]['cat2'] = $cat2;
	$_SESSION["SAVEDSEARCH_SKU"]['cat3'] = $cat3;
	$_SESSION["SAVEDSEARCH_SKU"]['cat4'] = $cat4;
	$_SESSION["SAVEDSEARCH_SKU"]['id'] = $id;
	$_SESSION["SAVEDSEARCH_SKU"]['sku'] = $sku;
	$_SESSION["SAVEDSEARCH_SKU"]['manpart'] = $manpart;
	$_SESSION["SAVEDSEARCH_SKU"]['upc'] = $upc;
	$_SESSION["SAVEDSEARCH_SKU"]['keywords'] = $keywords;
	$_SESSION["SAVEDSEARCH_SKU"]['condition'] = $condition;
	$_SESSION["SAVEDSEARCH_SKU"]['status'] = $status;
	$_SESSION["SAVEDSEARCH_SKU"]['platform'] = $platform;
	$_SESSION["SAVEDSEARCH_SKU"]['minprice'] = $minprice;
	$_SESSION["SAVEDSEARCH_SKU"]['maxprice'] = $maxprice;
	$_SESSION["SAVEDSEARCH_SKU"]['brand'] = $brand;
	$_SESSION["SAVEDSEARCH_SKU"]['visible'] = $visible;
	$_SESSION["SAVEDSEARCH_SKU"]['inventory'] = $inventory;
	$_SESSION["SAVEDSEARCH_SKU"]['component'] = $component;
	$_SESSION["SAVEDSEARCH_SKU"]['accessory'] = $accessory;
	$_SESSION["SAVEDSEARCH_SKU"]['includekits'] = $includekits;
	$_SESSION["SAVEDSEARCH_SKU"]['assignedto'] = $assignedto;
	$_SESSION["SAVEDSEARCH_SKU"]['num2return'] = $num2return;
	$_SESSION["SAVEDSEARCH_SKU"]['mingap'] = $num2return;
		
	Header("Location: /mgt/sm/search2.phtml");
}
else if($savename != "")
{
	$sdata = "";
	foreach ($_SESSION["SAVEDSEARCH_SKU"] as $key=>$value) 
	{
		$sdata.="$$key=\"$value\";\n";
	}
	
	$savename = addslashes($savename);
	$sdata = addslashes($sdata);
	
	$userid = $_SESSION["ID"];
	
	$query = "insert into saved_sku_search(name, sdata, public, userid) values('$savename', '$sdata', '$public', '$userid')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
}
else if($Action == "Delete")
{
	$query = "delete from saved_sku_search where id = '$sid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/sm/search2.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>SKUs Search</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>
var g_level = 0;
var search_type = 0;

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function GetPoolHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xml4Http=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xml4Http=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xml4Http=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xml4Http;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			getBrands();
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

		//searchSKUs();
		getBrands();
	}
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.skusearch.cat0.options[ document.skusearch.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.skusearch.cat1.options[ document.skusearch.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.skusearch.cat2.options[ document.skusearch.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.skusearch.cat3.options[ document.skusearch.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.skusearch.cat4.options[ document.skusearch.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		getBrands();
  		return;
  	}
  	
  	g_cat = cat;
  	
 	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function getBrands()
{
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/sm/ajax_getbrands.phtml?catid="+g_cat+"&sid="+Math.random();
	
	//window.open( url );
	
	xmlCHttp.onreadystatechange=gotBrands;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);	
	
}

function gotBrands()
{
	if(xmlCHttp.readyState==4)
	{
		//alert(xmlCHttp.responseText);
		var theSelect = document.getElementById("brand");
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
	    
	    var lines=xmlCHttp.responseText.split("\n"); 
		
	    for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")
			{
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);	
			}
		}
	    
	}
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function searchAttribs()
{
	var numcriterion = 0;
	
	search_type = 1;
	<?
	if(intval($sst_template) > 0)
	{
		$query = "select id, dkey from static_specs_columns where tid = '$sst_template' order by id";
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($scid, $dkey) = mysql_fetch_array($qok))
		{
			?>
			var scid<?=$scid;?> = document.attribsearch.scid<?=$scid;?>.options[ document.attribsearch.scid<?=$scid;?>.selectedIndex ].value;
			if(document.attribsearch.scid<?=$scid;?>.selectedIndex > 0)
				numcriterion++;
			<?
			
			$urlparts .= "&scid$scid=\"+scid$scid+\"";
		}	
		
		?>
		
		if(numcriterion <= 0)
		{
			alert('You must select one criteria from the template to use the attribute search.');
			return;
		}
		
		var manid = document.attribsearch.manid.options[ document.attribsearch.manid.selectedIndex ].value;
		var inv = document.attribsearch.inventory.options[ document.attribsearch.inventory.selectedIndex ].value;
		var url = "/mgt/sm/ajax_skusearch_xml.phtml?st=2&inv="+inv+"&manid="+manid+"&sst_template=<?=$sst_template;?><?=$urlparts;?>";
		
		//window.open(url);
		
		xmlHttp=GetXmlHttpObject();
		
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 		
		
	  	document.getElementById("attribresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	  	
		xmlHttp.onreadystatechange=skuCountChanged;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	

		<?
	}
	?>
	
	
}

function searchSKUs()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	var id = "", sku = "", brand = "", manpart = "", component = "", includekits = "", assignedto = "", accessory = "";
	var condition = "", upc = "", keywords = "", status = "";
	var minprice = "", maxprice = "";
	var visible = "", inventory = "", num2return = "", accessory = "";
	
	search_type = 0;
	
	brand = document.skusearch.brand.options[ document.skusearch.brand.selectedIndex ].value;
	
	if(document.skusearch.cat0.selectedIndex > 0)
		cat0 = document.skusearch.cat0.options[ document.skusearch.cat0.selectedIndex ].value;
	
	if(document.skusearch.cat1.selectedIndex > 0)
		cat1 = document.skusearch.cat1.options[ document.skusearch.cat1.selectedIndex ].value;
	
	if(document.skusearch.cat2.selectedIndex > 0)		
		cat2 = document.skusearch.cat2.options[ document.skusearch.cat2.selectedIndex ].value;
	
	if(document.skusearch.cat3.selectedIndex > 0)		
		cat3 = document.skusearch.cat3.options[ document.skusearch.cat3.selectedIndex ].value;
	
	if(document.skusearch.cat4.selectedIndex > 0)		
		cat4 = document.skusearch.cat4.options[ document.skusearch.cat4.selectedIndex ].value;

	visible = document.skusearch.visible.options[ document.skusearch.visible.selectedIndex ].value;
	
	inventory = document.skusearch.inventory.options[ document.skusearch.inventory.selectedIndex ].value;
	num2return = document.skusearch.num2return.options[ document.skusearch.num2return.selectedIndex ].value;
	
	id = document.skusearch.id.value;
	sku = document.skusearch.sku.value;
	manpart = document.skusearch.manpart.value;
	upc = document.skusearch.upc.value;
	keywords = document.skusearch.keywords.value;
	condition = document.skusearch.condition.options[ document.skusearch.condition.selectedIndex ].value;
	status = document.skusearch.status.options[ document.skusearch.status.selectedIndex ].value;
	minprice = document.skusearch.minprice.value;
	maxprice = document.skusearch.maxprice.value;
	component = document.skusearch.component.value;
	accessory = document.skusearch.accessory.value;
	includekits = document.skusearch.includekits.options[ document.skusearch.includekits.selectedIndex ].value;
	assignedto = document.skusearch.assignedto.options[ document.skusearch.assignedto.selectedIndex ].value;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	document.getElementById("skuresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
 	var url="search_table.phtml";
 	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&id="+id;
 	url += "&sku="+sku;
 	url += "&manpart="+manpart;
 	url += "&upc="+upc;
 	url += "&keywords="+keywords;
 	url += "&condition="+condition;
 	url += "&status="+status;
 	url += "&minprice="+minprice;
 	url += "&maxprice="+maxprice;
 	url += "&brand="+brand;
 	url += "&visible="+visible;
 	url += "&inventory="+inventory;
 	url += "&component="+component;
 	url += "&accessory="+accessory;
 	url += "&includekits="+includekits;
 	url += "&assignedto="+assignedto;
 	url += "&num2return="+num2return;
 	
	<?
	if($_SESSION["USERTYPE"] == "MANAGER")
	{ 	
		?>
		var mingap = document.skusearch.mingap.value;
		
		url += "&mingap="+mingap;
		<?
	}
	?>
 	
 	//window.open(url);
 	//window.open(url, 'Availability', 'scrollbars=yes, width=400, height=400');
 	
 	//document.getElementById("leftpane").style.display = "none";
 	
	xmlHttp.onreadystatechange=skuCountChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
	if(xmlHttp.readyState==4)
	{ 
	document.getElementById("putshithere").innerHTML = xmlHttp.responseText;
    }
}
function hidePane()
{
	document.getElementById("leftpane").style.display = "none";
	document.getElementById("leftpanehidden").style.display = "block";	
}

function showPane()
{
	document.getElementById("leftpane").style.display = "block";
/*	document.getElementById("leftpane").style.left=20;
	document.getElementById("leftpane").style.position="absolute";*/
	document.getElementById("leftpanehidden").style.display = "none";		
}

function skuCountChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		//alert(xmlHttp.responseText);
		
		var lines = xmlHttp.responseText.split("\n");

		if(search_type == 0)
			document.getElementById("skuresults").innerHTML = "("+lines[0]+" results)";
		else
			document.getElementById("attribresults").innerHTML = "("+lines[0]+" results)";
		
		for(xx = 1; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0)
						newCell.innerHTML = "<input type='checkbox' name='ids[]' value='"+rows[0]+"'\">";
					else if(pp == 1)
						newCell.innerHTML = "<a href=\"javascript:showMenu('"+rows[0]+"', '"+rows[0]+"');\">"+rows[pp]+"</a>";
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}
	}			
}


function showMenu(productID, manpart)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;
	
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"');\">View SKU</a>"
	
	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/editsku.phtml?id="+productID+"&inwin=1', 'Edit SKU: "+productID+"');\">Edit SKU</a>"
	
	document.getElementById("menuOption3").innerHTML = "<a href=\"javascript:e2window('/mgt/pereport/peoptions.phtml?id="+productID+"&inwin=1', 'PE Options: "+productID+"');\">PE Options</a>"
	
	
	document.getElementById("menuOption4").innerHTML = "<a href=\"/mgt/om/search2.phtml?sku="+manpart+"&inwin=0\">Find SKU Orders</a>"
	
	document.getElementById("menuOption5").innerHTML = "<a href=\"featured_products.phtml?Action=Add&id=&aid="+productID+"\">Featured Product</a>";

	document.getElementById("menuOption6").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2PO('"+productID+"')\">Add to PO</a>";
	
	document.getElementById("menuOption7").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2Order('"+productID+"')\">Add to Order</a>";


}


function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}


function clearForm()
{
	
	document.skusearch.brand.selectedIndex = 0;
	document.skusearch.condition.selectedIndex = 0;
	document.skusearch.status.selectedIndex = 0;
	document.skusearch.visible.selectedIndex = 0;
	document.skusearch.inventory.selectedIndex = 0;
	document.skusearch.num2return.selectedIndex = 0;
	
	document.skusearch.id.value = "";
	document.skusearch.sku.value = "";
	document.skusearch.manpart.value = "";
	document.skusearch.upc.value = "";
	document.skusearch.keywords.value = "";
	document.skusearch.minprice.value = "";
	document.skusearch.maxprice.value = "";
	document.skusearch.component.value = "";
	document.skusearch.accessory.value = "";
	
	document.getElementById("cat1d").style.display = 'none';
	document.getElementById("cat2d").style.display = 'none';
	document.getElementById("cat3d").style.display = 'none';
	document.getElementById("cat4d").style.display = 'none';
	
	document.skusearch.cat0.selectedIndex = 0;
	g_level = 0;
	
	var theTable = document.all.results;
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
			
}

function saveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 300;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			searchSKUs();
 			return false; 
 		}
	}  
} 
<?
/**************************************************************************************************************************************/
/****** POOL UPDATE CODE **************************************************************************************************************/
/**************************************************************************************************************************************/
$query = "select id from update_pool order by id desc limit 0, 1";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) <= 0)
{
?>
var pool_id = 0;
<?
}
else 
{
	list($pool_id) = mysql_fetch_array($qok);
?>
var pool_id = <?=intval($pool_id);?>;
<?
}
?>
var poolStep = 0;
var poolUpdateID = 0;
var poolUpdateColor = 0;

function checkPool()
{
	document.getElementById("poolresults").innerHTML = "XXX";
	
	xml4Http=GetPoolHttpObject();
	
	var url="/mgt/e2win/ajax_checkpool.phtml?type=1&poolid="+pool_id+"&sid="+Math.random();
	xml4Http.onreadystatechange=poolResult;
	xml4Http.open("GET",url,true);
	xml4Http.send(null);	
		
	return false;
}

function poolResult() 
{ 
	document.getElementById("poolresults").innerHTML = "&nbsp;";
	if(xml4Http.readyState==4)
	{ 
		if(poolStep == 0)
		{
			if(xml4Http.responseText != "")
			{
				var pooldata = xml4Http.responseText.split("\t");
				
				//document.getElementById("skuresults").innerHTML += "RAW_POOLDATA: '"+pooldata+"'<BR>";
				pool_id = pooldata[0]; //update the poolid so we don't get it again
				poolUpdateID = pooldata[1];
				
				var changeRow = document.getElementById(poolUpdateID);
				
				if(changeRow)
				{
					poolUpdateColor = changeRow.style.backgroundColor;
					
					changeRow.style.backgroundColor = "#FFD7D7";
					
		 			var url="ajax_skusearch.phtml?id="+poolUpdateID+"&visible=-1&inventory=-1&nosave=1&sid="+Math.random();
		 
		 			//document.getElementById("skuresults").innerHTML += "URL: '"+url+"'<BR>";
		 			
		 			document.getElementById("poolresults").innerHTML = "XXX";
		 			
		 			poolStep = 1;
		 			xml4Http=GetPoolHttpObject();
		 			xml4Http.onreadystatechange=poolResult;
					xml4Http.open("GET",url,true);
					xml4Http.send(null);				
				}
				else
				{
					setTimeout('checkPool()', 2000);
				}
			}
			else
			{// no response
				setTimeout('checkPool()', 2000);
			}
		}
		else
		{
			poolStep = 0;
			var changeRow = document.getElementById(poolUpdateID);
			
			var rows = xml4Http.responseText.split("\n");
			var cols = rows[1].split("\t");
			
			//document.getElementById("skuresults").innerHTML += "RESPONSE: '"+xml4Http.responseText+"'<BR>";
			
			//document.getElementById("skuresults").innerHTML += "Cols.Length = "+cols.length+"<BR>";
					
			for(pp = 0; pp < cols.length; pp++)
			{
				//document.getElementById("skuresults").innerHTML += "Updating: "+pp+" with: "+cols[pp]+"<BR>";


				if(pp == 0)
				{
					
				}
				else if(pp == 1)
					changeRow.childNodes[pp].innerHTML ="<a href=\"javascript:showMenu('"+cols[pp]+"', '"+cols[3]+"');\">"+cols[pp]+"</a>";
				else
					changeRow.childNodes[pp].innerHTML = cols[pp];
			}	
			
			setTimeout("unColor("+poolUpdateID+")", 2000);
			setTimeout('checkPool()', 2000);
		}	
	}
}

function unColor(rowID)
{
	var changeRow = document.getElementById(poolUpdateID);
	
	if(poolUpdateColor == "")
		changeRow.style.backgroundColor = "#ffffff";
	else
		changeRow.style.backgroundColor = poolUpdateColor;
}

<?
/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
?>

function checkUncheckAll(myOptions, myForm) 
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function StartUp()
{
	checkPool();
	
	<? 
	if(intval($sst_template) <= 0)
	{
		if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] > 0)
		{
			?>searchSKUs();<?	
		}
	}
	else 
	{
		?>
		clearForm();
		TabbedPanels1.showPanel(2);
		<?
	}
	?>
	
	
}

var paX = 0;
var paY = 0;
var dX = 0;

function addItem2Order(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2order.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=orderResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}

function addItem2PO(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2po.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}

function poResult()
{
	if(xml7Http.readyState==4)
	{ 
		document.getElementById("podisplay").innerHTML = xml7Http.responseText;	
		
		document.getElementById("podisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorPODisplay()", 2000);
		
		document.getElementById("poimage").style.display = "";		
	}
}

function unColorPODisplay()
{
	document.getElementById("podisplay").style.backgroundColor = "#ffffff";
}

function orderResult()
{
	if(xml7Http.readyState==4)
	{ 
		document.getElementById("orderdisplay").innerHTML = xml7Http.responseText;	
		
		document.getElementById("orderdisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorOrderDisplay()", 2000);
	}
}

function unColorOrderDisplay()
{
	document.getElementById("orderdisplay").style.backgroundColor = "#ffffff";
}

function animateCart()
{
	if(paX < dX)
		paX = paX + 20;
		
	paY = paY - 20;
	
	var productimage = document.getElementById("productimage");
	productimage.style.left = paX;	
	productimage.style.top = paY;

	if(paY > -75)
	{
		setTimeout("animateCart()", 0);
	}
	else
	{
		productimage.style.display = "none";
	}
}

function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}	

function deleteSearch(sid, sname)
{
	if(confirm("Are you sure you wish the delete the saved search '"+sname+"'?"))
	{
		document.location = "/mgt/sm/search2.phtml?sid="+sid+"&Action=Delete";
	}
}

function stockDetail(pid, type)
{
	e2window("/mgt/sm/stockdetail.phtml?pid="+pid+"&type="+type+"&inwin=1", "Stock Detail "+pid)
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>



<body onload="StartUp()">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>SKU Search</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td align=center width=5%>
			<!--------------------------------------------------------------->		
<div id="leftpane" name="leftpane" style="display:block">			
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
		        <li class="TabbedPanelsTab" tabindex="1"><strong>Saved</strong></li>
		        <li class="TabbedPanelsTab" tabindex="2"><strong>Attrib</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search.phtml");?>
					</div>
					<div class="TabbedPanelsContent">  
				        <?INCLUDE("saved_search.phtml");?>
			        </div>
			        <div class="TabbedPanelsContent">  
			       	 	<?INCLUDE("attribute_search.phtml");?>
			        </div>
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>
			
			<BR><BR>
			
			<table border=0>
			<tr>
				<td><a href="javascript:void(0);" onclick="hidePane()">Hide Pane</td>
			</tr>
			</table>	
</div>		
<div id="leftpanehidden" name="leftpanehidden" style="display:none;text-align=left;">
	<a href="javascript:void(0);" onclick="showPane()"><img src="/mgt/images/searchpane.gif" width=16 height=120 border=0></a>
</div>
			</td>
			
			<td width=95%>
			<!--------------------------------------------------------------->	
				<form name="pereport" method="post" action="">
<div id="putshithere">&nbsp;</div>
				<tr bgcolor="#eeeeee">
					<th height=21 class="unsortable"></th>

					</tr>	
				</table>
				</form>
				
<script>
function doPEReport()
{
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}
	
	document.peoptions.idlist.value = skus;
	
	document.peoptions.submit();
}

function doPE2Report()
{
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}
	
	document.pe2options.idlist.value = skus;
	document.pe2options.submit();
}

function doFindReplace()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var params = "yancey=BAMF";
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				params += "&kitlist[]="+myForm[z].value;
			}
		}
	}

	xml72Http=GetXmlHttpObject();
	
	var url = "/mgt/sm/ajax_kitreplace.phtml";

	params += "&component="+document.skusearch.component.value;
	params += "&accessory="+document.skusearch.accessory.value;
	params += "&newsku="+document.kitreplace.newsku.value;
	
	xml72Http.open("POST", url, true);
	
	//Send the proper header information along with the request
	xml72Http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xml72Http.setRequestHeader("Content-length", params.length);
	xml72Http.setRequestHeader("Connection", "close");
	
	xml72Http.onreadystatechange = findReplaceDone;
	
	xml72Http.send(params);	
	
}

function findReplaceDone()
{
	if(xml72Http.readyState==4)
	{ 
		alert(xml72Http.responseText);
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}

}
</script>
<?$tabid = 0;?>
<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
	<ul class="TabbedPanelsTabGroup">
	<?if($efc->getPermission("perm_pegrid")){ ?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>PE Report</strong></li>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Multi PE Report</strong></li>
	<?}if($efc->getPermission("perm_categorize")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Categorize</strong></li>
	<?}if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Visible</strong></li>
	<?}if($efc->getPermission("perm_datafeed")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Datafeed</strong></li>
	<?}?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Replace</strong></li>
	<?if($efc->getPermission("perm_categorize")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Assignment</strong></li>
	<?}?>
	</ul>
	<div class="TabbedPanelsContentGroup">
		<?if($efc->getPermission("perm_pegrid")){?>
			<div class="TabbedPanelsContent2">  
	
			<form name="peoptions" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
			<input type="hidden" name="idlist" value="">
			<table>
			<tr>
				<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.peoptions, document.pereport);">Select All SKUs</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
						
				<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
				<td><select name="peid" class="formSelect">
					<option value="pg">PriceGrabber</option>
					<option value="cn">C|Net Shopper</option>
					<option value="dt">Shopping.com</option>
					<option value="br">BizRate.com</option>
					<option value="ys">Yahoo Shopping</option>
					<option value="am">Amazon</option>
					<option value="nt">NexTag</option>
					<option value="fr">Froogle</option>
					<option value="pw">PriceWatch</option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
						
						
				<td class="g1"><div style="padding-top:3px"><B>Datafeed:</B></div></td>
				<td>
					<select name="dfid" class="formSelect">
					<?
					$query = "select dfid, dfname from datafeeds order by dfname";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
					while(list($dfid, $dfname) = mysql_fetch_array($qok))
					{
					?>
						<option value="<?=$dfid;?>"><?=$dfname;?></option>
					<?
					}
					?>
					</select>
				</td>
				<td>&nbsp;</td>
						
					
				<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPEReport();"></td>
			</tr>
			
			<tr>
				<td colspan=3>&nbsp;</td>
				
				<td colspan=6>
					<input type="radio" name="coption" value="ignore">Ignore Missing Crawler IDs
					<input type="radio" name="coption" value="acquire" CHECKED>Acquire Missing CrawlerIDs
					<input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
				</td>
				
			</tr>	
			</table>		
			</form>
			
			</div>
			
			<!---------------------------------------------------------------------------------------------->
			
			<div class="TabbedPanelsContent2">  
	
			<form name="pe2options" method="post" action="/mgt/pereport/pegrid2.phtml" style="margin:0px">
			<input type="hidden" name="idlist" value="">
			<table>
			<tr>
				<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe2options, document.pereport);">Select All SKUs</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
						
				<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
				<td><select name="peid[]" class="formSelect" MULTIPLE  size=7>
					<option value="pg">PriceGrabber</option>
					<option value="cn">C|Net Shopper</option>
					<option value="dt">Shopping.com</option>
					<option value="br">BizRate.com</option>
					<option value="ys">Yahoo Shopping</option>
					<option value="am">Amazon</option>
					<option value="nt">NexTag</option>
					<option value="fr">Froogle</option>
					<option value="pw">PriceWatch</option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
												
					
				<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE2Report();"></td>
			</tr>
			
			<tr>
				<td colspan=3>&nbsp;</td>
				
				<td colspan=6>
					<input type="radio" name="coption" value="ignore">Ignore Missing Crawler IDs
					<input type="radio" name="coption" value="acquire" CHECKED>Acquire Missing CrawlerIDs
					<input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
				</td>
				
			</tr>	
			</table>		
			</form>
			
			</div>			
			
			<!---------------------------------------------------------------------------------------------->
			
		<?}if($efc->getPermission("perm_categorize")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("categorize_search.phtml");?>
			</div>
		<?}if($efc->getPermission("perm_visible")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("visible_search.phtml");?>
			</div>
		<?}if($efc->getPermission("perm_datafeed")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("datafeed_search.phtml");?>
			</div>
		<?}?>
			<div class="TabbedPanelsContent2">  
				<form name="kitreplace" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.kitreplace, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>

					<td class="g1">			
					
					<table>
					<tr>
						<td><B>New SKU (PID):</B></td>
						<td>
							<input type="text" name="newsku" value="" class="formBox" style="width:75px;text-align:right;">
							<input type="button" name="Action" value="Replace" class="buttonItem" onclick="doFindReplace();">
						</td>
					</tr>
					</table>
					</td>
				</tr>
				</table>
				If you searched for a Kit SKU (PID) and have results, you can replace the component you searched for in all  
				the resulting kits here.<BR>
				Leave the 'New SKU (PID)' blank to delete the components from the kits you have selected.
				<BR><BR>
				If you searched for a Acc. SKU (PID) and have results, you can replace the accessory you searched for in all
				the resuling products here.
					<BR>
				</form>
			</div>
		<?if($efc->getPermission("perm_categorize")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("assignment_search.phtml");?>
			</div>
		<?}?>			
      	</div>
      	
</div>
<script type="text/javascript">
<!--
var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
//-->
</script>	
				
			<!--------------------------------------------------------------->
			</td>
		</tr>
		</table>


<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption6"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption7"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="saveform" class="dialog">
<form name="mysaveform">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Save Search as:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="checkbox" name="public" value="1">Public (available to everyone)</td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>


<div id="savereport" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="productimage" class="item">&nbsp;</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>


z