<?
ini_set('memory_limit', '128M');

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Delete")
{
	$section = addslashes($section);
	$key = addslashes($key);
	$val = addslashes($val);
	
	if($key == "" && $val == "")
	{
		$query = "delete from product_specs where id = '$id' and section = '$section'";
		$efc->logAction("SUCCESS", "1", $id, "SPECS UPDATED", "Deleted Section $section<BR>");   
	}
	else
	{
		$query = "delete from product_specs where id = '$id' and section = '$section' and dkey = '$key' and dval = '$val'";
		$efc->logAction("SUCCESS", "1", $id, "SPECS UPDATED", "Deleted <B>Section</B> $section <B>Key:</B> $key <B>Value:</B> $val<BR>");  
		 	
	}
		
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$efc->touchSKU($id);
}
else if($Action == "Add")
{
	$section = addslashes($section);
	$key = addslashes($key);
	$val = addslashes($val);
	
	$efc->logAction("SUCCESS", "1", $id, "SPECS UPDATED", "Added: <B>Section</B> $section <B>Key:</B> $key <B>Value:</B> $val<BR>");   
	
	$query = "insert into product_specs(id, section, dkey, dval) values('$id', '$section', '$key', '$val')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$efc->touchSKU($id);
}

$specs = $efc->getSpecs($id);
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<?REQUIRE($ROOT_DIR."/mgt/e2win/autocomplete.phtml");?>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		keyValues=xmlHttp.responseText.split("\n"); 

	}
}

function preLoadACKey()
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var section = document.updaterow.section.value
 	var id = document.updaterow.id.value
  	
	var url="/mgt/sm/ajax_getspecs_keys.phtml?id="+id+"&section="+section+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

var keyValues = new Array();

function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}
</script>
</HEAD>
<body>
<?
if(intval($id) <= 0)
{
	?>
	<table>
	<tr>
		<td>
			You cannot edit the specs until a sku (id) has been created.  Try saving the sku before editing the specs.
		</td>
	</tr>
	</table>
	<?
}
else 
{
	?>
	<form name="updaterow">
	<table>
	<tr>
		<td>
			<B>Section:</B>
			<?
			$query = "select distinct(section) from product_specs where id = '$id' order by section";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$sectionlist = "";
			while(list($section) = mysql_fetch_array($qok))
			{
				if($sectionlist == "")
					$sectionlist .= "\"$section\"";
				else 
					$sectionlist .= ", \"$section\"";
			}
			?>
			<script>
			var arrValues = [<?=$sectionlist;?>]
			</script>
			<input type="text" name="section" value="" onblur="preLoadACKey()" onkeypress="return autocomplete(this, event, arrValues)" class="formBox" style="width:125px">
		</td>
		
		<td>
			<B>Key:</B>
			<input type="text" name="key" value="" onkeypress="return autocomplete(this, event, keyValues)" class="formBox" style="width:125px">
	
		</td>		
		<td>
			<B>Value:</B>
			<input type="text" name="val" value="" class="formBox" style="width:125px">
	
		</td>
		<td>
			<input type="submit" name="Action" value="Add" class="buttonItem">	
			<input type="hidden" name="id" value="<?=$id;?>">
		</td>		
				
	</tr>
	</table>
	
	<div style="background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
		<div align=center>
		<table width=99%>
		<tr>
			<td align=left><B>Technical Specs</B></td>
		</tr>
		</table>
		</div>
	</div>	
		
	</form>

	<table width=100%>
	<tr>
		<td>
			<?
			if($specs == false)
			{ 
				echo "<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td class=\"g\">Technical Specifications are not available at this time.</td></tr></table>"; 
			}
			else 
			{
			?>
				<table cellpadding="0" cellspacing="0" border=0 width=100%>
				<?
				$lastsection = "BOO-YAH";
				for($xx = 0; $xx < count($specs['section']); $xx++)
				{
					if($specs['section'][$xx] != $lastsection)
					{
					?>
					<tr bgcolor="#eeeeee">
						<td>
							<a href="javascript:void(0);" onclick="makesure('Are you sure you want to Delete this section?  All the items in this section will be deleted!', '/mgt/sm/specs_loader.phtml?Action=Delete&id=<?=$specs['id'][$xx];?>&section=<?=urlencode($specs['section'][$xx]);?>');">
								<img src="/mgt/images/del.gif" border=0 alt="Delete Row">
							</a>
						</td>
						<td colspan=2 class="white" height=22><B><B><?=$specs['section'][$xx];?></div></B></td>
					</tr>
					<?
					}
					?>
					<tr bgcolor="<? if($xx % 2) echo "#eeeeee"; else echo "#ffffff";?>">
						<td>
							<a href="javascript:void(0);" onclick="makesure('Are you sure you want to Delete this row?', '/mgt/sm/specs_loader.phtml?Action=Delete&id=<?=$specs['id'][$xx];?>&section=<?=urlencode($specs['section'][$xx]);?>&key=<?=urlencode($specs['dkey'][$xx]);?>&val=<?=urlencode($specs['dval'][$xx]);?>');">
								<img src="/mgt/images/del.gif" border=0 alt="Delete Row">
							</a>						
						</td>
						<td height=21 class="g" align=left width=125><div style="padding-left:4px"><?=$specs['dkey'][$xx];?></div></td>
						<td class="g" align=left><?=$specs['dval'][$xx];?></td>
					</tr>
					<?
					$lastsection = $specs['section'][$xx];
				}
				?>
				</table>
				<?
			}
			?>			
		</td>
	</tr>
	</table>	
	<?
}
?>
</body>
</html>
