<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$mypid = $id;

if($Action == "Save Static Specs")
{
	$id = $pid;
	
	$query = "select id, dkey from static_specs_columns where tid = '$tid' order by dorder";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while( list($sscid) = mysql_fetch_array($qok) )
	{
		$dvalue = addslashes( trim($_GET["dvalue$sscid"]) );
		
		$query = "delete from product_static_specs where id = '$pid' and tid = '$tid' and sscid = '$sscid' ";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if($dvalue != "")
		{
			$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$tid', '$sscid', '$dvalue')";
			if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
	$efc->touchSKU($id);
}

if($Action == "Save Compatibility")
{
	$query = "delete from compatibility_map where clid = '$clid' and pid = '$id' "; // delete all the template entries for this sku
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	for($xx = 0; $xx < count($clidlist); $xx++)
	{
		$query = "insert into compatibility_map(clid, cldid, pid) values('$clid', '".$clidlist[$xx]."', '$id')"; 
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}


if($Action == "ARID")
{
	$query = "select id from product_list where id = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	if(mysql_num_rows($q2ok) > 0)
	{// the product actually exists
		
		$query = "delete from product_related where id = '$pid' and relid = '$relid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
		$query = "insert into product_related(id, relid, relationship) values('$pid', '$relid', '$relationship')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	}
	
	// see if this sku is entered
	$query = "select id, relid, relationship from product_related where id = '$pid' and relid = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	if(mysql_num_rows($q2ok) > 0)
	{// if they entered the main sku first...... enter hte reverse entries
		
		//echo "REVERSE<BR>";
		
		// for each sku that is related
		$query = "select relid from product_related where id = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($xid) = mysql_fetch_array($q2ok))
		{
			//echo "RELID: $xid<BR>";
			
			// so for this sku that was related... make sure all of of the ids are entered as related
			$query = "select relid, relationship from product_related where id = '$pid'";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($xrelid, $xrelationship) = mysql_fetch_array($q3ok))
			{
				//echo "ID: $xid RELID: $xrelid RELATIONSHIP: $xrelationship<BR>";
				$query = "delete from product_related where id = '$xid' and relid = '$xrelid'";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				
				$query = "insert into product_related(id, relid, relationship) values('$xid', '$xrelid', '$xrelationship')";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				//echo $query."<BR>"	;
			}
		}
		
	}
}
if($Action == "DRID")
{
	$query = "delete from product_related where id = '$id' and relid = '$relid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
	$query = "delete from product_related where id = '$relid' and relid = '$id'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
	$pid = $id;
	
	// see if this sku is entered
	$query = "select id, relid, relationship from product_related where id = '$pid' and relid = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	if(mysql_num_rows($q2ok) > 0)
	{// if they entered the main sku first...... enter hte reverse entries
		
		//echo "REVERSE<BR>";
		
		// for each sku that is related
		$query = "select relid from product_related where id = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($xid) = mysql_fetch_array($q2ok))
		{
			//echo "RELID: $xid<BR>";
			
			// so for this sku that was related... make sure all of of the ids are entered as related
			$query = "select relid, relationship from product_related where id = '$pid'";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($xrelid, $xrelationship) = mysql_fetch_array($q3ok))
			{
				//echo "ID: $xid RELID: $xrelid RELATIONSHIP: $xrelationship<BR>";
				$query = "delete from product_related where id = '$xid' and relid = '$xrelid'";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				
				$query = "insert into product_related(id, relid, relationship) values('$xid', '$xrelid', '$xrelationship')";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				//echo $query."<BR>"	;
			}
		}
		
	}	
}

$query = "select amz_catid from amazon_template_value_cat where amz_pid = '$id'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($qok) == 1) {
    list($amz_catid) = mysql_fetch_array($qok);
    $have_saved_records = true;
    $categories_array = array($amz_catid);
    $has_parent = true;
    while ($has_parent) {
        $query = "select parentid, catid, catname from amazon_template_category where catid = '$amz_catid'";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        if (mysql_num_rows($qok) > 0) {
            list($amz_catid, $catid, $catname) = mysql_fetch_array($qok);
            $categories_array[] = array($amz_catid, $catid, $catname);
        } else {
            $has_parent = false;
        }
            
    }
}



?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery.tools.1.0.5.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/autocomplete.phtml");?>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var e2data = xmlHttp.responseText.split("~"); 
		keyValues = e2data[1].split("\n"); 
		document.getElementById("l"+e2data[0]).innerHTML =  "";
	}
}

function preLoadACKey(tid, sscid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	document.getElementById("l"+sscid).innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	var url="/mgt/sm/ajax_getstaticspecs_keys.phtml?tid="+tid+"&sscid="+sscid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

var keyValues = new Array();

function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}



function getTemplateCategories(level)
{
    var selects = $('select[class]="selectTemplateCategory"');
    for (i=0; i<selects.length; i++) {
        if (i > level) {
            $('#cat' + i).remove();
        }
    }
    $('#templateCategoryAttreibTd').html("");
    var parent = $('#cat' + level).val();
    if (parent != '') {
        $.get('ajax_get_template_cat.phtml?catid=' + parent + '&level=' + (level+1), function(data) {
            if (data != '') {
                $('#templateCategoryTd').append(data);
            } else {
                if (parent != '') {
                    $('#templateCategoryAttreibTd').html('<img src="/mgt/images/loading.gif" alt="" />');
                    $.get('ajax_get_template_attributes.phtml?catid=' + parent + '&pid=<?=$id?>', function(data2) {
                        if (data2 != '') {
                            $('#templateCategoryAttreibTd').html(data2);
                        }
                        else {
                            $('#templateCategoryAttreibTd').html('No Results');
                        }
                    });
                }
            }

        });
    }
}

function saveValues() {
    $('#saveButton td:first').append('<img src="/mgt/images/loading.gif" alt="" />');
    $('#saveButton input').css('display', 'none');
    var categorySelects = $('#templateCategoryTd select');
    var lastCategorySelect = categorySelects[categorySelects.length - 1];
    var lastCategorySelectId = $(lastCategorySelect).val();
    var postObject = {categoryId: lastCategorySelectId, pid: <?=$id?>};
    
    var valueRows = $('#templateCategoryAttreibTd tr');
    valueRows.each(function(index, element) {
        if (element.id != "saveButton") {
            var attributeTds = $(element).children();
            var attName  =  $($(attributeTds[0]).children()[0]).text();
            var attValue = $($(attributeTds[1]).children()[0]).val();
            postObject[attName] = attValue;
        }
    });
    
    $.post('ajax_save_template.phtml', postObject, function(data) {
        $('#saveButton img').remove();
        $('#saveButton input').css('display', 'block');
    });
}
</script>
<style>
    .selectTemplateCategory {
        display:block;
        margin-bottom:5px;
    }
</style>
</HEAD>
<body>

<table>
<tr>
	<td width=50%>
		<?
		if(intval($id) <= 0)
		{
			?>
			<table>
			<tr>
				<td>
					You cannot edit the static specs until a sku (id) has been created.  Try saving the sku before editing the specs.
				</td>
			</tr>
			</table>
			<?
		}
		else 
		{
			$cattree = $efc->getCatTree($id);
			
			for($xx = 0; $xx < count($cattree['catid']); $xx++)
			{
				$query = "select id from static_specs_templates where cat = '".$cattree['catid'][$xx]."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok))
				{
					list($templateid) = mysql_fetch_array($qok);
					break;
				}
			}
			
			if(intval($templateid) <= 0)
			{
			?>
				<table>
				<tr>
					<td>No templates defined for this category</td>
				</tr>
				</table>
			<?
			}
			else 
			{
				$query = "select template from static_specs_templates where id = '$templateid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($templatename) = mysql_fetch_array($qok);
				?>
				<table>
				<tr>
					<td class="g1"><B>Using Template: <?=$templatename;?> (<a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/static_specs_manage.phtml?id=<?=$templateid;?>&inwin=1', 'Manage Static Specs <?=$templateid;?>');"><?=$templateid;?></a>)</B></td>
				</tr>
				</table>
				<HR NOSHADE>
				<form name="static_specs">
				<table id="results">
				<tr bgcolor="#eeeeee">
					<td class="g1"><div align=center>Column Name</td>
					<td class="g1"><div align=center>Column Value</td>
				</tr>	
				<?
				$query = "select id, dkey from static_specs_columns where tid = '$templateid' order by dkey";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($sscid, $dkey) = mysql_fetch_array($qok))
				{	
					$cvalue = "";
					$query = "select dvalue from product_static_specs where id = '$id' and tid = '$templateid' and sscid = '$sscid'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($q4ok) > 0)
					{
						list($cvalue) = mysql_fetch_array($q4ok);
					}
				?>
				<tr>
					<td><?=$dkey;?></td>
					<td>
						<input type="text" name="dvalue<?=$sscid;?>" value="<?=$cvalue;?>" 
							onfocus="preLoadACKey('<?=$templateid;?>', '<?=$sscid;?>')" onkeypress="return autocomplete(this, event, keyValues)"
							style="width:125px" class="formBox"><span id="l<?=$sscid;?>">&nbsp;</span>
					</td>
				</tr>
				<?
				}
				?>
				<tr>
					<td colspan=2 align=center>
						<input type="submit" name="Action" value="Save Static Specs" class="buttonItem">
					</td>
				</tr>
				</table>
				<input type="hidden" name="tid" value="<?=$templateid;?>">
				<input type="hidden" name="pid" value="<?=$id;?>">
				</form>
				<?
			}
		}
		?>
	</td>
	
	<td>&nbsp;&nbsp;</td>
	
	<td width=50%>
		<form name="compatibility">
		<input type="hidden" name="id" value="<?=$id;?>">
		<input type="hidden" name="clid" value="<?=$clid;?>">
		<table>
		<tr>
			<td class="g1"><div style="padding-top:2px"><B>Compatibility List:</B></div></td>
			<td class="g1">
				<select name="clid" class="formSelect">
					<option value="">--- SELECT ---</option>
					<?
					$query = "select id, template from compatibility_list_templates";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($xclid, $templatename) = mysql_fetch_array($qok))
					{
						$query = "select count(*) from compatibility_map where clid = '$xclid' and pid = '$id'";
						if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numselected) = mysql_fetch_array($q4ok);
						?>
						<option value="<?=$xclid;?>" <?if($xclid == $clid) echo "SELECTED";?>><?=$templatename;?> (<?=$numselected;?>)</option>
					<?
					}
					?>
				</select>
				
			</td>
			<td class="g1">
				<input type="submit" name="Action" value="View List" class="buttonItem">
			</td>
		</tr>
		<tr>
			<td colspan=3>
				<HR NOSHADE>
			</td>
		</tr>
		</table>
		
		<?
		if(intval($clid) > 0)
		{
			?>
			<table>
			<?
			$numcols = 0;
			
			$query = "select id, data from compatibility_lists where clid = '$clid' order by data";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($cldid, $data) = mysql_fetch_array($qok))
			{
				if($numcols == 0)
					echo "<tr><td>";
					
				
				$query = "select pid from compatibility_map where clid = '$clid' and cldid = '$cldid' and pid = '$id'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				if(mysql_num_rows($q2ok) > 0)
					$checked = "CHECKED";
				else 
					$checked = "";
					
				?>
				<input type="checkbox" name="clidlist[]" value="<?=$cldid;?>" <?=$checked;?>><?=$data;?><BR>
				<?
				
				if($numcols == 0)
					echo "</td><td>";
					
				if($numcols == 1)
				{
					echo "</td></tr>";
					$numcols = -1;
				}
				
				$numcols++;
			}
			?>
			<tr>
				<td colspan=2><input type="submit" name="Action" value="Save Compatibility" class="buttonItem"></td>
			</tr>
			</table>
			<?

		}
		?>
		</form>
		
		<BR>
		<form action="static_specs_loader.phtml" method="get" style="margin:0px">
		<table>
		<tr>
			<td class="g1"><div style="padding-top:2px"><B>Related SKUs:</B></div></td>
		</tr>
		</table>
		<table>
			<input type='hidden' class="formBox" name='Action' size='40' value='ARID'/> 
			<input type='hidden' class="formBox" name='pid' size='40' value='<?=$id;?>'/>
			<input type='hidden' class="formBox" name='id' size='40' value='<?=$id;?>'/>
			<tr>
				<td>PID: <input class="formBox" type="text" name="relid" style="width:50px"/> &nbsp;
					Relationship: <input class="formBox" type="text" name="relationship" style="width:150px"/> 
					&nbsp;
					<input  class="buttonItem" type="submit" name="submitBtn" value="Add">
				</td>
			</tr>
		</table>
		</form>
		* Enter this sku first to reverse map all products
		<HR NOSHADE>
		<table width=98%>
		<tr bgcolor="#eeeeee">
			<td><B>PID</B></td>
<!--			<td><B>Man</B></td>
			<td><B>ManPart</B></td>
-->			<td><B>Descr</B></td>
			<td><B>Relationship</B></td>
			<td><B>Del</B></td>
		</tr>
		<?
		$query = "select relid, relationship from product_related where id = '$id'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		while(list($relid, $relationship) = mysql_fetch_array($q2ok))
		{
			$query = "select product_manufacturers.manname, product_list.manpart, product_list.descr 
						from 
						product_list, product_manufacturers 
						where
						product_list.id = '$relid' and
						product_list.manid =  product_manufacturers.manid";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			if(mysql_num_rows($q3ok) > 0)
			{
				list($manname, $manpart, $descr) = mysql_fetch_array($q3ok);
				
				if(strlen($descr) > 50)
					$descr = substr($descr, 0, 47)."...";
			}
			else 
			{
				$manname = $manpart = "N/A";
				$descr = "<font color='#ff0000'>Not Found</font>";
			}
			?>
			<tr>
				<td><a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/viewsku.phtml?id=<?=$relid;?>&inwin=1', 'View SKU <?=$relid;?>');"><?=$relid;?></a></td>
				<!--<td><?=$manname;?></td>
				<td><?=$manpart;?></td>-->
				<td><?=$descr;?></td>
				<td><?=$relationship;?></td>
				<td><a href="/mgt/sm/static_specs_loader.phtml?Action=DRID&id=<?=$id;?>&relid=<?=$relid;?>"><img src="/mgt/images/del.gif" border=0></a></td>
			</tr>
			<?
		}
		?>
		</table>
                
	</td>
</tr>
<tr>
	<td colspan="3">
		<hr noshade="">	
	</td>
</tr>
<tr>
	<td colspan="3">
		<table>
		    <tr>
		        <td>
		            <table>
		                <tr>
		                    <td class="g1">Template Category:</td>
		                    <td id="templateCategoryTd">
                                    <?
                                    if (!$have_saved_records) {
                                    ?>
		                        <select id="cat0" name="cat0" class="formSelect selectTemplateCategory" onchange="getTemplateCategories(0);">
		                            <option value="">----- SELECT --------
		                            <?
		                            $query = "select catid, catname from amazon_template_category where parentid = 0 order by catname";
		                            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		                            while(list($catid, $catname) = mysql_fetch_array($qok))
		                            {
		                                ?>
		                                <option value="<?=$catid;?>" ><?=$catname;?> </option>
		                                <?
		                            }
		                            ?>
		                        </select>
                                    <?
                                    } else {
                                        $array_index = sizeof($categories_array)-1;
                                        for($i = $array_index; $i > 0; $i--) {
                                            $level = $array_index - $i;
                                        ?>
                                        <select id="cat<?=$level?>" name="cat<?=$level?>" class="formSelect selectTemplateCategory" onchange="getTemplateCategories(<?=$level?>);">
                                            <option value="">----- SELECT --------</option>
                                            <?
		                            $query = "select catid, catname from amazon_template_category where parentid = " .$categories_array[$i][0] . " order by catname";
		                            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		                            while(list($catid, $catname) = mysql_fetch_array($qok))
		                            {
		                                ?>
		                                <option value="<?=$catid;?>" <? if($catid == $categories_array[$i][1]) echo 'selected = "selected"';?>><?=$catname;?> </option>
		                                <?
		                            }
		                            ?>
                                        </select>
                                        <?
                                        }
                                    }
                                    ?>
		                    </td>
		                    <td id="templateCategoryAttreibTd">
                                        <table>
                                        <?
                                        if ($have_saved_records) {
                                            $query_attr = "select name from amazon_template_category_attributes
                                                where catid = '$categories_array[0]'";
//                                            $query_attr = "select amz_field, amz_value from amazon_template_value_pid where amz_pid = '$id' order by amz_id";
                                            if(!$qok_attr = mysql_db_query($DB, $query_attr, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                            while (list($name) = mysql_fetch_array($qok_attr)) {
                                            ?>
                                            <tr>
                                                <td><b><?=$name;?>:</b>&nbsp;&nbsp;&nbsp;</td>
                                                <td>
                                                    <?
                                                    $query_saved_val = "select amz_value from amazon_template_value_pid where amz_pid = '$id' and
                                                    amz_field = '$name'";
                                                    if(!$qok_saved_val = mysql_db_query($DB, $query_saved_val, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                                    $saved_val = '';
                                                    if (mysql_num_rows($qok_saved_val) > 0) {
                                                        list($saved_val) = mysql_fetch_array($qok_saved_val);
                                                    }
                                                    $query_attr_val = "select att_value from amazon_template_category_attributes, amazon_template_att_values 
                                                        where amazon_template_category_attributes.attid = amazon_template_att_values.att_id and 
                                                        amazon_template_category_attributes.name = '$name' and 
                                                        amazon_template_category_attributes.catid = '$categories_array[0]'";
                                                    if(!$qok_attr_val = mysql_db_query($DB, $query_attr_val, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                                                    if (mysql_num_rows($qok_attr_val) > 0) {
                                                    ?>
                                                    <select class="formSelect">
                                                        <?
                                                        while(list($value) = mysql_fetch_array($qok_attr_val)) {
                                                        ?>
                                                        <option value="<?=$value?>" <? if ($value == $saved_val) echo 'selected="selected"'; ?>><?=$value?></option>
                                                        <?
                                                        }
                                                        ?>
                                                    </select>
                                                    <?
                                                    } else {
                                                    ?>
                                                    <input type="text" class="formBox" value="<?=$saved_val?>" />
                                                    <?
                                                    }
                                                    ?>
                                                </td>
                                            </tr>
                                            <?
                                            }
                                            
                                            ?>
                                            <tr id="saveButton">
                                                <td>
                                                    <input type="button" name="Action" value="Save" class="buttonItem" onclick="saveValues()">
                                                </td>
                                                <td></td>
                                            </tr>
                                            <?
                                        }
                                        ?>
                                        </table>
		                    </td>
		                </tr>
		            </table>
		        </td>
		    </tr>
		</table>
	</td>
</tr>
</table>
<?
//echo $id;
//echo $mypid;
//echo $pid;
?>

</body>
</html>
