<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_skutabs_specs"); // will redirect on failure

$dkey = addslashes($dkey);
$dtype = addslashes($dtype);

if($Action == "Add")
{
	$query = "insert into static_specs_columns(tid, dkey, dorder, dtype) values('$id', '$dkey', '0', '$dtype')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else if($Action == "Delete")
{
	$query = "delete from product_static_specs where sscid = '$sscid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from static_specs_columns where id = '$sscid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/sm/static_specs_manage.phtml?id=$id&inwin=$inwin");
	exit;	
}
else if($Action == "Rename")
{
	$query = "update static_specs_columns set dkey = '$dkey', dtype = '$dtype' where id = '$sscid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

if(($Action == "Load Amazon") || ($AltAction == "Amazon"))
{
	$query = "delete from amazon_tlid_map where tid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into amazon_tlid_map(tid, tlid, override_rid) values('$id', '$tlid', '$override_rid')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	//echo "SAVING....$query<BR>";

}
else 
{
	$query = "select tlid, override_rid from amazon_tlid_map where tid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($tlid, $override_rid) = mysql_fetch_array($qok);
}

//echo "TLID: $tlid OVERRIDE: $override_rid AltAction: $AltAction<BR>";

if($move != "")
{
	$query = "select id from static_specs_columns where tid = '$id' order by dorder";	
	$qok = mysql_db_query($DB, $query, $mysqlid);
	if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	while(list($xsscid) = mysql_fetch_array($qok))
	{
		$dfclist['sscid'][] = $xsscid;
	}

	
	// get the position of the current group
	for($xx = 0; $xx < count($dfclist['sscid']); $xx++)
	{
		if($dfclist['sscid'][$xx] == $sscid)
		{
			$thisposition = $xx;
			break;
		}
	}

	$query = "select dkey from static_specs_columns where id = '$sscid'";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($move_column_name) = mysql_fetch_array($q4ok);

	if($move == "up")
	{
		
		//$dfchange =  "COLUMN: $move_column_name moved up";

		$newposition = $thisposition - 1;
	}
	else
	{
		//$dfchange =  "COLUMN: $move_column_name moved down";
	

		$newposition = $thisposition + 2;
	}

	
	// now let's rebuild the array based on what they wanted to do
	for($xx = 0; $xx <= count($dfclist['sscid']); $xx++)
	{

		if($xx == $newposition)
		{
			//echo "($xx) XX == NEWPOSITION<BR>";
			
			$newdfclist['sscid'][] = $dfclist['sscid'][$thisposition];
		}

		if($xx != $thisposition)
		{// skip the one we're editing
			if($dfclist['sscid'][$xx] != "")
			{
				$newdfclist['sscid'][] = $dfclist['sscid'][$xx];
			}
		}
	}
	
	for($xx = 0; $xx < count($newdfclist['sscid']); $xx++)
	{
		$query = "update static_specs_columns set dorder = '$xx' where id = '".$newdfclist['sscid'][$xx]."'";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
}
?>
<HTML>
<HEAD>
<TITLE>Static Specs</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>
var g_level = 0;


function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}

function GetXmlHttpObject()
{
	try
	{
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
	catch (e)
	{
		// Internet Explorer
		try
		{
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
		{
			try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e)
			{
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}

	return xmlHttp;
}

function saveSpecKey(sscid)
{
	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	}

	var theSelect = document.getElementById("kid"+sscid);
	var theRow = document.getElementById("row"+sscid);
	
	if(!theSelect)
	{
		alert("Could not find theSelect: "+"kid"+sscid);
		return;
	}

	if(!theRow)
	{
		alert("Could not find theRow: "+"row"+sscid);
		return;
	}	
	
	var amzkid = theSelect.options[ theSelect.selectedIndex ].value;
	
	theSelect.style.backgroundColor = "#FFC3C5";
	theRow.style.backgroundColor = "#FFC3C5";
	
	var url="/mgt/sm/ajax_amazonmap.phtml?sscid="+sscid+"&amzkid="+amzkid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=saveSpecKeyComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function saveSpecKeyComplete()
{
	if(xmlHttp.readyState==4)
	{
		var sscid=xmlHttp.responseText;
		
		var theSelect = document.getElementById("kid"+sscid);
		var theRow = document.getElementById("row"+sscid);

		if(!theSelect)
		{
			alert("Could not find theSelect: "+"kid"+sscid);
			return;
		}
		
		if(!theRow)
		{
			alert("Could not find theRow: "+"row"+sscid);
			return;
		}	
	
		theSelect.style.backgroundColor = "#ffffff";
		theRow.style.backgroundColor = "#ffffff";
	}
}
</script>
<body>


		<table id="results">
		<tr>
			<td>
			<div style="background-color:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;width:205px">
				<?
				$query = "select id, cat, template from static_specs_templates where id = '$id'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($topid, $catid, $templatename) = mysql_fetch_array($qok);
				{
					$maincatid = $catid;
					
					$cattree = "";
					if(intval($catid) > 0)
					{
						while(intval($catid) > 0)
						{
							$query = "select catid, catname, parentid from product_categories where catid = '$catid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($catid, $catname, $parentid) = mysql_fetch_array($q2ok);
							
							if(trim($catname) != "")
							{
								$cattree['catid'][] = $catid;
								$cattree['catname'][] = $catname;
								$cattree['parentid'][] = $parentid;
							}
							
							$catid = $parentid;
						}
					}
				}
				
				for($xx = 0; $xx < count($cattree['catid']); $xx++)
				{
					$query = "select amazoncat from amazon_categories where catid = '".$cattree['catid'][$xx]."'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($amazoncat) = mysql_fetch_array($qok);
					
					if(intval($amazoncat) > 0) break;
				}
			
				if($amazoncat != "")
				{
					$catArray = array();
					
					$catArray[] = $amazoncat;
					
					$parentid = $amazoncat;
					
					while($parentid != 0)
					{
						$query = "select parentid from categories where id = '$parentid'";
						if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($parentid) = mysql_fetch_array($qok);
						
						if(intval($parentid) > 0)
							$catArray[] = $parentid;
					}
					
					$catArray = array_reverse($catArray);
				}
				
				?>
				
				<table>
				<tr>
					<td class="g1">Template:</td>
					<td><?=$templatename;?></td>
				</tr>
				<tr>
					<td class="g1">Category:</td>
					<td>
						<?
						$lname = "";
							
						if($maincatid  == 0) echo "ALL CATEGORIES";
						$iout = 0;
							
						if(!is_array($cattree))
						{
							echo "*DELETED CATEGORY*";
						}
						else 
						{
							for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
							{
								for($tt=0;$tt<$iout;$tt++)
									echo "&nbsp;";
									
								echo $cattree['catname'][$xx]."<BR>";
								
								if($lname == "")
									$lname .= $cattree['catname'][$xx];
								else 	
									$lname .= " -> ".$cattree['catname'][$xx];
								$iout+=5;
							}
							
							$lname = str_replace("\"", "", $lname);
							$lname = str_replace("'", "", $lname);
						}							
						?>								
					</td>
				</tr>
				</table>
			</div>				
			</td>	
			
			<td>&nbsp;&nbsp;</td>	
			
			<td>
			
			<div style="border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<form name="spec_form" style="margin:0px;">
				<table border=0>
				<tr>
					<td class="g1">Column:</td>
					<td><input type="text" name="dkey" value="" style="width:75px" class="formBox"></td>
				</tr>
				<tr>
					<td class="g1">Type:</td>
					<td><input type="text" name="dtype" value="" style="width:25px" class="formBox"> (oz, in. etc..)</td>
				</tr>
				

				
				
				<tr>
					<td colspan=2 align=center>
						<input type="submit" name="Action" value="Add"  class="buttonItem">
						<input type="hidden" name="id" value="<?=$id;?>">
						<input type="hidden" name="inwin" value="<?=$inwin;?>">
					</td>
				</tr>
						
				</table>
				</form>
			</div>				
			
			</td>
			
			<td>&nbsp;&nbsp;</td>	
			
			<td>
			
				<div style="border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;width:205px">
				<B>Amazon Secondary Classification</B>
				<table>
					<form name="amz_form" style="margin:0px;">
					<input type="hidden" name="AltAction" value="Amazon">
					<?
					//if($amazoncat != "" && is_array($catArray))
					{
						$toplevel = $catArray[0];
						
						if(intval($override_rid) > 0)
							$rid = $override_rid;
						else 
						{
							$query = "select id, name from xsd_root where catid = '".$catArray[0]."'";
							if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($rid, $rname) = mysql_fetch_array($qok);
						}
						
						//if(intval($rid) > 0)
						{
							$query = "select id, name from xsd_toplevel where rid = '$rid' order by name";
							if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							//if(mysql_num_rows($qok) > 0)
							{
								?>
								<tr>
									<td class="g1" NOWRAP>
										<select name="override_rid" class="formSelect" onchange="document.amz_form.submit();">
											<option value="">--- SELECT ---</option>
											<?
											$query = "select id, name from xsd_root order by name";
											if(!$q13ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($orrid, $orname) = mysql_fetch_array($q13ok))
											{
												?>
												<option value="<?=$orrid;?>" <?if($orrid == $rid) echo "SELECTED";?>><?=$orname;?> [<?=$orrid;?>]</option>
												<?
											}
											?>
										</select>
										
									</td>
									<td>
										<select name="tlid" class="formSelect">
										<option value="">--- SELECT ---</option>
										<?
										while(list($xtlid, $amzname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$xtlid;?>" <?if($xtlid == $tlid) echo "SELECTED";?>><?=$amzname;?> [<?=$xtlid;?>]</option>
											<?
										}
										?>
										</select>
									</td>
								</tr>
								<?
							}
						}
						?>
						<tr>
							<td colspan=2 align=center>
								<input type="hidden" name="id" value="<?=$id;?>">
								<?
								if(intval($rid) > 0)
								{
									?>
									<input type="submit" name="Action" value="Load Amazon"  class="buttonItem">
									<?
								}
								?>
								
							</td>
						</tr>
						<?
					}
					?>	
					</form>
				</table>
				</div>
				
			</td>

		</tr>
		</table>
		<!--------------------------------------------------------------->		
				
		<table width=100% id="results">
		<tr bgcolor="#eeeeee">
			<td class="g1">&nbsp;</td>
			<td class="g1"><div align=center>Column Name</td>
			<td class="g1"><div align=center>Rename</td>
			<?if(intval($tlid) > 0){?><td class="g1"><div align=center>Amazon</td><?}?>
			<td class="g1"><div align=center>Del</td>
		</tr>	
		<?
		if(intval($tlid) > 0)
		{
			if($tlid == "75")
			{
				$query = "select id, name from xsd_keys where tlid = '$tlid' OR tlname = 'CE' order by name";
				if(!$q2ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else 
			{
				$query = "select id, name from xsd_keys where tlid = '$tlid' OR tlname = '$rname' order by name";
				if(!$q2ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
				
		$query = "select id, dkey, dtype from static_specs_columns where tid = '$id' order by dorder";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($sscid, $dkey, $dtype) = mysql_fetch_array($qok))
		{
			?>
			<tr id="row<?=$sscid;?>" onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td>
					<a href="static_specs_manage.phtml?sscid=<?=$sscid;?>&id=<?=$id;?>&inwin=<?=$inwin;?>&move=down"><img src="/mgt/images/down.gif" border=0 alt="Move Down"></a>
					<a href="static_specs_manage.phtml?sscid=<?=$sscid;?>&id=<?=$id;?>&inwin=<?=$inwin;?>&move=up"><img src="/mgt/images/up.gif" border=0 alt="Move Up"></a>						
				</td>
				<td><?=$dkey;?></td>
				<td>
					<form name="spec_form" style="margin:0px;">
					<input type="text" name="dkey" value="<?=$dkey;?>" style="width:105px" class="formBox">
					<input type="text" name="dtype" value="<?=htmlspecialchars($dtype);?>" style="width:25px" class="formBox"><input type="submit" name="Action" value="Rename"  class="buttonItem">
					<input type="hidden" name="id" value="<?=$id;?>">
					<input type="hidden" name="sscid" value="<?=$sscid;?>">
					<input type="hidden" name="inwin" value="<?=$inwin;?>">
					</form>
				</td>
				<?
				if(intval($tlid) > 0)
				{
					?>
					<td>
						<?
						$query = "select amzkid from amazon_ss_map where sscid = '$sscid'";
						if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($amzkid) = mysql_fetch_array($q4ok);
						?>
						<select name="kid" id="kid<?=$sscid;?>" class="formSelect" onchange="saveSpecKey('<?=$sscid;?>');" <?if(intval($amzkid) > 0) echo "style='background-color:#FFC3C5;'";?>>
						<option value="">--- SELECT ---</option>
						<?
						mysql_data_seek ($q2ok, 0);
						while(list($kid, $kname) = mysql_fetch_array($q2ok))
						{
							?>
							<option value="<?=$kid;?>" <?if($amzkid == $kid) echo "SELECTED";?>><?=$kname;?></option>
							<?
						}
						?>
						</select>
					</td>
					<?
				}
				?>
				<td align=center>
					<a href="javascript:makesure('Are you sure you want to delete this entry?\nThis will also delete all of the static specs entered for all items that used this template!', 
							'static_specs_manage.phtml?Action=Delete&sscid=<?=$sscid;?>&id=<?=$id;?>&inwin=<?=$inwin;?>');">
						<img src="/mgt/images/del.gif" border=0 align="absmiddle"></a>
				</td>
			</tr>
			<?
		}
		?>
		</table>
		<!--------------------------------------------------------------->		

</body>
</html>