<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if($Action == "Save Taxonomy")
{
	//sel_csv
	$query = "delete from product_taxonomy where pid = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if($sel_csv != "")
	{
		$query = "insert into product_taxonomy(pid, taxonomy) values('$pid', '".addslashes($sel_csv)."')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
else if($Action == "Apply to All Products in this Category")
{
	//echo "DOING<BR>";
	
	$cattree = $efc->getCatTree($pid);
	
	$numupdated = 0;
	
	if(is_array($cattree))
	{
		$catid = $cattree['catid'][0];
		
		$query = "select product_list.id from product_list, product_category_map where product_list.id = product_category_map.pid and catid = '$catid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		while(list($xpid) = mysql_fetch_array($qok))
		{
			$query = "delete from product_taxonomy where pid = '$xpid'";
			if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			if($sel_csv != "")
			{
				$numupdated++;
				
				$query = "insert into product_taxonomy(pid, taxonomy) values('$xpid', '".addslashes($sel_csv)."')";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				//$efc->UpdatePool("1", $xpid);
			}			
		}
	}
	
	//echo "NUMUPDATED: $numupdated<BR>";
}
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
</HEAD> 
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<body>
<form>
<?
if(intval($pid) <= 0)
{
	?>
	<table width=675>
	<tr>
		<td>
			You cannot edit the taxonomy until a sku (id) has been created.  Try saving the sku before editing the taxonomy.
		</td>
	</tr>
	</table>
	<?
}
else 
{
	$query = "select taxonomy from product_taxonomy where pid = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($current_taxonomy) = mysql_fetch_array($qok);
	
	if(intval($mode) == 0)
	{
		?>
		<div style="width=675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
			<div align=right>
			<table width=100%>
			<tr>
				<td align=left><B>Product Taxonomy</B></td>
				<td><div align=right><a href="/mgt/sm/taxonomy_loader.phtml?pid=<?=$pid;?>&mode=1">Edit Mode</a></div></td>
			</tr>
			</table>
			</div>
		</div>		
		
		<?if(intval($numupdated) > 0)
		{
			?>
			<table><tr><td><B><font color="#ff0000"><?=$numupdated;?> SKUs Updated</font></B></td></tr></table>
			<?
		}
		?>
			
		<table width=675>
		<tr>
			<td>
				<table>
				<tr>
					<td><B>Current</B>: </td>
					<td><input type="text" name="sel_csv" id="sel_csv" value="<?=$current_taxonomy;?>" class="formBox" style="width:500px" disabled></td>
				</table>
			</td>
		</tr>
		</table>	
		<?
	}
	else 
	{
		?>
		<input type="hidden" name="pid" value="<?=$pid;?>">
		<LINK href="google/treestyle.css"  type=text/css rel=stylesheet>
		<SCRIPT src="google/tree.js" type=text/javascript></SCRIPT>
		<div style="width=675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
			<div align=right>
			<table width=100%>
			<tr>
				<td align=left><B>Product Taxonomy</B></td>
				<td>&nbsp;</td>
			</tr>
			</table>
			</div>
		</div>		
		<table width=675>
		<tr>
			<td>
				<table>
				<tr>
					<td><B>Current</B>: </td>
					<td><input type="text" name="sel_csv" id="sel_csv" value="<?=$current_taxonomy;?>" class="formBox" style="width:500px"></td>
				</tr>
				<tr>
					<td><input type="submit" name="Action" value="Save Taxonomy" class="buttonItem"></td>
					<td><input type="submit" name="Action" value="Apply to All Products in this Category" class="buttonItem"></td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
		<HR NOSHADE>	
		<table>
		<tr>
			<td><B>Search</B>:</td>
			<td><INPUT class="formBox" id=typotree> &nbsp;<SPAN class=expandall onclick=expandAll(ic_config);>Expand all</SPAN></td>
		</tr>
		</table>
		<DIV id=itemclass_searchable_root width="100%">&nbsp;</DIV>
		<SCRIPT language=JavaScript>tree_initialize();</SCRIPT>
		<?
	}
}
?>
</form>
      
</body>
</html>
