<?

if(useField("brand"))
{
	$fields['tag'][] = "Brand";
	$fields['code'][] = "<input type=\"text\" name=\"brand\" value=\"$brand\" onblur=\"verifyBrand()\" onkeypress=\"return autocomplete(this, event, keyValues)\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("weight"))
{
	$fields['tag'][] = "Weight";
	$fields['code'][] = "<input type=\"text\" name=\"weight\" value=\"$shipweight\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("manpart"))
{
	$fields['tag'][] = "Man Part";
	$fields['code'][] = "<input type=\"text\" name=\"manpart\" value=\"$manpart\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("status"))
{
	if($status == 0) $status0 = "SELECTED";
	else if($status == 1) $status1 = "SELECTED";
	else if($status == 2) $status2 = "SELECTED";
	else if($status == 3) $status3 = "SELECTED";
	
	$fields['tag'][] = "Status";
	$fields['code'][] = "<select name=\"status\" class=\"formSelect\">
						<option value=\"-1\">----- SELECT --------
						<option value=\"0\" $status0>Active
						<option value=\"1\" $status1>Allocated
						<option value=\"2\" $status2>End of Life
						<option value=\"3\" $status3>Discontinued
						</select>";
}

if(useField("upc"))
{
	$fields['tag'][] = "UPC";
	$fields['code'][] = "<input type=\"text\" name=\"upc\" value=\"$upccode\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("platform"))
{
	$fields['tag'][] = "Platform";
	$fields['code'][] = "<input type=\"text\" name=\"platform\" value=\"$platform\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("crawlerid"))
{
	$fields['tag'][] = "CrawlerID";
	$fields['code'][] = "<input type=\"text\" name=\"crawlerid\" value=\"$roimast\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("instock"))
{
	if(intval($id) <= 0)
		$sv = " 0/0 ";
	else
		$sv = $efc->getInvTotal($id);
							
	$fields['tag'][] = "In-Stock";
	$fields['code'][] = "$sv";
}

if(useField("shipcode"))
{
	$fields['tag'][] = "Ship Code";
	$fields['code'][] = "<input type=\"text\" name=\"shipcode\" value=\"$shipcode\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("shipsin"))
{
	if($shipsin == 1) $shipsin1 = "SELECTED";
	else if($shipsin == 2) $shipsin2 = "SELECTED";
	else if($shipsin == 3) $shipsin3 = "SELECTED";
	else if($shipsin == 5) $shipsin5 = "SELECTED";
	else if($shipsin == 7) $shipsin7 = "SELECTED";
	else if($shipsin == 10) $shipsin10 = "SELECTED";
	else if($shipsin == 11) $shipsin11 = "SELECTED";
	else if($shipsin == 12) $shipsin12 = "SELECTED";
	else if($shipsin == 13) $shipsin13 = "SELECTED";
	
	$fields['tag'][] = "Ships in";
	$fields['code'][] = "<select name=\"shipsin\" class=\"formSelect\">
						<option value=\"\">--- SELECT ---</option>
						<option value=\"1\" $shipsin1>Ships in 1-2 Business Days</option>
						<option value=\"2\" $shipsin2>Ships in 2-3 Business Days</option>
						<option value=\"3\" $shipsin3>Ships in 3-5 Business Days</option>
						<option value=\"5\" $shipsin5>Ships in 5-7 Business Days</option>
						<option value=\"7\" $shipsin7>Ships in 7-14 Business Days</option>
						
						<option value=\"10\" $shipsin10>Usually Ships in 1-2 Weeks</option>
						<option value=\"11\" $shipsin11>Usually Ships in 2-3 Weeks</option>
						<option value=\"12\" $shipsin12>Usually Ships in 3-4 Weeks</option>
						<option value=\"13\" $shipsin13>Usually Ships in 4-6 Weeks</option>";
}

if(useField("asin"))
{
	$fields['tag'][] = "ASIN";
	$fields['code'][] = "<input type=\"text\" name=\"asin\" value=\"$asin\" class=\"formBox\" style=\"width:85px\"><a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/asinlookup.phtml?pid=$id&upc=$upccode&inwin=1', 'ASIN SKU: $id');\">Search</a>";
}

if(useField("amazonqty"))
{
	$fields['tag'][] = "Amazon Qty";
	$fields['code'][] = "<input type=\"text\" name=\"am_qty\" value=\"$am_qty\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("stdshipping"))
{
	$fields['tag'][] = "Std Shipping";
	$fields['code'][] = "<input type=\"text\" name=\"am_std_ship\" value=\"$am_std_ship\" class=\"formBox\" style=\"width:125px\"><a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/cf/amazon_defaults.phtml?pid=$id&inwin=1', 'Etilize SKU: $id');\">Defaults</a>";
}

if(useField("expshipping"))
{
	$fields['tag'][] = "Exp Shipping";
	$fields['code'][] = "<input type=\"text\" name=\"am_exp_ship\" value=\"$am_exp_ship\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("model"))
{
	$fields['tag'][] = "Model#";
	$fields['code'][] = "<input type=\"text\" name=\"modelno\" value=\"$modelno\" class=\"formBox\" style=\"width:125px\">";
}

if(useField("assignedto"))
{
	$x_assignedto = $efc->getSKUAssignment($id);
	
	$code = "<option value=\"0\">Unassigned</option>";
	
	$query = "select id, displayname from users order by displayname";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
	{
	
		if($x_userid == $x_assignedto)
			$code .= "<option value=\"$x_userid\">$x_displayname</option>";
		else 
			$code .= "<option value=\"$x_userid\">$x_displayname</option>";
		
	
	}
	$code .= "</option>";
	
	$fields['tag'][] = "Model#";
	$fields['code'][] = $code;
}

if(useField("partydata"))
{
	$fields['tag'][] = "3rd Party Data";
	$fields['code'][] = "<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/etilizesku.phtml?id=$id&kw=".urlencode($manpart)."&inwin=1', 'Etilize SKU: $id');\">Etilize</a>
						&nbsp;&nbsp;
						<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/sm/cmicsku.phtml?id=$id&kw=".urlencode($manpart)."&inwin=1', 'CMIC SKU: $id');\">CMIC</a>\"";;
}

if(useField("metatags"))
{
	$fields['tag'][] = "MetaTags";
	$fields['code'][] = "<a href=\"javascript:void(0);\" onclick=\"top.e2window('/mgt/cf/metatags.phtml?typeid=$id&type=1&inwin=1', 'Metatags for SKU: $id');\">Edit Tags</a>";
}
?>