<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
 function generateRandomString() {
        $chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        $str = substr(str_shuffle($chars),0 ,5);
        return $str;
    }



if($submitBtn == 'Upload') {
   
    $destination_path = 'upc_codes/';
    $result = 0;
    $file_name_original = basename($_FILES['csv']['name']);
    $last_dot_pos = strrpos($file_name_original, '.');
    $file_name = substr($file_name_original, 0, $last_dot_pos);
    $file_extension = substr($file_name_original, $last_dot_pos);

    $i = 0; 
    while(1) {
        $target_path = $destination_path . basename($_FILES['csv']['name']);
        if (file_exists($target_path)) {
            $random_string = generateRandomString();
            $target_path = $destination_path . $file_name . '-' . $random_string . $file_extension;
        }
        $i++;
        if (!file_exists($target_path) || $i > 1000) {
            break;
        }
    }

    if(@move_uploaded_file($_FILES['csv']['tmp_name'], $target_path)) {
        $result = 1;
    }

    $fp = fopen($target_path, 'r');
    while($data = fgetcsv($fp, 4096)) {
        $query = "insert into upc_codes(code) values ('".$data[0]."')";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    }
}


?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<table>
   <tr>
       <td>
            <form action="" method="post" enctype="multipart/form-data">
                Upload UPC Codes: 
                <input name="csv" type="file" />
                <input type="submit" name="submitBtn" value="Upload" />
            </form>
       </td>
       <td style="vertical-align:middle">
               <?
                       $query = "SELECT count(*) FROM upc_codes";
                       if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                       list($nr_upc_codes) = mysql_fetch_array($qok);
               ?>
               &nbsp;&nbsp;&nbsp;&nbsp;UPC Codes: <?=$nr_upc_codes?>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:parent.e2window('/mgt/sm/viewupc2.phtml', 'UPC Codes','');">view</a>
       </td>
   </tr>
</table>
    <?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>