<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_scolumns"); // will redirect on failure

if($Action == "Save Columns")
{
	$query = "delete from user_search_columns where userid = '".$_SESSION["ID"]."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	foreach($_POST as $key => $value)
	{
		if(intval($value) == 1 && intval($_POST["order_$key"] > 0))
		{
			//echo $key."=".$value."<BR>";
			$query = "insert into user_search_columns(userid, colname, dorder, coltitle) 
			values('".$_SESSION["ID"]."', '$key', '".$_POST["order_$key"]."', '".$_POST["title_$key"]."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
	}
	
	?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="top.location='/mgt/sm/search.phtml';">
	Loading...
	</BODY> 
	</HTML>
	<?
	exit;	
}


/*mysql> create table user_search_columns
    -> (
    -> id bigint NOT NULL auto_increment,
    -> userid bigint,
    -> colname varchar(32),
    -> dorder int,
    -> index(id),
    -> index(userid)
    -> );
*/

?>
<HTML>
<HEAD>
<TITLE>Salesman Cost Defaults</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>
function StartUp()
{
	<?	
	$query = "select colname, coltitle, dorder from user_search_columns where userid = '".$_SESSION["ID"]."' order by dorder";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($colname, $coltitle, $dorder) = mysql_fetch_array($qok))
	{
		?>
		document.getElementById("<?=$colname;?>").checked = 1;
		document.getElementById("order_<?=$colname;?>").value = "<?=$dorder;?>";
		<?
		
		$onnum = $dorder;
	}
	?>
}

function cancelWindow()
{
	var thisframe = window.frameElement.id;
	var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
	var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
	
	<?
	if(intval($pid) > 0)
	{
		?>
		window.location="/mgt/sm/search.phtml";
		<?
	}
	else 
	{
		?>
		top.closeWindow(thiswinname, thiswinid);
		<?
	}
	?>

}
</script>
<body onload="StartUp()">
<?
if($inwin != 1)
{
?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		
<?
}
?>		
		<script>
		var g_onnum = <?=intval($onnum);?>;
		function defaultColumns()
		{
			clearAll();
			//ID   Man   ManPart   Descr   UPC   S. Cost   Status   V   D   R   L / DS   Price   Category   
			document.co.id.checked = 1;	document.co.order_id.value = "1";
			document.co.man.checked = 1; document.co.order_man.value = "2";
			document.co.manpart.checked = 1; document.co.order_manpart.value = "3";
			document.co.descr.checked = 1; document.co.order_descr.value = "4";
			document.co.upccode.checked = 1; document.co.order_upccode.value = "5";
			document.co.scost.checked = 1; document.co.order_scost.value = "6";
			document.co.status.checked = 1; document.co.order_status.value = "7";
			document.co.visible.checked = 1; document.co.order_visible.value = "8";
			document.co.dropship.checked = 1; document.co.order_dropship.value = "9";
			document.co.refurb.checked = 1; document.co.order_refurb.value = "10";			
			document.co.instock.checked = 1; document.co.order_instock.value = "11";			
			document.co.price.checked = 1; document.co.order_price.value = "12";	
			g_onnum = 12;		
		}
		
		function clearAll()
		{
			g_onnum = 0;
			var myForm = document.co;
			
			var z = 0;
			for(z=0; z<myForm.length;z++)
			{
				if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
				{
					myForm[z].checked = 0;
				}
				else if(myForm[z].type == "text")
				{
					myForm[z].value = "";
				}
			}
		}
		
		function numberColumn(colName)
		{
			if(document.getElementById(colName).checked == 1 || document.getElementById(colName).checked == true)
			{
				g_onnum++;
				document.getElementById("order_"+colName).value = g_onnum;
			}
		}
		</script>
		<table>
		<tr>
			<td>
			<B>SKU Search Columns</B>
			</td>
		</tr>
		</table>
		<form name="co" method="POST">
		<table width=100%>
		<tr>
			<td>
			<!--------------------------------------------------------------->		
				
				<table >
					<tr><td><input type="text" id="order_id" name="order_id" style="width:25px" value="" class="formBox"><input type="hidden" name="title_id" value="ID"><input type="checkbox" value="1" name="id" onclick="numberColumn('id');">ID</td></tr>
					<tr><td><input type="text" id="order_sku" name="order_sku" style="width:25px" value="" class="formBox"><input type="hidden" name="title_sku" value="SKU"><input type="checkbox" value="1" name="sku" onclick="numberColumn('sku');">SKU</td></tr>
					<tr><td><input type="text" id="order_man" name="order_man" style="width:25px" value="" class="formBox"><input type="hidden" name="title_man" value="Man."><input type="checkbox" value="1" name="man" onclick="numberColumn('man');">Manufacturer</td></tr>
					<tr><td><input type="text" id="order_manpart" name="order_manpart" style="width:25px" value="" class="formBox"><input type="hidden" name="title_manpart" value="ManPart"><input type="checkbox" value="1" name="manpart" onclick="numberColumn('manpart');">Man. Part</td></tr>
					<tr><td><input type="text" id="order_descr" name="order_descr" style="width:25px" value="" class="formBox"><input type="hidden" name="title_descr" value="Title"><input type="checkbox" value="1" name="descr" onclick="numberColumn('descr');">Descr (title)</td></tr>
					<tr><td><input type="text" id="order_upccode" name="order_upccode" style="width:25px" value="" class="formBox"><input type="hidden" name="title_upccode" value="UPC"><input type="checkbox" value="1" name="upccode" onclick="numberColumn('upccode');">UPC</td></tr>
					<tr><td><input type="text" id="order_roimast" name="order_roimast" style="width:25px" value="" class="formBox"><input type="hidden" name="title_roimast" value="CrawlerID"><input type="checkbox" value="1" name="roimast" onclick="numberColumn('roimast');">CrawlerID</td></tr>
					<tr><td><input type="text" id="order_status" name="order_status" style="width:25px" value="" class="formBox"><input type="hidden" name="title_status" value="Status"><input type="checkbox" value="1" name="status" onclick="numberColumn('status');">Status</td></tr>
					<tr><td><input type="text" id="order_cat" name="order_cat" style="width:25px" value="" class="formBox"><input type="hidden" name="title_cat" value="CatTree"><input type="checkbox" value="1" name="cat" onclick="numberColumn('cat');">Category</td></tr>
					<tr><td><input type="text" id="order_weight" name="order_weight" style="width:25px" value="" class="formBox"><input type="hidden" name="title_weight" value="Weight"><input type="checkbox" value="1" name="weight" onclick="numberColumn('weight');">Ship Weight</td></tr>
					<tr><td><input type="text" id="order_platform" name="order_platform" style="width:25px" value="" class="formBox"><input type="hidden" name="title_platform" value="Platform"><input type="checkbox" value="1" name="platform" onclick="numberColumn('platform');">Platform</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_hasimage" name="order_hasimage" style="width:25px" value="" class="formBox"><input type="hidden" name="title_hasimage" value="Image"><input type="checkbox" value="1" name="hasimage" onclick="numberColumn('hasimage');">Has Image</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_visible" name="order_visible" style="width:25px" value="" class="formBox"><input type="hidden" name="title_visible" value="V"><input type="checkbox" value="1" name="visible" onclick="numberColumn('visible');">Visible</td></tr>
					<tr><td><input type="text" id="order_dropship" name="order_dropship" style="width:25px" value="" class="formBox"><input type="hidden" name="title_dropship" value="DS"><input type="checkbox" value="1" name="dropship" onclick="numberColumn('dropship');">Drop Ship</td></tr>
					<tr><td><input type="text" id="order_refurb" name="order_refurb" style="width:25px" value="" class="formBox"><input type="hidden" name="title_refurb" value="R"><input type="checkbox" value="1" name="refurb" onclick="numberColumn('refurb');">Refurb</td></tr>
				</table>
				
									
			<!--------------------------------------------------------------->		
			</td>
			
			<td>
				<table >
					<tr><td><input type="text" id="order_oem" name="order_oem" style="width:25px" value="" class="formBox"><input type="hidden" name="title_oem" value="OEM"><input type="checkbox" value="1" name="oem" onclick="numberColumn('oem');">OEM</td></tr>
					<tr><td><input type="text" id="order_returnable" name="order_returnable" style="width:25px" value="" class="formBox"><input type="hidden" name="title_returnable" value="Ret"><input type="checkbox" value="1" name="returnable" onclick="numberColumn('returnable');">Returnable</td></tr>
					<tr><td><input type="text" id="order_demo" name="order_demo" style="width:25px" value="" class="formBox"><input type="hidden" name="title_demo" value="Demo"><input type="checkbox" value="1" name="demo" onclick="numberColumn('demo');">Demo</td></tr>
					<tr><td><input type="text" id="order_hidestock" name="order_hidestock" style="width:25px" value="" class="formBox"><input type="hidden" name="title_hidestock" value="HideStock"><input type="checkbox" value="1" name="hidestock" onclick="numberColumn('hidestock');">Hide Stock</td></tr>
					<tr><td><input type="text" id="order_usemap" name="order_usemap" style="width:25px" value="" class="formBox"><input type="hidden" name="title_usemap" value="Use MAP"><input type="checkbox" value="1" name="usemap" onclick="numberColumn('usemap');">Use MAP</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_price" name="order_price" style="width:25px" value="" class="formBox"><input type="hidden" name="title_price" value="Price"><input type="checkbox" value="1" name="price" onclick="numberColumn('price');">Price (PL1)</td></tr>
					<tr><td><input type="text" id="order_scost" name="order_scost" style="width:25px" value="" class="formBox"><input type="hidden" name="title_scost" value="S. Cost"><input type="checkbox" value="1" name="scost" onclick="numberColumn('scost');">Salesman Cost</td></tr>
					<tr><td><input type="text" id="order_avgcost" name="order_avgcost" style="width:25px" value="" class="formBox"><input type="hidden" name="title_avgcost" value="AvgCost"><input type="checkbox" value="1" name="avgcost" onclick="numberColumn('avgcost');">Average Cost</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td><input type="text" id="order_instock" name="order_instock" style="width:25px" value="" class="formBox"><input type="hidden" name="title_instock" value="Stock (L/DS)"><input type="checkbox" value="1" name="instock" onclick="numberColumn('instock');">Stock (L/DS)</td></tr>										
					<tr><td><input type="text" id="order_columnperhouse" name="order_columnperhouse" style="width:25px" value="" class="formBox"><input type="checkbox" value="1" name="columnperhouse" onclick="numberColumn('columnperhouse');">Stock (Column Per Warehouse)</td></tr>										
					<tr><td><input type="text" id="order_columnperstock" name="order_columnperstock" style="width:25px" value="" class="formBox"><input type="checkbox" value="1" name="columnperstock" onclick="numberColumn('columnperstock');">Stock (Column Per Warehouse Cost)</td></tr>										
					<tr><td><input type="text" id="order_stockdetail" name="order_stockdetail" style="width:25px" value="" class="formBox"><input type="checkbox" value="1" name="stockdetail" onclick="numberColumn('stockdetail');">Stock Detail (5 columns)<BR>&nbsp;&nbsp;OnHand, OnHold, Committed, Available, On PO</td></tr>
					<tr><td><input type="text" id="order_webinventory" name="order_webinventory" style="width:25px" value="" class="formBox"><input type="hidden" name="title_webinventory" value="Web Inventory"><input type="checkbox" value="1" name="webinventory" onclick="numberColumn('webinventory');">Web Inventory (In/Out/Real)</td></tr>
				</tr>
					<tr><td><input type="text" id="order_assignedto" name="order_assignedto" style="width:25px" value="" class="formBox"><input type="hidden" name="title_assignedto" value="Assigned To"><input type="checkbox" value="1" name="assignedto" onclick="numberColumn('assignedto');">Assigned To</td></tr>
					
					<tr><td><input type="text" id="order_dsinventory" name="order_dsinventory" style="width:25px" value="" class="formBox"><input type="hidden" name="title_dsinventory" value="Drop Ship Inventory"><input type="checkbox" value="1" name="dsinventory" onclick="numberColumn('dsinventory');">Drop Ship Inventory Detail</td></tr>					
				
				</table>
				<BR><BR>
				
				<BR>
					
			</td>
		</tr>
		</table>
		<table>
		<tr>
			<td>
				<BR>
				<input type="submit" name="Action" value="Save Columns" class="buttonItem">	
				<input type="button" onclick="defaultColumns()" name="Action" value="Default" class="buttonItem">
				<input type="button" onclick="clearAll()" name="Clear" value="Clear All" class="buttonItem">
				<input type="button" onclick="cancelWindow()" name="Action" value="Cancel" class="buttonItem">
			</td>
		</tr>
		<tr>
			<td>
			<BR>
			<HR NOSHADE>
			<LI>The box to the left of each checkbox is the order to display the data</LI>			
			<LI>Clearing the form, then selecting the checkboxes in order will properly order the columns</LI>
			<LI>You cannot use the number "0" in the ordering</LI>
			<LI>Click the "Default" button to view the default configuration.</LI>
			</td>
		</tr>
		</table>
		</form>
	<?
if($inwin != 1)
{
?>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?>
</body>
</html>