<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if(($DB == "ecom") || ($DB == "hardwarenation"))
	$getimageURL = "internal_img.phtml";
else if($DB == "rawfoodworld")
	$getimageURL = "getimage_nocache.phtml";
else 
	$getimageURL = "getimage.phtml";
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$query = "select id, manid, manpart, descr, added_dte, status, returnable, upccode, platform, 
		roimast, dropship, shipweight, oem, refurb, sku, visible, kit, demo, hidestock from product_list where id = '$id'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($id, $manid, $manpart, $descr, $date_added, $status, $returnable, $upccode, $platform,
	$roimast, $dropship, $shipweight, $oem, $refurb, $sku, $visible, $kit, $demo, $hidestock) = mysql_fetch_array($qok);
	
if($status == 0) $status = "Active";	
if($status == 1) $status = "Special Order";
if($status == 2) $status = "End of Life";
if($status == 3) $status = "Discontinued";
	
$query = "select manname from product_manufacturers where manid = '$manid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($brand) = mysql_fetch_array($qok);

$query = "select catid from product_category_map where pid = '$id' order by id";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catid) = mysql_fetch_array($qok);

$cattree = $efc->getCatTree($id);


$ilist = $efc->getImageList($id);

$query = "select price_msrp, price_level1, price_level2, price_level3, price_level4, 
			price_level5, price_level6, price_level7, price_level8, price_level9 from product_prices where id = '$id'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$pricedata = mysql_fetch_row($qok);

$salesdescr = $efc->getSalesDescr($id);
$specs = $efc->getSpecs($id);

$kitexpandcfid = $efc->getConfigValue("eFluent Settings", "Kit_ExpandImagesCFID");
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</HEAD>

<SCRIPT LANGUAGE="JavaScript">
function showSourcingTab() {
	$('#divTabSourcing').toggle();
}
function showListsTab() {
	$('#divTabLists').toggle();
}
function showInventoryTab(id) {
	if($('#divTabInventory').html()=='') {
		$.get('viewsku_inventory.phtml?id='+id, function(data) {
			$('#divTabInventory').html(data);
		});
	}
	$('#divTabInventory').toggle();
}
var showing = 0;
function priceOnClick()
{
	$('#divTabPrices').toggle();
	/*var obj = document.getElementById("p0");
	var x = 0;
	var y = 0;
	do
	{
		x += obj.offsetLeft;
		y += obj.offsetTop;
	     	obj = obj.offsetParent;
	}while( obj );
	    	
	divTabPrices.style.pixelLeft  = x - 2;
	divTabPrices.style.pixelTop  = y + 20;
	
	if(showing == 0)
	{
		divTabPrices.style.visibility = 'visible';
		showing = 1;
	}
	else
	{
		divTabPrices.style.visibility = "hidden";
		showing = 0;
	}*/

}

</SCRIPT>

<?
if($inwin == 0)
{
	?>
	<body>
	<?
}
else 
{
	?>
<script type="text/javascript" src="/fsmenu/fsmenu.js"></script>
<script type="text/javascript" src="/mgt/js/jquery-1.3.2.js"></script>
<link rel="stylesheet" type="text/css" id="listmenu-o"  href="/fsmenu/listmenu_h.css" title="Horizontal 'Office'" />
<link rel="stylesheet" type="text/css" id="fsmenu-fallback" href="/fsmenu/listmenu_fallback.css" />	
	<body>
	<?
}


if($inwin == 0)
{
	?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>View SKU</B>
		<BR><BR>
	<?
}
?>		
		<table>
		<tr>
			<td width=33% valign=top>
				<table>
				<tr>
					<td>
						<div align=center>
						<?
						if(($kit == 1) && ($kitexpandcfid > 0))
						{
							$query = "select product_list.id
			       						 from 
										product_list, product_manufacturers, product_kitskus, product_prices 
										where 
										product_list.manid = product_manufacturers.manid and 
										product_list.id = product_kitskus.kid and 
										product_list.id = product_prices.id and
										product_kitskus.pid = '$id' 
										order by product_prices.price_level1 desc";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($kid) = mysql_fetch_array($qok))
							{
								// for each kit component...... see if we're supposed to expand the images
								$query = "select text_short from custom_values where cfid = '$kitexpandcfid' and pid = '$kid'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($expandimages) = mysql_fetch_array($q2ok);
								
								if(intval($expandimages) == 1)
								{
									$query = "select itype, title from product_images where id = '$kid' and title != ''";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($itype, $title) = mysql_fetch_array($q2ok))
									{
									?>
									<table width=100% border=0>
									<tr>
										<td width=80 align=center>
											<a href="javascript:void(0);" 
											onClick="window.open('/<?=$getimageURL;?>?id=<?=$kid;?>&itype=<?=$itype;?>&thumb=0&usedivid=0', 'IMAGE', 'scrollbars=no, width=425, height=425');" 
											class="g" 
											onMouseOver="document.GALLERY.src='/<?=$getimageURL;?>?id=<?=$kid;?>&itype=<?=$itype;?>&thumb=0&usedivid=0';" 
											onMouseOut="document.GALLERY.src='/<?=$getimageURL;?>?id=<?=$kid;?>&thumb=0&usedivid=0';">
												<img 
													src="/<?=$getimageURL;?>?id=<?=$kid;?>&itype=<?=$itype;?>&thumb=1&usedivid=0" 
													width=80 border=0 
													alt="<?=$manname;?> - <?=$manpart;?>"
													>
											</a><BR><?=$title;?>
										</td>	
									</tr>
									</table>
									<?
									}
								}
								else 
								{
									$query = "select itype, title from product_images where id = '$kid' order by itype limit 0, 1";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($itype) = mysql_fetch_array($q2ok))
									{
									?>
									<table width=100% border=0>
									<tr>
										<td width=80 align=center>
											<a href="javascript:void(0);" 
											onClick="window.open('/<?=$getimageURL;?>?id=<?=$kid;?>&itype=<?=$itype;?>&thumb=0&usedivid=0', 'IMAGE', 'scrollbars=no, width=425, height=425');" 
											class="g" 
											onMouseOver="document.GALLERY.src='/<?=$getimageURL;?>?id=<?=$kid;?>&itype=<?=$itype;?>&thumb=0&usedivid=0';" 
											onMouseOut="document.GALLERY.src='/<?=$getimageURL;?>?id=<?=$kid;?>&thumb=0&usedivid=0';">
												<img 
													src="/<?=$getimageURL;?>?id=<?=$kid;?>&itype=<?=$itype;?>&thumb=1&usedivid=0" 
													width=80 border=0 
													alt="<?=$manname;?> - <?=$manpart;?>"
													>
											</a><BR><?=$title;?>
										</td>	
									</tr>
									</table>
									<?
									}
								}
							}
						}
						else 
						{
							for($xx = 1; $xx < count($ilist); $xx++)
							{ // 9 images per row
							?>
							<table width=100% border=0>
							<tr>
								<td width=80 align=center>
									<a href="javascript:void(0);" 
									onClick="window.open('/<?=$getimageURL;?>?id=<?=$id;?>&itype=<?=$ilist[$xx];?>&thumb=0&usedivid=0', 'IMAGE', 'scrollbars=no, width=425, height=425');" 
									class="g" 
									onMouseOver="document.GALLERY.src='/<?=$getimageURL;?>?id=<?=$id;?>&itype=<?=$ilist[$xx];?>&thumb=0&usedivid=0';" 
									onMouseOut="document.GALLERY.src='/<?=$getimageURL;?>?id=<?=$id;?>&thumb=0&usedivid=0';">
										<img 
											src="/<?=$getimageURL;?>?id=<?=$id;?>&itype=<?=$ilist[$xx];?>&thumb=1&usedivid=0" 
											width=80 border=0 
											alt="<?=$manname;?> - <?=$manpart;?>"
											>
									</a>
								</td>	
							</tr>
							</table>					
							<?
							}		
						}
						?>								
					</td>
					
					<td>
						<div id="imageAnchor">
						<?
						if(count($ilist) == 0)
						{
							?><a href="#"><img src="/<?=$getimageURL;?>?id=<?=$id;?>&thumb=0&itype=0&usedivid=0" width=200 border=0 name="GALLERY" alt="<?=$manname;?> - <?=$manpart;?>"></A><?
						}
						else
						{
							?>
							<a href="javascript:void(0);" onClick="window.open('/<?=$getimageURL;?>?id=<?=$id;?>&thumb=0&itype=0&usedivid=0', 'IMAGE', 'scrollbars=no, width=425, height=425');" class="g" >
								<img src="/<?=$getimageURL;?>?id=<?=$id;?>&thumb=0&itype=0&usedivid=0" width=200 border=0 name="GALLERY" alt="<?=$manname;?> - <?=$manpart;?>"></div>
							</a>					
							<?
						}
						?>
						</div>	
					</td>
				</tr>
				</table>
				
			</td>
			
			<td width=33% valign=top>
			<!--------------------------------------------------------------------------------------->
				<table>
				<tr>
					<td class="g1">ID:</td><td><?=$id;?></td>
				</tr>
				<tr>
					<td class="g1">SKU:</td><td><?=$sku;?></td>
				</tr>
				<tr>
					<td class="g1">Brand:</td><td><?=$brand;?></td>
				</tr>
				<tr>
					<td class="g1">Descr:</td><td><?=$descr;?></td>
				</tr>
				<tr>
					<td class="g1">Manpart:</td><td><?=$manpart;?></td>
				</tr>
				<tr>
					<td class="g1">UPC:</td><td><?=$upccode;?></td>
				</tr>
				<tr>
					<td class="g1">Status:</td><td><?=$status;?></td>
				</tr>
				<tr>
					<td class="g1">Platform:</td><td><?=$platform;?></td>
				</tr>
				<tr>
					<td class="g1">Ship Weight:</td><td><?=$shipweight;?></td>
				</tr>
				<tr>
					<td class="g1">Date:</td><td><?=$date_added;?></td>
				</tr>
				<tr>
					<td class="g1">Category:</td>
					<td valign=top>
						<?
						for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
						{
							echo $cattree['catname'][$xx]."<BR>";
						}
						?>
					</td>
				</tr>
				</table>
				<!--------------------------------------------------------------------------------------->
			</td>		
			
			<td width=33% valign=top>
				<div align=left>
				<!--------------------------------------------------------------------------------------->
				<table cellspacing=0 width=100% cellpadding=0 border=0>
				<tr ID="p0" >
					<td class="g1" style="cursor:pointer;" width=4% NOWRAP onclick="priceOnClick()" align="left"><B>Retail Price:&nbsp;</B></td>
					<td class="inbItem" style="cursor:pointer;"  align=left  width=40% NOWRAP>$ <?=number_format($pricedata[1],2);?></td>
					<td width=20% NOWRAP>
						<div align=right>
						<? 
						if($inwin == 1)
						{
							if($efc->getPermission("perm_editsku"))
							{
							?>
							
							<a href="editsku.phtml?id=<?=$id;?>&inwin=1">Edit SKU</a><br>

							<?
							}
						}
						?>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<DIV id="divTabPrices" STYLE="display:none;width:220px;">
							<table border=0 cellpadding="0" cellspacing="0">
							<tr>
								<td width=50% valign=top>
									<table>
										<tr><td class="g1" bgcolor="#eeeeee"><B>MSRP</B></td><td class="inbItem" align=right><?=number_format($pricedata[0],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "PL1";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[1],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "PL2";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[2],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "PL3";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[3],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "PL4";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[4],2);?></td></tr>	
									</table>
								</td>
								<td width=50% valign=top>
									<table>
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "PL5";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[5],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "PL6";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[6],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "PL7";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[7],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "PL8";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[8],2);?></td></tr>	
										<tr><td class="g1" bgcolor="#eeeeee"><B><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "PL9";?></B></td><td class="inbItem" align=right><?=number_format($pricedata[9],2);?></td></tr>	
									</table>
								</td>
							</tr>
							</table>
					</DIV>						
					<!--------------------------------------------------------------------------------------->
					</div>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="g1" style="cursor:pointer;text-align:left!important;" align="left" onclick="showSourcingTab()">
						Sourcing
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<DIV ID="divTabSourcing" STYLE="display:none;">
							<!------------------------------------------------------------------------------------------------------------>
								<table width=100%>
								<tr bgcolor="#EEEEEE">
									<td><div align=center>Vendor</div></td>
									<td><div align=center>Dist SKU</div></td>
									<td><div align=center>Cost</div></td>
									<td><div align=center>Date</div></td>
									<td><div align=center>Qty</div></td>
								</tr>
								
								<?
								$query = "select sid, distid, distsku, cost, tstamp, qty, stealth, vpid, oprice from product_sourcing where pid = '$id'";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($sid, $distid, $distsku, $cost, $tstamp, $qty, $stealth, $vpid, $oprice) = mysql_fetch_array($qok))
								{
									
									?>
									<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
									<td>
										<?
											echo $efc->getVendorName($distid);
										?>
									</td>
									<td><?=$distsku;?></td>
									<td align=right><?=number_format($cost, 2);?></td>
									<td align=center><?=date("m/d/Y", strtotime($tstamp));?></td>
									<td align=center><?=$qty;?></td>
									
									</tr>
									<?
								}
								?>
								</table>
					</DIV>						
					<!--------------------------------------------------------------------------------------->
					</div>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="g1" style="cursor:pointer;text-align:left!important;" align="left" onclick="showListsTab()">
						Lists
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<DIV ID="divTabLists" STYLE="display:none;">
							<!------------------------------------------------------------------------------------------------------------>
								<table width=100%>
								<tr bgcolor="#eeeeee">
									<td class="g1 align=center"><B>List</B></td>
									<td class="g1"><div style="text-align:center"><B>Name</B></div></td>
								</tr>	
								<?
								$query = "select lists.lid, lists.list_title from lists, list_products where lists.lid = list_products.lid and list_products.pid = '$id'";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($lid, $listname) = mysql_fetch_array($qok))
								{
								?>
									<tr>
										<td><div align=center><?=$lid;?></td>
										<td><div align=center><?=$listname;?></td>
									</tr>
								<?
								}
								?>
								</table>
					</DIV>						
					<!--------------------------------------------------------------------------------------->
					</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" class="g1" style="cursor:pointer;text-align:left!important;" align="left">
						<B>Ebay</B>
						<table cellpadding="0" cellspacing="0" border="0">
						<?
						$query = "select ecampid, pid, starttime, endtime, pid_lastupdate, ebaylistingid from ebay_listings where pid = '$id' and active = 1";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						{
							while(list($ecampid, $pid, $starttime, $endtime, $pid_lastupdate, $ebaylistingid) = mysql_fetch_array($qok))
							{
								if(stristr($efc->getConfigValue("eBay", "ServerURL"), "sandbox") != FALSE)
									$ebaylink = "<a href='http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebaylistingid' target='_new'>$ebaylistingid</a>";
								else 
									$ebaylink = "<a href='http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebaylistingid' target='_new'>$ebaylistingid</a>";
								?>
								<tr>
									<td><?=$ebaylink;?></td>
								</tr>
								<?
							}
							?>
							
							<?
						}
						?>
						</table>
						<div style="border-bottom:1px dashesd #808080">&nbsp;</div>
		
						<?
						$query = "select amazon_campaigns.campaign_name, amazon_base_messages.asin from 
										amazon_campaigns, amazon_base_messages 
										where 
										amazon_campaigns.id = amazon_base_messages.campid AND
										amazon_base_messages.pid = '$id' AND
										amazon_base_messages.asin != '' ";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						{
							
							?>
							<B>Amazon</B>
							<table border=0 cellpadding=3 cellspacing=0 width=100%>
							<?
							while(list($campaign_name, $asin) = mysql_fetch_array($qok))
							{
								$campaign_name = stripslashes($campaign_name);
								$amazonlink = "<a href='http://www.amazon.com/dp/$asin/' target='_new'>$asin</a>";
								?>
								<tr>
									<td><?=$amazonlink;?></td>
								</tr>
								<?
							}
							?>
							</table>
							<?
						}
						else 
						{
							$query = "select asin from amazon_base_messages where pid = '$id'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok) > 0)
							{
								
								?>
								<B>Amazon</B>
								<table border=0 cellpadding=3 cellspacing=0 width=100%>
								<?
								while(list($asin) = mysql_fetch_array($qok))
								{
									$amazonlink = "<a href='http://www.amazon.com/dp/$asin/' target='_new'>$asin</a>";
									?>
									<tr bgcolor="#FBD1D1">
										<td><?=$amazonlink;?></td>
									</tr>
									<?
								}
								?>
								</table>
								<?
							}
						}
						?>
                                                                
                                                
						<?
						$query = "select amazon_ca_campaigns.campaign_name, amazon_ca_base_messages.asin from 
										amazon_ca_campaigns, amazon_ca_base_messages 
										where 
										amazon_ca_campaigns.id = amazon_ca_base_messages.campid AND
										amazon_ca_base_messages.pid = '$id' AND
										amazon_ca_base_messages.asin != '' ";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						{
							
							?>
							<B>Amazon Canada</B>
							<table border=0 cellpadding=3 cellspacing=0 width=100%>
							<?
							while(list($campaign_name, $asin) = mysql_fetch_array($qok))
							{
								$campaign_name = stripslashes($campaign_name);
								$amazonlink = "<a href='http://www.amazon.ca/gp/product/$asin/' target='_new'>$asin</a>";
								?>
								<tr>
									<td><?=$amazonlink;?></td>
								</tr>
								<?
							}
							?>
							</table>
							<?
						}
						else 
						{
							$query = "select asin from amazon_ca_base_messages where pid = '$id'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok) > 0)
							{
								
								?>
								<B>Amazon Canada</B>
								<table border=0 cellpadding=3 cellspacing=0 width=100%>
								<?
								while(list($asin) = mysql_fetch_array($qok))
								{
									$amazonlink = "<a href='http://www.amazon.ca/gp/product/$asin/' target='_new'>$asin</a>";
									?>
									<tr bgcolor="#FBD1D1">
										<td><?=$amazonlink;?></td>
									</tr>
									<?
								}
								?>
								</table>
								<?
							}
						}
						if ($DB == 'ecom') {
							?>
							<?
								$query = "select amazonmax_campaigns.campaign_name, amazonmax_base_messages.asin from 
												amazonmax_campaigns, amazonmax_base_messages 
												where 
												amazonmax_campaigns.id = amazonmax_base_messages.campid AND
												amazonmax_base_messages.pid = '$id' AND
												amazonmax_base_messages.asin != '' ";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								if(mysql_num_rows($qok) > 0)
								{
									
									?>
									<B>Amazon Max</B>
									<table border=0 cellpadding=3 cellspacing=0 width=100%>
									<?
									while(list($campaign_name, $asin) = mysql_fetch_array($qok))
									{
										$campaign_name = stripslashes($campaign_name);
										$amazonlink = "<a href='http://www.amazon.com/gp/product/$asin/' target='_new'>$asin</a>";
										?>
										<tr>
											<td><?=$amazonlink;?></td>
										</tr>
										<?
									}
									?>
									</table>
									<?
								}
								else 
								{
									$query = "select asin from amazonmax_base_messages where pid = '$id'";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									if(mysql_num_rows($qok) > 0)
									{
										
										?>
										<B>Amazon Max</B>
										<table border=0 cellpadding=3 cellspacing=0 width=100%>
										<?
										while(list($asin) = mysql_fetch_array($qok))
										{
											$amazonlink = "<a href='http://www.amazon.com/gp/product/$asin/' target='_new'>$asin</a>";
											?>
											<tr bgcolor="#FBD1D1">
												<td><?=$amazonlink;?></td>
											</tr>
											<?
										}
										?>
										</table>
										<?
									}
								}
								?>
							<?
						}
						?>
						
						
					</td>
				</tr>
				<tr>
					<td colspan="3" class="g1" style="cursor:pointer;text-align:left!important;" align="left" onclick="showInventoryTab('<?=$id?>')">
						Inventory
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<DIV ID="divTabInventory" STYLE="display:none;"></DIV>						
					<!--------------------------------------------------------------------------------------->
					</div>
					</td>
				</tr>
				</table>
			</td>		
				
		</tr>
		</table>

		<div id="TabbedPanels1" class="TabbedPanels" style="width:98%">
	    	<ul class="TabbedPanelsTabGroup">
	        <li class="TabbedPanelsTab" tabindex="0"><strong>Sales Description</strong></li>
	        <li class="TabbedPanelsTab" tabindex="1"><strong>Technical Specs</strong></li>
	        <li class="TabbedPanelsTab" tabindex="2"><strong>HTML Specs</strong></li>
	        <li class="TabbedPanelsTab" tabindex="3"><strong>Accessories</strong></li>
	        <li class="TabbedPanelsTab" tabindex="3"><strong>Static Specs</strong></li>
	        </ul>
			<div class="TabbedPanelsContentGroup">
		        <div class="TabbedPanelsContent">  
					<table>
			       	<tr>
			       		<td>
			       		
			       			<?
			       			if($kit == 1)
			       			{
			       				?>
			       				
			       				<font color="#ff0000"><B>This item is a kit, the components of the kit are:</B></font>
			       				<table>
			       				<tr bgcolor="#eeeeee">
										<td><div align=center><B>ID</B></div></td>
										<td><div align=center><B>Man Part</B></div></td>
										<td><div align=center><B>Title</B></div></td>
										<td><div align=center><B>Qty</B></div></td>
										<td><div align=center><B>Price</B></div></td>
									</tr>
			       				<?
			       				$query = "select product_list.id, product_list.manpart, product_list.descr, product_prices.price_level1, product_kitskus.qty
			       						 from 
										product_list, product_manufacturers, product_kitskus, product_prices 
										where 
										product_list.manid = product_manufacturers.manid and 
										product_list.id = product_kitskus.kid and 
										product_list.id = product_prices.id and
										product_kitskus.pid = '$id' 
										order by product_prices.price_level1 desc";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($kid, $manpart, $descr, $kprice, $qty) = mysql_fetch_array($qok))
								{
									?>
									<tr>
										<td><?=$kid;?></td>
										<td><?=$manpart;?></td>
										<td><?=$descr;?></td>
										<td align=center><?=$qty;?></td>
										<td align=right><?=number_format($kprice, 2);?></td>
									</tr>
									<?
								}
								?>
								</table>
								<?
			       			}
							?>
			       			<?=$salesdescr;?>
			       		</td>
			       	</tr>
			       	</table>	
		        </div>

		        <div class="TabbedPanelsContent">  	
					<?
					if($specs == false)
					{ 
						echo "<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td class=\"g\">Technical Specifications are not available at this time.</td></tr></table>"; 
					}
					else 
					{
					?>
						<table cellpadding="0" cellspacing="0" border=0>
						<?
						$lastsection = "BOO-YAH";
						for($xx = 0; $xx < count($specs['section']); $xx++)
						{
							if($specs['section'][$xx] != $lastsection)
							{
							?>
							<tr bgcolor="#eeeeee">
								<td colspan=2 class="white" height=22><B><B><?=$specs['section'][$xx];?></div></B></td>
							</tr>
							<?
							}
							?>
							<tr bgcolor="<? if($xx % 2) echo "#eeeeee"; else echo "#ffffff";?>">
								<td height=21 class="g" align=left width=125><div style="padding-left:4px"><?=$specs['dkey'][$xx];?></div></td>
								<td class="g" align=left><?=$specs['dval'][$xx];?></td>
							</tr>
							<?
							$lastsection = $specs['section'][$xx];
						}
						?>
						</table>
						<?
					}
					?>
		        </div>
		        
		    	<div class="TabbedPanelsContent">  	
					<?
						$htmlspecs = trim($efc->getHTMLSpecs($id));
					
						if($htmlspecs == "")
							echo "<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td class=\"g\">No HTML Specs for this item.</td></tr></table>"; 
						else 
							echo $htmlspecs;
					?>
		    	</div>
		    	
		         <div class="TabbedPanelsContent"> 				
					<?
		        	$acclist = $efc->getAccessoriesList($id, "");
		        	
					if(count($acclist) <= 0)
					{
						echo "<table cellpadding=0 cellspacing=0 border=0 width=100%><tr><td class=\"g\">No Accessories for this item.</td></tr></table>"; 
					}
					else 
					{
						$numout = 0;
						echo "<table>";
						
						for($xx = 0; $xx < count($acclist); $xx++)
						{
							$query = "select 	
									product_list.id,
									product_manufacturers.manname, 
									product_list.manpart, 
									product_list.descr,
									product_list.upccode,
									product_list.platform, 
									product_prices.price_msrp,
									product_prices.price_level1,
									product_list.visible
									from 
									product_list, product_manufacturers, product_prices
									where
									product_list.kit = '0' AND 
									product_list.manid = product_manufacturers.manid and 
									product_prices.id = product_list.id and product_list.id = '".$acclist[$xx]."'";
							
								$q6ok = mysql_db_query($DB, $query, $mysqlid);
								if($q6ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												
								if(mysql_num_rows($q6ok) > 0)
								{	
									list($xid, $manname, $manpart, $descr, $upccode, $platform, $msrp, $price, $visible) = mysql_fetch_array($q6ok);
									
									if(strlen($manpart) > 11)
										$manpart = substr($manpart, 0, 8) . "...";
									
									if($visible > 0)
										$buffer = "<table width=197 border=0>";
									else 
										$buffer = "<table width=197 border=0 bgcolor='#eeeeee'>";
										
									$buffer .= "<tr>";
									$buffer .= "	<td bgcolor=\"#eeeeee\" colspan=2><a href=\"/mgt/sm/viewsku.phtml?id=$xid&inwin=$inwin\" class=\"title\">$manname - $descr</a></td>";
									$buffer .= "</tr>";
									$buffer .= "<tr>";
									$buffer .= "	<td><a href=\"/mgt/sm/viewsku.phtml?id=$xid&inwin=$inwin\" class=\"title\"><img src=\"/$getimageURL?id=$xid&itype=0\" width=75 border=0></a></td>";
									$buffer .= "	<td class=\"g\">";
									$buffer .= "		<table width=100%>";
									$buffer .= "		<tr>";
									$buffer .= "			<td><div style=\"color:#800000;\" align=right><B>$ ".number_format($price, 2)."</B></div></td>";
									$buffer .= "		</tr>";
									$buffer .= "		<tr>";
									$buffer .= "			<td class=\"g\">Part: $manpart</td>";
									$buffer .= "		</tr>";
									$buffer .= "		<tr>";
									$buffer .= "			<td class=\"g\" align=right NOWRAP colspan=2>Add Item";
									$buffer .= "			<input type=\"checkbox\" name=\"acc[]\" value=\"$id\"></td>";
									$buffer .= "		</tr>";
									$buffer .= "		</table>";
											
									$buffer .= "	</td>";
									$buffer .= "</tr>";
									$buffer .= "</table>";
								
									if($numout == 0)
									{
										echo "\n<tr><td>";
										$numout++;
									}
									else if($numout > 2)
									{
										echo "</td></tr>\n";
										$numout = 1;
										echo "\n<tr><td>";
									}
									else
									{
										echo "</td><td>\n";
										$numout++;
									}
									
									//echo "DATA";
									echo $buffer;
									
									
								}
						}	
						
						echo "</table><BR><table><tr><td>* Greyed out accessories are not visible online.</td></tr></table>";
					}
					?>
			
		         </div>
		         
		         <div class="TabbedPanelsContent"> 
		         	<!-------------------------------------------------------------------------------------------------------------->
					<?
					$cattree = $efc->getCatTree($id);
		
					if(is_array($cattree))
	                {
						for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
						{
							$query = "select id from static_specs_templates where cat = '".$cattree['catid'][$xx]."'";
										
							//echo "$query<BR>";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok))
							{
								list($templateid) = mysql_fetch_array($qok);
								break;
							}
						}
					}
	                        	
	                $query = "select static_specs_columns.dkey, product_static_specs.dvalue from 
	                		static_specs_columns, product_static_specs 
	                        WHERE 
	                        static_specs_columns.tid = product_static_specs.tid AND 
	                        static_specs_columns.id = product_static_specs.sscid and 
							product_static_specs.id = '$id' and
	                        static_specs_columns.tid = '$templateid'
	                        order by static_specs_columns.dorder";
	                        	
	
					if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	                        	
	                        	
					if(mysql_num_rows($qok) > 0)
	                {
	                ?>
	                	<table border="0" cellspacing="1" cellpadding="3">
					<?	
	                }
	                        	
	                $oc = 0;
	                        	
	                while(list($dkey, $dvalue) = mysql_fetch_array($qok))
	                {
	                	if($oc == 0) echo "<tr>";
	                    ?>
	                    <td width="25%" bgcolor="#F0F0F0"><strong><?=$dkey;?></strong></td>
						<td width="25%" bgcolor="#F7F7F7"><?=$dvalue;?></td>
						<?
						if($oc == 1){ echo "</tr>"; $oc = -1; }
						$oc++;
					}
	                ?>
							
	                <?
					if(mysql_num_rows($qok) > 0)
	                {
	                ?>
	                </table>
	                <?	
	                }		         
	                ?>
			         <!-------------------------------------------------------------------------------------------------------------->
		         </div>
		         
			</div>
		</div>
				
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>		

<?
if($inwin == 0)
{
	?>

	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	<?
}
?>





</body>
</html>