<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

?>
<div style="font-family:verdana, helvetica, arial;font-size:11px;color:#000000;"><B>Local Warehouse</B></div>
<table width=100%>
	<tr bgcolor="#eeeeee">
		<td class="g1 align=center"><B>Warehouse</B></td>
		<td class="g1"><div style="text-align:center"><B>Inv. Available</B></div></td>
		<td class="g1"><div style="text-align:center"><B>Avg. Cost</B></div></td>
	</tr>	
<?

//
$typeBenabled = $efc->getConfigValue("eFluent Settings", "InvType");
if($typeBenabled == "B")
{
	$invarray = $efc->getInventoryType($id);
	$inv_type = $invarray['inv_type'];
}

if( ($efc->getConfigValue("eFluent Settings", "EditInventoryEditSKU") == 1) && ($inv_type == "A" || $inv_type == "") )
{
	$lstock = 0;
	$numwhout = "";
	
	$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($whid, $whname) = mysql_fetch_array($qok))
	{
		if($lwarehouse == "")
			$lwarehouse = "----";
			
		if(intval($id) > 0)
		{		
			$query = "select sum(inv_available), cost from product_inventory where id = '$id' and whid = '$whid' group by whid";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);
		}
		else 
		{
			$inv_lavailable = $inv_lcost = 0;
		}
		
		$lstock += $inv_lavailable;
		?>
		<tr>
			<td><?=$whname;?> [<?=$whid;?>]</td>
			<td><?=$inv_lavailable;?></td>
			<td><?=$inv_lcost;?></td>
		</tr>
		<?
	}
}
else if($inv_type == "A" || $inv_type == "")
{
	?>
	<div style="font-family:verdana, helvetica, arial;font-size:11px;color:#000000;"><B>Local Warehouse</B></div>
	<table width=100%>
		<tr bgcolor="#eeeeee">
			<td class="g1 align=center"><B>Warehouse</B></td>
			<td class="g1"><div style="text-align:center"><B>Inv. Available</B></div></td>
			<td class="g1"><div style="text-align:center"><B>Avg. Cost</B></div></td>
		</tr>	
	<?
	$lstock = 0;
	$numwhout = "";
	
	$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($whid, $whname) = mysql_fetch_array($qok))
	{
		if($lwarehouse == "")
			$lwarehouse = "----";
					
		$query = "select sum(inv_available), cost from product_inventory where id = '$id' and whid = '$whid' group by whid";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);
		
		$lstock += $inv_lavailable;
		?>
		<tr>
			<td><?=$whname;?> [<?=$whid;?>]</td>
			<td><?=$inv_lavailable;?></td>
			<td><?=$inv_lcost;?></td>
		</tr>
		<?
	}
}
?>
</table>
