<script>
function makeSKUsVisible()
{
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}
	
	document.visoptions.idlist.value = skus;
	
	document.visoptions.submit();

}
</script>
<form name="visoptions" method="post" action="/mgt/sm/visible_skus.phtml" style="margin:0px">
<input type="hidden" name="idlist" value="">
<table>
<tr>
	<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.visoptions, document.pereport);">Select All SKUs</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td class="g1"><div style="padding-top:3px">Visible:</td>
	<td>
	<input type="checkbox" name="visible" value="1" CHECKED>Visible	<BR>
	<input type="checkbox" name="sysvis" value="1">System Controlled Visible<BR>	
	<input type="checkbox" name="sysds" value="1">DS	
	</td>
	
	<td>&nbsp;&nbsp;&nbsp;</td>
	
	<td valign=top><input type="button" name="Action" value="Save" class="buttonItem" onclick="makeSKUsVisible();"></td>

</tr>
</table>
</form>