<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date


?>
<table width=99% id="results" bgcolor="#eeeeff">
<tr bgcolor="#eeeeee">
	<td height=21 align=center width=5%><B>PID</B></td>
	<td align=center  width=5%><B>Man.</B></td>
	<td align=center  width=10%><B>Man Part</B></td>
	<td align=center  width=40%><B>Descr</B></td>
	<td align=center  width=10%><B>Ordered</B></td>
	<td align=center  width=10%><B>Received</B></td>
	<td align=center width=10%><B>Cost</B></td>
	<td align=center  width=10%><B>Total</B></td>		
</tr>
<?
if($rdate != "")
	$addon .= " AND vendor_receipt.tstamp >= '".date("Y-m-d 00:00:00", strtotime($rdate))."' AND vendor_receipt.tstamp <= '".date("Y-m-d 23:59:59", strtotime($rdate))."'";

if(intval($vendorid) > 0)
	$addon .= " AND vendor_pos.vendorid = '$vendorid'";
	
if($status != "")
	$addon .= " AND vendor_pos.status = '$status'";

if($buyerid != "")
	$addon .= " AND vendor_pos.repid = '$buyerid'";

	
$query = "select vendor_receipt_lines.pid, vendor_receipt_lines.manname, vendor_receipt_lines.manpart, 
			vendor_receipt_lines.descr, vendor_receipt_lines.qty, vendor_receipt_lines.cost
			from
			vendor_receipt, vendor_pos, vendor_receipt_lines where
			vendor_receipt.id = vendor_receipt_lines.vid AND 
			vendor_receipt_lines.pid > 0 AND
			vendor_pos.poid = '$poid' AND
			vendor_receipt.poid = vendor_pos.poid $addon	
			 ";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $manname, $manpart, $descr, $qty, $cost) = mysql_fetch_array($qok))
{
	$query = "select qty_ordered from vendor_po_lines where poid = '$poid' and pid = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($ordered) = mysql_fetch_array($q2ok);
	
?>
<tr bgcolor="#FFFFEE">
	<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU <?=$pid;?>');"><?=$pid;?></a></td>
	<td height=21><?=$manname;?></td>
	<td height=21><?=$manpart;?></td>
	<td height=21><?=$descr;?></td>
	<td height=21 align=center><?=$ordered;?></td>
	<td height=21 align=center><?=$qty;?></td>
	<td height=21 align=right><?=$cost;?></td>
	<td height=21 align=right><?=number_format($qty * $cost, 2);?></td>	
</tr>
<?
}
?>