<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
require_once($ROOT_DIR."/mgt/em/class.phpmailer.php");
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
if($keycode == "9782ga87t174gadf7g134b-asdf2834y")
{
	// bulkshipping
}
else 
{
	REQUIRE($ROOT_DIR."/mgt/auth.phtml");
}

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if($invoiceid == "")
{
	echo "Blank InvoiceID?";
	exit;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$on = $efc->getOrderNumber($invoiceid);
$pidlist = explode(",", $productlist);
		
for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);
	
	if(intval($pid) > 0)
	{
		$query = "select lineid from customer_order_lines where qty_ordered > qty_shipped AND orderid = '$on' and prodid = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) <= 0)
		{
			echo "This would create a duplicate shipment!";
			exit;
		}
	}
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$wbn = intval($efc->getConfigValue("HDUSA", "WAYBILL_NUMBER")) + 1; // 1
$wbp = $efc->getConfigValue("HDUSA", "WAYBILL_PREFIX"); // SU
$waybill = $wbp . sprintf("%04s",   $wbn);

$mts = explode(" ", $shipmethod);
$method = $mts[0];

$ship2name = str_replace("&", "&amp;", $ship2name);

$xml = "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" ?> 
<SHIPMENT_FILE>
<SHIPMENT>
<HEADER>
<WAYBILL_NUMBER>$waybill</WAYBILL_NUMBER> 
<ACTION_CODE>A</ACTION_CODE> 
<ISA_SENDER_ID>OUTLOOK</ISA_SENDER_ID> 
<ISA_RECEIVER_ID /> 
<ISA_SENT_DT /> 
<ISA_CONTROL_NO /> 
<REQ_PICKUP_DATE /> 
<REQ_DELIVERY_DATE /> 
<ORDER_TYPE>NDLS</ORDER_TYPE> 
<VENDOR_SKU /> 
<VENDOR_CD /> 
<REMARKS /> 
<SHIP_VIA /> 
<CONSOLIDATOR_ADDR /> 
<CONCEPT_CODE /> 
<WAREHOUSE_CODE /> 
<SHIPPING_INSTRUCTIONS /> 
<RETURN_FLAG /> 
<SERVICE_LEVEL>$method</SERVICE_LEVEL> 
<VALUATION_AMT>0</VALUATION_AMT> 
<DELUXING_FLAG>N</DELUXING_FLAG> 
</HEADER>
<SHIPPER_REFERENCES>
<SHIPPER_REFERENCE>
<REFERENCE_CODE>01</REFERENCE_CODE> 
<REFERENCE_NUMBER>$invoiceid</REFERENCE_NUMBER> 
<REFERENCE_DESCRIPTION /> 
</SHIPPER_REFERENCE>
</SHIPPER_REFERENCES>
<SHIPPER>
<COMPANY_NAME>".addslashes($efc->getConfigValue("Company Information", "CompanyName"))."</COMPANY_NAME> 
<SHIPPER_PHONE /> 
<SHIPPER_ADDRESS1>".addslashes($efc->getConfigValue("Company Information", "CompanyAddress1"))."</SHIPPER_ADDRESS1> 
<SHIPPER_ADDRESS2>".addslashes($efc->getConfigValue("Company Information", "CompanyAddress2"))."</SHIPPER_ADDRESS2> 
<SHIPPER_CITY>".addslashes($efc->getConfigValue("Company Information", "CompanyCity"))."</SHIPPER_CITY> 
<SHIPPER_STATE>".addslashes($efc->getConfigValue("Company Information", "CompanyState"))."</SHIPPER_STATE> 
<SHIPPER_ZIP>".addslashes($efc->getConfigValue("Company Information", "CompanyZip"))."</SHIPPER_ZIP> 
<SHIPPER_COUNTRY>USA</SHIPPER_COUNTRY> 
<SHIPPER_CONTACTS>
<SHIPPER_CONTACT_NAME_1>".addslashes($_SESSION["DISPLAYNAME"])."</SHIPPER_CONTACT_NAME_1> 
<SHIPPER_PHONE_NUMBER_1>".addslashes($efc->getConfigValue("Company Information", "CompanyPhone"))."</SHIPPER_PHONE_NUMBER_1> 
<SHIPPER_CONTACT_NAME_2 /> 
<SHIPPER_PHONE_NUMBER_2 /> 
</SHIPPER_CONTACTS>
<SHIPPER_EMAIL>".addslashes($efc->getConfigValue("Company Information", "ShipEmail"))."</SHIPPER_EMAIL> 
<SHIPPER_FAX /> 
</SHIPPER>
<CONSIGNEE>
<CONSIGNEE_NAME>$ship2name</CONSIGNEE_NAME> 
<CONSIGNEE_ADDRESS1>$ship2street1</CONSIGNEE_ADDRESS1> 
<CONSIGNEE_ADDRESS2>$ship2street2</CONSIGNEE_ADDRESS2> 
<CONSIGNEE_CITY>$ship2city</CONSIGNEE_CITY> 
<CONSIGNEE_STATE>$ship2state</CONSIGNEE_STATE> 
<CONSIGNEE_ZIP>$ship2zip</CONSIGNEE_ZIP> 
<CONSIGNEE_COUNTRY>$ship2country</CONSIGNEE_COUNTRY> 
<CONSIGNEE_EMAIL_ADDRESS>$emailaddr</CONSIGNEE_EMAIL_ADDRESS> 
<CONSIGNEE_FAX /> 
<CONSIGNEE_CONTACTS>
<CONSIGNEE_CONTACT_NAME_1>$ship2name</CONSIGNEE_CONTACT_NAME_1> 
<CONSIGNEE_PHONE_NUMBER_1>$ship2phone</CONSIGNEE_PHONE_NUMBER_1> 
<CONSIGNEE_CONTACT_NAME_2 /> 
<CONSIGNEE_PHONE_NUMBER_2 /> 
<CONSIGNEE_CONTACT_NAME_3 /> 
<CONSIGNEE_PHONE_NUMBER_3 /> 
</CONSIGNEE_CONTACTS>
</CONSIGNEE>
<LINES>";

$pidlist = explode(",", $productlist);

$gotother = 0;
$itemcount = 0;

for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial, $other) = explode(":", $pidlist[$xx]);
	
	if(intval($pid) > 0 && ($other == 0))
	{
		$itemcount++;
	}
}

for($xx = 0; $xx < count($pidlist); $xx++)
{//update the qty shipped for each item
	list($pid, $whid, $serial, $other) = explode(":", $pidlist[$xx]);

	if(intval($pid) > 0 && ($other == 0))
	{
		$query = "select descr, shipcode, sku, shipweight from product_list where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($descr, $shipcode, $sku, $i_shipweight) = mysql_fetch_array($qok);
	
		$descr = str_replace("\"", "", $descr);
		$descr = str_replace("&", "", $descr);
		
		if(intval($itemcount) == 0)
			$itemcount = 1;
		
		$i_cost = $efc->getActualCostHistory($pid);
		
		if(floatval($i_shipweight) <= 0.00)
		{
			echo "Please Edit SKU $pid ($sku) and add the proper shipping weight";
			exit;
		}
		
		if(floatval($i_cost) <= 0.00)
		{
			echo "Please Edit SKU $pid ($sku) and add the proper cost";
			exit;			
		}
		
		$xml .= "<LINE>
			<SKU>$pid</SKU> 
			<QUANTITY>1</QUANTITY> 
			<UNIT_PIECECT /> 
			<UNIT_WEIGHT>$i_shipweight</UNIT_WEIGHT> 
			<DIMENSIONS>
			<LENGTH /> 
			<HEIGHT /> 
			<WIDTH /> 
			<DIMENSIONUOM /> 
			<WEIGHTUOM /> 
			</DIMENSIONS>
			<DESCRIPTION>$descr</DESCRIPTION> 
			<LINE_REF_1 /> 
			<LINE_REF_2 /> 
			<SHIP_MODE /> 
			<MASTER_SKU /> 
			<MANUFACTURER_CODE /> 
			<CARTON_ID /> 
			</LINE>";
	}
	else if(intval($pid) > 0 && ($other == 1))
	{
		$gotother = 1;
	}
}	


$xml .= "</LINES>
</SHIPMENT>
</SHIPMENT_FILE>";
				

$finalfile = $ROOT_DIR."/mgt/temp/$invoiceid.xml";
$fp = fopen($finalfile, "w");
if(!$fp)
{
	echo "ERROR CREATING XML FILE\n";
	exit;
}
fputs($fp, $xml);
fclose($fp);

$ftplocation = "ftp://acquisitionsFTP:VHqqY9!#@ftp.homedirectusa.com/ftp98477/IN/OUTLOOK_$invoiceid.xml";

$ch = curl_init($ftplocation);
$fp = fopen($finalfile, "r");
		
curl_setopt($ch, CURLOPT_INFILE, $fp);
curl_setopt($ch, CURLOPT_UPLOAD, TRUE) ;
curl_setopt($ch, CURLOPT_FTPPORT, "-");

		
if(!curl_exec($ch))
{
	echo "ERROR FTPING FILE\n";
	exit;
}

///////////////////////////////////////////////////
// Write the label
/*$uid = "hdusa-".$invoiceid."-".date("m-d-Y.H.i.s", time()).".epl2";
$fp = fopen($ROOT_DIR."/mgt/ship/labels/$uid", 'wb');   

fclose($fp);
////////////////////////////////////////////////////////////////*/
	
	
$tracking = $waybill;
$shipcost = 0.00;
	
$tstamp = date("Y-m-d H:i:s", strtotime($shipdate));
		
$xshipdate = strtotime($shipdate);
	
$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost) ";
$query .= "values('$invoiceid', '$tracking', '$shipmethod', 'hdusa', '$xshipdate', '$shipcost') ";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$tid = mysql_insert_id();

//add id of user who shipped the order
if ($DB == 'butterfly') {
	$query = "UPDATE customer_order_tracking SET shipped_user_id='".$_SESSION["ID"]."' WHERE tid='".$tid."'";
    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

$on = $efc->getOrderNumber($invoiceid);
$pidlist = explode(",", $productlist);
		
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// update customer_order_tracking_extended
for($xx = 0; $xx < count($pidlist); $xx++)
{//update the qty shipped for each item
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);
			
	if(intval($pid) > 0)
	{
		$serial = addslashes($serial);
		// save what was in the box
		$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$on', '$tid', '$tracking', '$pid', '$serial')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ship all coupons
$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
// ship all kits
$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and kit = '2'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

		
for($xx = 0; $xx < count($pidlist); $xx++)
{//update the qty shipped for each item
	list($pid, $whid) = explode(":", $pidlist[$xx]);
			
	if(intval($pid) > 0)
	{
		$now = time();
		$cost = $efc->getActualCost($pid);
		$scost = $efc->getSalesmanCost($pid);
				
		if($efc->getOrderType($on) == "EXCHANGE")
		{
			$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid' and ex_return = 0";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }					
		}
		else 
		{
			$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
				
		$efc->updateInventory(0, 1, $shipcost, $pid, $whid, "", $on);
				
	}
}
        
$efc->getStartStatus($on);
if($efc->getOrderType($on) == "EXCHANGE")
{
	$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($numleft) = mysql_fetch_array($qok);
				
	if($numleft <= 0)
	{
		$completedate = time();
		$query = "update customer_orders set status = '50', completedate = '$completedate' where orderid = '$on'";	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
else 
{
	// see if everything on the order has shipped
	$query = "select lineid, prodid from customer_order_lines where orderid = '$on' AND qty_ordered > qty_shipped";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		// success
		$query = "select customer_orders.status, company_orderflow.success from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($this_step, $success_step) = mysql_fetch_array($qok);
				
		$query = "update customer_orders set status = '$success_step' where orderid = '$on'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	else 
	{
		// failure .... partially shipped
		$query = "select customer_orders.status, company_orderflow.failure from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($this_step, $failure_step) = mysql_fetch_array($qok);
				
		$query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}

$query = "update configuration set config_value = '$wbn' where config_group = 'HDUSA' and config_key = 'WAYBILL_NUMBER'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$efc->getLogStopStatus($on);
$efc->recalculateInventory($on);
if($kitpid = $efc->orderWasKit($on))
	$efc->internal_repriceKits($kitpid, 0, 0);

$efc->UpdatePool(2, $on);
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$baseURL = $efc->getConfigValue("Company Information", "baseURL")."/mgt/ship/billoflading.phtml?tid=$tid";
   
echo "OK\t$waybill\t0.00\t\t$baseURL\n";
?>