<?
/*error_reporting(E_ALL);
ini_set('display_errors', '1');*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($Action == "Delete")
{
	$query = "delete from product_templates where id = '$tid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/template/default.phtml");
	exit;
}
else if($Action == "Upload")
{
	$filename = $form_data;
	
	$query = "select filename from product_mapping where id = '$mid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($filepath) = mysql_fetch_array($qok);	
	
	if(!unlink($filepath))
	{
		echo "ERROR REMOVING OLD FILE ($filepath)<BR>\n";
		exit;
	}
	
	if(!move_uploaded_file($filename, $filepath))
	{
		echo "ERROR MOVING UPLOADED FILE<BR>\n";
		exit;
	}
	

	Header("Location: /mgt/template/default.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Product Template Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>

<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Product Mappings</B>
		<BR><BR>
			<table id="results" class="sortable" width=50%>
			<tr bgcolor="#eeeeee">
				<th height=21>ID</th>
				<th class="sortable_caseinsensitive">URL</th>
				<th class="sortable_caseinsensitive">PID</th>
				<th class="sortable_caseinsensitive">Template ID</th>	
				<th class="sortable_caseinsensitive">Filename</th>	
			</tr>			
			<?
			$query = "select id, url, pid, tid, filename from product_mapping";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($id, $url, $pid, $tid, $filename) = mysql_fetch_array($qok))
			{
				$tstamp = date("m/d/Y H:i:s", strtotime($tstamp));
				?>
				<tr>
					<td><?=$id;?></td>
					<td align=center><?=$url;?></td>
					<td align=center><?=$pid;?></td>
					<td align=center><?=$tid;?></td>
					<td align=center>
						<a href="download_mapping.phtml?mid=<?=$id;?>"><?=$filename;?></a><BR>
						<table>
						<tr>
							<td bgcolor="#ffffff">
								<form method="post" enctype="multipart/form-data" action="default.phtml">
								Replace file: <input type="file" name="form_data" size="20" class="buttonItem">
								<input type="hidden" name="mid" value="<?=$id;?>">
								<input type="hidden" name="filesize" value="290238">
								<input type="submit"  name="Action" value="Upload" class="buttonItem">
								</form>
							</td>
						</tr>
						</table>
					</td>
				</tr>
				<?
			}
			?>
			</table>
		<BR><BR>
		<a href="mapping_create.phtml">Create New Mapping</a>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>


	
</body>
</html>
<?mysql_close();?>