<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure

if($Action == "Delete")
{
	$query = "delete from product_templates where id = '$tid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/product/templates.phtml");
}

if($Action == "Save Template")
{
	$tstamp = date("Y-m-d H:i:s", time());
	
	if(intval($tid) > 0)
	{
		$query = "update product_templates set tstamp = '$tstamp', title = '".addslashes($title)."', body = '".addslashes($body)."' where id = '$tid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$msg = "Template Updated";
	}
	else 
	{
		$query = "insert into product_templates(title, tstamp, body) values('".addslashes($title)."', '$tstamp', '".addslashes($body)."')";	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$tid = mysql_insert_id();
		Header("Location: /mgt/template/template_create.phtml?tid=$tid&raw=$raw&msg=Template+Created");
		exit;
	}
}

if(intval($tid) > 0)
{
	$query = "select title, body from product_templates where id = '$tid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($title, $body) = mysql_fetch_array($qok);
}
?>
<HTML>
<HEAD>
<TITLE>Product Template Manager - <?=$title;?></TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>

<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Edit/Create Templates</B>
		<BR><BR>
		<form style="margin:0px" method="POST">
		<input type="hidden" name="tid" value="<?=$tid;?>">
		<input type="hidden" name="raw" value="<?=$raw;?>">
		<table>
		<tr>
			 <td bgcolor="#eeeeee">Title:</td>
			 <td>
			 	<input type="text" name="title" value="<?=$title;?>" style="width:250px" class="formBox"> <font color="#ff0000"><B><?=$msg;?></B></font>
			 </td>
			 <td>
			 
			 </td>
		</tr>
		</table>
		
		<table>
		<tr>
			<td valign=top>
			<?
			if(intval($raw) == 0)
			{
				?>
				<div align=right><a href="template_create.phtml?tid=<?=$tid;?>&raw=1">Use Raw Editor</a></div>
				<BR><BR>
				<?
				$oFCKeditor = new FCKeditor('body') ;
				$oFCKeditor->BasePath	= "/mgt/help/";
				$oFCKeditor->Value		= "$body";
				$oFCKeditor->Width = "800";
				$oFCKeditor->Height = "600";
				$oFCKeditor->ToolbarStartExpanded = false ;
				$oFCKeditor->Create() ;
					
			}
			else 
			{
			?>
				<div align=right><a href="template_create.phtml?tid=<?=$tid;?>&raw=0">Use Rich Editor</a></div>
				<BR><BR>
				<textarea name="body" style="width:800px;height:600px" style="formBox"><?=$body;?></textarea>
			<?
			}
			?>	
			<script>
			function testWindow()
			{
				var el = document.getElementById("pid");
				
				if(el.value == "")
				{
					alert('Enter a PID');
				}
				else
				{
					window.open("/mgt/template/merged_pid.phtml?pid="+el.value+"&tid=<?=$tid;?>");
				}
				

			}
			</script>
			<BR><BR>
			<table>
			<tr>
				<td><input type="submit" name="Action" value="Save Template" class="buttonItem"></td>
				<td>
					<table>
					<tr>
						<td>PID: <input type="text" name="pid" id="pid" value="<?=$pid;?>"" style="width:55px" class="formBox"> </td>
						<td>
							<input type="button" name="Test" value="Test Template" onclick="testWindow();" class="buttonItem">
						</td>
					</tr>
					</table>
					<I>Enter a PID and Click Test to see how the template merge will look (remember to save your changes first).</I>
						
				</td>
			</tr>
			</table>
			</form>
			
			
			</td>
			<td style="border-right:1px dotted #808080;">&nbsp;&nbsp;</td>
			<td valign=top  style="border-top:1px dotted #808080;border-bottom:1px dotted #808080;padding:2px;">
				<B>Variable List - Product</B>
				<UL>
					<LI>#brand# - the manufacturer's name</LI>
					<LI>#producttitle# - the item's title</LI>
					<LI>#cfidortitle_XX# - will use a CFID in place of the title XX is the CFID</LI>
					<LI>#cfidostatic_XX'STATIC TITLE'# - will use a CFID or your static text if CFID is blank</LI>
					<LI>#sku# - the item's sku</LI>
					<LI>#pid# - the item's product id</LI>
					<LI>#cat# - the item's lowest leaf category</LI>
					<LI>#fullcat# - the item's cattree (eg. Stereos / Home Stereos / XM)</LI>
					<LI>#keyword1# thru #keyword5# - Keywords1 thru 5 from edit sku 'keywords'</LI>
					<LI>#upc# - the item's UPC</LI>
					<LI>#model# - the item's Model#</LI>
					<LI>#cfid_XX# - any custom field identifier where XX is the custom field ID.</LI>
					<LI>#image_XX# - The image LINK...  XX = 0 would be the main image of your product</LI>
					<LI>#images_array# - will output ALL your images in the format 'URL', 'URL', 'URL' </LI>
					<LI>#thumbs_array# - will output ALL your thumbnails in the format 'URL', 'URL', 'URL' </LI>
				</UL>
				<B>Variable List - Data</B>
				<UL>
					<LI>#sales_description# - Sales Description</LI>
					<LI>#html_specs# - HTML Specs</LI>
					<LI>#tech_specs# - Tech Specs</LI>
					<LI>#static_template#</LI>
					<LI>#staticspecs# - Static Specs</LI>
					<LI>#html_tech# - HTML Specs if available, if not Tech Specs</LI>
					<LI>#tech_html# - Tech Specs if available, if not HTML Specs</LI>
					<LI>#manpart# - The Manufacturer's Part Number</LI>
					<LI>#shipsin# - The ships in text from Edit SKU page #1</LI>
					<LI>#conditiontext# - New or Refurbished</LI>
					<LI>#inthebox# - What's in the Box tab from Edit SKU</LI>
					<LI>#kitcontains# - What components are in the kit</LI>
					<LI>#help_XX# - any help section where XX is the help ID.</LI>
				</UL>
			</td>
		</tr>
		</table>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>


	
</body>
</html>
<?mysql_close();?>