<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);



?>
<chart palette='1' caption='Amazon Profit' shownames='1' showvalues='0'  numberPrefix='$' showSum='1' decimals='0' overlapColumns='0'>

<categories>
<?
for($xx = 5; $xx > 0; $xx--)
{
?>
<category label='<?=date("D m/d", time() - 86400 * $xx);?>' />
<?
}
?>
</categories>

<dataset seriesName='Weekly Amazon Profit'  showValues='0'>
<?
for($xx = 5; $xx > 0; $xx--)
{
	$xdate = date("Y/m/d", time() - (86400 * $xx));

	$bdate = strtotime( "$xdate 00:00:00" );
	$edate = strtotime( "$xdate 23:59:59" );

	$query = "select sum( subtotal - cost ) from customer_orders, company_orderflow where clicktype = '1' AND clickid = 'AM' and customer_orders.status = company_orderflow.step and company_orderflow.complete = 1 and orderdate >= UNIX_TIMESTAMP( '$bdate' )  and orderdate <= UNIX_TIMESTAMP( '$edate' ) ;";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($total) = mysql_fetch_array($qok);
	?>
	<set value='<?=number_format($total, 2, ".", "");?>' />
	<?
}
?>
</dataset>

</chart>

