<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;About';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">
    <div id="content" role="main" style="margin:5px 0 0 0;">
	<article id="post-7" class="post-7 page type-page status-publish hentry">
	    <div class="entry-content">
		<p><img style="float: left; margin: 0 10px 5px 0;" alt="Matt Monarch on Tour" src="/images/matt-monarch-300x146.jpg" width="230" border="0" />Matt Monarch has been at the forefront of the Raw Foods Movement for over 16 years.  Matt and his family are expats and reside in Vilcabamba, Ecuador, which is known as the "Valley of Longevity".  Many people consider Matt&#8217;s family &#8216;extreme&#8217; due to how they embrace their &#8216;all natural&#8217; way of living. For example, they eat a 100% raw food diet, grow around 90% of their own biodynamic &amp; organic food, had a successful unassisted home waterbirth without any doctors, hospitals, midwives or doulas, have never used a diaper, homeschool (well actually un-school), don&#8217;t vaccinate, and so on.</p>
		<p><img style="float:right;margin:4px 0 22px 5px;" alt="The Monarchs" src="/images/fam3.jpg" width="200" border="0" />Matt and his family moved to Ecuador to live in a safe, healthy environment with pristine air, no "chemtrails", great soil, weather and water and very low cost of living (e.g. 4 avocados or mangoes for $1).  In this more natural, less-regulated environment it was easy for them to set up their own organic gardens and orchards and live a more natural lifestyle. On <a href="http://www.youtube.com/therawfoodworld" target="_blank">their YouTube TV Show</a>, they&#8217;ve shown rental houses in Vilcabamba, Ecuador for as little as $150 a month and entire homes built for as little as $8000. Many people unfortunately have fear programs these days that keep them from making even one natural choice.  Matt teaches healthy eating as a critical first step to help people break out of this &#8216;Matrix&#8217;.</p>
		<p>Matt has met thousands of people around the world who have healed from practically every known disease by embracing a natural way of life, including improving their dietary lifestyle. Matt travels worldwide teaching about healthy eating and healing from degenerative diseases. Matt shares many different methods to help people in their healing process, whether they want to follow a strict 100% Raw Food Diet or choose a simple cooked/raw Whole Foods Diet, void of processed foods. Matt has worked with numerous clients, celebrities, nutritionists and doctors over the years, and has studied all of the alternative diets and methods on the market today.</p>
		<p><img style="float: left; margin: 0 10px 5px 0;" alt="Maca" src="/images/macaclose2.jpg" width="230" border="0" />Matt is the CEO of &#8216;The Raw Food World&#8217;, which is the largest online Raw Food &amp; Superfoods store in the world; <a href="http://www.therawfoodworld.com/" target="_blank">www.TheRawFoodWorld.com</a>. Matt has dedicated his life to sourcing the highest quality Raw Foods and Superfoods on the planet. On <a href="http://www.youtube.com/therawfoodworld" target="_blank">Matt&#8217;s YouTube channel</a>, you can see many of The Raw Food World&#8217;s Superfoods being sourced worldwide, including fields of Maca located in a pristine National Reserve, Camu Camu from remote regions of the untouched Amazonian Rainforest, only accessible by boat, many other Superfoods located on small family farms at over 13,000ft elevation on the slopes of the Peruvian Andes and so much more.</p>
		<p><img style="float: right; margin: 0 0 5px 10px;" alt="Angela Stokes-Monarch before and after" src="/images/angela-stokes.jpg" width="300" border="0" />Matt Monarch&#8217;s wife Angela Stokes-Monarch was the number one health story of the year on CNN. She used to weigh 300 pounds and lost more than half her body weight by embracing the Raw Food Lifestyle. Their happy and healthy daughter Oria was born at home on November 20th, 2011, surprising everyone, as Matt and Angela had kept her pregnancy and birth a total secret in order to avoid external fears, pressures and concerns about their natural way of living. Oria is loved and adored by thousands of people worldwide, who stay up to date with Matt&#8217;s popular &#8216;The Raw Food World&#8217; TV Show on YouTube.</p>
	    </div><!-- .entry-content -->
	</article><!-- #post -->
    </div><!-- #content -->
</div>