<?php $wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;Prop 65'; ?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">

<center><img src="<?php echo BASE_URL; ?>/images/001.png" /></center>
<br /><br />
	<h1>What is California’s Proposition 65 all about?</h1>
    
    In 1986 residents of California passed legislation creating Proposition 65, a well-intentioned but poorly drafted law, created to purportedly help keep California residents safe from dangerous chemicals. The original list of chemicals has grown from 30 to well over 800. (click <a href="http://www.oehha.ca.gov/prop65/prop65_list/Newlist.html" target="_blank">here</a> for the full list). 
<br /><br />
One would think that after $162 million dollars in fines were levied against violators of this law, California residents would reap the benefits of a better health and welfare in terms of products regulated by Proposition 65. The sad truth is that no one is any healthier, except the wallets and bank accounts of the law firms who file these often meritless lawsuits. Many small companies who are struggling to survive in a tough economy have found out the hard way that a Proposition 65 violation will put you out of business. 
<br /><br />
It’s easy to see why, then, that since Proposition 65’s 1986 passage, there has been no decrease in incidences of cancer in California. You’d expect that if Californians were suddenly informed about the public health risks of everyday products, there would be associated lifestyle changes and changes in product formulations that would dramatically lower cancer risks. However, research from Professor Michael Marlow at California Polytechnic State University shows that simply isn’t the case.
<br /><br />
Under most federal or state environmental regulations, the government is in charge of ensuring that businesses comply with the law. But California’s Proposition 65 contains a unique "citizen lawsuit" provision. That means private citizens can file lawsuits against businesses they claim aren’t fully complying with the law—regardless of whether or not that’s true.
<br /><br />
There are heavy incentives for citizens to file as many lawsuits as possible:

<ul>
<li>As a “bounty” reward, citizens or organizations that bring lawsuits against businesses are awarded one-quarter of the civil penalty paid by a business found in violation;</li>
<li>The majority of businesses opt to settle lawsuits out of court rather than going through the expensive and time consuming process of a trial—that means the odds of winning a judgment against a business is relatively high.;</li>
<li>There is no requirement that organizations or individuals prove that they have been injured in any way by whatever violation of the Prop 65 they are claiming; and</li>
<li>The plaintiffs’ attorneys’ fees are <a href="http://cjac.org/assets/Cons_Def_Group_v_Rental_Housing_Ind_G035101_Opinion_24mar06.pdf" target="_blank">almost always</a> paid at the end of litigation.</li>
</ul>
Some of those most active bounty hunters have brought in more than $100,000 per year in collected enforcement fees.
<br /><br />
   <h2>What does Proposition 65 require?</h2>
   
   <center><img src="<?php echo BASE_URL; ?>/images/002.png" /></center>
   <br /><br />   
   <b>"WARNING: This product contains a chemical known to the State of California to cause cancer, or birth defects or other reproductive harm."</b>
<br /><br />
You'll find this warning on food products, airplanes, in coffee shops, restaurants, and if you look close enough, just about everywhere in California. Because so many businesses and products fall under the requirements, there is no real way for consumers to know what the actual danger is.
<br /><br />
The Raw Food World products you have seen this warning on most likely contain minuscule amounts of Lead, Cadmium, Arsenic, and Mercury. They are naturally occurring in the soil where our crops are grown, and they are perfectly safe to consume – read on to find out why.
<br /><br />
Proposition 65 requires warning labels or signage whenever exposure could cause more than “one excess case of cancer in 100,000 individuals exposed to the chemical over a 70-year lifetime.” Often these levels are 1,000 times lower than what is considered normal “safe” levels – creating standards that realistically can’t be met.
<br /><br />
The truth is, there is absolutely no proof that products carrying this warning cause cancer or birth defects.
<br /><br />

<center><img src="<?php echo BASE_URL; ?>/images/003.png" /></center>
<br /><br />
<b><em>California’s Office of Environmental Health Hazard Assessment clearly states:</em></b>
"A Proposition 65 warning does not necessarily mean a product is in violation of any product-safety standards or requirements."
<br /><br />
<b><em>And according to the American Cancer Society:</em></b>
<br /><br />
“Scientists classify all of these cancer-related substances at least as probable carcinogens, meaning that they might cause cancer in some people. But not all of them are known carcinogens (known to cause cancer) by groups and experts outside of the state of California. This means that not every compound labeled as a possible cancer-causing substance has been proven to the worldwide scientific community to actually cause cancer."

<center><img src="<?php echo BASE_URL; ?>/images/004.png" /></center>
<br /><br />
<h2>Is my food safe?</h2>
Yes! We believe in the safety levels set by t¬he EPA, FDA, EU, and WHO for lead, cadmium, mercury, and arsenic (the four most common heavy metals found in superfoods). In fact, our products fall well below these nationally and internationally-recognized safety levels. But Prop 65 standards are set at levels that are often impossible to reach with plant-based foods that naturally (and harmlessly) absorb these heavy metals from the soil.
<br /><br />
Prop 65 is far more stringent than FDA and EU standards. Prop 65 Warnings are required for even tiny levels of these natural substances - often a 1000x less than the minimum safe dose established by health authorities. Our products comply with the high standards of USDA Organic, Non-GMO, Kosher and Gluten Free certifiers. We regularly test our products for purity, and we personally eat them every day.

<h2>Why are there Chemicals in my Foods and Superfoods?</h2>
Chemicals that may trigger this requirement, such as Lead, Cadmium, Nickel and Arsenic, have been found in products of some of the other companies within the superfood industry.
<br /><br />
Though these elements are naturally present in the fertile soil where they are metabolized by plants and play a vital part in a balanced and nutrient-dense diet, the same elements can be extracted and isolated, as they are used in a concentrated toxic form for paints, chemicals, cleaners, solvents, glues, even pharmaceuticals. Prop 65 requires a warning that the product might contain a very small amount of this chemical, despite to its origin.

<h2>Should I be concerned about the amount of Cadmium in my diet?</h2>
The amount of cadmium in foods is generally low. In the United States, people typically eat 2.5 micrograms of cadmium per kilogram of their body weight per week. The EU recommended daily limit is 2.5 micrograms per kg body weight per week which for a 150 pound person translates to 170 micrograms per week or 24 micrograms per day. One serving of our Cacao Powder is well below the current EU daily limit for an average sized adult. Many foods have trace levels of cadmium, including meats, grains (especially rice), vegetables (especially leafy greens) and sunflower seeds. The Children’s Food Project report of the Canadian Food Inspection Agency found cadmium in 57% of the foods tested. The highest level of cadmium was found in breakfast cereal at .284 ppm. Ninety-seven percent of the nut-based products contained cadmium with an average of 0.053 ppm. Health Canada did not consider that any of the tested foods represented a concern to human health with respect to the cadmium levels. If you are concerned about your cadmium levels, see your health care provider.

<h2>Does your product contain more cadmium than other brands?</h2>
Our Cacao is grown in Peru where there is a higher level of volcanic ash content in the soil, which makes the product especially nutrient rich and may also cause higher levels of some naturally occurring elements, like Cadmium. Cadmium can also result from man-made sources like fertilizers, but fortunately our organic products are not grown with artificial fertilizers.
<br /><br />
Based on our review, the levels of Cadmium in our products are consistent with many others in the marketplace, including organic sources. We will be working collectively with other brands that produce similar products as well as our suppliers to better understand this issue and to seek alternative sources.
   
<center><img src="<?php echo BASE_URL; ?>/images/005.png" /></center>   
   
<h2>Why are these substances (heavy metal minerals) in my superfoods?</h2>
Even more inexplicable, and the most important factor concerning superfoods, is that there is no distinction drawn between substances naturally found in soil and crops, and the chemicals found in something like airplane exhaust fumes or industrial paint.
<br /><br />
<em>According to Prop 65, consuming organic Cacao Powder poses the same health risks as ingesting or inhaling flakes of lead paint because they both contain a certain amount of the same chemical!</em>
<br /><br />
This results in foods which naturally and beneficially contain heavy metal minerals being treated exactly the same as a mined, concentrated, industrialized product like batteries or paint. Of course it is dangerous and unhealthy to consume the toxic chemicals found in batteries and paint, but there is a HUGE difference when it comes to heavy metal minerals that are organically bound to plants.

<h2>Organically Bound Chemicals</h2> 
Minerals like iron, calcium, lead and cadmium are found in soil all across the globe. They make their way into many of the crops we eat through root uptake and plant metabolism. This is how the plant gets nourishment to grow in order to provide you (and us) with numerous health benefits when we eat them. These minerals are integrated into the fibers of the plant, and organically bound to them. When we eat these plants, our body uses, absorbs and disposes of these substances very differently than if we accidentally ingest flakes of lead paint.
<br />
For example, in plant-based foods that contain naturally-occurring (what we call “bound”) lead, only 20% of this lead is actually absorbed because the rest is chelated in the fibers and tissue of the plant, and passes out of the body undigested. Similarly, for any naturally-occurring cadmium in plant-based foods, only about 4% is actually absorbed <em>(source: Essential Living Foods)</em>.
<br /><br />
<b>Considering the miniscule amounts of these heavy metals found in superfood products, it is our belief they pose no risk at these naturally occurring concentration levels.</b>
<br /><br />
However, the chemicals found in industrial products like paint and batteries are from mined and concentrated heavy metals, and if these chemicals end up in food, air, or water, they are very dangerous. They are not bound to an organic, living plant, and are definitely toxic.

<h2>What are you doing to address the issue?</h2>
We are working with our farming suppliers to identify sources of the crop with lower levels of cadmium so that we can provide the most nutritious product. We are diligently continuing to learn about cadmium so that we can provide our customers with current, accurate information as we continue to monitor the issue.

<h2>Why isn’t Prop 65 helping?</h2>
<b>Prop 65 does not offer a solution.</b> It doesn’t limit the amount of "cancer-causing" chemicals that can be put in a product, just that the warning be carried if levels are exceeded. It also doesn’t mandate disclosing which chemicals are in the product. On the list of over 800 carcinogens, some have even been declared safe by the FDA and other government bodies. In regards to food, Prop 65 makes no distinction between natural or completely artificial products, and as previously noted, there is no distinction between naturally occurring or man-made chemicals. So what exactly are Californians being saved from? How are you supposed to know?
   
   
   
</div>