<script type="text/javascript">
function itemsInStock(id,inStock) {
	var quantity = $('#val_'+id).val();
	
		//var item = $(this).attr('id').split('_');
		//var qty_val = $('#val_'+item[2]).val();
		$.get('<?php echo $BASE_URL; ?>/ajax_functions.phtml',
		{ 
			action: "change_qty", 
			prod: id,
			qty: quantity 
		}, function(data) {
			location.reload();
		}); 	
	}
// itemsInStock
</script>

<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;Cart';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div class="cartHeading">
    <h1 id="cartDefaultHeading">Your Shopping Cart Contents</h1>
    <a href="javascript:session_win();">[help (?)]</a>
</div>
<?
$total_items = 0;
$total_items_weight = 0;
$upsell = false;
$upsellPids = array();
for($xx = 0; $xx <$icount; $xx++)
{
	$id 		= $_SESSION["CART"]["ID"][$xx];
	$title 		= $_SESSION["CART"]["DESCR"][$xx];
	$price 		= $_SESSION["CART"]["PRICE"][$xx];
	$qty 		= $_SESSION["CART"]["QTY"][$xx];
	$weight		= $_SESSION["CART"]["WEIGHT"][$xx];
	if ($_SESSION["CART"]["KITID"][$xx] == 0)
	{
        $total_items += $qty;
	}
	$total_items_weight += $weight*$qty;
        
    $q = "SELECT accid from product_accessories WHERE id='$id'";
    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    while(list($count_upsell) = mysql_fetch_array($qok)) {
	$upsellPids[] = $count_upsell;
    }
}
?>
<div class="cartTotalsDisplay">Total Items: <?=$total_items?>&nbsp;&nbsp;Weight: <?=number_format($total_items_weight,2)?>lbs&nbsp;&nbsp;Amount: $<?=number_format($itemTotal,2)?></div>
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="cartContentsDisplay">
    <tr class="tableHeading">
        <th id="scQuantityHeading" scope="col">Qty.</th>
        <th id="scUpdateQuantity" scope="col">
            <div class="cartQtyUpdate">
                <input id="update_qty_all" type="image" title=" Change your quantity by highlighting the number in the box, correcting the quantity and clicking this button. " alt="Change your quantity by highlighting the number in the box, correcting the quantity and clicking this button." src="/images/button_update_cart.gif">
                <br /><small>Update All<br>Quantities</small>
            </div>
        </th>
        <th id="scProductsHeading" scope="col">Item Name</th>
        <th id="scUnitHeading" scope="col">Unit</th>
        <th id="scTotalHeading" scope="col">Total</th>
        <th id="scRemoveHeading" scope="col">
            <input onclick="removeChecked()" type="image" title=" Delete the checked items from the cart by clicking this icon" alt="Delete the checked items from the cart by clicking this icon" src="/images/delete_from_shopping_cart.png"><br><small>Delete Checked Items</small>
        </th>
    </tr>
    <?
    $itemTotal = 0.00;
    $total_weight = 0;
    for($xx = 0; $xx <$icount; $xx++)
    {
		if ($_SESSION["CART"]["KITID"][$xx] > 0)
		{
			continue;
		}
    	
    		$id 		= $_SESSION["CART"]["ID"][$xx];
            $title 		= $_SESSION["CART"]["DESCR"][$xx];
            $price 		= $_SESSION["CART"]["PRICE"][$xx];
			$kitprice 	= $_SESSION["CART"]["KITPRICE"][$xx];
            $qty 		= $_SESSION["CART"]["QTY"][$xx];
            $cupo 		= $_SESSION["CART"]["COUPON"][$xx];
            $weight		= $_SESSION["CART"]["WEIGHT"][$xx];
			$kit 		= $_SESSION["CART"]["KIT"][$xx];
			$kitid		= $_SESSION["CART"]["KITID"][$xx];
            $manid		= $_SESSION["CART"]["MANID"][$xx];
            $manname	= $_SESSION["CART"]["MANNAME"][$xx];
            $descr		= $_SESSION["CART"]["DESCR"][$xx];
			$iscoupon 	= $_SESSION["CART"]["COUPON"][$xx];
            $total_weight +=$weight;
            if ($qty == '') {
                    $qty = 1;
            }

    		// new at-cost update
			$q_atcost = "SELECT COUNT(id) 
						 FROM list_products_atcost 
						 WHERE pid = '$id' 
						 LIMIT 1";
			if(!$qok_atcost = mysql_db_query($DB, $q_atcost, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($atcost_cnt) = mysql_fetch_array($qok_atcost);
            
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
    		elseif (!empty($_SESSION["acctid"])) 
        	{ 
	            // deep discount, cfid40
        		if ($_SESSION["CART"]["is_bulk_option"][$xx] == 0)
                    {
        		if ($_SESSION['levelid'] == 1 || $_SESSION['levelid'] == 2)
        		{
        			// check for cfid 40
        			$query = "SELECT COUNT(pid) AS count, text_short
        					  FROM custom_values
        					  WHERE cfid = '40'
        					  AND pid = '$id'
        					  LIMIT 1";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list ($count_cfid40, $discount_percent) = mysql_fetch_array($qok);
        			if ($count_cfid40 > 0 && $discount_percent > 0)
        			{
						$query_pl4 = "SELECT price_level4
									  FROM product_prices
									  WHERE id = '$id'
									  LIMIT 1";
						if(!$qok_pl4 = mysql_db_query($DB, $query_pl4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pl4) = mysql_fetch_array($qok_pl4);
						$pl4 = sprintf('%.2f',$pl4); 
						if ($pl4 > 0)
						{
	        				// recalculate total price
	        				$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
	        				$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
	        				$_SESSION['CTOTAL'] += $pl4 * $_SESSION["CART"]["QTY"][$xx];
	        				$price = $pl4;
	        				$deep_discount = $pl4;
	        				$_SESSION["CART"]["PRICE"][$xx] = $pl4;
						}
        			}
	        	}
			        	if ($_SESSION['levelid'] == 3)
			        	{
							$query_pl5 = "SELECT price_level5
										  FROM product_prices
										  WHERE id = '$id'
										  LIMIT 1";
							if(!$qok_pl5 = mysql_db_query($DB, $query_pl5, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl5) = mysql_fetch_array($qok_pl5);
							$pl5 = sprintf('%.2f',$pl5); 
							if ($pl5 > 0)
							{
		        				// recalculate total price
		        				$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
		        				$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
		        				$_SESSION['CTOTAL'] += $pl5 * $_SESSION["CART"]["QTY"][$xx];
		        				$price = $pl5;
		        				$_SESSION["CART"]["PRICE"][$xx] = $pl5;
							}
			        	}
			        	
			        	if ($_SESSION['levelid'] == 4)
			        	{
							$query_pl6 = "SELECT price_level6
										  FROM product_prices
										  WHERE id = '$id'
										  LIMIT 1";
							if(!$qok_pl6 = mysql_db_query($DB, $query_pl6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl6) = mysql_fetch_array($qok_pl6);
							$pl6 = sprintf('%.2f',$pl6); 
							if ($pl6 > 0)
							{
		        				// recalculate total price
		        				$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
		        				$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
		        				$_SESSION['CTOTAL'] += $pl6 * $_SESSION["CART"]["QTY"][$xx];
		        				$price = $pl6;
		        				$_SESSION["CART"]["PRICE"][$xx] = $pl6;
							}
			        	}
                    }
        	}
        	
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
        	elseif ($_SESSION["CART"]["is_bulk_option"][$xx] == 0)
        	{
				// onsale price (price_level7)
        		$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
	        	$query_onsale = "SELECT COUNT(id) AS count
	        					 FROM custom_values
	        					 WHERE cfid = '$cfid'
	        					 AND pid = '$id'
	        					 AND text_short > 0
	        					 LIMIT 1";
				if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($count_onsale) = mysql_fetch_array($qok_onsale);
				if ($count_onsale > 0)
				{
					$query_pl7 = "SELECT price_level7
								  FROM product_prices
								  WHERE id = '$id'
								  LIMIT 1";
					if(!$qok_pl7 = mysql_db_query($DB, $query_pl7, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl7) = mysql_fetch_array($qok_pl7);
					$pl7 = sprintf('%.2f',$pl7); 
					if ($pl7 > 0)
					{
        				// recalculate total price
	       				$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
        				$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
        				$_SESSION['CTOTAL'] += $pl7 * $_SESSION["CART"]["QTY"][$xx];
        				$price = $pl7;
						$onsale_price = $pl7;
        				$_SESSION["CART"]["PRICE"][$xx] = $pl7;
					}
				}
        	}
        	
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
        	elseif ($deep_discount && $onsale_price && $onsale_price < $deep_discount)
			{
               	$price = $onsale_price;
			} 
			elseif ($deep_discount && $onsale_price && $deep_discount < $onsale_price)
			{
               	$price = $deep_discount;
			}					
        	
       		if($kit == 1) { $price = $kitprice; }
        	
            $itemTotal += $price*$qty; 
            $itemPriceArr = explode(".",$price);
            $line_total = $price*$qty;
			
			//ijaz code
			$instock = 0;
			if($iscoupon!=1)
			{
			$query_stock = "SELECT instock
										  FROM product_prices
										  WHERE id = '$id'
										  LIMIT 1";
							if(!$qok_stock = mysql_db_query($DB, $query_stock, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl6) = mysql_fetch_array($qok_stock);
							$instock = $pl6;
			}
			
			//end ijaz code
			
            ?>
            <tr class="rowEven">
                <td class="cartQuantity">
                   	<?php if ($kitid == 0) { ?>
	                    <input type="text" size="4" value="<?=$qty?>" name="qty" class="cartqty" id="val_<?=$id?>" <?if($id<=0) echo "disabled";?>>
	                <?php } else { ?>
	                	&nbsp;
	                <?php } ?>  
                    
                    <?php 
					if($iscoupon!=1)
					{
						if($instock < $qty){ $outstock=1; ?>
                        <br />
						<span class="stockNote" style="padding-top:0px; color:red; display:none;"> 
						<b> Update your cart </b> <br />
						Available in stock (<?php echo $instock; ?>)
						</span>
						<?php } ?>  
                <?php } ?> 
                
                <?php 
					if($id<=0 && $icount <2)
					{
						$outstock=1;
						?>
						<span class="stockNote" style="padding-top:0px; color:red; float:left;"> 
						<b> Please Add More Item In your cart </b> <br />
						
						</span>
						  
                <?php } ?> 
                </td>
                <td class="cartQuantityUpdate">
                   	<?php if ($kitid == 0) { ?>
		                <input class="cart_update" id="update_prod_<?=$id?>" type="image" title=" Change your quantity by highlighting the number in the box, correcting the quantity and clicking this button. " alt="Change your quantity by highlighting the number in the box, correcting the quantity and clicking this button." src="/images/button_update_cart.gif" onClick="return itemsInStock('<?php echo $id; ?>','<?php echo $instock; ?>');" />
    	                <br><small>Update Quantity</small>       
	                <?php } else { ?>
	                	&nbsp;
	                <?php } ?>    
                </td>
                <td class="cartProductDisplay">
                    <a href="<?=$sc->createProductNewUrl($id,$title)?>">
                        <img title="<?=$title?>" alt="<?=$title?>" src="/getimage.phtml?id=<?=$id?>&itype=0&thumb=1" id="cartProdImg">
                        <br /><span class="cartProdTitle"><?=$title?></span>
                    </a>
                </td>
                <td class="cartUnitDisplay">$<?=number_format($price, 2)?></td>
                <td class="cartTotalDisplay">$<?=number_format($line_total, 2)?></td>
                <td class="cartRemoveItemDisplay">
                	<?php if ($kitid == 0) { ?>
                	<a href="javascript:void(0)" class="remove_cart_item" id="remove_item_<?=$id?>">
                        <img height="36" width="36" title=" Delete this item from the cart by clicking this icon. " alt="Delete this item from the cart by clicking this icon." src="/images/small_delete.gif">
                    </a>
                    <input type="checkbox" class="cart_item_check" id="cartitemcheck_<?=$id?>">
                    <?php } else { ?>
                    	&nbsp;
                    <?php } ?>
                </td>
            </tr>    
            <?
            unset($deep_discount);
            unset($onsale_price);
            unset($price);
    }
    ?>
<!-- Finished loop through all products /-->
<!--
<tr class="rowEven">
	<td colspan="6">
	<p><input type="text" name="cuppon" value="Discount coupon code" class="cuppon" onfocus="if (this.value == 'Discount coupon code') this.value = '';" onblur="if (this.value == '') this.value = 'Discount coupon code';" /> <a href="javascript:void(0)" class="btnApply"></a>
	</td> 
</tr>
-->
</table>
<?
$q = "SELECT pid from list_products WHERE lid='$upsell_list'";
if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($count_upsell) = mysql_fetch_array($qok)) {
    $upsellPids[] = $count_upsell;
}
if(count($upsellPids)>0) {
?>
<p class="cartUpsellMsg">Your order qualifies for the following discount deals:</p>
<div class="cartUpsellBlock">
    <ul id="upsellSlider">
    <?
    
    $upsellPids2 = array();
    foreach ($upsellPids as $k=>$v) {
	if(!in_array($v, $_SESSION["CART"]["ID"])){
	    $upsellPids2[] = $v;
	}
    }
    $upsellPidsArr = array_chunk($upsellPids2, 2);
    foreach ($upsellPidsArr as $k=>$v) {
	?>
	<li>
	    <?
	    foreach ($v as $pidUpsell) {
		?>
		<ul>
		<?
		

		    $qxx = "SELECT product_list.descr,product_prices.price_level9,product_prices.price_msrp FROM product_list,product_prices WHERE product_list.id=product_prices.id AND product_list.id='$pidUpsell'";
		    if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		    list($upsellTitle,$upsellPrice,$msrpPrice) = mysql_fetch_array($qokxx);

		    ?>
		    <li>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
			    <tr>
				<td width="110px"><img title="<?=$upsellTitle?>" alt="<?=$upsellTitle?>" src="/getimage.phtml?id=<?=$pidUpsell?>&itype=0&thumb=1" id="cartProdImg2"></td>
				<td width="250px" class="paddingTop"><?=$upsellTitle?></td>
				<td width="70px" class="paddingElem"><font class="cartUpsellPrice"><?=$msrpPrice?></font><br /><b><?=$upsellPrice?></b></td>
				<td class="paddingTop"><a href="javascript:void(0)" id="<?=$pidUpsell?>" class="ship4add2cartbtn"><img width="64" height="25" src="/images/button_buy_now.gif" alt=" Buy Now " title=" Buy Now " class="listingBuyNowButton"></a></td>
			    </tr>
			</table>
		    </li>
		    <?
		?>
		</ul>
		<?
	    }
	    ?>
	</li>
	<?
    }
    ?>
    </ul>
    <span id="slider-prev"></span>
    <span id="slider-next"></span>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#upsellSlider').bxSlider({
        minSlides: 1,
	maxSlides: 1,
	slideWidth: 480,
	slideMargin: 10,
	nextSelector: '#slider-next',
	prevSelector: '#slider-prev',
	nextText: 'Next',
	prevText: 'Prev'
    });
});
</script>
<?}?>
<div class="cartSubTotal">Sub-Total: $<?=number_format($itemTotal,2)?></div>
<div class="cartBlock">
    <a href="<?=$refferer?>" class="floatLeft">
        <img height="25" width="120" title=" Continue Shopping " alt="Continue Shopping" src="/images/button_continue_shopping.gif">
    </a>
    <?php if($outstock ==1)
	{?>
    <a href="javascript:void();" class="floatRight showError">
        <img height="25" width="110" title=" Checkout " alt="Checkout" src="/images/button_checkout.gif">
    </a>
	<?php }else{ ?>
    <a href="/checkout" class="floatRight">
        <img height="25" width="110" title=" Checkout " alt="Checkout" src="/images/button_checkout.gif">
    </a>
    <?php } ?>
    <?//$bitcoin->createButton('test','10.00','USD', $custom=null, $options=array());?>
</div>

<script>
$('.showError').click(function(){
$('.stockNote').show();
$('html, body').animate({scrollTop: '300px'}, 1300);
})
</script>