    <?
    $x = 0;
    if(count($subCategories)>0) {
        foreach($subCategories as $k=>$v) {
            ?>
            <div class="categoryBoxList">
                <div class="catImg">
                    <a href="<?=$sc->createCustomUrl($v['scatname'],$v['scatid']);?>">
                        <img src="/getcatimage.phtml?catid=<?=$v['scatid']?>&type=thumb" id="catListImg"/>
                    </a>
                </div>
                <div class="catListTitle">
                    <a href="<?=$sc->createCustomUrl($v['scatname'],$v['scatid']);?>">
                        <?=$v['scatname']?>
                    </a>
                </div>
            </div>
            <?
            if($x == 2 || $k == count($subCategories)-1) {
                ?>
                    <div class="catListSep"></div>
                <?
                $x = 0;
            }
            else {
                $x++;
            }
        }
    }
    ?>
<div class="boxBottomLarge"></div>