<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/checkout/">Checkout</a>&nbsp;::&nbsp;Change Shipping Address';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div class="loginDefault">
    <form name="checkout_address" action="/checkout/" method="post"  id="changeAddress">
        <h1 class="checkoutShippingHeading">Add the Shipping Address</h1>
        <div class="contactSep"></div>

        <div class="checkoutShippingInfo">Please use the following form to create a new shipping address for use with this order.</div>

    <div class="checkoutShippingWrapper" id="checkoutNewAddress">
        <fieldset>
            <legend>Add the Shipping Address </legend>
            <div class="alert" style="float:left;width:432px;text-align: right;">* Required information</div>

            <label class="inputLabel" for="firstname">First Name:</label>
            <input name="firstname" size="33" maxlength="32" id="firstname" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="lastname">Last Name:</label>
            <input name="lastname" size="33" maxlength="32" id="lastname" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="ship2company">Company Name:</label>
            <input name="ship2company" size="41" maxlength="64" id="ship2company" type="text">
            <div class="contactSep1"></div>

            <label class="inputLabel" for="street-address">Street Address:</label>
            <input name="street_address" size="41" maxlength="64" id="street-address" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="suburb">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
            <input name="suburb" size="33" maxlength="32" id="suburb" type="text">
            <div class="contactSep1"></div>

            <label class="inputLabel" for="country">Country:</label>
            <select name="zone_country_id" id="country">
            <?php
   	            $current_country = $_SESSION["ship2country"];
                include($ROOT_DIR."/include/country_select.php");
            ?>
            </select>
            <span class="alert">*</span>
			<div class="contactSep1"></div>              

            <label class="inputLabel" for="state" id="stateLabel">State/Province:</label>
			<select name="usa_state" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="usa_states"> 
				<option value="">-----------------</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="AA">Armed Forces Americas</option>
				<option value="AE">Armed Forces Europe</option>
				<option value="AP">Armed Forces Pacific</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>             
            
            <input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="international_states" name="state" value="" type="text">
            <div class="contactSep1"></div>
            
            <label class="inputLabel" for="city">City:</label>
            <input name="city" size="33" maxlength="32" id="city" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="postcode">Post/Zip Code:</label>
            <input name="postcode" size="11" maxlength="10" id="postcode" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

        </fieldset>
    </div>
    <div class="checkoutShippingContinue">
        <input name="action" value="add_shipping" type="hidden">
        <input src="/images/button_continue.gif" alt="Continue" title=" Continue " type="image">
    </div>
    <div class="checkoutShippingContinueTxt"><strong>Continue</strong><br>- to shipping method.</div>

    </form>

</div>
<style>

.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
.my-error-class { 
   float:left;
   display:block;
   margin-left:129px;
}​
</style>
<script>
$(document).ready(function () {

    $('#changeAddress').validate({ // initialize the plugin
	 errorClass: "my-error-class",
   validClass: "my-valid-class",
        rules: {
            firstname: {
                required: true,
                minlength: 2
            },
            lastname: {
                required: true,
                minlength: 2
            },
			city: {
				required: true,
				minlength: 2
			},
			postcode: {
				required: true,
				minlength: 3
			},
        },
		onfocusout: function(element) {
            this.element(element);
        },highlight: function(element) {
            $(element).addClass('error');
        }, unhighlight: function(element) {
            $(element).removeClass('error');
        },
        submitHandler: function (form) { // for demo
            //alert('valid form submitted'); // for demo
            $('#changeAddress').submit();
        }
    });

});
</script>