<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;Newsletter Subscriptions';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">

    <form method="post" action="" name="account_newsletter">
        <h1 class="checkoutShippingHeading">Newsletter Subscriptions</h1>
        <div class="checkoutShippingWrapper" id="checkoutNewAddress">
            <fieldset>
                <legend>General Newsletter</legend>
                <input type="checkbox" id="newsletter" <?if($newsletter_check == 1) echo 'checked="checked"';?> name="newsletter_general">
                <label for="newsletter" class="checkboxLabel">Including store news, new products, special offers, and other promotional announcements.</label>
            </fieldset>
        </div>

        <div class="buttonRow" style="float:right;"><input type="image" title=" Update " alt="Update" src="/images/button_update.gif"></div> 
        <div class="buttonRow" style="float:left;"><a href="/customer/"><img height="25" width="45" title=" Back " alt="Back" src="/images/button_back.gif"></a></div>
        <input type="hidden" name="action" value="change_newsletter"/>
    </form>
</div>