<div class="navBreadCrumb">  
    <a href="/">Home</a>&nbsp;::&nbsp;Login
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">

    <h1 id="loginDefaultHeading" class="loginDefaultHeading">Welcome, Please Sign In</h1>
    <!--BOF normal login-->
    <div class="contactSep"></div>
    <form method="post" action="" name="login" id="login">
    	<?=$loginerrormsg;?>
        <fieldset>
            <legend>Returning Customers: Please Log In</legend>

            <label for="login-email-address" class="inputLabel">Email Address:</label>
            <input type="text" id="login-email-address" maxlength="96" size="41" name="email"><br class="clearBoth">

            <label for="login-password" class="inputLabel">Password:</label>
            <input type="password" id="login-password" maxlength="40" size="41" name="password"><br class="clearBoth">
        </fieldset>

        <div class="buttonRowRight"><input type="image" title=" Sign In " alt="Sign In" src="/images/button_login.gif"></div>
        <div class="buttonRowLeft"><a href="/customer/resetpassword.phtml">Forgot your password?</a></div>
        <input type="hidden" name="action" value="login" />
        <input type="hidden" name="referer" value="<?=$referer?>" />
    </form>
    <div class="contactSep"></div>

    <form  method="post" action="" name="create_account" id="create_account">
        <fieldset>
            <legend>New? Please Provide Your Billing Information</legend>
            <div class="information">Create a login profile with <strong>The Raw Food World</strong> which allows you to shop faster, track the status of your current orders and review your previous orders.</div>
            <div class="alert" style="float:left;">* Required information</div>
            <div class="contactSep1"></div>
            <fieldset>
                <legend>Company Details</legend>
                <label for="company" class="inputLabel">Company Name:</label>
                <input type="text" id="company" maxlength="64" size="41" name="company"></fieldset>
            <fieldset>
            <legend>Address Details</legend>
            <label for="firstname" class="inputLabel">First Name:</label>
            <input type="text" id="firstname" maxlength="32" size="33" name="fname"><span class="alert">*</span>
            <div class="contactSep1"></div>
            
            <label for="lastname" class="inputLabel">Last Name:</label>
            <input type="text" id="lastname" maxlength="32" size="33" name="lname"><span class="alert">*</span>
            <div class="contactSep1"></div>
            
            <label for="street-address" class="inputLabel">Street Address:</label>
            <input type="text" id="street-address" maxlength="64" size="41" name="street_address"><span class="alert">*</span>
            <div class="contactSep1"></div>
            
            <label for="suburb" class="inputLabel">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
            <input type="text" id="suburb" maxlength="32" size="33" name="suburb">
            <div class="contactSep1"></div>

            <label for="country" class="inputLabel">Country:</label>
            <select id="country" name="zone_country_id">
                <?
                    include($ROOT_DIR."/include/country_select.php");
                ?>
            </select><span class="alert">*</span>
			<div class="contactSep1"></div>            

			<label id="stateLabel" for="state" class="inputLabel">State/Province:</label>
            
			<select name="usa_state" id="usa_states"> 
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="AA">Armed Forces Americas</option>
				<option value="AE">Armed Forces Europe</option>
				<option value="AP">Armed Forces Pacific</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>            
            
            <input type="text" style="display:none;" id="international_states" value="" name="state"><input type="hidden" value="" name="zone_id">
            <div class="contactSep1"></div>

            <label for="city" class="inputLabel">City:</label>
            <input type="text" id="city" maxlength="32" size="33" name="city"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label for="postcode" class="inputLabel">Post/Zip Code:</label>
            <input type="text" id="zip" maxlength="10" size="11" name="zip"><span class="alert">*</span>
            <div class="contactSep1"></div>
        </fieldset>

        <fieldset>
            <legend>Additional Contact Details</legend>
            <label for="telephone" class="inputLabel">Telephone:</label>
            <input type="text" id="phone" maxlength="32" size="33" name="phone"><span class="alert">*</span>
            <div class="contactSep1"></div>
            <label for="fax" class="inputLabel">Fax Number:</label>
            <input type="text" id="fax" name="fax">
        </fieldset>

        <fieldset>
            <legend>Login Details</legend>
            <label for="email-address" class="inputLabel">Email Address:</label>
            <input type="text" id="email" maxlength="96" size="41" name="email"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label for="password-new" class="inputLabel">Password:</label>
            <input type="password" id="password-new" maxlength="40" size="21" name="password"><span class="alert">* (at least 5 characters)</span>
            <div class="contactSep1"></div>

            <label for="password-confirm" class="inputLabel">Confirm Password:</label>
            <input type="password" id="password-confirm" maxlength="40" size="21" name="confirmation"><span class="alert">*</span>
            <div class="contactSep1"></div>
        </fieldset>

        <fieldset>
            <legend>Newsletter and Email Details</legend>
            <input type="checkbox" id="newsletter-checkbox" checked="checked" value="1" name="newsletter">
            <label for="newsletter-checkbox" class="checkboxLabel">Subscribe to Our Newsletter.</label>
<!--            <div class="contactSep1"></div>

            <input type="radio" id="email-format-html" value="HTML" name="email_format">
            <label for="email-format-html" class="radioButtonLabel">HTML</label>
            <input type="radio" id="email-format-text" checked="checked" value="TEXT" name="email_format">
            <label for="email-format-text" class="radioButtonLabel">TEXT-Only</label>-->
            <div class="contactSep1"></div>
        </fieldset>
    </fieldset>

    <div class="buttonRowRight">
        <input type="hidden" name="action" value="create_account" />
        <input type="hidden" name="referer" value="<?=$referer?>" />
        <input type="image" title=" Submit the Information " alt="Submit the Information" src="/images/button_submit.gif">
    </div>
    </form>
    <!--EOF normal login-->
</div>
<style>

.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
.my-error-class { 
   
   display:block;
   float:none;
   margin-left:129px;
}​
</style>
