<?php
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;<a href="/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Payment Settings';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
if (empty($affiliate_info_arr)) { $affiliate_info_arr = array('payments_type' => 'paypal'); }
$commission_min_value = $efc->getConfigValue('eFluent Settings', 'CstAffMinPayCommBalance');
if (empty($commission_min_value)) { $commission_min_value = 100; }
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">
	<h1 class="accountDefaultHeadingSmall">*** We value your feedback as we continuously improve our affiliate program to meet your needs. Please send any questions and feedback to RawWorldService at <a href="mailto:rawworldservice@gmail.com" target="_blank">rawworldservice@gmail.com</a> ***</h1>
	<h1 class="accountDefaultHeading">Payment settings</h1>
	<p>Please choose whether you would like to be paid by PayPal or check, and fill in the necessary details.</p>
	<p>You can <a href="#request-payment" title="Request payment" />request payment</a> once your balance reaches $<?php echo $commission_min_value; ?>, or you can transfer your balance to store credit any time from the <a href="/customer/affiliate_reports.phtml">Commission/Traffic Reports</a> page.</p>
	
	<form onsubmit="return check_form(affiliate_edit);" method="post" action="" name="affiliate_edit">
	<input type="hidden" name="action" value="affiliate_edit" />
	<fieldset>
	<legend>Payments</legend>
		<input type="radio" id="pay_paypal" name="payment_type" value="paypal" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'paypal') ? 'checked="checked"' : 'checked="checked"'; ?>>
		<label for="payment_type" class="checkboxLabel">Paypal</label><br />
		<input type="radio" id="pay_check" name="payment_type" value="check" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'check') ? 'checked="checked"' : ''; ?>>
		<label for="payment_type" class="checkboxLabel">Check</label><br />
		<input type="radio" id="pay_tocredit" name="payment_type" value="tocredit" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'tocredit') ? 'checked="checked"' : ''; ?>>
		<label for="payment_type" class="checkboxLabel">Automatically transfer approved commissions to store credit</label><br />
	</fieldset>
	
	<fieldset id="pay_type_pp" <?php echo (!empty($affiliate_info_arr) && ($affiliate_info_arr['payments_type'] == 'check' || $affiliate_info_arr['payments_type'] == 'tocredit')) ? 'style="display:none;"' : ''; ?>>
		<legend>Paypal payments</legend>
		<div class="alert" style="float:left;width:432px;text-align: right;">* Required information</div>
		
	    <label for="email" class="inputLabel">Email Address:</label>
	    <input type="text" id="email" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['email'] : $_SESSION['email']; ?>" name="email"><span class="alert">*</span>
	    <div class="contactSep1"></div>
	</fieldset>		
	
	<fieldset id="pay_type_chk" <?php echo (!empty($affiliate_info_arr) && ($affiliate_info_arr['payments_type'] == 'paypal' || $affiliate_info_arr['payments_type'] == 'tocredit')) ? 'style="display:none;"' : ''; ?>>
		<legend>Check payments</legend>
		<div class="alert" style="float:left;width:432px;text-align: right;">* Required information</div>
		
		<label class="inputLabel" for="address_street1">Street Address:</label>
		<input name="address_street1" size="41" maxlength="64" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_street1'] : $_SESSION['bill2street1']; ?>" id="address_street1" type="text"><span class="alert">*</span>
		<div class="contactSep1"></div>
		
		<label class="inputLabel" for="address_street2">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
		<input name="address_street2" size="33" maxlength="32" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_street2'] : $_SESSION['bill2street2']; ?>" id="address_street2" type="text">
		<div class="contactSep1"></div>
		
		<label class="inputLabel" for="address_country">Country:</label>
		<select name="address_country" id="country">
		<?php
		$current_country = !empty($affiliate_info_arr) ? $affiliate_info_arr['address_country'] : $_SESSION['bill2country'];
		include($ROOT_DIR."/include/country_select.php");
		?>
		</select>
		<span class="alert">*</span>
		<div class="contactSep1"></div>              
		
		<label class="inputLabel" for="state" id="stateLabel">State/Province:</label>
		<select name="address_usastate" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="usa_states"> 
		<?php
		$current_region = !empty($affiliate_info_arr) ? $affiliate_info_arr['address_state'] : $_SESSION['bill2state'];
		include($ROOT_DIR."/include/usa_regions_select.php");
		?>
		</select>             
		<input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="international_states" name="address_state" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_state'] : $_SESSION['bill2state']; ?>" type="text">
		<div class="contactSep1"></div>
		
		<label class="inputLabel" for="city">City:</label>
		<input name="address_city" size="33" maxlength="32" id="address_city" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_city'] : $_SESSION['bill2city']; ?>" type="text"><span class="alert">*</span>
		<div class="contactSep1"></div>
		
		<label class="inputLabel" for="address_zipcode">Post/Zip Code:</label>
		<input name="address_zipcode" size="11" maxlength="10" id="address_zipcode" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_zipcode'] : $_SESSION['bill2zip']; ?>" type="text"><span class="alert">*</span>
		<div class="contactSep1"></div>
	</fieldset>
	
	<div class="buttonRow" style="float:left;">
		<a href="/customer/"><img height="25" width="45" title=" Back " alt="Back" src="/images/button_back.gif"></a>
	</div>
	<div class="buttonRow" style="float:right;">
		<input type="image" title=" Update " alt="Update" src="/images/button_update.gif">
	</div>
	</form>
	
	<h1 class="accountDefaultHeading" id="request-payment">Request Payment</h1>
	<?php
	if (!empty($affiliate_info_arr))
	{
		$commission_total_arr = $cclass->getAffCommissionTotal($acctid);

		if ($commission_total_arr['total_requested'] > 0)
		{
			?>
			<p>You have already requested payment. It is on its way.<br />
			Thank you!</p>
			<?php
		}
		elseif ($commission_total_arr['total_amount'] < $commission_min_value)
		{
			?>
			<p>Your current outstanding balance is $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>. You do not yet qualify for a commission payout. Please continue to share your affiliate links with your friends and website visitors.<br />
			Thank you!</p>
			<?php	
		}
		elseif ($commission_total_arr['total_amount'] > $commission_min_value)
		{
			if (($affiliate_info_arr['payments_type'] == 'paypal' && empty($affiliate_info_arr['email'])) ||
				($affiliate_info_arr['payments_type'] == 'check' && empty($affiliate_info_arr['address_street1'])))
			{
				?>
				<p>Your current outstanding balance is $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>. Congratulations! You qualify for a payment. However, your payment preference is incomplete. Please specify how you would like to be paid (fill the form bellow), and then request payment.<br />
				Thank you!</p>				
				<?php
			}
			else 
			{
				?>
				<p>Your current outstanding balance is $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>. Congratulations! You qualify for a payment. Click the button below and your payment will be on its way.</p>
				<p><input type="image" onclick="event.preventDefault();" rel="<?php echo $acctid; ?>" id="btn_request_payment" title="Request payment" alt="Request payment" src="/images/button_request_payment.gif"></p>
				<?php
			}
		}
	
	}
	?>		
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("input[name='payment_type']").change(function(){
		if (jQuery(this).val() == 'paypal'){
			jQuery('#pay_type_pp').css('display','block');
			jQuery('#pay_type_chk').css('display','none');
		} else if (jQuery(this).val() == 'check'){
			jQuery('#pay_type_pp').css('display','none');
			jQuery('#pay_type_chk').css('display','block');
		} else if (jQuery(this).val() == 'tocredit'){
			jQuery('#pay_type_pp').css('display','none');
			jQuery('#pay_type_chk').css('display','none');
		}
	});
	
	jQuery('#btn_request_payment').click(function() {
		event.preventDefault();
		var aff_acctid = jQuery(this).attr('rel');
		jQuery.post('/ajax_functions.phtml', { action: 'request_payment', affiliate_id: aff_acctid }, function(data){
			location.reload();
		});			
	});			
});
</script>