<?php
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;<a href="/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Commission/Traffic Reports';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
$aff_commission = $efc->getConfigValue('eFluent Settings', 'CstAffCommission');
$commission_min_value = $efc->getConfigValue('eFluent Settings', 'CstAffMinPayCommBalance');
if (empty($commission_min_value)) { $commission_min_value = 100; }
$commission_total_arr = $cclass->getAffCommissionTotal($acctid);
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">
	<h1 class="accountDefaultHeadingSmall">*** We value your feedback as we continuously improve our affiliate program to meet your needs. Please send any questions and feedback to RawWorldService at <a href="mailto:rawworldservice@gmail.com" target="_blank">rawworldservice@gmail.com</a> ***</h1>
    <h1 class="accountDefaultHeading">Commission/Traffic Reports</h1>
    <div class="accountLinksWrapper">
        <ul id="myAccountNotify" class="list">
			<li class="info"><p>Your commission rate is: <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['commission'] > 0) ? $affiliate_info_arr['commission'] : $aff_commission; ?>%</p>
			<p>Your outstanding commission balance is: $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>
			<?php
			if ($commission_total_arr['total_amount'] > 0 && $commission_total_arr['total_amount'] > $commission_min_value)
			{
				if ($commission_total_arr['total_requested'] > 0)
				{
					echo 'You have already requested payment';
				}
				else 
				{
					echo '<u><a href="/customer/affiliate_payment_settings.phtml#request-payment" title="Request Payment">Request Payment</a></u>';
				}
			}
			else 
			{}
			?>
			</p></li>
            <li><a href="/customer/affiliate_reports_payments.phtml">Payment History</a></li>
            <li><a href="/customer/affiliate_reports_commissions.phtml">Commissions</a></li>
            <li><a href="/customer/affiliate_reports_traffic.phtml">Traffic</a></li>
		</ul>
	</div>	
</div>