<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;View Order';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="viewOrderBlock">

    <h1 class="accountDefaultHeading">Order Details</h1>
    <div class="viewOrderBlockWrapper">
        <?=$cclass->outputOrder($id, $iid);?>
    </div>
    
	<div class="buttonRow" id="reorder_msg" style="display:none;float:left;margin:10px 0 0 0;background:#718A4E;color:#fff;font-weight:bold;padding:6px 10px;">&nbsp;</div>

<?php $status =$cclass->getorderstatus($id);
	if($status=='6000' || $status=='7000'){
		if($status=='7000'){
	?>
		<div class="buttonRow" style="float:right; margin:10px 40px 0 0;">
		<form action="<?php echo $BASE_URL; ?>/checkout/order_payments.phtml" method="get">
				    <input type="hidden" name="id" value="<?php echo $id; ?>">
                    <input type="hidden" name="iid" value="<?php echo $iid; ?>">
				   <input type="submit" name="Action" value="Pay Now">
				</form>
		
	</div>
	<?php
}
	}
else{
?>
	<div class="buttonRow" style="float:right; margin:10px 40px 0 0;">
		<input type="image" title="Reorder" alt="Reorder" id="reorder_btn" rel="<?php echo (int) $id; ?>" src="/images/button_reorder.gif">
	</div>
<?php } ?>   
</div>