<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;Monthly Coupon Code for Benefits Members';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">

    <h1 class="accountDefaultHeading">Monthly Coupon Code for Benefits Members</h1>
    <div class="accountLinksWrapper">
        <h2 style="font-weight:bold;margin-bottom:20px;">Coupon Code: <span style="color:#6C8736;"><?php echo $couponcode; ?></span></h2>
		<p class="coupon_info">During step 2 of the checkout process, there is a box labeled DISCOUNT COUPON. </p>
		<p class="coupon_info">Enter the coupon code there, proceed to step 3, and the discount will be reflected.</p>
		<p class="coupon_info">The monthly coupon is updated shortly before midnight on the 16th of each month, Pacific Daylight Time (GMT - 07:00)</p>
	</div>
</div>