<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;Change Password ';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">

    <form method="post" action="" name="account_password">
    <fieldset>
        <legend>My Password</legend>
            <div class="alert" style="float:left;width:432px;text-align: right;">* Required information</div>
			<!--
            <label for="password-current" class="inputLabel">Current Password:</label>
            <input type="password" id="password-current" name="password_current"><span class="alert">*</span>
            <div class="contactSep1" style="margin-top: 5px"></div>
			-->
            <label for="password-new" class="inputLabel">New Password:</label>
            <input type="password" id="password-new" name="password_new"><span class="alert">*</span>
            <div class="contactSep1" style="margin-top: 5px"></div>
            <label for="password-confirm" class="inputLabel">Confirm Password:</label>
            <input type="password" id="password-confirm" name="password_confirmation"><span class="alert">*</span>
        </fieldset>

       
        <div class="buttonRow" style="float:left;"><a href="/customer/">
                <img height="25" width="45" title=" Back " alt="Back" src="/images/button_back.gif">
            </a>
        </div>
        <div class="buttonRow" style="float:right;">
            <input type="button" title=" Submit the Information " id="change_pass_btn" onclick="checkPassForm();return false;" alt="Submit the Information">
        </div>
        <input type="hidden" name="acctid" id="acctid" value="<?php echo $_SESSION["acctid"]; ?>" />
    </form>
</div>