<?php
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;<a href="/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;<a href="/customer/affiliate_reports.phtml">Commission/Traffic Reports</a>&nbsp;::&nbsp;Traffic';
$acctid = (int) $_SESSION['acctid'];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);

$traffic_per_page = 50;

if (isset($_GET['p']) && !empty($_GET['p']))
{
	$p = (int) $_GET['p'];
	if ($p < 1) { $p = 1; }
}
else 
{
	$p = 1;
}

$ahref_url = '/customer/affiliate_reports_traffic.phtml?p=' . $p;

$orderby_arr = array('referral_url-asc', 
					 'referral_url-desc', 
					 'ip_address-asc', 
					 'ip_address-desc', 
					 'utm_source-asc', 
					 'utm_source-desc', 
					 'utm_medium-asc', 
					 'utm_medium-desc', 
					 'utm_campaign-asc', 
					 'utm_campaign-desc');
if (isset($_GET['orderby']) && !empty($_GET['orderby']))
{
	if (in_array(trim($_GET['orderby']), $orderby_arr))
	{}
	else 
	{
		$sc->redirectUrl($ahref_url);
	}
}

if (isset($_GET['filterbydte_min']) && !empty($_GET['filterbydte_min']) && 
	isset($_GET['filterbydte_max']) && !empty($_GET['filterbydte_max']))
{
	$filterbydte_min = $cclass->sanitizeInput(trim($_GET['filterbydte_min']));
	$filterbydte_max = $cclass->sanitizeInput(trim($_GET['filterbydte_max']));
	$ahref_url .= '&filterbydte_min=' . $filterbydte_min;
	$ahref_url .= '&filterbydte_max=' . $filterbydte_max;
}
else 
{
	$filterbydte_min = $filterbydte_max = '';
}

$dates_arr = $cclass->getAffTrafficDateMinMax($acctid);
if (is_array($dates_arr) && !empty($dates_arr))
{}
else 
{
	$dates_arr = array('min' => date('Y-m-d'), 'max' => date('Y-m-d'));
}
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault" style="width:730px;">
	<h1 class="accountDefaultHeadingSmall">*** We value your feedback as we continuously improve our affiliate program to meet your needs. Please send any questions and feedback to RawWorldService at <a href="mailto:rawworldservice@gmail.com" target="_blank">rawworldservice@gmail.com</a> ***</h1>
    <h1 class="accountDefaultHeading">Traffic</h1>
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">Filter by Date, from <input type="text" name="date_from" id="date_from" value="<?php echo ($filterbydte_min && !empty($filterbydte_min)) ? $filterbydte_min : $dates_arr['min']; ?>" class="datepicker"> to <input type="text" name="date_to" id="date_to" value="<?php echo ($filterbydte_min && !empty($filterbydte_min)) ? $filterbydte_max : $dates_arr['max']; ?>" class="datepicker"></td>
	</tr>
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td class="padding5px" align="left"><strong>Date</strong></td>
		<td class="padding5px" align="left"><strong>Time</strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'referral_url-asc') ? 'referral_url-desc' : 'referral_url-asc'; ?>" title="Order by referral url"><img src="/images/sort-arrows.gif" title="Order by referral url" />&nbsp;Referral URL</strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'ip_address-asc') ? 'ip_address-desc' : 'ip_address-asc'; ?>" title="Order by ip address"><img src="/images/sort-arrows.gif" title="Order by ip address" />&nbsp;IP Address</strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'utm_source-asc') ? 'utm_source-desc' : 'utm_source-asc'; ?>" title="Order by utm source"><img src="/images/sort-arrows.gif" title="Order by utm source" />&nbsp;UTM Source</strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'utm_medium-asc') ? 'utm_medium-desc' : 'utm_medium-asc'; ?>" title="Order by utm medium"><img src="/images/sort-arrows.gif" title="Order by utm medium" />&nbsp;UTM Medium</strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'utm_campaign-asc') ? 'utm_campaign-desc' : 'utm_campaign-asc'; ?>" title="Order by utm campaign"><img src="/images/sort-arrows.gif" title="Order by utm campaign" />&nbsp;UTM Campaign</strong></td>
	</tr>
	<?php $cclass->getAffTrafficList($acctid, $traffic_cnt, $traffic_per_page, $numpages_cnt, $p, $orderby, $filterbydte_min, $filterbydte_max); ?>
	<tr>
		<td class="padding5px" colspan="9">&nbsp;</td>
	</tr>
	</table>
	<div class="nav_top_bg2">
		<div class="navSplitPagesResult" id="productsListingTopNumber">
			Displaying <strong><?echo (($p-1) * $traffic_per_page)+1;?></strong> to <strong><?if($traffic_cnt < ($p * $traffic_per_page)) echo $traffic_cnt; else echo ($p*$traffic_per_page);?></strong> (of <strong><?=number_format($traffic_cnt,0);?></strong> commissions)
		</div>
		<?php if ($traffic_cnt > $traffic_per_page): ?>
			<div class="navSplitPagesLinks" id="productsListingListingTopLinks">
				<?php $sc->doPagesAffCommRep($orderby, $filterbydte_min, $filterbydte_max, $numpages_cnt, '/customer/affiliate_reports_traffic.phtml?', $p, $lastpage, $nextpage); ?>
			</div>
		<?php endif; ?>
		<div class="navSplitPagesResult" id="productsListingTopNumber" class="exportreports">
			Select type of file to export this report
			<select name="export_reports" id="export_reports">
				<option value="" selected="selected">-----</option>
				<option value="csv">CSV file</option>
				<option value="pdf">PDF file</option>
			</select>
		</div>	
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery(function() {
		jQuery('.datepicker').datepicker({
			dateFormat: "yy-mm-dd",
			showOtherMonths: true,
			selectOtherMonths: true,
			changeMonth: true,
			changeYear: true,
			minDate: '<?php echo $dates_arr['min']; ?>',
			maxDate: '<?php echo $dates_arr['max']; ?>'	
		});
		
		jQuery('.datepicker').each(function(){
			jQuery(this).change(function(){
				var redirection_url = window.location.href;
				var date_regex = /^\d{4}\/\d{1,2}\/\d{1,2}$/;

				if (redirection_url.split('?').length > 1){
					if (redirection_url.split('?')[1] != ''){
						var split_arr = redirection_url.split('?')[1].split('&');
						var split_cnt = split_arr.length;
						for (i = 0; i < split_cnt; i++){ 
							if (split_arr[i].substring(0, 12) == 'filterbydte_'){
								redirection_url = redirection_url.replace(split_arr[i], '');
							}

							if (split_arr[i].substring(0, 2) == 'p='){
								redirection_url = redirection_url.replace(split_arr[i], 'p=1');
							}
						}
						redirection_url = redirection_url.replace(/&&/g,'');
						
					}
				} else {
					redirection_url = redirection_url + '?p=1';
				}
				

				if (jQuery('#date_from').val() == '' || jQuery('#date_from').val().match(date_regex) == false) {
					alert('Pick a "from" date to filter.');
					return;
				}
			
				if (jQuery('#date_to').val() == '' || jQuery('#date_to').val().match(date_regex) == false) {
					alert('Pick a "to" date to filter.');
					return;
				}
			
				redirection_url += '&filterbydte_min=' + jQuery('#date_from').val();
				redirection_url += '&filterbydte_max=' + jQuery('#date_to').val();
				window.location = redirection_url;			
			});		
		});		
	});
	
	jQuery('#export_reports').change(function(){
		var file_type = jQuery(this).val();
		var redirection_url = '/affiliate_download.phtml?export_traffic_report=' + file_type;
		var date_regex = /^\d{4}\/\d{1,2}\/\d{1,2}$/;

		var current_url = window.location.href;
		if (current_url.split('?').length > 1){
			if (current_url.split('?')[1] != ''){
				var split_arr = current_url.split('?')[1].split('&');
				var split_cnt = split_arr.length;
				for (i = 0; i < split_cnt; i++){ 
					if (split_arr[i].substring(0, 8) == 'orderby='){
						redirection_url += '&' + split_arr[i];
					}

					if (split_arr[i].substring(0, 15) == 'filterbydte_min'){
						redirection_url += '&filterbydte_min=' + jQuery('#date_from').val();
					}

					if (split_arr[i].substring(0, 15) == 'filterbydte_max'){
						redirection_url += '&filterbydte_max=' + jQuery('#date_to').val();
					}
				}
			}
		}
		window.open(redirection_url,'_blank')
	});	
});
</script>
