<?php
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;<a href="/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Affiliate Link Builder';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="viewOrderBlock">
	<h1 class="accountDefaultHeadingSmall">*** We value your feedback as we continuously improve our affiliate program to meet your needs. Please send any questions and feedback to RawWorldService at <a href="mailto:rawworldservice@gmail.com" target="_blank">rawworldservice@gmail.com</a> ***</h1>
	<h1 class="accountDefaultHeading">Link Builder</h1>
	<p class="acct_cab w750px line-height20px">1) <a href="<?php echo $BASE_URL; ?>" target="_blank" title="The Raw Food World">Visit the store</a> to find a page that would like to share. Any page, whether a product page, category, search results, etc. will qualify.</p>
	<p class="acct_cab w750px line-height20px">2) In the address bar of your web browser, copy the page URL to the clipboard.</p>
	<p class="acct_cab w750px line-height20px">3) Paste the URL into the box below.</p>
	<p class="acct_cab w750px line-height20px">4) Click the "Generate Affiliate Link" button.</p>
	
	<form id="add_allowed_form">
		<label class="inputLabel" for="generate_aff_link">Paste URL into the box below:</label>		
		<input type="text" name="generate_aff_link" size="60" value="" id="generate_aff_link">
		<div class="buttonRow" style="float:left;margin:5px 0 0 0;">
			<input type="hidden" name="base_url" value="<?php echo $BASE_URL; ?>" />
			<input type="hidden" name="acctid" value="<?php echo $acctid; ?>" />
			<input type="image" id="btn_genafflink" title="Generate Affiliate Link" alt="Generate Affiliate Link" src="/images/btn-genafflink.gif">
	    </div>
    </form>
    
	<p class="acct_cab w750px line-height20px display-none" id="generated_link_wrap"><strong>Use this URL in your promotions</strong>: <i id="affiliate_generated_link"><?php echo $BASE_URL; ?>/?aff=<?php echo $acctid; ?></i></p>
	<p class="acct_cab w750px line-height20px"><i>Advanced users who wish to track their links, use the following template:</i></p>
	<p class="acct_cab w750px line-height20px"><i><?php echo $BASE_URL; ?>/?aff=<?php echo $acctid; ?><strong>&utm_source=</strong>fb<strong>&utm_medium=</strong>wall<strong>&utm_campaign=</strong>easter-holiday</i></p>
	<p class="acct_cab w750px line-height20px">&nbsp;</p>

	<h1 class="accountDefaultHeading">Redirection Method</h1>
	<p class="acct_cab w750px line-height20px">Type or paste the URL from *any* site on the Internet that you want to use for your landing page in the box below, then click the "Generate Redirection Link" button. For detailed information of what this is used for, see the information below.</p>
	
	<form id="add_allowed_form">
		<label class="inputLabel" for="generate_redirection_link">Paste URL into the box below:</label>		
		<input type="text" name="generate_redirection_link" size="60" value="" id="generate_redirection_link">
		<div class="buttonRow" style="float:left;margin:5px 0 0 0;">
			<input type="hidden" name="base_url" value="<?php echo $BASE_URL; ?>" />
			<input type="hidden" name="acctid" value="<?php echo $acctid; ?>" />
			<input type="image" id="btn_genredlink" title="Generate Redirection Link" alt="Generate Redirection Link" src="/images/btn-genredlink.gif">
	    </div>
    </form>
	
	<p class="acct_cab w750px line-height20px display-none" id="generated_redirection_wrap"><strong>Use this URL in your promotions</strong>: <i id="redirection_generated_link"></i></p>
	<p class="acct_cab w750px line-height20px">If you would like to use a landing page in your promotions that is NOT within The Raw Food World's main domain (www.therawfoodworld.com), then you can use the "redirection method".</p>
	<p class="acct_cab w750px line-height20px">This allows you to get credit for any referrals made by linking people to *any* other page on the Internet. You might want to use this approach if the landing page that you want to use does not allow affiliate links, or if you prefer not to use an affiliate link on the page.</p>	
	<p class="acct_cab w750px line-height20px">Many affiliates are using this method to redirect users to articles on <a href="http://news.therawfoodworld.com/" target="_blank"><u>The Raw Food World News site</u></a>, which has many many pages that link back to the store. Now, when their visitor clicks a link from the news site, it counts as a referral when using this method!</p>	
	<p class="acct_cab w750px line-height20px">Other affiliates are using this approach to link to YouTube videos as their landing page, or sites that do not allow affiliate links (like article directories, etc).</p>	
	<p class="acct_cab w750px line-height20px">Technically the way it works is, first the user is sent to the store where they are *tagged* as <em>your</em> referral, then redirected to the page of your choice. Then, when they <em>come back</em> to the store, you will be the referring affiliate!</p>	
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#btn_genafflink').click(function(e) {
		e.preventDefault();

		if (jQuery("input[name='generate_aff_link']").val() == ''){
			alert('Please write a link before continuing.');
			return false;
		}
		
		var url_value = jQuery("input[name='generate_aff_link']").val();
		var acctid_value = jQuery("input[name='acctid']").val();
		var base_url_value = jQuery("input[name='base_url']").val();
		var link_pattern = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
			
		if (link_pattern.test(url_value)) {
			var searchString = url_value + ((url_value.indexOf('?') == -1) ? '?aff=' : '&aff=');
			jQuery('#affiliate_generated_link').html(searchString + '' + acctid_value);
			jQuery('#generated_link_wrap').css('display','block');
		} else {
			jQuery('#generated_link_wrap').css('display','none');
			jQuery('#affiliate_generated_link').html(base_url_value + '/?aff=' + acctid_value);
			alert('Please write a correct link.');
			return false;
		}
	});
	
	jQuery('#btn_genredlink').click(function(e) {
		e.preventDefault();

		if (jQuery("input[name='generate_redirection_link']").val() == ''){
			alert('Please write a link before continuing.');
			return false;
		}
		
		var url_value = jQuery("input[name='generate_redirection_link']").val();
		var acctid_value = jQuery("input[name='acctid']").val();
		var base_url_value = jQuery("input[name='base_url']").val();
		var link_pattern = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
			
		if (link_pattern.test(url_value)) {
			if (getDomain(url_value) == 'therawfoodworld.com' || getDomain(url_value) == 'therawfoodworld') {
				alert('For internal links please you form above (Link Builder).');				
			} else {
				jQuery('#redirection_generated_link').html(base_url_value + '/?aff=' + acctid_value + '&aff_redirect=' + urlencode(url_value));
				jQuery('#generated_redirection_wrap').css('display','block');
			}
		} else {
			jQuery('#generated_redirection_wrap').css('display','none');
			jQuery('#redirection_generated_link').html('');
			alert('Please write a correct link.');
			return false;
		}
	});	
});

function getDomain(url) {
	var domain;
	if (url.indexOf("://") > -1) {
		domain = url.split('/')[2];
	} else {
		domain = url.split('/')[0];
	}
	domain = domain.split(':')[0];
	return domain;
}

function urlencode(str) {
	str = (str + '').toString();
	return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');
}	
</script>