<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;Affiliate';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">
	<h1 class="accountDefaultHeadingSmall">*** We value your feedback as we continuously improve our affiliate program to meet your needs. Please send any questions and feedback to RawWorldService at <a href="mailto:rawworldservice@gmail.com" target="_blank">rawworldservice@gmail.com</a> ***</h1>
    <h1 class="accountDefaultHeading">Affiliate Information</h1>
    <div class="accountLinksWrapper">
        <ul id="myAccountNotify" class="list">
			<?php
	        $acctid = (int) $_SESSION["acctid"];
			$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
			$aff_commission = $efc->getConfigValue('eFluent Settings', 'CstAffCommission');
			$commission_min_value = $efc->getConfigValue('eFluent Settings', 'CstAffMinPayCommBalance');
			if (empty($commission_min_value)) { $commission_min_value = 100; }
			$commission_total_arr = $cclass->getAffCommissionTotal($acctid);
			?>
			<li class="info">Share this link with your friends and get commissions (or store credit) from <u><a href="http://www.therawfoodworld.com/affiliate_tos.phtml" title="Affiliate Tos" target="_blank">qualified purchases</a></u>: <i><?php echo $BASE_URL; ?>/?aff=<?php echo $acctid; ?></i><br />
			<p>You must agree to the <u><a href="http://www.therawfoodworld.com/affiliate_tos.phtml" title="Affiliate Tos" target="_blank">terms of service</a></u> to be an affiliate.</p>
			<p>Your commissions rate is: <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['commission'] > 0) ? $affiliate_info_arr['commission'] : $aff_commission; ?>%</p>
			<p>Your outstanding commissions balance is: $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>
			<?php
			if ($commission_total_arr['total_amount'] > 0 && $commission_total_arr['total_amount'] > $commission_min_value)
			{
				if ($commission_total_arr['total_requested'] > 0)
				{
					echo 'You have already requested payment';
				}
				else 
				{
					echo '<u><a href="/customer/affiliate_payment_settings.phtml#request-payment" title="Request Payment">Request Payment</a></u>';
				}
			}
			else 
			{}
			?>
			</p></li>	
			<?php
			if (($affiliate_info_arr['payments_type'] == 'paypal' && empty($affiliate_info_arr['email'])) ||
				($affiliate_info_arr['payments_type'] == 'check' && empty($affiliate_info_arr['address_street1'])))
			{
				?>
				<li><a href="/customer/affiliate_payment_settings.phtml">Payment Settings</a> (please complete this section in order to get paid)</li>
				<?php
			}
			else 
			{
				?>
				<li><a href="/customer/affiliate_payment_settings.phtml">Payment Settings</a></li>
				<?php
			}
			?>  
            <li><a href="/customer/affiliate_banners.phtml">Affiliate Banners</a></li>
            <li><a href="/customer/affiliate_link_builder.phtml">Affiliate Link Builder</a></li>
            <li><a href="/customer/affiliate_create_rawlinks.phtml">Create *Raw* Links</a></li>
            <li><a href="/customer/affiliate_reports.phtml">Commissions/Traffic Reports</a></li>
        </ul>
    </div>
</div>