<?php
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;<a href="/customer/">My Account</a>&nbsp;::&nbsp;Credit Balance';

$acctid = (int) $_SESSION["acctid"];
$credit_amount = $cclass->getCreditBalance($acctid);
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="viewOrderBlock">

    <h1 class="accountDefaultHeading">Credit Balance</h1><br />
	<p class="acct_cab">Your current credit balance is: $ <?=sprintf("%.2f", $credit_amount);?></div>
</div>