<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;Order Placed';
$xx_orderid = $_SESSION["ORDERID"];
$orderid = $_SESSION["INVOICEID"];

$return_msg = $_SESSSION["MESSAGE"];

if($return_msg == "")
{
	$return_msg = "Unknown Reason";
}
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div class="checkoutShipping">
    Your credit card was declined for the following reason: '<font color="#ff0000"><B><?=$return_msg;?></B></font>'<BR><BR>
    <B>Your order number is:&nbsp;&nbsp;<?=$orderid?></B> <BR><BR>
	If you need to contact us for any reason regarding your order, please email support@therawfoodworld.com or call 866-729-3438 and be sure to include your <B>order number (<?=$orderid?>)</B><BR><BR>
	You can try re-entering your billing details or, trying a different card.<BR>
	
	<form method="post" action="/checkout/complete_order.phtml" name="checkout_address">
	<input type="hidden" name="retrydeclined" value="1">
	<input type="hidden" name="invoiceid" value="<?=$orderid;?>">
	<input type="hidden" name="orderid" value="<?=$xx_orderid;?>">
	<fieldset>
            <legend>Payment Method</legend>
            <p class="fontBold">Please select a payment method for this order.</p>
			<div class="centerColSep2"></div>
            <input type="radio" id="pmt-authorizenet_aim" value="authorizenet_aim" name="payment" checked>
            <label class="radioButtonLabel" for="pmt-authorizenet_aim">Credit Card</label>
            <div class="ccinfo">
                <label class="inputLabelPayment" for="authorizenet_aim-cc-owner">Cardholder Name:</label>
                <input type="text" onfocus="methodSelect('pmt-authorizenet_aim')" id="authorizenet_aim-cc-owner" value="<?=$_SESSION['bill2name']?>" name="authorizenet_aim_cc_owner">
                <label class="inputLabelPayment" for="pmttype">Credit Card Type:</label>
                <select class="buttonItem" NAME="pmttype" id="pmttype">
                    <option VALUE="MC">MasterCard</option>
                    <option VALUE="VC">VISA</option>
                    <option VALUE="AM">American Express</option>
                    <option VALUE="DC">Discover</option>
                </select>
                <label class="inputLabelPayment" for="creditcard">Credit Card Number:</label>
                <input type="text" onfocus="methodSelect('pmt-authorizenet_aim')" id="creditcard" name="creditcard">
                <label class="inputLabelPayment" for="exp1a">Expiry Date:</label>
                <select onfocus="methodSelect('pmt-authorizenet_aim')" id="exp1a" name="exp1a">
                    <option value="">--------</option>
                    <option value="01">January - (01)</option>
                    <option value="02">February - (02)</option>
                    <option value="03">March - (03)</option>
                    <option value="04">April - (04)</option>
                    <option value="05">May - (05)</option>
                    <option value="06">June - (06)</option>
                    <option value="07">July - (07)</option>
                    <option value="08">August - (08)</option>
                    <option value="09">September - (09)</option>
                    <option value="10">October - (10)</option>
                    <option value="11">November - (11)</option>
                    <option value="12">December - (12)</option>
                </select>
                &nbsp;
                <select onfocus="methodSelect('pmt-authorizenet_aim')" id="exp1b" name="exp1b">
                    <option value="">--------</option>
                   <?
                    $cyear = date("Y", time());

                    for($xx = $cyear; $xx <= ($cyear + 10); $xx++) 
                    {
                        echo "<option value=\"$xx\">$xx</option>";
                    }
                    ?> 
                </select>
                <label class="inputLabelPayment" for="cvv">CVV Number:</label>
                <input type="text" onfocus="methodSelect('pmt-authorizenet_aim')" id="cvv" maxlength="4" size="4" name="cvv"> 
            </div>
    </fieldset>
	<div class="checkoutShippingContinue">
            <input type="image" title=" Continue " alt="Continue" src="/images/button_continue_checkout.gif">
	</div>
	</form>
    <BR><BR>    
    
    <?
    $query = "select orderid from customer_orders where invoiceid = '$orderid'";
    if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($xx_orderid) = mysql_fetch_array($qok);
    
    $qa = "SELECT distinct(customer_orders.orderid) FROM customer_orders,customer_order_lines WHERE customer_orders.orderid='$xx_orderid' AND customer_orders.acctid='".$_SESSION["acctid"]."' AND customer_orders.orderid=customer_order_lines.orderid AND (customer_order_lines.prodid='1008779' OR customer_order_lines.prodid='1008777' OR customer_order_lines.prodid='1008776' OR customer_order_lines.prodid='1008778' OR customer_order_lines.prodid='1008780')";
    if(!$qok = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
    $nrrows1 = mysql_num_rows($qok);
    
    $q_order_lines = "SELECT DISTINCT col.prodid,col.descr, co.acctid
                                        FROM customer_order_lines col
                                        JOIN customer_orders co ON co.orderid = col.orderid
                                        JOIN product_category_map pcm ON pcm.pid = col.prodid
                                        WHERE pcm.catid IN (100160,100539,100191)
                                        AND col.orderid = '$xx_orderid'";
      if(!$qok_order_lines = mysql_db_query($DB, $q_order_lines, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
      
              
    $nrrows2 = mysql_num_rows($qok_order_lines);
    
    if ($nrrows1 > 0 || $nrrows2>0)
    {
        ?>
        <h1 class="accountDefaultHeading">Download E-Materials</h1>
	<TABLE width=95% CELLPADDING=0 CELLSPACING=0 border=0 bgcolor="#ffffff">
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td class="g3" align=center height=22><B>OrderID</td>
		<td class="g3" align=left><B>Product</td>
		<td class="g3" align=center>&nbsp;<B></td>
	</tr>
    
    
        <?
            while (list($pid,$descr,$acctidtmp) = mysql_fetch_array($qok_order_lines))
            {
              
                $q_invoiceid = "SELECT invoiceid 
                                                    FROM customer_orders 
                                                    WHERE orderid = '$xx_orderid'
                                                    LIMIT 1";
                if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
                list($invoiceid) = mysql_fetch_array($qok_invoiceid);

                ?>
                <tr>
                        <td class="g2" align="center" height="22"><a href="/customer/vieworder.phtml?id=<?php echo $xx_orderid; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
                        <td class="g2" align="left"><b><?php echo $descr; ?></b></td>
                        <td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $prodid; ?>" target="_blank" class="title">Download</a></td>
                </tr>	
                <?php
            }
            ?>
        <?
            while (list($xx_orderid2) = mysql_fetch_array($qok))
            {
                $qaa = "SELECT customer_order_lines.prodid,descr FROM customer_order_lines where customer_order_lines.orderid='$xx_orderid2' AND (customer_order_lines.prodid='1008779' OR customer_order_lines.prodid='1008777' OR customer_order_lines.prodid='1008776' OR customer_order_lines.prodid='1008778' OR customer_order_lines.prodid='1008780')";
                if(!$qoka = mysql_db_query($DB, $qaa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
                if (mysql_num_rows($qoka) > 0)
                {
                    $q_invoiceid = "SELECT invoiceid 
							FROM customer_orders 
							WHERE orderid = '$xx_orderid2'
							LIMIT 1";
			if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
			list($invoiceid) = mysql_fetch_array($qok_invoiceid);
                    
                        while (list($prodid,$descr) = mysql_fetch_array($qoka))
                        {
                            ?>
                            <tr>
                                    <td class="g2" align="center" height="22"><a href="/customer/vieworder.phtml?id=<?php echo $xx_orderid2; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
                                    <td class="g2" align="left"><b><?php echo $descr; ?></b></td>
                                    <td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $prodid; ?>" target="_blank" class="title">Download</a></td>
                            </tr>	
                            <?php
                        }
                }
            }
            ?>
        </table>
            <?
    }
    ?>
</div>