<?
$wherearewe = '<a href="/">Home</a>';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<?php if (isset($_GET['error_shipping_country'])): ?>
	<div class="checkoutShippingInfo error_ship">We're sorry, one or more items cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.</div>
	<div class="centerColSep"></div>
<?php endif; ?>
<div class="checkoutShipping">
WHOOPS!  It appears as if you are trying to place an order but, nothing is in your shopping cart.  This could be caused by any one of the following:<BR><BR>
<UL>
        <LI>You already placed an order, and then hit refresh.  <?if($_SESSION["ORDERID"] != ""){?>Did you just place order <?=$_SESSION["ORDERID"];?>?  It is linked to your account.  <a href="/customer/">Click here to view your order history</a>.<?}?><BR><BR></LI>
        <LI>You do not have cookies enabled. In order to shop at RawFoodWorld.com, you must enable cookies.<BR><BR></LI>
        <LI>If you were not logged in, closing your browser would have removed the items in your cart. Make sure you are logged in to your account with us. That way, items in your cart will stay there for 30 days.<BR><BR></LI>
</UL>	
If you feel that there is a problem with our website, please feel to call 1-866-729-3438 to place your order.
<BR><BR>
<a href="/">Click here to continue back to the site</a>
</div>