<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en"><head>
<title><?if($pagetitle == "") echo "The Raw Food World"; else echo $pagetitle;?></title>
<META HTTP-EQUIV="REFRESH" CONTENT="1080">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<?php if($og_description != '') { ?>
    <meta name="description" content="<?=$og_description?>">
<?php } else { ?>    
<meta name="description" content="The Raw Food World :  - Misc Appliances Raw Foods Supplements Raw Beauty Raw Vegan Books/DVDs Herbs, Mushrooms etc. Exercise &amp; Detox Equipment Raw World Team Picks and FAQ 'At-Cost' Specials Virtual Catalog Kitchen Tools Cleanses Raw Lifestyle Accessories ecommerce, open source, shop, online shopping">
<?php } ?>
<meta name="DC.Format" content="text/html" /> 
<meta name="DC.Creator" content="Matt Monarch" />
<meta name="DC.Publisher" content="The Raw Food World" />
<meta name="DC.Contributor" content="" />
<meta name="DC.Date" content="2003-01-01" />
<meta name="DC.Type" content="" />
<meta name="DC.Relation" content="" />
<meta name="DC.Coverage" content="" />
<meta name="DC.Rights" content="Copyright 2013, The Raw Food World, All rights reserved." />
<meta name="DC.Language" content="EN" />
<meta name="DC.Title" xml:lang="EN" content="<?if($pagetitle == "") echo "The Raw Food World"; else echo $pagetitle;?>" />
<meta name="DC.Description" xml:lang="EN" content="" />
<meta name="DC.Identifier" content="<?if(isset($prodinfo['id']) && $prodinfo['id'] != '') echo $prodinfo['id']; else echo "";?>" /> 
<meta name="DC.Subject" content="<?if(isset($prodinfo['title']) && $prodinfo['title'] != '') echo $prodinfo['title']; else echo "The Raw Food World";?>" />    
    
    
<!--<meta http-equiv="imagetoolbar" content="no">-->
<?=$additional_metatags;?>
<!-- base href="http://www.therawfoodworld.com/" -->
<link rel="stylesheet" type="text/css" href="<?php echo $BASE_URL; ?>/css/css.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $BASE_URL; ?>/css/jquery-ui.css" />
<script type="text/javascript" src="<?php echo $BASE_URL; ?>/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="<?php echo $BASE_URL; ?>/js/jquery-ui_1.10.4.js"></script>
<script type="text/javascript" src="<?php echo $BASE_URL; ?>/js/anylinkcssmenu.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $BASE_URL; ?>/css/anylinkcssmenu.css" />    
<script src="<?php echo $BASE_URL; ?>/js/jquery.bxSlider.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    if ("https:" == document.location.protocol) {
	/* secure */
    } else {
	jQuery(".input_search").autocomplete({
	    source: "/qsearch.phtml",
	    minLength: 2,
	    select: function( event, ui ) {
		window.location.href='/'+ui.item.url;
	     }
	});
    }
   
    jQuery('#slider1').bxSlider({
        auto: true,
        autoControls: false,
        controls: false,
        speed:1000,
        pause:10000
    });
    jQuery('#slider2').bxSlider({
        auto: true,
        autoControls: false,
        controls: false,
        speed:1000,
        pause:10000
    });

	jQuery('select#country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			jQuery('input#international_states').css('display','none');
			jQuery('input#international_states').val('');	
			jQuery('select#usa_states').css('display','block');
		} else {
			jQuery('select#usa_states').css('display','none');
			jQuery('input#international_states').css('display','block');
		}
	}).trigger('change');
	
	jQuery('select#ship2country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			jQuery('input#ship2international_states').css('display','none');
			jQuery('input#ship2international_states').val('');	
			jQuery('select#ship2usa_state').css('display','block');
		} else {
			jQuery('select#ship2usa_state').css('display','none');
			jQuery('input#ship2international_states').css('display','block');
		}
	}).trigger('change');
	
	jQuery('select#bill2country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			jQuery('input#bill2international_states').css('display','none');
			jQuery('input#bill2international_states').val('');	
			jQuery('select#bill2usa_state').css('display','block');
		} else {
			jQuery('select#bill2usa_state').css('display','none');
			jQuery('input#bill2international_states').css('display','block');
		}
	}).trigger('change');
});
</script>
<style>
    #featuredImg{max-width:130px;max-height:107px }
    .featuredImg{max-width:130px;max-height:107px }
</style>    
<!--<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_boxes.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_css_buttons.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_main.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_tm.css">
<link rel="stylesheet" type="text/css" media="print" href="/css/print_stylesheet.css">-->
