<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;'.$help_title;
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div id="loginDefault" class="loginDefault">
        <h1 class="checkoutShippingHeading"><?=$help_title?></h1>
        <div class="centerColSep"></div>
        <div class="checkoutShippingWrapper">
           <?=html_entity_decode($help_content)?>
        </div>
        <div class="buttonRow" style="float:left;"><a href="/"><img height="25" width="45" title=" Back " alt="Back" src="/images/button_back.gif"></a></div>
</div>