<img src="/images/banner.jpg">
<iframe width="484" height="234" src="https://www.youtube.com/embed/NkCa_GFGZ0I" frameborder="0" allowfullscreen></iframe>
<div class="boxTopLarge"></div>
<div class="boxLarge homepageBlock">
    <h2 class="centerBoxHeading">Featured Products</h2>
    <div class="homePageItemSep"></div>
    <table class="floatLeft">
        <?
        $x=1;
        $k=1;
        $query = "select id,item_title,item_desc,item_link,item_img from rfw_featured_items order by ord";
        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        $total = mysql_num_rows($qok);
        while (list($item_id,$item_title,$item_desc,$item_link,$item_img) = mysql_fetch_array($qok)) {
            if($x == 1) {
                ?>
                    <tr>
                <?
            }
        ?>
            <td width="151px">
                <table>
                    <tr>
                        <td height="107px">
                            <a href="<?=$item_link?>">
                                <img class="featuredImg" alt="" src='<?=BASE_URL?>/mgt/reports/featured_items/files/<?=$item_img?>'/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                         <?
                            if($item_id=='3') {
                                $color = '#437045';
                            }
                            if($item_id=='4') {
                                $color = '#88daf0';
                            }
                            if($item_id=='5') {
                                $color = '#748ce6';
                            }
                            if($item_id=='6') {
                                $color = '#482253';
                            }
                            if($item_id=='7') {
                                $color = '#e8b691';
                            }
                            if($item_id=='8') {
                                $color = '#80a500';
                            }

                            ?>
                        <td style="color:<?=$color?>;" class="homepageItem">
                            <a href="<?=$item_link?>" style="color:<?=$color?>;" class="homepageItemLink">
                                <?=$item_title?>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="homepageItemDesc"><?=$item_desc?></td>
                    </tr>
                </table>
            </td>
        <?
            if($x == 3 || $total==$k) {
                ?>
                    </tr>
                    <tr><td colspan="3" class="height10">&nbsp;</td></tr>
                <?
                $x=1;
            }
            else {
                $x++;
            }
            $k++;
        }?>
    </table>
    <?
    $featured = array();
    if(count($featured['id'])>0) {
        foreach($featured['id'] as $k=>$v) {
//            $featured['sdescr'][$k] = strip_tags($featured['sdescr'][$k]);
            ?>
                <div class="homeFeaturedItem">
                    <div class="homeFeaturedItemImg">
                         <a href="<?=$sc->createProductNewUrl($v,$featured['title'][$k])?>">
                            <img src="/getimage.phtml?id=<?=$v;?>&amp;itype=0&amp;thumb=1" alt="<?=$featured['title'][$k]?>" title="<?=$featured['title'][$k]?>" border="0"  id="homePageProdImg"/>
                        </a>
                    </div>
                   
                    <a href="<?=$sc->createProductNewUrl($v,$featured['title'][$k])?>" class="ptitle">
                        <?=$featured['title'][$k]?>
                    </a>
                    <p class="pprice">$<?=$featured['price'][$k]?></p>
                </div>
            <?
            if($k == 2) {
                ?>
                <div class="homePageItemSep"></div>
                <?
            }
        }
    }
    ?>
</div>
<div class="boxBottomLarge"></div>
<div class="homeFollowBanner">
    <div class="homeFollowBannerImg">
        <a href="https://twitter.com/mattmonarch" target="_blank" class="followTwitter"></a>
        <a href="https://www.facebook.com/RawFoodWorld" target="_blank" class="followFB"></a>
        <a href="https://plus.google.com/+Therawfoodworldinc/posts" target="_blank" class="followGP"></a>
        <a href="http://www.youtube.com/user/TheRawFoodWorld" target="_blank" class="followYT"></a>
    </div>
    <div class="homeJoinBox">
<!--
Do not modify the NAME value of any of the INPUT fields
the FORM action, or any of the hidden fields (eg. input type=hidden).
These are all required for this form to function correctly.
-->
<style type="text/css">

        .myForm td, input, select, textarea, checkbox  {
                font-family: tahoma;
                font-size: 12px;
        }

        .required {
                color: red;
        }

</style>
    <div class="ereport">

      <div style="margin-left:25px;">
        <iframe class="form" src="https://connect.ongage.net/list/forms_preview/?tk=350495704_c1d04e29edde52a170ca9bca18f5cd32f85102c2104b1e186903c4973f5fee8d" height="90" width="200" scrolling="no" frameborder="0"></iframe>
      </div>

    </div>
<script type="text/javascript">
// <![CDATA[

                        function CheckMultiple5(frm, name) {
                                for (var i=0; i < frm.length; i++)
                                {
                                        fldObj = frm.elements[i];
                                        fldId = fldObj.id;
                                        if (fldId) {
                                                var fieldnamecheck=fldObj.id.indexOf(name);
                                                if (fieldnamecheck != -1) {
                                                        if (fldObj.checked) {
                                                                return true;
                                                        }
                                                }
                                        }
                                }
                                return false;
                        }
                function CheckForm5(f) {
                        var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
                        if (!email_re.test(f.email.value)) {
                                alert("Please enter your email address.");
                                f.email.focus();
                                return false;
                        }

                                return true;
                        }

// ]]>
</script>   
    </div>
</div>
<div class="homeTV">
    <a href="http://therawfoodworld.tv" target="_blank" class="tv"></a>
</div>
   