<div class="leftColBlock">
<?php
if(isset($homepage))
{
$promolist= $pr->get_allpromo('left','top');
//print_r($promolist);
foreach ($promolist as $promo ) {
	$id =$promo['promoid'];
	$promoData= $pr->get_promoDate($id);
	foreach($promoData as $data)
	{
		$type = $data['type'];
		if($type=='image')
		{
		$image =$data['promo_img'];
		$imageLink =$data['promo_img_link'];
		echo '<a href="'.$imageLink.'"><img src="'.BASE_URL.'/mgt/promo/images/'.$image.'"" width="100%" height="234"></a>';
		}else
		{
		  echo "<iframe width='100%' height='234' src='".$data['video_embed_code']."' frameborder='0' allowfullscreen></iframe>";

		}
	}
}
}
 ?>
    <!--// bof: categories //-->
    <div class="boxTop"></div>
    <div class="categoriesBlock">
       <div class="boxTitle">Categories</div>
       <ul class="homeCategories">
       		<li>
                <a href="/at-cost-specials-l36" class="at-cost-specials">At-Cost Specials</a>
            </li>
            <?
	// level 1
	$cattree1 = $sc->getSubcategories(0);
	if (count($cattree1) > 0)
	{
		foreach ($cattree1 AS $cat1_k => $cat1_v)
		{
			echo '<li><a href="/'.$sc->createCustomUrl($cat1_v['scatname'],$cat1_v['scatid']).'">'.$cat1_v['scatname'].'</a>';
			
			// level 2
			$cattree2_kids = $cattree2_kids_list = $cattree3_kids = $cattree3_kids_list = $cattree4_kids = $cattree4_kids_list = array();
			$cattree2_kids = $sc->getSubcategories($cat1_v['scatid']);
			if (!empty($cattree2_kids))
			{
				foreach ($cattree2_kids AS $k2 => $v2) 
				{ 
					$cattree2_kids_list[] = $v2['scatid']; 
					$cattree3_kids = $sc->getSubcategories($v2['scatid']);
					if (!empty($cattree3_kids))
					{
						foreach ($cattree3_kids AS $k3 => $v3) 
						{ 
							$cattree3_kids_list[] = $v3['scatid']; 
							$cattree4_kids = $sc->getSubcategories($v3['scatid']);
							if (!empty($cattree4_kids))
							{
								foreach ($cattree4_kids AS $k4 => $v4) 
								{ 
									$cattree4_kids_list[] = $v4['scatid']; 
								}
							}
						}
					}
				}
			}
			
			if ($cat1_v['scatid'] == $c || in_array($c,$cattree2_kids_list) || in_array($c,$cattree3_kids_list) || in_array($c,$cattree4_kids_list))
			{
				$cattree2 = $sc->getSubcategories($cat1_v['scatid']);
				if (count($cattree2) > 0)
				{
					echo '<ul class="leftSubCat">';
					foreach ($cattree2 AS $cat2_k => $cat2_v)
					{
						echo '<li><a href="/'.$sc->createCustomUrl($cat2_v['scatname'],$cat2_v['scatid']).'">'.$cat2_v['scatname'].'</a>';
	
						// level 3
						if (in_array($c,$cattree2_kids_list) || in_array($c,$cattree3_kids_list) || in_array($c,$cattree4_kids_list))
						{
							$cattree3 = $sc->getSubcategories($cat2_v['scatid']);
							$cattree3_kids_list_tmp = array();
							$cattree3_kids_tmp = $cattree3;
							foreach ($cattree3_kids_tmp AS $k3_tmp => $v3_tmp) { $cattree3_kids_list_tmp[] = $v3_tmp['scatid']; }

							if (count($cattree3) > 0)
							{
								$thislevel = FALSE;
								
								echo '<ul class="leftSubCat">';
								foreach ($cattree3 AS $cat3_k => $cat3_v)
								{
									$cattree4_tmp = $sc->getSubcategories($cat3_v['scatid']);
									$cattree4_kids_list_tmp = array();
									$cattree4_kids_tmp = $cattree4_tmp;
									foreach ($cattree4_kids_tmp AS $k4_tmp => $v4_tmp) { $cattree4_kids_list_tmp[] = $v4_tmp['scatid']; }
									
									if ( ($cat2_v['scatid'] == $c) || 
										 ($cat3_v['scatid'] == $c) || 
										 (in_array($c,$cattree3_kids_list_tmp)) || 
										 (in_array($c,$cattree4_kids_list_tmp)) ||
										 ($thislevel == TRUE))
									{
										echo '<li><a href="/'.$sc->createCustomUrl($cat3_v['scatname'],$cat3_v['scatid']).'">'.$cat3_v['scatname'].'</a>';
										
										$thislevel = TRUE;
										
										// level 4
										if ($cat3_v['scatid'] == $c || in_array($c,$cattree4_kids_list_tmp))
										{
											$cattree4 = $sc->getSubcategories($cat3_v['scatid']);
											if (count($cattree4) > 0)
											{
												echo '<ul class="leftSubCat">';
												foreach ($cattree4 AS $cat4_k => $cat4_v)
												{
													echo '<li><a href="/'.$sc->createCustomUrl($cat4_v['scatname'],$cat4_v['scatid']).'">'.$cat4_v['scatname'].'</a></li>';
												}
												echo '</ul>';
											}
										}
										echo '</li>';
									}
								}
								echo '</ul>';
							}
						}
						echo '</li>';
					}
					echo '</ul>';	
				}
			}
			echo '</li>';
		}
	}
unset($cattree1);
unset($cattree2_kids);            
unset($cattree3_kids);            
unset($cattree4_kids);            
            
            ?>
            <li><a class="category-links" href="/new_products.phtml">All Products ...</a></li>
        </ul>
    </div>
    <div class="boxBottom"></div>

    <div class="boxTop mtopBox"></div>
    <div class="categoriesBlock">
        <div class="boxTitle">
           <a href="/at-cost-specials-l36">At-Cost Specials</a>
       </div>
            <ul id="slider2">
                <?php
        		// new at-cost update
				$q_atcost = "SELECT lpa.discount_type, lpa.blowout2_first, lpa.blowout2_second, lpa.blowout2_third, pl.id, pl.descr, pp.price_level".$_SESSION["USE_PRICE_LEVEL"]." 
							 FROM list_products_atcost lpa 
							 JOIN product_list pl ON pl.id = lpa.pid 
							 JOIN product_prices pp ON pp.id = pl.id 
							 ORDER BY RAND() 
							 LIMIT 10";
				if(!$qok_atcost = mysql_db_query($DB, $q_atcost, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qok_atcost) > 0)
				{
					while (list($atcost_discount_type, $atcost_blowout2_first, $atcost_blowout2_second, $atcost_blowout2_third, $pid, $descr, $price) = mysql_fetch_array($qok_atcost))
					{
						if ($atcost_discount_type == 'atcost')
						{
							// 30% off
							$atcost_price = sprintf('%.2f', $price * ((100 - 30) / 100));
						}
						elseif ($atcost_discount_type == 'blowout1')
						{
							// 55% off
							$atcost_price = sprintf('%.2f', $price * ((100 - 55) / 100));
						}
						elseif ($atcost_discount_type == 'blowout2')
						{
							if ($atcost_blowout2_second == '0.00' && $atcost_blowout2_third == '0.00')
							{
								$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							}
							elseif ($atcost_blowout2_third == '0.00')
							{
								$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							}
							else 
							{
								$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							}
						}				
	                    ?>
						<li>
							<div class="prod_title_box1"><a href="/<?=$sc->createProductNewUrl($pid,$descr)?>"><?=$descr?></a></div>
							<div class="img_box1">
								<a href="<?=$sc->createProductNewUrl($pid,$descr)?>"><img src="/getimage.phtml?id=<?=$pid?>&amp;itype=0&amp;thumb=1" alt="<?=$descr?>" class="prod_img" title=" <?=$descr?> "></a>
							</div>
							<div class="prod_price_box">
								<span class="old_price">$<?php echo $price; ?></span>$<?php echo $atcost_price; ?>
							</div>
							<a class="prod_view_box" href="/<?=$sc->createProductNewUrl($pid,$descr)?>">
								<img src="/images/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " height="25" width="113">
							</a>
						</li>
	                    <?php
					}
				}
                
                /*
				$atCostSpecials = $sc->getListById(36,10);
                if(is_array($atCostSpecials) && count($atCostSpecials['id']) > 0) 
                {
					$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
                    foreach ($atCostSpecials['id'] as $k => $v)
                    {
						$sb_onsale_price = 0;
                    	$query_onsale = "SELECT COUNT(id) AS count
			        					 FROM custom_values
			        					 WHERE cfid = '$cfid'
			        					 AND pid = '".$atCostSpecials['id'][$k]."'
			        					 AND text_short > 0
			        					 LIMIT 1";
						if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($count_onsale) = mysql_fetch_array($qok_onsale);
						if ($count_onsale > 0)
						{
							$pl7 = sprintf('%.2f',$atCostSpecials['pl7'][$k]); 
							if ($pl7 > 0)
							{
								$sb_onsale_price = $pl7;
							}
						}			
                        ?>
                        <li>
                            <div class="prod_title_box1">
                            <a href="/<?=$sc->createProductNewUrl($v,$atCostSpecials['title'][$k])?>"><?=$atCostSpecials['title'][$k]?></a>
                            </div>
                            <div class="img_box1">
                                <a href="<?=$sc->createProductNewUrl($v,$atCostSpecials['title'][$k])?>">
                                    <img src="/getimage.phtml?id=<?=$v?>&amp;itype=0&amp;thumb=1" alt="<?=$atCostSpecials['title'][$k]?>" class="prod_img" title=" <?=$atCostSpecials['title'][$k]?> ">
                                </a>
                            </div>
                            <div class="prod_price_box">
	                            <?php if ($sb_onsale_price > 0): ?>
		                            <span class="old_price">$<?php echo $atCostSpecials['price'][$k]; ?></span>$<?php echo $sb_onsale_price; ?>
								<?php else: ?>
		                           $<?=$atCostSpecials['price'][$k]?>
	                            <?php endif; ?>
                            </div>
                            <a class="prod_view_box" href="/<?=$sc->createProductNewUrl($v,$atCostSpecials['sdescr'][$k])?>">
                                <img src="/images/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " height="25" width="113">
                            </a>
                        </li>
                        <?
                    }
                }
                */
                ?>
            </ul>
           
    </div>
    <div class="boxBottom"></div>
    
    
    <div class="boxTop mtopBox"></div>
    <div class="categoriesBlock">
        <?
//        $newProd = $sc->outputHomeProds();
          $newProd = $sc->getListByName('HomepageNewProd','10');
        ?>
       <div class="boxTitle">
           <a href="/new_products.phtml">What's New</a>
       </div>
            <ul id="slider1">
                <?
                if(is_array($newProd) && count($newProd['id'])) {
                    foreach ($newProd['id'] as $k=>$v)  {
                        ?>
                        <li>
                            <div class="prod_title_box1">
                            <a href="/<?=$sc->createProductNewUrl($v,$newProd['title'][$k])?>"><?=$newProd['title'][$k]?></a>
                            </div>
                            <div class="img_box1">
                                <a href="<?=$sc->createProductNewUrl($v,$newProd['title'][$k])?>">
                                    <img src="/getimage.phtml?id=<?=$v?>&amp;itype=0&amp;thumb=1" alt="<?=$newProd['title'][$k]?>" class="prod_img" title=" <?=$newProd['title'][$k]?> ">
                                </a>
                            </div>
                            <div class="prod_price_box">$<?=$newProd['price'][$k]?></div>
                            <a class="prod_view_box" href="/<?=$sc->createProductNewUrl($v,$newProd['sdescr'][$k])?>">
                                <img src="/images/button_goto_prod_details.gif" alt="Go To This Product's Detailed Information" title=" Go To This Product's Detailed Information " height="25" width="113">
                            </a>
                        </li>
                        <?
                    }
                }
                ?>
            </ul>
           
    </div>
    <div class="boxBottom"></div>    
    
 
    <div class="boxTop mtopBox"></div>
    <div class="categoriesBlock">
       <div class="boxTitle">Information</div>
       <ul class="homeInformation">
            <li><a href="/ca-proposition-65.phtml">CA Proposition 65</a></li>
            <li><a href="/become-a-raw-food-affiliate.phtml">Become an Affiliate</a></li>
            <li><a href="/affiliate_tos.phtml">Affiliate Terms and Conditions</a></li>
            <li><a href="/customer/affiliate.phtml">Affiliate Login</a></li>
            <li><a href="/help.phtml?hid=39">Shipping &amp; Returns</a></li>
            <li><a href="/help.phtml?hid=40">Privacy Notice</a></li>
            <li><a href="/help.phtml?hid=41">Conditions of Use</a></li>
            <li><a href="/contact.phtml">Contact Us</a></li>
            <li><a href="/help.phtml?hid=42">Site Map</a></li>
        </ul>
    </div> 
    <div class="boxBottom"></div>

<?php
if(isset($homepage))
{
//promo
$promolist= $pr->get_allpromo('left','bottom');
//print_r($promolist);
foreach ($promolist as $promo ) {
	$id =$promo['promoid'];
	$promoData= $pr->get_promoDate($id);
	foreach($promoData as $data)
	{
		$type = $data['type'];
		if($type=='image')
		{
		$image =$data['promo_img'];
		$imageLink =$data['promo_img_link'];
		echo '<a href="'.$imageLink.'"><img src="'.BASE_URL.'/mgt/promo/images/'.$image.'"" width="100%" height="234"></a>';
		}else
		{
		  echo "<iframe width='100%' height='234' src='".$data['video_embed_code']."' frameborder='0' allowfullscreen></iframe>";

		}
	}
}
}
 ?>
</div>