<?php
$set_sort_by_txt = 'list';
$set_sort_by_val = $lid;
?>
<div class="boxTopLarge"></div>
<div class="boxLarge2">
	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?>
	<div class="nav_top_bg2">
    	<?php if ($lid && $lid == 36): include 'adcost_specials_register_newsletter.phtml'; endif; ?>
		<div class="navSplitPagesResult" id="productsListingTopNumber">
			Sort BY: 
            <a href="javascript:void(0)" onclick="setSortBy('2','<?php echo $set_sort_by_txt; ?>','<?php echo $set_sort_by_val; ?>')" class="sortBtnTxt<?if($sb == '2') echo " sortBtnTxtActive"?>">Price Low</a>&nbsp&nbsp
            <a href="javascript:void(0)" onclick="setSortBy('3','<?php echo $set_sort_by_txt; ?>','<?php echo $set_sort_by_val; ?>')" class="sortBtnTxt<?if($sb == '3') echo " sortBtnTxtActive"?>">Price High</a>&nbsp&nbsp
            <a href="javascript:void(0)" onclick="setSortBy('4','<?php echo $set_sort_by_txt; ?>','<?php echo $set_sort_by_val; ?>')" class="sortBtnTxt<?if($sb == '4') echo " sortBtnTxtActive"?>">Name A-Z</a>&nbsp&nbsp
            <a href="javascript:void(0)" onclick="setSortBy('5','<?php echo $set_sort_by_txt; ?>','<?php echo $set_sort_by_val; ?>')" class="sortBtnTxt<?if($sb == '5') echo " sortBtnTxtActive"?>">Name Z-A</a>
		</div>    
    	<div class="navSplitPagesResult" id="productsListingTopNumber">
            Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to 
            <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> 
            (of <strong><?=number_format($numproducts,0);?></strong> products)
        </div>
        <?
         if($numpages>1) {
        ?>
        <div class="navSplitPagesLinks" id="productsListingListingTopLinks">
            <?php
            if ($lid)
            {
	            $sc->doPages($c, $mid, $numpages, $p, $lastpage, $nextpage, "/vid/$sp?lid=$lid&mid=$mid&sb=$sb", $sb);
            }
            else 
            {
	            $sc->doPages($c, $mid, $numpages, $p, $lastpage, $nextpage, "", $sb);
            }
            ?>
        </div>
        <?}?>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" width="445px" style="float:left;margin-top:20px;">
    <tr class="productListing-rowheading">
        <th id="listCell0-0" scope="col" class="productListing-heading">
            <a class="productListing-heading" title="Sort products ascendingly by Item Name"  href="javascript:void(0)" onclick="changeSort('name','<?=$sb?>')">Item Name</a>
        </th>
        <th align="center" id="listCell0-1" nowrap class="productListing-heading">Product Image</th>
        <th width="100" align="right" id="listCell0-2" scope="col" class="productListing-heading">
            <a class="productListing-heading" title="Sort products ascendingly by Price"  href="javascript:void(0)" onclick="changeSort('price','<?=$sb?>')">Price</a>
        </th>
    </tr>
		<input type="hidden" value="1" class="cart_quantity" name="cart_quantity">    
        <?
        foreach($plist['id'] as $k=>$v) 
        {
		        	if (!empty($_SESSION["acctid"])) 
		        	{ 
		        		if ($_SESSION['levelid'] == 1 || $_SESSION['levelid'] == 2)
		        		{
		        			// check for cfid 40
		        			$query = "SELECT COUNT(pid) AS count, text_short
		        					  FROM custom_values
		        					  WHERE cfid = '40'
		        					  AND pid = '$v'
		        					  LIMIT 1";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list ($count_cfid40, $discount_percent) = mysql_fetch_array($qok);
		        			if ($count_cfid40 > 0 && $discount_percent > 0)
		        			{
								$query_pl4 = "SELECT price_level4
											  FROM product_prices
											  WHERE id = '$v'
											  LIMIT 1";
								if(!$qok_pl4 = mysql_db_query($DB, $query_pl4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($pl4) = mysql_fetch_array($qok_pl4);
								$pl4 = sprintf('%.2f',$pl4); 
								if ($pl4 > 0)
								{
			        				$deep_discount = $pl4;
								}
		        			}
			        	}
			        	
			        	if ($_SESSION['levelid'] == 3)
			        	{
							$query_pl5 = "SELECT price_level5
										  FROM product_prices
										  WHERE id = '$v'
										  LIMIT 1";
							if(!$qok_pl5 = mysql_db_query($DB, $query_pl5, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl5) = mysql_fetch_array($qok_pl5);
							$pl5 = sprintf('%.2f',$pl5); 
							if ($pl5 > 0)
							{
								$resseler_discount = $pl5;
							}
			        	}
			        	
			        	if ($_SESSION['levelid'] == 4)
			        	{
							$query_pl6 = "SELECT price_level6
										  FROM product_prices
										  WHERE id = '$v'
										  LIMIT 1";
							if(!$qok_pl6 = mysql_db_query($DB, $query_pl6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl6) = mysql_fetch_array($qok_pl6);
							$pl6 = sprintf('%.2f',$pl6); 
							if ($pl6 > 0)
							{
								$resseler_discount = $pl6;
							}
			        	}
		        	}
        	?>
            <tr>
                <td class="productListing-data">
                
                
<?php
	// Show Blowout status (CFID 45)
	$q_blowout = "SELECT COUNT(id)
				  FROM custom_values
				  WHERE cfid = '45'
				  AND pid = '$v'
				  AND text_short = '1'
				  LIMIT 1";
    if(!$qok_blowout = mysql_db_query($DB, $q_blowout, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($count_blowout) = mysql_fetch_array($qok_blowout);
	if ($count_blowout > 0) 
	{
		// Blowout Qty (CFID 46)
		$q_blowout_lmt = "SELECT COUNT(id), text_short
						  FROM custom_values
						  WHERE cfid = '46'
						  AND pid = '$v'
						  LIMIT 1";
	    if(!$qok_blowout_lmt = mysql_db_query($DB, $q_blowout_lmt, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($count_blowout_lmt,$blowout_limit) = mysql_fetch_array($qok_blowout_lmt);
		if ($count_blowout_lmt > 0)
		{	
			$qty_available = $sc->getItemQtyAvailable($v);
			if ($qty_available > 0 && $blowout_limit > 0 && $blowout_limit > $qty_available)
			{
				?>
				<p class="list_blowout"><big><strike><?php echo $blowout_limit; ?></strike> <?php echo $qty_available; ?> remaining at this price</big></p>
				<?php
			}
		}	
	}
?>
                
                
                
                
                    <h3>
                        <a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>"><?=$plist['title'][$k]?></a>
                    </h3>
                    <div class="listingDescription">
                        <?=$plist['sdescr'][$k]?>
                        <?php
                            // bulk options availalbe
                            $cfid_bulk = $efc->getConfigValue('eFluent Settings', 'BULK_OPTIONS');
                            $q_bulk = "SELECT COUNT(id) AS count
                                               FROM custom_values
                                               WHERE cfid = '$cfid_bulk'
                                               AND pid = '$v'
                                               AND text_short > 0
                                               LIMIT 1";
                            if(!$qok_bulk = mysql_db_query($DB, $q_bulk, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($count_bulk) = mysql_fetch_array($qok_bulk);
                            $q_bulk_options = "SELECT COUNT(id)
                                                               FROM product_bulk_options
                                                               WHERE pid = '$v'
                                                               ORDER BY bulk_qty_min ASC";
                            if(!$qok_bulk_options = mysql_db_query($DB, $q_bulk_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
                            list($count_bulk_options) = mysql_fetch_array($qok_bulk_options);
                            if ($count_bulk > 0 && $count_bulk_options > 0)
                            {
                                    echo '<a href="/'.$sc->createProductNewUrl($v,$plist['title'][$k]).'" style="color:#0000FF;font-size:14px;display:block;margin:10px 0 0 0;text-decoration:none" title="For Bulk Discounts, Click Here">For Bulk Discounts, Click Here</a>';
                            }
                            ?>  
                    </div>
                </td>
                <td align="center" class="productListing-data imgTitle">
		        	<?php
//					if (!$deep_discount && !$resseler_discount)
//					{		        	
			        	$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
			        	$query_onsale = "SELECT COUNT(id) AS count
			        					 FROM custom_values
			        					 WHERE cfid = '$cfid'
			        					 AND pid = '$v'
			        					 AND text_short > 0
			        					 LIMIT 1";
						if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($count_onsale) = mysql_fetch_array($qok_onsale);
						if ($count_onsale > 0)
						{
							$query_pl2 = "SELECT price_level7
										  FROM product_prices
										  WHERE id = '$v'
										  LIMIT 1";
							if(!$qok_pl2 = mysql_db_query($DB, $query_pl2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl2) = mysql_fetch_array($qok_pl2);
							$pl2 = sprintf('%.2f',$pl2); 
							if ($pl2 > 0)
							{
								$onsale_price = $pl2;
								echo '<img src="/images/rfw_onsale_watermark100x100.png" class="onsale_badge" id="onsale_badge" />';
							}
						}
//					}
					?>
                	<a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>">
                        <img id="listingProductImage" title="<?=$plist['title'][$k]?>" alt="<?=$plist['title'][$k]?>" src="/getimage.phtml?id=<?=$v?>&itype=0&thumb=1">
                    </a>
                </td>
                <td align="right" class="productListing-data">
                    <div class="prodListPrice"></div>
                    <div class="prodListPrice">
                        <?
						if ($deep_discount && $onsale_price && $onsale_price < $deep_discount)
						{
	                    	echo '<span class="old_price">$' . $plist['price'][$k].'</span>';
	                    	echo '<strong>$' . $onsale_price . '</strong>';
						} 
						elseif ($deep_discount && $onsale_price && $deep_discount < $onsale_price)
						{
	                    	echo '<span class="old_price">$' . $plist['price'][$k].'</span>';
	                    	echo '<strong>$' . $deep_discount . '</strong>';
						}
						elseif ($deep_discount)
						{
	                    	echo '<span class="old_price">$' . $plist['price'][$k].'</span>';
	                    	echo '<strong>$' . $deep_discount . '</strong>';
						}
						elseif ($resseler_discount)
						{
	                    	echo '<span class="old_price">$' . $plist['price'][$k].'</span>';
							echo '<strong>$' . $resseler_discount . '</strong>';
						}
						elseif ($onsale_price)
						{
	                    	echo '<span class="old_price">$' . $plist['price'][$k].'</span>';
	                    	echo '<strong>$' . $onsale_price . '</strong>';
						}
                        elseif ($plist['price_map'][$k]!= '' && $plist['price_map'][$k]>0) 
                        {
                        ?>
                            <span class="old_price" style="text-align:right;float:right">$<?=$plist['price_map'][$k]?></span>
                            <span style="font-weight:bold;text-align:right;display:block;float:right">$<?=$plist['price'][$k]?></span><br/>
                            <span class="productPriceDiscount" style="float:right;margin-top:20px">Save:&nbsp;$<?=number_format($plist['price_map'][$k]-$plist['price'][$k],2)?>&nbsp;off</span><br/>
                        <?
                        }
                        else
                        {
                        	echo '$' . $plist['price'][$k];
                        }
						unset($onsale_price);
						unset($deep_discount);
						unset($resseler_discount);
                        ?>
                        <br />
                         <?
					     if(!$sc->showStockBol($v) || $v=='1008145' || $v=='1008149') {
					     	$query = "SELECT text_short
					        					  FROM custom_values
					        					  WHERE cfid = '42'
					        					  AND pid = '$v'
					        					  LIMIT 1";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list ($count_cfid42) = mysql_fetch_array($qok);
					     	?>
                        <span style="font-size:10px; line-height:10px; align:left;">On backorder until <?=$count_cfid42?></span>
                        <?}?>
                    </div>
                    <?
                    if($sc->showStockBol($v) && $v!='1008145' && $v!='1008149') {
                        if ($count_bulk > 0 && $count_bulk_options > 0) { 
                            ?>
                                <a href="javascript:void(0);" id="<?=$v?>" class="show_bulk_popup" title="Bulk discounts">Bulk pricing chart</a>						
                                <!--<a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>" class="pListAdd"><img width="64" height="25" class="listingBuyNowButton" title=" Buy Now " alt=" Buy Now " src="/images/button_buy_now.gif"></a>-->
                                <a href="javascript:void(0)" id="<?=$v?>" class="ship4add2cartbtn pListAdd"><img width="64" height="25" class="listingBuyNowButton" title=" Buy Now " alt=" Buy Now " src="/images/button_buy_now.gif"></a>
                                <input type="hidden" id='bulk_add_<?=$v?>' value="1" />
                            <?php } else { ?>
                                <a href="javascript:void(0)" id="<?=$v?>" class="ship4add2cartbtn pListAdd"><img width="64" height="25" class="listingBuyNowButton" title=" Buy Now " alt=" Buy Now " src="/images/button_buy_now.gif"></a>
                                <input type="hidden" id='bulk_add_<?=$v?>' value="0" />
                            <?php 
                            }
                        
                        ?>
                        
                        <!--<a href="javascript:void(0)" id="<?=$v?>" class="ship4add2cartbtn pListAdd"><img width="64" height="25" class="listingBuyNowButton" title=" Buy Now " alt=" Buy Now " src="/images/button_buy_now.gif"></a>-->
                        
                        <?
                    }
                    else {
                        if($_SESSION["acctid"] != ""){
                            $query = "select id from product_notify where pid = '".trim(strip_tags($v))."' AND accid='".trim(strip_tags($_SESSION["acctid"]))."'";
                            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
                            if(mysql_num_rows($qok)==0) {
                                ?>
                                <a href="javascript:void(0)" onclick="addToNotify('<?=$v?>','prods')" class="pListAdd">
                                    <img src="/images/button_notify.gif" alt="" title="" style="margin-left: 5px" id="notBtn_<?=$v?>" />
                                </a>
                                <?
                            }
                            else {
                                ?>
                                <div class="prodListOutOfStock">Out of Stock</div>
                                <?
                            }
                        ?>
                        <?}else {
                            ?>
                                <a href="javascript:void(0)" onclick="document.location='/customer'" class="pListAdd">
                                    <img src="/images/button_notify.gif" alt="" title="" style="margin-left: 5px" id="notBtn" />
                                </a>
                            <?
                        }
                    }
                    ?>
                   
                </td>
            </tr>
            <tr><td colspan="3" class="products_error_ship error_<?=$v?>">&nbsp;</td></tr>
            <tr><td colspan="3" class="pListSep"></td></tr>
            <?
        }
    ?>
    </table>
    <div class="nav_top_bg2">
        <div class="navSplitPagesResult" id="productsListingTopNumber">
            Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to 
            <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> 
            (of <strong><?=number_format($numproducts,0);?></strong> products)
        </div>
        <?
         if($numpages>1) {
        ?>
        <div class="navSplitPagesLinks" id="productsListingListingTopLinks">
            <?
            if ($lid)
            {
	            $sc->doPages($c, $mid, $numpages, $p, $lastpage, $nextpage, "/vid/$sp?lid=$lid&mid=$mid&sb=$sb", $sb);
            }
            else 
            {
	            $sc->doPages($c, $mid, $numpages, $p, $lastpage, $nextpage, "", $sb);
            }
            ?>
        </div>
        <?}?>
    </div>
	<?php endif; ?>
</div>
<div class="boxBottomLarge" style="margin-bottom:10px;"></div>


<script type="text/javascript">
$(document).ready(function(){
	$('.show_bulk_popup').each(function(){
		var pid = $(this).attr('id');
		$(this).click(function() {
			$.get('/ajax_bulk_price_calc.phtml?pid=' + pid + '&list_bulk_options', function(result_data) {
                            $('.bulk_popup').html(result_data);
                            $('.bulk_popup_mask').show();
                            $('.bulk_popup').css('position', 'fixed');
                            $('.bulk_popup').show();
                            
                            	$('.hide_bulk_popup').on('click', function() {	
                                    $('.bulk_popup_mask').hide();
                                    $('.bulk_popup').html('').hide();
                                });	
                            
			});
		});
	});


});
</script>
<div class="bulk_popup_mask">&nbsp;</div>
<div class="bulk_popup">&nbsp;</a></div>