<?
$wherearewe = '<a href="/">Home</a>&nbsp;::&nbsp;';
$catname='';

for($xx = count($catTree['catid']) - 1; $xx >= 0; $xx--)
{
	$link = $sc->createProductsNewUrl($catTree['catname'][$xx],$catTree['catid'][$xx]);
	if ($xx > 0) {
		$wherearewe .= "<a href=\"".$link."\">".$catTree['catname'][$xx]."</a>&nbsp;::&nbsp;";
	}
        else {
            $wherearewe .=$catTree['catname'][$xx];
            $catname = $catTree['catname'][$xx];
        }
}

// new at-cost update
$q_atcost = "SELECT COUNT(id), discount_type, blowout2_first, blowout2_second, blowout2_third, stock_qty, stock_qty_available   
			 FROM list_products_atcost 
			 WHERE pid = '$id' 
			 LIMIT 1";
if(!$qok_atcost = mysql_db_query($DB, $q_atcost, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($atcost_cnt, $atcost_discount_type, $atcost_blowout2_first, $atcost_blowout2_second, $atcost_blowout2_third, $atcost_stock_qty, $atcost_qty_available) = mysql_fetch_array($qok_atcost);
?>
<div class="navBreadCrumb" itemprop="breadcrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div class="boxTopLarge"></div>
<div class="boxLarge">
    <h1 class="centerBoxHeading"><?=$catname?></h1>
</div>
<div class="boxBottomLarge"></div>
<div class="centerColSep"></div>
<div class="boxTopLarge"></div>
<div class="boxLarge2" itemscope itemtype="http://schema.org/Product">

	<?php
	// new at-cost update
	if ($atcost_cnt > 0)
	{
		if ($atcost_stock_qty > 0 && $atcost_qty_available > 0)
		{
			$qty_available = $sc->getItemQtyAvailable($id);
			if ($qty_available > 0 && $atcost_qty_available > $qty_available)
			{
				?>
				<p class="prodinfo_blowout"><big><strike><?php echo $atcost_stock_qty; ?></strike> <?php echo $atcost_qty_available; ?> remaining at this price</big></p>
				<?php
			}
		}	        			
	}
	else 
	{
		// Show Blowout status (CFID 45)
		$q_blowout = "SELECT COUNT(id)
					  FROM custom_values
					  WHERE cfid = '45'
					  AND pid = '$id'
					  AND text_short = '1'
					  LIMIT 1";
		if(!$qok_blowout = mysql_db_query($DB, $q_blowout, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($count_blowout) = mysql_fetch_array($qok_blowout);
		if ($count_blowout > 0) 
		{
			// Blowout Qty (CFID 46)
			$q_blowout_lmt = "SELECT COUNT(id), text_short
							  FROM custom_values
							  WHERE cfid = '46'
							  AND pid = '$id'
							  LIMIT 1";
		    if(!$qok_blowout_lmt = mysql_db_query($DB, $q_blowout_lmt, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($count_blowout_lmt,$blowout_limit) = mysql_fetch_array($qok_blowout_lmt);
			if ($count_blowout_lmt > 0)
			{	
				$qty_available = $sc->getItemQtyAvailable($id);
				if ($qty_available > 0 && $blowout_limit > 0 && $blowout_limit > $qty_available)
				{
					?>
					<p class="prodinfo_blowout"><big><strike><?php echo $blowout_limit; ?></strike> <?php echo $qty_available; ?> remaining at this price</big></p>
					<?php
				}
			}	
		}
	}
	?>

    <h1 class="productGeneral" id="productName" itemprop="name"><?=$prodinfo['title']?></h1>
    <div class="loveItBtn">
        <?
        if($_SESSION["acctid"] != ""){
            $query = "select id from product_favorite where pid = '".trim(strip_tags($id))."' AND accid='".trim(strip_tags($_SESSION["acctid"]))."'";
            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
            if(mysql_num_rows($qok)==0) {
                ?>
	<img src="/images/love_it.png" alt="" title="" onclick="addToFavorite('<?=$id?>','prodInfo')" class="floatLeft cursorPointer" id="favBtn" />
                <?
            }
            else {
                ?>
                <img src="/images/love_it.png" alt="" title="" class="floatLeft" onclick="document.location='/favorite.phtml'" />
                <?
            }
        ?>
        <?}else {
            ?>
                <img src="/images/love_it.png" alt="" title="" onclick="document.location='/customer'" class="floatLeft cursorPointer" id="favBtn" />
            <?
        }
        ?>
        <div class="loveItCount"></div>
        <div class="loveItCountBox">
           <?
            $query = "select id from product_favorite where pid = '".trim(strip_tags($id))."'";
            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
            echo mysql_num_rows($qok);
           ?>
        </div>
        <div class="shareBtns">
            <div class="share-buttons share-buttons-panel" data-style="medium" data-counter="false" data-oauth="true" data-hover="true" data-promo-callout="left" data-buttons="twitter,facebook,google,email,pinterest"></div>
        </div>
        
    </div>
    <?
     if(!$sc->showStockBol($id) || $id=='1008145' || $id=='1008149') {
     	$query = "SELECT text_short
        					  FROM custom_values
        					  WHERE cfid = '42'
        					  AND pid = '$id'
        					  LIMIT 1";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list ($count_cfid42) = mysql_fetch_array($qok);
     	?>
     	<p class="backOrderMsg productGeneral centeredContent" id="productDateAvailable"><big>Back Order: This product will be in stock on <?=$count_cfid42?></big></p>
     	<?
     }
    ?>
    
    <div class="prodInfo prodinfoBlock">
        <div class="prodImg">
        	<?php
    		// new at-cost update
			if ($atcost_cnt > 0)
			{}
        	elseif (!empty($_SESSION["acctid"])) 
        	{ 
        		if ($_SESSION['levelid'] == 1 || $_SESSION['levelid'] == 2)
        		{
        			// check for cfid 40
        			$query = "SELECT COUNT(pid) AS count, text_short
        					  FROM custom_values
        					  WHERE cfid = '40'
        					  AND pid = '$id'
        					  LIMIT 1";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list ($count_cfid40, $discount_percent) = mysql_fetch_array($qok);
        			if ($count_cfid40 > 0 && $discount_percent > 0)
        			{
						$query_pl4 = "SELECT price_level4
									  FROM product_prices
									  WHERE id = '$id'
									  LIMIT 1";
						if(!$qok_pl4 = mysql_db_query($DB, $query_pl4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pl4) = mysql_fetch_array($qok_pl4);
						$pl4 = sprintf('%.2f',$pl4); 
						if ($pl4 > 0)
						{
	        				$deep_discount = $pl4;
						}
        			}
	        	}
	        	
	        	if ($_SESSION['levelid'] == 3)
	        	{
					$query_pl5 = "SELECT price_level5
								  FROM product_prices
								  WHERE id = '$id'
								  LIMIT 1";
					if(!$qok_pl5 = mysql_db_query($DB, $query_pl5, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl5) = mysql_fetch_array($qok_pl5);
					$pl5 = sprintf('%.2f',$pl5); 
					if ($pl5 > 0)
					{
						$resseler_discount = $pl5;
					}
	        	}
	        	
	        	if ($_SESSION['levelid'] == 4)
	        	{
					$query_pl6 = "SELECT price_level6
								  FROM product_prices
								  WHERE id = '$id'
								  LIMIT 1";
					if(!$qok_pl6 = mysql_db_query($DB, $query_pl6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl6) = mysql_fetch_array($qok_pl6);
					$pl5 = sprintf('%.2f',$pl5); 
					if ($pl6 > 0)
					{
						$resseler_discount = $pl6;
					}

	        	}
        	}
        	
    		// new at-cost update
			if ($atcost_cnt > 0)
			{
    			if (in_array($atcost_discount_type,array('atcost','blowout2')))
    			{
				    echo '<img src="/images/rfw_onsale_watermark150x150.png" class="onsale_badge" />';
    			}				
			}
			else 
			{
				// if (!$deep_discount && !$resseler_discount)
				// {
		        	$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
		        	$query_onsale = "SELECT COUNT(id) AS count
		        					 FROM custom_values
		        					 WHERE cfid = '$cfid'
		        					 AND pid = '$id'
		        					 AND text_short > 0
		        					 LIMIT 1";
					if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($count_onsale) = mysql_fetch_array($qok_onsale);
					if ($count_onsale > 0)
					{
						$query_pl2 = "SELECT price_level7
									  FROM product_prices
									  WHERE id = '$id'
									  LIMIT 1";
						if(!$qok_pl2 = mysql_db_query($DB, $query_pl2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pl2) = mysql_fetch_array($qok_pl2);
						$pl2 = sprintf('%.2f',$pl2); 
						if ($pl2 > 0)
						{
							$onsale_price = $pl2;
							$query_pl21 = "SELECT lid FROM list_products WHERE pid='$id' AND lid=85";
							if(!$qok_pl21 = mysql_db_query($DB, $query_pl21, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok_pl21)==0) {
							    echo '<img src="/images/rfw_onsale_watermark150x150.png" class="onsale_badge" />';
							}
						}
					}
				// }				
			}
			?>
            <img class="cursorPointer" onclick="JavaScript:openWindow('/getimage.phtml?id=<?=$id?>&itype=0&thumb=0',770,600,'ImageGallery');" itemprop="image" id="prodImgSize" src="/getimage.phtml?id=<?=$id?>&itype=0&thumb=1" alt="<?=$prodinfo['title']?>" title="<?=$prodinfo['title']?>" />
	    <div class="alsoAvailable">
		<?
		$q = "SELECT text_short 
			  FROM custom_values 
			  WHERE cfid = '52' 
			  AND pid = '$id'
			  LIMIT 1";
		$qok = mysql_db_query($DB, $q, $mysqlid);
		list($show_related) = mysql_fetch_array($qok);
		if ($show_related === '1') {
		    ?>
		    <b>Also available:</b> <br />
		    <?
		    foreach ($relatedItems as  $k=>$v) {
			?>
		    <a href="<?=$sc->createProductNewUrl($v['id'],$v['title'])?>" class="related_items"><?=$v['title_short']?></a> <br />
			<?
		    }
		}
		?>
	    </div>
        </div>

        <?php        
		// new at-cost update
		if ($atcost_cnt > 0)
		{
			?>
			<script type="text/javascript">
			$(document).ready(function(){
				$('#atcost_qty').change(function() {	
					if ($(this).val() == 'more') {
			        	$('#atcost_qty').replaceWith('<input type="text" name="atcost_qty" id="atcost_qty" maxlength="3" style="width:30px;height:20px;" value="">').focus();
					    $('#atcost_qty').on('change keyup',function(){
							updateAtCostPrice();
					    });
					} else {
						updateAtCostPrice();
					}
				});	
				
				$('#atcost_qty').on('change keyup',function(){
					updateAtCostPrice();
				});
				
				function updateAtCostPrice() {
					var atcost_qty = parseInt($('#atcost_qty').val());
					if (Math.floor(atcost_qty) == atcost_qty && atcost_qty > 0) {			
					} else {
						atcost_qty = 1;
					}		
					
					$.get("ajax_atcost_price_calc.phtml?pid=<?php echo (int) $id; ?>&qty=" + atcost_qty + "&get_atcost_price", function(response_data) {
						if (response_data == 'no_price_to_return') {
							$('.prce').html('$ --.--');
						} else {
							var atcost_total = parseFloat(atcost_qty * response_data).toFixed(2);
							$('.prce').html('$' + atcost_total);
						}
					});			
				}
				
				$('.add2cartbulkbtn').each(function(){
					$(this).click(function(){
						var pid = $(this).attr('id');
						var atcost_qty = parseInt($('#atcost_qty').val());
						if (Math.floor(atcost_qty) == atcost_qty && atcost_qty > 0) {			
						} else {
							atcost_qty = 1;
						}
						
						// check for shipping location
						$.get('/ajax_functions.phtml',{ action: "check_ship_loc", 'pid': pid }, function(response){
							if (response == 'yes') {
								window.location = "/cart.phtml?id=" + pid + "&qty=" + atcost_qty;
							} else if (response == 'no') {
								$('.error_' + pid).html('We\'re sorry, this item cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.').show();					
							} else {
								window.location = "/cart.phtml?id=" + pid + "&qty=" + atcost_qty;
							}
						});
					});
				});	
				
				$('.show_bulk_popup').click(function() {
			        $('.bulk_popup_mask').show();
			        $('.atcost_popup').show();
			    });	
			    
				$('.hide_bulk_popup').click(function() {
			        $('.bulk_popup_mask').hide();
			        $('.atcost_popup').hide();
			    });	
			});
			</script> 
			<?php			
		}
		else 
		{
			?>
			<script type="text/javascript">
			$(document).ready(function(){
				$('#bulk_qty').change(function() {	
					if ($(this).val() == 'more') {
			        	$('#bulk_qty').replaceWith('<input type="text" name="bulk_qty" id="bulk_qty" maxlength="3" style="width:30px;height:20px;" value="">').focus();
					    $('#bulk_qty').on('change keyup',function(){
						updateBulkPrice();
					    });
					} else {
						updateBulkPrice();
					}
				});	
				
				$('#bulk_qty').on('change keyup',function(){
					updateBulkPrice();
				});
				
				function updateBulkPrice() {
					var bulk_qty = parseInt($('#bulk_qty').val());
					if (Math.floor(bulk_qty) == bulk_qty && bulk_qty > 0) {			
					} else {
						bulk_qty = 1;
					}		
					
					$.get("ajax_bulk_price_calc.phtml?pid=<?php echo (int) $id; ?>&qty=" + bulk_qty, function(response_data) {
						if (response_data == 'no_price_to_return') {
							$('.prce').html('$ --.--');
						} else {
							var bulk_total = parseFloat(bulk_qty * response_data).toFixed(2);
							$('.prce').html('$' + bulk_total);
						}
					});			
				}
				
				$('.add2cartbulkbtn').each(function(){
					$(this).click(function(){
						var pid = $(this).attr('id');
						var bulk_qty = parseInt($('#bulk_qty').val());
						if (Math.floor(bulk_qty) == bulk_qty && bulk_qty > 0) {			
						} else {
							bulk_qty = 1;
						}
						
						// check for shipping location
						$.get('/ajax_functions.phtml',{ action: "check_ship_loc", 'pid': pid }, function(response){
							if (response == 'yes') {
								window.location = "/cart.phtml?id=" + pid + "&qty=" + bulk_qty + "&bulk_qty=" + bulk_qty;
							} else if (response == 'no') {
								$('.error_' + pid).html('We\'re sorry, this item cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.').show();					
							} else {
								window.location = "/cart.phtml?id=" + pid + "&qty=" + bulk_qty + "&bulk_qty=" + bulk_qty;
							}
						});
					});
				});	
				
				$('.show_bulk_popup').click(function() {
			        $('.bulk_popup_mask').show();
			        $('.bulk_popup').show();
			    });	
			    
				$('.hide_bulk_popup').click(function() {
			        $('.bulk_popup_mask').hide();
			        $('.bulk_popup').hide();
			    });	
			});
			</script> 			
			<?php
			// bulk options availalbe
			$tb = $sc->getBulkTable($id);
			
			if($tb != "")
			{
				$q_bulk_options = "SELECT bulk_qty_min, bulk_qty_max, bulk_price, bulk_unit
							       FROM $tb
							       WHERE pid = '$id'
							       ORDER BY bulk_qty_min ASC";
				if(!$qok_bulk = mysql_db_query($DB, $q_bulk_options, $mysqlid)){ echo $q_bulk_options."<BR><BR>".mysql_error();exit;  }
				$bulk_count = mysql_num_rows($qok_bulk);
				
			}
									       
			// $cfid_bulk = $efc->getConfigValue('eFluent Settings', 'BULK_OPTIONS');
			// $q_bulk = "SELECT COUNT(id) AS count
			//		   FROM custom_values
			//		   WHERE cfid = '$cfid_bulk'
			//		   AND pid = '$id'
			//		   AND text_short > 0
			//		   LIMIT 1";
			// if(!$qok_bulk = mysql_db_query($DB, $q_bulk, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			// list($count_bulk) = mysql_fetch_array($qok_bulk);
			if($sc->showStockBol($id) && $id!='1008145' && $id!='1008149') 
			{}
			else
			{
			    $tb = '';
			}			
		}

		// new at-cost update
		if ($atcost_cnt > 0)
		{
			if (in_array($atcost_discount_type,array('atcost','blowout2')))
			{
				?>
			    <div class="bulk_box">
				<div class="orderNowMsg">Order now, we'll ship <b>tomorrow</b></div>
			    <span class="radiobtn"><ul>
				    <?php
				    $default_atcost_price = 0;
				    $atcost_prices_arr = array();
					if ($atcost_discount_type == 'atcost')
					{
						$atcost_price = sprintf('%.2f', $prodinfo['price'] * ((100 - 30) / 100));
						$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 2, 'price' => $price);
						$default_atcost_price += $atcost_price;
						?>
						<li><strong class="dark">1 - 2 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
					    <?php
	
					    $atcost_price = sprintf('%.2f', $prodinfo['price'] * ((100 - 37) / 100));
						$atcost_prices_arr[] = array('qty_min' => 3, 'qty_max' => 999, 'price' => $price);
						?>
						<li><strong class="dark">3 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
					    <?php
					}
					elseif ($atcost_discount_type == 'blowout2')
					{
						if ($atcost_blowout2_second == '0.00' && $atcost_blowout2_third == '0.00')
						{
							$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 999, 'price' => $price);
							$default_atcost_price += $atcost_price;
							?>
							<li><strong class="dark">1 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
						    <?php
						}
						elseif ($atcost_blowout2_third == '0.00')
						{
							$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 2, 'price' => $price);
							$default_atcost_price += $atcost_price;
							?>
							<li><strong class="dark">1 - 2 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
	
							$atcost_price = sprintf('%.2f', $atcost_blowout2_second);
							$atcost_prices_arr[] = array('qty_min' => 3, 'qty_max' => 999, 'price' => $price);
							?>
							<li><strong class="dark">3 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
						    <?php
						}
						else 
						{
							$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 2, 'price' => $price);
							$default_atcost_price += $atcost_price;
							?>
							<li><strong class="dark">1 - 2 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
	
							$atcost_price = sprintf('%.2f', $atcost_blowout2_second);
							$atcost_prices_arr[] = array('qty_min' => 3, 'qty_max' => 11, 'price' => $price);
							?>
							<li><strong class="dark">3 - 11 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
	
							$atcost_price = sprintf('%.2f', $atcost_blowout2_third);
							$atcost_prices_arr[] = array('qty_min' => 12, 'qty_max' => 999, 'price' => $price);
							?>
							<li><strong class="dark">12 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
						}
					}				
				?>
				</ul></span>	        
			    <span class="btns">
			    <div class="lft"><strong>Quantity</strong><br />
				    <select name="atcost_qty" id="atcost_qty" class="bulkQtyDrop">
					    <option value="1">1</option>
					    <option value="2">2</option>
					    <option value="3">3</option>
					    <option value="4">4</option>
					    <option value="5">5</option>
					    <option value="6">6</option>
					    <option value="7">7</option>
					    <option value="8">8</option>
					    <option value="9">9</option>
					    <option value="more">more..</option>
				    </select>				
			    <p class="prce" itemprop="price">$<?php echo $default_atcost_price; ?></p>			
			    </div>
			    <div class="rgt"><button id="<?php echo $id; ?>" class="add2cartbulkbtn">Add to cart</button></div>
			    </span>
			    </div><!-- /bulk_box -->
			    <div class="bulk_popup_mask">&nbsp;</div>
			    <div class="atcost_popup">
				    <a class="hide_bulk_popup"><img src="/images/bulk_popup_close_btn.png" width="36" height="36" /></a>
				    <table border="0" cellpadding="0" cellspacing="0">
				    <tbody>
					    <tr align="left">
						    <td><strong>Quantity</strong></td>
						    <td><strong>Price</strong></td>
					    </tr>				
				    <?php 
				    foreach ($atcost_prices_arr AS $atcost_prices)
				    { 
					    if ($atcost_prices['qty_max'] == 999)
					    {
						    $display_qty = '> ' . $atcost_prices['qty_min'] . ' units';
					    }
					    else 
					    {
						    $display_bqty = $bulk_options['bulk_qty_min'] . ' - ' . $bulk_options['bulk_qty_max'] . ' ' . $bulk_options['bulk_unit'] . 's.';
					    }
					    ?>
					    <tr align="left">
						    <td><?php echo $atcost_prices['qty_min'] . ' - ' . $atcost_prices['qty_max']; ?> units</td>
						    <td>$<?php echo $atcost_prices['price']; ?>/unit</td>
					    </tr>
				    <?php } ?>
				    </tbody>
				    </table>
			    </div>
		    <?php
   			}
   			else 
   			{
				// 55% off
				$atcost_price = sprintf('%.2f', $prodinfo['price'] * ((100 - 55) / 100));
   				?>
				<div class="cartAdd">
	            	<h2 class="cartAddPrice width270" itemprop="price">   				
                		<span class="normalprice">$<?=$prodinfo['price']?></span>&nbsp;
                		<span class="productSpecialPrice">$<?=$atcost_price?></span><br/><br/>
                		<span class="productPriceDiscount">Save:&nbsp;$<?=number_format($prodinfo['price']-$atcost_price,2)?>&nbsp;off</span><br/>
                	</h2>
                	<p class="cartAddTxt">Add to Cart:</p>
	            	<div class="cartAddBtn">
	            	    <input type="text" size="4" maxlength="6" value="1" class="cart_quantity" name="cart_quantity">
						<a href="javascript:void(0)" id="<?=$id?>" class="ship4add2cartbtn"><img src="/images/button_in_cart.gif" alt="" title="" /></a>
					</div>
				</div>                	
   				<?php
   			}
		}
		elseif(($tb != '') && ($bulk_count > 0))
		{
		    $q_bulk_options = "SELECT bulk_qty_min, bulk_qty_max, bulk_price, bulk_unit
						       FROM $tb
						       WHERE pid = '$id'
						       ORDER BY bulk_qty_min ASC";
		    if(!$qok_bulk_options = mysql_db_query($DB, $q_bulk_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
		    if (mysql_num_rows($qok_bulk_options) > 0)
		    {
			    ?>
		    <div class="bulk_box">
			<div class="orderNowMsg">Order now, we'll ship <b>tomorrow</b></div>
				    <span class="radiobtn"><ul>
					    <?php
					    $cnt = 0;
					    $default_bulk_price = 0;
					    $bulk_options_arr = array();
					    while (list($bulk_qty_min, $bulk_qty_max, $bulk_price, $bulk_unit) = mysql_fetch_array($qok_bulk_options)) 
					    {
						    if ($cnt == 0) { $default_bulk_price += $bulk_price; }
						    ?>
			    <li><strong class="dark"><?php echo $bulk_qty_min; ?> - <?php echo $bulk_qty_max; ?> <?php echo $bulk_unit . 's'; ?></strong> - <strong class="green">$<?php echo number_format($bulk_price,2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $bulk_price); ?> / <?php echo $bulk_unit; ?></i></li>
						    <?php
						    $bulk_options_arr[] = array('bulk_qty_min' => $bulk_qty_min, 'bulk_qty_max' => $bulk_qty_max, 'bulk_price' => $bulk_price, 'bulk_unit' => $bulk_unit);
						    ++$cnt;
					    }
					    ?>
			    </ul></span>	        
				    <span class="btns">
				    <div class="lft"><strong>Quantity</strong><br />
					    <select name="bulk_qty" id="bulk_qty" class="bulkQtyDrop">
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="more">more..</option>
					    </select>				
				    <p class="prce" itemprop="price">$<?php echo $default_bulk_price; ?></p>			
				    </div>
				    <div class="rgt"><button id="<?php echo $id; ?>" class="add2cartbulkbtn">Add to cart</button></div>
				    <!--<p><a href="#" class="show_bulk_popup" title="Bulk discounts">See our bulk discounts</a></p>-->
				    </span>
		    </div><!-- /bulk_box -->
		    <div class="bulk_popup_mask">&nbsp;</div>
		    <div class="bulk_popup">
			    <a class="hide_bulk_popup"><img src="/images/bulk_popup_close_btn.png" width="36" height="36" /></a>
				    <table border="0" cellpadding="0" cellspacing="0">
				    <tbody>
					    <tr align="left">
						    <td><strong>Quantity</strong></td>
						    <td><strong>Price</strong></td>
					    </tr>				
				    <?php 
				    foreach ($bulk_options_arr AS $bulk_options)
				    { 
					    if ($bulk_options['bulk_qty_max'] == 999)
					    {
						    $display_bqty = '> ' . $bulk_options['bulk_qty_min'] . ' ' . $bulk_options['bulk_unit'] . 's.';
					    }
					    else 
					    {
						    $display_bqty = $bulk_options['bulk_qty_min'] . ' - ' . $bulk_options['bulk_qty_max'] . ' ' . $bulk_options['bulk_unit'] . 's.';
					    }
					    ?>
					    <tr align="left">
						    <td><?php echo $display_bqty; ?></td>
						    <td>$<?php echo $bulk_options['bulk_price']; ?>/<?php echo $bulk_options['bulk_unit']; ?></td>
					    </tr>
				    <?php } ?>
				    </tbody>
				    </table>
			    </div>
			    <?php
		    }
		}
		else 
		{
			?>
	        <div class="cartAdd">
	            <h2 class="cartAddPrice width270" itemprop="price">
						<?php
						if ($deep_discount && $onsale_price && $onsale_price < $deep_discount)
						{
	                    	echo '<span class="old_price">$' . $prodinfo['price'].'</span>';
	                    	echo '<strong>$' . $onsale_price . '</strong>';
						} 
						elseif ($deep_discount && $onsale_price && $deep_discount < $onsale_price)
						{
	                    	echo '<span class="old_price">$' . $prodinfo['price'].'</span>';
	                    	echo '<strong>$' . $deep_discount . '</strong> <span class="ddp_pinfo">Deep Discounts Price</span>';
						}					
						elseif ($deep_discount)
						{
	                    	echo '<span class="old_price">$' . $prodinfo['price'].'</span>';
	                    	echo '<strong>$' . $deep_discount . '</strong> <span class="ddp_pinfo">Deep Discounts Price</span>';
						}
						elseif ($resseler_discount)
						{
	                    	echo '<span class="old_price">$' . $prodinfo['price'].'</span>';
							echo '<strong>$' . $resseler_discount . '</strong>';
						}
						elseif ($onsale_price)
						{
	                    	echo '<span class="old_price">$' . $prodinfo['price'].'</span>';
	                    	echo '<strong>$' . $onsale_price . '</strong><br/>';
							?>
							<span class="productPriceDiscount">Save:&nbsp;$<?=number_format($prodinfo['price']-$onsale_price,2)?>&nbsp;off</span>
							<?
						}
	                 	elseif ($prodinfo['msrp']!= '' && $prodinfo['msrp']>0) 
	                    {
	                    ?>
	                        <span class="normalprice">$<?=$prodinfo['msrp']?></span>&nbsp;
	                        <span class="productSpecialPrice">$<?=$prodinfo['price']?></span><br/><br/>
	                        <span class="productPriceDiscount">Save:&nbsp;$<?=number_format($prodinfo['msrp']-$prodinfo['price'],2)?>&nbsp;off</span><br/>
	                    <?
	                    }
	                    else
	                    {
	                    	echo '$' . $prodinfo['price'];
	                    }
	                    ?>
	            </h2>
	            <p class="cartAddTxt">Add to Cart:</p>
	            <div class="cartAddBtn">
	                <input type="text" size="4" maxlength="6" value="1" class="cart_quantity" name="cart_quantity">
	                <?php if($sc->showStockBol($id) && $id!='1008145' && $id!='1008149') { ?>
						<a href="javascript:void(0)" id="<?=$id?>" class="ship4add2cartbtn"><img src="/images/button_in_cart.gif" alt="" title="" /></a>
					<?php
	                }
	                else
	                {
	                    if($_SESSION["acctid"] != ""){
	                        $query = "select id from product_notify where pid = '".trim(strip_tags($id))."' AND accid='".trim(strip_tags($_SESSION["acctid"]))."'";
	                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
	                        if(mysql_num_rows($qok)==0) {
	                            ?>
				    <img src="/images/button_notify.gif" alt="" title="" onclick="addToNotify('<?=$id?>','prodInfo')" class="marginLeft5" id="notBtn" />
	                            <?
	                        }
	                    ?>
	                    <?}else {
	                        ?>
	                            <img src="/images/button_notify.gif" alt="" title="" onclick="document.location='/customer'" class="marginLeft5" id="notBtn" />
	                        <?
	                    }
	                }
	                ?>
	                <div class="prodinfo_error_ship error_<?=$id?>">&nbsp;</div>
	            </div>
	        </div>
	    	</div>
			<?php
		}
		?>
<!--        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
        -->
        <div class="productHtmlDesc hideElem2">    
        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.therawfoodworld.com/<?=$sc->createProductNewUrlById($id)?>&amp;width=135&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" class="iframeLike" allowTransparency="true"></iframe>
        <a href="https://twitter.com/share" class="twitter-share-button floatLeft" data-text="<?=$prodinfo['title']?>">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
        <div class="floatLeft marginRight30">
        <a href="//www.pinterest.com/pin/create/button/?url=<?=urlencode('http://www.therawfoodworld.com/'.$sc->createProductNewUrlById($id))?>&media=<?=urlencode('http://www.therawfoodworld.com/getimage.phtml?id='.$id)?>&description=<?=urlencode($prodinfo['title'])?>" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- Please call pinit.js only once per page -->
        <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
        </div>

        <!-- Place this tag where you want the share button to render. -->
        <div class="g-plus" data-action="share" data-annotation="bubble" data-href="<?='http://www.therawfoodworld.com/'.$sc->createProductNewUrlById($id)?>"></div>

        <!-- Place this render call where appropriate. -->
        <script type="text/javascript">gapi.plus.go();</script>
        
        <!-- AddThis Button BEGIN -->
        <div class="floatLeft addthis_toolbox addthis_default_style ">
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fa0194728d26db"></script>
        <!-- AddThis Button END -->
    </div>
    <a name="article"></a>
	<div class="productHtmlDesc" itemprop="description">
        <?
        //ini_set('display_errors',1); error_reporting(E_ALL);
		// California Attorney General
		$cag_cfid = $efc->getConfigValue("General Settings", "CFCaliforniaAttorneyGeneral");
		$q_cag = "SELECT COUNT(id)
				  FROM custom_values
				  WHERE cfid = '$cag_cfid'
				  AND pid = '$id'
				  AND text_short = '1'
				  LIMIT 1";
	    if(!$qok_cag = mysql_db_query($DB, $q_cag, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
		list($count_cag) = mysql_fetch_array($qok_cag);
		if ($count_cag > 0) 
		{
	        $ip_addr = $iclass->getClientIpAddr();
	        if (!empty($ip_addr))
	        {
	        	if ($iclass->checkIfCalifornia($ip_addr) > 0)
	        	{
					$cag_cftxtid = $efc->getConfigValue("General Settings", "CFTxtCaliforniaAttorneyGeneral");
					$q_cag2 = "SELECT COUNT(id), text_short
							   FROM custom_values
							   WHERE cfid = '$cag_cftxtid'
							   AND pid = '$id'
							   LIMIT 1";
				    if(!$qok_cag2 = mysql_db_query($DB, $q_cag2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
					list($count_cag2, $caattgen_text) = mysql_fetch_array($qok_cag2);
					if ($count_cag2 > 0) 
					{
	        			echo '<div id="caattgen">' . $caattgen_text . '</div>';
					}
	        	}
	        }
		}
        
        //$sc->getHTMLSpecs($id)
        echo $sales_desc;
        //echo $sc->getProdAttachments($id);
        ?>
    </div>
    <div class="productHtmlDesc marginTop20">
        <b><i>These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease.</i></b>
    </div>
    
<!--    <div class="productInfoButtons">
        <a href="" class="btnReview">
            <img src="/images/button_write_review.gif" alt="" title="" />
        </a>
        <a href="" class="btnTell">
            <img src="/images/button_TellAFriend.gif" alt="" title="" />
        </a>
    </div>-->
</div>
<div class="boxBottomLarge"></div>

<?php
// Disqus comments are allowed on this produc?
$disqus_cfid = $efc->getConfigValue("General Settings", "CFTurnOnOffDiscussion");
$q_disqus = "SELECT COUNT(id)
			 FROM custom_values
			 WHERE cfid = '$disqus_cfid'
			 AND pid = '$id'
			 AND text_short = '1'
			 LIMIT 1";
if(!$qok_disqus = mysql_db_query($DB, $q_disqus, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
list($count_disqus) = mysql_fetch_array($qok_disqus);
if ($count_disqus > 0) 
{
	$BASE_URL = 'http://rawfoodworld.efluent.com/';
	?>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'therawfoodworld';
	    var disqus_identifier = '<?php echo $id; ?>';
	    var disqus_title = '<?php echo $prodinfo['title']; ?>';
	    var disqus_url = '<?php echo $BASE_URL . '/' . $sc->createProductNewUrl($id,$prodinfo['title']); ?>';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>		
	<?php
}
?>
