<div class="rightColBlock">

<!-- BEGIN ProvideSupport.com Graphics Chat Button Code -->
<div id="ciZ5cE" style="z-index:100;position:absolute"></div><div id="scZ5cE" style="display:inline"></div><div id="sdZ5cE" style="display:none"></div><script type="text/javascript">var seZ5cE=document.createElement("script");seZ5cE.type="text/javascript";var seZ5cEs=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/04vmvyglw0pb1191mrsm2vnq07/safe-standard.js?ps_h=Z5cE&ps_t="+new Date().getTime();setTimeout("seZ5cE.src=seZ5cEs;document.getElementById('sdZ5cE').appendChild(seZ5cE)",1)</script><noscript><div style="display:inline"><a href="http://www.providesupport.com?messenger=04vmvyglw0pb1191mrsm2vnq07">Online Customer Service</a></div></noscript>
<!-- END ProvideSupport.com Graphics Chat Button Code -->

  <div class="ereport">

      <div style="margin-left:25px;">
        <iframe class="form" src="https://connect.ongage.net/list/forms_preview/?tk=350495704_c1d04e29edde52a170ca9bca18f5cd32f85102c2104b1e186903c4973f5fee8d" height="90" width="200" scrolling="no" frameborder="0"></iframe>
      </div>

    </div>

<script type="text/javascript">
        // <![CDATA[
        function CheckMultiple4(frm, name) {
            for (var i=0; i < frm.length; i++)
            {
                fldObj = frm.elements[i];
                fldId = fldObj.id;
                if (fldId) {
                    var fieldnamecheck=fldObj.id.indexOf(name);
                    if (fieldnamecheck != -1) {
                        if (fldObj.checked) {
                                return true;
                        }
                    }
                }
            }
            return false;
        }

        function CheckForm4(f) {
            var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
            if (!email_re.test(f.email.value)) {
                alert("Please enter your email address.");
                f.email.focus();
                return false;
            }
            return true;
        }
        // ]]>
        </script>
<div class="newsletter2">

<iframe class="form" src="https://connect.ongage.net/list/forms_preview/?tk=350495704_bb805ddf4b95cecfe07c5c0725fd3d1a076133f20ba7fb15e80b5c005a23306b" height="120" width="368" scrolling="no" frameborder="0"></iframe>

    </div>
    
    
<script type="text/javascript">
// <![CDATA[

                        function CheckMultiple5(frm, name) {
                                for (var i=0; i < frm.length; i++)
                                {
                                        fldObj = frm.elements[i];
                                        fldId = fldObj.id;
                                        if (fldId) {
                                                var fieldnamecheck=fldObj.id.indexOf(name);
                                                if (fieldnamecheck != -1) {
                                                        if (fldObj.checked) {
                                                                return true;
                                                        }
                                                }
                                        }
                                }
                                return false;
                        }
                function CheckForm5(f) {
                        var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
                        if (!email_re.test(f.email.value)) {
                                alert("Please enter your email address.");
                                f.email.focus();
                                return false;
                        }

                                return true;
                        }

// ]]>
</script>
    </div>
	<div style="float:left;margin-top: 30px;width:230px;overflow: hidden;height:100px">
	    <img src="/images/logo_payment.jpg" alt="" style="float:left;" />
	</div>
    
	
   <a href="http://trfwbenefits.com/about-program/" target="_blank" class="sideBanner">
        <img src="/images/benefitsprogram.jpg" alt="" border="0">
    </a>	
	
    <a href="http://www.therawfoodworld.com/angelas-ebooks-p1001624" target="_blank" class="rightWeight">
        <img src="/images/angelasweightloss.jpg" alt="" border="0">
    </a>
    <div class="seal">
        <span id="siteseal">
            <!-- <script type="text/javascript" src="/getSeal.htm"></script> -->
        </span>
    </div>
    
    <?if(intval($incheckout) == 1)
    {
		?>
		<div class="boxTop mtopBox"></div>
		 <div class="categoriesBlock">
        <?
        $homeBestSeller = $sc->getListByName('HomeBestSellers',10);
        ?>
       <div class="boxTitle">Bestsellers</div>
       <ul class="homeInformation">
           <?
           if(count($homeBestSeller['id'])>0) {
               foreach($homeBestSeller['id'] as $k=>$v) {
                   ?>
                    <li><a href="<?=$sc->createProductNewUrl($v,$homeBestSeller['title_long'][$k])?>"><?=$homeBestSeller['title'][$k]?></a></li>
                   <?
               }
           }
           ?>
        </ul>
    </div> 
    <div class="boxBottom"></div>
		<?
	}
   ?>
</div><!--// bof: bestsellers //-->
