<?
class trafficUtilityClass
{
	function dbconnect($server, $username, $password)
	{// establish a connection to our server
		$this->mysqlid = mysql_connect($server,$username,$password);

		if($this->mysqlid == false)
		{
			echo "ERROR CONNECTING TO DATABASE\n";
			exit();
		}
		
		$this->server = $server;
		$this->username = $username;
		$this->password = $password;
	}
	
	function getmicrotime()
	{ 
		list($usec, $sec) = explode(" ",microtime()); 
		return ((float)$usec + (float)$sec); 
	}

	function getPEName($peid)
	{
		$query = "select pename from priceengines where peid = '$peid'";
		$qok = mysql_db_query("traffic_tables", $query, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; } }
		list($name) = mysql_fetch_array($qok);
		return $name;
	}
	
	function getSEName($seid)
	{
		$query = "select engine from searchengines where seid = '$seid'";
			$qok = mysql_db_query("traffic_tables", $query, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; } }
		list($name) = mysql_fetch_array($qok);
		return $name;
	}

	function lookupCOA($clicktype, $clickid)
	{// to be completed later
		$coa = .60;
		
		return $coa;
	}	
	
	function outputReportTitle($companyname, $reportname, $bstamp, $estamp)
	{
		$begin = date("M d, Y", $bstamp);
		$end = date("M d, Y", $estamp);
		?>
		<center>
		<table>
		<tr><td class="inbItem" height=21 align=center><B><?=$companyname;?></B></td></tr>	
		<tr><td class="inbItem" height=21 align=center><?=$reportname;?></td></tr>		
		<tr><td class="inbItem" height=21 align=center><?=$begin;?> - <?=$end;?></td></tr>		
		</table>
		<BR><BR>
		</center>
		<?
	}
}