<?
/*error_reporting(E_ALL);
ini_set('display_errors', '1');*/


REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

function getDay($day)
{
	if($day == 0) return "Sunday";
	else if($day == 1) return "Monday";	
	else if($day == 2) return "Tuesday";	
	else if($day == 3) return "Wednesday";	
	else if($day == 4) return "Thursday";	
	else if($day == 5) return "Friday";	
	else if($day == 6) return "Saturday";	
}

if($Action == "AddSchedule")
{
	$query = "insert into pricing_schedule_extended(psid, startday, starthour, startmin, endday, endhour, endmin) ";
	$query .= " values('$psid', '$startday', '$starthour', '$startmin', '$endday', '$endhour', '$endmin')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else if($Action == "DeleteSchedule")
{
	$query = "delete from pricing_schedule_extended where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
<table width=100%>
<tr>
	<td bgcolor="#eeeeee">Begin Date/Time</td>
	<td bgcolor="#eeeeee">Start Date/Time</td>
	<td bgcolor="#eeeeee">Del</td>
</tr>

<?
$query = "select id, startday, starthour, startmin, endday, endhour, endmin from pricing_schedule_extended where psid = '$psid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($id, $startday, $starthour, $startmin, $endday, $endhour, $endmin) = mysql_fetch_array($qok))
{
?>
<tr>
	<td><?=getDay($startday);?> <?printf("%02d", $starthour);?>:<?printf("%02d", $startmin);?></td>
	<td><?=getDay($endday);?> <?printf("%02d", $endhour);?>:<?printf("%02d", $endmin);?></td>
	<td>
		<a href="javascript:void(0);" onclick="DeleteSchedule('<?=$id;?>', '<?=$psid;?>');"><img src="/mgt/images/del.gif" border=0></a>
	</td>
</tr>
<?	
}
?>
</table>