<?
/*error_reporting(E_ALL);
ini_set('display_errors', '1');
*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($savename != "")
{
	$query = "insert into pricing_schedule(name, active) values('".addslashes($savename)."', '0')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$psid = mysql_insert_id();
	
	Header("Location: /mgt/price_scheduler/schedule_edit.phtml?psid=$psid");
	exit;
}

if($Action == "Save Scheduler Options")
{
	$name = addslashes($name);
	$query = "update pricing_schedule set 
				name = '$name', listid = '$listid', belowcost = '$belowcost', active = '$active',
				pl1 = '$pl1', pl2 = '$pl2', pl3 = '$pl3', pl4 = '$pl4',	pl5 = '$pl5',
				pl6 = '$pl6', pl7 = '$pl7', pl8 = '$pl8', pl9 = '$pl9' where id = '$psid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/price_scheduler/schedule_edit.phtml?psid=$psid");
	exit;
	
}
?>
<HTML>
<HEAD>
<TITLE>Edit Pricing Schedule</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}
</STYLE>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;
						
	try{xmlHttp=new XMLHttpRequest();}
	catch (e){try{xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");}catch (e){try{xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");}
	catch (e){alert("Your browser does not support AJAX!");return false;}}}
							
	return xmlHttp;
}

function AddSchedule()
{
	if(document.addschedule.startday.selectedIndex == 0)
	{
		alert('You must select a Begin Day');
		return;
	}
	if(document.addschedule.starthour.selectedIndex == 0)
	{
		alert('You must select a Begin Hour');
		return;
	}
	if(document.addschedule.startmin.selectedIndex == 0)
	{
		alert('You must select a Begin Minute');
		return;
	}
					
	if(document.addschedule.endday.selectedIndex == 0)
	{
		alert('You must select a End Day');
		return;
	}
	if(document.addschedule.endhour.selectedIndex == 0)
	{
		alert('You must select a End Hour');
		return;
	}
	if(document.addschedule.endmin.selectedIndex == 0)
	{
		alert('You must select a End Minute');
		return;
	}
					
					
	var url="/mgt/price_scheduler/ajax_addschedule.phtml";
	url += "?psid=<?=$psid;?>&Action=AddSchedule";
	url += "&startday="+document.addschedule.startday.options[ document.addschedule.startday.selectedIndex ].value;
	url += "&starthour="+document.addschedule.starthour.options[ document.addschedule.starthour.selectedIndex ].value;
	url += "&startmin="+document.addschedule.startmin.options[ document.addschedule.startmin.selectedIndex ].value;
	url += "&endday="+document.addschedule.endday.options[ document.addschedule.endday.selectedIndex ].value;
	url += "&endhour="+document.addschedule.endhour.options[ document.addschedule.endhour.selectedIndex ].value;
	url += "&endmin="+document.addschedule.endmin.options[ document.addschedule.endmin.selectedIndex ].value;
	      				
	xmlHttp=GetXmlHttpObject();
							
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
						
	document.getElementById("schedulelist").innerHTML =  "<img src='/mgt/images/loading.gif'>";
						  	
	xmlHttp.onreadystatechange=scheduleAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function scheduleAdded()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("schedulelist").innerHTML =  xmlHttp.responseText;
	}		
}

function DeleteSchedule(id, psid)
{
	var url="/mgt/price_scheduler/ajax_addschedule.phtml";
	url += "?psid="+psid+"&Action=DeleteSchedule";
	url += "&id="+id;
	      				
	xmlHttp=GetXmlHttpObject();
							
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
						
	document.getElementById("schedulelist").innerHTML =  "<img src='/mgt/images/loading.gif'>";
						  	
	xmlHttp.onreadystatechange=scheduleAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function LoadSchedule()
{
	var url="/mgt/price_scheduler/ajax_addschedule.phtml";
	url += "?psid=<?=$psid;?>";
	      				
	xmlHttp=GetXmlHttpObject();
							
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
						
	document.getElementById("schedulelist").innerHTML =  "<img src='/mgt/images/loading.gif'>";
						  	
	xmlHttp.onreadystatechange=scheduleAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}
</script>
<body onload="LoadSchedule();">
<?
$query = "select id, name, listid, belowcost, active from pricing_schedule where id = '$psid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($id, $name, $listid, $belowcost, $active) = mysql_fetch_array($qok);

$query = "select pl1, pl2, pl3, pl4, pl5, pl6, pl7, pl8, pl9 from pricing_schedule where id = '$psid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$prices = mysql_fetch_row($qok);

?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Pricing Scheduler</B>
		<BR><BR>
	
		<table>
		<tr>
			<td>
				<form name="scheduleedit" method="POST" style="margin:0px;">
				<input type="hidden" name="psid" value="<?=$psid;?>">
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Campaign Name:</div></td>
					<td><input type="text" name="name" value="<?=$name;?>" style="width:250px" class="formBox"></td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Active:</div></td>
					<td><input type="checkbox" name="active" value="1" <?if($active == 1) echo "CHECKED";?>></td>						
				</tr>		
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Allow Below Cost:</div></td>
					<td><input type="checkbox" name="belowcost" value="1" <?if($belowcost == 1) echo "CHECKED";?> disabled></td>						
				</tr>		
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">List:</div></td>
					<td>
						<select name="listid" class="formSelect">
							<option value="">--- SELECT ---</option>
							<?
					        $query = "select lid, list_title from lists order by list_title";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($id, $title) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$id;?>" <?if($listid == $id) echo "SELECTED";?>><?=$title;?></option>
								<?
							}
							?>
		          		</select>
					</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Modify Price Levels:</div></td>
					<td>
						<?
						for($xx = 1; $xx < 10; $xx++)
						{
							$plname = $efc->getConfigValue("Price Level Names", "PL$xx");
							
							if($plname == "")
								$plname = "Price Level $xx";
											
							?>
							<input type="checkbox" name="pl<?=$xx;?>" value="1" <?if($prices[$xx -1] == "1") echo "CHECKED";?>><?=$plname;?><BR>
							<?
						}
						?>
					</td>
				</tr>
				<tr>
					<td colspan=2 align=center>
						<input type="submit" name="Action" value="Save Scheduler Options" class="buttonItem">
					</td>
				</tr>
				</table>
				</div>
				</form>
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td>
				<form name="addschedule" method="POST" style="margin:0px;">
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Begin Day/Time:</div></td>
					<td>
							<select name="startday" class="formSelect"> <!--0 for Sunday-->
								<option value="-1">--- SELECT ---</option>
								<option value="0">Sunday</option>
								<option value="1">Monday</option>
								<option value="2">Tuesday</option>
								<option value="3">Wednesday</option>
								<option value="4">Thursday</option>
								<option value="5">Friday</option>
								<option value="6">Saturday</option>
							</select>
							<select name="starthour" class="formSelect">
								<option value="-1">--</option>
								<? 
								for($xx = 0; $xx < 24; $xx++)
								{
									?>
									<option value="<?=$xx;?>"><?printf("%02d", $xx);?></option>
									<?
								}
								?>
							</select>&nbsp;:&nbsp;
							<select name="startmin" class="formSelect">
								<option value="-1">--</option>
								<? 
								for($xx = 0; $xx < 60; $xx = $xx + 15)
								{
									?>
									<option value="<?=$xx;?>"><?printf("%02d", $xx);?></option>
									<?
								}
								?>
							</select>
					</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">End Day/Time:</div></td>
					<td>
							<select name="endday" class="formSelect"> <!--0 for Sunday-->
								<option value="-1">--- SELECT ---</option>
								<option value="0">Sunday</option>
								<option value="1">Monday</option>
								<option value="2">Tuesday</option>
								<option value="3">Wednesday</option>
								<option value="4">Thursday</option>
								<option value="5">Friday</option>
								<option value="6">Saturday</option>
							</select>
							<select name="endhour" class="formSelect">
								<option value="-1">--</option>
								<? 
								for($xx = 0; $xx < 24; $xx++)
								{
									?>
									<option value="<?=$xx;?>"><?printf("%02d", $xx);?></option>
									<?
								}
								?>
							</select>&nbsp;:&nbsp;
							<select name="endmin" class="formSelect">
								<option value="-1">--</option>
								<? 
								for($xx = 0; $xx < 60; $xx = $xx + 15)
								{
									?>
									<option value="<?=$xx;?>"><?printf("%02d", $xx);?></option>
									<?
								}
								?>
							</select>
					</td>
				</tr>
				<tr>
					<td colspan=2 align=center>
						<input type="button" name="Action" value="Add Schedule" onclick="AddSchedule();" class="buttonItem">
					</td>
				</tr>				
				</table>
				</div>
				<div id="schedulelist" name="schedulelist">
				&nbsp;
				</div>
				</form>
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><a href="/mgt/price_scheduler/pricing_grid.phtml?psid=<?=$psid;?>">View/Edit Pricing Grid</a></td>
		</tr>
		</table>	
		<!---------------->	
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>			
		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	
	
</body>
</html>