<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($Action == "CiteriaSKUs")
{
	$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku from
				rebates_products, product_list, product_manufacturers where
				product_manufacturers.manid = product_list.manid and
				product_list.id = rebates_products.pid and 
				rebates_products.catid = 0 and 
				rebates_products.manid = 0 and
				rebates_products.rid = '$rid'";
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		?>
		<table width=100%>
		<tr bgcolor="#eeeeee">
			<td height=21>PID</td>
			<td height=21>SKU</td>
			<td height=21>Man</td>
			<td height=21>Title</td>
			<td height=21>Del</td>
		</tr>
		<?
		while( list($pid, $manname, $descr, $sku) = mysql_fetch_array($qok) )
		{
			?>
			<tr bgcolor="#ffffff">
				<td height=21><?=$pid;?></td>
				<td height=21><?=$sku;?></td>
				<td height=21><?=$manname;?></td>
				<td height=21><?=$descr;?></td>
				<td height=21><a href="javascript:void(0);" onclick="javascript:deleteSKU('<?=$pid;?>');"><img src="/mgt/images/del.gif" border=0></a></td>
			</tr>
			<?
		}
		?>
		
		</table>
		<?
	}
}

?>