<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($Action == "Delete")
{
	$query = "select rxid, link, filename from rebates_extended where rxid = '$rxid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($rxid, $link, $filename) = mysql_fetch_array($qok);
	
	if($filename != "")
	{
		unlink($filename);
	}

	$query = "delete from rebates_extended where rxid = '$rxid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

$query = "select rxid, link, filename from rebates_extended where rid = '$rid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
	?>
	<table width=100%>
	<tr bgcolor="#eeeeee">
		<td height=21>Rebate Form</td>
		<td height=21>Delete</td>
	</tr>
	<?
	while( list($rxid, $link, $filename) = mysql_fetch_array($qok) )
	{
		if(stristr($filename, "/mgt/"))
		{
			$hita = strpos($filename, "rebates/");
			$filename = substr($filename, $hita + 8);
			
		}
		?>
		<tr bgcolor="#ffffff">
			<td height=21><?if($link == "") echo $filename; else echo $link;?></td>
			
			<td><a href="javascript:void(0);" onclick="javascript:deleteRebate('<?=$rxid;?>');"><img src="/mgt/images/del.gif" border=0></a></td>
		</tr>
		<?
	}
	?>
	
	</table>
	<?
}


?>