<?php
$ROOT_DIR = $argv[1];
if($ROOT_DIR == "")
{
	echo "usage: get_fba_order_report_status.phtml ROOT_DIR\n\n";
	exit;
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$percent_to_add = 5.5;
/*
?>
<table>
<tr>
	<td align="center"><strong>PID</strong></td>
	<td align="center"><strong>Product title</strong></td>
	<td align="center"><strong>Price level 1</strong></td>
	<td align="center"><strong>Price level 2 (Price level 1 + <?php echo $percent_to_add; ?>%)</strong></td>
</tr>
<?php
*/
$query = "SELECT pl.id, pl.descr AS title, pp.price_level1, pp.price_level2
		  FROM product_list pl
		  JOIN product_prices pp
		  ON pl.id=pp.id
		  ORDER BY pl.id ASC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }
while (list($pid,$title,$price_level_1,$price_level_2) = mysql_fetch_array($qok))
{
	$price_level_2 = sprintf("%01.2f", $price_level_1 + ($price_level_1 * ($percent_to_add / 100)));
	/*
	?>
	<tr>
		<td align="center"><?php echo $pid; ?></td>
		<td align="center"><?php echo $title; ?></td>
		<td align="center"><?php echo $price_level_1; ?></td>
		<td align="center"><?php echo $price_level_2; ?></td>
	</tr>
<?php
	*/
	$query_update = "UPDATE product_prices
					 SET price_level2 = '$price_level_2', fco2 = '1'
					 WHERE id = '$pid'
					 LIMIT 1";
	if(!$qok_update = mysql_db_query($DB, $query_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }
	$efc->logAction("SUCCESS", "1", $pid, "Price updated from $price_level_1 to $price_level_2 for PID $pid (cron add_percent_pl2.php)", "Price updated from $price_level_1 to $price_level_2 for PID $pid (cron add_percent_pl2.php)"); 
}
/*
?>
</tbody>
</table>
<?
*/
?>