<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

if (isset($_GET['action']) && $_GET['action'] == 'add')
{
	$query = "INSERT INTO dim_finder (model, dim_length, dim_width, dim_height)
			  VALUES ('$model', '$dim_length', '$dim_width', '$dim_height')";
	if(!$qox = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else 
{
	$margin_round = 0.50;
	
	$query = "SELECT model, dim_length, dim_width, dim_height
			  FROM dim_finder
			  WHERE dim_length >= ".($dim_length - $margin_round)." 
			  AND dim_length <= ".($dim_length + $margin_round)."
			  AND dim_width >= ".($dim_width - $margin_round)."
			  AND dim_width <= ".($dim_width + $margin_round)."
			  AND dim_height >= ".($dim_height - $margin_round)."
			  AND dim_height <= ".($dim_height + $margin_round);
	if(!$qox = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qox) <= 0)
	{
		echo "<b>No match found</b>";
		exit;
	}
	?>
	<table width=99% id="results" class="sortable">
	<tr bgcolor="#eeeeee">
		<td height="21" align="center" valign="middle"><B>Model</B></td>
		<td height="21" align="center" valign="middle"><B>Length (in.)</B></td>
		<td height="21" align="center" valign="middle"><B>Width (in.)</B></td>
		<td height="21" align="center" valign="middle"><B>Height (in.)</B></td>
	</tr>
	<?
	while(list($model, $dim_length, $dim_width, $dim_height) = mysql_fetch_array($qox))
	{
		?>
		<tr>
			<td align="center"><?=$model;?></td>
			<td align="center"><?=$dim_length;?></td>
			<td align="center"><?=$dim_width;?></td>
			<td align="center"><?=$dim_height;?></td>
		</tr>
		<?
	}
	?>
	</table>
	<?php
}
?>