<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
INCLUDE("../sm/aws_signed_request.php");

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
ob_start();
	$public_key = $efc->getConfigValue("Amazon", "PUBLIC_KEY");
	$private_key = $efc->getConfigValue("Amazon", "PRIVATE_KEY");
	
	$asinURL = aws_signed_request("com", array("Operation"=>"ItemLookup",
												"IdType"=>"ASIN",
												"ItemId"=>"B0035FZJJO",
												"MerchantId"=>"All",
												"ResponseGroup"=>"OfferFull"), $public_key, $private_key);
	
	$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
	$xmldata = xml2array($buffer);
	
ob_get_clean();

$totalnew = $xmldata['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalNew']['value'];
$totalused = $xmldata['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalNew']['TotalUsed']['value'];
$totalcolectable = $xmldata['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalNew']['TotalUsed']['value'];
$totalrefurbished = $xmldata['ItemLookupResponse']['Items']['Item']['OfferSummary']['TotalNew']['TotalUsed']['value'];

$offers = $xmldata['ItemLookupResponse']['Items']['Item']['Offers'];
$offer_pages = $offers['TotalOfferPages']['value'];

echo "TOTAL_NEW: $totalnew<BR>";
echo "OFFER_PAGES: $offer_pages<BR>";

for($xx = 0; $xx < count( $offers['Offer'] ); $xx++)
{
	$mid = $offers['Offer'][$xx]['Merchant']['MerchantId']['value'];
	$name = $offers['Offer'][$xx]['Merchant']['Name']['value'];
	$ratings = $offers['Offer'][$xx]['Merchant']['AverageFeedbackRating']['value'];
	$tfeedback = $offers['Offer'][$xx]['Merchant']['TotalFeedback']['value'];
	
	echo "MID: $mid<BR>";
	echo "NAME: $name<BR>";
	echo "RATINGS: $ratings<BR>";
	echo "T_FEEDBACK: $tfeedback<BR>";
	
	$price = $offers['Offer'][$xx]['OfferListing']['Price']['Amount']['value'] / 100.00;
	$availability = $offers['Offer'][$xx]['OfferListing']['Availability']['value'];
	
	echo "PRICE: $price<BR>";
	echo "AVAIL: $availability<BR>";

}

echo "<pre>";
print_r($xmldata['ItemLookupResponse']['Items']['Item']);
echo "</pre>";


?>