<?
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/*

*/
$query = "select product_category_map.pid, product_manufacturers.manname, product_list.sku, product_list.shipweight 
		from product_list, product_manufacturers, product_category_map 
		where 
		product_category_map.catid = '40' AND
		product_category_map.pid = product_list.id AND
		product_list.manid = product_manufacturers.manid";

if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($pid, $brand, $sku, $weight) = mysql_fetch_array($q313ok))
{// all of these skus have no avgcost
	$query = "select count(*) from product_images where id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	list($numimages) = mysql_fetch_array($qok);
	
	if($numimages <= 0)
	{
		echo "NO IMAGE: $pid - $brand - $sku<BR>";
		
		$query = "select productbase.pkid, brand_data.commonbrandname, sku_basic.sku, productbase.seriesname, brand_data.pkid from
			productbase, brand_data, sku_basic where
			productbase.pkid = sku_basic.pkproduct AND
			brand_data.pkid = productbase.pkbrand AND
			sku_basic.sku like '$sku%'";
		if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		if(mysql_num_rows($qok) > 0)
		{
			if(!$q2ok = mysql_db_query("cmic", $query, $mysqlid)){ echo "ERROR "; exit; }
			while(list($pkid, $manname, $manpart, $descr) = mysql_fetch_array($q2ok))
			{
				echo "...  $pkid\t$descr\n";	
				
				$query = "select colorcode from sku_basic where pkproduct = '$pkid'";
				if(!$q2ok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($q2ok) > 1)
				{
					$colorcode = substr($e2sku, strlen($e2sku) - 2);
					$query = "select ast_url_txt, ast_role_txt from 
								assetdata, joinassettosku, sku_basic, productbase where
								assetdata.pkid = joinassettosku.pkasset and
								joinassettosku.pksku = sku_basic.pkid and
								sku_basic.pkproduct = productbase.pkid and 
								sku_basic.colorcode = '$colorcode' AND
								productbase.pkid = '$pkid'";
				}
				else 
				{
					$query = "select ast_url_txt, ast_role_txt from 
								assetdata, joinassettosku, sku_basic, productbase where
								assetdata.pkid = joinassettosku.pkasset and
								joinassettosku.pksku = sku_basic.pkid and
								sku_basic.pkproduct = productbase.pkid and 
								productbase.pkid = '$pkid'";	
				}
				
				if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($ast_url_txt, $ast_role_txt) = mysql_fetch_array($qok))
				{
					$ast_url_txt = str_replace("http//", "http://", $ast_url_txt);

					if($ast_role_txt == "LargerPhoto" || $ast_role_txt == "GeneralPhoto")
					{
						?>
						<HR NOSHADE>
						<a href="<?=$ast_url_txt;?>" target="_blank"><img src="<?=$ast_url_txt?>" width=125></a><BR>
						<?=$ast_role_txt;?>
						<?
						break;
					}
					
				}			
			}
		}
	}
	
	
}
?>