<?
set_time_limit(0);
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
	
}
else 
{
//	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
	echo "ROOT_DIR UNDEFINED\n\n";
	exit();
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

//$query = "DELETE FROM list_products WHERE lid=204";
//if(!$qok1 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "SELECT sum(product_inventory.inv_available) as nr,product_list.minqty,product_list.targetqty,product_list.id,product_list.manpart,product_list.descr,product_list.manid,sku_assignment.userid,product_category_map.catid
				FROM product_list 
				INNER JOIN product_inventory ON product_list.id=product_inventory.id
				LEFT JOIN sku_assignment ON product_list.id=sku_assignment.pid
				LEFT JOIN product_category_map ON product_list.id=product_category_map.pid
				WHERE  
					product_list.kit=0 AND product_list.minqty != '' AND product_list.minqty>0 AND
					(product_inventory.whid=0 OR product_inventory.whid=1) 
				GROUP BY product_list.id HAVING nr < product_list.minqty order by sku_assignment.userid DESC";

$final = array();
if(!$qok1 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while (list($inv,$minqty,$reorderqty,$id,$manpart,$descr,$manid,$userid,$catid) = mysql_fetch_array($qok1)) {
//	print_r($inv.'-'.$minqty.'-'.$reorderqty.'-'.$id.'-'.$userid."\n");
//	echo $inv.'-'.$minqty.'-'.$reorderqty.'-'.$id.'-'.$userid."\n";
//	$qx = "INSERT INTO list_products(lid,pid) VALUES('204','$id')";
//	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$qx = "SELECT sum(inv_available) FROM product_inventory WHERE whid=0 AND id='$id'";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($inv_ny) = mysql_fetch_array($qokx);
	$qx = "SELECT sum(inv_available) FROM product_inventory WHERE whid=1 AND id='$id'";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($inv_fba) = mysql_fetch_array($qokx);
	
	$qx = "SELECT manname FROM product_manufacturers WHERE manid='$manid'";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($manname) = mysql_fetch_array($qokx);
	
	$qx = "SELECT onpo FROM product_prices WHERE id='$id'";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($onpo) = mysql_fetch_array($qokx);
	
	if ($catid != '') {
		$userid = 99999;
	}
	$qx = "SELECT displayname FROM users WHERE id='$userid'";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($username) = mysql_fetch_array($qokx);
	
	if ($userid == '' || $userid == 'NULL') {
		$userid = 99999;
	}
	$final[$userid][] = array(
		"id"=>$id,
		"manname"=>$manname,
		"manpart"=>$manpart,
		"descr"=>$descr,
		"inv_ny"=>$inv_ny,
		"inv_fba"=>$inv_fba,
		"minqty"=>$minqty,
		"reorderqty"=>$reorderqty,
		"onpo"=>$onpo,
		"html"=>"<tr>
					<td>".$id."</td>
					<td>".$manname."</td>
					<td>".$manpart."</td>
					<td>".$descr."</td>
					<td>".$inv_ny."</td>
					<td>".$inv_fba."</td>
					<td>".$minqty."</td>
					<td>".$reorderqty."</td>
					<td>".$onpo."</td>
				</tr>"
	);
}
?>
<!--</table>-->


<?
if (count($final)>0) {
	foreach ($final as $k=>$v) {
			if ($k =='99999') {
				$emailaddr = 'premieravs@gmail.com';
			}
			else {
				$qx = "SELECT emailaddr FROM users WHERE id='$k'";
				if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qokx)>0) {
					list($emailaddr) = mysql_fetch_array($qokx);	
				}
				else {
					$emailaddr = 'premieravs@gmail.com';
				}
				
			}
		
			$body = "<table border=\"1\">";
			$body .= "	<tr>
							<td nowrap><b>PID</b></td>
							<td nowrap><b>Man</b></td>
							<td nowrap><b>Manpart</b></td>
							<td nowrap><b>Title</b></td>
							<td><b>WH</b></td>
							<td><b>WH FBA</b></td>
							<td><b>Min Qty</b></td>
							<td><b>Reorder Qty</b></td>
							<td><b>OnPO</b></td>
						</tr>";
			foreach ($v as $x=>$y) {
				$body .= $y['html'];
			}
			$body .= "</table>";
		
		
		
			$mail = new PHPMailer();
			$mail->do_debug = 10;
			$mail->SMTPDebug = false;
			
					
			if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
			{
                            $mail->IsSMTP(); // telling the class to use SMTP
                            $mail->Host = $efc->getConfigValue("Email Settings", "SMTP"); // SMTP server
				$mail->SMTPAuth = true;
				$mail->AuthType = "";//CRAM-MD5
				$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
				$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
			}
			else 
			{
				$mail->SMTPAuth = false;
			}
					
			$mail->From     = $efc->getConfigValue("Email Settings", "FROMADDR");
			$mail->FromName = "NoReply";
//			$mail->AddAddress('ccristian@mejix.com');
		
			$mail->AddAddress($emailaddr);
//			$mail->AddAddress('acohen@ecomelectronics.com');
//			$mail->AddAddress('abe@ecomelectronics.com');
//			$mail->AddAddress('sales@ecomelectronics.com');
//			$mail->AddAddress('fran@ecomelectronics.com');
			$mail->IsHTML(true);	
			$mail->Subject = 'Reorder Report';
			$mail->Body = $body;
			if ($mail->Send() === TRUE)
			{
				
			}
	}
}
?>