<?php
set_time_limit(0);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$_DEBUG = 0;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Import Products</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body onload="startUp()">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Import Manager - vendor AMZ</B>
		<BR><BR>
		<div id="showme" name="showme">&nbsp;</div>
		<table width=100%>
		<tr>
			<td width=275 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<table style="width:275;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<tr>
					<td>
					Upload File		
					<form action="/mgt/scripts/avw_import_products.phtml" method="post" enctype="multipart/form-data">
				        <div><label>File:</label> <input type="file" name="form_data" class="formBox"/></div><br /><br />
				        <div><input type="submit" value="Upload File"  class="buttonItem"/></div>
				    </form>
					</td>
				</tr>
				</table>
			</td>
			<td width=100%>
<?php
if ($_SERVER['REQUEST_METHOD'] == "POST" && isset($_FILES))
{
	if (file_exists($_FILES['form_data']['tmp_name']))
	{
		$i = 1;
		$handle = fopen($_FILES['form_data']['tmp_name'],'r');
		while (($file_data = fgetcsv($handle, 0, "\t"))  !== FALSE)
		{
			if ($i > 1)
			{
				$file_data = array_map('trim',$file_data);
				$sku = $file_data['0'];				
				$descr = $file_data['3'];
				$asin = $file_data['2'];
				$fcsku = $file_data['1'];
				$price = sprintf('%.2f',$file_data['5']);
				$instock = $file_data['10'];
				$tstamp = date("Y-m-d H:i:s", time());
				
				// check for PID if exist, by SKU
				$q_verify = "SELECT COUNT(id), id
							 FROM product_list
							 WHERE sku = '".mysql_real_escape_string($sku)."'
							 LIMIT 1";
				if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }	
				list($pid_verify,$pid) = mysql_fetch_array($qok_verify);
				if ($pid_verify > 0)
				{
					$q_update = "UPDATE product_list
								 SET manpart='$sku',asin='$asin',dropship = '1', lastupdate = '".time()."'
								 WHERE id = '$pid'
								 LIMIT 1";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	

                                        $q_update = "DELETE FROM fba_skus WHERE sku='$sku'";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        $q_update = "INSERT INTO fba_skus(sku,fcsku) VALUES('$sku','$fcsku')";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        
                                        $q_update = "DELETE FROM fba_sku_map WHERE fba_sku='$sku'";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        $q_update = "INSERT INTO fba_sku_map(fba_sku,pid) VALUES('$sku','$pid')";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        
                                        
					// verify if has sourcing AMZ (149)
					$q_verify_sourcing = "SELECT COUNT(sid)
										  FROM product_sourcing
										  WHERE distid = '149'
										  AND pid = '$pid'
										  LIMIT 1";	
					if(!$qok_verify_sourcing = mysql_db_query($DB, $q_verify_sourcing, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }	
					list($verify_sourcing) = mysql_fetch_array($qok_verify_sourcing);
					if ($verify_sourcing > 0)
					{
						$q_sourcing = "UPDATE product_sourcing
									   SET cost = '$price', qty = '$instock', tstamp = '$tstamp'
									   WHERE distid = '149'
									   AND pid = '$pid'
									   LIMIT 1";
					}
					else 
					{
						$q_sourcing = "INSERT INTO product_sourcing (distid, cost, qty, tstamp, pid)
									   VALUES ('149', '$price', '$instock', '$tstamp', '$pid')";
						
					}
					if(!$qok_sourcing = mysql_db_query($DB, $q_sourcing, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 4 Internal Error"; exit; }  }	

					// verify if it's on "vendor_product_list" db table
					$q_verify_vpl = "SELECT COUNT(id)
									 FROM vendor_product_list
									 WHERE sku = '".mysql_real_escape_string($sku)."'
									 AND vid = '149'
									 LIMIT 1";
					if(!$qok_verify_vpl = mysql_db_query($DB, $q_verify_vpl, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 5 Internal Error"; exit; }  }	
					list($verify_vpl) = mysql_fetch_array($qok_verify_vpl);
					if ($verify_vpl > 0)
					{}
					else 
					{
						$q_vpl = "INSERT INTO vendor_product_list (vid, added_dte, sku)
								  VALUES ('149', '".time()."', '".mysql_real_escape_string($sku)."')";
						if(!$qok_vpl = mysql_db_query($DB, $q_vpl, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 6 Internal Error"; exit; }  }	
					}
					echo 'Updated item, PID: ' . $pid . '<br />';					
				}
				else 
				{
					// insert new product
					$q_lastid = "SELECT id
								 FROM product_list
								 ORDER BY id DESC
								 LIMIT 1";
					if(!$qok_lastid = mysql_db_query($DB, $q_lastid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 7 Internal Error"; exit; }  }	
					list($lastid) = mysql_fetch_array($qok_lastid);
					$pid = $lastid + 1;
					
                                        $q_update = "DELETE FROM fba_skus WHERE sku='$sku'";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        $q_update = "INSERT INTO fba_skus(sku,fcsku) VALUES('$sku','$fcsku')";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        
                                        $q_update = "DELETE FROM fba_sku_map WHERE fba_sku='$sku'";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        $q_update = "INSERT INTO fba_sku_map(fba_sku,pid) VALUES('$sku','$pid')";
					if(!$qok_update = mysql_db_query($DB, $q_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }	
                                        
                                        
                                        
					$q_ininfo = "INSERT INTO product_list (id, descr,manpart,asin, sku, dropship, visible, lastupdate)
								 VALUES ('$pid','".mysql_real_escape_string($descr)."','".mysql_real_escape_string($sku)."','".mysql_real_escape_string($asin)."','".mysql_real_escape_string($sku)."','1','0','".time()."')";
					if(!$qok_ininfo = mysql_db_query($DB, $q_ininfo, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 8 Internal Error"; exit; }  }
					
					// add to product_search_extended to display on search page from admin (mgt folder)
					$q_insearchext = "INSERT INTO product_search_extended (pid, sitelist)
									  VALUES ('$pid','AVSolutions')";
					if(!$qok_insearchext = mysql_db_query($DB, $q_insearchext, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 9 Internal Error"; exit; }  }
					
					// add price to product
					$q_inprice = "INSERT INTO product_prices (id, price_level1, price_level4)
								  VALUES ('$pid', '0.00','$price')";
					if(!$qok_inprice = mysql_db_query($DB, $q_inprice, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 10 Internal Error"; exit; }  }

					// add sourcing
					$q_sourcing = "INSERT INTO product_sourcing (distid, cost, qty, tstamp, pid)
								   VALUES ('149', '$price', '$instock', '$tstamp', '$pid')";
					if(!$qok_sourcing = mysql_db_query($DB, $q_sourcing, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 11 Internal Error"; exit; }  }	

					// verify if it's on "vendor_product_list" db table
					$q_verify_vpl = "SELECT COUNT(id)
									 FROM vendor_product_list
									 WHERE sku = '".mysql_real_escape_string($sku)."'
									 AND vid = '149'
									 LIMIT 1";
					if(!$qok_verify_vpl = mysql_db_query($DB, $q_verify_vpl, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 5 Internal Error"; exit; }  }	
					list($verify_vpl) = mysql_fetch_array($qok_verify_vpl);
					if ($verify_vpl > 0)
					{}
					else 
					{
						$q_vpl = "INSERT INTO vendor_product_list (vid, added_dte, sku)
								  VALUES ('149', '".time()."', '".mysql_real_escape_string($sku)."')";
						if(!$qok_vpl = mysql_db_query($DB, $q_vpl, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 6 Internal Error"; exit; }  }	
					}
					echo 'Added new item, PID: ' . $pid . '<br />';					
				}
			}
			++$i;
		}
		fclose($fp);
    }
}
?>			
			</td>
		</tr>
		</table>
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>