<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/couponclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/rebateclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/datafeedclass.phtml");

if($id != "")
{
	$query = "select data from debug where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	list($data) = mysql_fetch_array($qok);
	
	echo $data;
	exit;
}
?>
<table>
<tr>
	<td>ID</td>
	<td>Date</td>
	<td>Title</td>
</tr>
<?

$query = "select id, title, tstamp from debug";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($id, $title, $tstamp) = mysql_fetch_array($qok))
{
	?>
	<tr>
		<td><?=$id;?></td>
		<td><?=$tstamp;?></td>
		<td><a href="debug_browser.phtml?id=<?=$id;?>"><?=$title;?></a></td>
	</tr>
	<?
}
?>
</table>