<?
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

$ROOT_DIR = "/home/httpd/butterflyphoto.com";

REQUIRE("$ROOT_DIR/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

REQUIRE($ROOT_DIR."/mgt/vn/vendors/dh/dhClass.phtml");

$dhc = new dhClass();
$dhc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$dhc->db = $DB;

$efc->cleanVendorItems("86");
/*
$xmldata = $dhc->getOrderTracking($efc, "1412", "904782");

echo "<pre>";
print_r($xmldata);
echo "</pre>";*/

//$xmldata = $dhc->getPNA($efc, "M082660");

/*echo "<pre>";
print_r($xmldata);
echo "</pre>";
*/

/*$inventory = $xmldata['XMLRESPONSE']['ITEM']['BRANCHQTY'];

for($xx = 0; $xx < count($inventory); $xx++)
{
	$branch = $inventory[$xx]['BRANCH']['value'];
	$qty = $inventory[$xx]['QTY']['value'];
	$date = $inventory[$xx]['INSTOCKDATE']['value'];
	
	echo "BRANCH: $branch<BR>";
	echo "QTY: $qty<BR>";
	echo "DATE: $date<BR>";
	echo "<HR NOSHADE>";
}*/
?>