<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Dimensions finder</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function pullResult()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var dim_length = escape(document.dim_finder.dim_length.value);
	var dim_width = escape(document.dim_finder.dim_width.value);
	var dim_height = escape(document.dim_finder.dim_height.value);
	
	if (dim_length == '') {
		alert('Please write lenght dimension.');
		cvr.style.display = "none";
		return;
	}

	if (dim_width == '') {
		alert('Please write width dimension.');
		cvr.style.display = "none";
		return;
	}

	if (dim_height == '') {
		alert('Please write height dimension.');
		cvr.style.display = "none";
		return;
	}
	
	var url="ajax_dim_finder.phtml";
 	url += "?dim_length=" + dim_length;
 	url += "&dim_width=" + dim_width;
 	url += "&dim_height=" + dim_height;
 	xmlHttp=GetXmlHttpObject();

 	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function gotResult()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}	
}

function clearResult() 
{
	document.dim_finder.dim_length.value = '';
	document.dim_finder.dim_width.value = '';
	document.dim_finder.dim_height.value = '';
	document.getElementById("reportdata").innerHTML = '';
}	

function addItem()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("add_item");
	
	if(!dlg)
	{
		alert('Could not find the add form.');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
	}
}

function saveNewItem()
{
	var cvr = document.getElementById("savecover");
	var dlg = document.getElementById("add_item");
	
	var model = escape(document.add_item_form.model.value);
	var dim_length = escape(document.add_item_form.dim_length.value);
	var dim_width = escape(document.add_item_form.dim_width.value);
	var dim_height = escape(document.add_item_form.dim_height.value);
	
	if (model == '') {
		alert('Please write model.');
		document.add_item_form.model.focus();
		return;
	}

	if (dim_length == '') {
		alert('Please write lenght dimension.');
		document.add_item_form.dim_length.focus();
		return;
	}
	
	if (dim_width == '') {
		alert('Please write width dimension.');
		document.add_item_form.dim_width.focus();
		return;
	}

	if (dim_height == '') {
		alert('Please write height dimension.');
		document.add_item_form.dim_height.focus();
		return;
	}
	
	var url="ajax_dim_finder.phtml";
 	url += "?action=add";
 	url += "&model=" + model;
 	url += "&dim_length=" + dim_length;
 	url += "&dim_width=" + dim_width;
 	url += "&dim_height=" + dim_height;
 	xmlHttp=GetXmlHttpObject();

 	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotSaveResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotSaveResult()
{
	if(xmlHttp.readyState==4)
	{ 
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("add_item");
		dlg.style.display = "none";

		document.add_item_form.model.value = '';
		document.add_item_form.dim_length.value = '';
		document.add_item_form.dim_length.value = '';
		document.add_item_form.dim_width.value = '';
		document.add_item_form.dim_height.value = '';
	}	
}

function cancelAdd() 
{
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("add_item");
		dlg.style.display = "none";

		document.add_item_form.model.value = '';
		document.add_item_form.dim_length.value = '';
		document.add_item_form.dim_length.value = '';
		document.add_item_form.dim_width.value = '';
		document.add_item_form.dim_height.value = '';
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
			        <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0"><strong>Search</strong></li>
		        </ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  

					<form name="dim_finder" id="dim_finder">
					<table>
					<tr>
						<td class="g1">Dimension length:</td>
						<td>
							<input type="text" name="dim_length" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
					<tr>
						<td class="g1">Dimension width:</td>
						<td>
							<input type="text" name="dim_width" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
					<tr>
						<td class="g1">Dimension height:</td>
						<td>
							<input type="text" name="dim_height" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<BR>
							<div align=center>
							<input type="button" name="action" value=" Search " onclick="pullResult()" class="buttonItem">
							<input type="button" name="Action" value="Clear" onclick="clearResult()" class="buttonItem">
						</td>
					</tr>						
					</table>
					</form>
					<a href="javascript:void(0);" onclick="addItem();">Add new item</a>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
<div id="add_item" class="dialog" style="height:150px !important;">
<form name="add_item_form" id="add_item_form">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
			<tr>
				<td class="g1">Model:</td>
						<td>
							<input type="text" name="model" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
			<tr>
				<td class="g1">Dimension length:</td>
						<td>
							<input type="text" name="dim_length" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
					<tr>
						<td class="g1">Dimension width:</td>
						<td>
							<input type="text" name="dim_width" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
					<tr>
						<td class="g1">Dimension height:</td>
						<td>
							<input type="text" name="dim_height" value="" style="width:75px" class="formBox">					
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<BR>
							<div align=center>
							<input type="button" name="action" value="Add item" onclick="saveNewItem()" class="buttonItem">
							<input type="button" name="Action" value="Cancel" onclick="cancelAdd()" class="buttonItem">
						</td>
					</tr>						
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>