<?
set_time_limit(0);

if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
//	REQUIRE($ROOT_DIR."/config.phtml");
}
else 
{
	echo "ROOT_DIR UNDEFINED\n\n";
	exit();
}

REQUIRE($ROOT_DIR."/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
///////////////////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------------------------
$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG");
$alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT");
$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID");

$query = "SELECT col.orderid, col.prodid, SUM(col.qty_ordered), col.manpart
		  FROM customer_order_lines col
		  JOIN customer_orders co
		  ON col.orderid = co.orderid
		  WHERE co.credit_request = '1'
		  GROUP BY col.lineid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($qok) > 0)
{
	$pid_list = array();
	while(list($orderid, $pid, $qty, $manpart) = mysql_fetch_array($qok))
	{
		// check pid, is child? replace with parent
		$query_is_child = "SELECT text_short
						   FROM custom_values
						   WHERE cfid = '$alt_sku_parentid'
						   AND pid = '$pid'
						   LIMIT 1";
		if(!$qok_is_child = mysql_db_query($DB, $query_is_child, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($qok_is_child) > 0)
		{
			list($parent_pid) = mysql_fetch_array($qok_is_child);
			// check child if has CFID_36 checked
			$query_verify = "SELECT COUNT(pid)
							 FROM custom_values
							 WHERE cfid = '$alt_sku_flag'
							 AND pid = '$pid'
							 AND text_short = '1'";
			if(!$qok_verify = mysql_db_query($DB, $query_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			list($count_verify) = mysql_fetch_array($qok_verify);
			if ($count_verify > 0)
			{
				$pid = $parent_pid;
				$query_parent = "SELECT manpart
								 FROM product_list
								 WHERE id = '$pid'
								 LIMIT 1";
				if(!$qok_parent = mysql_db_query($DB, $query_parent, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($manpart) = mysql_fetch_array($qok_parent);
			}
		}
		
		$query_prod = "SELECT avgcost
					   FROM product_prices
					   WHERE id = '$pid'
					   LIMIT 1";
		if(!$qok_prod = mysql_db_query($DB, $query_prod, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($cost) = mysql_fetch_array($qok_prod);
		if ($pid_list[$pid])
		{
			$pid_list[$pid]['qty'] += $qty;
		}
		else 
		{
			$pid_list[$pid]['qty'] = $qty;
		}
		$pid_list[$pid]['order_id'] = $orderid;
		$pid_list[$pid]['manpart'] = $manpart;
		$pid_list[$pid]['cost'] = $cost;
	}

	$body = '<table width="100%" cellpadding="10" cellspacing="0" align="center" border="1"><tr><th>PID</th><th>Qty</th><th>Manpart</th><th>Cost</th><th>Extended cost</th></tr>';
	foreach ($pid_list AS $pid => $pid_val)
	{
		$body .= '<tr>';
		$body .= '<td>'.$pid.'</td>';
		$body .= '<td>'.$pid_val['qty'].'</td>';
		$body .= '<td>'.(empty($pid_val['manpart']) ? '&nbsp;' : $pid_val['manpart']).'</td>';
		$body .= '<td>'.sprintf("%.2f",$pid_val['cost']).'</td>';
		$body .= '<td>'.sprintf("%.2f",$pid_val['cost'] * $pid_val['qty']).'</td>';
		$body .= '</tr>';
	}
	$body .= '</table>';
	echo $body;

   	$mail = new PHPMailer();
	$mail->do_debug = 10;
	$mail->SMTPDebug = false;
	$mail->IsSMTP(); // telling the class to use SMTP
	$mail->Host = $efc->getConfigValue("Email Settings", "SMTP"); // SMTP server
			
	if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
	{
		$mail->SMTPAuth = true;
		$mail->AuthType = "";//CRAM-MD5
		$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
		$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
	}
	else 
	{
		$mail->SMTPAuth = false;
	}
			
	$mail->From     = $efc->getConfigValue("Email Settings", "FROMADDR");
	$mail->FromName = "NoReply";
//	$mail->AddAddress('ccristian@mejix.com');

	$mail->AddAddress('abe@ecomelectronics.com');
	$mail->AddAddress('sales@ecomelectronics.com');
	$mail->AddAddress('fran@ecomelectronics.com');
	$mail->IsHTML(true);	
	$mail->Subject = 'Orders flaged with Credit Request';
	$mail->Body = $body;
	if ($mail->Send() === TRUE)
	{
		foreach ($pid_list AS $pid => $pid_val)
		{
			$query_unflag = "UPDATE customer_orders
							 SET credit_request = '0'
							 WHERE orderid = '".$pid_val['order_id']."'
							 LIMIT 1";
			if(!$qok_unflag = mysql_db_query($DB, $query_unflag, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	unset($pid_list);
}