<?php
set_time_limit(0);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG"); // child
$alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT"); // parent
$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID"); // id parent pt kids

/*
if ($_SERVER['REQUEST_METHOD'] == 'POST')
{
	foreach ($_POST['parent_pid'] AS $parent_key => $parent_pid)
	{
		$price_level1 = $_POST['price_level1'][$parent_key];
		$price_level2 = $_POST['price_level2'][$parent_key];
		$price_level3 = $_POST['price_level3'][$parent_key];
		$price_level4 = $_POST['price_level4'][$parent_key];
		$price_level5 = $_POST['price_level5'][$parent_key];
		$price_level6 = $_POST['price_level6'][$parent_key];
		$price_level7 = $_POST['price_level7'][$parent_key];
		$price_level8 = $_POST['price_level8'][$parent_key];
		$price_level9 = $_POST['price_level9'][$parent_key];
		
		// update price levels for parent
		$query = "UPDATE product_prices
				  SET price_level1 = '$price_level1', price_level2 = '$price_level2', price_level3 = '$price_level3', price_level4 = '$price_level4', price_level5 = '$price_level5', price_level6 = '$price_level6', price_level7 = '$price_level7', price_level8 = '$price_level8', price_level9 = '$price_level9'
				  WHERE id = '$parent_pid'
				  LIMIT 1";		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		// update master_price_update table for cron purpose
		$query_verify = "SELECT COUNT(parent_pid)
						 FROM mass_price_update
						 WHERE parent_pid = '$parent_pid'
						 LIMIT 1";	
		if(!$qok_verify = mysql_db_query($DB, $query_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($count_verify) = mysql_fetch_array($qok_verify);
		if ($count_verify == 0)
		{
			$query = "INSERT INTO mass_price_update (parent_pid)
					  VALUES ('$parent_pid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	$saved = true;
}
*/
?>
<HTML>
<HEAD>
<TITLE>Mass price update</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery.tools.1.0.5.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script type="text/javascript">
$(document).ready(function() {
	$('.oddTR').css('background-color','yellow');
});
function showMenu(productID, manpart)
{
	var pos = $('#item_'+productID).position();
//	alert(pos.top+'-'+pos.left);
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
//	alert($('#dialog').position());
/*	dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;

	//var menuDiv = document.getElementById("menuDiv");

	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"','item_"+productID+"');\">View SKU</a>"

	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/editsku.phtml?id="+productID+"&inwin=1', 'Edit SKU: "+productID+"','item_"+productID+"');\">Edit SKU</a>"

	document.getElementById("menuOption3").innerHTML = "<a href=\"javascript:e2window('/mgt/pereport/peoptions.phtml?id="+productID+"&inwin=1', 'PE Options: "+productID+"','item_"+productID+"');\">PE Options</a>"

	document.getElementById("menuOption4").innerHTML = "<a href=\"/mgt/om/search.phtml?sku="+manpart+"&inwin=0\">Find SKU Orders</a>"

//	document.getElementById("menuOption5").innerHTML = "<a href=\"featured_products.phtml?Action=Add&id=&aid="+productID+"\">Featured Product</a>";
	document.getElementById("menuOption5").innerHTML = "<a href=\"/mgt/reports/product_profitloss.phtml?prid="+productID+"\">Item P/L</a>";

	document.getElementById("menuOption6").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2PO('"+productID+"')\">Add to PO</a>";

	document.getElementById("menuOption7").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2Order('"+productID+"')\">Add to Order</a>";
	
	document.getElementById("menuOption8").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:getItemLabel('"+productID+"')\">Print Asin Labels</a>";
	
	document.getElementById("menuOption9").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2ISO('"+productID+"')\">Add to ISO</a>";

		document.getElementById("menuOption10").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2ISOCA('"+productID+"')\">Add to ISO Canada</a>";
	document.getElementById("menuOption11").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2ISOMAX('"+productID+"')\">Add to ISO Max</a>";

}

function GetXmlHttpObject()
{
	try
	{
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
	catch (e)
	{
		// Internet Explorer
		try
		{
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
		{
			try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e)
			{
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}

	return xmlHttp;
}

function addItem2PO(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2po.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function poResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("podisplay").innerHTML = xml7Http.responseText;

		document.getElementById("podisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorPODisplay()", 2000);

		document.getElementById("poimage").style.display = "";
	}
}

function addItem2Order(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2order.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=orderResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function orderResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("orderdisplay").innerHTML = xml7Http.responseText;

		document.getElementById("orderdisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorOrderDisplay()", 2000);
	}
}

function getItemLabel(pid) {
	var asin = '';
	$.get("ajax_get_asin.phtml", 
		{
			'id':pid
		},function(data){
			asin = data;
			if(asin!='') {
				/*$.get("/mgt/reports/fba_shipment_creator/barcode.php", 
					{
						'pid':pid,
						'asin':asin,
						'height':'50',
						'file_type':'png',
						'file_name':asin
					},function(data){
			//			window.open ("barcode/img/"+asin+".png","mywindow");
			//			window.print("barcode/img/"+asin+".png");
//						var win = window.open("/mgt/reports/fba_shipment_creator/barcode/img/"+asin+".png","mywindow","width=220,height=120,top=-1"); 
						var win = window.open("/mgt/reports/fba_shipment_creator/print.phtml?name="+asin,"mywindow","width=220,height=120,top=-1"); 
						win.print();
				});*/
				var win = window.open("/mgt/reports/fba_shipment_creator/barcode_pdf/pdf_barcode.phtml?asin="+asin+"&pid="+pid,"mywindow","top=-1"); 
			}
			else {
				alert('Invalid ASIN number!');
			}
	});
}

function addItem2ISO(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2iso.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=isoResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("isodisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function isoResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("isodisplay").innerHTML = xml7Http.responseText;

		document.getElementById("isodisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorISOCanadaDisplay()", 2000);

		document.getElementById("isoimage").style.display = "";
	}
}

function addItem2ISOCA(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2iso_canada.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=isoCaResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("isocadisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function isoCaResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("isocadisplay").innerHTML = xml7Http.responseText;

		document.getElementById("isocadisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorISODisplay()", 2000);

		document.getElementById("isoimage").style.display = "";
	}
}

function addItem2ISOMAX(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2iso_max.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=isoMaxResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("isomaxdisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function isoMaxResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("isomaxdisplay").innerHTML = xml7Http.responseText;

		document.getElementById("isomaxdisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorISODisplay()", 2000);

		document.getElementById("isoimage").style.display = "";
	}
}

function unColorPODisplay()
{
	document.getElementById("podisplay").style.backgroundColor = "#ffffff";
}
function unColorISODisplay()
{
	document.getElementById("isodisplay").style.backgroundColor = "#ffffff";
}
function unColorISOCanadaDisplay()
{
	document.getElementById("isocadisplay").style.backgroundColor = "#ffffff";
}
function unColorISOMaxDisplay()
{
	document.getElementById("isomaxdisplay").style.backgroundColor = "#ffffff";
}

function unColorOrderDisplay()
{
	document.getElementById("orderdisplay").style.backgroundColor = "#ffffff";
}

function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}

function copyPriceLevels(parent_pid)
{
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	var master_price = parseFloat($('#' + parent_pid + '_price_level1').val()).toFixed(2);
	for (var i=1;i<10;i++)
	{
		$('#' + parent_pid + '_price_level' + i).val(master_price);
	}
	$('#loading').html('');
}

function savePriceLevels(parent_pid)
{
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	var price_level1 = $('#' + parent_pid + '_price_level1').val();
	var price_level2 = $('#' + parent_pid + '_price_level2').val();
	var price_level3 = $('#' + parent_pid + '_price_level3').val();
	var price_level4 = $('#' + parent_pid + '_price_level4').val();
	var price_level5 = $('#' + parent_pid + '_price_level5').val();
	var price_level6 = $('#' + parent_pid + '_price_level6').val();
	var price_level7 = $('#' + parent_pid + '_price_level7').val();
	var price_level8 = $('#' + parent_pid + '_price_level8').val();
	var price_level9 = $('#' + parent_pid + '_price_level9').val();
	
	$.get('ajax_ecom_mass_price_update.phtml',{ 'parent_pid' : parent_pid, 'price_level1' : price_level1, 'price_level2' : price_level2, 'price_level3' : price_level3, 'price_level4' : price_level4, 'price_level5' : price_level5, 'price_level6' : price_level6, 'price_level7' : price_level7, 'price_level8' : price_level8, 'price_level9' : price_level9 }, function(data) {
		savePriceLevelsSuperPricer(parent_pid);
	});
}

function savePriceLevelsSuperPricer(parent_pid)
{
	if($('#'+parent_pid+'_sp').length>0) {
		var minprice_amazon = $('input#' + parent_pid + '_minprice_amazon').val();
		var minprice_amazon_canada = $('input#' + parent_pid + '_minprice_amazon_canada').val();
		var minprice_ebay = $('input#' + parent_pid + '_minprice_ebay').val();
		var minprice_buy = $('input#' + parent_pid + '_minprice_buy').val();
	
		var maxprice_amazon = $('input#' + parent_pid + '_maxprice_amazon').val();
		var maxprice_amazon_canada = $('input#' + parent_pid + '_maxprice_amazon_canada').val();
		var maxprice_ebay = $('input#' + parent_pid + '_maxprice_ebay').val();
		var maxprice_buy = $('input#' + parent_pid + '_maxprice_buy').val();
			
		var mapprice_amazon = $('input#' + parent_pid + '_mapprice_amazon').val();
		var mapprice_amazon_canada = $('input#' + parent_pid + '_mapprice_amazon_canada').val();
		var mapprice_ebay = $('input#' + parent_pid + '_mapprice_ebay').val();
		var mapprice_buy = $('input#' + parent_pid + '_mapprice_buy').val();
	
		var profile_amazon = $('select#' + parent_pid + '_profile_amazon option:selected').val();
		var profile_amazon_canada = $('select#' + parent_pid + '_profile_amazon_canada option:selected').val();
		var profile_ebay = $('select#' + parent_pid + '_profile_ebay option:selected').val();
		var profile_buy = $('select#' + parent_pid + '_profile_buy option:selected').val();
			
		var group_amazon = $('select#' + parent_pid + '_group_amazon option:selected').val();
		var group_amazon_canada = $('select#' + parent_pid + '_group_amazon_canada option:selected').val();
		var group_ebay = $('select#' + parent_pid + '_group_ebay option:selected').val();
		var group_buy = $('select#' + parent_pid + '_group_buy option:selected').val();
		
		if($('input#' + parent_pid + '_managed_amazon').is(':checked'))
		{
			var managed_amazon = 1;
		}
		else
		{
			var managed_amazon = 0;
		}
		
		if($('input#' + parent_pid + '_managed_amazon_canada').is(':checked'))
		{
			var managed_amazon_canada = 1; 
		} else {
			var managed_amazon_canada = 0; 
		}
	
		if($('input#' + parent_pid + '_managed_ebay').is(':checked'))
		{
			var managed_ebay = 1; 
		} else {
			var managed_ebay = 0; 
		}
		
		if($('input#' + parent_pid + '_managed_buy').is(':checked'))
		{
			var managed_buy = 1; 
		} else {
			var managed_buy = 0; 
		}
			
		$.get('ajax_ecom_mass_price_update.phtml',{ 'is_super_pricer': '1', 'parent_pid' : parent_pid, 'minprice_amazon' : minprice_amazon, 'minprice_amazon_canada' : minprice_amazon_canada, 'minprice_ebay' : minprice_ebay, 'minprice_ebay' : minprice_ebay, 'minprice_buy' : minprice_buy, 'maxprice_amazon' : maxprice_amazon, 'maxprice_amazon_canada' : maxprice_amazon_canada, 'maxprice_ebay' : maxprice_ebay, 'maxprice_buy' : maxprice_buy, 'profile_amazon' : profile_amazon, 'profile_amazon_canada' : profile_amazon_canada, 'profile_ebay' : profile_ebay, 'profile_buy' : profile_buy, 'group_amazon' : group_amazon, 'group_amazon_canada' : group_amazon_canada, 'group_ebay' : group_ebay, 'group_buy' : group_buy, 'managed_amazon' : managed_amazon, 'managed_amazon_canada' : managed_amazon_canada, 'managed_ebay' : managed_ebay, 'managed_buy' : managed_buy }, function(data) {
			$('#loading').html('');
		});
	}
}

function saveAllPriceLevels()
{
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	$('#table_results tbody tr').each(function() {
		var parent_pid = $(this).attr('id');
		var price_level1 = $('input#' + parent_pid + '_price_level1').val();
		var price_level2 = $('input#' + parent_pid + '_price_level2').val();
		var price_level3 = $('input#' + parent_pid + '_price_level3').val();
		var price_level4 = $('input#' + parent_pid + '_price_level4').val();
		var price_level5 = $('input#' + parent_pid + '_price_level5').val();
		var price_level6 = $('input#' + parent_pid + '_price_level6').val();
		var price_level7 = $('input#' + parent_pid + '_price_level7').val();
		var price_level8 = $('input#' + parent_pid + '_price_level8').val();
		var price_level9 = $('input#' + parent_pid + '_price_level9').val();
		
		var parent_pid_tmp = parent_pid.split('_');
		
		if (parent_pid_tmp.length == 1 && parent_pid != '')
		{
			$.get('ajax_ecom_mass_price_update.phtml',{ 'parent_pid' : parent_pid, 'price_level1' : price_level1, 'price_level2' : price_level2, 'price_level3' : price_level3, 'price_level4' : price_level4, 'price_level5' : price_level5, 'price_level6' : price_level6, 'price_level7' : price_level7, 'price_level8' : price_level8, 'price_level9' : price_level9 }, function(data) {
				savePriceLevelsSuperPricer(parent_pid);
			});
		}
		
	});
}

function is_numeric(input)
{
	return typeof(input)=='number';
}

function searchPriceUpdate()
{
	var keywords = "", pid = "", includekits = "";

	keywords = document.customersearch.keywords.value;
	pid = document.customersearch.pid.value;
	includekits = document.customersearch.includekits.options[document.customersearch.includekits.selectedIndex].value;
			
	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	}

	var url = "ajax_ecom_search_mass_price_update.phtml";
	url += "?keywords="+escape(keywords);
	url += "&pid="+pid;
	url += "&includekits="+includekits;
	document.getElementById("loading").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	
	xmlHttp.onreadystatechange=searchPriceUpdateResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function searchPriceUpdateResult()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("loading").innerHTML =  "";
		document.getElementById("results").innerHTML =  xmlHttp.responseText;
	}		
}
function clearForm()
{
	keywords = document.customersearch.keywords.value = '';
	pid = document.customersearch.pid.value = '';
	document.customersearch.includekits.selectedIndex = 0;
}

function showSuperPricer(parent_pid)
{
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	if($('#table_results tbody tr#' + parent_pid + '_sp').length == 0)
	{
		$.get('ajax_ecom_sp_mass_price_update.phtml',{ 'id' : parent_pid }, function(data) {
			$('#table_results tbody tr#' + parent_pid).after('<tr id="' + parent_pid + '_sp"><td colspan="16">' + data +'</td></tr>');
			$('a.' + parent_pid + '_show').css('display','none');
			$('a.' + parent_pid + '_hide').css('display','');
			$('#loading').html('');
		});
	} else {	
		$('#table_results tbody tr#' + parent_pid + '_sp').css('display','');
		$('a.' + parent_pid + '_show').css('display','none');
		$('a.' + parent_pid + '_hide').css('display','');
		$('#loading').html('');
	}
}

function hideSuperPricer(parent_pid)
{
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	$('#table_results tbody tr#' + parent_pid + '_sp').hide();
	$('a.' + parent_pid + '_show').css('display','');
	$('a.' + parent_pid + '_hide').css('display','none');
	$('#loading').html('');
}
</script>
</HEAD>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
#results th {font-weight:bold;font-size:11px}
</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<form method="POST" action="">
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

		<B>Mass price update</B>
		<BR><BR>
		<table width="100%">
		<tbody>
		<tr>
		<td width="275" align="center">
			<!--------------------------------------------------------------->		
			
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block;">  
					<form name="customersearch">
						<table>
						<tbody>
						<tr>
			                <td class="g1">Keywords:</td>
			                <td><input type="text" name="keywords" value="" style="width:75px" class="formBox"></td>
						</tr>						
						<tr>
			                <td class="g1">PID:</td>
			                <td><input type="text" name="pid" style="width:75px" value="" class="formBox"></td>
				        </tr>
						<tr>
			                <td class="g1"><div style="padding-top:2px;">Include:</div></td>
			                <td valign="top">
			                        <select name="includekits" class="formSelect">
			                                <option value="1">All SKUs
			                                </option><option value="2" selected="">Exclude Kits	
			                                </option><option value="3">Only Show Kits
			                                </option><option value="4">Only Show AutoPack
			                        </option></select>						
			                </td>
				        </tr>
        					<tr>
							<td colspan="2">
								<br>
									<div align="center">
										<input type="button" name="" value="Search" onclick="searchPriceUpdate()" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">
									</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center"><br /><div id="loading"></div></td>
						</tr>        				
						</tbody>
						</table>
					</form>	
					<div id="testdiv1" style="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></div>
					<!--------------------------------------------------------------->					</div>
					
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>			
		</td>
		<td width="95%" id="results"></td>
		</tr>
	</tbody>
	</table>	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption6"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption7"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption8"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption9"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption10"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption11"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<style>
.e2WinBar{ cursor: move; }
.e2Win {display:none;width:900px;height:530px;position:absolute;z-index:100;background:white;padding:2px;font:10pt tahoma;border:1px solid gray}
.cover {display:none;position:absolute;left:0px;top:25px;z-index:99;height:500px;background:#eeeeee;filter:alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7}
</style>
	<div id="win1" class="e2Win">
	<div id="cover1" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win1', '1');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win1title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win1content', 'win1');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win1content', 'win1', '1');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win1', '1');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win1content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('1');" id="win1frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win2" class="e2Win">
	<div id="cover2" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win2', '2');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win2title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win2content', 'win2');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win2content', 'win2', '2');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win2', '2');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win2content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('2');" id="win2frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win3" class="e2Win">
	<div id="cover3" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win3', '3');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win3title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win3content', 'win3');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win3content', 'win3', '3');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win3', '3');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win3content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('3');" id="win3frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win4" class="e2Win">
	<div id="cover4" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win4', '4');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win4title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win4content', 'win4');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win4content', 'win4', '4');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win4', '4');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win4content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('4');" id="win4frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win5" class="e2Win">
	<div id="cover5" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win5', '5');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win5title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win5content', 'win5');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win5content', 'win5', '5');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win5', '5');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win5content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('5');" id="win5frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win6" class="e2Win">
	<div id="cover6" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win6', '6');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win6title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win6content', 'win6');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win6content', 'win6', '6');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win6', '6');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win6content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('6');" id="win6frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win7" class="e2Win">
	<div id="cover7" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win7', '7');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win7title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win7content', 'win7');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win7content', 'win7', '7');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win7', '7');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win7content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('7');" id="win7frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win8" class="e2Win">
	<div id="cover8" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win8', '8');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win8title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win8content', 'win8');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win8content', 'win8', '8');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win8', '8');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win8content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('8');" id="win8frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>
		<div id="win9" class="e2Win">
	<div id="cover9" class="cover"></div>
	<table border=0 width=100% height="500" cellpadding=0 cellspacing=0>
	<tr height=25>
		<td bgcolor="#eeeeee" width=100%>
			<span class="e2WinBar" onmousedown="dragStart(event, 'win9', '9');">
			<table width=100% border=0>
			<tr>
				<td align=left><B><div id="win9title">Window</div></B></td>
				<td>
					<div align=right>
					<a href="javascript:void(0);" onclick="minimizeWindow('win9content', 'win9');"><img src="/mgt/images/min.gif" border=0></a>
					<a href="javascript:void(0);" onclick="maximizeWindow('win9content', 'win9', '9');"><img src="/mgt/images/max.gif" border=0></a>
					<a href="javascript:void(0);" onclick="closeWindow('win9', '9');"><img src="/mgt/images/close.gif" border=0></a>
					</div>
				</td>
			</tr>
			</table>
			</span>
		</td>
	</tr>
	<tr id="win9content">
		<td>
			<IFRAME height="475" onmouseover="javascript:makeTopMost('9');" id="win9frame" src="/mgt/e2win/loading.phtml" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="overflow:visible;">
			</IFRAME>
		</td>
	</tr>
	</table>
	</div>


</body>
</html>
<?mysql_close();?>