<?
set_time_limit(0);
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
	
}
else 
{
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
//	echo "ROOT_DIR UNDEFINED\n\n";
//	exit();
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

?>
<HTML>
<HEAD>
<TITLE>Amazon Orders by Date</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script>
	function deleteMap(pid,catid) {
		$('#del_'+pid+'_'+catid).html('<img src="/mgt/images/loading.gif" />')
		$.get('ecom_clean_cat_map_delete.phtml', 
            {
                    'pid':pid,
                    'catid':catid
            }, function(data) {
				$('#del_'+pid+'_'+catid).html('');
        });
	}
</script>
<style>
body {font-size:12px!important;}
</style>
</head>
<body>
<table>
<?
$q = "SELECT product_list.id,count(product_category_map.catid) as nr FROM product_list,product_category_map,product_categories WHERE product_list.id=product_category_map.pid AND product_categories.catid=product_category_map.catid AND product_categories.parentid = 0 group by product_list.id having nr>1 order by product_list.id limit 2500";
if(!$qoka = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while (list($id,$nr) = mysql_fetch_array($qoka)) {
	
	$query = "SELECT product_categories.catid,product_categories.catname FROM product_category_map,product_categories WHERE product_category_map.pid='$id' AND product_categories.catid=product_category_map.catid AND product_categories.parentid = 0";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($catid,$catname) = mysql_fetch_array($qok)) {
		?>
			<tr>
				<td><?=$id?></td>
				<td><?=$catid?></td>
				<td><?=$catname?></td>
				<td id="del_<?=$pid?>_<?=$catid?>"><a href="javascript:void(0)" onclick="deleteMap('<?=$pid?>','<?=$catid?>')">del</a></td>
			</tr>
		<?
	}
	?>
		<tr><td colspan="4" style="border-bottom:1px solid black">&nbsp;</td></tr>
	<?
}

?>
</table>
</body>