<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

	
	
$query = "select pid, manpart from product_list, product_category_map where product_list.id = product_category_map.pid and product_category_map.catid = '40'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $manpart) = mysql_fetch_array($qok))
{
	echo "PID: $pid...<BR>\n";
	
	$query = "select pid from product_docs where pid = '$pid' AND title like '%Energy Guide%'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($q2ok) <= 0)
	{// no product docs
		
		$query = "select vendor_product_docs.id, vendor_product_docs.title, vendor_product_docs.link from vendor_product_docs, product_sourcing 
					where 	
						product_sourcing.pid = '$pid' AND 
						product_sourcing.vpid = vendor_product_docs.pid AND
						vendor_product_docs.title like '%Energy Guide%'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($id, $title, $link) = mysql_fetch_array($q2ok))
		{
			echo "PID: $pid VPD_ID: $id\n";
			
			$query = "insert into product_docs(pid, title, link) values('$pid', '$title', '$link')";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			//exit;
		}
		
		
		$query = "select id from product_docs where pid = '$pid' and title like '%Energy Guide%'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) <= 0)
		{
		
			$query = "select productbase.pkid, brand_data.commonbrandname, sku_basic.sku, productbase.seriesname, brand_data.pkid from
						productbase, brand_data, sku_basic where
						productbase.pkid = sku_basic.pkproduct AND
						brand_data.pkid = productbase.pkbrand AND
						sku_basic.sku like '%$manpart%'";
			if(!$q2ok = mysql_db_query("cmic", $query, $mysqlid)){ echo "ERROR "; exit; }
			while(list($pkid, $manname, $manpart, $descr) = mysql_fetch_array($q2ok))
			{
				echo "PID: $pid PKID: $pkid MANNAME: $manname MANPART: $manpart UPC: $upc DESCR: $descr<BR>";	
				
				$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						productbase.pkid = '$pkid' AND
						assetdata.ast_role_txt = 'EnergyGuide' ";	
		
				if(!$q4ok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($ast_url_txt, $ast_role_txt) = mysql_fetch_array($q4ok))
				{
					$ast_url_txt = str_replace("http//", "http://", $ast_url_txt);
				
					$query = "insert into product_docs(pid, title, link) values('$pid', 'Energy Guide', '$ast_url_txt')";
					if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					echo "... Added Guide<BR>\n";
				}
				
				
			}
		}
	}
	else 
	{

	}
	
}