<?
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query = "select customer_orders.orderid, customer_orders.invoiceid, customer_orders.status, company_orderflow.complete, customer_orders.orderdate
				from 
				customer_orders
				left join company_orderflow_onstep on 
				customer_orders.orderid = company_orderflow_onstep.orderid and
				customer_orders.status = company_orderflow_onstep.step
				left join company_orderflow on
				customer_orders.status = company_orderflow.step
				where 
				customer_orders.otype = 'INVOICE' AND
				customer_orders.completedate = 0 AND
				company_orderflow.complete = 1";

if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($orderid, $invoiceid, $status, $complete, $orderdate) = mysql_fetch_array($q313ok))
{// all of these orders are complete without a completedate..... so, let's compute it for'em
	$query = "select shipdate from customer_order_lines where orderid = '$orderid' order by shipdate desc limit 0, 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipdate) = mysql_fetch_array($qok);
	
	if($shipdate <= 0)
	{
		echo "<font color='#ff0000'>$invoiceid has no complete date</font><BR>";	
		$query = "update customer_orders set completedate = '$orderdate' where orderid = '$orderid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		echo "$invoiceid - ".date("m/d/Y", $orderdate)."<BR>";
	}
	else 
	{
		$query = "update customer_orders set completedate = '$shipdate' where orderid = '$orderid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		echo "$invoiceid - ".date("m/d/Y", $shipdate)."<BR>";
	}
}
?>