<?
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
	// this script will add the brand, category, clicktype and clickid to orders
	REQUIRE($ROOT_DIR."/config.phtml");
	$ROOT_DIR = $argv[1];
}
else 
{
	echo "ROOT_DIR UNDEFINED\n\n";
	exit;
	
}

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

set_time_limit(999999);

$tstamp = date("Y-m-d", time());

$URL = $efc->getConfigValue("Company Information", "baseURL")."/";

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select count(*) from product_list, product_manufacturers, product_inventory where 
				product_list.manid = product_manufacturers.manid and 
				product_list.id = product_inventory.id and 
				product_list.visible = 1";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: $query";exit;}
list($totalitems) = mysql_fetch_array($qok);

echo "TOTAL ITEMS: $totalitems\n";

// do 40k urls per file
$totalfiles = $totalitems / 40000;

echo "TOTAL FILES: $totalfiles\n";

$onfile = 0;

for($xx = 0; $xx < $totalitems; $xx = $xx + 40000)
{
	
	$onfile++;
	$filename = $ROOT_DIR."/sitemap_".$onfile.".xml";
	
	unlink($filename);
	unlink($filename.".gz");
	
	$fp = fopen($filename, "w");
	if(!$fp){ echo "ERROR CREATING SITEMAP FILE"; exit;}
	
	// write the index file
	fputs($fp, "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n");	
	fputs($fp, "<urlset xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">\n");	
	
	$query = "select product_list.id from product_list, product_manufacturers, product_inventory where 
				product_list.manid = product_manufacturers.manid and 
				product_list.id = product_inventory.id and 
				product_list.visible = 1 LIMIT $xx, 40000";

	$onitem = 0;
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: $query";exit;}
	while(list($pid) = mysql_fetch_array($qok))
	{
		echo "ONITEM: $onitem\n";
		$onitem++;
		fputs($fp, "<url>\n");
	    fputs($fp, "<loc>".$URL."prodinfo.phtml?id=$pid</loc>\n");
	    fputs($fp, "<lastmod>$tstamp</lastmod>\n");
	    fputs($fp, "<changefreq>daily</changefreq>\n");
		fputs($fp, "</url>\n");
		
	}
	fputs($fp, "</urlset>\n");

	fclose($fp);
	

	exec("gzip $filename");
}


ob_start();
// write the index file
echo "<?xml version=\"1.0\" encoding=\"UTF-8\"?>";
?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<?
for($xx = 1; $xx <= $onfile; $xx++)
{
?>
<sitemap>
      <loc><?=$URL;?>sitemap_<?=$xx;?>.xml.gz</loc>
      <lastmod><?=$tstamp;?></lastmod>
</sitemap>
<?
}
?>
</sitemapindex>
<?
$siteindex = ob_get_clean();

$filename = $ROOT_DIR."/sitemap.xml";

unlink($filename);
unlink($filename.".gz");

$fp = fopen($filename, "w");
if(!$fp){ echo "ERROR CREATING SITEINDEX FILE"; exit;}
fputs($fp, $siteindex);
fclose($fp);

exec("gzip $filename");
?>