<?
///////////////////////////////////////////////////////////////////////////////////////////
// Conversion test of SnDKid's SQL Proc to convert a SKU into a UPC and vice versa
/*
HERE IS HOW THE FUNCTION IS USED:   (All of this is able to be pasted 
into SQL Server)
-----------------------------------------------------------------------------------


--This function will take any # input up to 10 digits and convert it 
into a UPC-A valid barcode string
--It also has the functionality to convert it back to the original # input

-- It has 2 modes
-- 0=Convert to UPC-A
-- 1=Convert back to original #

--Here is how to call it:
--dbo.fnGenerateUpc(@NumberString,@Mode)

--example

--Converts a digit string to UPC-A (Using @Mode=0)
select dbo.fnGenerateUpc('370500',0) --Returns 200003705005 (varchar)

--Will not convert a UPC-A if you accidentally feed it with a UPC-A 
while using @Mode=0
select dbo.fnGenerateUpc('200003705005',0) --Returns 200003705005 (varchar)

--Converts a UPC-A back to the original digit string (Using @Mode=1)
select dbo.fnGenerateUpc('200003705005',1) --Returns 370500 (varchar)

--Will not convert a DigitString if you accidentally feed it with a 
DigitString while using @Mode=1
select dbo.fnGenerateUpc('370500',1) --Returns 370500 (varchar)
*/

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


function generateUpc($NumberString,$Mode)
{
	$NumberString = trim($NumberString);
	
	if(intval($Mode) == 0)
	{
		//If it is already 12 digits then assume it is UPC and return the same number
		$strlen = strlen($NumberString);
		if($strlen == 12)
			return $NumberString;
		
		// 370500 = 6 digits, 1 checkdigit, begin with 2
		$padding = 10 - $strlen;
		
		$upccode = "2";
		
		for($xx = 0; $xx < $padding; $xx++)
			$upccode .= "0";
			
		$upccode .= $NumberString;
		
		
	  	$odd_sum = $upccode[0] + $upccode[2] + $upccode[4] + $upccode[6] + $upccode[8] + $upccode[10];  
	  	$odd_sum_three = $odd_sum * 3;
	  	$even_sum = $upccode[1] + $upccode[3] + $upccode[5] + $upccode[7] + $upccode[9];
	  	$total_sum = $odd_sum_three + $even_sum;
	  	$next_ten = (ceil($total_sum/10))*10;
	  	$check_digit = $next_ten - $total_sum;

		$upccode .= $check_digit;
		
		return $upccode;

	}
	else
	{
		$strlen = strlen($NumberString);
		if($strlen != 12)	
			return $NumberString;
			
		$NumberString = substr($NumberString, 1, 10);
		
		return intval($NumberString);
	}
	
}
?>
<html>
<body>
<HR NOSHADE>
<B>Generate UPC</B><BR><HR NOSHADE>
generateUpc(240461,0) => <?=generateUpc('240461', '0');?><BR><BR>
generateUpc(200002404619 ,0) => <?=generateUpc('200002404619 ', '0');?><BR><BR>

<BR>
<HR NOSHADE>

<B>Generate SKU from UPC</B><BR><HR NOSHADE>
generateUpc(240461,1) => <?=generateUpc('240461', '1');?><BR><BR>
generateUpc(200002404619 ,1) => <?=generateUpc('200002404619 ', '1');?><BR><BR>

</body>
</html>