<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
// Cart Stuff


$cattree = $efc->getCatTree($pid);
			
for($xx = 0; $xx < count($cattree['catid']); $xx++)
{
	$leafcat = $cattree['catid'][$xx];
			
	echo "LEAFCAT: $leafcat<BR>";
				
	$query = "select ebay3, ebay2, ebay1 from ebay_categories where catid = '$leafcat'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($ebay3, $ebay2, $ebay1) = mysql_fetch_array($qok);
	
	echo "CAT BASED<BR>";
	echo "EBAY3: $ebay3<BR>";
	echo "EBAY2: $ebay2<BR>";
	echo "EBAY1: $ebay1<BR>";
	
	if(intval($ebay3) > 0) $ebaycat = $ebay3;
	else if(intval($ebay2) > 0)$ebaycat = $ebay2;
	else if(intval($ebay1) > 0)$ebaycat = $ebay1;		
				
	if(intval($ebaycat) > 0)
	{
		echo "EBAYCAT: $ebaycat<BR>";
	}
}

?>