<?php
set_time_limit(0);
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
}
else 
{
	echo "ROOT_DIR UNDEFINED\n\n";
//	exit();	
}
 $ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if (($handle = fopen('hjs_msrp_map_price_import.csv', 'r')) !== FALSE)
{
	$i = 1;
	while (($csv_data = fgetcsv($handle, 10000, ',')) !== FALSE)
	{
		if ($i > 5)
		{
			/*
			Array
			(
			    [0] => 90006
			    [1] => Woodland Digital Camouflage Combat Shirt-2XL
			    [2] => $24.40 
			    [3] => $44.49 
			    [4] => $60.99 
			    [5] => 
			)
			*/			
			
/*			if (empty($csv_data['3']) && empty($csv_data['4']))
			{
				continue;
			}*/
			print_r($csv_data);
			if ($csv_data['3'] != '' && $csv_data['4'] != '') {
				
				// search by manpart
				$query = "SELECT id, manpart, descr
						  FROM product_list
						  WHERE manpart LIKE '".trim($csv_data['0'])." %'
						  OR manpart = '".trim($csv_data['0'])."'
						  OR manpart LIKE 'S".trim($csv_data['0'])." %'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				if (mysql_num_rows($qok) > 0)
				{
					while (list($pid, $manpart, $descr) = mysql_fetch_array($qok))
					{
						$map_price = str_replace('$','',trim($csv_data['3']));
						$msrp_price = str_replace('$','',trim($csv_data['4']));
						$avgcost = str_replace('$','',trim($csv_data['2']));
					
						$query_update = "UPDATE product_prices SET price_msrp = '$msrp_price', price_map = '$map_price', price_level1 = '$map_price',price_level2 = '$map_price', price_level3 = '$map_price',price_level4 = '$map_price', price_level5 = '$map_price',price_level6 = '$map_price', price_level7 = '$map_price',price_level8 = '$map_price', price_level9 = '$map_price',avgcost = '".$avgcost."' WHERE id = '$pid' LIMIT 1";
						print_r($query_update."\n");
						if(!$qok_update = mysql_db_query($DB, $query_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	//					if ($csv_data[0]=='6615') {
	//						print_r($query_update);	
	//					}
						
							
						
						// echo 'id: '.$pid.' - manpart: '.$manpart.' - descr: '.$descr.'<br />';
						// echo $query_update.'<br /><br />';
					}
				}
			}
		}
		++$i;
	}
	fclose($handle);	
}