<?
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
}
else 
{
	echo "ROOT_DIR UNDEFINED\n\n";
//	exit();	
$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
echo "<pre>";
?>
<table>
<?
$query = "select id,descr,sku,manpart from product_list order by id";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while( list($id,$descr,$sku,$manpart) = mysql_fetch_array($qok) )
{
	/*?>
		<tr>
			<td><?=$id?></td>
			<td><?=$descr?></td>
			<td><?=$sku?></td>
		</tr>
	<?*/
	$descr = trim($descr);
	$descr = str_replace("\t","",$descr);
	$descr = str_replace("#","",$descr);
	$descr = str_replace("*","",$descr);
	$descr = str_replace("  "," ",$descr);
	$descr = str_replace("                  "," ",$descr);
	
	$sku = trim($sku);
	$sku = str_replace("\t","",$sku);
	$sku = str_replace("#","",$sku);
	$sku = str_replace("*","",$sku);
	$sku = str_replace("  "," ",$sku);
	$sku = str_replace("                  "," ",$sku);
	
	$manpart = trim($manpart);
	$manpart = str_replace("#","",$manpart);
	$manpart = str_replace("*","",$manpart);
	$manpart = str_replace("\t","",$manpart);
	$manpart = str_replace("  "," ",$manpart);
	$manpart = str_replace("                  "," ",$manpart);
	
	/*$qx = "UPDATE product_list SET descr='".addslashes($descr)."',sku='".addslashes($sku)."',manpart='".addslashes($manpart)."' WHERE id='".$id."'";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	echo $id."->".$descr."->".$sku."->".$manpart."<br />";*/
}

?>
</table>