<?
error_reporting(1);
echo "1\n";
REQUIRE("/home/httpd/supplyace.com/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
echo "2\n";
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
error_reporting(1);
echo "3\n";

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
echo "DB: $DB\n<BR>";

$query = "select 
				sa_bb_full.partno,
				sa_bb_full.manname, 
				sa_bb_full.avgprice, 
				sa_bb_full.descr,
				sa_bb_full.cond,
				sa_bb_full.upc,  
				sa_bb_full_amazon.asin, 
				sa_bb_full_amazon.salesrank, 
				sa_bb_full_amazon.imageurl,
				sa_bb_full_amazon.brand, 
				sa_bb_full_amazon.features, 
				sa_bb_full_amazon.lowestprice, 
				sa_bb_full_amazon.numsellers, 
				sa_bb_full_amazon.title, 
				sa_bb_full_amazon.manpart 
				from sa_bb_full, sa_bb_full_amazon  
				where sa_bb_full.upc != '#N/A' AND 
				sa_bb_full.upc = sa_bb_full_amazon.upc AND 
				sa_bb_full_amazon.title != 'blank ASIN' AND 
				sa_bb_full_amazon.title != 'Multiple Matches'";
if(!$q411ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($partno, $manname, $avgprice, $descr, $condition, $upc, $asin, $salesrank, $imageURL, $brand, $features, $lowestprice, $numsellers, $title, $manpart) = mysql_fetch_array($q411ok))
{
	echo "doing... $partno<BR>\n";
	$manname = addslashes($manname);
	
	if(trim($descr) == "")
		$descr = $title;
		
	$descr = addslashes($descr);
	$features = addslashes($features);
	
	$query = "select manid from product_manufacturers where manname = '$manname'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($manid) = mysql_fetch_array($qok);
	}
	else
	{
		$query = "insert into product_manufacturers(manname) values('$manname')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$manid = mysql_insert_id();
	}
	
	if($condition == "REF")
		$refurb = 1;
	else
		$refurb = 0;
	
	$query = "select id from product_list where manpart = '$partno' and manid = '$manid' and refurb = '$refurb'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "select id from product_list order by id desc limit 0, 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pid) = mysql_fetch_array($qok);
		$pid++;
	
		$query = "insert into product_list(id, manid, manpart, descr, added_dte, sku, asin, use_asin, upccode, refurb)";
		$query .= " values('$pid', '$manid', '$partno', '$descr', '$tstamp', '$partno', '$asin', '1', '$upc', '$refurb')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
		echo "PID: $pid\n";
		
		$query = "insert into product_descr(id, data) values('$pid', '$features')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_prices(id, price_level1, price_msrp, instock) values('$pid', '$avgprice', '', '0')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->getBinaryFile($imageURL, $baseReferer, "/tmp/$pid.jpg");
		
		$tmpfile = "/tmp/$pid.jpg";
		$fp = fopen($tmpfile, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		
	
		$imageinfo = getimagesize($tmpfile);
		$width = $imageinfo[0];
		$height = $imageinfo[1];
	
		
		$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '$width', '$height')";
		$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
		$query = "delete from list_products where pid = '$pid' and lid = '32'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into list_products(pid, lid) values('$pid', '32')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->cacheAdditionalInfo($pid);
		
	}
	else
	{
		list($pid) = mysql_fetch_array($qok);
		echo "... item already exists\n";	
		
		$query = "select asin from product_list where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($hasasin) = mysql_fetch_array($qok);
		
		echo "ASIN => $asin\n";

		echo "... Updating ASIN [$asin]\n";
		$query = "update product_list set asin = '$asin', use_asin = '1', upccode = '$upc' where id = '$pid'";			
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "delete from list_products where pid = '$pid' and lid = '32'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into list_products(pid, lid) values('$pid', '32')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
			
	}
	
}


?>