<?
ini_set('display_errors',1);
error_reporting(E_ALL);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");

set_time_limit(999999);

REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
0 echo "\"PID\",";
1 echo "\"MANNAME\",";
2 echo "\"MANPART\",";
3 echo "\"SKU\",";
4 echo "\"DIYMICRO\",";
5 echo "\"APPLIANCEPALACE\",";
6 echo "\"CRAWLERID\",";
7 echo "\"PG URL\",";
8 echo "\"GOOGLE URL\"\n";
*/

$fp = fopen("/home/httpd/efluent_core/mgt/scripts/roimast.csv", "r");
$data = fgetcsv($fp, 4096);


while($data = fgetcsv($fp, 4096))
{
	$pid = $data[0];
	$manname = addslashes($data[1]);
	$manpart = addslashes($data[2]);
	
	$roimast = 	$data[4];
	$pgurl = addslashes($data[5]);
	$f2url = addslashes($data[6]);
	
	
	if(($pgurl != "") || ($f2url != ""))
	{
		if(intval($roimast) <= 0)
		{// let's create one
			
			$useman = substr($manname, 0, 2);
	
			$query = "select roimast from master_queue where manpart = '$manpart' and manname like '$useman%'";
			if(!$q2ok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			if(mysql_num_rows($q2ok) > 0)
			{
				list($roimast) = mysql_fetch_array($q2ok);
			}
			else 
			{
				$query = "select descr from product_list where id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				list($descr) = mysql_fetch_array($qok);
				
				$descr = addslashes($descr);
				
				$date_added = date("Y-m-d H:i:s", time());
				$query = "insert into master_queue(manname, manpart, descr, date_added) values('$manname', '$manpart', '$descr', '$date_added')";
				if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				$roimast = mysql_insert_id();
			}
		}

		echo "$pid => $roimast PG:($pgurl) F2:($f2url)<BR>";
		
		if(intval($roimast) > 0)
		{
			$query = "update product_list set roimast = '$roimast' where id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			
			if($pgurl != "")
			{
				$query = "select roimast from master_mods where roimast = '$roimast' and spidermod = 'pg'";
				if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				if(mysql_num_rows($qok) > 0)
				{
					$query = "update master_mods set spiderurl = '$pgurl' where roimast = '$roimast' and spidermod = 'pg'";
					echo $query."<BR>";
					if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				}
				else 
				{
					$query = "insert into master_mods(roimast, spidermod, spiderurl) values('$roimast', 'pg', '$pgurl')";
					echo $query."<BR>";
					if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				}
			}
			
			
			if($f2url != "")
			{
				$query = "select roimast from master_mods where roimast = '$roimast' and spidermod = 'f2'";
				if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				if(mysql_num_rows($qok) > 0)
				{
					$query = "update master_mods set spiderurl = '$f2url' where roimast = '$roimast' and spidermod = 'f2'";
					echo $query."<BR>";
					if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				}
				else 
				{
					$query = "insert into master_mods(roimast, spidermod, spiderurl) values('$roimast', 'f2', '$f2url')";
					echo $query."<BR>";
					if(!$qok = mysql_db_query("dsn", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				}
			}
			
			echo "<HR NOSHADE>";
		}

	}
}

fclose($fp);

echo "DONE<BR>";


?>