<?
REQUIRE("/home/httpd/pastrykicks.com/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
echo "DB: $DB\n<BR>";

$query = "select manid from product_manufacturers where manname = 'Pastry'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
list($manid) = mysql_fetch_array($qok);

echo "MANID: $manid<BR>";

$fxp = fopen("/home/httpd/store.csv", "r");

$data = fgetcsv($fxp, 8192, ";", "\"");

$onnum = 0;

while($data = fgetcsv($fxp, 8192, ";", "\""))
{
	$imageURL = "http://".str_replace("/usr/www/virtual/pastrykicks1/", "", $data[18]);
	$tstamp = strtotime($data[9]);
	$sku 		= $data[0];
	$category 	= $data[1];
	$msrp 		= $data[2];
	$price 		= $data[3];	
	$qty 		= $data[6];	
	$title 		= addslashes($data[19]);
	$sdescr 	= addslashes($data[20]);
	$metakw		= addslashes($data[21]);
	$metadr		= addslashes($data[22]);
	$searchwords= addslashes($data[23]);
	$cattree = explode("///", $category);
	
	echo "doing... $sku<BR>\n";
	echo "<img src=\"$imageURL\"><BR>\n";
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$parentid = 0;
	$catsave = array();
	for($pp = 0; $pp < count($cattree); $pp++)
	{
		echo "CHECKING...".$cattree[$pp]."<BR>";
		
		$query = "select catid from product_categories where catname = '".$cattree[$pp]."' and parentid = '$parentid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
		
		if(mysql_num_rows($qok) > 0)
		{
			list($parentid) = mysql_fetch_array($qok);
			$catsave[] = $parentid;
		}
		else 
		{
			$query = "select catid from product_categories order by catid desc limit 0,1";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			list($lastcatid) = mysql_fetch_array($qok);
			$lastcatid++;
			
			$catsave[] = $lastcatid;
			
			$query = "insert into product_categories(catid, catname, parentid, visible) ";
			$query .= "values('$lastcatid', '".addslashes($cattree[$pp])."', '$parentid', '1')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			$parentid = $lastcatid;
		}
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "select id from product_list order by id desc limit 0, 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($pid) = mysql_fetch_array($qok);
	$pid++;

	for($xx = 0; $xx < count($catsave); $xx++)
	{
		$query = "insert into product_category_map(pid, catid) values('$pid', '".$catsave[$xx]."')";
		echo "$query<BR>";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	$query = "insert into product_list(id, manid, manpart, descr, added_dte, sku)";
	$query .= " values('$pid', '$manid', '$sku', '$title', '$tstamp', '$sku')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	echo "PID: $pid\n";
	
	$query = "insert into product_descr(id, data) values('$pid', '$sdescr')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into metatag_data(type, subtype, typeid, data, divid) ";
	$query .= "values('1', 'keywords', '$pid', '$metakw', '0')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into metatag_data(type, subtype, typeid, data, divid) ";
	$query .= "values('1', 'description', '$pid', '$metadr', '0')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into product_prices(id, price_level1, price_msrp, instock) values('$pid', '$price', '$msrp', '$qty')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$efc->getBinaryFile($imageURL, $baseReferer, "/tmp/$pid.jpg");
	
	$tmpfile = "/tmp/$pid.jpg";
	$fp = fopen($tmpfile, "r");
	if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
	$data = "";
	while(!feof($fp))
	{
		$data .= fgets($fp, 4096);
	}
	fclose($fp);
	$data = addslashes($data);	 		

	$imageinfo = getimagesize($tmpfile);
	$width = $imageinfo[0];
	$height = $imageinfo[1];


	$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '$width', '$height')";
	$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
}

fclose($fxp);
?>