<?
// Report all PHP errors
error_reporting(-1);

// Same as error_reporting(E_ALL);
ini_set('error_reporting', E_ALL);


REQUIRE("/home/httpd/sagaelectronics.com/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
echo "DB: $DB\n<BR>";

$query = "select manid from product_manufacturers where manname = 'Pastry'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
list($manid) = mysql_fetch_array($qok);

echo "MANID: $manid<BR>";

$fxp = fopen("/home/httpd/ee_products.csv", "r");

$data = fgetcsv($fxp, 8192, ",", "\"");

$onnum = 0;

while($data = fgetcsv($fxp, 8192, ",", "\""))
{
/*	echo "<pre>";
	print_r($data);
	echo "</pre>";*/

	$ee_pid 	= addslashes($data[0]);
	$ee_title 	= addslashes($data[2]);
	$ee_html	= addslashes($data[3]);
	$ee_price	= addslashes($data[6]);
	$ee_msrp	= addslashes($data[7]);
	$ee_image	= addslashes($data[11]);
	$ee_sku		= addslashes($data[12]);
	$ee_stock	= addslashes($data[13]);
	$ee_cost	= addslashes($data[23]);
	$ee_weight	= addslashes($data[15]);
	$ee_brand	= trim(addslashes($data[49]));
	$ee_sdescr 	= addslashes($data[52]);

	if(is_numeric($ee_pid))
	{
		echo "EE_PID: $ee_pid - EE_BRAND: $ee_brand - EE_TITLE: $ee_title - EE_PRICE: $ee_price<BR>";
	
		$query = "select id from product_list where sku = '$ee_sku'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($pid) = mysql_fetch_array($q2ok);
		
			// http://www.electronicsexperience.com/store/pc/catalog/kdl19mblue_398_general.jpg
			$imageURL = "http://www.electronicsexperience.com/store/pc/catalog/$ee_image";
		
			$efc->getBinaryFile($imageURL, $baseReferer, "/tmp/$pid.jpg");
		
			$tmpfile = "/tmp/$pid.jpg";
			$fp = fopen($tmpfile, "r");
			if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
			$data = "";
			while(!feof($fp))
			{
				$data .= fgets($fp, 4096);
			}
			fclose($fp);
			$data = addslashes($data);	 		
	
			$imageinfo = getimagesize($tmpfile);
			$width = $imageinfo[0];
			$height = $imageinfo[1];
		
		
			$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '$width', '$height')";
			$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
			if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
}

fclose($fxp);
?>