<?
set_time_limit(99999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
customer_billinginfo
	acctid

customer_orders	
	bid
*/
// delete the accounts where the info on the account isn't
// the same info as the order
echo "Deleteing Conflicting Customer Accounts<BR>";
$query = "select customer_accounts.acctid FROM customer_accounts, customer_orders
				where
				customer_accounts.acctid = customer_orders.acctid AND
				customer_accounts.bill2name != customer_orders.bill2name";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($acctid) = mysql_fetch_array($qok))
{
	$query = "delete from customer_accounts where acctid = '$acctid'";	
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

// mark all the billing info as no account
echo "Marking all Billing as no account<BR>";
$query = "update customer_billinginfo set acctid = '0'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

// now go thru all the orders and fix everything
echo "Fixing Orders<BR>";
$query = "select orderid, invoiceid, acctid, bid from customer_orders";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($orderid, $invoiceid, $acctid, $bid) = mysql_fetch_array($qok))
{
	echo "Marking BID: $bid as ACCTID: $acctid<BR>";
	$query = "update customer_billinginfo set acctid = '$acctid' where id = '$bid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	echo "Seeing if acctid: $acctid actually exists<BR>";
	$query = "select fname from customer_accounts where acctid = '$acctid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	// see if the account was deleted.... if it was, recreate one for this order
	if(mysql_num_rows($q2ok) <= 0)
	{
		echo "Creating Account\n";
		
		$query = "select bill2name from customer_orders where orderid = '$orderid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($bill2name) = mysql_fetch_array($q2ok);
		$nameparts = explode(" ", $bill2name);
	
		$fname = addslashes($nameparts[0]);
		$lname = addslashes($nameparts[ count($nameparts) - 1 ]);
	
		$query = "insert into customer_accounts(fname, lname, 
							bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
							ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country)
							select '$fname', '$lname',
								bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
								ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country 
								from customer_orders where orderid = '$orderid'";
		
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$acctid = mysql_insert_id();
		
		$query = "update customer_orders set acctid = '$acctid' where orderid = '$orderid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		// move the BID info
		echo "ReMarking BID: $bid as ACCTID: $acctid<BR>";
		$query = "update customer_billinginfo set acctid = '$acctid' where id = '$bid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		

	}
	else 
	{
		echo "Account Exists<BR>";
	}
}
?>