<?
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

$ROOT_DIR = $argv[1];

echo "ROOT_DIR_PRE: $ROOT_DIR\n";

REQUIRE("$ROOT_DIR/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$efc->ROOT_DIR = $ROOT_DIR;

/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/emailmarketing.phtml");
$emc = new emailMarketingClass();
$emc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$emc->db = $DB;
$emc->url = $BASE_URL;
$emc->DEBUG = 1;
////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");
$mail = new PHPMailer();
////////////////////////////////////////////////////////////////////////////////////////////
echo "ROOT_DIR: $ROOT_DIR\n";
/*ini_set('display_errors',1); 
error_reporting(E_ALL);*/
 
while(1)
{
	
	$query = "select customer_orders.orderid, customer_orders.invoiceid, customer_orders.status, company_orderflow.complete, 
				customer_orders.divid, company_orderflow.id, customer_orders.ginvoiceid, customer_orders.clickid, company_orderflow.sendinvoice
				from 
				customer_orders
				left join company_orderflow_onstep on 
				customer_orders.orderid = company_orderflow_onstep.orderid and
				customer_orders.status = company_orderflow_onstep.step
				left join company_orderflow on
				customer_orders.status = company_orderflow.step
				where 
				company_orderflow.exclude = 0 and 
				customer_orders.otype = 'INVOICE' AND
				company_orderflow_onstep.step is NULL 
				order by customer_orders.status";
	if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR><BR>$query";exit();}	
	
	while(list($orderid, $invoiceid, $step, $complete, $divid, $ofid, $ginvoice, $clickid, $sendinvoice) = mysql_fetch_array($q313ok))
	{
		echo "-----------------------------------------------------------------\n";
		
		$success = true;
		
		// see if we've already done it
		$query = "select count(*) from company_orderflow_onstep where orderid = '$orderid' and step = '$step'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR><BR>$query";exit();}
		list($alreadydone) = mysql_fetch_array($q2ok);
		
		if($alreadydone <= 0)
		{
			echo "HANDLING ORDER: $orderid [$invoiceid] STEP: $step\n";
			
			$query = "insert into company_orderflow_onstep(orderid, step) values('$orderid', '$step')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR><BR>$query";exit();}
		
			// let's do it!
			$query = "select email, emailid, authorize, capture, charge, script, failure, success, manual from company_orderflow where step = '$step'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR><BR>$query";exit();}
			list($email, $emailid, $authorize, $capture, $charge, $script, $onfailure, $onsuccess, $manual) = mysql_fetch_array($q2ok);
			
			$emailaddr = $emc->getEmailAddress($invoiceid);
			
			if(intval($email) > 0 && stristr($emailaddr, "@"))
			{
				$query = "select id from email_block where invoiceid = '$invoiceid' and templateid = '$emailid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR><BR>$query";exit();}
				
				if(mysql_num_rows($q2ok) <= 0)
				{// never been sent before?
					
					if(strtoupper($clickid) == "EB")
					{
						$ebayswap = $efc->getConfigValue("eFluent Settings", "eBayEmailSwap");
						
						if($ebayswap != "")
						{
							$emparts = explode(":", $ebayswap);
							
							if($emparts[0] == $emailid)
							{
								echo "EBAY SWAP: $ebayswap\n";
								echo "SWAPPING EMAIL TEMPLATES ($ebayswap)\n";
								$emailid = $emparts[1];
							}
						}
						 
						$ebayswap = $efc->getConfigValue("eFluent Settings", "eBayEmailSwap2");
						
	
						if($ebayswap != "")
						{
							$emparts = explode(":", $ebayswap);
							
							if($emparts[0] == $emailid)
							{
								echo "EBAY SWAP2: $ebayswap\n";
								echo "SWAPPING EMAIL TEMPLATES ($ebayswap)\n";
								$emailid = $emparts[1];
							}
						}
					}
					
					echo "... sending email -> sendEmailFromTemplate($invoiceid, $emailid)";
						$result = $efc->sendEmailFromTemplate($invoiceid, $emailid, $emc, $mail, $sendinvoice);
					echo "...  $result\n";
					
					
					$query = "insert into email_block(invoiceid, templateid) values('$invoiceid', '$emailid')";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR><BR>$query";exit();}
				}
				else 
				{
					echo "... EMAIL BLOCKED!\n";	
				}
			}
			
			$gc_amount = 0;
			
			if($authorize == 1 || $capture == 1 || $charge == 1)
			{// then we gotta do some billing
				echo ".... billing\n";
				
				$approved = 0;
				
				if($charge == 1) $ttype = 1; // sale
				if($authorize == 1 && $capture == 1) $ttype = 1; // sale
				if($authorize == 1)	$ttype = 2; // authorize
				if($capture == 1) $ttype = 3;
				
				// see which processor we are supposed to use
				$processor = $efc->getConfigValue("General Settings", "DefaultCC");
				
				
				echo " ... TTYPE: $ttype PROCESSOR: $processor\n";
				////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				$query = "select acctid, ip_addr, invoiceid, bid, bill2name, bill2street1, bill2street2, bill2city, bill2state, 
							bill2zip, bill2country, emailaddr, ship2name, ship2street1, ship2street2, ship2city, ship2state, 
							ship2zip, ship2country from customer_orders where orderid = '$orderid'";
				
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
				list($acctid, $ip_addr, $invoiceid, $bid, $bill2name, $bill2street1, $bill2street2, $bill2city, $bill2state, 
						$bill2zip, $bill2country, $emailaddr, $ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state,
						$ship2zip, $ship2country) = mysql_fetch_array($qok);
				
				$capturedbalance = $efc->getCapturedBalance($orderid, 0);
				//$capturedbalance = $efc->getOrderBalance($orderid, 0, 1);
				
				echo "... AMOUNT REMAINING BALANCE [NON CAPT]: $capturedbalance\n";
				
				if($capturedbalance <= 0)
				{// no balance left?
					
					// see if there's any google shit left
					$query = "select amount from customer_payments where pname = 'Google Checkout' and orderid = '$orderid' and status = '2'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
					list($gc_amount) = mysql_fetch_array($qok);
						
					// there's pending google shit?	
					if(floatval($gc_amount) > 0) // see if that balance left is google checkout remaining
					{
						$ttype = 1; // charge
						$processor = "gc"; // google checkout
						REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
					}					
					else 
					{
						$success = true;
						$efc->logAction("SUCCESS", "2", $orderid, "Balance <= 0.00 on billing step... moving to success", "Balance <= 0.00 on billing step... moving to success");
					}
				}
				else // there's a balance left
				{
					///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there are any pending payments [ new feature to use multiple cards for a order.... includes google checkout ]
					$query = "select id, pname, amount, bid from customer_payments where bid > 0 and orderid = '$orderid' and status = '2'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
					if(mysql_num_rows($q2ok) > 0)
					{// pending payments order
						
						echo "PENDING PAYMENTS ORDER...\n";
						
						while(list($upid, $pname, $amount, $bid) = mysql_fetch_array($q2ok))
						{
							$processor = $efc->reverse_getProcessor($pname);
							
							$query = "select exp1a, exp1b, cvv, issuingbank, issuingphone from customer_billinginfo where id = '$bid'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
							list($exp1a, $exp1b, $cvv, $issuingbank, $issuingphone) = mysql_fetch_array($qok);
							
							// $c & $e will only be used to decrypt the card in the event that the cardnum is not a num (below)
							$query = "select c, e from customer_billinginfo_extended where bid = '$bid'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
							list($c, $e) = mysql_fetch_array($qok);
						
							$names = explode(" ", $bill2name);
							
							$fname = $names[0];
							$lname = $names[ count($names) -1  ];
							
							// decrypt the card	using the bid
							$cardnum = $efc->decrypt( $efc->pem2der($c), "", $efc->pem2der($e));
							
							echo "PMTID: $upid PROCESSOR: $processor ($pname) CARDNUM: $cardnum EXP1A: $exp1a EXP1B: $exp1b AMOUNT: $amount\n";
							
							// delete the pending payment
							$query = "delete from customer_payments where id = '$upid'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
							
							//$amount = $efc->getOrderBalance($orderid, 0);
							
							//if($amount > 0)
							{
								if($ttype == 1)
									$save_txtype = "SALE";
								else if($ttype == 2)
									$save_txtype = "AUTH";
								else if($ttype == 3)
									$save_txtype = "CAPT";
								else if($ttype == 5)
									$save_txtype = "REFUND";			
								////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								
								echo "... save_txtype = '$save_txtype'\n";
								
								//$approved = 1;
								REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
							}
						}
						
						$balance = $efc->getOrderBalance($orderid, 0); // get the balance including auth's and capt's but not Google Checkout
						
						echo "REMAINING BALANCE: $balance\n";
						
						$success = false; // default to failure
						
						if($balance > 0) // balance left
						{
							$query = "select amount from customer_payments where pname = 'Google Checkout' and orderid = '$orderid'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
							list($gc_amount) = mysql_fetch_array($qok);
							
							if(floatval($gc_amount) == floatval($balance)) // see if that balance left is google checkout remaining
							{
								$ttype = 1; // charge
								$processor = "gc"; // google checkout
								REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
							}
						}
						else 
						{// YAY!  No Balance, No Google Checkout
							echo "YAY!  No Balance, No Google Checkout\n";
							
							$success = true;
						}
						
						// 
					}
					else if(intval($bid) > 0)
					{
						// make sure there isn't a google checkout here
						$query = "select amount from customer_payments where pname = 'Google Checkout' and orderid = '$orderid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
						list($gc_amount) = mysql_fetch_array($qok);
							
						if(floatval($gc_amount) > 0) // see if that balance left is google checkout remaining
						{
							$ttype = 1; // charge
							$processor = "gc"; // google checkout
							REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
						}
						else 
						{
							if($ttype == 3) // capture multiple payments bug fix
							{
								echo "!!!!!! MULTIPAYMENT CAPTURE BUGFIX !!!!!!!\n";
								
								$query = "select bid from customer_payments where orderid = '$orderid' and txtype = 'AUTH'";
								if(!$q2b = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
								
								while(list($bid) = mysql_fetch_array($q2b))
								{
									$query = "select exp1a, exp1b, cvv, issuingbank, issuingphone from customer_billinginfo where id = '$bid'";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
									list($exp1a, $exp1b, $cvv, $issuingbank, $issuingphone) = mysql_fetch_array($qok);
									
									// $c & $e will only be used to decrypt the card in the event that the cardnum is not a num (below)
									$query = "select c, e from customer_billinginfo_extended where bid = '$bid'";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
									list($c, $e) = mysql_fetch_array($qok);
								
									$names = explode(" ", $bill2name);
									
									$fname = $names[0];
									$lname = $names[ count($names) -1  ];
									
									// decrypt the card	using the bid
									$cardnum = $efc->decrypt( $efc->pem2der($c), "", $efc->pem2der($e));
									
									echo "CARDNUM: $cardnum EXP1A: $exp1a EXP1B: $exp1b\n";
									
									$amount = $efc->getOrderBalance($orderid, 0);
									
									//if($amount > 0)
									{
										if($ttype == 1)
											$save_txtype = "SALE";
										else if($ttype == 2)
											$save_txtype = "AUTH";
										else if($ttype == 3)
											$save_txtype = "CAPT";
										else if($ttype == 5)
											$save_txtype = "REFUND";			
										////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
										
										echo "... save_txtype = '$save_txtype'\n";
										
										//$approved = 1;
										REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
									}
																				
									if($approved == 1)
										$success = true;
									else 
										$success = false;	
								}
							}
							else 
							{
								$query = "select exp1a, exp1b, cvv, issuingbank, issuingphone from customer_billinginfo where id = '$bid'";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
								list($exp1a, $exp1b, $cvv, $issuingbank, $issuingphone) = mysql_fetch_array($qok);
								
								// $c & $e will only be used to decrypt the card in the event that the cardnum is not a num (below)
								$query = "select c, e from customer_billinginfo_extended where bid = '$bid'";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
								list($c, $e) = mysql_fetch_array($qok);
							
								$names = explode(" ", $bill2name);
								
								$fname = $names[0];
								$lname = $names[ count($names) -1  ];
								
								// decrypt the card	using the bid
								$cardnum = $efc->decrypt( $efc->pem2der($c), "", $efc->pem2der($e));
								
								echo "CARDNUM: $cardnum EXP1A: $exp1a EXP1B: $exp1b\n";
								
								$amount = $efc->getOrderBalance($orderid, 0);
								
								//if($amount > 0)
								{
									if($ttype == 1)
										$save_txtype = "SALE";
									else if($ttype == 2)
										$save_txtype = "AUTH";
									else if($ttype == 3)
										$save_txtype = "CAPT";
									else if($ttype == 5)
										$save_txtype = "REFUND";			
									////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									
									echo "... save_txtype = '$save_txtype'\n";
									
									//$approved = 1;
									REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
								}
																			
								if($approved == 1)
								{
									$success = true;
									
									$query = "update customer_billinginfo set cvv = '' where id = '$bid'";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
								}
								else 
									$success = false;
							}
						}
					}
					else 
					{
						$query = "select amount from customer_payments where pname = 'Google Checkout' and orderid = '$orderid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
						list($gc_amount) = mysql_fetch_array($qok);
							
						if(floatval($gc_amount) > 0) // see if that balance left is google checkout remaining
						{
							$ttype = 1; // charge
							$processor = "gc"; // google checkout
							REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
						}
						else 
						{
							$success = false;
							$efc->logAction("SUCCESS", "2", $orderid, "Flow Error - No credit card associated with order", "Flow Error - No credit card associated with order");
						}
					}
				}
				
			}
			
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// see if there's any scripting
			if($script == 1)
			{
				echo " ... executing script (STEP: $ofid)\n";
				$query = "select script from company_orderflow_scripts where ofid = '$ofid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
				list($script) = mysql_fetch_array($qok);
				
				echo $script."\n";
				
				$newstatus = 0;
				eval($script);
				
				if(intval($newstatus) > 0)
				{
					echo " ... updating script status\n";
					$query = "update customer_orders set status = '$newstatus' where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
					
				}
			}
			
			if($manual == 1 || $complete == 1)
			{
				if($manual == 1)
					echo "Manual Step - Not modifying\n";
				else if($complete == 1)
					echo "COMPLETE STEP - Not Modifying\n";
				
			}
			else 
			{
				if(intval($onsuccess) > 0 && $success == true)
				{
					if(floatval($gc_amount) > 0)
					{
						$flowtext = "OrderFlow Pending Google Payment...... not modifying (waiting on callback)";
						$efc->logAction("SUCCESS", "2", $orderid, $flowtext, $flowtext);
					}
					else 
					{
						echo " ... SUCCESS!  UPDATING ORDER TO: $onsuccess\n";
						$query = "update customer_orders set status = '$onsuccess' where orderid = '$orderid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
						
						$efc->recalculateInventory($orderid);
						
						$flowtext = "OrderFlow SUCCESS STEP Changed Status to ".$efc->lookupOrderStatus($onsuccess)." from ".$efc->lookupOrderStatus($step);
						$efc->logAction("SUCCESS", "2", $orderid, $flowtext, $flowtext);
					}
				}
				else if(intval($onfailure) > 0 && $success == false) 
				{
					
					echo " ... FAILURE!  UPDATING ORDER TO: $onfailure\n";
					$query = "update customer_orders set status = '$onfailure' where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
						
					$efc->recalculateInventory($orderid);
						
					$flowtext = "OrderFlow FAILURE STEP Changed Status to ".$efc->lookupOrderStatus($onfailure)." from ".$efc->lookupOrderStatus($step);
					$efc->logAction("SUCCESS", "2", $orderid, $flowtext, $flowtext);
				}
			}
			
			$tstamp = date("Y-m-d H:i:s", time());
			$query = "insert into update_pool(type, updateid, tstamp) values('2', '$orderid', '$tstamp')";
			if(!$qxok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
			
		}
		
		
	}
	
	//
	echo "-----------------------------------\n";
	echo "Doing Credits\n";
	
	$query = "select invoiceid, orderid, total, bill2name from customer_orders where otype = 'CREDIT' and status = '3'";
	if(!$q1932ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
	while(list($invoiceid, $orderid, $amount, $bill2name) = mysql_fetch_array($q1932ok))
	{
		echo "Doing => $invoiceid [$orderid]\n";
		
		$query = "select parentid from customer_orders where orderid = '$orderid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($parentid) = mysql_fetch_array($q2ok);

		$query = "select bid from customer_orders where orderid = '$parentid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($tbid) = mysql_fetch_array($q2ok);
	
		$balance = $efc->getOrderBalance($orderid, 0); // get the balance including auth's and capt's but not Google Checkout
						
		echo "REMAINING BALANCE: $balance\n";
						
		$success = false; // default to failure
						
		if($balance > 0) // balance left
		{
			$query = "select exp1a, exp1b, cvv, issuingbank, issuingphone from customer_billinginfo where id = '$tbid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
			list($exp1a, $exp1b, $cvv, $issuingbank, $issuingphone) = mysql_fetch_array($qok);
						
			// $c & $e will only be used to decrypt the card in the event that the cardnum is not a num (below)
			$query = "select c, e from customer_billinginfo_extended where bid = '$bid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
			list($c, $e) = mysql_fetch_array($qok);
					
			$names = explode(" ", $bill2name);
			
			$fname = $names[0];
			$lname = $names[ count($names) -1  ];
							
				// decrypt the card	using the bid
			$cardnum = $efc->decrypt( $efc->pem2der($c), "", $efc->pem2der($e));
										
			$ttype = 5; // refund
			$save_txtype = "REFUND";
			$processor = $efc->getConfigValue("General Settings", "DefaultCC");
			
			// see if there's only 1 captured charge.... if so use the txid
			$query = "select count(*) from customer_payments where orderid = '$parentid' and txtype = 'CAPT' and status = '1' and voided = '0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
			list($numcaps) = mysql_fetch_array($qok);
			
			if(intval($numcaps) == 1)
			{
				echo "...... has 1 capture\n";
				
				$query = "select txid from customer_payments where orderid = '$parentid' and txtype = 'CAPT' and status = '1' and voided = '0'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
				list($usetxid) = mysql_fetch_array($qok);
				
				$amount = $amount * -1; // convert the negative credit amount into a positive amount for the processor
				$txid = "$usetxid:QCREDIT:$parentid";
				
				REQUIRE($ROOT_DIR."/mgt/b/billing_code.phtml");
				
				if($approved == 1) $success = true;		
				else $success = false;	
			}
			else 
			{
				echo "...... $numcaps Captures..... aborting\n";
			}
			
		}
		else 
		{// YAY!  No Balance, No Google Checkout
			echo "YAY!  No Balance\n";
			$success = true;
		}

		if($success)
		{
			echo "......Success\n";
			
			$query = "update customer_orders set status = '5' where orderid = '$orderid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
		}
		else 
		{// failure
			echo "......Failure\n";
			
			$query = "update customer_orders set status = '4' where orderid = '$orderid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
			
		}
			
	}
	
	echo "SLEEPING FOR 15\n";
	sleep(15);
}

?>