<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
	<TITLE>Items out of stock but vizible</TITLE>
	<meta http-equiv="Content-Style-Type" content="text/css">
	<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
	<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
	<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
	<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<table width="99%" id="results" class="sortable">
		<tbody>
		<tr bgcolor="#eeeeee">
			<td height="21" align="center" valign="middle"><b>PID</b></td>
			<td height="21" align="center" valign="middle"><b>Product name</b></td>
		</tr>
		<?php
		$query = "SELECT product_list.id, product_list.descr AS title, SUM(product_inventory.inv_available), SUM(product_sourcing.qty)
				  FROM product_list
				  LEFT JOIN product_inventory
				  ON product_list.id=product_inventory.id
				  LEFT JOIN product_sourcing
				  ON product_list.id=product_sourcing.pid
				  AND product_sourcing.stealth = '0'
				  WHERE product_list.visible = '1'
				  GROUP BY product_list.id
				  ORDER BY product_list.id ASC";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }
		while (list($pid,$title,$inv_available,$qty) = mysql_fetch_array($qok)):
			if (($inv_available == 0 || $inv_available == NULL) && ($qty == 0 || $qty == NULL)):
/*
				$query_update = "UPDATE product_list
								 SET visible='0'
								 WHERE id='$pid'
								 LIMIT 1";
				if(!$qok_update = mysql_db_query($DB, $query_update, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }
*/
				?>
				<tr>
					<td align="center"><?php echo $pid; ?></td>
					<td align="center"><?php echo $title; ?></td>
				</tr>
				<?php
			endif;
		endwhile;
		?>
		</tbody>
		</table>

	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>