<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

$xbdate = strtotime("12/01/2012 00:00:00");
$xedate = strtotime("12/31/2012 23:59:59");

$addon = " AND (customer_orders.ship2state = 'CA' OR customer_orders.ship2state = 'California') ";

if(intval($status) > 0) { $addon_status = " AND company_orderflow.step = '$status'"; }

// fix orders that have no complete date
$query = "SELECT customer_orders.orderid,customer_orders.otype, customer_orders.invoiceid, customer_orders.ship2name, customer_orders.ship2zip, customer_orders.ship2state, customer_orders.completedate, customer_orders.subtotal, customer_orders.shipping, customer_orders.tax, customer_orders.total
		  FROM customer_orders
		  LEFT JOIN company_orderflow_onstep ON customer_orders.orderid = company_orderflow_onstep.orderid
		  AND customer_orders.status = company_orderflow_onstep.step
		  LEFT JOIN company_orderflow ON customer_orders.status = company_orderflow.step $addon_status
		  WHERE customer_orders.otype = 'INVOICE'
		  AND customer_orders.completedate >= '$xbdate'
		  AND customer_orders.completedate <= '$xedate'
		  AND company_orderflow.complete = 1 $addon";

//echo "\n<!-- QUERY: $query -->\n";
if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($orderid,$otype, $invoiceid, $ship2name, $ship2zip, $ship2state, $orderdate, $subtotal, $shipping, $tax, $total) = mysql_fetch_array($q313ok))
{// all of these orders are complete without a completedate..... so, let's compute it for'em
    
    $qx = "SELECT customer_order_lines.prodid from customer_order_lines,custom_values where customer_order_lines.orderid='$orderid' AND customer_order_lines.prodid=custom_values.pid AND custom_values.cfid='47' and custom_values.text_short='1'";
	if(!$q313okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	if(mysql_num_rows($q313okx)>0) 
	{
	    $credit_amount = 0.00;
	    $q_verify_creditam = "SELECT credit_amount
									FROM customer_credits_log
									WHERE orderid = '$orderid'
									ORDER BY lastupdate DESC
									LIMIT 1";
		if(!$qok_verify_creditam = mysql_db_query($DB, $q_verify_creditam, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
		if (mysql_num_rows($qok_verify_creditam) > 0)
		{
			list($credit_amount) = mysql_fetch_array($qok_verify_creditam);
		}
		
		$realtotal = $subtotal + $tax + $shipping - $credit_amount;
		
		if(floatval($realtotal) != floatval($total))
		{
			$realtax = floatval($total - $realtotal);
			
			echo "[$invoiceid]<BR>";
			echo "...Subtotal: $subtotal<BR>";
			echo "...     Tax: $tax<BR>";
			echo "...Shipping: $shipping<BR>";
			echo "...  Credit: $credit_amount<BR>";
			echo "... Changing $total to $realtotal Tax to $realtax<BR>";	
		}						
	}
			
	//$query = "update customer_orders set tax = 0, total = '$newtotal' where invoiceid = '$invoiceid'";
	//if(!$qokx = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
}
?>
	
