<?php
set_time_limit(0);
$ROOT_DIR = $argv[1];
if($ROOT_DIR == "")
{
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
	exit;
}
//$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$out = fopen($ROOT_DIR . '/googleshopping/google_shopping_export.txt', 'w');
//$out = fopen('php://output', 'w');

fputcsv($out, array('id','title','description','price','link','image_link','availability','condition','brand','gender','gtin','shipping(price)'),"\t");
$query = "SELECT DISTINCT(pl.id), pl.descr, pl.upccode, pd.data, pp.price_level1, pp.instock, pm.manname
		  FROM product_list pl
		  JOIN product_descr pd ON pd.id = pl.id
		  JOIN product_prices pp ON pp.id = pl.id
		  JOIN product_manufacturers pm ON pm.manid = pl.manid
		  WHERE pl.visible = '1'
		  ORDER BY pl.id ASC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($qok) > 0)
{
	while (list($pid, $title, $upc, $descr, $pl1, $instock, $manname) = mysql_fetch_array($qok))
	{
		$title = strip_tags(stripslashes($title));
		$title = trim(preg_replace('/(\r\n|\r|\n|\t)+/', ' ', $title));
		$title = utf8_encode($title);
		$descr = strip_tags(stripslashes($descr));
		$descr = trim(preg_replace('/(\r\n|\r|\n|\t)+/', ' ', $descr));
		$descr = utf8_encode($title);
		$price_level1 = sprintf('%.2f',$pl1);
		$prod_url = 'http://www.therawfoodworld.com/' . createProductNewUrl($pid,$title);
		$prod_img_url = 'http://www.therawfoodworld.com/getimage.phtml?id=' . $pid . '&itype=0&thumb=0';
		$instock = (empty($instock) || $instock < 1) ? 'out of stock' : 'in stock';
		if (empty($manname)) { $manname = 'The Raw Food World'; }
		
		if (empty($pid) || $title == '' || $descr == '' || empty($upc))
		{
			continue;
		}
		
		if ($pl1 == 0)
		{
			$rate_us = 0.00;
		}
		if($pl1<=48.94 && $pl1 >0) 
		{
        	$rate_us = 8.85;
        }
        if($pl1>48.94 && $pl1<=120) 
        {
        	$rate_us = 10.85;
		}
        if($pl1>120 && $pl1<=179) 
        {
        	$rate_us = 15.40;
		}
        if($pl1>179 && $pl1<=295) 
        {
        	$rate_us = 19.40;
		}
        if($pl1>295 && $pl1<=10000) 
        {
        	$rate_us = 24.00;
		}
		
		fputcsv($out, array($pid,$title,$descr,$price_level1.' USD',$prod_url,$prod_img_url,$instock,'new',$manname,'unisex',$upc,$rate_us.' USD'),"\t");
	}
}
fclose($out);

/**
 * What it does:
 * - solves accents for latin languages
 * - leaves only alphanumeric
 * - turns spaces to hyphens
 * - to lowercase
 * - remove duplicate hyphens
 */
function buildNiceUrls($str)
{
	$url = strtolower(strtr(preg_replace('/[^a-zA-Z0-9-\s]/', '', iconv('UTF-8', 'ASCII//TRANSLIT', $str)), ' ', '-'));
	$url = preg_replace('/-+/', '-', $url);
	return $url;
}

function createProductNewUrl($pid,$title)
{
	$url = buildNiceUrls($title) . '-pi' . $pid;
	return $url;
}

/*	
XML example

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
  <channel>
    <title>My Shop</title>
    <link>http://www.myshop.com</link>
    <description>About My Shop</description>
    <item>
      <g:id>n2610</g:id>
      <title><![CDATA[Nokia 2610 Phone]]></title>
      <description><![CDATA[The Nokia 2610 is an easy to use device that combines multiple messaging options including email, instant messaging, and more. You can even download MP3 ringtones, graphics, and games straight to the phone, or surf the Internet with Cingular's MEdia Net service. It's the perfect complement to Cingular service for those even remotely interested in mobile Web capabilities in an affordable handset. Design Compact and stylish, the 2610 features a candybar design sporting a bright 128 x 128 pixel display capable of displaying over 65,000 colors. Most of the phone's features and on-screen menus are controlled by a center toggle on the control pad. A standard hands-free headphone jack is provided, as are volume control keys, and there's even a "Go-To" button that can be assigned by the user for quick access to favorite applications. Lastly, the included speakerphone allows you to talk handsfree, and because the phone sports an internal antenna, there's nothing to snag or break off.]]></description>
      <g:google_product_category></g:google_product_category>
      <g:product_type><![CDATA[Cell Phones]]></g:product_type>
      <link><![CDATA[http://demo.wexto.com/index.php/nokia-2610-phone.html]]></link>
      <g:image_link><![CDATA[http://demo.wexto.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/n/o/nokia-2610-phone-2.jpg]]></g:image_link>
      <g:condition>new</g:condition>
      <g:price>149.9900 EUR</g:price>
      <g:gtin></g:gtin>
      <g:mpn><![CDATA[]]></g:mpn>
      <g:shipping_weight>3.2000</g:shipping_weight>
      <g:shipping>
        <g:country>FR</g:country>
        <g:service>Standard</g:service>
        <g:price>5.95</g:price>
      </g:shipping>
      <g:availability>in stock</g:availability>
    </item>
    <item>
      <g:id>bb8100</g:id>
      <title><![CDATA[BlackBerry 8100 Pearl]]></title>
      <description><![CDATA[Like the BlackBerry 7105t, the BlackBerry 8100 Pearl is The BlackBerry 8100 Pearl sports a large 240 x 260 screen that supports over 65,000 colors-- plenty of real estate to view your e-mails, Web browser content, messaging sessions, and attachments. The venerable BlackBerry trackwheel has been replaced on this model with an innovative four-way trackball placed below the screen. On the rear of the handheld, you'll find a 1.3-megapixel camera and a self portrait mirror. The handheld's microSD memory card slot is located inside the device, behind the battery. There's also a standard 2.5mm headset jack that can be used with the included headset, as well as a mini-USB port for data connectivity.]]></description>
      <g:google_product_category></g:google_product_category>
      <g:product_type><![CDATA[Cell Phones]]></g:product_type>
      <link><![CDATA[http://demo.wexto.com/index.php/blackberry-8100-pearl.html]]></link>
      <g:image_link><![CDATA[http://demo.wexto.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/l/blackberry-8100-pearl-2.jpg]]></g:image_link>
      <g:condition>new</g:condition>
      <g:price>349.9900 EUR</g:price>
      <g:gtin></g:gtin>
      <g:mpn><![CDATA[]]></g:mpn>
      <g:shipping_weight>15.2000</g:shipping_weight>
      <g:shipping>
        <g:country>FR</g:country>
        <g:service>Standard</g:service>
        <g:price>5.95</g:price>
      </g:shipping>
      <g:availability>in stock</g:availability>
    </item>
  </channel>
</rss>
*/