<?
set_time_limit(-1);

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: snd_postorder.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$poststring = "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>
<Orders>
<Order>
<header>
<accountInfo>
<LoginEmail>yancey@efluent.com</LoginEmail>
<LoginPassword>abc123</LoginPassword>
</accountInfo>
<OrderInfo>
<OrderNumber>SDP114</OrderNumber>
<OrderDate>2/23/2012 11:31:00 AM</OrderDate>
<SubTotal>28.98</SubTotal>
<Shipping>0</Shipping>
<ShipMethod>Ground</ShipMethod>
<Tax>2.571975</Tax>
<Referer></Referer>
</OrderInfo>
<AddressInfo>
<BillToFName>Yancey</BillToFName>
<BilltoLname>Yeatts</BilltoLname>
<BillToAddress1>123 A. Street</BillToAddress1>
<BilltoAddress2></BilltoAddress2>
<BilltoCity>Biloxi</BilltoCity>
<Billtostate>MS</Billtostate>
<BilltoZip>39532</BilltoZip>
<BilltoEmail></BilltoEmail>
<ShipToFname>Yancey</ShipToFname>
<ShipToLname>Yeatts</ShipToLname>
<ShipToAddress1>123 A. Street</ShipToAddress1>
<ShipToAddress2></ShipToAddress2>
<ShipToCity>Biloxi</ShipToCity>
<ShipToState>MS</ShipToState>
<ShipToZip>39532</ShipToZip>
<BillToPhone>2282337772</BillToPhone>
<ShiptoPhone>2282337772</ShiptoPhone>
<BillCountry>US</BillCountry>
<ShipCountry>US</ShipCountry>
<BilltoPhone2>2282337772</BilltoPhone2>
<ShipToPhone2>2282337772</ShipToPhone2>
</AddressInfo>
<ccInfo>
<CCNAMe>Bogus Card</CCNAMe>
<CCNumber>5263400273994197</CCNumber>
<CCType>mastercard</CCType>
<ccMonth>04</ccMonth>
<ccYear>2016</ccYear>
<cvv>432</cvv>
</ccInfo>
</header>
<lineItems>
<lineItem>
<ItemSku>29134</ItemSku>
<Item_MfgCode>364602-2T</Item_MfgCode>
<Title>Carters Boys 2T-4T Rugby Pant Set  (2T)</Title>
<Qty>1</Qty>
<Price>19.99</Price>
</lineItem>
<lineItem>
<ItemSku>24801</ItemSku>
<Item_MfgCode>357900-10</Item_MfgCode>
<Title>French Toast Boys 8-20 Fleece Pant (Navy - 10)</Title>
<Qty>1</Qty>
<Price>8.99</Price>
</lineItem>
</lineItems>
</Order>
</Orders>";

////////////////////////////////////////////////////////////////////////////////////////////
//$url = "http://209.213.121.146/e2_live_report.phtml";
$url = "http://rp.sndkids.com:6754/inComing/receieve.ashx";

$ch = curl_init();    // initialize curl handle 
curl_setopt($ch, CURLOPT_URL,$url); // set url to post to 
curl_setopt($ch, CURLOPT_FAILONERROR, 1); 
curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1);// allow redirects 
curl_setopt($ch, CURLOPT_RETURNTRANSFER,1); // return into a variable 
curl_setopt($ch, CURLOPT_TIMEOUT, 120); // times out after 120s 
curl_setopt($ch, CURLOPT_POST, 1); // set POST method 
curl_setopt($ch, CURLOPT_POSTFIELDS, $poststring); // add POST fields 
$reportinfo = curl_exec($ch); // run the whole process 
curl_close($ch); 
////////////////////////////////////////////////////////////////////////////////////////////

echo $reportinfo;
?>
