<?
ini_set('display_errors',1);
error_reporting(E_ALL);

set_magic_quotes_runtime (1);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

/*if(intval($pid) <= 0)
{
	echo "usage => test_reprice.phtml?pid=XXXX";
	exit;
}*/


$efc->vendorUpdatePrice("", "$pid");

exit;

				$query = "select sum(inv_available) from product_inventory where id = '$pid' ";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($local_inventory) = mysql_fetch_array($qok);
				
				if($local_inventory > 0)exit;
				
				// not in local inventory, find the vendor with it in stock, with lowest cost
				
				$vendorPricing = $efc->getLowestVendorPriceWithFee($pid);
				
				if(count($vendorPricing) <= 0)
					exit;
				
				$sid = $vendorPricing['sid'][0];
				$cost = $vendorPricing['cost'][0];
				$oprice = $vendorPricing['oprice'][0];
				$vendorid = $vendorPricing['vendorid'][0];
				$feeaddon = $vendorPricing['feeaddon'][0];
				
				//$query = "update product_sourcing set basecost = 1 where sid = '$sid'";
				//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				if($oprice > 0) // shoulda done oprice1-9
				{
					$query = "update product_prices set
								price_level1 = '$oprice', price_level2 = '$oprice', price_level3 = '$oprice', price_level4 = '$oprice', price_level5 = '$oprice',
								price_level6 = '$oprice', price_level7 = '$oprice',	price_level8 = '$oprice', price_level9 = '$oprice'
								where id = '$pid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					$msg = "PID: $pid LOWEST VENDOR: $vendorid OVERRIDE_PRICE => $oprice";
					
					$efc->logAction("SUCCESS", 1, $pid, $msg, $msg);
					
					exit;
				}
				else 
				{
					$query = "select shipweight from product_list where id = '$pid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($shipweight) = mysql_fetch_array($qok);
					
					$query = "select data from vendor_markup_rules where vendorid = '$vendorid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($phpcode) = mysql_fetch_array($qok);
					
					$phpcode = str_replace("\\", "", $phpcode);
					
					eval($phpcode);
					
					if($markuprules != "")
					{
						$myprice = "";
						
						////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						$mlines = explode("~", $markuprules);
											
						
						$myaddon = 0;
						for($za = 0; $za < count($mlines); $za++)
						{
							if($mlines[$za] != "")
							{
								list($prmin, $prmax, $prmarkup, $praddon, $prminprofit, $prtype, $fee) = explode(";", $mlines[$za]);

								if(intval($fee) == 0)
								{
									echo "<font color='#ff0000'><B>RULE: PR_MIN: $prmin, PR_MAX: $prmax, PR_MARKUP: $prmarkup, PR_ADDON: $praddon, PR_MIN: $prminprofit, PR_TYPE: $prtype, PR_FEE: $fee</B></font><BR>";
									
									if ( ($cost >= $prmin) && ($cost <= $prmax) && (strtolower($prtype) == "cost")  ||
									     ($shipweight >= $prmin) && ($shipweight <= $prmax) && (strtolower($prtype) == "weight")  )
									{
										echo "MATH => $myaddon + ( $cost * ($prmarkup / 100) ) + floatval($praddon)\n<BR>";
										$myaddon = $myaddon + ( $cost * ($prmarkup / 100) ) + floatval($praddon);
										$myprice = $myaddon + $cost;
									
										echo "MYPRICE: $myprice\n<BR>";
										echo "MYADDON: $myaddon\n<BR>";
										
										if( floatval($prminprofit) > 0 ) // if they set it.... make sure they got it
										{
											$profit = $myprice - $cost;
			
											if($profit < $prminprofit)
											{
												echo "... MINPROFIT CALC\n<BR>";
												$myaddon = $myaddon + ($prminprofit - $profit);
												$myprice = $myprice + ($prminprofit - $profit);
											}
										}
										
										$msg = "VendorID: $vendorid FEE: $feeaddon Price Change (Formula C) [NEW PRICE: $myprice] TYPE: $prtype ";
										$msg .= " COST: $cost + FEE: $feeaddon SHIPWEIGHT: $shipweight MIN: $prmin ";
										$msg .= "MAX: $prmax MARKUP: $prmarkup ADDON: $praddon MINPROFIT: $prminprofit ";
										
										echo $msg."\n<BR>";
										$efc->logAction("SUCCESS", "1", $pid, $msg, $msg);
										
									} // if ( ($cost >= $prmin) && ($cost <= .....
									else 
									{
										echo "... (COST: $cost >= PRMIN: $prmin) && (COST: $cost <= PRMAX: $prmax) && ($prtype == 'cost') ";
										echo "  OR (SHIPWEIGHT: $shipweight >= PRMIN: $prmin) && (SHIPWEIGHT: $shipweight <= PRMAX: $prmax) && ($prtype == 'weight')<BR>";
									}
								}
								else 
								{
									// fees are added in on $efc->getLowestVendorPriceWithFee($pid) earlier
								}
							}
						////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						}
						
						echo "MYPRICE FINAL => $myprice\n";
						
						if(floatval($myprice) <= 0.00)
						{
							echo "NO PRICE\n";
							$this->logAction("SUCCESS", "1", $pid, "Formula C - Blank Price", "Formula C - Blank Price");
						}
						else 
						{
							$query = "update product_prices set
								price_level1 = '$myprice', price_level2 = '$myprice', price_level3 = '$myprice', price_level4 = '$myprice', price_level5 = '$myprice',
								price_level6 = '$myprice', price_level7 = '$myprice',	price_level8 = '$myprice', price_level9 = '$myprice'
								where id = '$pid'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
						
						
					} //if($markuprules != "")					
				} // else
?>
