<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE("$ROOT_DIR/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

REQUIRE($ROOT_DIR."/mgt/classes/emailmarketing.phtml");
$emc = new emailMarketingClass();
$emc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$emc->db = $DB;
$emc->url = $BASE_URL;

// 13

$emailparts = $emc->createInvoiceEmail("13", "BFP08801") ;

print_r($emailparts);
/*
$query = "select distinct(trackno) from customer_order_tracking_extended where orderid = '$on'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($trackno)= mysql_fetch_array($qok))
{
	$query = "select carrier, type from customer_order_tracking where trackno = '$trackno'"; 
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($carrier, $type) = mysql_fetch_array($q2ok);

	$query = "select config_value from configuration where config_group = 'Shipping Carriers' and config_key = '$carrier'";
	$q3ok = mysql_db_query($DB, $query, $mysqlid);
							
	if(mysql_num_rows($q3ok) > 0)
	{
		list($trackurl) = mysql_fetch_array($q3ok);
		$trackurl.=$trackno;
	}
	else 
	{
		$trackurl = "";
	}	
	?>
	<style>
	.gf{
		font-family:Tahoma;
		font-size:11px;
		color:#000000;
		line-height:13px;
	}
	</style>
	
	<table>
	<tr>
		<td style="border:1px #808080 solid">
		<!------------------------------------------------------------------------------------------------------------------------------------->
		
			<table>
			<tr>
				<td bgcolor="#eeeeee" class="gf"><B>Carrier:</B></td>
				<td bgcolor="#ffffff" class="gf"><?=strtoupper($carrier);?></td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee" class="gf"><B>Method:</B></td>
				<td bgcolor="#ffffff" class="gf"><?=strtoupper($type);?></td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee" class="gf"><B>Tracking#:</B></td>
				<td bgcolor="#ffffff" class="gf">
					<?if($trackurl != ""){ echo "<a href=\"$trackurl\" target=\"_new\">"; }?>
						<?=$trackno;?>
					<?if($url != ""){ echo "</a>"; }?>
				</td>
			</tr>
			</table>
			<table>
			<tr bgcolor="#eeeeee">
				<td align=center class="gf"><B>PID</B></td>
				<td align=center class="gf"><B>Man.</B></td>
				<td align=center class="gf"><B>Man. Part</B></td>
				<td align=center class="gf"><B>Description</B></td>
				<td align=right class="gf"><B>Ordered</B></td>
				<td align=right class="gf"><B>In-Box</B></td>
			</tr>
			<?	
			// for each tracking number..... find out what was in the box
			$query = "select customer_order_tracking_extended.prodid, count( customer_order_tracking_extended.tid ),
						 customer_order_lines.prodid, customer_order_lines.manname, customer_order_lines.manpart, 
						 customer_order_lines.descr, customer_order_lines.qty_ordered 
						 from 
						 customer_order_lines,
						 customer_order_tracking_extended 
						 where 
						 customer_order_lines.orderid = customer_order_tracking_extended.orderid AND
						 customer_order_lines.prodid = customer_order_tracking_extended.prodid AND
						 customer_order_tracking_extended.trackno = '$trackno' and 
						 customer_order_tracking_extended.orderid = '$on' group by customer_order_tracking_extended.prodid ";
			
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($prodid, $qty_shipped, $pid, $manname, $manpart, $descr, $qty_ordered)= mysql_fetch_array($q2ok))
			{
				?>
				<tr>
					<td align=center class="gf"><?=$pid;?></td>
					<td align=center class="gf"><?=$manname;?></td>
					<td align=center class="gf"><?=$manpart;?></td>
					<td align=center class="gf"><?=$descr;?></td>
					<td align=center class="gf"><?=$qty_ordered;?></td>
					<td align=center class="gf"><?=$qty_shipped;?></td>
				</tr>
				<?
			}
			?>
			</table>
	
		<!------------------------------------------------------------------------------------------------------------------------------------->
		</td>
	</tr>
	</table>
	<BR>
	<?
}
*/
?>