<?
// updates inventory based on warehouse values (this is the fix once excluded is added to the config

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");

set_time_limit(999999);

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query = "update product_prices set onhold = 0, committed = 0, instock = 0 where id = '73702'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	


$query = "select id from product_list where id = '73702'";
if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($pid) = mysql_fetch_array($q313ok))
{
	echo "DOING: $pid<BR>\n";
	
		//////////////////////////////////////////////////////////////////////////////////////////////////////
		$exclude = trim( $efc->getConfigValue("eFluent Settings", "ExcludeWarehouse") );
		$qaddon = "";
		if(stristr($exclude, ","))
		{
			$ex_whlist = explode(",", $exclude);
			
			for($pj = 0; $pj < count($ex_whlist); $pj++)
			{
				if($ex_whlist[$pj] != "")
					$qaddon .= " AND whid != '".$ex_whlist[$pj]."' ";
			}
		}
		else 
		{
			if($exclude != "")
				$qaddon= " AND whid != '$exclude'";
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////	
	// there's a warehouse to exclude...... 
	if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$pid' $qaddon";}
	else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$pid'";}
			
	echo "$query<BR>";
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($lqty, $lcost) = mysql_fetch_array($qok);
				
	$tcost = $lcost / $lqty;

	$query = "update product_prices set instock = '$lqty', avgcost = '$tcost' where id = '$pid'";
	
	echo "$query<BR>";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}


?>