<?
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

$ROOT_DIR = "/home/httpd/ecomelectronics.com";

REQUIRE("$ROOT_DIR/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


$query = "select product_list.id, product_sourcing.vpid
			from product_list, product_sourcing, product_images
			where
			product_list.id = product_sourcing.pid AND
			product_list.id = product_images.id AND
			product_sourcing.distid = '74' AND
			product_images.width = 0";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $vpid) = mysql_fetch_array($qok))
{
	$query = "select imageurl from vendor_product_images where id = '$vpid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($imagurl) = mysql_fetch_array($q2ok);
	
	echo "PID: $pid VPID: $vpid<BR>";
	echo "OUR IMAGE: <img src='/getimage.phtml?id=$pid&thumb=0'><BR>";
	echo "Vendor Image: <img src='$imageurl'><BR>";
	echo "<HR NOSHADE><BR>";
	
	
}
?>