<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$addon = $add_fields = $addontables=$having= "";

if ($not_listid != '') {
    $not_list_arr = explode(',',$not_listid);
    if (count($not_list_arr)>0) {
        foreach ($not_list_arr as $i) {
            if($i != '') {
                $addon .= " AND product_list.id NOT IN (select pid from list_products where lid = '$i' ) ";
            }
        }
    }
}
$sourcing_addtable="";
if(intval($disable_range) == 0) {
    if($bdate != "")
    {
//        $addon .=" AND product_list.id NOT IN(SELECT distinct(customer_order_lines.kitpid) FROM customer_order_lines,customer_orders WHERE customer_orders.orderdate >= '".strtotime("$bdate 00:00:00")."' AND customer_order_lines.orderid=customer_orders.orderid group by customer_order_lines.kitpid)";
        
        $sourcing_addtable .= " LEFT JOIN products_sourced_details ON product_list.id=products_sourced_details.pid";
//        $addon .=" AND product_sourcing.tstamp < '".date("Y-m-d H:i:s",strtotime("$bdate 00:00:00"))."'";
        $addon .= " AND products_sourced_details.last_tstamp < '".date("Y-m-d H:i:s",strtotime("$bdate 00:00:00"))."'";
    }
}
if($dropship == '1') {
    $addon .=" AND product_list.dropship='1'";
}
if($sourced == '1') {
    if($sourcing_addtable =='') {
        $sourcing_addtable .= " LEFT JOIN products_sourced_details ON product_list.id=products_sourced_details.pid";
    }
//    $addon .=" AND product_list.dropship='1'";
//    $add_fields .= " ,sum(product_sourcing.qty) as sourced_qty";
//    $having .=" HAVING sum(product_sourcing.qty)=0";
    $addon .= " AND products_sourced_details.total_qty=0";
}

if(intval($liveon) == 1) {
    $addontables .= " INNER JOIN products_liveon_skus ON product_list.id=products_liveon_skus.pid ";
}
elseif(intval($liveon) == 2) {
    $addontables .= " LEFT JOIN products_liveon_skus ON product_list.id=products_liveon_skus.pid ";
    $add_fields .= " ,products_liveon_skus.pid as pl_pid";
    $addon .= " AND products_liveon_skus.pid IS NULL";
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select distinct(product_list.id), product_manufacturers.manname, product_list.manpart, product_list.descr,
                product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock,
                product_list.visible, product_list.dropship, product_list.refurb 
            from
                product_list, product_manufacturers, product_prices $addontables
            where 
                product_list.manid = product_manufacturers.manid AND
                product_list.kit = 0 AND 
                product_list.id = product_prices.id 
                $addon 
                group by product_list.id
                $having $orderby";

$query = "select distinct(product_list.id), product_manufacturers.manname, product_list.manpart, product_list.descr,
                product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock,
                product_list.visible, product_list.dropship, product_list.refurb $add_fields
            from
                product_list
            LEFT JOIN product_manufacturers ON  product_list.manid = product_manufacturers.manid
            LEFT JOIN product_prices ON product_list.id = product_prices.id 
             $addontables
             $sourcing_addtable
            where 
                product_list.kit = 0
                $addon
                group by product_list.id
            $having
            ";

//$query = str_replace("\n", "", $query);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
//        exit();
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<!--<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>-->
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
    <tr>
        <td height="21">
           <?=number_format($totalnum,0);?> SKUs
        </td>
        <td align="right">
            <b>All:&nbsp;&nbsp;&nbsp;</b>
        </td>
        <td align="left">
            <a href="javascript:actionAll('remove')">Remove From List</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionAll('delete')">Delete</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionAll('mark')">Mark Not Visible</a>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
    <tr>
        <td height="21">
            <form name="peoptions" style="margin:0px">
                <input type="checkbox" name="checkall" onclick="checkUncheckAll(document.peoptions, document.pereport);">Select All SKUs
            </form>
        </td>
        <td align="right">
            <b>Checked:&nbsp;&nbsp;&nbsp;</b>
        </td>
        <td align="left">
            <a href="javascript:actionChecked('remove')">Remove From List</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionChecked('delete')">Delete</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionChecked('mark')">Mark Not Visible</a>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
        <td align=center height=21>&nbsp;</td>
	<td align=center height=21><b>ID</b></td>
	<td align=center><b>Man</b></td>
	<td align=center><b>ManPart</b></td>
	<td align=center><b>Title</b></td>
	<td align=center><b>V</b></td>
	<td align=center><b>D</b></td>
	<td align=center><b>R</b></td>	
	<td align=center><b>eBay</b></td>	
	<td align=center><b>Amazon</b></td>	
	<td align=center><b>Buy.com</b></td>	
	<td align=center><b>Stock (L/DS)</b></td>	
	
        <?
        $query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
        if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while(list($whid, $whname) = mysql_fetch_array($q5ok))
        {
                ?>
                <td><b>WH <?=$whname;?></b></td>
                <?
        }
        ?>
        <td class="sortable_numeric"><b>OnHand</b></td>
        <td class="sortable_numeric"><b>OnHold</b></td>
        <td class="sortable_numeric"><b>Committed</b></td>
        <td class="sortable_numeric"><b>Available</b></td>
        <td class="sortable_numeric"><b>OnPO</b></td>
        <td class="sortable_numeric"><b>List Count</b></td>
</tr>	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $manname, $manpart, $descr,
		$onhold, $committed, $onpo, $instock,$visible,$dropship,$refurb) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
        {
            $iavailable = $instock - $onhold - $committed;
            ?>
            <tr>
                <td align=center height=21>
                    <input type="checkbox" name='ids[]' value='<?=$id;?>' />
                </td>
                <td align=center height=21>
                    <a href="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$id?>&inwin=1', 'Edit SKU: <?=$id?>','item_<?=$id?>');" id="item_<?=$id?>"><?=$id?></a>
                </td>
                <td align=center><?=$manname?></td>
                <td align=center><?=$manpart?></td>
                <td align=center><?=$descr?></td>
                <td align=center><?=$visible?></td>
                <td align=center><?=$dropship?></td>
                <td align=center><?=$refurb?></td>	
                <td align=center>
                    <?
                    $query = "select count(*) from ebay_listings where pid = '$id' and active = '1'";
                    if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($num_listed) = mysql_fetch_array($q4ok);

                   echo $num_listed;
                    ?>
                </td>	
                <td align=center>
                    <?
                    $query = "select count(*) from amazon_base_messages where pid = '$id' and asin != ''";
                    if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($num_listed) = mysql_fetch_array($q4ok);

                    echo $num_listed;
                    ?>
                </td>	
                <td align=center>
                    <?
                    $query = "select pid FROM buy_log_extended_skus WHERE pid = '".$id."'";
                    if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    if (mysql_num_rows($q4ok)>0) {
                            echo "1";
                    }
                    else {
                            echo "0";
                    }
                    ?>
                </td>
                <td align=center><?=$efc->getInvTotal($id);?></td>
                 <?
                $whout = 0;

                $query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
                if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                while(list($whid, $whname) = mysql_fetch_array($q4ok))
                {
                    $query = "select sum(inv_available), sum(inv_available * inv_available) from product_inventory where whid = '$whid' and id = '$id'";
                    if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($inv_available, $total_cost) = mysql_fetch_array($q5ok);
                    ?>
                    <td align=center><?=intval($inv_available)?></td>
                    <?
                }
                ?>
                <td align=center><?=$instock?></td>
                <td align=center><?=$onhold?></td>
                <td align=center><?=$committed?></td>
                <td align=center><?=$iavailable?></td>
                <td align=center><?=$onpo?></td>
                <td align=center>
                    <?
                    $query = "select count(*) from list_products where pid = '$id'";
                    if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($list_count) = mysql_fetch_array($q5ok);
                    echo $list_count;
                    ?>
                </td>
            </tr>
            <?
            $onrow++;
            $numout++;
        }
?>
</table>
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
    <tr>
        <td height="21">
            <?=number_format($totalnum,0);?> SKUs
        </td>
        <td align="right">
            <b>All:&nbsp;&nbsp;&nbsp;</b>
        </td>
        <td align="left">
            <a href="javascript:actionAll('remove')">Remove From List</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionAll('delete')">Delete</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionAll('mark')">Mark Not Visible</a>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
    <tr>
        <td height="21">
            <form name="peoptions2" style="margin:0px">
                <input type="checkbox" name="checkall" onclick="checkUncheckAll(document.peoptions2, document.pereport);">Select All SKUs
            </form>
        </td>
        <td align="right">
            <b>Checked:&nbsp;&nbsp;&nbsp;</b>
        </td> 
        <td align="left">
            <a href="javascript:actionChecked('remove')">Remove From List</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionChecked('delete')">Delete</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:actionChecked('mark')">Mark Not Visible</a>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>
<!--<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>-->
~<?=$num2return?> of <?=$totalnum?> SKUs