<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Grouped Items</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<script>
function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function pullReport()
{
  	var thislevel = g_level - 1;

  	var cat = 0;
  	
 	if(thislevel == 0) 	cat = document.ivaluation.cat0.options[ document.ivaluation.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.ivaluation.cat1.options[ document.ivaluation.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.ivaluation.cat2.options[ document.ivaluation.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.ivaluation.cat3.options[ document.ivaluation.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.ivaluation.cat4.options[ document.ivaluation.cat4.selectedIndex ].value;
	
  	var keywords = document.ivaluation.keywords.value;
  	var id = document.ivaluation.id.value;
  	var brand = document.ivaluation.brand.options[ document.ivaluation.brand.selectedIndex ].value;
  	var listid = document.ivaluation.listid.options[ document.ivaluation.listid.selectedIndex ].value;
  	if(document.ivaluation.nolist.checked)
		var nolist = 1;
	else
		var nolist = 0;
  	var inventory = document.ivaluation.inventory.options[ document.ivaluation.inventory.selectedIndex ].value;
  	var includekits = document.ivaluation.includekits.options[ document.ivaluation.includekits.selectedIndex ].value;
  	var assignedto = document.ivaluation.assignedto.options[ document.ivaluation.assignedto.selectedIndex ].value;
  	var sourcing = document.ivaluation.sourcing.options[ document.ivaluation.sourcing.selectedIndex ].value;
  	var whid = document.ivaluation.whid.options[ document.ivaluation.whid.selectedIndex ].value;
	var whmin = document.ivaluation.whmin.value;
  	var status = document.ivaluation.status.options[ document.ivaluation.status.selectedIndex ].value;
  	var origintype = document.ivaluation.origintype.options[ document.ivaluation.origintype.selectedIndex ].value;
	var bsdate = document.ivaluation.bsdate.value;
	var esdate = document.ivaluation.esdate.value;
	var disable_srange = document.ivaluation.disable_srange.checked;
	var disable_range = document.ivaluation.disable_range.checked;
	var bdate = document.ivaluation.bdate.value;
	var edate = document.ivaluation.edate.value;
	var qdate = document.ivaluation.qdate.options[ document.ivaluation.qdate.selectedIndex ].value;
	
	var url="ajax_report.phtml";
	url += "?catid="+cat;
	url += "&keywords="+keywords;
	url += "&id="+id;
	url += "&brand="+brand;
	url += "&listid="+listid;
	url += "&nolist="+nolist;
	url += "&inventory="+inventory;
	url += "&includekits="+includekits;
	url += "&assignedto="+assignedto;	
	url += "&sourcing="+sourcing;			
	url += "&xwhid="+whid;
	url += "&xwhmin="+whmin;	
	url += "&status="+status;	
	url += "&origintype="+origintype;	
	url += "&bsdate="+bsdate;	
	url += "&esdate="+esdate;	
	url += "&disable_srange="+disable_srange;	
	url += "&disable_range="+disable_range;	
	url += "&bdate="+bdate;	
	url += "&edate="+edate;	
	url += "&qdate="+qdate;	
	
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";	
	
	xmlHttp=GetXmlHttpObject();
		
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
	  	
	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 

		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";

		sortables_init();
	}	
}

var g_cat = 0;
var g_level = 0;
function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.ivaluation.cat0.options[ document.ivaluation.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.ivaluation.cat1.options[ document.ivaluation.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.ivaluation.cat2.options[ document.ivaluation.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.ivaluation.cat3.options[ document.ivaluation.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.ivaluation.cat4.options[ document.ivaluation.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
  	g_cat = cat;
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
		
		//getBrands();
	}
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function clearReport()
{
	document.ivaluation.keywords.value = '';
  	document.ivaluation.id.value = '';
 	document.ivaluation.cat0.selectedIndex = 0;
  	document.ivaluation.cat1.selectedIndex = 0;
  	document.ivaluation.cat2.selectedIndex = 0;
  	document.ivaluation.cat3.selectedIndex = 0;
  	document.ivaluation.cat4.selectedIndex = 0;
  	document.ivaluation.brand.selectedIndex = 0;
  	document.ivaluation.listid.selectedIndex = 0;
   	document.ivaluation.inventory.selectedIndex = 0;
  	document.ivaluation.includekits.selectedIndex = 0;
  	document.ivaluation.assignedto.selectedIndex = 0;
  	document.ivaluation.sourcing.selectedIndex = 0;
  	document.ivaluation.whid.selectedIndex = 0;
	document.ivaluation.whmin.value = '';
  	
	document.getElementById("cat1d").style.display = 'none';
	document.getElementById("cat2d").style.display = 'none';
	document.getElementById("cat3d").style.display = 'none';
	document.getElementById("cat4d").style.display = 'none';
}
var g_rowid = 0;
function showOrders(rowid, pid,status,bsdate,esdate,disable_srange,bdate,edate,disable_range,origintype)
{
	var detailrow = 'row'+rowid;
	if( document.getElementById(detailrow).style.display=='none' )
	{
		g_rowid = rowid;
  		document.getElementById(detailrow).style.display = '';
  		document.getElementById("image"+rowid).src = "/mgt/images/minus.gif";
  		
  		xmlHttp=GetXmlHttpObject();
		var url="ajax_get_orders.phtml?pid="+pid+"&status="+status+"&origintype="+origintype+"&bsdate="+bsdate+"&esdate="+esdate+"&disable_srange="+disable_srange+"&bdate="+bdate+"&edate="+edate+"&disable_range="+disable_range;
	
		xmlHttp.onreadystatechange=got2Report;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
 	}
 	else
 	{
  		document.getElementById(detailrow).style.display = 'none';
  		document.getElementById("image"+rowid).src = "/mgt/images/plus.gif";
 	}

}
function got2Report()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("display"+g_rowid).innerHTML = xmlHttp.responseText;
	}	
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "1")				
	{// today
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "8")				
	{// last 60 days
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "9")				
	{// last 90 days
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "10")				
	{// last 120 days
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.ivaluation.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.ivaluation.qdate.options[document.ivaluation.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.ivaluation.disable_range.checked = 0;
		
		document.ivaluation.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.ivaluation.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}
</script>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>