<form name="ivaluation" id="ivaluation">
<table>
<tr>
	<td class="g1">Keywords:</td>
	<td><input type="text" name="keywords" value="" style="width:75px" class="formBox"></td>
</tr>
<tr>
	<td class="g1">ID:</td>
	<td><input type="text" name="id" style="width:75px" value="" class="formBox"></td>
</tr>
<tr>
	<td class="g1">Status:</td>
	<td>
		<select name="status" id="status" class="formSelect">
		<option value="0">----- SELECT --------</option>
		<?
		$query = "select step, status from company_orderflow order by step";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($step, $status) = mysql_fetch_array($qok))
		{
			?>
			<option value="<?=$step;?>"><?=$status;?>
			<?
		}
		?>
		</select>		
	</td>
</tr>
<tr>
	<td class="g1"><div style="padding-top:2px;">Origin:</div></td>
	<td valign="top">
		<select class="formSelect" name="origintype">
			<option selected="" value="">All Orders
			</option><option value="phone">Phone Only
			</option><option value="web">Web Only
			</option><option value="amazon">Amazon Only
			</option><option value="amazonca">Amazon Can Only
			</option><option value="ebay">eBay Only
		</option></select>						
	</td>
</tr>	
<tr>
	<td class="g1">Order Date:</td>
	<td>
	<select name="qdate" class="formselect" onchange="changeRange();">
		<option value="-1">-Quick Range-</option>
		<option value="1">Today</option>
		<option value="6">Yesterday</option>
		
		<option value="7">Yesterday + Today</option>
		
		<option value="2">Last 7 Days</option>
		<option value="3">Last 14 Days</option>
		<option value="4">Last 30 Days</option>
		
		<option value="8">Last 60 Days</option>
		<option value="9">Last 90 Days</option>
		<option value="10">Last 120 Days</option>
		
		<option value="5">Last Month</option>
	</select>
	<BR>							
	<input type="checkbox" name="disable_range" checked>Ignore Date Range<BR>
	
	<input type="text" name="bdate" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['ivaluation'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['ivaluation'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
	
	- to -
	
		<input type="text" name="edate" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
onclick="cal1x.select(document.forms['ivaluation'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['ivaluation'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
	</td>
</tr>
<tr>
	<td class="g1">Ship Date:</td>
	<td>
	<input type="checkbox" name="disable_srange" checked>Ignore Ship Range<BR>
	
	<input type="text" name="bsdate" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
		onclick="cal1x.select(document.forms['ivaluation'].bsdate,'anchor3x','MM/dd/yyyy'); return false;"  
		onselect="cal1x.select(document.forms['ivaluation'].bsdate,'anchor3x','MM/dd/yyyy'); return false;" 
		ID="anchor3x">
	
	- to -
	
		<input type="text" name="esdate" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
			onclick="cal1x.select(document.forms['ivaluation'].esdate,'anchor4x','MM/dd/yyyy'); return false;" 
			onselect="cal1x.select(document.forms['ivaluation'].esdate,'anchor4x','MM/dd/yyyy'); return false;" 
			ID="anchor4x">
	</td>
</tr>		
<tr>
	<td class="g1">Category:</td>
	<td>
		<select name="cat0" class="formSelect" onchange="getCategories(1);">
		<option value="0">----- SELECT --------
		<?
		$query = "select catid, catname from product_categories where parentid = 0 order by catname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
		<?
		}
		?>
		</select>		
		<?
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat0) > 0)
		{
		?>
			<div id="cat1d" style="display:;">
			<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat1) > 0 && intval($cat0) > 0)
		{
		?>
			<div id="cat2d" style="display:;">
			<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat1'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat2) > 0)
		{
		?>
			<div id="cat3d" style="display:;">
			<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
		<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
		?>
		<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
		<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
	</td>
</tr>				
<tr>
	<td class="g1">Brand:</td>
	<td>
		<select name="brand" id="brand" class="formSelect">
		<option value="0">----- SELECT --------
		<?
		$query = "select manid, manname from product_manufacturers where manname != '' order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>"><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">List:</td>
	<td>
		<select name="listid" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select lid, list_title from lists order by list_title";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($lid, $list_title) = mysql_fetch_array($qok))
		{
			if(strlen($list_title) > 25)
			{
				$list_title = substr($list_title, 0, 18)."...";
			}
			?>
			<option value="<?=$lid;?>"><?=$list_title;?>
			<?
		}
		?>
		</select>	
		<BR>
		<input type="checkbox" name="nolist" value="1">Not on a list					
	</td>
</tr>
<tr>
	<td class="g1"><div style="padding-top:2px;">Inventory:</td>
	<td valign=top>
		<select name="inventory" class="formSelect">
			<option value="-1">----- ALL --------
			<option value="1">In-Stock (exc DS)
			<option value="3">In-Stock (inc DS)
			<option value="2">Out of Stock
			<option value="4">Out of Stock (DS)
		</select>						
	</td>
</tr>
<tr>
	<td class="g1"><div style="padding-top:2px;">Include:</td>
	<td valign=top>
		<select name="includekits" class="formSelect">
			<option value="1">All SKUs
			<option value="2">Exclude Kits	
			<option value="3">Only Show Kits
			<option value="4">Only Show AutoPack
		</select>						
	</td>
</tr>	
<tr>
	<td class="g1"><B>Assigned To:</B></td>
	<td>
		<select name="assignedto" class="formSelect">
		<option value="-1">--- SELECT ----</option>
		<option value="UN">Unassigned</option>
		<?
		
		$query = "select id, displayname from users order by displayname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
		<?	
		}
		?>
		</select>
	</td>	
</tr>	
<tr>
	<td class="g1"><B>Sourced From:</B></td>
	<td>
		<select name="sourcing" class="formSelect">
		<option value="-1">--- SELECT ----</option>
		<?
		
		$query = "select vendorid, vendorname from vendors order by vendorname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
		{
			if(strlen($x_vendorname) > 25)
			{
				$x_vendorname = substr($x_vendorname, 0, 22)."...";
			}
		?>
			<option value="<?=$x_vendorid;?>"><?=$x_vendorname;?></option>
		<?	
		}
		?>
		</select>
	</td>	
</tr>
<tr>
	<td class="g1">WH Instock:</td>
	<td>
		<select name="whid" class="formSelect">
		<option value="">--- SELECT ---</option>
		<?
		$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key != ''";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($whid, $whname) = mysql_fetch_array($qok))
		{
		?>
		<option value="<?=$whid;?>"><?=$whname;?></option>
		<?	
		}
		?>
		</select>
		<input type="text" name="whmin" value="" style="width:25px" class="formBox">						
	</td>
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		<input type="button" name="Action" value="Clear" onclick="clearReport()" class="buttonItem">
	</td>
</tr>						
</table>
</form>