<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

REQUIRE($ROOT_DIR."/mgt/classes/ipinfoclass.phtml");
$iclass = new ipinfoClass();
$iclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$catTree = $sc->getCatTreeExt($c);

$sb = $_SESSION['SB'];
if ($sb == '') {
	$sb = 3;
}elseif (!is_numeric($sb)) {
	$sb = 3;
}
if(intval($ipp) > 0)
{
	$_SESSION["IPP_RESULTS"] = $ipp;
	$ipp_results = $ipp;
}
if(intval($_SESSION["IPP_RESULTS"]) == 0)
{
	$_SESSION["IPP_RESULTS"] = 12;
	$ipp_results = 12;
}
else {
	$ipp_results = $_SESSION["IPP_RESULTS"];
}
if(intval($p) == 0)$p = 1;


$mid = intval($mid);
$min = intval($min);
$max = intval($max);
$c = intval($c);

if(!is_numeric($c)) { $c = ''; }
if(!is_numeric($mid)) { $mid = 0; }
if(!is_numeric($min)) { $min = 0; }
if(!is_numeric($max)) { $max = 0; }

$kw = strip_tags($kw);

$plist = $sc->getProducts($c, '', $p, $mid, $min, $max, $kw, $ss, $sb,$filters_arr, &$numproducts, &$numpages, &$bview, &$eview, &$nextpage, &$lastpage);


include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/general.js?<?php echo time(); ?>" async="" type="text/javascript"></script>

<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                include($ROOT_DIR."/include/search.phtml");
                ?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

