<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$bc = new efluentClass();
$bc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$bc->db = $MYSQL_DATABASE;

if($_SESSION["ID"] == "")
{
	if(!$bc->AttempLogin($un, $pw, &$errormsg))
	{
		/*$url = urlencode($_SERVER['REQUEST_URI']);
		Header("Location: /login.phtml?url=$url&err=".urlencode($errormsg));
		exit;
		*/
	}
	else 
	{
		if($url != "")
		{
			Header("Location: ".urldecode($url));
			exit;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body onload="StartUp();">
<script>
function StartUp()
{
	document.login.un.focus();
	
	//screen.width
	//screen.height
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/ajax_saveres.phtml?width="+screen.width+"&height="+screen.height+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=screenRes;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function screenRes() 
{ 
	if(xmlHttp.readyState==4)
	{ 
	}
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function checkData()
{
	if(document.login.un.value.length <= 0)	
	{
		alert("You must enter a Username.");
		document.login.un.focus();
		
		return false;
	}
	
	if(document.login.pw.value.length <= 0)	
	{
		alert("You must enter a Password.");
		document.login.pw.focus();
		return false;
	}
	
	
	return true;
}

</script>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Log-in (<?=$DB;?>)</B>
		
		<BR><BR>
		<font color="#ff0000"><B><?=$err;?></B></font>
		<form name="login" method="post" action="main.phtml" onsubmit="return checkData();">
		<input type="hidden" name="url" value="<?=$url;?>">
		<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="un" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="pw" class="formBox" style="width:125px"></td>
		</tr>
		<tr>
			<td colspan=2><input type="submit" name="Action" value="Login" class="buttonItem"></td>
		</tr>
		</table>
		</form>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>