<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>

	<form name="advform" method="GET" action="product_images.phtml">
	<table>
	<tr>
		<td>
			<input type="text" name="pid" value="" class="formBox" style="width:150px;"><input type="submit" name="Action" value="Go" class="buttonItem">
		</td>
	</tr>
	</table>
	</form>	
	<!--------------------------------------------------------------------------------------------------------------------------------->
	<?
	if($pid != "")
	{
		$skulist = array();
		$query = "select kit from product_list where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($kit) = mysql_fetch_array($qok);
		
		if($kit == 1)
		{
			// the kit item first
			$query = "select product_list.id, product_list.manpart, product_list.descr, product_manufacturers.manname 
							from 
							product_list, product_manufacturers
							where product_list.manid = product_manufacturers.manid
							and product_list.id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($kid, $manpart, $descr, $manname) = mysql_fetch_array($qok);

			$skulist['id'][] = $kid;
			$skulist['manpart'][] = $manpart;
			$skulist['descr'][] = $descr;
			$skulist['manname'][] = $manname;
						
			$query = "select product_list.id, product_list.manpart, product_list.descr, product_prices.price_level1, product_manufacturers.manname from 
							product_list, product_manufacturers, product_kitskus, product_prices 
							where 
							product_list.manid = product_manufacturers.manid and 
							product_list.id = product_kitskus.kid and 
							product_list.id = product_prices.id and
							product_kitskus.pid = '$pid' 
							order by product_prices.price_level1 desc";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($kid, $manpart, $descr, $kprice, $manname) = mysql_fetch_array($qok))
			{
				$skulist['id'][] = $kid;
				$skulist['manpart'][] = $manpart;
				$skulist['descr'][] = $descr;
				$skulist['manname'][] = $manname;
			}
		}
		else 
		{
			$query = "select product_list.id, product_list.manpart, product_list.descr, product_manufacturers.manname 
							from 
							product_list, product_manufacturers
							where product_list.manid = product_manufacturers.manid
							and product_list.id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($kid, $manpart, $descr, $manname) = mysql_fetch_array($qok);

			$skulist['id'][] = $kid;
			$skulist['manpart'][] = $manpart;
			$skulist['descr'][] = $descr;
			$skulist['manname'][] = $manname;
		}
		
		for($xo = 0; $xo < count($skulist['id']); $xo++)
		{
			echo "<B>".$skulist['manname'][$xo]." - ".$skulist['descr'][$xo]." (".$skulist['manpart'][$xo].")</B><BR>";
			
			$id = $skulist['id'][$xo];
			$query = "select distinct(itype) from product_images where id = '$id'";
			$qok = mysql_db_query($DB, $query, $mysqlid);
			if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			while( list($itype) = mysql_fetch_array($qok))
			{
				$ilist[] = $itype;
			}
			
			sort($ilist, SORT_NUMERIC);
			?>
			<table border=0 cellpadding=3 cellspacing=0>
			<?
			for($xx = 0; $xx < count($ilist); $xx++)
			{ // 9 images per row
				if($xx % 3 == 0)
				{
					echo "</tr><tr>";
				}
		
				$query = "select width, height, length(idata) from product_images where id = '$id' and itype = '".$ilist[$xx]."'";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				list($width, $height, $size) = mysql_fetch_array($qok);
				
				if($width <= 0 || $height <= 0)
				{
					$dimensions = "";
				}
				else 
				{
					$dimensions = "$width x $height";
				}
				?>
					<td width=250 align=center>	
						<table border=0>
						<tr>
							<td>
								<a href="javascript:void(0);" 
									onClick="window.open('/getimage.phtml?id=<?=$id;?>&itype=<?=$ilist[$xx];?>&thumb=0', 'IMAGE', 'scrollbars=no, width=425, height=425');" 
											class="g" 
											>
								<img 
									src="/getimage.phtml?id=<?=$id;?>&itype=<?=$ilist[$xx];?>&thumb=0" 
									width=80 border=0 
									alt="<?=$manname;?> - <?=$manpart;?>"
									>
							</td>
							
							<td>
								<!---------------------------------------------------------------------------------------------------------------->
								<table>
								<tr>
									<td>
										<?=$dimensions;?> (<?=number_format($size/1000, 2);?> Kb)<BR>
										[Image # <?=$ilist[$xx];?>]
										
									</td>
								</tr>
								<tr>
									<td>
										
									</td>
								</tr>
								<tr>
									<td>
										<?
										if($ilist[$xx] == 0)
										{
											?>
											*Main Image
											<?		
										}
										else 
										{
										
										}
										?>							
									</td>
								</tr>
								</table>
							
							</td>
						</tr>
						</table>
					</td>
				<?
			}		
			?>
			</table>					
		<?
		}
	}
	?>
	<!--------------------------------------------------------------------------------------------------------------------------------->	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>