
td{
/*	text-align: left; */
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#000000;
	line-height:13px;
}
a {
	text-decoration: underline;
	color:#3082A8;
	font-size:11px;
}

.x {
	text-decoration: underline;
	color:#800000;
	font-size:10px;
}

body { 	margin:0px;padding:0px;	}
.copy{
font-family:Tahoma;
font-size:11px;
color:#6B6B6B;
text-decoration:none;
}

.sm{
/*	text-align: left; */
	vertical-align: top;
	font-family:Tahoma;
	font-size:9px;
	color:#000000;
	line-height:11px;
}


.top_txt {color:#646464; font-size:10px}

.gray {color:#6B6B6B; text-decoration:none}
.blue {color:#3082A8}
.green {color:#94BE23}

.g1{
font-family:Tahoma;
font-size:11px;
color:#6B6B6B;
text-decoration:none;
text-align:right;
font-weight:bold;
}

.g{
font-family:Arial;
font-size:11px;
color:#000000;
text-decoration:none;
}

.od{
font-family:Arial;
font-size:11px;
color:#808080;
text-decoration:none;
}

.perh{
font-family:Arial;
font-size:11px;
color:#000000;
text-decoration:none;
font-weight:bold;
}

#under{text-decoration:underline;}

.formBox
{
	border: 1px solid #AAAAAA;
	color: #333;
	font-size: 8pt;
	width: 180px;
	
}

.formSelect
{
	border-color: #AAAAAA;
	color: #333;
	font-size: 8pt;
	
}

.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 8pt;}

.smallText{font-family: verdana, helvetica, arial;color: black;font-size: 7pt;}

.m{background:#ffffff;}
.m:hover{background:#eeeeff;}
.ma{background:#eeeeee;}
.ma:hover{background:#eeeeff;}

a img {border: 0;}

.sortheader:active,.sortheader:link,.sortheader:visited,.sortheader:hover{text-decoration:none;color:#6B6B6B;font-family:Tahoma;font-size:11px;}


.t31{font-weight: bold; font-size: 11px; border-top: none; border-bottom: none; border-left: none; border-right: none; padding-left: 0; padding-right: 20px;}

.t32A{ font-size: 11px; border-top: none; border-bottom: 1px dotted #808080; border-left: none; border-right: none;}
.t33A{ font-size: 11px; border-top: none; border-bottom: 1px dotted #808080; border-left: none; border-right: none;}

.t32{ font-size: 11px; border-top: none; border-bottom: 1px dotted #808080; border-left: none; border-right: none;}
.t33{ font-size: 11px; border-top: none; border-bottom: 1px dotted #808080; border-left: none; border-right: none;}

/*
table.sortable tr.even td {	background-color: #eeeeee; }
table.sortable tr.odd td { background-color: #ffffff; }



table.sortable {border-spacing: 0;	border: 1px solid #000;	border-collapse: collapse;}
table.sortable th, table.sortable td {text-align: left;	width: 100px; border-style: solid;	border-color: #444; }
table.sortable th {	border-width: 0px 1px 1px 1px;	background-color: #cccccc;}
table.sortable td {	border-width: 0px 1px 0px 1px;}
table.sortable tr.even td {	background-color: #ffffff; }
table.sortable tr.sortbottom td { border-top: 1px solid #444; background-color: #ccc; font-weight: bold; }
*/

#edit_sku_cftab {
	width:100%;
}

#edit_sku_cftab td.col1 {
	width:30%;
}	

#edit_sku_cftab td.col2 {
	width:70%;
}	

#edit_sku_cftab td.col2 th {
	font-size:14px;
	font-weight:normal;
	font-style:italic;
	padding-bottom:15px;
}

#edit_sku_cftab #cftab_order_title {
	font-size:14px;
	font-weight:normal;
	font-style:italic;
	text-align:center;
	margin:5px 0;
}

#edit_sku_cftab .formbox {
	width:140px;
	float:left;
	margin-left:20px;
}

#edit_sku_cftab .formbox_checkbox {
	float:left;
	margin-left:20px;
}

#edit_sku_cftab #list {
	list-style:none;
	padding:0 10px 0 0;
}

#edit_sku_cftab #list li {
	display: block;
	padding:10px;
	margin-bottom: 3px;
	background-color: #efefef;
	vertical-align:top;
	height: 20px;
}

#edit_sku_cftab #list li span {
	cursor:move;
}

#edit_sku_cftab #list li img {
	float:right;
}

#edit_sku_cftab #cftab_order_info {
	height:30px;
	display:block;
	margin:10px 0;
	padding:0 10px 0 0;
}
 
#edit_sku_cftab #info {
	display:none;
	border:1px solid #4F8A10;
	color:#333;
	padding:5px;
	background-color:#DFF2BF;
	text-align:left;
	margin:0;
}	