<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


if($move != "" && $type == "sub")
{
	$query = "select product_groups.grpid, product_groups.catid, product_groups.subid,
					product_groups.subdescr from product_groups 
					LEFT JOIN subcat_order
					ON 
					concat(product_groups.grpid, product_groups.catid, product_groups.subid) = subcat_order.grpid
					where
					product_groups.subdescr != ''
					order by subcat_order.dorder";	
		
	$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	while(list($grpid, $catid, $subid) = mysql_fetch_array($qok))
	{
		$grplist['grpid'][]  = $grpid;
		$grplist['catid'][]  = $catid;
		$grplist['subid'][]  = $subid;
	}
	
	// get the position of the current group
	for($xx = 0; $xx < count($grplist['subid']); $xx++)
	{
		if( ($grplist['grpid'][$xx] == $xgrpid) && ($grplist['catid'][$xx] == $xcatid) && ($grplist['subid'][$xx] == $xsubid) )
		{
			$thisposition = $xx;
			break;
		}
	}

	if($move == "down")	$newposition = $thisposition - 1;
	else $newposition = $thisposition + 2;

	// now let's rebuild the array based on what they wanted to do
	for($xx = 0; $xx <= count($grplist['subid']); $xx++)
	{
		if($xx == $newposition)
		{
			$newgrplist['grpid'][] = $grplist['grpid'][$thisposition];
			$newgrplist['catid'][] = $grplist['catid'][$thisposition];
			$newgrplist['subid'][] = $grplist['subid'][$thisposition];
		}

		if($xx != $thisposition)
		{// skip the one we're editing
			if($grplist['subid'][$xx] != "")
			{
				$newgrplist['grpid'][] = $grplist['grpid'][$xx];
				$newgrplist['catid'][] = $grplist['catid'][$xx];
				$newgrplist['subid'][] = $grplist['subid'][$xx];
			}
		}
	}

	
	
	for($xx = 0; $xx < count($newgrplist['subid']); $xx++)
	{
		$ugrpid = $newgrplist['grpid'][$xx] . $newgrplist['catid'][$xx] . $newgrplist['subid'][$xx];
		
		$query = "delete from subcat_order where grpid = '$ugrpid'";
		$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		//echo "$query<BR>";
		
		$query = "insert into subcat_order(grpid, dorder) values('$ugrpid', '$xx')";
		$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		//echo "$query<BR>";
	}
	
}
?>
<html>
<head>
<LINK HREF="/style.css" TYPE="text/css" REL="stylesheet">
</head>
<body>

<table border=0 cellpadding=0 cellspacing=0>
<?
echo "</tr>";
/*******************************************************************************************************************************/
$query = "select product_groups.grpid, product_groups.catid, product_groups.subid,
					product_groups.subdescr from product_groups 
					LEFT JOIN subcat_order
					ON 
					concat(product_groups.grpid, product_groups.catid, product_groups.subid) = subcat_order.grpid
					where
					product_groups.subdescr != ''
					order by subcat_order.dorder";	

$q3ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
if($q3ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
$so = 0;
while(list($grpid, $catid, $subid, $subdescr) = mysql_fetch_array($q3ok))
{
	echo "<tr>";
	
	echo "<td colspan=4></td>"; // the grp and cat up and down
	$so++; // current position
	
	echo "<td height=21>";
	if($so > 1)echo "<a href='/mgt/subcatorder.phtml?move=down&type=sub&xgrpid=$grpid&xcatid=$catid&xsubid=$subid'><img src='/images/up.gif' border=0></a>";
	echo "</td>";

	echo "<td>";
	if($so <  mysql_num_rows($q3ok))echo "<a href='/mgt/subcatorder.phtml?move=up&type=sub&xgrpid=$grpid&xcatid=$catid&xsubid=$subid'><img src='/images/down.gif' border=0></a>";
	echo "</td>";

	echo "<td class=\"g2\">";
	echo "$subdescr";
	echo "</td>";
	
	echo "</tr>";
}	
/*******************************************************************************************************************************/
?>
</table>
</body>
</html>