<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date


?>
<table width=95%>
<tr bgcolor="#eeeeee">
	<td width="10%"><B>InvoiceID</B></td>
	<td width="20%"><B>Charge Date</B></td>
	<td width="20%"><B>Processor</B></td>
	<td width="20%"><B>Status</B></td>
	<td width="20%"><B>Type</B></td>
	<td width="20%"><B>Amount</B></td>
</tr>
<?
$xbdate = strtotime("$bdate 00:00:00");
$xedate = date("Y-m-d H:i:s", strtotime("$edate 23:59:59"));
$xbdate = date("Y-m-d H:i:s", strtotime("$bdate 00:00:00"));

$addon = "";
if($processor != '') {
    $addon .= " AND pname='$processor' ";
}
if($transaction != '') {
    $addon .= " AND txtype='$transaction' ";
}
$query = "select orderid, status, tstamp, approvalcode, txid, avscode, cvvcode, pname, firstdigit, lastfour, amount, txtype from
                customer_payments where  tstamp>= '$xbdate' AND tstamp<= '$xedate'$addon order by tstamp desc";
$q2ok = mysql_db_query($DB, $query, $mysqlid);
if($q2ok == false){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }

$total_amount = 0;
$numout=0;
while(list($orderid, $status, $tstamp, $approvalcode, $txid, $avscode, $cvvcode, $pname, $firstdigit, $lastfour, $amount, $txtype) = mysql_fetch_array($q2ok))
{
    $qa = "SELECT invoiceid FROM customer_orders where orderid='$orderid'";
    $q2oka = mysql_db_query($DB, $qa, $mysqlid);
    if($q2oka == false){ echo "$query\n\n".mysql_error()."\n\n"; exit; }
    list($invoiceid)  = mysql_fetch_array($q2oka);
    ?>
        <tr>
            <td width="10%">
                <a href="javascript:void(0);" id="orderid_<?=$invoiceid?>"
				onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid?>&inwin=1', 'View Order: <?=$invoiceid?>','orderid_<?=$invoiceid?>');">
				<?=$invoiceid?>
			</a>
            </td>
            <td width="20%"><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
            <td width="20%"><?=$pname?></td>
            <td width="20%">
                <?if($status == 0) echo "DECLINED"; 
                    else if($status == 1) echo "APPROVED";
                    else if($status == 2)
                    {
                            if(strtolower($pname) == "google checkout")
                            {
                                    echo "PENDING";
                            }
                            else
                            {
                                    ?>
                                    <!--<a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete this pending payment?', '/mgt/om/delete_pending.phtml?id=<?=$chid;?>&orderid=<?=$orderid;?>');"><img src="/mgt/images/del.gif" border=0 align=left></a>PENDING-->
                                    <?
                            }
                    }
                    ?>
                
            </td>
            <td width="20%"><?=$txtype?></td>
            <td width="20%">$<?=$amount?></td>
        </tr>
    <?
    $total_amount += $amount;
}
?>
<tr bgcolor="#eeeeee">
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><B>$<?=$total_amount?></B></td>
</tr>
</table>
