					<form name="logsearch">
						<table>
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Entry Type:</div></td>
							<td>
								<select name="ltype" class="formSelect">
									<option value="">--- ALL ---</option>
									<option value="1" <?if($_SESSION["ALS_SAVEDSEARCH"]['ltype'] == "1") echo "SELECTED";?>>SKU Change</option>
									<option value="2" <?if($_SESSION["ALS_SAVEDSEARCH"]['ltype'] == "2") echo "SELECTED";?>>Order Change</option>
									<option value="3" <?if($_SESSION["ALS_SAVEDSEARCH"]['ltype'] == "3") echo "SELECTED";?>>Datafeed Build</option>
									<option value="4" <?if($_SESSION["ALS_SAVEDSEARCH"]['ltype'] == "4") echo "SELECTED";?>>Database Sync/Build</option>
									<option value="5" <?if($_SESSION["ALS_SAVEDSEARCH"]['ltype'] == "5") echo "SELECTED";?>>User Login</option>
							</td>
						</tr>
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Keywords:</div></td>
							<td>
								<input type="text" name="keywords" style="width:125px" 
											value="<?=$_SESSION["ALS_SAVEDSEARCH"]['keywords'];?>" 
											class="formBox"
											>
							</td>
						</tr>											

						<tr>
							<td class="g1">Log Date:</td>
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1" <?if($_SESSION["ALS_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
								<option value="6" <?if($_SESSION["ALS_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
								<option value="2" <?if($_SESSION["ALS_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
								<option value="3" <?if($_SESSION["ALS_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
								<option value="4" <?if($_SESSION["ALS_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
								<option value="5" <?if($_SESSION["ALS_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
							</select>
							<BR>							
							<input type="checkbox" name="disable_range" <?if($_SESSION["ALS_SAVEDSEARCH"]['disable_range'] == "true") echo "CHECKED";?>>Ignore Date Range<BR>
							<?
							if($_SESSION["ALS_SAVEDSEARCH"]['bdate'] == "") $_SESSION["ALS_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
							if($_SESSION["ALS_SAVEDSEARCH"]['edate'] == "") $_SESSION["ALS_SAVEDSEARCH"]['edate'] = date("m/d/Y");
							?>
							<input type="text" name="bdate" value="<?=$_SESSION["ALS_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
							- to -
							
								<input type="text" name="edate" value="<?=$_SESSION["ALS_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
							</td>
						</tr>
												
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<td valign=top>
								<select name="num2return" class="formSelect">
									<option value="50"   <?if($_SESSION["ALS_SAVEDSEARCH"]['num2return'] == "50") echo "SELECTED";?>>50 items (default)
									<option value="100"  <?if($_SESSION["ALS_SAVEDSEARCH"]['num2return'] == "100") echo "SELECTED";?>>100 items
									<option value="1000" <?if($_SESSION["ALS_SAVEDSEARCH"]['num2return'] == "1000") echo "SELECTED";?>>1000 items
									<option value="9999" <?if($_SESSION["ALS_SAVEDSEARCH"]['num2return'] == "9999") echo "SELECTED";?>>9999 items
								</select>						
							</td>
						</tr>									
						
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="logSearch(1)" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="logresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->