<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if (!function_exists('cal_days_in_month')) 
{ 
    function cal_days_in_month($calendar, $month, $year) 
    { 
        return date('t', mktime(0, 0, 0, $month, 1, $year)); 
    } 
} 
if (!defined('CAL_GREGORIAN')) 
    define('CAL_GREGORIAN', 1); 

    
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Reports Action Log</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<SCRIPT>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function logSearch(p)
{
	var ltype = document.logsearch.ltype.options[ document.logsearch.ltype.selectedIndex ].value;
	var bdate = document.logsearch.bdate.value;
	var edate = document.logsearch.edate.value;
	var disable_range = document.logsearch.disable_range.checked;
	var num2return = document.logsearch.num2return.options[ document.logsearch.num2return.selectedIndex ].value;
	var keywords = document.logsearch.keywords.value;

	var url="/mgt/cf/ajax_logsearch.phtml";
	url += "?ltype="+ltype;
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&keywords="+keywords;
	url += "&num2return="+num2return;
	url += "&p="+p;
	url += "&sid="+Math.random();

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	document.getElementById("logresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=logSearchComplete2;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function logSearchComplete2() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split('~');
		
		document.getElementById("logresults").innerHTML = data[0];
		var dlg = document.getElementById("searchresults");
		
		dlg.innerHTML = data[1];
		
		sortables_init();
	}			
}

function gotoPage(pagenum)
{
	logSearch(pagenum);
}

function logSearchComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		document.getElementById("logresults").innerHTML = lines[0];
		
		for(xx = 1; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
					
				}
						
				newRow.style.height = 21;
				
				newRow.id = rows[0]; // assign the orderid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					newCell.innerHTML = rows[pp];
					
				}
			}
		}
	}			
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "1")				
	{// today
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.logsearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function showExtended(lid)
{
	var dlg = document.getElementById("logExtended");

	dlg.style.display = "block";
	
	dlg.style.width=500;
	dlg.style.height=50;
	
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";

	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;
	
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	var url = "/mgt/cf/ajax_getlogextended.phtml";
	url += "?lid="+lid;
	url += "&sid="+Math.random();
  	
  	xml2Http.onreadystatechange=gotLogExtended;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
}

function gotLogExtended() 
{ 
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("logExtended");
		
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
	}			
}

function hideExtended()
{
	var dlg = document.getElementById("logExtended");
	dlg.style.display = "none";
}

function StartUp()
{
/*	<?
	if($_SESSION["ALS_SAVEDSEARCH"]['num2return']	> 0)
	{
		?>
		logSearch();
		<?
	}
	else 
	{
		// nothing from before, well then change the range to today and run
	?>
		document.logsearch.ltype.selectedIndex = 0;
		document.logsearch.qdate.selectedIndex = 1;
		document.logsearch.disable_range.checked = 0;
		changeRange();
		logSearch();
	<?
	}
	?>
	
	checkPool();*/
}

function clearForm()
{
	document.logsearch.ltype.selectedIndex = 0;
	document.logsearch.qdate.selectedIndex = 1;
	document.logsearch.disable_range.checked = 0;
	changeRange();
	document.logsearch.num2return.selectedIndex = 0;
	document.logsearch.keywords.value = "";
	
	var theTable = document.all.results;
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
			
}

<?
/**************************************************************************************************************************************/
/****** POOL UPDATE CODE **************************************************************************************************************/
/**************************************************************************************************************************************/
/*$query = "select count(*) from action_log";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($pool_id) = mysql_fetch_array($qok);*/

$pool_id = 99999999999;
?>
var poolStep = 0;
var poolUpdateID = '<?=$pool_id;?>';
var poolUpdateColor = 0;

function checkPool()
{
	//document.getElementById("skuresults").innerHTML += "checkPool("+pool_id+")<BR>";
	xml4Http=GetXmlHttpObject();
	
	var url="/mgt/cf/ajax_checklog.phtml?sid="+Math.random();
	xml4Http.onreadystatechange=poolResult;
	xml4Http.open("GET",url,true);
	xml4Http.send(null);	
		
	return false;
}

function poolResult() 
{ 
	if(xml4Http.readyState==4)
	{ 
		if(poolStep == 0)
		{
			if(xml4Http.responseText != "")
			{
				var pooldata = xml4Http.responseText;
				
				if(parseInt(pooldata) > parseInt(poolUpdateID))
				{
					poolUpdateID = pooldata;
					
					logSearch();
				}
				
			}

			setTimeout('checkPool()', 2000);
		}
	}
}
</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body onload="StartUp()">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Log Search</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
			<!--------------------------------------------------------------->		
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("action_log_search.phtml");?>
					</div>
					
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>					
				
			</td>

		
			<td width=95%>
			<BR><BR>
			<!--------------------------------------------------------------->	
				<div id="searchresults">&nbsp;</div>
					
			<!--------------------------------------------------------------->
			<BR><BR><BR><BR><BR>
			</td>
		</tr>
		</table>
		
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>


<div id="logExtended" class="dialog">&nbsp;</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>