<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$myruleset = "";

for($xx = 0; $xx < count($ruleset); $xx++)
{
	$orule = $ruleset[$xx];
	
	$comments .= "//ORULE: $orule\n";
	
	$rule = html_entity_decode($ruleset[$xx]);
	
	$rule = str_replace("If", "if(", $rule);
	$rule = str_replace("MyCost", "\$cost", $rule);
	$rule = str_replace("Then", ")", $rule);
	$rule = str_replace("MyPrice", "\$price", $rule);
	$rule = str_replace("and", "&&", $rule);
	$rule = str_replace(" or ", "||", $rule);
	$rule = str_replace("%", ";", $rule);
	
	$hita = strpos($rule, "\$cost *");
	$pct = floatval(substr($rule, $hita + 8));

	$rule = substr($rule, 0, $hita);
	
	$pct = 1 + ($pct/100);
		
	
	if(stristr($orule, "MyProfit"))
	{
		$rule .= " $pct";
		
		$hity = strpos($orule, "must be:");
		$myprofit = trim(substr($orule, $hity + 8));
		$myprofit = str_replace("$", "", $myprofit);
		$myprofit = str_replace(",", "", $myprofit);
		$myprofit = trim($myprofit);
		
		$hitx = strpos($rule, "\$price = ");
		
		$arule = substr($rule, 0 , $hitx); // first 1/2 of rule
		$brule = substr($rule, $hitx);
		
		$addon = "\$profit = (\$cost * $pct) - \$cost;";
		
/*		echo "RULEA: $arule<BR>";
		echo "ADDON: $addon<BR>";
		echo "RULEB: $brule<BR>";
		echo "PROFIT: $myprofit<BR>";
*/		
		$rule = "$arule\n{\n$addon\nif(\$profit < $myprofit)\n{\n \$price = \$cost + $myprofit;\n}else{\n \$price = (\$cost * $pct);\n}\n\n}";

		////echo "\n\nNEWRULE:\n $rule\n";
		//exit;
	}
	else 
	{
		$rule .= "\$cost * $pct";

		$rule .= ";";	
		
	}
	
	if($xx > 0)
		$myruleset .= "else $rule";
	else 
		$myruleset .= $rule;
		
}

$myruleset = "$comments\n$myruleset";

$query = "select grp from ingram_cats_markup where grp = '$grp' and cat = '$cat'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
	$query = "update ingram_cats_markup set formula = '$myruleset' where grp = '$grp' and cat = '$cat'";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
}
else 
{
	$query = "insert into ingram_cats_markup(grp, cat, formula) values('$grp', '$cat', '$myruleset')";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

echo "$grp|$cat|$myruleset";
?>
