<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

switch ($action) {
		case 'gettopcat':
			echo getCategories($DB,$mysqlid,0);
			break;
		case 'getsubcat':
			echo getSubCategories($DB,$mysqlid,$catid);
			break;
		case 'getebaycontent':
			echo getEbayContent($DB,$mysqlid,$catid);
			break;
		default:
			break;
	} 

function  getCategories($DB,$mysqlid,$parentId) {
	$query = "select product_categories.catid, product_categories.catname , product_categories.visible, product_categories.count
				from 
				product_categories 
				LEFT JOIN product_categories_order ON
				product_categories.catid = product_categories_order.catid
				where 
				product_categories.parentid = '$parentId'
				order by product_categories_order.dorder, product_categories.catname";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$r = '';
	while(list($catid, $catname, $visible, $count) = mysql_fetch_array($qok))
	{
		$catname = stripslashes($catname);
		$r .= '<div id="category_'.$catid.'" style="border-bottom:1px dashed #808080;padding:4px;">';
		$r .= getCatsLinks($DB, $mysqlid,$catid,$visible,$parentId,$catname,$count);
		$r .= '</div>';
		$r .='<div id="subcats_'.$catid.'" style="padding:4px 4px 4px 40px;display:none;"></div>';
	}
	return $r;	
}
function  getSubCategories($DB,$mysqlid,$parentId) {
	$query = "select product_categories.catid, product_categories.catname , product_categories.visible, product_categories.count
				from 
				product_categories 
				LEFT JOIN product_categories_order ON
				product_categories.catid = product_categories_order.catid
				where 
				product_categories.parentid = '$parentId'
				order by product_categories_order.dorder, product_categories.catname";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$r = '';
	if (mysql_num_rows($qok)>0) {
		while(list($catid, $catname, $visible, $count) = mysql_fetch_array($qok))
		{
			$catname = stripslashes($catname);
			$r .= '<div id="category_'.$catid.'" style="border-bottom:1px dashed #808080;padding:4px;">';
			$r .= getCatsLinks($DB, $mysqlid,$catid,$visible,$parentId,$catname,$count);
			$r .= '</div>';
			$r .='<div id="subcats_'.$catid.'" style="padding:4px 4px 4px 40px;">'.getSubCategories($DB,$mysqlid,$catid).'</div>';
		}
	}
	else {
		while(list($catid, $catname, $visible, $count) = mysql_fetch_array($qok))
		{
			$catname = stripslashes($catname);
			$r .= '<div id="category_'.$catid.'" style="border-bottom:1px dashed #808080;padding:4px;">';
			$r .= getCatsLinks($DB, $mysqlid,$catid,$visible,$parentid,$catname,$count);
			$r .= '</div>';
			$r .='<div id="subcats_'.$catid.'" style="padding:4px 4px 4px 40px;display:none;"></div>';
		}
	}
	
	return $r;	
}
function getCatsLinks($DB, $mysqlid,$catid,$visible,$parentid,$catname,$count) {
	if ($parentid == 0) {
		$click = 'showSubCats(\''.$catid.'\')';
	}
	else {
		$click = '';
	}
	$r = '';
	$r .= '<a href="javascript:void(0);" onclick="'.$click.'">'.$catname.' (ID: '.$catid.') [CNT: '.$count.']</a>
	&nbsp;&nbsp;
	<a href="javascript:void(0);" onclick="deleteCat(\''.$catid.'\');"><img src="/mgt/images/delete.gif" alt="Delete Category"></a>
	&nbsp;&nbsp;
	<a href="javascript:void(0);" id="ebay_win_'.$catid.'" onclick="e2window(\'/mgt/cf/ebay_category_full.phtml?catid='.$catid.'\', \'eBay Category for: '.str_replace("\"", "", str_replace("'", "", $catname)).'\',\'ebay_win_'.$catid.'\');"><img src="/mgt/images/ebay.gif" alt="eBay Category"></a>
	&nbsp;&nbsp;';

	$query = "select ebay1, ebay2, ebay3 from ebay_categories where catid = '$catid' and ebay1 != ''";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($q4ok) > 0)
	{
		list($ebay1, $ebay2, $ebay3) = mysql_fetch_array($q4ok);
		
		$tmp = false;
		$tmp_ebay1 = '<span style="color:black">'.$ebay1.'</span>';
		$tmp_ebay2 = '<span style="color:black">'.$ebay2.'</span>';
		$tmp_ebay3 = '<span style="color:black">'.$ebay3.'</span>';
		$ebay_style = '';
		if ($ebay1 != '') {
			$q1= "select catid,leafcategory from ebay_categories where catid = '$ebay1'";
			if(!$q1ok = mysql_db_query('ebay', $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q1ok) == 0){
				$tmp_ebay1 = '<span style="color:red">'.$ebay1.'</span>';
				$tmp = true;
			}
			else{
				list($catid1,$leafcategory1) = mysql_fetch_array($q1ok);
				if ($leafcategory1 == '0') {
					$tmp_ebay1 = '<span style="text-decoration:underline;font-weight:bold">'.$ebay1.'</span>';
				}
			}
		}	
		if ($ebay2 != '') {
			$q2= "select catid,leafcategory from ebay_categories where catid = '$ebay2'";
			if(!$q2ok = mysql_db_query('ebay', $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) == 0){
				$tmp_ebay2 = '<span style="color:red">'.$ebay2.'</span>';
				$tmp = true;
			}
			else{
				list($catid2,$leafcategory2) = mysql_fetch_array($q2ok);
				if ($leafcategory2 == '0') {
					$tmp_ebay2 = '<span style="text-decoration:underline;font-weight:bold">'.$ebay2.'</span>';
				}
			}
		}
		if ($ebay3 != '') {
			$q3= "select catid,leafcategory from ebay_categories where catid = '$ebay3'";
			if(!$q3ok = mysql_db_query('ebay', $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q3ok) == 0){
				$tmp_ebay3 = '<span style="color:red">'.$ebay3.'</span>';
				$tmp = true;
			}
			else{
				list($catid3,$leafcategory3) = mysql_fetch_array($q3ok);
				if ($leafcategory3 == '0') {
					$tmp_ebay3 = '<span style="text-decoration:underline;font-weight:bold">'.$ebay3.'</span>';
				}
			}
			
		}
		if ($tmp == true) {
			$ebay_style = 'color:#FF8509';
		}
		$r .= '<div style="padding-left:35px;'.$ebay_style.'" id="ebay_'.$catid.'">eBay => ('.$tmp_ebay1.', '.$tmp_ebay2.', '.$tmp_ebay3.')</div>';
	}
	return $r;
}
function getEbayContent($DB, $mysqlid,$catid) {
	$r='';
	$query = "select ebay1, ebay2, ebay3 from ebay_categories where catid = '$catid' and ebay1 != ''";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($q4ok) > 0)
	{
		list($ebay1, $ebay2, $ebay3) = mysql_fetch_array($q4ok);
		
		$tmp = false;
		$tmp_ebay1 = '<span style="color:black">'.$ebay1.'</span>';
		$tmp_ebay2 = '<span style="color:black">'.$ebay2.'</span>';
		$tmp_ebay3 = '<span style="color:black">'.$ebay3.'</span>';
		$ebay_style = '';
		if ($ebay1 != '') {
			$q1= "select catid,leafcategory from ebay_categories where catid = '$ebay1'";
			if(!$q1ok = mysql_db_query('ebay', $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q1ok) == 0){
				$tmp_ebay1 = '<span style="color:red">'.$ebay1.'</span>';
				$tmp = true;
			}
			else{
				list($catid1,$leafcategory1) = mysql_fetch_array($q1ok);
				if ($leafcategory1 == '0') {
					$tmp_ebay1 = '<span style="text-decoration:underline;font-weight:bold">'.$ebay1.'</span>';
				}
			}
		}	
		if ($ebay2 != '') {
			$q2= "select catid,leafcategory from ebay_categories where catid = '$ebay2'";
			if(!$q2ok = mysql_db_query('ebay', $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) == 0){
				$tmp_ebay2 = '<span style="color:red">'.$ebay2.'</span>';
				$tmp = true;
			}
			else{
				list($catid2,$leafcategory2) = mysql_fetch_array($q2ok);
				if ($leafcategory2 == '0') {
					$tmp_ebay2 = '<span style="text-decoration:underline;font-weight:bold">'.$ebay2.'</span>';
				}
			}
		}
		if ($ebay3 != '') {
			$q3= "select catid,leafcategory from ebay_categories where catid = '$ebay3'";
			if(!$q3ok = mysql_db_query('ebay', $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q3ok) == 0){
				$tmp_ebay3 = '<span style="color:red">'.$ebay3.'</span>';
				$tmp = true;
			}
			else{
				list($catid3,$leafcategory3) = mysql_fetch_array($q3ok);
				if ($leafcategory3 == '0') {
					$tmp_ebay3 = '<span style="text-decoration:underline;font-weight:bold">'.$ebay3.'</span>';
				}
			}
			
		}
		if ($tmp == true) {
			$ebay_style = 'color:#FF8509';
		}
		$r .= 'eBay => ('.$tmp_ebay1.', '.$tmp_ebay2.', '.$tmp_ebay3.')';
	}
	return $r;
}
//getCats($DB,$mysqlid);
?>


