<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
function getStatus($step, $mysqlid, $DB)
{
	$query = "select status from company_orderflow where step = '$step'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
		list($status)=mysql_fetch_array($qok);
	else 	
		$status = "<font color='#ff0000'>UNDEFINED STEP</font>";

	return $status;
}

// default query
$query = "select id, step, success, failure, status, explanation, complete, email, 
				charge, refund, script, authorize, assign, assign_sales, manual, editable,
				alt_step1, alt_step2, alt_step3, zerobal, capture, dropship, sendinvoice
				 from company_orderflow order by step";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

while(list($id, $step, $success, $failure, $status, $explanation, $complete, $email, $charge, $refund, 
			$script, $authorize, $assign, $assign_sales, $manual, $editable, $alt_step1, $alt_step2, $alt_step3, $zerobal, $capture, $dropship, $sendinvoice) = mysql_fetch_array($qok))
{
	$status = stripslashes($status);
	$explanation = stripslashes($explanation);
	
	$additionalinfo = "";
	
	if($complete == 1) $additionalinfo .= "<img src='/mgt/images/yes.gif' alt='Complete'>";
	if($email == 1) $additionalinfo .= "<img src='/mgt/images/e-mail.gif' alt='Email'>";
	if($charge == 1) $additionalinfo .= "<img src='/mgt/images/charge.gif' alt='Charge'>";
	if($refund == 1) $additionalinfo .= "<img src='/mgt/images/refund.gif' alt='Refund/Void'>";
	if($script == 1) $additionalinfo .= "<img src='/mgt/images/script.gif' alt='Run Script'>";
	if($authorize == 1) $additionalinfo .= "<img src='/mgt/images/authorize.gif' alt='Authorize'>";
	if($assign == 1) $additionalinfo .= "<img src='/mgt/images/assign.gif' alt='Assign'>";
	if($assign_sales == 1) $additionalinfo .= "<img src='/mgt/images/assign_sales.gif' alt='Assign Sales'>";
	if($manual == 1) $additionalinfo .= "<img src='/mgt/images/settings.gif' alt='Manual'>";
	if($editable == 1) $additionalinfo .= "<img src='/mgt/images/editable.gif' alt='Editable'>";
	if($zerobal == 1) $additionalinfo .= "<img src='/mgt/images/zerobal.gif' alt='Requires a balance of $0'>";
	if($capture == 1) $additionalinfo .= "<img src='/mgt/images/authorize.gif' alt='Capture'>";
	if($dropship == 1) $additionalinfo .= "<img src='/mgt/images/truck.gif' alt='Drop Ship'>";
	if($sendinvoice == 1) $additionalinfo .= "<img src='/mgt/images/invoice.gif' alt='Send PDF Invoice'>";

	if(strlen($explanation) > 100)
		$explanation = substr($explanation, 0, 97)."...";
		
	if($success > 0)
		$x_success = "<span class='smallText'>".getStatus($success, $mysqlid, $DB)."</span>";
	else 
		$x_success = "<span class='smallText'>No Action</span>";
		
	if($failure > 0)
		$x_failure = "<span class='smallText'>".getStatus($failure, $mysqlid, $DB)."</span>";
	else 
		$x_failure = "<span class='smallText'>NO Action</span>";
	
	$manualinfo = "";
	
	if($manual == 1)
	{
		if(intval($alt_step1) > 0)  $manualinfo .= "$alt_step1 - <span class='smallText'>".getStatus($alt_step1, $mysqlid, $DB)."</span><BR>";
		if(intval($alt_step2) > 0)	$manualinfo .= "$alt_step2 - <span class='smallText'>".getStatus($alt_step2, $mysqlid, $DB)."</span><BR>";
		if(intval($alt_step3) > 0)	$manualinfo .= "$alt_step3 - <span class='smallText'>".getStatus($alt_step3, $mysqlid, $DB)."</span>";
	}
		
	echo "$id\t$step\t$status\t$additionalinfo\t$success - $x_success\t$failure - $x_failure\t$manualinfo\t$explanation\n";
}
?>