<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<table cellpadding="0" cellspacing="0" border="0">
<?
// default query
$query = "select manid,manname
			from 
			product_manufacturers 
			order by manname";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$manArr = array();
while(list($manid, $manname) = mysql_fetch_array($qok))
{
	$q = "SELECT id FROM product_list WHERE visible='1' AND manid='$manid'";
	if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	$nr_visible = mysql_num_rows($qokx);
	
	$q = "SELECT id FROM product_list WHERE visible='0' AND manid='$manid'";
	if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$nr_not_visible = mysql_num_rows($qokx);
	
	
//	$manname = stripslashes($manname);
	$manname = addslashes($manname);
	$manArrTmp['manid'] = $manid;
	$manArrTmp['manname'] = $manname;
	array_push($manArr,$manArrTmp);
	?>
		<tr onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='#FFFFFF';" id="tr_<?=$manid?>">
			<td style="padding:0px 5px">
				<a href="javascript:void(0);" id="brandName_<?=$manid?>" onclick="editManufacturer('<?=$manid;?>', '<?=$manname;?>');"><?=stripslashes($manname);?> (ID: <?=$manid;?>)</a>
			</td>
			<td style="padding:0px 5px">
				<a href="javascript:void(0);" onclick="editManufacturer('<?=$manid;?>', '<?=$manname;?>');"><img src="/mgt/images/txticon.gif" alt="Edit"></a>
			</td>
			<td style="padding:0px 5px">
				<a href="javascript:void(0);" onclick="deleteManufacturer('<?=$manid;?>');"><img src="/mgt/images/sm_del.gif" alt="Delete Category"></a>
			</td>
			<td style="padding:0px 5px">
				<a href="javascript:void(0);" onclick="imageCategory('<?=$manid;?>');"><img src="/mgt/images/camera.gif" alt="Add Image"></a>
			</td>
			<td style="padding:0px 5px">
				<a href="javascript:void(0);" class="mergeMan" id="merge_<?=$manid?>">Merge</a>
			</td>
			<!--<td style="padding:0px 5px">
				<a href="javascript:void(0);" onclick="sizeChart('<?=$manid;?>');"><img src="/mgt/images/pdf.gif" alt="Size Chart"></a>
			</td>-->
			<td style="padding:0px 5px">
				<?
				echo $nr_visible ." V / " . $nr_not_visible . " Not V";
				?>
			</td>
		</tr>
		<?
}
?>
	<!--<tr>
		<td><a href="javascript:void(0);" onclick="addManufacturer();">* Add Category</a></td>
	</tr>-->
</table>
<div id="manSelectBlock" style="display:none;">
<select id="manSelect" name="manIdSelect">
	<option value="">-----</option>
<?
foreach ($manArr as $k=>$v) {
	?>
	<option value="<?=$v['manid']?>"><?=$v['manname']?></option>
	<?
}
?>
</select>
</div>