<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$_SESSION["SHIPPING_CAT"] = $catid;

$cg = addslashes($cg);

if($catid == 0)
{// stand alone... applies only when assigned on a sku level
	$shipping_name = "No Category";
}
else if($catid == -1)
{// Globally assigned to all products
	$shipping_name = "Global Category";
}
else 
{// specific cat
	$query = "select catname from product_categories where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipping_name) = mysql_fetch_array($qok);										
}

echo "$shipping_name\n";

// default query
$query = "select id, flatrate, active, method_name, method_descr, method_note, isdefault from shipping_codes where catid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

while(list($id, $flatrate, $active, $method_name, $method_descr, $method_note, $isdefault) = mysql_fetch_array($qok))
{
	if($flatrate == 0)
		$flatrate = "No";
	else 
		$flatrate = "Yes";
	
	if($active == 0)
		$active = "No";
	else 
		$active = "Yes";
	
	if($isdefault == 1)
	{
		$showdefault = "<SUP><font color='#ff0000'>*default</font></SUP>";
	}
	else 
	{
		$showdefault = "";
	}
	
	echo "$id\t$method_name $showdefault\t$method_descr\t$active\t$flatrate\t$method_note\n";
}
?>