<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<form name="myshowonform" method="POST">
<input type="hidden" name="parentid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td colspan="2">Show on:</td>		
		</tr>
		<?
			$q = "SELECT * FROM site_list order by divid desc";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$k = 1;
			$divid = '';
			while ($site = mysql_fetch_assoc($qok)) {
				
				$q1 = "SELECT catid,catname,visible FROM product_categories_title WHERE catid='".$c."' AND divid='".$site['divid']."'";
				$qok1 = mysql_db_query($MYSQL_DATABASE, $q1, $mysqlid);
				$cat_desc = mysql_fetch_assoc($qok1);
				?>
				<tr>
					<td colspan="2">
						<b><?=$site['sitename']?></b> 
					</td>
				</tr>
				<tr>
					<td>Visible:</td>
					<td><input type="checkbox" name="visible_<?=$c?>_<?=$site['divid']?>" id="visible_<?=$c?>_<?=$site['divid']?>" <?if($cat_desc['visible'] == '1') echo "checked";?>/></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<input type="text" id="<?=$c?>_<?=$site['divid']?>" class="div_cat_name"  name="show_on[<?=$site['divid']?>]" value="<?=$cat_desc['catname']?>">
					</td>
				</tr>
				<?
				$k++;
			}
		?>
		<tr>
			<td colspan="2">
				<input type="hidden" name="catid" value="<?=$c?>">
				<input type="hidden" name="divid" value="<?=$divid?>">
				<input type="button" name="SaveForm" value="Save"   onclick="saveShowOn()" class="buttonItem">
				<input type="button" name="HideShowOnForm" value="Cancel" onclick="hideShowOnForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>