<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if($Action == "Save")
{
/*	$query = "delete from amazon_shipping_map where amazon_method = '$am_method' and pid = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }				
*/
	$query = "insert into amazon_shipping_map(pid, amazon_method, carrier, method, weight_min, weight_max, cost_min, cost_max) 
					values('$pid', '$am_method', '$carrier', '$methods', '$weight_min', '$weight_max', '$cost_min', '$cost_max')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }				
	
}
else if($Action == "Delete")
{
	$query = "delete from amazon_shipping_map where id = '$xid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }				
	
	Header("Location: /mgt/cf/amazon_defaults.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>Amazon Default Shipping Methods</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>

<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function getRates()
{
	xmlHttp=GetXmlHttpObject();
		
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	
  	var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
  	
	if(carrier  == "fedex" )
	{
		{
			var cvr = document.getElementById("savecover");
			cvr.style.display = "block";
			cvr.style.top = 0;
			cvr.style.left = 0;
			
			var cvr = document.getElementById("loading");
			cvr.style.display = "block";
		
			document.getElementById("waitmsg").innerHTML = "<B>Getting Rates...</B><BR>";
			var url = "/mgt/ship/fedex/RateAvailableServices.php";
		
			xmlHttp.onreadystatechange=gotRates;
			xmlHttp.open("GET",url,true);
			xmlHttp.send(null);
		}
	}
	else if(carrier == "ups")
	{
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "block";
		cvr.style.top = 0;
		cvr.style.left = 0;
		
		var cvr = document.getElementById("loading");
		cvr.style.display = "block";
	
		document.getElementById("waitmsg").innerHTML = "<B>Getting Rates...</B><BR>";
	
		var url = "/mgt/ship/ups/rates.phtml";
		url += "?ship2street1=10216A+3rd+Ave";
		url += "&ship2street2=";
		url += "&ship2city=Biloxi";	
		url += "&ship2state=MS";
		url += "&ship2zip=39523";
		url += "&ship2country=US";
		url += "&insured=0";	
		url += "&weight=1";
		url += "&invoiceid=YY1234";			
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);		
	}
	else if(carrier == "genric")
	{
		var url = "/mgt/ship/generic/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "dropship")
	{
		var url = "/mgt/ship/dropship/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "manna")
	{
		var url = "/mgt/ship/manna/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "usps")
	{
		var url = "/mgt/ship/usps/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "smartpost")
	{
		var url = "/mgt/ship/smartpost/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}	
}

function gotRates()
{
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var theSelect = document.shipitems.methods;
		
		var lines=xmlHttp.responseText.split("\n"); 
		
		for (i = theSelect.length - 1; i>=1; i--) 
		{
			theSelect.remove(i);
	    }		
		//////////////////////////////////////////////////////
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		
		document.getElementById("loading").style.display = "none";

		
		if(lines[0] != "OK")
		{
			for(xx = 0; xx < lines.length; xx++)
			{
				alert(lines[xx]);
			}
			
			return;
		}
		
		
		for(xx = 1; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")appendOption(data);
		}
		
		
	}	
}

function appendOption(data)
{
	var theSelect = document.shipitems.methods;
	
	nOption = document.createElement('option');

	if(parseFloat(data[1]) > 0)
		isData = document.createTextNode(data[0]+" - $"+data[1]); 
	else
		isData = document.createTextNode(data[0]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<body>
<div id="savecover" class="cover"></div>
<div id="loading" class="dialog">
<table width=100 height=100>
<tr>
	<td height=100 valign=center align=center><span id="waitmsg">Please Wait...</span><BR><BR><img src='/mgt/images/loading.gif'></td>
</tr>
</table>
</div>

<script>
function checkForm()
{
	if( document.shipitems.am_method.selectedIndex <= 0 || document.shipitems.carrier.selectedIndex <= 0 || document.shipitems.methods.selectedIndex <= 0)
	{
		alert('You must select a shipping method');
		return false;	
	}
	
	return true;
}
</script>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<?
	if(intval($inwin) != 1)
	{
	?>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<?
	}
	?>
	<td valign=top>
		<?
		if(intval($inwin) != 1)
		{
			REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");
		}
		?>
		
		<div style="padding-left:5px;padding-top:10px">
		<B>Amazon Default Shipping Methods</B>
		<BR><BR>

		<table width=100%>
		<tr>
			<td width=250>
			<!----------------------------------------------------------------------------------------------------->
				<form name="shipitems" method="POST" onsubmit="return checkForm();">
				<input type="hidden" name="pid" value="<?=intval($pid);?>">
				<table style="border:1px #eeeeee solid;">
				<tr>
					<td align=right><B>Amazon Method:</B></td>		
					<td>
						<select name="am_method" class="formSelect">
							<option value="" SELECTED>--- SELECT ---</option>
							<option value="amazon_std">Amazon Standard</option>
							<option value="amazon_exp">Amazon Expedited</option>
						</select>
					</td>
				</tr>		
				<tr>
					<td align=right><B>Carrier:</B></td>		
					<td>
						<select name="carrier" class="formSelect" onchange="getRates()">
							<option value="" SELECTED>--- SELECT ---</option>
							<option value="fedex">FedEx</option>
							<option value="manna">Manna</option>
							<option value="ups">UPS</option>
							<option value="genric">Generic</option>
							<option value="dropship">DropShip</option>
							<option value="usps">USPS</option>
							<option value="smartpost">SmartPost</option>
						</select>
					</td>
				</tr>		
				<tr>
					<td align=right><B>Method:</B></td>		
					<td>
						<select name="methods" class="formSelect">
							<option value="">----- SELECT SHIPPING METHOD -----</option>
						</select>
					</td>
				</tr>
				<tr>
					<td align=right><div style="padding-top:4px"><B>Weight:</B></div></td>		
					
					<td>
                		Min: <input type="text" name="weight_min" value="0.00" style="width:50px" class="formBox">&nbsp;&nbsp;
						Max: <input type="text" name="weight_max" value="0.00" style="width:50px" class="formBox">
					</td>
				</tr>	
				<tr>
					<td align=right><div style="padding-top:4px"><B>Price:</B></div></td>		
					
					<td>
                		Min: <input type="text" name="cost_min" value="0.00" style="width:50px" class="formBox">&nbsp;&nbsp;
						Max: <input type="text" name="cost_max" value="0.00" style="width:50px" class="formBox">
					</td>
				</tr>	
				<tr>
					<td align=center colspan=2>
						<input type="submit" name="Action" value="Save" class="formButton">
					</td>
				</tr>	
				</table>
				</form>
			<!----------------------------------------------------------------------------------------------------->				
			</td>
			
			<td width=100%>
				<table width=80%>
				<tr bgcolor="#eeeeee">
					<td height=21>
						<B>PID</B>	
					</td>
					<td height=21>
						<B>Amazon Method</B>
					</td>
					<td height=21>
						<B>Weight Min/Max</B>
					</td>
					<td height=21>
						<B>Price Min/Max</B>
					</td>
					<td height=21>
						<B>Carrier</B>
					</td>
					<td height=21>
						<B>Method</B>
					</td>
					<td height=21>
						<B>Delete</B>
					</td>
				</tr>
				
				<?
				if(intval($pid) > 0) {
				    $query = "select id, pid, amazon_method, carrier, method, weight_min, weight_max, cost_min, cost_max from amazon_shipping_map order by pid";
				    $query = "select id, pid, amazon_method, carrier, method, weight_min, weight_max, cost_min, cost_max from amazon_shipping_map where pid ='$pid' order by amazon_method, weight_min, cost_min";
				}
				else {
				    $query = "select id, pid, amazon_method, carrier, method, weight_min, weight_max, cost_min, cost_max from amazon_shipping_map where pid ='$pid' order by amazon_method, weight_min, cost_min";
				    $query = "select id, pid, amazon_method, carrier, method, weight_min, weight_max, cost_min, cost_max from amazon_shipping_map order by pid";
				}
					
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

				while(list($xid, $pid, $amazon_method, $carrier, $method, $weight_min, $weight_max, $cost_min, $cost_max) = mysql_fetch_array($qok))
				{
					?>
					<tr>
						<td height=21><?if($pid == 0) echo "Default"; else echo $pid;?></td>
						<td height=21><?=$amazon_method;?></td>
						<td height=21><?=$weight_min;?> / <?=$weight_max;?></td>
						<td height=21><?=$cost_min;?> / <?=$cost_max;?></td>
						<td height=21><?=$carrier;?></td>
						<td height=21><?=$method;?></td>
						<td height=21><a href="javascript:void(0);" onclick="makesure('Delete this mapping?', '/mgt/cf/amazon_defaults.phtml?xid=<?=$xid;?>&inwin=1&Action=Delete');">Delete</a></td>
					</tr>					
					<?
				}
				?>
				</table>
			</td>
		</tr>
		</table>
		
		
	</td>
	<?
	if(intval($inwin) != 1)
	{
	?>
	<td width=13 background="/mgt/images/r.jpg"> </td>
	<?
	}
	?>
</tr>
</table>
<?
if(intval($inwin) != 1)
{
	REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");
}
?>
	
</body>
</html>