<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//print_r($_FILES);
// check the permissions
$efc->hasPermission("perm_category_manager"); // will redirect on failure

?>
<HTML>
<HEAD>
<TITLE>Configuration-Categoy Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
</HEAD>
<script>
$(document).ready(function(){ 
	loadMainCategories();
});


function loadMainCategories() {
	$.get("/mgt/cf/ajax_getcategory_full.phtml", { action: "gettopcat"},
   		function(data){
			$('#topLevel').html(data);   	
   	});
}
function showSubCats(parentId) {
	$.get("/mgt/cf/ajax_getcategory_full.phtml", { action: "getsubcat",catid:parentId},
   		function(data){
   			$('#subcats_'+parentId).show();
			$('#subcats_'+parentId).html(data);   	
			
   	});
}
function deleteCat(catid)
{
	if(confirm("Are you sure you want to delete category '"+catid+"'?\nThis will remove any sub-categories below it."))
	{
		$.get("/mgt/cf/ajax_removecategory.phtml", {catid:catid,sid:Math.random()},
   		function(data){
	   			$('#category_'+catid).empty().remove();
	   			$('#subcats_'+catid).empty().remove();
	   	});
	}
}
function refreshEbayContent(category) {
	$.get("/mgt/cf/ajax_getcategory_full.phtml", { action: "getebaycontent",catid:category},
   		function(data){
			$('#ebay_'+category).html(data);   	
			
   	});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.dialog1 {
display:none;
width:175px;
height:120px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.dialog2 {
display:none;
width:175px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body>
<div id="savecover" class="cover"></div>
<div id="ebaycategoryform" class="dialog1">
<form name="ebaycategory" enctype="multipart/form-data" method="POST">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Category: <div id="ebaycatid">&nbsp;</div></td>		
		</tr>
		<tr>
			<td>eBay Cat #1: <input type="text" name="ebay1" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>eBay Cat #2: <input type="text" name="ebay2" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>eBay Cat #3: <input type="text" name="ebay3" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>
				<input type="hidden" name="catid" value="">
				<input type="button" name="SaveForm" value="Save"   onclick="saveeBay()" class="buttonItem">
				<input type="button" name="HideAddImageForm" value="Cancel" onclick="hideeBay()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<?
if($inwin != 1)
{
?>

	<td width=13 background="/mgt/images/l.jpg"> </td>
<?
}
?>
	<td valign=top>
<?
if($inwin != 1)
{
?>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
<?
}
?>		
		<div style="padding-left:5px;padding-top:10px">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="50%" align="left"><B>Categories</B></td>
				<td width="50%" align="right" style="padding-right:20px">
					<a href="/mgt/cf/categories.phtml">Categories</a>
				</td>
			</tr>
		</table><BR>
		
		<table width=100%>
		<tr>
			<td width="100%">
				<!------------------------------------------------------------------------------------------------------------>
				<table style="border: 1px solid #888888;" width="100%">
				<tr>
					<td width="100%">
					<div id="topLevel">
						<BR><BR><BR><BR><CENTER><img src="/mgt/images/loading.gif"></CENTER>
					</div>
					</td>
				</tr>
				</table>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			<td>
				<div id="bottomcategory" style="display:inline;">&nbsp;</div><BR><BR>
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
<?
if($inwin != 1)
{
?>
	<td width=13 background="/mgt/images/r.jpg"> </td>
<?
}
?>
</tr>
</table>
</body>
</html>