<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//print_r($_SESSION);
// check the permissions
// as per alan to allow roy to fix buy categories
if ($DB == 'ecom') {
	if ($_SESSION['ID'] != '12') {
		$efc->hasPermission("perm_category_manager");
	}
}
else {
	$efc->hasPermission("perm_category_manager"); // will redirect on failure
}

if($saveImage == 1)
{
	$selectedDivid = $_POST['divid'];
	if($bannerData)
	{
		$filename = addslashes($_FILES["bannerData"]["name"]);
		
		$fp = fopen($bannerData, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		

		
		$query = "select catid from category_images where catid = '$catid' AND divid='".$selectedDivid."'";
//		print_r($query);
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		if(mysql_num_rows($qok) > 0)
		{
			$query = "update category_images set banner = '$data', banner_filename = '$filename' where catid = '$catid' AND divid='".$selectedDivid."'";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
		else 
		{
			$query = "insert into category_images(catid, banner, banner_filename,divid) values('$catid', '$data', '$filename', '$selectedDivid')";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
	}
	
	if($thumbData)
	{
		$filename = addslashes($_FILES["thumbData"]["name"]);
		
		$fp = fopen($thumbData, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		

		
		$query = "select catid from category_images where catid = '$catid' AND divid='".$selectedDivid."'";
//		print_r($query);
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		if(mysql_num_rows($qok) > 0)
		{
			$query = "update category_images set thumb = '$data', thumb_filename = '$filename' where catid = '$catid' AND divid='".$selectedDivid."'";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
		else 
		{
			$query = "insert into category_images(catid, thumb, thumb_filename,divid) values('$catid', '$data', '$filename', '$selectedDivid')";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
	}
	
}
if($saveImageStore == 1)
{
	$selectedDivid = $_POST['use_divid'];
	if($bannerData)
	{
		$filename = addslashes($_FILES["bannerData"]["name"]);
		
		$fp = fopen($bannerData, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		

		
		$query = "select catid from category_images_store where catid = '$catid' AND divid='".$selectedDivid."' and manid='".$manidStore."'";
//		print_r($query);
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		if(mysql_num_rows($qok) > 0)
		{
			$query = "update category_images_store set banner = '$data', banner_filename = '$filename' where catid = '$catid' AND divid='".$selectedDivid."' and manid='".$manidStore."'";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
		else 
		{
			$query = "insert into category_images_store(catid, banner, banner_filename,divid,manid) values('$catid', '$data', '$filename', '$selectedDivid','$manidStore')";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
	}
	
	if($thumbData)
	{
		$filename = addslashes($_FILES["thumbData"]["name"]);
		
		$fp = fopen($thumbData, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		

		
		$query = "select catid from category_images_store where catid = '$catid' AND divid='".$selectedDivid."' and manid='".$manidStore."'";
//		print_r($query);
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		if(mysql_num_rows($qok) > 0)
		{
			$query = "update category_images_store set thumb = '$data', thumb_filename = '$filename' where catid = '$catid' AND divid='".$selectedDivid."' and manid='".$manidStore."'";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
		else 
		{
			$query = "insert into category_images_store(catid, thumb, thumb_filename,divid,manid) values('$catid', '$data', '$filename', '$selectedDivid','$manidStore')";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			print_r($query);
		}
	}
	
}
?>
<HTML>
<HEAD>
<TITLE>Configuration-Categoy Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function StartUp()
{
	showBottomCat(0); // show the top level categories
	<?/*
	if($_SESSION["ROOT_CATEGORY"] != "")
	{
		?>
		showBottomCat('<?=$_SESSION["ROOT_CATEGORY"];?>');
		<?
	}*/
	?>
}

var g_parent = "";
var g_sparent = "";
var g_nohide = "";

function showBottomCat(topcat)
{
	g_parent = topcat;
	
	var imgtag = document.getElementById("img"+g_parent); // .src = "/mgt/images/rar3.gif";
	
	if(imgtag)
	{
		// already expanded?  if so, close it
		if( (imgtag.src.indexOf("/mgt/images/rar3.gif")  > 0) && (g_nohide == 0) )
		{
			document.getElementById("cat"+g_parent).innerHTML = "";
			imgtag.src = "/mgt/images/rar2.gif";
			return;
		}
	}
	
	xmlHttp=GetXmlHttpObject();
	
	var url="/mgt/cf/ajax_getcategory.phtml?parentid="+topcat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotBottomCategory;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	

	g_nohide = 0;
		
	return false;	
}

function gotBottomCategory()
{
	if(xmlHttp.readyState==4)
	{ 
		if(g_parent == 0)
		{
			var topLevel = document.getElementById("topLevel");
			
			if(topLevel)
			{
				topLevel.innerHTML = xmlHttp.responseText;
			}
			
		}
		else
		{
			var cattag = document.getElementById("cat"+g_parent)
			
			if(!cattag)
				document.getElementById("bottomcategory").innerHTML = xmlHttp.responseText;
			else
			{
				document.getElementById("img"+g_parent).src = "/mgt/images/rar3.gif";
				cattag.innerHTML = xmlHttp.responseText;
			}
			
			document.location="#";
		}
	}	
}

function addCategory(parentid)
{
	document.mysaveform.parentid.value = parentid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		document.mysaveform.savename.focus();
	}

}

function editCategory(catid, catname)
{
	document.myrenameform.catname.value = catname;
	document.myrenameform.catid.value = catid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("renameform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		document.myrenameform.catname.focus();
	}	
}
function imageCategory(catid)
{
	document.myaddimageform.catid.value = catid;
	var divid=document.myaddimageform.divid.value;
	
	document.getElementById("catBanner").src = "/mgt/getcatimage.phtml?catid="+catid+"&type=banner&divid="+divid;
	document.getElementById("catThumb").src = "/mgt/getcatimage.phtml?catid="+catid+"&type=thumb&divid="+divid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("addimageform");
	
	if(!dlg)
	{
		alert('Could not find the add image form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
//		document.myaddimageform.catname.focus();
	}	
}
function showOn(catid)
{
//	document.myshowonform.catid.value = catid;
//	var divid=document.myshowonform.divid.value;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	$.get('ajax_getcategory_name.phtml',{ c: catid}, function(data) {
		$('#showonform').html(data);
	}); 
	
	var dlg = document.getElementById("showonform");
	
	if(!dlg)
	{
		alert('Could not find the add image form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
//		document.myaddimageform.catname.focus();
	}	
}
function imageStoreCategory(catid)
{
	document.myaddimagestoreform.catid.value = catid;
	var divid=document.myaddimagestoreform.use_divid.value;
	
	document.getElementById("catBannerStore").src = "/mgt/getcatimagestore.phtml?catid="+catid+"&type=banner&divid="+divid;
	document.getElementById("catThumbStore").src = "/mgt/getcatimagestore.phtml?catid="+catid+"&type=thumb&divid="+divid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("addimagestoreform");
	
	if(!dlg)
	{
		alert('Could not find the add image form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
//		document.myaddimagestoreform.catname.focus();
	}	
}
function changeCategoryImage(divid) {
	var catid=document.myaddimageform.catid.value;
	document.myaddimageform.divid.value = divid;
	document.getElementById("catBanner").src = "/mgt/getcatimage.phtml?catid="+catid+"&type=banner&divid="+divid;
	document.getElementById("catThumb").src = "/mgt/getcatimage.phtml?catid="+catid+"&type=thumb&divid="+divid;
}
function changeCategoryImageStore(divid) {
	var catid=document.myaddimagestoreform.catid.value;
	document.myaddimagestoreform.use_divid.value = divid;
	var manid=document.getElementById('manidStore').value;
	
	document.getElementById("catBannerStore").src = "/mgt/getcatimagestore.phtml?catid="+catid+"&type=banner&divid="+divid+"&manid="+manid;
	document.getElementById("catThumbStore").src = "/mgt/getcatimagestore.phtml?catid="+catid+"&type=thumb&divid="+divid+"&manid="+manid;
}
function changeCategoryImageStoreMan() {
	var catid=document.myaddimagestoreform.catid.value;
	var divid=document.myaddimagestoreform.use_divid.value;
	var manid=document.getElementById('manidStore').value;
	
	document.getElementById("catBannerStore").src = "/mgt/getcatimagestore.phtml?catid="+catid+"&type=banner&divid="+divid+"&manid="+manid;
	document.getElementById("catThumbStore").src = "/mgt/getcatimagestore.phtml?catid="+catid+"&type=thumb&divid="+divid+"&manid="+manid;
}
function hideRenameForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("renameform");
	dlg.style.display = "none";
}

function saveRename()
{
	var catname = document.myrenameform.catname.value;
	var catid = document.myrenameform.catid.value;
	
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/cf/ajax_renamecategory.phtml?catid="+catid+"&catname="+escape(catname)+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=renameDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;		
}
function saveShowOn()
{
//	var catname = document.myshowonform.catname.value;
//	var catid = document.myshowonform.catid.value;
	var k = 0;
	var cat_desc = new Array();
	var cnames = new Array();
	var cvisible = new Array();
	$('.div_cat_name').each(function(){
		cat_desc.push($(this).attr('id'));
		cnames.push($(this).val());
		if ($('#visible_'+$(this).attr('id')).is(':checked')) {	       
			cvisible.push('1');
		}
		else {
			cvisible.push('0');
		}
//		cat_desc[k] = $(this).attr('id');
//		cnames[k] = $(this).val();
		k++;
	});
	
	$.post('ajax_savecategory_name.phtml',{ 'names[]': cnames,'desc[]': cat_desc,'visible[]': cvisible}, function(data) {
//		$('#showonform').html(data);
		hideShowOnForm();
	});
//	$.post("test.php", { 'choices[]': ["Jon", "Susan"] });
//	document.myshowonform.submit();	
}

function renameDone()
{
	if(xmlHttp.readyState==4)
	{
		hideRenameForm();
		showBottomCat(xmlHttp.responseText)
	}
}

function moveCategory(catid)
{
	document.mymoveform.catid.value = catid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("moveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mymoveform.newcatid.focus();
	}

}

function hideMoveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("moveform");
	dlg.style.display = "none";
}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}
function hideAddImageForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("addimageform");
	dlg.style.display = "none";
}
function hideShowOnForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("showonform");
	dlg.style.display = "none";
}
function addImage() {
	document.myaddimageform.submit();
}
function hideAddImageStoreForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("addimagestoreform");
	dlg.style.display = "none";
}
function addImageStore() {
	var myindex=document.getElementById('manidStore').selectedIndex;
	if(myindex == 0) {
		alert("Please select a manufacturer!");
	}
	else {
		document.myaddimagestoreform.submit();
	}
}
function saveForm()
{
	var newcat = document.mysaveform.savename.value;
	var parent = parseInt( document.mysaveform.parentid.value );
	
	g_sparent = parent;
	
	xmlHttp=GetXmlHttpObject();
	
	var url="/mgt/cf/ajax_savecategory.phtml?parentid="+parent+"&newcat="+escape(newcat)+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=saveCatDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
	return false;		
}

function saveCatDone()
{
	if(xmlHttp.readyState==4)
	{
		document.mysaveform.savename.value = "";
		document.mysaveform.parentid.value = "";
		
		if(isNaN(parseInt(g_sparent)))
		{
			document.location = "/mgt/cf/categories.phtml";
			return;
		}
		else
		{
			g_nohide = 1;
			showBottomCat(xmlHttp.responseText);
			hideSaveForm();
		}
	}	
}

function deleteCat(catid)
{
	if(confirm("Are you sure you want to delete category '"+catid+"'?\nThis will remove any sub-categories below it."))
	{
		g_sparent = parent;
		
		xmlHttp=GetXmlHttpObject();
		
		var url="/mgt/cf/ajax_removecategory.phtml?catid="+catid+"&sid="+Math.random();
		
		xmlHttp.onreadystatechange=deleteCatDone;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
		
		return false;		
	}
}

function deleteCatDone()
{
	if(xmlHttp.readyState==4)
	{
		if(isNaN(parseInt(g_sparent)))
		{
			document.location = "/mgt/cf/categories.phtml";
			return;
		}
		else
		{
			g_nohide = 1;
			showBottomCat(xmlHttp.responseText);
			hideSaveForm();
		}		
	}
}

function saveMove()
{
	var catid = document.mymoveform.catid.value;
	var newcatid = document.mymoveform.newcatid.value;
	
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/cf/ajax_movecategory.phtml?catid="+catid+"&newcatid="+newcatid+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=moveDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;		
}

function moveDone()
{
	if(xmlHttp.readyState==4)
	{
		document.location = "/mgt/cf/categories.phtml";
	}
}

function orderCategory(catid, parentid, direction)
{
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/cf/ajax_ordercategory.phtml?catid="+catid+"&parentid="+parentid+"&move="+direction+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=orderDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;		
}

function changeVisible(catid, visible, parentid)
{
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/cf/ajax_changevisible.phtml?catid="+catid+"&parentid="+parentid+"&visible="+visible+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=orderDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;	
}

function orderDone()
{
	if(xmlHttp.readyState==4)
	{
		g_nohide = 1;
		showBottomCat(xmlHttp.responseText);
	}	
}

function changeComponent(catid, visible, parentid)
{
	xmlHttp=GetXmlHttpObject();
		
	var url="/mgt/cf/ajax_changecomponent.phtml?catid="+catid+"&parentid="+parentid+"&visible="+visible+"&sid="+Math.random();
		
	xmlHttp.onreadystatechange=orderDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
		
	return false;	
}

function ebayCategory(catid)
{
	document.ebaycategory.catid.value = catid;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("ebaycategoryform");
	
	if(!dlg)
	{
		alert('Could not find the add image form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		document.ebaycategory.ebay1.focus();
		
		xmlHttp=GetXmlHttpObject();
			
		var url="/mgt/cf/ajax_ebaycat.phtml?catid="+catid+"&sid="+Math.random();
			
		xmlHttp.onreadystatechange=gotebaycat;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);		
	}	
}

function gotebaycat()
{
	if(xmlHttp.readyState==4)
	{
		var data = xmlHttp.responseText.split("|");
		
		var dlg = document.getElementById("ebaycatid");
		dlg.innerHTML = data[0];
		
		document.ebaycategory.ebay1.value = data[1];
		document.ebaycategory.ebay2.value = data[2];
		document.ebaycategory.ebay3.value = data[3];
	}	
}


function hideeBay()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("ebaycategoryform");
	dlg.style.display = "none";
	
}

function saveeBay()
{
	var url = "/mgt/cf/ajax_saveebaycat.phtml";
	url += "?catid="+document.ebaycategory.catid.value;
	url += "&ebay1="+document.ebaycategory.ebay1.value;
	url += "&ebay2="+document.ebaycategory.ebay2.value;
	url += "&ebay3="+document.ebaycategory.ebay3.value;
	
	
	xmlHttp=GetXmlHttpObject();
			
	xmlHttp.onreadystatechange=ebaysaved;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function ebaysaved()
{
	if(xmlHttp.readyState==4)
	{
		hideeBay();
		showBottomCat(xmlHttp.responseText)
	}	
}

function changeToggle(parentid)
{
	var url = "/mgt/cf/ajax_getcatids.phtml";
	url += "?parentid="+parentid;
	
	xmlHttp=GetXmlHttpObject();
			
	xmlHttp.onreadystatechange=gotIDs;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function gotIDs()
{
	if(xmlHttp.readyState==4)
	{
		var data = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < data.length; xx++)
		{
			var section = document.getElementById("options-"+data[xx]);
			if(section)
			{
				if(section.style.display == "block")
					section.style.display = "none";
				else
					section.style.display = "block";
			}
		}
	}	
}
function editCategoryDesc (catid) {
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	$.get('ajax_getcategory_description.phtml',{ c: catid}, function(data) {
		$('#cat_desc_block').html(data);
	}); 
	
	var dlg = document.getElementById("cat_desc_block");
	
	if(!dlg)
	{
		alert('Could not find the add image form');
	}
	else
	{
		dlg.style.display = "block";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 600;
		
//		document.myaddimageform.catname.focus();
	}	
}
function saveCatDesc()
{
	var k = 0;
	var cat_ids = new Array();
	var cat_desc = new Array();
	$('.div_cat_desc').each(function(){
                var editoContent = $(this).attr('id').split('_');
                var editoContentTmp = editoContent[0]+'_'+editoContent[1];
		cat_ids.push($(this).attr('id'));
		cat_desc.push(CKEDITOR.instances[editoContentTmp].getData());
		k++;
	});
	$.post('ajax_savecategory_description.phtml',{ 'ids[]': cat_ids,'desc[]': cat_desc}, function(data) {
		hideCatDescForm();
	});
}
function hideCatDescForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("cat_desc_block");
	dlg.style.display = "none";
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.dialog1 {
display:none;
width:175px;
height:120px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.dialog2 {
display:none;
width:175px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.dialog_full {
display:none;
width:175px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body onload="StartUp()">
<div id="savecover" class="cover"></div>


<div id="saveform" class="dialog">
<form name="mysaveform">
<input type="hidden" name="parentid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Add Category</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td>
				<input type="hidden" name="catid" value="">
				<input type="button" name="SaveForm" value="Save"   onclick="saveForm()" class="buttonItem">
				<input type="button" name="HideSaveForm" value="Cancel" onclick="hideSaveForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>

<div id="addimageform" class="dialog1">
<form name="myaddimageform" enctype="multipart/form-data" method="POST">
<input type="hidden" name="parentid" value="">

<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Add images</td>		
		</tr>
		<?
			$q = "SELECT * FROM site_list order by divid desc";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$k = 1;
			$divid = '';
			while ($site = mysql_fetch_assoc($qok)) {
				if ($k == 1) {
					$sel = " checked";
					$divid = $site['divid'];
				}
				else {
					$sel = "";
				}
				?>
				<tr>
					<td>
						<input type="radio" name="img_site" value="<?=$site['divid']?>" <?=$sel?> onclick="changeCategoryImage('<?=$site['divid']?>')"> <?=$site['sitename']?>
					</td>
				</tr>
				<?
				$k++;
			}
		?>
	<!--	<tr>
			<td>
				<input type="radio" name="img_site" value="1" onclick="changeCategoryImage('1')"> EE.com
			</td>
		</tr>-->
		<tr>
			<td>Banner: <input type="file" name="bannerData" class="formBox"><BR>
				<img id="catBanner" src="/mgt/getcatimage.phtml?catid=0&type=banner&divid=<?=$divid?>" width=100>
			</td>		
		</tr>
		<tr>
			<td>Thumb: <input type="file" name="thumbData" class="formBox"><BR>
				<img id="catThumb" src="/mgt/getcatimage.phtml?catid=0&type=thumb&divid=<?=$divid?>" width=100>
			</td>		
		</tr>
		<tr>
			<td>
				<input type="hidden" name="saveImage" value="1">
				<input type="hidden" name="catid" value="">
				<input type="hidden" name="divid" value="<?=$divid?>">
				<input type="button" name="SaveForm" value="Save"   onclick="addImage()" class="buttonItem">
				<input type="button" name="HideAddImageForm" value="Cancel" onclick="hideAddImageForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>
<div id="showonform" class="dialog_full">

</div>
<div id="cat_desc_block" class="dialog_full">

</div>
<div id="addimagestoreform" class="dialog2">
<form name="myaddimagestoreform" enctype="multipart/form-data" method="POST">
<input type="hidden" name="parentid" value="">

<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Add images</td>		
		</tr>
		<?
			$q = "SELECT * FROM site_list order by divid desc";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$k = 1;
			$use_divid = '';
			while ($site = mysql_fetch_assoc($qok)) {
				if ($k == 1) {
					$sel = " checked";
					$use_divid = $site['divid'];
				}
				else {
					$sel = "";
				}
				?>
				<tr>
					<td>
						<input type="radio" name="img_site" value="<?=$site['divid']?>" <?=$sel?> onclick="changeCategoryImageStore('<?=$site['divid']?>')"> <?=$site['sitename']?>
					</td>
				</tr>
				<?
				$k++;
			}
			$q = "select 
				distinct( product_manufacturers.manid ), product_manufacturers.manname
				from 
					product_list, product_manufacturers
				where  product_list.manid = product_manufacturers.manid and
				product_list.visible = '1' AND 
				product_list.series = '0' AND 
				product_list.kit = '0' 						
				order by product_manufacturers.manname";
//			$q = "SELECT * FROM site_list order by divid desc";
			if(!$qok = mysql_db_query($MYSQL_DATABASE, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$k = 1;
			$divid = '';
			?>
			<tr>
				<td>
					<select name="manidStore" id="manidStore" onchange="changeCategoryImageStoreMan()">
					<option value="">-------</option>
			<?
			while ($man = mysql_fetch_assoc($qok)) {
				?>
					<option value="<?=$man['manid']?>"><?=$man['manname']?></option>
				<?
				$k++;
			}
		?>
					</select>
					</td>
				</tr>
	<!--	<tr>
			<td>
				<input type="radio" name="img_site" value="1" onclick="changeCategoryImage('1')"> EE.com
			</td>
		</tr>-->
		<tr>
			<td>Banner: <input type="file" name="bannerData" class="formBox"><BR>
				<img id="catBannerStore" src="/mgt/getcatimagestore.phtml?catid=0&type=banner&divid=<?=$use_divid?>" width=100>
			</td>		
		</tr>
		<tr>
			<td>Thumb: <input type="file" name="thumbData" class="formBox"><BR>
				<img id="catThumbStore" src="/mgt/getcatimagestore.phtml?catid=0&type=thumb&divid=<?=$use_divid?>" width=100>
			</td>		
		</tr>
		<tr>
			<td>
				<input type="hidden" name="saveImageStore" value="1">
				<input type="hidden" name="catid" value="">
				<input type="hidden" name="use_divid" value="<?=$use_divid?>">
				<input type="button" name="SaveForm" value="Save"   onclick="addImageStore()" class="buttonItem">
				<input type="button" name="HideAddImageForm" value="Cancel" onclick="hideAddImageStoreForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>

<div id="ebaycategoryform" class="dialog1">
<form name="ebaycategory" enctype="multipart/form-data" method="POST">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Category: <div id="ebaycatid">&nbsp;</div></td>		
		</tr>
		<tr>
			<td>eBay Cat #1: <input type="text" name="ebay1" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>eBay Cat #2: <input type="text" name="ebay2" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>eBay Cat #3: <input type="text" name="ebay3" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>
				<input type="hidden" name="catid" value="">
				<input type="button" name="SaveForm" value="Save"   onclick="saveeBay()" class="buttonItem">
				<input type="button" name="HideAddImageForm" value="Cancel" onclick="hideeBay()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>

<div id="renameform" class="dialog">
<form name="myrenameform">
<input type="hidden" name="catid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><B>Rename Category</B></td>		
		</tr>
		<tr>
			<td><input type="text" name="catname" class="formBox" style="width:175px"></td>		
		</tr>
		<tr>
			<td>
				<input type="button" name="SaveForm" value="Save"   onclick="saveRename()" class="buttonItem">
				<input type="button" name="HideSaveForm" value="Cancel" onclick="hideRenameForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>


<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<?
if($inwin != 1)
{
?>

	<td width=13 background="/mgt/images/l.jpg"> </td>
<?
}
?>
	<td valign=top>
<?
if($inwin != 1)
{
?>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
<?
}
?>		
		<div style="padding-left:5px;padding-top:10px">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="50%" align="left"><B>Categories</B></td>
				<td width="50%" align="right" style="padding-right:20px">
					<a href="/mgt/cf/categories_full.phtml">Category Tree</a>
				</td>
			</tr>
		</table><BR>
		
		<table width=100%>
		<tr>
			<td width=450 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<table style="width:450;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<tr>
					<td>
					<div id="topLevel">
						<BR><BR><BR><BR><CENTER><img src="/mgt/images/loading.gif"></CENTER>
						<!--<table>

						<tr>
							<td align=center>
								<table id="topLevel">
								<?/*
								// default query
								$query = "select product_categories.catid, product_categories.catname from product_categories 
											LEFT JOIN product_categories_order ON
											product_categories.catid = product_categories_order.catid
											where 
											parentid = '$parentid' 
											order by product_categories_order.dorder, product_categories.catname";
								
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
								?>
								<tr>
									<td>
										<a href="#" onclick="orderCategory('<?=$catid;?>', '<?=$parentid;?>', 'up');"><img src="/mgt/images/a-up.gif" alt="Move Up in Branch"></a>
										<a href="#" onclick="orderCategory('<?=$catid;?>', '<?=$parentid;?>', 'down');"><img src="/mgt/images/a-down.gif" alt="Move Down in Branch"></a>
									
										<a href="#" onclick="showBottomCat('<?=$catid;?>');"><?=$catname;?> (<?=$catid;?>)</a>
										&nbsp;&nbsp;
										<a href="#" onclick="deleteCat('<?=$catid;?>');"><img src="/mgt/images/sm_del.gif" alt="Delete Category"></a>
									
									</td>
								</tr>
								<?
								}
								*/
								?>
								</table>
								
							</td>
						</tr>	
						</table>-->
					</div>
					<BR><BR>
					<input type="button" name="Action" value="Add Category" class="buttonItem" onclick="addCategory(0);">				

					</td>
				</tr>
				</table>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			
			<td>
				<div id="bottomcategory" style="display:inline;">&nbsp;</div><BR><BR>
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
<?
if($inwin != 1)
{
?>
	<td width=13 background="/mgt/images/r.jpg"> </td>
<?
}
?>
</tr>
</table>


<div id="moveform" class="dialog">
<form name="mymoveform">
<input type="hidden" name="catid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><B>Move Category</B></td>		
		</tr>
		<tr>
			<td>Parent ID:<input type="text" name="newcatid" class="formBox" style="width:75px"></td>		
		</tr>
		<tr>
			<td>
				Enter the parent id you wish<BR>
				to move this branch under.<BR>
				Parent ids are located in <BR>
				parenthesis after each<BR>
				category name.<BR><BR>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" name="SaveForm" value="Save"   onclick="saveMove()" class="buttonItem">
				<input type="button" name="HideSaveForm" value="Cancel" onclick="hideMoveForm()" class="buttonItem">
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>



</body>
</html>