<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
// check the permissions
$efc->hasPermission("perm_site_config"); // will redirect on failure


	function sanitizeInput($data) 
	{
		$data = str_replace("'", "", $data);
		$data = str_replace("\"", "", $data);
		$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);
		
		return $data;
	}
	
	
if($Action == "Save Group")
{
    $savename = sanitizeInput($savename);
	$query = "insert into configuration(config_group) values('$savename')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/cf/default.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Configuration Site Configuration</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/blockUI.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(document).ready(function() { 
    $('#add_group').click(function() { 
		$.blockUI({ 
            message: $('#saveform'), 
            css: { width: '211px' } 
        });
    });  
}); 
function cancelSaveForm() {
	$.unblockUI;
}
</script>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function addGroup()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";

	var dlg = document.getElementById("configform");
	dlg.style.display = "none";
}

var current_config = '';

function showConfig(config_group)
{
	xml7Http=GetXmlHttpObject();
	
	document.getElementById("current_group").innerHTML =  "<B>Current Group: "+config_group+"</B>";

	document.getElementById("saveconfig").style.display = "block";
	current_config = config_group;
	
	var url="/mgt/cf/ajax_getconfig.phtml?cg="+escape(config_group)+"&sid="+Math.random();
	
	xml7Http.onreadystatechange=configResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	
		
	return false;	
}

function deleteGroup(config_group)
{
	if(confirm('Are you sure you want to delete the Configuration Group "'+config_group+'" and all its values?'))
	{
		var url="/mgt/cf/ajax_saveconfig.phtml?cgrp="+escape(config_group)+"&Action=DeleteGroup&sid="+Math.random();
		
		xml9Http=GetXmlHttpObject();
	
		xml9Http.onreadystatechange=config2Change;
		xml9Http.open("GET",url,true);
		xml9Http.send(null);
	}
}

function configResult() 
{ 
	if(xml7Http.readyState==4)
	{ 
		
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}	

		/////////////////////////////////////////////////////////////////////////////////////////
		var lines = xml7Http.responseText.split("\n");
			
		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 1; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp - 1);
					
					if(pp == 1)
						newCell.innerHTML = "<div align=left><a href='javascript:editConfig(\""+rows[0]+"\");'><img src='/mgt/images/keyval.gif'>&nbsp;"+rows[pp]+"</div>";
					else
						newCell.innerHTML = "<div align=left>"+rows[pp]+"</div>";
					
				}
			}
		}
		/////////////////////////////////////////////////////////////////////////////////////////			
	}
}

function editConfig(config_id)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("configform");
	
	if(!dlg)
	{
		alert('Could not find the config form');
	}
	else
	{
		var title = document.getElementById("cg");
		
		document.myconfigform.config_id.value = config_id;
		
		title.innerHTML = "<B>"+current_config+"</B>";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		dlg.style.height= 200;
		
		dlg.style.display = "block";
		
		document.myconfigform.config_key.focus();
		
		document.getElementById("configformstatus").innerHTML =  "<img src='/mgt/images/loading.gif'>";
		document.getElementById("saveconfig").style.display = "block";

		xml8Http=GetXmlHttpObject();

		var url="/mgt/cf/ajax_getconfig.phtml?cid="+config_id+"&sid="+Math.random();

	
		xml8Http.onreadystatechange=config2Result;
		xml8Http.open("GET",url,true);
		xml8Http.send(null);	

	}
	
}

function config2Result() 
{ 
	if(xml8Http.readyState==4)
	{ 
		var lines = xml8Http.responseText.split("\n");
		var mylines = lines[0];
		var columns = mylines.split("\t");
		
		document.getElementById("configformstatus").innerHTML =  "";
		
		document.myconfigform.config_key.value = columns[1];
		document.myconfigform.config_value.value = columns[2];
		document.myconfigform.config_note.value = columns[3];
	}
}

function addConfig()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("configform");
	
	if(!dlg)
	{
		alert('Could not find the config form');
	}
	else
	{
		var title = document.getElementById("cg");
		
		
		title.innerHTML = "<B>"+current_config+"</B>";
		
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		dlg.style.height= 200;
		
		dlg.style.display = "block";
		
		document.myconfigform.config_key.focus();
		
		document.getElementById("configformstatus").innerHTML =  "";
		document.myconfigform.config_id.value = 0;
		document.myconfigform.config_key.value = "";
		document.myconfigform.config_value.value = "";
		document.myconfigform.config_note.value = "";
		
		
	}
	
}

function saveUpdateConfig()
{
	document.getElementById("configformstatus").innerHTML =  "<img src='/mgt/images/loading.gif'>";

	xml9Http=GetXmlHttpObject();

	var cid =  escape(document.myconfigform.config_id.value);
	var cgrp = escape(current_config);
	var ckey = escape(document.myconfigform.config_key.value);
	var cval = escape(document.myconfigform.config_value.value);
	var cnot = escape(document.myconfigform.config_note.value);
	
	var replacewith = "%2B";
	var newval = cval.replace("+", replacewith);
        newval = newval.replace("+", replacewith);
        newval = newval.replace("+", replacewith);
        newval = newval.replace("+", replacewith);
        newval = newval.replace("+", replacewith);
	
	cval = newval;

	
	var url="/mgt/cf/ajax_saveconfig.phtml?cid="+cid+"&cgrp="+cgrp+"&ckey="+ckey+"&cval="+cval+"&cnot="+cnot+"&sid="+Math.random();

	//window.open(url);
	
	xml9Http.onreadystatechange=configChange;
	xml9Http.open("GET",url,true);
	xml9Http.send(null);	
}

function configChange()
{
	if(xml9Http.readyState==4)
	{ 
		hideSaveForm();
		showConfig(current_config);
	}
}

function config2Change()
{
	if(xml9Http.readyState==4)
	{ 
		document.location = "/mgt/cf/default.phtml";
	}
}

function deleteSaveForm()
{
	document.getElementById("configformstatus").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	var cid =  escape(document.myconfigform.config_id.value);

	if(confirm('Are you sure you want to delete this item?'))
	{
		xml9Http=GetXmlHttpObject();
		var url="/mgt/cf/ajax_saveconfig.phtml?cid="+cid+"&Action=Delete&sid="+Math.random();
	
		xml9Http.onreadystatechange=configChange;
		xml9Http.open("GET",url,true);
		xml9Http.send(null);	
	}
	else
	{
		document.getElementById("configformstatus").innerHTML =  "";

	}
}
</script>

<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.dialogSaveForm {
display:none;
width:205px;
height:75px;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Configuration</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<table style="width:275" border=0>
				<tr>
					<td>
						<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
					    	<ul class="TabbedPanelsTabGroup">
					        <li class="TabbedPanelsTab" tabindex="0"><strong>Config</strong></li>
					        <li class="TabbedPanelsTab" tabindex="1"><strong>SEO</strong></li>

							</ul>
							<div class="TabbedPanelsContentGroup">
								<div class="TabbedPanelsContent">  
								
									<table>
										<?
										$query = "select distinct(config_group) from configuration order by config_group";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												
										while(list($config_group) = mysql_fetch_array($qok))
										{
										?>
										<tr>
											<td>
												<a href="javascript:void(0);" onclick="showConfig('<?=addslashes($config_group);?>')">
												<img src="/mgt/images/config.gif"><?=$config_group;?>
												</a>
												<SUP><a href="javascript:deleteGroup('<?=addslashes($config_group);?>');" class="x">x</a></SUP>
											</td>
										</tr>
										<?
									}
									?>
									<tr>
										<td align=center>
											<BR><BR>
<!--											<input type="button" name="Action" value="Add Group" class="buttonItem" onclick="addGroup();">-->
											<input type="button" name="Action" value="Add Group" class="buttonItem" id="add_group">
										</td>
									</tr>	
									</table>
								
								</div>
								<div class="TabbedPanelsContent">  
							        <?
									$query = "select config_key, config_value from configuration where config_group = 'SEO' and config_key is NOT NULL";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									if(mysql_num_rows($qok) <= 0)
									{
										echo "To enable SEO for non-product or category pages, please contact support";
									}
									else 
									{
										?>
										<table>
										<?
										while(list($seo_type, $seo_title) = mysql_fetch_array($qok))
										{
										?>
										<tr>
											<td>
												<a href= "javascript:void(0);" onclick= "top.e2window('/mgt/cf/metatags.phtml?typeid=0&type=<?=$seo_type;?>&inwin=1', 'Metatags for: <?=addslashes($seo_title);?>');"><img src="/mgt/images/config.gif"><?=$seo_title;?></a>
											</td>
										</tr>
										<?
										}
										?>
										</table>
										<?
									}
									?>
						        </div>
						        </div>
						</div>
						<script type="text/javascript">
						<!--
						var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
						//-->
						</script>
										
					
					
					</td>
				</tr>
				</table>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			
			<td>
				<div id="current_group" style="display:inline;">&nbsp;</div><BR><BR>
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th class="sortable_numeric">Key</th>
					<th>Value</th>
					<th>Note</th>
				</tr>	
				</table>	
				<BR><BR>
				<div id="saveconfig" style="display:none;">
				<input type="button" name="Action" value="Add Config" class="buttonItem" onclick="addConfig();">
				</div>
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<div id="saveform" class="dialogSaveForm">
<form name="mysaveform">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Add Config Group:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save Group" class="buttonItem">
<!--			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		-->
			<input type="button" name="Action" value="Cancel" class="buttonItem" onclick="$.unblockUI();"></td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>


<!------------------------------------------------------------------------------------------------------------------->
<div id="configform" class="dialog">
<form name="myconfigform">
<input type="hidden" name="config_id">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Group: <div id="cg">&nbsp;</div></td>		
		</tr>		
		<tr>
			<td>Key: <input type="text" name="config_key" class="formBox"></td>		
		</tr>
		<tr>
			<td>Value: <input type="text" name="config_value" class="formBox"></td>		
		</tr>
		<tr>
			<td>Note: <input type="text" name="config_note" class="formBox"></td>		
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<input type="button" name="Action" value="Save" class="buttonItem" onclick="saveUpdateConfig()">
				<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem">
				<input type="button" name="Delete" value="Delete" onclick="deleteSaveForm()" class="buttonItem">
				<BR>
				<div id="configformstatus" style="text-align:center;">&nbsp;</div>
			
			</td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>
<!------------------------------------------------------------------------------------------------------------------->

</body>
</html>