<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;
/******************************************************************************************/

$query = "select catname, parentid from product_categories where catid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catname, $parentid) = mysql_fetch_array($qok);

$cattree = $efc->getCatTreeExt($catid);

$ebaycat = "";

if($Action == "Save eBay Category")
{
	if(intval($level7) > 0) 	$ebaycat = $level7;
	elseif(intval($level6) > 0) $ebaycat = $level6;
	else if(intval($level5) > 0)$ebaycat = $level5;
	else if(intval($level4) > 0)$ebaycat = $level4;
	else if(intval($level3) > 0)$ebaycat = $level3;	
	else if(intval($level2) > 0)$ebaycat = $level2;	
	else if(intval($level1) > 0)$ebaycat = $level1;	
	
	if(intval($ebaycat) > 0)
	{
		if(intval($catid) > 0)
		{
			$query = "delete from ebay_categories where catid = '$catid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "insert into ebay_categories(ebay3, ebay2, ebay1, catid) values('$ebaycat', '$ebaycat', '$ebaycat', '$catid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else if(intval($pid) > 0)
		{
			$query = "delete from ebay_categories where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "insert into ebay_categories(ebay3, ebay2, ebay1, pid) values('$ebaycat', '$ebaycat', '$ebaycat', '$pid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		}
		?>
		<html>
		<script>
		function closeThis()
		{
			var thisframe = window.frameElement.id;
			var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
			var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
			top.refreshEbayContent('<?=$catid?>');
			top.closeWindow(thiswinname, thiswinid);
		}
		</script>
		<body onload="closeThis();">
		Loading...
		</body>
		</html>
		<?
		exit;
	}
}


if(intval($pid) > 0)
{
	$query = "select ebay3, ebay2, ebay1 from ebay_categories where pid = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($ebay3, $ebay2, $ebay1) = mysql_fetch_array($qok);
	
		if(intval($ebay3) > 0) $ebaycat = $ebay3;
		else if(intval($ebay2) > 0)$ebaycat = $ebay2;
		else if(intval($ebay1) > 0)$ebaycat = $ebay1;	
	}
}
else 
{
	$query = "select ebay3, ebay2, ebay1 from ebay_categories where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($ebay3, $ebay2, $ebay1) = mysql_fetch_array($qok);
	
		if(intval($ebay3) > 0) $ebaycat = $ebay3;
		else if(intval($ebay2) > 0)$ebaycat = $ebay2;
		else if(intval($ebay1) > 0)$ebaycat = $ebay1;	
	}
	
}

if($ebaycat != "")
{
	$catArray = array();
	
	$query = "select categorylevel, parentid from ebay_categories where catid = '$ebaycat'";
	if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($catlevel, $parentid) = mysql_fetch_array($qok);
	
	$catArray[] = $ebaycat;

	for($xx = $catlevel; $xx > 1; $xx--)
	{
		$catArray[] = $parentid;
							
		$query = "select parentid from ebay_categories where catid = '$parentid'";
		if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($parentid) = mysql_fetch_array($qok);
	}
	
	$catArray = array_reverse($catArray);

}
?>
<HTML>
<HEAD>
<TITLE>eBay Category</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var theSelect = document.getElementById("level"+level);
  	var catid = theSelect.options[ theSelect.selectedIndex ].value;
  	
  	var uselevel = (parseInt(g_level)) +1;
  	
  	for(xx = uselevel; xx <= 6; xx++)
  	{
		var theSelect = document.getElementById("level"+xx);
		theSelect.selectedIndex = 0;
		
  		var theDIV = document.getElementById("cat"+xx+"d");
		theDIV.style.display = 'none';	
		
  	}
  	
 	var url="/mgt/cf/ajax_getebaycats.phtml?catid="+catid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=gotCategories;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function gotCategories()
{
	if(xmlHttp.readyState==4)
	{
		if(xmlHttp.responseText == "NONE")
			return;
			
		var uselevel = (parseInt(g_level)) +1;
		
		var theDIV = document.getElementById("cat"+uselevel+"d");
		
		theDIV.style.display = 'block';
		
		var theSelect = document.getElementById("level"+uselevel);
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
		}			
		
		var lines = xmlHttp.responseText.split("\n");
		
		for(xx = 0; xx < lines.length; xx++)
		{
			if(lines[xx] != "")
			{
				var data = lines[xx].split("\t");
				
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);			
			}
		}
	}
}

function StartUP()
{
	var tmp = <?=count($catArray);?>;
	if (tmp > 0) {
		getCategories(tmp);	
	}
}
</script>
<body onload="StartUP();">

<form name="mt" method="POST" style="margin:0px">
<table width=100% border=0>
<tr>
	<td colspan=5>
	<!--------------------------------------------------------------->		
	
	<input type="hidden" name="catid" value="<?=$catid;?>">
	<input type="hidden" name="pid" value="<?=$pid;?>">
	<div style="width=675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<table>
	<tr>
		<td>
			<B>eBay Category for [<?=$pid;?>]:</B>
		</td>
		
		<td>
			<?
			if(intval($pid) > 0)
			{
				$query = "select product_manufacturers.manname, product_list.descr from product_list, product_manufacturers where 
								product_list.manid = product_manufacturers.manid and product_list.id = '$pid'";	
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($manname, $descr) = mysql_fetch_array($qok);
				
				echo "$manname - $descr [$pid]<BR>";
			}
			else 
			{
				$onnum = 0;
				for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
				{
					for($pp = 0; $pp < $onnum; $pp++)
						echo "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
						
					echo $cattree['catname'][$xx]."<BR>";
					
					$onnum++;
				}
			}
			?>
		</td>
	</tr>
	</table>
	</div>
	<!--------------------------------------------------------------->		
	</td>
</tr>
</table>


<table width=100% border=0>
<tr>
	<td width=100%>
		<select name="level1" id="level1" class="formSelect" onchange="getCategories('1');">
		<option value="">--- SELECT ---</option>
		<?
		$query = "select catid, catname, leafcategory from ebay_categories where categorylevel = '1' order by catname";
		if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
		{
			?>
			<option value="<?=$catid;?>" <?if($catArray[0] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
			<?
		}
		?>
		</select>	

		<div id="cat2d" style="display:<?if($catArray[1] == "") echo "none"; else echo "block";?>" style="padding-left:5px">
			<select id="level2" name="level2" class="formSelect" onchange="getCategories('2');">
				<option value="">--- SELECT ---</option>
				<?
				if($catArray[1] != "")
				{
					$query = "select catid, catname, leafcategory from ebay_categories where parentid = '".$catArray[0]."' order by catname";
					if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" <?if($catArray[1] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
						<?
					}
				}
				?>				
			</select>
		</div>

		<div id="cat3d" style="display:<?if($catArray[2] == "") echo "none"; else echo "block";?>" style="padding-left:10px">
			<select id="level3" name="level3" class="formSelect" onchange="getCategories('3');">
				<option value="">--- SELECT ---</option>
				<?
				if($catArray[2] != "")
				{
					$query = "select catid, catname, leafcategory from ebay_categories where parentid = '".$catArray[1]."' order by catname";
					if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" <?if($catArray[2] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
						<?
					}
				}
				?>	
			</select>
		</div>

		<div id="cat4d" style="display:<?if($catArray[3] == "") echo "none"; else echo "block";?>" style="padding-left:15px">
			<select id="level4" name="level4" class="formSelect" onchange="getCategories('4');">
				<option value="">--- SELECT ---</option>
				<?
				if($catArray[3] != "")
				{
					$query = "select catid, catname, leafcategory from ebay_categories where parentid = '".$catArray[2]."' order by catname";
					if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" <?if($catArray[3] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
						<?
					}
				}
				?>	
			</select>
		</div>

		<div id="cat5d" style="display:<?if($catArray[4] == "") echo "none"; else echo "block";?>" style="padding-left:20px">
			<select id="level5" name="level5" class="formSelect" onchange="getCategories('5');">
				<option value="">--- SELECT ---</option>
				<?
				if($catArray[4] != "")
				{
					$query = "select catid, catname, leafcategory from ebay_categories where parentid = '".$catArray[3]."' order by catname";
					if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" <?if($catArray[4] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
						<?
					}
				}
				?>	
			</select>
		</div>

		<div id="cat6d" style="display:<?if($catArray[5] == "") echo "none"; else echo "block";?>" style="padding-left:25px">
			<select id="level6" name="level6" class="formSelect" onchange="getCategories('6');">
				<option value="">--- SELECT ---</option>
				<?
				if($catArray[5] != "")
				{
					$query = "select catid, catname, leafcategory from ebay_categories where parentid = '".$catArray[4]."' order by catname";
					if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" <?if($catArray[5] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
						<?
					}
				}
				?>	
			</select>
		</div>
		
		<div id="cat7d" style="display:<?if($catArray[6] == "") echo "none"; else echo "block";?>" style="padding-left:25px">
			<select id="level7" name="level7" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				if($catArray[6] != "")
				{
					$query = "select catid, catname, leafcategory from ebay_categories where parentid = '".$catArray[5]."' order by catname";
					if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname, $leafcategory) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" <?if($catArray[6] == $catid) echo "SELECTED";?>><?=$catname;?> <? if($leafcategory == 1) echo "**";?></option>
						<?
					}
				}
				?>	
			</select>
		</div>		
	</td>
</tr>
</table>

<BR>
<table>
<tr>
	<td><I>Categories displayed with a ** at the end are leaf categories.</td>
</tr>
</table>
<BR>

<table width=100% border=0>
<tr>
	<td bgcolor="#eeeeee" align=center colspan=5>
		<input type="submit" name="Action" value="Save eBay Category" class="buttonItem">
	</td>
</tr>
</table>
</form>
			
</body>
</html>