<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Generic Shippers Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<?
if($Action == "Save")
{
	$query = "delete from generic_shipper_options where shipper_code = '$shipper_code'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into generic_shipper_options(shipper_code, manifest_copies, email_manifest_to, invoice_copies, email_invoice_to) ";
	$query .= " values('$shipper_code', '$manifest_copies', '$email_manifest_to', '$invoice_copies', '$email_invoice_to')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	?>
	<BODY onload="top.location='/mgt/cf/generic_shippers.phtml';">
	<B>Loading...</B>
	</BODY>
	</HTML>
	<?
}

if($id == "manna")
{
	$config_value = "manna";	
}
else 
{
	$query = "select config_value from configuration where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($config_value) = mysql_fetch_array($qok);
}

$query = "select manifest_copies, email_manifest_to, invoice_copies, email_invoice_to 
				from generic_shipper_options where shipper_code = '$config_value'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($manifest_copies, $email_manifest_to, $invoice_copies, $email_invoice_to) = mysql_fetch_array($qok);
	
?>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>

		Generic Shipper: <b><?=$config_value;?></b>
		<BR>
		<form name="options">
		<input type="hidden" name="cfid" value="<?=$id;?>">
		<input type="hidden" name="shipper_code" value="<?=$config_value;?>">
		<table>
		<tr>
			<td height=21>Manifest Copies:</td>
			<td>
				<input type="text" name="manifest_copies" value="<?=$manifest_copies;?>" class="formBox" style="width:25px">
			</td>
		</tr>
		<tr>
			<td height=21>Manifest Emailed To:</td>
			<td>
				<input type="text" name="email_manifest_to" value="<?=$email_manifest_to;?>" class="formBox" style="width:250px">
			</td>
		</tr>
		<tr>
			<td height=21>Invoice Copies:</td>
			<td>
				<input type="text" name="invoice_copies" value="<?=$invoice_copies;?>" class="formBox" style="width:25px">
			</td>
		</tr>
		<tr>
			<td height=21>Invoice Emailed To:</td>
			<td>
				<input type="text" name="email_invoice_to" value="<?=$email_invoice_to;?>" class="formBox" style="width:250px">
			</td>
		</tr>		
		</table>
		<input type="submit" name="Action" value="Save" class="buttonItem">
		</form>
	</td>
</tr>
</table>
	
</body>
</html>