<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
// check the permissions
$efc->hasPermission("perm_email_templates"); // will redirect on failure

if($Action == "Save Cat")
{
	$savename = addslashes($savename);
	$query = "insert into email_template_categories(name) values('$savename')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/cf/emailtemplates.phtml");
	exit;
}
else if($Action == "Delete Cat")
{
	$query = "delete from email_template_categories where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/cf/emailtemplates.phtml");
	exit;	
}
?>
<HTML>
<HEAD>
<TITLE>Configuration Email Templates</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function addGroup()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = posY;
		dlg.style.left = posX;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";

	var dlg = document.getElementById("configform");
	dlg.style.display = "none";
}

var current_cat = '';

function loadTemplates(email_group, email_name)
{
	current_cat = email_group;
	
	xml7Http=GetXmlHttpObject();
	
	document.getElementById("current_group").innerHTML =  "<B>Current Group: "+email_name+"</B>";

	document.getElementById("saveconfig").style.display = "block";
	//current_config = config_group;
	
	var url="/mgt/cf/ajax_getemailtemplates.phtml?ec="+email_group+"&sid="+Math.random();
	
	xml7Http.onreadystatechange=templatesLoaded;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	return false;	
}

function templatesLoaded() 
{ 
	if(xml7Http.readyState==4)
	{ 
		
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}	

		/////////////////////////////////////////////////////////////////////////////////////////
		var lines = xml7Http.responseText.split("\n");
			
		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					if(pp == 1)
						newCell.innerHTML = "<div align=left><a href=\"#\" onclick=\"e2window('/mgt/cf/emailtemplates_edit.phtml?id="+rows[0]+"', 'Email Templates');\"><img src=\"/mgt/images/keyval.gif\">&nbsp;"+rows[pp]+"</div>";
					else
						newCell.innerHTML = "<div align=left>"+rows[pp]+"</div>";
					
				}
			}
		}
		/////////////////////////////////////////////////////////////////////////////////////////			
	}
}


function deleteGroup(email_group, email_name)
{
	if(confirm('Are you sure you want to delete the Email Category "'+email_name+'" and all its values?'))
	{
		document.location = "/mgt/cf/emailtemplates.phtml?Action=Delete+Cat&id="+email_group;
		return;
	}
}

function addEmailTemplate()
{
	e2window('/mgt/cf/emailtemplates_edit.phtml?cid='+current_cat, 'Email Templates');
}

function StartUp()
{
	<?
	if(intval($cid) > 0)
	{
		$query = "select name from email_template_categories where id = '$cid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($email_name) = mysql_fetch_array($qok);
		?>
		loadTemplates('<?=$cid;?>', '<?=$email_name;?>')
		<?
		
	}
	?>
}
</script>

<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body onload='StartUp();'>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Email Templates</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<table style="width:275;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<tr>
					<td>
					
						<table>
							<?
							$query = "select id, name from email_template_categories order by name";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									
							while(list($template_id, $template_category) = mysql_fetch_array($qok))
							{
							?>
							<tr>
								<td>
									<a href="javascript:void(0);" onclick="loadTemplates('<?=$template_id;?>', '<?=$template_category;?>')">
									<img src="/mgt/images/e-mail.gif"><?=$template_category;?>
									</a>
									<SUP><a href="javascript:deleteGroup('<?=$template_id;?>', '<?=$template_category;?>');" class="x">x</a></SUP>
								</td>
							</tr>
							<?
						}
						?>
						<tr>
							<td align=center>
								<BR><BR>
								<input type="button" name="Action" value="Add Template Category" class="buttonItem" onclick="addGroup();">
							</td>
						</tr>	
						</table>				
					
					
					</td>
				</tr>
				</table>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			<!--- echo "$id\t$name\t$subject\t$showdate\n"; -->
			<td>
				<div id="current_group" style="display:inline;">&nbsp;</div><BR><BR>
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th>ID</th>
					<th>Title</th>
					<th>Subject</th>
					<th>Created</th>
				</tr>	
				</table>	
				<BR><BR>
				<div id="saveconfig" style="display:none;">
				<input type="button" name="Action" value="Add Template" class="buttonItem" onclick="addEmailTemplate();">
				</div>
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<div id="saveform" class="dialog">
<form name="mysaveform">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Add Template Category:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save Cat" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
	
</tr>
</table>
</form>
</div>


</body>
</html>