<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$query = "select catname, parentid from product_categories where catid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catname, $parentid) = mysql_fetch_array($qok);

$query = "select taxonomy from category_taxonomy where catid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($current_taxonomy) = mysql_fetch_array($qok);


if($Action == "Save Taxonomy")
{
	//sel_csv
	$query = "delete from category_taxonomy where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if($sel_csv != "")
	{
		$query = "insert into category_taxonomy(catid, taxonomy) values('$catid', '".addslashes($sel_csv)."')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	?>
	<html>
	<script>
	function closeThis()
	{
		var thisframe = window.frameElement.id;
		var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
		var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
	
		top.showBottomCat('<?=$parentid;?>');
		top.closeWindow(thiswinname, thiswinid)
	}
	</script>
	<body onload="closeThis();">
	Loading...
	</body>
	</html>
	<?	
	
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Google Taxonomy</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
</script>
<body>

<form name="mt" method="POST" style="margin:0px">
<table width=100%>
<tr>
	<td>
	<!--------------------------------------------------------------->		
	
	<input type="hidden" name="catid" value="<?=$catid;?>">
	<div style="width=675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<table>
	<tr>
		<td>
			<div style="padding-top:2px">Google Taxonomy For: <B><?=$catname;?></B></div>
		</td>
	</tr>
	</table>
	</div>
	<!--------------------------------------------------------------->		
	</td>
</tr>

<tr>
	<td>

	
		<input type="hidden" name="pid" value="<?=$pid;?>">
		<LINK href="/mgt/sm/google/treestyle.css"  type=text/css rel=stylesheet>
		<SCRIPT src="/mgt/sm/google/tree.js" type=text/javascript></SCRIPT>
		</div>		
		<table width=675>
		<tr>
			<td>
				<table>
				<tr>
					<td><B>Current</B>: </td>
					<td><input type="text" name="sel_csv" id="sel_csv" value="<?=$current_taxonomy;?>" class="formBox" style="width:500px"></td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
		<HR NOSHADE>	
		<table>
		<tr>
			<td><B>Search</B>:</td>
			<td><INPUT class="formBox" id=typotree> &nbsp;<SPAN class=expandall onclick=expandAll(ic_config);>Expand all</SPAN></td>
		</tr>
		</table>
		<DIV id=itemclass_searchable_root width="100%">&nbsp;</DIV>
		<SCRIPT language=JavaScript>tree_initialize();</SCRIPT>	
	
	
	</td>
</tr>
<tr>
	<td bgcolor="#eeeeee" align=center>
		<input type="submit" name="Action" value="Save Taxonomy" class="buttonItem">
	</td>
</tr>
</table>
</form>
			
</body>
</html>