<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$thiscatid = $catid;

$query = "select catname, parentid from product_categories where catid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catname, $parentid) = mysql_fetch_array($qok);

if($Action == "Save Newegg Category")
{
	if(intval($level8) > 0) 	 $neweggcat = $level8;
	else if(intval($level7) > 0) $neweggcat = $level7;
	else if(intval($level6) > 0) $neweggcat = $level6;
	else if(intval($level5) > 0) $neweggcat = $level5;
	else if(intval($level4) > 0) $neweggcat = $level4;
	else if(intval($level3) > 0) $neweggcat = $level3;	
	else if(intval($level2) > 0) $neweggcat = $level2;	
	else if(intval($level1) > 0) $neweggcat = $level1;	
	
	if(intval($neweggcat) > 0)
	{
		if(intval($catid) > 0)
		{
			$query = "delete from newegg_categories where catid = '$catid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "select newegg_cat_id from newegg_cat_tree where cat_id = '$neweggcat'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($newcat_val) = mysql_fetch_array($qok);
			
			$query = "insert into newegg_categories(catid, neweggcat) values('$catid', '$newcat_val')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else if(intval($pid) > 0)
		{
			$query = "delete from newegg_categories_pid where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "select newegg_cat_id from newegg_cat_tree where cat_id = '$neweggcat'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($newcat_val) = mysql_fetch_array($qok);
			
			$query = "insert into newegg_categories_pid(pid, neweggcat) values('$pid', '$newcat_val')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		}
		
		?>
		<html>
		<script>
		function closeThis()
		{
			var thisframe = window.frameElement.id;
			var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
			var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
		
			<?
			if(intval($parentid) > 0)
			{
				?>
				top.showBottomCat('<?=$parentid;?>');
				<?
			}
			?>
			
			top.closeWindow(thiswinname, thiswinid)
		}
		</script>
		<body onload="closeThis();">
		Loading...
		</body>
		</html>
		<?
		exit;
	}
}

if(intval($pid) > 0)
{
	$query = "select neweggcat from newegg_categories_pid where pid = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($neweggcat) = mysql_fetch_array($qok);
	}
}
else 
{
	$query = "select neweggcat from newegg_categories where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($neweggcat) = mysql_fetch_array($qok);
	}
	
}
//print_r($buycat);

if($neweggcat != "")
{
	$query = "select cat_id,parent_id from newegg_cat_tree where newegg_cat_id = '$neweggcat'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($buy_id,$parentid) = mysql_fetch_array($qok);
	
	$catArray = array();
	
	$catArray[] = $buy_id;
	$catArray[] = $parentid;
	
//	$parentid = $buycat;
	
	while($parentid != 0)
	{
		$query = "select parent_id from newegg_cat_tree where cat_id = '$parentid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($parentid) = mysql_fetch_array($qok);
		
		
		
		if(intval($parentid) > 0)
			$catArray[] = $parentid;
	}
	$catArray = array_reverse($catArray);
}
?>
<HTML>
<HEAD>
<TITLE>Newegg.com Taxonomy</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
</HEAD>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var g_cat = 0;

function getCategories(level)
{
	if(parseInt(level) == 0) return;
	
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var theSelect = document.getElementById("level"+level);
  	var catid = theSelect.options[ theSelect.selectedIndex ].value;
  	
  	var uselevel = (parseInt(g_level)) +1;
  	
  	for(xx = uselevel; xx <= 5; xx++)
  	{
		var theSelect = document.getElementById("level"+xx);
		theSelect.selectedIndex = 0;
		
  		var theDIV = document.getElementById("cat"+xx+"d");
		theDIV.style.display = 'none';	
		
  	}
  	
 	var url="/mgt/cf/ajax_getneweggcats.phtml?catid="+catid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=gotCategories;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function gotCategories()
{
	if(xmlHttp.readyState==4)
	{
		if(xmlHttp.responseText == "NONE")
			return;
			
		var uselevel = (parseInt(g_level)) +1;
		
		var theDIV = document.getElementById("cat"+uselevel+"d");
		
		theDIV.style.display = 'block';
		
		var theSelect = document.getElementById("level"+uselevel);
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
		}			
		
		var lines = xmlHttp.responseText.split("\n");
		
		for(xx = 0; xx < lines.length; xx++)
		{
			if(lines[xx] != "")
			{
				var data = lines[xx].split("\t");
				
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.setAttribute('title',data[2]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);			
			}
		}
	}
}

function StartUP()
{
	getCategories('<?=count($catArray);?>');
}

function loadTLIDs()
{
	if(document.mt.override_rid.selectedIndex == 0)
		return;
	
	var rid = document.mt.override_rid.options[ document.mt.override_rid.selectedIndex ].value;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
 	var url="/mgt/cf/ajax_gettlids.phtml?rid="+rid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=gotTLIDs;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function gotTLIDs()
{
	if(xmlHttp.readyState==4)
	{
		if(xmlHttp.responseText == "")
			return;
			
		var theSelect = document.getElementById("tlid");
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
		}			
		
		var lines = xmlHttp.responseText.split("\n");
		
		for(xx = 0; xx < lines.length; xx++)
		{
			if(lines[xx] != "")
			{
				var data = lines[xx].split("\t");
				
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);			
			}
		}
	}	
}
function validSave() {
	var final_label = '';
	for (var i=1;i<=8;i++) {
		if($('#level'+i).attr('selectedIndex') > 0) {
			final_label = $('#level'+i+' option:selected').attr('title');
		}
	}
	if (final_label==0 || final_label =='') {
		alert("Please select a different category!")
	}
	else {
		$('#mt').submit();
	}
//	alert(final_label);
}
</script>
<body onload="StartUP();">

<form name="mt" method="POST" id="mt" style="margin:0px">
<table width=100%>
<tr>
	<td colspan=3>
	<!--------------------------------------------------------------->		
	
	<input type="hidden" name="catid" value="<?=$catid;?>">
	<div style="width=675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<table>
	<tr>
		<td>
			<div style="padding-top:2px">Newegg.com Taxonomy For: <B><?=$catname;?></B></div>
		</td>
	</tr>
	</table>
	</div>
	<!--------------------------------------------------------------->		
	</td>
</tr>

<tr>
	<td>
		<select name="level1" id="level1" class="formSelect" onchange="getCategories('1');">
		<option value="" title="">--- SELECT ---</option>
		<?
		$query = "select cat_id, cat_name,newegg_cat_id from newegg_cat_tree where parent_id = '0' order by cat_name";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname,$neweggcat_tmp) = mysql_fetch_array($qok))
		{
			?>
			<option value="<?=$catid;?>" title="<?=$neweggcat_tmp?>" <?if($catid == $catArray[0]) echo "SELECTED";?>><?=$catname;?></option>
			<?
		}
		?>
		</select>
	
		<div id="cat2d" style="padding-left:5px;display:<?if($catArray[1] == "") echo "none"; else echo "block";?>">
			<select id="level2" name="level2" class="formSelect" onchange="getCategories('2');">
			<option value="" title="">--- SELECT ---</option>
				<?
				if($catArray[1] != "")
				{
					$query = "select cat_id, cat_name,newegg_cat_id from newegg_cat_tree where parent_id = '".$catArray[0]."' order by cat_name";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname,$neweggcat_tmp) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" title="<?=$neweggcat_tmp?>" <?if($catArray[1] == $catid) echo "SELECTED";?>><?=$catname;?></option>
						<?
					}
				}
				?>	
			</select>
		</div>
	
		
		<div id="cat3d" style="padding-left:10px;display:<?if($catArray[2] == "") echo "none"; else echo "block";?>">
			<select id="level3" name="level3" class="formSelect" onchange="getCategories('3');">
			<option value="" title="">--- SELECT ---</option>
				<?
				if($catArray[2] != "")
				{
					$query = "select cat_id, cat_name,newegg_cat_id from newegg_cat_tree where parent_id = '".$catArray[1]."' order by cat_name";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname,$neweggcat_tmp) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" title="<?=$neweggcat_tmp?>" <?if($catArray[2] == $catid) echo "SELECTED";?>><?=$catname;?></option>
						<?
					}
				}
				?>	
			</select>
		</div>

		<div id="cat4d" style="padding-left:15px;display:<?if($catArray[3] == "") echo "none"; else echo "block";?>">
			<select id="level4" name="level4" class="formSelect" onchange="getCategories('4');">
			<option value="" title="">--- SELECT ---</option>
				<?
				if($catArray[3] != "")
				{
					$query = "select cat_id, cat_name,newegg_cat_id from newegg_cat_tree where parent_id = '".$catArray[2]."' order by cat_name";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname,$neweggcat_tmp) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" title="<?=$neweggcat_tmp?>" <?if($catArray[3] == $catid) echo "SELECTED";?>><?=$catname;?></option>
						<?
					}
				}
				?>	
			
			</select>
		</div>

		<div id="cat5d" style="padding-left:20px;display:<?if($catArray[4] == "") echo "none"; else echo "block";?>">
			<select id="level5" name="level5" class="formSelect" onchange="getCategories('5');">
			<option value="" title="">--- SELECT ---</option>
				<?
				if($catArray[4] != "")
				{
					$query = "select cat_id, cat_name,newegg_cat_id from newegg_cat_tree where parent_id = '".$catArray[3]."' order by cat_name";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($catid, $catname,$neweggcat_tmp) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$catid;?>" title="<?=$neweggcat_tmp?>" <?if($catArray[4] == $catid) echo "SELECTED";?>><?=$catname;?></option>
						<?
					}
				}
				?>	
			</select>
		</div>	
	</td>
	<td>&nbsp;&nbsp;</td>
	<td>


	</td>
</tr>
<tr>
	<td bgcolor="#eeeeee" align=center colspan=3>
		<input type="hidden" name="Action" value="Save Newegg Category" />
		<input type="button" onclick="validSave()" value="Save Newegg Category" class="buttonItem">
	</td>
</tr>
</table>
</form>
<table>
<tr>
	<td></td>
</tr>
</table>

</body>
</html>