<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
	function sanitizeInput($data) 
	{
		$data = str_replace("\"", "", $data);
		$data = str_replace("'", "", $data);
	/*	$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);*/
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);
		
		return $data;
	}
// check the permissions
$efc->hasPermission("perm_order_flow"); // will redirect on failure

if($Action == "Save Step")
{
	$ofscript = addslashes($ofscript);
  //  $ofscript = sanitizeInput($ofscript);

//    $status = addslashes($status);
    $status = sanitizeInput($status);
    
//    $explanation = addslashes($explanation);
	$explanation = sanitizeInput($explanation);

	if( intval($id) > 0 )
	{
      $step = sanitizeInput($step);
      $failure = sanitizeInput($failure);
      $success = sanitizeInput($success);
      $query = "update company_orderflow set step = '$step', failure = '$failure', success = '$success', 
					alt_step1 = '$alt_step1', alt_step2 = '$alt_step2', alt_step3 = '$alt_step3', status = '$status', 
					explanation = '$explanation', authorize = '$authorize', capture = '$capture', charge = '$charge',
					pick_submit = '$pick_submit', ship = '$ship', complete = '$complete', assign = '$assign', email = '$email',
					emailid = '$emailid', script = '$script', assign_sales = '$assign_sales', manual = '$manual', refund = '$refund',
					editable = '$editable', anypush = '$anypush', zerobal = '$zerobal', exclude = '$exclude', dropship = '$dropship', sendinvoice = '$sendinvoice' where id = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}
	else 
	{
      $step = sanitizeInput($step);
      $failure = sanitizeInput($failure);
      $success = sanitizeInput($success);

		$query = "insert into company_orderflow(step, failure, success, alt_step1, alt_step2, alt_step3, status, explanation, authorize, capture, charge,
				pick_submit, ship, complete, assign, email, emailid, script, assign_sales, manual, refund, editable, anypush, zerobal, exclude, dropship, sendinvoice) ";
		$query .= "values('$step', '$failure', '$success', '$alt_step1', '$alt_step2', '$alt_step3', '$status', '$explanation', '$authorize', '$capture', '$charge',
				'$pick_submit', '$ship', '$complete', '$assign', '$email', '$emailid', '$script', '$assign_sales', '$manual', '$refund', '$editable', '$anypush', 
				'$zerobal', '$exclude', '$dropship', '$sendinvoice')";
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$id = mysql_insert_id();
	}
	
	$query = "delete from company_orderflow_scripts where ofid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into company_orderflow_scripts(ofid, script) values('$id', '$ofscript')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="top.location='/mgt/cf/orderflow.phtml';">
	Loading...
	</BODY>
	</HTML>
	<?
	exit;
}
else if($Action == "Delete Step")
{
	$query = "delete from company_orderflow where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from company_orderflow_scripts where ofid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="top.location='/mgt/cf/orderflow.phtml';">
	Loading...
	</BODY>
	</HTML>
	<?
	exit;	
	
}
else if( intval($id) > 0 )
{
	$query = "select id, step, failure, success, alt_step1, alt_step2, alt_step3, status, explanation, authorize, capture, charge,
				pick_submit, ship, complete, assign, email, emailid, script, assign_sales, manual, refund, editable, anypush, 
				zerobal, exclude, dropship, sendinvoice from company_orderflow where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($id, $step, $failure, $success, $alt_step1, $alt_step2, $alt_step3, $status, $explanation, $authorize, $capture, $charge,
				$pick_submit, $ship, $complete, $assign, $email, $emailid, $script, $assign_sales, $manual, $refund, $editable, $anypush, 
				$zerobal, $exclude, $dropship, $sendinvoice) = mysql_fetch_array($qok);
				
	$status = stripslashes($status);
	$explanation = stripslashes($explanation);
	
}
?>
<HTML>
<HEAD>
<TITLE>Configuration</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function cancelWindow()
{
	var thisframe = window.frameElement.id;
	var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
	var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
	

	top.closeWindow(thiswinname, thiswinid)
}


function deleteStep()
{
	if(confirm('Are you sure you want to delete this step?'))
	{
		window.location="/mgt/cf/orderflow_step.phtml?Action=Delete+Step&id=<?=$id;?>";
	}
}

function loadTemplates()
{
	var	cat = document.orderflow_step.emailcat.options[ document.orderflow_step.emailcat.selectedIndex ].value;
  
	if(parseInt(cat) <= 0)
	{
		var theSelect = document.getElementById("emailid");
		/////////////////////////////////////////////////////////////////////////////////////////
		var lines = xml7Http.responseText.split("\n");
		
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }
			nOption = document.createElement('option'); 
			isData = document.createTextNode("- NO TEMPLATES AVAILABLE"); 
			nOption.setAttribute('value',"0"); 
			nOption.appendChild(isData); 
			
			//isList = document.advform.cat1;
			theSelect.appendChild(nOption);			
	    
	   
	    return;
	}
	
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/cf/ajax_getemailtemplates.phtml?ec="+cat+"&sid="+Math.random();
	
	xml7Http.onreadystatechange=templatesLoaded;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	return false;	
}

function templatesLoaded() 
{ 
	if(xml7Http.readyState==4)
	{ 
		var theSelect = document.getElementById("emailid");
		/////////////////////////////////////////////////////////////////////////////////////////
		var lines = xml7Http.responseText.split("\n");
		
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
			
		for(xx = 0; xx < lines.length; xx++)
		{// "$id\t$name\t$subject\t$showdate\n"
			
			rows = lines[xx].split("\t");
	
			
			
			nOption = document.createElement('option'); 
			isData = document.createTextNode(rows[1]); 
			nOption.setAttribute('value',rows[0]); 
			nOption.appendChild(isData); 
			
			//isList = document.advform.cat1;
			theSelect.appendChild(nOption);			
		}
		/////////////////////////////////////////////////////////////////////////////////////////			
	}
}

</script>
<body>
<div id="savecover" class="cover"></div>
<table width="<?=$e2width;?>" height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<div style="padding-left:5px;padding-top:5px">
		
		<form name="orderflow_step" onsubmit="return checkData();">
		<input type="hidden" name="id" value="<?=$id;?>">
		<table>
		<tr>
			<td>
			<!------------------------------------------------------------------------------------------------------------------------------------------->
			<?ob_start();?>
				<table>
				<tr>
					<td><div align=right>Step Code*:</td>
					<td>
						<input type="text" name="step" value="<?=$step;?>" class="formBox" style="width:50px">
					</td>
				</tr>
				<tr>
					<td><div align=right>Success:</td>
					<td><input type="text" name="success" value="<?=$success;?>" class="formBox" style="width:50px"></td>
				</tr>
				<tr>
					<td><div align=right>Failure:</td>
					<td><input type="text" name="failure" value="<?=$failure;?>" class="formBox" style="width:50px"></td>
				</tr>
				<tr bgcolor="#FAF0C2">
					<td><div align=right>Status Text:</td>
					<td><input type="text" name="status" value="<?=$status;?>" class="formBox" style="width:120px"></td>
				</tr>
				<tr>
					<td bgcolor="#FAF0C2"><div align=right>Explanation:</td>
					<td>
						<textarea style="width:120px;height:75px" name="explanation" class="formBox" ><?=htmlspecialchars($explanation);?></textarea>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<input type="checkbox" name="editable" value="1" <?if($editable == 1) echo "CHECKED";?>>Order is Editable (on this step)<BR>
						<input type="checkbox" name="anypush" value="1" <?if($anypush == 1) echo "CHECKED";?>>Free Movement from this step<BR>
						
					</td>
				</tr>				
				</table>
			<?
			$buffer = ob_get_clean();
			$efc->outputBox($buffer);
			?>
			<BR>
			<!------------------------------------------------------------------------------------------------------------------------------------------->
			<?ob_start();?>
				
				
				<table>
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="authorize" <?if($authorize == 1) echo "CHECKED";?>>Authorize</td>
					<td NOWRAP><input type="checkbox" value="1" name="capture" <?if($capture == 1) echo "CHECKED";?>>Capture</td>
					<td NOWRAP><input type="checkbox" value="1" name="charge" <?if($charge == 1) echo "CHECKED";?>>Charge</td>
				</tr>	
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="pick_submit" <?if($pick_submit == 1) echo "CHECKED";?>>Pick/Submit</td>
					<td NOWRAP><input type="checkbox" value="1" name="ship" <?if($ship == 1) echo "CHECKED";?>>Ship</td>
					<td NOWRAP><input type="checkbox" value="1" name="refund" <?if($refund == 1) echo "CHECKED";?>>Void/Refund</td>
				</tr>	
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="assign" <?if($assign == 1) echo "CHECKED";?>>Assign Mgr</td>
					<td NOWRAP><input type="checkbox" value="1" name="assign_sales" <?if($assign_sales == 1) echo "CHECKED";?>>Assign Sales</td>
					<td NOWRAP><input type="checkbox" value="1" name="complete" <?if($complete == 1) echo "CHECKED";?>>Complete</td>
				</tr>	
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="zerobal" <?if($zerobal == 1) echo "CHECKED";?>>Require $0 Balance</td>
					<td NOWRAP><input type="checkbox" value="1" name="script" <?if($script == 1) echo "CHECKED";?>>Execute Script</td>
					<td NOWRAP><input type="checkbox" value="1" name="exclude" <?if($exclude == 1) echo "CHECKED";?>>Exclude (complete)</td>
				</tr>	
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="dropship" <?if($dropship == 1) echo "CHECKED";?>>Drop Ship</td>
					<td NOWRAP><input type="checkbox" value="1" name="sendinvoice" <?if($sendinvoice == 1) echo "CHECKED";?>>Attach PDF Invoice</td>
					<td NOWRAP>&nbsp;</td>
				</tr>	
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="manual" <?if($manual == 1) echo "CHECKED";?>>Manual Step:</td>
					<td colspan=2>
						<input type="text" name="alt_step1" value="<?=$alt_step1;?>" class="formBox" style="width:50px">
						<input type="text" name="alt_step2" value="<?=$alt_step2;?>" class="formBox" style="width:50px">
						<input type="text" name="alt_step3" value="<?=$alt_step3;?>" class="formBox" style="width:50px">
					</td>
				</tr>	
				<tr>
					<td NOWRAP><input type="checkbox" value="1" name="email" <?if($email == 1) echo "CHECKED";?>>Send Email:</td>
					<td colspan=2>
						<select name="emailcat" class="formSelect" id="emailcat" onchange="loadTemplates()">
							<option value="0">--- Select Email Category ---</option>
							<?
							
							if( intval($emailid) > 0 )
							{
								$query = "select cid from email_templates where id = '$emailid'";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($this_email_cat) = mysql_fetch_array($qok);
							}
							
							$query = "select id, name from email_template_categories order by name";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($email_cat, $email_cat_name) = mysql_fetch_array($qok))
							{
							?>	
								<option value="<?=$email_cat;?>" <?if($email_cat == $this_email_cat) echo "SELECTED";?>><?=$email_cat_name;?>
							<?
							}
							?>
						</select>				
						
						<select name="emailid" id="emailid" class="formSelect">
							<?
							if(intval($this_email_cat) > 0)
							{
								$query = "select id, name, subject, tstamp from email_templates where cid = '$this_email_cat'";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
								while(list($ec_id, $ec_name, $ec_subject, $ec_tstamp) = mysql_fetch_array($qok))
								{
								?>	
								<option value="<?=$ec_id;?>" <?if($emailid == $ec_id) echo "SELECTED";?>><?=$ec_name;?>
								<?									
								}
							}
							else 
							{
							?>
								<option value="0">- NO TEMPLATES AVAILABLE
							<?
							}
							?>
						</select>				
					</td>
				</tr>	
				</table>
							
			<?
			$buffer = ob_get_clean();
			$efc->outputBox($buffer);
			?>
				
				<!------------------------------------------------------------------------------------------------------------------------------------------->			
			</td>
			
			<td>
				<?
				$query = "select script from company_orderflow_scripts where ofid = '$id'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($ofscript) = mysql_fetch_array($qok);
				
				$ofscript = stripslashes($ofscript);
				?>
				<textarea name="ofscript" class="formBox" style="width:350px;height:300px"><?if($ofscript != "") echo $ofscript; else echo "// order flow script here";?></textarea>
				<BR>
				<input type="submit" name="Action" value="Save Step" class="buttonItem">
				<input type="button" name="Action" value="Delete Step" class="buttonItem" onclick="deleteStep();">
				<input type="button" name="Action" value="Cancel" class="buttonItem" onclick="cancelWindow();">
				<BR><BR>

				
			</td>
		</tr>
		</table>
		<form>
	</td>
</tr>
</table>

</body>
</html>