<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

// check the permissions
$efc->hasPermission("perm_shipping"); // will redirect on failure

if($Action == "Delete")
{
	$query = "delete from shipping_codes where catid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
<HTML>
<HEAD>
<TITLE>Configuration Shipping</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function addShipping()
{
	e2window('/mgt/cf/shipping_method.phtml', 'Shipping Method');	
}

function showShipping(catid)
{
	xml7Http=GetXmlHttpObject();
	

	var url="/mgt/cf/ajax_getmethods.phtml?catid="+catid+"&sid="+Math.random();
	
	xml7Http.onreadystatechange=shippingResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	
	return false;	
}

function shippingResult() 
{ 
	if(xml7Http.readyState==4)
	{ 
		
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}	

		/////////////////////////////////////////////////////////////////////////////////////////
		var lines = xml7Http.responseText.split("\n");
			
		document.getElementById("current_shipping").innerHTML = "<B>"+lines[0]+"</B>";
		
		for(xx = 1; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					if(pp > 0)
					{
						var newCell = newRow.insertCell(pp - 1);
						
						if(pp == 1)
							newCell.innerHTML = "<div align=left><a href='javascript:e2window(\"/mgt/cf/shipping_method.phtml?id="+rows[0]+"\", \"Edit Shipping Method\");'>"+rows[pp]+"</a></div>";
						else
							newCell.innerHTML = "<div align=left>"+rows[pp]+"</div>";
					}
					
				}
			}
		}
		/////////////////////////////////////////////////////////////////////////////////////////			
	}
}

function deleteShipping(shipid, shipname)
{
	if(confirm('Are you sure you want to delete shipping category "'+shipname+'" and all its shipping methods?'))
	{
		document.location = "/mgt/cf/shipping.phtml?Action=Delete&id="+shipid;
		return;
	}
}

function StartUp()
{
	<?
	if($_SESSION["SHIPPING_CAT"] != "")
	{
	?>
		showShipping('<?=$_SESSION["SHIPPING_CAT"];?>');
	<?
	}
	?>
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body onload="StartUp()">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Shipping</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<table style="width:275;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<tr>
					<td>
					
						<table>
							<?
							$query = "select distinct(catid) from shipping_codes";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									
							while(list($catid) = mysql_fetch_array($qok))
							{
							?>
							<tr>
								<td>
									<?
									if($catid == 0)
									{// stand alone... applies only when assigned on a sku level
										$shipping_name = "No Category";
									}
									else if($catid == -1)
									{// Globally assigned to all products
										$shipping_name = "Global Category";
									}
									else 
									{// specific cat
										/*$query = "select catname from product_categories where catid = '$catid'";
										if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list($shipping_name) = mysql_fetch_array($q4ok);		*/								
										
										$cattree = $efc->getCatTreeExt($catid);
										
										$shipping_name = "";
										
										for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
										{
											if($shipping_name == "")
												$shipping_name = $cattree['catname'][$xx];
											else 
												$shipping_name .= "<BR>".$cattree['catname'][$xx];
										}
										
									}
									?>
											<table>
											<tr><td><a href="javascript:void(0);" onclick="showShipping('<?=$catid;?>')"><img src="/mgt/images/ship.gif"></a></td>
											<td><a href="javascript:void(0);" onclick="showShipping('<?=$catid;?>')"><?=$shipping_name;?></a></td>
											<td><a href="javascript:deleteShipping('<?=addslashes($catid);?>', '<?=htmlspecialchars($shipping_name);?>');" class="x">x</a></td>
											</tr>
											</table>
								</td>
							</tr>
							<?
						}
						?>
						<tr>
							<td align=center>
								<BR><BR>
								<input type="button" name="Action" value="Add Shipping" class="buttonItem" onclick="addShipping();">
							</td>
						</tr>	
						</table>				
					
					
					</td>
				</tr>
				</table>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			
			<td>
				<div id="current_shipping" style="display:inline;">&nbsp;</div><BR><BR>
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th>Method Name</th>
					<th>Description</th>
					<th>Active</th>
					<th>Flat-Rate</th>
					<th>Note</th>
				</tr>	
				</table>	
				<BR><BR>
				<div id="saveconfig" style="display:none;">
				<input type="button" name="Action" value="Add Config" class="buttonItem" onclick="addConfig();">
				</div>
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>