<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
if($Action=="TypeB")
{
	$query = "delete from inventory_types where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	$query = "insert into inventory_types(catid, inv_type, wh_specific) values('$catid', 'B', '1')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	Header("Location: /mgt/cf/size_matrix.phtml?pid=$pid&catid=$catid");
}
else if($Action=="TypeA")
{
	$query = "delete from inventory_types where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	//lotsa more shit to delete product_inventory_b  inventory_types_ext
		
	Header("Location: /mgt/cf/size_matrix.phtml?pid=$pid&catid=$catid");
}
else if($Action == "Add Warehouse")
{
	$query = "select config_key from configuration where config_group = 'Warehouse List B' order by config_key + 0 desc limit 0, 1;";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($newwhid) = mysql_fetch_array($qok);
	$newwhid = $newwhid + 1;
		
	$query = "insert into configuration(config_group, config_key, config_value) values('Warehouse List B', '$newwhid', '$whname')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	Header("Location: /mgt/cf/size_matrix.phtml?pid=$pid&catid=$catid");
}
else if($Action == "Save Matrix")
{
	$query = "select id, inv_type from inventory_types where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($itid, $inv_type) = mysql_fetch_array($qok);

	if($inv_type == "B")
	{
		$query = "delete from inventory_types_ext where itid = '$itid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		for($xx = 0; $xx < count($whlist); $xx++)
		{
			$query = "insert into inventory_types_ext(itid, whid) values('$itid', '".$whlist[$xx]."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
	}
	
	Header("Location: /mgt/cf/size_matrix.phtml?pid=$pid&catid=$catid");
}


$efc->hasPermission("perm_accbycat"); // will redirect on failure

$cattree = $efc->getCatTreeExt($catid);
?>
<HTML>
<HEAD>
<TITLE>Salesman Cost Defaults</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
</script>
<body>


<table width=100%>
<tr>
	<td>
	<div style="width=100%;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<table>
	<tr>
		<td>
			<B>Size Matrix:</B>
		</td>
		
		<td>
			<?
			if(intval($pid) > 0)
			{
				$query = "select product_manufacturers.manname, product_list.descr from product_list, product_manufacturers where 
								product_list.manid = product_manufacturers.manid and product_list.id = '$pid'";	
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($manname, $descr) = mysql_fetch_array($qok);
				
				echo "$manname - $descr [$pid]<BR>";
			}
			else 
			{
				$onnum = 0;
				for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
				{
					for($pp = 0; $pp < $onnum; $pp++)
						echo "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
						
					echo $cattree['catname'][$xx]."<BR>";
					
					$onnum++;
				}
			}
			?>
		</td>
	</tr>
	</table>
	</div>
	
	<?
	$query = "select id, inv_type from inventory_types where catid = '$catid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($itid, $inv_type) = mysql_fetch_array($qok);
	?>
	
	<?
	if($inv_type != "B")
	{
		?>
		<BR>
		<a href="/mgt/cf/size_matrix.phtml?pid=<?=$pid;?>&catid=<?=$catid;?>&Action=TypeB">Convert to Inventory Type B (sizing)</a>
		<?
	}
	else 
	{
		?>
		<table width=100%>
		<tr>
			<td width=50% align=left><a href="/mgt/cf/size_matrix.phtml?pid=<?=$pid;?>&catid=<?=$catid;?>&Action=TypeA">Convert to Inventory Type A (standard)</a></td>
			<td width=50% align=right>
				
				<form name="newWarehouse" method="post">
				New Warehouse: <input type="text" class="formBox" style="width:75px" name="whname"><input type="submit" name="Action" value="Add Warehouse" class="buttonItem">
				</form>
			
			</td>
		</tr>
		</table>

		<form name="matrix" method="POST">
		<input type="hidden" name="catid" value="<?=$catid;?>">
		<input type="hidden" name="pid" value="<?=$pid;?>">
		<table width=100%>
		<?
		$onrow = 0;
		$numrows = 6;
		
		$query = "select config_key, config_value from configuration where config_group = 'Warehouse List B' and config_key is NOT NULL order by config_key + 0";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($whid, $whname) = mysql_fetch_array($qok))
		{
			if($onrow == 0) { ?> <tr> <? } 
			
			$query = "select id from inventory_types_ext where itid = '$itid' and whid = '$whid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) > 0)
				$checked = "CHECKED";
			else 
				$checked = "";
				
			?>
			<td><input type="checkbox" name="whlist[]>" value="<?=$whid;?>" <?=$checked;?>><?=$whname;?></td>
			<?
			$onrow++;
			if($onrow > $numrows){ $onrow = 0; echo "</tr>";	}

		}
		?>
		</table>
		<BR>
		<HR NOSHADE>
		<center>
		<input type="submit" name="Action" value="Save Matrix" class="buttonItem">
		</center>
		</form>
		<?
	}
	?>
	
	</td>
</tr>
</table>

</body>
</html>