<script>
function addIP()
{
	var newip = document.getElementById("newip").value;
	var theSelect = document.getElementById("iplist");

	var nOption = document.createElement('option');
	var isData = document.createTextNode(newip); 
	nOption.setAttribute('value',newip); 
	nOption.appendChild(isData); 
	
	theSelect.appendChild(nOption); 
}


function delIP()
{
	var theSelect = document.getElementById("iplist");
	
	if(theSelect.selectedIndex < 0)	
	{
		
	}
	else
		theSelect.remove(theSelect.selectedIndex);	
}
</script>

<table>
<tr>
	<td>
	<!----------------------------------------------------------------------------->
	<table>
	<tr>
		<td bgcolor="#eeeeee"><div align=right>IP Address/Range:</td>
		<td><input type="text" name="newip" value="" class="formBox" style="width:100px"></td>
		<td><input type="button" class="buttonItem" value="Add" onclick="addIP();"></td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee" colspan=3>
			<select multiple name="iplist" id="iplist" class="formSelect" style="width:250px;height:400px">
			<?
			$query = "select ipaddr from user_ip_restriction where userid = '$uid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($ipaddr) = mysql_fetch_array($qok))
			{
				?>
				<option value="<?=$ipaddr;?>"><?=$ipaddr;?></option>
				<?
			}
			?>
			</select>
			<BR>
			<div align=right>*select one or more IPs and <input type="button" class="buttonItem" value="Delete" onclick="delIP();"></div>
		</td>
	</tr>
	</table>
	<!----------------------------------------------------------------------------->	
	</td>
	
	<td>
	<B>IP Access Restriction</B>
	<HR NOSHADE>
	<BR>
	<LI>By default, users are allowed to connect from any IP Address.</LI>
	<LI>To restrict access for a particular user, enter the list of allowed ip addresses here.</LI>
	<LI>IP Addresses must be in the format xxx.xxx.xxx.xxx</LI>
	<LI>You may use partial matching</LI>
	<UL>
		<LI>24.117  would match a user's ip of 24.117.222.123 and allow access</LI>
		<LI>24.117  <B>would not</B> match 123.222.24.17 and <B>would not</B> allow access</LI>
	</UL>
	
	</td>
</tr>
</table>

<table width=100%>
<tr>
	<td>
		<div align=center>
		<input type="button" name="Action" value="Cancel" onclick="cancelForm();" class="buttonItem">
		<input type="button" name="Action" value="Delete User" onclick="deleteUser();" class="buttonItem">
		<input type="submit" name="Action" value="Save User" class="buttonItem">
		</div>
	</td>
</tr>
</table>
