<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_user_manager"); // will redirect on failure


/*$query = "alter table users add pickerid varchar(16)";
mysql_db_query($DB, $query, $mysqlid);*/

	function sanitizeInput($data) 
	{
		$data = str_replace("\"", "", $data);
		$data = str_replace("'", "", $data);
		$data = str_replace(")", "", $data);
		$data = str_replace("(", "", $data);
		$data = str_replace(";", "", $data);
		$data = str_replace("|", "", $data);
		$data = str_replace("<", "", $data);
		$data = str_replace(">", "", $data);

		return $data;
	}
	

if($Action == "Save User")
{
//	$displayname = addslashes($displayname);
//	$emailaddr = addslashes($emailaddr);
//	$extension = addslashes($extension);
    $un = sanitizeInput($un);	
    $displayname = sanitizeInput($displayname);
    $extension = sanitizeInput($extension);
    $uid = sanitizeInput($uid);
    $emailaddr = sanitizeInput($emailaddr);

    
    if(intval($uid) > 0)
	{
        
		$query = "update users set un = '$un', type = '$type', displayname = '$displayname', emailaddr = '$emailaddr', extension = '$extension', pickerid = '$pickerid' where id = '$uid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if($pw != "")
		{
			if($pw == $pw2)
			{
				$query = "update users set pw_md5 = '".md5($pw)."' where id = '$uid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
	}
	else 
	{
		$query = "insert into users(un, pw_md5, displayname, emailaddr, created, type, extension, pickerid) ";
		$query .= " values('$un', '".md5($pw)."', '$displayname', '$emailaddr', '$tstamp', '$type', '$extension', '$pickerid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "delete from user_permissions where userid = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$query = "insert into user_permissions(userid,perm_category_manager,perm_edit_menu,perm_email_templates,perm_ingram_markup,perm_order_flow,perm_shipping,perm_site_config,
				perm_featured_products,perm_pegrid,perm_categorize,perm_visible,perm_datafeed,perm_scolumns,perm_createskus,perm_accbycat,perm_scost,
				perm_editsku,perm_datafeed_manager,perm_email_marketing,perm_traffic_reports,perm_po_search,perm_vendor_search,perm_po_edit,perm_po_create,
				perm_vendor_edit,perm_vendor_create,perm_user_manager, perm_online_help,perm_skutabs_price,perm_skutabs_descr,perm_skutabs_hspecs,perm_skutabs_image,
				perm_skutabs_specs,perm_skutabs_access,perm_skutabs_sourcing,perm_skutabs_shipping,perm_skutabs_perf,
				perm_marketing_campaigns, perm_manual_billing, perm_add_cards, perm_decrypt_cards,
				perm_flow_move_anytime, perm_flow_move_onlymine, perm_flow_move_freemoveq, 
				perm_manual_void, perm_manual_charge, perm_view_package_cost, perm_edit_ebay, perm_order_editprice, perm_iportal, perm_scanqty) ";	
	
	$query .= "values('$uid','$perm_category_manager','$perm_edit_menu','$perm_email_templates','$perm_ingram_markup','$perm_order_flow','$perm_shipping','$perm_site_config',
				'$perm_featured_products','$perm_pegrid','$perm_categorize','$perm_visible','$perm_datafeed','$perm_scolumns','$perm_createskus','$perm_accbycat','$perm_scost',
				'$perm_editsku','$perm_datafeed_manager','$perm_email_marketing','$perm_traffic_reports','$perm_po_search','$perm_vendor_search','$perm_po_edit','$perm_po_create',
				'$perm_vendor_edit','$perm_vendor_create','$perm_user_manager', '$perm_online_help','$perm_skutabs_price','$perm_skutabs_descr','$perm_skutabs_hspecs',
				'$perm_skutabs_image','$perm_skutabs_specs','$perm_skutabs_access','$perm_skutabs_sourcing','$perm_skutabs_shipping','$perm_skutabs_perf',
				'$perm_marketing_campaigns', '$perm_manual_billing', '$perm_add_cards', '$perm_decrypt_cards',
				'$perm_flow_move_anytime', '$perm_flow_move_onlymine', '$perm_flow_move_freemoveq',
				'$perm_manual_void', '$perm_manual_charge', '$perm_view_package_cost', '$perm_edit_ebay', '$perm_order_editprice', '$perm_iportal', '$perm_scanqty') ";		
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$query = "delete from user_ip_restriction where userid = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$iplist = explode(",", $ipaccess);
	if (count($iplist)>0) {
		for($xx = 0; $xx < count($iplist); $xx++)
		{
			$query = "insert into user_ip_restriction(userid, ipaddr) values('$uid', '".$iplist[$xx]."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$query = "delete from user_widget_permissions where userid = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if (count($widget)>0) {
		for($xx = 0; $xx < count($widget); $xx++)
		{
			$query = "insert into user_widget_permissions(wid, userid) values('".$widget[$xx]."', '$uid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
	?>
	<html>
	<BODY onload="top.location='/mgt/cf/user_management.phtml';">
		Loading...
	</body>
	</html>
	<?
	exit;
}
else if($Action == "Delete User")
{
	$query = "delete from users where id = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from user_permissions where userid = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from user_ip_restriction where userid = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from user_widget_permissions where userid = '$uid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	?>
	<html>
	<BODY onload="top.location='/mgt/cf/user_management.phtml';">
		Loading...
	</body>
	</html>
	<?
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>User Edit</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function cancelForm()
{
	var thisframe = window.frameElement.id;
	var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
	var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
	
	top.closeWindow(thiswinname, thiswinid);
		
}

function checkData()
{
	var numoptions = document.edituser.iplist.options.length;
	var iplist = '';
	
	for(xx = 0; xx < numoptions; xx++)
	{
		if(xx > 0)
			iplist += ",";
			
		iplist += document.edituser.iplist.options[xx].value;
	}
	
	document.edituser.ipaccess.value = iplist;
	
	<?
	if(intval($uid) <= 0)
	{
		?>
		if(document.edituser.pw.value.length <= 0)
		{
			alert('You must enter a password for a new user');
			return false;
		}
		
		if(document.edituser.pw.value != document.edituser.pw2.value)
		{
			alert('The passwords entered to not match');
			return false;	
		}
		<?
	}
	?>
	return true;
}

function deleteUser()
{
	if(confirm('Are you sure you want to delete this user?'))
	{
		document.location = '/mgt/cf/user_edit.phtml?Action=Delete+User&uid=<?=$uid;?>';
	}
}

<?
function php_changeType($utype)
{
	global $DB;
	global $mysqlid;
	
	$query = "select * from user_permissions where userid = '$utype' ";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	if(mysql_num_rows($qok) > 0)
	{
		$data = mysql_fetch_row($qok);

		$y=mysql_num_fields($qok);
		for ($x=1; $x<$y; $x++) 
		{
			$colname = mysql_field_name($qok, $x);

			echo "document.edituser.$colname.checked = ".intval($data[$x]).";\n";
		}
	}
}
?>

function changeType()
{
<?
/*if($utype == "MANAGER") $uid = -100;
else if($utype == "SALESMAN") $uid = -110;
else if($utype == "CUSTSERV") $uid = -120;
else if($utype == "WAREHOUSE") $uid = -130;
*/
?>	
	var utype = document.edituser.type.options[ document.edituser.type.selectedIndex ].value;
	
	if(utype == "MANAGER")
	{
		<?php_changeType(-100);?>
	}
	else if(utype == "SALESMAN")
	{
		<?php_changeType(-110);?>
	}
	else if(utype == "CUSTSERV")
	{
		<?php_changeType(-120);?>
	}
	else if(utype == "WAREHOUSE")
	{
		<?php_changeType(-130);?>
	}	
	
	alert('Permissions have been changed for this Type.');
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<?
$query = "select un, displayname, emailaddr, created, tstamp, type, last_ip, extension, pickerid from users where id = '$uid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($un, $displayname, $emailaddr, $created, $tstamp, $type, $last_ip, $extension, $pickerid) = mysql_fetch_array($qok);

$query = "select perm_category_manager,
		perm_edit_menu,perm_email_templates,perm_ingram_markup,perm_order_flow,perm_shipping,perm_site_config,perm_featured_products,perm_pegrid,
		perm_categorize,perm_visible,perm_datafeed,perm_scolumns,perm_createskus,perm_accbycat,perm_scost,perm_editsku,perm_datafeed_manager,
		perm_email_marketing,perm_traffic_reports,perm_po_search,perm_vendor_search,perm_po_edit,perm_po_create,perm_vendor_edit,
		perm_vendor_create,perm_user_manager, perm_online_help,perm_skutabs_price,perm_skutabs_descr,perm_skutabs_hspecs,perm_skutabs_image,
		perm_skutabs_specs,perm_skutabs_access,perm_skutabs_sourcing,perm_skutabs_shipping,perm_skutabs_perf,
		perm_marketing_campaigns, perm_manual_billing, perm_add_cards, perm_decrypt_cards,
		perm_flow_move_anytime, perm_flow_move_onlymine, perm_flow_move_freemoveq,
		perm_manual_void, perm_manual_charge, perm_view_package_cost, perm_edit_ebay, perm_order_editprice, perm_iportal, perm_scanqty
		from user_permissions where userid = '$uid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error()."<BR><BR>$query";exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($perm_category_manager,
		$perm_edit_menu,$perm_email_templates,$perm_ingram_markup,$perm_order_flow,$perm_shipping,$perm_site_config,$perm_featured_products,$perm_pegrid,
		$perm_categorize,$perm_visible,$perm_datafeed,$perm_scolumns,$perm_createskus,$perm_accbycat,$perm_scost,$perm_editsku,$perm_datafeed_manager,
		$perm_email_marketing,$perm_traffic_reports,$perm_po_search,$perm_vendor_search,$perm_po_edit,$perm_po_create,$perm_vendor_edit,
		$perm_vendor_create,$perm_user_manager, $perm_online_help, $perm_skutabs_price, $perm_skutabs_descr, $perm_skutabs_hspecs, $perm_skutabs_image,
		$perm_skutabs_specs, $perm_skutabs_access, $perm_skutabs_sourcing, $perm_skutabs_shipping, $perm_skutabs_perf,
		$perm_marketing_campaigns, $perm_manual_billing, $perm_add_cards, $perm_decrypt_cards,
		$perm_flow_move_anytime, $perm_flow_move_onlymine, $perm_flow_move_freemoveq,
		$perm_manual_void, $perm_manual_charge, $perm_view_package_cost, $perm_edit_ebay, $perm_order_editprice, $perm_iportal, $perm_scanqty) = mysql_fetch_array($qok);
?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
	<form name="edituser" id="edituser" method="POST" action="user_edit.phtml" onsubmit="return checkData();">
	<input type="hidden" name="uid" value="<?=$uid;?>">
	<input type="hidden" name="inwin" value="<?=$inwin;?>">
	<input type="hidden" name="ipaccess" value="">
		<div style="padding-left:5px;padding-top:10px">
		<div id="TabbedPanels1" class="TabbedPanels" style="width:<?=$e2width-25;?>px">
	    	<ul class="TabbedPanelsTabGroup">
	        <li class="TabbedPanelsTab" tabindex="0"><strong>Main</strong></li>
	        <li class="TabbedPanelsTab" tabindex="1"><strong>IP Access</strong></li>
	        <li class="TabbedPanelsTab" tabindex="2"><strong>Permissions</strong></li>
	        <li class="TabbedPanelsTab" tabindex="3"><strong>Control Panel</strong></li>
	        </ul>
			<div class="TabbedPanelsContentGroup">
		        <div class="TabbedPanelsContent">  
		        <?INCLUDE("user_edit_mainpage.phtml");?>
		        </div>
		        <div class="TabbedPanelsContent">  
		       <?INCLUDE("user_edit_ipaccess.phtml");?>
		        </div>
		        <div class="TabbedPanelsContent">  
		       <?INCLUDE("user_edit_permissions.phtml");?>
		        </div>
		        <div class="TabbedPanelsContent">  
		       <?INCLUDE("user_edit_controlpanel.phtml");?>
		        </div>
			</div>
		</div>
		<script type="text/javascript">
		<!--
		var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
		//-->
		</script>		
	</form>
	</td>
</tr>
</table>


</body>
</html>