<table width=90%>
<tr bgcolor="#eeeeee">
	<td><B>Access</B></td>
	<td><B>WID</B></td>
	<td><B>Title</B></td>
	<td><B>Description</B></td>
	<td><B>Date</B></td>
</tr>
<?
$query = "select id, title, descr, tstamp from widget_list order by title";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while( list($wid, $wtitle, $wdescr, $wtstamp) = mysql_fetch_array($qok) )
{
	$query = "select count(*) from user_widget_permissions where wid = '$wid' and userid = '$uid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($checked) = mysql_fetch_array($q2ok);
	?>
	<tr>
		<td><input type="checkbox" name="widget[]" <?if($checked == 1) echo "CHECKED";?> value="<?=$wid;?>"></td>
		<td><?=$wid;?></td>
		<td><?=$wtitle;?></td>
		<td><?=$wdescr;?></td>
		<td><?=date("m/d/Y", strtotime($wtstamp));?></td>
	</tr>
	<?
}
?>
</table>
<BR><BR>
<table width=100%>
<tr>
	<td>
		<div align=center>
		<input type="button" name="Action" value="Cancel" onclick="cancelForm();" class="buttonItem">
		<input type="button" name="Action" value="Delete User" onclick="deleteUser();" class="buttonItem">
		<input type="submit" name="Action" value="Save User" class="buttonItem">
		</div>
	</td>
</tr>
</table>
