<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$query = "SELECT distinct(pid) FROM list_products WHERE lid=91 AND pid NOT IN (select pid from list_products where lid = '94') group by pid";
//$list_addon .= "INNER JOIN list_products ON  product_list.id = list_products.pid AND list_products.lid = '$listid' ";
$query = "select distinct(product_list.id), 
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.status, 
				product_list.visible, 
				product_list.dropship,
				product_list.sku
				from
				product_list
					INNER JOIN product_manufacturers ON product_list.manid = product_manufacturers.manid
					INNER JOIN list_products ON  product_list.id = list_products.pid AND list_products.lid = '91' 
					INNER JOIN  product_sourcing ON product_sourcing.distid = '232' AND product_sourcing.pid = product_list.id 
				where 
					product_list.id NOT IN (select pid from list_products where lid = '111')
				AND	product_list.id NOT IN (select pid from list_products where lid = '94')
				AND product_list.id IN (select pid from list_products where lid = '110')
				group by product_list.id
					";


if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
/*while (list($pid) = mysql_fetch_array($qok)) {
	echo $pid.": ";
	$qx = "SELECT list_products.lid,lists.exclusive FROM list_products,lists WHERE list_products.pid='$pid' and list_products.lid=lists.lid";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($lid,$exclusive) = mysql_fetch_array($qokx)) {
		echo "List: ".$lid." - ".$exclusive." === ";
	}
	echo "<br />";
}*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr>
	<td colspan="7" align="center"><a href="javascript:void(0)" onclick="updateAllPids()">Update All</a></td>
</tr>
<tr bgcolor="#eeeeee">
	<td align=center height=21 width="5%"><b>Nr</b></td>
	<td align=center height=21 width="5%"><b>ID</b></td>
	<td align=center width="10%"><b>Man</b></td>
	<td align=center width="20%"><b>ManPart</b></td>
	<td align=center width="35%"><b>Title</b></td>
	<td align=center width="20%"><b>Lists</b></td>
	<td align=center width="5%"><b>Delete</b></td>
</tr>	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $manname, $manpart, $descr, $status, $visible, $dropship,
				$sku) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
		{
			
			$list_arr = "<table cellpadding=\"4\" cellspacing=\"2\" border=\"0\" width=\"100%\">";
			$list_arr .="<tr bgcolor=\"#eeeeee\"><td>List name</td><td align=center>Exclusive</td></tr>";
			$qx = "SELECT list_products.lid,lists.exclusive,lists.list_title FROM list_products,lists WHERE list_products.pid='$id' and list_products.lid=lists.lid";
			if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while (list($lid,$exclusive,$title) = mysql_fetch_array($qokx)) {
//				$list_arr .= "List: ".$title." - ".$exclusive."<br />";
				$list_arr .="<tr><td>".$title."</td><td align=center>".$exclusive."</td></tr>";
			}
			$list_arr .="</table>";
				?>
				<tr>
					<td align=center height=21><?=($onrow+1)?></td>
					<td align=center height=21><span id="item_<?=$id?>"><?=$id?></span></td>
					<td align=center><?=$manname?></td>
					<td align=center><?=$manpart?></td>
					<td align=center><?=$descr?></td>
					<td align=left><?=$list_arr?></td>
					<td align=center id="delete_<?=$id?>" class="delete_td">
						<a href="javascript:void(0)" onclick="updatePid('<?=$id?>')"><img src="/mgt/images/delete.gif" alt="" /></a>
					</td>
				</tr>	
				
				<?
			$onrow++;
			$numout++;
		}
?>
<tr>
	<td colspan="7" align="center"><a href="javascript:void(0)" onclick="updateAllPids()">Update All</a></td>
</tr>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
