<form name="plreport">
	<table>
	<tr>
		<td class="g1">Date Range:</td>
		<td>
		<select name="qdate" class="formselect" onchange="changeRange();">
			<option value="-1">-Quick Range-</option>
			<option value="1" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
			<option value="6" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
			
			<option value="7" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "7") echo "SELECTED";?>>Yesterday + Today</option>
			
			<option value="2" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
			<option value="3" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
			<option value="4" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
			
			<option value="8" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "8") echo "SELECTED";?>>Last 60 Days</option>
			<option value="9" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "9") echo "SELECTED";?>>Last 90 Days</option>
			<option value="10" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "10") echo "SELECTED";?>>Last 120 Days</option>
			
			<option value="5" <?if($_SESSION["OM_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
		</select>							
		<BR>
        <input type="checkbox" name="disable_range" id="disable_range" checked>Ignore Date Range<BR>

		<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
		
		- to -
		
			<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
onclick="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
		</td>
	</tr>						
	<tr>
		<td class="g1">PID:</td>
		<td><input type="text" name="pid" id="pid" class="formbox" style="width:120px;" /></td>
	</tr>
    <tr>
            <td class="g1"><div style="padding-top:2px;">Return:</div></td>
            <td valign="top">
                    <select class="formSelect" name="num2return" id="num2return">
                            <option value="50">50 items (default)
                            </option><option value="100">100 items
                            </option><option value="1000">1000 items
                            </option><option value="2500">2500 items
                            </option><option value="9999">9999 items
                    </option></select>						
            </td>
    </tr>							
	<tr>
		<td colspan=2>
			<div align=center>
				<input type="button" name="Action" value="View Report" onclick="pullReport(0)" class="buttonItem"> <br />
				<img src="/mgt/images/loading.gif" style="display:none" id="loading" />
			</div>										
		</td>
	</tr>						
							
</table>
	
</form>	