<HTML>
<HEAD>
<TITLE>Queue View</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">

</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function shippingResult() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("putshithere").innerHTML = xmlHttp.responseText;
		setTimeout("loadPage()",5000);
	}
}

function StartUp()
{
	setTimeout("loadPage()",3000);
}

function loadPage()
{
	xmlHttp=GetXmlHttpObject();
	

	var url="queueajax.phtml";
	
	xmlHttp.onreadystatechange=shippingResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	

	
	return false;		
}
</script>
<body onload="StartUp()">
<div id="putshithere">&nbsp;</div>
</body>
</html>