<html>
   <head>
      <title>Queue View</title>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
      </head>
   <body bgcolor="#ffffff">
</body>
<table>
		<tr>
			 <td class="uline" height=21 align=center><B><u>Queue</u></B></td><td>&nbsp;</td> 	
			 <td class="uline" height=21 align=center><B><u>Orders</u></B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B><u>Value</u></B></td><td>&nbsp;</td>
		</tr>
				<tr>

<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//select step, status from company_orderflow where complete = 0 and exclude = 0;
//select count(*), sum(total) from customer_orders where status = '';
        $query = "select step, status from company_orderflow where complete = 0 and exclude = 0;";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while($row = mysql_fetch_array($qok, MYSQL_ASSOC)) 
{
	$step = "{$row['step']}";
    $status = "{$row['status']}";
//echo "$step / $status  OK? <BR>";
//print_r($row);

//select count(*), sum(total) from customer_orders where status = '';
$sql = "select count(*), sum(total) from customer_orders where status = '$step'";
$result = mysql_query($sql); 
while ($row2 = mysql_fetch_array($result, MYSQL_ASSOC)) {
//print_r($row2);
$count = "{$row2['count(*)']}";
$sumtotal = "{$row2['sum(total)']}";

if($sumtotal == "") { break; }

echo "<td class=\"tline\" height=21 align=left>$status</td><td>&nbsp;</td>";
echo "<td class=\"tline\" height=21 align=center>$count</td><td>&nbsp;</td>";
echo "<td class=\"tline\" height=21 align=right>$sumtotal</td><td>&nbsp;</td>";
echo "</tr>";

//echo "$status ($count) $sumtotal\n";

}	
}
?>
</html>