<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$query = "SELECT distinct(pid) FROM list_products WHERE lid=91 AND pid NOT IN (select pid from list_products where lid = '94') group by pid";
//$list_addon .= "INNER JOIN list_products ON  product_list.id = list_products.pid AND list_products.lid = '$listid' ";


$addtables .= ", product_inventory";
$varadd .= ", sum(product_inventory.inv_available) as whstock";
$addon .= " AND product_list.id = product_inventory.id AND product_inventory.whid = '5' ";
$having .= " having whstock > '0' ";

$query = "select distinct(product_list.id), 
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.status, 
				product_list.visible, 
				product_list.dropship,
				product_list.sku,
				product_list.shipweight,
				product_list.asin,
				product_prices.price_level6
				$varadd
				from
				product_list,product_manufacturers,product_inventory,product_prices
				WHERE
						product_list.manid = product_manufacturers.manid AND
						product_list.id = product_prices.id
						$addon
				group by product_list.id $having";

$query = "select distinct(product_list.id), 
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.status, 
				product_list.visible, 
				product_list.dropship,
				product_list.sku,
				product_list.shipweight,
				product_list.asin,
				product_prices.price_level6
				$varadd
				from
				product_list
				INNER JOIN product_manufacturers ON product_list.manid = product_manufacturers.manid
				INNER JOIN product_prices ON product_list.id = product_prices.id
				INNER JOIN product_inventory ON product_list.id = product_inventory.id AND product_inventory.whid = '5' 
				
				WHERE 
					product_list.id not in (
						SELECT custom_values.pid FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.text_short='1' AND custom_fields.name='FWS Do not touch'
					)
				group by product_list.id $having";

?>
<!--<?=$query;?>-->
<?

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
/*while (list($pid) = mysql_fetch_array($qok)) {
	echo $pid.": ";
	$qx = "SELECT list_products.lid,lists.exclusive FROM list_products,lists WHERE list_products.pid='$pid' and list_products.lid=lists.lid";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($lid,$exclusive) = mysql_fetch_array($qokx)) {
		echo "List: ".$lid." - ".$exclusive." === ";
	}
	echo "<br />";
}*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 50;

if(intval($num2return) <= 0)
	$num2return = 50;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr>
	<td colspan="7" align="center"><a href="javascript:void(0)" onclick="updateAllPids()">Update All</a></td>
</tr>
<tr bgcolor="#eeeeee">
	<td align=center height=21 width="5%"><b>Nr</b></td>
	<td align=center height=21 width="5%"><b>ID</b></td>
	<td align=center width="5%"><b>Man</b></td>
	<td align=center width="10%"><b>ManPart</b></td>
	<td align=center width="20%"><b>Title</b></td>
	<td align=center width="5%"><b>Warehouse</b></td>
	<td align=center width="5%"><b>FWS Do not touch</b></td>
	<td align=center width="5%"><b>FWS Fee</b></td>
	<td align=center width="5%"><b>FBA Price</b></td>
	<td align=center width="5%"><b>Fulfillment</b></td>
	<td align=center width="5%"><b>New Price</b></td>
	<td align=center width="5%"><b>Update</b></td>
</tr>	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $manname, $manpart, $descr, $status, $visible, $dropship,$sku,$shipweight,$asin,$pl_fba,$whstock) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
		{
			$q1 = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$id."' AND custom_fields.name='FWS Do not touch'";
			$qok1 = mysql_db_query($DB, $q1, $mysqlid);
			if($qok1 == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($text_short) = mysql_fetch_array($qok1);
			if ($text_short == '') {
				$text_short = '0';
			}
			
			$q2 = "select text_short from custom_values where cfid = '25' and pid = '$id'";
			if(!$qok2 = mysql_db_query($DB, $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($oversize) = mysql_fetch_array($qok2);
			
			$fws_fee = getFWSFee($id,$oversize,$shipweight,$asin,$efc);
			$fullfilment = getFullfilment($id,$shipweight,$asin,$pl_fba,$efc);
				?>
				<tr>
					<td align=center height=21><?=($onrow+1)?></td>
					<td align=center height=21><span id="item_<?=$id?>"><?=$id?></span></td>
					<td align=center><?=$manname?></td>
					<td align=center><?=$manpart?></td>
					<td align=center><?=$descr?></td>
					<td align=left><?=$whstock?></td>
					<td align=left><?=$text_short?></td>
					<td align=left><?=$fws_fee?></td>
					<td align=left><?=$pl_fba?></td>
					<td align=left><?=$fullfilment?></td>
					<td align=left><?=number_format($fws_fee-$fullfilment+$pl_fba,2)?></td>
					<td align=center id="delete_<?=$id?>" class="delete_td">
						<a href="javascript:void(0)" onclick="updatePid('<?=$id?>','<?=number_format($fws_fee-$fullfilment+$pl_fba,2)?>')">
							Update
						</a>
					</td>
				</tr>	
				
				<?
			$onrow++;
			$numout++;
		}
?>
<tr>
	<td colspan="7" align="center"><a href="javascript:void(0)" onclick="updateAllPids()">Update All</a></td>
</tr>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<?
function getWeight($pid,$shipweight_old,$asin,$efc)
{// compute the shipping based on the config values in Site Config->AmazonGrid
/*	$shipweight = 0;
	$useweight = $efc->getConfigValue("AmazonGrid", "UseWeight");
	$amazon_weight = getAmazonShipWeight($asin,$efc);
	
	if(strtoupper($useweight) == "A") // use amazon
	{
		$shipweight = $amazon_weight;
	}
	else if(strtoupper($useweight) == "B") // use stored
	{
		$shipweight = $shipweight_old;
	}
	else if(strtoupper($useweight) == "C")
	{
		$shipweight = $shipweight_old;
		if($shipweight <= 0.00)
			$shipweight = $amazon_weight;
	}*/
	$shipweight = $shipweight_old;
	return $shipweight;
}

function getFWSFee($pid,$oversize,$shipweight,$asin,$efc) {
	$weight = getWeight($pid,$shipweight,$asin,$efc);
	
	if ($oversize == 1) {
		if($weight<=15) {
			$fullfee = 10+(0.5*$weight);
		}
		if($weight>15 && $weight<=70) {
			$fullfee = 10+(0.7*$weight);
		}
		if($weight>70) {
			$fullfee = 10+(0.9*$weight);
		}
	}
	else {
		$fullfee = 5.50+(0.45*$weight);		
	}
	return round($fullfee,2);
}
function getAmazonShipWeight($asin,$efc) {
	if($asin != "")
	{
		$baseURL = "http://www.amazon.com/gp/product/$asin/";
		$buffer = $efc->loadPage($baseURL, "http://www.amazon.com");
		
		$hita = strpos($buffer, "<b>Shipping Weight:</b>"); // 23
		$hitb = strpos($buffer, "(", $hita + 23);
		
		$weight = substr($buffer, $hita + 23, $hitb - $hita - 23);
		
		$weight = str_replace("pounds", "", $weight);
		
		if(stristr($weight, "ounces"))
		{
			$weight = str_replace("ounces", "", $weight);
			$weight = number_format($weight / 16, 2);
		}
	}
	$weight = trim($weight);
	return $weight;
}
function getFullfilment ($pid,$shipweight_old,$asin,$newprice,$efc) {
	
	$weight = getWeight($pid,$shipweight_old,$asin,$efc);
	
	$fullfee = 0.00;
							
	if($newprice < 25) {
		$fullfee += .75;
	}
	else if(($newprice >= 25) && ($newprice <= 299.99))
	{
		$fullfee += 1.00;
	}
	else if($newprice > 300)
	{
		$fullfee = 0;
	}

	$fullfee += $weight * .40;
	
	$fullfee += 1; // per order fee
	return round($fullfee,2);
}
?>
