<?
$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
if($ROOT_DIR == "") { $ROOT_DIR = $argv[1]; }
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
if($DB == "ecom") { $cm = `/usr/bin/php -c /etc/php.ini -q $ROOT_DIR/mgt/security/monitor/core.php $ROOT_DIR FWSAuto`; }
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
echo "Report Started - ".date("m-d-Y H:i:s")."<br />";
//logMsg($DB,$mysqlid,"","Report Started - ".date("M-D-Y H:i:s"));

//$q = "TRUNCATE TABLE buy_listing";
//if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	

$addtables .= ", product_inventory";
$varadd .= ", sum(product_inventory.inv_available) as whstock";
$addon .= " AND product_list.id = product_inventory.id AND product_inventory.whid = '5' ";
$having .= " having whstock > '0' ";

$query = "select distinct(product_list.id), 
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.status, 
				product_list.visible, 
				product_list.dropship,
				product_list.sku,
				product_list.shipweight,
				product_list.asin,
				product_prices.price_level6
				$varadd
				from
				product_list
				INNER JOIN product_manufacturers ON product_list.manid = product_manufacturers.manid
				INNER JOIN product_prices ON product_list.id = product_prices.id
				INNER JOIN product_inventory ON product_list.id = product_inventory.id AND product_inventory.whid = '5' 
				
				WHERE 
					product_list.id not in (
						SELECT custom_values.pid FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.text_short='1' AND custom_fields.name='FWS Do not touch'
					)
					AND product_list.id='3159644'
				group by product_list.id $having";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while((list($id, $manname, $manpart, $descr, $status, $visible, $dropship,$sku,$shipweight,$asin,$pl_fba,$whstock) = mysql_fetch_array($qok)))
{
	if ($pl_fba == 0.00) {
//		logMsg($DB,$mysqlid,"","PID ignored, price level 6 is 0 - ".date("M-D-Y H:i:s"));
		echo "PID $id ignored, price level 6 is 0<br />";
		echo "------------------------------<br />";
	}
	else {
		$queryxx = "select text_short from custom_values where cfid = '25' and pid = '$id'";
		if(!$qokxx = mysql_db_query($DB, $queryxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($oversize_text) = mysql_fetch_array($qokxx);
		if ($oversize_text == '' || $oversize_text='0') {
			$oversize = 0;
		}
		else {
			$oversize = 1;
		}
		echo "OVER SIZE TEXT: $oversize--------------<br />";
		$fws_fee = getFWSFee($id,$oversize,$shipweight,$asin,$efc);
		
		$fullfilment = getFullfilment($id,$shipweight,$asin,$pl_fba,$efc);
		echo "Fullfilment: $fullfilment--------------<br />";
		$new_price = number_format($fws_fee-$fullfilment+$pl_fba,2,'.','');
		echo "NEW PRICE: $new_price--------------<br />";
//		updatePid($DB,$mysqlid,$id,$new_price,$efc);
		
		echo "------------------------------<br />";
	}
}
//
//echo "Doing reverse lookup<br />";
//logMsg($DB,$mysqlid,"","Doing reverse lookup");
//
//$qx = "SELECT list_products.pid, 
//				  sum(product_inventory.inv_available) as whstock
//			FROM list_products,product_inventory
//			WHERE list_products.lid='118' AND
//				  list_products.pid = product_inventory.id AND 
//				  product_inventory.whid = '5'
//		     having whstock = '0' ";
//$qx = "SELECT list_products.pid, product_inventory.inv_available as whstock 
//			FROM list_products 
//			LEFT JOIN product_inventory ON 
//				list_products.pid = product_inventory.id AND 
//				product_inventory.whid = '5' 
//			WHERE list_products.lid='118' 
//			HAVING whstock = '0' OR whstock is NULL";
//
//if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//if (mysql_num_rows($qokx)>0) {
//	while (list($pid,$whstock) = mysql_fetch_array($qokx)) {
//
//		$q = "DELETE FROM list_products WHERE lid='118' AND pid='$pid'";
//		if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//		
//		$msg = "Product ".$pid." removed from list 118 - reversed lookup - whstock:".$whstock;
//		echo $msg."<br />";
//		logMsg($DB,$mysqlid,$pid,$msg);
//	}
//}
//else {
//	echo "No products - reverse lookup<br />";
//	logMsg($DB,$mysqlid,"","No products - reverse lookup");
//}

function updatePid($DB,$mysqlid,$id,$new_price,$efc) {
	$q1 = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$id."' AND custom_fields.name='FWS Ignore Price Change'";
	$qok1 = mysql_db_query($DB, $q1, $mysqlid);
	if($qok1 == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($text_short) = mysql_fetch_array($qok1);
	if ($text_short == '1') {
		
	}
	else {
//		$q = "UPDATE product_prices SET 
//					price_level1='".$new_price."',
//					price_level2='".$new_price."',
//					price_level4='".$new_price."',
//					price_level5='".$new_price."',
//					price_level7='".$new_price."',
//					price_level8='".$new_price."',
//					price_level9='".$new_price."',
//					fco1='1',
//					fco2='1',
//					fco4='1',
//					fco5='1',
//					fco7='1',
//					fco8='1',
//					fco9='1'
//				WHERE 
//				id='".$id."'";
		$q = "UPDATE product_prices SET 
					price_level1='".$new_price."',
					price_level2='".$new_price."',
					price_level4='".$new_price."',
					price_level5='".$new_price."',
					price_level7='".$new_price."',
					fco1='1',
					fco2='1',
					fco4='1',
					fco5='1',
					fco7='1'
				WHERE 
				id='".$id."'";
		if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		$msg = "FWS Auto - Product ".$id." price levels updated - new price: ".$new_price;
		echo $msg."<br />";
		logMsg($DB,$mysqlid,$id,$msg);
		$efc->logAction("SUCCESS", "1", $id, "$msg", $msg);
	}
	
	$qx = "SELECT list_products.lid,lists.exclusive,lists.list_title FROM list_products,lists WHERE list_products.pid='$id' and list_products.lid=lists.lid";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($lid,$exclusive,$title) = mysql_fetch_array($qokx)) {
		if ($exclusive == '1' && $lid != '118') {

			$q = "DELETE FROM list_products WHERE lid='$lid' AND pid='$id'";
			if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			$msg = "Product ".$id." removed from list ".$lid." - marked as exclusive";
			echo $msg."<br />";
			logMsg($DB,$mysqlid,$pid,$msg);
		}
	}
	
	/*$qa = "DELETE FROM list_products WHERE lid='118' AND pid='$id'";
	if(!$qax = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }*/
	
	$qa = "SELECT * FROM list_products WHERE lid='118' AND pid='$id'";
	if(!$qax = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if ( mysql_num_rows($qax) == 0) {
		$q = "INSERT INTO list_products(lid,pid) VALUES('118','$id')";
		if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$msg = "Product ".$id." added to list 118";
		echo $msg."<br />";	
		logMsg($DB,$mysqlid,$pid,$msg);
	}
	/*$qa = "SELECT * FROM list_products WHERE lid='86' AND pid='$id'";
	if(!$qax = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if ( mysql_num_rows($qax) == 0) {
		$q = "INSERT INTO list_products(lid,pid) VALUES('86','$id')";
		if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$msg = "Product ".$id." added to list 86";
		echo $msg."<br />";	
		logMsg($DB,$mysqlid,$pid,$msg);
	}*/
}

function getWeight($pid,$shipweight_old,$asin,$efc)
{// compute the shipping based on the config values in Site Config->AmazonGrid
/*	$shipweight = 0;
	$useweight = $efc->getConfigValue("AmazonGrid", "UseWeight");
	$amazon_weight = getAmazonShipWeight($asin,$efc);
	
	if(strtoupper($useweight) == "A") // use amazon
	{
		$shipweight = $amazon_weight;
	}
	else if(strtoupper($useweight) == "B") // use stored
	{
		$shipweight = $shipweight_old;
	}
	else if(strtoupper($useweight) == "C")
	{
		$shipweight = $shipweight_old;
		if($shipweight <= 0.00)
			$shipweight = $amazon_weight;
	}*/
	$shipweight = $shipweight_old;
	return $shipweight;
}

function getFWSFee($pid,$oversize,$shipweight,$asin,$efc) {
	$weight = getWeight($pid,$shipweight,$asin,$efc);
	
	if ($oversize == 1) {
		if($weight<=15) {
			$fullfee = 10+(0.5*$weight);
		}
		if($weight>15 && $weight<=70) {
			$fullfee = 10+(0.7*$weight);
		}
		if($weight>70) {
			$fullfee = 10+(0.9*$weight);
		}
	}
	else {
		$fullfee = 5.50+(0.45*$weight);		
	}
	echo "Oversize: ".$oversize." - Weight: ".$weight." - Fee: ".$fullfee ."<br />";
	return round($fullfee,2);
}
function getAmazonShipWeight($asin,$efc) {
	if($asin != "")
	{
		$baseURL = "http://www.amazon.com/gp/product/$asin/";
		$buffer = $efc->loadPage($baseURL, "http://www.amazon.com");
		
		$hita = strpos($buffer, "<b>Shipping Weight:</b>"); // 23
		$hitb = strpos($buffer, "(", $hita + 23);
		
		$weight = substr($buffer, $hita + 23, $hitb - $hita - 23);
		
		$weight = str_replace("pounds", "", $weight);
		
		if(stristr($weight, "ounces"))
		{
			$weight = str_replace("ounces", "", $weight);
			$weight = number_format($weight / 16, 2);
		}
	}
	$weight = trim($weight);
	return $weight;
}
function getFullfilment ($pid,$shipweight_old,$asin,$newprice,$efc) {
	
	$weight = getWeight($pid,$shipweight_old,$asin,$efc);
	
	$fullfee = 0.00;
							
	if($newprice < 25) {
		$fullfee += .75;
	}
	else if(($newprice >= 25) && ($newprice <= 299.99))
	{
		$fullfee += 1.00;
	}
	else if($newprice > 300)
	{
		$fullfee = 0;
	}

	$fullfee += $weight * .40;
	
	$fullfee += 1; // per order fee
	return round($fullfee,2);
}
function logMsg($DB,$mysqlid,$pid,$msg) {
	$q = "INSERT INTO fws_auto_log(pid,msg,log_time) VALUES('$pid','$msg',NOW())";
	if(!$qx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
