<?
ini_set('memory_limit', '-1');

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: get_order_report.phtml ROOT_DIR\n\n";
	exit;
//    $ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}
ini_set('display_errors',1);
error_reporting(E_ERROR);
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon_alpha/amazon_config.phtml");
REQUIRE($ROOT_DIR."/mgt/".AMAZON_DIR."/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../../.');    


function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$filename = "/tmp/amazon_alpha/amazon_orders_by_last_update/amazon_order_by_date_0_58928651003.txt";
if(filesize($filename) > 0)
{
	$fp = fopen($filename, "r");
	if(!$fp){echo "NO FILE!<BR>";exit;}
	$data = "";
	while(!feof($fp))$data .= fgets($fp, 4096);
	fclose($fp);

	$xmldata = xml2array($data, 1);
	$message = $xmldata['AmazonEnvelope']['Message']['Order'];
	if($message['AmazonOrderID']['value'] == "")
	{
		$message = $xmldata['AmazonEnvelope']['Message'][0]['Order'];
		if($message['AmazonOrderID']['value'] == "")
		{
			echo "OH SHIT!<BR>";
			exit;
		}
		else 
		{
			echo "IS ARRAY<BR>";
			for($xx = 0; $xx < count($xmldata['AmazonEnvelope']['Message']); $xx++)
			{
			    $message = $xmldata['AmazonEnvelope']['Message'][$xx]['Order'];
			    importOrder($message,$DB,$mysqlid);
			}
		}

	}
	else 
	{
		echo "SINGLE ORDER<BR>";
	}
}
                                    



function importOrder($orders,$DB,$mysqlid) {
	$AmazonOrderID = $orders['AmazonOrderID']['value'];
	$AmazonPurchaseDate = $orders['PurchaseDate']['value'];
	$AmazonLastUpdate = $orders['LastUpdatedDate']['value'];
    $AmazonOrderStatus = $orders['OrderStatus']['value'];
    $AmazonSalesChannel = $orders['SalesChannel']['value'];
    $FulfillmentChannel = $orders['FulfillmentData']['FulfillmentChannel']['value'];
    $ShipServiceLevel = $orders['FulfillmentData']['ShipServiceLevel']['value'];
    $AddressCity = $orders['FulfillmentData']['Address']['City']['value'];
    $AddressState = $orders['FulfillmentData']['Address']['State']['value'];
    $AddressZip = $orders['FulfillmentData']['Address']['PostalCode']['value'];
    $AddressCountry = $orders['FulfillmentData']['Address']['Country']['value'];
	$items = $orders['OrderItem'];
	
	$purchase_timestamp = strtotime($AmazonPurchaseDate);
	$purchase_timestamp_pst = UTCToPST($purchase_timestamp);
	$update_timestamp = strtotime($AmazonLastUpdate);
	$update_timestamp_pst = UTCToPST($update_timestamp);
	
	$q = "SELECT id FROM amazon_order_reports_by_last_update_orders WHERE orderid='".$AmazonOrderID."'";
	if(!$q4ok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
	if (mysql_num_rows($q4ok)>0) {
		list($order_record_id) = mysql_fetch_array($q4ok);
		$qx = "UPDATE amazon_order_reports_by_last_update_orders SET 
							lastupdate_date='$AmazonLastUpdate',
							lastupdate_timestamp='".strtotime($AmazonLastUpdate)."',
							lastupdate_timestamp_pst='".$update_timestamp_pst."',
							purchase_timestamp_pst='".$purchase_timestamp_pst."',
							type='3',
							status='$AmazonOrderStatus',
							import_date = '".time()."'
					WHERE
							id='$order_record_id'
			";
//		print_r($qx);
		if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
	}
	else {
		$qx = "INSERT INTO amazon_order_reports_by_last_update_orders
					      (orderid,purchase_date,purchase_timestamp,purchase_timestamp_pst,lastupdate_date,lastupdate_timestamp,lastupdate_timestamp_pst,status,sales_channel,fulfillment_channel,ship_service_level,address_city,address_state,address_zipcode,address_country,type,import_date)
					VALUES('$AmazonOrderID','$AmazonPurchaseDate','".strtotime($AmazonPurchaseDate)."','$purchase_timestamp_pst','$AmazonLastUpdate','".strtotime($AmazonLastUpdate)."','$update_timestamp_pst','$AmazonOrderStatus','$AmazonSalesChannel','$FulfillmentChannel','$ShipServiceLevel','".addslashes($AddressCity)."','".addslashes($AddressState)."','".addslashes($AddressZip)."','".addslashes($AddressCountry)."','3','".time()."')
			";
//		print_r($qx);
		if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
		$order_record_id = mysql_insert_id();
	}
	importItems($order_record_id,$AmazonOrderID,$items,$DB,$mysqlid);
//	print_r($orders);
}
function importItems($order_record_id,$amazon_orderid,$items,$DB,$mysqlid) {
	if(isset($items['ASIN'])) {
		$asin = $items['ASIN']['value'];
		$sku = $items['SKU']['value'];
		$itemStatus = $items['ItemStatus']['value'];
		$itemName = $items['ProductName']['value'];
		$itemQty = $items['Quantity']['value'];
		$efluentPid = getEfluentPID($items['SKU']['value'],$DB,$mysqlid);
		
		if (isset($items['ItemPrice'])) {
			$itemPrice = getItemPrices($items);
		}
		importItemValues($asin,$sku,$itemStatus,$itemName,$itemQty,$efluentPid,$itemPrice,$amazon_orderid,$order_record_id,$DB,$mysqlid);
	}
	else {
		foreach ($items as $k=>$v) {
			$asin = $v['ASIN']['value'];
			$sku = $v['SKU']['value'];
			$itemStatus = $v['ItemStatus']['value'];
			$itemName = $v['ProductName']['value'];
			$itemQty = $v['Quantity']['value'];
			$efluentPid = getEfluentPID($v['SKU']['value'],$DB,$mysqlid);
			
			if (isset($v['ItemPrice'])) {
				$itemPrice = getItemPrices($v);
			}
			importItemValues($asin,$sku,$itemStatus,$itemName,$itemQty,$efluentPid,$itemPrice,$amazon_orderid,$order_record_id,$DB,$mysqlid);
		}
	}
	
}

function importItemValues($asin,$sku,$itemStatus,$itemName,$itemQty,$efluentPid,$itemsPrice,$amazon_orderid,$order_record_id,$DB,$mysqlid) {
	$queryx = "SELECT id FROM amazon_order_reports_by_last_update_orders_items WHERE orderid='".$order_record_id."' AND sku='".$sku."'";
	if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
    if(mysql_num_rows($qokx)>0) {
    	$q = "UPDATE amazon_order_reports_by_last_update_orders_items SET
					asin='$asin',
					sku='$sku',
					pid='$efluentPid',
					item_status='$itemStatus',
					product_name='".addslashes($itemName)."',
					qty='$itemQty',
					price_principal='".$itemsPrice['principal']."',
					price_tax='".$itemsPrice['tax']."',
					price_shipping='".$itemsPrice['shipping']."',
					price_giftwrap='".$itemsPrice['giftwrap']."',
					type='3'
				WHERE 
					orderid='".$order_record_id."' AND sku='".$sku."'";
    }
    else {
    	$q = "INSERT INTO amazon_order_reports_by_last_update_orders_items
    				(orderid,amazon_orderid,asin,sku,pid,item_status,product_name,qty,price_principal,price_tax,price_shipping,price_giftwrap,type) 
    			VALUES('$order_record_id','$amazon_orderid','$asin','$sku','$efluentPid','$itemStatus','".addslashes($itemName)."','$itemQty','".$itemsPrice['principal']."','".$itemsPrice['tax']."','".$itemsPrice['shipping']."','".$itemsPrice['giftwrap']."','3')
    			";
    }
//    print_r($q);
    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
}
function getPromo($item) {
    if(isset($item['Promotion'][0])) {
	foreach ($item['Promotion'] as $k=>$v) {
	    if(isset($v['ItemPromotionDiscount'])) {
		return $v['ItemPromotionDiscount']['value'];
	    }
	}
    }
    elseif($item['Promotion']) {
	if(isset($item['Promotion']['ItemPromotionDiscount'])) {
	    return $item['Promotion']['ItemPromotionDiscount']['value'];
	}
    }
    return 0;
}
function getItemPrices($items) {
	$principal = $tax = $shipping = $giftwrap = 0;
	if (isset($items['ItemPrice']['Component'][0])) {
		foreach ($items['ItemPrice']['Component'] as $x=>$v) {
			if ($v['Type']['value'] == 'Principal') {
				$principal = $v['Amount']['value']-getPromo($items);
			}
			if ($v['Type']['value'] == 'Shipping') {
				$shipping = $v['Amount']['value'];
			}
			if ($v['Type']['value'] == 'Tax') {
				$tax = $v['Amount']['value'];
			}
			if ($v['Type']['value'] == 'GiftWrap') {
				$giftwrap = $v['Amount']['value'];
			}
		}
	}
	else {
		if ($items['ItemPrice']['Component']['Type']['value'] == 'Principal') {
			$principal = $items['ItemPrice']['Component']['Amount']['value']-getPromo($items);
		}
		if ($items['ItemPrice']['Component']['Type']['value'] == 'Shipping') {
			$shipping = $items['ItemPrice']['Component']['Amount']['value'];
		}
		if ($items['ItemPrice']['Component']['Type']['value'] == 'Tax') {
			$tax = $items['ItemPrice']['Component']['Amount']['value'];
		}
		if ($items['ItemPrice']['Component']['Type']['value'] == 'GiftWrap') {
			$giftwrap = $items['ItemPrice']['Component']['Amount']['value'];
		}
	}
	return array("principal"=>$principal,"shipping"=>$shipping,"tax"=>$tax,"giftwrap"=>$giftwrap);
}
function UTCToPST($time) {
    $dst = intval(date("I", $time));
    $tzOffset = intval(date('Z', time()));
    if ($tzOffset>0) {
    	$t = $tzOffset-28800;
    }
    else {
    	$t = 28800+$tzOffset;
    }
    return $time - $t;
//    return date($format, $time + $tzOffset - 28800 + $dst * 3600);
}
function getEfluentPID($amazon_sku,$DB,$mysqlid) {
    $queryx = "select pid from ".TABLE_PREFIX_FBA."_sku_map where fba_sku = '$amazon_sku'";
    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo mysql_error(); exit; }  }
    if(mysql_num_rows($qokx)>0) {
        list($fba_sku) = mysql_fetch_array($qokx);
        return $fba_sku;
    }
    else {
        return $amazon_sku;
    }
}
?>
<?mysql_close();?>