<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

// check if date range is valid
$bdate = str_replace('/','-',$bdate);
$edate = str_replace('/','-',$edate);
$bdate = preg_replace("/(\d{2})-(\d{2})-(\d{4})/" , "\\3-\\1-\\2" , $bdate);
$edate = preg_replace("/(\d{2})-(\d{2})-(\d{4})/" , "\\3-\\1-\\2" , $edate);

// disable date range
if ($disable_range == 'true')
{
	$bdate = date('d-m-Y');
	$edate = date('d-m-Y');
}

// date range
$date_range = $bdate.' / '.$edate;

// count order finished (status 200) and shipped for every user
$query = "SELECT COUNT(distinct(action_log.updateid)) AS count, users.displayname
		  FROM action_log
		  LEFT JOIN users ON action_log.userid=users.id
		  JOIN customer_orders ON action_log.updateid=customer_orders.orderid
		  WHERE action_log.type = '2'
		  AND customer_orders.status='200'
		  AND customer_orders.otype='INVOICE'
		  AND DATE(action_log.tstamp) BETWEEN '".$bdate."'
		  AND '".$edate."'
		  GROUP BY action_log.userid
		  ORDER BY count DESC";


$query = "SELECT distinct(action_log.updateid),action_log.userid, users.displayname
		  FROM action_log
		  LEFT JOIN users ON action_log.userid=users.id
		  JOIN customer_orders ON action_log.updateid=customer_orders.orderid
		  JOIN action_log_extended ON action_log.id=action_log_extended.lid AND action_log_extended.details like '%200 - Shipped%'
		  WHERE action_log.type = '2'
		  AND customer_orders.status='200'
		  AND customer_orders.otype='INVOICE'
		  AND DATE(action_log.tstamp) BETWEEN '".$bdate."'
		  AND '".$edate."'
		  GROUP BY action_log.updateid
		  ";
$bsdate = strtotime("$bdate 00:00:00");
$esdate = strtotime("$edate 23:59:59");

// AND 
//						  customer_order_tracking.shipped_user_id>0

$query = "SELECT distinct(customer_order_tracking.invoiceid),customer_order_tracking.shipped_user_id,users.displayname,customer_order_tracking.carrier
					FROM customer_order_tracking
					LEFT JOIN users ON customer_order_tracking.shipped_user_id=users.id
					INNER JOIN customer_orders ON customer_order_tracking.invoiceid=customer_orders.invoiceid AND customer_orders.status='200' AND customer_orders.otype='INVOICE' AND customer_orders.clickid != 'AM'
					WHERE customer_order_tracking.shipdate>='$bsdate' AND
						  customer_order_tracking.shipdate<='$esdate'
					  GROUP BY customer_order_tracking.invoiceid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) <= 0) { echo "<I>No Data Found</I>~<B><I>No Data Found</I></B>";}
$user = array();
$username = array();
$count = array();

$carrier_arr = array();
$count_carrier = array();


while (list($invoiceid,$userid,$displayname,$carrier) = mysql_fetch_array($qok)) {
	if(in_array($userid,$user))	{
		foreach ($user as $k=>$v) {
			if($v == $userid) {
				$count[$k] = $count[$k]+1;
			}
		}
	}
	else {
		array_push($user,$userid);
		array_push($username,$displayname);
		array_push($count,1);
	}
	
	if(in_array($carrier,$carrier_arr))	{
		foreach ($carrier_arr as $k=>$v) {
			if($v == $carrier) {
				$count_carrier[$k] = $count_carrier[$k]+1;
			}
		}
	}
	else {
		array_push($carrier_arr,$carrier);
		array_push($count_carrier,1);
	}
	
}

//print_r($query);
//
//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//if(mysql_num_rows($qok) <= 0) { echo "<I>No Data Found</I>~<B><I>No Data Found</I></B>"; exit; }

// count shipped items for each carrier
//$query_carrier = "SELECT COUNT(customer_order_tracking.invoiceid) AS count, customer_order_tracking.carrier
//				  FROM action_log
//				  JOIN customer_orders
//				  ON action_log.updateid=customer_orders.orderid
//				  JOIN customer_order_tracking
//				  ON customer_orders.invoiceid=customer_order_tracking.invoiceid
//				  WHERE action_log.type = '2'
//				  AND customer_orders.status='200'
//				  AND DATE(action_log.tstamp) BETWEEN '".$bdate."'
//				  AND '".$edate."'
//				  GROUP BY customer_order_tracking.carrier
//				  ORDER BY count DESC";
//
//$bsdate = strtotime("$bdate 00:00:00");
//$esdate = strtotime("$edate 23:59:59");
//
//$query_carrier = "SELECT distinct(customer_order_tracking.invoiceid), customer_order_tracking.carrier
//				  FROM customer_order_tracking
//				  INNER JOIN customer_orders ON customer_order_tracking.invoiceid=customer_orders.invoiceid
//				  WHERE customer_orders.status='200' AND customer_orders.otype='INVOICE'
//				  AND customer_order_tracking.shipdate>=$bsdate AND customer_order_tracking.shipdate<=$esdate
//				  GROUP BY customer_order_tracking.invoiceid";
//if(!$qok_carrier = mysql_db_query($DB, $query_carrier, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//$carrier_arr = array();
//$count_carrier = array();
//while (list($invoiceid,$carrier) = mysql_fetch_array($qok_carrier)) {
//	if(in_array($carrier,$carrier_arr))	{
//		foreach ($carrier_arr as $k=>$v) {
//			if($v == $carrier) {
//				$count_carrier[$k] = $count_carrier[$k]+1;
//			}
//		}
//	}
//	else {
//		array_push($carrier_arr,$carrier);
//		array_push($count_carrier,1);
//	}
//}
?>
<table width=99% id="results" class="sortable">
	<tr bgcolor="#eeeeee">
		<td colspan="2" height="21" align="left" valign="middle"><strong>Date Range:</strong> <?php echo $date_range; ?></td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td height="21" align="center" valign="middle" style="width:49%;"><B>User</B></td>
		<td height="21" align="center" valign="middle" style="width:49%;"><B>Shipments</B></td>
	</tr>
	<?
		foreach ($username as $k=>$v) {
			?>
			<tr>
				<td align="center"><?php echo $v; ?></td>
				<td align="center"><?php echo $count[$k]; ?></td>
			</tr>
			<?
		}
	?>
	
	<tr>
		<td align="center" colspan="2">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td height="21" align="center" valign="middle"><B>Carrier</B></td>
		<td height="21" align="center" valign="middle"><B>Shipments</B></td>
	</tr>
	<?
		foreach ($carrier_arr as $k=>$v) {
			?>
			<tr>
				<td align="center"><?php echo $v; ?></td>
				<td align="center"><?php echo $count_carrier[$k]; ?></td>
			</tr>
			<?
		}
	?>
</table>