<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Shipping Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<style>
.dialog {
	display:none;
	width:125px;
	height:65px;
	position:absolute;
	z-index:100;
	background:white;
	padding:2px;
	font:9pt tahoma;
	border:1px solid gray
}

.cover {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:99;
	background:#eeeeee;
	filter:alpha(Opacity=50);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7
}

#myIFrm {
	width:30px;
	height:30px;
}

#results {
	margin-bottom:20px;
}
</style>
<script>

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "1")				
	{// today
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.posearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "8")				
	{// last 60 days
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "9")				
	{// last 90 days
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "10")				
	{// last 120 days
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.posearch.disable_range.checked = 0;
		document.posearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.posearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function pullReport()
{
	var disable_range = document.posearch.disable_range.checked;
	var bdate = document.posearch.bdate.value;
	var edate = document.posearch.edate.value;

	var cvr = document.getElementById('savecover');
	cvr.style.display = 'block';
	cvr.style.top = 0;
	cvr.style.left = 0;
	cvr.style.width = '100%';
	cvr.style.height = '100%';

	var url = 'ajax_default.phtml';
 	url += '?disable_range=' + disable_range;
	url += '&bdate=' + bdate;
	url += '&edate=' + edate;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ('Your browser does not support AJAX!');
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open('GET',url,true);
	xmlHttp.send(null);
}

function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById('reportdata').innerHTML = xmlHttp.responseText;
		var cvr = document.getElementById('savecover');
		cvr.style.display = 'none';
	}	
}

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			searchOrders(1);
 			return false; 
 		}
	}  
} 
</script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<?
	if(intval($pf) == 0)
	{
		?>
		<td width=13 background="/mgt/images/l.jpg"> </td>
		<?
	}
	?>
	
	<td valign=top>
		<?
		if(intval($pf) == 0)
		{
			REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");
		}
		?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<div align=left>
		<table border=0>
		<tr>
			<td width=250>
				<form name="posearch">
				<div align=left style="border:1px solid #808080; width:250px">
				<table bgcolor="#eeeeee" width=100%>
				<tr>
					<td class="g1">Date Range:</td>
						<td>
						<select name="qdate" class="formselect" onchange="changeRange();">
							<option value="-1">-Quick Range-</option>
							<option value="1">Today</option>
							<option value="6">Yesterday</option>
							<option value="7">Yesterday + Today</option>
							<option value="2">Last 7 Days</option>
							<option value="3">Last 14 Days</option>
							<option value="4">Last 30 Days</option>
							<option value="8">Last 60 Days</option>
							<option value="9">Last 90 Days</option>
							<option value="10">Last 120 Days</option>
							<option value="5">Last Month</option>
						</select>
						<br />
						<input type="checkbox" name="disable_range" checked="checked">Ignore Date Range<BR>
						<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['posearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['posearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onkeypress="return cancelReturn(this, event)">
						
						- to -
							
						<input type="text" name="edate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['posearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['posearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onkeypress="return cancelReturn(this, event)">
					</td>
				</tr>				
				<tr>
					<td colspan=2 align=center>
					<input type="button" name="Action" value="View report" onclick="pullReport(1)" class="buttonItem">
					<iframe id="myIFrm" src="" style="visibility:hidden"></iframe>
				</tr>		
				</table>
				</div>
				</form>
			</td>
			<td style="width:99%;">
				<div id="reportdata">&nbsp;</div>
			</td>	
		
		</table>
		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->

	</td>
	<?
	if(intval($pf) == 0)
	{
		?>
		<td width=13 background="/mgt/images/r.jpg"> </td>
		<?
	}
	?>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
</body>
</html>