<?
/*ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);*/
ini_set('memory_limit', '64M');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}
function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
}

/*if ($f != '') {
	
	$fp = fopen("files/".$f, "r");
	$data = "";
	$data = fread($fp,filesize("files/".$f));
	fclose($fp);
	$file_array = xml2array($data,0);
	$resp = addSettlementData($file_array,$DB,$mysqlid);
	echo "<pre>".$resp."</pre>";
}*/
if ($handle = opendir('new_files')) {
    while (false !== ($file = readdir($handle))) {
        if ($file != "." && $file != ".." && $file != ".svn") {
            $fp = fopen("new_files/".$file, "r");
			$data = "";
			$data = fread($fp,filesize("new_files/".$file));
			fclose($fp);
			$file_array = xml2array($data,0);
			$resp = addSettlementData($file_array,$DB,$mysqlid);
        }
    }
    closedir($handle);
}

function addSettlementData ($file_array,$DB,$mysqlid) {
	if (count($file_array)>0) {
		$AmazonSettlementID = $file_array['AmazonEnvelope']['Message']['SettlementReport']['SettlementData']['AmazonSettlementID'];
		$TotalAmount = $file_array['AmazonEnvelope']['Message']['SettlementReport']['SettlementData']['TotalAmount'];
		$StartDate = $file_array['AmazonEnvelope']['Message']['SettlementReport']['SettlementData']['StartDate'];
		$EndDate = $file_array['AmazonEnvelope']['Message']['SettlementReport']['SettlementData']['EndDate'];
		$DepositDate = $file_array['AmazonEnvelope']['Message']['SettlementReport']['SettlementData']['DepositDate'];
		
		$query = "SELECT amazon_settlement_id FROM fba_settlement_report WHERE amazon_settlement_id='".$AmazonSettlementID."'";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q4ok) == 0) {
			$q = "INSERT INTO fba_settlement_report(amazon_settlement_id,total_amount,start_date,end_date,deposit_date) 
					VALUES('$AmazonSettlementID','$TotalAmount','$StartDate','$EndDate','$DepositDate')";
			if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$report_id = mysql_insert_id();
		}
		else {
			list($report_id) =  mysql_fetch_array($q4ok);
			return "Report allready exist";
		}
		$orders = $file_array['AmazonEnvelope']['Message']['SettlementReport']['Order'];
		if (count($orders)>0) {
			foreach ($orders as $k=>$v) {
				$AmazonOrderID = $v['AmazonOrderID'];
				$MerchantOrderID = $v['MerchantOrderID'];
				$ShipmentID = $v['ShipmentID'];
				$MarketplaceName = $v['MarketplaceName'];
				$MerchantFulfillmentID = $v['Fulfillment']['MerchantFulfillmentID'];
				$PostedDate = $v['Fulfillment']['PostedDate'];
				if (isset($v['ShipmentFees'])) {
					$FBAWeightBasedFee_custom = $v['ShipmentFees']['Fee']['Amount'];
				}
				$query = "SELECT amazon_order_id,id FROM fba_settlement_order WHERE amazon_order_id='".$AmazonOrderID."'";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($q4ok) == 0) {
					$q = "INSERT INTO fba_settlement_order(repid,amazon_order_id,merchant_order_id,shipment_id,marketplace_name,merchant_fulfillment_id,posted_date,report_id) 
						VALUES('$report_id','$AmazonOrderID','$MerchantOrderID','$ShipmentID','$MarketplaceName','$MerchantFulfillmentID','$PostedDate','$AmazonSettlementID')";
					if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$order_id = mysql_insert_id();
				}
				else {
					list($aoi,$order_id) =  mysql_fetch_array($q4ok);
				}
				if (isset($v['Fulfillment']['Item'][0])) {
					foreach ($v['Fulfillment']['Item'] as $k2=>$v2) {
						$GiftWrap = 0;
						$AmazonOrderItemCode = $v2['AmazonOrderItemCode'];
						$SKU = $v2['SKU'];
						$Quantity = $v2['Quantity'];
						if (isset($v2['ItemPrice']['Component'][0])) {
							
							foreach ($v2['ItemPrice']['Component'] as $kx=>$vx) {
								if ($vx['Type'] == 'Principal') {
									$Principal = $vx['Amount'];
								}
								if ($vx['Type'] == 'Shipping') {
									$Shipping = $vx['Amount'];
									if (isset($v2['Promotion']) && $v2['Promotion']['Type'] == 'Shipping') {
										$Shipping = $Shipping+$v2['Promotion']['Amount'];
									}
								}
								if ($vx['Type'] == 'GiftWrap') {
									$GiftWrap = $vx['Amount'];
								}
							}
							
						}
						else {
							$Principal = $v2['ItemPrice']['Component']['Amount'];
							$Shipping = 0;
							if (isset($v2['Promotion']) && $v2['Promotion']['Type'] == 'Shipping') {
								$Shipping = $Shipping+$v2['Promotion']['Amount'];
							}
						}
						$FBAPerUnitFulfillmentFee = $FBAWeightBasedFee=$FBAPerOrderFulfillmentFee=$Commission=$ShippingChargeback=$GiftwrapChargeback=0;
						if (isset($v2['ItemFees']['Fee'][0])) {
							foreach ($v2['ItemFees']['Fee'] as $k1=>$v1) {
								if ($v1['Type'] == 'FBAPerUnitFulfillmentFee') {
									$FBAPerUnitFulfillmentFee = $v1['Amount'];
								}
								if ($v1['Type'] == 'FBAWeightBasedFee') {
									$FBAWeightBasedFee = $v1['Amount'];
								}
								if ($v1['Type'] == 'FBAPerOrderFulfillmentFee') {
									$FBAPerOrderFulfillmentFee  = $v1['Amount'];
								}
								if ($v1['Type'] == 'Commission') {
									$Commission  = $v1['Amount'];
								}
								if ($v1['Type'] == 'ShippingChargeback') {
									$ShippingChargeback  = $v1['Amount'];
								}
								if ($v1['Type'] == 'GiftwrapChargeback') {
									$GiftwrapChargeback  = $v1['Amount'];
								}
							}
						}
						else {
							if ($v2['ItemFees']['Fee']['Type'] == 'FBAPerUnitFulfillmentFee') {
								$FBAPerUnitFulfillmentFee = $v2['ItemFees']['Fee']['Amount'];
							}
							if ($v2['ItemFees']['Fee']['Type'] == 'FBAWeightBasedFee') {
								$FBAWeightBasedFee = $v2['ItemFees']['Fee']['Amount'];
							}
							if ($v2['ItemFees']['Fee']['Type'] == 'FBAPerOrderFulfillmentFee') {
								$FBAPerOrderFulfillmentFee  = $v2['ItemFees']['Fee']['Amount'];
							}
							if ($v2['ItemFees']['Fee']['Type'] == 'Commission') {
								$Commission  = $v2['ItemFees']['Fee']['Amount'];
							}
							if ($v2['ItemFees']['Fee']['Type'] == 'ShippingChargeback') {
								$ShippingChargeback  = $v2['ItemFees']['Fee']['Amount'];
							}
						}
						
						$FBAWeightBasedFee = $FBAWeightBasedFee_custom+$FBAWeightBasedFee;
						$query = "SELECT pid from fba_sku_map WHERE fba_sku='".$SKU."'";
						if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if (mysql_num_rows($q4ok)>0) {
							list($pid) = mysql_fetch_array($q4ok);
							$OUR_SKU = $pid;
						}
						else {
							$OUR_SKU = $SKU;
						}
						$q = "INSERT INTO fba_settlement_order_items(orid,AmazonOrderItemCode,SKU,OUR_SKU,Quantity,Principal,Shipping,FBAPerUnitFulfillmentFee,FBAWeightBasedFee,FBAPerOrderFulfillmentFee,Commission,ShippingChargeback,GiftWrap,GiftwrapChargeback,amazon_order_id) 
								VALUES('$order_id','$AmazonOrderItemCode','$SKU','$OUR_SKU','$Quantity','$Principal','$Shipping','$FBAPerUnitFulfillmentFee','$FBAWeightBasedFee','$FBAPerOrderFulfillmentFee','$Commission','$ShippingChargeback','$GiftWrap','$GiftwrapChargeback','$AmazonOrderID')";
						/*$query = "SELECT id FROM fba_settlement_order_items WHERE AmazonOrderItemCode='".$AmazonOrderItemCode."'";
						if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if (mysql_num_rows($q4ok) == 0) {
							$q = "INSERT INTO fba_settlement_order_items(AmazonOrderItemCode,SKU,OUR_SKU,Quantity,Principal,Shipping,FBAPerUnitFulfillmentFee,FBAWeightBasedFee,FBAPerOrderFulfillmentFee,Commission,ShippingChargeback,amazon_order_id) 
								VALUES('$AmazonOrderItemCode','$SKU','$OUR_SKU','$Quantity','$Principal','$Shipping','$FBAPerUnitFulfillmentFee','$FBAWeightBasedFee','$FBAPerOrderFulfillmentFee','$Commission','$ShippingChargeback','$AmazonOrderID')";
							
						}
						else {
							list($item_id) = mysql_fetch_array($q4ok);
							$q = "UPDATE fba_settlement_order_items SET 
										AmazonOrderItemCode='$AmazonOrderItemCode',
										SKU='$SKU',
										OUR_SKU='$OUR_SKU',
										Quantity='$Quantity',
										Principal='$Principal',
										Shipping='$Shipping',
										FBAPerUnitFulfillmentFee='$FBAPerUnitFulfillmentFee',
										FBAWeightBasedFee='$FBAWeightBasedFee',
										FBAPerOrderFulfillmentFee='$FBAPerOrderFulfillmentFee',
										Commission='$Commission',
										ShippingChargeback='$ShippingChargeback',
										amazon_order_id='$AmazonOrderID'
								WHERE id='$item_id'";
						}*/
						if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
						$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($whid) = mysql_fetch_array($qok))
						{
							/*$q3 = "select cost from product_inventory where id = '$OUR_SKU' and whid = '$whid'";
							if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($inv_lcost) = mysql_fetch_array($qok3);*/
							$inv_lcost = getCost($OUR_SKU,$whid,$DB,$mysqlid);
							$qx = "SELECT qty FROM fba_settlement_order_items_cost WHERE pid='".$OUR_SKU."' AND whid='".$whid."' and amazon_settlement_id='".$AmazonSettlementID."' and amazon_order_id='".$AmazonOrderID."'";
							if(!$qokcx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if (mysql_num_rows($qokcx) == 0) {
								$qc = "INSERT INTO fba_settlement_order_items_cost(orid,pid,whid,cost,qty,amazon_settlement_id,amazon_order_id) VALUES('$order_id','$OUR_SKU','$whid','$inv_lcost','$Quantity','$AmazonSettlementID','$AmazonOrderID')";
								if(!$qokc = mysql_db_query($DB, $qc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }							
							}
							else {
								list($old_qty) = mysql_fetch_array($qokcx);
								$new_qty = $Quantity+$old_qty;
								
								$qc = "UPDATE fba_settlement_order_items_cost SET qty='".$new_qty."' WHERE pid='".$OUR_SKU."' AND whid='".$whid."' and amazon_settlement_id='".$AmazonSettlementID."' and amazon_order_id='".$AmazonOrderID."'"; 
	//							INSERT INTO fba_settlement_order_items_cost(pid,whid,cost,qty,amazon_settlement_id,amazon_order_id) VALUES('$OUR_SKU','$whid','$inv_lcost','$Quantity','$AmazonSettlementID','$AmazonOrderID')";
								if(!$qokc = mysql_db_query($DB, $qc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }							
							}
						}
						
					}
				}
				else {
					$GiftWrap = 0;
					$AmazonOrderItemCode = $v['Fulfillment']['Item']['AmazonOrderItemCode'];
					$SKU = $v['Fulfillment']['Item']['SKU'];
					$Quantity = $v['Fulfillment']['Item']['Quantity'];
					if (isset($v['Fulfillment']['Item']['ItemPrice']['Component'][0])) {
						/*$Principal = $v['Fulfillment']['Item']['ItemPrice']['Component'][0]['Amount'];
						$Shipping = $v['Fulfillment']['Item']['ItemPrice']['Component'][1]['Amount'];
						if (isset($v['Fulfillment']['Item']['Promotion']) && $v['Fulfillment']['Item']['Promotion']['Type'] == 'Shipping') {
							$Shipping = $Shipping+$v['Fulfillment']['Item']['Promotion']['Amount'];
						}*/
						foreach ($v['Fulfillment']['Item']['ItemPrice']['Component'] as $kx=>$vx) {
							if ($vx['Type'] == 'Principal') {
								$Principal = $vx['Amount'];
							}
							if ($vx['Type'] == 'Shipping') {
								$Shipping = $vx['Amount'];
								if (isset($v['Fulfillment']['Item']['Promotion']) && $v['Fulfillment']['Item']['Promotion']['Type'] == 'Shipping') {
									$Shipping = $Shipping+$v['Fulfillment']['Item']['Promotion']['Amount'];
								}
							}
							if ($vx['Type'] == 'GiftWrap') {
								$GiftWrap = $vx['Amount'];
							}
						}
					}
					else {
						$Principal = $v['Fulfillment']['Item']['ItemPrice']['Component']['Amount'];
						$Shipping = 0;
						if (isset($v['Fulfillment']['Item']['Promotion']) && $v['Fulfillment']['Item']['Promotion']['Type'] == 'Shipping') {
							$Shipping = $Shipping+$v['Fulfillment']['Item']['Promotion']['Amount'];
						}
					}
					$FBAPerUnitFulfillmentFee = $FBAWeightBasedFee=$FBAPerOrderFulfillmentFee=$Commission=$ShippingChargeback=$GiftwrapChargeback=0;
					if (isset($v['Fulfillment']['Item']['ItemFees']['Fee'][0])) {
						foreach ($v['Fulfillment']['Item']['ItemFees']['Fee'] as $k1=>$v1) {
							if ($v1['Type'] == 'FBAPerUnitFulfillmentFee') {
								$FBAPerUnitFulfillmentFee = $v1['Amount'];
							}
							if ($v1['Type'] == 'FBAWeightBasedFee') {
								$FBAWeightBasedFee = $v1['Amount'];
							}
							if ($v1['Type'] == 'FBAPerOrderFulfillmentFee') {
								$FBAPerOrderFulfillmentFee  = $v1['Amount'];
							}
							if ($v1['Type'] == 'Commission') {
								$Commission  = $v1['Amount'];
							}
							if ($v1['Type'] == 'ShippingChargeback') {
								$ShippingChargeback  = $v1['Amount'];
							}
							if ($v1['Type'] == 'GiftwrapChargeback') {
								$GiftwrapChargeback  = $v1['Amount'];
							}
						}
					}
					else {
						if ($v['Fulfillment']['Item']['ItemFees']['Fee']['Type'] == 'FBAPerUnitFulfillmentFee') {
							$FBAPerUnitFulfillmentFee = $v['Fulfillment']['Item']['ItemFees']['Fee']['Amount'];
						}
						if ($v['Fulfillment']['Item']['ItemFees']['Fee']['Type'] == 'FBAWeightBasedFee') {
							$FBAWeightBasedFee = $v['Fulfillment']['Item']['ItemFees']['Fee']['Amount'];
						}
						if ($v['Fulfillment']['Item']['ItemFees']['Fee']['Type'] == 'FBAPerOrderFulfillmentFee') {
							$FBAPerOrderFulfillmentFee  = $v['Fulfillment']['Item']['ItemFees']['Fee']['Amount'];
						}
						if ($v['Fulfillment']['Item']['ItemFees']['Fee']['Type'] == 'Commission') {
							$Commission  = $v['Fulfillment']['Item']['ItemFees']['Fee']['Amount'];
						}
						if ($v['Fulfillment']['Item']['ItemFees']['Fee']['Type'] == 'ShippingChargeback') {
							$ShippingChargeback  = $v['Fulfillment']['Item']['ItemFees']['Fee']['Amount'];
						}
						if ($v['Fulfillment']['Item']['ItemFees']['Fee']['Type'] == 'GiftwrapChargeback') {
							$GiftwrapChargeback  = $v['Fulfillment']['Item']['ItemFees']['Fee']['Amount'];
						}
					}
					
					$FBAWeightBasedFee = $FBAWeightBasedFee_custom+$FBAWeightBasedFee;
					
					$query = "SELECT pid from fba_sku_map WHERE fba_sku='".$SKU."'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if (mysql_num_rows($q4ok)>0) {
						list($pid) = mysql_fetch_array($q4ok);
						$OUR_SKU = $pid;
					}
					else {
						$OUR_SKU = $SKU;
					}
					$q = "INSERT INTO fba_settlement_order_items(orid,AmazonOrderItemCode,SKU,OUR_SKU,Quantity,Principal,Shipping,FBAPerUnitFulfillmentFee,FBAWeightBasedFee,FBAPerOrderFulfillmentFee,Commission,ShippingChargeback,GiftWrap,GiftwrapChargeback,amazon_order_id) 
								VALUES('$order_id','$AmazonOrderItemCode','$SKU','$OUR_SKU','$Quantity','$Principal','$Shipping','$FBAPerUnitFulfillmentFee','$FBAWeightBasedFee','$FBAPerOrderFulfillmentFee','$Commission','$ShippingChargeback','$GiftWrap','$GiftwrapChargeback','$AmazonOrderID')";					
					/*$q = "INSERT INTO fba_settlement_order_items(orid,AmazonOrderItemCode,SKU,OUR_SKU,Quantity,Principal,Shipping,FBAPerUnitFulfillmentFee,FBAWeightBasedFee,FBAPerOrderFulfillmentFee,Commission,ShippingChargeback,amazon_order_id) 
							VALUES('$order_id','$AmazonOrderItemCode','$SKU','$OUR_SKU','$Quantity','$Principal','$Shipping','$FBAPerUnitFulfillmentFee','$FBAWeightBasedFee','$FBAPerOrderFulfillmentFee','$Commission','$ShippingChargeback','$AmazonOrderID')";*/
					
					/*$query = "SELECT id FROM fba_settlement_order_items WHERE AmazonOrderItemCode='".$AmazonOrderItemCode."'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if (mysql_num_rows($q4ok) == 0) {
						$q = "INSERT INTO fba_settlement_order_items(AmazonOrderItemCode,SKU,OUR_SKU,Quantity,Principal,Shipping,FBAPerUnitFulfillmentFee,FBAWeightBasedFee,FBAPerOrderFulfillmentFee,Commission,ShippingChargeback,amazon_order_id) 
							VALUES('$AmazonOrderItemCode','$SKU','$OUR_SKU','$Quantity','$Principal','$Shipping','$FBAPerUnitFulfillmentFee','$FBAWeightBasedFee','$FBAPerOrderFulfillmentFee','$Commission','$ShippingChargeback','$AmazonOrderID')";
						
					}
					else {
						list($item_id) = mysql_fetch_array($q4ok);
						$q = "UPDATE fba_settlement_order_items SET 
									AmazonOrderItemCode='$AmazonOrderItemCode',
									SKU='$SKU',
									OUR_SKU='$OUR_SKU',
									Quantity='$Quantity',
									Principal='$Principal',
									Shipping='$Shipping',
									FBAPerUnitFulfillmentFee='$FBAPerUnitFulfillmentFee',
									FBAWeightBasedFee='$FBAWeightBasedFee',
									FBAPerOrderFulfillmentFee='$FBAPerOrderFulfillmentFee',
									Commission='$Commission',
									ShippingChargeback='$ShippingChargeback',
									amazon_order_id='$AmazonOrderID'
							WHERE id='$item_id'";
					}*/
					if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($whid) = mysql_fetch_array($qok))
					{
						/*$q3 = "select cost from product_inventory where id = '$OUR_SKU' and whid = '$whid'";
						if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($inv_lcost) = mysql_fetch_array($qok3);*/
						$inv_lcost = getCost($OUR_SKU,$whid,$DB,$mysqlid);
						$qx = "SELECT qty FROM fba_settlement_order_items_cost WHERE pid='".$OUR_SKU."' AND whid='".$whid."' and amazon_settlement_id='".$AmazonSettlementID."' and amazon_order_id='".$AmazonOrderID."'";
						if(!$qokcx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if (mysql_num_rows($qokcx) == 0) {
							$qc = "INSERT INTO fba_settlement_order_items_cost(orid,pid,whid,cost,qty,amazon_settlement_id,amazon_order_id) VALUES('$order_id','$OUR_SKU','$whid','$inv_lcost','$Quantity','$AmazonSettlementID','$AmazonOrderID')";
							if(!$qokc = mysql_db_query($DB, $qc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }							
						}
						else {
							list($old_qty) = mysql_fetch_array($qokcx);
							$new_qty = $Quantity+$old_qty;
							
							$qc = "UPDATE fba_settlement_order_items_cost SET qty='".$new_qty."' WHERE pid='".$OUR_SKU."' AND whid='".$whid."' and amazon_settlement_id='".$AmazonSettlementID."' and amazon_order_id='".$AmazonOrderID."'"; 
//							INSERT INTO fba_settlement_order_items_cost(pid,whid,cost,qty,amazon_settlement_id,amazon_order_id) VALUES('$OUR_SKU','$whid','$inv_lcost','$Quantity','$AmazonSettlementID','$AmazonOrderID')";
							if(!$qokc = mysql_db_query($DB, $qc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }							
						}
					}
				}
			}
		}
		$adjustments = $file_array['AmazonEnvelope']['Message']['SettlementReport']['Adjustment'];
		if (count($adjustments)>0) {
			foreach ($adjustments as $k=>$v) {
				$AmazonOrderID = $v['AmazonOrderID'];
				$MerchantOrderID = $v['MerchantOrderID'];
				$AdjustmentID = $v['AdjustmentID'];
				$MarketplaceName = $v['MarketplaceName'];
				$MerchantFulfillmentID = $v['Fulfillment']['MerchantFulfillmentID'];
				$PostedDate = $v['Fulfillment']['PostedDate'];
				
				$query = "SELECT id FROM fba_settlement_adjustment WHERE amazon_order_id='".$AmazonOrderID."'";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_numrows($q4ok) == 0) {
					$q = "INSERT INTO fba_settlement_adjustment(amazon_order_id,merchant_order_id,adjustment_id,marketplace_name,merchant_fulfillment_id,posted_date,report_id) 
						VALUES('$AmazonOrderID','$MerchantOrderID','$AdjustmentID','$MarketplaceName','$MerchantFulfillmentID','$PostedDate','$AmazonSettlementID')";
				}
				else {
					list($adj_id) = mysql_fetch_array($q4ok);
					$q = "UPDATE fba_settlement_adjustment SET
							amazon_order_id='$AmazonOrderID',
							merchant_order_id='$MerchantOrderID',
							adjustment_id='$AdjustmentID',
							marketplace_name='$MarketplaceName',
							merchant_fulfillment_id='$MerchantFulfillmentID',
							posted_date='$PostedDate',
							report_id='$AmazonSettlementID'
							WHERE id='".$adj_id."'"; 
				}
				if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				
				$AmazonOrderItemCode = $v['Fulfillment']['AdjustedItem']['AmazonOrderItemCode'];
				$MerchantAdjustmentItemID = $v['Fulfillment']['AdjustedItem']['MerchantAdjustmentItemID'];
				$SKU = $v['Fulfillment']['AdjustedItem']['SKU'];
				$Principal = $Shipping = 0;
				
				if (isset($v['Fulfillment']['AdjustedItem']['ItemPriceAdjustments']['Component'][0])) {
					$fee_tmp = $v['Fulfillment']['AdjustedItem']['ItemPriceAdjustments']['Component'];
				}
				else {
					$fee_tmp = $v['Fulfillment']['AdjustedItem']['ItemPriceAdjustments'];
				}
				foreach ($fee_tmp as $k1=>$v1) {
					if ($v1['Type'] == 'Principal') {
						$Principal = $v1['Amount'];
					}
					if ($v1['Type'] == 'Shipping') {
						$Shipping = $v1['Amount'];
					}
				}
				
				
				$RefundCommission=$Commission=$ShippingHB=0;
				if (isset($v['Fulfillment']['AdjustedItem']['ItemFeeAdjustments']['Fee'][0])) {
					$fee_tmp1 = $v['Fulfillment']['AdjustedItem']['ItemFeeAdjustments']['Fee'];
				}
				else {
					$fee_tmp1 = $v['Fulfillment']['AdjustedItem']['ItemFeeAdjustments'];
				}
				foreach ($fee_tmp1 as $k1=>$v1) {
					if ($v1['Type'] == 'RefundCommission') {
						$RefundCommission = $v1['Amount'];
					}
					if ($v1['Type'] == 'Commission') {
						$Commission  = $v1['Amount'];
					}
					if ($v1['Type'] == 'ShippingHB') {
						$ShippingHB = $v1['Amount'];
					}
				}
				$query = "SELECT pid from fba_sku_map WHERE fba_sku='".$SKU."'";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($q4ok)>0) {
					list($pid) = mysql_fetch_array($q4ok);
					$OUR_SKU = $pid;
				}
				else {
					$OUR_SKU = $SKU;
				}
				
				$query = "SELECT id FROM fba_settlement_adjustment_items WHERE AmazonOrderItemCode='".$AmazonOrderItemCode."' and amazon_order_id='".$AmazonOrderID."'";
				if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_numrows($q4ok) == 0) {
					$q = "INSERT INTO fba_settlement_adjustment_items(
									AmazonOrderItemCode,
									MerchantAdjustmentItemID,
									SKU,
									OUR_SKU,
									Principal,
									Shipping,
									RefundCommission,
									Commission,
									ShippingHB,
									amazon_order_id) 
						VALUES(
							'$AmazonOrderItemCode',
							'$MerchantAdjustmentItemID',
							'$SKU',
							'$OUR_SKU',
							'$Principal',
							'$Shipping',
							'$RefundCommission',
							'$Commission',
							'$ShippingHB',
							'$AmazonOrderID')";
					
				}
				else {
					list($adj_item_id) = mysql_fetch_array($q4ok);
					$q = "UPDATE fba_settlement_adjustment_items
							SET 
								AmazonOrderItemCode='$AmazonOrderItemCode',
								MerchantAdjustmentItemID='$MerchantAdjustmentItemID',
								SKU='$SKU',
								OUR_SKU='$OUR_SKU',
								Principal='$Principal',
								Shipping='$Shipping',
								RefundCommission='$RefundCommission',
								Commission='$Commission',
								ShippingHB='$ShippingHB',
								amazon_order_id='$AmazonOrderID'
							WHERE id='".$adj_item_id."'";
				}
				if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($whid) = mysql_fetch_array($qok))
				{
					$inv_lcost = getCost($OUR_SKU,$whid,$DB,$mysqlid);
					$qx = "SELECT pid FROM fba_settlement_adjustment_items_cost WHERE pid='".$OUR_SKU."' AND whid='".$whid."' and amazon_settlement_id='".$AmazonSettlementID."' and amazon_order_id='".$AmazonOrderID."'";
					if(!$qokcx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if (mysql_num_rows($qokcx) == 0) {
						$qc = "INSERT INTO fba_settlement_adjustment_items_cost(pid,whid,cost,amazon_settlement_id,amazon_order_id) VALUES('$OUR_SKU','$whid','$inv_lcost','$AmazonSettlementID','$AmazonOrderID')";
						if(!$qokc = mysql_db_query($DB, $qc, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }							
					}
				}
			}
		}
		$others = $file_array['AmazonEnvelope']['Message']['SettlementReport']['OtherTransaction'];
		if (count($others) >0) {
			$query = "DELETE FROM fba_settlement_other WHERE report_id='".$AmazonSettlementID."'";
			if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			foreach ($others as $o) {
				$TransactionType = $o['TransactionType'];
				$AmazonOrderID = $o['AmazonOrderID'];
				$PostedDate = $o['PostedDate'];
				$Amount = $o['Amount'];

				$q = "INSERT INTO fba_settlement_other(
								report_id,
								TransactionType,
								PostedDate,
								Amount,
								AmazonOrderID
								) 
					VALUES(
						'$AmazonSettlementID',
						'$TransactionType',
						'$PostedDate',
						'$Amount',
						'$AmazonOrderID')";
					
				if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
	}
	return "Success";
}
function getCost($pid,$whid,$DB,$mysqlid) {
	$q = "SELECT kit from product_list where id='".$pid."'";
	if(!$qok3 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($kit) = mysql_fetch_array($qok3);
	if ($kit == 0) {
		$q3 = "select cost from product_inventory where id = '$pid' and whid = '$whid'";
		if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($inv_lcost) = mysql_fetch_array($qok3);
		return $inv_lcost;
	}
	else {
		$cost = 0;
		$q3 = "select qty,kid from product_kitskus where pid = '$id'";
		if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while (list($p,$qty) = mysql_fetch_array($qok3)) {
			$q4 = "select cost from product_inventory where id = '$p' and whid = '$whid'";
			if(!$qok4 = mysql_db_query($DB, $q4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($c) = mysql_fetch_array($qok4);
			$cost += $c*$qty;
		}
		return $cost;
	}
}
?>
