<?
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if ($action != '' && $pid != '') {
	if ($action == 'use_asin') {
		$query = "Update product_list set asin ='$save_value' WHERE id='$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		echo 'ASIN updated successfully.';
	}
	
	if ($action == 'use_for_title')
	{
		$query_title = "SELECT title
						FROM amazon_duplicates_extended
						WHERE asin = '$save_value'
						LIMIT 1";
		if(!$qok_title = mysql_db_query($DB, $query_title, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		list($title) = mysql_fetch_array($qok_title);
		
		$query = "UPDATE product_list
				  SET descr = '".trim($title)."'
				  WHERE id = '$pid'
				  LIMIT 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		echo 'Title updated successfully.';
	}
	
	if ($action == 'wrong_asin') {
		$query = "Update product_list set visible ='0',dropship='0' WHERE id='$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		$query = "DELETE FROM list_products WHERE pid='$pid' AND lid='25'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		$query = "INSERT INTO list_products(lid,pid) VALUES('25','$pid')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		echo 'Done wrong ASIN.';	
	}
	
	if ($action == 'use_title') {
		$query = "select asin, salesrank, imageurl, brand, upc, features, lowestprice, numsellers, title from amazon_duplicates_extended where asin = '$save_value'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		list($asin, $salesrank, $imageurl, $brand, $upc, $features, $lowestprice, $numsellers, $title) = mysql_fetch_array($q2ok);
		$ptitle = $title."<BR><ul>".$features."</ul>";
		
		$query = "DELETE FROM product_descr WHERE id='$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		$query = "INSERT INTO product_descr(id,data) VALUES('$pid','".addslashes($ptitle)."')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		echo 'Description updated successfully.';
	}

	if ($action == 'use_upc') {
		$query = "Update product_list set upccode ='$save_value' WHERE id='$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		echo 'UPC updated successfully.';
	}

	if ($action == 'use_image') 
	{
		useImage($ROOT_DIR,$DB,$mysqlid,$efc,$pid,$save_value);
		echo 'Image updated successfully.';
	}

	if ($action == 'create_child') {
//		$query = "select asin, salesrank, imageurl,large_imageurl, brand, upc, features, lowestprice, numsellers, title from amazon_duplicates_extended where did = '$pid'";
//		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
//		list($asin, $salesrank, $imageurl,$large_imageurl, $brand, $upc, $features, $lowestprice, $numsellers, $title) = mysql_fetch_array($q2ok);
		
		
//		$efc->cacheAdditionalInfo($pid);

		$has_lid = explode('_',$save_value);
		$save_value = $has_lid['0'];

		$copypid = $pid;
	
		////////////////////////////////////////////
		// e1 is syncing with e2 right now so, don't autoincrement for the id
		$query = "select id from product_list order by id desc limit 0, 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 47"; exit; }  }
		list($id) = mysql_fetch_array($qok);
		$id++;
		
		$q = "SELECT manid, manpart, added_dte, status, returnable, platform, grp, cat, sub, roimast, dropship, shipweight,
					oem, refurb, sku, visible, kit, demo, hidestock, usemap, shipcode, alwaysinstock, alwaysoutstock, 
					invisibleonstock, shipsin, minqty, targetqty, pricenote, am_qty,
					am_std_ship, am_exp_ship, kit_fixed, kit_value, amazon_realtime, modelno, serialized, preorder, sysvis, cmanpart, am_latency, use_asin, series, 
					eb_std_ship, eb_exp_ship, am_update_override, am_condition FROM product_list WHERE id='".$copypid."'";
		if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manid, $manpart, $added_dte, $status, $returnable, $platform, $grp, $cat, $sub, $roimast, $dropship, $shipweight,
					$oem, $refurb, $sku, $visible, $kit, $demo, $hidestock, $usemap, $shipcode, $alwaysinstock, $alwaysoutstock, 
					$invisibleonstock, $shipsin, $minqty, $targetqty, $pricenote, $am_qty,
					$am_std_ship, $am_exp_ship, $kit_fixed, $kit_value, $amazon_realtime, $modelno, $serialized, $preorder, $sysvis, $cmanpart, $am_latency, $use_asin, $series, 
					$eb_std_ship, $eb_exp_ship, $am_update_override, $am_condition) = mysql_fetch_array($qok);
		
		$cmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
		if($shipweight == '') {
	            $shipweight = $weight;
		}
		
		// get upc, title
		$query_descr = "SELECT upc, title
						FROM amazon_duplicates_extended
						WHERE asin = '$save_value'
						LIMIT 1";
		if(!$qok_descr = mysql_db_query($DB, $query_descr, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($upccode,$descr) = mysql_fetch_array($qok_descr);
		
		$query = "insert into product_list(id, manid, manpart, descr, added_dte, status, returnable, upccode, platform, grp, cat, sub, roimast, dropship, shipweight,
					oem, refurb, sku, visible, kit, demo, hidestock, usemap, shipcode, alwaysinstock, alwaysoutstock, 
					invisibleonstock, shipsin, minqty, targetqty, pricenote, asin, am_qty,
					am_std_ship, am_exp_ship, kit_fixed, kit_value, amazon_realtime, modelno, serialized, preorder, sysvis, cmanpart, am_latency, use_asin, series, 
					eb_std_ship, eb_exp_ship, am_update_override, am_condition) ";
		$query .= " values('$id', '$manid', '$manpart', '$descr', '$added_dte', '$status', '$returnable', '$upccode', '$platform', '$grp', '$cat', '$sub', '$roimast', '$dropship', '$shipweight',
					'$oem', '$refurb', '$sku', '$visible', '$kit', '$demo', '$hidestock', '$usemap', '$shipcode', '$alwaysinstock', '$alwaysoutstock', 
					'$invisibleonstock', '$shipsin', '$minqty', '$targetqty', '$pricenote', '$save_value', '$am_qty',
					'$am_std_ship', '$am_exp_ship', '$kit_fixed', '$kit_value', '$amazon_realtime', '$modelno', '$serialized', '$preorder', '$sysvis', '$cmanpart', '$am_latency', '$use_asin', '$series', 
					'$eb_std_ship', '$eb_exp_ship', '$am_update_override', '$am_condition')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 48"; exit; }  }
		
		if(intval($id) <= 0)
		{
			echo "ERROR ID: $query\n";
		}
				
		$q = "SELECT dsqty,scost,displayname,roimast_count,imagecount,cattree,sitelist,inlist FROM product_search_extended WHERE pid='$copypid'";
			if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($sqtya,$scosta,$displaynamea,$roimast_counta,$imagecounta,$cattreea,$sitelista,$inlista) = mysql_fetch_array($qok);
			
			$q = "INSERT INTO product_search_extended(pid,dsqty,scost,displayname,roimast_count,imagecount,cattree,sitelist,inlist) 
						VALUES('$id','$sqtya','$scosta','$displaynamea','$roimast_counta','$imagecounta','$cattreea','$sitelista','$inlista')";
			if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
		
		if($amazon_ca_enabled == '1' && $amazon_ca_enabled !='') {
	        $query = "update product_list set amazon_ca_asin = '$amazon_ca_asin', amazon_ca_am_qty = '$amazon_ca_am_qty', 
	                                amazon_ca_am_std_ship = '$amazon_ca_am_std_ship', amazon_ca_am_exp_ship = '$amazon_ca_am_exp_ship',
	                                amazon_ca_amazon_realtime = '$amazon_ca_amazon_realtime', amazon_ca_am_update_override = '$amazon_ca_am_update_override', 
	                                amazon_ca_am_latency = '$amazon_ca_am_latency', amazon_ca_use_asin = '$amazon_ca_use_asin',  amazon_ca_am_condition = '$amazon_ca_am_condition' where id = '$id'";
	        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 49"; exit; }  }
		}
	        
	        
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// product_commission
		$query = "show tables like 'product_commission'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 50"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			$query = "delete from product_commission where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 51"; exit; }  }
			
			if(floatval($commission) > 0.00)
			{
				$query = "insert into product_commission(pid, commission, type) values('$id', '$commission', '$commission_type')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 52"; exit; }  }
			}
		}
	
		///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// SKU ASSIGNMENT
		$query = "delete from sku_assignment where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 53"; exit; }  }
		
		if(intval($assignedto) > 0)
		{
			$query = "insert into sku_assignment(pid, userid) values('$id', '$assignedto')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 54"; exit; }  }
		}
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
		if( (intval($copypid) > 0) && ($kit == 1)) // copypid and kit?  Copy the kit components over
		{
			$query = "insert into product_kitskus(pid, kid, qty) select $id, kid, qty from product_kitskus where pid = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 55"; exit; }  }
		}
		
		if( intval($copypid) > 0 ) 
		{
	            $query = "SELECT tid,sscid,dvalue FROM product_static_specs WHERE id='".$copypid."'";
	            if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 56";echo mysql_error(); exit; }  }
	            while (list($tid,$sscid,$dvalue) = mysql_fetch_array($qok)) {
	                $ss = array();
	                $ss['tid'] = $tid;
	                $ss['sscid'] = $sscid;
	                $ss['dvalue'] = $dvalue;
	                $static_arr[] = $ss;	
	            }
	            foreach($static_arr as $x=>$y) {
	                $qxx = "INSERT INTO product_static_specs(id,tid,sscid,dvalue) VALUES('".$id."','".addslashes($y['tid'])."','".$y['sscid']."','".$y['dvalue']."')";
	                if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 57";echo mysql_error(); exit; }  }
	            }
	            
	        }
		if( intval($copypid) > 0 ) 
		{
			$query = "insert into product_descr(id, data, divid) select $id, data, divid from product_descr where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 58"; exit; }  }
			
			$query = "insert into product_html(id, data, divid) select $id, data, divid from product_html where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 59"; exit; }  }
			
			// add image
			useImage($ROOT_DIR,$DB,$mysqlid,$efc,$id,$save_value);

			$query = "insert into product_specs(id, section, dkey, dval, divid) select $id, section, dkey, dval, divid from product_specs where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 61"; exit; }  }
			
			$query = "insert into product_accessories(id, accid, dorder) select $id, accid, dorder from product_accessories where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 62"; exit; }  }
			
			$query = "insert into product_accessories2(id, accid, dorder) select $id, accid, dorder from product_accessories2 where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 63"; exit; }  }
			
			$query = "insert into product_features(id, feature) select $id, feature from product_features where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 64"; exit; }  }
			
			$query = "insert into product_keywords(id, kw1,kw2,kw3,kw4,kw5) select $id, kw1,kw2,kw3,kw4,kw5 from product_keywords where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 65"; exit; }  }
			
			$query = "insert into ebay_categories(pid, ebay1, ebay2, ebay3) select $id, ebay1, ebay2, ebay3 from ebay_categories where pid = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 66"; exit; }  }
			
			$query = "insert into buy_categories_pid(pid, buycat) select $id,buycat from buy_categories_pid where pid = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 67"; exit; }  }
			
			$query = "insert into product_inthebox(id, data) select $id, data from product_inthebox where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 68"; exit; }  }
			
			$query = "insert into product_warranty(id, data) select $id, data from product_warranty where id = '$copypid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 69"; exit; }  }
			
		}
		
		///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$q = "SELECT price_map, price_msrp, price_level1, price_level2, price_level3, price_level4, price_level5, price_level6, price_level7, price_level8, price_level9, instock, avgcost, eta, fco1, fco2, fco3, fco4, fco5, fco6, fco7, fco8, fco9 FROM product_prices WHERE id='".$copypid."'";
		if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($price_map, $price_msrp, $price_level1, $price_level2, $price_level3, $price_level4, $price_level5, $price_level6, $price_level7, $price_level8, $price_level9, $instock, $avgcost, $eta, $fco1, $fco2, $fco3, $fco4, $fco5, $fco6, $fco7, $fco8, $fco9) = mysql_fetch_array($qok);
		
		if(floatval($price_level2) <= 0) $price_level2 = $price_level1;
		if(floatval($price_level3) <= 0) $price_level3 = $price_level1;
		if(floatval($price_level4) <= 0) $price_level4 = $price_level1;
		if(floatval($price_level5) <= 0) $price_level5 = $price_level1;
		if(floatval($price_level6) <= 0) $price_level6 = $price_level1;
		if(floatval($price_level7) <= 0) $price_level7 = $price_level1;
		if(floatval($price_level8) <= 0) $price_level8 = $price_level1;
		if(floatval($price_level9) <= 0) $price_level9 = $price_level1;
		
		$eta = date("Y-m-d H:i:s", strtotime($inventory_eta));
		
		$query = "insert into product_prices(id, price_map, price_msrp, price_level1, price_level2, price_level3, price_level4, price_level5, price_level6, price_level7, price_level8, price_level9, instock, avgcost, eta, fco1, fco2, fco3, fco4, fco5, fco6, fco7, fco8, fco9)";
		$query .= " values('$id', '$price_map', '$price_msrp','$price_level1','$price_level2','$price_level3','$price_level4','$price_level5','$price_level6','$price_level7','$price_level8','$price_level9','0','$inventory_cost','$eta','$fco1','$fco2','$fco3','$fco4','$fco5','$fco6','$fco7','$fco8','$fco9')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 70"; exit; }  }
		
		$tstock = $tcost = 0.00;
		
		$efc->checkKitPriceChange($id);
	
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

		if(intval($has_lid['1']) > 0)
		{
			$lid = $has_lid['1'];
			$query_lid = "INSERT INTO list_products (pid, lid)
							  VALUES ('$id','$lid')";			
			if(!$qok_lid = mysql_db_query($DB, $query_lid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 70"; exit; }  }
		}
		
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		
		$typeBenabled = $efc->getConfigValue("eFluent Settings", "InvType");
		if($typeBenabled == "B")
		{
			$invarray = $efc->getInventoryType($id);
			$inv_type = $invarray['inv_type'];
		}
		
		// get the list of available warehouses
		
		if($inv_type == "B")
			$query = "select config_key, config_value from configuration where config_group = 'Warehouse List B' and config_key is NOT NULL";
		else 
			$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 71"; exit; }  }
		while(list($whid, $whname) = mysql_fetch_array($qok))
		{
			// now add what we have
			if($inv_type == "B")
			{
				$query = "SELECT SUM(inv_available), SUM(inv_available * cost)
						  FROM product_inventory_b
						  WHERE id = '$copypid'
						  AND whid = '$whid'";
			}
			else
			{
				$query = "SELECT SUM(inv_available), SUM(inv_available * cost)
						  FROM product_inventory
						  WHERE id = '$copypid'
						  AND whid = '$whid'";
			} 
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 72"; exit; }  }
			list($whstock,$whcost) = mysql_fetch_array($qok);
			
			if($inv_type == "B")
			{
				$query = "insert into product_inventory_b(pid, inv_available, whid) values('$id', '$whstock', '$whid')";
			}
			else 
			{
				$query = "insert into product_inventory(id, warehouse, inv_available, cost, whid) values('$id', '$whname', '$whstock', '$whcost', '$whid')";
			}
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 73"; exit; }  }
		}
		
		// copy sourcing from parent to child
		$query_sourcing = "SELECT distid, manpart, distsku, cost, qty, tstamp, pid, stealth, oprice
						   FROM product_sourcing
						   WHERE pid = '$copypid'";
		if(!$qok_sourcing = mysql_db_query($DB, $query_sourcing, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 74"; exit; }  }
		if (mysql_num_rows($qok_sourcing) > 0)
		{
			while (list($s_distid, $s_manpart, $s_distsku, $s_cost, $s_qty, $s_tstamp, $s_pid, $s_stealth, $s_oprice) = mysql_fetch_array($qok_sourcing))
			{
				$query_add_sourcing = "INSERT INTO product_sourcing (distid, manpart, distsku, cost, qty, tstamp, pid, stealth, oprice)
									   VALUES ('$s_distid', '$s_manpart', '$s_distsku', '$s_cost', '$s_qty', '$s_tstamp', '$id', '$s_stealth', '$s_oprice')";
				if(!$qok_add_sourcing = mysql_db_query($DB, $query_add_sourcing, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}	
		}
		
		// now get the total inventory from sourcing 
		$query = "select sum(qty), sum(cost) from product_sourcing where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 74"; exit; }  }
		list($sqty, $scost) = mysql_fetch_array($qok);
		
		// now get the total inventory from local warehouses
		// there's a warehouse to exclude...... 
	
		//////////////////////////////////////////////////////////////////////////////////////////////////////
		$exclude = trim( $efc->getConfigValue("eFluent Settings", "ExcludeWarehouse") );
		$qaddon = "";
		if(stristr($exclude, ","))
		{
			$ex_whlist = explode(",", $exclude);
			
			for($pj = 0; $pj < count($ex_whlist); $pj++)
			{
				if($ex_whlist[$pj] != "")
					$qaddon .= " AND whid != '".$ex_whlist[$pj]."' ";
			}
		}
		else 
		{
			if($exclude != "")
				$qaddon= " AND whid != '$exclude'";
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////	
			
		if($inv_type == "B")
		{
			if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory_b where pid = '$id' $qaddon";}
			else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory_b where pid = '$id'";}
		}
		else 
		{
			if($exclude != ""){$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$id' $qaddon";}
			else{$query = "select sum(inv_available), sum(inv_available * cost) as tcost from product_inventory where id = '$id'";}
		}
	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 75"; exit; }  }
		list($lqty, $lcost) = mysql_fetch_array($qok);
		
		$tqty = $lqty;
		$tcost = $lcost / $lqty;
		
		//echo "TQTY: $tqty TCOST: $tcost\n";
		
		$query = "update product_prices set instock = '$tqty', avgcost = '$tcost' where id = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 76"; exit; }  }
		
		///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from product_category_map where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 77"; exit; }  }
		
		$query_cat = "SELECT *
					  FROM product_category_map
					  WHERE pid = '$copypid'";
		if(!$qok_cat = mysql_db_query($DB, $query_cat, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 77"; exit; }  }
		if (mysql_num_rows($qok_cat) > 0)
		{
			while (list($cat_id, $cat_pid, $cat_catid) = mysql_fetch_array($qok_cat))
			{
				$query = "INSERT INTO product_category_map (pid, catid)
						  VALUES ('$id', '$cat_catid')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 78"; exit; }  }
			}	
		}
	
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "delete from salesman_cost where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 82"; exit; }  }
	
		if($sc_fixed > 0 || $sc_percent > 0)
		{
			$query = "insert into salesman_cost(type, pid, sdollar, spercent) values('1', '$id', '$sc_fixed', '$sc_percent')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 83"; exit; }  }		
		}
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// save the kit components
		if($kit == 1)
			$efc->internal_repriceKits($id, $kit_fixed, $kit_value);
		
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "update product_sourcing set useinv = 0 where pid = '$id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 84"; exit; }  }
		
		for($pp = 0; $pp < count($dsinventory); $pp++)
		{
			$query = "update product_sourcing set useinv = 1 where pid = '$id' and sid = '".$dsinventory[$pp]."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 85"; exit; }  }
		}
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	    $query = "select id, name, type, note from custom_fields where active = 1 and display = 1 order by type, name";
	    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 86"; exit; }  }
	    while(list($xid, $name, $type, $note) = mysql_fetch_array($qok))
	    {
	            //$field_data = addslashes($_POST["CFID_$xid"]);	
	
	            $query = "delete from custom_values where cfid = '$xid' and pid = '$id'";
	            if(!$q2ok =mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 87"; exit; }  }
			
				$qx = "SELECT text_short, text_long FROM custom_values WHERE cfid='".$xid."' AND pid='".$copypid."'";	
				if(!$q2okx =mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while (list($text_short, $text_long) = mysql_fetch_array($q2okx)) {
					$queryy = "insert into custom_values(cfid, pid, text_short, text_long) values('$xid', '$id', '$text_short', '$text_long')";
					if(!$q2oky = mysql_db_query($DB, $queryy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}	            
			            
	            /*
	            if($type == 0 || $type == 1)
	                    $query = "insert into custom_values(cfid, pid, text_short, text_long) values('$xid', '$id', '$field_data', '')";
	            else
	                    $query = "insert into custom_values(cfid, pid, text_short, text_long) values('$xid', '$id', '', '$field_data')";
	
	            if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 88"; exit; }  }
	            */
	    }	
		
	    $alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG"); // 33
		// nu se adauga parent id
	    $alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT"); // 34
		$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID"); // 35	
	    
	    $query = "DELETE FROM custom_values WHERE cfid='".$alt_sku_flag."' AND pid='".$copypid."'";
	    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 89"; exit; }  }
		
	    $query = "INSERT INTO custom_values(cfid,pid,text_short) VALUES('".$alt_sku_flag."','".$id."','1')";
	    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 90"; exit; }  }	
	    
	    $query = "INSERT INTO custom_values(cfid,pid,text_short) VALUES('".$alt_sku_parent."','".$copypid."','1')";
	    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 91"; exit; }  }	
	    
	    $query = "INSERT INTO custom_values(cfid,pid,text_short) VALUES('".$alt_sku_parentid."','".$id."','$copypid')";
	    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error 92"; exit; }  }	
	    
	    
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$efc->logAction("SUCCESS", "1", $id, "Product: $id Created", "Product: $id Created"); 
		$efc->UpdatePool("1", $id);
		//$efc->touchSKU($id);
		
		if($efc->isAltSKU($id)) // see if its an altsku
		{
			$alt_sku_parentid = $efc->getAltSKUParentID($id); // get the parentid
			$efc->recalculateAltSKUInventory($alt_sku_parentid);
		}
		else if($efc->isParent($id))
		{
			$efc->recalculateAltSKUInventory($id);
		}
		echo 'New SKU created (PID '.$id.');';
	}
	
	if ($action == 'use_weight')
	{
		$query = "UPDATE product_list
				  SET shipweight = '".trim($save_value)."'
				  WHERE id = '$pid'
				  LIMIT 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		echo 'Weight updated successfully.';
	}
	
	if ($action == 'delete_sku') 
	{
		$efc->deletePID($pid);
		echo 'SKU deleted successfully.';
	}
}


function useImage($ROOT_DIR,$DB,$mysqlid,$efc,$pid,$asin)
{
	$query = "select imageurl,large_imageurl from amazon_duplicates_extended where asin = '$asin'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	list($imageurl,$large_imageurl) = mysql_fetch_array($q2ok);
		
	$imagefile = "$ROOT_DIR/mgt/temp/$pid.jpg";
	$efc->getBinaryFile($large_imageurl, "http://www.amazon.com", $imagefile);	
		
	$imagefile_thumb = "$ROOT_DIR/mgt/temp/".$pid."_thumb.jpg";
	$efc->getBinaryFile($imageurl, "http://www.amazon.com", $imagefile_thumb);		
			
	if(file_exists($imagefile))	
	{
		$fp = fopen($imagefile, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		
	
		$query = "delete from product_images where id = '$pid'";
		$qok = mysql_db_query($DB, $query, $mysqlid);
			
		$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '500', '500')";
		$qok = mysql_db_query($DB, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
		unlink($imagefile);
		$efc->cache_watermark_image($pid, $ROOT_DIR);
	}
		
	if(file_exists($imagefile_thumb))	
	{
		$fp = fopen($imagefile_thumb, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		
	
		$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '1', '1', '75', '75')";
		$qok = mysql_db_query($DB, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
		unlink($imagefile_thumb);
		$efc->cache_watermark_image($pid, $ROOT_DIR);
	}
}
mysql_close();