<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($Action == "Segregate")
{
	$query = "truncate amazon_segments";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$query = "truncate amazon_segments_extended";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$query = "select product_list.id
				from amazon_duplicates, product_list, product_manufacturers, product_prices
				where 
				amazon_duplicates.pid = product_list.id AND
				product_list.manid = product_manufacturers.manid AND
				product_list.id NOT IN (select pid from datafeed_skus) AND
				product_list.id = product_prices.id";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$numproducts = mysql_num_rows($qok);

	$items_per_segment = ceil($numproducts / $sections);
	$numitems = 0;
	while(list($pid) = mysql_fetch_array($qok))
	{
		if($numitems == 0)
		{
			$query = "insert into amazon_segments(sname) values('Segment')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$segmentid = mysql_insert_id();
		}

		$numitems++;

		$query = "insert into amazon_segments_extended(sid, pid) values('$segmentid', '$pid')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if($numitems >= $items_per_segment)
		{
			$numitems = 0;
		}
	}
	
	Header("Location: /mgt/amazon/view_matching.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Matching Items</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function filterSKUs()
{
	var fmanid = document.filter.fmanid.options[document.filter.fmanid.selectedIndex].value;
	var fpid = document.filter.fpid.value;
	var lists = document.filter.lists.options[document.filter.lists.selectedIndex].value;
	var fkeywords = document.filter.fkeywords.value;
	var userid = document.filter.userid.options[document.filter.userid.selectedIndex].value;
	var campid = fkeywords = document.filter.campid.value;
	var sid = fkeywords = document.filter.sid.value;
	var packid = fkeywords = document.filter.packid.value;

	var url = '/mgt/reports/sbb_matching/view_matching.phtml?campid='+campid+'&sid='+sid+'&packid='+packid+'&fmanid='+fmanid+'&fpid='+fpid+'&lists='+lists+'&fkeywords='+fkeywords+'&userid='+userid+'&Action=Filter&p=1';
	window.location.href = url;	
}

function pidAction(action,pid,saveValue) {
	if (action == 'delete_sku' && confirm('Are you sure you want to delete this SKU?') == false) {
		return false;
	}	
	
	if (action == 'use_weight') {
		var weight = document.getElementById("this_weight_"+saveValue).value;
		saveValue = weight;
	}
	
	$.post("ajax_saveaction.phtml", 
		{
			'action':action,
			'pid':pid,
			'save_value':saveValue
		},function(data){
			alert(data);
			if (action == 'delete_sku') {
				location.reload();
			}
	});
}
function useThis(pid, asin)
{
	document.getElementById("ut"+pid).innerHTML = "<img src='/mgt/images/loading.gif'>";
	
	xmlHttp=GetXmlHttpObject();
	
	<?
	$dfid = $efc->getConfigValue("Amazon", "Matched_Datafeed");
	?>
	
	var url = "/mgt/amazon/ajax_usecopythisasin.phtml?pid="+pid+"&asin="+asin+"&dfid=<?=$dfid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=useThisComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
	
}

function add2feed(pid, dfid)
{
	document.getElementById("ut"+pid).innerHTML = "<img src='/mgt/images/loading.gif'>";
	
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazon/ajax_add2feed.phtml?pid="+pid+"&dfid="+dfid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=useThisComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function add2pack(pid, dfid, asin)
{
	var packval = document.getElementById("pack"+pid+asin).value;
	
	if(packval == "")
	{
		alert('You must enter a pack value');
		return;
	}
	
	document.getElementById("ut"+pid).innerHTML = "<img src='/mgt/images/loading.gif'>";
	
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazon/ajax_add2feed.phtml?pid="+pid+"&dfid="+dfid+"&packval="+packval+"&sid="+Math.random();
	xmlHttp.onreadystatechange=useThisComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function useThisComplete()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText;	//.split("~")
		
		document.getElementById("header"+data).style.display = 'none';
		document.getElementById("company"+data).style.display = 'none';
		document.getElementById("amazon"+data).style.display = 'none';
	}
	
}
function addItemToList(pid,lid) {
	$.get("ajax_additemtolist.phtml", 
		{
			'id':pid,
			'lid':lid
		},function(data){
			$('#list_'+pid+'_'+lid).remove();
	});
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<?
$pack = $efc->getConfigValue("Amazon", "Pack_Datafeed");
$nomatch = $efc->getConfigValue("Amazon", "Nomatch_Datafeed");
?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
	<!--	<B>Upload file</B> 
		<form style="margin:0px" enctype="multipart/form-data">File: <input type="file" name="ls" style="width:50px" class="formBox">
		<input type="submit" name="Action" value="Upload" class="buttonItem"></form>
		<BR><BR>-->
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px" name="filter">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<input type="hidden" name="sid" value="<?=$sid;?>">
		<input type="hidden" name="packid" value="<?=$packid;?>">
		<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Manname:</B></font></td>
			<td>		
				<select name="fmanid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select distinct(product_manufacturers.manid), product_manufacturers.manname from
							amazon_duplicates, product_manufacturers, product_list 
							WHERE
							amazon_duplicates.pid = product_list.id AND
							product_list.manid = product_manufacturers.manid
							group by product_manufacturers.manid
							order by product_manufacturers.manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if($manid == $fmanid)
						echo "<option value='$manid' SELECTED>$manname</option>\n";
					else 
						echo "<option value='$manid'>$manname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>PID:</B></font></td>
			<td>
				<input type="text" name="fpid" value="<?=$fpid;?>" style="width:100px" class="formBox">
			</td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>List:</B></font></td>
			<td>
				<select name="lists" id="lists" class="formSelect">
					<option value="">--- SELECT ---</option>
					<?
						$query = "select lid, list_title, list_descr from lists order by list_title";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($lid, $list_title, $list_descr) = mysql_fetch_array($qok))
						{
							if($lid == $lists)
								echo "<option value='$lid' SELECTED>$list_title</option>\n";
							else 
								echo "<option value='$lid'>$list_title</option>\n";
						} 
					?>
				</select>
			</td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Keywords:</B></font></td>
			<td>
				<input type="text" name="fkeywords" value="<?=$fkeywords;?>" style="width:175px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><div style="padding-top:3px"><B>Assigned To:</B></font></td>
			<td>		
				<select name="userid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select id, displayname from users order by displayname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($uid, $displayname) = mysql_fetch_array($qok))
				{
					if($userid == $uid)
						echo "<option value='$uid' SELECTED>$displayname</option>\n";
					else 
						echo "<option value='$uid'>$displayname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="button" name="Action" onclick="filterSKUs();" value="Filter" class="buttonItem"></td>
			
		</tr>
		</table>
		</div>	
		
		<?
		if(intval($fmanid) > 0)
			$addon .= " AND product_list.manid = '$fmanid'";
		
		if(intval($fpid) > 0)
			$addon .= " AND product_list.id = '$fpid'";
			
		if(strlen($fkeywords) >= 2)
		{
			$wordlist = explode(" ", $fkeywords);
			
			for($xx = 0; $xx < count($wordlist); $xx++)
			{
				$thisword = $wordlist[$xx];
			
				$kwpart = " AND (product_list.manpart like '%$thisword%' OR product_list.upccode like '%$thisword%' OR product_list.descr like '%$thisword%') ";
				
				$addon .= $kwpart;
			}
		}		
		
		if(intval($userid) > 0)
		{
			$addontables = ", sku_assignment ";
			$addon .= " AND product_list.id = sku_assignment.pid and sku_assignment.userid = '$userid' ";
			
		}
		if(intval($lists) > 0)
		{
			$addontables .= ", list_products ";
			$addon .= " AND product_list.id = list_products.pid and list_products.lid = '$lists' ";
			
		}
				
		$pricelevel = $efc->getConfigValue("Amazon", "PRICE_LEVEL");
				
		$query = "select amazon_duplicates.did, amazon_duplicates.pid, product_list.manpart, product_list.upccode, product_list.descr, product_list.asin, 
					product_manufacturers.manname, product_prices.price_level$pricelevel
					from amazon_duplicates, product_list, product_manufacturers, product_prices $addontables
					where 
					amazon_duplicates.pid = product_list.id AND
					product_list.manid = product_manufacturers.manid AND
					product_list.id = product_prices.id $packaddon $addon";
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numerrors = $numrows = mysql_num_rows($qok);
		
		if(intval($numerrors) > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$ITEMS_PER_PAGE = 20;
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/reports/sbb_matching/view_matching.phtml?campid=$campid&sid=$sid&packid=$packid&fmanid=$fmanid&fpid=$fpid&lists=$lists&fkeywords=$fkeywords&userid=$userid&Action=Filter";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
			<table width=100% cellpadding=0 cellspacing=0 border=0>
			<tr bgcolor="#eeeeee">
				<td height=21 align=center><B>Image</B></td>
				<td height=21 align=center><B>PID</B></td>
				<td height=21 align=center><B>Man</B></td>
				<td height=21 align=center><B>Manpart</B></td>
				<td height=21 align=center><B>Title</B></td>
				<td height=21 align=center><B>UPC</B></td>
				<td height=21 align=center><B>ASIN</B></td>
				<td height=21 align=center><B>Price</B></td>
			</tr>
			<?
			
			$numout=0;
			while( (list($did, $pid, $manpart, $upccode, $descr, $pASIN, $manname, $price) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				?>
				<tr id="header<?=$pid;?>">
					<td colspan=7  bgcolor='#eeeeff'>&nbsp;</td>
				</tr>
				<tr id="company<?=$pid;?>">
					<td align=center ><img src="/getimage.phtml?id=<?=$pid;?>&thumb=1" height=50></td>
					<td align=center >
						<a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></a>
					</td>
					<td align=center ><B><?=$manname;?></B></td>
					<td align=center ><B><?=$manpart;?></B></td>
					<td align=center ><B><?=$descr;?></B></td>
					<td align=center ><B><?=$upccode;?></B></td>
					<td align=center ><B><?=$pASIN?></B></td>
					<td align=center ><B>$ <?=number_format($price, 2);?></B></td>
				</tr>
				<tr id="amazon<?=$pid;?>">
					<td colspan=1>&nbsp;</td>
					<td colspan=7>
						<table width=100% style="border:1px solid #8888aa">
						<tr bgcolor="#ffffee">
							<td>Image</td>
							<td>ASIN</td>
							<td>Rank</td>
							<td>Brand</td>
							<td>Title</td>
							<td>UPC</td>
							<td># Sellers</td>
							<td>Lowest</td>
						</tr>
						
						<?
						$query = "select asin, salesrank, imageurl, brand, upc, features, lowestprice, numsellers, title from amazon_duplicates_extended where did = '$did'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
						while(list($asin, $salesrank, $imageurl, $brand, $upc, $features, $lowestprice, $numsellers, $title) = mysql_fetch_array($q2ok))
						{
							?>
							<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';"></tr>
								<td>
									<?if($imageurl != '') {?><img src="<?=$imageurl;?>"><?}?>
								</td>
								<td>
									<a href="http://www.amazon.com/dp/<?=$asin;?>/" target="amazonwindow"><?=$asin;?></a>
								</td>
								<td><?=number_format($salesrank, 0);?></td>
								<td><?=$brand;?></td>
								<td>
								
									<?=$title;?><BR><?=$features;?>
									<BR>
									<div id="ut<?=$pid;?>">
										<a href="javascript:void(0);" onclick="pidAction('use_asin','<?=$pid;?>', '<?=$asin;?>');">Use THIS ASIN</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('use_for_title','<?=$pid;?>','<?=$asin;?>');">Use this for Title</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('wrong_asin','<?=$pid;?>', '');">Wrong ASIN</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('use_title','<?=$pid;?>', '<?=$asin?>');"> USE TITLE FOR DES</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('use_upc','<?=$pid;?>', '<?=$upc?>');">USE UPC</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('create_child','<?=$pid;?>', '<?=(intval($lists) > 0 ? $asin.'_'.$lists : $asin)?>');">Create as child</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('use_image','<?=$pid;?>', '<?=$asin;?>');">Use image</a>&nbsp;&nbsp;
										<a href="javascript:void(0);" onclick="pidAction('delete_sku','<?=$pid;?>','');">Delete SKU</a>&nbsp;&nbsp;
										<select name="this_weight_<?=$asin?>" id="this_weight_<?=$asin?>" class="formSelect"><option value="0.19">3</option><option value="0.25">4</option><option value="0.31">5</option><option value="0.38">6</option><option value="0.44">7</option><option value="0.5">8</option><option value="0.56">9</option><option value="0.63">10</option><option value="0.69">11</option><option value="0.75">12</option><option value="0.81">13</option><option value="1">1 lb</option><option value="2">2 lb</option><option value="3">3 lb</option><option value="4">4 lb</option><option value="5">5 lb</option>
										</select>&nbsp;<a href="javascript:void(0);" onclick="pidAction('use_weight','<?=$pid;?>','<?=$asin?>');">Use this Weight</a>
									</div>
								</td>
								<td><?=$upc;?></td>
								<td><?=$numsellers;?></td>
								<td><?=$lowestprice;?></td>
							</tr>
							<?
							
						}
						?>
						</table>
					</td>
				</tr>
				<?
			}
			?>
			</table>
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/reports/sbb_matching/view_matching.phtml?campid=$campid&sid=$sid&packid=$packid&fmanid=$fmanid&fpid=$fpid&lists=$lists&fkeywords=$fkeywords&userid=$userid&Action=Filter";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";				
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Duplicates Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>