<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$addon = "";
if($rmaid !='') {
    $addon .=" AND rmaid='$rmaid'";
}
if($sourcing !='' && $sourcing>0) {
    $addon .=" AND vendorid='$sourcing'";
}


$query = "SELECT distinct(vendorid),rmaid,status,saddrname,tstamp,invoiceid FROM rma WHERE status=4 $addon group by vendorid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No RMAs Found</I>~<B><I>No RMAs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> RMAs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center height=21 width="30px"><b>Nr</b></td>
	<td align=center class="sortable_caseinsensitive"><b>Vendor</b></td>
	<td align=center class="sortable_numeric"><b>Amount</b></td>
</tr>	
<?
$gtotal = 0;
$onrow = ($p-1)*$ITEMS_PER_PAGE+1;
	while((list($vendorid,$rmaid,$status,$saddrname,$tstamp,$invoiceid) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
		{
	    $vendor_total = 0;
	    $qx = "SELECT sum(rma_lines.price*rma_lines.qty_ordered) FROM rma_lines,rma WHERE rma.rmaid=rma_lines.rmaid AND rma.vendorid='$vendorid' and rma.status='4'";
	    if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	    list($vendor_total) = mysql_fetch_array($qokx);
	    $gtotal += $vendor_total;
	?>
	    <tr>
		<td align=center height=21><?=$onrow?></td>
		<td align=center>
		    <a href="javascript:void(0)" onclick="$('#vendor_<?=$vendorid?>').toggle()"><?=$saddrname?></a>
		    <table style="border:1px solid black;margin-left:100px;margin-top:10px;display:none" id="vendor_<?=$vendorid?>">
			<tr bgcolor="#eeeeee">
			    <td><b>Converted Order ID</b></td>
			    <td><b>Date</b></td>
			    <td><b>Aging</b></td>
			    <td><b>Amount</b></td>
			</tr>
			<?
			    $qaa = "SELECT rmaid,invoiceid,tstamp FROM rma WHERE vendorid='$vendorid' AND status='4'";
			    $qokaa = mysql_db_query($DB, $qaa, $mysqlid);
			    while(list($rmaid_tmp,$invoiceid_tmp,$tstamp_tmp) = mysql_fetch_array($qokaa)){
				$qx = "SELECT sum(price*qty_ordered) from rma_lines WHERE rmaid='$rmaid_tmp'";
				$qioka = mysql_db_query($DB, $qx, $mysqlid);
				list($total) = mysql_fetch_array($qioka);
				?>
				<tr>
				    <td id="item_<?=$invoiceid_tmp?>"><a href="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid_tmp?>&inwin=1', 'View Invoice: <?=$invoiceid_tmp?>','item_<?=$invoiceid_tmp?>');"><?=$invoiceid?></a></td>
				    <td><?=date('m-d-Y',$tstamp)?></td>
				    <td><?=ceil((time()-$tstamp)/86400)?></td>
				    <td><?=$total?></td>
				</tr>
				<?
			    }
			?>
		    </table>
		</td>
		<td align=center><?=$vendor_total?></td>
	    </tr>	
		<?
    $onrow++;
    $numout++;

}
		 
?>
</table>
<table width="99%">
    <tr>
	<td align="right"><b>Total: $<?=$gtotal?></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> RMAs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
