<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_email_marketing"); // will redirect on failure

if($Action == "Delete")
{
	$query = "delete from email_campaigns where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from email_skus where campid = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/em/campaigns.phtml");
	exit;
}
else if($Action == "queue")
{
	$query = "update email_campaigns set status = '1' where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/em/campaigns.phtml");
	exit;
}
else if($Action == "send")
{
	$query = "update email_campaigns set status = '3' where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/em/campaigns.phtml");
	exit;
}
else if($Action == "Copy")
{
	$tstamp = date("Y-m-d H:i:s", time());
	//bdate, edate, ostatus, minskus, maxskus 
	$query = "insert into email_campaigns
	(name, templateid, type, status, tstamp, bdate, edate, ostatus, cat0, cat1, cat2, cat3, cat4, brand, clicktype, clickid, zipcode, pl, minskus, maxskus, em_clicktype, em_clickid, exclusive, exclusiveacct, keywords, min, max)
	 select concat('Copy - ', name), templateid, type, 0, '$tstamp', bdate, edate, ostatus, cat0, cat1, cat2, cat3, cat4, brand, clicktype, clickid, zipcode, pl, minskus, maxskus, em_clicktype, em_clickid, exclusive, exclusiveacct, keywords, min, max from email_campaigns where id = '$campid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$newcampid = mysql_insert_id(); 
    $query = "insert into email_skus(campid, pid) select $newcampid, pid from email_skus where campid = '$campid'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    Header("Location: /mgt/em/campaigns.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Email Marketing - Campaigns</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script type="text/javascript">
<!--
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
//-->
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<?
if($inwin == 0)
{?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
<?
}
?>
		
		<div style="padding-left:5px;padding-top:10px">
		<table><tr><td><B>Email Marketing- Campaigns</B></td></tr></table>
		<BR><BR>
		<table width=75%>
		<tr bgcolor="#eeeeee">
			<td height=21><div align="center">Name</div></td>
			<td><div align="center">Template</div></td>
			<td><div align="center">Type</div></td>
			<td><div align="center">Status</div></td>
			<td><div align="center">Created</div></td>
			<td><div align="center">Test Bed</div></td>
			<td><div align="center">Send</div></td>
			<td><div align="center">Delete</div></td>						
			<td><div align="center">Copy</div></td>						
		</tr>		
		<?
		$query = "select id, name, templateid, type, status, tstamp from email_campaigns order by id desc";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		$onnum = 0;	
		$lastposition = 0;
		while(list($id, $name, $templateid, $type, $status, $tstamp) = mysql_fetch_array($qok))
		{
			if($name == "") $name = "unnamed";
		?>
		<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
			<td>
				<?if($status == 0 || $status == "") 
				{
					?><a href="create_campaigns.phtml?campid=<?=$id;?>&inwin=<?=$inwin;?>"><?=$name;?></a><?
				}
				else
				{
					?>
					<?=$name;?>
					<?
				}
				?>
			</td>
								
			<td NOWRAP>
				<?
				$query = "select name from email_templates where id = '$templateid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($template_name) = mysql_fetch_array($q2ok);
				
				echo $template_name;
				?>
			</td>

			<td>
				<?
				if($type == 0) echo "Promotional - All Subscribers"; 
				else if($type == 1) echo "Promotional - Targeted"; 
				else if($type == 2) echo "Upsell - Use Accessories"; 
				else echo "Custom Upsell - Use List";?>
			</td>
			
			<td>
				<?
				if($status == 0 || $status == "") 
					echo "Not Sent"; 
				else if($status == 1) 
					echo "<B>Queueing</B>"; 
				else if($status == 2) 
					echo "<B>Queued</B>";
				else if($status == 3) 
					echo "<B>Sending</B>";
				else if($status == 4) 
					echo "<B>Sent</B>";
				else if($status == 5) 
					echo "Complete";
				?>
			</td>

			<td>
				<?=date("m/d/Y", $efc->tstamp2seconds($tstamp));?>
			</td>
			<td>
				<a href="test_bed.phtml?campid=<?=$id;?>&inwin=<?=$inwin;?>">Test</a>
			</td>									
			<td>
				<?
				if($status == 0 || $status == "") 
				{
					?>
					<a href="javascript:makesure('Are you sure you want to queue this campaign?', 'campaigns.phtml?Action=queue&id=<?=$id;?>&inwin=<?=$inwin;?>');">Queue</a>
					<?
				}
				else if($status == 2)
				{
					?>
					<a href="javascript:makesure('Are you sure you want to send this campaign?', 'campaigns.phtml?Action=send&id=<?=$id;?>&inwin=<?=$inwin;?>');">Send</a>
					<?
				}
				else if($status == 1)
				{
					?>
					Queueing
					<?
				}
				else if($status == 3)
				{
					?>
					Sending
					<?
				}
				else if($status >= 4)
				{
					?>
					Sent/Complete
					<?
				}
				?>
				
			</td>									
			<td>
				<a href="javascript:makesure('Are you sure you want to delete this campaign?', 'campaigns.phtml?Action=Delete&id=<?=$id;?>&inwin=<?=$inwin;?>');">
					<img src="/mgt/images/del.gif" border=0 align="absmiddle">Delete
				</a>
			</td>	
			<td>
				<a href="/mgt/em/campaigns.phtml?Action=Copy&campid=<?=$id;?>">Copy</a>
			</td>								
		</tr>										
		<?
		}
		?>	
		</table>
		<BR><BR>
		<a href="/mgt/em/create_campaigns.phtml?inwin=<?=$inwin;?>"><img src="/mgt/images/add.jpg" border=0> Create new campaign</a>	
		<BR><BR>		
		
<?
if($inwin == 0)
{
	?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>