<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Email Marketing - Create Campaign</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<script>
var g_level = 0;
function checkType()
{
	if(document.advform.type.selectedIndex == 0) // promotional
	{
		document.getElementById("orderCriteria").style.display = 'none';
		document.getElementById("skuList").style.display = 'none';
	}
	else if(document.advform.type.selectedIndex == 1 || document.advform.type.selectedIndex == 2) // upsell - use accessories
	{
		document.getElementById("orderCriteria").style.display = '';
		document.getElementById("skuList").style.display = 'none';
	}
	else if(document.advform.type.selectedIndex == 3)
	{
		document.getElementById("orderCriteria").style.display = ''; // upsell - use list
		document.getElementById("skuList").style.display = '';
	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.advform.cat0.options[ document.advform.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.advform.cat1.options[ document.advform.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.advform.cat2.options[ document.advform.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.advform.cat3.options[ document.advform.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.advform.cat4.options[ document.advform.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
	var url="ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function skuCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.ssform.skucat0.options[ document.ssform.skucat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.ssform.skucat1.options[ document.ssform.skucat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.ssform.skucat2.options[ document.ssform.skucat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.ssform.skucat3.options[ document.ssform.skucat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.ssform.skucat4.options[ document.ssform.skucat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}  	
	var url="ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=state2Changed;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function recalcOrders()
{
	document.getElementById('ordersframe').src = "about:blank";
	
	var amonly = 0;
	var exclude_feedback = 0;
	<?php if ($DB == 'sndkids') { ?>
	var shipped_2days = 0;
	<?php } ?>
	
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", campaign = "";
	var bdate = document.advform.bdate.value;
	var edate = document.advform.edate.value;
	var ostatus = document.advform.showstep.options[ document.advform.showstep.selectedIndex ].value;
	
	if(document.advform.cat0.selectedIndex > 0)
		cat0 = document.advform.cat0.options[ document.advform.cat0.selectedIndex ].value;
	
	if(document.advform.cat1.selectedIndex > 0)
		cat1 = document.advform.cat1.options[ document.advform.cat1.selectedIndex ].value;
	
	if(document.advform.cat2.selectedIndex > 0)		
		cat2 = document.advform.cat2.options[ document.advform.cat2.selectedIndex ].value;
	
	if(document.advform.cat3.selectedIndex > 0)		
		cat3 = document.advform.cat3.options[ document.advform.cat3.selectedIndex ].value;
	
	if(document.advform.cat4.selectedIndex > 0)		
		cat4 = document.advform.cat4.options[ document.advform.cat4.selectedIndex ].value;

	brand = document.advform.brand.options[ document.advform.brand.selectedIndex ].value;
	
	if(document.advform.campaign.selectedIndex > 0)
		campaign = document.advform.campaign.options[ document.advform.campaign.selectedIndex ].value;
	
	var zipcode = document.advform.zipcode.value;
	var keywords = document.advform.olkeywords.value;
	
	var min = document.advform.min.value;
	var max = document.advform.max.value;
	var exclusive = 0;
	var exclusiveacct = 0;
	
	if(document.advform.exclusive.checked == true )
		exclusive = 1;

	if(document.advform.exclusiveacct.checked == true )
		exclusiveacct = 1;
	
	if(document.advform.amonly.checked == true )
		amonly = 1;
	
	if(document.advform.exclude_feedback.checked == true )
		exclude_feedback = 1;

	<?php if ($DB == 'sndkids') { ?>	
	if(document.advform.shipped_2days.checked == true )
		shipped_2days = 1;
	<?php } ?>
		
	var emocurl="output_orders.phtml";
	 	emocurl += "?bdate="+bdate;
	 	emocurl += "&edate="+edate;
	 	emocurl += "&ostatus="+ostatus;
	 	emocurl += "&cat0="+cat0;
	 	emocurl += "&cat1="+cat1;
	 	emocurl += "&cat2="+cat2;
	 	emocurl += "&cat3="+cat3;
	 	emocurl += "&cat4="+cat4;
	 	emocurl += "&brand="+brand;
	 	emocurl += "&campaign="+campaign;
	 	emocurl += "&zipcode="+zipcode;
	 	emocurl += "&keywords="+keywords;  	
	 	emocurl += "&min="+min;  	
	 	emocurl += "&max="+max;  	
 	 	emocurl += "&exclusive="+exclusive;  	
 	 	emocurl += "&exclusiveacct="+exclusiveacct;  	
	 	emocurl += "&amonly="+amonly;  	
	 	emocurl += "&exclude_feedback="+exclude_feedback;
		<?php if ($DB == 'sndkids') { ?>
	 	emocurl += "&shipped_2days="+shipped_2days;
 	 	<?php } ?>
 	 	
  	document.getElementById('ordersframe').src = emocurl;
  		
 	/*var url="ajax_ordercount.phtml";
	 	url += "?bdate="+bdate;
	 	url += "&edate="+edate;
	 	url += "&ostatus="+ostatus;
	 	url += "&cat0="+cat0;
	 	url += "&cat1="+cat1;
	 	url += "&cat2="+cat2;
	 	url += "&cat3="+cat3;
	 	url += "&cat4="+cat4;
	 	url += "&brand="+brand;
	 	url += "&campaign="+campaign;
	 	url += "&zipcode="+zipcode;
	 	url += "&keywords="+keywords;
 	 	url += "&min="+min;  	
	 	url += "&max="+max;  	
 	 	url += "&exclusive="+exclusive;  	
 	 	url += "&exclusiveacct="+exclusiveacct;  	
	
 	//window.open(url, 'Availability', 'scrollbars=yes, width=400, height=400');
 	
	xmlHttp.onreadystatechange=orderCountChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	*/
}

function orderCountChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("ordercount").innerHTML = xmlHttp.responseText;
	}			
}
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			//recalcOrders();
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

		//recalcOrders();
	}
}

function state2Changed() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			searchSKU();
			return;
		}
			
		document.getElementById("cat"+g_level+"s").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"s").style.display = 'none';
			
			var theSelect = document.getElementById("skucat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		
		
		var theSelect = document.getElementById("skucat"+g_level);
		var i;
		
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")append2Option(data);
		}

		searchSKU();
	}
}

function append2Option(data)
{
	var theSelect = document.getElementById("skucat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function searchSKU()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", brand = "", keywords = "";
	
	keywords = document.ssform.keywords.value;
	brand = document.ssform.sku_brand.options[ document.ssform.sku_brand.selectedIndex ].value;
	
	if(document.ssform.skucat0.selectedIndex > 0)
		cat0 = document.ssform.skucat0.options[ document.ssform.skucat0.selectedIndex ].value;
	
	if(document.ssform.skucat1.selectedIndex > 0)
		cat1 = document.ssform.skucat1.options[ document.ssform.skucat1.selectedIndex ].value;
	
	if(document.ssform.skucat2.selectedIndex > 0)		
		cat2 = document.ssform.skucat2.options[ document.ssform.skucat2.selectedIndex ].value;
	
	if(document.ssform.skucat3.selectedIndex > 0)		
		cat3 = document.ssform.skucat3.options[ document.ssform.skucat3.selectedIndex ].value;
	
	if(document.ssform.skucat4.selectedIndex > 0)		
		cat4 = document.ssform.skucat4.options[ document.ssform.skucat4.selectedIndex ].value;

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	document.getElementById("skuresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
 	var url="ajax_skusearch.phtml";
 	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&keywords="+keywords;
 	url += "&brand="+brand;
 	
 	//window.open(url, 'Availability', 'scrollbars=yes, width=400, height=400');
 	
	xmlHttp.onreadystatechange=skuresults;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function skuresults() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//alert(xmlHttp.responseText);
		
		var lines = xmlHttp.responseText.split("\n");
		
		
		//"$id|$manname|$manpart|$descr\n"
		var newtable = "<B>Results</B> <I>*limited to 50</I><BR><table width=100%>";
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("|");
			
			//document.getElementById("skuresults").innerHTML = ;
			
			if(parseInt(data[0]) > 0)
			{
				newtable += "<tr><td><a href=\"javascript:void(0);\" onclick=\"AddSKU('"+data[0]+"');\">Add</a></td>";
				newtable += "<td>"+data[1]+"</td>";
				newtable += "<td>"+data[2]+"</td>";
				newtable += "<td>"+data[3]+"</td>";
				newtable += "</tr>";
			}
		}
		
		newtable += "</table>";
		
		document.getElementById("skuresults").innerHTML = newtable;
	}
}

function AddSKU(efid)
{
	document.getElementById('skuframe').src = "/mgt/em/skulist.phtml?Action=Add&id="+efid;
}

function InitCampaign()
{
<?
if($campid != "")
{
	if ($DB == 'sndkids')
	{
		$is_shipped_2days = ', shipped_2days';
	}
	else 
	{
		$is_shipped_2days = '';
	}	
	
	$query = "select name, templateid, type, ostatus, tstamp, bdate, edate, status,
				cat0, cat1, cat2, cat3, cat4, brand, clicktype, clickid, zipcode, pl, minskus, maxskus,
				em_clicktype, em_clickid, exclusive, keywords, min, max, exclusiveacct, amonly, exclude_feedback $is_shipped_2days
				from email_campaigns where id = '$campid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($l_name, $l_templateid, $l_type, $l_ostatus, $l_tstamp, $l_bdate, $l_edate, $l_status,
		 $l_cat0, $l_cat1, $l_cat2, $l_cat3, $l_cat4, $l_brand, $l_clicktype, $l_clickid, $l_zipcode, $pl, $minskus, $maxskus,
		 $em_clicktype, $em_clickid, $l_exclusive, $l_keywords, $l_min, $l_max, $l_exclusiveacct, $amonly, $exclude_feedback, $shipped_2days) = mysql_fetch_array($qok);
	?>
	checkType();
	<?
	
	
	if($efc->tstamp2seconds($l_bdate) > mktime(0,0,0,1,1,2000))
	{
		$l_bdate = date("m/d/Y", $efc->tstamp2seconds($l_bdate));
		$l_edate = date("m/d/Y", $efc->tstamp2seconds($l_edate));
	}
	else 
	{
		$l_bdate = $l_edate = "";
	}
	
}
else 
{
	$_SESSION["SKULIST"]="";
}
?>
	//recalcOrders();

}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body onload="InitCampaign();">
<?
if($inwin == 0)
{?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
<?
}
?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Email Marketing- Create Campaign</B>
		<BR><BR>
		
		<form name="advform" method="POST" action="/mgt/em/save_campaign.phtml">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<table width=100%>
		<tr>
			<td width=50%>
				<!---------------------------------------------------------------------------------------------->
				<B>Campaign Setup</B>
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Name:</div></td>
					<td><input type="text" name="name" value="<?=$l_name;?>" style="width:125px" class="formBox"></td>						
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Template:</div></td>
					<td>
						<select name="templateid" class="formSelect">
							<?
							$query = "select id, name, subject, tstamp from email_templates order by id";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid))
							{ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											
							$onnum = 0;	
							$lastposition = 0;
							while(list($id, $name, $subject, $tstamp) = mysql_fetch_array($qok))
							{
							?>
							<option value="<?=$id;?>" <?if($id == $l_templateid) echo "SELECTED";?>><?=$name;?> (<?=$subject;?>)
							<?
							}
							?>
						</select>
					</td>						
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Type:</div></td>
					<td>
						<select name="type" class="formSelect" onchange="checkType();">
							<option value="0" <?if($l_type == "0") echo "SELECTED";?>>Promotional - All Subscribers
							<option value="1" <?if($l_type == "1") echo "SELECTED";?>>Promotional - Targeted
							<option value="2" <?if($l_type == "2") echo "SELECTED";?>>Upsell - Use Accessories
							<option value="3" <?if($l_type == "3") echo "SELECTED";?>>Custom Upsell - Use List
						</select>
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Mkting Campaign:</div></td>
					<td>
						<select name="em_campaign" class="formSelect">
						<option value="">----- SELECT --------
						<?
						$query = "select clicktype, tid, title from traffic_campaign_types order by title";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($clicktype, $clickid, $title) = mysql_fetch_array($qok))
						{
							if(($clicktype == 2) || ($clicktype == 0))
							{
								$clickid = urlencode($title);
								//$em_clickid = urlencode($title);
							}
							
							//$listarray[] = "if(($em_clicktype == $clicktype) && ($em_clickid == $clickid))<BR>";
							?>
							<option value="<?=$clicktype;?>:<?=$clickid;?>" 
								<?if(($em_clicktype == $clicktype) && ($em_clickid == $clickid)) echo "SELECTED";?>><?=$title;?>
							<?
						}
						?>
						</select>	
						<?
						//for($xx = 0; $xx < count($listarray); $xx++)
						//	echo $listarray[$xx];
						?>				
					</td>
				</tr>				
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">PL:</div></td>
					<td>
						<select name="pl" class="formSelect">
							<option value="1" <?if($pl == "1") echo "SELECTED";?>>PriceLevel 1
							<option value="2" <?if($pl == "2") echo "SELECTED";?>>PriceLevel 2
							<option value="3" <?if($pl == "3") echo "SELECTED";?>>PriceLevel 3
							<option value="4" <?if($pl == "4") echo "SELECTED";?>>PriceLevel 4
							<option value="5" <?if($pl == "5") echo "SELECTED";?>>PriceLevel 5
							<option value="6" <?if($pl == "6") echo "SELECTED";?>>PriceLevel 6
							<option value="7" <?if($pl == "7") echo "SELECTED";?>>PriceLevel 7
							<option value="8" <?if($pl == "8") echo "SELECTED";?>>PriceLevel 8
						</select>
					</td>						
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Min SKUs:</div></td>
					<td>
						<select name="minskus" class="formSelect">
							<option value="1" <?if($minskus == "1") echo "SELECTED";?>>1
							<option value="2" <?if($minskus == "2") echo "SELECTED";?>>2
							<option value="3" <?if($minskus == "3") echo "SELECTED";?>>3
							<option value="4" <?if($minskus == "4") echo "SELECTED";?>>4
							<option value="5" <?if($minskus == "5") echo "SELECTED";?>>5
							<option value="6" <?if($minskus == "6") echo "SELECTED";?>>6
							<option value="7" <?if($minskus == "7") echo "SELECTED";?>>7
							<option value="8" <?if($minskus == "8") echo "SELECTED";?>>8
							<option value="9" <?if($minskus == "9") echo "SELECTED";?>>9
							<option value="10" <?if($minskus == "10") echo "SELECTED";?>>10
						</select>
					</td>						
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Max SKUs:</div></td>
					<td>
						<select name="maxskus" class="formSelect">
							<option value="1" <?if($maxskus == "1") echo "SELECTED";?>>1
							<option value="2" <?if($maxskus == "2") echo "SELECTED";?>>2
							<option value="3" <?if($maxskus == "3") echo "SELECTED";?>>3
							<option value="4" <?if($maxskus == "4") echo "SELECTED";?>>4
							<option value="5" <?if($maxskus == "5") echo "SELECTED";?>>5
							<option value="6" <?if($maxskus == "6") echo "SELECTED";?>>6
							<option value="7" <?if($maxskus == "7") echo "SELECTED";?>>7
							<option value="8" <?if($maxskus == "8") echo "SELECTED";?>>8
							<option value="9" <?if($maxskus == "9") echo "SELECTED";?>>9
							<option value="10" <?if($maxskus == "10") echo "SELECTED";?>>10
						</select>
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Exclusive SKUs:</div></td>
					<td><span align=left><input type="checkbox" name="exclusive" id="exclusive" value="1" <?if($l_exclusive == 1) echo "CHECKED";?>> Only send email if no upsell items were ordered</span></td>
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Exclusive Account:</div></td>
					<td><span align=left><input type="checkbox" name="exclusiveacct" id="exclusiveacct" value="1" <?if($l_exclusiveacct == 1) echo "CHECKED";?>> Only send if never ordered (on acct or by email)</span></td>
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Amazon Orders Only:</div></td>
					<td><span align=left><input type="checkbox" name="amonly" id="amonly" value="1" <?if($amonly == 1) echo "CHECKED";?>> Only send email to people who ordered through amazon</span></td>
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Exclude if Feedback Received:</div></td>
					<td><span align=left><input type="checkbox" name="exclude_feedback" id="exclude_feedback" value="1" <?if($exclude_feedback == 1) echo "CHECKED";?>> Only send email to people who have not left feedback (AMZ or eBay)</span></td>
				</tr>
				<?php if ($DB == 'sndkids') { ?> 
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Shipped within 2 days:</div></td>
					<td><span align=left><input type="checkbox" name="shipped_2days" id="shipped_2days" value="1" <?if($shipped_2days == 1) echo "CHECKED";?>> Only send email if order date and the ship date is 2 days</span></td>
				</tr>
				<?php } ?>
				</table>
				<!---------------------------------------------------------------------------------------------->			
				<BR><BR>
				<input type="submit" class="buttonItem" name="Action" value="Save Campaign">
				<input type="button" class="buttonItem" name="Action" value="Show Sample Orders" onclick="recalcOrders();">
			</td>
			
			<?
			$query = "select count(*) from customer_orders";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($ordercount) = mysql_fetch_array($qok);
			
			?>
			<td width=50%>
				<div id="orderCriteria" style="display:none;">
				<B>Order Critera</B><!-- (<span id="ordercount" class="style:inline"><?=$ordercount;?> orders</span>)-->
				<table>
				<tr>
					<td width=50%>
					
					<table>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Begin Date:</div></td>
						<td>
							<input type="text" name="bdate" value="<?=$l_bdate;?>" size=15 class="formbox" style="width:65px" 
									onclick="cal1x.select(document.forms['advform'].bdate,'anchor1x','MM/dd/yyyy');return false;"  onselect="cal1x.select(document.forms['advform'].bdate,'anchor1x','MM/dd/yyyy');return false;" ID="anchor1x" onblur="">					
						</td>
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">End Date:</div></td>
						<td>
							<input type="text" name="edate" value="<?=$l_edate;?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['advform'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['advform'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onblur="">				
						</td>
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Order Status:</div></td>
						<td>
							<select name="showstep" class="formSelect"  onchange="">
							<option value="">---- ALL ----
							<?
							$query = "select step, status from company_orderflow";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($step, $status) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$step;?>" <?if($l_ostatus == $step) echo "SELECTED";?>><?=$status;?>
								<?
							}
							?>
							</select>	
						</td>
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Category:</div></td>
						<td>
							<select name="cat0" class="formSelect" onchange="getCategories(1);">
							<option value="0">----- SELECT --------
							<?
							$query = "select catid, catname from product_categories where parentid = 0";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($catid, $catname) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$catid;?>" <?if($catid == $l_cat0) echo "SELECTED";?>><?=$catname;?>
								<?
							}
							?>
							</select>		
							<?
							//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							if(intval($l_cat0) > 0)
							{
								?>
								<div id="cat1d" style="display:;">
									<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
										<option value="0">----- SELECT --------
										<?
											$query = "select catid, catname from product_categories where parentid = '$l_cat0'";
											if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($catid, $catname) = mysql_fetch_array($qok))
											{
												?>
												<option value="<?=$catid;?>" <?if($catid == $l_cat1) echo "SELECTED";?>><?=$catname;?>
												<?
											}
										?>
									</select>
								</div>
								<?
							}
							else 
							{
								?>
								<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
								<?
							}
							//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							if(intval($l_cat1) > 0)
							{
								?>
								<div id="cat2d" style="display:;">
									<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
										<option value="0">----- SELECT --------
										<?
											$query = "select catid, catname from product_categories where parentid = '$l_cat1'";
											if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($catid, $catname) = mysql_fetch_array($qok))
											{
												?>
												<option value="<?=$catid;?>" <?if($catid == $l_cat2) echo "SELECTED";?>><?=$catname;?>
												<?
											}
										?>
									</select>
								</div>
								<?
							}
							else 
							{
								?>
								<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
								<?
							}
							//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
							if(intval($l_cat2) > 0)
							{
								?>
								<div id="cat3d" style="display:;">
									<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
										<option value="0">----- SELECT --------
										<?
											$query = "select catid, catname from product_categories where parentid = '$l_cat2'";
											if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($catid, $catname) = mysql_fetch_array($qok))
											{
												?>
												<option value="<?=$catid;?>" <?if($catid == $l_cat3) echo "SELECTED";?>><?=$catname;?>
												<?
											}
										?>
									</select>
								</div>
								<?
							}
							else 
							{
								?>
								<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
								<?
							}
							//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
							?>
							<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
							<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
						</td>
					</tr>				
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Brand:</div></td>
						<td>
							<select name="brand" class="formSelect"  onchange="">
							<option value="">----- SELECT --------
							<?
							$query = "select manid, manname from product_manufacturers order by manname";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($manid, $manname) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$manid;?>" <?if($l_brand == $manid) echo "SELECTED"; ?>><?=$manname;?>
								<?
							}
							?>
							</select>					
						</td>
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Campaign:</div></td>
						<td>
							<select name="campaign" class="formSelect"  onchange="">
							<option value="">----- SELECT --------
							<?
							$query = "select clicktype, tid, title from traffic_campaign_types order by title";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($clicktype, $clickid, $title) = mysql_fetch_array($qok))
							{
								if(($clicktype == 2) || ($clicktype == 0))
								{
									$clickid = urlencode($title);
									//$l_clickid = urlencode($title);
								}
								
								/*$listarray[] = "if(($l_clicktype == $clicktype) && ($l_clickid == $clickid))<BR>";*/
								?>
								<option value="<?=$clicktype;?>:<?=$clickid;?>" 
									<?if(($l_clicktype == $clicktype) && ($l_clickid == $clickid)) echo "SELECTED";?>><?=$title;?>
								<?
							}
							?>
							</select>	
							<?
							/*for($xx = 0; $xx < count($listarray); $xx++)
								echo $listarray[$xx];*/
							?>				
						</td>
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">ZipCode:</div></td>
						<td>
							<input type="text" name="zipcode" value="<?=$l_zipcode;?>" size=15 class="formbox" style="width:65px"  onkeyup="">					
						</td>
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Keywords:</div></td>
						<td>
							<input type="text" name="olkeywords" value="<?=$l_keywords;?>" size=15 class="formbox" style="width:65px"  onkeyup="">					
						</td>
					</tr>
					</table>
					<!------------------------------------------------------------------------------------------------------------>
					</td>
					
					<td width=50%>
					<!------------------------------------------------------------------------------------------------------------>
					<table>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Min (Main Item):</div></td>
						<td><input type="text" name="min" value="<?=$l_min;?>" size=15 class="formbox" style="width:65px"  onkeyup="">
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Max (Main Item):</div></td>
						<td><input type="text" name="max" value="<?=$l_max;?>" size=15 class="formbox" style="width:65px"  onkeyup="">
					</tr>
					</table>
					<!------------------------------------------------------------------------------------------------------------>
					</td>
				</tr>
				</table>

				</div>
			</td>
		</tr>
		</table>
		</form>	
		
		<IFRAME id="ordersframe" frameborder="0" scrolling="yes" src="about:blank" style="width:97%;height:200px;"></IFRAME>
		
		<div id="skuList" style="display:none;">
		<table border=0 width=100%>
		<tr>
			<td width=50%>
				<form name="ssform">
				
				<B>SKU List</B><DIV ID="skusearch" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:#eeeeee;"></DIV>
				<BR>
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Keywords:</div></td>
					<td>
						<input type="text" name="keywords"  size=15 class="formbox" style="width:105px" onkeyup="searchSKU();">					
					</td>
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Brand:</div></td>
					<td>
						<select name="sku_brand" class="formSelect"  onchange="searchSKU();">
						<option value="">----- SELECT --------
						<?
						$query = "select manid, manname from product_manufacturers order by manname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($manid, $manname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$manid;?>"><?=$manname;?>
							<?
						}
						?>
						</select>					
					</td>
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Category:</div></td>
					<td>
						<select name="skucat0" class="formSelect" onchange="skuCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>"><?=$catname;?>
							<?
						}
						?>
						</select>					
						<div id="cat1s" style="display:none;"><select name="skucat1" id="skucat1" class="formSelect" onchange="skuCategories(2);"></select></div>
						<div id="cat2s" style="display:none;"><select name="skucat2" id="skucat2" class="formSelect" onchange="skuCategories(3);"></select></div>
						<div id="cat3s" style="display:none;"><select name="skucat3" id="skucat3" class="formSelect" onchange="skuCategories(4);"></select></div>
						<div id="cat4s" style="display:none;"><select name="skucat4" id="skucat4" class="formSelect" onchange="skuCategories(5);"></select></div>
						<div id="cat5s" style="display:none;"><select name="skucat5" id="skucat5" class="formSelect" onchange="skuCategories(6);"></select></div>
					</td>
				</tr>
				</table>
				
				</form>
				<BR><BR>
				
				<form name="theskuresults">
				<div id="skuresults" style="display:;">&nbsp;</div>				
				</form>
			</td>
			
			<td width=50%>
				<IFRAME id="skuframe" frameborder="0" scrolling="yes" src="/mgt/em/skulist.phtml?campid=<?=$campid;?>" style="width:95%;height:600px;"></IFRAME>
			</td>
		</tr>
		
		</table>
		</div>
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
		
		
		<BR><BR>		
<?
if($inwin == 0)
{
	?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?><?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>