<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure

?>
<HTML>
<HEAD>
<TITLE>Marketing Email Marketing</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Email Marketing</B>
		<BR><BR>
		<table>
		<tr>
			<td><a href="/mgt/em/templates.phtml">Templates</a></td>
			<td>&nbsp;</td>
			<td>Manage the content that you are sending to shoppers.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/em/campaigns.phtml">Campaigns</a></td>
			<td>&nbsp;</td>
			<td>Create and send emails to shoppers.</td>
		</tr>
		<tr>
			<td colspan=3>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/mgt/em/sentlog.phtml">Sent Log</a></td>
			<td>&nbsp;</td>
			<td>View emails that you have sent.</td>
		</tr>
		<td><a href="/mgt/em/email-importer.php">Email Importer</a></td>
			<td>&nbsp;</td>
			<td>Import csv,xml,xls,cml,txt,htm,xhtml files into email lists.</td>
		</tr>
		<tr>
			<td><a href="/mgt/em/phpmm.php">Newsletter Blaster</a></td>
			<td>&nbsp;</td>
			<td>Blast Newsletter email lists.</td>
		</tr>
		</table>
		<tr>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	
	
</body>
</html>