<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>
		<td><a href="javascript:e2window('/mgt/em/templates.phtml?inwin=1', 'Templates');">Templates</td>
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/em/campaigns.phtml">Campaigns</td>
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/em/sentlog.phtml">Sent Log</td>
	</tr>
	</table>
	</div>
</div>