<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_email_marketing"); // will redirect on failure
$efc->hasPermission("perm_email_templates"); //

if($Action == "Delete")
{
	$query ="delete from email_templates where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/em/templates.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>Email Marketing - Templates</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script type="text/javascript">
<!--
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
//-->
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<?
if($inwin == 0)
{?>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
<?
}
?>
		
		<div style="padding-left:5px;padding-top:10px">
		<table><tr><td><B>Email Marketing- Templates</B></td></tr></table>
		<BR><BR>
		<table width=95%>
		<tr bgcolor="#eeeeee">
			<td height=21><div align="center">Name</div></td>
			<td><div align="center">Subject</div></td>
			<td><div align="center">Created</div></td>
			<td><div align="center">Delete</div></td>						
		</tr>		
		<?
		$query = "select id, name, subject, tstamp from email_templates order by id";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		$onnum = 0;	
		$lastposition = 0;
		while(list($id, $name, $subject, $tstamp) = mysql_fetch_array($qok))
		{
		?>
		<tr>
			<td>
				<a href="edit_template.phtml?tid=<?=$id;?>&inwin=<?=$inwin;?>"><?=$name;?></a>
			</td>
								
			<td NOWRAP>
				<?=$subject;?>
			</td>

			<td>
				<?=date("m/d/Y", $efc->tstamp2seconds($tstamp));?>
			</td>
									
			<td>
				<a href="javascript:makesure('Are you sure you want to delete this template?', 'templates.phtml?Action=Delete&id=<?=$id;?>&inwin=<?=$inwin;?>');">
					<img src="/images/del.gif" border=0 align="absmiddle">Delete
				</a>
			</td>									
		</tr>										
		<?
		}
		?>	
		</table>
		<BR><BR>
		<table><tr><td><B><a href="/mgt/em/edit_template.phtml?inwin=<?=$inwin;?>"><img src="/mgt/images/add.jpg" border=0> Create new template</a>	</B></td></tr></table>

		
		<BR><BR>
		<?INCLUDE("email_variables.phtml");?>

<?
if($inwin == 0)
{?>			
		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?
}
?>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>