<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($DoThis == "Delete Profile")
{
	$query = "delete from oi_profiles where id = '$oid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from oi_profiles_ext where oiid = '$oid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/oi/upload_step2.phtml?filename=$filename");
}

function getProfileColumn($mysqlid, $DB, $oid, $xx, $colname)
{
	$query = "select colname from oi_profiles_ext where oiid = '$oid' and colid = '$xx'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($xcolname) = mysql_fetch_array($q2ok);
	
	if(strtolower($xcolname) === strtolower($colname))
	{
		echo "SELECTED";
	}
}

?>
<HTML>
<HEAD>
<TITLE>Order Import - Mapping Columns</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
function showCover()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
}

function colorRow(id)
{
	var theSelect = document.getElementById("column"+id);
	var tr = document.getElementById("divid-"+id);
	
	if(theSelect.selectedIndex > 0)
		tr.style.backgroundColor = "#eeffff";
	else
		tr.style.backgroundColor = "#ffffff";
}

function checkData()
{
	<?
	if($oiid == "")
	{
	?>
	if(document.importForm.profilename.value == "")
	{
		if(confirm('If you do not enter a profile name, the mapped columns will not be saved for the next import.\nContinue without saving the profile?'))
		{
			return true;
		}
		
		return false;
	}
	<?	
	}
	?>
	
	return true;
}

function StartUp()
{
<?
$tmpfile = "$ROOT_DIR/mgt/oi/uploads/$filename";
				
$fp = fopen($tmpfile, "r");
				
if(!$fp)
{
	echo "Error opening file!  Make sure there are no special characters or spaces in your filename!";
	exit;
}
				
$data = fgetcsv($fp);
				
if(intval($oid) > 0)
{
	for($zz = 0; $zz < count($data); $zz++)	
	{
	?>
	colorRow('<?=$zz;?>');
	<?
	}
}

?>
}

function makesure()
{
	if(confirm('Are you sure you want to delete this profile?'))	
	{
		document.profilez.DoThis.value = "Delete Profile";
		document.profilez.submit();
	}
}
</script>
<style>
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}
</style>
</HEAD>

<body onload="StartUp();">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Order Import</B>
		<BR><BR>
		
		<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
		<tr>
			<td valign=top>
				For each column in your CSV file, select which column it best matches.
				<table>
				<tr>
					<td>
						<form name="profilez" method="get" action="upload_step2.phtml" style="margin:0px;">
						<input type="hidden" name="filename" value="<?=$filename;?>">
						<input type="hidden" name="DoThis" value="">
						
						<table style="border:1px #808080 dashed;padding:5px;">
						<tr>
							<td><div style="padding-top:1px"><B>Load Profile:</B></div></td>
							<td>
								<select name="oid" class="formSelect">
									<option value="">--- SELECT ---</option>
								<?
								$query = "select id, profilename from oi_profiles order by profilename";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($oiid, $profilename) = mysql_fetch_array($q2ok))
								{
									?>
									<option value="<?=$oiid;?>" <?if($oid == $oiid) echo "SELECTED";?>><?=$profilename;?></option>
									<?
								}
								?>
								</select>
											
							</td>
						</tr>
						<tr>
							<td colspan=2 align=center>
								<input type="submit" name="Action" value="Load Profile" class="buttonItem">
								<input type="button" name="Action" value="Delete" class="buttonItem" onclick="makesure();">
							</td>
						</tr>
						</table>
					
						</form>
						
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>
					<form method="post" name="importForm" action="upload_step3.phtml" onsubmit="return checkData();">
					<td>
					
						<table style="border:1px #808080 dashed;padding:5px;">
						<tr>
							<td><div style="padding-top:1px"><B>Profile Name:</B></div></td>
							<td>
								<input type="text" style="width:125px" name="profilename" class="formBox">
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<I>Name this profile to reuse it later</I>
							</td>
						</tr>
						</table>
					
					</td>					
				</tr>
				</table>
				
				
				
				<input type="hidden" name="filename" value="<?=$filename;?>">
				<table>
				<tr>
					<?
					$beginat = 0;
					$MAXOUT = 0;
					
					for($zz = 0; $zz <= count($data); $zz+=20)
					{
						$MAXOUT = $MAXOUT + 20;
						?>
						<td style="padding:5px;border-right:1px #808080 solid;">
							<!-- ##################################################################################################### -->
							<table>
							<tr bgcolor="#eeeeee">
								<td><B>Your Column</B></td>
								<td><B>Our Column</B></td>
							</tr>
							<?
							if(count($data) > $MAXOUT)
								$maxout = $MAXOUT;
							else 
								$maxout = count($data);
								
							for($xx = $zz; $xx < $maxout; $xx++)
							{
								?>
								<tr id="divid-<?=$xx;?>">
									<td><?=$data[$xx];?></td>
									<td>
										<select name="column<?=$xx;?>" class="formSelect" onchange="colorRow('<?=$xx;?>');">
											<option value="">--- Ignore ---</option>
											<option value="invoiceid" <?getProfileColumn($mysqlid, $DB, $oid, $xx, 'invoiceid');?>>Invoice#</option>
											<option value="orderdate" <?getProfileColumn($mysqlid, $DB, $oid, $xx, 'orderdate');?>>Order Date</option>
											
											<option value="fname" <?getProfileColumn($mysqlid, $DB, $oid, $xx, 'fname');?>>First Name</option>
											<option value="lname" <?getProfileColumn($mysqlid, $DB, $oid, $xx, 'lname');?>>Last Name</option>
											
											<option value="bill2name" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2name');?>>Bill2Name</option>
											<option value="bill2street1" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2street1');?>>Bill2Street1</option>
											<option value="bill2street2" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2street2');?>>Bill2Street2</option>
											<option value="bill2city" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2city');?>>Bill2City</option>
											<option value="bill2state" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2state');?>>Bill2State</option>
											<option value="bill2zip"		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2zip');?>>Bill2Zip</option>
											<option value="bill2country" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'bill2country');?>>Bill2Country</option>
											
											<option value="ship2name" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2name');?>>Ship2Name</option>
											<option value="ship2street1" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2street1');?>>Ship2Street1</option>
											<option value="ship2street2" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2street2');?>>Ship2Street2</option>
											<option value="ship2city" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2city');?>>Ship2City</option>
											<option value="ship2state"		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2state');?>>Ship2State</option>
											<option value="ship2zip" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2zip');?>>Ship2Zip</option>
											<option value="ship2country" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ship2country');?>>Ship2Country</option>
											
											<option value="emailaddr" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'emailaddr');?>>Email Address</option>
											
											<option value="phone" 			<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'phone');?>>Phone</option>
											<option value="altphone" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'altphone');?>>Alt Phone</option>
											<option value="Fax"				<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'Fax');?>>Fax Number</option>
											
											<option value="ip_addr" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'ip_addr');?>>IP Address</option>
											
											
											<option value="shipping" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'shipping');?>>Shipping Amount</option>
											<option value="tax" 		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'tax');?>>Order Tax</option>
											<option value="total"		<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'total');?>>Order Total</option>
											
											<option value="shipmethod" <?getProfileColumn($mysqlid, $DB, $oid, $xx, 'shipmethod');?>>Shipping Method *</option>
											
											<option value="pid" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'pid');?>>PID</option>
											<option value="qty" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'qty');?>>Qty Ordered</option>
											<option value="uprice" 	<?getProfileColumn($mysqlid, $DB, $oid, $xx, 'uprice');?>>Unit Price</option>
					
										</select>
									</td>
								</tr>
								<?
							}
							?>
							</table>
							<!-- ##################################################################################################### -->
						</td>	
						<?
					}
					?>
			
					</td>			
				</tr>
				</table>
				
				<input type="submit" name="Action" value="Import Orders" class="buttonItem">
				</form>
			</td>
		</tr>
		</table>

		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td>
	
	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>