<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_base_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonmax/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select id from amazonmax_feed_report where type = 'BASE' and complete = '0'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) > 0)
{
	list($feedreportid) = mysql_fetch_array($q2ok);
	echo "Cannot update new feed until feed => $feedreportid is complete.\n";
	exit;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazonmax_log(title, tstamp) values('Base Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$brid = "";

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/********************************************************************************************/
$mid = 1;

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonMax", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Product</MessageType>

";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$numout = 0;


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select amazonmax_campaigns.id, amazonmax_campaigns.campaign_name, amazonmax_campaign_lists.listid, lists.list_title from amazonmax_campaigns, amazonmax_campaign_lists, lists where 
				amazonmax_campaigns.id = amazonmax_campaign_lists.campid AND amazonmax_campaign_lists.listid = lists.lid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($campaignid, $amazon_campaign_name, $amazon_listid, $list_title) = mysql_fetch_array($q9ok))
{
	if(intval($brid) <= 0)
	{
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into amazonmax_base_requests(tstamp, campid) values('$tstamp', '$campaignid')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$brid = mysql_insert_id();
	}
	
	$amazon_campaign_name = stripslashes($amazon_campaign_name);
	echo "Campaign $amazon_campaign_name [LIST => $list_title]\n";

	// first list updated items
	$query = "select amazonmax_base_messages.mid, product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin 
				from product_list, product_manufacturers, list_products, amazonmax_base_messages
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				product_list.id = amazonmax_base_messages.pid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazon_listid' AND 
				product_list.lastupdate != amazonmax_base_messages.pid_lastupdate AND
				product_list.id NOT IN (select pid from amazonmax_errors)";

	
	//				product_list.visible = 1 AND.........  5/27/2010 - Eli said that an item shoudl not have to be visible to be listed.
	
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($messageid, $pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok))
	{
		echo "--------------------------------------------------\n";
		
		$skudata = $amClass->AddProduct($pid, $campaignid);	

		if($skudata != "")
		{
			$numout++;
				
			$skudata = str_replace("#mid#", "$messageid", $skudata);
				
			$data .= $skudata;
		}

		
	}
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

if($numout <= 0)
{
	$query = "delete from amazonmax_base_requests where brid = '$brid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from amazonmax_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	echo "No Proudcts\n";
	exit;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$data .= "</AmazonEnvelope>\n";

$filename = "/tmp/amazonmax/basefeed.".date("Ymd-His", time());
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

$cmd = "/usr/bin/xmllint --format $filename > $filename.xml";
exec($cmd);

unlink($filename);
$filename = $filename . ".xml";

/*$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }*/

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonMax", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonMax", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonMax", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonMax", "MARKETPLACE_ID"));
/********************************************************************************************/


$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

$service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
 
$feedHandle = fopen($filename, "r");

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$query = "update amazonmax_base_requests set amazon_submissionid = '$amazon_reportid', amazon_requestid = '$amazon_requestid' where brid = '$brid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazonmax_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('BASE', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update amazonmax_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     
fclose($feedHandle);

unlink($filename);
?>
<?mysql_close();?>