<?
ini_set('memory_limit', '-1');

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
/*$ROOT_DIR = $argv[1];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: duplicate_checker.phtml ROOT_DIR\n\n";
	exit;
}*/

$ROOT_DIR = "/home/httpd/pharmasave.com";

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonmax/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/********************************************************************************************/

$upc = "051381887230";
		
ob_start();
	// CruxWorks Key
	$public_key = $efc->getConfigValue("AmazonMax", "PUBLIC_KEY");
	$private_key = $efc->getConfigValue("AmazonMax", "PRIVATE_KEY");
		
	// Eli's Key	
	//$public_key = "0SX4RHKKAJMN8PSN9Z02";
	//$private_key = "7pjVs0H9QQo9B1CrcehAlx2Eyx7+8AxBe5lQ3CHK";
		
	$asinURL = $amClass->aws_signed_request("com", array("Operation"=>"ItemLookup","IdType"=>"UPC","ItemId"=>"$upc","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
			
	$buffer = $amClass->efc->loadPage($asinURL, "http://www.amazon.com");
	$xmldata = $amClass->xml2array($buffer);
ob_get_clean();
	
$itemlist = $xmldata['ItemLookupResponse']['Items']['Item'];
?>
<table id="results">
<tr bgcolor="#eeeeee">
	<td><B>Image</B></td>
	<td><B>ASIN</B></td>
	<td><B>Sales Rank</B></td>
	<td><B>Title</B></td>
	<td><B>UPC</B></td>
	<td><B># Sellers</B></td>
	<td><B>Lowest Price</B></td>
</tr>
<?
if(@$itemlist[0]['ASIN']['value'] == "")
{
	$asin = @$itemlist['ASIN']['value'];
	$salesrank = @$itemlist['SalesRank']['value'];
	$imageURL = @$itemlist['SmallImage']['URL']['value'];
	$brand = @$itemlist['ItemAttributes']['Brand']['value'];
	$ean = @$itemlist['ItemAttributes']['EAN']['value'];
	$title = @$itemlist['ItemAttributes']['Title']['value'];
	$upc = @$itemlist['ItemAttributes']['UPC']['value'];
	$featurelist = @$itemlist['ItemAttributes']['Feature'];
	
	$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
	$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
}
else 
{
	
	for($xx = 0; $xx < count($itemlist); $xx++)
	{
		$features = "";
		
		$asin = @$itemlist[$xx]['ASIN']['value'];
		$salesrank = @$itemlist[$xx]['SalesRank']['value'];
		$imageURL = @$itemlist[$xx]['SmallImage']['URL']['value'];
		$brand = @$itemlist[$xx]['ItemAttributes']['Brand']['value'];
		$ean = @$itemlist[$xx]['ItemAttributes']['EAN']['value'];
		$title = @$itemlist[$xx]['ItemAttributes']['Title']['value'];
		$upc = @$itemlist[$xx]['ItemAttributes']['UPC']['value'];
		$featurelist = @$itemlist[$xx]['ItemAttributes']['Feature'];
		
		$lowestnewprice = @$itemlist[$xx]['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
		$totalnew = @$itemlist[$xx]['OfferSummary']['TotalNew']['value'];
		?>
		<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
			<td valign=top><img src='<?=$imageURL;?>'></td>
			<td valign=top>
				<?=$asin;?>
				<BR><a href="javascript:void(0);" onclick="useThis('ASIN', '<?=$asin;?>');">Copy</a>
			</td>
			<td valign=top><?=number_format($salesrank);?></td>
			<td valign=top>
				<?=$title;?>
				<BR><a href="javascript:void(0);" onclick="useThis('TITLE', '<?=urlencode($title);?>');">Copy</a>
				<?
				if(count($featurelist) > 0)
					echo "<UL>";
				for($pp = 0; $pp < count($featurelist); $pp++)
				{
					if($featurelist[$pp]['value'] != "")
					{
						echo "<LI>".$featurelist[$pp]['value']."</LI>";
					}
				}
				if(count($featurelist) > 0)
					echo "</UL>";
				?>
				<BR>
				<a href="javascript:void(0);" onclick="createSKUfromASIN('<?=addslashes(trim($asin));?>');">Create this SKU</a>
			</td>
			<td valign=top>
				<?=$upc;?>
				<BR><a href="javascript:void(0);" onclick="useThis('UPC', '<?=$upc;?>');">Copy</a>
			</td>
			<td valign=top align=right><?=$totalnew;?></td>
			<td valign=top align=right><?=$lowestnewprice;?></td>
		</tr>
		<tr>
			<td colspan=6 style="border-bottom:1px dashed #eeeeee;">&nbsp;</td>
		</tr>
		<?
		
		
	}
}
?>
</table>
<?mysql_close();?>