<?
ini_set('memory_limit', '-1');

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: get_order_report.phtml ROOT_DIR\n\n";
	exit;
//    $ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonmax/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    


function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
function translateState($state)
{
	if(strtolower($state) == strtolower("Alabama")) $code = "AL";
	else if(strtolower($state) == strtolower("Alaska")) $code = "AK";
	else if(strtolower($state) == strtolower("Arizona")) $code = "AZ";
	else if(strtolower($state) == strtolower("Arkansas")) $code = "AR";
	else if(strtolower($state) == strtolower("California")) $code = "CA";
	else if(strtolower($state) == strtolower("Colorado")) $code = "CO";
	else if(strtolower($state) == strtolower("Connecticut")) $code = "CT";
	else if(strtolower($state) == strtolower("Delaware")) $code = "DE";
	else if(strtolower($state) == strtolower("District of Columbia")) $code = "DC";
	else if(strtolower($state) == strtolower("Florida")) $code = "FL";
	else if(strtolower($state) == strtolower("Georgia")) $code = "GA";
	else if(strtolower($state) == strtolower("Hawaii")) $code = "HI";
	else if(strtolower($state) == strtolower("Idaho")) $code = "ID";
	else if(strtolower($state) == strtolower("Illinois")) $code = "IL";
	else if(strtolower($state) == strtolower("Indiana")) $code = "IN";
	else if(strtolower($state) == strtolower("Iowa")) $code = "IA";
	else if(strtolower($state) == strtolower("Kansas")) $code = "KS";
	else if(strtolower($state) == strtolower("Kentucky")) $code = "KY";
	else if(strtolower($state) == strtolower("Louisiana")) $code = "LA";
	else if(strtolower($state) == strtolower("Maine")) $code = "ME";
	else if(strtolower($state) == strtolower("Maryland")) $code = "MD";
	else if(strtolower($state) == strtolower("Massachusetts")) $code = "MA";
	else if(strtolower($state) == strtolower("Michigan")) $code = "MI";
	else if(strtolower($state) == strtolower("Minnesota")) $code = "MN";
	else if(strtolower($state) == strtolower("Mississippi")) $code = "MS";
	else if(strtolower($state) == strtolower("Missouri")) $code = "MO";
	else if(strtolower($state) == strtolower("Montana")) $code = "MT";
	else if(strtolower($state) == strtolower("Nebraska")) $code = "NE";
	else if(strtolower($state) == strtolower("Nevada")) $code = "NV";
	else if(strtolower($state) == strtolower("New Hampshire")) $code = "NH";
	else if(strtolower($state) == strtolower("New Jersey")) $code = "NJ";
	else if(strtolower($state) == strtolower("New Mexico")) $code = "NM";
	else if(strtolower($state) == strtolower("New York")) $code = "NY";
	else if(strtolower($state) == strtolower("North Carolina")) $code = "NC";
	else if(strtolower($state) == strtolower("North Dakota")) $code = "ND";
	else if(strtolower($state) == strtolower("Ohio")) $code = "OH";
	else if(strtolower($state) == strtolower("Oklahoma")) $code = "OK";
	else if(strtolower($state) == strtolower("Oregon")) $code = "OR";
	else if(strtolower($state) == strtolower("Pennsylvania")) $code = "PA";
	else if(strtolower($state) == strtolower("Puerto Rico")) $code = "PR";
	else if(strtolower($state) == strtolower("Rhode Island")) $code = "RI";
	else if(strtolower($state) == strtolower("South Carolina")) $code = "SC";
	else if(strtolower($state) == strtolower("South Dakota")) $code = "SD";
	else if(strtolower($state) == strtolower("Tennessee")) $code = "TN";
	else if(strtolower($state) == strtolower("Texas")) $code = "TX";
	else if(strtolower($state) == strtolower("Utah")) $code = "UT";
	else if(strtolower($state) == strtolower("Vermont")) $code = "VT";
	else if(strtolower($state) == strtolower("Virginia")) $code = "VA";
	else if(strtolower($state) == strtolower("Washington")) $code = "WA";
	else if(strtolower($state) == strtolower("West Virginia")) $code = "WV";
	else if(strtolower($state) == strtolower("Wisconsin")) $code = "WI";
	else if(strtolower($state) == strtolower("Wyoming")) $code = "WY";	
	else $code = $state;
	
	return $code;
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$query = "select id, reportid from amazonmax_order_reports_by_date where status = '0'";
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q4ok) <= 0)
{
	echo "No Report to get status of\n";
	exit;
}
else {
    
}
while(list($amazon_id, $reportId) = mysql_fetch_array($q4ok))
{
	echo "sleeping...\n";
	sleep(15);
	$REQUESTID = $reportId;
	echo "REQUESTID: $REQUESTID\n";
	
	$efc = new efluentClass();
	$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
	$efc->db = $DB;
	
	/********************************************************************************************/
	define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
	 
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonMax", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonMax", "AWS_SECRET_ACCESS_KEY"));  
	
	define('APPLICATION_NAME', 'eFluent');
	define('APPLICATION_VERSION', '2.0');
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonMax", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonMax", "MARKETPLACE_ID"));
	/********************************************************************************************/
	////////////////////////////////////////////////////////////////////////////////
	
	
	$config = array (
	  'ProxyHost' => null,
	  'ProxyPort' => -1,
	  'MaxErrorRetry' => 3,
	);
	
	$service = new MarketplaceWebService_Client(
	     AWS_ACCESS_KEY_ID, 
	     AWS_SECRET_ACCESS_KEY, 
	     $config,
	     APPLICATION_NAME,
	     APPLICATION_VERSION);
	
	     
	$filename = "/tmp/amazonmax/orders_by_date_$reportId.txt";
	
	$fp = fopen($filename, "w");
	
	$parameters = array (
	   'Marketplace' => MARKETPLACE_ID,
	   'Merchant' => MERCHANT_ID,
	   'Report' => $fp,
	   'ReportId' => $reportId,
	);
	 
	$request = new MarketplaceWebService_Model_GetReportRequest($parameters);
	
	      try {
	              $response = $service->getReport($request);
	              
	                echo ("Service Response\n");
	                echo ("=============================================================================\n");
	
	                echo("        GetReportResponse\n");
	                if ($response->isSetGetReportResult()) {
	                  $getReportResult = $response->getGetReportResult(); 
	                  echo ("            GetReport");
	                  
	                  if ($getReportResult->isSetContentMd5()) {
	                    echo ("                ContentMd5");
	                    echo ("                " . $getReportResult->getContentMd5() . "\n");
	                  }
	                }
	                if ($response->isSetResponseMetadata()) { 
	                    echo("            ResponseMetadata\n");
	                    $responseMetadata = $response->getResponseMetadata();
	                    if ($responseMetadata->isSetRequestId()) 
	                    {
	                        echo("                RequestId\n");
	                        echo("                    " . $responseMetadata->getRequestId() . "\n");
	                    }
	                }
	                
	                echo ("        Report Contents\n");
	                echo (stream_get_contents($request->getReport()) . "\n");
//                        print_r($request->getReport());
	
	     } catch (MarketplaceWebService_Exception $ex) {
	         echo("Caught Exception: " . $ex->getMessage() . "\n");
	         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
	         echo("Error Code: " . $ex->getErrorCode() . "\n");
	         echo("Error Type: " . $ex->getErrorType() . "\n");
	         echo("Request ID: " . $ex->getRequestId() . "\n");
	         echo("XML: " . $ex->getXML() . "\n");
	     }
	
	fclose($fp);
	
	
	if(filesize($filename) > 0)
	{
		$fp = fopen($filename, "r");
		if(!$fp){echo "NO FILE!<BR>";exit;}
		$data = "";
		while(!feof($fp))$data .= fgets($fp, 4096);
		fclose($fp);
		
		$xmldata = xml2array($data, 1);
		$message = $xmldata['AmazonEnvelope']['Message']['Order'];
		if($message['AmazonOrderID']['value'] == "")
		{
			$message = $xmldata['AmazonEnvelope']['Message'][0]['Order'];
			if($message['AmazonOrderID']['value'] == "")
			{
				echo "OH SHIT!<BR>";
				exit;
			}
			else 
			{
				echo "IS ARRAY<BR>";
				$qx = "TRUNCATE amazonmax_order_reports_by_date_items";
                                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				for($xx = 0; $xx < count($xmldata['AmazonEnvelope']['Message']); $xx++)
				{
                                    $message = $xmldata['AmazonEnvelope']['Message'][$xx]['Order'];
                                    
                                    $AmazonOrderID = $message['AmazonOrderID']['value'];
                                    $AmazonPurchaseDate = $message['PurchaseDate']['value'];
                                    $AmazonOrderStatus = $message['OrderStatus']['value'];
                                    $AmazonSalesChannel = $message['SalesChannel']['value'];
                                    $items = $message['OrderItem'];
                                    if(isset($message['OrderItem'][0])) {
                                        for($yy=0;$yy<count($items);$yy++) {
                                            $i = $items[$yy];
                                            $q = "INSERT INTO amazonmax_order_reports_by_date_items(
                                                                        amazon_order_id,
                                                                        amazon_order_purchase_date,
                                                                        amazon_order_purchase_date_string,
                                                                        amazon_order_status,
                                                                        amazon_sales_chanel,
                                                                        amazon_item_asin,
                                                                        amazon_item_sku,
                                                                        amazon_item_status,
                                                                        amazon_item_qty
                                                                    ) VALUES(
                                                                        '".$AmazonOrderID."',
                                                                        '".strtotime($AmazonPurchaseDate)."',
                                                                        '".$AmazonPurchaseDate."',
                                                                        '".$AmazonOrderStatus."',
                                                                        '".$AmazonSalesChannel."',
                                                                        '".$i['ASIN']['value']."',
                                                                        '".$i['SKU']['value']."',
                                                                        '".$i['ItemStatus']['value']."',
                                                                        '".$i['Quantity']['value']."'
                                                                    )";  
                                            if(!$q4ok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                        }
                                    }
                                    else {
                                        
                                        $q= "INSERT INTO amazonmax_order_reports_by_date_items(
                                                                        amazon_order_id,
                                                                        amazon_order_purchase_date,
                                                                        amazon_order_purchase_date_string,
                                                                        amazon_order_status,
                                                                        amazon_sales_chanel,
                                                                        amazon_item_asin,
                                                                        amazon_item_sku,
                                                                        amazon_item_status,
                                                                        amazon_item_qty
                                                                    ) VALUES(
                                                                        '".$AmazonOrderID."',
                                                                        '".strtotime($AmazonPurchaseDate)."',
                                                                        '".$AmazonPurchaseDate."',
                                                                        '".$AmazonOrderStatus."',
                                                                        '".$AmazonSalesChannel."',
                                                                        '".$items['ASIN']['value']."',
                                                                        '".$items['SKU']['value']."',
                                                                        '".$items['ItemStatus']['value']."',
                                                                        '".$items['Quantity']['value']."'
                                                                    )";    
                                        if(!$q4ok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                    }
                                   
				}
				
			}
			
		}
		else 
		{
			echo "SINGLE ORDER<BR>";
                        
		}
		
		$queryx = "update amazonmax_order_reports_by_date set status = 1 where id = '$amazon_id'";
		if(!$q2okx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}
}
?>
<?mysql_close();?>