<?
ini_set('memory_limit', '-1');


$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
//	echo "usage: get_order_report.phtml ROOT_DIR\n\n";
//	exit;
    $ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonmax/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    


function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
/********************************************************************************************/
//$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
//$query = "select id, reportid from amazon_order_reports_by_date where status = '0'";
//if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//if(mysql_num_rows($q4ok) <= 0)
//{
//	echo "No Report to get status of\n";
//	exit;
//}
//else {
//    
//}
/********************************************************************************************/
        
///********************************************************************************************/
//define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
// 
//define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
//define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  
//
//define('APPLICATION_NAME', 'eFluent');
//define('APPLICATION_VERSION', '2.0');
//
//define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
//define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
///********************************************************************************************/
//
//$config = array (
//  'ProxyHost' => null,
//  'ProxyPort' => -1,
//  'MaxErrorRetry' => 3,
//);
//
//$service = new MarketplaceWebService_Client(
//     AWS_ACCESS_KEY_ID, 
//     AWS_SECRET_ACCESS_KEY, 
//     $config,
//     APPLICATION_NAME,
//     APPLICATION_VERSION);
// 
////_GET_FLAT_FILE_OPEN_LISTINGS_DATA_
//$parameters = array (
//   'Marketplace' => MARKETPLACE_ID,
//   'Merchant' => MERCHANT_ID,
//   'ReportType' => '_GET_XML_ALL_ORDERS_DATA_BY_ORDER_DATE_');
// 
//$request = new MarketplaceWebService_Model_RequestReportRequest($parameters);
//
//$request->setStartDate(time() - (86400 * 30));
//$request->setEndDate(time());
//
//try 
//{
//    $response = $service->requestReport($request);
//              
//    if ($response->isSetRequestReportResult()) 
//    { 
//    	$requestReportResult = $response->getRequestReportResult();
//                    
//        if ($requestReportResult->isSetReportRequestInfo()) 
//        {
//			$reportRequestInfo = $requestReportResult->getReportRequestInfo();
//
//			if ($reportRequestInfo->isSetReportRequestId()) 
//            {
//                $amazon_reportid = $reportRequestInfo->getReportRequestId();
//			}
//		}
//	} 
//	
//	if ($response->isSetResponseMetadata()) 
//	{ 
//    	$responseMetadata = $response->getResponseMetadata();
//        if ($responseMetadata->isSetRequestId()) 
//        {
//            $amazon_requestid = $responseMetadata->getRequestId();
//		}
//	} 
//
//	echo "REPORTID: $amazon_reportid\n";
//	echo "REQUESTID: $amazon_requestid\n";
//	
//} 
//catch (MarketplaceWebService_Exception $ex) 
//{
//	echo("Caught Exception: " . $ex->getMessage() . "\n");
//    echo("Response Status Code: " . $ex->getStatusCode() . "\n");
//    echo("Error Code: " . $ex->getErrorCode() . "\n");
//    echo("Error Type: " . $ex->getErrorType() . "\n");
//    echo("Request ID: " . $ex->getRequestId() . "\n");
//    echo("XML: " . $ex->getXML() . "\n");
//}
//
//exit;
 
        ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);
/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonMax", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonMax", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonMax", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonMax", "MARKETPLACE_ID"));
/********************************************************************************************/
////////////////////////////////////////////////////////////////////////////////


$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

$service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
 
$request = new MarketplaceWebService_Model_GetReportListRequest();
$request->setMarketplace(MARKETPLACE_ID);
$request->setMerchant(MERCHANT_ID);
$request->setAvailableToDate(time());
$request->setAvailableFromDate(time() - (86400 * 3) );
$request->setAcknowledged(false);

//$typeList = new MarketplaceWebService_Model_TypeList();
//$request->setReportTypeList($typeList->withType('_GET_XML_ALL_ORDERS_DATA_BY_ORDER_DATE_'));
        
$idList = new MarketplaceWebService_Model_IdList();
$request->setReportRequestIdList($idList->withId('5628287064'));

$response = $service->getReportList($request);
print_r($response);
if ($response->isSetGetReportListResult()) 
{
	$getReportListResult = $response->getGetReportListResult();
	$reportInfoList = $getReportListResult->getReportInfoList();

	foreach ($reportInfoList as $reportInfo) 
	{
		if($reportInfo->isSetReportId())
		{
			$reportId = $reportInfo->getReportId();
		}	
	}
}

echo "ReportID: $reportId\n";

if($reportId == "")
{
	echo "No Report ID\n";
	exit;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     
     
 exit;    
$filename = "/tmp/amazonmax/amazon_order_by_date.$reportId.txt";

$fp = fopen($filename, "w");

$parameters = array (
   'Marketplace' => MARKETPLACE_ID,
   'Merchant' => MERCHANT_ID,
   'Report' => $fp,
   'ReportId' => $reportId,
);
 
$request = new MarketplaceWebService_Model_GetReportRequest($parameters);


      try {
              $response = $service->getReport($request);
              
                echo ("Service Response\n");
                echo ("=============================================================================\n");

                echo("        GetReportResponse\n");
                if ($response->isSetGetReportResult()) {
                  $getReportResult = $response->getGetReportResult(); 
                  echo ("            GetReport");
                  
                  if ($getReportResult->isSetContentMd5()) {
                    echo ("                ContentMd5");
                    echo ("                " . $getReportResult->getContentMd5() . "\n");
                  }
                }
                if ($response->isSetResponseMetadata()) { 
                    echo("            ResponseMetadata\n");
                    $responseMetadata = $response->getResponseMetadata();
                    if ($responseMetadata->isSetRequestId()) 
                    {
                        echo("                RequestId\n");
                        echo("                    " . $responseMetadata->getRequestId() . "\n");
                    }
                }
                
                echo ("        Report Contents\n");
                echo (stream_get_contents($request->getReport()) . "\n");

     } catch (MarketplaceWebService_Exception $ex) {
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
     }

fclose($fp);  
?>
<?mysql_close();?>