<?
ini_set('memory_limit', '-1');

//$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
$DEBUG = 0;
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: ebay_get_items.phtml ROOT_DIR REQUESTID\n\n";
//	exit;
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonmax/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;

/********************************************************************************************/
$query = "SELECT id, upccode
		  FROM product_list
		  WHERE upccode != ''
		  AND (asin = '' OR asin IS NULL)
  		  GROUP BY upccode";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$numrows = mysql_num_rows($qok);
$onnum = 0;
while(list($pid,$upccode) = mysql_fetch_array($qok))
{
	$onnum++;
	$pct = number_format(($onnum / $numrows) * 100, 2);
	echo "-------------------------------------------------------<br />";
	echo "Checking UPC: $upccode [$onnum of $numrows $pct%]<br />";
	/********************************************************************************************/

		$public_key = $efc->getConfigValue("AmazonMax", "PUBLIC_KEY");
		$private_key = $efc->getConfigValue("AmazonMax", "PRIVATE_KEY");
		$associateID = $efc->getConfigValue("AmazonMax", "ASSOCIATEID");
		
		if(strlen($upccode) == 11)	
		{
			$upccode = "0$upccode";
		}
		
		if(strlen($upccode) == 13)
		{
			echo "EAN Search...<br />";
			$asinURL = $amClass->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"EAN","ItemId"=>"$upccode","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
			
			$error_tag = "ItemLookupErrorResponse";
			$response_tag = "ItemLookupResponse";
		}
		else
		{ 	
			echo "UPC Search...<br />";
			$asinURL = $amClass->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"UPC","ItemId"=>"$upccode","SearchIndex"=>"All","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
			
			$error_tag = "ItemLookupErrorResponse";
			$response_tag = "ItemLookupResponse";
		}
			
		$buffer = $amClass->efc->loadPage($asinURL, "http://www.amazon.com");
		$xmldata = $amClass->xml2array($buffer);
		
	$errorcode = $xmldata[$error_tag]['Error']['Code']['value'];
	$errormess = $xmldata[$error_tag]['Error']['Message']['value'];
	
	if($errorcode == "AccountLimitExceeded")
	{
		echo "ERROR => [$errorcode] $errormess<br />";
		echo "ABORT<br />";
		exit;
	}

	$totalresults = $xmldata[$response_tag]['Items']['TotalResults']['value'];
	$totalpages = $xmldata[$response_tag]['Items']['TotalPages']['value'];
	$itemlist = $xmldata[$response_tag]['Items']['Item'];
	
	if(@$itemlist[0]['ASIN']['value'] == "")
	{
		$asin = @$itemlist['ASIN']['value'];
		echo "ASIN: $asin<br />";
		
		if($asin == "")
		{
			echo "... single match but, blank ASIN from Amazon (aborting)<br />";
		}
		else
		{
			$query = "UPDATE product_list
					  SET asin='$asin', use_asin='1'
					  WHERE id='$pid'
					  LIMIT 1";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			echo "PID $pid updated with ASIN $asin<br />";
		}
	}
	else 
	{
		echo "... multiple matches from Amazon (aborting)<br />";
	}
	/********************************************************************************************/
	echo "... Sleeping....<br />";
	sleep(1);
}
	
?>
<?mysql_close();?>