<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//ini_set('display_errors',1);
//error_reporting(E_ALL);
?>
<table>
<?
$query = "select orderid,invoiceid from customer_orders where emailaddr = '$emailaddr' AND orderdate > UNIX_TIMESTAMP(DATE_SUB(CURDATE(), INTERVAL 180 DAY))";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while (list($orderid,$invoiceid,$orderdate,$emailaddr) = mysql_fetch_array($qok)) {
    ?>
    <tr><td><a href="javascript:void(0);" id="v<?=$invoiceid;?>" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Order <?=$invoiceid;?>','v<?=$invoiceid;?>');hideOrders();">
				<?=$invoiceid;?>
			</a></td></tr>
    <?
}
?>
    <tr>
	<td><a href="javascript:hideOrders()">Close</a></td>
    </tr>
</table>