<?
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


echo $pid."~";
?>
<table style="border:1px solid #808080;background-color:#ffffee;">
<tr bgcolor="#eeeeee">
	<td height=21 align=center><B>Id</B></td>
	<td height=21 align=center><B>Date/Time</B></td>
	<td height=21 align=center><B>Message</B></td>
</tr>

<?
$query = "select id, tstamp, message from amazon_ca_errors where pid = '$pid' order by tstamp desc";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($id, $tstamp, $message) = mysql_fetch_array($q2ok))
{
	?>
	<tr>
		<td height=21 align=center><?=$id;?></td>
		<td height=21 align=center><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
		<td height=21 align=center><?=$message;?></td>
	</tr>
	<?
}
?>
</table>
<?mysql_close();?>