<?
class amazonClass
{
	function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}

	function cleanse($data)
	{
		$data = str_replace("<![CDATA[", "", $data);
		$data = str_replace("]]>", "", $data);
		
		$data = strip_tags($data, "<br><p><ul><li>");
		
		return preg_replace("/[^a-zA-Z0-9!~$#;:?&%=)(><.,\[\]\-'\+\/\"\s]/","", $data);
	}
	
	function cleanVar($data)
	{
		//matches anything in range 0-31, 128-255 and removes it.
		return preg_replace('/[\x00-\x1F\x80-\xFF]/', '', $data);
	}	
	
	function aws_signed_request($region, $params, $public_key, $private_key)
	{
	    /*
	    Copyright (c) 2009 Ulrich Mierendorff
	
	    Permission is hereby granted, free of charge, to any person obtaining a
	    copy of this software and associated documentation files (the "Software"),
	    to deal in the Software without restriction, including without limitation
	    the rights to use, copy, modify, merge, publish, distribute, sublicense,
	    and/or sell copies of the Software, and to permit persons to whom the
	    Software is furnished to do so, subject to the following conditions:
	
	    The above copyright notice and this permission notice shall be included in
	    all copies or substantial portions of the Software.
	
	    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
	    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
	    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
	    DEALINGS IN THE SOFTWARE.
	    */
	    
	    /*
	    Parameters:
	        $region - the Amazon(r) region (ca,com,co.uk,de,fr,jp)
	        $params - an array of parameters, eg. array("Operation"=>"ItemLookup",
	                        "ItemId"=>"B000X9FLKM", "ResponseGroup"=>"Small")
	        $public_key - your "Access Key ID"
	        $private_key - your "Secret Access Key"
	    */
	
	    // some paramters
	    $method = "GET";
	    $host = "ecs.amazonaws.".$region;
	    $uri = "/onca/xml";
	    
	    // additional parameters
	    $params["Service"] = "AWSECommerceService";
	    $params["AWSAccessKeyId"] = $public_key;
	    // GMT timestamp
	    $params["Timestamp"] = gmdate("Y-m-d\TH:i:s\Z");
	    // API version
	    $params["Version"] = "2009-03-31";
	    
	    // sort the parameters
	    ksort($params);
	    
	    // create the canonicalized query
	    $canonicalized_query = array();
	    foreach ($params as $param=>$value)
	    {
	        $param = str_replace("%7E", "~", rawurlencode($param));
	        $value = str_replace("%7E", "~", rawurlencode($value));
	        $canonicalized_query[] = $param."=".$value;
	    }
	    $canonicalized_query = implode("&", $canonicalized_query);
	    
	    // create the string to sign
	    $string_to_sign = $method."\n".$host."\n".$uri."\n".$canonicalized_query;
	    
	    // calculate HMAC with SHA256 and base64-encoding
	    $signature = base64_encode(hash_hmac("sha256", $string_to_sign, $private_key, True));
	    
	    // encode the signature for the request
	    $signature = str_replace("%7E", "~", rawurlencode($signature));
	    
	    // create request
	    $request = "http://".$host.$uri."?".$canonicalized_query."&Signature=".$signature;
	    
	    return $request;
	    
	/*    // do request
	    $response = @file_get_contents($request);
	    
	    if ($response === False)
	    {
	        return False;
	    }
	    else
	    {
	        // parse XML
	        $pxml = simplexml_load_string($response);
	        if ($pxml === False)
	        {
	            return False; // no xml
	        }
	        else
	        {
	            return $pxml;
	        }
	    }
	*/
	}

	function getClassification($pid)
	{
		$amazoncat = 0;
		$classification = "";
		
		$query = "select amazoncat from amazon_ca_categories where pid = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($amazoncat) = mysql_fetch_array($q2ok);	
		}
		else 
		{
			$cattree = $this->efc->getCatTree($pid);
	
			if(is_array($cattree))
			{
				for($xx = 0; $xx < count($cattree['catid']); $xx++)
				{
					$query = "select amazoncat from amazon_ca_categories where catid = '".$cattree['catid'][$xx]."'";
					if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($q2ok) > 0)
					{
						list($amazoncat) = mysql_fetch_array($q2ok);	
						
						break;
					}
				}
			}
		}
		
		if(intval($amazoncat) > 0)
		{
			$query = "select classification from categories where id = '$amazoncat'";
			if(!$q2ok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($classification) = mysql_fetch_array($q2ok);
		}

		return $classification;
	}
	
	// convert the data to the type specified
	function xsdConversion($type, $cvalue)
	{
		if($type == "boolean")
		{
			if(strtolower($cvalue) == "yes") $cvalue = "true";
			else if(strtolower($cvalue) == "no") $cvalue = "false";
			else $cvalue = intval($cvalue);
		}
		else if($type == "positiveInteger")
		{
			if(intval($cvalue) < 0)
				$cvalue = ""; // blank and we'll omit it
			else 
				$cvalue = intval($cvalue); // make sure its just an integer
		}
		else if($type == "nonNegativeInteger")
		{
			if(intval($cvalue) < 0)
				$cvalue = "";
			else 
				$cvalue = intval($cvalue);
		}
		else if($type == "string")
		{
			// no nothing...... its a string
		}
		else if($type == "decimal")
		{
			$cvalue = number_format($cvalue, 2);
		}
		else if($type == "dateTime")
		{
			$cvalue = date("Y-m-d", strtotime($cvalue))."T".date("H:i:m:s", strtotime($cvalue));
		}

		return $cvalue;	
	}
	
	function getProductData($pid, $campid)
	{
		$DEBUG = 0;
		
		$templateid = 0;
		$dataelements = 0;
		$productData = array();
		$cattree = $this->efc->getCatTree($pid);
		
		$filename = "";
		$productType = "";
		
		for($xx = 0; $xx < count($cattree['catid']); $xx++)
		{
			$query = "select id from static_specs_templates where cat = '".$cattree['catid'][$xx]."'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok))
			{
				list($templateid) = mysql_fetch_array($qok);
				break;
			}
		}

		for($xx = 0; $xx < count($cattree['catid']); $xx++)
		{
			$query = "select override_rid, tlid from amazon_tlid_map_secondary where catid = '".$cattree['catid'][$xx]."'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok))
			{
				list($override_rid, $tlid) = mysql_fetch_array($qok);
				break;
			}
		}
		
		if($DEBUG == 1) echo "TEMPLATEID: $templateid OVERRIDE_RID: $override_rid TLID: $tlid<BR>";
		
		//echo "TemplateID: $templateid\n";
		
		if( (intval(@$templateid) > 0) || ((intval(@$override_rid) > 0) && (intval(@$tlid) > 0)) )
		{
			if(intval($tlid) > 0)
			{}
			else 
			{
				$query = "select tlid from amazon_tlid_map where tid = '$templateid'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($tlid) = mysql_fetch_array($qok);	
			}
		
			if($DEBUG == 1) echo "TLID: $tlid<BR>";
		
			//$productData .= "<ProductData>\n";
			
			$query = "select filename, name from xsd_toplevel where id = '$tlid'";
			if(!$qok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($filename, $productType) = mysql_fetch_array($qok);
			
			$filename = str_replace(".xsd", "", $filename);
			
			//$productData .= "<$filename>\n";
			//$productData .= "<ProductType>\n";
			//$productData .= "<$productType>\n"; // i.e. consumerelectronics / digitalcamera
			
			if($DEBUG == 1) echo "FILENAME: $filename<BR>\n";
			
			if($tlid == "75")
				$query = "select tlname, id, name, type, min, max from xsd_keys where tlid = '$tlid' OR tlname = 'CE' order by id";
			else 
				$query = "select tlname, id, name, type, min, max from xsd_keys where tlid = '$tlid' OR tlname = '$filename' order by id";
			
			if($DEBUG == 1) echo "$query<BR>";
			//$query = "select id, name, type, min, max from xsd_keys where tlid = '$tlid'";
			if(!$qok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($tlname, $amzkid, $xk_name, $xk_type, $xk_min, $xk_max) = mysql_fetch_array($qok))
			{
				$query = "select sscid from amazon_ca_ss_map where amzkid = '$amzkid'";
				if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($q4ok) > 0) // then this column is mapped
				{
					list($sscid) = mysql_fetch_array($q4ok);
					
					if($DEBUG == 1) echo "<HR NOSHADE>\n";
					if($DEBUG == 1) echo "$tlname $amzkid, $xk_name, $xk_type, $xk_min, $xk_max<BR>\n";
					if($DEBUG == 1) echo "... SSCID: $sscid<BR>\n";
					
					$query = "select dvalue from product_static_specs where id = '$pid' and tid = '$templateid' and sscid = '$sscid'";
					if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($q4ok) > 0)
					{
						list($cvalue) = mysql_fetch_array($q4ok);
						
						if($DEBUG == 1) echo "CVALUE: $cvalue ($xk_type)<BR>";
						
						if(substr($xk_type, 0, 4) == "xsd:")
						{
							list(,$type) = explode(":", $xk_type);
							
							$cvalue = $this->xsdConversion($type, $cvalue);							
							
							if($cvalue != "")
							{
								$dataelements++;
								$productData["$tlname"][] = "<$xk_name>$cvalue</$xk_name>\n";
							}
							
							if($DEBUG == 1) echo "... CVALUE: $cvalue<BR>";
						}
						else if($xk_type == "")  // then its a enumeration
						{
							$match = false;
							$query = "select name from xsd_values where kid = '$amzkid'";
							if($DEBUG == 1) echo "=> $query<BR>\n";
							if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($xk_enum) = mysql_fetch_array($q4ok))
							{
								if($DEBUG == 1) echo "... ENUM: $xk_enum => $cvalue ($xk_name)<BR>";
								
								if($xk_name == "ExternalMemoryType") // be nice and give some translations
								{
									if(strtolower($cvalue) == "cf") $cvalue = "compact-flash";
									else if(strtolower($cvalue) == "sm") $cvalue = "smart-media";
									else if(strtolower($cvalue) == "sd") $cvalue = "secure-digital";
									else if(strtolower($cvalue) == "xd") $cvalue = "xd-picture-card";
									else if(strtolower($cvalue) == "ms") $cvalue = "memory-stick";
									else if(strtolower($cvalue) == "md") $cvalue = "micro-drive";
									
									if($DEBUG == 1) echo "... $xk_name translated => $cvalue<BR>";
								}
								
								$cleanenum = strtolower(str_replace("-", "", $xk_enum));
								$cleancval = strtolower(str_replace(" ", "", $cvalue));
								$cleancval = strtolower(str_replace("-", "", $cleancval));
								
								if($DEBUG == 1) echo "... CLEANENUM: $cleanenum CLEANCVAL: $cleancval<BR>";
								
								if($cleanenum == $cleancval)
								{
									if($DEBUG == 1) echo "... !!! MATCH a: $xk_enum !!!<BR>";
									$cvalue = $xk_enum;
									break;
								}
								
								$cleanenum = strtolower(substr($xk_enum, 0, 4));
								$cleancval = strtolower(substr($cvaluem, 0, 4));
								
								if($DEBUG == 1) echo "... CLEANENUM (test2): $cleanenum CLEANCVAL: $cleancval<BR>";
								if($cleanenum == $cleancval)
								{
									$match = true;
									if($DEBUG == 1) echo "... !!! MATCH b: $xk_enum !!!<BR>";
									$cvalue = $xk_enum;
									break;
								}
							}
							
							if($match == true)
							{
								$dataelements++;
								$productData["$tlname"][] = "<$xk_name>$cvalue</$xk_name>\n";
							}
						}
						else
						{
							$totaldigits = $fractionaldigits = 0;
							
							if($DEBUG == 1) echo "SSCID: $sscid<BR>";
							if($DEBUG == 1) echo "AMZKID: $amzkid XK_NAME: $xk_name XK_TYPE: $xk_type XK_MIN: $xk_min XK_MAX: $xk_max<BR>";
							if($DEBUG == 1) echo "... SPECIAL AMAZON TYPE: $xk_type CVALUE: $cvalue<BR>";

							$query = "select dtype from static_specs_columns where id = '$sscid'";
							if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($dtype) = mysql_fetch_array($q4ok);
							
							if($DEBUG == 1) echo "... DATATYPE: $dtype<BR>";
							
							$query = "select attrbase, attrattr, attrtype, attruse from complexTypes where attrname = '$xk_type'";
							if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($q4ok) > 0)
								list($attrbase, $attrattr, $attrtype, $attruse) = mysql_fetch_array($q4ok);
							else 
								$attrbase = $xk_type;
							
							if($DEBUG == 1) echo "...NEW ATTRBASE: $attrbase ATTRTYPE: $attrtype ATTRATTR: $attrattr<BR>";
							
							if($attrtype != "") // eg. ZoomUnitOfMeasure, LengthUnitOfMeasure, PixelUnitOfMeasure 
							{
								$query = "select id, attrname, base, pattern, minlen, maxlen, totaldigits, fractionaldigits from simpleTypes where attrname = '$attrtype'";
								if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($st_id, $st_attrname, $st_base, $st_pattern, $st_minlen, $st_maxlen, $st_totaldigits, $st_fractionaldigits) = mysql_fetch_array($q4ok);

								if( (substr($attrbase, 0, 4) != "xsd:") && ($attrbase != "StringNotNull") )
								{
									$query = "select base, totaldigits, fractionaldigits from simpleTypes where attrname = '$attrbase'";
									if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									if(mysql_num_rows($q4ok) > 0)
										list($attrbase, $totaldigits, $fractionaldigits) = mysql_fetch_array($q4ok);
								}
								
								/////////////////////////////////////////////////////////////////////////////////////////
								// let's try and extract the units from the 
								$xvalue = $cvalue;
								
								if($dtype == "")
								{// no datatype was defined for the static specs column..... so, let's try and extract it from what was entered

									$units = $cvalue;
									$units = str_replace(" ", "", preg_replace("/[0-9.]/","", $units));
									$cvalue = str_replace(" ", "", preg_replace("/[a-zA-Z]/","", $cvalue));							
								}

								$identifier = "";
								
								if($attrtype != "")
								{
									$query = "select data from simpleTypes_extended where stid = '$st_id'";
									if(!$q4ok = mysql_db_query("amazon", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($data) = mysql_fetch_array($q4ok))
									{
										if($DEBUG == 1) echo "... ENUM: $data<BR>";
										
										if(strtolower($data) == strtolower($units))
										{
											$identifier = $data;
											if($DEBUG == 1) echo "... !!! MATCH: $data!!!<BR>";
											break;
										}
										
										if( (strlen($data) < strlen($units) ) && ( strtolower(substr($units, 0, strlen($data))) == strtolower($data) ) ) 
										{
											$identifier = $data;
											if($DEBUG == 1) echo "... !!! MATCH2: $data!!!<BR>";
											break;
										}
									}
								}
								
								if($attrbase == "StringNotNull")
								{
									$dataelements++;
									$productData["$tlname"][] = "<$xk_name>$xvalue</$xk_name>\n";
								}
								else 
								{
									if(substr($attrbase, 0, 4) == "xsd:")
									{
										list(,$type) = explode(":", $attrbase);
										$cvalue = $this->xsdConversion($type, $cvalue);		
									}
									
									$dataelements++;
									$productData["$tlname"][] = "<$xk_name $attrattr=\"$identifier\">$cvalue</$xk_name>\n";
								}
									
								//echo "... XK_NAME: $xk_name FINAL ATTRBASE: $attrbase (TD: $totaldigits, FD: $fractionaldigits) (UNITS: $units)<BR>";

							}
							else if($attrbase == "StringNotNull")
							{
								if($cvalue != "")
								{
									$dataelements++;
									$productData["$tlname"][] = "<$xk_name>$cvalue</$xk_name>\n";
								}
							}
						}
					}
				}
				else // the column is not mapped.....  if its required.. we should put it in anyway 
				{
					//echo "... column is not mapped<BR>";
					if(intval($xk_min) > 0)
					{
						$dataelements++;
						$productData["$tlname"][] = "<$xk_name></$xk_name>\n";
					}
				}
			}
		}
		else 
		{
			//echo "PID: $pid Excluded - No TemplateID\n";
			
			/*$query = "select id from amazon_ca_errors where pid = '$pid' and message = 'SKU Excluded - no templateID'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) <= 0)
			{
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "insert into amazon_ca_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', 'SKU Excluded - no templateID', '$campid')";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}*/
		}
		//$productData .= "<$filename>\n";
		//$productData .= "<ProductType>\n";
		//$productData .= "<$productType>\n";			
			
		//$productData .= "</$productType>\n";
		//$productData .= "</ProductType>\n";
		//$productData .= "</$filename>\n";
		//$productData .= "</ProductData>\n";
			
		if($DEBUG == 1) 
		{
			echo "<pre>\n";
			print_r($productData);
			echo "</pre>\n";
		}
		
		$pdata = "";
		$pdata .= "<ProductData>\n";
		$pdata .= "<$filename>\n";
		$pdata .= "<ProductType>\n";
		$pdata .= "<$productType>\n";	
		
		for($xx = 0; $xx < count(@$productData["$productType"]); $xx++)
			$pdata .= $productData["$productType"][$xx];

		$pdata .= "</$productType>\n";
		$pdata .= "</ProductType>\n";
		
		for($xx = 0; $xx < count(@$productData["$filename"]); $xx++)
			$pdata .= $productData["$filename"][$xx];

		if($filename == "Home")
			$pdata .= "<Parentage>base-product</Parentage>";
						
		$pdata .= "</$filename>\n";
		
		$pdata .= "</ProductData>\n";
		
		//echo "PDATA\n\n$pdata\n";
		//exit;
	
		if( ($filename == "") || ($productType == "") )
		{
			return "SEND_BLANK";
			/*echo "PID: $pid Excluded\n";
			
			$query = "select id from amazon_ca_errors where pid = '$pid' and 
							message = 'SKU Excluded - Product Data is Blank - Either Create Static Spec Template or add Secondary Classification in From Category Manager'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) <= 0)
			{
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "insert into amazon_ca_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', 'SKU Excluded - Product Data is Blank - Either Create Static Spec Template or add Secondary Classification in From Category Manager', '$campid')";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}*/
			
		}
		else if(($filename == "CE") && ($productType == "PC"))
		{
			if(!stristr($pdata, "HardDriveSize") ||
				!stristr($pdata, "HardDriveInterface") ||
				!stristr($pdata, "ComputerMemoryType") ||
				!stristr($pdata, "RAMSize") ||
				!stristr($pdata, "ProcessorBrand") ||
				!stristr($pdata, "ProcessorSpeed") ||
				!stristr($pdata, "ProcessorType") ||
				!stristr($pdata, "ProcessorCount") ||
				!stristr($pdata, "OperatingSystem") ||
				!stristr($pdata, "HardwarePlatform"))
				{
					return "SEND_BLANK";
				}
				else 
					return $pdata;
		}
		else 
			return $pdata;
	}
	
	function AddProduct($pid, $campid, $useasin = "")
	{
		$condition_addon = "";
		$data = "";
		$msrp = "";
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart, product_list.asin, product_list.use_asin, product_list.am_condition
					from product_list, product_manufacturers
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart, $asin, $use_asin, $am_condition) = mysql_fetch_array($q2ok);
		
		if(trim($am_condition) != '')
		{
			$condition = $am_condition;
		}
		else 
		{
			if(intval($refurb) == 1)
				$condition = "Refurbished";
			else 
				$condition = "New";
		}
			
		//$sdescr = $this->cleanse( $this->efc->getSalesDescr($pid) );
		
		
		//BulletPoints
		$numbullet = 0;
		
		$bulletpoints = "";
		$query = "select feature from product_features where feature != '' and id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($feature) = mysql_fetch_array($q2ok))
		{
			$numbullet++;
			
			if($numbullet < 6)
			{
				$feature = htmlentities( $this->cleanVar($feature) );
				$bulletpoints .= "<BulletPoint>$feature</BulletPoint>";
			}
		}
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$search_terms = "";
		$query = "select kw1, kw2, kw3, kw4, kw5 from product_keywords where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($kw1, $kw2, $kw3, $kw4, $kw5) = mysql_fetch_array($q2ok);
		
		{
			
			$kw1 = htmlentities( $this->cleanVar(trim($kw1)) );
			$kw2 = htmlentities( $this->cleanVar(trim($kw2)) );
			$kw3 = htmlentities( $this->cleanVar(trim($kw3)) );
			$kw4 = htmlentities( $this->cleanVar(trim($kw4)) );
			$kw5 = htmlentities( $this->cleanVar(trim($kw5)) );
			
			if($kw1 != "") $search_terms .= "<SearchTerms>$kw1</SearchTerms>";
			if($kw2 != "") $search_terms .= "<SearchTerms>$kw2</SearchTerms>";
			if($kw3 != "") $search_terms .= "<SearchTerms>$kw3</SearchTerms>";
			if($kw4 != "") $search_terms .= "<SearchTerms>$kw4</SearchTerms>";
			if($kw5 != "") $search_terms .= "<SearchTerms>$kw5</SearchTerms>";

		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$query = "select price_msrp from product_prices where id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($price_msrp) = mysql_fetch_array($q2ok);
		
		if(floatval($price_msrp) > 0.00) $msrp = "<MSRP currency=\"USD\">$price_msrp</MSRP>";
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "select config_value from configuration where config_group = 'AmazonCanada' and config_key = 'CONDITION_NOTE'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($cfid) = mysql_fetch_array($q2ok);
		
		echo "CFID: $cfid\n";
		
		if(intval($cfid) > 0)
		{
			$query = "select text_short from custom_values where pid = '$pid' and cfid = '$cfid'";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($condition_note) = mysql_fetch_array($q2ok);
			
			if($condition_note != "")
			{
				$condition_addon = "<ConditionNote>$condition_note</ConditionNote>";
				
				echo "$condition_addon\n";
			}
		}
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$productData = $this->getProductData($pid, $campid);
		
		$descr   = htmlentities( $this->cleanse($descr) );
		$manname = htmlentities( $this->cleanse($manname) );
		$manpart = htmlentities( $this->cleanse($manpart) );
		
		$sdescr = $descr; // default to the title
		
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		/*
		s0ck: OMG
		s0ck: kits always pull the product_html
		s0ck: non-kits use that config value
		s0ck: want me to change it?
		alancohen24: yah, make all skus use that config
		alancohen24: if checked
		alancohen24: but why aint the errors logging
		*/
		
		$cfid = $this->efc->getConfigValue("AmazonCanada", "SalesDescr_CFID");
		if(intval($cfid) > 0) // if they've defined the custom field
		{
			$query = "select text_short from custom_values where cfid = '$cfid' and pid = '$pid'";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($senddescr) = mysql_fetch_array($q2ok);
			
			if(intval($senddescr) > 0) // the custom field is checked
			{
				$query = "select data from product_descr where id = '$pid'";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($sdescr) = mysql_fetch_array($q2ok);
				$sdescr = $this->cleanse($sdescr);
				$sdescr = htmlentities($sdescr);
			}
//			else if($iskit)
//			{
//				$query = "select data from product_html where id = '$pid'";
//				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//				list($sdescr) = mysql_fetch_array($q2ok);
//				$sdescr = $this->cleanse($sdescr);
//				$sdescr = htmlentities($sdescr);
//			}
		}
		
		if($shipweight == "0.00")
			$shipweight = "1.00";
		
			
		if($productData == "") // as a business rule..... productdata must be provided
		{
			return "";
		}
		else
		{
			if($productData == "SEND_BLANK")
				$productData = "";
			
					
			if( (intval($use_asin) > 0) && ($asin != "") )
			{
				echo "... use_asin > 0 && asin != ''\n";
				
				$identifier = "<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>";
				$numlistings = 1; // there's only 1 ASIN
			}
			else if($useasin != "") // it was sent in the function call....... I used this for fixing butterfly 9/14/2010
			{
				echo "HEY-YO!  Using ASIN from amazon_ca_base_messages\n";
				
				$identifier = "<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>";
				$numlistings = 1; // there's only 1 ASIN
			}
			else 
			{
				$numlistings = $this->countListings4UPC($upccode, $pid, $manname, $manpart, $descr, $campid);
				
				if($numlistings == 1)
				{
					if($this->asin == "")
						$identifier = "<StandardProductID><Type>UPC</Type><Value>".$upccode."</Value></StandardProductID>";
					else 
						$identifier = "<StandardProductID><Type>ASIN</Type><Value>".$this->asin."</Value></StandardProductID>";
				}
			}
			
			// override for Eli....
			$uniquesku_cfid = $this->efc->getConfigValue("AmazonCanada", "UniqueSKU_CFID");
			if( intval($uniquesku_cfid) > 0 )
			{
				$query = "select text_short from custom_values where pid = '$pid' and cfid = '$uniquesku_cfid'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($text_short) = mysql_fetch_array($qok);
				
				if(intval($text_short) == 1)
				{
					$identifier = "<StandardProductID><Type>UPC</Type><Value>".$upccode."</Value></StandardProductID>";
				}
				
			}
				
			if(intval($numlistings) > 1)
			{
				echo "Multiple Matches\n";
			}
			else 
			{
				//if(strlen($descr) > 40)
				//	$descr = substr($descr, 0, 40);
					
				/*$newpid = $this->translatePID($pid);
				
				if(intval($newpid) > 0)
				{
					$pid = $newpid;
				}*/
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				if($this->db == "sndkids")
				{
					$query = "select text_short from custom_values where pid = '$pid' and cfid = '37'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($taxcode) = mysql_fetch_array($qok);					
				}
				
				if(trim($taxcode) == "")
					$taxcode = "A_GEN_TAX";
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$query = "select count(*) from amazon_ca_base_messages where pid = '$pid' and asin != ''";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($alreadylisted) = mysql_fetch_array($qok);
				
				if($alreadylisted > 0)
					$updatetype = "PartialUpdate";
				else
					$updatetype = "Update";					
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$item_type_cfid = $this->efc->getConfigValue("AmazonCanada", "ItemType");
				$item_type_text = "";
				if(intval($item_type_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$item_type_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($item_type) = mysql_fetch_array($qok);
					
					$item_type = trim($item_type);
					
					if($item_type != "")
						$item_type_text = "<ItemType>$item_type</ItemType>";
				}
				else
				{
					$classification = $this->getClassification($pid);
					
					$dynamic_tags = "";
					
					if($classification != "")
					{
						if(strstr($classification, " OR ") || strstr($classification, " AND "))
						{
							// do something about it				
						}
						else 
						{
							list($tag, $class) = explode(":", $classification);
							$dynamic_tags = "<$tag>$class</$tag>";
						}
					}					
				}
				//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				$maxorder_cfid = $this->efc->getConfigValue("AmazonCanada", "MaxOrderQty");
				$maxorder_text = "";
				if(intval($maxorder_cfid) > 0)
				{
					$query = "select text_short from custom_values where cfid = '$maxorder_cfid' and pid = '$pid'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($maxorder) = mysql_fetch_array($qok);
					
					$maxorder = trim($maxorder);
					
					if($maxorder != "")
						$maxorder_text = "<MaxOrderQuantity>$maxorder</MaxOrderQuantity>";
				}
				
				
				$data .= "
				<Message>
					<MessageID>#mid#</MessageID>
						<OperationType>$updatetype</OperationType>
						<Product>
						<SKU>$pid</SKU>
						$identifier
						<ProductTaxCode>$taxcode</ProductTaxCode>
						<LaunchDate>2010-01-01T00:00:00</LaunchDate>
						<Condition>
							<ConditionType>$condition</ConditionType>
							$condition_addon
						</Condition>
						<DescriptionData>
							<Title>$descr</Title>
							<Brand>$manname</Brand>
							<Description>$sdescr</Description>
							$bulletpoints
							<ShippingWeight unitOfMeasure=\"LB\">$shipweight</ShippingWeight>
							$msrp
							$maxorder_text
							<Manufacturer>$manname</Manufacturer>
							<MfrPartNumber>$manpart</MfrPartNumber>
							$search_terms
							$item_type_text
							$dynamic_tags
						</DescriptionData>
						$productData
						</Product>
				</Message>
				";
			}
		}
				
		return $data;
	}
	
	function translatePID($pid)
	{
		$query = "select pid from fba_sku_map where fba_sku = '$pid'";	
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($pid) = mysql_fetch_array($qok);
			return $pid;
		}
		
		// no translation table.....
		$query = "select id from product_list where id = '$pid'";	
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($pid) = mysql_fetch_array($qok);
			return $pid;
		}
		
		return 0;
	}

	function RemoveProduct($pid, $asin)
	{
		if($asin == "")
			return;
			
		/*$condition_addon = "";
		$data = "";
		$query = "select product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
					product_list.refurb, product_list.shipweight, product_list.kit, product_list.manpart
					from product_list, product_manufacturers, list_products
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.id = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $descr, $sku, $upccode, $modelno, $refurb, $shipweight, $iskit, $manpart) = mysql_fetch_array($q2ok);
		
		if(intval($refurb) == 1)
			$condition = "Refurbished";
		else 
			$condition = "New";
		
		$sdescr = $descr;
		
		if(floatval($shipweight) <= 0.00)
			$shipweight =  "1.00";	
		
		$data = "
			<Message>
				<MessageID>#mid#</MessageID>
					<OperationType>Delete</OperationType>
					<Product>
					<SKU>$pid</SKU>
					<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>
					<ProductTaxCode>A_GEN_TAX</ProductTaxCode>
					<LaunchDate>2010-01-01T00:00:00</LaunchDate>
					<Condition>
						<ConditionType>$condition</ConditionType>
						$condition_addon
					</Condition>
					<DescriptionData>
						<Title>$descr</Title>
						<Brand>$manname</Brand>
						<Description>$sdescr</Description>
						<ShippingWeight unitOfMeasure=\"LB\">$shipweight</ShippingWeight>
						<Manufacturer>$manname</Manufacturer>
						<MfrPartNumber>$manpart</MfrPartNumber>
					</DescriptionData>
					</Product>
			</Message>
			";	*/
		
		$data = "
			<Message>
				<MessageID>#mid#</MessageID>
					<OperationType>Delete</OperationType>
					<Product>
					<SKU>$pid</SKU>
					<StandardProductID><Type>ASIN</Type><Value>$asin</Value></StandardProductID>
					</Product>
			</Message>
			";	
		
		return $data;	
	}
	
	function countListings4UPC($upccode, $pid, $mybrand, $mymanpart, $mydescr, $campid)
	{
		$modifiedUPC = false;
		
		$query = "select did from amazon_ca_duplicates where pid = '$pid'";
		if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			echo "already a duplicate\n";
			return 10;	
		}
		
		if($upccode == "")
		{
			$modifiedUPC = true; // so we don't enter it as a duplicate later
			echo "UPC Blank.... using '$mybrand $mymanpart'\n";
			$upccode = "$mybrand $mymanpart";
		}
		
		echo "Searching ==> $upccode\n";
		
		ob_start();
			$public_key = $this->efc->getConfigValue("AmazonCanada", "PUBLIC_KEY");
			$private_key = $this->efc->getConfigValue("AmazonCanada", "PRIVATE_KEY");
			
			$asinURL = $this->aws_signed_request("com", array("Operation"=>"ItemSearch","Keywords"=>"$upccode","SearchIndex"=>"Blended","ResponseGroup"=>"Large"), $public_key, $private_key);
			
			$buffer = $this->efc->loadPage($asinURL, "http://www.amazon.com");
			$xmldata = $this->xml2array($buffer);
		ob_get_clean();
		
		
		$totalresults = $xmldata['ItemSearchResponse']['Items']['TotalResults']['value'];
		$totalpages = $xmldata['ItemSearchResponse']['Items']['TotalPages']['value'];
		
		$itemlist = $xmldata['ItemSearchResponse']['Items']['Item'];
		
		if(@$itemlist[0]['ASIN']['value'] == "")
		{
			$asin = @$itemlist['ASIN']['value'];
			$salesrank = @$itemlist['SalesRank']['value'];
			$imageURL = @$itemlist['SmallImage']['URL']['value'];
			$brand = @$itemlist['ItemAttributes']['Brand']['value'];
			$ean = @$itemlist['ItemAttributes']['EAN']['value'];
			$title = @$itemlist['ItemAttributes']['Title']['value'];
			$upc = @$itemlist['ItemAttributes']['UPC']['value'];
			$featurelist = @$itemlist['ItemAttributes']['Feature'];
			$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
			$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
			$manpart = $itemlist['ItemAttributes']['MPN']['value'];
			
			if($asin == "")
			{
				echo "... single match but, blank ASIN from Amazon (aborting)\n";
				$this->asin = "";
				if(strtoupper($this->efc->getConfigValue("AmazonCanada", "LIST_ON_NO_MATCH")) == "NO")
				{
					echo "... LIST_ON_NO_MATCH = NO\n";
					return 100;
				}
				else
				{
					
					echo "... LIST_ON_NO_MATCH = YES\n"; 
					return 1;
				}
			}
			
			echo "Checking Brand: '$brand' versus '$mybrand'\n";
			
			if( strtolower( substr(trim($brand), 0, 3) ) != strtolower( substr(trim($mybrand), 0, 3) ) )
			{
				echo "... Brands do not match...\n";
				
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// log the reason the brand did not match
				$errormsg = "PID Skipped, Brands do not match AMZ: '$brand' OUR: '$mybrand'";
				$query = "select id from amazon_ca_errors where pid = '$pid' and message = '".addslashes($errormsg)."'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) <= 0)
				{
					$tstamp = date("Y-m-d H:i:s", time());
					$query = "insert into amazon_ca_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', '".addslashes($errormsg)."', '$campid')";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
				return 101;
			}
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			$title = trim($title);
			$mydescr = trim($mydescr);
			
			
			$aparts = explode(" ", $title);
			$tparts = explode(" ", $mydescr);
			
			echo "Checking Title: '$title' versus '$mydescr'\n";
			
			$totalparts = count($aparts);
			$matchedparts = 0;
			
			for($xx = 0; $xx < count($tparts); $xx++)
			{
				for($zz = 0; $zz < count($aparts); $zz++)
				{
					if( strtolower($aparts[$zz]) == strtolower($tparts[$xx]) )
					{
						$matchedparts++;
					}
				}
			}

			$matchpercentage = number_format(100 *($matchedparts / $totalparts), 2, ".", "");
			
			echo "... Title match Percentage: $matchpercentage\n";
			
			if(floatval($matchpercentage) < 5.00)
			{
				echo "...... Title match Percentage below 5%.... Let's check the manpart\n";
				
				
				$mymanpart = strtoupper(preg_replace("/[^a-zA-Z0-9s+]/", "", $mymanpart));
				$manpart = strtoupper(preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart));
				if($manpart != "")
				{
					echo "Checking Manpart: '$manpart' versus '$mymanpart'\n";
					
					if($mymanpart != $manpart)
					{
						echo "... Title match percentage below 5%, let's check manparts => '$manpart' versus '$mymanpart'\n";
						
						/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						// log the reason the brand did not match
						$errormsg = "PID Skipped, title match < 5%, Manufacturer Parts do not match AMZ: '$manpart' OUR: '$mymanpart' [$asin]";
						$query = "select id from amazon_ca_errors where pid = '$pid' and message = '".addslashes($errormsg)."'";
						if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) <= 0)
						{
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazon_ca_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', '".addslashes($errormsg)."', '$campid')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
						/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						
						return 102;
					}
				}
				else 
				{
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// log the reason the brand did not match
					$errormsg = "PID Skipped, Title match Percentage below 5%: AMZ: '$title' OUR: '$mydescr' ";
					$query = "select id from amazon_ca_errors where pid = '$pid' and message = '".addslashes($errormsg)."'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) <= 0)
					{
						$tstamp = date("Y-m-d H:i:s", time());
						$query = "insert into amazon_ca_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', '".addslashes($errormsg)."', '$campid')";
						if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					}
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				}
				
				
				return 103;
			}
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			if(floatval($lowestnewprice) > 0.00)
			{
				$price_level = $this->efc->getConfigValue("AmazonCanada", "PRICE_LEVEL");
				$below_price_differential = $this->efc->getConfigValue("AmazonCanada", "LOWPRICE_DIFFERENTIAL");
				
				if(intval($below_price_differential) == 0)
					$below_price_differential = 5; // 5% default

				$query = "select price_level$price_level from product_prices where id = '$pid'";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($price) = mysql_fetch_array($q2ok);

				if($price < $lowestnewprice)
				{
					echo "Checking Price Differential:  Lowest Price: $lowestnewprice  Our Price: $price\n";
				
					$diff = abs($price - $lowestnewprice);
					$differential = number_format(100 * floatval($diff / $price), 2, ".", "");
					
					if($differential >= $below_price_differential)
					{
						echo "... Low Price Differential Failed: Differential of $differential% below threshold of $below_price_differential%\n";
						
						/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						// log the reason the brand did not match
						$errormsg = "PID Skipped, Low Price Differential of $below_price_differential% Failed: AMZ: '$lowestnewprice' OUR: '$mydescr' [Config->Amazon->LOWPRICE_DIFFERENTIAL]";
						$query = "select id from amazon_ca_errors where pid = '$pid' and message = '".addslashes($errormsg)."'";
						if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) <= 0)
						{
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazon_ca_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', '".addslashes($errormsg)."', '$campid')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
						/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						
						return 104;
					}
					
				}
				else 
				{
					echo "Price is above lowest (skipping differential check: Lowest Price: $lowestnewprice  Our Price: $price\n";
				}
				
			}
			else 
			{
				echo "No Price Data\n";
			}
			
			$this->asin = $asin;
			
			return 1;
		}
		else 
		{
			echo "... multiple matches from amazon\n";
			
			if($modifiedUPC == true)
			{
				echo "Modified UPC.... not logging duplicates\n";
				
				return count($itemlist);
			}
			
			echo "... adding into amazon_ca_duplicates\n";
			
			$query = "insert into amazon_ca_duplicates(pid) values('$pid')";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$did = mysql_insert_id();
			
			for($xx = 0; $xx < count($itemlist); $xx++)
			{
				$features = "";
				
				$asin = @$itemlist[$xx]['ASIN']['value'];
				$salesrank = @$itemlist[$xx]['SalesRank']['value'];
				$imageURL = @$itemlist[$xx]['SmallImage']['URL']['value'];
				$brand = @$itemlist[$xx]['ItemAttributes']['Brand']['value'];
				$ean = @$itemlist[$xx]['ItemAttributes']['EAN']['value'];
				$title = addslashes(@$itemlist[$xx]['ItemAttributes']['Title']['value']);
				$upc = @$itemlist[$xx]['ItemAttributes']['UPC']['value'];
				$featurelist = @$itemlist[$xx]['ItemAttributes']['Feature'];
				
				$lowestnewprice = @$itemlist[$xx]['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
				$totalnew = @$itemlist[$xx]['OfferSummary']['TotalNew']['value'];
				
				$features = "";
				for($pp = 0; $pp < count($featurelist); $pp++)
				{
					if(@$featurelist[$pp]['value'] != "")
					{
						$features .= "<LI>".addslashes($featurelist[$pp]['value'])."</LI>";
					}
				}
				
				echo "... adding to amazon_ca_duplicates_extended ($asin)\n";
				
				$query = "insert into amazon_ca_duplicates_extended(did, asin, salesrank, imageurl, brand, upc, features, lowestprice, numsellers, title) ";
				$query .= " values('$did', '$asin', '$salesrank', '$imageURL', '".addslashes($brand)."', '$upc', '".addslashes($features)."', '$lowestnewprice', '$totalnew', '$title')";
				if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			}
			
			return count($itemlist);
		}
	}
}
?>