<?
ini_set('display_errors',1);
error_reporting(E_ALL);

$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonca/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
$amClass->efc = $efc;
/********************************************************************************************/
/*$query = "insert into amazon_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
$query .= " values('PRICE', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
*/	

$whatever = $amClass->AddProduct($pid, $campid);

echo "<pre>";
echo $whatever."<BR>";
echo "</pre>";

?>
<?mysql_close();?>