<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Amazon Unshipped Orders</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>


<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE($ROOT_DIR."/mgt/amazonca/e2win_menu.phtml");?>
		
		<div style="padding-left:5px;padding-top:10px">
		<span style="font-size:20px;font-weight:bold;color:red;line-height:20px">Canada</span><BR><BR>
		<B>Amazon Unshipped Orders</B>
		<BR><BR>
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
	
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Assigned To:</B></font></td>
			<td>
				<select name="assignedto" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select id, displayname from users order by displayname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($uid, $displayname) = mysql_fetch_array($qok))
				{
					?>
					<option value="<?=$uid;?>" <?if($assignedto == $uid) echo "SELECTED";?>><?=$displayname;?></option>
					<?
				}
				?>
				</select>
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Status:</B></font></td>
			<td>
				<select name="status" class="formSelect">
					<option value="">--- SELECT ---</option>
					<?
					$query = "select step, status from company_orderflow order by status";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($step, $xstatus) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$step;?>" <?if($status == $step) echo "SELECTED";?>><?=$xstatus;?></option>
						<?
					}
					?>
				</select>				
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><div style="padding-top:3px"><B>Days Late ></B></font></td>
			<td>
				<input type="text" name="dayslate" value="<?=$dayslate;?>" style="width:25px" class="formBox">		
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="submit" name="Action" value="Filter" class="buttonItem"></td>
			
		</tr>
		</table>
		</div>		
				
		<BR><BR>
		<table id="results">
		<tr bgcolor="#eeeeee">
			<td height=21><B>Invoiceid</B></td>
			<td><B>Paid Date</B></td>
			<td><B>Days Late</B></td>
	
			<td><B>Order ID</B></td>
			<td><B>Status</B></td>
			<td><B>Assigned To</B></td>
			
		</tr>
		<?
		if(intval($assignedto) > 0 || intval($status) > 0)
		{
			if(intval($assignedto) > 0)
				$addon .= " AND customer_orders.arepid = '$assignedto' ";
			
			if(intval($status) > 0)
				$addon .= " AND customer_orders.status = '$status' ";
				
			if(intval($dayslate) > 0)
				$addon .= " AND amazon_ca_unshipped_orders.dayslate >= '$dayslate'";
				
			$query = "select amazon_ca_unshipped_orders.invoiceid, amazon_ca_unshipped_orders.paydate, amazon_ca_unshipped_orders.dayslate, 
							customer_orders.orderid, company_orderflow.status, customer_orders.arepid 
							from
							customer_orders, company_orderflow, amazon_ca_unshipped_orders 
							where
							amazon_ca_unshipped_orders.invoiceid = customer_orders.invoiceid AND
							customer_orders.status = company_orderflow.step $addon";
			
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			while(list($invoiceid, $paydate, $dayslate, $orderid, $status, $arepid) = mysql_fetch_array($qok))
			{
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" >
					<td height=21><?=$invoiceid;?></td>
					<td height=21><?=date("m/d/Y H:i:s", strtotime($paydate));?></td>
					<td height=21 align=center><?=$dayslate;?></td>
	
					<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?on=<?=$orderid;?>&inwin=1', 'View Order: <?=$pid;?>');"><?=$orderid;?></a></td>
					<td height=21><?=$status;?></td>
					<td height=21><?=$efc->getRepName($arepid);?></td>
					
				<?
			}
		}
		else 
		{
			if(intval($dayslate) > 0)
				$addon .= " WHERE dayslate >= '$dayslate'";
				
			$query = "select invoiceid, paydate, dayslate from amazon_ca_unshipped_orders $addon order by dayslate asc";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($invoiceid, $paydate, $dayslate) = mysql_fetch_array($qok))
			{
				
				$query = "select customer_orders.orderid, company_orderflow.status, customer_orders.arepid from
							customer_orders, company_orderflow, users 
							where
							customer_orders.status = company_orderflow.step AND
							customer_orders.invoiceid = '$invoiceid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($orderid, $status, $arepid) = mysql_fetch_array($q2ok);
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" >
					<td height=21><?=$invoiceid;?></td>
					<td height=21><?=date("m/d/Y H:i:s", strtotime($paydate));?></td>
					<td height=21 align=center><?=$dayslate;?></td>
	
					<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?on=<?=$orderid;?>&inwin=1', 'View Order: <?=$invoiceid;?>');"><?=$orderid;?></a></td>
					<td height=21><?=$status;?></td>
					<td height=21><?=$efc->getRepName($arepid);?></td>
					
				<?
			}
		}
		?>
		</table>
		<BR><BR>
		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

	
</body>
</html>
<?mysql_close();?>