<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($Action == "MarkSimilarResolved")
{
	$query = "delete from amazon_ca_errors where message = '".addslashes($msg)."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/amazonca/view_errors.phtml?campid=$campid");
}


?>
<HTML>
<HEAD>
<TITLE>Amazon Error Log</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}

function markResolved(id)
{
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazonca/ajax_markresolved_error.phtml?errorid="+id+"&sid="+Math.random();
	xmlHttp.onreadystatechange=resolvedResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function resolvedResult()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		document.getElementById("resolved"+data[0]).innerHTML = data[1];
	}
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<span style="font-size:20px;font-weight:bold;color:red;line-height:20px">Canada</span><BR><BR>
		<B>Amazon Error Log</B>
		<BR><BR>
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
	
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>PID:</B></font></td>
			<td>
				<input type="text" name="fpid" value="<?=$fpid;?>" style="width:100px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Keywords:</B></font></td>
			<td>
				<input type="text" name="fkeywords" value="<?=$fkeywords;?>" style="width:175px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="submit" name="Action" value="Filter" class="buttonItem"></td>
			
		</tr>
		</table>
		</div>		
		<?
		$addon = "";
		
		if(intval($fpid) > 0)
		{
			if($addon == "")
				$addon = " where amazon_ca_errors_other.pid = '$fpid'";
			else 
				$addon .= " AND amazon_ca_errors_other.pid = '$fpid'";
		}

			
		if(strlen($fkeywords) >= 2)
		{
			$wordlist = explode(" ", $fkeywords);
			
			for($xx = 0; $xx < count($wordlist); $xx++)
			{
				$thisword = $wordlist[$xx];
			
				$kwpart = " (message like '%$thisword%') ";
			
				if($addon == "")
					$addon = " where $kwpart";	
				else 
					$addon .= " AND $kwpart ";
			}
		}
		
		$query = "select id, pid, tstamp, message, mid, campid, requestid, type from amazon_ca_errors_other $addon ";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numerrors = $numrows = mysql_num_rows($qok);
		
		if(intval($numerrors) > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$ITEMS_PER_PAGE = 50;
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazonca/view_error_log.phtml?campid=$campid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
			<table width=100%>
			<tr bgcolor="#eeeeee">
				<td height=21 align=center><B>ID</B></td>
				<td height=21 align=center><B>Date/Time</B></td>
				<td height=21 align=center><B>Feed Type</B></td>
				<td height=21 align=center><B>Request ID</B></td>
				<td height=21 align=center><B>PID</B></td>
				<td height=21 align=center><B>Man</B></td>
				<td height=21 align=center><B>Title</B></td>
				<td height=21 align=center><B>Assigned To</B></td>
				<td height=21 align=center><B>Error Message</B></td>
				<td height=21 align=center><B>Mark Resolved</B></td>
			</tr>
			<?
			
			$numout=0;
			while( (list($id, $pid, $tstamp, $message, $mid, $campid, $requestid, $type) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				
				if(intval($pid) > 0)
				{
					$query = "select 
									product_manufacturers.manname, product_list.descr 
									from 
									product_list, product_manufacturers
									where
									product_list.manid = product_manufacturers.manid AND
									product_list.id = '$pid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($manname, $descr) = mysql_fetch_array($q2ok);
					
				}
				else 
				{
					$manname = "n/a";
					$descr = "n/a";
				}
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
					<td height=21><?=$id;?></td>
					<td height=21><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
					<td height=21><?=$type;?></td>
					<td height=21>
						<?
						$query = "select amazon_ca_log.id from amazon_ca_log, amazon_ca_log_extended 
										where
											amazon_ca_log.id = amazon_ca_log_extended.lid AND
											amazon_ca_log.requestid = '$requestid' AND
											amazon_ca_log_extended.type = 'request'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($q2ok) > 0)
						{
							list($logid) = mysql_fetch_array($q2ok);
							?> <a href="/mgt/amazonca/amazon_extended.phtml?lid=<?=$logid;?>"><?=$requestid;?></a> <?
						}
						else 
						{
							echo $requestid;
						}
						?>
					</td>
					<td height=21>
						<?
						if(intval($pid) > 0)
						{
						?>
							<a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></a>
						<?	
						}
						else 
						{
						?>
							n/a
						<?
						}
						?>
					</td>
					<td height=21><?=$manname;?></td>
					<td height=21><?=$descr;?></td>
					<td height=21><?=$efc->getRepName( $efc->getSKUAssignment($pid) );?></td>
					<td height=21><?=$message;?></td>
					<td height=21 align=center><div id="resolved<?=$id;?>"><a href="javascript:void(0);" onclick="markResolved('<?=$id;?>');">Mark Resolved</a></div></td>
				</tr>
				<?
			}
			?>
			</table>
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazonca/view_error_log.phtml?campid=$campid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";				
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Errors Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>