<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//echo "HI ELI";
//exit;

if($Action == "Delete")
{
	$query = "delete from newegg_campaigns where id = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	$query = "delete from newegg_campaign_lists where campid = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	
	Header("Location: /mgt/newegg/default.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>Newegg.com Campaign Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function markResolvedNew(pid,requestid) {
	$.get('ajax_markresolved_new.phtml',{
		"pid":pid,
		"requestid":requestid
		}, 
		function(data) {
			if(data == 'Success') {
				$('#newerror_'+pid).remove();
			}
		}
	);
}
function markResolvedNewAll(type) {
	$.get('ajax_markresolved_new_all.phtml',{
		"type":type
		}, 
		function(data) {
			location.reload();
		}
	);
}
function removeFromList(lid,pid) {
	$.get('ajax_remove_list.phtml',{
		"pid":pid,
		"lid":lid
		}, 
		function(data) {
			$('#listremove_'+lid+pid).html('');
		}
	);
}
function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE($ROOT_DIR."/mgt/newegg/e2win_menu.phtml");?>
		
		<div style="padding-left:5px;padding-top:10px">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="50%"><B>Newegg Campaigns</B></td>
				<td width="50%">&nbsp;</td>
			</tr>
			<tr>
				<td width="50%"><a href="javascript:void(0);" onclick="createCampaign();">Create New Campaign</a></td>
				<td width="50%">&nbsp;</td>
			</tr>
		</table>
		<br />
		<table id="results" width=100% class="sortable">
		<tr bgcolor="#eeeeee">
			<th height=21 >ID</th>
			<th class="sortable_caseinsensitive">Campaign Name</th>
			<th class="sortable_caseinsensitive">List</th>
			<th class="sortable_caseinsensitive"># Items</th>
			<th class="sortable_caseinsensitive">Errors</th>
			<th class="sortable_caseinsensitive"># Listings</th>
			<th class="sortable_caseinsensitive">Delete</th>
		</tr>
		<?
		$query = "select id, campaign_name from newegg_campaigns order by campaign_name";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($id, $campaign_name, $listid) = mysql_fetch_array($qok))
		{
		?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td height=21 align=center><a href="campaign_edit.phtml?campid=<?=$id;?>"><?=$id;?></td>
				<td align=center>
					<?=stripslashes($campaign_name);?>
				</td>
				<td align=center>
					<?
					$tnum = 0;
					
					$query = "select lists.lid, lists.list_title from lists, newegg_campaign_lists where 
									lists.lid = newegg_campaign_lists.listid and campid = '$id' ";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($q2ok) > 0)
					{
						while(list($listid, $list_title) = mysql_fetch_array($q2ok))
						{
							$query = "select count(*) from list_products where lid = '$listid'";
							if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($numitems) = mysql_fetch_array($q21ok);
							
							$tnum += $numitems;
							
							echo "$list_title [ListID: $listid # Items: $numitems]&nbsp;&nbsp;&nbsp;";
						}
					}
					?>
				</td>
				<td align=center>
					<?=number_format($tnum, 0);?>
				</td>
				<td align=center>
					<?
					$query = "select count(*) from newegg_errors where campid = '$id'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($numerrors) = mysql_fetch_array($q2ok);
					?>
					<a href="/mgt/newegg/newegg_errors.phtml?campid=<?=$id;?>"><?=$numerrors;?></a>
				</td>
				<td align=center>
					<?
//					$query = "select count(*) from buy_base_messages where campid = '$id' AND asin != ''";
//					$query = "select distinct(buy_base_messages.pid) from buy_base_messages,buy_listing where buy_base_messages.campid='$id' and buy_base_messages.pid=buy_listing.pid";
					$query = "select pid from newegg_listing where campid='$id' and qty>0";

					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$numlistings = mysql_num_rows($q2ok);
//					list($numlistings) = mysql_fetch_array($q2ok);
					?>
					<a href="/mgt/newegg/view_listings.phtml?campid=<?=$id;?>"><?=$numlistings;?></a>
				</td>
				<td heigh=21 align=center>
					<?
					if($numlistings <= 0)
					{
						?>
						<a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete this campaign?', '/mgt/newegg/default.phtml?Action=Delete&campid=<?=$id;?>')">
							<img src="/mgt/images/del.gif">
						</a>
						<?
					}
					else 
					{
						?>
						n/a
						<?
					}
					?>
				</td>
			</tr>
		<?
		}
		?>
		</table>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Campaign</a>
		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/newegg/campaign_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Campagin:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(campaign title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
	
</body>
</html>