<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</HEAD>

<SCRIPT LANGUAGE="JavaScript">
function viewDetalis(qid) {
    if($('#quest_details_'+qid).length>0) {
        $('#quest_details_'+qid).toggle();
    }
}
</SCRIPT>

<?
if($inwin == 0)
{
	?>
	<body>
	<?
}
else 
{
	?>
<script type="text/javascript" src="/fsmenu/fsmenu.js"></script>
<script type="text/javascript" src="/mgt/js/jquery-1.3.2.js"></script>
<link rel="stylesheet" type="text/css" id="listmenu-o"  href="/fsmenu/listmenu_h.css" title="Horizontal 'Office'" />
<link rel="stylesheet" type="text/css" id="fsmenu-fallback" href="/fsmenu/listmenu_fallback.css" />	
	<body>
	<?
}
?>
<table width=99% id="results" class="sortable">
    <tr bgcolor="#eeeeee">
        <td><b>SenderId</b></td>
        <td><b>Name</b></td>
        <td><b>Store</b></td>
        <td><b>Status</b></td>
        <td><b>Responded by</b></td>
        <td><b>Subject</b></td>
        <td><b>Date</b></td>
    </tr>
    <? //
    $query = "SELECT lname,fname from customer_accounts where ebayacctid='".$acc."'";
     if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($lname,$fname) = mysql_fetch_array($qok);
    
    $query = "select ebay_message_center_question.emcq_subject,ebay_message_center_question.emcq_id,ebay_message_center.emc_date_created
                from ebay_message_center_question,ebay_message_center
                where ebay_message_center_question.emcq_sender_id='".$acc."' AND 
                    ebay_message_center_question.emcq_id = ebay_message_center.emc_question_id";
    
    $query = "select ebay_message_center_question.emcq_subject,
                    ebay_message_center_question.emcq_body,
                    ebay_message_center_question.emcq_id,
                    ebay_message_center_question.emcq_recipient_id,
                    ebay_message_center_question_response.emcqr_response,
                    ebay_message_center_question_response.emcqr_userid,
                    ebay_message_center.emc_date_created,
                    ebay_message_center.emc_status
                from ebay_message_center_question
                LEFT JOIN ebay_message_center_question_response ON ebay_message_center_question.emcq_id=ebay_message_center_question_response.emcqr_qid
                INNER JOIN ebay_message_center ON ebay_message_center_question.emcq_id = ebay_message_center.emc_question_id
                where ebay_message_center_question.emcq_sender_id='".$acc."'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($qok)>0) {
        while(list($emcq_subject,$emcq_body,$emcq_id,$emcq_recipient_id,$emcqr_response,$emcqr_userid,$emc_date_created,$emc_status) = mysql_fetch_array($qok)) {
            $datecreated = strtotime($emc_date_created);
            $date = date("m-d-Y h:i:s",$datecreated);
            
              $queryx = "SELECT displayname from users where id='".$emcqr_userid."'";
              if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
              list($displayname) = mysql_fetch_array($qokx);
            
            ?>
                <tr id="quest_<?=$emcq_id?>">
                    <td>
                        <a href="javascript:void(0)" onclick="viewDetalis('<?=$emcq_id?>')"> 
                            <?=$acc?>
                        </a>
                    </td>
                    <td><?=$fname." ".$lname?></td>
                    <td><?=$emcq_recipient_id?></td>
                    <td><?=$emc_status?></td>
                    <td><?=$displayname?></td>
                    <td><?=$emcq_subject?></td>
                    <td><?=$date?></td>
                </tr> 
                <tr style="display:none" id="quest_details_<?=$emcq_id?>">
                    <td colspan="5">
                        <table width="90%" class="sortable" cellpadding="4" style="border:1px solid black">
                            <tr bgcolor="#eeeeee">
                                <td align=center><B>Body</B></td>
                                <td align=center><B>Response</B></td>
                            </tr>
                            <tr>
                                <td align=left><?=$emcq_body?></td>
                                <td align=left><?=$emcqr_response?></td>
                            </tr>
                    </table>
                    </td>
                </tr>
            <?
        }
    }
    ?>   
</table>
         
</body>
</html>