<html>
<head>
<title>Annual Sales</title>
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">

<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
</head>
<body bgcolor="#ffffff">
<form name="widget" method="get" action="default.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td class="g1">From:							
							  <input type="text" name="bdate" value="<?=$bdate?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['widget'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['widget'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onKeyPress="return cancelReturn(this, event)">
							
							- to -
							
								<input type="text" name="edate" value="<?=$edate;?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['widget'].edate,'anchor2x','MM/dd/yyyy'); return false;" onSelect="cal1x.select(document.forms['widget'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onKeyPress="return cancelReturn(this, event)">
				<input type = "submit" value =" Go" class="buttonItem" >
	</td>
</tr>
</table>
</form>
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="900" height="300" id="Column3D" >
         <param name="movie" value="Column3D.swf" />
         <param name="FlashVars" value="&dataURL=data.phtml?bdate=<?=$bdate?>&edate=<?=$edate?>">
         <param name="quality" value="high" />
         <param name="wmode" value="transparent">
         <embed src="Column3D.swf" flashVars="&dataURL=data.phtml" quality="high" width="900" height="300" wmode="transparent" name="Column3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
      </object>
</body>
</html>