<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}

$addtables = $addon = $addon_type = "";
//print_r(strtotime("$edate 00:00:00"));
//print_r(strtotime("$edate 23:59:59"));
if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00")-14400;
    $xedate = strtotime("$edate 23:59:59")-14400;
    if($bdate != "") {
        $addon .= " AND amazon_order_reports_by_date_items.amazon_order_purchase_date >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND amazon_order_reports_by_date_items.amazon_order_purchase_date <= '".$xedate."'";
    }
}
//if ($pid != '') {
//	$addon .= " AND amazon_order_reports_by_date_items.amazon_item_sku='$pid'";	
//}
if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND amazon_order_reports_by_date_items.pid = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND amazon_order_reports_by_date_items.pid NOT IN (select pid from sku_assignment) ";}

if( intval($sourcing) > 0 )
{
    $addtables .= ", product_sourcing ";
    $addon .= " AND product_sourcing.distid = '$sourcing' AND product_sourcing.pid = amazon_order_reports_by_date_items.amazon_item_sku ";
}

if(intval($brand) > 0){ 
    $addtables .= ", product_list ";
    $addon .= " AND product_list.manid = '$brand' AND amazon_order_reports_by_date_items.pid=product_list.id"; 
}

if(intval($listid) > 0)
{
        $addtables .= ", list_products ";
        $addon .= " AND amazon_order_reports_by_date_items.pid = list_products.pid AND list_products.lid = '$listid' ";
}

if(intval($nolist) > 0)
{
        $addon .= " AND product_search_extended.inlist = 0 ";
}

//if($type=='1') {
//    $addon .= " AND amazon_order_reports_by_date_items.type = '0' ";
//    $addon_type .= " AND amazon_order_reports_by_date_items.type = '0' ";
//}
//elseif($type=='2') {
//    $addon .= " AND amazon_order_reports_by_date_items.type = '1' ";
//    $addon_type .= " AND amazon_order_reports_by_date_items.type = '1' ";
//}


?>
<tr id="item_detail_<?=$sku?>">
    <td colspan="4">
        <table>
            
       
        <?
        if($type =='') {
            if($DB == 'butterfly') {
                ?>
                <tr>
                    <td><b>ButterflyPhoto</b></td>
                </tr>
                <tr>
                    <td><?getStatsByType('0',$sku,$bdate,$edate,$addon,$addon_type,$addtables,$DB,$mysqlid);?></td>
                </tr>
                <tr>
                    <td><b>AmazingDeals</b></td>
                </tr>
                <tr>
                    <td><?getStatsByType('1',$sku,$addon,$bdate,$edate,$addon_type,$addtables,$DB,$mysqlid);?></td>
                </tr>
                <?
            }
            else {
                 ?>
                <tr>
                    <td><b>Ecom</b></td>
                </tr>
                <tr>
                    <td><?getStatsByType('0',$sku,$bdate,$edate,$addon,$addon_type,$addtables,$DB,$mysqlid);?></td>
                </tr>
                <?
            }
        }
        else {
            if($type == '1') {
                $stype='0';
            }
            elseif($type== '2') {
                $stype='1';
            }
            if($DB == 'ecom') {
                ?>
                <tr>
                    <td><b>Ecom</b></td>
                </tr>
                <?
            }
            elseif($DB == 'butterfly' && $type == '1') {
                ?>
                <tr>
                    <td><b>ButterflyPhoto</b></td>
                </tr>
                <?
            }
            elseif($DB == 'butterfly' && $type == '2') {
                ?>
                <tr>
                    <td><b>AmazingDeals</b></td>
                </tr>
                <?
            }
             ?>
            <tr>
                <td><?getStatsByType($stype,$sku,$bdate,$edate,$addon,$addon_type,$addtables,$DB,$mysqlid);?></td>
            </tr>
            <?
        }
        ?>
        </table>
    </td>
</tr>


<?
function getStatsByType($type,$sku,$bdate,$edate,$addon,$addon_type,$addtables,$DB,$mysqlid) {
    $queryx = "select pid from fba_sku_map where fba_sku = '$sku'";
    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($qokx)>0) {
        list($pid) = mysql_fetch_array($qokx);
    }
    else {
       $pid = $sku;
    }
    
    
    $addon .= " AND amazon_order_reports_by_date_items.type = '$type' ";
    $addon_type .= " AND amazon_order_reports_by_date_items.type = '$type' ";
    
    $query = "select distinct(amazon_order_status) FROM amazon_order_reports_by_date_items $addtables WHERE amazon_order_reports_by_date_items.pid='".$pid."' $addon GROUP BY amazon_order_reports_by_date_items.amazon_order_status";
    
    if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    ?>
        <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;float: left">
            <tr bgcolor='#eeeeee'>
                <td><b>Status</b></td>
                <td><b>QTY</b></td>
            </tr>
            <?
            while(list($amazon_order_status) = mysql_fetch_array($q4ok)) {
                if($amazon_order_status == 'Cancelled') {
                    $qx = "SELECT count(amazon_order_reports_by_date_items.amazon_item_qty) FROM amazon_order_reports_by_date_items $addtables WHERE amazon_order_reports_by_date_items.pid='".$pid."' AND amazon_order_reports_by_date_items.amazon_order_status='".$amazon_order_status."' $addon";
                }
                else {
                    $qx = "SELECT sum(amazon_order_reports_by_date_items.amazon_item_qty) FROM amazon_order_reports_by_date_items $addtables WHERE amazon_order_reports_by_date_items.pid='".$pid."' AND amazon_order_reports_by_date_items.amazon_order_status='".$amazon_order_status."' $addon";
                }
                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($item_count) = mysql_fetch_array($q4okx);
                ?>
                    <tr>
                        <td><?=$amazon_order_status?></td>
                        <td><?=$item_count?></td>
                    </tr>
                <?
            }
            ?>
        </table>
        
        <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;float: left">
            <tr bgcolor='#eeeeee'>
                <?
                $start_ts = strtotime("$bdate 00:00:00");
                $end_ts = strtotime("$edate 23:59:59");
                $diff = $end_ts - $start_ts;
                $nr_days =  ceil($diff / 86400);
                for ($i = ($nr_days-1); $i >=0 ; $i--)
                {
        //            $timestamp = time();
                    $timestamp = strtotime("$edate 23:59:59");
                    $tm = 86400 * $i; // 60 * 60 * 24 = 86400 = 1 day in seconds
                    $tm = $timestamp - $tm;
                    ?>
                        <td align=center class="sortable_numeric"><B><?=$the_date = date("m/d/Y", $tm);?></B></td>
                    <?

                }

                ?>
            </tr>
            <tr>
            <?
            for ($i = ($nr_days-1); $i >=0 ; $i--)
            {
                $timestamp = strtotime("$edate 23:59:59")-14400;
                $tm = 86400 * $i; // 60 * 60 * 24 = 86400 = 1 day in seconds
                $tm = $timestamp - $tm;

                $date_from = date("m/d/Y", $tm);
                $xxsdate = strtotime("$date_from 00:00:00")-14400;
                $xxedate = strtotime("$date_from 23:59:59")-14400;
                $qx = "SELECT sum(amazon_order_reports_by_date_items.amazon_item_qty) 
                        FROM amazon_order_reports_by_date_items 
                        WHERE amazon_order_purchase_date >= '".$xxsdate."' AND 
                            amazon_order_purchase_date <= '".$xxedate."' AND 
                            pid = '$pid' $addon_type";
                
                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($qtyx) = mysql_fetch_array($q4okx);
                if($qtyx == '') {
                    $qtyx = 0;
                }
                ?>
                    <td align=center><?=$qtyx?></td>
                <?
            }
            ?>
            </tr>
        </table>
        <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;float: left">
            <tr>
                <td><b>Amazon Order Id</b></td>
                <td><b>Qty</b></td>
                <td><b>Date</b></td>
            </tr>
            <tr>
            <?
            $querya = "select amazon_order_reports_by_date_items.amazon_order_id,amazon_order_reports_by_date_items.amazon_item_qty,amazon_order_reports_by_date_items.amazon_order_purchase_date_string FROM amazon_order_reports_by_date_items $addtables WHERE amazon_order_reports_by_date_items.pid='".$pid."' $addon";
            if(!$q4oka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            while(list($amazon_order_id,$amazon_item_qty,$amazon_order_purchase_date_string) = mysql_fetch_array($q4oka)){
                ?>
                <tr><td align=center><?=$amazon_order_id?></td><td align=center><?=$amazon_item_qty?></td><td align=center><?=$amazon_order_purchase_date_string?></td></tr>
                <?
            }
            ?>
        </table>
    <?
}
?>
