<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}
$query = "select distinct(amazon_order_status) FROM amazon_order_reports_by_date_items WHERE amazon_item_sku='".$sku."' GROUP BY amazon_order_status";
//print_r($query);
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
?>
<tr id="item_detail_<?=$sku?>">
    <td colspan="4">
        <table class="sortable" cellpadding="4" style="border:1px solid black;margin-left:30px;">
            <tr bgcolor='#eeeeee'>
                <td><b>Status</b></td>
                <td><b>QTY</b></td>
            </tr>
            <?
            while(list($amazon_order_status) = mysql_fetch_array($q4ok)) {
                $qx = "SELECT count(amazon_item_qty) FROM amazon_order_reports_by_date_items WHERE amazon_item_sku='".$sku."' AND amazon_order_status='".$amazon_order_status."'";
                if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($item_count) = mysql_fetch_array($q4okx);
                ?>
                    <tr>
                        <td><?=$amazon_order_status?></td>
                        <td><?=$item_count?></td>
                    </tr>
                <?
            }
            ?>
        </table>
    </td>
</tr>

