<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$addtables = $addon = "";

if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00")-14400;
    $xedate = strtotime("$edate 23:59:59")-14400;
    if($bdate != "") {
        $addon .= " AND amazon_order_reports_by_date_items.amazon_order_purchase_date >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND amazon_order_reports_by_date_items.amazon_order_purchase_date <= '".$xedate."'";
    }
}
if ($pid != '') {
//    $queryx = "select fba_sku from fba_sku_map where pid = '$pid'";
//    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//    if(mysql_num_rows($qokx)>0) {
//        list($fba_sku) = mysql_fetch_array($qokx);
//        if($fba_sku != '') {
//            $addon .= " AND amazon_order_reports_by_date_items.amazon_item_sku='$fba_sku'";
//        }
//        else {
//            $addon .= " AND amazon_order_reports_by_date_items.amazon_item_sku='$pid'";
//        }
//    }
//    else {
//        $addon .= " AND amazon_order_reports_by_date_items.amazon_item_sku='$pid'";
//    }
    $addon .= " AND amazon_order_reports_by_date_items.pid='$pid'";
}
if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND amazon_order_reports_by_date_items.pid = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND amazon_order_reports_by_date_items.pid NOT IN (select pid from sku_assignment) ";}

if( intval($sourcing) > 0 )
{
    $addtables .= ", product_sourcing ";
    $addon .= " AND product_sourcing.distid = '$sourcing' AND product_sourcing.pid = amazon_order_reports_by_date_items.pid ";
}

if(intval($brand) > 0){ 
    $addtables .= ", product_list ";
    $addon .= " AND product_list.manid = '$brand' AND amazon_order_reports_by_date_items.pid=product_list.id"; 
}

if(intval($listid) > 0)
{
        $addtables .= ", list_products ";
        $addon .= " AND amazon_order_reports_by_date_items.pid = list_products.pid AND list_products.lid = '$listid' ";
}

if(intval($nolist) > 0)
{
        $addon .= " AND product_search_extended.inlist = 0 ";
}

if($type=='1') {
    $addon .= " AND amazon_order_reports_by_date_items.type = '0' ";
}
elseif($type=='2') {
    $addon .= " AND amazon_order_reports_by_date_items.type = '1' ";
}

$query = "SELECT distinct(amazon_order_reports_by_date_items.amazon_item_sku),sum(amazon_order_reports_by_date_items.amazon_item_qty) 
                    FROM amazon_order_reports_by_date_items $addtables
                    WHERE 1 $addon
                    GROUP BY amazon_order_reports_by_date_items.amazon_item_sku";

//print_r($query);
$onrow = 0;
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = mysql_num_rows($q4ok);

$numout = 0;
$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($q4ok) <= 0){echo "<B><I>No Orders Found</I></B>";exit;}
	
if(mysql_data_seek($q4ok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
		
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Orders on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
    <td align=center height=21 class="sortable_caseinsensitive"><B>SKU</B></td>
    <td align=center class="sortable_caseinsensitive"><B>MAN</B></td>
    <td align=center><B>Title</B></td>
    <td align=center class="sortable_numeric"><B>Qty</B></td>
</tr>
<?	

while((list($sku,$qty) = mysql_fetch_array($q4ok))  && ($numout < $ITEMS_PER_PAGE))
{
    
    $qx = "SELECT pid FROM fba_sku_map WHERE fba_sku='".$sku."'";
    if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($q4okx)<=0) {
        $pid = $sku;
    }
    else {
        list($pid) = mysql_fetch_array($q4okx);
    }
    
    $qx = "SELECT manpart,descr FROM product_list WHERE id='".$pid."'";
    if(!$q4okx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($manpart,$title) = mysql_fetch_array($q4okx);
  
    
    $numout++;

    if($onrow % 2) {
            echo "<tr bgcolor='#eeeeee' id='item_".$sku."'>";
    }
    else {
            echo "<tr bgcolor='#ffffff' id='item_".$sku."'>";
    }
    ?>
        <td align=center height=21>
            <a href="javascript:void(0)" onclick="getStats('<?=$sku?>')"><?=$sku?></a>
        </td>
        <td align=center height=21><?=$manpart?></td>
        <td align=left height=21>&nbsp;&nbsp;&nbsp;<?=$title?></td>
        <td align=center height=21><?=$qty?></td>
    </tr>
    <?
    $onrow++;
}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Orders on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>