					<form name="skusearch">
						<table>
						<tr>
							<td class="g1">Keywords:</td>
							<td><input type="text" name="keywords" id="keywords" value="<?=$_SESSION["SAVEDSEARCH"]['keywords'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">ID:</td>
							<td><input type="text" name="id" id="id" style="width:75px" value="" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">UPC:</td>
							<td>
								<input type="text" name="upc" id="upc" value="<?=$_SESSION["SAVEDSEARCH"]['upc'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">
							</td>
						</tr>
						<tr>
							<td class="g1">SKU:</td>
							<td><input type="text" name="sku" id="sku" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH"]['sku'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">Brand:</td>
							<td>
								<select name="brand" id="brand" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$query = "select manid, manname from product_manufacturers order by manname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($manid, $manname) = mysql_fetch_array($qok))
								{
									if(strlen($manname) > 25)
									{
										$manname = substr($manname, 0, 18)."...";
									}
									?>
									<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
									<?
								}
								?>
								</select>						
							</td>
						</tr>
						<tr>
							<td class="g1">Exclude Kits:</td>
							<td><input type="checkbox" name="exclude_kits" id="exclude_kits"  <?if($_SESSION["SAVEDSEARCH"]['exclude_kits'] == 1) echo "CHECKED"; ?> checked></td>
						</tr>
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
<!--										<input type="button" name="" value="Export" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;-->
										<input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
<!--										<input type="button" name="" value="Save" onclick="saveForm();" class="buttonItem"></div>-->
							</td>
						</tr>	
						<tr>
							<td colspan=2>
								<div align=center>
								<!---
									<input type="button" name="Action" value="Search" class="buttonItem">
									&nbsp;&nbsp;
									<input type="button" name="Action" value="Clear" class="buttonItem">
								--->
								<BR>
								<div id="skuresults" style="display:inline;">&nbsp;</div>
								<div id="poolresults" style="display:inline;">&nbsp;</div>		
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<!--------------------------------------------------------------->