<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$addon =$pid_addon = $ebay_addon ="";
if($pid != "") {$addon .= " AND product_list.id = '$pid'";}
if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }
$keywords = str_replace('^','#',$keywords);
if(strlen($keywords) >= 2)
{
	$wordlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($wordlist); $xx++)
	{
		$thisword = $wordlist[$xx];
	
		$kwpart = " AND (product_list.manpart like '%$thisword%' OR 
						upccode like '%$thisword%' OR 
						descr like '%$thisword%' OR 
						product_list.id = '$thisword' OR 
						product_list.asin like '%$thisword%') ";
		
		$addon .= $kwpart;
	}
}
if($sku != "")$addon .= " AND product_list.sku = '$sku'";
if($upc != "")$addon .= " AND product_list.upccode = '$upc'";
if($exclude_kits == "1")$addon .= " AND product_list.kit = '0'";
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "select distinct(product_list.id), 
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.status, 
				product_list.visible, 
				product_list.dropship,
				product_list.shipweight,
				product_list.sku,
				product_prices.instock,
				product_search_extended.dsqty
				from
				product_list
				INNER JOIN product_manufacturers ON product_list.manid = product_manufacturers.manid
				INNER JOIN product_prices ON product_list.id = product_prices.id
				INNER JOIN product_search_extended ON product_list.id = product_search_extended.pid
				
				where 
					1
					$addon
					group by product_list.id
					order by product_manufacturers.manname, 
							product_prices.price_level1 ";
$query = str_replace("\n", "", $query);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 20;

if(intval($num2return) <= 0)
	$num2return = 20;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center height=21><b>Nr</b></td>
	<td align=center height=21><b>ID</b></td>
	<td align=center height=21><b>SKU</b></td>
	<td align=center height=21><b>Weight</b></td>
	<td align=center><b>Man</b></td>
	<td align=center><b>ManPart</b></td>
	<td align=center><b>Title</b></td>
</tr>	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $manname, $manpart, $descr, $status, $visible, $dropship, $shipweight,
				$sku, $instock, $dsqty) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
		{
				?>
				<tr>
					<td align=center><?=($onrow+1)?></td>
					<td align=center>
<!--						<a href="javascript:e2window('viewupdates.phtml?id=<?=$id?>&inwin=1', 'View SKU: <?=$id?>','item_<?=$id?>');" id="item_<?=$id?>"><?=$id?></a>-->
						<?=$id?>
					</td>
					<td align=center><?=$sku?></td>
					<td align=center><span id="weight_<?=$id?>"><?=$shipweight?></span></td>
					<td align=center><?=$manname?></td>
					<td align=center><?=$manpart?></td>
					<td align=center width="200px"><?=$descr?><br />(<?=strlen($descr)?>)</td>
				</tr>	
				<tr>
					<td colspan="7">
					<table  style="border:1px solid black">
						<tr>
							<td>
								<table style="font-size:12px;">
									<tr>
										<td>Weight</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>
											<input type="text" name="cost" id="weightvalue_<?=$id?>"  onkeypress="return autoSave(this, event,'<?=$id?>')"/>
										</td>
										<td>
											<input type="button" name="Save" value="Save" id="save_inv" onclick="saveInvInfo('<?=$id?>')"/>
										</td>
										<td height="30px" colspan="4" align="center">
											<img src='/mgt/images/loading.gif' id="loading" style="display:none;">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
				<?
				$onrow++;
			$numout++;
		}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
