<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/pereport_light_canada/gridItem.phtml");
REQUIRE($ROOT_DIR."/mgt/pereport_light_canada/gridItemHTML.phtml");
REQUIRE($ROOT_DIR."/mgt/pereport_light_canada/amzCompetitivePriceing.phtml");
REQUIRE($ROOT_DIR."/mgt/pereport_light_canada/amzItemLookup.phtml");

ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


set_include_path(get_include_path() . PATH_SEPARATOR . '../amazonca');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}



if($pid!='' && $pid>0) {

$gridItem = new gridItem();
$gridItem->efc = $efc;
$gridItem->DB = $DB;
$gridItem->mysqlid = $mysqlid;
$gridItem->setConfigVars();
$itemInfo = $gridItem->getPidInfo($pid);

$belongstorequestor = 'false';
$competitivePriceing = new amzCompetitivePriceing($efc,$DB,$mysqlid);
$buybox_data = $competitivePriceing->getCompetitiveForAsin($itemInfo['asin']);
$competitive_pricing = $buybox_data[0]['competitive_pricing'];
if(count($competitive_pricing)>0) {
    foreach($competitive_pricing as $k=>$v) {
        if($v['condition'] == 'New' && $v['subcondition']=='New') {
            $landed_price = $v['landed_price'];
            $belongstorequestor = $v['belongstorequester'];
            break;
        }
    }
}

if($showEcom == '1' && $showOther=='1') {
    
}
else {
    if($showEcom == '1' && $belongstorequestor=='false') {
        exit();
    }
    if($showOther == '1' && $belongstorequestor=='true') {
        exit();
    }
}
$gridItemHTML = new gridItemHTML();
$gridItemHTML->efc = $efc;
$gridItemHTML->DB = $DB;
$gridItemHTML->mysqlid = $mysqlid;
$gridItemHTML->setConfigVars();
$gridItemHTML->pid = $pid;
$gridItemHTML->product = $itemInfo;
$gridItemHTML->competitive_priceing = $buybox_data;

$amzItemLookup = new amzItemLookup($efc,$DB,$mysqlid); 
$itemLookupInfo = $amzItemLookup->getLookupInfo($itemInfo['asin']);
$gridItemHTML->item_lookup = $itemLookupInfo;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<table width="98%" style="border: 1px solid #808080;">
    <tr bgcolor="#808080">
        <td height=21>
            <p style="font-size:12px;color:#ffffff">CrawlerID: 
                <span id="r<?=$pid."-roimast";?>"> <?=$pid?> </span>
            </p>    
        </td>
    </tr>
    <tr>
        <td>
            <?$gridItemHTML->getReportHeader()?>
        </td>
    </tr>
    <tr>
        <td>
            <?$gridItemHTML->getInventoryRow()?>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td align="left">
                        <table>
                            <tr>
                                <td><?$gridItemHTML->getItemLookupInfo()?></td>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getSuperPricer()?></td>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getAmazonCalculation()?></td>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getVendorInventory()?></td>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getLists()?></td>
                                <td width="10px">&nbsp</td>
                            </tr>
                        </table>
                    </td>
                    <td align="right">
                        <?$gridItemHTML->getFBACalculation()?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td align="left">
                        <table>
                            <tr>
                                <td><?$gridItemHTML->getShippedHistory()?></td>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getPOHistory()?></td>
                            </tr>
                        </table>
                    </td>
                    <td align="right">
                        <table>
                            <tr>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getShippedFBAHistory()?></td>
                                <td width="10px">&nbsp</td>
                                <td><?$gridItemHTML->getFBASalesHistory()?></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<?}?>