<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$efc->hasPermission("perm_pegrid"); // will redirect on failure

////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $DB;
/******************************************************************************************/

ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);
ini_set('memory_limit', '-1');

set_include_path(get_include_path() . PATH_SEPARATOR . '../amazonca');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
$lists = array();
$query = "select lid, list_title from lists order by list_title";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($lid, $list_title) = mysql_fetch_array($qok))
{
    array_push($lists, array('lid'=>$lid,'list_title'=>$list_title));
}
$_SESSION['PE_REPORT_CANADA_ALL_LISTS'] = $lists;


?>
<HTML>
<HEAD>
<TITLE>efluent - SKU Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="style.css" TYPE="text/css" REL="stylesheet">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery_offset.js" type="text/javascript"></script>
<script>
var idlist = '<?=$idlist?>';
var pidArr = idlist.split(',');
var pidLength = pidArr.length;

var aprice = '<?=$efc->getConfigValue("AmazonGridC", "Price");?>';
var fprice = '<?=$efc->getConfigValue("AmazonGridC", "FBA");?>';
<?
if(isset($showEcom)) {
?>
var showEcom = '1';
<?
}
else {
?>
var showEcom = '0';
<?
}
?>
<?
if(isset($showOther)) {
?>
var showOther = '1';
<?
}
else {
?>
var showOther = '0';
<?
}    
?>    
function getItems(nr) {
    
    if(nr<pidLength) {
        $.get('ajax_getitem.phtml', 
            {
                    'pid':pidArr[nr],
                    'showEcom':showEcom,
                    'showOther':showOther
            }, function(data) {
                if(data != '') {
                    $('#html_results').append(data);
                }
                getItems(nr+1);
                var nrCount = parseInt($('#prodCount').html());
                $('#prodCount').html(nrCount+1);
        });
    }
    else {
        $('#count_loading').hide();
    }
}
$(document).ready(function() {
  getItems(0);
});

function getListsByGroup() {
	var group_id = $('#groupid').val();
	$.get('/mgt/sm/ajax_get_lists_by_group.phtml',{ 'group_id' : group_id }, function(data) {
		$('.listid option').remove();
		$('.listid').append(data);
	});
}
</script>
<script src="amazongrid.js" type="text/javascript"></script>
<LINK HREF="amazongrid.css" TYPE="text/css" REL="stylesheet">
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</head>
<body topmargin=0 leftmargin=0>

<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
    <tr>
<!--        <td width=13 background="/mgt/images/l.jpg"> </td>-->
        <td valign=top>
            <?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
            <div style="padding-left:5px;padding-top:10px">
                <?
                $nr_prods = count(explode(",", $idlist));
                ?>
                <B>Results: <span id="prodCount">0</span> of <span id="prodTotal"><?=$nr_prods?></span></B>
                <img src="/mgt/images/loading.gif" id="count_loading"/>
            </div>
            <!----------------------------------------------------------------------------->
            <div style="float: right" id="debug_trace"> </div>
            <BR><BR>
            <!----------------------------------------------------------------------------->
            <div id="html_results"></div>
        </td>
<!--        <td width=13 background="/mgt/images/r.jpg"> </td>-->
    </tr>
    <tr>
<!--        <td width=13 background="/mgt/images/l.jpg"> </td>-->
        <td>
            <iframe style="display:none;" name="hiddeniframe" id="hiddeniframe"></iframe>
            <?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
        </td>
<!--        <td width=13 background="/mgt/images/r.jpg"> </td>-->
    </tr>
</table>
<!--<div id="reportstatus">&nbsp;</div>
<div id="listingstatus">&nbsp;</div>    -->
<div id="dialog" class="dialog" onclick="hideMenu();">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td><div id="menuOption1"></div></td>		
                    </tr>
                    <tr>
                        <td><div id="menuOption2"></div></td>		
                    </tr>
                    <tr>
                        <td><div id="menuOption3"></div></td>		
                    </tr>
                    <tr>
                        <td><div id="menuOption4"></div></td>		
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="sourcingForm" class="dialog_sourcing">
<form name="addSourcingForm">
<input type="hidden" name="sourcing_pid" id="sourcing_pid" value="">
<input type="hidden" name="sid" value="">
	<table>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Vendor:</div>
				</td>		
				<td>
					<select name="vendorid" class="formSelect" id="sourcing_vendorid">
					<option value="">----- Select Vendor -----</option>
					<?
					$query = "select vendorid, vendorname from vendors order by vendorname";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($vendorid, $vendorname) = mysql_fetch_array($qok))
					{
						
						?>
						<option value="<?=$vendorid;?>"><?=$vendorname;?></option>
						<?
					}
					?>
					</select>
				</td>
			</tr>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Man Part:</div>
				</td>		
				<td>
					<input type="text" name="manpart" class="formBox" id="sourcing_manpart" style="width:125px">
				</td>
			</tr>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Cost:</div>
				</td>		
				<td>
					<input type="text" name="cost" class="formBox" id="sourcing_cost" style="width:75px;text-align:right;">
				</td>
			</tr>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Override Price:</div>
				</td>		
				<td>
					<input type="text" name="oprice" class="formBox" id="sourcing_override_price" style="width:75px;text-align:right;">
				</td>
			</tr>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Dist SKU:</div>
				</td>		
				<td>
					<input type="text" name="distsku" class="formBox" id="sourcing_distsku" style="width:125px">
				</td>
			</tr>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Dist Qty:</div>
				</td>		
				<td>
					<input type="text" name="distqty" class="formBox" id="sourcing_distqty" style="width:125px">
				</td>
			</tr>
			<tr>
				<td NOWRAP>
					<div style="padding-top:2px;text-align:right">Stealth:</div>
				</td>		
				<td>
					<input type="checkbox" name="stealth" value="1" id="sourcing_stealth"> (hide in DS inventory calculations)
				</td>
			</tr>										
			</table>
			<BR>
			<table width=100%>
			<tr>
				<td><div align=left><input type="button" name="Action" value="Add Sourcing" class="buttonItem" onclick="addSourcingValues()"></div></td>
				<td><div align=right><input type="button" name="Action" value="Cancel" class="buttonItem" onclick="hideSourcingForm();"></div></td>
			</tr>
			</table>
		</td>
		<td>&nbsp;</td>
	</tr>
	</table>
</form>
</div>	
</body>
</html>
