<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$list_id = (int) $_GET['list_id'];
$group_id = (int) $_GET['group_id'];

// verify if List is already in Group
$query_verify = "SELECT COUNT(id) AS count
				 FROM list_groups_map
				 WHERE group_id = '$group_id'
				 AND list_id = '$list_id'
				 LIMIT 1";
if(!$qok_verify = mysql_db_query($DB, $query_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($count_verify) = mysql_fetch_array($qok_verify);
if ($count_verify == 0)
{
	$query = "INSERT INTO list_groups_map (group_id, list_id)
			  VALUES ('$group_id', '$list_id')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$query_group = "SELECT group_name
					FROM list_groups
					WHERE id = '$group_id'
					LIMIT 1";
	if(!$qok_group = mysql_db_query($DB, $query_group, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($group_name) = mysql_fetch_array($qok_group);
	?>
		<tr bgcolor="#ffffff" id="group_row_<?php echo $group_id; ?>">
			<td height="21"><?php echo $group_name; ?></td>
			<td height="21"><a href="javascript:void(0);" onclick="javascript:unassignList('<?php echo $group_id; ?>','<?php echo $list_id; ?>');"><img src="/mgt/images/del.gif" border="0"></a></td>
		</tr>
	<?php
}
?>