<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($action == "GetGroups") {
	echo getGroups($DB,$mysqlid);
}
if($action == "saveGroup") {
	saveGroup($DB,$mysqlid,$name);
	echo getGroups($DB,$mysqlid);
}
if($action == "editGroup") {
	editGroup($DB,$mysqlid,$name,$id);
	echo getGroups($DB,$mysqlid);
}
if($action == "deleteGroup") {
	deleteGroup($DB,$mysqlid,$id);
	echo getGroups($DB,$mysqlid);
}
if($action == "showLists") {
	echo showLists($DB,$mysqlid,$id);
}
if($action == "createList") {
	createList($DB,$mysqlid,$group,$name);
}
if($action == "deleteList") {
	deleteList($DB,$mysqlid,$listId);
}


function getGroups($DB,$mysqlid) {
	$query = "SELECT * FROM list_categories";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok)>0) {
		$r ='<table cellpadding="3" cellspacing="0" border="0">';
		$r .='<tr><td><a href="javascript:void(0);" onclick="showLists(0)">Unassigned Lists</a></td></tr>';
		while ($lg = mysql_fetch_assoc($qok)) {
			$r .='<tr><td>
					<a href="javascript:void(0);" onclick="showLists(\''.$lg['lcid'].'\')">'.stripslashes($lg['lcname']).'</a>
					<a id="edit_img_'.$lg['lcid'].'" onclick="showEditGroup(\''.$lg['lcid'].'\',\''.addslashes($lg['lcname']).'\');" href="javascript:void(0);"><img alt="Edit" src="/mgt/images/txticon2.gif"></a>
					<a onclick="deleteGroup(\''.$lg['lcid'].'\');" href="javascript:void(0);"><img alt="Delete Category" src="/mgt/images/delete.gif"></a>
				</td></tr>';
		}
		$r .='</table>';
	}
	else {
		$r ='<table>
			<tr><td><a href="javascript:void(0);" onclick="showLists(0)">Unassigned Lists</a></td></tr>
			<tr><td>No groups defined</td></tr>
		</table>';
	}
	return $r;
}
function saveGroup($DB,$mysqlid,$name) {
	$query = "INSERT INTO list_categories(lcname) VALUES('".addslashes($name)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
function editGroup($DB,$mysqlid,$name,$id) {
	$query = "UPDATE list_categories SET lcname='".addslashes($name)."' WHERE lcid='".$id."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
function deleteGroup($DB,$mysqlid,$id) {
	$query = "DELETE FROM list_categories WHERE lcid='".$id."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "UPDATE lists SET lcid='0' WHERE lcid='".$id."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
function showLists($DB,$mysqlid,$id) {
	$r = '<table cellspacing="1" cellpadding="1" border=1 width="99%">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center>ID</td>
			<td height=21>Title</td>
			<td align=center>Description</td>
			<td align=center>Delete</td>
		</tr>';
		$query = "select lid, list_title, list_descr from lists WHERE lcid='".$id."' order by list_title desc";		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($lid, $list_title, $list_descr) = mysql_fetch_array($qok))
		{
			$r .='<tr onMouseOver="this.bgColor=\'#eeeeff\';" onMouseOut="this.bgColor=\'#FFFFFF\';">
				<td align=center height=21><a href="/mgt/lm/list_edit.phtml?lid='.$lid.'">'.$lid.'</a></td>
				<td align=center height=21>&nbsp;'.$list_title.'</td>
				<td align=center height=21>&nbsp;'.$list_descr.'</td>

				<td align=center>';
					$query = "select count(*) from list_products where lid = '$lid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($numitems) = mysql_fetch_array($q2ok);
					
					if($numitems > 0)
					{
						$r .= $numitems.' items';
					}
					else 
					{
					$r .='<a href="javascript:void(0);" 
						onclick="deleteList(\''.$lid.'\',\''.$id.'\');">
							<img src="/mgt/images/del.gif">Delete</a>';
					}
				$r .='</td>
			</tr>';
		}
		$r .='</table>
		<BR><BR>
		<a href="javascript:void(0);" onclick="showCreateList(\''.$id.'\');" id="create_list_btn">Create New List</a>';
	return $r;
}
function createList($DB,$mysqlid,$groupId,$name) {
	$query = "INSERT INTO lists(list_title,lcid) VALUES('".addslashes($name)."','".$groupId."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
function deleteList($DB,$mysqlid,$lid) {
	$query = "DELETE FROM lists WHERE lid='".$lid."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "DELETE FROM list_products WHERE lid='".$lid."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
