<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>
		<td><a href="/mgt/lm/">List Manager</a></td> 
		<td><a href="/mgt/lm/list_group.phtml">List Group Manager</a></td> 
		<td>&nbsp;&nbsp;</td>
		
	</tr>
	</table>
	</div>
</div>