<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$efc->hasPermission("perm_email_marketing"); // will redirect on failure
?>
<HTML>
<HEAD>
<TITLE>List At-Cost Products</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</HEAD>
<script type="text/javascript">
function getListAtcost()
{
	xmlHttp=GetXmlHttpObject();
			
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	

	var url="/mgt/lm/ajax_list_atcost.phtml?action=getlist";
	url += "&sid="+Math.random();
	
	xmlHttp.onreadystatechange=getListAtcostComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function getListAtcostComplete()
{
	if(xmlHttp.readyState==4)
	{
		var div = document.getElementById('list_atcost');
		if(div)
		{
			div.innerHTML = xmlHttp.responseText;
		}
	}	
}

function updateOrd(id, ord)
{
	document.getElementById('loading').style.display = 'inline-block';

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	var url="/mgt/lm/ajax_list_atcost.phtml?action=updateord";
	url += "&id="+id+"&ord="+ord+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=updateOrdChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function updateOrdChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		getListAtcost();
		document.getElementById('loading').style.display = 'none';
	}
}

function updateBlowout2(id, col)
{
	document.getElementById('loading').style.display = 'inline-block';
	var col_val = document.getElementById(col + '_' + id).value;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	var url="/mgt/lm/ajax_list_atcost.phtml?action=updateblowout2";
	url += "&id="+id+"&col="+col+"&col_val="+col_val+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=updateBlowout2Changed;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function updateBlowout2Changed() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		getListAtcost();
		document.getElementById('loading').style.display = 'none';
	}
}

function updateDiscountType(id, discount_type)
{
	document.getElementById('loading').style.display = 'inline-block';
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	var url="/mgt/lm/ajax_list_atcost.phtml?action=updatediscounttype";
	url += "&id="+id+"&discount_type="+discount_type+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=updateDiscountTypeChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function updateDiscountTypeChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		getListAtcost();
		document.getElementById('loading').style.display = 'none';
	}
}

function addNewItem()
{
	document.getElementById('add_new_item').style.display = '';
}

function saveNewItem()
{
	document.getElementById('loading').style.display = 'inline-block';
	var item_pid = document.getElementById('new_item_input').value;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	var url="/mgt/lm/ajax_list_atcost.phtml?action=addnewitem";
	url += "&item_pid="+item_pid+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=saveNewItemChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function saveNewItemChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		if (xmlHttp.responseText == '') {
			getListAtcost();
		} else {
			alert(xmlHttp.responseText);
			document.getElementById('new_item_input').value = '';
		}
		document.getElementById('loading').style.display = 'none';
	}
}

function delAtCostItem(id)
{
	document.getElementById('loading').style.display = 'inline-block';

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	var url="/mgt/lm/ajax_list_atcost.phtml?action=delatcostitem";
	url += "&item_id="+id+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=delAtCostItemChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function delAtCostItemChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		getListAtcost();
		document.getElementById('loading').style.display = 'none';
	}
}

function updateStockQty(id, col)
{
	document.getElementById('loading').style.display = 'inline-block';
	var col_val = document.getElementById(col + '_' + id).value;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	var url="/mgt/lm/ajax_list_atcost.phtml?action=updatestockqty";
	url += "&id="+id+"&col="+col+"&col_val="+col_val+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=updateStockQtyChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function updateStockQtyChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		getListAtcost();
		document.getElementById('loading').style.display = 'none';
	}
}
</script>
<style type="text/css">
#add_atcost_item {
	width:32px;
	height:32px;
	display:block;
	margin:10px 0 10px 7px;
	cursor:pointer;
}
.ord {
	width:80px;
	height:37px;
	display:block;
	margin:5px;
}
.ord span.img {
	width:16px;
	height:37px;
	float:left;
	display:inline-block;
	margin:0 15px 0 0;
}
.ord span.img img {
	cursor:pointer;
}
.ord span.img img.up {
	margin:0 0 5px 0;
}
.ord span.nr {
	font-size: 18px;
	line-height: 30px;
}
.atcost_del {
	cursor:pointer;
}
</style>
<body onload="getListAtcost();">
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
			<div align="right">
				<table>
				<tbody>
				<tr>
					<td><a href="/mgt/lm/">List Manager</a></td> 
					<td><a href="/mgt/lm/list_group.phtml">List Group Manager</a></td> 
					<td>&nbsp;&nbsp;</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div style="padding-left:5px;padding-top:10px">
		<B style="height:21px;display:block;line-height:21px;">List At-Cost products <div id="loading" style="display:none;"><img src="/mgt/images/loading.gif"></div></B>
		<img src="/mgt/images/list-atcost-new.jpg" id="add_atcost_item" onclick="addNewItem();" width="32" height="32" alt="Add new" title="Add new" />
		<div style="border:1px solid #eeeeee;width:1000px;" id="list_atcost"></div>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>