<?
/*error_reporting(E_ALL);
ini_set('display_errors', '1');
*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure

if($Action == "Add")
{
	for($xx = 0; $xx < count($aids); $xx++)
	{
		$pid = $aids[$xx];
	
		if($efc->inList($pid, $lid) <= 0)
		{
			$query = "delete from list_products where lid = '$lid' and pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
			$query = "insert into list_products(lid, pid) values('$lid', '$pid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$query = "select list_title from lists where lid = '$lid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($list_title) = mysql_fetch_array($q2ok);
							
			$efc->logAction("SUCCESS", "1", $pid, "Added $pid to List ($list_title)", "Added $pid to List ($list_title)"); 
			$efc->UpdatePool("1", $pid);
			$efc->touchSKU($pid);
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
		}
		else 
		{
			$efc->logAction("FAILURE", "1", $pid, "$pid is already in a list", "$pid is already in a list"); 
			
		}
	}
	
	Header("Location: /mgt/lm/list_edit.phtml?lid=$lid");
}
	
if($savename != "")
{
	$query = "insert into lists(list_title) values('".addslashes($savename)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$lid = mysql_insert_id();
	
	Header("Location: /mgt/lm/list_edit.phtml?lid=$lid");
	exit;
}
else if(intval($lid) <= 0)
{
	Header("Location: /mgt/lm/default.phtml");
	exit;
}
else if($Action == "Save List")
{
	$list_title = addslashes($list_title);
	$list_descr = addslashes($list_descr);
	
	$query = "update lists set list_title = '$list_title',
				list_descr = '$list_descr',
				lcid = '$listcategory',
				bannerpos = '$bannerpos',
				exclusive = '$exclusive'
				where lid = '$lid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
<HTML>
<HEAD>
<TITLE>Edit List</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
</HEAD>
<script>
var g_level = 0;

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			searchSKUs();
 			return false; 
 		}
	}  
}

function cancel2Return(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			search2SKUs();
 			return false; 
 		}
	}  
}

function cancel3Return(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			addDiscountPerSKU();
 			return false; 
 		}
	}  
}

var g_searchType = 0;



function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}

function searchSKUs()
{
	
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", brand = "";
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	var posArray = findPos( document.getElementById("divpos") );	
	
	var x = posArray[0];
	var y = posArray[1];

	dlg.style.left  = x - 250;
	dlg.style.top  = y + 25;		
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.advform.keywords.value
  	
		
	var url="/mgt/sm/ajax_qsearch.phtml?keywords="+keywords;
	url += "&maxout=20&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function closeResults()
{
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "";
	
	var theTable = document.all.results;
		
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 1)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0 && parseInt(rows[pp]) > 0)
						newCell.innerHTML = "<input type='checkbox' name='aids[]' value='"+rows[pp]+"'>";
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}

	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.advform.cat0.options[ document.advform.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.advform.cat1.options[ document.advform.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.advform.cat2.options[ document.advform.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.advform.cat3.options[ document.advform.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.advform.cat4.options[ document.advform.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}


function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}



function addItem2Cart(pid)
{
	closeResults();
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/rebate/ajax_rebate.phtml?Action=CiteriaAddSKU&pid="+pid+"&cid=<?=$cid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function itemAdded()
{
	if(xmlHttp.readyState==4)
	{
		loadSKUs();
	}	
}

function loadSKUs()
{
	var url="/mgt/lm/ajax_loadskus.phtml?lid=<?=$lid;?>&Action=CiteriaSKUs";
		
	xmlHttp=GetXmlHttpObject();
			
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
		
	xmlHttp.onreadystatechange=loadSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function loadSKUsComplete()
{
	if(xmlHttp.readyState==4)
	{
		var div = document.getElementById("requiredSKUs");
		
		if(div)
		{
			div.innerHTML = xmlHttp.responseText;
		}
	}	
}


function deleteSKU(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/lm/ajax_list.phtml?Action=CiteriaDelSKU&pid="+pid+"&lid=<?=$lid;?>&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}
function orderSKU(pid,lid,type)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/lm/ajax_list.phtml?Action=orderSku&pid="+pid+"&lid="+lid+"&type="+type;
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function assignList(list_id) {
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	var group_id = $('select#group_list option:selected').val();
	if (group_id != '') {
		$.get('ajax_assign_list.phtml',{ 'list_id' : list_id, 'group_id' : group_id }, function(data) {
			$('#groups_list').append(data);
			$('select#group_list option:selected').remove();
		  	$('#loading').html('');
		});
	}
}

function unassignList(group_id,list_id) {
	$('#loading').html('<img src="/mgt/images/loading.gif">');
	$.get('ajax_unassign_list.phtml',{ 'list_id' : list_id, 'group_id' : group_id }, function(data) {
		$('#group_row_' + group_id).remove();
		$('select#group_list').append(data);		
	  	$('#loading').html('');
	});
}
</SCRIPT>
<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}

</STYLE>
<body onload="loadSKUs();">
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>List Editor <div id="loading" style="display:inline;"></div></B>
		<BR><BR>
		<form name="advform" method="POST">
		<input type="hidden" name="lid" value="<?=$lid;?>">
		<table>
			<td width=33%>
			<?
			$query = "select list_title, list_descr, exclusive,lcid from lists where lid = '$lid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($list_title, $list_descr, $exclusive,$lcid) = mysql_fetch_array($qok);
			?>
			<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">List Text:</div></td>
					<td><input type="text" name="list_title" value="<?=$list_title;?>" style="width:250px" class="formBox"></td>						
				</tr>
				
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">List Description:</div></td>
					<td>
						
						
						<?
						$oFCKeditor = new FCKeditor('list_descr') ;
						$oFCKeditor->BasePath	= "/mgt/help/";
						$oFCKeditor->Value		= "$list_descr";
						$oFCKeditor->Width = "375";
						$oFCKeditor->Height = "250";
						$oFCKeditor->ToolbarStartExpanded = false ;
						$oFCKeditor->Create() ;
						?>		
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Banner Position:</div></td>
					
					<td>
						<select name="bannerpos" class="formSelect">
							<option value="">--- SELECT ---</option>
							<?
							$query = "select id, title from banner_positions order by title";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($posid, $title) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$posid;?>" <?if($bannerpos == $posid) echo "SELECTED";?>><?=$posid;?> - <?=$title;?></option>
								<?
							}
							?>
						</select>
					</td>
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Exclusive:</div></td>
					
					<td>
						<input type="checkbox" name="exclusive" value="1" <?if($exclusive == 1) echo "CHECKED";?>>
					</td>
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Group:</div></td>
					
					<td>
						<select name="listcategory" class="formSelect">
							<option value="">--- SELECT ---</option>
							<?
							$query = "SELECT lcid,lcname FROM list_categories";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($listcid, $lcname) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$listcid;?>" <?if($listcid == $lcid) echo "SELECTED";?>><?=$listcid;?> - <?=$lcname;?></option>
								<?
							}
							?>
						</select>
					</td>
				</tr>		
				<tr>
					<td colspan=2 align=center>
					
						<input type="submit" name="Action" value="Save List" class="buttonItem">
					
					</td>
				</tr>	
				</table>
			</div>
				
			
			</td>
			<td width=33%>

				<div style="border:1px solid #eeeeee;" id="skusearch">
				<table>
				<tr bgcolor="#eeeeee">
					<td>SKU/Keywords:<input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
					<td>
						<input type="button"  name="Action" value="Search" onclick="searchSKUs()" id="divpos" class="buttonItem">	
					</td>		
				</tr>
				<tr>
					<td colspan=2>
					<div id="requiredSKUs">&nbsp;</div>
					</td>
				</tr>
				</table>
				</div>

			</td>
			
			<td width=33%>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tbody>
				<tr>
					<td height="21" bgcolor="#eeeeee"><div style="padding-top:2px">Select a group:</div></td>
					<td>
					<select name="group_id" class="formSelect" id="group_list" style="width:250px;">
						<option value="">--- SELECT ---</option>
						<?php
						$query_groups = "SELECT lg.id, lg.group_name, lgm.list_id
										 FROM list_groups lg
										 LEFT JOIN list_groups_map lgm
										 ON lg.id = lgm.group_id
										 AND lgm.list_id = '$lid'
										 WHERE lgm.list_id IS NULL";
						if(!$qok_groups = mysql_db_query($DB, $query_groups, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
						while (list($group_id,$group_name) = mysql_fetch_array($qok_groups))
						{
							?>
							<option value="<?php echo $group_id; ?>"><?php echo $group_name; ?></option>
							<?php
						}
						?>
					</select>&nbsp;<input type="button" name="assign_list" id="assign_list" value="Assign list" onclick="assignList('<?php echo $lid; ?>')" class="buttonItem">
					</td>
				</tr>
				</tbody>
				</table>

				<table width="100%">
				<tbody id="groups_list">
				<tr bgcolor="#eeeeee">
					<td height="21">Group name</td>
					<td height="21">Delete</td>
				</tr>
				<?php
				$query = "SELECT lg.id, lg.group_name
						  FROM list_groups lg
						  JOIN list_groups_map lgm
						  ON lg.id = lgm.group_id
						  WHERE lgm.list_id = '$lid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qok) > 0)
				{
					while (list($group_id,$group_name) = mysql_fetch_array($qok))
					{
						?>
						<tr bgcolor="#ffffff" id="group_row_<?php echo $group_id; ?>">
							<td height="21"><?php echo $group_name; ?></td>
							<td height="21"><a href="javascript:void(0);" onclick="javascript:unassignList('<?php echo $group_id; ?>','<?php echo $lid; ?>');"><img src="/mgt/images/del.gif" border="0"></a></td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
				</table>				
				</div>			
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan=3 align=center height=25>
				
			</td>
		</tr>		
		<tr>
			<td bgcolor="#eeeeff" colspan=3 align=center>
				<input type="submit" name="Action" value="Save List" class="buttonItem">
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan=3 align=center height=25>
				
			</td>
		</tr>
		</table>
		
		
		</form>
		
		
		<!---------------->	
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>			
		
		<script>
		function checkUncheckAll(myOptions, myForm) 
		{
			var z = 0;
			for(z=0; z<myForm.length;z++)
			{
				if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
				{
					myForm[z].checked = myOptions.checkall.checked;
				}
			}
		}
		</script>
		<div id="skuresults" class="dialog">
		<form name="aresults" method="post">
		<table width=99% id="results" name="results">
		<tr bgcolor="#eeeeee">
			<td height=21><div align="center">Add</div></td>
				<td><div align="center">Man</div></td>
				<td><div align="center">ManPart</div></td>
				<td><div align="center">Descr</div></td>
				<td><div align="center">V</div></td>
				<td><div align="center">Stock</div></td>
				<td><div align="center">Price</div></td>
			</tr>
			<tr>
				<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
			</tr>	
		</table>
		<BR><BR>
		<table width=100%>
		<tr>
			<td>
				<input type="hidden" name="rid" value="<?=$rid;?>">
				<input type="submit" name="Action" value="Add" class="buttonItem">
			</td>
			
			<td>
				<input type="checkbox" name="checkall" onclick="checkUncheckAll(document.aresults, document.aresults);">Select All SKUs
			</td>
			
			<td align=right>
				<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
			</td>
		</tr>
		</table>
		</form>
		</div>
		
		
		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	
	
</body>
</html>