<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure

?>
<HTML>
<HEAD>
<TITLE>List Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {
   $.get('ajax_group.phtml',{ action: "GetGroups"}, function(data) {
		$('#topLevel').html(data);
	});
});
function saveGroup() {
	var groupName = $('#group_name').val();
	 $.get('ajax_group.phtml',{ action: "saveGroup",name:groupName}, function(data) {
		$('#topLevel').html(data);
		hideSaveForm();
	});
}
function editGroup(id,name) {
	var groupName = $('#edit_group_name').val();
	var groupId = $('#group_id').val();
	 $.get('ajax_group.phtml',{ action: "editGroup",name:groupName,id:groupId}, function(data) {
		$('#topLevel').html(data);
		hideEditForm();
	});
}
function deleteGroup(groupId) {
	 $.get('ajax_group.phtml',{ action: "deleteGroup",id:groupId}, function(data) {
		$('#topLevel').html(data);
		$('#listBlock').html('');
	});
}
function showLists(groupId) {
	 $.get('ajax_group.phtml',{ action: "showLists",id:groupId}, function(data) {
		$('#listBlock').html(data);
	});
}
function createList(groupId) {
	var groupId = $('#create_list_group_id').val();
	var listName = $('#createListName').val();
	 $.get('ajax_group.phtml',{ action: "createList",group:groupId,name:listName}, function(data) {
	 	hideCreateListForm();
		showLists(groupId);
	});
}
function deleteList(lid,lcid) {
	var answer = confirm('Are you sure you want to delete this List?');
	if (answer) {
		 $.get('ajax_group.phtml',{ action: "deleteList",listId:lid}, function(data) {
			showLists(lcid);
		 });
	}
}
function displayAddBlock() {
	displayCover();
	var pos = $('#addGroup').position();
	var dlg = document.getElementById("saveform");
	dlg.style.display = "block";
	var leftPosi = pos.left;
	dlg.style.left  = leftPosi+"px";
	dlg.style.top  = pos.top+"px";
}
function showEditGroup(id,name) {
	displayCover();
	var pos = $('#edit_img_'+id).position();
	var dlg = document.getElementById("editform");
	dlg.style.display = "block";
	var leftPosi = pos.left;
	dlg.style.left  = leftPosi+"px";
	dlg.style.top  = pos.top+"px";
	$('#edit_group_name').val(name);
	$('#group_id').val(id);
}
function showCreateList(groupId) {
	displayCover();
	var pos = $('#create_list_btn').position();
	var dlg = document.getElementById("createlistform");
	dlg.style.display = "block";
	var leftPosi = pos.left;
	dlg.style.left  = leftPosi+"px";
	dlg.style.top  = pos.top+"px";
	$('#create_list_group_id').val(groupId);
}
function displayCover() {
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
}
function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}
function hideEditForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("editform");
	dlg.style.display = "none";
}
function hideCreateListForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("createlistform");
	dlg.style.display = "none";
}
</script>
</HEAD>

<STYLE>
.dialog {
display:none;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>List Manager</B>
		<BR><BR>
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td style="border:1px solid black;width:300px;padding:10px">
					<div id="topLevel">
						<BR><BR><BR><BR><CENTER><img src="/mgt/images/loading.gif"></CENTER>
					</div>
					<BR><BR>
					<input type="button" name="Action" value="Add Group" class="buttonItem" id="addGroup" onclick="displayAddBlock();">				
				</td>
				<td>
					<div id="listBlock"></div>
				</td>
			</tr>
		</table>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Group:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox" id="group_name"></td>		
		</tr>
		<tr>
			<td><input type="button" name="Action" value="Save" class="buttonItem" onclick="saveGroup()">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</div>	
<div id="editform" class="dialog">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Edit Group:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox" id="edit_group_name"></td>		
		</tr>
		<tr>
			<td><input type="button" name="Action" value="Save" class="buttonItem" onclick="editGroup()">
			<input type="button" name="Action" value="Cancel" onclick="hideEditForm()" class="buttonItem"></td>		
			<input type="hidden" name="group_id" id="group_id" value=""></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</div>	
<div id="createlistform" class="dialog">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create List:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" id="createListName" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(list title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="button" name="Action" value="Save" class="buttonItem" onclick="createList()">
			<input type="button" name="Action" value="Cancel" onclick="hideCreateListForm()" class="buttonItem">
			<input type="hidden" name="group_id" id="create_list_group_id" value="">
			</td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</div>	
</body>
</html>