<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Add")
{
	$query = "delete from shipping_method_mapped where mid = '$mid' and carrier = '$carrier' and method = '$method'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$query = "insert into shipping_method_mapped(mid, carrier, method) values('$mid', '$carrier', '$method')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else if($Action == "Delete")
{ // id=id&mid=mid&Action=Delete
	
	$query = "delete from shipping_method_mapped where id = '$id' ";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else if($Action == "SetDefault")
{// id=id&mid=mid&Action=SetDefault
	
	$query = "update shipping_method_mapped set isdefault = 0 where mid = '$mid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "update shipping_method_mapped set isdefault = '$isdefault' where id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
}

$query = "select id, carrier, method, isdefault from shipping_method_mapped where mid = '$mid' order by isdefault desc";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
	?>
	<BR>
	<B>Maped Methods</B>
	<table style="border:1px dashed #808080;" width=100%>
	<?
	while(list($id, $carrier, $method, $isdefault) = mysql_fetch_array($qok))
	{
		?>
		<tr>
			<td><?=strtoupper($carrier);?> - <?=strtoupper($method);?> <?if($isdefault == 1) echo "<font color='#ff0000'><SUP>default</SUP></font>";?></td>
			<td>
					<?
					if($isdefault == 1)
					{
						?>
						<a href="javascript:void(0);" onclick="setDefault('<?=$id;?>', '0');">Undo Default</a>
						<?
					}
					else 
					{
						?>
						<a href="javascript:void(0);" onclick="setDefault('<?=$id;?>', '1');">Make Default</a>
						<?
					}
					?>
			</td>
			<td>
				<a href="javascript:void(0);" onclick="deleteMapping('<?=$id;?>');"><img src="/mgt/images/del.gif"></a>
			</td>
		</tr>
		<?
	}
	?>
	</table>
	<?
}


?>