<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


if($Action == "Add")
{
	//if($oper == "OVERRIDE")
	{ // for an override, we don't need to enter the entire tree.... just the lowest level
		
		$query = "delete from shipping_method_overrides where mid = '$mid' and OPER = '$oper' AND type = 'CAT' and typeid = '$catid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		
		$query = "insert into shipping_method_overrides(mid, oper, type, typeid, display) values('$mid', '$oper', 'CAT', '$catid', '1')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
	}
	/*else 
	{
		$cattree = $efc->getCatTreeExt($catid);
		
		if(is_array($cattree))
		{
			for($xx = 0; $xx < count($cattree['catid']); $xx++)
			{
				$query = "delete from shipping_method_overrides where mid = '$mid' and OPER = '$oper' AND type = 'CAT' and typeid = '".$cattree['catid'][$xx]."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				if($cattree['catid'][$xx] == $catid)
					$display = 1;
				else 
					$display = 0;
					
				$query = "insert into shipping_method_overrides(mid, oper, type, typeid, display) values('$mid', '$oper', 'CAT', '".$cattree['catid'][$xx]."', '$display')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
	}*/
}
else if($Action == "Delete")
{
	$query = "delete from shipping_method_overrides where id = '$mmid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
/*	$query = "select typeid, oper, mid from shipping_method_overrides where id = '$mmid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($catid, $oper, $mid) = mysql_fetch_array($qok);
	
	$cattree = $efc->getCatTreeExt($catid);

	if(is_array($cattree))
	{
		for($xx = 0; $xx < count($cattree['catid']); $xx++)
		{
			$query = "delete from shipping_method_overrides where mid = '$mid' and OPER = '$oper' AND type = 'CAT' and typeid = '".$cattree['catid'][$xx]."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}*/
		
}

////////////////////////////////////////////////////////////
// now output all the overrides we have
$otypes[] = "INCLUDE";
$otypes[] = "EXCLUDE";

for($pp = 0; $pp < count($otypes); $pp++)
{
	$query = "select id, typeid from shipping_method_overrides where mid = '$mid' and oper = '".$otypes[$pp]."' and type = 'CAT' and display = '1' ";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		?>
		<BR>
		<B>Categories <?=$otypes[$pp];?></B>
		<table style="border:1px dashed #808080;" width=100%>
		<?
		while(list($mmid, $typeid) = mysql_fetch_array($qok))
		{
			?>
			<tr>
				<td valign=top>
					<?
					$cattree = $efc->getCatTreeExt($typeid);
					
					$on = 0;
					for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
					{
						
						if($on > 0)echo "&nbsp;=>&nbsp;";
						echo $cattree['catname'][$xx];
						
							
						$on++;
					}
					?>
				</td>
				<td>
					<a href="javascript:void(0);" onclick="DeleteExclusion('<?=$mmid;?>');"><img src="/mgt/images/del.gif"></a>
				</td>
			</tr>
			<?
		}
		?>
		</table>
	<?	
	}
}
?>
