<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Shipping Method Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function createMethod()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Shipping Methods</B>
		<BR><BR>
		<table cellspacing="1" cellpadding="1" border=1 width="99%">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center>ID</td>
			<td height=21 align=center>Method Name</td>
			<td height=21 align=center>All Cats</td>
			<td height=21 align=center>Actual Rates</td>
			<td align=center>Delete</td>
		</tr>
		<?
		$query = "select id, methodname, allcats, actualrates from shipping_methods order by methodname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
		$onnum = 0;	
		$lastposition = 0;
		while(list($id, $methodname, $allcats, $actualrates) = mysql_fetch_array($qok))
		{
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td align=center height=21><a href="/mgt/shipmethods/method_edit.phtml?mid=<?=$id;?>"><?=$id;?></a></td>
				<td align=center height=21><?=$methodname;?></td>
				<td align=center height=21><?if($allcats == 1) echo "Yes"; else echo "No";?></td>
				<td align=center height=21><?if($actualrates == 1) echo "Yes"; else echo "No";?></td>
				<td align=center>
					<a href="javascript:void(0);" 
						onclick="makesure('Are you sure you want to delete this method?', '/mgt/shipmethods/default.phtml?mid=<?=$id;?>&Action=Delete');">
							<img src="/mgt/images/del.gif">Delete</a>
				</td>
			</tr>
			<?
		}
		?>
		</table>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createMethod();">Create New Method</a>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/shipmethods/method_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Method:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(method title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
	
</body>
</html>