<?
/*error_reporting(E_ALL);
ini_set('display_errors', '1');
*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($savename != "")
{
	$query = "insert into shipping_methods(methodname, allcats) values('".addslashes($savename)."', '0')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$mid = mysql_insert_id();
	
	Header("Location: /mgt/shipmethods/method_edit.phtml?mid=$mid");
	exit;
}
else if(intval($mid) <= 0)
{
	Header("Location: /mgt/shipmethods/default.phtml");
	exit;
}

if($Action == "Save Method")
{
	$query = "update shipping_methods set methodname = '$methodname', allcats = '$allcats', actualrates = '$actualrates' where id = '$mid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from shipping_method_rules where mid = '$mid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if($markuprules != "")
	{
		$query = "insert into shipping_method_rules(mid, data) values('$mid', '\$markuprules = \'$markuprules\';\n')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
?>
<HTML>
<HEAD>
<TITLE>Edit Shipping Method</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}

</STYLE>
<script>
var g_level = 0;
var g_cat = 0;

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.methodform.cat0.options[ document.methodform.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.methodform.cat1.options[ document.methodform.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.methodform.cat2.options[ document.methodform.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.methodform.cat3.options[ document.methodform.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.methodform.cat4.options[ document.methodform.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
  	g_cat = cat;
  	
 	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
	}
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function AddExclusion()
{
	var oper = document.getElementById("oper");
	if(oper.selectedIndex == 0)
	{
		alert('You must select an operation.');
		return;	
	}
	
	var operation = oper.options[ oper.selectedIndex ].text;
	

	var xx = g_level - 1;
	var theSelect = document.getElementById("cat"+xx);
	
	var catid = theSelect.options[ theSelect.selectedIndex ].value;
	
	if(operation == "OVERRIDE")
	{
		document.getElementById("overrides").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";
		
		xml3Http=GetXmlHttpObject();	
	 	var url="/mgt/shipmethods/ajax_getoverrides.phtml?Action=Add&catid="+cat+"&mid=<?=$mid;?>&oper="+operation+"&sid="+Math.random();
		xml3Http.onreadystatechange=gotOverrides;
		xml3Http.open("GET",url,true);
		xml3Http.send(null);	
		
	}
	else
	{
		document.getElementById("exclusion").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";
		
		xmlHttp=GetXmlHttpObject();	
	 	var url="/mgt/shipmethods/ajax_overrides.phtml?Action=Add&catid="+cat+"&mid=<?=$mid;?>&oper="+operation+"&sid="+Math.random();
		xmlHttp.onreadystatechange=gotExclusions;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
}

function gotExclusions()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("exclusion").innerHTML = xmlHttp.responseText; 
	}	
}

function startUp()
{
	RuleStartUp();

	document.getElementById("exclusion").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";
	
	xmlHttp=GetXmlHttpObject();	
 	var url="/mgt/shipmethods/ajax_overrides.phtml?mid=<?=$mid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=gotExclusions;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	xml2Http=GetXmlHttpObject();
	var url="/mgt/shipmethods/ajax_mapmethod.phtml?mid=<?=$mid;?>&sid="+Math.random();
	xml2Http.onreadystatechange=gotMappedMethods;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	xml3Http=GetXmlHttpObject();
	var url="/mgt/shipmethods/ajax_getoverrides.phtml?mid=<?=$mid;?>&sid="+Math.random();
	xml3Http.onreadystatechange=gotOverrides;
	xml3Http.open("GET",url,true);
	xml3Http.send(null);	
}

function gotOverrides()
{
	if(xml3Http.readyState==4)
	{ 
		document.getElementById("overrides").innerHTML = xml3Http.responseText; 
	}	
}


function DeleteExclusion(mmid)
{
	if(!confirm('Are you sure you want to delete this category exclusion/inclusion?'))
		return;
		
	document.getElementById("exclusion").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";
	
	xmlHttp=GetXmlHttpObject();	
 	var url="/mgt/shipmethods/ajax_overrides.phtml?Action=Delete&mid=<?=$mid;?>&mmid="+mmid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=gotExclusions;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);			
}

function getRates()
{
	var theSelect = document.methodform.methods;
	theSelect.style.backgroundColor = '#ffeeee';
	
	document.getElementById("shiploading").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";

	xmlHttp=GetXmlHttpObject();
	
  	var carrier = document.methodform.carrier.options[ document.methodform.carrier.selectedIndex ].value;
  	
	if(carrier  == "fedex" )
		var url = "/mgt/ship/fedex/RateAvailableServices.php";
	else if(carrier == "ups")
		var url = "/mgt/ship/ups/rates.phtml";
	else if(carrier == "genric")
		var url = "/mgt/ship/generic/getrates.phtml";
	else if(carrier == "dropship")
		var url = "/mgt/ship/dropship/getrates.phtml";
	else if(carrier == "manna")
		var url = "/mgt/ship/manna/getrates.phtml";
	else if(carrier == "usps")
		var url = "/mgt/ship/usps/getrates.phtml";
	else if(carrier == "smartpost")
		var url = "/mgt/ship/smartpost/getrates.phtml";
	else if(carrier == "icat")
		var url = "/mgt/ship/icat/getrates.phtml";
		
		
	xmlHttp.onreadystatechange=gotRates;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function gotRates()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("shiploading").innerHTML = "&nbsp;";

		var theSelect = document.methodform.methods;
		theSelect.style.backgroundColor = '#ffffff';
		
		var lines=xmlHttp.responseText.split("\n"); 
		
		for (i = theSelect.length - 1; i>=1; i--) 
			theSelect.remove(i);

		if(lines[0] != "OK")
		{
			for(xx = 0; xx < lines.length; xx++)
			{
				alert(lines[xx]);
			}
			
			return;
		}
		
		
		for(xx = 1; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			if(data[0] != "")
			{
				nOption = document.createElement('option');
			
				if(parseFloat(data[1]) > 0)
					isData = document.createTextNode(data[0]+" - $"+data[1]); 
				else
					isData = document.createTextNode(data[0]); 

				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				theSelect.appendChild(nOption); 				
			}
		}
	}	
}


function AddMappedMethod()
{
	var carrierSelect = document.methodform.carrier;	
	var methodsSelect = document.methodform.methods;	
	
	if(carrierSelect.selectedIndex == 0 || methodsSelect.selectedIndex == 0)
	{
		alert('You must select a Carrier and Method');
		return;
	}
	
	document.getElementById("mappedmethods").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";
	
	carrier = escape( carrierSelect.options[ carrierSelect.selectedIndex ].value );
	method  = escape( methodsSelect.options[ methodsSelect.selectedIndex ].value );
	
	xml2Http=GetXmlHttpObject();
	
	var url="/mgt/shipmethods/ajax_mapmethod.phtml?Action=Add&mid=<?=$mid;?>&carrier="+carrier+"&method="+method+"&sid="+Math.random();

	xml2Http.onreadystatechange=gotMappedMethods;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
}

function deleteMapping(id)
{// id=id&mid=mid&Action=Delete
	
	if(!confirm('Are you sure you want to delete this mapping?'))
	{
		return ;
	}
	
	xml2Http=GetXmlHttpObject();
	
	var url="/mgt/shipmethods/ajax_mapmethod.phtml?Action=Delete&mid=<?=$mid;?>&id="+id+"&sid="+Math.random();

	xml2Http.onreadystatechange=gotMappedMethods;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);	
}

function setDefault(id, isdefault)
{//  id=id&mid=mid&Action=SetDefault

	xml2Http=GetXmlHttpObject();
	
	var url="/mgt/shipmethods/ajax_mapmethod.phtml?Action=SetDefault&mid=<?=$mid;?>&id="+id+"&isdefault="+isdefault+"&sid="+Math.random();

	xml2Http.onreadystatechange=gotMappedMethods;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
}

function gotMappedMethods()
{
	if(xml2Http.readyState==4)
	{ 
		document.getElementById("mappedmethods").innerHTML = xml2Http.responseText;
	}
}

function DeleteOverride(mmid)
{
	if(!confirm('Are you sure you want to delete this category override?'))
		return;
		
	document.getElementById("overrides").innerHTML = "<BR><BR><center><img src='/mgt/images/loading.gif'></center>";
	
	xml3Http=GetXmlHttpObject();	
 	var url="/mgt/shipmethods/ajax_getoverrides.phtml?Action=Delete&mid=<?=$mid;?>&mmid="+mmid+"&sid="+Math.random();
	xml3Http.onreadystatechange=gotOverrides;
	xml3Http.open("GET",url,true);
	xml3Http.send(null);			
}

function editOverrideRules(id)
{
	alert(posY);
	
	var dlg = document.getElementById("overriderule");
	dlg.style.display = "block";
	dlg.style.width=350;
	dlg.style.left = posX;
	dlg.style.top = posY;	
}

function cancelOverrideRule()
{
	var dlg = document.getElementById("overriderule");
	dlg.style.display = "none";
}
				
function editOverrideMethods(id)
{
	alert(id);
}
</script>
</HEAD>
<body onload="startUp();">
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Shipping Method Editor</B>
		<BR><BR>
		
		<form name="methodform" method="POST">
		<table>
		<tr>
			<td width=33%>
				<B>Main</B>
				<?
				$query = "select methodname, allcats, actualrates from shipping_methods where id = '$mid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($methodname, $allcats, $actualrates) = mysql_fetch_array($qok);
				?>
				<input type="hidden" name="mid" value="<?=$mid;?>">
				<div style="border:1px solid #eeeeee;">
					<table>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Method Name:</div></td>
						<td><input type="text" name="methodname" value="<?=$methodname;?>" style="width:250px" class="formBox"></td>						
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">All Categories:</div></td>
						<td><input type="checkbox" name="allcats" value="1" <?if($allcats == 1) echo "CHECKED";?>> Apply to all Categories</td>						
					</tr>
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Use Actual Rates:</div></td>
						<td><input type="checkbox" name="actualrates" value="1" <?if($actualrates == 1) echo "CHECKED";?>> Map a shipping method below</td>						
					</tr>
					</table>
					* The actual rates will come from the <B>default</B> mapped method below.  Rules will overlap with mapped methods.
				</div>
				
				
				
			</td>
			
			<td width=33%>
				
				<script>
				var g_numrules = 0;
				var g_markuparray = new Array();
					
				function RuleStartUp()	
				{
					<?
					$query = "select data from shipping_method_rules where mid = '$mid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }					
					list($phpcode) = mysql_fetch_array($qok);
					
					eval($phpcode);
					
					if($markuprules != "")
					{
						?>
						
								
						<?
						$mulines = explode("~", $markuprules);
								
						for($xx = 0; $xx < count($mulines); $xx++)
						{
							if($mulines[$xx] != "")
							{
								?>
								g_markuparray[<?=$xx;?>] = "<?=$mulines[$xx];?>";
								g_numrules++;
								<?	
							}
						}
						
						?>
						displayRules();
						<?
					}
					?>
				}
										
				function pricerangeMarkup()
				{
					var dlg = document.getElementById("pricerange");
					dlg.style.display = "block";
					dlg.style.width=350;
					dlg.style.left = posX;
					dlg.style.top = posY;
							
					//document.methodform.prmin.focus();
				}
				
				function cancelRule()
				{
					var dlg = document.getElementById("pricerange");
					dlg.style.display = "none";
				}
				
				function labelRule()
				{
					if(document.methodform.rulebase.selectedIndex == 1)
					{
						document.getElementById("label1").innerHTML = "Price ";
						document.getElementById("label2").innerHTML = "";
						document.getElementById("label3").innerHTML = "";
						document.getElementById("label4").innerHTML = "Shipping Per $";
						document.getElementById("sign1").innerHTML = "$";
						document.getElementById("sign2").innerHTML = "$";
					}
					else if(document.methodform.rulebase.selectedIndex == 2)
					{
						document.getElementById("label1").innerHTML = "Weight ";
						document.getElementById("label2").innerHTML = "lbs. ";
						document.getElementById("label3").innerHTML = "lbs. ";
						document.getElementById("label4").innerHTML = "Shipping per lb.";
						document.getElementById("sign1").innerHTML = "&nbsp;";
						document.getElementById("sign2").innerHTML = "&nbsp;";
					}
				}
				
				function saveRule()
				{
					var prmin = document.methodform.prmin.value;
					var prmax = document.methodform.prmax.value;
							
					var prmarkup = document.methodform.prmarkup.value;
					var praddon = document.methodform.praddon.value;
					var prminprofit = document.methodform.prminprofit.value;
							
					//////////////////////////////////////////////////////////
					// hide it
					var dlg = document.getElementById("pricerange");
					dlg.style.display = "none";
					//////////////////////////////////////////////////////////
					
					if(document.methodform.rulebase.selectedIndex == 1)	
						var newrule = prmin+";"+prmax+";"+prmarkup+";"+praddon+";"+prminprofit+";Price";
					else if(document.methodform.rulebase.selectedIndex == 2)
						var newrule = prmin+";"+prmax+";"+prmarkup+";"+praddon+";"+prminprofit+";Weight";
					
					g_markuparray[g_numrules] = newrule;
					g_numrules++;
							
					displayRules();
				}
				
				function deleteRule(id)
				{
					var newcount = 0;
					var markuparray = new Array();
					for(xx = 0; xx < g_numrules; xx++)
					{
						if(xx != id)
						{
							markuparray[newcount] = g_markuparray[xx];
							newcount++;
						}
					}	
	
					g_markuparray = markuparray;
					g_numrules = newcount;
							
					displayRules();
				}
						
				function displayRules()
				{
					var rulelist = '';
					var div = document.getElementById("rulemarkup");
					
					if(!div)
					{
						alert('Could not find DIV "rulemarkup"');
						return;
					}
					
					div.innerHTML = "<BR><B>Markup Rules</B><BR>";
												
					for(xx = 0; xx < g_numrules; xx++)
					{
						rulelist = rulelist + g_markuparray[xx] + "~";
								
						data = g_markuparray[xx].split(';');
								
						// data[6] == 1 = fee.......  0 - markup
						
						if(data[5] == "Price")
						{
							newrule = "$"+data[0]+" > "+data[5]+" < $"+data[1]+" = "+data[2]+" per $ + $"+data[3]+" &nbsp;min shipping of $"+data[4]
							newrule += "<a href='javascript:void(0)' onclick=\"deleteRule('"+xx+"');\"><img src='/mgt/images/del.gif' border=0></a><BR><HR NOSHADE>";
						}
						else
						{
							newrule = ""+data[0]+" lbs > "+data[5]+" < "+data[1]+" lbs = "+data[2]+" per lb. + $"+data[3]+" &nbsp;min shipping of $"+data[4]
							newrule += "<a href='javascript:void(0)' onclick=\"deleteRule('"+xx+"');\"><img src='/mgt/images/del.gif' border=0></a><BR><HR NOSHADE>";
						}
							
						div.innerHTML += newrule;
						
					}
							
					document.methodform.markuprules.value = rulelist;
				}
				</script>
				
				<a href="javascript:void(0);" onclick="pricerangeMarkup();">Add Rule</a>
				<input type="hidden" name="markuprules" value="">
						<div id="pricerange" class="dialog">
						<table>
						<tr>
							<td>
								<table>
								<tr>
									<td>Rule Base: 
										<select name="rulebase" class="formSelect" onchange="labelRule();">
											<option value="">--- Select ---</option>
											<option value="price">Price Based</option>
											<option value="weight">Weight Based</option>
										</select>
									</td>
								</tr>	
								<tr>
									<td>
											<span id="label1">&nbsp;</span>Greater than 
											<span id="sign1">&nbsp;</span><input type="text" name="prmin" style="width:35px;text-align:right;" value="0.00" class="formBox">
											<span id="label2">&nbsp;</span>	and less than <span id="sign2">&nbsp;</span>
											<input type="text" name="prmax" style="width:35px;text-align:right;" value="0.00" class="formBox"><span id="label3">&nbsp;</span>
											</td>
								</tr>	
								<tr>	
									<td>
										<table>
										<tr>
											<td><span id="label4">&nbsp;</span> <input type="text" name="prmarkup" style="width:35px;text-align:right;" value="0.00" class="formBox"> </td>
											<td>Add On: $<input type="text" name="praddon" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
											<td>Min Shipping: $<input type="text" name="prminprofit" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
										</tr>
										</table>								
									</td>
								</tr>	
								<tr>
									<td align=center>
										<input type="button" name="Action" value="Cancel" onclick="cancelRule()" class="buttonItem">
										<input type="button" name="Action" value="Save Rule" onclick="saveRule()" class="buttonItem">
									</td>
								</tr>				
								</table>
							</td>
						</tr>
						</table>
						</center>
						</div>	
				<BR>
				<div id="rulemarkup">
				&nbsp;
				</div>
				<I>Overlapping rules will combine</I>
				<div id="feediv">
				&nbsp;
				</div>			
			
				<BR><BR><BR>
				<B>Overrides</B>
				<div id="overrides" style="border:1px solid #eeeeee;">&nbsp;</div>				
				
						<div id="overriderule" class="dialog">
						<form name="orules">
						<table>
						<tr>
							<td>
								<table>
								<tr>
									<td>Rule Base: 
										<select name="rulebase" class="formSelect" onchange="labelRule();">
											<option value="">--- Select ---</option>
											<option value="price">Price Based</option>
											<option value="weight">Weight Based</option>
										</select>
									</td>
								</tr>	
								<tr>
									<td>
											<span id="label1">&nbsp;</span>Greater than 
											<span id="sign1">&nbsp;</span><input type="text" name="prmin" style="width:35px;text-align:right;" value="0.00" class="formBox">
											<span id="label2">&nbsp;</span>	and less than <span id="sign2">&nbsp;</span>
											<input type="text" name="prmax" style="width:35px;text-align:right;" value="0.00" class="formBox"><span id="label3">&nbsp;</span>
											</td>
								</tr>	
								<tr>	
									<td>
										<table>
										<tr>
											<td><span id="label4">&nbsp;</span> <input type="text" name="prmarkup" style="width:35px;text-align:right;" value="0.00" class="formBox"> </td>
											<td>Add On: $<input type="text" name="praddon" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
											<td>Min Shipping: $<input type="text" name="prminprofit" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
										</tr>
										</table>								
									</td>
								</tr>	
								<tr>
									<td align=center>
										<input type="button" name="Action" value="Cancel" onclick="cancelOverrideRule()" class="buttonItem">
										<input type="button" name="Action" value="Save Rule" onclick="saveRule()" class="buttonItem">
									</td>
								</tr>				
								</table>
							</td>
						</tr>
						</table>
						</form>
						</div>				
			</td>
			<td width=33%>
				
			
				<B>Include/Exclude/Override Categories</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">In Category:</div></td>
					<td>
						<select name="cat0" class="formSelect" onchange="getCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>" <?if($catid == $l_cat0) echo "SELECTED";?>><?=$catname;?>
							<?
						}
						?>
						</select>		
						<?
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval($l_cat0) > 0)
						{
							?>
							<div id="cat1d" style="display:;">
								<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat0'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $l_cat1) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval($l_cat1) > 0)
						{
							?>
							<div id="cat2d" style="display:;">
								<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat1'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $l_cat2) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval($l_cat2) > 0)
						{
							?>
							<div id="cat3d" style="display:;">
								<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat2'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $l_cat3) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////					
						?>
						<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
						<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
					</td>
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Operation:</div></td>
					<td>
						<select name="oper" id="oper" class="formSelect">
							<option type="">--- SELECT ---</option>
							<option type="INCLUDE">INCLUDE</option>
							<option type="EXCLUDE">EXCLUDE</option>
							<option type="OVERRIDE">OVERRIDE</option>
						</select>
						<input type="button" name="Action" value="Add" class="buttonItem" onclick="AddExclusion();">
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<span id="exclusion">&nbsp;</span>
					</td>
				</tr>
				</table>
				
				
			</td>
		</tr>
		<tr>
			<td colspan=3><BR><BR></td>
		</tr>
		<tr>
			<td width=33%>
				
				<B>Mapped to Shipping Methods</B>
				<div style="border:1px solid #eeeeee;">
					<table style="border-bottom:1px #eeeeee solid;">
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Carrier:</div></td>	
						<td>
							<select name="carrier" id="carrier"  class="formSelect" onchange="getRates()">
								<option value="" SELECTED>--- SELECT ---</option>
								<option value="fedex" 		<?if($mycarrier == "fedex") echo "SELECTED";?>>FedEx</option>
								<option value="manna" 		<?if($mycarrier == "manna") echo "SELECTED";?>>Manna</option>
								<option value="ups" 		<?if($mycarrier == "ups") echo "SELECTED";?>>UPS</option>
								<option value="genric"	 	<?if($mycarrier == "genric") echo "SELECTED";?>>Generic</option>
								<option value="dropship" 	<?if($mycarrier == "dropship") echo "SELECTED";?>>DropShip</option>
								<option value="usps" 		<?if($mycarrier == "usps") echo "SELECTED";?>>USPS</option>
								<option value="smartpost" 	<?if($mycarrier == "smartpost") echo "SELECTED";?>>SmartPost</option>
								<option value="icat" 		<?if($mycarrier == "icat") echo "SELECTED";?>>iCat</option>
							</select>
						</td>
					</tr>		
					<tr>
						<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Method:</div></td>
						<td>
							<select name="methods" id="methods"  class="formSelect">
								<option value="">----- SELECT SHIPPING METHOD -----</option>
							</select>
							<input type="button" name="Action" value="Add" class="buttonItem" onclick="AddMappedMethod();">
							
							<span id="shiploading">&nbsp;</span>
							<div id="mappedmethods" style="width:100%">&nbsp;</div>
						</td>
					</tr>		
					</table>
				</div>
				
			</td>
			
			<td width=33%></td>
			
			
			<td width=33%></td>
		</tr>	
			
		<tr>
			<td colspan=3><BR><BR></td>
		</tr>
		
		<tr>
			<td bgcolor="#eeeeff" colspan=3 align=center>
				<input type="submit" name="Action" value="Save Method" class="buttonItem">
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan=3 align=center height=25>
				
			</td>
		</tr>
		</table>
		</form>
		
		
		<!---------------->	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	
		
</body>
</html>