<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

ini_set('memory_limit', '-1');
set_time_limit(9999999999);

ini_set('memory_limit', '-1');
$ROOT_DIR = $argv[1];
if ($ROOT_DIR == '') {
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];	
}

if($ROOT_DIR == "")
{
	echo "usage: get_fba_settlement.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<table>
<?
$pids = array();
$query = "SELECT * FROM product_prices group by id order by id";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while ($res = mysql_fetch_assoc($qok)) {
	$keys = "";
	$values = "";
	foreach ($res as $k=>$v) {
		$keys .=$k.",";
		if ($v == '' || is_null($v)) {
			$values .="NULL,";
		}
		else {
			$values .="'".$v."',";
		}
	}	
	$keys = substr($keys,0,-1);
	$values = substr($values,0,-1);
//	print_r($res);
	$qa = "INSERT INTO product_prices_tmp($keys) VALUES($values)";
//	print_r($qa);
	if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
?>
</table>
<?



exit();


?>
		<tr>
		<?
			foreach ($res as $k=>$v) {
				?>
				<td><?=$v?></td>
				<?
			}
		?>
		</tr>
	<?
foreach ($pids as $res) {
	$price_msrp = false;
	$price_level1 = false;
	$price_level2 = false;
	
	$qx = "SELECT price_level2 FROM product_prices WHERE id='".$res['id']."' AND price_level2 is NOT NULL";
	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qokx)>0) {
		while ($res2 = mysql_fetch_assoc($qokx)) {
			echo "<tr><td>".$res['id']."</td><td>".$res2['price_level2']."</td></tr>";
		}
		$price_level2 = true;
		$qa = "DELETE FROM product_prices WHERE id='".$res['id']."' AND (price_level2 is NOT NULL AND price_level2>0)";
		if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	else {
		
		$qxx = "SELECT price_level1 FROM product_prices WHERE id='".$res['id']."' AND (price_level1 is NOT NULL AND price_level1>0)";
		if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($qokxx)>0) {
			while ($res3 = mysql_fetch_assoc($qokxx)) {
				echo "<tr><td>".$res['id']."</td><td>".$res3['price_level1']."</td></tr>";
			}
			$price_level1 = true;
			$qa = "DELETE FROM product_prices WHERE id='".$res['id']."' AND (price_level1 is NOT NULL AND price_level1>0)";
			if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else {
			$qxxx = "SELECT price_msrp FROM product_prices WHERE id='".$res['id']."' AND (price_msrp is NOT NULL AND price_msrp>0)";
			if(!$qokxxx = mysql_db_query($DB, $qxxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if (mysql_num_rows($qokxxx)>0) {
				while ($res4 = mysql_fetch_assoc($qokxxx)) {
					echo "<tr><td>".$res['id']."</td><td>".$res4['price_msrp']."</td></tr>";
				}
				$price_msrp = true;
				
				$qa = "DELETE FROM product_prices WHERE id='".$res['id']."' AND (price_msrp is NOT NULL AND price_msrp>0)";
				if(!$qoka = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			}
			else {
				echo "<tr><td>".$res['id']."</td><td><b>ERRRRRRORRRRRRRRR</b></td></tr>";
				
				$qaa = "SELECT * FROM product_prices WHERE id='".$res['id']."' LIMIT 1";
				if(!$qokaa = mysql_db_query($DB, $qaa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$resa = mysql_fetch_assoc($qokaa);
				
				$qaz = "DELETE FROM product_prices WHERE id='".$res['id']."'";
				if(!$qokaz = mysql_db_query($DB, $qaz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$qaz = "INSERT INTO product_prices(id) VALUES('".$res['id']."')";
				if(!$qokaz = mysql_db_query($DB, $qaz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			}
		}
	}
	if ($price_msrp === true) {
		
	}
	
//	$qx = "DELETE FROM product_prices WHERE id='".$res['id']."' AND (price_level2=0 or price_level2 is NULL)";
//	if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
}
?>
</table>
<?

//$query = "INSERT INTO customer_order_tracking_tmp(trackno,cost,type) VALUES('".$track."','".$cost."','fedex')";
//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		