<HTML>
<HEAD>
<TITLE>eFluent Core Monitor</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<!-- <LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet"> -->
<!-- <LINK HREF="t.css" TYPE="text/css" REL="stylesheet"> -->

<style type="text/css">
input.groovybutton
{
   font-size:9px;
   font-family:Arial Narrow,sans-serif;
   color:#FFFFFF;
   height:18px;
   background-color:#CC0000;
   border-top-style:solid;
   border-top-color:#009900;
   border-top-width:1px;
   border-bottom-style:solid;
   border-bottom-color:#9933FF;
   border-bottom-width:1px;
   border-left-style:solid;
   border-left-color:#404040;
   border-left-width:12px;
   border-right-style:solid;
   border-right-color:#009900;
   border-right-width:1px;
}
</style>


<script language="javascript">
function goLite(FRM,BTN){   window.document.forms[FRM].elements[BTN].style.backgroundColor = "#F5E5FF"; }
function goDim(FRM,BTN){   window.document.forms[FRM].elements[BTN].style.backgroundColor = "#CC0000"; }
</script>

<style type="text/css">
input.groovybutton1
{
   font-size:9px;
   font-family:Arial Narrow,sans-serif;
   color:#FFFFFF;
   height:18px;
   background-color:#009900;
   border-bottom-width:1px;
   border-top-style:solid;
   border-top-color:#009900;
   border-top-width:1px;
   border-bottom-style:solid;
   border-bottom-color:#9933FF;
   border-left-style:solid;
   border-left-color:#404040;
   border-left-width:10px;
   border-right-style:solid;
   border-right-color:#009900;
   border-right-width:1px;
}
</style>

<script language="javascript">
function goLite1(FRM,BTN){   window.document.forms[FRM].elements[BTN].style.backgroundColor = "#F5E5FF"; }
function goDim1(FRM,BTN){    window.document.forms[FRM].elements[BTN].style.backgroundColor = "#009900";}
</script>



<style>
table.contacts
{ width: 240px;
background-color: #fafafa;
border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px; }

table.contacts2
{ width: 300px;
background-color: #fafafa;
border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px; }



table.contacts3
{ width: 320px;
background-color: #fafafa;
border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px; }




td.contactDept
{ background-color: #99CCCC;
border: 1px #000000 solid;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-size: 9px;
color: #404040; }

<!-- font-family: Verdana, sans-serif, Arial; -->


td.contact
{ border-bottom: 1px #6699CC dotted;
text-align: left;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-size: 9px;
color: #404040;
background-color: #fafafa;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; }













table.alerts
{ text-align: center;
font-family: Terminal;
font-weight: normal;
font-size: 8px;
color: #404040;
width: 260px;
background-color: #fafafa;
border: 1px #d79900 solid;
border-collapse: collapse;
border-spacing: 0px;}


.alertHd
{ border-bottom: 2px solid #d79900;
background-color: #fff2ba;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 9px;
color: #404040;}


.alertBod p
{ text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 9px;
line-height: 12px;
color: #404040;
background-color: #fafafa;
text-indent: -8px;
margin-left: 10px;
margin-right: 10px;
margin-top: 5px;
margin-bottom: 5px;} 

table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 9px;
color: #fff;
width: 280px;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.stats td.hed
{background-color: #666;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;} 

table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 500px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; }

td.helpHed
{ border-bottom: 2px solid #6699CC;
border-left: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 9px;
color: #404040; }

td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 9px;
color: #404040;
background-color: #fafafa; }


table.sofT4
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 380px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 


table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 710px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 

table.sofT2
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 180px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 


table.sofT3
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 500px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 


table.sofTFBA
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 790px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 


table.servicesT
{ font-family: Verdana;
font-weight: normal;
font-size: 9px;
color: #404040;
width: 320px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;}


table.servicesT td.servHd
{ border-bottom: 2px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 9px;
color: #404040;}


table.servicesT td
{ border-bottom: 1px dotted #6699CC;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 9px;
color: #404040;
background-color: white;
text-align: left;
padding-left: 3px;}

.servBodL { border-left: 1px dotted #CEDCEA; } 
</style>


</HEAD>
</HEAD>
<BODY>
</BODY>

<?
$ROOT_DIR = "/home/httpd/e-fluent.com";
REQUIRE($ROOT_DIR."/include/mysql.phtml");
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
REQUIRE($ROOT_DIR."/include/mysql.phtml");
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$DB = "efluent";
$MYSQL_DATABASE = "efluent";
?>

<br /><br />

<table summary="ServicesT" class="stats" cellspacing="0">
  <tr>
  <td class="hed">Values go here ...</td>
  </tr>

  <tr>
  <td>value 1</td>
  <td>status 1</td>
  <td>status 3</td>
  </tr>

  <tr>
  <td>value A</td>
  <td></td>
  <td>value B</td>
  </tr>

   <tr>
  <td></td>
  <td>value Z</td>
  <td></td>
  </tr>

  </table>
 
<br /><br />
  
 
<table summary="Stater" class="sofT2" cellspacing="0">
  <tr>
  <td class="helpHed">Value</td>
  <td class="helpHed">Status</td>
  </tr>

  <tr>
  <td>value 1</td>
  <td>status 1</td>
  </tr>

  <tr>
  <td>value 2</td>
  <td>status 2</td>
  </tr>

    <tr>
  <td>value 2</td>
  <td>status 2</td>
  </tr>

    <tr>
  <td>value 3</td>
  <td>status 3</td>

  </tr>
  </table>

  <br /><br />
  
<table align=left border="1" cellpadding="1" cellspacing="1" class=stats>
<tr>
<td>client</th>
<td>loadavg</th>
<td>timestamp</th>
</tr>
<?
$query = "select * from customer_server_status";
if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){echo mysql_error();echo "error 1\n\n$query\n\n";exit;}
while(list($who,$what,$when) = mysql_fetch_array($qok))
{

	$what = explode("-",$what);
	
	$what_bitch = explode(".",$what[0]);
 	
	$what_color = $what[0];
 	$what_display = $what[0];

 	if($what_bitch[0] > 2) { $what_color = "<font color=pink>$what_display</font>"; }
	if($what_bitch[0] > 3) { $what_color = "<font color=red><b>$what_display</b></font>"; }

	

?>
<tr>
<td>&nbsp;<?=$who;?></td>
<td>&nbsp;<?=$what_color;?></td>
<td>&nbsp;<?=$when;?></td>
</tr>
<?}?>
</table>

  <HTML>
</HTML>