<?
class cmicClass
{
	function getBinaryFile($baseURL, $baseReferer, $fileloc)
	{
		if($baseReferer == "")
			$baseReferer = "-";
			
		$cmd = "/usr/bin/curl ".
			" --user-agent \"Mozilla/4.0 (compatible; MSIE 5.0; Windows 98; DigExt)\"".
			" --referer \"$baseReferer\"".
			" --location".
			" \"$baseURL\" >> $fileloc";
		
		$returnArray = $buffer = "";
    	exec( $cmd, $returnArray ); //run curl with the data 
		
		for($xx = 0; $xx < count($returnArray); $xx++)
			$buffer .= $returnArray[$xx];
		
		return $buffer;
	}	
	
	function copyMAP($cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$query = "select currentactivemap, currentmapeffectivedate, mintargetprice, maxtargetprice from map_target where pkproduct = '$pkid'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($currentactivemap, $currentmapeffectivedate, $mintargetprice, $maxtargetprice) = mysql_fetch_array($qok);

		if(floatval($currentactivemap) > 0)
		{
			$query = "update product_prices set price_map = '$currentactivemap' where id = '$pid'";
			if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
	function copyFeatures($cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		
		$query = "select pkid, pkbrand, pkcategory, colorsavail, seriesname, statuscodes from productbase where pkid = '$pkid'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pkid, $pkbrand, $pkcategory, $colorsavail, $seriesname, $statuscodes) = mysql_fetch_array($qok);

		$query = "select basicdescription, expandeddescription, keyfeature1, keyfeature2, keyfeature3, keyfeature4, keyfeature5 from keyfeatures where pkproduct = '$pkid'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($basicdescription, $expandeddescription, $keyfeature1, $keyfeature2, $keyfeature3, $keyfeature4, $keyfeature5) = mysql_fetch_array($qok);
		
		$query = "select commonbrandid, commonbrandname from brand_data where pkid = '$pkbrand'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($commonbrandid, $commonbrandname) = mysql_fetch_array($qok);

		
		
		$stuff = "$commonbrandname $sku";
		
		if($keyfeature1 != "" || $keyfeature2 != "" || $keyfeature3 != "" || $keyfeature4 != "" || $keyfeature5 != "")
		{
			$stuff .= " FEATURES: ";
		}
		
		if($keyfeature1 != "") $stuff .= "$keyfeature1";
		if($keyfeature2 != "") $stuff .= ", $keyfeature2";
		if($keyfeature3 != "") $stuff .= ", $keyfeature3";
		if($keyfeature4 != "") $stuff .= ", $keyfeature4";
		if($keyfeature5 != "") $stuff .= ", $keyfeature5";
		
		
		
		/*
		sales_descr => GE WCVH6800JWW FEATURES: 26 WASH CYCLES W/ HYDROMOTION, STAINLESS STEEL TUB, ENERGY STAR, 3 TIMED FLOW-THRU DISPENSERS, QUIET-BY-DESIGN SOUND SYSTEM
		*/
		
		$query = "delete from product_descr where id = '$pid'";
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		$query = "insert into product_descr(id, data) values('$pid', '".addslashes($stuff)."')";
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	function copyEnhancedFeatures($cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$spectable = "";
		$query = "select featurecategory, feature from productenhancedfeatures where pkproduct = '$pkid' order by featurecategory";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($featurecategory, $feature) = mysql_fetch_array($qok))
		{
			if($featurecategory == $lastfeaturecategory)
			{
				$spectable .= "<tr><td class=\"clean\">$feature</td></tr>";
			}
			else 
			{
				$spectable .= "<tr><td class=\"t32A\" colspan=\"2\"><B>$featurecategory</B></td></tr>";
				$spectable .= "<tr><td class=\"clean\">$feature</td></tr>";
			}
			$lastfeaturecategory = $featurecategory;
		}
		
		$spectable = "<table class=\"t30\" cellspacing=\"0\"><tbody>".$spectable."</td></tr></table>";

		
		$query = "delete from product_html where id = '$pid'";
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into product_html(id, data) values('$pid', '".addslashes($spectable)."')";
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	}
	
	function copyImage($cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$query = "select colorcode from sku_basic where pkproduct = '$pkid'";
		if(!$q2ok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($colorcode) = mysql_fetch_array($q2ok);
			
			$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						sku_basic.colorcode = '$colorcode' AND
						productbase.pkid = '$pkid'";
		}
		else 
		{
			$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						productbase.pkid = '$pkid'";	
		}
		
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($ast_url_txt, $ast_role_txt) = mysql_fetch_array($qok))
		{
			$ast_url_txt = str_replace("http//", "http://", $ast_url_txt);
			
			if($ast_role_txt == "LargerPhoto" || $ast_role_txt == "GeneralPhoto" || $ast_role_txt == "PrimaryPhoto" || $ast_role_txt == "ThumbnailPhoto")
			{
				if($ast_role_txt == "LargerPhoto")
				{// only snag the primary photo
					
					$filename = substr($ast_url_txt, strrpos($ast_url_txt, "/") + 1);
					$baseURL = "$ast_url_txt";
					$fileloc = $this->ROOT_DIR."/mgt/temp/$filename";
					
					if(!file_exists($fileloc))
					{
						$this->getBinaryFile($baseURL, "", $fileloc);
						
						if(file_exists($fileloc))
						{
							$imageinfo = getimagesize($fileloc);
							$width = $imageinfo[0];
							$height = $imageinfo[1];
							
							$fp = fopen($fileloc, "r");
							if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
							$data = "";
							while(!feof($fp))
							{
								$data .= fgets($fp, 4096);
							}
							fclose($fp);
							$data = addslashes($data);	 		
						
							
							$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '$width', '$height')";
							if(!$q4ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
							
							unlink($fileloc);
							
							$this->cache_watermark_image($pid, $_SERVER['DOCUMENT_ROOT']);						
						}
					}
				}
			}

		}		
	}
	
	function copyDocs($cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$query = "select colorcode from sku_basic where pkproduct = '$pkid'";
		if(!$q2ok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($colorcode) = mysql_fetch_array($q2ok);
			
			$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						sku_basic.colorcode = '$colorcode' AND
						productbase.pkid = '$pkid'";
		}
		else 
		{
			$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						productbase.pkid = '$pkid'";	
		}
		
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($ast_url_txt, $ast_role_txt) = mysql_fetch_array($qok))
		{
			$ast_url_txt = str_replace("http//", "http://", $ast_url_txt);
			
			if($ast_role_txt == "LargerPhoto" || $ast_role_txt == "GeneralPhoto" || $ast_role_txt == "PrimaryPhoto" || $ast_role_txt == "ThumbnailPhoto")
			{
			}
			else 
			{
				$filename = substr($ast_url_txt, strrpos($ast_url_txt, "/") + 1);
				$newfile = $this->ROOT_DIR."/mgt/pdocs/$filename";
				
				$this->getBinaryFile($ast_url_txt, "", $newfile)			;
				
				$query = "insert into product_docs(pid, title, link) values('$pid', '$ast_role_txt', '$newfile')";
				if(!$q3ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}

		}		
	}	
	
	function copyMeasurements($efc, $cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$query = "select pkproduct, pkmeasurementsmetadata, measurementvalue, fractionaldimensionvalue from productmeasurements where pkproduct = '$pkid'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($pkproduct, $pkmeasurementsmetadata, $measurementvalue, $fractionaldimensionvalue) = mysql_fetch_array($qok))
		{
			$query = "select measurementname, unitsofmeasurement from measurementsmetadata where pkmeasurementsmetadata = '$pkmeasurementsmetadata'";
			if(!$q2ok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($measurementname, $unitsofmeasurement) = mysql_fetch_array($q2ok);
			
			if(strtolower($measurementname) == "height") $height = str_replace(".00", "", $measurementvalue);
			if(strtolower($measurementname) == "width")  $width = str_replace(".00", "", $measurementvalue);
			if(strtolower($measurementname) == "depth")  $depth = str_replace(".00", "", $measurementvalue);
			
			if(strtolower($measurementname) == "total capacity")  		$totalcapacity = str_replace(".00", "", $measurementvalue);
			if(strtolower($measurementname) == "refrigerator capacity") $refrigeratorcapacity = str_replace(".00", "", $measurementvalue);
			if(strtolower($measurementname) == "freezer capacity")  	$freezercapacity = str_replace(".00", "", $measurementvalue);
			if(strtolower($measurementname) == "shelf area")  			$shelfarea = str_replace(".00", "", $measurementvalue);
			
		}

		$cattree = $efc->getCatTree($pid);
			
		if(is_array($cattree))
		{
			for($xx = 0; $xx < count($cattree['catid']); $xx++)
			{
				$debug .= "CATID: ".$cattree['catid'][$xx]."\n";
				
				// see if there's a template
				$query = "select id, template from static_specs_templates where cat = '".$cattree['catid'][$xx]."'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) > 0)
				{
					list($id, $template) = mysql_fetch_array($qok);
					
					$debug .= "ID: $id TEMPLATE: $template\n";
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'height'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "HEIGHT: $sscid\n";
						
						if($height != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($height)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'width'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "WIDTH: $sscid\n";
						
						if($width != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($width)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'depth'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "DEPTH: $sscid\n";
						
						if($depth != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($depth)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'total capacity'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "TOTAL CAPACITY: $sscid\n";
						
						if($totalcapacity != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($totalcapacity)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'refrigerator capacity'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "REFRIGERATOR CAPACITY: $sscid\n";
						
						if($refrigeratorcapacity != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($refrigeratorcapacity)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'freezer capacity'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "FREEZER CAPACITY: $sscid\n";
						
						if($freezercapacity != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($freezercapacity)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'shelf area'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						$debug .= "SHELF AREA: $shelfarea\n";
						
						if($shelfarea != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($shelfarea)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					$query = "select seriesname from productbase where pkid = '$pkid'";
					if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($seriesname) = mysql_fetch_array($qok);

					if($seriesname != "")
					{
						$query = "select id from static_specs_columns where tid = '$id' and dkey = 'series'";
						if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						{
							list($sscid) = mysql_fetch_array($qok);
							
							$debug .= "Series: $seriesname\n";
							
							if($shelfarea != "")
							{
								$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
								if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
								$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($seriesname)."')";
								if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							}
						}
					}
					//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

				}
				
			}
		}
		
		//echo $debug."\n\n";
	}
	
	function copyColor($efc, $cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$query = "select sku, colorcode, colordescription, standardcolor from sku_basic where pkproduct = '$pkid' and sku = '$sku'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($sku, $colorcode, $colordescription, $standardcolor) = mysql_fetch_array($qok);

		$cattree = $efc->getCatTree($pid);
			
		if(is_array($cattree))
		{
			for($xx = 0; $xx < count($cattree['catid']); $xx++)
			{
				// see if there's a template
				$query = "select id, template from static_specs_templates where cat = '".$cattree['catid'][$xx]."'";
				if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) > 0)
				{
					list($id, $template) = mysql_fetch_array($qok);
				
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// see if there's a matching column for this template
					$query = "select id from static_specs_columns where tid = '$id' and dkey = 'color'";
					if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) > 0)
					{
						list($sscid) = mysql_fetch_array($qok);
						
						if($standardcolor != "")
						{
							$query = "delete from product_static_specs where id = '$pid' and tid = '$id' and sscid = '$sscid'";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
							$query = "insert into product_static_specs(id, tid, sscid, dvalue) values('$pid', '$id', '$sscid', '".addslashes($standardcolor)."')";
							if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						}
					}
					////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				}
				
			}
		}
	}	
	
	function copyTitle($efc, $cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		
		$query = "select pkid, pkbrand, pkcategory, colorsavail, seriesname, statuscodes from productbase where pkid = '$pkid'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pkid, $pkbrand, $pkcategory, $colorsavail, $seriesname, $statuscodes) = mysql_fetch_array($qok);

		$query = "select commonbrandid, commonbrandname from brand_data where pkid = '$pkbrand'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($commonbrandid, $commonbrandname) = mysql_fetch_array($qok);

		$query = "select basicdescription, expandeddescription, keyfeature1, keyfeature2, keyfeature3, keyfeature4, keyfeature5 from keyfeatures where pkproduct = '$pkid'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($basicdescription, $expandeddescription, $keyfeature1, $keyfeature2, $keyfeature3, $keyfeature4, $keyfeature5) = mysql_fetch_array($qok);

		$query = "select colorcode, colordescription, standardcolor from sku_basic where pkproduct = '$pkid' and sku = '$sku'";
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($colorcode, $colordescription, $standardcolor) = mysql_fetch_array($qok);

		$title = $commonbrandname;
		
		if($seriesname != "")
			$title .= " $seriesname";
			
		$title .= " $sku";

		if($expandeddescription == "")
			$title .= " $basicdescription";
		else
			$title .= " $expandeddescription";
			
		if($standardcolor != "") 
			$title .= " - $standardcolor";
			
		$query = "update product_list set descr = '".addslashes($title)."' where id = '$pid'";
		if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		//$efc->logAction("SUCCESS", "1", $pid, "TITLE CHANGED TO: $title", "TITLE CHANGED TO: $title");
	}
	
	function gotImage($cmicid, $pid, $sku)
	{
		$pkid = $cmicid;
		$query = "select colorcode from sku_basic where pkproduct = '$pkid'";
		if(!$q2ok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($colorcode) = mysql_fetch_array($q2ok);
			
			$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						sku_basic.colorcode = '$colorcode' AND
						productbase.pkid = '$pkid'";
		}
		else 
		{
			$query = "select ast_url_txt, ast_role_txt from 
						assetdata, joinassettosku, sku_basic, productbase where
						assetdata.pkid = joinassettosku.pkasset and
						joinassettosku.pksku = sku_basic.pkid and
						sku_basic.pkproduct = productbase.pkid and 
						productbase.pkid = '$pkid'";	
		}
		
		if(!$qok = mysql_db_query("cmic", $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($ast_url_txt, $ast_role_txt) = mysql_fetch_array($qok))
		{
			$ast_url_txt = str_replace("http//", "http://", $ast_url_txt);
			
			if($ast_role_txt == "LargerPhoto" || $ast_role_txt == "GeneralPhoto" || $ast_role_txt == "PrimaryPhoto" || $ast_role_txt == "ThumbnailPhoto")
			{
				if($ast_role_txt == "LargerPhoto")
				{// only snag the primary photo
					
					return true;				
				}
			}

		}

		return false;
	}	
	
	function getConfigValue($group, $key)
	{
		$group = addslashes($group);
		$key = addslashes($key);

		$query = "select config_value from configuration where config_group = '$group' and config_key = '$key'";
		$queryok = mysql_db_query($this->db, $query, $this->mysqlid);
		if($queryok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		if(mysql_num_rows($queryok) > 0)
		{
			list($config_value) = mysql_fetch_array($queryok);

			return $config_value;
		}

		return "";
	}
	
	function cache_watermark_image($pid, $ROOT_DIR)
	{
		if(intval($this->getConfigValue("eFluent Settings", "cache_watermark_images")) == 1)
		{
			$query = "select md5(idata), itype from product_images where id = '$pid' and thumb = 0";
			if(!$q2ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($md5_idata, $itype) = mysql_fetch_array($q2ok))
			{
				$query = "select md5 from product_images_md5 where id = '$pid' and itype = '$itype' and thumb = '0'";
				if(!$q3ok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($md5_image) = mysql_fetch_array($q3ok);
				
				if($md5_image != $md5_idata)
				{
					// fire off the thread
					$cmd = "/usr/bin/php $ROOT_DIR/mgt/scripts/watermark_cache_fork.phtml $ROOT_DIR $pid $itype";
					exec($cmd);
				}
				else 
				{
					//echo "... Image already complete\n";
				}
			}
		}
	}
}
?>