<?
class ipinfoClass
{

	function dbconnect($server, $username, $password)
	{// establish a connection to our server
		$this->mysqlid = mysql_connect($server,$username,$password);

		$this->max_query_time = 30; // 5 seconds
		$this->server = $server;
		$this->username = $username;
		$this->username = $username;
		$this->password = $password;
	}
		
	function getIP()
	{
		if($_SERVER["HTTP_X_FORWARDED_FOR"])
			$ip_addr 	= $_SERVER["HTTP_X_FORWARDED_FOR"];
		else
			$ip_addr 	= $_SERVER["REMOTE_ADDR"];
		
		return $ip_addr;
	}
	
	function Dot2LongIP($IPaddr)
	{
		
	    	if ($IPaddr == ""){return 0;} 
		else 
		{
			$ips = explode(".", "$IPaddr");
			$longip = ($ips[3] + $ips[2] * 256 + $ips[1] * 256 * 256 + $ips[0] * 256 * 256 * 256);
			
			//echo "IPADDRESS: $IPaddr LONG: $longip<BR>";
			
			return $longip;
		}
	}	
	
	function lookupIP($iplong)
	{
		//echo "&nbsp;&nbsp;lookupIP<BR>";
		if($iplong <= 33996343)
		{
			//echo "&nbsp;&nbsp;&nbsp;&nbsp;IP range below threshold<BR>";
			$ipinfo[0] = "-"; // country code
			$ipinfo[1] = "-"; // country long
			$ipinfo[2] = "-"; // region
			$ipinfo[3] = "-"; // city
			
			return $ipinfo;
		}
	
		$roof = $iplong;
/*
		while(1)
		{
			$roof += 10000;
			$query = "select ipFROM, ipTO, countrySHORT, countryLONG, ipREGION, ipCITY from iplookup where ipTO >= $iplong AND ipTO <= $roof";
			$query2ok = mysql_db_query("roitables", $query, $this->mysqlid);
			if($query2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
			if(mysql_num_rows($query2ok) > 0)
			{
				while(list($ipfrom, $ipto, $ccode, $cname, $region, $city) = mysql_fetch_array($query2ok))
				{
					if(($ipfrom <= $iplong) && ($iplong <= $ipto))
					{	
						//echo "&nbsp;&nbsp;&nbsp;&nbsp;GOT IP data<BR>";
						$ipinfo[0] = addslashes($ccode); // country code
						$ipinfo[1] = addslashes($cname); // country long
						$ipinfo[2] = addslashes($region); // region
						$ipinfo[3] = addslashes($city); // city
						
						return $ipinfo;
					}//if(($ipfrom <= $iplong) && ($iplong <= $ipto))
				}// while
			}// if(mysql_num_rows($query2ok) > 0)
	
		}

		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// NEW
 		//$query = "select ipFROM, ipTO, countrySHORT, countryLONG, ipREGION, ipCITY from iplookup where ipTO >= '$iplong'  and ipFROM <= '$iplong'";
 		echo $query;
 		$query2ok = mysql_db_query("roitrack", $query, $this->mysqlid);
		if($query2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if(mysql_num_rows($query2ok) > 0)
		{
			list($ipfrom, $ipto, $ccode, $cname, $region, $city) = mysql_fetch_array($query2ok)	;		
			$ipinfo[0] = addslashes($ccode); // country code
			$ipinfo[1] = addslashes($cname); // country long
			$ipinfo[2] = addslashes($region); // region
			$ipinfo[3] = addslashes($city); // city
						
			return $ipinfo;			
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
		$tablename = $this->getTableName($iplong);
		
		//echo "TABLENAME: $tablename<BR>";
		
		$query = "select ipFROM, ipTO, countrySHORT, countryLONG, ipREGION, ipCITY from $tablename where $iplong between ipFROM and ipTO";
 		$query2ok = mysql_db_query("ipdata", $query, $this->mysqlid);
		if($query2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if(mysql_num_rows($query2ok) > 0)
		{
			list($ipfrom, $ipto, $ccode, $cname, $region, $city) = mysql_fetch_array($query2ok)	;		
			$ipinfo[0] = addslashes($ccode); // country code
			$ipinfo[1] = addslashes($cname); // country long
			$ipinfo[2] = addslashes($region); // region
			$ipinfo[3] = addslashes($city); // city
						
			return $ipinfo;			
		}
				
		//echo "&nbsp;&nbsp;&nbsp;&nbsp;IP data not found<BR>";	
		$ipinfo[0] = "-"; // country code
		$ipinfo[1] = "-"; // country long
		$ipinfo[2] = "-"; // region
		$ipinfo[3] = "-"; // city
		
		return $ipinfo;
		
	}//function lookupIP($iplong, $mysqlid)	
	
	function getTableName($iplong)
	{
		if(($iplong >= 0) && ($iplong <= 76243967)){ $tablename = "iptable_1";}
		else if(($iplong >= 76243968) && ($iplong <= 201484159)){ $tablename = "iptable_2";}
		else if(($iplong >= 201484160) && ($iplong <= 203224191)){ $tablename = "iptable_3";}
		else if(($iplong >= 203224192) && ($iplong <= 204304319)){ $tablename = "iptable_4";}
		else if(($iplong >= 204304320) && ($iplong <= 208425191)){ $tablename = "iptable_5";}
		else if(($iplong >= 208425192) && ($iplong <= 211260543)){ $tablename = "iptable_6";}
		else if(($iplong >= 211260544) && ($iplong <= 213058151)){ $tablename = "iptable_7";}
		else if(($iplong >= 213058152) && ($iplong <= 298616575)){ $tablename = "iptable_8";}
		else if(($iplong >= 298616576) && ($iplong <= 407625983)){ $tablename = "iptable_9";}
		else if(($iplong >= 407625984) && ($iplong <= 415048191)){ $tablename = "iptable_10";}
		else if(($iplong >= 415048192) && ($iplong <= 638286591)){ $tablename = "iptable_11";}
		else if(($iplong >= 638286592) && ($iplong <= 761058047)){ $tablename = "iptable_12";}
		else if(($iplong >= 761058048) && ($iplong <= 1028464127)){ $tablename = "iptable_13";}
		else if(($iplong >= 1028464128) && ($iplong <= 1039732223)){ $tablename = "iptable_14";}
		else if(($iplong >= 1039732224) && ($iplong <= 1049907967)){ $tablename = "iptable_15";}
		else if(($iplong >= 1049907968) && ($iplong <= 1058143231)){ $tablename = "iptable_16";}
		else if(($iplong >= 1058143232) && ($iplong <= 1061733119)){ $tablename = "iptable_17";}
		else if(($iplong >= 1061733120) && ($iplong <= 1062760407)){ $tablename = "iptable_18";}
		else if(($iplong >= 1062760408) && ($iplong <= 1063894911)){ $tablename = "iptable_19";}
		else if(($iplong >= 1063894912) && ($iplong <= 1064993703)){ $tablename = "iptable_20";}
		else if(($iplong >= 1064993704) && ($iplong <= 1066561023)){ $tablename = "iptable_21";}
		else if(($iplong >= 1066561024) && ($iplong <= 1068433727)){ $tablename = "iptable_22";}
		else if(($iplong >= 1068433728) && ($iplong <= 1070028231)){ $tablename = "iptable_23";}
		else if(($iplong >= 1070028232) && ($iplong <= 1070336607)){ $tablename = "iptable_24";}
		else if(($iplong >= 1070336608) && ($iplong <= 1071653975)){ $tablename = "iptable_25";}
		else if(($iplong >= 1071653976) && ($iplong <= 1072163071)){ $tablename = "iptable_26";}
		else if(($iplong >= 1072163072) && ($iplong <= 1073574079)){ $tablename = "iptable_27";}
		else if(($iplong >= 1073574080) && ($iplong <= 1076129999)){ $tablename = "iptable_28";}
		else if(($iplong >= 1076130000) && ($iplong <= 1077348767)){ $tablename = "iptable_29";}
		else if(($iplong >= 1077348768) && ($iplong <= 1078723567)){ $tablename = "iptable_30";}
		else if(($iplong >= 1078723568) && ($iplong <= 1080918199)){ $tablename = "iptable_31";}
		else if(($iplong >= 1080918200) && ($iplong <= 1082873087)){ $tablename = "iptable_32";}
		else if(($iplong >= 1082873088) && ($iplong <= 1084481943)){ $tablename = "iptable_33";}
		else if(($iplong >= 1084481944) && ($iplong <= 1084836015)){ $tablename = "iptable_34";}
		else if(($iplong >= 1084836016) && ($iplong <= 1085255735)){ $tablename = "iptable_35";}
		else if(($iplong >= 1085255736) && ($iplong <= 1087221599)){ $tablename = "iptable_36";}
		else if(($iplong >= 1087221600) && ($iplong <= 1088453056)){ $tablename = "iptable_37";}
		else if(($iplong >= 1088453057) && ($iplong <= 1090213631)){ $tablename = "iptable_38";}
		else if(($iplong >= 1090213632) && ($iplong <= 1093310103)){ $tablename = "iptable_39";}
		else if(($iplong >= 1093310104) && ($iplong <= 1094909023)){ $tablename = "iptable_40";}
		else if(($iplong >= 1094909024) && ($iplong <= 1095467017)){ $tablename = "iptable_41";}
		else if(($iplong >= 1095467018) && ($iplong <= 1096155487)){ $tablename = "iptable_42";}
		else if(($iplong >= 1096155488) && ($iplong <= 1097258415)){ $tablename = "iptable_43";}
		else if(($iplong >= 1097258416) && ($iplong <= 1098323263)){ $tablename = "iptable_44";}
		else if(($iplong >= 1098323264) && ($iplong <= 1101238287)){ $tablename = "iptable_45";}
		else if(($iplong >= 1101238288) && ($iplong <= 1103493407)){ $tablename = "iptable_46";}
		else if(($iplong >= 1103493408) && ($iplong <= 1104170063)){ $tablename = "iptable_47";}
		else if(($iplong >= 1104170064) && ($iplong <= 1104862935)){ $tablename = "iptable_48";}
		else if(($iplong >= 1104862936) && ($iplong <= 1106551711)){ $tablename = "iptable_49";}
		else if(($iplong >= 1106551712) && ($iplong <= 1107965479)){ $tablename = "iptable_50";}
		else if(($iplong >= 1107965480) && ($iplong <= 1110934527)){ $tablename = "iptable_51";}
		else if(($iplong >= 1110934528) && ($iplong <= 1113509375)){ $tablename = "iptable_52";}
		else if(($iplong >= 1113509376) && ($iplong <= 1115320391)){ $tablename = "iptable_53";}
		else if(($iplong >= 1115320392) && ($iplong <= 1116212471)){ $tablename = "iptable_54";}
		else if(($iplong >= 1116212472) && ($iplong <= 1117097727)){ $tablename = "iptable_55";}
		else if(($iplong >= 1117097728) && ($iplong <= 1119170127)){ $tablename = "iptable_56";}
		else if(($iplong >= 1119170128) && ($iplong <= 1121316623)){ $tablename = "iptable_57";}
		else if(($iplong >= 1121316624) && ($iplong <= 1123968599)){ $tablename = "iptable_58";}
		else if(($iplong >= 1123968600) && ($iplong <= 1126659839)){ $tablename = "iptable_59";}
		else if(($iplong >= 1126659840) && ($iplong <= 1128794175)){ $tablename = "iptable_60";}
		else if(($iplong >= 1128794176) && ($iplong <= 1131617943)){ $tablename = "iptable_61";}
		else if(($iplong >= 1131617944) && ($iplong <= 1132622079)){ $tablename = "iptable_62";}
		else if(($iplong >= 1132622080) && ($iplong <= 1138945535)){ $tablename = "iptable_63";}
		else if(($iplong >= 1138945536) && ($iplong <= 1144801791)){ $tablename = "iptable_64";}
		else if(($iplong >= 1144801792) && ($iplong <= 1148001023)){ $tablename = "iptable_65";}
		else if(($iplong >= 1148001024) && ($iplong <= 1153612287)){ $tablename = "iptable_66";}
		else if(($iplong >= 1153612288) && ($iplong <= 1157776127)){ $tablename = "iptable_67";}
		else if(($iplong >= 1157776128) && ($iplong <= 1160187903)){ $tablename = "iptable_68";}
		else if(($iplong >= 1160187904) && ($iplong <= 1164698319)){ $tablename = "iptable_69";}
		else if(($iplong >= 1164698320) && ($iplong <= 1170808831)){ $tablename = "iptable_70";}
		else if(($iplong >= 1170808832) && ($iplong <= 1343139839)){ $tablename = "iptable_71";}
		else if(($iplong >= 1343139840) && ($iplong <= 1353138943)){ $tablename = "iptable_72";}
		else if(($iplong >= 1353138944) && ($iplong <= 1364335615)){ $tablename = "iptable_73";}
		else if(($iplong >= 1364335616) && ($iplong <= 1380321279)){ $tablename = "iptable_74";}
		else if(($iplong >= 1380321280) && ($iplong <= 1410375679)){ $tablename = "iptable_75";}
		else if(($iplong >= 1410375680) && ($iplong <= 2163985151)){ $tablename = "iptable_76";}
		else if(($iplong >= 2163985152) && ($iplong <= 2189187839)){ $tablename = "iptable_77";}
		else if(($iplong >= 2189187840) && ($iplong <= 2221867263)){ $tablename = "iptable_78";}
		else if(($iplong >= 2221867264) && ($iplong <= 2257807103)){ $tablename = "iptable_79";}
		else if(($iplong >= 2257807104) && ($iplong <= 2317129727)){ $tablename = "iptable_80";}
		else if(($iplong >= 2317129728) && ($iplong <= 2364477150)){ $tablename = "iptable_81";}
		else if(($iplong >= 2364477151) && ($iplong <= 2388397823)){ $tablename = "iptable_82";}
		else if(($iplong >= 2388397824) && ($iplong <= 2434220799)){ $tablename = "iptable_83";}
		else if(($iplong >= 2434220800) && ($iplong <= 2473518079)){ $tablename = "iptable_84";}
		else if(($iplong >= 2473518080) && ($iplong <= 2515534079)){ $tablename = "iptable_85";}
		else if(($iplong >= 2515534080) && ($iplong <= 2553011967)){ $tablename = "iptable_86";}
		else if(($iplong >= 2553011968) && ($iplong <= 2620271871)){ $tablename = "iptable_87";}
		else if(($iplong >= 2620271872) && ($iplong <= 2670213375)){ $tablename = "iptable_88";}
		else if(($iplong >= 2670213376) && ($iplong <= 2720491007)){ $tablename = "iptable_89";}
		else if(($iplong >= 2720491008) && ($iplong <= 2774230015)){ $tablename = "iptable_90";}
		else if(($iplong >= 2774230016) && ($iplong <= 2795077631)){ $tablename = "iptable_91";}
		else if(($iplong >= 2795077632) && ($iplong <= 2830964991)){ $tablename = "iptable_92";}
		else if(($iplong >= 2830964992) && ($iplong <= 2898979071)){ $tablename = "iptable_93";}
		else if(($iplong >= 2898979072) && ($iplong <= 3230827775)){ $tablename = "iptable_94";}
		else if(($iplong >= 3230827776) && ($iplong <= 3242233855)){ $tablename = "iptable_95";}
		else if(($iplong >= 3242233856) && ($iplong <= 3252469247)){ $tablename = "iptable_96";}
		else if(($iplong >= 3252469248) && ($iplong <= 3262477571)){ $tablename = "iptable_97";}
		else if(($iplong >= 3262477572) && ($iplong <= 3269291519)){ $tablename = "iptable_98";}
		else if(($iplong >= 3269291520) && ($iplong <= 3276045191)){ $tablename = "iptable_99";}
		else if(($iplong >= 3276045192) && ($iplong <= 3281349119)){ $tablename = "iptable_100";}
		else if(($iplong >= 3281349120) && ($iplong <= 3287890431)){ $tablename = "iptable_101";}
		else if(($iplong >= 3287890432) && ($iplong <= 3328858111)){ $tablename = "iptable_102";}
		else if(($iplong >= 3328858112) && ($iplong <= 3338267135)){ $tablename = "iptable_103";}
		else if(($iplong >= 3338267136) && ($iplong <= 3348612351)){ $tablename = "iptable_104";}
		else if(($iplong >= 3348612352) && ($iplong <= 3354612039)){ $tablename = "iptable_105";}
		else if(($iplong >= 3354612040) && ($iplong <= 3362121983)){ $tablename = "iptable_106";}
		else if(($iplong >= 3362121984) && ($iplong <= 3381095679)){ $tablename = "iptable_107";}
		else if(($iplong >= 3381095680) && ($iplong <= 3399105279)){ $tablename = "iptable_108";}
		else if(($iplong >= 3399105280) && ($iplong <= 3409908223)){ $tablename = "iptable_109";}
		else if(($iplong >= 3409908224) && ($iplong <= 3421161471)){ $tablename = "iptable_110";}
		else if(($iplong >= 3421161472) && ($iplong <= 3429187327)){ $tablename = "iptable_111";}
		else if(($iplong >= 3429187328) && ($iplong <= 3436390015)){ $tablename = "iptable_112";}
		else if(($iplong >= 3436390016) && ($iplong <= 3449083903)){ $tablename = "iptable_113";}
		else if(($iplong >= 3449083904) && ($iplong <= 3454292223)){ $tablename = "iptable_114";}
		else if(($iplong >= 3454292224) && ($iplong <= 3459210751)){ $tablename = "iptable_115";}
		else if(($iplong >= 3459210752) && ($iplong <= 3463917055)){ $tablename = "iptable_116";}
		else if(($iplong >= 3463917056) && ($iplong <= 3468164095)){ $tablename = "iptable_117";}
		else if(($iplong >= 3468164096) && ($iplong <= 3473538047)){ $tablename = "iptable_118";}
		else if(($iplong >= 3473538048) && ($iplong <= 3476904999)){ $tablename = "iptable_119";}
		else if(($iplong >= 3476905000) && ($iplong <= 3479958255)){ $tablename = "iptable_120";}
		else if(($iplong >= 3479958256) && ($iplong <= 3484040447)){ $tablename = "iptable_121";}
		else if(($iplong >= 3484040448) && ($iplong <= 3486612735)){ $tablename = "iptable_122";}
		else if(($iplong >= 3486612736) && ($iplong <= 3489067263)){ $tablename = "iptable_123";}
		else if(($iplong >= 3489067264) && ($iplong <= 3492019591)){ $tablename = "iptable_124";}
		else if(($iplong >= 3492019592) && ($iplong <= 3493651711)){ $tablename = "iptable_125";}
		else if(($iplong >= 3493651712) && ($iplong <= 3501837951)){ $tablename = "iptable_126";}
		else if(($iplong >= 3501837952) && ($iplong <= 3503339519)){ $tablename = "iptable_127";}
		else if(($iplong >= 3503339520) && ($iplong <= 3505795583)){ $tablename = "iptable_128";}
		else if(($iplong >= 3505795584) && ($iplong <= 3507230159)){ $tablename = "iptable_129";}
		else if(($iplong >= 3507230160) && ($iplong <= 3509891071)){ $tablename = "iptable_130";}
		else if(($iplong >= 3509891072) && ($iplong <= 3512547327)){ $tablename = "iptable_131";}
		else if(($iplong >= 3512547328) && ($iplong <= 3515164159)){ $tablename = "iptable_132";}
		else if(($iplong >= 3515164160) && ($iplong <= 3517444735)){ $tablename = "iptable_133";}
		else if(($iplong >= 3517444736) && ($iplong <= 3519057503)){ $tablename = "iptable_134";}
		else if(($iplong >= 3519057504) && ($iplong <= 3521098079)){ $tablename = "iptable_135";}
		else if(($iplong >= 3521098080) && ($iplong <= 3525482751)){ $tablename = "iptable_136";}
		else if(($iplong >= 3525482752) && ($iplong <= 3534573567)){ $tablename = "iptable_137";}
		else if(($iplong >= 3534573568) && ($iplong <= 3541303039)){ $tablename = "iptable_138";}
		else if(($iplong >= 3541303040) && ($iplong <= 3552675583)){ $tablename = "iptable_139";}
		else if(($iplong >= 3552675584) && ($iplong <= 3560942511)){ $tablename = "iptable_140";}
		else if(($iplong >= 3560942512) && ($iplong <= 3567980031)){ $tablename = "iptable_141";}
		else if(($iplong >= 3567980032) && ($iplong <= 3575829503)){ $tablename = "iptable_142";}
		else if(($iplong >= 3575829504) && ($iplong <= 3583922943)){ $tablename = "iptable_143";}
		else if(($iplong >= 3583922944) && ($iplong <= 3624409599)){ $tablename = "iptable_144";}
		else if(($iplong >= 3624409600) && ($iplong <= 3626581231)){ $tablename = "iptable_145";}
		else if(($iplong >= 3626581232) && ($iplong <= 3628089743)){ $tablename = "iptable_146";}
		else if(($iplong >= 3628089744) && ($iplong <= 3630096943)){ $tablename = "iptable_147";}
		else if(($iplong >= 3630096944) && ($iplong <= 3632187903)){ $tablename = "iptable_148";}
		else if(($iplong >= 3632187904) && ($iplong <= 3634360759)){ $tablename = "iptable_149";}
		else if(($iplong >= 3634360760) && ($iplong <= 3635789951)){ $tablename = "iptable_150";}
		else if(($iplong >= 3635789952) && ($iplong <= 3637548415)){ $tablename = "iptable_151";}
		else if(($iplong >= 3637548416) && ($iplong <= 3639169807)){ $tablename = "iptable_152";}
		else if(($iplong >= 3639169808) && ($iplong <= 3641113855)){ $tablename = "iptable_153";}
		else if(($iplong >= 3641113856) && ($iplong <= 3649270783)){ $tablename = "iptable_154";}
		else if(($iplong >= 3649270784) && ($iplong <= 3663683071)){ $tablename = "iptable_155";}
		else if(($iplong >= 3663683072) && ($iplong <= 3675764479)){ $tablename = "iptable_156";}
		else if(($iplong >= 3675764480) && ($iplong <= 3690488575)){ $tablename = "iptable_157";}
		else if(($iplong >= 3690488576) && ($iplong <= 3723015167)){ $tablename = "iptable_158";}
		else if(($iplong >= 3723016191) && ($iplong <= 4278190080)){ $tablename = "iptable_159";}
		
		return $tablename;
	}
	
	function resolveIP($ROOT_DIR)
	{
		$user_img = $user_city = $user_reg = $user_cc = "";

		if($_SESSION["IPINFO"] == "")
		{
			$ipinfo = $this->lookupIP( $this->Dot2LongIP( $this->getIP() ) );
			$_SESSION["IPINFO"] = $ipinfo;
		}
		
		$ipinfo = $_SESSION["IPINFO"];
		
		if($ipinfo != "")
		{
			// CITY
			if( ($ipinfo[3] != "") && ($ipinfo[3] != "-") && ($ipinfo[3] != "--") )
				$user_city = $ipinfo[3];
			// REGION
			if( ($ipinfo[2] != "") && ($ipinfo[2] != "-") && ($ipinfo[2] != "--") )
				$user_reg = $ipinfo[2];
			
			$ipinfo[0] = trim($ipinfo[0]);
			
			if( ($ipinfo[0] != "") && ($ipinfo[0] != "-") && ($ipinfo[0] != "--") )
			{
				$user_cc = strtolower($ipinfo[0]);
				$user_ct = $ipinfo[1];
				
				if(file_exists("$ROOT_DIR/images/flags/$user_cc.gif") )
				{
					$user_img = "/images/flags/$user_cc.gif";
				}
			}
		}	
		
		$data[0] = $user_img;
		$data[1] = $user_city;
		$data[2] = $user_reg;
		$data[3] = $user_cc;
		$data[4] = $user_ct;
		
		return $data;
	}
	
	function resolveIPAddress($ip_addr, $ROOT_DIR = "/home/httpd/alwaysmart.com")
	{
		$user_img = $user_city = $user_reg = $user_cc = $user_ct = "";

		$ipinfo = $this->lookupIP( $this->Dot2LongIP( $ip_addr ) );
		
		if($ipinfo != "")
		{
			// CITY
			if( ($ipinfo[3] != "") && ($ipinfo[3] != "-") && ($ipinfo[3] != "--") )
				$user_city = $ipinfo[3];
			// REGION
			if( ($ipinfo[2] != "") && ($ipinfo[2] != "-") && ($ipinfo[2] != "--") )
				$user_reg = $ipinfo[2];
			
			$ipinfo[0] = trim($ipinfo[0]);
			
			if( ($ipinfo[0] != "") && ($ipinfo[0] != "-") && ($ipinfo[0] != "--") )
			{
				$user_cc = strtolower($ipinfo[0]);
				$user_ct = $ipinfo[1];
				
				if(file_exists("$ROOT_DIR/images/flags/$user_cc.gif") )
				{
					$user_img = "/images/flags/$user_cc.gif";
				}
			}
		}	
		
		$data[0] = $user_img;
		$data[1] = $user_city;
		$data[2] = $user_reg;
		$data[3] = $user_cc;
		$data[4] = $user_ct;
		
		return $data;
	}	
	
	function getIPCountry($ip_addr)
	{
		$longip = $this->Dot2LongIP($ip_addr);
		
		$query = "select country, countryname from ip2country where '$longip' between ipfrom and ipto";
		$query2ok = mysql_db_query("ipdata", $query, $this->mysqlid);
		if($query2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		return mysql_fetch_array($query2ok);
	}
	
	function getClientIpAddr()
	{
		$ip_addr = '';
	
		if (!empty($_SERVER['HTTP_CLIENT_IP']))
		{
			$ip_addr = $_SERVER['HTTP_CLIENT_IP'];
		}
		elseif (!empty($_SERVER['HTTP_X_FORWARDED_FOR']))
		{
			$ip_addr = $_SERVER['HTTP_X_FORWARDED_FOR'];
		}
		else
		{
			$ip_addr = $_SERVER['REMOTE_ADDR'];
		}	
		return $ip_addr;
	}	
	
	function checkIfCalifornia($ip_addr)
	{
		$longip = $this->Dot2LongIP($ip_addr);
		
		$q = "SELECT id 
			  FROM geolitecity_blocks 
			  WHERE '$longip' BETWEEN startipnum AND endipnum";
		$qok = mysql_db_query('ipdata', $q, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		return mysql_num_rows($qok);
	}
}
?>