<?
class termsReportClass
{
	function dbconnect($server, $username, $password)
	{// establish a connection to our server
		$this->mysqlid = mysql_connect($server,$username,$password);

		if($this->mysqlid == false)
		{
			echo "ERROR CONNECTING TO DATABASE\n";
			exit();
		}
		
		$this->server = $server;
		$this->username = $username;
		$this->password = $password;
	}
	
	
	function outputSearchTermsPView($bstamp, $estamp, $clicktype, $clickid, $phrase)
	{
		// this is only for price engines
		$coa = $this->tuc->lookupCOA($clicktype, $clickid);
		
		$query = "SELECT distinct(pid), sum(views), manname, manpart from
 					traffic_search_terms_external_extended 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						clicktype = '$clicktype' and
						clickid = '$clickid' and
						phrase = '$phrase' group by pid";	

		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($pid, $views, $manname, $manpart) = mysql_fetch_array($qok))
		{
			$reportdata['pid'][] 		= $pid;
			$reportdata['views'][] 		= $views;
			$reportdata['manname'][] 	= $manname;
			$reportdata['manpart'][] 	= $manpart;
		}
		
		if(count($reportdata['views']) > 0)
			array_multisort($reportdata['views'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['pid'],  $reportdata['manname'], $reportdata['manpart']);

		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Manname</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Manpart</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Phrase</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Views</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['pid']); $xx++)
		{
		?>
		<tr>
			<td class="inbItem" height=21><?=$reportdata['manname'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21><?=$reportdata['manpart'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21><?=$phrase;?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['views'][$xx];?></td><td>&nbsp;</td>			
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
		</tr>
		</table>
		<?			
	}		

	function outputSearchTermsInternal($bstamp, $estamp)
	{
		// this is only for price engines
		$coa = $this->tuc->lookupCOA($clicktype, $clickid);
		
		$query = "SELECT distinct(phrase), sum(clicks), sum(pviews) from
 					traffic_search_terms_internal
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' 
						group by phrase";	

		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($phrase, $clicks, $pviews) = mysql_fetch_array($qok))
		{
			$reportdata['phrase'][] 	= $phrase;
			$reportdata['clicks'][] 	= $clicks;
			$reportdata['pviews'][] 	= $pviews;

		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['phrase'],  $reportdata['pviews']);

		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Phrase</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Times Searched</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Unique Items Viewed</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['phrase']); $xx++)
		{
		?>
		<tr>
			<td class="inbItem" height=21 align=left><?=$reportdata['phrase'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['pviews'][$xx];?></td><td>&nbsp;</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>

		</tr>
		</table>
		<?			
	}			
}
?>