<?
class trafficUtilityClass
{
	function dbconnect($server, $username, $password)
	{// establish a connection to our server
		$this->mysqlid = mysql_connect($server,$username,$password);

		if($this->mysqlid == false)
		{
			echo "ERROR CONNECTING TO DATABASE\n";
			exit();
		}
		
		$this->server = $server;
		$this->username = $username;
		$this->password = $password;
	}
	
	function getmicrotime()
	{ 
		list($usec, $sec) = explode(" ",microtime()); 
		return ((float)$usec + (float)$sec); 
	}

	function getPEName($peid)
	{
		$query = "select pename from priceengines where peid = '$peid'";
		$qok = mysql_db_query("traffic_tables", $query, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($name) = mysql_fetch_array($qok);
		return $name;
	}
	
	function getSEName($seid)
	{
		$query = "select engine from searchengines where seid = '$seid'";
			$qok = mysql_db_query("traffic_tables", $query, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($name) = mysql_fetch_array($qok);
		return $name;
	}

	function lookupCOA($clicktype, $clickid)
	{// to be completed later
		$coa = .60;
		
		return $coa;
	}	
	
	function outputReportTitle($companyname, $reportname, $bstamp, $estamp)
	{
		if($_GET["r"] != "") $reporttype = $_GET["r"];
		else if($_POST["r"] != "") $reporttype = $_POST["r"];
		else if($_POST["r"] != "") $reporttype = "";
			
		$begin = date("m/d/Y", $bstamp);
		$end = date("m/d/Y", $estamp);
		?>
		<center>
		<form name="reportheader" id="formheader" style="margin:0px">
		<input type="hidden" name="r" value="<?=$reporttype;?>">
		<input type="hidden" name="ct" value="<?=$_GET["ct"];?>">
		<input type="hidden" name="cid" value="<?=$_GET["cid"];?>">
		<table>
		<tr><td class="inbItem" height=21 align=center><B><?=$companyname;?></B></td></tr>	
		<tr><td class="inbItem" height=21 align=center><?=$reportname;?></td></tr>		
		<tr>
			<td class="inbItem" height=21 align=center>
			
			<input type="text" name="bdate" value="<?=$begin;?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['reportheader'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['reportheader'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
			-
							
			<input type="text" name="edate" value="<?=$end;?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['reportheader'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['reportheader'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">			
			
			</td>
			
			<td class="inbItem">
				<input type="submit" name="Action" value="View" class="buttonItem">
			</td>
		</tr>		
		</table>
		</form>
		<BR><BR>
		</center>
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
		<?
	}
}