<?
class trafficReportClass
{
	function dbconnect($server, $username, $password)
	{// establish a connection to our server
		$this->mysqlid = mysql_connect($server,$username,$password);

		if($this->mysqlid == false)
		{
			echo "ERROR CONNECTING TO DATABASE\n";
			exit();
		}
		
		$this->server = $server;
		$this->username = $username;
		$this->password = $password;
	}
	
	// ot = html or CSV   
	// .................. ($bstamp, $estamp, $ct, 0, $camponly)
	
	function outputClickSummary($bstamp, $estamp, $clicktype, $pid = 0, $camponly) 
	{
		$bdate = date("m/d/Y", $bstamp);
		$edate = date("m/d/Y", $estamp);
		
		if($camponly == 1)
		{
			$campaddon = " and (clicktype = 1 or clicktype = 2) ";
		}
		
		if($clicktype != "")
			$query ="select distinct(clicktype) from traffic_click_summary where tstamp >= '$bstamp' and tstamp <= '$estamp' and clicktype = '$clicktype' $campaddon"; 
		else 
		{
			if($pid > 0)
				$query ="select distinct(clicktype) from traffic_click_summary_extended where tstamp >= '$bstamp' and tstamp <= '$estamp' and pid = '$pid' $campaddon"; 
			else 
				$query ="select distinct(clicktype) from traffic_click_summary where tstamp >= '$bstamp' and tstamp <= '$estamp' $campaddon"; 
		}
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($clicktype) = mysql_fetch_array($qok))
		{
			if($pid > 0)
			{
				$query = "select distinct(clickid), sum(clicks), sum(sales), sum(salesvol), sum(coa) from traffic_click_summary_extended 
						where 
						clicktype = '$clicktype' and
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and
						pid = $pid
						group by clickid order by clicktype";
			}
			else 
			{
				$query = "select distinct(clickid), sum(clicks), sum(sales), sum(salesvol), sum(coa) from traffic_click_summary 
						where 
						clicktype = '$clicktype' and
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' 
						group by clickid order by clicktype";
			}
		
			$q2ok = mysql_db_query($this->db, $query, $this->mysqlid);
			if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($clickid, $clicks, $sales, $salesvol, $coa) = mysql_fetch_array($q2ok))
			{
				$reportdata['clicktype'][] 	= $clicktype;
				$reportdata['clickid'][] 	= $clickid;
				$reportdata['clicks'][] 	= $clicks;
				$reportdata['coa'][]		= $coa;
				$reportdata['sales'][] 	= $sales;
				$reportdata['salesvol'][] 	= $salesvol;
				if($clicks > 0)
					$reportdata['conv'][] 	= $sales * 100 / $clicks;
				else
					$reportdata['conv'][] 	= 0;
			}
		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, $reportdata['clicktype'], $reportdata['clickid'], $reportdata['sales'], $reportdata['salesvol'], $reportdata['conv'], $reportdata['coa']);
		
		?>
		<center>
		<table>
		<tr>
			<? if($this->abbreviate != 1){ ?> <td class="uline" height=21 align=center><B>Type</B></td><td>&nbsp;</td> <? } ?>
			<td class="uline" height=21 align=center><B>Name</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Clicks</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>COA</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td>
		</tr>
		<?
		$inwin = 0;
		
		if(intval($pid) > 0) 
			$inwin = 1;
		 
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$clicktype = $reportdata['clicktype'][$xx];
			$clickid = $reportdata['clickid'][$xx];
			if($clicktype == 1)
			{$type = "Price Engine"; $tname = $this->tuc->getPEName($clickid);}
			else if($clicktype == 2)
			{$type = "Campaign"; $tname = $clickid; }
			else if($clicktype == 3)
			{ $type = "Search"; $tname = $this->tuc->getSEName($clickid); }
			else if($clicktype == 0)
			{ $type = "Referral"; $tname = $clickid;}
			else if($clicktype == 4)
			{ $type = "Direct"; $tname = "Direct Request";}
			
			$tclicks += $reportdata['clicks'][$xx];
			$tcoa += $reportdata['coa'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
			
			if($this->abbreviate == 1)
			{
				if(strlen($tname) > 15)
					$tname = substr($tname, 0, 12) . "...";
			}
		?>
		<tr>
			<? if($this->abbreviate != 1){ ?>  <td class="inbItem" height=21><?=$type;?></td><td>&nbsp;</td> <? } ?>
			
			<?if($clicktype == 4) // direct request 
			{
				?>
				<td class="inbItem" height=21>
					<?=$tname;?>
				</td>
				<td>&nbsp;</td>				
				<?
			}
			else 
			{
				$link = "/mgt/t/default.phtml?r=click_summary_extended&ct=".urlencode($clicktype)."&cid=".urlencode($clickid)."&bdate=".urlencode($bdate)."&edate=".urlencode($edate)."&inwin=".$inwin;
				?>
				<td class="inbItem" height=21>
					<!--<a href="/mgt/t/report.phtml?r=click_summary_extended&ct=<?=$clicktype;?>&cid=<?=$clickid;?>&bdate=<?=$bdate;?>&edate=<?=$edate;?>&inwin=<?=$inwin;?>" 
						class="inbItem"><?=$tname;?>-->
					<a href="<?=$link?>" class="inbItem"><?=$tname;?></a>
				</td>
				<td>&nbsp;</td>				
				<?
			}
			?>
			
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['coa'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center>
			<?
			if($reportdata['sales'][$xx] > 0)
			{?>
				<a href="/mgt/t/report.phtml?r=sales_summary_extended&ct=<?=$clicktype;?>&cid=<?=$clickid;?>&bdate=<?=$bdate;?>&edate=<?=$edate;?>&pid=<?=$pid;?>&inwin=<?=$inwin;?>" 
						class="inbItem"><?=$reportdata['sales'][$xx];?></a>
			<?
			}
			else 
			{
			?>
				<?=$reportdata['sales'][$xx];?>
			<?
			}
			?>
			</td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<? if($this->abbreviate != 1){ ?> <td class="uline" height=21></td><td>&nbsp;</td> <?} ?>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tcoa, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?		
	}

	function outputClickSummaryMR($bstamp, $estamp, $clicktype, $pid = 0, $camponly) 
	{
		$bdate = date("m/d/Y", $bstamp);
		$edate = date("m/d/Y", $estamp);
		
		$query ="select distinct(clicktype) from traffic_click_summary where tstamp >= '$bstamp' and tstamp <= '$estamp' and (clicktype = 1 or clicktype = 2)"; 
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($clicktype) = mysql_fetch_array($qok))
		{
			$query = "select distinct(clickid), sum(clicks), sum(sales), sum(salesvol), sum(coa) from traffic_click_summary 
						where 
						clicktype = '$clicktype' and
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' 
						group by clickid order by clicktype";
			$q2ok = mysql_db_query($this->db, $query, $this->mysqlid);
			if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($clickid, $clicks, $sales, $salesvol, $coa) = mysql_fetch_array($q2ok))
			{
				$reportdata['clicktype'][] 	= $clicktype;
				$reportdata['clickid'][] 	= $clickid;
				$reportdata['clicks'][] 	= $clicks;
				$reportdata['coa'][]		= $coa;
				$reportdata['sales'][] 	= $sales;
				$reportdata['salesvol'][] 	= $salesvol;
				if($clicks > 0)
					$reportdata['conv'][] 	= $sales * 100 / $clicks;
				else
					$reportdata['conv'][] 	= 0;
			}
		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, $reportdata['clicktype'], $reportdata['clickid'], $reportdata['sales'], $reportdata['salesvol'], $reportdata['conv'], $reportdata['coa']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center>Name</td><td>&nbsp;</td>
			<td class="uline" height=21 align=center>Clicks</td><td>&nbsp;</td>
			<td class="uline" height=21 align=center>Sales</td><td>&nbsp;</td>
			<td class="uline" height=21 align=center>Conversion</td>
		</tr>
		<?
		$inwin = 0;
		
		if(intval($pid) > 0) 
			$inwin = 1;
		 
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$clicktype = $reportdata['clicktype'][$xx];
			$clickid = $reportdata['clickid'][$xx];
			if($clicktype == 1)
			{$type = "Price Engine"; $tname = $this->tuc->getPEName($clickid);}
			else if($clicktype == 2)
			{$type = "Campaign"; $tname = $clickid; }
			else if($clicktype == 3)
			{ $type = "Search"; $tname = $this->tuc->getSEName($clickid); }
			else if($clicktype == 0)
			{ $type = "Referral"; $tname = $clickid;}
			else if($clicktype == 4)
			{ $type = "Direct"; $tname = "Direct Request";}
			
			$tclicks += $reportdata['clicks'][$xx];
			$tcoa += $reportdata['coa'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
			
			if($this->abbreviate == 1)
			{
				if(strlen($tname) > 15)
					$tname = substr($tname, 0, 12) . "...";
			}
		?>
		<tr>
			<?if($clicktype == 4) // direct request 
			{
				?>
				<td class="inbItem" height=21>
					<?=$tname;?>
				</td>
				<td>&nbsp;</td>				
				<?
			}
			else 
			{
				?>
				<td class="inbItem" height=21>
					<a href="/mgt/t/report.phtml?r=click_summary_extended&ct=<?=$clicktype;?>&cid=<?=$clickid;?>&bdate=<?=$bdate;?>&edate=<?=$edate;?>&inwin=<?=$inwin;?>" 
						class="inbItem"><?=$tname;?>
				</td>
				<td>&nbsp;</td>				
				<?
			}
			?>
			
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center>
			<?
			if($reportdata['sales'][$xx] > 0)
			{?>
				<a href="/mgt/t/report.phtml?r=sales_summary_extended&ct=<?=$clicktype;?>&cid=<?=$clickid;?>&bdate=<?=$bdate;?>&edate=<?=$edate;?>&pid=<?=$pid;?>&inwin=<?=$inwin;?>" 
						class="inbItem"><?=$reportdata['sales'][$xx];?></a>
			<?
			}
			else 
			{
			?>
				<?=$reportdata['sales'][$xx];?>
			<?
			}
			?>
			</td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?		
	}	
	
	function outputClickSummaryExtended_PE($bstamp, $estamp, $clicktype, $clickid)
	{
		$query = "SELECT distinct(pid), sum(clicks), sum(sales), sum(salesvol), sum(coa),  manname, manpart, descr from
 					traffic_click_summary_extended 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						clicktype = '$clicktype' and 
						clickid = '$clickid' group by pid";	

		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		//echo $query;
		
		while(list($pid, $clicks, $sales, $salesvol, $coa, $manname, $manpart, $descr) = mysql_fetch_array($qok))
		{
			$reportdata['pid'][] 		= $pid;
			$reportdata['clicks'][] 	= $clicks;
			$reportdata['sales'][] 	= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
			$reportdata['manname'][] 	= $manname;
			$reportdata['manpart'][] 	= $manpart;
			$reportdata['descr'][] 	= $descr;
				
			$reportdata['coa'][]		=  $coa;

			if($clicks > 0)
				$reportdata['conv'][] 	= $sales * 100 / $clicks;
			else
				$reportdata['conv'][] 	= 0;
		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['pid'],  $reportdata['sales'], $reportdata['salesvol'], $reportdata['manname'], $reportdata['manpart'],
				$reportdata['descr'], $reportdata['coa'], $reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>PID</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Manufacturer</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Product Part</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Clicks</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>COA</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$tclicks += $reportdata['clicks'][$xx];
			$tcoa += $reportdata['coa'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		?>
		<tr>
			<td class="inbItem" height=21><?=$reportdata['pid'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21><?=$reportdata['manname'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$reportdata['pid'][$xx];?>&inwin=1', 'View SKU');" class="inbItem"><?=$reportdata['descr'][$xx];?> (<?=$reportdata['manpart'][$xx];?>)</a></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['coa'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tcoa, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?			
	}
	
	function outputClickSummaryExtended_SE($bstamp, $estamp, $clicktype, $clickid)
	{
		// this is only for price engines
		$coa = $this->tuc->lookupCOA($clicktype, $clickid);
		
		$query = "SELECT distinct(phrase), sum(clicks), sum(sales), sum(salesvol), sum(pviews) from
 					traffic_search_terms_external 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						clicktype = '$clicktype' and 
						clickid = '$clickid' group by phrase";	

		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($phrase, $clicks, $sales, $salesvol, $pviews) = mysql_fetch_array($qok))
		{
			$reportdata['phrase'][] 	= $phrase;
			$reportdata['clicks'][] 	= $clicks;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
			$reportdata['pviews'][] 	= $pviews;
				
			$reportdata['coa'][]		= $clicks * $coa;

			if($clicks > 0)
				$reportdata['conv'][] 	= $sales * 100 / $clicks;
			else
				$reportdata['conv'][] 	= 0;
		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['phrase'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['pviews'], $reportdata['coa'], $reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Phrase</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Products Viewed</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Clicks</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>COA</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$tclicks += $reportdata['clicks'][$xx];
			$tcoa += $reportdata['coa'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		?>
		<tr>
			<td class="inbItem" height=21><?=stripslashes($reportdata['phrase'][$xx]);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center>
				<a href="/mgt/t/report.phtml?r=search_terms_external_pview&ct=<?=$clicktype;?>&cid=<?=$clickid;?>&phrase=<?=urlencode(stripslashes($reportdata['phrase'][$xx]));?>" class="inbItem"><?=stripslashes($reportdata['pviews'][$xx]);?>
			</td>
			<td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['coa'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tcoa, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?			
	}
	
	function outputClickSummaryExtended_UK($bstamp, $estamp, $clicktype, $clickid)
	{
		// this is only for price engines
		$coa = 0;//$this->tuc->lookupCOA($clicktype, $clickid);
		
		$query = "SELECT distinct(path), sum(clicks), sum(sales), sum(salesvol) from
 					traffic_referring_urls 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						domain = '$clickid' group by path";	

		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($path, $clicks, $sales, $salesvol) = mysql_fetch_array($qok))
		{
			$reportdata['path'][] 		= $path;
			$reportdata['clicks'][] 	= $clicks;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			$reportdata['coa'][]		= $clicks * $coa;

			if($clicks > 0)
				$reportdata['conv'][] 	= $sales * 100 / $clicks;
			else
				$reportdata['conv'][] 	= 0;
		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['path'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['coa'], $reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Path</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Clicks</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>COA</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$tclicks += $reportdata['clicks'][$xx];
			$tcoa += $reportdata['coa'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		?>
		<tr>
			<td class="inbItem" height=21>
				<a href="/mgt/t/report.phtml?r=referral_extended&ct=<?=$clicktype;?>&cid=<?=$clickid;?>&path=<?=$reportdata['path'][$xx];?>" class="inbItem"><?=$reportdata['path'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['coa'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tcoa, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?			
	}		

	function outputReferralExtended($bstamp, $estamp, $clicktype, $clickid, $path)
	{
		$query = "SELECT distinct(qstring), sum(clicks), sum(sales), sum(salesvol), link from
 					traffic_referring_urls_extended 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						domain = '$clickid' and
						path = '$path' 
							group by qstring";	
		
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($qstring, $clicks, $sales, $salesvol, $link) = mysql_fetch_array($qok))
		{
			if($qstring == "")	$qstring = "-blank-";
			
			$reportdata['qstring'][] 	= $qstring;
			$reportdata['clicks'][] 	= $clicks;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			$reportdata['coa'][]		= $clicks * $coa;

			if($clicks > 0)
				$reportdata['conv'][] 	= $sales * 100 / $clicks;
			else
				$reportdata['conv'][] 	= 0;
				
			$reportdata['link'][] = $link;
		}
		
		if(count($reportdata['clicks']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['qstring'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['coa'], $reportdata['conv'], $reportdata['link']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Query String</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Clicks</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$tclicks += $reportdata['clicks'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
			
			if(strlen($reportdata['qstring'][$xx]) > 75)
				$qstring = substr($reportdata['qstring'][$xx], 0, 72) . "...";
			else 
				$qstring = $reportdata['qstring'][$xx];
		?>
		<tr>
			<td class="inbItem" height=21><a href="<?=$reportdata['link'][$xx];?>" target="_blank" class="inbItem"><?=$qstring;?></a></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?		
	}	
	
	function outputClickPaths($bstamp, $estamp)
	{
		$query = "SELECT distinct(path), sum(followed), sum(sales), sum(salesvol) from
 					traffic_click_paths 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' 
							group by path";	
		
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($path, $followed, $sales, $salesvol) = mysql_fetch_array($qok))
		{
			if($qstring == "")	$qstring = "-blank-";
			
			$reportdata['path'][] 		= $path;
			$reportdata['followed'][] 	= $followed;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			if($followed > 0)
				$reportdata['conv'][] 	= $sales * 100 / $followed;
			else
				$reportdata['conv'][] 	= 0;
				
		}
		
		if(count($reportdata['path']) > 0)
			array_multisort($reportdata['followed'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['path'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Click Path</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Followed</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['path']); $xx++)
		{
			$tclicks += $reportdata['followed'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		?>
		<tr>
			<td class="inbItem" height=21 valign=top><?=$this->resolvePath($reportdata['path'][$xx]);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center valign=top><?=$reportdata['followed'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center valign=top><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right valign=top>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right valign=top><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?		
	}	

	function resolvePath($path)
	{
		$patharray = explode("~", $path);
		$newpath = "";
		
		for($xx = 0; $xx < count($patharray); $xx++)
		{
			$id = $patharray[$xx];
			$query = "select pagedescr from traffic_click_path_pages where id = '$id' ";
			$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
			if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			if($newpath != "") $newpath .= "<BR> - ";
			
			list($pagedescr) = mysql_fetch_array($qok);
			
			$newpath .= $pagedescr;
			
		}
		
		return $newpath;
	}
	
	function outputExitPages($bstamp, $estamp)
	{
		$query = "SELECT distinct(page), sum(clicks), sum(sales), sum(salesvol) from
 					traffic_exit_pages 
					where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' 
							group by page";	
		
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($page, $clicks, $sales, $salesvol) = mysql_fetch_array($qok))
		{
			if($page == "")	$qstring = "-blank-";
			
			$reportdata['page'][] 		= $page;
			$reportdata['clicks'][] 	= $clicks;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			if($clicks > 0)
				$reportdata['conv'][] 	= $sales * 100 / $clicks;
			else
				$reportdata['conv'][] 	= 0;
				
		}
		
		if(count($reportdata['page']) > 0)
			array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['page'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Page</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Exits*</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['page']); $xx++)
		{
			// filter the other pages
			if($reportdata['clicks'][$xx] > 5)
			{
				?>
				<tr>
					<td class="inbItem" height=21 valign=top><?=$reportdata['page'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
				</tr>
				<?
			}

			$tclicks += $reportdata['clicks'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<table>
		<tr>
			<td class="inbItem" height=21 align=center>* Pages with 5 or less exits are not displayed</td>
		</tr>
		</table>		
		<?			
	}
	
	function outputSummaryLocation($bstamp, $estamp)
	{
		$query = "SELECT distinct(country), sum(hits), sum(sales), sum(salesvol) from
					traffic_summary_location where tstamp >= '$bstamp' and tstamp <= '$estamp' 
							group by country";	
		
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($country, $hits, $sales, $salesvol) = mysql_fetch_array($qok))
		{
			$country = trim($country);
			
			if($country == "")	$country = "Unknown";
			
			$reportdata['country'][] 	= $country;
			$reportdata['hits'][] 		= $hits;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			if($hits > 0)
				$reportdata['conv'][] 	= $sales * 100 / $hits;
			else
				$reportdata['conv'][] 	= 0;
				
		}
		
		if(count($reportdata['country']) > 0)
			array_multisort($reportdata['hits'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['country'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Country</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Hits</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['country']); $xx++)
		{
			// filter the other pages
			//if($reportdata['hits'][$xx] > 5)
			{
				?>
				<tr>
					<td class="inbItem" height=21 valign=top>
						<a href="/mgt/t/report.phtml?r=summary_location&cc=<?=$reportdata['country'][$xx];?>" class="inbItem">
							<?=$reportdata['country'][$xx];?>
						</a>
					</td>
					<td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['hits'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
				</tr>
				<?
			}

			$tclicks += $reportdata['hits'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		</table>		
		<?			
	}
	
	function outputSummaryLocation_State($bstamp, $estamp, $cc)
	{
		if($cc == "Unknown") $ucc = "";
		else $ucc = $cc;
		
		$query = "SELECT distinct(state), sum(hits), sum(sales), sum(salesvol) from
					traffic_summary_location where tstamp >= '$bstamp' and tstamp <= '$estamp' and country = '$ucc'
							group by state";	
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($state, $hits, $sales, $salesvol) = mysql_fetch_array($qok))
		{
			$state = trim($state);
			
			if($state == "")	$state = "Unknown";
			
			$reportdata['state'][] 		= $state;
			$reportdata['hits'][] 		= $hits;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			if($hits > 0)
				$reportdata['conv'][] 	= $sales * 100 / $hits;
			else
				$reportdata['conv'][] 	= 0;
				
		}
		
		if(count($reportdata['state']) > 0)
			array_multisort($reportdata['hits'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['state'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>State</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Hits</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['state']); $xx++)
		{
			// filter the other pages
			//if($reportdata['hits'][$xx] > 5)
			{
				?>
				<tr>
					<td class="inbItem" height=21 valign=top>
						<a href="/mgt/t/report.phtml?r=summary_location&cc=<?=$cc;?>&rg=<?=$reportdata['state'][$xx];?>" class="inbItem">
							<?=$reportdata['state'][$xx];?>
						</a>
					</td>
					<td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['hits'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
				</tr>
				<?
			}

			$tclicks += $reportdata['hits'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		
		<?			
	}
	
	function outputSummaryLocation_City($bstamp, $estamp, $cc, $rg)
	{
		if($cc == "Unknown") $ucc = "";
		else $ucc = $cc;
		
		if($rg == "Unknown") $urg = "";
		else $urg = $rg;
		
		$query = "SELECT distinct(city), sum(hits), sum(sales), sum(salesvol) from
					traffic_summary_location where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						country = '$ucc' and
						state = '$urg'
							group by city";	
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($city, $hits, $sales, $salesvol) = mysql_fetch_array($qok))
		{
			$city = trim($city);
			
			if($city == "")	$city = "Unknown";
			
			$reportdata['city'][] 		= $city;
			$reportdata['hits'][] 		= $hits;
			$reportdata['sales'][] 		= $sales;
			$reportdata['salesvol'][] 	= $salesvol;
				
			if($hits > 0)
				$reportdata['conv'][] 	= $sales * 100 / $hits;
			else
				$reportdata['conv'][] 	= 0;
				
		}
		
		if(count($reportdata['city']) > 0)
			array_multisort($reportdata['hits'], SORT_DESC, SORT_NUMERIC, 
				$reportdata['city'],  $reportdata['sales'], $reportdata['salesvol'], 
				$reportdata['conv']);
		
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>City</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Hits</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Conversion</B></td><td>&nbsp;</td>
		</tr>
		<?
		for($xx = 0; $xx < count($reportdata['city']); $xx++)
		{
			// filter the other pages
			//if($reportdata['hits'][$xx] > 5)
			{
				?>
				<tr>
					<td class="inbItem" height=21 valign=top>
							<?=$reportdata['city'][$xx];?>
					</td>
					<td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['hits'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=center valign=top><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
					<td class="inbItem" height=21 align=right valign=top><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
				</tr>
				<?
			}

			$tclicks += $reportdata['hits'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		
		<?			
	}	
	
	function outputSalesSummaryExtended($bstamp, $estamp, $ct, $cid, $pid)
	{
		if(intval($pid) > 0)
		{
			$query = "SELECT traffic_sales_summary.tstamp, traffic_sales_summary.clicktype, 
								traffic_sales_summary.clickid, traffic_sales_summary.invoiceid, 
								traffic_sales_summary.salesvol, traffic_sales_summary.ip_addr 
						from 
						traffic_sales_summary, customer_orders, customer_order_lines
						where 
						traffic_sales_summary.tstamp >= '$bstamp' and 
						traffic_sales_summary.tstamp <= '$estamp' and 
						traffic_sales_summary.clicktype = '$ct' and
						traffic_sales_summary.clickid = '$cid' and
						traffic_sales_summary.invoiceid = customer_orders.invoiceid AND
						customer_orders.orderid = customer_order_lines.orderid AND
						customer_order_lines.prodid = '$pid'";	
		}
		else 
		{
			$query = "SELECT tstamp, clicktype, clickid, invoiceid, salesvol, ip_addr from traffic_sales_summary where 
						tstamp >= '$bstamp' and 
						tstamp <= '$estamp' and 
						clicktype = '$ct' and
						clickid = '$cid' ";				
		}
		
		$qok = mysql_db_query($this->db, $query, $this->mysqlid);$qcount++;
		if($qok == FALSE){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		?>
		<center>
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>Date</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Type</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Name</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Invoice</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>IP</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=right><B>Amount</B></td><td>&nbsp;</td>
		</tr>		
		<?	
		$tsalesvol = 0;
		$tsales = 0;
		while(list($tstamp, $clicktype, $clickid, $invoiceid, $salesvol, $ip_addr) = mysql_fetch_array($qok))
		{
			$tsales ++;
			$tsalesvol += $salesvol;
			if($clicktype == 1)
			{$type = "Price Engine"; $tname = $this->tuc->getPEName($clickid);}
			else if($clicktype == 2)
			{$type = "Campaign"; $tname = $clickid; }
			else if($clicktype == 3)
			{ $type = "Search"; $tname = $this->tuc->getSEName($clickid); }
			else if($clicktype == 0)
			{ $type = "Referral"; $tname = $clickid;}
			else if($clicktype == 4)
			{ $type = "Direct"; $tname = "Direct Request";}
						
			?>
			<tr>
				<td class="inbItem" height=21 valign=top><?=date("m/d/Y", $tstamp);?></td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top><?=$type;?></td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top><?=$tname;?></td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top>
					<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View SKU');" class="inbItem">
					<?=$invoiceid;?></a>
				</td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=center><?=$ip_addr;?></td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top align=right><?=number_format($salesvol, 2);?></td><td>&nbsp;</td>
			</tr>
			<?
		}	
		?>
			<tr>
				<td class="inbItem" height=21 valign=top> </td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top> </td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top> </td><td>&nbsp;</td>
				<td class="inbItem" height=21 valign=top> </td><td>&nbsp;</td>
				<td class="tline" height=21 valign=center><B><?=$tsales;?> orders</td><td>&nbsp;</td>
				<td class="tline" height=21 valign=top align=right><B>$ <?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			</tr>		
		</table>
		</center>
		<?		
	}
}
?>