<form name="skusearch">
	<table>
	<tr>
		<td class="g1">Keywords:</td>
		<td><input type="text" id="keywords" name="keywords" value="<?=$_SESSION["SAVEDSEARCH"]['keywords'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
	</tr>
	<tr>
		<td class="g1">ID:</td>
		<td><input type="text" id="id" name="id" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH"]['id'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
	</tr>
        <tr>
		<td class="g1"><B>Created By:</B></td>
		<td>
			<select name="assignedto" id="assignedto" class="formSelect">
			<option value="-1">--- SELECT ----</option>
			<option value="0">Unassigned</option>
			<?
			
			$query = "select id, displayname from users order by displayname";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$x_userid;?>" <?if($x_userid == $_SESSION["SAVEDSEARCH"]['assignedto']) echo "SELECTED";?>><?=$x_displayname;?></option>
			<?	
			}
			?>
			</select>
		</td>	
	</tr>
        <tr>
            <td class="g1">Create Date:</td>
            <td>
            <select name="qdate" class="formselect" onchange="changeRange();">
                    <option value="-1">-Quick Range-</option>
                    <option value="1">Today</option>
                    <option value="6">Yesterday</option>

                    <option value="7">Yesterday + Today</option>

                    <option value="2">Last 7 Days</option>
                    <option value="3">Last 14 Days</option>
                    <option value="4">Last 30 Days</option>

                    <option value="8">Last 60 Days</option>
                    <option value="9">Last 90 Days</option>
                    <option value="10">Last 120 Days</option>

                    <option value="5">Last Month</option>
            </select>
            <BR>							
            <input type="checkbox" name="disable_range" id="disable_range" checked>Ignore Date Range<BR>
            <?
            if($_SESSION["OM_SAVEDSEARCH"]['bdate'] == "") $_SESSION["OM_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
            if($_SESSION["OM_SAVEDSEARCH"]['edate'] == "") $_SESSION["OM_SAVEDSEARCH"]['edate'] = date("m/d/Y");
            ?>
            <input type="text" name="bdate" value="<?=$_SESSION["OM_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['skusearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['skusearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onkeypress="return cancelReturn(this, event)">
            - to -
                    <input type="text" name="edate" value="<?=$_SESSION["OM_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
onclick="cal1x.select(document.forms['skusearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['skusearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onkeypress="return cancelReturn(this, event)">
            </td>
    </tr>
	<tr>
		<td class="g1">Sort by Linked:</td>
		<td><input type="checkbox" id="sort_linked" name="sort_linked"/></td>
	</tr>
	<tr>
		<td colspan=2>
			<BR>
				<div align=center>
					<input type="button" name="" value="Search" onclick="searchSKUs();" class="buttonItem">&nbsp;&nbsp;
				</div>
		</td>
	</tr>									
	<tr>
		<td colspan=2>
			<div align=center>
			<!---
				<input type="button" name="Action" value="Search" class="buttonItem">
				&nbsp;&nbsp;
				<input type="button" name="Action" value="Clear" class="buttonItem">
			--->
			<BR>
			<div id="skuresults" style="display:inline;">&nbsp;</div>
			<div id="poolresults" style="display:inline;">&nbsp;</div>		
			</div>
		</td>
	</tr>
	
							
	</table>
	
</form>	
<!--------------------------------------------------------------->