<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
?>
<table width=95%>
<tr>
	<td width=100%>
	<!------------------------------------------------------------------------------------------------------------>
		<table width=100%>
			<tr bgcolor="#EEEEEE">
				<td><div align=center>PID</div></td>
				<td><div align=center>Date/Time</div></td>
				<td><div align=center>SKU</div></td>
				<td><div align=center>Man Name</div></td>
				<td><div align=center>Vendor</div></td>
				<td><div align=center>POID</div></td>
				<td><div align=center>Qty</div></td>
				<td><div align=center>Cost</div></td>
			</tr>
			<?
			$query = "select pid, tstamp, sku, manname, vendorname, poid, qty, cost from product_purchase_history where pid = '$pid' order by tstamp desc limit 0, 10";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($ph_pid, $ph_tstamp, $ph_sku, $ph_manname, $ph_vendorname, $ph_poid, $ph_qty, $ph_cost) = mysql_fetch_array($qok))
			{
				?>
				<tr>
				<td><?=$ph_pid;?></td>
				<td><?=date("m/d/Y H:i:s (D)", strtotime($ph_tstamp));?></td>
				<td><?=$ph_sku;?></td>
				<td><?=$ph_manname;?></td>
				<td><?=$ph_vendorname;?></td>
				<td>
					<a href="javascript:void(0);" onclick='e2window("/mgt/vn/viewpo.phtml?poid=<?=$ph_poid;?>&inwin=1", "View SKU <?=$ph_poid;?>");'>
						<?=$ph_poid;?>
					</a>
				</td>
				<td><?=$ph_qty;?></td>
				<td><?=$ph_cost;?></td>
				</tr>
				<?
			}
			?>
			</table>
	<!------------------------------------------------------------------------------------------------------------>
	</td>
</tr>
</table>		
<a href="javascript:void(0);" onclick="closeHistory();">Close Window</a>	