<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$query = "SELECT name,date_added,poid,orderid FROM fba_shipment_creator WHERE id='".$id."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($name,$date_added,$poid,$orderid) = mysql_fetch_array($qok);

$qxx = "SELECT shipment_id FROM fba_shipment_creator_link WHERE plan_id='".$id."'";
if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($linked_shipment_id) = mysql_fetch_array($qokxx);

$qxx = "SELECT id,iso_id FROM fba_shipment_creator_respons WHERE shipment_id='".$linked_shipment_id."'";
if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($plan_id,$linked_iso) = mysql_fetch_array($qokxx);


$qx = "SELECT id FROM fba_shipment_creator_respons WHERE iso_id='".$id."'";
if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if (mysql_num_rows($qokx)>0) {
	$iso_tmp = true;
}
else {
	$iso_tmp = false;
}

?>
<tr id="isolineitems_<?=$id;?>">
	<td colspan="4" style="padding:10px;">
		<table class="sortable" style="border:1px solid black;width:600px;" id="table_isoitems">
			<tr>
				<td colspan="7">
					Name: <input type="text" id="isoname_<?=$id?>" class="formBox" value="<?=$name?>"/>
				</td>
			</tr>
			<tr bgcolor="#eeeeee" id="isoitemlistheader_<?=$id?>">
				<td align="center"><b>Nr</b></td>
				<td align="center"><b>PID</b></td>
				<td align="center"><b>Manpart</b></td>
				<td align="center"><b>Manname</b></td>
				<td align="center"><b>Title</b></td>
				<td align="center"><b>Case</b></td>
				<td align="center"><b>Qty</b></td>
				<td align="center"><b>Remove</b></td>
			</tr>
			<?
			$tr_elem = 1;
			$query = "SELECT fba_shipment_creator_items.pid,fba_shipment_creator_items.qty,product_manufacturers.manname, product_list.manpart, product_list.descr FROM fba_shipment_creator_items,product_list,product_manufacturers 
								WHERE fba_shipment_creator_items.iso_id='".$id."' AND
									  fba_shipment_creator_items.pid=product_list.id AND
									  product_list.manid = product_manufacturers.manid";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while (list($pid,$qty,$manname,$manpart,$title) = mysql_fetch_array($qok)) {
				
				$qx = "SELECT price FROM fba_shipment_creator_items WHERE pid='".$pid."' AND iso_id='".$linked_iso."'";
                if(!$q2ok2x = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
               	list($price) = mysql_fetch_array($q2ok2x);
               	if ($price <=0) {
               		$qz = "SELECT avgcost FROM product_prices WHERE id='".$pid."'";
               		if(!$q2z = mysql_db_query($DB, $qz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
               		list($price) = mysql_fetch_array($q2z);
               	}
				
				
				?>
				<tr id="isoitemlist_<?=$id?>_<?=$pid?>" class="isoitemaddline">
					<td align="center" class="iso_item_nrline"><?=$tr_elem?></td>
					<td align="center"><?=$pid?></td>
					<td align="center"><?=$manname?>&nbsp;</td>
					<td align="center"><?=$manpart?>&nbsp;</td>
					<td align="center"><?=$title?>&nbsp;</td>
					<td>
						<?php
						$cfid = $efc->getConfigValue("AmazonFBA", "CasePack");
						$query_case_pack  = "SELECT text_short
											 FROM custom_values
											 WHERE pid = '$pid'
											 AND cfid = '$cfid'";
						if(!$qok_case_pack = mysql_db_query($DB, $query_case_pack, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if (mysql_num_rows($qok_case_pack) == 0)
						{
							$case_pack = '';
						}
						else 
						{
							list($case_pack) = mysql_fetch_array($qok_case_pack);
						}
						if ($iso_tmp == '') {
						?>
						<input type="text" onblur="saveCaseQty('<?=$pid?>')" class="formBox isoitemcase isoitemcase_<?=$pid?>" id="isoitemcase_<?=$id?>_<?=$pid?>" value="<?=$case_pack?>" style="width:50px"/>
						<?}else{echo $case_pack;}?>
					</td>
					<td>
						<input type="text" class="formBox isoitemqty_<?=$id?>" id="isoitemqty_<?=$id?>_<?=$pid?>" value="<?=$qty?>" style="width:50px"/>
						<input type="hidden" name="itempriceiso_<?=$id?>_<?=$pid?>" id="itempriceiso_<?=$id?>_<?=$pid?>" value="<?=$price?>" />
					</td>
					<td align="center"><img src="/mgt/images/del.gif" alt="Delete" onclick="removeISOItem('<?=$id?>','<?=$pid?>')" style="cursor:pointer;"/></td>
				</tr>
				<?
				$tr_elem++;
			};
			?>
			<tr id="isoitemlistfooter_<?=$id?>">
				<td colspan="7" align="center">
					
					<?
					if ($linked_shipment_id != '') {
						?>
						<input type="button" value="Update" onclick="updateLinkedPlan('<?=$linked_shipment_id?>','<?=$linked_iso?>','<?=$id?>','<?=$plan_id?>')"/>
						<?
					}
					else {
						?>
						<input type="button" value="Save" onclick="saveISO('<?=$id?>')"/>
						<?
					}
					?>
					 <input type="button" value="Cancel" onclick="cancelSave('<?=$id?>')" />
				</td>
			</tr>
			<?
				if ($linked_shipment_id != '') {
					$query = "SELECT ship_zip,destination_id FROM fba_shipment_creator_respons WHERE shipment_id='".$linked_shipment_id."'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($linked_shipment_zip,$destination_id) = mysql_fetch_array($qok);
					?>
						<tr>
							<td align="left" id="poblockiso_<?=$id?>">
							<?
								if ($poid > 0) {
									?>
										PO#: <a href="javascript:void(0)" onclick="showMenuISO('<?=$poid?>','1','<?=$id?>')"><?=$poid?></a>
									<?
								}
								else {
									?>
										<a href="javascript:void(0)" onclick="$('#createpoiso_<?=$id?>').toggle()">Create PO</a>
									<?
								}
							?>
							</td>
							<td colspan="6" align="left" id="orderblockiso_<?=$id?>">
								
								<?
									if ($orderid > 0) {
										$query1 = "select invoiceid from customer_orders where orderid='".$orderid."'";
										if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list($invoiceid) = mysql_fetch_array($qok1);
										?>
											Order#: <a href="javascript:void(0)" onclick="showMenu2ISO('<?=$invoiceid?>','<?=$id?>')"><?=$orderid?></a>
										<?
									}
									else {
										?>
											<a href="javascript:void(0)" onclick="$('#createorderiso_<?=$id?>').toggle()">Create Order</a>
										<?
									}
								?>
							</td>
						</tr>
						<tr id="createpoiso_<?=$id?>" style="display:none;">
							<td colspan="7">
								<table>
									<tr>
										<td>Assigned to</td>
										<td>
											<select name="assignedto" id="assignedtoiso_<?=$id?>" class="formSelect">
											<option value="-1">--- SELECT ----</option>
											<option value="UN">Unassigned</option>
											<?
											
											$query1 = "select id, displayname from users order by displayname";
											if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($x_userid, $x_displayname) = mysql_fetch_array($qok1))
											{
											?>
												<option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
											<?	
											}
											?>
											</select>
										</td>
									</tr>
									<tr>
										<td>Vendor</td>
										<td>
											<select name="sourcing" id="sourcingiso_<?=$id?>" class="formSelect">
											<option value="-1">--- SELECT ----</option>
											<?
											
											$query1 = "select vendorid, vendorname from vendors order by vendorname";
											if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok1))
											{
												if(strlen($x_vendorname) > 25)
												{
													$x_vendorname = substr($x_vendorname, 0, 22)."...";
												}
											?>
												<option value="<?=$x_vendorid;?>"><?=$x_vendorname;?></option>
											<?	
											}
											?>
											</select>
										</td>
									</tr>
									<tr>
										<td>FBA ID</td>
										<td>
											<input type="text" name="fba_id" id="fba_idiso_<?=$id?>" class="formBox" value="<?=$linked_shipment_id?>" />
											<input type="hidden" name="shipzipiso_<?=$id?>" id="shipzipiso_<?=$id?>" class="formBox" value="<?=$linked_shipment_zip?>" />
											<input type="hidden" name="destidiso_<?=$id?>" id="destidiso_<?=$id?>" class="formBox" value="<?=$destination_id?>" />
										</td>
									</tr>
									<tr>
										<td><input type="button" value="Create PO" onclick="createPOISO('<?=$id?>')" /></td>
										<td id="poid"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr id="createorderiso_<?=$id?>" style="display:none;">
							<td colspan="7">
								<table>
									<tr>
										<td>Assigned to</td>
										<td>
											<select name="order_assignedtoiso" id="order_assignedtoiso_<?=$id?>" class="formSelect">
											<option value="-1">--- SELECT ----</option>
											<option value="UN">Unassigned</option>
											<?
											
											$query1 = "select id, displayname from users order by displayname";
											if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($x_userid, $x_displayname) = mysql_fetch_array($qok1))
											{
											?>
												<option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
											<?	
											}
											?>
											</select>
										</td>
									</tr>
									<tr>
										<td>FBA ID</td>
										<td><input type="text" name="order_fba_idiso" id="order_fba_idiso_<?=$id?>" class="formBox" value="<?=$linked_shipment_id?>" /></td>
									</tr>
									<tr>
										<td><input type="button" value="Create Order" onclick="createOrderISO('<?=$id?>')" /></td>
										<td id="poid">
											
										</td>
									</tr>
								</table>
							</td>
						</tr>
					<?
				}
			?>
			
			<tr>
				<td colspan="7" align="center" height="20px">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan="7">
					<B>Sku/Keywords:</B><input type="text" name="add_keywords" id="add_keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px">		
					<input type="button"  name="Action" value="Search" onclick="searchAddSKUs('<?=$id?>')" class="buttonItem">	
				</td>
			</tr>
		</table>
	</td>
</tr>
