<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$oversize_ids = $efc->getConfigValue("AmazonFBA", "AMZ_OVERSIZE_IDS"); 
$oversize_ids_arr = explode(",",$oversize_ids);

$query = "SELECT id,shipment_id,destination_id,ship_name,ship_address,ship_address2,ship_city,ship_state,ship_country,ship_zip,ship_label,created,po_created,order_created,plan_name FROM fba_shipment_creator_respons WHERE iso_id='".$id."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
?>
<tr id="plan_<?=$id;?>">
	<td colspan="6">
		<table>
			<tr>
				<td>
					<?
					while (list($sc_id,$shipment_id,$destination_id,$ship_name,$ship_address,$ship_address2,$ship_city,$ship_state,$ship_country,$ship_zip,$ship_label,$created,$po_created,$order_created,$plan_name) = mysql_fetch_array($qok)) {
						$color = '';
						if (in_array($destination_id,$oversize_ids_arr)) {
							$color = "color:red;";
						}
					?>
					<table class="sortable plansepid" style="border:1px solid black;width:600px;margin-top:10px;" id="plansepid_<?=$sc_id?>">
						<tr bgcolor="#eeeeee" id="isoitemlistheader_<?=$id?>">
							<td align="center"><b>Shipment ID</b></td>
							<td align="center"><b>Destination ID</b></td>
							<td align="center"><b>Name</b></td>
							<td align="center"><b>Address</b></td>
							<td align="center"><b>City</b></td>
							<td align="center"><b>State</b></td>
							<td align="center"><b>Zip</b></td>
							<td align="center"><b>Label</b></td>
						</tr>
						<tr>
							<?
								if ($created == 1) {
									$bgcolor = "#14FF3F";
								}
								else {
									$bgcolor ="";
								}
							?>
							<td align="center" style="<?=$color?>background-color:<?=$bgcolor?>"><b><?=$shipment_id?></b></td>
							<td align="center" style="<?=$color?>"><b><span id="destid_<?=$sc_id?>"><?=$destination_id?></span></b></td>
							<td align="center" style="<?=$color?>"><b><?=$ship_name?></b></td>
							<td align="center" style="<?=$color?>"><b><?=$ship_address?></b></td>
							<td align="center" style="<?=$color?>"><b><?=$ship_city?></b></td>
							<td align="center" style="<?=$color?>"><b><?=$ship_state?></b></td>
							<td align="center" style="<?=$color?>"><b><span id="shipzip_<?=$sc_id?>"><?=$ship_zip?></span></b></td>
							<?
								if ($ship_label != 'NONE') {
									$bgcolor1 = "#FFFF00";
								}
								else {
									$bgcolor1 ="";
								}
							?>
							<td align="center" style="background-color:<?=$bgcolor1?>"><b><?=$ship_label?></b></td>
						</tr>
						<tr>
							<td colspan="10" align="left" style="border-top:1px solid black;">
								<table>
									<tr>
										<td>
											<table class="sortable" cellpadding="5">
												<tr bgcolor="#eeeeee">
													<td align="center"><b>Seller SKU</b></td>
													<td align="center"><b>Network SKU</b></td>
													<td align="center"><b>QTY</b></td>
													<td align="center"><b>Price</b></td>
													<td align="center"><b>History</b></td>
													<td align="center"><b>Label</b></td>
													<?
													if ($color != '') {
														?>
														<td align="center"><b>Oversize</b></td>
														<?
													}
													?>
												</tr>	
												<?
												$q = "SELECT fba_shipment_creator_respons_items.id,
																fba_shipment_creator_respons_items.seller_sku,
																fba_shipment_creator_respons_items.network_sku,
																fba_shipment_creator_respons_items.qty,
																fba_shipment_creator_respons_items.price,
																product_prices.avgcost,
																product_list.asin
															FROM fba_shipment_creator_respons_items,product_prices,product_list
															WHERE fba_shipment_creator_respons_items.sc_id='".$sc_id."' and 
																	product_prices.id=fba_shipment_creator_respons_items.seller_sku and
																	product_prices.id=product_list.id";
												if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while (list($plan_item_id,$seller_sku,$network_sku,$qty,$pi_price,$avgcost,$asin) = mysql_fetch_array($qokx)) {
													
													?>
													<tr>
														<td align="center"><a href="javascript:void(0)" onclick="showMenu3('<?=$seller_sku?>','<?=$plan_item_id?>')" id="pidvalue_<?=$plan_item_id?>"><?=$seller_sku?></a></td>
														<td align="center"><?=$network_sku?></td>
														<td align="center"><input class="formBox planitemqty_<?=$sc_id?>" type="text" value="<?=$qty?>" id="planitemqty_<?=$plan_item_id?>" style="width:40px;"></td>
														<td align="center"><input class="formBox planitemprice_<?=$sc_id?>" type="text" value="<?if($pi_price>0) {echo $pi_price;} else{echo $avgcost;}?>" id="planitemprice_<?=$plan_item_id?>" style="width:40px;"></td>
														<td><a onclick="viewHistory('<?=$seller_sku?>');" href="javascript:void(0);">View History</a></td>
														<td><a onclick="getItemLabel('<?=$asin?>','<?=$seller_sku?>');" href="javascript:void(0);">Print Label</a></td>
														<?
														if ($color != '') {
															$q_over = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$seller_sku."' AND custom_fields.name='AMZ Oversize'";
															$qok_over = mysql_db_query($DB, $q_over, $mysqlid);
															if($qok_over == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
															list($amz_oversize) = mysql_fetch_array($qok_over);
															if ($amz_oversize == '1') {
																?>
																	<td align="center" style="<?=$color?>"><b>X</b></td>	
																<?
															}
															else {
															?>
																<td align="center"><a onclick="setAMZOversize('<?=$seller_sku?>');" href="javascript:void(0);">AMZ Oversize</a></td>
															<?
															}
														}
														?>
													</tr>	
													<?
												}
												?>
											</table>
										</td>
										<td>
											<table>
												<tr>
													<td id="poblock_<?=$sc_id?>">
														<?
															if ($po_created > 0) {
																?>
																	PO#: <a href="javascript:void(0)" onclick="showMenu('<?=$po_created?>','1','<?=$sc_id?>')"><?=$po_created?></a>
																<?
															}
															else {
																?>
																	<a href="javascript:void(0)" onclick="$('#createpo_<?=$sc_id?>').toggle()">Create PO</a>		
																<?
															}
														?>
														
													</td>
													<td id="orderblock_<?=$sc_id?>">
														<?
															if ($order_created > 0) {
																$query1 = "select invoiceid from customer_orders where orderid='".$order_created."'";
																if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
																list($invoiceid) = mysql_fetch_array($qok1);
																?>
																	Order#: <a href="javascript:void(0)" onclick="showMenu2('<?=$invoiceid?>','<?=$sc_id?>')"><?=$order_created?></a>
																<?
															}
															else {
																?>
																	<a href="javascript:void(0)" onclick="$('#createorder_<?=$sc_id?>').toggle()">Create Order</a>		
																<?
															}
														?>
														
													</td>
												</tr>
												<tr id="createpo_<?=$sc_id?>" style="display:none;">
													<td colspan="2">
														<table>
															<tr>
																<td>Assigned to</td>
																<td>
																	<select name="assignedto" id="assignedto_<?=$sc_id?>" class="formSelect">
																	<option value="-1">--- SELECT ----</option>
																	<option value="UN">Unassigned</option>
																	<?
																	
																	$query1 = "select id, displayname from users order by displayname";
																	if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
																	while(list($x_userid, $x_displayname) = mysql_fetch_array($qok1))
																	{
																	?>
																		<option value="<?=$x_userid;?>" <?if($x_userid == $_SESSION["SAVEDSEARCH"]['assignedto']) echo "SELECTED";?>><?=$x_displayname;?></option>
																	<?	
																	}
																	?>
																	</select>
																</td>
															</tr>
															<tr>
																<td>Vendor</td>
																<td>
																	<select name="sourcing" id="sourcing_<?=$sc_id?>" class="formSelect">
																	<option value="-1">--- SELECT ----</option>
																	<?
																	
																	$query1 = "select vendorid, vendorname from vendors order by vendorname";
																	if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
																	while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok1))
																	{
																		if(strlen($x_vendorname) > 25)
																		{
																			$x_vendorname = substr($x_vendorname, 0, 22)."...";
																		}
																	?>
																		<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
																	<?	
																	}
																	?>
																	</select>
																</td>
															</tr>
															<tr>
																<td>FBA ID</td>
																<td><input type="text" name="fba_id" id="fba_id_<?=$sc_id?>" class="formBox" value="<?=$shipment_id?>" /></td>
															</tr>
															<tr>
																<td><input type="button" value="Create PO" onclick="createPO('<?=$sc_id?>')" /></td>
																<td id="poid"></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr id="createorder_<?=$sc_id?>" style="display:none;">
													<td colspan="2">
														<table>
															<tr>
																<td>Assigned to</td>
																<td>
																	<select name="order_assignedto" id="order_assignedto_<?=$sc_id?>" class="formSelect">
																	<option value="-1">--- SELECT ----</option>
																	<option value="UN">Unassigned</option>
																	<?
																	
																	$query1 = "select id, displayname from users order by displayname";
																	if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
																	while(list($x_userid, $x_displayname) = mysql_fetch_array($qok1))
																	{
																	?>
																		<option value="<?=$x_userid;?>" <?if($x_userid == $_SESSION["SAVEDSEARCH"]['assignedto']) echo "SELECTED";?>><?=$x_displayname;?></option>
																	<?	
																	}
																	?>
																	</select>
																</td>
															</tr>
															<tr>
																<td>FBA ID</td>
																<td><input type="text" name="order_fba_id" id="order_fba_id_<?=$sc_id?>" class="formBox" value="<?=$shipment_id?>" /></td>
															</tr>
															<tr>
																<td><input type="button" value="Create Order" onclick="createOrder('<?=$sc_id?>')" /></td>
																<td id="poid">
																	
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>	
						<tr>
							<td align="center" colspan="10">
								Plan name: <input type="text" class="formBox" id="planname_<?=$sc_id?>" value="<?=$plan_name?>" style="width:110px;"/>
								<img src="/mgt/images/loading.gif" style="display:none;" id="loadimg_<?=$sc_id?>"/>
								<input type="button" onclick="savePlan('<?=$sc_id?>')" value="Save"> 
								<input type="button" onclick="deletePlan('<?=$sc_id?>',<?=$id?>)" value="Delete"> 
								<?
									if ($created == 1) {
										?>
<!--										<a href="/mgt/amazon/scripts/inbound_shipment_plan_update.phtml?id=<?=$sc_id?>" target="_blank">Update Shipment</a> -->
											<input type="button" onclick="updatePlan('<?=$sc_id?>')" value="Update Shipment" id="updateplan_<?=$sc_id?>"> 
											<input type="button" onclick="printLabelPlan('<?=$sc_id?>','<?=$shipment_id?>')" value="Print Shipment Label" id="labelplan_<?=$sc_id?>"> 
										<?
									}
									else {
										?>
<!--										<a href="/mgt/amazon/scripts/inbound_shipment_plan_create.phtml?id=<?=$sc_id?>" target="_blank">Create Shipment</a> -->
											<input type="button" onclick="updatePlan('<?=$sc_id?>')" value="Update Shipment" id="updateplan_<?=$sc_id?>" style="display:none;"> 
											<input type="button" onclick="createPlan('<?=$sc_id?>')" value="Create Shipment" id="createplan_<?=$sc_id?>"> 
											<input type="button" onclick="printLabelPlan('<?=$sc_id?>','<?=$shipment_id?>')" value="Print Shipment Label" id="labelplan_<?=$sc_id?>" style="display:none;"> 
										<?
									}
								?>
								
							</td>
						</tr>
					</table>
					<?
						}
					?>
				</td>
				<td>
					<table class="sortable" style="border:1px solid black;margin-top:10px;">
						<tr bgcolor="#eeeeee">
							<td align="center"><b>PID</b></td>
							<td align="center"><b>Qty</b></td>
							<td align="center"><b>Title</b></td>
							<td align="center"><b>OnHand</b></td>
							<td align="center"><b>OnHold</b></td>
							<td align="center"><b>Committed</b></td>
							<td align="center"><b>Available</b></td>
							<td align="center"><b>OnPO</b></td>
							<?
								if ($DB == 'ecom') {
									?>
									<td align="center"><b>WHS 5</b></td>
									<?
								}
								if ($DB == 'butterfly') {
									?>
									<td align="center"><b>WHS 4</b></td>
									<?
								}
							?>
						</tr>
					
					<?
						$q = "SELECT fba_shipment_creator_items.pid,
									fba_shipment_creator_items.qty,
									product_list.descr,
									product_prices.onhold,
									product_prices.committed,
									product_prices.instock,
									product_prices.onpo
								FROM fba_shipment_creator_items,product_list,product_prices
								WHERE fba_shipment_creator_items.iso_id='".$id."' AND 
										fba_shipment_creator_items.pid=product_list.id AND
										fba_shipment_creator_items.pid = product_prices.id
										";
						if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while (list($xpid,$xqty,$xtitle,$onhold,$committed,$instock,$onpo) = mysql_fetch_array($qokx)) {
							if($efc->isAltSKU($xpid))
							{
								$iavailable = $instock;
							}
							else 
							{
								$iavailable = $instock - $onhold - $committed;
							}
							?>
							<tr>
								<td align="center"><?=$xpid?></td>
								<td align="center"><?=$xqty?></td>
								<td align="center"><?=$xtitle?></td>
								<td align="center"><?=$instock?></td>
								<td align="center"><?=$onhold?></td>
								<td align="center"><?=$committed?></td>
								<td align="center"><?=$iavailable?></td>
								<td align="center"><?=$onpo?></td>
								<?
									if ($DB == 'ecom') {
										$qz= "select sum(inv_available),cost from product_inventory where whid = '5' and id = '$xpid' group by whid";
										if(!$q5okz = mysql_db_query($DB, $qz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list($inv_available, $total_cost) = mysql_fetch_array($q5okz);
										?>
										<td align=center><?=$inv_available?></td>	
										<?
									}
									if ($DB == 'butterfly') {
										$qz= "select sum(inv_available),cost from product_inventory where whid = '4' and id = '$xpid' group by whid";
										if(!$q5okz = mysql_db_query($DB, $qz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list($inv_available, $total_cost) = mysql_fetch_array($q5okz);
										?>
										<td align=center><?=$inv_available?></td>	
										<?
									}
								?>
							</tr>
							<?
						}
					?>
					</table>
				</td>
			</tr>
		</table>
		<table class="sortable" style="width:600px;margin-top:10px;">
			<tr>
				<td align="center">
					<input type="button" onclick="cancelPlan('<?=$id?>')" value="Close">
				</td>
			</tr>
		</table>
	</td>
</tr>
