<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>FBA Shipment Creator</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function searchSKUs(pagenumVal){
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	
	$("#savecover").show();
	var keywords = $('#keywords').val();
	var prodid = $('#id').val();
	var asin = $('#asin').val();
	var fbasku = $('#fbasku').val();
	var sku = $('#sku').val();
	var listid = $('#listid').val();
	var not_listid = $('#not_listid').val();
	var includekits = $('#includekits').val();
	var assignedto = $('#assignedto').val();
	var alt_sku = $('#alt_sku').val();
	var whid = $('#whid').val();
	var whmin = $('#whmin').val();
	var sourcing = $('#sourcing').val();
	var sourcing_qty = $('#sourcing_qty').val();
	var brand = $('#brand').val();
	var num2return = $('#num2return').val();
	
	if(document.skusearch.nolist.checked)
		nolistVal = 1;
	else
		nolistVal = 0;
	if(document.skusearch.instock_only.checked)
		instock_only = 1;
	else
		instock_only = 0;
		
	if(nolistVal == 1 && parseInt(listid) > 0)
	{
		alert('You cannot search "nolist" with a list selected');
		$("#savecover").hide(); 
		return;
	}
	
	$.get("ajax_skusearch2.phtml", 
			{
				'keywords':keywords,
				'id':prodid,
				'asin':asin,
				'fbasku':fbasku,
				'sku':sku,
				'listid':listid,
				'not_listid':not_listid,
				'includekits':includekits,
				'assignedto':assignedto,
				'alt_sku':alt_sku,
				'whid':whid,
				'whmin':whmin,
				'sourcing':sourcing,
				'sourcing_qty':sourcing_qty,
				'brand':brand,
				'nolist':nolistVal,
				'instock_only':instock_only,
				'num2return':num2return,
				p:pagenumVal
			},function(data){
			$('#reportdata').html(data);  
			$("#savecover").hide(); 	
   	});
}
function clearForm() {
	document.skusearch.visible.selectedIndex = 0;
	document.skusearch.inventory.selectedIndex = 0;
	document.skusearch.num2return.selectedIndex = 0;
	document.skusearch.listid.selectedIndex = 0;
	
	<?
	if($_SESSION["USERTYPE"] == "MANAGER")
	{
	?>
		document.skusearch.sourcing.selectedIndex = 0;
	<?
	}
	?>
	document.skusearch.nolist.checked = false;
	document.skusearch.mindreach_check.checked = false;
	
	document.getElementById("cat1d_cat").style.display = 'none';
	document.getElementById("cat2d_cat").style.display = 'none';
	document.getElementById("cat3d_cat").style.display = 'none';
	document.getElementById("cat4d_cat").style.display = 'none';

	document.skusearch.cat0_cat.selectedIndex = 0;
	g_level_cat = 0;
	if(document.all.results) {
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
	
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
	}
	
	var dlg = document.getElementById("searchresults");
	dlg.innerHTML = "&nbsp;";
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchSKUs();
			return false;
		}
	}
}

function addISOItem(pid) {
	if($('#isoitem_'+pid).length == 0) {
		var tr_elem = $('#iso_items tr').length;
		$.get("ajax_getisoitem.phtml", 
			{
				'id':pid,
				'tr_elem':tr_elem
			},function(data){
				$('#iso_items').append(data);
	   	});
	}
}

function addISOAllItems() {
	$("span[id^='item_']").each(function(){
		var pid_tmp = $(this).attr('id').split('_');
		var pid = pid_tmp[1];
		
		if($('#isoitem_'+pid).length == 0) {
			var tr_elem = $('#iso_items tr').length;
			$.get("ajax_getisoitem.phtml", 
				{
					'id':pid,
					'tr_elem':tr_elem
				},function(data){
					$('#iso_items').append(data);
		   	});
		}
	});
}

function removeISOItem(pid) {
	$('#isoitem_'+pid).remove();
	var itemnr = 1;
	$('.iso_item_nr').each(function(){
		$(this).html(itemnr);
		itemnr++;
	});
	$.get("ajax_removeisoitem.phtml", 
		{
			'id':pid
		},function(data){
	});
}
function saveISOItem() {
	var iso_name = $('#iso_item_name').val();
	var iso_items = '';
	$('.isoitemadd').each(function(){
		var item_id = $(this).attr('id').split('_');
		//var item_case = $('#isoitemcase_'+item_id[1]).val();
		var item_qty = $('#isoitemqty_'+item_id[1]).val();
		var item_price = $('#isoitemprice_'+item_id[1]).val();
		// iso_items += item_id[1]+'_'+item_qty+'_'+item_price+'_'+item_case+',';
		iso_items += item_id[1]+'_'+item_qty+'_'+item_price+',';
	});
	iso_items = iso_items.substr(0,iso_items.length-1);
	
	$.get("save_iso_item.phtml", 
		{
			'name':iso_name,
			'items':iso_items
		},function(data){
			$('.isoitemadd').remove();
			$('#iso_item_name').val('');

			$.get("ajax_clear_iso_cart.phtml", 
			{
			},function(data){
			});
	});
}
function saveCaseQty(pid) {
	if($('#isoitemcase_'+pid).length>0) {
		var case_qty = $('#isoitemcase_'+pid).val();
	}
	else {
		var case_qty = $('.isoitemcase_'+pid).val();
	}
	$.get("ajax_save_case_qty.phtml", 
		{
			'pid':pid,
			'qty':case_qty
		},function(data){
			
	});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<td align="right" colspan="2">
				<a href="iso.phtml">View saved ISO</a>
			</td>
		</tr>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			<td>
			<!------------------------------------------------------------------------------------------>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td>
					 	Create ISO:	<input type="text" class="formBox" id="iso_item_name"/> <input type="button" value="Save" onclick="saveISOItem()"/>
					</td>
				</tr>
				<tr>
					<td>
						<table id="iso_items" class="sortable">
							<tr bgcolor="#eeeeee">
								<td align="center"><b>Nr</b></td>
								<td align="center"><b>PID</b></td>
								<td align="center"><b>Manpart</b></td>
								<td align="center"><b>Manname</b></td>
								<td align="center"><b>Title</b></td>
								<td align=center><b>L/DS</b></td>	
								<?
								$query6 = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
								if(!$q4ok = mysql_db_query($DB, $query6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($whid, $whname) = mysql_fetch_array($q4ok))
								{
									?>
									<td align=center><b><?=$whname?></b></td>
									<?
								}
								?>
								<td align=center>OnHand</td>
								<td align=center>OnHold</td>
								<td align=center>Committed</td>
								<td align=center>Available</td>
								<td align=center>OnPO</td>	
								<td align=center><b>Case</b></td>
								<td align="center"><b>Qty</b></td>
								<td align="center"><b>Price</b></td>
								<td align="center"><b>Remove</b></td>
							</tr>
							<?
								if ($_SESSION['ISOICOUNT']>0) {
									for ($i=0;$i<$_SESSION['ISOICOUNT'];$i++) {
										
										$id = $_SESSION["ISOCART"]["ID"][$i];
										
										$q = "SELECT product_prices.avgcost, 
												product_prices.onhold, product_prices.committed, product_prices.onpo, product_prices.instock,
												product_list.alwaysinstock, product_list.alwaysoutstock, product_list.invisibleonstock,product_search_extended.dsqty
												FROM product_prices,product_list,product_search_extended WHERE
												product_list.id = product_search_extended.pid AND
												product_list.id = product_prices.id AND
												product_list.id = '".$id."'";
										if(!$q4ok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list($avgcost,$onhold, $committed, $onpo, $instock, $alwaysinstock, $alwaysoutstock, $invisibleonstock,$dsqty) = mysql_fetch_array($q4ok);
										
										if($efc->isAltSKU($id))
										{
											$iavailable = $instock;
										}
										else 
										{
											$iavailable = $instock - $onhold - $committed;
										}
										
										
										$tr_elem = $i+1;
										$manname = $_SESSION["ISOCART"]["MANNAME"][$i];
										$manpart = $_SESSION["ISOCART"]["MANPART"][$i];
										$title = $_SESSION["ISOCART"]["DESCR"][$i];
									?>
										<tr id="isoitem_<?=$id;?>" class="isoitemadd">
											<td align="center" class="iso_item_nr"><?=$tr_elem?></td>
											<td align="center"><?=$id?></td>
											<td align="center"><?=$manname?>&nbsp;</td>
											<td align="center"><?=$manpart?>&nbsp;</td>
											<td align="center"><?=$title?>&nbsp;</td>
											<td align=center><?=$instock." / ".$dsqty?></td>
											
											<?
											$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
											if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($whid, $whname) = mysql_fetch_array($q4ok))
											{
									//			if($whout > 0) $resultline .= "\t";
									
												$query = "select sum(inv_available),cost from product_inventory where whid = '$whid' and id = '$id' group by whid";
												if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												list($inv_available, $total_cost) = mysql_fetch_array($q5ok);
												?>
												<td align=center><?=$inv_available?></td>	
												<?
												$whout++;
											}
											
											
											$query_case_pack  = "SELECT text_short
																 FROM custom_values
																 WHERE pid = '$id'
																 AND cfid = '$cfid'";
											if(!$qok_case_pack = mysql_db_query($DB, $query_case_pack, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											list($case_pack) = mysql_fetch_array($qok_case_pack);
											
											?>
											
											<td align=center><?=$instock?></td>	
											<td align=center><?=$onhold?></td>	
											<td align=center><?=$committed?></td>	
											<td align=center><?=$iavailable?></td>	
											<td align=center><?=$onpo?></td>
											<td><input type="text" onblur="saveCaseQty('<?=$id?>')" class="formBox isoitemcase" id="isoitemcase_<?=$id?>" value="<?=$case_pack?>" style="width:50px"/></td>
											<td><input type="text" class="formBox" id="isoitemqty_<?=$id?>" style="width:50px"/></td>
											<td><input type="text" class="formBox" id="isoitemprice_<?=$id?>" style="width:50px"/></td>
											<td align="center"><img src="/mgt/images/del.gif" alt="Delete" onclick="removeISOItem('<?=$id?>')" style="cursor:pointer;"/></td>
										</tr>
									<?
									}
								}
							?>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<div id="reportdata">&nbsp;</div>
					</td>
				</tr>
			</table>
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>