<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//$efc->hasPermission("perm_edit_amazon"); // will redirect on failure // fix this

?>
<HTML>
<HEAD>
<TITLE>Feedback Log</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<SCRIPT>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function logSearch()
{
//	var type = document.logsearch.type.options[ document.logsearch.type.selectedIndex ].value;
	var type = $('#type').val();
	var status = $('#status').val();
	var invoiceid = document.logsearch.invoiceid.value;
	//var ebayacctid = document.logsearch.ebayacctid.value;
	//var txid = document.logsearch.txid.value;
	var keywords = document.logsearch.keywords.value;
	
	var bdate = document.logsearch.bdate.value;
	var edate = document.logsearch.edate.value;
	var disable_range = document.logsearch.disable_range.checked;
	
	var sol = '';
	if($('#solicited_filter_1').is(':checked')) {
		sol = '1';
	}
	if($('#solicited_filter_2').is(':checked')) {
		sol = '0';
	}
	var follow_up = '';
	if($('#follow_up_filter_1').is(':checked')) {
		follow_up = '1';
	}
	if($('#follow_up_filter_2').is(':checked')) {
		follow_up = '0';
	}
	var removed = '';
	if($('#removed_filter_1').is(':checked')) {
		removed = '1';
	}
	if($('#removed_filter_2').is(':checked')) {
		removed = '0';
	}
	
	var url="/mgt/scripts/amazon_feedback/ajax_feedbacksearch.phtml";
	url += "?type="+[type];
	url += "&invoiceid="+invoiceid;
	//url += "&ebayacctid="+ebayacctid;
	//url += "&txid="+txid;
	url += "&keywords="+escape(keywords);
	
	url += "&status="+status;
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&removed="+removed;
	url += "&solicited="+sol;
	url += "&follow_up="+follow_up;
	url += "&disable_range="+disable_range;
	url += "&sid="+Math.random();

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	document.getElementById("logresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=logSearchComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function logSearchComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("logresults").innerHTML =  "&nbsp;";
		
		var dlg = document.getElementById("searchresults");
		
		dlg.innerHTML = xmlHttp.responseText;
	}			
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "1")				
	{// today
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "7")				
	{// last 60 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.logsearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function showExtended(lid)
{
	var dlg = document.getElementById("logExtended");

	dlg.style.display = "block";
	
	dlg.style.width=500;
	dlg.style.height=50;
	
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";

	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;
	
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	var url = "/mgt/cf/ajax_getlogextended.phtml";
	url += "?lid="+lid;
	url += "&sid="+Math.random();
  	
  	xml2Http.onreadystatechange=gotLogExtended;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
}

function gotLogExtended() 
{ 
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("logExtended");
		
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
	}			
}

function hideExtended()
{
	var dlg = document.getElementById("logExtended");
	dlg.style.display = "none";
}

function StartUp()
{

}

function clearForm()
{
	document.logsearch.type.selectedIndex = 0;
	document.logsearch.disable_range.checked = 0;
	changeRange();
	
	document.logsearch.invoiceid.value = "";
	document.logsearch.ebayacctid.value = "";
	document.logsearch.txid.value = "";
	document.logsearch.keywords.value = "";
	
	var dlg = document.getElementById("searchresults");
		
	dlg.innerHTML = "&nbsp;";
			
}
var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			logSearch();
			return false;
		}
	}
}
function saveChanges(fbid) {
	$('#save_'+fbid).hide();
	$('#loading_'+fbid).show();
	var notes = $('#notes_'+fbid).val();
	var removed = '0';
	if($('#removed_'+fbid).is(':checked')) {
		removed = '1';
	}
	var solicited = '0';
	if($('#solicited_'+fbid).is(':checked')) {
		solicited = '1';
	}
	var follow_up = '0';
	if($('#follow_up_'+fbid).is(':checked')) {
		follow_up = '1';
	}
	$.post("ajax_savechanges.phtml", 
		{
			'fbid':fbid,
			'notes':notes,
			'removed':removed,
			'follow_up':follow_up,
			'solicited':solicited
		},function(data){
			$('#loading_'+fbid).hide();
	});
}
</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body onload="StartUp()" onkeypress="return cancelReturn(this, event)">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?/*REQUIRE("e2win_menu.phtml");*/?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Feedback Search</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=295 align=center>
			<!--------------------------------------------------------------->		
			<div id="TabbedPanels1" class="TabbedPanels" style="width:290px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("feedback_search.phtml");?>
					</div>
					
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>					
				
			</td>

		
			<td width=95%>
			<BR><BR>
			<div id="searchresults">&nbsp;&nbsp;</div>
			<BR><BR>
			</td>
		</tr>
		</table>
		
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>


<div id="logExtended" class="dialog">&nbsp;</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>