<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$addon = $listaddon = '';

if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }

if(intval($listid) > 0)
{
        $listaddon .= " INNER JOIN list_products ON product_list.id = list_products.pid AND list_products.lid = '$listid' ";
}

$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG");
$alt_sku_parent = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT");
$alt_sku_parentid = $efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID");

$query = "select distinct(product_list.id), 
			product_list.manpart, 
			product_list.descr,
			product_list.sku
			from
			product_list
			INNER JOIN custom_values ON product_list.id=custom_values.pid AND custom_values.cfid='$alt_sku_parent' AND custom_values.text_short='1'
                        $listaddon
			where 1
				$addon
				group by product_list.id";
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$query = str_replace("\n", "", $query);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
//$ITEMS_PER_PAGE = 200000000000;

if(intval($num2return) <= 0)
	$num2return = 50;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr>
	<td height=12>&nbsp;</td>
	<td colspan="2" height=12>
            <input type="button" value="Save" onclick="saveData()"/>
        </td>
	<td colspan="7">&nbsp;</td>
</tr>
<tr bgcolor="#eeeeee">
	<td align=center height=21><b>Nr</b></td>
	<td>
		<input type="checkbox" onclick="checkUncheck()" id="child_check_all"/>
	</td>
	<td align=center height=21><b>ID</b></td>
	<td align=center height=21 colspan="2"><b>Manpart</b></td>
	<td align=center height=21 colspan="2"><b>Descr</b></td>
	<td align=center height=21 colspan="2"><b>SKU</b></td>
</tr>
	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $manpart, $descr,$sku) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
		{
			if($onrow % 2) {
					echo "<tr bgcolor='#eeeeee'>";
				}
				else {
					echo "<tr bgcolor='#ffffff'>";
				}
				?>
					<td align=center><?=($onrow+1)?></td>
					<td>
						<input type="checkbox" class="parent_check" id="parent_check_<?=$id?>"/>
					</td>
					<td align=left id="item_<?=$id?>">
                                            <a href="javascript:void(0)" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$id?>&inwin=1', 'Edit SKU: <?=$id?>','item_<?=$id?>');"><?=$id?></a>
					</td>
					<td align=center colspan="2">
                                            <?=$manpart?>
<!--						<a href="javascript:void(0)" onclick="e2window('/mgt/sm/image_loader.phtml?id=<?=$id?>&inwin=1', 'Images: <?=$id?> - <?=$manname?> - <?=$manpart?> - <?=$desc_tmp?>');">Images</a>-->
					</td>
					<td align=center colspan="2">
                                             <?=$descr?>
					</td>
					<td align=center colspan="2">
                                            <?=$sku?>
					</td>
				</tr>	
				<?
				$onrow++;
			$numout++;
		}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
