<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//PID, brand, title, sku,, qty, cost, price, profit, profit %
?>
<table widtd=99% id="results" cellpadding="4" class="sortable">
<thead>
	<tr bgcolor="#eeeeee">
		<td align=center height=21 class="sortable_caseinsensitive">&nbsp;</td>
		<td align=center height=21 class="sortable_caseinsensitive"><B>PID</B></td>
		<td align=center height=21 class="sortable_caseinsensitive"><B>Brand</B></td>
		<td align=center height=21 class="sortable_caseinsensitive"><B>FNSKU</B></td>
		<td align=center class="sortable_caseinsensitive"><B>Title</B></td>
		<td align=center class="sortable_numeric"><B>0-30 days</B></td>
		<td align=center class="sortable_numeric"><B>31-60 days</B></td>
		<td align=center class="sortable_numeric"><B>61-90 days</B></td>
		<td align=center class="sortable_numeric"><B>91-120 days</B></td>
		<td align=center class="sortable_numeric"><B>121-150 days</B></td>
		<td align=center class="sortable_numeric"><B>151-180 days</B></td>
		<td align=center class="sortable_numeric"><B>181-plus days</B></td>
		<td align=center class="sortable_numeric"><B>Total Qty</B></td>
	</tr>
</thead>
<tbody>
<?	

$addon = "";

$keywords = str_replace('^','#',$keywords);
if(strlen($keywords) >= 2)
{
	$wordlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($wordlist); $xx++)
	{
		$tdisword = $wordlist[$xx];
	
		$kwpart = " AND (product_list.manpart like '%$tdisword%' OR 
						product_list.upccode like '%$tdisword%' OR 
						product_list.descr like '%$tdisword%' OR 
						product_list.id = '$tdisword' OR 
						product_list.asin like '%$tdisword%') ";
		
		$addon .= $kwpart;
	}
}
if($id != "")$addon .= " AND product_list.id = '$id'";

if($catid != "" && $catid>0)
{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$catid'"; $cataddon = " AND product_list.id = product_category_map.pid";}

if($catquery != ""){$addon .= " AND $catquery ";}



if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }

if(intval($status) > 0) 
{
	/*$addon .= " AND customer_orders.status = '$status'";
	$addon_t .= " AND customer_orders.status = '$status'";*/
}
if(intval($listid) > 0)
{
	$addtables .= ", list_products ";
	$addon .= " AND fba_age_report.pid = list_products.pid AND list_products.lid = '$listid' ";
}	

if(intval($nolist) > 0)
{
	$addon .= " AND product_search_extended.inlist = 0 ";
}
if( intval($sourcing) > 0 )
{
	$addtables .= ", product_sourcing ";
	$addon .= " AND product_sourcing.distid = '$sourcing' AND product_sourcing.pid = fba_age_report.pid ";
	if ($sourcing_qty != '') {
		$addon .=" AND product_sourcing.qty>='".$sourcing_qty."' ";
	}
}

if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND product_list.id = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND product_list.id NOT IN (select pid from sku_assignment) ";}

if(intval($disposition) > 0)
{
	if ($disposition == '1') {
			$addon .= " AND fba_age_report.`disposition` = 'SELLABLE' ";
	}
	else {
			$addon .= " AND fba_age_report.`disposition` = 'UNSELLABLE' ";
	}

}

$query = "SELECT max(`snapshot-date`) from fba_age_report";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($date) = mysql_fetch_array($qok);


$query = "SELECT distinct(fba_age_report.`pid`),
				fba_age_report.`reportid`,
				fba_age_report.`snapshot-date`,
				fba_age_report.`sku`,
				fba_age_report.`fnsku`,
				fba_age_report.`product-name`,
				fba_age_report.`disposition`,
				sum(fba_age_report.`time1`) as time1,
				sum(fba_age_report.`time2`) as time2,
				sum(fba_age_report.`time3`) as time3,
				sum(fba_age_report.`time4`) as time4,
				sum(fba_age_report.`time5`) as time5,
				sum(fba_age_report.`time6`) as time6,
				sum(fba_age_report.`time7`) as time7,
				sum(fba_age_report.`total-quantity`) as tqty,
				product_manufacturers.`manname`
			FROM fba_age_report,product_list,product_manufacturers,product_search_extended $cattable $addtables
			WHERE 
				product_list.id = fba_age_report.pid AND
				fba_age_report.`snapshot-date` = '$date' AND
				product_list.manid = product_manufacturers.manid AND
				fba_age_report.pid = product_search_extended.pid
				$addon $cataddon
				group by fba_age_report.`pid` order by fba_age_report.`pid`
			";
//print_r($query);
$time1_all = $time2_all = $time3_all = $time4_all = $time5_all = $time6_all = $time7_all = $totalquantity_all = 0;
$time1_all_cost = $time2_all_cost = $time3_all_cost = $time4_all_cost = $time5_all_cost = $time6_all_cost = $time7_all_cost = $totalquantity_all_cost = 0;
$onrow = 1;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid,$reportid,$snapshot,$sku,$fnsku,$productname,$disposition,$time1,$time2,$time3,$time4,$time5,$time6,$time7,$totalquantity,$manname) = mysql_fetch_array($qok))
{
	
	$q = "SELECT cost from product_inventory WHERE id='$pid' and whid='0'";
	if(!$qok1 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($avgcost) =  mysql_fetch_array($qok1);
	
	$time1_all += $time1;
	$time2_all += $time2;
	$time3_all += $time3;
	$time4_all += $time4;
	$time5_all += $time5;
	$time6_all += $time6;
	$time7_all += $time7;
	$totalquantity_all += $totalquantity;
	
	$time1_all_cost += $time1*$avgcost;
	$time2_all_cost += $time2*$avgcost;
	$time3_all_cost += $time3*$avgcost;
	$time4_all_cost += $time4*$avgcost;
	$time5_all_cost += $time5*$avgcost;
	$time6_all_cost += $time6*$avgcost;
	$time7_all_cost += $time7*$avgcost;
	
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td  align="center">
			<?=$onrow?>
		</td>
		<td  align="center">
			<a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit Sku: <?=$pid;?>');"><?=$pid;?>
		</td>
		<td align="center"><?=$manname;?></td>
		<td align="center"><?=$fnsku;?></td>
		<td align="center"><?=$productname;?></td>
		<td align="center" NOWRAP <?if($time1>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time1;?><br />(<?=number_format($time1 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP <?if($time2>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time2;?><br />(<?=number_format($time2 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP <?if($time3>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time3;?><br />(<?=number_format($time3 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP <?if($time4>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time4;?><br />(<?=number_format($time4 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP <?if($time5>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time5;?><br />(<?=number_format($time5 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP <?if($time6>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time6;?><br />(<?=number_format($time6 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP <?if($time7>0 && $avgcost==0){echo 'style="background-color:red;"';}?>><?=$time7;?><br />(<?=number_format($time7 * $avgcost,2);?>)</td>
		<td align="center" NOWRAP><?=$totalquantity;?><br />(<?=number_format($totalquantity * $avgcost,2);?>)</td>
	</tr>
	<?
	$onrow++;
}
$totalquantity_all_cost = $time1_all_cost+$time2_all_cost+$time3_all_cost+$time4_all_cost+$time5_all_cost+$time6_all_cost+$time7_all_cost;
?>
</tbody>
<tfoot>
<tr>
	<td colspan="5" align="right"><b>Totals</b></td>
	<td align="center" NOWRAP><b><?=$time1_all;?><br />(<?=number_format($time1_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$time2_all;?><br />(<?=number_format($time2_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$time3_all;?><br />(<?=number_format($time3_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$time4_all;?><br />(<?=number_format($time4_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$time5_all;?><br />(<?=number_format($time5_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$time6_all;?><br />(<?=number_format($time6_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$time7_all;?><br />(<?=number_format($time7_all_cost,2);?>)</b></td>
	<td align="center" NOWRAP><b><?=$totalquantity_all;?><br />(<?=number_format($totalquantity_all_cost,2);?>)</b></td>
</tr>
</tfoot>
</table>

