<form name="ivaluation" id="ivaluation">
<table>
<tr>
	<td class="g1">Keywords:</td>
	<td><input type="text" name="keywords" value="" style="width:75px" class="formBox"></td>
</tr>
<tr>
	<td class="g1">ID:</td>
	<td><input type="text" name="id" style="width:75px" value="" class="formBox"></td>
</tr>
<!--<tr>
	<td class="g1">Status:</td>
	<td>
		<select name="status" id="status" class="formSelect">
		<option value="0">----- SELECT --------</option>
		<?
		$query = "select step, status from company_orderflow order by step";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($step, $status) = mysql_fetch_array($qok))
		{
			?>
			<option value="<?=$step;?>"><?=$status;?>
			<?
		}
		?>
		</select>		
	</td>
</tr>	-->
	
<tr>
	<td class="g1">Category:</td>
	<td>
		<select name="cat0" class="formSelect" onchange="getCategories(1);">
		<option value="0">----- SELECT --------
		<?
		$query = "select catid, catname from product_categories where parentid = 0 order by catname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
		<?
		}
		?>
		</select>		
		<?
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat0) > 0)
		{
		?>
			<div id="cat1d" style="display:;">
			<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat1) > 0 && intval($cat0) > 0)
		{
		?>
			<div id="cat2d" style="display:;">
			<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat1'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat2) > 0)
		{
		?>
			<div id="cat3d" style="display:;">
			<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
		<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
		?>
		<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
		<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
	</td>
</tr>				
<tr>
	<td class="g1">Brand:</td>
	<td>
		<select name="brand" id="brand" class="formSelect">
		<option value="0">----- SELECT --------
		<?
		$query = "select manid, manname from product_manufacturers where manname != '' order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>"><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1"><B>Assigned To:</B></td>
	<td>
		<select name="assignedto" id="assignedto" class="formSelect">
		<option value="-1">--- SELECT ----</option>
		<option value="UN">Unassigned</option>
		<?
		
		$query = "select id, displayname from users order by displayname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$x_userid;?>"><?=$x_displayname;?></option>
		<?	
		}
		?>
		</select>
	</td>	
</tr>	
<tr>
	<td class="g1">List:</td>
	<td>
		<select name="listid" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select lid, list_title from lists order by list_title";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($lid, $list_title) = mysql_fetch_array($qok))
		{
			if(strlen($list_title) > 25)
			{
				$list_title = substr($list_title, 0, 18)."...";
			}
			?>
			<option value="<?=$lid;?>"><?=$list_title;?>
			<?
		}
		?>
		</select>	
		<BR>
		<input type="checkbox" name="nolist" value="1">Not on a list					
	</td>
</tr>
<tr>
	<td class="g1"><B>Sourced From:</B></td>
	<td>
		<select name="sourcing" class="formSelect">
		<option value="-1">--- SELECT ----</option>
		<?
		
		$query = "select vendorid, vendorname from vendors order by vendorname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
		{
			if(strlen($x_vendorname) > 25)
			{
				$x_vendorname = substr($x_vendorname, 0, 22)."...";
			}
		?>
			<option value="<?=$x_vendorid;?>"><?=$x_vendorname;?></option>
		<?	
		}
		?>
		</select>
	</td>	
</tr>
<tr>
	<td class="g1"><B>Disposition:</B></td>
	<td>
		<select name="disposition" id="disposition" class="formSelect">
			<option value="-1">--- SELECT ----</option>
			<option value="1">SELLABLE</option>
			<option value="2">UNSELLABLE</option>
		</select>
	</td>	
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		<input type="button" name="Action" value="Clear" onclick="clearReport()" class="buttonItem">
	</td>
</tr>						
</table>
</form>