<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($export == 1)
{
	header("Pragma: public");
	header("Expires: 0"); // set expiration time
	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
	// browser must download file from server instead of cache
	
	// force download dialog
	header("Content-Type: application/force-download");
	header("Content-Type: application/octet-stream");
	header("Content-Type: application/download");
	
	// use the Content-Disposition header to supply a recommended filename and
	// force the browser to display the save dialog.
	header("Content-Disposition: attachment; filename=commission_report.csv;");
	
	/*
	The Content-transfer-encoding header should be binary, since the file will be read
	directly from the disk and the raw bytes passed to the downloading computer.
	The Content-length header is useful to set for downloads. The browser will be able to
	show a progress meter as a file downloads. The content-lenght can be determines by
	filesize function returns the size of a file.
	*/
	header("Content-Transfer-Encoding: binary");
	flush();
}
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query = "select config_value from configuration where config_group = 'eFluent Settings' and config_key = 'Reorder_Option' and config_value is not null";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($reorder_options) = mysql_fetch_array($qok);
list($min, $xmax, $xwhid) = explode(":", $reorder_options);

////////////////////////////////////////////////////////////////////////////////////////////
if($export == 1)
{
	echo "Assigned to,PID,SKU,Desc,Avg Cost,Qty -FBA,Inbound,Total Sent,Qty -Sold (7 days),Qty -Sold (14 days),Qty -Sold (30 days),Reorder Pt\n";
}
else 
{
	?>
	<table width=99% id="results">
	<tr bgcolor="#eeeeee">
		<td align=center><B>Assigned To</B></td>
		<td align=center><B>PID</B></td>
		<td align=center><B>SKU</B></td>
		<td align=center><B>Desc</B></td>
		<td align=center><B>Avg Cost</B></td>
		<td align=center><B>Qty-FBA</B></td>
		<td align=center><B>Inbound</B></td>
		<td align=center><B>Total Sent</B></td>
		<td align=center><B>Qty-Sold (7 days)</B></td>
		<td align=center><B>Qty-Sold (14 days)</B></td>
		<td align=center><B>Qty-Sold (30 days)</B></td>
		<td align=center><B>Reorder Pt</B></td>
	</tr>
	
	<?
}

	$query = "select config_key from configuration where config_group = 'Warehouse List' and config_value = 'FBA'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($fba_warehouse) = mysql_fetch_array($qok);
	
	/*
	url += "?bdate="+bdate;
	url += "&edate="+edate;
	url += "&repid="+repid;
	url += "&status="+status;	
	url += "&brand="+brand;	
	url += "&pid="+pid;		
	url += "&export="+expvar;			
	*/
	if(intval($pid) > 0)
	{
		$limitpid = $pid;
		
		$addon .= " AND product_list.id = '$limitpid' ";
	}
	
	$xbdate = strtotime("$bdate 00:00:00");
	$xedate = strtotime("$edate 23:59:59");
	
	if(intval($repid) > 0)
	{
		$addontable .= ", sku_assignment";
		$addon .= " AND sku_assignment.userid = '$repid' AND sku_assignment.pid = product_inventory.id ";
	}
	
	if(intval($brand) > 0)
	{
		$addon .= " AND product_list.manid = '$brand' ";
	}

	if(intval($status) > 0)
	{
		$addon2 .= " AND customer_orders.status = '$status' ";
	}

	$query = "select distinct(product_list.id), sum(inv_available), sum(inv_onorder), product_list.sku, product_list.descr, sum(inv_available) + sum(inv_onorder) as tstock
				from 
				product_inventory, product_list $addontable
				where 
				product_inventory.id > 0 AND
				product_list.id = product_inventory.id AND
				whid = '$fba_warehouse' 
				$addon
				group by product_inventory.id
				";//having tstock > 0
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($pid, $instock, $total, $sku, $descr) = mysql_fetch_array($qok))				
	{
		$inbound = $total - $instock;

		// Total Sent - running total from the customer account 92682
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where 
						customer_orders.orderid = customer_order_lines.orderid AND
						customer_order_lines.prodid = '$pid' AND customer_orders.acctid = '92682'
						$addon2";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($totalsent) = mysql_fetch_array($q2ok);

		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$xbdate = time() - (86400 * 7);
		$xedate = time();
		
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where 
						customer_orders.orderid = customer_order_lines.orderid AND
						customer_order_lines.prodid = '$pid' AND customer_orders.acctid = '92682'
						$addon2 
						AND
						customer_orders.orderdate >= '$xbdate' AND
						customer_orders.orderdate <= '$xedate'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($days7) = mysql_fetch_array($q2ok);
		////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$xbdate = time() - (86400 * 14);
		$xedate = time();
		
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where 
						customer_orders.orderid = customer_order_lines.orderid AND
						customer_order_lines.prodid = '$pid' AND customer_orders.acctid = '92682'
						$addon2 
						AND
						customer_orders.orderdate >= '$xbdate' AND
						customer_orders.orderdate <= '$xedate'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($days14) = mysql_fetch_array($q2ok);
		////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$xbdate = time() - (86400 * 30);
		$xedate = time();
		
		$query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where 
						customer_orders.orderid = customer_order_lines.orderid AND
						customer_order_lines.prodid = '$pid' AND customer_orders.acctid = '92682'
						$addon2 
						AND
						customer_orders.orderdate >= '$xbdate' AND
						customer_orders.orderdate <= '$xedate'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($days30) = mysql_fetch_array($q2ok);
		
		////////////////////////////////////////////////////////////////////////////////////
		
		$query = "select userid from sku_assignment where pid = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($userid) = mysql_fetch_array($q2ok);
		
		$avgcost = $efc->getActualCostHistory($pid);
		
		////////////////////////////////////////////////////////////////////////////////////
		$query = "select text_short from custom_values where cfid = '$xmax' and pid = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($targetqty) = mysql_fetch_array($q2ok);

		$repname = $efc->getRepName($userid);
			
				
		if($export == 1)
		{
			$descr = str_replace(",", "", $descr);
			echo "$repname,$pid,$sku,$descr,$avgcost,$instock,$inbound,$totalsent,$days7,$days14,$days30,$targetqty\n";
		}
		else 
		{
			
		?>
		<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#ffffff';">
			<td align=center><?=$repname;?></td>
			<td align=center>
				<a href="javascript:void(0);" 
					onclick="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');">
					<?=$pid;?>
				</a>
			</td>
			
			<td align=center><?=$sku;?></td>
			<td align=center><?=$descr;?></td>
			<td align=right><?=number_format($avgcost, 2);?></td>
			<td align=right><?=$instock;?></td>
			<td align=right><?=$inbound;?></td>
			<td align=right><?=intval($totalsent);?></td>
			<td align=right><?=intval($days7);?></td>
			<td align=right><?=intval($days14);?></td>
			<td align=right><?=intval($days30);?></td>
			<td align=center><?=intval($targetqty);?></td>
			
		</tr>
		<?
		}
	}
	
	if($export != 1)
	{
		?>
		</table>
		<?
	}
	
?>

