<?

ini_set('memory_limit', '-1');
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

if($argv[1] == "")
{
	/*echo "Usage manage_listings.phtml ROOT_DIR\n";
	exit;*/
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}
else {
	$ROOT_DIR = $argv[1];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession2.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;
$ebc->token = 'ecom';


$response = $ebc->eBayGetUserCases();
$responseArray = $ebc->xml2array($response, 1);

//print_r($responseArray);
$numpages = $responseArray['getUserCasesResponse']['paginationOutput']['totalPages']['value'];
if (isset($responseArray['getUserCasesResponse']['ack']) && $responseArray['getUserCasesResponse']['ack']['value'] == 'Success') {
	importCases($responseArray,$DB,$mysqlid);
}


for($pp = 2; $pp <= $numpages; $pp++)
{
//	echo "Getting Page: $pp\n";
	$response = '';
	$response = $ebc->eBayGetUserCases($pp);
	$responseArray = $ebc->xml2array($response);
//	print_r($responseArray['getUserCasesResponse']['paginationOutput']);
	if (isset($responseArray['getUserCasesResponse']['ack']) && $responseArray['getUserCasesResponse']['ack']['value'] == 'Success') {
		importCases($responseArray,$DB,$mysqlid);
	}
}


function importCases($responseArray,$DB,$mysqlid) {
	
	$cases = $responseArray['getUserCasesResponse']['cases']['caseSummary'];
	foreach ($cases as $k=>$v) {
		
		foreach ($v['status'] as $x=>$y) {
			$status_value = $y['value'];
			$status_type = $x;
		}
		if (isset($v['respondByDate']['value'])) {
			$date1 = date("Y-m-d H:i:s",strtotime($v['respondByDate']['value']));
		}
		if (isset($v['creationDate']['value'])) {
			$date2 = date("Y-m-d H:i:s",strtotime($v['creationDate']['value']));
		}
		if (isset($v['lastModifiedDate']['value'])) {
			$date3 = date("Y-m-d H:i:s",strtotime($v['lastModifiedDate']['value']));
		}
		
		$query = "SELECT id FROM ebay_cases WHERE case_id='".$v['caseId']['id']['value']."'";
		if(!$qok1 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($qok1) == 0) {
			$q = "INSERT INTO ebay_cases(
							case_id,
							case_type,
							case_user_id,
							case_user_role,
							case_otherparty_userid,
							case_otherparty_role,
							case_status,
							case_status_stype,
							case_item_id,
							case_item_title,
							case_transaction_id,
							case_qty,
							case_amount,
							case_currency,
							case_respond_date,
							case_creation_date,
							case_last_modified_date
						) VALUES(
							'".$v['caseId']['id']['value']."',
							'".$v['caseId']['type']['value']."',
							'".$v['user']['userId']['value']."',
							'".$v['user']['role']['value']."',
							'".$v['otherParty']['userId']['value']."',
							'".$v['otherParty']['role']['value']."',
							'".$status_value."',
							'".$status_type."',
							'".$v['item']['itemId']['value']."',
							'".addslashes($v['item']['itemTitle']['value'])."',
							'".$v['item']['transactionId']['value']."',
							'".$v['caseQuantity']['value']."',
							'".$v['caseAmount']['value']."',
							'".$v['caseAmount']['attr']['currencyId']."',
							'".$date1."',
							'".$date2."',
							'".$date3."'
						)";
		/*	$q = str_replace("\n", "", $q);
			echo $q."<BR><BR><BR>";*/
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else {
			$q = "UPDATE ebay_cases SET 
					case_type='".$v['caseId']['type']['value']."',
					case_user_id='".$v['user']['userId']['value']."',
					case_user_role='".$v['user']['role']['value']."',
					case_otherparty_userid='".$v['otherParty']['userId']['value']."',
					case_otherparty_role='".$v['otherParty']['role']['value']."',
					case_status='".$status_value."',
					case_status_stype='".$status_type."',
					case_item_id='".$v['item']['itemId']['value']."',
					case_item_title='".addslashes($v['item']['itemTitle']['value'])."',
					case_transaction_id='".$v['item']['transactionId']['value']."',
					case_qty='".$v['caseQuantity']['value']."',
					case_amount='".$v['caseAmount']['value']."',
					case_currency='".$v['caseAmount']['attr']['currencyId']."',
					case_respond_date='".$date1."',
					case_creation_date='".$date2."',
					case_last_modified_date='".$date3."'
				WHERE case_id='".$v['caseId']['id']['value']."'";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
}

?>
<?mysql_close();?>