<?

ini_set('memory_limit', '-1');
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

if($argv[1] == "")
{
	/*echo "Usage manage_listings.phtml ROOT_DIR\n";
	exit;*/
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}
else {
	$ROOT_DIR = $argv[1];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession2.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;
$ebc->token = 'ecom';
$ebc->_getToken('B');

$response = $ebc->eBayGetUserCases();
$responseArray = $ebc->xml2array($response, 1);

//print_r($responseArray);
$numpages = $responseArray['getUserCasesResponse']['paginationOutput']['totalPages']['value'];
if (isset($responseArray['getUserCasesResponse']['ack']) && $responseArray['getUserCasesResponse']['ack']['value'] == 'Success') {
	importCases($responseArray,$DB,$mysqlid);
}


for($pp = 2; $pp <= $numpages; $pp++)
{
//	echo "Getting Page: $pp\n";
	$response = '';
	$response = $ebc->eBayGetUserCases($pp);
	$responseArray = $ebc->xml2array($response);
//	print_r($responseArray['getUserCasesResponse']['paginationOutput']);
	if (isset($responseArray['getUserCasesResponse']['ack']) && $responseArray['getUserCasesResponse']['ack']['value'] == 'Success') {
		importCases($responseArray,$DB,$mysqlid);
	}
}


function importCases($responseArray,$DB,$mysqlid) {
	
	$cases = $responseArray['getUserCasesResponse']['cases']['caseSummary'];
	foreach ($cases as $k=>$v) {
		
		foreach ($v['status'] as $x=>$y) {
			$status_value = $y['value'];
			$status_type = $x;
		}
		if (isset($v['respondByDate']['value'])) {
			$date1 = date("Y-m-d H:i:s",strtotime($v['respondByDate']['value']));
		}
		if (isset($v['creationDate']['value'])) {
			$date2 = date("Y-m-d H:i:s",strtotime($v['creationDate']['value']));
		}
		if (isset($v['lastModifiedDate']['value'])) {
			$date3 = date("Y-m-d H:i:s",strtotime($v['lastModifiedDate']['value']));
		}
		
		$query = "SELECT id FROM ebay_cases WHERE case_id='".$v['caseId']['id']['value']."'";
		if(!$qok1 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($qok1) == 0) {
			$q = "INSERT INTO ebay_cases(
							case_id,
							case_type,
							case_user_id,
							case_user_role,
							case_otherparty_userid,
							case_otherparty_role,
							case_status,
							case_status_stype,
							case_item_id,
							case_item_title,
							case_transaction_id,
							case_qty,
							case_amount,
							case_currency,
							case_respond_date,
							case_creation_date,
							case_last_modified_date,
                                                        case_account
						) VALUES(
							'".$v['caseId']['id']['value']."',
							'".$v['caseId']['type']['value']."',
							'".$v['user']['userId']['value']."',
							'".$v['user']['role']['value']."',
							'".$v['otherParty']['userId']['value']."',
							'".$v['otherParty']['role']['value']."',
							'".$status_value."',
							'".$status_type."',
							'".$v['item']['itemId']['value']."',
							'".addslashes($v['item']['itemTitle']['value'])."',
							'".$v['item']['transactionId']['value']."',
							'".$v['caseQuantity']['value']."',
							'".$v['caseAmount']['value']."',
							'".$v['caseAmount']['attr']['currencyId']."',
							'".$date1."',
							'".$date2."',
							'".$date3."',
                                                        'ace'
						)";
		/*	$q = str_replace("\n", "", $q);
			echo $q."<BR><BR><BR>";*/
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else {
			$q = "UPDATE ebay_cases SET 
					case_type='".$v['caseId']['type']['value']."',
					case_user_id='".$v['user']['userId']['value']."',
					case_user_role='".$v['user']['role']['value']."',
					case_otherparty_userid='".$v['otherParty']['userId']['value']."',
					case_otherparty_role='".$v['otherParty']['role']['value']."',
					case_status='".$status_value."',
					case_status_stype='".$status_type."',
					case_item_id='".$v['item']['itemId']['value']."',
					case_item_title='".addslashes($v['item']['itemTitle']['value'])."',
					case_transaction_id='".$v['item']['transactionId']['value']."',
					case_qty='".$v['caseQuantity']['value']."',
					case_amount='".$v['caseAmount']['value']."',
					case_currency='".$v['caseAmount']['attr']['currencyId']."',
					case_respond_date='".$date1."',
					case_creation_date='".$date2."',
					case_last_modified_date='".$date3."'
				WHERE case_id='".$v['caseId']['id']['value']."'";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
}

/*******************************************************************************/
/*********************************CASE DETAILS**********************************/
/*******************************************************************************/



$query = "SELECT case_id,case_type FROM ebay_cases WHERE (case_type='EBP_INR' OR case_type='EBP_SNAD') AND case_account='ace'";
//$query = "SELECT case_id,case_type FROM ebay_cases";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while (list($case_id,$case_type) = mysql_fetch_array($qok)) {

	$response = $ebc->eBayGetEBPCaseDetail($case_id,$case_type);
	$responseArray = $ebc->xml2array($response);
	importCasesDetails($responseArray,$DB,$mysqlid);
}

function importCasesDetails($responseArray,$DB,$mysqlid) {
	
	$cases = $responseArray['getEBPCaseDetailResponse']['caseSummary'];
	$cases_detail = $responseArray['getEBPCaseDetailResponse']['caseDetail'];
	
	$fvf = 0;
	if ($cases_detail['FVFCredited'] == 'true') {
		$fvf = 1;
	}
	if (isset($cases_detail['decisionDate']['value'])) {
		$date = date("Y-m-d H:i:s",strtotime($cases_detail['decisionDate']['value']));
	}
	
	$query = "SELECT id FROM ebay_cases_details WHERE case_id='".$cases['caseId']['id']['value']."'";
	if(!$qok1 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok1) == 0) {
		
		$q = "INSERT INTO ebay_cases_details(
						case_id,
						case_agree_refund_amount,
						case_decision,
						case_decision_date,
						case_decision_reason,
						case_detail_status,
						case_vfv_credited,
						case_global_id,
						case_initial_buyer_expect,
						case_open_reason,
						case_return_merchandise_authorization
					) VALUES(
						'".$cases['caseId']['id']['value']."',
						'".$cases_detail['agreedRefundAmount']['value']."',
						'".$cases_detail['decision']['value']."',
						'".$date."',
						'".$cases_detail['decisionReason']['value']."',
						'".$cases_detail['detailStatus']['value']."',
						'".$fvf."',
						'".$cases_detail['globalId']['value']."',
						'".$cases_detail['initialBuyerExpectation']['value']."',
						'".$cases_detail['openReason']['value']."',
						'".$cases_detail['returnMerchandiseAuthorization']['value']."'
					)";
	/*	$q = str_replace("\n", "", $q);
		echo $q."<BR><BR><BR>";*/
		
	}
	else {
		$q = "UPDATE ebay_cases_details SET 
					case_agree_refund_amount = '".$cases_detail['agreedRefundAmount']['value']."',
					case_decision = '".$cases_detail['decision']['value']."',
					case_decision_date = '".$date."',
					case_decision_reason = '".$cases_detail['decisionReason']['value']."',
					case_detail_status = '".$cases_detail['detailStatus']['value']."',
					case_vfv_credited = '".$fvf."',
					case_global_id = '".$cases_detail['globalId']['value']."',
					case_initial_buyer_expect = '".$cases_detail['initialBuyerExpectation']['value']."',
					case_open_reason = '".$cases_detail['openReason']['value']."',
					case_return_merchandise_authorization = '".$cases_detail['returnMerchandiseAuthorization']['value']."'
				WHERE case_id='".$cases['caseId']['id']['value']."'";
	}
	if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	
	if (isset($cases_detail['responseHistory'])) {
		importCasesDetailsResponseHistory($cases['caseId']['id']['value'],$cases_detail['responseHistory'],$DB,$mysqlid);	
	}
	if (isset($cases_detail['buyerReturnShipment'])) {
		importCasesDetailsReturnShipment($cases['caseId']['id']['value'],$cases_detail['buyerReturnShipment'],'1',$DB,$mysqlid);	
	}
	if (isset($cases_detail['sellerShipment'])) {
		importCasesDetailsReturnShipment($cases['caseId']['id']['value'],$cases_detail['sellerShipment'],'0',$DB,$mysqlid);	
	}
	if (isset($cases_detail['paymentDetail'])) {
		importCasesDetailsPayment($cases['caseId']['id']['value'],$cases_detail['paymentDetail'],$DB,$mysqlid);	
	}
	
}
function importCasesDetailsAppeal() {
	
}
function importCasesDetailsResponseHistory ($case_id,$historyRespons,$DB,$mysqlid) {
	
	$q = "DELETE FROM ebay_cases_details_respons_history WHERE case_id='".$case_id."'";
	if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (isset($historyRespons[0])) {
		foreach ($historyRespons as $history) {
			$date = '';
			if (isset($history['creationDate']['value'])) {
				$date = date("Y-m-d H:i:s",strtotime($history['creationDate']['value']));
			}
			$q = "INSERT INTO ebay_cases_details_respons_history(
						case_id,
						activity,
						activity_code,
						activity_content,
						activity_description,
						appeal_ref,
						money_movement_ref,
						onhold_reason,
						onhold_reason_code,
						onhold_reason_content,
						onhold_reason_description,
						author_role,
						author_userid,
						creation_date,
						note
						) VALUES (
						'".$case_id."',
						'".addslashes($history['activity']['value'])."',
						'".addslashes($history['activityDetail']['code']['value'])."',
						'".addslashes($history['activityDetail']['content']['value'])."',
						'".addslashes($history['activityDetail']['description']['value'])."',
						'".addslashes($history['attributes']['appealRef']['attr']['idref'])."',
						'".addslashes($history['attributes']['moneyMovementRef']['attr']['idref'])."',
						'".addslashes($history['attributes']['onholdReason']['value'])."',
						'".addslashes($history['attributes']['onholdReason']['onholdReasonDetail']['code']['value'])."',
						'".addslashes($history['attributes']['onholdReason']['onholdReasonDetail']['content']['value'])."',
						'".addslashes($history['attributes']['onholdReason']['onholdReasonDetail']['description']['value'])."',
						'".addslashes($history['author']['role']['value'])."',
						'".addslashes($history['author']['userId']['value'])."',
						'".$date."',
						'".addslashes($history['note']['value'])."'
						)";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	else {
		$date = '';
			if (isset($historyRespons['creationDate']['value'])) {
				$date = date("Y-m-d H:i:s",strtotime($historyRespons['creationDate']['value']));
			}
			$q = "INSERT INTO ebay_cases_details_respons_history(
						case_id,
						activity,
						activity_code,
						activity_content,
						activity_description,
						appeal_ref,
						money_movement_ref,
						onhold_reason,
						onhold_reason_code,
						onhold_reason_content,
						onhold_reason_description,
						author_role,
						author_userid,
						creation_date,
						note
						) VALUES (
						'".$case_id."',
						'".addslashes($historyRespons['activity']['value'])."',
						'".addslashes($historyRespons['activityDetail']['code']['value'])."',
						'".addslashes($historyRespons['activityDetail']['content']['value'])."',
						'".addslashes($historyRespons['activityDetail']['description']['value'])."',
						'".addslashes($historyRespons['attributes']['appealRef']['attr']['idref'])."',
						'".addslashes($historyRespons['attributes']['moneyMovementRef']['attr']['idref'])."',
						'".addslashes($historyRespons['attributes']['onholdReason']['value'])."',
						'".addslashes($historyRespons['attributes']['onholdReason']['onholdReasonDetail']['code']['value'])."',
						'".addslashes($historyRespons['attributes']['onholdReason']['onholdReasonDetail']['content']['value'])."',
						'".addslashes($historyRespons['attributes']['onholdReason']['onholdReasonDetail']['description']['value'])."',
						'".addslashes($historyRespons['author']['role']['value'])."',
						'".addslashes($historyRespons['author']['userId']['value'])."',
						'".$date."',
						'".addslashes($historyRespons['note']['value'])."'
						)";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
}
function importCasesDetailsReturnShipment($case_id,$shipment,$seller_buyer,$DB,$mysqlid) {
	$q = "DELETE FROM ebay_cases_details_return_shipment WHERE case_id='".$case_id."'";
	if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$q = "SELECT case_id FROM ebay_cases_details_return_shipment WHERE case_id='".$case_id."'";
	if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok2) == 0) {
		$date = '';
		if (isset($shipment['deliveryDate']['value'])) {
			$date = date("Y-m-d H:i:s",strtotime($shipment['deliveryDate']['value']));
		}
		$query = "INSERT INTO ebay_cases_details_return_shipment(
					case_id,
					carrier_used,
					delivery_date,
					delivery_status,
					shipping_city,
					shipping_country,
					shipping_name,
					shipping_zip,
					shipping_state,
					shipping_street1,
					shipping_street2,
					shipping_cost,
					tracking_number,
					seller_buyer
				) VALUES(
					'".$case_id."',
					'".addslashes($shipment['carrierUsed']['value'])."',
					'".$date."',
					'".addslashes($shipment['deliveryStatus']['value'])."',
					'".addslashes($shipment['shippingAddress']['city']['value'])."',
					'".addslashes($shipment['shippingAddress']['country']['value'])."',
					'".addslashes($shipment['shippingAddress']['name']['value'])."',
					'".addslashes($shipment['shippingAddress']['zip']['value'])."',
					'".addslashes($shipment['shippingAddress']['state']['value'])."',
					'".addslashes($shipment['shippingAddress']['street1']['value'])."',
					'".addslashes($shipment['shippingAddress']['street2']['value'])."',
					'".addslashes($shipment['shippingCost']['value'])."',
					'".addslashes($shipment['trackingNumber']['value'])."',
					'$seller_buyer'
				)";
		if(!$qok3 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
function importCasesDetailsPayment($case_id,$payment,$DB,$mysqlid) {
	$q = "DELETE FROM ebay_cases_details_payment WHERE case_id='".$case_id."'";
	if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$balance_due = $payment['balanceDue']['value'];

	if (isset($payment['moneyMovement'][0])) {
		foreach ($payment['moneyMovement'] as $k=>$v) {
			$date = '';
			if (isset($v['transactionDate']['value'])) {
				$date = date("Y-m-d H:i:s",strtotime($v['transactionDate']['value']));
			}
			$query = "INSERT INTO ebay_cases_details_payment(
						case_id,
						balance_due,
						money_movement_id,
						money_movement_parentid,
						amount,
						from_party_role,
						from_party_userid,
						payment_method,
						paypal_transaction_id,
						status,
						toparty_role,
						toparty_userid,
						transaction_date,
						transaction_type
					) VALUES(
						'".$case_id."',
						'".$balance_due."',
						'".addslashes($v['attr']['id'])."',
						'".addslashes($v['attr']['parentId'])."',
						'".addslashes($v['amount']['value'])."',
						'".addslashes($v['fromParty']['role']['value'])."',
						'".addslashes($v['fromParty']['userId']['value'])."',
						'".addslashes($v['paymentMethod']['value'])."',
						'".addslashes($v['paypalTransactionId']['value'])."',
						'".addslashes($v['status']['value'])."',
						'".addslashes($v['toParty']['role']['value'])."',
						'".addslashes($v['toParty']['userId']['value'])."',
						'".$date."',
						'".addslashes($payment['moneyMovement']['type']['value'])."'
						
					)";
			if(!$qok3 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	else {
		$date = '';
		if (isset($payment['moneyMovement']['transactionDate']['value'])) {
			$date = date("Y-m-d H:i:s",strtotime($payment['moneyMovement']['transactionDate']['value']));
		}
		$query = "INSERT INTO ebay_cases_details_payment(
					case_id,
					balance_due,
					money_movement_id,
					money_movement_parentid,
					amount,
					from_party_role,
					from_party_userid,
					payment_method,
					paypal_transaction_id,
					status,
					toparty_role,
					toparty_userid,
					transaction_date,
					transaction_type
				) VALUES(
					'".$case_id."',
					'".$balance_due."',
					'".addslashes($payment['moneyMovement']['attr']['id'])."',
					'".addslashes($payment['moneyMovement']['attr']['parentId'])."',
					'".addslashes($payment['moneyMovement']['amount']['value'])."',
					'".addslashes($payment['moneyMovement']['fromParty']['role']['value'])."',
					'".addslashes($payment['moneyMovement']['fromParty']['userId']['value'])."',
					'".addslashes($payment['moneyMovement']['paymentMethod']['value'])."',
					'".addslashes($payment['moneyMovement']['paypalTransactionId']['value'])."',
					'".addslashes($payment['moneyMovement']['status']['value'])."',
					'".addslashes($payment['moneyMovement']['toParty']['role']['value'])."',
					'".addslashes($payment['moneyMovement']['toParty']['userId']['value'])."',
					'".$date."',
					'".addslashes($payment['moneyMovement']['type']['value'])."'
					
				)";
		if(!$qok3 = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}

/*******************************************************************************/
/*********************************CASE ACTIVITY**********************************/
/*******************************************************************************/



$query = "SELECT case_id,case_type FROM ebay_cases WHERE (case_type='EBP_INR' OR case_type='EBP_SNAD') AND case_account='ace'";
//$query = "SELECT case_id,case_type FROM ebay_cases";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while (list($case_id,$case_type) = mysql_fetch_array($qok)) {

	$response = $ebc->eBayGetEBPCaseActivityOpt($case_id,$case_type);
	$responseArray = $ebc->xml2array($response);
//	print_r($responseArray);
	importActivityOpt($responseArray['getActivityOptionsResponse']['activityOptions'],$case_id,$DB,$mysqlid);
}
function importActivityOpt($options,$case_id,$DB,$mysqlid) {
	$q = "DELETE FROM ebay_cases_activity_options WHERE case_id='".$case_id."'";
	if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (count($options)>0) {
		foreach ($options as $k=>$v) {
			
			if ($v['buyerPreference']['value'] == 'false') {
				$buyer_pref = 0;	
			}
			else {
				$buyer_pref = 1;	
			}
			$tmp = 0;
			foreach ($v as $x=>$y) {
				if ($x != 'buyerPreference') {
					if ($tmp == 0) {
						$opt1_name = $x;
						$opt1_value = $y['value'];
					}
					if ($tmp == 1) {
						$opt2_name = $x;
						$opt2_value = $y['value'];
					}
					$tmp++;
				}
			}
			$q = "INSERT INTO ebay_cases_activity_options(
						case_id,
						activity_name,
						activity_buyer_pref,
						activity_opt1_name,
						activity_opt1_value,
						activity_opt2_name,
						activity_opt2_value
					) VALUES(
						'".$case_id."',
						'".addslashes($k)."',
						'".addslashes($buyer_pref)."',
						'".addslashes($opt1_name)."',
						'".addslashes($opt1_value)."',
						'".addslashes($opt2_name)."',
						'".addslashes($opt2_value)."'
					)";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
}
?>
<?mysql_close();?>