<?
ini_set('memory_limit', '-1');
///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;

/////////////////////////////////////////////////////////////////////////
$response = "";
$fp = fopen("/tmp/ebay_errortest.xml", "r");
if($fp <= 0){ echo "ERROR OPENING FILE: "; exit(); }
while(!feof($fp)){$response .= fgets($fp, 4096);}
fclose($fp);
/////////////////////////////////////////////////////////////////////////
$itemsGroup = array();
$itemsGroup[] = "68293"; // 2
$itemsGroup[] = "129250"; // 3
$itemsGroup[] = "115555"; // 4
$itemsGroup[] = "129031"; // 5


$responseArray = $ebc->xml2array($response, 1);

	if(	@$responseArray['AddItemsResponse']['AddItemResponseContainer']['ItemID']['value'] == "" && 
		@$responseArray['AddItemsResponse']['AddItemResponseContainer']['Errors']['LongMessage']['value'] == "")
	{
		for($xx = 0; $xx < count($responseArray['AddItemsResponse']['AddItemResponseContainer']); $xx++)
		{
			$pid = $itemsGroup[$xx];
			
/*			echo "<pre>";
			print_r($responseArray['AddItemsResponse']['AddItemResponseContainer']);
			echo "</pre>";*/
			
			echo "-----------------------------------------------------------------------------------------------<BR>\n";
			echo "Received Response for $pid<BR>\n";
			
			if(@$responseArray['AddItemsResponse']['AddItemResponseContainer'][$xx]['ItemID']['value'] == "")
			{
				$tstamp = date("Y-m-d H:i:s", time());
				$query = "insert into ebay_errors(pid, tstamp, resolved, ebaycampid) values('$pid', '$tstamp', '0', '$ebaycampaignid')";
				echo $query."<BR>";
				//if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				//$eid = mysql_insert_id();

				////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// error handling
				if(count($itemsGroup) == 1)
					$errorlist = $responseArray['AddItemsResponse']['AddItemResponseContainer']['Errors'];
				else 
					$errorlist = $responseArray['AddItemsResponse']['AddItemResponseContainer'][$xx]['Errors'];
					
				if($errorlist['ShortMessage'] == "") // if its blank, we've got an array of errors
				{
					echo "... multiple errors<BR>\n";
					
					for($zz = 0; $zz < count($errorlist); $zz++) // CHANGED THIS LINE
					{
						
						$message = addslashes("Error: ".$errorlist[$zz]['ErrorCode']['value'] ." - ".$errorlist[$zz]['LongMessage']['value']);
							
						$query = "insert into ebay_errors_extended(eid, message) values('$eid', '$message')";
						echo $query."<BR>";
						//if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					}
				}
				else 
				{
					echo "... single error<BR>\n";
							
					$message = addslashes("Error: ".$errorlist['ErrorCode']['value'] ." - ".$errorlist['LongMessage']['value']);
							
					$query = "insert into ebay_errors_extended(eid, message) values('$eid', '$message')";
					echo $query."<BR>";
					//if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				
				// verify that an extended message was entered
				$query = "select id from ebay_errors_extended where eid = '$eid'";
				echo $query."<BR>";
				//if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				//if(mysql_num_rows($q3ok) <= 0)
				{
					$query = "insert into ebay_errors_extended(eid, message) values('$eid', 'manage_listings_multi.phtml - [478] - Could not determine error, contact support')";
					echo $query."<BR>";
					//if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
			}
			else 
			{
				$listingid = $responseArray['AddItemsResponse']['AddItemResponseContainer'][$xx]['ItemID']['value'];
				$starttime = date("Y-m-d H:i:s", strtotime($responseArray['AddItemsResponse']['AddItemResponseContainer'][$xx]['StartTime']['value']));
				$endtime = date("Y-m-d H:i:s", strtotime($responseArray['AddItemsResponse']['AddItemResponseContainer'][$xx]['EndTime']['value']));
				$pid_lastupdate = $ebc->getPIDLastUpdate($pid);
				
				$query = "insert into ebay_listings(ecampid, pid, active, ebaylistingid, starttime, endtime, pid_lastupdate) 
								values('$ebaycampaignid', '$pid', '1', '$listingid', '$starttime', '$endtime', '$pid_lastupdate')";
				echo $query."<BR>";
				//if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}			
		}
	}
?>
<?mysql_close();?>