<?php
set_time_limit(999999999999);
ini_set('memory_limit', '-1');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if (intval($num2return) <= 0)
{
	$num2return = 50;
}

$add_tables = $addon = '';
if (!empty($listid))
{
    $listid_arr = explode(',',rtrim($listid, ','));
    if (count($listid_arr) > 0 && !empty($listid_arr['0']))
    {
        $add_tables .= ",list_products";
        $addon .=" AND list_products.pid = amazon_inventory_recommendations.efluent_pid ";
        $addon .= ' AND (';
        $q_where_tables_tmp = '';
        foreach ($listid_arr AS $i)
        {
            $q_where_tables_tmp .= "list_products.lid = '$i' OR ";
        }
        $addon .= substr($q_where_tables_tmp,0,-4);
        $addon .= ') ';
    }
}
if($keywords != '') {
    $addon .= " AND (amazon_inventory_recommendations.sku='$keywords' OR
                    amazon_inventory_recommendations.item_name LIKE '%$keywords%'
                )";
}
if($channel != '') {
    $addon .= " AND amazon_inventory_recommendations.fulfillment_channel='$channel' ";
}
if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND amazon_inventory_recommendations.efluent_pid = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND amazon_inventory_recommendations.efluent_pid NOT IN (select pid from sku_assignment) ";}

$q_items = " SELECT 
                    amazon_inventory_recommendations.efluent_pid,
                    amazon_inventory_recommendations.sku,
                    amazon_inventory_recommendations.asin,
                    amazon_inventory_recommendations.upc,
                    amazon_inventory_recommendations.last_update,
                    amazon_inventory_recommendations.item_name,
                    amazon_inventory_recommendations.fulfillment_channel,
                    amazon_inventory_recommendations.sales_14_days,
                    amazon_inventory_recommendations.sales_30_days,
                    amazon_inventory_recommendations.available_qty,
                    amazon_inventory_recommendations.days_stock_out,
                    amazon_inventory_recommendations.inbound_qty,
                    amazon_inventory_recommendations.recommended_inbound_qty,
                    amazon_inventory_recommendations.days_out_of_stock_30,
                    amazon_inventory_recommendations.lost_sale_30,
                    amazon_inventory_recommendations.recommendation_id,
                    amazon_inventory_recommendations.recommendation_reason
                 FROM amazon_inventory_recommendations$add_tables
                 WHERE 1 $addon
        ";
if(!$qok_items = mysql_db_query($DB, $q_items, $mysqlid)){ echo "Whoops! 1 Internal Error"; exit;  }
$totalnum = mysql_num_rows($qok_items);
$ITEMS_PER_PAGE = $num2return;
$numpages = $numout = 0;

if (intval($p) == 0)
{
	$p = 1;
}

$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
$nextpage = $lastpage = 0;

if (($p + 1) <= $numpages)
{
	$nextpage = $p + 1;
}

if (($p - 1) >= 1)
{
	$lastpage = $p - 1;
}

$offset = ($p - 1) * $ITEMS_PER_PAGE;
if ($totalnum > 0)
{
	$bview = ($offset) + 1;
	$eview = $bview + $ITEMS_PER_PAGE - 1;
}

if ($eview > $totalnum)
{
	$eview = $totalnum;
}

if ($totalnum <= 0)
{
	echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";
	exit;
}
if(mysql_data_seek($qok_items, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
echo "($totalnum SKUs found)~";
?>
	<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?php
		if($lastpage != "")
		{
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		}
		else
		{
			echo "<td>&nbsp;&nbsp;</td>";
		}
		?>
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
			<input type="button" name="" value="Go" onclick="goToPage2();" class="buttonItem">
		</td>
		<?
		if($nextpage != "")
		{
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		}
		else 
		{
			echo "<td>&nbsp;&nbsp;</td>";
		}
		?>
	</tr>
	</table>
	
	<table width=99% id="results" class="sortable">
	<tr bgcolor="#eeeeee">
		<th height=21 class="unsortable"></th>
		<th class="sortable_numeric" height=21>PID</th>
		<th>SKU</th>
		<th>ASIN</th>
		<th>Title</th>
		<th>Channel</th>
		<th>14 Days</th>
		<th>30 Days</th>
		<th>OnHand</th>
		<!--<th>Inbound</th>-->
		<th>OnPO</th>
		<th>Inv.[0]</th>
		<th>Last Update</th>
<!--		<th>Recommend ID</th>
		<th>Recommend Reason</th>-->
		<!--<th>Inbound</th>-->
	</tr>	
	<?php
    $total_qty = $total_cost = 0;
	while ((list($efluent_pid,$sku,$asin,$upc,$last_update,$item_name,$fulfillment_channel,$sales_14_days,$sales_30_days,$available_qty,$days_stock_out,$inbound_qty,$recommended_inbound_qty,$days_out_of_stock_30,$lost_sale_30,$recommendation_id,$recommendation_reason) = mysql_fetch_array($qok_items)) && ($numout < $ITEMS_PER_PAGE))
	{
        $qx = "SELECT onpo FROM product_prices WHERE id='$efluent_pid'";
        if(!$q4ok = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($onpo) = mysql_fetch_array($q4ok);
        
        $qx = "SELECT sum(inv_available) FROM product_inventory WHERE id='$efluent_pid' AND whid='0'";
        if(!$q4ok = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($inv_available) = mysql_fetch_array($q4ok);
       
        $qx = "SELECT sum(inv_available) FROM product_inventory WHERE id='$efluent_pid' AND whid='4'";
        if(!$q4ok = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($onhand) = mysql_fetch_array($q4ok);
		?>
		<tr>
            <td><input type="checkbox" name="ids[]" value="<?php echo $efluent_pid; ?>"></td>
			<td><a href="javascript:showMenu('<?=$efluent_pid?>')" id="item_<?=$efluent_pid?>"><?php echo $efluent_pid; ?></a></td>
			<td><?php echo $sku; ?></td>
			<td><a href='http://www.amazon.com/dp/<?=$asin?>/' target='_new'><?=$asin?></a></td>
			<td><?php echo $item_name; ?></td>
			<td><?php echo $fulfillment_channel; ?></td>
			<td><?php echo $sales_14_days; ?></td>
			<td><?php echo $sales_30_days; ?></td>
            <!--<td style='color:#ff0000'><?php echo $available_qty; ?></td>-->
			<td style='color:#ff0000'><?php echo $onhand; ?></td>
			<td><a href="javascript:void(0);" onclick="stockDetail('<?=$efluent_pid?>', 'onpo');"><?=$onpo?></a></td>
			<td><?php echo $inv_available; ?></td>
			<td><?php echo date('m/d/Y',$last_update); ?></td>
<!--			<td align="center">
                <a id="arecid_<?=$efluent_pid?>" onmouseout="hideInfo('recid_<?=$efluent_pid?>');" onmouseover="showInfo('recid_<?=$efluent_pid?>');" href="javascript:void(0);">
                    <img width="12" height="16" border="0" src="/mgt/images/notes.gif">
                </a>
                <div class="dialog1" id="recid_<?=$efluent_pid?>">
                    <?php echo $recommendation_id;?>
                </div>
            </td>
			<td align="center">
                <a id="arecreason_<?=$efluent_pid?>" onmouseout="hideInfo('recreason_<?=$efluent_pid?>');" onmouseover="showInfo('recreason_<?=$efluent_pid?>');" href="javascript:void(0);">
                    <img width="12" height="16" border="0" src="/mgt/images/notes.gif">
                </a>
                <div class="dialog1" id="recreason_<?=$efluent_pid?>">
                    <?php echo $recommendation_reason;?>
                </div>
            </td>-->
            <td align="center">
                <?
//                $shipment_ids = "";
//                $queryx = "select amazon_inbound_shipping.id,amazon_inbound_shipping.shipment_id,amazon_inbound_shipping_extra.in_progress
//                        from amazon_inbound_shipping,amazon_inbound_shipping_extra,vendor_pos,vendor_po_lines
//                        WHERE amazon_inbound_shipping.id=amazon_inbound_shipping_extra.ais_id 	
//                             AND amazon_inbound_shipping_extra.completed='0'	
//                             AND amazon_inbound_shipping_extra.in_progress='0'	
//                             AND amazon_inbound_shipping_extra.poid=vendor_pos.poid AND vendor_pos.poid=vendor_po_lines.poid AND vendor_po_lines.pid='$efluent_pid'
//                             AND amazon_inbound_shipping.shipment_status != 'DELETED'";
//                if(!$q4okxx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//                if (mysql_num_rows($q4okxx)>0) {
//
//                    while (list($ais_id,$shipment_id,$in_progress) = mysql_fetch_array($q4okxx)) {
//                        $shipment_ids.=$shipment_id.","; 
//                    }
//                    $isoitems = true;
//                }
//                else {
//                    $isoitems = false;
//                }   
//                $queryx = "select amazon_inbound_shipping.id,amazon_inbound_shipping.shipment_id,amazon_inbound_shipping_extra.in_progress
//                        from amazon_inbound_shipping,amazon_inbound_shipping_extra,customer_orders,customer_order_lines
//                        WHERE amazon_inbound_shipping.id=amazon_inbound_shipping_extra.ais_id 	
//                             AND amazon_inbound_shipping_extra.completed='0'	
//                             AND amazon_inbound_shipping_extra.in_progress='0'	
//                             AND amazon_inbound_shipping_extra.orderid=customer_orders.orderid AND customer_orders.orderid=customer_order_lines.orderid AND customer_order_lines.prodid='$efluent_pid' AND customer_orders.acctid='111091'
//                             AND amazon_inbound_shipping.shipment_status != 'DELETED'";
//                if(!$q4okxx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//                if (mysql_num_rows($q4okxx)>0) {
//            //		$isoitems2 = false;
//                    while (list($ais_id,$shipment_id,$in_progress) = mysql_fetch_array($q4okxx)) {
//                        $shipment_ids.=$shipment_id.",";
//                    }
//                    $isoitems2 = true;
//                }
//                else {
//                    $isoitems2 = false;
//                }
//                    if ($isoitems || $isoitems2) {
////						echo "<img src=\"/mgt/images/red_check.jpg\" style=\"width:16px\" />";
//						echo "<img src=\"/mgt/images/red_check.jpg\" style=\"width:16px;cursor:pointer\" id=\"items_inbound_".$efluent_pid."\"  onclick=\"showItems('".$shipment_ids."','".$efluent_pid."')\" />";
//					}
//					else {
//						echo "&nbsp;";
//					}
                ?>
            </td>
		</tr>	
		<?php
		++$numout;
	}
	?>
	</table>

	<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?php
		if($lastpage != "")
		{
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		}
		else
		{
			echo "<td>&nbsp;&nbsp;</td>";
		}
		?>
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
			<input type="button" name="" value="Go" onclick="goToPage2();" class="buttonItem">
		</td>
		<?
		if($nextpage != "")
		{
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		}
		else 
		{
			echo "<td>&nbsp;&nbsp;</td>";
		}
		?>
	</tr>
	</table>