<HTML>
<HEAD>
<title>Average Profit</title>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
</HEAD>
<body>
<form name="widget" method="get" action="default.phtml">
<?

$today = date("Y-m-d");
//$today = '2009-01-01';
if($bdate == "") { $bdate = $today; }   
if($edate == "") { $edate = $today; }  

?>

<table>
<tr>
	<td class="g1">From:							
							  <input type="text" name="bdate" value="<?=$bdate?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['widget'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['widget'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onKeyPress="return cancelReturn(this, event)">
							
							- to -
							
								<input type="text" name="edate" value="<?=$edate;?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['widget'].edate,'anchor2x','MM/dd/yyyy'); return false;" onSelect="cal1x.select(document.forms['widget'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onKeyPress="return cancelReturn(this, event)">
				<input type = "submit" value =" Go" class="buttonItem" >
	</td>
	<td><img src="Images/dot_white.png" height="15" width="1"></td>
	</tr>
	<tr>
	<td style="padding-left:70"><div id="chart5" align="right"><param name="wmode" value="transparent"><embed type="application/x-shockwave-flash" src="AngularGauge.swf" id="chart5" name="chart5" quality="high" allowscriptaccess="always" flashvars="chartWidth=180&amp;chartHeight=100&amp;debugMode=0&amp;DOMId=chart5&amp;registerWithJS=0&amp;scaleMode=noScale&amp;lang=EN&amp;dataURL=data.phtml?bdate=<?=$bdate?>&edate=<?=$edate?>" height="100" width="180" wmode="transparent">
	</div>  
	</td>
	</tr>
	<!-- <td class="tab"><div align="center">Average Order Size</div></td> -->
</table>
</form>
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
</body>
</html>