<?

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon_alpha/amazon_config.phtml");

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
		
	return $data;
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


function add2Query($add2query, $addon)
{
	$addon .= " AND $add2query ";
		
	return $addon;
}

$addontables = "";

if($pid != "")
{
	$addon = add2Query(" ".TABLE_PREFIX_AMAZON."_log_extended_skus.pid = '$pid' AND ".TABLE_PREFIX_AMAZON."_log_extended_skus.lid = ".TABLE_PREFIX_AMAZON."_log.id ", $addon);
	$addontables .= ", ".TABLE_PREFIX_AMAZON."_log_extended_skus ";
}
	
	
if($disable_range != "true")
{
	if($bdate != "") $addon = add2Query(" ".TABLE_PREFIX_AMAZON."_log.tstamp >= '".date("Y-m-d H:i:s", strtotime("$bdate 00:00:00"))."' ", $addon);
	if($edate != "") $addon = add2Query(" ".TABLE_PREFIX_AMAZON."_log.tstamp <= '".date("Y-m-d H:i:s", strtotime("$edate 23:59:59"))."' ", $addon);
}

$query = "select ".TABLE_PREFIX_AMAZON."_log.id, ".TABLE_PREFIX_AMAZON."_log.tstamp, ".TABLE_PREFIX_AMAZON."_log.title, ".TABLE_PREFIX_AMAZON."_log.requestid, ".TABLE_PREFIX_AMAZON."_log_extended.type from ".TABLE_PREFIX_AMAZON."_log, ".TABLE_PREFIX_AMAZON."_log_extended $addontables 
			where 
			".TABLE_PREFIX_AMAZON."_log.id = ".TABLE_PREFIX_AMAZON."_log_extended.lid AND
			".TABLE_PREFIX_AMAZON."_log_extended.type = 'request' 
			$addon 
			order by id desc";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$numrows = mysql_num_rows($qok);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$ITEMS_PER_PAGE = 50;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($numrows > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $numrows)
	$eview = $numrows;
if(mysql_data_seek($qok, $offset) == false){echo "No records found";exit();}
?>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($numrows,0);?> Log Entries on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<table width=100%>
<tr bgcolor="#eeeeee">
	<td height=21><B>ID</B></td>
	<td height=21><B>Type</B></td>
	<td height=21><B>Time Stamp</B></td>
	<td height=21><B>Title</B></td>
	<td height=21><B>RequestID</B></td>
	<td height=21><B># Skus</B></td>
</tr>
<?
$numout = 0;
while((list($id, $tstamp, $title, $requestid, $type) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
{
	$query = "select ".TABLE_PREFIX_AMAZON."_log.id from 
					".TABLE_PREFIX_AMAZON."_log, ".TABLE_PREFIX_AMAZON."_log_extended
						where 
							".TABLE_PREFIX_AMAZON."_log.id = ".TABLE_PREFIX_AMAZON."_log_extended.lid AND
							".TABLE_PREFIX_AMAZON."_log_extended.type = 'response' AND
							".TABLE_PREFIX_AMAZON."_log.requestid = '$requestid'	";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($responseid) = mysql_fetch_array($q2ok);
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$id;?></td>
		<td height=21>	
			<a href="/mgt/amazon_alpha/amazon_extended.phtml?lid=<?=$id;?>" target="_blank"><?=$type;?></a>
			&nbsp;&nbsp;
			<?
			if($responseid != "")
			{
				?>
				<a href="/mgt/amazon_alpha/amazon_extended.phtml?lid=<?=$responseid;?>" target="_blank">response</a>
				<?
			}
			?>
		</td>
		<td height=21><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
		<td height=21><?=$title;?></td>
		<td height=21><?=$requestid;?></td>
		<td height=21>
			<?
			$query = "select count(*) from ".TABLE_PREFIX_AMAZON."_log_extended_skus where lid = '$id'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($numskus) = mysql_fetch_array($q2ok);
			?>
			<?=$numskus;?>
		</td>
		
	<?
	$numout++;
}
?>
</table>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($numrows,0);?> Log Entries on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<?mysql_close();?>