<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$addtables = $addon = "";

function getZone($zip,$DB,$mysqlid) {
    $q = "SELECT zone FROM zipcode_zone WHERE zipcode='".$zip."'";
    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($zipcode)=  mysql_fetch_array($qok);
    return $zipcode;
}


if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00");
    $xedate = strtotime("$edate 23:59:59");
    if($bdate != "") {
        $addon .= " AND customer_order_tracking.shipdate >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND customer_order_tracking.shipdate <= '".$xedate."'";
    }
}

$q = "SELECT type FROM customer_order_tracking WHERE type like '%Cubic%' $addon  group by type";
if(!$qoka = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

//
$onrow = 0;
if(mysql_num_rows($qoka) <= 0){echo "<B><I>No Orders Found</I></B>";exit;}
	
if(mysql_data_seek($qoka, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
		
?>
<table width=99% id="results" cellpadding="3" cellspacing="3" border="0">
<?	
while (list($type) = mysql_fetch_array($qoka)) {
	
	$zone1=$zone2=$zone3=$zone4=$zone5=$zone6=$zone7=$zone8=$total=0;
	$qx = "SELECT customer_order_tracking.invoiceid,
			 zipcode_zone.zone
			FROM customer_order_tracking
			INNER JOIN customer_orders ON customer_order_tracking.invoiceid=customer_orders.invoiceid
			LEFT JOIN zipcode_zone ON zipcode_zone.zipcode=LEFT(customer_orders.ship2zip,3)
			WHERE customer_order_tracking.type='$type'
				$addon";
	
	if(!$qok1 = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($invoiceid,$zone) = mysql_fetch_array($qok1)) {
		switch ($zone) {
			case 1:
				$zone1++;
				break;
			case 2:
				$zone2++;
				break;
			case 3:
				$zone3++;
				break;
			case 4:
				$zone4++;
				break;
			case 5:
				$zone5++;
				break;
			case 6:
				$zone6++;
				break;
			case 7:
				$zone7++;
				break;	
			case 8:
				$zone8++;
				break;
			default:
				break;	
		}
		$total++;
	}
	
   ?>
   	<tr bgcolor='#eeeeee'>
   		<td colspan="9"><b><?=$type?></b></td>
   	</tr>
   	<tr>
   		
   		<td><b>Zone 1</b></td>
   		<td><b>Zone 2</b></td>
   		<td><b>Zone 3</b></td>
   		<td><b>Zone 4</b></td>
   		<td><b>Zone 5</b></td>
   		<td><b>Zone 6</b></td>
   		<td><b>Zone 7</b></td>
   		<td><b>Zone 8</b></td>
   		<td><b>Total</b></td>
   	</tr>
 	<tr>
   		<td><?=$zone1?></td>
   		<td><?=$zone2?></td>
   		<td><?=$zone3?></td>
   		<td><?=$zone4?></td>
   		<td><?=$zone5?></td>
   		<td><?=$zone6?></td>
   		<td><?=$zone7?></td>
   		<td><?=$zone8?></td>
   		<td><?=$total?></td>
   	</tr>
   	<tr>
   		<?
   			/*for ($i=1;$i<=8;$i++) {
   				$nr = 0;
   				$qa = "SELECT count(customer_order_tracking.invoiceid)
							FROM customer_order_tracking
							INNER JOIN customer_orders ON customer_order_tracking.invoiceid=customer_orders.invoiceid
							INNER JOIN zipcode_zone ON zipcode_zone.zipcode=LEFT(customer_orders.ship2zip,3) AND zipcode_zone.zone='".$i."'
							WHERE customer_order_tracking.type = '$type'
								$addon";
				if(!$qok1 = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($nr) = mysql_fetch_array($qok1);
				?>
					<td><?=$nr?></td>
				<?
   			}
   			$qa = "SELECT count(customer_order_tracking.invoiceid)
							FROM customer_order_tracking
							INNER JOIN customer_orders ON customer_order_tracking.invoiceid=customer_orders.invoiceid
							INNER JOIN zipcode_zone ON zipcode_zone.zipcode=LEFT(customer_orders.ship2zip,3)
							WHERE customer_order_tracking.type = '$type'
								$addon";
				if(!$qok1 = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($nr_total) = mysql_fetch_array($qok1);*/
   		?>
   		
   	</tr>
   <?
}
?>
</table>