<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$addtables = $addon = "";

function getZone($zip,$DB,$mysqlid) {
    $q = "SELECT zone FROM zipcode_zone WHERE zipcode='".$zip."'";
    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($zipcode)=  mysql_fetch_array($qok);
    return $zipcode;
}


if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00");
    $xedate = strtotime("$edate 23:59:59");
    if($bdate != "") {
        $addon .= " AND customer_order_tracking.shipdate >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND customer_order_tracking.shipdate <= '".$xedate."'";
    }
}

$q = "SELECT customer_order_tracking.invoiceid,
			 customer_order_tracking.trackno,
			 customer_order_tracking.type,
			 customer_order_tracking.carrier,
			 customer_order_tracking.shipdate,
			 customer_order_tracking.cost,
			 customer_orders.ship2zip,
			 zipcode_zone.zone
			FROM customer_order_tracking
			INNER JOIN customer_orders ON customer_order_tracking.invoiceid=customer_orders.invoiceid
			LEFT JOIN zipcode_zone ON zipcode_zone.zipcode=LEFT(customer_orders.ship2zip,3)
			WHERE customer_order_tracking.type like '%Cubic%'
				
				$addon order by customer_order_tracking.type,customer_order_tracking.shipdate desc";
$q = "SELECT type FROM customer_order_tracking WHERE type like '%Cubic%' $addon  group by type";
if(!$qoka = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

//
$onrow = 0;
//if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//$totalnum = mysql_num_rows($q4ok);
//
//$numout = 0;
//$ITEMS_PER_PAGE = 100;
//
//if(intval($num2return) <= 0)
//	$num2return = 100;
//
//$ITEMS_PER_PAGE = $num2return;
//$numpages = 0;
//			
//if(intval($p) == 0)	$p = 1;
//			
//$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
//$numpages = sprintf("%.00f", $numpages );
//				
//$nextpage = $lastpage = 0;
//				
//if(($p + 1) <= $numpages)$nextpage = $p + 1;
//if(($p - 1) >= 1)$lastpage = $p - 1;
//						
//$offset = ($p - 1) * $ITEMS_PER_PAGE;
//if($totalnum > 0) 
//$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
//			
//if($eview > $totalnum)
//	$eview = $totalnum;
	
if(mysql_num_rows($qoka) <= 0){echo "<B><I>No Orders Found</I></B>";exit;}
	
if(mysql_data_seek($qoka, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
		
?>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
    <td align=center height=21 class="sortable_caseinsensitive"><B>Invoiceid</B></td>
    <td align=center class="sortable_caseinsensitive"><B>TrackNo</B></td>
    <td align=center><B>Method</B></td>
    <td align=center class="sortable_numeric"><B>Carrier</B></td>
    <td align=center class="sortable_numeric"><B>Shipdate</B></td>
    <td align=center class="sortable_numeric"><b>Cost</b></td>
    <td align=center class="sortable_numeric"><b>Zipcode</b></td>
    <td align=center class="sortable_numeric"><b>Zone</b></td>
</tr>
<?	
while (list($invoiceid,$trackno,$type,$carrier,$shipdate,$cost,$ship2zip,$zone) = mysql_fetch_array($qoka)) {
    if($onrow % 2) {
            echo "<tr bgcolor='#eeeeee' id='order_".$invoiceid."'>";
    }
    else {
            echo "<tr bgcolor='#ffffff' id='order_".$invoiceid."'>";
    }
    ?>
		<td>
			<a href="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid?>&inwin=1', 'View Order: <?=$invoiceid?>','order_<?=$invoiceid?>');">
				<?=$invoiceid?>
			</a>
		</td>
		<td><?=$trackno?></td>
		<td><?=$type?></td>
		<td><?=$carrier?></td>
		<td><?=date("Y-m-d",$shipdate)?></td>
		<td>$<?=number_format($cost,2);?></td>
		<td><?=$ship2zip?></td>
		<td><?
//		getZone(substr($ship2zip,0,3),$DB,$mysqlid)
		echo  $zone;
		?>
		
		</td>
	</tr>
    <?
    $onrow++;
}
?>
</table>