<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

// $today = date("Y-m-d");
$today = '2009-01-01';
if($bdate == ""){
	$startdate = $today;
}else{
$dateArr = explode("/",$bdate);
$startdate = $dateArr[2]."-".$dateArr[0]."-".$dateArr[1];	
}
if($edate ==""){
	$enddate = $today;
}
else{
$enddateArr = explode("/",$edate);
$enddate = $dateArr[2]."-".$dateArr[0]."-".$dateArr[1];	
}

?>


<Chart bgColor='FBFBFB' bgAlpha='100' showBorder='0' lowerLimit='0' upperLimit='750' majorTMNumber='4' majorTMColor='666666' majorTMHeight='7' minorTMNumber='3' minorTMColor='666666' pivotRadius='3' majorTMThickness='2' showGaugeBorder='0' gaugeInnerRadius='60' tickMarkDecimalPrecision='1' numberPrefix='$' placeValuesInside='1'>
	<dials>
		
<?

// select avg(total) from customer_orders where orderdate >= '1236744000' and orderdate <= '1236830399'
$query = "select sum(salesvol) / sum(sales) from traffic_click_summary where tstamp >= '1237870800 ' and tstamp <= '1238043540';";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
        list($costpersale) = mysql_fetch_array($qok);
        if ($costpersale == "") { $costpersale = "0"; }
echo "<dial value='$costpersale' borderAlpha='20' borderColor='333333' bgColor='EEEEEE' baseWidth='5' topWidth='1' />";

?>	
	
		
		</dials>
	<colorRange>
		<color minValue='0' maxValue='750' code='999999' />
	</colorRange>
</Chart>
