<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
?>
<html>
<head>
	<title>buy.com</title>
	<meta http-equiv="Content-Style-Type" content="text/css">
	<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
	<style>
	#form_upload {
		float:left;
		width:400px;
		height:90%;
		display:inline-block !important;
		margin:10px 0 0 10px;
	}
	
	#bad_skus {
		overflow-x:scroll;
		overflow-y:scroll;
		float:left;
		width:250px;
		height:90%;
		display:inline-block !important;
		margin:10px 0 0 10px;
	}
	
	#options {
		float:left;
		width:250px;
		height:500px;
		display:inline-block !important;
		margin:10px 0 0 10px;
	}
	
	#options input {
		padding-left:5px;
	}
	</style>
	<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
	<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
	<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
	<script src="/mgt/js/jquery.tools.1.0.5.js" type="text/javascript"></script>
	<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
	<script>
	function GetXmlHttpObject()
	{
		var xmlHttp=null;
	
		try
	    {
			// Firefox, Opera 8.0+, Safari
			xmlHttp=new XMLHttpRequest();
		}
	    catch (e)
	    {
	    	// Internet Explorer
	        try
	        {
				xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
			}
			catch (e)
	        {
	        	try
				{
					xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
				}
	            catch (e)
	            {
	            	alert("Your browser does not support AJAX!");
					return false;
				}
			}
		}
		
		return xmlHttp;
	}
	
	var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
	var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
	var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
	
	function importFiles()
	{
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
		document.getElementById('export_btn').disabled = true;
	  	document.getElementById('loading').innerHTML =  '<img src="/mgt/images/loading.gif">';
		var url = 'ajax_import.phtml';
	
		xmlHttp.onreadystatechange=importFiles2;
		xmlHttp.open('GET',url,true);
		xmlHttp.send(null);
	}
	
	function importFiles2()
	{
		if(xmlHttp.readyState==4)
		{ 
			var data = xmlHttp.responseText;
			document.getElementById('loading').innerHTML =  '';
			if (data == 'kkk') {
				document.getElementById('export_btn').disabled = false;
			} else {
				document.getElementById('errors').innerHTML = data;
			}
		}
	}
	
	function exportFile(url)
	{
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
		document.getElementById('import_btn').disabled = true;
	  	document.getElementById('loading').innerHTML =  '<img src="/mgt/images/loading.gif">';
	
		xmlHttp.onreadystatechange=exportFile2;
		xmlHttp.open('GET',url,true);
		xmlHttp.send(null);
	}
	
	function exportFile2()
	{
		if(xmlHttp.readyState==4)
		{ 
			var data = xmlHttp.responseText;
			document.getElementById('loading').innerHTML =  '';
			document.getElementById('import_btn').disabled = false;
			document.getElementById('export_result').innerHTML = data;
		}
	}
	
	function confirmDeleteSku(msg,id) {
	    var answer = confirm(msg)
	    if (answer)
	    {
	        $.get('ajax_remove_bad_sku.phtml',{ 'id': id }, function(data) {
				$('#list_bad_skus .sku_' + id).remove();
			});
	    }
	}
	
	function addSku() {
		var new_sku = $('#new_sku').val();
		if (new_sku == '') {
	  		alert ("You forgot to write new SKU number.");
	  		return;
		}
		$.get('ajax_add_bad_sku.phtml',{ 'sku': new_sku }, function(data) {
				$('#list_bad_skus').append(data);
				$('#new_sku').val('');
		});
	}
	
	function updateSkusFile(file) {
		$('#update_sku_file #loading').html('<img src="/mgt/images/loading.gif">');
		$('#update_sku_file input[type=button]').attr('disabled', 'disabled');
	  	$.get('ajax_update_bad_sku_file.phtml',{ 'file' : file }, function(data) {
		  	$('#update_sku_file #loading').html(data);
			$('#update_sku_file input[type=button]').removeAttr('disabled');
	  	});
	}
	
	function updateOptions() {
		var markup_price_percent = $('#markup_price_percent').val();
		var min_price = $('#min_price').val();
		var max_qty = $('#max_qty').val();
	
		if (markup_price_percent == '') {
	  		alert ("You forgot to write markup price percent option.");
	  		return;
		}
	
		if (min_price == '') {
	  		alert ("You forgot to write minim price option.");
	  		return;
		}
	
		if (max_qty == '') {
	  		alert ("You forgot to write maximum quantity option.");
	  		return;
		}
	
		$('#options #loading').html('<img src="/mgt/images/loading.gif">');
		$('#options input[type=button]').attr('disabled', 'disabled');
	  	$.get('ajax_update_options.phtml',{ 'markup_price_percent' : markup_price_percent, 'min_price' : min_price, 'max_qty' : max_qty }, function(data) {
		  	$('#options #loading').html(data);
			$('#options input[type=button]').removeAttr('disabled');
	  	});
	}
	</script>	
</head>
<body>
<div id="form_upload">
	<h4>Upload files <div id="loading" style="display:inline;"></h4>
	<?php
	// verifiy if exista a batch and get status (finished or not)
	$query = "SELECT id, DATE(import_datetime), import_finished
			  FROM mc_batch_history
			  ORDER BY import_datetime DESC
			  LIMIT 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	$count_batches = mysql_numrows($qok);
	list($batch_id, $last_update, $status) = mysql_fetch_array($qok);
	if ($count_batches > 0)
	{
		if ($status == 0)
		{
			$status_display = '<span style="color:#ff0000">import incomplete ('.$last_update.')</span>';
		}
		else 
		{
			$status_display = '<span style="color:#008000">import finished ('.$last_update.')</span>';
		}
	}
	else 
	{
		$status_display = '';
		$status = '0';
	}
	?>
	<table width="100%">
	<tr>
		<td colspan="2"><div id="errors" style="color:#ff0000"></div></td>
	</tr>
<!--
	<tr>
		<td width="20%" valign="bottom" align="left">Import files</td>
		<td width="80%" valign="bottom"></div><input type="button" name="import" id="import_btn" value="Import files" onclick="importFiles();" class="buttonItem" /> <?php echo $status_display; ?></td>
	</tr>
-->	
	<tr>
		<td width="20%" valign="bottom" align="left">Export CSV file</td>
		<td width="80%" valign="bottom"></div><input type="button" name="export" id="export_btn" value="Export CSV file" <?=($status == 0?'disabled="disabled"':'')?> onclick="exportFile('export_csv.phtml<?=($count_batches > 0 && $status != 0 ? '?batch_id='.$batch_id : '')?>');" class="buttonItem" />&nbsp;<span id="export_result"></span></td>
	</tr>
	</table>
</div><!-- #form_upload -->

<div id="options">
	<h4>Options <div id="loading" style="display:inline;"></h4>
	<table width="100%" id="list_bad_skus">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="16" align="center">Option key</th>
		<th height="16" align="center">Option value</th>
	</tr>
	<?php
	$query_options = "SELECT id, option_key, option_value
					  FROM mc_options";
	if(!$qok_options = mysql_db_query($DB, $query_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	while (list($option_id,$option_key,$option_value) = mysql_fetch_array($qok_options))
	{
		?>
		<tr>
			<td align="center" valign="bottom"><?php echo ucfirst(str_replace('_',' ',$option_key)); ?></td>
			<td align="center" valign="bottom"><input value="<?php echo $option_value; ?>" type="text" class="formBox" style="width:90px;" name="<?php echo $option_key; ?>" id="<?php echo $option_key; ?>"></td>
		</tr>
		<?php
	}
	?>
	<tr>
		<td colspan="2" align="center" valign="bottom">&nbsp;</td>
	</tr>	
	<tr>
		<td colspan="2" align="center" valign="bottom"><input type="button" name="add_sku" value="Update options" onclick="updateOptions();" class="buttonItem"></td>
	</tr>	
	<tbody>
	</table>
</div><!-- #options -->

<div id="bad_skus">
	<h4>Bad SKU's</h4>
	<table width="100%" id="list_bad_skus">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="16" width="10%"></th>
		<th height="16" width="50%">SKU</th>
		<th height="16" width="40%"></th>
	</tr>
	<?php
	if ($count_batches > 0 && $status == 1)
	{
		$query = "SELECT id, sku
				  FROM mc_buy_bad_sku
				  WHERE batch_id = '$batch_id'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		$i = 1;
		while (list($id, $sku) = mysql_fetch_array($qok))
		{
			?>
			<tr class="sku_<?php echo $id; ?>">
				<td align="center"><?php echo $i; ?>.</td>
				<td align="center"><?php echo $sku; ?></td>
				<td align="center"><a href="javascript:confirmDeleteSku('Are you sure you want to delete this sku from the list?','<?php echo $id; ?>');"><img src="/mgt/images/del.gif" border="0" align="middle"> Remove</a></td>
			</tr>
			<?php
			++$i;
		}
	}
	else 
	{
		?>
		<tr>
			<td colspan="3" align="center"><?php echo $status_display; ?></td>
		</tr>
		<?php	
	}
	?>
	</tbody>
	</table>
	<?php if ($count_batches > 0 && $status == 1) { ?>
	<table width="100%" id="update_sku_file">
	<tr>
		<td colspan="3" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input value="" type="text" class="formBox" style="width:90px;" name="new_sku" id="new_sku"><input type="hidden" name="batch_id" id="batch_id" value="<?php echo $batch_id; ?>"></td>
		<td align="center"><input type="button" name="add_sku" value="Add SKU" onclick="addSku();" class="buttonItem"></td>
	</tr>
<!--
	<tr>
		<td colspan="3" align="center"><div id="loading" style="display:inline;"></div>&nbsp;<input type="button" name="add_sku" value="Update bad SKU's file" onclick="updateSkusFile('3871350.csv');" class="buttonItem"></td>
	</tr>
-->	
	</table>
	<?php } ?>
</div><!-- #bad_skus -->
</body>
</html>