				<form name="plreport" onsubmit="return checkData();">
							<table>
							
							<tr>
								<td class="g1">Salesman:</td>
								<td>
									<select name="repid" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select id, displayname from users order by displayname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($repid, $displayname) = mysql_fetch_array($qok))
									{
										?>
										<option value="<?=$repid;?>"><?=$displayname;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>	
							<tr>
								<td class="g1">Status:</td>
								<td>
									<select name="status" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select step, status from company_orderflow where complete != 1 and exclude != 1 order by status";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($step, $status) = mysql_fetch_array($qok))
									{
										if(strlen($status) > 25)
											$status = substr($status, 0, 17)."...";
										?>
										<option value="<?=$step;?>">[<?=$step;?>] - <?=$status;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>
							<tr>
								<td class="g1">Order Prefix:</td>
								<td>
									<input type="text" name="oprefix" class="formbox" style="width:65px">
								</td>
							</tr>											
							<tr>
								<td colspan=2>
										<div align=center>
											<!--<input type="button" name="Action" value="Export" onclick="pullReport(1)" class="buttonItem">	-->
											<input type="button" name="Action" value="View Report" onclick="pullReport(0)" class="buttonItem">
										</div>										
								</td>
							</tr>						
													
							</table>
							
						</form>	