<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
$addon = "";
if($ignore_date == 0) {
	$bdate = date("Y-m-d",strtotime($bdate));
	$edate = date("Y-m-d",strtotime($edate));
//	if($bdate != "") $addon .= " AND date_created >= '".strtotime("$bdate 00:00:00")."' ";
//	if($edate != "") $addon .= " AND date_created <= '".strtotime("$edate 23:59:59")."' ";
	if($bdate != "") $addon .= " AND date_created >= '".$bdate." 00:00:00' ";
	if($edate != "") $addon .= " AND date_created <= '".$edate." 23:59:59' ";
}
if($pid) {
	$addon .= " AND pid = '".$pid."' ";
}
if($orderid) {
	$addon .= " AND orderid = '".$orderid."' ";
}
if($tracking) {
	$addon .= " AND tracking = '".$tracking."' ";
}
if($user) {
	$addon .= " AND user_id = '".$user."' ";
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
$query = "select orderid,pid,label,tracking,user,date_created from customer_order_label_history where 1 $addon ORDER BY date_created DESC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
$totalnum = mysql_num_rows($qok);

if($totalnum > 0)
{
	$ITEMS_PER_PAGE = $num2return;
	$numpages = 0;
				
	if(intval($p) == 0)	$p = 1;
				
	$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
	$numpages = sprintf("%.00f", $numpages );
					
	$nextpage = $lastpage = 0;
					
	if(($p + 1) <= $numpages)$nextpage = $p + 1;
	if(($p - 1) >= 1)$lastpage = $p - 1;
							
	$offset = ($p - 1) * $ITEMS_PER_PAGE;
	if($totalnum > 0) 
	$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
				
	if($eview > $totalnum)
		$eview = $totalnum;
	if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
	if(intval($num2return) <= 0)	$num2return = 50;	

?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> Labels on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
				<input type="button" name="" value="Go" onclick="goToPage();" class="buttonItem">
		</td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">

	<tr bgcolor="#eeeeee">
	    <td><b>OrderID</b></td>
	    <td><b>InvoiceID</b></td>
	    <td><b>PID</b></td>
	    <td><b>Label</b></td>
	    <td><b>Tracking</b></td>
	    <td><b>User</b></td>
	    <td><b>Date</b></td>
	</tr>
	<?
	while ((list($orderid,$pid,$label,$tracking,$user,$date_created) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE)){
	$numout++;
	
	?>
	<tr>
	    <td><a href="javascript:e2window('/mgt/om/vieworder.phtml?on=<?=$orderid?>&inwin=1', 'View Order ','order_<?=$orderid.'_'.$pid.'_'.$numout?>')" id="order_<?=$orderid.'_'.$pid.'_'.$numout?>"><?=$orderid?></a></td>
	    <td><?=$efc->getInvoicefromOrderNo($orderid)?></td>
	    <td><?=$pid?></td>
	    <td><a href="<?=$BASE_URL?>/mgt/ship/labels/<?=$label?>" target="_blank"><?=$label?></a></td>
	    <td><?=$tracking?></td>
	    <td><?=$user?></td>
	    <td><?=date('m/d/Y',strtotime($date_created))?></td>
	</tr>	
	<?
	}
	?>

</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> Labels on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
				<input type="button" name="" value="Go" onclick="goToPage();" class="buttonItem">
		</td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<?}?>