				<table style="width:275;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
				<tr>
					<td>
			
					Upload File
					<div><br></div>				
                        <form action="/mgt/scripts/dmi/alt/ufile.php" method="post" enctype="multipart/form-data">
				        <div><label>File:</label> <input type="file" name="form_data" class="formBox"/></div>
				        <BR>
				        <div>
				        <BR>
                        <input type="submit" name="submit" value="Upload"/>
				        </div>
				    </form>

					</td>
				</tr>
				</table>