<?
error_reporting(0);
//ERROR_REPORTING(E_ALL);
ini_set('memory_limit', '128M');


$ROOT_DIR = $argv[1];
if($ROOT_DIR == "") {
$ROOT_DIR = "/home/httpd/butterflyphoto.com";
}
if($ROOT_DIR == "")
{
	echo "usage: merge_dmi2.phtml ROOT_DIR";
	exit;	
}


set_time_limit(999999);
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");


function getmicrotime()
{ 
	list($usec, $sec) = explode(" ",microtime()); 
	return ((float)$usec + (float)$sec); 
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
//////////////////////////////////////////////////////////////////////////////////////////////////////
$VENDORID = $efc->getConfigValue("DMI", "VENDORID");
if($VENDORID == "") { $VENDORID = 59; }
echo "VENDORID: $VENDORID\n";



function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
////////////////////////////////////////////////////////////////////////////////////////////

$numout = 0;

$query = "select partnum, mancode from dmi_pnexport";
$qok = mysql_db_query($DB, $query, $mysqlid);
while(list($partnum, $mancode) = mysql_fetch_array($qok))
{
	echo ".";
	$cleanmanpart = preg_replace("/[^a-zA-Z0-9s]/", "", $partnum);
	
	$query = "update dmi_pnexport set partnum = '$cleanmanpart' where mancode = '$mancode' and partnum = '$partnum'";
	$q2ok = mysql_db_query($DB, $query, $mysqlid);	
}

$fp = fopen("/home/httpd/e-fluent.com/mgt/scripts/dmi/SPEC_DATA2.XML", "r");

$inblock = false;
$xmlblock = "";

while(!feof($fp))
{
	$data = fgets($fp, 1024);

	echo "<BLOCK>\n";
	
	if(stristr($data, "</product_specs>"))
	{
		echo "SPECS\n";
		
		$inblock = false;	
		
		$xmlblock = "<product>$xmlblock</product>";
		$xmldata = xml2array($xmlblock);
		
		//print_r($xmldata);
		
		$pdata['mancode'] 		= $xmldata['product']['classification']['brand_code']['value'];
		$pdata['brand_name'] 	= $xmldata['product']['classification']['brand_name']['value'];
		$pdata['manpart']		= $xmldata['product']['classification']['pn']['value'];
		$pdata['majorcat'] 		= $xmldata['product']['classification']['major_class_code']['value'];
		$pdata['majorcat_name'] = $xmldata['product']['classification']['major_class_description']['value'];
		$pdata['minorcat'] 		= $xmldata['product']['classification']['minor_class_code']['value'];
		$pdata['minorcat_name'] = $xmldata['product']['classification']['minor_class_description']['value'];
		$pdata['colorcode'] 	= $xmldata['product']['classification']['color_code']['value'];
		$pdata['colorcode_name']= $xmldata['product']['classification']['color_code_description']['value'];
		$pdata['shortdescr'] 	= $xmldata['product']['marketing_copy']['short_description']['value'];
		$pdata['meddescr']		= $xmldata['product']['marketing_copy']['medium_description']['value'];
		$pdata['dimensions']	= $xmldata['product']['classification']['marketing_dimensions']['value'];
		$pdata['capacity_cf']	= $xmldata['product']['classification']['capacity_in_cu_ft_string']['value'];
		$pdata['energy_star']	= $xmldata['product']['classification']['energy_star_compliant']['value'];
		$pdata['width']			= $xmldata['product']['classification']['width']['value'];
		$pdata['height']		= $xmldata['product']['classification']['height']['value'];
		$pdata['depth']			= $xmldata['product']['classification']['depth']['value'];
		$pdata['upc']			= $xmldata['product']['classification']['upc']['value'];
		
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$features = $xmldata['product']['marketing_copy']['features']['feature'];
		for($xx = 0; $xx < count($features); $xx++)
			$pdata['features'][] = $features[$xx]['value'];
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$pdata['htmlspecs']		= $xmldata['product']['marketing_copy']['spec_table_html']['value'];
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$media = $xmldata['product']['media']['images']['image'];
		
		
		if($media['full_size_url']['value'] != "")
		{
			$pdata['images'][] = $media['full_size_url']['value'];
		}
		else 
		{
			for($xx = 0; $xx < count($media); $xx++)
				$pdata['images'][] = $media[$xx]['full_size_url']['value'];
		}
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$pdfs = $xmldata['product']['media']['pdfs']['pdf'];
		
		for($xx = 0; $xx < count($media); $xx++)
		{
			$pdata['pdfs']['description'][] = $pdfs[$xx]['description']['value'];
			$pdata['pdfs']['url'][] 		= $pdfs[$xx]['url']['value'];
		}

				
		$manpart = $pdata['manpart'];
		
		echo "Trying: ".$manpart."\n";
		$query = "select quantity, cost from dmi_pnexport where partnum = '$manpart'";
		$qok = mysql_db_query($DB, $query, $mysqlid);
		if(mysql_num_rows($qok) < 1)
		{
			echo "Trying: ".substr($manpart, 0, strlen($manpart) - 1)."\n";
			$query = "select quantity, cost from dmi_pnexport where partnum = '".substr($manpart, 0, strlen($manpart) - 1)."'";
			$qok = mysql_db_query($DB, $query, $mysqlid);
			if(mysql_num_rows($qok) < 1)
			{
				echo "Trying: ".substr($manpart, 0, strlen($manpart) - 2)."\n";
				$query = "select quantity, cost from dmi_pnexport where partnum = '".substr($manpart, 0, strlen($manpart) - 2)."'";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				if(mysql_num_rows($qok) < 1)
				{
					echo "Trying: ".substr($manpart, 0, strlen($manpart) - 3)."\n";
					$query = "select quantity, cost from dmi_pnexport where partnum = '".substr($manpart, 0, strlen($manpart) - 3)."'";
					$qok = mysql_db_query($DB, $query, $mysqlid);
				}				
			}
			
		}
		list($quantity, $price) = mysql_fetch_array($qok);
		
		$pdata['qty'] = $quantity;
		$pdata['price'] = $price;
		
		if($price != "")
		{
			//print_r($pdata);
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// enter the major cats
			$query = "select catid from vendor_categories where vid = '$VENDORID' and code = '".$pdata['majorcat']."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
			if(mysql_num_rows($qok) <= 0)
			{
				$query = "insert into vendor_categories(vid, catname, parentid, code) 
						values('$VENDORID', '".addslashes($pdata['majorcat_name'])."', '0', '".addslashes($pdata['majorcat'])."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}	
		
			$query = "select catid from vendor_categories where vid = '$VENDORID' and code = '".$pdata['minorcat']."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
			if(mysql_num_rows($qok) <= 0) // don't have the minor cat?  Let's find the parent
			{
				$query = "select catid from vendor_categories where vid = '$VENDORID' and code = '".$pdata['majorcat']."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($parentid) = mysql_fetch_array($qok);
				
				if(intval($parentid) <= 0)
				{
					echo "error finding parent ".$pdata['majorcat']."\n";
					exit;
				}
				
				$query = "insert into vendor_categories(vid, catname, parentid, code) 
							values('$VENDORID', '".addslashes($pdata['minorcat_name'])."', '$parentid', '".addslashes($pdata['minorcat'])."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}			
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			$query = "select id from vendor_product_list where vid = '$VENDORID' and sku = '".$pdata['manpart']."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
			if(mysql_num_rows($qok) <= 0)
			{
				$query = "select manid from vendor_manufacturers where vid = '$VENDORID' and code = '".$pdata['mancode']."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($manid) = mysql_fetch_array($qok);
				
				if(intval($manid) <= 0)
				{
					$query = "insert into vendor_manufacturers(manname, vid, code) 
						values('".addslashes($pdata['brand_name'])."', '$VENDORID', '".addslashes($pdata['mancode'])."')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
					$manid = mysql_insert_id();
				}
				
				$descr = addslashes($pdata['meddescr']);
	
						$added_dte = time();

	
				$query = "insert into vendor_product_list(vid, manid, manpart, descr, added_dte, sku, upccode) ";
				$query .= "values('$VENDORID', '$manid', '".$pdata['manpart']."', '$descr', '$added_dte', '".$pdata['manpart']."', '".$pdata['upc']."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$pid = mysql_insert_id();
				
				echo "Added $pid [$numcreated]\n";
				
				/////////////////////////
				// get the major
				$query = "select catid from vendor_categories where vid = '$VENDORID' and code = '".$pdata['majorcat']."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($catid) = mysql_fetch_array($qok);
				
				// insert the major
				$query = "insert into vendor_category_map(pid, catid, vid, code) values('$pid', '$catid', '$VENDORID', '".$pdata['majorcat']."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				// get the minor
				$query = "select catid from vendor_categories where vid = '$VENDORID' and code = '".$pdata['minorcat']."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($catid) = mysql_fetch_array($qok);
				
				// insert the minor
				$query = "insert into vendor_category_map(pid, catid, vid, code) values('$pid', '$catid', '$VENDORID', '".$pdata['minorcat']."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				
				///////////////////////////
				//  the features
				$query = "delete from vendor_features where vid = '$VENDORID' and pid = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				for($xx = 0; $xx < count($pdata['features']); $xx++)
				{
					if($pdata['features'][$xx] != "")
					{
						$feature = addslashes( $pdata['features'][$xx] );
						$query = "insert into vendor_features(pid, vid, feature) values('$pid', '$VENDORID', '$feature')";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					}
				}	

				
				////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				$query = "delete from vendor_product_html where vid = '$VENDORID' and id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
				$query = "insert into vendor_product_html(id, vid, data) values('$pid', '$VENDORID', '".addslashes($pdata['htmlspecs'])."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				$query = "delete from vendor_product_docs where pid = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				echo "DOC COUNT: ".count($pdata['pdfs']['url'])."\n";
				
				for($xx = 0; $xx < count($pdata['pdfs']['url']); $xx++)
				{
					$query = "insert into vendor_product_docs(pid, title, link) ";
					$query .= " values('$pid', '".addslashes($pdata['pdfs']['description'][$xx])."', '".$pdata['pdfs']['url'][$xx]."')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				
				////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				$query = "delete from vendor_product_images where id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				echo "IMAGE COUNT: ".count($pdata['images'])."\n";
				
				for($xx = 0; $xx < count($pdata['images']); $xx++)
				{
					$query = "insert into vendor_product_images(id, imageurl) values('$pid', '".$pdata['images'][$xx]."')";
					echo $query."\n";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				
				$query = "delete from vendor_pricing where pid = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "insert into vendor_pricing(pid, instock, cost, price) values('$pid', '".$pdata['qty']."', '".$pdata['price']."', '".$pdata['price']."') ";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			
			
			//echo "=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-\n";
		}
		else 
		{
			echo $pdata['mancode']." - ".$pdata['manpart']."\n";
		}
		
		// work with it here
		$xmlblock = "";
		$pdata = "";
		
		$numout++;
	}

	if($inblock == true)
		$xmlblock .= $data;
	
	if(stristr($data, "<product_specs>"))
		$inblock = true;	
	
}

fclose($fp);


//


$xtime_start = getmicrotime();

?>
