					<form name="posearch">
					    <table>
						<tr>
						    <td class="g1">Status:</td>
						    <td>
							    <select name="status" id="status" class="formSelect">
								    <option value="">--- SELECT ---
								    <option value="1">To Be Requested
								    <option value="2">Requested
								    <option value="3">Converted
								    <option value="4">Pending Credit
								    <option value="5">Complete
								    <option value="6">Cancelled
							    </select>
						    </td>
						</tr>
						<tr>
							<td class="g1">RMA Id:</td>
							<td><input type="text" name="rmaid" id="rmaid" value="" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
						    <td class="g1"><B>Vendor:</B></td>
						    <td>
							    <select name="sourcing" id="sourcing" class="formSelect">
							    <option value="-1">--- SELECT ----</option>
							    <?

							    $query = "select vendorid, vendorname from vendors order by vendorname";
							    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							    while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
							    {
								    if(strlen($x_vendorname) > 25)
								    {
									    $x_vendorname = substr($x_vendorname, 0, 22)."...";
								    }
							    ?>
								    <option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH_SKU"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
							    <?	
							    }
							    ?>
							    </select>
						    </td>	
					    </tr>
					    <tr>
						    <td class="g1">Excl. Canceled:</td>
						    <td>
							    <input type="checkbox" id="excl_canceled" name="excl_canceled" checked/>
						    </td>
					    </tr>
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchRma(1)" class="buttonItem">&nbsp;&nbsp;										
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
									</div>
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="poresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->