<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

require_once($ROOT_DIR."/classes/cartclass.phtml");
$cc = new cartClass();
$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;


require_once($ROOT_DIR."/mgt/classes/couponclass.phtml");
$cup = new couponClass();
$cup->db = $DB;
$cup->efc = $efc;
$cup->mysqlid = $mysqlid;
$cup->divid = 0;
//ini_set('display_errors',1);
//error_reporting(E_ALL);
//print_r($_SERVER);
$refferer = $_SERVER['HTTP_REFERER'];
if($refferer == '') {
    $refferer = '/';
}

if($id != "") 
{
    if($qty === '') {
	$qty = 1;
    }
	if (!isset($_GET['qty']))
	{
		$qty = 1;
	}
	
	if ($DB == 'rawfoodworld')
	{
//		$qty = $cc->limitItemQtyCart($id,$qty);
		if ($qty < 1)
		{
			$url = '/' . $sc->createProductNewUrlById($id);
			$sc->redirectUrl($url);
			exit;
		}
	}
	
	if (isset($_GET['bulk_qty']) || $bulk_add == '1')
	{
           
		$bulk_qty = (int) $bulk_qty;
                 if($bulk_qty == 0 || $bulk_qty =='' || !isset($bulk_qty)) {
                     $bulk_qty = 1;
                 }
		$cc->addItem($id,$efc,$qty,$bulk_qty);
	}
	elseif($upsell =='ok') 
	{
		$qxx = "SELECT product_list.descr,product_prices.price_level9 FROM product_list,product_prices WHERE product_list.id=product_prices.id AND product_list.id='$id'";
		if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($upsellTitle,$upsellPrice) = mysql_fetch_array($qokxx);
		$cc->addPriceItem($id,$upsellPrice);
	}
	else 
	{
		$cc->addItem($id,$efc,$qty);
	}

	if ($sc->ignoreCoupon($id) == 0)
	{
		$cup->getBonus($id, $efc);
		$cup->addBonus();
	}
	
	if (isset($_SESSION["acctid"]))
	{
		if (!class_exists('customerClass'))
		{
			REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
			$cclass = new customerClass();
			$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
			$cclass->db = $MYSQL_DATABASE;
		}
		$cclass->saveTmpCart();
	}
	
//	$cc->updateProdQty($id,$qty);
$sc->redirectUrl('/cart.phtml');

//	for($xx = 0; $xx < count($acc); $xx++)
//	{
//		$cc->addItem($acc[$xx]);
//		$cup->getBonus($acc[$xx], $efc);
//		$cup->addBonus();
//	}
}
else if($rid != "") 
{
    $rid = $_GET['rid'];
    $rid = htmlentities($rid);
    if(!is_numeric($rid)) { exit; }

	$cc->removeItem($rid);
}

// recalculate coupon discount
if (isset($_SESSION['CART']) && !empty($_SESSION['CART']['ID']))
{
	foreach ($_SESSION['CART']['ID'] AS $cart_pid)
	{
		if ($cart_pid == -7)
		{
			if (isset($_SESSION['COUPONS']) && !empty($_SESSION['COUPONS']['code']))
			{
				foreach ($_SESSION['COUPONS']['code'] AS $coupon_code)
				{
					if (!empty($coupon_code))
					{
//                                            $cc->removeItem($cart_pid);
                                            $cid = $cup->getCID($coupon_code);
                                            $cup->recalcDiscounts($cid, $coupon_code);
//						$cc->removeItem($cart_pid);
//						$cup->applyCoupon($coupon_code, $efc);
					}
				}
			}
		} 
	}
}

$icount = $_SESSION["ICOUNT"];
if ($icount > 0) {
    $itemTotal = $subtotal = 0.00;
    $total_weight = 0;
    for($xx = 0; $xx <$icount; $xx++)
    {
        $price 		= $_SESSION["CART"]["PRICE"][$xx];
        $qty 		= $_SESSION["CART"]["QTY"][$xx];
        $weight		= $_SESSION["CART"]["WEIGHT"][$xx];
        $total_weight +=$weight;
        if ($qty == '') { $qty = 1; }
		$itemTotal += $price*$qty; 
    }
}

$upsell_list = $efc->getConfigValue('eFluent Settings', 'UPSELL_LIST');

include($ROOT_DIR."/include/header.phtml");
?>


<script src="/js/cart.js" async="" type="text/javascript"></script>
<script language="javascript" type="text/javascript"><!--
function session_win() {
  window.open("http://www.therawfoodworld.com/index.php?main_page=info_shopping_cart","info_shopping_cart","height=460,width=430,toolbar=no,statusbar=no,scrollbars=yes").focus();
}
$(document).ready(function(){
	$('.ship4add2cartbtn').each(function(){
		$(this).click(function(){
			var pid = $(this).attr('id');
			var qty = 1;
			// check for shipping location
			$.get('/ajax_functions.phtml',{ action: "check_ship_loc", 'pid': pid }, function(response){
				if (response == 'yes') {
					window.location = "/cart.phtml?id=" + pid + "&qty=" + qty + "&upsell=ok";
				} else if (response == 'no') {
					$('.error_' + pid).html('We\'re sorry, this item cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.').show();					
				} else {
					window.location = "/cart.phtml?id=" + pid + "&qty=" + qty + "&upsell=ok";
				}
			});
		});
	});
	
});


//--></script>
<?
$fbcode = "fbq('track', 'AddToCart');";
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" class="pageTemplate" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left"  class="pageTemplateLeft">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center"  class="pageTemplateCenter" valign="top">
                 <?
                include($ROOT_DIR."/include/cart.phtml");
                ?>
            </td>
            <td id="column_right"  class="pageTemplateRight">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

