<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

// redirect from /category.phtml?c=xxxx to /lorem-ipsum-dolorem-cxxxx
if ($_SERVER['REQUEST_URI'] && substr($_SERVER['REQUEST_URI'],0,15) == '/category.phtml')
{
	$url = $sc->createCategoryNewUrlById($c);
	if ($p && $p > 0) { $url .= '?p=' . $p; }

	header("HTTP/1.1 301 Moved Permanently"); 
	header("Location: " . $url); 
	exit;
}

$catTree = $sc->getCatTreeExt($c);
$subCategories = $sc->getSubcategories($c);
$cat_desc = $sc->getCategoryDescr($c);

include($ROOT_DIR."/include/header.phtml");
?>



<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                 <?
                if($c == "100497")
                	include($ROOT_DIR."/include/category_clean.phtml");
                else
                	include($ROOT_DIR."/include/category.phtml");
                ?>
            </td>
            <!-- remove right bar-->
             <!-- 
            <td id="column_right" style="width: 250px;">
                <?
                //include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td> 
            -->
        </tr>
    </table>
</div>
<?
$ecomm_pagetype="category";
include($ROOT_DIR."/include/footer.phtml");
?>

