<?
$ROOT_DIR = "/home/httpd/rawfoodworld.com";

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


ob_start();

echo "IP: ".$_SERVER['REMOTE_ADDR']."<BR>\n";
?>
<pre>
<?print_r($_SESSION);?>
</pre>
<HR NOSHADE>
<pre>
<?print_r($_COOKIE);?>
</pre>
<?
$debuginfo = ob_get_clean();


$mail = new PHPMailer();
$mail->IsSMTP(); // telling the class to use SMTP
$mail->Host = $efc->getConfigValue("Email Settings", "SMTP$usedivid");; // SMTP server
if($efc->getConfigValue("Email Settings", "SMTPUSER$usedivid") != "")
{
	if( intval($efc->getConfigValue("Email Settings", "NOAUTH")) == 0)
	{
		$mail->SMTPAuth = true;
		$mail->SMTPSecure = $efc->getConfigValue("Email Settings", "SMTPSECURE");
	}
	else 
	{
		$mail->SMTPAuth = false;
	}
	
	$port = $efc->getConfigValue("Email Settings", "SMTPPORT");
	if ($port != '') 
	{
		$mail->Port = $port;
	}
	
	$mail->AuthType = "";//CRAM-MD5
	$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER$usedivid");
	$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS$usedivid");
}
else 
{
	$mail->SMTPAuth = false;
}
if ($DB == 'butterfly' && isset($smtp_settings[$currusr_email]))
{
	$mail->From     = $smtp_settings[$currusr_email]['smtp_user'];
}
else 
{	
	$mail->From     = $efc->getConfigValue("Email Settings", "FROMPO$usedivid");
}
$mail->FromName = $efc->getConfigValue("Email Settings", "FROMPONAME$usedivid");

$mail->AddAddress("yancey@efluent.com");
$mail->IsHTML(true);	

$mail->Subject = "RawFoodWorld - Session Debug";
$mail->Body = html_entity_decode( $debuginfo );
$mail->SMTPDebug = 2;

if(!$mail->Send())
{
	ob_clean();
	echo "Error: ".$mail->ErrorInfo."\n";
}
else 
{
	ob_clean();
	echo "Email has been sent to support";
}

?>