<?php
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

//////////////////////////////////////////////////////////
// make sure they're not grabbing a system file
$realpath = realpath($ROOT_DIR."/rich_pages/$sp");

if( (strpos($realpath, $ROOT_DIR) != 0) || (!stristr($realpath, $ROOT_DIR)) )
{
	echo "Internal Error\n";
	exit;
}

//////////////////////////////////////////////////////////

$fp = fopen($realpath, "r");
if($fp <= 0){ echo "ERROR OPENING FILE: "; exit(); }
while(!feof($fp)){$buffer .= fgets($fp, 4096);}
fclose(fp);

$hita = strpos($buffer, "<!-- TITLE:"); //11
$hitb = strpos($buffer, "-->", $hita + 11);

if(($hita >= 0) && ($hitb != false))
{
	$pagetitle = trim(substr($buffer, $hita + 11, $hitb - $hita - 11));
}

$hita = strpos($buffer, "<!-- METABEGIN --->");
$hitb = strpos($buffer, "<!-- METAEND --->", $hita + 19);
$additional_metatags = substr($buffer, $hita + 19, $hitb - $hita - 19);

$buffer = substr($buffer, $hitb + 17);

/////////////////////////////////////////////////////////////////////
$hita = strpos($buffer, "<!-- ARTICLE-URL:"); //17
$hitb = strpos($buffer, "-->", $hita + 17);

if(($hita >= 0) && ($hitb != false))
{
	$baseURL = trim(substr($buffer, $hita + 17, $hitb - $hita - 17));
	
	$ch = curl_init();    // initialize curl handle 
	curl_setopt($ch, CURLOPT_URL,$baseURL); // set url to post to 
	curl_setopt($ch, CURLOPT_FAILONERROR, 1); 
	curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1);// allow redirects 
	curl_setopt($ch, CURLOPT_RETURNTRANSFER,1); // return into a variable 
	curl_setopt($ch, CURLOPT_TIMEOUT, 3600); // times out after 120s 
	$html = curl_exec($ch); // run the whole process 
	curl_close($ch); 	
	
	$hitx = strpos($html, "<!-- Content Area Start -->"); //27
	$hity = strpos($html, "<!-- Content Area End -->", $hitx + 27); // 25
	
	$newHTML = trim(substr($html, $hitx + 27, $hity - $hitx - 27));
	
	$btop = substr($buffer, 0, $hita);
	$bbot = substr($buffer, $hitb + 3);
	
	$buffer =$btop . $newHTML . $bbot;
}
/////////////////////////////////////////////////////////////////////

include($ROOT_DIR."/include/header.phtml");
?>
<!-- <? echo "LID: ".$_GET['lid'];?> --->
<script src="/js/o.js" async="" type="text/javascript"></script>
<script src="/js/ga.js" async="" type="text/javascript"></script>
<script src="/js/general.js?<?php echo time(); ?>" async="" type="text/javascript"></script>
<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 762px;padding:0px 16px;" valign="top">
                <?=$buffer;?>
                <div class="clear">&nbsp;</div>
                <?php include $ROOT_DIR . '/include/right_col_rp.phtml'; ?>
                <?php
				if (isset($_GET['lid']) && !empty($_GET['lid']))
				{
					$lid = (int) $_GET['lid'];
					$sb = (isset($_SESSION['SB']['list'][$lid])) ? $_SESSION['SB']['list'][$lid] : '';
					
					if ($sb == '') 
					{
						$sb = 1;
					}
					elseif (!is_numeric($sb))
					{
						$sb = 3;
					}
					
					if(intval($ipp) > 0)
					{
						$_SESSION["IPP_RESULTS"] = $ipp;
						$ipp_results = $ipp;
					}
					
					if(intval($_SESSION["IPP_RESULTS"]) == 0)
					{
						$_SESSION["IPP_RESULTS"] = 12;
						$ipp_results = 12;
					}
					else
					{
						$ipp_results = $_SESSION["IPP_RESULTS"];
					}
					
					if(intval($p) == 0)
					{
						$p = 1;
					}
				
					$plist = $sc->getProductsSort($c, $lid, $p, $mid, $min, $max, $kw, $ss, $sb, $filters_arr, &$numproducts, &$numpages, &$bview, &$eview, &$nextpage, &$lastpage);
					include($ROOT_DIR."/include/products_rp.phtml");
				}
				
				if (isset($_GET['f']) && $_GET['f'] == '0')
				{}
				else 
				{
					?>
					<div class="boxTopLarge"></div>
					<div class="boxLarge" style="padding-left:10px!important;width:468px!important;">
					    <h2 class="centerBoxHeading">Featured Products</h2>
					    <div class="homePageItemSep"></div>
					    <style>
					        #featuredImg{max-width:130px;max-height:107px }
					    </style>
					    <table style="float:left;">
					        <?
					        $x=1;
					        $k=1;
					        $query = "select id,item_title,item_desc,item_link,item_img from rfw_featured_items order by ord";
					        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					        $total = mysql_num_rows($qok);
					        while (list($item_id,$item_title,$item_desc,$item_link,$item_img) = mysql_fetch_array($qok)) {
					            if($x == 1) {
					                ?>
					                    <tr>
					                <?
					            }
					        ?>
					            <td width="151px">
					                <table>
					                    <tr>
					                        <td height="107px">
					                            <a href="<?=$item_link?>">
					                                <img id="featuredImg" src='<?=BASE_URL?>/mgt/reports/featured_items/files/<?=$item_img?>'/>
					                            </a>
					                        </td>
					                    </tr>
					                    <tr>
					                         <?
					                            if($item_id=='3') {
					                                $color = '#437045';
					                            }
					                            if($item_id=='4') {
					                                $color = '#88daf0';
					                            }
					                            if($item_id=='5') {
					                                $color = '#748ce6';
					                            }
					                            if($item_id=='6') {
					                                $color = '#482253';
					                            }
					                            if($item_id=='7') {
					                                $color = '#e8b691';
					                            }
					                            if($item_id=='8') {
					                                $color = '#80a500';
					                            }
					
					                            ?>
					                        <td style="color:<?=$color?>;font-size:14px;font-weight:bold;height:30px;">
					                            <a href="<?=$item_link?>" style="color:<?=$color?>;font-size:14px;line-height:14px;font-weight:bold;text-decoration:none;">
					                                <?=$item_title?>
					                            </a>
					                        </td>
					                    </tr>
					                    <tr>
					                        <td style="color:#615e67;font-size:12px;padding-right:5px;font-weight:bold;"><?=$item_desc?></td>
					                    </tr>
					                </table>
					            </td>
					        <?
					            if($x == 3 || $total==$k) {
					                ?>
					                    </tr>
					                    <tr><td colspan="3" style="height:10px;">&nbsp;</td></tr>
					                <?
					                $x=1;
					            }
					            else {
					                $x++;
					            }
					            $k++;
					        }?>
					    </table>
					    <?
					    $featured = array();
					    if(count($featured['id'])>0) {
					        foreach($featured['id'] as $k=>$v) {
					//            $featured['sdescr'][$k] = strip_tags($featured['sdescr'][$k]);
					            ?>
					                <div class="homeFeaturedItem">
					                    <div class="homeFeaturedItemImg">
					                         <a href="<?=$sc->createProductNewUrl($v,$featured['title'][$k])?>">
					                            <img src="/getimage.phtml?id=<?=$v;?>&itype=0&thumb=1" alt="<?=$featured['title'][$k]?>" title="<?=$featured['title'][$k]?>" border="0"  id="homePageProdImg"/>
					                        </a>
					                    </div>
					                   
					                    <a href="<?=$sc->createProductNewUrl($v,$featured['title'][$k])?>" class="ptitle">
					                        <?=$featured['title'][$k]?>
					                    </a>
					                    <p class="pprice">$<?=$featured['price'][$k]?></p>
					                </div>
					            <?
					            if($k == 2) {
					                ?>
					                <div class="homePageItemSep"></div>
					                <?
					            }
					        }
					    }
					    ?>
					</div>
					<div class="boxBottomLarge"></div>			
					<?php
				}
				?>       
                <div class="clear">&nbsp;</div>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

