<?php
header ("content-type: text/xml");
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

ini_set('memory_limit', '128M');
ini_set('max_execution_time', 0);
set_time_limit(0);

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

function generateXML($sc,$v,$BASE_URL,$lastmod)
{
	$sub = $sc->getChildCategories($v);
	if (count($sub['catid']) > 0)
	{
		foreach ($sub['catid'] as $k1 => $v1)
		{
			echo '<url>'."\n";
			echo '<loc>'.$sc->createProductsUrl($sub['catname'][$k1],$v1).'</loc>'."\n";
			echo '<lastmod>'.$lastmod.'</lastmod>'."\n";
			echo '<changefreq>daily</changefreq>'."\n";
			echo '<priority>0.9</priority>'."\n";
			echo '</url>'."\n";

			// products for this category
			getProducts($sc,$v1,$lastmod);
			
			// man's for this category
			getMans($sc,$v1,$BASE_URL,$lastmod);
		
			// subcategories
			generateXML($sc,$v1,$BASE_URL,$lastmod);
		}
	}
}

function getProducts($sc,$category,$lastmod)
{
	$prods = $sc->getProductForSitemap($category);
	foreach ($prods['id'] AS $k2 => $v2)
	{
		$prod_url = $sc->createProductNewUrl($v2,trim($prods['title'][$k2]));
		$prod_url = str_replace('<','',$prod_url);
		$prod_url = str_replace('>','',$prod_url);

		echo '<url>'."\n";
		echo '<loc>http://www.therawfoodworld.com/'.$prod_url.'</loc>'."\n";
		echo '<lastmod>'.$lastmod.'</lastmod>'."\n";
		echo '<changefreq>weekly</changefreq>'."\n";
		echo '<priority>0.8</priority>'."\n";
		echo '</url>'."\n";
	}
}

function getMans($sc,$category,$BASE_URL,$lastmod)
{
	$mans = $sc->getManList($category);
	foreach ($mans['id'] AS $k3 => $v3)
	{
		$man_url = $BASE_URL.'/products.phtml?c='.$category.'&mid='.$v3;
		$man_url = htmlspecialchars($man_url, ENT_QUOTES);			
		echo '<url>'."\n";
		echo '<loc>'.$man_url.'</loc>'."\n";
		echo '<lastmod>'.$lastmod.'</lastmod>'."\n";
		echo '<changefreq>weekly</changefreq>'."\n";
		echo '<priority>0.7</priority>'."\n";
		echo '</url>'."\n";
	}
}

// download
// header("Cache-Control: public");
// header("Content-Description: File Transfer");
// header("Content-Disposition: attachment; filename=sitemap.xml");
//header("Content-type: text/xml");
// header("Content-Transfer-Encoding: binary");

echo '<?xml version="1.0" encoding="UTF-8"?>'."\n";
echo '<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">'."\n";

// first page
echo '<url>'."\n";
echo '<loc>'.$BASE_URL.'</loc>'."\n";
echo '<changefreq>daily</changefreq>'."\n";
echo '<priority>1.0</priority>'."\n";
echo '</url>'."\n";

// categories
$categories = $sc->getChildCategories(0);
$lastmod = date('Y-m-d');
foreach ($categories['catid'] AS $k => $v)
{
	echo '<url>'."\n";
	echo '<loc>'.$sc->createProductsUrl($categories['catname'][$k],$v).'</loc>'."\n";
	echo '<lastmod>'.$lastmod.'</lastmod>'."\n";
	echo '<changefreq>daily</changefreq>'."\n";
	echo '<priority>1.0</priority>'."\n";
	echo '</url>'."\n";

	// products for this category
	getProducts($sc,$v,$lastmod);

	// man's for this category
	getMans($sc,$v,$BASE_URL,$lastmod);
	
	// subcategories
	generateXML($sc,$v,$BASE_URL,$lastmod);
}
echo '</urlset>';