<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

//////////////////////////////////////////////////////////
// make sure they're not grabbing a system file
$realpath = realpath($ROOT_DIR."/static_pages/$sp");

if( (strpos($realpath, $ROOT_DIR) != 0) || (!stristr($realpath, $ROOT_DIR)) )
{
	echo "Internal Error\n";
	exit;
}

//////////////////////////////////////////////////////////

$fp = fopen($realpath, "r");
if($fp <= 0){ echo "ERROR OPENING FILE: "; exit(); }
while(!feof($fp)){$buffer .= fgets($fp, 4096);}
fclose(fp);

$hita = strpos($buffer, "<!-- TITLE:"); //11
$hitb = strpos($buffer, "-->", $hita + 11);

if(($hita >= 0) && ($hitb != false))
{
	$pagetitle = trim(substr($buffer, $hita + 11, $hitb - $hita - 11));
}

/////////////////////////////////////////////////////////////////////
$hita = strpos($buffer, "<!-- ARTICLE-URL:"); //17
$hitb = strpos($buffer, "-->", $hita + 17);

if(($hita >= 0) && ($hitb != false))
{
	$baseURL = trim(substr($buffer, $hita + 17, $hitb - $hita - 17));
	
	$ch = curl_init();    // initialize curl handle 
	curl_setopt($ch, CURLOPT_URL,$baseURL); // set url to post to 
	curl_setopt($ch, CURLOPT_FAILONERROR, 1); 
	curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1);// allow redirects 
	curl_setopt($ch, CURLOPT_RETURNTRANSFER,1); // return into a variable 
	curl_setopt($ch, CURLOPT_TIMEOUT, 3600); // times out after 120s 
	$html = curl_exec($ch); // run the whole process 
	curl_close($ch); 	
	
	$hitx = strpos($html, "<!-- Content Area Start -->"); //27
	$hity = strpos($html, "<!-- Content Area End -->", $hitx + 27); // 25
	
	$newHTML = trim(substr($html, $hitx + 27, $hity - $hitx - 27));
	
	$btop = substr($buffer, 0, $hita);
	$bbot = substr($buffer, $hitb + 3);
	
	$buffer =$btop . $newHTML . $bbot;
}
/////////////////////////////////////////////////////////////////////


include($ROOT_DIR."/include/header.phtml");
?>
<script src="/js/o.js" async="" type="text/javascript"></script>
<script src="/js/ga.js" async="" type="text/javascript"></script>

<?
include($ROOT_DIR."/include/top.phtml");
?>
<div class="content_t">
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/left_col.phtml");
                ?>
            </td>
            <td id="column_center" style="width: 512px;padding:0px 16px;" valign="top">
                <?=$buffer;?>
            </td>
            <td id="column_right" style="width: 250px;">
                <?
                include($ROOT_DIR."/include/right_col.phtml");
                ?>
            </td>
        </tr>
    </table>
</div>
<?
include($ROOT_DIR."/include/footer.phtml");
?>

