					<form name="vendorsearch">
						<table>
						
						<tr>
							<td class="g1">Account #:</td>
							<td><input type="text" name="acct" value="<?=$_SESSION["VN_SAVEDSEARCH"]['acct'];?>" style="width:75px" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1">Vendor Name:</td>
							<td><input type="text" name="vendorname" value="<?=$_SESSION["VN_SAVEDSEARCH"]['vendorname'];?>" style="width:125px" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1">Primary Contact:</td>
							<td><input type="text" name="primary_contact" value="<?=$_SESSION["VN_SAVEDSEARCH"]['primary_contact'];?>" style="width:125px" class="formBox"></td>
						</tr>
						
						<tr>
							<td class="g1">Current Balance:</td>
							<td><input type="text" name="current_balance" value="<?=$_SESSION["VN_SAVEDSEARCH"]['current_balance'];?>" style="width:50px;text-align:right" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1">1099 Vendor:</td>
							<td><input type="checkbox" name="irs1099flag" value="1" <?if($_SESSION["VN_SAVEDSEARCH"]['irs1099flag'] == "1") echo "CHECKED";?>></td>
						</tr>
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<td valign=top>
								<select name="num2return" class="formSelect">
									<option value="50"   <?if($_SESSION["VN_SAVEDSEARCH"]['num2return'] == "50") echo "SELECTED";?>>50 items (default)
									<option value="100"  <?if($_SESSION["VN_SAVEDSEARCH"]['num2return'] == "100") echo "SELECTED";?>>100 items
									<option value="1000" <?if($_SESSION["VN_SAVEDSEARCH"]['num2return'] == "1000") echo "SELECTED";?>>1000 items
									<option value="9999" <?if($_SESSION["VN_SAVEDSEARCH"]['num2return'] == "9999") echo "SELECTED";?>>9999 items
								</select>						
							</td>
						</tr>									

						
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchVendors()" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="vendorresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->