<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
function cleanse($data)
{
	$data = str_replace("<![CDATA[", "", $data);
	$data = str_replace("]]>", "", $data);
			
	return preg_replace("/[^a-zA-Z0-9!~$#;:?&%=)(><.,\[\]\-'\+\/\"\s]/","", $data);
}
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query = "select vendorid, invoiceid, poref, vendorref, eta, 
			accountname, addrline1, addrline2, addrcity, addrstate, addrzip, addrcountry,
			saddrname, saddrline1, saddrline2, saddrcity, saddrstate, saddrzip, saddrcountry,
			sub_stamp, eta, status, status_rec, status_inv, edixml, tax, total, repid, sphone
			from vendor_pos where poid = '$poid'";
				
$qok = mysql_db_query($DB, $query, $mysqlid);
		
list($vendorid, $invoiceid, $poref, $vendorref, $eta,
		$accountname, $addrline1, $addrline2, $addrcity, $addrstate, $addrzip, $addrcountry,
		$saddrname, $saddrline1, $saddrline2, $saddrcity, $saddrstate, $saddrzip, $saddrcountry,
		$sub_stamp, $eta, $status, $status_rec, $status_inv, $edixml, $tax, $total, $repid, $phone) = mysql_fetch_array($qok);
		
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
$query = "select emailaddr from customer_orders where invoiceid = '$invoiceid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($emailaddr) = mysql_fetch_array($qok);

$CustID = $efc->getConfigValue("Manna", "DROPSHIPACCT");
$BillID = $efc->getConfigValue("Manna", "DROPSHIPACCT"); // dtwhdot2

$UserName = $efc->getConfigValue("Manna", "UserName");
$Password = $efc->getConfigValue("Manna", "Password");

$tstamp = date("m/d/Y", strtotime($readydate));

$xml_post_str = "<?xml version=\"1.0\"?>
			<Shipment>
				<UserName>$UserName</UserName>
				<Password>$Password</Password>
				<CustID>$CustID</CustID>
				<BillID>$BillID</BillID>
				<MFSID></MFSID>
				<MFSTextID></MFSTextID>
				<Process>NOW+CHARGES+LABEL+LABEL_EPL2+FULL</Process>\n";

if(substr($method, 0, 3) == "GTP")
{
	$xml_post_str .= "<SvcType>R</SvcType>
				<ReadyDate>$tstamp</ReadyDate>
				<DeliverDate></DeliverDate>
				<ShipmentType>TP</ShipmentType>
				<ShipmentDirection>Delivery</ShipmentDirection>
				<WindowBegin></WindowBegin>
				<WindowEnd></WindowEnd>\n";
}
else if(substr($method, 0, 3) == "GWG")
{
	$xml_post_str .= "<SvcType>R</SvcType>
				<ReadyDate>$tstamp</ReadyDate>
				<DeliverDate></DeliverDate>
				<ShipmentType>WG</ShipmentType>
				<ShipmentDirection>Delivery</ShipmentDirection>
				<WindowBegin></WindowBegin>
				<WindowEnd></WindowEnd>\n";	
}


$notes = cleanse($notes);

/*
list($vendorid, $invoiceid, $poref, $vendorref, $eta,
		$accountname, $addrline1, $addrline2, $addrcity, $addrstate, $addrzip, $addrcountry,
		$saddrname, $saddrline1, $saddrline2, $saddrcity, $saddrstate, $saddrzip, $saddrcountry,
		$sub_stamp, $eta, $status, $status_rec, $status_inv, $edixml, $tax, $total, $repid, $phone) = mysql_fetch_array($qok);
*/
$query = "select primary_contact, primary_phone1, fax, primary_email from vendors where vendorid = '$vendorid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($primary_contact, $primary_phone1, $fax, $primary_email) = mysql_fetch_array($qok);

$xml_post_str .="<PONum>$poid</PONum>
				<BOLNum>$invoiceid</BOLNum>
				<RMANum>$vendorref</RMANum>
				<SpecInst>$notes</SpecInst>
				<PkgDesc></PkgDesc>
				<CODType></CODType>
				<CODAmount></CODAmount>
				<ShipID>DTWHDOT</ShipID>
				<ShipName>".addslashes($accountname)."</ShipName>
				<ShipContact>".addslashes($primary_contact)."</ShipContact>
				<ShipAdd1>".addslashes($addrline1)."</ShipAdd1>
				<ShipAdd2>".addslashes($addrline2)."</ShipAdd2>
				<ShipCity>".addslashes($addrcity)."</ShipCity>
				<ShipState>".addslashes($addrstate)."</ShipState>
				<ShipZIP>".addslashes($addrzip)."</ShipZIP>
				<ShipRegion></ShipRegion>
				<ShipCountry>".addslashes($addrcountry)."</ShipCountry>
				<ShipPhone>".addslashes($primary_phone1)."</ShipPhone>
				<ShipFax>$fax</ShipFax>
				<ShipHome></ShipHome>
				<ShipMobile></ShipMobile>
				<ShipEmergency></ShipEmergency>
				<ShipOther></ShipOther>
				<ShipEmail>".addslashes($primary_email)."</ShipEmail>
				<ShipLocType>Business</ShipLocType>\n";

$ship2name = str_replace("&", "&amp;", $ship2name);

$xml_post_str .= "<ConsID></ConsID>
				<ConsName>$saddrname</ConsName>
				<ConsContact></ConsContact>
				<ConsAdd1>$saddrline1</ConsAdd1>
				<ConsAdd2>$saddrline2</ConsAdd2>
				<ConsCity>$saddrcity</ConsCity>
				<ConsState>$saddrstate</ConsState>
				<ConsZIP>$saddrzip</ConsZIP>
				<ConsRegion></ConsRegion>
				<ConsCountry>$saddrcountry</ConsCountry>
				<ConsPhone>$phone</ConsPhone>
				<ConsFax></ConsFax>
				<ConsHome></ConsHome>
				<ConsMobile></ConsMobile>
				<ConsEmergency></ConsEmergency>
				<ConsOther></ConsOther>
				<ConsEmail>$emailaddr</ConsEmail>\n";

if($residential == 1)
	$xml_post_str .= "<ConsLocType>Residential</ConsLocType>\n";
else 
	$xml_post_str .= "<ConsLocType>Business</ConsLocType>\n";


$productlist = "";
$query = "select pid, sku, manid, manname, manpart, descr, price, qty_ordered, weight from vendor_po_lines where poid = '$poid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
while(list($pid, $sku, $manid, $manname, $manpart, $descr, $price, $qty_ordered, $weight) = mysql_fetch_array($qok))
{
	if(floatval($weight) <= 0)
	{
		$query = "select shipweight from product_list where id = '$pid'";
		$q42ok = mysql_db_query($DB, $query, $mysqlid);
		list($weight) = mysql_fetch_array($q42ok);
	}	
	
	$query = "select shipcode from product_list where id = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipcode) = mysql_fetch_array($q2ok);
		
	$xml_post_str .= "<Piece>
						<Pieces>$qty_ordered</Pieces>
						<ProdID>$sku</ProdID>
						<ProdName>$pid</ProdName>
						<ProdDesc>".$descr."</ProdDesc>
						<ProdType>$shipcode</ProdType>
						<PieceLength></PieceLength>
						<PieceWidth></PieceWidth>
						<PieceHeight></PieceHeight>
						<PieceWeightActual>$weight</PieceWeightActual>
						<PieceDecVal>$price</PieceDecVal>
						<PiecePrep></PiecePrep>
					</Piece>";

	// build the PID list for later
	$productlist .= "$pid:0:$qty_ordered,";
	
	$efc->add2PurchaseHistory($pid, $poid, $price, $qty_ordered);
}
				
$xml_post_str .= "</Shipment>";

ob_start();
$ch = curl_init();
curl_setopt($ch, CURLOPT_URL, "http://www.manna.com/edi/cust/shipment.asp");
//curl_setopt($ch, CURLOPT_HEADER, 0);
curl_setopt($ch, CURLOPT_POSTFIELDS, $xml_post_str);
curl_setopt($ch, CURLOPT_POST, true);
$result = curl_exec($ch);
curl_close($ch);
$xmlRaw = ob_get_clean();

$query = "insert into debug(data) values('".addslashes($xml_post_str)."')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "insert into debug(data) values('".addslashes($xmlRaw)."')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


// here are the xml field names
$xmlFieldNames=array("Status", "ParseError", "ProcessErrors", "ProcessErrorsText", "MFSTextID", "TotalCharges", "BOLDRLink", "LabelCode");

// for each xml field...
foreach ($xmlFieldNames as $xmlField)
{
	///echo $xmlField."<BR>";
    if(strpos($xmlRaw,$xmlField)!==false)
    {
        // I've broken 1 single line into 4 for display purposes
        $parsedXML[$xmlField]=substr($xmlRaw,
        		strpos($xmlRaw,"<$xmlField>")+strlen("<$xmlField>"),
        		strpos($xmlRaw,"</$xmlField>")-strlen("<$xmlField>")
        		-strpos($xmlRaw,"<$xmlField>"));
    }
}

if($parsedXML['Status'] == "200")
{
	$tracking = $parsedXML['MFSTextID'];
	$shipcost = $parsedXML['TotalCharges'];
	$tstamp = date("Y-m-d H:i:s", strtotime($shipdate));
		
	
	$query = "update vendor_pos set vendor_status = 'MANNA' where poid = '$poid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// update the PO
	$query = "update vendor_pos set status = '2' where poid = '$poid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "update vendor_po_lines set qty_shipped = qty_ordered where poid = '$poid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	////////////////////////////////////////////////////////////
	
	$xshipdate = strtotime($shipdate);
	
	$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost) ";
	$query .= "values('$invoiceid', '$tracking', '$method', 'manna', '$xshipdate', '$shipcost') ";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$tid = mysql_insert_id();
		
	$on = $efc->getOrderNumber($invoiceid);
	$pidlist = explode(",", $productlist);
		
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// update customer_order_tracking_extended
	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $qty) = explode(":", $pidlist[$xx]);
			
		if(intval($pid) > 0)
		{
			for($pp = 0; $pp < $qty; $pp++)
			{			
				// save what was in the box
				$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$on', '$tid', '$tracking', '$pid', '$serial')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
	}
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// ship all coupons
	$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	// ship all kits
	$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and kit = '2'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	
		
	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $qty) = explode(":", $pidlist[$xx]);
			
		if(intval($pid) > 0)
		{
			$now = time();
			$cost = $efc->getActualCost($pid);
			$scost = $efc->getSalesmanCost($pid);
			
			if($efc->getOrderType($on) == "EXCHANGE")
			{
				$query = "update customer_order_lines set qty_shipped = qty_shipped + $qty, shipdate = '$now', cost = '$cost', scost = '$scost' where 
							orderid = '$on' and prodid = '$pid' and ex_return = 0";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }					
			}
			else 
			{
				$query = "update customer_order_lines set qty_shipped = qty_shipped + $qty, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			
			$efc->updateInventory(1, 0, $shipcost, $pid, 0, "", $on);
			$efc->updateInventory(0, 1, $shipcost, $pid, 0, "", $on);
				
		}
	}
        
	$efc->getStartStatus($on);
	if($efc->getOrderType($on) == "EXCHANGE")
	{
		$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($numleft) = mysql_fetch_array($qok);
			
		if($numleft <= 0)
		{
			$completedate = time();
			$query = "update customer_orders set status = '50', completedate = '$completedate' where orderid = '$on'";	
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	else 
	{
		// see if everything on the order has shipped
		$query = "select lineid, prodid from customer_order_lines where orderid = '$on' AND qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			// success
			$query = "select customer_orders.status, company_orderflow.success from customer_orders, company_orderflow where
						customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($this_step, $success_step) = mysql_fetch_array($qok);
			
			$query = "update customer_orders set status = '$success_step' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else 
		{
			// failure .... partially shipped
			$query = "select customer_orders.status, company_orderflow.failure from customer_orders, company_orderflow where
						customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($this_step, $failure_step) = mysql_fetch_array($qok);
			
			$query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
		
	$efc->getLogStopStatus($on);
	$efc->recalculateInventory($on);
	if($kitpid = $efc->orderWasKit($on))
		$efc->internal_repriceKits($kitpid, 0, 0);

	$efc->UpdatePool(2, $on);
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    echo "OK\t$tracking";
}
else 
{
	echo "ERROR:\t".$parsedXML['Status']." - ".$parsedXML['ProcessErrorsText'] ;	
	
	$errorfile = $ROOT_DIR."/mgt/temp/manna_error_$on_".time().".log";
	
	$fp = fopen($errorfile, "w");
	fputs($fp, "SENT:\n$xml_post_str");
	fputs($fp, "\n-----------------------------------\n");
	fputs($fp, "RECV:\n$xmlRaw");
	fclose($fp);
}

?>