<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$icount = $_SESSION["POICOUNT"];
if($icount == "") $icount = 0;

for($xx = 0; $xx <$icount; $xx++)
{
	$id 		= $_SESSION["POCART"]["ID"][$xx];
	$manname 	= $_SESSION["POCART"]["MANNAME"][$xx];
	$manpart 	= $_SESSION["POCART"]["MANPART"][$xx];
	$descr 		= strtoupper($_SESSION["POCART"]["DESCR"][$xx]);
	$price 		= $_SESSION["POCART"]["PRICE"][$xx];
	$kitprice 	= $_SESSION["POCART"]["KITPRICE"][$xx];
	$qty 		= $_SESSION["POCART"]["QTY"][$xx];
	$stock 		= $_SESSION["POCART"]["STOCK"][$xx];
	$weight		= $_SESSION["POCART"]["WEIGHT"][$xx];
	$kit 		= $_SESSION["POCART"]["KIT"][$xx];
	$dropship	= $_SESSION["POCART"]["DSHIP"][$xx];
	
	$linetotal = number_format($price * $qty, 2);
	$price = number_format($price, 2);
	
	$lastman = "";
	
	if($instock > 0) 
		$instock = "Available"; 
	else if($dropship == 1)
		$instock = "Available";
	else 
		$instock = "<font color=#808080>Available</font>";	
	/*$new_string = "";
	if ($DB == 'ecom') {
		$new_string .= "<br />";
		$query = "SELECT text_short FROM custom_values where pid = '$pid' and cfid='31'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		if (mysql_num_rows($q2ok)>0) {
			list($text_short) = mysql_fetch_array($q2ok);
			$new_string .="Sticker: ".$text_short;
		}
		else {
			$new_string .="Sticker: 0";
		}
		
		$query = "SELECT text_short FROM custom_values where pid = '$pid' and cfid='25'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		if (mysql_num_rows($q2ok)>0) {
			list($text_short) = mysql_fetch_array($q2ok);
			$new_string .="Oversize: ".$text_short;
		}
		else {
			$new_string .="Oversize: 0";
		}
	}
*/
		
	echo "$id\t$manname - $descr<BR><B>ManPart:</B> $manpart&nbsp;&nbsp;&nbsp;<B>PID:</B> $id $new_string\t$instock\t$price\t$qty\t$linetotal\n";
}

?>