<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$query = "select status, vendorid, invoiceid, poref, vendorref, accountname from vendor_pos where poid = '$poid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

if(mysql_num_rows($qok) > 0)
{
	list($status, $vendorid, $invoiceid, $poref, $vendorref, $accountname) = mysql_fetch_array($qok);

	if($status != "1" && $status != "0")
	{
		echo "ERROR\tYou cannot receive a PO unless its 'Submitted!' or 'In-Queue'";
		exit;
	}	
	
/*
				<select name="status" class="formSelect">
									<option value="-1">--- SELECT ---
									<option value="2">Complete
									<option value="3">Error
									<option value="0">In-Queue
									<option value="1">Submitted
									<option value="4">Void
								</select>*/	
	
	if($status == "2") $status = "Complete";
	else if($status == "3") $status = "Error";
	else if($status == "0") $status = "In-Queue";
	else if($status == "1") $status = "Submitted";
	else if($status == "4") $status = "Void";
	
	echo "$vendorid\t$invoiceid\t$poref\t$vendorref\t$accountname\t$status";
	
}
else 
{
	if( substr($poid, 0, 3) == "RMA" || substr($poid, 0, 3) == "EXC" )
	{
		{
			$query = "select orderid, invoiceid, status, ship2name from customer_orders where invoiceid = '$poid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($orderid, $invoiceid, $status) = mysql_fetch_array($qok);
			
			$status = $efc->getReturnStatus($status);
			
			echo "$orderid\t$invoiceid\t$poref\t$vendorref\t$accountname\t$status";
			exit;
			
		}
	}
	
	
	echo "ERROR\tPOID: $poid Not Found!";
}

?>