<?
//r2d
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
  
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

	
/******************************************************************************************/
if($bdate == "") $bdate = date("m/d/Y");
if($edate == "") $edate = date("m/d/Y");



$query = "select invoiceid, poref from vendor_pos where poid = '$poid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($iv, $iv2) = mysql_fetch_array($qok);
	
if($iv == "" && $iv2 != "")
{
	$iv = $iv2; // write a PO fix
}

if($iv != "")
{
	$query = "select divid, orderdate, phone, altphone, emailaddr from customer_orders where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($divid, $orderdate, $phone, $altphone, $emailaddr) = mysql_fetch_array($qok);

	$query = "select sitename from site_list where divid = '$divid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sitename) = mysql_fetch_array($qok);
}

$query = "select accountname, addrline1, addrline2, addrcity, addrstate, addrzip, addrcountry, 
				saddrname, saddrline1, saddrline2, saddrcity, saddrstate, saddrzip, saddrcountry, divid
				from vendor_pos where poid = '$poid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($accountname, $addrline1, $addrline2, $addrcity, $addrstate, $addrzip, $addrcountry, 
				$saddrname, $saddrline1, $saddrline2, $saddrcity, $saddrstate, $saddrzip, $saddrcountry, $xdivid) = mysql_fetch_array($qok);
				
if($divid == "")
{
	$divid = $xdivid;
	
	if(intval($divid) > 0)
		$usedivid = "_$divid";
	
	$sitename = $efc->getConfigValue("Company Information", "CompanyName$usedivid");
}
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<STYLE>
td{
	font-family:Tahoma;
	font-size:12px;
	color:#000000;
}

.dialog {
display:none;
width:225px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}



</STYLE>

</HEAD>
<body oncontextmenu="return false;" <?if($hideprint == 1){?>onload="document.location='printme'"<?}?>>
<div width=95% style="border:1px #808080 solid">
<table width=100%>
<tr>
	<td width=50%>

		<H2 style="font-family:Tahoma;size:14px">PO: <?=$poid;?></H2>
		<table width=100%>
		<tr>
	
			<td><?=$sitename;?></td>		
		</tr>
		<tr>
			<td><?=$efc->getConfigValue("Company Information", "CompanyAddress1$usedivid");?></td>		
		</tr>
		<?
		$line2 = $efc->getConfigValue("Company Information", "CompanyAddress2$usedivid");
		if($line2 != "")
		{?>
			<tr>
				<td><?=$line2;?></td>		
			</tr>
		<?
		}
		?>
		<tr>
			<td><?=$efc->getConfigValue("Company Information", "CompanyCity");?>,<?=$efc->getConfigValue("Company Information", "CompanyState$usedivid");?> <?=$efc->getConfigValue("Company Information", "CompanyZip$usedivid");?></td>		
		</tr>	
		</table>
		
		
	</td>
	<td align=right>
		<div style="font-family:IDAutomationHC39M;font-style:regular;font-size:12px">*<?=$iv;?>*</div>
		<BR>
		<?=date("m/d/Y H:i", time());?>
	</td>
</tr>
<tr bgcolor="#eeeeee">
	<td colspan=2>
		<table width=100%>
		
		<tr>
			<td><B>Invoice#:</B></td>
			<td><?=$iv;?></td>
			
			<td>&nbsp;|&nbsp;</td>
			
			<td><B>Order Date:</B></td>
			<td><?=date("m/d/Y", $orderdate);?></td>
			
			<td>&nbsp;|&nbsp;</td>
			
			<td><B>Phone:</B></td>
			<td><?=$phone;?></td>
			
			<td>&nbsp;|&nbsp;</td>
			
			<td><B>Alt Phone:</B></td>
			<td><?=$altphone;?></td>
			
			<td>&nbsp;|&nbsp;</td>
			
			<td><B>Email:</B></td>
			<td><?=$emailaddr;?></td>
			
			
		</tr>
		</table>
	
	</td>
</tr>
<tr>
	<td>
	<!-----------------------------------------
		list($accountname, $addrline1, $addrline2, $addrcity, $addrstate, $addrzip, $addrcountry, 
				$saddrname, $saddrline1, $saddrline2, $saddrcity, $saddrstate, $saddrzip, $saddrcountry) = mysql_fetch_array($qok);

		----------------------------------------------------->
		<table width=100%>
		<tr>
			<td  class="g"><B>Warehouse Address</B></td>
		</tr>
		<tr>
	
			<td><?=$accountname;?></td>		
		</tr>
		<tr>
			<td><?=$addrline1;?></td>		
		</tr>
		<?
		$line2 = $addrline2;
		if($line2 != "")
		{?>
			<tr>
				<td><?=$line2;?></td>		
			</tr>
		<?
		}
		?>
		<tr>
			<td><?=$addrcity;?>, <?=$addrstate;?> <?=$addrzip;?></td>		
		</tr>	
		<tr>
			<td><?=$addrcountry;?></td>		
		</tr>	
		</table>
	<!---------------------------------------------------------------------------------------------->		
	</td>
	
	<td>
	<!---------------------------------------------------------------------------------------------->
		<table width=100%>
		<tr>
			<td><B>Shipping Address</B></td>
		</tr>
		<tr>
	
			<td><?=$saddrname;?></td>		
		</tr>
		<tr>
			<td ><?=$saddrline1;?></td>		
		</tr>
		<tr>
			<td ><?=$saddrline2;?></td>		
		</tr>
		<tr>
			<td ><?=$saddrcity;?>, <?=$saddrstate;?> <?=$saddrzip;?></td>		
		</tr>	
		<tr>
			<td ><?=$saddrcountry;?></td>		
		</tr>
		</table>
	<!---------------------------------------------------------------------------------------------->	
	</td>
</tr>
</table>
<table width=100%>
	<tr bgcolor="#eeeeee">
	<td align=center><B>PID</B></td>
	<td align=center><B>Man.</B></td>
	<td align=center><B>Man. Part</B></td>
	<td align=center><B>Description</B></td>
	<td align=center><B>Pieces</B></td>
</tr>
<?
$on = $efc->getOrderNumber($iv);

$query = "select pid, qty_shipped, pid, manname, manpart, descr, qty_ordered from vendor_po_lines where poid = '$poid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($prodid, $qty_shipped, $pid, $manname, $manpart, $descr, $qty_ordered)= mysql_fetch_array($q2ok))
{
	?>
	<tr>
		<td align=center class="gf"><?=$pid;?></td>
		<td align=center class="gf"><?=$manname;?></td>
		<td align=center class="gf"><?=$manpart;?></td>
		<td align=center class="gf"><?=$descr;?></td>
		<td align=center class="gf"><?=$qty_ordered;?></td>
	</tr>
	<?
}
?>
</table>
<?
$query = "select notes from vendor_po_notes where poid = '$poid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($notes) = mysql_fetch_array($qok);
?>
	<BR><BR>
	<table>
	<tr>
		<td>
		Notes: <?=$notes;?>
		</td>
	</tr>
	</table>
	
	
<BR><BR>
<div style="border:4px #808080 solid">
<table width=100%>
<tr>
	<td colspan=2 align=center><B>Complete Inspection Questionaire Below Signature Line - Adult Signature Required</B></td>
</tr>
<tr>
	<td colspan=2 align=center><B>Inspection Questionaire Below</B></td>
</tr>
<tr>
	<td>
	<!----------------------------------------------------------->
	<table>
	<tr>
		<td>Was the exterior product packaging in good condition?</td>
		<td NOWRAP>YES ____  NO ____ (if no, please explain below)</td>
	</tr>
	<tr>
		<td>Did you open the box and inspect the product?</td>
		<td NOWRAP>YES ____  NO ____ (if no, please explain below)</td>
	</tr>
	<tr>
		<td>Are the contents in good order and condition?</td>
		<td NOWRAP>YES ____  NO ____ (if no, please explain below)</td>
	</tr>
	<tr>
		<td>Was your property left in good condition?</td>
		<td NOWRAP>YES ____  NO ____ (if no, please explain below)</td>
	</tr>
	<tr>
		<td>Product opened for Inspection I hereby certify that the above said<BR>
		    merchandise has been fully inspected and everything is in good condition</td>
		<td NOWRAP>YES ____  NO ____ (if no, please explain below)</td>
	</tr>
	</table>
	<BR><BR>
	<!----------------------------------------------------------->
	</td>
</tr>
<tr>
	<td>
	<!----------------------------------------------------------->
		<table>
		<tr>
			<td><font size=3><B>Adult Signature:</B></font></td>
			<td>_________________________________</td>
		</tr>
		<tr>
			<td><B>Adult Name (print):</B></td>
			<td>_________________________________</td>
		</tr>
		</table>
	<!----------------------------------------------------------->
	</td>
		
	<td>
	<!----------------------------------------------------------->
		<table>
		<tr>
			<td><B>Driver:</B></td>
			<td>_________________________________</td>
		</tr>
		<tr>
			<td><B>Arrival:</B></td>
			<td>_________________________________</td>
		</tr>
		<tr>
			<td><B>Departure:</B></td>
			<td>_________________________________</td>
		</tr>
		</table>	
		<!----------------------------------------------------------->
	</td>
</tr>
</table>
</div>
</div>

	<BR><BR>
	<table>
	<tr>
		<td>
		Comments: 
		</td>
	</tr>
	</table>
	
	<table width=100%>
	<tr>
		<td style="border-bottom:1px #808080 solid" height="21px">&nbsp;</td>
	</tr>
	<tr>
		<td style="border-bottom:1px #808080 solid" height="21px">&nbsp;</td>
	</tr>
	<tr>
		<td style="border-bottom:1px #808080 solid" height="21px">&nbsp;</td>
	</tr>
	<tr>
		<td style="border-bottom:1px #808080 solid" height="21px">&nbsp;</td>
	</tr>
	</table>

</body>
</html>