<?  
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
function getMan($vmanname,$char,$DB,$mysqlid) {
	$vmanname = str_replace("    "," ",$vmanname);
	$vmanname = str_replace("   "," ",$vmanname);
	$vmanname = str_replace("  "," ",$vmanname);
	$vmanname = trim($vmanname);
	$manid = 0;
	$manname = "-";
	
	$tmp_manname = explode($char,$vmanname);
	$query = "select manname,manid FROM product_manufacturers where
						manname='".trim($vmanname)."'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if(mysql_num_rows($q2ok) > 0)
	{
		list($manname, $manid) = mysql_fetch_array($q2ok);
	}
	else 
	{
		$queryx = "select manname,manid FROM product_manufacturers where
					manname='".trim($tmp_manname[0])."'";
		if(!$q2okx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
		if(mysql_num_rows($q2okx) > 0)
		{
			list($manname, $manid) = mysql_fetch_array($q2okx);
		}
		else {
			$queryxx = "select manname,manid FROM product_manufacturers where
					manname='".trim($tmp_manname[0])." ".trim($tmp_manname[1])."'";
			if(!$q2okxx = mysql_db_query($DB, $queryxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
			if(mysql_num_rows($q2okxx) > 0)
			{
				list($manname, $manid) = mysql_fetch_array($q2okxx);
			}
			else {
				$queryxxx = "select manname,manid FROM product_manufacturers where
					manname='".trim($tmp_manname[0])." ".trim($tmp_manname[1])." ".trim($tmp_manname[2])."'";
				if(!$q2okxxx = mysql_db_query($DB, $queryxxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				if(mysql_num_rows($q2okxxx) > 0)
				{
					list($manname, $manid) = mysql_fetch_array($q2okxxx);
				}
				else {
					if ($char != "-") {
						return getMan($vmanname,"-",$DB,$mysqlid);	
					}
				}
			}
		}
	}
	return array("manid"=>$manid,"manname"=>$manname);
}
?>
<HTML>
<HEAD>
<TITLE>Brand Map</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script type="text/javascript" src="/mgt/js/dragresize.js"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var g_vmanid = "";
function editMap(vmanid, manid,vendorid)
{
	g_vmanid = vmanid;
	
	
	/*var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	
	
	
	var pos = $("#edit_vendor_"+vmanid).position();
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;
	
	
	
	
	document.getElementById("vmanid").innerHTML = vmanid;
//	document.getElementById("vmanname").innerHTML = vmanname;
	$.get("/mgt/vn/ajax_getvendor.phtml", {'vid':vendorid,'manid':vmanid},
   		function(data){
		$('#vmanname').html(data);
	 });
	
	document.brandmap.manid.selectedIndex = 0;
	document.brandmap.newbrand.value = "";
	
	var s2soptions = document.brandmap.manid.options.length;
	for(xx = 1; xx <  s2soptions; xx++)
	{
		if(document.brandmap.manid.options[ xx ].value == manid)
		{
			document.brandmap.manid.selectedIndex = xx;
			break;					
		}
	}		
	
	/*document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"e2window('/mgt/vn/editvendor.phtml?vendorid="+vendorid+"&inwin=1', 'Edit Vendor');\">Edit Vendor</a>";
	
	
	document.getElementById("menuOption2").innerHTML = "<a href=\"/mgt/vn/createpo.phtml?vendorid="+vendorid+"\">Create PO</a>";*/
}

function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}

function saveMAP()
{
	
  	var manid = document.brandmap.manid.options[ document.brandmap.manid.selectedIndex ].value;
  	var manname = document.brandmap.manid.options[ document.brandmap.manid.selectedIndex ].text;
  	var newbrand = document.brandmap.newbrand.value;
  	
  	if(newbrand != "")
  	{
  		document.getElementById("manid"+g_vmanid).innerHTML = manid;
  		document.getElementById("manname"+g_vmanid).innerHTML = newbrand;
 		
  	}
  	else
  	{
  		document.getElementById("manid"+g_vmanid).innerHTML = manid;
  		document.getElementById("manname"+g_vmanid).innerHTML = manname;
  	}
  	//alert(manname);
  	//alert('vmanid: '+g_vmanid+' manid:'+manid);
  	
  	$.post("/mgt/vn/ajax_brand_map.phtml", {'vmanid':g_vmanid,'manid':manid,'vendorid':<?=$vendorid;?>,'newbrand':newbrand},
   		function(data){
		hideMenu();
	 });
  	
  	
//  	var url = "/mgt/vn/ajax_brand_map.phtml?vmanid="+g_vmanid+"&manid="+manid+"&vendorid=<?=$vendorid;?>&newbrand="+newbrand;
  	
  	//window.open(url);
  	
/*	xmlHttp=GetXmlHttpObject();
	xmlHttp.onreadystatechange=mapComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	*/
}

function mapComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		hideMenu();
	}
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.dialog1 {
display:none;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		
		<div style="padding-left:5px;padding-top:10px">
		<form name="vendorlist">
			<table>
			<tr>
				<td class="g1" style="padding-top:3px;">Vendor:</td>
				<td>
					<select name="vendorid" class="formSelect" onchange="document.vendorlist.submit();">
					<option value="0">----- SELECT --------
					<?
					$query = "select distinct(vid), vendors.vendorname from vendor_product_list, vendors where 
								vendor_product_list.vid = vendors.vendorid group by vid";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($vid, $vendorname) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$vid;?>" <?if($vid == $vendorid) echo "SELECTED";?>><?=$vendorname;?>
						<?
					}
					?>
					</select>	
				</td>
			</tr>
			</table>
		</form>
		
		<hr noshade>
		
		<table id="vendortable" name="vendortable">
		<tr bgcolor="#eeeeee">
			<td class="g1">Vendor ManID</td> 
			<td class="g1">Vendor ManName</td> 
			<td class="g1">ManID</td> 
			<td class="g1">ManName</td> 
		</tr>
		
		<?
		$query = "select manid, manname from vendor_manufacturers where vid = '$vendorid' order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($vmanid, $vmanname) = mysql_fetch_array($qok))
		{
			$man = getMan($vmanname," ",$DB,$mysqlid);
			
			if ($man['manid'] == 0) {
				
				$querya = "delete from vendor_man_map where vendorid = '$vendorid' and vmanid = '$vmanid'";
				if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$querya = "insert into product_manufacturers(manname) values('".addslashes($vmanname)."')";
				if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$manid = mysql_insert_id();
				
				$querya= "insert into vendor_man_map(vendorid, vmanid, manid) values('$vendorid', '$vmanid', '$manid')";
				if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else {
				$qaa = "SELECT vendorid FROM vendor_man_map WHERE vendorid='".$vendorid."' AND vmanid='".$vmanid."'";
				if(!$qokaa = mysql_db_query($DB, $qaa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if (mysql_num_rows($qokaa)==0) {
					$querya= "insert into vendor_man_map(vendorid, vmanid, manid) values('$vendorid', '$vmanid', '".$man['manid']."')";
					if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }					
				}
			}
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td><?=$vmanid;?></td>
				<td><?=stripslashes($vmanname);?></td>
				<td><div id="manid<?=$man['manid'];?>"><?=$man['manid'];?></div></td>
				<td><div id="manname<?=$man['manname'];?>"><?=stripslashes($man['manname']);?></div></td>
			</tr>
			<?
		}
		?>
		</table>
		
		</div>
		
		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>

