<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Marketing Datafeed Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
	<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
	<?REQUIRE("e2win_menu.phtml");?>
	<div style="padding-left:5px;padding-top:10px">
	<BR><BR>
	<center>
	<table width=95%>
	<tr bgcolor="#eeeeee">
		<td height=21>Product</td>
		<td>PromotionType</td>
		<td>PromotionName</td>
		<td>PromotionDescription</td>
		<td>EffectiveDate</td>
		<td>ExpirationDate</td>
		<td>PostmarkbyDate</td>
		<td>PromotionValue</td>
		<td>PackageDescription</td>
		<td>FulfillmentURL</td>
		<td>SpecialOfferText</td>
	</tr>
	<?
	$query = "select pkproduct, promotiontype, promotionname, promotiondescription, effectivedate, expirationdate, postmarkbydate,
				promotionvalue, packagedescription, fulfillmenturl, specialoffertext from promotionsbymodel";
	if(!$qok = mysql_db_query("cmic", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($pkproduct, $promotiontype, $promotionname, $promotiondescription, $effectivedate, $expirationdate, $postmarkbydate,
				$promotionvalue, $packagedescription, $fulfillmenturl, $specialoffertext) = mysql_fetch_array($qok))
	{
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$pkproduct;?></td>
		<td><?=$promotiontype;?></td>
		<td><?=$promotionname;?></td>
		<td><?=$promotiondescription;?></td>
		<td><?=$effectivedate;?></td>
		<td><?=$expirationdate;?></td>
		<td><?=$postmarkbydate;?></td>
		<td><?=$promotionvalue;?></td>
		<td><?=$packagedescription;?></td>
		<td><?=$fulfillmenturl;?></td>
		<td><?=$specialoffertext;?></td>

	</tr>
	<?
	}
	?>
	</table>

	</center>

<!----------------------------------------------------------------------------------------->

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>