<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>
		<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/vn/uploadpos.phtml?inwin=1', 'PO Upload');">Upload POs</td>
		<td>&nbsp;&nbsp;</td>
	</tr>
	</table>
	</div>
</div>