<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($loadsearch == 1)
{
	$query = "select sdata from saved_sku_search where id = '$saveid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sdata) = mysql_fetch_array($qok);
	
	$sdata = str_replace("\n", "", $sdata);
	
	eval($sdata);
	
	$_SESSION["SAVEDSEARCH"]['cat0'] = $cat0;
	$_SESSION["SAVEDSEARCH"]['cat1'] = $cat1;
	$_SESSION["SAVEDSEARCH"]['cat2'] = $cat2;
	$_SESSION["SAVEDSEARCH"]['cat3'] = $cat3;
	$_SESSION["SAVEDSEARCH"]['cat4'] = $cat4;
	$_SESSION["SAVEDSEARCH"]['id'] = $id;
	$_SESSION["SAVEDSEARCH"]['sku'] = $sku;
	$_SESSION["SAVEDSEARCH"]['manpart'] = $manpart;
	$_SESSION["SAVEDSEARCH"]['upc'] = $upc;
	$_SESSION["SAVEDSEARCH"]['keywords'] = $keywords;
	$_SESSION["SAVEDSEARCH"]['condition'] = $condition;
	$_SESSION["SAVEDSEARCH"]['status'] = $status;
	$_SESSION["SAVEDSEARCH"]['platform'] = $platform;
	$_SESSION["SAVEDSEARCH"]['minprice'] = $minprice;
	$_SESSION["SAVEDSEARCH"]['maxprice'] = $maxprice;
	$_SESSION["SAVEDSEARCH"]['brand'] = $brand;
	$_SESSION["SAVEDSEARCH"]['visible'] = $visible;
	$_SESSION["SAVEDSEARCH"]['rmvisible'] = $rmvisible; // re-merge-visible
	$_SESSION["SAVEDSEARCH"]['inventory'] = $inventory;
	$_SESSION["SAVEDSEARCH"]['component'] = $component;
	$_SESSION["SAVEDSEARCH"]['includekits'] = $includekits;
	$_SESSION["SAVEDSEARCH"]['assignedto'] = $assignedto;
	$_SESSION["SAVEDSEARCH"]['num2return'] = $num2return;
		
	Header("Location: /mgt/sm/search.phtml");
}
else if($savename != "")
{
	$sdata = "";
	foreach ($_SESSION["SAVEDSEARCH"] as $key=>$value) 
	{
		$sdata.="$$key=\"$value\";\n";
	}
	
	$savename = addslashes($savename);
	$sdata = addslashes($sdata);
	
	$userid = $_SESSION["ID"];
	
	$query = "insert into saved_sku_search(name, sdata, public, userid) values('$savename', '$sdata', '$public', '$userid')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
}
else if($Action == "Delete")
{
	$query = "delete from saved_sku_search where id = '$sid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	Header("Location: /mgt/sm/search.phtml");
	exit;
}

if($Action == "DeleteProfile")
{
	$query = "delete from vendor_merge_profiles where id = '$deleteprofile'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from vendor_merge_profiles_extended where pfid = '$deleteprofile'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/vn/sku_search.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>SKUs Search</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/blockUI.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script>
var g_vnlevel = 0;
var search_type = 0;

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function GetPoolHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xml4Http=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xml4Http=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xml4Http=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xml4Http;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			//getBrands();
			getCapMap();
			return;
		}
		
		document.getElementById("vncat"+g_vnlevel+"d").style.display = '';
		
		for(xx = g_vnlevel+1; xx < 6; xx++)
		{
			var section = document.getElementById("vncat"+xx+"d");
			
			if(section)
			{
				section.style.display = 'none';
				
				var theSelect = document.getElementById("vncat"+g_vnlevel);
				
				if(theSelect)
				{
					for (i = theSelect.length - 1; i>=0; i--) 
					{
						theSelect.remove(i);
				    }		
				}
			}
			else
			{
			}
			
		}
		
		
		var theSelect = document.getElementById("vncat"+g_vnlevel);
		var i;

		if(theSelect)
		{
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

		//searchSKUs();
		//getBrands();
		getCapMap();
	}
}

function getCapMap()
{
	document.getElementById("catmapresults").innerHTML = "<img src='/mgt/images/loading.gif'>";
	
	var vendorid = document.skusearch.vendorid.options[ document.skusearch.vendorid.selectedIndex ].value;
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/vn/ajax_getcatmap.phtml?catid="+g_vncat+"&vendorid="+vendorid+"&sid="+Math.random();
	
	//window.open( url );
	
	xmlCHttp.onreadystatechange=gotCatMap;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);	
	
}

function gotCatMap()
{
	if(xmlCHttp.readyState==4)
	{
		//alert(xmlCHttp.responseText);
		document.getElementById("catmapresults").innerHTML = xmlCHttp.responseText;
		
		getBrands();
	}
}

var g_vncat = 0;

function getVNCategories(level)
{
	g_vnlevel = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var cat = 0;
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.skusearch.vncat0.options[ document.skusearch.vncat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.skusearch.vncat1.options[ document.skusearch.vncat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.skusearch.vncat2.options[ document.skusearch.vncat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.skusearch.vncat3.options[ document.skusearch.vncat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.skusearch.vncat4.options[ document.skusearch.vncat4.selectedIndex ].value;
  	
  	var vendorid = document.skusearch.vendorid.options[ document.skusearch.vendorid.selectedIndex ].value;
	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		//getBrands();
  		getCapMap();
  		return;
  	}
  	
  	g_vncat = cat;
  	
 	var url="/mgt/vn/ajax_getcats.phtml?catid="+cat+"&vendorid="+vendorid+"&sid="+Math.random();
 	  	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function getBrands()
{
	document.getElementById("brandstatus").innerHTML = "<img src='/mgt/images/loading.gif'>";
	
	var vendorid = document.skusearch.vendorid.options[ document.skusearch.vendorid.selectedIndex ].value;
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/vn/ajax_getbrands.phtml?catid="+g_vncat+"&vendorid="+vendorid+"&sid="+Math.random();
	
	//window.open( url );
	
	xmlCHttp.onreadystatechange=gotBrands;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);	
	
}

function gotBrands()
{
	if(xmlCHttp.readyState==4)
	{
		document.getElementById("brandstatus").innerHTML = "&nbsp;";
		//alert(xmlCHttp.responseText);
		var theSelect = document.getElementById("brand");
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
	    
	    var lines=xmlCHttp.responseText.split("\n"); 
		
	    for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")
			{
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);	
			}
		}
	    
	}
}

function appendOption(data)
{
	var theSelect = document.getElementById("vncat"+g_vnlevel);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function searchAttribs()
{
	var numcriterion = 0;
	
	search_type = 1;
	<?
	if(intval($sst_template) > 0)
	{
		$query = "select id, dkey from static_specs_columns where tid = '$sst_template' order by id";
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($scid, $dkey) = mysql_fetch_array($qok))
		{
			?>
			var scid<?=$scid;?> = document.attribsearch.scid<?=$scid;?>.options[ document.attribsearch.scid<?=$scid;?>.selectedIndex ].value;
			if(document.attribsearch.scid<?=$scid;?>.selectedIndex > 0)
				numcriterion++;
			<?
			
			$urlparts .= "&scid$scid=\"+scid$scid+\"";
		}	
		
		?>
		
		if(numcriterion <= 0)
		{
			alert('You must select one criteria from the template to use the attribute search.');
			return;
		}
		
		var manid = document.attribsearch.manid.options[ document.attribsearch.manid.selectedIndex ].value;
		var inv = document.attribsearch.inventory.options[ document.attribsearch.inventory.selectedIndex ].value;
		var url = "/mgt/sm/ajax_skusearch.phtml?st=2&inv="+inv+"&manid="+manid+"&sst_template=<?=$sst_template;?><?=$urlparts;?>";
		
		//window.open(url);
		
		xmlHttp=GetXmlHttpObject();
		
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 		
		
	  	document.getElementById("attribresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	  	
		xmlHttp.onreadystatechange=skuCountChanged;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	

		<?
	}
	?>
}

function searchSKUs()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	var id = "", sku = "", brand = "", manpart = "", component = "", includekits = "", assignedto = "", refurb  = "";
	var condition = "", upc = "", keywords = "", sku = "", instock = "", drops = "",special = "", hascmic; 
	var minprice = "", maxprice = "";
	var visible = "", inventory = "", num2return = "";
	var vendorid = 0;
	var upcmatch = 0;
	
	search_type = 0;
	
	if(document.skusearch.vncat0.selectedIndex > 0)
		cat0 = document.skusearch.vncat0.options[ document.skusearch.vncat0.selectedIndex ].value;
	
	if(document.skusearch.vncat1.selectedIndex > 0)
		cat1 = document.skusearch.vncat1.options[ document.skusearch.vncat1.selectedIndex ].value;
	
	if(document.skusearch.vncat2.selectedIndex > 0)		
		cat2 = document.skusearch.vncat2.options[ document.skusearch.vncat2.selectedIndex ].value;
	
	if(document.skusearch.vncat3.selectedIndex > 0)		
		cat3 = document.skusearch.vncat3.options[ document.skusearch.vncat3.selectedIndex ].value;
	
	if(document.skusearch.vncat4.selectedIndex > 0)		
		cat4 = document.skusearch.vncat4.options[ document.skusearch.vncat4.selectedIndex ].value;

	num2return = document.skusearch.num2return.options[ document.skusearch.num2return.selectedIndex ].value;
	brand = document.skusearch.brand.options[ document.skusearch.brand.selectedIndex ].value;
	refurb = document.skusearch.refurb.options[ document.skusearch.refurb.selectedIndex ].value;
	
	vendorid = document.skusearch.vendorid.options[ document.skusearch.vendorid.selectedIndex ].value;
	keywords = document.skusearch.keywords.value;
	sku = document.skusearch.sku.value;
	minprice = document.skusearch.minprice.value;
	maxprice = document.skusearch.maxprice.value;
	//show = document.skusearch.show.options[ document.skusearch.show.selectedIndex ].value;
	matched = document.skusearch.matched.options[ document.skusearch.matched.selectedIndex ].value;
	instock = document.skusearch.instock.options[ document.skusearch.instock.selectedIndex ].value;
	drops = document.skusearch.drops.options[ document.skusearch.drops.selectedIndex ].value;
	special = document.skusearch.special.options[ document.skusearch.special.selectedIndex ].value;
	
	var sourcing = document.skusearch.sourcing.options[ document.skusearch.sourcing.selectedIndex ].value;

	if(document.skusearch.upcmatch.checked)
		upcmatch = 1;
	else
		upcmatch = 0;
	<?
	if($DB == "butterfly")
	{
		?>
		hascmic = document.skusearch.hascmic.options[ document.skusearch.hascmic.selectedIndex ].value;
		<?
	}
	?>
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	
  	document.getElementById("skuresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
 	var url="ajax_skusearch.phtml";
 	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
	url += "&refurb="+refurb;
	url += "&upcmatch="+upcmatch;
 	//url += "&show="+show;
 	url += "&hascmic="+hascmic;
 	url += "&drops="+drops;
 	url += "&special="+special;
 	url += "&matched="+matched;
 	url += "&instock="+instock;
 	url += "&vendorid="+vendorid;
 	url += "&keywords="+keywords;
 	url += "&sku="+sku;
 	url += "&vendorid="+vendorid;
 	url += "&minprice="+minprice;
 	url += "&maxprice="+maxprice;
 	url += "&sourcing="+sourcing;
 	url += "&num2return="+num2return;
 	
 	//window.open(url);
 	//window.open(url, 'Availability', 'scrollbars=yes, width=400, height=400');
 	
 	//document.getElementById("leftpane").style.display = "none";
 	
	xmlHttp.onreadystatechange=skuCountChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function hidePane()
{
	document.getElementById("leftpane").style.display = "none";
	document.getElementById("leftpanehidden").style.display = "block";	
}

function showPane()
{
	document.getElementById("leftpane").style.display = "block";
/*	document.getElementById("leftpane").style.left=20;
	document.getElementById("leftpane").style.position="absolute";*/
	document.getElementById("leftpanehidden").style.display = "none";		
}

function skuCountChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		//alert(xmlHttp.responseText);
		
		var lines = xmlHttp.responseText.split("\n");

		if(search_type == 0)
			document.getElementById("skuresults").innerHTML = "("+lines[0]+" results)";
		else
			document.getElementById("attribresults").innerHTML = "("+lines[0]+" results)";
		
		for(xx = 1; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0)
						newCell.innerHTML = "<input type='checkbox' name='ids[]' value='"+rows[0]+"'\">";
					else if(pp == 1)
						newCell.innerHTML = "<a href=\"javascript:showMenu('"+rows[0]+"', '"+rows[0]+"');\">"+rows[pp]+"</a>";
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}
	}			
}


function showMenu(productID, manpart)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;
	
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/vn/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"');\">View SKU</a>"
}


function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}


function clearForm()
{
	document.getElementById("cat1d").style.display = 'none';
	document.getElementById("cat2d").style.display = 'none';
	document.getElementById("cat3d").style.display = 'none';
	document.getElementById("cat4d").style.display = 'none';

	document.skusearch.num2return.selectedIndex = 0;
	document.skusearch.brand.selectedIndex = '';
	
	document.skusearch.vendorid.selectedIndex = 0;
	document.skusearch.sourcing.selectedIndex = 0;
	
	document.skusearch.keywords.value = '';
	document.skusearch.sku.value = '';
	document.skusearch.minprice.value = '';
	document.skusearch.maxprice.value = '';	
	
	document.skusearch.vncat0.selectedIndex = 0;
	g_vnlevel = 0;
	
	var theTable = document.all.results;
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
			
}

function getPageDim()
{
 	if(window.innerHeight) 
 		return [window.innerWidth-10,window.innerHeight-10,window.pageXOffset,window.pageYOffset];
 	else if(document.documentElement.clientHeight) 
 		return [document.documentElement.clientWidth-10,document.documentElement.clientHeight-10,document.documentElement.scrollLeft,document.documentElement.scrollTop];
 
	return [document.body.clientWidth,document.body.clientHeight,document.body.scrollLeft,document.body.scrollTop];
}


function saveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	var size = getBrowserSize();
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	var winDimen = getPageDim();
	
	cvr.style.width = winDimen[0]+"px";
	cvr.style.height = winDimen[1]+"px";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 300;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			searchSKUs();
 			return false; 
 		}
	}  
} 
<?
/**************************************************************************************************************************************/
/****** POOL UPDATE CODE **************************************************************************************************************/
/**************************************************************************************************************************************/
$query = "select id from update_pool order by id desc limit 0, 1";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) <= 0)
{
?>
var pool_id = 0;
<?
}
else 
{
	list($pool_id) = mysql_fetch_array($qok);
?>
var pool_id = <?=intval($pool_id);?>;
<?
}
?>
var poolStep = 0;
var poolUpdateID = 0;
var poolUpdateColor = 0;

function checkPool()
{
	document.getElementById("poolresults").innerHTML = "XXX";
	
	xml4Http=GetPoolHttpObject();
	
	var url="/mgt/e2win/ajax_checkpool.phtml?type=1&poolid="+pool_id+"&sid="+Math.random();
	xml4Http.onreadystatechange=poolResult;
	xml4Http.open("GET",url,true);
	xml4Http.send(null);	
		
	return false;
}

function poolResult() 
{ 
	document.getElementById("poolresults").innerHTML = "&nbsp;";
	if(xml4Http.readyState==4)
	{ 
		if(poolStep == 0)
		{
			if(xml4Http.responseText != "")
			{
				var pooldata = xml4Http.responseText.split("\t");
				
				//document.getElementById("skuresults").innerHTML += "RAW_POOLDATA: '"+pooldata+"'<BR>";
				pool_id = pooldata[0]; //update the poolid so we don't get it again
				poolUpdateID = pooldata[1];
				
				var changeRow = document.getElementById(poolUpdateID);
				
				if(changeRow)
				{
					poolUpdateColor = changeRow.style.backgroundColor;
					
					changeRow.style.backgroundColor = "#FFD7D7";
					
		 			var url="ajax_skusearch.phtml?id="+poolUpdateID+"&visible=-1&inventory=-1&nosave=1&sid="+Math.random();
		 
		 			//document.getElementById("skuresults").innerHTML += "URL: '"+url+"'<BR>";
		 			
		 			document.getElementById("poolresults").innerHTML = "XXX";
		 			
		 			poolStep = 1;
		 			xml4Http=GetPoolHttpObject();
		 			xml4Http.onreadystatechange=poolResult;
					xml4Http.open("GET",url,true);
					xml4Http.send(null);				
				}
				else
				{
					setTimeout('checkPool()', 2000);
				}
			}
			else
			{// no response
				setTimeout('checkPool()', 2000);
			}
		}
		else
		{
			poolStep = 0;
			var changeRow = document.getElementById(poolUpdateID);
			
			var rows = xml4Http.responseText.split("\n");
			var cols = rows[1].split("\t");
			
			//document.getElementById("skuresults").innerHTML += "RESPONSE: '"+xml4Http.responseText+"'<BR>";
			
			//document.getElementById("skuresults").innerHTML += "Cols.Length = "+cols.length+"<BR>";
					
			for(pp = 0; pp < cols.length; pp++)
			{
				//document.getElementById("skuresults").innerHTML += "Updating: "+pp+" with: "+cols[pp]+"<BR>";


				if(pp == 0)
				{
					
				}
				else if(pp == 1)
					changeRow.childNodes[pp].innerHTML ="<a href=\"javascript:showMenu('"+cols[pp]+"', '"+cols[3]+"');\">"+cols[pp]+"</a>";
				else
					changeRow.childNodes[pp].innerHTML = cols[pp];
			}	
			
			setTimeout("unColor("+poolUpdateID+")", 2000);
			setTimeout('checkPool()', 2000);
		}	
	}
}

function unColor(rowID)
{
	var changeRow = document.getElementById(poolUpdateID);
	
	if(poolUpdateColor == "")
		changeRow.style.backgroundColor = "#ffffff";
	else
		changeRow.style.backgroundColor = poolUpdateColor;
}

<?
/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
?>

function checkUncheckAll(myOptions, myForm) 
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function StartUp()
{

}

var paX = 0;
var paY = 0;
var dX = 0;

function addItem2Order(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2order.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=orderResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}

function addItem2PO(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2po.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}

function poResult()
{
	if(xml7Http.readyState==4)
	{ 
		document.getElementById("podisplay").innerHTML = xml7Http.responseText;	
		
		document.getElementById("podisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorPODisplay()", 2000);
		
		document.getElementById("poimage").style.display = "";		
	}
}

function unColorPODisplay()
{
	document.getElementById("podisplay").style.backgroundColor = "#ffffff";
}

function orderResult()
{
	if(xml7Http.readyState==4)
	{ 
		document.getElementById("orderdisplay").innerHTML = xml7Http.responseText;	
		
		document.getElementById("orderdisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorOrderDisplay()", 2000);
	}
}

function unColorOrderDisplay()
{
	document.getElementById("orderdisplay").style.backgroundColor = "#ffffff";
}

function animateCart()
{
	if(paX < dX)
		paX = paX + 20;
		
	paY = paY - 20;
	
	var productimage = document.getElementById("productimage");
	productimage.style.left = paX;	
	productimage.style.top = paY;

	if(paY > -75)
	{
		setTimeout("animateCart()", 0);
	}
	else
	{
		productimage.style.display = "none";
	}
}

function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}	

function deleteSearch(sid, sname)
{
	if(confirm("Are you sure you wish the delete the saved search '"+sname+"'?"))
	{
		document.location = "/mgt/sm/search.phtml?sid="+sid+"&Action=Delete";
	}
}

function stockDetail(pid, type)
{
	e2window("/mgt/sm/stockdetail.phtml?pid="+pid+"&type="+type+"&inwin=1", "Stock Detail "+pid)
}

var g_vendorid = 0;

function updateVendor()
{
/*	
	var vendorid = document.skusearch.vendorid.options[ document.skusearch.vendorid.selectedIndex ].value;
	
	g_vendorid = vendorid;*/
	
	getVNCategories(0);
}

var g_changeRow = "";
var g_onnum = 0;
var skulist = new Array();
function mergeProducts()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	var winDimen = getPageDim();
	
	cvr.style.width = winDimen[0]+"px";
	cvr.style.height = winDimen[1]+"px";
/*	$.blockUI({ 
            message: $('#changestatus'), 
    });
*/	var dlg = document.getElementById("changestatus");
	
	dlg.style.top = 100;
	dlg.style.left = 100;

	//////////////////////////////////////////////////////////////	
	var myForm = document.pereport;
	
	var i = 0;
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				//alert(myForm[z].value);
				skulist[i] = myForm[z].value;
				//alert( myForm[z].value );
				i++;
			}
		}
	}
	
	dlg.innerHTML =  "<CENTER><BR>Please Wait...<BR><BR><img src='/mgt/images/loading.gif'></CENTER>";
	
	ajaxMerge();
}

function ajaxMerge()
{
	if(skulist.length < g_onnum)
	{
		skulist = new Array();
		g_onnum = 0;
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		var dlg = document.getElementById("changestatus");
		dlg.style.display = "none";
		//$.unblockUI();
		return;	
	}
	
	xmlHttp=GetXmlHttpObject();
	
	if(xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	g_changeRow = document.getElementById(skulist[g_onnum]);
  	
  	if(g_changeRow)
  	{
  		g_changeRow.cells[2].innerHTML = "<img src='/mgt/images/loading.gif'>";
  	}
  	
  	document.getElementById("changestatus").innerHTML = "Merging SKU: "+skulist[g_onnum];

  	var mapman = 0;
  	if(document.pe2options.mapman.checked == true)
  	{
  		mapman = 1;
  	}
  	var createsku = 0;
  	if(document.pe2options.createsku.checked == true)
  	{
  		createsku = 1;
  	}
	var visible = 0;
	if(document.pe2options.visible.checked == true)
	{
		visible = 1;
	}
	var rmvisible = 0;
	if(document.pe2options.rmvisible.checked == true)
	{
		rmvisible = 1;
	}
	var ignorediff = 0;
	if(document.pe2options.ignorediff.checked == true)
	{
		ignorediff = 1;
	}
	var swap = 0;
	if(document.pe2options.swap.checked == true)
	{
		swap = 1;
	}
	var preface = 0;
	if(document.pe2options.preface.checked == true)
	{
		preface = 1;
	}

	var altpreface = 0;
	if(document.pe2options.altpreface.checked == true)
	{
		altpreface = 1;
	}
 	
	var etilizetitle = 0;
	if(document.pe2options.etilizetitle.checked == true)
	{
		etilizetitle = 1;
	}
 	
	var etilizesdescr = 0;
	if(document.pe2options.etilizesdescr.checked == true)
	{
		etilizesdescr = 1;
	}
 	
	
	var sdashtml = 0;
	if(document.pe2options.sdashtml.checked == true)
	{
		sdashtml = 1;
	}
 	
	var ow_title = 0;
	if(document.pe2options.ow_title.checked == true)
		ow_title = 1;
 	
	var ow_image = 0;
	if(document.pe2options.ow_image.checked == true)
		ow_image = 1;
 	
	var ow_sdescr = 0;
	if(document.pe2options.ow_sdescr.checked == true)
		ow_sdescr = 1;
 	
	var ow_specs = 0;
	if(document.pe2options.ow_specs.checked == true)
		ow_specs = 1;	
		
	var ow_price = 0;
	if(document.pe2options.ow_price.checked == true)
		ow_price = 1;	
		
		
	var ow_cat = 0;
	if(document.pe2options.ow_cat.checked == true)
		ow_cat = 1;	
		
	var ignore_blank_upc = 0;
	if(document.pe2options.ignore_blank_upc.checked == true)
		ignore_blank_upc = 1;	
		
	var ignore_blank_weight = 0;
	if(document.pe2options.ignore_blank_weight.checked == true)
		ignore_blank_weight = 1;	
		
	var ignore_blank_weight = 0;
	if(document.pe2options.ignore_blank_weight.checked == true)
		ignore_blank_weight = 1;	
		
	//////////////////////////////////////////////////////////////////////////////////////////////////////
	var no_overwrite_weight = 0;
	if(document.pe2options.no_overwrite_weight.checked == true)
		no_overwrite_weight = 1;
	else
		no_overwrite_weight = 0;
	//////////////////////////////////////////////////////////////////////////////////////////////////////
	var upcmatch = 0;
	if(document.skusearch.upcmatch.checked)
		upcmatch = 1;
	else
		upcmatch = 0;	
	//////////////////////////////////////////////////////////////////////////////////////////////////////
	var useetilize = 0;
	if(document.pe2options.useetilize.checked == true){useetilize = 1;}
	
	var usecmic = 0;
	var usecmicmap = 0;
	
	if(document.getElementById("usecmic"))
	{
		if(document.pe2options.usecmic.checked == true){usecmic = 1;}
	}

	if(document.getElementById("usecmicmap"))
	{
		if(document.pe2options.usecmicmap.checked == true){usecmicmap = 1;}
	}

  	var markup = document.pe2options.markup.value;
  	var addon = document.pe2options.addon.value;
  	var minprofit = document.pe2options.minprofit.value;
  	
  	var thislevel = g_level - 1;
  	var varname = "cat"+thislevel;
	
  	var cat = 0;
	
  	var wg1 = wl1 = p1 = wg2 = wl2 = p2 = wg3 = wl3 = p3 = 0;
  	var wg4 = wl4 = p4 = wg5 = wl5 = p5 = wg6 = wl6 = p6 = wg7 = wl7 = p7 = 0;
  	
  	wg1 = document.pe2options.wg1.value;
  	wl1 = document.pe2options.wl1.value;
  	p1  = document.pe2options.p1.value;
  	
  	wg2 = document.pe2options.wg2.value;
  	wl2 = document.pe2options.wl2.value;
  	p2  = document.pe2options.p2.value;
  	
  	wg3 = document.pe2options.wg3.value;
  	wl3 = document.pe2options.wl3.value;
  	p3  = document.pe2options.p3.value;
  	
  	wg4 = document.pe2options.wg4.value;
  	wl4 = document.pe2options.wl4.value;
  	p4 = document.pe2options.p4.value;

  	wg5 = document.pe2options.wg5.value;
  	wl5 = document.pe2options.wl5.value;
  	p5  = document.pe2options.p5.value;

  	wg6 = document.pe2options.wg6.value;
  	wl6 = document.pe2options.wl6.value;
  	p6  = document.pe2options.p6.value;

  	wg7 = document.pe2options.wg7.value;
  	wl7 = document.pe2options.wl7.value;
  	p7  = document.pe2options.p7.value;
  	
  	var add_per_pound = "";var add_per_dollar = "";
  	add_per_pound = document.pe2options.add_per_pound.value;
  	add_per_dollar = document.pe2options.add_per_dollar.value;
  	
  	if(thislevel == 0) 	cat = document.pe2options.cat0.options[ document.pe2options.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.pe2options.cat1.options[ document.pe2options.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.pe2options.cat2.options[ document.pe2options.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.pe2options.cat3.options[ document.pe2options.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.pe2options.cat4.options[ document.pe2options.cat4.selectedIndex ].value;
  	
  	var shipsin = document.pe2options.shipsin.options[ document.pe2options.shipsin.selectedIndex ].value;
  	
  	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  	var assignedto = document.pe2options.assignedto.options[ document.pe2options.assignedto.selectedIndex ].value;
	
  	var amazon_realtime = 0;
	if(document.pe2options.amazon_realtime.checked == true)
		amazon_realtime = 1;
  	
	var rtdsinv = 0;
	if(document.pe2options.rtdsinv.checked == true)
		rtdsinv = 1;
		
	var am_qty = document.pe2options.am_qty.value;
	var am_std_ship = document.pe2options.am_std_ship.value;
	var am_exp_ship = document.pe2options.am_exp_ship.value;
	var markuprules = document.pe2options.markuprules.value;
	
	var profileid = document.pe2options.profileid.value;
	var profilename = document.pe2options.profilename.value;
	
	var vendorid = document.skusearch.vendorid.options[ document.skusearch.vendorid.selectedIndex ].value;
	//alert(profilename);
	
	var params = "";
	
  	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  	
	url = "/mgt/vn/ajax_merge.phtml";
	
	params += "yancey=1";
	params += "&vendorid="+vendorid;
	params += "&vpid="+skulist[g_onnum];
	params += "&mapman="+mapman;
	params += "&createsku="+createsku;
	params += "&upcmatch="+upcmatch;
	params += "&markup="+markup;
	params += "&visible="+visible;
	params += "&rmvisible="+rmvisible;
	params += "&ignorediff="+ignorediff;
	params += "&catid="+cat;
	params += "&swap="+swap;
	params += "&preface="+preface;
	params += "&altpreface="+altpreface;
	params += "&sdashtml="+sdashtml;
	params += "&useetilize="+useetilize;
	params += "&usecmic="+usecmic;
	params += "&usecmicmap="+usecmicmap;
	params += "&addon="+addon;
	params += "&minprofit="+minprofit;
	params += "&shipsin="+shipsin;
	params += "&etilizetitle="+etilizetitle;
	params += "&etilizesdescr="+etilizesdescr;
	params += "&profileid="+profileid;
	params += "&profilename="+profilename;
	params += "&wg1="+wg1;
	params += "&wl1="+wl1;
	params += "&p1="+p1;
	params += "&wg2="+wg2;
	params += "&wl2="+wl2;
	params += "&p2="+p2;
	params += "&wg3="+wg3;
	params += "&wl3="+wl3;
	params += "&p3="+p3;
	params += "&wg4="+wg4;
	params += "&wl4="+wl4;
	params += "&p4="+p4;
	params += "&wg5="+wg5;
	params += "&wl5="+wl5;
	params += "&p5="+p5;
	params += "&wg6="+wg6;
	params += "&wl6="+wl6;
	params += "&p6="+p6;
	params += "&wg7="+wg7;
	params += "&wl7="+wl7;
	params += "&p7="+p7;
	params += "&add_per_pound="+add_per_pound;
	params += "&add_per_dollar="+add_per_dollar;
	params += "&ow_title="+ow_title;
	params += "&ow_image="+ow_image;
	params += "&ow_sdescr="+ow_sdescr;
	params += "&ow_specs="+ow_specs;
	params += "&ow_price="+ow_price;
	params += "&ow_cat="+ow_cat;
	params += "&ignore_blank_upc="+ignore_blank_upc;
	params += "&ignore_blank_weight="+ignore_blank_weight;
	params += "&no_overwrite_weight="+no_overwrite_weight;
	params += "&assignedto="+assignedto;
	params += "&rtdsinv="+rtdsinv;
	params += "&amazon_realtime="+amazon_realtime;
	params += "&am_qty="+am_qty;
	params += "&am_std_ship="+am_std_ship;
	params += "&am_exp_ship="+am_exp_ship;
	params += "&markuprules="+markuprules;
	<?
	$query = "select id, name, type, note, failover from custom_fields where active = 1 order by type, name";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xid, $name, $type, $note, $failover) = mysql_fetch_array($qok))
	{
		if($type == 0)
		{// checkbox
			//echo "<input type=\"checkbox\" name=\"CFID_$xid\" value=\"1\" $checked>";
			?>
			if(document.pe2options.CFID_<?=$xid;?>.checked == true)
				params += "&CFID_<?=$xid;?>=1";
			else
				params += "&CFID_<?=$xid;?>=0";
			<?
		}
		else if($type == 1) 
		{
			//echo "<input type=\"text\" class=\"formbox\" name=\"CFID_$xid\" value=\"$text_short\"> (default: $failover)";
			?>
		  	params += "&CFID_<?=$xid;?>="+document.pe2options.CFID_<?=$xid;?>.value;
			<?
		}
									
	}	
	?>
  	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	var myForm = document.pe2options;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox')
		{
			if(myForm[z].checked)
			{
				var dfdata = myForm[z].value.split("-");
				
				if(dfdata[0] == "df")
				{
					params += "&df[]="+dfdata[1];
				}
			}
		}
	}  	
	
  	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  	var opt = document.pe2options.listid.options;
  	
    var selected = new Array();
    var index = 0;

    for (var intLoop=0; intLoop < opt.length; intLoop++) 
    {
         if (opt[intLoop].selected) 
         {
            params += "&listid[]=" + opt[intLoop].value;
         }
	}

  	
	// and now all the sites
	<?
	$query = "select divid, sitename from site_list order by divid";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($site_divid, $site_name) = mysql_fetch_array($qok))
	{
		?>
		if(document.pe2options.sitelist_<?=$site_divid;?>.checked == true)
		{
			params += "&displayon[]=<?=$site_divid;?>";	
		}
		<?
	}
	?>
	
	g_onnum++;
  		
	//xmlHttp.onreadystatechange=mergeComplete;
	//xmlHttp.open("GET",url,true);
	//xmlHttp.send(null);		
	
/*	var myURL = url + "?" + params;
	window.open(myURL);
	return;
*/	
	xmlHttp.open("POST", url, true);
	
	//Send the proper header information along with the request
	xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlHttp.setRequestHeader("Content-length", params.length);
	xmlHttp.setRequestHeader("Connection", "close");
	
	xmlHttp.onreadystatechange = mergeComplete;
	
	xmlHttp.send(params);		
}

function mergeComplete()
{
	if(xmlHttp.readyState==4)
	{ 
	  	if(g_changeRow)
  		{
  			g_changeRow.cells[2].innerHTML = xmlHttp.responseText;
	  	}
		
		ajaxMerge();
	}
}

var g_level = 0;
function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.pe2options.cat0.options[ document.pe2options.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.pe2options.cat1.options[ document.pe2options.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.pe2options.cat2.options[ document.pe2options.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.pe2options.cat3.options[ document.pe2options.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.pe2options.cat4.options[ document.pe2options.cat4.selectedIndex ].value;
  	
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=gotCategories;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotCategories() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")addOption(data);
		}
	}
}

function addOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:auto;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=70);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>



<body onload="StartUp()">
<div id="savecover" class="cover"></div>
<div id="changestatus" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Vendor SKU Search</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td align=center width=5%>
			<!--------------------------------------------------------------->		
<div id="leftpane" name="leftpane" style="display:block">			
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("form_sku_search.phtml");?>
					</div>
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>
			
			<BR><BR>
			
			<table>
			<tr>
				<td><a href="javascript:void(0);" onclick="hidePane()">Hide Pane</td>
			</tr>
			</table>	
</div>		
<div id="leftpanehidden" name="leftpanehidden" style="display:none;text-align=left;">
	<a href="javascript:void(0);" onclick="showPane()"><img src="/mgt/images/searchpane.gif" width=16 height=120 border=0></a>
</div>
			</td>
			
			<td width=95%>
			<!--------------------------------------------------------------->	
				<form name="pereport" method="post" action="">
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th height=21 class="unsortable"></th>
					<th class="sortable_numeric" height=21>ID</th>
					<th>Mapped</th>
					<th>Man</th>
					<th>ManPart</th>
					<th>Title</th>
					<th>UPC</th>
					<th>Vendor SKU</th>
					<th class="sortable_numeric">Cost</th>
					<th class="sortable_numeric">Price</th>
					<th class="sortable_numeric">MAP</th>
					<th class="sortable_numeric">InStock</th>
					<th class="sortable_numeric">Condition</th>
					<th>V</th>
					<th>DS</th>
					<th>Special</th>
					</tr>	
				</table>
				</form>
				
<form name="pe2options" method="post" action="" style="margin:0px">
<input type="hidden" name="idlist" value="">				
<?$tabid = 0;?>
<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
	<ul class="TabbedPanelsTabGroup">
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>General</strong></li>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Datafeeds/Lists</strong></li>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Custom Fields</strong></li>
	</ul>
	<div class="TabbedPanelsContentGroup">
			<!---------------------------------------------------------------------------------------------->
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("tabs_general.phtml");?>
			</div>			
			
			<div class="TabbedPanelsContent2"> 
				<?INCLUDE("tabs_datafeed.phtml");?>
			</div>
			
			<div class="TabbedPanelsContent2"> 
				<?INCLUDE("tabs_custom_fields.phtml");?>
			</div>
			
				
      	</div>
      	
</div>
</form>
<script type="text/javascript">
<!--
var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
//-->
</script>	

				
			<!--------------------------------------------------------------->
			</td>
		</tr>
		</table>


<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="saveform" class="dialog">
<form name="mysaveform">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Save Search as:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="checkbox" name="public" value="1">Public (available to everyone)</td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>


<div id="savereport" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="productimage" class="item">&nbsp;</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>