				
				<?
				if($useprofile != "")
				{
					$query = "select data from vendor_merge_profiles_extended where pfid = '$useprofile'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($phpcode) = mysql_fetch_array($qok);
					
					eval($phpcode);
				}
				?>
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe2options, document.pereport);">All</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<td >
						<B>Merge SKUs into the current product database.</B>
						<BR>
						<input type="checkbox" name="mapman" <?if($mapman == 1) echo "checked";?>>Only merge products with MAPPED manufacturers<BR>
						<input type="checkbox" name="createsku" <?if($createsku == 1) echo "checked";?>>Create SKUs that do not match the current product database<BR>
						<input type="checkbox" name="visible" <?if($visible == 1) echo "checked";?>>Mark PIDs visible (display on the web)<BR>
						<input type="checkbox" name="swap" <?if($swap == 1) echo "checked";?>>Use Features for Sales Descr (if sales descr is blank)<BR>
						<input type="checkbox" name="preface" <?if($preface == 1) echo "checked";?>>Preface Title with Brand (BRAND TITLE)<BR>
						<input type="checkbox" name="altpreface" <?if($altpreface == 1) echo "checked";?>>Preface Title with Brand and SKU (BRAND SKU TITLE)<BR>
						<input type="checkbox" name="sdashtml"  <?if($sdashtml == 1) echo "checked";?>>Use Sales Description as HTML Specs<BR>
						<input type="checkbox" name="useetilize"  <?if($useetilize == 1) echo "checked";?>>Use Datapak Data<BR>
						&nbsp;&nbsp;<input type="checkbox" name="etilizetitle"  <?if($etilizetitle == 1) echo "checked";?>>Use Datapak Title<BR>
						&nbsp;&nbsp;<input type="checkbox" name="etilizesdescr"  <?if($etilizesdescr == 1) echo "checked";?>>Use Datapak Sales Description<BR>
						<input type="checkbox" name="rmvisible"  <?if($rmvisible == 1) echo "checked";?>>Ignore Visible, Feeds and Custom Fields on Re-Merge<BR>
						<input type="checkbox" name="ignorediff"  <?if($ignorediff == 1) echo "checked";?>>Ignore Vendor Differential<BR>
						<?
						if($DB == "butterfly")
						{
							?>
							<input type="checkbox" name="usecmic" id="usecmic" <?if($usecmic == 1) echo "checked";?>>Use CMIC Data (ALL)<BR>
							&nbsp;&nbsp;<input type="checkbox" name="usecmicmap" id="usecmicmap" <?if($usecmicmap == 1) echo "checked";?>>Use CMIC MAP Data<BR>
							<?
						}
						?>
						
						<HR NOSHADE>
						<table>
						<tr>
							<td colspan=2>
								<input type="checkbox" name="amazon_realtime" <?if($amazon_realtime == 1) echo "checked";?>>Realtime Stock for Amazon Inventory
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<input type="checkbox" name="rtdsinv" <?if($amazon_realtime == 1) echo "checked";?>>Realtime Dropshipper Inventory (this vendor)
							</td>
						</tr>
						<tr>							
							<td>
								Amazon Qty:
							</td>
							<td>
								<input type="text" name="am_qty" value="<?=$am_qty;?>" class="formBox" style="width:75px">
							</td>
						</tr>
						<tr>							
							<td>
								Std. Shipping:
							</td>
							<td>
								<input type="text" name="am_std_ship" value="<?=$am_std_ship;?>" class="formBox" style="width:75px">
							</td>
						</tr>
						<tr>							
							<td>
								Exp. Shipping:
							</td>
							<td>
								<input type="text" name="am_exp_ship" value="<?=$am_exp_ship;?>" class="formBox" style="width:75px">
							</td>
						</tr>
						
						</table>
						<HR NOSHADE>
						<!--------------------------------------------------------------------------------------------------------------------------------->
						<table>
						<tr>
							<td>Assigned To:</td>
							<td>
								<select name="assignedto" class="formSelect">
								<option value="0">Unassigned</option>
								<?
								$query = "select id, displayname from users order by displayname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
								{
								?>
									<option value="<?=$x_userid;?>" <?if($assignedto == $x_userid) echo "SELECTED";?>><?=$x_displayname;?></option>
								<?	
								}
								?>
								</select>
							</td>	
						</tr>
						<tr>
							<td>Ships In:</td>
							<td>
								<select name="shipsin" class="formSelect">
									<option value="">--- SELECT ---</option>
									<option value="1" <?if($shipsin == "1") echo "SELECTED";?>>Ships in 1-2 Business Days</option>
									<option value="2" <?if($shipsin == "2") echo "SELECTED";?>>Ships in 2-3 Business Days</option>
									<option value="3" <?if($shipsin == "3") echo "SELECTED";?>>Ships in 3-5 Business Days</option>
									<option value="5" <?if($shipsin == "5") echo "SELECTED";?>>Ships in 5-7 Business Days</option>
									<option value="7" <?if($shipsin == "6") echo "SELECTED";?>>Ships in 7-14 Business Days</option>
		
									<option value="10" <?if($shipsin == "10") echo "SELECTED";?>>Usually Ships in 1-2 Weeks</option>
									<option value="11" <?if($shipsin == "11") echo "SELECTED";?>>Usually Ships in 2-3 Weeks</option>
									<option value="12" <?if($shipsin == "12") echo "SELECTED";?>>Usually Ships in 3-4 Weeks</option>
									<option value="13" <?if($shipsin == "13") echo "SELECTED";?>>Usually Ships in 4-6 Weeks</option>
								</select>							
							</td>
						</tr>
						<tr>
							<td>Category:</td>
							<td>
								<select name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0 order by catname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?> [<?=$catid;?>]
									<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat0) > 0)
								{
									?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat0'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat1) > 0 && intval($cat0) > 0)
								{
									?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat1'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat2) > 0)
								{
									?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat2'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							</td>
						</tr>				
						
						</table>					
					<!--------------------------------------------------------------------------------------------------------------------------------->
					</td>
					
					<td>
						<B>Content Options</B><BR>
						&nbsp;&nbsp;<input type="checkbox" name="ow_title" <?if($ow_title == 1) echo "checked";?>>Overwrite Title<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ow_image" <?if($ow_image == 1) echo "checked";?>>Overwrite Image<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ow_sdescr" <?if($ow_sdescr == 1) echo "checked";?>>Overwrite Sales Descr<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ow_specs" <?if($ow_specs == 1) echo "checked";?>>Overwrite Specs<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ow_price" <?if($ow_price == 1) echo "checked";?>>Overwrite Price<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ow_cat" <?if($ow_cat == 1) echo "checked";?>>Overwrite Category<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ignore_blank_upc" <?if($ignore_blank_upc == 1) echo "checked";?>>Ignore blank UPC<BR>
						&nbsp;&nbsp;<input type="checkbox" name="ignore_blank_weight" <?if($ignore_blank_weight == 1) echo "checked";?>>Ignore blank Weight<BR>
						&nbsp;&nbsp;<input type="checkbox" name="no_overwrite_weight" <?if($no_overwrite_weight == 1) echo "checked";?>>DO NOT overwrite weight<BR>
						
						<div id="fixedmarkup" style="display:block;">
						<table>
						<tr>
							<td>Markup: <input type="text" name="markup" style="width:35px;text-align:right;" value="<?=$markup;?>" class="formBox">% </td>
							<td>Add On: $<input type="text" name="addon" style="width:35px;text-align:right;" value="<?=$addon;?>" class="formBox"></td>
							<td>Min Profit: $<input type="text" name="minprofit" style="width:35px;text-align:right;" value="<?=$minprofit;?>" class="formBox"></td>
						</tr>
						</table>
						</div>
						<div id="rulemarkup">
						&nbsp;
						</div>
						
						<a href="javascript:void(0);" onclick="pricerangeMarkup();">Add Price Range Based Markup</a>
						
						<div id="pricerange" class="dialog">
						<table>
						<tr>
							<td>
								<table>
								<tr>
									<td>Price Greater than $<input type="text" name="prmin" style="width:35px;text-align:right;" value="0.00" class="formBox"> 
											and less than $<input type="text" name="prmax" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
								</tr>	
								<tr>	
									<td>
										<table>
										<tr>
											<td>Markup: <input type="text" name="prmarkup" style="width:35px;text-align:right;" value="0.00" class="formBox">% </td>
											<td>Add On: $<input type="text" name="praddon" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
											<td>Min Profit: $<input type="text" name="prminprofit" style="width:35px;text-align:right;" value="0.00" class="formBox"></td>
										</tr>
										</table>								
									</td>
								</tr>	
								<tr>
									<td align=center>
										<input type="button" name="Action" value="Save Rule" onclick="saveRule()" class="buttonItem">
									</td>
								</tr>				
								</table>
							</td>
						</tr>
						</table>
						</center>
						</div>
					
						<input type="hidden" name="markuprules" value="">
						<BR>
						<HR NOSHADE>
						Weight > <input type="text" name="wg1" style="width:35px;text-align:right;" value="<?=$wg1;?>" class="formBox">lbs <
								 <input type="text" name="wl1" style="width:35px;text-align:right;" value="<?=$wl1;?>" class="formBox">lbs 
								 add: <input type="text" name="p1" style="width:35px;text-align:right;" value="<?=$p1;?>" class="formBox">
						<BR>
						Weight > <input type="text" name="wg2" style="width:35px;text-align:right;" value="<?=$wg2;?>" class="formBox">lbs <
								 <input type="text" name="wl2" style="width:35px;text-align:right;" value="<?=$wl2;?>" class="formBox">lbs 
								 add: <input type="text" name="p2" style="width:35px;text-align:right;" value="<?=$p2;?>" class="formBox">
						<BR>
						Weight > <input type="text" name="wg3" style="width:35px;text-align:right;" value="<?=$wg3;?>" class="formBox">lbs <
								 <input type="text" name="wl3" style="width:35px;text-align:right;" value="<?=$wl3;?>" class="formBox">lbs 
								 add: <input type="text" name="p3" style="width:35px;text-align:right;" value="<?=$p3;?>" class="formBox">
						<BR>
						Weight > <input type="text" name="wg4" style="width:35px;text-align:right;" value="<?=$wg4;?>" class="formBox">lbs <
								 <input type="text" name="wl4" style="width:35px;text-align:right;" value="<?=$wl4;?>" class="formBox">lbs 
								 add: <input type="text" name="p4" style="width:35px;text-align:right;" value="<?=$p4;?>" class="formBox">
						<BR>
						Weight > <input type="text" name="wg5" style="width:35px;text-align:right;" value="<?=$wg5;?>" class="formBox">lbs <
								 <input type="text" name="wl5" style="width:35px;text-align:right;" value="<?=$wl5;?>" class="formBox">lbs 
								 add: <input type="text" name="p5" style="width:35px;text-align:right;" value="<?=$p5;?>" class="formBox">
						<BR>
						Weight > <input type="text" name="wg6" style="width:35px;text-align:right;" value="<?=$wg6;?>" class="formBox">lbs <
								 <input type="text" name="wl6" style="width:35px;text-align:right;" value="<?=$wl6;?>" class="formBox">lbs 
								 add: <input type="text" name="p6" style="width:35px;text-align:right;" value="<?=$p6;?>" class="formBox">
						<BR>
						Weight > <input type="text" name="wg7" style="width:35px;text-align:right;" value="<?=$wg7;?>" class="formBox">lbs <
								 <input type="text" name="wl7" style="width:35px;text-align:right;" value="<?=$wl7;?>" class="formBox">lbs 
								 add: <input type="text" name="p7" style="width:35px;text-align:right;" value="<?=$p7;?>" class="formBox">
						<BR>
						<font size=1>enter a $ or % amount (ie. $X.XX or X.XX%)</font>
						<BR>
						Per pound addon: <input type="text" name="add_per_pound" style="width:35px;text-align:right;" value="<?=$add_per_pound;?>" class="formBox">
						Dollar addon: <input type="text" name="add_per_dollar" style="width:35px;text-align:right;" value="<?=$add_per_dollar;?>" class="formBox">
						<BR>
						<font size=1>if using this the above addon will be ignored</font>
					</td>
					<script>
						var g_numrules = 0;
						var g_markuparray = new Array();
						
						<?
						if($markuprules != "")
						{
							?>
							document.pe2options.markuprules.value = "<?=$markuprules;?>";
							
							<?
							$mulines = explode("~", $markuprules);
							
							for($xx = 0; $xx < count($mulines); $xx++)
							{
								if($mulines[$xx] != "")
								{
									?>
									g_markuparray[<?=$xx;?>] = "<?=$mulines[$xx];?>";
									g_numrules++;
									<?	
								}
							}
							?>
							displayRules();
							<?
						}
						?>
						function pricerangeMarkup()
						{
							var dlg = document.getElementById("pricerange");
							dlg.style.display = "block";
							dlg.style.width=350;
							
							document.pe2options.prmin.focus();
						}
						
						function saveRule()
						{
							var prmin = document.pe2options.prmin.value;
							var prmax = document.pe2options.prmax.value;
							
							var prmarkup = document.pe2options.prmarkup.value;
							var praddon = document.pe2options.praddon.value;
							var prminprofit = document.pe2options.prminprofit.value;
							
							//////////////////////////////////////////////////////////
							// hide it
							var dlg = document.getElementById("pricerange");
							dlg.style.display = "none";
							//////////////////////////////////////////////////////////
							
							var newrule = prmin+";"+prmax+";"+prmarkup+";"+praddon+";"+prminprofit;
							
							g_markuparray[g_numrules] = newrule;
							g_numrules++;
							
							displayRules();
						}
						
						function deleteRule(id)
						{
							var newcount = 0;
							var markuparray = new Array();
							for(xx = 0; xx < g_numrules; xx++)
							{
								if(xx != id)
								{
									markuparray[newcount] = g_markuparray[xx];
									newcount++;
								}
							}	
	
							g_markuparray = markuparray;
							g_numrules = newcount;
							
							displayRules();
						}
						
						function displayRules()
						{
							if(g_numrules == 0)
							{
								var dlg = document.getElementById("fixedmarkup");
								dlg.style.display = "block";
							}
							else
							{
								var dlg = document.getElementById("fixedmarkup");
								dlg.style.display = "none";
							}
													
							var rulelist = '';
							var div = document.getElementById("rulemarkup");
							div.innerHTML = "<BR><BR>";
							//document.pe2options.markuprules.value = '';
							
							for(xx = 0; xx < g_numrules; xx++)
							{
								rulelist = rulelist + g_markuparray[xx] + "~";
								
								data = g_markuparray[xx].split(';');
								
								newrule = "$"+data[0]+" > Price < $"+data[1]+" = "+data[2]+"% markup + $"+data[3]+"<BR>&nbsp;&nbsp;&nbsp;&nbsp;minprofit of $"+data[4]
								newrule += "<a href='javascript:void(0)' onclick=\"deleteRule('"+xx+"');\"><img src='/mgt/images/del.gif' border=0></a><BR><HR NOSHADE>";
								div.innerHTML += newrule;
							}
							
							document.pe2options.markuprules.value = rulelist;
						}
						</script>
					<td>
						<B>Display on Sites:</B>
						<table width=100%>
						<?
						$query = "select divid, sitename from site_list order by divid";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($site_divid, $site_name) = mysql_fetch_array($qok))
						{
							
							?>
							<tr><td><input type="checkbox" name="sitelist_<?=$site_divid;?>" value="1" CHECKED><?=$site_name;?></td></tr>
							<?
						}
						?>
						</table>
					</td>	
					
					<td>
						<input type="button" name="Action" value="Merge Products" class="buttonItem" onclick="mergeProducts();">
						<BR><BR>
					</td>				
				</tr>
				</table>		
				<UL>
				<LI>Choosing a category will override the mapped categories</LI>
				<LI>Choosing Use Datapak Data only uses the tech specs and images whenever available.  To use the sales description and titles, choose the respective options.</LI>
				</UL>
				
				<script>
				function LoadProfile()
				{
					profileid = document.pe2options.useprofile.options[ document.pe2options.useprofile.selectedIndex ].value;
					
					if(parseInt(profileid) > 0)
						document.location = "/mgt/vn/sku_search.phtml?useprofile="+profileid;
					else
						alert("Please select a profile to load.");
						
				}
				
				function deleteProfile()
				{
					profileid = document.pe2options.useprofile.options[ document.pe2options.useprofile.selectedIndex ].value;
				
					if(confirm("Are you sure you want to delete this profile?"))	
					{
						if(parseInt(profileid) > 0)
							document.location = "/mgt/vn/sku_search.phtml?deleteprofile="+profileid+"&Action=DeleteProfile";
						else
							alert("Please select a profile to load.");
					}
				}
				</script>

				<table>
				<tr>
					<td>
						<input type="hidden" name="profileid" value="<?=$useprofile;?>">
						<table style="border:1px #808080 dashed;padding:5px;">
						<tr>
							<td><div style="padding-top:1px"><B>Load Profile:</B></div></td>
							<td>
								<select name="useprofile" class="formSelect">
									<option value="">--- SELECT ---</option>
									<?
									$query = "select id, profile_name from vendor_merge_profiles order by profile_name";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($pfid, $profilename) = mysql_fetch_array($q2ok))
									{
										?>
										<option value="<?=$pfid;?>" <?if($pfid == $useprofile) echo "SELECTED";?>><?=$profilename;?></option>
										<?
									}
									?>
								</select>
								<a href="javascript:void(0);" onclick="deleteProfile();"><img src='/mgt/images/del.gif' border=0></a>
							</td>
						</tr>
						<tr>
							<td colspan=2 align=center>
								<input type="button" name="Action" value="Load Profile" class="buttonItem" onclick="LoadProfile();">
								
							</td>
						</tr>
						</table>
						
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>
					
					<td>
					
						<table style="border:1px #808080 dashed;padding:5px;">
						<tr>
							<td><div style="padding-top:1px"><B>Profile Name:</B></div></td>
							<td>
								<input type="text" style="width:125px" name="profilename" class="formBox">
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<I>Name this profile to reuse it later</I>
							</td>
						</tr>
						</table>					
						
					</td>
				</tr>
				
				<tr>
					<td colspan=3>
						<LI>Profile WILL NOT be saved until you click "Merge Products".  </LI>
						<LI>You must enter a profile name to save a new profile.</LI>
						<LI>Any changes made to a loaded profile will be saved when you click  "Merge Products"</LI>
						<BR>					
					</td>
				</tr>
				</table>