					<form name="skusearch">
						<table>
						<tr>
<td class="g1">Vendor:</td>
							<td>	
								<select name="vendorid" class="formSelect" onchange="updateVendor()">
								<option value="0">----- SELECT --------
								<?
								$query = "select distinct(vid), vendors.vendorname from vendor_product_list, vendors where
											vendor_product_list.vid = vendors.vendorid group by vid order by vendorname ";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($vid, $vendorname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$vid;?>"><?=$vendorname;?>
									<?
								}
								?>
								</select>	
							</td>
						</tr>
						<tr>
							<td class="g1">Show:</td>
							<td>
								<select name="show" class="formSelect">
								<option value="0">Show All Products
								<option value="1">Show Only Mapped
								<option value="2">Show Only Non-Mapped
								</select>	
							</td>
						</tr>
						<tr>
							<td class="g1">Matched:</td>
							<td>
								<select name="matched" class="formSelect">
								<option value="0">Show All Products
								<option value="1">Matched Only
								<option value="2">Matched + Merged
								<option value="3">Non-Matched + Not Merged
								<option value="4">Merged Only
								</select>	
							</td>
						</tr>
						<tr>
							<td class="g1">InStock:</td>
							<td>
								<select name="instock" class="formSelect">
								<option value="">Show All Products
								<option value="1">Show Only In Stock
								<option value="2">Show Only Out of Stock
								</select>	
							</td>
						</tr>
						<tr>
							<td class="g1">Drops:</td>
							<td>
								<select name="drops" class="formSelect">
								<option value="">Show All Products
								<option value="1">Show Drops
								<option value="2">Exclude Drops
								</select>	
							</td>
						</tr>
						<?if($DB == "butterfly")
						{
							?>
							<tr>
								<td class="g1">CMIC:</td>
								<td>
									<select name="hascmic" class="formSelect">
									<option value="">Show All Products
									<option value="1">Has CMIC Data
									<option value="2">NO CMIC Data
									</select>	
								</td>
							</tr>
							<?
						}
						?>
						<tr>
							<td class="g1">Keywords:</td>
							<td><input type="text" name="keywords" value="" style="width:125px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">SKU:</td>
							<td><input type="text" name="sku" style="width:75px" value="" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">Category:</td>
							<td>
								<div id="vncat0d">
								<select name="vncat0" id="vncat0" class="formSelect" onchange="getVNCategories(1);">
									<option value="0">----- SELECT --------
								</select>
								</div>
								<div id="vncat1d" style="display:none;"><select name="vncat1" id="vncat1" class="formSelect" onchange="getVNCategories(2);"></select></div>
								<div id="vncat2d" style="display:none;"><select name="vncat2" id="vncat2" class="formSelect" onchange="getVNCategories(3);"></select></div>
								<div id="vncat3d" style="display:none;"><select name="vncat3" id="vncat3" class="formSelect" onchange="getVNCategories(4);"></select></div>
								<div id="vncat4d" style="display:none;"><select name="vncat4" id="vncat4" class="formSelect" onchange="getVNCategories(5);"></select></div>
								<div id="vncat5d" style="display:none;"><select name="vncat5" id="vncat5" class="formSelect" onchange="getVNCategories(6);"></select></div>
								
							</td>
						</tr>	
						<tr>
								<td class="g1"><B>Sourced:</B></td>
								<td>
									<select name="sourcing" class="formSelect">
									<option value="-1">--- SELECT ----</option>
									<?

									$query = "select vendorid, vendorname from vendors order by vendorname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
									{
										if(strlen($x_vendorname) > 25)
										{
											$x_vendorname = substr($x_vendorname, 0, 22)."...";
										}
									?>
										<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
									<?	
									}
									?>
									</select>
								</td>	
						</tr>
						<tr>
							<td class="g1">Cat MAP:</td>
							<td><div id="catmapresults" style="display:inline;">&nbsp;</div></td>
						</tr>												
						<tr>
							<td class="g1">Brand:</td>
							<td>
								<select name="brand" id="brand" class="formSelect">
									<option value="">----- SELECT --------
								</select>
								<div id="brandstatus" style="display:inline;">&nbsp;</div>						
							</td>
						</tr>
						<tr>
							<td class="g1">Man Part:</td>
							<td><input type="text" name="manpart" value="" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">Min Price:</td>
							<td><input type="text" name="minprice" value="<?=$_SESSION["SAVEDSEARCH"]['minprice'];?>" style="width:50px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">Max Price:</td>
							<td><input type="text" name="maxprice" value="<?=$_SESSION["SAVEDSEARCH"]['maxprice'];?>" style="width:50px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>			
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<td valign=top>
								<select name="num2return" class="formSelect">
									<option value="50" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 50) echo "SELECTED"; ?>>50 items (default)
									<option value="100" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 100) echo "SELECTED"; ?>>100 items
									<option value="1000" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 1000) echo "SELECTED"; ?>>1000 items
									<?if($DB == "ecom") {?><option value="5000" <?if($_SESSION["VN_SAVEDSEARCH"]['num2return'] == "5000") echo "SELECTED";?>>5000 items <?}?>
									<option value="9999" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 9999) echo "SELECTED"; ?>>9999 items
								</select>						
							</td>
						</tr>				
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchSKUs()" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
										<!--<input type="button" name="" value="Save" onclick="saveForm()" class="buttonItem"></div>-->
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>
								<!---
									<input type="button" name="Action" value="Search" class="buttonItem">
									&nbsp;&nbsp;
									<input type="button" name="Action" value="Clear" class="buttonItem">
								--->
								<BR>
								<div id="skuresults" style="display:inline;">&nbsp;</div>
								<div id="poolresults" style="display:inline;">&nbsp;</div>		
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<!--------------------------------------------------------------->