<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/cmicclass.phtml");


$query = "select id, vid, manid, manpart, descr, added_dte, status, returnable, upccode, platform, shipweight, oem, refurb, sku from vendor_product_list where id = '$id'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($id, $vid, $manid, $manpart, $descr, $added_dte, $status, $returnable, $upccode, $platform, $shipweight, $oem, $refurb, $sku) = mysql_fetch_array($qok);

if($Action == "Merge")
{
	$brand = trim( addslashes($brand) );

	if($brand != "")
	{
		$query = "select manid from product_manufacturers where manname = '$brand'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manid) = mysql_fetch_array($qok);
	}

	if(intval($vpid) > 0 && intval($pid) <= 0)
	{
		$pid = $efc->mergeVendorProduct(0, $vid, $vpid, $pid, $manid);
		Header("Location: /mgt/sm/viewsku.phtml?id=$pid&inwin=1");
		exit;
	}
	else
	{
		$pid = $efc->mergeVendorProduct(0, $vid, $vpid, $pid, $manid);
		$id = $vpid;
	}
}


$query = "select vendorname from vendors where vendorid = '$vid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($vendor_name_check) = mysql_fetch_array($qok);

$query = "select manname from vendor_manufacturers where manid = '$manid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($brand) = mysql_fetch_array($qok);

$query = "select catid from vendor_category_map where pid = '$id' order by catid desc";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catid) = mysql_fetch_array($qok);

if(intval($catid) > 0)
{
	while(intval($catid) > 0)
	{
		$query = "select catid, catname, parentid from vendor_categories where catid = '$catid' and vid = '$vid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($catid, $catname, $parentid) = mysql_fetch_array($qok);

		if(trim($catname) != "")
		{
			$cattree['catid'][] = $catid;
			$cattree['catname'][] = $catname;
			$cattree['parentid'][] = $parentid;
		}

		$catid = $parentid;
	}
}


$query = "select instock, cost, map, price from vendor_pricing where pid = '$id'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($instock, $cost, $map, $price) = mysql_fetch_row($qok);

?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</HEAD>

<script type="text/javascript" src="/fsmenu/fsmenu.js"></script>
<link rel="stylesheet" type="text/css" id="listmenu-o"  href="/fsmenu/listmenu_h.css" title="Horizontal 'Office'" />
<link rel="stylesheet" type="text/css" id="fsmenu-fallback" href="/fsmenu/listmenu_fallback.css" />	
<STYLE>
.dialog {
display:none;
width:225px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
<?
$query = "select manname from product_manufacturers";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($xmanname) = mysql_fetch_array($qok))
{
	$manlist .= "$xmanname\\n";
}
?>
<script>
var manlist = "<?=$manlist;?>";
keyValues=manlist.split("\n");

function verifyBrand()
{
	var manname = document.saveskuform.brand.value;
	var found = 0;

	for(xx = 0; xx < keyValues.length; xx++)
	{
		if(keyValues[xx].toLowerCase() == manname.toLowerCase())
		{
			found = 1;
			break;
		}
	}

	if(found == 0)
	{
		alert('The brand that you entered is a new brand.  It will be created when merge the sku.')
	}
}

</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/autocomplete.phtml");?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>View SKU</B>
		<table>
		<tr>
			<td width=33% valign=top>
				<table>
				<tr>
					<td>
						<div align=center>
						<?
						?>
						</div>						
					</td>
					
					<td>
						<div id="imageAnchor">
						<?
						$query = "select imageurl from vendor_product_images where id = '$id' limit 0, 1";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($imageURL) = mysql_fetch_array($qok);

						if($imageURL != "")
						{
							?>
							<img src="<?=$imageURL;?>" width=250>
							<?
						}
						else
						{
							?>
							<img src="/mgt/vn/getimage.phtml?id=<?=$id;?>" width="160">
							<?
						}
						?>
						</div>	
					</td>
				</tr>
				</table>
				
			</td>
			
			<td width=33% valign=top>
			<!--------------------------------------------------------------------------------------->
				<table>
				<tr>
					<td class="g1">ID:</td><td><?=$id;?></td>
				</tr>
				<tr>
					<td class="g1">SKU:</td><td><?=$sku;?></td>
				</tr>
				<tr>
					<td class="g1">Brand:</td><td><?=$brand;?></td>
				</tr>
				<tr>
					<td class="g1">Descr:</td><td><?=$descr;?></td>
				</tr>
				<tr>
					<td class="g1">Manpart:</td><td><?=$manpart;?></td>
				</tr>
				<tr>
					<td class="g1">UPC:</td><td><?=$upccode;?></td>
				</tr>
				<tr>
					<td class="g1">Refurb:</td><td><?if($refurb == 1) echo "Yes"; else echo "No";?></td>
				</tr>
				<tr>
					<td class="g1">Platform:</td><td><?=$platform;?></td>
				</tr>
				<tr>
					<td class="g1">Ship Weight:</td><td><?=$shipweight;?></td>
				</tr>
				<tr>
					<td class="g1">Date:</td><td><?=$date_added;?></td>
				</tr>
				<tr>
					<td class="g1">Category:</td>
					<td valign=top>
						<?
						for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
						{
							echo $cattree['catname'][$xx]."<BR>";
						}
						?>
					</td>
				</tr>
<?////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////?>
<?// FEES AND SHIPPING TAX   Jake  03/09/2010   ----   UPDATED 10/Jun/2010 16:42 for DOBA

						if($DB == "ecom") { $DB_good = "1"; }
						if($DB == "giftjoy") { $DB_good = "1"; }

						if($DB_good == "1") {

							$query = "select taxstring from vendor_doba_tax where itemid = '$manpart'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($taxstring) = mysql_fetch_array($qok);

							$taxstring = str_replace("PRIVATE TAX:","",$taxstring);

							$query = "select vendorname from vendors where vendorid = '$vid'";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($vcheck) = mysql_fetch_array($qok);

							//echo "DEBUG: '$DB','$vcheck'";

							if($vcheck == "INGRAM MICRO" && $DB == "ecom") { $vname = "Ingram"; echo "VENDOR: $vendorname_check\n"; }
							if($vcheck == "CRW Electronics" && $DB == "ecom") { $vname = "CRW Electronics"; echo "VENDOR: $vendorname_check\n"; }

							$fee = $efc->GetConfigValue($vname, "SERVICE_FEE");

							if($vcheck == "LiveFeed" && $DB == "giftjoy"){	$fee = $efc->GetConfigValue('LiveFeed', "SERVICE_FEE"); }

							if($fee == "") { $fee = 0.00; }

							if($vcheck == "INGRAM MICRO" && $DB == "ecom") { $lbstax = lbstax($shipweight); }

							if($vcheck == "LiveFeed" && $DB == "giftjoy")
							{
								$query = "select shipfee from livefeed_shipfees where id = '$id'";
								//echo $query."\n";
								if(!$qoka = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($lbstax) = mysql_fetch_array($qoka);
							}

							if($lbstax == "") { $lbstax = 0.00; }

							$oldcost = number_format($cost,2) - $fee - $lbstax;
				?>
				<td class="g1"><b>Fees</b>:</td><td>$<?=$oldcost;?><b>+</b>fee/$<?=$fee;?><b>+</b>ship/$<?=$lbstax;?><b>=</b>cost/$<?=number_format($cost,2);?></td>
				</tr>
				<?if($taxstring !="") {?>
				<tr>
				<td class="g1"><b>PRIV TAX</b>:</td><td><?=$taxstring;?></td>
				</tr>
				<?}?>
				<?if($vendor_name_check == "DOBA")
				{?>

				<tr>
				<td class="g1"><b>DOBA API:</b>:</td><td><a href="/mgt/scripts/DOBA/verify_source.php?dobaid=<?=$sku;?>&vpid=<?=$id;?>">Verify</a></td>
				</tr>

				<?}
				}?>	
<?///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////?>
				</table>
				<!--------------------------------------------------------------------------------------->
			</td>		
			
			<td width=33% valign=top>
				<div align=left>
				<!--------------------------------------------------------------------------------------->
				<table border=0 cellpadding="0" cellspacing="0">
				<tr>
					<td width=50% valign=top>
						<table>
							<tr><td class="g1"><B>Cost</B></td><td class="inbItem" align=right><?=number_format($cost,2);?></td></tr>	
							<tr><td class="g1"><B>Price</B></td><td class="inbItem" align=right><?=number_format($price,2);?></td></tr>	
							<tr><td class="g1"><B>MAP</B></td><td class="inbItem" align=right><?=number_format($map,2);?></td></tr>	
							<tr><td class="g1"><B>Instock</B></td><td class="inbItem" align=right><?=number_format($instock,0);?></td></tr>	
						</table>
					</td>
				</tr>
				</table>
				<BR><BR>
				<?
				$query = "select pid from product_sourcing where vpid = '$id' and distid = '$vid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($q2ok) > 0)
				{
					list($mapped_pid) = mysql_fetch_array($q2ok);
					?>
					<table>
					<tr>
						<td class="g1"><B>Mapped:</B></td>
						<td><a href="javascript:void(0);" 
							onclick="javascript:top.e2window('/mgt/sm/editsku.phtml?id=<?=$mapped_pid;?>&inwin=1', 'Edit SKU: <?=$mapped_pid;?>');">
							<?=$mapped_pid;?>
							</a>
						</td>
					</tr>
										<?
if($DB == "ecom")
{
/*?>



	<tr>
	<td class="g1"><B>Almo Correct:</B></td>
	<td><a href="javascript:void(0);" onclick="javascript:top.e2window('http://66.132.174.237/mgt/scripts/almo_ecom/crx2_single.php?vpid=<?=$id;?>&pid=<?=$mapped_pid;?>', 'ALMO DATA CORRECTION <?=$id;?> => <?=$mapped_pid;?>');">
							<?=$id;?> => <?=$mapped_pid;?>
							</a>
						</td>
					</tr>
<?
*/}
?>


					
					</table>
					<?
				}
				else
				{
					?>
					<script>
					function validateMerge()
					{
						if(document.mergeform.pid.value == "")
						{
							var cvr = document.getElementById("savecover");

							cvr.style.display = "block";

							cvr.style.top = 0;
							cvr.style.left = 0;

							cvr.style.width = "100%";
							cvr.style.height = "100%";

							var dlg = document.getElementById("saveform");
							dlg.style.top = 50;
							dlg.style.left = 200;

							dlg.style.width = 200;

							dlg.style.display = "block";

							return false;
						}
					}

					function cancelBrand()
					{
						var cvr = document.getElementById("savecover");
						cvr.style.display = "none";

						var cvr = document.getElementById("saveform");
						cvr.style.display = "none";


					}

					function saveBrand()
					{
						cancelBrand();
						var brand = document.brandform.brand.value;
						var vpid = document.mergeform.vpid.value;


						document.location = "/mgt/vn/viewsku.phtml?vpid="+vpid+"&brand="+brand+"&Action=Merge";
					}
					</script>
					<table>
					<tr>
						<td class="g1"><B>Matches:</B></td>
						<td>
						<?
						$matchPID = $efc->vendorMatch($brand, $sku, $manpart, $id, $refurb, $vid);
						//$matchPID = $efc->vendorMatch($brand, $manpart, $id, $refurb);

						if(intval($matchPID) > 0)
						{
							$match = $matchPID;

							echo "Exact Match: <a href=\"javascript:top.e2window('/mgt/sm/editsku.phtml?id=$matchPID&inwin=1', 'Edit SKU: $matchPID');\">$matchPID<BR>";
						}
						else
						{
							echo "<I>No Exact Match</B>";
						}
						?>
						</td>
					</tr>
					<tr>
						<td class="g1"><B>Etilize:</B></td>
						<td>
							<a href="javascript:void(0);" 
									onclick="top.e2window('/mgt/sm/etilizesku.phtml?id=0&kw=<?=$manpart;?>&inwin=1', 'Etilize SKU: <?=$manpart;?>');">
								Search Etilize
							</a>
						</td>
					</tr>	
					<?
					if($DB == "butterfly")
					{
						?>
						<tr>
						<td class="g1"><B>CMI:</B></td>
						<td>
							<a href="javascript:void(0);" 
								onclick="top.e2window('/mgt/sm/cmicsku.phtml?id=0&kw=<?=urlencode($manpart);?>&inwin=1', 'CMIC SKU: <?=$id;?>');">
								CMIC
							</a>
						</td>
					</tr>
						<?
					}
					?>
					<tr>
						<td class="g1">
							<div style="padding-top:3px"><B>Merge:</B></div>
						</td>
						<td>
							<form style="margin:0px" name="mergeform" onsubmit="return validateMerge();">
							<input type="hidden" name="vpid" value="<?=$id;?>">
							<input type="hidden" name="brand" value="">
							<input type="text" name="pid" value="<?=$match;?>" class="formBox" style="width:75px">
							<input type="submit" name="Action" value="Merge" class="buttonItem" >
							</form>
							*leave blank to create a sku
						</td>
					</tr>
					
					</table>
					<?
				}
				?>
				<!--------------------------------------------------------------------------------------->
				</div>
			</td>		
				
		</tr>
		</table>

		<div id="TabbedPanels1" class="TabbedPanels" style="width:98%">
	    	<ul class="TabbedPanelsTabGroup">
	        <li class="TabbedPanelsTab" tabindex="0"><strong>Sales Description</strong></li>
	        <li class="TabbedPanelsTab" tabindex="1"><strong>Features</strong></li>
	        <li class="TabbedPanelsTab" tabindex="2"><strong>Documentation</strong></li>
	        <li class="TabbedPanelsTab" tabindex="3"><strong>Technical Specs</strong></li>
	        <li class="TabbedPanelsTab" tabindex="3"><strong>Product HTML</strong></li>
	        </ul>
			<div class="TabbedPanelsContentGroup">
		        <div class="TabbedPanelsContent">  
		       	<table>
		       	<tr>
		       		<td>
						<?
						$query = "select data from vendor_sales_descr where pid = '$id' and vid = '$vid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						list($salesdescr) = mysql_fetch_array($qok);
						else
						$salesdescr = "No Sales Description Available";
						?>
                      <?//htmlspecialchars($salesdescr);?>
						<? echo $salesdescr; ?>
		       		</td>
		       	</tr>
		       	</table>
		        </div>

		        <div class="TabbedPanelsContent">  	
		         <!-------------------------------------------------------------------------------------------------------------->
		        <table>
		        <?
		        $query = "select feature from vendor_features where pid = '$id' and feature != ''";
		        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		        if(mysql_num_rows($qok) == 0){ echo "<tr><td>No Product Features</td></tr>"; }
		        while(list($feature) = mysql_fetch_array($qok))
		        {
				?>
				<tr>
					<td><?=$feature;?></td>
				</tr>
		    	<?
		        }
				?>
				</table>
		         <!-------------------------------------------------------------------------------------------------------------->
		        </div>
		         
		        
				<div class="TabbedPanelsContent">  	
		         <!-------------------------------------------------------------------------------------------------------------->
		        <table>
		        <?
		        $query = "select title, link from vendor_product_docs where pid = '$id'";
		        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		        while(list($title, $link) = mysql_fetch_array($qok))
		        {
				?>
				<tr>
					<td><a href="<?=$link;?>" target="_blank"><?=$title;?></a></td>
				</tr>
		    	<?
		        }
				?>
				</table>
		         <!-------------------------------------------------------------------------------------------------------------->
		        </div>		 
		        
				<div class="TabbedPanelsContent">  	
		         <!-------------------------------------------------------------------------------------------------------------->
		        
			        <table cellpadding="0" cellspacing="0" border=0>
						<?
						$specs = $efc->getVendorSpecs($id);
						$lastsection = "BOO-YAH";
						for($xx = 0; $xx < count($specs['section']); $xx++)
						{
							if($specs['section'][$xx] != $lastsection)
							{
							?>
							<tr bgcolor="#eeeeee">
								<td colspan=2 class="white" height=22><B><B><?=$specs['section'][$xx];?></div></B></td>
							</tr>
							<?
							}
							?>
							<tr bgcolor="<? if($xx % 2) echo "#eeeeee"; else echo "#ffffff";?>">
								<td height=21 class="g" align=left width=125><div style="padding-left:4px"><?=$specs['dkey'][$xx];?></div></td>
								<td class="g" align=left><?=$specs['dval'][$xx];?></td>
							</tr>
							<?
							$lastsection = $specs['section'][$xx];
						}
						?>
						</table>
		         
		         <!-------------------------------------------------------------------------------------------------------------->
		        </div>		 		               
		        
		        
		        <div class="TabbedPanelsContent">  
		       	<table>
		       	<tr>
		       		<td>
						<?
						$query = "select data from vendor_product_html where id = '$id' and vid = '$vid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qok) > 0)
						list($product_html) = mysql_fetch_array($qok);
						else
						$product_html = "No HTML Available";
						?>
                      <?//htmlspecialchars($salesdescr);?>
						<? echo $product_html; ?>
		       		</td>
		       	</tr>
		       	</table>
		        </div>
		        
		        
			</div>
		</div>
				
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>		

<?
if($inwin == 0)
{
	?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	<?
}
?>

<div id="saveform" class="dialog">
	<table width=100%>
	<tr>
		<td>&nbsp;</td>
		<td width=100%>
			Please Type in the Brand name.
			<table width=100%>
			<tr>
				<td class="g1"><B>Brand:</B></td>
				<td>
				<form style="margin:0px" name="brandform">
				<input type="text" name="brand" value="" onblur="verifyBrand()" 
						onkeypress="return autocomplete(this, event, keyValues)" class="formBox" style="width:125px">			</form>						
				</td>
					
			</tr>		
			<tr>
				<td colspan=2>
				
					<input type="submit" name="Action" value="Merge SKU" class="buttonItem" onclick="saveBrand();">
					<input type="button" name="Action" value="Cancel" onclick="cancelBrand()" class="buttonItem">
				</td>
			</tr>
		</table>
	</td>
	</tr>
	</table>
</div>



</body>
</html>
<?
// I NEED THIS HERE FOR FEES.  -Jake 03/08/2010
function lbstax($sw) {
	if($sw < 11.00)  { $lbstax = 10.00; }
	if($sw > 11.00)  { $lbstax = 20.00; }

	if($sw > 20.00)  { $lbstax = 20.00; }
	if($sw > 21.00)  { $lbstax = 30.00; }

	if($sw > 30.00)  { $lbstax = 30.00; }
	if($sw > 31.00)  { $lbstax = 40.00; }

	if($sw > 40.00)  { $lbstax = 40.00; }
	if($sw > 41.00)  { $lbstax = 50.00; }

	if($sw > 50.00)  { $lbstax = 50.00; }
	if($sw > 51.00)  { $lbstax = 60.00; }

	if($sw > 60.00)  { $lbstax = 60.00; }
	if($sw > 61.00)  { $lbstax = 70.00; }

	if($sw > 70.00)  { $lbstax = 70.00; }
	if($sw > 71.00)  { $lbstax = 80.00; }

	if($sw > 80.00)  { $lbstax = 80.00; }
	if($sw > 81.00)  { $lbstax = 90.00; }

	if($sw > 90.00)  { $lbstax = 90.00; }
	if($sw > 91.00)  { $lbstax = 100.00; }

	if($sw > 100.00) { $lbstax = 100.00;}
	if($sw > 100.01) { $lbstax = 100.00;}

	return $lbstax;
}
?>