<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<table width=99% id="results" class="sortable">
<thead>
<tr bgcolor="#eeeeee">
	<th align=center height=21><B>Status</B></td>
	<th align=center height=21><B>InvoiceID</B></td>
	<th align=center><B>PID</B></td>
	<th align=center><B>Manufacturer</B></td>
	<th align=center><B>SKU</B></td>
	<th align=center><B>Age</B></td>
	<th align=center><B>On Hand</B></td>
	<th align=center><B>On Hold</B></td>
	<th align=center><B>Committed</B></td>
	<th align=center><B>Available</B></td>
	<th align=center><B>On PO</B></td>
	<? 
	if($sourcing == 1)
	{
		?>
		<td align=center><B>Sourcing</B></td>
		<?
	}
	?>
</tr>
</thead>
<tbody>
<?	
/*
catid=40
brand=
status=0
age=0
*/
if(intval($catid) > 0)
{
	$addontables .= ", product_category_map ";
	$addon .= " AND customer_order_lines.prodid = product_category_map.pid AND product_category_map.catid = '$catid' ";
}

if(intval($brand) > 0)
	$addon .= " AND customer_order_lines.manid = '$brand'";

if(intval($status) > 0)
	$addon .= " AND customer_orders.status = '$status'";

if(intval($age) > 0)
{
	$xbdate = time() - ($age * 86400);
	$addon .= " AND customer_orders.orderdate <= '$xbdate'  ";
}


$query = "select customer_orders.status, customer_orders.invoiceid, customer_order_lines.prodid, customer_order_lines.manname, customer_order_lines.manpart,
			customer_orders.orderdate, product_prices.instock, product_prices.onhold, product_prices.committed, product_prices.onpo
			from customer_orders, customer_order_lines, product_prices $addontables 
			where
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_order_lines.prodid = product_prices.id AND
			customer_order_lines.qty_ordered > customer_order_lines.qty_shipped $addon ";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($status, $invoiceid, $pid, $manname, $manpart, $orderdate, $instock, $onhold, $committed, $onpo) = mysql_fetch_array($qok))
{
	$datetime = date("m/d/Y H:i:s", strtotime($tstamp));
	
	$ostatus = $efc->lookupOrderStatus($status);
	$available = $instock - $onhold - $committed;
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td  align="center"><?=$ostatus;?></td>
		<td  height=21>
			<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Order: <?=$invoiceid;?>');"><?=$invoiceid;?></a>
		</td>
		<td  align="center">
			<a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit Sku: <?=$pid;?>');"><?=$pid;?>
		</td>
		<td  align="center"><?=$manname;?></td>
		<td align="center"><?=$manpart;?></td>
		<td align="center"><?=floor( (time() - $orderdate) / 86400 );?></td>
		<td align="center"><?=$instock;?></td>
		<td align="center"><?=$onhold;?></td>
		<td align="center"><?=$committed;?></td>
		<td align="center"><?=$available;?></td>
		<td align="center"><?=$onpo;?></td>
		<?
		if(intval($sourcing) == 1)
		{
			echo "<td align='left'>";
			
			$query = "select distid, distsku, cost, qty, tstamp, basecost from product_sourcing where pid = '$pid'";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q3ok) > 0)
			{
				while(list($distid, $distsku, $cost, $qty, $tstamp, $basecost) = mysql_fetch_array($q3ok))
				{
					$query = "select vendorname from vendors where vendorid = '$distid'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($vendorname) = mysql_fetch_array($q4ok);

					echo "$vendorname: $qty (".date("m/d/Y", strtotime($tstamp)).")<BR>";				
				}
			}
			
			echo "</td>";
		}
		?>
	</tr>
	<?
}

?>
</tbody>
</table>

