<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Amazon Orders by Date</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.dialog1 {
display:none;
width:125px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>

function pullReport(p)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var bdate =  document.plreport.bdate.value;
	var edate =  document.plreport.edate.value;
	var pid = $('#id').val();
	var assignedto = $('#assignedto').val();
	// var listid = $('#listid').val();
	var listid = "";
	for (var i = 0; i < document.plreport.listid.length; i++) 
	{
		if (document.plreport.listid.options[i].selected) 
        { 
            listid += document.plreport.listid.options[i].value + ","; 
        } 
    } 
	var brand = $('#brand').val();
	var sourcing = $('#sourcing').val();
	var type = $('#type').val();
	var num2return = $('#num2return').val();
	var disable_range = document.plreport.disable_range.checked;
        
	var url="ajax_orders.phtml";
	url += "?bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&pid="+pid;
	url += "&assignedto="+assignedto;
	// url += "&listid="+listid;
	url += "&listid="+listid.substr(0,listid.length-1);
	url += "&brand="+brand;
	url += "&sourcing="+sourcing;
	url += "&type="+type;
	url += "&num2return="+num2return;
	url += "&p="+p;			
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			pullReport(1);
 			return false; 
 		}
	}  
} 
function gotoPage(pagenum)
{
	pullReport(pagenum);
}
function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 

		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
                sortables_init();
	}	
}
function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "1")				
	{// today
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.plreport.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "8")				
	{// last 60 days
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "9")				
	{// last 90 days
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "10")				
	{// last 120 days
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.plreport.disable_range.checked = 0;
		
		document.plreport.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.plreport.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}
function getStats(sku) {
    
    var bdate =  document.plreport.bdate.value;
    var edate =  document.plreport.edate.value;
    var pid = $('#id').val();
    var assignedto = $('#assignedto').val();
//    var listid = $('#listid').val();
	var listid = "";
	for (var i = 0; i < document.plreport.listid.length; i++) 
	{
		if (document.plreport.listid.options[i].selected) 
        { 
            listid += document.plreport.listid.options[i].value + ","; 
        } 
    } 	
    var brand = $('#brand').val();
    var sourcing = $('#sourcing').val();
    var type = $('#type').val();
    var disable_range = document.plreport.disable_range.checked;
    
//    if($('#item_detail_'+sku).length>0) {
//        $('#item_detail_'+sku).toggle();
//    }
    if($("tr[id='item_detail_"+sku+"']").length>0) {
        $("tr[id='item_detail_"+sku+"']").toggle();
    }
    else {
        $.get('ajax_getstats.phtml', 
            {
                    'sku':sku,
                    'bdate':bdate,
                    'edate':edate,
                    'pid':pid,
                    'assignedto':assignedto,
                    'listid':listid,
                    'brand':brand,
                    'sourcing':sourcing,
                    'type':type,
                    'disable_range':disable_range
            }, function(data) {
//                $('#item_'+sku).after(data);
                $("tr[id='item_"+sku+"']").after(data);
        });
    }
}
function clearForm() {
    document.plreport.bdate.value = "<?=date("m/d/Y", time());?>";
    document.plreport.edate.value = "<?=date("m/d/Y");?>";
    document.plreport.disable_range.checked = 1;
    $('#id').val('');
    document.plreport.qdate.selectedIndex = 0;
    document.plreport.assignedto.selectedIndex = 0;
    document.plreport.listid.selectedIndex = 0;
    document.plreport.brand.selectedIndex = 0;
    document.plreport.sourcing.selectedIndex = 0;
    document.plreport.type.selectedIndex = 0;
}

function doPEReportLight()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
				skus += myForm[z].value;
				else
				skus += ","+myForm[z].value;
			}
		}
	}

	document.pereport_light.idlist.value = skus;
	document.pereport_light.submit();
}
function doPE3Report()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
				skus += myForm[z].value;
				else
				skus += ","+myForm[z].value;
			}
		}
	}

	document.pe3options.idlist.value = skus;
	document.pe3options.submit();
}
function doPE3ReportNew()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
				skus += myForm[z].value;
				else
				skus += ","+myForm[z].value;
			}
		}
	}

	document.pe3options_new.idlist.value = skus;
	document.pe3options_new.submit();
}
function checkUncheckAll(myOptions, myForm)
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function getListsByGroup() {
	var group_id = $('#groupid').val();
	$.get('ajax_get_lists_by_group.phtml',{ 'group_id' : group_id }, function(data) {
		$('#listid option').remove();
		$('#listid').append(data);
	});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td>
				<span style="font-size:20px;font-weight:bold;color:red;line-height:20px">Canada</span>
			</td>
		</tr>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
			    	<ul class="TabbedPanelsTabGroup">
			       		<li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
					</ul>
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent">  
							<?INCLUDE("form.phtml");?>
						</div>
					</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			<form name="pereport" method="post" action="">
				<div id="reportdata">&nbsp;</div>
			</form>
			<?
			if ($DB == 'ecom') {
				?>
				<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
				<?
				$tabid = 0;
				?>
					<ul class="TabbedPanelsTabGroup">	
						<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Amz Report</strong></li>
						<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Amz Report New</strong></li>
						<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Amz Report Light</strong></li>
					</ul>
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent2">  
			
							<form name="pe3options" method="post" action="/mgt/pereport_canada/amazon_grid.phtml" style="margin:0px">
							<input type="hidden" name="idlist" value="">
							<table>
							<tr>
								<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe3options, document.pereport);">Select All SKUs</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td class="g1"><div style="padding-top:3px"><B>Pick PL for FWS Calculation:</B></div></td>
								<td>
									<select name="fws_price_level" class="formSelect">
										<option value="-1">--- SELECT ----</option>
										<option value="1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?></option>
										<option value="2"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?></option>
										<option value="3"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?></option>
										<option value="4"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?></option>
										<option value="5"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?></option>
										<option value="6"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?></option>
										<option value="7"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?></option>
										<option value="8"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?></option>
										<option value="9"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?></option>
									</select>
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE3Report();"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td class="g1"><div style="padding-top:3px"><B>Use COST from vendor:</B></div></td>
								<td>
									<select name="sourcing" class="formSelect">
										<option value="-1">--- SELECT ----</option>
										<?
										
										$query = "select vendorid, vendorname from vendors order by vendorname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
										{
											if(strlen($x_vendorname) > 25)
											{
												$x_vendorname = substr($x_vendorname, 0, 22)."...";
											}
										?>
											<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH_SKU"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
										<?	
										}
										?>
									</select>
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td>&nbsp;</td>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;&nbsp;&nbsp;</td>	
								<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
								<td>
									<select name="peid[]" class="formSelect">
										<option value="a9">Amazon</option>
									</select>
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;&nbsp;&nbsp;</td>	
								<td class="g1"><div style="padding-top:3px"><B>Acq fee:</B></div></td>
								<td>
									<input type="text" name="acq_perc" value="" class="formBox" style="width:50px;" /> % / 
									<input type="text" name="acq_val" value="" class="formBox" style="width:50px;" /> $ 
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							</table>		
							</form>
							
							</div>
							<div class="TabbedPanelsContent2">  
	
								<form name="pe3options_new" method="post" action="/mgt/pereport/amazon_grid_ecom.phtml" style="margin:0px">
								<input type="hidden" name="idlist" value="">
								<table>
								<tr>
									<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe3options_new, document.pereport);">Select All SKUs</td>
									<td>&nbsp;&nbsp;&nbsp;</td>
									<td class="g1"><div style="padding-top:3px"><B>Pick PL for FWS Calculation:</B></div></td>
									<td>
										<select name="fws_price_level" class="formSelect">
											<option value="-1">--- SELECT ----</option>
											<option value="1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?></option>
											<option value="2"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?></option>
											<option value="3"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?></option>
											<option value="4"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?></option>
											<option value="5"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?></option>
											<option value="6"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?></option>
											<option value="7"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?></option>
											<option value="8"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?></option>
											<option value="9"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?></option>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;</td>
									<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE3ReportNew();"></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;&nbsp;&nbsp;</td>
									<td class="g1"><div style="padding-top:3px"><B>Use COST from vendor:</B></div></td>
									<td>
										<select name="sourcing" class="formSelect">
											<option value="-1">--- SELECT ----</option>
											<?
											
											$query = "select vendorid, vendorname from vendors order by vendorname";
											if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
											{
												if(strlen($x_vendorname) > 25)
												{
													$x_vendorname = substr($x_vendorname, 0, 22)."...";
												}
											?>
												<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH_SKU"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
											<?	
											}
											?>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;</td>
									<td>&nbsp;</td>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;&nbsp;&nbsp;</td>	
									<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
									<td>
										<select name="peid[]" class="formSelect">
											<option value="a9">Amazon</option>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;&nbsp;&nbsp;</td>	
									<td class="g1"><div style="padding-top:3px"><B>Acq fee:</B></div></td>
									<td>
										<input type="text" name="acq_perc" value="" class="formBox" style="width:50px;" /> % / 
										<input type="text" name="acq_val" value="" class="formBox" style="width:50px;" /> $ 
									</td>
									<td>&nbsp;&nbsp;&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								</table>		
								</form>
								
								</div>
							
							
	                        <div class="TabbedPanelsContent2">  
					
								<form name="pereport_light" method="post" action="/mgt/pereport_light_canada/amazon_grid.phtml" style="margin:0px">
					                            <input type="hidden" name="idlist" value="">
					                            <table>
					                            <tr>
					                                    <td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pereport_light, document.pereport);">Select All SKUs</td>
					                                    <td>&nbsp;&nbsp;&nbsp;</td>
					                                    <td><input type="checkbox" name="showEcom" id="showEcom" checked>Show Ecom</td>
					                                    <td>&nbsp;&nbsp;&nbsp;</td>
					                                    <td><input type="checkbox" name="showOther" id="showOther" checked>Show Other</td>
					                                    <td>&nbsp;&nbsp;&nbsp;</td>
					                                    <td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPEReportLight();"></td>
					                            </tr>
					                            </table>		
								</form>
							
							</div>
						</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
				//-->
				</script>
			<?}?>
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<div id="ordernotes" class="dialog1">
</div>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>