<?php

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>FBA slow mover report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">


<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery.tools.1.0.5.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<script type="text/javascript">
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function searchSKUs(p)
{
	var qdate = document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value;
	var bdate = document.skusearch.bdate.value;
	var edate = document.skusearch.edate.value;
	var disable_range = document.skusearch.disable_range.checked;
    
    var qdate2 = document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value;
	var bdate2 = document.skusearch.bdate2.value;
	var edate2 = document.skusearch.edate2.value;
	var disable_range2 = document.skusearch.disable_range2.checked;
    
	var listid = "";
	for (var i = 0; i < document.skusearch.listid.length; i++) { 
		if (document.skusearch.listid.options[i].selected) {
			listid += document.skusearch.listid.options[i].value + ","; 
		}
	}	
	var sold_less = document.skusearch.sold_less.options[document.skusearch.sold_less.selectedIndex].value;
	var sold_less_val = document.skusearch.sold_less_val.value;
	var more_instock = document.skusearch.more_instock.value;
	var amazon_type = document.skusearch.amazon_type.options[document.skusearch.amazon_type.selectedIndex].value;
	var avg_less_than = document.skusearch.avg_less_than.value;
	var num2return = document.skusearch.num2return.options[document.skusearch.num2return.selectedIndex].value;

	var url="/mgt/reports/fba_slow_mover/ajax_skusearch.phtml";
	url += "?qdate=" + qdate;
	url += "&bdate=" + bdate;
	url += "&edate=" + edate;
	url += "&disable_range=" + disable_range;
    url += "&qdate2=" + qdate2;
	url += "&bdate2=" + bdate2;
	url += "&edate2=" + edate2;
	url += "&disable_range2=" + disable_range2;
	url += "&listid=" + listid;
	url += "&sold_less=" + sold_less;
	url += "&sold_less_val=" + sold_less_val;
	url += "&more_instock=" + more_instock;
	url += "&amazon_type=" + amazon_type;
	url += "&avg_less_than=" + avg_less_than;
	url += "&num2return=" + num2return;
	url += "&p=" + p;
	url += "&sid="+Math.random();

	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null) {
		alert ("Your browser does not support AJAX!");
		return;
	} 	

  	document.getElementById("skuresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=searchSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function searchSKUsComplete()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split('~');
		
		document.getElementById("skuresults").innerHTML =  data[0];
		var dlg = document.getElementById("searchresults");
		dlg.innerHTML = data[1];
		sortables_init();
	}
}

function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}

function goToPage2()
{
    var pagenum = $('#pageno').val();
	searchSKUs(pagenum);
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "1")				
	{// today
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "8")				
	{// last 60 days
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "9")				
	{// last 90 days
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "10")				
	{// last 120 days
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.skusearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate.options[document.skusearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.skusearch.disable_range.checked = 0;
		
		document.skusearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.skusearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}
function changeRange2()
{
	<?$x_today = time();?>	
	
	if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "1")				
	{// today
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "6")				
	{// yesterday
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "7")				
	{// yesterday + today
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "2")				
	{// last 7 days
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "3")				
	{// last 14 days
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "4")				
	{// last 30 days
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "8")				
	{// last 60 days
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "9")				
	{// last 90 days
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "10")				
	{// last 120 days
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.skusearch.edate2.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.skusearch.disable_range2.checked = 0;
		
		document.skusearch.bdate2.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.skusearch.edate2.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}
function clearForm()
{
	document.skusearch.qdate.selectedIndex = 0;
	document.skusearch.bdate.value = "<?=date("m/d/Y", time());?>";
	document.skusearch.edate.value = "<?=date("m/d/Y");?>";
	document.skusearch.disable_range.checked = 1;
	document.skusearch.groupid.selectedIndex = 0;	
	document.skusearch.listid.selectedIndex = 0;	
    document.skusearch.sold_less.selectedIndex = 0;
    document.skusearch.sold_less_val.value = "";
    document.skusearch.more_instock.value = "";
	document.skusearch.amazon_type.selectedIndex = 0;
	document.skusearch.num2return.selectedIndex = 0;

    var dlg = document.getElementById("searchresults");
	dlg.innerHTML = "&nbsp;";
}

function checkUncheckAll(myOptions, myForm)
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function getListsByGroup() {
	var group_id = $('#groupid').val();
	$.get('/mgt/sm/ajax_get_lists_by_group.phtml',{ 'group_id' : group_id }, function(data) {
		$('#listid option').remove();
		$('#listid').append(data);
	});
}

function doPE3Report()
{
	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
				skus += myForm[z].value;
				else
				skus += ","+myForm[z].value;
			}
		}
	}

	document.pe3options.idlist.value = skus;
	document.pe3options.submit();
}
function doAvg() {
    var qdate2 = document.skusearch.qdate2.options[document.skusearch.qdate2.selectedIndex].value;
	var bdate2 = document.skusearch.bdate2.value;
	var edate2 = document.skusearch.edate2.value;
	var disable_range2 = document.skusearch.disable_range2.checked;
    $('#avg_response').html('<img src="/mgt/images/loading.gif" />');
	var amazon_type = document.skusearch.amazon_type.options[document.skusearch.amazon_type.selectedIndex].value;
    $.get('ajax_doavg.phtml',{ 'bdate2':bdate2,'edate2':edate2, 'amazon_type': amazon_type }, function(response) {
        if(response == 'OK') {
            $('#avg_response').html('AVG finished!');
        }
    });
}
$(document).ready(function() {
	$('a[class^="item_"]').live('click', function() {
		var this_item = $(this);	
		var class_attr = $(this).attr('class');
		var class_arr = class_attr.split('_');
		
		if ($('#item_history_' + class_arr[1]).length == 0) {
			var amazon_type = document.skusearch.amazon_type.options[document.skusearch.amazon_type.selectedIndex].value;
			$.get('ajax_getfbaorders.phtml',{ 'pid': class_arr[1], 'amazon_type': amazon_type }, function(response) {
				$(response).insertAfter($(this_item).closest('tr'));
			});
		} else {
			$('#item_history_' + class_arr[1]).toggle();
		}
	});
});
</script>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
table#results thead th {
	font-size:12px;
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
					<form name="skusearch">
						<table>
						<tr>
							<td class="g1">Order Date:</td>
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1">Today</option>
								<option value="6">Yesterday</option>
								<option value="7">Yesterday + Today</option>
								<option value="2">Last 7 Days</option>
								<option value="3">Last 14 Days</option>
								<option value="4">Last 30 Days</option>
								<option value="8">Last 60 Days</option>
								<option value="9">Last 90 Days</option>
								<option value="10">Last 120 Days</option>
								<option value="5">Last Month</option>
							</select>
							<BR>							
							<input type="checkbox" name="disable_range" checked="checked">Ignore Date Range<BR>
							<input type="text" name="bdate" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['skusearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['skusearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onkeypress="return cancelReturn(this, event)">
							- to -
							<input type="text" name="edate" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['skusearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['skusearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x" onkeypress="return cancelReturn(this, event)">
							</td>
						</tr>
						<tr>
					          <td class="g1">Groups:</td>
					                <td>
					                        <select name="groupid" id="groupid" class="formSelect" onchange="getListsByGroup();">
					                        <option value="0">----- SELECT --------</option>
					                        <?
					                        $query = "SELECT id, group_name
					                        		  FROM list_groups
					                        		  ORDER BY group_name ASC";
					                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ exit;  }
					                        while(list($gid, $group_name) = mysql_fetch_array($qok))
					                        {
												?>
					                            <option value="<?=$gid;?>"><?=$group_name;?></option>
					                            <?
					                        }
					                        ?>
					                        </select>
					                </td>
						</tr>
						<tr>
							<td class="g1">List:</td>
							<td>
								<select name="listid[]" id="listid" class="formSelect" multiple="multiple">
								<option value="">----- SELECT --------</option>
								<?php
								$query = "SELECT lid, list_title
										  FROM lists
										  ORDER BY list_title";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "Whoops! Internal Error"; exit;  }
								while(list($lid, $list_title) = mysql_fetch_array($qok))
								{
									if(strlen($list_title) > 25)
									{
										$list_title = substr($list_title, 0, 18)."...";
									}
									?>
									<option value="<?=$lid;?>"><?=$list_title;?></option>
									<?php
								}
								?>
								</select>	
							</td>
						</tr>
						<tr>
							<td class="g1">Sold less:</td>
							<td>
								<select name="sold_less" id="sold_less" class="formSelect">
								<option value="">----- SELECT --------</option>
								<option value="percent">Than X percent of inventory</option>
								<option value="qty">Than X qty</option>
								</select><br /><input type="text" name="sold_less_val" value="" style="width:75px" class="formBox">	
							</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">More than X in stock:</div></td>
							<td valign="top"><input type="text" name="more_instock" value="" style="width:75px" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Amazon:</div></td>
							<td valign="top"><select name="amazon_type" class="formSelect">
										<option value="amazingdeals" selected="selected">AmazingDeals</option>
										<option value="fbacanada">Canada FBA</option>
						</tr>
                         <tr>
							<td class="g1" colspan="2" style="border-top:2px solid black;height:5px">&nbsp;</td>
						</tr>
                        <tr>
							<td class="g1"><div style="padding-top:2px;">Sold Less Than X (avg)</div></td>
							<td valign="top"><input type="text" name="avg_less_than" value="" style="width:75px" class="formBox"></td>
						</tr>
                        	<tr>
							<td class="g1">Order Date:</td>
							<td>
							<select name="qdate2" class="formselect" onchange="changeRange2();">
								<option value="-1">-Quick Range-</option>
								<option value="1">Today</option>
								<option value="6">Yesterday</option>
								<option value="7">Yesterday + Today</option>
								<option value="2">Last 7 Days</option>
								<option value="3">Last 14 Days</option>
								<option value="4">Last 30 Days</option>
								<option value="8">Last 60 Days</option>
								<option value="9">Last 90 Days</option>
								<option value="10">Last 120 Days</option>
								<option value="5">Last Month</option>
							</select>
							<BR>							
							<input type="checkbox" name="disable_range2" checked="checked">Ignore Date Range<BR>
							<input type="text" name="bdate2" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['skusearch'].bdate2,'anchor1x2','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['skusearch'].bdate2,'anchor1x2','MM/dd/yyyy'); return false;" ID="anchor1x2" onkeypress="return cancelReturn(this, event)">
							- to -
							<input type="text" name="edate2" value="<?=date("m/d/Y");?>" size=15 class="formbox" style="width:65px" onclick="cal1x.select(document.forms['skusearch'].edate2,'anchor2x2','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['skusearch'].edate2,'anchor2x2','MM/dd/yyyy'); return false;" ID="anchor2x2" onkeypress="return cancelReturn(this, event)">
							</td>
						</tr>
                        <tr>
                            <td colspan="2" align="center"><input type="button" name="" value="DoAvg" onclick="doAvg();" class="buttonItem"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" id="avg_response">&nbsp;</td>
                        </tr>
                        <tr>
							<td class="g1" colspan="2" style="border-bottom:2px solid black;height:5px">&nbsp;</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</div></td>
							<td valign="top">
								<select name="num2return" class="formSelect">
									<option value="50">50 items (default)
									</option><option value="100">100 items
									</option><option value="1000">1000 items
									</option><option value="9999">9999 items
								</option></select>						
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>
								<BR>
								<div id="skuresults" style="display:inline;">&nbsp;</div>
								</div>
							</td>
						</tr>
						
												
						</table>
					</form>	
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<td>
				<form name="pereport" method="post" action="">
					<div id="searchresults">&nbsp;</div>
				</form>			
				<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
					<ul class="TabbedPanelsTabGroup">
						<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Amz Report</strong></li>
					</ul>				
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent2">  
							<form name="pe3options" method="post" action="/mgt/pereport/amazon_grid.phtml" style="margin:0px">
							<input type="hidden" name="idlist" value="">
							<table>
							<tr>
								<td>
									<input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe3options, document.pereport);">Select All SKUs
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td class="g1"><div style="padding-top:3px"><B>Pick PL for FWS Calculation:</B></div></td>
								<td>
									<select name="fws_price_level" class="formSelect">
										<option value="-1">--- SELECT ----</option>
										<option value="1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?></option>
										<option value="2"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?></option>
										<option value="3"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?></option>
										<option value="4"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?></option>
										<option value="5"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?></option>
										<option value="6"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?></option>
										<option value="7"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?></option>
										<option value="8"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?></option>
										<option value="9"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?></option>
									</select>
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE3Report();"></td>
							</tr>
							<tr>
								<td><input type="radio" name="amazon_account" value="amazon" />Amazon</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td class="g1"><div style="padding-top:3px"><B>Use COST from vendor:</B></div></td>
								<td>
									<select name="sourcing" class="formSelect">
										<option value="-1">--- SELECT ----</option>
										<?
										
										$query = "select vendorid, vendorname from vendors order by vendorname";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ exit;  }
										while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
										{
											if(strlen($x_vendorname) > 25)
											{
												$x_vendorname = substr($x_vendorname, 0, 22)."...";
											}
										?>
											<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH_SKU"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
										<?	
										}
										?>
									</select>
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td>&nbsp;</td>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;&nbsp;&nbsp;</td>	
								<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
								<td>
									<select name="peid[]" class="formSelect">
										<option value="a9">Amazon</option>
									</select>
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;&nbsp;&nbsp;</td>	
								<td class="g1"><div style="padding-top:3px"><B>Acq fee:</B></div></td>
								<td>
									<input type="text" name="acq_perc" value="" class="formBox" style="width:50px;" /> % / 
									<input type="text" name="acq_val" value="" class="formBox" style="width:50px;" /> $ 
								</td>
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							</table>		
							</form>
							</div>				
					</div>	
				</div>				
			</td>
		</tr>
		</table>
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>