<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$eid = $etilizeid;
?>
	<H2>Datapak: <?=$etilizeid;?> will copy to PID: <?=$pid;?></H2>
	<BR><BR>
	<HR NOSHADE>
	<H2>Titles</H2>
	<?
	$query = "select type, isdefault, description from productdescriptions where productid = '$etilizeid' order by isdefault desc, type";
	if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($type, $isdefault, $descr) = mysql_fetch_array($qok))
	{
		?>
		"<?=$descr;?>" <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopyEtilizeData('<?=$eid;?>', '<?=$pid;?>', 'title', '<?=urlencode($descr);?>');"><BR><BR>
		<?
	}
	?>	
	<BR><BR>
	<HR NOSHADE>
	<?
	$query = "select sku from productskus where productid = '$eid' and name = 'UPC'";
	if(!$q4ok = mysql_db_query("etilize", $query, $mysqlid)){ echo "ERROR "; exit; }
	list($upc) = mysql_fetch_array($q4ok);
	?>
	UPC: <?=$upc;?> <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopyEtilizeData('<?=$eid;?>', '<?=$pid;?>', 'upc', '');">
	<HR NOSHADE>
	<BR><BR>
		<?
		$query = "select type, status from productimages where productid = '$etilizeid' order by type";
		if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($type, $status) = mysql_fetch_array($qok))
		{
			if($type == "User-Manual" || $type == "Manufacturer-Brochure" || $type == "HighResolution")
			{
				$contentlist['content'][] = "http://content.etilize.com/$type/$etilizeid.pdf";
				$contentlist['type'][] = $type;
			}
			else if($type ==  "Tour")
			{
				$contentlist['content'][] = "http://content.etilize.com/$type/$etilizeid/index.html";
				$contentlist['type'][] = $type;
			}
			else
			{
				$imagelist['image'][] = "http://content.etilize.com/$type/$etilizeid.jpg";
				$imagelist['type'][] = $type; 
				$imagelist['width'][] = "1300";
				$imagelist['showinfo'][] = "<B>Image is not hosted locally.</B>";
			}
		}		
		
		?>
		
		
			<table width=100%>
			<tr>
				<td width=50>
					<?
					for($xx = 0; $xx < count($imagelist['image']); $xx++)
					{
					?>
						<img src="<?=$imagelist['image'][$xx];?>" width=50 onMouseOver="swapImage('<?=$imagelist['image'][$xx];?>', '<?=$imagelist['image'][$xx];?>', '<?=$imagelist['width'][$xx];?>', '<?=$imagelist['showinfo'][$xx];?>');" ><BR>
						<div style="font-size:8px"><?=$imagelist['type'][$xx];?></font><BR>
						<input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopyEtilizeData('<?=$eid;?>', '<?=$pid;?>', 'image', '<?=$imagelist['image'][$xx];?>');">
						<HR NOSHADE>
					<?	
					}
					?>
				</td>
				
				<td width=100% valign=top>
					<table width=100%>
						<tr>
							<td align=center valign=top>
								<div id="InfoImage"><?=$imagelist['image'][0];?></div>
							</td>
						</tr>
						<tr>
							<td align=center valign=top>
								<img src="<?=$imagelist['image'][0];?>" ID="GALLERY" name="GALLERY">
							</td>
						</tr>
					</table>
					
					
				</td>
			</tr>
			</table>		
		
		<?
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "select displayvalue from productattribute where attributeid = '321452' and productid = '$etilizeid'";
		if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($salesdescr) = mysql_fetch_array($qok);
		
		if($salesdescr == "")
		{
			$query = "select displayvalue from productattribute where attributeid = '341452' and productid = '$etilizeid'";
			if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($salesdescr) = mysql_fetch_array($qok);
		}
		
		if(mysql_num_rows($qok) > 0)
		{
			?>
			<BR><BR>
			<HR NOSHADE>
			<H2>Sales Description <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopyEtilizeData('<?=$eid;?>', '<?=$pid;?>', 'sdescr', '');"></H2><BR>
			<?=$salesdescr;?>
			<?
		}
		// templatetype = 0 means basic....... 1 = detailed
		
		$query = "select categoryid from product where productid = '$etilizeid'";
		if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($categoryid) = mysql_fetch_array($qok);

				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		// New way as per anees@etilize.com 12/19/2011
		$query = "SELECT hn.name, an.name, pa.displayvalue FROM categoryheader ch
				      JOIN headernames hn ON ch.headerid = hn.headerid AND hn.localeid = 1
				      JOIN categorydisplayattributes cda ON ch.headerid = cda.headerid AND cda.categoryid = ch.categoryid AND cda.templatetype = ch.templatetype 
				      JOIN attributenames an ON cda.attributeid = an.attributeid AND an.localeid = hn.localeid
				      JOIN productattribute pa ON ch.categoryid = pa.categoryid AND cda.attributeid = pa.attributeid AND pa.productid = '$etilizeid' AND pa.localeid = hn.localeid
				      WHERE ch.templatetype = 0 ORDER BY ch.displayorder, cda.displayorder";
		if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			?>
			<BR><BR>
			<HR NOSHADE>
			<H2>Technical Specifications <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopyEtilizeData('<?=$eid;?>', '<?=$pid;?>', 'specs', '');"></H2><BR>
			<table>
			<?
			$lastheader = "";
			while( list($hname, $aname, $dv) = mysql_fetch_array($qok) )
			{
				if($hname != $lastheader)
				{
					?>
					<tr>
						<td colspan=2 bgcolor="#cccccc"><?=$hname;?></td>
					</tr>
					<?
				}
				?>
				<tr>
					<td valign=top><?=$aname;?></td>
					<td><?=$dv;?></td>
				</tr>
				<?
				
				$lastheader = $hname;
			}
			?>
			</table>
			<?			
		}
		else 
		{
			$query = "select ch.headerid, hn.name, ch.categoryid, cda.attributeid, an.name, pa.displayvalue 
						from categoryheader ch, categorydisplayattributes cda,  headernames hn, attributenames an, productattribute pa 
						where ch.headerid=cda.headerid 
						and ch.categoryid=cda.categoryid 
						and ch.templatetype = cda.templatetype 
						and hn.headerid=cda.headerid 
						and an.attributeid=cda.attributeid 
						and pa.attributeid=cda.attributeid 
						and pa.localeid=an.localeid 
						and cda.templatetype = 1 
						and an.localeid=1 
						and hn.localeid=1 
						and cda.categoryid = '$categoryid'
						and pa.productid = '$etilizeid' 
						order by ch.defaultdisplayorder, cda.defaultdisplayorder";
			if(!$qok = mysql_db_query("etilize", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) > 0)
			{
				?>
				<BR><BR>
				<HR NOSHADE>
				<H2>Technical Specifications <input type="button" name="Action" value="Copy" class="buttonItem" onclick="CopyEtilizeData('<?=$eid;?>', '<?=$pid;?>', 'specs', '');"></H2><BR>
				<table>
				<?
				$lastheader = "";
				while( list($hid, $hname, $catid, $aid, $aname, $dv) = mysql_fetch_array($qok) )
				{
					if($hname != $lastheader)
					{
						?>
						<tr>
							<td colspan=2 bgcolor="#cccccc"><?=$hname;?></td>
						</tr>
						<?
					}
					?>
					<tr>
						<td valign=top><?=$aname;?></td>
						<td><?=$dv;?></td>
					</tr>
					<?
					
					$lastheader = $hname;
				}
				?>
				</table>
				<?
			}
		}
		?>