<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;
REQUIRE($ROOT_DIR."/mgt/help_new/ckeditor.php") ;


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/******************************************************************************************/

$divid = intval($divid);
$usedivid = intval($usedivid);

if($Action == "Save")
{
	if(intval($id) > 0)
	{
		$mode = 0;
		
		$beginMarker = $efc->markTableChange("select * from product_descr where id = '$id' and divid = '$usedivid'");
		
		$tstamp = date("Y-m-d H:i:s", time());
		$sdescr = addslashes($sdescr);	
//		400MA REG TRANFORM	

		$query = "delete from product_descr where id = '$id' and divid = '$usedivid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
		$query = "insert into product_descr(id, data, divid) values('$id', '$sdescr', '$usedivid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$query = "insert into update_pool(type, updateid, tstamp) values('1', '$id', '$tstamp')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->findLogTableChange($beginMarker, $efc->markTableChange("select * from product_descr where id = '$id' and divid = '$usedivid'"), "1", "$id", "Product Descr Changed");
		
		$efc->touchSKU($id);
	}	
}

$salesdescr = $efc->getSalesDescr($id, $usedivid);

$sdescr = $amClass->cleanse($salesdescr);
//$sdescr = htmlentities($sdescr);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body>
<?
if(intval($id) <= 0)
{
	?>
	<table width=675>
	<tr>
		<td>
			You cannot edit the specs until a sku (id) has been created.  Try saving the sku before editing the specs.
		</td>
	</tr>
	</table>
	<?
}
else 
{
	if(intval($mode) == 0)
	{
		?>
		<div style="width=675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
			<div align=right>
			<form style="margin:0px;" name="changediv">
			<input type="hidden" name="id" value="<?=$id;?>">
			<table width=100%>
			<tr>
				<td align=left><B>Sales Description</B> <I><font color="#ff0000">(<?=strlen($sdescr);?> encoded characters)</font></I></td>
				<td align=right>
					<select name="usedivid" class="formSelect" onchange="document.changediv.submit();">
					<?
					$query = "select divid, sitename from site_list order by sitename";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($usediv, $sitename) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$usediv;?>" <?if($usedivid == $usediv) echo "SELECTED";?>><?=$sitename;?></option>
						<?
					}
					?>
					</select>
				</td>
				<td><div align=right><a href="/mgt/sm/sdescr_loader.phtml?id=<?=$id;?>&mode=1&usedivid=<?=$usedivid;?>">Edit Mode</a></div></td>
			</tr>
			</table>
			</form>
			</div>
		</div>		
		<table width=675>
		<tr>
			<td>
				<?=$salesdescr;?>
			</td>
		</tr>
		</table>	
		
		<?
	}
	else 
	{
		?>
		<div style="width:675;background:#ffffee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
			<div align=right>
			<form style="margin:0px;" name="changediv">
			<input type="hidden" name="id" value="<?=$id;?>">
			<table>
			<tr>
				<td align=right>
					<select name="usedivid" class="formSelect" onchange="document.changediv.submit();">
					<?
					$query = "select divid, sitename from site_list order by sitename";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($usediv, $sitename) = mysql_fetch_array($qok))
					{
						?>
						<option value="<?=$usediv;?>" <?if($usedivid == $usediv) echo "SELECTED";?>><?=$sitename;?></option>
						<?
					}
					?>
					</select>
				</td>
				<td><div align=right><a href="/mgt/sm/sdescr_loader.phtml?id=<?=$id;?>&mode=0&usedivid=<?=$usedivid?>">View Mode</a></div></td>
			</tr>
			</table>
			</form>
			</div>
		</div>	
		<form method="POST" target="_self" name="sdeskSaveForm" action="/mgt/sm/sdescr_loader.phtml">
		<table width=675>
		<tr>
			<td>
				<?
					/*$oFCKeditor = new FCKeditor('sdescr') ;
					$oFCKeditor->BasePath	= "/mgt/help/";
					$oFCKeditor->Value		= "$salesdescr";
					$oFCKeditor->Width = "675";
					$oFCKeditor->Height = "400";
					$oFCKeditor->ToolbarSet = "MyConfig";
					$oFCKeditor->Config['ToolbarStartExpanded'] = false;
					$oFCKeditor->Create() ;*/
					$CKEditor = new CKEditor();
					// Path to CKEditor directory, ideally instead of relative dir, use an absolute path:
					//   $CKEditor->basePath = '/ckeditor/'
					// If not set, CKEditor will try to detect the correct path.
					$CKEditor->basePath = '/mgt/help_new/';
					$CKEditor->config['width'] = 675;
					$CKEditor->config['height'] = 300;
					$CKEditor->config['skin'] = 'v2';
					$CKEditor->config['toolbarStartupExpanded'] = false;
//					$config['skin'] = 'v2';
					// Create textarea element and attach CKEditor to it.
					$CKEditor->editor("sdescr", $salesdescr);
				?>			
				<div align=right><input type="submit" name="Action" value="Save" class="buttonItem"></div>
				<input type="hidden" name="id" value="<?=$id;?>">
				<input type="hidden" name="usedivid" value="<?=$usedivid;?>">
				<input type="hidden" name="mode" value="0">
			</td>
		</tr>
		</table>	
		</form>
		<?	
	}
}
?>
</body>
</html>
