<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}
$addon = '';
if ($case_type != '') {
	$addon .=" AND case_type='".$case_type."'";
}
if ($case_status != '') {
	$addon .=" AND case_status='".$case_status."'";
}

$addon .=" AND case_type!='PAYPAL_SNAD' AND case_type!='PAYPAL_INR'";
$query = "select case_id,
					case_type,
					case_user_id,
					case_user_role,
					case_otherparty_userid,
					case_otherparty_role,
					case_status,
					case_item_id,
					case_item_title,
					case_transaction_id,
					case_qty,
					case_amount,
					case_currency,
					case_respond_date,
					case_creation_date,
					case_last_modified_date,
					case_notes
				FROM ebay_cases
				WHERE 1
				$addon
				ORDER BY case_id";	
//print_r($query);

if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = mysql_num_rows($q4ok);

$onrow = 0;
$numout = 0;

$ITEMS_PER_PAGE = 100;

if(intval($num2return) <= 0)
	$num2return = 100;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($q4ok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($q4ok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Cases on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>ID</B></td>
	<td align=center><B>Type</B></td>
	<!--<td align=center><B>User Id</B></td>
	<td align=center><B>User Role</B></td>-->
	<td align=center><B>Other User</B></td>
<!--	<td align=center><B>Other Role</B></td>-->
	<td align=center><B>Status</B></td>
	<td align=center><B>Item ID</B></td>
	<td align=center><B>Title</B></td>
	<td align=center><B>Trans. ID</B></td>
	<td align=center><B>Qty</B></td>
	<td align=center><B>Amount</B></td>
	<td align=center><B>Respond Date</B></td>
	<td align=center><B>Creation Date</B></td>
	<td align=center><B>Last Modified Date</B></td>
	<td align=center><B>Notes</B></td>
	<td align=center>&nbsp;</td>
</tr>
<?
while((list($case_id,$case_type,$case_user_id,$case_user_role,$case_otherparty_userid,$case_otherparty_role,$case_status,$case_item_id,$case_item_title,$case_transaction_id,$case_qty,$case_amount,$case_currency,$case_respond_date,$case_creation_date,$case_last_modified_date,$case_notes) = mysql_fetch_array($q4ok))  && ($numout < $ITEMS_PER_PAGE))
{
	
	if($onrow % 2) {
		echo "<tr bgcolor='#eeeeee' id='case_".$case_id."'>";
	}
	else {
		echo "<tr bgcolor='#ffffff' id='case_".$case_id."'>";
	}
	if ($case_respond_date>0) {
		$case_respond_date = date("Y-m-d",strtotime($case_respond_date));
	}
	else {
		$case_respond_date = '';
	}
	if ($case_creation_date>0) {
		$case_creation_date = date("Y-m-d",strtotime($case_creation_date));
	}
	else {
		$case_creation_date = '';
	}
	if ($case_last_modified_date>0) {
		$case_last_modified_date = date("Y-m-d",strtotime($case_last_modified_date));
	}
	else {
		$case_last_modified_date = '';
	}
	?>
		<td align=center>
			<?
				if ($case_type == 'EBP_SNAD' || $case_type == 'EBP_INR') {
                                    ?>
                                    <a href="javascript:void(0)" onclick="showDetails('<?=$case_id?>','<?=$case_type?>')"><?=$case_id?></a>
                                    <?
				}
				else {
                                    echo $case_id;
				}
			?>
		</td>
		<td align=center1><?=$case_type?></td>
		<!--<td align=center><?=$case_user_id?></td>
		<td align=center><?=$case_user_role?></td>-->
		<td align=center>
			<a href="javascript:void(0)" onclick="showOrders('<?=$case_otherparty_userid?>','<?=$case_id?>')" id="orders_<?=$case_id?>">
				<?=$case_otherparty_userid?>
			</a>
		</td>
<!--		<td align=center><?=$case_otherparty_role?></td>-->
		<td align=center><?=$case_status?></td>
		<td align=center><?=$case_item_id?></td>
		<td align=center><?=$case_item_title?></td>
		<td align=center><?=$case_transaction_id?></td>
		<td align=center><?=$case_qty?></td>
		<td align=center><?=$case_amount?></td>
		<td align=center><?=$case_respond_date?></td>
		<td align=center><?=$case_creation_date?></td>
		<td align=center><?=$case_last_modified_date?></td>
		<td align=center>
			<textarea class="formBox" id="notes_<?=$case_id?>"><?=$case_notes?></textarea>
		</td>
		<td align=center>
			<img src="/mgt/images/loading.gif" id="notesimg_<?=$case_id?>" style="display:none"/>
			<a href="javascript:void(0)" onclick="saveNotes('<?=$case_id?>')" id="savenotes_<?=$case_id?>">save</a>
		</td>
	</tr>
	<?
	$numout++;
	$onrow++;
}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Cases on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>