<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Ebay Cases</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/reports/ebay_payments/jquery.tooltip_new.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link href="/mgt/reports/ebay_payments/tooltip.css" rel="stylesheet" type="text/css" />
<STYLE>
.dialog {
display:none;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

.vmenuData {
	display:none;
	width:550px;
	height:74px;
	position:absolute;
	z-index:100;
	padding:2px;
	font-size:10px;
	font-face:arial;
	border:1px solid gray;
	height: auto; 
	left:0;
	top:0;
}

.vmenu2Data {
	width:400px;
	height:74px;
	position:absolute;
	z-index:100;
	background:#ffffee;
	padding:2px;
	font-size:12px;
	font-face:Tahoma;
	border:1px solid gray;
	overflow:auto;
}
.vmenu3Data {
	width:400px;
	height:20px;
	position:absolute;
	z-index:100;
	padding:2px;
	font-size:14px!important;
	font-face:Tahoma;
	overflow:auto;
	top:262px;
}
</STYLE>
<script>

(function($){

	/**
	 * Function for setting offset, created here so it's only created once rather than
	 * creating an anonymous function every time offset is called
	 */
	function setOffset(el, newOffset){
		var $el = $(el);

		// get the current css position of the element
		var cssPosition = $el.css('position');

		// whether or not element is hidden
		var hidden = false;

		// if element was hidden, show it
		if($el.css('display') == 'none'){
			hidden = true;
			$el.show();
		}

		// get the current offset of the element
		var curOffset = $el.offset();

		// if there is no current jQuery offset, give up
		if(!curOffset){
			// if element was hidden, hide it again
			if(hidden)
				$el.hide();
			return;
		}

		// set position to relative if it's static
		if (cssPosition == 'static') {
			$el.css('position', 'relative');
			cssPosition = 'relative';
		}

		// get current 'left' and 'top' values from css
		// this is not necessarily the same as the jQuery offset
		var delta = {
			left : parseInt($el.css('left'), 10),
			top: parseInt($el.css('top'), 10)
		};

		// if the css left or top are 'auto', they aren't numbers
		if (isNaN(delta.left)){
			delta.left = (cssPosition == 'relative') ? 0 : el.offsetLeft;
		}
		if (isNaN(delta.top)){
			delta.top = (cssPosition == 'relative') ? 0 : el.offsetTop;
		}

		if (newOffset.left || 0 === newOffset.left){
			$el.css('left', newOffset.left - curOffset.left + delta.left + 'px');
		}
		if (newOffset.top || 0 === newOffset.top){
			$el.css('top', newOffset.top - curOffset.top + delta.top + 'px');
		}

		// if element was hidden, hide it again
		if(hidden)
			$el.hide();
	}

	$.fn.extend({

		/**
		 * Store the original version of offset(), so that we don't lose it
		 */
		_offset : $.fn.offset,

		/**
		 * Set or get the specific left and top position of the matched
		 * elements, relative the the browser window by calling setXY
		 * @param {Object} newOffset
		 */
		offset : function(newOffset){
			return !newOffset ? this._offset() : this.each(function(){
				setOffset(this, newOffset);
			});
		}
	});

})(jQuery);

function pullReport(pagenumVal) {
	var type = $('#type').val();
	var status = $('#status').val();
	
	$('#savecover').show();
	$.get('ajax_getcases.phtml', 
		{
			'case_type':type,
			'case_status':status,
			'p':pagenumVal
		}, function(data) {
		$('#reportdata').html(data);
		$('#savecover').hide();	
	});
}
function gotoPage(pagenum)
{
	pullReport(pagenum);
}
function showDetails(case_id,case_type) {
	if($('#case_detail_'+case_id).length>0) {
		$('#case_detail_'+case_id).toggle();
	}
	else {
		$.get('ajax_getcases_detail.phtml', 
			{
				'case_id':case_id,
				'case_type':case_type
			}, function(data) {
				$('#case_'+case_id).after(data);
		});
	}
}
function viewPayment(case_id) {
	var pos = $('#payment_'+case_id).position();
	$('#menuData2Payment').html('');
	
	$.get('ajax_getcases_payment.phtml', 
		{
			'case_id':case_id
		}, function(data) {
			$('#menuData2Payment').html(data);
			var dlg = document.getElementById("menuDataPayment");
			dlg.style.display = "block";
			dlg.style.left  = pos.left-300;
			dlg.style.top  = pos.top+10;
	});
}
function viewHistory(case_id) {
	/*var pos = $('#history_'+case_id).position();
	$('#menuData2History').html('');
	
	$.get('ajax_getcases_history.phtml', 
		{
			'case_id':case_id
		}, function(data) {
			$('#menuData2History').html(data);
			var dlg = document.getElementById("menuDataHistory");
			dlg.style.display = "block";
			dlg.style.left  = pos.left-300;
			dlg.style.top  = pos.top+10;
	});*/	
	e2window("ajax_getcases_history.phtml?case_id="+case_id, "View History","history_"+case_id);
}
function closeWin(win_id) {
	$('#'+win_id).hide();
}
function getActivityForm(activityName,case_id,case_type) {
	if($('#activity_'+case_id+'_'+activityName+'_form').length>0) {
		$('#activity_'+case_id+'_'+activityName+'_form').toggle();
	}
	else {
		$.get('ajax_get_activity_form.phtml', 
			{
				'activityName':activityName,
				'case_id':case_id,
				'case_type':case_type
			}, function(data) {
				$('#activity_'+case_id+'_'+activityName).after(data);
		});
	}
}
function sendActivity(activityType,case_id,case_type,case_account) {
	var data = '';
        if(case_account == 'ace') {
            var ebay_url = '/mgt/ebay/scripts/test_ace_cases_activity_req.phtml';
        }
        else {
            var ebay_url = '/mgt/ebay/scripts/test_cases_activity_req.phtml';
        }
	
	if(activityType == 'appealToCustomerSupport') {
		var appeal_reason = $('#'+case_id+'_'+activityType+'_appeal_reason').val();
		var comments = $('#'+case_id+'_'+activityType+'_comments').val();
		
		$('#activity_'+case_id+'_'+activityType+'_img').show();
		
		data = {'appeal_reason':appeal_reason,'comments':comments};
		$.post(ebay_url, 
			{
				'activity_type':activityType,
				'appeal_reason':appeal_reason,
				'comments':comments
			}, function(data) {
				if(data == 'There was an error sending the respons') {
					$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
				}
				else {
					pullReport(1);	
				}
				
		});
	}
	if(activityType == 'escalateToCustomerSupport') {
		if(case_type == 'EBP_INR') {
			var buyer_inr = $('#'+case_id+'_'+activityType+'_buyer_inr').val();
			var seller_inr = $('#'+case_id+'_'+activityType+'_seller_inr').val();
			var comments = $('#'+case_id+'_'+activityType+'_comments').val();
			data = {'buyer_inr':buyer_inr,'seller_inr':seller_inr,'comments':comments};
			
			$.post(ebay_url, 
				{
					'activity_type':activityType,
					'buyer_inr':buyer_inr,
					'seller_inr':seller_inr,
					'comments':comments
				}, function(data) {
					if(data == 'There was an error sending the respons') {
						$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
					}
					else {
						pullReport(1);	
					}
			});
		}
		if(case_type == 'EBP_SNAD') {
			var buyer_snad = $('#'+case_id+'_'+activityType+'_buyer_snad').val();
			var seller_snad = $('#'+case_id+'_'+activityType+'_seller_snad').val();
			var comments = $('#'+case_id+'_'+activityType+'_comments').val();
			data = {'buyer_snad':buyer_snad,'seller_snad':seller_snad,'comments':comments};
			$.post(ebay_url, 
				{
					'activity_type':activityType,
					'buyer_snad':buyer_snad,
					'seller_snad':seller_snad,
					'comments':comments
				}, function(data) {
					if(data == 'There was an error sending the respons') {
						$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
					}
					else {
						pullReport(1);	
					}
			});
		}
	}
	if(activityType == 'issueFullRefund') {
		var comments = $('#'+case_id+'_'+activityType+'_comments').val();
		$.post(ebay_url, 
			{
				'case_id':case_id,
				'case_type':case_type,
				'activity_type':activityType,
				'comments':comments
			}, function(data) {
				if(data == 'There was an error sending the respons') {
					$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
				}
				else {
					pullReport(1);	
				}
		});
	}
	if(activityType == 'issuePartialRefund') {
		var amount = $('#'+case_id+'_'+activityType+'_amount').val();
		var comments = $('#'+case_id+'_'+activityType+'_comments').val();
		$.post(ebay_url, 
			{
                                'case_id':case_id,
				'case_type':case_type,
				'activity_type':activityType,
				'amount':amount,
				'comments':comments
			}, function(data) {
				if(data == 'There was an error sending the respons') {
					$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
				}
				else {
					pullReport(1);	
				}
		});
	}
	if(activityType == 'requestBuyerToReturn' || activityType == 'offerRefundUponReturn') {
		var instr = $('#'+case_id+'_'+activityType+'_return_instr').val();
		var city = $('#'+case_id+'_'+activityType+'_return_city').val();
		var country = $('#'+case_id+'_'+activityType+'_return_country').val();
		var name = $('#'+case_id+'_'+activityType+'_return_name').val();
		var zip = $('#'+case_id+'_'+activityType+'_return_zip').val();
		var state = $('#'+case_id+'_'+activityType+'_return_state').val();
		var street1 = $('#'+case_id+'_'+activityType+'_return_street1').val();
		var street2 = $('#'+case_id+'_'+activityType+'_return_street2').val();
		$.post(ebay_url, 
			{
				'case_id':case_id,
				'case_type':case_type,
				'activity_type':activityType,
				'instr':instr,
				'city':city,
				'country':country,
				'name':name,
				'zip':zip,
				'state':state,
				'street1':street1,
				'street2':street2
			}, function(data) {
				if(data == 'There was an error sending the respons') {
					$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
				}
				else {
					pullReport(1);	
				}
		});
	}
	if(activityType == 'offerOtherSolution') {
		var comments = $('#'+case_id+'_'+activityType+'_comments').val();
		$.post(ebay_url, 
			{
				'case_id':case_id,
				'case_type':case_type,
				'activity_type':activityType,
				'comments':comments
			}, function(data) {
				if(data == 'There was an error sending the respons') {
					$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
				}
				else {
					pullReport(1);	
				}
		});
	}
	if(activityType == 'provideTrackingInfo') {
		var comments = $('#'+case_id+'_'+activityType+'_comments').val();
		var carrier = $('#'+case_id+'_'+activityType+'_carrier').val();
		var tracking = $('#'+case_id+'_'+activityType+'_tracking').val();
		$.post(ebay_url, 
			{
				'case_id':case_id,
				'case_type':case_type,
				'activity_type':activityType,
				'comments':comments,
				'carrier':carrier,
				'tracking':tracking
			}, function(data) {
				if(data == 'There was an error sending the respons') {
					$('#activity_'+case_id+'_'+activityType+'_respons').html(data);
				}
				else {
					pullReport(1);	
				}
		});
	}
}
function showOrders(ebayaccid,case_id) {
	$('#dialog').html('');
	var pos = $('#orders_'+case_id).offset();
	
	if($('#case_orders_'+case_id).length>0) {
		$('#case_orders_'+case_id).toggle();
	}
	else {
		$.get('ajax_getorders.phtml', 
			{
				'ebayaccid':ebayaccid,
				'case_id':case_id
			}, function(data) {
				$('#dialog').html(data);
		});
	}
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	$("#dialog").offset({ top: pos.top, left: pos.left+20});
}
function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}
function saveNotes(case_id) {
	$('#savenotes_'+case_id).hide();
	$('#notesimg_'+case_id).show();
	var notes = $('#notes_'+case_id).val();
	$.get('ajax_savenotes.phtml', 
			{
				'notes':notes,
				'case_id':case_id
			}, function(data) {
				$('#savenotes_'+case_id).show();
				$('#notesimg_'+case_id).hide();
		});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
			    	<ul class="TabbedPanelsTabGroup">
			       		<li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
					</ul>
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent">  
							<?INCLUDE("form.phtml");?>
						</div>
					</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>
			</td>	
			<td>
			<!------------------------------------------------------------------------------------------>
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
<div id="dialog" class="dialog" onclick="hideMenu();">

</div>
<div class="vmenuData" name="menuData1_order" id="menuDataPayment" style="width:450;height:300;background:#eeeeee;">
	<div class="vmenu2Data" id="menuData2Payment" style="width:445px;height:250px">
		
	</div>
	<div class="vmenu3Data" style="width:445px;height:50px">
		<a href="javascript:void(0)" onclick="closeWin('menuDataPayment')">close</a>
	</div>
</div>
<div class="vmenuData" name="menuData1_order" id="menuDataHistory" style="width:450;height:300;background:#eeeeee;">
	<div class="vmenu2Data" id="menuData2History" style="width:445px;height:250px">
		
	</div>
	<div class="vmenu3Data" style="width:445px;height:50px">
		<a href="javascript:void(0)" onclick="closeWin('menuDataHistory')">close</a>
	</div>
</div>
</body>
</html>