<html>
   <head>
      <title>Sales By Salesman</title>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</head>
<body bgcolor="#ffffff">
</body>
<table>
	<tr>
		 <td class="uline" height=21 align=center><B><u>Salesman</u></B></td><td>&nbsp;</td>
		 <td class="uline" height=21 align=center><B><u># Orders</u></B></td><td>&nbsp;</td>
		<td class="uline" height=21 align=center><B><u>Total Sales</u></B></td><td>&nbsp;</td>
	</tr>
	<tr>

<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//$today = date("Y-m-d");
$today = '2009-01-01';
if($bdate == ""){
	$startdate = $today;
}else{
$dateArr = explode("/",$bdate);
$startdate = $dateArr[2]."-".$dateArr[0]."-".$dateArr[1];	
}
if($edate ==""){
	$enddate = $today;
}else{
$enddateArr = explode("/",$edate);
$enddate = $dateArr[2]."-".$dateArr[0]."-".$dateArr[1];	
}
 
$query = " SELECT DISTINCT (arepid), count( * ) , sum( total ) AS tsales, users.displayname as name FROM customer_orders, users
WHERE orderdate >= UNIX_TIMESTAMP( '$startdate 00:00:00' )
AND orderdate <= UNIX_TIMESTAMP( '$enddate 23:59:59' )
AND customer_orders.arepid = users.id GROUP BY arepid order by tsales desc LIMIT 0 , 30 ";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($queue,$order,$sales,$name) = mysql_fetch_array($qok)) 
{
if($sales == "") { continue; }
// echo "<td class=\"tline\" height=21 align=left>$queue</td><td>&nbsp;</td>";
echo "<td class=\"tline\" height=21 align=left>$name</td><td>&nbsp;</td>";
echo "<td class=\"tline\" height=21 align=center>$order</td><td>&nbsp;</td>";
echo "<td class=\"tline\" height=21 align=right>$sales</td><td>&nbsp;</td>";
echo "</tr>";

//echo "$status ($count) $sumtotal\n";
}	
?>
</html>