<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

function extractCatID($data)
{
	$hita = strpos($data, "(");
	$hitb = strpos($data, ")");
	
	$catid = substr($data, $hita + 1, $hitb - $hita - 1);
	$catname = substr($data, $hitb + 1);
	
	return array($catid, $catname);
}

/*$query = "select count(*) from ebay_listings where ecampid = '$ebaycampaignid' AND active = '1'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($numlistings) = mysql_fetch_array($q2ok);	
*/

$filename = "/home/httpd/efluent_core/mgt/shop/shop_categories.csv";

$fp = fopen($filename, "r");

if(!$fp)
{
	echo "Error Opening File\n";
	exit;
}

while($data = fgetcsv($fp))
{
	list($cat, $sub) = explode("/", $data[1]);
	
	$cat = trim(str_replace("[v2.3]", "", $cat));
	$sub = trim($sub);
	
	list($catid, $catname) = extractCatID($cat);
	list($subid, $subname) = extractCatID($sub);
	
	$catname = addslashes($catname);
	$subname = addslashes($subname);
	
	echo "CAT: [$catid] $catname SUB: [$subid] $subname<BR>";
	
	$query = "select id from categories where shopcatid = '$catid' AND parentid = '0'";
	if(!$qok = mysql_db_query("shop", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	if(mysql_num_rows($qok) <= 0)
	{
		$query = "insert into categories(shopcatid, catname, parentid) values('$catid', '$catname', 0)";
		if(!$qok = mysql_db_query("shop", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		$useparentid = mysql_insert_id();
		
		echo ".... creating parentid: $useparentid (echo $query)<BR>";
	}
	else 
	{
		list($useparentid) = mysql_fetch_array($qok);
		echo ".... already got parentid: $useparentid<BR>";
	}
	
	if(intval($useparentid) <= 0)
	{
		echo "NO INSERT_ID<BR>";
		exit;
	}
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$query = "select id from categories where shopcatid = '$subid' AND parentid = '$useparentid'";
	if(!$qok = mysql_db_query("shop", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	if(mysql_num_rows($qok) <= 0)
	{
		$query = "insert into categories(shopcatid, catname, parentid) values('$subid', '$subname', '$useparentid')";
		if(!$qok = mysql_db_query("shop", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
		
		echo ".... creating subid: $useparentid<BR>";
	}
	
	
}

fclose($fp);
?>
