<?
/*ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);*/
ini_set('memory_limit', '64M');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}

if ($report_id != '') {
	$other_addon = " AND "; 
	$report_id_arr_other = explode(",",$report_id);
	foreach ($report_id_arr_other as $k=>$v) {
		if ($v !='') {
			$other_addon .= "report_id ='$v' OR ";
		}
	}
	$other_addon = substr($other_addon,0,-3);
}
$bdate_addon_other = $edate_addon_other = "";
if($bdate != "") $bdate_addon_other .= " AND PostedDate >= '".date("Y-m-d H:i:s",strtotime("$bdate 00:00:00"))."'";
if($edate != "") $edate_addon_other .= " AND PostedDate <= '".date("Y-m-d H:i:s",strtotime("$edate 23:59:59"))."'";

$q = "SELECT report_id,TransactionType,PostedDate,Amount,AmazonOrderID FROM fba_max_settlement_other WHERE 1$other_addon $bdate_addon_other $edate_addon_other";
//print_r($q);
?>
<br/><br/>
<b>Other Transactions</b>
<table width=99% id="results">
	<tr bgcolor="#eeeeee">
		<td align=center><b>Report Id</b></td>
		<td align=center><b>Transaction Type</b></td>
		<td align=center><b>Posted Date</b></td>
		<td align=center><b>Amount</b></td>
		<td align=center><b>Order Id</b></td>
	</tr>
	<?
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($report_id,$TransactionType,$PostedDate,$Amount,$AmazonOrderID) = mysql_fetch_array($qok)) {
		?>
		<tr>
			<td align=center><?=$report_id?></td>
			<td align=center><?=$TransactionType?></td>
			<td align=center><?=$PostedDate?></td>
			<td align=center><?=$Amount?></td>
			<td align=center><?=$AmazonOrderID?></td>
		</tr>
		<?
	}
	?>
</table>