<?
//ini_set('display_errors',1);
//error_reporting(E_ALL^E_NOTICE);
//print_r("aaaa");
ini_set('memory_limit', '64M');
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

REQUIRE($ROOT_DIR."/mgt/reports/settlement_max/access.phtml");
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if ($action == 'upload_file') {
	$target_path = "files/";
	$target_path = $target_path . basename( $_FILES['csv_report']['name']); 
	$ext = substr($_FILES['csv_report']['name'],-3);
	$fl = substr($_FILES['csv_report']['name'],0,-4);
	$k=0;
	while (file_exists($target_path))
	{
		
		$filename = $fl."_".$k.".".$ext;// creates the path where the file is to be uploaded
		$target_path = "files/". $filename;
		$k++;
	}
	if(move_uploaded_file($_FILES['csv_report']['tmp_name'], $target_path)) {
		
	} else{
	    echo "There was an error uploading the file, please try again!";
	}

}
if ($action == 'fix_pid') {
	$xxx = 0;
	$query = "SELECT SKU from fba_max_settlement_order_items";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($sku) = mysql_fetch_array($qok))
	{
		$q1 = "SELECT pid from fba_sku_map WHERE fba_sku='".$sku."'";
		if(!$q4ok = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($q4ok)>0) {
			list($pid) = mysql_fetch_array($q4ok);
			$q2 = "UPDATE fba_max_settlement_order_items SET OUR_SKU='".$pid."' WHERE SKU='".$sku."'";
			if(!$q6ok = mysql_db_query($DB, $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$xxx++;
		}
	}
//	print_r($xxx);
}
if ($handle = opendir('files')) {
    while (false !== ($file = readdir($handle))) {
        if ($file != "." && $file != ".." && $file != ".svn") {
            $files[] = $file;
        }
    }
    closedir($handle);
}
?>
<HTML>
<HEAD>
<TITLE>FBA Settlement Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/reports/ebay_payments/jquery.tooltip_new.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link href="/mgt/reports/ebay_payments/tooltip.css" rel="stylesheet" type="text/css" />
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function stateChanged()
{
	if(xmlHttp.readyState==4)
	{
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n");

		if(lines.length <= 2)
		{
			getBrands();
			return;
		}

		document.getElementById("cat"+g_level+"d").style.display = '';

		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';

			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--)
			{
				theSelect.remove(i);
			}
		}

		var theSelect = document.getElementById("cat"+g_level);
		var i;


		for (i = theSelect.length - 1; i>=0; i--)
		{
			theSelect.remove(i);
		}

		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");

			if(data[0] != "")appendOption(data);
		}

		//searchSKUs();
		getBrands();
	}
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;

	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	}

	var thislevel = level - 1;
	var varname = "cat"+thislevel;

	if(thislevel == 0) 	cat = document.settlement.cat0.options[ document.settlement.cat0.selectedIndex ].value;
	if(thislevel == 1) 	cat = document.settlement.cat1.options[ document.settlement.cat1.selectedIndex ].value;
	if(thislevel == 2) 	cat = document.settlement.cat2.options[ document.settlement.cat2.selectedIndex ].value;
	if(thislevel == 3) 	cat = document.settlement.cat3.options[ document.settlement.cat3.selectedIndex ].value;
	if(thislevel == 4) 	cat = document.settlement.cat4.options[ document.settlement.cat4.selectedIndex ].value;

	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
	{
		getBrands();
		return;
	}

	g_cat = cat;

	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);

	nOption = document.createElement('option');
	isData = document.createTextNode(data[1]);
	nOption.setAttribute('value',data[0]);
	nOption.appendChild(isData);

	//isList = document.advform.cat1;
	theSelect.appendChild(nOption);
}
function getBrands()
{
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/sm/ajax_getbrands.phtml?catid="+g_cat+"&sid="+Math.random();

	//window.open( url );

	xmlCHttp.onreadystatechange=gotBrands;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);

}

function gotBrands()
{
	if(xmlCHttp.readyState==4)
	{
		//alert(xmlCHttp.responseText);
		var theSelect = document.getElementById("brand");

		for (i = theSelect.length - 1; i>=0; i--)
		{
			theSelect.remove(i);
		}

		var lines=xmlCHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");

			if(data[0] != "")
			{
				nOption = document.createElement('option');
				isData = document.createTextNode(data[1]);
				nOption.setAttribute('value',data[0]);
				nOption.appendChild(isData);

				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);
			}
		}

	}
}
function importFile() {
	var of = $('#file_select').val();
	if(of != '') {
		$('#reportdata').html('<img src="/mgt/images/loading.gif" alt="" />');
		$.post('ajax_aar.phtml?f='+of, function(data) {
			if(data == 'Success') {
				alert('File imported');
				$('#reportdata').html('');
			}
		});
	}
}
function getReport(expval) {
	var report_id = $('#report_id').val();
	if(report_id == null) {
		report_id = '';
	}
	var pid = $('#pid').val();
	var report_type = $('#report_type').val();
	var cat0 = $('#cat0').val();
	var cat1 = $('#cat1').val();
	var cat2 = $('#cat2').val();
	var cat3 = $('#cat3').val();
	var cat4 = $('#cat4').val();
	var brand = $('#brand').val();
	var excl_brand = $('#excl_brand').val();
	var vendorid = $('#vendorid').val();
	var assignedto = $('#assignedto').val();
	var listid = $('#listid').val();
	var whid = $('#whid').val();
	var bdate = $('#bdate').val();
	var edate = $('#edate').val();
	if($('#hide_columns').is(':checked')) {
		var hide_columns = 1;
	}
	else {
		var hide_columns = 0;
	}
	if(cat0 == '0') {
		cat0 ='';
	}
	if(cat1 == '0') {
		cat1 ='';
	}
	if(cat2 == '0') {
		cat2 ='';
	}
	if(cat3 == '0') {
		cat3 ='';
	}
	if(cat4 == '0') {
		cat4 ='';
	}
	$('#reportdata').html('<img src="/mgt/images/loading.gif" alt="" />');
	
	if(report_type == '1') {
		if(expval == '1') {
			var rep_file = 'ajax_report_export.phtml';
		}
		else {
			var rep_file = 'ajax_report.phtml';	
		}
		
	}
	if(report_type == '2') {
		var rep_file = 'ajax_report_adjustments.phtml';
	}
	if(report_type == '3') {
		var rep_file = 'ajax_report_other.phtml';
	}
	if(report_type == '4') {
		var rep_file = 'ajax_report_fws.phtml';
	}
	if($('#rate_change').length>0) {
		var rate_change = $('#rate_change').val();
	}
	else {
		var rate_change = 0;
	}
	if($('#show_before_after').length>0) {
		if($('#show_before_after').is(':checked')) {
			var show_before_after = 1;
		}
		else {
			var show_before_after = 0;
		}
	}
	else {
		var show_before_after = 0;
	}
	
	if(expval == '1') {
		var url = rep_file+"?report_id=["+report_id+"]";
			url += "&excl_brand=["+excl_brand+"]";
			url += "&cat0="+cat0;
			url += "&cat1="+cat1;
			url += "&cat2="+cat2;
			url += "&cat3="+cat3;
			url += "&cat4="+cat4;
			url += "&brand="+brand;
			url += "&vendorid="+vendorid;
			url += "&assignedto="+assignedto;
			url += "&listid="+listid;
			url += "&pid="+pid;
			url += "&bdate="+bdate;
			url += "&whid="+whid;
			url += "&edate="+edate;
			url += "&rate_change="+rate_change;
			url += "&show_before_after="+show_before_after;
			url += "&hide_columns="+hide_columns;
		window.open(url);
		
//		var cvr = document.getElementById("savecover");
//		cvr.style.display = "none";
		$('#reportdata').html('');
	}
	else {
		$.post(rep_file,{
			"report_id":[report_id],
			"cat0":cat0,
			"cat1":cat1,
			"cat2":cat2,
			"cat3":cat3,
			"cat4":cat4,
			"brand":brand,
			"excl_brand":[excl_brand],
			"vendorid":vendorid,
			"assignedto":assignedto,
			"listid":listid,
			"pid":pid,
			"bdate":bdate,
			"whid":whid,
			"edate":edate,
			"rate_change":rate_change,
			"show_before_after":show_before_after,
			"hide_columns":hide_columns
			}, 
			function(data) {
				$('#reportdata').html(data);
			});
	}
}
function openCSV() {
	var fileSel = $('#file_select').val();
	if(fileSel != '') {
		getReport(fileSel);
	}
}
function orderDetail(pid,report_id,whid,show_cost_change,show_cost_change_green)
{
	if( document.getElementById("row"+pid).style.display=='none' )
	{
  		document.getElementById("row"+pid).style.display = '';
  		document.getElementById("image"+pid).src = "/mgt/images/minus.gif";
  		
		var bdate = $('#bdate').val();
		var edate = $('#edate').val();
		
		var url="ajax_drilldown.phtml";
		url += "?sku="+pid+"&report_id="+report_id+"&whid="+whid+"&show_cost_change="+show_cost_change+"&show_cost_change_green="+show_cost_change_green+"&bdate="+bdate+"&edate="+edate;	
		
		
		xmlHttp=GetXmlHttpObject();
			
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
	  	//window.open(url);
	  	
	 	xmlHttp.onreadystatechange=gotDrilldownReport;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
 	}
 	else
 	{
  		document.getElementById("row"+pid).style.display = 'none';
  		document.getElementById("image"+pid).src = "/mgt/images/plus.gif";
 	}
}
function orderDetailFWS(pid,report_id,whid,show_cost_change,show_cost_change_green)
{
	if( document.getElementById("row"+pid).style.display=='none' )
	{
  		document.getElementById("row"+pid).style.display = '';
  		document.getElementById("image"+pid).src = "/mgt/images/minus.gif";
  		
		var bdate = $('#bdate').val();
		var edate = $('#edate').val();
		
		var url="ajax_drilldown_fws.phtml";
		url += "?sku="+pid+"&report_id="+report_id+"&whid="+whid+"&show_cost_change="+show_cost_change+"&show_cost_change_green="+show_cost_change_green+"&bdate="+bdate+"&edate="+edate;	
		
		
		xmlHttp=GetXmlHttpObject();
			
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
	  	//window.open(url);
	  	
	 	xmlHttp.onreadystatechange=gotDrilldownReport;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
 	}
 	else
 	{
  		document.getElementById("row"+pid).style.display = 'none';
  		document.getElementById("image"+pid).src = "/mgt/images/plus.gif";
 	}
}
function gotDrilldownReport()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split('|');
		var pid = data[0];
		
		document.getElementById("display"+pid).innerHTML = data[1];
	}		
}
function orderDetailAdj(pid,report_id,whid)
{
	if( document.getElementById("row"+pid).style.display=='none' )
	{
  		document.getElementById("row"+pid).style.display = '';
  		document.getElementById("image"+pid).src = "/mgt/images/minus.gif";
  		
		var bdate = $('#bdate').val();
		var edate = $('#edate').val();
		
		var url="ajax_drilldown_adj.phtml";
		url += "?sku="+pid+"&report_id="+report_id+"&whid="+whid+"&bdate="+bdate+"&edate="+edate;	
		
		
		xmlHttp=GetXmlHttpObject();
			
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
	  	//window.open(url);
	  	
	 	xmlHttp.onreadystatechange=gotDrilldownReportAdj;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
 	}
 	else
 	{
  		document.getElementById("row"+pid).style.display = 'none';
  		document.getElementById("image"+pid).src = "/mgt/images/plus.gif";
 	}
}
function gotDrilldownReportAdj()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split('|');
		var pid = data[0];
		
		document.getElementById("display"+pid).innerHTML = data[1];
	}		
}
function clearReport()
{
	document.getElementById("cat0").selectedIndex = 0;
	document.getElementById("cat1d").style.display = 'none';
	document.getElementById("cat2d").style.display = 'none';
	document.getElementById("cat3d").style.display = 'none';
	document.getElementById("cat4d").style.display = 'none';
	document.getElementById("report_id").selectedIndex = 0;
	document.getElementById("report_type").selectedIndex = 0;
	document.getElementById("whid").selectedIndex = 0;
	document.getElementById("brand").selectedIndex = 0;
	document.getElementById("vendorid").selectedIndex = 0;
	document.getElementById("assignedto").selectedIndex = 0;
	document.getElementById("listid").selectedIndex = 0;
	document.getElementById("bdate").value = '';
	document.getElementById("edate").value = '';
	document.getElementById("pid").value = '';
	/*document.ivaluation.vendorid.selectedIndex = 0;*/
//	document.ivaluation.keywords.value = "";

	document.getElementById("reportdata").innerHTML = "";
	
}
function saveNewCost(pid) {
	var cost_save = '';
	$('.cost_arr_'+pid).each(function(){
		cost_save += $(this).val()+',';
	});
	var cost_value = $('#cost_'+pid).val();
//	$('#reportdata').html('<img src="/mgt/images/loading.gif" alt="" />');
	$.post('save_cost.phtml',{
		"cost_arr":[cost_save],
		"cost":cost_value
		}, 
	function(data) {
//		getReport();
	});
}
function saveCF(cf,pid) {
	$('#cf_'+pid).css('background-color','#ffeeee');
	var cf_val = $('#cf_'+pid).val();
	$.post('save_cf.phtml',{
		"pid":pid,
		"cf":cf,
		"cf_val":cf_val
		}, 
	function(data) {
		$('#cf_'+data).css('background-color','#ffffff');
	});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td colspan="2">
			<!------------------------------------------------------------------------------------------>
			<table cellpadding="0" cellspacing="0" border="0" style="font-size:12px;">
				<tr>
			<!--		<td>
					Files: 
						<select id="file_select">
							<option value="">Please select a file</option>
							<?
								foreach ($files as $f) {
									?>
										<option value="<?=$f?>"><?=substr($f,0,-4)?></option>
									<?
								}
							?>
						</select>
					</td>
					<td style="padding-left:50px">
						<input type="button" value="Import Report" onclick="importFile()" />
					</td>
					<td style="padding-left:50px">
						<form method="POST" enctype="multipart/form-data">
							Upload files:
							<input type="file" name="csv_report">
							<input type="hidden" name="action" value="upload_file"/>
							<input type="submit" value="Upload">
						</form>
					</td>-->
			<td>
				<span style="font-size:20px;font-weight:bold;color:red;line-height:20px">Max</span>
			</td>
							<td style="padding-left:50px">
						<a href="default.phtml?action=fix_pid">ReMatch FBA Skus</a>
					</td>
				</tr>
				<tr>
					<td >&nbsp;</td>
				</tr>
			</table>
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		<tr>
			<td width=300>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:300px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("aar_form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>	
			<td>
				<div id="reportdata">&nbsp;</div>
			</td>		
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>