<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Order Entry</title>
<script language="JavaScript" src="FusionCharts.js"></script>
</head>
   <body bgcolor="#ffffff">
   	 <div id="chartdiv" align="center"> </div>
		<script type="text/javascript">
		   var chart = new FusionCharts("StackedColumn3D.swf", "ChartId", "425", "300", "0", "0");
		   chart.setDataURL("data.phtml");		   
		   chart.render("chartdiv");
		</script> 
</html>