<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/******************************************************************************************/

////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
$addon ="";
$addtables ="";
if($pid) {
	$addon .= " AND product_list.id = '$pid' ";
}
if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND product_list.id = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND product_list.id NOT IN (select pid from sku_assignment) ";}

if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00");
    $xedate = strtotime("$edate 23:59:59");
    if($bdate != "") {
        $addon .= " AND am_product_reviews_info.review_date >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND  am_product_reviews_info.review_date <= '".$xedate."'";
    }
}
if($stars !='') {
    $addon .= " AND  am_product_reviews_info.review_stars = '".$stars."'";
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
$query = "select product_list.id, am_product_reviews.asin, am_product_reviews_info.review_stars, am_product_reviews_info.review_title,am_product_reviews_info.review_descr,am_product_reviews_info.review_date
                FROM am_product_reviews_info,am_product_reviews,product_list$addtables
				where product_list.asin=am_product_reviews.asin
                      AND am_product_reviews.id=am_product_reviews_info.pid
						$addon 
				order by am_product_reviews_info.review_date DESC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
$totalnum = mysql_num_rows($qok);

if($totalnum > 0)
{
	$ITEMS_PER_PAGE = $num2return;
	$numpages = 0;
				
	if(intval($p) == 0)	$p = 1;
				
	$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
	$numpages = sprintf("%.00f", $numpages );
					
	$nextpage = $lastpage = 0;
					
	if(($p + 1) <= $numpages)$nextpage = $p + 1;
	if(($p - 1) >= 1)$lastpage = $p - 1;
							
	$offset = ($p - 1) * $ITEMS_PER_PAGE;
	if($totalnum > 0) 
	$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
				
	if($eview > $totalnum)
		$eview = $totalnum;
	if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
	if(intval($num2return) <= 0)	$num2return = 50;	

?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"goToPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> Labels on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
				<input type="button" name="" value="Go" onclick="goToPage();" class="buttonItem">
		</td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"goToPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">

	<tr bgcolor="#eeeeee">
	    <td><b>PID</b></td>
	    <td><b>ASIN</b></td>
	    <td><b>Stars</b></td>
	    <td><b>Title</b></td>
	    <td><b>Descr.</b></td>
	    <td><b>Date</b></td>
	</tr>
	<?
	while ((list($prodid,$asin,$review_star, $review_title,$review_descr,$review_date) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE)){
	$numout++;
	?>
	<tr <?if ($numout%2) {echo " bgcolor=\"#eeeeee\"";}?>>
	    <td><a href="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$prodid?>&inwin=1', 'Edit SKU: <?=$prodid?>','logitem_<?=$prodid?>');" id="logitem_<?=$prodid?>">
	    		<?=$prodid?>
	    	</a></td>
	    <td><?=$asin?></td>
	    <td><?=$review_star?></td>
	    <td><?=$review_title?></td>
	    <td><?=$review_descr?></td>
	    <td><?=date('Y-m-d',$review_date)?></td>
	</tr>	
	<?
	}
	?>

</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"goToPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> Labels on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
				<input type="button" name="" value="Go" onclick="goToPage();" class="buttonItem">
		</td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"goToPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<?}?>