<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/******************************************************************************************/

////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
$addon ="";
$addtables ="";
if($pid) {
	$addon .= " AND product_list.id = '$pid' ";
}
if(intval($assignedto) > 0)
{ $addtables .= ", sku_assignment "; $addon .= " AND sku_assignment.userid = '$assignedto' AND product_list.id = sku_assignment.pid ";}
else if(intval($assignedto) == "UN")
{ $addon .= " AND product_list.id NOT IN (select pid from sku_assignment) ";}

if($disable_range == 'false') {
    $xbdate = strtotime("$bdate 00:00:00");
    $xedate = strtotime("$edate 23:59:59");
    if($bdate != "") {
        $addon .= " AND am_product_reviews_info.review_date >= '".$xbdate."'";
    }
    if($edate != "") {
        $addon .= " AND  am_product_reviews_info.review_date <= '".$xedate."'";
    }
}
if($stars !='') {
    $addon .= " AND  am_product_reviews_info.review_stars = '".$stars."'";
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
$query = "select am_product_reviews_info.review_stars, am_product_reviews_info.review_title,am_product_reviews_info.review_descr,am_product_reviews_info.review_date
                FROM am_product_reviews_info,am_product_reviews,product_list$addtables
				where product_list.id=am_product_reviews.prodid
                      AND am_product_reviews.id=am_product_reviews_info.pid AND
                          am_product_reviews.asin='".$asin."'
						$addon 
				order by am_product_reviews_info.review_date DESC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
$totalnum = mysql_num_rows($qok);

if($totalnum > 0)
{
	$ITEMS_PER_PAGE = $num2return;
	$numpages = 0;
				
	if(intval($p) == 0)	$p = 1;
				
	$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
	$numpages = sprintf("%.00f", $numpages );
					
	$nextpage = $lastpage = 0;
					
	if(($p + 1) <= $numpages)$nextpage = $p + 1;
	if(($p - 1) >= 1)$lastpage = $p - 1;
							
	$offset = ($p - 1) * $ITEMS_PER_PAGE;
	if($totalnum > 0) 
	$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
				
	if($eview > $totalnum)
		$eview = $totalnum;
	if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
	if(intval($num2return) <= 0)	$num2return = 50;	

?>
<tr id='tr_res_<?=$asin?>'>
    <td colspan='4'>
        <table width=90% style="border:1px solid black;margin-left:30px;float: left">

            <tr bgcolor="#eeeeee">
                <td><b>Stars</b></td>
                <td><b>Title</b></td>
                <td><b>Descr.</b></td>
                <td><b>Date</b></td>
            </tr>
            <?
            while (list($review_star, $review_title,$review_descr,$review_date) = mysql_fetch_array($qok)){
            $numout++;
            ?>
            <tr>
                <td style='border-bottom: 1px dotted black'><?=$review_star?></td>
                <td style='border-bottom: 1px dotted black'><?=$review_title?></td>
                <td style='border-bottom: 1px dotted black'><?=$review_descr?></td>
                <td style='border-bottom: 1px dotted black'><?=date('Y-m-d',$review_date)?></td>
            </tr>	
            <?
            }
            ?>

        </table>
    </td>
</tr>
<?}?>