<form name="skusearch">
	<table>
	<tr>
		<td class="g1">Keyword:</td>
		<td>
			<input type="text" class="formBox" name="keywords" id="keywords" style="width:114px;" onkeypress="return cancelReturn(this, event)">
		</td>
	</tr>
	<tr>
		<td class="g1">PID:</td>
		<td>
			<input type="text" class="formBox" name="pid" id="pid" style="width:114px;" onkeypress="return cancelReturn(this, event)">
		</td>
	</tr>
	<tr>
		<td class="g1">Stat:</td>
		<td>
			<select name="status" id="status" class="formSelect" multiple style="height:150px;">
				<option value="">----- SELECT --------</option>
				<option value="WORKING">WORKING</option>
				<option value="SHIPPED">SHIPPED</option>
				<option value="IN_TRANSIT">IN TRANSIT</option>
				<option value="DELIVERED">DELIVERED</option>
				<option value="CHECKED_IN">CHECKED IN</option>
				<option value="RECEIVING">RECEIVING</option>
				<option value="CLOSED">CLOSED</option>
				<option value="CANCELLED">CANCELLED</option>
				<option value="DELETED">DELETED</option>
				<option value="ERROR">ERROR</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td class="g1">EXCL Stat:</td>
		<td>
			<select name="exclude_status" id="exclude_status" class="formSelect" multiple style="height:150px;">
				<option value="">----- SELECT --------</option>
				<option value="WORKING">WORKING</option>
				<option value="SHIPPED">SHIPPED</option>
				<option value="IN_TRANSIT">IN TRANSIT</option>
				<option value="DELIVERED">DELIVERED</option>
				<option value="CHECKED_IN">CHECKED IN</option>
				<option value="RECEIVING">RECEIVING</option>
				<option value="CLOSED">CLOSED</option>
				<option value="CANCELLED">CANCELLED</option>
				<option value="DELETED" selected>DELETED</option>
				<option value="ERROR">ERROR</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td class="g1">Assgn:</td>
		<td>
			<select name="assigned" id="assigned" class="formSelect">
				<option value="">----- SELECT --------</option>
				<?
					$query = "select id, displayname from users order by displayname";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
					{
						?>
							<option value="<?=$x_userid?>"><?=$x_displayname?></option>
						<?
					}
				?>
			</select>	
		</td>
	</tr>
	<tr>
		<td class="g1">Exc Com:</td>
		<td>
			<input type="checkbox" name="exc_complete" id="exc_complete" checked>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<div align=center>
				<input type="button" name="" value="Search" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
				<input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
			</div>
		</td>
	</tr>	
	<tr>
		<td colspan=2>
			<div align=center>
				<div id="skuresults" style="display:inline;">&nbsp;</div>
				<div id="poolresults" style="display:inline;">&nbsp;</div>		
			</div>
		</td>
	</tr>
	</table>
</form>	
<!--------------------------------------------------------------->