					<form name="logsearch">
						<table>
						<tr>
							<td class="g1"><div style="padding-top:2px;">PID:</div></td>
							<td>
								<input type="text" name="pid" style="width:125px" 
											value="" 
											class="formBox"
											>
							</td>
						</tr>	
                        <tr>
							<td class="g1"><div style="padding-top:2px;">Keyword:</div></td>
							<td>
								<input type="text" name="keyword" style="width:125px" 
											value="" 
											class="formBox"
											>
							</td>
						</tr>	
						<tr>
							<td class="g1">Log Date:</td>
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1" <?if($_SESSION["EBYAY_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
								<option value="6" <?if($_SESSION["EBYAY_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
								<option value="2" <?if($_SESSION["EBYAY_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
								<option value="3" <?if($_SESSION["EBYAY_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
								<option value="4" <?if($_SESSION["EBYAY_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
								<option value="5" <?if($_SESSION["EBYAY_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
							</select>
							<BR>							
							<input type="checkbox" name="disable_range" >Ignore Date Range<BR>
							<?
							if($_SESSION["EBYAY_SAVEDSEARCH"]['bdate'] == "") $_SESSION["EBYAY_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
							if($_SESSION["EBYAY_SAVEDSEARCH"]['edate'] == "") $_SESSION["EBYAY_SAVEDSEARCH"]['edate'] = date("m/d/Y");
							?>
							<input type="text" name="bdate" value="<?=$_SESSION["EBYAY_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
							- to -
							
								<input type="text" name="edate" value="<?=$_SESSION["EBYAY_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
							</td>
						</tr>
												
						
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="logSearch()" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="logresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->