<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Amazon FBA Mismatch</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function GetXmlHttpObject()
{
	try{xmlHttp=new XMLHttpRequest();}
	catch (e){try{xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");}
			catch (e){try{xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");}
			catch (e){alert("Your browser does not support AJAX!");return false;}}}
	return xmlHttp;
}


function updatePID(type, id)
{
	var newpid = document.getElementById(type+"pid-"+id).value;
	document.getElementById(type+"pid-"+id).style.backgroundColor = "#ff0000";
	
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazonzd/ajax_updatefbamismatch.phtml?type="+type+"&pid="+newpid+"&id="+id;
		
	xmlHttp.onreadystatechange=updatedPID; // throw away the result..... the pool will catch the price change
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function updatedPID()
{
	if(xmlHttp.readyState==4)
	{
		var data = xmlHttp.responseText.split("~");
		
		//alert(data[0]+"pid-"+data[2]);
		
		var DIV = document.getElementById(data[0]+"pid-"+data[2]);
		
		if(DIV)
		{
			DIV.style.backgroundColor = "#ffffff";
			DIV.disabled = true;
		}
		else
		{
			alert('Could not find DIV');
		}
	}
}
</script>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE($ROOT_DIR."/mgt/amazonzd/e2win_menu.phtml");?>
		
		<table width=100%>
		<tr>
			<td width=49% valign=top>
			
				<div style="padding-left:5px;padding-top:10px">
				<B>Inventory Mismatches</B>
				<BR><BR>
				<table id="results">
				<tr bgcolor="#eeeeee">
					<td height=21><B>ID</B></th>
					<td><B>SKU</B></th>
					<td><B>PID</B></th>
					<td><B>Fulfillment Ch. SKU</B></th>
					<td><B>ASIN</B></th>
					<td><B>Condition</B></th>
					<td><B>Condition Code</B></th>
					<td><B>Qty</B></th>
				</tr>
		
				<?
				$query = "select id, sku, fcsku, asin, cond, cond_code, qty from fba_inventory_mismatch order by id";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				while(list($id, $sku, $fcsku, $asin, $cond, $cond_code, $qty) = mysql_fetch_array($qok))
				{
					if ($qty>0) {
				?>
					<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" id="col<?=$id;?>">
						<td height=21><?=$id;?></td>
						<td height=21><?=$sku;?></td>
						<td height=21>
							<input type="text" name="invpid-<?=$id;?>" id="invpid-<?=$id;?>" value="" style="width:75px" class="formBox">
							<input type="button" value="Go" onclick="updatePID('inv', '<?=$id;?>');" class="buttonItem">
						</td>
						<td height=21><?=$fcsku;?></td>
						<td height=21><?=$asin;?></td>
						<td height=21><?=$cond;?></td>
						<td height=21><?=$cond_code;?></td>
						<td height=21 align=right><?=$qty;?></td>
					</tr>
				<?
					}
				}
				?>
				
				</table>
				<BR><BR>			
			
			</td>
			
			<td width=2%>&nbsp;</td>
			
			<td width=49% valign=top>
			<div style="padding-left:5px;padding-top:10px">
				<B>Order Mismatches</B>
				<BR><BR>
				<table id="results">
				<tr bgcolor="#eeeeee">
					<td height=21><B>ID</B></th>
					<td><B>Invoice</B></th>
					<td><B>SKU</B></th>
					<td><B>PID</B></th>
				</tr>
				<?
				$query = "select id, invoiceid, sku from fba_order_mismatch order by id";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				while(list($id, $invoiceid, $sku) = mysql_fetch_array($qok))
				{
				?>
					<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" >
						<td height=21><?=$id;?></td>
						<td height=21><?=$invoiceid;?></td>
						<td height=21><?=$sku;?></td>
						<td height=21>
							<input type="text" name="ordpid-<?=$id;?>" id="ordpid-<?=$id;?>" value="" style="width:75px" class="formBox">
							<input type="button" value="Go" onclick="updatePID('ord', '<?=$id;?>');" class="buttonItem">
						</td>
					</tr>
				<?
				}
				?>
				
				</table>
			</td>
		</tr>
		</table>
		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

	
</body>
</html>
<?mysql_close();?>