<?
ini_set('display_errors',1);
error_reporting(E_ALL);

$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazonzd/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;

echo "PID: $pid<BR>";
echo "ASIN: $asin<BR>";
/*
test_match_sku.phtml?pid=XXX&asin=XXXX
*/
function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
	
$query = "select product_list.upccode, product_manufacturers.manname, product_list.manpart, product_list.descr from
			product_list, product_manufacturers where product_list.manid = product_manufacturers.manid and product_list.id = '$pid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($upccode, $mybrand, $mymanpart, $mydescr) = mysql_fetch_array($qok);

//	function countListings4UPC($upccode, $pid, $mybrand, $mymanpart, $mydescr, $campid)
{
	$modifiedUPC = false;
		
	
		
	ob_start();
		$public_key = $efc->getConfigValue("AmazonCanZipDeals", "PUBLIC_KEY");
		$private_key = $efc->getConfigValue("AmazonCanZipDeals", "PRIVATE_KEY");
		$associateID = $efc->getConfigValue("AmazonCanZipDeals", "ASSOCIATEID");
		
		$asinURL = $amClass->aws_signed_request("com", array("Operation"=>"ItemLookup","AssociateTag"=>$associateID,"IdType"=>"ASIN","ItemId"=>"$asin","ResponseGroup"=>"OfferFull,Large"), $public_key, $private_key);
			
		$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
		$xmldata = xml2array($buffer);
	ob_get_clean();
		
		
	$totalresults = $xmldata['ItemLookupResponse']['Items']['TotalResults']['value'];
	$totalpages = $xmldata['ItemLookupResponse']['Items']['TotalPages']['value'];
		
	$itemlist = $xmldata['ItemLookupResponse']['Items']['Item'];
		
	if(@$itemlist[0]['ASIN']['value'] == "")
	{
		$asin = @$itemlist['ASIN']['value'];
		$salesrank = @$itemlist['SalesRank']['value'];
		$imageURL = @$itemlist['SmallImage']['URL']['value'];
		$brand = @$itemlist['ItemAttributes']['Brand']['value'];
		$ean = @$itemlist['ItemAttributes']['EAN']['value'];
		$title = @$itemlist['ItemAttributes']['Title']['value'];
		$upc = @$itemlist['ItemAttributes']['UPC']['value'];
		$featurelist = @$itemlist['ItemAttributes']['Feature'];
		$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
		$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
		$manpart = $itemlist['ItemAttributes']['MPN']['value'];
		
		$lowestnewprice = str_replace("$", "", $lowestnewprice);
		$lowestnewprice = str_replace(",", "", $lowestnewprice);
		
		if($asin == "")
		{
			echo "... single match but, blank ASIN from Amazon (aborting)<BR>";
			exit;
		}
			
		echo "Checking Brand: '$brand' versus '$mybrand'<BR>";
			
		if( strtolower( substr(trim($brand), 0, 3) ) != strtolower( substr(trim($mybrand), 0, 3) ) )
		{
			echo "... Brands do not match...<BR>";
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// log the reason the brand did not match
			$errormsg = "PID Skipped, Brands do not match AMZ: '$brand' OUR: '$mybrand'";
			
			echo $errormsg;
			exit;
		}
			
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
		$title = trim($title);
		$mydescr = trim($mydescr);
			
		$aparts = explode(" ", $title);
		$tparts = explode(" ", $mydescr);
			
		echo "Checking Title: '$title' versus '$mydescr'<BR>";
			
		$totalparts = count($aparts);
		$matchedparts = 0;
			
		for($xx = 0; $xx < count($tparts); $xx++)
		{
			for($zz = 0; $zz < count($aparts); $zz++)
			{
				if( strtolower($aparts[$zz]) == strtolower($tparts[$xx]) )
				{
					$matchedparts++;
				}
			}
		}

		$matchpercentage = number_format(100 *($matchedparts / $totalparts), 2, ".", "");
			
		echo "... Title match Percentage: $matchpercentage%<BR>";
			
		if(floatval($matchpercentage) < 5.00)
		{
			echo "...... Title match Percentage below 5%.... Let's check the manpart<BR>";
			
			$mymanpart = strtoupper(preg_replace("/[^a-zA-Z0-9s+]/", "", $mymanpart));
			$manpart = strtoupper(preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart));

			if($manpart != "")
			{
				echo "Checking Manpart: '$manpart' versus '$mymanpart'<BR>";
				
				if($mymanpart != $manpart)
				{
					echo "... Title match percentage below 5%, let's check manparts => '$manpart' versus '$mymanpart'<BR>";
					
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// log the reason the brand did not match
					$errormsg = "PID Skipped, title match < 5%, Manufacturer Parts do not match AMZ: '$manpart' OUR: '$mymanpart' [$asin]";
					echo $errormsg;
					exit;
				}
			}
			else 
			{
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// log the reason the brand did not match
				$errormsg = "PID Skipped, Title match Percentage below 5%: AMZ: '$title' OUR: '$mydescr' ";
				echo $errormsg;
				exit;
			}
				
				
			exit;
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(floatval($lowestnewprice) > 0.00)
		{
			$price_level = $efc->getConfigValue("AmazonCanZipDeals", "PRICE_LEVEL");
			$below_price_differential = $efc->getConfigValue("AmazonCanZipDeals", "LOWPRICE_DIFFERENTIAL");
				
			if(intval($below_price_differential) == 0)
				$below_price_differential = 5; // 5% default

			$query = "select price_level$price_level from product_prices where id = '$pid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($price) = mysql_fetch_array($q2ok);

			if($price < $lowestnewprice)
			{
				echo "Checking Price Differential:  Lowest Price: $lowestnewprice  Our Price: $price<BR>";
				
				$diff = abs($price - $lowestnewprice);
				$differential = number_format(100 * floatval($diff / $price), 2, ".", "");
			
				if($differential >= $below_price_differential)
				{
					echo "... Low Price Differential Failed: Differential of $differential% above threshold of $below_price_differential%<BR>";
					exit;
				}
				else
				{
					echo "... Price Differential of $differential <= $below_price_differential<BR>";					
				}
			}
			else 
			{
				echo "Price is above lowest (skipping differential check: Lowest Price: $lowestnewprice  Our Price: $price<BR>";
			}
				
		}
		else 
		{
			echo "No Price Data<BR>";
		}
		
		exit;
				
	}
	else 
	{
		echo "... multiple matches from amazon<BR>";
			
	}
}
?>
<?mysql_close();?>