<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($Action == "MarkSimilarResolved")
{
	$query = "delete from amazonzd_errors where message = '".addslashes($msg)."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/amazonzd/view_errors.phtml?campid=$campid");
}

$query = "select campaign_name, min_profit_pct, min_profit_cur, quantity, qty_control, pricelevel from amazonzd_campaigns where id = '$campid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($campaign_name, $min_profit_pct, $min_profit_cur, $quantity, $qty_control, $pricelevel) = mysql_fetch_array($qok);

$campaign_name = stripslashes($campaign_name);
	
$listid_addon = '';
$query = "select lists.lid, lists.list_title from lists, amazonzd_campaign_lists where 
				lists.lid = amazonzd_campaign_lists.listid and campid = '$campid' ";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($q2ok) > 0)
{
	while(list($listid, $list_title) = mysql_fetch_array($q2ok))
	{
		$listid_addon .="list_products.lid='".$listid."' OR ";
	}
}	
if($listid_addon != "") {
	$listid_addon = " AND (".substr($listid_addon,0,-3).") ";
}			
?>
<HTML>
<HEAD>
<TITLE>Amazon Listing Errors</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}

function markResolved(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazonzd/ajax_markresolved.phtml?pid="+pid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=resolvedResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function resolvedResult()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		document.getElementById("resolved"+data[0]).innerHTML = data[1];
		
		var row = document.getElementById("row"+data[0]);
		
		if(row)
			row.style.display="none";
	}
}

function loadErrors(pid)
{
	var row = document.getElementById("row"+pid)
	
	if(row)
	{
		if(row.style.display == "none")
			row.style.display="";
		else
			row.style.display="none";
	}
	else
	{
		alert('couldnt find the row');
	}
	
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/amazonzd/ajax_geterrors.phtml?pid="+pid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=gotErrors;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function gotErrors()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		document.getElementById("div"+data[0]).innerHTML = data[1];
	}
}
function removeFromList (pid,lid) {
	if(confirm("Are you sure you want to remove from list?"))
	{
		$.get("ajax_removelist.phtml", 
				{
					'lid':lid,
					'pid':pid
				},function(data){
					$('#remimg_'+pid+'_'+lid).remove()
//					location.reload();	
	   	});
	}
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Amazon Not Listed Items</B>
		<BR><BR>
		<?
		//list($campaign_name, $min_profit_pct, $min_profit_cur, $quantity, $qty_control, $pricelevel) = mysql_fetch_array($qok);
		?>
		<table >
		<tr>
			<td>
			
				<table>
				<tr>
					<td bgcolor="#eeeeee" height=21>ID</td>
					<td><a href="campaign_edit.phtml?campid=<?=$campid;?>"><?=$campid;?> - edit</a></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Campaign Name</td>
					<td><?=$campaign_name;?></td>
				</tr>
				
				<tr>
					<td bgcolor="#eeeeee" height=21>Min Profit %</td>
					<td><?=$min_profit_pct;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Min Profit $</td>
					<td><?=$min_profit_cur;?></td>
				</tr>
				</table>			
			
			</td>
			
			<td>&nbsp;&nbsp;</td>

			<td>
				<table>
				<tr>
					<td bgcolor="#eeeeee" height=21>Quantity</td>
					<td><?=$quantity;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Qty Control</td>
					<td><?=$qty_control;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>PL</td>
					<td><?=$pricelevel;?></td>
				</tr>
				</table>
			
			
			</td>
		</tr>
		</table>
		
		<?//INCLUDE("info_bar.phtml");?>
		
		<BR>
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<!--<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Manname:</B></font></td>
			<td>		
				<select name="fmanid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select distinct(product_manufacturers.manid), product_manufacturers.manname from
							amazonzd_errors, product_manufacturers, product_list 
							WHERE
							amazonzd_errors.pid = product_list.id AND
							product_list.manid = product_manufacturers.manid AND
							amazonzd_errors.campid = '$campid' 
							group by product_manufacturers.manid
							order by product_manufacturers.manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if($manid == $fmanid)
						echo "<option value='$manid' SELECTED>$manname</option>\n";
					else 
						echo "<option value='$manid'>$manname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>PID:</B></font></td>
			<td>
				<input type="text" name="fpid" value="<?=$fpid;?>" style="width:100px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Keywords:</B></font></td>
			<td>
				<input type="text" name="fkeywords" value="<?=$fkeywords;?>" style="width:175px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="submit" name="Action" value="Filter" class="buttonItem"></td>
			
		</tr>
		</table>-->
		</div>		
		<?
		
		$query = "select distinct(amazonzd_errors.pid), product_manufacturers.manname, product_list.descr, amazonzd_errors.tstamp, count(amazonzd_errors.tstamp) from 
					amazonzd_errors, product_manufacturers, product_list  WHERE amazonzd_errors.pid = product_list.id AND 
					product_list.manid = product_manufacturers.manid AND amazonzd_errors.campid = '$campid'  
					$addon
					group by product_list.id order by tstamp desc";
		$query = "select distinct(list_products.pid),product_manufacturers.manname, product_list.descr FROM list_products,product_manufacturers, product_list
						WHERE 
					list_products.pid = product_list.id AND 
					product_list.manid = product_manufacturers.manid AND	
					list_products.pid NOT IN (SELECT pid FROM amazonzd_errors where pid > 0) AND 	
					list_products.pid NOT IN (SELECT pid FROM amazonzd_base_messages where asin != '') AND 	
					list_products.pid NOT IN (SELECT pid FROM amazonzd_duplicates) 	
					$listid_addon group by list_products.pid";
					
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numerrors = $numrows = mysql_num_rows($qok);
		
		if(intval($numerrors) > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$ITEMS_PER_PAGE = 50;
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazonzd/view_not_listed.phtml?campid=$campid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> not listed items on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
			<table width=100%>
			
			<tr bgcolor="#eeeeee">
<!--				<td height=21 align=center><B>Date/Time</B></td>-->
				<td height=21 align=center><B>PID</B></td>
				<td height=21 align=center><B>Man</B></td>
				<td height=21 align=center><B>Title</B></td>
				<td height=21 align=center><B>Visible</B></td>
				<td height=21 align=center><B>FBA</B></td>
				<td height=21 align=center><B>DS</B></td>
				<td height=21 align=center><B>Instock</B></td>
				<td height=21 align=center><B>Assigned To</B></td>
				<td height=21 align=center><B>List</B></td>
				<td height=21 align=center><B>Remove</B></td>
			</tr>
			<?
			
			$numout=0;
			while( (list($pid, $manname, $descr) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				$q2 = "SELECT dropship,visible FROM product_list WHERE id='".$pid."'";
				if(!$qok1 = mysql_db_query($DB, $q2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				list($dropship,$visible) = mysql_fetch_array($qok1);
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
					<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td height=21><?=$manname;?></td>
					<td height=21><?=$descr;?></td>
					<td height=21 align=center><?=$visible;?></td>
					<td height=21 align=center><?
						$querya = "select sku from fba_skus where sku = '$pid'";
						if(!$qoka = mysql_db_query($DB, $querya, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						if(mysql_num_rows($qoka) > 0)
						{
							echo "1";
							
						}
						else {
							echo "0";
						}
					?></td>
					<td height=21 align=center><?=$dropship;?></td>
					<td height=21 align=center><?=$efc->getInvTotal($pid)?></td>
					<td height=21><?=$efc->getRepName( $efc->getSKUAssignment($pid) );?></td>
					<td height=21 align="center">
						<?
						$query1 = "select lists.lid, lists.list_title from lists,list_products, amazonzd_campaign_lists where 
										lists.lid = amazonzd_campaign_lists.listid AND list_products.lid=lists.lid AND list_products.pid='$pid' and amazonzd_campaign_lists.campid = '$campid' ";
						if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
						list($lid_pid,$list_name_pid) = mysql_fetch_array($qok1);
						echo $list_name_pid;
						?>
					</td>
					<td height=21 align="center"><img src="/mgt/images/del.gif" style="cursor:pointer" onclick="javascript:removeFromList('<?=$pid?>','<?=$lid_pid?>')" id="remimg_<?=$pid."_".$lid_pid?>"/></td>
				</tr>
				<tr id="row<?=$pid;?>" style="display:none;" onMouseOver="this.bgColor='#ffffff';" onMouseOut="this.bgColor='#ffffff';">
					<td colspan=4 align=left>
						<div id="div<?=$pid;?>"><img src="/mgt/images/loading.gif"></div>
					</td>
				</tr>
				<?
			}
			?>
			</table>
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/amazonzd/view_not_listed.phtml?campid=$campid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> not listed items on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";				
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Errors Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>