<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "TRUNCATE TABLE product_categories";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

$query = "TRUNCATE TABLE product_categories_order";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

$query = "SELECT categories_description.categories_name,
                categories_description.categories_description, 
                categories.categories_id,
                categories.categories_image,
                categories.parent_id,
                categories.sort_order,
                categories.date_added,
                categories.last_modified,
                categories.categories_status
            FROM categories,categories_description WHERE categories.categories_id = categories_description.categories_id ORDER BY categories.categories_id";	
//print_r($query."\n");
if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {
//    print_r($row);
    $q = "INSERT INTO product_categories(catid,catname,parentid,created,visible) 
                VALUES('".$row['categories_id']."','".addslashes($row['categories_name'])."','".$row['parent_id']."','".$row['date_added']."','".$row['categories_status']."')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
    $q = "INSERT INTO product_categories_order(catid,dorder) 
                VALUES('".$row['categories_id']."','".addslashes($row['sort_order'])."')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
}
?>