<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "TRUNCATE TABLE products_description";	
if(!$qok = mysql_db_query("rawfood_import2", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

$fp = fopen("Products_description.csv", "r");
$x = 0;	
while($data = fgetcsv($fp, 4096, ","))
{
    print_r($data);
    if($x>0) {
        $query = "INSERT INTO products_description(products_id,language_id,products_name,products_description,products_url,products_viewed) VALUES
                    ('".addslashes($data[0])."','".addslashes($data[1])."','".addslashes($data[2])."','".addslashes($data[3])."','".addslashes($data[4])."','".addslashes($data[5])."')";	
        if(!$qok = mysql_db_query("rawfood_import2", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
    }
    $x++;
}

fclose($fp);
?>