.menu{
	width:780px;
	height:26px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#4b4b4b;
	padding-top:10px;
	text-align:center;
}

.menu ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

.menu li{
display:inline;
padding:0px;
margin:0px;
}

.menu a{

width:100px;
text-decoration:none;
color:#4b4b4b;
font-weight:normal;
padding-left:1px;
padding-right:1px;

}

.menu a:hover{
/*background:#CCCC00;*/
color:#000;
}

.cartmenu{
	width:670px;
	height:26px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4b4b4b;
	/*padding-left:310px;*/
	text-align:right;
	text-transform:uppercase;
	margin:18px 0px 0px 181px;
        float:left;
}

.cartmenu ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

.cartmenu li{
display:inline;
padding:0px;
margin:0px;
}

.cartmenu a{

width:100px;
text-decoration:none;
color:#fff;
font-weight:normal;
padding-left:8px;
padding-right:8px;

}

.cartmenu a:hover{
/*background:#CCCC00;*/
color:#ffea00;
}


/* ######### Default class for drop down menus ######### */

.anylinkcss{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
border-bottom-width: 0;
font: normal 12px Verdana;
line-height: 18px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
background: lightyellow;
width: 200px; /* default width for menu */
}

.anylinkcss ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcss ul li a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
text-indent: 5px;
text-align:left;
}

.anylinkcss a:hover{ /*hover background color*/
background: black;
color: white;
}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 0px solid black;
padding: 10px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #df6303;
text-transform:uppercase;
text-align:left;
}

.anylinkcsscols .column{
width: 180px;
float: left;
}

.anylinkcsscols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}


.anylinkcsscols li{
padding-bottom: 3px;
}

/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99; /*zIndex for shadow*/
background: black;
visibility: hidden;
}

.column a{

text-decoration:none;
color:#fff;
font-weight:normal;


}

.column a:hover{
/*background:#CCCC00;*/
text-decoration:underline;
color:#ffe40b;
}
