.boxname {text-align:center;}
.boxname a{color:#13140d; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; text-decoration:none;}
.boxname a:hover{text-decoration:underline;}

.boxprice{color:#111111; font-size:13px; line-height:16px; text-align:center; font-weight:bold;}
.tellafr_input{width:80%;}

#lahguages #languagesContent{text-align:center;}

.box1_body{color:#333333; font-size:11px;}
.box1_body a{color:#333333; font-size:11px; font-weight:normal; text-decoration:underline;}
.box1_body a:hover{text-decoration:none;}

.box1_body b a{color:#000; font-size:12px; font-weight:normal; text-decoration:none; text-transform:none; font-family:Arial, Helvetica, sans-serif; font-style:italic}
.box1_body b a:hover{text-decoration:none;}



#orderhistoryContent a img{ margin-bottom:15px;}
#orderhistory .box1_body a img{ margin-bottom:0;}

/* ----------------------- BOXES ------------------------- */
.box_head a{text-decoration:none; color:#de6512}
.box_head a:hover{ text-decoration:underline}


.box_head{font-family:Arial, Helvetica, sans-serif;color:#de6512; font-size:13px; text-transform:capitalize;}
.box_head .innerbox1{background:url(../images/box_top.gif) repeat-x left top; width:100%;}
.box_head .innerbox2{background:url(../images/box_side.gif) repeat-y left top; width:100%;}
.box_head .innerbox3{background:url(../images/box_side.gif) repeat-y right top; width:100%;}
.box_head .innerbox4{padding:12px 15px 0px 5px; font-size:17px;}


.box{width:100%; margin-bottom:5px;}
.box .box_inner1{ width:100%;}
.box .box_inner2{width:100%; width:100%;}
.box .box_inner3{width:100%; width:100%;}
.box .box-indent{padding:20px 23px 0px 5px; overflow:hidden;}


/*----------------------------------snazzybox---------------------------------*/
.xsnazzy h1, .zsnazzy h1 {
margin:0; 
font-size:1.2em; 
padding:0 10px 5px 10px; 
border-bottom:1px solid #e5e5e5;
}
.xsnazzy p, .zsnazzy p {
margin:0; 
padding:5px 10px; 
font-size:10px;
}
.xsnazzy {
background: transparent; 
width:240px; 
float:left; 
margin:0 3px 12px;
}

.xtop, .xbottom {
display:block; 
background:transparent; 
font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 {
display:block; 
overflow:hidden;
}
.xb1, .xb2, .xb3 {
height:1px;
}
.xb2, .xb3, .xb4 {
background:#fff; 
border-left:1px solid #e5e5e5;
border-right:1px solid #e5e5e5;
}
.xb1 {
margin:0 5px; 
background:#e5e5e5;
}
.xb2 {
margin:0 3px;
border-width:0 2px;
}
.xb3 {
margin:0 2px;
}
.xb4 {
height:2px; 
margin:0 1px;
}

.xboxcontent {
display:block; 
border:0 solid #e5e5e5; 
border-width:0 1px; 
height:auto;

}
* html .xboxcontent {
height:1px;
}

.color_a {
background:#e36c04;
color:#fff;
}
.color_b {
background:#d4d8bd; 
color:#000;
}
.color_c {
background:#758279; 
color:#fff;
}
.color_d {
background:#b2ab9b; 
color:#000;
}


/*------------------------end of snazzy-------------------------------*/



.box select{width:90%;}

.box_body {margin:0; color:#212121; font-family:tahoma; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.box_body a {color:#212121; text-decoration:none;}
.box_body a:hover {text-decoration:underline;}

.box_body ul {margin:0; padding:0; list-style:none;}
.box_body ul li {padding:6px 0 4px 27px;}
.box_body ul li a {text-decoration:underline; background:url(../images/arrow_1.gif) 0 5px no-repeat; padding-left:12px;}
.box_body ul li a:hover {text-decoration:none;}

.box_body ol {margin:0; padding:0; list-style:none;}
.box_body ol li {padding:6px 0 2px 17px;}
.box_body ol li a {text-decoration:underline; background:url(../images/arrow_2.gif) 0 5px no-repeat; padding-left:10px;}
.box_body ol li a:hover {text-decoration:none;}

/* ----------------------- LISTING BOXES ------------------------- */

#categories {}
#categories ul{list-style:none; list-style-position:outside; font-family:Arial, Helvetica, sans-serif}
#categories li{color:#000; font-size:13px; line-height:14px; background:url(../images/list_background1.gif) no-repeat 0px 10px; padding-left:0px; text-decoration:none; font-weight:normal;}
#categories li.category-products{ font-size:13x; line-height:13px; background:url(../images/list_background1.gif) no-repeat 20px 10px; padding-left:0;text-decoration:none; margin-left:0;}
#categories li.category-products a{font-weight:normal;color:#000; }

#categories li.category-products span.top-span{padding-left:21px;}
#categories li span.top-span{display:block; padding:6px 0 6px 0; background:url(../images/list_background.gif) repeat-x left top; padding-left:0;}
#categories li.category-top_un span.top-span{display:block; background:url(../images/spacer.gif) no-repeat left top;}
#categories li a{color:#000; font-size:13px; line-height:11px; text-decoration:none; font-weight:normal; padding-left:0; display:block;}
#categories li a:hover{text-decoration:none; color:#6c8736}


#categories .box_body_2 li{color:#f70706; font-size:11px; line-height:16px; background:none; padding:0px; text-decoration:none; font-weight:normal; font-family:Arial, Helvetica, sans-serif; display:inline}
#categories .box_body_2 li a{color:#f70706; font-size:11px; line-height:18px; text-decoration:none; font-weight:bold; padding:0; display:inline}
#categories .box_body_2 li a:hover{text-decoration:underline}








#moreinformation {}
#moreinformation ul{list-style:none; list-style-position:outside;}
#moreinformation li{color:#000; font-size:11px; line-height:16px; padding-left:14px; text-decoration:none; font-weight:normal; margin-left:2px;}
#moreinformation li span.top-span{display:block; padding:4px 0 1px 0;}
#moreinformation li.category-top_un span.top-span{display:block; background:url(../images/spacer.gif) no-repeat left top;}
#moreinformation li a{color:#000 !important; font-size:11px; line-height:16px; text-decoration:none; font-weight:normal; padding-left:0; display:block;}
#moreinformation li a:hover{text-decoration:none;}



#information {}
#information ul{list-style:none; list-style-position:outside;}
#information li{color:#000; font-size:11px; line-height:16px; padding-left:14px; text-decoration:none; font-weight:normal; margin-left:2px;}
#information li span.top-span{display:block; padding:4px 0 1px 0;}
#information li.category-top_un span.top-span{display:block; background:url(../images/spacer.gif) no-repeat left top;}
#information li a{color:#000 !important; font-size:11px; line-height:16px; text-decoration:none; font-weight:normal; padding-left:0; display:block;}
#information li a:hover{text-decoration:none; color:#6c8736}








#bestsellers {}
#bestsellers ul{list-style:none; list-style-position:outside; font-family:Arial, Helvetica, sans-serif}
#bestsellers li{color:#1a2638; font-size:12px; line-height:16px; background:url(../images/list_background1.gif) no-repeat 0px 10px; padding-left:0px; text-decoration:none; font-weight:normal;}
#bestsellers li.category-products{ font-size:12x; line-height:18px; background:url(../images/list_background1.gif) no-repeat 20px 10px; padding-left:0;text-decoration:none; margin-left:0;}
#bestsellers li.category-products a{font-weight:normal;color:#81b108; text-transform:lowercase }

#bestsellers li.category-products span.top-span{padding-left:33px;}
#bestsellers li span.top-span{display:block; padding:3px 0 3px 0; background:url(../images/list_background.gif) repeat-x left top; padding-left:12px;}
#bestsellers li.category-top_un span.top-span{display:block; background:url(../images/spacer.gif) no-repeat left top;}
#bestsellers li a{color:#000000; font-size:12px; line-height:18px; text-decoration:none; font-weight:normal; padding-left:0; display:block;}
#bestsellers li a:hover{text-decoration:underline}


#bestsellers .box .box-indent{padding:20px 18px 28px 18px; overflow:hidden;}







#ezpages {}
#ezpages ul{list-style:none; list-style-position:outside;}
#ezpages li{color:#636363; font-size:11px; line-height:16px; padding-left:14px; text-decoration:none; font-weight:normal; margin-left:2px;}
#ezpages li span.top-span{display:block; padding:4px 0 1px 0;}
#ezpages li.category-top_un span.top-span{display:block; background:url(../images/spacer.gif) no-repeat left top;}
#ezpages li a{color:#636363 !important; font-size:11px; line-height:16px; text-decoration:underline; font-weight:normal; padding-left:0; display:block;}
#ezpages li a:hover{text-decoration:none;}



#orderhistory {}
#orderhistory .box_body img {padding:2px; vertical-align:middle; margin:3px 0px;}



/* ----------------------- BANNER BOXES ------------------------- */

#bannerbox .box{background:none;}
#bannerbox .box .box_inner1{ background:none;}
#bannerbox .background-top-4{background:none; width:100%;}
#bannerbox .background-top-left-4{background:none; width:100%;}
#bannerbox .background-top-right-4{background:none; width:100%;}
#bannerbox .background-bottom-left-4{background:none; width:100%;}
#bannerbox .background-bottom-right-4{background:none; padding:0;}
#bannerbox .box-indent{padding:0; background:none;}


#bannerbox .box_head{display:none;}
#bannerbox.box .box_body {padding:0 0 0 0;}


#bannerbox2 .box_head{display:none;}
#bannerbox2.box .box_body {padding:0 0 0 0;}


#bannerbox2 .box{background:none; }
#bannerbox2 .box .box_inner1{ background:none;}
#bannerbox2 .background-top-4{background:none; width:100%;}
#bannerbox2 .background-top-left-4{background:none; width:100%;}
#bannerbox2 .background-top-right-4{background:none; width:100%;}
#bannerbox2 .background-bottom-left-4{background:none; width:100%;}
#bannerbox2 .background-bottom-right-4{background:none; padding:0;}
#bannerbox2 .box-indent{padding:0; background:none;}





/* ----------------------- PRODUCT BOXES ------------------------- */
#featured a img, #whatsnew a img, #specials a img, #reviews a img, #manufacturerinfo img, #productnotifications img {}
#reviews img {}


#featured {}



#whatsnew {}


#specials {}


#reviews {}






#manufacturerinfo {}


#productnotifications {}


/* ----------------------- FORM BOXES ------------------------- */

#search {}
#search input.s_input{width:100%; height:20px; background:#ffffff; color:#000000; font-size:11px; width:135px;}
#search a{color:#7f7a87; font-size:11px; color:#7f7a87; background:url(../images/search_box_bg_a.gif) no-repeat 100% 5px; text-decoration:underline; padding-right:8px;}
#search a:hover{text-decoration:none;}












#manufacturers {}



#currencies {}


#tellafriend {}


#recordcompanies {}


#musicgenres {}



/* ----------------------- TEXT BOXES ------------------------- */

#languages {}


#whosonline {}




#documentcategories {}


#shoppingcart {}

#shoppingcart .cart_line {}
#shoppingcart #cartBoxEmpty {}


