<?
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
//REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$query = "select did from amazonmax_duplicates where pid = '$pid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($did) = mysql_fetch_array($q2ok);

$query = "delete from amazonmax_duplicates where did = '$did'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "delete from amazonmax_duplicates_extended where did = '$did'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "update product_list set asin = '$asin', use_asin = '1' where id = '$pid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "delete from amazon_segments_extended where pid = '$pid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$dfid = $efc->getConfigValue("AmazonMax", "Matched_Datafeed");

if(intval($dfid) > 0)
{
	$query = "delete from datafeed_skus where dfid = '$dfid' and pid = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into datafeed_skus(dfid, pid) values('$dfid', '$pid')";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ob_start();
	$public_key = $efc->getConfigValue("AmazonMax", "PUBLIC_KEY");
	$private_key = $efc->getConfigValue("AmazonMax", "PRIVATE_KEY");
				
	$asinURL = aws_signed_request("com", array("Operation"=>"ItemSearch","Keywords"=>"$asin","SearchIndex"=>"Blended","ResponseGroup"=>"Large"), $public_key, $private_key);
				
	$buffer = $efc->loadPage($asinURL, "http://www.amazon.com");
	$xmldata = xml2array($buffer);
ob_get_clean();
			
$totalresults = $xmldata['ItemSearchResponse']['Items']['TotalResults']['value'];
$totalpages = $xmldata['ItemSearchResponse']['Items']['TotalPages']['value'];
			
$itemlist = $xmldata['ItemSearchResponse']['Items']['Item'];
			
if(@$itemlist[0]['ASIN']['value'] == "")
{
	$asin = @$itemlist['ASIN']['value'];
	$salesrank = @$itemlist['SalesRank']['value'];
	$imageURL = @$itemlist['SmallImage']['URL']['value'];
	$large_imageURL = @$itemlist['LargeImage']['URL']['value'];
	$brand = addslashes( @$itemlist['ItemAttributes']['Brand']['value'] );
	$manpart = addslashes( @$itemlist['ItemAttributes']['MPN']['value'] );
	$model = addslashes( @$itemlist['ItemAttributes']['Model']['value'] );
	$ean = @$itemlist['ItemAttributes']['EAN']['value'];
	$title = addslashes(@$itemlist['ItemAttributes']['Title']['value']);
	$upc = @$itemlist['ItemAttributes']['UPC']['value'];
	$featurelist = @$itemlist['ItemAttributes']['Feature'];
				
	$lowestnewprice = @$itemlist['OfferSummary']['LowestNewPrice']['FormattedPrice']['value'];
	$totalnew = @$itemlist['OfferSummary']['TotalNew']['value'];
				
	$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $manpart);
				
	$query = "update product_list set cmanpart = '$cleanmanpart', descr = '$title', modelno = '$model' where id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
	$imagefile = "$ROOT_DIR/mgt/temp/$pid.jpg";
	$efc->getBinaryFile($large_imageURL, "http://www.amazon.com", $imagefile);		
		
	if(file_exists($imagefile))	
	{
		//echo "IMAGE => $imagefile\n\n";
		
		$fp = fopen($imagefile, "r");
		if($fp == false){echo "ERROR OPENING FILE<BR>";return;}
		$data = "";
		while(!feof($fp))
		{
			$data .= fgets($fp, 4096);
		}
		fclose($fp);
		$data = addslashes($data);	 		

		$query = "delete from product_images where id = '$pid'";
		$qok = mysql_db_query($DB, $query, $mysqlid);
		
		$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '0', '0', '500', '500')";
		$qok = mysql_db_query($DB, $query, $mysqlid);
		if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		unlink($imagefile);
		
		$efc->cache_watermark_image($pid, $ROOT_DIR);
	}
		
	$features = "";
	for($pp = 0; $pp < count($featurelist); $pp++)
	{
		if(@$featurelist[$pp]['value'] != "")
		{
			$features .= "<LI>".addslashes($featurelist[$pp]['value'])."</LI>";
		}
	}
	
					
	if($features != '')
	{
		$query = "delete from product_descr where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$features = addslashes($features);
		$query = "insert into product_descr(id, data) values('$pid', '$features')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	
	$cfid = $efc->getConfigValue("AmazonMax", "SALES_RANK");
	
	$query = "delete from custom_values where pid = '$pid' and cfid = '$cfid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if(intval($cfid) > 0)
	{
		$query = "insert into custom_values(cfid, pid, text_short) values('$cfid', '$pid', '$salesrank')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$efc->cacheAdditionalInfo($pid);
$efc->UpdatePool("1", $pid);

echo "$pid";

?>
<?mysql_close();?>