<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$query = "create table if not exists amazonmax_qty_scripts(campid bigint NOT NULL default 0, script longblob, index(campid))";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "create table if not exists amazonmax_campaigns_categories(campid bigint NOT NULL, catid bigint NOT NULL, index(campid) )";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if($savename != "")
{
	$query = "insert into amazonmax_campaigns(campaign_name) values('".addslashes($savename)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$campid = mysql_insert_id();
	
	Header("Location: /mgt/amazonmax/campaign_edit.phtml?campid=$campid");
	exit;
}

if($Action == "Save Campaign")
{
	$campaign_name = addslashes($campaign_name);
	
	$query = "update amazonmax_campaigns set 
					campaign_name = '".addslashes($campaign_name)."', 
					min_profit_pct = '$min_profit_pct',
					min_profit_cur = '$min_profit_cur',
					quantity = '$quantity',
					qty_control = '$qty_control',
					pricelevel = '$pricelevel',
					min_qty = '$min_qty'
					where id = '$campid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from amazonmax_campaign_lists where campid = '$campid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	for($xx = 0; $xx < count($listid); $xx++)
	{
		$query = "insert into amazonmax_campaign_lists(campid, listid) values('$campid', '".$listid[$xx]."')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	$query = "delete from amazonmax_qty_scripts where campid = '$campid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$ofscript = addslashes($ofscript);
	$query = "insert into amazonmax_qty_scripts(campid, script) values('$campid', '$ofscript')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "delete from amazonmax_campaigns_categories where campid = '$campid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if($campaign_categories != "")
	{
		$clist = explode(",", $campaign_categories);
		
		for($xx = 0; $xx < count($clist); $xx++)
		{
			if(intval($clist[$xx]) > 0)
			{
				$query = "insert into amazonmax_campaigns_categories(campid, catid) values('$campid', '".$clist[$xx]."')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
	}
	
	Header("Location: /mgt/amazonmax/campaign_edit.phtml?campid=$campid");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>AmazonMax Campaign Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>

</HEAD>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>
<?
$query = "select campaign_name, min_profit_pct, min_profit_cur, quantity, qty_control, pricelevel, min_qty from amazonmax_campaigns where id = '$campid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($campaign_name, $min_profit_pct, $min_profit_cur, $quantity, $qty_control, $pricelevel, $min_qty) = mysql_fetch_array($qok);

$query = "select catid from amazonmax_campaigns_categories where campid = '$campid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($catid) = mysql_fetch_array($qok))
{
	if($campaign_categories == "")
		$campaign_categories = $catid;
	else
		$campaign_categories .= ",$catid";
}
?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE($ROOT_DIR."/mgt/amazonmax/e2win_menu.phtml");?>
		
		<div style="padding-left:5px;padding-top:10px">
		<B>AmazonMax Campaign Edit</B>
		<BR><BR>
		
		<form name="amazonCamp" method="POST" style="margin:0px;">
		<input type="hidden" name="campid" value="<?=$campid;?>">
		<table>
		<tr>
			<td width=33%>
				<B>Main</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Campaign Name:</div></td>
					<td><input type="text" name="campaign_name" value="<?=stripslashes($campaign_name);?>" style="width:250px" class="formBox"></td>						
				</tr>	
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">List:</div></td>
					<td>
					<select name="listid[]" class="formSelect" multiple size=10>
						<option value="">--- SELECT ---</option>
						<?
			            $query = "select lid, list_title from lists order by list_title";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($id, $title) = mysql_fetch_array($qok))
						{
							$query = "select campid from amazonmax_campaign_lists where campid = '$campid' and listid = '$id'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($q2ok) > 0)
								$SELECTED = "selected";
							else 
								$SELECTED = "";
							?>
							<option value="<?=$id;?>" <?=$SELECTED;?>><?=$title;?></option>
							<?
						}
						?>
          			</select>
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<input type="text" name="campaign_categories" value="<?=stripslashes($campaign_categories);?>" style="width:250px" class="formBox"><BR>
						<I>Comma Delimited List of Category IDs.</I>
					</td>
				</tr>	
				<tr>
					<td colspan=2>
						<input type="submit" name="Action" value="Save Campaign" class="buttonItem">
					</td>
				</tr>			
				</div>
				</table>	
			</td>
			
			<td width=33%>
				<B>Inventory</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Quantity:</div></td>
					<td>
						<input type="text" name="quantity" value="<?=$quantity;?>" style="width:50px;text-align:right;" class="formBox"><BR>
						<I>Use -1 to use available + dropship<BR>
						Use -2 to use physical<BR>
						Use -3 available<BR>
						Use -4 physical + dropship<BR>
						Use -5 SKU Level Inventory<BR>
						Use -6 SKU Level Inventory (if available) or available + dropship<BR>
						Use -7 to execute the Qty Script (PHP)<BR>
						Use -8 SKU Level Inventory (if available) or available + dropship - PENDING<BR>
						*available = onhand - committed - onhold</I>
					</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Qty Control:</div></td>
					<td>
						<input type="text" name="qty_control" value="<?=$qty_control;?>" style="width:50px;text-align:right;" class="formBox">%<BR>
						<I>use a % of inventory to prevent over selling</I>
					</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Min Qty:</div></td>
					<td>
						<input type="text" name="min_qty" value="<?=$min_qty;?>" style="width:50px;text-align:right;" class="formBox"><BR>
						<I>Minimum Qty to list an item.  Leave as 0 to ignore qty.</I>
					</td>
				</tr>
				</table>	
			</td>
			
			<td width=33%>
				<B>Profitability</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee">Only List If:</td>
					<td>
						Min Profit >= <input type="text" name="min_profit_pct" class="formBox" style="width:30px" value="<?=$min_profit_pct;?>">%
						<BR>
						- or -
						<BR>
						Min Profit of $ <input type="text" name="min_profit_cur" class="formBox" style="width:30px" value="<?=$min_profit_cur;?>">
					</td>
				</tr>	
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Price Level:</div></td>
					<td>
						<select name="pricelevel" class="formSelect">
							<option value="">--- Select ---</option>
							<?
							for($xx = 1; $xx < 10; $xx++)
							{
								$plname = $efc->getConfigValue("Price Level Names", "PL$xx");
								if($plname == "")
									$plname = "Price Level $xx";
									
								?>
								<option value="<?=$xx;?>" <?if($pricelevel == $xx) echo "SELECTED";?>><?=$plname;?></option>
								<?
								
							}
							?>
						</select>
					</td>
				</tr>	
				<tr>
					<td bgcolor="#eeeeee"><div style="padding-top:2px">Qty Script:</div></td>
					<td><textarea name="ofscript" class="formBox" style="width:250px;height:200px"><?
					$query = "select script from amazonmax_qty_scripts where campid = '$campid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($script) = mysql_fetch_array($qok);
					echo $script;
					?></textarea></td>
				</tr>
				</table>
				
				
			</td>
			
		</tr>
		</table>
		</form>
		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

	
</body>
</html>
<?mysql_close();?>