<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$feedList = array();
$feedList2 = array();

$feedList['name'][] = "Base";
$feedList['enum'][] = "BASE";

$feedList['name'][] = "Inventory";
$feedList['enum'][] = "INVENTORY";

$feedList['name'][] = "Pricing";
$feedList['enum'][] = "PRICE";

$feedList['name'][] = "Image";
$feedList['enum'][] = "IMAGE";

$feedList['name'][] = "Fulfillment";
$feedList['enum'][] = "FULFILLMENT";

$feedList['name'][] = "Shipping Override";
$feedList['enum'][] = "SHIPPING";

$feedList['name'][] = "Orders Report";
$feedList['enum'][] = "ORDERS";

$feedList['name'][] = "Convert to FBA";
$feedList['enum'][] = "CONVERTSKUSAFN";

$feedList['name'][] = "Listings Report";
$feedList['enum'][] = "REPORT";

$feedList['name'][] = "Unshipped Orders Report";
$feedList['enum'][] = "UNSHIPPED";

$feedList['name'][] = "Checkout by Amazon";
$feedList['enum'][] = "CBA";

$feedList['name'][] = "Order Adjustment";
$feedList['enum'][] = "ORDERADJUSTMENT";

$feedList2['name'][] = "FBA Age";
$feedList2['enum'][] = "FBAAGE";

$feedList2['name'][] = "FBA Inventory";
$feedList2['enum'][] = "FBAINVENTORY";

$feedList2['name'][] = "FBA Orders";
$feedList2['enum'][] = "FBAORDERS";

$feedList2['name'][] = "FBA Price";
$feedList2['enum'][] = "FBAPRICE";

$feedList2['name'][] = "InboundImport";
$feedList2['enum'][] = "InboundImport";

$feedList2['name'][] = "InboundSYNC";
$feedList2['enum'][] = "InboundSYNC";

?>

<HTML>
<HEAD>
<TITLE>AmazonMax Feeds</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>


<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE($ROOT_DIR."/mgt/amazonmax/e2win_menu.phtml");?>
		
		<table>
		<tr>
			<td width=50%>
					<div style="padding-left:5px;padding-top:10px">
					<B>AmazonMax Feeds</B>
					<BR><BR>
					<table id="results">
					<tr bgcolor="#eeeeee">
						<td height=21><B>ID</B></th>
						<td><B>Name</B></th>
						<td><B>Last ReportID</B></th>
						<td><B>Last Ran</B></th>
						<td><B>Complete</B></th>
					</tr>
			
					<?
					for($xx = 0; $xx < count($feedList['name']); $xx++)
					{
						$query = "select id, tstamp, reportid, complete from amazonmax_feed_report where type = '".$feedList['enum'][$xx]."' order by tstamp desc limit 0, 1";
						$qok = mysql_db_query($DB, $query, $mysqlid);
						
						if(mysql_num_rows($qok) <= 0)
						{
							
						}
						else 
						{
							list($id, $tstamp, $reportid, $complete) = mysql_fetch_array($qok);
							
							$feedage = (time() - strtotime($tstamp)) / 60;
							
							?>
							<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" >
								<td height=21><?=$id;?></td>
								<td><?=$feedList['name'][$xx];?></td>	
								<td><?=$reportid;?></td>
								<td><?=date("m/d/Y H:i:s", strtotime($tstamp));?> 
									<?
									if($complete == 0)
										if($feedage > 15) echo "(<font color='#ff0000'><B>".number_format($feedage, 2)." min ago</B></font>)";else echo "(".number_format($feedage, 2)." min ago)";
									?>
								</td>
								<td <?if($complete == 0) echo "bgcolor='#ffffee'";?>><?if($complete == 1) echo "YES"; else echo "Pending";?></td>
							</tr>
							<?
						}
					}
					?>
					
					</table>
					<BR><BR>
			</td>
			
			<td width=50%>
					<div style="padding-left:5px;padding-top:10px">
					<B>AmazonMax FBA Feeds</B>
					<BR><BR>
					<table id="results">
					<tr bgcolor="#eeeeee">
						<td height=21><B>ID</B></th>
						<td><B>Name</B></th>
						<td><B>Last ReportID</B></th>
						<td><B>Last Ran</B></th>
						<td><B>Complete</B></th>
					</tr>
			
					<?
					for($xx = 0; $xx < count($feedList2['name']); $xx++)
					{
						$query = "select id, tstamp, reportid, complete from fba_max_feed_report where type = '".$feedList2['enum'][$xx]."' order by tstamp desc limit 0, 1";
						$qok = mysql_db_query($DB, $query, $mysqlid);
						
						if(mysql_num_rows($qok) <= 0)
						{
							
						}
						else 
						{
							list($id, $tstamp, $reportid, $complete) = mysql_fetch_array($qok);
							
							$feedage = (time() - strtotime($tstamp)) / 60;
							
							?>
							<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" >
								<td height=21><?=$id;?></td>
								<td><?=$feedList2['name'][$xx];?></td>	
								<td><?=$reportid;?></td>
								<td><?=date("m/d/Y H:i:s", strtotime($tstamp));?> 
									<?
									if($complete == 0)
										if($feedage > 15) echo "(<font color='#ff0000'><B>".number_format($feedage, 2)." min ago</B></font>)";else echo "(".number_format($feedage, 2)." min ago)";
									?>
								</td>
								<td <?if($complete == 0) echo "bgcolor='#ffffee'";?>><?if($complete == 1) echo "YES"; else echo "Pending";?></td>
							</tr>
							<?
						}
					}
					$query = "select id,tstamp, reportid,status from amazonmax_order_reports_by_last_update where 1 order by tstamp desc limit 0, 1";
					$qok = mysql_db_query($DB, $query, $mysqlid);
					
					if(mysql_num_rows($qok) <= 0)
					{
						
					}
					else 
					{
						list($id,$tstamp, $reportid,$status) = mysql_fetch_array($qok);
						
						$feedage = (time() - strtotime($tstamp)) / 60;
						
						?>
						<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';" >
							<td height=21><?=$id;?></td>
							<td>Orders By Last Update</td>	
							<td><?=$reportid;?></td>
							<td><?=date("m/d/Y H:i:s", strtotime($tstamp));?> 
								<?
								if($status == 0)
									if($feedage > 15) echo "(<font color='#ff0000'><B>".number_format($feedage, 2)." min ago</B></font>)";else echo "(".number_format($feedage, 2)." min ago)";
								?>
							</td>
							<td <?if($status == 0) echo "bgcolor='#ffffee'";?>><?if($status == 1) echo "YES"; else echo "Pending";?></td>
						</tr>
						<?
					}
					?>
					
					</table>
					<BR><BR>			
			</td>
		</tr>
		</table>

	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

	
</body>
</html>
<?mysql_close();?>