<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_edit_ebay"); // will redirect on failure
if ($action == 'Save Keyword') {
	if ($keyword != '') {
		$keyword = strip_tags($keyword);
		
		$query = "INSERT INTO amazonmax_keywords (keyword) VALUE ('".addslashes($keyword)."')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		Header("Location: /mgt/amazonmax/filters.phtml");
	}
}
if ($action == 'Delete') {
		$query = "DELETE FROM amazonmax_keywords WHERE id='".$kid."'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		Header("Location: /mgt/amazonmax/filters.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>AmazonMax Campaign Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script>
function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
</HEAD>
<body>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
			<table>
				<tr>
					<td>
						<form method="POST" action="">
							<input type="text" name="keyword" />
							<input type="submit" value="Save Keyword" name="action"/>
						</form>
					</td>
					<td>
					<table>
					<?
						$query = "SELECT id, keyword 
								  FROM amazonmax_keywords 
								  ORDER BY keyword ASC";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while (list($id, $keyword) = mysql_fetch_array($qok)) {
							?>
							<tr>
								<td><?=$keyword?></td>
								<td>
									<a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete this keyword?', '/mgt/amazonmax/filters.phtml?action=Delete&kid=<?=$id;?>')">
										<img src="/mgt/images/del.gif">
									</a>
								</td>
							</tr>
							<?
						}
					?>
					</table>
					</td>
				</tr>
			</table>
		</div>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>
<?mysql_close();?>