<?
// move the categories from the old format..... to the new
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "delete from product_categories";
$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "delete from product_categories_order";
$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "select distinct(grpid), grpdescr from product_groups group by product_groups.grpid";
$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($grpid, $grpdescr) = mysql_fetch_array($qok))
{
	$grpdescr = addslashes($grpdescr);
	
	echo "$grpdescr<BR>";
	
	$query = "insert into product_categories(catid, catname, parentid) values('$grpid', '$grpdescr', '0')";
	$q2ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into product_categories_order(catid, dorder) values('$grpid', '0')";
	$q2ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$query = "select distinct(catid), catdescr from product_groups group by product_groups.catid";
	$q9ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($q9ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	while(list($catid, $catdescr) = mysql_fetch_array($q9ok))
	{
		echo ". $catdescr<BR>";
		
		$catdescr = addslashes($catdescr);
		$query = "insert into product_categories(catid, catname, parentid) values('$grpid$catid', '$catdescr', '$grpid')";
		$q3ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
		if($q3ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		$query = "insert into product_categories_order(catid, dorder) values('$grpid$catid', '0')";
		$q2ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
		if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "select distinct(subid), subdescr from product_groups where catid = '$catid' group by product_groups.subid";
		$q3ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
		if($q3ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		while(list($subid, $subdescr) = mysql_fetch_array($q3ok))
		{
			$subdescr = addslashes($subdescr);
			
			echo "...... $subdescr<BR>";
			
			$query = "insert into product_categories(catid, catname, parentid) values('$grpid$catid$subid', '$subdescr', '$grpid$catid')";
			$q4ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
			if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "insert into product_categories_order(catid, dorder) values('$grpid$catid$subid', '0')";
			$q2ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
			if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// now go thru each product and save its info
$query = "delete from product_category_map";
$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "select id, grp, cat, sub from product_list";
$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $grpid, $catid, $subid) = mysql_fetch_array($qok))
{
	$query = "insert into product_category_map(pid, catid) values('$pid', '$grpid')";
	$q4ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
	$query = "insert into product_category_map(pid, catid) values('$pid', '$grpid$catid')";
	$q4ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
	$query = "insert into product_category_map(pid, catid) values('$pid', '$grpid$catid$subid')";
	$q4ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid);
	if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	
	
}
?>