<form name="plreport">
    <table>
        <tr>
                <td class="g1">Keywords:</td>
                <td><input type="text" name="keywords" value="" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
        </tr>
        <tr>
                <td class="g1">ID:</td>
                <td><input type="text" name="id" style="width:75px" value="" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
        </tr>
         <tr>
                <td class="g1">SKU:</td>
                <td><input type="text" name="sku" style="width:75px" value="" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
        </tr>
        <tr>
                <td class="g1">UPC:</td>
                <td>
                    <input type="text" name="upc" value="" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">
                </td>
        </tr>
        <tr>
                <td class="g1">Brand:</td>
                <td>
                        <select name="brand" id="brand" class="formSelect">
                        <option value="">----- SELECT --------
                        <?
                        $query = "select manid, manname from product_manufacturers order by manname";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        while(list($manid, $manname) = mysql_fetch_array($qok))
                        {
                                if(strlen($manname) > 25)
                                {
                                        $manname = substr($manname, 0, 18)."...";
                                }
                                ?>
                                <option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH_SKU"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
                                <?
                        }
                        ?>
                        </select>						
                </td>
        </tr>
        <?
        $query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
        if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while ($res = mysql_fetch_assoc($q4ok)) {
            ?>
            <tr>
                <td class="g1"><?=$res['config_value']?>:</td>
                <td>
                    <input type="checkbox" name="wh_<?=$res['config_key']?>" id="wh_<?=$res['config_key']?>" class="wh_list" value="<?=$res['config_key']?>">
                </td>
            </tr>
            <?
        }
        ?>
       
        <tr>
            <td colspan=2>
                <div align=center>
                    <input type="button" name="Action" value="View Report" onclick="pullReport(0)" class="buttonItem">
                </div>										
            </td>
        </tr>						
    </table>
</form>	