<?
class eBayAuditClass
{
    var $useconfig = "";
    var $token = null;
    var $devID = null;
    var $certID = null;
    var $appID = null;
    var $serverUrl = null;
    var $siteID = null;
    var $compatabilityLevel = null;
    var $userToken = null;
    var $sandbox = false;
    
    function setEbayVars($config = "") {
        
        $this->_getToken($config);
        $this->devID = $this->efc->getConfigValue("eBay", "DevID");
        $this->certID = $this->efc->getConfigValue("eBay", "CertID");
        $this->appID = $this->efc->getConfigValue("eBay", "AppID");
        $this->siteID = 0;
        $this->compatabilityLevel = $this->efc->getConfigValue("eBay", "CompatibilityLevel");
        if($this->sandbox === true) {
            $this->userToken = $this->getTokenContentSandbox();
            $this->serverUrl = $this->efc->getConfigValue("eBay", "ServerURLSandbox");
        }
        else {
            $this->userToken = $this->getTokenContent();
            $this->serverUrl = $this->efc->getConfigValue("eBay", "ServerURL");
        }
    }
    
    function GetSellerList($per_page,$page_number)
    {
    	// 20 days (past - present)
        $time = time()+14400;
        $timefrom = date("Y-m-d H:i:s", $time - (86400 * 20));
        $timeto = date("Y-m-d H:i:s", $time);
        
        $requestXmlBody = "<?xml version=\"1.0\" encoding=\"utf-8\"?> 
                            <GetSellerListRequest xmlns=\"urn:ebay:apis:eBLBaseComponents\">
                                <RequesterCredentials>
                                    <eBayAuthToken>".$this->userToken."</eBayAuthToken>
                                </RequesterCredentials>
                                <ErrorLanguage>en_US</ErrorLanguage>
                                <WarningLevel>High</WarningLevel>
                                <GranularityLevel>Coarse</GranularityLevel> 
                                <StartTimeFrom>".$timefrom."</StartTimeFrom>
                                <StartTimeTo>".$timeto."</StartTimeTo>
                                <IncludeWatchCount>true</IncludeWatchCount>
                                <Pagination>
                                    <EntriesPerPage>$per_page</EntriesPerPage>
                                    <PageNumber>$page_number</PageNumber>
                                </Pagination>
                            </GetSellerListRequest>";
        $verb = "GetSellerList";

        $responseXml = $this->createEbaySession($verb,$requestXmlBody);
        return $responseXml;		
    }
    function GetSellerListNew($per_page,$page_number,$timefrom,$timeto)
    {
    	// 20 days (past - present)
//        $time = time()+14400;
//        $time = time()-14400;
////        $timefrom = date("Y-m-d H:i:s", $time - (86400 * 20));
//        $timefrom = date("Y-m-d H:i:s", $time);
//        $timeto = date("Y-m-d H:i:s", $time+(86400 * 120));
        
        $requestXmlBody = "<?xml version=\"1.0\" encoding=\"utf-8\"?> 
                            <GetSellerListRequest xmlns=\"urn:ebay:apis:eBLBaseComponents\">
                                <RequesterCredentials>
                                    <eBayAuthToken>".$this->userToken."</eBayAuthToken>
                                </RequesterCredentials>
                                <ErrorLanguage>en_US</ErrorLanguage>
                                <WarningLevel>High</WarningLevel>
                                <EndTimeFrom>".$timefrom."</EndTimeFrom>
                                <EndTimeTo>".$timeto."</EndTimeTo>
                                <IncludeWatchCount>false</IncludeWatchCount>
                                <IncludeVariations>false</IncludeVariations>
                                <GranularityLevel>Coarse</GranularityLevel> 
                                <OutputSelector>ItemArray.Item.ItemID,ItemArray.Item.Title,ItemArray.Item.SKU,ItemsPerPage,PageNumber,PaginationResult.TotalNumberOfPages,PaginationResult.TotalNumberOfEntries</OutputSelector> 
                                <Pagination>
                                    <EntriesPerPage>$per_page</EntriesPerPage>
                                    <PageNumber>$page_number</PageNumber>
                                </Pagination>
                            </GetSellerListRequest>";
        $verb = "GetSellerList";
        $responseXml = $this->createEbaySession($verb,$requestXmlBody);
        return $responseXml;		
    }
    
	function getItemStatusRequest($listing_id)
	{
	    $requestXmlBody = "<?xml version=\"1.0\" encoding=\"utf-8\"?>
                                <GetItemStatusRequest xmlns=\"urn:ebay:apis:eBLBaseComponents\">
                           		<ItemID>".$listing_id."</ItemID>
                           		<MessageID>234234234</MessageID>
                           </GetItemStatusRequest>";
        $verb = "GetItemStatus";
		$responseXml = $this->createEbaySession($verb,$requestXmlBody);
		return $responseXml;
	}    
	
    function createEbaySession($verb,$requestXmlBody) {
        //Create a new eBay session with all details pulled in from included keys.php
        $session = new eBaySession($this->userToken, $this->devID, $this->appID, $this->certID, $this->serverUrl, $this->compatabilityLevel, $this->siteID, $verb);

        //send the request and get response
        $responseXml = $session->sendHttpRequest($requestXmlBody);
        if(stristr($responseXml, 'HTTP 404') || $responseXml == '')
                die('<P>Error sending request');
        return $responseXml;
    }

    function _getToken($useconfig)
    {
            if(($useconfig == "A") || ($useconfig == ""))
            {
                    $this->useconfig = ""; //default

                    $this->token = $this->db;
                    return $this->db;
            }
            else 
            {
                    $this->useconfig = $useconfig; // B or something else

                    $query = "select config_value from configuration where config_group = 'eBay' AND config_key = '$useconfig'";
                    if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($config_value) = mysql_fetch_array($qok);

                    $this->token = $config_value;

                    return $config_value;		
            }
    }    
    
    function getTokenContent() {
        $token = "";
        $filename = $this->ROOT_DIR."/mgt/ebay/tokens/".$this->token.".txt";
        $fp = fopen($filename, "r");
        if(!$fp){ die("FILENAME => $filename NOT FOUND\n");  }
        while(!feof($fp)){ $token .= fgets($fp, 4096); }
        fclose($fp);
        return $token;
    }
    
    function getTokenContentSandbox() {
       $token = "";
        $filename = $this->ROOT_DIR."/mgt/ebay/tokens/sandbox.txt";
        $fp = fopen($filename, "r");
        if(!$fp){ die("FILENAME => $filename NOT FOUND\n");  }
        while(!feof($fp)){ $token .= fgets($fp, 4096); }
        fclose($fp);
        return $token;
    }    
    
    function xml2array($contents, $get_attributes=1) 
    { 
        if(!$contents) return array(); 

        if(!function_exists('xml_parser_create')) { 
            //print "'xml_parser_create()' function not found!"; 
            return array(); 
        } 
        //Get the XML parser of PHP - PHP must have this module for the parser to work 
        $parser = xml_parser_create(); 
        xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
        xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
        xml_parse_into_struct( $parser, $contents, $xml_values ); 
        xml_parser_free( $parser ); 

        if(!$xml_values) return;//Hmm... 

        //Initializations 
        $xml_array = array(); 
        $parents = array(); 
        $opened_tags = array(); 
        $arr = array(); 

        $current = &$xml_array; 

        //Go through the tags. 
        foreach($xml_values as $data) { 
            unset($attributes,$value);//Remove existing values, or there will be trouble 

            //This command will extract these variables into the foreach scope 
            // tag(string), type(string), level(int), attributes(array). 
            extract($data);//We could use the array by itself, but this cooler. 

            $result = ''; 
            if($get_attributes) {//The second argument of the function decides this. 
                $result = array(); 
                if(isset($value)) $result['value'] = $value; 

                //Set the attributes too. 
                if(isset($attributes)) { 
                    foreach($attributes as $attr => $val) { 
                        if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                        /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                    } 
                } 
            } elseif(isset($value)) { 
                $result = $value; 
            } 

            //See tag status and do the needed. 
            if($type == "open") {//The starting of the tag '<tag>' 
                $parent[$level-1] = &$current; 

                if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                    $current[$tag] = $result; 
                    $current = &$current[$tag]; 

                } else { //There was another element with the same tag name 
                    if(isset($current[$tag][0])) { 
                        array_push($current[$tag], $result); 
                    } else { 
                        $current[$tag] = array($current[$tag],$result); 
                    } 
                    $last = count($current[$tag]) - 1; 
                    $current = &$current[$tag][$last]; 
                } 

            } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
                //See if the key is already taken. 
                if(!isset($current[$tag])) { //New Key 
                    $current[$tag] = $result; 

                } else { //If taken, put all things inside a list(array) 
                    if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                            or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                        array_push($current[$tag],$result); // ...push the new element into that array. 
                    } else { //If it is not an array... 
                        $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                    } 
                } 

            } elseif($type == 'close') { //End of tag '</tag>' 
                $current = &$parent[$level-1]; 
            } 
        } 

        return($xml_array); 
    }    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    function GetMemberMessages($onpage,$type)
    {
        /*
         * $type = Unanswered
         * $type = Answered
         */
        $time = time()+14400;
        $timefrom = date("Y-m-d H:i:s", $time - (86400 * 10));
        $timeto = date("Y-m-d H:i:s", $time);
        
        $requestXmlBody = "<?xml version=\"1.0\" encoding=\"utf-8\"?> 
                            <GetMemberMessagesRequest xmlns=\"urn:ebay:apis:eBLBaseComponents\">
                                <RequesterCredentials>
                                    <eBayAuthToken>".$this->userToken."</eBayAuthToken>
                                </RequesterCredentials>
                                <WarningLevel>High</WarningLevel>
                                <MailMessageType>All</MailMessageType>
                                <MessageStatus>".$type."</MessageStatus>
                                <StartCreationTime>".$timefrom."</StartCreationTime>
                                <EndCreationTime>".$timeto."</EndCreationTime>
                                <Pagination>
                                    <EntriesPerPage>200</EntriesPerPage>
                                    <PageNumber>$onpage</PageNumber>
                                </Pagination>
                            </GetMemberMessagesRequest>";

        $verb = "GetMemberMessages";

        $responseXml = $this->createEbaySession($verb,$requestXmlBody);
        return $responseXml;		
    }
    
    /*
     * 
     */
    function responseMemberMessage($itemID,$parentMessageID,$msg,$recipientID,$displayPublic = 'true',$copyToSender = 'true') {
//        <ItemID>".$itemID."</ItemID>
//        $xmsg = htmlentities("<![CDATA[".$msg."]]>");
//        $xmsg = htmlentities($msg);
        $xmsg = "<![CDATA[".htmlentities($msg)."]]>";
        $xmsg = strip_tags($msg);
        $requestXmlBody = "<?xml version=\"1.0\" encoding=\"utf-8\"?> 
                            <AddMemberMessageRTQRequest xmlns=\"urn:ebay:apis:eBLBaseComponents\">
                                <RequesterCredentials>
                                    <eBayAuthToken>".$this->userToken."</eBayAuthToken>
                                </RequesterCredentials>
                                <WarningLevel>High</WarningLevel>
                                <MemberMessage>
                                    <Body>
                                    ".$xmsg."
                                    </Body>
                                    <DisplayToPublic>".$displayPublic."</DisplayToPublic>
                                    <EmailCopyToSender>".$copyToSender."</EmailCopyToSender>
                                    <ParentMessageID>".$parentMessageID."</ParentMessageID>
                                    <RecipientID>".$recipientID."</RecipientID>
                                </MemberMessage>
                            </AddMemberMessageRTQRequest>";
//        print_r($requestXmlBody);
//        exit();
        $verb = "AddMemberMessageRTQ";

        $responseXml = $this->createEbaySession($verb,$requestXmlBody);
        return $this->xml2array($responseXml);
    }

    


    function setTokenFromCampaignID($campaignID)
    {
            $query = "select useconfig from ebay_campaigns where id = '$campaignID'";
            if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($useconfig) = mysql_fetch_array($qok);

            return $this->_getToken($useconfig);
    }


    function rand_string($pass_len = 8) 
    { 
            $allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

            $str = "" ; 
            mt_srand ((double) microtime() * 1000000); 
            for ( $i = 0; $i<$pass_len ; $i++ ) 
            $str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
            return date("YmdHis").$str ; 
    }

    function cleanse($data)
    {
            $data = str_replace("<![CDATA[", "", $data);
            $data = str_replace("]]>", "", $data);

            return preg_replace("/[^a-zA-Z0-9!~$*_#;:?&%=){}(><.,\[\]\-'\+\/\"\s]/","", $data);
    }
   function checkItemStatus($listings) {
//   		$h = fopen("items.txt","a");
//   		fwrite($h,$listings."\n");
   		
		$url = "http://open.api.ebay.com/shopping?callname=GetItemStatus&responseencoding=XML&appid=$this->appID&siteid=0&version=515&ItemID=".$listings;
//		$result = $this->efc->loadPage($url,"");
		$result = file_get_contents($url);
		$xml = $this->xml2array($result);
//		fwrite($h,$result."\n");
		if(!isset($xml['GetItemStatusResponse'])) {
//			print_r($result);
		}
//		fclose($h);
        return $xml;
        
    }
    
}
?>