<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
function cleanVar($var)
{
	$var = trim($var);
	
	if($var[0] == '"')
		$var = substr($var, 1);
	
	if($var[ strlen($var) - 1 ] == '"')
		$var = substr($var, 0, strlen($var) - 1);
		
	$var = str_replace("\"\"", "~~", $var);
	
	return $var;
}
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$BASE_FILE = $argv[2];

if($ROOT_DIR == "" || $BASE_FILE == "")
{
	echo "usage: import_skus.phtml ROOT_DIR FILENAME\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$fp = fopen($BASE_FILE, "r");
$data = fgetcsv($fp, null, "\t");

while($data = fgetcsv($fp, null, "\t"))
{
	$title 	= addslashes( cleanVar( $data[0] ) );
	$sku   	= addslashes( cleanVar( $data[1] ) );
	$instock= addslashes( cleanVar( $data[2] ) );
	$image =  addslashes( cleanVar( $data[23] ) );
	
	echo "SKU: $sku\n";
	
	$query = "select id from product_list where sku = '$sku'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
	if(mysql_num_rows($qok) > 0)// it already exists
	{
		list($pid) = mysql_fetch_array($qok);
		
		echo "......ALREADY EXISTS: $pid\n";
		
		
		
		$imageList = split(",", $image);
		
		echo "IMAGE => $image\n";
		print_r($imageList);

		
		for($xx = 0; $xx < count($imageList); $xx++)
		{	
			$id = $xx + 1;
			
			$imageURL = $imageList[$xx];
			
			for($zz = 0; $zz < 9; $zz++)
				$imageURL = str_replace("ITEMIMAGEURL$zz=", "", $imageURL);

			echo "originalURL => ".$imageList[$xx]."\n";
			echo "imageURL => $imageURL\n";
			echo "replaced => ITEMIMAGEURL$id=\n";
			
			$imagefile = "$ROOT_DIR/mgt/temp/$pid-$xx.jpg";
			$efc->getBinaryFile($imageURL, "http://www.channeladvisor.com", $imagefile);		
			
			if(file_exists($imagefile))	
			{
				echo "IMAGE => $imagefile\n\n";
				
				$xp = fopen($imagefile, "r");
				if($xp == false){echo "ERROR OPENING FILE<BR>";return;}
				$data = "";
				while(!feof($xp))
				{
					$data .= fgets($xp, 4096);
				}
				fclose($xp);
				$data = addslashes($data);	 		
		
				// get the current highest itype
				$query = "select itype from product_images where id = '$pid' order by itype desc limit 0,1";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				list($itype) = mysql_fetch_array($qok);
				
				if(($itype >= 1) && ($xx == 0)) // there's already a 1?!?
				{
					echo "itype > 1\n";
					
					// get the imageid of the current itype = 1
					$query = "select imageid from product_images where id = '$pid' and itype = '1'";
					$qok = mysql_db_query($DB, $query, $mysqlid);
					list($imageid) = mysql_fetch_array($qok);
					
					// update the old itype = 1 to the itype + 1
					$thisitype = $itype + 1;
					$query = "update product_images set itype = '$thisitype' where imageid = '$imageid'";					
					echo "$query\n\n";
					$qok = mysql_db_query($DB, $query, $mysqlid);
					
					// now set this item to itype = 1
					$query = "insert into product_images(id, idata, itype, thumb, width, height, title) values('$pid', '$data', '1', '0', '500', '500', 'digitalyear')";
					$qok = mysql_db_query($DB, $query, $mysqlid);
					echo "insert into product_images => $pid = 1\n\n";

				}
				else 
				{
					echo "itype < 1\n";
					
					$thisitype = $itype + 1;
					
					$query = "insert into product_images(id, idata, itype, thumb, width, height, title) values('$pid', '$data', '$thisitype', '0', '500', '500', 'digitalyear')";
					$qok = mysql_db_query($DB, $query, $mysqlid);
					echo "insert into product_images => $pid = $thisitype\n\n";
					
					
				}
			
				unlink($imagefile);
				
				$efc->cache_watermark_image($pid, $ROOT_DIR);	
			}
			else 
			{
				echo "ERROR DOWNLOADING IMAGE\n";	
			}
			
		}	
	}		

}
?>
DONE!
