<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
function cleanVar($var)
{
	$var = trim($var);
	
	if($var[0] == '"')
		$var = substr($var, 1);
	
	if($var[ strlen($var) - 1 ] == '"')
		$var = substr($var, 0, strlen($var) - 1);
		
	$var = str_replace("\"\"", "~~", $var);
	
	return $var;
}
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$BASE_FILE = $argv[2];

if($ROOT_DIR == "" || $BASE_FILE == "")
{
	echo "usage: import_skus.phtml ROOT_DIR FILENAME\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
INCLUDE($ROOT_DIR."/mgt/sm/aws_signed_request.php");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$fp = fopen($BASE_FILE, "r");
$data = fgetcsv($fp, null, "\t");

while($data = fgetcsv($fp, null, "\t"))
{
	$title 	= addslashes( cleanVar( $data[0] ) );
	$sku   	= addslashes( cleanVar( $data[1] ) );
	$instock= addslashes( cleanVar( $data[2] ) );

	//$descr 	= addslashes( cleanVar( $data[13] ) );
	$cost 	= addslashes( cleanVar( $data[18] ) );
	$price 	= addslashes( cleanVar( $data[20] ) );
	$image =  addslashes( cleanVar( $data[23] ) );
	
	//////////////////////////////////////////////////////////////////////////////
	
	$brand= addslashes( cleanVar( $data[15] ) );
	$upc = addslashes( cleanVar( $data[8] ) );
	$asin = addslashes( cleanVar( $data[10] ) );
	$manpart = addslashes( cleanVar( $data[11] ) );
	$pricenote = addslashes( cleanVar( $data[11] ) );
	$iskit = 0;
	
	$condition_info = $descr = $html = $inthebox = $color = $alt_condition = "";
	
	for($xx = 45; $xx < 144; $xx = $xx + 2)
	{
		if(stristr($data[$xx], "CONDITION INFO"))
		{
			$condition_info = addslashes( cleanVar( $data[$xx + 1] ) );		
		}
		else if(stristr($data[$xx], "FEATURES"))
		{
			$descr 	= addslashes( cleanVar( $data[$xx + 1] ) ); // features stored in product_descr
		}
		else if(stristr($data[$xx], "SPECS"))
		{
			$html 	= addslashes( cleanVar( $data[$xx + 1] ) );
		}
		else if(stristr($data[$xx], "Whats In Box"))
		{
			$inthebox = addslashes( cleanVar( $data[$xx + 1] ) );
		}
		else if(stristr($data[$xx], "Color"))
		{
			$color = addslashes( cleanVar( $data[$xx + 1] ) );
		}
		else if(stristr($data[$xx], "Condition"))
		{
			$alt_condition = addslashes( cleanVar( $data[$xx + 1] ) );
		}
		else if(stristr($data[$xx], "KIT-ICON"))
		{
			if(stristr($data[$xx + 1], "KIT_HDR_ON"))
			{
				$iskit = 1;
			}
		}
	}
	
	////////////////////////////////////////////////////////////////////////
	$condition = strtoupper($data[16]);
	$classification = addslashes($data[44]);
	////////////////////////////////////////////////////////////////////////
	$am_condition = "New";
	
	if($condition == "NEW")
	{
		$refurb = 0;
		$am_condition = "New";
	}
	else if($condition == "RECONDITIONED")
	{
		$refurb = 1;
		$am_condition = "Refurbished";
	}
	else if($condition == "LIKE NEW")
	{
		$refurb = 1;
		$am_condition = "UsedLikeNew";
	}
	else if($condition == "REFURBISHED")
	{
		$refurb = 1;
		$am_condition = "Refurbished";
	}
	// NEW,RECONDITIONED,LIKE NEW,REFURBISHED
	
	/*echo "BRAND: $brand\n";
	echo "SKU: $sku\n";
	echo "TITLE: $title\n";
	echo "PRICE: $price\n";
	//echo "DESCR: $descr\n";
	echo "INSTOCK: $instock\n";
	//echo "HTML: $html\n";
	echo "Image: $image\n";
	echo "------------------------\n";*/
	

	$query = "select id from product_list where sku = '$sku'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
	if(mysql_num_rows($qok) > 0)// it already exists
	{
		list($pid) = mysql_fetch_array($qok);
		
		echo "ALREADY EXISTS: $pid\n";
		
		$imageList = split(",", $image);
		sort($imageList);
		for($xx = 0; $xx < count($imageList); $xx++)
		{	
			$id = $xx + 1;
			
			$imageURL = $imageList[$xx];
			
			for($zz = 0; $zz < 9; $zz++)
				$imageURL = str_replace("ITEMIMAGEURL$zz=", "", $imageURL);

			echo "originalURL => ".$imageList[$xx]."\n";
			echo "imageURL => $imageURL\n";
			echo "replaced => ITEMIMAGEURL$id=\n";
			
			$imagefile = "$ROOT_DIR/mgt/temp/$pid-$xx.jpg";
			$efc->getBinaryFile($imageURL, "http://www.channeladvisor.com", $imagefile);		
			
			if(file_exists($imagefile))	
			{
				echo "IMAGE => $imagefile\n\n";
				
				$xp = fopen($imagefile, "r");
				if($xp == false){echo "ERROR OPENING FILE<BR>";return;}
				$data = "";
				while(!feof($xp))
				{
					$data .= fgets($xp, 4096);
				}
				fclose($xp);
				$data = addslashes($data);	 		
		
			
				$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '$xx', '0', '500', '500')";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				unlink($imagefile);
				
				$efc->cache_watermark_image($pid, $ROOT_DIR);	
			}
			else 
			{
				echo "ERROR DOWNLOADING IMAGE\n";	
			}
			
		}	
			
		// see if the category exists
		if( strtolower(substr($classification, 0, 7)) == "general" )
			$classification = "General";
			
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		// categorize it
		if($iskit == 1)
		{
			$query = "select catid from product_categories where catname = 'Broken Kits'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($catid) = mysql_fetch_array($qok);
			
			$query = "delete from product_category_map where pid = '$pid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else 
		{
			echo "Categorizing: $classification\n";
			$query = "select catid from product_categories where catname = '$classification'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) <= 0)
			{
				$query = "select catid from product_categories order by catid desc limit 0,1";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				list($catid) = mysql_fetch_array($qok);
				$catid++;
	
				$query = "insert into product_categories(catid, catname, parentid) values('$catid', '$classification', '0')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "delete from product_category_map where pid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else 
			{
				echo "... cat already exists\n";
				
				list($catid) = mysql_fetch_array($qok);
				
				$query = "delete from product_category_map where pid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
	}
	else 
	{
		$query = "select id from product_list order by id desc limit 0, 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pid) = mysql_fetch_array($qok);
		$pid++;	
	
		$cleanmanpart = preg_replace("/[^a-zA-Z0-9s+]/", "", $sku);
					
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into product_list(id, manid, manpart, cmanpart, descr, added_dte, upccode, visible, sku, dropship, oem, refurb, use_asin, asin, am_qty, modelno, pricenote, am_condition) 
				values('$pid', '1', '$manpart', '$cleanmanpart', '$title', '$tstamp', '$upc', '0', '$sku', '0', '0', '$refurb', '0', '$asin', '0', '', '$pricenote', '$am_condition')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
		$query = "insert into product_category_map(pid, catid) values('$pid', '1')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
								
		$query = "insert into product_prices(id, price_level1, price_level2, price_level3, instock, avgcost) 
						values('$pid', '$price','$price','$price', '$instock', '$cost')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
		$imageList = split(",", $image);
		sort($imageList);
		for($xx = 0; $xx < count($imageList); $xx++)
		{	
			$id = $xx + 1;
			
			$imageURL = $imageList[$xx];
			
			for($zz = 0; $zz < 9; $zz++)
				$imageURL = str_replace("ITEMIMAGEURL$zz=", "", $imageURL);

			echo "originalURL => ".$imageList[$xx]."\n";
			echo "imageURL => $imageURL\n";
			echo "replaced => ITEMIMAGEURL$id=\n";
			
			$imagefile = "$ROOT_DIR/mgt/temp/$pid-$xx.jpg";
			$efc->getBinaryFile($imageURL, "http://www.channeladvisor.com", $imagefile);		
			
			if(file_exists($imagefile))	
			{
				echo "IMAGE => $imagefile\n\n";
				
				$xp = fopen($imagefile, "r");
				if($xp == false){echo "ERROR OPENING FILE<BR>";return;}
				$data = "";
				while(!feof($xp))
				{
					$data .= fgets($xp, 4096);
				}
				fclose($xp);
				$data = addslashes($data);	 		
		
			
				$query = "insert into product_images(id, idata, itype, thumb, width, height) values('$pid', '$data', '$xx', '0', '500', '500')";
				$qok = mysql_db_query($DB, $query, $mysqlid);
				if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				unlink($imagefile);
				
				$efc->cache_watermark_image($pid, $ROOT_DIR);	
			}
			else 
			{
				echo "ERROR DOWNLOADING IMAGE\n";	
			}
			
		}	
			

		if($descr != '')
		{
			$query = "insert into product_descr(id, data) values('$pid', '$descr')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		if($inthebox != '')
		{
			$query = "insert into product_inthebox(id, data) values('$pid', '$inthebox')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		if($html != '')
		{
			$query = "insert into product_html(id, data) values('$pid', '$html')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		if($brand != '')
		{
			$query = "select manid from product_manufacturers where manname = '$brand'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) > 0)
			{
				list($manid) = mysql_fetch_array($qok);
				$query = "update product_list set manid = '$manid' where id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else 
			{
				$query = "insert into product_manufacturers(manname) values('$brand')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$manid = mysql_insert_id();
				
				$query = "update product_list set manid = '$manid' where id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		// condition_info
		$query = "delete from custom_values where cfid = '34' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into custom_values(cfid, pid, text_short) values('34', '$pid', '$condition_info')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		// color
		$query = "delete from custom_values where cfid = '33' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into custom_values(cfid, pid, text_short) values('33', '$pid', '$color')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		// color
		$query = "delete from custom_values where cfid = '35' and pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "insert into custom_values(cfid, pid, text_short) values('35', '$pid', '$alt_condition')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		//////////////////////////////////////////////////////////////////////////////////////////////////////////
		// categorize it
		if($iskit == 1)
		{
			$query = "select catid from product_categories where catname = 'Broken Kits'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($catid) = mysql_fetch_array($qok);
			
			$query = "delete from product_category_map where pid = '$pid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
			$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else 
		{
			echo "Categorizing: $classification\n";
			$query = "select catid from product_categories where catname = '$classification'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) <= 0)
			{
				$query = "select catid from product_categories order by catid desc limit 0,1";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				list($catid) = mysql_fetch_array($qok);
				$catid++;
	
				$query = "insert into product_categories(catid, catname, parentid) values('$catid', '$classification', '0')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "delete from product_category_map where pid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else 
			{
				echo "... cat already exists\n";
				
				list($catid) = mysql_fetch_array($qok);
				
				$query = "delete from product_category_map where pid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "insert into product_category_map(pid, catid) values('$pid', '$catid')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
		}
				
		echo "$pid\n";
			
		$efc->cacheAdditionalInfo($pid);
		
		//exit;
	}
	
}
?>
DONE!
