<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/*******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Warehouse location management</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<style type="text/css">
.table_box {
	width: 500px;
	display: block;
	margin: 0 auto;
	text-align: center;
	_text-align:left;
}

.table_box tr {
	height:90px;
}

.box {
	border: 1px solid #ccc;
	padding: 20px;
	font-size: 20px;
	text-decoration: none;
}

.blue_box {
	color: blue;
}

.red_box {
	color: red;
}

.green_box {
	color: green;
}

.brown_box {
	color: brown;
	margin:0 10px;
}
</style>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Warehouse location management</B>
		<BR><BR>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
<tr>	
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td style="_text-align:center;">
		<table class="table_box" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td><a class="box blue_box" href="/mgt/sm/btf_whs_loc_mngt/product_lookup.phtml">Add An Item To A Location</a></td>
		</tr>
		<tr>
			<td><a class="box red_box" href="/mgt/sm/btf_whs_loc_mngt/remove_from_location.phtml">Remove An Item From A Location</a></td>
		</tr>
		<tr>
			<td><a class="box green_box" href="/mgt/sm/btf_whs_loc_mngt/item_lookup.phtml">Loop Up Where An Items Is Located</a></td>
		</tr>
		<tr>
			<td><a class="box brown_box" href="/mgt/sm/btf_whs_loc_mngt/list_by_pid.phtml">All Items</a>&nbsp;<a class="box brown_box" href="/mgt/sm/btf_whs_loc_mngt/list_by_location.phtml">All Locations</a></td>
		</tr>
		</table>	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>