<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if(intval($_SESSION["SHIP_SAVEDSEARCH"]['num2return']) <= 0)
{
	$_SESSION["SHIP_SAVEDSEARCH"]['ignore_printed'] = 1;
}

$pickingstatus = $efc->getConfigValue("eFluent Settings", "PickingStatus");

if(intval($pickingstatus) <= 0)
{
	echo "From eFluent, configure the PickingStatus Status from Config->Site Configuration->eFluent Settings->PickingStatus";
	exit;
}

?>
<HTML>
<HEAD>
<TITLE>Warehouse location management - Look up where an item is located</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT>
var g_level = 0;
var search_type = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function lookUp()
{
	var keywords = document.lookup.keywords.value;
	var pid = document.lookup.pid.value;
	var upccode = document.lookup.upccode.value;
	var sku = document.lookup.sku.value;

	var brand = 0;
	if (document.lookup.brand.selectedIndex > 0) {
		brand = document.lookup.brand.options[document.lookup.brand.selectedIndex].value;
	}
	
	var exclude_kits = 0;
	if (document.lookup.exclude_kits.checked) {
		exclude_kits = 1;
	}

	var exclude_children = 0;
	if (document.lookup.exclude_children.checked) {
		exclude_children = 1;
	}
	
	var num2return = 0;
	if (document.lookup.num2return.selectedIndex > 0) {
		num2return = document.lookup.num2return.options[document.lookup.num2return.selectedIndex].value;
	}
	
	var url="/mgt/sm/btf_whs_loc_mngt/ajax_lookup.phtml";
	url += "?search=locations";
	url += "&keywords=" + keywords;
 	url += "&pid=" + pid;
 	url += "&upccode=" + upccode;
 	url += "&sku=" + sku;
 	url += "&brand=" + brand;
 	url += "&exclude_kits=" + exclude_kits;
 	url += "&exclude_children=" + exclude_children;
 	url += "&num2return=" + num2return;
 	url += "&sid="+Math.random();
	
	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null) {
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	document.getElementById("lookupresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=lookUpComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function lookUpComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");
		
		if (lines[0] == 1)
		{
			var rows = lines[1].split("\t");
			window.location = "/mgt/sm/btf_whs_loc_mngt/lookup_item_locations.phtml?pid=" + rows[0];
			return;
		}
		
		document.getElementById("lookupresults").innerHTML = lines[0] + ' products';
		
		for(xx = 1; xx < lines.length; xx++)
		{
			var rows = lines[xx].split("\t");
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
					newRow.style.height = 21;
				}

				for(pp = 0; pp <= rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					if(pp == 0) {
						newCell.innerHTML = "<button value=\"Choose\" onclick=\"window.location='/mgt/sm/btf_whs_loc_mngt/lookup_item_locations.phtml?pid="+rows[0]+"';\" \">Choose</button>";
					} else if (pp > 3) {
					} else {
						newCell.innerHTML = rows[pp];
					}					
				}
			}
		}
	}			
}


function clearForm()
{
	document.lookup.keywords.value = "";
	document.lookup.pid.value = "";
	document.lookup.upc.value = "";
	document.lookup.sku.value = "";
	document.lookup.brand.selectedIndex = 0;
}

function setCursorDefault() {
	document.getElementById('pid').focus();
	document.getElementById('pid').select();
}

function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			lookUp();
			return false;
		}
	}
}
</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>
<body onload="setCursorDefault()">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B><a href="/mgt/sm/btf_whs_loc_mngt/">Home</a> - <a href="/mgt/sm/btf_whs_loc_mngt/product_lookup.phtml">Add An Item To A Location</a> - <a href="/mgt/sm/btf_whs_loc_mngt/remove_from_location.phtml">Remove a item from a location</a> - Look up where an item is located<div id="loading_gif"></div></B>
		<BR><BR>
		<table width=100%>
		<tr>
			<td colspan="2" height="20"></td>
		</tr>
		<tr>
			<td width="30%"><?php include 'left_menu.phtml'; ?></td>
			<td width="70%">
				<table width=100%>
				<tr>
					<td width=275 align=center>
					<!--------------------------------------------------------------->		
					
					<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
						<div class="TabbedPanelsContentGroup">
							<div class="TabbedPanelsContent">  
							<form name="lookup">
								<table>
								<tr>
									<td class="g1">ID:</td>
									<td><input type="text" name="pid" id="pid" value="" style="width:125px" onkeypress="return cancelReturn(this, event)" class="formBox"></td>
								</tr>
								<tr>
									<td class="g1">Keywords:</td>
									<td><input type="text" name="keywords" value="" style="width:125px" onkeypress="return cancelReturn(this, event)" class="formBox"></td>
								</tr>	
								<tr>
									<td class="g1">UPC:</td>
									<td><input type="text" name="upccode" value="" style="width:125px" onkeypress="return cancelReturn(this, event)" class="formBox"></td>
								</tr>
								<tr>
									<td class="g1">SKU:</td>
									<td><input type="text" name="sku" value="" style="width:125px" onkeypress="return cancelReturn(this, event)" class="formBox"></td>
								</tr>						
								<tr>
									<td class="g1">Brand:</td>
									<td>
										<select name="brand" id="brand" class="formSelect">
											<option value="">----- SELECT -----</option>
											<?php
											$q_brands = "SELECT DISTINCT pm.manid, pm.manname
														 FROM product_manufacturers pm, product_list pl
														 WHERE pm.manid = pl.manid
														 ORDER BY pm.manname";
											if(!$qok_brands = mysql_db_query($DB, $q_brands, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($manid, $manname) = mysql_fetch_array($qok_brands))
											{
												echo '<option value="'.$manid.'">'.$manname.'</option>';
											}
											?>
										</select>
									</td>
								</tr>						
								<tr>
									<td class="g1">Exclude Kits:</td>
									<td>
										<input type="checkbox" checked="cheched" name="exclude_kits">	
									</td>
								</tr>
								<tr>
									<td class="g1">Exclude Children:</td>
									<td>
										<input type="checkbox" checked="cheched" name="exclude_children">	
									</td>
								</tr>
								<tr>
									<td class="g1"><div style="padding-top:2px;">Return:</div></td>
									<td valign="top">
									<select name="num2return" class="formSelect">
										<option value="50" selected="">50 items (default)</option>
										<option value="100">100 items</option>
										<option value="1000">1000 items</option>
										<option value="2500">2500 items</option>
										<option value="9999">9999 items</option>
									</select>						
									</td>
								</tr>						
								<tr>
									<td colspan=2>
										<BR>
											<div align=center>
												<input type="button" name="" value="Search" onclick="lookUp()" class="buttonItem">&nbsp;&nbsp;
												<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
											</div>
									</td>
								</tr>									
								<tr>
									<td colspan=2>
										<div align=center>
		
										<BR>
										<div id="lookupresults" style="display:inline;">&nbsp;</div>	
										</div>
									</td>
								</tr>
								</table>
							</form>	
							</div>
						</div>
					</div>
					</td>
					<td width=95%>
						<table width=99% id="results" class="sortable">
						<tr bgcolor="#eeeeee">
							<th height=21>&nbsp;</th>
							<th>SKU</th>
							<th>MAN</th>
							<th>Title</th>
						</tr>	
						</table>
					</td>
				</tr>
				</table>
			</td>
			<td width=13 background="/mgt/images/r.jpg"> </td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>