<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/*******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Warehouse location management - Look up where an item is located</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<style type="text/css">
.table_box {
	width: 500px;
	display: block;
	margin: 0 auto;
	text-align: center;
	_text-align:left;
}

#search_location p {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

#search_location .formBox {
	border: 3px solid #000;
	color: #333;
	font-size: 12pt;
	width: 180px;
	padding: 5px;
}

#search_location .buttonItem {
	font-family: verdana, helvetica, arial;
	color: black;
	font-size: 12pt;
	padding: 7px;
}

.fnt20 {
	font-size:20px;
	
}

.h20 {
	height:20px;
}

.h50 {
	height:50px;
}

ul#loc_list {
	list-style-type:none;
	display:block;
	font-size:16px;
	text-align:left;
}

ul#loc_list li {
	float:left;
	display:inline-block;
	width:130px;
	margin:5px;
}

ul#loc_list li span {
	display:block;
	padding:2px 0 2px 15px;
}

ul#loc_list li span.title {
	border-bottom:1px solid #000;
	font-weight:bold;
	margin-bottom:5px;
}
</style>
<script type="text/javascript">
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function getListOfLocations(pid) {
	var url="/mgt/sm/btf_whs_loc_mngt/ajax_searchloc.phtml?condition=lookup_list&pid=" + pid + "&sid="+Math.random();
	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null) {
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
	
  	document.getElementById("loading_gif").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	xmlHttp.onreadystatechange=getListOfLocationsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function getListOfLocationsComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("loading_gif").innerHTML = '';
		document.getElementById("loc_list").innerHTML = xmlHttp.responseText;
	}
}

function removeItemFromLoc(pid,location_val) {
	var alert_answer = confirm('Are you sure you want to delete this item from this location?');
	if (alert_answer) {
		var url="/mgt/sm/btf_whs_loc_mngt/ajax_searchloc.phtml?condition=remove&location=" + location_val + "&pid=" + pid + "&sid="+Math.random();
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null) {
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	}
	
	  	document.getElementById("loading_gif").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	  	
		xmlHttp.onreadystatechange=removeItemFromLocComplete;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
}

function removeItemFromLocComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("loading_gif").innerHTML = '';
		getListOfLocations(<?php echo $pid; ?>);
	}
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body onload="getListOfLocations(<?php echo $pid; ?>);">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr height="100">
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B><a href="/mgt/sm/btf_whs_loc_mngt/">Home</a> - <a href="/mgt/sm/btf_whs_loc_mngt/product_lookup.phtml">Add An Item To A Location</a> - <a href="/mgt/sm/btf_whs_loc_mngt/remove_from_location.phtml">Remove a item from a location</a> - Look up where an item is located<div id="loading_gif"></div></B>
		<BR><BR>
		<table width=100%>
		<tr>
			<td colspan="2" height="20"></td>
		</tr>
		<tr>
			<td width="30%"><?php include 'left_menu.phtml'; ?></td>
			<td width="70%" style="_text-align:center;">
				<table class="table_box" cellpadding="0" cellspacing="0" border="0">
				<tr class="h50">
					<td align="center"><strong class="fnt20">Look up where an item is located</strong></td>
				</tr>
				<tr>
					<td align="left">
					<?php			
					$q = "SELECT product_list.id, product_list.upccode, product_manufacturers.manname, product_list.descr
						  FROM product_list, product_manufacturers
						  WHERE product_list.manid = product_manufacturers.manid
						  AND product_list.id = '$pid'
						  LIMIT 1";
					if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pid, $upccode, $manname, $descr) = mysql_fetch_array($qok);
					?>
					<p>PID: <?php echo $pid; ?></p>						
					<p>UPC: <?php echo $upccode; ?></p>						
					<p>Brand: <?php echo $manname; ?></p>						
					<p>Title: <strong><?php echo $descr; ?></strong></p>						
					</td>
				</tr>
				<tr class="h20"><td>&nbsp;</td></tr>
				<tr class="h20"><td><ul id="loc_list">&nbsp;</ul></td></tr>
				</table>			
			</td>
			<td width=13 background="/mgt/images/r.jpg"> </td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>