<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/*******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Warehouse location management - Remove a item from a location</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<style type="text/css">
.table_box {
	width: 800px;
	display: block;
	margin: 0 auto;
	text-align: center;
	_text-align:left;
}

#search_location p {
	display: inline-block;
	display: -moz-inline-stack;
	*display: inline;
	margin: 0 2px;
	text-align: center;
}

#search_location .formBox {
	border: 3px solid #000;
	color: #333;
	font-size: 12pt;
	width: 180px;
	padding: 5px;
}

#search_location .buttonItem {
	font-family: verdana, helvetica, arial;
	color: black;
	font-size: 12pt;
	padding: 4px;
}

.fnt20 {
	font-size:20px;
	
}

.h20 {
	height:20px;
}

.h50 {
	height:50px;
}

ul#loc_list {
	list-style-type:none;
	display:block;
	font-size:16px;
	text-align:left;
}

ul#loc_list li {
	float:left;
	display:inline-block;
	width:210px;
	margin:10px;
}

ul#loc_list li.clear {
	clear:both;
	height:1px;
	display:block;
	width:100%;
}

ul#loc_list li span {
	display:block;
	padding:2px 0 2px 15px;
	line-height:18px;
}

ul#loc_list li span.title {
	border-bottom:1px solid #000;
	font-weight:bold;
	margin-bottom:5px;
}
</style>
<script type="text/javascript">
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function searchLoc() {
	var search_location = document.getElementById('search_location');
	var location_val = document.searchloc.location_val.value;

	if (location_val == '') {
		alert('Please enter location address.');
		return;
	} else if (location_val.length < 5) {
		alert('Please enter a correct location address.');
		return;
	} else {
		var url="/mgt/sm/btf_whs_loc_mngt/ajax_searchloc.phtml?condition=search&location=" + location_val + "&sid="+Math.random();
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null) {
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	
	  	document.getElementById("loading_gif").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	  	
		xmlHttp.onreadystatechange=searchLocComplete;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
}

function searchLocComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("loading_gif").innerHTML = '';
		document.getElementById("loc_list").innerHTML = xmlHttp.responseText;	
	}
}

function removeItemFromLoc(pid) {
	var alert_answer = confirm('Are you sure you want to delete this item from this location?');
	if (alert_answer) {
		var location_val = document.searchloc.location_val.value;
		var url="/mgt/sm/btf_whs_loc_mngt/ajax_searchloc.phtml?condition=remove&location=" + location_val + "&pid=" + pid + "&sid="+Math.random();
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null) {
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	}
	
	  	document.getElementById("loading_gif").innerHTML =  "<img src='/mgt/images/loading.gif'>";
	  	
		xmlHttp.onreadystatechange=removeItemFromLocComplete;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
}

function removeItemFromLocComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("loading_gif").innerHTML = '';
		searchLoc();
	}
}

function setCursorDefault() {
	document.getElementById('location_val').focus();
	document.getElementById('location_val').select();
}

function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchLoc();
			return false;
		}
	}
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body onload="setCursorDefault();">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr height="100">
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B><a href="/mgt/sm/btf_whs_loc_mngt/">Home</a> - <a href="/mgt/sm/btf_whs_loc_mngt/product_lookup.phtml">Add An Item To A Location</a> - Remove a item from a location - <a href="/mgt/sm/btf_whs_loc_mngt/item_lookup.phtml">Look up where an item is located</a><div id="loading_gif"></div></B>
		<BR><BR>
		<table width=100%>
		<tr>
			<td colspan="2" height="20"></td>
		</tr>
		<tr>
			<td width="30%"><?php include 'left_menu.phtml'; ?></td>
			<td width="70%">
				<table class="table_box" cellpadding="0" cellspacing="0" border="0">
				<tr class="h50">
					<td align="center"><strong class="fnt20">Remove a Item from a Location</strong></td>
				</tr>
				<tr class="h20"><td>&nbsp;</td></tr>
				<tr align="center">
					<td><strong>Scan Location</strong><br />
					<form name="searchloc" id="search_location" onsubmit="return searchLoc();">
					<p><input type="text" class="formBox" name="location_val" id="location_val" onKeyPress="return cancelReturn(this, event);"></p>
					<p><input type="button" name="" value="Go" onkeypress="return event.keyCode!=13" onclick="return searchLoc();" class="buttonItem"></p>
					</form>			
					</td>
				</tr>
				<tr class="h20"><td>&nbsp;</td></tr>
				<tr class="h20"><td><ul id="loc_list">&nbsp;</ul></td></tr>
				</table>	
			</td>
			<td width=13 background="/mgt/images/r.jpg"> </td>
		</tr>
		</table>
	</td>
</tr>
</table>	
</body>
</html>