<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}
?>
<form method="POST">
<table width=99% cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<input type="submit" name="Export" value="Export">
			<input type="hidden" name="file" value="<?=$of?>">
		</td>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<?
$fp = fopen('csv_files/'.$of, "r");
$k = 0;
while($data = fgetcsv($fp, 4096, ","))
{
//	print_r($data);
//	$data = explode(",",$data[0]);
	if($k == 0) {
		?>
			<tr bgcolor="#eeeeee">
				<td height=21 align=center>&nbsp;</td>
				<td height=21 align=center><B><?=$data[0]?></B></td>
				<td align=center><B><?=$data[1]?></B></td>
				<td align=center><B><?=$data[2]?></B></td>
				<td align=center><B><?=$data[3]?></B></td>
				<td align=center><B><?=$data[4]?></B></td>
				<td align=center><B><?=$data[5]?></B></td>
				<td align=center><B><?=$data[6]?></B></td>
				<td align=center><b>Status</b></td>
				<td align=center><b>Notes</b></td>
			</tr>
		<?
	}
	else {
		?>
			<tr>
				<td height=21 align=center><input type="checkbox" name="item[]" value="<?=($k-1)?>" /></td>
				<td height=21 align=center>
					<a href="javascript:void(0);" id="order_<?=$data[0]?>" onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=EB<?=$data[0]?>&inwin=1', 'View Order: EB<?=$data[0]?>','order_<?=$data[0]?>');">
						<?=$data[0]?>
					</a>
				</td>
				<td align=center><?=$data[1]?></td>
				<td align=center><?=$data[2]?></td>
				<td align=center><?=$data[3]?></td>
				<td align=center><?=$data[4]?></td>
				<td align=center><?=$data[5]?></td>
				<td align=center><?=$data[6]?></td>
				<td align=center>
					<select name="order_status[]">
						<option value="">-----</option>
						<option value="Cancelled">Cancelled</option>
						<option value="Remorse">Remorse</option>
						<option value="Fraud">Fraud</option>
						<option value="No stock">No stock</option>
						<option value="Return">Return</option>
					</select>
				</td>
				<td align=center>
					<a href="javascript:void(0)" class="notes" id="notes_<?=$data[0]?>">notes</a>
					<div style="display:none" id="tooltipcontent_<?=$data[0]?>" class="tooltip">
						<img src="/mgt/images/loading.gif" alt="" style="margin-left:100px" />
					</div>
				</td>
			</tr>
		<?
	}
//	print_r($data);
	$k++;
}
?>
</table>
<table width=99% cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<input type="submit" name="Export" value="Export">
		</td>
	</tr>
</table>
</form>