<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
?>
<table width=99% id="results">
    <tr>
        <td align=left colspan="5">
            <input type="button" value="Start Tracking" onclick="startTracking(1)"/>
        </td>
    </tr>
<tr bgcolor="#eeeeee">
        <td align=center>&nbsp</td>
        <td align=center><B>Order#</B></td>
        <td align=center><B>Ship Date</B></td>
        <td align=center><B>Tracking number</B></td>
        <td align=center><b>Status</b></td>
        <td align=center>&nbsp;</td>
        <td align=center>&nbsp;<input type="hidden" id="hidden_type" value="<?=$show_returns?>"/></td>
</tr>

<?
$rtotal = 1;
if($disable_range != "true")
{
	if($bdate != "") $addon .= " AND customer_orders.completedate >= '".strtotime("$bdate 00:00:00")."'";
	if($edate != "") $addon .= " AND customer_orders.completedate <= '".strtotime("$edate 23:59:59")."'";
}
if ($show_returns == 'true') {
	$query = "select labels_return_log.trackno,customer_orders.invoiceid
                                from
                                labels_return_log,customer_orders
                                where
                                labels_return_log.orderid = customer_orders.orderid AND
                                customer_orders.status=5 
                                $addon ORDER BY customer_orders.orderid";
}
else {

	$query = "select customer_order_tracking.trackno,customer_order_tracking.invoiceid,customer_order_tracking.shipdate
                                from
                                customer_order_tracking,customer_orders
                                where
                                customer_orders.invoiceid = customer_order_tracking.invoiceid AND
                                customer_order_tracking.carrier='USPS' AND
                                customer_order_tracking.istracked='0' AND
                                customer_orders.status=5 
                                $addon ORDER BY customer_order_tracking.invoiceid";
}
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 1;

if(intval($num2return) <= 0)
	$num2return = 1;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}


if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while((list($trackno,$invoiceid, $shipdate) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE)) {				
        ?>
        <tr class="resrow_<?=$rtotal?>" id="row_<?=$trackno?>">
                <td><?=$rtotal?></td>
                <td align=left>
                        <a href="javascript:void(0);" 
                                onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Order: <?=$invoiceid;?>','row_<?=$trackno?>');">
                                <?=$invoiceid;?>
                        </a>
                </td>
                <td align=center><?
                	if ($shipdate != '') {
                		echo date("m/d/Y", $shipdate);
                	}
                	?></td>
                <td align=center>
                    <a href="https://tools.usps.com/go/TrackConfirmAction_input?origTrackNum=<?=$trackno?>" target="_blanck">
                        <?=$trackno?>
                    </a>
                </td>
                <td align=center id="res_<?=$trackno?>" class="trackres">&nbsp</td>
                <td align=center>
                    <img src="/mgt/images/loading.gif" style="display: none" id="img_<?=$trackno?>"/>
                </td>
                <td id="check_<?=$trackno?>">&nbsp;</td>
        </tr>
        <?
        $rtotal++;
        $numout++;
}
?>
</table>