<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

require $ROOT_DIR.'/mgt/reports/order_tracking/simple_html_dom.php';

$url = "https://tools.usps.com/go/TrackConfirmAction_input?origTrackNum=".$track;


function get_data($url) {
  $ch = curl_init();
  $timeout = 5;
  curl_setopt($ch, CURLOPT_URL, $url);
  curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
  curl_setopt($ch, CURLOPT_CONNECTTIMEOUT, $timeout);
  $data = curl_exec($ch);
  curl_close($ch);
  return $data;
}

//$html = file_get_html($url);
////print_r($html);
//$ret = $html->find('div[id=results-content]'); 
//print_r($ret);
function checkTrack($data) {
    if(stripos($data, 'Delivered')) {
        return true;
    }
    if(stripos($data, 'Out for Delivery')) {
        return true;
    }
    if(stripos($data, 'Sorting Complete')) {
        return true;
    }
    if(stripos($data, 'Arrival at Post Office')) {
        return true;
    }
    if(stripos($data, 'Processed at USPS Origin Sort Facility')) {
        return true;
    }
    if(stripos($data, 'Depart USPS Sort Facility')) {
        return true;
    }
    if(stripos($data, 'Accepted at USPS Origin Sort Facility')) {
        return true;
    }
    if(stripos($data, 'Dead Mail / Sent to Mail Recovery Center')) {
        return true;
    }
    return false;
}


$data = get_data($url);
if($track!='') {
    $q = "UPDATE customer_order_tracking SET istracked='1' where trackno='".$track."'";
    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
if(checkTrack($data) === true) {
    echo '<span style="color:green">Good</span>';
}
else {
    $query = "select customer_orders.orderid
                    from
                    customer_order_tracking,customer_orders
                    where
                    customer_orders.invoiceid = customer_order_tracking.invoiceid AND
                    customer_order_tracking.trackno='$track'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($on) = mysql_fetch_array($qok);
    
    $query = "select notes from customer_order_notes_internal where orderid = '$on'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    if(mysql_num_rows($qok) > 0)
    {
            list($oldnotes) = mysql_fetch_array($qok);
    }
    else 
    {
            $oldnotes = "";	
    }

    $query = "delete from customer_order_notes_internal where orderid = '$on'";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

    $tstamp = date("Y-m-d H:i:s", time());
    $xstamp = date("m/d/Y H:i:s", time());

    $savenote = " ORDER TRACKING - $xstamp<BR>-------------------------------<BR>Auto audit determined this package may be lost or not trackable on ".date('m/d/Y')."<BR><BR>".$oldnotes;

    $query = "insert into customer_order_notes_internal(orderid, notes, tstamp) values('$on', '".addslashes($savenote)."', '$tstamp')";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    
    echo '<span style="color:red">Not Trackable</span>';
}
//print_r(stripos($data, 'Electronic Shipping Info Received'));
?>