<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Orders Tracking</TITLE>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
var g_cat = 0;

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "1")				
	{// today
            document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.plreport.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "8")				
	{// last 60 days
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "9")				
	{// last 90 days
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "10")				
	{// last 120 days
		document.plreport.disable_range.checked = 0;
		document.plreport.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.plreport.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.plreport.qdate.options[document.plreport.qdate.selectedIndex].value == "5")				
	{// last month
            document.plreport.disable_range.checked = 0;
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		
		document.plreport.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.plreport.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function pullReport(expvar)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var bdate =  document.plreport.bdate.value;
	var edate =  document.plreport.edate.value;
	var disable_range = document.plreport.disable_range.checked;
	var show_returns = document.plreport.show_returns.checked;
	var num2return = $('#num2return').val();
	var url="ajax_report.phtml";
	url += "?bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&show_returns="+show_returns;
	url += "&num2return="+num2return;
	url += "&export="+expvar;			
	
	
 	
	if(expvar == 1)
	{
		window.open(url);
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}
	else
	{
		xmlHttp=GetXmlHttpObject();
		
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
	 	xmlHttp.onreadystatechange=gotReport;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
}

function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 

		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";

	}	
}
function startTrackingOld() {
    $('.resrow').each(function() {            
        var tracknr_arr = $(this).attr('id').split('_');
        $('#img_'+tracknr_arr[1]).show();
        $.ajax({
           url: "ajax_get_status.phtml",
           data: {'track':tracknr_arr[1]},
           async: false,
           success: function(data){
               //HERE WE KNOW THE AJAX REQUEST WENT OK
              $('#res_'+tracknr_arr[1]).html(data);
              $('#img_'+tracknr_arr[1]).hide();
           }
         });

    });
}

function startTracking(nr) {
    if($(".resrow_"+nr).length>0) {
                
        var tracknr_arr = $(".resrow_"+nr).attr('id').split('_');
        $('#img_'+tracknr_arr[1]).show();
        if($('#hidden_type').val() == 'true') {
        	var url = 'ajax_get_status_returns.phtml';
        }
        else {
        	var url = 'ajax_get_status.phtml';
        }
        
        $.get(url, 
            {
                    'track':tracknr_arr[1]
            }, function(data) {
                $('#res_'+tracknr_arr[1]).html(data);
                $('#img_'+tracknr_arr[1]).hide();
                startTracking(nr+1);
        });

//        $.ajax({
//        url: "ajax_get_status.phtml",
//        data: {'track':tracknr_arr[1]},
//        async: true,
//        success: function(data){
//            //HERE WE KNOW THE AJAX REQUEST WENT OK
//            $('#res_'+tracknr_arr[1]).html(data);
//            $('#img_'+tracknr_arr[1]).hide();
//            startTracking(nr+1);
//            }
//        });

    }
    else {
        $('.trackres').each(function(){
            var tracknr_arr = $(this).attr('id').split('_');
            if($(this).children("span").html() == 'Not Trackable') {
                $('#check_'+tracknr_arr[1]).html('<a href="javascript:getRefund(\''+tracknr_arr[1]+'\')">get refund</a>');
            }
        });
    }
}
function getRefund(tracknr) {
	if($('#hidden_type').val() == 'true') {
    	var url = 'ajax_get_refund_returns.phtml';
    }
    else {
    	var url = 'ajax_get_refund.phtml';
    }
	
     $.get(url, 
            {
                    'track':tracknr
            }, function(data) {
                var msg = data.split('~');
                $('#check_'+msg[1]).html(msg[0]);
        });
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>