<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date



////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
function outputLine($lineitem, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping,$bdate,$edate,$status)
{
	$query = "select shipping,subtotal,package from customer_orders where invoiceid = '".$header['invoiceid']."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipprice,$subtotal,$package) = mysql_fetch_array($qok);
	if ($package == 1) {
		$ttotal = $subtotal;
	}	
	if($shipping == 1) // include cost
	{	
		$query = "select sum(cost) from customer_order_tracking where invoiceid = '".$header['invoiceid']."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($tscost) = mysql_fetch_array($qok);
		$tcost += $tscost;
	}
	else if($shipping == 2) {
		$tscost = 0.00;
	}
	$ttotal += $shipprice;
	
	$tprofit = $ttotal - $tcost;
	$tmargin = ($tprofit / $ttotal) * 100;
	
	$odate = date("m/d/Y", $header['orderdate']);
	$sdate = date("m/d/Y", $header['shipdate']);
		
	if($onrow % 2)
	{
		echo "<tr bgcolor='#ffffff'>";
	}
	else 
	{
		echo "<tr bgcolor='#eeeeee'>";
	}
	?>
		<td height=21><?=$header['otype'];?></td>
		<td>
			<a href="javascript:void(0);" onclick="orderDetail('row<?=$onrow;?>', '<?=$onrow;?>', '?bdate=<?=$bdate;?>&edate=<?=$edate;?>&useship=<?=$shipping;?>&status=<?=$status;?>&onrow=<?=$onrow;?>');">
				<img src="/mgt/images/plus.gif" id="image<?=$onrow;?>" border=0>
			</a>
			
			<a href="javascript:void(0);" 
				onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$header['invoiceid'];?>&inwin=1', 'View Order: <?=$header['invoiceid'];?>');">
				<?=$header['invoiceid'];?>
			</a>
		</td>
		<td><?=$odate;?></td>
		<td><?=$sdate;?></td>
		<td align=right><?=number_format($ttotal, 2);?></td>
		<td align=right><?=number_format($tcost, 2);?></td>
		<td align=right><?=number_format($tprofit, 2);?></td>
		<td align=right><?=number_format($tmargin, 2);?>%</td>
	</tr>	
<!--------- BEGIN DETAIL --------------------->
	<tr id="row<?=$onrow;?>" style="display:none">
		<td colspan=8>
			<div style="padding-left:100px">
			<table width=75% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>PID</B></td>
				<td align=center><B>Man.</B></td>
				<td align=center><B>Man Part</B></td>
				<td align=center><B>Descr</B></td>
				<td align=center><B>Price</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Profit</B></td>
				<td align=center><B>Margin</B></td>
			</tr>
			<?
			for($xx = 0; $xx < count($lineitem['prodid']); $xx++)
			{
				$pid = $lineitem['prodid'][$xx];
				$manname = $lineitem['manname'][$xx];
				$manpart = $lineitem['manpart'][$xx];
				$descr = $lineitem['descr'][$xx];
					
				if(strlen($descr) > 25)
					$descr = substr($descr, 0, 22)."...";
					
				$li_price = $lineitem['price'][$xx] * $lineitem['qty'][$xx];
				$li_cost = $lineitem['cost'][$xx] * $lineitem['qty'][$xx];
				$li_profit = $li_price - $li_cost;
				$li_margin = ($li_profit / $li_price) * 100;
				?>
				<tr>
					<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td><?=$manname?></td>
					<td><?=$manpart?></td>
					<td><?=$descr?></td>
					<td align=right><?=number_format($li_price,2);?></td>
					<td align=right><?=number_format($li_cost,2);?></td>
					<td align=right><?=number_format($li_profit,2);?></td>
					<td align=right><?=number_format($li_margin,2);?>%</td>
				</tr>
				<?
				}
				?>
			<tr>
				<td colspan=4 align=right><B>Shipping</B></td>
				<td align=right><?=number_format($shipprice,2);?></td>
				<td align=right><?=number_format($tscost,2);?></td>
				<td align=right><?=number_format($shipprice - $tscost,2);?></td>
				<td align=right><?=number_format((($shipprice - $tscost) / $tscost) * 100,2);?>%</td>
			</tr>				
			<tr>
				<td colspan=4 align=right><B>Totals</B></td>
				<td align=right>$ <?=number_format($ttotal,2);?></td>
				<td align=right>$ <?=number_format($tcost,2);?></td>
				<td align=right>$ <?=number_format($tprofit,2);?></td>
				<td align=right><?=number_format($tmargin,2);?>%</td>
			</tr>				
			</table>
			</div>
		</td>
	</tr>
	<!--------- END DETAIL --------------------->		
	<?	
}

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

/*
	url += "&repid="+repid;
	url += "&house="+house;
	url += "&status="+status;	
*/
if(intval($repid) > 0)
	$addon .= " and customer_orders.arepid = '$repid' ";

if(intval($house) == 1)
{
	// include house
}
else if(intval($house) == 2)
	$addon .= " and customer_orders.houseorder = '0' "; // exclude house

/*if(intval($status) > 0)
	$addon .= " and customer_orders.status = '$status' ";*/
	
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>Type</B></td>
	<td align=center><B>Order</B>#</td>
	<td align=center><B>Order Date</B></td>
	<td align=center><B>Ship Date</B></td>
	<td align=center><B>Total</B></td>
	<td align=center><B>Cost</B></td>
	<td align=center><B>Profit</B></td>
	<td align=center><B>Margin</B></td>
</tr>
<?	
$lastinvoice = "";
$onrow = 1;

$completed = 0;
if(intval($status) > 0)
{
	$query = "select complete from company_orderflow where step = '$status'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($completed) = mysql_fetch_array($qok);
}

if($completed == 1)
{
	$query = "select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'INVOICE' AND
			customer_orders.status = '$status' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon 

			UNION 
			
			select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'RETURN' AND
			customer_orders.status = '5' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon 			
			
			UNION
			
			select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'EXCHANGE' AND
			customer_orders.status = '50' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon 
			
			UNION
			
			select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'CREDIT' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon			
						
			order by invoiceid, price desc";
}
else 
{
	$query = "select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr, customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.orderid = customer_order_lines.orderid AND 
			customer_orders.orderdate >= '$xbdate' and
			customer_orders.orderdate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon order by customer_orders.invoiceid, customer_order_lines.price desc";	
}

//echo $query;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($otype,$shipping_price,$subtotal,$package, $invoiceid, $orderdate, $shipdate, $price, $cost, $qty, $prodid, $manname, $manpart, $descr, $ex_return) 
		= mysql_fetch_array($qok))
{
	if($invoiceid != $lastinvoice && $lastinvoice != "")
	{// display it
		
		outputLine($lineitem, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping,$bdate,$edate,$status);
		
		$onrow++;
		
		$lineitem = array();
		$header = array();

		$ttotal = $tcost = 0.00;
	}

	if($otype == "RETURN")
	{
		$price = $price * -1;	
		$cost = $cost * -1;
	}
	if($otype == "EXCHANGE" && $ex_return == 1)
	{
		if($price > 0)
			$price = $price * -1;	
		
		if($cost > 0)
		$cost = $cost * -1;
	}	
	
	$lineitem['prodid'][] = $prodid;
	$lineitem['manname'][] = $manname;
	$lineitem['manpart'][] = $manpart;
	$lineitem['descr'][] = "($ex_return)".$descr;
	$lineitem['qty'][] = $qty;	
	$lineitem['price'][] = $price;
	$lineitem['cost'][] = $cost;		
	$lineitem['shipdate'][] = $shipdate;		
	
	$header['otype'] = $otype;		
	$header['invoiceid'] = $invoiceid;		
	$header['orderdate'] = $orderdate;		
	$header['shipdate'] = $shipdate;	
	
	if ($package == 1) {
		$ttotal += $subtotal;
	}
	else {
		$ttotal += 	$price * $qty;
	}
	$tcost += 	$cost * $qty;
	
	$lastinvoice = $invoiceid;
	
	if ($package == 1) {
		$rtotal += $subtotal;
	}
	else {
		$rtotal += 	$price * $qty;
	}
	$rcost += $cost * $qty;
	$rtotal += $shipping_price;
	if ($shipping == 1) {
		$query4 = "select sum(cost) from customer_order_tracking where invoiceid = '".$invoiceid."'";
		if(!$qok4 = mysql_db_query($DB, $query4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($tscost) = mysql_fetch_array($qok4);
		$rcost += $tscost;
//		$rcost += $shipping_price;
	}
}

if(mysql_num_rows($qok) > 0)
	outputLine($lineitem, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping,$bdate,$edate,$status);

$rprofit = $rtotal - $rcost;

?>
<tr bgcolor="#eeeeee">
	<td colspan=4 align=right height=21><B>Totals:</B></td>
	<td align=right><B><?=number_format($rtotal, 2);?></B></td>
	<td align=right><B><?=number_format($rcost, 2);?></B></td>
	<td align=right><B><?=number_format($rprofit, 2);?></B></td>
	<td align=right><B><?=number_format(($rprofit / $rtotal) * 100, 2);?>%</B></td>
</tr>
</table>