<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

set_time_limit(999999);
ini_set('memory_limit', '-1');

////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
function costCalc($items,$otype) {
	$cost_final = 0;
	foreach ($items as $key=>$value) {
		$price = $value['price'];
		$cost = $value['cost'];
		$qty = $value['qty_shipped'];
		if($otype == "RETURN") {
			$price = $price * -1;	
			$cost = $cost * -1;
		}
		if($otype == "EXCHANGE" && $value['ex_return'] == 1) {
			if($price > 0)
				$price = $price * -1;	
			
			if($cost > 0)
			$cost = $cost * -1;
		}
		$cost_final +=$cost;	
	}
	return $cost_final;
}
function priceCalc($items,$otype) {
	$price_final = 0;
	foreach ($items as $key=>$value) {
		$price = $value['price'];
		$cost = $value['cost'];
		$qty = $value['qty_shipped'];
		if($otype == "RETURN") {
			$price = $price * -1;	
			$cost = $cost * -1;
		}
		if($otype == "EXCHANGE" && $value['ex_return'] == 1) {
			if($price > 0)
				$price = $price * -1;	
			
			if($cost > 0)
			$cost = $cost * -1;
		}
		$price_final +=$price*$qty;	
	}
	return $price_final;
}
function outputLine($lineitem, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping,$bdate,$edate,$status)
{
	$query = "select shipping,subtotal,package from customer_orders where invoiceid = '".$header['invoiceid']."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipprice,$subtotal,$package) = mysql_fetch_array($qok);
	if ($package == 1) {
		$ttotal = $subtotal;
	}	
	if($shipping == 1) // include cost
	{	
		$query = "select sum(cost) from customer_order_tracking where invoiceid = '".$header['invoiceid']."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($tscost) = mysql_fetch_array($qok);
		$tcost += $tscost;
	}
	else if($shipping == 2) {
		$tscost = 0.00;
	}
	$ttotal += $shipprice;
	
	$tprofit = $ttotal - $tcost;
	$tmargin = ($tprofit / $ttotal) * 100;
	
	$odate = date("m/d/Y", $header['orderdate']);
	$sdate = date("m/d/Y", $header['shipdate']);
		
	if($onrow % 2)
	{
		echo "<tr bgcolor='#ffffff'>";
	}
	else 
	{
		echo "<tr bgcolor='#eeeeee'>";
	}
	?>
		<td height=21><?=$header['otype'];?></td>
		<td>
			<a href="javascript:void(0);" onclick="orderDetail('row<?=$onrow;?>', '<?=$onrow;?>', '?bdate=<?=$bdate;?>&edate=<?=$edate;?>&useship=<?=$shipping;?>&status=<?=$status;?>&onrow=<?=$onrow;?>');">
				<img src="/mgt/images/plus.gif" id="image<?=$onrow;?>" border=0>
			</a>
			
			<a href="javascript:void(0);" 
				onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$header['invoiceid'];?>&inwin=1', 'View Order: <?=$header['invoiceid'];?>');">
				<?=$header['invoiceid'];?>
			</a>
		</td>
		<td><?=$odate;?></td>
		<td><?=$sdate;?></td>
		<td align=right><?=number_format($ttotal, 2);?></td>
		<td align=right><?=number_format($tcost, 2);?></td>
		<td align=right><?=number_format($tprofit, 2);?></td>
		<td align=right><?=number_format($tmargin, 2);?>%</td>
	</tr>	
<!--------- BEGIN DETAIL --------------------->
	<tr id="row<?=$onrow;?>" style="display:none">
		<td colspan=8>
			<div style="padding-left:100px">
			<table width=75% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>PID</B></td>
				<td align=center><B>Man.</B></td>
				<td align=center><B>Man Part</B></td>
				<td align=center><B>Descr</B></td>
				<td align=center><B>Price</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Profit</B></td>
				<td align=center><B>Margin</B></td>
			</tr>
			<?
			for($xx = 0; $xx < count($lineitem['prodid']); $xx++)
			{
				$pid = $lineitem['prodid'][$xx];
				$manname = $lineitem['manname'][$xx];
				$manpart = $lineitem['manpart'][$xx];
				$descr = $lineitem['descr'][$xx];
					
				if(strlen($descr) > 25)
					$descr = substr($descr, 0, 22)."...";
					
				$li_price = $lineitem['price'][$xx] * $lineitem['qty'][$xx];
				$li_cost = $lineitem['cost'][$xx] * $lineitem['qty'][$xx];
				$li_profit = $li_price - $li_cost;
				$li_margin = ($li_profit / $li_price) * 100;
				?>
				<tr>
					<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td><?=$manname?></td>
					<td><?=$manpart?></td>
					<td><?=$descr?></td>
					<td align=right><?=number_format($li_price,2);?></td>
					<td align=right><?=number_format($li_cost,2);?></td>
					<td align=right><?=number_format($li_profit,2);?></td>
					<td align=right><?=number_format($li_margin,2);?>%</td>
				</tr>
				<?
				}
				?>
			<tr>
				<td colspan=4 align=right><B>Shipping</B></td>
				<td align=right><?=number_format($shipprice,2);?></td>
				<td align=right><?=number_format($tscost,2);?></td>
				<td align=right><?=number_format($shipprice - $tscost,2);?></td>
				<td align=right><?=number_format((($shipprice - $tscost) / $tscost) * 100,2);?>%</td>
			</tr>				
			<tr>
				<td colspan=4 align=right><B>Totals</B></td>
				<td align=right>$ <?=number_format($ttotal,2);?></td>
				<td align=right>$ <?=number_format($tcost,2);?></td>
				<td align=right>$ <?=number_format($tprofit,2);?></td>
				<td align=right><?=number_format($tmargin,2);?>%</td>
			</tr>				
			</table>
			</div>
		</td>
	</tr>
	<!--------- END DETAIL --------------------->		
	<?	
}
function outputLineNew($items,$total,$cost,$shipping_cost,$onrow,$shipping,$status) {
	$tprofit = $total - $cost;
	$tmargin = ($tprofit / $total) * 100;
	
	$odate = date("m/d/Y", $items['orderdate']);
	$sdate = date("m/d/Y", $items['shipdate']);
		
	if($onrow % 2)
	{
		echo "<tr bgcolor='#ffffff'>";
	}
	else 
	{
		echo "<tr bgcolor='#eeeeee'>";
	}
	?>
		<td height=21><?=$items['otype'];?></td>
		<td>
			<a href="javascript:void(0);" onclick="orderDetail('row<?=$onrow;?>', '<?=$onrow;?>', '?bdate=<?=$bdate;?>&edate=<?=$edate;?>&useship=<?=$shipping;?>&status=<?=$status;?>&onrow=<?=$onrow;?>');">
				<img src="/mgt/images/plus.gif" id="image<?=$onrow;?>" border=0>
			</a>
			
			<a href="javascript:void(0);" 
				onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$items['invoiceid'];?>&inwin=1', 'View Order: <?=$items['invoiceid'];?>');">
				<?=$items['invoiceid'];?>
			</a>
		</td>
		<td><?=$odate;?></td>
		<td><?=$sdate;?></td>
		<td align=right><?=number_format($total, 2);?></td>
		<td align=right><?=number_format($cost, 2);?></td>
		<td align=right><?=number_format($tprofit, 2);?></td>
		<td align=right><?=number_format($tmargin, 2);?>%</td>
	</tr>	
	<tr id="row<?=$onrow;?>" style="display:none">
		<td colspan=8>
			<div style="padding-left:100px">
			<table width=75% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>PID</B></td>
				<td align=center><B>Man.</B></td>
				<td align=center><B>Man Part</B></td>
				<td align=center><B>Descr</B></td>
				<td align=center><B>Price</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Profit</B></td>
				<td align=center><B>Margin</B></td>
			</tr>
			<?
			for($xx = 0; $xx < count($items['prods']); $xx++)
			{
				$pid = $items['prods'][$xx]['prodid'];
				$manname = $items['prods'][$xx]['manname'];
				$manpart = $items['prods'][$xx]['manpart'];
				$descr = $items['prods'][$xx]['descr'];
				$item_price = $items['prods'][$xx]['price'];
				$item_cost = $items['prods'][$xx]['cost'];
				$item_qty = $items['prods'][$xx]['qty_shipped'];
					
				if(strlen($descr) > 25)
					$descr = substr($descr, 0, 22)."...";
					
				$li_price = $item_price * $qty;
				$li_cost = $item_cost * $lineitem['qty'][$xx];
				$li_profit = $item_price - $item_cost;
				$li_margin = ($li_profit / $li_price) * 100;
				?>
				<tr>
					<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td><?=$manname?></td>
					<td><?=$manpart?></td>
					<td><?=$descr?></td>
					<td align=right><?=number_format($li_price,2);?></td>
					<td align=right><?=number_format($li_cost,2);?></td>
					<td align=right><?=number_format($li_profit,2);?></td>
					<td align=right><?=number_format($li_margin,2);?>%</td>
				</tr>
				<?
				}
				?>
			<tr>
				<td colspan=4 align=right><B>Shipping</B></td>
				<td align=right><?=number_format($items['shipping'],2);?></td>
				<td align=right><?=number_format($shipping_cost,2);?></td>
				<td align=right><?=number_format($items['shipping'] - $shipping_cost,2);?></td>
				<td align=right><?=number_format((($items['shipping'] - $shipping_cost) / $shipping_cost) * 100,2);?>%</td>
			</tr>				
			<tr>
				<td colspan=4 align=right><B>Totals</B></td>
				<td align=right>$ <?=number_format($total,2);?></td>
				<td align=right>$ <?=number_format($cost,2);?></td>
				<td align=right>$ <?=number_format($tprofit,2);?></td>
				<td align=right><?=number_format($tmargin,2);?>%</td>
			</tr>				
			</table>
			</div>
		</td>
	</tr>
	<?
}
$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

/*
	url += "&repid="+repid;
	url += "&house="+house;
	url += "&status="+status;	
*/
if(intval($repid) > 0)
	$addon .= " and customer_orders.arepid = '$repid' ";

if(intval($house) == 1)
{
	// include house
}
else if(intval($house) == 2)
	$addon .= " and customer_orders.houseorder = '0' "; // exclude house

/*if(intval($status) > 0)
	$addon .= " and customer_orders.status = '$status' ";*/
	
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>Type</B></td>
	<td align=center><B>Order</B>#</td>
	<td align=center><B>Order Date</B></td>
	<td align=center><B>Ship Date</B></td>
	<td align=center><B>Total</B></td>
	<td align=center><B>Cost</B></td>
	<td align=center><B>Profit</B></td>
	<td align=center><B>Margin</B></td>
</tr>
<?	
$lastinvoice = "";
$onrow = 1;

$completed = 0;
/*if(intval($status) > 0)
{
	$query = "select complete from company_orderflow where step = '$status'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($completed) = mysql_fetch_array($qok);
}*/

if($completed == 1)
{
	$query = "select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'INVOICE' AND
			customer_orders.status = '$status' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon 

			UNION 
			
			select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'RETURN' AND
			customer_orders.status = '5' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon 			
			
			UNION
			
			select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'EXCHANGE' AND
			customer_orders.status = '50' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon 
			
			UNION
			
			select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.otype = 'CREDIT' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon			
						
			order by invoiceid, price desc";
}
else 
{
	$status_addon = "";
	if (intval($status)>0) {
		$status_addon = "customer_orders.status = '$status' AND ";
	}
	$query = "select customer_orders.otype,customer_orders.shipping,customer_orders.subtotal,customer_orders.package, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr, customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			$status_addon
			customer_orders.orderid = customer_order_lines.orderid AND 
			customer_orders.orderdate >= '$xbdate' and
			customer_orders.orderdate <= '$xedate' 
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			$addon order by customer_orders.invoiceid, customer_order_lines.price desc";	
}

//echo $query;
$items = array();
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while($res = mysql_fetch_assoc($qok))
{
//	print_r($res);	
	$tmp = false;
	$tmp_k = '';
	$x_prod = array();
	$x = array();
	foreach ($items as $k=>$v) {
		if ($v['invoiceid'] == $res['invoiceid']) {
			$tmp = true;
			$tmp_k = $k;
			$x_prod['price'] = $res['price'];
			$x_prod['cost'] = $res['cost'];
			$x_prod['qty_shipped'] = $res['qty_shipped'];
			$x_prod['prodid'] = $res['prodid'];
			$x_prod['manname'] = $res['manname'];
			$x_prod['manpart'] = $res['manpart'];
			$x_prod['descr'] = $res['descr'];
			$x_prod['ex_return'] = $res['ex_return'];
			$items[$k]['prods'][] = $x_prod;
			break;
		}
	}
	if ($tmp === false) {
		$x_prod['price'] = $res['price'];
		$x_prod['cost'] = $res['cost'];
		$x_prod['qty_shipped'] = $res['qty_shipped'];
		$x_prod['prodid'] = $res['prodid'];
		$x_prod['manname'] = $res['manname'];
		$x_prod['manpart'] = $res['manpart'];
		$x_prod['descr'] = $res['descr'];
		$x_prod['ex_return'] = $res['ex_return'];
		
		$x['otype'] = $res['otype'];
		$x['shipping'] = $res['shipping'];
		$x['subtotal'] = $res['subtotal'];
		$x['package'] = $res['package'];
		$x['invoiceid'] = $res['invoiceid'];
		$x['orderdate'] = $res['orderdate'];
		$x['shipdate'] = $res['shipdate'];
		$x['prods'][] = $x_prod;
		array_push($items,$x);
	}
}
$rtotal = $rcost = 0;
$onrow = 1;
foreach ($items as $k=>$v) {
	
	$query = "select total,subtotal,tax,cost from customer_orders where invoiceid = '".$v['invoiceid']."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($xtotal,$xsubtotal,$xtax,$xcost) = mysql_fetch_array($qok);
	
//	$rtotal += $xtotal;
	$rcost += $xcost;
	
	if ($shipping == 1) {
		$order_total = $xtotal;
		$rtotal += $xtotal;
	}
	else {
		$order_total = $xsubtotal+$xtax;
		$rtotal += $xsubtotal+$xtax;
	}
	$tscost = 0;
	outputLineNew($v,$order_total,$xcost,$tscost,$onrow,$shipping,$status);
	$onrow++;
}
//print_r($items);
$rprofit = $rtotal - $rcost;

?>
<tr bgcolor="#eeeeee">
	<td colspan=4 align=right height=21><B>Totals:</B></td>
	<td align=right><B><?=number_format($rtotal, 2);?></B></td>
	<td align=right><B><?=number_format($rcost, 2);?></B></td>
	<td align=right><B><?=number_format($rprofit, 2);?></B></td>
	<td align=right><B><?=number_format(($rprofit / $rtotal) * 100, 2);?>%</B></td>
</tr>
</table>