<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

/*
	url += "&repid="+repid;
	url += "&house="+house;
	url += "&status="+status;	
*/
if(intval($repid) > 0)
	$addon .= " and customer_orders.arepid = '$repid' ";

if(intval($house) == 1)
{
	// include house
}
else if(intval($house) == 2)
	$addon .= " and customer_orders.houseorder = '0' "; // exclude house

/*if(intval($status) > 0)
	$addon .= " and customer_orders.status = '$status' ";*/
	
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center colspan="2"><B>PID</B>#</td>
	<td align=center><B>Manpart</B></td>
	<td align=center><B>Title</B></td>
	<td align=center><B>Ship Date</B></td>
	<td align=center><B>Qty</B></td>
	<td align=center><B>Total</B></td>
	<td align=center><B>Cost</B></td>
	<td align=center><B>Profit</B></td>
	<td align=center><B>Margin</B></td>
</tr>
<?	
$lastinvoice = "";
$onrow = 1;

/*$query = "select distinct(customer_order_lines.kitpid), customer_order_lines.manname, customer_order_lines.manpart, product_list.descr, 
			sum(customer_order_lines.qty_shipped) as qship,
			sum(customer_order_lines.price * customer_order_lines.qty_shipped) as total,
			sum(customer_order_lines.cost * customer_order_lines.qty_shipped) as cost,
			customer_orders.package, customer_orders.completedate
			from
			customer_orders, customer_order_lines, product_list
			where
			customer_orders.otype = 'INVOICE' AND
			customer_orders.status = '$status' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate'
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			AND customer_order_lines.prodid != customer_order_lines.kitpid
			AND customer_order_lines.kitpid != 0
			AND customer_order_lines.kitpid = product_list.id
			$addon
			group by customer_order_lines.kitpid order by qship desc";*/
$query1 = "select distinct(customer_order_lines.orderid)
			from
			customer_orders, customer_order_lines, product_list
			where
			customer_orders.otype = 'INVOICE' AND
			customer_orders.status = '$status' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.completedate >= '$xbdate' and
			customer_orders.completedate <= '$xedate'
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			AND customer_order_lines.prodid != customer_order_lines.kitpid
			AND customer_order_lines.kitpid != 0
			AND customer_order_lines.kitpid = product_list.id
			AND customer_order_lines.kitpid = '".$pid."'
			$addon
			group by customer_order_lines.orderid";


$query = "select distinct(customer_order_lines.kitpid), customer_order_lines.manname, customer_order_lines.manpart, product_list.descr, 
			count(distinct(customer_order_lines.orderid)) as qship,
			sum(customer_order_lines.price * customer_order_lines.qty_shipped) as total,
			sum(customer_order_lines.cost * customer_order_lines.qty_shipped) as cost,
			customer_orders.package, customer_orders.completedate,customer_orders.invoiceid
			from
			customer_orders, customer_order_lines, product_list
			where
			customer_orders.otype = 'INVOICE' AND
			customer_orders.status = '$status' AND
			customer_orders.orderid = customer_order_lines.orderid AND
			customer_orders.orderdate >= '$xbdate' and
			customer_orders.orderdate <= '$xedate'
			AND customer_orders.clicktype = '1' 
			AND customer_orders.clickid = 'AMZD' 
			AND customer_order_lines.prodid != customer_order_lines.kitpid
			AND customer_order_lines.kitpid != 0
			AND customer_order_lines.kitpid = product_list.id
			$addon
			group by customer_order_lines.kitpid order by qship desc";

//print_r($query);
$onrow = 0;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $manname, $manpart, $descr, $qshipped, $total, $cost, $package, $shipdate,$invoiceid) 
		= mysql_fetch_array($qok))
{
	$query3 = "select shipping from customer_orders where invoiceid = '".$invoiceid."'";
	if(!$qok3 = mysql_db_query($DB, $query3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipprice) = mysql_fetch_array($qok3);
	
	if($shipping == 1) // include cost
	{	
		$query2 = "select sum(cost) from customer_order_tracking where invoiceid = '".$invoiceid."'";
		if(!$qok2 = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($tscost2) = mysql_fetch_array($qok2);
		$total += $shipprice;
		$cost += $tscost2;
	}
/*	if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$nr_sell = mysql_num_rows($qok1);*/
	
	$profit = $total - $cost;
	$margin = ($profit / $total) * 100;
?>
<tr>
	<td>
		<a href="javascript:void(0);" onclick="orderDetailPid('row<?=$onrow;?>', '<?=$onrow;?>', '?xbdate=<?=$xbdate;?>&xedate=<?=$xedate;?>&useship=<?=$shipping;?>&arepid=<?=$repid?>&house=<?=$house?>&status=<?=$status;?>&pid=<?=$pid;?>');">
			<img src="/mgt/images/plus.gif" id="image<?=$onrow;?>" border=0>
		</a>
	</td>
	<td>
		<a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU <?=$pid;?>');"><?=$pid;?></a>
	</td>
	<td><?=$manpart;?></td>
	<td><?=$descr;?></td>
	<td><?=date("m/d/Y", $shipdate);?></td>
	<td align=center><?=$qshipped;?></td>
	<td align=right><?=number_format($total, 2);?></td>
	<td align=right><?=number_format($cost, 2);?></td>
	<td align=right><?=number_format($profit, 2);?></td>
	<td align=right><?=number_format($margin, 2);?>%</td>
</tr>
<tr id="row<?=$onrow;?>" style="display:none">
	<td colspan=9>
		<div id="display<?=$onrow;?>">
			<img src="/mgt/images/loading.gif">
		</div>
	</td>
</tr>	
<?
	$rtotal += $total;
	$rcost += $cost;
	$rprofit = $rtotal - $rcost;
	$onrow++;
}
?>
<tr bgcolor="#eeeeee">
	<td colspan=5 align=right height=21><B>Totals:</B></td>
	<td align=right><B><?=number_format($rtotal, 2);?></B></td>
	<td align=right><B><?=number_format($rcost, 2);?></B></td>
	<td align=right><B><?=number_format($rprofit, 2);?></B></td>
	<td align=right><B><?=number_format(($rprofit / $rtotal) * 100, 2);?>%</B></td>
</tr>
</table>