<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($Action == "Save Datafeed")
{
//	$dfname 		= addslashes($dfname);
//	$filename 		= addslashes($filename);
//	$tracking_code 	= addslashes($tracking_code);
$dfname = sanitizeInput($dfname);
$min = sanitizeInput($min);
$max = sanitizeInput($max);
$filename = sanitizeInput($filename);
$tracking_code = sanitizeInput($tracking_code);
$customheader = sanitizeInput($customheader);
	
	if( intval($dfid) <= 0 )
	{
		$query = "insert into datafeeds(dfname, delimiter, enclosedby, min, max, filename, tracking_code, options_append, options_listall, 
					options_instock, options_content, options_upc, options_visible, options_noheader, customheader, options_30min, divid, 
					copyfeed, peid, min_profit_pct, min_profit_cur, writeback, exclude_nonvis, no_zeroprice, options_nokits, utf8,
					mdollar, mpercent, applyrebate, options_dsstock) ";
		$query .= "values('$dfname', '$delimiter', '$enclosedby', '$min', '$max', '$filename', '$tracking_code', '$options_append', '$options_listall',
					'$options_instock', '$options_content', '$options_upc', '$options_visible', '$options_noheader', '$customheader', '$options_30min', '$xdivid', 
					'$copyfeed', '$peid', '$min_profit_pct', '$min_profit_cur', '$writeback', '$exclude_nonvis', '$no_zeroprice', '$options_nokits', '$utf8',
					'$mdollar', '$mpercent', '$applyrebate', '$options_dsstock')";

		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	else 
	{
		$query = "update datafeeds set dfname = '$dfname', 
					delimiter = '$delimiter', 
					enclosedby = '$enclosedby', 
					min = '$min', 
					max = '$max', 
					filename = '$filename', 
					tracking_code = '$tracking_code', 
					options_append = '$options_append',
					options_listall = '$options_listall', 
					options_instock = '$options_instock', 
					options_content = '$options_content', 
					options_upc = '$options_upc', 
					options_visible = '$options_visible', 
					options_noheader = '$options_noheader', 
					customheader = '$customheader', 
					options_30min = '$options_30min',
					divid = '$xdivid',
					copyfeed = '$copyfeed',
					peid = '$peid',
					min_profit_pct = '$min_profit_pct',
					min_profit_cur = '$min_profit_cur',
					writeback = '$writeback',				
					exclude_nonvis = '$exclude_nonvis',
					no_zeroprice = '$no_zeroprice',
					options_nokits = '$options_nokits',
					utf8 = '$utf8',
					applyrebate = '$applyrebate',
					mdollar = '$mdollar',
					mpercent = '$mpercent',
					options_dsstock = '$options_dsstock'
					where dfid = '$dfid'";	
		
		if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
	Header("Location: /mgt/df/default.phtml");

	
}
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	
	return $data;
}

?>
<HTML>
<HEAD>
<TITLE>efluent - Create Datafeed</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script>
function checkData()
{
	if(document.create_datafeed.dfname.value.length <= 0)	
	{
		alert("You must enter a Datafeed Name.")
		return false;
	}
	
	if(document.create_datafeed.filename.value.length <= 0)	
	{
		alert("You must enter a Filename Name.")
		return false;
	}
	
	
	return true;
}

</script>
</HEAD>
<body>

<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
	<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
	<?REQUIRE("e2win_menu.phtml");?>
	
	<div style="padding-left:5px;padding-top:10px">
	<B>Create Datafeed</B>
	
	<BR><BR>
	
	<?INCLUDE("form_header.phtml");?>
	
		
	</div>
	
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>