<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->hasPermission("perm_datafeed_manager"); // will redirect on failure

///////////////////////////////////////////////////////////////////////////////////////////
// add our column..... if it already exists it'll just fail so, don't check for failure
$query = "alter table datafeeds add options_dsstock int NOT NULL default 0";
mysql_db_query($DB, $query, $mysqlid);
///////////////////////////////////////////////////////////////////////////////////////////


if($Action == "Delete" && intval($dfid) > 0)
{
	$efc->logAction("SUCCESS", "3", $dfid, "Datafeed Deleted", "Datafeed Deleted");

	$query = "delete from datafeeds where dfid = '$dfid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$query = "delete from datafeed_skus where dfid = '$dfid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	Header("Location: /mgt/df/default.phtml");
}
if($Action == "Delete Schedule" && intval($sid) > 0)
{
	$query = "select dfid from datafeed_schedule where sid = '$sid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($dfid) = mysql_fetch_array($qok);

	$efc->logAction("SUCCESS", "3", $dfid, "Datafeed Schedule Deleted", "Datafeed Schedule Deleted");

	$query = "delete from datafeed_schedule where sid = '$sid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	Header("Location: /mgt/df/default.phtml");
}

if($Action == "Save")
{
	if(intval($dfid) > 0)
	{
		$efc->logAction("SUCCESS", "3", $dfid, "Datafeed Schedule Created", "S:$sun M:$mon T:$tue W:$wed T:$thu F:$fri S:$sat (H:$hour M:$min FTP:$ftplocation)");

		$query = "insert into datafeed_schedule(dfid, sun, mon, tue, wed, thu, fri, sat, hour, minute, ftplocation) ";
		$query .= "values('$dfid', '$sun', '$mon', '$tue', '$wed', '$thu', '$fri', '$sat', '$hour', '$min', '$ftplocation') ";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}

	Header("Location: /mgt/df/default.phtml");
}
?>
<HTML>
<HEAD>
<TITLE>Marketing Datafeed Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script type="text/javascript">
<!--
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}
}

function GetXmlHttpObject()
{
	var xmlHttp=null;
	var xml2Http=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}

	return xmlHttp;
}

function addSchedule(dfid)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";

	dlg.style.left  = posX;
	dlg.style.top  = posY;

	dlg.style.width=300;
	dlg.style.height=150;

	document.scheduler.dfid.value = dfid;
}

function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}

function hideSchedule()
{
	var dlg = document.getElementById("myschedule");
	dlg.style.display = "none";

}

function viewSchedule(dfid)
{
	var url="/mgt/df/ajax_getschedule.phtml";
	url += "?dfid=" + dfid;
	url += "&sid="+Math.random();

	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	}

  	//window.open(url);

	var dlg = document.getElementById("myschedule");
	dlg.style.display = "block";

	dlg.style.left  = posX;
	dlg.style.top  = posY;

	dlg.style.width = 250;
	dlg.style.height = 100;

	document.getElementById("myschedule").innerHTML =  "<CENTER><BR>Please Wait...<BR><img src='/mgt/images/loading.gif'></CENTER>";

	xmlHttp.onreadystatechange=viewScheduleComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function viewScheduleComplete()
{
	if(xmlHttp.readyState==4)
	{
		document.getElementById("myschedule").innerHTML = xmlHttp.responseText;
	}
}

var g_dfjid = 0;
var g_dfid = 0;
var g_status = 0;

function generateFeed(dfid)
{
	if(confirm('Are you sure you want to generate this feed?  It may take several minutes?'))
	{
		g_dfid = dfid;

		var cvr = document.getElementById("savecover");
		cvr.style.display = "block";

		cvr.style.top = 0;
		cvr.style.left = 0;

		cvr.style.width = "100%";
		cvr.style.height = "100%";

		var dlg = document.getElementById("mydatafeed");
		dlg.style.display = "block";

		dlg.style.left  = 150;
		dlg.style.top  = 150;

		dlg.style.width = 250;
		dlg.style.height = 100;

		dlg.innerHTML =  "<CENTER><BR>Please Wait... Preparing Datafeed<BR><BR><img src='/mgt/images/loading.gif'></CENTER>";

		var url="/mgt/df/ajax_getbuildfeedid.phtml";
		url += "?dfid="+dfid;
		url += "&sid="+Math.random();

		xmlHttp=GetXmlHttpObject();

		if (xmlHttp==null)
 		{
  			alert ("Your browser does not support AJAX!");
  			return;
  		}

		xmlHttp.onreadystatechange=gotBuildID;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
}



function gotBuildID()
{
	if(xmlHttp.readyState==4)
	{
		if(parseInt(xmlHttp.responseText) > 0)
		{
			g_dfjid = parseInt(xmlHttp.responseText);

			var dlg = document.getElementById("mydatafeed");
			dlg.innerHTML =  "<CENTER><BR>Please Wait... Generating Job: "+parseInt(xmlHttp.responseText)+"<BR><BR><img src='/mgt/images/loading.gif'></CENTER>";

			var url="/mgt/df/ajax_buildfeed.phtml";
			url += "?dfid="+g_dfid;
			url += "&dfjid="+g_dfjid;
			url += "&sid="+Math.random();

			xmlHttp=GetXmlHttpObject();

			if (xmlHttp==null)
	 		{
	  			alert ("Your browser does not support AJAX!");
	  			return;
	  		}

			xmlHttp.onreadystatechange=feedDone;
			xmlHttp.open("GET",url,true);
			xmlHttp.send(null);

			setTimeout('checkStatus()', 500);
		}
		else
		{
			var cvr = document.getElementById("savecover");
			cvr.style.display = "none";

			var dlg = document.getElementById("mydatafeed");
			dlg.style.display = "none";

			if( (parseInt(g_dfid) < 0) || parseInt(g_dfjid) )
			{
				alert('INTERNAL ERROR:  DFID OR DFJID = 0');
				return;
			}


		}
	}
}

function feedDone()
{
	if(xmlHttp.readyState==4)
	{
	}
}

function checkStatus()
{
	var url="/mgt/df/ajax_getbuildstatus.phtml";
	url += "?dfjid="+g_dfjid;
	url += "&sid="+Math.random();

	xml2Http=GetXmlHttpObject();

	if (xml2Http==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
 	}

	xml2Http.onreadystatechange=gotStatus;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
}

function gotStatus()
{
	if(xml2Http.readyState==4)
	{
		var pct = xml2Http.responseText;

		g_status = parseFloat(pct);

		var dlg = document.getElementById("mydatafeed");
		dlg.innerHTML =  "<CENTER><BR>Please Wait... Generating Datafeed<BR>JobID: "+g_dfjid+"<BR><BR><img src='/mgt/images/loading.gif'><BR><BR>"+pct+"% Complete</CENTER>";

		if(g_status < 100.00)
		{
			setTimeout('checkStatus()', 500);
		}
		else
		{
			var cvr = document.getElementById("savecover");
			cvr.style.display = "none";

			var dlg = document.getElementById("mydatafeed");
			dlg.style.display = "none";

			window.location.href=window.location.href;
		}
	}
}
//-->
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
	<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
	<?REQUIRE("e2win_menu.phtml");?>
	<div style="padding-left:5px;padding-top:10px">
	<form>
	<B>Current Datafeeds for: 			
			<select name="divid" class="buttonItem">
				<option value="">---- ALL SITES ----</option>
			<?
			$query = "select divid, sitename from site_list order by divid";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($site_divid, $site_name) = mysql_fetch_array($qok))
			{
				?>
				<option value="<?=$site_divid;?>" <?if($divid == $site_divid) echo "SELECTED";?>><?=$site_name;?></option>
				<?
			}
			?>
			</select><input type="submit" name="Action" value="View" class="buttonItem"></B>
	</form>
	<BR><BR>
	<center>
	<table width=95%>
	<tr bgcolor="#eeeeee">
		<td height=21>Datafeed Name</td>
		<td>Site Name</td>
		<td>Filename</td>
		<td>Last Generated</td>
		<td>Manage</td>
		<td>Schedule</td>
		<td>Generate</td>
		<td>Delete</td>
	</tr>
	<?
	if($divid != "")
		$query = "select dfid, dfname, filename, options_30min, divid from datafeeds where divid = '$divid' order by dfname";
	else 
		$query = "select dfid, dfname, filename, options_30min, divid from datafeeds order by dfname";
		
	if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($dfid, $dfname, $filename, $options_30min, $divid) = mysql_fetch_array($qok))
	{
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$dfname;?></td>
		<td>
			<?
			$query = "select sitename, rootdir from site_list where divid = '$divid'";
			if(!$q4ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($sitename, $rootdir) = mysql_fetch_array($q4ok);
			
			echo $sitename;
			?>
		</td>		
		<td>
			<?
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// multi-site shit
			if(intval($divid) == 0)
				$baseURL = $efc->getConfigValue("Company Information", "baseURL");
			else 
				$baseURL = $efc->getConfigValue("Company Information", "baseURL_$divid");
			
			if($baseURL == "") // revert if its blank
				$baseURL = $efc->getConfigValue("Company Information", "baseURL");
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			if($rootdir != "")
				$fileloc = $rootdir."/public/datafeeds/$filename";
			else 
				$fileloc = $ROOT_DIR."/public/datafeeds/$filename";

			if(file_exists($fileloc))
			{
				$ctime = filectime($fileloc);
				?><a href="<?=$baseURL;?>/public/datafeeds/<?=$filename;?>"><?=$filename;?></a><?
			}
			else
			{
				$ctime = 0;
				?><?=$filename;?><?
			}
			?>
		</td>
		<td><?if($ctime == 0) echo "N/A"; else echo date("m/d/Y H:i:s", $ctime);?></td>
		<td><a href="/mgt/df/manage.phtml?dfid=<?=$dfid;?>">Manage</a> / <a href="/mgt/df/viewfeed.phtml?dfid=<?=$dfid;?>">View</a></td>
		<td>

			<a href="javascript:void(0);" onclick="addSchedule(<?=$dfid;?>)">Schedule</a>
			
			<?
			if($options_30min == 1) echo " / 30min ";
			$query = "select sid from datafeed_schedule where dfid = '$dfid'";
			if(!$q2ok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) > 0)
			{
				?>
				/ <a href="javascript:void(0);" onclick="viewSchedule(<?=$dfid;?>)">View</a>
				<?
			}
			?>
		</td>
		<td>
			<a href="javascript:void(0);" onclick="generateFeed(<?=$dfid;?>);">Generate</a>
		</td>
		<td><a href="#" onmouseover="window.status='Delete <?=$dfname;?>'; return true;" onclick="javascript:makesure('Are you sure you want to delete the datafeed <?=$dfname;?>', '/mgt/df/default.phtml?Action=Delete&dfid=<?=$dfid;?>');">Delete</a></td>
	</tr>
	<?
	}
	?>
	</table>

	</center>
	<BR>
	<a href="/mgt/df/create_new.phtml"><img src="/mgt/images/add.jpg" border=0> Create a New Datafeed</a>
	</div>

<!----------------------------------------------------------------------------------------->
<div id="dialog" class="dialog">
<form name="scheduler" method="post">
<input type="hidden" name="dfid" value="">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr bgcolor="#eeeeee">
			<td height=21><div align=center>Sun</div></td>
			<td><div align=center>Mon</div></td>
			<td><div align=center>Tue</div></td>
			<td><div align=center>Wed</div></td>
			<td><div align=center>Thu</div></td>
			<td><div align=center>Fri</div></td>
			<td><div align=center>Sat</div></td>

			<td><div align=center>Hour</div></td>
			<td><div align=center>Min</div></td>
		</tr>

		<tr>
			<td height=21><input type="checkbox" name="sun" value="1" CHECKED></td>
			<td><input type="checkbox" name="mon" value="1" CHECKED></td>
			<td><input type="checkbox" name="tue" value="1" CHECKED></td>
			<td><input type="checkbox" name="wed" value="1" CHECKED></td>
			<td><input type="checkbox" name="thu" value="1" CHECKED></td>
			<td><input type="checkbox" name="fri" value="1" CHECKED></td>
			<td><input type="checkbox" name="sat" value="1" CHECKED></td>

			<td>
				<select name="hour" class="formselect">
					<option value="00">midnight</option>
					<option value="1">1 am</option>
					<option value="2">2 am</option>
					<option value="3">3 am</option>
					<option value="4">4 am</option>
					<option value="5">5 am</option>
					<option value="6">6 am</option>
					<option value="7">7 am</option>
					<option value="8">8 am</option>
					<option value="9">9 am</option>
					<option value="10">10 am</option>
					<option value="11">11 am</option>
					<option value="12">noon</option>
					<option value="13">1 pm</option>
					<option value="14">2 pm</option>
					<option value="15">3 pm</option>
					<option value="16">4 pm</option>
					<option value="17">5 pm</option>
					<option value="18">6 pm</option>
					<option value="19">7 pm</option>
					<option value="20">8 pm</option>
					<option value="21">9 pm</option>
					<option value="22">10 pm</option>
					<option value="23">11 pm</option>
				</select>
			</td>
			<td>
				<select name="min" class="formselect">
					<option value="00">00</option>
					<option value="30">30</option>
				</select>
			</td>
		</tr>
		</table>

		<table width=100%>
		<tr>
			<td>
				<div style="padding-top:2px" align=right>FTP Location:</div>
			</td>
			<td>
				<div align=left>
					<input type="text" name="ftplocation" value="" class="formBox">
				</div>
			</td>
		</tr>
		</table>

		<table width=100%>
		<tr>
			<td width=50%>
				<div align=left>
					<input type="submit" name="Action" value="Save" class="buttonItem">
				</div>
			</td>
			<td width=50%>
				<div align=right>
					<input type="button" name="Action" value="Cancel" onclick="hideMenu();" class="buttonItem">
				</div>
			</td>
		</tr>
		</table>

	</td>
</tr>
</table>
</center>
</form>
</div>

<div id="myschedule" class="dialog" onclick="hideSchedule()">

</div>

<div id="mydatafeed" class="dialog">

</div>
<!----------------------------------------------------------------------------------------->

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>