<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($Action == "Delete") 
{ 
     // remove it from the database 
     $query = "delete from datafeed_skus where dfid = '$dfid' and pid = $pid"; 
     if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  } 
      
     // relocate the person them so they don't have that delete url 
     Header("Location: /mgt/df/viewfeed.phtml?dfid=$dfid"); 
      
}

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_datafeed_manager"); // will redirect on failure


$query = "select dfname, divid from datafeeds where dfid = '$dfid'";
if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($dfname, $df_divid) = mysql_fetch_array($qok);

?>
<HTML>
<HEAD>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<TITLE>View Datafeed: <?=$dfname;?> </TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
	<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
	<?REQUIRE("e2win_menu.phtml");?>
	<div style="padding-left:5px;padding-top:10px">
	<B>View Datafeed: <?=$dfname;?></B>  
		<?
		if(intval($viewall) == 1)
		{
			?>
			<a href="/mgt/df/viewfeed.phtml?dfid=<?=$dfid;?>">View all visible products</a></a>
			<?
		}
		else 
		{
			?>
			<a href="/mgt/df/viewfeed.phtml?dfid=<?=$dfid;?>&viewall=1">View all products</a></a>
			<?	
		}
		?>
		

	<BR><BR>
	<center>
	<form name="pereport" method="post" action="">
	<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th height=21 class="unsortable"></th>
					<th class="sortable_numeric" height=21>ID</th>
					<th>Man</th>
					<th>ManPart</th>
					<th>Description</th>
					<th>UPC Code</th>
					<th>Status</th>
					<th>Visible</th>
					<th>Drop Ship</th>
					<th>Reburbished</th>
					<th>Price</th>
					<th>Delete</th>
				</tr>	

				
				
<script language="JavaScript">
function makesure(msg, url) {
 var answer = confirm(msg)
 if (answer)
	{
	window.location = url;
	}

}
</script>				
	
<?
// id, man, manpart, descr, upc, scost, status, visible, display, refurb, stock, price
if(intval($viewall) == 1)
{
	$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr,
			product_list.upccode, product_list.platform, product_list.status, product_list.visible, 
			product_list.dropship, product_list.refurb, product_prices.price_level1
			from
			product_list, product_manufacturers, product_prices, datafeed_skus
			where 
			product_list.manid = product_manufacturers.manid AND
			product_list.id = product_prices.id AND
			product_list.id = datafeed_skus.pid AND
			datafeed_skus.dfid = '$dfid'";
}
else 
{
	$query = "select product_list.id, product_manufacturers.manname, product_list.manpart, product_list.descr,
			product_list.upccode, product_list.platform, product_list.status, product_list.visible, 
			product_list.dropship, product_list.refurb, product_prices.price_level1
			from
			product_list, product_manufacturers, product_prices, datafeed_skus, site_skus
			where 
			product_list.manid = product_manufacturers.manid AND
			product_list.id = product_prices.id AND
			product_list.id = datafeed_skus.pid AND
			product_list.visible = 1 AND
			datafeed_skus.dfid = '$dfid' AND
			product_list.id = site_skus.pid AND
			site_skus.divid = '$df_divid' ";
	
}

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }				
				
	while(list($id, $manname, $manpart, $descr, $upccode, $platform, $status, $visible, $dropship, $refurb, $price) = mysql_fetch_array($qok))
	{
			
			if($visible == 1) $visible = "X"; else $visible = "";
			if($dropship == 1) $dropship = "X"; else $dropship = "";
			if($refurb == 1) $refurb = "X"; else $refurb = "";
	        $stock = $efc->getInvTotal($id);
		
			//echo "$id - $descr -> $stock<BR>";
			if($status == 0) $status = "Active";	
			if($status == 1) $status = "Special Order";
			if($status == 2) $status = "End of Life";
			if($status == 3) $status = "Discontinued";
			
			/*
			$id
			$manname
			$manpart
			$upccode
			$descr
			$status
			$visible
			$dropship
			$refurb
			$price\n";
			*/
			?>
			<tr>
			    <td><input type='checkbox' name='ids[]' value='<?=$id;?>'></td>
				<td><a href="javascript:;" onclick="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$id;?>&inwin=1', 'Edit SKU: <?=$id;?>');"><?=$id;?></a></td>
				<td><?=$manname;?></td>
                <td><?=$manpart;?></td>
                <td><?=$descr;?></td>
                <td><?=$upccode;?></td>
                <td><?=$status;?></td>
                <td><?=$visible;?></td>
                <td><?=$dropship;?></td>
                <td><?=$refurb;?></td>
                <td><?=$price;?></td>
				<td><a href="javascript:makesure('Are you sure you want to delete this 
entry?','viewfeed.phtml?dfid=<?=$dfid;?>&pid=<?=$id;?>&Action=Delete')"><img src="/mgt/images/del.gif"></a></td>
                </tr>
			<?
	}
	?>
	</table>
	</form>

	
	
	
	
<script>
function checkUncheckAll(myOptions, myForm) 
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function doPEReport()
{
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}
	
	document.peoptions.idlist.value = skus;
	
	document.peoptions.submit();

}
</script>
	
	
	
	
	
	
<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
	<ul class="TabbedPanelsTabGroup">
	<li class="TabbedPanelsTab2" tabindex="0"><strong>PE Report</strong></li>
    </ul>
	<div class="TabbedPanelsContentGroup">
		<div class="TabbedPanelsContent2">  

		<form name="peoptions" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
		<input type="hidden" name="idlist" value="">
		<table>
		<tr>
			<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.peoptions, document.pereport);">Select All SKUs</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
					
			<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
			<td><select name="peid" class="formSelect">
				<option value="pg">PriceGrabber</option>
				<option value="cn">C|Net Shopper</option>
				<option value="dt">Shopping.com</option>
				<option value="br">BizRate.com</option>
				<option value="ys">Yahoo Shopping</option>
				<option value="am">Amazon</option>
				<option value="am">NexTag</option>
				<option value="fr">Froogle</option>
				<option value="pw">PriceWatch</option>
				</select>
			</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
					
					
			<td class="g1"><div style="padding-top:3px"><B>Datafeed:</B></div></td>
			<td>
				<select name="dfid" class="formSelect">
				<?
				$query = "select dfid, dfname from datafeeds order by dfname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
				while(list($dfid, $dfname) = mysql_fetch_array($qok))
				{
				?>
					<option value="<?=$dfid;?>"><?=$dfname;?></option>
				<?
				}
				?>
				</select>
			</td>
			<td>&nbsp;</td>
					
				
			<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPEReport();"></td>
		</tr>
		
		<tr>
			<td colspan=3>&nbsp;</td>
			
			<td colspan=6>
				<input type="radio" name="coption" value="ignore">Ignore Missing Crawler IDs
				<input type="radio" name="coption" value="acquire" CHECKED>Acquire Missing CrawlerIDs
				<input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
			</td>
			
		</tr>	
		</table>		
		</form>
		
		</div>

      	</div>
</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>		
	</td>
		
	<td width=13 background="/mgt/images/r.jpg"> </td>
</table>

</body>
</html>
