<?php $breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;Best Sellers'); ?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Best Sellers</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
		<?php if (!empty($cat_desc)): ?>
			<p><?php echo $cat_desc; ?></p>
		<?php endif; ?>
    </div>
	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?> 
		<div class="display">Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> (of <strong><?=number_format($numproducts,0);?></strong> products)
		<?php if ($numpages > 1): ?>
		<span class="navigation">
		<?php $sc->doPagesNewProd($c, $mid, $numpages, $p, $lastpage, $nextpage, "/m/new_products.phtml?sb=" . $sb, $sb); ?>
		</span><!-- /navigation -->
		<?php endif; ?>
		</div><!-- /display -->
	<?php endif; ?>

	<ul id="list-products" class="minh200px clearfix">
	<?php
	if(count($plist['id'])>0 && is_array($plist['id'])) 
	{
		foreach($plist['id'] as $k => $v)
		{
			?>
			<li>
			<span class="left">
				<a href="<?=$sc->createProductNewUrl($v,$plist['title_long'][$k])?>">
				<img id="listingProductImage" title="<?=$plist['title_long'][$k]?>" alt="<?=$plist['title_long'][$k]?>" src="/getimage.phtml?id=<?=$v?>&itype=0&thumb=1">
				</a>			
			</span>
			<span class="right">
				<h4><a href="<?=$sc->createProductNewUrl($v,$plist['title_long'][$k])?>"><?=$plist['title_long'][$k]?></a></h4>
				<p><?php echo $plist['sdescr'][$k]; ?></p>
				<h4 class="price clearfix">$<?=$plist['price'][$k]?></h4>
				<button class="add2cart-btn" onclick="window.open('<?php echo $BASE_M_URL; ?>/cart.phtml?id=<?php echo $v; ?>','_self');"><span>Add to cart</span></button>				
			</span>
			</li>
			<?
		}
	}
	else
	{
		?>
		<p><strong>There Are No Products To List In This Category.</strong></p>
		<?php
	}
	?>
	</ul><!-- /list-products -->
	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?> 
		<div class="display">Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> (of <strong><?=number_format($numproducts,0);?></strong> products)
		<?php if ($numpages > 1): ?>
		<span class="navigation">
		<?php $sc->doPagesNewProd($c, $mid, $numpages, $p, $lastpage, $nextpage, "/m/new_products.phtml?sb=" . $sb, $sb); ?>
		</span><!-- /navigation -->
		<?php endif; ?>
		</div><!-- /display -->
	<?php endif; ?>
</div>