<?php $breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;Cart'); ?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Your Shopping Cart Contents</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<?php
	$total_items = 0;
	$total_items_weight = 0;
	$upsell = false;
	$upsellPids = array();
	for($xx = 0; $xx <$icount; $xx++)
	{
		$id 		= $_SESSION["CART"]["ID"][$xx];
		$title 		= $_SESSION["CART"]["DESCR"][$xx];
		$price 		= $_SESSION["CART"]["PRICE"][$xx];
		$qty 		= $_SESSION["CART"]["QTY"][$xx];
		$weight		= $_SESSION["CART"]["WEIGHT"][$xx];
	
		if ($_SESSION["CART"]["KITID"][$xx] == 0)
		{
	        $total_items += $qty;
		}
		
		$total_items_weight += $weight*$qty;
	        
	    $q = "SELECT accid 
	    	  FROM product_accessories 
	    	  WHERE id = '$id'";
	    if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	    while(list($count_upsell) = mysql_fetch_array($qok)) 
	    {
			$upsellPids[] = $count_upsell;
	    }
	}
	?>
	<?php if ($icount > 0): ?>
	<h4>Total Items: <?=$total_items?><br />Weight: <?=number_format($total_items_weight,2)?>lbs<br />Amount: $<?=number_format($itemTotal,2)?></h4>
	<ul id="list-cart" class="clearfix">
		<?php
		$itemTotal = 0.00;
		$total_weight = 0;
		for($xx = 0; $xx <$icount; $xx++)
		{
			if ($_SESSION["CART"]["KITID"][$xx] > 0) { continue; }
			$id 		= $_SESSION["CART"]["ID"][$xx];
			$title 		= $_SESSION["CART"]["DESCR"][$xx];
			$price 		= $_SESSION["CART"]["PRICE"][$xx];
			$kitprice 	= $_SESSION["CART"]["KITPRICE"][$xx];
			$qty 		= $_SESSION["CART"]["QTY"][$xx];
			$cupo 		= $_SESSION["CART"]["COUPON"][$xx];
			$weight		= $_SESSION["CART"]["WEIGHT"][$xx];
			$kit 		= $_SESSION["CART"]["KIT"][$xx];
			$kitid		= $_SESSION["CART"]["KITID"][$xx];
			$manid		= $_SESSION["CART"]["MANID"][$xx];
			$manname	= $_SESSION["CART"]["MANNAME"][$xx];
			$descr		= $_SESSION["CART"]["DESCR"][$xx];
			$total_weight +=$weight;
			if ($qty == '') { $qty = 1; }
	
    		// new at-cost update
			$q_atcost = "SELECT COUNT(id) 
						 FROM list_products_atcost 
						 WHERE pid = '$id' 
						 LIMIT 1";
			if(!$qok_atcost = mysql_db_query($DB, $q_atcost, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($atcost_cnt) = mysql_fetch_array($qok_atcost);
			
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
    		elseif (!empty($_SESSION["acctid"])) 
        	{ 
				// deep discount, cfid40
				if (!empty($_SESSION["acctid"])) 
				{ 
					if ($_SESSION["CART"]["is_bulk_option"][$xx] == 0)
					{
						if ($_SESSION['levelid'] == 1 || $_SESSION['levelid'] == 2)
						{
							// check for cfid 40
							$query = "SELECT COUNT(pid) AS count, text_short
									  FROM custom_values
									  WHERE cfid = '40'
									  AND pid = '$id'
									  LIMIT 1";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list ($count_cfid40, $discount_percent) = mysql_fetch_array($qok);
							if ($count_cfid40 > 0 && $discount_percent > 0)
							{
								$query_pl4 = "SELECT price_level4
											  FROM product_prices
											  WHERE id = '$id'
											  LIMIT 1";
								if(!$qok_pl4 = mysql_db_query($DB, $query_pl4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($pl4) = mysql_fetch_array($qok_pl4);
								$pl4 = sprintf('%.2f',$pl4); 
								if ($pl4 > 0)
								{
									// recalculate total price
									$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
									$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
									$_SESSION['CTOTAL'] += $pl4 * $_SESSION["CART"]["QTY"][$xx];
									$price = $pl4;
									$deep_discount = $pl4;
									$_SESSION["CART"]["PRICE"][$xx] = $pl4;
								}
							}
						}
						
						if ($_SESSION['levelid'] == 3)
						{
							$query_pl5 = "SELECT price_level5
										  FROM product_prices
										  WHERE id = '$id'
										  LIMIT 1";
							if(!$qok_pl5 = mysql_db_query($DB, $query_pl5, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl5) = mysql_fetch_array($qok_pl5);
							$pl5 = sprintf('%.2f',$pl5); 
							if ($pl5 > 0)
							{
								// recalculate total price
								$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
								$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
								$_SESSION['CTOTAL'] += $pl5 * $_SESSION["CART"]["QTY"][$xx];
								$price = $pl5;
								$_SESSION["CART"]["PRICE"][$xx] = $pl5;
							}
						}
						
						if ($_SESSION['levelid'] == 4)
						{
							$query_pl6 = "SELECT price_level6
										  FROM product_prices
										  WHERE id = '$id'
										  LIMIT 1";
							if(!$qok_pl6 = mysql_db_query($DB, $query_pl6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl6) = mysql_fetch_array($qok_pl6);
							$pl6 = sprintf('%.2f',$pl6); 
							if ($pl6 > 0)
							{
								// recalculate total price
								$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
								$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
								$_SESSION['CTOTAL'] += $pl6 * $_SESSION["CART"]["QTY"][$xx];
								$price = $pl6;
								$_SESSION["CART"]["PRICE"][$xx] = $pl6;
							}
						}
					}
				}
        	}
	
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
        	elseif ($_SESSION["CART"]["is_bulk_option"][$xx] == 0)
			{
				/////////////////////////////////////////////////////////////////////////////////
				// onsale price (price_level7)
				$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
				$query_onsale = "SELECT COUNT(id) AS count
								 FROM custom_values
								 WHERE cfid = '$cfid'
								 AND pid = '$id'
								 AND text_short > 0
								 LIMIT 1";
				if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($count_onsale) = mysql_fetch_array($qok_onsale);
				if ($count_onsale > 0)
				{
					$query_pl7 = "SELECT price_level7
								  FROM product_prices
								  WHERE id = '$id'
								  LIMIT 1";
					if(!$qok_pl7 = mysql_db_query($DB, $query_pl7, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl7) = mysql_fetch_array($qok_pl7);
					$pl7 = sprintf('%.2f',$pl7); 
					if ($pl7 > 0)
					{
						// recalculate total price
						$total_pid_price = $_SESSION["CART"]["PRICE"][$xx] * $_SESSION["CART"]["QTY"][$xx];
						$_SESSION['CTOTAL'] = $_SESSION['CTOTAL'] - $total_pid_price;
						$_SESSION['CTOTAL'] += $pl7 * $_SESSION["CART"]["QTY"][$xx];
						$price = $pl7;
						$onsale_price = $pl7;
						$_SESSION["CART"]["PRICE"][$xx] = $pl7;
					}
				}
			}
			
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
        	elseif ($deep_discount && $onsale_price && $onsale_price < $deep_discount)
			{
				$price = $onsale_price;
			} 
			elseif ($deep_discount && $onsale_price && $deep_discount < $onsale_price)
			{
				$price = $deep_discount;
			}					
	
			if($kit == 1) { $price = $kitprice; }
	
			$itemTotal += $price*$qty; 
			$itemPriceArr = explode(".",$price);
			$line_total = $price*$qty;
			?>
			<li>
			<span class="left">
				<a href="<?=$sc->createProductNewUrl($id,$title)?>">
				<img id="listingProductImage" title="<?=$title?>" alt="<?=$title?>" src="/getimage.phtml?id=<?=$id?>&itype=0&thumb=1">
				</a>
			</span>
			<span class="right">
				<h4><a href="<?=$sc->createProductNewUrl($id,$title)?>"><?=$title?></a></h4>
				<?php if ($line_total > $price): ?>
					<h4 class="price clearfix">$<?=number_format($price, 2)?> (unit price)<br />$<?=number_format($line_total, 2)?></h4>
				<?php else: ?>
					<h4 class="price clearfix">$<?=number_format($price, 2)?></h4>
				<?php endif; ?>
                
                <?php
                //ijaz code
			$instock = 0;
			if($iscoupon!=1)
			{
				$query_stock = "SELECT instock
										  FROM product_prices
										  WHERE id = '$id'
										  LIMIT 1";
							if(!$qok_stock = mysql_db_query($DB, $query_stock, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pl6) = mysql_fetch_array($qok_stock);
							$instock = $pl6;
			}
			
			//end ijaz code
				?>
                 
                    <?php 
						if($iscoupon!=1)
						{
							if($instock < $qty){ $outstock=1; ?>
							<br />
							<span class="stockNote" style="padding-top:0px; color:red; display:none;"> 
							<b> Update your cart </b> <br />
							Available in stock (<?php echo $instock; ?>)
							</span>
						<?php } ?>  
                <?php } ?> 
                <?php 
					if($id<=0 && $icount <2)
					{
						$outstock=1;
						?>
						<span class="stockNote" style="padding-top:0px; color:red; float:left;"> 
						<b> Please Add More Item In your cart </b> <br />
						
						</span>
						  
                <?php } ?> 
				<span class="btns">
					<?php if ($kitid == 0): ?>
						<input type="text" name="qty" id="qty_<?=$id?>" value="<?=$qty?>" <?php echo ($id <= 0) ? 'disabled="disabled"' : ''; ?>/>
						<button id="<?php echo $id; ?>" class="update-qty add2cartbulkbtn" id="<?=$id?>">Update</button>
					<?php endif; ?>   			
					<button class="removefromcart-btn remove-from-cart" id="<?=$id?>"><span>Remove</span></button>
				</span>
			</li>
			<?php
			unset($deep_discount);
			unset($onsale_price);
			unset($price);
	    }
	?>
	</ul><!-- /list-cart -->
	<?php
	
	$upsellPids = array();
	$q = "SELECT pid 
		  FROM list_products
		  WHERE lid = '$upsell_list'";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($pid_upsell) = mysql_fetch_array($qok)) 
	{
		if (!in_array($pid_upsell, $_SESSION["CART"]["ID"]))
		{
	    	$upsellPids[] = $pid_upsell;
		}
	}
	
	if (count($upsellPids) > 0) 
	{
		?>
		<h4>Your order qualifies for the following discount deals:</h4>
		<ul id="list-products" class="clearfix">
		<?php	
		foreach ($upsellPids as $k => $v) 
	    {
			$qxx = "SELECT product_list.descr, product_prices.price_level9, product_prices.price_msrp 
					FROM product_list, product_prices 
					WHERE product_list.id = product_prices.id 
					AND product_list.id = '$v'";
			if(!$qokxx = mysql_db_query($DB, $qxx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($upsellTitle,$upsellPrice,$msrpPrice) = mysql_fetch_array($qokxx);
			?>
			<li class="cart">
			<span class="left">
				<a href="<?=$sc->createProductNewUrl($v,$upsellTitle)?>">
					<img id="listingProductImage" title="<?=$upsellTitle?>" alt="<?=$upsellTitle?>" src="/getimage.phtml?id=<?=$v?>&itype=0&thumb=1">
				</a>			
			</span>
			<span class="right">  	
				<h4><a href="<?php echo $sc->createProductNewUrl($v,$upsellTitle); ?>"><?php echo $upsellTitle; ?></a></h4>
				<h4 class="price clearfix"><span class="old_price">$<?php echo $msrpPrice; ?></span> $<?php echo $upsellPrice; ?></h4>
				<button class="add2cart-btn" id="<?php echo $v; ?>"><span>Add to cart</span></button>				
			</span>
			</li>
		<?php
	    }
	    ?>
	</ul><!-- /list-products -->	
	<?php
	}
	?>	
	<center><h3>Sub-Total: $<?=number_format($itemTotal,2)?></h3></center>
	<button class="empty-cart emptycart-btn clearfix"><span>Empty cart</span></button>
	<button class="cart-btn" onclick="window.open('<?php echo $refferer; ?>','_self');"><span>Back to shopping</span></button>
    <?php  if($outstock ==1)
	{?>
    	<button class="cart-btn cart-btn-right clearfix" onclick="goCheck();"><span>Go to checkout</span></button>
	<?php }else { ?>
	<button class="cart-btn cart-btn-right clearfix" onclick="window.open('<?php echo $BASE_M_URL; ?>/checkout/','_self');"><span>Go to checkout</span></button>
    <?php } ?>
	<br class="clear" />
	<?php else: ?>
	<p>Your cart is empty, add some products.</p>	
	<?php endif; ?>
</div>
<script>
function goCheck()
{
	$('.stockNote').show();
	$('html, body').animate({scrollTop: '300px'}, 1300);
}

</script>