<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/cart.phtml">Cart</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/checkout/">Checkout</a>&nbsp;::&nbsp;Checkout - Confirmation';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Step 3 Of 3 - Order Confirmation</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<?php	
	if (isset($_POST['comments']) && !empty($_POST['comments']))
	{
		$_SESSION['CART']['comment'] = strip_tags(trim($_POST['comments']));
	}
	$cclass->recalculateCartTotal();
	function calculateRFC2104HMAC($data, $key) 
	{
		$HMAC_SHA1_ALGORITHM = "sha1";
		// compute the hmac on input data bytes, make sure to set returning raw hmac to be true
		$rawHmac = hash_hmac($HMAC_SHA1_ALGORITHM, $data, $key, true);
		// base64-encode the raw hmac
		return base64_encode($rawHmac);
	}
	 
	function getCartHTML($merchantID, $awsAccessKeyID, $signature, $base64cart) 
	{
		$cartHTML = '';
	
		$CART_JAVASCRIPT_START = "<script type=\"text/javascript\" src=\"https://images-na.ssl-images-amazon.com/images/G/01/cba/js/jquery.js\"></script>\n<script type=\"text/javascript\" src=\"https://static-na.payments-amazon.com/cba/js/us/sandbox/PaymentWidgets.js\"></script>\n<!-- For Switching to Production, comment out the lines above and uncomment the lines below -->\n<!-- <script type=\"text/javascript\" src=\"https://static-na.payments-amazon.com/cba/js/us/PaymentWidgets.js\"></script>-->\n";
		$CBA_BUTTON_DIV = "<div id=\"cbaButton\"></div>\n"; 
		$CART_ORDER_INPUT_FIELD ="type:merchant-signed-order/aws-accesskey/1;order:[ORDER];signature:[SIGNATURE];aws-access-key-id:[AWS_ACCESS_KEY_ID]";
		$STANDARD_CHECKOUT_WIDGET_SCRIPT ="<script type=\"text/javascript\">\n    $(document).ready(function () {new CBA.Widgets.StandardCheckoutWidget({ merchantId: '[MERCHANT_ID]', buttonSettings: { size: 'medium', color: 'orange', background: 'light' }, orderInput: { format: '[CART_TYPE]', value: '[CART_VALUE]' } }).render('cbaButton'); });\n</script>";
		
		$cartHTML = $cartHTML . $CART_JAVASCRIPT_START;
		$cartHTML = $cartHTML . $CBA_BUTTON_DIV;       
		// construct the order-input section
		
		$encodedCart = $base64cart;
		
		$input = ereg_replace("\\[ORDER\\]", $encodedCart, $CART_ORDER_INPUT_FIELD);
	    $input = ereg_replace("\\[SIGNATURE\\]", $signature, $input);
	    $input = ereg_replace("\\[AWS_ACCESS_KEY_ID\\]", $awsAccessKeyID, $input);
	    $widgetScript = ereg_replace("\\[CART_TYPE\\]", "XML", $STANDARD_CHECKOUT_WIDGET_SCRIPT);
	    $widgetScript = ereg_replace("\\[MERCHANT_ID\\]", $merchantID,$widgetScript);
	    $widgetScript =ereg_replace ("\\[CART_VALUE\\]",$input ,$widgetScript);
	
	    $cartHTML = $cartHTML . $widgetScript;        
		return $cartHTML;
	}
	function getOrderInputValue() 
	{
	    $propertiesFilePath = ROOT_DIR."/checkout/AmazonPayments/cba_config.ini";
	    $icount = $_SESSION["ICOUNT"];
	    //Create a cart object by reading the properties from the path provided
	    $cart = new \AmazonPayments\Model\Cart($propertiesFilePath);
	    for($xx = 0; $xx <$icount; $xx++)
	    {
	        if ($_SESSION["CART"]["KITID"][$xx] > 0)
	        {
	            continue;
	        }
	
	        $id 		= $_SESSION["CART"]["ID"][$xx];
	        $title 		= $_SESSION["CART"]["DESCR"][$xx];
	        $sku 		= $_SESSION["CART"]["SKU"][$xx];
	        $price 		= $_SESSION["CART"]["PRICE"][$xx];
	        $kitprice 	= $_SESSION["CART"]["KITPRICE"][$xx];
	        $qty 		= $_SESSION["CART"]["QTY"][$xx];
	        $cupo 		= $_SESSION["CART"]["COUPON"][$xx];
	        $weight		= $_SESSION["CART"]["WEIGHT"][$xx];
	        $kit 		= $_SESSION["CART"]["KIT"][$xx];
	        $manid		= $_SESSION["CART"]["MANID"][$xx];
	        $manname	= $_SESSION["CART"]["MANNAME"][$xx];
	        $descr		= $_SESSION["CART"]["DESCR"][$xx];
	        $total_weight +=$weight;
	        if ($qty == '') {
	                $qty = 1;
	        }
	
	        if($kit == 1) { $price = $kitprice; }  
	        
	        if($cupo == 0) {
	            $item1SKU = $sku;
	            $item1Title = $title;
	            $item1UnitPrice = $price;
	            $item1Quantity = $qty;
	            $item1Description = $descr;
	            $item1Weight = floatval($weight);
	            
	            $item1 = new \AmazonPayments\Model\Item($item1SKU,$item1Title,$item1UnitPrice,$item1Quantity);
	            $item1->setWeight($item1Weight);
	            $item1->setDescription($item1Description);
	
	            $cart->addItem($item1);
	        }
	    }
	    //Creating and setting up a ShippingRate object to specify the type of shipping rate to be used in a ShippingMethod
	    $shippingRate1ShipmentBasedRate = $_SESSION['SHIPRATE'];
	    $shippingrate1 = new \AmazonPayments\Model\ShippingRate();
	    //Setting the shipping rate as Shipment Based
	    $shippingrate1->setShipmentBasedRate($shippingRate1ShipmentBasedRate);
	
	    //Initializing a ShippingMethod with REGION, SERVICELEVEL, name, and a shipping rate
	    $methodID = $_SESSION['METHOD'];
	    $methodName= '';
	    foreach ($_SESSION['METHODS']['id'] as $k=>$m) {
	        if($m == $methodID) {
	           $methodName =  $_SESSION['METHODS']['name'][$k];
	        }
	    }
	    
	    $shippingMethod1ShippingLabel = $methodName;
	    if($methodName == 'US (expedited)') {
	        $shippingMethod = new \AmazonPayments\Model\ShippingMethod(\AmazonPayments\Model\ShippingMethod::REGION_US_CONTINENTAL_48_STATES,
	                                    \AmazonPayments\Model\ShippingMethod::SERVICE_EXPEDITED,$shippingMethod1ShippingLabel,$shippingrate1);
	    }
	    else {
	        $shippingMethod = new \AmazonPayments\Model\ShippingMethod(\AmazonPayments\Model\ShippingMethod::REGION_US_CONTINENTAL_48_STATES,
	                                    \AmazonPayments\Model\ShippingMethod::SERVICE_STANDARD,$shippingMethod1ShippingLabel,$shippingrate1);
	    }
	
	    $cart->addShippingMethod($shippingMethod);
	    
	    for($xx = 0; $xx <$icount; $xx++)
	    {
	        $id 		= $_SESSION["CART"]["ID"][$xx];
	        $title 		= $_SESSION["CART"]["DESCR"][$xx];
	        $sku 		= $_SESSION["CART"]["SKU"][$xx];
	        $price 		= $_SESSION["CART"]["PRICE"][$xx];
	        $kitprice 	= $_SESSION["CART"]["KITPRICE"][$xx];
	        $qty 		= $_SESSION["CART"]["QTY"][$xx];
	        $cupo 		= $_SESSION["CART"]["COUPON"][$xx];
	        $weight		= $_SESSION["CART"]["WEIGHT"][$xx];
	        $kit 		= $_SESSION["CART"]["KIT"][$xx];
	        $manid		= $_SESSION["CART"]["MANID"][$xx];
	        $manname	= $_SESSION["CART"]["MANNAME"][$xx];
	        $descr		= $_SESSION["CART"]["DESCR"][$xx];
	        $total_weight +=$weight;
	        if ($qty == '') {
	                $qty = 1;
	        }
	        if($cupo == '1') {
	            $cartDiscount = $price*(-1);
	            $cartPromoId = $sku;
	            $cart->setPromotion($cartDiscount, $cartPromoId);
	        }
	    }
	//     echo var_dump($cart);
	//    print_r($cart);
	//    echo "<!--";
	//    print_r($cart);
	//    echo "-->";
	    return $cart->createOrderInputValue();
	}
	?>
	<script>
	function changeIcon(){
		document.getElementById("submit_button").src = "/images/processing.gif";
	}
	</script>
	<? $payment=$_SESSION['payment'];
	
if($_SESSION["ship2country"]!="US" && $_SESSION['warehousePickup']!='1') {
    // form submit session
    $_SESSION['form_submit']='Success';
    ?>
 <form method="post" action="<?php echo $BASE_URL; ?>/checkout/place_shiporder.phtml" name="checkout_address" id="checkout_address" onsubmit="changeIcon();">
		<?   
}else if($payment == 'authorizenet_aim')
	{
		?>
		<form method="post" action="process_order.phtml" name="checkout_address" id="checkout_address" onsubmit="changeIcon();">
		<?
	}
	else
	{
		?>
		<form method="post" action="<?php echo $BASE_M_URL; ?>/checkout/place_order.phtml" name="checkout_address" id="checkout_address">
		<?
	}
	?>
		<h3>Billing/Payment Information</h3>
		<address class="half-left mb10px">
			<?php echo $_SESSION["bill2name"]; ?><br />
			<?php echo $_SESSION["bill2street1"] . ' ' . $_SESSION["bill2street2"]; ?><br />
			<?php echo $_SESSION["bill2city"] . ', ' .$_SESSION["bill2state"] . ' ' . $_SESSION["bill2zip"]; ?><br />
			<?php echo $_SESSION["bill2country"]; ?>
		</address>
		<button type="button" class="cart-btn cart-btn-right clearfix" onclick="window.open('<?php echo $BASE_M_URL; ?>/checkout/checkout_payment.phtml','_self');"><span>Edit</span></button>
		<br class="clear mb30px">
		
		<h3>Payment Method:</h3>
		<?php if ($payment == 'localpickup' && $_SESSION["ship2country"] == 'US' && $_SESSION["ship2state"] == 'CA'): ?>
			<p><strong>Local Pickup</strong></p>
		<?php elseif($payment == 'moneyorder'): ?>
			<p><strong>Check/Money Order</strong></p>
			<p>Please make your check or money order payable to:<br /><br />
			<i>The Raw Food World 406 Bryant Circle Unit E Ojai, CA 93023</i></p>
			<p>Mail your payment to:<br /><br />
			<i>The Raw Food World<br />
			406 Bryant Circle, Unit E<br />
			Ojai, CA 93023<br />
			866-729-3438</i></p>
			<p>Your order will not ship until we receive payment.</p>
		<?php elseif ($payment == 'amazon'): ?>
			<p><strong>Amazon Check out</strong></p>
		<?php elseif ($payment == 'paypalwpp'): ?>
			<p><strong>PayPal Check out</strong></p>
		<?php elseif ($payment == "bitcoin"): ?>
			<p><strong>Bitcoin Check out</strong></p>
		<?php elseif ($payment == 'authorizenet_aim'): ?>
			<p><strong>Credit Card</strong></p>
		<? endif; ?>
		<br class="clear mb30px">
		<? if ($_SESSION['warehousePickup']=='1') { ?>
        <h3>Picking At Warehouse</h3>
		<address class="half-left mb30px">
			406 Bryant Circle<br />
			Unit E<br />
			Ojai, CA 93023
		</address>
        <? }else { ?>
		<h3>Delivery/Shipping Information</h3>
		<address class="half-left mb30px">
			<?php echo $_SESSION["ship2name"]; ?><br />
			<?php echo $_SESSION["ship2street1"] . ' ' . $_SESSION["ship2street2"]; ?><br />
			<?php echo $_SESSION["ship2city"] . ', ' . $_SESSION["ship2state"] . ' ' . $_SESSION["ship2zip"]; ?><br />
			<?php echo $_SESSION["ship2country"]; ?>
		</address>
        <? } ?>
		<button type="button" class="cart-btn cart-btn-right clearfix" onclick="window.open('<?php echo $BASE_M_URL; ?>/checkout/','_self');"><span>Edit</span></button>
		<br class="clear">
		<? if ($_SESSION['warehousePickup']!='1') { ?>
		<h3>Shipping Method:</h3>
		<?php
		$methods = $_SESSION['METHODS'];
		for($xx = 0; $xx < count($methods['id']); $xx++)
		{
			if($methods['id'][$xx] == $_SESSION['METHOD']) { echo '<p class="mb30px">' . $methods['name'][$xx] . '</p>'; }
		}
		?>
		<? }?>
		<h3>Special Instructions or Order Comments</h3>
		<p class="half-left mb10px"><?php echo strip_tags($_SESSION['CART']['comment']); ?></p>
		<button type="button" class="cart-btn cart-btn-right clearfix mb30px" onclick="window.open('<?php echo $BASE_M_URL; ?>/checkout/checkout_payment.phtml','_self');"><span>Edit</span></button>
		<br class="clear">

		<h3>Shopping Cart Contents</h3>
		<button type="button" class="cart-btn cart-btn-right clearfix mb30px" onclick="window.open('<?php echo $BASE_M_URL; ?>/cart.phtml','_self');"><span>Edit</span></button>
		<br class="clear">

		<?php 
		$acctid = (int) $_SESSION["acctid"];
		$credit_balance = $cclass->getCreditBalance($acctid);
		?>
        <? if($credit_balance > 0 && !isset($_SESSION['use_credit_amount']) && $_SESSION["ship2country"]=="US"){?>
		<h3>Credit Balance</h3>
		<p>Currently your credit balance is: $ <?=sprintf("%.2f", $credit_balance);?></p>
		<?php if ($credit_balance > 0): ?>
			<p>Use your credit to pay for current order.</p>
			<span class="coupon-btns mb30px">
				<input type="text" name="credit_amount" class="credit_amount_val" value="<?php echo $credit_balance; ?>" onkeypress="return cancelReturn(event);" maxlength="15" disabled>	
				<button type="button" onclick="javascript:updateCreditAmount();">Apply</button>
			</span><!-- /coupon-btns -->
		<?php endif; ?>
        <?php } ?>
		<br class="clear mb30px">

		<h3>Cart Contents</h3>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="cartContentsDisplay mb30px">
		<tr>
			<th width="30">Qty.</th>
			<th>Item Name</th>
			<th>Total</th>
		</tr>
		<?php
		// pay with amazon
		$amazon_merchant_id = $efc->getConfigValue("Amazon", "CHECKOUT_MERCHANT_ID");
		$amazon_items_xml = "";
		$icount = $_SESSION["ICOUNT"];
		$itemTotal = $itemTotalAmazon = $subtotal = 0.00;
		$total_weight = 0;
		for($xx = 0; $xx <$icount; $xx++)
		{
			if ($_SESSION["CART"]["KITID"][$xx] > 0) { continue; }
			$id 		= $_SESSION["CART"]["ID"][$xx];
			$title 		= $_SESSION["CART"]["DESCR"][$xx];
			$price 		= $_SESSION["CART"]["PRICE"][$xx];
			$kitprice 	= $_SESSION["CART"]["KITPRICE"][$xx];
			$qty 		= $_SESSION["CART"]["QTY"][$xx];
			$cupo 		= $_SESSION["CART"]["COUPON"][$xx];
			$weight		= $_SESSION["CART"]["WEIGHT"][$xx];
			$kit 		= $_SESSION["CART"]["KIT"][$xx];
			$manid		= $_SESSION["CART"]["MANID"][$xx];
			$manname	= $_SESSION["CART"]["MANNAME"][$xx];
			$descr		= $_SESSION["CART"]["DESCR"][$xx];
			$total_weight += $weight;

			if ($qty == '') { $qty = 1; }
			if($kit == 1) { $price = $kitprice; }                          
			$itemTotal += $price * $qty; 
			$itemPriceArr = explode(".",$price);
			$line_total = $price * $qty; 
			
			if ($_SESSION["CART"]["ID"][$xx] == -7) { continue; }
			$itemTotalAmazon += $price * $qty; 
			$subtotal += $price * $qty;
			
			// pay with amazon 
			$amazon_shipping_xml = '<ShippingMethodIds><ShippingMethodId>ButtonShippingMethod-123</ShippingMethodId></ShippingMethodIds>';
			$amazon_items_xml .= "<Item><SKU>$id</SKU><MerchantId>$amazon_merchant_id</MerchantId><Title>$title</Title><Price><Amount>$price</Amount><CurrencyCode>USD</CurrencyCode></Price><Quantity>$qty</Quantity>$amazon_shipping_xml<FulfillmentNetwork>MERCHANT</FulfillmentNetwork></Item>";
			?>
			<tr>
				<td><?=$qty?>&nbsp;x</td>
				<td><?=$title?></td>
				<td><strong>$<?=number_format($line_total,2)?></strong></td>
			</tr>
			<?
		}
		
		if ($payment == 'localpickup' && $_SESSION["ship2country"] == 'US' && $_SESSION["ship2state"] == 'CA')
		{
			// free shipping
		}else if($_SESSION['warehousePickup']=='1')
					{
						$discout = $itemTotal*10/100;
						$itemTotal =$itemTotal-$discout;
		}
		else 
		{
			$itemTotal += $_SESSION['SHIPRATE'];
			$itemTotalAmazon += $_SESSION['SHIPRATE'];
		} 
		                    
		?>
		</table>
		
		<h3>Your Total</h3>
        
		<p><strong>Sub Total: $<?=number_format($subtotal,2);?></strong></p> 
		<p><strong>
		
		<? if ($_SESSION['warehousePickup']=='1') {
			 ?> 
        
		<p><strong>Warehouse Pick up Discount: $<?=number_format($discout,2);?></strong></p>
		<? }?>
        <?php
		$methods = $_SESSION['METHODS'];
		if($_SESSION["ship2country"]=="US" && $_SESSION['warehousePickup']!='1') { 
		for($xx = 0; $xx < count($methods['id']); $xx++)
		{
			if($methods['id'][$xx] == $_SESSION['METHOD']) { echo $methods['name'][$xx]." Shipping:"; }
		}
		?>
		<?php if ($payment == 'localpickup' && $_SESSION["ship2country"] == 'US' && $_SESSION["ship2state"] == 'CA'): ?>
			$0.00</strong></p>
		<?php else: ?>
			$<?=number_format($_SESSION['SHIPRATE'],2)?></strong></p>
		<?php endif; ?>
		<? }?> 
		<?php
		$coupon_value = 0;
		for($xx = 0; $xx <$icount; $xx++)
		{
			if ($_SESSION["CART"]["ID"][$xx] == -7)
			{
				?>
				<p><strong>Coupon code:$<?=number_format($_SESSION["CART"]["PRICE"][$xx],2);?></strong></p>
				<?php
				$coupon_value += number_format($_SESSION["CART"]["PRICE"][$xx],2);
			} 
		}
		
		$tax = 0;
		$subtotal_tmp = $cc->computeSubTotalWithoutNonTaxable();
		$tax = $cc->computeTax($subtotal_tmp);
		if ($tax > 0)
		{
			$itemTotal += $tax;
			$itemTotalAmazon += $tax;
			?>
			<p><strong>Tax: $<?=number_format($tax,2)?></strong></p>
			<?php
		} 
		
		if (isset($_SESSION['use_credit_amount']) && $_SESSION['use_credit_amount'] > 0)
		{
			if ($_SESSION['use_credit_amount'] <= $itemTotal)
			{
				$itemTotal -= $_SESSION['use_credit_amount'];
				?>
				<p><strong>Store Credit: $ -<?=number_format($_SESSION['use_credit_amount'],2);?></strong></p>
				<?php
			}
			elseif ($_SESSION['use_credit_amount'] > $itemTotal)
			{
				?>
				<p><strong>Store Credit: $ -<?=number_format($itemTotal,2);?></strong></p>
				<?php
				$_SESSION['use_credit_amount'] = $itemTotal;
				$itemTotal = '0.00';
			}	
			else 
			{}			
		}
		?>
		<p><strong>Total: $<?=number_format($itemTotal,2)?></strong></p>
		
		<?php if ($error_coupon_used): ?>
			<p class="alert"><?php echo $error_coupon_used; ?></p>
		<?php endif; ?>
		
		<?php
		if ($payment == 'amazon' && $itemTotalAmazon > 0)
		{
			// Amazon Checkout 
			if ($payment == 'localpickup' && $_SESSION["ship2country"] == 'US' && $_SESSION["ship2state"] == 'CA')
			{
				// free shipping
				$amazon_shipping_cost = '0.00';
			}
			else 
			{
				$amazon_shipping_cost = $_SESSION['SHIPRATE'];
			}
			
			$amazon_shipping_methods = $_SESSION['METHODS'];
			for ($xx = 0; $xx < count($amazon_shipping_methods['id']); $xx++)
			{
				if ($amazon_shipping_methods['id'][$xx] == $_SESSION['METHOD']) { $amazon_shipping_method_tmp = $amazon_shipping_methods['name'][$xx]; }
			}
			$amazon_shipping_method_arr = explode('(',$amazon_shipping_method_tmp);
			$amazon_shipping_method = str_replace(')','',ucfirst($amazon_shipping_method_arr['1']));
			if ($amazon_shipping_method == 'Regular' || $amazon_shipping_method == 'Domestic') { $amazon_shipping_method = 'Standard'; }
			
			$cart_items_arr = $_SESSION["CART"]["ID"];
			if (in_array(-7,$cart_items_arr) || (isset($_SESSION['use_credit_amount']) && $_SESSION['use_credit_amount'] > 0))
			{
				$promotion_total = 0;
				if (in_array(-7,$cart_items_arr))
				{
					for($xx = 0; $xx <$icount; $xx++)
					{
						if ($_SESSION["CART"]["ID"][$xx] == -7) { $promotion_total += abs(number_format($_SESSION["CART"]["PRICE"][$xx],2)); }
					}
				}
				
				if (isset($_SESSION['use_credit_amount']) && $_SESSION['use_credit_amount'] > 0)
				{
					if ($_SESSION['use_credit_amount'] <= $itemTotalAmazon)
					{
						$promotion_total += number_format($_SESSION['use_credit_amount'],2);
					}
					elseif ($_SESSION['use_credit_amount'] > $itemTotalAmazon)
					{
						$promotion_total += number_format($itemTotalAmazon,2);
						$amazon_shipping_cost = '0.00';
					}	
					else 
					{}			
				}
				$amazon_promotion_xml = '<CartPromotionId>cart-promotion-1</CartPromotionId>';
				$amazon_promotions_xml = '<Promotions><Promotion><PromotionId>cart-promotion-1</PromotionId><Description>Coupon or Credit discount</Description><Benefit><FixedAmountDiscount><Amount>' . $promotion_total . '</Amount><CurrencyCode>USD</CurrencyCode></FixedAmountDiscount></Benefit></Promotion></Promotions>';					
			}	
			else 
			{
				$amazon_promotion_xml = '';
				$amazon_promotions_xml = '';
			}		
			
			// discount fix
			if ($promotion_total > $subtotal)
			{
				$promotion_diff = $promotion_total - $subtotal;
				$amazon_shipping_cost -= $promotion_diff;
				if ($amazon_shipping_cost < 0) { $amazon_shipping_cost = '0.00'; } 
			}
			
			$amazon_shipping_xml = '<ShippingMethods><ShippingMethod><ShippingMethodId>ButtonShippingMethod-123</ShippingMethodId><ServiceLevel>' . $amazon_shipping_method . '</ServiceLevel><Rate><ShipmentBased><Amount>' . $amazon_shipping_cost . '</Amount><CurrencyCode>USD</CurrencyCode></ShipmentBased></Rate><IncludedRegions><WorldRegion><CountryCode>' . $_SESSION['ship2country'] . '</CountryCode></WorldRegion></IncludedRegions></ShippingMethod></ShippingMethods>';
			$amazon_cart_xml = "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Order xmlns=\"http://payments.amazon.com/checkout/2009-05-15/\"><Cart><Items>$amazon_items_xml</Items>$amazon_promotion_xml</Cart>$amazon_promotions_xml$amazon_shipping_xml</Order>";
			// page 60 http://amazonpayments.s3.amazonaws.com/documents/ImplementationGuideXML.pdf tax for region CA
			$checkout_access_key = $efc->getConfigValue("Amazon", "CHECKOUT_ACCESS_KEY_ID");
			$checkout_secret_key = $efc->getConfigValue("Amazon", "CHECKOUT_SECRET_KEY_ID");
			$signature = calculateRFC2104HMAC($amazon_cart_xml, $checkout_secret_key);
			$cartHTML = getCartHTML($amazon_merchant_id, $checkout_access_key, $signature, base64_encode($amazon_cart_xml)); // get the button Code
			?>
			<!--<script type='text/javascript' src='https://static-na.payments-amazon.com/cba/js/us/sandbox/PaymentWidgets.js'></script>-->
			<!-- For Switching to Production, comment out the lines above and uncomment the lines below -->
			<script type='text/javascript' src='https://static-na.payments-amazon.com/cba/js/us/PaymentWidgets.js'></script> 
			<div id="cbaButton1">
			<!--<img src="https://payments-sandbox.amazon.com/gp/cba/button?type=cart&cartOwnerId=AU2EORIST3SV6&color=orange&size=large&background=white"/>-->
			<!-- For Switching to Production, comment out the line above and uncomment the line below -->
			<img src="https://payments.amazon.com/gp/cba/button?type=cart&cartOwnerId=AU2EORIST3SV6&color=orange&size=large&background=white"/>
			</div>
			<!--value: "type:merchant-signed-order/aws-accesskey/1;order:PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48T3JkZXIgeG1sbnM9Imh0dHA6Ly9wYXltZW50cy5hbWF6b24uY29tL2NoZWNrb3V0LzIwMDktMDUtMTUvIj48Q2FydD48SXRlbXM+PEl0ZW0+PFNLVT5SZWRGaXNoMTIzPC9TS1U+PE1lcmNoYW50SWQ+QVUyRU9SSVNUM1NWNjwvTWVyY2hhbnRJZD48VGl0bGU+UmVkIEZpc2g8L1RpdGxlPjxEZXNjcmlwdGlvbj5BIHJlZCBmaXNoIHBhY2tlZCBpbiBzcHJpbmcgd2F0ZXIgKENCQSBTdGFuZGFyZCBDb2RlIEdlbmVyYXRvciBzYW1wbGUgY2FydCkuPC9EZXNjcmlwdGlvbj48UHJpY2U+PEFtb3VudD4xOS45OTwvQW1vdW50PjxDdXJyZW5jeUNvZGU+VVNEPC9DdXJyZW5jeUNvZGU+PC9QcmljZT48UXVhbnRpdHk+MTwvUXVhbnRpdHk+PC9JdGVtPjwvSXRlbXM+PC9DYXJ0PjwvT3JkZXI+;signature:PPjqxRfPxigey2BVX04KxmZpgcg=;aws-access-key-id:AKIAJS6KTKC6T5563LBQ"},-->
			<script type='text/javascript'>
			new CBA.Widgets.StandardCheckoutWidget({
			merchantId:'AU2EORIST3SV6',
			orderInput: { 
			format: "XML",
			value:"<?=getOrderInputValue()?>"},
			buttonSettings: { size: 'large',color:'orange',background:'white'}
			}).render("cbaButton1");
			</script>
			<?
		}
		elseif ($payment == 'paypalwpp' && $itemTotal > 0) 
		{ 
			$h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
			fwrite($h, "Paypal selected:".$_SESSION['email']." - ".$_SESSION['acctid']." IP".$_SERVER['REMOTE_ADDR']."\n");
			$browser = get_browser(null, true);
			fwrite($h, "Browser:".  $_SERVER["HTTP_USER_AGENT"]."\n");
			fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
			fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
			fclose($h);
			?>
			<a href="<?php echo $BASE_M_URL; ?>/checkout/paypal/default.phtml"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif" id="ODpaypalbtn" border="0"></a>                	
			<?
		} 
		elseif ($payment == 'bitcoin' && $itemTotal > 0)  
		{ 
			?>
			<a href="/checkout/place_order_bitcoin.phtml"><img alt="Pay with Bitcoin." src="https://coinbase.com/assets/buttons/buy_now_small.png"></a>
			<?
		}
		else 
		{ 
			?>
			<p class="half-left"><strong>Final Step</strong><br />- continue to confirm your order. Thank you!</p>
			<button type="submit" class="cart-btn cart-btn-right w160px clearfix"><span>Confirm the order</span></button>
			<br class="clear" />		
			<?
		} 
		?>
	</form>
</div>
<script type="text/javascript">
var cartitem_total=<?php echo  number_format($itemTotal,2); ?>;
var credit_amount= <?php echo  $credit_balance; ?>;
var current_balance =$('.credit_amount_val').val();
if (credit_amount > cartitem_total){
 $('.credit_amount_val').val(cartitem_total);
}
</script>