<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/cart.phtml">Cart</a>&nbsp;::&nbsp;Checkout - Shipping Method';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Step 1 Of 3 - Delivery Information</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<?php
	$count_pids_removed = 0;
	$icount = $_SESSION["ICOUNT"];
	if ($icount > 0)
	{
		for($xx = 0; $xx < $icount; $xx++)
		{
			$pid = $_SESSION["CART"]["ID"][$xx];
			$countries_list_array = array();
			
			if ($pid == -7)
			{
				continue;
			}
				
			$q_verify = "SELECT COUNT(id), countries_list
						 FROM product_shipping_limit
						 WHERE pid = '$pid'
						 LIMIT 1";
			if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! Internal Error in verify"; exit; }  }
			list($verify_pid,$countries_list) = mysql_fetch_array($qok_verify);
			if ($verify_pid > 0 && !empty($countries_list))
			{
				if (isset($_SESSION["ship2country"]) && !empty($_SESSION["ship2country"]))
				{
					$ship2country = $_SESSION["ship2country"];
					$countries_list_array = explode(',', $countries_list);
			
					if (in_array($ship2country,$countries_list_array))
					{}
					else 
					{
						$cc->removeItem($pid);
						$cclass->removePidTmpCart($pid);
						++$count_pids_removed;
					}
				}
			}
		}
	}
			
	if ($count_pids_removed > 0)
	{
		$sc->redirectUrl($BASE_M_URL . '/checkout/?error_shipping_country');
	}
	?>
    
    <h3>Shipping Information:</h3>
		<?php /*?><address class="half-left mb10px">
			<?php echo $_SESSION["ship2name"]; ?><br />
			<?php echo $_SESSION["ship2street1"] . ' ' . $_SESSION["ship2street2"]; ?><br />
			<?php echo $_SESSION["ship2city"]; ?>, <?php echo $_SESSION["ship2state"] . ' ' . $_SESSION["ship2zip"]?><br />
			<?php echo $_SESSION["ship2country"]; ?>
		</address>
<?php */?> 
 <div class="shippingInfoHolder">         
<?php
	$userShippingAddress=$cclass->getShippingAddress();
	if(sizeof($userShippingAddress) <5)
	  {
	  ?>  
    <div class="checkoutShippingWrapper">
            <div class="checkoutChangeShipping">
                <a href="javascript:void();" class="addNewAdress">Add New Shipping Address
                </a>
            </div>
        </div>
      <?php }?>
      </div>
    <form name="checkout_address" action="<?php echo $BASE_M_URL; ?>/checkout/" method="post"  id="changeShippingAddress" style="display:none;" >
        <p class="mb30px"><strong>Please use the following form to create a new shipping address for use with this order.</strong></p>
		
		<fieldset>
			<legend>Change the Shipping Address for This Order</legend>
			<p class="alert">* Required information</p>
			<label for="firstname">First Name:<span class="alert">*</span></label>
			<input name="firstname" maxlength="32" id="firstname" value="" type="text">
		
			<label for="lastname">Last Name:<span class="alert">*</span></label>
			<input name="lastname" maxlength="32" id="lastname" value="" type="text">
		
			<label for="ship2company">Company Name:</label>
			<input name="ship2company" maxlength="64" id="ship2company" type="text">
		
			<label for="street-address">Street Address:<span class="alert">*</span></label>	
			<input name="street_address" maxlength="64" id="street-address" value="" type="text">
		
			<label for="suburb">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
			<input name="ship2street2" maxlength="32" id="ship2street2" value="" type="text">
		
			<label for="country">Country:<span class="alert">*</span></label>
			<select name="zone_country_id" id="country">
				<?php
				$current_country = $_SESSION["ship2country"];
				include($ROOT_DIR."/m/include/country_select.php");
				?>
			</select>

			<label for="state" id="stateLabel">State/Province:</label>
			<select name="usa_state" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="usa_states"> 
				<option value="">-----------------</option>
				<?php
				$current_state = $_SESSION["ship2state"];
				include($ROOT_DIR."/m/include/usa_state_select.php");
				?>
			</select>             
			<input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="international_states" name="state" value="" type="text">
		
			<label for="city">City:<span class="alert">*</span></label>
			<input name="city" maxlength="32" id="city" value="" type="text">
		
			<label class="inputLabel" for="postcode">Post/Zip Code:<span class="alert">*</span></label>
			<input name="postcode" maxlength="10" id="postcode" value="" type="text">
		</fieldset>
		<p class="half-left"><strong>Continue</strong><br />- to shipping method.</p>
		<input name="action" value="add_shipping_address" type="hidden">
        <input type="hidden" name="shippingAddressID" id="shippingAddressID" value="" />
		<button type="submit" class="cart-btn cart-btn-right w160px clearfix"><span>Continue</span></button>
		<br class="clear" />
    </form>
    
	<form method="post" action="checkout_payment.phtml" name="checkout_address">
    
    <fieldset>
                    <legend>Please select the preferred shipping</legend>
                   
                   <div class="shippingRates"><span style="color:#093"> 10% Discount applied to all Warehouse orders.</span>
                   
                   
                   </div> 
                    
                    <input type="radio" class="warehousePickup" value="1" name="warehousePickupRadio" />
                    <label class="checkboxLabel" for="warehousePickup" style="float:none;">Pickup at Warehouse
                    <br />
                    
                    <span style="margin-left:32px; color:#C8B87C;">406 Bryant Circle, <br> </span>
                   <span style="margin-left:32px; color:#C8B87C;"">Unit E Ojai, CA 93023. </span>
                    </label>
                    <br />
                    <br />
                   
                    
                    
                    <input type="radio" class="warehousePickup" value="0" name="warehousePickupRadio" checked="checked" />
                    <label class="checkboxLabel" for="warehousePickup">General Shipping</label>
                    
                    
                    
                </fieldset>
     <?php
	 $userInfo=$cclass->getUserInfo();
	
	 ?>
  <div class="shippingInfoHolder">
    <fieldset class="checkout-step1 clearfix">
        <legend>Select Shipping Address</legend>
        
        
        <input type="radio" class="RadioAddress"  value="<?=$_SESSION["acctid"] ?>" 
        name="shippingAddress" <?php if($_SESSION['ship2name']== $userInfo['ship2name']){echo "checked";} ?>  />
                  
                    <label class="checkboxLabel" for="ship-zones-zones" style="float:none !important;">
                    <?=$userInfo['ship2name'] ?>
                    <?= $userInfo['ship2company']?>
					<?=$userInfo['ship2street1'] ?>
                     <?=$userInfo['ship2street2']?><br> 
					 <span style="margin-left:32px;"><?=$userInfo['ship2city']?>, <?=$userInfo['ship2state']?>   
                      <?=$userInfo['ship2zip']?> <?=$userInfo['ship2country']?></span>
                      
                    </label>
                     <a href="<?php echo $BASE_M_URL; ?>/checkout/checkout_shipping_address.phtml"> <div class="shippingRates changeAddress"> 
                   <img width="38" height="25" title=" Edit " alt="Edit" src="/images/small_edit.gif">
                   </div></a>
                    <br /><br /><br />
        
     <?php
 		 
		 if(sizeof($userShippingAddress!=0))
		 {
		 foreach($userShippingAddress as $addressC)
		 {
		 ?>
			
                    
                    <input type="radio" class="RadioAddress"  value="<?=$addressC['id'] ?>" name="shippingAddress" <?php if($_SESSION['ship2name']== $addressC['ship2name']){echo "checked";} ?>  />
                   
                    <label class="checkboxLabel" for="ship-zones-zones" style="float:none !important;">
                    <?=$addressC['ship2name'] ?>
                    <?=$addressC['ship2company'] ?>
					<?=$addressC['ship2street1'] ?>
                     <?=$addressC['ship2street2']?><br> 
					 <span style="margin-left:32px;"><?=$addressC['ship2city']?>, <?=$addressC['ship2state']?>   
                      <?=$addressC['ship2zip']?> <?=$addressC['ship2country']?></span>
                      
                    </label>
                    <a href="javascript:void()"> <div class="shippingRates changeAddress" id="<?=$addressC['id'] ?>" 
                    data-ship2name ="<?=$addressC['ship2name'] ?>" data-ship2company ="<?=$addressC['ship2company'] ?>" 
                    data-ship2street1="<?=$addressC['ship2name'] ?>" 
                    data-ship2street2= "<?=$addressC['ship2street2']?>" 
                    data-ship2city="<?=$addressC['ship2city']?>" 
                    data-ship2state="<?=$addressC['ship2state']?>" 
                    data-ship2country="<?=$addressC['ship2country']?>" 
                    data-ship2zip="<?=$addressC['ship2zip']?>" > <img width="38" height="25" title=" Edit " alt="Edit" src="/images/small_edit.gif"></div></a>
                    <br /><br /><br />
               
          <?php }
		  	} ?>
        </fieldset> 
        
		
		<?php /*?><button type="button" class="cart-btn cart-btn-right clearfix" onclick="window.open('<?php echo $BASE_M_URL; ?>/checkout/checkout_shipping_address.phtml','_self');"><span>Change Address</span></button><?php */?>
		<p class="mb30px"><strong>Your order will be shipped to the address at the left or you may change the shipping address by clicking the <em>Change Address</em> button.</p></strong>
		</div>
		<?php if (isset($_GET['error_shipping_country'])): ?>
			<p class="alert mb30px">We're sorry, one or more items cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.</p>
		<?php endif; ?>
		<div class="shippingInfoHolder">
		<h3>Shipping Method:</h3>
		<p>Please select the preferred shipping method to use on this order.</p>
<div id="shipping_data">
		<?php
		foreach ($methods['id'] as $k => $v)
		{
			$checked = '';
			if($_SESSION["METHOD"] == "" && $k == 0)
			{
				$_SESSION["METHOD"] = $v;
				$_SESSION["SHIPRATE"] = number_format($methods['rate'][$k],2);
				$checked = " checked";
			}
			else if($v == $_SESSION["METHOD"])
			{
				$checked = " checked";
				$_SESSION["SHIPRATE"] = number_format($methods['rate'][$k],2);
			}
			?>
			<fieldset class="checkout-step1 clearfix">
				<legend><?=$methods['name'][$k]?></legend>
				<input type="radio" id="ship-zones-zones" value="<?=$v?>" name="shipping" <?=$checked?> />
				<label for="ship-zones-zones"><?=$methods['name'][$k];?> Shipping</label>
<? if($_SESSION["ship2country"]=="US") {?>
				<p class="price shippingRates">$<?=number_format($methods['rate'][$k],2);?>
</p>
<? } ?>
			</fieldset>

			<?php
		}
		?>
</div>
</div>
		<p>*<a href="<?php echo $BASE_M_URL; ?>/help.phtml?hid=39" target="_blank">Please CLICK HERE to read our Expedited Shipping Policy for details about delivery times.</a></p>
		<p class="half-left"><strong>Continue to Step 2</strong><br />- choose your payment method.</p>
		<button type="submit" class="cart-btn cart-btn-right w160px clearfix"><span>Continue checkout</span></button>
		<br class="clear" />		
	</form>
</div>

<script>
$('.changeAddress').click(function(){
	var shippingAddressID = $(this).attr('id');
	var ship2name = $(this).attr('data-ship2name');
	var str=ship2name.split(' ');
	var firstName = str[0];
	var lastName = str[1];
	var ship2company = $(this).attr('data-ship2company');
	
	var ship2street1 = $(this).attr('data-ship2street1');
	
	var ship2street2 = $(this).attr('data-ship2street2');
	
	var ship2city = $(this).attr('data-ship2city');
	
	var ship2state = $(this).attr('data-ship2state');
	var ship2zip = $(this).attr('data-ship2zip');
	//alert(ship2zip);
	var ship2country = $(this).attr('data-ship2countrys');
	$('.addressTitle').text('Update your shipping address');
	$('#changeShippingAddress').hide();
	$('#changeShippingAddress').slideDown(500);
	$('#firstname').val(firstName);
	$('#lastname').val(lastName);
	$('#ship2company').val(ship2company);
	$('#street-address').val(ship2street1);
	$('#ship2street2').val(ship2street2);
	$('#city').val(ship2city);
	$('#postcode').val(ship2zip);
	$('#shippingAddressID').val(shippingAddressID);
	$('#international_states').val(ship2state);
	
	})

$('.addNewAdress').click(function(){
	$('#changeShippingAddress')[0].reset();
	$('.addressTitle').text('Add new shipping address');
	$('#shippingAddressID').val('');
	$('#changeShippingAddress').slideToggle();
	})
$(document).ready(function () {

    $('#changeShippingAddress').validate({ // initialize the plugin
	 errorClass: "my-error-class",
   validClass: "my-valid-class",
        rules: {
            firstname: {
                required: true,
                minlength: 2
            },
            lastname: {
                required: true,
                minlength: 2
            },
			city: {
				required: true,
				minlength: 2
			},
			street_address: {
				required: true,
				minlength: 5
			},
			postcode: {
				required: true,
				minlength: 3
			},
			state: {
				required: true,
				minlength: 2
			},
			usa_state: {
				required: true,
				
			},
        },
		onfocusout: function(element) {
            this.element(element);
        },highlight: function(element) {
            $(element).addClass('error');
        }, unhighlight: function(element) {
            $(element).removeClass('error');
        },
        submitHandler: function (form) { // for demo
            //alert('valid form submitted'); // for demo
            $('#changeShippingAddress').submit();
        }
    });
$("input[name='shippingAddress']").click(function() {
        var addressid = $(this).val();

        calculate_shipping(addressid);
});

$(".warehousePickup").click(function() {
        var pickware = $(this).val();
        if(pickware=='1')
		{
			$('#changeShippingAddress').hide();
			$('.shippingInfoHolder').hide();
		}else
		{
			
			$('.shippingInfoHolder').show();
		}
});


});
// shipping rate calculation 
function calculate_shipping(addressid) {
  $.ajax({
      method: "POST",
    url:"shipping_calculate.php", 
     data: { shippingAddress:addressid }
     }) 
   .done(function( msg ) {
   // alert( "Data Saved: " + msg );
    $("#shipping_data").html(msg);
  });
}

</script>
