<?php $breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;Contact Us'); ?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Contact Us</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->

	<form method="post" action="" name="contact_us">
		<address class="mb10px">
			The Raw Food World<br />
			406 Bryant Circle, Unit E<br />
			Ojai, CA 93023<br />
			866-729-3438
		</address>
		
		<address class="mb10px">
			<strong>Phone Lines are open to serve you:</strong><br />
			Monday - Friday<br />
			9-4:30pm PST<br />
			Closed Saturday and Sunday<br />
		</address>
		
		<p class="messageStackError1 alert" style="display: <?=$errormsg1?>">
			<img width="20" height="20" title=" Error " alt="Error" src="/images/error.gif">  
			Error Sorry, is your name correct? Our system requires a minimum of 2 characters. Please try again.
		</p>

		<p class="messageStackError2 alert" style="display: <?=$errormsg2?>">
			<img width="20" height="20" title=" Error " alt="Error" src="/images/error.gif">  
			Error Sorry, my system does not understand your email address. Please try again.
		</p>

		<p class="messageStackError3 alert" style="display: <?=$errormsg3?>">
			<img width="20" height="20" title=" Error " alt="Error" src="/images/error.gif">  
			Error Did you forget your message? We would like to hear from you. You can type your comments in the text area below.
		</p>
		
		<p class="messageStackError2 alert" style="display: <?=$errormsg4?>">
			<img width="20" height="20" title=" Error " alt="Error" src="/images/error.gif">  
			<strong><?=$result_message;?></strong>
		</p>
		
		<fieldset id="contactUsForm">
			<legend>Contact Us</legend>
			<p class="alert">* Required information</p>
		
			<label for="contactname">Full Name:<span class="alert">*</span></label>
			<input type="text" id="contactname" size="40" name="contactname">
		
			<label for="email-address">Email Address:<span class="alert">*</span></label>
			<input type="text" id="email-address" size="40" name="email_addr">
		
			<label for="enquiry">Message:<span class="alert">*</span></label>
			<textarea id="enquiry" name="enquiry"></textarea>
		</fieldset>
		<input type="hidden" name="action" value="send_contact"/>
		<button type="submit"><span>Send</span></button>
	</form>
	<p><a href="<?php echo $BASE_M_URL; ?>/" title="Go back">Go back</a><p>
</div>