<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Affiliate Banners';
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Affiliate Banners</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
    </div>

    <p>Copy the HTML below to place these banners into your website or blog.</p>
	<?php
	$q_aff = "SELECT id, title, LENGTH(idata), width, height, return_url
			  FROM customer_aff_banners
			  ORDER BY id ASC";
	if(!$qok_aff = mysql_db_query($DB, $q_aff, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok_aff) > 0)
	{
		$i = 1;
		while (list($affimg_id, $title, $size, $width, $height, $return_url) = mysql_fetch_array($qok_aff))
		{
			$aff_banner_code = '&lt;a href="' . $return_url . '?aff=' . $acctid . '" title="' . $title . '"&gt;&lt;img src="' . $BASE_URL . '/cstaff_banner.phtml?id=' . $affimg_id . '" alt="' . $title . '" /&gt;&lt;/a&gt;';
			?>
			<p class="acct_cab"><strong>#<?php echo $i; ?></strong>.&nbsp;<?php echo $width . 'x' . $height; ?> pixels</p>
			<p class="acct_cab"><i><?php echo $aff_banner_code; ?></i></p>
			<p class="acct_cab"><img src="/cstaff_banner.phtml?id=<?php echo $affimg_id; ?>&<?php echo rand(1,9999999); ?>" style="max-width:500px;" /></p>
			<?php
			++$i;
		}
	}
	?>	
</div>