<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;Product Notifications';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Product Notifications</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<form method="post" action="" name="account_notifications">
		<p>The product notification list allows you to stay up to date on products you find of interest.</p>
		<p>To be up to date on all product changes, select <strong>Global Product Notifications</strong>.</p>
		<fieldset>
			<legend>Global Product Notifications</legend>
			<input type="checkbox" id="globalnotify" value="1" name="product_global"> Receive notifications on all available products.
		</fieldset>
	
		<fieldset>
			<legend>Product Notifications</legend>
			<p>There are currently no products marked to be notified of.</p>
			<p>To add products to your product notification list, click on the notification link available on the detailed product information page.</p>
		</fieldset>
	
		<input type="hidden" value="process" name="action">
		<button type="submit"><span>Update</span></button>
	</form>
	<p><a href="<?php echo $BASE_M_URL; ?>/customer/" title="Go back">Go back</a><p>
</div>