<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Commission/Traffic Reports';
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Affiliate commissions</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
        <td class="padding5px" align="left"><B>Order status</td>
        <td class="padding5px" align="left"><B>Order amount</td>
        <td class="padding5px" align="left"><B>Order date</td>
        <td class="padding5px" align="left"><B>Commission status</td>
        <td class="padding5px" align="left"><B>Commission amount</td>
        <td class="padding5px" align="left"><B>Payment status</td>
        <td class="padding5px" align="left"><B>Payment date</td>
	</tr>
	<?php $cclass->getAffCommissionList($_SESSION["acctid"]); ?>
	</table>
</div>