<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Payment Settings';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
if (empty($affiliate_info_arr)) { $affiliate_info_arr = array('payments_type' => 'paypal'); }
$commission_min_value = $efc->getConfigValue('eFluent Settings', 'CstAffMinPayCommBalance');
if (empty($commission_min_value)) { $commission_min_value = 100; }
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents" id="request-payment">
	   	<h1>Payment Settings</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->

   	<h2>Payment Settings</h2>
	<p>Please choose whether you would like to be paid by PayPal or check, and fill in the necessary details.</p>
	<p>You can <a href="#request-payment" title="Request payment" />request payment</a> once your balance reaches $<?php echo $commission_min_value; ?>, or you can transfer your balance to store credit any time from the <a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_reports.phtml">Commission/Traffic Reports</a> page.</p>

	<form onsubmit="return check_form(affiliate_edit);" method="post" action="" class="mrgbtm-50" name="affiliate_edit">
		<input type="hidden" name="action" value="affiliate_edit" />
		<fieldset class="checkout-step1 clearfix">
			<legend>Paypal payments</legend>
			<input type="radio" id="pay_paypal" name="payment_type" value="paypal" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'paypal') ? 'checked="checked"' : 'checked="checked"'; ?>>
			<label for="ship-zones-zones">Paypal</label>
		</fieldset>	
		<fieldset class="checkout-step1 clearfix">
			<legend>Check payments</legend>
			<input type="radio" id="pay_check" name="payment_type" value="check" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'check') ? 'checked="checked"' : ''; ?>>
			<label for="ship-zones-zones">Check</label>
		</fieldset>	
		<fieldset id="pay_type_pp" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'check') ? 'style="display:none;"' : ''; ?>>
			<legend>Paypal payments</legend>
			<p class="alert">* Required information</p>
			
		    <label for="email">Email Address:<span class="alert">*</span></label>
		    <input type="text" id="email" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['email'] : $_SESSION['email']; ?>" name="email">
		</fieldset>		
		<fieldset id="pay_type_chk" <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['payments_type'] == 'paypal') ? 'style="display:none;"' : ''; ?>>
			<legend>Check payments</legend>
			<p class="alert">* Required information</p>
			
			<label for="address_street1">Street Address:<span class="alert">*</span></label>
			<input name="address_street1" maxlength="64" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_street1'] : $_SESSION['bill2street1']; ?>" id="address_street1" type="text">
			
			<label for="address_street2">Address Line 2:<br /><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
			<input name="address_street2" maxlength="32" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_street2'] : $_SESSION['bill2street2']; ?>" id="address_street2" type="text">
			
			<label for="address_country">Country:<span class="alert">*</span></label>
			<select name="address_country" id="country">
			<?php
			$current_country = !empty($affiliate_info_arr) ? $affiliate_info_arr['address_country'] : $_SESSION['bill2country'];
			include($ROOT_DIR."/include/country_select.php");
			?>
			</select>
			
			<label for="state" id="stateLabel">State/Province:</label>
			<select name="address_usastate" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="usa_states"> 
			<?php
			$current_region = !empty($affiliate_info_arr) ? $affiliate_info_arr['address_state'] : $_SESSION['bill2state'];
			include($ROOT_DIR."/include/usa_regions_select.php");
			?>
			</select>             
			<input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="international_states" name="address_state" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_state'] : $_SESSION['bill2state']; ?>" type="text">
			
			<label for="city">City:<span class="alert">*</span></label>
			<input name="address_city" maxlength="32" id="address_city" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_city'] : $_SESSION['bill2city']; ?>" type="text">
			
			<label for="address_zipcode">Post/Zip Code:<span class="alert">*</span></label>
			<input name="address_zipcode" maxlength="10" id="address_zipcode" value="<?php echo (!empty($affiliate_info_arr)) ? $affiliate_info_arr['address_zipcode'] : $_SESSION['bill2zip']; ?>" type="text">
		</fieldset>
		<button type="submit" onclick="checkPassForm();return false;"><span>Update</span></button>
	</form>
	
   	<h2 id="request-payment">Request Payment</h2>
	<?php
	if (!empty($affiliate_info_arr))
	{
		$commission_total_arr = $cclass->getAffCommissionTotal($acctid);

		if ($commission_total_arr['total_requested'] > 0)
		{
			?>
			<p>You have already requested payment. It is on its way.<br />
			Thank you!</p>
			<?php
		}
		elseif ($commission_total_arr['total_amount'] < $commission_min_value)
		{
			?>
			<p>Your current outstanding balance is $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>. You do not yet qualify for a commission payout. Please continue to share your affiliate links with your friends and website visitors.<br />
			Thank you!</p>
			<?php	
		}
		elseif ($commission_total_arr['total_amount'] > $commission_min_value)
		{
			if (($affiliate_info_arr['payments_type'] == 'paypal' && empty($affiliate_info_arr['email'])) ||
				($affiliate_info_arr['payments_type'] == 'check' && empty($affiliate_info_arr['address_street1'])))
			{
				?>
				<p>Your current outstanding balance is $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>. Congratulations! You qualify for a payment. However, your payment preference is incomplete. Please specify how you would like to be paid (fill the form bellow), and then request payment.<br />
				Thank you!</p>				
				<?php
			}
			else 
			{
				?>
				<p>Your current outstanding balance is $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>. Congratulations! You qualify for a payment. Click the button below and your payment will be on its way.</p>
				<p><input type="image" onclick="event.preventDefault();" rel="<?php echo $acctid; ?>" id="btn_request_payment" title="Request payment" alt="Request payment" src="/images/button_request_payment.gif"></p>
				<?php
			}
		}
	}
	?>				
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("input[name='payment_type']").change(function(){
		if (jQuery(this).val() == 'paypal'){
			jQuery('#pay_type_pp').css('display','block');
			jQuery('#pay_type_chk').css('display','none');
		} else if (jQuery(this).val() == 'check'){
			jQuery('#pay_type_pp').css('display','none');
			jQuery('#pay_type_chk').css('display','block');
		}
	});
	
	jQuery('#btn_request_payment').click(function() {
		event.preventDefault();
		var aff_acctid = jQuery(this).attr('rel');
		jQuery.post('<?php echo $BASE_URL; ?>/ajax_functions.phtml', { action: 'request_payment', affiliate_id: aff_acctid }, function(data){
			location.reload();
		});			
	});			
});
</script>