<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;Change Password';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Change Password</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<form method="post" action="" name="account_password">
		<fieldset>
		    <legend>My Password</legend>
			<p class="alert">* Required information</p>
			<label for="password-new">New Password:<span class="alert">*</span></label>
			<input type="password" id="password-new" name="password_new">
			
			<label for="password-confirm">Confirm Password:<span class="alert">*</span></label>
			<input type="password" id="password-confirm" name="password_confirmation">
		</fieldset>
		
		<input type="hidden" name="acctid" id="acctid" value="<?php echo $_SESSION["acctid"]; ?>" />
		<button type="submit" onclick="checkPassForm();return false;"><span>Update</span></button>
	</form>
	<p><a href="<?php echo $BASE_M_URL; ?>/customer/" title="Go back">Go back</a><p>
</div>