<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/affiliate_reports.phtml">Commission/Traffic Reports</a>&nbsp;::&nbsp;Commissions';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);

$commissions_per_page = 50;

if (isset($_GET['p']) && !empty($_GET['p']))
{
	$p = (int) $_GET['p'];
	if ($p < 1) { $p = 1; }
}
else 
{
	$p = 1;
}

$ahref_url = $BASE_M_URL . '/customer/affiliate_reports_commissions.phtml?p=' . $p;

$orderby_arr = array('order_status-asc', 
					 'order_status-desc', 
					 'order_amount-asc', 
					 'order_amount-desc', 
					 'commission_status-asc', 
					 'commission_status-desc', 
					 'commission_amount-asc', 
					 'commission_amount-desc', 
					 'payment_status-asc', 
					 'payment_status-desc', 
					 'payment_date-asc', 
					 'payment_date-desc');
if (isset($_GET['orderby']) && !empty($_GET['orderby']))
{
	if (in_array(trim($_GET['orderby']), $orderby_arr))
	{}
	else 
	{
		$sc->redirectUrl($ahref_url);
	}
}

if (isset($_GET['filterbyorddte_min']) && !empty($_GET['filterbyorddte_min']) && 
	isset($_GET['filterbyorddte_max']) && !empty($_GET['filterbyorddte_max']))
{
	$filterbyorddte_min = $cclass->sanitizeInput(trim($_GET['filterbyorddte_min']));
	$filterbyorddte_max = $cclass->sanitizeInput(trim($_GET['filterbyorddte_max']));
	$ahref_url .= '&filterbyorddte_min=' . $filterbyorddte_min;
	$ahref_url .= '&filterbyorddte_max=' . $filterbyorddte_max;
}
else 
{
	$filterbyorddte_min = $filterbyorddte_max = '';
}

$dates_arr = $cclass->getAffOrdersDateMinMax($acctid);
if (is_array($dates_arr) && !empty($dates_arr))
{}
else 
{
	$dates_arr = array('min' => date('Y-m-d'), 'max' => date('Y-m-d'));
}
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Commissions</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->

	
	
	
	
	
	
	
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">Filter by Order Date, from <input type="text" name="order_date_from" id="order_date_from" value="<?php echo ($filterbyorddte_min && !empty($filterbyorddte_min)) ? $filterbyorddte_min : $dates_arr['min']; ?>" class="datepicker"> to <input type="text" name="order_date_to" id="order_date_to" value="<?php echo ($filterbyorddte_min && !empty($filterbyorddte_min)) ? $filterbyorddte_max : $dates_arr['max']; ?>" class="datepicker"></td>
	</tr>
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'order_status-asc') ? 'order_status-desc' : 'order_status-asc'; ?>" title="Order by order status"><img src="/images/sort-arrows.gif" title="Order by order status" />&nbsp;Order status</a></strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'order_amount-asc') ? 'order_amount-desc' : 'order_amount-asc'; ?>" title="Order by order amount"><img src="/images/sort-arrows.gif" title="Order by order amount" />&nbsp;Order amount</a></strong></td>
		<td class="padding5px" align="left"><strong>Order date</strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'commission_status-asc') ? 'commission_status-desc' : 'commission_status-asc'; ?>" title="Order by commission status"><img src="/images/sort-arrows.gif" title="Order by commission status" />&nbsp;Commission status</a></strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'commission_amount-asc') ? 'commission_amount-desc' : 'commission_amount-asc'; ?>" title="Order by commission amount"><img src="/images/sort-arrows.gif" title="Order by commission amount" />&nbsp;Commission amount</a></strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'payment_status-asc') ? 'payment_status-desc' : 'payment_status-asc'; ?>" title="Order by payment status"><img src="/images/sort-arrows.gif" title="Order by payment status" />&nbsp;Payment status</a></strong></td>
		<td class="padding5px" align="left"><strong><a href="<?php echo $ahref_url; ?>&orderby=<?php echo (isset($_GET['orderby']) && $_GET['orderby'] == 'payment_date-desc') ? 'payment_date-asc' : 'payment_date-desc'; ?>" title="Order by payment date"><img src="/images/sort-arrows.gif" title="Order by payment date" />&nbsp;Payment date</a></strong></td>
	</tr>
	<?php $cclass->getAffCommissionList($acctid, $commissions_cnt, $commissions_per_page, $numpages_cnt, $p, $orderby, $filterbyorddte_min, $filterbyorddte_max); ?>
	<tr>
		<td class="padding5px" colspan="9">&nbsp;</td>
	</tr>
	</table>
	<div class="nav_top_bg2">
		<div class="navSplitPagesResult" id="productsListingTopNumber">
			Displaying <strong><?echo (($p-1) * $commissions_per_page)+1;?></strong> to <strong><?if($commissions_cnt < ($p * $commissions_per_page)) echo $commissions_cnt; else echo ($p*$commissions_per_page);?></strong> (of <strong><?=number_format($commissions_cnt,0);?></strong> commissions)
		</div>
		<?php if ($commissions_cnt > $commissions_per_page): ?>
			<div class="navSplitPagesLinks" id="productsListingListingTopLinks">
				<?php $sc->doPagesAffCommRep($orderby, $filterbyorddte_min, $filterbyorddte_max, $numpages_cnt, '/customer/affiliate_reports_commissions.phtml?', $p, $lastpage, $nextpage); ?>
			</div>
		<?php endif; ?>
		<div class="navSplitPagesResult" id="productsListingTopNumber" class="exportreports">
			Select type of file to export this report
			<select name="export_reports" id="export_reports">
				<option value="" selected="selected">-----</option>
				<option value="csv">CSV file</option>
				<option value="pdf">PDF file</option>
			</select>
		</div>	
	</div>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery(function() {
		jQuery('.datepicker').datepicker({
			dateFormat: "yy-mm-dd",
			showOtherMonths: true,
			selectOtherMonths: true,
			changeMonth: true,
			changeYear: true,
			minDate: '<?php echo $dates_arr['min']; ?>',
			maxDate: '<?php echo $dates_arr['max']; ?>'	
		});
		
		jQuery('.datepicker').each(function(){
			jQuery(this).change(function(){
				var redirection_url = window.location.href;
				var date_regex = /^\d{4}\/\d{1,2}\/\d{1,2}$/;

				if (redirection_url.split('?').length > 1){
					if (redirection_url.split('?')[1] != ''){
						var split_arr = redirection_url.split('?')[1].split('&');
						var split_cnt = split_arr.length;
						for (i = 0; i < split_cnt; i++){ 
							if (split_arr[i].substring(0, 15) == 'filterbyorddte_'){
								redirection_url = redirection_url.replace(split_arr[i], '');
							}

							if (split_arr[i].substring(0, 2) == 'p='){
								redirection_url = redirection_url.replace(split_arr[i], 'p=1');
							}
						}
						redirection_url = redirection_url.replace(/&&/g,'');
						
					}
				} else {
					redirection_url = redirection_url + '?p=1';
				}
				

				if (jQuery('#order_date_from').val() == '' || jQuery('#order_date_from').val().match(date_regex) == false) {
					alert('Pick a "from" date for orders to filter.');
					return;
				}
			
				if (jQuery('#order_date_to').val() == '' || jQuery('#order_date_to').val().match(date_regex) == false) {
					alert('Pick a "to" date for orders to filter.');
					return;
				}
			
				redirection_url += '&filterbyorddte_min=' + jQuery('#order_date_from').val();
				redirection_url += '&filterbyorddte_max=' + jQuery('#order_date_to').val();
				window.location = redirection_url;			
			});		
		});		
	});
	
	jQuery('#export_reports').change(function(){
		var file_type = jQuery(this).val();
		var redirection_url = '/affiliate_download.phtml?export_commission_report=' + file_type;
		var date_regex = /^\d{4}\/\d{1,2}\/\d{1,2}$/;

		var current_url = window.location.href;
		if (current_url.split('?').length > 1){
			if (current_url.split('?')[1] != ''){
				var split_arr = current_url.split('?')[1].split('&');
				var split_cnt = split_arr.length;
				for (i = 0; i < split_cnt; i++){ 
					if (split_arr[i].substring(0, 8) == 'orderby='){
						redirection_url += '&' + split_arr[i];
					}

					if (split_arr[i].substring(0, 18) == 'filterbyorddte_min'){
						redirection_url += '&filterbyorddte_min=' + jQuery('#order_date_from').val();
					}

					if (split_arr[i].substring(0, 18) == 'filterbyorddte_max'){
						redirection_url += '&filterbyorddte_max=' + jQuery('#order_date_to').val();
					}
				}
			}
		}
		window.open(redirection_url,'_blank')
	});
});
</script>
