<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;';
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/affiliate.phtml">Affiliate</a>&nbsp;::&nbsp;Create *Raw* Links';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
$global_commission = $efc->getConfigValue('eFluent Settings', 'GlobalAffiliateCommission');
$step = (isset($_GET['step']) && $_GET['step'] == 2) ? 2 : 1;
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Create *Raw* Links</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	
	<p>*Raw* links can be used instead of traditional affiliate links. Essentially, once you *register* a web site with us, you can send traffic to The Raw Food World store <strong>without</strong> your affiliate ID appended, and you will <strong>still</strong> get credit for any qualified sales!</p>
	<p>In order to *register* a site with us, you must prove that you have "edit" access to it.</p>
	<p>Note: You cannot register individual pages, just the domain name (or a sub-domain) of a web site. To get credit for "Raw" links on individual web pages, use the "Redirect Method" on the <a href="/customer/affiliate_link_builder.phtml"><u>Affiliate Link Builder</u></a> page.</p>
	
	<form method="post" action="" name="add_allowed_form" id="add_allowed_form">
		<?php if (isset($_GET['error-register-link'])): ?>
			<p class="messageStackError">Your link is registered already, try another one.</p>
		<?php endif; ?>
		<label class="inputLabel" for="add_link">Add a URL:</label>		
		<input type="text" name="add_link" placeholder="Ex: domain.com, www.domain.com, my.domain.com" size="60" value="" id="add_link">
		<div class="buttonRow" style="float:left;margin:5px 0 0 0;">
			<input type="hidden" name="action" value="add_allowed_url" />
			<input type="hidden" name="acctid" value="<?php echo $acctid; ?>" />
			<button class="add2cart-btn" id="add_allowed" style="margin:0 0 20px 0" id="btn_genafflink"><span>Submit</span></button>
        </div>
	</form>
	
	<p class="acct_cab w750px line-height20px"><strong>Raw Links (Not Verified)</strong></p>
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
	<tbody>
	<tr bgcolor="#eeeeee">
		<td class="padding5px" align="left"><b>Link</b></td>
		<td class="padding5px" align="left"><b>Verification methods</b></td>
		<td class="padding5px" align="center"></td>
		<td class="padding5px" align="center"></td>
	</tr>
	<?php
	$allowed_urls_arr = $cclass->getAffiliateAllowedUrls($acctid,'pending');
	if (is_array($allowed_urls_arr) && !empty($allowed_urls_arr))
	{
		foreach ($allowed_urls_arr AS $k => $v)
		{
			if (!empty($v['domain']))
			{
				$allowed_link = $v['domain'];
				$allowed_link_href = 'http://' . $v['domain'];
			}
			elseif (!empty($v['subdomain']))
			{
				$allowed_link = $v['subdomain'];
				$allowed_link_href = 'http://' . $v['subdomain'];
			}
			else 
			{
				$allowed_link = $allowed_link_href = '';
			}
			?>
			<tr>
				<td class="padding5px" align="left"><a href="<?php echo $allowed_link_href; ?>" target="_blank"><?php echo $allowed_link; ?></a></td>
				<td class="padding5px" align="left">
					Upload a small HTML file to your server.<br />
					<a href="/affiliate_download.phtml?allowed_code=<?php echo $v['verify_code']; ?>" title="Download HTML file" target="_blank">Download HTML file</a>
					<p>OR</p>
					Add a META tag to your website.<br />
					<i>&lt;meta name="trfw-aff-verification" content="<?php echo $v['verify_code']; ?>"/&gt;</i>			
				</td>
				<td class="padding5px td-vertical-align" id="verify_link_<?php echo $v['allowed_id']; ?>" align="center"><a href="javascript:void(0);" class="verify_link" id="<?php echo $v['allowed_id']; ?>" title="Verify" alt="Verify">Verify</a><img class="display-none" src="/images/loading-red.gif" /></td>
				<td class="padding5px td-vertical-align" id="delete_link_<?php echo $v['allowed_id']; ?>" align="center"><a href="javascript:void(0);" class="delete_link" id="<?php echo $v['allowed_id']; ?>" title="Delete"><img src="/images/delete-16px.gif" alt="Delete" /></a><img class="display-none" src="/images/loading-red.gif" /></td>
			</tr>
			<?php	
		}
	}
	else 
	{
		?>
		<tr>
			<td class="padding5px" colspan="4" align="center">No domains or subdomains were registered.</td>
		</tr>
		<?php	
	}
	?>
	</tbody>
	</table>		
	
	<p class="acct_cab w750px line-height20px"><strong>Raw Links (Verified)</strong></p>
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
	<tbody>
	<tr bgcolor="#eeeeee">
		<td class="padding5px" align="left"><b>Link</b></td>
		<td class="padding5px" align="center"></td>
	</tr>
	<?php
	$allowed_urls_arr = $cclass->getAffiliateAllowedUrls($acctid,'approved');
	if (is_array($allowed_urls_arr) && !empty($allowed_urls_arr))
	{
		foreach ($allowed_urls_arr AS $k => $v)
		{
			if (!empty($v['domain']))
			{
				$allowed_link = $v['domain'];
				$allowed_link_href = 'http://' . $v['domain'];
			}
			elseif (!empty($v['subdomain']))
			{
				$allowed_link = $v['subdomain'];
				$allowed_link_href = 'http://' . $v['subdomain'];
			}
			else 
			{
				$allowed_link = $allowed_link_href = '';
			}
			?>
			<tr>
				<td class="padding5px" align="left"><a href="<?php echo $allowed_link_href; ?>" target="_blank"><?php echo $allowed_link; ?></a></td>
				<td class="padding5px td-vertical-align" id="delete_link_<?php echo $v['allowed_id']; ?>" align="center"><a href="javascript:void(0);" class="delete_link" id="<?php echo $v['allowed_id']; ?>" title="Delete">Delete</a><img class="display-none" src="/images/loading-red.gif" /></td>
			</tr>
			<?php	
		}
	}
	else 
	{
		?>
		<tr>
			<td class="padding5px" colspan="2" align="center">No domains or subdomains were verified.</td>
		</tr>
		<?php	
	}
	?>
	</tbody>
	</table>	
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#add_allowed').click(function() {
		event.preventDefault();
		
		if (jQuery("input[name='add_link']").val() == ''){
			alert('Please write a link before continuing.');
			return false;
		}
		else
		{
			var url_value = jQuery("input[name='add_link']").val();
			if (url_value.match(/^[a-z0-9-\.]+\.[a-z]{2,4}/)){
				verify_domain_or_subdomain();
			} else {
				alert('Please write a correct domain or subdomain.');
				return false;
			}
		}
	});	
	
	jQuery('.verify_link').each(function(){
		jQuery(this).click(function() {
			event.preventDefault();
			
			var allowed_id = jQuery(this).attr('id');
			jQuery('#verify_link_' + allowed_id + ' > a').css('display','none');	
			jQuery('#verify_link_' + allowed_id + ' > img').css('display','block');	
				
			jQuery.ajax({
				type : 'POST',
				url : '<?php echo $BASE_URL; ?>/ajax_functions.phtml',
				crossDomain : false,
				beforeSend : function() {},
				complete : function() {},
				data : { action: 'verify_rawlink', rawlink_id: allowed_id },
				dataType : 'text',
				cache : false,
				success : function(response_data){
					if (response_data == ''){
						location.reload();
					} else {
						jQuery('#verify_link_' + allowed_id + ' > a').css('display','block');	
						jQuery('#verify_link_' + allowed_id + ' > img').css('display','none');	
						alert(response_data);
						event.preventDefault();					
						return false;					
					}
				},
				error : function(){
					alert('Something is not working, please try again.');
					event.preventDefault();				
					return false;
				}
			});				
		});	
	});

	jQuery('.delete_link').each(function(){
		jQuery(this).click(function() {
			event.preventDefault();
			
			var allowed_id = jQuery(this).attr('id');
			jQuery('#delete_link_' + allowed_id + ' > a').css('display','none');	
			jQuery('#delete_link_' + allowed_id + ' > img').css('display','block');	
				
			jQuery.ajax({
				type : 'POST',
				url : '<?php echo $BASE_URL; ?>/ajax_functions.phtml',
				crossDomain : false,
				beforeSend : function() {},
				complete : function() {},
				data : { action: 'delete_rawlink', rawlink_id: allowed_id },
				dataType : 'text',
				cache : false,
				success : function(response_data){
					if (response_data == ''){
						location.reload();
					} else {
						jQuery('#delete_link_' + allowed_id + ' > a').css('display','block');	
						jQuery('#delete_link_' + allowed_id + ' > img').css('display','none');	
						alert(response_data);
						event.preventDefault();					
						return false;					
					}
				},
				error : function(){
					alert('Something is not working, please try again.');
					event.preventDefault();				
					return false;
				}
			});				
		});	
	});	
	
	function verify_domain_or_subdomain(){
		var input_data = jQuery('#add_allowed_form').serialize();
		jQuery.ajax({
			type : 'POST',
			url : '<?php echo $BASE_URL; ?>/ajax_functions.phtml',
			crossDomain : false,
			beforeSend : function() {},
			complete : function() {},
			data : input_data,
			dataType : 'text',
			cache : false,
			success : function(response_data){
				if (response_data == ''){
					jQuery('#add_allowed_form').submit();
				} else {
					alert(response_data);
					event.preventDefault();					
					return false;					
				}
			},
			error : function(){
				alert('Something is not working, please try again.');
				event.preventDefault();				
				return false;
			}
		});			
	}

	function getHost(url)
	{
	    var a = document.createElement('a');
	    a.href = url;
	    return a.hostname;
	}	
});
</script>