<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;Edit My Account';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Edit My Account</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
    <?= $loginerrormsg; ?>
	<form  method="post" action="" name="account_edit" id="account_edit">
		<fieldset>
			<legend>My Account Information</legend>
			<p class="alert">* Required information</p>
			<label for="firstname">First Name:<span class="alert">*</span></label>
			<input type="text" id="firstname" value="<?=$_SESSION['fname']?>" name="firstname">
		
			<label for="lastname">Last Name:<span class="alert">*</span></label>
			<input type="text" id="lastname" value="<?=$_SESSION['lname']?>" name="lastname">
			
			<label for="email-address">Email Address:<span class="alert">*</span></label>
			<input type="text" id="email-address" value="<?=$_SESSION['email']?>" name="email_address">
		
			<label for="telephone">Telephone:<span class="alert">*</span></label>
			<input type="text" id="telephone" value="<?=$_SESSION['phone']?>" name="telephone">
		
			<label for="fax">Fax Number:</label>
			<input type="text" id="fax" name="fax" value="<?=$_SESSION['altphone']?>">
		</fieldset>
	
		<fieldset>
			<legend>My Shipping Address</legend>
			<?php
			$userInfo=$cclass->getUserInfo();
            $ship2name_array = array('','');
            if (!empty($userInfo["ship2name"]))
            {
	            $ship2name_array = explode(' ',$userInfo["ship2name"]);
            }
            ?>
		
			<label for="firstname">First Name:<span class="alert">*</span></label>
			<input name="ship2fname" size="33" maxlength="32" value="<?=$ship2name_array['0'];?>" id="ship2fname" type="text">
		
			<label for="lastname">Last Name:<span class="alert">*</span></label>
			<input name="ship2lname" size="33" maxlength="32" value="<?=$ship2name_array['1'];?>" id="ship2lname" type="text">
		
			<label for="ship2company">Company Name:</label>
			<input name="ship2company" size="41" maxlength="64" value="<?=$userInfo["ship2company"]?>" id="ship2company" type="text">
		
			<label for="street-address">Street Address:<span class="alert">*</span></label>
			<input name="ship2street1" size="41" maxlength="64" value="<?=$userInfo["ship2street1"]?>" id="ship2street1" type="text">
		
			<label for="suburb">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
			<input name="ship2street2" size="33" maxlength="32" value="<?=$userInfo["ship2street2"];?>" id="ship2street2" type="text">
		
			<label for="country">Country:<span class="alert">*</span></label>
			<select name="ship2country" id="ship2country">
			<?php
			$current_country = $userInfo["ship2country"];
			include($ROOT_DIR."/include/country_select.php");
			?>
			</select>
		
			<label for="state" id="stateLabel">State/Province:</label>
			<select name="ship2usa_state" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="ship2usa_state"> 
			<?php
			$current_region = $userInfo["ship2state"];
			include($ROOT_DIR."/include/usa_regions_select.php");
			?>
			</select>             
			<input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="ship2international_states" value="<?=$userInfo["ship2state"];?>" name="ship2state" value="" type="text">
		
			<label for="city">City:<span class="alert">*</span></label>
			<input name="ship2city" size="33" maxlength="32" id="ship2city" value="<?=$userInfo["ship2city"];?>" type="text">
		
			<label for="postcode">Post/Zip Code:<span class="alert">*</span></label>
			<input name="ship2zip" size="11" maxlength="10" id="ship2zip" value="<?=$userInfo["ship2zip"];?>" type="text">
		</fieldset>		
		
		<fieldset>
			<legend>My Billing Address</legend>
			<?php
			$bill2name_array = array('','');
			if (!empty($_SESSION["bill2name"]))
			{
				$bill2name_array = explode(' ',$_SESSION["bill2name"]);
			}
			?>
		
			<label for="firstname">First Name:<span class="alert">*</span></label>
			<input name="bill2fname" size="33" maxlength="32" value="<?=$bill2name_array['0'];?>" id="bill2fname" type="text">
		
			<label for="lastname">Last Name:<span class="alert">*</span></label>
			<input name="bill2lname" size="33" maxlength="32" value="<?=$bill2name_array['1'];?>" id="bill2lname" type="text">
		
			<label for="bill2company">Company Name:</label>
			<input name="bill2company" size="41" maxlength="64" value="<?=$_SESSION["bill2company"]?>" id="bill2company" type="text">
		
			<label for="street-address">Street Address:<span class="alert">*</span></label>
			<input name="bill2street1" size="41" maxlength="64" value="<?=$_SESSION["bill2street1"]?>" id="bill2street1" type="text">
		
			<label for="suburb">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
			<input name="bill2street2" size="33" maxlength="32" value="<?=$_SESSION["bill2street2"]?>" id="bill2street2" type="text">
		
			<label for="country">Country:<span class="alert">*</span></label>
			<select name="bill2country" id="bill2country">
			<?php
			$current_country = $_SESSION["bill2country"];
			include($ROOT_DIR."/include/country_select.php");
			?>
			</select>
		
			<label for="state" id="stateLabel">State/Province:</label>
			<select name="bill2usa_state" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="bill2usa_state"> 
			<?php
			$current_region = $_SESSION["bill2state"];
			include($ROOT_DIR."/include/usa_regions_select.php");
			?>
			</select>             
			<input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="bill2international_states" value="<?=$_SESSION["bill2state"];?>" name="bill2state" value="" type="text">
		
			<label for="city">City:<span class="alert">*</span></label>
			<input name="bill2city" size="33" maxlength="32" value="<?=$_SESSION["bill2city"]?>" id="bill2city" type="text">
		
			<label for="postcode">Post/Zip Code:<span class="alert">*</span></label>
			<input name="bill2zip" size="11" maxlength="10" value="<?=$_SESSION["bill2zip"]?>" id="bill2zip" type="text">
		</fieldset>        
		
        <input type="hidden" value="process" name="action">
        <input type="hidden" name="action" value="edit_account" />
		<button type="submit"><span>Update</span></button>
    </form>
	<p><a href="<?php echo $BASE_M_URL; ?>/customer/" title="Go back">Go back</a><p>
</div>
