<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;Affiliate';
$acctid = (int) $_SESSION["acctid"];
$affiliate_info_arr = $cclass->getAffiliateInfo($acctid);
$aff_commission = $efc->getConfigValue('eFluent Settings', 'CstAffCommission');
$commission_min_value = $efc->getConfigValue('eFluent Settings', 'CstAffMinPayCommBalance');
if (empty($commission_min_value)) { $commission_min_value = 100; }
$commission_total_arr = $cclass->getAffCommissionTotal($acctid);
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Affiliate information</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
		<?php if (!empty($cat_desc)): ?>
			<p><?php echo $cat_desc; ?></p>
		<?php endif; ?>
    </div>
	<ul id="myAccountNotify" class="list">
		<li>Share this link with your friends and get commission (or store credit) from <a href="<?php echo $BASE_M_URL; ?>/affiliate-tos/" title="Affiliate Tos" target="_blank">qualified purchases</a>: <i><?php echo $BASE_URL; ?>/?aff=<?php echo $acctid; ?></i></li>
		<li>You must agree to the <a href="<?php echo $BASE_M_URL; ?>/affiliate-tos/" title="Affiliate Tos" target="_blank">terms of service</a> to be an affiliate.</li>
		<li>Your commission rate is: <?php echo (!empty($affiliate_info_arr) && $affiliate_info_arr['commission'] > 0) ? $affiliate_info_arr['commission'] : $aff_commission; ?>%</li>
		<li>Your outstanding commission balance is: $<?php echo sprintf('%.2f', $commission_total_arr['total_amount']); ?>
		<?php
			if ($commission_total_arr['total_amount'] > 0 && $commission_total_arr['total_amount'] > $commission_min_value)
			{
				if ($commission_total_arr['total_requested'] > 0)
				{
					echo 'You have already requested payment';
				}
				else 
				{
					echo '<u><a href="' . $BASE_M_URL. '/customer/affiliate_payment_settings.phtml#request-payment" title="Request Payment">Request Payment</a></u>';
				}
			}
			else 
			{}
		?></li>
		<?php
		if (($affiliate_info_arr['payments_type'] == 'paypal' && empty($affiliate_info_arr['email'])) ||
			($affiliate_info_arr['payments_type'] == 'check' && empty($affiliate_info_arr['address_street1'])))
		{
			?>
			<li><a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_payment_settings.phtml">Payment Settings</a> (please complete this section in order to get paid)</li>
			<?php
		}
		else 
		{
			?>
			<li><a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_payment_settings.phtml">Payment Settings</a></li>
			<?php
		}
		?>  
        <li><a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_banners.phtml">Affiliate Banners</a></li>
        <li><a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_link_builder.phtml">Affiliate Link Builder</a></li>
        <li><a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_create_rawlinks.phtml">Create *Raw* Links</a></li>
        <li><a href="<?php echo $BASE_M_URL; ?>/customer/affiliate_reports.phtml">Commission/Traffic Reports</a></li>
	</ul>	
	
	<h4>Log out</h4>
	<ul id="myAccountNotify" class="list">
	    <li> <a href="<?php echo $BASE_M_URL; ?>/customer/logoff.phtml">Log out</a></li>
	</ul>
</div>