<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;Order Details';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Order Details</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->

	<?php $id = $_GET['id'];$iid = $_GET['iid']; echo $cclass->outputOrder($id, $iid); ?>
  
	<div class="buttonRow" id="reorder_msg" style="display:none;float:left;margin:10px 0 0 0;background:#718A4E;color:#fff;font-weight:bold;padding:6px 10px;">&nbsp;</div>
	<div class="buttonRow" style="float:right; margin:10px 40px 0 0;">
		<input type="image" title="Reorder" alt="Reorder" id="reorder_btn" rel="<?php echo (int) $id; ?>" src="/images/button_reorder.gif">
	</div>
    
</div>