<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$breadcrumbs_arr[] = '<a href="' . $BASE_M_URL . '/customer/">My Account</a>&nbsp;::&nbsp;Download E-Materials';
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Download E-Materials</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td class="g3" align=center height=22><B>OrderID</td>
		<td class="g3" align=left><B>Product</td>
		<td class="g3" align=center>&nbsp;<B></td>
	</tr>
	<?php
	$account_id = (int) $_SESSION["acctid"];
	$special_emat = array();
	$qa = "SELECT DISTINCT(customer_orders.orderid) 
		   FROM customer_orders, customer_order_lines 
		   WHERE customer_orders.acctid = '$account_id' 
		   AND customer_orders.orderid = customer_order_lines.orderid 
		   AND (customer_order_lines.prodid = '1008779' 
		   		OR customer_order_lines.prodid = '1008777' 
		   		OR customer_order_lines.prodid = '1008776' 
		   		OR customer_order_lines.prodid = '1008778' 
		   		OR customer_order_lines.prodid = '1008780')";
	if(!$qok = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	if (mysql_num_rows($qok) > 0)
	{
		while (list($orderid) = mysql_fetch_array($qok))
		{
			$special_emat[] = $orderid;
		}
	}
	
	// get all e-materials for current customer
	$q = "SELECT DISTINCT orderid
		  FROM customer_eorders
		  WHERE acctid = '$account_id'
		  ORDER BY orderid DESC";	
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	if (mysql_num_rows($qok) > 0)
	{
		while (list($orderid) = mysql_fetch_array($qok))
		{
			// get invoiceid
			$q_invoiceid = "SELECT invoiceid 
							FROM customer_orders
							WHERE orderid = '$orderid'
							LIMIT 1";
			if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
			list($invoiceid) = mysql_fetch_array($qok_invoiceid);
	
			// get all items from order
			$q_items = "SELECT pl.descr, ceo.id, ceo.pid
						FROM customer_eorders ceo
						JOIN product_list pl ON pl.id = ceo.pid
						WHERE ceo.acctid = '$account_id'
						AND ceo.orderid = '$orderid'
						GROUP BY ceo.pid";
			if(!$qok_items = mysql_db_query($DB, $q_items, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
			while (list($descr, $id, $pid) = mysql_fetch_array($qok_items))
			{
				// verify if is kit, get all items
				$q_iskit = "SELECT pl.descr, ceo.id, ceo.kit_pid
							FROM customer_eorders ceo
							JOIN product_list pl ON pl.id = ceo.kit_pid
							WHERE ceo.pid = '$pid'
							AND ceo.acctid = '$account_id'
							AND ceo.orderid = '$orderid'
							AND ceo.kit_pid > 0";
				if(!$qok_iskit = mysql_db_query($DB, $q_iskit, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
				if (mysql_num_rows($qok_iskit) > 0)
				{
					?>
					<tr>
						<td class="g2" align="center" height="22"><a href="<?php echo $BASE_M_URL; ?>/customer/vieworder.phtml?id=<?php echo $orderid; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $orderid; ?></a></td>
						<td class="g2" align="left"><b><?php echo $descr; ?></b></td>
						<td class="g2" align="center">&nbsp;</td>
					</tr>	
					<?php				
					while (list($kdescr, $kid, $kit_pid) = mysql_fetch_array($qok_iskit))
					{
						?>
						<tr>
							<td class="g2" align="center" height="22">&nbsp;</td>
							<td class="g2" align="left"><?php echo $kdescr; ?></td>
							<td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $kid; ?>" target="_blank" class="title">Download</a></td>
						</tr>	
						<?php
					}					
				}
				else 
				{
					?>
					<tr>
						<td class="g2" align="center" height="22"><a href="<?php echo $BASE_M_URL; ?>/customer/vieworder.phtml?id=<?php echo $orderid; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $orderid; ?></a></td>
						<td class="g2" align="left"><b><?php echo $descr; ?></b></td>
						<td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $id; ?>" target="_blank" class="title">Download</a></td>
					</tr>	
					<?php		
				}
			}
		}
	}
	elseif (count($special_emat)>0) 
	{
		foreach ($special_emat as $emat) 
		{
			$qa = "SELECT customer_order_lines.prodid, descr 
				   FROM customer_order_lines 
				   WHERE customer_order_lines.orderid = '$emat' 
				   AND (customer_order_lines.prodid = '1008779' 
				   		OR customer_order_lines.prodid = '1008777' 
				   		OR customer_order_lines.prodid = '1008776' 
				   		OR customer_order_lines.prodid = '1008778' 
				   		OR customer_order_lines.prodid = '1008780')";
			if(!$qok = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
			if (mysql_num_rows($qok) > 0)
			{
				$q_invoiceid = "SELECT invoiceid 
								FROM customer_orders
								WHERE orderid = '$emat'
								LIMIT 1";
				if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
				list($invoiceid) = mysql_fetch_array($qok_invoiceid);
				while (list($prodid,$descr) = mysql_fetch_array($qok))
				{
					?>
					<tr>
						<td class="g2" align="center" height="22"><a href="<?php echo $BASE_M_URL; ?>/customer/vieworder.phtml?id=<?php echo $emat; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
						<td class="g2" align="left"><b><?php echo $descr; ?></b></td>
						<td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $prodid; ?>" target="_blank" class="title">Download</a></td>
					</tr>	
					<?php
				}
			}
		}
	}
	else 
	{
		?>
		<tr>
			<td class="g2" align="center" height="22" colspan="3">You have no e-materials for download.</td>
		</tr>	
		<?php
	}
	?>
	</table>
</div>