<div class="social-icons">
	<img src="<?php echo $BASE_M_URL; ?>/images/top-social-icons.jpg" width="193" height="36" border="0" usemap="#Map" />
	<map name="Map" id="Map">
		<area shape="rect" coords="1,0,35,35" href="https://twitter.com/mattmonarch" target="_blank" />
		<area shape="rect" coords="39,0,73,42" href="https://www.facebook.com/RawFoodWorld" target="_blank" />
		<area shape="rect" coords="77,0,112,58" href="https://plus.google.com/+Therawfoodworldinc/posts" target="_blank" />
		<area shape="rect" coords="117,0,152,53" href="http://www.youtube.com/user/TheRawFoodWorld" target="_blank" />
		<area shape="rect" coords="157,0,192,63" href="https://instagram.com/therawfoodworld/" target="_blank" />
	</map>
</div><!-- /social-icons -->

<span class="newsletter-btns">
	<div class="wrap">
	<form action="http://cloud.inboxair.com/send/form.php?form=5" method="post" id="frmSS5_2" onsubmit="return CheckForm5(this);">
		<label>Subscribe to our newsletter:</label>
		<input type="text" name="email" placeholder="Enter your email" autocomplete="off">	
		<button type="button" onclick="javascript:jQuery('#frmSS5_2').submit();">Subscribe</button>
	</form>	
	</div><!-- /wrap -->
</span><!-- /newsletter-btns -->
<script type="text/javascript">
// <![CDATA[
function CheckMultiple5(frm, name) {
    for (var i=0; i < frm.length; i++)
    {
        fldObj = frm.elements[i];
        fldId = fldObj.id;
        if (fldId) {
            var fieldnamecheck=fldObj.id.indexOf(name);
            if (fieldnamecheck != -1) {
                if (fldObj.checked) {
                    return true;
                }
            }
        }
    }
    return false;
}

function CheckForm5(f) {
    var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
    if (!email_re.test(f.email.value)) {
        alert("Please enter your email address.");
        f.email.focus();
        return false;
    }
    return true;
}
// ]]>
</script>

<div class="bottom">
	<span class="copy">Copyright &copy; <?php echo date('Y'); ?> <a href="<?php echo $BASE_M_URL; ?>/">The Raw Food World</a>.<br />
	Site Designed and Developed by <a href="http://www.efluent.com">eFluent.com</a></span>
	<a href="javascript:void(0)" onclick="window.scrollTo(0, 0);" class="top">Top</a>
</div><!-- /bottom -->
<a class="viewfullsite" href="<?php echo $BASE_M_URL; ?>/nomobile.phtml" title="View full site">View full site</a>

<meta name="google-site-verification" content="dxKwscEptV6av-HxI2aUn5yw9xxkD3aunjYjJFF-0cY">
<!-- Google Code for The Raw Food World Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1070734916;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "_qNmCK7DpQIQxLzI_gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="/js/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1070734916/?label=_qNmCK7DpQIQxLzI_gM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- Google Code for Product Specific List Remarketing List -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 969658972;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "7xZNCJyhowMQ3KSvzgM";
var google_conversion_value = 0;
/* ]]> */
</script>
<!--<script type="text/javascript" src="/js/conversion.js"></script>-->
<img src="/images/a_003.gif" alt="" border="0" height="1" width="1">
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/969658972/?label=7xZNCJyhowMQ3KSvzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for RTG List Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 969658972;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "GJP7COSOigMQ3KSvzgM";
var google_conversion_value = 0;
/* ]]> */
</script>
<!--<script type="text/javascript" src="/js/conversion.js"></script>-->
<img src="/images/a_002.gif" alt="" border="0" height="1" width="1">
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/969658972/?label=GJP7COSOigMQ3KSvzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54461561-4', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
var js = document.createElement('script'); js.type = 'text/javascript'; js.async = true; js.id = 'AddShoppers';
js.src = ('https:' == document.location.protocol ? 'https://shop.pe/widget/' : 'http://cdn.shop.pe/widget/') + 'widget_async.js#52fcf868a387643aa40b3c52';
document.getElementsByTagName("head")[0].appendChild(js);
</script>
</div>
</body>
</html>