<?php
// desktop redirect
if (isset($_COOKIE['nomobile']))
{
	$sc->redirectUrl($BASE_URL);
}

/*
// start - customer affiliate log
if(!is_object($cclass))
{
	REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
	$cclass = new customerClass();
	$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
	$cclass->db = $MYSQL_DATABASE;
}
// check for extra data send thru link
if (isset($_GET['utm_source'])) { $utm_source = $cclass->betterSanitizationInput(urldecode(trim($_GET['utm_source']))); }
if (isset($_GET['utm_medium'])) { $utm_medium = $cclass->betterSanitizationInput(urldecode(trim($_GET['utm_medium']))); }
if (isset($_GET['utm_campaign'])) { $utm_campaign = $cclass->betterSanitizationInput(urldecode(trim($_GET['utm_campaign']))); }
// log traffic and write cookie
$aff = (int) $aff;
$cclass->logAffTraffic($BASE_M_URL,$aff,$utm_source,$utm_medium,$utm_campaign);

if (isset($_GET['aff'])) 
{ 
	if (isset($_GET['aff_redirect']))
	{
		$aff_redirect = filter_var($cclass->sanitizeInput(urldecode($_GET['aff_redirect'])), FILTER_SANITIZE_URL);
		$sc->redirectUrl($aff_redirect); 
		exit;		
	}
	
	if (strpos($_SERVER["REQUEST_URI"], '?aff=') !== false)
	{
		$sc->redirectUrl(strtok($_SERVER["REQUEST_URI"],'?')); 
	}
	else 
	{
		$sc->redirectUrl(str_replace('&aff=' . $aff, '', $_SERVER["REQUEST_URI"])); 
	}	
}
// end - customer affiliate log
*/
?>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />  
<title><?php echo (empty($pagetitle)) ? 'The Raw Food World' : $pagetitle; ?></title>
<?php if ($og_description != ''): ?>
	<meta name="description" content="<?=$og_description?>">
<?php else: ?>
	<meta name="description" content="The Raw Food World :  - Misc Appliances Raw Foods Supplements Raw Beauty Raw Vegan Books/DVDs Herbs, Mushrooms etc. Exercise &amp; Detox Equipment Raw World Team Picks and FAQ 'At-Cost' Specials Virtual Catalog Kitchen Tools Cleanses Raw Lifestyle Accessories ecommerce, open source, shop, online shopping">
<?php endif; ?>
<meta name="DC.Format" content="text/html" /> 
<meta name="DC.Creator" content="Matt Monarch" />
<meta name="DC.Publisher" content="The Raw Food World" />
<meta name="DC.Contributor" content="" />
<meta name="DC.Date" content="2003-01-01" />
<meta name="DC.Type" content="" />
<meta name="DC.Relation" content="" />
<meta name="DC.Coverage" content="" />
<meta name="DC.Rights" content="Copyright 2013, The Raw Food World, All rights reserved." />
<meta name="DC.Language" content="EN" />

<meta name="DC.Title" xml:lang="EN" content="<?php echo (empty($pagetitle)) ? 'The Raw Food World' : $pagetitle; ?>" />
<meta name="DC.Description" xml:lang="EN" content="" />
<meta name="DC.Identifier" content="<?php echo (isset($prodinfo['id']) && !empty($prodinfo['id'])) ? $prodinfo['id'] : ''; ?>" /> 
<meta name="DC.Subject" content="<?php echo (isset($prodinfo['title']) && !empty($prodinfo['title'])) ? $prodinfo['title'] : 'The Raw Food World'; ?>" />    
<?php echo $additional_metatags; ?>
<link rel="stylesheet" type="text/css" href="<?php echo $BASE_M_URL; ?>/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/js/jquery-ui_1.10.4.js"></script>
<script src="/js/jquery.bxSlider.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo $BASE_M_URL; ?>/js/scripts_m.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('select#country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
        $('label[for="international_states"]').css('visibility', 'hidden');
			jQuery('input#international_states').css('display','none');
			jQuery('input#international_states').val('');	
			jQuery('select#usa_states').css('display','block');
		} else {
			jQuery('select#usa_states').css('display','none');
			jQuery('input#international_states').css('display','block');
            var international_states = jQuery('input#international_states').val();
			if(international_states =='')
			{
				$('label[for="international_states"]').css('visibility', 'visible');
			}
		}
	}).trigger('change');
	
	jQuery('select#ship2country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			jQuery('input#ship2international_states').css('display','none');
			jQuery('input#ship2international_states').val('');	
			jQuery('select#ship2usa_state').css('display','block');
		} else {
			jQuery('select#ship2usa_state').css('display','none');
			jQuery('input#ship2international_states').css('display','block');
		}
	}).trigger('change');
	
	jQuery('select#bill2country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			jQuery('input#bill2international_states').css('display','none');
			jQuery('input#bill2international_states').val('');	
			jQuery('select#bill2usa_state').css('display','block');
		} else {
			jQuery('select#bill2usa_state').css('display','none');
			jQuery('input#bill2international_states').css('display','block');
		}
	}).trigger('change');
});
</script>
<style>
    #featuredImg{max-width:130px;max-height:107px }
    .featuredImg{max-width:130px;max-height:107px }
</style>
<style>

.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
.my-error-class { 
   float:left;
   display:block;
   margin-left:129px;
}​
</style>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>