<?php $breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;New Products'); ?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>New Products</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
		<?php if (!empty($cat_desc)): ?>
			<p><?php echo $cat_desc; ?></p>
		<?php endif; ?>
    </div>

    <h4>Sort products</h4>
    <select id="disp-order-sorter" onchange="changeNewPSort()" name="disp_order" class="mb30px">
		<option <?if($sb == '1') echo ' selected="selected"';?> value="1">Product Name</option>
		<option <?if($sb == '2') echo ' selected="selected"';?> value="2">Product Name - desc</option>
		<option <?if($sb == '3') echo ' selected="selected"';?> value="3">Price - low to high</option>
		<option <?if($sb == '4') echo ' selected="selected"';?> value="4">Price - high to low</option>
		<option <?if($sb == '5') echo ' selected="selected"';?> value="5">Date Added - New to Old</option>
		<option <?if($sb == '6') echo ' selected="selected"';?> value="6">Date Added - Old to New</option>
	</select>

	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?> 
		<div class="display">Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> (of <strong><?=number_format($numproducts,0);?></strong> products)
		<?php if ($numpages > 1): ?>
		<span class="navigation">
		<?php $sc->doPagesNewProd($c, $mid, $numpages, $p, $lastpage, $nextpage, "/m/new_products.phtml?sb=" . $sb, $sb); ?>
		</span><!-- /navigation -->
		<?php endif; ?>
		</div><!-- /display -->
	<?php endif; ?>

	<ul id="list-products" class="minh200px clearfix">
	<?php
	if(count($plist['id'])>0 && is_array($plist['id'])) 
	{
		foreach($plist['id'] as $k => $v)
		{
			?>
			<li>
			<span class="left">
				<a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>">
				<img id="listingProductImage" title="<?=$plist['title'][$k]?>" alt="<?=$plist['title'][$k]?>" src="/getimage.phtml?id=<?=$v?>&itype=0&thumb=1">
				</a>			
			</span>
			<span class="right">
				<h4><a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>"><?=$plist['title'][$k]?></a></h4>
				<p><?php echo $plist['sdescr'][$k]; ?></p>
				<p>Weight: <?=$plist['shipweight'][$k]?>lbs</p>
				<p>Date Added: <?=date('l d F, Y',$plist['date_added'][$k])?></p>
				<h4 class="price clearfix">$<?=$plist['price'][$k]?></h4>
				<button class="add2cart-btn" onclick="window.open('<?php echo $BASE_M_URL; ?>/cart.phtml?id=<?php echo $v; ?>','_self');"><span>Add to cart</span></button>				
			</span>
			</li>
			<?
		}
	}
	else
	{
		?>
		<p><strong>There Are No Products To List In This Category.</strong></p>
		<?php
	}
	?>
	</ul><!-- /list-products -->
	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?> 
		<div class="display">Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> (of <strong><?=number_format($numproducts,0);?></strong> products)
		<?php if ($numpages > 1): ?>
		<span class="navigation">
		<?php $sc->doPagesNewProd($c, $mid, $numpages, $p, $lastpage, $nextpage, "/m/new_products.phtml?sb=" . $sb, $sb); ?>
		</span><!-- /navigation -->
		<?php endif; ?>
		</div><!-- /display -->
	<?php endif; ?>
</div>