<?php

    $paymentmethod =$_POST['payment'];
    $ordertotal  =$_POST['ordertotal'];
    $orderid = $_POST["orderid"];
    $phone = $_POST["phone"];
    $altphone = $_POST["altphone"];
    $emailaddr = $_POST["email"];
    $bill2name = addslashes($_POST["bill2name"]);
    $bill2name = explode(" ",$bill2name);
    $fname = $bill2name['0'];
    $lname = $bill2name['1'];
    $bill2street1 = addslashes($_POST["bill2street1"]);
    $bill2street2 = addslashes($_POST["bill2street2"]);
    $bill2city = addslashes($_POST["bill2city"]);
    $bill2state = addslashes($_POST["bill2state"]);
    $bill2zip = addslashes($_POST["bill2zip"]);
    $bill2country = addslashes($_POST["bill2country"]);
    $ship2name = addslashes($_POST["ship2name"]);
    $ship2name = explode(" ",$ship2name);
    $sfname = $ship2name['0'];
    $slname = $ship2name['1'];
    $ship2street1 = addslashes($_POST["ship2street1"]);
    $ship2street2 = addslashes($_POST["ship2street2"]);
    $ship2city = addslashes($_POST["ship2city"]);
    $ship2state = addslashes($_POST["ship2state"]);
    $ship2zip = addslashes($_POST["ship2zip"]);
    $ship2country = addslashes($_POST["ship2country"]);
  if ($paymentmethod=='authorizenet_aim' && $ordertotal > 0){
        ?>
       <B>Please wait while we process your order...  <img src="<?php echo $BASE_URL; ?>/images/processing.gif"></B><BR><BR>
    DO NOT HIT RELOAD OR BACK AS IT MAY DUPLICATE YOUR ORDER.<br /><br /> This page should automatically re-direct you to Authorize.Net for credit card payment. If it does not, you can click on the "Pay by Credit Card" button below.
   <?php 
session_start();
//seting session to avoid form resubmit on pagerefresh/backbutton hit 
$_SESSION['form_submit'] = 'Success';
$api_login_id = $efc->getConfigValue("Authorize.Net", "Login");
$transaction_key = $efc->getConfigValue("Authorize.Net", "TransactionKey");
        $api_login_id = $efc->getConfigValue("Authorize.Net", "Login");
		$transaction_key = $efc->getConfigValue("Authorize.Net", "TransactionKey");
		$fp_timestamp = time();
		$fp_sequence = $orderid;
		 $api_login_id="95JGfve2sn"; //<!--Sandbox id-->
$transaction_key="7t99489C5rC7mrZf"; // <!--Sandbox key-->    
		$fingerprint = AuthorizeNetSIM_Form::getFingerprint($api_login_id, $transaction_key, $ordertotal, $fp_sequence, $fp_timestamp);
        ?>
<!-- https://test.authorize.net/gateway/transact.dll --> <!--Sandbox URL-->
<!-- https://secure.authorize.net/gateway/transact.dll --> <!--Production URL-->
        <form method="post" name="payment" id="payment" action="https://test.authorize.net/gateway/transact.dll ">
          <input type='hidden' name="x_login" value="<?php echo $api_login_id; ?>" />
          <input type='hidden' name="x_fp_hash" value="<?php echo $fingerprint; ?>" />
          <input type='hidden' name="x_amount" value="<?php echo  $ordertotal; ?>" />
          <input type='hidden' name="x_fp_timestamp" value="<?php echo $fp_timestamp; ?>" />
          <input type='hidden' name="x_fp_sequence" value="<?php echo $fp_sequence; ?>" />
          <input type='hidden' name="x_invoice_num" value="<?php echo $orderid; ?>" />
          <input type='hidden' name="x_version" value="3.1" />
          <input type='hidden' name="x_show_form" value="payment_form" />
          <input type='hidden' name="x_test_request" value="falae" />
          <input type='hidden' name="x_method" value="cc" />
          <input type='hidden' name="x_relay_response" value="TRUE" />
          <input type='hidden' name="x_relay_always" value="false" />
          <input type='hidden' name="x_relay_url" value="<?php echo $BASE_URL; ?>/checkout/step1_payment.php" />
          <input type='hidden' name="x_description" value="RawFoodWorld Order# <?php echo $orderid; ?>" />
          <input type='hidden' name="x_first_name" value="<?php echo $fname; ?>" />
          <input type='hidden' name="x_last_name" value="<?php echo $lname; ?>" />
          <input type='hidden' name="x_address" value="<?php echo $bill2street1; ?>" />
          <input type='hidden' name="x_city" value="<?php echo $bill2city; ?>" />
          <input type='hidden' name="x_state" value="<?php echo $bill2state; ?>" />
          <input type='hidden' name="x_zip" value="<?php echo $bill2zip; ?>" />
          <input type='hidden' name="x_country" value="<?php echo $bill2country; ?>" />
          <input type='hidden' name="x_phone" value="<?php echo $phone; ?>" />
          <input type='hidden' name="x_ship_to_first_name" value="<?php echo $sfname; ?>" />
          <input type='hidden' name="x_ship_to_last_name" value="<?php echo $slname; ?>" />
          <input type='hidden' name="x_ship_to_address" value="<?php echo $ship2street1; ?>" />
          <input type='hidden' name="x_ship_to_city" value="<?php echo $ship2city; ?>" />
          <input type='hidden' name="x_ship_to_state" value="<?php echo $ship2state; ?>" />
          <input type='hidden' name="x_ship_to_zip" value="<?php echo $ship2zip; ?>" />
          <input type='hidden' name="x_ship_to_country" value="<?php echo $ship2country; ?>" />
          <input type='hidden' name="x_ship_to_phone" value="<?php echo $phone; ?>" /> 
          <input type="submit" name="Action" value="Pay by Credit Card">
        </form>
<?php
    }
  else if($paymentmethod=='paypalwpp' && $ordertotal > 0){
      ?>
 <B>Please wait while we process your order...  <img src="<?php echo $BASE_URL; ?>/images/processing.gif"></B><BR><BR>
    DO NOT HIT RELOAD OR BACK AS IT MAY DUPLICATE YOUR ORDER.<br /><br /> This page should automatically re-direct you to PayPal for  payment. 
<?php
     //seting session to avoid form resubmit on pagerefresh/backbutton hit 
            $_SESSION['form_submit'] = 'Success';
            $PAYPAL_API_USERNAME = $efc->getConfigValue("Paypal", "API_Username");
            $PAYPAL_API_PASSWORD = $efc->getConfigValue("Paypal", "API_Password");
            $PAYPAL_API_CERTIFICATE = $efc->getConfigValue("Paypal", "API_CERT"); 
            // sandbox account detail

       //   $PAYPAL_API_USERNAME = 'developer-facilitator_api1.smartminds.co';
          //  $PAYPAL_API_PASSWORD ='3SK3SN7C4BCQSN3U';
        // $PAYPAL_API_CERTIFICATE = 'AFcWxV21C7fd0v3bYYYRCpSSRl31As9aVMdG5dqgizmriWcT6Z8xQ2in'; 
            $PAYPAL_API_RETURNURL = $BASE_URL."/checkout/paypal/review.phtml";
	        $PAYPAL_API_CANCELURL = $BASE_URL."/customer/orders.phtml";

	        $environment = 'Live';  
  function PPHttpPost($methodName_, $nvpStr_) 
{
	global $environment;
	global $PAYPAL_API_USERNAME;
	global $PAYPAL_API_PASSWORD;
	
	$API_UserName = $PAYPAL_API_USERNAME;
	$API_Password = $PAYPAL_API_PASSWORD;
	
	$API_Signature = urlencode('my_api_signature');
// $API_Signature = urlencode('AFcWxV21C7fd0v3bYYYRCpSSRl31As9aVMdG5dqgizmriWcT6Z8xQ2in');

	$API_Endpoint = " https://api.paypal.com/nvp ";
	if("sandbox" === $environment || "sandbox" === $environment)
	 {
		$API_Endpoint = "https://api.$environment.paypal.com/nvp";
	}


	$version = urlencode('51.0');

	 $nvpreq = "METHOD=$methodName_&VERSION=$version&PWD=$API_Password&USER=$API_UserName".$nvpStr_;

	$h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
    fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
    fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
    fwrite($h, "paypal/default.phtml - function[send]: ".serialize($nvpreq)."\n");
    fclose($h);
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$cmd = "/usr/bin/curl -v -E /var/www/vhosts/alumni.d3vsource.com/httpdocs/pp/cert_key_pem.txt -d \"$nvpreq\" $API_Endpoint";
	//echo $cmd;
   
    //	exit;
	
	exec( $cmd, $returnArray ); //run curl with the data 
	$httpResponse = "";
	for($xx = 0; $xx < count($returnArray); $xx++) 
		$httpResponse .= $returnArray[$xx];
	//print_r($httpResponse);
//exit;

    
    $h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
    fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
    fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
    fwrite($h, "paypal/default.phtml - function[recv]: ".serialize($httpResponse)."\n");
    fclose($h);
	if($httpResponse == "") 
	{
		echo "CURL ERROR<BR>\n";
		exit;
	}
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// Extract the RefundTransaction response details
	$httpResponseAr = explode("&", $httpResponse);

	$httpParsedResponseAr = array();
	foreach ($httpResponseAr as $i => $value) {
		$tmpAr = explode("=", $value);
		if(sizeof($tmpAr) > 1) {
			$httpParsedResponseAr[$tmpAr[0]] = $tmpAr[1];
		}
	}

	if((0 == sizeof($httpParsedResponseAr)) || !array_key_exists('ACK', $httpParsedResponseAr)) 
	{
		exit("Invalid HTTP Response for POST request($nvpreq) to $API_Endpoint.");
	}

	return $httpParsedResponseAr;
}
    
            if($_SESSION["acctid"] == '' || !isset($_SESSION["acctid"])) {
                $_SESSION["acctid"] = $cclass->PaypalAccount();
            }
	  
	        $h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
            fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
            fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
            fwrite($h, "account : ".$_SESSION["acctid"]."\n");
            fclose($h);
    
	
	        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            $currencyID = urlencode('USD');							// or other currency code ('GBP', 'EUR', 'JPY', 'CAD', 'AUD')
$paymentType = urlencode('Authorization');				// or 'Sale' or 'Order'

$returnURL = $PAYPAL_API_RETURNURL;
$cancelURL = $PAYPAL_API_CANCELURL;
	    // Pay Later
$promoCode = urlencode('101');

$nvpStr = "&Amt=$ordertotal&ReturnUrl=$returnURL&CANCELURL=$cancelURL&PAYMENTACTION=$paymentType&CURRENCYCODE=$currencyID";
$nvpStr .= "&L_PROMOCODE0=$promoCode";
///echo  $nvpStr;
//exit;
$httpParsedResponseAr = PPHttpPost('SetExpressCheckout', $nvpStr,$API_UserName,$API_Password,$API_Signature);
//print_r($httpParsedResponseAr);
//exit;
$h = fopen("/tmp/flid/".$_SESSION["flid"].".txt","a+");
fwrite($h, "Session:". print_r($_SESSION,TRUE)."\n");
fwrite($h, "Server:". print_r($_SERVER,TRUE)."\n");
fwrite($h, "paypal/default.phtml: ".serialize($httpParsedResponseAr)."\n");
fclose($h);
if("SUCCESS" == strtoupper($httpParsedResponseAr["ACK"]) || "SUCCESSWITHWARNING" == strtoupper($httpParsedResponseAr["ACK"])) 
{
	// Redirect to paypal.com here
	$token = urldecode($httpParsedResponseAr["TOKEN"]);
	//print_r($token);
	//exit;
   $payPalURL = "https://www.paypal.com/webscr&cmd=_express-checkout&useraction=commit&token=$token";
	
	
	if("sandbox" === $environment || "sandbox" === $environment) {
		$payPalURL = "https://www.$environment.paypal.com/webscr&cmd=_express-checkout&token=$token";
	}

    //print_r($httpParsedResponseAr);
	echo "<script type='text/javascript'>window.top.location='".$payPalURL."';</script>"; exit;
} 
else  
{
	exit('SetExpressCheckout failed: ' . print_r($httpParsedResponseAr, true));
}
	        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
     
  }
else if ($paymentmethod=='moneyorder' && $ordertotal > 0){
       session_start();
//seting session to avoid form resubmit on pagerefresh/backbutton hit 
$_SESSION['form_submit'] = 'Success';
$_SESSION['ORDERID']=$orderid;
$_SESSION['paymentmethod']='moneyorder';
$placeorderurl =$BASE_URL."/checkout/complete_moneyorderpayment.php";
echo "<script type='text/javascript'>window.top.location='".$placeorderurl."';</script>"; exit;
   }
 else if($ordertotal == 0){
session_start();
//seting session to avoid form resubmit on pagerefresh/backbutton hit 
$_SESSION['form_submit'] = 'Success';
$_SESSION['placeorder']= 'Success';
$_SESSION['ORDERID']=$orderid;
$placeorderurl =$BASE_URL."/checkout/complete_creditpayment.php";
echo "<script type='text/javascript'>window.top.location='".$placeorderurl."';</script>"; exit;
 }
?>

