<?php $breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;Order Processing'); ?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Order Order Processing</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
    <?
$_SESSION['form_submit'] = 'Success';
$amount = $_SESSION["ORDERTOTAL"];
 $cartitem = $_SESSION["ICOUNT"];
 if ($amount == 0 && $cartitem > 0){
    ?>
    <script>
   var newURL=" <?=$BASE_M_URL?>/checkout/place_order.phtml";
window.location = newURL;
</script>
    <?
 }
else if ($amount > 0 && $cartitem > 0){
    ?>
<script language="JavaScript">
history.pushState(null, null, document.URL);
window.addEventListener('popstate', function () {
	history.pushState(null, null, document.URL);
});
</script>
	<p><strong>Please wait while we process your order...  <img src="/images/processing.gif"></strong></p>
	<p>DO NOT HIT RELOAD OR BACK AS IT MAY DUPLICATE YOUR ORDER</p>
	<p>This page should automatically re-direct you to Authorize.Net for credit card payment. If it does not, you can click on the "Pay by Credit Card" button below.</p>
	<?php
	$phone = $_SESSION["phone"];
	$altphone = $_SESSION["altphone"];
	$emailaddr = $_SESSION["email"];
			
	$fname = addslashes($_SESSION["fname"]);
	$lname = addslashes($_SESSION["lname"]);
			
	$bill2name = addslashes($_SESSION["bill2name"]);
	$bill2street1 = addslashes($_SESSION["bill2street1"]);
	$bill2street2 = addslashes($_SESSION["bill2street2"]);
	$bill2city = addslashes($_SESSION["bill2city"]);
	$bill2state = addslashes($_SESSION["bill2state"]);
	$bill2zip = addslashes($_SESSION["bill2zip"]);
	$bill2country = addslashes($_SESSION["bill2country"]);
	if ($_SESSION['warehousePickup']=='1')
	{
	$ship2name = 'The Raw Food World';
	$ship2street1 = '406 Bryant';
	$ship2street2 = 'Circle, Unit E';
	$ship2city = 'Ojai';
	$ship2state = 'CA';
	$ship2zip = '93023';
	$ship2country = 'US';
	}else
	{		
	$ship2name = addslashes($_SESSION["ship2name"]);
	$ship2street1 = addslashes($_SESSION["ship2street1"]);
	$ship2street2 = addslashes($_SESSION["ship2street2"]);
	$ship2city = addslashes($_SESSION["ship2city"]);
	$ship2state = addslashes($_SESSION["ship2state"]);
	$ship2zip = addslashes($_SESSION["ship2zip"]);
	$ship2country = addslashes($_SESSION["ship2country"]);
	}
	
	$api_login_id = $efc->getConfigValue("Authorize.Net", "Login");
	$transaction_key = $efc->getConfigValue("Authorize.Net", "TransactionKey");
	
/*	$query = "select total from customer_orders where invoiceid = '$orderid'";
	if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($amount) = mysql_fetch_array($qok);
    */
	// create temp orderid 
   $digits = 9;
if(isset($_SESSION['orderid']))
{
	$orderid = $_SESSION['orderid'];
	if($_SESSION['ORDERTOTAL'] != $_SESSION['total'])
	{
		$query = "DELETE FROM customer_orders_tmp
		          WHERE orderid = '".$orderid."'";
		mysql_query($query) or die(mysql_error());
		$query_or_l ="Delete from customer_order_lines where orderid = '$orderid'";
		mysql_query($query_or_l) or die(mysql_error());
		//$orderid = srand().mktime();
		$cclass->Save_TmpOrder("8000",$orderid);		 
	} 
} else {
	$orderid = srand().time();
	$_SESSION['orderid'] = $orderid;
	$cclass->Save_TmpOrder("8000",$orderid);	 
}

	$fp_timestamp = time();
	$fp_sequence = $orderid;
	  //$api_login_id="95JGfve2sn"; //<!--Sandbox id-->
//$transaction_key="7t99489C5rC7mrZf"; // <!--Sandbox key-->  
	$fingerprint = AuthorizeNetSIM_Form::getFingerprint($api_login_id, $transaction_key, 
	$amount, $fp_sequence, $fp_timestamp);
	?>
	<form method='post' name='payment' id='payment' action="https://secure.authorize.net/gateway/transact.dll">
	  <input type='hidden' name="x_login" value="<?php echo $api_login_id?>" />
	  <input type='hidden' name="x_fp_hash" value="<?php echo $fingerprint?>" />
	  <input type='hidden' name="x_amount" value="<?php echo $amount?>" />
	  <input type='hidden' name="x_fp_timestamp" value="<?php echo $fp_timestamp?>" />
	  <input type='hidden' name="x_fp_sequence" value="<?php echo $fp_sequence?>" />
	  <input type='hidden' name="x_invoice_num" value="<?php echo $orderid?>" />
	  <input type='hidden' name="x_version" value="3.1" />
	  <input type='hidden' name="x_show_form" value="payment_form" />
	  <input type='hidden' name="x_test_request" value="false" />
	  <input type='hidden' name="x_method" value="cc" />
	  <input type='hidden' name="x_relay_response" value="TRUE" />
	  <input type='hidden' name="x_relay_always" value="true" />
	   <input type='hidden' name="x_relay_url" value="https://www.therawfoodworld.com/checkout/complete.phtml" />
	  <input type='hidden' name="x_description" value="RawFoodWorld Order# <?=$orderid;?>" />
	 
	  <input type='hidden' name="x_first_name" value="<?=$fname;?>" />
	  <input type='hidden' name="x_last_name" value="<?=$lname;?>" />
	   <input type='hidden' name="x_address" value="<?=$bill2street1;?>" />
	  <input type='hidden' name="x_city" value="<?=$bill2city;?>" />
	  <input type='hidden' name="x_state" value="<?=$bill2state;?>" />
	  <input type='hidden' name="x_zip" value="<?=$bill2zip;?>" />
	  <input type='hidden' name="x_country" value="<?=$bill2country;?>" />
	  <input type='hidden' name="x_phone" value="<?=$phone;?>" />
	
	  <input type='hidden' name="x_ship_to_first_name" value="<?=$fname;?>" />
	  <input type='hidden' name="x_ship_to_last_name" value="<?=$lname;?>" />
	   <input type='hidden' name="x_ship_to_address" value="<?=$ship2street1;?>" />
	  <input type='hidden' name="x_ship_to_city" value="<?=$ship2city;?>" />
	  <input type='hidden' name="x_ship_to_state" value="<?=$ship2state;?>" />
	  <input type='hidden' name="x_ship_to_zip" value="<?=$ship2zip;?>" />
	  <input type='hidden' name="x_ship_to_country" value="<?=$ship2country;?>" />
	  <input type='hidden' name="x_ship_to_phone" value="<?=$phone;?>" />
	    
	   <input type="submit" name="Action" value="Pay by Credit Card">
	</form>
	    <?} else{?>
    <font color="#ff0000" size="3"><b>Unfortunately, your order was declined. The reason for the decline was:invalid checkout amount </b></font>
    </br></br>
    <a href="<?php echo $BASE_URL; ?>/checkout/checkout_payment.phtml" class="floatLeft">
        	<input type="button" value="BACK TO SHOPPING CART" style="height: 25px;" title="BACK TO Shopping Cart"/>
    	</a>
<?
                                                                                                                                                    }
                                                                                                                                                    /*
	    $query = "select orderid from customer_orders where invoiceid = '$orderid'";
	    if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	    list($xx_orderid) = mysql_fetch_array($qok);
	    
	    $qa = "SELECT distinct(customer_orders.orderid) FROM customer_orders,customer_order_lines WHERE customer_orders.orderid='$xx_orderid' AND customer_orders.acctid='".$_SESSION["acctid"]."' AND customer_orders.orderid=customer_order_lines.orderid AND (customer_order_lines.prodid='1008779' OR customer_order_lines.prodid='1008777' OR customer_order_lines.prodid='1008776' OR customer_order_lines.prodid='1008778' OR customer_order_lines.prodid='1008780')";
	    if(!$qok = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	    $nrrows1 = mysql_num_rows($qok);
	    
	    $q_order_lines = "SELECT DISTINCT col.prodid,col.descr, co.acctid
	                                        FROM customer_order_lines col
	                                        JOIN customer_orders co ON co.orderid = col.orderid
	                                        JOIN product_category_map pcm ON pcm.pid = col.prodid
	                                        WHERE pcm.catid IN (100160,100539,100191)
	                                        AND col.orderid = '$xx_orderid'";
	      if(!$qok_order_lines = mysql_db_query($DB, $q_order_lines, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
	      
	              
	    $nrrows2 = mysql_num_rows($qok_order_lines);
	    
	    if ($nrrows1 > 0 || $nrrows2>0)
	    {
	        ?>
	        <h3>Download E-Materials</h3>
			<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" class="cartContentsDisplay mb30px">
			<tr>
				<td colspan="9">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="9">&nbsp;</td>
			</tr>
			<tr bgcolor="#eeeeee">
				<td align="center"><strong>OrderID</strong></td>
				<td align="left"><strong>Product</strong></td>
				<td align="center">&nbsp;</td>
			</tr>
	        <?php
	            while (list($pid,$descr,$acctidtmp) = mysql_fetch_array($qok_order_lines))
	            {
	              
	                $q_invoiceid = "SELECT invoiceid 
	                				FROM customer_orders 
	                				WHERE orderid = '$xx_orderid' 
	                				LIMIT 1";
	                if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	                list($invoiceid) = mysql_fetch_array($qok_invoiceid);
	                ?>
	                <tr>
						<td align="center"><a href="/customer/vieworder.phtml?id=<?php echo $xx_orderid; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
						<td align="left"><strong><?php echo $descr; ?></strong></td>
						<td align="center"><a href="/download_ematerial.phtml?id=<?php echo $prodid; ?>" target="_blank" class="title">Download</a></td>
	                </tr>	
	                <?php
	            }
	
	            while (list($xx_orderid2) = mysql_fetch_array($qok))
	            {
	                $qaa = "SELECT customer_order_lines.prodid,descr FROM customer_order_lines where customer_order_lines.orderid='$xx_orderid2' AND (customer_order_lines.prodid='1008779' OR customer_order_lines.prodid='1008777' OR customer_order_lines.prodid='1008776' OR customer_order_lines.prodid='1008778' OR customer_order_lines.prodid='1008780')";
	                if(!$qoka = mysql_db_query($DB, $qaa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	                if (mysql_num_rows($qoka) > 0)
	                {
	                    $q_invoiceid = "SELECT invoiceid 
	                    				FROM customer_orders 
	                    				WHERE orderid = '$xx_orderid2' 
	                    				LIMIT 1";
						if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
						list($invoiceid) = mysql_fetch_array($qok_invoiceid);
	                    while (list($prodid,$descr) = mysql_fetch_array($qoka))
	                    {
	                        ?>
	                        <tr>
								<td align="center" height="22"><a href="/customer/vieworder.phtml?id=<?php echo $xx_orderid2; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
								<td align="left"><b><?php echo $descr; ?></b></td>
								<td align="center"><a href="/download_ematerial.phtml?id=<?php echo $prodid; ?>" target="_blank" class="title">Download</a></td>
	                        </tr>	
	                        <?php
	                    }
	                }
	            }
	        ?>
			</table>
	       
<?php } */ ?>
</div>