<?php
$breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;');
$catname = '';
for($xx = count($catTree['catid']) - 1; $xx >= 0; $xx--)
{
	$link = $sc->createProductsNewUrl($catTree['catname'][$xx],$catTree['catid'][$xx]);
	if ($xx > 0) 
	{
		$breadcrumbs_arr[] = '<a href="' . $link . '">' . $catTree['catname'][$xx] . '</a>&nbsp;::&nbsp;';
	}
	else 
	{
		$breadcrumbs_arr[] = $catTree['catname'][$xx];
		$catname = $catTree['catname'][$xx];
	}
}

// new at-cost update
$q_atcost = "SELECT COUNT(id), discount_type, blowout2_first, blowout2_second, blowout2_third, stock_qty, stock_qty_available   
			 FROM list_products_atcost 
			 WHERE pid = '$id' 
			 LIMIT 1";
if(!$qok_atcost = mysql_db_query($DB, $q_atcost, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($atcost_cnt, $atcost_discount_type, $atcost_blowout2_first, $atcost_blowout2_second, $atcost_blowout2_third, $atcost_stock_qty, $atcost_qty_available) = mysql_fetch_array($qok_atcost);
?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1><?php echo $catname; ?></h1>
        <p itemprop="breadcrumb"><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
	</div><!-- /contents -->
	
	<div itemscope itemtype="http://schema.org/Product">	
	<?php
	// new at-cost update
	if ($atcost_cnt > 0)
	{
		if ($atcost_stock_qty > 0 && $atcost_qty_available > 0)
		{
			$qty_available = $sc->getItemQtyAvailable($id);
			if ($qty_available > 0 && $atcost_qty_available > $qty_available)
			{
				?>
				<p class="prodinfo_blowout"><strike><?php echo $atcost_stock_qty; ?></strike> <?php echo $atcost_qty_available; ?> remaining at this price</p>
				<?php
			}
		}	        			
	}
	else 
	{
		// Show Blowout status (CFID 45)
		$q_blowout = "SELECT COUNT(id)
					  FROM custom_values
					  WHERE cfid = '45'
					  AND pid = '$id'
					  AND text_short = '1'
					  LIMIT 1";
		if(!$qok_blowout = mysql_db_query($DB, $q_blowout, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($count_blowout) = mysql_fetch_array($qok_blowout);
		if ($count_blowout > 0) 
		{
			// Blowout Qty (CFID 46)
			$q_blowout_lmt = "SELECT COUNT(id), text_short
							  FROM custom_values
							  WHERE cfid = '46'
							  AND pid = '$id'
							  LIMIT 1";
		    if(!$qok_blowout_lmt = mysql_db_query($DB, $q_blowout_lmt, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($count_blowout_lmt,$blowout_limit) = mysql_fetch_array($qok_blowout_lmt);
			if ($count_blowout_lmt > 0)
			{	
				$qty_available = $sc->getItemQtyAvailable($id);
				if ($qty_available > 0 && $blowout_limit > 0 && $blowout_limit > $qty_available)
				{
					?>
					<p class="prodinfo_blowout"><strike><?php echo $blowout_limit; ?></strike> <?php echo $qty_available; ?> remaining at this price</p>
					<?php
				}
			}	
		}
	}
	?>
	<?php
	if (!$sc->showStockBol($id) || $id=='1008145' || $id=='1008149') 
	{
		$query = "SELECT text_short
				  FROM custom_values
				  WHERE cfid = '42'
				  AND pid = '$id'
				  LIMIT 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list ($count_cfid42) = mysql_fetch_array($qok);
		?>
		<p><strong>Back Order: This product will be in stock on <?=$count_cfid42?></strong></p>
		<?php
	}
	?>
	<div class="prod-img">
		<?php
		// new at-cost update
		if ($atcost_cnt > 0)
		{}
    	elseif (!empty($_SESSION["acctid"])) 
    	{ 
			if ($_SESSION['levelid'] == 1 || $_SESSION['levelid'] == 2)
			{
				// check for cfid 40
				$query = "SELECT COUNT(pid) AS count, text_short
						  FROM custom_values
						  WHERE cfid = '40'
						  AND pid = '$id'
						  LIMIT 1";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list ($count_cfid40, $discount_percent) = mysql_fetch_array($qok);
				if ($count_cfid40 > 0 && $discount_percent > 0)
				{
					$query_pl4 = "SELECT price_level4
								  FROM product_prices
								  WHERE id = '$id'
								  LIMIT 1";
					if(!$qok_pl4 = mysql_db_query($DB, $query_pl4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl4) = mysql_fetch_array($qok_pl4);
					$pl4 = sprintf('%.2f',$pl4); 
					if ($pl4 > 0)
					{
						$deep_discount = $pl4;
					}
				}
			}
			
			if ($_SESSION['levelid'] == 3)
			{
				$query_pl5 = "SELECT price_level5
							  FROM product_prices
							  WHERE id = '$id'
							  LIMIT 1";
				if(!$qok_pl5 = mysql_db_query($DB, $query_pl5, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($pl5) = mysql_fetch_array($qok_pl5);
				$pl5 = sprintf('%.2f',$pl5); 
				if ($pl5 > 0)
				{
					$resseler_discount = $pl5;
				}
			}
			
			if ($_SESSION['levelid'] == 4)
			{
				$query_pl6 = "SELECT price_level6
							  FROM product_prices
							  WHERE id = '$id'
							  LIMIT 1";
				if(!$qok_pl6 = mysql_db_query($DB, $query_pl6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($pl6) = mysql_fetch_array($qok_pl6);
				$pl5 = sprintf('%.2f',$pl5); 
				if ($pl6 > 0)
				{
					$resseler_discount = $pl6;
				}
			}
		}
		        	
		// new at-cost update
		if ($atcost_cnt > 0)
		{
			if (in_array($atcost_discount_type,array('atcost','blowout2')))
			{
			    echo '<img src="/images/rfw_onsale_watermark150x150.png" class="onsale_badge" />';
			}				
		}
		else 
		{
			$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
			$query_onsale = "SELECT COUNT(id) AS count
							 FROM custom_values
							 WHERE cfid = '$cfid'
							 AND pid = '$id'
							 AND text_short > 0
							 LIMIT 1";
			if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($count_onsale) = mysql_fetch_array($qok_onsale);
			if ($count_onsale > 0)
			{
				$query_pl2 = "SELECT price_level7
							  FROM product_prices
							  WHERE id = '$id'
							  LIMIT 1";
				if(!$qok_pl2 = mysql_db_query($DB, $query_pl2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($pl2) = mysql_fetch_array($qok_pl2);
				$pl2 = sprintf('%.2f',$pl2); 
				if ($pl2 > 0)
				{
					$onsale_price = $pl2;
					$query_pl21 = "SELECT lid FROM list_products WHERE pid='$id' AND lid=85";
					if(!$qok_pl21 = mysql_db_query($DB, $query_pl21, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok_pl21)==0) {
					    echo '<img src="/images/rfw_onsale_watermark150x150.png" class="onsale_badge" id="onsale_badge" />';
					}
				}
			}
		}
		?>
		<img class="cursor-pointer" itemprop="image" src="/getimage.phtml?id=<?=$id?>&itype=0&thumb=1" onclick="javascript:window.open('/getimage.phtml?id=<?=$id?>&itype=0&thumb=0', '_blank')" width="100" height="100" />
	</div><!-- /prod-img -->
	<h2 class="prod-title" itemprop="name"><?php echo $prodinfo['title']; ?></h2>
	<?php
	$q = "SELECT text_short 
		  FROM custom_values 
		  WHERE cfid = '52' 
		  AND pid = '$id'
		  LIMIT 1";
	$qok = mysql_db_query($DB, $q, $mysqlid);
	list($show_related) = mysql_fetch_array($qok);
	if ($show_related === '1') 
	{
		?>
		<p><strong>Also available:</strong><br />
		<?php foreach ($relatedItems as  $k=>$v): ?>
		<a href="<?php echo $sc->createProductNewUrl($v['id'],$v['title']); ?>" class="related_items"><?php echo $v['title_short']; ?></a><br />
		<?php endforeach; ?>
		</p>
	<?php
	}
	
	// new at-cost update
	if ($atcost_cnt > 0)
	{
		?>
		<script type="text/javascript">
		$(document).ready(function(){
			$('#atcost_qty').change(function() {	
				if ($(this).val() == 'more') {
		        	$('#atcost_qty').replaceWith('<input type="text" name="atcost_qty" id="atcost_qty" maxlength="2" value="">').focus();
				    $('#atcost_qty').on('change keyup',function(){
						updateAtCostPrice();
				    });
				} else {
					updateAtCostPrice();
				}
			});	
			
			$('#atcost_qty').on('change keyup',function(){
				updateAtCostPrice();
			});
			
			function updateAtCostPrice() {
				var atcost_qty = parseInt($('#atcost_qty').val());
				if (Math.floor(atcost_qty) == atcost_qty && atcost_qty > 0) {			
				} else {
					atcost_qty = 1;
				}		
				
				$.get("<?php echo $BASE_URL; ?>/ajax_atcost_price_calc.phtml?pid=<?php echo (int) $id; ?>&qty=" + atcost_qty + "&get_atcost_price", function(response_data) {
					if (response_data == 'no_price_to_return') {
						$('.prce').html('$ --.--');
					} else {
						var atcost_total = parseFloat(atcost_qty * response_data).toFixed(2);
						$('.prce').html('$' + atcost_total);
					}
				});			
			}
			
			$('.add2cartbulkbtn').each(function(){
				$(this).click(function(){
					var pid = $(this).attr('id');
					var atcost_qty = parseInt($('#atcost_qty').val());
					if (Math.floor(atcost_qty) == atcost_qty && atcost_qty > 0) {			
					} else {
						atcost_qty = 1;
					}
					
					// check for shipping location
					$.get('/ajax_functions.phtml',{ action: "check_ship_loc", 'pid': pid }, function(response){
						if (response == 'yes') {
							window.location = "<?php echo $BASE_M_URL; ?>/cart.phtml?id=" + pid + "&qty=" + atcost_qty;
						} else if (response == 'no') {
							$('.error_' + pid).html('We\'re sorry, this item cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.').show();					
						} else {
							window.location = "<?php echo $BASE_M_URL; ?>/cart.phtml?id=" + pid + "&qty=" + atcost_qty;
						}
					});
				});
			});	
			
			$('.show_bulk_popup').click(function() {
		        $('.bulk_popup_mask').show();
		        $('.atcost_popup').show();
		    });	
		    
			$('.hide_bulk_popup').click(function() {
		        $('.bulk_popup_mask').hide();
		        $('.atcost_popup').hide();
		    });	
		});
		</script> 
		<?php			
	}
	else 
	{	
		?>
		<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#bulk_qty').change(function() {	
				if (jQuery(this).val() == 'more') {
		        	jQuery('#bulk_qty').replaceWith('<input type="text" name="bulk_qty" id="bulk_qty" maxlength="2" value="">').focus();
				    jQuery('#bulk_qty').on('change keyup',function(){
						updateBulkPrice();
				    });
				} else {
					updateBulkPrice();
				}
			});	
			
			function updateBulkPrice() {
				var bulk_qty = parseInt(jQuery('#bulk_qty').val());
				if (Math.floor(bulk_qty) == bulk_qty && bulk_qty > 0) {			
				} else {
					bulk_qty = 1;
				}		
				
				jQuery.get("<?php echo $BASE_M_URL; ?>/ajax_bulk_price_calc.phtml?pid=<?php echo (int) $id; ?>&qty=" + bulk_qty, function(response_data) {
					if (response_data == 'no_price_to_return') {
						jQuery('.prce').html('$ --.--');
					} else {
						var bulk_total = parseFloat(bulk_qty * response_data).toFixed(2);
						jQuery('.prce').html('$' + bulk_total);
					}
				});			
			}
			
			jQuery('.add2cartbulkbtn').each(function(){
				jQuery(this).click(function(){
					var pid = jQuery(this).attr('id');
					var bulk_qty = parseInt(jQuery('#bulk_qty').val());
					if (Math.floor(bulk_qty) == bulk_qty && bulk_qty > 0) {			
					} else {
						bulk_qty = 1;
					}
					
					// check for shipping location
					jQuery.get('/ajax_functions.phtml',{ action: "check_ship_loc", 'pid': pid }, function(response){
						if (response == 'yes') {
							window.location = "<?php echo $BASE_M_URL; ?>/cart.phtml?id=" + pid + "&qty=" + bulk_qty + "&bulk_qty=" + bulk_qty;
						} else if (response == 'no') {
							jQuery('.error_' + pid).html('We\'re sorry, this item cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.').show();					
						} else {
							window.location = "<?php echo $BASE_M_URL; ?>/cart.phtml?id=" + pid + "&qty=" + bulk_qty + "&bulk_qty=" + bulk_qty;
						}
					});
				});
			});	
		});
		</script>        
	
		<?php
		// bulk options availalbe
		$tb = $sc->getBulkTable($id);
		if ($sc->showStockBol($id) && $id != '1008145' && $id != '1008149')
		{}
		else
		{
		    $tb = '';
		}
	}
	
	// new at-cost update
	if ($atcost_cnt > 0)
	{
		if (in_array($atcost_discount_type,array('atcost','blowout2')))
		{
			?>
		    <div class="bulk_box">
				<div class="orderNowMsg">Order now, we'll ship <b>tomorrow</b></div>
				<span class="radiobtn">
				<ul>
				    <?php
				    $default_atcost_price = 0;
				    $atcost_prices_arr = array();
					if ($atcost_discount_type == 'atcost')
					{
						$atcost_price = sprintf('%.2f', $prodinfo['price'] * ((100 - 30) / 100));
						$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 2, 'price' => $price);
						$default_atcost_price += $atcost_price;
						?>
						<li><strong class="dark">1 - 2 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
					    <?php
	
					    $atcost_price = sprintf('%.2f', $prodinfo['price'] * ((100 - 37) / 100));
						$atcost_prices_arr[] = array('qty_min' => 3, 'qty_max' => 999, 'price' => $price);
						?>
						<li><strong class="dark">3 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
					    <?php
					}
					elseif ($atcost_discount_type == 'blowout2')
					{
						if ($atcost_blowout2_second == '0.00' && $atcost_blowout2_third == '0.00')
						{
							$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 999, 'price' => $price);
							$default_atcost_price += $atcost_price;
							?>
							<li><strong class="dark">1 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
						    <?php
						}
						elseif ($atcost_blowout2_third == '0.00')
						{
							$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 2, 'price' => $price);
							$default_atcost_price += $atcost_price;
							?>
							<li><strong class="dark">1 - 2 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
	
							$atcost_price = sprintf('%.2f', $atcost_blowout2_second);
							$atcost_prices_arr[] = array('qty_min' => 3, 'qty_max' => 999, 'price' => $price);
							?>
							<li><strong class="dark">3 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
						    <?php
						}
						else 
						{
							$atcost_price = sprintf('%.2f', $atcost_blowout2_first);
							$atcost_prices_arr[] = array('qty_min' => 1, 'qty_max' => 2, 'price' => $price);
							$default_atcost_price += $atcost_price;
							?>
							<li><strong class="dark">1 - 2 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
	
							$atcost_price = sprintf('%.2f', $atcost_blowout2_second);
							$atcost_prices_arr[] = array('qty_min' => 3, 'qty_max' => 11, 'price' => $price);
							?>
							<li><strong class="dark">3 - 11 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
	
							$atcost_price = sprintf('%.2f', $atcost_blowout2_third);
							$atcost_prices_arr[] = array('qty_min' => 12, 'qty_max' => 999, 'price' => $price);
							?>
							<li><strong class="dark">12 - 999 units</strong> - <strong class="green">$<?php echo number_format($atcost_price, 2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $atcost_price); ?> / unit</i></li>
							<?php
						}
					}				
				?>				
				</ul>
				</span>
			    <span class="btns">
					<select name="atcost_qty" id="atcost_qty" class="bulkQtyDrop">
					    <option value="1">1</option>
					    <option value="2">2</option>
					    <option value="3">3</option>
					    <option value="4">4</option>
					    <option value="5">5</option>
					    <option value="6">6</option>
					    <option value="7">7</option>
					    <option value="8">8</option>
					    <option value="9">9</option>
					    <option value="more">more..</option>
					</select>				
					<button id="<?php echo $id; ?>" class="add2cartbulkbtn">Add to cart</button>
					<p class="prce" itemprop="price">$<?php echo $default_atcost_price; ?></p>			
			    </span>
	    	</div><!-- /bulk_box -->
   			<br class="clearfix" />
	    <?php
		}
		else 
		{
			// 55% off
			$atcost_price = sprintf('%.2f', $prodinfo['price'] * ((100 - 55) / 100));
			?>
			<h4 class="price" itemprop="price">
				<span class="old_price">$ <?php echo $prodinfo['price']; ?></span> $ <?php echo $atcost_price; ?><br/>
				<span class="productPriceDiscount">Save: $<?php echo number_format($prodinfo['price'] - $atcost_price,2); ?> off</span>
			</h4>
			<div class="prod-add2cart">
				<input type="text" maxlength="6" value="1" class="cart_quantity" name="cart_quantity">
				<?php if ($sc->showStockBol($id) && $id != '1008145' && $id != '1008149') { ?>
					<button id="<?=$id?>" class="ship4add2cartbtn"><span>Add to cart</span></button>
				<?php
				}
				else
				{
					if ($_SESSION["acctid"] != "")
					{
						$query = "SELECT id 
								  FROM product_notify 
								  WHERE pid = '".trim(strip_tags($id))."' 
								  AND accid='".trim(strip_tags($_SESSION["acctid"]))."'
								  LIMIT 1";
						if (!$qok = mysql_db_query($DB, $query, $mysqlid)) { echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit(); }
						if (mysql_num_rows($qok) == 0)
						{
							?>
							<button onclick="addToNotify('<?=$id?>','prodInfo')"><span>Notify me</span></button>
							<?php
						}
					}
					else
					{
						?>
						<button onclick="document.location='<?php echo $BASE_M_URL; ?>/customer'"><span>Notify me</span></button>
						<?php
					}
				}
				?>
				<div class="prodinfo_error_ship error_<?=$id?>">&nbsp;</div>
			</div><!-- /prod-add2cart -->
			<br class="clearfix" />
			<?php
		}
	}	
	elseif(($tb != '') && ($bulk_count > 0))
	{
	    $q_bulk_options = "SELECT bulk_qty_min, bulk_qty_max, bulk_price, bulk_unit
					       FROM $tb
					       WHERE pid = '$id'
					       ORDER BY bulk_qty_min ASC";
	    if(!$qok_bulk_options = mysql_db_query($DB, $q_bulk_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
	    if (mysql_num_rows($qok_bulk_options) > 0)
	    {
		    ?>
		    <div class="bulk_box">
				<div class="orderNowMsg">Order now, we'll ship <b>tomorrow</b></div>
				<span class="radiobtn">
				<ul>
					<?php
					$cnt = 0;
					$default_bulk_price = 0;
					$bulk_options_arr = array();
					while (list($bulk_qty_min, $bulk_qty_max, $bulk_price, $bulk_unit) = mysql_fetch_array($qok_bulk_options)) 
					{
						if ($cnt == 0) { $default_bulk_price += $bulk_price; }
						?>
						<li><strong class="dark"><?php echo $bulk_qty_min; ?> - <?php echo $bulk_qty_max; ?> <?php echo $bulk_unit . 's'; ?></strong> - <strong class="green">$<?php echo number_format($bulk_price,2); ?></strong><br /><i>$<?php echo sprintf('%.2f', $bulk_price); ?> / <?php echo $bulk_unit; ?></i></li>
						<?php
						$bulk_options_arr[] = array('bulk_qty_min' => $bulk_qty_min, 'bulk_qty_max' => $bulk_qty_max, 'bulk_price' => $bulk_price, 'bulk_unit' => $bulk_unit);
						++$cnt;
					}
					?>
				</ul>
				</span>
			    <span class="btns">
					<select name="bulk_qty" id="bulk_qty" class="bulkQtyDrop">
					    <option value="1">1</option>
					    <option value="2">2</option>
					    <option value="3">3</option>
					    <option value="4">4</option>
					    <option value="5">5</option>
					    <option value="6">6</option>
					    <option value="7">7</option>
					    <option value="8">8</option>
					    <option value="9">9</option>
					    <option value="more">more..</option>
					</select>				
					<button id="<?php echo $id; ?>" class="add2cartbulkbtn">Add to cart</button>
					<p class="prce" itemprop="price">$<?php echo $default_bulk_price; ?></p>			
			    </span>
	    	</div><!-- /bulk_box -->
   			<br class="clearfix" />
	    <?php
	    }
	}
	else 
	{
		?>
		<h4 class="price" itemprop="price">
		<?php
		if ($deep_discount && $onsale_price && $onsale_price < $deep_discount)
		{
			echo '<span class="old_price">$' . $prodinfo['price'] . '</span> $' . $onsale_price;
		} 
		elseif ($deep_discount && $onsale_price && $deep_discount < $onsale_price)
		{
			echo '<span class="old_price">$' . $prodinfo['price'] . '</span> $' . $deep_discount . ' (Deep Discounts Price)';
		}					
		elseif ($deep_discount)
		{
			echo '<span class="old_price">$' . $prodinfo['price'] . '</span> $' . $deep_discount . ' (Deep Discounts Price)';
		}
		elseif ($resseler_discount)
		{
			echo '<span class="old_price">$' . $prodinfo['price'] . '</span> $' . $resseler_discount;
		}
		elseif ($onsale_price)
		{
			echo '<span class="old_price">$' . $prodinfo['price'].'</span> $' . $onsale_price . '</strong><br/>';
			echo '<span class="productPriceDiscount">Save: $' . number_format($prodinfo['price'][$k] - $onsale_price,2) . ' off</span>';
		}
		elseif ($prodinfo['msrp']!= '' && $prodinfo['msrp']>0) 
		{
			echo '<span class="old_price">$ ' .  $prodinfo['msrp'] . '</span> $ ' . $prodinfo['price'] . '<br/>';
			echo '<span class="productPriceDiscount">Save: $' . number_format($prodinfo['msrp'] - $prodinfo['price'],2) . ' off</span>';
		}
		else
		{
			echo '$' . $prodinfo['price'];
		}
		?>
		</h4>
		<div class="prod-add2cart">
			<input type="text" maxlength="6" value="1" class="cart_quantity" name="cart_quantity">
			<?php if ($sc->showStockBol($id) && $id != '1008145' && $id != '1008149') { ?>
				<button id="<?=$id?>" class="ship4add2cartbtn"><span>Add to cart</span></button>
			<?php
			}
			else
			{
				if ($_SESSION["acctid"] != "")
				{
					$query = "SELECT id 
							  FROM product_notify 
							  WHERE pid = '".trim(strip_tags($id))."' 
							  AND accid='".trim(strip_tags($_SESSION["acctid"]))."'
							  LIMIT 1";
					if (!$qok = mysql_db_query($DB, $query, $mysqlid)) { echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit(); }
					if (mysql_num_rows($qok) == 0)
					{
						?>
						<button onclick="addToNotify('<?=$id?>','prodInfo')"><span>Notify me</span></button>
						<?php
					}
				}
				else
				{
					?>
					<button onclick="document.location='<?php echo $BASE_M_URL; ?>/customer'"><span>Notify me</span></button>
					<?php
				}
			}
			?>
			<div class="prodinfo_error_ship error_<?=$id?>">&nbsp;</div>
		</div><!-- /prod-add2cart -->
		<br class="clearfix" />
		<?php
	}
	?>
	<div class="prod-desc" itemprop="description">
		<?php
		// California Attorney General
		$cag_cfid = $efc->getConfigValue("General Settings", "CFCaliforniaAttorneyGeneral");
		$q_cag = "SELECT COUNT(id)
				  FROM custom_values
				  WHERE cfid = '$cag_cfid'
				  AND pid = '$id'
				  AND text_short = '1'
				  LIMIT 1";
	    if(!$qok_cag = mysql_db_query($DB, $q_cag, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
		list($count_cag) = mysql_fetch_array($qok_cag);
		if ($count_cag > 0) 
		{
	        $ip_addr = $iclass->getClientIpAddr();
	        if (!empty($ip_addr))
	        {
	        	if ($iclass->checkIfCalifornia($ip_addr) > 0)
	        	{
					$cag_cftxtid = $efc->getConfigValue("General Settings", "CFTxtCaliforniaAttorneyGeneral");
					$q_cag2 = "SELECT COUNT(id), text_short
							   FROM custom_values
							   WHERE cfid = '$cag_cftxtid'
							   AND pid = '$id'
							   LIMIT 1";
				    if(!$qok_cag2 = mysql_db_query($DB, $q_cag2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
					list($count_cag2, $caattgen_text) = mysql_fetch_array($qok_cag2);
					if ($count_cag2 > 0) 
					{
	        			echo '<div id="caattgen">' . $caattgen_text . '</div>';
					}
	        	}
	        }
		}
		
		echo $sales_desc;
		echo $sc->getProdAttachments($id);
		?>
	</div><!-- /prod-desc -->
	
	<p><strong><i>These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease.</i></strong></p>
	</div><!-- /itemscope -->
</div>