<?php $breadcrumbs_arr = array('<a href="' . $BASE_M_URL . '/">Home</a>&nbsp;::&nbsp;Search'); ?>
<div class="container">
	<div class="search">
		<form action="<?php echo $BASE_M_URL; ?>/search.phtml" method="get">
			<input type="search" name="kw" maxlength="30" value="<?php echo trim($kw); ?>" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off">
			<input type="image" src="<?php echo $BASE_M_URL; ?>/images/search-submit-btn.jpg" alt="Search" title="Search">
		</form>
	</div><!-- /search -->
	<div class="contents">
    	<h1>Advanced Search</h1>
        <p><?php foreach ($breadcrumbs_arr AS $k => $v): ?>
	        <?php echo $v; ?>
        <?php endforeach; ?></p>
		<?php if (!empty($cat_desc)): ?>
			<p><?php echo $cat_desc; ?></p>
		<?php endif; ?>
    </div>
	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?> 
		<div class="display">Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> (of <strong><?=number_format($numproducts,0);?></strong> products)
		<?php if ($numpages > 1): ?>
		<span class="navigation">
		<?php $sc->doPagesSearch($c, $mid, $kw, $numpages, $p, $lastpage, $nextpage, "/m/search.phtml?kw=" . trim(strip_tags($kw)), $sb); ?>
		</span><!-- /navigation -->
		<?php endif; ?>
		</div><!-- /display -->
	<?php endif; ?>
	<ul id="list-products" class="clearfix">
    <?php
	if (count($plist['id']) > 0 && is_array($plist['id'])) 
	{
		// California Attorney General
		$cag_cfid = $efc->getConfigValue("General Settings", "CFCaliforniaAttorneyGeneral");
		$cag_cftxtid = $efc->getConfigValue("General Settings", "CFTxtCaliforniaAttorneyGeneral");
		
		foreach($plist['id'] as $k => $v) 
        {
    		// new at-cost update
			$q_atcost = "SELECT COUNT(id), discount_type, blowout2_first, blowout2_second, blowout2_third, stock_qty, stock_qty_available  
						 FROM list_products_atcost 
						 WHERE pid = '$v' 
						 LIMIT 1";
			if(!$qok_atcost = mysql_db_query($DB, $q_atcost, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($atcost_cnt, $atcost_discount_type, $atcost_blowout2_first, $atcost_blowout2_second, $atcost_blowout2_third, $atcost_stock_qty, $atcost_qty_available) = mysql_fetch_array($qok_atcost);
        	
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
        	elseif (!empty($_SESSION["acctid"])) 
        	{ 
        		if ($_SESSION['levelid'] == 1 || $_SESSION['levelid'] == 2)
        		{
        			// check for cfid 40
        			$query = "SELECT COUNT(pid) AS count, text_short
        					  FROM custom_values
        					  WHERE cfid = '40'
        					  AND pid = '$v'
        					  LIMIT 1";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list ($count_cfid40, $discount_percent) = mysql_fetch_array($qok);
        			if ($count_cfid40 > 0 && $discount_percent > 0)
        			{
						$query_pl4 = "SELECT price_level4
									  FROM product_prices
									  WHERE id = '$v'
									  LIMIT 1";
						if(!$qok_pl4 = mysql_db_query($DB, $query_pl4, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pl4) = mysql_fetch_array($qok_pl4);
						$pl4 = sprintf('%.2f',$pl4); 
						if ($pl4 > 0)
						{
	        				$deep_discount = $pl4;
						}
        			}
	        	}
	        	
	        	if ($_SESSION['levelid'] == 3)
	        	{
					$query_pl5 = "SELECT price_level5
								  FROM product_prices
								  WHERE id = '$v'
								  LIMIT 1";
					if(!$qok_pl5 = mysql_db_query($DB, $query_pl5, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl5) = mysql_fetch_array($qok_pl5);
					$pl5 = sprintf('%.2f',$pl5); 
					if ($pl5 > 0)
					{
						$resseler_discount = $pl5;
					}
	        	}
	        	
	        	if ($_SESSION['levelid'] == 4)
	        	{
					$query_pl6 = "SELECT price_level6
								  FROM product_prices
								  WHERE id = '$v'
								  LIMIT 1";
					if(!$qok_pl6 = mysql_db_query($DB, $query_pl6, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($pl6) = mysql_fetch_array($qok_pl6);
					$pl6 = sprintf('%.2f',$pl6); 
					if ($pl6 > 0)
					{
						$resseler_discount = $pl6;
					}
	        	}
        	}
        	?>
			<li>
			<span class="left">
	        	<?php
        		// new at-cost update
				if ($atcost_cnt > 0)
        		{
	    			if (in_array($atcost_discount_type,array('atcost','blowout2')))
	    			{
					    echo '<img src="/images/rfw_onsale_watermark100x100.png" class="onsale_badge" />';
	    			}				
        		}
				else 
				{
		        	$cfid = $efc->getConfigValue('eFluent Settings', 'ON_SALE_PERCENT');
		        	$query_onsale = "SELECT COUNT(id) AS count
		        					 FROM custom_values
		        					 WHERE cfid = '$cfid'
		        					 AND pid = '$v'
		        					 AND text_short > 0
		        					 LIMIT 1";
					if(!$qok_onsale = mysql_db_query($DB, $query_onsale, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($count_onsale) = mysql_fetch_array($qok_onsale);
					if ($count_onsale > 0)
					{
						$query_pl2 = "SELECT price_level7
									  FROM product_prices
									  WHERE id = '$v'
									  LIMIT 1";
						if(!$qok_pl2 = mysql_db_query($DB, $query_pl2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pl2) = mysql_fetch_array($qok_pl2);
						$pl2 = sprintf('%.2f',$pl2); 
						if ($pl2 > 0)
						{
							$onsale_price = $pl2;
							$query_pl21 = "SELECT lid FROM list_products WHERE pid='$v' AND lid=85";
							if(!$qok_pl21 = mysql_db_query($DB, $query_pl21, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							if(mysql_num_rows($qok_pl21)==0) {								
							    echo '<img src="/images/rfw_onsale_watermark100x100.png" class="onsale_badge" id="onsale_badge" />';
							}
						}
					}
				}
				?>
				<a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>">
				<img id="listingProductImage" title="<?=$plist['title'][$k]?>" alt="<?=$plist['title'][$k]?>" src="/getimage.phtml?id=<?=$v?>&itype=0&thumb=1">
				</a>			
			</span>
			<span class="right">
				<?php 
        		// new at-cost update
				if ($atcost_cnt > 0)
        		{
					if ($atcost_stock_qty > 0 && $atcost_qty_available > 0)
					{
						$qty_available = $sc->getItemQtyAvailable($v);
						if ($qty_available > 0 && $atcost_qty_available > $qty_available)
						{
							?>
							<p class="prodinfo_blowout"><strike><?php echo $atcost_stock_qty; ?></strike> <?php echo $atcost_qty_available; ?> remaining at this price</p>
							<?php
						}
					}	        			
        		}
				else 
				{
					// Show Blowout status (CFID 45)
					$q_blowout = "SELECT COUNT(id)
								  FROM custom_values
								  WHERE cfid = '45'
								  AND pid = '$v'
								  AND text_short = '1'
								  LIMIT 1";
				    if(!$qok_blowout = mysql_db_query($DB, $q_blowout, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($count_blowout) = mysql_fetch_array($qok_blowout);
					if ($count_blowout > 0) 
					{
						// Blowout Qty (CFID 46)
						$q_blowout_lmt = "SELECT COUNT(id), text_short
										  FROM custom_values
										  WHERE cfid = '46'
										  AND pid = '$v'
										  LIMIT 1";
					    if(!$qok_blowout_lmt = mysql_db_query($DB, $q_blowout_lmt, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($count_blowout_lmt,$blowout_limit) = mysql_fetch_array($qok_blowout_lmt);
						if ($count_blowout_lmt > 0)
						{	
							$qty_available = $sc->getItemQtyAvailable($v);
							if ($qty_available > 0 && $blowout_limit > 0 && $blowout_limit > $qty_available)
							{
								?>
								<p class="prodinfo_blowout"><strike><?php echo $blowout_limit; ?></strike> <?php echo $qty_available; ?> remaining at this price</p>
								<?php
							}
						}	
					}
				}
	        	?>        	
				<h4><a href="<?=$sc->createProductNewUrl($v,$plist['title'][$k])?>"><?=$plist['title'][$k]?></a></h4>
		
				<?php                    
				// California Attorney General
				$q_cag = "SELECT COUNT(id)
						  FROM custom_values
						  WHERE cfid = '$cag_cfid'
						  AND pid = '$v'
						  AND text_short = '1'
						  LIMIT 1";
			    if(!$qok_cag = mysql_db_query($DB, $q_cag, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
				list($count_cag) = mysql_fetch_array($qok_cag);
				if ($count_cag > 0) 
				{
			        $ip_addr = $iclass->getClientIpAddr();
			        if (!empty($ip_addr))
			        {
			        	if ($iclass->checkIfCalifornia($ip_addr) > 0)
			        	{
							$q_cag2 = "SELECT COUNT(id), text_short
									   FROM custom_values
									   WHERE cfid = '$cag_cftxtid'
									   AND pid = '$v'
									   LIMIT 1";
						    if(!$qok_cag2 = mysql_db_query($DB, $q_cag2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
							list($count_cag2, $caattgen_text) = mysql_fetch_array($qok_cag2);
							if ($count_cag2 > 0) 
							{
			        			echo '<div id="caattgen">' . $caattgen_text . '</div>';
							}
			        	}
			        }
				}
		        ?>  				
				
				<p><?php echo $plist['sdescr'][$k]; ?></p>
				<?php
        		// new at-cost update
				if ($atcost_cnt > 0)
        		{
        			if (in_array($atcost_discount_type,array('atcost','blowout2')))
        			{
					    echo '<a href="'.$sc->createProductNewUrl($v,$plist['title'][$k]).'" style="color:#0000FF;font-size:14px;display:block;margin:10px 0 0 0;text-decoration:none" title="For At-Cost Discounts, Click Here">For At-Cost Discounts, Click Here</a>';
        			}
        		}
				else 
				{
					$tb = $sc->getBulkTable($v);
					if($tb != '') {
					    $q_bulk_options = "SELECT COUNT(id)
									       FROM $tb
									       WHERE pid = '$v'
									       ORDER BY bulk_qty_min ASC";
					    if(!$qok_bulk_options = mysql_db_query($DB, $q_bulk_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
					    list($count_bulk_options) = mysql_fetch_array($qok_bulk_options);
					    if ($count_bulk_options > 0)
					    {
						    echo '<a href="'.$sc->createProductNewUrl($v,$plist['title'][$k]).'" style="color:#0000FF;font-size:14px;display:block;margin:10px 0 0 0;text-decoration:none" title="For Bulk Discounts, Click Here">For Bulk Discounts, Click Here</a>';
					    }
					}
				}
				?>
				<h4 class="price clearfix">				
				<?php
        		// new at-cost update
				if ($atcost_cnt > 0)
        		{
					if ($atcost_discount_type == 'atcost')
					{
						// 30% off
						$price = sprintf('%.2f', $plist['price'][$k] * ((100 - 30) / 100));
					}
					elseif ($atcost_discount_type == 'blowout1')
					{
						// 55% off
						$price = sprintf('%.2f', $plist['price'][$k] * ((100 - 55) / 100));
					}
					elseif ($atcost_discount_type == 'blowout2')
					{
						if ($atcost_blowout2_second == '0.00' && $atcost_blowout2_third == '0.00')
						{
							$price = sprintf('%.2f', $atcost_blowout2_first);
						}
						elseif ($atcost_blowout2_third == '0.00')
						{
							$price = sprintf('%.2f', $atcost_blowout2_first);
						}
						else 
						{
							$price = sprintf('%.2f', $atcost_blowout2_first);
						}
					}
                    echo '<span class="old_price">$' . $plist['price'][$k] . '</span> $' . $price . '</span><br/>';
					echo '<span class="productPriceDiscount">Save: $' . number_format($plist['price'][$k] - $price,2) . ' off</span>';
					$plist['price'][$k] = $price;
        		}
				elseif ($deep_discount && $onsale_price && $onsale_price < $deep_discount)
				{
                	echo '<span class="old_price">$' . $plist['price'][$k] . '</span> $' . $onsale_price;
				} 
				elseif ($deep_discount && $onsale_price && $deep_discount < $onsale_price)
				{
                	echo '<span class="old_price">$' . $plist['price'][$k].'</span> $' . $deep_discount;
				}
				elseif ($deep_discount)
				{
                	echo '<span class="old_price">$' . $plist['price'][$k].'</span> $' . $deep_discount;
				}
				elseif ($resseler_discount)
				{
                	echo '<span class="old_price">$' . $plist['price'][$k].'</span> $' . $resseler_discount;
				}
				elseif ($onsale_price)
				{
                	echo '<span class="old_price">$' . $plist['price'][$k].'</span> $' . $onsale_price . '<br />';
					echo '<span class="productPriceDiscount">Save: $' . number_format($plist['price'][$k] - $onsale_price, 2) . ' off</span>';
				}
                elseif ($plist['price_map'][$k]!= '' && $plist['price_map'][$k]>0) 
                {
                    echo '<span class="old_price">$' . $plist['price_map'][$k] . '</span> $' . $plist['price'][$k] . '</span><br/>';
					echo '<span class="productPriceDiscount">Save: $' . number_format($plist['price_map'][$k] - $plist['price'][$k], 2) . ' off</span>';
                }
                else
                {
                	echo '$' . $plist['price'][$k];
                }
				unset($onsale_price);
				unset($deep_discount);
				unset($resseler_discount);				

                if (!$sc->showStockBol($v) && $v!='1008145' && $v!='1008149')
				{
			     	$query = "SELECT text_short
			     			  FROM custom_values
			     			  WHERE cfid = '42'
			     			  AND pid = '$v'
			     			  LIMIT 1";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list ($count_cfid42) = mysql_fetch_array($qok);
		     	?>
	            <span style="font-size:10px; line-height:10px; align:left;">On backorder until <?=$count_cfid42?></span>
    	        <?php
				}				
				?>
				</h4>				
				<?php
        		// new at-cost update
				if ($atcost_cnt > 0)
        		{
        			if (in_array($atcost_discount_type,array('atcost','blowout2')))
        			{
	        			?>
	        			<p><a href="javascript:void(0);" id="<?=$v?>" class="show_atcost_popup" title="At-Cost pricing chart">Bulk pricing chart</a></p>
	        			<?php
        			}
        			?>
        			<button class="add2cart-btn" onclick="window.open('<?php echo $BASE_M_URL; ?>/cart.phtml?id=<?php echo $v; ?>','_self');"><span>Add to cart</span></button>				
					<?php		        			
        		}				
				elseif($sc->showStockBol($v) && $v!='1008145' && $v!='1008149')
				{
					if ($tb != '' && $count_bulk_options > 0) { ?>
						<p><a href="javascript:void(0);" id="<?=$v?>" class="show_bulk_popup" title="Bulk discounts">Bulk pricing chart</a></p>
						<button class="add2cart-btn" onclick="window.open('<?php echo $BASE_M_URL; ?>/cart.phtml?id=<?php echo $v; ?>','_self');"><span>Add to cart</span></button>				
					<?php } else { ?>
						<button class="add2cart-btn" onclick="window.open('<?php echo $BASE_M_URL; ?>/cart.phtml?id=<?php echo $v; ?>','_self');"><span>Add to cart</span></button>				
					<?php 
					}
				}
				else 
				{
					if($_SESSION["acctid"] != "")
					{
						$query = "SELECT id 
								  FROM product_notify 
								  WHERE pid = '".trim(strip_tags($v))."' 
								  AND accid = '".trim(strip_tags($_SESSION["acctid"]))."'
								  LIMIT 1";
						if (!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query";exit();	}
						if (mysql_num_rows($qok) == 0) { ?>
							<a href="javascript:void(0)" onclick="addToNotify('<?=$v?>','prods')" class="pListAdd">
								<img src="/images/button_notify.gif" alt="" title="" style="margin-left: 5px" id="notBtn_<?=$v?>" />
							</a>
						<?php } else { ?>
							<div class="prodListOutOfStock">Out of Stock</div>
						<?php } ?>
					<?php } else { ?>
					<a href="javascript:void(0)" onclick="document.location='/customer'" class="pListAdd">
					<img src="/images/button_notify.gif" alt="" title="" style="margin-left: 5px" id="notBtn" />
					</a>
					<?php
					}
				}
				?>				
			</span>
			</li>
			<?php
    		// new at-cost update
			if ($atcost_cnt > 0)
    		{}
			else 
			{
				// unset($count_bulk);
				unset($count_bulk_options);
			}            
		}
	}
	else 
	{
		?>
		<p>There Are No Products To List For Your Search, Try Other Keywords.</p>
		<?php
	}
	?>
	</ul><!-- /list-products -->
	<?php if (count($plist['id']) > 0 && is_array($plist['id'])): ?> 
		<div class="display">Displaying <strong><?echo (($p-1) * $ipp_results)+1;?></strong> to <strong><?if($numproducts < ($p * $ipp_results)) echo $numproducts; else echo ($p*$ipp_results);?></strong> (of <strong><?=number_format($numproducts,0);?></strong> products)
		<?php if ($numpages > 1): ?>
		<span class="navigation">
		<?php $sc->doPagesSearch($c, $mid, $kw, $numpages, $p, $lastpage, $nextpage, "/m/search.phtml?kw=" . trim(strip_tags($kw)), $sb); ?>
		</span><!-- /navigation -->
		<?php endif; ?>
		</div><!-- /display -->
	<?php endif; ?>
	<div class="bulk_popup_mask">&nbsp;</div>
	<div class="bulk_popup">&nbsp;</a></div>
	<div class="atcost_popup">&nbsp;</a></div>
</div>