<div class="navBreadCrumb">
<?php if(intval($approved) == 1) { ?>  
    <a href="<?php echo $BASE_M_URL; ?>/" target="_parent">Home</a>&nbsp;::&nbsp;Order Placed
<?php } else { ?>    
    <a href="<?php echo $BASE_M_URL; ?>/" target="_parent">Home</a>&nbsp;::&nbsp;Order Declined
<?php } ?>
</div>
<div class="centerColSep"></div>
<div class="checkoutShipping">
<?php if(intval($approved) == 1) { ?>
	 Congratulations you have just placed an order at www.therawfoodworld.com <BR><BR>
    <B>Your order number is:&nbsp;&nbsp;<?=$x_invoice_num;?></B> <BR><BR>
    
    You should receive a confirmation email shortly and tracking information via email once your order ships.<BR><BR>
	If you need to contact us for any reason regarding your order, please email support@therawfoodworld.com or call 866-729-3438 and be sure to include your <B>order number (<?=$x_invoice_num;?>)</B>
    <BR><BR>Thank you for shopping at www.therawfoodworld.com <BR><BR>
    
<!--    <table width=100%>
    <tr>
		<td>
			<br><br><b><big>Click Below for a Free $10 - $16 Gift Card!:</big></b><br><br>
			<a href="http://news.therawfoodworld.com/get-a-10-gift-card-for-free/" target="_blank"><img src="/images/gcar.jpg" border=0></a>
		</td>
	</tr>
	<tr>
		<td class="g2"><a href="http://news.therawfoodworld.com/get-a-10-gift-card-for-free/" target="_blank">On your next order get a free $10 - $16 gift card for free!  You automoatically get $10 for free and for every social media platform you share this offer to, you get $1 more added to your gift card, up to $16 total</a></td>
    </tr>	
    </table>
    <BR><BR>-->    
<?php
    $query = "select orderid from customer_orders where invoiceid = '$orderid'";
    if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    list($xx_orderid) = mysql_fetch_array($qok);
    
    $qa = "SELECT distinct(customer_orders.orderid) FROM customer_orders,customer_order_lines WHERE customer_orders.orderid='$xx_orderid' AND customer_orders.acctid='$acctid' AND customer_orders.orderid=customer_order_lines.orderid AND (customer_order_lines.prodid='1008779' OR customer_order_lines.prodid='1008777' OR customer_order_lines.prodid='1008776' OR customer_order_lines.prodid='1008778' OR customer_order_lines.prodid='1008780')";
    if(!$qok = mysql_db_query($DB, $qa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
    $nrrows1 = mysql_num_rows($qok);
    
    $q_order_lines = "SELECT DISTINCT col.prodid,col.descr, co.acctid
                                        FROM customer_order_lines col
                                        JOIN customer_orders co ON co.orderid = col.orderid
                                        JOIN product_category_map pcm ON pcm.pid = col.prodid
                                        WHERE pcm.catid IN (100160,100539,100191)
                                        AND col.orderid = '$orderid'";
      if(!$qok_order_lines = mysql_db_query($DB, $q_order_lines, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
      
              
    $nrrows2 = mysql_num_rows($qok_order_lines);
    
    if ($nrrows1 > 0 || $nrrows2>0)
    {
        ?>
        <h1 class="accountDefaultHeading">Download E-Materials</h1>
	<TABLE width=95% CELLPADDING=0 CELLSPACING=0 border=0 bgcolor="#ffffff">
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">&nbsp;</td>
	</tr>
	<tr bgcolor="#eeeeee">
		<td class="g3" align=center height=22><B>OrderID</B></td>
		<td class="g3" align=left><B>Product</B></td>
		<td class="g3" align=center><B>&nbsp;</B></td>
	</tr>
    
    
        <?
            while (list($pid,$descr,$acctidtmp) = mysql_fetch_array($qok_order_lines))
            {
              
                $q_invoiceid = "SELECT invoiceid 
								FROM customer_orders 
								WHERE orderid = '$orderid'
								LIMIT 1";
                if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
                list($invoiceid) = mysql_fetch_array($qok_invoiceid);

                ?>
                <tr>
                        <td class="g2" align="center" height="22"><a href="/customer/vieworder.phtml?id=<?php echo $orderid; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
                        <td class="g2" align="left"><b><?php echo $descr; ?></b></td>
                        <td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $pid; ?>" target="_blank" class="title">Download</a></td>
                </tr>	
                <?php
            }
            ?>
        <?
            while (list($xx_orderid2) = mysql_fetch_array($qok))
            {
                $qaa = "SELECT customer_order_lines.prodid,descr FROM customer_order_lines where customer_order_lines.orderid='$xx_orderid2' AND (customer_order_lines.prodid='1008779' OR customer_order_lines.prodid='1008777' OR customer_order_lines.prodid='1008776' OR customer_order_lines.prodid='1008778' OR customer_order_lines.prodid='1008780')";
                if(!$qoka = mysql_db_query($DB, $qaa, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
                if (mysql_num_rows($qoka) > 0)
                {
                    $q_invoiceid = "SELECT invoiceid 
							FROM customer_orders 
							WHERE orderid = '$xx_orderid2'
							LIMIT 1";
			if(!$qok_invoiceid = mysql_db_query($DB, $q_invoiceid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
			list($invoiceid) = mysql_fetch_array($qok_invoiceid);
                    
                        while (list($prodid,$descr) = mysql_fetch_array($qoka))
                        {
                            ?>
                            <tr>
                                    <td class="g2" align="center" height="22"><a href="/customer/vieworder.phtml?id=<?php echo $xx_orderid2; ?>&iid=<?php echo $invoiceid; ?>" target="_blank" class="title"><?php echo $invoiceid; ?></a></td>
                                    <td class="g2" align="left"><b><?php echo $descr; ?></b></td>
                                    <td class="g2" align="center"><a href="/download_ematerial.phtml?id=<?php echo $prodid; ?>" target="_blank" class="title">Download</a></td>
                            </tr>	
                            <?php
                        }
                }
            }
            ?>
        </table>
		<?php
            } // if
    	
	} else {
		$api_login_id = $efc->getConfigValue("Authorize.Net", "Login");
		$transaction_key = $efc->getConfigValue("Authorize.Net", "TransactionKey");

		$fp_timestamp = time();
		$fp_sequence = $orderid;
		     
		$fingerprint = AuthorizeNetSIM_Form::getFingerprint($api_login_id, $transaction_key, $x_amount, $fp_sequence, $fp_timestamp);
		?>
		<font color="#ff0000" size="3"><B>Unfortunately, your order was declined. The reason for the decline was: <?php echo $approvalcode; ?></B></font>
		<br /><br />
        <a href="<?php echo $BASE_M_URL; ?>/checkout/checkout_payment.phtml" class="floatLeft">
        	<img height="25" width="110" title="GO TO CHECKOUT" alt="GO TO CHECKOUT" src="<?php echo $BASE_URL; ?>/images/button_checkout.gif">
    	</a>    
        <br /><br /><br /><br />
<!--
<form method='post' name='payment' id='payment' action="https://secure.authorize.net/gateway/transact.dll">
		  <input type='hidden' name="x_login" value="<?php echo $api_login_id; ?>" />
		  <input type='hidden' name="x_fp_hash" value="<?php echo $fingerprint; ?>" />
		  <input type='hidden' name="x_amount" value="<?php echo $x_amount; ?>" />
		  <input type='hidden' name="x_fp_timestamp" value="<?php echo $fp_timestamp; ?>" />
		  <input type='hidden' name="x_fp_sequence" value="<?php echo $fp_sequence; ?>" />
		  <input type='hidden' name="x_invoice_num" value="<?php echo $x_invoice_num; ?>" />
		  <input type='hidden' name="x_version" value="3.1" />
		  <input type='hidden' name="x_show_form" value="payment_form" />
		  <input type='hidden' name="x_test_request" value="false" />
		  <input type='hidden' name="x_method" value="cc" />
		  <input type='hidden' name="x_relay_response" value="TRUE" />
		  <input type='hidden' name="x_relay_always" value="false" />
		  
		  <input type='hidden' name="x_description" value="RawFoodWorld Order# <?=$x_invoice_num;?>" />
		 
		  <input type='hidden' name="x_first_name" value="<?=$x_first_name;?>" />
		  <input type='hidden' name="x_last_name" value="<?=$x_last_name;?>" />
		   <input type='hidden' name="x_address" value="<?=$x_address;?>" />
		  <input type='hidden' name="x_city" value="<?=$x_city;?>" />
		  <input type='hidden' name="x_state" value="<?=$x_state;?>" />
		  <input type='hidden' name="x_zip" value="<?=$x_zip;?>" />
		  <input type='hidden' name="x_country" value="<?=$x_country;?>" />
		  <input type='hidden' name="x_phone" value="<?=$x_phone;?>" />

		  <input type='hidden' name="x_ship_to_first_name" value="<?=$x_ship_to_first_name;?>" />
		  <input type='hidden' name="x_ship_to_last_name" value="<?=$x_ship_to_last_name;?>" />
		   <input type='hidden' name="x_ship_to_address" value="<?=$x_ship_to_address;?>" />
		  <input type='hidden' name="x_ship_to_city" value="<?=$x_ship_to_city;?>" />
		  <input type='hidden' name="x_ship_to_state" value="<?=$x_ship_to_state;?>" />
		  <input type='hidden' name="x_ship_to_zip" value="<?=$x_ship_to_zip;?>" />
		  <input type='hidden' name="x_ship_to_country" value="<?=$x_ship_to_country;?>" />
		  <input type='hidden' name="x_ship_to_phone" value="<?=$x_ship_to_phone;?>" />
		  
		  <input type="submit" name="Action" value="Click here to try again" style="display:none;">
		</form>
		<BR><BR> -->
        <!--<a href="<?php //echo $BASE_URL; ?>/checkout/paypal/default.phtml">
        <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif" id="ODpaypalbtn" border="0"></a> -->
	<?php } // else ?>
</div>