<?
$ROOT_DIR = "/home/httpd/e-fluent.com";
REQUIRE($ROOT_DIR."/include/mysql.phtml");
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Big Brudda</title>
<link rel="stylesheet" href="report.css" type="text/css" />
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script language="javascript" type="text/javascript">
var win=null;
function NewWindow(mypage,myname,w,h,scroll,pos){
	if(pos=="random"){LeftPosition=(screen.width)?Math.floor(Math.random()*(screen.width-w)):100;TopPosition=(screen.height)?Math.floor(Math.random()*((screen.height-h)-75)):100;}
	if(pos=="center"){LeftPosition=(screen.width)?(screen.width-w)/2:100;TopPosition=(screen.height)?(screen.height-h)/2:100;}
	else if((pos!="center" && pos!="random") || pos==null){LeftPosition=0;TopPosition=20}
	settings='width='+w+',height='+h+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
	win=window.open(mypage,myname,settings);}
</script>
<script>
function popUp(URL) {
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=1,statusbar=1,menubar=1,resizable=1,width=1680,height=1050,left = 0,top = 0');");
}
function popUp2(URL) {
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=310,height=230,left = 725,top = 410');");
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
a.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
</STYLE>
</head>
<body bgcolor=white>

<?
$sdate = `date`;
str_replace("\r","",str_replace("\n","",$sdate));

$query = "select client from bigbrother";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($client) = mysql_fetch_array($qok)) { 	$clients[] = $client;  }

$main_client = $clients[0];

if($_GET['x'] !="") { $main_client = base64_decode($_GET['x']); }

?>

<div id="admin">
	<div id="tabs">
		<ul>
		<li><a href="" id="selected"><font size=1><?=$main_client;?></font></a>  </li>
<? 
foreach($clients as $client)
{
	if($client !="$main_client")
{?>
	<li><a href="?x=<?=base64_encode($client);?>" id="default"><font size=1><?=$client;?></font></a></li>
<?}}?>
	</ul>
	</div>
	<div id="main">
		<div id='submenu'>
		<? if($main_client == "valuenetpc") { echo $sdate; } else echo  $sdate; ?>
		</div>
		<div style="padding-left:5px;padding-top:10px">
<?
$query = "select misc from bigbrother where client = '$main_client'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($data) = mysql_fetch_array($qok);

$adata = explode("\t",$data);

//print_r($adata);
//foreach($adata as $key => $string) { echo $key."\n"; }
//echo "<hr>";

//echo $data;

?>

<table border="0">
<td align="center">
      <table border="0">
      <td align="center">
<?=$adata[0];?>
      </td>
      </table>
</td>
<td align="center">
      <table border="0">
      <td align="center">
<?=$adata[1];?>
      </td>
      </table>
</td>
<td align="center">
      <table border="0">
      <td align="center">
<?=$adata[4];?>
      </td>
      </table>
</td>
</table>


<table border="0">
<td align="center">
      <table border="1">
      <td align="center">
<?=$adata[2];?>
      </td>
      </table>
</td>
<td align="center">
      <table border="1">
      <td align="center">
<?=$adata[3];?>
      </td>
      </table>
</td>
<!--<td align="center">
      <table border="4">
      <td align="center">

      </td>
      </table>
</td> -->
</table>



</div>
</div>
</body>
</html>