<?
class gridItemHTML {
    public $efc = null;
    public $DB = null;
    public $mysqlid = null;
    public $skulist = null;
    public $pid = null;
    public $product = null;
    public $item_lookup = null;
   

    function setConfigVars() {
        $this->oversizeID = $this->efc->getConfigValue("AmazonGrid", "OverSize");
        $this->aprice = $this->efc->getConfigValue("AmazonGrid", "Price");
        $this->fprice = $this->efc->getConfigValue("AmazonGrid", "FBA");
        $this->ALT_SKU_PARENTID = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENTID");
        $this->ALT_SKU_PARENT = $this->efc->getConfigValue("eFluent Settings", "ALT_SKU_PARENT");
    }
    /**
     * 
     */
    public function getReportHeader() {
        ?>
            <table width="100%">
                <tr>
                    <td>
                        <span style="font-size:14px">
                            <?=$this->product['manname'];?> - <?=$this->product['descr'];?> [<?=$this->product['manpart'];?>] 
                            <?if($this->product['refurb'] == 1) echo "<I>Refurb</I>";?>
                            <?if($this->product['kit'] == 1) echo " - <font color='#ff0000'>KIT</font>";?>
                        </span>
                    </td>
                    <td align="left">
                        <?
                        $resultline = "";
//                        $query = "select text_short FROM custom_values WHERE pid = '".$this->pid."' and cfid='$this->ALT_SKU_PARENT'";
//                        if(!$q4ok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//                        if (mysql_num_rows($q4ok)>0) {
//                                list($is_parent) = mysql_fetch_array($q4ok);
//                                if ($is_parent == '1') {
//                                        $q = "select sum(product_prices.onhold) as onhold, sum(product_prices.committed) as committed FROM product_prices,custom_values WHERE custom_values.text_short = '".$this->product['parentid']."' and custom_values.cfid='$this->ALT_SKU_PARENTID' and custom_values.pid=product_prices.id";
//                                        if(!$qx = mysql_db_query($this->DB, $q, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//                                        list($alt_onhold,$alt_committed) = mysql_fetch_array($qx);
//                                        $resultline .= ($alt_onhold+$this->product['onhold']) . ",".($alt_committed+$this->product['committed']).",".($this->product['instock'] - ($alt_onhold+$this->product['onhold'])-($alt_committed+$this->product['committed']));
//                                }
//                                else {
//                                        $resultline .= "";
//                                }
//                        }
//                        else {
//                                $resultline .= "";
//                        }
                        if($this->product['parentid'] != '') {
//                            $q = "select sum(product_prices.onhold) as onhold, sum(product_prices.committed) as committed FROM product_prices WHERE product_prices.id='".$this->product['parentid']."'";
                            $q = "SELECT onhold, committed, instock FROM product_prices WHERE id='".$this->product['parentid']."'";
                            if(!$qx = mysql_db_query($this->DB, $q, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($parent_onhold,$parent_committed,$parent_instock) = mysql_fetch_array($qx);
                            
                            $q = "select sum(product_prices.onhold) as onhold, sum(product_prices.committed) as committed FROM product_prices,custom_values WHERE custom_values.text_short = '".$this->product['parentid']."' and custom_values.cfid='$this->ALT_SKU_PARENTID' and custom_values.pid=product_prices.id";
                            if(!$qx = mysql_db_query($this->DB, $q, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($alt_onhold,$alt_committed) = mysql_fetch_array($qx);
                            
                            $resultline .= ($alt_onhold+$parent_onhold) . ",".($alt_committed+$parent_committed).",".($parent_instock - ($alt_onhold+$parent_onhold)-($alt_committed+$parent_committed));
                            
                            
                            
                        }
                        ?>
                        <table>
                            <tr>
                                <td><b>Parent ID: </b>
                                    <a id="itemparent_<?=$this->product['parentid'];?>" href="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$this->product['parentid'];?>&inwin=1', 'View SKU: <?=$this->product['parentid'];?>','itemparent_<?=$this->product['parentid'];?>');">
                                        <?=$this->product['parentid'];?>
                                    </a>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td><b>Alt total O,C,A: </b> <?=$resultline?></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <?
    }
    public function getItemLookupInfo() {
        ?>
            <table cellpadding=2 cellspacing=2 border=0>
                <tr bgcolor="#eeeeee">
                    <td colspan="2"><b>Item Lookup</b></td>
                </tr>   
                <tr>
                    <td><b>Brand:</b> </td>
                    <td align="left"><?=$this->item_lookup['Brand']['value']?></td>
                </tr>
                <tr>
                    <td><b>Department:</b> </td>
                    <td align="left"><?=$this->item_lookup['Department']['value']?></td>
                </tr>
                <tr>
                    <td><b>Category ID:</b> </td>
                    <td align="left"><?=$this->competitive_priceing[0]['category_id'];?></td>
                </tr>
                <tr>
                    <td><b>Title:</b> </td>
                    <td align="left"><?=$this->item_lookup['Title']['value']?></td>
                </tr>
                <tr>
                    <td><b>Manufacturer:</b> </td>
                    <td align="left"><?=$this->item_lookup['Manufacturer']['value']?></td>
                </tr>
                <tr>
                    <td><b>Model:</b> </td>
                    <td align="left"><?=$this->item_lookup['Model']['value']?></td>
                </tr>
                <tr>
                    <td><b>MPN:</b> </td>
                    <td align="left"><?=$this->item_lookup['MPN']['value']?></td>
                </tr>
                <tr>
                    <td><b>UPC:</b> </td>
                    <td align="left"><?=$this->item_lookup['UPC']['value']?></td>
                </tr>
            </table>    
        <?
    }
    
    private function getShipValue() {
        
        $query = "select text_short FROM custom_values WHERE pid = '".$this->pid."' and cfid='54'";
        if(!$q4ok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($shipvalue) = mysql_fetch_array($q4ok);
        
        if($shipvalue == '' && $this->product['parentid']!='') {
            $query = "select text_short FROM custom_values WHERE pid = '".$this->product['parentid']."' and cfid='54'";
            if(!$q4ok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($shipvalue) = mysql_fetch_array($q4ok);
        }
        
        return $shipvalue;
	$useweight = $this->efc->getConfigValue("AmazonGrid", "UseWeight");
	
	if(strtoupper($useweight) == "A") // use amazon
	{
            $shipweight = $this->product['shipweight'];
	}
	else if(strtoupper($useweight) == "B") // use stored
	{
            $shipweight = $this->item_lookup['PackageDimensions']['Weight']['value'];
	}
	else if(strtoupper($useweight) == "C")
	{
            $shipweight = $this->item_lookup['PackageDimensions']['Weight']['value'];
            if($shipweight <= 0.00)
                $shipweight = $this->product['shipweight'];
	}
	
	$query = "select config_value from configuration where config_group = 'AmazonGrid' and config_key = 'WeightBand' and config_value != '' and config_value is NOT NULL";
	if(!$q4ok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($config_value) = mysql_fetch_array($q4ok))
	{
            list($min,$max,$value) = explode("-", $config_value);
            if(($shipweight >= $min) && ($shipweight <= $max))
            {
                return $value;
            }
	}
    }
    
    /**
     * 
     */
    public function getInventoryRow() {
        $buybox_data = $this->competitive_priceing;
        $competitive_pricing = $buybox_data[0]['competitive_pricing'];
        if(count($competitive_pricing)>0) {
            foreach($competitive_pricing as $k=>$v) {
                if($v['condition'] == 'New' && $v['subcondition']=='New') {
                    $landed_price = $v['landed_price'];
                    $belongstorequestor = $v['belongstorequester'];
                    break;
                }
            }
        }
        $nr_offer_listings = 0;
        $nr_offer_listings_arr = $buybox_data[0]['offer_listing_count'];
        if(count($nr_offer_listings_arr)>0) {
            foreach($nr_offer_listings_arr as $k=>$v) {
                if($v['condition'] == 'New') {
                    $nr_offer_listings = $v['value'];
                    break;
                }
            }
        }
//         = 
        ?>
        <table width=100% style="border: 1px #00ff00 solid;">
            <tr>
                <td>
                    <?$this->getInvBox()?>
                </td>
                <td style="width:10px">&nbsp</td>
                <td>
                    <table cellpadding="3">
                        <tr>
                            <td style="border-bottom:1px solid #808080;" nowrap><b>Amazon Weight: </b></td>
                            <td style="border-bottom:1px solid #808080;" nowrap>
                                <span id="amzweight-<?=$this->pid?>">
                                    <?
                                    if($this->item_lookup['PackageDimensions']['Weight']['attr']['Units'] == 'hundredths-pounds') {
                                        $w = $this->item_lookup['PackageDimensions']['Weight']['value'] / 100;
                                    }
                                    else {
                                        $w = $this->item_lookup['PackageDimensions']['Weight']['value'];
                                    }
                                    echo $w;
                                    ?>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom:1px solid #808080;" nowrap><b>Shipping Weight: </b></td>
                            <td style="border-bottom:1px solid #808080;" nowrap align="right">
                                <input type="text" id="weight-<?=$this->pid?>" value="<?=$this->product['shipweight']?>" class="formBox" style="width:30px;" />
                                <a href="javascript:void(0)" onclick="saveProdWeight('<?=$this->pid?>')">save</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap><b>Amazon %: </b></td>
                            <td nowrap>
                                <span id="amz<?=$this->pid."_amazonpct";?>"><?=$this->product['amazonpct'];?></span>
                                <input type="text" name="amazonpct_perc" id="amazonpct_perc_<?=$this->pid?>" value="<?=$this->product['amazonpct_cf']?>" class="formBox" style="width:30px;"/>
                                <a href="javascript:void(0)" onclick="saveAmazonPct('<?=$this->pid?>')" class="amazonpct_perc" id="amazonpct_perc_<?=$this->pid?>">save</a>
                            </td>
                        </tr>
                    </table>						
                </td>
                <td style="width:10px">&nbsp</td>
                <td><?$this->getWarehouseInv()?></td>
                <?$this->getInvCutomBox()?>
                <td style="width:10px">&nbsp</td>
                <td>
                    <table>
                        <tr>
                            <td style="border-bottom:1px solid #808080;"><b>BuyBox</b></td>
                        </tr>
                        <tr>
                            <td nowrap>
                                <div id="buybox-<?=$this->pid?>">
                                   <?
                                    if($belongstorequestor == 'true') {
                                        echo "<span style=\"font-weight:bold;color:red\"> Ecom $".$landed_price."</span> (<a href=\"http://www.amazon.com/gp/product/".$this->product['asin']."/\" target=\"_blank\">".$this->product['asin']."</a>)";
                                    }
                                    else {
                                        echo " Other $".$landed_price." (<a href=\"http://www.amazon.com/gp/product/".$this->product['asin']."/\" target=\"_blank\">".$this->product['asin']."</a>)";
                                    }
                                    ?>
                                    <br />
                                    # of New Listings <?=$nr_offer_listings?>
                                    <br />
                                    <b>Rank: </b> <?=$buybox_data[0]['rank']?>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <?
    }
    private function getInvCutomBox() {
        if($this->DB == 'ecom') {
        ?>
            <td style="width:10px">&nbsp</td>
            <td>
                <table style="border:1px #808080 solid;">
                    <tr>
                        <td>Min Qty</td>
                        <td><input type="text" name="manual_cost" id="minqty_<?=$this->pid?>" class="formBox" style="width:55px;" value="<?=$this->product['minqty']?>"></td>
                        <td><input type="button" value="Go" onclick="updateMinQty('<?=$this->pid?>');" class="buttonItem"></td>
                    </tr>
                    <tr>
                        <td>Reorder Qty</td>
                        <td><input type="text" name="manual_cost" id="reorderqty_<?=$this->pid?>" class="formBox" style="width:55px;" value="<?=$this->product['targetqty']?>"></td>
                        <td><input type="button" value="Go" onclick="updateReorderQty('<?=$this->pid?>');" class="buttonItem"></td>
                    </tr>
                </table>
        </td>
        <?
        }
    }
    private function getInvBox() {
        ?>
        <table style="border: 1px #ff0000 solid;">
            <tr bgcolor="#eeeeee">
                <td align=center height=21><B>PID</B></td>
                <td align=center height=21><B>PEO</B></td>
                <td align=center height=21><B>Avg Cost</B></td>
                <td align=center><B>Salesman Cost</B></td>
                <td align=center>&nbsp;</td>
                <?
                if($plname = $this->getPLName($this->aprice))
                {
                    ?>
                    <td align=center><B><?=$plname;?> </B></td>
                    <?
                }
                if($plname = $this->getPLName($this->fprice))
                {
                    ?>
                    <td align=center><B><?=$plname;?> </B></td>
                    <?
                }
                ?>
                <td align=center>&nbsp;</td>
                <td align=center height=21><B>OnHand</B></td>
                <td align=center><B>OnHold</B></td>
                <td align=center><B>Committed</B></td>
                <td align=center><B>Available</B></td>
                <td align=center><B>OnPO</B></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height=21 align=center>
                    <a id="item_<?=$this->pid;?>" href="javascript:showMenu('<?=$this->pid?>', '<?=$this->product['manpart'];?>');">
                        <?=$this->pid;?>
                    </a>
                </td>
                <td height=21 align=center>
                    <a id="peo_<?=$this->pid?>" href="javascript:e2window('/mgt/pereport/peoptions.phtml?id=<?=$this->pid;?>&inwin=1', 'Edit SKU: <?=$this->pid;?>','peo_<?=$this->pid?>');">PEO</a>
                </td>
                <td height=21 align=right>
                <?
                if ($this->efc->getConfigValue("eFluent Settings", "EditAvgCostEditSKU") == 1) {
                    ?>
                    <input type="text" id="avgcost-<?=$this->pid;?>" value="<?=$this->product['avgcost'];?>" class="formBox" style="width:55px">
                    <input type="button" value="Go" onclick="updateCost('avgcost', '<?=$this->pid;?>');" class="buttonItem">
                    <?
                }
                else {
                    echo $this->product['avgcost'];
                }
                ?>
                </td>
                <td align=right>
                    <input type="text" id="scost-<?=$this->pid;?>" value="<?=$this->product['salesman_cost'];?>" class="formBox" style="width:55px">
                    <input type="button" value="Go" onclick="updateCost('scost', '<?=$this->pid;?>');" class="buttonItem">
                </td>
                <td align=center>&nbsp;</td>
                <?
                if($plname = $this->getPLName($this->aprice))
                {//
                    ?>
                    <td align=right>
                        <input type="text" id="pl<?=$this->aprice."-".$this->pid;?>" value="<?=$this->product["pl$this->aprice"];?>" class="formBox plBox<?=$this->pid?>" style="width:55px">
                        <input type="button" value="Go" onclick="updateCost('pl<?=$this->aprice;?>', '<?=$this->pid;?>');" class="buttonItem">
                        <input type="checkbox" class="pl_checkbox<?=$this->pid?>" name="aprice-<?=$this->pid;?>" id="aprice-<?=$this->pid;?>" value=1 <?if($this->product["fco$this->aprice"] == 1) echo "CHECKED";?>
                                    onclick="updateFCO('aprice', '<?=$this->pid;?>', '<?=$this->aprice;?>');">
                    </td>
                    <?
                }

                if($plname = $this->getPLName($this->fprice))
                {
                    ?>
                    <td align=right>
                            <input type="text" id="pl<?=$this->fprice."-".$this->pid;?>" value="<?=$this->product["pl$this->fprice"];?>" class="formBox plBox<?=$this->pid?>" style="width:55px">
                            <input type="button" value="Go" onclick="updateCost('pl<?=$this->fprice;?>', '<?=$this->pid?>');" class="buttonItem">
                            <input type="checkbox" class="pl_checkbox<?=$this->pid?>" name="fprice-<?=$this->pid;?>" id="fprice-<?=$this->pid;?>" value=1 <?if($this->product["fco$this->fprice"] == 1) echo "CHECKED";?> 
                                    onclick="updateFCO('fprice', '<?=$this->pid;?>', '<?=$this->fprice;?>');">
                    </td>
                    <?
                }
                ?>

                <td align=center>
                    <a href="javascript:void(0)" onclick="showPriceLevels('<?=$this->pid;?>')">show</a>
                </td>

                <td height=21 align=center><?=$this->product['instock'];?></td>
                <td align=center><a id="stock_onhold_<?=$this->pid?>" href="javascript:void(0);" onclick="stockDetail('<?=$this->pid;?>', 'onhold');"><?=$this->product['onhold'];?></a></td>
                <td align=center><a id="stock_committed_<?=$this->pid?>" href="javascript:void(0);" onclick="stockDetail('<?=$this->pid;?>', 'committed');"><?=$this->product['committed'];?></a></td>
                <td align=center><?=$this->product['available'];?></td>
                <td align=center><a id="stock_onpo_<?=$this->pid?>" href="javascript:void(0);" onclick="stockDetail('<?=$this->pid;?>', 'onpo');"><?=$this->product['onpo'];?></a></td>								
            </tr>
            <tr>
                <td colspan="13">
                    <table style="border:1px solid black;display:none;" id="all_pricelevels_<?=$this->pid?>">
                            <tr>
                                <?
                                $pname = '';
                                for ($j = 1;$j<=5;$j++) {
                                    $pname = $this->getPLName2($j);
                                    if ($pname != 'Amazon' && $pname != 'FBA') {
                                    ?>
                                    <td align=right>
                                        <?=$pname?>
                                        <input type="text" id="all_pl<?=$j."-".$this->pid?>" value="<?=$this->product["pl$j"];?>" class="formBox plBox<?=$this->pid?>" style="width:35px">
                                        <input type="button" value="Go" onclick="updateCost_all('all_pl<?=$j;?>', '<?=$this->pid?>');" class="buttonItem">
                                        <input type="checkbox" class="pl_checkbox<?=$this->pid?>" name="all_c_pl-<?=$this->pid?>" id="all_c_pl-<?=$this->pid?>" value=1 <?if($this->product["fco$j"] == 1) echo "CHECKED";?>
                                                onclick="updateFCO('all_c_pl', '<?=$this->pid?>', '<?=$j;?>');">
                                    </td>
                                    <?
                                    }
                                }
                                ?>
                            </tr>
                            <tr>
                                <?
                                $pname = '';
                                for ($j = 6;$j<=9;$j++) {
                                    $pname = $this->getPLName2($j);
                                    if ($pname != 'Amazon' && $pname != 'FBA') {
                                    ?>
                                    <td align=right>
                                        <?=$pname?>
                                        <input type="text" id="all_pl<?=$j."-".$this->pid?>" value="<?=$this->product["pl$j"];?>" class="formBox plBox<?=$this->pid?>" style="width:35px">
                                        <input type="button" value="Go" onclick="updateCost_all('all_pl<?=$j;?>', '<?=$this->pid?>');" class="buttonItem">
                                        <input type="checkbox" class="pl_checkbox<?=$this->pid?>" name="all_c_pl-<?=$this->pid?>" id="all_c_pl-<?=$this->pid?>" value=1 <?if($this->product["fco$j"] == 1) echo "CHECKED";?>
                                                onclick="updateFCO('all_c_pl', '<?=$this->pid?>', '<?=$j;?>');">
                                    </td>
                                    <?
                                    }
                                }
                                ?>
                                <td align=right>
                                    Update All
                                    <input type="text" id="all_over_pl_<?=$this->pid?>" value="" class="formBox" style="width:35px">
                                    <input type="button" value="Go" onclick="updateCost_allOver('<?=$this->pid?>');" class="buttonItem">
                                    <input type="checkbox" name="all_over_c_pl-<?=$this->pid?>" id="all_over_c_pl-<?=$this->pid?>" value="1">
                                </td>
                            </tr>
                    </table>
                </td>
            </tr>
        </table>
        <?
    }
    public function getSuperPricer() {
        $profiles = array();
        $query = "select config_value,note from configuration where config_group = 'super_pricer' and config_key = 'profile_id'";
        if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while(list($profile_id,$profile_value) = mysql_fetch_array($qok)) {
            $profiles[] = array($profile_id,$profile_value);
        }
        $group = array();
        $query = "select config_value,note from configuration where config_group = 'super_pricer' and config_key = 'group'";
        if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        while(list($group_id,$group_value) = mysql_fetch_array($qok)) {
            $group[] = array($group_id,$group_value);
        }

        $query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='amazon' AND pid='".$this->pid."'";
        if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($min_price_amazon,$max_price_amazon,$map_price_amazon,$sp_profile_amazon,$sp_group_amazon,$sp_managed_amazon) = mysql_fetch_array($qok);

        $query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='amazon_canada' AND pid='".$this->pid."'";
        if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($min_price_amazon_canada,$max_price_amazon_canada,$map_price_amazon_canada,$sp_profile_amazon_canada,$sp_group_amazon_canada,$sp_managed_amazon_canada) = mysql_fetch_array($qok);
        
        
        $query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='ebay' AND pid='".$this->pid."'";
        if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($min_price_ebay,$max_price_ebay,$map_price_ebay,$sp_profile_ebay,$sp_group_ebay,$sp_managed_ebay) = mysql_fetch_array($qok);

        $query = "SELECT min_price,max_price,map_price,sp_profile,sp_group,sp_managed FROM superpricer WHERE sp_type='buy' AND pid='".$this->pid."'";
        if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($min_price_buy,$max_price_buy,$map_price_buy,$sp_profile_buy,$sp_group_buy,$sp_managed_buy) = mysql_fetch_array($qok);
        ?>

        <table cellpadding=2 cellspacing=2 border=0>
            <tr bgcolor="#eeeeee">
                <td>&nbsp;</td>
                <td><b>Amazon</b></td>
                <td><b>Amazon Canada</b></td>
               <!-- <td><b>eBay</b></td>
                <td><b>Buy.com</b></td>-->
            </tr>
            <tr>
                <td>Min. Price</td>
                <td><input value="<?=$min_price_amazon?>" type="text" class="formBox" style="width:40px;" name="minprice_amazon_<?=$this->pid?>" id="minprice_amazon_<?=$this->pid?>"/></td>
                <td><input value="<?=$min_price_amazon_canada?>" type="text" class="formBox" style="width:40px;" name="minprice_amazon_canada_<?=$this->pid?>" id="minprice_amazon_canada_<?=$this->pid?>"/></td>
                <!--<td><input value="<?=$min_price_ebay?>" type="text" class="formBox" style="width:40px;" name="minprice_ebay_<?=$this->pid?>" id="minprice_ebay_<?=$this->pid?>"/></td>
                <td><input value="<?=$min_price_buy?>" type="text" class="formBox" style="width:40px;" name="minprice_buy_<?=$this->pid?>" id="minprice_buy_<?=$this->pid?>"/></td>-->
            </tr>
            <tr>
                <td>Max. Price</td>
                <td><input value="<?=$max_price_amazon?>" type="text" class="formBox" style="width:40px;" name="maxprice_amazon_<?=$this->pid?>" id="maxprice_amazon_<?=$this->pid?>"/></td>
                <td><input value="<?=$max_price_amazon_canada?>" type="text" class="formBox" style="width:40px;" name="maxprice_amazon_canada_<?=$this->pid?>" id="maxprice_amazon_canada_<?=$this->pid?>"/></td>
                <!--<td><input value="<?=$max_price_ebay?>" type="text" class="formBox" style="width:40px;" name="maxprice_ebay_<?=$this->pid?>" id="maxprice_ebay_<?=$this->pid?>"/></td>
                <td><input value="<?=$max_price_buy?>" type="text" class="formBox" style="width:40px;" name="maxprice_buy_<?=$this->pid?>" id="maxprice_buy_<?=$this->pid?>"/></td>-->
            </tr>
            <tr>
                <td>MAP. Price</td>
                <td><input value="<?=$map_price_amazon?>" type="text" class="formBox" style="width:40px;" name="mapprice_amazon_<?=$this->pid?>" id="mapprice_amazon_<?=$this->pid?>"/></td>
                <td><input value="<?=$map_price_amazon_canada?>" type="text" class="formBox" style="width:40px;" name="mapprice_amazon_canada_<?=$this->pid?>" id="mapprice_amazon_canada_<?=$this->pid?>"/></td>
               <!-- <td><input value="<?=$map_price_ebay?>" type="text" class="formBox" style="width:40px;" name="mapprice_ebay_<?=$this->pid?>" id="mapprice_ebay_<?=$this->pid?>"/></td>
                <td><input value="<?=$map_price_buy?>" type="text" class="formBox" style="width:40px;" name="mapprice_buy_<?=$this->pid?>" id="mapprice_buy_<?=$this->pid?>"/></td>-->
            </tr>
            <tr>
                <td>Profile</td>
                <td>
                    <select class="formSelect" style="width:40px;" name="profile_amazon_<?=$this->pid?>" id="profile_amazon_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($profiles as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_profile_amazon == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select class="formSelect" style="width:40px;" name="profile_amazon_canada_<?=$this->pid?>" id="profile_amazon_canada_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($profiles as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_profile_amazon_canada == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>
                <!--<td>
                    <select class="formSelect" style="width:40px;" name="profile_ebay_<?=$this->pid?>" id="profile_ebay_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($profiles as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_profile_ebay == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select class="formSelect" style="width:40px;" name="profile_buy_<?=$this->pid?>" id="profile_buy_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($profiles as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_profile_buy == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>-->
            </tr>
            <tr>
                <td>Group</td>
                <td>
                    <select class="formSelect" style="width:40px;" name="group_amazon_<?=$this->pid?>" id="group_amazon_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($group as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_group_amazon == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select class="formSelect" style="width:40px;" name="group_amazon_canada_<?=$this->pid?>" id="group_amazon_canada_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($group as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_group_amazon_canada == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>
                <!--<td>
                    <select class="formSelect" style="width:40px;" name="group_ebay_<?=$this->pid?>" id="group_ebay_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($group as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_group_ebay == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select class="formSelect" style="width:40px;" name="group_buy_<?=$this->pid?>" id="group_buy_<?=$this->pid?>">
                        <option value="">--------</option>
                        <?
                        foreach($group as $k=>$v) {
                            ?>
                                <option value="<?=$v[0]?>" <?if($sp_group_buy == $v[0]) echo " selected"?>><?=$v[1]?></option>
                            <?
                        }
                        ?>
                    </select>
                </td>-->
            </tr>
            <tr>
                <td>Man / Unmanage</td>
                <td><input type="checkbox" value="1" name="managed_amazon_<?=$this->pid?>" id="managed_amazon_<?=$this->pid?>" <?if($sp_managed_amazon == '1') echo " checked"?> /></td>
                <td><input type="checkbox" value="1" name="managed_amazon_canada_<?=$this->pid?>" id="managed_amazon_canada_<?=$this->pid?>" <?if($sp_managed_amazon_canada == '1') echo " checked"?> /></td>
               <!-- <td><input type="checkbox" value="1" name="managed_ebay_<?=$this->pid?>" id="managed_ebay_<?=$this->pid?>" <?if($sp_managed_ebay == '1') echo " checked"?> /></td>
                <td><input type="checkbox" value="1" name="managed_buy_<?=$this->pid?>" id="managed_buy_<?=$this->pid?>" <?if($sp_managed_buy == '1') echo " checked"?> /></td>-->
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <input type="hidden" name="id" value="<?=$this->pid?>" />
                    <input type="button" name="Action" value="Update SuperPrice Values" onclick="saveSuperPricer('<?=$this->pid?>')" class="buttonItem">
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <input type="button" name="Action" value="Update All SuperPrice Values" onclick="saveSuperPricerAll('<?=$this->pid?>')" class="buttonItem">
                </td>
            </tr>
        </table>
        <?
    }
    public function getAMZPerc() {
    ?>
        <table>
            <tr>
                <td style="border-bottom:1px solid #808080">Amazon %</td>
            </tr>
            <tr>
                <td align=right>
                    <div id="amz<?=$this->pid."-amazonpct";?>"><?=$this->product['amazonpct'];?></div>
                </td>
            </tr>
        </table> 

    <?
    }
    private function getShippingWeightVal() {
    ?>
        <table>
            <tr>
                <td style="border-bottom:1px solid #808080">Shipping Weight</td>
            </tr>
            <tr>
                <td align=right><div id="amz<?=$this->pid.'-weight';?>"><?=$this->product['shipweight'];?></div></td>
            </tr>
        </table>
    <?
    }
    private function getRank() {
    ?>
        <table>
            <tr>
                <td style="border-bottom:1px solid #808080">Rank</td>
            </tr>
            <tr>
                <td align=left>
                    <div id="amz<?=$this->pid.'-rank';?>">
                    <?
                        echo $this->buybox_data['salesrank'];
                    ?>
                    </div>
                </td>
            </tr>
        </table>
    <?
    }
    public function getLists() {
    ?>
        <table border=0>
            <tr bgcolor="#eeeeee">
                <td colspan="2" style="padding:2px">
                    <b>List Management</b>
                </td>
            </tr>
	        <tr>
                <td><div style="padding-top:2px"><B>Groups:</B></div></td>
                <td nowrap>
                        <select name="groupid" id="groupid" class="formBox" onchange="getListsByGroup();">
                        <option value="0">----- SELECT --------
                        <?
	                    foreach($this->product['all_groups'] as $k=>$v) {
	                        ?>
	                        <option value="<?=$v['gid'];?>"><?=$v['group_name'];?></option>
	                        <?
	                    }
                        ?>
                        </select>
                </td>
    	    </tr>
            <tr>
                <td><div style="padding-top:2px"><B>List:</B></div></td>
                <td nowrap>
                    <select name="lid" id="lid_<?=$this->pid?>" class="formBox listid">
                    <option value="">----- SELECT --------</option>
                    <?
                    foreach($this->product['all_lists'] as $k=>$v) {
                        ?>
                        <option value="<?=$v['lid'];?>"><?=$v['list_title'];?></option>
                        <?
                    }
                    ?>
                    </select>
                    <input type="button" name="Action" value="Add List" onclick="addItemToList('<?=$this->pid?>')" class="buttonItem">
                </td>
            </tr>
            <tr>
                <td colspan="2" id="listDisplay_<?=$this->pid?>">
                    <table border=0 cellpadding=3 cellspacing=0 width="100%">
                            <tr bgcolor="#eeeeee">
                                <td class="g1" align="center"><B>List</B></td>
                                <td class="g1"><div style="text-align:center"><B>Name</B></div></td>
                                <td class="g1" align=center><B>Remove</B></td>
                            </tr>		

                            <?
                           foreach($this->product['product_lists'] as $k=>$v) {
                            ?>
                                <tr>
                                    <td><div align=center><?=$v['lid'];?></td>
                                    <td><div align=center><?=$v['list_title'];?></td>
                                    <td><div align=center><a href="javascript:confirmDeleteList('Are you sure you want to delete this sku from the list?', '<?=$v['lid'];?>','<?=$this->pid?>');"><img src="/mgt/images/del.gif" border=0 align="middle"> Remove</a></td>
                                </tr>
                            <?
                            }
                            ?>
                    </table>
                </td>
            </tr>
        </table>
    <?
    }
    public function getAmazonCalculation() {
        if($this->product['sourcing_cost']>0) {
            $cost = $this->product['sourcing_cost'];
        }
        else {
            $cost = $this->product['avgcost'];
        }
    ?>
       <table id="amzcalctable_<?=$this->pid?>" cellpadding="2">
            <tr bgcolor="#eeeeee">
                <td colspan="2"><B>Amazon Calculation</B></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Price:</td>
                            <td><div id="amz<?=$this->pid.'_price';?>" style="text-align:right;"><?=$this->product['amazon_calc_price']?></div></td>
                        </tr>
                        <tr>
                            <td>Cost:</td>
                            <td><div id="amz<?=$this->pid.'_cost';?>" style="text-align:right;"><?=$cost?></div></td>
                        </tr>
                        <tr>
                            <td>Shipping:</td>
                            <td>
                                <div id="amz<?=$this->pid.'_ship';?>" style="text-align:right;">
                                <?
                                $shipval = $this->getShipValue();
                                echo number_format($shipval,2);
                                ?>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Amazon Fee:</td>
                            <td style="border-bottom:1px solid #000000;">
                                <div id="amz<?=$this->pid.'_amzfee';?>" style="text-align:right;">
                                    <?
                                        $amzfee = number_format(($this->product['amazonpct']/100)*$this->product['amazon_calc_price'],2);
                                        echo $amzfee;
                                    ?>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Profit:</td>
                            <td>
                                <div id="amz<?=$this->pid.'_profit';?>" style="text-align:right;">
                                <?
                               
                                $profit = number_format($this->product['amazon_calc_price'] - $cost - $shipval - $amzfee,2);
                                if($profit>0) {
                                    ?>
                                    <B><font color='#00ff00'>$<?=$profit;?></font></B>
                                    <?
                                }
                                else {
                                    ?>
                                    <B><font color='#ff0000'>$<?=$profit;?></font></B>
                                    <?
                                }
                                ?>
                                </div>
                            </td>
                        </tr>							
                    </table>
                </td>
                <td valign="top">
                    <div id="amz<?=$this->pid.'_margin';?>" style="text-align:right;font-size:16px">
                        <?
                        if($this->product['amazon_calc_price']>0) {
                            $margin = 100 * ($profit / $this->product['amazon_calc_price']);
                        }
                        else {
                            $margin = 0;
                        }
                        if($margin>=0) {
                            ?>
                            <B><font color='#00ff00'><?=number_format($margin,2)?>%</font></B>
                            <?
                        }
                        else {
                            ?>
                            <B><font color='#ff0000'><?=number_format($margin,2)?>%</font></B>
                            <?
                        }
                        ?>
                    </div>
                    <BR><BR>
                    <div id="amz<?=$this->pid.'_profit2';?>" style="text-align:right;font-weight:bold;">&nbsp;</div>
                </td>
            </tr>
        </table>
    <?
    }
    public function getFBACalculation() {
        if($this->product['sourcing_cost']>0) {
            $cost = $this->product['sourcing_cost'];
        }
        else {
            $cost = $this->product['avgcost'];
        }
        if($this->item_lookup['PackageDimensions']['Weight']['attr']['Units'] == 'hundredths-pounds') {
            $weight = number_format($this->item_lookup['PackageDimensions']['Weight']['value'] / 100,2);
        }
        else {
            $weight = $this->item_lookup['PackageDimensions']['Weight']['value'];
        }
//        if($weight == '' || $weight == 0) {
//            $weight = $this->product['shipweight'];
//        }
        $weight = $this->product['shipweight'];
        $weight = ceil($weight);
        $fullfee = 0.00;
        if($this->product['fba_calc_price'] <= 299.99)
        {
            $fullfee += 1.00;
        }
        else if($this->product['fba_calc_price'] > 300)
        {
            $fullfee = 0;
        }
        $fullfee += number_format(($weight * 0.37),2);
        $fullfee += 1; // per order fee
        if($this->product['oversized']>0)
        {
            $fullfee += 5;
        }	
        ?>
        <table id="fbacalctable_<?=$this->pid?>" cellpadding="2">
            <tr bgcolor="#eeeeee">
                <td colspan="2"><B>FBA Calculation</B></td>
            </tr>
            <tr>
                <td>
                    <table>
                       <tr>
                            <td>Price:</td>
                            <td>
                                <div id="fba<?=$this->pid.'_price';?>" style="text-align:right;"><?=$this->product['fba_calc_price']?></div>
                                <input type="hidden" id="oversized_<?=$this->pid?>" value="<?=$this->product['oversized']?>" />
                            </td>
                        </tr>
                        <tr> 
                            <td>Cost:</td>
                            <td><div id="fba<?=$this->pid.'_cost';?>" style="text-align:right;"><?=$cost?></div></td>
                        </tr>
                        <tr>
                            <td>Fulfillment:</td>
                            <td><div id="fba<?=$this->pid.'-fullfilment';?>" style="text-align:right;"><?=$fullfee?></div></td>
                        </tr>
                        <?
                        if ($this->DB == 'ecom') {
                            $qx = "SELECT custom_values.text_short FROM custom_values,custom_fields WHERE custom_values.cfid=custom_fields.id AND custom_values.pid='".$this->pid."' AND custom_fields.name='AMZ Oversize'";
                            $qokx = mysql_db_query($this->DB, $qx, $this->mysqlid);
                            if($qokx == false){ echo mysql_error(); echo "Internal Error"; exit; }
                            list($text_short) = mysql_fetch_array($qokx);
                            if ($text_short == '1') {
                                    $xamz_over = 1.30;
                            }
                            else {
                                    $xamz_over = 0.15;
                            }
                            $xamz_over = 0;
                            ?>
                            <tr>
                                <td>Extra Fees:</td>
                                <td><div id="fba<?=$this->pid.'-amzoversize';?>" style="text-align:right;"><?=$xamz_over?></div></td>
                            </tr>
                            <?
                        }
                        ?>
                        <tr>
                            <td>Amazon Fee:</td>
                            <td style="border-bottom:1px solid #000000;">
                                <div id="fba<?=$this->pid.'-amzfee';?>" style="text-align:right;">
                                <?
                                $amzfee = number_format(($this->product['amazonpct']/100)*$this->product['fba_calc_price'],2);
                                echo $amzfee;
                                ?>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Profit:</td>
                            <td>
                                <div id="fba<?=$this->pid.'-profit';?>" style="text-align:right;">
                                 <?
                                $profit = number_format($this->product['fba_calc_price'] - $cost - $fullfee - $amzfee-$xamz_over,2);
                                if($profit>0) {
                                    ?>
                                    <B><font color='#00ff00'>$<?=$profit;?></font></B>
                                    <?
                                }
                                else {
                                    ?>
                                    <B><font color='#ff0000'>$<?=$profit;?></font></B>
                                    <?
                                }
                               
                                ?>
                                </div>
                            </td>
                        </tr>							
                    </table>
                </td>
                <td>
                        <BR><BR>
                        <div id="fba<?=$this->pid.'-margin';?>" style="text-align:right;font-size:16px">
                         <?
                        if($this->product['fba_calc_price'] > 0  && $this->product['fba_calc_price'] != '') {
                            $fba_calc_price = $this->product['fba_calc_price'];
                            $margin = 100 * ($profit / $fba_calc_price);
                        } 
                        else {
                            $fba_calc_price = 0;
                            $margin = 0;
                        }
                        
                        if($margin>=0) {
                            ?>
                            <B><font color='#00ff00'><?=number_format($margin,2)?>%</font></B>
                            <?
                        }
                        else {
                            ?>
                            <B><font color='#ff0000'><?=number_format($margin,2)?>%</font></B>
                            <?
                        }
                        ?>
                        </div>
                        <BR><BR>
                        <div id="fba<?=$this->pid.'-profit2';?>" style="text-align:right;font-weight:bold;">&nbsp;</div>
                </td>
            </tr>
        </table>
        <?
    }
    public function getFBASalesHistory() {
    ?>
        <table>
            <tr>
                <td style="border-bottom:1px solid #808080">FBA Sales History</td>
            </tr>
            <tr>
                <td align=left>
                    <table>
                        <tr bgcolor="#eeeeee">
                            <td>&nbsp;</td>
                            <td>7 Days</td>
                            <td>14 Days</td>
                            <td>30 Days</td>
                            <td>90 Days</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="showing" value="0" id="fbaordersshowing-<?=$this->pid;?>">
                                <a href="javascript:void(0);" onclick="showFBAOrders('<?=$this->pid;?>');" border=0>
                                    <img src="/mgt/images/plus.gif" id="fbaordersimg-<?=$this->pid;?>">
                                </a>
                            </td>
                            <?
                            $status = $this->efc->getConfigValue("AmazonFBA", "NEW_ORDER_STATUS");
                            $odate = time() - (86400 * 7);
                            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                                    orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$this->pid."' AND
                                                    customer_orders.orderid = customer_order_lines.orderid";
                            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($numorders) = mysql_fetch_array($qok);
                            ?>
                            <td><?=$numorders;?></td>

                            <?
                            $odate = time() - (86400 * 14);
                            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                                    orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$this->pid."' AND
                                                    customer_orders.orderid = customer_order_lines.orderid";
                            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($numorders) = mysql_fetch_array($qok);
                            ?>
                            <td><?=$numorders;?></td>

                            <?
                            $odate = time() - (86400 * 30);
                            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                                    orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$this->pid."' AND
                                                    customer_orders.orderid = customer_order_lines.orderid";
                            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($numorders) = mysql_fetch_array($qok);
                            ?>
                            <td><?=$numorders;?></td>
                            <?
                            $odate = time() - (86400 * 90);
                            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                                    orderdate >= '$odate' and status = '$status' and customer_order_lines.prodid = '".$this->pid."' AND
                                                    customer_orders.orderid = customer_order_lines.orderid";
                            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($numorders) = mysql_fetch_array($qok);
                            ?>
                            <td><?=$numorders;?></td>
                        </tr>
                        <tr>
                            <td colspan=5><div id="fbaorders-<?=$this->pid;?>">&nbsp;</div></td>
                        </tr>
                    </table>	
                </td>
            </tr>
        </table>    
    <?
    }
    public function getShippedFBAHistory() {
    ?>
        <table>
            <tr>
                <td style="border-bottom:1px solid #808080" colspan="5">Shipped to FBA history</td>
            </tr>
            <tr bgcolor="#eeeeee">
                <td>&nbsp;</td>
                <td>7 Days</td>
                <td>14 Days</td>
                <td>30 Days</td>
                <td>90 Days</td>
            </tr>
            <tr>
                <td>
                    <a href="javascript:void(0);" onclick="showFBAOrdersShipped('<?=$this->pid;?>');" border=0>
                        <img src="/mgt/images/plus.gif" id="fbaordersimgshipped-<?=$this->pid;?>">
                    </a> 
                </td>
                <?
                $xacctid = $this->efc->getConfigValue("AmazonFBA","FBA_CUSTOMER_ACCT");
                $odate_1 = time() - (86400 * 7);
                $query = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='$xacctid' and customer_orders.orderdate >= '$odate_1' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$this->pid."'";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>

                <?
                $odate_2 = time() - (86400 * 14);
                $query = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='$xacctid' and customer_orders.orderdate >= '$odate_2' and customer_orders.orderdate < '$odate_1' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$this->pid."'";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>

                <?
                $odate_3 = time() - (86400 * 30);
                $query = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='$xacctid' and customer_orders.orderdate >= '$odate_3' and customer_orders.orderdate < '$odate_2' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$this->pid."'";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>
                <?
                $odate_3 = time() - (86400 * 90);
                $query = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='$xacctid' and customer_orders.orderdate >= '$odate_3' and customer_orders.orderdate < '$odate_2' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$this->pid."'";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>
            </tr>
            <tr>
                <td colspan=5>
                    <div id="fbaordersshipped-<?=$this->pid;?>" style="display:none"></div>
                </td>
            </tr>
        </table>    
    <?
    }
    public function getPendingOrders() {
    	?>
    	<table>
			<tr>
				<td>
					<?
						$bdate = date("Y/m/d");
						$edate = date("Y/m/d");
						$xbdate = strtotime("$bdate 00:00:00");
						$xedate = strtotime("$edate 23:59:59");
						$odate = $xbdate - (86400 * 30);
						$qx = "SELECT count(o.id) FROM amazon_order_reports_by_last_update_orders o, amazon_order_reports_by_last_update_orders_items oi WHERE o.id=oi.orderid AND oi.pid='".$this->pid."' AND o.status='Pending' AND o.purchase_timestamp_pst>='$odate' LIMIT 0,1";
						if(!$qok = mysql_db_query($this->DB, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numorders_pending_all) = mysql_fetch_array($qok);
					?>
					Pending Orders : <?=$numorders_pending_all?><br />
				</td>
				<td>&nbsp;</td>
				<td></td>
			</tr>
			<tr>
				<td align=left>
					<table>
					<tr bgcolor="#eeeeee">
						<td>Today</td>
						<td>Yesterday</td>
						<td>3 Days</td>
						<td>7 Days</td>
						<td>30 Days</td>
					</tr>
					<tr>
						
						<?
//																		AND o.status='Pending' 
//																		$qx = "SELECT count(o.id) FROM amazon_order_reports_by_last_update_orders o, amazon_order_reports_by_last_update_orders_items oi WHERE o.id=oi.orderid AND oi.pid='".$skulist['id'][$xx]."' AND o.purchase_timestamp_pst>='$xbdate' AND o.purchase_timestamp_pst<='$xedate' LIMIT 0,1";
						
						$qx = "SELECT sum(amazon_order_reports_by_last_update_orders_items.qty) 
	                    FROM amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders
	                    WHERE 
	                    	amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid AND 
	                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xbdate."' AND 
	                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xedate."' AND 
	                    	amazon_order_reports_by_last_update_orders_items.pid='".$this->pid."'
	                    GROUP BY amazon_order_reports_by_last_update_orders_items.sku";
						if(!$qok = mysql_db_query($this->DB, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numorders_pending) = mysql_fetch_array($qok);
						?>
						<td><?=$numorders_pending;?></td>
						
						<?
						$xbdate_yesterday = $xbdate-86400;
						$xedate_yesterday = $xedate-86400;
//																		$qx = "SELECT count(o.id) FROM amazon_order_reports_by_last_update_orders o, amazon_order_reports_by_last_update_orders_items oi WHERE o.id=oi.orderid AND oi.pid='".$skulist['id'][$xx]."' AND o.purchase_timestamp_pst>='$xbdate_yesterday' AND o.purchase_timestamp_pst<='$xedate_yesterday' LIMIT 0,1";
						$qx = "SELECT sum(amazon_order_reports_by_last_update_orders_items.qty) 
	                    FROM amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders
	                    WHERE 
	                    	amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid AND 
	                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xbdate_yesterday."' AND 
	                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xedate_yesterday."' AND 
	                    	amazon_order_reports_by_last_update_orders_items.pid='".$this->pid."'
	                    GROUP BY amazon_order_reports_by_last_update_orders_items.sku";
						
						if(!$qok = mysql_db_query($this->DB, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numorders_pending) = mysql_fetch_array($qok);
						?>
						<td><?=$numorders_pending;?></td>
						
						<?
						$xbdate_yesterday = $xbdate-(86400*3);
						$xedate_yesterday = $xedate;
//																		$xedate_yesterday = $xedate-(86400*3);
//																		$qx = "SELECT count(o.id) FROM amazon_order_reports_by_last_update_orders o, amazon_order_reports_by_last_update_orders_items oi WHERE o.id=oi.orderid AND oi.pid='".$skulist['id'][$xx]."' AND o.purchase_timestamp_pst>='$xbdate_yesterday' AND o.purchase_timestamp_pst<='$xedate_yesterday' LIMIT 0,1";
						$qx = "SELECT sum(amazon_order_reports_by_last_update_orders_items.qty) 
				                    FROM amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders
				                    WHERE 
				                    	amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid AND 
				                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xbdate_yesterday."' AND 
				                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xedate_yesterday."' AND 
				                    	amazon_order_reports_by_last_update_orders_items.pid='".$this->pid."'
				                    GROUP BY amazon_order_reports_by_last_update_orders_items.sku";

						if(!$qok = mysql_db_query($this->DB, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numorders_pending) = mysql_fetch_array($qok);
						?>
						<td><?=$numorders_pending;?></td>
						<?
						$xbdate_yesterday = $xbdate-(86400*7);
//																		$xedate_yesterday = $xedate-(86400*7);
						$xedate_yesterday = $xedate;
//																		$qx = "SELECT count(o.id) FROM amazon_order_reports_by_last_update_orders o, amazon_order_reports_by_last_update_orders_items oi WHERE o.id=oi.orderid AND oi.pid='".$skulist['id'][$xx]."' AND o.purchase_timestamp_pst>='$xbdate_yesterday' AND o.purchase_timestamp_pst<='$xedate_yesterday' LIMIT 0,1";
						$qx = "SELECT sum(amazon_order_reports_by_last_update_orders_items.qty) 
				                    FROM amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders
				                    WHERE 
				                    	amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid AND 
				                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xbdate_yesterday."' AND 
				                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xedate_yesterday."' AND 
				                    	amazon_order_reports_by_last_update_orders_items.pid='".$this->pid."'
				                    GROUP BY amazon_order_reports_by_last_update_orders_items.sku";	
						if(!$qok = mysql_db_query($this->DB, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numorders_pending) = mysql_fetch_array($qok);
						?>
						<td><?=$numorders_pending;?></td>
						
						<?
						$xbdate_yesterday = $xbdate-(86400*30);
//																		$xedate_yesterday = $xedate-(86400*7);
						$xedate_yesterday = $xedate;
//																		$qx = "SELECT count(o.id) FROM amazon_order_reports_by_last_update_orders o, amazon_order_reports_by_last_update_orders_items oi WHERE o.id=oi.orderid AND oi.pid='".$skulist['id'][$xx]."' AND o.purchase_timestamp_pst>='$xbdate_yesterday' AND o.purchase_timestamp_pst<='$xedate_yesterday' LIMIT 0,1";
						$qx = "SELECT sum(amazon_order_reports_by_last_update_orders_items.qty) 
				                    FROM amazon_order_reports_by_last_update_orders_items,amazon_order_reports_by_last_update_orders
				                    WHERE 
				                    	amazon_order_reports_by_last_update_orders.id=amazon_order_reports_by_last_update_orders_items.orderid AND 
				                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst >= '".$xbdate_yesterday."' AND 
				                    	amazon_order_reports_by_last_update_orders.purchase_timestamp_pst <= '".$xedate_yesterday."' AND 
				                    	amazon_order_reports_by_last_update_orders_items.pid='".$this->pid."'
				                    GROUP BY amazon_order_reports_by_last_update_orders_items.sku";	
						if(!$qok = mysql_db_query($this->DB, $qx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numorders_pending) = mysql_fetch_array($qok);
						?>
						<td><?=$numorders_pending;?></td>
					</tr>
					<tr>
						<td colspan=5><div id="fbaorders-<?=$skulist['id'][$xx];?>">&nbsp;</div></td>
					</tr>
					</table>
    	<?
    }
    public function getShippedHistory() {
        if($this->product['kit'] == '1') {
            $addon = " customer_order_lines.kitpid = '".$this->pid."' AND ";
        }
        else {
            $addon = " customer_order_lines.prodid = '".$this->pid."' AND customer_orders.package='0' AND ";
        }
        
    ?>
        <table>
             <tr>
                <td style="border-bottom:1px solid #808080" colspan="6">Shipped History</td>
            </tr>
            <tr bgcolor="#eeeeee">
                <td colspan="2">&nbsp;</td>
                <td>7 Days</td>
                <td>14 Days</td>
                <td>30 Days</td>
                <td>90 Days</td>
            </tr>
            <tr style="font-weight:bold;">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <?
                $query = "select step from company_orderflow where status='Shipped'";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($step) = mysql_fetch_array($qok);

                $odate = time() - (86400 * 7);
                $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                        orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' AND $addon 
                                        customer_orders.orderid = customer_order_lines.orderid";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>

                <?
                $odate = time() - (86400 * 14);
                $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                        orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' AND $addon 
                                        customer_orders.orderid = customer_order_lines.orderid";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>

                <?
                $odate = time() - (86400 * 30);
                $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                        orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' AND $addon 
                                        customer_orders.orderid = customer_order_lines.orderid";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>
                <?
                $odate = time() - (86400 * 90);
                $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                        orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' AND $addon 
                                        customer_orders.orderid = customer_order_lines.orderid";
                if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                list($numorders) = mysql_fetch_array($qok);
                ?>
                <td><?=$numorders;?></td>
            </tr>
            <tr>
                <td colspan="6" style="height:10px;border-top:2px solid black">&nbsp</td>
            </tr>
            <?$this->getShippedOrderOrigin('AM',$step)?>
            <?$this->getShippedOrderOrigin('AMC',$step)?>
            <?$this->getShippedOrderOrigin('EB',$step)?>
            <?$this->getShippedOrderOrigin('BY',$step)?>
            <?$this->getShippedOrderOrigin('EBACE',$step)?>
            <?$this->getShippedOrderOrigin('OTHER',$step)?>
        </table> 
    <?
    }
    private function getShippedOrderOrigin($origin,$step) {
        ?>
        <tr>
            <td>
                <?
                $addon = "customer_orders.clickid = '".$origin."' AND ";
                switch ($origin) {
                    case 'AM':
                        echo 'Amazon';
                        break;
                    case 'AMC':
                        echo 'Amazon Canada';
                        break;
                    case 'EB':
                        echo 'eBay';
                        break;
                    case 'BY':
                        echo 'Buy.com';
                        break;
                    case 'EBACE':
                        echo 'eBay Ace';
                        break;
                    case 'OTHER':
                        echo 'OTHER';
                        $addon = "(customer_orders.clickid != 'AM' AND customer_orders.clickid != 'AMC' AND customer_orders.clickid != 'EB' AND customer_orders.clickid != 'BY' AND customer_orders.clickid != 'EBACE') AND ";
                        break;
                    default:
                        break;
                }
                
                if($this->product['kit'] == '1') {
                    $addon .= " customer_order_lines.kitpid = '".$this->pid."' AND ";
                }
                else {
                    $addon .= " customer_order_lines.prodid = '".$this->pid."' AND customer_orders.package='0' AND ";
                }
                ?>
            </td>
            <td>
                <a href="javascript:void(0);" onclick="showShippedOrders('<?=$this->pid;?>','<?=$origin?>','<?=$this->product['kit']?>');" border=0>
                    <img src="/mgt/images/plus.gif" id="shippedordersimg-<?=$this->pid.'-'.$origin;?>">
                </a>
            </td>
            <?
            $odate = time() - (86400 * 7);
            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                    orderdate >= '$odate' and customer_orders.status = '$step' and 
                                    customer_orders.wholesale = '0' and 
                                    $addon
                                    customer_orders.orderid = customer_order_lines.orderid";
            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($numorders) = mysql_fetch_array($qok);
            ?>
            <td><?=$numorders;?></td>

            <?
            $odate = time() - (86400 * 14);
            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                    orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' and
                                    $addon
                                    customer_orders.orderid = customer_order_lines.orderid";
            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($numorders) = mysql_fetch_array($qok);
            ?>
            <td><?=$numorders;?></td>

            <?
            $odate = time() - (86400 * 30);
            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                    orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' and
                                    $addon
                                    customer_orders.orderid = customer_order_lines.orderid";
            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($numorders) = mysql_fetch_array($qok);
            ?>
            <td><?=$numorders;?></td>
            <?
            $odate = time() - (86400 * 90);
            $query = "select sum(customer_order_lines.qty_shipped) from customer_orders, customer_order_lines where
                                    orderdate >= '$odate' and customer_orders.status = '$step' and customer_orders.wholesale = '0' and
                                    $addon
                                    customer_orders.orderid = customer_order_lines.orderid";
            if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($numorders) = mysql_fetch_array($qok);
            ?>
            <td><?=$numorders;?></td>
        </tr>
        <tr>
            <td colspan=6><div id="shippedorders-<?=$this->pid.'-'.$origin;?>" style="display:none"></div></td>
        </tr>
        <?
    }
    public function getPOHistory() {
    ?>
        <table>
             <tr>
                <td style="border-bottom:1px solid #808080" colspan="6">PO History</td>
            </tr>
            <tr bgcolor="#eeeeee">
                <td>Total POs:</td>
                <td colspan="4">
                    <b><?=$this->product['total_po_count']?></b>
                </td>
            </tr>
            <tr bgcolor="#eeeeee">
                <td>POID</td>
                <td>Vendor</td>
                <td>Invoiceid</td>
                <td>Date</td>
                <td>Qty</td>
            </tr>
            <?
            if(count($this->product['last_pos'])>0) {
                foreach ($this->product['last_pos'] as $k=>$v) {
                    ?>
                    <tr>
                        <td><a id="viewpo_<?=$v['poid'].'_'.$this->pid?>" href="javascript:e2window('/mgt/vn/viewpo.phtml?poid=<?=$v['poid']?>&inwin=1', 'View PO: <?=$v['poid']?>','viewpo_<?=$v['poid'].'_'.$this->pid?>');"><?=$v['poid']?></a>&nbsp;&nbsp;&nbsp;</td>
                        <td><?=$v['vendorname']?>&nbsp;&nbsp;&nbsp;</td>
                        <td><?=$v['invoiceid']?>&nbsp;&nbsp;&nbsp;</td>
                        <td><?=date("m-d-Y",$v['sub_stamp'])?>&nbsp;&nbsp;&nbsp;</td>
                        <td><?=$v['qty_ordered']?>&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <?
                }
            }
            ?>
        </table> 
    <?
    }
    public function getVendorInventory() {
        if($this->product['parentid']!='') {
            $pid = $this->product['parentid'];
        }
        else {
            $pid = $this->pid;
        }
        ?>
        <table width=100%>
            <tr>
                <td>
                    <?
                    $query = "select sid, distid, distsku, cost, tstamp, qty, useinv from product_sourcing where pid = '".$pid."'";
                    if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    if(mysql_num_rows($qok) > 0)
                    {
                            ?>
                            <B>Vendor Inventory</B>
                            <TABLE style="border:1px #808080 solid;width:200px">
                            <TR  bgcolor="#eeeeee">
                                    <TD align=center>Vendor</TD>
                                    <td align=center>SKU</td>
                                    <td align=center>Qty</td>
                                    <td align=center>Cost</td>
                                    <td align=center>Date</td>
                                    <td>&nbsp;</td>
                            </TR>
                            <?
                            while(list($sid, $distid, $distsku, $cost, $tstamp, $qty, $useinv) = mysql_fetch_array($qok))
                            {
                                    ?>
                                    <TR>
                                        <td align=left height=21><?=$this->efc->getVendorName($distid);?></TD>
                                        <td align=left><?=$distsku;?></td>
                                        <td align=center><?=$qty;?></td>
                                        <td align=right><?=number_format($cost, 2);?></td>
                                        <td align=center><?=date("m/d/Y", strtotime($tstamp));?></td>
                                        <td align=center><input type="button" value="Go" onclick="resetCost('<?=$this->pid;?>', '<?=$cost;?>');" class="buttonItem"></td>
                                    </TR>
                                    <?					
                            }
                            ?>
                            </TABLE>
                            <?
                    }
                    else 
                    {
                            ?>
                            <B>Vendor Inventory</B>
                            <TABLE style="border:1px #808080 solid;width:200px">
                            <tr>
                                    <td><I>Not Available</I></td>
                            </tr>
                            </table>
                            <?
                    }
                    ?>
                    <a href="javascript:void(0);" onclick="addSourcing('<?=$this->pid;?>')" id="addsourcing_<?=$this->pid;?>">Add Sourcing</a>    
                    </td>
                </tr>
            </table>
        <?
    }
    public function getWarehouseInv() {
        ?>
        <table border=0>
            <tr bgcolor="#eeeeee">
                <td style="padding:2px">
                    <b>Warehouse</b>
                </td>
                <td style="padding:2px">
                    <b>Inv.</b>
                </td>
            </tr>
        <?
        $query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
	if(!$qok = mysql_db_query($this->DB, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($whid, $whname) = mysql_fetch_array($qok))
	{
            $queryx = "select sum(inv_available), cost from product_inventory where id = '$this->pid' and whid = '$whid' group by whid";
            if(!$q2ok = mysql_db_query($this->DB, $queryx, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
            list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);
            ?>
            <tr>
                <td style="padding:2px">
                    <?=$whname?>
                </td>
                <td style="padding:2px">
                    <?=$inv_lavailable?>
                </td>
            </tr> 
            <?
        }
        ?>
        </table>
        <?
    }
    private function getPLName($pl)
    {
        if($pl == 1)
        {
                $plname = $this->efc->getConfigValue("Price Level Names", "PL1");
                if($plname == "")
                        $plname = "Web Price (PL1)";

                return $plname;
        }
        else 
        {
                $plname = $this->efc->getConfigValue("Price Level Names", "PL$pl");

                if($plname == "")
                        return false;

                return $plname;
        }
    }
    private function getPLName2($pl)
    {
        $plname = $this->efc->getConfigValue("Price Level Names", "PL$pl");
        if($plname == "")
                $plname = "PL$pl";
        return $plname;
    }
}
?>