<?
// modified cf/categories .phtml
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

if($DB == "ecom")
{
	echo "";
	exit;	
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$efc->touchUser();

$query = "select distinct(msg_from) from chat_log where msg_to = '".$_SESSION["ID"]."' and shown = 0 and id > '$lastmsg' ";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($conv_with) = mysql_fetch_array($q2ok))
{
	$query = "select id, msg_body, tstamp, msg_from from chat_log where 
					shown = 0 and 
					id > '$lastmsg' AND
					((msg_to = '".$_SESSION["ID"]."' and msg_from = '$conv_with') OR (msg_to = '$conv_with' and msg_from = '".$_SESSION["ID"]."'))";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	while(list($id, $msg_body, $tstamp, $msg_from) = mysql_fetch_array($qok))
	{
		if($lastmsg == 0)
		{
			if($msg_from == $_SESSION["ID"])
				$buyername = "<font color='#ff0000'>You Said</font>";
			else
				$buyername = "<font color='#4E45FF'>".$efc->getRepName($conv_with)."</font>";
				
			$showdate = date("m/d/Y H:i:s", $efc->tstamp2seconds($tstamp));
			
			echo "$conv_with|$buyername|$showdate|$msg_body|$id\n";
		}
		else if($msg_from != $_SESSION["ID"]) 
		{
			$buyername = "<font color='#4E45FF'>".$efc->getRepName($conv_with)."</font>";
			$showdate = date("m/d/Y H:i:s", $efc->tstamp2seconds($tstamp));
			
			echo "$conv_with|$buyername|$showdate|$msg_body|$id\n";
		}
		//$query = "update chat_log set shown = 1 where id = '$id'";
		//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}
	
}

mysql_close($mysqlid);
?>