<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select data from help_items where hid = '$mid'";
if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($data) = mysql_fetch_array($qok);
?>
<html>
<head>
<LINK HREF="/style.css" TYPE="text/css" REL="stylesheet">
</head>
<body>

<form name="ticket" action="save_help.phtml" method="post">
<input type="hidden" name="mid" value="<?=$mid;?>">
<table width=100%>
<tr>
	<td>
		<?
		$sBasePath = $_SERVER['PHP_SELF'] ;
		$sBasePath = substr( $sBasePath, 0, strpos( $sBasePath, "_samples" ) ) ;
			
		$oFCKeditor = new FCKeditor('FCKeditor1') ;
		$oFCKeditor->BasePath	= $sBasePath ;
		$oFCKeditor->Value		= html_entity_decode( stripslashes($data) );
		$oFCKeditor->Width = "98%";
		$oFCKeditor->Height = "450";
		$oFCKeditor->Create() ;
		?>
		<input type="submit" name="Action" value="Save Help">
	</td>
</tr>
</table>
</form>
	
</body>
</html>