<?  
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");



$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if(intval($wid) > 0)
{
	$query = "select url, title from widget_list where id = '$wid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	list($wurl, $wtitle) = mysql_fetch_array($qok);
	
	$wtitle = addslashes($wtitle);
	
	$query = "insert into controlpanel(userid, widgetid, url, title, colid, rowid) values('".$_SESSION["ID"]."', '$wid', '$wurl', '$wtitle', '1', '1')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	

	Header("Location: /mgt/main.phtml");		
}
else if(intval($cpid) > 0)
{
	$query = "delete from controlpanel where id = '$cpid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	

	Header("Location: /mgt/main.phtml");		
	
}

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/iportal.js"></SCRIPT>
<script type="text/javascript" src="/mgt/js/jquery-1.3.2.js" ></script>
<script type="text/javascript" src="/mgt/js/jquery-ui-1.7.2.custom.min.js" ></script>
<link rel="stylesheet" type="text/css" href="/mgt/iportal/styles.css" />

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<style>
.e2WidgetBar{ cursor: move; }
.e2Widget {display:;width:300px;height:300px;position:absolute;z-index:0;background:white;padding:0px;font:10pt tahoma;border:0px}
.cover {display:;position:absolute;left:0px;top:0px;z-index:99;background:#eeeeee;filter:alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7}
.e2Ctl {display:block;width:100%;height:300px;position:absolute;z-index:990;background:white;padding:0px;font:10pt tahoma;border:0px}
.wl{display:none;width: 255px;height:300px;background-color:#ffffee;position:absolute;border: 1px dashed #808080;z-index:10;overflow:auto;}
</style>
<script type="text/javascript" >
$(
function()
{
	$('.dragbox')
	.each(
		function()
		{
			$(this).hover(function()
			{
				$(this).find('h2').addClass('collapse');
			}, function()
			{
				$(this).find('h2').removeClass('collapse');
			}
		)
		.find('h2').hover(
			function()
			{
			$(this).find('.configure').css('visibility', 'visible');
			}, 
			function()
			{
			$(this).find('.configure').css('visibility', 'hidden');
			}
		)
		.click(
			function()
			{
				//$(this).siblings('.dragbox-content').toggle();
			}
		)
		.end()
		
		.find('.configure').css('visibility', 'hidden');
		}
	);
	$('.column').sortable(
	{
		connectWith: '.column',
		handle: 'h2',
		cursor: 'move',
		placeholder: 'placeholder',
		forcePlaceholderSize: true,
		revert: true,
		opacity: 0.5,
		start: function(event, ui)
			{
				<?
				$query = "select widgetid from controlpanel where userid = '".$_SESSION["ID"]."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
				while(list($widgetid) = mysql_fetch_array($qok))
				{
					?>
					document.getElementById("widget<?=$widgetid;?>").style.display = 'none';
					<?
				}
				?>
				
				
			},
		stop: function(event, ui)
			{
				$(ui.item).find('h2').click();
				
				var sortorder='';
				$('.column').each(function()
				{
					var itemorder=$(this).sortable('toArray');
					var columnId=$(this).attr('id');
					sortorder+=columnId+'='+itemorder.toString()+'&';
				});
				
				//////////////////////////////////////////////////////////////////////////////////////////////////////////
				xmlHttp=GetXmlHttpObject();
		
				if (xmlHttp==null)
			 	{
			  		alert ("Your browser does not support AJAX!");
			  		return;
			  	} 
			  	
				var url="/mgt/iportal/ajax_savewidgetpos.phtml?sid="+Math.random()+"&"+sortorder;
				xmlHttp.onreadystatechange=posSaved;
				xmlHttp.open("GET",url,true);
				xmlHttp.send(null);	
//				alert('XX SortOrder: '+sortorder);
				$('.dragbox')
					.each(function(){
						$(this).css('z-index','0')
					});
					
				<?
				$query = "select widgetid from controlpanel where userid = '".$_SESSION["ID"]."'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
				while(list($widgetid) = mysql_fetch_array($qok))
				{
					?>
					document.getElementById("widget<?=$widgetid;?>").style.display = 'block';
					<?
				}
				?>

				//////////////////////////////////////////////////////////////////////////////////////////////////////////
			}
	})
	.disableSelection();
});

function posSaved()
{
	if(xmlHttp.readyState==4)
	{
		//alert(xmlHttp.responseText);
	}
}
</script>
</HEAD>
<BODY <?if($efc->getPermission("perm_iportal")){?> onload="StartUp();" <?}?>>  <!--bgcolor="#f3a0bc"-->
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top align=center>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>



		<BR><BR>

<!-- INFO PORTAL BEGIN -->
<?
if($efc->getPermission("perm_iportal"))
{
	?>
	<table border=0 width=99% cellpadding=0 cellspacing=0 height=295>
	<tr height=21>
		<td width=100%>
			<span style="width:100%;color:#ffffff;text-align:center">
			
			<table width=100% cellpadding=0 cellspacing=0 border=0>
			<tr>
				<td width=7 background="/mgt/images/wc2.jpg" align=left><img src="/mgt/images/wl2.jpg"></td>
				<td width=99% background="/mgt/images/wc2.jpg"> 
					<div style="padding-top:3px;font-family:Veranda;color:#ffffff;font-weight:normal;font-size:12px;text-align=center;">
						<center><B>Information Portal</B></center>
					</div>
				</td>
				<td width=7 background="/mgt/images/wc2.jpg" align=right><img src="/mgt/images/wr2.jpg"></td>
			</tr>
			</table>

			</span>
		</td>
	</tr>
	<tr>
		<td style="border:1px solid; #000000;">
			<table width=100% cellpadding=0 cellspacing=0 border=0>
			<tr>
				<td width=99% bgcolor="#ffffff" align=center> 
					<div id="iportal" name="iportal"><BR><BR><BR><img src="/mgt/images/loading.gif"></div>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
<?
}
?>
<!-- INFO PORTAL END -->

<BR>
<table width=99% bgcolor="#eeeeff" style="border:1px solid #808080;">
<tr>
	<td align=right width=100%><a href="javascript:void(0);" onclick="showWidgetList();"><img src="/mgt/images/plus.gif"></a></td>
</tr>
</table>
<BR>

<div id="widgetlist" name="widgetlist" class="wl">
<table cellpadding=0 cellspacing=0 border=0 width=255>
<tr>
	<td bgcolor="#eeeeee" height=22 align=center><div style="padding-top:3px"><B>Available Widgets</B></div></td>
</tr>
<?
$query = "select widget_list.id, title from widget_list, user_widget_permissions where
			widget_list.id = user_widget_permissions.wid and
			user_widget_permissions.userid = '".$_SESSION["ID"]."' and
			widget_list.id NOT IN (select widgetid from controlpanel where userid = '".$_SESSION["ID"]."') 
			";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($wid, $wtitle) = mysql_fetch_array($qok))
{
?>
<tr>
	<td height=22>
		<div style="padding-left:3px;padding-top:3px">
			<a href="javascript:void(0);" onclick="addWidget('<?=$wid;?>');"><?=$wtitle;?></a>
		</div>
	</td>
</tr>
<?
}
?>
</table>
</div>

<table width=99%>
<tr>
	<td align=center>
	<form style="margin:0px" id="controlpanel" name="controlpanel">
	<div class="column" id="column1">
		
		<?
		$query = "select id, widgetid, title, url from controlpanel where userid = '".$_SESSION["ID"]."' and colid = '1' order by rowid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
		while(list($id, $widgetid, $title, $url) = mysql_fetch_array($qok))
		{
			?>
			<div class="dragbox" id="item<?=$widgetid;?>" >
				<table width=100% cellpadding=0 cellspacing=0>
				<tr>	
					<td align=left width=80%><h2><?=$title;?></h2></td>
					<td align=right NOWRAP bgcolor="#eeeeee" width=20%>
						<div style="padding-top:2px"><img src="/mgt/images/cpconfig.gif">&nbsp;<a href="/mgt/main.phtml?cpid=<?=$id;?>"><img src="/mgt/images/close.gif" border=0 alt="Remove Widget"></a>&nbsp;
					</td>
				</tr>
				</table>	
			
				<div class="dragbox-content" ><IFRAME src="<?=$url;?>" name="widget<?=$widgetid;?>" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="width:100%;height:300;overflow:visible;"></IFRAME></div>
			</div>			
			<?
		}
		?>


	</div>
	
	<div class="column" id="column2" >
		<?
		$query = "select id, widgetid, title, url from controlpanel where userid = '".$_SESSION["ID"]."' and colid = '2' order by rowid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
		while(list($id, $widgetid, $title, $url) = mysql_fetch_array($qok))
		{
			?>
			<div class="dragbox" id="item<?=$widgetid;?>" >
				<table width=100% cellpadding=0 cellspacing=0>
				<tr>	
					<td align=left width=80%><h2><?=$title;?></h2></td>
					<td align=right NOWRAP bgcolor="#eeeeee" width=20%>
						<div style="padding-top:2px"><img src="/mgt/images/cpconfig.gif">&nbsp;<a href="/mgt/main.phtml?cpid=<?=$id;?>"><img src="/mgt/images/close.gif" border=0 alt="Remove Widget"></a>&nbsp;
					</td>
				</tr>
				</table>	
			
				<div class="dragbox-content" ><IFRAME src="<?=$url;?>" name="widget<?=$widgetid;?>" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="width:100%;height:300;overflow:visible;"></IFRAME></div>
			</div>			
			<?
		}
		?>		
	</div>
	
	<div class="column" id="column3" >
		<?
		$query = "select id, widgetid, title, url from controlpanel where userid = '".$_SESSION["ID"]."' and colid = '3' order by rowid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
		while(list($id, $widgetid, $title, $url) = mysql_fetch_array($qok))
		{
			?>
			<div class="dragbox" id="item<?=$widgetid;?>" >
				<table width=100% cellpadding=0 cellspacing=0>
				<tr>	
					<td align=left width=80%><h2><?=$title;?></h2></td>
					<td align=right NOWRAP bgcolor="#eeeeee" width=20%>
						<div style="padding-top:2px"><img src="/mgt/images/cpconfig.gif">&nbsp;<a href="/mgt/main.phtml?cpid=<?=$id;?>"><img src="/mgt/images/close.gif" border=0 alt="Remove Widget"></a>&nbsp;
					</td>
				</tr>
				</table>	
			
				<div class="dragbox-content" ><IFRAME src="<?=$url;?>" name="widget<?=$widgetid;?>" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" style="width:100%;height:300;overflow:visible;"></IFRAME></div>
			</div>			
			<?
		}
		?>
	</div>
	
	
	<hr style="clear:both;" />
	</form>

	<?
	// get the number of failed attempts in the last 7 days
	$anhourago = date("Y-m-d H:i:s", (time() - (86400 * 7)));
	$query = "select count(*) from login_log where un = '".$_SESSION["UN"]."' and tstamp >= '$anhourago' and success = '0'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
	list($failed_attempts) = mysql_fetch_array($qok);
	
	$anhourago = date("Y-m-d H:i:s", (time() - (86400 * 7)));
	$query = "select count(distinct(ip_addr)) from login_log where un = '".$_SESSION["UN"]."' and tstamp >= '$anhourago'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query"; exit; }
	list($different_ips) = mysql_fetch_array($qok);
	
	?>
	
	<table>
	<tr>
		<? 
		if($failed_attempts > 0)
		{?>
		<td>
			<a href="javascript:void(0);"  onclick="javascript:e2window('/mgt/cf/login_log.phtml', 'Login Log');">There have been <?=$failed_attempts;?> failed logins.</a>
		</td>
		<?
		}
		?>
		
		<? 
		if($different_ips > 0)
		{?>
		<td>
			<a href="javascript:void(0);"  onclick="javascript:e2window('/mgt/cf/login_log.phtml', 'Login Log');">There have been <?=$different_ips;?> logins from different IPs.</a>
		</td>
		<?
		}
		?>		
	</tr>
	</table>
	
	</td>
</tr>
</table>
	
	


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>

</body>
</html>