<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<tr id="relatedrow_<?=$pid?>_<?=$id?>">
    <td colspan="7" align="right">
        <table style="font-size:12px; border:1px solid black" cellspacing="5">
            <tr>
                <td>Wharehouse</td>
                <td>RMA Inventory</td>
                <td>Avg. Cost</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <select name="whid" id="relatedwhid_<?=$rid?>_<?=$id?>" class="formSelect" onchange="updateInvInfoRelated('<?=$id?>','<?=$rid?>')">
                        <option value="0">--- SELECT ---
                        <?
                        $rma_id ='';
                        $query2 = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key != ''";
                        if(!$qok2 = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        while(list($whid, $whname) = mysql_fetch_array($qok2))
                        {
                                if (trim($whname) == 'RMA') {
                                        $rma_id = $whid;
                                }
                        ?>
                        <option value="<?=$whid;?>" <?if($whid == $_SESSION["SAVEDSEARCH"]['whid']) echo "SELECTED";?>><?=$whname;?></option>
                        <?	
                        }
                        ?>
                    </select>
                </td>
                <td align="center">
                    <?
                    $query2 = "select qty from rma_management where id='$rid'";
                    if(!$q5ok = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($wh_qty) = mysql_fetch_array($q5ok);
                    ?>
                    <input type="text" name="inv" value="<?=$wh_qty?>" class="formBox" id="relatedinv_<?=$rid?>_<?=$id?>"  onkeypress="" style="width:50px;"/>

                </td>
                <td>
                        <input type="text" name="cost" class="formBox" class="formBox" id="relatedcost_<?=$rid?>_<?=$id?>"  onkeypress="" style="width:50px;"/>
                </td>
                <td>
                        <a href="javascript:void(0)" onclick="saveInvInfoRelated('<?=$pid?>','<?=$id?>','<?=$rid?>')">Move</a>
                </td>
                <td>
                        <a href="javascript:void(0)" onclick="closeDiv('relatedrow_<?=$pid?>_<?=$id?>')">Close</a>
                </td>
                <td height="30px" colspan="4" align="center">
                        <img src='/mgt/images/loading.gif' id="loading" style="display:none;">
                </td>
            </tr>
<!--            <tr>
                    <td>
                            <a href="javascript:void(0)" onclick="moveToCredit('<?=$rid?>','<?=$id?>')">move to RMA credits</a>
                    </td>
            </tr>-->
        </table>
    </td>
</tr>
