<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$q = "SELECT manpart FROM product_list WHERE id='".$pid."'";
if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($manpart) = mysql_fetch_array($qok2);

$q = "SELECT id,descr FROM product_list WHERE manpart='".$manpart."' AND kit='0'";
if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }



?>
 <table width="100%" class="sortable">
    <tr bgcolor="#eeeeee">
            <td align="left"><b>PID</b></td>
            <td align="left"><b>ManPart</b></td>
            <td align="center"><b>Title</b></td>
            <td align="center"><b>Ebay</b></td>
            <td align="center"><b>Amazon</b></td>
            <td align="center"><b>NY Wh</b></td>
            <td align="center"><b>Action</b></td>
    </tr>
    <?
    while(list($id,$title) = mysql_fetch_array($qok2)) {
        $query = "select count(*) from ebay_listings where pid = '$id' and active = '1'";
        if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($ebay_num_listed) = mysql_fetch_array($q4ok);

        $query = "select count(*) from amazon_base_messages where pid = '$id' and asin != ''";
        if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($amazon_num_listed) = mysql_fetch_array($q4ok);
        
        $query = "select sum(inv_available),cost from product_inventory where whid = '0' and id = '$id' group by whid";
        if(!$q5ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
        list($inv_available, $total_cost) = mysql_fetch_array($q5ok);
        ?>
        <tr>
            <td align="left"><?=$id?></td>
            <td align="left"><?=$manpart?></td>
            <td align="left"><?=$title?></td>
            <td align="left"><?=$ebay_num_listed?></td>
            <td align="left"><?=$amazon_num_listed?></td>
            <td align="left"><?=$inv_available?></td>
            <td align="center"><a href="javascript:void(0)" onclick="changePidSave('<?=$pid?>','<?=$id?>','<?=$rmaid?>')">change</a></td>
        </tr>
        <?
    }
    ?>
    <tr>
        <td><a href="javascript:void(0)" colspan="3" onclick="$('#relatedItems').hide()">close</a></td>
    </tr>
</table>

