<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>RMA Management</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery_offset.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

function searchSKUs(pagenumVal){
	
	$("#savecover").show();
	var prodid = $('#id').val();
	var keywords = $('#keywords').val();
	var asin = $('#asin').val();
	var fbasku = $('#fbasku').val();
	var upc = $('#upc').val();
	var listidVal = $('#listid').val();
	var fnsku = $('#fnsku').val();
	
	if(document.skusearch.nolist.checked)
		nolistVal = 1;
	else
		nolistVal = 0;
	if(document.skusearch.hasasin.checked)
		hasasin = 1;
	else
		hasasin = 0;
	if(document.skusearch.hasupc.checked)
		hasupc = 1;
	else
		hasupc = 0;
	if(document.skusearch.exclude_kits.checked)
		exclude_kits = 1;
	else
		exclude_kits = 0;
	if(nolistVal == 1 && parseInt(listidVal) > 0)
	{
		alert('You cannot search "nolist" with a list selected');
		$("#savecover").hide(); 
		return;
	}
	
	$.get("ajax_skusearch2.phtml", 
			{
				'id':prodid,
				'keywords':keywords,
				'asin':asin,
				'fbasku':fbasku,
				'upc':upc,
				'hasupc':hasupc,
				'hasasin':hasasin,
				'exclude_kits':exclude_kits,
				listid:listidVal,
				nolist:nolistVal,
				'fnsku':fnsku,
				p:pagenumVal
				
			},function(data){
			
			$('#reportdata').html(data);  
			$("#savecover").hide(); 	
			sortables_init();
   	});
}
function clearForm() {

	document.skusearch.listid.selectedIndex = 0;
	document.skusearch.nolist.checked = false;
	document.skusearch.hasupc.checked = false;
	document.skusearch.hasasin.checked = false;
	document.skusearch.exclude_kits.checked = true;
	
	$('#asin').val('');
	$('#id').val('');
	$('#keywords').val('');
	$('#fbasku').val('');
	$('#fnsku').val('');
	$('#upc').val('');
	var dlg = document.getElementById("searchresults");
	dlg.innerHTML = "&nbsp;";
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
function countCharsBox(boxid)
{
	var strlength = document.getElementById(boxid).value.length;
	if (strlength >55) {
		document.getElementById(boxid).value = document.getElementById(boxid).value.substr(0,55);
	}
	var strlength = document.getElementById(boxid).value.length;
	document.getElementById(boxid+"cnt").innerHTML = "<font color='#808080'>" + strlength.toString() + " chars</font>";
}
function countCharsBoxEbay(boxid)
{
	var strlength = document.getElementById(boxid).value.length;
	if (strlength >80) {
		document.getElementById(boxid).value = document.getElementById(boxid).value.substr(0,80);
	}
	var strlength = document.getElementById(boxid).value.length;
	document.getElementById(boxid+"cnt").innerHTML = "<font color='#808080'>" + strlength.toString() + " chars</font>";
}
function saveData(pid) {
	var manpart = $('#manpart_'+pid).html();
	var title = $('#title_'+pid).html();
	var condition = $('#condition_'+pid).val();
	var whse = $('#whse_'+pid).val();
	var mgr = $('#mgr_'+pid).val();
	var assigned = $('#assigned_'+pid).val();
	var vendor = $('#vendor_'+pid).val();
	if($('#checked_'+pid).is(':checked')) {
		var checked =1;
	}
	else {
		var checked =0;
	}
	var wh_values = '';
	$('.whClass_'+pid).each(function(){
		var whid = $(this).attr('id').split('_');
//		var wh_val = $(this).val();
		var wh_val = $(this).html();
		wh_values += whid[0]+'_'+wh_val+',';
	});
	var qty = $('#qty_'+pid).val();
/*	
	var ny = $('#NY_'+pid).val();
	var fba = $('#FBA_'+pid).val();
	var fbau = $('#FBAU_'+pid).val();
	var rma = $('#RMA_'+pid).val();*/
	
	$('#save_'+pid).html('<img src="/mgt/images/loading.gif" align="center"/>');
	$.post("ajax_savedata.phtml", 
			{
				'id':pid,
				'manpart':manpart,
				'title':title,
				'condition':condition,
				'whse':whse,
				'mgr':mgr,
				'assigned':assigned,
				'vendor':vendor,
				'checked':checked,
				'qty':qty,
				'wh_values':wh_values.substr(0,wh_values.length-1)
				
			},function(data){
			
			$('#save_'+pid).html('');  
			$("#savecover").hide(); 	
   	});
}
var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchSKUs();
			return false;
		}
	}
}
function showMenu(productID)
{
	var pos = $('#item_'+productID).position();
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;

	//var menuDiv = document.getElementById("menuDiv");

	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"','item_"+productID+"');\">View SKU</a>"
	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:getItemLabelProd('"+productID+"')\">Print Asin Labels</a>";
}
function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}
function getItemLabelProd(pid) {
	var asin = '';
	$.get("/mgt/sm/ajax_get_asin.phtml", 
		{
			'id':pid
		},function(data){
			asin = data;
			if(asin!='') {
				var win = window.open("/mgt/reports/fba_shipment_creator/barcode_pdf/pdf_barcode.phtml?asin="+asin+"&pid="+pid,"mywindow","top=-1"); 
			}
			else {
				alert('Invalid ASIN number!');
			}
	});
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
            <?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td align="right" colspan="2">
				<a href="saved.phtml">View saved products</a>
			</td>
		</tr>	
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Add new</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption6"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption7"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>