<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$sku = (int) $_GET['sku'];

// verify if SKU is already in table
$query_verify = "SELECT COUNT(id) AS count
				 FROM mc_buy_bad_sku
				 WHERE sku = '$sku'
				 LIMIT 1";
if(!$qok_verify = mysql_db_query($DB, $query_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($count_verify) = mysql_fetch_array($qok_verify);
if ($count_verify == 0)
{
	$query = "INSERT INTO mc_buy_bad_sku (sku)
			  VALUES ('$sku')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$bad_sku_id = mysql_insert_id($qok);
	?>
	<tr class="sku_<?php echo $bad_sku_id; ?>">
		<td align="center"></td>
		<td align="center"><?php echo $sku; ?></td>
		<td align="center"><a href="javascript:confirmDeleteSku('Are you sure you want to delete this sku from the list?','<?php echo $bad_sku_id; ?>');"><img src="/mgt/images/del.gif" border="0" align="middle"> Remove</a></td>
	</tr>
<?php
}
?>