<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query = "INSERT INTO mc_price_markup (price1,price2,price_markup)
		  VALUES ('$markupprice1','$markupprice2','$markupvalue')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$id = mysql_insert_id($qok);
?>
<tr id="markup<?=$id?>">
    <td align="left" valign="bottom"><input value="<?php echo $markupprice1; ?>" type="text" class="formBox" style="width:90px;" /></td>
    <td align="center" valign="bottom"><input value="<?php echo $markupprice2; ?>" type="text" class="formBox" style="width:90px;" /></td>
    <td align="center" valign="bottom"><input value="<?php echo $markupvalue; ?>" type="text" class="formBox" style="width:90px;" /></td>
    <td align="center" valign="bottom"><img src="/mgt/images/del.gif" onclick="deletePriceMarkup('<?=$id?>')"/></td>
</tr>