<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query = "INSERT INTO mc_weight_markup (weight1,weight2,weight_markup)
		  VALUES ('$markupweight1','$markupweight2','$markupvalueweight')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$id = mysql_insert_id($qok);
?>
<tr id="markupweight<?=$id?>">
    <td align="left" valign="bottom"><input value="<?php echo $markupweight1; ?>" type="text" class="formBox" style="width:90px;" /></td>
    <td align="center" valign="bottom"><input value="<?php echo $markupweight2; ?>" type="text" class="formBox" style="width:90px;" /></td>
    <td align="center" valign="bottom"><input value="<?php echo $markupvalueweight; ?>" type="text" class="formBox" style="width:90px;" /></td>
    <td align="center" valign="bottom"><img src="/mgt/images/del.gif" onclick="deleteWeightMarkup('<?=$id?>')"/></td>
</tr>