<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$query_history = "SELECT bb_import_date, bb_import_count, export_file, export_match_count, export_nomatch_count, export_date,export_match_count_new,export_match_count_new_no_qty,export_match_count_ref,export_match_count_ref_no_qty
				  FROM mc_batch_history
				  LIMIT 1";
if(!$qok_history = mysql_db_query($DB, $query_history, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! Internal Error"; exit; }  }	
list($bb_import_date, $bb_import_count, $export_file, $export_match_count, $export_nomatch_count, $export_date,$export_match_count_new,$export_match_count_new_no_qty,$export_match_count_ref,$export_match_count_ref_no_qty) = mysql_fetch_array($qok_history);

$query_history = "SELECT count(*)
				  FROM mc_buy_sku_tmp
				  LIMIT 1";
if(!$qok_history = mysql_db_query($DB, $query_history, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! Internal Error"; exit; }  }	
list($total_skus) = mysql_fetch_array($qok_history);

?>
<html>
<head>
	<title>buy.com</title>
	<meta http-equiv="Content-Style-Type" content="text/css">
	<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
	<style>
	#form_upload {
		float:left;
		width:400px;
		height:90%;
		display:inline-block !important;
		margin:10px 0 0 10px;
	}
	
	#bad_skus {
		overflow-x:scroll;
		overflow-y:scroll;
		float:left;
		width:250px;
		height:90%;
		display:inline-block !important;
		margin:10px 0 0 10px;
	}
	
	#options {
		float:left;
		height:500px;
		display:inline-block !important;
		margin:10px 0 0 10px;
	}
	
	#options input {
		padding-left:5px;
	}
	</style>
	<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
	<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
	<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
	<script src="/mgt/js/jquery.tools.1.0.5.js" type="text/javascript"></script>
	<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
	<script>
	function GetXmlHttpObject()
	{
		var xmlHttp=null;
	
		try
	    {
			// Firefox, Opera 8.0+, Safari
			xmlHttp=new XMLHttpRequest();
		}
	    catch (e)
	    {
	    	// Internet Explorer
	        try
	        {
				xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
			}
			catch (e)
	        {
	        	try
				{
					xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
				}
	            catch (e)
	            {
	            	alert("Your browser does not support AJAX!");
					return false;
				}
			}
		}
		
		return xmlHttp;
	}
	
	var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
	var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
	var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
	
	function importFiles()
	{
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
		document.getElementById('export_btn').disabled = true;
	  	document.getElementById('loading').innerHTML =  '<img src="/mgt/images/loading.gif">';
		var url = 'ajax_import.phtml';
	
		xmlHttp.onreadystatechange=importFiles2;
		xmlHttp.open('GET',url,true);
		xmlHttp.send(null);
	}
	
	function importFiles2()
	{
		if(xmlHttp.readyState==4)
		{ 
			var data = xmlHttp.responseText;
			document.getElementById('loading').innerHTML =  '';
			if (data == 'kkk') {
				document.getElementById('export_btn').disabled = false;
			} else {
				document.getElementById('errors').innerHTML = data;
			}
		}
	}
	
	function exportFile(url)
	{
		xmlHttp=GetXmlHttpObject();
		if (xmlHttp==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	  	
		document.getElementById('export_btn').disabled = true;
	  	document.getElementById('loading').innerHTML =  '<img src="/mgt/images/loading.gif">';

	  	var exclude_part = document.getElementById('exclude_part');
	  	var exclude_part_all = document.getElementById('exclude_part_all');
	  	var shipping_cost = document.getElementById('shipping_cost');
	  	if (exclude_part.value != '' && exclude_part.value > 0)
	  	{
	  		url += '?exclude_part=' + exclude_part.value;
	  	}
	  	else
	  	{
	  		url += '?exclude_part=';
	  	}
	  	
	  	if (exclude_part_all.value != '' && exclude_part_all.value > 0)
	  	{
	  		url += '&exclude_part_all=' + exclude_part_all.value;
	  	}
	  	else
	  	{
	  		url += '&exclude_part_all=';
	  	}
	  	
	  	if (shipping_cost.value != '' && shipping_cost.value > 0)
	  	{
	  		url += '&shipping_cost=' + parseFloat(shipping_cost.value).toFixed(2);
	  	}
	  	else
	  	{
	  		url += '&shipping_cost=';
	  	}
	  	document.getElementById('upload_btn').disabled  = true;
		xmlHttp.onreadystatechange=exportFile2;
		xmlHttp.open('GET',url,true);
		xmlHttp.send(null);
	}
	
	function exportFile2()
	{
		if(xmlHttp.readyState==4)
		{ 
			var data = xmlHttp.responseText;
			document.getElementById('loading').innerHTML =  '';
			document.getElementById('export_btn').disabled = false;
			document.getElementById('export_result').innerHTML = data;
			
			$.get('ajax_get_export_btn.phtml',{}, function(data2) {
				$('#uploadBtn').html(data2);
			});
			
		}
	}
	function uploadFile(filename) {
		$.get('upload_file.phtml',{'filename':filename}, function(data2) {
				
		});
	}
	function confirmDeleteSku(msg,id) {
	    var answer = confirm(msg)
	    if (answer)
	    {
	        $.get('ajax_remove_bad_sku.phtml',{ 'id': id }, function(data) {
				$('#list_bad_skus .sku_' + id).remove();
			});
	    }
	}
	
	function addSku() {
		var new_sku = $('#new_sku').val();
		if (new_sku == '') {
	  		alert ("You forgot to write new SKU number.");
	  		return;
		}
		$.get('ajax_add_bad_sku.phtml',{ 'sku': new_sku }, function(data) {
				$('#list_bad_skus').append(data);
				$('#new_sku').val('');
		});
	}
	
	function updateSkusFile(file) {
		$('#update_sku_file #loading').html('<img src="/mgt/images/loading.gif">');
		$('#update_sku_file input[type=button]').attr('disabled', 'disabled');
	  	$.get('ajax_update_bad_sku_file.phtml',{ 'file' : file }, function(data) {
		  	$('#update_sku_file #loading').html(data);
			$('#update_sku_file input[type=button]').removeAttr('disabled');
	  	});
	}
	
	function updateOptions() {
		var markup_price_percent = $('#markup_price_percent').val();
		var min_price = $('#min_price').val();
		var max_qty = $('#max_qty').val();
		var min_qty = $('#min_qty').val();
		var shipping_cost = $('#shipping_cost').val();
		var exclude_part = $('#exclude_part').val();
		var exclude_part_all = $('#exclude_part_all').val();
	
		if (markup_price_percent == '') {
	  		alert ("You forgot to write markup price percent option.");
	  		return;
		}
	
		if (min_price == '') {
	  		alert ("You forgot to write minim price option.");
	  		return;
		}
	
		if (max_qty == '') {
	  		alert ("You forgot to write maximum quantity option.");
	  		return;
		}
	
		$('#options #loading').html('<img src="/mgt/images/loading.gif">');
		$('#options input[type=button]').attr('disabled', 'disabled');
	  	$.get('ajax_update_options.phtml',{ 'markup_price_percent' : markup_price_percent, 'min_price' : min_price, 'max_qty' : max_qty, 'min_qty' : min_qty, 'shipping_cost' : shipping_cost, 'exclude_part' : exclude_part, 'exclude_part_all' : exclude_part_all }, function(data) {
		  	$('#options #loading').html(data);
			$('#options input[type=button]').removeAttr('disabled');
	  	});
	}
	function addMarkupPrice(pid) {
		var markupprice1 = $('#markup_price1').val();
		var markupprice2 = $('#markup_price2').val();
		var markupvalue = $('#markup_value').val();
		$.get('ajax_add_markup.phtml',{ 'markupprice1': markupprice1,'markupprice2': markupprice2,'markupvalue': markupvalue }, function(data) {
		    $('#markupline').before(data);
		    $('#markup_price1').val('');
		    $('#markup_price2').val('');
		    $('#markup_value').val('');
		});
	}
	function deletePriceMarkup(mid) {
		$.get('ajax_delete_markup.phtml',{ 'id': mid}, function(data) {
		    $('#markup'+mid).remove();
		});
	}
	function addMarkupWeight(pid) {
		var markupweight1 = $('#markup_weight1').val();
		var markupweight2 = $('#markup_weight2').val();
		var markupvalueweight = $('#markup_weightvalue').val();
		$.get('ajax_add_markupweight.phtml',{ 'markupweight1': markupweight1,'markupweight2': markupweight2,'markupvalueweight': markupvalueweight }, function(data) {
		    $('#weightmarkupline').before(data);
		    $('#markup_weight1').val('');
		    $('#markup_weight2').val('');
		    $('#markup_weightvalue').val('');
		});
	}
	function deleteWeightMarkup(mid) {
		$.get('ajax_delete_markupweight.phtml',{ 'id': mid}, function(data) {
		    $('#markupweight'+mid).remove();
		});
	}
	</script>	
</head>
<body>
<div id="form_upload">
	<h4>Export TXT file <div id="loading" style="display:inline;"></h4>
	<table width="100%">
	<tr>
		<td colspan="2"><div id="errors" style="color:#ff0000"></div></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="<?php echo 'upload/download_csv.php?file=6198305.csv'; ?>" title="Download last export file">
				Download Last import
			</a>
			from BrokerBin: <?php echo $bb_import_date; ?>(items: <?php echo number_format($bb_import_count); ?>)
				
		</td>
	</tr>
	<tr>
		<td colspan="2">
		    <table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td colspan="2"><a href="<?php echo 'exported_files/download_csv.php?file='.$export_file; ?>" title="Download last export file">Download last export file</a> (created date: <?php echo $export_date; ?>)</td>
				</tr>
			</table>	
			<table cellpadding="2" cellspacing="2" border="0">
				<tr>
					<td><b><u>Items Matched</u></b></td>
					<td><b><?=$export_match_count?></b></td>
				</tr>
				<tr>
					<td>New Items:</td>
					<td><?=$export_match_count_new?></td>
				</tr>
				<tr>
					<td>New Items qty = 0</td>
					<td><?=$export_match_count_new_no_qty?></td>
				</tr>
				<tr>
					<td>New Items qty > 0</td>
					<td><?=($export_match_count_new - $export_match_count_new_no_qty)?></td>
				</tr>
				<tr>
					<td colspan="2" height="10px">&nbsp;</td>
				</tr>
				<tr>
					<td>Ref Items:</td>
					<td><?=$export_match_count_ref?></td>
				</tr>
				<tr>
					<td>Ref Items qty = 0</td>
					<td><?=$export_match_count_ref_no_qty?></td>
				</tr>
				<tr>
					<td>Ref Items qty > 0</td>
					<td><?=($export_match_count_ref - $export_match_count_ref_no_qty)?></td>
				</tr>
				<tr>
					<td><b><u>Items Not Matched</u></b></td>
					<td><b><?=$export_nomatch_count?></b></td>
				</tr>
				<tr>
					<td><b><u>Total Buy.com skus</u></b></td>
					<td><b><?=$total_skus?></b></td>
				</tr>
				<tr>
					<td><b><u>Total file items</u></b></td>
					<td><b><?=$export_match_count+($export_nomatch_count*2)?></b></td>
				</tr>
				<tr>
					<td><b><u>Total file items with qty</u></b></td>
					<td><b><?=($export_match_count_ref - $export_match_count_ref_no_qty) + ($export_match_count_new - $export_match_count_new_no_qty)?></b></td>
				</tr>
				
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td width="20%" valign="bottom" align="left">Export TXT file</td>
		<td width="80%" valign="bottom"><input type="button" name="export" id="export_btn" value="Export TXT file" onclick="exportFile('export_csv_new.phtml');" class="buttonItem" />&nbsp;<span id="export_result"></span></td>
	</tr>
	<tr>
		<td width="20%" valign="bottom" align="left">&nbsp;</td>
		<td width="80%" valign="bottom" id="uploadBtn">
			<input type="button" name="upload" id="upload_btn" value="Upload file" onclick="uploadFile('<?=$export_file?>');" class="buttonItem" />
			(created date: <?php echo $export_date; ?>)
		</td>
	</tr>
	</table>
</div><!-- #form_upload -->

<div id="options">
	<h4>Options <div id="loading" style="display:inline;"></h4>
	<table width="100%">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="16" align="center">Option key</th>
		<th height="16" align="center">Option value</th>
	</tr>
	<?php
	$query_options = "SELECT id, option_key, option_value
					  FROM mc_options";
	if(!$qok_options = mysql_db_query($DB, $query_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	while (list($option_id,$option_key,$option_value) = mysql_fetch_array($qok_options))
	{
		?>
		<tr>
			<td align="left" valign="bottom">
				<?php 
				if ($option_key == 'exclude_part') {
					echo "Exclude parts with X NUMERIC digits";
				}
				elseif ($option_key == 'exclude_part_all') {
					echo "Exclude parts with X ALL digits";
				}
				elseif ($option_key == 'shipping_cost') {
					echo "Shipping cost";
				}
				else {
					echo ucfirst(str_replace('_',' ',$option_key)); 
				}
				?>
			</td>
			<td align="center" valign="bottom"><input value="<?php echo $option_value; ?>" type="text" class="formBox" style="width:90px;" name="<?php echo $option_key; ?>" id="<?php echo $option_key; ?>"></td>
		</tr>
		<?php
	}
	?>
	<tr>
		<td colspan="2" align="center" valign="bottom">&nbsp;</td>
	</tr>	
	<tr>
		<td colspan="2" align="center" valign="bottom"><input type="button" name="add_sku" value="Update options" onclick="updateOptions();" class="buttonItem"></td>
	</tr>	
	<tr>
		<td colspan="2" align="center" valign="bottom">&nbsp;</td>
	</tr>	
	<tr>
		<td colspan="2" align="center" valign="bottom">Add a new BUY ID to exclude</td>
	</tr>	
	<tr>
		<td align="center"><input value="" type="text" class="formBox" style="width:90px;" name="new_sku" id="new_sku"></td>
		<td align="center"><input type="button" name="add_sku" value="Add SKU" onclick="addSku();" class="buttonItem"></td>
	</tr>
	</tbody>
	</table>
</div><!-- #options -->
<div id="options">
	<h4>Price Markup <div id="loading" style="display:inline;"></h4>
	<table width="100%">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="16" align="center">Price 1</th>
		<th height="16" align="center">Price 2</th>
		<th height="16" align="center">Markup</th>
		<th height="16" align="center">&nbsp;</th>
	</tr>
	<?php
	$query_options = "SELECT id,price1,price2,price_markup
					  FROM mc_price_markup";
	if(!$qok_options = mysql_db_query($DB, $query_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	while (list($id, $price1,$price2,$price_markup) = mysql_fetch_array($qok_options))
	{
	    ?>
	    <tr id="markup<?=$id?>">
		<td align="left" valign="bottom"><input value="<?php echo $price1; ?>" type="text" class="formBox" style="width:90px;" /></td>
		<td align="center" valign="bottom"><input value="<?php echo $price2; ?>" type="text" class="formBox" style="width:90px;" /></td>
		<td align="center" valign="bottom"><input value="<?php echo $price_markup; ?>" type="text" class="formBox" style="width:90px;" /></td>
		<td align="center" valign="bottom"><img src="/mgt/images/del.gif" onclick="deletePriceMarkup('<?=$id?>')"/></td>
	    </tr>
	    <?php
	}
	?>
	<tr id="markupline">
		<td colspan="4" align="center" valign="bottom">&nbsp;</td>
	</tr>
	<tr>
		<td align="left"><input type="text" class="formBox" style="width:90px;" id="markup_price1"></td>
		<td align="left"><input type="text" class="formBox" style="width:90px;" id="markup_price2"></td>
		<td align="left"><input type="text" class="formBox" style="width:90px;" id="markup_value"></td>
		<td align="center" valign="bottom"><input type="button" name="add_markup" value="Add" onclick="addMarkupPrice();" class="buttonItem"></td>
	</tr>
	</tbody>
	</table>
	<h4>Weight Markup <div id="loading" style="display:inline;"></h4>
	<table width="100%">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="16" align="center">Weight 1</th>
		<th height="16" align="center">Weight 2</th>
		<th height="16" align="center">Cost</th>
		<th height="16" align="center">&nbsp;</th>
	</tr>
	<?php
	$query_options = "SELECT id,weight1,weight2,weight_markup
					  FROM mc_weight_markup";
	if(!$qok_options = mysql_db_query($DB, $query_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	while (list($id, $weight1,$weight2,$weight_markup) = mysql_fetch_array($qok_options))
	{
	    ?>
	    <tr id="markupweight<?=$id?>">
		<td align="left" valign="bottom"><input value="<?php echo $weight1; ?>" type="text" class="formBox" style="width:90px;" /></td>
		<td align="center" valign="bottom"><input value="<?php echo $weight2; ?>" type="text" class="formBox" style="width:90px;" /></td>
		<td align="center" valign="bottom"><input value="<?php echo $weight_markup; ?>" type="text" class="formBox" style="width:90px;" /></td>
		<td align="center" valign="bottom"><img src="/mgt/images/del.gif" onclick="deleteWeightMarkup('<?=$id?>')"/></td>
	    </tr>
	    <?php
	}
	?>
	<tr id="weightmarkupline">
		<td colspan="4" align="center" valign="bottom">&nbsp;</td>
	</tr>
	<tr>
		<td align="left"><input type="text" class="formBox" style="width:90px;" id="markup_weight1"></td>
		<td align="left"><input type="text" class="formBox" style="width:90px;" id="markup_weight2"></td>
		<td align="left"><input type="text" class="formBox" style="width:90px;" id="markup_weightvalue"></td>
		<td align="center" valign="bottom"><input type="button" name="add_markupweight" value="Add" onclick="addMarkupWeight();" class="buttonItem"></td>
	</tr>
	</tbody>
	</table>
</div><!-- #options -->

<div id="bad_skus">
	<h4>Excluded SKU's</h4>
	<table width="100%" id="list_bad_skus">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238);">
		<th height="16" width="10%"></th>
		<th height="16" width="50%">SKU</th>
		<th height="16" width="40%"></th>
	</tr>
	<?php
	$query = "SELECT id, sku
			  FROM mc_buy_bad_sku";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	$i = 1;
	while (list($id, $sku) = mysql_fetch_array($qok))
	{
		?>
		<tr class="sku_<?php echo $id; ?>">
			<td align="center"><?php echo $i; ?>.</td>
			<td align="center"><?php echo $sku; ?></td>
			<td align="center"><a href="javascript:confirmDeleteSku('Are you sure you want to delete this sku from the list?','<?php echo $id; ?>');"><img src="/mgt/images/del.gif" border="0" align="middle"> Remove</a></td>
		</tr>
		<?php
		++$i;
	}
	?>
	</tbody>
	</table>
</div><!-- #bad_skus -->
</body>
</html>