<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$en = intval($en);

$ipp = $efc->getConfigValue("eFluent Settings", "iPortal Password");

?>
<HTML>
<HEAD>
<TITLE>Static Specs</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<LINK HREF="/mgt/iportal/ts.css" TYPE="text/css" REL="stylesheet">
<script language="JavaScript">
function checkdata()
{
	if(document.ticket.title.value == "")
	{
		alert('You must enter the title');
		return false;
	}
	
	if(document.ticket.tcat.selectedIndex == 0)
	{
		alert('You must select a category.');
		return false;
	}
	if(document.ticket.type.selectedIndex == 0)
	{
		alert('You must select a type (classification).');
		return false;
	}
	
	return true;
}
</script>
</HEAD>
<body topmargin="0">
		<?
		if($DB == 'butterfly') {
		    $xurl = 'http://ecomelectronics.com/tickets';
		}
		else {
		    $xurl = 'http://209.213.117.115';
		}
		?>
		<form name="ticket" action="<?=$xurl?>/client/saveticket.phtml" method="post" onsubmit="return checkdata();" enctype="multipart/form-data">
	
		<input type="hidden" name="ca" value="<?=$DB;?>">
		<input type="hidden" name="dn" value="<?=$_SESSION["DISPLAYNAME"];?>">
		<input type="hidden" name="ea" value="<?=$_SESSION["EMAILADDR"];?>">
		<input type="hidden" name="pw" value="<?=$ipp;?>">
		<table border=0>
		<tr>
			<td align=right><B>Title:</B></td>
			<td><input type="text" style="width:325px" class="formbox" name="title"></td>
		</tr>
		<tr>
			<td align=right><B>Priority:</B></td>
			<td>
				<select name="priority" class="formselect">
					<option value="0">Low</option>
					<option value="1">Elevated</option>
					<option value="2">Urgent</option>
				</select>
			</td>
		</tr>
			
		<tr>
			<td align=right><B>Category:</B></td>
			<td>
				<select name="tcat" class="formselect">
					<option value="-1">--- CATEGORY ---</option>
					<option value="1">General Development</option>
					<option value="4">Ideas and Suggestions</option>
					<option value="2">Price Engine Issues</option>
					<option value="3">Support Request</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align=right><B>Type:</B></td>
			<td>
				<select name="type" class="formselect">
					<option value="-1">--- TYPE ---</option>
					<option value="0">Task
					<option value="1">Bug
					<option value="2">Enhancement
					<option value="3">New Feature
				</select>
				
			</td>
		</tr>	
		<tr>
			<td align=right><B>Attachment</B></td>
			<td>
			<input type="file" name="form_data" class="formbox">
			<input type="hidden" name="filesize" value="2500000">
			</td>
		</tr>			
		</table>
		
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td colspan=2>
			<?
			$pm_enhanced = $en;
			
			if($pm_enhanced == 1)
			{
				?>
				<div align=right style="padding-right:20px;"><a href="/mgt/iportal/createticket.phtml?en=0">Use Simple Editor</a></div>
				<?
				$sBasePath = "/mgt/help/";
				
				$oFCKeditor = new FCKeditor('FCKeditor1') ;
				$oFCKeditor->BasePath	= $sBasePath ;
				$oFCKeditor->Value		= '' ;
				$oFCKeditor->Width = "98%";
				$oFCKeditor->Height = "350";
				$oFCKeditor->Create() ;
			}
			else 
			{
				?>
				<div align=right style="padding-right:20px;"><a href="/mgt/iportal/createticket.phtml?en=1">Use WYSIWYG Editor</a></div>
				<textarea style="width:98%;height:350px;" name="FCKeditor1"></textarea>
				<?
			}
			?>
			</td>
		</tr>
		</table>	
		<BR><BR>	
		<input type="submit" name="Action" value="Submit Ticket" class="formbttn">
		</form>
</body>
</HTML>