
td {font-family: verdana, helvetica, arial;color: #000000;font-size: 8pt;border-width: 0;font-weight: normal;text-decoration: none;}
a {
	text-decoration: underline;
	color:#3082A8;
	font-size:11px;
}

body { 	margin:0px;padding:0px;	}
.copy{
font-family:Tahoma;
font-size:11px;
color:#6B6B6B;
text-decoration:none;
}

.top_txt {color:#646464; font-size:10px}

.gray {color:#6B6B6B; text-decoration:none}
.blue {color:#3082A8}
.green {color:#94BE23}



a:hover{text-decoration:underline;}

#under{text-decoration:underline;}

.formBox
{
	border: 1px solid #AAAAAA;
	color: #333;
	font-size: 8pt;
	width: 180px;
	
}

.formSelect
{
	border-color: #AAAAAA;
	color: #333;
	font-size: 8pt;
	
}

.formBoxMed
{
	border: 1px solid #AAAAAA;
	color: #333;
	font-size: 8pt;
	width: 100px;
	
}

.formBoxSmall
{
	border: 1px solid #AAAAAA;
	color: #333;
	font-size: 8pt;
	width: 60px;
	
}

.formBoxTiny
{
	border: 1px solid #AAAAAA;
	color: #333;
	font-size: 8pt;
	width: 40px;
	
}

.formBoxLogin
{
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	color: #333;
	font-size: 8pt;
	width: 140px;
	
}

h1
{
	font-size: 13pt;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	background-color: #F1F3F7; 
	border: 1px solid #94A4B8;
	padding: 3px;
	padding-left: 6px;
	color: #000000;
	text-align: left;
}

h2
{
	font-size: 9pt;
	font-weight: bold;
	margin-top: 10px;
	
}

h3 
{
	font-size: 9pt;
	font-weight: bold;
}

h4 
{
	font-size: 10pt;
	font-weight: bold;
	margin:0px;
}

.settingsheader
{
	font-size: 9pt;
	font-weight: bold;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #F1F3F7;
	color: #000000;
}

.g{font-family: verdana, helvetica, arial;color: #000000;font-size: 8pt;border-width: 0;font-weight: normal;text-decoration: none;}
.g:active,.g:visted,.g:link{font-family: verdana, helvetica, arial;color: #000000;font-size: 8pt;border-width: 0;font-weight: normal;text-decoration: none;}
.g:hover{font-family: verdana, helvetica, arial;color: #000080;font-size: 8pt;border-width: 0;font-weight: normal;text-decoration: underline;}

.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#eeeeee;}