<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$en = intval($en);

$ipp = $efc->getConfigValue("eFluent Settings", "iPortal Password");

$poststring = "en=$en&tid=$tid&ca=$DB&dn=".urlencode($_SESSION["DISPLAYNAME"])."&ea=".$_SESSION["EMAILADDR"]."&pw=$ipp";
if($DB == 'butterfly') {
    $xurl = 'http://ecomelectronics.com/tickets';
}
else {
    $xurl = 'http://209.213.117.115';
}
////////////////////////////////////////////////////////////////////////////////////////////
$url = $xurl."/client/ticket_view.phtml";
$ch = curl_init();    // initialize curl handle 
curl_setopt($ch, CURLOPT_URL,$url); // set url to post to 
curl_setopt($ch, CURLOPT_FAILONERROR, 1); 
curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1);// allow redirects 
curl_setopt($ch, CURLOPT_RETURNTRANSFER,1); // return into a variable 
curl_setopt($ch, CURLOPT_TIMEOUT, 120); // times out after 120s 
curl_setopt($ch, CURLOPT_POST, 1); // set POST method 
curl_setopt($ch, CURLOPT_POSTFIELDS, $poststring); // add POST fields 
$buffer = curl_exec($ch); // run the whole process 
curl_close($ch); 
////////////////////////////////////////////////////////////////////////////////////////////
?>
<HTML>
<HEAD>
<TITLE>Static Specs</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<LINK HREF="/mgt/iportal/ts.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<body topmargin="0">
    <form name="ticket" action="<?=$xurl?>/client/ticketupdate.phtml" method="post" enctype="multipart/form-data">
<input type="hidden" name="ca" value="<?=$DB;?>">
<input type="hidden" name="dn" value="<?=$_SESSION["DISPLAYNAME"];?>">
<input type="hidden" name="ea" value="<?=$_SESSION["EMAILADDR"];?>">
<?=$buffer;?>
</form>	
</body>
</HTML>