<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//////////////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
//////////////////////////////////////


// SITE NAME VARIABLE.
$query = "select * from site_list";
if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//$data = mysql_fetch_array($qok);
while ($data = mysql_fetch_assoc($qok)) {
	$sites[] = $data;
}
// print_r($data);
/*$sitename = $data['sitename'];
$shop = $data['sitename'];
$site = $data['sitename'];*/
?>
<HTML>
<HEAD>
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
<?INCLUDE("e2win_menu.phtml");?>
<style>
.e2WinBar{ cursor: move; }
.e2Win {display:none;width:475px;height:350px;position:absolute;z-index:0;background:white;padding:0px;font:10pt tahoma;border:1px solid gray}
.cover {display:none;position:absolute;left:0px;top:0px;z-index:99;background:#eeeeee;filter:alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7}
.wl{display:none;width: 255px;height:600px;background-color:#ffffff;position:absolute;border: 1px dashed #808080;z-index:10}
</style>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.bannerdata.cat0.options[ document.bannerdata.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.bannerdata.cat1.options[ document.bannerdata.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.bannerdata.cat2.options[ document.bannerdata.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.bannerdata.cat3.options[ document.bannerdata.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.bannerdata.cat4.options[ document.bannerdata.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		searchSKUs();
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}




function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function checkData()
{
	if(document.bannerdata.sc_percent.value == "" && document.bannerdata.sc_percent.value == "")
	{
		alert("You must enter the cost as a percent or dollar amount.")
		return false;
	}
	
	return true;
}

function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<script type="text/javascript">
<!--
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
//-->
</script>
<script>
function checkBannerData()
{
	if(document.bannerdata.title.value.length <= 0)	
	{
		alert("You must enter a title.")
		return false;
	}
	
	if(document.bannerdata.pos.selectedIndex <= 0)	
	{
		alert("You must select a position.")
		return false;
	}
	
	if(document.bannerdata.catmain.selectedIndex <= 0)	
	{
		if(document.bannerdata.keywords.value.length <= 0)
		{
			alert("You must select a category or keywords.")
			return false;
		}
	}	
	
	if(document.bannerdata.shop.selectedIndex <= 0)	
	{
		alert("You must select a shop.")
		return false;
	}	
	
	if(document.bannerdata.link.value.length <= 0)	
	{
		alert("You must enter a link.")
		return false;
	}
	
	return true;
}

function checkRichData()
{
	if(document.richdata.title.value.length <= 0)	
	{
		alert("You must enter a title.")
		return false;
	}
	
	if(document.richdata.pos.selectedIndex <= 0)	
	{
		alert("You must select a position.")
		return false;
	}
	
	if(document.richdata.catmain.selectedIndex <= 0)	
	{
		if(document.richdata.keywords.value.length <= 0)
		{
			alert("You must select a category or keywords.")
			return false;
		}
	}	
	
	if(document.richdata.shop.selectedIndex <= 0)	
	{
		alert("You must select a shop.")
		return false;
	}	
	
	if(document.richdata.link.value.length <= 0)	
	{
		alert("You must enter a link.")
		return false;
	}
	
	return true;
}
</script>



<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.bannerdata.cat0.options[ document.bannerdata.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.bannerdata.cat1.options[ document.bannerdata.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.bannerdata.cat2.options[ document.bannerdata.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.bannerdata.cat3.options[ document.bannerdata.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.bannerdata.cat4.options[ document.bannerdata.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		searchSKUs();
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}



function getCategories2(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.richdata.cat0.options[ document.richdata.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.richdata.cat1.options[ document.richdata.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.richdata.cat2.options[ document.richdata.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.richdata.cat3.options[ document.richdata.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.richdata.cat4.options[ document.richdata.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		searchSKUs();
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}



function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}


function checkData()
{
	if(document.bannerdata.sc_percent.value == "" && document.bannerdata.sc_percent.value == "")
	{
		alert("You must enter the cost as a percent or dollar amount.")
		return false;
	}
	
	return true;
}


</script>
<center></center>
<?INCLUDE("banner_legend.phtml");?>
<BR>
</table>
<BR><BR>
<tr>
	<td align=left width=100% valign=top>
	<div style="padding-left:10px;padding-right:10px">

	<table width=50%>
	<tr>
		<td width=100% align=left valign=top>
				<h4>Image Banner</h4>
				
				<form method="post" name="bannerdata" enctype="multipart/form-data" action="upload.phtml" onSubmit="return checkBannerData();">
				
				<table border="0" cellpadding="26" height=330 cellspacing="0" style="border: 1px solid #888888;">
				<tr>
				<td bgcolor="#eeeeee" valign=top>
				
				<table>
				<tr>
					<td align=right>Banner Title:</td>				
					<td><input type="text" name="title" class="formbox" style="width:150px"></td>
<br>
					</tr>
				<tr>
					<td colspan=2>
						<input type="hidden" name="filesize" value="2500000">
						<input type="file" name="form_data" class="formbox">					
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<input type="hidden" name="filesize" value="2500000">
						<input type="file" name="alt_data" class="formbox">					
					</td>
				</tr>
				<tr>
					<td align=right>Position:</td>
					<td>
						<select name="pos" class="formselect">
							<option value="0">-----------</option>
							<?
							$query = "select id, title, width, height from banner_positions";
							if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
							while(list($xpos, $title, $width, $height) = mysql_fetch_array($qok))
							{
							?>
								<option value="<?=$xpos;?>" <?if($showpos == $xpos) echo "SELECTED"; ?>><?=$xpos;?> - <?=$title;?> (<?=$width;?>x<?=$height;?>)
							<?
							}
							?>
						</select>					
					</td>
				</tr>
				<tr>
					<td align=right>Keywords:</td>
					<td>
						<input type="text" name="keywords" class="formbox" style="width:100px">						
					</td>
				</tr>
				<tr>
					<td align=right>Site:</td>
					<td>
						<select name="shop" class="formselect">
							<option value="--">------------</option>
							<?
								foreach ($sites as $k=>$v) {
									?>
									<option value="<?=$v['divid']?>"><?=$v['sitename']?></option>
									<?
								}
							?>
<!--							<option value=""><?=$sitename?></option>-->
						</select>					
					</td>
				</tr>
				<tr>
					<td align=right>LINK:</td>
					<td>
						<input type="text" name="link" class="formbox" style="width:100px">				
					</td>
				</tr>
				<tr>
					<td align=right>Popup Dimensions:</td>
					<td>
						W: <input type="text" name="bwidth" class="formbox" style="width:50px">x H:<input type="text" name="bheight" class="formbox" style="width:50px">
					</td>
				</tr>
				<tr>
					<td align=right valign=top>Internal Note:</td>
					<td valign=top>
						<textarea rows=5 cols=5 class="formbox" name="inote"></textarea>				
					</td>
				</tr>				
				<tr>
					<td colspan=2 colspan=2 align=center>
						<input type="submit" name="Action" value="Upload Banner" class="formbttn">			
					</td>
				</tr>
				</table>				
				
				</td>
				</tr>
				</table>
     			</td>

     			
     			<center>
					
					<input type="hidden" name="inwin" value="<?=$inwin;?>">
					
					
						<input type="hidden" name="inwin" value="<?=$inwin;?>">
							<p>Category:<p>
								<select name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
									<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat0) > 0)
								{
									?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat0'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat1) > 0 && intval($cat0) > 0)
								{
									?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat1'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat2) > 0)
								{
									?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat2'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
				</form>		
		
		
		
		<td width=50% align=right valign=top>
				<h4>Enriched Banner</h4>

				<form method="post" name="richdata" enctype="multipart/form-data" action="upload.phtml"  onSubmit="return checkRichData();">
				
				<table border="0" cellpadding="26" height=330 cellspacing="0" style="border: 1px solid #888888;">
				<tr>
				<td bgcolor="#eeeeee" valign=top>

				<table>
				<tr>
					<td align=right>Title:</td>				
					<td><input type="text" name="title" class="formbox" style="width:150px"></td>
				</tr>
				<tr>
					<td colspan=2>
						<textarea rows=5 cols=5 class="formbox" name="img_rich"></textarea>				
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<input type="hidden" name="filesize" value="2500000">
						<input type="file" name="alt_data" class="formbox">					
					</td>
				</tr>
				<tr>
					<td align=right>Position:</td>
					<td>
						<select name="pos" class="formselect">
							<option value="0">-----------</option>
							<?
							$query = "select id, title, width, height from banner_positions";
							if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
							while(list($xpos, $title, $width, $height) = mysql_fetch_array($qok))
							{
							?>
								<option value="<?=$xpos;?>" <?if($showpos == $xpos) echo "SELECTED"; ?>><?=$xpos;?> - <?=$title;?> (<?=$width;?>x<?=$height;?>)
							<?
							}
							?>
						</select>					
					</td>
				</tr>

				<tr>
					<td align=right>Keywords:</td>
					<td>
						<input type="text" name="keywords" class="formbox" style="width:100px">						
					</td>
				</tr>
				<tr>
					<td align=right>Site:</td>
					<td>
						<select name="shop" class="formselect">
							<option value="--">------------</option>
<!--							<option value=""><?=$sitename?></option>-->
								<?
								foreach ($sites as $k=>$v) {
									?>
									<option value="<?=$v['divid']?>"><?=$v['sitename']?></option>
									<?
								}
							?>
						</select>					
					</td>
				</tr>
				<tr>
					<td align=right>LINK:</td>
					<td>
						<input type="text" name="link" class="formbox" style="width:100px">				
					</td>
				</tr>
				<tr>
					<td align=right valign=top>Internal Notes:</td>
					<td valign=top>
						<textarea rows=5 cols=5 class="formbox" name="inote"></textarea>				
					</td>
				</tr>				
				<tr>
					<td colspan=2 colspan=2 align=center>
						<input type="submit" name="Action" value="Upload Enriched Banner" class="formbttn">			
					</td>
				</tr>
				</table>
				
				</td>
				</tr>
				</table>
		</td>		
	</tr>
	</table>	
<BR>		
	</div>
	</td>
	

</tr>
</table>
</center>




								

				</form>		

</body>
</HTML>