<center>
<img src="/mgt/bmanager/img/back.ico" width=16 height=16 border=0 align="absmiddle">  <a href="/mgt/bmanager/default.phtml">Main</a>&nbsp;&nbsp;<img src="/mgt/bmanager/img/Button-Add.ico" border=0 height=14 align="absmiddle">  <a href="/mgt/bmanager/addbanner.phtml">Add Banners</a>&nbsp;&nbsp;<img src="/mgt/bmanager/img/search.ico" width=16 height=16 border=0 align="absmiddle">  <a href="/mgt/bmanager/banner_stats.phtml?id=<?=$id;?>&shop=<?=$shop;?>&showpos=<?=$showpos;?>&catid=<?=$catid;?>&ao=<?=$ao;?>">Statistics Report</a>&nbsp;&nbsp;<img src="/mgt/bmanager/img/Apps.ico" width=16 height=16 border=0 align="absmiddle">  <a href="/mgt/bmanager/banner_code.phtml">Edit Code</a>&nbsp;&nbsp;<img src="/mgt/bmanager/img/Pin-white.ico" width=16 height=16 border=0 align="absmiddle">  <a href="/mgt/bmanager/positions.phtml">Manage Positions</a>&nbsp;&nbsp;			
<?//			<a href="javascript:void(0);" onclick="window.open('/bmanager/generate_send_feeds.phtml', 'Availability', 'scrollbars=yes, width=400, height=400');" class="g2"><img src="/bmanager/img/synchronize.ico" width=16 height=16 border=0 hspace=4  align="absmiddle"> Generate / Send Feed</a>			
?>
</center>