
<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Delete")
{
	$query = "delete from banners_manager where id = '$id'";
	if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	Header("Location: /mgt/bmanager/");
	exit;	
}
else if($Action == "Update Rotation")
{
	for($xx = 0; $xx < count($id); $xx++)
	{
		$query = "update banners_manager set rotation = '".$_GET["rot_".$id[$xx]]."' where id = '".$id[$xx]."'";
		if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }			
	}
	
	Header("Location: /mgt/bmanager/");
	exit;
}
else if($Action == "Status")
{
	$query = "update banners_manager set published = '$stat' where id = '$id'";
	if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	$redirect_url = !empty($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '/mgt/bmanager/';
	Header("Location: ".$redirect_url);
	exit;	
}

if($ao == "") $ao =0;


// SITE NAME VARIABLE.
$query = "select * from site_list";
if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
/*$data = mysql_fetch_array($qok);
// print_r($data);
$sitename = $data['sitename'];*/
while ($data = mysql_fetch_assoc($qok)) {
	$sites[] = $data;
}
?>

<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.accbycat.cat0.options[ document.accbycat.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.accbycat.cat1.options[ document.accbycat.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.accbycat.cat2.options[ document.accbycat.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.accbycat.cat3.options[ document.accbycat.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.accbycat.cat4.options[ document.accbycat.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		searchSKUs();
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function checkData()
{
	if(document.accbycat.sc_percent.value == "" && document.accbycat.sc_percent.value == "")
	{
		alert("You must enter the cost as a percent or dollar amount.")
		return false;
	}
	
	return true;
}

function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<style>
.e2WinBar{ cursor: move; }
.e2Win {display:none;width:475px;height:350px;position:absolute;z-index:0;background:white;padding:0px;font:10pt tahoma;border:1px solid gray}
.cover {display:none;position:absolute;left:0px;top:0px;z-index:99;background:#eeeeee;filter:alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7}
.wl{display:none;width: 255px;height:600px;background-color:#ffffff;position:absolute;border: 1px dashed #808080;z-index:10}
</style>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?INCLUDE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=375 align=center>
				<!------------------------------------------------------------------------------------------------------------>
				<div id="leftpane" name="leftpane" style="display:block">			
					<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
						<ul class="TabbedPanelsTabGroup">
		        			<li class="TabbedPanelsTab" tabindex="0"><strong>Filter</strong></li>
		        		</ul>
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent">  
						<form name="accbycat" onsubmit="return checkData();">
						<table>
						<tr>
							<td class="g1">Site:</td>
							<td>
							
								<select name="shop" class="formselect">
								<option value="">--- SELECT ---</option>
								<?
									foreach ($sites as $k=>$v) {
										?>
										<option value="<?=$v['divid']?>" <?if ($shop == $v['divid']) { echo "SELECTED";}?>><?=$v['sitename']?></option>
										<?
									}
								?>
<!--								<option value="" <? echo "SELECTED";?>><?=$sitename?>-->
								</select>
							</td>
						</tr>
						<tr>
							<td class="g1">Position:</td>
							<td>
								<select name="showpos" class="formselect">
								<option value="0">--- SELECT ---
								<?
								$query = "select id, title, width, height from banner_positions";
								if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
								while(list($xpos, $title, $width, $height) = mysql_fetch_array($qok))
								{
								?>
									<option value="<?=$xpos;?>" <?if($showpos == $xpos) echo "SELECTED"; ?>><?=$xpos;?> - <?=$title;?> (<?=$width;?>x<?=$height;?>)
								<?
								}
								?>
								</select>
							</td>
						</tr>
						<tr>
							<td class="g1">Category:</td>
							<td>
								<select name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
								?>
									<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
								<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat0) > 0)
								{
								?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
										<option value="0">----- SELECT --------
										<?
										$query = "select catid, catname from product_categories where parentid = '$cat0'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
										?>
											<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
										<?
										}
										?>
										</select>
									</div>
								<?
								}
								else 
								{
								?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
								<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat1) > 0 && intval($cat0) > 0)
								{
								?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
											$query = "select catid, catname from product_categories where parentid = '$cat1'";
											if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($catid, $catname) = mysql_fetch_array($qok))
											{
											?>
												<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
											<?
											}
											?>
										</select>
									</div>
								<?
								}
								else 
								{
								?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
								<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat2) > 0)
								{
								?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
										<option value="0">----- SELECT --------
										<?
										$query = "select catid, catname from product_categories where parentid = '$cat2'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
										?>
											<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
										<?
										}
										?>
										</select>
									</div>
								<?
								}
								else 
								{
								?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
								<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
								
							</td>
						</tr>				
						<tr>
							<td colspan=2>
							</td>
						</tr>						
						<tr>
							<td class="g1">Show:</td>
							<td>
								<select name="ao" class="formselect">
									<option value="0" <?if($ao == "0") echo "SELECTED"; ?>>Show All Banners
									<option value="1" <?if($ao == "1") echo "SELECTED"; ?>>Show Active Banners
								</select>
								<br><br>
								<input type="submit" name="Action" value="View" class="formbttn">
							</td>
						</tr>
						</table>
						</form>	
						</div>
					</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>								
				<!------------------------------------------------------------------------------------------------------------->
			</td>
			
			<td>
				<!------------------------------------------------------------------------------------------------------------>
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td class="settingsheader"></td>
					<td class="settingsheader" align="right"></td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 10px;">
						<table width="99%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="100%" valign="top">
							
								
								<table border="0" cellpadding="2" cellspacing="0" width="100%" class="white">
								<tr>
									<td width="100%" valign="top">
									
									<form name="rotation" method="get" action="/mgt/bmanager/default.phtml" onSubmit="return checkData();">
									<input type="hidden" name="shop" value="<?=$shop;?>">
									<input type="hidden" name="catid" value="<?=$catid;?>">
									<input type="hidden" name="showpos" value="<?=$showpos;?>">
									<input type="hidden" name="ao" value="<?=$ao;?>">
									
										<table border="0" width="100%" cellpadding="2" cellspacing="0" style="border: 1px solid #888888;">
										
										<tr bgcolor="#EAEAEA">
											<td align=left><B>Pos</B></td>
											<td align=left><B>Name</B></td>
											<td align=left><B>Shop</B></td>
											<td align=left><B>Category</B></td>
											<td align=left><B>Rotation</B></td>
											<td align=left><B>Date</B></td>
											<td align=left><B>Del</B></td>
											<td align=left><B>Activate/Hide</B></td>
										</tr>
									<?
									if($showpos > 0)
									{
										if($ao == 1)$addon = " AND published = '1' ";
										
										if($shop != "")
										{
											if($addon == "") $addon = " AND divid = '$shop'";
											else $addon .= " AND divid = '$shop'";
										}
										if(intval($catid) > 0)
										{
											if($addon == "") $addon = " AND catid = '$catid'";
											else $addon .= " AND catid = '$catid'";
										}
										else if($catid == -1)
										{
											$showupdate=true;
											if($addon == "") $addon = " AND catid = '0'";
											else $addon .= " AND catid = '0'";
										}
										
										$query = "select id, title, catid, position, rotation, link, img_rich, tstamp, shop, published from 
														banners_manager where position = '$showpos' $addon order by position";
									}
									else
									{
										if($ao == 1)$addon = " WHERE published = '1' ";
										
										if($shop != "")
										{
											if($addon == "") $addon = " WHERE divid = '$shop'";
											else $addon .= " AND divid = '$shop'";
										}
										if(intval($catid) > 0)
										{
											if($addon == "") $addon = " WHERE catid = '$catid'";
											else $addon .= " AND catid = '$catid'";
										}
										else if($catid == -1)
										{
											$showupdate=true;
											if($addon == "") $addon = " AND catid = '0'";
											else $addon .= " AND catid = '0'";
										}
																		
										$query = "select id, title, catid, position, rotation, link, img_rich, tstamp, shop, published from 
														banners_manager $addon order by position";
									}
									
									if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
								
			
									$onnum = 0;	
									$lastposition = 0;
									while(list($id, $title, $catid, $position, $rotation, $link, $img_rich, $tstamp, $shop, $published) = mysql_fetch_array($qok))
									{
										$ftitle = $title;
										
										$rotlist[] = "rot_$id";
		 
										/*if(strlen($title) > 17)
											$title = substr($title, 0, 14)."...";*/
									?>
										
										<input type="hidden" name="id[]" value="<?=$id;?>">
										<tr >
												<td>
													<?=$position;?>
												</td>
												<td>
												<a alt="<?$ftitle;?>" href="javascript:void(0);" 
													onclick="window.open('/mgt/bmanager/viewbanner.phtml?id=<?=$id;?>', 'Availability', 'scrollbars=yes, resizable=yes, width=800, height=650');" class="g2"><?=$id;?> - <?=$title;?>
												</a>
												</td>
												<td><?=$sitename;?></td>
												<td NOWRAP>
												<?
												if($catid == "-1")
												{
													echo "NONE";
												}
												else if($catid == "0")
												{
													echo "ALL";
												}
												else
												{
													$query = "select catname from product_categories where catid = '$catid'";
													if(!$q2ok = mysql_db_query("$DB", $query, $mysqlid)){echo "ERROR: ".mssql_get_last_message()."<BR>";exit();	}
													list($showcatname) = mysql_fetch_array($q2ok);
													
													if(strlen($showcatname) > 15)
														$showcatname = substr($showcatname, 0, 12)."...";
														
		
													echo "$catid - $showcatname";
												}
												?></td>
												<td><input type="text" name="rot_<?=$id;?>" value="<?=$rotation;?>" class="formbox" style="width:35px"></td>
												<td align=center>
													<?=date("m/d/Y", $efc->tstamp2seconds($tstamp));?>
												</td>
												<td>
												<a href="javascript:makesure('Are you sure you want to delete this banner?', '/mgt/bmanager/default.phtml?Action=Delete&id=<?=$id;?>');" class="g2">
													<img src="/mgt/images/del.gif" width=16 height=16 border=0 align="absmiddle">
												</a>
												</td>
												
												<td>
													<?
													if($published == 1)
													{
													?>
														<img src="/mgt/images/pub.gif" width=16 height=16 border=0  align="absmiddle"> <a href="/mgt/bmanager/default.phtml?Action=Status&id=<?=$id;?>&stat=0&shop=<?=$shop;?>&showpos=<?=$showpos;?>&catid=<?=$catid;?>&ao=<?=$ao;?>" class="g2" >
														Active</a>											
														
													<?
													}
													else 
													{
													?>
														<img src="/mgt/images/blocked.gif" width=16 height=16 border=0" align="absmiddle"> <a href="/mgt/bmanager/default.phtml?Action=Status&id=<?=$id;?>&stat=1&shop=<?=$shop;?>&showpos=<?=$showpos;?>&catid=<?=$catid;?>&ao=<?=$ao;?>" class="g2">
														NOT Active</a>
													<?
													}
													?>										
												</td>
										</tr>		
										<?
									}
									?>
									
								<?
								if($showupdate == true)
								{
								?>
									
									<tr><td colspan=8><div align=right><input type="submit" name="Action" value="Update Rotation" class="formbttn"></div><BR></td></tr>
								<?	
								}
								?>							
									
									</table>
									
									
									
									</td>
								</tr>
								</table>
								<input type="submit" name="Action" value="Update Rotation" class="buttonItem">
								
								
								</form>
								
							
							</td>
							
							<td width="5" valign="top" class="3DShadowR"></td>
						</tr>
						<tr>
							<td width="470" class="3DShadowB"> </td>
							<td width="5" valign="top"> </td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
				</table>
				<BR><BR>
				
				<center>
				<B>Current Banner Positions</B>
				<BR><BR>
				<?INCLUDE("banner_legend.phtml");?>
				
				</center>
				<!------------------------------------------------------------------------------------------------------------->
			</td>
		</tr>
		</table>
	
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

