<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>

		<td><a href="/mgt/bmanager/default.phtml">Main</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/bmanager/addbanner.phtml">Add Banners</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/bmanager/banner_stats.phtml?id=<?=$id;?>&shop=<?=$shop;?>&showpos=<?=$showpos;?>&catid=<?=$catid;?>&ao=<?=$ao;?>">Report</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/bmanager/banner_code.phtml">Edit Code</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/bmanager/positions.phtml">Manage Positions</a></td> 
		<td>&nbsp;&nbsp;</td>
	</tr>
	</table>
	</div>
</div>	