<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");

REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);



//////////////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
//////////////////////////////////////
if($Action == "Save")
{
	$title = addslashes($title);
	$shortdescr = addslashes($shortdescr);
	$longdescr = addslashes($longdescr);
	
	if ($pos == "")
	{
        echo "<H2> OK the pos was blank...<BR>";
		$query = "insert into banner_positions(title, width, height, shortdescr, longdescr, lp, rp, tp, bp) ";
		$query .= "values('$title', '$width', '$height', '$shortdescr', '$longdescr', '$lp', '$rp', '$tp', '$bp')";
		if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	} else {
        echo "<H2> OK the pos was _NOT_ blank...<BR>";
		$query = "update banner_positions set title = '$title', width = '$width', 
					height = '$height', shortdescr = '$shortdescr', longdescr = '$longdescr',
					lp = '$lp', rp = '$rp', tp = '$tp', bp = '$bp' where id = '$pos'";
		if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	

	}
	
	Header("Location: /mgt/bmanager/positions.phtml");
}
else if($Action == "Delete")
{
	$query = "delete from banner_positions where id = '$id'";
	if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
}
?>
<HTML>
<HEAD>
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script language="JavaScript1.2" src="scripts/nav.js" type="text/javascript"></script>

<script type="text/javascript">
function makesure(msg, url) {
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<?
$i = "<img src=\"/images/icons/a.gif\" width=\"5\" height=\"10\" border=0>";
?>
<style>
.e2WinBar{ cursor: move; }
.e2Win {display:none;width:475px;height:350px;position:absolute;z-index:0;background:white;padding:0px;font:10pt tahoma;border:1px solid gray}
.cover {display:none;position:absolute;left:0px;top:0px;z-index:99;background:#eeeeee;filter:alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7}
.wl{display:none;width: 255px;height:600px;background-color:#ffffff;position:absolute;border: 1px dashed #808080;z-index:10}
</style>
<body topmargin=0 bgcolor="white">	
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?INCLUDE("e2win_menu.phtml");?>
		<BR><BR>
		<center>
		<table width=95%>
		<tr>
			<td width=67%>
			
				<table border="0" width="100%" cellpadding="2" cellspacing="0" style="border: 1px solid #888888;">
				<tr bgcolor="#EAEAEA">
					<td align=left><B>POS</B></td>
					<td align=left><B>Title</B></td>
					<td align=left><B>Dimensions</B></td>
					<td align=left><B>Padding</B></td>
					<td align=left><B>Del</B></td>
				</tr>
				<?
				$query = "select id, title, width, height, lp, rp, tp, bp from banner_positions";
				if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				while(list($id, $title, $width, $height, $lp, $rp, $tp, $bp) = mysql_fetch_array($qok))
				{
				?>
					<tr bgcolor="#ffffff" onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
						<td><?=$id;?></td>
						<td><a href="/mgt/bmanager/positions.phtml?pos=<?=$id;?>"><?=$title;?></a></td>
						<td><?=$width;?>x<?=$height;?></td>
						<td>L:<?=$lp;?>&nbsp;R:<?=$rp;?>&nbsp;T:<?=$tp;?>&nbsp;B:<?=$bp;?></td>
						<td>
							<?
							$query = "select id from banners_manager where position = '$id'";
							if(!$q2ok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
							if(mysql_num_rows($q2ok) <= 0)
							{
								?>
								<a href="javascript:makesure('Are you sure you want to delete this position?', '/mgt/bmanager/positions.phtml?Action=Delete&id=<?=$id;?>');" class="g2">
									<img src="/mgt/images/del.gif" border=0 align="absmiddle">
								</a>
								<?
							}
							else 
							{
								$numlinked = mysql_num_rows($q2ok);
								?>
								<a href="#">
									<img src="/mgt/images/menu/gdel.jpg" border=0 align="absmiddle" alt="<?=$numlinked;?> banners linked to this position.">
								</a>
								<?
							}
							?>
						</td>
					</tr>		
					<?
				}
				
				
				if($showupdate == true)
				{
					?>
					<tr><td colspan=8><div align=right><input type="submit" name="Action" value="Update Rotation" class="formbttn"></div><BR></td></tr>
					<?	
				}
				?>							
				</table>
				</form>

			</td>
			
			<td width=3%>&nbsp;</td>
			
			<td width=30% valign=top class="middleContent">
			
				<form name="position">
					<input type="hidden" name="pos" value="<?=$pos;?>">
					<?
					if(intval($pos) > 0)
					{
						$query = "select title, width, height, shortdescr, longdescr, lp, rp, tp, bp from banner_positions where id = '$pos'";
						if(!$qok = mysql_db_query("$DB", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
						list($title, $width, $height, $shortdescr, $longdescr, $lp, $rp, $tp, $bp) = mysql_fetch_array($qok);
					}
					else 
					{
						$title = $width = $height = $shortdescr = $longdescr = "";
					}
					?>
				
					<table width=100%>
					<tr>
						<td bgcolor="#F1F3F7" colspan=2>
							<B>Edit / Add Positions</B>
						</td>
					</tr>
					<tr>
						<td>Banner Title:</td>
						<td><input type="text" name="title" value="<?=$title;?>" class="formBox"></td><Center>
					</tr>
					<tr>
						<td>Dimensions:</td>
						<td>	
							<input type="text" name="width" value="<?=$width;?>" class="formBox" style="width:50px">x<input type="text" value="<?=$height;?>" name="height" class="formBox" style="width:50px"> (width x height)
						</td>
					</tr>
					<tr>
						<td valign=top>Short Description:</td>
						<td><textarea name="shortdescr" cols=25 rows=5 ><?=stripslashes($shortdescr);?></textarea></td>
					</tr>
					<tr>
						<td valign=top>Long Description:</td>
						<td><textarea name="longdescr" cols=25 rows=10 ><?=stripslashes($longdescr);?></textarea></td>
					</tr>
					<tr>
						<td NOWRAP>Padding-Left:</td>
						<td><input type="text" value="<?=$lp;?>" name="lp" class="formBox" style="width:25px"> px</td>
					</tr>			
					<tr>
						<td NOWRAP>Padding-Right:</td>
						<td><input type="text" value="<?=$rp;?>" name="rp" class="formBox" style="width:25px"> px</td>
					</tr>
					<tr>
						<td NOWRAP>Padding-Top:</td>
						<td><input type="text" value="<?=$tp;?>" name="tp" class="formBox" style="width:25px"> px</td>
					</tr>			
					<tr>
						<td NOWRAP>Padding-Bottom:</td>
						<td><input type="text" value="<?=$bp;?>" name="bp" class="formBox" style="width:25px"> px</td>
					</tr>			
					<tr>
						<td colspan=2 align=left>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Action" value="Save" class="formbttn"></td>
					</tr>	
					</table>
				</form>				
				</center>
			
			</td>		
		</tr>
		</table>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>





</center>
</body>
</HTML>