					<form name="skusearch">
						<table>
						<tr>
							<td class="g1">ID:</td>
							<td><input type="text" name="id" id="id" style="width:75px" value="<?=$_SESSION["SAVEDSEARCH"]['id'];?>" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">List:</td>
							<td>
								<select name="listid" id="listid" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$query = "select lid, list_title from lists order by list_title";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($lid, $list_title) = mysql_fetch_array($qok))
								{
									if(strlen($list_title) > 25)
									{
										$list_title = substr($list_title, 0, 18)."...";
									}
									?>
									<option value="<?=$lid;?>" <?if($_SESSION["SAVEDSEARCH"]['listid'] == $lid) echo "SELECTED"; ?>><?=$list_title;?>
									<?
								}
								?>
								</select>	
								<BR>
								<input type="checkbox" name="nolist" id="nolist"  <?if($_SESSION["SAVEDSEARCH"]['nolist'] == 1) echo "CHECKED"; ?>>Not on a list					
							</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Visible:</td>
							<td valign=top>
								<select name="visible" id="visible" class="formSelect">
									<option value="-1">----- ALL --------
									<option value="1" <?if($_SESSION["SAVEDSEARCH"]['visible'] == 1) echo "SELECTED"; ?>>Visible Only
									<option value="2" <?if($_SESSION["SAVEDSEARCH"]['visible'] == 2) echo "SELECTED"; ?>>Hidden Only
								</select>						
							</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Inventory:</td>
							<td valign=top>
								<select name="inventory" id="inventory" class="formSelect">
									<option value="-1">----- ALL --------
									<option value="1" <?if($_SESSION["SAVEDSEARCH"]['inventory'] == 1) echo "SELECTED"; ?>>In-Stock (exc DS)
									<option value="3" <?if($_SESSION["SAVEDSEARCH"]['inventory'] == 3) echo "SELECTED"; ?>>In-Stock (inc DS)
									<option value="2" <?if($_SESSION["SAVEDSEARCH"]['inventory'] == 2) echo "SELECTED"; ?>>Out of Stock
								</select>						
							</td>
						</tr>
						<tr>
							<td class="g1">Min Quantity:</td>
							<td><input type="text" name="min_quantity" id="min_quantity" value="<?=$_SESSION["SAVEDSEARCH"]['min_quantity'];?>" style="width:75px" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Include:</td>
							<td valign=top>
								<select name="includekits" id="includekits" class="formSelect">
									<option value="1">All SKUs
									<option value="2" <?if($_SESSION["SAVEDSEARCH"]['includekits'] == 2) echo "SELECTED"; ?>>Exclude Kits	
									<option value="3" <?if($_SESSION["SAVEDSEARCH"]['includekits'] == 3) echo "SELECTED"; ?>>Only Show Kits
									<option value="4" <?if($_SESSION["SAVEDSEARCH"]['includekits'] == 4) echo "SELECTED"; ?>>Only Show AutoPack
								</select>						
							</td>
						</tr>						
						<?
						if($efc->getPermission("perm_createskus"))
						{
							?>
							<tr>
								<td class="g1"><B>Sourced From:</B></td>
								<td>
									<select name="sourcing" id="sourcing" class="formSelect">
									<option value="-1">--- SELECT ----</option>
									<?
									
									$query = "select vendorid, vendorname from vendors order by vendorname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
									{
										if(strlen($x_vendorname) > 25)
										{
											$x_vendorname = substr($x_vendorname, 0, 22)."...";
										}
									?>
										<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
									<?	
									}
									?>
									</select>
								</td>	
							</tr>							
							<?
						}
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<td valign=top>
								<select name="num2return" class="formSelect">
									<option value="50" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 50) echo "SELECTED"; ?>>50 items (default)
									<option value="100" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 100) echo "SELECTED"; ?>>100 items
									<option value="1000" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 1000) echo "SELECTED"; ?>>1000 items
									<option value="9999" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 2500) echo "SELECTED"; ?>>2500 items
									<option value="9999" <?if($_SESSION["SAVEDSEARCH"]['num2return'] == 9999) echo "SELECTED"; ?>>9999 items
								</select>						
							</td>
						</tr>		
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
<!--										<input type="button" name="" value="Export" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;-->
										<input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
<!--										<input type="button" name="" value="Save" onclick="saveForm();" class="buttonItem"></div>-->
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<div align=center>
								<!---
									<input type="button" name="Action" value="Search" class="buttonItem">
									&nbsp;&nbsp;
									<input type="button" name="Action" value="Clear" class="buttonItem">
								--->
								<BR>
								<div id="skuresults" style="display:inline;">&nbsp;</div>
								<div id="poolresults" style="display:inline;">&nbsp;</div>		
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<!--------------------------------------------------------------->