<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?><?=$sku;?>|

<?
if ($show_cost_change == '1' || $show_cost_change_green == '1') {
	?>
	<div style="padding-left:100px">
	<table style="border:1px #808080 solid;">
		<tr>
			<td align=center><B>PID</B></td>
			<td align=center><B>Cost</B></td>
			<td align=center><B>Action</B></td>
		</tr>
		<tr>
			<td align=center><?=$sku?></td>
			<td align=center><input type="text" name="cost_<?=$sku?>" id="cost_<?=$sku?>" style="width:70px;" /></td>
			<td align=center><a href="javascript:saveNewCost('<?=$sku?>');">Save</a></td>
		</tr>
	</table>
	</div>
	<?
}

if ($report_id != '') {
	$rep_addon = " AND ("; 
	$report_id_arr = explode(",",$report_id);
	foreach ($report_id_arr as $k=>$v) {
		if ($v !='') {
			$rep_addon .= "fba_ca_settlement_order.report_id ='$v' OR ";
		}
	}
	$rep_addon = substr($rep_addon,0,-3);
	$rep_addon .= ")"; 
}
if ($report_id != '') {
	$rep_addon_cost = " AND ("; 
	$report_id_arr = explode(",",$report_id);
	foreach ($report_id_arr as $k=>$v) {
		if ($v !='') {
			$rep_addon_cost .= "amazon_settlement_id ='$v' OR ";
		}
	}
	$rep_addon_cost = substr($rep_addon_cost,0,-3);
	$rep_addon_cost .= ")"; 
}
if($bdate != "") $bdate_addon .= " AND fba_ca_settlement_order.posted_date >= '".date("Y-m-d H:i:s",strtotime("$bdate 00:00:00"))."'";
if($edate != "") $edate_addon .= " AND fba_ca_settlement_order.posted_date <= '".date("Y-m-d H:i:s",strtotime("$edate 23:59:59"))."'";

	$query = "SELECT distinct(fba_ca_settlement_order.amazon_order_id),fba_ca_settlement_order.report_id,fba_ca_settlement_order.merchant_order_id,fba_ca_settlement_order.posted_date
			FROM fba_ca_settlement_order_items,fba_ca_settlement_order
			WHERE
			fba_ca_settlement_order.amazon_order_id=fba_ca_settlement_order_items.amazon_order_id AND
			fba_ca_settlement_order.merchant_fulfillment_id='AFN' AND
			fba_ca_settlement_order_items.OUR_SKU ='$sku' AND 
			fba_ca_settlement_order.marketplace_name !='Amazon.ca' $rep_addon $bdate_addon $edate_addon" ;
//	print_r($query);
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($amazon_order_id,$rep,$merchant_order_id,$posted_date) = mysql_fetch_array($qok)) {
		$cost_arr = '';
		$cost_arr = $rep."#".$amazon_order_id."#".$sku;
		?>
		<input type="hidden" name="cost_arr" value="<?=$cost_arr?>" class="cost_arr_<?=$sku?>" />
		<div style="padding-left:100px">
		<BR>
		<B><?="Order id: </B>".$amazon_order_id."<br /><b>Report id:</b> ".$rep;?>
		<table width=100% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>Man</B></td>
				<td align=center><B>Title</B></td>
				<td align=center><B>ManPart</B></td>
				<td align=center><B>Qty</B></td>
				<td align=center><B>Principal</B></td>
				<td align=center><B>FBAPerUnit FulfillmentFee</B></td>
				<td align=center><B>FBAWeight BasedFee</B></td>
				<td align=center><B>FBAPerOrder FulfillmentFee</B></td>
				<td align=center><B>Commission</B></td>
				<td align=center><B>Shipping</B></td>
				<td align=center><B>Shipping Chargeback</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Profit</B></td>
			</tr>
		<?
			$q = "SELECT sum(Quantity),sum(Principal),sum(Shipping),sum(FBAPerUnitFulfillmentFee),sum(FBAWeightBasedFee),sum(FBAPerOrderFulfillmentFee),sum(Commission),sum(ShippingChargeback) FROM fba_ca_settlement_order_items WHERE amazon_order_id='".$amazon_order_id."' AND OUR_SKU='$sku'";
			if(!$qok1 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($Quantity,$Principal,$Shipping,$FBAPerUnitFulfillmentFee,$FBAWeightBasedFee,$FBAPerOrderFulfillmentFee,$Commission,$ShippingChargeback) = mysql_fetch_array($qok1);
			
			$query_x = "select product_manufacturers.manname,product_list.descr,product_list.manpart from product_list,product_manufacturers where product_list.id = '$sku' AND product_list.manid=product_manufacturers.manid";
			if(!$qok_x = mysql_db_query($DB, $query_x, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($manname,$title,$manpart) = mysql_fetch_array($qok_x);
			
//			$cost = $efc->getActualCostHistory($sku);
	
			/*$q3 = "select cost from product_inventory where id = '$sku' and whid = '$whid' group by whid";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($inv_lcost) = mysql_fetch_array($qok3);		
	
			$cost = $inv_lcost;*/

			$q3 = "select cost,qty from fba_ca_settlement_order_items_cost where pid = '$sku' and whid = '$whid' and amazon_order_id='$amazon_order_id'";
			if(!$qok3 = mysql_db_query($DB, $q3, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($inv_lcost,$qty) = mysql_fetch_array($qok3);
			$cost = $inv_lcost*$qty;
			
			$profit = $Principal+$Shipping+$FBAPerUnitFulfillmentFee+$FBAWeightBasedFee+$FBAPerOrderFulfillmentFee+$Commission+$ShippingChargeback-$cost;
			
		?>
			<tr>
				<td align=center><?=$manname?></td>
				<td align=center><?=$title?></td>
				<td align=center><?=$manpart?></td>
				<td align=center><?=$Quantity?></td>
				<td align=center><?=$Principal?></td>
				<td align=center><?=$FBAPerUnitFulfillmentFee?></td>
				<td align=center><?=$FBAWeightBasedFee?></td>
				<td align=center><?=$FBAPerOrderFulfillmentFee?></td>
				<td align=center><?=$Commission?></td>
				<td align=center><?=$Shipping?></td>
				<td align=center><?=$ShippingChargeback?></td>
				<td align=center><?=number_format($cost,2)?></td>
				<td align=center><?=number_format($profit,2)?></td>
			</tr>
		</table>
		</div>
		<?
	}
?>

