<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Duplicate PIDs</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
<!--			<td width=250>
			--------------------------------------------------------------------------------------
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?//INCLUDE("form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//
				</script>			
			</td>			-->
			<!------------------------------------------------------------------------------------------>
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">
                            <table width=99% id="results" class="sortable">
                                <tr bgcolor="#eeeeee">
                                        <td height="21" align="center" valign="middle"><B>Nr</B></td>
                                        <td height="21" align="center" valign="middle"><B>ID</B></td>
                                        <td height="21" align="center" valign="middle"><B>Title</B></td>
                                        <td height="21" align="center" valign="middle"><B>UPC</B></td>
                                        <td height="21" align="center" valign="middle"><B>Asin</B></td>
                                        <td height="21" align="center" valign="middle"><B>Brand</B></td>
                                        <td height="21" align="center" valign="middle"><B>ManPart</B></td>
                                        <td height="21" align="center" valign="middle"><B>eBay</B></td>
                                        <td height="21" align="center" valign="middle"><B>Amazon</B></td>
                                </tr>
                            <?
                             $query = "SELECT product_list.id,product_list.descr,product_list.manid,product_list.manpart FROM product_list GROUP BY id HAVING count(id)>1 ORDER BY product_list.id ASC";
                            $x=1;
                            if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            while(list($pid, $title,$manid,$manpart) = mysql_fetch_array($q2ok)) {
                                
                                $qx = "SELECT product_list.id,product_list.descr,product_list.manid,product_list.manpart,product_manufacturers.manname,product_list.upccode,product_list.asin FROM product_list,product_manufacturers WHERE product_list.id='".$pid."' AND product_manufacturers.manid=product_list.manid";
                                if(!$q3ok = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                while(list($pid, $title,$manid,$manpart,$manname,$upccode,$asin) = mysql_fetch_array($q3ok)) {
                                
                                $queryx = "select count(*) from ebay_listings where pid = '$pid' and active = '1'";
                                if(!$q4okx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                list($num_listed_ebay) = mysql_fetch_array($q4okx);    
                                    
                                $queryx = "select count(*) from amazon_base_messages where pid = '$pid' and asin != ''";
                                if(!$q4okx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.") || stristr($_SERVER["HTTP_HOST"], "192.168.0")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                list($num_listed_amazon) = mysql_fetch_array($q4okx);    
                                ?>
                                     <tr>
                                        <td><?=$x?></td>
                                        <td><a href="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid?>&inwin=1', 'View SKU: <?=$pid?>','item_<?=$pid?>');" id="item_<?=$pid?>"><?=$pid?></a></td>
                                        <td align="left"><?=$title;?></td>
                                        <td align="left"><?=$upccode;?></td>
                                        <td align="left"><?=$asin;?></td>
                                        <td align="left"><?=$manname;?></td>
                                        <td align="left"><?=$manpart?></td>
                                        <td align="left"><?=$num_listed_ebay?></td>
                                        <td align="left"><?=$num_listed_amazon?></td>
                                    </tr>
                                <?
                                $x++;
                                }
                            }
                            ?>
                            </table>
                        </div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>