<?
/*ini_set('display_errors',1);
error_reporting(E_ALL|E_STRICT);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
	var url="/mgt/autopack/ajax_loadskus.phtml?apid=<?=$apid;?>";
	url += "&pid="+data[1];
	url += "&qty="+qBox.value;
	url += "&Action=UpdateQty";
	url += "&sid="+Math.random();
*/

if($Action == "UpdateQty")
{
	$query = "update bundles_addskus set dollar = '$dollar', percent = '$percent' where apid = '$apid' and pid = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$Action = "CiteriaSKUs";
	
}

if($Action == "CiteriaSKUs")
{
	$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, bundles_addskus.dollar, bundles_addskus.percent from
				bundles_addskus, product_list, product_manufacturers where
				product_manufacturers.manid = product_list.manid and
				product_list.id = bundles_addskus.pid and
				bundles_addskus.apid = '$apid'";
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		?>
		<table width=100%>
		<tr bgcolor="#eeeeee">
			<td height=21>PID</td>
			<td height=21>SKU</td>
			<td height=21>Man</td>
			<td height=21>Title</td>
			<td height=21>Dollar</td>
			<td height=21>Percent</td>
			<td height=21>Del</td>
		</tr>
		<?
		while( list($pid, $manname, $descr, $sku, $dollar, $percent) = mysql_fetch_array($qok) )
		{
			$cost = $efc->getActualCost($pid);
			
			if(strlen($descr) > 25)
				$descr = substr($descr, 0, 22)."...";
			?>
			<tr bgcolor="#ffffff">
				<td height=21><?if($cost <= 0) echo "<B><font color='#ff0000'> *ZERO COST* ";?>
					<a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU <?=$pid;?>');"><?=$pid;?></a><?if($cost <= 0) echo "</font></B>";?></td>
				<td height=21><?if($cost <= 0) echo "<B><font color='#ff0000'>";?><?=$sku;?><?if($cost <= 0) echo "</font></B>";?></td>
				<td height=21><?if($cost <= 0) echo "<B><font color='#ff0000'>";?><?=$manname;?><?if($cost <= 0) echo "</font></B>";?></td>
				<td height=21><?if($cost <= 0) echo "<B><font color='#ff0000'>";?><?=$descr;?><?if($cost <= 0) echo "</font></B>";?></td>
				<td height=21>
					$<input type="text" name="d-<?=$pid;?>" id="d-<?=$pid;?>" onblur="updateMarkup('<?=$pid;?>')" value="<?=$dollar;?>" class="formBox" style="width:50px">
				</td>
				<td height=21>
					<input type="text" name="p-<?=$pid;?>" id="p-<?=$pid;?>" onblur="updateMarkup('<?=$pid;?>')" value="<?=$percent;?>" class="formBox" style="width:50px">%
				</td>
				<td height=21><a href="javascript:void(0);" onclick="javascript:deleteSKU('<?=$pid;?>');"><img src="/mgt/images/del.gif" border=0></a></td>
			</tr>
			<?
		}
		?>
		
		</table>
		<?
	}
}

?>
<?mysql_close();?>