<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>eBay Bundles Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Bundles Manager</B> <a href="/mgt/ebay/bundle/bundle_edit.phtml?apid=<?=$apid;?>">Return to Editor</a>
		<BR><BR>
		<table cellspacing="0" cellpadding="0" border=0 width="90%">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center>ID</td>
			<td align=center>SKU</td>
			<td align=center>Man Part</td>
			<td align=center>Man Name</td>
			<td align=center>Descr</td>
			<td align=center>Price</td>
			<td align=center>Visible</td>
			<td align=center>Dropship</td>
		</tr>
		<?
		$query = "select pricelevel, listid from bundles where apid = '$apid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($pl, $listid) = mysql_fetch_array($q2ok);

		if(intval($listid) > 0)
		{
			$query = "select product_list.id, product_list.sku, product_list.manpart, product_manufacturers.manname, product_list.descr, product_prices.price_level$pl,
						product_list.visible, product_list.dropship 
						from product_list, product_prices, product_manufacturers, list_products
						where 
						product_list.manid = product_manufacturers.manid AND 
						product_list.id = product_prices.id AND 
						product_list.visible = 1 AND 
						product_list.kit = 0 AND
						product_list.id = list_products.pid AND
						list_products.lid = '$listid' ";
			
		}
		else 
		{
			$query = "select catid, manid, min, max from bundles_criteria where apid = '$apid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($catid, $manid, $min, $max) = mysql_fetch_array($q2ok);
			
			if(intval($catid) > 0)
			{
				$addontables .= ", product_category_map ";
				$addon .= " AND product_category_map.pid = product_list.id AND product_category_map.catid = '$catid'";
			}
			
			if(intval($manid) > 0)
			{
				$addon .= " AND product_list.manid = '$manid' ";
			}
			
			if(intval($min) > 0 || intval($max) > 0)
			{
				if($pricelevel == 0)
					$addon .= " AND product_prices.price_level1 >= '$min' and product_prices.price_level1 <= '$max'";
				else 
					$addon .= " AND product_prices.price_level$pricelevel >= '$min' and product_prices.price_level$pricelevel <= '$max'";
			}
			
			
			$query = "select product_list.id, product_list.sku, product_list.manpart, product_manufacturers.manname, product_list.descr, product_prices.price_level$pl,
						product_list.visible, product_list.dropship 
						from product_list, product_prices, product_manufacturers $addontables ";
			$query .= " where product_list.manid = product_manufacturers.manid AND product_list.id = product_prices.id AND product_list.visible = 1 AND product_list.kit = 0 $addon ";
		}
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		while(list($pid, $sku, $manpart, $manname, $descr, $price, $visible, $dropship) = mysql_fetch_array($qok))
		{
			?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td align=center height=21><a href="javascript:void(0);" onclick="top.e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU <?=$pid;?>');"><?=$pid;?></a></td>
				<td align=center height=21><?=$sku;?></td>
				<td align=center height=21><?=$manpart;?></td>
				<td align=center height=21><?=$manname;?></td>
				<td align=center height=21><?=$descr;?></td>
				<td align=center height=21><?=$price;?></td>
				<td align=center height=21><?if($visible == "1") echo "Yes"; else echo "No";?></td>
				<td align=center height=21><?if($dropship == "1") echo "Yes"; else echo "No";?></td>

			</tr>
			<?
		}
		?>
		</table>
		<HR NOSHADE>
		<I>* This list of items meet the criteria defined in the bundle editor and should be created as bundles on eBay.</I>
		<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>

	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/ebay/bundle/bundle_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Bundle:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(bundle text - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
	
</body>
</html>
<?mysql_close();?>