<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_email_marketing"); // will redirect on failure

if($savename != "")
{
	$query = "insert into autopackages(packagename, active) values('".addslashes($savename)."', '0')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$apid = mysql_insert_id();
	
	Header("Location: /mgt/autopack/autopack_edit.phtml?apid=$apid");
	exit;
}
else if(intval($apid) <= 0)
{
	Header("Location: /mgt/autopack/default.phtml");
	exit;
}
else if($Action == "Save Auto-Package")
{
	$query = "update autopackages set packagename = '".addslashes($packagename)."',
										packagetitle = '".addslashes($packagetitle)."' ,
										active = '$active',
										markup_dollar = '$markup_dollar',
										markup_percent = '$markup_percent',
										subtitle = '".addslashes($subtitle)."', 
										subtitlecfid = '$subtitlecfid',
										listid = '$listid',
										regenerate = '$regenerate',
										pricelevel = '$pricelevel'
										where apid = '$apid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$savecat = 0;
	if(intval($cat0) > 0){ $savecat = $cat0;}
	if(intval($cat1) > 0 && intval($cat0) > 0){ $savecat = $cat1;}
	if(intval($cat2) > 0 && intval($cat0) > 0 && intval($cat1) > 0){ $savecat = $cat2; }
	if(intval($cat3) > 0 && intval($cat0) > 0 && intval($cat1) > 0 && intval($cat2) > 0){ $savecat = $cat3;}
	if(intval($cat4) > 0 && intval($cat0) > 0 && intval($cat1) > 0 && intval($cat2) > 0 && intval($cat3) > 0){ $savecat = $cat4;}	

	$query = "delete from autopackage_criteria where apid = '$apid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into autopackage_criteria(catid, manid, min, max, apid) values('$savecat', '$brand', '$min', '$max', '$apid')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// update the site_list for this auto-package
	$query = "select divid, sitename from site_list";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($site_divid, $site_name) = mysql_fetch_array($qok))
	{
		$query = "delete from autopackage_sites where apid = '$apid' and divid = '$site_divid'";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if($_POST["sitelist_$site_divid"] == 1)
		{
			$query = "insert into autopackage_sites(divid, apid) values('$site_divid', '$apid')"; 
			if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
	Header("Location: /mgt/autopack/autopack_edit.phtml");
	exit;

}
?>
<HTML>
<HEAD>
<TITLE>Edit Auto-Package</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>
<script>
var g_level = 0;

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			searchSKUs();
 			return false; 
 		}
	}  
}

function cancel2Return(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			search2SKUs();
 			return false; 
 		}
	}  
}

function cancel3Return(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			addDiscountPerSKU();
 			return false; 
 		}
	}  
}

var g_searchType = 0;

function searchSKUs()
{
	g_searchType = 0;
	
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	var posArray = findPos( document.getElementById("skusearch") );	
	
	var x = posArray[0];
	var y = posArray[1];

	dlg.style.left  = x - 450;
	dlg.style.top  = y + 25;		
	
	dlg.style.width=800;
	dlg.style.height=300;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.advform.keywords.value
  	
	var url="/mgt/vn/ajax_qsearch.phtml?keywords="+keywords+"&maxout=20&stockdetail=1&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp.onreadystatechange=searchDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function search2SKUs()
{
	g_searchType = 1;
	
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "block";

	var posArray = findPos( document.getElementById("sku2search") );	
	
	var x = posArray[0];
	var y = posArray[1];

	dlg.style.left  = x - 450;
	dlg.style.top  = y + 25;		
	
	dlg.style.width=800;
	dlg.style.height=300;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var keywords = document.advform.key2words.value
	var action = document.advform.action.options[ document.advform.action.selectedIndex ].value;
	
	var url="/mgt/vn/ajax_qsearch.phtml?keywords="+keywords+"&maxout=20&stockdetail=1&action="+action+"&sid="+Math.random();
	
	xmlHttp.onreadystatechange=searchDone;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}

function searchDone() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.sresults;
		
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 1)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
				}
						
				newRow.id = rows[0]; // assign the productid as the rowid
				
				for(pp = 0; pp < rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);
					
					// /mgt/sm/viewsku.phtml?id="+rows[pp]+"
					if(pp == 0 && parseInt(rows[pp]) > 0)
					{
						if(g_searchType == 1)
						{
							var action = document.advform.action.options[ document.advform.action.selectedIndex ].value;
							newCell.innerHTML = "<a href=\"javascript:addItem2Order('"+rows[pp]+"', '"+action+"');\">Add</a>";							
						}
						else
						{
							newCell.innerHTML = "<a href=\"javascript:addItem2Cart('"+rows[pp]+"');\">Add</a>";
						}
					}
					else
						newCell.innerHTML = rows[pp];
					
				}
			}
		}

	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.advform.cat0.options[ document.advform.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.advform.cat1.options[ document.advform.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.advform.cat2.options[ document.advform.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.advform.cat3.options[ document.advform.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.advform.cat4.options[ document.advform.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		if(lines.length <= 2)
		{
			//recalcOrders();
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

		//recalcOrders();
	}
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function closeResults()
{
	var dlg = document.getElementById("skuresults");
	dlg.style.display = "";
	
	var theTable = document.all.sresults;
		
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
}

function addItem2Cart(pid)
{
	closeResults();
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/autopack/ajax_autopack.phtml?Action=CiteriaAddSKU&pid="+pid+"&apid=<?=$apid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function itemAdded()
{
	if(xmlHttp.readyState==4)
	{
		loadSKUs();
	}	
}

function loadSKUs()
{
	var url="/mgt/autopack/ajax_loadskus.phtml?apid=<?=$apid;?>&Action=CiteriaSKUs";
		
	xmlHttp=GetXmlHttpObject();
			
	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	} 	
		
	//window.open(url);
	
	xmlHttp.onreadystatechange=loadSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function loadSKUsComplete()
{
	if(xmlHttp.readyState==4)
	{
		var div = document.getElementById("requiredSKUs");
		
		if(div)
		{
			div.innerHTML = xmlHttp.responseText;
		}
	}	
}


function startUp()
{
	loadSKUs();
}

function deleteSKU(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/autopack/ajax_autopack.phtml?Action=CiteriaDelSKU&pid="+pid+"&apid=<?=$apid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=itemAdded;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function removeItem(pid)
{
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var url="/mgt/autopack/ajax_autopack.phtml?Action=ItemsAddedDelete&pid="+pid+"&cid=<?=$cid;?>&sid="+Math.random();
	xmlHttp.onreadystatechange=itemAddedDeleteComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function itemAddedDeleteComplete()
{
	if(xmlHttp.readyState==4)
	{
		loadaddedremovedSKUs();
	}	
}

function updateQty(qID)
{ // 'q-$kid-$pid
	var qBox = document.getElementById(qID);

	qBox.style.backgroundColor = "#FFFBC1";

	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null){alert ("Your browser does not support AJAX!");return;}

	var data = qID.split('-');

	var url="/mgt/autopack/ajax_loadskus.phtml?apid=<?=$apid;?>";
	url += "&pid="+data[1];
	url += "&qty="+qBox.value;
	url += "&Action=UpdateQty";
	url += "&sid="+Math.random();

	xmlHttp.onreadystatechange=loadSKUsComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}


</SCRIPT>

<STYLE>
.dialog {
display:none;
width:600px;
height:200px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}

</STYLE>
<body onload="startUp();">
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<!--------------->
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Auto Package Editor</B>
		<BR><BR>
		<form name="advform" method="POST">
		<input type="hidden" name="cid" value="<?=$cid;?>">
		<table>
		<tr>
			<td width=33%>
			<!--
			-->
				<?
				$query = "select packagename, packagetitle, subtitle, active, markup_dollar, markup_percent, subtitlecfid, listid, regenerate, pricelevel from autopackages where apid = '$apid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($packagename, $packagetitle, $subtitle, $active, $markup_dollar, $markup_percent, $subtitlecfid, $aplistid, $regenerate, $pricelevel) = mysql_fetch_array($qok);
				
				?>
				<B>Main</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Auto-Package Name:</div></td>
					<td><input type="text" name="packagename" value="<?=$packagename;?>" style="width:250px" class="formBox"></td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Product Title:</div></td>
					<td>
						<input type="text" name="packagetitle" value="<?=$packagetitle;?>" style="width:250px" class="formBox"><BR>
						<I>ex. $brand - money savings bundle</I><BR>
						<I>ex. $brand - $packagename</I><BR>
						<I>ex. $producttitle - KIT</I>
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Subtitle:</div></td>
					<td>
						MAPPED TO CFID: 
						<select name="subtitlecfid" class="formSelect">
							<option value="0">--- SELECT ---</option>
							<?
							$query = "select id, name from custom_fields where active = '1' order by name";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($cfid, $cfname) = mysql_fetch_array($qok))
							{
								?>
								<option value="<?=$cfid;?>" <?if($cfid == $subtitlecfid) echo "SELECTED";?>>[<?=$cfid;?>] <?=$cfname;?></option>
								<?
							}
							?>
						</select>
						<input type="text" name="subtitle" value="<?=$subtitle;?>" style="width:250px" class="formBox"><BR>
						<I>ex. $brand - money savings bundle</I><BR>
						<I>ex. $brand - $packagename</I><BR>
						<I>ex. $producttitle - KIT</I>
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Active:</div></td>
					<td><input type="checkbox" name="active" value="1" <?if($active == 1) echo "CHECKED";?>></td>						
				</tr>	
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Markup ($):</div></td>
					<td>
						$ <input type="text" name="markup_dollar" value="<?=$markup_dollar;?>" style="width:35px;text-align:right;" class="formBox">
						
					
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Markup Percent (%):</div></td>
					<td>
						<input type="text" name="markup_percent" value="<?=$markup_percent;?>" style="width:35px;text-align:right;" class="formBox"> %
					</td>						
				</tr>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Regenerate:</div></td>
					<td><input type="checkbox" name="regenerate" value="1" <?if($regenerate == 1) echo "CHECKED";?>></td>						
				</tr>					
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Cost Basis:</div></td>
					<td>
						<select name="pricelevel" class="formSelect">
							<option value="0">COST</option>
							<?
							for($xx = 1; $xx < 10; $xx++)
							{
								$plname = $efc->getConfigValue("Price Level Names", "PL$xx");
								if($plname == "")
									$plname = "Price Level $xx";
									
								?>
								<option value="<?=$xx;?>" <?if($pricelevel == $xx) echo "SELECTED";?>><?=$plname;?></option>
								<?
								
							}
							?>
					</td>						
				</tr>					
				</table>
				</div>
				
				<BR><BR>
				
				
				<B>Available on Sites:</B>
				<div style="border:1px #eeeeee solid;">
				<table width=100%>
				<?
				$xcount = 0;
				$query = "select divid, sitename from site_list order by divid";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($site_divid, $site_name) = mysql_fetch_array($qok))
				{
					if($xcount == 0)
						echo "<tr>";
						
					$query = "select count(*) from autopackage_sites where apid = '$apid' and divid = '$site_divid'";
					if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($checked) = mysql_fetch_array($q4ok);
					
					?>
					<td><input type="checkbox" name="sitelist_<?=$site_divid;?>" value="1" <?if($checked == 1) echo "CHECKED";?>><?=$site_name;?></td>
					<?
					
					$xcount++;
					
					if($xcount == 2)
					{
						echo "</tr>";
						$xcount = 0;
					}
						
				}
				?>
				</table>
				</div>
			</td>
			
			<td width=33%>
				<?
				$query = "select catid, manid, min, max from autopackage_criteria where apid = '$apid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($catid, $l_brand, $min, $max) = mysql_fetch_array($qok);
				
				// load the cattree here and update below
				if(intval($catid) > 0)
				{
					$cattree = $efc->getCatTreeExt($catid);
					
					$onid = 0;
					for($xx = count($cattree['catid']) - 1; $xx >= 0; $xx--)
					{
						$var = "l_cat$onid";
						$$var = $cattree['catid'][$xx];
						
						//echo "$onid: ".$cattree['catid'][$xx]." ($l_cat0)<BR>";
						
						$onid++;
					}
				}
				?>
				<B>Criteria</B>
				<div style="border:1px solid #eeeeee;">
				<table>
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">In Category:</div></td>
					<td>
						<select name="cat0" class="formSelect" onchange="getCategories(1);">
						<option value="0">----- SELECT --------
						<?
						$query = "select catid, catname from product_categories where parentid = 0";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($catid, $catname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$catid;?>" <?if($catid == $l_cat0) echo "SELECTED";?>><?=$catname;?>
							<?
						}
						?>
						</select>		
						<?
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval($l_cat0) > 0)
						{
							?>
							<div id="cat1d" style="display:;">
								<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat0'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $l_cat1) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval($l_cat1) > 0)
						{
							?>
							<div id="cat2d" style="display:;">
								<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat1'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $l_cat2) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						if(intval($l_cat2) > 0)
						{
							?>
							<div id="cat3d" style="display:;">
								<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
									<option value="0">----- SELECT --------
									<?
										$query = "select catid, catname from product_categories where parentid = '$l_cat2'";
										if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										while(list($catid, $catname) = mysql_fetch_array($qok))
										{
											?>
											<option value="<?=$catid;?>" <?if($catid == $l_cat3) echo "SELECTED";?>><?=$catname;?>
											<?
										}
									?>
								</select>
							</div>
							<?
						}
						else 
						{
							?>
							<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
							<?
						}
						//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////					
						?>
						<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
						<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
					</td>
				</tr>				
				<tr>
					<td height=21 bgcolor="#eeeeee"><div style="padding-top:2px">Brand:</div></td>
					<td>
						<select name="brand" class="formSelect"  onchange="">
						<option value="">----- SELECT --------
						<?
						$query = "select manid, manname from product_manufacturers order by manname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($manid, $manname) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$manid;?>" <?if($l_brand == $manid) echo "SELECTED"; ?>><?=$manname;?>
							<?
						}
						?>
						</select>					
					</td>
				</tr>
				<tr bgcolor="#eeeeee">
					<td>Min:</td>		
					<td>$ <input type="text" name="min" value="<?=$min;?>" style="width:65" class="formBox"></td>		
				</tr>
				<tr bgcolor="#eeeeee">
					<td>Max:</td>		
					<td>$ <input type="text" name="max" value="<?=$max;?>" style="width:65" class="formBox"></td>		
				</tr>
				<tr bgcolor="#eeeeee">
					<td>List:</td>		
					<td>
						<select name="listid" class="formSelect">
							<option value="">--- SELECT ---</option>
							<?
							$query = "select lid, list_title from lists order by list_title";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							while(list($lid, $list_title) = mysql_fetch_array($qok))
							{
							?>
							<option value="<?=$lid;?>" <?if($lid == $aplistid) echo "SELECTED";?>><?=$list_title;?></option>
							<?
							}
							?>
						</select>
					</td>		
				</tr>
				</table>
				<I>* Min/Max limit the main sku's dollar amount. <BR>
				This is to avoid inadvertently creating packages <BR>
				where the main item is an accessory</I>
				</div>
								
			</td>
			<td width=33%>
				
			
				<B>Package Contents</B>
				<div style="border:1px solid #eeeeee;" id="skusearch">
				<table>
				<tr bgcolor="#eeeeee">
					<td>SKU/Keywords:<input type="text" name="keywords" value="" onkeypress="return cancelReturn(this, event)" class="formBox" style="width:125px"></td>		
					<td>
						<input type="button"  name="Action" value="Search" onclick="searchSKUs()" class="buttonItem">	
					</td>		
				</tr>
				<tr>
					<td colspan=2>
					<div id="requiredSKUs">&nbsp;</div>
					</td>
				</tr>
				</table>
				</div>
				
				
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan=3 align=center height=25>
				
			</td>
		</tr>		
		<tr>
			<td bgcolor="#eeeeff" colspan=3 align=center>
				<input type="submit" name="Action" value="Save Auto-Package" class="buttonItem">
			</td>
		</tr>
		</table>
		</form>
		
		
		<!---------------->	
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>			
		<div id="skuresults" class="dialog">
		<table width=99% id="sresults">
		<tr bgcolor="#eeeeee">
			<td height=21><div align="center">Add</div></td>
				<td><div align="center">PID</div></td>
				<td><div align="center">Man</div></td>
				<td><div align="center">ManPart</div></td>
				<td><div align="center">Descr</div></td>
				<td><div align="center">V</div></td>
				<td><div align="center">OnHand</div></td>
				<td><div align="center">OnHold</div></td>
				<td><div align="center">Committed</div></td>
				<td><div align="center">Available</div></td>
				<td><div align="center">OnPO</div></td>
				<td><div align="center">Price</div></td>
				<td><div align="center">S Cost</div></td>
				<td><div align="center">3rd</div></td>
		
				</tr>
			<tr>
				<td colspan=6 align=center><img src="/mgt/images/loading.gif"></td>
			</tr>	
		</table>
		<BR><BR>
		<a href="javascript:void(0);" onclick="closeResults();">Close Window</a>
		</div>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
	
	
</body>
</html>