<?
//ini_set('display_errors',1);
//error_reporting(E_ALL^E_NOTICE);
//print_r("aaaa");
ini_set('memory_limit', '64M');
$ROOT_DIR = $argv[1];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: create_base_feed.phtml ROOT_DIR\n\n";
	exit;
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if ($action == 'upload_file') {
	$target_path = "files/";
	$target_path = $target_path . basename( $_FILES['csv_report']['name']); 
	$ext = substr($_FILES['csv_report']['name'],-3);
	$fl = substr($_FILES['csv_report']['name'],0,-4);
	$k=0;
	while (file_exists($target_path))
	{
		
		$filename = $fl."_".$k.".".$ext;// creates the path where the file is to be uploaded
		$target_path = "files/". $filename;
		$k++;
	}
	if(move_uploaded_file($_FILES['csv_report']['tmp_name'], $target_path)) {
		
	} else{
	    echo "There was an error uploading the file, please try again!";
	}
	$fp = fopen($target_path, "r");
	$k=0;
    while($data = fgetcsv($fp, 20000))
    {
//    	print_r($data);
		if ($k>0) {
			$orderid = substr($data[3],0,6);
			$inote = $data[16];
			
			$query = "select notes from customer_order_notes_internal where orderid = '$orderid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) > 0)
			{
				list($oldnotes) = mysql_fetch_array($qok);
			}
			else 
			{
				$oldnotes = "";	
			}
			
			$query = "delete from customer_order_notes_internal where orderid = '$orderid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$tstamp = date("Y-m-d H:i:s", time());
			$xstamp = date("m/d/Y H:i:s", time());
			
			$savenote = $_SESSION["DISPLAYNAME"]." (".$_SESSION["ID"] .") - $xstamp<BR>-------------------------------<BR>$inote<BR><BR>".$oldnotes;
			
			$query = "insert into customer_order_notes_internal(orderid, notes, tstamp) values('$orderid', '".addslashes($savenote)."', '$tstamp')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
		}
		$k++;
    }
    fclose($fp);
}


function getTrackingFile() {
    $read_tmp = false;
    $count = 0;
    $message = '';
    $conn_id = ftp_connect($this->ftp_url, 21) or die ("Cannot connect to host");
    ftp_login($conn_id, $this->ftp_usr, $this->ftp_pw) or die("Cannot login");
    $files = ftp_nlist($conn_id,"NewSku/Archive");
    if (count($files)>0) {
        foreach ($files as $k=>$v) {
            if ($v == $filename.".resp") {

                $target = fopen($this->ROOT_DIR."/mgt/buy/feeds/".$filename.".resp", "w");
                ftp_fget($conn_id, $target,"NewSku/Archive/".$filename.".resp",FTP_BINARY);
                fclose($target);
                $read_tmp = true;
            }
        }
    }
    ftp_close($conn_id);
    return $read_tmp;
}
?>