<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

if ($audit_type == 'matched')
{
	$sql_audit_type = " AND sku_exist='1'";
}
elseif ($audit_type == 'unmatched')
{
	$sql_audit_type = "AND sku_exist='0'";
}
else 
{
	$sql_audit_type = '';
}

$queryx = "SELECT item_id, sku, title, sku_exist
		   FROM ebay_audit_sku_compare
                   WHERE ended = '0' 
		   $sql_audit_type
		   ORDER BY sku ASC";
//print_r($queryx);
$onrow = 0;
if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$totalnum = $numresults = mysql_num_rows($qokx);
$numout = 0;
if(intval($num2return) <= 0)
$num2return = 50;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;

if(intval($p) == 0)	$p = 1;

$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );

$nextpage = $lastpage = 0;

if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;

$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0)
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;

if($eview > $totalnum)
$eview = $totalnum;

if(mysql_num_rows($qokx) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qokx, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	if($lastpage != "")
	echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "")
	echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td><a href="javascript:void(0)" onclick="endAllListings()">End All</a></td>
</tr>
</table>

<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td height="21" align="center" valign="middle"><B>SKU</B></td>
	<td height="21" align="center" valign="middle"><B>Listing ID</B></td>
	<td height="21" align="center" valign="middle"><B>Product Name</B></td>
	<td height="21" align="center" valign="middle"><B>End</B></td>
</tr>
<?

while((list($item_id,$sku,$title,$sku_exist) = mysql_fetch_array($qokx)) && ($numout < $ITEMS_PER_PAGE))
{
	?>
	<tr>
		<td><a href="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$sku?>&inwin=1', 'View SKU: <?=$sku?>','item_<?=$sku?>');" id="item_<?=$sku?>"><?=$sku?></a></td>
		<td><a href="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=<?=$item_id?>" target="_blank"><?=$item_id?></a></td>
		<td align="center"><?=($sku_exist == 1 ? $title : '<strong>SKU not matched!</strong>');?></td>
		<td align="center" id="ebayremove_<?=$item_id?>"><a href="javascript:void(0);" class="endList" id="endlisting_<?=$item_id?>" onclick="EndListing('<?=$item_id?>');">End</a></td>
		</tr>
	<?
	$numout++;
}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/

	if($lastpage != "")
	echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "")
	echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>