<form name="amazon_report" id="amazon_report">
<table>
<tr>
	<td class="g1">Audit type:</td>
	<td>
		<select name="audit_type" class="formSelect">
			<option value="0">----- SELECT --------</option>
			<option value="all">All listings</option>
			<option value="matched">Matched only</option>
			<option value="unmatched">Unmatched only</option>
		</select>		
	</td>
</tr>
<tr>
        <td class="g1"><div style="padding-top:2px;">Return:</div></td>
        <td valign="top">
            <select class="formSelect" name="num2return" id="num2return">
                <option value="50">50 items (default)</option>
                <option value="100">100 items</option>
                <option value="500">500 items</option>
                <option value="9999999999">All</option>
            </select>						
        </td>
</tr>				
<tr>
	<td colspan=2>
		<br />
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport(1)" class="buttonItem">
		<iframe id="myIFrm" src="" style="visibility:hidden"></iframe>
	</td>
</tr>						
</table>
</form>
