<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
	
	return $data;
}
$query = "select emcq_id, 
                emcq_message_type,
                emcq_question_type,
                emcq_sender_id,
                emcq_sender_email,
                emcq_recipient_id,
                emcq_subject,
                emcq_body,
                emcq_message_id
            FROM ebay_message_center_question
            WHERE emcq_id='".$qid."'";	
//print_r($query);
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($emcq_id,$emcq_message_type,$emcq_question_type,$emcq_sender_id,$emcq_sender_email,$emcq_recipient_id,$emcq_subject,$emcq_body,$emcq_message_id) = mysql_fetch_array($q4ok);

?>
<tr id="message_detail_<?=$emcq_id?>">
    <td colspan="12">
        <table width="90%" class="sortable" cellpadding="4" style="border:1px solid black">
                <tr bgcolor="#eeeeee">
                        <td align=center><B>Message Type</B></td>
                        <td align=center><B>Question Type</B></td>
                        <td align=center><B>Sender ID</B></td>
                        <td align=center><B>Sender Email</B></td>
                        <td align=center><B>Recipient ID</B></td>
                        <td align=center><B>Subject</B></td>
                        <td align=center><B>Body</B></td>
                        <td align=center><B>Response</B></td>
                        <td align=center><B>Responded by</B></td>
                        <td align=center><B>eBay Message ID</B></td>
                </tr>
                <tr>
                        <td align=center><?=$emcq_message_type?></td>
                        <td align=center><?=$emcq_question_type?></td>
                        <td align=center>
                            <a href="javascript:void(0)" onclick="showOrders('<?=$emcq_sender_id?>','<?=$emcq_id?>')" id="senders_<?=$emcq_id?>">
                            <?=$emcq_sender_id?>
                            </a>
                        </td>
                        <td align=center><?=$emcq_sender_email?></td>
                        <td align=center>
                             <?
                                if($emcq_recipient_id == 'acecompconsulting') {
                                    echo "ace";
                                }
                                elseif($emcq_recipient_id == 'ecomelectronics') {
                                    echo "ecom";
                                }
                                else {
                                    echo $emcq_recipient_id;
                                }
                                ?>
                        </td>
                        <td align=center><?=$emcq_subject?></td>
                        <td align=center><?=$emcq_body?></td>
                        <td align=center id="responsecell_<?=$emcq_id?>">
                            <?
                            $query = "select emcqr_response,emcqr_userid
                                FROM ebay_message_center_question_response
                                WHERE emcqr_qid='".$emcq_id."'";	
                            //print_r($query);
                            if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            if(mysql_num_rows($q4ok)>0) {
                                $res_nr = mysql_num_rows($q4ok);
                                list($emcqr_response,$emcqr_userid) = mysql_fetch_array($q4ok);
                                echo $emcqr_response;
                            }
                            else {
                                $res_nr = 0;
                            }
                           
                            ?>
                        </td>
                        <?
                         $queryx = "SELECT displayname from users where id='".$emcqr_userid."'";
                            if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($displayname) = mysql_fetch_array($qokx);
                        ?>
                        <td align=center><?=$displayname?></td>
                        <td align=center><?=$emcq_message_id?></td>
                </tr>
        </table>
        <?
        if($res_nr <= 0) {
        ?>
        <table class="sortable" width="90%" cellpadding="4">
            <tr>
                <td height="20px">&nbsp;</td>
            </tr>
        </table>
        <table cellpadding="0">
            <tr>
                <td>
                    <table class="sortable" cellpadding="4" style="border:1px solid black" id="tableresponseform_<?=$emcq_id?>">
                        <tr bgcolor="#eeeeee">
                            <td align=left colspan="2"><B>Message</B></td>
                        </tr>
                        <tr>
                            <td align=left><B>Copy to sender:</B></td>
                            <td align=left>
                                YES: <input type="radio" name="copysender" id="copysender_yes_<?=$qid?>" value="1"/>&nbsp;&nbsp;&nbsp;
                                NO: <input type="radio" name="copysender" id="copysender_no_<?=$qid?>" value="0" checked />
                            </td>
                        </tr>
                        <tr>
                            <td align=left><B>Display public:</B></td>
                            <td align=left>
                                YES: <input type="radio" name="displaypublic" id="displaypublic_yes_<?=$qid?>" value="1"/>&nbsp;&nbsp;&nbsp;
                                NO: <input type="radio" name="displaypublic" id="displaypublic_no_<?=$qid?>" value="0" checked />
                            </td>
                        </tr>
<!--                        <tr>
                            <td align=left>
                                <b>Message:</b>
                            </td>
                            <td align=left>
                                <textarea class="formBox" id="message_response_<?=$qid?>" style="width:300px;height:100px"></textarea>
                            </td>
                        </tr>-->
                        <tr>
                            <td><b>Email Template:</b></td>
                            <td>
                                <select id="email_template_<?=$qid?>">
                                    <option value="">-----</option>
                                    <?
//                                        $querye = "select email_templates.id, email_templates.name from email_templates,email_template_categories where email_templates.cid = email_template_categories.id AND email_template_categories.name='eBay Message Center'";
                                        $querye = "select emce_id, emce_title, emce_content from ebay_message_center_email";
                                        if(!$qoke = mysql_db_query($DB, $querye, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                                        while(list($id, $name) = mysql_fetch_array($qoke))
                                        {
                                            ?>
                                            <option value="<?=$id?>"><?=$name?></option>   
                                            <?
                                        }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Signature:</b></td>
                            <td>
                                <select id="signature_<?=$qid?>">
                                    <option value="">-----</option>
                                    <?
                                        $querye = "select email_templates.id, email_templates.name from email_templates,email_template_categories where email_templates.cid = email_template_categories.id AND email_template_categories.name='eBay Message Center Signatures'";
                                        if(!$qoke = mysql_db_query($DB, $querye, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                                        while(list($id, $name) = mysql_fetch_array($qoke))
                                        {
                                            ?>
                                            <option value="<?=$id?>"><?=$name?></option>   
                                            <?
                                        }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align=left id="errormsg_<?=$qid?>" colspan="2"></td>
                        </tr>
                        <tr>
                            <td align=left>
                                &nbsp;
                            </td>
                            <td align=right>
                                <input type="button" name="send" value="Generate Email" onclick="generateEmail('<?=$qid?>')" />
                            </td>
                        </tr>
                </table>
                </td>
                <td width="20px;">&nbsp</td>
                <td>
                    <table class="sortable" cellpadding="4" style="border:1px solid black" id="tableresponseform_<?=$emcq_id?>">
                        <tr>
                            <td align=left id="email_message_<?=$qid?>" colspan="2"></td>
                        </tr>
                        <tr>
                            <td align=right>
                                <input type="button" name="send" value="Send Response" onclick="sendResponseMessage('<?=$qid?>')" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        <?}?>
    </td>
</tr>

