<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/fckeditor.php") ;
REQUIRE($ROOT_DIR."/mgt/help_new/ckeditor.php") ;

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
// check the permissions

if($Action == "Save Template")
{
	$tstamp = date("Y-m-d H:i:s", time());
	$name = addslashes($template_name);
	$subject = addslashes($template_subject_0);
	$descr = addslashes( htmlspecialchars( stripslashes( $template_body_0 ) ) );

	if($tid > 0)
	{
		$query = "update ebay_message_center_email set emce_title = '$name', emce_content = '$descr' where emce_id = '$tid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	}
	else 
	{
		$query = "insert into ebay_message_center_email(emce_title,emce_content)";
		$query .= "values('$name', '$descr')";
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$tid = mysql_insert_id();
	}	

	?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="location='email_templates.phtml';">
	Loading...
	</BODY>
	</HTML>
	<?
	exit;
}
else if($Action == "Delete Template")
{
	$query = "delete from ebay_message_center_email where emce_id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	?>
	<HTML>
	<HEAD>
	<TITLE>Configuration</TITLE>
	</HEAD>
	<BODY onload="location='email_templates.phtml';">
	Loading...
	</BODY>
	</HTML>
	<?
}


if($id > 0)
{
	$query = "select emce_title,emce_content from ebay_message_center_email where emce_id = '$id'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($name, $body) = mysql_fetch_array($qok);
	
}
?>
<HTML>
<HEAD>
<TITLE>Configuration</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</HEAD>
<script>
function cancelWindow()
{
//	var thisframe = window.frameElement.id;
//	var thiswinname = thisframe.replace("frame", ""); // leaves us with winXX
//	var thiswinid = thiswinname.replace("win", ""); // leaves us with XX
//	
//
//	closeWindow(thiswinname, thiswinid)
window.location="email_templates.phtml";
}

function deleteTemplate()
{
	if(confirm('Are you sure you want to delete this template?'))
	{
		window.location="edit_template.phtml?Action=Delete+Template&id=<?=$id;?>&cid=<?=$cid;?>";
	}
}

</script>
<body>
<table width="<?=$e2width;?>" height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top align=center>
		<BR>
		<form name="email_templates" method="POST" onsubmit="return checkData();">
		
		<div id="TabbedPanels1" class="TabbedPanels" style="width:<?=$e2width-25;?>px">
			<ul class="TabbedPanelsTabGroup">
				<?
				$query = "select divid, sitename from site_list where divid=0 order by divid";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($site_divid, $site_name) = mysql_fetch_array($qok))	
				{
					?>
					<li class="TabbedPanelsTab" tabindex="0"><strong><?=$site_name;?></strong></li>
					<?
				}
				?>			
	 		</ul>
			<div class="TabbedPanelsContentGroup">
				<?
				$onnum=0;
				$query = "select divid, sitename from site_list where divid=0 order by divid";
				if(!$q22ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($site_divid, $site_name) = mysql_fetch_array($q22ok))	
				{
					?>
					<div class="TabbedPanelsContent"> 
						<?INCLUDE("email_template_include.phtml");?>
					</div>
					<?
					$onnum++;
				}
				?>				
			</div>
		</div>
		
		<form>
	</td>
</tr>
</table>
<script type="text/javascript">
<!--
	var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>
</body>
</html>