<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

?>
<HTML>
<HEAD>
<TITLE>Configuration Email Templates</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script type="text/javascript">
function editTemplate(templateId) {
	$('#template_name_'+templateId).hide();
	$('#template_name_input_'+templateId).show();
	
	$('#template_content_'+templateId).hide();
	$('#template_content_input_'+templateId).show();
	
	$('#edit_template_'+templateId).hide();
	$('#save_template_'+templateId).show();
}

function saveTemplate(templateId) {
	var name = $('#template_name_input_'+templateId).val();
	var content = $('#template_content_input_'+templateId).val();
	
	$.post('ajax_saveemails.phtml', 
            {
                    'action':'update',
                    'id':templateId,
                    'email_title':name,
                    'email_content':content
            }, function(data) {
                $('#template_name_'+templateId).html(name);
				$('#template_content_'+templateId).html(content);
				
				$('#template_name_'+templateId).show();
				$('#template_name_input_'+templateId).hide();
				
				$('#template_content_'+templateId).show();
				$('#template_content_input_'+templateId).hide();
				
				$('#edit_template_'+templateId).show();
				$('#save_template_'+templateId).hide();
        });
	
}
function deleteTemplate(templateId) {
	if(confirm('Are you sure you want to delete this template?'))
	{
		$.post('ajax_saveemails.phtml', 
            {
                    'action':'delete',
                    'id':templateId
            }, function(data) {
                $('#template_row_'+templateId).remove();
        });
	}
}
function addNewTemplate() {
	$('#new_template_row').show();	
	$('#new_template_row_header').show();	
}

function saveTemplateNew() {
	var name = $('#template_new_name_input').val();	
	var content = $('#template_new_content_input').val();	
	
	$.post('ajax_saveemails.phtml', 
            {
                    'action':'save',
                    'email_title':name,
                    'email_content':content
            }, function(data) {
                $('#new_template_row').hide();	
				$('#new_template_row_header').hide();	
				var id=data;
				var html = '	<tr>';
				html += '		        <td height="21" align="center" valign="middle">'+id+'</td>';
				html += '		        <td height="21" align="center" valign="middle">';
				html += '		        	<span id="template_name_'+id+'">'+name+'</span>';
				html += '		        	<input type="text" class="formBox" style="width:250px;display:none" value="'+name+'" id="template_name_input_'+id+'" />';
				html += '		        </td>';
				html += '		        <td height="21" align="center" valign="middle">';
				html += '		        	<span id="template_content_'+id+'">'+content+'</span>';
				html += '		        	<input type="text" class="formBox" style="width:250px;display:none" value="'+content+'" id="template_content_input_'+id+'" />';
				html += '		        </td>';
				html += '		        <td height="21" align="center" valign="middle">';
				html += '		        	<a href="javascript:void(0)" onclick="editTemplate(\''+id+'\')" id="edit_template_'+id+'">Edit</a>';
				html += '		        	<a href="javascript:void(0)" onclick="saveTemplate(\''+id+'\')" id="save_template_'+id+'" style="display:none">Save</a>';
				html += '		        </td>';
				html += '		        <td><a href="javascript:void(0)" onclick="deleteTemplate(\''+id+'\')">Delete</a></td>';
				html += '		    </tr>';
				$('#results').append(html);
        });
}
</script>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:95px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<body>
<table width="99%" class="sortable" id="results">
	<tr bgcolor="#eeeeee">
        <td height="21" align="center" valign="middle"><B>ID</B></td>
        <td height="21" align="center" valign="middle"><B>Title</B></td>
        <td height="21" align="center" valign="middle"><B>Edit</B></td>
        <td height="21" align="center" valign="middle"><B>Delete</B></td>
    </tr>
<?
// default query
$query = "select emce_id, emce_title, emce_content from ebay_message_center_email";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

while(list($id, $name, $subject) = mysql_fetch_array($qok))
{
	$showdate = date("m/d/Y H:i:s", strtotime($tstamp));
	?>
	<tr id="template_row_<?=$id?>">
        <td height="21" align="center" valign="middle"><?=$id?></td>
        <td height="21" align="left" valign="middle">
        	<span id="template_name_<?=$id?>"><?=$name?></span>
        	<input type="text" class="formBox" style="width:250px;display:none" value="<?=$name?>" id="template_name_input_<?=$id?>" />
        </td>
       <!-- <td height="21" align="left" valign="middle">
        	<span id="template_content_<?=$id?>"><?=htmlspecialchars_decode($subject)?></span>
        	<input type="text" class="formBox" style="width:250px;display:none" value="<?=$subject?>" id="template_content_input_<?=$id?>" />
        </td>-->
        <td height="21" align="center" valign="middle">
        	<a href="edit_template.phtml?id=<?=$id?>">Edit</a>
        	<a href="javascript:void(0)" onclick="saveTemplate('<?=$id?>')" id="save_template_<?=$id?>" style="display:none">Save</a>
        </td>
        <td align="center"><a href="javascript:void(0)" onclick="deleteTemplate('<?=$id?>')">Delete</a></td>
    </tr>
	<?
}
?>
</table>

<table class="sortable" id="results2" style="margin:10px 0px 0px 10px">
	<tr>
		<td align="left" colspan="3"><a href="edit_template.phtml">Add new</a></td>
	</tr>
	<tr id="new_template_row_header" style="display:none" bgcolor="#eeeeee">
		<td height="21" align="center" valign="middle">
	    	<b>Title</b>
	    </td>
	    <td height="21" align="center" valign="middle">
	    	<b>Content</b>
	    </td>
	  	<td height="21" align="center" valign="middle">
	    	<b>Save</b>
	    </td>
	</tr>
	<tr id="new_template_row" style="display:none">
		<td height="21" align="center" valign="middle">
	    	<input type="text" class="formBox" style="width:250px;" value="" id="template_new_name_input" />
	    </td>
	    <td height="21" align="center" valign="middle">
	    	<input type="text" class="formBox" style="width:250px;" value="" id="template_new_content_input" />
	    </td>
	    <td height="21" align="center" valign="middle">
	    	<a href="javascript:void(0)" onclick="saveTemplateNew()" id="save_new_template">Save</a>
	    </td>
	</tr>
</table>
</body>
</html>