<?
if($onnum == 0)
{
	?>
	<input type="hidden" name="tid" value="<?=$id;?>">
	<?
}
else 
{
	// the default template is stored in email_templates... additional ones are stored in email_templates_addons
	$query = "select emce_title,emce_content from ebay_message_center_email where id = '$id' and divid = '$site_divid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($subject, $body) = mysql_fetch_array($qok);
}
?>
<table>
<tr>
	<td>

		<table>
		<tr>
			<td>
			<!--------------------------------------------------------------------------------->
				<table>
				<tr>
					<td>Site Name:</td>
					<td><?=$site_name;?></td>
				</tr>
				</table>
				<table>
				<? 
				if($onnum == 0)
				{
					?>
					<tr>
						<td><div align=right>Template Name:</td>
						<td>
							<input type="text" name="template_name" value="<?=$name;?>" class="formBox" style="width:150px">
						</td>
					</tr>
					<?
				}
				?>
				</table>
			<!--------------------------------------------------------------------------------->						
			</td>
		</tr>
		</table>
		<?
		list($e2width, $e2height) = $efc->get_e2win_size();
							
		/*$oFCKeditor = new FCKeditor("template_body_".$site_divid) ;
		$oFCKeditor->BasePath	= "/mgt/help/";
		$oFCKeditor->Value		= html_entity_decode($body);
		$oFCKeditor->Width = $e2width - 40;
		$oFCKeditor->Height = $e2height - 175;
		$oFCKeditor->Create() ;*/
		$CKEditor = new CKEditor();
		// Path to CKEditor directory, ideally instead of relative dir, use an absolute path:
		//   $CKEditor->basePath = '/ckeditor/'
		// If not set, CKEditor will try to detect the correct path.
		$CKEditor->basePath = '/mgt/help_new/';
		$CKEditor->config['width'] = $e2width - 40;
		$CKEditor->config['height'] = $e2height - 175;
		$CKEditor->config['skin'] = 'v2';
		$CKEditor->config['toolbarStartupExpanded'] = false;
//					$config['skin'] = 'v2';
		// Create textarea element and attach CKEditor to it.
		$CKEditor->editor("template_body_".$site_divid, html_entity_decode($body));
		?>						
	</td>
</tr>
</table>
<input type="submit" name="Action" value="Save Template" class="buttonItem">
<input type="button" name="Action" value="Cancel" class="buttonItem" onclick="cancelWindow();">