<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Inbound Shipments</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>

<script type="text/javascript">
(function($){

	/**
	 * Function for setting offset, created here so it's only created once rather than
	 * creating an anonymous function every time offset is called
	 */
	function setOffset(el, newOffset){
		var $el = $(el);

		// get the current css position of the element
		var cssPosition = $el.css('position');

		// whether or not element is hidden
		var hidden = false;

		// if element was hidden, show it
		if($el.css('display') == 'none'){
			hidden = true;
			$el.show();
		}

		// get the current offset of the element
		var curOffset = $el.offset();

		// if there is no current jQuery offset, give up
		if(!curOffset){
			// if element was hidden, hide it again
			if(hidden)
				$el.hide();
			return;
		}

		// set position to relative if it's static
		if (cssPosition == 'static') {
			$el.css('position', 'relative');
			cssPosition = 'relative';
		}

		// get current 'left' and 'top' values from css
		// this is not necessarily the same as the jQuery offset
		var delta = {
			left : parseInt($el.css('left'), 10),
			top: parseInt($el.css('top'), 10)
		};

		// if the css left or top are 'auto', they aren't numbers
		if (isNaN(delta.left)){
			delta.left = (cssPosition == 'relative') ? 0 : el.offsetLeft;
		}
		if (isNaN(delta.top)){
			delta.top = (cssPosition == 'relative') ? 0 : el.offsetTop;
		}

		if (newOffset.left || 0 === newOffset.left){
			$el.css('left', newOffset.left - curOffset.left + delta.left + 'px');
		}
		if (newOffset.top || 0 === newOffset.top){
			$el.css('top', newOffset.top - curOffset.top + delta.top + 'px');
		}

		// if element was hidden, hide it again
		if(hidden)
			$el.hide();
	}

	$.fn.extend({

		/**
		 * Store the original version of offset(), so that we don't lose it
		 */
		_offset : $.fn.offset,

		/**
		 * Set or get the specific left and top position of the matched
		 * elements, relative the the browser window by calling setXY
		 * @param {Object} newOffset
		 */
		offset : function(newOffset){
			return !newOffset ? this._offset() : this.each(function(){
				setOffset(this, newOffset);
			});
		}
	});

})(jQuery);

function searchSKUs(pagenumVal){
	
	$("#savecover").show();
	var status = $('#status').val();
	var status_val = '';
	if(status) {
		for(var i=0;i<status.length;i++) {
			status_val+=status[i]+',';
		}
		status_val = status_val.substr(0,status_val.length-1);
	}
	var exclude_status = $('#exclude_status').val();
	var exclude_status_val = '';
	if(exclude_status) {
		for(var i=0;i<exclude_status.length;i++) {
			exclude_status_val+=exclude_status[i]+',';
		}
		exclude_status_val = exclude_status_val.substr(0,exclude_status_val.length-1);
	}
	if ($('#exc_complete').is(':checked')) {
		var exc_complete = 1;
	}
	else {
		var exc_complete = 0;
	}
	var assigned = $('#assigned').val();
	var keywords = $('#keywords').val();
	var pid = $('#pid').val();
	$.get("ajax_skusearch2.phtml", 
			{
				'status':status_val,
				'pid':pid,
				'exclude_status':exclude_status_val,
				'exc_complete':exc_complete,
				'assigned':assigned,
				'keywords':keywords,
				p:pagenumVal
				
			},function(data){
			
			$('#reportdata').html(data);  
			$("#savecover").hide(); 	
			sortables_init();
   	});
}
function clearForm() {
	document.skusearch.status.selectedIndex = 0;
	document.skusearch.keywords.selectedIndex = 0;
	document.skusearch.pid.selectedIndex = 0;
	document.skusearch.exclude_status.selectedIndex = 9;
	document.skusearch.assigned.selectedIndex = 0;
	document.skusearch.exc_complete.checked = true;
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
function countCharsBox(boxid)
{
	var strlength = document.getElementById(boxid).value.length;
	if (strlength >55) {
		document.getElementById(boxid).value = document.getElementById(boxid).value.substr(0,55);
	}
	var strlength = document.getElementById(boxid).value.length;
	document.getElementById(boxid+"cnt").innerHTML = "<font color='#808080'>" + strlength.toString() + " chars</font>";
}
function countCharsBoxEbay(boxid)
{
	var strlength = document.getElementById(boxid).value.length;
	if (strlength >80) {
		document.getElementById(boxid).value = document.getElementById(boxid).value.substr(0,80);
	}
	var strlength = document.getElementById(boxid).value.length;
	document.getElementById(boxid+"cnt").innerHTML = "<font color='#808080'>" + strlength.toString() + " chars</font>";
}
function saveData(pid) {
	var mgr_notes = $('#mgr_notes_'+pid).val();
	var clerk_notes = $('#clerk_notes_'+pid).val();
	var claim = $('#claim_'+pid).val();
	var shipment_id = $('#shipmentid_'+pid).val();
	if($('#inprogress_'+pid).is(':checked')) {
		var inprogress =1;
	}
	else {
		var inprogress =0;
	}
	if($('#completed_'+pid).is(':checked')) {
		var completed =1;
	}
	else {
		var completed =0;
	}
	/*var assigned = $('#assigned_'+pid).val();
	var poid = $('#po_'+pid).val();*/
	
	$.post("ajax_savedata.phtml", 
			{
				'id':pid,
				'mgr_notes':mgr_notes,
				'clerk_notes':clerk_notes,
				'claim':claim,
				'inprogress':inprogress,
				'shipment_id':shipment_id,
				'completed':completed
			},function(data){
			
			$('#save_'+pid).html('');  
			$("#savecover").hide(); 	
   	});
}
var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchSKUs();
			return false;
		}
	}
}
function checkUncheckAll(type) {
	var check_val = $('#all_'+type).is(':checked');
	$('.'+type+'Checkbox').attr('checked',check_val);
	/*
	if($('#all_'+type).is(':checked')) {
		$('.'+type+'Checkbox').attr('checked',check_val);
	}*/
}

function saveDataAll() {
	$('.pidRow').each(function(){
		var lineId = $(this).attr('id').split('_');
		var pid = lineId[1];
		
		var mgr_notes = $('#mgr_notes_'+pid).val();
		var clerk_notes = $('#clerk_notes_'+pid).val();
		var claim = $('#claim_'+pid).val();
		if($('#inprogress_'+pid).is(':checked')) {
			var inprogress =1;
		}
		else {
			var inprogress =0;
		}
		if($('#completed_'+pid).is(':checked')) {
			var completed =1;
		}
		else {
			var completed =0;
		}
		var assigned = $('#assigned_'+pid).val();
		var poid = $('#po_'+pid).val();
		var shipment_id = $('#shipmentid_'+pid).val();
		$.post("ajax_savedata.phtml", 
				{
					'id':pid,
					'mgr_notes':mgr_notes,
					'clerk_notes':clerk_notes,
					'claim':claim,
					'inprogress':inprogress,
					'completed':completed,
					'poid':poid,
					'shipment_id':shipment_id,
					'assigned':assigned
				},function(data){
				$('#save_'+pid).html('');  
	   	});
		
	});
}
function attachFile()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("attach_file");
	dlg.style.display = "block";
	
	dlg.style.top = 25;
	dlg.style.left = 225;
	
}
function hideAttachBox()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";

	var dlg = document.getElementById("attach_file");
	dlg.style.display = "none";
	
}
function showMenu(poid, status,xid)
{
	
//	var pos = $('#showx_'+xid).position();
	var pos = $('#showx_'+xid+'_'+poid).offset();
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	/*dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	/*alert(pos.left+' - '+pos.top );
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;*/
	$("#dialog").offset({ top: pos.top, left: pos.left+20});
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption2").innerHTML = "";
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/vn/viewpo.phtml?poid="+poid+"&inwin=1', 'View PO: "+poid+"');\">View PO</a>";
	
	if(parseInt(status) != 2)
		document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:editPO("+poid+");\">Edit PO</a>";
}
function showMenu2(iv,xid)
{
	var pos = $('#showx_'+xid+'_'+iv).position();
	
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	/*dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;
	$("#dialog").offset({ top: pos.top, left: pos.left+20});
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:e2window('/mgt/om/vieworder.phtml?iv="+iv+"&inwin=1', 'View Order: "+iv+"','showx_"+xid+"');\">View Order</a>"
	document.getElementById("menuOption2").innerHTML = "<a href=\"/mgt/om/createorder.phtml?iv="+iv+"\" target=\"_blank\">Edit Order</a>"

}
function editPO(poid)
{
	if(confirm("Loading this PO will remove any items you currently have in your PO shopping cart.  Continue anyway?"))
	{
		document.location="/mgt/vn/createpo.phtml?load=1&poid="+poid;
	}
}
function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}
function deleteAttachedFile(fid) {
	if(confirm('Are you sure you want to delete this file?')) {
		$.get("ajax_delete_file.phtml", {'fid':fid},
	   		function(data){
			$('#file_'+fid).remove();
	   	});
	}
}
function showItems(shipment_id,xid) {
	var pos = $('#items_'+xid).position();
	
	$('#dialog2').html('<img src="/mgt/images/loading.gif" align="center"/>');
	
	var dlg = document.getElementById("dialog2");
	dlg.style.display = "block";
	
	/*dlg.style.left  = posX;
	dlg.style.top  = posY;*/
	/*dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;*/
	$("#dialog2").offset({ top: pos.top, left: pos.left+20});
	$.get("/mgt/amazonmax/scripts/request_inbound_shipments_byid.phtml", {'id':shipment_id},
   		function(data){
		$('#dialog2').html(data);
   	});
}
function hideMenu2()
{
	var dlg = document.getElementById("dialog2");
	dlg.style.display = "none";
}
function showMenu3(id)
{
	var pos = $('#sku_'+id).offset();
	
	var dlg = document.getElementById("dialog3");
	dlg.style.display = "block";
	
	/*dlg.style.left  = posX;
	dlg.style.top  = posY;*/
/*	dlg.style.left  = pos.left+20;
	dlg.style.top  = pos.top;*/
	$("#dialog3").offset({ top: pos.top, left: pos.left+20});
	document.getElementById("3menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+id+"&inwin=1', 'View SKU: "+id+"','sku_"+id+"');\">View SKU</a>"

	document.getElementById("3menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/editsku.phtml?id="+id+"&inwin=1', 'Edit SKU: "+id+"','sku_"+id+"');\">Edit SKU</a>"

}
function hideMenu3()
{
	var dlg = document.getElementById("dialog3");
	dlg.style.display = "none";
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}
.dialog2 {
display:none;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray;
width:500px;
}
.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td>
				<span style="font-size:20px;font-weight:bold;color:red;line-height:20px">Max</span>
			</td>
		</tr>
		<tr>
			<td width=200>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:200px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Inboud Shipments</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>
<div id="dialog2" class="dialog2">

</div>
<div id="dialog3" class="dialog" onclick="hideMenu3();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="3menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="3menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="3menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="3menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="3menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</div>		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>