<?
ini_set("memory_limit","-1");

$ROOT_DIR = $argv[1];


if($ROOT_DIR == "")
{
	echo "usage: merge_emg.phtml ROOT_DIR\n";
	exit;
}


set_time_limit(999999);

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);



//////////////////////////////////////////////////////////////////////////////////////////////////////
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
//////////////////////////////////////////////////////////////////////////////////////////////////////


$VENDORID = $efc->getConfigValue("EMG", "VENDORID");
include($ROOT_DIR."/mgt/scripts/vid_date.php");

echo "VID: $VENDORID\n";


function getmicrotime()
{
	list($usec, $sec) = explode(" ",microtime());
	return ((float)$usec + (float)$sec);
}


$xtime_start = getmicrotime();
$Ncreated = 0;
$Nupdated = 0;




$customerid = $efc->getConfigValue("EMG", "customerid");
//GET FRESH FEED.
echo "Updating Data Feed...\n";
unlink("$ROOT_DIR/mgt/scripts/emg/products.xml");
passthru("curl -d \"data=<getFullInv><credentials>$customerid</credentials></getFullInv>\" \"https://www.ez-om.com/om/lib/emg_dispatcher.php?cmd=getFullInv&format=xml\" -k -o $ROOT_DIR/mgt/scripts/emg/products.xml -s");





echo "Importing Index Categories...\n";
echo "Importing Sub Categories...\n";
echo "Importing Products...\n";

// ^---?   oooh ok yeh its on the fly with this one.


function xml2array($contents, $get_attributes=1)
{
	if(!$contents) return array();

	if(!function_exists('xml_parser_create')) {
		//print "'xml_parser_create()' function not found!";
		return array();
	}
	//Get the XML parser of PHP - PHP must have this module for the parser to work
	$parser = xml_parser_create();
	xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 );
	xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 );
	xml_parse_into_struct( $parser, $contents, $xml_values );
	xml_parser_free( $parser );

	if(!$xml_values) return;//Hmm...

	//Initializations
	$xml_array = array();
	$parents = array();
	$opened_tags = array();
	$arr = array();

	$current = &$xml_array;

	//Go through the tags.
	foreach($xml_values as $data) {
		unset($attributes,$value);//Remove existing values, or there will be trouble

		//This command will extract these variables into the foreach scope
		// tag(string), type(string), level(int), attributes(array).
		extract($data);//We could use the array by itself, but this cooler.

		$result = '';
		if($get_attributes) {//The second argument of the function decides this.
			$result = array();
			if(isset($value)) $result['value'] = $value;

			//Set the attributes too.
			if(isset($attributes)) {
				foreach($attributes as $attr => $val) {
					if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr'
					/**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */
				}
			}
		} elseif(isset($value)) {
			$result = $value;
		}

		//See tag status and do the needed.
		if($type == "open") {//The starting of the tag '<tag>'
			$parent[$level-1] = &$current;

			if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag
				$current[$tag] = $result;
				$current = &$current[$tag];

			} else { //There was another element with the same tag name
				if(isset($current[$tag][0])) {
					array_push($current[$tag], $result);
				} else {
					$current[$tag] = array($current[$tag],$result);
				}
				$last = count($current[$tag]) - 1;
				$current = &$current[$tag][$last];
			}

		} elseif($type == "complete") { //Tags that ends in 1 line '<tag />'
			//See if the key is already taken.
			if(!isset($current[$tag])) { //New Key
				$current[$tag] = $result;

			} else { //If taken, put all things inside a list(array)
				if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array...
				or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) {
					array_push($current[$tag],$result); // ...push the new element into that array.
				} else { //If it is not an array...
					$current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value
				}
			}

		} elseif($type == 'close') { //End of tag '</tag>'
			$current = &$parent[$level-1];
		}
	}

	return($xml_array);
}


$buffer = "";
//$handle = fopen("fullInv.xml", "r");
$handle = fopen($ROOT_DIR."/mgt/scripts/emg/products.xml", "r");
if ($handle)
{
	while (!feof($handle))
	{
		$buffer .= fgets($handle, 4096);
	}
	fclose($handle);
}

$data = xml2array($buffer, 0);




for($xx = 0; $xx < count($data['getFullInvResponse']['item']); $xx++)
{
	//print_r($data);
	//exit;

	$manname = addslashes($data['getFullInvResponse']['item'][$xx]['supMfgr']);
	$upccode = addslashes($data['getFullInvResponse']['item'][$xx]['supUPC']);
	$manpart = addslashes($data['getFullInvResponse']['item'][$xx]['supMfgrModel']);
	$descr = addslashes($data['getFullInvResponse']['item'][$xx]['supDesc']);
	$sku = $manpart;
	$map = addslashes($data['getFullInvResponse']['item'][$xx]['supMinAdvPrice']);
	$price = 0.00;
	$cost = addslashes($data['getFullInvResponse']['item'][$xx]['supPrice']);
	$stock = addslashes($data['getFullInvResponse']['item'][$xx]['supQty']);

	$added_dte = date("Y-m-d H:i:s", time());
	$shipweight = addslashes($data['getFullInvResponse']['item'][$xx]['supShipWt']);


	$tmp1 = $data['getFullInvResponse']['item'][$xx]['supInfo1'];
	$tmp2 = $data['getFullInvResponse']['item'][$xx]['supInfo2'];
	$tmp3 = $data['getFullInvResponse']['item'][$xx]['supInfo3'];
	$tmp4 = $data['getFullInvResponse']['item'][$xx]['supInfo4'];
	$tmp5 = $data['getFullInvResponse']['item'][$xx]['supInfo5'];

	$salesdescr = addslashes("$tmp1 $tmp2 $tmp3 $tmp4 $tmp5");
	$supComment = $data['getFullInvResponse']['item'][$xx]['supComment'];


	if(strlen($salesdescr > 5)) { $sd++; 	echo "($sd)SDESR: $salesdescr\n"; }


	$instock = $data['getFullInvResponse']['item'][$xx]['supQty'];


	//echo "$manname $upccode $manpart $descr $sku $map $price $cost $stock $shitweight ($sipInfo)\n";

	$catname = addslashes($data['getFullInvResponse']['item'][$xx]['supCat']);
	$catSub = addslashes($data['getFullInvResponse']['item'][$xx]['supSubCat']);


	// Do the categories

	if ($catname == "") {
		//echo "SUX."; }
		//echo "cat:  <b>$catname</b>   subcat: <b>$catSub</b>\n";
	} else {
		$query = "select catid from vendor_categories where vid = '$VENDORID' and catname = '$catname'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		if(mysql_num_rows($qok) <= 0)
		{
			$query = "insert into vendor_categories(vid, catname, parentid) values('$VENDORID', '$catname', '0')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$parentid = mysql_insert_id();
			echo "+: $catname\n";
		}

		// Do the sub categories

		$query = "select catid from vendor_categories where vid = '$VENDORID' and catname = '$catSub'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			$query = "select catid from vendor_categories where vid = '$VENDORID' and catname = '$catname'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($parentid) = mysql_fetch_array($qok);

			if(intval($parentid) <= 0)
			{
				echo "error finding parent.\n";
				exit;
			}

			$query = "insert into vendor_categories(vid, catname, parentid) values('$VENDORID', '$catSub', '$parentid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			echo "++: $catSub\n";
		}


		// Products

		$query = "select manid from vendor_manufacturers where manname = '$manname' and vid = '$VENDORID'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)

		{
			list($manid) = mysql_fetch_array($qok);
		}

		else

		{
			$query = "insert into vendor_manufacturers(manname, vid) values('$manname', '$VENDORID')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$manid = mysql_insert_id();
		}

		// We have a Man ID, import the product if no dupes.
		$query = "select id from vendor_product_list where vid = '$VENDORID' and manpart = '$manpart'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			list($pid) = mysql_fetch_array($qok);


			$query = "update vendor_product_list set descr='$descr' where id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


			echo "Dupe Detected... $manpart\n";
			// Add Price, Stock.
			$query = "delete from vendor_pricing where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$query = "insert into vendor_pricing(pid, instock, price, cost, map) values('$pid', '$instock', '$price', '$cost', '$map')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }



			//echo "$sku UPDATED (STK: $instock / CST: $cost / MAP: $map)\n";
			//HSPEC ADD-ON...
			
			if ($tmp5 == "") {
				$hspec = addslashes("$supComment <BR><BR><B>FEATURES</B><BR><BR><li>$tmp1</li><br><li>$tmp2</li><br><li>$tmp3</li><br><li>$tmp4</li>");
			} else {
				$hspec = addslashes("$supComment <BR><BR><B>FEATURES</B><BR><BR><li>$tmp1</li><br><li>$tmp2</li><br><li>$tmp3</li><br><li>$tmp4</li><br><li>$tmp5</li>");
			}
			$query = "insert into vendor_product_html(id, vid, data) values('$pid','$vid','$hspec')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			$Nupdated++;
			//$efc->vendorMarkPrice($pid);
			$efc->updateVendorSourcing($pid, $VENDORID);
			if($salesdescr != "")
			{
				$query = "delete from vendor_sales_descr where vid = '$VENDORID' and pid = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

				$query = "insert into vendor_sales_descr(pid, vid, data) values('$pid', '$VENDORID', '$salesdescr')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				//echo "$salesdescr\n";
			}
		} else {

			// Insert Product.
			$added_dte = time();
			//Blank manpart bug........
			if ($manname == "") {
				//
			} else {
				$Ncreated++;
				if($manpart !="") {
					echo "INSERTED manpart: $manpart pid: $pid\n";

					$query = "insert into vendor_product_list(vid, manid, manpart, descr, added_dte, sku, upccode, shipweight) ";
					$query .= "values('$VENDORID', '$manid', '$manpart', '$descr', '$added_dte', '$sku', '$upccode', '$shipweight')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$pid = mysql_insert_id();

					$query = "delete from vendor_pricing where pid = '$pid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$query = "insert into vendor_pricing(pid, instock, price, cost, map) values('$pid', '$instock', '$price', '$cost', '$map')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

					//Inset long descr, AKA sales descr.
					if($salesdescr != "")
					{
						$query = "delete from vendor_sales_descr where vid = '$VENDORID' and pid = '$pid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

						$query = "insert into vendor_sales_descr(pid, vid, data) values('$pid', '$VENDORID', '$salesdescr')";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


					}
					// Get Cat
					$query = "select catid from vendor_categories where vid = '$VENDORID' and catname = '$catname'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($catid,$parentid) = mysql_fetch_array($qok);
					//echo "-- catid $catid\n";
					// Insert Cat
					$query = "insert into vendor_category_map(pid, catid, vid) values('$pid', '$catid', '$VENDORID')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

					//Get Sub
					$query = "select catid from vendor_categories where vid = '$VENDORID' and catname = '$catSub' and parentid = '$catid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

					list($catidsub) = mysql_fetch_array($qok);
					//Insert Sub
					$query = "insert into vendor_category_map(pid, catid, vid) values('$pid', '$catidsub', '$VENDORID')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

					//HSPEC ADD-ON...
					if ($tmp5 == "") {
						$hspec = addslashes("$supComment <BR><BR><B>FEATURES</B><BR><BR><li>$tmp1</li><br><li>$tmp2</li><br><li>$tmp3</li><br><li>$tmp4</li>");
					} else {
						$hspec = addslashes("$supComment <BR><BR><B>FEATURES</B><BR><BR><li>$tmp1</li><br><li>$tmp2</li><br><li>$tmp3</li><br><li>$tmp4</li><br><li>$tmp5</li>");
					}
					$query = "insert into vendor_product_html(id, vid, data) values('$pid','$vid','$hspec')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}

			}

		}

	}

}

$xtime_end = getmicrotime();
$qtime = number_format(($xtime_end - $xtime_start), 2);
$msg = "Completed in $qtime Updated($Nupdated) Created($Ncreated)";
echo $msg . "\n";

$efc->logAction("SUCCESS", 4, 0, 'EMG Sync Succesful', $msg);



//VENDOR SYNC WIDGET
$last_modified = filemtime("$ROOT_DIR/mgt/scripts/emg/products.xml");


$query = "select vendorname from vendors where vendorid = '$VENDORID'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($VENDORNAME) = mysql_fetch_array($qok);


$last_modified_date = date("dS F, Y @ h:ia", $last_modified);
$date = date("Y-m-d H:i:s", time());


$query = "select filedate from vendor_sync where vendorname = '$VENDORNAME'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

if(mysql_num_rows($qok) <= 0)
{
	//echo "vendor did not exist, so inerted them ti log\n";
	$query = "insert into vendor_sync(vendorname, filedate, lastsync, updated, created) values('$VENDORNAME','$last_modified_date','$date','$Nupdated','$Ncreated')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else {
	//echo "vendor DID exist, so update log\n";
	$query = "delete from vendor_sync where vendorname = '$VENDORNAME'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$query = "insert into vendor_sync(vendorname, filedate, lastsync, updated, created) values('$VENDORNAME','$last_modified_date','$date','$Nupdated','$Ncreated')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

}

?>
<?$efc->cleanVendorItems($VENDORID);?><?mysql_close();?>
