<form name="skusearch">
    <table>
        <tr>
                <td class="g1">EXC if on list:</td>
                <td>
                        <select name="not_listid" id="not_listid" class="formSelect" multiple>
                        <option value="" selected>----- SELECT --------</option>
                        <?
                        $lids = explode(',',$_SESSION["SAVEDSEARCH_SKU"]['not_listid']);
                        $query = "select lid, list_title from lists order by list_title";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        while(list($lid, $list_title) = mysql_fetch_array($qok))
                        {
                                if(strlen($list_title) > 25)
                                {
                                        $list_title = substr($list_title, 0, 18)."...";
                                }
                                ?>
                                <option value="<?=$lid;?>" <?if(in_array($lid,$lids)) echo " selected"?>><?=$list_title;?></option>
                                <?
                        }
                        ?>
                        </select>	
                </td>
        </tr>
        <tr>
            <td class="g1">LIVE on <br/> eBay / AMZ / Buy</td>
            <td>
<!--                <input type="checkbox" name="liveon" id="liveon" value="1">-->
                <select name="liveon" id="liveon" class="formSelect">
                        <option value="" selected>---ALL---</option>
                        <option value="1">---LIVE---</option>
                        <option value="2">---NOT LIVE---</option>
                </select>	
            </td>
        </tr>
        <tr>
            <td class="g1">No order since:</td>
            <td>
            <?
            if($_SESSION["KIT_CLEANER"]['bdate'] == "") $_SESSION["KIT_CLEANER"]['bdate'] = date("m/d/Y");
            ?>
            <input type="text" name="bdate" value="<?=$_SESSION["KIT_CLEANER"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['skusearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['skusearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x" onkeypress="return cancelReturn(this, event)">
             <br />
            <input type="checkbox" checked="" name="disable_range"> Ignore order date
            </td>
    </tr>
    <tr>
        <td class="g1"><div style="padding-top:2px;">Return:</td>
        <td valign=top>
                <select name="num2return" id="num2return" class="formSelect">
                        <option value="50" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 50) echo "SELECTED"; ?>>50 items (default)
                        <option value="100" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 100) echo "SELECTED"; ?>>100 items
                        <option value="1000" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 1000) echo "SELECTED"; ?>>1000 items
                        <option value="2500" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 2500) echo "SELECTED"; ?>>2500 items
                        <option value="9999" <?if($_SESSION["SAVEDSEARCH_SKU"]['num2return'] == 9999) echo "SELECTED"; ?>>9999 items
                </select>						
        </td>
    </tr>
        <tr>
            <td colspan=2>
                <div align=center>
                    <input type="button" name="" value="Search" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
                    <input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
                </div>
            </td>
        </tr>	
        <tr>
            <td colspan=2>
                <div align=center>
                    <div id="skuresults" style="display:inline;">&nbsp;</div>
                    <div id="poolresults" style="display:inline;">&nbsp;</div>		
                </div>
            </td>
        </tr>
        </table>

</form>	
<!--------------------------------------------------------------->