<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>KIT Cleaner</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function searchSKUs(pagenumVal){
        $('#skuresults').html("<img src='/mgt/images/loading.gif'>");  
        var not_listid="", liveon =  "",disable_range="";
//	if(document.skusearch.liveon.checked)
//		liveon = 1;
//	else
//		liveon = 0;
        liveon = $('#liveon').val();
	for (var i = 0; i < document.skusearch.not_listid.length; i++) 
	{ 
            if (document.skusearch.not_listid.options[i].selected) 
            { 
                not_listid += document.skusearch.not_listid.options[i].value + ","; 
            } 
        }
        if(document.skusearch.disable_range.checked)
		disable_range = 1;
	else
		disable_range = 0;
        var bdate = document.skusearch.bdate.value;
        
	$.get("ajax_skusearch2.phtml", 
            {
                "not_listid":not_listid,
                "disable_range":disable_range,
                "bdate":bdate,
                "liveon":liveon,
                "num2return":$('#num2return').val()
            },function(data){
            $('#skuresults').html(""); 
            var res = data.split('~');
            $('#reportdata').html(res[0]);  
            $('#poolresults').html(res[1]);  
            $("#savecover").hide(); 	
   	});
}
function clearForm() {
    document.skusearch.not_listid.selectedIndex = 0;
    document.skusearch.liveon.checked = false;
    document.skusearch.bdate.value = "<?=date("m/d/Y", time());?>";
  
    var dlg = document.getElementById("searchresults");
    dlg.innerHTML = "&nbsp;";
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
	{
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
	catch (e)
	{
		// Internet Explorer
		try
		{
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
		{
			try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e)
			{
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}

	return xmlHttp;
}

function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchSKUs();
			return false;
		}
	}
}
function checkUncheckAll(myOptions, myForm)
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}
function actionChecked(actionType) {
    $("#savecover").show();
    var myForm = document.pereport;
    var skus = "";
    for(z=0; z<myForm.length;z++)
    {
        if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
        {
            if(myForm[z].checked)
            {
                if(skus.length <= 0)
                    skus += myForm[z].value;
                else
                    skus += ","+myForm[z].value;
            }
        }
    }
    
    if(actionType=='delete') {
        if(confirm('Are you sure you wish to delete these skus?'))
	{
		if(confirm('Once Deleted there is no way to recover the data!'))
		{
			var reply = prompt("Please Enter the Password")
			
			if(reply == "<?=$efc->getConfigValue("eFluent Settings", "DELETE_PASSWORD");?>")
			{
				$.post("ajax_action_checked.phtml", 
                                    {
                                        "action":actionType,
                                        "skus":skus
                                    },function(data){
                                    $("#savecover").hide();
                                });	
			}
			else
			{
				alert('Invalid Password');
			}
			

		}
	}
    }
    else {
        $.post("ajax_action_checked.phtml", 
            {
                "action":actionType,
                "skus":skus
            },function(data){
            $("#savecover").hide();
        });
    }
    
} 
function actionAll(actionType) {
    $("#savecover").show();
    var not_listid="", liveon =  "",disable_range="";
    if(document.skusearch.disable_range.checked)
            disable_range = 1;
    else
            disable_range = 0;
    var bdate = document.skusearch.bdate.value;
    if(document.skusearch.liveon.checked)
            liveon = 1;
    else
            liveon = 0;
    for (var i = 0; i < document.skusearch.not_listid.length; i++) 
    { 
        if (document.skusearch.not_listid.options[i].selected) 
        { 
            not_listid += document.skusearch.not_listid.options[i].value + ","; 
        } 
    }
    if(actionType=='delete') {
        if(confirm('Are you sure you wish to delete these skus?'))
	{
		if(confirm('Once Deleted there is no way to recover the data!'))
		{
			var reply = prompt("Please Enter the Password")
			
			if(reply == "<?=$efc->getConfigValue("eFluent Settings", "DELETE_PASSWORD");?>")
			{
				$.post("ajax_action_all.phtml", 
                                    {
                                        "action":actionType,
                                        "not_listid":not_listid,
                                        "disable_range":disable_range,
                                        "bdate":bdate,
                                        "liveon":liveon
                                    },function(data){
                                    $("#savecover").hide();
                                });	
			}
			else
			{
				alert('Invalid Password');
			}
			

		}
	}
    }
    else {
        $.post("ajax_action_all.phtml", 
            {
                "action":actionType,
                "not_listid":not_listid,
                "disable_range":disable_range,
                "bdate":bdate,
                "liveon":liveon
            },function(data){
            $("#savecover").hide();
        });
    }
} 
</script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
                <?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			<form name="pereport" method="post" action="">
                            <div id="reportdata">&nbsp;</div>
			</form>	
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>