<html>
<head>
<title>Salesman Working Orders</title>
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">

<script language="JavaScript" src="FusionCharts.js"></script>
  
</head>
<BODY BGCOLOR=#FFFFFF onload="updateChart()">

<div id="chartdiv" align="center">The chart will appear within this DIV. This text will be replaced by the chart.</div>
    <script type="text/javascript">
  	var myChart = new FusionCharts("Column3D.swf", "myChartId", "900", "300", "0", "1");
     myChart.setDataURL("data.phtml");
    myChart.render("chartdiv");

    function GetXmlHttpObject()
	{
		var xmlHttp=null;
	
		try
	    {
			// Firefox, Opera 8.0+, Safari
			xmlHttp=new XMLHttpRequest();
		}
	    catch (e)
	    {
	    	// Internet Explorer
	        try
	        {
				xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
			}
			catch (e)
	        {
	        	try
				{
					xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
				}
	            catch (e)
	            {
	            	alert("Your browser does not support AJAX!");
					return false;
				}
			}
		}
		
		return xmlHttp;
	}

	function updateChart(DOMId)
	{
  		//Get reference to chart object using Dom ID
   		
   		
		xml2Http=GetXmlHttpObject();
		
		if (xml2Http==null)
	 	{
	  		alert ("Your browser does not support AJAX!");
	  		return;
	  	} 	
	
	  	var url = "data.phtml";
		
	  	xml2Http.onreadystatechange=updateGraph;
		xml2Http.open("GET",url,true);
		xml2Http.send(null);
	}        
	
	function updateGraph()
	{
		if(xml2Http.readyState==4)
		{
			
			var chartObj = getChartFromId("myChartId");
    		
			var resp = xml2Http.responseText;
    		chartObj.setDataXML(xml2Http.responseText);
    		setTimeout('updateChart()', 5000);
		} 

	}
	
	//setTimeout('updateChart()', 5000);
    </script>
</body>
</html>