<?php
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

$pid = (int) $_GET['pid'];
$qty = (int) $_GET['qty'];


$cfid_bulk = $efc->getConfigValue('eFluent Settings', 'BULK_OPTIONS');
$cfid_bulk_promo = $efc->getConfigValue('eFluent Settings', 'BULK_OPTIONS_PROMO');

$table = $sc->getBulkTable($pid);

if (isset($_GET['list_bulk_options']) && !empty($pid) && $table != '')
{
	$bulk_options_arr = array();
	$q_bulk_options = "SELECT bulk_qty_min, bulk_qty_max, bulk_price, bulk_unit
					   FROM $table
					   WHERE pid = '$pid'
					   ORDER BY bulk_qty_min ASC";
	if(!$qok_bulk_options = mysql_db_query($DB, $q_bulk_options, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error in calc"; exit; }  }
	if (mysql_num_rows($qok_bulk_options) > 0)
	{
		while (list($bulk_qty_min, $bulk_qty_max, $bulk_price, $bulk_unit) = mysql_fetch_array($qok_bulk_options)) 
		{
			$bulk_options_arr[] = array('bulk_qty_min' => $bulk_qty_min, 'bulk_qty_max' => $bulk_qty_max, 'bulk_price' => $bulk_price, 'bulk_unit' => $bulk_unit);
		}
	}
	?>	
	<h4 style="margin:20px 0 0 0;">Bulk pricing chart</h4>
	<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
	<tr align="left">
		<td><strong>Quantity</strong></td>
		<td><strong>Price</strong></td>
	</tr>
	<?php 
	if (count($bulk_options_arr) > 0)
	{
		foreach ($bulk_options_arr AS $bulk_options)
		{ 
			if ($bulk_options['bulk_qty_max'] == 999)
			{
				$display_bqty = '> ' . $bulk_options['bulk_qty_min'] . ' ' . $bulk_options['bulk_unit'] . 's.';
			}
			else 
			{
				$display_bqty = $bulk_options['bulk_qty_min'] . ' - ' . $bulk_options['bulk_qty_max'] . ' ' . $bulk_options['bulk_unit'] . 's.';
			}
			?>
			<tr align="left">
				<td><?php echo $display_bqty; ?></td>
				<td>$<?php echo $bulk_options['bulk_price']; ?>/<?php echo $bulk_options['bulk_unit']; ?></td>
			</tr>
		<?php
		}
	}	
	else 
	{
		?>
		<tr align="left">
			<td><?php echo $display_bqty; ?></td>
			<td>$<?php echo $bulk_options['bulk_price']; ?>/<?php echo $bulk_options['bulk_unit']; ?></td>
		</tr>
		<?php		
	}
	?>
	</tr>
	</tbody>
	</table>
	<center><h4 style="margin: 20px 0 0 0;"><a class="hide_bulk_popup">Close popup</a></h4></center>
	<?php
}

if (!empty($pid) && !empty($qty) && $table != '')
{
	$q = "SELECT bulk_price
		  FROM $table
		  WHERE pid = '$pid'
		  AND $qty BETWEEN bulk_qty_min 
		  AND bulk_qty_max
		  LIMIT 1";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! Internal Error in calc"; exit; }  }
	if (mysql_num_rows($qok) > 0)
	{
		list($bulk_price) = mysql_fetch_array($qok);
		echo $bulk_price;
	}
	else 
	{
        $q = "SELECT bulk_price
                FROM $table
                WHERE pid = '$pid'
                ORDER BY bulk_qty_max DESC     
                LIMIT 1";
        if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! Internal Error in calc"; exit; }  }
        if (mysql_num_rows($qok) > 0)
        {
            list($bulk_price) = mysql_fetch_array($qok);
            echo $bulk_price;
        }
        else {
            echo 'no_price_to_return';
            exit;
        }
	}
}
