<?php
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;

$catTree = $sc->getCatTreeExt($c);

$sb = (int) $_GET['sb'];
// default to Date Added: New-Old
if ($sb == '') 
{
	$sb = 5;
}
elseif (!is_numeric($sb)) 
{
	$sb = 5;
}

if(intval($ipp) > 0)
{
	$_SESSION["IPP_RESULTS"] = $ipp;
	$ipp_results = $ipp;
}
if(intval($_SESSION["IPP_RESULTS"]) == 0)
{
	$_SESSION["IPP_RESULTS"] = 12;
	$ipp_results = 12;
}
else {
	$ipp_results = $_SESSION["IPP_RESULTS"];
}
if(intval($p) == 0)$p = 1;

$plist = $sc->getProductsNew($c, $p, $mid, $min, $max, $kw, $ss, $sb,$filters_arr, $numproducts, $numpages, $bview, $eview, $nextpage, $lastpage);
$cat_desc = $sc->getCategoryDescr($c);
include($ROOT_DIR."/m/include/header.phtml");
?>


<script src="/js/general.js" async="" type="text/javascript"></script>
<script>
function changeNewPSort() {
    var link = createPaginationLink();
    var sb = $('#disp-order-sorter').val();
    jQuery.get('/ajax_functions.phtml',{ action: "sort_by", 'sb': sb }, function(data) {
            window.location.href = '<?php echo $BASE_M_URL; ?>/new_products.phtml?sb='+sb+'&p=1';
    });
}
function createPaginationLink() {
	var url_vars  = $.getUrlVars();
	if(url_vars[0][0] != '' && url_vars[0][1] != '') {
		var link = '<?php echo $BASE_M_URL; ?>/new_products.phtml?';
		if(url_vars.length > 0) {
			for (var i=0;i<url_vars.length;i++) {
				if(i==0) {
					var tmp = '';
				}
				else {
					var tmp = '&';
				}
				if(url_vars[i][0] != '' && url_vars[i][1] != '') {
					if(url_vars[i][0] == 'p') {
						link+=tmp+url_vars[i][0]+"=1";
					}
					else {
						link+=tmp+url_vars[i][0]+"="+url_vars[i][1];
					}
				}
			}
		}
	}
	else {
		var link = window.location.href;
	}
	return link;
}
jQuery.extend({
  getUrlVars: function(){
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
      hash = hashes[i].split('=');
      if(hash.length>1) {
	      var x = new Array();
	      x[0] =  hash[0];
	      x[1] =  hash[1];
	      vars.push(x);
      }
      else {
      	  var x = new Array();
	      x[0] = '';
	      x[1] =  '';
	      vars.push(x);
      }
 /*     vars[i][0] = hash[0];
      vars[i][1] = hash[1];*/
    }
    return vars;
  },
  getUrlVar: function(name){
    return $.getUrlVars()[name];
  }
});
</script>
<?php include($ROOT_DIR."/m/include/top.phtml"); ?>
<?php include($ROOT_DIR."/m/include/new_products.phtml"); ?>
<?php include($ROOT_DIR."/m/include/footer.phtml"); ?>
