<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$xbdate = strtotime( date("Y-m-d 00:00:00", strtotime($bdate)) );
$xedate = strtotime( date("Y-m-d 23:59:59", strtotime($edate)) );


?><?=$pid;?>|<table width=95% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>Date</B></td>
	<td align=center height=21><B>PO# / InvoiceID</B></td>
	<td align=center><B>PID</B></td>
	<td align=center><B>Man</B></td>
	<td align=center><B>Man Part</B></td>
	<td align=center><B>Descr</B></td>
	<td align=center><B>Ordered</B></td>
	<td align=center><B>Received</B></td>
	<td align=center><B>Cost</B></td>
	<td align=center><B>Total</B></td>
</tr>
<?

if(intval($vendorid) > 0) $addon .= " AND vendor_pos.vendorid = '$vendorid'";
if(intval($status) >= 0) $addon .= " AND vendor_pos.status = '$status'";

$query = "select vendor_pos.sub_stamp, vendor_pos.poid, vendor_pos.invoiceid, vendor_po_lines.pid, vendor_po_lines.qty_ordered, vendor_po_lines.qty_shipped,
			vendor_po_lines.manname, vendor_po_lines.manpart, vendor_po_lines.descr, vendor_po_lines.price
			from
			vendor_pos, vendor_po_lines 
			where
			vendor_pos.poid = vendor_po_lines.poid AND
			vendor_pos.sub_stamp >= '$xbdate' AND
			vendor_pos.sub_stamp <= '$xedate' AND
			vendor_po_lines.pid = '$pid' 
			$addon
			order by vendor_pos.sub_stamp";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($date, $poid, $invoiceid, $pid, $oqty, $sqty, $manname, $manpart, $descr, $cost) = mysql_fetch_array($qok))
{
?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21 align="center">
			<?=date("m/d/Y H:i:s", $date);?>
		</td>
		<td  align="center">
			<a href="javascript:void(0);" onclick="e2window('/mgt/vn/viewpo.phtml?poid=<?=$poid;?>&inwin=1', 'View PO <?=$poid;?>');"><?=$poid;?></a> 
			<?if($invoiceid != "") echo " / "; ?>
			<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Order <?=$invoiceid;?>');"><?=$invoiceid;?></a></td>
		<td  align="center"><?=$pid;?></td>
		<td  align="center"><?=$manname;?></td>
		<td  align="center"><?=$manpart;?></td>
		<td  align="center"><?=$descr;?></td>
		<td  align="right"><?=$oqty;?></td>
		<td  align="right"><?=$sqty;?></td>
		<td  align="right"><?=number_format($cost, 2);?></td>
		<td  align="right"><?=number_format($cost * $oqty, 2);?></td>
	</tr>
<?

}
?>
</table>

