				<form name="plreport" onsubmit="return checkData();">
							<table>
							<tr>
								<td class="g1">Date Range:</td>
								<td>
								<select name="qdate" class="formselect" onchange="changeRange();">
									<option value="-1">-Quick Range-</option>
									<option value="1" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
									<option value="6" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
									
									<option value="7" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "7") echo "SELECTED";?>>Yesterday + Today</option>
									
									<option value="2" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
									<option value="3" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
									<option value="4" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
									
									<option value="8" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "8") echo "SELECTED";?>>Last 60 Days</option>
									<option value="9" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "9") echo "SELECTED";?>>Last 90 Days</option>
									<option value="10" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "10") echo "SELECTED";?>>Last 120 Days</option>
									
									<option value="5" <?if($_SESSION["OM_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
								</select>							
								<BR>
								
								<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
								
								- to -
								
									<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
								</td>
							</tr>						
							
							<tr>
								<td class="g1">Vendor:</td>
								<td>
									<select name="vendorid" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select vendorid, vendorname from vendors where dropshipvendor = '1' order by vendorname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($vid, $vendorname) = mysql_fetch_array($qok))
									{
										if(strlen($vendorname) > 25)
											$vendorname = substr($vendorname, 0, 22)."...";
										?>
										<option value="<?=$vid;?>"><?=$vendorname;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>
							<tr>
								<td class="g1">PO Status:</td>
								<td>
									<select name="postatus" class="formSelect" >
									<option value="-1">----- ALL --------
									<option value="2">Complete
									<option value="3">Error
									<option value="0">In-Queue
									<option value="1">Submitted
									<option value="4">Void
									</select>		
								</td>
							</tr>	
							<tr>
								<td class="g1"><div style="padding-top:2px;">Min Sourced QTY:</td>
								<td valign=top>
									<input type="text" name="sourcing_qty" value="" style="width:75px" class="formBox">						
								</td>
							</tr>			
							<tr>
								<td colspan=2>
										<div align=center>
											<!--<input type="button" name="Action" value="Export" onclick="pullReport(1)" class="buttonItem">	-->
											<input type="button" name="Action" value="View Report" onclick="pullReport(0)" class="buttonItem">
										</div>										
								</td>
							</tr>						
													
							</table>
							
						</form>	