<?

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

?>


<Chart bgColor='FBFBFB' bgAlpha='100' showBorder='0' lowerLimit='0' upperLimit='750' majorTMNumber='4' majorTMColor='666666' majorTMHeight='7' minorTMNumber='3' minorTMColor='666666' pivotRadius='3' majorTMThickness='2' showGaugeBorder='0' gaugeInnerRadius='60' tickMarkDecimalPrecision='1' numberPrefix='#' placeValuesInside='1'>
	<dials>
		
<?

// select avg(total) from customer_orders where orderdate >= '1236744000' and orderdate <= '1236830399'

$query = "select step, status from company_orderflow where complete = 0 and exclude = 0;";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
        list($avgtotal) = mysql_fetch_array($qok);
        
        
echo "<dial value='$avgtotal' borderAlpha='20' borderColor='333333' bgColor='EEEEEE' baseWidth='5' topWidth='1' />";

?>	
	
		
		</dials>
	<colorRange>
		<color minValue='0' maxValue='750' code='999999' />
	</colorRange>
</Chart>