<title>Average Profit</title>
<PRE>

</PRE>

<tr>
          </tr>
          <tr>
            <td><div id="chart5" align="center"><param name="wmode" value="transparent"> <embed type="application/x-shockwave-flash" src="AngularGauge.swf" id="chart5" name="chart5" quality="high" allowscriptaccess="always" flashvars="chartWidth=180&amp;chartHeight=100&amp;debugMode=0&amp;DOMId=chart5&amp;registerWithJS=0&amp;scaleMode=noScale&amp;lang=EN&amp;dataURL=data.phtml" height="100" width="180" wmode="transparent">
			</div>  
		    </td>
          </tr>
<!-- <td class="tab"><div align="center">Average Order Size</div></td> -->

