<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$addon =$pid_addon = $ebay_addon ="";
if($pid != "") {$addon .= " AND product_list.id = '$pid'";}
if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }
$keywords = str_replace('^','#',$keywords);
if(strlen($keywords) >= 2)
{
	$wordlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($wordlist); $xx++)
	{
		$thisword = $wordlist[$xx];
	
		$kwpart = " AND (product_list.manpart like '%$thisword%' OR 
						upccode like '%$thisword%' OR 
						descr like '%$thisword%' OR 
						product_list.id = '$thisword' OR 
						product_list.asin like '%$thisword%') ";
		
		$addon .= $kwpart;
	}
}
if($sku != "")$addon .= " AND product_list.sku = '$sku'";
if($upc != "")$addon .= " AND product_list.upccode = '$upc'";
if($exclude_kits == "1")$addon .= " AND product_list.kit = '0'";
$alt_sku_flag = $efc->getConfigValue("eFluent Settings", "ALT_SKU_FLAG");
if ($exclude_child == '1') 
{
        $addon .= " AND product_list.id NOT IN(SELECT pid FROM custom_values WHERE cfid='$alt_sku_flag' AND text_short=1)";
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "select distinct(product_list.id), 
				product_manufacturers.manname, 
				product_list.manpart, 
				product_list.descr,
				product_list.status, 
				product_list.visible, 
				product_list.dropship,
				product_list.sku,
				product_prices.instock,
				product_search_extended.dsqty
				from
				product_list
				INNER JOIN product_manufacturers ON product_list.manid = product_manufacturers.manid
				INNER JOIN product_prices ON product_list.id = product_prices.id
				INNER JOIN product_search_extended ON product_list.id = product_search_extended.pid
				
				where 
					1
					$addon
					group by product_list.id
					order by product_manufacturers.manname, 
							product_prices.price_level1 ";
$query = str_replace("\n", "", $query);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qok);

$numout = 0;
$ITEMS_PER_PAGE = 20;

if(intval($num2return) <= 0)
	$num2return = 20;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
if(mysql_num_rows($qok) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align=center height=21><b>Nr</b></td>
	<td align=center height=21><b>ID</b></td>
	<td align=center height=21><b>SKU</b></td>
	<td align=center><b>Man</b></td>
	<td align=center><b>ManPart</b></td>
	<td align=center><b>Title</b></td>
</tr>	
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
	while((list($id, $manname, $manpart, $descr, $status, $visible, $dropship,
				$sku, $instock, $dsqty) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
		{
				?>
				<tr>
					<td align=center><?=($onrow+1)?></td>
					<td align=center>
						<a href="javascript:e2window('viewupdates.phtml?id=<?=$id?>&inwin=1', 'View SKU: <?=$id?>','item_<?=$id?>');" id="item_<?=$id?>"><?=$id?></a>
					</td>
					<td align=center><?=$sku?></td>
					<td align=center><?=$manname?></td>
					<td align=center><?=$manpart?></td>
					<td align=center width="200px"><?=$descr?><br />(<?=strlen($descr)?>)</td>
				</tr>	
				<tr>
					<td colspan="6" style="border:1px solid black">
					<table>
						<tr>
							<td id="whidtd_<?=$id?>">
								<table>
									<tr>
									<?
									$lstock = 0;
									$numwhout = "";
									
									$query1 = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
									if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($whid, $whname) = mysql_fetch_array($qok1))
									{
									
										if($lwarehouse == "")
											$lwarehouse = "----";
													
										$query = "select sum(inv_available), cost from product_inventory where id = '$id' and whid = '$whid' group by whid";
										if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);
										
										$lstock += $inv_lavailable;
										?>
										<td>
											<!------------------------------------------------------------------------------------------------------------------------------>
											<table style="border:1px #eeeeee solid" >
											<tr>
												<td class="g1" colspan=2 bgcolor="#eeeeee"><div align=center><?=$whname;?> [<?=$whid;?>]</div></td>
											</tr>
											<tr>
												<td class="g1">Inv. Available:</td>
												<td><?=intval($inv_lavailable);?></td>
											</tr>
											<tr>
												<td class="g1">Avg Cost:</td>
												<td><?=number_format($inv_lcost, 2);?></td>
											</tr>		
											</table>
											<!------------------------------------------------------------------------------------------------------------------------------>
											<?
											$numwhout++;
											?>
										</td>
										<?
									}
									?>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table style="font-size:12px;">
									<tr>
										<td>Wharehouse</td>
										<td>Inventory</td>
										<td>Avg. Cost</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>
											<select name="whid" id="whid_<?=$id?>" class="formSelect" onchange="updateInvInfo('<?=$id?>')">
											<option value="">--- SELECT ---
											<?
											$query2 = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key != ''";
											if(!$qok2 = mysql_db_query($DB, $query2, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											while(list($whid, $whname) = mysql_fetch_array($qok2))
											{
											?>
											<option value="<?=$whid;?>" <?if($whid == $whid_filter) echo "SELECTED";?>><?=$whname;?></option>
											<?	
											}
											?>
											</select>
										</td>
										<?
										if($whid_filter != '') {
										    $query = "select sum(inv_available), cost from product_inventory where id = '$id' and whid = '$whid_filter' group by whid";
										    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
										    list($inv_lavailable_tmp, $inv_lcost_tmp) = mysql_fetch_array($q2ok);
										}
										?>
										<td>
										    <input type="text" name="inv" id="inv_<?=$id?>" value="<?=$inv_lavailable_tmp?>"  onkeypress="return autoSave(this, event,'<?=$id?>')"/>
										</td>
										<td>
										    <input type="text" name="cost" id="cost_<?=$id?>" value="<?=$inv_lcost_tmp?>"  onkeypress="return autoSave(this, event,'<?=$id?>')"/>
										</td>
										<td>
											<input type="button" name="Save" value="Save" id="save_inv" onclick="saveInvInfo('<?=$id?>')"/>
										</td>
										<td height="30px" colspan="4" align="center">
											<img src='/mgt/images/loading.gif' id="loading" style="display:none;">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
				<?
				$onrow++;
			$numout++;
		}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		/*url="/mgt/ebay/ajax_logsearch.phtml";
		url += "?ebcampid="+ebcampid;
		url += "&pid="+pid;
		url += "&listid="+listid;
		url += "&keywords="+escape(keywords);
		url += "&bdate="+bdate;
		url += "&edate="+edate;
		url += "&disable_range="+disable_range;*/
		
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
