<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
function logActionInventory($ltype, $type, $updateid, $title, $details,$DB,$mysqlid)
{
    $details = addslashes($details);
    $title = addslashes($title);

    $tstamp = date("Y-m-d H:i:s");

    $query = "insert into action_log_inventory(ltype, type, updateid, title, tstamp, userid) ";
    $query .= "values('$ltype', '$type', '$updateid', '$title', '$tstamp', '".@$_SESSION["ID"]."')";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
    $lid = mysql_insert_id();

    $query = "insert into action_log_inventory_extended(lid, details) values('$lid', '$details')";
    if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}




$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key='$whid' and config_key is NOT NULL";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($xwhid, $xwhname) = mysql_fetch_array($qok);


$query = "select sum(inv_available), cost from product_inventory where id = '$id' and whid = '$whid' group by whid";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);

$new_inv = $inv_lavailable+$inv;
$new_cost = $cost;
if ($cost == '') {
	$new_cost = $inv_lcost;
}

$q1 = "SELECT * FROM product_inventory where id = '$id' and whid = '$whid'";
$qok1 = mysql_db_query($DB, $q1, $mysqlid);
if (mysql_num_rows($qok1)==0) {
	$q = "insert into product_inventory(id, warehouse, inv_available, cost, whid) values('$id', '$xwhname', '$new_inv', '$new_cost', '$whid')";
}
else {
$q = "UPDATE product_inventory SET
				inv_available='$new_inv',
				cost='$new_cost'
			WHERE id = '$id' and whid = '$whid'";
}
$qok = mysql_db_query($DB, $q, $mysqlid);


$qx = "UPDATE product_prices SET instock='".$new_inv."',avgcost='$new_cost' WHERE id = '$id'";
$qok = mysql_db_query($DB, $qx, $mysqlid);

$details = "User ".$_SESSION['DISPLAYNAME']." [".$_SESSION["ID"]."] changed inventory from $inv_lavailable to $new_inv, cost from $inv_lcost to $new_cost for wherhouse $xwhname [$xwhid]";
logActionInventory("SUCCESS", "1", $id, "Inventory update PID: ".$id,$details,$DB,$mysqlid); 


if($efc->isParent($id))
{
	$efc->recalculateAltSKUInventory($id, intval($whid));
	$efc->touchSKU($id);
}

if($efc->isAltSKU($id))
{// this sku is marked as a child alt_sku
	
	$alt_sku_parentid = $efc->getAltSKUParentID($id); // get the pid of the parent for this alt_sku
	$efc->recalculateAltSKUInventory($alt_sku_parentid, intval($whid));
	$efc->touchSKU($id);
}

?>
<table>
	<tr>
	<?
	$lstock = 0;
	$numwhout = "";
	
	$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($whid, $whname) = mysql_fetch_array($qok))
	{
	
		if($lwarehouse == "")
			$lwarehouse = "----";
					
		$query = "select sum(inv_available), cost from product_inventory where id = '$id' and whid = '$whid' group by whid";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);
		
		$lstock += $inv_lavailable;
		?>
		<td>
			<!------------------------------------------------------------------------------------------------------------------------------>
			<table style="border:1px #eeeeee solid" >
			<tr>
				<td class="g1" colspan=2 bgcolor="#eeeeee"><div align=center><?=$whname;?> [<?=$whid;?>]</div></td>
			</tr>
			<tr>
				<td class="g1">Inv. Available:</td>
				<td><?=intval($inv_lavailable);?></td>
			</tr>
			<tr>
				<td class="g1">Avg Cost:</td>
				<td><?=number_format($inv_lcost, 2);?></td>
			</tr>		
			</table>
			<!------------------------------------------------------------------------------------------------------------------------------>
			<?
			$numwhout++;
			?>
		</td>
		<?
	}
	?>
	</tr>
</table>
