<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>Edit SKU Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

function searchSKUs(pagenumVal){
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	
	$("#savecover").show();
	var prodid = $('#id').val();
	var keywords = $('#keywords').val();
	var upc = $('#upc').val();
	var sku = $('#sku').val();
	var brand = $('#brand').val();
	if(document.skusearch.exclude_kits.checked)
		exclude_kits = 1;
	else
		exclude_kits = 0;
    if(document.skusearch.exclude_child.checked)
		exclude_child = 1;
	else
		exclude_child = 0;
	$.get("/mgt/reports/edit_inventory/ajax_skusearch2.phtml", 
		{
			'pid':prodid,
			'keywords':keywords,
			'upc':upc,
			'sku':sku,
			'brand':brand,				
			'exclude_kits':exclude_kits,	
			'whid_filter':$('#whid').val(),	
            'exclude_child':exclude_child,			
			'p':pagenumVal				
		},function(data){
		$('#reportdata').html(data);  
		$("#savecover").hide(); 	
   	});
}
function updateInvInfo(pid) {
	$('#loading').show();
	$.get("/mgt/reports/edit_inventory/ajax_getcats.phtml", 
		{
			id:pid,
			whid:$('#whid_'+pid).val()
						
		},function(data){
		var x = data.split('~');
//		$('#inv').val(x[0]);
		$('#cost_'+pid).val(x[1]);
		$('#loading').hide();
   	});
}
function saveInvInfo(pid){
	$('#loading').show();
	var whid = $('#whid_'+pid).val();
	var inv = $('#inv_'+pid).val();
	var cost = $('#cost_'+pid).val();
	$.get("/mgt/reports/edit_inventory/ajax_savecustom_field.phtml", 
		{
			'id':pid,
			'whid':whid,
			'inv':inv,
			'cost':cost
						
		},function(data){
			$('#whidtd_'+pid).html(data);
			$('#loading').hide();
			$('#inv_'+pid).val('');
			$('#cost_'+pid).val('');
//			location.reload();
   	});
}
function clearForm() {
	$('#keywords').val('');
	$('#id').val('');
	$('#upc').val('');
	$('#sku').val('');
	document.skusearch.brand.selectedIndex = 0;
}
function gotoPage(pagenum)
{
	searchSKUs(pagenum);
}
function countCharsBox(boxid)
{
	var strlength = document.getElementById(boxid).value.length;
	if (strlength >55) {
		document.getElementById(boxid).value = document.getElementById(boxid).value.substr(0,55);
	}
	var strlength = document.getElementById(boxid).value.length;
	document.getElementById(boxid+"cnt").innerHTML = "<font color='#808080'>" + strlength.toString() + " chars</font>";
}

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
	{
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
	catch (e)
	{
		// Internet Explorer
		try
		{
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
		{
			try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e)
			{
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}

	return xmlHttp;
}

/***************--------------PRODUCT CATEGORY SELECT --------------------*/
var g_level = 0;
function getCategories(level,pid)
{
	g_level = level;

	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	}

	var thislevel = level - 1;
	var varname = "cat"+thislevel+"_"+pid;

	if(thislevel == 0) 	cat = document.getElementById('cat0_'+pid).options[ document.getElementById('cat0_'+pid).selectedIndex ].value;
	if(thislevel == 1) 	cat = document.getElementById('cat1_'+pid).options[ document.getElementById('cat1_'+pid).selectedIndex ].value;
	if(thislevel == 2) 	cat = document.getElementById('cat2_'+pid).options[ document.getElementById('cat2_'+pid).selectedIndex ].value;
	if(thislevel == 3) 	cat = document.getElementById('cat3_'+pid).options[ document.getElementById('cat3_'+pid).selectedIndex ].value;
	if(thislevel == 4) 	cat = document.getElementById('cat4_'+pid).options[ document.getElementById('cat4_'+pid).selectedIndex ].value;

	if(thislevel == 0)
	{
		document.getElementById('cat1_'+pid).selectedIndex = 0;
		document.getElementById('cat2_'+pid).selectedIndex = 0;
		document.getElementById('cat3_'+pid).selectedIndex = 0;
		document.getElementById('cat4_'+pid).selectedIndex = 0;
	}
	else if(thislevel == 1)
	{
		document.getElementById('cat2_'+pid).selectedIndex = 0;
		document.getElementById('cat3_'+pid).selectedIndex = 0;
		document.getElementById('cat4_'+pid).selectedIndex = 0;
	}
	else if(thislevel == 2)
	{
		document.getElementById('cat3_'+pid).selectedIndex = 0;
		document.getElementById('cat4_'+pid).selectedIndex = 0;
	}
	else if(thislevel == 3)
	{
		document.getElementById('cat4_'+pid).selectedIndex = 0;
	}

	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
	{
		return;
	}

	var url="ajax_getcats.phtml?catid="+cat+"&pid="+pid+"&sid="+Math.random();

	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
function stateChanged()
{
	if(xmlHttp.readyState==4)
	{
		var lines=xmlHttp.responseText.split("\n");

		if(lines.length <= 2)
		{
//			recalcOrders();
			return;
		}
		var pid_lines = lines[0].split(",");
		var pid = pid_lines[2];
		document.getElementById("cat"+g_level+"d_"+pid).style.display = '';

		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d_"+pid).style.display = 'none';

			var theSelect = document.getElementById("cat"+g_level+"_"+pid);
			for (i = theSelect.length - 1; i>=0; i--)
			{
				theSelect.remove(i);
			}
		}

		var theSelect = document.getElementById("cat"+g_level+"_"+pid);
		var i;


		for (i = theSelect.length - 1; i>=0; i--)
		{
			theSelect.remove(i);
		}

		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");

			if(data[0] != "")appendOption(data);
		}

	}
}


function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level+"_"+data[2]);

	nOption = document.createElement('option');
	isData = document.createTextNode(data[1]);
	nOption.setAttribute('value',data[0]);
	nOption.appendChild(isData);

	//isList = document.advform.cat1;
	theSelect.appendChild(nOption);
}



/*--------------FILTER CATEGORY SELECT --------------------*/
var g_level_cat = 0;
function stateChangedCat()
{
	if(xmlHttp.readyState==4)
	{
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n");

		if(lines.length <= 2)
		{
			return;
		}

		document.getElementById("cat"+g_level_cat+"d_cat").style.display = '';

		for(xx = g_level_cat+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d_cat").style.display = 'none';

			var theSelect = document.getElementById("cat"+g_level_cat+"_cat");
			for (i = theSelect.length - 1; i>=0; i--)
			{
				theSelect.remove(i);
			}
		}

		var theSelect = document.getElementById("cat"+g_level_cat+"_cat");
		var i;


		for (i = theSelect.length - 1; i>=0; i--)
		{
			theSelect.remove(i);
		}

		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");

			if(data[0] != "")appendOptionCat(data);
		}
	}
}

var g_cat = 0;

function getCategoriesCat(level)
{
	g_level_cat = level;

	xmlHttp=GetXmlHttpObject();

	if (xmlHttp==null)
	{
		alert ("Your browser does not support AJAX!");
		return;
	}

	var thislevel = level - 1;
	var varname = "cat"+thislevel;

	if(thislevel == 0) 	cat = document.skusearch.cat0_cat.options[ document.skusearch.cat0_cat.selectedIndex ].value;
	if(thislevel == 1) 	cat = document.skusearch.cat1_cat.options[ document.skusearch.cat1_cat.selectedIndex ].value;
	if(thislevel == 2) 	cat = document.skusearch.cat2_cat.options[ document.skusearch.cat2_cat.selectedIndex ].value;
	if(thislevel == 3) 	cat = document.skusearch.cat3_cat.options[ document.skusearch.cat3_cat.selectedIndex ].value;
	if(thislevel == 4) 	cat = document.skusearch.cat4_cat.options[ document.skusearch.cat4_cat.selectedIndex ].value;

	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
	{
		return;
	}

	g_cat = cat;

	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChangedCat;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function appendOptionCat(data)
{
	var theSelect = document.getElementById("cat"+g_level_cat+"_cat");

	nOption = document.createElement('option');
	isData = document.createTextNode(data[1]);
	nOption.setAttribute('value',data[0]);
	nOption.appendChild(isData);

	//isList = document.advform.cat1;
	theSelect.appendChild(nOption);
}
var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 
function cancelReturn(oTextbox, oEvent)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			searchSKUs();
			return false;
		}
	}
}
function autoSave(oTextbox, oEvent,pid)
{
	var keyCode;

	if (isIE)
	{
		keyCode = oEvent.keyCode;
	}
	else if (isMoz)
	{
		keyCode = oEvent.charCode;
	}


	switch (oEvent.keyCode)
	{
		case 13: //enter
		{
			saveInvInfo(pid);
			return false;
		}
	}
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover_body {
display:none;
position:absolute;
left:0px;
top:0px!important;
width:100%!important;
height:100%!important;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover_body"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	<div id="productimage" class="item">&nbsp;</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>