<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

if(intval($brand) > 0) {
	$addon .= " and product_list.manid = '$brand' and product_kitskus.kid=product_list.id";
        $prodtable = ", product_list";
}
if(intval($pid) > 0) {
//	$addon .= " and product_list.id = '$pid' ";
	$addon .= " and product_kitskus.kid = '$pid' ";

}


if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND product_kitskus.kid = product_category_map.pid";}
else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND product_kitskus.kid = product_category_map.pid";}
else if($cat2 != "" && $cat0 != "" && $cat1 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND product_kitskus.kid = product_category_map.pid";}
else if($cat1 != "" && $cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND product_kitskus.kid = product_category_map.pid";}
else if($cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND product_kitskus.kid = product_category_map.pid";}

$queryx = "select product_list.id
				from product_list $cattable
				where 
				1
				$addon
				";
$queryx = "select product_kitskus.pid
				from product_kitskus $cattable $prodtable
				where 
                                    1
				$addon
				";
//echo $query;
//select product_list.id,product_kitskus.pid from product_list,product_kitskus where product_list.id = product_kitskus.pid AND product_kitskus.kid='970';
$onrow = 0;
if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$totalnum = $numresults = mysql_num_rows($qokx);
$numout = 0;
if(intval($num2return) <= 0)
$num2return = 50;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;

if(intval($p) == 0)	$p = 1;

$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );

$nextpage = $lastpage = 0;

if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;

$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0)
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;

if($eview > $totalnum)
$eview = $totalnum;

if(mysql_num_rows($qokx) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qokx, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/

	if($lastpage != "")
	echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "")
	echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>

<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td height="21" align="center" valign="middle"><B>Kit ID</B></td>
	<td height="21" align="center" valign="middle"><B>Campaign Name</B></td>
	<td height="21" align="center" valign="middle"><B>Type</B></td>
	<td height="21" align="center" valign="middle"><B>Listing ID</B></td>
	<td height="21" align="center" valign="middle"><B>End</B></td>
</tr>
<?

while((list($id) = mysql_fetch_array($qokx)) && ($numout < $ITEMS_PER_PAGE))
{
	
		$query = "select ecampid, pid, starttime, endtime, pid_lastupdate, ebaylistingid from ebay_listings where pid = '$id' and active = 1";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) > 0)
		{
			while(list($ecampid, $xpid, $starttime, $endtime, $pid_lastupdate, $ebaylistingid) = mysql_fetch_array($qok))
			{
				if(stristr($efc->getConfigValue("eBay", "ServerURL"), "sandbox") != FALSE)
					$ebaylink = "<a href='http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebaylistingid' target='_new'>$ebaylistingid</a>";
				else 
					$ebaylink = "<a href='http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=$ebaylistingid' target='_new'>$ebaylistingid</a>";
						
				
				$query = "select campaign_name, campaign_type, listid from ebay_campaigns where id = '$ecampid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($campaign_name, $campaign_type, $listid) = mysql_fetch_array($q2ok);
				
//				$campaign_name = substr($campaign_name, 0, 20)."...";
				?>
				<tr>
					<td><a href="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$id?>&inwin=1', 'View SKU: <?=$id?>','item_<?=$id?>');" id="item_<?=$id?>"><?=$id?></a></td>
					<td><?if($efc->getPermission("perm_edit_ebay")){?><a href="/mgt/ebay/campaign_edit.phtml?ebaycampaignid=<?=$ecampid;?>" target="_new"><?}?><?=$campaign_name;?></td>
					<td align="center"><?=strtoupper($campaign_type);?></td>
					<td align="center"><?=$ebaylink;?></td>
					<td align="center"><?if($efc->getPermission("perm_edit_ebay")){?><a href="javascript:void(0);" onclick="EndListing('<?=$ebaylistingid;?>');">End</a><?}else{?>n/a<?}?></td>
				</tr>
				<?
			}
		}
		else 
		{
			?>
<!--			<tr>
				<td colspan="5"><I>This item is not listed on eBay</I></td>
			</tr>-->
			<?
		}
	$numout++;
}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/

	if($lastpage != "")
	echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> SKUs on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "")
	echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else
	echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>