				<form name="plreport" onsubmit="return checkData();">
							<table>
							<tr>
								<td class="g1">Vendor:</td>
								<td>
									<select name="vendorid" id="vendorid" class="formSelect">
									<option value="">----- SELECT --------
									<?
									$query = "select vendorid, vendorname from vendors order by vendorname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($vendorid, $vendorname) = mysql_fetch_array($qok))
									{
										if(strlen($vendorname) > 25)
										{
											$vendorname = substr($vendorname, 0, 22)."...";
										}
										?>
										<option value="<?=$vendorid;?>" <?if($_SESSION["PROMOREC"]['vendorid'] == $vendorid) echo "SELECTED"; ?>><?=$vendorname;?>
										<?
									}
									?>
									</select>						
								</td>
							</tr>
							<tr>
								<td class="g1">Date Range:</td>
								<td>
								<select name="qdate" class="formselect" onchange="changeRange();">
									<option value="-1">-Quick Range-</option>
									<option value="1" <?if($_SESSION["PROMOREC"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
									<option value="6" <?if($_SESSION["PROMOREC"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
									
									<option value="7" <?if($_SESSION["PROMOREC"]['qdate'] == "7") echo "SELECTED";?>>Yesterday + Today</option>
									
									<option value="2" <?if($_SESSION["PROMOREC"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
									<option value="3" <?if($_SESSION["PROMOREC"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
									<option value="4" <?if($_SESSION["PROMOREC"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
									
									<option value="8" <?if($_SESSION["PROMOREC"]['qdate'] == "8") echo "SELECTED";?>>Last 60 Days</option>
									<option value="9" <?if($_SESSION["PROMOREC"]['qdate'] == "9") echo "SELECTED";?>>Last 90 Days</option>
									<option value="10" <?if($_SESSION["PROMOREC"]['qdate'] == "10") echo "SELECTED";?>>Last 120 Days</option>
									
									<option value="5" <?if($_SESSION["PROMOREC"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
								</select>							
								<BR>
								
								<input type="text" name="bdate" value="<?if($_SESSION["PROMOREC"]['bdate'] != "") echo $_SESSION["PROMOREC"]['bdate']; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
								
								- to -
								
									<input type="text" name="edate" value="<?if($_SESSION["PROMOREC"]['edate'] != "") echo $_SESSION["PROMOREC"]['edate']; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
								</td>
							</tr>						
							
							<tr>
								<td class="g1">PO Status:</td>
								<td>
									<select name="status" class="formSelect" >
										<option value="-1" <?if($_SESSION["PROMOREC"]['status'] == "-1") echo "SELECTED";?>>--- ALL ---
										<option value="0" <?if($_SESSION["PROMOREC"]['status'] == "0") echo "SELECTED";?>>In-Queue
										<option value="1" <?if($_SESSION["PROMOREC"]['status'] == "1") echo "SELECTED";?>>Submitted
										<option value="2" <?if($_SESSION["PROMOREC"]['status'] == "2") echo "SELECTED";?>>Complete
										<option value="3" <?if($_SESSION["PROMOREC"]['status'] == "3") echo "SELECTED";?>>Error
										<option value="4" <?if($_SESSION["PROMOREC"]['status'] == "4") echo "SELECTED";?>>Void
									</select>		
								</td>
							</tr>
								
							<tr>
								<td class="g1">Type:</td>
								<td>
									<select name="type" class="formSelect" >
										<option value="ALL" <?if($_SESSION["PROMOREC"]['type'] == "ALL") echo "SELECTED";?>>--- ALL ---
										<option value="sta" <?if($_SESSION["PROMOREC"]['type'] == "sta") echo "SELECTED";?>>STA ($) 
										<option value="spa" <?if($_SESSION["PROMOREC"]['type'] == "spa") echo "SELECTED";?>>SPA ($)
										<option value="eom" <?if($_SESSION["PROMOREC"]['type'] == "eom") echo "SELECTED";?>>EOM ($)
										<option value="vr"  <?if($_SESSION["PROMOREC"]['type'] == "vr") echo "SELECTED";?>>VR (%)
										<option value="hb"  <?if($_SESSION["PROMOREC"]['type'] == "hb") echo "SELECTED";?>>HB (%)
										<option value="bd"  <?if($_SESSION["PROMOREC"]['type'] == "bd") echo "SELECTED";?>>BD ($)
									</select>		
								</td>
							</tr>
									
							<tr>
								<td class="g1">SKU:</td>
								<td>
									<input type="text" name="sku" style="width:125px" class="formbox" value="<?=$_SESSION["PROMOREC"]['sku'];?>">
								</td>
							</tr>
							
							<tr>
								<td class="g1">Paid:</td>
								<td>
									<select name="paid" class="formSelect" >
										<option value="2"  <?if($_SESSION["PROMOREC"]['paid'] == "2") echo "SELECTED";?>>Unpaid
										<option value="1"  <?if($_SESSION["PROMOREC"]['paid'] == "1") echo "SELECTED";?>>Paid
										<option value="-1" <?if($_SESSION["PROMOREC"]['paid'] == "-1") echo "SELECTED";?>>--- ALL ---
									</select>		
								</td>
							</tr>
								
							<tr>
								<td colspan=2>
										<div align=center>
											<input type="button" name="Action" value="Export" onclick="pullReport(1);" class="buttonItem" disabled>	
											<input type="button" name="Action" value="Clear" onclick="Clear();" class="buttonItem">	
											<input type="button" name="Action" value="View Report" onclick="pullReport(0);" class="buttonItem">
										</div>										
								</td>
							</tr>						
													
							</table>
							
						</form>	