<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: update_clean_sourcing.phtml ROOT_DIR VENDORID\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon_alpha/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;

$mid = 1;

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonPhotive", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Product</MessageType>

";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed
$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno 
					from product_list, product_manufacturers, list_products
					where 
					product_list.manid = product_manufacturers.manid AND
					product_list.visible = 1 AND
					product_list.id = list_products.pid AND
					list_products.lid = '28' and length(product_list.upccode) >= 12 ";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $manname, $descr, $sku, $upccode, $modelno) = mysql_fetch_array($q2ok))
{
	echo "--------------------------------------------------\n";
	
	$skudata = $amClass->AddProduct($pid, $mid);
	
	if($skudata != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "insert into amazon_alpha_base_messages(pid, tstamp) values('$pid', '$tstamp')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$mid = mysql_insert_id();
		
		$skudata = str_replace("#mid#", "$mid", $skudata);
		
		$data .= $skudata;
	}
	else 
	{
		$tstamp = date("Y-m-d H:i:s", time());
		$query = "select id from amazon_alpha_errors where pid = '$pid' and message = 'SKU Excluded - check that it has a mapped static template'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			$query = "insert into amazon_alpha_errors(pid, tstamp, message) values('$pid', '$tstamp', 'SKU Excluded - check that it has a mapped static template')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}

}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$data .= "</AmazonEnvelope>\n";

$filename = "/tmp/amazon_alpha/basefeed.".date("Ymd-His", time());
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

$cmd = "/usr/bin/xmllint --format $filename > $filename.xml";
exec($cmd);

unlink($filename);
?>
<?mysql_close();?>