<?
set_time_limit(999999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*$query = "select count(*) from ebay_listings where ecampid = '$ebaycampaignid' AND active = '1'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($numlistings) = mysql_fetch_array($q2ok);	
*/
function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}

$basedir = "/home/httpd/butterflyphoto.com/mgt/amazon/xsd/";

$d = dir($basedir);

$onnum = 999999999;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "truncate xsd_toplevel";
if(!$q2ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "truncate xsd_keys";
if(!$q2ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "truncate xsd_values";
if(!$q2ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$query = "truncate xsd_sublevel";
if(!$q2ok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

while (false !== ($entry = $d->read())) 
{
	$onnum++;
	
	if($entry != '.' && $entry != '..' && $entry != '.svn' && $entry != 'amzn-base.xsd' && $entry != 'amazon_schema.xsd' && $entry != 'testfeed.xml' )
	{
		$rid = $tlid = $slid = $kid = 0;
		
		$filename = $basedir.$entry;
		$thisfile = $entry;
		//////////////////////////////////////////////////////////////////////////////////////////
		$fp = fopen($filename, "r");
		if(!$fp){echo "NO FILE!<BR>";exit;}
		$data = "";
		while(!feof($fp))$data .= fgets($fp, 4096);
		fclose($fp);
		//////////////////////////////////////////////////////////////////////////////////////////		
		
		$xmldata = xml2array($data);
		
		$usename = str_replace(".xsd", "", $thisfile);
		$query = "select id from xsd_root where name = '$usename'";
		if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($rid) = mysql_fetch_array($qok);
		
		if(intval($rid) <= 0)
		{
			echo "Cannot find root for $usename<BR>";
			exit;
		}
		
		$elements = $xmldata['xsd:schema']['xsd:element'];
		
		for($xx = 0; $xx < count($elements); $xx++)
		{
			$name = @$elements[$xx]['attr']['name'];
		
			echo "$name ($rid)<BR>";
			
			$complexElements = $elements[$xx]['xsd:complexType']['xsd:sequence']['xsd:element'];
			
			$sanity = @$complexElements[0]['attr']['name'];
			if($sanity == "")
				$sanity = @$complexElements[0]['attr']['ref'];
				
			if($sanity == "") // its a single product type
			{
				$ce_name = @$complexElements['attr']['name'];
				$ce_type = @$complexElements['attr']['type'];
				$ce_min = @$complexElements['attr']['minOccurs'];
				$ce_max = @$complexElements['attr']['maxOccurs'];
				
				echo "... FSCK CE_NAME: $ce_name TYPE: $ce_type MIN: $ce_min MAX: $ce_max<BR>";
				
				$choice = @$complexElements['xsd:complexType']['xsd:choice']['xsd:element']['attr']['ref'];
				
				if($choice == "")
				{
					$options = @$complexElements['xsd:complexType']['xsd:choice']['xsd:element'];
			
					for($ss = 0; $ss < count($options); $ss++)
					{
						$choice = $options[$ss]['attr']['ref'];
							
						if($choice == "")
							$choice = $options[$ss]['attr']['name'];
						
						echo "&nbsp;&nbsp;&nbsp;&nbsp;...... PT: $choice<BR>";
						
						$query = "insert into xsd_toplevel(rid, name, filename) values('$rid', '$choice', '$thisfile')";
						if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						$tlid = mysql_insert_id();
		
						
					}	
				}
				else 
				{
					echo "&nbsp;&nbsp;&nbsp;&nbsp;...... PT: $choice<BR>";
					
					$query = "insert into xsd_toplevel(rid, name, filename) values('$rid', '$choice', '$thisfile')";
					if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					$tlid = mysql_insert_id();
				}
			}
			else 
			{
				for($zz = 0; $zz < count($complexElements); $zz++)
				{
					$ce_name = @$complexElements[$zz]['attr']['name'];
					$ce_type = @$complexElements[$zz]['attr']['type'];
					$ce_min = @$complexElements[$zz]['attr']['minOccurs'];
					$ce_max = @$complexElements[$zz]['attr']['maxOccurs'];
					
					if($ce_name == "")
						$ce_name = @$complexElements[$zz]['attr']['ref'];
					
					echo "... CE_NAME: $ce_name TYPE: $ce_type MIN: $ce_min MAX: $ce_max<BR>";
							
					if($ce_name == "ProductType")
					{
						$options = @$complexElements[$zz]['xsd:complexType']['xsd:choice']['xsd:element'];
			
						if(count($options) <= 0 )
						{
							$options = @$complexElements[$zz]['xsd:simpleType']['xsd:restriction']['xsd:enumeration'];
							
							for($ss = 0; $ss < count($options); $ss++)
							{
								$choice = $options[$ss]['attr']['value'];
								
								if($choice == "")
									$choice = $options[$ss]['attr']['ref'];
									
								if($choice == "")
									$choice = $options[$ss]['attr']['name'];
								
								echo "&nbsp;&nbsp;&nbsp;&nbsp;...... PT(a): $choice<BR>";
								
								$query = "insert into xsd_toplevel(rid, name, filename) values('$rid', '$choice', '$thisfile')";
								if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								$tlid = mysql_insert_id();
							}
						}
						else 
						{
							for($ss = 0; $ss < count($options); $ss++)
							{
								$choice = $options[$ss]['attr']['ref'];
		
								if($choice == "")
									$choice = $options[$ss]['attr']['value'];
									
								if($choice == "")
									$choice = $options[$ss]['attr']['name'];
								
								if($choice == "")
									$choice = $options['attr']['ref'];
								
								echo "&nbsp;&nbsp;&nbsp;&nbsp;...... PT(b): $choice<BR>";
								
								$query = "insert into xsd_toplevel(rid, name, filename) values('$rid', '$choice', '$thisfile')";
								if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								$tlid = mysql_insert_id();
							}
						}
					}
					else if($ce_name == "ProductSubtype")
					{
						$options = $complexElements[1]['xsd:simpleType']['xsd:restriction']['xsd:enumeration'];
			
						for($ss = 0; $ss < count($options); $ss++)
						{
							$choice = $options[$ss]['attr']['value'];
							echo "&nbsp;&nbsp;&nbsp;&nbsp;...... ST: $choice<BR>";
							
							$query = "insert into xsd_sublevel(rid, tlid, name, filename) values('$rid', '$tlid', '$choice', '$thisfile')";
							if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							$slid = mysql_insert_id();
						}
					}
					else 
					{
						//echo "... CE_NAME: $ce_name TYPE: $ce_type MIN: $ce_min MAX: $ce_max<BR>";
						$query = "select id from xsd_toplevel where rid = '$rid' and name = '$name'";
						if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($tlid) = mysql_fetch_array($qok);
						
						$query = "insert into xsd_keys(tlid, tlname, name, type, min, max) values('$tlid', '$name', '$ce_name', '$ce_type', '$ce_min', '$ce_max')";
						if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						$kid = mysql_insert_id();
							
						if($ce_type == "")
						{
							echo "................ enumeration KID: $kid TLNAME: $name KNAME: $ce_name<BR>\n";
							
							///////////
							$options = @$complexElements[$zz]['xsd:complexType']['xsd:choice']['xsd:element'];
		
							
							if(!is_array($choices))
							{
								//echo "--- a ---<BR>";
								$options = @$complexElements[$zz]['xsd:simpleType']['xsd:restriction']['xsd:enumeration'];
								
								for($ss = 0; $ss < count($options); $ss++)
								{
									$choice = $options[$ss]['attr']['value'];
									
									if($choice == "")
										$choice = $options[$ss]['attr']['ref'];
										
									if($choice == "")
										$choice = $options[$ss]['attr']['name'];
									
									$valuetype = $options[$ss]['attr']['type'];
									if($valuetype == "")
										$options['attr']['type'];
		
									echo "&nbsp;&nbsp;&nbsp;&nbsp;............ enum: $choice [$valuetype]<BR>";
									
									$query = "insert into xsd_values(kid, name, valuetype) values('$kid', '$choice', '$valuetype')";
									if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								}
							}
							else 
							{
								for($ss = 0; $ss < count($options); $ss++)
								{
									$choice = $options[$ss]['attr']['ref'];
			
									if($choice == "")
										$choice = $options[$ss]['attr']['value'];
										
									if($choice == "")
										$choice = $options[$ss]['attr']['name'];
									
									if($choice == "")
										$choice = $options['attr']['ref'];
										
									$valuetype = $options[$ss]['attr']['type'];
									if($valuetype == "")
										$options['attr']['type'];
										
									echo "&nbsp;&nbsp;&nbsp;&nbsp;............ enum: $choice [$valuetype]<BR>";
		
									$query = "insert into xsd_values(kid, name, valuetype) values('$kid', '$choice', '$valuetype')";
									if(!$qok = mysql_db_query("amazon", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									
								}
							}					
							///////////
						}
					}
			
				}
			}
		}
	}
}

?>
<?mysql_close();?>