<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<script language="JavaScript" src="FusionCharts.js"></script>

		<table>
		<tr>
			<td>
				<?$otype = "DOLLAR"; INCLUDE("table_channel_breakdown.phtml");?>
			</td>
			
			<td>
				<div id="channel_value" align="center"> </div>
			</td>
			
			<td>
				<div id="channel_web" align="center"> </div>
			</td>
			<td>
				<div id="channel_phone" align="center"> </div>
			</td>
			<td>
				<div id="channel_amazon" align="center"> </div>
			</td>
			<td>
				<div id="channel_ebay" align="center"> </div>
			</td>
		</tr>
		</table>
		
		<!------------ same as above with count ------------------->
		<table>
		<tr>
			<td>
				<?$otype = "COUNT"; INCLUDE("table_channel_breakdown.phtml");?>
			</td>
			
			<td>
				<div id="channel_count" align="center"> </div>
			</td>
			
			<td>
				<div id="channel2_web" align="center"> </div>
			</td>
			<td>
				<div id="channel2_phone" align="center"> </div>
			</td>
			<td>
				<div id="channel2_amazon" align="center"> </div>
			</td>
			<td>
				<div id="channel2_ebay" align="center"> </div>
			</td>
		</tr>
		</table>		