<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
ob_start();

$bxdate = date("Y-m-d 00:00:00", strtotime($bdate));
$exdate = date("Y-m-d 23:59:59", strtotime($edate));
?>
<table bgcolor="#ffffee" width=100% style="border:1px dashed #808080;">
<tr>
	<td>&nbsp;&nbsp;</td>
	<td></td>
	<td align=center><B>Revenue</B></td>
	<td align=center><B>Profit</B></td>
	<td align=center><B>Margin</B></td>
</tr>
<?
$tsales = $tprofit = 0.00;

$catdata = array();
$query = "select catid, catname from product_categories where parentid = '$catid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($xcatid, $catname) = mysql_fetch_array($qok))
{
	$query = "select sum(sales),
				 sum(sales) - sum(cost) as profit, 
				 ((sum(sales) - sum(cost)) / sum(sales)) * 100 as margin 
				 from cache_sales_by_cat where catid = '$xcatid' and tstamp >= '$bxdate' and tstamp <= '$exdate'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($sales, $profit, $margin) = mysql_fetch_array($q2ok);
	
	if($sales > 0)
	{
		$catdata['catname'][] = $catname;
		$catdata['sales'][] = $sales;
		$catdata['profit'][] = $profit;
		$catdata['margin'][] = $margin;
		
		$tsales += $sales;
		$tprofit += $profit;
		
	}
}

if(is_array($catdata['catname']))
	array_multisort($catdata['sales'], SORT_NUMERIC, SORT_DESC, $catdata['catname'], $catdata['profit'], $catdata['margin']);

for($xx = 0; $xx < count($catdata['catname']); $xx++)
{	
?>
	<tr>
		<td>&nbsp;&nbsp;</td>
		<td><?=$catdata['catname'][$xx];?></td>
		<td align=right>$ <?=number_format($catdata['sales'][$xx], 2);?></td>
		<td align=right>$ <?=number_format($catdata['profit'][$xx], 2);?></td>
		<td align=right><?=number_format($catdata['margin'][$xx], 2);?> %</td>
	</tr>
<?
}
?>
<tr>
	<td>&nbsp;&nbsp;</td>
	<td>Totals:</td>
	<td align=right>$ <?=number_format($tsales, 2);?></td>
	<td align=right>$ <?=number_format($tprofit, 2);?></td>
	<td align=right><?=number_format( ($tprofit / $tsales) * 100, 2);?> %</td>
</tr>
</table>
<?
$data = ob_get_clean();

echo "$catid|$data";
?>
