<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
		<table>
		<tr>
			<td>
			<?php
			$query_where = '';
			// is defined type for orders?
			if ($otype && !empty($otype)) { $query_where .= "otype='$otype' AND "; } 

			// is defined origin type for orders?
			if ($origintype && !empty($origintype))
			{
				if ($origintype == 'web')
				{
					$query_where .= " clickid != 'PH'
									  AND clickid != 'AM'
									  AND clickid != 'EB'
									  AND ";
				}
				elseif ($origintype == 'phone')
				{
					$query_where .= " clickid = 'PH' AND ";
				}
				elseif ($origintype == 'amazon')
				{
					$query_where .= " clickid = 'AM' AND ";
				}
				elseif ($origintype == 'amazonca')
				{
					$query_where .= " clickid = 'AMC' AND ";
				}
				elseif ($origintype == 'ebay')
				{
					$query_where .= " (clickid = 'EB' OR clickid = 'EBACE') AND ";
				}
				elseif ($origintype == 'buy')
				{
					$query_where .= " clickid = 'BY' AND ";
				}
			}

			// is defined method for orders?
			if ($csmethod && !empty($csmethod))
			{
				$csmethod_tmp = explode('_',$csmethod);
				if (!$origintype || empty($origintype))
				{
					$query_where .= " clickid = '$csmethod_tmp[1]' AND ";
				}
				$query_where .= " csmethod = '$csmethod_tmp[0]' AND ";
			}

			// is defined date start and end for orders?
			if ($bdate && !empty($bdate) && $edate && !empty($edate))
			{
				$query_where .= " orderdate >= '".strtotime("$bdate 00:00:00")."' 
								 AND orderdate <= '".strtotime("$edate 23:59:59")."'";
			}
									
			$query = "SELECT COUNT(orderid) AS count, SUM(shipping) AS amount 
					  FROM customer_orders
					  WHERE $query_where
					  LIMIT 1";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($count, $amount) = mysql_fetch_array($qok);
			?>
			<table>
			<tr>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">Orders count:</div></td>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;"><?=$count;?></div></td>
			</tr>
			<tr>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">Amount:</div></td>
				<td align=right NOWRAP><div style="font-size:16px;font-weight:strong;">$ <?=number_format($amount, 2);?></div></td>
			</tr>
			</table>
			</div> 
			</td>
		</tr>
		</table>		
