<?
/*<chart caption="" palette="2" animation="1" subCaption="(Click to slice out or right click to choose rotation mode)" YAxisName="Sales Achieved" showValues="0" numberPrefix="$" formatNumberScale="0" showPercentInToolTip="0">

for($pp = 0; $pp < count($_SESSION["INVENTORY_VALUE"]); $pp++)
{
	echo "<set label=\"".$_SESSION["INVENTORY_VALUE"][$pp]["CATNAME"]."\" value=\"".$_SESSION["INVENTORY_VALUE"][$pp]["VALUE"]."\" isSliced=\"0\"/>";	
}

<styles>
<definition>
<style type="font" name="CaptionFont" color="666666" size="15"/>
<style type="font" name="SubCaptionFont" bold="0"/>
</definition>
<application>
<apply toObject="caption" styles="CaptionFont"/>
<apply toObject="SubCaption" styles="SubCaptionFont"/>
</application>
</styles>
</chart>
*/?>
<chart showLabels="0" showValues="0" showBorder="0" bgColor="#ffffff">
<?
for($pp = 0; $pp < count($_SESSION["INVENTORY_VALUE"]); $pp++)
{
	?>
	<set label="<?=$_SESSION["INVENTORY_VALUE"][$pp]["CATNAME"];?>" value="<?=$_SESSION["INVENTORY_VALUE"][$pp]["VALUE"];?>" /> 
	<?
}
?>
</chart>