<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
function cleanse($data)
{
	$data = str_replace("<![CDATA[", "", $data);
	$data = str_replace("]]>", "", $data);
			
	return preg_replace("/[^a-zA-Z0-9!~$#;:?&%=)(><.,\[\]\-'\+\/\"\s]/","", $data);
}

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$on = $efc->getOrderNumber($invoiceid);
$pidlist = explode(",", $productlist);
		
for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);
	
	if(intval($pid) > 0)
	{
		$query = "select lineid from customer_order_lines where qty_ordered > qty_shipped AND orderid = '$on' and prodid = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) <= 0)
		{
			echo "This would create a duplicate shipment!";
			exit;
		}
	}
}

/******************************************************************************************/
ob_start();

echo "<OpenShipments xmlns=\"x-schema:OpenShipments.xdr\">
		";

$result = array();
$dosummary = false;


$ship2name = cleanse($ship2name);
$ship2street1 = cleanse($ship2street1);
$ship2street2 = cleanse($ship2street2);
$ship2city = cleanse($ship2city);
$ship2state = strtoupper(cleanse($ship2state));
$ship2country = cleanse($ship2country);
$ship2phone = cleanse($ship2phone);
$emailaddr = cleanse($emailaddr);
		
if(strlen($ship2zip) > 5)
	$ship2zip = substr($ship2zip, 0, 5);
			
if($ship2phone == "" || (strtolower( trim($ship2phone) ) == "invalid request"))
	$ship2phone = "888-555-1212";
			
$shipdate = date("m/d/Y", time());
		
if($signature == 1)
	$delivery_confimration = "Y";
else 
	$delivery_confimration = "N";
	
/*$numpackages = 0;	
for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);
	
	if(intval($pid) > 0)	
	{
		$numpackages++;
	}
}*/
		
echo "
		<OpenShipment ShipmentOption=\"\" ProcessStatus=\"\">
		<ShipTo>
			<CustomerID></CustomerID>
			<CompanyOrName>$ship2name</CompanyOrName>
			<Attention></Attention>
			<Address1>$ship2street1</Address1>
			<Address2>$ship2street2</Address2>
			<Address3></Address3>
			<CountryTerritory>United States</CountryTerritory>
			<PostalCode>$ship2zip</PostalCode>
			<CityOrTown>$ship2city</CityOrTown>
			<StateProvinceCounty>$ship2state</StateProvinceCounty>
			<Telephone>$ship2phone</Telephone>
			<FaxNumber></FaxNumber>
			<EmailAddress></EmailAddress>
			<TaxIDNumber></TaxIDNumber>
			<ReceiverUpsAccountNumber></ReceiverUpsAccountNumber>
			<LocationID></LocationID>
			<ResidentialIndicator>Y</ResidentialIndicator>
		</ShipTo>
		<ShipmentInformation>
		<ServiceType>Expedited Mail Innovations</ServiceType>
			<NumberOfPackages>1</NumberOfPackages>
			<DescriptionOfGoods></DescriptionOfGoods>
			<ShipperNumber></ShipperNumber>
			<BillingOption>Prepaid</BillingOption>
			<BillTransportationTo></BillTransportationTo>
			<BillDutyTaxTo></BillDutyTaxTo>
			<SplitDutyAndTax></SplitDutyAndTax>
			<USI></USI>
		</ShipmentInformation>
		";
		
$ref2 = $ref3 = $ref4;
for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);
	
	$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	if(intval($pid) > 0)	
	{
		
		if($ref2 == "")$ref2 = $pid;			
		else if( strlen( $ref2 . "x" . $pid ) <= 30 )$ref2 .= "x$pid";
		else if($ref3 == "") $ref3 = $pid;		
		else if( strlen( $ref3 . "x" . $pid ) <= 30 )$ref3 .= "x$pid";
		else if($ref4 == "") $ref4 = $pid;		
		else if( strlen( $ref4 . "x" . $pid ) <= 30 )$ref4 .= "x$pid";
		
	}
}		
		
$weight = $weight * 16;
if($weight > 15.99) $weight = 15.99;

$ref = str_replace("-", "", $invoiceid);
		
echo "<Package>
		<PackageType>IRR</PackageType>
		<Weight>$weight</Weight>
		<TrackingNumber></TrackingNumber>
		<LargePackageIndicator></LargePackageIndicator>
		<Reference1>$ref</Reference1>
		<Reference2>$ref2</Reference2>
		<Reference3>$ref3</Reference3>
		<Reference4>$ref4</Reference4>
		<USPSDeliveryConfirmationOption>$delivery_confimration</USPSDeliveryConfirmationOption>
	</Package>
";


echo "
		<InternationalDocumentation>
			<InvoiceCurrencyCode></InvoiceCurrencyCode>
		</InternationalDocumentation>
		<Goods>
			<DescriptionOfGood></DescriptionOfGood>
			<Inv-NAFTA-CO-CountryTerritoryOfOrigin></Inv-NAFTA-CO-CountryTerritoryOfOrigin>
			<InvoiceUnits></InvoiceUnits>
			<InvoiceUnitOfMeasure></InvoiceUnitOfMeasure>
			<Invoice-SED-UnitPrice></Invoice-SED-UnitPrice>
		</Goods>
		</OpenShipment>";
		
		

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ship all coupons
$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
// ship all kits
$query = "select customer_order_lines.prodid from customer_order_lines, product_list where customer_order_lines.prodid = product_list.id and product_list.kit = '1' and customer_order_lines.orderid = '$on'";
if(!$q1723b = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($xkitpid) = mysql_fetch_array($q1723b))
{
	$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid = '$xkitpid'";
    if(!$q1732x = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}	
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
echo "</OpenShipments>";

$buffer = ob_get_clean();

$tstamp = date("YmdHis", time());

$filename = "$ROOT_DIR/mgt/ship/labels/$invoiceid"."_"."$tstamp.xml";

$fp = fopen($filename, "w");
fputs($fp, $buffer);
fclose($fp);

echo "OK\t\t0.00\t$invoiceid"."_"."$tstamp.xml\t\n";

?>