<?
// test
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");


REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;



function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
		
	return $data;
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
	url += "?type="+type;
	
	url += "&invoiceid="+invoiceid;
	url += "&ebayacctid="+ebayacctid;
	url += "&txid="+txid;
	
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&sid="+Math.random();
*/

function add2Query($add2query, $addon)
{
	/*if($addon == "")
		$addon .= $add2query;
	else */
		$addon .= " AND $add2query ";
		
	return $addon;
}

if ($type != '') {
	$type_addon = " ("; 
	$type_arr = explode(",",$type);
	foreach ($type_arr as $k=>$v) {
		if ($v !='') {
			$type_addon .= "amazon_feedback_canada.rating = '$v' OR ";
		}
	}
	$type_addon = substr($type_addon,0,-3);
	$type_addon .= ")"; 
}
if ($type_addon != '') {
	$addon	= " AND ".$type_addon;
}
//	$addon = add2Query("rating = '$type'", $addon);

	
	
if($invoiceid != "")
{
	//$orderid = $efc->getOrderNumber($invoiceid);
	$addon = add2Query("amazon_feedback_canada.orderid = '$orderid'", $addon);

	
	
	
}
	
/*if($ebayacctid != "")
	$addon = add2Query("ebayacctid = '$ebayacctid'", $addon);

if($txid != "")
	$addon = add2Query("txid = '$txid'", $addon);
*/
if($keywords != "")
{
	$kwaddon = "";
	$keywords = sanitizeInput($keywords);
	$kwlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($kwlist); $xx++)
	{
		$word = $kwlist[$xx];
		
		if($word != "")
		{
			if($kwaddon == "")
				$kwaddon = " (amazon_feedback_canada.comments like '%$word%' ";
				//$kwaddon = " (comments like '%$word%' OR username like '%$word%' ";
				else 
				//$kwaddon .= " OR comments like '%$word%' OR username like '%$word%' ";
				$kwaddon .= " OR amazon_feedback_canada.comments like '%$word%' ";
		}
		
	}
	
	$kwaddon .= ")";
	
	$addon = add2Query($kwaddon, $addon);
}
	
if($disable_range != "true")
{
	//if($bdate != "") $addon = add2Query(" date >= '$bdate' ", $addon); /*echo "<b>---> \$bdate = $bdate<br>";*/
	//if($edate != "") $addon = add2Query(" date <= '$edate' ", $addon); /*echo "<b>---> \$bdate = $edate<br>";*/

	/*if($bdate != "") $addon = add2Query(" date >= '".date("Y-m-d H:i:s", strtotime("$bdate 00:00:00"))."' ", $addon);
	if($edate != "") $addon = add2Query(" date <= '".date("Y-m-d H:i:s", strtotime("$edate 23:59:59"))."' ", $addon);*/
	
	if($bdate != "") $addon = add2Query(" amazon_feedback_canada.date >= '".date("Y-m-d", strtotime("$bdate 00:00:00"))."' ", $addon);
	if($edate != "") $addon = add2Query(" amazon_feedback_canada.date <= '".date("Y-m-d", strtotime("$edate 23:59:59"))."' ", $addon);

}
if ($removed !='') {
	$addon = add2Query("amazon_feedback_canada.removed = '$removed'", $addon);
}
if ($solicited !='') {
	$addon = add2Query("amazon_feedback_canada.solicited = '$solicited'", $addon);
}
if ($follow_up !='') {
	$addon = add2Query("amazon_feedback_canada.follow_up = '$follow_up'", $addon);
}

if ($status != '') {
	$addon .= " AND customer_orders.status='".$status."'";
}

if($addon != "") {
	$query = "select amazon_feedback_canada.fbid, 
					amazon_feedback_canada.date, 
					amazon_feedback_canada.rating, 
					amazon_feedback_canada.comments, 
					amazon_feedback_canada.ontime, 
					amazon_feedback_canada.described, 
					amazon_feedback_canada.custservice, 
					amazon_feedback_canada.orderid,
					amazon_feedback_canada.notes,
					amazon_feedback_canada.removed,
					amazon_feedback_canada.solicited,
					amazon_feedback_canada.follow_up,
					customer_orders.status
				from amazon_feedback_canada,customer_orders
				where 
					amazon_feedback_canada.orderid=customer_orders.orderid
					$addon 
				order by date";
}
else {
	$query = "select fbid, date, rating, comments, ontime, described, custservice, orderid,notes,removed,solicited,follow_up from amazon_feedback_canada order by date";
}

$query = "select amazon_feedback_canada.fbid, 
					amazon_feedback_canada.date, 
					amazon_feedback_canada.rating, 
					amazon_feedback_canada.comments, 
					amazon_feedback_canada.ontime, 
					amazon_feedback_canada.described, 
					amazon_feedback_canada.custservice, 
					amazon_feedback_canada.orderid,
					amazon_feedback_canada.notes,
					amazon_feedback_canada.removed,
					amazon_feedback_canada.solicited,
					amazon_feedback_canada.follow_up,
					customer_orders.status,
					company_orderflow.status
				from amazon_feedback_canada,customer_orders,company_orderflow
				where 
					amazon_feedback_canada.orderid=customer_orders.invoiceid AND
					company_orderflow.step=customer_orders.status
					$addon 
				order by date";
 
if($invoiceid !="") { 
	$query = "select fbid, date, rating, comments, ontime, described, custservice, orderid,notes,removed,solicited,follow_up from amazon_feedback_canada where orderid = '$invoiceid' OR orderid like '%$invoiceid%' order by date"; 
	$query = "select amazon_feedback_canada.fbid, 
					amazon_feedback_canada.date, 
					amazon_feedback_canada.rating, 
					amazon_feedback_canada.comments, 
					amazon_feedback_canada.ontime, 
					amazon_feedback_canada.described, 
					amazon_feedback_canada.custservice, 
					amazon_feedback_canada.orderid,
					amazon_feedback_canada.notes,
					amazon_feedback_canada.removed,
					amazon_feedback_canada.solicited,
					amazon_feedback_canada.follow_up,
					customer_orders.status,
					company_orderflow.status
				from amazon_feedback_canada,customer_orders,company_orderflow
				where 
					amazon_feedback_canada.orderid=customer_orders.invoiceid  AND
					company_orderflow.step=customer_orders.status AND
					(amazon_feedback_canada.orderid = '$invoiceid' OR amazon_feedback_canada.orderid like '%$invoiceid%')
				order by amazon_feedback_canada.date";
}
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = mysql_num_rows($qok);

//echo "ISPY: <b>$query</b><br>";
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<td>&nbsp;&nbsp;</td>          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Feedbacks </div></td>
	<td>&nbsp;&nbsp;</td>
</tr>
</table>

<table width=100%>
<tr bgcolor="#eeeeee">
	<td height=21><B>Feedback ID</B></td>
	<td height=21><B>Date</B></td>
	<td height=21><B>Rating</B></td>
	<td height=21><b>Comments</b></td>
	<td height=21><b>Notes</b></td>
	<td height=21><B>OnTime</B></td>
	<td height=21><B>Described</B></td>
	<td height=21><B>Customer<br />Serivce</B></td>
	<td height=21><B>Solicited</B></td>
	<td height=21><B>Follow up</B></td>
	<td height=21><B>Removed</B></td>
	<td height=21><B>Status</B></td>
	<td height=21><B>OrderID</B></td>
	<td height=21>&nbsp;</td>
</tr>
<?

while(list($feedbackid, $tstamp, $rating, $comments, $ontime, $described, $custservice, $orderid,$notes,$removed,$solicited,$follow_up,$status,$status_name) = mysql_fetch_array($qok))
{
	//echo "ARGH!"
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$feedbackid;?></td>
		<td height=21><?=$tstamp;?></td>
		<?
		if($described == "") { $described = "-"; }
		if($ontime == "") { $ontime = "-"; }
		if($custservice == "") { $custservice = "-"; }

		?>
		<td height=21><?=$rating;?></td>
		<td height=21><?=$comments;?></td>
		<td height=21><textarea class="formBox" style="width:280px;height:80px;" id="notes_<?=$feedbackid?>"><?=$notes;?></textarea></td>
		<td height=21><?=$ontime;?></td>
		<td height=21><?=$described;?></td>
		<td height=21><?=$custservice;?></td>
		<td height=21><input type="checkbox" <?if($solicited == 1) echo " checked";?> id="solicited_<?=$feedbackid?>"/></td>
		<td height=21><input type="checkbox" <?if($follow_up == 1) echo " checked";?> id="follow_up_<?=$feedbackid?>"/></td>
		<td height=21><input type="checkbox" <?if($removed == 1) echo " checked";?> id="removed_<?=$feedbackid?>"/></td>
		<td height=21><?=$status_name;?></td>
		<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$orderid;?>&inwin=1', 'View Order: <?=$orderid;?>');"><?=$orderid;?></a></td>
		<td height=21>
			<a href="javascript:void(0);" onclick="saveChanges('<?=$feedbackid?>')" id="save_<?=$feedbackid?>">save</a>
			<img src="/images/loading.gif" alt="" id="loading_<?=$feedbackid?>" style="display:none;"/>
		</td>
	</tr>
	<?
}
?>	
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<td>&nbsp;&nbsp;</td>          
	<td align="center"><div align="center"><?=number_format($totalnum,0);?> Feedbacks </div></td>
	<td>&nbsp;&nbsp;</td>
</tr>
</table>
<?mysql_close();?>