<form name="logsearch">
	<table>
	<tr>
		<td class="g1"><div style="padding-top:2px;">OrderID:</div></td>
		<td>
			<input type="text" name="invoiceid" style="width:125px" value="" class="formBox" onkeypress="return cancelReturn(this, event)">
		</td>
	</tr>	
	<!--<tr>
		<td class="g1"><div style="padding-top:2px;">eBay User Acct:</div></td>
		<td>
			<input type="text" name="ebayacctid" style="width:125px"  value="" class="formBox">
		</td>
	</tr>	-->
	<!--<tr>
		<td class="g1"><div style="padding-top:2px;">eBay TX ID:</div></td>
		<td>
			<input type="text" name="txid" style="width:125px"  value="" class="formBox">
		</td>
	</tr> -->
	<tr>
		<td class="g1"><div style="padding-top:2px;">Keywords:</div></td>
		<td>
			<input type="text" name="keywords" style="width:125px"  value="" class="formBox" onkeypress="return cancelReturn(this, event)">
		</td>
	</tr>	
	<tr>
		<td class="g1">Status:</td>
		<td>
			<select name="status" id="status" class="formSelect">
			<option value="">----- SELECT --------
			<?
			$query = "select step, status from company_orderflow order by step";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($step, $status) = mysql_fetch_array($qok))
			{
				?>
				<option value="<?=$step;?>"><?=$status;?>
				<?
			}
			?>
			</select>		
		</td>
	</tr>	
	<tr>
		<td class="g1"><div style="padding-top:2px;">Type:</div></td>
		<td>
			<select name="type" id="type" class="formSelect"  multiple style="height:80px;">
			<!-- class="formSelect"  multiple style="height:80px;"> -->
				<option value="">--- SELECT ---</option>
				
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				
  			</select>
		</td>
	</tr>	
	<tr>
		<td class="g1">Log Date:</td>
		<td>
		<select name="qdate" class="formselect" onchange="changeRange();">
			<option value="-1">-Quick Range-</option>
			<option value="1" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
			<option value="6" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
			<option value="2" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
			<option value="3" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
			<option value="4" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
			<option value="7" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "7") echo "SELECTED";?>>Last 60 Days</option>
			<option value="5" <?if($_SESSION["AFYAY_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
		</select>
		<BR>							
		<input type="checkbox" name="disable_range" checked>Ignore Date Range<BR>
		<?
		if($_SESSION["AFYAY_SAVEDSEARCH"]['bdate'] == "") $_SESSION["AFYAY_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
		if($_SESSION["AFYAY_SAVEDSEARCH"]['edate'] == "") $_SESSION["AFYAY_SAVEDSEARCH"]['edate'] = date("m/d/Y");
		?>
		<input type="text" name="bdate" value="<?=$_SESSION["AFYAY_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
onclick="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
		
		- to -
		
			<input type="text" name="edate" value="<?=$_SESSION["AFYAY_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
onclick="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
		</td>
	</tr>
	<tr>
		<td class="g1"><div style="padding-top:2px;">Solicited:</div></td>
		<td>
			<input type="radio" name="solicited" id="solicited_filter_0" value="0" checked/> All 
		</td>
	</tr>						
	<tr>
		<td class="g1">&nbsp;</td>
		<td>
			<input type="radio" name="solicited" id="solicited_filter_1" value="1" /> Solicited 
		</td>
	</tr>
	<tr>
		<td class="g1">&nbsp;</td>
		<td>
			<input type="radio" name="solicited" id="solicited_filter_2" value="2" /> Not Solicited 
		</td>
	</tr>
	<tr>
		<td class="g1"><div style="padding-top:2px;">Follow up:</div></td>
		<td>
			<input type="radio" name="solicited" id="follow_up_filter_0" value="0" checked/> All 
		</td>
	</tr>						
	<tr>
		<td class="g1">&nbsp;</td>
		<td>
			<input type="radio" name="solicited" id="follow_up_filter_1" value="1" /> Follow up 
		</td>
	</tr>
	<tr>
		<td class="g1">&nbsp;</td>
		<td>
			<input type="radio" name="solicited" id="follow_up_filter_2" value="2" /> Not Follow up 
		</td>
	</tr>
	<tr>
		<td class="g1"><div style="padding-top:2px;">Removed:</div></td>
		<td>
			<input type="radio" name="removed" id="removed_filter_0" value="0" checked/> All 
		</td>
	</tr>						
	<tr>
		<td class="g1">&nbsp;</td>
		<td>
			<input type="radio" name="removed" id="removed_filter_1" value="1" /> Removed 
		</td>
	</tr>
	<tr>
		<td class="g1">&nbsp;</td>
		<td>
			<input type="radio" name="removed" id="removed_filter_2" value="2" /> Not Removed 
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<BR>
				<div align=center>
					<input type="button" name="" value="Search" onclick="logSearch()" class="buttonItem">&nbsp;&nbsp;
					<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
		</td>
	</tr>									
	<tr>
		<td colspan=2>
			<div align=center>

			<BR>
			<div id="logresults" style="display:inline;">&nbsp;</div>	
			</div>
		</td>
	</tr>
	
							
	</table>
	
</form>	
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
<!--------------------------------------------------------------->