					<form name="skusearch">
						<table>
						<tr>
							<td class="g1">Keywords:</td>
							<td><input type="text" name="keywords" id="keywords" value="<?=$_SESSION["SAVEDSEARCH"]['keywords'];?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<tr>
							<td class="g1">ID:</td>
							<td><input type="text" name="id" id="id" style="width:75px" value="" class="formBox" onkeypress="return cancelReturn(this, event)"></td>
						</tr>
						<!--<tr>
							<td class="g1"><B>ALT Sku:</B></td>
							<td>
								<select name="alt_sku" id="alt_sku" class="formSelect">
								<option value="1">Dont show alts</option>
								<option value="2">Show all</option>
								<option value="3">Show children</option>
							</td>	
						</tr>	-->
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;
<!--										<input type="button" name="" value="Export" onclick="searchSKUs(1);" class="buttonItem">&nbsp;&nbsp;-->
										<input type="button" name="" value="Clear" onclick="clearForm();" class="buttonItem">&nbsp;&nbsp;
<!--										<input type="button" name="" value="Save" onclick="saveForm();" class="buttonItem"></div>-->
							</td>
						</tr>	
						<tr>
							<td colspan=2>
								<div align=center>
								<!---
									<input type="button" name="Action" value="Search" class="buttonItem">
									&nbsp;&nbsp;
									<input type="button" name="Action" value="Clear" class="buttonItem">
								--->
								<BR>
								<div id="skuresults" style="display:inline;">&nbsp;</div>
								<div id="poolresults" style="display:inline;">&nbsp;</div>		
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<!--------------------------------------------------------------->