<?
//ini_set('display_errors',1);
//error_reporting(E_ALL^E_NOTICE);
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;



REQUIRE($ROOT_DIR."/mgt/ship/autoship/shiporderData.phtml");
$autoShip = new shipOrderClass();
$autoShip->DB = $DB;
$autoShip->mysqlid = $mysqlid;
$autoShip->efc = $efc;
$autoShip->ROOT_DIR = $ROOT_DIR;

REQUIRE($ROOT_DIR."/mgt/ship/autoship/shiporderEndicia.phtml");
$shl= new shipOrderLabel($efc);
$shl->DB = $DB;
$shl->mysqlid = $mysqlid;
$shl->ROOT_DIR = $ROOT_DIR;

ini_set('display_errors',1);
error_reporting(E_ALL^E_NOTICE);

$tstamp = date("Y-m-d H:i:s", time());
$query = "insert into auto_shipping_items(tstamp) values('$tstamp')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$bsid = mysql_insert_id();

$weight = '1';
$idlist = substr($idlist,0,-1);
$ids = explode(',',$idlist);
?>
<HTML>
<HEAD>
<TITLE>Auto shipping</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#results {
	font-size:12px;
}

#results input,
#results select {
	width:120px;
}
</style>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
	display:none;
	width:125px;
	height:65px;
	position:absolute;
	z-index:100;
	background:white;
	padding:2px;
	font:9pt tahoma;
	border:1px solid gray
}

.cover {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:99;
	background:#eeeeee;
	filter:alpha(Opacity=50);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7
}
</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Auto shipping</B>
		<BR><BR>
		
		<table width=100%>
			<tr>
				<td><input type="button" value="Back" onclick="window.location='/mgt/ship/autoship/'" /></td>
			</tr>
		<tr>
<!--                    <td width=275 align=center>
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
                            <div class="TabbedPanelsContentGroup">
                                <div class="TabbedPanelsContent">  

                                </div>
                            </div>
			</div>
                    </td>-->
		
                    <td width=95%>
                        <div id="ajax_result">
                            <table class="sortable" width="99%">
                                
                            
                            <?
                            if(count($ids)>0 && is_array($ids)) {
                                foreach($ids as $xx=>$pid) {
                                    ?>
                                    <tr>
                                        <td colspan="6"><b>PID: <?=$pid?></b></td>
                                    </tr> 
                                    
                                    <?
                                    $autoShip->orders_skipped = array();
                                    $orders = $autoShip->getOrders($pid);
                                    $ignored_orders = $autoShip->orders_skipped;
                                    
                                    if(count($orders)<=0 && count($autoShip->orders_skipped) <=0) {
                                    	?>
                                    	<tr>
	                                        <td colspan="6"><i>No orders to ship</i></td>
	                                    </tr>
                                    	<?
                                    }
                                    else {
	                                    if(count($ignored_orders)>0) {
	                                        ?>
	                                        <tr bgcolor="#eeeeee">
	                                            <td colspan="6"><b>Ignored Orders</b></td>
	                                        </tr>
	                                        <tr bgcolor="#eeeeee">
	                                            <td><b>OrderId</b></td>
	                                            <td><b>InvoiceId</b></td>
	                                            <td colspan="4"><b>Msg</b></td>
	                                        </tr>
	                                        <?
	                                        foreach ($ignored_orders as $x=>$y) {
	                                            ?>
	                                                <tr>
	                                                    <td><a href="javascript:e2window('/mgt/om/vieworder.phtml?on=<?=$y['orderid']?>&inwin=1', 'View Order ','ignored_<?=$y['orderid'].'_'.$pid?>')" id="ignored_<?=$y['orderid'].'_'.$pid?>"><?=$y['orderid']?></a></td>
	                                                    <td><?=$y['invoiceid']?></td>
	                                                    <td colspan="4"><?=$y['msg']?></td>
	                                                </tr>   
	                                            <?
	                                        }
	                                    }
	                                    
	                                    if(count($orders)>0 && is_array($orders)) {
	                                        ?>
	                                        <tr bgcolor="#eeeeee">
	                                            <td><b>OrderID</b></td>
	                                            <td><b>InvoiceID</b></td>
	                                            <td><b>Label</b></td>
	                                            <td><b>Tracking</b></td>
	                                            <td><b>User</b></td>
	                                            <td><b>Date</b></td>
	                                        </tr>
	                                        <?
//	                                        foreach ($orders as $k=>$v) {
//	                                        	if ($k==2) {
//	                                        		break;
//	                                        	}
//	                                        	else {
//	                                        		print_r($k);
//	                                        	}
//	                                        }
//	                                        exit();
	                                        
	                                        foreach ($orders as $k=>$v) {
	                                        	if ($k==2) {
	                                        		break;
	                                        	}
	                            //                $labels = $v['qty_ordered'] / $v['carrier']['boxes'];
	                                            $v['qty_per_label'] = $v['qty_ordered'] / $v['carrier']['boxes'];
	                                            for($i=0;$i<$v['carrier']['boxes'];$i++) {
	                                                $response = $shl->createRequest($v,$i);
	                                                if($response['LabelRequestResponse']['Status']['value'] != 0) {
	                                                	?>
	                                                	<tr>
		                                                    <td><a href="javascript:e2window('/mgt/om/vieworder.phtml?on=<?=$v['orderid']?>&inwin=1', 'View Order ','order_<?=$v['orderid'].'_'.$pid.'_'.$i?>')" id="order_<?=$v['orderid'].'_'.$pid.'_'.$i?>"><?=$v['orderid']?></a></td>
		                                                    <td><?=$v['invoiceid']?></td>
		                                                    <td colspan="2"><?=$response['LabelRequestResponse']['ErrorMessage']['value']?></td>
		                                                    <td><?=$_SESSION['DISPLAYNAME']?></td>
		                                                    <td><?=date('m/d/Y',time())?></td>
		                                                </tr>    	
	                                                	<?
	                                                }
	                                                else {
	                                                	$label = $autoShip->createLabel($response,$v['carrier']['carrier'],$v,$i);
	                                                	
		                                                $query = "INSERT INTO customer_order_label_history(orderid,pid,label,tracking,user,user_id,date_created) VALUES('".$v['orderid']."','".$pid."','".$label['label']."','".$label['tracking']."','".$_SESSION['DISPLAYNAME']."','".$_SESSION['ID']."',NOW())";
		                                                if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error";echo $query; exit; }  }
		                                                ?>
		                                                <tr>
		                                                    <td><a href="javascript:e2window('/mgt/om/vieworder.phtml?on=<?=$v['orderid']?>&inwin=1', 'View Order ','order_<?=$v['orderid'].'_'.$pid.'_'.$i?>')" id="order_<?=$v['orderid'].'_'.$pid.'_'.$i?>"><?=$v['orderid']?></a></td>
		                                                    <td><?=$v['invoiceid']?></td>
		                                                    <td><a href="<?=$BASE_URL?>/mgt/ship/labels/<?=$label['label']?>" target="_blank"><?=$label['label']?></a></td>
		                                                    <td><?=$label['tracking']?></td>
		                                                    <td><?=$_SESSION['DISPLAYNAME']?></td>
		                                                    <td><?=date('m/d/Y',time())?></td>
		                                                </tr>    
		                                                <?
	                                                }
	                                            }
	                                        }
	                                    }
	                                    if($xx<count($ids)-1) {
	                                        ?>
	                                        <tr>
	                                            <td colspan="6" style="border-bottom:2px solid black"> &nbsp;</td>
	                                        </tr>
	                                        <?
	                                    }
                                    }
                                }
                            }
                            ?>
                            </table>
                        </div><!-- #ajax_result -->
                    </td>
		</tr>
		</table>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
<?
if($pkwin != 1)
{
?>	<td width=13 background="/mgt/images/r.jpg"> </td><?
}
?>	
</tr>
</table>

</body>
</html>