<?
REQUIRE("config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->mysqlid = $mysqlid;
$efc->db = $MYSQL_DATABASE;


//promos
REQUIRE($ROOT_DIR."/classes/promoclass.php");
$pr = new promoClass();
$pr->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$pr->db = $MYSQL_DATABASE;
$pr->mysqlid = $mysqlid;
$homepage ='yes';

REQUIRE($ROOT_DIR."/classes/trafficclass.phtml");
$tfc = new trafficClass();
$tfc->db = $MYSQL_DATABASE;
$tfc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$tfc->logTraffic("Main Page",0);

$sc = new siteClass();
$sc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$sc->db = $MYSQL_DATABASE;
$sc->check_PriceLevel($ref);
$sc->efc = $efc;
$id = $_GET['id'];
$plist = $pr->getProductsPromotion($id);
$pagecontent= $pr->getPageContent($id);
//$featured = $sc->outputFeatured(0,0,6,1);

include($ROOT_DIR."/include/header_pro.phtml");
include_once($ROOT_DIR."/ad_tracking.phtml");
?>



<script src="/js/general.js?<?php echo time(); ?>" async="" type="text/javascript"></script>

<?
if($pagecontent['customHTML']==1)
{
	if($pagecontent['customType']=='withBanner')
	{
?>

<div class="content_t" style="margin-top:200px !important; margin:0 auto; text-align:center; width:62%; float:none; background:none;">
<? }else{
 ?>
<div class="content_t" style="margin-top:10px !important; margin:0 auto; text-align:center; width:62%; float:none; background:none;">
<style>
body{
	background:none;
	}
</style>
<? } ?>
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
           
            <td id="column_center" style="padding:0px 16px;" valign="top">
                 <?
                echo $pagecontent['sdescr'];
                ?>
            </td>
            
        </tr>
    </table>
    
</div>

<? }else
{
if($pagecontent['entiresiteHide']!=1){
include($ROOT_DIR."/include/top.phtml");
}
?>
<? if($pagecontent['entiresiteHide']!=1){ ?>
<div class="content_t">

    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="column_left" style="width: 250px;">
                <?
				
                include($ROOT_DIR."/include/left_col.phtml");
				?>
            </td>
            <td id="column_center" style="padding:0px 16px;" valign="top">
                 <?
                include("promotion/promotion.phtml");
                ?>
            </td>
            
        </tr>
    </table>
    
</div>
<? }else { ?>
<?php if($pagecontent['showHeaderBanner']!=1) {  ?>
<style>
body{
	background:none;
	}
</style>
<div class="content_t" style="margin-top:15px; text-align:center; width:auto; float:none; background:none;">
 <? }else { ?>
 <div class="content_t" style="margin-top:200px; text-align:center; width:auto; float:none; background:none;">
 <? } ?>
    <table id="contentMainWrapper" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
           
            <td id="column_center" style="padding:0px 16px;" valign="top">
                 <?
                include("promotion/promotion.phtml");
                ?>
            </td>
            
        </tr>
    </table>
    
</div>
<? } ?>

<?
if($pagecontent['entiresiteHide']!=1){
include($ROOT_DIR."/include/footer.phtml");
}
}
?>

