<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

/*
	url += "&repid="+repid;
	url += "&house="+house;
	url += "&status="+status;	
*/
if(intval($repid) > 0)
	$addon .= " and customer_orders.arepid = '$repid' ";

if(intval($house) == 1)
{
	// include house
}
else if(intval($house) == 2)
	$addon .= " and customer_orders.houseorder = '0' "; // exclude house

if(intval($status) > 0)
	$addon .= " and customer_orders.status = '$status' ";
	
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>Tracking #</B></td>
	<td align=center><B>Order Date</B></td>
	<td align=center><B>Ship Date</B></td>
	<td align=center><B>Main Item</B></td>
	<td align=center><B>Order #</B></td>
	<td align=center><B>Method</B></td>
	<td align=center><B>Category</B></td>
</tr>
<?	
$lastinvoice = "";
$onrow = 1;

	$query = "select customer_orders.otype,customer_orders.orderid,customer_orders.category,customer_orders.shipping, customer_orders.invoiceid, customer_orders.orderdate, customer_order_lines.shipdate,
			customer_order_lines.price, customer_order_lines.cost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
			customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr, customer_order_lines.ex_return
			from
			customer_orders, customer_order_lines
			where
			customer_orders.orderid = customer_order_lines.orderid AND 
			customer_orders.orderdate >= '$xbdate' and
			customer_orders.orderdate <= '$xedate' 
			$addon order by customer_orders.invoiceid, customer_order_lines.price desc";	
//echo $query;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$items = array();
if (mysql_num_rows($qok)>0) {
	while ($line = mysql_fetch_assoc($qok)) {
		$odate = date("m/d/Y", $line['orderdate']);
		$sdate = date("m/d/Y", $line['shipdate']);
		
		$q = "select * from customer_order_tracking_extended, customer_order_tracking 
				where 
					customer_order_tracking_extended.tid = customer_order_tracking.tid AND
					orderid = '".$line['orderid']."' and prodid = '".$line['prodid']."'";

		if(!$qok1 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$track = mysql_fetch_assoc($qok1);
		
		$q1= "SELECT catname FROM product_categories WHERE catid='".$line['category']."'"; 
		if(!$qok2 = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$cat = mysql_fetch_assoc($qok2);
		
		$item = array();
		$item['odate'] = $odate;
		$item['sdate'] = $sdate;
		$item['trackno'] = $track['trackno'];
		$item['manpart'] = $line['manpart'];
		$item['invoiceid'] = $line['invoiceid'];
		$item['type'] = $track['type'];
		$item['catname'] = $cat['catname'];
		array_push($items,$item);
	}
}

foreach ($items as $key=>$value) {
	if (($items[$key]['trackno'] == $items[$key-1]['trackno']) && ($items[$key]['invoiceid']==$items[$key-1]['invoiceid'])) {
		
	}
	else {
	?>
		<tr bgcolor="#eeeeee">
			<td align=center height=21><?=$value['trackno']?></td>
			<td align=center><?=$value['odate']?></td>
			<td align=center><?=$value['sdate']?></td>
			<td align=center><?=$value['manpart']?></td>
			<td align=center><?=$value['invoiceid']?></td>
			<td align=center><?=$value['type']?></td>
			<td align=center><?=$value['catname']?></td>
		</tr>
		<?
	}
}


/*while(list($otype,$shipping_price, $invoiceid, $orderdate, $shipdate, $price, $cost, $qty, $prodid, $manname, $manpart, $descr, $ex_return) 
		= mysql_fetch_array($qok))
{
	if($invoiceid != $lastinvoice && $lastinvoice != "")
	{// display it
		
		outputLine($onrow, $mysqlid, $DB, $shipping,$bdate,$edate,$status);
		
		$onrow++;
		
		$lineitem = array();
		$header = array();

		$ttotal = $tcost = 0.00;
	}
}*/
?>
</table>