<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($export == 1)
{
	header("Pragma: public");
	header("Expires: 0"); // set expiration time
	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
	// browser must download file from server instead of cache
	
	// force download dialog
	header("Content-Type: application/force-download");
	header("Content-Type: application/octet-stream");
	header("Content-Type: application/download");
	
	// use the Content-Disposition header to supply a recommended filename and
	// force the browser to display the save dialog.
	header("Content-Disposition: attachment; filename=commission_report.csv;");
	
	/*
	The Content-transfer-encoding header should be binary, since the file will be read
	directly from the disk and the raw bytes passed to the downloading computer.
	The Content-length header is useful to set for downloads. The browser will be able to
	show a progress meter as a file downloads. The content-lenght can be determines by
	filesize function returns the size of a file.
	*/
	header("Content-Transfer-Encoding: binary");
	flush();
}
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
$query = "select customer_orders.orderid, customer_orders.invoiceid, company_orderflow.complete, customer_orders.orderdate
				from 
				customer_orders
				left join company_orderflow_onstep on 
				customer_orders.orderid = company_orderflow_onstep.orderid and
				customer_orders.status = company_orderflow_onstep.step
				left join company_orderflow on
				customer_orders.status = company_orderflow.step
				where 
				customer_orders.otype = 'INVOICE' AND
				customer_orders.completedate = 0 AND
				company_orderflow.complete = 1";

if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while(list($orderid, $invoiceid, $complete, $orderdate) = mysql_fetch_array($q313ok))
{// all of these orders are complete without a completedate..... so, let's compute it for'em
	$query = "select shipdate from customer_order_lines where orderid = '$orderid' order by shipdate desc limit 0, 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($shipdate) = mysql_fetch_array($qok);
	
	if($shipdate <= 0)
	{
		echo "<font color='#ff0000'>$invoiceid has no complete date</font><BR>";	
		$query = "update customer_orders set completedate = '$orderdate' where orderid = '$orderid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//echo "$invoiceid - ".date("m/d/Y", $orderdate)."<BR>";
	}
	else 
	{
		$query = "update customer_orders set completedate = '$shipdate' where orderid = '$orderid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		//echo "$invoiceid - ".date("m/d/Y", $shipdate)."<BR>";
	}
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
function outputLine($lineitem,$ptype,$order,$invoice,$date, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping, $includeshipping, $export)
{

//	print_r($lineitem);
	$query = "select shipping from customer_orders where invoiceid = '".$header['invoiceid']."'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($s) = mysql_fetch_array($qok);
	if($includeshipping == 1)
	{
		$shipping = $s;
	}
	else 
	{
		$shipping = 0.00;
		
	}
	
	/*$shipprice = 0.00;
	
	if($shipping == 1) // include cost
	{	
		$query = "select sum(cost) from customer_order_tracking where invoiceid = '".$header['invoiceid']."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($tscost) = mysql_fetch_array($qok);
	}
	else if($shipping == 2)*/
		$tscost = 0.00;
			
	$ttotal += $shipping;
	$tcost += $tscost;

	$tprofit = $ttotal - $tcost;
	$tmargin = ($tprofit / $ttotal) * 100;
	
	$odate = date("m/d/Y", $header['orderdate']);
	$sdate = date("m/d/Y", $header['shipdate']);
	for($xx = 0; $xx < count($lineitem['prodid']); $xx++)
	{
		$_SESSION['line_nr'] = $_SESSION['line_nr']+1;
		$pid = $lineitem['prodid'][$xx];
		$manname = $lineitem['manname'][$xx];
		$manpart = $lineitem['manpart'][$xx];
		$descr = $lineitem['descr'][$xx];
			
		if(strlen($descr) > 35)
			$descr = substr($descr, 0, 32)."...";
		
		$li_price = $lineitem['price'][$xx] * $lineitem['qty'][$xx];
		$li_cost = $lineitem['cost'][$xx] * $lineitem['qty'][$xx];
		$li_profit = $li_price - $li_cost;
		$li_margin = ($li_profit / $li_price) * 100;
//		$s = number_format(($li_price / $ttotal) * $s,2);
		if ($xx > 0 || $s == '0.00') 
		{
			$s = '';	
		}
		
		if($export == 1)
		{
			echo $pid.",".$order.",".$invoice.",".$odate.",".$manname.",".$manpart.",".$descr.",".$s.",".number_format($li_price,2, '.', '').",".number_format($li_cost,2, '.', '').",".number_format($li_profit,2, '.', '').",".number_format($li_margin,2, '.', '')."\n";
			
		}
		else 
		{	
			if($_SESSION['line_nr']%2)
			{
				echo "<tr bgcolor='#eeeeee'>";
			}
			else 
			{
				echo "<tr bgcolor='#ffffff'>";
			}
			?>
				<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$pid;?></td>
				<td>
					<a href="javascript:void(0);" 
						onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$header['invoiceid'];?>&inwin=1', 'View Order: <?=$header['invoiceid'];?>');">
						<?=$header['invoiceid'];?>
					</a>
				</td>
				<td><?=$header['otype']?></td>
				<td><?=$odate?></td>
				<td><?=$manname?></td>
				<td><?=$manpart?></td>
				<td><?=$descr?></td>
				<td align=right><?=$s?></td>
				<td align=right><?=number_format($li_price,2);?></td>
				<td align=right><?=number_format($li_cost,2);?></td>
				<td align=right><?=number_format($li_profit,2);?></td>
				<td align=right><?=number_format($li_margin,2);?>%</td>
			</tr>
			<?		
			if($includeshipping == 1)
			{
			?>
			<tr>
				<td colspan=7 align=right><B>Shipping</B></td>
				<td align=right><?=number_format($shipping,2);?></td>
				<td align=right>-</td>
				<td align=right>-</td>
				<td align=right>-</td>
			</tr>
			<?
				$ttotal += $shipping;
				$tprofit += $shipping;
				$tmargin = ($tprofit / $ttotal) * 100;
			}
		}
	}
}

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

/*
	url += "&repid="+repid;
	url += "&house="+house;
	url += "&status="+status;	
*/
/*if(intval($repid) > 0)
	$addon .= " and customer_orders.arepid = '$repid' ";
*/
if(intval($house) == 1)
{
	// include house
}
else if(intval($house) == 2)
	$addon .= " and customer_orders.houseorder = '0' "; // exclude house

/*if(intval($status) > 0)
	$addon .= " and customer_orders.status = '$status' ";*/
if($oprefix != "")
{
	$addon .= " AND customer_orders.invoiceid like '$oprefix%' ";
}	

$onrow = 1;

$includeshipping = $efc->getConfigValue("eFluent Settings", "CM_Report_Include_Shipping");

if(intval($usedate) == 2)
{
	$dateA = "customer_orders.orderdate";
	$dateB = "orderdate";
}
else 
{
	$dateA = "customer_order_lines.shipdate";
	$dateB = "completedate";
	
}

if(intval($repid) <= 0)	
{
	$query = "select distinct(arepid) from customer_orders where customer_orders.$dateB >= '$xbdate' and
				customer_orders.$dateB <= '$xedate' and arepid > 0 $addon";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	while(list($repid) = mysql_fetch_array($q4ok))
	{
		if($export == 1)
		{
			$repname = $efc->getRepName($repid);  
			if($repname == "") 
				$repname = "RepID: $repid [Unknown]";
			
			echo "\n\n\n$repname,,,,,,,\n";
			echo "PID,ORDER#,INVOICE#,ORDERDATE,MAN,MANPART,DESC,SHIPPING,PRICE,COST,PROFIT,MARGIN\n";
		}
		else 
		{
			?>
			<table width=99% id="results">
			<tr>
				<td><font size="3"><B><?$repname = $efc->getRepName($repid);  if($repname == "") echo "RepID: $repid [Unknown]"; else echo $repname;?></B></font></td>
			</tr>
			</table>
			<table width=99% id="results">
			<tr bgcolor="#eeeeee">
				<td align=center height=21><B>PID</B></td>
				<td align=center height=21><B>Order</B>#</td>
				<td align=center><B>Invoice</B>#</td>
				<td align=center><B>Order Date</B></td>
				<td align=center><B>Man</B></td>
				<td align=center><B>Man Part</B></td>
				<td align=center><B>Descr </B></td>
				<td align=center height=21><B>Shipping</B></td>
				<td align=center><B>Price</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Profit</B></td>
				<td align=center><B>Margin</B></td>
			</tr>
			<?	
		}
		
		$lastinvoice = "";
		
		
		$completed = 0;
		if(intval($status) > 0)
		{
			$query = "select complete from company_orderflow where step = '$status'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($completed) = mysql_fetch_array($qok);
		}
		
		$cattable = "";

		/*if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
		{ $cattable = ", order_category_map "; $addon .= " AND order_category_map.catid = '$cat4' AND customer_orders.orderid = order_category_map.orderid";}
		else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
		{ $cattable = ", order_category_map "; $addon .= " AND order_category_map.catid = '$cat3' AND customer_orders.orderid = order_category_map.orderid";}
		else if($cat2 != "" && $cat0 != "" && $cat1 != "")
		{ $cattable = ", order_category_map "; $addon .= " AND order_category_map.catid = '$cat2' AND customer_orders.orderid = order_category_map.orderid";}
		else if($cat1 != "" && $cat0 != "")
		{ $cattable = ", order_category_map "; $addon .= " AND order_category_map.catid = '$cat1' AND customer_orders.orderid = order_category_map.orderid";}
		else if($cat0 != "")
		{ $cattable = ", order_category_map "; $addon .= " AND order_category_map.catid = '$cat0' AND customer_orders.orderid = order_category_map.orderid";}*/
		if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat2 != "" && $cat0 != "" && $cat1 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat1 != "" && $cat0 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat0 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND customer_order_lines.prodid = product_category_map.pid";}
		
		if($completed == 1)
		{
			$query = "select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'INVOICE' AND
					customer_orders.status = '$status' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon 
		
					UNION 
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'RETURN' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.status = '5' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon 			
					
					UNION
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'EXCHANGE' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.status = '50' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon 
					
					UNION
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'CREDIT' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon			
								
					order by invoiceid, price desc";
		}
		else 
		{
			$query = "select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA as thedate,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.arepid = '$repid' AND
					customer_orders.orderdate >= '$xbdate' and
					customer_orders.orderdate <= '$xedate' and
					customer_orders.arepid > 0
					$addon 
					
					UNION 
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA as thedate,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr
					from
					customer_orders, customer_order_lines, customer_order_lines_log $cattable
					where
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.arepid = '$repid' AND
					customer_order_lines_log.tstamp >= '".date("Y-m-d H:i:s", $xbdate)."' and
					customer_order_lines_log.tstamp <= '".date("Y-m-d H:i:s", $xedate)."' and
					customer_order_lines_log.pid = customer_order_lines.prodid and
					customer_order_lines_log.orderid = customer_orders.orderid 
					$addon 
					
					order by thedate
					";	
		}
		
		$rprofit = $rtotal = $rcost = $rtotal = $price = $qty = $rcost = $cost = $rshipping = 0;
		
		$lineitem = array();
		$header = array();		
		$ttotal = $tcost = 0.00;
		
		//echo $query;
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($otype,$orderid, $invoiceid, $orderdate,   $shipdate, $price, $cost, $qty, $prodid, $manname, $manpart, $descr) = mysql_fetch_array($qok))
		{
			//echo "$invoiceid - $prodid<BR>";
			if ($mylastinvoice != $invoiceid) {
				$query = "select shipping from customer_orders where invoiceid = '".$invoiceid."'";
				if(!$q6ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping) = mysql_fetch_array($q6ok);
//				print_r($shipping . " ". $invoiceid);	
				$rshipping +=$shipping;
			}
		
			$mylastinvoice = $invoiceid;
			if($invoiceid != $lastinvoice && $lastinvoice != "")
			{// display it
				$q_p = "select amount from customer_payments where status = '1' and orderid = '".$orderid."'";
				if(!$qok_p = mysql_db_query($DB, $q_p, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$ptype = mysql_fetch_assoc($qok_p);
				
				
				outputLine($lineitem,$ptype,$invoiceid,$otype,$orderdate, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping, $includeshipping, $export);
				
				
				if($includeshipping == 1)
				{
//					$rtotal += $shipping;
				}
				
				
				$onrow++;
				
				$lineitem = array();
				$header = array();
		
				$ttotal = $tcost = 0.00;
			}
		
			if($otype == "RETURN")
			{
				$price = $price * -1;	
				$cost = $cost * -1;
			}
			if($otype == "EXCHANGE" && $ex_return == 1)
			{
				if($price > 0)
					$price = $price * -1;	
				
				if($cost > 0)
				$cost = $cost * -1;
			}				
			
			$lineitem['prodid'][] = $prodid;
			$lineitem['manname'][] = $manname;
			$lineitem['manpart'][] = $manpart;
			$lineitem['descr'][] = $descr;
			$lineitem['qty'][] = $qty;	
			$lineitem['price'][] = $price;
			$lineitem['cost'][] = $cost;		
			$lineitem['shipdate'][] = $shipdate;		
			
			$header['otype'] = $otype;		
			$header['invoiceid'] = $invoiceid;		
			$header['orderdate'] = $orderdate;		
			$header['shipdate'] = $shipdate;	
			$header['shipping'] = $shipping;	
				
			$ttotal += 	$price * $qty;
			$tcost += 	$cost * $qty;
			
			$lastinvoice = $invoiceid;
			
			$rtotal += $price * $qty;
			$rcost += $cost * $qty;
		}
		
		if(mysql_num_rows($qok) > 0)
		{
			
			$q_p = "select amount from customer_payments where status = '1' and orderid = '".$invoiceid."'";
			if(!$qok_p = mysql_db_query($DB, $q_p, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$ptype = mysql_fetch_assoc($qok_p);
			outputLine($lineitem,$ptype,$invoiceid,$otype,$orderdate, $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping, $includeshipping, $export);
			if ($mylastinvoice != $invoiceid) {
				$query = "select shipping from customer_orders where invoiceid = '".$invoiceid."'";
				if(!$q6ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping) = mysql_fetch_array($q6ok);
//				print_r($shipping . " ". $invoiceid);
				$rshipping +=$shipping;
			}
		
			$mylastinvoice = $invoiceid;
			if($includeshipping == 1)
			{
//				$rtotal += $shipping;
			}			
			
			$onrow++;
		}
		
		$rprofit = $rtotal - $rcost;
		
		if($export == 1)
		{
			$pct = $efc->getConfigValue("General Settings", "SalesmanCommission");
			$pct = trim(str_replace("%", "", $pct));
			$pct = $pct / 100;
			
			echo ",,,,,,,$rshipping,$rtotal,$rcost,$rprofit,".(($rprofit / $rtotal) * 100)."\n";
			echo ",,,,,,,Commission,".$efc->getRepName($repid).",".($pct*100).",".($rprofit * $pct)."\n";
		}
		else 
		{
			?>
			<tr bgcolor="#eeeeee">
				<td colspan=7 align=right height=21><B>Totals:</B></td>
				<td align=right><B><?=number_format($rshipping, 2);?></B></td>
				<td align=right><B><?=number_format($rtotal, 2);?></B></td>
				<td align=right><B><?=number_format($rcost, 2);?></B></td>
				<td align=right><B><?=number_format($rprofit, 2);?></B></td>
				<td align=right><B><?=number_format(($rprofit / $rtotal) * 100, 2);?>%</B></td>
			</tr>
			<?
			$pct = $efc->getConfigValue("General Settings", "SalesmanCommission");
			$pct = trim(str_replace("%", "", $pct));
			$pct = $pct / 100;
			?>
			<tr bgcolor="#ffffff">
				<td colspan=7 align=right height=21><B>Commission:</B></td>
				<td align=right>&nbsp;</td>
				<td align=right>&nbsp;</td>
				<td align=right><?=$efc->getRepName($repid);?></B></td>
				<td align=right><B><?=number_format($pct*100, 2);?>%</B></td>
				<td align=right><B><?=number_format($rprofit * $pct, 2);?></B></td>
			</tr>
			</table>
			<?		
		}
	}
	
}
else 
{
	if($export == 1)
	{
		$repname = $efc->getRepName($repid); 
		if($repname == "") 
			$repname = "RepID: $repid [Unknown]"; 
		
		echo "\n\n\n$repname,,,,,,,\n";
		echo "PID,ORDER#,INVOICE#,ORDERDATE,MAN,MANPART,DESC,SHIPPING,PRICE,COST,PROFIT,MARGIN\n";
	}	
	else 
	{
	?>
		<table width=99% id="results">
		<tr>
			<td><font size="3"><B><?$repname = $efc->getRepName($repid);  if($repname == "") echo "RepID: $repid [Unknown]"; else echo $repname;?></B></font></td>
		</tr>
		</table>
		<table width=99% id="results">
		<tr bgcolor="#eeeeee">
			<td align=center height=21><B>PID</B></td>
			<td align=center height=21><B>Order</B>#</td>
			<td align=center><B>Invoice</B>#</td>
			<td align=center><B>Order Date</B></td>
			<td align=center><B>Man</B></td>
			<td align=center><B>Man Part</B></td>
			<td align=center><B>Descr </B></td>
			<td align=center height=21><B>Shipping</B></td>
			<td align=center><B>Price</B></td>
			<td align=center><B>Cost</B></td>
			<td align=center><B>Profit</B></td>
			<td align=center><B>Margin</B></td>
		</tr>
	<?	
	}
		$lastinvoice = "";
		
		
		$completed = 0;
		if(intval($status) > 0)
		{
			$query = "select complete from company_orderflow where step = '$status'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($completed) = mysql_fetch_array($qok);
		}
		$cattable = "";

		if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat2 != "" && $cat0 != "" && $cat1 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat1 != "" && $cat0 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND customer_order_lines.prodid = product_category_map.pid";}
		else if($cat0 != "")
		{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND customer_order_lines.prodid = product_category_map.pid";}
		if($completed == 1)
		{
			$query = "select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'INVOICE' AND
					customer_orders.status = '$status' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon 
		
					UNION 
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'RETURN' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.status = '5' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon 			
					
					UNION
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'EXCHANGE' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.status = '50' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon 
					
					UNION
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr,  customer_order_lines.ex_return
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.otype = 'CREDIT' AND
					customer_orders.arepid = '$repid' AND
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.$dateB >= '$xbdate' and
					customer_orders.$dateB <= '$xedate'
					$addon			
								
					order by invoiceid, price desc";		
		}
		else 
		{
			$query = "select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA as thedate,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr
					from
					customer_orders, customer_order_lines $cattable
					where
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.arepid = '$repid' AND
					customer_orders.orderdate >= '$xbdate' and
					customer_orders.orderdate <= '$xedate' 
					$addon 
					
					UNION 
					
					select customer_orders.otype,customer_orders.orderid, customer_orders.invoiceid, customer_orders.orderdate, $dateA as thedate,
					customer_order_lines.price, customer_order_lines.scost, customer_order_lines.qty_shipped, customer_order_lines.prodid,
					customer_order_lines.manname, customer_order_lines.manpart, customer_order_lines.descr
					from
					customer_orders, customer_order_lines, customer_order_lines_log $cattable
					where
					customer_orders.orderid = customer_order_lines.orderid AND
					customer_orders.arepid = '$repid' AND
					customer_order_lines_log.tstamp >= '".date("Y-m-d H:i:s", $xbdate)."' and
					customer_order_lines_log.tstamp <= '".date("Y-m-d H:i:s", $xedate)."' and
					customer_order_lines_log.pid = customer_order_lines.prodid and
					customer_order_lines_log.orderid = customer_orders.orderid 
					$addon 
					
					order by thedate";	
		}
		//echo $query."<BR><BR>";

		$rprofit = $rtotal = $rcost = $rtotal = $price = $qty = $rcost = $cost = $rshipping =  0;
		
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($otype,$orderid, $invoiceid, $orderdate,   $shipdate, $price, $cost, $qty, $prodid, $manname, $manpart, $descr) = mysql_fetch_array($qok))
		{
			//echo "$invoiceid - $prodid<BR>";
			if ($mylastinvoice != $invoiceid) {
				$query = "select shipping from customer_orders where invoiceid = '".$invoiceid."'";
				if(!$q6ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping) = mysql_fetch_array($q6ok);
//				print_r($shipping . " ". $invoiceid);	
				$rshipping +=$shipping;
			}
		
			$mylastinvoice = $invoiceid;
			if($invoiceid != $lastinvoice && $lastinvoice != "")
			{// display it
				$q_p = "select amount from customer_payments where status = '1' and orderid = '".$orderid."'";
				if(!$qok_p = mysql_db_query($DB, $q_p, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$ptype = mysql_fetch_assoc($qok_p);
				
				
				outputLine($lineitem,$ptype,$header['invoiceid'],$header['otype'],$header['orderdate'], $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping, $includeshipping, $export);
				
				
				if($includeshipping == 1)
				{
//					$rtotal += $shipping;
				}
				
				
				$onrow++;
				
				$lineitem = array();
				$header = array();
		
				$ttotal = $tcost = 0.00;
			}
		
			if($otype == "RETURN")
			{
				$price = $price * -1;	
				$cost = $cost * -1;
			}
			if($otype == "EXCHANGE" && $ex_return == 1)
			{
				if($price > 0)
					$price = $price * -1;	
				
				if($cost > 0)
				$cost = $cost * -1;
			}				
			
			$lineitem['prodid'][] = $prodid;
			$lineitem['manname'][] = $manname;
			$lineitem['manpart'][] = $manpart;
			$lineitem['descr'][] = $descr;
			$lineitem['qty'][] = $qty;	
			$lineitem['price'][] = $price;
			$lineitem['cost'][] = $cost;		
			$lineitem['shipdate'][] = $shipdate;		
			
			$header['otype'] = $otype;		
			$header['invoiceid'] = $invoiceid;		
			$header['orderdate'] = $orderdate;		
			$header['shipdate'] = $shipdate;	
			$header['shipping'] = $shipping;	
				
			$ttotal += 	$price * $qty;
			$tcost += 	$cost * $qty;
			
			$lastinvoice = $invoiceid;
			
			$rtotal += $price * $qty;
			$rcost += $cost * $qty;
		}
		
		if(mysql_num_rows($qok) > 0)
		{
			
			$q_p = "select amount from customer_payments where status = '1' and orderid = '".$invoiceid."'";
			if(!$qok_p = mysql_db_query($DB, $q_p, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$ptype = mysql_fetch_assoc($qok_p);
			outputLine($lineitem,$ptype,$header['invoiceid'],$header['otype'],$header['orderdate'], $header, $ttotal, $tcost, $onrow, $mysqlid, $DB, $shipping, $includeshipping, $export);
			if ($mylastinvoice != $invoiceid) {
				$query = "select shipping from customer_orders where invoiceid = '".$invoiceid."'";
				if(!$q6ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping) = mysql_fetch_array($q6ok);
//				print_r($shipping . " ". $invoiceid);
				$rshipping +=$shipping;
			}
		
			$mylastinvoice = $invoiceid;
			if($includeshipping == 1)
			{
//				$rtotal += $shipping;
			}			
			
			$onrow++;
		}
		
		$rprofit = $rtotal - $rcost;
		
		if($export == 1)
		{
			$pct = $efc->getConfigValue("General Settings", "SalesmanCommission");
			$pct = trim(str_replace("%", "", $pct));
			$pct = $pct / 100;
			
			echo ",,,,,,,$rshipping,$rtotal,$rcost,$rprofit,".(($rprofit / $rtotal) * 100)."\n";
			echo ",,,,,,,Commission,".$efc->getRepName($repid).",".($pct*100).",".($rprofit * $pct)."\n";
		}
		else 
		{
			?>
			<tr bgcolor="#eeeeee">
				<td colspan=7 align=right height=21><B>Totals:</B></td>
				<td align=right><B><?=number_format($rshipping, 2);?></B></td>
				<td align=right><B><?=number_format($rtotal, 2);?></B></td>
				<td align=right><B><?=number_format($rcost, 2);?></B></td>
				<td align=right><B><?=number_format($rprofit, 2);?></B></td>
				<td align=right><B><?=number_format(($rprofit / $rtotal) * 100, 2);?>%</B></td>
			</tr>
			<?
			$pct = $efc->getConfigValue("General Settings", "SalesmanCommission");
			$pct = trim(str_replace("%", "", $pct));
			$pct = $pct / 100;
			?>
			<tr bgcolor="#ffffff">
				<td colspan=7 align=right height=21><B>Commission:</B></td>
				<td align=right>&nbsp;</td>
				<td align=right>&nbsp;</td>
				<td align=right><?=$efc->getRepName($repid);?></B></td>
				<td align=right><B><?=number_format($pct*100, 2);?>%</B></td>
				<td align=right><B><?=number_format($rprofit * $pct, 2);?></B></td>
			</tr>
			</table>
			<?		
		}
}

