<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

if(intval($status) > 0)
{
	$addon .= " AND customer_orders.status = '$status'";
	
	$query = "select complete from company_orderflow where step = '$status'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($complete) = mysql_fetch_array($qok);
	
	if($complete == 1)
		$addon .= " and customer_orders.completedate >= '$xbdate' AND customer_orders.completedate <= '$xedate' ";
	else 
		$addon .= " and customer_orders.orderdate >= '$xbdate' AND customer_orders.orderdate <= '$xedate' ";
}
else 
{
	$addon .= " and customer_orders.orderdate >= '$xbdate' AND customer_orders.orderdate <= '$xedate' ";
}

if(intval($brand) > 0)
	$addon .= " and customer_order_lines.manid = '$brand' ";
if(intval($pid) > 0)
	$addon .= " and customer_order_lines.prodid = '$pid' ";


if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat2 != "" && $cat0 != "" && $cat1 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat1 != "" && $cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND customer_order_lines.prodid = product_category_map.pid";}

if ($origintype != '') {
	if($origintype == "web")
	{
		$addon .= " AND customer_orders.clickid != 'PH' AND 
						customer_orders.clickid != 'AM' AND 
						customer_orders.clickid != 'EB'";
	}
	else if($origintype == "phone")
	{
		$addon .= " AND customer_orders.clickid = 'PH' ";
	}
	else if($origintype == "amazon")
	{
		$addon .= " AND customer_orders.clickid = 'AM' ";
	}
	else if($origintype == "ebay")
	{
		$addon .= " AND (customer_orders.clickid = 'EB' OR customer_orders.clickid = 'EBACE')";
	}
}
else {
	$addon .= " AND customer_orders.clickid = 'AM' ";
}

$query = "select distinct(customer_order_lines.prodid), 
				sum(customer_order_lines.qty_shipped),
				sum(customer_order_lines.cost * customer_order_lines.qty_shipped),
				sum(customer_order_lines.price * customer_order_lines.qty_shipped),
				sum(customer_orders.subtotal),
				sum(customer_orders.cost),
				sum(customer_orders.shipping),
				customer_order_lines.manpart, 
				customer_order_lines.manname,
				customer_order_lines.descr
				from customer_orders, customer_order_lines $cattable
				where 
				customer_orders.orderid = customer_order_lines.orderid
				$addon
				group by customer_order_lines.prodid
				";
//AND customer_orders.clicktype = '1' 

//echo $query;
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>PID</B></td>
	<td align=center><B>SKU</B></td>
	<td align=center><B>Man</B></td>
	<td align=center><B>Descr</B></td>
	<td align=center><B>Qty.</B></td>
	<td align=center><B>Total</B></td>
	<td align=center><B>Cost</B></td>
	<td align=center><B>Profit</B></td>	
	<td align=center><B>%</B></td>
</tr>	
<?
//echo $query;

$onrow = 0;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $qty, $cost, $price, $subtotal, $ordercost, $shipping, $manpart, $manname, $descr) = mysql_fetch_array($qok))
{
	if($useship == 1) {// include shipping 
		$subtotal += $shipping;
		$price += $shipping;
		$cost += $shipping;
	}
	
	
	$tqty += $qty;
	$tcost += $cost;
	$tprice += $price;
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td align=center height=21>
			<a href="javascript:void(0);" onclick="orderDetail('row<?=$onrow;?>', '<?=$onrow;?>', '?bdate=<?=$bdate;?>&edate=<?=$edate;?>&useship=<?=$useship;?>&status=<?=$status;?>&onrow=<?=$onrow;?>&pid=<?=$pid;?>&show_type=<?=$show_type;?>&origintype=<?=$origintype;?>');">
				<img src="/mgt/images/plus.gif" id="image<?=$onrow;?>" border=0>
			</a>
		<?=$pid;?></td>
		<td align=center><?=$manpart;?></td>
		<td align=center><?=$manname;?></td>
		<td align=center><?=$descr;?></td>
		<td align=center><?=$qty;?></td>
		<td align=right><?=number_format($price, 2);?> </td>
		<td align=right><?=number_format($cost , 2);?></td>		
		<td align=right><?=number_format($price - $cost, 2);?></td>
		<td align=right><?=number_format(100 * ($price - $cost) / $price, 2);?>%</td>
	</tr>
	<tr id="row<?=$onrow;?>" style="display:none">
		<td colspan=9>
			<div id="display<?=$onrow;?>">
				<img src="/mgt/images/loading.gif">
			</div>
		</td>
	</tr>	
	<?
	
	$onrow++;
}
?>
<tr bgcolor="#eeeeee">
	<td align=center height=21></td>
	<td align=center></td>
	<td align=center></td>
	<td align=center></td>
	<td align=center><B><?=$tqty;?></B></td>
	<td align=right><B><?=number_format($tprice, 2);?></B></td>
	<td align=right><B><?=number_format($tcost, 2);?></B></td>
	<td align=right><B><?=number_format($tprice - $tcost, 2);?></B></td>	
	<td align=right><B><?=number_format(100 * ($tprice - $tcost) / $tprice, 2);?></B></td>
</tr>
</table>