<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

$dflist = array();
$query = "select dfid, dfname from datafeeds where options_listall != 1 order by dfname;";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($dfid, $dfname) = mysql_fetch_array($qok))
{
	$dflist['dfid'][] = $dfid;
	$dflist['dfname'][] = $dfname;
}
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td height=21 align=center><B>PID</B></td>
	<td align=center><B>SKU</B></td>
	<td align=center><B>Man.</B></td>
	<td align=center><B>Man. Part</B></td>
	<td align=center><B>Title</B></td>
	<td align=center><B>Total Inv Avail</B></td>
<?
for($xx = 0; $xx < count($dflist['dfid']); $xx++)
{
	?>
	<td align=center><B><?=$dflist['dfname'][$xx];?></B></td>
	<?
}
?>
</tr>
<?
if($cat0 != "")
{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat0' AND product_list.id = product_category_map.pid";}
if($cat1 != "" && $cat0 != "")
{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat1' AND product_list.id = product_category_map.pid";}
if($cat2 != "" && $cat0 != "" && $cat1 != "")
{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat2' AND product_list.id = product_category_map.pid";}
if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat3' AND product_list.id = product_category_map.pid";}
if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
{ $cattable = ", product_category_map "; $catquery = " product_category_map.catid = '$cat4' AND product_list.id = product_category_map.pid";}
	
if($catquery != ""){$addon .= " AND $catquery ";}

if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }
$addtables = '';
if(is_array($displayon))
{
	$addtables .= ", site_skus";
	$addon .= " and site_skus.pid = product_list.id ";
	
	for($zz = 0; $zz < count($displayon); $zz++)
	{
		$addon .= " and product_list.id in (select pid from site_skus where divid = '".$displayon[$zz]."')";
	}
}

{
	$query = "select distinct(product_list.id), 
				product_list.sku,
				product_manufacturers.manname,
				product_list.manpart,
				product_prices.instock,
				product_prices.avgcost,
				product_list.descr
				from
				product_list, product_manufacturers, product_prices $cattable $addtables
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = product_prices.id AND
				product_prices.instock > 0 $addon";
	$onrow = 0;
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($pid, $sku, $manname, $manpart, $instock, $avgcost, $descr) = mysql_fetch_array($qok))
	{
		if($onrow % 2)
		{
			echo "<tr bgcolor='#eeeeee' onMouseOver=\"this.bgColor='#eeeeff';\" onMouseOut=\"this.bgColor='#eeeeee';\">";
		}
		else 
		{
			echo "<tr onMouseOver=\"this.bgColor='#eeeeff';\" onMouseOut=\"this.bgColor='#FFFFFF';\">";
		}
		?>
			<td height=21>
				<a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU <?=$pid;?>');"><?=$pid;?></a>
			</td>
			<td>
				<?=$sku;?>
			</td>
			<td><?=$manname;?></td>
			<td><?=$manpart;?></td>	
			<td><?=$descr;?></td>	
			<td align=right><?=number_format($instock, 0, ".", "");?></td>
			<?
			for($xx = 0; $xx < count($dflist['dfid']); $xx++)
			{	
				$query = "select id from datafeed_skus where dfid = '".$dflist['dfid'][$xx]."' and pid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($q2ok) > 0)
				{
				?>
				<td NOWRAP>
					<div id="target_<?=$dflist['dfid'][$xx];?>_<?=$pid;?>">
						In Feed<BR>
						<a href="javascript:void(0);" onclick="removefromfeed('<?=$pid;?>', '<?=$dflist['dfid'][$xx];?>');">Remove Feed</a>
					</div>
				</td>
				<?
				}
				else 
				{
				?>
				<td NOWRAP>
					<div id="target_<?=$dflist['dfid'][$xx];?>_<?=$pid;?>">
						Not In Feed<BR>
						<a href="javascript:void(0);" onclick="addtofeed('<?=$pid;?>', '<?=$dflist['dfid'][$xx];?>');">Add to Feed</a>
					</div>
				</td>
				<?	
				}
			}
			?>
		</tr>
		<?
		$onrow++;
		$tstock += $instock;
		$tvalue += ($instock * $avgcost);
	}
	?>
	
	</table>
<?
}
?>