<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND product_list.id = product_category_map.pid";}
else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND product_list.id = product_category_map.pid";}
else if($cat2 != "" && $cat0 != "" && $cat1 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND product_list.id = product_category_map.pid";}
else if($cat1 != "" && $cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND product_list.id = product_category_map.pid";}
else if($cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND product_list.id = product_category_map.pid";}

if(intval($brand) > 0)
	$addon .= " and product_list.manid = '$brand'";

if($upcmissing == 1)
	$addon .= " and length(upccode) < 12 ";
else if(intval($upcmissing) == 2)
	$addon .= " and length(upccode) > 12 ";

if(intval($visible) == 1)
	$addon .= " and product_list.visible = 1 ";	
else if(intval($visible) == 2)
	$addon .= " and product_list.visible = 0 ";	

if(intval($instock) == 1)
	$addon .= " and product_prices.instock > 0 ";	
else if(intval($visible) == 2)
	$addon .= " and product_prices.instock <= 0 ";	

if($titlechars == "g70")
	$addon .= " and length(descr) > 70 ";
else if($titlechars == "l70")
	$addon .= " and length(descr) < 70 ";

$query = "select product_list.id, length(descr), product_manufacturers.manname, product_list.manpart, product_list.descr, product_list.upccode
				from 
				product_list, product_prices, product_manufacturers $cattable
				where
				product_list.manid = product_manufacturers.manid and
				product_list.id = product_prices.id and 
				product_list.kit = 0 and
				product_list.visible = 1
				$addon ";
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>PID</B></td>
	<td align=center height=21><B>Title Count</B></td>
	<td align=center height=21><B>Man</B></td>
	<td align=center height=21><B>Man Part</B></td>
	<td align=center height=21><B>Title</B></td>
	<td align=center height=21><B>UPC</B></td>	
</tr>	
<?
//echo $query;

$onrow = 0;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $titlechar, $manname, $manpart, $title, $upccode) = mysql_fetch_array($qok))
{
?>
	<tr bgcolor="#ffffff">
		<td align=center height=21>
			<a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');">
			<?=$pid;?>
			</a>
		</td>
		<td align=center><?=$titlechar;?></td>
		<td align=center><?=$manname;?></td>
		<td align=center><?=$manpart;?></td>
		<td align=center><?=$title;?></td>
		<td align=center><?=$upccode;?></td>

	</tr>	
	<?
	
	$onrow++;
}
?>

</table>