<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

?>
<script>

function showMenu(productID, manpart)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;
	
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"');\">View SKU</a>"
	
	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/editsku.phtml?id="+productID+"&inwin=1', 'Edit SKU: "+productID+"');\">Edit SKU</a>"
	
	document.getElementById("menuOption3").innerHTML = "<a href=\"javascript:e2window('/mgt/pereport/peoptions.phtml?id="+productID+"&inwin=1', 'PE Options: "+productID+"');\">PE Options</a>"
	
	
	document.getElementById("menuOption4").innerHTML = "<a href=\"/mgt/om/search.phtml?sku="+manpart+"&inwin=0\">Find SKU Orders</a>"
	
	document.getElementById("menuOption5").innerHTML = "<a href=\"featured_products.phtml?Action=Add&id=&aid="+productID+"\">Featured Product</a>";
 
	document.getElementById("menuOption6").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2PO('"+productID+"')\">Add to PO</a>";
	
	document.getElementById("menuOption7").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2Order('"+productID+"')\">Add to Order</a>";
 
 
}
 
 
function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}
function addItem2PO(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2po.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	
 
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}
 
</script>

<?
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND product_list.id = product_category_map.pid";}
else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND product_list.id = product_category_map.pid";}
else if($cat2 != "" && $cat0 != "" && $cat1 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND product_list.id = product_category_map.pid";}
else if($cat1 != "" && $cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND product_list.id = product_category_map.pid";}
else if($cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND product_list.id = product_category_map.pid";}

if(intval($brand) > 0)
	$addon .= " and product_list.manid = '$brand'";

if(intval($pid) > 0)
	$addon .= " and product_list.id = '$pid'";

if(intval($assignedto) > 0)
{
	$addon .= " and sku_assignment.userid = '$assignedto' and sku_assignment.pid = product_list.id";
	$cattable .= ", sku_assignment ";
}

$backorder_formula = trim( $efc->getConfigValue("eFluent Settings", "Backordered_Definition") );

if($backorder_formula == "")
	$backorder_formula = " (instock - onhold - committed) < 0 ";

$query = "select product_list.id, product_list.sku, product_manufacturers.manname, product_list.descr,
				product_prices.instock, product_prices.onhold, product_prices.committed, product_prices.onpo
			from 
				product_list, product_prices, product_manufacturers $cattable
				where
				product_list.manid = product_manufacturers.manid and
				product_list.id = product_prices.id and
				( $backorder_formula )
				$addon ";
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>PID</B></td>
	<td align=center height=21><B>SKU</B></td>
	<td align=center height=21><B>Man</B></td>
	<td align=center height=21><B>Descr</B></td>
	<td align=center height=21><B>Avilable</B></td>
	<td align=center height=21><B>Onhand</B></td>
	<td align=center height=21><B>OnHold</B></td>
	<td align=center height=21><B>Committed</B></td>
	<td align=center height=21><B>OnPO</B></td>
</tr>	
<?
//echo $query;

$onrow = 0;
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $sku, $manname, $descr, $instock, $onhold, $committed, $onpo) = mysql_fetch_array($qok))
{
	$available = $instock - $onhold - $committed;
?>
	<tr bgcolor="#ffffff">
		<td align=center height=21>
			<a href="javascript:showMenu('<?=$pid;?>', '<?=$pid;?>');">
				<?=$pid;?>
			</a>		
		</td>
		<td align=center><?=$sku;?></td>
		<td align=center><?=$manname;?></td>
		<td align=center><?=$descr;?></td>
		<td align=center><?=$available;?></td>
		<td align=center><?=$instock;?></td>
		<td align=center><a href="javascript:void(0);" onclick="stockDetail('<?=$pid;?>', 'onhold');"><?=$onhold;?></td>
		<td align=center><a href="javascript:void(0);" onclick="stockDetail('<?=$pid;?>', 'committed');"><?=$committed;?></td>
		<td align=center><a href="javascript:void(0);" onclick="stockDetail('<?=$pid;?>', 'onpo');"><?=$onpo;?></td>
	</tr>	
	<?
	
	$onrow++;
}
?>

</table>