<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date

$xbdate = strtotime("$bdate 00:00:00");
$xedate = strtotime("$edate 23:59:59");

if(intval($status) > 0)
{
	$addon .= " AND customer_orders.status = '$status'";
	
	$query = "select complete from company_orderflow where step = '$status'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($complete) = mysql_fetch_array($qok);
	
	if($complete == 1)
		$addon .= " and customer_orders.completedate >= '$xbdate' AND customer_orders.completedate <= '$xedate' ";
	else 
		$addon .= " and customer_orders.orderdate >= '$xbdate' AND customer_orders.orderdate <= '$xedate' ";
}
else 
{
	$addon .= " and customer_orders.orderdate >= '$xbdate' AND customer_orders.orderdate <= '$xedate' ";
}

if(intval($brand) > 0)
	$addon .= " and customer_order_lines.manid = '$brand' ";

$addon .= " and customer_order_lines.prodid = '$pid'";

if($cat4 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "" && $cat3 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat4' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat3 != "" && $cat0 != "" && $cat1 != "" && $cat2 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat3' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat2 != "" && $cat0 != "" && $cat1 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat2' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat1 != "" && $cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat1' AND customer_order_lines.prodid = product_category_map.pid";}
else if($cat0 != "")
{ $cattable = ", product_category_map "; $addon .= " AND product_category_map.catid = '$cat0' AND customer_order_lines.prodid = product_category_map.pid";}

if ($origintype != '') {
	if($origintype == "web")
	{
		$addon .= " AND customer_orders.clickid != 'PH' AND 
						customer_orders.clickid != 'AM' AND 
						customer_orders.clickid != 'EB'";
	}
	else if($origintype == "phone")
	{
		$addon .= " AND customer_orders.clickid = 'PH' ";
	}
	else if($origintype == "amazon")
	{
		$addon .= " AND customer_orders.clickid = 'AM' ";
	}
	else if($origintype == "ebay")
	{
		$addon .= " AND (customer_orders.clickid = 'EB' OR customer_orders.clickid = 'EBACE')";
	}
}
else {
	$addon .= " AND customer_orders.clickid = 'AM' ";
}

if ($show_type == '2') {
	//$q = "SELECT distinct(.customer_order_lines.kitpid) FROM customer_order_lines WHERE prodid='".$pid."' AND kitpid!=0 group by kitpid";
	$q= "select distinct(customer_order_lines.kitpid),count(customer_order_lines.kitpid) as nr,product_list.descr
					from customer_orders, customer_order_lines,product_list $cattable
					where 
					customer_orders.orderid = customer_order_lines.orderid 
					AND product_list.id = customer_order_lines.kitpid
					AND customer_order_lines.kitpid!=0 
					$addon
					group by customer_order_lines.kitpid order by nr DESC
					";
//	AND customer_orders.clicktype = '1' 
	//print_r($q);
	?>
	<div style="padding-left:100px">
		<table width=75% style="border:1px #808080 solid;" bgcolor="#ffffee">
			<tr bgcolor="#eeeeee">
				<td align=center><B>PID</B></td>
				<td align=center><B>Title</B></td>
				<td align=center><B>Qty</B></td>
				<td align=center><B>Price</B></td>
				<td align=center><B>Cost</B></td>
				<td align=center><B>Profit</B></td>
			</tr>
	<?
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($kitpid,$nr,$title) = mysql_fetch_array($qok))
	{
		$tcost = 0.00;
		$tprice = 0.00;
		
		$query1 = "select product_list.id, product_prices.price_level1, product_kitskus.qty
					from 
					product_list, product_manufacturers, product_kitskus, product_prices 
					where 
					product_list.manid = product_manufacturers.manid and 
					product_list.id = product_kitskus.kid and 
					product_list.id = product_prices.id and
					product_kitskus.pid = '$kitpid' 
					order by product_prices.price_level1 desc";
		if(!$qok1 = mysql_db_query($DB, $query1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($kid,$kprice,$qty) = mysql_fetch_array($qok1))
		{
			$avgcost = $efc->getActualCost($kid);
			
			$tcost += $avgcost;
			$tprice += $kprice;
		}
		?>
			<tr>
				<td style="border-bottom:1px solid white" align=center><?=$kitpid?></td>
				<td style="border-bottom:1px solid white" align=center><?=$title?></td>
				<td style="border-bottom:1px solid white" align=center><?=$nr?></td>
				<td style="border-bottom:1px solid white" align=center><?=$tprice?></td>
				<td style="border-bottom:1px solid white" align=center><?=$tcost?></td>
				<td style="border-bottom:1px solid white" align=center><?=number_format($tprice-$tcost,2)?></td>
			</tr>
		<?
//		echo $kitpid."---".$nr."<br />";
	}
	?>
	</table>
			<BR>
		</div>
	<?
}
else {
	$query = "select distinct(customer_order_lines.orderid), 
					customer_orders.invoiceid, 
					customer_orders.status,
					customer_orders.shipping
					from customer_orders, customer_order_lines $cattable
					where 
					customer_orders.orderid = customer_order_lines.orderid 
					$addon
					group by customer_order_lines.orderid
					";
//	AND customer_orders.clicktype = '1' 
	//echo $query;
	
	$onrow = 0;
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($orderid, $invoiceid, $status, $shipping) = mysql_fetch_array($qok))
	{
	?>
	<div style="padding-left:100px">
		<BR>
		<B><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/om/vieworder.phtml?on=<?=$orderid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$invoiceid;?></B>
		<table width=75% style="border:1px #808080 solid;" bgcolor="#ffffee">
		<tr bgcolor="#eeeeee">
			<td align=center><B>PID</B></td>
			<td align=center><B>Man.</B></td>
			<td align=center><B>Man Part</B></td>
			<td align=center><B>Descr</B></td>
			<td align=center><B>Price</B></td>
			<td align=center><B>Cost</B></td>
			<td align=center><B>Profit</B></td>
			<td align=center><B>Margin</B></td>
		</tr>
		<?
		if($useship == 1)
			$qtycol = "qty_shipped";
		else 	
			$qtycol = "qty_ordered";
			
		$ttotal = $tcost = $tprofit = $tmargin = 0;
		$query = "select customer_order_lines.prodid, manname, manpart, descr, qty_shipped, price, cost from customer_order_lines where orderid = '$orderid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($pid, $manname, $manpart, $descr, $qty, $price, $cost) = mysql_fetch_array($q2ok))
		{
			if(strlen($descr) > 25)
				$descr = substr($descr, 0, 22)."...";
						
			$li_price = $price *$qty;
			$li_cost = $cost * $qty;
			$li_profit = $li_price - $li_cost;
			$li_margin = ($li_profit / $li_price) * 100;
			?>
			<tr>
				<td><a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU: <?=$pid;?>');"><?=$pid;?></td>
				<td><?=$manname?></td>
				<td><?=$manpart?></td>
				<td><?=$descr?></td>
				<td align=right><?=number_format($li_price,2);?></td>
				<td align=right><?=number_format($li_cost,2);?></td>
				<td align=right><?=number_format($li_profit,2);?></td>
				<td align=right><?=number_format($li_margin,2);?>%</td>
			</tr>
			<?
			
			$ttotal += $li_price;
			$tcost += $li_cost;
			$tprofit += $li_profit;
				
		}
		
		
		
		if($useship == 1)
		{
			$ttotal += $shipping;
			$tprofit += $shipping;
		?>
		<tr>
			<td colspan=4 align=right><B>Shipping</B></td>
			<td align=right><?=number_format($shipping,2);?></td>
			<td align=right>0.00</td>
			<td align=right><?=number_format($shipprice - 0);?></td>
			<td align=right>-</td>
		</tr>				
		<?
		}
		
		$tmargin = ($tprofit / $ttotal) * 100;
		?>
		<tr>
			<td colspan=4 align=right><B>Totals</B></td>
			<td align=right>$ <?=number_format($ttotal,2);?></td>
			<td align=right>$ <?=number_format($tcost,2);?></td>
			<td align=right>$ <?=number_format($tprofit,2);?></td>
			<td align=right><?=number_format($tmargin,2);?>%</td>
		</tr>				
		</table>
		<BR>
	</div>
	<?
	}
}
?>
