<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Amazon Shipper Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "1")				
	{// today
	
		document.amazon_report.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "6")				
	{// yesterday
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "2")				
	{// last 7 days
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "3")				
	{// last 14 days
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "4")				
	{// last 30 days
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "8")				
	{// last 60 days
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "9")				
	{// last 90 days
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "10")				
	{// last 120 days
		
		document.amazon_report.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.amazon_report.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.amazon_report.qdate.options[document.amazon_report.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		
		document.amazon_report.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.amazon_report.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function GetXmlHttpObject()
{
	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
		
		getBrands();
	}
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.amazon_report.cat0.options[ document.amazon_report.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.amazon_report.cat1.options[ document.amazon_report.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.amazon_report.cat2.options[ document.amazon_report.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.amazon_report.cat3.options[ document.amazon_report.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.amazon_report.cat4.options[ document.amazon_report.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		getBrands();
  		return;
  	}
  	
  	g_cat = cat;
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function getBrands()
{
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/sm/ajax_getbrands.phtml?catid="+g_cat+"&sid="+Math.random();
	
	//window.open( url );
	
	xmlCHttp.onreadystatechange=gotBrands;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);	
	
}

function gotBrands()
{
	if(xmlCHttp.readyState==4)
	{
		//alert(xmlCHttp.responseText);
		var theSelect = document.getElementById("brand");
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
	    
	    var lines=xmlCHttp.responseText.split("\n"); 
		
	    for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")
			{
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);	
			}
		}
	    
	}
}

function pullReport()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	if(document.amazon_report.cat0.selectedIndex > 0)
		cat0 = document.amazon_report.cat0.options[ document.amazon_report.cat0.selectedIndex ].value;
	
	if(document.amazon_report.cat1.selectedIndex > 0)
		cat1 = document.amazon_report.cat1.options[ document.amazon_report.cat1.selectedIndex ].value;
	
	if(document.amazon_report.cat2.selectedIndex > 0)		
		cat2 = document.amazon_report.cat2.options[ document.amazon_report.cat2.selectedIndex ].value;
	
	if(document.amazon_report.cat3.selectedIndex > 0)		
		cat3 = document.amazon_report.cat3.options[ document.amazon_report.cat3.selectedIndex ].value;
	
	if(document.amazon_report.cat4.selectedIndex > 0)		
		cat4 = document.amazon_report.cat4.options[ document.amazon_report.cat4.selectedIndex ].value;
		
	var brand = document.amazon_report.brand.options[ document.amazon_report.brand.selectedIndex ].value;
	var bdate =  document.amazon_report.bdate.value;
	var edate =  document.amazon_report.edate.value;
	
	var useship = document.amazon_report.useship.options[ document.amazon_report.useship.selectedIndex ].value;
	var Xstatus = document.amazon_report.status.options[ document.amazon_report.status.selectedIndex ].value;
	var show_type = document.amazon_report.show_type.options[ document.amazon_report.show_type.selectedIndex ].value;
	var origintype = document.amazon_report.origintype.options[ document.amazon_report.origintype.selectedIndex ].value;
	
	var pid = escape(document.amazon_report.pid.value);
	
	var url="/mgt/reports/ajax_amazon_shiper.phtml";
 	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
 	url += "&bdate="+bdate;
	url += "&edate="+edate;
 	url += "&export=0";
	url += "&pid="+pid;
 	url += "&useship="+useship;
	url += "&status="+Xstatus;
	url += "&show_type="+show_type;
	url += "&origintype="+origintype;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}
function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 

		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";

	}	
}
function printReport() {
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	if(document.amazon_report.cat0.selectedIndex > 0)
		cat0 = document.amazon_report.cat0.options[ document.amazon_report.cat0.selectedIndex ].value;
	
	if(document.amazon_report.cat1.selectedIndex > 0)
		cat1 = document.amazon_report.cat1.options[ document.amazon_report.cat1.selectedIndex ].value;
	
	if(document.amazon_report.cat2.selectedIndex > 0)		
		cat2 = document.amazon_report.cat2.options[ document.amazon_report.cat2.selectedIndex ].value;
	
	if(document.amazon_report.cat3.selectedIndex > 0)		
		cat3 = document.amazon_report.cat3.options[ document.amazon_report.cat3.selectedIndex ].value;
	
	if(document.amazon_report.cat4.selectedIndex > 0)		
		cat4 = document.amazon_report.cat4.options[ document.amazon_report.cat4.selectedIndex ].value;
		
	var brand = document.amazon_report.brand.options[ document.amazon_report.brand.selectedIndex ].value;
	var bdate =  document.amazon_report.bdate.value;
	var edate =  document.amazon_report.edate.value;
	
	var useship = document.amazon_report.useship.options[ document.amazon_report.useship.selectedIndex ].value;
	var Xstatus = document.amazon_report.status.options[ document.amazon_report.status.selectedIndex ].value;

	var pid = escape(document.amazon_report.pid.value);
	
	var url="/mgt/reports/ajax_amazon_shipper_print.phtml";
 	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
 	url += "&bdate="+bdate;
	url += "&edate="+edate;
 	url += "&export=0";
	url += "&pid="+pid;
 	url += "&useship="+useship;
	url += "&status="+Xstatus;
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=showPrintReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
function showPrintReport () {
	if(xmlHttp.readyState==4)
	{ 
		ven = window.open('printreport.html','Butterflyphotos','menu,scrollbars,height=800px,width=1000px','_blank');
		ven.document.write('<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">'+
'<html><head><title>My Window</title><LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet"></head><body><a href="javascript:window.print();">Print page</a><br />' + xmlHttp.responseText + '</body></html>');
//		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
		ven.document.close(); 
	}	
}
function orderDetail(detailrow, rowid, addon)
{
	if( document.getElementById(detailrow).style.display=='none' )
	{
		g_rowid = rowid;
  		document.getElementById(detailrow).style.display = '';
  		document.getElementById("image"+rowid).src = "/mgt/images/minus.gif";
  		
  		xmlHttp=GetXmlHttpObject();
		var url="/mgt/reports/ajax_amazon_drilldown.phtml"+addon;
	
		xmlHttp.onreadystatechange=got2Report;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
 	}
 	else
 	{
  		document.getElementById(detailrow).style.display = 'none';
  		document.getElementById("image"+rowid).src = "/mgt/images/plus.gif";
 	}

}
function got2Report()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("display"+g_rowid).innerHTML = xmlHttp.responseText;
	}	
}
function exportReport() {
var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	if(document.amazon_report.cat0.selectedIndex > 0)
		cat0 = document.amazon_report.cat0.options[ document.amazon_report.cat0.selectedIndex ].value;
	
	if(document.amazon_report.cat1.selectedIndex > 0)
		cat1 = document.amazon_report.cat1.options[ document.amazon_report.cat1.selectedIndex ].value;
	
	if(document.amazon_report.cat2.selectedIndex > 0)		
		cat2 = document.amazon_report.cat2.options[ document.amazon_report.cat2.selectedIndex ].value;
	
	if(document.amazon_report.cat3.selectedIndex > 0)		
		cat3 = document.amazon_report.cat3.options[ document.amazon_report.cat3.selectedIndex ].value;
	
	if(document.amazon_report.cat4.selectedIndex > 0)		
		cat4 = document.amazon_report.cat4.options[ document.amazon_report.cat4.selectedIndex ].value;
		
	var brand = document.amazon_report.brand.options[ document.amazon_report.brand.selectedIndex ].value;
	var bdate =  document.amazon_report.bdate.value;
	var edate =  document.amazon_report.edate.value;
	
	var useship = document.amazon_report.useship.options[ document.amazon_report.useship.selectedIndex ].value;
	var Xstatus = document.amazon_report.status.options[ document.amazon_report.status.selectedIndex ].value;

	var pid = escape(document.amazon_report.pid.value);
	
	var url="excel/exportFile.php";
	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
 	url += "&bdate="+bdate;
	url += "&edate="+edate;
 	url += "&export=0";
	url += "&pid="+pid;
 	url += "&useship="+useship;
	url += "&status="+Xstatus;
	url += "&action=shipper";
	oIFrm = document.getElementById('myIFrm');
	oIFrm.src = url;
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("amazon_shiper_form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<div id="reportdata">&nbsp;</div>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		

		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>