<form name="ivaluation" id="ivaluation">
<table>
<tr>
	<td class="g1">Category:</td>
	<td>
		<select name="cat0" class="formSelect" onchange="getCategories(1);">
		<option value="0">----- SELECT --------
		<?
		$query = "select catid, catname from product_categories where parentid = 0 order by catname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
		<?
		}
		?>
		</select>		
		<?
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat0) > 0)
		{
		?>
			<div id="cat1d" style="display:;">
			<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat1) > 0 && intval($cat0) > 0)
		{
		?>
			<div id="cat2d" style="display:;">
			<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat1'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat2) > 0)
		{
		?>
			<div id="cat3d" style="display:;">
			<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
		<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
		?>
		<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
		<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
	</td>
</tr>				
<tr>
	<td class="g1">Brand:</td>
	<td>
		<select name="brand" id="brand" class="formSelect">
		<option value="">----- SELECT --------</option>
		<?
		$query = "select manid, manname from product_manufacturers order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td class="g1">PID:</td>
	<td>
		<input type="text" name="pid" value="" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">					
	</td>
</tr>
<tr>
	<td class="g1">Assigned To:</td>
	<td>
		<select name="assignedto" id="assignedto" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select id, displayname from users order by displayname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($userid, $displayname) = mysql_fetch_array($qok))
		{
			if(strlen($displayname) > 25)
			{
				$manname = substr($displayname, 0, 22)."...";
			}
			?>
			<option value="<?=$userid;?>"><?=$displayname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		<input type="button" name="Action" value="Clear" onclick="clearReport()" class="buttonItem">
	</td>
</tr>						
</table>
</form>