<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Inventory Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<style>
<!-- 
.inbItem{font-family: verdana, helvetica, arial;color: black;font-size: 8pt;border-width: 0;text-decoration: none;}
.inbItem:visited,.inbItem:link,.inbItem:active{border-bottom:1px solid #008080;}
.inbItem:hover{color: red;text-decoration: underline;}

.tnbItem{background:#eeeeee;font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none; filter:alpha(opacity=95);}
.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#ffffee;}

.inputItem{ background: #ffffff; font-family: verdana, helvetica, arial;color: black;font-size: 9pt;font-weight: bold; border-color: #eeeeee; border-width: 1px;}
.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;}
.labelItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none;}

.uline{font-family: verdana;font-size: 8pt;border-bottom:1px solid #000000;}
.tline{font-family: verdana;font-size: 8pt;border-top:1px solid #000000;}

//-->
</style>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg">&nbsp;</td>
	
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
			<table width=99% id="results" class="sortable">
			<tr bgcolor="#eeeeee">
				<th>PID</th>
				<th>SKU</th>
				<th>Man.</th>
				<th>Man. Part</th>
				<?
				$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($whid, $whname) = mysql_fetch_array($qok))
				{
					?>
					<th><?=$whname;?> [<?=$whid;?>]<BR>Inv. Avail</th>
					<th><?=$whname;?> [<?=$whid;?>]<BR>Avg Cost</th>
					<th><?=$whname;?> [<?=$whid;?>]<BR>Total Value</th>
					<?
				}
				?>
				<th>Total<BR>Inv Avail</th>
				<th>Total<BR>Avg Cost</th>
				<th>Total<BR>Value</th>
			</tr>
			<?
			$gtvalue = 0.00;
			
			$query = "select product_list.id, 
						product_list.sku,
						product_manufacturers.manname,
						product_list.manpart
						from
						product_list, product_manufacturers, product_prices
						where 
						product_list.manid = product_manufacturers.manid AND
						product_list.id = product_prices.id AND
						product_prices.instock > 0";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($pid, $sku, $manname, $manpart) = mysql_fetch_array($qok))
			{
				$thisline_available = 0;
				$thisline_cost = 0;

				?>
				<tr>
					<td><a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$pid;?>&inwin=1', 'View SKU <?=$pid;?>');"><?=$pid;?></td>
					<td><?=$sku;?></td>
					<td><?=$manname;?></td>
					<td><?=$manpart;?></td>

					<?
					$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
					if(!$qo2k = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($whid, $whname) = mysql_fetch_array($qo2k))
					{
						$query = "select sum(inv_available), cost from product_inventory where id = '$pid' and whid = '$whid' group by whid";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($inv_lavailable, $inv_lcost) = mysql_fetch_array($q2ok);

						$thisline_available += $inv_lavailable;
						$thisline_cost += ($inv_lcost * $inv_lavailable);
						// for each warehouse get the inventory
						?>
						<td align=right><?=number_format($inv_lavailable, 0, ".", "");?></td>
						<td align=right><?=number_format($inv_lcost, 2, ".", "");?></td>
						<td align=right><?=number_format($inv_lcost * $inv_lavailable, 2, ".", "");?></td>
						<?
						
						
					}
					
					$thisline_avgcost = $thisline_cost / $thisline_available;
					?>					
						<td align=right><?=number_format($thisline_available, 0, ".", "");?></td>
						<td align=right><?=number_format($thisline_avgcost, 2, ".", "");?></td>
						<td align=right><?=number_format($thisline_avgcost * $thisline_available, 2, ".", "")?></td>
					</tr>
					<?
					$gtvalue += ($thisline_avgcost * $thisline_available);
			}
			?>
			</table>
			
			<table width=99%>
			<tr>
				<td align=right width=80%><B>Total:</B></td>
				<td align=right width=20%><B><?=number_format($gtvalue, 2);?></B></td>
			</tr>
			</table>		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		</div>
	</td>

	<td width=13 background="/mgt/images/r.jpg">&nbsp;</td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>