<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Inventory Valuation</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />


<script>
function checkUncheckAll(myOptions, myForm)
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function StartUp()
{
	checkPool();

	<?
	if(intval($sst_template) <= 0)
	{
		if($_SESSION["SAVEDSEARCH"]['num2return'] > 0)
		{
			?>searchSKUs();<?
		}
	}
	else
	{
		?>
		clearForm();
		TabbedPanels1.showPanel(2);
		<?
	}
	?>


}

var paX = 0;
var paY = 0;
var dX = 0;

function addItem2Order(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2order.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=orderResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function addBulkItem2PO()
{
	
	xml7Http=GetXmlHttpObject();

	var skus = "";
	var myForm = document.pereport;

	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
				skus += myForm[z].value;
				else
				skus += ","+myForm[z].value;
			}
		}
	}
	
	var url="/mgt/sm/ajax_additembulk2po.phtml?skus="+skus+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResultBulk;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
/*	var productimage = document.getElementById("productimage");

//	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);*/
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	return false;
}
function addItem2PO(productID)
{
	xml7Http=GetXmlHttpObject();

	var url="/mgt/sm/ajax_additem2po.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");

	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";

	productimage.style.display = "block";

	productimage.style.left = posX;
	productimage.style.top = posY;

	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];

	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	return false;
}

function poResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("podisplay").innerHTML = xml7Http.responseText;

		document.getElementById("podisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorPODisplay()", 2000);

		document.getElementById("poimage").style.display = "";
	}
}
function poResultBulk()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("podisplay").innerHTML = xml7Http.responseText;

		document.getElementById("podisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorPODisplay()", 5000);

		document.getElementById("poimage").style.display = "";
		$('html, body').animate({
			scrollTop: $("#podisplay").offset().top
		}, 2000);
	}
}

function unColorPODisplay()
{
	document.getElementById("podisplay").style.backgroundColor = "#ffffff";
}

function orderResult()
{
	if(xml7Http.readyState==4)
	{
		document.getElementById("orderdisplay").innerHTML = xml7Http.responseText;

		document.getElementById("orderdisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorOrderDisplay()", 2000);
	}
}

function unColorOrderDisplay()
{
	document.getElementById("orderdisplay").style.backgroundColor = "#ffffff";
}

function animateCart()
{
	if(paX < dX)
	paX = paX + 20;

	paY = paY - 20;

	var productimage = document.getElementById("productimage");
	productimage.style.left = paX;
	productimage.style.top = paY;

	if(paY > -75)
	{
		setTimeout("animateCart()", 0);
	}
	else
	{
		productimage.style.display = "none";
	}
}

function findPos(obj)
{
	var curleft = curtop = 0;

	if (obj.offsetParent)
	{
		do
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}

	return [curleft,curtop];
}

function deleteSearch(sid, sname)
{
	if(confirm("Are you sure you wish the delete the saved search '"+sname+"'?"))
	{
		document.location = "/mgt/sm/search.phtml?sid="+sid+"&Action=Delete";
	}
}

function stockDetail(pid, type)
{
	e2window("/mgt/sm/stockdetail.phtml?pid="+pid+"&type="+type+"&inwin=1", "Stock Detail "+pid)
}
</script>

<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
		
		getBrands();
	}
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.ivaluation.cat0.options[ document.ivaluation.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.ivaluation.cat1.options[ document.ivaluation.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.ivaluation.cat2.options[ document.ivaluation.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.ivaluation.cat3.options[ document.ivaluation.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.ivaluation.cat4.options[ document.ivaluation.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		getBrands();
  		return;
  	}
  	
  	g_cat = cat;
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function getBrands()
{
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/sm/ajax_getbrands.phtml?catid="+g_cat+"&sid="+Math.random();
	
	//window.open( url );
	
	xmlCHttp.onreadystatechange=gotBrands;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);	
	
}

function gotBrands()
{
	if(xmlCHttp.readyState==4)
	{
		//alert(xmlCHttp.responseText);
		var theSelect = document.getElementById("brand");
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
	    
	    var lines=xmlCHttp.responseText.split("\n"); 
		
	    for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")
			{
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);	
			}
		}
	    
	}
}

function pullReport()
{
	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", assignedto = "", fbclass = "";
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";

	if(document.ivaluation.cat0.selectedIndex > 0)
		cat0 = document.ivaluation.cat0.options[ document.ivaluation.cat0.selectedIndex ].value;
	
	if(document.ivaluation.cat1.selectedIndex > 0)
		cat1 = document.ivaluation.cat1.options[ document.ivaluation.cat1.selectedIndex ].value;
	
	if(document.ivaluation.cat2.selectedIndex > 0)		
		cat2 = document.ivaluation.cat2.options[ document.ivaluation.cat2.selectedIndex ].value;
	
	if(document.ivaluation.cat3.selectedIndex > 0)		
		cat3 = document.ivaluation.cat3.options[ document.ivaluation.cat3.selectedIndex ].value;
	
	if(document.ivaluation.cat4.selectedIndex > 0)		
		cat4 = document.ivaluation.cat4.options[ document.ivaluation.cat4.selectedIndex ].value;
		
	brand = document.ivaluation.brand.options[ document.ivaluation.brand.selectedIndex ].value;
	warehouse = document.ivaluation.warehouse.options[ document.ivaluation.warehouse.selectedIndex ].value;
	vendorid = document.ivaluation.vendorid.options[ document.ivaluation.vendorid.selectedIndex ].value;
	
	keywords = escape(document.ivaluation.keywords.value);
	
	assignedto = document.ivaluation.assignedto.options[ document.ivaluation.assignedto.selectedIndex ].value;
	fbclass = document.ivaluation.fbclass.options[ document.ivaluation.fbclass.selectedIndex ].value;
		
	var url="/mgt/reports/ajax_ivaluation.phtml";
 	url += "?cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
 	url += "&brand="+brand;
 	url += "&warehouse="+warehouse;
 	url += "&vendorid="+vendorid;
 	url += "&keywords="+keywords;
 	url += "&fbclass="+fbclass;
 	url += "&assignedto="+assignedto;
	<?
	$query = "select divid, sitename from site_list order by sitename";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($divid, $sitename) = mysql_fetch_array($qok))
	{
	?>
		if(document.ivaluation.displayon_<?=$divid;?>.checked)
		url += "&displayon[]=<?=$divid;?>";
	<?
	}
	?>
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
 	xmlHttp.onreadystatechange=gotReport;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);

}

function gotReport()
{
	if(xmlHttp.readyState==4)
	{ 

		document.getElementById("reportdata").innerHTML = xmlHttp.responseText;
	
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";

	}	
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera;

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	
	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			pullReport();
 			return false; 
 		}
	}  
} 

function skuDetail(detailrow, rowid, pid)
{
	if( document.getElementById(detailrow).style.display=='none' )
	{
  		document.getElementById(detailrow).style.display = '';
  		document.getElementById("image"+rowid).src = "/mgt/images/minus.gif";
  		
  		loadSKUDetail(rowid, pid);
 	}
 	else
 	{
  		document.getElementById(detailrow).style.display = 'none';
  		document.getElementById("image"+rowid).src = "/mgt/images/plus.gif";
 	}

}

var g_rowid = 0;

function loadSKUDetail(rowid, pid)
{
	var url="/mgt/reports/ajax_skudetail.phtml";
 	url += "?pid="+pid;
 	url += "&rowid="+rowid;
	
	xml4Http=GetXmlHttpObject();
	
	if (xml4Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
  	g_rowid = rowid;
  	
 	xml4Http.onreadystatechange=gotSKUDetail;
	xml4Http.open("GET",url,true);
	xml4Http.send(null);	
}

function gotSKUDetail()
{
	if(xml4Http.readyState==4)
	{ 
		document.getElementById("detail"+g_rowid).innerHTML = xml4Http.responseText;
	}	
}

function clearReport()
{
	document.getElementById("cat1d").style.display = 'none';
	document.getElementById("cat2d").style.display = 'none';
	document.getElementById("cat3d").style.display = 'none';
	document.getElementById("cat4d").style.display = 'none';
	document.ivaluation.brand.selectedIndex = 0;
	document.ivaluation.warehouse.selectedIndex = 0;
	document.ivaluation.vendorid.selectedIndex = 0;
	document.ivaluation.keywords.value = "";
	document.ivaluation.vendorid.selectedIndex = 0;
	
	document.getElementById("reportdata").innerHTML = "";
	
}
</script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<table width=99%>
		<tr>
			<td width=250>
			<!------------------------------------------------------------------------------------------>
				<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("iv_form.phtml");?>
					</div>
				</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
				//-->
				</script>			
			</td>			
			<!------------------------------------------------------------------------------------------>
			
			</td>		
			
			<td>
			<!------------------------------------------------------------------------------------------>
			
			<form name="pereport" method="post" action="">
			<div id="reportdata">&nbsp;</div>
			</form>
				
			<!------------------------------------------------------------------------------------------>
			</td>
		</tr>
		</table>

		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
	
		
		
		
		
		
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
















		<?
$tabid = 0;

$query = "show databases like 'projectmadisonweb'";
if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$gotpmw = mysql_num_rows($qok);

$query = "show databases like 'cmic'";
if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$gotcmic = mysql_num_rows($qok);
?>
<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
	<ul class="TabbedPanelsTabGroup">
	<?if($efc->getPermission("perm_pegrid")){ ?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>PE Report</strong></li>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Multi PE Report</strong></li>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Amz Report</strong></li>
	<?}
	if($DB == "ecom") {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Amz Report 2</strong></li>
	<?}
	if($DB == "butterfly") { ?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Appliance Report</strong></li>
	<? } if($efc->getPermission("perm_categorize")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Categorize</strong></li>
	<?}if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Visible</strong></li>
	<?}if($efc->getPermission("perm_datafeed")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Datafeed</strong></li>
	<?}?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Replace</strong></li>
	<?if($efc->getPermission("perm_categorize")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Assignment</strong></li>
	<?}?>
	<?if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Display On</strong></li>
	<?}?>
	<?if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Inventory Options</strong></li>
	<?}?>
	<?if($DB == "ecom") { if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Crawlers</strong></li>
	<?}}?>
	<?if($DB == "projectmadisonweb") { if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Crawlers</strong></li>
	<?}}?>
	<?if($DB == "saga") { if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Crawlers</strong></li>
	<?}}?>
	<?if($DB == "highpoint") { if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>CUSTOM</strong></li>
	<?}}?>
	<?if($DB == "jfive") { if($efc->getPermission("perm_visible")) {?>
		<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>CUSTOM</strong></li>
	<?}}?>
	<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Lists</strong></li>
	<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Accs</strong></li>
	<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>Del</strong></li>
	<li class="TabbedPanelsTab2" tabindex="<?echo $tabid;$tabid++?>"><strong>PO</strong></li>
	</ul>
	<div class="TabbedPanelsContentGroup">
		<?if($efc->getPermission("perm_pegrid")){?>
			<div class="TabbedPanelsContent2">  
	
			<form name="peoptions" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
			<input type="hidden" name="idlist" value="">
			<table>
			<tr>
				<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.peoptions, document.pereport);">Select All SKUs</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
						
				<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
				<td><select name="peid" class="formSelect">
					<option value="pg">PriceGrabber</option>
					<option value="bo">Bountii</option>
					<option value="cn">C|Net Shopper</option>
					<option value="dt">Shopping.com</option>
					<option value="br">BizRate.com</option>
					<option value="ys">Yahoo Shopping</option>
					<option value="am">Amazon</option>
					<option value="nt">NexTag</option>
					<option value="fr">Froogle</option>
					<option value="f2">Froogle (grp)</option>
					<option value="pw">PriceWatch</option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
						
						
				<td class="g1"><div style="padding-top:3px"><B>Datafeed:</B></div></td>
				<td>
					<select name="dfid" class="formSelect">
					<?
					$query = "select dfid, dfname from datafeeds order by dfname";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

					while(list($dfid, $dfname) = mysql_fetch_array($qok))
					{
					?>
						<option value="<?=$dfid;?>"><?=$dfname;?></option>
					<?
					}
					?>
					</select>
				</td>
				<td>&nbsp;</td>
						
					
				<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPEReport();"></td>
			</tr>
			
			<tr>
				<td colspan=3>&nbsp;</td>
				
				<td colspan=6>
					<input type="radio" name="coption" value="ignore" CHECKED>Ignore Missing Crawler IDs
					<input type="radio" name="coption" value="acquire" >Acquire Missing CrawlerIDs
					<input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
				</td>
				
			</tr>	
			</table>		
			</form>
			
			</div>
			
			<!---------------------------------------------------------------------------------------------->
			
			<div class="TabbedPanelsContent2">  
	
			<form name="pe2options" method="post" action="/mgt/pereport/pegrid2.phtml" style="margin:0px">
			<input type="hidden" name="idlist" value="">
			<table>
			<tr>
				<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe2options, document.pereport);">Select All SKUs</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
						
				<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
				<td><select name="peid[]" class="formSelect" MULTIPLE  size=7>
					<option value="pg">PriceGrabber</option>
					<option value="bo">Bountii</option>
					<option value="cn">C|Net Shopper</option>
					<option value="dt">Shopping.com</option>
					<option value="br">BizRate.com</option>
					<option value="ys">Yahoo Shopping</option>
					<option value="am">Amazon</option>
					<option value="nt">NexTag</option>
					<option value="fr">Froogle</option>
					<option value="f2">Froogle (grp)</option>
					<option value="pw">PriceWatch</option>
					</select>
				</td>
				<td>
					&nbsp;<input type="checkbox" name="kit_addon" value="1">Kit Extension&nbsp;
				</td>
												
					
				<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE2Report();"></td>
			</tr>
			
			<tr>
				<td colspan=3>&nbsp;</td>
				
				<td colspan=6>
					<input type="radio" name="coption" value="ignore">Ignore Missing Crawler IDs
					<input type="radio" name="coption" value="acquire" CHECKED>Acquire Missing CrawlerIDs
					<input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
				</td>
				
			</tr>	
			</table>		
			</form>
			
			</div>			
			
			<!---------------------------------------------------------------------------------------------->
			
			<!---------------------------------------------------------------------------------------------->
			
			<div class="TabbedPanelsContent2">  
	
			<form name="pe3options" method="post" action="/mgt/pereport/amazon_grid.phtml" style="margin:0px">
			<input type="hidden" name="idlist" value="">
			<table>
			<tr>
				<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe3options, document.pereport);">Select All SKUs</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td class="g1"><div style="padding-top:3px"><B>Pick PL for FWS Calculation:</B></div></td>
				<td>
					<select name="fws_price_level" class="formSelect">
						<option value="-1">--- SELECT ----</option>
						<option value="1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?></option>
						<option value="2"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?></option>
						<option value="3"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?></option>
						<option value="4"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?></option>
						<option value="5"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?></option>
						<option value="6"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?></option>
						<option value="7"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?></option>
						<option value="8"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?></option>
						<option value="9"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?></option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE3Report();"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td class="g1"><div style="padding-top:3px"><B>Use COST from vendor:</B></div></td>
				<td>
					<select name="sourcing" class="formSelect">
						<option value="-1">--- SELECT ----</option>
						<?
						
						$query = "select vendorid, vendorname from vendors order by vendorname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
						{
							if(strlen($x_vendorname) > 25)
							{
								$x_vendorname = substr($x_vendorname, 0, 22)."...";
							}
						?>
							<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
						<?	
						}
						?>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;</td>	
				<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
				<td>
					<select name="peid[]" class="formSelect">
						<option value="a9">Amazon</option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;</td>	
				<td class="g1"><div style="padding-top:3px"><B>Acq fee:</B></div></td>
				<td>
					<input type="text" name="acq_perc" value="" class="formBox" style="width:50px;" /> % / 
					<input type="text" name="acq_val" value="" class="formBox" style="width:50px;" /> $ 
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</table>		
			</form>
			
			</div>
			<?
			if($DB == "ecom")
			{
			?>			
			<div class="TabbedPanelsContent2">  
	
			<form name="pe4options" method="post" action="/mgt/pereport/amazon_grid_test.phtml" style="margin:0px">
			<input type="hidden" name="idlist" value="">
			<table>
			<tr>
				<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe4options, document.pereport);">Select All SKUs</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td class="g1"><div style="padding-top:3px"><B>Pick PL for FWS Calculation:</B></div></td>
				<td>
					<select name="fws_price_level" class="formSelect">
						<option value="-1">--- SELECT ----</option>
						<option value="1"><?$plname = $efc->getConfigValue("Price Level Names", "PL1"); if($plname != "") echo $plname; else echo "Price Level 1";?></option>
						<option value="2"><?$plname = $efc->getConfigValue("Price Level Names", "PL2"); if($plname != "") echo $plname; else echo "Price Level 2";?></option>
						<option value="3"><?$plname = $efc->getConfigValue("Price Level Names", "PL3"); if($plname != "") echo $plname; else echo "Price Level 3";?></option>
						<option value="4"><?$plname = $efc->getConfigValue("Price Level Names", "PL4"); if($plname != "") echo $plname; else echo "Price Level 4";?></option>
						<option value="5"><?$plname = $efc->getConfigValue("Price Level Names", "PL5"); if($plname != "") echo $plname; else echo "Price Level 5";?></option>
						<option value="6"><?$plname = $efc->getConfigValue("Price Level Names", "PL6"); if($plname != "") echo $plname; else echo "Price Level 6";?></option>
						<option value="7"><?$plname = $efc->getConfigValue("Price Level Names", "PL7"); if($plname != "") echo $plname; else echo "Price Level 7";?></option>
						<option value="8"><?$plname = $efc->getConfigValue("Price Level Names", "PL8"); if($plname != "") echo $plname; else echo "Price Level 8";?></option>
						<option value="9"><?$plname = $efc->getConfigValue("Price Level Names", "PL9"); if($plname != "") echo $plname; else echo "Price Level 9";?></option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPE4Report();"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td class="g1"><div style="padding-top:3px"><B>Use COST from vendor:</B></div></td>
				<td>
					<select name="sourcing" class="formSelect">
						<option value="-1">--- SELECT ----</option>
						<?
						
						$query = "select vendorid, vendorname from vendors order by vendorname";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
						{
							if(strlen($x_vendorname) > 25)
							{
								$x_vendorname = substr($x_vendorname, 0, 22)."...";
							}
						?>
							<option value="<?=$x_vendorid;?>" <?if($x_vendorid == $_SESSION["SAVEDSEARCH"]['sourcing']) echo "SELECTED";?>><?=$x_vendorname;?></option>
						<?	
						}
						?>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;</td>	
				<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
				<td>
					<select name="peid[]" class="formSelect">
						<option value="a9">Amazon</option>
					</select>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;&nbsp;&nbsp;</td>	
				<td class="g1"><div style="padding-top:3px"><B>Acq fee:</B></div></td>
				<td>
					<input type="text" name="acq_perc" value="" class="formBox" style="width:50px;" /> % / 
					<input type="text" name="acq_val" value="" class="formBox" style="width:50px;" /> $ 
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</table>		
			</form>
			
			</div>	
			<?
			}
			?>	
			<!---------------------------------------------------------------------------------------------->

			<!---------------------------------------------------------------------------------------------->
			<?
			if($DB == "butterfly")
			{
			?>
				<div class="TabbedPanelsContent2">  
		
				<form name="appoptions" method="get" action="/mgt/pereport/appgrid.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pe2options, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
					<td><select name="peid[]" class="formSelect" MULTIPLE  size=7>
						<option value="aj">AJ Madison</option>
						<option value="he">Home Everything</option>
						<option value="abe">Abes Of Maine</option>
						<option value="apc">Appliance Connection</option>
						<option value="rb">Rainbow Appliance</option>
						<option value="pg">PriceGrabber</option>
						</select>
					</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
													
						
					<td>
						<input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doAppReport(0);">
						<input type="button" name="Action" value="Run Extended Report" class="buttonItem" onclick="doAppReport(1);">
					</td>
				</tr>
				</table>		
				</form>
				
				</div>			
			<?
			}
			?>
			<!---------------------------------------------------------------------------------------------->			
			
			
		<?}if($efc->getPermission("perm_categorize")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("categorize_search.phtml");?>
			</div>
		<?}if($efc->getPermission("perm_visible")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("visible_search.phtml");?>
			</div>
		<?}if($efc->getPermission("perm_datafeed")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("datafeed_search.phtml");?>
			</div>
		<?}?>
			<div class="TabbedPanelsContent2">  
				<form name="kitreplace" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.kitreplace, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>

					<td class="g1">			
					
					<table>
					<tr>
						<td><B>New SKU (PID):</B></td>
						<td>
							<input type="text" name="newsku" value="" class="formBox" style="width:75px;text-align:right;">
							<input type="button" name="Action" value="Replace" class="buttonItem" onclick="doFindReplace();">
						</td>
					</tr>
					</table>
					</td>
				</tr>
				</table>
				If you searched for a Kit SKU (PID) and have results, you can replace the component you searched for in all  
				the resulting kits here.<BR>
				Leave the 'New SKU (PID)' blank to delete the components from the kits you have selected.
				<BR><BR>
				If you searched for a Acc. SKU (PID) and have results, you can replace the accessory you searched for in all
				the resuling products here.
					<BR>
				</form>
			</div>
		<?if($efc->getPermission("perm_categorize")) {?>
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("assignment_search.phtml");?>
			</div>
		<?}?>
		<?if($efc->getPermission("perm_visible")) {?>	
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("displayon_search.phtml");?>
			</div>		
		<?}?>
		<?if($efc->getPermission("perm_visible")) {?>	
			<div class="TabbedPanelsContent2">  
				<?INCLUDE("inventory_search.phtml");?>
			</div>		
		<?}?>
 		<?

 		if($DB == "projectmadisonweb")
 		{
			?>
				<div class="TabbedPanelsContent2">  
		
				<form name="spideroptions" method="get" action="/mgt/spiders/gateway.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.spideroptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<td class="g1"><div style="padding-top:3px"><B>Reacquire:</B></div></td>
					<td><input type="checkbox" name="f" value="re"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td class="g1"><div style="padding-top:3px"><B>View Cache:</B></div></td>
					<td><input type="checkbox" name="f2" value="cache"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
													
						
					<td><input type="button" name="Action" value="Run Crawler" class="buttonItem" onclick="doSpiderReport();"></td>
    					<!--<td align=center><font face="Webdings" size=6>&#33;</font></td>-->
				</tr>
				</table>		
				</form>
				
				</div>		
				<?
 		}
 		if($DB == "highpoint")
 		{
			?>
				<div class="TabbedPanelsContent2">  
		
				<form name="repricercustomoptions" method="get" action="/mgt/sm/repricer_custom.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<input type="text" name="price" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.repricercustomoptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<!--<td class="g1"><div style="padding-top:3px"><B>Reacquire:</B></div></td>
					<td><input type="checkbox" name="f" value="re"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td class="g1"><div style="padding-top:3px"><B>View Cache:</B></div></td>
					<td><input type="checkbox" name="f2" value="cache"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td> -->
													
						
					<td><input type="button" name="Action" value="Go" class="buttonItem" onclick="doREpricerCustom();"></td>
    					<!--<td align=center><font face="Webdings" size=6>&#33;</font></td>-->
				</tr>
				</table>		
				</form>
				
				</div>			
			<?
 		}
 		if($DB == "ecom")
 		{
			?>
				<div class="TabbedPanelsContent2">  
		
				<form name="spideroptions" method="get" action="/mgt/spiders/gateway.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.spideroptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<td class="g1"><div style="padding-top:3px"><B>Reacquire:</B></div></td>
					<td><input type="checkbox" name="f" value="re"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td class="g1"><div style="padding-top:3px"><B>View Cache:</B></div></td>
					<td><input type="checkbox" name="f2" value="cache"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
													
						
					<td><input type="button" name="Action" value="Run Crawler" class="buttonItem" onclick="doSpiderReport();"></td>
    					<!--<td align=center><font face="Webdings" size=6>&#33;</font></td>-->
				</tr>
				</table>		
				</form>
				
				</div>			
			<?
 		}
 		if($DB == "saga")
 		{
			?>
				<div class="TabbedPanelsContent2">  
		
				<form name="spideroptions" method="get" action="/mgt/spiders/gateway.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.spideroptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<td class="g1"><div style="padding-top:3px"><B>Reacquire:</B></div></td>
					<td><input type="checkbox" name="f" value="re"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td class="g1"><div style="padding-top:3px"><B>View Cache:</B></div></td>
					<td><input type="checkbox" name="f2" value="cache"/></select></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
													
						
					<td><input type="button" name="Action" value="Run Crawler" class="buttonItem" onclick="doSpiderReport();"></td>
    					<!--<td align=center><font face="Webdings" size=6>&#33;</font></td>-->
				</tr>
				</table>		
				</form>
				
				</div>			
			<?
 		}
			?>

			<div class="TabbedPanelsContent2">  
		
				<form name="listoptions" method="post" action="/mgt/sm/add2list.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.listoptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<td>
						<select name="todo" class="formSelect">
						<option value="add">Add</option>
						<option value="remove">Remove</option>
						<?
						if($efc->getPermission("perm_edit_ebay"))
						{
							?>
							<option value="rea">eBay - Remove/Erase/Add</optoin>							
							<?
						}
						?>
						</select>
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>
					
					<td class="g1">
						<select name="listid[]" class="formSelect" MULTIPLE  size=7>
						<?
						$query = "select lid, list_title from lists order by list_title";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						while(list($lid, $list_title) = mysql_fetch_array($qok))
						{
							?>
							<option value="<?=$lid;?>"><?=$list_title;?></option>
							<?
						}
						?>
						</select>					
					
					
					</td>
					
					
					<td>&nbsp;&nbsp;&nbsp;</td>
													
						
					<td><input type="button" name="Action" value="Update List" class="buttonItem" onclick="add2List();"></td>
				</tr>
				</table>		
				</form>
				
			</div>			
			
			<div class="TabbedPanelsContent2">  
		
				<form name="accoptions" method="post" action="/mgt/sm/addaccessories.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.accoptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
					<td>
						<select name="todo" class="formSelect">
						<option value="add">Add</option>
						<option value="remove">Remove</option>
						</select>
					</td>
					
					<td>
						<select name="acl" class="formSelect">
						<option value="ac">Accessories</option>
						<option value="ac2">Accessories #2</option>
						</select>
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>
					
					<td class="g1">
						<textarea style="width:155px;height:90px" name="acclist" class="formBox"></textarea><BR>
					</td>
					
					<td>&nbsp;&nbsp;&nbsp;</td>
						
					<td><input type="button" name="Action" value="Add/Remove Accessories" class="buttonItem" onclick="doAcceessoriesList();"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan=7>
						<I>*Comma delimited list of pids to add or remove from accessories</I>
					</td>
				</tr>
				</table>		
				</form>
				
			</div>			
		


			<div class="TabbedPanelsContent2">  
		
				<form name="delskus" method="post" action="/mgt/sm/deleteskus.phtml" style="margin:0px">
				<input type="hidden" name="idlist" value="">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.accoptions, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
						
					<td><input type="button" name="Action" value="Delete SKUs" class="buttonItem" onclick="deleteSKUSs();"></td>
				</tr>
				</table>		
				</form>
				
			</div>			
			<div class="TabbedPanelsContent2">  
				<form name="addPO" method="post" action="" style="margin:0px">
				<table>
				<tr>
					<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.addPO, document.pereport);">Select All SKUs</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
							
						
					<td><input type="button" name="Action" value="Add SKUs" class="buttonItem" onclick="addBulkItem2PO();"></td>
				</tr>
				</table>
				</form>		
			</div>		
			
			
		</div>
      	
</div>




















<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>