				<form name="plreport" onsubmit="return checkData();">
							<table>
							<tr>
								<td class="g1">Date Range:</td>
								<td>
								<select name="qdate" class="formselect" onchange="changeRange();">
									<option value="-1">-Quick Range-</option>
									<option value="1" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
									<option value="6" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
									
									<option value="7" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "7") echo "SELECTED";?>>Yesterday + Today</option>
									
									<option value="2" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
									<option value="3" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
									<option value="4" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
									
									<option value="8" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "8") echo "SELECTED";?>>Last 60 Days</option>
									<option value="9" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "9") echo "SELECTED";?>>Last 90 Days</option>
									<option value="10" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "10") echo "SELECTED";?>>Last 120 Days</option>
									
									<option value="5" <?if($_SESSION["OM_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
								</select>							
								<BR>
								
								<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['plreport'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
								
								- to -
								
									<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['plreport'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
										
									<input type="checkbox" name="disable_range">Ignore Date Range<BR>
								</td>
							</tr>						
							<tr>
								<td class="g1">Salesman:</td>
								<td>
									<select name="repid" class="formSelect" >
									<option value="0">----- ALL --------
									<option value="-1">No Salesman
									<?
									$query = "select id, displayname from users order by displayname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($repid, $displayname) = mysql_fetch_array($qok))
									{
										?>
										<option value="<?=$repid;?>"><?=$displayname;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>
							<tr>
								<td class="g1">House:</td>
								<td>
									<select name="house" class="formSelect" >
									<option value="1">Include House Orders
									<option value="2">Exclude House Orders
									</select>		
								</td>
							</tr>
							<tr>
								<td class="g1">Status:</td>
								<td>
									<select name="status" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select step, status from company_orderflow order by status";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($step, $status) = mysql_fetch_array($qok))
									{
										if(strlen($status) > 25)
											$status = substr($status, 0, 17)."...";
										?>
										<option value="<?=$step;?>">[<?=$step;?>] - <?=$status;?>
										<?
									}
									?>
									</select>		
								</td>
							</tr>
							<tr>
								<td class="g1">Shipping:</td>
								<td>
									<select name="shipping" class="formSelect" >
									<option value="1">Include Shipping Cost
									<option value="2">Exclude Shipping Cost
									</select>		
								</td>
							</tr>	
							<tr>
								<td class="g1">Order Prefix:</td>
								<td>
									<input type="text" name="oprefix" class="formbox" style="width:65px">
								</td>
							</tr>
							<tr>
								<td class="g1">PID:</td>
								<td><input type="text" name="id" id="id" style="width:75px" value="" class="formBox"></td>
							</tr>						
							<tr>
								<td colspan=2>
										<div align=center>
											<input type="button" name="Action" value="View" onclick="pullReport(0)" class="buttonItem">
											<input type="button" name="Action" value="Print" onclick="pullReport(1)" class="buttonItem">
											<input type="button" name="Action" value="Export" onclick="pullReport(2)" class="buttonItem">
										</div>										
								</td>
							</tr>
													
													
							</table>
							
						</form>	