<form name="ivaluation" id="ivaluation">
<table>
<tr>
	<td class="g1">Category:</td>
	<td>
		<select name="cat0" class="formSelect" onchange="getCategories(1);">
		<option value="0">----- SELECT --------
		<?
		$query = "select catid, catname from product_categories where parentid = 0 order by catname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($catid, $catname) = mysql_fetch_array($qok))
		{
		?>
			<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
		<?
		}
		?>
		</select>		
		<?
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat0) > 0)
		{
		?>
			<div id="cat1d" style="display:;">
			<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat0'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat1) > 0 && intval($cat0) > 0)
		{
		?>
			<div id="cat2d" style="display:;">
			<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat1'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
			<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
			<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		if(intval($cat2) > 0)
		{
		?>
			<div id="cat3d" style="display:;">
			<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
			<option value="0">----- SELECT --------
			<?
			$query = "select catid, catname from product_categories where parentid = '$cat2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($catid, $catname) = mysql_fetch_array($qok))
			{
			?>
				<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
			<?
			}
			?>
			</select>
			</div>
		<?
		}
		else 
		{
		?>
		<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
		<?
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
		?>
		<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
		<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
	</td>
</tr>				
<tr>
	<td class="g1">Brand:</td>
	<td>
		<select name="brand" id="brand" class="formSelect">
		<option value="">----- SELECT --------
		<?
		$query = "select manid, manname from product_manufacturers order by manname";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manid, $manname) = mysql_fetch_array($qok))
		{
			if(strlen($manname) > 25)
			{
				$manname = substr($manname, 0, 22)."...";
			}
			?>
			<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
			<?
		}
		?>
		</select>						
	</td>
</tr>
        <tr>
                <td class="g1">List:</td>
                <td>
                        <select name="listid" id="listid" class="formSelect" multiple>
                        <option value="">----- SELECT --------</option>
                        <?php
                        $query = "SELECT lid, list_title
                        		  FROM lists 
                        		  ORDER BY list_title";
                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        while(list($lid, $list_title) = mysql_fetch_array($qok))
                        {
                                if(strlen($list_title) > 25)
                                {
                                        $list_title = substr($list_title, 0, 18)."...";
                                }
                                ?>
                                <option value="<?=$lid;?>" <?if($_SESSION["SAVEDSEARCH"]['listid'] == $lid) echo "SELECTED"; ?>><?=$list_title;?>
                                <?
                        }
                        ?>
                        </select>	
                </td>
        </tr>
<tr>
	<td class="g1">PID:</td>
	<td>
		<input type="text" name="pid" value="<?=$prid?>" style="width:75px" class="formBox" onkeypress="return cancelReturn(this, event)">					
	</td>
</tr>
<tr>
	<td class="g1">Shipping:</td>
	<td>
		<select name="useship" class="formSelect" >
			<option value="1">Include Shipping
			<option value="2">Exclude Shipping 
		</select>		
	</td>
</tr>	
<tr>
	<td class="g1">Wholesale:</td>
	<td>
		<select name="wholesale" class="formselect">
		<option value="">--- SELECT ----
		<option value="1">Wholesale Only
		<option value="2">Exclude Wholesale
		</select>
	</td>
</tr>
<tr>
	<td class="g1">Claim:</td>
	<td>
		<select name="claim" class="formselect">
		<option value="">--- SELECT ----
		<option value="1">Claim Only
		<option value="2">Exclude Claims
		</select>
	</td>
</tr>
<tr>
	<td class="g1">Date Range:</td>
	<td>
		<select name="qdate" class="formselect" onchange="changeRange();">
		<option value="-1">-Quick Range-</option>
		<option value="1">Today</option>
		<option value="6">Yesterday</option>
									
		<option value="7">Yesterday + Today</option>
									
		<option value="2">Last 7 Days</option>
		<option value="3">Last 14 Days</option>
		<option value="4">Last 30 Days</option>
									
		<option value="8">Last 60 Days</option>
		<option value="9">Last 90 Days</option>
		<option value="10">Last 120 Days</option>
		
		<option value="5">Last Month</option>
		</select>							
		<BR>
								
		<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
					onclick="cal1x.select(document.forms['ivaluation'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['ivaluation'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
								
		- to -
								
		<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
					onclick="cal1x.select(document.forms['ivaluation'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['ivaluation'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
	</td>
</tr>	
<tr>
	<td class="g1">Status:</td>
	<td>
		<select name="status" class="formSelect" >
		<option value="0">----- ALL --------
		<?
		$query = "select step, status from company_orderflow order by status";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($step, $status) = mysql_fetch_array($qok))
		{
			if(strlen($status) > 25)
				$status = substr($status, 0, 17)."...";
			?>
			<option value="<?=$step;?>">[<?=$step;?>] - <?=$status;?>
			<?
		}
		?>
		</select>		
	</td>
</tr>	
<tr>
	<td class="g1"><div style="padding-top:2px;">Display On:</td>
	<td valign=top>
		<?
		$query = "select divid, sitename from site_list order by sitename";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($divid, $sitename) = mysql_fetch_array($qok))
		{
			?>
			<input type="checkbox" name="displayon_<?=$divid;?>" <?if(in_array($divid, $_SESSION["SAVEDSEARCH"]['displayon'])) echo "CHECKED";?>><?=$sitename;?><BR>
			<?
		}
		?>	
						
	</td>
</tr>	
                       <tr>
							<td class="g1"><div style="padding-top:2px;">Origin:</td>
							<td valign=top>
								<select name="origin" class="formSelect">
									<option value="">All Orders
									<option value="phone">Phone Only
									<option value="web">Web Only
									<option value="amazon">Amazon Only
									<option value="ebay">eBay Only
								</select>						
							</td>
						</tr>	
                        <tr>
							<td class="g1"><div style="padding-top:2px;">Excl. Origin:</td>
							<td valign=top>
								<select name="excl_origin" class="formSelect" multiple>
									<option value="">All Orders
									<option value="phone">Phone Only
									<option value="web">Web Only
									<option value="amazon">Amazon Only
									<option value="ebay">eBay Only
								</select>						
							</td>
						</tr>	
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport(0)" class="buttonItem">
		<input type="button" name="Action" value="Export" onclick="pullReport(1)" class="buttonItem">
		<input type="button" name="Action" value="Clear" onclick="clearReport()" class="buttonItem">
	</td>
</tr>						
</table>
</form>