<?php
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
	<TITLE>Products with more then one image</TITLE>
	<meta http-equiv="Content-Style-Type" content="text/css">
	<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
	<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
	<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
	<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<table width="99%" id="results" class="sortable">
		<tbody>
		<tr bgcolor="#eeeeee">
			<td height="21" align="center" valign="middle"><b>PID</b></td>
			<td height="21" align="center" valign="middle"><b>Product name</b></td>
		</tr>
		<?php
		$query = "SELECT pl.id, pl.descr AS title, (SELECT COUNT(id) FROM product_images WHERE id=pl.id LIMIT 1) AS count
				  FROM product_list pl
				  ORDER BY pl.id ASC";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; echo mysql_error();exit; }  }
		while (list($pid,$title,$count) = mysql_fetch_array($qok))
		{
			if ($count > 1)
			{
			?>
			<tr>
				<td align="center"><?php echo $pid; ?></td>
				<td align="center"><?php echo $title; ?></td>
			</tr>
		<?php
			}
		}	
		?>
		</tbody>
		</table>

	<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
</body>
</html>