<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Reorder Report</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<style>
<!-- 
.inbItem{font-family: verdana, helvetica, arial;color: black;font-size: 8pt;border-width: 0;text-decoration: none;}
.inbItem:visited,.inbItem:link,.inbItem:active{border-bottom:1px solid #008080;}
.inbItem:hover{color: red;text-decoration: underline;}

.tnbItem{background:#eeeeee;font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none; filter:alpha(opacity=95);}
.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#ffffee;}

.inputItem{ background: #ffffff; font-family: verdana, helvetica, arial;color: black;font-size: 9pt;font-weight: bold; border-color: #eeeeee; border-width: 1px;}
.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;}
.labelItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none;}

.uline{font-family: verdana;font-size: 8pt;border-bottom:1px solid #000000;}
.tline{font-family: verdana;font-size: 8pt;border-top:1px solid #000000;}

//-->
</style>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>
var g_level = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 
		
		
		
		if(lines.length <= 2)
		{
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}
	}
}

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.accbycat.cat0.options[ document.accbycat.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.accbycat.cat1.options[ document.accbycat.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.accbycat.cat2.options[ document.accbycat.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.accbycat.cat3.options[ document.accbycat.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.accbycat.cat4.options[ document.accbycat.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		searchSKUs();
  		return;
  	}
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	
	
	
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function showMenu(productID, manpart)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;
	
	//var menuDiv = document.getElementById("menuDiv");
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/viewsku.phtml?id="+productID+"&inwin=1', 'View SKU: "+productID+"');\">View SKU</a>"
	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/sm/editsku.phtml?id="+productID+"&inwin=1', 'Edit SKU: "+productID+"');\">Edit SKU</a>"
	document.getElementById("menuOption3").innerHTML = "<a href=\"/mgt/om/search.phtml?sku="+manpart+"&inwin=0\">Find SKU Orders</a>"
	
	document.getElementById("menuOption4").innerHTML = "<a href=\"/mgt/sm/featured_products.phtml?Action=Add&id=&aid="+productID+"\">Featured Product</a>";

	document.getElementById("menuOption5").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2PO('"+productID+"')\">Add to PO</a>";
	
	document.getElementById("menuOption6").innerHTML = "<a href=\"javascript:void(0);\" onclick=\"javascript:addItem2Order('"+productID+"')\">Add to Order</a>";


}

var paX = 0;
var paY = 0;
var dX = 0;

function addItem2Order(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2order.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=orderResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}

function addItem2PO(productID)
{
	xml7Http=GetXmlHttpObject();
	
	var url="/mgt/sm/ajax_additem2po.phtml?pid="+productID+"&sid="+Math.random();
	xml7Http.onreadystatechange=poResult;
	xml7Http.open("GET",url,true);
	xml7Http.send(null);	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// animation stuff
	var productimage = document.getElementById("productimage");
	
	productimage.innerHTML = "<center><img src=\"/getimage.phtml?id="+productID+"&itype=0&thumb=1\" border=0 width=50></center>";
	
	productimage.style.display = "block";
	
	productimage.style.left = posX;	
	productimage.style.top = posY;
	
	paX = posX;
	paY = posY;
	posArray = findPos(document.getElementById("orderdisplay"));
	dX = posArray[0];
	
	setTimeout("animateCart()", 0);
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	return false;
}

function poResult()
{
	if(xml7Http.readyState==4)
	{ 
		document.getElementById("podisplay").innerHTML = xml7Http.responseText;	
		
		document.getElementById("podisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorPODisplay()", 2000);
		
		document.getElementById("poimage").style.display = "";		
	}
}

function unColorPODisplay()
{
	document.getElementById("podisplay").style.backgroundColor = "#ffffff";
}

function orderResult()
{
	if(xml7Http.readyState==4)
	{ 
		document.getElementById("orderdisplay").innerHTML = xml7Http.responseText;	
		
		document.getElementById("orderdisplay").style.backgroundColor = "#ffcccc";
		setTimeout("unColorOrderDisplay()", 2000);
	}
}

function unColorOrderDisplay()
{
	document.getElementById("orderdisplay").style.backgroundColor = "#ffffff";
}

function animateCart()
{
	if(paX < dX)
		paX = paX + 20;
		
	paY = paY - 20;
	
	var productimage = document.getElementById("productimage");
	productimage.style.left = paX;	
	productimage.style.top = paY;

	if(paY > -75)
	{
		setTimeout("animateCart()", 0);
	}
	else
	{
		productimage.style.display = "none";
	}
}

function findPos(obj) 
{
	var curleft = curtop = 0;
	
	if (obj.offsetParent) 
	{
		do 
		{
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		}while (obj = obj.offsetParent);
	}
	
	return [curleft,curtop];
}	

function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}
</script>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<center>
		<table>
		<tr><td class="inbItem" height=21 align=center><B><?=$efc->getConfigValue("Company Information", "CompanyName");?></B></td></tr>	
		<tr><td class="inbItem" height=21 align=center>Reorder Report</td></tr>
		<tr>
			<td>
					<form name="accbycat" onsubmit="return checkData();">
						<table>
						
						<tr>
							<td class="inbItem">Category:</td>
							<td>
								<select name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
									<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat0) > 0)
								{
									?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat0'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat1) > 0 && intval($cat0) > 0)
								{
									?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat1'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat2) > 0)
								{
									?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '$cat2'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							</td>
						</tr>	
						<tr>
								<td class="inbItem">Salesman:</td>
								<td>
									<select name="repid" class="formSelect" >
									<option value="0">----- ALL --------
									<?
									$query = "select id, displayname from users order by displayname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($xrepid, $displayname) = mysql_fetch_array($qok))
									{
										?>
										<option value="<?=$xrepid;?>" <?if($repid == $xrepid) echo "SELECTED";?>><?=$displayname;?>
										<?
									}
									?>
									</select>		
								</td>
						</tr>		
						<tr>
								<td class="inbItem">Brand:</td>
								<td>
									<select name="brand" id="brand" class="formSelect">
									<option value="">----- SELECT --------
									<?
									$query = "select manid, manname from product_manufacturers order by manname";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($manid, $manname) = mysql_fetch_array($qok))
									{
										if(strlen($manname) > 25)
										{
											$manname = substr($manname, 0, 22)."...";
										}
										?>
										<option value="<?=$manid;?>" <?if($_SESSION["SAVEDSEARCH"]['brand'] == $manid) echo "SELECTED"; ?>><?=$manname;?>
										<?
									}
									?>
									</select>			
								</td>
						</tr>			
						<tr>
							<td class="inbItem">Warehouse:</td>
								<td>
									<select name="whid" id="whid" class="formSelect">
									<option value="">----- SELECT --------</option>
									<?
									$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									while(list($xwhid, $xwhname) = mysql_fetch_array($qok))
									{
										?>
										<option value="<?=$xwhid;?>" <?if($whid == $xwhid) echo "selected";?>><?=$xwhname;?></option>
										<?
									}
									?>
									</select>			
								</td>
						</tr>	
						<tr>
							<td class="inbItem">List:</td>
							<td>
								<select name="lid" id="lid" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$query = "select lid, list_title from lists order by list_title";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($xlid, $xlist_title) = mysql_fetch_array($qok))
								{
									if(strlen($xlist_title) > 25)
									{
										$xlist_title = substr($xlist_title, 0, 18)."...";
									}
									?>
									<option value="<?=$xlid;?>" <?if($xlid == $lid) echo "SELECTED"; ?>><?=$xlist_title;?>
									<?
								}
								?>
								</select>	
							</td>
						</tr>		
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="submit" name="Action" value="View Report" class="buttonItem">
										<input type="button" name="Action" value="Clear" class="buttonItem" onclick="document.location='/mgt/reports/reorder.phtml';">
										
							</td>
						</tr>						
												
						</table>
						
					</form>				
			</td>
		</tr>		
		</table>
		</form>
		<BR><BR>
		</center>
		<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
		<center>
		<!--- PID (:)), SKU, current stock, amount to order, last purchase price, last vendor --->
		<table>
		<tr>
			<td class="uline" height=21 align=center><B>PID</B></td><td>&nbsp;</td> 			
			<td class="uline" height=21 align=center><B>SKU</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Man.</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Man. Part</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Title</B></td><td>&nbsp;</td>
			<?
			if($colname != '')
			{
				?>
				<td class="uline" height=21 align=center><B><?=$colname;?></B></td><td>&nbsp;</td>
				<?
			}
			?>
			<td class="uline" height=21 align=center><B>Instock</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>OnHold</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Committed</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Available</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Re-Order</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>OnPO</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Last Vendor</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>Last Price</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>&nbsp;7</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>&nbsp;14</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>&nbsp;30</B></td><td>&nbsp;</td>
			<td class="uline" height=21 align=center><B>&nbsp;90</B></td><td>&nbsp;</td>
			
		</tr>
		<?
		if(intval($cat0) > 0){ $savecat = $cat0;}
		if(intval($cat1) > 0 && intval($cat0) > 0){ $savecat = $cat1;}
		if(intval($cat2) > 0 && intval($cat0) > 0 && intval($cat1) > 0){ $savecat = $cat2; }
		if(intval($cat3) > 0 && intval($cat0) > 0 && intval($cat1) > 0 && intval($cat2) > 0){ $savecat = $cat3;}
		if(intval($cat4) > 0 && intval($cat0) > 0 && intval($cat1) > 0 && intval($cat2) > 0 && intval($cat3) > 0){ $savecat = $cat4;}	

		if(intval($repid) > 0)
		{
			$addtable = " , sku_assignment";
			$addon = " AND sku_assignment.pid = product_prices.id and sku_assignment.userid = '$repid'";
		}
		if(intval($brand) > 0){ $addon .= " AND product_list.manid = '$brand' "; }
		if(intval($listid) > 0)
		{
			$addtables .= ", list_products ";
			$addon .= " AND product_list.id = list_products.pid AND list_products.lid = '$lid' ";
		}
		if($whid != "")
		{
			if(intval($savecat) > 0)
			{
				$addtable .= ", product_category_map ";
				$addon .= " AND product_category_map.catid = '$savecat' and product_category_map.pid = product_list.id ";	
			}
			
			$query = "select 
						distinct(product_prices.id), 
						product_prices.instock - product_prices.onhold - product_prices.committed as available ,
						product_list.sku,
						product_manufacturers.manname,
						product_list.manpart,
						product_list.descr,
						product_prices.instock,
						product_prices.onhold,
						product_prices.committed,
						product_prices.onpo,
						product_list.targetqty,
						sum(product_inventory.inv_available) as mystock, 
						product_list.minqty
						from product_prices, product_list, product_manufacturers, product_inventory $addtable
						where
						product_list.id = product_prices.id AND
						product_list.manid = product_manufacturers.manid AND
						product_inventory.whid = '$whid' AND
						product_list.id = product_inventory.id
						$addon
						group by product_prices.id
						having product_list.minqty >= mystock and product_list.minqty > 0";		
		}
		else 
		{
			if(intval($savecat)> 0)
			{
				$query = "select 
							product_prices.id, 
							product_prices.instock - product_prices.onhold - product_prices.committed as available ,
							product_list.sku,
							product_manufacturers.manname,
							product_list.manpart,
							product_list.descr,
							product_prices.instock,
							product_prices.onhold,
							product_prices.committed,
							product_prices.onpo,
							product_list.targetqty
							from product_prices, product_list, product_manufacturers, product_category_map $addtable
							where
							product_category_map.catid = '$savecat' AND
							product_category_map.pid = product_list.id AND
							(product_list.minqty >= (product_prices.instock - product_prices.onhold - product_prices.committed)) AND
							product_list.id = product_prices.id AND
							product_list.targetqty > 0 AND
							product_list.manid = product_manufacturers.manid
							$addon";
			}
			else 
			{
				$query = "select 
						product_prices.id, 
						product_prices.instock - product_prices.onhold - product_prices.committed as available,
						product_list.sku,
						product_manufacturers.manname,
						product_list.manpart,
						product_list.descr,
						product_prices.instock,
						product_prices.onhold,
						product_prices.committed,
						product_prices.onpo,
						product_list.targetqty
						from product_prices, product_list, product_manufacturers $addtable
						where
						(product_list.minqty >= (product_prices.instock - product_prices.onhold - product_prices.committed)) AND
						product_list.id = product_prices.id AND
						product_list.targetqty > 0 AND
						product_list.manid = product_manufacturers.manid
						$addon";
			}
		}
//		print_r($query);
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($id, $available, $sku, $manname, $manpart, $title, $instock, $onhold, $committed, $onpo, $targetqty, $xinv) = mysql_fetch_array($qok))
		{
			/*if($whid != "")
			{
				$query = "select text_short from custom_values where cfid = '$xmax' and pid = '$id'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($targetqty) = mysql_fetch_array($q2ok);
			}*/
			
			$query = "select vendorname, cost from product_purchase_history where pid = '$id' order by tstamp desc limit 0, 1";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) > 0)
			{
				list($vendor, $cost) = mysql_fetch_array($q2ok);
			}
			else 
			{
				$vendor = "n/a";
				$cost = 0.00;
			}
			
			
		?>
		<tr>
			  <td class="inbItem" height=21 align=center>
			  	<a href="javascript:void(0);" onclick="javascript:showMenu('<?=$id;?>', '<?=$manpart;?>');"><?=$id;?></a>
			  </td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$sku;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$manname;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$manpart;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$title;?></td><td>&nbsp;</td> 			
 				<?
				if($colname != '')
				{
					?>
					<td class="inbItem" height=21 align=right><?=number_format($xinv, 0);?></td><td>&nbsp;</td> 	
					<?
				}
				?>				  
			  <td class="inbItem" height=21 align=center><?=$instock;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center>
			  		<a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/stockdetail.phtml?inwin=1&pid=<?=$id;?>&type=onhold', 'Stock Detail for: <?=$id;?>');"><?=$onhold;?></a>
			  </td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center>
			  		<a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/stockdetail.phtml?inwin=1&pid=<?=$id;?>&type=committed', 'Stock Detail for: <?=$id;?>');"><?=$committed;?></a>
			  </td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$available;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$targetqty;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center>
			  		<a href="javascript:void(0);" onclick="javascript:e2window('/mgt/sm/stockdetail.phtml?inwin=1&pid=<?=$id;?>&type=onpo', 'Stock Detail for: <?=$id;?>');"><?=$onpo;?></a>
			  </td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=center><?=$vendor;?></td><td>&nbsp;</td> 			
			  <td class="inbItem" height=21 align=right><?=number_format($cost, 2);?></td><td>&nbsp;</td> 	
			  <?
			$odate_1 = time() - (86400 * 7);
			$q = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='111091' and customer_orders.orderdate >= '$odate_1' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$id."'";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($numorders) = mysql_fetch_array($qok2);
			?>
			<td>&nbsp;<?=$numorders;?></td><td>&nbsp;</td>
			
			<?
			$odate_2 = time() - (86400 * 14);
			$q = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='111091' and customer_orders.orderdate >= '$odate_2' and customer_orders.orderdate < '$odate_1' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$id."'";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($numorders) = mysql_fetch_array($qok2);
			?>
			<td>&nbsp;<?=$numorders;?></td><td>&nbsp;</td>
			
			<?
			$odate_3 = time() - (86400 * 30);
			$q = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='111091' and customer_orders.orderdate >= '$odate_3' and customer_orders.orderdate < '$odate_2' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$id."'";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($numorders) = mysql_fetch_array($qok2);
			?>
			<td>&nbsp;<?=$numorders;?></td><td>&nbsp;</td>
			<?
			$odate_3 = time() - (86400 * 90);
			$q = "SELECT sum(customer_order_lines.qty_shipped) FROM customer_orders,customer_order_lines WHERE customer_orders.acctid='111091' and customer_orders.orderdate >= '$odate_3' and customer_orders.orderdate < '$odate_2' and customer_orders.orderid=customer_order_lines.orderid and customer_order_lines.prodid='".$id."'";
			if(!$qok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($numorders) = mysql_fetch_array($qok2);
			?>
			<td>&nbsp;<?=$numorders;?></td><td>&nbsp;</td>
		</tr>
		<?
		}
		?>
		</table>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->

	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption6"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="productimage" class="item">&nbsp;</div>
</body>
</html>