<form name="salestax" id="salestax">
<table>
<tr>
	<td class="g1">Date Range:</td>
	<td>
		<select name="qdate" class="formselect" onchange="changeRange();">
		<option value="-1">-Quick Range-</option>
		<option value="1">1st Quarter</option>
		<option value="2">2nd Quarter</option>
		<option value="3">3rd Quarter</option>
		<option value="4">4th Quarter</option>
		
		<option value="5">1st Quarter (<?=date("Y", time()) - 1;?>)</option>
		<option value="6">2nd Quarter (<?=date("Y", time()) - 1;?>)</option>
		<option value="7">3rd Quarter (<?=date("Y", time()) - 1;?>)</option>
		<option value="8">4th Quarter (<?=date("Y", time()) - 1;?>)</option>
		</select>
		<BR>							

		<input type="text" name="bdate" value="<?=date("m/d/Y", time());?>" size=15 class="formbox" style="width:65px" 
			onclick="cal1x.select(document.forms['salestax'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  
			onselect="cal1x.select(document.forms['salestax'].bdate,'anchor1x','MM/dd/yyyy'); return false;" 
			ID="anchor1x" 
			onkeypress="return cancelReturn(this, event)">

		- to -
							
		<input type="text" name="edate" value="<?=$_SESSION["OM_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['salestax'].edate,'anchor2x','MM/dd/yyyy'); return false;" 
				onselect="cal1x.select(document.forms['salestax'].edate,'anchor2x','MM/dd/yyyy'); return false;" 
				ID="anchor2x" 
				onkeypress="return cancelReturn(this, event)">
	</td>
</tr>
<tr>
	<td class="g1">Taxable State</td>
	
	<td>
		<select name="state" id="state" class="formSelect">
		<option value="">----- ALL --------
		<?
		$query = "select config_key from configuration where config_group = 'Taxable States' and config_key is NOT NULL";
		if(!$qo2k = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($config_key) = mysql_fetch_array($qo2k))
		{
			?>
			<option value="<?=$config_key;?>"><?=$config_key;?>
			<?
		}
		?>
		</select>	
	</td>
</tr>
<tr>
	<td class="g1">Status:</td>
	<td><select name="status" id="status" class="formSelect" style="width:122px;">
		<option value="0">----- SELECT --------</option>
			<?
			$query = "select step, status from company_orderflow order by step";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($step, $status) = mysql_fetch_array($qok))
			{
				?>
				<option value="<?=$step;?>"><?=$status;?></option>
				<?
			}
			?>
		</select>		
	</td>
</tr>
<tr>
	<td class="g1">Taxable:</td>
	<td><select name="taxable" id="taxable" class="formSelect" style="width:122px;">
		<option value="0">----- Show All --------</option>
		<option value="1">----- Excl. Non-Taxable --------</option>
		</select>		
	</td>
</tr>
<tr>
	<td class="g1">0 Tax Collected:</td>
	<td><select name="taxable0" id="taxable0" class="formSelect" style="width:122px;">
		<option value="0">----- Include 0.00 Tax Collected --------</option>
		<option value="1">----- Excl. 0.00 Tax Collected --------</option>
		</select>		
	</td>
</tr>
<tr>
	<td class="g1">Order Prefix:</td>
	<td>
		<input type="text" name="oprefix" class="formbox" style="width:65px">
	</td>
</tr>
<tr>
	<td colspan=2>
		<BR>
		<div align=center>
		<input type="button" name="Action" value="View Report" onclick="pullReport()" class="buttonItem">
		</div>
	</td>
</tr>						
</table>
</form>