<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


?>
<HTML>
<HEAD>
<TITLE>Shipping Manifest</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<style>
<!-- 
.inbItem{font-family: verdana, helvetica, arial;color: black;font-size: 8pt;border-width: 0;text-decoration: none;}
.inbItem:visited,.inbItem:link,.inbItem:active{border-bottom:1px solid #008080;}
.inbItem:hover{color: red;text-decoration: underline;}

.tnbItem{background:#eeeeee;font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none; filter:alpha(opacity=95);}
.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#ffffee;}

.inputItem{ background: #ffffff; font-family: verdana, helvetica, arial;color: black;font-size: 9pt;font-weight: bold; border-color: #eeeeee; border-width: 1px;}
.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;}
.labelItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none;}

.uline{font-family: verdana;font-size: 8pt;border-bottom:1px solid #000000;}
.tline{font-family: verdana;font-size: 8pt;border-top:1px solid #000000;}

//-->
</style>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<script>

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "1")				
	{// today
	
		document.posearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.posearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "7")				
	{// yesterday + today
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "8")				
	{// last 60 days
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 60));?>/<?=date("d", $x_today - (86400 * 60));?>/<?=date("Y", $x_today - (86400 * 60));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "9")				
	{// last 90 days
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 90));?>/<?=date("d", $x_today - (86400 * 90));?>/<?=date("Y", $x_today - (86400 * 90));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "10")				
	{// last 120 days
		
		document.posearch.bdate.value = "<?=date("m", $x_today - (86400 * 120));?>/<?=date("d", $x_today - (86400 * 120));?>/<?=date("Y", $x_today - (86400 * 120));?>";
		document.posearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.posearch.qdate.options[document.posearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		
		document.posearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.posearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}
</script>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<?
	if(intval($pf) == 0)
	{
		?>
		<td width=13 background="/mgt/images/l.jpg"> </td>
		<?
	}
	?>
	
	<td valign=top>
		<?
		if(intval($pf) == 0)
		{
			REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");
		}
		?>
		<div style="padding-left:5px;padding-top:10px">

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
		<div align=left>
		<table border=0>
		<tr>
		<?
		if(intval($pf) == 0)
		{
			?>

			<td width=250>
			
		
				<form name="posearch">
				<div align=left style="border:1px solid #808080; width:250px">
				<table bgcolor="#eeeeee" width=100%>
						<tr>
							<td class="g1">Date Range:</td>
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
								<option value="6" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
								
								<option value="7" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "7") echo "SELECTED";?>>Yesterday + Today</option>
								
								<option value="2" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
								<option value="3" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
								<option value="4" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
								
								<option value="8" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "8") echo "SELECTED";?>>Last 60 Days</option>
								<option value="9" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "9") echo "SELECTED";?>>Last 90 Days</option>
								<option value="10" <?if($_SESSION["PO_SAVEDSEARCH"]['qdate'] == "10") echo "SELECTED";?>>Last 120 Days</option>
								
								<option value="5" <?if($_SESSION["OM_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
							</select>							
							<BR>
							
							<input type="text" name="bdate" value="<?if($bdate != "") echo $bdate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['posearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['posearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
							- to -
							
								<input type="text" name="edate" value="<?if($edate != "") echo $edate; else echo date("m/d/Y");?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['posearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['posearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
							</td>
						</tr>	
						
						<tr>
							<td class="g1">Shipper:</td>
							<td>
								<select name="shipper" class="formselect">
									<option value="" 			 <?if($shipper == "") echo "SELECTED"; ?>>--- ALL ---</option>
									<option value="fedex" 		 <?if($shipper == "fedex") echo "SELECTED"; ?>>FedEx</option>
									<option value="fedex-ground" <?if($shipper == "fedex-ground") echo "SELECTED"; ?>>FedEx Ground</option>
									<option value="ups" 		 <?if($shipper == "ups") echo "SELECTED"; ?>>UPS</option>
									<option value="manna" 		 <?if($shipper == "manna") echo "SELECTED"; ?>>Manna</option>
									<option value="icat" 		 <?if($shipper == "icat") echo "SELECTED"; ?>>iCat</option>
									<option value="hdusa" 		 <?if($shipper == "hdusa") echo "SELECTED"; ?>>HDUSA</option>
									<option value="smartpost" 	 <?if($shipper == "smartpost") echo "SELECTED"; ?>>SmartPost</option>
									<option value="usps" 		 <?if($shipper == "usps") echo "SELECTED"; ?>>USPS</option>
									<!--<option value="generic" 	 <?if($shipper == "generic") echo "SELECTED"; ?>>Generic</option>-->
									
									<?
									$query = "select config_value from configuration where config_group = 'Generic Carriers' and config_key = 'Shipper' ";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									
									?>
									<option value="GEN - Generic Method" <?if($shipper == "GEN - Generic Method") echo "SELECTED"; ?>>
										GEN - Generic Method</option>
									<?
									
									while(list($shippername) = mysql_fetch_array($qok))
									{
										?>
									<option value="GEN - <?=$shippername;?>" <?if($shipper == "GEN - $shippername") echo "SELECTED"; ?>>
										GEN - <?=$shippername;?></option>
									<?
									}									
									?>								
									</select>
							</td>
						</tr>
						<tr>
							<td class="g1">Order Prefix:</td>
							<td>
								<input type="text" name="oprefix" class="formbox" style="width:65px">
							</td>
						</tr>
						<tr>
							<td colspan=2 align=center>
								<input type="submit" name="Action" value="View Manifest"><BR><BR>
								<a target="_blank" href="/mgt/reports/shipping_manafest.phtml?&bdate=<?=$bdate;?>&edate=<?=$edate;?>&shipper=<?=$shipper;?>&Action=View&pf=1">Printer Friendly</a>
							</td>
						</tr>		
					</table>
					</div>
				</form>
				
			</td>	
		<?
		}
		?>
			<td>
			
			<?
			if(intval($pf) == 1)
			{
				if($bdate == $edate)
					echo "<div align=center><font size=3><B>Shipping Manifest</B></font><BR>$bdate<BR><BR></div>";
				else
					echo "<div align=center><font size=3><B>Shipping Manifest</B></font><BR>$bdate - $edate<BR><BR></div>";

					
			}
			
			$tarray = Array();
			
			if($shipper == "") // ALL
			{
				$addon = " and type != 'FEDEX_GROUND' and carrier = 'fedex'";	
				$boxes = outputManafest($mysqlid, $DB, $addon, "FedEx", $bdate, $edate,$oprefix);
			
				$tarray['name'][] = "FedEx";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
				
				$addon = " and type = 'FEDEX_GROUND' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "FedEx Ground", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "FedEx Ground";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
///////////
				$addon = " and carrier = 'UPS' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "UPS", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "UPS";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
///////////				
				$addon = " and carrier = 'manna' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "Manna", $bdate, $edate,$oprefix);

				$tarray['name'][] = "Manna";
				$tarray['boxes'][] = $boxes;

				echo "<BR><BR>";
///////////				
				$addon = " and carrier = 'iCat' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "iCat", $bdate, $edate,$oprefix);

				$tarray['name'][] = "iCat";
				$tarray['boxes'][] = $boxes;

				echo "<BR><BR>";
				
///////////				
				$addon = " and carrier = 'hdusa' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "iCat", $bdate, $edate,$oprefix);

				$tarray['name'][] = "HDUSA";
				$tarray['boxes'][] = $boxes;

				echo "<BR><BR>";				
///////////				
				$addon = " and carrier = 'smartpost' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "SmartPost", $bdate, $edate,$oprefix);

				$tarray['name'][] = "SmartPost";
				$tarray['boxes'][] = $boxes;

				echo "<BR><BR>";				
///////////
				$addon = " and carrier = 'usps' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "USPS", $bdate, $edate,$oprefix);

				$tarray['name'][] = "USPS";
				$tarray['boxes'][] = $boxes;

				echo "<BR><BR>";				
///////////
				$addon = " and carrier = 'generic' and type = 'GEN - Generic Method' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "GEN - Generic Method", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "GEN - Generic Method";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
///////////				

				$query = "select config_value from configuration where config_group = 'Generic Carriers' and config_key = 'Shipper' ";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($shippername) = mysql_fetch_array($qok))
				{
					$addon = " and carrier = 'generic' and type = 'GEN - $shippername' ";
					$boxes = outputManafest($mysqlid, $DB, $addon, "GEN - $shippername", $bdate, $edate,$oprefix);
					
					$tarray['name'][] = "GEN - $shippername";
					$tarray['boxes'][] = $boxes;
					
					echo "<BR><BR>";
				}									
				
	
			}
			else if($shipper == "ups")
			{
				$addon = " and carrier = 'UPS' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "UPS", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "UPS";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "manna")
			{
				$addon = " and carrier = 'manna' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "Manna", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "Manna";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "icat")
			{
				$addon = " and carrier = 'icat' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "iCat", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "iCat";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "hdusa")
			{
				$addon = " and carrier = 'hdusa' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "HDUSA", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "HDUSA";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "smartpost")
			{
				$addon = " and carrier = 'smartpost' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "SmartPost", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "SmartPost";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "usps")
			{
				$addon = " and carrier = 'usps' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "USPS", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "USPS";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "fedex")
			{
				$addon = " and type != 'FEDEX_GROUND' and carrier = 'fedex'";	
				$boxes = outputManafest($mysqlid, $DB, $addon, "FedEx", $bdate, $edate,$oprefix);

				echo "<BR><BR>";
				
				$tarray['name'][] = "FedEx";
				$tarray['boxes'][] = $boxes;
			
			}
			else if(substr($shipper, 0, 3) == "GEN")
			{
				$addon = " and carrier = 'generic' and type = '$shipper'";
				$boxes = outputManafest($mysqlid, $DB, $addon, "$shipper", $bdate, $edate,$oprefix);
				
				$tarray['name'][] = "$shipper";
				$tarray['boxes'][] = $boxes;
				
				echo "<BR><BR>";
			}
			else if($shipper == "fedex-ground")
			{
				$addon = " and type = 'FEDEX_GROUND' ";
				$boxes = outputManafest($mysqlid, $DB, $addon, "FedEx Ground", $bdate, $edate,$oprefix);
					
				echo "<BR><BR>";

				$tarray['name'][] = "FedEx Ground";
				$tarray['boxes'][] = $boxes;
			}
			
			function outputManafest($mysqlid, $DB, $addon, $name, $bdate, $edate,$oprefix)
			{
				$xbdate = strtotime("$bdate 00:00:00");
				$xedate = strtotime("$edate 23:59:59");
				
				$totalboxes = 0;
				$opaddon = '';
				if($oprefix != "")
				{
					$opaddon .= " AND customer_order_tracking.invoiceid like '$oprefix%'";
				}
				
				?>
				<B><?=$name;?></B>
				<table width=50%>
					<tr bgcolor="#eeeeee">
						<td class="g1" NOWRAP><div align=center><B>Invoice</div></b></td>
						<td class="g1" NOWRAP><div align=center><B>Method</b></div></td>
						<td class="g1" NOWRAP><div align=center><B>Order Total</b></div></td>
						<td class="g1" NOWRAP><div align=center><B>Customer Name</b></div></td>
						<td class="g1" NOWRAP><div align=center><B>Ship Date</b></div></td>
						<td class="g1" NOWRAP><div align=center><B># Packages</b></div></td>
					</tr>				
				<?
				$query = "select distinct(customer_order_tracking.invoiceid), customer_order_tracking.shipdate from customer_order_tracking,customer_orders where customer_orders.invoiceid=customer_order_tracking.invoiceid AND customer_orders.status!='4000' AND customer_order_tracking.shipdate >= '$xbdate' and customer_order_tracking.shipdate <= '$xedate' $addon $opaddon";
//				$query = "select distinct(invoiceid), shipdate from customer_order_tracking where shipdate >= '$xbdate' and shipdate <= '$xedate' $addon $opaddon";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($invoiceid, $shipdate) = mysql_fetch_array($qok))
				{
					$query = "select count(*), type from customer_order_tracking where shipdate >= '$xbdate' and shipdate <= '$xedate' AND 
								invoiceid = '$invoiceid' $addon AND type != 'DS' group by invoiceid";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($boxes, $method) = mysql_fetch_array($q2ok);
							
					if($boxes > 0)
					{
						$query = "select total, ship2name from customer_orders where invoiceid = '$invoiceid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($total, $ship2name) = mysql_fetch_array($q2ok);
						
						
						?>
						<tr>
							<td NOWRAP><?=$invoiceid;?></td>
							<td NOWRAP><?=$method;?></td>
							<td NOWRAP><div align=right><?=number_format($total, 2);?></div></td>
							<td NOWRAP><div align=center><?=$ship2name;?></div></td>
							<td NOWRAP><div align=center><?=date("m/d/Y", $shipdate);?></div></td>
							<td NOWRAP><div align=center><?=$boxes;?></div></td>
						</tr>					
						<?
						
						$totalboxes += $boxes;
					}
				}
				?>
				</table>
				<?
				
				return $totalboxes;
			}
			?>
			</td>
			
			<td valign=top align=left width=250>
			<!------------------------------------------------------------------------------>
				<BR><BR><BR><BR>
				<div align=left style="border:1px solid #808080; width:250px">
				<table width=250>
				<tr bgcolor="#eeeeee">
					<td class="g1"><div align=center>Carrier</div></td>
					<td class="g1"><div align=center># Packages</div></td>
				</tr>
				<?
				/*
				$tarray['name'][] = "FedEx Ground";
				$tarray['boxes'][] = $boxes;
				*/
				$tnum = 0;
				
				for($xx = 0; $xx < count($tarray["name"]); $xx++)
				{
					$tnum += $tarray['boxes'][$xx];
					?>
					<tr>
						<td><div align=right><?=$tarray['name'][$xx];?></div></td>
						<td><div align=left><?=$tarray['boxes'][$xx];?></div></td>
					</tr>
					<?
				}
				?>
					<tr>
						<td><div align=right><B>Total</B></div></td>
						<td><div align=left><B><?=$tnum;?></div></B></td>
					</tr>
				
				
				</table>
				</div>	
			<!------------------------------------------------------------------------------>	
			</td>
		</table>
		
		<div align=left>
		<table>
		<tr>
			<td>
		<BR><BR><BR>________________________________<BR><B>Manager Signature</B>
		
		
		<BR><BR><BR><BR><BR>________________________________<BR><B>Shipper Signature</B>
			
			</td>
		</tr>
		</table>
		</div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->

	</td>
	<?
	if(intval($pf) == 0)
	{
		?>
		<td width=13 background="/mgt/images/r.jpg"> </td>
		<?
	}
	?>
</tr>
</table>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
</body>
</html>