<?
$ROOT_DIR = "/home/httpd/ecomelectronics.com";

INCLUDE("$ROOT_DIR/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
///////////////////////////////////////////////////////////////////////////////////////////////////////
//include 'ppsdk_include_path.inc';

require_once 'pp_sdk/ppwrapper.phtml';
require_once 'PayPal.php';
require_once 'PayPal/Error.php';
require_once 'PayPal/Profile/Handler/Array.php';
require_once 'PayPal/Profile/API.php';
require_once 'PayPal/Type/TransactionSearchRequestType.php';
require_once 'PayPal/Type/TransactionSearchResponseType.php';
require_once 'PayPal/Type/GetTransactionDetailsRequestType.php';
require_once 'PayPal/Type/GetTransactionDetailsResponseType.php';
///////////////////////////////////////////////////////////////////////////////////////////////////////


$environment = 'live';	// 'sandbox or 'beta-sandbox' or 'live'

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

////////////////////////////////////////////////////////////////////////////////////////////
$ppWrapper = new ppWrapper();
$ppWrapper->efc = $efc;


$transactionID = $ppWrapper->transactionSearch("2009-06-01", "2009-06-30", "solitario768@yahoo.com", "249.95");

if($transactionID != "")
{
	echo "TRANSACTIONID: $transactionID<BR>";
	
	//$ppWrapper->getTransactionDetails($transactionID);
	
	$handler = & ProfileHandler_Array::getInstance(array(
		            'username' => 'my_api_username',
		            'certificateFile' => null,
		            'subject' => null,
		            'environment' => $environment));
		
		$pid = ProfileHandler::generateID();
		
		$profile = & new APIProfile($pid, $handler);
		
		// Set up your API credentials, PayPal end point, and API version.
		$profile->setAPIUsername($efc->getConfigValue("Paypal", "API_Username"));
		$profile->setAPIPassword($efc->getConfigValue("Paypal", "API_Password"));
		$profile->setCertificateFile($efc->getConfigValue("Paypal", "API_CERT"));
		$profile->setEnvironment($environment);
		//--------------------------------------------------
		
		$trans_details =& PayPal::getType('GetTransactionDetailsRequestType');
		$trans_details->setVersion("51.0");
		
		// Set request-specific fields.
		$trans_details->setTransactionId('96D277992R750214F', 'iso-8859-1');
		
		$caller =& PayPal::getCallerServices($profile);
		
		// Execute SOAP request.
		$response = $caller->GetTransactionDetails($trans_details);
		
		switch($response->getAck()) 
		{
			case 'Success':
			case 'SuccessWithWarning':
		        // Extract the response details.
				$ptd = $response->getPaymentTransactionDetails();
				$payer_info = $ptd->getPayerInfo();
				$payment_info = $ptd->getPaymentInfo();
		
				// Payer fields
				$payer = $payer_info->getPayer();
				$payer_id = $payer_info->getPayerID();
				$payer_name = $payer_info->getPayerName();
				$payer_fname = $payer_name->getFirstName();
				$payer_lname = $payer_name->getLastName();
		
				// Payment fields
				$tran_ID = $payment_info->getTransactionID();
				$tran_ID_parent = $payment_info->getParentTransactionID();
				if(! isset($tran_ID_parent)){
					$tran_ID_parent = "Not Available";
				}
				$gross_amt_obj = $payment_info->getGrossAmount();
				$gross_amt = $gross_amt_obj->_value;
				$currency_cd = $gross_amt_obj->getattr('currencyID');
				$status = $payment_info->getPaymentStatus();
				//exit('GetTransactionDetails Completed Successfully: ' . print_r($response, true));
				
				echo "PayerStatus: ".$response->PaymentTransactionDetails->PayerInfo->PayerStatus."<BR>";
				//echo "PaymentStatus: ".$response->PaymentTransactionDetails->PaymentInfo->PaymentStatus."<BR>";
				echo "ProtectionEligibility: ".$response->PaymentTransactionDetails->PaymentInfo->ProtectionEligibility."<BR>";
		
			default:
				//exit('GetTransactionDetails failed: ' . print_r($response, true));
		}	
}
?>