<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($Action == "Delete") 
{ 
     // remove it from the database 
     $query = "delete from datafeed_skus where dfid = '$dfid' and pid = $pid"; 
     if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  } 
      
     // relocate the person them so they don't have that delete url 
     Header("Location: /mgt/df/viewfeed.phtml?dfid=$dfid"); 
      
}

/******************** *******************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_datafeed_manager"); // will redirect on failure

function getTrafficDetail($pid, $bdate, $edate, $DB, $mysqlid)
{
	$query = "select sum(views), sum(clicks), sum(sales), sum(salesvol), 
					sum(views_uk), sum(clicks_uk), sum(sales_uk), sum(salesvol_uk), 
					sum(views_pe), sum(clicks_pe), sum(sales_pe), sum(salesvol_pe),
					sum(views_ca), sum(clicks_ca), sum(sales_ca), sum(salesvol_ca), 
					sum(views_se), sum(clicks_se), sum(sales_se), sum(salesvol_se), 
					sum(views_dr), sum(clicks_dr), sum(sales_dr), sum(salesvol_dr)
					from traffic_product_performance where pid = '$pid' ";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
	list( $views, $clicks, $sales, $salesvol, 
					$views_uk, $clicks_uk, $sales_uk, $salesvol_uk, 
					$views_pe, $clicks_pe, $sales_pe, $salesvol_pe,
					$views_ca, $clicks_ca, $sales_ca, $salesvol_ca, 
					$views_se, $clicks_se, $sales_se, $salesvol_se, 
					$views_dr, $clicks_dr, $sales_dr, $salesvol_dr) = mysql_fetch_array($q4ok);
			
	?>
	<table>
 	<tr>
 		<td><B>Type</B></td>
 		<td><B>Views</B></td>
 		<td><B>Clicks</B></td>
 		<td><B>Sales</B></td>
 		<td><B>Sales Vol</B></td>
 		<td><B>Conv</B></td>
	</tr>
 	<tr>
 		<td>PE</td>
 		<td align=right><?=number_format($views_pe, 0);?></td>
 		<td align=right><?=number_format($clicks_pe, 0);?></td>
 		<td align=right><?=number_format($sales_pe, 0);?></td>
 		<td align=right>$ <?=number_format($salesvol_pe, 2);?></td>
 		<td align=right>
 		<?
 		if($clicks_pe <= 0)
 			$conv = 0.00;
		else 
 			$conv = ($sales_pe * 100) / $clicks_pe;
 						
		echo number_format($conv, 2)."%";
 		?>
 		</td>
	</tr>
 	<tr>
 		<td>SE</td>
 		<td align=right><?=number_format($views_se, 0);?></td>
 		<td align=right><?=number_format($clicks_se, 0);?></td>
 		<td align=right><?=number_format($sales_se, 0);?></td>
 		<td align=right>$ <?=number_format($salesvol_se, 2);?></td>
 		<td align=right>
 		<?
 		if($clicks_se <= 0)
 			$conv = 0.00;
 		else 
 			$conv = $sales_se / $clicks_se;
 						
		echo number_format($conv, 2)."%";
 		?>
 		</td>
	</tr>
 	<tr>
 		<td>CA</td>
 		<td align=right><?=number_format($views_ca, 0);?></td>
 		<td align=right><?=number_format($clicks_ca, 0);?></td>
 		
 		<td align=right><?=number_format($sales_ca, 0);?></td>
 		<td align=right>$ <?=number_format($salesvol_ca, 2);?></td>
 		<td align=right>
 		<?
		if($clicks_ca <= 0)
 			$conv = 0.00;
		else 
 			$conv = $sales_ca / $clicks_ca;
 						
		echo number_format($conv, 2)."%";
 		?>
 		</td>
	</tr>
 	<tr>
 		<td>DR</td>
 		<td align=right><?=number_format($views_dr, 0);?></td>
 		<td align=right><?=number_format($clicks_dr, 0);?></td>
 		<td align=right><?=number_format($sales_dr, 0);?></td>
 		<td align=right>$ <?=number_format($salesvol_dr, 2);?></td>
 		<td align=right>
 		<?
 		if($clicks_dr <= 0)
 			$conv = 0.00;
		else 
 			$conv = $sales_dr / $clicks_dr;
 						
		echo number_format($conv, 2)."%";
 		?>
		</td>
	</tr>
 	<tr>
 		<td>UK</td>
 		<td align=right><?=number_format($views_uk, 0);?></td>
 		<td align=right><?=number_format($clicks_uk, 0);?></td>
 		<td align=right><?=number_format($sales_uk, 0);?></td>
 		<td align=right>$ <?=number_format($salesvol_uk, 2);?></td>
 		<td align=right>
 		<?
 		if($clicks_uk <= 0)
 			$conv = 0.00;
		else 
 			$conv = $sales_uk / $clicks_uk;
 						
		echo number_format($conv, 2)."%";
 		?>
		</td>
	</tr>
 	</table>
	<?	
}

$query = "select dfname from datafeeds where dfid = '$dfid'";
if(!$qok = mysql_db_query($MYSQL_DATABASE, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($dfname) = mysql_fetch_array($qok);

?>
<HTML>
<HEAD>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<TITLE>View Datafeed: <?=$dfname;?> </TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body>
<div id="savecover" class="cover"></div>
				
	
<?
// id, man, manpart, descr, upc, scost, status, visible, display, refurb, stock, price
$query = "SELECT distinct(pid), sum(clicks), sum(sales), sum(salesvol), sum(coa),  manname, manpart, descr from
			traffic_click_summary_extended 
			where 
				tstamp >= '$bstamp' and 
				tstamp <= '$estamp' and 
				clicktype = '$clicktype' and 
				clickid = '$clickid' group by pid";	

if(!$qok = mysql_db_query($this->db, $query, $this->mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid, $clicks, $sales, $salesvol, $coa, $manname, $manpart, $descr) = mysql_fetch_array($qok))
{
	$reportdata['pid'][] 		= $pid;
	$reportdata['clicks'][] 	= $clicks;
	$reportdata['sales'][] 	= $sales;
	$reportdata['salesvol'][] 	= $salesvol;
	$reportdata['manname'][] 	= $manname;
	$reportdata['manpart'][] 	= $manpart;
	$reportdata['descr'][] 	= $descr;
				
	$reportdata['coa'][]		=  $coa;

	if($clicks > 0)
		$reportdata['conv'][] 	= $sales * 100 / $clicks;
	else
		$reportdata['conv'][] 	= 0;
}
		
if(count($reportdata['clicks']) > 0)
	array_multisort($reportdata['clicks'], SORT_DESC, SORT_NUMERIC, 
		$reportdata['pid'],  $reportdata['sales'], $reportdata['salesvol'], $reportdata['manname'], $reportdata['manpart'],
		$reportdata['descr'], $reportdata['coa'], $reportdata['conv']);
?>
<center>
<table>
<tr>
	<td class="uline" height=21 align=center><B>Manufacturer</B></td><td>&nbsp;</td>
	<td class="uline" height=21 align=center><B>Product Part</B></td><td>&nbsp;</td>
	<td class="uline" height=21 align=center><B>Clicks</B></td><td>&nbsp;</td>
	<td class="uline" height=21 align=center><B>COA</B></td><td>&nbsp;</td>
	<td class="uline" height=21 align=center><B>Sales</B></td><td>&nbsp;</td>
	<td class="uline" height=21 align=center><B>Sales Volume</B></td><td>&nbsp;</td>
	<td class="uline" height=21 align=center><B>Conversion</B></td>
</tr>
		<?
		for($xx = 0; $xx < count($reportdata['clicks']); $xx++)
		{
			$tclicks += $reportdata['clicks'][$xx];
			$tcoa += $reportdata['coa'][$xx];
			$tsales += $reportdata['sales'][$xx];
			$tsalesvol += $reportdata['salesvol'][$xx];
		?>
		<tr>
			<td class="inbItem" height=21><?=$reportdata['manname'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/viewsku.phtml?id=<?=$reportdata['pid'][$xx];?>&inwin=1', 'View SKU');" class="inbItem"><?=$reportdata['descr'][$xx];?> (<?=$reportdata['manpart'][$xx];?>)</a></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['clicks'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['coa'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=center><?=$reportdata['sales'][$xx];?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right>$ <?=number_format($reportdata['salesvol'][$xx], 2);?></td><td>&nbsp;</td>
			<td class="inbItem" height=21 align=right><?=number_format($reportdata['conv'][$xx], 2);?>%</td>
		</tr>
		<?
		}
		?>
		<tr>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="uline" height=21></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tclicks;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tcoa, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=center><B><?=$tsales;?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B>$<?=number_format($tsalesvol, 2);?></B></td><td>&nbsp;</td>
			<td class="tline" height=21 align=right><B><?=number_format($tsales * 100 / $tclicks, 2);?>%</B></td>
		</tr>
		</table>
		<?	

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }				
				
	while(list($id, $manname, $manpart, $descr, $upccode, $platform, $status, $visible, $dropship, $refurb, $price,
				$instock, $onhold, $committed, $onpo) = mysql_fetch_array($qok))
	{
			
		$available = $instock - $onhold - $committed;
		
		if($visible == 1) $visible = "X"; else $visible = "";
		if($dropship == 1) $dropship = "X"; else $dropship = "";
		if($refurb == 1) $refurb = "X"; else $refurb = "";

		//echo "$id - $descr -> $stock<BR>";
		if($status == 0) $status = "Active";	
		if($status == 1) $status = "Special Order";
		if($status == 2) $status = "End of Life";
		if($status == 3) $status = "Discontinued";
		
		?>
		<tr>
		    <td><input type='checkbox' name='ids[]' value='<?=$id;?>'></td>
			<td><a href="javascript:;" onclick="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$id;?>&inwin=1', 'Edit SKU: <?=$id;?>');"><?=$id;?></a></td>
			<td><?=$manname;?></td>
            <td><?=$manpart;?></td>
            <td>
            	<?=$descr;?>
            	<table>
            	<tr>
            		<td>
            		<?getTrafficDetail($id, $bdate, $edate, $DB, $mysqlid);?>
            		</td>
            	</tr>
            	</table>
            </td>
            <td><?=$status;?></td>
 			<td>
 				<table>
 				<tr>
 					<td><B>InStock</B></td><td><?=$instock;?></td>
 				</tr>
 				<tr>
 					<td><B>OnHold</B></td><td><?=$onhold;?></td>
 				</tr>
				<tr>
 					<td><B>Committed</B></td><td><?=$committed;?></td>
 				</tr>
				<tr>
 					<td><B>OnPO</B></td><td><?=$onpo;?></td>
 				</tr>
 				</table>
 			
 			</td>
			<td><?=$available;?></td> 			
		</tr>
		<tr bgcolor="#eeeeee">
			<td colspan=8>&nbsp;</td>
		</tr>
		<?
	}
	?>
	</table>
	</form>

	
	
	
	
<script>
function checkUncheckAll(myOptions, myForm) 
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function doPEReport()
{
	var skus = "";
	var myForm = document.pereport;
	
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			if(myForm[z].checked)
			{
				if(skus.length <= 0)
					skus += myForm[z].value;
				else
					skus += ","+myForm[z].value;
			}
		}
	}
	
	document.peoptions.idlist.value = skus;
	
	document.peoptions.submit();

}
</script>
	
	
	
	
	
	
<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
	<ul class="TabbedPanelsTabGroup">
	<li class="TabbedPanelsTab2" tabindex="0"><strong>PE Report</strong></li>
    </ul>
	<div class="TabbedPanelsContentGroup">
		<div class="TabbedPanelsContent2">  

		<form name="peoptions" method="post" action="/mgt/pereport/pegrid.phtml" style="margin:0px">
		<input type="hidden" name="idlist" value="">
		<table>
		<tr>
			<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.peoptions, document.pereport);">Select All SKUs</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
					
			<td class="g1"><div style="padding-top:3px"><B>Engine:</B></div></td>
			<td><select name="peid" class="formSelect">
				<option value="pg">PriceGrabber</option>
				<option value="cn">C|Net Shopper</option>
				<option value="dt">Shopping.com</option>
				<option value="br">BizRate.com</option>
				<option value="ys">Yahoo Shopping</option>
				<option value="am">Amazon</option>
				<option value="am">NexTag</option>
				<option value="fr">Froogle</option>
				<option value="pw">PriceWatch</option>
				</select>
			</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
					
					
			<td class="g1"><div style="padding-top:3px"><B>Datafeed:</B></div></td>
			<td>
				<select name="dfid" class="formSelect">
				<?
				$query = "select dfid, dfname from datafeeds order by dfname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
				while(list($dfid, $dfname) = mysql_fetch_array($qok))
				{
				?>
					<option value="<?=$dfid;?>"><?=$dfname;?></option>
				<?
				}
				?>
				</select>
			</td>
			<td>&nbsp;</td>
					
				
			<td><input type="button" name="Action" value="Run Report" class="buttonItem" onclick="doPEReport();"></td>
		</tr>
		
		<tr>
			<td colspan=3>&nbsp;</td>
			
			<td colspan=6>
				<input type="radio" name="coption" value="ignore">Ignore Missing Crawler IDs
				<input type="radio" name="coption" value="acquire" CHECKED>Acquire Missing CrawlerIDs
				<input type="radio" name="coption" value="missing">Only run for Missing Crawler IDs (and acquire)
			</td>
			
		</tr>	
		</table>		
		</form>
		
		</div>

      	</div>
</div>

	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>		
	</td>
		
	<td width=13 background="/mgt/images/r.jpg"> </td>
</table>

</body>
</html>
