<?
set_time_limit(999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/trafficreportclass_nomenu.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/termsreportclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/trafficutility.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
//$efc->hasPermission("perm_traffic_reports"); // will redirect on failure



/////////////////////////////////////////
$tuc = new trafficUtilityClass();
$tuc->db = $MYSQL_DATABASE;
$tuc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
/////////////////////////////////////////
$trc = new trafficReportClass();
$trc->db = $MYSQL_DATABASE;
$trc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$trc->tuc = $tuc;
/////////////////////////////////////////
$termsrc = new termsReportClass();
$termsrc->db = $MYSQL_DATABASE;
$termsrc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$termsrc->tuc = $tuc;
/////////////////////////////////////////

if($bdate != "")
{
	$mdy = explode("/", $bdate);
	$bstamp = mktime(0,0,0,$mdy[0], $mdy[1], $mdy[2]);
}

if($edate != "")
{
	$mdy = explode("/", $edate);
	$estamp = mktime(23,59,59,$mdy[0], $mdy[1], $mdy[2]);
}

if($bstamp == "" || $estamp == "")
{
	$bstamp = mktime( 0,0,0, date("m", time()),date("d", time()),date("Y", time()));
	$estamp = mktime( 23,59,59,  date("m", time()),date("d", time()),date("Y", time()));
}

$COMPANY_NAME = $efc->getConfigValue("Company Information", "CompanyName");
?>
<HTML>
<HEAD>
<TITLE>
<?
	if($r == "click_paths")
		{
			echo "Reports Traffic Click Paths";
		}
	else if($r == "exit_pages")
		{
			echo "Reports Traffic Exit Pages";			
		}
	else if($r == "summary_location")
		{
			echo "Reports Traffic Geographic Summary";
		}
	else if($r == "search_terms_internal")
		{
			echo "Reports Traffic Internal Search Terms";
			
		}
	else
		{
			echo "Reports Traffic Click Summary";
		}
			
?>
</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<style>
<!-- 
.inbItem{font-family: verdana, helvetica, arial;color: black;font-size: 8pt;border-width: 0;text-decoration: none;}
.inbItem:visited,.inbItem:link,.inbItem:active{border-bottom:1px solid #008080;}
.inbItem:hover{color: red;text-decoration: underline;}

.tnbItem{background:#eeeeee;font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none; filter:alpha(opacity=95);}
.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#ffffee;}

.inputItem{ background: #ffffff; font-family: verdana, helvetica, arial;color: black;font-size: 9pt;font-weight: bold; border-color: #eeeeee; border-width: 1px;}
.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;}
.labelItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none;}

.uline{font-family: verdana;font-size: 8pt;border-bottom:1px solid #000000;}
.tline{font-family: verdana;font-size: 8pt;border-top:1px solid #000000;}

//-->
</style>
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
</head>
<body>
<?if(intval($inwin) == 0 )
{
	?>
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
	<?
}
?>


<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<?if(intval($inwin) == 0 ){?>	<td width=13 background="/mgt/images/l.jpg"> </td> <?}?>
	<td valign=top>
		<?if(intval($inwin) == 0 ){?><?//REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?><?}?>
		<div style="padding-left:5px;padding-top:10px">
		<?
		
		if($r == "click_summary_extended")
		{
			if($ct == "1" || $ct == "2")// price engine or campaign
			{
//				$pename = $tuc->getPEName($cid);
				$pename = $cid;
				$tuc->outputReportTitle($COMPANY_NAME, "Click Summary Extended ($pename)", $bstamp, $estamp);
				$trc->outputClickSummaryExtended_PE($bstamp, $estamp, $ct, $cid); 
			}
			else if($ct == "3") // search engine
			{
				$sename = $tuc->getSEName($cid);
				$tuc->outputReportTitle($COMPANY_NAME, "Click Summary Extended ($sename)", $bstamp, $estamp);
				$trc->outputClickSummaryExtended_SE($bstamp, $estamp, $ct, $cid); 
			}
			else if($ct == "0") // referral
			{
				$tuc->outputReportTitle($COMPANY_NAME, "Click Summary Extended ($cid)", $bstamp, $estamp);
				$trc->outputClickSummaryExtended_UK($bstamp, $estamp, $ct, $cid); 
			}
		}
		else if($r == "search_terms_external_pview")
		{
			$tuc->outputReportTitle($COMPANY_NAME, "External Keywords ($phrase) - Products Viewed ", $bstamp, $estamp);
			$termsrc->outputSearchTermsPView($bstamp, $estamp, $ct, $cid, $phrase);
		}
		else if($r == "referral_extended")
		{
			$link = $cid."/".$path;
			$link = str_replace("//", "/", $link);
			$tuc->outputReportTitle($COMPANY_NAME, "Referrals Extended ($link)", $bstamp, $estamp);
			$trc->outputReferralExtended($bstamp, $estamp, $ct, $cid, $path); //traffic_referring_urls_extended
			
		}
		else if($r == "search_terms_internal")
		{
			$tuc->outputReportTitle($COMPANY_NAME, "Internal Search Terms", $bstamp, $estamp);
			$termsrc->outputSearchTermsInternal($bstamp, $estamp); //traffic_referring_urls_extended
			
		}
		else if($r == "click_paths")
		{
			$tuc->outputReportTitle($COMPANY_NAME, "Click Paths", $bstamp, $estamp);
			$trc->outputClickPaths($bstamp, $estamp); //traffic_referring_urls_extended
		}
		else if($r == "exit_pages")
		{
			$tuc->outputReportTitle($COMPANY_NAME, "Exit Pages", $bstamp, $estamp);
			$trc->outputExitPages($bstamp, $estamp); //traffic_referring_urls_extended
			
		}
		else if($r == "summary_location")
		{
			if($cc == "" && $rg == "")
			{
				$tuc->outputReportTitle($COMPANY_NAME, "Geographic Summary", $bstamp, $estamp);
				$trc->outputSummaryLocation($bstamp, $estamp); //traffic_referring_urls_extended
			}
			else if($cc != "" && $rg == "")
			{
				$tuc->outputReportTitle($COMPANY_NAME, "Regional Summary - $cc", $bstamp, $estamp);
				$trc->outputSummaryLocation_State($bstamp, $estamp, $cc); //traffic_referring_urls_extended
			}
			else if($cc != "" && $rg != "")
			{
				$tuc->outputReportTitle($COMPANY_NAME, "City Summary - $rg, $cc", $bstamp, $estamp);
				$trc->outputSummaryLocation_City($bstamp, $estamp, $cc, $rg); //traffic_referring_urls_extended
			}
			
		}
		else if($r == "sales_summary_extended")
		{
			$tuc->outputReportTitle($COMPANY_NAME, "Sales Summary Extended Extended ($cid)", $bstamp, $estamp);
			$trc->outputSalesSummaryExtended($bstamp, $estamp, $ct, $cid, $pid); 
			
		}
		else // the default report is the click_summary
		{
			$tuc->outputReportTitle($COMPANY_NAME, "Click Summary", $bstamp, $estamp);
//			print_r($bstamp.'----'.$estamp.'----'.$ct.'----'.$camponly);
			$trc->outputClickSummary($bstamp, $estamp, $ct, 0, $camponly); 
		}
		?>
		<?if(intval($inwin) == 0 ){?><?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?><?}?>


	</td>
	<?if(intval($inwin) == 0 ){?><td width=13 background="/mgt/images/r.jpg"> </td><?}?>
</tr>
</table>

</body>
</html>