<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_price_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');      

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query ="create table if not exists amazon_kit_quantity(orderid bigint,pid bigint NOT NULL,ampid varchar(24),qty int,index(orderid),index(pid))";
if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$query = "select id from amazon_feed_report where type = 'FULFILLMENT' and complete = '0'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
if(mysql_num_rows($q2ok) > 0)
{
	$query = "select tstamp from amazon_feed_report where type = 'FULFILLMENT' order by tstamp desc limit 0, 1";
	if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
	list($tstamp) = mysql_fetch_array($q3ok);
	$feedage = (time() - strtotime($tstamp)) / 60;
	if($feedage > 60.0)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		$query = "update amazon_feed_report set complete = 1 where id = '$feedreportid'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		
		echo "Reset feed $feedreportid\n";
	}
	else 
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_log(title, tstamp) values('Fulfillment Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("Amazon", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>OrderFulfillment</MessageType>";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$mid = 0;

$FULFILLMENT_TYPE = strtoupper($efc->getConfigValue("Amazon", "FULFILLMENT_TYPE"));

if($FULFILLMENT_TYPE == "STATUS")
{
	$query = "select distinct(customer_orders.invoiceid), customer_orders.orderid from 
			customer_orders, company_orderflow, customer_order_tracking
			where
			customer_orders.status = company_orderflow.step AND
			company_orderflow.complete = 1 AND
			customer_orders.clicktype = 1 and 
			customer_orders.clickid = 'AM' AND
			customer_orders.invoiceid = customer_order_tracking.invoiceid AND
			customer_order_tracking.shipdate >= UNIX_TIMESTAMP('2010-04-06 00:00:00') AND
			customer_orders.orderid NOT IN (select orderid from amazon_orders_uploaded) group by customer_orders.invoiceid"; 
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
	if(mysql_num_rows($qok) <= 0)
	{ 
		echo "No Orders to upload\n"; 
		
		$query = "delete from amazon_log where id = '$logid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		
		exit; 
	}
}
else 
{
	$query = "select success from company_orderflow where step = '1300'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
	list($success_step) = mysql_fetch_array($qok);
	
	$query = "select invoiceid, orderid from customer_orders where status = '1300'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
	if(mysql_num_rows($qok) <= 0)
	{ 
		echo "No Orders to upload\n"; 
		
		$query = "delete from amazon_log where id = '$logid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		
		exit; 
	}
}

$numout = 0;

while(list($invoiceid, $orderid) = mysql_fetch_array($qok))
{
	$outputbuysafe = 0;
	
	$query = "select trackno, carrier, shipdate, type from customer_order_tracking where invoiceid = '$invoiceid'";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
	while( list($trackno, $carrier, $shipdate, $type) = mysql_fetch_array($q4ok) )
	{
		$saved_tracking = $trackno;
		
		echo "Tracking: $trackno\n";
		
		$kitarray = array();
		
		$carrier = strtoupper($carrier);
		
		if($carrier == "FEDEX")	$carrier = "FedEx";
		else if($carrier == "MAIL INNOVATIONS") $carrier = "UPS Mail Innovations";
		else if($type == "MAIL INNOVATIONS"){$carrier = "UPS"; $type = "UPS Mail Innovations";}
		else if(strtolower($type) == "mail innovations"){$carrier = "UPS Mail Innovations"; $type = "Standard";}
		
		if(stristr($type, "Expedited Mail Innovations"))
		{
			$carrier = "UPS Mail Innovations";
			$type = "Standard";
			
		}
		
		if (strtolower($type) == 'smart_post') {
			$carrier = 'Fedex SmartPost';
			$trackno_tmp = explode(':',$trackno);
			if (isset($trackno_tmp[1])) {
				$trackno_tmp2 = explode("~",$trackno_tmp[1]);
				if (strtolower($trackno_tmp2[0]) == 'ground') {
					$trackno = $trackno_tmp2[1];
				}
			}
		}
		
		// for each tracking number..... get the items that shipped
		$query = "select prodid from customer_order_tracking_extended where trackno = '$saved_tracking' and orderid = '$orderid'";
		echo "$query\n";
		
		if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		while(list($prodid) = mysql_fetch_array($q9ok))
		{
			echo "... PID: $prodid\n";
			$query = "select ampid, qty_shipped, kitpid from customer_order_lines where orderid = '$orderid' and prodid = '$prodid'";
			if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
			list($ampid, $qty_shipped, $kitpid) = mysql_fetch_array($q10ok);
		
			$amzshipdate = date("c", $shipdate);
			
			if($ampid == "")
			{
				echo "$query\n\n";
			}
			else 
			{
				if(intval($kitpid) > 0)
				{
					/* At this point we know that the customer has ordered a kit.... 
						because there can be overlapping kits (kit A has 9 items, kit B has 4 of the 9)
						let's just pull from the amazon_kit_quanitty table for the kits on this order */
					
					// *** swap up to use the kitpid from the amazon_kit_quantity table here.... fixing overlapping kits
					$query = "select distinct(pid), ampid, sum(qty) from amazon_kit_quantity where orderid = '$orderid' group by pid";
					if(!$q911 = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
					
					if(mysql_num_rows($q911) <= 0)
					{
////////////////////////////////
						if(!in_array($kitpid, $kitarray))
						{
							$mid++;

							$query = "select sum(qty_ordered) from customer_order_lines where orderid = '$orderid' AND kitpid = '$kitpid'";
							if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
							list($qty_ordered) = mysql_fetch_array($q10ok);
							
							$query = "select sum(qty) from product_kitskus where pid = '$kitpid'";
							if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
							list($kitqty) = mysql_fetch_array($q10ok);
							
							$qty_shipped = floor($qty_ordered / $kitqty);

							if(intval($qty_shipped) <= 0)
								$qty_shipped = 1;
							
							//fputs($fp, "$orderid\t$invoiceid\t\t\t$kitpid\t$ampid\t\t$qty_shipped\t\t\t".date("Y-m-d", $shipdate)."\t$carrier\t$type\t$trackno\t\n");
							echo "$invoiceid => $trackno\n";
							
							$data .= "<Message>
									<MessageID>$mid</MessageID>
									<OrderFulfillment> 
										<AmazonOrderID>$invoiceid</AmazonOrderID> 
										<FulfillmentDate>$amzshipdate</FulfillmentDate> 
										<FulfillmentData> 
											<CarrierName>$carrier</CarrierName> 
											<ShippingMethod>$type</ShippingMethod> 
											<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
										</FulfillmentData> 
										<Item> 
											<AmazonOrderItemCode>$ampid</AmazonOrderItemCode> 
											<Quantity>$qty_shipped</Quantity> 
										</Item> 
									</OrderFulfillment> 
								</Message>";
							
							$kitarray[] = $kitpid;
							
							$numout++;
							
							if($outputbuysafe == 0)
							{
								$outputbuysafe = 1;
								
								$query = "select count(*) from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
								if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
								list($hasbuysafe) = mysql_fetch_array($q77ok);
								
								if(intval($hasbuysafe) > 0)
								{
									$mid++;
									$numout++;
									
									$query = "select ampid from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
									if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
									list($ampid_buysafe) = mysql_fetch_array($q77ok);
									
									$data .= "<Message>
										<MessageID>$mid</MessageID>
										<OrderFulfillment> 
											<AmazonOrderID>$invoiceid</AmazonOrderID> 
											<FulfillmentDate>$amzshipdate</FulfillmentDate> 
											<FulfillmentData> 
												<CarrierName>$carrier</CarrierName> 
												<ShippingMethod>$type</ShippingMethod> 
												<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
											</FulfillmentData> 
											<Item> 
												<AmazonOrderItemCode>$ampid_buysafe</AmazonOrderItemCode> 
												<Quantity>1</Quantity> 
											</Item> 
										</OrderFulfillment> 
									</Message>";
									
								}
							}						
							
						}
///////////////////////////////						
					}
					else
					{
						while(list($kitpid, $ampid, $qty_shipped) = mysql_fetch_array($q911))
						{
							if(!in_array($kitpid, $kitarray))
							{
								$mid++;

								$query = "select sum(product_kitskus.qty), sum(customer_order_lines.qty_shipped)
												from 
												product_kitskus, customer_order_lines
												where 
												product_kitskus.pid = '$kitpid' AND
												product_kitskus.kid = customer_order_lines.prodid AND
												customer_order_lines.orderid = '$orderid'";
								if(!$q10ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
								list($kit_qty, $ship_qty) = mysql_fetch_array($q10ok);
								
								if($ship_qty >= $kit_qty) // all the items in the kit shipped (or more than the qty ordered shiped (thanks overlap))
								{
									//fputs($fp, "$orderid\t$invoiceid\t\t\t$kitpid\t$ampid\t\t$qty_shipped\t\t\t".date("Y-m-d", $shipdate)."\t$carrier\t$type\t$trackno\t\n");
									echo "$invoiceid => $trackno\n";
									
									$data .= "<Message>
											<MessageID>$mid</MessageID>
											<OrderFulfillment> 
												<AmazonOrderID>$invoiceid</AmazonOrderID> 
												<FulfillmentDate>$amzshipdate</FulfillmentDate> 
												<FulfillmentData> 
													<CarrierName>$carrier</CarrierName> 
													<ShippingMethod>$type</ShippingMethod> 
													<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
												</FulfillmentData> 
												<Item> 
													<AmazonOrderItemCode>$ampid</AmazonOrderItemCode> 
													<Quantity>$qty_shipped</Quantity> 
												</Item> 
											</OrderFulfillment> 
										</Message>";
									
									$kitarray[] = $kitpid;
									
									$numout++;
								
									if($outputbuysafe == 0)
									{
										$outputbuysafe = 1;
										
										$query = "select count(*) from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
										if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
										list($hasbuysafe) = mysql_fetch_array($q77ok);
										
										if(intval($hasbuysafe) > 0)
										{
											$mid++;
											$numout++;
											
											$query = "select ampid from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
											if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
											list($ampid_buysafe) = mysql_fetch_array($q77ok);
											
											$data .= "<Message>
												<MessageID>$mid</MessageID>
												<OrderFulfillment> 
													<AmazonOrderID>$invoiceid</AmazonOrderID> 
													<FulfillmentDate>$amzshipdate</FulfillmentDate> 
													<FulfillmentData> 
														<CarrierName>$carrier</CarrierName> 
														<ShippingMethod>$type</ShippingMethod> 
														<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
													</FulfillmentData> 
													<Item> 
														<AmazonOrderItemCode>$ampid_buysafe</AmazonOrderItemCode> 
														<Quantity>1</Quantity> 
													</Item> 
												</OrderFulfillment> 
											</Message>";
											
										}
									}					
								}
							}
							
						}
					}
				}
				else  // non kit item
				{
					$mid++;
				
					echo "$invoiceid => $trackno\n";
					
					if(intval($qty_shipped) <= 0)
							$qty_shipped = 1;

					
					$data .= "<Message>
								<MessageID>$mid</MessageID>
								<OrderFulfillment> 
									<AmazonOrderID>$invoiceid</AmazonOrderID> 
									<FulfillmentDate>$amzshipdate</FulfillmentDate> 
									<FulfillmentData> 
										<CarrierName>$carrier</CarrierName> 
										<ShippingMethod>$type</ShippingMethod> 
										<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
									</FulfillmentData> 
									<Item> 
										<AmazonOrderItemCode>$ampid</AmazonOrderItemCode> 
										<Quantity>$qty_shipped</Quantity> 
									</Item> 
								</OrderFulfillment> 
							</Message>";
					
					$numout++;
					
						if($outputbuysafe == 0)
						{
							$outputbuysafe = 1;
							
							$query = "select count(*) from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
							if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
							list($hasbuysafe) = mysql_fetch_array($q77ok);
							
							if(intval($hasbuysafe) > 0)
							{
								$mid++;
								$numout++;
								
								$query = "select ampid from customer_order_lines where prodid = '-4' and orderid = '$orderid'";
								if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
								list($ampid_buysafe) = mysql_fetch_array($q77ok);
								
								$data .= "<Message>
									<MessageID>$mid</MessageID>
									<OrderFulfillment> 
										<AmazonOrderID>$invoiceid</AmazonOrderID> 
										<FulfillmentDate>$amzshipdate</FulfillmentDate> 
										<FulfillmentData> 
											<CarrierName>$carrier</CarrierName> 
											<ShippingMethod>$type</ShippingMethod> 
											<ShipperTrackingNumber>$trackno</ShipperTrackingNumber> 
										</FulfillmentData> 
										<Item> 
											<AmazonOrderItemCode>$ampid_buysafe</AmazonOrderItemCode> 
											<Quantity>1</Quantity> 
										</Item> 
									</OrderFulfillment> 
								</Message>";
								
							}
						}					
				}
			}
		}
		
		if($FULFILLMENT_TYPE == "STATUS")
		{
			$query = "insert into amazon_orders_uploaded(orderid, tstamp) values('$orderid', '".date("Y-m-d H:i:s", time())."')";
			if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		}
		else 
		{
			$query = "update customer_orders set status = '$success_step' where orderid = '$orderid'";
			if(!$q77ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		}
				
		
	}
}

$efc->UpdatePool(2, $orderid);
$data .= "</AmazonEnvelope>\n";


if($numout == 0)
{
	echo "No Orders to upload [part B]\n"; 
		
	$query = "delete from amazon_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		
	exit; 
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$filename = "/tmp/amazon/fulfillment_feed.".date("Ymd-His", time()).".xml";
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

echo "AWS_ACCESS_KEY_ID: ".AWS_ACCESS_KEY_ID."\n";
echo "AWS_SECRET_ACCESS_KEY: ".AWS_SECRET_ACCESS_KEY."\n";
echo "MARKETPLACE_ID: ".MARKETPLACE_ID."\n";
echo "MERCHANT_ID: ".MERCHANT_ID."\n";

$service = new MarketplaceWebService_Client(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, $config, APPLICATION_NAME, APPLICATION_VERSION);

$feedHandle = fopen($filename, "r");

if(!$feedHandle)
{
	echo "Error opening file\n";
	exit;
}

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_ORDER_FULFILLMENT_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);


try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('FULFILLMENT', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		
		$query = "update amazon_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n"; exit;  }
		
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}

fclose($feedHandle);
?>
<?mysql_close();?>