<?
/*

*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: get_order_report.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    


function rand_string ($pass_len = 10) 
{ 
	$allchar = "abcdefghijklnmopqrstuvwxyzABCDEFGHIJKLNMOPQRSTUVWXYZ0123456789@" ; 

	$str = "" ; 
	mt_srand ((double) microtime() * 1000000); 
	for ( $i = 0; $i<$pass_len ; $i++ ) 
	$str .= substr( $allchar, mt_rand (0,63), 1 ) ; 
	return $str ; 
}

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}
	
function translateState($state)
{
	if(strtolower($state) == strtolower("Alabama")) $code = "AL";
	else if(strtolower($state) == strtolower("Alaska")) $code = "AK";
	else if(strtolower($state) == strtolower("Arizona")) $code = "AZ";
	else if(strtolower($state) == strtolower("Arkansas")) $code = "AR";
	else if(strtolower($state) == strtolower("California")) $code = "CA";
	else if(strtolower($state) == strtolower("Colorado")) $code = "CO";
	else if(strtolower($state) == strtolower("Connecticut")) $code = "CT";
	else if(strtolower($state) == strtolower("Delaware")) $code = "DE";
	else if(strtolower($state) == strtolower("District of Columbia")) $code = "DC";
	else if(strtolower($state) == strtolower("Florida")) $code = "FL";
	else if(strtolower($state) == strtolower("Georgia")) $code = "GA";
	else if(strtolower($state) == strtolower("Hawaii")) $code = "HI";
	else if(strtolower($state) == strtolower("Idaho")) $code = "ID";
	else if(strtolower($state) == strtolower("Illinois")) $code = "IL";
	else if(strtolower($state) == strtolower("Indiana")) $code = "IN";
	else if(strtolower($state) == strtolower("Iowa")) $code = "IA";
	else if(strtolower($state) == strtolower("Kansas")) $code = "KS";
	else if(strtolower($state) == strtolower("Kentucky")) $code = "KY";
	else if(strtolower($state) == strtolower("Louisiana")) $code = "LA";
	else if(strtolower($state) == strtolower("Maine")) $code = "ME";
	else if(strtolower($state) == strtolower("Maryland")) $code = "MD";
	else if(strtolower($state) == strtolower("Massachusetts")) $code = "MA";
	else if(strtolower($state) == strtolower("Michigan")) $code = "MI";
	else if(strtolower($state) == strtolower("Minnesota")) $code = "MN";
	else if(strtolower($state) == strtolower("Mississippi")) $code = "MS";
	else if(strtolower($state) == strtolower("Missouri")) $code = "MO";
	else if(strtolower($state) == strtolower("Montana")) $code = "MT";
	else if(strtolower($state) == strtolower("Nebraska")) $code = "NE";
	else if(strtolower($state) == strtolower("Nevada")) $code = "NV";
	else if(strtolower($state) == strtolower("New Hampshire")) $code = "NH";
	else if(strtolower($state) == strtolower("New Jersey")) $code = "NJ";
	else if(strtolower($state) == strtolower("New Mexico")) $code = "NM";
	else if(strtolower($state) == strtolower("New York")) $code = "NY";
	else if(strtolower($state) == strtolower("North Carolina")) $code = "NC";
	else if(strtolower($state) == strtolower("North Dakota")) $code = "ND";
	else if(strtolower($state) == strtolower("Ohio")) $code = "OH";
	else if(strtolower($state) == strtolower("Oklahoma")) $code = "OK";
	else if(strtolower($state) == strtolower("Oregon")) $code = "OR";
	else if(strtolower($state) == strtolower("Pennsylvania")) $code = "PA";
	else if(strtolower($state) == strtolower("Puerto Rico")) $code = "PR";
	else if(strtolower($state) == strtolower("Rhode Island")) $code = "RI";
	else if(strtolower($state) == strtolower("South Carolina")) $code = "SC";
	else if(strtolower($state) == strtolower("South Dakota")) $code = "SD";
	else if(strtolower($state) == strtolower("Tennessee")) $code = "TN";
	else if(strtolower($state) == strtolower("Texas")) $code = "TX";
	else if(strtolower($state) == strtolower("Utah")) $code = "UT";
	else if(strtolower($state) == strtolower("Vermont")) $code = "VT";
	else if(strtolower($state) == strtolower("Virginia")) $code = "VA";
	else if(strtolower($state) == strtolower("Washington")) $code = "WA";
	else if(strtolower($state) == strtolower("West Virginia")) $code = "WV";
	else if(strtolower($state) == strtolower("Wisconsin")) $code = "WI";
	else if(strtolower($state) == strtolower("Wyoming")) $code = "WY";	
	else $code = $state;
	
	return $code;
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


$amazon_id = $reportId = "4755587488";

//swhile(list($amazon_id, $reportId) = mysql_fetch_array($q4ok))
{
	sleep(5);
	$REQUESTID = $reportId;
	echo "REQUESTID: $REQUESTID\n";
	
	$efc = new efluentClass();
	$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
	$efc->db = $DB;
	
	/********************************************************************************************/
	define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
	 
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  
	
	define('APPLICATION_NAME', 'eFluent');
	define('APPLICATION_VERSION', '2.0');
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
	/********************************************************************************************/
	////////////////////////////////////////////////////////////////////////////////
	
	
	$config = array (
	  'ProxyHost' => null,
	  'ProxyPort' => -1,
	  'MaxErrorRetry' => 3,
	);
	
	$service = new MarketplaceWebService_Client(
	     AWS_ACCESS_KEY_ID, 
	     AWS_SECRET_ACCESS_KEY, 
	     $config,
	     APPLICATION_NAME,
	     APPLICATION_VERSION);
	
	     
	$filename = "/tmp/amazon/$reportId.txt";
	
	$fp = fopen($filename, "w");
	
	$parameters = array (
	   'Marketplace' => MARKETPLACE_ID,
	   'Merchant' => MERCHANT_ID,
	   'Report' => $fp,
	   'ReportId' => $reportId,
	);
	 
	$request = new MarketplaceWebService_Model_GetReportRequest($parameters);
	
	
	      try {
	              $response = $service->getReport($request);
	              
	                echo ("Service Response\n");
	                echo ("=============================================================================\n");
	
	                echo("        GetReportResponse\n");
	                if ($response->isSetGetReportResult()) {
	                  $getReportResult = $response->getGetReportResult(); 
	                  echo ("            GetReport");
	                  
	                  if ($getReportResult->isSetContentMd5()) {
	                    echo ("                ContentMd5");
	                    echo ("                " . $getReportResult->getContentMd5() . "\n");
	                  }
	                }
	                if ($response->isSetResponseMetadata()) { 
	                    echo("            ResponseMetadata\n");
	                    $responseMetadata = $response->getResponseMetadata();
	                    if ($responseMetadata->isSetRequestId()) 
	                    {
	                        echo("                RequestId\n");
	                        echo("                    " . $responseMetadata->getRequestId() . "\n");
	                    }
	                }
	                
	                echo ("        Report Contents\n");
	                echo (stream_get_contents($request->getReport()) . "\n");
	
	     } catch (MarketplaceWebService_Exception $ex) {
	         echo("Caught Exception: " . $ex->getMessage() . "\n");
	         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
	         echo("Error Code: " . $ex->getErrorCode() . "\n");
	         echo("Error Type: " . $ex->getErrorType() . "\n");
	         echo("Request ID: " . $ex->getRequestId() . "\n");
	         echo("XML: " . $ex->getXML() . "\n");
	     }
	
	fclose($fp);
	
	
	if(filesize($filename) > 0)
	{
		$query = "update amazon_order_reports set status = 1 where id = '$amazon_id'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$fp = fopen($filename, "r");
		if(!$fp){echo "NO FILE!<BR>";exit;}
		$data = "";
		while(!feof($fp))$data .= fgets($fp, 4096);
		fclose($fp);
		
		$xmldata = xml2array($data, 1);
		
		$message = $xmldata['AmazonEnvelope']['Message']['OrderReport'];
		if($message['AmazonOrderID']['value'] == "")
		{
			$message = $xmldata['AmazonEnvelope']['Message'][0]['OrderReport'];
			if($message['AmazonOrderID']['value'] == "")
			{
				echo "OH SHIT!<BR>";
			}
			else 
			{
				echo "IS ARRAY<BR>";
				
				for($xx = 0; $xx < count($xmldata['AmazonEnvelope']['Message']); $xx++)
				{
					$message = $xmldata['AmazonEnvelope']['Message'][$xx]['OrderReport'];
					
					import_order($mysqlid, $DB, $efc, $message);
				}
				
			}
			
		}
		else 
		{
			echo "SINGLE ORDER<BR>";	
			
			import_order($mysqlid, $DB, $efc, $message);
		}
	}
}

function import_order($mysqlid, $DB, $efc, $message)
{
	$rtotal = 0.00;
	
	$invoiceid = addslashes( $message['AmazonOrderID']['value'] );
	$orderdate = strtotime($message['OrderDate']['value']);
	$amtstamp = date("Y-m-d H:i:s", $orderdate);
					
	$bill2name 		= $ship2name 	= addslashes( $message['FulfillmentData']['Address']['Name']['value'] );
	$bill2street1 	= $ship2street1 = addslashes( $message['FulfillmentData']['Address']['AddressFieldOne']['value'] );
	$bill2street2 	= $ship2street2 = addslashes( $message['FulfillmentData']['Address']['AddressFieldTwo']['value'] );
	$bill2city 		= $ship2city 	= addslashes( $message['FulfillmentData']['Address']['City']['value'] );
	$bill2state 	= $ship2state 	= addslashes( $message['FulfillmentData']['Address']['StateOrRegion']['value'] );
	$bill2zip 		= $ship2zip 	= addslashes( $message['FulfillmentData']['Address']['PostalCode']['value'] );
	$bill2country	= $ship2country	= addslashes( $message['FulfillmentData']['Address']['CountryCode']['value'] );
			
	$ship2state = translateState( trim($ship2state) );
	$bill2state = translateState( trim($bill2state) );
	
	$emailaddr = addslashes( $message['BillingData']['BuyerEmailAddress']['value'] );
	$phone = addslashes( $message['FulfillmentData']['Address']['PhoneNumber']['value'] );
	$altphone = addslashes( $message['BillingData']['BuyerPhoneNumber']['value'] );
					
	$method = addslashes( $message['FulfillmentData']['FulfillmentServiceLevel']['value'] );
					
	//$notes = "GiftMessageText: ".addslashes($data[27])."<BR><BR>DeliveryInstructions: ".addslashes($data[35]);
	
	$ampid = $message['Item']['AmazonOrderItemCode']['value'];
	$pid = $message['Item']['SKU']['value'];
	$amzqty = $message['Item']['Quantity']['value'];
	$amzdescr = $message['Item']['Title']['value'];

	echo "INVOICEID:  	$invoiceid<BR>\n";
	echo "BILL2NAME: 	$bill2name<BR>\n";
	echo "BILL2STREET1: $bill2street1<BR>\n";
	echo "BILL2STREET2: $bill2street2<BR>\n";
	echo "BILL2CITY: 	$bill2city<BR>\n";
	echo "BILL2STATE: 	$bill2state<BR>\n";
	echo "BILL2ZIP: 	$bill2zip<BR>\n";
	echo "BILL2COUNTRY: $bill2country<BR>\n";
	
	echo "PID: $pid<BR>\n";
	
	if(intval($pid) > 0)
	{
		$carray = $message['Item']['ItemPrice']['Component'];
		
		for($zz = 0; $zz < count($carray); $zz++)
		{
			if($carray[$zz]['Type']['value'] == "Principal")
			{
				$iprice = $carray[$zz]['Amount']['value'];
			}
			else if($carray[$zz]['Type']['value'] == "Shipping")
			{
				$shipping = $carray[$zz]['Amount']['value'];
			}
			else if($carray[$zz]['Type']['value'] == "Tax")
			{
				$tax = $carray[$zz]['Amount']['value'];
			}
		}
	}
	else 
	{
		$iprice = $shipping = $tax = 0;
		
		for($xx = 0; $xx < count($message['Item']); $xx++)
		{
			$carray = $message['Item'][$xx]['ItemPrice']['Component'];
	
			for($zz = 0; $zz < count($carray); $zz++)
			{
				if($carray[$zz]['Type']['value'] == "Shipping")
				{
					$shipping += $carray[$zz]['Amount']['value'];
				}
				else if($carray[$zz]['Type']['value'] == "Tax")
				{
					$tax += $carray[$zz]['Amount']['value'];
				}
			}
		}
				
	}
	echo "SHIPPING: $shipping TAX: $tax IPRICE: $iprice<BR><BR>";
	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// see if the account exists..... if not, create it
	
	$query = "select acctid from customer_accounts where emailaddr = '$emailaddr'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($acctid) = mysql_fetch_array($qok);
	}
	else 
	{
		$password = rand_string(8);
		$emailspecials = 1;
		
		$created = time();
		$query = "insert into customer_accounts(fname, lname, emailaddr, phone, altphone, password, created, emailspecials,
					bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2country, bill2zip, 
					ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2country, ship2zip, ebayacctid )";
		$query .= " values('', '', '$emailaddr', '$phone', '', '".md5($password)."', '$created', '$emailspecials',
					'$bill2name', '$bill2street1', '$bill2street2', '$bill2city', '$bill2state', '$bill2country', '$bill2zip', 
					'$ship2name', '$ship2street1', '$ship2street2', '$ship2city', '$ship2state', '$ship2country', '$ship2zip', '')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$acctid = mysql_insert_id();
	}
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
	
	$query = "select orderid from customer_orders where invoiceid = '$invoiceid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
	
		$divid = intval( $efc->getConfigValue("Amazon", "DIVID") );
		$orderStatus = intval( $efc->getConfigValue("Amazon", "NEW_ORDER_STATUS") );
		
		if($orderStatus == 0) $orderStatus = "1000";
		
		$query = "insert into customer_orders(acctid, invoiceid, orderdate, status, 
							bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
							ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country,
							weight, subtotal, tax, shipping, total, ip_addr, 
							phone, altphone, emailaddr, csmid, csmethod, divid, otype, clicktype, clickid) ";
		$query .= " values('$acctid', '$invoiceid', '$orderdate', '$orderStatus',
							'$bill2name', '$bill2street1', '$bill2street2', '$bill2city', '$bill2state', '$bill2zip', '$bill2country',
							'$ship2name', '$ship2street1', '$ship2street2', '$ship2city', '$ship2state', '$ship2zip', '$ship2country',
							'0', '0', '$tax', '$shipping', '0', '',
							'$phone', '$altphone', '$emailaddr', '0', '$method', $divid, 'INVOICE', 1 , 'AM')";
	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$orderid = mysql_insert_id();
	
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				
		if(intval($pid) > 0)
		{
			echo "IMPORT: $pid<BR>";
			
			$rtotal += $iprice;
			
			importLines($pid, $ampid, $amzqty, $amzdescr, $iprice, $orderid, $mysqlid, $DB, $efc, $message, $rtotal);

			echo "IPRICE => $iprice<BR>";
			echo "QTY => $amzqty<BR>";
		}
		else 
		{
			for($xx = 0; $xx < count($message['Item']); $xx++)
			{
				$pid = $message['Item'][$xx]['SKU']['value'];
				$ampid = $message['Item'][$xx]['AmazonOrderItemCode']['value'];
				$amzqty = $message['Item'][$xx]['Quantity']['value'];
				$amzdescr = $message['Item'][$xx]['Title']['value'];

				$carray = $message['Item'][$xx]['ItemPrice']['Component'];
	
				for($zz = 0; $zz < count($carray); $zz++)
				{
					if($carray[$zz]['Type']['value'] == "Principal")
					{
						$iprice = $carray[$zz]['Amount']['value'];
					}
				}
				
				echo "IMPORT: $pid<BR>";
				echo "IPRICE => $iprice<BR>";
				echo "QTY => $amzqty<BR>";

				$rtotal += $iprice;
				
				importLines($pid, $ampid, $amzqty, $amzdescr, $iprice, $orderid, $mysqlid, $DB, $efc, $message, $rtotal);
			}
		}
	}
	else 
	{
		echo ".... $invoiceid already exists<BR>\n";
	}
}

function importLines($pid, $ampid, $amzqty, $amzdescr, $iprice, $orderid, $mysqlid, $DB, $efc, $message, $rtotal)
{
	echo "Importing Line...........<BR>\n";
	echo "PID: $pid<BR>\n";
	echo "AMPID: $ampid<BR>\n";
	echo "AMZQTY: $amzqty<BR>\n";
	echo "AMZDESCR: $amzdescr<BR>\n";
	echo "RTOTAL: $rtotal<BR>\n";
	
	$round = 0;
	
	$query = "select kit from product_list where id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($kit) = mysql_fetch_array($qok);
				
		if($kit == 1)
		{
			$numitems = 0;
					
			echo "KIT!!!!!!!!!!!!!!!!!!!! [$iprice]\n";
					
			$query = "select userid from sku_assignment where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($userid) = mysql_fetch_array($qok);
					
			$query = "update customer_orders set repid = '$userid', arepid = '$userid' where orderid = '$orderid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
			$query = "select kid, qty from product_kitskus where pid = '$pid'";
			if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($kid, $kqty) = mysql_fetch_array($q9ok))
			{
				$round++;
				
				$query = "select lineid from customer_order_lines where orderid = '$orderid' and prodid = '$kid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) <= 0)
				{
					$query = "update customer_orders set package = 1 where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					$query = "select product_list.manid, product_manufacturers.manname, product_list.manpart, product_list.descr from product_list, product_manufacturers
								where product_list.manid = product_manufacturers.manid and product_list.id = '$kid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($manid, $manname, $manpart, $descr) = mysql_fetch_array($qok);
							
					$manname = addslashes($manname);
					$manpart = addslashes($manpart);
					$descr = addslashes($descr);
					$qty = $kqty * $amzqty; // should this be =>  addslashes($data[8]) * $kqty;
							
					echo "NUMITEMS: $numitems [$kid]\n";
							
					if($numitems == 0)
						$price = addslashes($data[9] / $data[8]);
					else 
						$price = 0;
							
					$numitems++;	
							
					//$ampid = $data[5];//AmazonOrderItemCode - now gotten from the XML
							
					$scost = $efc->getSalesmanCost($pid);
					$cost = $efc->getActualCost($pid);				
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// let's add it
					$query = "insert into customer_order_lines(orderid, prodid, manid, manname, manpart, descr, price, qty_ordered, weight, scost, cost, ampid, kitpid, kit) ";
					$query .= "values('$orderid', '$kid', '$manid', '$manname', '$manpart', '$descr', '$price', '$qty', '0', '$scost', '$cost', '$ampid', '$pid', '1')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// add up all the line items
					/*$query = "select sum( qty_ordered * price ) from customer_order_lines where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($subtotal) = mysql_fetch_array($qok);*/
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// get the current shipping & tax
					$query = "select shipping, tax from customer_orders where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($shipping, $tax) = mysql_fetch_array($qok);
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// add the shipping for this line
					//$shipping = floatval($data[11]);
					//$tax = floatval($data[10]);	
							
					$subtotal = $rtotal;
					
					$total = $subtotal + $shipping + $tax;
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// update the order
					$efc->recalculateInventory($orderid);
							
					$query = "update customer_orders set subtotal = '$subtotal', shipping = '$shipping', tax = '$tax', total = '$total' where orderid = '$orderid'";			
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					//$amtstamp = date("Y-m-d H:i:s", time());
							
					$query = "select id from customer_payments where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					if(mysql_num_rows($qok) > 0)
					{
						list($paymentid) = mysql_fetch_array($qok);
			
						$query = "update customer_payments set amount = '$total' where id = '$paymentid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
								
						//$efc->mapAmazonShipping($orderid);
					}
					else 
					{
						$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
									amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
						$query .= "values('$orderid', '$amtstamp', 'AM', 'AMAZON', 'AMAZON', 'AMAZON',
									'$total', '', '1', 'AM', 'Amazon', '0', '0', 'CAPT')";	
								
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
								//$efc->mapAmazonShipping($orderid);
					}						
				}
				else 
				{// already on the order, make sure the quantity is correct for this kit
					
					list($lineid) = mysql_fetch_array($qok);
							
					$query = "select qty from product_kitskus where pid = '$pid' and kid = '$kid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($xxqty) = mysql_fetch_array($qok);
							
					$query = "update customer_order_lines set qty_ordered = qty_ordered + '$xxqty' where lineid = '$lineid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					if($round == 1)
					{
						$total = $subtotal + $shipping + $tax;
						
						$query = "update customer_orders set subtotal = '$rtotal', total = '$total' where orderid = '$orderid'";			
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					}
					
				}
			}
			
			$efc->mapAmazonShipping($orderid);
					
		}
		else 
		{
			$query = "select lineid from customer_order_lines where orderid = '$orderid' and prodid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) <= 0)
			{
				echo "Looking up sku info [PID: $pid]...\n";
				$query = "select product_list.manid, product_manufacturers.manname, product_list.manpart from product_list, product_manufacturers
							where product_list.manid = product_manufacturers.manid and product_list.id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($manid, $manname, $manpart) = mysql_fetch_array($qok);
						
				$manname = addslashes($manname);
				$manpart = addslashes($manpart);
				$descr = addslashes($amzdescr); //addslashes($data[7]);
				$qty = $amzqty; //addslashes($data[8]);
				//$price = addslashes($data[9] / $data[8]);
				//$ampid = $data[5];//AmazonOrderItemCode - gotten from the XML
						
				$scost = $efc->getSalesmanCost($pid);
				$cost = $efc->getActualCost($pid);				
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// let's add it
				$query = "insert into customer_order_lines(orderid, prodid, manid, manname, manpart, descr, price, qty_ordered, weight, scost, cost, ampid) ";
				$query .= "values('$orderid', '$pid', '$manid', '$manname', '$manpart', '$descr', '".$iprice / $qty."', '$qty', '0', '$scost', '$cost', '$ampid')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				echo "$query<BR><BR>";
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// add up all the line items
				$query = "select sum( qty_ordered * price ) from customer_order_lines where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($subtotal) = mysql_fetch_array($qok);
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// get the current shipping & tax
				$query = "select shipping, tax from customer_orders where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping, $tax) = mysql_fetch_array($qok);
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// add the shipping for this line
				
				$total = $rtotal + $shipping + $tax;
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// update the order
				$efc->recalculateInventory($orderid);
						
				$query = "update customer_orders set subtotal = '$subtotal', shipping = '$shipping', tax = '$tax', total = '$total' where orderid = '$orderid'";			
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
				//$amtstamp = date("Y-m-d H:i:s", time());
						
				$query = "select id from customer_payments where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
				if(mysql_num_rows($qok) > 0)
				{
					list($paymentid) = mysql_fetch_array($qok);
		
					$query = "update customer_payments set amount = '$total' where id = '$paymentid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
							
					$efc->mapAmazonShipping($orderid);
				}
				else 
				{
					$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
										amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
					$query .= "values('$orderid', '$amtstamp', 'AM', 'AMAZON', 'AMAZON', 'AMAZON',
										'$total', '', '1', 'AM', 'Amazon', '0', '0', 'CAPT')";	
							
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					$efc->mapAmazonShipping($orderid);
				}
						
						
				echo "...ADDED: $pid TO $orderid [$invoiceid]\n";
			}
			else 
			{
				echo "...PRODUCTID: $pid ALREADY EXISTS ON $orderid [$invoiceid]\n";
			}
					
			echo "----------------------------------------------------\n";
		}	
}
?>
<?mysql_close();?>