<?php

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	/*echo "usage: create_inventory_feed.phtml ROOT_DIR REQUESTID\n\n";
	exit;*/
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/customerclass.phtml");
REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$custclass = new customerClass();
$custclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$custclass->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
if ($DB == 'butterfly') {
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonFBA", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonFBA", "AWS_SECRET_ACCESS_KEY"));  
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonFBA", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonFBA", "MARKETPLACE_ID"));	
}
else {
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
}

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2010-10-01');

define ('MWS_ENDPOINT_URL', 'https://mws.amazonservices.com/FulfillmentInboundShipment/2010-10-01/');
/********************************************************************************************/
//ini_set('display_errors',1);
//error_reporting(E_ALL);
/*$query = "TRUNCATE TABLE amazon_inbound_shipping";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }*/

//=====================VALID CASE PACK CHECK==================================
$case_is_set_tmp = '0';
if ($DB == 'ecom') {
	$cfid = $efc->getConfigValue("AmazonFBA", "CasePack");
	$case_is_set = array();
	$case_value = array();
	
	$query = "SELECT fba_shipment_creator_items.pid,fba_shipment_creator_items.qty FROM fba_shipment_creator_items,product_list
						WHERE fba_shipment_creator_items.iso_id='".$iso_id."' AND
							  fba_shipment_creator_items.pid=product_list.id";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while (list($pid,$qty) = mysql_fetch_array($qok)) {
		
		$query_case_pack  = "SELECT text_short
							 FROM custom_values
							 WHERE pid = '$pid'
							 AND cfid = '$cfid'";
		if(!$qok_case_pack = mysql_db_query($DB, $query_case_pack, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if (mysql_num_rows($qok_case_pack) == 0)
		{
			array_push($case_is_set,"0");
		}
		else 
		{
			list($case_pack) = mysql_fetch_array($qok_case_pack);
			if ($case_pack == '' || $case_pack == 'undefined' || $case_pack == 'NULL') {
				array_push($case_is_set,"0");
			}
			else {
				array_push($case_is_set,"1");
			}
		}
		array_push($case_value,array("pid"=>$pid,"qty"=>$qty,"case_qty"=>$case_pack));
	}
	
	$valid = 'ok';
	$case_is_set_tmp = $case_is_set[0];
	
	foreach ($case_is_set as $v) {
		if ($v!=$case_is_set_tmp) {
			$valid = 'not';
		}
	}
	if ($valid == 'ok' && $case_is_set_tmp == '1') {
		foreach ($case_value as $v) {
			if ($v['case_qty'] == '') {
				$valid = 'not';
			}
			if (!is_int(($v['qty'] / $v['case_qty']))) {
				$valid = 'not';
			}
		}	
	}
	
	if ($valid == 'not') {
		?>
		<table class="sortable">
			<tr>
				<td style="color:red"><b>There was an error in plan request</b></td>
			</tr>
			<tr>
				<td>Case Pack qty does not match total qty</td>
			</tr>
		</table>
		<?
		exit();
	}
}
//=====================VALID CASE PACK CHECK END==================================

function iso8601($time=false) {
    if ($time === false) $time = time();
    $date = date('Y-m-d\TH:i:sO', $time);
    return (substr($date, 0, strlen($date)-2).':'.substr($date, -2));
}

$config = array (
  'ServiceURL' => MWS_ENDPOINT_URL,
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3
);

$service = new FBAInboundServiceMWS_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     APPLICATION_NAME,
     APPLICATION_VERSION,
     $config);

$request = new FBAInboundServiceMWS_Model_CreateInboundShipmentPlanRequest();
$request->setSellerId(MERCHANT_ID);
if ($case_is_set_tmp == '1') {
	$request->setAreCasesRequired('true');
}
$address = new FBAInboundServiceMWS_Model_Address();
$address->setName($efc->getConfigValue("Company Information", "CompanyName"));
$address->setAddressLine1($efc->getConfigValue("Company Information", "CompanyAddress1"));
$address->setAddressLine2($efc->getConfigValue("Company Information", "CompanyAddress2"));
$address->setDistrictOrCounty($efc->getConfigValue("Company Information", "CompanyCountry"));
$address->setCity($efc->getConfigValue("Company Information", "CompanyCity"));
$address->setStateOrProvinceCode($efc->getConfigValue("Company Information", "CompanyState"));
$address->setCountryCode($efc->getConfigValue("Company Information", "CompanyCountry"));
$address->setPostalCode($efc->getConfigValue("Company Information", "CompanyZip"));
$request->setShipFromAddress($address);

$afn_cfid = $efc->getConfigValue("Amazon", "convafn");
$mfn_cfid = $efc->getConfigValue("Amazon", "convmfn");


$skus_array = array();
$query = "SELECT fba_shipment_creator_items.pid,fba_shipment_creator_items.fba_sku,fba_shipment_creator_items.qty,product_list.asin,product_list.sku,product_list.refurb,product_list.am_condition
				FROM product_list,fba_shipment_creator_items WHERE 
					fba_shipment_creator_items.iso_id='".$iso_id."' and 
					fba_shipment_creator_items.pid=product_list.id";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($pid,$fba_sku, $qty,$asin,$sku,$refurb,$am_condition) = mysql_fetch_array($q2ok))
{
	$singlesku = new FBAInboundServiceMWS_Model_InboundShipmentPlanRequestItem();
	if ($fba_sku != '') {
		$singlesku->setSellerSKU($fba_sku);
	}
	else {
		$singlesku->setSellerSKU($pid);
	}
	$singlesku->setASIN(trim($asin));
	if ($am_condition == '') {
		if ($refurb == 1) {
			$singlesku->setCondition('Refurbished');
		}
		else {
			$singlesku->setCondition('NewItem');
		}	
	}
	else {
		/*if ($am_condition == 'Refurbished') {
			$singlesku->setCondition('Refurbished');
		}
		else{
			$singlesku->setCondition('NewItem');
		}*/
		if ($am_condition == 'New') {
			$am_condition = 'NewItem';
		}
		$singlesku->setCondition($am_condition);
	}
	
	$singlesku->setQuantity($qty);
	if ($case_is_set_tmp == '1') {
		foreach ($case_value as $v) {
			if ($v['pid'] == $pid) {
				$singlesku->setQuantityInCase($v['case_qty']);
			}
		}
	}
	array_push($skus_array,$singlesku);
	
	$q = "SELECT pid FROM custom_values WHERE cfid='".$afn_cfid."' AND pid='".$pid."'";
	if(!$q2okx = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($q2okx)>0) {
		$qy = "UPDATE custom_values SET text_short='1' WHERE cfid='".$afn_cfid."' AND pid='".$pid."'";
	}
	else {
		$qy = "INSERT INTO custom_values(cfid,pid,text_short) VALUES('".$afn_cfid."','".$pid."','1')";
	}
	if(!$q2oky = mysql_db_query($DB, $qy, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}




/*$singlesku = new FBAInboundServiceMWS_Model_InboundShipmentPlanRequestItem();
$singlesku->setSellerSKU('43020');
$singlesku->setASIN('B002FYH1CO');
$singlesku->setCondition('NewItem');
$singlesku->setQuantity('1');*/

$skus = new FBAInboundServiceMWS_Model_InboundShipmentPlanRequestItemList();
//$skus->withmember($singlesku);
call_user_func_array(array($skus, "withmember"), $skus_array);

$request->setInboundShipmentPlanRequestItems($skus);
//print_r($request);
/*
$statusList = new FBAInboundServiceMWS_Model_ShipmentStatusList();
$statusList->withmember('WORKING','SHIPPED','IN_TRANSIT','DELIVERED','CHECKED_IN','RECEIVING','CLOSED','CANCELLED','DELETED','ERROR');
$request->setShipmentStatusList($statusList);
$request->setLastUpdatedAfter(iso8601(time() - (86400 * 3)));*/
//print_r($request);
//echo ("<pre>");
if ($test == '1') {
	invokeCreateInboundShipmentPlan($service, $request);
}
else {
//invokeCreateInboundShipmentPlan($service, $request);
	if ($iso_id != '') {
		saveCreateInboundShipmentPlan($service, $request,$DB,$mysqlid,$iso_id,$efc);	
	}
}


function saveCreateInboundShipmentPlan(FBAInboundServiceMWS_Interface $service, $request,$DB,$mysqlid,$iso_id,$efc) 
{
    $f = fopen("/tmp/_inbound.txt", 'a+');
    fwrite($f, print_r($request,TRUE));
  try {
          $response = $service->createInboundShipmentPlan($request);
	  fwrite($f, print_r($response,TRUE));
            if ($response->isSetCreateInboundShipmentPlanResult()) { 
                $createInboundShipmentPlanResult = $response->getCreateInboundShipmentPlanResult();
                if ($createInboundShipmentPlanResult->isSetInboundShipmentPlans()) { 
                    $inboundShipmentPlans = $createInboundShipmentPlanResult->getInboundShipmentPlans();
                    $memberList = $inboundShipmentPlans->getmember();

                    $query = "DELETE FROM fba_shipment_creator_respons WHERE iso_id='".$iso_id."'";
                    if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        
                    foreach ($memberList as $member) {
                    	$shipment_id = $center_id = $address_name = $address = $address2 = $county = $city = $state = $country = $zip = '';
                    	$label = '';
                        if ($member->isSetShipmentId()) 
                        {
                            $shipment_id = $member->getShipmentId();
                        }
                        if ($member->isSetDestinationFulfillmentCenterId()) 
                        {
                            $center_id = $member->getDestinationFulfillmentCenterId();
                        }
                        if ($member->isSetShipToAddress()) { 
                            $shipToAddress = $member->getShipToAddress();
                            if ($shipToAddress->isSetName()) 
                            {
                                $address_name = $shipToAddress->getName();
                            }
                            if ($shipToAddress->isSetAddressLine1()) 
                            {
                                $address = $shipToAddress->getAddressLine1();
                            }
                            if ($shipToAddress->isSetAddressLine2()) 
                            {
                                $address2 = $shipToAddress->getAddressLine2();
                            }
                            if ($shipToAddress->isSetDistrictOrCounty()) 
                            {
                                $county = $shipToAddress->getDistrictOrCounty();
                            }
                            if ($shipToAddress->isSetCity()) 
                            {
                                $city = $shipToAddress->getCity();
                            }
                            if ($shipToAddress->isSetStateOrProvinceCode()) 
                            {
                                $state = $shipToAddress->getStateOrProvinceCode();
                            }
                            if ($shipToAddress->isSetCountryCode()) 
                            {
                                $country = $shipToAddress->getCountryCode();
                            }
                            if ($shipToAddress->isSetPostalCode()) 
                            {
                                $zip = $shipToAddress->getPostalCode();
                            }
                        } 
                        if ($member->isSetLabelPrepType()) 
                        {
                            $label = $member->getLabelPrepType();
                        }
                        
                        	$q = "INSERT INTO fba_shipment_creator_respons(
                        				iso_id,
                        				shipment_id,
                        				destination_id,
                        				ship_name,
                        				ship_address,
                        				ship_address2,
                        				ship_city,
                        				ship_state,
                        				ship_country,
                        				ship_zip,
                        				ship_label	
                        			) VALUES(
                        				'".$iso_id."',
                        				'".$shipment_id."',
                        				'".$center_id."',
                        				'".$address_name."',
                        				'".$address."',
                        				'".$address2."',
                        				'".$city."',
                        				'".$state."',
                        				'".$country."',
                        				'".$zip."',
                        				'".$label."'
                        			)";
                        	if(!$q2ok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        	$sc_id = mysql_insert_id();
                        
                        if ($member->isSetItems()) { 
                            $items = $member->getItems();
                            $member1List = $items->getmember();
                            $q = "DELETE FROM fba_shipment_creator_respons_items WHERE sc_id='".$sc_id."'";
                           	if(!$q2ok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

                           	foreach ($member1List as $member1) {
                                if ($member1->isSetSellerSKU()) 
                                {
                                    $seller_sku = $member1->getSellerSKU();
                                }
                                if ($member1->isSetFulfillmentNetworkSKU()) 
                                {
                                    $network_sku = $member1->getFulfillmentNetworkSKU();
                                }
                                if ($member1->isSetQuantity()) 
                                {
                                    $qty = $member1->getQuantity();
                                }
                                
                                
                                
                                /*
                                $query = "SELECT pid,fba_sku
									FROM fba_shipment_creator_items WHERE 
										iso_id='".$iso_id."'";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($pid,$fba_sku) = mysql_fetch_array($q2ok);
								if ($fba_sku == '') {
									$seller_sku_val = $pid;
									$fba_sku_val = '';
								}
                                else {
                                	$seller_sku_val = $pid;
									$fba_sku_val = $fba_sku;
                                }*/
                                $q = "SELECT pid,fba_sku FROM fba_sku_map WHERE fba_sku='".$seller_sku."'";
                                if(!$q2ok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                if (mysql_num_rows($q2ok2)>0) {
                                	list($pid,$fba_sku) = mysql_fetch_array($q2ok2);
                                	$seller_sku_val = $pid;
                                	$fba_sku_val = $fba_sku;
                                }
                                else {
                                	/*$qx = "SELECT pid,fba_sku FROM fba_sku_map WHERE pid='".$seller_sku."'";
                                	if(!$q2ok2x = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                	list($pid,$fba_sku) = mysql_fetch_array($q2ok2x);*/
                                	$seller_sku_val = $seller_sku;
                                	$fba_sku_val = '';
                                }
                                $qx = "SELECT price FROM fba_shipment_creator_items WHERE pid='".$seller_sku."' AND iso_id='".$iso_id."'";
                                if(!$q2ok2x = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                               	list($price) = mysql_fetch_array($q2ok2x);
                               	if ($price <=0) {
                               		$qz = "SELECT avgcost FROM product_prices WHERE id='".$seller_sku."'";
                               		if(!$q2z = mysql_db_query($DB, $qz, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                               		list($price) = mysql_fetch_array($q2z);
                               	}
                                $fnsku_cfid = $efc->getConfigValue("Amazon", "FNSKU");
                                
                                $q = "SELECT text_short FROM custom_values WHERE pid='".$seller_sku_val."' AND cfid='".$fnsku_cfid."'";
                                if(!$q2ok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                if(mysql_num_rows($q2ok2)>0) {
                                    $qx = "UPDATE custom_values SET text_short='".$network_sku."' WHERE pid='".$seller_sku_val."' AND cfid='".$fnsku_cfid."'";
                                }
                                else {
                                    $qx = "INSERT INTO custom_values(cfid,pid,text_short) VALUES('$fnsku_cfid','$seller_sku_val','$network_sku')";
                                }
                               
                                if(!$q2ok2x = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                                
                                $q = "INSERT INTO fba_shipment_creator_respons_items(
                        				sc_id,
                        				seller_sku,
                        				fba_sku,
                        				network_sku,
                        				qty,
                        				price
                        			) VALUES(
                        				'".$sc_id."',
                        				'".$seller_sku_val."',
                        				'".$fba_sku_val."',
                        				'".$network_sku."',
                        				'".$qty."',
                        				'".$price."'
                        			)";
                        		if(!$q2ok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        		
                        		$q = "SELECT id,network_sku FROM fba_shipment_creator_network WHERE pid='".$seller_sku_val."'";
                        		if(!$q2ok2 = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                        		if (mysql_num_rows($q2ok2)>0) {
                        			$q1 = "UPDATE fba_shipment_creator_network SET network_sku='".$network_sku."' WHERE pid='".$seller_sku_val."'";
                        		}
                        		else {
                        			$q1 = "INSERT INTO fba_shipment_creator_network(pid,network_sku) VALUES('".$seller_sku_val."','".$network_sku."')";
                        		}
                        		if(!$q2ok2 = mysql_db_query($DB, $q1, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            }
                        } 
                    }
                } 
            } 
            /*if ($response->isSetResponseMetadata()) { 
                echo("            ResponseMetadata\n");
                $responseMetadata = $response->getResponseMetadata();
                if ($responseMetadata->isSetRequestId()) 
                {
                    echo("                RequestId\n");
                    echo("                    " . $responseMetadata->getRequestId() . "\n");
                }
            } */
	  fclose($f);

 } catch (FBAInboundServiceMWS_Exception $ex) {
//     echo("XML: " . $ex->getXML() . "\n");
 	/*echo "<pre>";
   echo("Caught Exception: " . $ex->getMessage() . "\n");
     echo("Response Status Code: " . $ex->getStatusCode() . "\n");
     echo("Error Code: " . $ex->getErrorCode() . "\n");
     echo("Error Type: " . $ex->getErrorType() . "\n");
     echo("Request ID: " . $ex->getRequestId() . "\n");
     echo("XML: " . $ex->getXML() . "\n");
    echo $ex->getMessage();*/
//  	echo $ex->getStatusCode();
//		echo $ex->getMessage();
  	if (trim($ex->getStatusCode()) == '400') {
  		$error = substr($ex->getMessage(),0,-2);
  		$error_arr = explode('[',$error);
  		if (count($error_arr)>1) {
//  		print_r($error_arr);
			$error_skus = split('),',$error_arr[1]);
	//		print_r($error_skus);
			?>
				<table class="sortable">
					<tr>
						<td colspan="2" style="color:red"><b>There was an error in plan request</b></td>
					</tr>
					<tr bgcolor="#eeeeee">
						<td><b>Sku</b></td>
						<td><b>Reason</b></td>
					</tr>
				
			<?
			foreach ($error_skus as $k=>$v) {
				$v_msg = explode(',',$v);
	//			print_r($v_msg);
				$smsg = explode('=',$v_msg[1]);
				$rmsg = explode('=',$v_msg[2]);
				?>
					<tr>
						<td><?=$smsg[1]?></td>
						<td>
						<?
						if (substr($rmsg[1],-1) == ')') {
							echo substr($rmsg[1],0,-1);
						}
						else {
							echo $rmsg[1];
						}
						?>
						</td>
					</tr>
				<?
			}
				?>
				</table>
				<?
  		}
  		else {
  			?>
  			<table class="sortable">
					<tr>
						<td style="color:red"><b>There was an error in plan request</b></td>
					</tr>
					<tr>
						<td><?= $ex->getMessage();?></td>
					</tr>
			</table>
  			<?
  		}
  	}
  	else {
  		?>
  			<table class="sortable">
					<tr>
						<td style="color:red"><b>There was an error in plan request</b></td>
					</tr>
					<tr>
						<td><?= $ex->getMessage();?></td>
					</tr>
			</table>
  			<?
  	}
 }
}

function invokeCreateInboundShipmentPlan(FBAInboundServiceMWS_Interface $service, $request) 
{
  try {
  		print_r($request);
          $response = $service->createInboundShipmentPlan($request);
          print_r($response);
            echo ("Service Response\n");
            echo ("=============================================================================\n");

            echo("        CreateInboundShipmentPlanResponse\n");
            if ($response->isSetCreateInboundShipmentPlanResult()) { 
                echo("            CreateInboundShipmentPlanResult\n");
                $createInboundShipmentPlanResult = $response->getCreateInboundShipmentPlanResult();
                if ($createInboundShipmentPlanResult->isSetInboundShipmentPlans()) { 
                    echo("                InboundShipmentPlans\n");
                    $inboundShipmentPlans = $createInboundShipmentPlanResult->getInboundShipmentPlans();
                    $memberList = $inboundShipmentPlans->getmember();
                    foreach ($memberList as $member) {
                        echo("                    member\n");
                        if ($member->isSetShipmentId()) 
                        {
                            echo("                        ShipmentId\n");
                            echo("                            " . $member->getShipmentId() . "\n");
                        }
                        if ($member->isSetDestinationFulfillmentCenterId()) 
                        {
                            echo("                        DestinationFulfillmentCenterId\n");
                            echo("                            " . $member->getDestinationFulfillmentCenterId() . "\n");
                        }
                        if ($member->isSetShipToAddress()) { 
                            echo("                        ShipToAddress\n");
                            $shipToAddress = $member->getShipToAddress();
                            if ($shipToAddress->isSetName()) 
                            {
                                echo("                            Name\n");
                                echo("                                " . $shipToAddress->getName() . "\n");
                            }
                            if ($shipToAddress->isSetAddressLine1()) 
                            {
                                echo("                            AddressLine1\n");
                                echo("                                " . $shipToAddress->getAddressLine1() . "\n");
                            }
                            if ($shipToAddress->isSetAddressLine2()) 
                            {
                                echo("                            AddressLine2\n");
                                echo("                                " . $shipToAddress->getAddressLine2() . "\n");
                            }
                            if ($shipToAddress->isSetDistrictOrCounty()) 
                            {
                                echo("                            DistrictOrCounty\n");
                                echo("                                " . $shipToAddress->getDistrictOrCounty() . "\n");
                            }
                            if ($shipToAddress->isSetCity()) 
                            {
                                echo("                            City\n");
                                echo("                                " . $shipToAddress->getCity() . "\n");
                            }
                            if ($shipToAddress->isSetStateOrProvinceCode()) 
                            {
                                echo("                            StateOrProvinceCode\n");
                                echo("                                " . $shipToAddress->getStateOrProvinceCode() . "\n");
                            }
                            if ($shipToAddress->isSetCountryCode()) 
                            {
                                echo("                            CountryCode\n");
                                echo("                                " . $shipToAddress->getCountryCode() . "\n");
                            }
                            if ($shipToAddress->isSetPostalCode()) 
                            {
                                echo("                            PostalCode\n");
                                echo("                                " . $shipToAddress->getPostalCode() . "\n");
                            }
                        } 
                        if ($member->isSetLabelPrepType()) 
                        {
                            echo("                        LabelPrepType\n");
                            echo("                            " . $member->getLabelPrepType() . "\n");
                        }
                        if ($member->isSetItems()) { 
                            echo("                        Items\n");
                            $items = $member->getItems();
                            $member1List = $items->getmember();
                            foreach ($member1List as $member1) {
                                echo("                            member\n");
                                if ($member1->isSetSellerSKU()) 
                                {
                                    echo("                                SellerSKU\n");
                                    echo("                                    " . $member1->getSellerSKU() . "\n");
                                }
                                if ($member1->isSetFulfillmentNetworkSKU()) 
                                {
                                    echo("                                FulfillmentNetworkSKU\n");
                                    echo("                                    " . $member1->getFulfillmentNetworkSKU() . "\n");
                                }
                                if ($member1->isSetQuantity()) 
                                {
                                    echo("                                Quantity\n");
                                    echo("                                    " . $member1->getQuantity() . "\n");
                                }
                            }
                        } 
                    }
                } 
            } 
            if ($response->isSetResponseMetadata()) { 
                echo("            ResponseMetadata\n");
                $responseMetadata = $response->getResponseMetadata();
                if ($responseMetadata->isSetRequestId()) 
                {
                    echo("                RequestId\n");
                    echo("                    " . $responseMetadata->getRequestId() . "\n");
                }
            } 

 } catch (FBAInboundServiceMWS_Exception $ex) {
     echo("Caught Exception: " . $ex->getMessage() . "\n");
     echo("Response Status Code: " . $ex->getStatusCode() . "\n");
     echo("Error Code: " . $ex->getErrorCode() . "\n");
     echo("Error Type: " . $ex->getErrorType() . "\n");
     echo("Request ID: " . $ex->getRequestId() . "\n");
     echo("XML: " . $ex->getXML() . "\n");
 }
}
?>
<?mysql_close();?>