<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

function xml2array($contents, $get_attributes=1) 
	{ 
	    if(!$contents) return array(); 
	
	    if(!function_exists('xml_parser_create')) { 
	        //print "'xml_parser_create()' function not found!"; 
	        return array(); 
	    } 
	    //Get the XML parser of PHP - PHP must have this module for the parser to work 
	    $parser = xml_parser_create(); 
	    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
	    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
	    xml_parse_into_struct( $parser, $contents, $xml_values ); 
	    xml_parser_free( $parser ); 
	
	    if(!$xml_values) return;//Hmm... 
	
	    //Initializations 
	    $xml_array = array(); 
	    $parents = array(); 
	    $opened_tags = array(); 
	    $arr = array(); 
	
	    $current = &$xml_array; 
	
	    //Go through the tags. 
	    foreach($xml_values as $data) { 
	        unset($attributes,$value);//Remove existing values, or there will be trouble 
	
	        //This command will extract these variables into the foreach scope 
	        // tag(string), type(string), level(int), attributes(array). 
	        extract($data);//We could use the array by itself, but this cooler. 
	
	        $result = ''; 
	        if($get_attributes) {//The second argument of the function decides this. 
	            $result = array(); 
	            if(isset($value)) $result['value'] = $value; 
	
	            //Set the attributes too. 
	            if(isset($attributes)) { 
	                foreach($attributes as $attr => $val) { 
	                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
	                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
	                } 
	            } 
	        } elseif(isset($value)) { 
	            $result = $value; 
	        } 
	
	        //See tag status and do the needed. 
	        if($type == "open") {//The starting of the tag '<tag>' 
	            $parent[$level-1] = &$current; 
	
	            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
	                $current[$tag] = $result; 
	                $current = &$current[$tag]; 
	
	            } else { //There was another element with the same tag name 
	                if(isset($current[$tag][0])) { 
	                    array_push($current[$tag], $result); 
	                } else { 
	                    $current[$tag] = array($current[$tag],$result); 
	                } 
	                $last = count($current[$tag]) - 1; 
	                $current = &$current[$tag][$last]; 
	            } 
	
	        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
	            //See if the key is already taken. 
	            if(!isset($current[$tag])) { //New Key 
	                $current[$tag] = $result; 
	
	            } else { //If taken, put all things inside a list(array) 
	                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
	                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
	                    array_push($current[$tag],$result); // ...push the new element into that array. 
	                } else { //If it is not an array... 
	                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
	                } 
	            } 
	
	        } elseif($type == 'close') { //End of tag '</tag>' 
	            $current = &$parent[$level-1]; 
	        } 
	    } 
	
	    return($xml_array); 
	}


if($lid == "")
{
	echo "NO REQUEST ID ENTERED\n";
	exit;
}
	
$query = "select data from amazon_log_extended where lid = '$lid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($data) = mysql_fetch_array($qok);

$xmldata = xml2array($data, 1);

$processingreport = $xmldata['AmazonEnvelope']['Message']['ProcessingReport'];

		$processingreport = $xmldata['AmazonEnvelope']['Message']['ProcessingReport'];
		$processingstatus = @$processingreport['StatusCode']['value'];
		
		if($processingstatus == "")
			$processingstatus = $processingreport['StatusCode'][0]['value'];
		
		if($processingstatus == "Complete")
		{
			$query = "update amazon_feed_report set complete = '1' where reportid = '$REQUESTID'";
			//if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			echo "$query<BR>";
			
			echo "Feed Complete<BR><BR>\n";
			
			$numerrors = @$processingreport['ProcessingSummary']['MessagesWithError']['value'];
			$numwarnings = @$processingreport['ProcessingSummary']['MessagesWithWarning']['value'];
			
			if($numerrors == "" && $numwarnings == "")
			{
				$numerrors = $processingreport['ProcessingSummary'][0]['MessagesWithError']['value'];
				$numwarnings = $processingreport['ProcessingSummary'][0]['MessagesWithWarning']['value'];
				
			}
			
			echo "NUMERRORS: $numerrors<BR>";
			echo "NUMWARNINGS: $numwarnings<BR>";
			
			if(intval($numerrors) > 0 || intval($numwarnings) > 0)
			{
				$result = @$processingreport['Result'];
				
				if(@$result[0]['MessageID']['value'] == "")
				{
					$mid = $result['MessageID']['value'];
					$ResultCode = $result['ResultCode']['value'];
					$ResultMessageCode = $result['ResultMessageCode']['value'];
					$ResultDescription = $result['ResultDescription']['value'];
					$sku = $result['AdditionalInfo']['SKU']['value'];
					$message = addslashes("$ResultMessageCode - $ResultDescription");
			
					echo "REPORTTYPE: $REPORTTYPE<BR>";
					
					if($REPORTTYPE == "BASE")
					{
						$query = "select pid, campid from amazon_base_messages where mid = '$mid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pid, $campid) = mysql_fetch_array($q2ok);
							
						if(intval($pid) <= 0) $pid = $sku;
							
						$tstamp = date("Y-m-d H:i:s", time());
						$query = "insert into amazon_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
						echo "$query<BR>";
					}
					else 
					{
						$query = "select pid, campid from amazon_base_messages where mid = '$mid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($pid, $campid) = mysql_fetch_array($q2ok);
								
						if(intval($pid) <= 0) $pid = $sku;
						
						$tstamp = date("Y-m-d H:i:s", time());
						$query = "insert into amazon_errors_other(pid, tstamp, message, mid, campid, requestid, type) ";
						$query .= " values('$pid', '$tstamp', '$message', '$mid', '$campid', '$REQUESTID', '$REPORTTYPE')";
						echo "$query<BR>";
					}
				}
				else 
				{
					for($xx = 0; $xx < count(@$result); $xx++)
					{
						$mid = $result[$xx]['MessageID']['value'];
						$ResultCode = $result[$xx]['ResultCode']['value'];
						$ResultMessageCode = $result[$xx]['ResultMessageCode']['value'];
						$ResultDescription = $result[$xx]['ResultDescription']['value'];
						$sku = $result[$xx]['AdditionalInfo']['SKU']['value'];
						$message = addslashes("$ResultMessageCode - $ResultDescription");
			
						echo "REPORTTYPE: $REPORTTYPE<BR>";
						
						if($REPORTTYPE == "BASE")
						{
							$query = "select pid, campid from amazon_base_messages where mid = '$mid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pid, $campid) = mysql_fetch_array($q2ok);
								
							if(intval($pid) <= 0) $pid = $sku;
							
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazon_errors(pid, tstamp, message, mid, campid) values('$pid', '$tstamp', '$message', '$mid', '$campid')";
							echo "$query<BR>";
						}
						else 
						{
							$query = "select pid, campid from amazon_base_messages where mid = '$mid'";
							if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($pid, $campid) = mysql_fetch_array($q2ok);
								
							if(intval($pid) <= 0) $pid = $sku;
								
							$tstamp = date("Y-m-d H:i:s", time());
							$query = "insert into amazon_errors_other(pid, tstamp, message, mid, campid, requestid, type) ";
							$query .= " values('$pid', '$tstamp', '$message', '$mid', '$campid', '$REQUESTID', '$REPORTTYPE')";
							echo "$query<BR>";

						}
					}
				}
			}
		}
		else 
		{
			echo "Not Complete<BR>\n";
		}
			
echo "<pre>";
print_r($xmldata);
echo "</pre>";

?>
<?mysql_close();?>