<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: create_base_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if(intval($DEBUG) != 1)
{
	$query = "select id from amazon_feed_report where type = 'BASE' and complete = '0'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($q2ok) > 0)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_log(title, tstamp) values('Base Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$brid = "";

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/********************************************************************************************/
$mid = 1;

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("Amazon", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Product</MessageType>
";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$numout = 0;
$maxout = 1000;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ADD NEW ITEMS
$query = "select amazon_campaigns.id, amazon_campaigns.campaign_name, amazon_campaign_lists.listid, lists.list_title from amazon_campaigns, amazon_campaign_lists, lists where 
				amazon_campaigns.id = amazon_campaign_lists.campid AND amazon_campaign_lists.listid = lists.lid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while( (list($campaignid, $amazon_campaign_name, $amazon_listid, $list_title) = mysql_fetch_array($q9ok)) && ($numout < $maxout) )
{
	if(intval($DEBUG) != 1)
	{
		if(intval($brid) <= 0)
		{
			$tstamp = date("Y-m-d H:i:s", time());
			$query = "insert into amazon_base_requests(tstamp, campid) values('$tstamp', '$campaignid')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$brid = mysql_insert_id();
		}
	}
		
	$amazon_campaign_name = stripslashes($amazon_campaign_name);
	echo "Campaign $amazon_campaign_name [LIST => $list_title]\n";

	// first list new items
	$query = "select product_list.id, product_manufacturers.manname, product_list.descr, product_list.sku, product_list.upccode, product_list.modelno, 
				product_list.use_asin, product_list.asin
				from product_list, product_manufacturers, list_products
				where 
				product_list.manid = product_manufacturers.manid AND
				product_list.id = list_products.pid AND
				list_products.lid = '$amazon_listid' AND 
				product_list.id NOT IN (select pid from amazon_base_messages) AND
				product_list.id NOT IN (select pid from amazon_errors)";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while( (list($pid, $manname, $descr, $sku, $upccode, $modelno, $use_asin, $asin) = mysql_fetch_array($q2ok))  && ($numout < $maxout) )
	{
		$query = "select mid from amazon_base_messages where pid = '$pid'"; // the query above supposedly filters them.... but they could have been added since
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			echo "Adding: $pid [$numout of $maxout]\n";
			if(intval($DEBUG) != 1)
			{
				if( (strlen($upccode) < 12) && ($use_asin != 1) )
				{
					$tstamp = date("Y-m-d H:i:s", time());
					$query = "select id from amazon_errors where pid = '$pid' and message = 'SKU Excluded - NO UPC NO ASIN'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($qok) <= 0)
					{
						$query = "insert into amazon_errors(pid, tstamp, message, campid) values('$pid', '$tstamp', 'SKU Excluded - NO UPC NO UPC NO ASIN', '$campaignid')";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					}
				}
				else 
				{
					$skudata = $amClass->AddProduct($pid, $campaignid);	
		
					if($skudata != "")
					{
						$numout++;
						
						if($amClass->asin == "" && $asin != "")
						{
							$saveasin = $asin;
						}
						else 
						{
							$saveasin = $amClass->asin;
						}
						
						$tstamp = date("Y-m-d H:i:s", time());
						$query = "insert into amazon_base_messages(pid, tstamp, brid, campid, asin) values('$pid', '$tstamp', '$brid', '$campaignid', '$saveasin')";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						$mid = mysql_insert_id();
						
						$skudata = str_replace("#mid#", "$mid", $skudata);
						
						
						$query = "insert into amazon_log_extended_skus(lid, pid) values('$logid', '$pid')";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
						$data .= $skudata;
					}
		
				}
			}
			else 
			{// DEBUG SHIT
				$skudata = $amClass->AddProduct($pid, $campaignid);	
				$data .= $skudata;
			}
		}
	}	
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PRODUCTS TO REMOVE
$query = "select distinct(amazon_base_messages.mid), amazon_base_messages.campid, amazon_base_messages.pid, 
			amazon_base_messages.listid, amazon_base_messages.asin
			from 
			amazon_base_messages
			where 
			amazon_base_messages.asin != ''
			group by amazon_base_messages.mid";
if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($mid, $campid, $pid, $listid, $asin) = mysql_fetch_array($q9ok)) // don't limit the end listings....  
{
	$addon = "";
	
	$query = "select listid from amazon_campaign_lists where campid = '$campid'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xlistid) = mysql_fetch_array($q2ok))
	{
		if($addon == "") $addon .= " AND (lid = '$xlistid' ";
		else $addon .= " OR lid = '$xlistid' ";
	}
	
	if($addon != "")
		$addon .= ")";
	
	$query = "select pid from list_products where pid = '$pid' $addon";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		echo "\nRemoving: PID: $pid LISTID: $listid [ASIN: $asin]\n";
				
		$skudata = $amClass->RemoveProduct($pid, $asin);	
		
		if(intval($DEBUG) != 1)
		{
			if($skudata != "")
			{
				$numout++;
			
				$skudata = str_replace("#mid#", "$mid", $skudata);
				$data .= $skudata;
			}
		}
		else 
		{
			$skudata = str_replace("#mid#", "$mid", $skudata);
			$data .= $skudata;		
		}
		// remove it either way..... no asin would cause $skudata to be blank...... maybe it ain't listed
		if(intval($DEBUG) != 1)
		{
			$query = "delete from amazon_base_messages where pid = '$pid' and asin = '$asin'";
			if(!$q12ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	else 
	{
		echo ".";
	}
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

if(intval($DEBUG) != 1)
{
	if($numout <= 0)
	{
		$query = "delete from amazon_base_requests where brid = '$brid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "delete from amazon_log where id = '$logid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "No Proudcts\n";
		exit;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$data .= "</AmazonEnvelope>\n";

$filename = "/tmp/amazon/basefeed.".date("Ymd-His", time());
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

if(intval($DEBUG) == 1)
{
	echo "CHECK FILE => $filename\n";
	exit;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// check the validity of the xml file we just created
$cmd = "/usr/bin/iconv -t utf-8 $filename > $filename.utf8";
exec($cmd);
$cmd = "/usr/bin/xmllint --recover $filename.utf8 > $filename.xml"; // XMLLINT will fix any broken xml formatting (THANK GAWD)
exec($cmd);

unlink($filename.".utf8"); // remove the old file
unlink($filename); // remove the old file
$filename = $filename . ".xml"; // append the XML

if(filesize($filename) <= 10)
{
	echo "XML VALIDATION FAILED";
	
	$query = "delete from amazon_base_requests where brid = '$brid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	$query = "delete from amazon_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
	exit;
	
}
else 
{
	echo "XML VALIDATION SUCCESSFUL\n";
}

if($numout <= 0)
{
	echo "Empty Feed\n";
	
	$query = "delete from amazon_feed_report where id = '$feedreportid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	exit;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) // if its < 5mb
{
	$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	copy($filename, $ROOT_DIR."/mgt/amazon/logs/basefeed_$brid.xml");
}
else 
{
	$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
/********************************************************************************************/


$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

$service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
 
$feedHandle = fopen($filename, "r");

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$query = "update amazon_base_requests set amazon_submissionid = '$amazon_reportid', amazon_requestid = '$amazon_requestid' where brid = '$brid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('BASE', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "update amazon_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     
fclose($feedHandle);

//echo "GO CHECK => $filename\n";
unlink($filename);
?>
<?mysql_close();?>