<?php
set_time_limit(0);
$ROOT_DIR = $argv[1];
$DEBUG = 0;

if($ROOT_DIR == "")
{
	echo "usage: rfw_import_amazon.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

set_include_path(get_include_path() . PATH_SEPARATOR . '../.'); 

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}


$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;

$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_log(title, tstamp) values('Base Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
$logid = mysql_insert_id();

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "truncate amazon_base_messages";
if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }

$query = "truncate fba_skus";
if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }

$query = "delete from list_products where lid = '40'";
if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }

$tstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_base_messages(pid, tstamp, brid, campid, asin) values('$pid', '$tstamp', '$brid', '$campaignid', '$saveasin')";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
						
$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";

$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
		<Header>
			<DocumentVersion>1.01</DocumentVersion>
		</Header>
		<MessageType>Product</MessageType>
	";
	
$mid = 1;

$query = "select seller_sku, price, quantity, product_id_type, item_note, item_condition, asin1, will_ship_internationally, expedited_shipping, fulfillment_channel, item_name, item_description from amazon_temp";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
while (list($seller_sku, $price, $quantity, $product_id_type, $item_note, $item_condition, $asin1, $will_ship_internationally, $expedited_shipping, $fulfillment_channel, $item_name, $item_description) = mysql_fetch_array($qok))
{
	$query = "select lastupdate from product_list where id = '$seller_sku'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
	if(mysql_num_rows($q2ok) > 0)
	{
		list($lastupdate) = mysql_fetch_array($q2ok);
		
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_base_messages(pid, tstamp, campid, asin, pid_lastupdate, qty, price, listid)";
		$query .= " values('$seller_sku', '$tstamp', '3', '$asin1', '$lastupdate', '$quantity', '$price', '40') ";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
		
		$query = "insert into list_products(pid, lid) values('$seller_sku', '40')";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
		
		if($fulfillment_channel == "AMAZON_NA")
		{
			$query = "insert into fba_skus(sku, lastupdate, updateprice) values('$seller_sku', '$lastupdate', '0')";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
		}
		
		$query = "update product_prices set price_level3 = '$price' where id = '$seller_sku'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
		
		$query = "update product_list set asin = '$asin1' where id = '$seller_sku'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
		
	}
	else // it was in not found........ remove it!
	{
		$query = "select pid, price, asin from amazon_notfound where sku = '$seller_sku'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
		if(mysql_num_rows($q2ok) > 0)
		{
			list($pid) = mysql_fetch_array($q2ok);
			
			$query = "select lastupdate from product_list where id = '$pid'";
			list($lastupdate) = mysql_fetch_array($q2ok);
			
			$tstamp = date("Y-m-d H:i:s", time());
			
			$query = "insert into amazon_base_messages(pid, tstamp, campid, asin, pid_lastupdate, qty, price, listid)";
			$query .= " values('$pid', '$tstamp', '3', '$asin1', '$lastupdate', '$quantity', '$price', '40') ";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
			
			$query = "insert into list_products(pid, lid) values('$pid', '40')";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
			
			if($fulfillment_channel == "AMAZON_NA")
			{
				$query = "insert into fba_skus(sku, lastupdate, updateprice) values('$pid', '$lastupdate', '0')";
				if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
			}
			
			$query = "update product_prices set price_level3 = '$price' where id = '$pid'";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
			
			$query = "update product_list set asin = '$asin1' where id = '$pid'";
			if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
			
			$data .= "
			<Message>
				<MessageID>$mid</MessageID>
					<OperationType>Delete</OperationType>
					<Product>
					<SKU>$seller_sku</SKU>
					<StandardProductID><Type>ASIN</Type><Value>$asin1</Value></StandardProductID>
					</Product>
			</Message>
			";	
			$mid++;
		}
		else
		{
			$query = "select pid, price, asin from amazon_notfound_remainder where sku = '$seller_sku' and pid > 0";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
			if(mysql_num_rows($q2ok) > 0)
			{
				list($pid) = mysql_fetch_array($q2ok);
				
				if(intval($pid) > 0)
				{
					$query = "select lastupdate from product_list where id = '$pid'";
					list($lastupdate) = mysql_fetch_array($q2ok);
					
					$tstamp = date("Y-m-d H:i:s", time());
					
					$query = "insert into amazon_base_messages(pid, tstamp, campid, asin, pid_lastupdate, qty, price, listid)";
					$query .= " values('$pid', '$tstamp', '3', '$asin1', '$lastupdate', '$quantity', '$price', '40') ";
					if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
					
					$query = "insert into list_products(pid, lid) values('$pid', '40')";
					if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
					
					if($fulfillment_channel == "AMAZON_NA")
					{
						$query = "insert into fba_skus(sku, lastupdate, updateprice) values('$pid', '$lastupdate', '0')";
						if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
					}
					
					$query = "update product_prices set price_level3 = '$price' where id = '$pid'";
					if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
					
					$query = "update product_list set asin = '$asin1' where id = '$pid'";
					if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo $query."<BR><BR>".mysql_error();exit; }
					
					$data .= "
						<Message>
							<MessageID>$mid</MessageID>
								<OperationType>Delete</OperationType>
								<Product>
								<SKU>$seller_sku</SKU>
								<StandardProductID><Type>ASIN</Type><Value>$asin1</Value></StandardProductID>
								</Product>
						</Message>
						";	
						$mid++;					
				}
			}
			else
			{
				$item_name = str_replace(",", "", $item_name);
				$item_name = str_replace("\t", "", $item_name);
				
				$item_description = str_replace(",", "", $item_description);
				$item_description = str_replace("\t", "", $item_description);
				
				$asin1 = str_replace(",", "", $asin1);
				$asin1 = str_replace("\t", "", $asin1);
				
				echo "$seller_sku,$item_name,$item_description,$asin1\r\n";		
				
				$data .= "
						<Message>
							<MessageID>$mid</MessageID>
								<OperationType>Delete</OperationType>
								<Product>
								<SKU>$seller_sku</SKU>
								<StandardProductID><Type>ASIN</Type><Value>$asin1</Value></StandardProductID>
								</Product>
						</Message>
						";	
						$mid++;	
			}	

		}
		
	}
	
}

echo "<HR NOSHADE>";
$data .= "</AmazonEnvelope>\n";

$filename = "/tmp/amazon/basefeed.".date("Ymd-His", time());
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

/////////////////////////////////////////////////////////////////////////////////////////////////////
// check the validity of the xml file we just created
$cmd = "/usr/bin/iconv -t utf-8 $filename > $filename.utf8";
exec($cmd);
$cmd = "/usr/bin/xmllint --recover $filename.utf8 > $filename.xml"; // XMLLINT will fix any broken xml formatting (THANK GAWD)
exec($cmd);

unlink($filename.".utf8"); // remove the old file
unlink($filename); // remove the old file
$filename = $filename . ".xml"; // append the XML

if(filesize($filename) <= 10)
{
	echo "XML VALIDATION FAILED";
	
	$query = "delete from amazon_base_requests where brid = '$brid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		
	$query = "delete from amazon_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		
	exit;
	
}
else 
{
	echo "XML VALIDATION SUCCESSFUL\n";
}

ini_set('display_errors',1); 
error_reporting(E_ALL);

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
define ('SELLER_ID',  		$efc->getConfigValue("Amazon", "SELLER_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
/********************************************************************************************/


$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

$service = new MarketplaceWebService_Client(
     AWS_ACCESS_KEY_ID, 
     AWS_SECRET_ACCESS_KEY, 
     $config,
     APPLICATION_NAME,
     APPLICATION_VERSION);
 
$feedHandle = fopen($filename, "r");


	$parameters = array (
	  'Marketplace' => MARKETPLACE_ID,
	  'Merchant' => MERCHANT_ID,
	  'FeedType' => '_POST_PRODUCT_DATA_',
	  'FeedContent' => $feedHandle,
	  'PurgeAndReplace' => false,
	  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
	);	

echo "-----------------------------------------------------------------------------------------\n";
print_r($parameters);
echo "-----------------------------------------------------------------------------------------\n";

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$query = "update amazon_base_requests set amazon_submissionid = '$amazon_reportid', amazon_requestid = '$amazon_requestid' where brid = '$brid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('BASE', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
		
		$query = "update amazon_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
		print_r($response);
		
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
         
         print_r($ex);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////     
fclose($feedHandle);

//echo "GO CHECK => $filename\n";
//unlink($filename);
mysql_close();
?>