<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_inventory_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_log(title, tstamp) values('Convert SKUS AFN Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/

	define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
	 
	define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("Amazon", "AWS_ACCESS_KEY_ID"));
	define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("Amazon", "AWS_SECRET_ACCESS_KEY"));  
	
	define('APPLICATION_NAME', 'eFluent');
	define('APPLICATION_VERSION', '2.0');
	
	define ('MERCHANT_ID',  	$efc->getConfigValue("Amazon", "MERCHANT_ID"));
	define ('MARKETPLACE_ID', 	$efc->getConfigValue("Amazon", "MARKETPLACE_ID"));
	define ('MERCHANT_IDENTIFIER', 	$efc->getConfigValue("Amazon", "MERCHANT_IDENTIFIER"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".MERCHANT_IDENTIFIER."</MerchantIdentifier>
	</Header>
	<MessageType>Inventory</MessageType>

";

$contents = file_get_contents("/tmp/amazon/basefeed.20150602-161947.xml");

$numout = 0;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed
$query = "select distinct(product_list.id), seller_sku, product_id, asin1 from amazon_temp, product_list where fulfillment_channel = 'AMAZON_NA' and amazon_temp.asin1 = product_list.asin group by product_list.id";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo mysql_error()."\n\n$query";exit;  }
while(list($pid, $seller_sku, $product_id, $asin1) = mysql_fetch_array($q2ok))
{
	$pattern = preg_quote($searchfor, '/');
	
	// finalise the regular expression, matching the whole line
	$pattern = "/^.*$seller_sku.*\$/m";
	
	// search, and store all matching occurences in $matches
	if(preg_match_all($pattern, $contents, $matches))
	{
		$numout++;
		echo "$seller_sku\n";
		$data .= "<Message> 
				<MessageID>$numout</MessageID>
				<OperationType>Update</OperationType>
				<Inventory>
					<SKU>$seller_sku</SKU>
					<FulfillmentCenterID>AMAZON_NA</FulfillmentCenterID>
					<Lookup>FulfillmentNetwork</Lookup>
					<SwitchFulfillmentTo>AFN</SwitchFulfillmentTo>
				</Inventory>
			</Message>";
   	}
   	else
   	{
		echo "$seller_sku not found\n";
	}
   		
	
}

$data .= "</AmazonEnvelope>\n";

if($numout <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from amazon_log where id = '$logid'";
//	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }

	exit;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//	print_r($data);
//	exit();

$filename = "/tmp/amazon/convertskusafn.".date("Ymd-His", time()).".xml";
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) 
{
	$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', 'Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
}
else 
{
	$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

echo "AWS_ACCESS_KEY_ID: ".AWS_ACCESS_KEY_ID."\n";
echo "AWS_SECRET_ACCESS_KEY: ".AWS_SECRET_ACCESS_KEY."\n";
echo "MARKETPLACE_ID: ".MARKETPLACE_ID."\n";
echo "MERCHANT_ID: ".MERCHANT_ID."\n";

$service = new MarketplaceWebService_Client(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, $config, APPLICATION_NAME, APPLICATION_VERSION);

$feedHandle = fopen($filename, "r");

if(!$feedHandle)
{
	echo "Error opening file\n";
	exit;
}

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_INVENTORY_AVAILABILITY_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);


try 
{
	$response = $service->submitFeed($request);
              
    if ($response->isSetSubmitFeedResult()) 
    { 
        $submitFeedResult = $response->getSubmitFeedResult();
        if ($submitFeedResult->isSetFeedSubmissionInfo()) 
        { 
            $feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
            if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
                $amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 

	if ($response->isSetResponseMetadata()) 
	{ 
         $responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
        {
            $amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into amazon_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('CONVERTSKUSAFN', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
		
		$query = "update amazon_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "\n\n$query\n\n".mysql_error(); exit;  }
		
	}

} 
catch (MarketplaceWebService_Exception $ex) 
{
	echo("Caught Exception: " . $ex->getMessage() . "\n");
    echo("Response Status Code: " . $ex->getStatusCode() . "\n");
    echo("Error Code: " . $ex->getErrorCode() . "\n");
    echo("Error Type: " . $ex->getErrorType() . "\n");
    echo("Request ID: " . $ex->getRequestId() . "\n");
    echo("XML: " . $ex->getXML() . "\n");
}

fclose($feedHandle);

echo "Saved => $filename\n";

//unlink($filename);
?>
<?mysql_close();?>