<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////


$fp = fopen('4591-petmap.csv', "r");
$k = 0;
$x = 0;
while($data = fgetcsv($fp, 4096, ","))
{
//	print_r($data);
	$q = "SELECT id FROM product_list WHERE manpart='".$data[0]."' and kit=0";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok) == 0) {
		echo $data[0]." - NO SKU FOUND<br />";
	}
	else {
		while (list($pid) = mysql_fetch_array($qok)) {
			echo $data[0]." - ".$pid."<br />";
			$query = "UPDATE product_prices SET 
							price_msrp='".$data[1]."',
							price_level1='".$data[1]."',
							price_level2='".$data[1]."',
							price_level3='".$data[1]."',
							price_level4='".$data[1]."',
							price_level5='".$data[1]."',
							price_level6='".$data[1]."',
							price_level7='".$data[1]."',
							price_level8='".$data[1]."',
							price_level9='".$data[1]."',
							price_map='".$data[1]."',
							fco1='1',
							fco2='1',
							fco3='1',
							fco4='1',
							fco5='1',
							fco6='1',
							fco7='1',
							fco8='1',
							fco9='1' WHERE id='".$pid."'";
			if(!$qokx = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//			exit();
			$k++;
		}
	}
	$x++;
}

echo "FILE: ".$x."<br />";
echo "PROD: ".$k."<br />";
?>