<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	$ROOT_DIR = $_SERVER['DOCUMENT_ROOT'];
}
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////


$fp = fopen('4823-4591-petmap.csv', "r");
$k = 0;
$x = 0;
while($data = fgetcsv($fp, 4096, ","))
{
//	print_r($data);
	$q = "SELECT id FROM product_list WHERE manpart='".$data[0]."' and kit=0";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if (mysql_num_rows($qok) == 0) {
//		echo $data[0]." - NO SKU FOUND<br />";
	}
	else {
		while (list($pid) = mysql_fetch_array($qok)) {
			$p = str_replace(",","",$data[1]);
			if ($p<=50) {
				echo $data[0]." - ".$p." - ".$pid."<br />";
				$query = "UPDATE product_prices SET 
							fco1='0',
							fco2='0',
							fco3='0',
							fco4='0',
							fco5='0',
							fco6='0',
							fco7='0',
							fco8='0',
							fco9='0' WHERE id='".$pid."'";
			if(!$qokx = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$k++;
			}
		}
	}
	$x++;
}

echo "FILE: ".$x."<br />";
echo "PROD: ".$k."<br />";
?>