<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

if($export == 1)
{
	header("Pragma: public");
	header("Expires: 0"); // set expiration time
	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
	// browser must download file from server instead of cache
	
	// force download dialog
	header("Content-Type: application/force-download");
	header("Content-Type: application/octet-stream");
	header("Content-Type: application/download");
	
	// use the Content-Disposition header to supply a recommended filename and
	// force the browser to display the save dialog.
	header("Content-Disposition: attachment; filename=commission_report.csv;");
	
	/*
	The Content-transfer-encoding header should be binary, since the file will be read
	directly from the disk and the raw bytes passed to the downloading computer.
	The Content-length header is useful to set for downloads. The browser will be able to
	show a progress meter as a file downloads. The content-lenght can be determines by
	filesize function returns the size of a file.
	*/
	header("Content-Transfer-Encoding: binary");
	flush();
}
/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
$xbdate = date("Y-m-d 00:00:00", strtotime($bdate));
$xedate = date("Y-m-d 23:59:59", strtotime($edate));

/*if($status != "0")
{
	$addon = " and customer_orders.status = '$status' ";	
}*/

$addtables = '';
$opaddon = '';
if($oprefix != "")
{
	$addtables .= ",customer_orders";
	$opaddon .= " AND customer_orders.invoiceid like '$oprefix%' AND customer_orders.orderid=customer_payments.orderid";
}

if($export != 1)
{
?>
<table width=99% id="results">
<tr bgcolor="#eeeeee">
	<td align=center height=21><B>ID</B></td>
	<td align=center height=21><B>InvoiceID</B></td>
	<td align=center><B>Date/Time</B></td>
	<td align=center><B>Approval Code</B></td>
	<td align=center><B>AVS</B></td>
	<td align=center><B>Tx Type</B></td>
	<td align=center><B>Processor</B></td>
	<td align=center><B>Amount</B></td>
</tr>
<?	
}
else 
{
	echo "ID,InvoiceID,Date/Time,Approval Code,AVS,Processor,Tx Type,Amount\n";
}

$rtotal = 0.00;

if($pname != "")
{
	$addon = " pname = '$pname' AND ";
}

$query = "select customer_payments.id, customer_payments.orderid, customer_payments.tstamp, customer_payments.approvalcode, customer_payments.pname, customer_payments.amount, customer_payments.avscode, customer_payments.txtype from customer_payments $addtables
			where 
			customer_payments.tstamp >= '$xbdate' AND
			customer_payments.tstamp <= '$xedate' AND
			customer_payments.status = 1 and $addon
			(customer_payments.txtype = 'SALE' or customer_payments.txtype = 'CAPT' or customer_payments.txtype = 'REFUND') $opaddon";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($id, $orderid, $tstamp, $approvalcode, $pname, $amount, $avscode, $txtype) = mysql_fetch_array($qok))
{
	$invoiceid = $efc->getInvoicefromOrderNo($orderid);
	$datetime = date("m/d/Y H:i:s", strtotime($tstamp));
	
	if($txtype == 'REFUND') $amount = $amount * -1;
	
	if($export == 1)
	{
		
		echo "$id,$invoiceid,$datetime,$approvalcode,$avscode,$pname,$txtype,$amount\n";
	}
	else 
	{
		?>
		<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
			<td  align="center"><?=$id;?></td>
			<td  height=21>
				<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?iv=<?=$invoiceid;?>&inwin=1', 'View Order <?=$invoiceid;?>');">
					<?=$invoiceid;?>
				</a>
			</td>
			<td  align="center"><?=$datetime;?></td>
			<td  align="center"><?=$approvalcode;?></td>
			<td align="right"><?=$avscode;?></td>
			<td align="center"><?=$txtype;?></td>
			<td align="center"><?=$pname;?></td>
			<td align="right"><?=number_format($amount, 2);?></td>
		</tr>
		<?
		
		$rtotal += $amount;
	}
}

if($export != 1)
{
?>
<tr>
	<td  align="right" colspan=7 ><B>TOTALS:</B></td>
	<td align="right"><B><?=number_format($rtotal, 2);?></B></td>
</tr>
</table>
<?
}
?>

