<?
if($argv[1] == "")
{
	echo "NO ROOT_DIR\n";
	exit;
}

$ROOT_DIR = $argv[1];

///////////////////////////////////////////////////////////////////////////////////////////
// do everything we're supposed to do on this step...... then based on teh result, move it to the next step
set_time_limit(99999999);

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/cartclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/ipinfoclass.phtml");
$ipinfo = new ipinfoClass();
$ipinfo->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$ipinfo->db = $DB;
$ipinfo->url = $BASE_URL;


exec("grep \"Failed password\" /var/log/secure |cut -d \":\" -f 4 |grep -v \"invalid user\" |awk '{print $6 }' |sort -n |uniq -c ", $returnArray);

for($xx = 0; $xx < count($returnArray); $xx++)
{
	$failedlogin = trim($returnArray[$xx]);
	list($attempts, $ip) = explode(" ", $failedlogin);
	
	list($country, $countryname) = $ipinfo->getIPCountry($ip);
	
	echo "-----------------------------------\n";
	echo "ATTEMPTS: $attempts\n";
	echo "IP ADDRESS: $ip\n";
	echo "COUNTRY: $country\n";
	echo "COUNTRY CODE: $countryname\n";
}


/*
$fiftenminutesago = date("Y-m-d H:i:s", time() - (60 * 15)); //
$query = "select tstamp, un, ip_addr from login_log where tstamp >= '$fiftenminutesago' and success = '0'";
if(!$q313ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
echo $query;

$baseURL = $efc->getConfigValue("Company Information", "baseURL");


if(mysql_num_rows($q313ok) > 0)
{
	$buffer = "<LINK HREF=\"$baseURL/mgt/style.css\" TYPE=\"text/css\" REL=\"stylesheet\">
		<table width=100%>
		<tr>
			<td>
				<B>Failed Logins since ".date("m/d/Y H:i:s", strtotime($fiftenminutesago))." for $DB</B>
			</td>
		</tr>
		</table>
		<table width=100%>
		<tr bgcolor='#eeeeee'>
			<td><B>Date/Time</B></td>
			<td><B>Username</B></td>
			<td><B>IP</B></td>
			<td><B>Host/Domain</B></td>
			<td><B>Country</B></td>
		</tr>";
		
			

}

while(list($tstamp, $un, $ip_addr) = mysql_fetch_array($q313ok))
{

	list($country, $countryname) = $ipinfo->getIPCountry($ip_addr);

	$output = "";
	$lookup = "/usr/bin/host -W 2 $ip_addr";
	exec($lookup, $output);

	// get the domain
	$domain = $output[0];

	//echo "$lookup => $domain\n";
	
	$buffer .= "<tr>
		<td>".date("m/d/Y H:i:s", strtotime($tstamp))."</td>
		<td>$un</td>
		<td>$ip_addr</td>
		<td>$domain</td>
		<td><img src='$baseURL/mgt/images/flags/".strtolower($country).".gif' alt='".addslashes($countryname)."'>$countryname</td>
		</tr>
		";
}

if(mysql_num_rows($q313ok) > 0)
{
	$buffer .= "</table>";

	echo $buffer;
	
	ob_start();
	$mail = new PHPMailer();
	$mail->IsSMTP(); // telling the class to use SMTP
	$mail->Host = $efc->getConfigValue("Email Settings", "SMTP");; // SMTP server
	
	if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
	{
		
		if( intval($efc->getConfigValue("Email Settings", "NOAUTH")) == 0)
		{
			$mail->SMTPAuth = true;
			$mail->SMTPSecure = $efc->getConfigValue("Email Settings", "SMTPSECURE");
			
			$port = $efc->getConfigValue("Email Settings", "SMTPPORT");
			if ($port != '') 
			{
				$mail->Port = $port;
			}
			
			$mail->AuthType = "";//CRAM-MD5
			$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
			$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");		
		}
		else 
		{
			$mail->SMTPAuth = false;
		}
		
			

	}
	else 
	{
		$mail->SMTPAuth = false;
	}
	
	$mail->From     = $efc->getConfigValue("Email Settings", "FROMPO");
	$mail->FromName = $efc->getConfigValue("Email Settings", "FROMPONAME");
	$mail->AddAttachment($fileloc);
	
	$mail->AddAddress("support@efluent.com");
	$mail->AddAddress("yancey@efluent.com");
	
	$mail->IsHTML(true);	
			
	$mail->Subject = "$DB Failed Login Log";
	
	$mail->Body = html_entity_decode( $buffer );
	$mail->SMTPDebug = 2;
	
	if(!$mail->Send())
	{
		ob_clean();
		echo "Error: ".$mail->ErrorInfo." ($emailto)\n";
	}
	else 
	{
		ob_clean();
		echo "Email Sent to: $emailto\n";
		
	}	
}*/
?>