<?php
// mobile redirect
if (isset($_COOKIE['nomobile']))
{}
else
{
	if (preg_match('/android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile/', strtolower($_SERVER['HTTP_USER_AGENT'])))
	{
		$c = $_GET['c'];;
		if($c !='')
		{
			$str = $_SERVER['REQUEST_URI'];
			$str1 = (explode("-",$str));  
			$po= str_replace('c','p',$str1['1']);
			$ur1 = $str1['0'].'-'.$po; 	
			$sc->redirectUrl($BASE_URL . '/m'.$ur1);
		}else
		{
			$sc->redirectUrl($BASE_URL . '/m'.$_SERVER['REQUEST_URI']);
		}
	}
}

// start - customer affiliate log
if(!is_object($cclass))
{
	REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
	$cclass = new customerClass();
	$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
	$cclass->db = $MYSQL_DATABASE;
}

if (isset($_GET['aff'])) 
{ 
	$aff = (int) $_GET['aff'];

	// check for extra data send thru link
	if (isset($_GET['utm_source'])) { $utm_source = $cclass->betterSanitizationInput(urldecode(trim($_GET['utm_source']))); }
	if (isset($_GET['utm_medium'])) { $utm_medium = $cclass->betterSanitizationInput(urldecode(trim($_GET['utm_medium']))); }
	if (isset($_GET['utm_campaign'])) { $utm_campaign = $cclass->betterSanitizationInput(urldecode(trim($_GET['utm_campaign']))); }

	// log traffic and write cookie
	$cclass->logAffTraffic($BASE_URL,$aff,$utm_source,$utm_medium,$utm_campaign);
	
	if (isset($_GET['aff_redirect']))
	{
		$aff_redirect = filter_var($cclass->sanitizeInput(urldecode($_GET['aff_redirect'])), FILTER_SANITIZE_URL);
		$sc->redirectUrl($aff_redirect); 
		exit;		
	}
	
	if (strpos($_SERVER["REQUEST_URI"], '?aff=') !== false)
	{
		$sc->redirectUrl(strtok($_SERVER["REQUEST_URI"],'?')); 
	}
	else 
	{
		$sc->redirectUrl(str_replace('&aff=' . $aff, '', $_SERVER["REQUEST_URI"])); 
	}	
}

// end - customer affiliate log
?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en"><head>
<title><?if($pagetitle == "") echo "The Raw Food World"; else echo $pagetitle;?></title>
<META HTTP-EQUIV="REFRESH" CONTENT="1080">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<?
if($og_description != '') {
    ?>
    <meta name="description" content="<?=$og_description?>">
    <?
}
else {
?>    
<meta name="description" content="The Raw Food World :  - Misc Appliances Raw Foods Supplements Raw Beauty Raw Vegan Books/DVDs Herbs, Mushrooms etc. Exercise &amp; Detox Equipment Raw World Team Picks and FAQ 'At-Cost' Specials Virtual Catalog Kitchen Tools Cleanses Raw Lifestyle Accessories ecommerce, open source, shop, online shopping">
<?}?>
<meta name="DC.Format" content="text/html" /> 
<meta name="DC.Creator" content="Matt Monarch" />
<meta name="DC.Publisher" content="The Raw Food World" />
<meta name="DC.Contributor" content="" />
<meta name="DC.Date" content="2003-01-01" />
<meta name="DC.Type" content="" />
<meta name="DC.Relation" content="" />
<meta name="DC.Coverage" content="" />
<meta name="DC.Rights" content="Copyright 2013, The Raw Food World, All rights reserved." />
<meta name="DC.Language" content="EN" />

<meta name="DC.Title" xml:lang="EN" content="<?if($pagetitle == "") echo "The Raw Food World"; else echo $pagetitle;?>" />
<meta name="DC.Description" xml:lang="EN" content="" />
<meta name="DC.Identifier" content="<?if(isset($prodinfo['id']) && $prodinfo['id'] != '') echo $prodinfo['id']; else echo "";?>" /> 
<meta name="DC.Subject" content="<?if(isset($prodinfo['title']) && $prodinfo['title'] != '') echo $prodinfo['title']; else echo "The Raw Food World";?>" />    
    
    
<!--<meta http-equiv="imagetoolbar" content="no">-->
<?=$additional_metatags;?>
<!-- base href="http://www.therawfoodworld.com/" -->
<link rel="stylesheet" type="text/css" href="/css/css.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<!--<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/js/jquery-ui_1.10.4.js"></script>-->

<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui_1.10.4.min.js"></script>

<script type="text/javascript" src="/js/anylinkcssmenu.js"></script>
<link rel="stylesheet" type="text/css" href="/css/anylinkcssmenu.css" />    
<script src="/js/jquery.bxSlider.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    if ("https:" == document.location.protocol) {
	/* secure */
    } else {
	jQuery(".input_search2").autocomplete({
	    source: "/qsearch.phtml",
	    minLength: 2,
	    select: function( event, ui ) {
		window.location.href='/'+ui.item.url;
	     }
	});
    }
   	
    jQuery('#slider1').bxSlider({
        auto: true,
        autoControls: false,
        controls: false,
        speed:1000,
        pause:10000
    });
    jQuery('#slider2').bxSlider({
        auto: true,
        autoControls: false,
        controls: false,
        speed:1000,
        pause:10000
    });
    

	jQuery('select#country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			$('label[for="international_states"]').css('visibility', 'hidden');
			jQuery('input#international_states').css('display','none');
			jQuery('input#international_states').val('');	
			jQuery('select#usa_states').css('display','block');
		} else {
			jQuery('select#usa_states').css('display','none');
			jQuery('input#international_states').css('display','block');
			var international_states = jQuery('input#international_states').val();
			if(international_states =='')
			{
				$('label[for="international_states"]').css('visibility', 'visible');
			}
		}
	}).trigger('change');
	
	jQuery('select#ship2country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			$('label[for="ship2international_states"]').css('visibility', 'hidden');
			jQuery('input#ship2international_states').css('display','none');
			jQuery('input#ship2international_states').val('');	
			jQuery('select#ship2usa_state').css('display','block');
		} else {
			jQuery('select#ship2usa_state').css('display','none');
			jQuery('input#ship2international_states').css('display','block');
			var ship2international_states = jQuery('input#ship2international_states').val();
			if(ship2international_states =='')
			{
				$('label[for="ship2international_states"]').css('visibility', 'visible');
			}
		}
	}).trigger('change');
	
	jQuery('select#bill2country').change(function () {
		var country = jQuery(this).val();
		if (country == 'US') {
			$('label[for="bill2international_states"]').css('visibility', 'hidden');
			jQuery('input#bill2international_states').css('display','none');
			jQuery('input#bill2international_states').val('');	
			jQuery('select#bill2usa_state').css('display','block');
		} else {
			jQuery('select#bill2usa_state').css('display','none');
			jQuery('input#bill2international_states').css('display','block');
			var bill2international_states = jQuery('input#bill2international_states').val();
			if(bill2international_states =='')
			{
				$('label[for="bill2international_states"]').css('visibility', 'visible');
			}
		}
	}).trigger('change');
});
</script>
<style>
    #featuredImg{max-width:130px;max-height:107px }
    .featuredImg{max-width:130px;max-height:107px }
	.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
.my-error-class { 
   float:left;
   display:block;
   margin-left:129px;
}​
</style>  
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>  
<!--<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_boxes.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_css_buttons.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_main.css">
<link rel="stylesheet" type="text/css" href="/css/stylesheet_tm.css">
<link rel="stylesheet" type="text/css" media="print" href="/css/print_stylesheet.css">-->