<?php
//include ad tracking
include_once($ROOT_DIR."/ad_tracking.phtml");
if (isset($_SESSION["acctid"]))
{
	if (!class_exists('customerClass'))
	{
		REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
		$cclass = new customerClass();
		$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
		$cclass->db = $MYSQL_DATABASE;
	}
	
	if (!class_exists('cartClass'))
	{
		require_once($ROOT_DIR."/classes/cartclass.phtml");
		$cc = new cartClass();
		$cc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
		$cc->db = $MYSQL_DATABASE;
	}
	
	if (!class_exists('couponClass'))
	{
		require_once($ROOT_DIR."/mgt/classes/couponclass.phtml");
		$cup = new couponClass();
		$cup->db = $DB;
		$cup->mysqlid = $mysqlid;
		$cup->divid = 0;
	}
		
	$pids_array = $cclass->getTmpCart();
	if (!empty($pids_array))
	{
		foreach ($pids_array as $k => $v)
		{
                    if($v['qty_bulk']>0) {
                        $cc->addItem($v['pid'],$efc,$v['qty_bulk'],$v['qty_bulk']);
                    }
                    else {
                        $cc->addItem($v['pid'],$efc,$v['qty']);
                    }
			
			$cup->getBonus($v['pid'], $efc);
			$cup->addBonus();
		}
	}
}

$icount = $_SESSION["ICOUNT"];
$total_items = 0;
//start
$outStock = '';
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
for($xx = 0; $xx <$icount; $xx++)
{
			if($outStock=='')
			{
				$qtyCart 		= $_SESSION["CART"]["QTY"][$xx];
				$id2 		= $_SESSION["CART"]["ID"][$xx];	
				if($id2 !='' && $qtyCart !=''){
				$query_stock = "SELECT instock
											  FROM product_prices
											  WHERE id = '$id2'
											  LIMIT 1";
								if(!$qok_stock = mysql_db_query($DB, $query_stock, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								list($pl6) = mysql_fetch_array($qok_stock);
								if($pl6 < $qtyCart)
								{
									$outStock = 'yes';
								}
				}
			}
			
//end
	
	if ($_SESSION["CART"]["KITID"][$xx] == 0)
	{
	    $qty 		= $_SESSION["CART"]["QTY"][$xx];
	    $total_items += $qty;
	}
}

?>
<script>
var url = encodeURIComponent(document.referrer);
</script>
<?
if($_SERVER['SERVER_PORT'] == '443') {

}
else {
?>
<!--<script src="http://jrox.therawfoodworld.com/link.php"></script>-->
<?}
?>

<script type="text/javascript">
(function(a,e,c,f,g,h,b,d){var k={ak:"969658972",cl:"ssIbCOW0u3EQ3KSvzgM",autoreplace:"866-729-3438"};a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[g]||(a[g]=k.ak);b=e.createElement(h);b.async=1;b.src="//www.gstatic.com/wcm/loader.js";d=e.getElementsByTagName(h)[0];d.parentNode.insertBefore(b,d);a[f]=function(b,d,e){a[c](2,b,k,d,null,new Date,e)};a[f]()})(window,document,"_googWcmImpl","_googWcmGet","_googWcmAk","script");
</script>


<!-- Facebook Pixel Code -->
<script>

!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?

n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;

n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;

t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,

document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '178047869223457');

fbq('track', "PageView");
<?php if(isset($fbcode)) { echo $fbcode; } ?>
</script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=178047869223457&ev=PageView&noscript=1"/>
<img src="https://www.facebook.com/tr?id=178047869223457&ev=PageView-Desktop&noscript=1"/>
</noscript>

<!-- End Facebook Pixel Code -->

</head>
<body id="indexBody" itemscope itemtype="http://schema.org/WebPage">
<div class="mainContainer">
    <div class="cartmenu">
        <ul>
            <li><a href="/"><strong>Home</strong></a></li>
			<li><a href="http://news.therawfoodworld.com/" target="_blank"><strong>News</strong></a></li>
            <li><a href="http://news.therawfoodworld.com/raw-food-world-tv-show/" target="_blank"><strong>TV Show</strong></a></li>
            <li><a href="/about.phtml"><strong>About Us</strong></a></li>
            <li class="marginTop6"><a href="http://trfwbenefits.com/about-program/" target="_blank"> <strong>Benefits Program</strong></a></li>
            <li><a href="/contact.phtml" target="_blank"><strong>Contact</strong></a></li>
        </ul>
    </div>
    <div class="topPage"></div>
    <div class="main_t">
        <div class="header_t">
            <div class="topLinks">
            	<? if (isset($_SESSION["acctid"]) != '' && intval($_SESSION["acctid"])>0) { ?>
            	 	<a href="/customer/logoff.phtml">Logout</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            	<? } else { ?>
            		 <a href="/customer">Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            	<?}?>
               <a href="<?php if($outStock =='') { echo $BASE_URL; ?>/checkout <?php } else { echo $BASE_URL; ?>/cart.phtml <?php } ?>">Checkout</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?php echo $BASE_URL; ?>/customer">My Account</a>&nbsp;&nbsp;|
                <strong>Shopping Cart</strong>&nbsp;&nbsp;&nbsp;Now in your cart <a href="<?php echo $BASE_URL; ?>/cart.phtml"><?php if(!isset($_SESSION['ICOUNT'])) { echo '0'; } else { echo $total_items; } ?> items</a>
                <br />
            </div>
            <img src="/images/vibranthealth.jpg" alt="" class="headerBanner">
            <form name="quick_find_header" action="/search.phtml" method="get" class="searchForm">
                <input name="kw" size="6" maxlength="30" class="input_search" value="Enter search keywords here" onFocus="if (this.value == 'Enter search keywords here') this.value = '';" onBlur="if (this.value == '') this.value = 'Enter search keywords here';" type="text">            
                <input src="/images/b_search.gif" alt="Search" title=" Search " type="image" class="submitSearch">
            </form>
        </div>
        <div class="topBanner"></div>
