<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$user_ids = $efc->getConfigValue("rma mgt", "delete");
$users_arr_delete = explode(",",$user_ids);

$user_ids_edit = $efc->getConfigValue("rma mgt", "ven_cred");
$users_arr_edit = explode(",",$user_ids_edit);

$query = "select vendorid, vendorname from vendors order by vendorname";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
{
	if(strlen($x_vendorname) > 25)
	{
		$x_vendorname = substr($x_vendorname, 0, 22)."...";
	}
	echo $x_vendorid."\t".$x_vendorname."~";
}
echo "\n";
$query = "select id, displayname from users order by displayname";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
{
	echo $x_userid."\t".$x_displayname."~";
}
echo "\n";


$addon = '';
if ($keywords != '') {
	
	$keywords = str_replace('^','#',$keywords);
	if(strlen($keywords) >= 2)
	{
		$wordlist = explode(" ", $keywords);

		for($xx = 0; $xx < count($wordlist); $xx++)
		{
			$thisword = $wordlist[$xx];

			$kwpart = " AND (order_nr like '%$thisword%' OR
							po_nr like '%$thisword%' OR 
							rma like '%$thisword%' OR 
							tracking = '$thisword') ";

			$addon .= $kwpart;
		}
	}
}
if ($vendor != '') {
	$addon .= " AND vendor='".$vendor."'";
}			
if ($entered_by != '') {
	$addon .= " AND entered_by='".$entered_by."'";
}	
if ($vendor_rec != '') {
	$addon .= " AND vendor_rec='".$vendor_rec."'";
}	
if ($vendor_credit != '') {
	$addon .= " AND vendor_credit='".$vendor_credit."'";
}	
if ($rf_cust != '') {
	$addon .= " AND rf_cust='".$rf_cust."'";
}
	
if ($complete == '1') {
	$addon .= " AND complete='0'";	
}
if ($claim == '1') {
	$addon .= " AND claim='0'";	
}
elseif ($claim == '2') {
	$addon .= " AND claim='1'";	
}
if ($rma_mgt == '1') {
	$addon .= " AND rma_mgt='0'";	
}
elseif ($rma_mgt == '2') {
	$addon .= " AND rma_mgt='1'";	
}

$queryx = "select id,date,vendor,order_nr,po_nr,rma,tracking,vendor_rec,confirm_type,vendor_credit,rf_cust,entered_by,notes,complete,claim,rma_mgt
			from
				credits
			where 
				1 $addon
			ORDER BY date";
$queryx = str_replace("\n", "", $queryx);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qokx);
while(list($credit_id,$date,$vendor,$order_nr,$po_nr,$rma,$tracking,$vendor_rec,$confirm_type,$vendor_credit,$rf_cust,$entered_by,$notes,$complete,$claim,$rma_mgt) = mysql_fetch_array($qokx))
{
			
	echo date("m/d/Y", strtotime($date))."\t$credit_id\t$vendor\t$order_nr\t$po_nr\t$rma\t$tracking\t$vendor_rec\t$confirm_type\t$vendor_credit\t$rf_cust\t$entered_by\t$notes\t$complete\t$claim\t$rma_mgt\n";			
	
}
echo $totalnum;
?>