<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$user_ids = $efc->getConfigValue("rma mgt", "delete");
$users_arr_delete = explode(",",$user_ids);

$user_ids_edit = $efc->getConfigValue("rma mgt", "ven_cred");
$users_arr_edit = explode(",",$user_ids_edit);

$vendors_arr = $entered_by_arr = array();
$query = "select vendorid, vendorname from vendors order by vendorname";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($x_vendorid, $x_vendorname) = mysql_fetch_array($qok))
{
	if(strlen($x_vendorname) > 25)
	{
		$x_vendorname = substr($x_vendorname, 0, 22)."...";
	}
	$v['vendorid'] = $x_vendorid;
	$v['vendorname'] = $x_vendorname;
	array_push($vendors_arr,$v);
}

$query = "select id, displayname from users order by displayname";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($x_userid, $x_displayname) = mysql_fetch_array($qok))
{
	$ebu['userid'] = $x_userid;
	$ebu['displayname'] = $x_displayname;
	array_push($entered_by_arr,$ebu);
}



$addon = '';
if ($keywords != '') {
	
	$keywords = str_replace('^','#',$keywords);
	if(strlen($keywords) >= 2)
	{
		$wordlist = explode(" ", $keywords);

		for($xx = 0; $xx < count($wordlist); $xx++)
		{
			$thisword = $wordlist[$xx];

			$kwpart = " AND (order_nr like '%$thisword%' OR
							po_nr like '%$thisword%' OR 
							rma like '%$thisword%' OR 
							tracking = '$thisword') ";

			$addon .= $kwpart;
		}
	}
}
if ($vendor != '') {
	$addon .= " AND vendor='".$vendor."'";
}			
if ($entered_by != '') {
	$addon .= " AND entered_by='".$entered_by."'";
}	
if ($vendor_rec != '') {
	$addon .= " AND vendor_rec='".$vendor_rec."'";
}	
if ($vendor_credit != '') {
	$addon .= " AND vendor_credit='".$vendor_credit."'";
}	
if ($rf_cust != '') {
	$addon .= " AND rf_cust='".$rf_cust."'";
}
	
if ($complete == '1') {
	$addon .= " AND complete='0'";	
}
if ($claim == '1') {
	$addon .= " AND claim='0'";	
}
elseif ($claim == '2') {
	$addon .= " AND claim='1'";	
}
if ($rma_mgt == '1') {
	$addon .= " AND rma_mgt='0'";	
}
elseif ($rma_mgt == '2') {
	$addon .= " AND rma_mgt='1'";	
}

$queryx = "select id,date,vendor,order_nr,po_nr,rma,tracking,vendor_rec,confirm_type,vendor_credit,rf_cust,entered_by,notes,complete,claim,rma_mgt
			from
				credits
			where 
				1 $addon
			ORDER BY date";
$queryx = str_replace("\n", "", $queryx);
//	print_r($query);
/*	echo $query."<BR><BR><BR>";
exit;*/
if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$totalnum = $numresults = mysql_num_rows($qokx);

$numout = 0;
$ITEMS_PER_PAGE = 200000000;

if(intval($num2return) <= 0)
	$num2return = 200000000;

$ITEMS_PER_PAGE = $num2return;
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($totalnum > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $totalnum)
	$eview = $totalnum;
	
/*if(mysql_num_rows($qokx) <= 0){echo "<I>No SKUs Found</I>~<B><I>No SKUs Found</I></B>";exit;}

if(mysql_data_seek($qokx, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}*/
?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> Credits on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">
<tr bgcolor="#eeeeee">
	<td align="center" class="unsortable"><b>Date</b></td>
	<td align="center" class="unsortable"><b>Vendor</b></td>
	<td align="center" class="unsortable" colspan="2"><b>Order #</b></td>
	<td align="center" class="unsortable" colspan="2"><b>PO #</b></td>
	<td align="center" class="unsortable"><b>RMA #</b></td>
	<td align="center" class="unsortable"><b>Tracking #</b></td>
	<td align="center" class="unsortable"><b>Notes</b></td>
	<td align="center" class="unsortable"><b>Vendor Rec</b></td>
	<td align="center" class="unsortable"><b>Confirm Type</b></td>
	<td align="center" class="unsortable"><b>Vendor Credit</b></td>
	<td align="center" class="unsortable"><b>RF Cust</b></td>
	<td align="center" class="unsortable"><b>Action</b></td>
	<td align="center" class="unsortable"><b>Comp</b></td>
	<td align="center" class="unsortable"><b>Claim</b></td>
	<td align="center" class="unsortable"><b>RMA MGT</b></td>
	<td align="center" class="unsortable"><b>Entered by</b></td>
</tr>
<?

$onrow = ($p-1)*$ITEMS_PER_PAGE;
//	while((list($credit_id,$date,$vendor,$order_nr,$po_nr,$rma,$tracking,$vendor_rec,$confirm_type,$vendor_credit,$rf_cust,$entered_by,$notes,$complete,$claim,$rma_mgt) = mysql_fetch_array($qokx)) && ($numout < $ITEMS_PER_PAGE))
	while(list($credit_id,$date,$vendor,$order_nr,$po_nr,$rma,$tracking,$vendor_rec,$confirm_type,$vendor_credit,$rf_cust,$entered_by,$notes,$complete,$claim,$rma_mgt) = mysql_fetch_array($qokx))
{
			
				if($onrow % 2) {
					echo "<tr bgcolor='#eeeeee'>";
				}
				else {
					echo "<tr bgcolor='#ffffff'>";
				}
				?>
					<td align="center">
						<input type="text" name="date" id="date_<?=$credit_id?>" value="<?=date("m/d/Y", strtotime($date));?>" class="formBox" style="width:80px;"/>
					</td>
					<td align="center">
						<select name="vendor" id="vendor_<?=$credit_id?>" class="formSelect" style="width:140px;">
							<option value="-1">--- SELECT ----</option>
							<?
								foreach ($vendors_arr as $k=>$v) {
									?>
										<option value="<?=$v['vendorid'];?>" <?if($v['vendorid'] == $vendor) echo "SELECTED";?>><?=$v['vendorname']?></option>
									<?
								}
							?>
						</select>
					</td>
					<td align="center">
						<a href="javascript:void(0)" onclick="javascript:e2window('/mgt/om/vieworder.phtml?iv=<?=$order_nr;?>&inwin=1', 'View Order: <?=$order_nr;?>');">O</a>
					</td>
					<td align="center">
						<input type="text" name="order" id="order_<?=$credit_id?>" class="formBox" value="<?=$order_nr?>" style="width:80px;"/>
					</td>
					<td align="center">
						<a href="javascript:void(0)" onclick="javascript:e2window('/mgt/vn/viewpo.phtml?poid=<?=$po_nr;?>&inwin=1', 'View PO: <?=$po_nr;?>');">P</a>
					</td>
					<td align="center">
						<input type="text" name="po" id="po_<?=$credit_id?>" class="formBox" value="<?=$po_nr?>" style="width:80px;"/>
					</td>
					<td align="center">
						<input type="text" name="rma" id="rma_<?=$credit_id?>" class="formBox" value="<?=$rma?>" style="width:80px;"/>
					</td>
					<td align="center">
						<input type="text" name="tracking" id="tracking_<?=$credit_id?>" value="<?=$tracking?>" class="formBox" style="width:120px;"/>
					</td>
					<td align="center">
						<input type="text" name="notes" id="notes_<?=$credit_id?>" value="<?=$notes?>" class="formBox" style="width:120px;"/>
					</td>
					<td align="center">
						<select class="formSelect" name="vendor_rec" id="vendor_rec_<?=$credit_id?>">
							<option value="0" <?if($vendor_rec == 0) echo "selected"?>>No</option>
							<option value="1" <?if($vendor_rec == 1) echo "selected"?>>Yes</option>
						</select>
					</td>
					<td align="center">
						<input type="text" name="confirm_type" id="confirm_type_<?=$credit_id?>" value="<?=$confirm_type?>" class="formBox" style="width:120px;"/>
					</td>
					<td align="center">
						<?
							if (in_array($_SESSION['ID'],$users_arr_edit)) {
								?>
									<select class="formSelect" name="vendor_credit_<?=$credit_id?>" id="vendor_credit_<?=$credit_id?>">
										<option value="0" <?if($vendor_credit == 0) echo "selected"?>>No</option>
										<option value="1" <?if($vendor_credit == 1) echo "selected"?>>Yes</option>
									</select>
								<?								
							}
							else {
								if ($vendor_credit == 0) {
									echo "No";
								}
								else {
									echo "Yes";
								}
								?>
									<input type="hidden" name="vendor_credit_<?=$credit_id?>" id="vendor_credit_<?=$credit_id?>" value="<?=$vendor_credit?>" />
								<?
							}
						?>
					</td>
					<td align="center">
						<select class="formSelect" name="rf_cust_<?=$credit_id?>" id="rf_cust_<?=$credit_id?>">
							<option value="0" <?if($rf_cust == 0) echo "selected"?>>No</option>
							<option value="1" <?if($rf_cust == 1) echo "selected"?>>Yes</option>
						</select>
					</td>
					<td nowrap>
						<img src="/mgt/images/loading.gif" align="center" id="save_img_<?=$credit_id?>" style="display:none"/>
						&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="updateData('<?=$credit_id?>')" id="edit_credit_<?=$credit_id?>">Edit</a>
						<?
							if (in_array($_SESSION['ID'],$users_arr_delete)) {
								?>
									&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="deleteData('<?=$credit_id?>')" id="delete_credit_<?=$credit_id?>">Delete</a>&nbsp;&nbsp;&nbsp;
								<?								
							}
						?>
						
					</td>
					<td>
						<input type="checkbox" name="complete_create_<?=$credit_id?>" id="complete_create_<?=$credit_id?>" <?if($complete == 1) echo " checked"?> />
					</td>
					<td>
						<input type="checkbox" name="claim_<?=$credit_id?>" id="claim_<?=$credit_id?>" <?if($claim == 1) echo " checked"?> />
					</td>
					<td>
						<input type="checkbox" name="rma_mgt_<?=$credit_id?>" id="rma_mgt_<?=$credit_id?>" <?if($rma_mgt == 1) echo " checked"?> />
					</td>
					<td align="center">
						<select name="entered_by" id="entered_by_<?=$credit_id?>" class="formSelect">
							<option value="-1">--- SELECT ----</option>
							<?
							foreach ($entered_by_arr as $k=>$v) {
								?>
									<option value="<?=$v['userid']?>" <?if($v['userid'] == $entered_by) echo "SELECTED";?>><?=$v['displayname']?></option>
								<?
							}
							?>
						</select>
					</td>
				</tr>
				
				<?
				$onrow++;
			$numout++;
}
?>
</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		<td align="center"><div align="center"><?=number_format($totalnum,0);?> Credits on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
