<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "TRUNCATE TABLE category_images";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}


$query = "SELECT 
                categories.categories_id,
                categories.categories_image,
                categories.parent_id,
                categories.sort_order,
                categories.date_added,
                categories.last_modified,
                categories.categories_status
            FROM categories ORDER BY categories.categories_id";	
//print_r($query."\n");
if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {
//    print_r($row);
    $img = str_replace(" ", "%20", $row['categories_image']);
    $file = file_get_contents('http://www.therawfoodworld.com/images/'.$img);
    
    $q = "INSERT INTO category_images(catid,thumb,thumb_filename) 
                VALUES('".$row['categories_id']."','".addslashes($file)."','".$row['categories_image']."')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
   
}
?>