<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//$query = "TRUNCATE TABLE product_category_map";	
//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
//
//$query = "SELECT products_id,categories_id
//            FROM products_to_categories ORDER BY products_id";	
////print_r($query."\n");
//if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
//while ($row = mysql_fetch_assoc($qok)) {
//
//     $q = "INSERT INTO product_category_map(pid,catid) 
//                VALUES('".$row['products_id']."','".$row['categories_id']."')";
//    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
//}

$addon = '640';
$query = "SELECT product_list.id,product_category_map.catid,product_categories.catname,product_categories.parentid 
                FROM product_list,product_category_map,product_categories
                WHERE product_list.id=product_category_map.pid AND
                        product_category_map.catid=product_categories.catid ORDER BY product_list.id,product_categories.parentid";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {

}
?>