<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "TRUNCATE TABLE product_list";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
$query = "TRUNCATE TABLE product_search_extended";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
//
$query = "TRUNCATE TABLE product_html";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
$query = "TRUNCATE TABLE product_prices";	
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

$query = "SELECT products_description.products_name,
                products_description.products_description, 
                products.products_id,
                products.products_price,
                products.products_date_added,
                products.products_last_modified,
                products.products_weight,
                products.products_status,
                products.manufacturers_id
            FROM products_description,products WHERE products.products_id = products_description.products_id ORDER BY products.products_id";	
//print_r($query."\n");
if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {
//    print_r($row);
    $date_added = date("Y",  strtotime($row['products_date_added']));
    $last_update = strtotime($row['products_last_modified']);
    $q = "INSERT INTO product_list(id,manid,descr,added_dte,visible,shipweight,lastupdate) 
                VALUES(
                    '".$row['products_id']."',
                    '".$row['manufacturers_id']."',
                    '".addslashes($row['products_name'])."',
                    '".$date_added."',
                    '".$row['products_status']."',
                    '".$row['products_weight']."',
                    '".$last_update."'
                 )";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
    $q = "INSERT INTO product_html(id,data) 
                VALUES('".$row['products_id']."','".addslashes($row['products_description'])."')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
    $q = "INSERT INTO product_search_extended(pid,sitelist) 
                VALUES('".$row['products_id']."','RawFoodWorld')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
     $q = "INSERT INTO product_prices(id,price_level1) 
                VALUES('".$row['products_id']."','".$row['products_price']."')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
}
?>