<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "SELECT products_id,specials_new_products_price
            FROM specials ORDER BY products_id";	
//print_r($query."\n");
if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {
    $queryx = "SELECT price_level1
            FROM product_prices WHERE id='".$row['products_id']."'";	
    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
    $rowx = mysql_fetch_assoc($qokx);
    
    $queryx = "UPDATE product_prices SET price_msrp='".$rowx['price_level1']."', price_level1='".$row['specials_new_products_price']."'
             WHERE id='".$row['products_id']."'";	
    if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
}
?>