<?
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "SELECT products_description.products_name,
                products_description.products_description, 
                products.products_id,
                products.products_price,
                products.products_date_added,
                products.products_last_modified,
                products.products_weight,
                products.products_status,
                products.manufacturers_id
            FROM products_description,products WHERE products.products_id = products_description.products_id ORDER BY products.products_id";	
//print_r($query."\n");
if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {
//    print_r($row);
//    $date_added = date("Y",  strtotime($row['products_date_added']));
    $date_added = strtotime($row['products_date_added']);
    $last_update = strtotime($row['products_last_modified']);

    $q = "UPDATE product_list SET added_dte='$date_added' WHERE id='".$row['products_id']."'";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
    
}
?>