<?
ini_set('memory_limit', '-1');
set_time_limit(9999999999);

REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
//REQUIRE($ROOT_DIR."/classes/siteclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "TRUNCATE TABLE product_images";	
//if(!$qok = mysql_db_query($DB, $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

$query = "SELECT products_image,products_id
            FROM products WHERE products_id >1000926 ORDER BY products_id";	
//print_r($query."\n");
if(!$qok = mysql_db_query("rawfood_import", $query, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
while ($row = mysql_fetch_assoc($qok)) {
//    print_r($row);
    $img = str_replace(" ", "%20", $row['products_image']);
    $file = file_get_contents('http://www.therawfoodworld.com/images/'.$img);
//    print_r($file);
    $size = getimagesize('http://www.therawfoodworld.com/images/'.$img);
//    print_r($size);
//    exit();
     $q = "INSERT INTO product_images(id,idata,itype,thumb,width,height) 
                VALUES('".$row['products_id']."','".addslashes($file)."','0','0','".$size[0]."','".$size[1]."')";
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
}
?>