<?php
set_time_limit(0);
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//$q = "TRUNCATE TABLE product_categories";	
//if(!$qok = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

//$q = "TRUNCATE TABLE product_categories_order";	
//if(!$qok = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}

$q = "SELECT cd.categories_name, cd.categories_description, c.categories_id, c.categories_image, c.parent_id, c.sort_order, c.date_added, c.last_modified, c.categories_status
	  FROM tmp_categories c, tmp_categories_description cd
	  WHERE c.categories_id = cd.categories_id
	  ORDER BY c.categories_id";	
if(!$qok = mysql_db_query($DB, $q, $mysqlid)) { echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit(); }
while ($row = mysql_fetch_assoc($qok))
{
	/*
	$q_insert = "INSERT INTO product_categories (catid, catname, parentid, created, visible)
				 VALUES ('".$row['categories_id']."', '".addslashes($row['categories_name'])."', '".$row['parent_id']."', '".$row['date_added']."', '".$row['categories_status']."')";
	if(!$qok_insert = mysql_db_query($DB, $q_insert, $mysqlid)) { echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit(); }

	$q_insert = "INSERT INTO product_categories_order (catid, dorder)
				 VALUES ('".$row['categories_id']."', '".addslashes($row['sort_order'])."')";
	if(!$qok_insert = mysql_db_query($DB, $q_insert, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
	*/

	// -----------------------------------------------

	/*
	$q_verify = "SELECT COUNT(id)
				 FROM product_categories_description
				 WHERE catid = '".$row['categories_id']."'
				 AND divid = '0'
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
	list($count_verify) = mysql_fetch_array($qok_verify);
	if ($count_verify > 0)
	{
		$q = "UPDATE product_categories_description
			  SET description = '".mysql_real_escape_string($row['categories_description'])."'
			  WHERE catid = '".$row['categories_id']."'
			  AND divid = '0'
			  LIMIT 1";
	}
	else 
	{
		$q = "INSERT INTO product_categories_description (catid, description, divid)
			  VALUES ('".$row['categories_id']."', '".mysql_real_escape_string($row['categories_description'])."', '0')";
	}
	echo $q.'<br />';
	if(!$qok_desc = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
	*/

	$q_verify = "SELECT COUNT(catid)
				 FROM category_images
				 WHERE catid = '".$row['categories_id']."'
				 AND divid = '0'
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
	list($count_verify) = mysql_fetch_array($qok_verify);
	$img = str_replace(" ", "%20", $row['categories_image']);
   	$file = file_get_contents('http://www.therawfoodworld.com/images/'.$img);
	if ($count_verify > 0)
	{
		$q = "UPDATE category_images
			  SET thumb = '".addslashes($file)."', thumb_filename = '".$row['categories_image']."'
			  WHERE catid = '".$row['categories_id']."'
			  AND divid = '0'
			  LIMIT 1";		
	}
	else 
	{
		$q = "INSERT INTO category_images (catid, thumb, thumb_filename)
			  VALUES ('".$row['categories_id']."', '".addslashes($file)."', '".$row['categories_image']."')";
	}	
    if(!$qokx = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$q3";exit();	}
}