<?php
REQUIRE("../config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

// get all products from category Shipping Folder (ID:100314)
$query_pids = "SELECT pid
			   FROM product_category_map
			   WHERE catid = '100314'";	
if(!$qok_pids = mysql_db_query($DB, $query_pids, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query_pids";exit();	}
while (list($pid) = mysql_fetch_array($qok_pids))
{
	// check off "Visible" and "Always In-Stock"
	// add manufacturer id - The Raw Food World (ID 681)
	$q = "UPDATE product_list
		  SET manid = '681', visible = '1', alwaysinstock = '1'
		  WHERE id = '$pid'
		  LIMIT 1";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query_pids";exit();	}

	// update inventory = 999
	$q_verify = "SELECT id
				 FROM product_inventory
				 WHERE id = '$pid'
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query_pids";exit();	}
	if (mysql_num_rows($qok_verify) > 0)
	{
		$q = "UPDATE product_inventory
			  SET inv_available = '999', cost = '0.00'
			  WHERE id = '$pid'
			  LIMIT 1";
		if(!$qok = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query_pids";exit();	}
	}
	else 
	{
		$q = "INSERT INTO product_inventory (id, warehouse, wh_state, inv_available)
			  VALUES ('$pid', 'New', 'XX', '999')";
		if(!$qok = mysql_db_query($DB, $q, $mysqlid)){echo "ERROR: ".mysql_error()."<BR><BR><BR>$query_pids";exit();	}
	}
}