<?php
set_time_limit(0);
if($argv[1] != "")
{
	$ROOT_DIR = $argv[1];
	REQUIRE($ROOT_DIR."/config.phtml");
}
else 
{
	echo "Usage: ./rfw_import_affiliates.phtml root_dir\n";
	exit;
	
}
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

REQUIRE($ROOT_DIR."/classes/customerclass.phtml");
$cclass = new customerClass();
$cclass->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$cclass->db = $MYSQL_DATABASE;

require_once($ROOT_DIR."/mgt/classes/efluentclass.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

REQUIRE($ROOT_DIR."/mgt/em/class.phpmailer.php");

// get affiliates from "jam_members" and "jam_countries"
$q = "SELECT m.member_id, 
			 m.fname, 
			 m.lname, 
			 m.billing_address_1, 
			 m.billing_address_2, 
			 m.billing_city, 
			 m.billing_state, 
			 m.billing_postal_code, 
			 m.home_phone, 
			 m.primary_email, 
			 m.website, 
 			 c.country_iso_code_2 AS country
      FROM jam_members m 
      JOIN jam_countries c ON c.country_id = m.billing_country 
      WHERE m.rawaffimported = '0'
      ORDER BY m.member_id DESC
      LIMIT 20";
if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; } }	
while ($rand = mysql_fetch_object($qok))
{
	// verify if customer exist by email
	$q_verify = "SELECT acctid, fname, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country, COUNT(acctid) 
				 FROM customer_accounts 
				 WHERE emailaddr = '$rand->primary_email' 
				 LIMIT 1";
	if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; } }	
	list($acctid, $fname, $bill2street1, $bill2street2, $bill2city, $bill2state, $bill2zip, $bill2country, $count_verify) = mysql_fetch_array($qok_verify);
	$bill2street1 = addslashes($bill2street1);
	$bill2street2 = addslashes($bill2street2);
	$bill2city = addslashes($bill2city);
	
	if ($count_verify > 0)
	{
		echo 'Customer ' . $rand->primary_email . ' exist.' . "\n";
		
		// check if customer is registered as affiliate
		$q_check = "SELECT COUNT(id) 
					FROM customer_aff 
					WHERE aff_acctid = $acctid
					LIMIT 1";
		if(!$qok_check = mysql_db_query($DB, $q_check, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; } }	
		list($count_check) = mysql_fetch_array($qok_check);
		if ($count_check > 0)
		{}
		else 
		{
			$q_regaff = "INSERT INTO customer_aff (aff_acctid, email, address_street1, address_street2, address_country, address_state, address_city, address_zipcode) 
						 VALUES ('$acctid', '$rand->primary_email', '$bill2street1', '$bill2street2', '$bill2country', '$bill2state', '$bill2city', '$bill2zip')";
			if(!$qok_regaff = mysql_db_query($DB, $q_regaff, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 4 Internal Error"; exit; } }	
		}
		
		// send email to customer
//		$body = 'Hi ' . ucfirst($fname) . '!<br /><br />';
//		$body .= 'Just a quick note to let you know that your store account at The Raw Food World has been upgraded for use for our new affiliate program!<br /><br />';
//		$body .= 'Here is your affiliate link: <a href="http://www.therawfoodworld.com/?aff=' . $acctid . '" title="Your affiliate link" target="_blank">http://www.therawfoodworld.com/?aff=' . $acctid . '</a><br /><br />';
//		$body .= 'You can use the above link right away, but you may want to familiarize yourself with the new affiliate area to see what other options there are.<br /><br />';
//		$body .= 'After you login to your store account, you will see a new menu option in the "My Account" area that reads:<br /><br />';
//		$body .= '"New! The Raw Food World affiliate program"<br /><br />';
//		$body .= 'The first thing you will want to do is configure your payment settings, so we know where to send you your money.<br />';
//		$body .= 'You can find a direct link to that page here:<br /><br />';
//		$body .= '<a href="https://www.therawfoodworld.com/customer/affiliate_payment_settings.phtml" title="Affiliate payment settings" target="_blank">https://www.therawfoodworld.com/customer/affiliate_payment_settings.phtml</a><br /><br />';
//		$body .= 'Be sure to check out the other available options in the Affiliate area.<br /><br />';
//		$body .= 'Again, if you would like to begin promoting right away, please use the link below:<br />';
//		$body .= '<a href="http://www.therawfoodworld.com/?aff=' . $acctid . '" title="Your affiliate link" target="_blank">http://www.therawfoodworld.com/?aff=' . $acctid . '</a><br /><br />';
//		$body .= 'Please note that this new system does not allow you to get commissions from your own purchases, but you will get commissions by referring your friends and family. Just make sure that you are transparent with them, in that you will be receiving commissions from their purchases, in order to stay compliant with affiliate regulations.<br /><br />';
//		$body .= 'Visit The Raw Food World News "TRFW Updates" area to stay up to date with any changes, and for any training videos and documents:<br />';
//		$body .= '<a href="http://news.therawfoodworld.com/topics/blog/trfw-updates" title="The Raw Food World News" target="_blank">http://news.therawfoodworld.com/topics/blog/trfw-updates/</a><br /><br />';
//		$body .= 'Thank you for your interest in promoting The Raw Food World.<br /><br />';
//		$body .= '~ The Raw Food World Team';		
//		
//		ob_start();
//		$mail = new PHPMailer();
//		$mail->do_debug = 2;
//		if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
//		{
//			$mail->IsSMTP(); // telling the class to use SMTP
//			$mail->Host = $efc->getConfigValue("Email Settings", "SMTP"); // SMTP server
//			$mail->Port = $efc->getConfigValue("Email Settings", "SMTPPORT"); 
//			$mail->SMTPAuth = true;
//			$mail->SMTPSecure = $efc->getConfigValue("Email Settings", "SMTPSecure");   
//			$mail->AuthType = "";//CRAM-MD5
//			$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
//			$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
//		}
//		else 
//		{
//			$mail->SMTPAuth = false;
//		}
//		$mail->From     = $efc->getConfigValue("Email Settings", "FROMADDR");
//		$mail->FromName = $efc->getConfigValue("Email Settings", "FROMNAME");
//
//		$mail->AddAddress($rand->primary_email);
//		$mail->AddBCC('marius@efluent.com');
//		
//		$mail->IsHTML(true);	
//		$mail->Subject = "The Raw Food World - Affiliate";
//		$mail->Body = html_entity_decode($body);
//		// $mail->SMTPDebug = 2;		
//
//		if (!$mail->Send())
//		{
//			echo 'Error sending your new password: ' . $mail->ErrorInfo;
//			exit;
//		}
//		ob_clean();
	}
	else 
	{
		// 0 = nothing, no grouping
		$fname = mysql_real_escape_string($rand->fname);
		$lname = mysql_real_escape_string($rand->lname);
		$full_name = $fname . ' ' . $lname;
		$website = mysql_real_escape_string($rand->website);
		$address_1 = mysql_real_escape_string($rand->billing_address_1);
		$address_2 = mysql_real_escape_string($rand->billing_address_2);
		$city = mysql_real_escape_string($rand->billing_city);
		$state = mysql_real_escape_string($rand->billing_state);
		$country = $rand->country;
		
		$levelid = 0;
		$password = $cclass->rand_string(10);
		$password_md5 = md5($password);
		$home_phone = (int) $rand->home_phone;
		
		$q_add = "INSERT INTO customer_accounts (fname, 
												 lname, 
												 emailaddr, 
												 password, 
												 emailspecials, 
												 phone, 
												 website, 
												 bill2name, 
												 bill2street1, 
												 bill2street2, 
												 bill2city, 
												 bill2state, 
												 bill2zip, 
												 ship2name, 
												 ship2street1, 
												 ship2street2, 
												 ship2city, 
												 ship2state, 
												 ship2zip, 
												 created, 
												 bill2country, 
												 ship2country, 
												 levelid)
				  VALUES ('$rand->fname', 
				  		  '$rand->lname', 
				  		  '$rand->primary_email', 
				  		  '$password_md5', 
				  		  '0', 
				  		  '$home_phone', 
				  		  '$website', 
				  		  '$full_name', 
				  		  '$address_1', 
				  		  '$address_2', 
				  		  '$city', 
				  		  '$state', 
				  		  '$rand->billing_postal_code', 
				  		  '$full_name', 
				  		  '$address_1', 
				  		  '$address_2', 
				  		  '$city', 
				  		  '$state', 
				  		  '$rand->billing_postal_code', 
				  		  '".time()."', 
				  		  '$country', 
				  		  '$country', 
				  		  '$levelid')";
		if(!$qok_add = mysql_db_query($DB, $q_add, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 5 Internal Error"; exit; } }	

		// get customer id
		$q_acctid = "SELECT acctid 
					 FROM customer_accounts 
					 WHERE emailaddr = '$rand->primary_email' 
					 LIMIT 1";
		if(!$qok_acctid = mysql_db_query($DB, $q_acctid, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 6 Internal Error"; exit; } }	
		list($acctid) = mysql_fetch_array($qok_acctid);

		echo 'Customer ' . $rand->primary_email . ' (' . $acctid . ') created.' . "\n";
		
		// check if customer is registered as affiliate
		$q_check = "SELECT COUNT(id) 
					FROM customer_aff 
					WHERE aff_acctid = $acctid
					LIMIT 1";
		if(!$qok_check = mysql_db_query($DB, $q_check, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 7 Internal Error"; exit; } }	
		list($count_check) = mysql_fetch_array($qok_check);
		if ($count_check > 0)
		{}
		else 
		{
			$q_regaff = "INSERT INTO customer_aff (aff_acctid, email, address_street1, address_street2, address_country, address_state, address_city, address_zipcode) 
						 VALUES ('$acctid', '$rand->primary_email', '$address_1', '$address_2', '$country', '$state', '$city', '$rand->billing_postal_code')";
			if(!$qok_regaff = mysql_db_query($DB, $q_regaff, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 8 Internal Error"; exit; } }	
		}
		
		// send email to customer
//		$body = 'Dear Raw Food World Affiliates,<br /><br />';
//		$body .= 'We have switched to a new affiliate system, and this is just a quick note to let you know that your affiliate account at The Raw Food World has been created!  Therefore, any old links that you have up on your website needs to be changed, because they won\'t work anymore.<br /><br />';
//		$body .= 'Here is your affiliate link: <a href="http://www.therawfoodworld.com/?aff=' . $acctid . '" title="Your affiliate link" target="_blank">http://www.therawfoodworld.com/?aff=' . $acctid . '</a><br /><br />';
//		$body .= 'You can login to your account at the following link:<br /><br />';
//		$body .= '<a href="https://www.therawfoodworld.com/customer/" title="Customer page" target="_blank">https://www.therawfoodworld.com/customer/</a><br /><br />';
//		$body .= 'Your username is: ' . $rand->primary_email . '<br />';
//		$body .= 'Your temporary password is: ' . $password . '<br /><br />';
//		$body .= 'After logging in, please follow the steps below:<br /><br />';
//		$body .= '1) Please update your account information in the section that reads: "View or change my account information"<br /><br />';
//		$body .= '2) Please create a new password in the section that reads: "Change my account password"<br /><br />';
//		$body .= '3) Then visit the affiliate area by clicking "New! The Raw Food World affiliate program" at the bottom of the "My Account" screen.<br />';
//		$body .= 'From there, please visit the "Payment Settings" screen and fill in all necessary details.<br /><br />';
//		$body .= 'Be sure to also check out the other available options in the Affiliate area.<br /><br />';
//		$body .= 'Again, if you would like to begin promoting right away, please use the link below:<br />';
//		$body .= '<a href="http://www.therawfoodworld.com/?aff=' . $acctid . '" title="Your affiliate link" target="_blank">http://www.therawfoodworld.com/?aff=' . $acctid . '</a><br /><br />';
//		$body .= 'Please note that this new system does not allow you to get commissions from your own purchases, but you will get commissions by referring your friends and family. Just make sure that you are transparent with them, in that you will be receiving commissions from their purchases, in order to stay compliant with affiliate regulations.<br /><br />';
//		$body .= 'Visit The Raw Food World News "TRFW Updates" area to stay up to date with any changes, and for any training videos and documents:<br />';
//		$body .= '<a href="http://news.therawfoodworld.com/topics/blog/trfw-updates" title="The Raw Food World News" target="_blank">http://news.therawfoodworld.com/topics/blog/trfw-updates/</a><br /><br />';
//		$body .= 'Thank you for your interest in promoting The Raw Food World.<br /><br />';
//		$body .= '~ The Raw Food World Team';		
//		
//		ob_start();
//		$mail = new PHPMailer();
//		$mail->do_debug = 0;
//		if($efc->getConfigValue("Email Settings", "SMTPUSER") != "")
//		{
//			$mail->IsSMTP(); // telling the class to use SMTP
//			$mail->Host = $efc->getConfigValue("Email Settings", "SMTP"); // SMTP server
//			$mail->Port = $efc->getConfigValue("Email Settings", "SMTPPORT"); 
//			$mail->SMTPAuth = true;
//			$mail->SMTPSecure = $efc->getConfigValue("Email Settings", "SMTPSecure");   
//			$mail->AuthType = "";//CRAM-MD5
//			$mail->Username = $efc->getConfigValue("Email Settings", "SMTPUSER");
//			$mail->Password = $efc->getConfigValue("Email Settings", "SMTPPASS");
//		}
//		else 
//		{
//			$mail->SMTPAuth = false;
//		}
//		
//		$mail->From     = $efc->getConfigValue("Email Settings", "FROMADDR");
//		$mail->FromName = $efc->getConfigValue("Email Settings", "FROMNAME");
//
//		$mail->AddAddress($rand->primary_email);
//		$mail->AddBCC('marius@efluent.com');
//
//		$mail->IsHTML(true);
//		$mail->Subject = "The Raw Food World - Affiliate";
//		$mail->Body = html_entity_decode($body);
//		// $mail->SMTPDebug = 2;		
//		
//		if (!$mail->Send())
//		{
//			echo 'Error sending your new password: ' . $mail->ErrorInfo;
//			exit;
//		}
//		ob_clean();
	}
	
	// flag affiliate, email sent
	$q_flag = "UPDATE jam_members 
			   SET rawaffimported = '1' 
			   WHERE member_id = $rand->member_id 
			   LIMIT 1";
	if(!$qok_flag = mysql_db_query($DB, $q_flag, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 9 Internal Error"; exit; } }	
}