<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
		
	return $data;
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
	var ebcampid = document.logsearch.ebcampid.options[ document.logsearch.ebcampid.selectedIndex ].value;
	var pid = document.logsearch.pid.value;
	var listid = document.logsearch.listid.options[ document.logsearch.listid.selectedIndex ].value;
	var keywords = document.logsearch.keywords.value;

	var bdate = document.logsearch.bdate.value;
	var edate = document.logsearch.edate.value;
	var disable_range = document.logsearch.disable_range.checked;
	
	var num2return = document.logsearch.num2return.options[ document.logsearch.num2return.selectedIndex ].value;
	
	var url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&sid="+Math.random();
*/

function add2Query($add2query, $addon)
{
	if($addon == "")
		$addon .= $add2query;
	else 
		$addon .= " AND $add2query ";
		
	return $addon;
}

if($ebcampid != "")
	$addon = add2Query("ebay_log.ebcampid = '$ebcampid'", $addon);

if($pid != "")
	$addon = add2Query("ebay_log.pid = '$pid'", $addon);
	
if($keywords != "")
{
	$kwaddon = "";
	$keywords = sanitizeInput($keywords);
	$kwlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($kwlist); $xx++)
	{
		$word = $kwlist[$xx];
		
		if($word != "")
		{
			if($kwaddon == "")
				$kwaddon = " (ebay_log.title like '%$word%' ";
			else 
				$kwaddon .= " OR ebay_log.title like '%$word%' ";
		}
		
	}
	
	$kwaddon .= ")";
	
	$addon = add2Query($kwaddon, $addon);
}
	
if($disable_range != "true")
{
	if($bdate != "") $addon = add2Query(" ebay_log.tstamp >= '".date("Y-m-d H:i:s", strtotime("$bdate 00:00:00"))."' ", $addon);
	if($edate != "") $addon = add2Query(" ebay_log.tstamp <= '".date("Y-m-d H:i:s", strtotime("$edate 23:59:59"))."' ", $addon);
}

$_SESSION['ebay_log_msg'] = array();
$msgaddon_table = $msgaddon='';
if(is_array($msg) && count($msg)>0) {
    $msgaddon_table = ',ebay_log_extended';
    $msgaddon = " AND ebay_log_extended.lid = ebay_log.id AND ebay_log_extended.type='response'";
    foreach($msg as $k=>$v) {
       array_push($_SESSION['ebay_log_msg'], $v); 
       $msgaddon .= " AND ebay_log_extended.data LIKE '%".$v."%'";
    }
}


if($addon != "")
	$query = "select ebay_log.id, ebay_log.tstamp, ebay_log.ebcampid, ebay_log.title, ebay_log.listid, ebay_log.pid, ebay_log.userid from ebay_log $msgaddon_table where $addon $msgaddon order by ebay_log.id desc";
else 
	$query = "select ebay_log.id, ebay_log.tstamp, ebay_log.ebcampid, ebay_log.title, ebay_log.listid, ebay_log.pid, ebay_log.userid from ebay_log $msgaddon_table WHERE 1 $msgaddon order by ebay_log.id desc";
	


if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$numrows = mysql_num_rows($qok);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
if($num2return != '') {
    $ITEMS_PER_PAGE = $num2return;
}
else {  
    $ITEMS_PER_PAGE = 50;
}
$numpages = 0;
			
if(intval($p) == 0)	$p = 1;
			
$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
$numpages = sprintf("%.00f", $numpages );
				
$nextpage = $lastpage = 0;
				
if(($p + 1) <= $numpages)$nextpage = $p + 1;
if(($p - 1) >= 1)$lastpage = $p - 1;
						
$offset = ($p - 1) * $ITEMS_PER_PAGE;
if($numrows > 0) 
$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
if($eview > $numrows)
	$eview = $numrows;
//if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
?>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
    <td align="center">
        CLEAN removes from log and CLEAR will clear eBay tables
    </td>
</tr>
</table>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($numrows,0);?> Log Entries on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<table width=100%>
<tr bgcolor="#eeeeee">
	<td height=21><B>ID</B></td>
	<td height=21><B>Request</B></td>
	<td height=21><B>Response</B></td>
	<td height=21><B>Time Stamp</B></td>
	<td height=21><B>eBay Camaign</B></td>
	<td height=21><B>Title</B></td>
	<td height=21><B>List ID</B></td>
	<td height=21><B>PID</B></td>
	<td height=21><B>User</B></td>
         <td height=21 colspan="2" nowrap align="center">
            <B>Clear</B> <br />
            <input type="checkbox" class="clearAllAuto" onclick="checkClearAll()"/><a href="javascript:void(0)" onclick="removeCheckedClear()">Clean</a>
        </td>
        <td height=21 colspan="2" nowrap align="center">
            <B>Clean</B> <br />
            <input type="checkbox" class="cleanAllAuto" onclick="checkCleanAll()"/><a href="javascript:void(0)" onclick="removeCheckedClean()">Clean</a>
        </td>
	<td height=21 colspan="2" nowrap align="center">
            <B>Delete</B><br />
            <input type="checkbox" class="deleteAllAuto" onclick="checkDeleteAll()" /> <a href="javascript:void(0)" onclick="removeCheckedDelete()">Delete</a>
        </td>
</tr>
<?
if(mysql_num_rows($qok)<=0) {
    ?>
    <tr>
        <td height=21 colspan="11">No products found</td>
    </tr>
    <?
}
else {
$numout = 0;
while((list($id, $tstamp, $ebcampid, $title, $listid, $pid, $userid) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE))
{
/*	if(strlen($title) > 50)
		$title = substr($title, 0, 47)."...";
*/	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$id;?></td>
		<td height=21>
			<?
			$query = "select id from ebay_log_extended where lid = '$id' and type = 'request'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) > 0)
			{
				list($extid) = mysql_fetch_array($q2ok);
				?>
				<a href="/mgt/ebay/viewlog_extended.phtml?extid=<?=$extid;?>" target="_blank">View</a>
				<?
			}
			else 
			{
				echo "<I>n/a</I>";
			}
			?>
		</td>
		<td height=21>
			<?
			$query = "select id from ebay_log_extended where lid = '$id' and type = 'response'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($q2ok) > 0)
			{
				list($extid) = mysql_fetch_array($q2ok);
				?>
				<a href="/mgt/ebay/viewlog_extended.phtml?extid=<?=$extid;?>" target="_blank">View</a>
				<?
			}
			else 
			{
				echo "<I>n/a</I>";
			}
			?>
		
		</td>
		<td height=21><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
		<td height=21>
			<?
			$query = "select campaign_name from ebay_campaigns where id = '$ebcampid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			if(mysql_num_rows($q2ok) > 0)
			{
				list($campaign_name) = mysql_fetch_array($q2ok);
				
				if(strlen($campaign_name) > 30)
					$campaign_name = substr($campaign_name, 0, 27)."...";
				?>
				<a href="/mgt/ebay/campaign_edit.phtml?ebaycampaignid=<?=$ebcampid;?>" target="_new"><?=$campaign_name;?> <?=$ebcampid;?></a>
				<?
			}
			else 
			{
				if($ebcampid == 0)
					echo "<I>Deleted (single sku) Campaign (ID: $ebcampid)</I>";
				else 
					echo "<I>CompleteSale</I>";
			}
			?>
		</td>
		<td height=21><?=$title;?></td>
		<td height=21>
			<?
			if(intval($listid) > 0)
			{
				$query = "select list_title from lists where lid = '$listid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($list_name) = mysql_fetch_array($q2ok);
				?>
				<a href="/mgt/lm/list_edit.phtml?lid=<?=$listid;?>" target="_new"><?=$list_name;?></a>
				<?
			}
			else 
			{
				?><I>n/a</I><?
			}
			?>
		</td>
		<td height=21>
			<?
			if(intval($pid) > 0)
			{
				?>
				<a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></a>
				<?
			}
			else 
			{
				?>
				<I>n/a</I>
				<?
			}
			?>
		</td>
		<td height=21>
			<?
			if(intval($userid) > 0)
			{
				echo $efc->getRepName($userid);
			}
			else 
			{
				echo "AUTO";
			}
			?>
		</td>
                 <td height=21>
                    <input type="checkbox" class="clearElem" id="check_clear_<?=$id.'_'.$listid.'_'.$pid?>" /> <br />
                </td>
                <td height=21 align="center">
                    <a href="javascript:void(0)" onclick="clearLog('<?=$id?>','<?=$listid?>','<?=$pid?>')" id="rem_clear_<?=$id?>">
                        <img src="/mgt/images/del.gif" />
                    </a>
                </td>
                <td height=21>
                    <input type="checkbox" class="cleanElem" id="check_clean_<?=$id.'_'.$listid.'_'.$pid?>" /> <br />
                </td>
                <td height=21 align="center">
                    <a href="javascript:void(0)" onclick="cleanLog('<?=$id?>','<?=$listid?>','<?=$pid?>')" id="rem_clean_<?=$id?>">
                        <img src="/mgt/images/del.gif" />
                    </a>
                </td>
                <td height=21>
                    <input type="checkbox" class="deleteElem" id="check_delete_<?=$id.'_'.$listid.'_'.$pid?>" /> <br />
                </td>
                <td height=21 align="center">
                     <a href="javascript:void(0)" onclick="deleteLog('<?=$id?>','<?=$listid?>','<?=$pid?>')" id="rem_delete_<?=$id?>">
                        <img src="/mgt/images/del.gif" />
                    </a>
                </td>
	</tr>
	<?
	$numout++;
}
}
?>
</table>
<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
<tr>
	<?
	/*url="/mgt/ebay/ajax_logsearch.phtml";
	url += "?ebcampid="+ebcampid;
	url += "&pid="+pid;
	url += "&listid="+listid;
	url += "&keywords="+escape(keywords);
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;*/
	
	if($lastpage != "")
		echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"gotoPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
	          
	<td align="center"><div align="center"><?=number_format($numrows,0);?> Log Entries on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	<?
	if($nextpage != "") 
		echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"gotoPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
	else 
		echo "<td>&nbsp;&nbsp;</td>";
	?>
</tr>
</table>
<?mysql_close();?>