<?
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
var url="/mgt/ebay/ajax_addoption.phtml";
url += "?code="+code;
url += "&shipping="+shipping;
url += "&addon="+addon;
url += "&campid=<?=ebaycampaignid;?>";
url += "&Action=Add";
*/

if($Action == "Add")
{
	$query = "insert into ebay_campaign_methods(campid, code, shipping, addon) values('$campid', '$code', '$shipping', '$addon')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
else if($Action == "Delete")
{
	$query = "delete from ebay_campaign_methods where id = '$ebcm'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}


$query = "select id, code, shipping, addon from ebay_campaign_methods where campid = '$campid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

if(mysql_num_rows($qok) > 0)
{
	?>
	<BR><BR>
	<B>Additional Options</B>
	<table width=100%>
	<tr>
		<td bgcolor="#eeeeee" align=center>Method</td>
		<td bgcolor="#eeeeee" align=center>Shipping</td>
		<td bgcolor="#eeeeee" align=center>Addon</td>
		<td bgcolor="#eeeeee" align=center>Delete</td>
	</tr>
	<?
	
	while(list($id, $code, $shipping, $addon) = mysql_fetch_array($qok))
	{
		?>
		<tr>
			<td><?=$code;?></td>
			<td align=right><?=number_format($shipping, 2);?></td>
			<td align=right><?=number_format($addon, 2);?></td>
			<td align=right><a href="javascript:void(0);" onclick="deleteMethod('<?=$id;?>');"><img src="/mgt/images/del.gif" border=0></a></td>
		</tr>
		<?
	}
	?>
	
	</table>
<?
}

mysql_close();
?>