<?
set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
		
	return $data;
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/*
	url += "?type="+type;
	
	url += "&invoiceid="+invoiceid;
	url += "&ebayacctid="+ebayacctid;
	url += "&txid="+txid;
	
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&sid="+Math.random();
*/

function add2Query($add2query, $addon)
{
	if($addon == "")
		$addon .= $add2query;
	else 
		$addon .= " AND $add2query ";
		
	return $addon;
}
?>
<table width=100%>
<tr bgcolor="#eeeeee">
	<td height=21><B>Feedback ID</B></td>
	<td height=21><B>Date/Time</B></td>
	<td height=21><B>Invoice</B></td>
	<td height=21><B>eBay Acct ID</B></td>
	<td height=21><B>Username</B></td>
	<td height=21><B>Transaction ID</B></td>
	<td height=21><B>Type</B></td>
	<td height=21><B>Comment</B></td>
</tr>
<?
if($type != "")
	$addon = add2Query("type = '$type'", $addon);

if($invoiceid != "")
{
	$orderid = $efc->getOrderNumber($invoiceid);
	$addon = add2Query("orderid = '$orderid'", $addon);
}
	
if($ebayacctid != "")
	$addon = add2Query("ebayacctid = '$ebayacctid'", $addon);

if($txid != "")
	$addon = add2Query("txid = '$txid'", $addon);

if($keywords != "")
{
	$kwaddon = "";
	$keywords = sanitizeInput($keywords);
	$kwlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($kwlist); $xx++)
	{
		$word = $kwlist[$xx];
		
		if($word != "")
		{
			if($kwaddon == "")
				$kwaddon = " (comment like '%$word%' OR username like '%$word%' ";
			else 
				$kwaddon .= " OR comment like '%$word%' OR username like '%$word%' ";
		}
		
	}
	
	$kwaddon .= ")";
	
	$addon = add2Query($kwaddon, $addon);
}
	
if($disable_range != "true")
{
	if($bdate != "") $addon = add2Query(" tstamp >= '".date("Y-m-d H:i:s", strtotime("$bdate 00:00:00"))."' ", $addon);
	if($edate != "") $addon = add2Query(" tstamp <= '".date("Y-m-d H:i:s", strtotime("$edate 23:59:59"))."' ", $addon);
}

if($addon != "")
	$query = "select feedbackid, tstamp, ebayacctid, username, txid, type, comment, orderid from ebay_feedback where $addon order by tstamp desc";
else 
	$query = "select feedbackid, tstamp, ebayacctid, username, txid, type, comment, orderid from ebay_feedback order by tstamp desc";
	

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while(list($feedbackid, $tstamp, $ebayacctid, $username, $txid, $type, $comment, $orderid) = mysql_fetch_array($qok))
{
	?>
	<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
		<td height=21><?=$feedbackid;?></td>
		<td height=21><?=date("Y-m-d H:i:s", strtotime($tstamp));?></td>
		<td height=21>
			<a href="javascript:void(0);" onclick="e2window('/mgt/om/vieworder.phtml?on=<?=$orderid;?>&inwin=1', 'View Order: <?=$orderid;?>');">	
				<?=$efc->getInvoicefromOrderNo($orderid);?>
			</a>
		</td>
		<td height=21><?=$ebayacctid;?></td>
		<td height=21><?=$username;?></td>
		<td height=21><?=$txid;?></td>
		<td height=21><?=$type;?></td>
		<td height=21><?=$comment;?></td>

	</tr>
	<?
}
?>	
</table>
<?mysql_close();?>