<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

set_time_limit(99999999);

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

function sanitizeInput($data) 
{
	$data = str_replace("\"", "", $data);
	$data = str_replace("'", "", $data);
	$data = str_replace(")", "", $data);
	$data = str_replace("(", "", $data);
	$data = str_replace(";", "", $data);
	$data = str_replace("|", "", $data);
	$data = str_replace("<", "", $data);
	$data = str_replace(">", "", $data);
		
	return $data;
}
function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
}

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

function add2Query($add2query, $addon)
{
	if($addon == "")
		$addon .= $add2query;
	else 
		$addon .= " AND $add2query ";
		
	return $addon;
}

if($ebcampid != "")
	$addon = add2Query("ebay_log.ebcampid = '$ebcampid'", $addon);

if($pid != "")
	$addon = add2Query("ebay_log.pid = '$pid'", $addon);
	
if($keywords != "")
{
	$kwaddon = "";
	$keywords = sanitizeInput($keywords);
	$kwlist = explode(" ", $keywords);
	
	for($xx = 0; $xx < count($kwlist); $xx++)
	{
		$word = $kwlist[$xx];
		
		if($word != "")
		{
			if($kwaddon == "")
				$kwaddon = " (ebay_log.title like '%$word%' ";
			else 
				$kwaddon .= " OR ebay_log.title like '%$word%' ";
		}
		
	}
	
	$kwaddon .= ")";
	
	$addon = add2Query($kwaddon, $addon);
}
	
if($disable_range != "true")
{
	if($bdate != "") $addon = add2Query(" ebay_log.tstamp >= '".date("Y-m-d H:i:s", strtotime("$bdate 00:00:00"))."' ", $addon);
	if($edate != "") $addon = add2Query(" ebay_log.tstamp <= '".date("Y-m-d H:i:s", strtotime("$edate 23:59:59"))."' ", $addon);
}

if($addon != "")
	$query = "select id, tstamp, ebcampid, title, listid, pid, userid from ebay_log where $addon order by id desc";
else 
	$query = "select id, tstamp, ebcampid, title, listid, pid, userid from ebay_log order by id desc";
	

if($addon != "")
    $query = "select ebay_log_extended.data from ebay_log,ebay_log_extended where $addon AND ebay_log_extended.lid=ebay_log.id AND ebay_log_extended.type='response' order by ebay_log.id desc";
else 
    $query = "select ebay_log_extended.data from ebay_log,ebay_log_extended where where ebay_log_extended.lid=ebay_log.id AND ebay_log_extended.type='response' order by ebay_log.id desc";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
//  print_r($query);
$long_msg = array();
?>
<table width=100%>
<?
$k = 0;
while((list($data) = mysql_fetch_array($qok)))
{
//    print_r($data);
    $res = xml2array($data);
//    print_r($res);
    $check_tmp = false;
    if(isset($res['ReviseItemResponse'])) {
        $m_arr = split(':', $res['ReviseItemResponse']['Errors']['LongMessage']['value']);
        if(count($m_arr)==1) {
           $m_arr = split('"', $res['ReviseItemResponse']['Errors']['LongMessage']['value']); 
        }
    }
    else {
        $m_arr = split(':', $res['ReviseInventoryStatusResponse']['Errors']['LongMessage']['value']);
        if(count($m_arr)==1) {
           $m_arr = split('"', $res['ReviseInventoryStatusResponse']['Errors']['LongMessage']['value']); 
        }
    }
    
    
    $m = $m_arr[0];
    
    if(isset($_SESSION['ebay_log_msg']) && count($_SESSION['ebay_log_msg'])) {
        foreach ($_SESSION['ebay_log_msg'] as $x=>$y) {
            if($y == $m) {
                $check_tmp = true;
                break;
            }
        }
    }
    if($m != '') {
        if(count($long_msg)>0) {
            $tmp = true;
            foreach ($long_msg as $xx=>$yy) {
                if($yy == $m) {
                    $tmp = false;
                    break;
                }
            }
            if($tmp === true) {
                array_push($long_msg, $m);
                ?>
                <tr bgcolor="#eeeeee">
                    <td height=21>
                        <input type="checkbox" id="msg_check_<?=$k?>" class="msgCheck" <?if($check_tmp === true){echo " checked";}?> />
                    </td>
                    <td height=21 id="msg_val_<?=$k?>"><?=$m?></td>
                </tr>
                <?
                 $k++;
            }
        }
        else {
            array_push($long_msg, $m);
            ?>
            <tr bgcolor="#eeeeee">
                 <td height=21>
                    <input type="checkbox" id="msg_check_<?=$k?>" class="msgCheck" <?if($check_tmp === true){echo " checked";}?> />
                </td>
                <td height=21 id="msg_val_<?=$k?>"><?=$m?></td>
            </tr>
            <?
             $k++;
        }
    }
}
//print_r($long_msg);
mysql_close();?>
</table>