<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($Action == "Delete")
{
	$query = "select count(*) from ebay_listings where ecampid = '$ebaycampaignid' AND active = '1'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($numlistings) = mysql_fetch_array($q2ok);	
	
	if($numlistings <= 0)
	{
		$query = "delete from ebay_campaigns where id = '$ebaycampaignid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$query = "delete from ebay_listings where ecampid = '$ebaycampaignid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		Header("Location: /mgt/ebay/default.phtml");
	}
	
}
?>
<HTML>
<HEAD>
<TITLE>eBay Campaign Manager</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
</HEAD>
<script>
function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}
</STYLE>
</HEAD>
<?
if($type == "")
	$type = "list";
?>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>eBay Campaigns - <?if($type == "list") 
								{?>(<a href="/mgt/ebay/default.phtml?type=pid">Click here to view PID listings</a>)<?}else
								{?>(<a href="/mgt/ebay/default.phtml">Click here to view campaigns</a>)<?}?></B>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Campaign</a>
		<BR><BR>
		<table id="results" width=100% class="sortable">
		<tr bgcolor="#eeeeee">
			<th height=21 >ID</th>
			<th class="sortable_caseinsensitive">Campaign Name</th>
			<th class="sortable_caseinsensitive">Store</th>
			<th class="sortable_caseinsensitive">Active</th>
			<th class="sortable_caseinsensitive">Begin/End</th>
			<th class="sortable_caseinsensitive">Auto-Relist</th>
			<th class="sortable_caseinsensitive">Listing Type</th>
			<th class="sortable_caseinsensitive">Duration</th>
			<th class="sortable_caseinsensitive">Dispatch</th>
			<th class="sortable_caseinsensitive">Qty</th>
			<th class="sortable_caseinsensitive">Qty Control</th>
			<th class="sortable_caseinsensitive">Camapign Type</th>
			<th class="sortable_caseinsensitive">PID/ListID</th>
			<th class="sortable_caseinsensitive">Errors</th>
			<th class="sortable_caseinsensitive"># Listings</th>
			<th class="sortable_caseinsensitive">Delete</th>
		</tr>
		<?
		$query = "select id, campaign_name, active, begindate, enddate, auto_relist, listing_type, item_title, item_subtitle, ebay_template, listing_duration,
					starting_price, buyitnow_price, quantity, qty_control, campaign_type, pid, listid, lastupdate, divid,dispatch_time from ebay_campaigns where
					campaign_type = '$type'
					order by campaign_name";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($id, $campaign_name, $active, $begin_date, $end_date, $auto_relist, $listing_type, $item_title, $item_subtitle, $ebay_template, $listing_duration,
					$starting_price, $buyitnow_price, $quantity, $qty_control, $campaign_type, $pid, $listid, $lastupdate, $divid,$dispatch_time) = mysql_fetch_array($qok))
		{
			// ebay_campaigns.lastupdate != ebay_campaigns_lastmod.lastupdate
		?>
			<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
				<td height=21><a href="campaign_edit.phtml?ebaycampaignid=<?=$id;?>"><?=$id;?></td>
				<td align=center>
					<?
					$query = "select lastupdate from ebay_campaigns_lastmod where campid = '$id'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($lastmod) = mysql_fetch_array($q2ok);
					
					if($lastupdate != $lastmod)
					{
						if(!file_exists("/tmp".$id.".lock"))
							echo "<font color='#ff0000'><B>$campaign_name</B></font>";
						else 
							echo "<font color='#00ff00'><B>$campaign_name</B></font>";
					}
					else 
						echo $campaign_name;
					?>
				</td>
				<td align=center>
					<?
					$query = "select sitename from site_list where divid = '$divid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($sitename) = mysql_fetch_array($q2ok);
					
					echo $sitename;
					?>
				</td>				
				<td align=center><?if($active == 1) echo "Yes"; else echo "No";?></td>
				<td align=center>
					<?
					if( ($begin_date != "" || $end_date != "") &&
					    ($begin_date != "0000-00-00 00:00:00" && $end_date != "0000-00-00 00:00:00"))
					{
						$bdate = date("m/d/Y", strtotime($begin_date));
						$edate = date("m/d/Y", strtotime($end_date));
						
						echo "$bdate - $edate";
					}
					else 
					{
						echo "n/a";
					}
					?>
				</td>
				<td align=center><?if($auto_relist == 1) echo "Yes"; else echo "No";?></td>
				<td align=center><?=$listing_type;?></td>
				<td align=center class="sortable_numeric"><?=$listing_duration;?></td>
				<td align=center class="sortable_numeric"><?=$dispatch_time;?></td>
				<td align=center class="sortable_numeric"><?=$quantity;?></td>
				<td align=center><?=$qty_control;?>%</td>
				<td align=center><?=$campaign_type;?></td>
				<td align=center>
					<?
					if($campaign_type == "list")
					{
						$query = "select list_title from lists where lid = '$listid'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($list_title) = mysql_fetch_array($q2ok);
						echo "$list_title";
					}
					else 
					{
						echo "PID: $pid";
					}
					?>
				</td>
				<td height=21 align=center class="sortable_numeric">
					<a href="view_errors.phtml?ebaycampaignid=<?=$id;?>">
						<?
						$query = "select count(*) from ebay_errors where ebaycampid = '$id' AND resolved = '0'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numerrors) = mysql_fetch_array($q2ok);
						
						echo "$numerrors";
						?>
					</a>
				</td>
				<td height=21 align=right class="sortable_numeric">
					<a href="view_listings.phtml?ebaycampaignid=<?=$id;?>">
						<?
						$query = "select count(*) from ebay_listings where ecampid = '$id' AND active = '1'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($numlistings) = mysql_fetch_array($q2ok);
						
						echo "$numlistings";
						?>
					</a>
				</td>
				
				<td heigh=21 align=center>
					<?
					if($numlistings <= 0)
					{
						?>
						<a href="javascript:void(0);" onclick="makesure('Are you sure you want to delete this campaign?', '/mgt/ebay/default.phtml?Action=Delete&ebaycampaignid=<?=$id;?>')">
							<img src="/mgt/images/del.gif">
						</a>
						<?
					}
					?>
				</td>
			</tr>
		<?
		}
		?>
		</table>
		<BR><BR>
		<I>* Campaign Names in Red are set to update on the next run</I><BR>
		<I>* Campaign Names in Green are currently running</I>
		<BR><BR>
		<a href="javascript:void(0);" onclick="createCampaign();">Create New Campaign</a>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

<div id="saveform" class="dialog">
<form name="mysaveform" method="GET" action="/mgt/ebay/campaign_edit.phtml">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Create Campagin:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td class="sm">
				(campaign title - you can modify this later)
			</td>		
		</tr>		
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>	
	
</body>
</html>
<?mysql_close();?>