<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table>
	<tr>
		<td><a href="/mgt/ebay/">eBay Campaigns</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/ebay/templates.phtml">eBay Templates</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/ebay/ebay_log.phtml">eBay Log</a></td> 
		<td>&nbsp;&nbsp;</td>
		<td><a href="/mgt/ebay/feedback_log.phtml">eBay Feedback</a></td> 
	</tr>
	</table>
	</div>
</div>