		<?
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		$query = "select count(*) from ebay_errors where ebaycampid = '$ebaycampaignid' AND resolved = '0'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($numerrors) = mysql_fetch_array($q2ok);
		
		$query = "select count(*) from ebay_listings where ecampid = '$id' AND active = '1'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($ebaycampaignid["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($numlistings) = mysql_fetch_array($q2ok);
		
		?>
		<div style="width:100%;height:21px;padding-top:2px;border:1px solid #808080;background-color:#ffeeee;">
			<table>
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			
				<td>
					<a href="view_listings.phtml?ebaycampaignid=<?=$ebaycampaignid;?>">
						<B>There are <?=$numlistings;?> items Listed.</B>
					</a>
				
				</td>

				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				
				<td>
					<a href="view_errors.phtml?ebaycampaignid=<?=$ebaycampaignid;?>">
						<B>There are <?=$numerrors;?> unresolved listing errors.</B>
					</a>
				</td>
			</tr>
			</table>
			
		</div>
		<?
		////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		?>