<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

//////////////////////////////////////////////////////////////////////////////////////////
// eBay Provided Stuff
REQUIRE($ROOT_DIR."/mgt/ebay/classes/keys.php");
REQUIRE($ROOT_DIR."/mgt/ebay/classes/eBaySession.php");
//////////////////////////////////////////////////////////////////////////////////////////

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;


if(intval($pid) <= 0)
{
	echo "ENTER THE PID => specifics.phtml?pid=XXXX<BR>";
	exit;
}

$ebaycat = $ebc->getebayCategory($pid);

$query = "select cdid from ebay_catdetail_exclude where excatid = '$ebaycat'";
if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if(mysql_num_rows($qok) > 0)
{
	echo "EXCLUDED<BR>";
	exit;
}

$query = "select catalogenabled, attributesetname, attributesetid, attributesetversion, swattributesetname, swattributesetid, swattributesetversion 
	from ebay_catdetail where ebcatid = '$ebaycat'";
if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($catalogenabled, $attributesetname, $attributesetid, $attributesetversion, $swattributesetname, $swattributesetid, $swattributesetversion) = mysql_fetch_array($qok);

if($catalogenabled == 1)
{
	echo "Attribute Enabled (SETNAME: $attributesetname SETID: $attributesetid  SETNAME: $attributesetid VERSION: $attributesetversion)<BR>";
	
	$query = "select id, labelid, label, edittype from ebay_item_specifics where attributesetid = '$attributesetid' and attributesetversion = '$attributesetversion'";
	if(!$qok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($isid, $labelid, $label, $edittype) = mysql_fetch_array($qok))
	{
		echo "$label (ID: $labelid TYPE: $edittype)<BR>";
		
		echo "<UL>";
		$query = "select vid, vname from ebay_item_specifics_values where 
								attributesetid = '$attributesetid' and 
								attributesetversion = '$attributesetversion' and 
								isid = '$isid'";							
		if(!$q2ok = mysql_db_query("ebay", $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($vlid, $vlname) = mysql_fetch_array($q2ok))
		{
			echo "<LI>$vlname ($vlid)";
		}
		
		echo "</UL>";
	}
}
else 
{
	echo "Custom Specifics<BR>";
}
?>
<?mysql_close();?>
