<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
REQUIRE($ROOT_DIR."/mgt/classes/ebayclass.phtml");
$ebc = new ebayClass();
$ebc->db = $DB;
$ebc->mysqlid = $mysqlid;
$ebc->efc = $efc;
$ebc->ROOT_DIR = $ROOT_DIR;

$efc->hasPermission("perm_edit_ebay"); // will redirect on failure

if($action == 'set_nr_per') {

    $_SESSION['ERRORS_PER_PAGE'] = $nr_val;
    exit();
}

if(!isset($_SESSION['ERRORS_PER_PAGE']) || $_SESSION['ERRORS_PER_PAGE']=='') {
    $_SESSION['ERRORS_PER_PAGE'] = 50;
}


if($Action == "MarkSimilarResolved")
{
	if(stristr($msg, "Error: 17"))
	{
		$query = "update ebay_errors, ebay_errors_extended 
				set resolved = '1' where 
				ebay_errors.ebaycampid = '$ebaycampaignid' and
				ebay_errors.id = ebay_errors_extended.eid and
				ebay_errors_extended.message like '%Error: 17%'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		Header("Location: /mgt/ebay/view_errors.phtml?ebaycampaignid=$ebaycampaignid&x=y");
		
	}
	else 
	{
		$query = "update ebay_errors, ebay_errors_extended 
				set resolved = '1' where 
				ebay_errors.ebaycampid = '$ebaycampaignid' and
				ebay_errors.id = ebay_errors_extended.eid and
				ebay_errors_extended.message = '".addslashes($msg)."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		Header("Location: /mgt/ebay/view_errors.phtml?ebaycampaignid=$ebaycampaignid");
	}
	
	
	
}
else if($Action == "MarkSynced")
{
	$query = "select ebay_errors.id, ebay_errors.pid
					WHERE
					ebay_errors.pid = product_list.id AND
					product_list.manid = product_manufacturers.manid AND
					ebay_errors.id = ebay_errors_extended.eid AND
					ebay_errors.resolved = 0 AND
					ebay_errors.ebaycampid = '$ebaycampaignid' AND
					ebay_errors_extended.message like 'Error: 196%'";
	
}

$query = "select id, campaign_name, active, begindate, enddate, auto_relist, listing_type, item_title, item_subtitle, ebay_template, listing_duration,
			starting_price, buyitnow_price, quantity, qty_control, campaign_type, pid, listid from ebay_campaigns where id= '$ebaycampaignid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($id, $campaign_name, $active, $begin_date, $end_date, $auto_relist, $listing_type, $item_title, $item_subtitle, $ebay_template, $listing_duration,
				$starting_price, $buyitnow_price, $quantity, $qty_control, $campaign_type, $pid, $listid) = mysql_fetch_array($qok);
				
$query = "select list_title from lists where lid = '$listid'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($list_title) = mysql_fetch_array($q2ok);				
?>
<HTML>
<HEAD>
<TITLE>Listing Errors</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function createCampaign()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 50;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}

}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function makesure(msg, url) 
{
	var answer = confirm(msg)
	if (answer)
	{
		window.location = url;
	}

}

function markResolved(id)
{
	xmlHttp=GetXmlHttpObject();
	
	var url = "/mgt/ebay/ajax_markresolved.phtml?errorid="+id+"&sid="+Math.random();
	xmlHttp.onreadystatechange=resolvedResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function resolvedResult()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		document.getElementById("resolved"+data[0]).innerHTML = data[1];
	}
}
function removeError(ebayErrorId,pid,listid) {
    var answer = confirm('Are you sure?')
    if (answer)
    {
       $.get("/mgt/ebay/remove_error.phtml", 
            {
                'pid':pid,
                'errorid':ebayErrorId,
                'listid':listid
            },function(data){
                $('#rem_'+ebayErrorId+'_'+pid).remove();
//                location.reload();
	});
    }
}
function setItemsPerPage(nrVal) {
    $.get("/mgt/ebay/view_errors.phtml", 
        {
            'nr_val':nrVal,
            'action':'set_nr_per'
        },function(data){
            location.reload();
    });
}
function checkRemoveAll() {
   $(".removeElem").attr('checked', $('.checkAllAuto').is(':checked'));   
}
function removeChecked() {
    var answer = confirm('Are you sure?')
    if (answer)
    {
        var req = '';
       $(".removeElem").each(function(){
           if($(this).is(':checked')){
               req += $(this).attr('id')+',';
           }
       });
       
       $.post("/mgt/ebay/remove_error_checked.phtml", 
            {
                'req':req
            },function(data){
                $(".removeElem").each(function(){
                    if($(this).is(':checked')){
                        var elem_id = $(this).attr('id').split('_');
                        $('#rem_'+elem_id[0]+'_'+elem_id[1]).remove();
                    }
                });
	});
    }
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?REQUIRE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>eBay Campaigns</B>
		<BR><BR>
		<?
		$ebaycampaignid = $id;
		?>
		<table >
		<tr>
			<td>
			
				<table>
				<tr>
					<td bgcolor="#eeeeee" height=21>ID</td>
					<td><a href="campaign_edit.phtml?ebaycampaignid=<?=$id;?>"><?=$id;?> - edit</a></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Campaign Name</td>
					<td><?=$campaign_name;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Active</td>
					<td><?if($active == 1) echo "Yes"; else echo "No";?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Begin/End Date</td>
					<td>
						<?
						if( ($begin_date != "" || $end_date != "") &&
						    ($begin_date != "0000-00-00 00:00:00" && $end_date != "0000-00-00 00:00:00"))
						{
							$bdate = date("m/d/Y", strtotime($begin_date));
							$edate = date("m/d/Y", strtotime($end_date));
							
							echo "$bdate - $edate";
						}
						else 
						{
							echo "n/a";
						}
						?>					
					</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Auto Relist</td>
					<td><?if($auto_relist == 1) echo "Yes"; else echo "No";?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Listing Type</td>
					<td><?=$listing_type;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Item Title</td>
					<td><?=$item_title;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Item Subtitle</td>
					<td><?=$item_subtitle;?></td>
				</tr>
				</table>			
			
			</td>
			
			<td>&nbsp;&nbsp;</td>

			<td>
			
				<table>
				<tr>
					<td bgcolor="#eeeeee" height=21>eBay Template</td>
					<td>
					<?
					if(intval($ebay_template) > 0)
					{
						$query = "select title from ebay_templates where id = '$ebay_template'";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($ebay_name) = mysql_fetch_array($q2ok);
						
						echo "<a href='/mgt/ebay/template_create.phtml?tid=$ebay_template' target='_blank'>$ebay_name</a>";
					}
					else 
					{
						echo "n/a";
					}
					?>					
					</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Listing Duration</td>
					<td><?=$listing_duration;?></td>
				</tr>		
				<tr>
					<td bgcolor="#eeeeee" height=21>Starting Price</td>
					<td><?=$starting_price;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Buy It Now Price</td>
					<td><?=$buyitnow_price;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Quantity</td>
					<td><?=$quantity;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Qty Control</td>
					<td><?=$qty_control;?>%</td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>Campaign Type</td>
					<td><?=$campaign_type;?></td>
				</tr>
				<tr>
					<td bgcolor="#eeeeee" height=21>List/PID</td>
					<td>
					<?
					if($campaign_type == "list")
					{
						echo "<a href='/mgt/lm/list_edit.phtml?lid=$listid' target='_blank'>$list_title</a>";
					}
					else 
					{
						echo "PID: $pid";
					}
					?>					
					</td>
				</tr>
				</table>			
			
			</td>
		</tr>
		</table>
		
		<?INCLUDE("info_bar.phtml");?>
		
		<BR>
		<div style="width:100%;background-color:#eeffee;border:1px dashed #808080">
		<form style="margin:0px">
		<input type="hidden" name="ebaycampaignid" value="<?=$ebaycampaignid;?>">
		<table>
		<tr>
			<td><div style="padding-top:3px"><B>Filter Listings</B></div></td>
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Manname:</B></font></td>
			<td>		
				<select name="fmanid" class="formSelect">
				<option value="">--- SELECT ---</option>
				<?
				$query = "select distinct(product_manufacturers.manid), product_manufacturers.manname from
							ebay_errors, product_manufacturers, product_list, ebay_errors_extended 
							WHERE
							ebay_errors.pid = product_list.id AND
							product_list.manid = product_manufacturers.manid AND
							ebay_errors.id = ebay_errors_extended.eid AND
							ebay_errors.resolved = 0 AND
							ebay_errors.ebaycampid = '$ebaycampaignid' 
							group by product_manufacturers.manid
							order by product_manufacturers.manname";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
				while(list($manid, $manname) = mysql_fetch_array($qok))
				{
					if($manid == $fmanid)
						echo "<option value='$manid' SELECTED>$manname</option>\n";
					else 
						echo "<option value='$manid'>$manname</option>\n";
				}
				?>
				</select>
			</td>	
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>PID:</B></font></td>
			<td>
				<input type="text" name="fpid" value="<?=$fpid;?>" style="width:100px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>	
			
			<td><div style="padding-top:3px"><B>Keywords:</B></font></td>
			<td>
				<input type="text" name="fkeywords" value="<?=$fkeywords;?>" style="width:175px" class="formBox">
			</td>
			
			<td>&nbsp;&nbsp;&nbsp;</td>
			
			<td><input type="submit" name="Action" value="Filter" class="buttonItem"></td>
                        <td align="right">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Results per page:
                            <?
                            if($_SESSION['ERRORS_PER_PAGE'] == '50') {
                                ?>50&nbsp;&nbsp;<?
                            }
                            else {
                                ?><a href="javascript:void(0)" onclick="setItemsPerPage('50')">50</a>&nbsp;&nbsp;<?
                            }
                            
                            if($_SESSION['ERRORS_PER_PAGE'] == '100') {
                                ?>
                            100&nbsp;&nbsp;
                                <?
                            }
                            else {
                                ?>
                            <a href="javascript:void(0)" onclick="setItemsPerPage('100')">100</a>&nbsp;&nbsp;
                                <?
                            }
                            
                             if($_SESSION['ERRORS_PER_PAGE'] == '500') {
                                ?>
                            500&nbsp;&nbsp;
                                <?
                            }
                            else {
                                ?>
                            <a href="javascript:void(0)" onclick="setItemsPerPage('500')">500</a>&nbsp;&nbsp;
                                <?
                            }
                            if($_SESSION['ERRORS_PER_PAGE'] == '1000') {
                                ?>
                            1000&nbsp;&nbsp;
                                <?
                            }
                            else {
                                ?>
                            <a href="javascript:void(0)" onclick="setItemsPerPage('1000')">1000</a>&nbsp;&nbsp;
                                <?
                            }
                            ?>
                        </td>
		</tr>
		</table>
                </form>
		</div>		
		<?
		if($Action == "ViewSimilar")
		{
			$addon .= " AND ebay_errors_extended.message = '".addslashes($msg)."'";	
		}
		
		if(intval($fmanid) > 0)
			$addon .= " AND product_list.manid = '$fmanid'";
		
		if(intval($fpid) > 0)
			$addon .= " AND product_list.id = '$fpid'";
			
		if(strlen($fkeywords) >= 2)
		{
			$wordlist = explode(" ", $fkeywords);
			
			for($xx = 0; $xx < count($wordlist); $xx++)
			{
				$thisword = $wordlist[$xx];
			
				$kwpart = " AND (product_list.manpart like '%$thisword%' OR product_list.upccode like '%$thisword%' OR 
								product_list.descr like '%$thisword%' or ebay_errors_extended.message like '%$thisword%') ";
				
				$addon .= $kwpart;
			}
		}		
		
		$query = "select ebay_errors.id, ebay_errors.pid, product_manufacturers.manname, product_list.descr, ebay_errors_extended.message, ebay_errors.tstamp from
					ebay_errors, product_manufacturers, product_list, ebay_errors_extended 
					WHERE
					ebay_errors.pid = product_list.id AND
					product_list.manid = product_manufacturers.manid AND
					ebay_errors.id = ebay_errors_extended.eid AND
					ebay_errors.resolved = 0 AND
					ebay_errors.ebaycampid = '$ebaycampaignid' 
					$addon
					order by ebay_errors.tstamp";
		
		//select count(*) from ebay_errors where ebaycampid = '$id' AND resolved = '0'
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numerrors = $numrows = mysql_num_rows($qok);
		
		if(intval($numerrors) > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//			$ITEMS_PER_PAGE = 50;
			$ITEMS_PER_PAGE = $_SESSION['ERRORS_PER_PAGE'];
                        
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/ebay/view_errors.phtml?ebaycampaignid=$ebaycampaignid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
			<table width=99%>
			<tr bgcolor="#eeeeee">
				<td height=21 align=center><B>ID</B></td>
				<td height=21 align=center><B>Date/Time</B></td>
				<td height=21 align=center><B>PID</B></td>
				<td height=21 align=center><B>Man</B></td>
				<td height=21 align=center><B>Title</B></td>
				<td height=21 align=center><B>Error Message</B></td>
				<td height=21 align=center><B>View Similar</B></td>
				<td height=21 align=center><B>Mark Resolved</B></td>
				<td height=21 align=center><B>Mark All Similar Resolved</B></td>
				<td height=21 align=center>
                                    <input type="checkbox" class="checkAllAuto" onclick="checkRemoveAll()"/><br />
                                    <a href="javascript:void(0)" onclick="removeChecked()">Remove Checked</a>
                                </td>
				<td height=21 align=center><B>Remove</B></td>
				<!--<td height=21 align=center><B>Sync</B></td>-->
			</tr>
			<?
			//ebay_errors.id, ebay_errors.pid, product_manufacturers.manname, product_list.descr, ebay_errors_extended.message
			$numout=0;
			while( (list($id, $pid, $manname, $descr, $message, $tstamp) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
					<td height=21><?=$id;?></td>
					<td height=21><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
					<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td height=21><?=$manname;?></td>
					<td height=21><?=$descr;?></td>
					<td height=21><?=$message;?></td>
					<td height=21 align=center><a href="view_errors.phtml?ebaycampaignid=<?=$ebaycampaignid;?>&Action=ViewSimilar&msg=<?=urlencode($message);?>">View Similar</a></td>
					<td height=21 align=center><div id="resolved<?=$id;?>"><a href="javascript:void(0);" onclick="markResolved('<?=$id;?>');">Mark Resolved</a></div></td>
					<td height=21 align=center><a href="view_errors.phtml?ebaycampaignid=<?=$ebaycampaignid;?>&Action=MarkSimilarResolved&msg=<?=urlencode($message);?>">Mark All Similar Resolved</a></td>
					<!--<td height=21 align=center>
						<?if(stristr($message, "Error: 196")){?>
							<a href="view_errors.phtml?ebaycampaignid=<?=$ebaycampaignid;?>&Action=MarkSynced&msg=<?=urlencode($message);?>">Mark all Synced</a>
						<?}else{?>
						-
						<?}?>
					</td>-->
                                        <td height=21 align="center">
                                            <input type="checkbox" id="<?=$id.'_'.$pid.'_'.$listid?>" class="removeElem" />
                                        </td>
                                        <td height=21 align="center">
                                            <a href="javascript:void(0);" onclick="removeError('<?=$id?>','<?=$pid?>','<?=$listid?>')" id="rem_<?=$id.'_'.$pid?>">
                                                <img src="/mgt/images/del.gif" alt="Remove" />
                                            </a>
                                        </td>
				</tr>
				<?
			}
			?>
			</table>
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "/mgt/ebay/view_errors.phtml?ebaycampaignid=$ebaycampaignid";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink&p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numerrors,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink&p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";				
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Errors Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>