<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
} 


// ========== CHANGE THESE VALUES TO MATCH YOUR OWN ===========
$AccountID = $efc->getConfigValue("OnTrac Settings", "AccountID"); 
$PassPhrase = $efc->getConfigValue("OnTrac Settings", "PassPhrase"); // Password
$PostalCode = $efc->getConfigValue("Company Information", "CompanyZip"); // Zipcode you are shipping FROM
// =============================================================	

if( intval($efc->getConfigValue("OnTrac Settings", "Live")) == 1)
{
    $baseURL = "https://www.shipontrac.net/OnTracWebServices/OnTracServices.svc/V1/$AccountID/rates";
}
else 
{
    $baseURL = "https://www.shipontrac.net/OnTracTestWebServices/OnTracServices.svc/V1/37/rates";
    $PassPhrase = "testpass";
}
//&packages=UID;PUZip;Delzip;Residential;COD,SaturdayDe;Declared;Weight;DIM;Service
if($residential == '1') {
    $res = 'true';
}
else {
    $res = 'false';
}
if($saturday == '1') {
    $sat = 'true';
}
else {
    $sat = 'false';
}
if($pack_length == '' && $pack_width =='' && $pack_height =='') {
    echo "OK\n";
    exit();
}

$ship2zipArr = explode('-', $ship2zip);
$ship2zip = trim($ship2zipArr[0]);

$data = "?pw=".$PassPhrase."&packages=";
$data .= "1;$PostalCode;$ship2zip;$res;$pack_cod;$sat;10;$pack_weight;".$pack_length."X".$pack_width."X".$pack_height.";";
//print_r($data);
// create curl resource
$ch = curl_init();
//$ch = curl_init($baseURL); // TESTING
// set url
curl_setopt($ch, CURLOPT_URL, $baseURL.$data);

//return the transfer as a string
curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);

// $output contains the output string
$output = curl_exec($ch);

// close curl resource to free up system resources
curl_close($ch);      
//$ch = curl_init($baseURL); // TESTING
//curl_setopt($ch, CURLOPT_HEADER, 1);
//curl_setopt($ch,CURLOPT_POST,1);
//curl_setopt($ch,CURLOPT_TIMEOUT, 60);
//curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
//curl_setopt ($ch, CURLOPT_SSL_VERIFYPEER, 0);
//curl_setopt ($ch, CURLOPT_SSL_VERIFYHOST, 0);
//curl_setopt($ch,CURLOPT_POSTFIELDS,$data);
//$result = curl_exec ($ch);

//echo $result;	
//echo "FROM: $PostalCode TO: $dest_zip WEIGHT: $weight<BR>";
//echo "<BR>$result<HR NOSHADE>";
//print_r($output);
$xmlarray = xml2array($output, 1);

//echo "<pre>";
//print_r($xmlarray);
//echo "</pre>";
		    	    	
$error = $xmlarray['OnTracRateResponse']['Shipments']['Shipment']['Error']['value'];
if($error == '') {
    echo "OK\n";
    $rates = $xmlarray['OnTracRateResponse']['Shipments']['Shipment']['Rates']['Rate'];
    foreach($rates as $rate) {
        if($rate['Service']['value'] == 'G') {
            echo "G - Gold\t".$rate['TotalCharge']['value']."\n";
        }
        elseif($rate['Service']['value'] == 'S') {
            echo "S - Sunrise\t".$rate['TotalCharge']['value']."\n";
        }
        elseif($rate['Service']['value'] == 'H') {
            echo "H - Palletized Freight\t".$rate['TotalCharge']['value']."\n";
        }
        elseif($rate['Service']['value'] == 'C') {
            echo "C - OnTrac Ground\t".$rate['TotalCharge']['value']."\n";
        }
       
    }
//    echo "<pre>";
//print_r($xmlarray);
//echo "</pre>";
}
else {
    echo "ERROR\n".$error;
}
    	
		
?>
