<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;



function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
} 
// ========== CHANGE THESE VALUES TO MATCH YOUR OWN ===========
$AccountID = $efc->getConfigValue("OnTrac Settings", "AccountID"); 
$PassPhrase = $efc->getConfigValue("OnTrac Settings", "PassPhrase"); // Password
$PostalCode = $efc->getConfigValue("Company Information", "CompanyZip"); // Zipcode you are shipping FROM
// =============================================================	
$companyphone = $efc->getConfigValue("Company Information", "CompanyPhone");
$companyphone = str_replace("-", "", $companyphone);
$companyphone = trim( str_replace(".", "", $companyphone) );
if($residential == '0') {
    $residential_val = 'false';
}
elseif ($residential == '1') {
    $residential_val = 'true';
}
if($signature == '0') {
    $signature_val = 'false';
}
elseif ($signature == '1') {
    $signature_val = 'true';
}
if($saturday == '0') {
    $saturday_val = 'false';
}
elseif ($saturday == '1') {
    $saturday_val = 'true';
}
list($mthd, $ship_method) = explode("-", $shipmethod);

$xml = "<OnTracShipmentRequest>
            <Shipments>
                <Shipment>
                    <UID>14385462</UID>
                    <shipper>
                        <Name>The Raw Food World</Name>
                        <Addr1>406 Bryant Cir Ste E</Addr1>
                        <City>Ojai</City>
                        <State>CA</State>
                        <Zip>93023</Zip>
                        <Contact>Matt Monarch</Contact>
                        <Phone>8667293438</Phone>
                    </shipper>
                    <consignee>
                        <Name>ERIC NUNEZ</Name>
                        <Addr1>17581 CAMINiTO HENO</Addr1>
                        <Addr2></Addr2>
                        <Addr3></Addr3>
                        <City>SAN DIEGO</City>
                        <State>CA</State>
                        <Zip>92127</Zip>
                        <Contact>ERIC NUNEZ</Contact>
                        <Phone>8587355138</Phone>
                    </consignee>
                    <Service>S</Service>
                    <SignatureRequired>false</SignatureRequired>
                    <Residential>false</Residential>
                    <SaturdayDel>false</SaturdayDel>
                    <CODType>NONE</CODType>
                    <Weight>16.95</Weight><Declared>144.84</Declared>      <DIM>
                        <Length>10</Length>
                        <Width>10</Width>
                        <Height>10</Height>
                    </DIM>                   <LabelType>2</LabelType>
                    <DelEmail>nuneze2008@gmail.com</DelEmail>
                    <ShipDate>2014-04-22</ShipDate>
                    <ShipEmail></ShipEmail>
                    <Reference></Reference>
                    <Reference2></Reference2>
                    <Reference3></Reference3>
                    <Instructions></Instructions>
                    <COD>0</COD>
                    <BillTo>0</BillTo>
                    <Tracking></Tracking>
                </Shipment>
            </Shipments>
        </OnTracShipmentRequest>";
 
if( intval($efc->getConfigValue("OnTrac Settings", "Live")) == 1)
{
    $baseURL = "https://www.shipontrac.net/OnTracWebServices/OnTracServices.svc/V1/$AccountID/shipments";
}
else 
{
    $baseURL = "https://www.shipontrac.net/OnTracTestWebServices/OnTracServices.svc/V1/37/shipments";
    $PassPhrase = "testpass";
}
$data = "?pw=".$PassPhrase;
// create curl resource
//$ch = curl_init();
////$ch = curl_init($baseURL); // TESTING
//// set url
//curl_setopt($ch, CURLOPT_URL, $baseURL.$data);
////return the transfer as a string
//curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
//// $output contains the output string
//$output = curl_exec($ch);
//// close curl resource to free up system resources
//curl_close($ch);      

$ch = curl_init($baseURL.$data); // TESTING

//curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch,CURLOPT_POST,1);
curl_setopt($ch,CURLOPT_TIMEOUT, 60);
curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
curl_setopt ($ch, CURLOPT_SSL_VERIFYPEER, 0);
curl_setopt ($ch, CURLOPT_SSL_VERIFYHOST, 0);
curl_setopt($ch,CURLOPT_POSTFIELDS,$xml);
$output = curl_exec ($ch);
$xmlarray = xml2array($output, 1);
print_r($xmlarray);
$h = fopen($invoiceid."aaaaa_result.txt","w+");
fwrite($h,$xmlarray);
fclose($h);

exit();
if(count($xmlarray['OnTracShipmentResponse']['Error']) == 0) {
    
$tracking = $xmlarray['OnTracShipmentResponse']['Shipments']['Shipment']['Tracking']['value'];
$shipcost = $xmlarray['OnTracShipmentResponse']['Shipments']['Shipment']['TotalChrg']['value'];

$uidx = $invoiceid.date("m-d-Y.H.i.s", time()).".jpg";
$fp = fopen($ROOT_DIR."/mgt/ship/labels/$uidx", 'wb');   
fwrite($fp, base64_decode($xmlarray['OnTracShipmentResponse']['Shipments']['Shipment']['Label']['value']));
fclose($fp);
//exit();
}
?>