<map borderColor="FFFFFF" connectorColor="000000" fillAlpha="70" hoverColor="FFFFFF" showBevel="0" numberSuffix="$ Sales">
-

<colorRange>
<color minValue="0.00" maxValue="500.00" displayValue="Poor" color="CC0001"/>
<color minValue="501.00" maxValue="1000.00" displayValue="Average" color="FFCC33"/>
<color minValue="1001.00" maxValue="9999999999999.00" displayValue="Good" color="069F06"/>
</colorRange>
-
	<data>
<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select distinct(bill2state), count(*), sum(total) from customer_orders where orderdate >= UNIX_TIMESTAMP( '2009-01-01 00:00:00') and orderdate <= UNIX_TIMESTAMP('2009-01-01 23:59:59') group by bill2state;";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)) { if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
while($row = mysql_fetch_array($qok, MYSQL_ASSOC)) 
{
// bill2state | count(*) | sum(total) 
	$bill2state = "{$row['bill2state']}";
    $count = "{$row['count(*)']}";
    $sumtotal = "{$row['sum(total)']}";
//echo "$bill2state $sumtotal ($count) <BR>";

// Fix broken states from amazon

if ($bill2state == "ALABAMA") { $bill2state = "AL"; }
if ($bill2state == "ALASKA") {                           $bill2state = "AK"; }
if ($bill2state == "AMERICAN SAMOA") {                   $bill2state = "AS"; }
if ($bill2state == "ARIZONA") {                          $bill2state = "AZ"; }
if ($bill2state == "ARKANSAS") {                         $bill2state = "AR"; }
if ($bill2state == "CALIFORNIA") {                       $bill2state = "CA"; }
if ($bill2state == "COLORADO") {                         $bill2state = "CO"; }
if ($bill2state == "CONNECTICUT") {                      $bill2state = "CT"; }
if ($bill2state == "DELAWARE") {                         $bill2state = "DE"; }
if ($bill2state == "DISTRICT OF COLUMBIA") {             $bill2state = "DC"; }
if ($bill2state == "FEDERATED STATES OF MICRONESIA") {   $bill2state = "FM"; }
if ($bill2state == "FLORIDA") {                         $bill2state = "FL"; }
if ($bill2state == "GEORGIA") {                          $bill2state = "GA"; }
if ($bill2state == "GUAM") {                             $bill2state = "GU"; }
if ($bill2state == "HAWAII") {                           $bill2state = "HI"; }
if ($bill2state == "IDAHO") {                            $bill2state = "ID"; }
if ($bill2state == "ILLINOIS") {                         $bill2state = "IL"; }
if ($bill2state == "INDIANA") {                          $bill2state = "IN"; }
if ($bill2state == "IOWA") {                             $bill2state = "IA"; }
if ($bill2state == "KANSAS") {                           $bill2state = "KS"; }
if ($bill2state == "KENTUCKY") {                         $bill2state = "KY"; }
if ($bill2state == "LOUISIANA") {                        $bill2state = "LA"; }
if ($bill2state == "MAINE") {                            $bill2state = "ME"; }
if ($bill2state == "MARSHALL ISLANDS") {                 $bill2state = "MH"; }
if ($bill2state == "MARYLAND") {                         $bill2state = "MD"; }
if ($bill2state == "MASSACHUSETTS") {                    $bill2state = "MA"; }
if ($bill2state == "MICHIGAN") {                         $bill2state = "MI"; }
if ($bill2state == "MINNESOTA") {                        $bill2state = "MN"; }
if ($bill2state == "MISSISSIPPI") {                      $bill2state = "MS"; }
if ($bill2state == "MISSOURI") {                         $bill2state = "MO"; }
if ($bill2state == "MONTANA") {                          $bill2state = "MT"; }
if ($bill2state == "NEBRASKA") {                         $bill2state = "NE"; }
if ($bill2state == "NEVADA") {                           $bill2state = "NV"; }
if ($bill2state == "NEW HAMPSHIRE") {                    $bill2state = "NH"; }
if ($bill2state == "NEW JERSEY") {                       $bill2state = "NJ"; }
if ($bill2state == "NEW MEXICO") {                       $bill2state = "NM"; }
if ($bill2state == "NEW YORK") {                         $bill2state = "NY"; }
if ($bill2state == "NORTH CAROLINA") {                   $bill2state = "NC"; }
if ($bill2state == "NORTH DAKOTA") {                     $bill2state = "ND"; }
if ($bill2state == "NORTHERN MARIANA ISLANDS") {         $bill2state = "MP"; }
if ($bill2state == "OHIO") {                             $bill2state = "OH"; }
if ($bill2state == "OKLAHOMA") {                         $bill2state = "OK"; }
if ($bill2state == "OREGON") {                           $bill2state = "OR"; }
if ($bill2state == "PALAU") {                            $bill2state = "PW"; }
if ($bill2state == "PENNSYLVANIA") {                     $bill2state = "PA"; }
if ($bill2state == "PUERTO RICO") {                      $bill2state = "PR"; }
if ($bill2state == "RHODE ISLAND") {                     $bill2state = "RI"; }
if ($bill2state == "SOUTH CAROLINA") {                   $bill2state = "SC"; }
if ($bill2state == "SOUTH DAKOTA") {                     $bill2state = "SD"; }
if ($bill2state == "TENNESSEE") {                        $bill2state = "TN"; }
if ($bill2state == "TEXAS") {                            $bill2state = "TX"; }
if ($bill2state == "UTAH") {                             $bill2state = "UT"; }
if ($bill2state == "VERMONT") {                          $bill2state = "VT"; }
if ($bill2state == "VIRGIN ISLANDS") {                   $bill2state = "VI"; }
if ($bill2state == "VIRGINIA") {                         $bill2state = "VA"; }
if ($bill2state == "WASHINGTON") {                       $bill2state = "WA"; }
if ($bill2state == "WEST VIRGINIA") {                    $bill2state = "WV"; }
if ($bill2state == "WISCONSIN") {                        $bill2state = "WI"; }
if ($bill2state == "WYOMING") {                          $bill2state = "WY"; }



echo "<entity id=\"$bill2state\" value=\"$sumtotal\"/>";
}	
?>
</data>
-
	<styles>
-
	<definition>
<style type="animation" name="animX" param="_xscale" start="0" duration="1"/>
<style type="animation" name="animY" param="_yscale" start="0" duration="1"/>
</definition>
-
	<application>
<apply toObject="PLOT" styles="animX,animY"/>
</application>
</styles>
</map>