<html>
<head>
<title>Not Completed</title>
<script language="JavaScript" src="fusionmaps.js"></script>
</head>

<body>
<table width="98%" border="0" cellspacing="0" cellpadding="3" align="center">
  <tr>
    <td valign="top" class="text" align="center">
	<div id="mapdiv" align="center">
        FusionMaps
	</div>

        <script type="text/javascript">
	   var map = new FusionMaps("FCMap_USA.swf", "Map1Id", "475", "350", "0", "0");
	   map.setDataURL("data.phtml");
	   map.render("mapdiv");
	</script>
    </td>
  </tr>

</table>
</body>

</html>
