<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
} 


// ========== CHANGE THESE VALUES TO MATCH YOUR OWN ===========
$RequesterID = $efc->getConfigValue("Endicia Settings", "RequesterID"); 
$AccountID = $efc->getConfigValue("Endicia Settings", "AccountID"); 
$PassPhrase = $efc->getConfigValue("Endicia Settings", "PassPhrase"); // Password
$PostalCode = $efc->getConfigValue("Company Information", "CompanyZip"); // Zipcode you are shipping FROM
// =============================================================	

$weight = $weight * 16; // 16oz in 1lb

echo "OK\n";
/*echo "Express - Express Mail\t0.00\n";*/

echo "First - First Class Flat\t0.00\n";
echo "FCP - First Class Parcel\t0.00\n";
echo "FCL - First Class Letter\t0.00\n";

echo "MediaMail - Media Mail\t0.00\n";
/*echo "LibraryMail - Library Mail\t0.00\n";

echo "ParcelPost - Parcel Post\t0.00\n";
*/
echo "Priority - Priority\t0.00\n";

echo "SFRB - Small Flat Rate Box\t0.00\n";
//echo "FRB - Flat Rate Box\t0.00\n";
echo "MFRB - Medium Flat Rate Box\t0.00\n";
echo "LFRB - Large Flat Rate Box\t0.00\n";

echo "FRE - Flat Rate Envelope\t0.00\n";
echo "FRPE - Flat Rate Padded Envelope\t0.00\n";
echo "FRLE - Flat Rate Legal Envelope\t0.00\n";

echo "PFRE - Priority Flat Rate Envelope\t0.00\n";

echo "EFRE - Express Flat Rate Envelope\t0.00\n";
echo "ELFE - Express Legal Flate Rate Envelope\t0.00\n";
echo "EMFB - Express Medium Flate Rate Box\t0.00\n";

echo "EI - Express Mail International\t0.00\n";
echo "PI - Priority Mail International\t0.00\n";
echo "FI - First Class Mail International\t0.00\n";

echo "RBA - Regional Rate Box A\t0.00\n";
echo "RBB - Regional Rate Box B\t0.00\n";
echo "RBC - Regional Rate Box C\t0.00\n";
echo "PriorityCube1A - Cubic 1A 5x5x5\t0.00\n";
echo "PriorityCube1B - Cubic 1B 7x6x4\t0.00\n";
echo "PriorityCube2A - Cubic 2A 9x7x4\t0.00\n";
echo "PriorityCube2B - Cubic 2B 10x6x5\t0.00\n";
echo "PriorityCube3A - Cubic 3A 11x8x4\t0.00\n";

/*
Express, First, LibraryMail, MediaMail, Parcel, Priority

Express - No Signature Confirmation
First - maximum of 13 ounces allowed for mail service.
LibraryMail - perfect
MediaMail - perfect
Parcel - Perfect
Priority - Perfect
*/
/*
$data ="postageRateRequestXML=<?xml version=\"1.0\"?>
    	<PostageRateRequest>
			<RequesterID>$RequesterID</RequesterID>
			<CertifiedIntermediary>
				<AccountID>$AccountID</AccountID>
				<PassPhrase>$PassPhrase</PassPhrase>
			</CertifiedIntermediary>
			<MailClass>Priority</MailClass>
			<WeightOz>$weight</WeightOz>
			<MailpieceShape>Parcel</MailpieceShape>
			<Machinable>True</Machinable>
			<Services DeliveryConfirmation=\"OFF\" SignatureConfirmation=\"ON\"/>
			<FromPostalCode>$PostalCode</FromPostalCode>
			<ToPostalCode>$dest_zip</ToPostalCode>
			<ResponseOptions PostagePrice=\"TRUE\"/>
		</PostageRateRequest>";


if( intval($efc->getConfigValue("Endicia Settings", "Live")) == 1)
{
}
else 
{
	$baseURL = "https://www.envmgr.com/LabelService/EwsLabelService.asmx/CalculatePostageRateXML";
}

$ch = curl_init($baseURL); // TESTING
		
//curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch,CURLOPT_POST,1);
curl_setopt($ch,CURLOPT_TIMEOUT, 60);
curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
curl_setopt ($ch, CURLOPT_SSL_VERIFYPEER, 0);
curl_setopt ($ch, CURLOPT_SSL_VERIFYHOST, 0);
curl_setopt($ch,CURLOPT_POSTFIELDS,$data);
$result = curl_exec ($ch);

//echo $result;	
//echo "FROM: $PostalCode TO: $dest_zip WEIGHT: $weight<BR>";
//echo "<BR>$result<HR NOSHADE>";

$xmlarray = xml2array($result, 1);

echo "<pre>";
print_r($xmlarray);
echo "</pre>";*/
		    	    	
    	
    	
		
?>
