<?
ini_set('memory_limit', '-1');

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<HTML>
<HEAD>
<TITLE>ScanForm Request</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<SCRIPT>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "1")				
	{// today
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.logsearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.logsearch.qdate.options[document.logsearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.logsearch.disable_range.checked = 0;
		
		document.logsearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.logsearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Log Search</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
			<!--------------------------------------------------------------->		
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  

					<form name="logsearch" method="GET">
						<table>
						<tr>
							<td class="g1">Ship Date:</td>
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1" <?if($_SESSION["SCANFORM_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
								<option value="6" <?if($_SESSION["SCANFORM_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
								<option value="2" <?if($_SESSION["SCANFORM_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
								<option value="3" <?if($_SESSION["SCANFORM_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
								<option value="4" <?if($_SESSION["SCANFORM_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
								<option value="5" <?if($_SESSION["SCANFORM_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
							</select>
							<BR>							
							<?
							if($_SESSION["SCANFORM_SAVEDSEARCH"]['bdate'] == "") $_SESSION["SCANFORM_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
							if($_SESSION["SCANFORM_SAVEDSEARCH"]['edate'] == "") $_SESSION["SCANFORM_SAVEDSEARCH"]['edate'] = date("m/d/Y");
							?>
							<input type="text" name="bdate" value="<?=$_SESSION["SCANFORM_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['logsearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
							- to -
							
								<input type="text" name="edate" value="<?=$_SESSION["SCANFORM_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['logsearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
							</td>
						</tr>
												
						
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="submit" name="Action" value="Search" class="buttonItem">
									</div>
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="logresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->
					</div>
					
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>					
				
			</td>

		
			<td width=95%>
			<BR><BR>
			<div id="searchresults">
				<?
				if($Action == "Search")
				{
					?>
					<form name="orderlist" method="POST" action="submit_scanform.phtml">
					<input type="submit" name="Action" value="Submit ScanForm" class="buttonItem">
					<table width=99%>
					<tr bgcolor="#eeeeee">
						<td> </td>
						<td align="center"><B>Invoice#</B></td>
						<td align="center"><B>OrderID</B></td>
						<td align="center"><B>To Zip</B></td>
						<td align="center"><B>Total</B></td>
						<td align="center"><B>Ordered</B></td>
						<td align="center"><B>Shipped</B></td>
						<td align="center"><B>Tracking</B></td>
					</tr>
					
					<?
					$bdate = date("Y-m-d 00:00:00", strtotime($bdate));
					$edate = date("Y-m-d 23:59:59", strtotime($edate));
					
					$query = "select distinct(customer_orders.invoiceid), customer_orders.orderid, customer_orders.ship2zip, customer_orders.total, 
							customer_orders.orderdate, customer_order_tracking.shipdate,	customer_order_tracking_extended.trackno 
							from 
							customer_orders, customer_order_tracking, customer_order_tracking_extended
							where
							customer_orders.invoiceid = customer_order_tracking.invoiceid AND
							customer_order_tracking.carrier = 'USPS' AND
							customer_order_tracking.shipdate >= UNIX_TIMESTAMP('$bdate') AND
							customer_order_tracking.shipdate <= UNIX_TIMESTAMP('$edate') AND
							customer_order_tracking.tid = customer_order_tracking_extended.tid"; 
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					while(list($invoiceid, $orderid, $ship2zip, $total, $orderdate, $shipdate, $trackno) = mysql_fetch_array($qok))
					{
					?>
					<tr>
						<td><input type="checkbox" name="invoices[]" value="<?=$invoiceid;?>" checked></td>
						<td align="center"><?=$invoiceid;?></td>
						<td align="center"><?=$orderid;?></td>
						<td align="center"><?=$ship2zip;?></td>
						<td align="right"><?=number_format($total, 2);?></td>
						<td align="center"><?=date("m/d/Y", $orderdate);?></td>
						<td align="center"><?=date("m/d/Y", $shipdate);?></td>
						<td align="center"><?=$trackno;?></td>
					</tr>
					<?
					}
					?>
					</table>
					<input type="submit" name="Action" value="Submit ScanForm" class="buttonItem">
					</form>
					<?
				}
				?>
			</div>
			<BR><BR>
			</td>
		</tr>
		</table>
		
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>


<div id="logExtended" class="dialog">&nbsp;</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>
<?mysql_close();?>