<?
passthru("date > /tmp/label.jake");

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

ini_set('memory_limit', '-1');
set_time_limit(9999999999);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
if($keycode == "9782ga87t174gadf7g134b-asdf2834y")
{
	// bulkshipping
}
else
{
	REQUIRE($ROOT_DIR."/mgt/auth.phtml");
}

function getmicrotime()
{
	list($usec, $sec) = explode(" ",microtime());
	return ((float)$usec + (float)$sec);
}

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if(($_SESSION["LABEL_FORMAT"] == "") && ($lf == ""))
	$label_format = "EPL2";
else if($lf != "")
	$label_format = $lf;
else
	$label_format = strtoupper($_SESSION["LABEL_FORMAT"]);
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$on = $efc->getOrderNumber($invoiceid);
$pidlist = explode(",", $productlist);

for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);

	if(intval($pid) > 0)
	{
		$query = "select lineid from customer_order_lines where qty_ordered > qty_shipped AND orderid = '$on' and prodid = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) <= 0)
		{
			echo "This would create a duplicate shipment!";
			exit;
		}
	}
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$invoiceid = trim($invoiceid);
/*
http://butterfly.efluent.com/mgt/ship/usps/shiporder.phtml?ship2street1=161%20JAYMILLS%20AVE.&ship2street2=&ship2city=LONG%20BEACH&ship2state=CA&ship2zip=90805&ship2country=US&insured=1108.36&oinsured=0.00&weight=10&oweight=0.00&invoiceid=BFW0922597&ship2phone=6262833680&ship2name=NGHIEP%20VUONG&shipmethod=Parcel%20-%20Parcel%20Post&signature=1&residential=0&trackno=&shipdate=02/05/2009&saturday=0&productlist=466:2::0,
*/

// ========== CHANGE THESE VALUES TO MATCH YOUR OWN ===========
$RequesterID = $efc->getConfigValue("Endicia Settings", "RequesterID");
$AccountID = $efc->getConfigValue("Endicia Settings", "AccountID");
$PassPhrase = $efc->getConfigValue("Endicia Settings", "PassPhrase"); // Password
$PostalCode = $efc->getConfigValue("Company Information", "CompanyZip"); // Zipcode you are shipping FROM
$arewelive = $efc->getConfigValue("Endicia Settings", "Live");
// =============================================================

$query = "select emailaddr from customer_orders where invoiceid = '$invoiceid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($emailaddr) = mysql_fetch_array($qok);

INCLUDE("ship_helper.phtml");

$ship2zip = $efc->sanitizeInput($ship2zip);

if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") )
{
	$ship2addon = "0000";
}
else
{
	if(strlen($ship2zip) > 5)
	{
		$ship2zip = substr($ship2zip, 0, 5);
		$ship2addon = substr($ship2zip, 5);
	}
	else
	$ship2addon = "0000";
}

$balance = getStatus($efc, $RequesterID, $AccountID, $PassPhrase, $PostalCode);
$rate = getRate($efc, $RequesterID, $AccountID, $PassPhrase, $PostalCode, $weight, $ship2zip);

/*if(floatval($rate) >= floatval($balance))
{// add shipping here
buyPostage($efc, $RequesterID, $AccountID, $PassPhrase, $invoiceid);

$balance = getStatus($efc, $RequesterID, $AccountID, $PassPhrase, $PostalCode);

if(floatval($rate) >= floatval($balance))
{
echo "Failed to Buy Postage.\n";
exit;
}
}*/

$weight = ceil($weight * 16);


list($endicia_method, $ship_method) = explode("-", $shipmethod);

$endicia_method = trim($endicia_method);
$ship_method = trim($ship_method);
//print_r($endicia_method."===".$ship_method);

$companyphone = $efc->getConfigValue("Company Information", "CompanyPhone");
$companyphone = str_replace("-", "", $companyphone);
$companyphone = trim( str_replace(".", "", $companyphone) );

if($arewelive == 1)
$livecode = "";
else
$livecode = "Test=\"YES\"";

passthru("echo $endicia_method >/tmp/jake.method");


if(strtolower($endicia_method) == "first")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"DestinationConfirm\" LabelSize=\"6X4\" ImageFormat=\"GIF\" ImageRotation=\"Rotate90\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>First</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";	

	$data .= "<MailpieceShape>Flat</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";

}
elseif(strtolower($endicia_method) == "mediamail")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"EPL2\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>MediaMail</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";	

	$data .= "<MailpieceShape>Parcel</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";

}
else if(strtolower($endicia_method) == "fcp")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>First</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>
			<MailpieceShape>Parcel</MailpieceShape>";	

	if($signature == 1)
	{
		$dosig = "ON";
		$confirmation = "OFF";
	}
	else
	{
		$dosig = "OFF";
		$confirmation = "ON";
	}


	$certified = "OFF";

}
else if(strtolower($endicia_method) == "fcl") // first class letter
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest  $livecode LabelType=\"DestinationConfirm\" LabelSize=\"6X4\" ImageFormat=\"GIF\" ImageRotation=\"Rotate90\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>First</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";	

	$data .= "<MailpieceShape>Letter</MailpieceShape>";

	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";

}
else if(strtolower($endicia_method) == "priority") // priority
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>$endicia_method</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "sfrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>SmallFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "frb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>FlatRateBox</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>";
	$dosig = "ON";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "lfrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>LargeFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "mfrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>MediumFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "emfb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityExpress</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>MediumFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "ei")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSize=\"4X6\" LabelSubtype=\"Integrated\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>ExpressMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>\n";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>\n";
	$dosig = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "pi")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSize=\"4X6\" LabelSubtype=\"Integrated\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>\n";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>\n";
	$dosig = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "fi")
{
	// > $400 and > 4lbs form => Form2976A

	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSize=\"4X6\" LabelSubtype=\"Integrated\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>FirstClassMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>\n";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>\n";
	$dosig = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "pfre")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "efre")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityExpress</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "fre")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "frpe")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRatePaddedEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "frle")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateLegalEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "elfe")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityExpress</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateLegalEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "rba")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>RegionalRateBoxA</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "rbb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>RegionalRateBoxB</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "rbc")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"Default\" LabelSize=\"4X6\" ImageFormat=\"$label_format\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>Priority</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>RegionalRateBoxC</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "ipa")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6C\" ImageFormat=\"GIF\" ImageRotation=\"Rotate90\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>IPA</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<IntegratedFormType>Form2976A</IntegratedFormType>";
	$data .= "<MailpieceShape>Parcel</MailpieceShape>";
	$data .= "<PrintConsolidatorLabel>TRUE</PrintConsolidatorLabel>";
	$data .= "<IncludePostage>FALSE</IncludePostage>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}

$xvalue = 0.00;
$darray = array();

if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") || (strtolower($endicia_method) == "ipa") )
{
	$idata = "<CustomsInfo>\n";
	$idata .= "<ContentsType>Other</ContentsType>\n";
	$idata .= "<ContentsExplanation>Merchandise</ContentsExplanation>\n";
	$idata .= "<RestrictionType>NONE</RestrictionType>\n";
	$idata .= "<RestrictionCommments/>\n";
	$idata .= "<SendersCustomsReference>Senders Ref</SendersCustomsReference>\n";
	$idata .= "<ImportersCustomsReference>Importers Ref</ImportersCustomsReference>\n";
	$idata .= "<LicenseNumber>License 123</LicenseNumber>\n";
	$idata .= "<CertificateNumber>Cert No. 345</CertificateNumber>\n";
	$idata .= "<InvoiceNumber>Invoice 678</InvoiceNumber>\n";
	$idata .= "<NonDeliveryOption>RETURN</NonDeliveryOption>\n";
	$idata .= "<EelPfc>NOEEI 30.37(a)</EelPfc>\n";
	$idata .= "<CustomsItems>\n";
    $nitems = count($pidlist);
	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $serial, $other) = explode(":", $pidlist[$xx]);

		if(intval($pid) > 0 && ($other == 0))
		{
			$query = "select descr, shipcode, sku, shipweight from product_list where id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($descr, $shipcode, $sku, $i_shipweight) = mysql_fetch_array($qok);

			$descr = str_replace("\"", "", $descr);
			$descr = str_replace("&", "", $descr);

			if(intval($itemcount) == 0)
			$itemcount = 1;

			$i_cost = $efc->getActualCostHistory($pid);

			if(floatval($i_cost) <= 0)
			{
				$query = "select price from customer_order_lines where prodid = '$pid' and orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($i_cost) = mysql_fetch_array($qok);
			}

			$i_shipweight = $i_shipweight * 16;

//			if(intval($i_shipweight) == 0)
			if($i_shipweight == 0) {
                $i_shipweight = $weight;
            }

			$i_shipweight = ceil($i_shipweight);
            
            if(strtolower($endicia_method) == "ipa") {
               $i_shipweight = $weight / $nitems;
            }
			$darray[] = $descr;

			if(strlen($descr) > 45)
			$descr = substr($descr, 0, 45);


			$idata .= "<CustomsItem>\n";
			$idata .= "<Description>$descr</Description>\n";
			$idata .= "<Quantity>1</Quantity>\n";
			$idata .= "<Weight>$i_shipweight</Weight>\n";
			$idata .= "<Value>$i_cost</Value>\n";
			$idata .= "</CustomsItem>\n";

			$xvalue += $i_cost;

		}
	}

	$idata .= "</CustomsItems>\n";
	$idata .= "</CustomsInfo>\n";
	$idata .= "<CustomsCertify>true</CustomsCertify>\n";
	$idata .= "<CustomsSigner>".addslashes($_SESSION["DISPLAYNAME"])."</CustomsSigner>\n";
}


/*for($xx = 0; $xx < count($darray); $xx++)
{
$i = $xx + 1;
$idata = "<CustomsDescription$i>".$darray[$xx]."</CustomsDescription$i>";
}*/
/*
[17:15] etailerjohn: yyo
[17:16] etailerjohn:  nate says postage printing on the labels
[17:16] etailerjohn:  please fix
*/



/*if($signature == 1)
{
$dosig = "YES";
//$certified = "ON";

}
else
{
$dosig = "NO";
//$certified = "OFF";
}*/

/*if(floatval($insured) > 0)
$data .= "<Services SignatureConfirmation=\"$dosig\" CertifiedMail=\"$certified\"/>
<Value>$insured</Value>";
else */

//

$ignoreinsured = intval( $efc->getConfigValue("Endicia Settings", "IgnoreInsured") );

if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") )
{
	$data .= "<Services InsuredMail=\"OFF\" SignatureConfirmation=\"$dosig\" DeliveryConfirmation=\"$confirmation\" CertifiedMail=\"$certified\"/>\n<Value>$xvalue</Value>\n";
}
else
{
    if( (strtolower($endicia_method) == "ipa")) {
       $data .= "<Services InsuredMail=\"OFF\" SignatureConfirmation=\"$dosig\" DeliveryConfirmation=\"$confirmation\" CertifiedMail=\"$certified\"/>\n<Value>$xvalue</Value>\n"; 
    }
    else {
        if(floatval($insured) > 0 && $ignoreinsured == 0) {
            $data .= "<Services SignatureConfirmation=\"$dosig\" DeliveryConfirmation=\"$confirmation\" CertifiedMail=\"$certified\"/>\n<Value>$insured</Value>\n";
        }
        else {
            $data .= "<Services InsuredMail=\"OFF\" SignatureConfirmation=\"$dosig\" DeliveryConfirmation=\"$confirmation\" CertifiedMail=\"$certified\"/>\n<Value>0</Value>\n";
        }
    }
}

if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") )
{
	$data .= "<IntegratedFormType>Form2976</IntegratedFormType>\n";
}
else
{
	if( $efc->getConfigValue("Endicia Settings", "CustomsFormType") != "" && $customs == 1)
	{
		$data .= "<CustomsFormType>".$efc->getConfigValue("Endicia Settings", "CustomsFormType")."</CustomsFormType>\n
				<CustomsFormImageFormat>PDF</CustomsFormImageFormat>\n
				<OriginCountry></OriginCountry>\n";

	}

}

$data .= "<Stealth>TRUE</Stealth>";

$data .= "<Description>$ship_method</Description>
		<PartnerCustomerID>".$efc->getConfigValue("Company Information", "CompanyName")."</PartnerCustomerID>
		<PartnerTransactionID>$invoiceid</PartnerTransactionID>
		<ToName>$ship2name</ToName>
		<ToCompany></ToCompany>
		<ToAddress1>$ship2street1</ToAddress1>
		<ToAddress2>$ship2street2</ToAddress2>
		<ToCity>$ship2city</ToCity>
		";

if($ship2state != "" && $ship2state != "--") $data .= "<ToState>$ship2state</ToState>";

$data .= "<ToPostalCode>$ship2zip</ToPostalCode>
		";

if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") || (strtolower($endicia_method) == "ipa") )
{ 
	$query = "select countryname from countrylist where countrycode = '$ship2country'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($countryname) =mysql_fetch_array($q2ok);

	$data .= "<ToCountry>$countryname</ToCountry>
			  <ToCountryCode>$ship2country</ToCountryCode>
			";
}

if($ship2phone=='' && $DB=='butterflyphoto') {
    $ship2phone = '8003399960';
}
$ship2phone = str_replace("-", "", $ship2phone);
$data .= "<ToDeliveryPoint>00</ToDeliveryPoint>
		<ToPhone>$ship2phone</ToPhone>
		<FromName>".$efc->getConfigValue("Company Information", "CompanyName")."</FromName>
		<ReturnAddress1>".$efc->getConfigValue("Company Information", "CompanyAddress1")."</ReturnAddress1>
		<ReturnAddress1>".$efc->getConfigValue("Company Information", "CompanyAddress2")."</ReturnAddress1>
		<FromCity>".$efc->getConfigValue("Company Information", "CompanyCity")."</FromCity>
		<FromState>".$efc->getConfigValue("Company Information", "CompanyState")."</FromState>
		<FromPostalCode>".$efc->getConfigValue("Company Information", "CompanyZip")."</FromPostalCode>
		<FromZIP4>0000</FromZIP4>
		<FromPhone>$companyphone</FromPhone>
		<ResponseOptions PostagePrice=\"TRUE\"/>";

$data .= $idata;

$data .= "</LabelRequest>";

$h = fopen($invoiceid.".txt","w+");
fwrite($h,$data);
fclose($h);
if( intval($efc->getConfigValue("Endicia Settings", "Live")) == 1)
{
	$baseURL = "https://LabelServer.Endicia.com/LabelService/EwsLabelService.asmx/GetPostageLabelXML";
}
else
{
	$baseURL = "https://www.envmgr.com/LabelService/EwsLabelService.asmx/GetPostageLabelXML";
}

//$result = doRequest($data, $baseURL);
$ch = curl_init($baseURL); // TESTING

//curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch,CURLOPT_POST,1);
curl_setopt($ch,CURLOPT_TIMEOUT, 60);
curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
curl_setopt ($ch, CURLOPT_SSL_VERIFYPEER, 0);
curl_setopt ($ch, CURLOPT_SSL_VERIFYHOST, 0);
curl_setopt($ch,CURLOPT_POSTFIELDS,$data);
$result = curl_exec ($ch);

$h = fopen($invoiceid."_result.txt","w+");
fwrite($h,$result);
fclose($h);

$xmlarray = xml2array($result, 1);

ob_start();
print_r($xmlarray);
$response = ob_get_clean();

$xtstamp = date("Y-m-d H:i:s", time());

$query = "insert into debug(title, tstamp, data) values('Endicia Request $invoiceid', '$xtstamp', '".addslashes($data)."')";
if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid', '$xtstamp', '".addslashes($response)."')";
if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


//passthru("echo $endicia_method >/tmp/jake.method");



if(intval($xmlarray['LabelRequestResponse']['Status']['value']) != 0)
{
	echo "\t".$xmlarray['LabelRequestResponse']['ErrorMessage']['value']."--DEBUG--";
}
else
{
	$tracking = $xmlarray['LabelRequestResponse']['TrackingNumber']['value'];

    if(isset($xmlarray['LabelRequestResponse']['Label']['Image'][0])) {
//        $epl2label = "";
        $uidx_tmp = "";
        foreach($xmlarray['LabelRequestResponse']['Label']['Image'] as $k=>$v) {
            $uidx = $invoiceid.date("m-d-Y.H.i.s", time())."_".$k.".gif";
            $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uidx", 'wb');   
            fwrite($fp, base64_decode($v['value']));
            fclose($fp);
            if($k == 0) {
                $epl2label = base64_decode($v['value']);
            }
            $uidx_tmp .=$uidx.",";
        }
//        $epl2label = base64_decode($epl2label);
    }
    else {
        $epl2label = base64_decode($xmlarray['LabelRequestResponse']['Base64LabelImage']['value']);
    }
//	$epl2label = base64_decode($xmlarray['LabelRequestResponse']['Base64LabelImage']['value']);

	if( trim($epl2label) == "" ) $epl2label = base64_decode($xmlarray['LabelRequestResponse']['Label']['Image']['value']);

	$shipcost = $xmlarray['LabelRequestResponse']['PostagePrice']['attr']['TotalAmount'];

	if((strtolower($endicia_method) == "first") || (strtolower($endicia_method) == "fcl"))
	{
	 	$uida = $invoiceid.date("m-d-Y.H.i.s", time()).".gif";
	 	$uidb = $invoiceid.date("m-d-Y.H.i.s", time()).".bmp";
		
	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uida", 'wb');   
	    fwrite($fp, $epl2label);
	    fclose($fp);
	    
	    /*$xtime_start = getmicrotime();
	    
	   	$cmd = "/usr/bin/convert $ROOT_DIR/mgt/ship/labels/$uida bmp3:$ROOT_DIR/mgt/ship/labels/$uidb";
    	exec($cmd);

    	while(!file_exists("$ROOT_DIR/mgt/ship/labels/$uidb"))
	    {
	    	sleep(2);	
	    }
    	
	    $xtime_end = getmicrotime();
		$qtime = number_format(($xtime_end - $xtime_start), 2);

		$xtstamp = date("Y-m-d H:i:s", time());
	    $query = "insert into debug(title, tstamp, data) values('Endicia Converted Label in $qtime seconds', '$xtstamp', '".addslashes($cmd)."')";
		if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


	    unlink("$ROOT_DIR/mgt/ship/labels/$uida");
	    
	    $uid = $uidb;*/
		$uid = $uida;

	}
    elseif(strtolower($endicia_method) == "ipa") {
        $uida = $invoiceid.date("m-d-Y.H.i.s", time()).".gif";
		
	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uida", 'wb');   
	    fwrite($fp, $epl2label);
	    fclose($fp);
	    
		$uid = $uida;
    }
    elseif(strtolower($endicia_method) == "mediamail") {
//        if($label_format == "EPL2")
	 		$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".epl2";
//		else
//			$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".zplii";
	        
	 	$yoffset = $efc->getConfigValue("Endicia Settings", "YStartPOS");
	 	
	 	if(intval($yoffset) > 0)
	 	{
//			if($label_format == "EPL2")
				$epl2label = "R0,$yoffset\n".$epl2label."R0,0\n";
//			else
//			{
//				$epl2label = str_replace("^LH0,0", "^LH0,$yoffset", $epl2label);
//			}
	 	}
		
	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uid", 'wb');   
	    fwrite($fp, $epl2label);
	    fclose($fp);
    }
	else 
	{
		if($label_format == "EPL2")
	 		$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".epl2";
		else
			$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".zplii";
	        
	 	$yoffset = $efc->getConfigValue("Endicia Settings", "YStartPOS");
	 	
	 	if(intval($yoffset) > 0)
	 	{
			if($label_format == "EPL2")
				$epl2label = "R0,$yoffset\n".$epl2label."R0,0\n";
			else
			{
				$epl2label = str_replace("^LH0,0", "^LH0,$yoffset", $epl2label);
			}
	 	}
		
	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uid", 'wb');   
	    fwrite($fp, $epl2label);
	    fclose($fp);
	}

	$printcustomsform = "";
	$pdflist = "";

	if( $efc->getConfigValue("Endicia Settings", "CustomsFormType") != ""  && $customs == 1)
	{
		$customsform = $xmlarray['LabelRequestResponse']['CustomsForm']['Image'];

		for($xx = 0; $xx < count($customsform); $xx++)
		{
			$formdata = $customsform[$xx]['value'];

			$printcustomsform = $invoiceid."$xx.pdf";

			$fp = fopen($ROOT_DIR."/mgt/ship/labels/$printcustomsform", 'wb');
			fwrite($fp, base64_decode($formdata));
			fclose($fp);

			$pdflist .= $printcustomsform .",";
		}


	}

	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//
	$tstamp = date("Y-m-d H:i:s", strtotime($shipdate));
	$xshipdate = strtotime($shipdate);

	$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost, pickerid, shipperid) ";
	$query .= "values('$invoiceid', '$tracking', '$shipmethod', 'usps', '$xshipdate', '$shipcost',  '$pickerid', '".$_SESSION["ID"]."') ";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$tid = mysql_insert_id();
	//add id of user who shipped the order
/*	if ($DB == 'butterfly') {
		$query = "UPDATE customer_order_tracking SET shipped_user_id='".$_SESSION["ID"]."' WHERE tid='".$tid."'";
        if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}*/
	
	$on = $efc->getOrderNumber($invoiceid);
	$pidlist = explode(",", $productlist);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// update customer_order_tracking_extended
	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);

		if(intval($pid) > 0)
		{
			$serial = addslashes($serial);
			// save what was in the box
			$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$on', '$tid', '$tracking', '$pid', '$serial')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// ship all coupons
	$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	// ship all kits
	$query = "select customer_order_lines.prodid from customer_order_lines, product_list where customer_order_lines.prodid = product_list.id and product_list.kit = '1' and customer_order_lines.orderid = '$on'";
	if(!$q1723b = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xkitpid) = mysql_fetch_array($q1723b))
	{
		$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid = '$xkitpid'";
	    if(!$q1732x = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid) = explode(":", $pidlist[$xx]);

		if(intval($pid) > 0)
		{
			$now = time();
			
			$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - $pid:$whid getActualCost', '$xtstamp', '')";
			if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			$cost = $efc->getActualCost($pid);

			$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - $pid:$whid getSalesmanCost', '$xtstamp', '')";
			if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			$scost = $efc->getSalesmanCost($pid);

			if($efc->getOrderType($on) == "EXCHANGE")
			{
				$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid' and ex_return = 0";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else
			{
				$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}

			$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - $pid:$whid updateInventory', '$xtstamp', '')";
			if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			$efc->updateInventory(0, 1, $shipcost, $pid, $whid, "", $on);
		}
	}

	$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - getStartStatus', '$xtstamp', '')";
	if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$efc->getStartStatus($on);
	if($efc->getOrderType($on) == "EXCHANGE")
	{
		$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($numleft) = mysql_fetch_array($qok);

		if($numleft <= 0)
		{
			$query = "update customer_orders set status = '50' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	else
	{
		// see if everything on the order has shipped
		$query = "select lineid, prodid from customer_order_lines where orderid = '$on' AND qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			// success
			$query = "select customer_orders.status, company_orderflow.success from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($this_step, $success_step) = mysql_fetch_array($qok);

			$query = "update customer_orders set status = '$success_step' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else
		{
			// failure .... partially shipped
			$query = "select customer_orders.status, company_orderflow.failure from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($this_step, $failure_step) = mysql_fetch_array($qok);

			if($DB == 'rawfoodworld') {
			    if($uncomplete_status == '') {
				$query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
			    }
			    else {
				$query = "update customer_orders set status = '$uncomplete_status' where orderid = '$on'";
			    }
			}
			else {
			    $query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
			}
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}

	$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - getLogStopStatus', '$xtstamp', '')";
	if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$efc->getLogStopStatus($on);

	$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - recalculateInventory', '$xtstamp', '')";
	if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$efc->recalculateInventory($on);

	if($kitpid = $efc->orderWasKit($on))
	{
		$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - internal_repriceKits($kitpid)', '$xtstamp', '')";
		if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		$efc->internal_repriceKits($kitpid, 0, 0);	
	}
	

	$query = "insert into debug(title, tstamp, data) values('Endicia Response $invoiceid - UpdatePool', '$xtstamp', '')";
	if(!$q31337ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	$efc->UpdatePool(2, $on);
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	echo "OK\t$tracking\t$shipcost\t$uid\t$pdflist\n";
}


?>