<?
passthru("date > /tmp/label.jake");

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

ini_set('memory_limit', '-1');
set_time_limit(9999999999);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
if($keycode == "9782ga87t174gadf7g134b-asdf2834y")
{
	// bulkshipping
}
else
{
	REQUIRE($ROOT_DIR."/mgt/auth.phtml");
}

function getmicrotime()
{
	list($usec, $sec) = explode(" ",microtime());
	return ((float)$usec + (float)$sec);
}

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

if(($_SESSION["LABEL_FORMAT"] == "") && ($lf == ""))
	$label_format = "EPL2";
else if($lf != "")
	$label_format = $lf;
else
	$label_format = strtoupper($_SESSION["LABEL_FORMAT"]);
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$on = $efc->getOrderNumber($invoiceid);
$pidlist = explode(",", $productlist);

for($xx = 0; $xx < count($pidlist); $xx++)
{
	list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);

	if(intval($pid) > 0)
	{
		$query = "select lineid from customer_order_lines where qty_ordered > qty_shipped AND orderid = '$on' and prodid = '$pid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($q2ok) <= 0)
		{
			echo "This would create a duplicate shipment!";
			exit;
		}
	}
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$invoiceid = trim($invoiceid);
/*
http://butterfly.efluent.com/mgt/ship/usps/shiporder.phtml?ship2street1=161%20JAYMILLS%20AVE.&ship2street2=&ship2city=LONG%20BEACH&ship2state=CA&ship2zip=90805&ship2country=US&insured=1108.36&oinsured=0.00&weight=10&oweight=0.00&invoiceid=BFW0922597&ship2phone=6262833680&ship2name=NGHIEP%20VUONG&shipmethod=Parcel%20-%20Parcel%20Post&signature=1&residential=0&trackno=&shipdate=02/05/2009&saturday=0&productlist=466:2::0,
*/

// ========== CHANGE THESE VALUES TO MATCH YOUR OWN ===========
$RequesterID = $efc->getConfigValue("Endicia Settings", "RequesterID");
$AccountID = $efc->getConfigValue("Endicia Settings", "AccountID");
$PassPhrase = $efc->getConfigValue("Endicia Settings", "PassPhrase"); // Password
$PostalCode = $efc->getConfigValue("Company Information", "CompanyZip"); // Zipcode you are shipping FROM
$arewelive = $efc->getConfigValue("Endicia Settings", "Live");
// =============================================================

$query = "select emailaddr from customer_orders where invoiceid = '$invoiceid'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($emailaddr) = mysql_fetch_array($qok);

INCLUDE("ship_helper.phtml");

$ship2zip = $efc->sanitizeInput($ship2zip);

if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") )
{
	$ship2addon = "0000";
}
else
{
	if(strlen($ship2zip) > 5)
	{
		$ship2zip = substr($ship2zip, 0, 5);
		$ship2addon = substr($ship2zip, 5);
	}
	else
	$ship2addon = "0000";
}

$balance = getStatus($efc, $RequesterID, $AccountID, $PassPhrase, $PostalCode);
$rate = getRate($efc, $RequesterID, $AccountID, $PassPhrase, $PostalCode, $weight, $ship2zip);

/*if(floatval($rate) >= floatval($balance))
{// add shipping here
buyPostage($efc, $RequesterID, $AccountID, $PassPhrase, $invoiceid);

$balance = getStatus($efc, $RequesterID, $AccountID, $PassPhrase, $PostalCode);

if(floatval($rate) >= floatval($balance))
{
echo "Failed to Buy Postage.\n";
exit;
}
}*/

$weight = ceil($weight * 16);


list($endicia_method, $ship_method) = explode("-", $shipmethod);

$endicia_method = trim($endicia_method);
$ship_method = trim($ship_method);
//print_r($endicia_method."===".$ship_method);

$companyphone = $efc->getConfigValue("Company Information", "CompanyPhone");
$companyphone = str_replace("-", "", $companyphone);
$companyphone = trim( str_replace(".", "", $companyphone) );

if($arewelive == 1)
$livecode = "";
else
$livecode = "Test=\"YES\"";

passthru("echo $endicia_method >/tmp/jake.method");


if(strtolower($endicia_method) == "ifirst")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"6X4\" ImageFormat=\"GIF\" ImageRotation=\"Rotate90\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>FirstClassMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";	

	$data .= "<MailpieceShape>Flat</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";

}
if(strtolower($endicia_method) == "ifirstpackage")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"6X4\" ImageFormat=\"GIF\" ImageRotation=\"Rotate90\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>FirstClassPackageInternationalService</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";	

	$data .= "<MailpieceShape>Flat</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "ON";
	$certified = "OFF";

}
else if(strtolower($endicia_method) == "ipriority") // priority
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailExpressInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "iexpress") // priority
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>ExpressMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>Parcel</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "isfrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>SmallFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "ifrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateBox</MailpieceShape>";
	$dosig = "ON";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "ilfrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>LargeFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "imfrb")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>MediumFlatRateBox</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "ifre")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}
else if(strtolower($endicia_method) == "ifrle")
{
	$data ="labelRequestXML=<?xml version=\"1.0\"?>
    	<LabelRequest $livecode LabelType=\"International\" LabelSubtype=\"Integrated\" LabelSize=\"4X6\" ImageFormat=\"GIF\" ImageRotation=\"Rotate180\">
			<RequesterID>$RequesterID</RequesterID>
			<AccountID>$AccountID</AccountID>
			<PassPhrase>$PassPhrase</PassPhrase>
			<MailClass>PriorityMailInternational</MailClass>
			<DateAdvance>0</DateAdvance>
			<WeightOz>$weight</WeightOz>";

	$data .= "<MailpieceShape>FlatRateLegalEnvelope</MailpieceShape>";
	$dosig = "OFF";
	$confirmation = "OFF";
	$certified = "OFF";
}

$xvalue = 0.00;
$darray = array();

//if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") || (strtolower($endicia_method) == "ipa") )
//{
if($package_type == '') {
    $package_type = 'Merchandise';
}
	$idata = "<CustomsInfo>\n";
	$idata .= "<ContentsType>Other</ContentsType>\n";
	$idata .= "<ContentsExplanation>$package_type</ContentsExplanation>\n";
	$idata .= "<RestrictionType>NONE</RestrictionType>\n";
	$idata .= "<RestrictionCommments/>\n";
	$idata .= "<SendersCustomsReference>Senders Ref</SendersCustomsReference>\n";
	$idata .= "<ImportersCustomsReference>Importers Ref</ImportersCustomsReference>\n";
	$idata .= "<LicenseNumber>License 123</LicenseNumber>\n";
	$idata .= "<CertificateNumber>Cert No. 345</CertificateNumber>\n";
	$idata .= "<InvoiceNumber>Invoice 678</InvoiceNumber>\n";
	$idata .= "<NonDeliveryOption>RETURN</NonDeliveryOption>\n";
	$idata .= "<EelPfc>NOEEI 30.37(a)</EelPfc>\n";
	$idata .= "<CustomsItems>\n";
    
    $productsList = array();
    $productsQtyList = array();
    
    for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $serial, $other) = explode(":", $pidlist[$xx]);
        if(!in_array($pid,$productsList)) {
            $productsList[]=$pid;
            $productsQtyList[]=1;
        }
        else {
            foreach($productsList as $k=>$v) {
                if($v == $pid) {
                    $productsQtyList[$k] = $productsQtyList[$k]+1;
                }
            }
        }
    }
    if($oinsured<=0) {
	$oinsured = 100;
    }
	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $serial, $other) = explode(":", $pidlist[$xx]);

		if(intval($pid) > 0 && ($other == 0))
		{
			$query = "select descr, shipcode, sku, shipweight from product_list where id = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($descr, $shipcode, $sku, $i_shipweight) = mysql_fetch_array($qok);

			$descr = str_replace("\"", "", $descr);
			$descr = str_replace("&", "", $descr);

			if(intval($itemcount) == 0)
			$itemcount = 1;

			$i_cost = $efc->getActualCostHistory($pid);

			if(floatval($i_cost) <= 0)
			{
				$query = "select price from customer_order_lines where prodid = '$pid' and orderid = '$on'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($i_cost) = mysql_fetch_array($qok);
			}

			$i_shipweight = $i_shipweight * 16;

			if(intval($i_shipweight) == 0)
			$i_shipweight = $weight;

			$i_shipweight = ceil($i_shipweight);

			$darray[] = $descr;

			if(strlen($descr) > 45)
			$descr = substr($descr, 0, 45);

			$descr = preg_replace('/[\x00-\x1F\x80-\xFF]/', '', $descr);
			$idata .= "<CustomsItem>\n";
			$idata .= "<Description>$descr</Description>\n";
			$idata .= "<Quantity>1</Quantity>\n";
			$idata .= "<Weight>$i_shipweight</Weight>\n";
			if($DB =='rawfoodworld') {
			    if($xx == 0) {
				$idata .= "<Value>$oinsured</Value>\n";
			    }
			    else {
				$idata .= "<Value>0.00</Value>\n";
			    }
			}
			else {
			    $idata .= "<Value>$i_cost</Value>\n";
			}
			$idata .= "</CustomsItem>\n";

			$xvalue += $i_cost;

		}
	}

	$idata .= "</CustomsItems>\n";
	$idata .= "</CustomsInfo>\n";
	$idata .= "<CustomsCertify>true</CustomsCertify>\n";
	$idata .= "<CustomsSigner>".$efc->getConfigValue("Endicia Settings", "CustomsSigner")."</CustomsSigner>\n";
//}

$data .= "<Services InsuredMail=\"OFF\" SignatureConfirmation=\"OFF\" DeliveryConfirmation=\"$confirmation\" CertifiedMail=\"OFF\"/>\n<Value>0</Value>\n";

if($form_type == '') {
    $data .= "<IntegratedFormType>Form2976</IntegratedFormType>\n";
}
else {
    $form_type = str_replace('-','',$form_type);
    $data .= "<IntegratedFormType>Form".$form_type."</IntegratedFormType>\n";
}
$data .= "<Stealth>TRUE</Stealth>";

$data .= "<Description>$ship_method</Description>
		<PartnerCustomerID>".$efc->getConfigValue("Company Information", "CompanyName")."</PartnerCustomerID>
		<PartnerTransactionID>$invoiceid</PartnerTransactionID>
		<ToName>$ship2name</ToName>
		<ToCompany></ToCompany>
		<ToAddress1>$ship2street1</ToAddress1>
		<ToAddress2>$ship2street2</ToAddress2>
		<ToCity>$ship2city</ToCity>
		";

if($ship2state != "" && $ship2state != "--") $data .= "<ToState>$ship2state</ToState>";

$data .= "<ToPostalCode>$ship2zip</ToPostalCode>
		";

//if( (strtolower($endicia_method) == "ei") || (strtolower($endicia_method) == "pi") || (strtolower($endicia_method) == "fi") || (strtolower($endicia_method) == "ipa") )
//{ 
	$query = "select countryname from countrylist where countrycode = '$ship2country'";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($countryname) =mysql_fetch_array($q2ok);

	$data .= "<ToCountry>$countryname</ToCountry>
			  <ToCountryCode>$ship2country</ToCountryCode>
			";
//}


$data .= "<ToDeliveryPoint>00</ToDeliveryPoint>
		<ToPhone>$ship2phone</ToPhone>
		<FromName>".$efc->getConfigValue("Company Information", "CompanyName")."</FromName>
		<ReturnAddress1>".$efc->getConfigValue("Company Information", "CompanyAddress1")."</ReturnAddress1>
		<ReturnAddress1>".$efc->getConfigValue("Company Information", "CompanyAddress2")."</ReturnAddress1>
		<FromCity>".$efc->getConfigValue("Company Information", "CompanyCity")."</FromCity>
		<FromState>".$efc->getConfigValue("Company Information", "CompanyState")."</FromState>
		<FromPostalCode>".$efc->getConfigValue("Company Information", "CompanyZip")."</FromPostalCode>
		<FromZIP4>0000</FromZIP4>
		<FromPhone>$companyphone</FromPhone>
		<ResponseOptions PostagePrice=\"TRUE\"/>";

$data .= $idata;

$data .= "</LabelRequest>";

//print_r($data);
//
//exit();


$h = fopen($invoiceid.".txt","w+");
fwrite($h,$data);
fclose($h);
if( intval($efc->getConfigValue("Endicia Settings", "Live")) == 1)
{
	$baseURL = "https://LabelServer.Endicia.com/LabelService/EwsLabelService.asmx/GetPostageLabelXML";
}
else
{
	$baseURL = "https://www.envmgr.com/LabelService/EwsLabelService.asmx/GetPostageLabelXML";
}

//$result = doRequest($data, $baseURL);
$ch = curl_init($baseURL); // TESTING

//curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch,CURLOPT_POST,1);
curl_setopt($ch,CURLOPT_TIMEOUT, 60);
curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
curl_setopt ($ch, CURLOPT_SSL_VERIFYPEER, 0);
curl_setopt ($ch, CURLOPT_SSL_VERIFYHOST, 0);
curl_setopt($ch,CURLOPT_POSTFIELDS,$data);
$result = curl_exec ($ch);

$h = fopen($invoiceid."_result.txt","w+");
fwrite($h,$result);
fclose($h);

$xmlarray = xml2array($result, 1);

ob_start();
print_r($xmlarray);
$response = ob_get_clean();

$xtstamp = date("Y-m-d H:i:s", time());

$query = "insert into debug(title, tstamp, data) values('Endicia Request', '$xtstamp', '".addslashes($data)."')";
if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


$query = "insert into debug(title, tstamp, data) values('Endicia Response', '$xtstamp', '".addslashes($response)."')";
if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


passthru("echo $endicia_method >/tmp/jake.method");

$multi_label_flag = 0;

if(intval($xmlarray['LabelRequestResponse']['Status']['value']) != 0)
{
	echo "\t".$xmlarray['LabelRequestResponse']['ErrorMessage']['value']."--DEBUG--";
}
else
{
	$tracking = $xmlarray['LabelRequestResponse']['TrackingNumber']['value'];
    
    if(isset($xmlarray['LabelRequestResponse']['Label']['Image'][0])) 
    {

        $uidx_tmp = "";
        $multi_label_flag = 1;
        foreach($xmlarray['LabelRequestResponse']['Label']['Image'] as $k=>$v) 
        {
            $uidx = $invoiceid.date("m-d-Y.H.i.s", time())."_".$k.".gif";
	    
			$fp = fopen($ROOT_DIR."/mgt/ship/labels/$uidx", 'wb');   
			fwrite($fp, base64_decode($v['value']));
			fclose($fp);
	    	
            if($uidx_tmp == "")
            	$uidx_tmp = $uidx;
            else
            	$uidx_tmp .= ",$uidx";
       }
    }
    else 
    {
        $epl2label = base64_decode($xmlarray['LabelRequestResponse']['Base64LabelImage']['value']);
    }
    
    if( trim($epl2label) == "" ) $epl2label = base64_decode($xmlarray['LabelRequestResponse']['Label']['Image']['value']);

    
    
    
	$shipcost = $xmlarray['LabelRequestResponse']['PostagePrice']['attr']['TotalAmount'];

	if((strtolower($endicia_method) == "first") || (strtolower($endicia_method) == "fcl"))
	{
	 	$uida = $invoiceid.date("m-d-Y.H.i.s", time()).".gif";
	 	$uidb = $invoiceid.date("m-d-Y.H.i.s", time()).".bmp";
		
	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uida", 'wb');   
	    fwrite($fp, $epl2label);
	    fclose($fp);
	    
	    /*$xtime_start = getmicrotime();
	    
	   	$cmd = "/usr/bin/convert $ROOT_DIR/mgt/ship/labels/$uida bmp3:$ROOT_DIR/mgt/ship/labels/$uidb";
    	exec($cmd);

    	while(!file_exists("$ROOT_DIR/mgt/ship/labels/$uidb"))
	    {
	    	sleep(2);	
	    }
    	
	    $xtime_end = getmicrotime();
		$qtime = number_format(($xtime_end - $xtime_start), 2);

		$xtstamp = date("Y-m-d H:i:s", time());
	    $query = "insert into debug(title, tstamp, data) values('Endicia Converted Label in $qtime seconds', '$xtstamp', '".addslashes($cmd)."')";
		if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }


	    unlink("$ROOT_DIR/mgt/ship/labels/$uida");
	    
	    $uid = $uidb;*/
		$uid = $uida;

	}
    elseif(strtolower($endicia_method) == "ipa") {
//        $uida = $invoiceid.date("m-d-Y.H.i.s", time()).".gif";
//		
//	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uida", 'wb');   
//	    fwrite($fp, $epl2label);
//	    fclose($fp);
//	    
		$uid = substr($uidx_tmp,0,-1);
    }
	else 
	{
//		if($label_format == "EPL2")
//	 		$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".epl2";
//		else
//			$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".zplii";
//	        
//	 	$yoffset = $efc->getConfigValue("Endicia Settings", "YStartPOS");
//	 	
//	 	if(intval($yoffset) > 0)
//	 	{
//			if($label_format == "EPL2")
//				$epl2label = "R0,$yoffset\n".$epl2label."R0,0\n";
//			else
//			{
//				$epl2label = str_replace("^LH0,0", "^LH0,$yoffset", $epl2label);
//			}
//	 	}

		/*************************************************************************************************************************/
		// 8/15/2014 - YY -when an order is shipped UPS International Medium Flat Rate Box, this drops a blank .gif....... I'm leaving it as is
		$uid = $invoiceid.date("m-d-Y.H.i.s", time()).".gif";
	    $fp = fopen($ROOT_DIR."/mgt/ship/labels/$uid", 'wb');   
	    fwrite($fp, $epl2label);
	    fclose($fp);
	}

	$printcustomsform = "";
	$pdflist = "";

	if( $efc->getConfigValue("Endicia Settings", "CustomsFormType") != ""  && $customs == 1)
	{
		$customsform = $xmlarray['LabelRequestResponse']['CustomsForm']['Image'];

		for($xx = 0; $xx < count($customsform); $xx++)
		{
			$formdata = $customsform[$xx]['value'];

			$printcustomsform = $invoiceid."$xx.pdf";

			$fp = fopen($ROOT_DIR."/mgt/ship/labels/$printcustomsform", 'wb');
			fwrite($fp, base64_decode($formdata));
			fclose($fp);

			$pdflist .= $printcustomsform .",";
		}


	}

	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//
	$tstamp = date("Y-m-d H:i:s", strtotime($shipdate));
	$xshipdate = strtotime($shipdate);

	$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost, pickerid, shipperid) ";
	$query .= "values('$invoiceid', '$tracking', '$shipmethod', 'usps', '$xshipdate', '$shipcost',  '$pickerid', '".$_SESSION["ID"]."') ";
	if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	$tid = mysql_insert_id();
	//add id of user who shipped the order
/*	if ($DB == 'butterfly') {
		$query = "UPDATE customer_order_tracking SET shipped_user_id='".$_SESSION["ID"]."' WHERE tid='".$tid."'";
        if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}*/
	
	$on = $efc->getOrderNumber($invoiceid);
	$pidlist = explode(",", $productlist);

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// update customer_order_tracking_extended
	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid, $serial) = explode(":", $pidlist[$xx]);

		if(intval($pid) > 0)
		{
			$serial = addslashes($serial);
			// save what was in the box
			$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$on', '$tid', '$tracking', '$pid', '$serial')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// ship all coupons
	$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

	// ship all kits
	$query = "select customer_order_lines.prodid from customer_order_lines, product_list where customer_order_lines.prodid = product_list.id and product_list.kit = '1' and customer_order_lines.orderid = '$on'";
	if(!$q1723b = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($xkitpid) = mysql_fetch_array($q1723b))
	{
		$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid = '$xkitpid'";
	    if(!$q1732x = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	}	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	for($xx = 0; $xx < count($pidlist); $xx++)
	{//update the qty shipped for each item
		list($pid, $whid) = explode(":", $pidlist[$xx]);

		if(intval($pid) > 0)
		{
			$now = time();
			$cost = $efc->getActualCost($pid);
			$scost = $efc->getSalesmanCost($pid);

			if($efc->getOrderType($on) == "EXCHANGE")
			{
				$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid' and ex_return = 0";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}
			else
			{
				$query = "update customer_order_lines set qty_shipped = qty_shipped + 1, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}

			$efc->updateInventory(0, 1, $shipcost, $pid, $whid, "", $on);
		}
	}

	$efc->getStartStatus($on);
	if($efc->getOrderType($on) == "EXCHANGE")
	{
		$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($numleft) = mysql_fetch_array($qok);

		if($numleft <= 0)
		{
			$query = "update customer_orders set status = '50' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	else
	{
		// see if everything on the order has shipped
		$query = "select lineid, prodid from customer_order_lines where orderid = '$on' AND qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			// success
			$query = "select customer_orders.status, company_orderflow.success from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($this_step, $success_step) = mysql_fetch_array($qok);

			$query = "update customer_orders set status = '$success_step' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		else
		{
			// failure .... partially shipped
			$query = "select customer_orders.status, company_orderflow.failure from customer_orders, company_orderflow where
							customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($this_step, $failure_step) = mysql_fetch_array($qok);

			if($DB == 'rawfoodworld') {
			    if($uncomplete_status == '') {
				$query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
			    }
			    else {
				$query = "update customer_orders set status = '$uncomplete_status' where orderid = '$on'";
			    }
			}
			else {
			    $query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
			}
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}

	$efc->getLogStopStatus($on);
	$efc->recalculateInventory($on);

	if($kitpid = $efc->orderWasKit($on))
	$efc->internal_repriceKits($kitpid, 0, 0);

	$efc->UpdatePool(2, $on);
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	if($multi_label_flag == 1)
		echo "OK\t$tracking\t$shipcost\t$uidx_tmp\t$pdflist\n";
	else
		echo "OK\t$tracking\t$shipcost\t$uid\t$pdflist\n";
}


?>