<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);
*/
ini_set('memory_limit', '-1');

REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

function xml2array($contents, $get_attributes=1) 
{ 
    if(!$contents) return array(); 

    if(!function_exists('xml_parser_create')) { 
        //print "'xml_parser_create()' function not found!"; 
        return array(); 
    } 
    //Get the XML parser of PHP - PHP must have this module for the parser to work 
    $parser = xml_parser_create(); 
    xml_parser_set_option( $parser, XML_OPTION_CASE_FOLDING, 0 ); 
    xml_parser_set_option( $parser, XML_OPTION_SKIP_WHITE, 1 ); 
    xml_parse_into_struct( $parser, $contents, $xml_values ); 
    xml_parser_free( $parser ); 

    if(!$xml_values) return;//Hmm... 

    //Initializations 
    $xml_array = array(); 
    $parents = array(); 
    $opened_tags = array(); 
    $arr = array(); 

    $current = &$xml_array; 

    //Go through the tags. 
    foreach($xml_values as $data) { 
        unset($attributes,$value);//Remove existing values, or there will be trouble 

        //This command will extract these variables into the foreach scope 
        // tag(string), type(string), level(int), attributes(array). 
        extract($data);//We could use the array by itself, but this cooler. 

        $result = ''; 
        if($get_attributes) {//The second argument of the function decides this. 
            $result = array(); 
            if(isset($value)) $result['value'] = $value; 

            //Set the attributes too. 
            if(isset($attributes)) { 
                foreach($attributes as $attr => $val) { 
                    if($get_attributes == 1) $result['attr'][$attr] = $val; //Set all the attributes in a array called 'attr' 
                    /**  :TODO: should we change the key name to '_attr'? Someone may use the tagname 'attr'. Same goes for 'value' too */ 
                } 
            } 
        } elseif(isset($value)) { 
            $result = $value; 
        } 

        //See tag status and do the needed. 
        if($type == "open") {//The starting of the tag '<tag>' 
            $parent[$level-1] = &$current; 

            if(!is_array($current) or (!in_array($tag, array_keys($current)))) { //Insert New tag 
                $current[$tag] = $result; 
                $current = &$current[$tag]; 

            } else { //There was another element with the same tag name 
                if(isset($current[$tag][0])) { 
                    array_push($current[$tag], $result); 
                } else { 
                    $current[$tag] = array($current[$tag],$result); 
                } 
                $last = count($current[$tag]) - 1; 
                $current = &$current[$tag][$last]; 
            } 

        } elseif($type == "complete") { //Tags that ends in 1 line '<tag />' 
            //See if the key is already taken. 
            if(!isset($current[$tag])) { //New Key 
                $current[$tag] = $result; 

            } else { //If taken, put all things inside a list(array) 
                if((is_array($current[$tag]) and $get_attributes == 0)//If it is already an array... 
                        or (isset($current[$tag][0]) and is_array($current[$tag][0]) and $get_attributes == 1)) { 
                    array_push($current[$tag],$result); // ...push the new element into that array. 
                } else { //If it is not an array... 
                    $current[$tag] = array($current[$tag],$result); //...Make it an array using using the existing value and the new value 
                } 
            } 

        } elseif($type == 'close') { //End of tag '</tag>' 
            $current = &$parent[$level-1]; 
        } 
    } 

    return($xml_array); 
} 

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
// ========== CHANGE THESE VALUES TO MATCH YOUR OWN ===========
$RequesterID = $efc->getConfigValue("Endicia Settings", "RequesterID");
$AccountID = $efc->getConfigValue("Endicia Settings", "AccountID");
$PassPhrase = $efc->getConfigValue("Endicia Settings", "PassPhrase"); // Password
$PostalCode = $efc->getConfigValue("Company Information", "CompanyZip"); // Zipcode you are shipping FROM
// =============================================================
// <ImageFormat>PDF</ImageFormat>

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?> 
			<SCANRequest> 
				<AccountID>$AccountID</AccountID>
				<PassPhrase>$PassPhrase</PassPhrase>
				<SCANList>
				";

for($xx = 0; $xx < count($invoices); $xx++)
{
	$invoiceid = $invoices[$xx];
	$peice = 1; // 					
	$query = "select trackno from customer_order_tracking where invoiceid = '$invoiceid' and carrier = 'USPS'";
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while( list($trackno) = mysql_fetch_array($q4ok) )
	{
		$data .= "
				<PICNumber>$trackno</PICNumber> 
				<PieceID>$peice</PieceID>
					";
	}
}

					
					
$data .= "			</SCANList> 
			</SCANRequest>";


$baseURL = "https://www.endicia.com/ELS/ELSServices.cfc?wsdl";

$ch = curl_init(); // TESTING
//curl_setopt($ch, CURLOPT_HEADER, 1);
curl_setopt($ch, CURLOPT_URL, $baseURL);
curl_setopt($ch, CURLOPT_POST,1);
curl_setopt($ch, CURLOPT_TIMEOUT, 60);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, 0);
curl_setopt($ch, CURLOPT_SSL_VERIFYHOST, 0);
curl_setopt($ch, CURLOPT_POSTFIELDS, "&method=SCANRequest&XMLInput=$data");
curl_setopt($ch, CURLOPT_RETURNTRANSFER,true);
$result = curl_exec ($ch);

$xtstamp = date("Y-m-d H:i:s", time());
$query = "insert into debug(title, tstamp, data) values('Endicia ScanForm', '$xtstamp', '".addslashes($result)."')";
if(!$q21ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

$xmlarray = xml2array($result, 1);

$image = base64_decode($xmlarray['SCANResponse']['SCANForm']['value']);

if($xmlarray['SCANResponse']['ErrorMsg']['value'] != '')
{
	echo $xmlarray['SCANResponse']['ErrorMsg']['value'];
}
else 
	echo $image;
/*
echo "<pre>";
print_r($xmlarray);
echo "</pre>";
*/
mysql_close();
?>