<? 
// THIS FILE GETS INCLUDED FROM /mgt/om/ajax_voidshipment.phtml.....

////////////////////////////////////////////////////////////////////////////////////////////
$AccountID = $efc->getConfigValue("Endicia Settings", "AccountID"); 
$WebPassword = $efc->getConfigValue("Endicia Settings", "WebPassword"); // Password
////////////////////////////////////////////////////////////////////////////////////////////

if( intval($efc->getConfigValue("Endicia Settings", "Live")) == 1)
{
	$testcode = "";
}
else 
{
	$testcode = "<Test>Y</Test>";
}
	

$xml = "";
$xml .= "<RefundRequest>\n";
$xml .= "<AccountID>$AccountID</AccountID>\n";
$xml .= "<WebPassword>$WebPassword</WebPassword>\n";
$xml .= $testcode;
$xml .= "<RefundList>\n";
$xml .= "<PICNumber>$trackno</PICNumber>\n";
$xml .= "</RefundList>\n";
$xml .= "</RefundRequest>\n";
$curl_handle = curl_init ();
curl_setopt ($curl_handle, CURLOPT_URL, 'http://www.endicia.com/ELS/ELSServices.cfc?wsdl'); 
	$postfields = array(
						'method' => 'RefundRequest',
						'XMLInput' => $xml
						);
curl_setopt ($curl_handle, CURLOPT_FOLLOWLOCATION, 1);
curl_setopt ($curl_handle, CURLOPT_RETURNTRANSFER, 1);
curl_setopt ($curl_handle, CURLOPT_SSL_VERIFYPEER, 0);
curl_setopt ($curl_handle, CURLOPT_POST, 1);
curl_setopt ($curl_handle, CURLOPT_POSTFIELDS, $postfields);
$curl_result = curl_exec($curl_handle);



if($success == 0)
{
	$errormessage = $xmlarray['VoidShipmentResponse']['Response']['Error']['ErrorDescription'];
}
else 
{
	$errormessage = "SUCCESS";
}
?>