<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);
*/
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


$query = "CREATE TABLE IF NOT EXISTS product_differentials(pid bigint NOT NULL default 0,tstamp datetime,index(pid),index(tstamp))";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	

?>
<HTML>
<HEAD>
<TITLE>Vendor Differentials</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
</HEAD>
<script>
function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function markResolved(pid)
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
				
	cvr.style.top = 0;
	cvr.style.left = 0;
				
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	xmlHttp=GetXmlHttpObject();
		
	var url = "ajax_markresolved.phtml?pid="+pid+"&sid="+Math.random();
	xmlHttp.onreadystatechange=resolvedResult;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
	
}

function resolvedResult()
{
	if(xmlHttp.readyState==4)
	{ 
		var data = xmlHttp.responseText.split("~");
		
		if(data[0] == "0") // success... let's remove the listing
		{
			document.getElementById("item-"+data[1]+"-end").innerHTML = "<I>--</I>";
		}
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";

	}
}
</script>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<?
$merge_difference = $efc->getConfigValue("eFluent Settings", "Vendor Merge Differential");
if(intval($merge_difference) <= 0) $merge_difference = 10; // 10% price differential allowed
?>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Vendor Differentials</B>
		<BR><BR>
		<table>
		<tr>
			<td>
				<I>Your merge differential is set at <?=$merge_difference;?>%.  You can change it from Config->eFluent Settings->Vendor Merge Differential</I>
			</td>
		</tr>
		</table>
		<BR><BR>
		<?
		$query = "select product_list.id, product_list.visible, product_manufacturers.manname, product_list.descr, product_list.sku, product_differentials.tstamp from
				product_differentials, product_list, product_manufacturers 
				where
				product_manufacturers.manid = product_list.manid and
				product_list.id = product_differentials.pid  
				order by product_manufacturers.manname, product_list.sku";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }		
		$numproducts = $numrows = mysql_num_rows($qok);
		
		if($numproducts > 0)
		{
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$ITEMS_PER_PAGE = 50;
			$numpages = 0;
			
			if(intval($p) == 0)
				$p = 1;
			
			$numpages = ceil($numrows / $ITEMS_PER_PAGE);// 10 items per page
			$numpages = sprintf("%.00f", $numpages );
				
			$nextpage = $lastpage = 0;
				
			if(($p + 1) <= $numpages)$nextpage = $p + 1;
			if(($p - 1) >= 1)$lastpage = $p - 1;
						
			$offset = ($p - 1) * $ITEMS_PER_PAGE;
			if($numrows > 0) 
			$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
			
			if($eview > $numrows)
				$eview = $numrows;
			if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
			?>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "default.phtml";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink?p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numproducts,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink?p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
	      <BR>
	      
			<table width=100%>
			<tr bgcolor="#eeeeee">
				<td height=21><B>PID</B></td>
				<td height=21><B>SKU</B></td>
				<td height=21><B>Visible</B></td>
				<td height=21><B>Man</B></td>
				<td height=21><B>Title</B></td>
				<td height=21><B>Date</B></td>
				<td height=21><B>Mark as Resolved</B></td>

			</tr>
			<?
			$numout=0;
			while( (list($pid, $visible, $manname, $descr, $sku, $tstamp) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE) )
			{
				$numout++;
				?>
				<tr onMouseOver="this.bgColor='#eeeeff';" onMouseOut="this.bgColor='#FFFFFF';">
					<td height=21><a href="javascript:void(0);" onclick="e2window('/mgt/sm/editsku.phtml?id=<?=$pid;?>&inwin=1', 'Edit SKU: <?=$pid;?>');"><?=$pid;?></td>
					<td height=21><?=$sku;?></td>
					<td height=21><?if($visible == 1) echo "Yes"; else echo "No";?></td>
					<td height=21><?=$manname;?></td>
					<td height=21><?=$descr;?></td>
					<td height=21><?=date("m/d/Y H:i:s", strtotime($tstamp));?></td>
					<td height=21 align=center>
						<div id="item-<?=$pid;?>-end">
							<a href="javascript:void(0);" onclick="markResolved('<?=$pid;?>');">Mark as resolved</a>
						</div>
					</td>
				</tr>
				<?
			}
			?>
			</table>
			
			<table width="100%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	          <tr>
	
	          <?
	          $stdlink = "default.phtml";
	          if($lastpage != "")
				echo "<td align=left>&nbsp;&nbsp;<a href=\"$stdlink?p=$lastpage\" class=\"subc\"><<< Back</a></td>";
			 else 
				echo "<td>&nbsp;&nbsp;</td>";
				?>
	          
	            <td align="center"><div align="center"><?=number_format($numproducts,0);?> errors on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div></td>
	            
			
	          <?
				if($nextpage != "") 
					echo "<td align=right><a href=\"$stdlink?p=$nextpage\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
				else 
					echo "<td>&nbsp;&nbsp;</td>";
	           ?>
	        </tr>
	      </table>
	     <?
		}
		else 
		{
			echo "<BR><BR><I><B>No Items Found</B></I>";
		}
		?>
      <BR><BR>		
	<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>