					<form name="ordersearch" method="POST" action="default2.phtml">
						<table>
						<tr>
							<td class="g1">Order Status</td>
							<td>
								<select name="status_override" class="formSelect">
								<option value="">----- SELECT --------
								<?
								if (isset($_SESSION['pickorders2']['status_override'])) { $status_override = $_SESSION['pickorders2']['status_override']; }
								
								if(stristr($pickingstatus, ","))
								{
									$picklist = explode(",", $pickingstatus);
									for($xx = 0; $xx < count($picklist); $xx++)
									{
										if($picklist[$xx] != "")
										{
											$query = "select step, status from company_orderflow where step = '".$picklist[$xx]."'";
											if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
											list($step, $status)= mysql_fetch_array($qok);
											?>
											<option value="<?=$step;?>" <?if($status_override == $step) echo "SELECTED";?>><?=$step;?> - <?=$status;?>
											<?
										}
									}
								}
								else 
								{
									$query = "select step, status from company_orderflow where step = '".$pickingstatus."'";
									if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									list($step, $status)= mysql_fetch_array($qok);
									?>
									<option value="<?=$step;?>" <?if($status_override == $step) echo "SELECTED";?>><?=$step;?> - <?=$status;?>
									<?
								}
								?>							
							</td>
						</tr>
						<tr>
							<td class="g1">Order Number:</td>
							<?php if (isset($_SESSION['pickorders2']['on'])) { $on = $_SESSION['pickorders2']['on']; } ?>
							<td><input type="text" name="on" value="<?=$on;?>" style="width:125px" class="formBox"></td>
						</tr>
						
						<tr>
							<td class="g1">Bill To/Ship To:</td>
							<?php if (isset($_SESSION['pickorders2']['b2s2'])) { $b2s2 = $_SESSION['pickorders2']['b2s2']; } ?>
							<td><input type="text" name="b2s2" value="<?=$b2s2;?>" style="width:125px" class="formBox"></td>
						</tr>
						
						<tr>
							<td class="g1">Phone:</td>
							<?php if (isset($_SESSION['pickorders2']['phone'])) { $phone = $_SESSION['pickorders2']['phone']; } ?>
							<td><input type="text" name="phone" value="<?=$phone;?>" style="width:125px" class="formBox"></td>
						</tr>						
						
						<tr>
							<td class="g1">ZipCode:</td>
							<?php if (isset($_SESSION['pickorders2']['zipcode'])) { $zipcode = $_SESSION['pickorders2']['zipcode']; } ?>
							<td><input type="text" name="zipcode" value="<?=$zipcode;?>" style="width:125px" class="formBox"></td>
						</tr>						
						<tr>
							<td class="g1">Email Address:</td>
							<?php if (isset($_SESSION['pickorders2']['emailaddr'])) { $emailaddr = $_SESSION['pickorders2']['emailaddr']; } ?>
							<td><input type="text" name="emailaddr" value="<?=$emailaddr;?>" style="width:125px" class="formBox"></td>
						</tr>						
						
						<tr>
							<td class="g1">Keywords:</td>
							<?php if (isset($_SESSION['pickorders2']['keywords'])) { $keywords = $_SESSION['pickorders2']['keywords']; } ?>
							<td><input type="text" name="keywords" value="<?=$keywords;?>" style="width:125px" class="formBox"></td>
						</tr>	
						<tr>
							<td class="g1">PID:</td>
							<?php if (isset($_SESSION['pickorders2']['pid'])) { $pid = $_SESSION['pickorders2']['pid']; } ?>
							<td><input type="text" name="pid" value="<?=$pid;?>" style="width:125px" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1">SKU:</td>
							<?php if (isset($_SESSION['pickorders2']['sku'])) { $sku = $_SESSION['pickorders2']['sku']; } ?>
							<td><input type="text" name="sku" value="<?=$sku;?>" style="width:125px" class="formBox"></td>
						</tr>						
											
						<tr>
							<td class="g1">UPC Code:</td>
							<?php if (isset($_SESSION['pickorders2']['upccode'])) { $upccode = $_SESSION['pickorders2']['upccode']; } ?>
							<td><input type="text" name="upccode" value="<?=$upccode;?>" style="width:125px" class="formBox"></td>
						</tr>
						<tr>
							<td class="g1">Method:</td>
							<?php if (isset($_SESSION['pickorders2']['xcsmethod'])) { $xcsmethod = $_SESSION['pickorders2']['xcsmethod']; } ?>
							<td>
								<select name="xcsmethod" class="formSelect">
								<option value="">----- SELECT --------
								<?
								$psaddon = " AND company_orderflow.pick_submit = 1 ";
								$psaddon .= " AND company_orderflow.exclude = 0 ";
								
								$statuslist = $efc->getConfigValue("eFluent Settings", "ExcludeStatusForPicking");
								
								if($statuslist != "")
								{
									$statusarray = explode(",", $statuslist);
									
									for($xx = 0; $xx < count($statusarray); $xx++)
									{
										$addon .= " AND customer_orders.status != '".$statusarray[$xx]."'";
									}
								}
								
									
								if ($DB != 'rawfoodworld') {
									$query = "select distinct(customer_orders.csmethod)
										from customer_order_lines, customer_orders, company_orderflow where 
										customer_order_lines.orderid = customer_orders.orderid AND 
										customer_orders.status = company_orderflow.step AND 
										customer_orders.package = 1 AND
										(customer_order_lines.qty_ordered - customer_order_lines.qty_shipped - customer_order_lines.qty_returned) > 0 
										$addon 
										$psaddon
										group by customer_orders.csmethod";
								}
								else {
									$query = "select distinct(customer_orders.csmethod)
										from customer_order_lines, customer_orders, company_orderflow where 
										customer_order_lines.orderid = customer_orders.orderid AND 
										customer_orders.status = company_orderflow.step AND 
										(customer_order_lines.qty_ordered - customer_order_lines.qty_shipped - customer_order_lines.qty_returned) > 0 
										$addon 
										$psaddon
										group by customer_orders.csmethod";
								}
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($csmethod) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$csmethod;?>" <?if($xcsmethod == $csmethod) echo "SELECTED";?>><?=$csmethod;?>
									<?
								}
								?>
								</select>
							</td>
						</tr>
						<tr>
							<td class="g1">Category:</td>
							<?php if (isset($_SESSION['pickorders2']['cat0'])) { $cat0 = $_SESSION['pickorders2']['cat0']; } ?>
							<?php if (isset($_SESSION['pickorders2']['cat1'])) { $cat1 = $_SESSION['pickorders2']['cat1']; } ?>
							<?php if (isset($_SESSION['pickorders2']['cat2'])) { $cat2 = $_SESSION['pickorders2']['cat2']; } ?>
							<?php if (isset($_SESSION['pickorders2']['cat3'])) { $cat3 = $_SESSION['pickorders2']['cat3']; } ?>
							<?php if (isset($_SESSION['pickorders2']['cat4'])) { $cat4 = $_SESSION['pickorders2']['cat4']; } ?>
							<td>
								<select name="cat0" class="formSelect" onchange="getCategories(1);">
								<option value="0">----- SELECT --------
								<?
								$query = "select catid, catname from product_categories where parentid = 0";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($catid, $catname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$catid;?>" <?if($catid == $cat0) echo "SELECTED";?>><?=$catname;?>
									<?
								}
								?>
								</select>		
								<?
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat0) > 0)
								{
									?>
									<div id="cat1d" style="display:;">
										<select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '".$cat0."'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat1) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat1d" style="display:none;"><select name="cat1" id="cat1" class="formSelect" onchange="getCategories(2);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat1) > 0 && intval($cat0) > 0)
								{
									?>
									<div id="cat2d" style="display:;">
										<select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '".$cat1."'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat2) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat2d" style="display:none;"><select name="cat2" id="cat2" class="formSelect" onchange="getCategories(3);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
								if(intval($cat2) > 0)
								{
									?>
									<div id="cat3d" style="display:;">
										<select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);">
											<option value="0">----- SELECT --------
											<?
												$query = "select catid, catname from product_categories where parentid = '".$cat2."'";
												if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
												while(list($catid, $catname) = mysql_fetch_array($qok))
												{
													?>
													<option value="<?=$catid;?>" <?if($catid == $cat3) echo "SELECTED";?>><?=$catname;?>
													<?
												}
											?>
										</select>
									</div>
									<?
								}
								else 
								{
									?>
									<div id="cat3d" style="display:none;"><select name="cat3" id="cat3" class="formSelect" onchange="getCategories(4);"></select></div>
									<?
								}
								//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////						
								?>
								<div id="cat4d" style="display:none;"><select name="cat4" id="cat4" class="formSelect" onchange="getCategories(5);"></select></div>
								<div id="cat5d" style="display:none;"><select name="cat5" id="cat5" class="formSelect" onchange="getCategories(6);"></select></div>
							</td>
						</tr>						
				        <tr>
				                <td class="g1">Brand:</td>
				                <?php if (isset($_SESSION['pickorders2']['brand'])) { $brand = $_SESSION['pickorders2']['brand']; } ?>
				                <td>
				                        <select name="brand" id="brand" class="formSelect">
				                        <option value="">----- SELECT --------
				                        <?
				                        $query = "select manid, manname from product_manufacturers order by manname";
				                        if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				                        while(list($manid, $manname) = mysql_fetch_array($qok))
				                        {
				                                if(strlen($manname) > 25)
				                                {
				                                        $manname = substr($manname, 0, 18)."...";
				                                }
				                                ?>
				                                <option value="<?=$manid;?>" <?if($brand == $manid) echo "SELECTED"; ?>><?=$manname;?>
				                                <?
				                        }
				                        ?>
				                        </select>						
				                </td>
				        </tr>
						<tr>
							<td class="g1">Price Range:</td>
							<?php if (isset($_SESSION['pickorders2']['min'])) { $min = $_SESSION['pickorders2']['min']; } ?>
							<?php if (isset($_SESSION['pickorders2']['max'])) { $max = $_SESSION['pickorders2']['max']; } ?>
							<td>
								<input type="text" name="min" style="width:50px" class="formBox" value="<?=$min;?>"> - <input type="text" name="max" style="width:50px" class="formBox" value="<?=$max;?>">
							</td>
						</tr>						
											
													
													
						<tr>
							<td class="g1">Assigned to:</td>
							<?php if (isset($_SESSION['pickorders2']['assignedto'])) { $assignedto = $_SESSION['pickorders2']['assignedto']; } ?>							
							<td>
								<select name="assignedto" class="formSelect">
								<option value="0">----- SELECT --------
								<?
								$query = "select id, displayname from users order by displayname";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($userid, $displayname) = mysql_fetch_array($qok))
								{
									?>
									<option value="<?=$userid;?>" <?if($assignedto == $userid) echo "SELECTED";?>><?=$displayname;?>
									<?
								}
								?>
								</select>		
							</td>
						</tr>

						<tr>
							<td class="g1">&nbsp;</td>
							<td>
								<?php if ($DB == 'rawfoodworld') { $ignore_printed = 'on'; } ?>
								<?php if (isset($_SESSION['pickorders2']['ignore_printed'])) { $ignore_printed = $_SESSION['pickorders2']['ignore_printed']; } ?>							
								<input type="checkbox" name="ignore_printed" <?if($ignore_printed == "on") echo "CHECKED";?>>Ignore Printed Tickets<BR>	
							</td>
						</tr>
						
						
						<tr>
							<td class="g1">Order Date:</td>
							<?php if (isset($_SESSION['pickorders2']['qdate'])) { $qdate = $_SESSION['pickorders2']['qdate']; } ?>							
							<?php if (isset($_SESSION['pickorders2']['disable_range'])) { $disable_range = $_SESSION['pickorders2']['disable_range']; } ?>							
							<?php if (isset($_SESSION['pickorders2']['bdate'])) { $bdate = $_SESSION['pickorders2']['bdate']; } ?>							
							<?php if (isset($_SESSION['pickorders2']['edate'])) { $edate = $_SESSION['pickorders2']['edate']; } ?>							
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1" <?if($qdate == "1") echo "SELECTED";?>>Today</option>
								<option value="6" <?if($qdate == "6") echo "SELECTED";?>>Yesterday</option>
								<option value="2" <?if($qdate == "2") echo "SELECTED";?>>Last 7 Days</option>
								<option value="3" <?if($qdate == "3") echo "SELECTED";?>>Last 14 Days</option>
								<option value="4" <?if($qdate == "4") echo "SELECTED";?>>Last 30 Days</option>
								<option value="5" <?if($qdate == "5") echo "SELECTED";?>>Last Month</option>
							</select>
							<BR>							
							<input type="checkbox" name="disable_range" <?if($disable_range == "on") echo "CHECKED";?>>Ignore Date Range<BR>
							<?
							if($bdate == "") $bdate = date("m/d/Y");
							if($edate == "") $edate = date("m/d/Y");
							?>
							<input type="text" name="bdate" value="<?=$bdate;?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['ordersearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['ordersearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
							- to -
							
								<input type="text" name="edate" value="<?=$edate;?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['ordersearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['ordersearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
							</td>
						</tr>

						<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
						
						<!--<tr>
							<td class="g1">Kits</td>
							<td>
								<input type="checkbox" name="onlykits" <?if($onlykits == 1) echo "CHECKED";?> disabled>Only Kits<BR>	
							</td>
						</tr>-->
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Sort:</td>
							<?php if (isset($_SESSION['pickorders2']['sortby'])) { $sortby = $_SESSION['pickorders2']['sortby']; } ?>							
							<td valign=top>
								<select name="sortby" class="formSelect">
									<option value="">-- Select --</option>
									<option value="1" <?if(intval($sortby) == 1) echo "SELECTED";?>>Kit Pid Asc</option>
									<option value="2" <?if(intval($sortby) == 2) echo "SELECTED";?>>Kit Pid Desc</option>
									<option value="3" <?if(intval($sortby) == 3) echo "SELECTED";?>>Pid Asc</option>
									<option value="4" <?if(intval($sortby) == 4) echo "SELECTED";?>>Pid Desc</option>
                                    <option value="5" <?if(intval($sortby) == 5) echo "SELECTED";?>>Order Date Asc</option>
                                    <option value="6" <?if(intval($sortby) == 6) echo "SELECTED";?>>Order Date Desc</option>
								</select>						
							</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Origin:</td>
							<?php if (isset($_SESSION['pickorders2']['origintype'])) { $origintype = $_SESSION['pickorders2']['origintype']; } ?>							
							<td valign=top>
								<select name="origintype" class="formSelect">
									<option value=""       <?if($origintype == "") echo "SELECTED";?>>All Orders
									<option value="phone"  <?if($origintype == "phone") echo "SELECTED";?>>Phone Only
									<option value="web"    <?if($origintype == "web") echo "SELECTED";?>>Web Only
									<option value="amazon" <?if($origintype == "amazon") echo "SELECTED";?>>Amazon Only
<!--									<option value="amazonca" <?if(origintype == "amazonca") echo "SELECTED";?>>Amazon Can Only-->
									<option value="ebay" <?if($origintype == "ebay") echo "SELECTED";?>>eBay Only
<!--									<option value="maxlife" <?if(origintype == "maxlife") echo "SELECTED";?>>MaxLife Only-->
								</select>						
							</td>
						</tr>		
						<?
						if ($DB =='butterfly') {
							
							$query = "select id, name, type, note, failover from custom_fields where active = 1 and display = 1 AND id=67 order by type, name";
							if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							list($xid, $name, $type, $note, $failover) = mysql_fetch_array($qok);
							$mylist = explode(",", $note);
							
						?>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Section:</td>
							<?php if (isset($_SESSION['pickorders2']['section'])) { $section = $_SESSION['pickorders2']['section']; } ?>							
							<td valign=top>
								<select name="section" id="section" class="formSelect">
										<option value="">-------</option>
									<?
									for($pp = 0; $pp < count($mylist); $pp++)
									{
										?>
										<option value="<?=$mylist[$pp];?>" <?if($section == $mylist[$pp]) echo " selected"?>><?=$mylist[$pp];?></option>
										<?
									}
									?>
								</select>						
							</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:2px;">Product Type:</td>
							<?php if (isset($_SESSION['pickorders2']['product_type'])) { $product_type = $_SESSION['pickorders2']['product_type']; } ?>							
							<td valign=top>
								<select name="product_type" id="product_type" class="formSelect">
									<option value="1"<?if($product_type ==1) echo " selected"?>>KIT</option>
									<option value="2"<?if($product_type ==2) echo " selected"?>>Regular</option>
								</select>						
							</td>
						</tr>		
						<?}?>
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<?php if (isset($_SESSION['pickorders2']['num2return'])) { $num2return = $_SESSION['pickorders2']['num2return']; } ?>							
							<td valign=top>
								<select name="num2return" class="formSelect">
									<option value="50"   <?if($num2return == "50") echo "SELECTED";?>>50 items (default)
									<option value="100"  <?if($num2return == "100") echo "SELECTED";?>>100 items
									<option value="200"  <?if($num2return == "200") echo "SELECTED";?>>200 items
									<option value="300"  <?if($num2return == "300") echo "SELECTED";?>>300 items
									<option value="500"  <?if($num2return == "500") echo "SELECTED";?>>500 items
									<option value="1000" <?if($num2return == "1000") echo "SELECTED";?>>1000 items
									<option value="all" <?if($num2return == "all") echo "SELECTED";?>>all items
								</select>						
							</td>
						</tr>									
						
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="hidden" name="pkwin" value="1">
										<input type="submit" name="Action" value="Search" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Save" onclick="saveForm();" class="buttonItem">
									</div>
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="orderresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->