<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

// get list of all pid and qty combination from db
$query = "SELECT pid, qty 
		  FROM auto_shipping
		  ORDER BY pid, qty ASC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$count_items = mysql_num_rows($qok);
if ($count_items == 0): 
	die('No combination could be found in database.'); 
else: 
	?>
	<table id="results" width="100%" class="sortable">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238); ">
		<th height="21">PID</th>
		<th height="21">Brand</th>
		<th height="21">ManPart</th>
		<th height="21">QTY</th>
	</tr>
	<?php
	$i = 1;
	while (list($pid,$qty) = mysql_fetch_array($qok)):
	$queryx = "SELECT product_list.manid,product_list.manpart,product_manufacturers.manname FROM product_list,product_manufacturers WHERE product_list.id='".$pid."' AND product_list.manid=product_manufacturers.manid";
	if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($manid,$manpart,$manname) =mysql_fetch_array($qokx);
	?>
	<tr class="allpids" style="background:<?php echo ($i % 2 == 0 ? '#f0f0f0' : '#fff'); ?>">
		<td align="center"><?php echo $pid; ?></td>
		<td align="center"><?php echo $manname; ?></td>
		<td align="center"><?php echo $manpart; ?></td>
		<td align="center"><?php echo $qty; ?></td>
	</tr>
	<?php
	++$i;
	endwhile;
	?>	
	</tbody>
	</table>
	<?php
	endif;
?>