<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

$pid = (int) $_GET['pid'];
$qty = (int) $_GET['qty'];
if (empty($pid) || empty($qty)) { die('Please write a PID and quantity.'); }

$query_verify = "SELECT COUNT(id) AS count
				 FROM product_list
				 WHERE id='".$pid."'
				 LIMIT 1";
if(!$qok_verify = mysql_db_query($DB, $query_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
if ( mysql_fetch_object($qok_verify)->count == 0) { die('PID does not exist.'); } 

// list of Carriers
$carrier_array = array();
// USPS Alan
REQUIRE($ROOT_DIR."/mgt/ship/usps/getuspsrates.Class.phtml");
$usps = new getUspsRates();
$usps_tmp = explode("\n",$usps->getRates());
REQUIRE($ROOT_DIR."/mgt/ship/fedex/getrates_autoshipClass.phtml");
$fedex= new getFedexRates();
$fedex_tmp = explode("\n",$fedex->getRates());


foreach ($usps_tmp AS $usps_key => $usps_item) 
{ 
	$carrier_array['usps_alan']['methods'][] = $usps_item;
}
$carrier_array['usps_alan']['value'] = 'usps_alan';
$carrier_array['usps_alan']['name'] = 'USPS Alan';

foreach ($fedex_tmp AS $fedex_key => $fedex_item) 
{ 
	$carrier_array['fedex']['methods'][] = $fedex_item;
}

$carrier_array['fedex']['value'] = 'fedex';
$carrier_array['fedex']['name'] = 'FedEx';

// get list of carriers, methods and boxes from db
$query = "SELECT auto_shipping.qty, auto_shipping_details.zone, auto_shipping_details.carrier, auto_shipping_details.method, auto_shipping_details.boxes
		  FROM auto_shipping
		  JOIN auto_shipping_details
		  ON auto_shipping.id=auto_shipping_details.asid
		  WHERE auto_shipping.pid='$pid'
		  ORDER BY auto_shipping.qty ASC";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
$count_items = mysql_num_rows($qok);
$shipping_items = array();
$shipping_items_temp = array();
if ($count_items > 0)
{
	// populate an array with values, it's easy to work with
	while (list($db_qty,$db_zone,$db_carrier,$db_method,$db_boxes) = mysql_fetch_array($qok))
	{
		$shipping_items_temp[$db_qty][$db_zone][] = array('qty'=>$db_qty,'carrier'=>$db_carrier,'method'=>$db_method,'boxes'=>$db_boxes);
	}
}

// qty provided has no match in db, add a bulk value to array to avoid errors
if (!$shipping_items_temp[$qty]) 
{
	$shipping_items_bulk = array();
	for ($i=1;$i<=8;$i++) { $shipping_items_bulk[$qty][$i][] = array('qty'=>'','carrier'=>'','method'=>'','boxes'=>''); }
	$shipping_items = $shipping_items_bulk + $shipping_items_temp;
}
else 
{
	$current_qty = array();
	$current_qty[$qty] = $shipping_items_temp[$qty];
	unset($shipping_items_temp[$qty]);
	$shipping_items = $current_qty + $shipping_items_temp;
}

// loop shipping items from db
foreach ($shipping_items AS $shipping_items_key => $shipping_items_val):
	$queryx = "SELECT product_list.manid,product_list.manpart,product_manufacturers.manname FROM product_list,product_manufacturers WHERE product_list.id='".$pid."' AND product_list.manid=product_manufacturers.manid";
	if(!$qokx = mysql_db_query($DB, $queryx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($manid,$manpart,$manname) =mysql_fetch_array($qokx);
	?>
	<table id="results" width="100%" class="sortable qty_<?php echo $shipping_items_key; ?>">
	<tbody>
	<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238); ">
		<th colspan="9" align="left" height="21"><strong>PID: <?php echo $pid; ?> - Quantity: <?php echo $shipping_items_key; ?> - <?=$manpart?> - <?=$manname?></strong></th>
	</tr>
		<tr bgcolor="#eeeeee" style="background-color: rgb(238, 238, 238); ">
			<th align="left" height="21"><strong>Zones:</strong></th>
			<th height="21">1</th>
			<th height="21">2</th>
			<th height="21">3</th>
			<th height="21">4</th>
			<th height="21">5</th>
			<th height="21">6</th>
			<th height="21">7</th>
			<th height="21">8</th>
		</tr>
		<tr>
		<th align="left"><strong>Carrier:</strong></th>
		<form name="shipitems" method="POST">
		<?php for($i=1;$i<=8;$i++): ?>
		<td align="left">		
		<select name="carrier_<?php echo $i; ?>" id="carrier_<?php echo $i; ?>" class="formSelect" onchange="getRates('carrier_<?php echo $i; ?>','methods_<?php echo $i; ?>','qty_<?php echo $shipping_items_key; ?>');">
			<option value="">--- SELECT ---</option>
			<?php foreach ($carrier_array AS $carrier_item): ?>
			<option <?php echo ($carrier_item['value'] == $shipping_items_val[$i]['0']['carrier'] ? 'selected="selected"' : ''); ?> value="<?php echo $carrier_item['value']; ?>"><?php echo $carrier_item['name']; ?></option>
			<?php endforeach; ?>
		</select>
		</td>
		<?php endfor; ?>
	</tr>
	<tr>
		<th align="left"><strong>Method:</strong></th>
		<?php for($i=1;$i<=8;$i++): ?>
		<td align=left>
		<select name="methods_<?php echo $i; ?>" id="methods_<?php echo $i; ?>" class="formSelect">
			<option value="">--- SELECT ---</option>
			<?php
			foreach ($carrier_array[$shipping_items_val[$i]['0']['carrier']]['methods'] AS $method_item): ?>
			<option <?php echo ($method_item == $shipping_items_val[$i]['0']['method'] ? 'selected="selected"' : ''); ?> value="<?php echo $method_item; ?>"><?php echo $method_item; ?></option>
			<?php endforeach; ?>			
			</select>
		</td>
		<?php endfor; ?>
	</tr>
	<tr>
		<th align="left"><strong>Boxes:</strong></th>
		<?php for($i=1;$i<=8;$i++): ?>
		<td align="left">
		<input type="text" width="10" name="boxes_<?php echo $i; ?>" id="boxes_<?php echo $i; ?>" value="<?php echo $shipping_items_val[$i]['0']['boxes']; ?>" class="formBox">
		</td>
		<?php endfor; ?>
	</tr>
	<tr>
		<th align="left"><a class="copyall" href="javascript:void(0)" onclick="copyColumnAll('<?php echo $shipping_items_key; ?>');return false;" title="Copy all">Copy all</a><br />
						 <a class="saveall" href="javascript:void(0)" onclick="saveColumnAll('<?php echo $shipping_items_key; ?>','1');return false;" title="Save all">Save all</a><br />
						 <a class="deleteall" href="javascript:void(0)" onclick="deleteColumnAll('<?php echo $shipping_items_key; ?>','1');return false;" title="Delete all">Delete all</a>
		</th>
		<?php for($i=1;$i<=8;$i++): ?>
		<td align="left"><?php echo ($i > 1 ? '<a href="javascript:void(0)" onclick="copyColumn(\''.$i.'\',\''.$shipping_items_key.'\');return false;" title="Copy">Copy</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="saveColumn(\''.$i.'\',\''.$shipping_items_key.'\');return false;" title="Save">Save</a>&nbsp;&nbsp;&nbsp;<img src=\'/mgt/images/loading.gif\' id="loadingimg'.$i.'" style="display:none" />' : '<a href="javascript:void(0)" onclick="saveColumn(\''.$i.'\',\''.$shipping_items_key.'\');return false;" title="Save">Save</a>&nbsp;&nbsp;&nbsp;<img src=\'/mgt/images/loading.gif\' id="loadingimg'.$i.'" style="display:none" />'); ?></td>
		<?php endfor; ?>
		</form>
	</tr>
	</tbody>
	</table>
<?php endforeach; ?>