					<form name="upcsearch" style="margin:0px">
						<table>
						<tr>
							<td class="g1"><div style="padding-top:3px">UPC:</div></td>
							<td>
								<input type="text" name="upccode" value="<?=$upccode;?>" style="width:125px" class="formBox">
								<input type="submit" name="Action" value="Go" class="buttonItem">
							</td>
						</tr>
						<tr>
							<td class="g1"><div style="padding-top:3px">PID:</div></td>
							<td>
								<input type="text" name="pidcode" value="<?=$pidcode;?>" style="width:125px" class="formBox">
								<input type="submit" name="Action" value="Go" class="buttonItem">
							</td>
						</tr>
						<tr>
							<td class="g1" colspan=2 NOWRAP>
								<input type="checkbox" name="zoneA" value="1" <?if($zoneA == "1") echo "checked";?>> Zone A
								&nbsp;&nbsp;
								<input type="checkbox" name="zoneB" value="1" <?if($zoneB == "1") echo "checked";?>> Zone B
								&nbsp;&nbsp;
								<input type="checkbox" name="zoneC" value="1" <?if($zoneC == "1") echo "checked";?>> Zone C
								&nbsp;&nbsp;
								<input type="submit" name="Action" value="Go" class="buttonItem">
							</td>
						</tr>
						</table>
					</form>
					<form name="ordersearch">
						<table>
						<tr>
							<td class="g1">Item:</td>
							<td>
								<?
								$pickingstatus = $efc->getConfigValue("eFluent Settings", "ShippingStatus");
								if($pickingstatus == "") $efc->getConfigValue("eFluent Settings", "PickingStatus");

								$addon = "";
								
								if(stristr($pickingstatus, ","))
								{
									$picklist = explode(",", $pickingstatus);
									
									for($xx = 0; $xx < count($picklist); $xx++)
									{
										if($picklist[$xx] != "")
										{
											if($addon == "")
												$addon .= "(customer_orders.status = '".$picklist[$xx]."' ";
											else 
												$addon .= " OR customer_orders.status = '".$picklist[$xx]."' ";
										}
									}
									
									$addon .= ")";
								}
								else 
								{
									$addon = " customer_orders.status = '$pickingstatus' ";
								}
								
								$lastprodid = "";
								$lastqty = "";
								
								if($upccode != "")
								{
									$addtables .= ", product_list";
									$addon .= " AND product_list.id = customer_order_lines.prodid AND product_list.upccode = '$upccode' ";
								}
								
								if($pidcode != "")
								{
									$addtables .= ", product_list";
									$addon .= " AND product_list.id = customer_order_lines.prodid AND product_list.id = '$pidcode' ";
								}
								
								$vsaddon = "";
								$virtualskus = explode(",", $efc->getConfigValue("eFluent Settings", "BS_Virtual_Skus"));
								for($xx = 0; $xx < count($virtualskus); $xx++)
								{
									if($virtualskus[$xx] != "")
									{
										$addon .= " AND prodid != '".$virtualskus[$xx]."' ";
									}
								}
								
								// needed to get the orders with only 1 item on it..... had to change the query around and filter in the script
								$query = "select distinct(customer_orders.orderid), customer_order_lines.prodid, customer_order_lines.descr, 
											customer_order_lines.qty_ordered, customer_orders.ship2zip
											from customer_orders, customer_order_lines $addtables
											where 
											customer_orders.orderid = customer_order_lines.orderid AND
											(customer_order_lines.qty_ordered - customer_order_lines.qty_shipped - customer_order_lines.qty_returned) > 0 AND
											$addon
											group by customer_orders.orderid
											having count(customer_order_lines.prodid) = 1
											order by prodid, qty_ordered";

								$plist = array();
								$allowedZonesArray = array();
								
								if((intval($zoneA) == 1) || (intval($zoneB) == 1) || (intval($zoneC) == 1))
								{// okay one of them is checked..... so let's build the array
									if(intval($zoneA) == 1)
										$allowedZonesArray[] = "A";

									if(intval($zoneB) == 1)
										$allowedZonesArray[] = "B";
										
									if(intval($zoneC) == 1)
										$allowedZonesArray[] = "C";
										
								}
								else 
								{
									$allowedZonesArray[] = "A";
									$allowedZonesArray[] = "B";
									$allowedZonesArray[] = "C";
								}

								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($orderid, $prodid, $descr, $qty, $ship2zip) = mysql_fetch_array($qok))
								{
									$query = "select zone from zipcode_zone where zipcode = '".substr($ship2zip, 0, 3)."'";
									if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
									list($zone) = mysql_fetch_array($q2ok);
									
									if($efc->isAltSKU($prodid))
									{
										$prodid = $efc->getAltSKUParentID($prodid);
									}

									if((intval($zone) >= 1) && (intval($zone) <= 4))
										$zone = "A";
									else if((intval($zone) >= 5) && (intval($zone) <= 6))
										$zone = "B";
									else if((intval($zone) >= 7) && (intval($zone) <= 8))
										$zone = "C";

									if(in_array($zone, $allowedZonesArray))
									{
										$prodid = $prodid."-".$qty."-Z$zone";
										
										if(!in_array($prodid, $plist['prodid']))
										{
											if(strlen($descr) > 25)
												$descr = substr($descr, 0, 22)."...";
												
											$plist['prodid'][] = $prodid;
											$plist['descr'][] = $descr;
											$plist['count'][] = 1;
											$plist['qty'][] = $qty;
										}
										else 
										{
											$key = array_search($prodid, $plist['prodid']);
											
											$plist['count'][$key]++;
										}
									}

								}
								
								array_multisort($plist['count'], SORT_DESC, SORT_NUMERIC, $plist['prodid'], $plist['descr'], $plist['qty']);
								
								?>
								<select name="item2ship" class="formSelect" onchange="getMethods();">
								<option value="">--- SELECT ---</option>								
								<?
								for($xx = 0; $xx < count($plist['prodid']); $xx++)
								{
									?>								
									<option value="<?=$plist['prodid'][$xx];?>"><?=$plist['prodid'][$xx];?> - <?=$plist['descr'][$xx];?> [<?=$plist['count'][$xx];?>]
									<?
								}
								?>
								</select>
							</td>
						</tr>
						<tr>
							<td class="g1">Method:</td>
							<td>
								<select name="methods[]" id="methods" class="formSelect" MULTIPLE  size=7>
									<option value="">---- SELECT ----</option>
								</select>
							</td>
						</tr>						
						<tr>
							<td class="g1">Order Date:</td>
							<td>
							<select name="qdate" class="formselect" onchange="changeRange();">
								<option value="-1">-Quick Range-</option>
								<option value="1" <?if($_SESSION["SHIP_SAVEDSEARCH"]['qdate'] == "1") echo "SELECTED";?>>Today</option>
								<option value="6" <?if($_SESSION["SHIP_SAVEDSEARCH"]['qdate'] == "6") echo "SELECTED";?>>Yesterday</option>
								<option value="2" <?if($_SESSION["SHIP_SAVEDSEARCH"]['qdate'] == "2") echo "SELECTED";?>>Last 7 Days</option>
								<option value="3" <?if($_SESSION["SHIP_SAVEDSEARCH"]['qdate'] == "3") echo "SELECTED";?>>Last 14 Days</option>
								<option value="4" <?if($_SESSION["SHIP_SAVEDSEARCH"]['qdate'] == "4") echo "SELECTED";?>>Last 30 Days</option>
								<option value="5" <?if($_SESSION["SHIP_SAVEDSEARCH"]['qdate'] == "5") echo "SELECTED";?>>Last Month</option>
							</select>
							<BR>							
							<input type="checkbox" name="disable_range" <?if($_SESSION["SHIP_SAVEDSEARCH"]['disable_range'] == "true") echo "CHECKED";?>>Ignore Date Range<BR>
							<?
							if($_SESSION["SHIP_SAVEDSEARCH"]['bdate'] == "") $_SESSION["SHIP_SAVEDSEARCH"]['bdate'] = date("m/d/Y");
							if($_SESSION["SHIP_SAVEDSEARCH"]['edate'] == "") $_SESSION["SHIP_SAVEDSEARCH"]['edate'] = date("m/d/Y");
							?>
							<input type="text" name="bdate" value="<?=$_SESSION["SHIP_SAVEDSEARCH"]['bdate'];?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['ordersearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['ordersearch'].bdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">
							
							- to -
							
								<input type="text" name="edate" value="<?=$_SESSION["SHIP_SAVEDSEARCH"]['edate'];?>" size=15 class="formbox" style="width:65px"
				onclick="cal1x.select(document.forms['ordersearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" onselect="cal1x.select(document.forms['ordersearch'].edate,'anchor2x','MM/dd/yyyy'); return false;" ID="anchor2x">
							</td>
						</tr>

						<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
						
						<tr>
							<td class="g1"><div style="padding-top:2px;">Return:</td>
							<td valign=top>
								<select name="num2return" class="formSelect">
									<option value="50"   <?if($_SESSION["SHIP_SAVEDSEARCH"]['num2return'] == "50") echo "SELECTED";?>>50 items (default)
									<option value="100"  <?if($_SESSION["SHIP_SAVEDSEARCH"]['num2return'] == "100") echo "SELECTED";?>>100 items
									<option value="1000" <?if($_SESSION["SHIP_SAVEDSEARCH"]['num2return'] == "1000") echo "SELECTED";?>>1000 items
									<option value="9999" <?if($_SESSION["SHIP_SAVEDSEARCH"]['num2return'] == "9999") echo "SELECTED";?>>9999 items
								</select>						
							</td>
						</tr>									
						
						<tr>
							<td colspan=2>
								<BR>
									<div align=center>
										<input type="button" name="" value="Search" onclick="searchOrders()" class="buttonItem">&nbsp;&nbsp;
										<input type="button" name="" value="Clear" onclick="clearForm()" class="buttonItem">&nbsp;&nbsp;
									</div>
							</td>
						</tr>									
						<tr>
							<td colspan=2>
								<div align=center>

								<BR>
								<div id="orderresults" style="display:inline;">&nbsp;</div>	
								</div>
							</td>
						</tr>
						
												
						</table>
						
					</form>	
					<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
					<!--------------------------------------------------------------->
					
				<table>
				<tr bgcolor="#eeeeee">
					<td height=21><B>Zone</B></td>
					<td><B>Rate Box A</B></td>
					<td><B>Rate Box B</B></td>
					<td><B>Rate Box C</B></td>
				</tr>
				<?
				$query = "select zipcode_rates.zone, zipcode_rates.box_a, zipcode_rates.box_b, zipcode_rates.box_c from zipcode_rates order by zone";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				while(list($zone, $boxa, $boxb, $boxc) = mysql_fetch_array($qok))
				{
					?>
					<tr>
						<td><?=$zone;?></td>
						<td align=right><?=number_format($boxa, 2);?></td>
						<td align=right><?=number_format($boxb, 2);?></td>
						<td align=right><?=number_format($boxc, 2);?></td>
					</tr>
					<?
				}
				?>
				</table>