<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/


/*if($ivlist != "")
{
	$ivarray = explode(",", $ivlist);
	
	for($xx = 0; $xx < count($ivarray); $xx++)
	{
		$on = $efc->getOrderNumber($ivarray[$xx]);
		
		if(intval($on) > 0 && intval($ostatus) > 0)
		{
			$query = "update customer_orders set status = '$ostatus' where orderid = '$on'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$tstamp = date("Y-m-d H:i:s", time());
			$query = "insert into update_pool(type, updateid, tstamp) values('2', '$on', '$tstamp')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			$query = "select status from company_orderflow where step = '$ostatus'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($showstatus) = mysql_fetch_array($qok);
			
			$efc->logAction("SUCCESS", "2", $on, "From ShipMgr: Status Changed to $showstatus", "From ShipMgr: Status Changed to $showstatus");	
		}
	}
	
	Header("Location: /mgt/ship/tobepicked.phtml");
	exit;
	
}*/

?>
<HTML>
<HEAD>
<TITLE>Ship Ready to Ship</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT>
var g_level = 0;
var search_type = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

function searchOrders()
{
	if(document.ordersearch.item2ship.selectedIndex == 0)
	{
		alert('You must select an Item to ship');
		return;
	}
	
	var bdate = document.ordersearch.bdate.value;
	var edate = document.ordersearch.edate.value;
	var num2return = document.ordersearch.num2return.options[ document.ordersearch.num2return.selectedIndex ].value;
	var item2ship = document.ordersearch.item2ship.options[ document.ordersearch.item2ship.selectedIndex ].value;
	var qdate = document.ordersearch.qdate.options[ document.ordersearch.qdate.selectedIndex ].value;
	var disable_range = document.ordersearch.disable_range.checked;
	//var method = document.ordersearch.methods.options[ document.ordersearch.methods.selectedIndex ].value;
	
	var url="/mgt/ship/ajax_bszonesearch.phtml";
	url += "?type=INVOICE&status=<?=$tobepickedstatus;?>";
 	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&item2ship="+item2ship;
	url += "&num2return="+num2return;	
	url += "&sid="+Math.random();

	for (var i = 0; i < document.ordersearch.methods.options.length; i++)
	{
		if (document.ordersearch.methods.options[ i ].selected)
		{
			url += "&methods[]="+document.ordersearch.methods.options[ i ].value;
		}
	}	
	//window.open(url);
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

 //	window.open(url);
  	
  	document.getElementById("orderresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=searchOrdersComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}


function searchOrdersComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		document.getElementById("orderresults").innerHTML = lines[0];
		
		var lastid = '';
		
		for(xx = 1; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
					newRow.style.height = 21;
				}
						
				newRow.id = rows[0]; // assign the orderid as the rowid
				
				if(parseInt(rows[7]) <= 0)
						newRow.style.backgroundColor = "#ffeeee";
						
				for(pp = 0; pp <= rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);

					
					
					if(lastid == rows[0]) // another one from the same order
					{
						if(pp < 3)
							newCell.innerHTML = "&nbsp;";
						else
							newCell.innerHTML = rows[pp-1];
							
					}
					else
					{
						if(pp == 0)
							newCell.innerHTML = "<input type='checkbox' name='ids[]' value='"+rows[0]+"'\">";
						else if(pp == 1)
							newCell.innerHTML = "<a href=\"javascript:showMenu('"+rows[pp-1]+"');\">"+rows[pp-1]+"</a>";	
						else
							newCell.innerHTML = rows[pp-1];
					}
					
				}
			}//11
			
			// save the lastid
			lastid = rows[0];
		}
	}			
}

function showMenu(iv)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/om/vieworder.phtml?iv="+iv+"&inwin=1', 'View Order: "+iv+"');\">View Order</a>"
	
	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/ship/viewpick.phtml?iv="+iv+"&inwin=1', 'View Picking Slip: "+iv+"');\">View Picking</a>"

}


function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}

function clearForm()
{
	document.ordersearch.qdate.selectedIndex = 0;
	document.ordersearch.bdate.value = "<?=date("m/d/Y", time());?>";
	document.ordersearch.edate.value = "<?=date("m/d/Y");?>";
	document.ordersearch.disable_range.checked = 0;
	document.ordersearch.num2return.selectedIndex = 0;
	document.ordersearch.item2ship.selectedIndex = 0;
	
	var theTable = document.all.results;
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
	
}

function StartUp()
{

}

function getMethods()
{
	if(document.ordersearch.item2ship.selectedIndex == 0)
		return;
		
	var item2ship = document.ordersearch.item2ship.options[ document.ordersearch.item2ship.selectedIndex ].value;
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
  	var url = "/mgt/ship/ajax_bszonegetmethods.phtml";
	url += "?item2ship="+item2ship;
	url += "&sid="+Math.random();
  	
	//window.open(url);
	
	xml2Http.onreadystatechange=gotMethods;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);
}

function gotMethods()
{
	if(xml2Http.readyState==4)
	{
		//alert(xml2Http.responseText);
		var theSelect = document.getElementById("methods");
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
	    
	    var lines=xml2Http.responseText.split("\n"); 
		
	    for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")
			{
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);	
			}
		}
		
		getWarehouse();
	    
	}
}

function getWarehouse()
{
	if(document.ordersearch.item2ship.selectedIndex == 0)
		return;
		
	var item2ship = document.ordersearch.item2ship.options[ document.ordersearch.item2ship.selectedIndex ].value;
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	
  	
  	var url = "/mgt/ship/ajax_bsgetwarehouses.phtml";
	url += "?item2ship="+item2ship;
	url += "&sid="+Math.random();
  	
	xml2Http.onreadystatechange=gotWarehouses;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);	
}

function gotWarehouses()
{
	if(xml2Http.readyState==4)
	{
		//alert(xml2Http.responseText);
		var theSelect = document.getElementById("whid");
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
	    
	    var lines=xml2Http.responseText.split("\n"); 
		
	    for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")
			{
				nOption = document.createElement('option'); 
				isData = document.createTextNode(data[1]); 
				nOption.setAttribute('value',data[0]); 
				nOption.appendChild(isData); 
				
				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);	
			}
		}
	}	
}

function showNotes(orderid)
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	
	dlg.style.width=200;
	dlg.style.height=50;
	
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";

	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;
	
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	var url = "/mgt/om/ajax_ordernotes.phtml";
	url += "?orderid="+orderid;
	url += "&sid="+Math.random();
  	
  	xml2Http.onreadystatechange=gotOrderNotes;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);		
}

function gotOrderNotes() 
{ 
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("ordernotes");
		
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
	}			
}

function hideNotes()
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "none";
}

function showNotesTree(categorytree)
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	
	dlg.style.width=150;
	dlg.style.height=75;
	
	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;

	dlg.innerHTML = categorytree;
	
}

function showDescr(categorytree)
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	
	dlg.style.width=250;
	dlg.style.height=50;
	
	dlg.style.left  = posX - 250 - 25;
	dlg.style.top  = posY;

	dlg.innerHTML = categorytree;
	
}

function checkUncheckAll(myOptions, myForm) 
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "1")				
	{// today
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.ordersearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}


function stockDetail(pid, type)
{
	e2window("/mgt/sm/stockdetail.phtml?pid="+pid+"&type="+type+"&inwin=1", "Stock Detail "+pid)
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function getRates()
{
	xmlHttp=GetXmlHttpObject();
		
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	
  	var carrier = document.pkoptions.carrier.options[ document.pkoptions.carrier.selectedIndex ].value;
  	
  	//alert(carrier);
  	
	if(carrier  == "fedex" )
	{
		var url = "/mgt/ship/fedex/RateAvailableServices.php";
						
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "ups")
	{
		var url = "/mgt/ship/ups/rates.phtml?shipweight=1.0";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);		
	}
	else if(carrier == "genric")
	{
		var url = "/mgt/ship/generic/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "dropship")
	{
		var url = "/mgt/ship/dropship/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "manna")
	{
		var url = "/mgt/ship/manna/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "usps" || carrier == "usps_alan")
	{
		var url = "/mgt/ship/usps/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "smartpost")
	{
		var url = "/mgt/ship/smartpost/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "miendicia") 
	{
    	var theSelect = document.pkoptions.methods;
        for (i = theSelect.length - 1; i>=1; i--) 
        {
        	theSelect.remove(i);
		}
        var appVal = 'MI / Endicia\t0.00'.split("\t");
        appendOption(appVal);
	}		
		
}

function stristr (haystack, needle, bool) {
    // http://kevin.vanzonneveld.net
    // +   original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   bugfxied by: Onno Marsman
    // *     example 1: stristr('Kevin van Zonneveld', 'Van');
    // *     returns 1: 'van Zonneveld'
    // *     example 2: stristr('Kevin van Zonneveld', 'VAN', true);
    // *     returns 2: 'Kevin '
 
    var pos = 0;
 
    haystack += '';
    pos = haystack.toLowerCase().indexOf( (needle+'').toLowerCase() );
    if (pos == -1){
        return false;
    } else{
        if (bool) {
            return haystack.substr( 0, pos );
        } else{
            return haystack.slice( pos );
        }
    }
}

function gotRates()
{
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var theSelect = document.pkoptions.methods;
		
		var lines=xmlHttp.responseText.split("\n"); 
		
		for (i = theSelect.length - 1; i>=1; i--) 
		{
			theSelect.remove(i);
	    }		
		
		if(lines[0] != "OK")
		{
			for(xx = 0; xx < lines.length; xx++)
			{
				alert(lines[xx]);
			}
			
			return;
		}
		
		
		for(xx = 1; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")appendOptionB(data);
		}
	}	
}

function appendOptionB(data)
{
	var theSelect = document.pkoptions.methods;
	
	nOption = document.createElement('option');

	if(parseFloat(data[1]) > 0)
		isData = document.createTextNode(data[0]+" - $"+data[1]); 
	else
		isData = document.createTextNode(data[0]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body>
<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table width=99%>
	<tr>
		<td align=left><a href="/mgt/ship/bulkship.phtml">Bulk Ship</td>
		<td>&nbsp;&nbsp;</td>
		<td align=left><a href="/mgt/ship/bulkship_zone.phtml">Zone Bulk Ship</td>
		<td>&nbsp;&nbsp;</td>
		<td align=left><a href="/mgt/ship/kit_bulkship.phtml">Kit Bulk Ship</td>
		<td>&nbsp;&nbsp;</td>
		<td align=right><a href="/mgt/ship/import_worldship.phtml">Import WorldShip CSV</td>
	</tr>
	</table>
	</div>
</div>

<div id="savecover" class="cover"></div>
<div id="loading" class="dialog">
<table width=100 height=100>
<tr>
	<td height=100 valign=center align=center><span id="waitmsg">Please Wait...</span><BR><BR><img src='/mgt/images/loading.gif'></td>
</tr>
</table>
</div>

<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<?
if($pkwin != 1)
{
?>	<td width=13 background="/mgt/images/l.jpg"> </td><?
}
?>
	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Bulk Ship</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
			<!--------------------------------------------------------------->		
			
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("bs_zone_search.phtml");?>
					</div>
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>			
			</td>
<!---
<td height=21><div align="center">InvoiceID</div></td>
<td><div align="center">Type</div></td>
<td><div align="center">Date</div></td>
<td><div align="center">Status</div></td>
<td><div align="center">Name</div></td>
<td><div align="center">Zip</div></td>
<td><div align="center">Total</div></td>
			
<td><div align="center">Category</div></td>
<td><div align="center">Brand</div></td>						
<td><div align="center">Origin</div></td>

class="sortable_numeric"

echo "$invoiceid\t$orderdate\t$csmethod\t$manname\t$descr\t$manpart\t<div align=center>$printed</div>\t$instock\t$onhold\t$committed\t$onpo\n";
--->
		
		
			<td width=95%>
			<!--------------------------------------------------------------->	
				<form name="omreport" method="post">
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th height=21>&nbsp;</th>
					<th>Order</th>
					<th>Date</th>
					<th>Status</th>
					<th>State</th>
					<th>Method</th>
					<th>Man</th>
					<th>Descr</th>
					<th>PID</th>
					<th>Printed</th>
					<th class="sortable_numeric">Qty Ordered</th>
					<th class="sortable_numeric">OnHand</th>
					<th class="sortable_numeric">OnHold</th>
					<th class="sortable_numeric">Committed</th>
					<th class="sortable_numeric">Available</th>
					<th class="sortable_numeric">On PO</th>
				</tr>	
				</table>
				</form>	
			
				
				
				<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
					<ul class="TabbedPanelsTabGroup">
					<li class="TabbedPanelsTab2" tabindex="0"><strong>Status</strong></li>
					</ul>
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent2">  
				
						<form name="pkoptions" method="POST" action="/mgt/ship/do_bulkship.phtml" style="margin:0px">
						<input type="hidden" name="ivlist" value="">
						<input type="hidden" name="pid" value="">
						<input type="hidden" name="lf" value="<?=$_SESSION["LABEL_FORMAT"];?>">
						<table border=0 width=100%>
						<tr>
							<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pkoptions, document.omreport);">Select All Line Items</td>
							
							<td>&nbsp;&nbsp;&nbsp;</td>
							
							<td align=right><div style="padding-top:3px"><B>Carrier:</B></div></td>
							<td>
								<select name="carrier" class="formSelect" onchange="getRates()">
									<option value="" SELECTED>--- SELECT ---</option>
									<option value="fedex" 	<?if($mycarrier == "fedex") echo "SELECTED";?>>FedEx</option>
									<option value="manna" 	<?if($mycarrier == "manna") echo "SELECTED";?>>Manna</option>
									<option value="ups" 	<?if($mycarrier == "ups") echo "SELECTED";?>>UPS</option>
									<option value="genric"	 <?if($mycarrier == "genric") echo "SELECTED";?>>Generic</option>
									<option value="dropship" <?if($mycarrier == "dropship") echo "SELECTED";?>>DropShip</option>
									<option value="usps" 	<?if($mycarrier == "usps") echo "SELECTED";?>>USPS</option>
									<option value="usps_alan" 	<?if($mycarrier == "usps_alan") echo "SELECTED";?>>USPS Detailed</option>									
									<option value="smartpost" <?if($mycarrier == "smartpost") echo "SELECTED";?>>SmartPost</option>
								</select>
							</td>
							
							<td>&nbsp;&nbsp;&nbsp;</td>
							
							<td align=right><div style="padding-top:3px"><B>Method:</B></div></td>		
							<td>
								<select name="methods" class="formSelect">
									<option value="">----- SELECT SHIPPING METHOD -----</option>
								</select>
							</td>
							
							<td>&nbsp;&nbsp;&nbsp;</td>
							
							
							<td><input type="button" name="Action" value="Ship Orders" onclick="bulkShip()" class="buttonItem"></td>
						</tr>
						
						<tr>
							<td colspan=9 align=right>

								<table>
								<tr>
									<td><input type="checkbox" name="signature" checked value="1">Signature Required</td>
									
									<td>&nbsp;&nbsp;&nbsp;</td>
									
									<td align=right><div style="padding-top:3px"><B>Weight:</B></div></td>	
									<td><input type="text" name="weight" value="0.00" class="formBox" style="width:75px;text-align:right;" ></td>

									<td>&nbsp;&nbsp;&nbsp;</td>
									
									<td align=right><div style="padding-top:3px"><B>Insured:</B></div></td>	
									<td><input type="text" name="insured" value="0.00" class="formBox" style="width:75px;text-align:right;" ></td>
									
									<td>&nbsp;&nbsp;&nbsp;</td>
									
									<td align=right><div style="padding-top:3px"><B>Warehouse:</B></div></td>	
									<td>
										<select name="whid" id="whid" class="formSelect" >
											<option value="">--- SELECT ---</option>
										</select>
									
									</td>
									
									<td>
										<input type="button" name="Action" value="WS Export" onclick="exportOrders()" class="buttonItem"><BR>
										<input type="checkbox" name="confirmation">Delivery Confirmation
									</td>
								</tr>
								</table>
								
							</td>
						</tr>	
						</table>		
						</form>
						
						</div>
						
				      	</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
				//-->
				</script>			
				<script>
				function bulkShip()
				{
					var numorders = 0;
					var orders = "";
					var myForm = document.omreport;
							
					var z = 0;
					for(z=0; z<myForm.length;z++)
					{
						if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
						{
							if(myForm[z].checked)
							{
								if(orders.length <= 0)
									orders += myForm[z].value;
								else
									orders += ","+myForm[z].value;
									
								numorders++;
							}
						}
					}
					
					if(document.pkoptions.carrier.selectedIndex == 0 || document.pkoptions.methods.selectedIndex == 0)
					{
						alert('You must select a shipping Carrier and Method');
						return;	
					}
					
					if(numorders <= 0)
					{
						alert('You have not selected any orders to ship!');
					}
					else
					{
						
						var cvr = document.getElementById("savecover");
						cvr.style.display = "block";
						cvr.style.top = 0;
						cvr.style.left = 0;
						
						var cvr = document.getElementById("loading");
						cvr.style.display = "block";	
											
						//alert(orders);
						document.pkoptions.ivlist.value = orders;
						document.pkoptions.pid.value = document.ordersearch.item2ship.options[ document.ordersearch.item2ship.selectedIndex ].value;
						document.pkoptions.submit();
					}
				}
				
				function exportOrders()
				{
					//document.pkoptions.target = "_blank" ;
					document.pkoptions.action = "/mgt/ship/do_worldship.phtml";

					var numorders = 0;
					var orders = "";
					var myForm = document.omreport;
							
					var z = 0;
					for(z=0; z<myForm.length;z++)
					{
						if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
						{
							if(myForm[z].checked)
							{
								if(orders.length <= 0)
									orders += myForm[z].value;
								else
									orders += ","+myForm[z].value;
									
								numorders++;
							}
						}
					}
					
					if(numorders <= 0)
					{
						alert('You have not selected any orders to ship!');
					}
					else
					{
						
						var confirmation = 0;
						
						if(document.pkoptions.confirmation.checked)
							confirmation = 1;
						else
							confirmation = 0;
							
						var whid = document.pkoptions.whid.options[ document.pkoptions.whid.selectedIndex ].value;
						
						url = "/mgt/ship/do_worldship.phtml?ivlist="+orders;
						url += "&pid="+document.ordersearch.item2ship.options[ document.ordersearch.item2ship.selectedIndex ].value;
						url += "&weight="+document.pkoptions.weight.value;
						url += "&confirmation="+confirmation;
						url += "&whid="+whid;
						
						window.open(url);
						
						
						window.location.href = "/mgt/ship/bulkship.phtml";
					}					
					
				}
				</script>
				<!--------------------------------------------------------------->
			</td>
		</tr>
		</table>
		
		<iframe id="exportframe" style="display:none;"></iframe>
		
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="saveform" class="dialog">
<form name="mysaveform">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Save Search as:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="checkbox" name="public" value="1">Public (available to everyone)</td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>

<div id="ordernotes" class="dialog">
</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
<?
if($pkwin != 1)
{
?>	<td width=13 background="/mgt/images/r.jpg"> </td><?
}
?>	
</tr>
</table>

</body>
</html>