<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if(intval($_SESSION["SHIP_SAVEDSEARCH"]['num2return']) <= 0)
{
	$_SESSION["SHIP_SAVEDSEARCH"]['ignore_printed'] = 1;
}

$pickingstatus = $efc->getConfigValue("eFluent Settings", "PickingStatus");

if(intval($pickingstatus) <= 0)
{
	echo "From eFluent, configure the PickingStatus Status from Config->Site Configuration->eFluent Settings->PickingStatus";
	exit;
}

if ($Action == "Delete")
{
	$query = "DELETE FROM saved_picking_search
			  WHERE id = '$sid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	Header("Location: /mgt/ship/default2.phtml");
	exit;
}

if($loadsearch == 1)
{
	$query = "SELECT sdata
			  FROM saved_picking_search 
			  WHERE id = '$saveid'
			  LIMIT 1";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
	list($sdata) = mysql_fetch_array($qok);
	$sdata = str_replace("\n", "", $sdata);

	$_SESSION['pickorders2'] = "";
	eval($sdata);
	
	$_SESSION['pickorders2']['status_override'] = $status_override;
	$_SESSION['pickorders2']['on'] = $on;
	$_SESSION['pickorders2']['b2s2'] = $b2s2;
	$_SESSION['pickorders2']['phone'] = $phone;
	$_SESSION['pickorders2']['zipcode'] = $zipcode;
	$_SESSION['pickorders2']['emailaddr'] = $emailaddr;
	$_SESSION['pickorders2']['keywords'] = $keywords;
	$_SESSION['pickorders2']['sku'] = $sku;
	$_SESSION['pickorders2']['upccode'] = $upccode;
	$_SESSION['pickorders2']['xcsmethod'] = $xcsmethod;
	$_SESSION['pickorders2']['cat0'] = $cat0;
	$_SESSION['pickorders2']['cat1'] = $cat1;
	$_SESSION['pickorders2']['cat2'] = $cat2;
	$_SESSION['pickorders2']['cat3'] = $cat3;
	$_SESSION['pickorders2']['cat4'] = $cat4;
	$_SESSION['pickorders2']['brand'] = $brand;
	$_SESSION['pickorders2']['min'] = $min;
	$_SESSION['pickorders2']['max'] = $max;
	$_SESSION['pickorders2']['assignedto'] = $assignedto;
	$_SESSION['pickorders2']['ignore_printed'] = $ignore_printed;
	$_SESSION['pickorders2']['qdate'] = $qdate;
	$_SESSION['pickorders2']['disable_range'] = $disable_range;
	$_SESSION['pickorders2']['bdate'] = $bdate;
	$_SESSION['pickorders2']['edate'] = $edate;
	$_SESSION['pickorders2']['sortby'] = $sortby;
	$_SESSION['pickorders2']['origintype'] = $origintype;
	$_SESSION['pickorders2']['num2return'] = $num2return;
	Header("Location: /mgt/ship/default2.phtml");
}
elseif ($savename != "")
{
	$sdata = "";
	foreach ($_SESSION['pickorders2'] as $key => $value) 
	{
		$sdata .= "$$key=\"$value\";\n";
	}
	
	$savename = addslashes($savename);
	$sdata = addslashes($sdata);
	$userid = $_SESSION["ID"];

	$q = "INSERT INTO saved_picking_search (name, sdata, public, userid) 
		  VALUES ('$savename', '$sdata', '$public', '$userid')";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
	Header("Location: /mgt/ship/default2.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Ship Ready to Ship</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/js/jquery.tools.1.0.5.js" type="text/javascript"></script>

<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT>
    
var g_level = 0;
var search_type = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}
   	
	switch (keyCode) 
	{ 
 		case 13: //enter  
 		{
 			searchOrders();
 			return false; 
 		}
	}  
} 

function searchOrders()
{
	var section= '';
	var product_type= '';
	var on = document.ordersearch.on.value;
	var b2s2 = document.ordersearch.b2s2.value;
	var phone = document.ordersearch.phone.value;
	var sku = document.ordersearch.sku.value;
	var upccode = document.ordersearch.upccode.value;
	var min = document.ordersearch.min.value;
	var max = document.ordersearch.max.value;
	var assignedto = document.ordersearch.assignedto.options[ document.ordersearch.assignedto.selectedIndex ].value;
	var bdate = document.ordersearch.bdate.value;
	var edate = document.ordersearch.edate.value;
	var disable_range = document.ordersearch.disable_range.checked;
	var num2return = document.ordersearch.num2return.options[ document.ordersearch.num2return.selectedIndex ].value;
	var zipcode = document.ordersearch.zipcode.value;
	var emailaddr = document.ordersearch.emailaddr.value;
	var qdate = document.ordersearch.qdate.options[ document.ordersearch.qdate.selectedIndex ].value;
	<?if($DB == 'butterfly'){?>
		section = document.ordersearch.section.options[ document.ordersearch.section.selectedIndex ].value;
		product_type = document.ordersearch.product_type.options[ document.ordersearch.product_type.selectedIndex ].value;
	<?}?>
	var ignore_printed = 0;
	
	if(document.ordersearch.ignore_printed.checked)
		ignore_printed = 1;
	
	var onlykits = 0;
	
	if(document.ordersearch.onlykits.checked)
		onlykits = 1;

	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "", brand = "";
	
	brand = document.ordersearch.brand.options[ document.ordersearch.brand.selectedIndex ].value;

	if(document.ordersearch.cat0.selectedIndex > 0)
		cat0 = document.ordersearch.cat0.options[ document.ordersearch.cat0.selectedIndex ].value;
	
	if(document.ordersearch.cat1.selectedIndex > 0)
		cat1 = document.ordersearch.cat1.options[ document.ordersearch.cat1.selectedIndex ].value;
	
	if(document.ordersearch.cat2.selectedIndex > 0)		
		cat2 = document.ordersearch.cat2.options[ document.ordersearch.cat2.selectedIndex ].value;
	
	if(document.ordersearch.cat3.selectedIndex > 0)		
		cat3 = document.ordersearch.cat3.options[ document.ordersearch.cat3.selectedIndex ].value;
	
	if(document.ordersearch.cat4.selectedIndex > 0)		
		cat4 = document.ordersearch.cat4.options[ document.ordersearch.cat4.selectedIndex ].value;	
	
	var url="/mgt/ship/ajax_ordersearch.phtml";
	url += "?type=INVOICE&status=<?=$pickingstatus;?>";
 	url += "&cat0="+cat0;
 	url += "&cat1="+cat1;
 	url += "&cat2="+cat2;
 	url += "&cat3="+cat3;
 	url += "&cat4="+cat4;
	url += "&brand="+brand;
 	url += "&on="+on;
	url += "&b2s2="+b2s2;
	url += "&phone="+phone;
	url += "&sku="+sku;
	url += "&upccode="+upccode;
	url += "&min="+min;
	url += "&max="+max;
	url += "&assignedto="+assignedto;
	url += "&bdate="+bdate;
	url += "&edate="+edate;
	url += "&disable_range="+disable_range;
	url += "&zipcode="+zipcode;
	url += "&emailaddr="+emailaddr;
	url += "&num2return="+num2return;
	url += "&qdate="+qdate;
	url += "&ignore_printed="+ignore_printed;
	url += "&onlykits="+onlykits;
	url += "&section="+section;
	url += "&product_type="+product_type;
	url += "&sid="+Math.random();
	
	//window.open(url);
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	document.getElementById("orderresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=searchOrdersComplete;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function updateMethod(invoiceid)
{	
	var theOption = document.getElementById("option_"+invoiceid);
	var newmethod = theOption.selectedIndex;
	var methodid = theOption.options[newmethod].value;
	var methodname = theOption.options[newmethod].text;
	
	document.getElementById("methodname_"+invoiceid).innerHTML = methodname;
	
	var url="/mgt/ship/ajax_updatemethod.phtml";
	url += "?iv="+invoiceid;
	url += "&mid="+methodid;
	url += "&mname="+escape(methodname);
 	
	//window.open(url);
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	document.getElementById("orderresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";
  	
	xmlHttp.onreadystatechange=methodUpdated;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function methodUpdated()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("orderresults").innerHTML =  "Method Changed";
	}
}

function searchOrdersComplete() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		var theTable = document.all.results;
		var numrows = theTable.rows.length;
    
		for(zz = 1; zz < numrows; zz++)
		{
			theTable.deleteRow(1);
		}
		
		var lines = xmlHttp.responseText.split("\n");

		document.getElementById("orderresults").innerHTML = lines[0];
		
		var lastid = '';
		
		for(xx = 1; xx < lines.length; xx++)
		{
			rows = lines[xx].split("\t");
	
			if(rows.length > 2)
			{
				var newRow = theTable.insertRow(theTable.rows.length)
	
				
				if((xx % 2) == 0)
				{
					newRow.style.backgroundColor = "#eeeeee";
					newRow.style.height = 21;
				}
						
				newRow.id = rows[0]; // assign the orderid as the rowid
				
				if(parseInt(rows[7]) <= 0)
					newRow.style.backgroundColor = "#ffeeee";
				
				if(parseInt(rows[11]) - parseInt(rows[10]) < 0)
						newRow.style.backgroundColor = "#ffeeee";	
				
				//alert(rows[9]);// ordered
				//alert(rows[10]); // onhand
					
						
				for(pp = 0; pp <= rows.length; pp++)
				{
					var newCell = newRow.insertCell(pp);

					
					
					if(lastid == rows[0]) // another one from the same order
					{
						if(pp < 3)
							newCell.innerHTML = "&nbsp;";
						else
							newCell.innerHTML = rows[pp-1];
							
					}
					else
					{
						if(pp == 0)
							newCell.innerHTML = "<input type='checkbox' name='ids[]' value='"+rows[0]+"'\">";
						else if(pp == 1)
							newCell.innerHTML = "<a href=\"javascript:showMenu('"+rows[pp-1]+"');\">"+rows[pp-1]+"</a>";	
						else
							newCell.innerHTML = rows[pp-1];
					}
					
				}
			}//11
			
			// save the lastid
			lastid = rows[0];
		}
	}			
}

function showMenu(iv)
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "block";
	
	dlg.style.left  = posX;
	dlg.style.top  = posY;
	
	document.getElementById("menuOption1").innerHTML = "<a href=\"javascript:e2window('/mgt/om/vieworder.phtml?iv="+iv+"&inwin=1', 'View Order: "+iv+"');\">View Order</a>"
	
	document.getElementById("menuOption2").innerHTML = "<a href=\"javascript:e2window('/mgt/ship/viewpick.phtml?iv="+iv+"&inwin=1', 'View Picking Slip: "+iv+"');\">View Picking</a>"

}


function hideMenu()
{
	var dlg = document.getElementById("dialog");
	dlg.style.display = "none";
}

function clearForm()
{
/*
	var type = document.ordersearch.type.options[ document.ordersearch.type.selectedIndex ].value;
	var status = document.ordersearch.status.options[ document.ordersearch.status.selectedIndex ].value;
	var on = document.ordersearch.on.value;
	var b2s2 = document.ordersearch.b2s2.value;
	var phone = document.ordersearch.phone.value;
	var sku = document.ordersearch.sku.value;
	var min = document.ordersearch.min.value;
	var max = document.ordersearch.max.value;
	var assignedto = document.ordersearch.assignedto.options[ document.ordersearch.assignedto.selectedIndex ].value;
	var bdate = document.ordersearch.bdate.value;
	var edate = document.ordersearch.edate.value;
	var disable_range = document.ordersearch.disable_range.checked;
	var num2return = document.ordersearch.num2return.options[ document.ordersearch.num2return.selectedIndex ].value;

*/
	document.ordersearch.qdate.selectedIndex = 0;
	
	document.ordersearch.status_override.value = "";
	document.ordersearch.keywords.value = "";
	document.ordersearch.upccode.value = "";
	document.ordersearch.xcsmethod.value = "";
	document.ordersearch.on.value = "";
	document.ordersearch.b2s2.value = "";
	document.ordersearch.phone.value = "";
	document.ordersearch.sku.value = "";
	document.ordersearch.min.value = "";
	document.ordersearch.max.value = "";
	document.ordersearch.assignedto.selectedIndex = 0;	
	document.ordersearch.bdate.value = "<?=date("m/d/Y", time());?>";
	document.ordersearch.edate.value = "<?=date("m/d/Y");?>";
	document.ordersearch.disable_range.checked = 0;
	document.ordersearch.num2return.selectedIndex = 0;
	<?if($DB == 'butterfly'){?>
		document.ordersearch.section.selectedIndex = 0;
		document.ordersearch.product_type.selectedIndex = 0;
	<?}?>
	

	document.ordersearch.zipcode.value = "";
	document.ordersearch.emailaddr.value = "";
	
	/*var theTable = document.all.results;
	var numrows = theTable.rows.length;
    
	for(zz = 1; zz < numrows; zz++)
	{
		theTable.deleteRow(1);
	}
	*/
	document.ordersearch.brand.selectedIndex = 0;	

	document.getElementById("cat1d").style.display = 'none';
	document.getElementById("cat2d").style.display = 'none';
	document.getElementById("cat3d").style.display = 'none';
	document.getElementById("cat4d").style.display = 'none';
	
	document.ordersearch.cat0.selectedIndex = 0;
	g_level = 0;	
}

function StartUp()
{
	<?
	if($sku != "")
	{
	?>
		clearForm();
		document.ordersearch.sku.value = "<?=$sku;?>";
		searchOrders();
	<?
	}
	else if(intval($_SESSION["SHIP_SAVEDSEARCH"]['num2return']) > 0)
	{
	?>
		searchOrders();
	<?
	}
	?>
}
function showNotes(orderid)
{
/*	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	
	dlg.style.width=200;
	dlg.style.height=50;
	
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";

	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;*/
	
	var pos = $('#notes_'+orderid).offset();

	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";
	$('#ordernotes').offset({ top: pos.top, left: pos.left+20});
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	//window.open(url);
  	
  	var url = "/mgt/om/ajax_ordernotes.phtml";
	url += "?orderid="+orderid;
	url += "&sid="+Math.random();
  	
  	xml2Http.onreadystatechange=gotOrderNotes;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);		
}

function gotOrderNotes() 
{ 
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("ordernotes");
		
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
	}			
}

function hideNotes()
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "none";
}

function showNotesTree(categorytree)
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	
	dlg.style.width=150;
	dlg.style.height=75;
	
	dlg.style.left  = posX + 10;
	dlg.style.top  = posY;

	dlg.innerHTML = categorytree;
	
}

function showDescr(categorytree)
{
	var dlg = document.getElementById("ordernotes");
	dlg.style.display = "block";
	
	dlg.style.width=250;
	dlg.style.height=50;
	
	dlg.style.left  = posX - 250 - 25;
	dlg.style.top  = posY;

	dlg.innerHTML = categorytree;
	
}

function checkUncheckAll(myOptions, myForm) 
{
	var z = 0;
	for(z=0; z<myForm.length;z++)
	{
		if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
		{
			myForm[z].checked = myOptions.checkall.checked;
		}
	}
}

function changeRange()
{
	<?$x_today = time();?>	
	
	if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "1")				
	{// today
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";

	}
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "6")				
	{// yesterday
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today - (86400 * 1));?>/<?=date("d", $x_today - (86400 * 1));?>/<?=date("Y", $x_today - (86400 * 1));?>";
	}	
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "2")				
	{// last 7 days
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 7));?>/<?=date("d", $x_today - (86400 * 7));?>/<?=date("Y", $x_today - (86400 * 7));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}	
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "3")				
	{// last 14 days
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 14));?>/<?=date("d", $x_today - (86400 * 14));?>/<?=date("Y", $x_today - (86400 * 14));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
		
	}
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "4")				
	{// last 30 days
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $x_today - (86400 * 30));?>/<?=date("d", $x_today - (86400 * 30));?>/<?=date("Y", $x_today - (86400 * 30));?>";
		document.ordersearch.edate.value = "<?=date("m", $x_today);?>/<?=date("d", $x_today);?>/<?=date("Y", $x_today);?>";
	}
	else if(document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value == "5")				
	{// last month
		<?
		$x_lastmonth = date("m", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastyear  = date("Y", mktime(0,0,0,date("m", $x_today) - 1, 1, date("Y", $x_today)));
		$x_lastday   = date("d", mktime (0,0,0,$x_lastmonth,0,2000));

		$b_lastmonth = mktime(0,0,0,$x_lastmonth,1,$x_lastyear);
		$e_lastmonth = mktime(0,0,0,$x_lastmonth,cal_days_in_month(CAL_GREGORIAN, $x_lastmonth, $x_lastyear),$x_lastyear);
		?>		
		document.ordersearch.disable_range.checked = 0;
		
		document.ordersearch.bdate.value = "<?=date("m", $b_lastmonth);?>/<?=date("d", $b_lastmonth);?>/<?=date("Y", $b_lastmonth);?>";
		document.ordersearch.edate.value = "<?=date("m", $e_lastmonth);?>/<?=date("d", $e_lastmonth);?>/<?=date("Y", $e_lastmonth);?>";
	}	
}

function appendOption(data)
{
	var theSelect = document.getElementById("cat"+g_level);
	
	nOption = document.createElement('option'); 
	isData = document.createTextNode(data[1]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function stateChanged() 
{ 
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var lines=xmlHttp.responseText.split("\n"); 

		if(lines.length <= 2)
		{
			getBrands();
			return;
		}
			
		document.getElementById("cat"+g_level+"d").style.display = '';
		
		for(xx = g_level+1; xx < 6; xx++)
		{
			document.getElementById("cat"+xx+"d").style.display = 'none';
			
			var theSelect = document.getElementById("cat"+g_level);
			for (i = theSelect.length - 1; i>=0; i--) 
			{
				theSelect.remove(i);
		    }		
		}
		
		var theSelect = document.getElementById("cat"+g_level);
		var i;
		
			
		for (i = theSelect.length - 1; i>=0; i--) 
		{
			theSelect.remove(i);
	    }		
		
		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split(",");
			
			if(data[0] != "")appendOption(data);
		}

		//searchSKUs();
	}
}

var g_cat = 0;

function getCategories(level)
{
	g_level = level;
	
	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var thislevel = level - 1;
  	var varname = "cat"+thislevel;

  	if(thislevel == 0) 	cat = document.ordersearch.cat0.options[ document.ordersearch.cat0.selectedIndex ].value;
  	if(thislevel == 1) 	cat = document.ordersearch.cat1.options[ document.ordersearch.cat1.selectedIndex ].value;
  	if(thislevel == 2) 	cat = document.ordersearch.cat2.options[ document.ordersearch.cat2.selectedIndex ].value;
  	if(thislevel == 3) 	cat = document.ordersearch.cat3.options[ document.ordersearch.cat3.selectedIndex ].value;
  	if(thislevel == 4) 	cat = document.ordersearch.cat4.options[ document.ordersearch.cat4.selectedIndex ].value;
  	
  	if(parseInt(thislevel) > 0 && parseInt(cat) == 0)
  	{
  		//searchSKUs();
  		getBrands();
  		return;
  	}
  	
  	g_cat = cat;
  	
	var url="/mgt/em/ajax_getcats.phtml?catid="+cat+"&sid="+Math.random();
	xmlHttp.onreadystatechange=stateChanged;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function getBrands()
{
	xmlCHttp=GetXmlHttpObject();
	var url="/mgt/sm/ajax_getbrands.phtml?catid="+g_cat+"&sid="+Math.random();

	//window.open( url );

	xmlCHttp.onreadystatechange=gotBrands;
	xmlCHttp.open("GET",url,true);
	xmlCHttp.send(null);

}

function gotBrands()
{
	if(xmlCHttp.readyState==4)
	{
		//alert(xmlCHttp.responseText);
		var theSelect = document.getElementById("brand");

		for (i = theSelect.length - 1; i>=0; i--)
		{
			theSelect.remove(i);
		}

		var lines=xmlCHttp.responseText.split("\n");

		for(xx = 0; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");

			if(data[0] != "")
			{
				nOption = document.createElement('option');
				isData = document.createTextNode(data[1]);
				nOption.setAttribute('value',data[0]);
				nOption.appendChild(isData);

				//isList = document.advform.cat1;
				theSelect.appendChild(nOption);
			}
		}

	}
}

function stockDetail(pid, type)
{
	e2window("/mgt/sm/stockdetail.phtml?pid="+pid+"&type="+type+"&inwin=1", "Stock Detail "+pid)
}

function saveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";

	cvr.style.top = 0;
	cvr.style.left = 0;

	cvr.style.width = "100%";
	cvr.style.height = "100%";

	var dlg = document.getElementById("saveform");

	if(!dlg)
	{
		alert('Could not find the save form');
	}
	else
	{
		dlg.style.top = 300;
		dlg.style.left = 20;

		dlg.style.width = 200;

		dlg.style.display = "block";

		document.mysaveform.savename.focus();
	}
	
	// save form to session
   	xmlHttp=GetXmlHttpObject();
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var status_override = document.ordersearch.status_override.options[document.ordersearch.status_override.selectedIndex].value;
  	var on = document.ordersearch.on.value;
  	var b2s2 = document.ordersearch.b2s2.value;
  	var phone = document.ordersearch.phone.value;
  	var zipcode = document.ordersearch.zipcode.value;
  	var emailaddr = document.ordersearch.emailaddr.value;
  	var keywords = document.ordersearch.keywords.value;
  	var sku = document.ordersearch.sku.value;
  	var upccode = document.ordersearch.upccode.value;
	var xcsmethod = document.ordersearch.xcsmethod.options[document.ordersearch.xcsmethod.selectedIndex].value;

	var cat0 = "", cat1 = "", cat2 = "", cat3 = "", cat4 = "";
	if(document.ordersearch.cat0.selectedIndex > 0)
	cat0 = document.ordersearch.cat0.options[ document.ordersearch.cat0.selectedIndex ].value;

	if(document.ordersearch.cat1.selectedIndex > 0)
	cat1 = document.ordersearch.cat1.options[ document.ordersearch.cat1.selectedIndex ].value;

	if(document.ordersearch.cat2.selectedIndex > 0)
	cat2 = document.ordersearch.cat2.options[ document.ordersearch.cat2.selectedIndex ].value;

	if(document.ordersearch.cat3.selectedIndex > 0)
	cat3 = document.ordersearch.cat3.options[ document.ordersearch.cat3.selectedIndex ].value;

	if(document.ordersearch.cat4.selectedIndex > 0)
	cat4 = document.ordersearch.cat4.options[ document.ordersearch.cat4.selectedIndex ].value;
	
	var brand = document.ordersearch.brand.options[document.ordersearch.brand.selectedIndex].value;
	var min = document.ordersearch.min.value;
	var max = document.ordersearch.max.value;
	var assignedto = document.ordersearch.assignedto.options[document.ordersearch.assignedto.selectedIndex].value;
  	
  	var ignore_printed = disable_range = 0;
	if (document.ordersearch.ignore_printed.checked) {
		ignore_printed = 1;
	} else {
		ignore_printed = 0;
	}

	if (document.ordersearch.disable_range.checked) {
		disable_range = 1;
	} else {
		disable_range = 0;
	}
	
	var qdate = document.ordersearch.qdate.options[document.ordersearch.qdate.selectedIndex].value;
	var bdate = document.ordersearch.bdate.value;
	var edate = document.ordersearch.edate.value;
	var sortby = document.ordersearch.sortby.options[document.ordersearch.sortby.selectedIndex].value;
	var origintype = document.ordersearch.origintype.options[document.ordersearch.origintype.selectedIndex].value;
	var num2return = document.ordersearch.num2return.options[document.ordersearch.num2return.selectedIndex].value;
	
	var url = "/mgt/ship/ajax_default2.phtml";
	url += "?status_override=" + status_override;
	url += "&on=" + on;
	url += "&b2s2=" + b2s2;
	url += "&phone=" + phone;
	url += "&zipcode=" + zipcode;
	url += "&emailaddr=" + emailaddr;
	url += "&keywords=" + keywords;
	url += "&sku=" + sku;
	url += "&upccode=" + upccode;
	url += "&xcsmethod=" + xcsmethod;
	url += "&cat0=" + cat0;
	url += "&cat1=" + cat1;
	url += "&cat2=" + cat2;
	url += "&cat3=" + cat3;
	url += "&cat4=" + cat4;
	url += "&brand=" + brand;
	url += "&min=" + min;
	url += "&max=" + max;
	url += "&assignedto=" + assignedto;
	url += "&ignore_printed=" + ignore_printed;
	url += "&disable_range=" + disable_range;
	url += "&qdate=" + qdate;
	url += "&bdate=" + bdate;
	url += "&edate=" + edate;
	url += "&sortby=" + sortby;
	url += "&origintype=" + origintype;
	url += "&num2return=" + num2return;
	url += "&sid="+Math.random();
	
	xmlHttp.onreadystatechange=completeSaveForm;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function completeSaveForm()
{
	if(xmlHttp.readyState==4) {}	
}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function deleteSearch(sid, sname)
{
	if(confirm("Are you sure you wish the delete the saved search '"+sname+"'?"))
	{
		document.location = "/mgt/ship/default2.phtml?sid="+sid+"&Action=Delete";
	}
}
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>

<body>
<div style="background:#eeeeee;border-top: 1px solid #888888;border-right: 1px solid #888888; border-left: 1px solid #888888; border-bottom: 1px solid #888888;">
	<div align=right>
	<table width=99%>
	<tr>
		<td align=left><a href="/mgt/ship/partiallyshipped.phtml">Partially Shipped</td>
		<td>&nbsp;&nbsp;</td>
		
	</tr>
	</table>
	</div>
</div>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<?
if($pkwin != 1)
{
?>	<td width=13 background="/mgt/images/l.jpg"> </td><?
}
?>
	<td valign=top>
		<?
		if($pkwin != 1)
		{
		?>	<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?> <?
		}
		?>	
		<div style="padding-left:5px;padding-top:10px">
		<B>Picking Search</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=275 align=center>
			<!--------------------------------------------------------------->		
			
			<div id="TabbedPanels1" class="TabbedPanels" style="width:270px">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
				<li class="TabbedPanelsTab" tabindex="1"><strong>Saved search</strong></li>
		        </ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  
						<?INCLUDE("advanced_search2.phtml");?>
					</div>
					<div class="TabbedPanelsContent">  
					<div align="left">		        	
					<input type="hidden" name="loadsearch" value="1">	
					<?if($DB == "ecom")
					{
						?>
					<table>
					<tbody><tr>
						<td class="g1"><div align="left">Saved Searches:</div></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>
						<div align="left">
							<ul>
								<?php
								$userid = (int) $_SESSION["ID"];
								$query = "SELECT id, name, public 
										  FROM saved_picking_search 
										  WHERE userid = '$userid'
										  OR public = '1'
										  ORDER BY name";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 13 Internal Error"; exit; }  }
								while(list($sid, $sname, $public) = mysql_fetch_array($qok))
								{
									if(strlen($sname) > 30)
									{
										$sname = substr($sname, 0, 27)."...";
									}
									
									echo '<li>';
									if ($public == 1)
									{ 
										echo "<img src='/mgt/images/public.gif' alt='Public Search'>"; 
									}
									else
									{ 
										echo "<img src='/mgt/images/private.gif' alt='Private Search'>"; 
									}
									echo '&nbsp;<a href="/mgt/ship/default2.phtml?loadsearch=1&saveid='.$sid.'">'.$sname.'</a>&nbsp;<sup><a href="javascript:deleteSearch(\''.$sid.'\', \''.addslashes($sname).'\');" class="x">x</a></sup><br /><br /></li>';
								}
								?>
							</ul>
						</div>
						</td>
					</tr>
					</tbody></table>
					<?
					}
					?>
					</div>
					</div>					
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>			
			</td>
<!---
<td height=21><div align="center">InvoiceID</div></td>
<td><div align="center">Type</div></td>
<td><div align="center">Date</div></td>
<td><div align="center">Status</div></td>
<td><div align="center">Name</div></td>
<td><div align="center">Zip</div></td>
<td><div align="center">Total</div></td>
			
<td><div align="center">Category</div></td>
<td><div align="center">Brand</div></td>						
<td><div align="center">Origin</div></td>

class="sortable_numeric"

echo "$invoiceid\t$orderdate\t$csmethod\t$manname\t$descr\t$manpart\t<div align=center>$printed</div>\t$instock\t$onhold\t$committed\t$onpo\n";
--->
		
			<td width=95%>
			<!--------------------------------------------------------------->	
				<?
				/*
				<form name="omreport" method="post">
				<table width=99% id="results" class="sortable">
				<tr bgcolor="#eeeeee">
					<th height=21>&nbsp;</th>
					<th>Order</th>
					<th>Kit PID</th>
					<th>Date</th>
					<th>Status</th>
					<th>State</th>
					<th>Method</th>
					<th>Man</th>
					<th>Descr</th>
					<th>Sku</th>
					<th>Printed</th>
					<th class="sortable_numeric">Qty Ordered</th>
					<th class="sortable_numeric">OnHand</th>
					<th class="sortable_numeric">OnHold</th>
					<th class="sortable_numeric">Committed</th>
					<th class="sortable_numeric">Available</th>
					<th class="sortable_numeric">On PO</th>
				</tr>	
				</table>
				</form>					
				*/
				if($Action == "Search")
				{
					
					require("default_include.phtml");	
				}
				
				?>
				
				
				<?
				if($pkwin == 1)
				{
					?>
				
				<script>
				function doPicking()
				{
					var orders = "";
					var myForm = document.omreport;
					
					var z = 0;
					for(z=0; z<myForm.length;z++)
					{
						if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
						{
							if(myForm[z].checked)
							{
								if(orders.length <= 0)
									orders += myForm[z].value;
								else
									orders += ","+myForm[z].value;
							}
						}
					}
					
					//alert(orders);
					//window.location = "app:printlist:"+orders;
					document.getElementById("Action").disabled = true;
							
					xmlHttp=GetXmlHttpObject();
					
					var url = "/mgt/ship/ajax_print_queue.phtml";
				
					var params = "orders="+orders;
					
					xmlHttp.open("POST", url, true);
					
					//Send the proper header information along with the request
					xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xmlHttp.setRequestHeader("Content-length", params.length);
					xmlHttp.setRequestHeader("Connection", "close");
					
					xmlHttp.onreadystatechange = pickingReady;
					
					xmlHttp.send(params);					
					
				}
				
				function pickingReady()
				{
					if(xmlHttp.readyState==4)
					{
						window.location = "/mgt/ship/pdf_pick/build_file.phtml?pqid="+xmlHttp.responseText;
					}	
				}
				
				function updateCheckedMethods()
				{
					var orders = "";
					var myForm = document.omreport;
					
					var theOption = document.getElementById("option_all");
					var newmethod = theOption.selectedIndex;
					var methodid = theOption.options[newmethod].value;
					var methodname = theOption.options[newmethod].text;

					var z = 0;
					for(z=0; z<myForm.length;z++)
					{
						if(myForm[z].type == 'checkbox' && myForm[z].name != 'checkall')
						{
							if(myForm[z].checked)
							{
								if(orders.length <= 0)
									orders += myForm[z].value;
								else
									orders += ","+myForm[z].value;
									
								document.getElementById("methodname_"+myForm[z].value).innerHTML = methodname;
							}
						}
					}
					
	
					document.getElementById("orderresults").innerHTML =  "<img src='/mgt/images/loading.gif'>";

					document.getElementById("checkedmethods").disabled = true;
							
					xmlHttp=GetXmlHttpObject();
					
					var url = "/mgt/ship/ajax_updatemethod_multi.phtml";
				
					var params = "orders="+orders;
					params += "&mid="+methodid;
					params += "&mname="+methodname;
					
					xmlHttp.open("POST", url, true);
					
					//Send the proper header information along with the request
					xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xmlHttp.setRequestHeader("Content-length", params.length);
					xmlHttp.setRequestHeader("Connection", "close");
					
					xmlHttp.onreadystatechange = updateCheckedMethodsDone;
					
					xmlHttp.send(params);					
					
				}
				
				function updateCheckedMethodsDone()
				{
					if(xmlHttp.readyState==4)
					{
						document.getElementById("orderresults").innerHTML =  "Method Changed";
						document.getElementById("checkedmethods").disabled = false;
						alert("Methods Updated");
					}						
				}
				</script>
				<div id="TabbedPanels2" class="TabbedPanels" style="width:98%">
					<ul class="TabbedPanelsTabGroup">
					<li class="TabbedPanelsTab2" tabindex="0"><strong>Picking</strong></li>
					</ul>
					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent2">  
				
						<form name="pkoptions" method="GET" action="app:printlist:" style="margin:0px">
						<input type="hidden" name="idlist" value="">
						
						
						<table>
						<tr>
							<td><input type="checkbox" name="checkall" onclick="checkUncheckAll(document.pkoptions, document.omreport);">Select All Line Items</td>
							<td>&nbsp;&nbsp;&nbsp;</td>
							<td><input type="button" name="Action" id="Action" value="Print Picking" class="buttonItem" onclick="doPicking();"></td>
							<td>&nbsp;&nbsp;&nbsp;</td>
							<td>
								<select name='option_all' id='option_all' class='formSelect'>
								<?
								$query = "select id, methodname from ship_method_mapper order by methodname";
								if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								while(list($smm_id, $smm_method) = mysql_fetch_array($q2ok))
								{
									echo "<option value='$smm_id'>$smm_method</option>";
								}
								
								?>
								</select>
							</td>
							<td><input type='button' name='checkedmethods' id='checkedmethods' value='Update Methods' class='buttonItem' onclick="updateCheckedMethods();"></td>
						</tr>
						</table>		

						</form>
						
						</div>
						
				      	</div>
				</div>
				<script type="text/javascript">
				<!--
				var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
				//-->
				</script>			
				<?
				}
				?>
				<!--------------------------------------------------------------->
			</td>
		</tr>
		</table>
		
<div id="dialog" class="dialog" onclick="hideMenu();">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><div id="menuOption1"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption2"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption3"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption4"></div></td>		
		</tr>
		<tr>
			<td><div id="menuOption5"></div></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</center>
</div>

<div id="saveform" class="dialog">
<form name="mysaveform">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Save Search as:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="checkbox" name="public" value="1">Public (available to everyone)</td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem">
			<input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>

<div id="ordernotes" class="dialog">
</div>

<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
<?
if($pkwin != 1)
{
?>	<td width=13 background="/mgt/images/r.jpg"> </td><?
}
?>	
</tr>
</table>
<script>
   
$(document).ready(function() {
    
    setTimeout(function(){sortables_init();}, 2000);
});

</script>
</body>
</html>
<?php
// unset search load profile data
if($loadsearch == 1) 
{}
else 
{
	$_SESSION['pickorders2'] = '';
	unset($_SESSION['pickorders2']);
}
?>

