<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
function cleanse($data)
{
	$data = str_replace("<![CDATA[", "", $data);
	$data = str_replace("]]>", "", $data);
			
	return preg_replace("/[^a-zA-Z0-9!~$#;:?&%=)(><.,\[\]\-'\+\/\"\s]/","", $data);
}

header("Pragma: public");
header("Expires: 0"); // set expiration time
header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
header("Content-Type: application/force-download");
header("Content-Type: application/octet-stream");
header("Content-Type: application/download");
header("Content-Disposition: attachment; filename=worldship_export.xml;");
header("Content-Transfer-Encoding: binary");
flush();


REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
//REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

list($pid, $qty) = explode("-", $pid);

/******************************************************************************************/

echo "<OpenShipments xmlns=\"x-schema:OpenShipments.xdr\">
		";

$invoiceList = explode(",", $ivlist);
$result = array();
$dosummary = false;

for($xx = 0; $xx < count($invoiceList); $xx++)
{
	$invoiceid = $invoiceList[$xx];
	
	//echo "INVOICEID: $invoiceid<BR>";
	
	// before we do anything.... verify that this item hasn't already been shipped
	$orderid = $efc->getOrderNumber($invoiceid);
	
	$query = "select (qty_ordered - qty_shipped) from customer_order_lines where orderid = '$orderid' and prodid = '$pid'"; 
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($num2ship) = mysql_fetch_array($qok);
	
	if($num2ship == $qty)
	{
		$query = "select ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country, phone, ship2name, emailaddr from 
					customer_orders where invoiceid = '$invoiceid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country, $ship2phone, $ship2name, $emailaddr) =  mysql_fetch_array($qok);
		
		$ship2name = cleanse($ship2name);
		$ship2street1 = cleanse($ship2street1);
		$ship2street2 = cleanse($ship2street2);
		$ship2city = cleanse($ship2city);
		$ship2state = cleanse($ship2state);
		$ship2country = cleanse($ship2country);
		$ship2phone = cleanse($ship2phone);
		$emailaddr = cleanse($emailaddr);
		
		if(strlen($ship2zip) > 5)
			$ship2zip = substr($ship2zip, 0, 5);
			
		if($ship2phone == "" || (strtolower( trim($ship2phone) ) == "invalid request"))
			$ship2phone = "888-555-1212";
			
		$shipdate = date("m/d/Y", time());
		
		if($confirmation == 1)
			$delivery_confimration = "Y";
		else 
			$delivery_confimration = "N";
		
		echo "
		<OpenShipment ShipmentOption=\"\" ProcessStatus=\"\">
		<ShipTo>
			<CustomerID></CustomerID>
			<CompanyOrName>$ship2name</CompanyOrName>
			<Attention></Attention>
			<Address1>$ship2street1</Address1>
			<Address2>$ship2street2</Address2>
			<Address3></Address3>
			<CountryTerritory>United States</CountryTerritory>
			<PostalCode>$ship2zip</PostalCode>
			<CityOrTown>$ship2city</CityOrTown>
			<StateProvinceCounty>$ship2state</StateProvinceCounty>
			<Telephone>$ship2phone</Telephone>
			<FaxNumber></FaxNumber>
			<EmailAddress></EmailAddress>
			<TaxIDNumber></TaxIDNumber>
			<ReceiverUpsAccountNumber></ReceiverUpsAccountNumber>
			<LocationID></LocationID>
			<ResidentialIndicator>Y</ResidentialIndicator>
		</ShipTo>
		<ShipmentInformation>
		<ServiceType>Expedited Mail Innovations</ServiceType>
			<NumberOfPackages>1</NumberOfPackages>
			<DescriptionOfGoods></DescriptionOfGoods>
			<ShipperNumber></ShipperNumber>
			<BillingOption>Prepaid</BillingOption>
			<BillTransportationTo></BillTransportationTo>
			<BillDutyTaxTo></BillDutyTaxTo>
			<SplitDutyAndTax></SplitDutyAndTax>
			<USI></USI>
		</ShipmentInformation>
		<Package>
			<PackageType>Parcels</PackageType>
			<Weight>$weight</Weight>
			<TrackingNumber></TrackingNumber>
			<LargePackageIndicator></LargePackageIndicator>
			<Reference1>$invoiceid</Reference1>
			<Reference2>$pid</Reference2>
			<Reference3></Reference3>
			<Reference4></Reference4>
			<USPSDeliveryConfirmationOption>$delivery_confimration</USPSDeliveryConfirmationOption>
		</Package>
		<InternationalDocumentation>
			<InvoiceCurrencyCode></InvoiceCurrencyCode>
		</InternationalDocumentation>
		<Goods>
			<DescriptionOfGood></DescriptionOfGood>
			<Inv-NAFTA-CO-CountryTerritoryOfOrigin></Inv-NAFTA-CO-CountryTerritoryOfOrigin>
			<InvoiceUnits></InvoiceUnits>
			<InvoiceUnitOfMeasure></InvoiceUnitOfMeasure>
			<Invoice-SED-UnitPrice></Invoice-SED-UnitPrice>
		</Goods>
		</OpenShipment>";
		
		
/////////////////////////////////////////////////////////////////////////////
		if(intval($confirmation) == 0) // they wanted no confirmation
		{
			$on = $efc->getOrderNumber($invoiceid);
			
			$xshipdate = strtotime($shipdate);
			$tracking =  "$invoiceid-UPS Mail/USPS";
			$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost, pickerid, shipperid) ";
			$query .= "values('$invoiceid', '$tracking', 'Mail Innovations', 'UPS', '$xshipdate', '$shipcost',  '$pickerid', '".$_SESSION["ID"]."') ";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			$tid = mysql_insert_id();
			
			//add id of user who shipped the order
			/*if ($DB == 'butterfly') {
				$query = "UPDATE customer_order_tracking SET shipped_user_id='".$_SESSION["ID"]."' WHERE tid='".$tid."'";
	            if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}*/
				
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// update customer_order_tracking_extended
			if(intval($pid) > 0)
			{
				$serial = "";
				// save what was in the box
				
				for($zz = 0; $zz < $num2ship; $zz++)
				{
					$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$on', '$tid', '$tracking', '$pid', '$serial')";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
			}
		
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// ship all coupons
			$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			// ship all kits
			$query = "select customer_order_lines.prodid from customer_order_lines, product_list where customer_order_lines.prodid = product_list.id and product_list.kit = '1' and customer_order_lines.orderid = '$on'";
			if(!$q1723b = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($xkitpid) = mysql_fetch_array($q1723b))
			{
	            $query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid = '$xkitpid'";
    	        if(!$q1732x = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			}		
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
				
			if(intval($pid) > 0)
			{
				$now = time();
				$cost = $efc->getActualCost($pid);
				$scost = $efc->getSalesmanCost($pid);
					
				// get how many we're shipping
				
					
				if($efc->getOrderType($on) == "EXCHANGE")
				{
					$query = "update customer_order_lines set qty_shipped = qty_ordered, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid' and ex_return = 0";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }					
				}
				else 
				{
					$query = "update customer_order_lines set qty_shipped = qty_ordered, shipdate = '$now', cost = '$cost', scost = '$scost' where orderid = '$on' and prodid = '$pid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
						
				$efc->updateInventory(0, $num2ship, $shipcost, $pid, $whid, "", $on);
			}
		        
			$efc->getStartStatus($on);
			if($efc->getOrderType($on) == "EXCHANGE")
			{
				$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($numleft) = mysql_fetch_array($qok);
						
				if($numleft <= 0)
				{
					$completedate = time();
					$query = "update customer_orders set status = '50', completedate = '$completedate' where orderid = '$on'";	
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
			}
			else 
			{
				// see if everything on the order has shipped
				$query = "select lineid, prodid from customer_order_lines where orderid = '$on' AND qty_ordered > qty_shipped";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) <= 0)
				{
					// success
					$query = "select customer_orders.status, company_orderflow.success from customer_orders, company_orderflow where
								customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($this_step, $success_step) = mysql_fetch_array($qok);
					
					$query = "update customer_orders set status = '$success_step' where orderid = '$on'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
				else 
				{
					// failure .... partially shipped
					$query = "select customer_orders.status, company_orderflow.failure from customer_orders, company_orderflow where
								customer_orders.status = company_orderflow.step and customer_orders.orderid = '$on'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($this_step, $failure_step) = mysql_fetch_array($qok);
					
					$query = "update customer_orders set status = '$failure_step' where orderid = '$on'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
			}
			
			$efc->getLogStopStatus($on);
			$efc->recalculateInventory($on);
			if($kitpid = $efc->orderWasKit($on))
				$efc->internal_repriceKits($kitpid, 0, 0);
		
			$efc->UpdatePool(2, $on);
		}
		else 
		{// mark'em as shipped
			
			$on = $efc->getOrderNumber($invoiceid);
			
			////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// ship all coupons
			$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and prodid < 0";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			// ship all kits
			$query = "update customer_order_lines set qty_shipped = qty_ordered where orderid = '$on' and kit = '2'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
				
			if(intval($pid) > 0)
			{
				$now = time();
				$cost = $efc->getActualCost($pid);
				$scost = $efc->getSalesmanCost($pid);
						
				if($efc->getOrderType($on) == "EXCHANGE")
				{
					$query = "update customer_order_lines set qty_shipped = qty_ordered, shipdate = '$now', cost = '$cost', 
									scost = '$scost' where orderid = '$on' and prodid = '$pid' and ex_return = 0";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }					
				}
				else 
				{
					$query = "update customer_order_lines set qty_shipped = qty_ordered, shipdate = '$now', cost = '$cost', 
									scost = '$scost' where orderid = '$on' and prodid = '$pid'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				}
						
				$efc->updateInventory(0, $num2ship, $shipcost, $pid, $whid, "", $on);
				
				$efc->getLogStopStatus($on);
				$efc->recalculateInventory($on);
				if($kitpid = $efc->orderWasKit($on))
					$efc->internal_repriceKits($kitpid, 0, 0);
			
				$efc->UpdatePool(2, $on);
				
			}
		}
/////////////////////////////////////////////////////////////////////////////		
		
		
	}
	else 
	{
		$dosummary = true;
	}
	

}

echo "</OpenShipments>";

flush();

?>