<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

/*ini_set('display_errors',1); 
 error_reporting(E_ALL);*/
?>
<HTML>
<HEAD>
<TITLE>Ship Ready to Ship</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>

	<td valign=top>
		<div style="padding-left:5px;padding-top:10px">
		<B>Archived Lables</B>
		<BR><BR>
		
		<table>
		<tr bgcolor="#eeeeee">
			<td height=21><B>Name</B></td>
			<td><B>Modifed</B></td>
		</tr>
		
		<?
		$dir = dir("$ROOT_DIR/mgt/ship/labels/");//List files in images directory

		$filearray = array();
		
		while (($file = $dir->read()) !== false)
		{
			if($file != "." && $file != "..")
			{
				$filearray['name'][] = $file;
				$filearray['time'][] = filemtime("$ROOT_DIR/mgt/ship/labels/$file");
			}
		}
		
		$dir->close();

		if(is_array($filearray))
		{
			array_multisort($filearray['time'], SORT_DESC, SORT_NUMBER, $filearray['name']);
			
			for($xx =0; $xx < count($filearray['time']); $xx++)
			{
				?>
				<tr>
					<td height=21><a href="/mgt/ship/labels/<?=$filearray['name'][$xx];?>"><?=$filearray['name'][$xx];?></a></td>
					<td ><?=date("Y-m-d H:i:s", $filearray['time'][$xx]);?></td>
				</tr>
				<?
			}
		}
		?>
		</table>

	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
	
</tr>
</table>

</body>
</html>