<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Ship Order")
{
	$query = "select lineid, prodid from customer_order_lines where orderid = '$orderid' AND qty_ordered > qty_shipped";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	while(list($lineid, $pid) = mysql_fetch_array($qok))
	{
		$query = "select dropship from product_list where id = '$prodid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($dropship) = mysql_fetch_array($q2ok);
		
		$newqty = addslashes($_POST["shipped".$lineid]);
		$fromwh = addslashes($_POST["fromwh".$lineid]);
		
		if($fromwh == "DS")
		{}
		else 
		{
			$efc->updateInventory(0, $newqty, 0.00, $pid, $fromwh, "", $on);
						
			$query = "insert into update_pool(type, updateid, tstamp) values('1', '$pid', '$tstamp')";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
		}

		// update the customer's order
		$avgcost = $efc->getActualCost($pid);
		$query = "update customer_order_lines set qty_shipped = '$newqty', cost = '$avgcost', shipdate = '".time()."' where lineid = '$lineid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

		//echo "$query<BR><BR>";
	}
	
	$efc->recalculateInventory($orderid);
	
	if($efc->getOrderType($on) == "EXCHANGE")
	{
		$query = "select count(*) from customer_order_lines where orderid = '$on' and ex_return = 0 and qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($numleft) = mysql_fetch_array($qok);
			
		if($numleft <= 0)
		{
			$completedate = time();
			$query = "update customer_orders set status = '50', completedate = '$completedate'  where orderid = '$on'";	
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}	
	else 
	{
		$query = "select count(*) from customer_order_lines where orderid = '$orderid' AND qty_ordered > qty_shipped";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($items) = mysql_fetch_array($qok);
		
		if($items <= 0)
		{
			$query = "select company_orderflow.success from company_orderflow, customer_orders 
							where customer_orders.status = company_orderflow.step and customer_orders.orderid = '$orderid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($success) = mysql_fetch_array($qok);
			
			$query = "update customer_orders set status = '$success' where orderid = '$orderid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
	}
	
	Header("Location: /mgt/ship/shiporders.phtml");
	exit;
}
?>
<HTML>
<HEAD>
<TITLE>Ship Orders</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT>
var g_level = 0;
var search_type = 0;

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)
 			{
 				window.event.cancelBubble = true;
 			}
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
 			pullOrder();
 			
 			return false; 
 		}
	}  
} 

function stopReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)
 			{
 				window.event.cancelBubble = true;
 			}
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			return false; 
 		}
	}  
} 

function pullOrder()
{
	var dlg = document.getElementById("shipdata");
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	var invoiceid = document.shiporder.invoiceid.value;
  	
  	var url = "/mgt/ship/ajax_pullorder.phtml";
	url += "?invoiceid="+invoiceid;
	url += "&sid="+Math.random();
  	
	//window.open(url);
	
  	xml2Http.onreadystatechange=gotOrder;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);			
}

function gotOrder()
{
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("shipdata");
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
		
		var myForm = document.shipitems;
		
		if(myForm.length > 0)
		{
			for(xx = 0; xx < myForm.length; xx++)
			{
				if(myForm[xx].type == "text")
				{
					myForm[xx].focus();
					break;
				}
			}
		}
		else
			alert('Nothing to Ship!');
			
	}		
}

function checkQty(itemID)
{
	var shipped = parseInt(document.getElementById("shipped"+itemID).value);	
	var ordered = parseInt(document.getElementById("ordered"+itemID).value);	
	var instock = parseInt(document.getElementById("instock"+itemID).value);	
	
	//alert('SHIPPED: '+shipped+' ordered: '+ordered+" instock "+instock+" ");
	
	if(shipped > ordered)
	{
		alert('You cannot ship more than was ordered');
		
		document.getElementById("shipped"+itemID).value = document.getElementById("ordered"+itemID).value;
		
		return;
	}
	
	if(shipped > instock)
	{
		alert('You cannot ship more than is in stock.\nCurrent Inventory Level: '+instock);
		
		document.getElementById("shipped"+itemID).value = document.getElementById("instock"+itemID).value;
		
	}
}
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<STYLE>
.dialog {
display:none;
width:125px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body onload="document.shiporder.invoiceid.focus();">
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">
		<B>Ship Orders</B>
		<BR><BR>
		
		<table width=100%>
		<tr>
			<td width=100% align=center>
			<form name="shiporder" onsubmit="return false;">
			<!--------------------------------------------------------------->		
			<B>Enter/Scan Picking Number:</B> <input type="text" class="formBox" name="invoiceid" onkeypress="return cancelReturn(this, event)">
			<!--------------------------------------------------------------->
			</form>
			</td>
		</tr>
		</table>
		<table width=100%>
		<tr>
			<td width=100% align=center>
			<form name="shipitems" method="POST">
			<div id="shipdata"></div>
			</form>
			</td>
		</tr>
		</table>		
		
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>

</body>
</html>