<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
function getmicrotime()
{ 
	list($usec, $sec) = explode(" ",microtime()); 
	return ((float)$usec + (float)$sec); 
}

$start = getmicrotime();

// Picking Manager

$on = $efc->getOrderNumber($iv);

if ($Action == "Delete")
{
	$query = "delete from saved_picking_search where id = '$sid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 1 Internal Error"; exit; }  }
	Header("Location: /mgt/ship/shiporders2.phtml?iv=$iv");
	exit;
}

if($loadsearch == 1)
{
	$query = "select sdata from saved_picking_search where id = '$saveid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 2 Internal Error"; exit; }  }
	list($sdata) = mysql_fetch_array($qok);
	$sdata = str_replace("\n", "", $sdata);

	$_SESSION['shiporders2'] = "";
	eval($sdata);
	
	$_SESSION['shiporders2']['carrier'] = $carrier;
	$_SESSION['shiporders2']['methods'] = $methods;
	$_SESSION['shiporders2']['oweight'] = $oweight;
	$_SESSION['shiporders2']['insured'] = $insured;
	$_SESSION['shiporders2']['oinsured'] = $oinsured;
	$_SESSION['shiporders2']['cod'] = $cod;
	$_SESSION['shiporders2']['saturday'] = $saturday;
	$_SESSION['shiporders2']['signature'] = $signature;
	$_SESSION['shiporders2']['customs'] = $customs;
	$_SESSION['shiporders2']['imagelabel'] = $imagelabel;

	Header("Location: /mgt/ship/shiporders2.phtml?iv=$iv");
}
elseif ($savename != "")
{
	$sdata = "";
	foreach ($_SESSION['shiporders2'] as $key => $value) 
	{
		$sdata .= "$$key=\"$value\";\n";
	}
	
	$savename = addslashes($savename);
	$sdata = addslashes($sdata);
	$userid = $_SESSION["ID"];

	$q = "INSERT INTO saved_picking_search (name, sdata, public, userid) 
		  VALUES ('$savename', '$sdata', '$public', '$userid')";
	if(!$qok = mysql_db_query($DB, $q, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 3 Internal Error"; exit; }  }
	Header("Location: /mgt/ship/shiporders2.phtml?iv=$iv");
	exit;
}

$query = "select company_orderflow.pick_submit from 
				company_orderflow, customer_orders where
				customer_orders.invoiceid = '$iv' and company_orderflow.step = customer_orders.status ";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 4 Internal Error"; exit; }  }
list($pick_submit) = mysql_fetch_array($qok);

if($pick_submit != 1)
{
	$query = "select otype, status from customer_orders where invoiceid = '$iv'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 5 Internal Error"; exit; }  }
	list($otype, $rstatus) = mysql_fetch_array($qok);
	
	if($efc->getOrderType($on) == "EXCHANGE" && $efc->getOrderStatus($on) == "10")
	{
		// let returns slide ;-)		
	}
	else 
	{
		?>
		<HTML>
		<HEAD>
		<TITLE>Ship Orders</TITLE>
		<meta http-equiv="Content-Style-Type" content="text/css">
		<body>
		<table>
		<tr>
			<td>
			<B>This order cannot be shipped, it is not in pick status!</B>	
			</td>
		</tr>
		</table>
		</body>
		</html>
		<?
		exit;
	}
}

$balance = $efc->getOrderBalance($on);

if($balance > 0)
{
	?>
	<HTML>
	<HEAD>
	<TITLE>Ship Orders</TITLE>
	<meta http-equiv="Content-Style-Type" content="text/css">
	<TITLE>Ship Orders</TITLE>
	<body>
	<table>
	<tr>
		<td>
		<B>This order cannot be shipped, it currently has a balance of <?=number_format($balance, 2);?>!</B>	
		</td>
	</tr>
	</table>
	</body>
	</html>
	<?
	exit;
}

	
$invoiceid = $iv;


$query = "select orderid, subtotal, weight, csmethod, ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country, phone
			from customer_orders where 
			customer_orders.invoiceid = '$invoiceid' ";

if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 6 Internal Error"; exit; }  }
list($orderid, $subtotal, $weight, $csmethod, $ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country, $phone) = mysql_fetch_array($qok);

if(stristr($csmethod, "-"))
{
	$sparts = explode("-", $csmethod);
	for($xx = 0 ; $xx < count($sparts); $xx++)
	{
		$sparts[$xx] = trim($sparts[$xx]);
	}
					
	$mycarrier = strtolower($sparts[0]);
	$mymethod = strtolower($sparts[1]);
	
	$mymethod = str_replace($mycarrier, "", $mymethod);
	$mymethod = trim($mymethod);
	
	if(floatval($weight) <= 0.00) {
        if($DB == 'butterflyphoto') {
            $qx = "SELECT product_list.shipweight FROM product_list,customer_order_lines WHERE customer_order_lines.orderid='$orderid' AND product_list.id=customer_order_lines.prodid";
            if(!$qokx = mysql_db_query($DB, $qx, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 7 Internal Error"; exit; }  }
            while(list($shipweight_prod) = mysql_fetch_array($qokx)) {
                $weight += $shipweight_prod;
            }
            if($weight<=0) {
                $weight = 0.10;
            }
        }
        else {
            $weight = 0.10;
        }
    }
}

$loadCarrier = $efc->getConfigValue("eFluent Settings", "ShipLastLoad");
if ($loadCarrier == '1') {
	$mycarrier = $_SESSION['shiporders']['carrier'];
	$mymethod = $_SESSION['shiporders']['method'];
}

if (isset($_SESSION['shiporders2']['methods']))
{
	$mymethod = $_SESSION['shiporders2']['methods'];
}
?>
<HTML>
<HEAD>
<TITLE>Ship Orders</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
<script src="shortcut.js" type="text/javascript"></script>
<script src="/mgt/js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/mgt/e2win/sortable.js" type="text/javascript"></script>
<script src="/mgt/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="/mgt/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript" SRC="/mgt/js/calendar2.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
//var cal = new CalendarPopup();
var cal1x = new CalendarPopup("testdiv1");
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<SCRIPT>
var g_level = 0;
var search_type = 0;
var g_method = "";

function GetXmlHttpObject()
{
	var xmlHttp=null;

	try
    {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
    catch (e)
    {
    	// Internet Explorer
        try
        {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e)
        {
        	try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
            catch (e)
            {
            	alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	
	return xmlHttp;
}

var isOpera = navigator.userAgent.indexOf("Opera") > -1; 
var isIE = navigator.userAgent.indexOf("MSIE") > 1 && !isOpera; 
var isMoz = navigator.userAgent.indexOf("Mozilla/5.") == 0 && !isOpera; 

function stopReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)
 			{
 				window.event.cancelBubble = true;
 			}
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			return false; 
 		}
	}  
} 

function pullOrder()
{
	var dlg = document.getElementById("shipdata");
	dlg.innerHTML =  "<center><img src='/mgt/images/loading.gif'></center>";
	
	xml2Http=GetXmlHttpObject();
	
	if (xml2Http==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 	

  	var url = "/mgt/ship/ajax_pullorder2.phtml";
	url += "?invoiceid=<?=$iv;?>";
	url += "&sid="+Math.random();
  	
	//window.open(url);
	
  	xml2Http.onreadystatechange=gotOrder;
	xml2Http.open("GET",url,true);
	xml2Http.send(null);			
}

function gotOrder()
{
	if(xml2Http.readyState==4)
	{ 
		var dlg = document.getElementById("shipdata");
		dlg.innerHTML = "<span class=g>"+xml2Http.responseText+"</span>";
		
		var myForm = document.shipitems;
		
		if(myForm.length > 0)
		{
			for(xx = 0; xx < myForm.length; xx++)
			{
				if(myForm[xx].type == "text")
				{
					myForm[xx].focus();
					break;
				}
			}
		}
		else
			alert('Nothing to Ship!');
			
	}		
}

function checkQty(itemID)
{
	if(document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "dropship")
	{
		// dropship - don't check the quantities
		return;	
	}
	
	var shipped = parseInt(document.getElementById("shipped"+itemID).value);	
	var ordered = parseInt(document.getElementById("ordered"+itemID).value);	
	var instock = parseInt(document.getElementById("instock"+itemID).value);	
	var pshipped = parseInt(document.getElementById("pshipped"+itemID).value);	

	//alert('SHIPPED: '+shipped+' ORDERED: '+ordered+" INSTOCK:"+instock+" PSHIPPED: "+pshipped);
	
	// remove what was shipped PRIOR to this instance
	shipped = shipped - pshipped;
	
	if(shipped > ordered)
	{
		alert('You cannot ship more than was ordered');
		
		document.getElementById("shipped"+itemID).value = document.getElementById("ordered"+itemID).value;
		
		return false;
	}
	
	if(shipped > instock)
	{
		alert('You cannot ship more than is in stock.\nCurrent Inventory Level: '+instock);
		
		document.getElementById("shipped"+itemID).value = document.getElementById("instock"+itemID).value;
		
		return false;
	}
	
	return true;
}

var g_weight = 0.00;

function setWeight(curWeight)
{
	if(curWeight == null)
	{
		
	}
	else if(parseFloat(curWeight) > 0.00)
	{
		var weightThing = document.getElementById("weight");
		
		if(weightThing)
		{
			weightThing.value = curWeight;
	
			if(document.getElementById("usescale").checked == true)
			{
				if(curWeight != g_weight)
			 		loadShippingWeightInc();
			}
		
			g_weight = curWeight;
		}
	}
}


function getRates()
{
    $('#package_type_tr').hide();
    $('#form_type_tr').hide();
	hideScanForm();
	xmlHttp=GetXmlHttpObject();
		
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
	
  	document.shipitems.weight.disabled = false;
  	document.shipitems.insured.disabled = false;
	document.getElementById("shipmsg").innerHTML = "&nbsp;&nbsp;";
	document.getElementById('shipmsg').style.backgroundColor = "#ffffff"; 
  	
  	var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
  	
  	//alert(carrier);
  	
	if(carrier  == "fedex" )
	{
		/*if(parseFloat(document.shipitems.weight.value) <= 0.00)
		{
			var theSelect = document.shipitems.methods;
			
			for (i = theSelect.length - 1; i>=1; i--) 
			{
				theSelect.remove(i);
		    }					
		}
		else*/
		{
			var cvr = document.getElementById("savecover");
			cvr.style.display = "block";
			cvr.style.top = 0;
			cvr.style.left = 0;
			
			var cvr = document.getElementById("loading");
			cvr.style.display = "block";
		
			document.getElementById("waitmsg").innerHTML = "<B>Getting Rates...</B><BR>";
		
		  	var ship2street1 = escape(document.shipitems.ship2street1.value);
			var ship2street2 = escape(document.shipitems.ship2street1.value);
			var ship2city = escape(document.shipitems.ship2street1.value);
			var ship2state = escape(document.shipitems.ship2state.value);
			var ship2zip = escape(document.shipitems.ship2zip.value);
			var ship2country = escape(document.shipitems.ship2country.value);
			var insured = escape(document.shipitems.insured.value);
			var weight = escape(document.shipitems.weight.value);
			var invoiceid = escape(document.shipitems.invoiceid.value);
		
			var residential=0;
				
			if(document.shipitems.residential.checked == true)
				residential = 1;	
			else
				residential = 0;
				
			var url = "/mgt/ship/fedex/RateAvailableServices.php";
			url += "?ship2street1="+ship2street1;
			url += "&ship2street2="+ship2street2;
			url += "&ship2city="+ship2city;	
			url += "&ship2state="+ship2state;
			url += "&ship2zip="+ship2zip;	
			url += "&ship2country="+ship2country;
			url += "&insured="+insured;	
			url += "&weight="+weight;
			url += "&invoiceid="+invoiceid;	
			url += "&residential="+residential;	
			
			//window.open(url);
			
			xmlHttp.onreadystatechange=gotRates;
			xmlHttp.open("GET",url,true);
			xmlHttp.send(null);
		}
	}
	else if(carrier == "ups")
	{
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "block";
		cvr.style.top = 0;
		cvr.style.left = 0;
		
		var cvr = document.getElementById("loading");
		cvr.style.display = "block";
	
		document.getElementById("waitmsg").innerHTML = "<B>Getting Rates...</B><BR>";
	
	  	var ship2street1 = escape(document.shipitems.ship2street1.value);
		var ship2street2 = escape(document.shipitems.ship2street1.value);
		var ship2city = escape(document.shipitems.ship2street1.value);
		var ship2state = escape(document.shipitems.ship2state.value);
		var ship2zip = escape(document.shipitems.ship2zip.value);
		var ship2country = escape(document.shipitems.ship2country.value);
		var insured = escape(document.shipitems.insured.value);
		var weight = escape(document.shipitems.weight.value);
		var invoiceid = escape(document.shipitems.invoiceid.value);
		
		/*if(parseInt(weight) < 1)
		{
			alert('You must enter a weight for UPS rates');
				
			var cvr = document.getElementById("savecover");
			cvr.style.display = "none";
			
			document.getElementById("loading").style.display = "none";			
			
			return;
		}*/
		
		var url = "/mgt/ship/ups/rates.phtml";
		url += "?ship2street1="+ship2street1;
		url += "&ship2street2="+ship2street2;
		url += "&ship2city="+ship2city;	
		url += "&ship2state="+ship2state;
		url += "&ship2zip="+ship2zip;	
		url += "&ship2country="+ship2country;
		url += "&insured="+insured;	
		url += "&weight="+weight;
		url += "&invoiceid="+invoiceid;	
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);		
	}
	else if(carrier == "genric")
	{
		var url = "/mgt/ship/generic/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "walkin")
	{
		var url = "/mgt/ship/walkin/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "dropship")
	{
		var url = "/mgt/ship/dropship/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "mig")
	{
		var url = "/mgt/ship/mi/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);	
	}
	else if(carrier == "manna")
	{
		var url = "/mgt/ship/manna/getrates.phtml";
		
		document.getElementById("shipmsg").innerHTML = "<font color='#ff0000'><B>To ship an order via Manna, the weight and cost must be in Edit SKU</B></font>";
		document.getElementById('shipmsg').style.backgroundColor = "#ffffee"; 
		
		document.shipitems.weight.disabled = true;
  		document.shipitems.insured.disabled = true;

		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "usps" || carrier == "usps_alan")
	{
		var url = "/mgt/ship/usps/getrates.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
    else if(carrier == "usps_int")
	{
        
        $('#package_type_tr').show();
        $('#form_type_tr').show();
        
		var url = "/mgt/ship/usps/getrates_int.phtml";
		
		//window.open(url);
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "smartpost")
	{
		var url = "/mgt/ship/smartpost/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
	else if(carrier == "icat")
	{
		var url = "/mgt/ship/icat/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}		
	else if(carrier == "hdusa")
	{
		var url = "/mgt/ship/hdusa/getrates.phtml";
		
		xmlHttp.onreadystatechange=gotRates;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
        else if(carrier == "globegistics") {
            var theSelect = document.shipitems.methods;
            for (i = theSelect.length - 1; i>=1; i--) 
            {
                theSelect.remove(i);
            }
            var appVal = 'Canada - Canada\t0.00'.split("\t");
            appendOption(appVal);
            var appVal = 'IPA - IPA Intl Priority Airmail\t0.00'.split("\t");
            appendOption(appVal);
            
            <?
			if($mymethod != "")
			{
				?>
				var theSelect = document.shipitems.methods;
				for(xx = 0; xx < theSelect.options.length; xx++)
				{
					if( stristr( theSelect.options[xx].value , '<?=$mymethod;?>') )
					{
						theSelect.selectedIndex = xx;
					}
				}
				<?
			}
			?>
            
        }
        else if(carrier == "miendicia") {
            var theSelect = document.shipitems.methods;
            for (i = theSelect.length - 1; i>=1; i--) 
            {
                theSelect.remove(i);
            }
            var appVal = 'MI / Endicia\t0.00'.split("\t");
            appendOption(appVal);
        }
}

function stristr (haystack, needle, bool) {
    // http://kevin.vanzonneveld.net
    // +   original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   bugfxied by: Onno Marsman
    // *     example 1: stristr('Kevin van Zonneveld', 'Van');
    // *     returns 1: 'van Zonneveld'
    // *     example 2: stristr('Kevin van Zonneveld', 'VAN', true);
    // *     returns 2: 'Kevin '
 
    var pos = 0;
 
    haystack += '';
    pos = haystack.toLowerCase().indexOf( (needle+'').toLowerCase() );
    if (pos == -1){
        return false;
    } else{
        if (bool) {
            return haystack.substr( 0, pos );
        } else{
            return haystack.slice( pos );
        }
    }
}

function gotRates()
{
	if(xmlHttp.readyState==4)
	{ 
		//document.getElementById("txtHint").innerHTML=
		var theSelect = document.shipitems.methods;
		
		var lines=xmlHttp.responseText.split("\n"); 
		
		for (i = theSelect.length - 1; i>=1; i--) 
		{
			theSelect.remove(i);
	    }		
		//////////////////////////////////////////////////////
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
		
		document.getElementById("loading").style.display = "none";

		
		if(lines[0] != "OK")
		{
			for(xx = 0; xx < lines.length; xx++)
			{
				alert(lines[xx]);
			}
			
			return;
		}
		
		
		for(xx = 1; xx < lines.length; xx++)
		{
			var data = lines[xx].split("\t");
			
			if(data[0] != "")appendOption(data);
		}
		
		
		<?
		if($mymethod != "")
		{
			?>
			var theSelect = document.shipitems.methods;
			for(xx = 0; xx < theSelect.options.length; xx++)
			{
				if( stristr( theSelect.options[xx].value , '<?=$mymethod;?>') )
				{
					theSelect.selectedIndex = xx;
				}
			}
			<?
			if($DB != "sndkids")
				echo "scanItem();";
		}
		?>
		
		if(g_method != '')
		{
			for(xx = 0; xx < document.shipitems.methods.options.length; xx++)
			{
				if(document.shipitems.methods.options[xx].value == g_method)
				{
					document.shipitems.methods.selectedIndex = xx;
					break;
				}
			}			
		}
	}	
}

function getOptions()
{
	var dl = document.getElementById("defaults_loading");
	dl.innerHTML = "<img src='/mgt/images/loading.gif'>";
	
  	var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
  	var method = document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value;
	
  	xmlHttp=GetXmlHttpObject();
  	
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var url = "/mgt/ship/ajax_getoptions.phtml?carrier="+carrier+"&method="+method;
		
	xmlHttp.onreadystatechange=gotOptions;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function gotOptions()
{
	if(xmlHttp.readyState==4)
	{
		if(xmlHttp.responseText.length > 5)
		{
			//alert(xmlHttp.responseText);
			
			var options=xmlHttp.responseText.split("~"); 
			
			if(parseInt(options[0]) == 1)
				document.mydefaultform.default_signature.checked = true;
			else
				document.mydefaultform.default_signature.checked = false;
				
			document.mydefaultform.default_minsig.value = options[1];
			
			if(parseInt(options[2]) == 1)
				document.mydefaultform.default_insurance.checked = true;
			else
				document.mydefaultform.default_insurance.checked = false;
			
			document.mydefaultform.default_minins.value = options[3];
			
			if(parseInt(options[4]) == 1)
				document.mydefaultform.default_weight.checked = true;
			else
				document.mydefaultform.default_weight.checked = false;
				
				
			if(parseInt(options[5]) == 1)
				document.mydefaultform.default_requireweight.checked = true;
			else
				document.mydefaultform.default_requireweight.checked = false;
		}
		var dl = document.getElementById("defaults_loading");
		dl.innerHTML = "&nbsp;";		
	}
}

function saveWeight()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	var weight = escape(document.shipitems.weight.value);
	
	xmlHttp=GetXmlHttpObject();
	
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var url = "/mgt/ship/ajax_saveweight.phtml?on=<?=$on;?>&weight="+weight;
		
	xmlHttp.onreadystatechange=savedWeight;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);		
}

function savedWeight()
{
	if(xmlHttp.readyState==4)
	{
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	}
}

function saveDefaults()
{
	var sig = 0;
	var ins = 0;
	var apw = 0;
	var req = 0;
	
	if(document.mydefaultform.default_signature.checked == true)
		sig = 1;
		
	var minsig = document.mydefaultform.default_minsig.value;
	
	if(document.mydefaultform.default_insurance.checked == true)
		ins = 1;

	var minins = document.mydefaultform.default_minins.value;
	
	if(document.mydefaultform.default_weight.checked == true)
		apw = 1;
		
	if(document.mydefaultform.default_requireweight.checked == true)
		req = 1;		
		
	var saveString = sig+"~"+minsig+"~"+ins+"~"+minins+"~"+apw+"~"+req;
	
	xmlHttp=GetXmlHttpObject();
	
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
  	var method = document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value;
  	
  	var url = "/mgt/ship/ajax_saveoptions.phtml?carrier="+carrier+"&method="+method+"&options="+saveString;
		
	xmlHttp.onreadystatechange=savedDefaults;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function savedDefaults()
{
	if(xmlHttp.readyState==4)
	{
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
	
		var dlg = document.getElementById("defaultform");
		dlg.style.display = "none";		
	}	
}

function appendOption(data)
{
	var theSelect = document.shipitems.methods;
	
	nOption = document.createElement('option');

	if(parseFloat(data[1]) > 0)
		isData = document.createTextNode(data[0]+" - $"+data[1]); 
	else
		isData = document.createTextNode(data[0]); 
	nOption.setAttribute('value',data[0]); 
	nOption.appendChild(isData); 
	
	//isList = document.advform.cat1;
	theSelect.appendChild(nOption); 
}

function ShipPackage()
{
	
	saveCarrier();
	
	if(	document.getElementById("ship_btn1").disabled == true )
		return;


	if(document.shipitems.methods.selectedIndex == 0)
	{
		alert('You must select a shipping method!');
		return;	
	}
	
	var theTable = document.all.results;
	var numrows = theTable.rows.length;	
	
	if(numrows <= 1)
	{
		alert('Nothing to Ship!');
		return;
	}
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////
	var shipped = 0;//parseInt(document.getElementById("shipped"+itemID).value);	
	var ordered = 0;//parseInt(document.getElementById("ordered"+itemID).value);	
	var instock = 0;//parseInt(document.getElementById("instock"+itemID).value);	
	var pshipped = 0;//parseInt(document.getElementById("pshipped"+itemID).value);	

	var partiallyshipped = false;

	for(xx = 1; xx < numrows; xx++)
	{
		pid = theTable.rows[xx].id;
		itemID = document.getElementById("pid"+pid).value;
		
		shipped = parseInt(document.getElementById("shipped"+itemID).value);
		ordered = parseInt(document.getElementById("ordered"+itemID).value);
		instock = parseInt(document.getElementById("instock"+itemID).value);
		pshipped = parseInt(document.getElementById("pshipped"+itemID).value);
		
		shipped = shipped - pshipped;
		
		//alert("DEBUG (I'll remove in a minute) PID:"+pid+" Shipped:"+shipped+" Ordered: "+ordered)	

		if(shipped < ordered)
		{
			partiallyshipped = true;
		}

	}
	
	if(partiallyshipped == true)
	{
		if(confirm("Are you sure you want to Partially Ship this order?"))
		{}
		else
		{
			return;
		}
	}
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	document.getElementById("ship_btn1").disabled = true;
	document.getElementById("ship_btn2").disabled = true;
	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	var cvr = document.getElementById("loading");
	cvr.style.display = "block";
	document.getElementById("waitmsg").innerHTML = "<B>Shipping Package...</B><BR>";

	xmlHttp=GetXmlHttpObject();
	
	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 

  	var pickerid = escape(document.shipitems.pickerid.value);
  	var ship2street1 = escape(document.shipitems.ship2street1.value);
	var ship2street2 = escape(document.shipitems.ship2street2.value);
	var ship2city = escape(document.shipitems.ship2city.value);
	var ship2state = escape(document.shipitems.ship2state.value);
	var ship2zip = escape(document.shipitems.ship2zip.value);
	var ship2country = escape(document.shipitems.ship2country.value);
	var insured = escape(document.shipitems.insured.value);
	var oinsured = escape(document.shipitems.oinsured.value);
	var weight = escape(document.shipitems.weight.value);
	var oweight = escape(document.shipitems.oweight.value);
	var invoiceid = escape(document.shipitems.invoiceid.value);
	var ship2phone = escape(document.shipitems.ship2phone.value);
	var ship2name = escape(document.shipitems.ship2name.value);
	var shipdate = escape(document.shipitems.shipdate.value);
	var residential = 0;
	var signature = 0;
	var customs = 0;
	var imagelabel = 0;
	var trackno = "";
	var saturday = 0;
	
	if(document.shipitems.signature.checked == true)
		signature = 1;
	else
		signature = 0;
	
	if(document.shipitems.saturday.checked == true)
		saturday = 1;
	else
		saturday = 0;
	
	if(document.shipitems.residential.checked == true)
		residential = 1;	
	else
		residential = 0;
	
	if(document.shipitems.imagelabel.checked == true)
		imagelabel = 1;	
	else
		imagelabel = 0;
	
	if(document.shipitems.customs.checked == true)
		customs = 1;	
	else
		customs = 0;
	
	var shipmethod = escape(document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value);
	var shipmethodtmp = document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value;
	
    var package_type = $('#package_type').val();
    var form_type = $('#form_type').val();
    
    
	var shipurl = '';
	
	if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "fedex" )
		shipurl = "/mgt/ship/fedex/ShipGroundDomestic.php";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "ups" )
		shipurl = "/mgt/ship/ups/shiporder.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "manna" )
		shipurl = "/mgt/ship/manna/shiporder.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "genric" )
	{
		shipurl = "/mgt/ship/generic/shiporder.phtml";
		<?
		if($efc->getConfigValue("eFluent Settings", "GenericTrackingNumbers") == 1)
		{
			?>
			trackno = prompt("Tracking #", "");
			<?
		}
		?>
	}
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "walkin" )
		shipurl = "/mgt/ship/walkin/shiporder.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "dropship" )
		shipurl = "/mgt/ship/dropship/shiporder.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "usps" )
		shipurl = "/mgt/ship/usps/shiporder.phtml";
    else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "usps_int" )
		shipurl = "/mgt/ship/usps/shiporder_international.phtml";
    else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "usps_alan" )
        shipurl = "/mgt/ship/usps/shiporder_new.phtml"; 
     else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "miendicia" )
        shipurl = "/mgt/ship/usps/shiporder_miendicia.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "smartpost" )
		shipurl = "/mgt/ship/smartpost/shiporder.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "icat" )
		shipurl = "/mgt/ship/icat/shiporder.phtml";
	else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "hdusa" )
		shipurl = "/mgt/ship/hdusa/shiporder.phtml";
    else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "globegistics" ) {
    	if(shipmethodtmp == 'IPA - IPA Intl Priority Airmail') {
			shipurl = "/mgt/ship/usps/shiporder.phtml";
    	}
    	else {
    		shipurl = "/mgt/ship/globegistics/shiporder_new.phtml";
    	}
    }
    else if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "mig" )
		shipurl = "/mgt/ship/mi/shiporder.phtml";
	else
	{
		alert('Unknown Shipping Method');
		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
			
		document.getElementById("loading").style.display = "none";

		return;
	}
		
	var url;// = shipurl;
	url += "?a=b";
	url += "&ship2street1="+ship2street1;
	url += "&ship2street2="+ship2street2;
	url += "&ship2city="+ship2city;	
	url += "&ship2state="+ship2state;
	url += "&ship2zip="+ship2zip;	
	url += "&ship2country="+ship2country;
	url += "&insured="+insured;	
	url += "&oinsured="+oinsured;	
	url += "&weight="+weight;
	url += "&oweight="+oweight;
	url += "&invoiceid="+invoiceid;	
	url += "&ship2phone="+ship2phone;	
	url += "&pickerid="+pickerid;	
	url += "&ship2name="+ship2name;	
	url += "&shipmethod="+shipmethod;	
	url += "&signature="+signature;	
	url += "&residential="+residential;	
	url += "&trackno="+escape(trackno);	
	url += "&shipdate="+shipdate;	
	url += "&saturday="+saturday;	
	url += "&imagelabel="+imagelabel;	
	url += "&customs="+customs;	
	url += "&form_type="+form_type;	
	url += "&package_type="+package_type;	
	url += "&productlist=";
	
	var prodid = "";
	
	for(xx = 1; xx < numrows; xx++)
	{
		prodid = theTable.rows[xx].id;
		
		var element = document.getElementById("pid"+prodid);
		var lineid = element.value;
		
		if(document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "dropship")
			var whid = 0;
		else
			var whid = document.getElementById("fromwh"+lineid).options[ document.getElementById("fromwh"+lineid).selectedIndex ].value;
		
		var serial = theTable.rows[xx].cells[4].innerHTML;
		
		if(document.getElementById("other"+prodid).checked == true)
		{
			pdata = prodid+":"+whid+":"+serial+":"+1+",";
		}
		else
		{
			pdata = prodid+":"+whid+":"+serial+":"+0+",";			
		}
		
		
		url += pdata;
	}
	
/*	xmlHttp.onreadystatechange=packageShipped;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);*/
        if( document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "usps_alan" ) {
//            alert(url);
        }
        
	xmlHttp.open("POST", shipurl, true);
	
	//Send the proper header information along with the request
	xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlHttp.setRequestHeader("Content-length", url.length);
	xmlHttp.setRequestHeader("Connection", "close");
	
	xmlHttp.onreadystatechange = packageShipped;
	
	xmlHttp.send(url);	
}

function updateInsured()
{
	var theTable = document.all.results;
	var numrows = theTable.rows.length;	

	var othercost = 0.00;
	var cost = 0.00;
	
	var xcost = 0.00;
	var xothercost = 0.00;
	
	for(xx = 1; xx < numrows; xx++)
	{
		prodid = theTable.rows[xx].id;
		
		if(document.getElementById("other"+prodid).checked == true)
		{
			xothercost = parseFloat(document.getElementById("cost"+prodid).value);
			
			//alert(prodid+" OTHER: " + xothercost);
			
			if(!isNaN(xothercost))
				othercost += xothercost;
			else
				othercost += 0.00;
				
		}
		else
		{
			xcost = parseFloat(document.getElementById("cost"+prodid).value);
			
			//alert(prodid+" REGULAR: " + xcost);
			
			if(!isNaN(xcost))
				cost += xcost;
			else
				cost += 0.00;
				
					
		}
	}

	document.shipitems.insured.value = cost.toFixed(2);
	document.shipitems.oinsured.value = othercost.toFixed(2);
	
	<?
	if(intval($efc->getConfigValue("eFluent Settings", "IncrementalWeight")) == 1)
	{
	?>
	loadShippingWeightInc();
	<?	
	}
	else
	{
	?>
	loadShippingDefaults();
	<?		
	}
	?>
}

function loadShippingDefaults()
{
	document.getElementById("ship_btn1").disabled = true;
	document.getElementById("ship_btn2").disabled = true;
	
  	var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
  	var method = document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value;
	
  	xmlHttp=GetXmlHttpObject();
  	
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var url = "/mgt/ship/ajax_getoptions.phtml?carrier="+carrier+"&method="+method;
		
	xmlHttp.onreadystatechange=gotShippingDefaults;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
	
}

function loadShippingWeightInc()
{
	document.getElementById("ship_btn1").disabled = true;
	document.getElementById("ship_btn2").disabled = true;
	
   	xmlHttp=GetXmlHttpObject();
  	
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var theTable = document.all.results;
	var numrows = theTable.rows.length;	
	var prodid = "";
	var plist = "";
	
	for(xx = 1; xx < numrows; xx++)
	{
		prodid = theTable.rows[xx].id;
			
		plist = plist + "&pids[]="+prodid;
	}
	
	
	var thisweight = 0;
	var url = "";
	
	if(document.getElementById("usescale").checked == true)
	{
		thisweight = document.shipitems.weight.value;
		url = "/mgt/ship/ajax_getshipweight.phtml?on=<?=$on;?>"+plist+"&usescale=1&thisweight="+thisweight;
	}
	else
	{
		url = "/mgt/ship/ajax_getshipweight.phtml?on=<?=$on;?>"+plist;	
	}
		
	xmlHttp.onreadystatechange=gotShippingWeightInc;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function gotShippingWeightInc()
{
	if(xmlHttp.readyState==4)
	{
		var shipparts = xmlHttp.responseText.split(':');
		
		document.shipitems.weight.value = shipparts[0];
		
		document.getElementById("ship_btn1").disabled = false;
		document.getElementById("ship_btn2").disabled = false;
		
		for(xx = 0; xx < document.shipitems.carrier.options.length; xx++)
		{
			if(document.shipitems.carrier.options[xx].value == shipparts[1])
			{
				document.shipitems.carrier.selectedIndex = xx;
				g_method = shipparts[2];
				getRates();
				break;
			}
		}
	}	
}

function gotShippingDefaults()
{
	if(xmlHttp.readyState==4)
	{
		<?
		$canship = 1;
		?>
		if(xmlHttp.responseText.length > 5)
		{
			var totalordercost = document.shipitems.insured.value;
			
			var options=xmlHttp.responseText.split("~"); 
			
			// signature required
			
			if(parseFloat(totalordercost) > parseFloat(options[1]))
			{
				if(parseInt(options[0]) == 1)
					document.shipitems.signature.checked = true;
				else
					document.shipitems.signature.checked = false;
			}
			else
			{
				document.shipitems.signature.checked = false;
			}
			
			// insurance
			if(parseFloat(totalordercost) > parseFloat(options[3]))
			{
				if(parseInt(options[2]) == 1) // insured
				{// do nothing, insurance was populated by default					
				}
				else
				{
					document.shipitems.insured.value = "0.00";
					document.shipitems.oinsured.value = "0.00";
				}
			}
			else
			{
				document.shipitems.insured.value = "0.00";
				document.shipitems.oinsured.value = "0.00";
			}
 			
			// autopopulate weight
			if(parseInt(options[4]) == 1)
			{// do nothing, weight was populated by default					
			}
			else
			{
				document.shipitems.weight.value = "0.00";
			}
			
			// require weight for all skus
			if(parseInt(options[5]) == 1) 
			{
				checkWeight('<?=$orderid;?>');
			}
		}
		else
		{
			document.getElementById("ship_btn1").disabled = false;
			document.getElementById("ship_btn2").disabled = false;
		}
		
		<?
		if($canship == 1)
		{
			?>
			document.getElementById("ship_btn1").disabled = false;
			document.getElementById("ship_btn2").disabled = false;
			<?
		}
		?>		
	}
}

function checkWeight(orderid)
{
 	xmlHttp=GetXmlHttpObject();
  	
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
  	var url = "/mgt/ship/ajax_checkweight.phtml?orderid="+orderid;
		
	xmlHttp.onreadystatechange=gotCheckWeight;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);	
}

function gotCheckWeight()
{
	if(xmlHttp.readyState==4)
	{ 
		if(xmlHttp.responseText.substr(0, 2) == "OK")
		{
			var data = xmlHttp.responseText.split(":");
			
			document.shipitems.weight.value = parseFloat(data[1]);
		}
		else
		{
			if(xmlHttp.responseText.length > 5)
			{
				var alerts = xmlHttp.responseText.split("\n");
				
				for(xx = 0; xx < alerts.length; xx++)
				{
					if(alerts[xx] != '')
						alert(alerts[xx]);
				}
				
				document.getElementById("ship_btn1").disabled = true;
				document.getElementById("ship_btn2").disabled = true;
			}
			else
			{
				document.getElementById("ship_btn1").disabled = false;
				document.getElementById("ship_btn2").disabled = false;
			}
		}		
	}	
}

function packageShipped()
{
	if(xmlHttp.readyState==4)
	{ 
		document.getElementById("ship_btn1").disabled = false;
		document.getElementById("ship_btn2").disabled = false;
	
		var imagelabel = 0;
		if(document.shipitems.imagelabel.checked == true)
			imagelabel = 1;	
		else
			imagelabel = 0;

		
		var cvr = document.getElementById("savecover");
		cvr.style.display = "none";
			
		document.getElementById("loading").style.display = "none";

		if(xmlHttp.responseText.substr(0, 2) == "OK")
		{

			var data = xmlHttp.responseText.split("\t");

			if(document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "dropship")
			{
				document.location = "app:drop~<?=$iv;?>~"+data[3]+"~"+data[4];
			}
			if(document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "mig")
			{
				document.location = "app:mi~<?=$iv;?>~"+data[3]+"~"+data[4];
			}
			else
			{
				if(document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "ups" && imagelabel == 1)
				{
					window.open("/mgt/ship/labels/"+data[3]);
					document.location = "app:ship~<?=$iv;?>~"+data[3]+"~";	
				}
				else
				{
					document.location = "app:ship~<?=$iv;?>~"+data[3]+"~"+data[4];	
				}
			}
			
			//echo "OK\t$tracking\t$shipcost\t$uid\tURL\n";			
		}
		else
		{
			alert('ERROR:'+xmlHttp.responseText)
		}
	}		
}

function scanItem()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("scanform");
	
	
	if(!dlg)
	{
		alert('Could not find the scan form');
		hideSaveForm();
	}
	else
	{
		dlg.style.top = 100;
		dlg.style.left = 100;

		dlg.style.width = 200;
		
		dlg.style.display = "block";

		dlg.style.background = "#ffffee";
		
		document.myscanform.scanpid.value="";
		<?
		if($efc->getPermission("perm_scanqty"))
		{
			?>
			document.myscanform.scanqty.value = "1";
			<?
		}		
		?>
		document.myscanform.scanpid.focus();
	}	
}

function showDefaults()
{
	if(document.shipitems.methods.selectedIndex == 0)
	{
		alert('You must select a shipping method!');
		return;	
	}

	
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("defaultform");
	
	
	if(!dlg)
	{
		alert('Could not find the default form');
	}
	else
	{
		dlg.style.top = 100;
		dlg.style.left = 100;

		dlg.style.width = 300;
		
		dlg.style.display = "block";

		dlg.style.background = "#ffffee";
		
		var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
		var method =  document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value;
		var cm = document.getElementById("current_value");
		
		cm.innerHTML = carrier + " - " + method;
		
		getOptions();
	}	
}

function hideDefaults()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";

	var dlg = document.getElementById("defaultform");
	dlg.style.display = "none";
	
}

function hideScanForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";

	var dlg = document.getElementById("scanform");
	dlg.style.display = "none";
	
}

function cancelReturn(oTextbox, oEvent) 
{ 
	var keyCode;
	
	if (isIE) 
   	{
   		keyCode = oEvent.keyCode;	
   	}
   	else if (isMoz) 
   	{
		keyCode = oEvent.charCode;
   	}

	switch (oEvent.keyCode) 
	{ 
 		case 13: //enter  
 		{
 			if(isIE)window.event.cancelBubble = true;
 			else if(isMoz)
 			{
				oEvent.stopPropagation();
 				oEvent.preventDefault();
 			}
 			
			
			end = +new Date(); 
			start = document.getElementById('starttime').value;
			
			var diff = end - start;
			
			//alert(document.getElementById('scanpid').value.length);
			<?
			if($DB == "butterfly")
			{
				?>
				if(document.getElementById('scanpid').value.length >= 1)
				{
					if(diff > 500)
					{
						alert("You cannot type in the PID");
						document.getElementById('scanpid').value = "";
						document.myscanform.scanpid.focus();
					}
					else
					{
						setTimeout('doShip()', 100);
					}
				}						
				<?
			}
			else
			{
				?>
				setTimeout('doShip()', 100);
				<?
			}
			?>
				
 			
 			return false; 
 		}
		default:
		{
			if(document.getElementById('scanpid').value.length <= 1)
			{
				start = +new Date(); 
				document.getElementById('starttime').value = start;
			}			
		}
	}  
} 

function doShip()
{
	<?
	if($efc->getPermission("perm_scanqty"))
	{
	?>
		var scanqty = document.myscanform.scanqty.value;
		var pid = document.myscanform.scanpid.value;
			
		for(agx = 0; agx < parseInt(scanqty); agx++)
		{
			ShipSKU(pid);
		}
	<?
	}
	else 
	{
		?>
		ShipSKU(document.myscanform.scanpid.value);
		<?
	}
	?>
	
}

function cShipSKU()
{
	<?
	if($efc->getPermission("perm_scanqty"))
	{
	?>
		var scanqty = document.myscanform.scanqty.value;
		var pid = document.myscanform.scanpid.value;
			
		for(agx = 0; agx < parseInt(scanqty); agx++)
		{
			ShipSKU(pid);
		}
	<?
	}
	else 
	{
		?>
		ShipSKU(document.myscanform.scanpid.value);
		<?
	}
	?>
}

function isArray(obj) 
{
   if (obj.constructor.toString().indexOf("Array") == -1)
      return false;
   else
      return true;
}

function ShipSKU(pid)
{
	itemparts = pid.split("-");
	
	pid = itemparts[0];
	whid = itemparts[1];
	var scanqty = 1;
	
	//document.myscanform.scanpid.value

	if(whid == undefined)whid = -1;
		
	var element = document.getElementById("pid"+pid);
	
	if(!element)
	{
		// see if its a UPC
		var element = document.getElementById("upc"+pid);
		
		if(element)
		{// found it by UPC
			whid = '<?=$efc->getConfigValue("eFluent Settings", "DefaultWarehouse");?>';
			pid = element.value;
			
			var element = document.getElementById("pid"+pid);
		}
		else
		{
                    
                    // see if its a UPC
                    var element = document.getElementById("altupc"+pid);

                    if(element)
                    {// found it by UPC
                            whid = '<?=$efc->getConfigValue("eFluent Settings", "DefaultWarehouse");?>';
                            pid = element.value;

                            var element = document.getElementById("pid"+pid);
                    }
                    else
                    {

                        alert('This item does not exist on this order');
                        return;
                    }
		}
			
	}
	
	
	
	{
		var lineid = element.value;

		///////////////////////////////////////////////////////////////////////////////
		
		if(document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value == "dropship")
		{
			whname = "DropShip";
			whid = 0;
		}
		else
		{
			if(whid != -1)
			{
				//alert('checking warehouses');
				whname = 'YANCEY'
				
				whoptions = document.getElementById("fromwh"+lineid).options.length;
			
				for(xx = 0; xx < whoptions; xx++)
				{
					if(document.getElementById("fromwh"+lineid).options[ xx ].value == whid )
					{
						document.getElementById("fromwh"+lineid).selectedIndex = xx;
						
						whname = document.getElementById("fromwh"+lineid).options[ xx ].text;
						
						break;
					}
				}
			}
			else
			{
				alert('No warehouse entered... Please enter/scan the item as PID-WAREHOUSEID');
				return;
			}
		}
		
		if(whname == 'YANCEY')
		{
			alert('Warehouse Not Found');
			return;
		}
		
		// increment the # of items shipped for the line
		var cshipped = parseInt(document.getElementById("shipped"+lineid).value);
		cshipped++;
		document.getElementById("shipped"+lineid).value = cshipped;
		/////////////////////////////////////////////////////////////
		
		if(checkQty(lineid) == false)
			return;
		
		var man = document.getElementById("man"+pid).innerHTML;
		var manpart = document.getElementById("manpart"+pid).innerHTML;
		var descr = document.getElementById("descr"+pid).innerHTML;
		
		
		var serial = "";
		
		if( parseInt(document.getElementById("serial"+pid).value) == 1)
			serial = prompt("Record Serial Number for: "+pid+":", "");
		else
		{
			<?
			if($efc->getConfigValue("eFluent Settings", "RequireSerialNumbers") == 1)
			{
			?>
				serial = prompt("Record Serial Number for: "+pid+":", "");
			<?	
			}
			?>
		}

		////////////////////////////////////////////////////////////////////////////
		// add this to the package table
		var theTable = document.all.results;

		var newRow = theTable.insertRow(theTable.rows.length)

		newRow.id = pid; // assign the orderid as the rowid
				
		var newCell = newRow.insertCell(0);
		newCell.innerHTML = pid;

		newCell = newRow.insertCell(1);
		newCell.innerHTML = man;

		newCell = newRow.insertCell(2);
		newCell.innerHTML = manpart;

		newCell = newRow.insertCell(3);
		newCell.innerHTML = descr;
		
		newCell = newRow.insertCell(4);
		newCell.innerHTML = serial;
		
		newCell = newRow.insertCell(5);
		newCell.innerHTML = whname;

		newCell = newRow.insertCell(6);
		newCell.innerHTML = "<input type='checkbox' name='other"+pid+"' id='other"+pid+"' value='1' onclick='updateInsured()'>";
		
		<?php if ($DB == 'rawfoodworld'): ?>
			newCell = newRow.insertCell(7);
			newCell.innerHTML = "<a href=\"javascript:void(0);\" onclick=\"delPackageContentLine(" + pid + ")\"><img src=\"/mgt/images/del.gif\" alt=\"Remove this line\" border=\"0\"></a>";
		<?php endif; ?>
		
		thiscost = parseFloat(document.getElementById("cost"+pid).value);
		cvalue = parseFloat(document.shipitems.insured.value);

			
		/*if( isNaN(cvalue) && isNaN(cvalue) )	
			insured = 0.00;
		else if(isNaN(cvalue) && !isNaN(thiscost)) // current value is NaN,  this cost is a number
			insured = thiscost;
		else
			insured = thiscost + cvalue;
			
		document.shipitems.insured.value = insured.toFixed(2);*/
		
		updateInsured();
		
		///////////////////////////////////////////////////////////////////////////
		// now see if there's anything left to ship
		var shipped = 0;
		var ordered = 0;
		<?
		if($DB == "rawfoodworld")
		{
			$query = "select customer_order_lines.lineid, customer_order_lines.prodid from customer_order_lines, product_list where 
					customer_order_lines.prodid = product_list.id AND product_list.kit = 0 AND
					customer_order_lines.orderid = '$orderid' AND customer_order_lines.qty_ordered > customer_order_lines.qty_shipped";
		}
		else
		{
			$query = "select customer_order_lines.lineid, customer_order_lines.prodid from customer_order_lines where 
					customer_order_lines.orderid = '$orderid' AND customer_order_lines.qty_ordered > customer_order_lines.qty_shipped";
		}

		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 8 Internal Error"; exit; }  }

		while(list($lineid, $prodid) = mysql_fetch_array($qok))
		{
			?>
			if(document.getElementById("shipped"+<?=$lineid;?>))
				shipped += parseInt(document.getElementById("shipped"+<?=$lineid;?>).value);	
				
			if(document.getElementById("ordered"+<?=$lineid;?>))
				ordered += parseInt(document.getElementById("ordered"+<?=$lineid;?>).value);	
			<?
		}
		?>
		
		document.myscanform.scanpid.value="";
		hideScanForm();
		if(shipped < ordered)
		{
			<?
			if($DB != "sndkids")
			{
				?>
				scanItem();
				<?
			}
			?>
			
		}
	}
}

function delPackageContentLine(pid) {
	var row = document.getElementById(pid);
	row.parentElement.removeChild(row); 	
}

function autoComplete()
{
	hideScanForm();
	
	<?
	if($DB == "rawfoodworld")
	{
		$query = "select customer_order_lines.lineid, customer_order_lines.prodid, customer_order_lines.manname, customer_order_lines.manpart, 
					customer_order_lines.descr, customer_order_lines.price, customer_order_lines.qty_ordered, customer_order_lines.qty_shipped, customer_order_lines.whid 
					from customer_order_lines, product_list where 
					customer_order_lines.prodid = product_list.id AND
					product_list.kit = 0 AND
					customer_order_lines.orderid = '$orderid' AND 
					customer_order_lines.qty_ordered > customer_order_lines.qty_shipped AND 
					customer_order_lines.kit != '2'";
		
	}
	else
	{
		$query = "select lineid, prodid, manname, manpart, descr, price, qty_ordered, qty_shipped, whid from customer_order_lines where 
					orderid = '$orderid' AND qty_ordered > qty_shipped AND kit != '2'";
		
	}
	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 9 Internal Error"; exit; }  }
		
	while(list($lineid, $prodid, $manname, $manpart, $descr, $price, $qty_ordered, $qty_shipped, $whid) = mysql_fetch_array($qok))
	{
		$num2ship = $qty_ordered - $qty_shipped;
		
		for($xx = 0; $xx < $num2ship; $xx++)
		{
			?>
			ShipSKU('<?=$prodid;?>-0');
			<?
		}
	}
	?>
}

function StartUp()
{
	<?
	if($DB == "butterfly")
	{	
	?>
	var validpickers = new Array();
	<?	
		$onnum = 0;
		$query = "select distinct(pickerid) from users where pickerid > 0 group by pickerid";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){ echo mysql_error();exit; }else{ echo "Whoops! 10 Internal Error"; exit; }  }
		while(list($pkid) = mysql_fetch_array($qok))
		{
			echo "validpickers[$onnum] = '$pkid'\n";
			$onnum++;			
		}
		?>
		var xpickerid = "";
		
		while((xpickerid == "") || (xpickerid == null) || (found == false))
		{
			xpickerid = prompt("Please Enter the Picker ID", "");
			document.getElementById('pickerid').value = xpickerid;
			
			var found = false;
			
			for(xx = 0; xx < validpickers.length; xx++)
			{
				//alert(validpickers[xx] + "VALUE: "+xpickerid)
				if(validpickers[xx] == xpickerid)
				{
					found = true;
				}
				
			}
			
			if(xpickerid == "exit")
			{
				found = true;
			}
			
			if(found == false)
			{
				alert('Please enter a valid pickerid');
				xpickerid = "";
			}
		}
		<?
	}

	if($mycarrier != "")
	{
		echo "console.log('1');";
		echo "getRates();";
	}
	elseif (isset($_SESSION['shiporders2']['carrier']))
	{
		echo "getRates();";
	}
	else 
	{
		if($DB != "sndkids")
		{
			//echo "scanItem();";
		}
		else	
			echo "checkWeight('$on')";
	}
	?>	
}

function saveCarrier() {
	var carrier = document.shipitems.carrier.options[ document.shipitems.carrier.selectedIndex ].value;
  	var method = document.shipitems.methods.options[ document.shipitems.methods.selectedIndex ].value;
  	
  	 $.get('ajax_save_carrier.phtml', 
        {
                'carrier':carrier,
                'method':method
        }, function(data) {
    });
}

function saveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "block";
	
	cvr.style.top = 0;
	cvr.style.left = 0;
	
	cvr.style.width = "100%";
	cvr.style.height = "100%";
	
	var dlg = document.getElementById("saveform");
	
	if(!dlg)
	{
		alert('Could not find the save form');
		hideSaveForm();
	}
	else
	{
		dlg.style.top = 300;
		dlg.style.left = 20;

		dlg.style.width = 200;
		
		dlg.style.display = "block";
		
		document.mysaveform.savename.focus();
	}
	
	// save form to session
   	xmlHttp=GetXmlHttpObject();
  	if (xmlHttp==null)
 	{
  		alert ("Your browser does not support AJAX!");
  		return;
  	} 
  	
	var carrier = document.shipitems.carrier.options[document.shipitems.carrier.selectedIndex].value;
	var methods = document.shipitems.methods.options[document.shipitems.methods.selectedIndex].value;
  	var oweight = document.shipitems.oweight.value;
  	var insured = document.shipitems.insured.value;
  	var oinsured = document.shipitems.oinsured.value;
  	var cod = document.shipitems.cod.value;
	var saturday = signature = customs = imagelabel = 0;
	if (document.shipitems.saturday.checked) {
		saturday = 1;
	} else {
		saturday = 0;
	}
  	
	if (document.shipitems.signature.checked) {
		signature = 1;
	} else {
		signature = 0;
	}

	if (document.shipitems.customs.checked) {
		customs = 1;
	} else {
		customs = 0;
	}

	if (document.shipitems.imagelabel.checked) {
		imagelabel = 1;
	} else {
		imagelabel = 0;
	}
  	
	var url = "/mgt/ship/ajax_shiporders2.phtml";
	url += "?carrier="+carrier;
	url += "&methods="+methods;
	url += "&oweight="+oweight;
	url += "&insured="+insured;
	url += "&oinsured="+oinsured;
	url += "&cod="+cod;
	url += "&saturday="+saturday;
	url += "&signature="+signature;
	url += "&customs="+customs;
	url += "&imagelabel="+imagelabel;
	url += "&sid="+Math.random();
	
	xmlHttp.onreadystatechange=completeSaveForm;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function completeSaveForm()
{
	if(xmlHttp.readyState==4) {}	
}

function hideSaveForm()
{
	var cvr = document.getElementById("savecover");
	cvr.style.display = "none";
	var dlg = document.getElementById("saveform");
	dlg.style.display = "none";
}

function deleteSearch(sid, sname)
{
	if(confirm("Are you sure you wish the delete the saved search '"+sname+"'?"))
	{
		document.location = "/mgt/ship/shiporders2.phtml?sid="+sid+"&Action=Delete&iv=<?php echo $iv; ?>";
	}
}
</SCRIPT>
<STYLE>
.dialog {
display:none;
width:100px;
height:100px;
left:100px;
top:100px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_javascript.phtml");?>
<body onload="StartUp();">
<div id="savecover" class="cover"></div>
<div id="loading" class="dialog">
<table width=100 height=100>
<tr>
	<td height=100 valign=center align=center><span id="waitmsg">Please Wait...</span><BR><BR><img src='/mgt/images/loading.gif'></td>
</tr>
</table>
</div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<table width=100%>
		<tr>
			<td width=100% align=center>
<!--- BEGIN --->	

<table width=95%>
<tr>
	<td width=25% style="border-right:1px #eeeeee solid;">
			<div id="TabbedPanels1" class="TabbedPanels">
		    	<ul class="TabbedPanelsTabGroup">
		        <li class="TabbedPanelsTab" tabindex="0"><strong>Advanced</strong></li>
		        <?php if ($DB == 'rawfoodworld'): ?>
		        	<li class="TabbedPanelsTab" tabindex="1"><strong>Saved</strong></li>
		        <?php endif; ?>	
				</ul>
				<div class="TabbedPanelsContentGroup">
					<div class="TabbedPanelsContent">  

					<form name="shipitems" method="POST">
	<center>
		<div style="font-face:arial;font-size:14px"><B><?=$invoiceid;?></B><BR><?=$csmethod;?></div>
		<BR><BR>
	<!----------------------------------------------------------------------------------------------------------------------------------------->
		<table style="border-bottom:1px #eeeeee solid;">
		<tr>
			<td align=right><B>Carrier:</B></td>		
			<td>
				<select name="carrier" class="formSelect" onchange="getRates();">
					<option value="" SELECTED>--- SELECT ---</option>
					<?
					
					if($DB == "sndkids")
					{
					?>	
					<option value="ups" 	<?if($mycarrier == "ups") echo "SELECTED";?>>UPS</option>
					<option value="mig" 	<?if($mycarrier == "mig") echo "SELECTED";?>>Mail Innovations</option>
					 <option value="fedex" 	<?if($mycarrier == "fedex") echo "SELECTED";?>>FedEx</option>
					<?
					}
                    elseif($DB == "ecom") {
                        ?>
                        <option value="fedex" 	<?if($mycarrier == "fedex") echo "SELECTED";?>>FedEx</option>
                        <option value="ups" 	<?if($mycarrier == "ups") echo "SELECTED";?>>UPS</option>
                        <option value="genric"	 <?if($mycarrier == "genric") echo "SELECTED";?>>Generic</option>
                        <option value="usps" 	<?if($mycarrier == "usps") echo "SELECTED";?>>USPS</option>
                        <option value="usps_alan" 	<?if($mycarrier == "usps_alan") echo "SELECTED";?>>USPS Detailed</option>
                        <option value="globegistics" <?if($mycarrier == "globegistics") echo "SELECTED";?>>Globegistics</option>
                        <option value="miendicia" <?if($mycarrier == "miendicia") echo "SELECTED";?>>MI / Endicia</option>
                        <?
                    }
                    elseif($DB == "rawfoodworld") 
                    {
                    	if (isset($_SESSION['shiporders2']['carrier']))
                    	{
                    		$mycarrier = $_SESSION['shiporders2']['carrier'];
                    	}
                        ?>
                        <option value="walkin"	 <?if($mycarrier == "walkin") echo "SELECTED";?>>Walk in</option>
                        <option value="ups" 	<?if($mycarrier == "ups") echo "SELECTED";?>>UPS</option>
                        <option value="usps" 	<?if($mycarrier == "usps") echo "SELECTED";?>>USPS</option>
                        <option value="usps_int" 	<?if($mycarrier == "usps_int") echo "SELECTED";?>>USPS International</option>
                        <?
                    }
					else
					{
					?>
					<option value="fedex" 	<?if($mycarrier == "fedex") echo "SELECTED";?>>FedEx</option>
					<option value="manna" 	<?if($mycarrier == "manna") echo "SELECTED";?>>Manna</option>
					<option value="ups" 	<?if($mycarrier == "ups") echo "SELECTED";?>>UPS</option>
					<option value="genric"	 <?if($mycarrier == "genric") echo "SELECTED";?>>Generic</option>
					<option value="dropship" <?if($mycarrier == "dropship") echo "SELECTED";?>>DropShip</option>
					<option value="usps" 	<?if($mycarrier == "usps") echo "SELECTED";?>>USPS</option>
					<option value="usps_alan" 	<?if($mycarrier == "usps_alan") echo "SELECTED";?>>USPS Alan</option>
					<option value="smartpost" <?if($mycarrier == "smartpost") echo "SELECTED";?>>SmartPost</option>
					<option value="icat" <?if($mycarrier == "icat") echo "SELECTED";?>>iCat</option>
					<option value="hdusa" <?if($mycarrier == "hdusa") echo "SELECTED";?>>Home Direct</option>
					<option value="globegistics" <?if($mycarrier == "globegistics") echo "SELECTED";?>>Globegistics</option>
					<option value="miendicia" <?if($mycarrier == "miendicia") echo "SELECTED";?>>MI / Endicia</option>
					<?	
					}
					?>
				</select>
			</td>
		</tr>		
		<tr>
			<td align=right><B>Method:</B></td>		
			<td>
				<select name="methods" class="formSelect" onchange="loadShippingDefaults();">
					<option value="">----- SELECT SHIPPING METHOD -----</option>
				</select>
			</td>
		</tr>
        <tr style="display:none" id="package_type_tr">
			<td align=right><B>Type:</B></td>		
			<td>
				<select name="package_type" id="package_type" class="formSelect">
					<option value="">----- Type -----</option>
					<option value="sample">Sample</option>
					<option value="gift">Gift</option>
					<option value="merchandise">Merchandise</option>
				</select>
			</td>
		</tr>
        <tr style="display:none" id="form_type_tr">
			<td align=right><B>Form Type:</B></td>		
			<td>
				<select name="form_type" id="form_type" class="formSelect">
					<option value="">----- Type -----</option>
					<option value="2976">2976</option>
					<option value="2976-A">2976-A</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align=right><B>Weight:</B></td>		
			<td>
				<input type="text" name="weight" id="weight" value="<?=$weight;?>" class="formBox" style="width:75px;text-align:right;" >
				<input type="checkbox" name="usescale" id="usescale" value="1" <?if($DB == "sndkids") echo "checked";?>> Use Scale<BR>
				<input type="button" name="Action" value="Load Rates" onclick="getRates();" class="buttonItem">&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0);" onclick="showDefaults()">Defaults</a>&nbsp;&nbsp;
				<a href="javascript:void(0);" onclick="loadShippingDefaults()">Refresh</a>
				
				<?
				$query = "select count(*) from customer_order_lines where 
						orderid = '$orderid' AND qty_ordered > qty_shipped AND kit != '2'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 11 Internal Error"; exit; }  }
				list($numlines) = mysql_fetch_array($qok);
				
				if($numlines == 1)
				{
					?>
					<BR><input type="button" name="Action" value="Save Weight" onclick="saveWeight();" class="buttonItem">
					<?
				}
				?>				
			</td>
		</tr>		
		<tr>
			<td align=right><B>Other Weight:</B></td>		
			<td>
				<input type="text" name="oweight" value="<?php echo (isset($_SESSION['shiporders2']['oweight'])) ? $_SESSION['shiporders2']['oweight'] : '0.00'; ?>" class="formBox" style="width:125px;text-align:right;" >
			</td>
		</tr>		
		<tr>
			<td align=right><B>Insured:</B></td>		
			<td>
				<input type="text" name="insured" value="<?php echo (isset($_SESSION['shiporders2']['insured'])) ? $_SESSION['shiporders2']['insured'] : '0.00'; ?>" class="formBox" style="width:125px;text-align:right;" >
			</td>
		</tr>		
		<tr>
			<td align=right><B>Other Insured:</B></td>		
			<td>
				<input type="text" name="oinsured" value="<?php echo (isset($_SESSION['shiporders2']['oinsured'])) ? $_SESSION['shiporders2']['oinsured'] : '0.00'; ?>" class="formBox" style="width:125px;text-align:right;" >
			</td>
		</tr>		
		<tr>
			<td align=right><B>COD:</B></td>		
			<td>
				<input type="text" name="cod" class="formBox" value="<?php echo (isset($_SESSION['shiporders2']['cod'])) ? $_SESSION['shiporders2']['cod'] : ''; ?>" style="width:125px;text-align:right;" disabled >
			</td>
		</tr>		
		<tr>
			<td align=right>&nbsp;</td>		
			<td>
				<input type="checkbox" name="saturday" <?php echo (isset($_SESSION['shiporders2']['saturday']) && $_SESSION['shiporders2']['saturday'] > 0) ? 'checked="checked"' : ''; ?> value=1>Saturday Delivery
			</td>
		</tr>		
		<tr>
			<td align=right>&nbsp;</td>		
			<td>
				<input type="checkbox" name="signature" <?php echo (isset($_SESSION['shiporders2']['signature']) && $_SESSION['shiporders2']['signature'] > 0) ? 'checked="checked"' : ''; ?>>Signature Required
			</td>
		</tr>	
		<tr>
			<td align=right>&nbsp;</td>		
			<td>
				<input type="checkbox" name="customs" <?php echo (isset($_SESSION['shiporders2']['customs']) && $_SESSION['shiporders2']['customs'] > 0) ? 'checked="customs"' : ''; ?>>Print Customs Form
			</td>
		</tr>	
		<tr>
			<td align=right>&nbsp;</td>		
			<td>
				<input type="checkbox" name="imagelabel" <?php echo (isset($_SESSION['shiporders2']['imagelabel']) && $_SESSION['shiporders2']['imagelabel'] > 0) ? 'checked="checked"' : ''; ?>>GIF Label (ups only)
			</td>
		</tr>	
		</table>	
		
		<table style="border-bottom:1px #eeeeee solid;">
		
		<tr>
			<td align=right><B>Ship Date:</B></td>

			<td>
				<input type="text" name="shipdate" value="<?=date("m/d/Y", time());?>" size=15 class="formbox" style="width:65px" 
				onclick="cal1x.select(document.forms['shipitems'].shipdate,'anchor1x','MM/dd/yyyy'); return false;"  onselect="cal1x.select(document.forms['shipitems'].shipdate,'anchor1x','MM/dd/yyyy'); return false;" ID="anchor1x">		
			</td>
		</tr>
		<tr>
			<td align=right><B>Ship Name:</B></td>		
			<td><input type="text" name="ship2name" value="<?=$ship2name;?>" class="formBox" style="width:125px;" ></td>
		</tr>
		<tr>
			<td align=right><B>Ship Street1:</B></td>		
			<td><input type="text" name="ship2street1" value="<?=$ship2street1;?>" class="formBox" style="width:125px;" ></td>
		</tr>
		<tr>
			<td align=right><B>Ship Street2:</B></td>		
			<td><input type="text" name="ship2street2" value="<?=$ship2street2;?>" class="formBox" style="width:125px;" ></td>
		</tr>
		<tr>
			<td align=right><B>Ship City:</B></td>		
			<td><input type="text" name="ship2city" value="<?=$ship2city;?>" class="formBox" style="width:125px;" ></td>
		</tr>
		<tr>
			<td align=right><B>Ship State, Zip:</B></td>		
			<td><input type="text" name="ship2state" value="<?=$ship2state;?>" class="formBox" style="width:85px;" >
				<input type="text" name="ship2zip" value="<?=$ship2zip;?>" class="formBox" style="width:40px;" >
			</td>
		</tr>
		<tr>
			<td align=right><B>Country:</B></td>		
			<td><input type="text" name="ship2country" value="<?=$ship2country;?>" class="formBox" style="width:125px;" ></td>
		</tr>
		<tr>
			<td align=right><B>Phone:</B></td>		
			<td><input type="text" name="ship2phone" value="<?=$phone;?>" class="formBox" style="width:125px;" ></td>
		</tr>
		
		<tr>
			<td align=right>&nbsp;</td>		
			<td>
				<input type="checkbox" name="residential" value=1>Residential
			</td>
		</tr>		
		</table>		
	<!----------------------------------------------------------------------------------------------------------------------------------------->
		<table>
		<tr>
			<td align=center colspan="2">
				<input type="button" name="Action" value="Scan Item" onclick="scanItem();" class="buttonItem">
				<?php if ($DB == 'rawfoodworld'): ?>
					&nbsp;<input type="button" name="" value="Save" onclick="saveForm()" class="buttonItem">
				<?php endif; ?>
				<BR>(or press F6)
				<input type="hidden" name="pickerid" id="pickerid" value="">
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<?
		if ($DB == 'ecom') {
			$sub_zip = substr($ship2zip,0,3);
			$query = "SELECT zipcode_rates.box_a,zipcode_rates.box_b,zipcode_rates.box_c FROM zipcode_rates,zipcode_zone WHERE 
						zipcode_rates.zone=zipcode_zone.zone AND
						zipcode_zone.zipcode='".$sub_zip."'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 12 Internal Error"; exit; }  }
			list($box_a,$box_b,$box_c) = mysql_fetch_array($qok);
		?>
		<tr>
			<td align=right><b>Regional Rate Box A:</b></td>		
			<td>
				$<?=$box_a?>
			</td>
		</tr>	
		<tr>
			<td align=right><b>Regional Rate Box B:</b></td>		
			<td>
				$<?=$box_b?>
			</td>
		</tr>	
		<tr>
			<td align=right><b>Regional Rate Box C:</b></td>		
			<td>
				$<?=$box_c?>
			</td>
		</tr>	
		<?}?>
		</table>
	</center>
					</div>
					<div class="TabbedPanelsContent">
						<div align="left">		        	
						<input type="hidden" name="loadsearch" value="1">	
						<table>
						<tbody><tr>
							<td class="g1"><div align="left">Saved Searches:</div></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
							<div align="left">
								<ul>
								<?
								if ($DB == 'rawfoodworld'):
								
								$userid = (int) $_SESSION["ID"];
								$query = "SELECT id, name, public 
										  FROM saved_picking_search 
										  WHERE userid = '$userid'
										  OR public = '1'
										  ORDER BY name";
								if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 13 Internal Error"; exit; }  }
								while(list($sid, $sname, $public) = mysql_fetch_array($qok))
								{
									if(strlen($sname) > 30)
									{
										$sname = substr($sname, 0, 27)."...";
									}
									
									echo '<li>';
									if ($public == 1)
									{ 
										echo "<img src='/mgt/images/public.gif' alt='Public Search'>"; 
									}
									else
									{ 
										echo "<img src='/mgt/images/private.gif' alt='Private Search'>"; 
									}
									echo '<a href="/mgt/ship/shiporders2.phtml?iv='.$iv.'&loadsearch=1&saveid='.$sid.'">'.$sname.'</a>&nbsp;<sup><a href="javascript:deleteSearch(\''.$sid.'\', \''.addslashes($sname).'\');" class="x">x</a></sup><br /><br /></li>';
								}
								endif;
								?>
								</ul>
							</div>
							</td>
						</tr>
						</tbody></table>
						</div>					
					</div>
				</div>
			</div>
			<script type="text/javascript">
			<!--
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			//-->
			</script>			
	</td>
	
	<td width=75%>
	<!----------------------------------------------------------------------------------------------------------------------------------------->
		<BR>
		<input type="hidden" name="orderid" value="<?=$orderid;?>">
		<input type="hidden" name="invoiceid" value="<?=$invoiceid;?>">
		<div id="shipmsg" align="center">&nbsp&nbsp;</div>
		<BR>
		<table cellspacing=0 cellpadding=0 width=95% border=0 id="itemList" name="itemList">
		<tr bgcolor="#eeeeee">
			<td align=center height=21><div align=center><B>ID</B></div></td>
			<td align=center height=21><div align=center><B>Man</B></div></td>
			<td align=center><div align=center><B>Man Part</B></div></td>
			<td align=center><div align=center><B>Description</B></div></td>	
			<td align=center><div align=center><B>Ordered</B></div></td>
			<td align=center><div align=center><B>Shipped</B></div></td>
			<td align=center><div align=center><B>Warehouse</B></div></td>
			<td align=center><div align=center><B>Ship</B></div></td>
		</tr>
		<?
		if($DB == "rawfoodworld")
		{
			$query = "select customer_order_lines.lineid, customer_order_lines.prodid, customer_order_lines.manname, customer_order_lines.manpart, 
						customer_order_lines.descr, customer_order_lines.price, customer_order_lines.qty_ordered, customer_order_lines.qty_shipped, customer_order_lines.whid 
						from customer_order_lines, product_list where 
						customer_order_lines.prodid = product_list.id AND
						product_list.kit = 0 AND
						customer_order_lines.orderid = '$orderid' AND 
						customer_order_lines.qty_ordered > customer_order_lines.qty_shipped AND 
						customer_order_lines.kit != '2'";
		}
		else
		{
			$query = "select lineid, prodid, manname, manpart, descr, price, qty_ordered, qty_shipped, whid from customer_order_lines where 
						orderid = '$orderid' AND qty_ordered > qty_shipped AND kit != '2'";
		}
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 14 Internal Error"; exit; }  }
		
		while(list($lineid, $prodid, $manname, $manpart, $descr, $price, $qty_ordered, $qty_shipped, $whid) = mysql_fetch_array($qok))
		{
			$query = "select upccode, sku from product_list where id = '$prodid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 15 Internal Error"; exit; }  }
			list($upccode, $sku) = mysql_fetch_array($q2ok);
			
                        $query = "select text_short from custom_values where cfid='71' AND pid = '$prodid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 16 Internal Error"; exit; }  }
			list($alt_upccode) = mysql_fetch_array($q2ok);
                        
			$instock = $efc->getTotalInventory($prodid);
			
			$query = "select serialized from product_list where id = '$prodid'";
			if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 17 Internal Error"; exit; }  }
			list($serialized) = mysql_fetch_array($q2ok);
		?>
		<tr>
			<td height=21><?=$prodid?></td>
			<td><div id="man<?=$prodid;?>"><?=$manname?></div></td>
			<td><div id="manpart<?=$prodid;?>"><?=$manpart?></div></td>
			<td><div id="descr<?=$prodid;?>"><?=$descr;?> (<?=$sku;?>)</div></td>	
			<td>
				<div align=center>
					<?=$qty_ordered;?>
				</div>
			</td>
			<td>
				<div align=center>
					<input type="hidden" name="upc<?=$upccode;?>" id="upc<?=$upccode;?>" value="<?=$prodid;?>"> <!--Reference for scanning by UPC-->
					<input type="hidden" name="altupc<?=$alt_upccode;?>" id="altupc<?=$alt_upccode;?>" value="<?=$prodid;?>"> <!--Reference for scanning by UPC-->
					<input type="hidden" name="pid<?=$prodid;?>" id="pid<?=$prodid;?>" value="<?=$lineid;?>">
					<input type="hidden" name="instock<?=$lineid;?>" id="instock<?=$lineid;?>" value="<?=intval($instock);?>">
					<input type="hidden" name="ordered<?=$lineid;?>" id="ordered<?=$lineid;?>" value="<?=intval($qty_ordered);?>">
					
					<input type="hidden" name="pshipped<?=$lineid;?>" id="pshipped<?=$lineid;?>" value="<?=intval($qty_shipped);?>">
					
					<input type="text"   name="shipped<?=$lineid;?>" id="shipped<?=$lineid;?>" value="<?=intval($qty_shipped);?>" class="formBox" style="width:25px" disabled>
					
					<input type="hidden" name="cost<?=$prodid;?>" id="cost<?=$prodid;?>" value="<?=number_format($efc->getActualCost($prodid), 2, ".", "");?>">
					<input type="hidden" name="serial<?=$prodid;?>" id="serial<?=$prodid;?>" value="<?=$serialized;?>">
				</div>
			</td>
			<td>
				<div align=center>
				<?
				$invarray = $efc->getInventoryType($prodid);
				$inv_type = $invarray['inv_type'];
					
				if($inv_type == "B")
	         	{	
	         		$query = "select sum(inv_available) from product_inventory where id = '$prodid' and whid = '$whid'";		
	         		if(!$q8ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 18 Internal Error"; exit; }  }
					list($inv_lavailable) = mysql_fetch_array($q8ok);	
	         		?>
	         		<select name="fromwh<?=$lineid;?>"  id="fromwh<?=$lineid;?>"	class="formSelect">
	         			<option value="<?=$whid;?>">Size: <?=$whid;?> - (qty: <?=$inv_lavailable;?> )</option>
	         		</select>
	         		<?
	         	}
	         	else 
	         	{
					$location = "";
					
					if($DB == "sndkids")
					{
						$query = "select location from ws_picking_export_extended where invoiceid = '$invoiceid'";
						if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 19 Internal Error"; exit; }  }
						list($tlocation) = mysql_fetch_array($q9ok);
						
						/*
						if the location is anything other than 6 in ws_picking_export_extended its store inventory
						*/
						/*if(intval($tlocation) != 6)
							$location = 0;
						else*/
						$location = 6;
					}
					
	         		?>
					<select name="fromwh<?=$lineid;?>"  id="fromwh<?=$lineid;?>"	class="formSelect">
					<?
					$query = "select config_key, config_value from configuration where config_group = 'Warehouse List' and config_key is NOT NULL";
					if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 20 Internal Error"; exit; }  }
					$lstock = 0;
					
					$numwhse = 0;
					$usewhse = 0;
					
					while(list($whid, $whname) = mysql_fetch_array($q9ok))
					{
						$query = "select sum(inv_available) from product_inventory where id = '$prodid' and whid = '$whid'";
						if(!$q8ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 21 Internal Error"; exit; }  }
						list($inv_lavailable) = mysql_fetch_array($q8ok);
						
						if(intval($inv_lavailable) > 0)
						{
							$usewhse = $whid;
							$numwhse++;
							$lstock += $inv_lavailable;
							?>
							<option value="<?=$whid;?>" <?if($whid == $location) echo "SELECTED";?>><?=$whname;?> (qty:<?=intval($inv_lavailable);?>)</option>
							<?
						}
					}
					
					$query = "select sum(qty) from product_sourcing where pid = '$prodid'";
					if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! 22 Internal Error"; exit; }  }
					list($dsstock) = mysql_fetch_array($q9ok);
					
					if($dsstock > 0)
					{
					?>
					<option value="DS"><?=$dsstock;?> - DropShip</option>
					<?
					}
					?>
					</select>
	         		<?
	         	}
				?>
				</div>	         		
			</td>
			<td>
				<?
				if($DB != "butterfly")
				{
					if($numwhse == 1)
					{
						?>
						<input type="button" id="X3" name="Action" value="Ship" class="buttonItem" onclick="ShipSKU('<?=$prodid;?>-<?=$usewhse;?>');">
						<?
					}
					else
					{
						?>
						<input type="button" id="X3" name="Action" value="Ship" class="buttonItem" onclick="ShipSKU('<?=$prodid;?>-0');">
						<?
					}
				}
				?>
			</td>
		</tr>
		<?	
		}
		?>
		</table>
		<table width=95%>
		<tr>
			<td bgcolor="#eeeeee">
				<div align=center>
				<input type="button" id="ship_btn1" name="Action" value="Ship Order (F8)" class="buttonItem" onclick="ShipPackage();">
				</div>
			</td>
		</tr>
		</table>
		<!----------------------------------------------------------------------------------------------------------------------------------------->
		<BR><BR>
		<!----------------------------------------------------------------------------------------------------------------------------------------->
		<table width=95%>
		<tr>
		<td bgcolor="#ffffff">
			<B>Package Contents</B>
		</td>				
		</tr>
		</table>
		<!----------------------------------------------------------------------------------------------------------------------------------------->
		<table width=95% id="results">
		<tr bgcolor="#eeeeee">
			<td height=21 align=center><B>ID</B></th>
			<td align=center><B>Man</B></th>
			<td align=center><B>Man Part</B></th>
			<td align=center><B>Description</B></th>
			<td align=center><B>Serial#</B></th>
			<td align=center><B>Warehouse</B></th>
			<td align=center><B>Other</B></th>
			<?php if ($DB == 'rawfoodworld'): ?>
				<td align="center"></th>
			<?php endif; ?>
		</tr>
		</table>	
		
		<table width=95%>
		<tr>
			<td bgcolor="#eeeeee">
				<div align=center>
				<input type="button" id="ship_btn2" name="Action" value="Ship Order (F8)" class="buttonItem" onclick="ShipPackage();">
				</div>
			</td>
		</tr>
		</table>
	<!----------------------------------------------------------------------------------------------------------------------------------------->
	</td>
</tr>
</table>		
<!--- END --->	
			</form>
			</td>
		</tr>
		</table>		
		
<?REQUIRE($ROOT_DIR."/mgt/e2win/e2win_tables.phtml");?>


	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
<DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>

<div id="scanform" class="dialog">
<form name="myscanform">
<table bgcolor="#ffffee">
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Scan ProductID:</td>		
		</tr>
		<tr>
			<td><input type="text" name="scanpid" class="formBox" onkeypress="return cancelReturn(this, event)"></td>		
		</tr>
		<?
		if($efc->getPermission("perm_scanqty"))
		{
			?>
			<tr>
				<td>Quantity: <input type="text" name="scanqty" class="formBox" style="width:25px" onkeypress="return cancelReturn(this, event)">&nbsp;&nbsp;&nbsp;
					<a href="javascript:void(0);" onclick="autoComplete()">Auto Complete</a></td>		
			</tr>
			<?
		}
		?>
		<tr>
			<td>(press enter when complete)</td>		
		</tr>
		<tr>
			<td><a href="javascript:void(0);" onclick="hideScanForm()">Close</a></td>		
		</tr>
		</table>
		<input type="hidden" name="starttime" class="formBox">
	</td>
</tr>
</table>
</form>
</center>
</div>

<div id="saveform" class="dialog">
<form name="mysaveform" method="POST">
<table>
<tr>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td>Save Search as:</td>		
		</tr>
		<tr>
			<td><input type="text" name="savename" class="formBox"></td>		
		</tr>
		<tr>
			<td><input type="checkbox" name="public" value="1">Public (available to everyone)</td>		
		</tr>
		<tr>
			<td><input type="submit" name="Action" value="Save" class="buttonItem"><input type="button" name="Action" value="Cancel" onclick="hideSaveForm()" class="buttonItem"></td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>

<div id="defaultform" class="dialog">
<form name="mydefaultform">
<table bgcolor="#ffffee">
<tr>
	<td align=center><B>Shipping Defaults <div id="defaults_loading">&nbsp;</div></B></td>
</tr>
<tr>
	<td align=center><div id="current_value">&nbsp;</div></td>
</tr>
<tr>
	<td align=center><HR NOSHADE></td>
</tr>
<tr>
	<td>
		<table>
		<tr>
			<td>Signature Requried:</td>		
			<td>
				<input type="checkbox" name="default_signature" checked>
				<BR>
				When total > $<input type="text" name="default_minsig" class="formBox" value="0.00" style="width:50px;text-align:right;">
			</td>		
		</tr>
		<tr>
			<td>Insurance Requried:</td>		
			<td>
				<input type="checkbox" name="default_insurance" checked>
				<BR>
				When total > $<input type="text" name="default_minins" class="formBox" value="0.00" style="width:50px;text-align:right;">
			</td>		
		</tr>
		<tr>
			<td>Auto-Populate Weight:</td>		
			<td>
				<input type="checkbox" name="default_weight" checked>
			</td>		
		</tr>
		<tr>
			<td>Require Weight:</td>		
			<td>
				<input type="checkbox" name="default_requireweight" checked><BR>
			</td>		
		</tr>
		<tr>
			<td colspan=2 align=center>	
				<input type="button" name="Action" value="Save Defaults" class="buttonItem" onclick="saveDefaults();"><BR><BR>
				<a href="javascript:void(0);" onclick="hideDefaults()">Close</a>
				
			</td>		
		</tr>
		</table>
	</td>
</tr>
</table>
</form>
</center>
</div>
<?
$stop = getmicrotime();

$qtime = number_format(($stop - $start), 2);

//echo "Page rendered in $qtime seconds";
?>
LF: <?=$_SESSION["LABEL_FORMAT"];?>
</body>
</html>