<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

if($iv == "")
{
	$iv = $efc->getInvoicefromOrderNo($on);
}
if($on == "") 
	$on = $efc->getOrderNumber($iv);
	
$asinonpicking = $efc->getConfigValue("eFluent Settings", "ASIN_ON_PICKINGSLIP");
$fba_prep = $efc->getConfigValue("eFluent Settings", "FBA_PREP");

/******************************************************************************************/
if($bdate == "") $bdate = date("m/d/Y");
if($edate == "") $edate = date("m/d/Y");
?>
<HTML>
<HEAD>
<TITLE>efluent</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<STYLE>
.dialog {
display:none;
width:225px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<style>
<!--
.inbItem{font-family: verdana, helvetica, arial;color: black;font-size: 10px;border-width: 0;text-decoration: none;}
.inbItem:visited{color: navy;}
.inbItem:link{color: navy;}
.inbItem:active{color: navy;}
.inbItem:hover{color: red;text-decoration: underline;}

.lnbItem{font-family: verdana, helvetica, arial;color: black;font-size: 10px;border-bottom:1px solid #000000;}
.lnbItem:visited{color: navy;}
.lnbItem:link{color: navy;}
.lnbItem:active{color: navy;}
.lnbItem:hover{color: red;text-decoration: underline;}

.tnbItem{background:#eeeeee;font-family: verdana, helvetica, arial;color: black;font-size: 10px;border-width: 0;text-decoration: none; filter:alpha(opacity=95);}
.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#ffffee;}

.inputItem{ background: #ffffff; font-family: verdana, helvetica, arial;color: black;font-size: 10px;font-weight: bold; border-color: #eeeeee; border-width: 1px;}
.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 10px;}
.labelItem{font-family: verdana, helvetica, arial;color: black;font-size: 10px;border-width: 0;text-decoration: none;}
//-->
</style>
</HEAD>
<body style="margin-top: 25px; margin-right: 20px; margin-bottom: 25px; margin-left: 20px; font-size:10px!important;" oncontextmenu="return false;" <?if($hideprint == 1){?>onload="document.location='printme'"<?}?>>

		<table width=100%>
		<tr>
			<td>
<!----------------------------------------------------------------------------------------------------------------------------------------->

<?
$query = "select orderid, smid, otype, invoiceid, status, bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
			ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country, phone, altphone, emailaddr,
			subtotal, tax, shipping, total, ip_addr, pmttype, orderdate, package, csmethod, arepid, divid,fbaid from customer_orders where invoiceid = '$iv'";
		
$qok = mysql_db_query($DB, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($orderid, $smid, $otype, $invoiceid, $status, $bill2name, $bill2street1, $bill2street2, $bill2city, $bill2state, $bill2zip, $bill2country,
			$ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country, $phone, $altphone, $emailaddr,
			$subtotal, $tax, $shipping, $total, $ip_addr, $pmttype, $orderdate, $package, $csmethod, $repid, $divid,$fbaid) = mysql_fetch_array($qok);
					
if($otype == "") $otype = "INVOICE";

// local pick up
if ($DB == 'rawfoodworld' && $status == 12)
{
	$csmethod = 'Local Pickup';
}
?>
<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td valign=top align=left>
        &nbsp;
	<!---------------------------------------------------------------------------------------------->
	</td>
	<td class="inbItem">&nbsp;</td>

	<td class="inbItem" align=center>
		<?
		if ($DB == 'butterfly') {
			if ($package == 1) {
				$q = "SELECT custom_values.text_long FROM custom_values,customer_order_lines WHERE customer_order_lines.orderid='$orderid' AND customer_order_lines.kitpid= custom_values.pid and custom_values.cfid = '67'";
			}
			else {
				$q = "SELECT custom_values.text_long FROM custom_values,customer_order_lines WHERE customer_order_lines.orderid='$orderid' AND customer_order_lines.prodid= custom_values.pid and custom_values.cfid = '67'";			
			}
			$qokx = mysql_db_query($DB, $q, $mysqlid);
			if($qokx == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($section) = mysql_fetch_array($qokx);
			?>
				<font size=5 face="Arial">
				<B><?//$section;?>Fba Use Only- Do NOT SHIP</B>
				</font><br />
			<?
		}
		?>	
		
		<font size=3 face="Arial">
		<B><?=$csmethod;?></B>
		</font>
		<font>
		<?
		if(stripos($ship2name, 'AVP1')!== false) {
		    ?>
		    <div style="font-weight:bold;font-size:14px">*SMALL*</div>
		    <?
		}
		elseif(stripos($ship2name, 'RIC1')!== false ) {
		     ?>
		    <div style="font-weight:bold;font-size:14px">*BIG*</div>
		    <?
		}
		?>
		<!--<div style="font-family:IDAutomationHC39M;font-style:normal;font-size:12px">*<?=$iv;?>*</div></font>-->
	</td>
	
	<td class="inbItem">&nbsp;</td>
	<td valign=top >

	<!---------------------------------------------------------------------------------------------->
		<table width=100%>
		<tr>
			<td class="inbItem" align=right>
				<table>
				<tr>
					<td class="inbItem"  align=right>

						<font size=3 face="Arial">

						<B>PICKING SLIP<BR> <?=$iv;?></B>
						</font>
						<BR>
						<?=date("m/d/Y", $orderdate);?>&nbsp;<?=date("H:i:s", $orderdate);?>
					</td>
				</tr>
				</table>
			</td>		
		</tr>

		</table>
	<!---------------------------------------------------------------------------------------------->
	</td>
	
	<td class="inbItem">&nbsp;</td>	
</tr>
</table>
<HR NOSHADE COLOR="#EEEEEE">
<BR>
<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->

	<table width=100%>
	<tr>
		<td  class="lnbItem"><B>Shipping Address - <?=$fbaid?></B></td>
	</tr>
	<tr>

		<td class="inbItem"><?=$ship2name;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$ship2street1;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$ship2street2;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$ship2city;?>, <?=$ship2state;?> <?=$ship2zip;?></td>		
	</tr>	
	</table>
	<!---------------------------------------------------------------------------------------------->
	</td>

	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >
            <table cellspacing=0 cellpadding=0 width=100% border=0>
                <tr>
		    
		    <td>
		<?
		$query = "select manname, manpart, descr, price, qty_ordered, qty_shipped, prodid, whid,kitpid from customer_order_lines where 
					qty_ordered > qty_shipped AND qty_ordered > qty_dropship AND orderid = '$on' and ex_return = 0 limit 1";
//                $query = "select manname, manpart, descr, price, qty_ordered, qty_shipped, prodid, whid,kitpid from customer_order_lines where 
//					 orderid = '$on' and ex_return = 0";
		$q2ok = mysql_db_query($DB, $query, $mysqlid);
		if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($manname, $manpart, $descr, $price, $qty, $shipped, $prodid, $whid,$kitpid) = mysql_fetch_array($q2ok);
		
		$query = "SELECT text_short from custom_values where cfid='77' and pid='$prodid'";
		$q2ok = mysql_db_query($DB, $query, $mysqlid);
		if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fnsku) = mysql_fetch_array($q2ok);
		if(strtolower(substr($fnsku, 0,1)) == 'x') {
		    ?>
			<b>SELLER LABEL</b>
		    <?
		}
		?>
		    </td>
		    <td>&nbsp;</td>
		</tr>
            <tr>
                    <td class="inbItem"><B>Employee:</B></td>
                    <td class="inbItem">
                            <?
                            $query = "select displayname from users where id = '$repid'";
                            $qok = mysql_db_query($DB, $query, $mysqlid);
                            if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                            list($repname) = mysql_fetch_array($qok);
                            ?>
                            <?=$repname;?>
                    </td>		
            </tr>
            <tr>
                <td colspan="4" height='5px' style="line-height:5px;">&nbsp;</td>
            </tr>
            <tr>
                    <td class="inbItem"><B>Email</B></td>
                    <td class="inbItem">
                            <a href="mailto:<?=$emailaddr;?>?Subject=<?=$otype;?>:<?=$orderid;?>" class="inbItem"><?=$emailaddr;?></a>
                    </td>

            </tr>
            </table>
	<!---------------------------------------------------------------------------------------------->
        <table cellspacing=0 cellpadding=0 border=0 style="margin-top:5px">
	<tr>
		<td class="inbItem" nowrap><B>UPS</B></td>
		<td class="inbItem" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="inbItem" nowrap><B>Truck</B></td>
		<td class="inbItem" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="inbItem"><B>ALPHA</B></td>
		<td class="inbItem">&nbsp;</td>
                <td class="inbItem">&nbsp;</td>
		<td class="inbItem">&nbsp;</td>
	</tr>
        <tr>
            <td colspan="4" height='5px' style="line-height:5px;">&nbsp;</td>
        </tr>
<!--        <tr>
		<td class="inbItem" nowrap><B>Regular</B></td>
		<td class="inbItem" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="inbItem" nowrap><B>Labeled</B></td>
		<td class="inbItem" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="inbItem" nowrap><B>&nbsp;&nbsp;Non-commingled&nbsp;&nbsp;</B></td>
		<td class="inbItem" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="inbItem" nowrap><B>ALPHA</B></td>
		<td class="inbItem" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>-->
	</table>
	<!---------------------------------------------------------------------------------------------->
	</td>	

</tr>
<tr>
    <td colspan="3"><hr noshade color="#eeeeee"></td>
</tr>
</table>
<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->
	<table cellspacing=0 cellpadding=0 width=100% border=0>

	</table>
	<!---------------------------------------------------------------------------------------------->
	</td>	

	<td class="inbItem">&nbsp;</td>
</tr>
</table>

<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td class="inbItem">&nbsp;</td>
	
	<td class="inbItem">
	<!--------------------------------------------------------------------------->

		<table cellspacing=0 cellpadding=0 width=100% border=0>
		<tr>
			<td class="lnbItem" align=center><B>PID</B></td>
			<td class="lnbItem" align=center><B>FBA Prep</B></td>
			<?if($asinonpicking == "1")
			{
				?>
				<td class="lnbItem" align=center><B>ASIN</B></td>
				<?
			}
			?>
			<td class="lnbItem" align=center><B>Man</B></td>
			<td class="lnbItem" align=center><B>Man Part</B></td>
			<td class="lnbItem" align=center><B>Description</B></td>	
			<!--- <td class="lnbItem" align=center><B>Unit</B></td>	--->	
			<td class="lnbItem" align=center><B>Ordered</B></td>
			<!--- <td class="lnbItem" align=center><B>Shipped</B></td> --->

			<!--- <td class="lnbItem" align=center><B>Returned</B></td> --->
			<!--- <td class="lnbItem" align=center><B>Extended</B></td>	--->
			<!--<td class="lnbItem" align=center><B>Shipped</B></td>-->
<!--			<td class="lnbItem" align=center><B>Qty</B></td>-->
                        <!--<td class="lnbItem" align=center><b>MP</b></td>-->
                        <td class="lnbItem" align=center><b>Actual</b></td>
		</tr>
		<tr>
			<td colspan=4>&nbsp;</td>
		</tr>

		<?
                if($package == '1') {
                    $query = "select kitpid from customer_order_lines where kitpid>0 AND orderid = '$on'";
                    $q2ok = mysql_db_query($DB, $query, $mysqlid);
                    if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
                    list($kitpid_tmp) = mysql_fetch_array($q2ok);
                }
                
                $x = false;
                $total_qty = 0;
		$query = "select manname, manpart, descr, price, qty_ordered, qty_shipped, prodid, whid,kitpid from customer_order_lines where 
					qty_ordered > qty_shipped AND qty_ordered > qty_dropship AND orderid = '$on' and ex_return = 0";
//                $query = "select manname, manpart, descr, price, qty_ordered, qty_shipped, prodid, whid,kitpid from customer_order_lines where 
//					 orderid = '$on' and ex_return = 0";
		$q2ok = mysql_db_query($DB, $query, $mysqlid);
		if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$total_shipweight = 0;
		$tmp_weight = false;
		while(list($manname, $manpart, $descr, $price, $qty, $shipped, $prodid, $whid,$kitpid) = mysql_fetch_array($q2ok))
		{
			$query = "select refurb, sku, asin,shipweight from product_list where id = '$prodid'";
			$q4ok = mysql_db_query($DB, $query, $mysqlid);
			if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($refurb, $sku, $asin,$shipweight) = mysql_fetch_array($q4ok);
			$query = "select text_short from custom_values where cfid='$fba_prep' AND pid = '$prodid'";
			$q4ok = mysql_db_query($DB, $query, $mysqlid);
			if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($fba_prep_val) = mysql_fetch_array($q4ok);
			
		    if($shipweight <=0 ) {
			$tmp_weight = true;
		    }
			
			$total_shipweight += $shipweight*($qty - $shipped);
		?>		
			<tr class="mout">
                            <td class="inbItem" align=center style="font-size:10px" valign="top"><?=$prodid;?></td>
                            <td class="inbItem" align=center style="font-size:10px" valign="top"><b><?=$fba_prep_val;?></b></td>
				<?if($asinonpicking == "1")
				{
					?>
					<td class="inbItem" align=center valign="top"><?=$asin;?></td>
					<?
				}
				?>
				<td class="inbItem" align=center valign="top"><?=$manname?></td>
                                <td class="inbItem" align=center style="font-size:10px" valign="top">
                                   <?if($package==1 && $prodid === $kitpid_tmp) {
                                     ?>
                                    <b><?=$manpart?></b>
                                    <?}else{?>
                                    <?=$manpart?>
                                    <?}?>
                                </td>
				<td class="inbItem" align=center style="font-size:10px" valign="top">	
                                         
					<?
                                        $d = substr($descr,0,100);
                                        $dsr = chunk_split($d, 50, "<br />");
                                        print_r($dsr);
                                        //$descr;?> <?if($refurb == 1) echo "*Remanufactured*";?>
				
					<?
					$invarray = $efc->getInventoryType($prodid);
					$inv_type = $invarray['inv_type'];
					
					if($inv_type == "B")
			        {
			        	$size = $efc->getConfigValue("Warehouse List B", $whid);
			         	
				       	echo " (size: $size)";
				       	
				       	$query = "select text_short from custom_values where cfid = '7' and pid = '$prodid'";
				       	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($text_short) = mysql_fetch_array($q4ok);
						
						echo " (color: $text_short)";
				       	
			        }
			        ?>
				
				</td>	
				<td class="inbItem" align=center valign="top">
                                    
                                       <?if($package==1 && $prodid === $kitpid_tmp) {
                                         $x = true;
                                     ?>
                                    <b><?=($qty - $shipped);?></b>
                                    <?}else{?>
                                    <?=($qty - $shipped);?>
                                    <?}?>
                                </td><!--- Qty Ordered --->
				<!--<td class="inbItem" align=center>[ ]</td>-->
                                <!--<td class="inbItem" align=center valign="top">&nbsp;</td>-->
				<td class="inbItem" align=center valign="top">____</td>
			</tr>
			<?
                        if($kitpid == 0) {
                            $total_qty += $qty - $shipped;
                        }
			$numcols = 6;
			if($asinonpicking == "1") $numcols = 7;
			?>
			<tr>
				<td colspan=<?=$numcols;?>>&nbsp;</td>
			</tr>
		<?
		}
		?>

		</table>

	</td>
</tr>
</table>

<table width=50%>
<tr>
	<td valign=top>
	<?
	$query = "select notes from customer_order_notes where orderid = '$orderid'";
	$q2ok = mysql_db_query($DB, $query, $mysqlid);
	if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($notes) = mysql_fetch_array($q2ok);
							
	if($notes != "")
	{
		echo "<BR><B>ORDER NOTES:</B> ";
		echo stripslashes($notes);
	}
	?>
</td>		
</table>

<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->

	<table width=100%>
	<tr>
		<td class="inbItem">
                    <BR><BR><BR>___________________________________________________<BR><B>Shipper Signature</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Units: <?=$total_qty?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weight: <?=$total_shipweight?> <?if($tmp_weight) echo " *";?></td>	
	</tr>
	<!---------------------------------------------------------------------------------------------->

	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >

	<!---------------------------------------------------------------------------------------------->
	<!---------------------------------------------------------------------------------------------->
	</td>	

</table>


<?
if($hideprint == 1)
{
	
}
else 
{
	?>
	<input type="button" name="Action" value="Print Picking" onclick="window.print()">
	<?
}
?>

<!----------------------------------------------------------------------------------------------------------------------------------------->
			</td>
		</tr>	
		</table>

</body>
</html>