<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");
REQUIRE($ROOT_DIR."/mgt/ship/HTML_ToPDF.php");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////

if($iv == "")
{
	$iv = $efc->getInvoicefromOrderNo($on);
}
if($on == "") 
	$on = $efc->getOrderNumber($iv);
	
/******************************************************************************************/
if($bdate == "") $bdate = date("m/d/Y");
if($edate == "") $edate = date("m/d/Y");

ob_start();
?>
<HTML>
<HEAD>
<TITLE><?=$iv;?></TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<STYLE>
.dialog {
display:none;
width:225px;
height:65px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:9pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
<style>
<!--
.inbItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none;}
.inbItem:visited{color: navy;}
.inbItem:link{color: navy;}
.inbItem:active{color: navy;}
.inbItem:hover{color: red;text-decoration: underline;}

.lnbItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-bottom:1px solid #000000;}
.lnbItem:visited{color: navy;}
.lnbItem:link{color: navy;}
.lnbItem:active{color: navy;}
.lnbItem:hover{color: red;text-decoration: underline;}

.tnbItem{background:#eeeeee;font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none; filter:alpha(opacity=95);}
.mover{background:#eeeeff;}
.mout {background:#ffffff;}

.m2over{background:#eeeeff;}
.m2out {background:#ffffee;}

.inputItem{ background: #ffffff; font-family: verdana, helvetica, arial;color: black;font-size: 9pt;font-weight: bold; border-color: #eeeeee; border-width: 1px;}
.buttonItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;}
.labelItem{font-family: verdana, helvetica, arial;color: black;font-size: 9pt;border-width: 0;text-decoration: none;}
//-->
</style>
</HEAD>
<body style="margin-top: 25px; margin-right: 20px; margin-bottom: 25px; margin-left: 20px;" oncontextmenu="return false;">

		<table width=100%>
		<tr>
			<td>
<!----------------------------------------------------------------------------------------------------------------------------------------->

<?
$query = "select orderid, smid, otype, invoiceid, status, bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
			ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country, phone, altphone, emailaddr,
			subtotal, tax, shipping, total, ip_addr, pmttype, orderdate, package, csmethod, arepid, divid from customer_orders where invoiceid = '$iv'";
		
$qok = mysql_db_query($DB, $query, $mysqlid);
if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($orderid, $smid, $otype, $invoiceid, $status, $bill2name, $bill2street1, $bill2street2, $bill2city, $bill2state, $bill2zip, $bill2country,
			$ship2name, $ship2street1, $ship2street2, $ship2city, $ship2state, $ship2zip, $ship2country, $phone, $altphone, $emailaddr,
			$subtotal, $tax, $shipping, $total, $ip_addr, $pmttype, $orderdate, $package, $csmethod, $repid, $divid) = mysql_fetch_array($qok);
					
if($otype == "") $otype = "INVOICE";


?>
<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td valign=top align=left>

	<!---------------------------------------------------------------------------------------------->
		<font size=3 face="Arial">
			<B>
			<?
			if(intval($divid) <= 0)
			{
				?>
				<?=$efc->getConfigValue("Company Information", "CompanyName");?><BR>
				<?=$efc->getConfigValue("Company Information", "CompanyAddress1");?><BR>
				<? 
					$line2 = $efc->getConfigValue("Company Information", "CompanyAddress2");
					if($line2 != "") echo "$line2<BR>";
				
				?>
				<?=$efc->getConfigValue("Company Information", "CompanyCity");?>,<?=$efc->getConfigValue("Company Information", "CompanyState");?> <?=$efc->getConfigValue("Company Information", "CompanyZip");?>
				<?
			}
			else 
			{
			?>
				<?=$efc->getConfigValue("Company Information", "CompanyName_$divid");?><BR>
				<?=$efc->getConfigValue("Company Information", "CompanyAddress1_$divid");?><BR>
				<? 
					$line2 = $efc->getConfigValue("Company Information", "CompanyAddress2_$divid");
					if($line2 != "") echo "$line2<BR>";
				
				?>
				<?=$efc->getConfigValue("Company Information", "CompanyCity_$divid");?>,<?=$efc->getConfigValue("Company Information", "CompanyState_$divid");?> <?=$efc->getConfigValue("Company Information", "CompanyZip_$divid");?>
				<?
			}
			?>
			</B>
		</font>
	<!---------------------------------------------------------------------------------------------->
	</td>
	<td class="inbItem">&nbsp;</td>

	<td class="inbItem" align=center>

		<font size=3 face="Arial">
		<B><?=$csmethod;?></B>
		</font>
		<font>
		<div style="font-family:IDAutomationHC39M;font-style:regular;font-size:12px">*<?=$iv;?>*</font>
	</td>
	
	<td class="inbItem">&nbsp;</td>
	<td valign=top >

	<!---------------------------------------------------------------------------------------------->
		<table width=100%>
		<tr>
			<td class="inbItem" align=right>
				<table>
				<tr>
					<td class="inbItem"  align=right>

						<font size=3 face="Arial">

						<B>PICKING SLIP<BR> <?=$iv;?></B>
						</font>
						<BR>
						<?=date("m/d/Y", $orderdate);?>&nbsp;<?=date("H:i:s", $orderdate);?>
					</td>
				</tr>
				</table>
			</td>		
		</tr>

		</table>
	<!---------------------------------------------------------------------------------------------->
	</td>
	
	<td class="inbItem">&nbsp;</td>	
</tr>
</table>
<HR NOSHADE COLOR="#EEEEEE">
<BR>
<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->

	<table width=100%>
	<tr>
		<td class="lnbItem"><B>Billing Address</B></td>
	</tr>
	<tr>
		<td class="inbItem"><?=$bill2name;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$bill2street1;?></td>		
	</tr>

	<tr>
		<td class="inbItem"><?=$bill2street2;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$bill2city;?>, <?=$bill2state;?> <?=$bill2zip;?></td>		
	</tr>	
	</table>
	<!---------------------------------------------------------------------------------------------->
	</td>

	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->
	<table width=100%>
	<tr>
		<td  class="lnbItem"><B>Shipping Address</B></td>
	</tr>
	<tr>

		<td class="inbItem"><?=$ship2name;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$ship2street1;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$ship2street2;?></td>		
	</tr>
	<tr>
		<td class="inbItem"><?=$ship2city;?>, <?=$ship2state;?> <?=$ship2zip;?></td>		
	</tr>	
	</table>

	<!---------------------------------------------------------------------------------------------->
	</td>	

</tr>
</table>

<hr noshade color="#eeeeee">

<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->

	<table cellspacing=0 cellpadding=0 width=100% border=0>
	<tr>
		<td class="inbItem" width=10%><B>Order Type:</B></td>
		<td class="inbItem" width=10%>
			<?=$otype;?>
		</td>
		
		<td class="inbItem" width=10%><B>Status:</B></td>
		<td class="inbItem" width=10%>

			<B><?=$otype;?></B>
		</td>		
		
	</tr>
	<tr>
		<td class="inbItem" width=10%><B>Phone</B></td>
		<td class="inbItem" width=10%>
			<?=$phone;?>
		</td>		

		<td class="inbItem" width=10%><B>Employee:</B></td>

		<td class="inbItem" width=10%>
			<?
			$query = "select displayname from users where id = '$repid'";
			$qok = mysql_db_query($DB, $query, $mysqlid);
			if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($repname) = mysql_fetch_array($qok);
			?>
			<?=$repname;?>
		</td>
		
	</tr>
	<tr>
		<td class="inbItem" width=10%><B>Email</B></td>
		<td class="inbItem" width=10%>
			<a href="mailto:<?=$emailaddr;?>?Subject=<?=$otype;?>:<?=$orderid;?>" class="inbItem"><?=$emailaddr;?></a>

		</td>		
		
		
		<td class="inbItem" width=10%><B>IP Address:</B></td>
		<td class="inbItem" width=10%>
			<a href="#" 
				onClick="window.open('http://www.alwaysmart.com/coolstuff/ip_lookup.phtml?ip=<?=ip_addr;?>', 'FCK', 'scrollbars=no, width=200, height=100')"
				class="inbItem"><?=$ip_addr;?></a>
		</td>

	</tr>
	<tr>
		<td class="inbItem" width=10%><B>CC Last 4:</B></td>
		<td class="inbItem" width=10%>
			<?
			$query = "select lastfour from customer_payments where status = 1 and voided = 0 and orderid = '$orderid'";
			$qok = mysql_db_query($DB, $query, $mysqlid);
			if($qok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($lastfour) = mysql_fetch_array($qok);
			
			echo $lastfour;
			?>
		</td>

		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>	
	</table>
	
	
	<!---------------------------------------------------------------------------------------------->

	</td>	

	<td class="inbItem">&nbsp;</td>
</tr>
</table>



<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->
	<table cellspacing=0 cellpadding=0 width=100% border=0>

	</table>
	<!---------------------------------------------------------------------------------------------->
	</td>	

	<td class="inbItem">&nbsp;</td>
</tr>
</table>

<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	<td class="inbItem">&nbsp;</td>
	
	<td class="inbItem">
	<!--------------------------------------------------------------------------->

		<table cellspacing=0 cellpadding=0 width=100% border=0>
		<tr>
			<td class="lnbItem" align=center><B>PID</B></td>
			<td class="lnbItem" align=center><B>Sku</B></td>
			<td class="lnbItem" align=center><B>Man</B></td>
			<td class="lnbItem" align=center><B>Man Part</B></td>
			<td class="lnbItem" align=center><B>Description</B></td>	
			<!--- <td class="lnbItem" align=center><B>Unit</B></td>	--->	
			<td class="lnbItem" align=center><B>Ordered</B></td>
			<!--- <td class="lnbItem" align=center><B>Shipped</B></td> --->

			<!--- <td class="lnbItem" align=center><B>Returned</B></td> --->
			<!--- <td class="lnbItem" align=center><B>Extended</B></td>	--->
			<td class="lnbItem" align=center><B>Shipped</B></td>
			<td class="lnbItem" align=center><B>Qty</B></td>
		</tr>
		<tr>
			<td colspan=4>&nbsp;</td>
		</tr>

		<?
		$query = "select manname, manpart, descr, price, qty_ordered, qty_shipped, prodid, whid from customer_order_lines where 
					qty_ordered > qty_shipped AND qty_ordered > qty_dropship AND orderid = '$on' and ex_return = 0";
		$q2ok = mysql_db_query($DB, $query, $mysqlid);
		if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		while(list($manname, $manpart, $descr, $price, $qty, $shipped, $prodid, $whid) = mysql_fetch_array($q2ok))
		{
			$query = "select refurb, sku from product_list where id = '$prodid'";
			$q4ok = mysql_db_query($DB, $query, $mysqlid);
			if($q4ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($refurb, $sku) = mysql_fetch_array($q4ok);
			
		?>		
			<tr class="mout">
				<td class="inbItem" align=center><?=$prodid;?></td>
				<td class="inbItem" align=center><?=$sku;?></td>
				<td class="inbItem" align=center><?=$manname?></td>
				<td class="inbItem" align=center><?=$manpart?></td>
				<td class="inbItem" align=center>	
				
					<?=$descr;?> <?if($refurb == 1) echo "*Remanufactured*";?>
				
					<?
					$invarray = $efc->getInventoryType($prodid);
					$inv_type = $invarray['inv_type'];
					
					if($inv_type == "B")
			        {
			        	$size = $efc->getConfigValue("Warehouse List B", $whid);
			         	
				       	echo " (size: $size)";
				       	
				       	$query = "select text_short from custom_values where cfid = '7' and pid = '$prodid'";
				       	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						list($text_short) = mysql_fetch_array($q4ok);
						
						echo " (color: $text_short)";
				       	
			        }
			        ?>
				
				</td>	
				<td class="inbItem" align=center><?=($qty - $shipped);?></td><!--- Qty Ordered --->
				<td class="inbItem" align=center>[ ]</td>
				<td class="inbItem" align=center>____</td>
			</tr>
			<tr>
				<td colspan=8>&nbsp;</td>
			</tr>
		<?
		}
		?>

		</table>

	</td>
</tr>
</table>

<table width=50%>
<tr>
	<td valign=top>
	<?
	$query = "select notes from customer_order_notes where orderid = '$orderid'";
	$q2ok = mysql_db_query($DB, $query, $mysqlid);
	if($q2ok == false){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($notes) = mysql_fetch_array($q2ok);
							
	if($notes != "")
	{
		echo "<BR><B>ORDER NOTES:</B> ";
		echo stripslashes($notes);
	}
	?>
</td>		
</table>

<table cellspacing=0 cellpadding=0 width=100% border=0>
<tr>
	
	<td valign=top >
	<!---------------------------------------------------------------------------------------------->

	<table width=100%>
	<tr>
		<td class="inbItem">
		<BR><BR><BR>________________________________<BR><B>Shipper Signature</B></td>		
	</tr>
	<!---------------------------------------------------------------------------------------------->

	<td class="inbItem">&nbsp;</td>
	
	<td valign=top >

	<!---------------------------------------------------------------------------------------------->
	<!---------------------------------------------------------------------------------------------->
	</td>	

</table>


<?
if($hideprint == 1)
{
	
}
else 
{
	?>
	<input type="button" name="Action" value="Print Picking" onclick="document.location='app:printpick:<?=$iv;?>';">
	<?
}
?>

<!----------------------------------------------------------------------------------------------------------------------------------------->
			</td>
		</tr>	
		</table>

</body>
</html>
<?
$htmlFile = ob_get_clean();

// Full path to the file to be converted (this time a webpage)
// change this to your own domain

$defaultDomain = 'www.butterflyphoto.com';
$pdfFile = "$ROOT_DIR/mgt/ship/$iv.pdf";
@unlink($pdfFile);

$pdf =& new HTML_ToPDF($htmlFile, $defaultDomain, $pdfFile);
$pdf->setUseCSS(true);
// We want to underline links
$pdf->setUnderlineLinks(true);
// Scale the page down slightly
$pdf->setScaleFactor('.9');
// Make the page black and light
$pdf->setUseColor(false);
// Convert the file
$result = $pdf->convert();

// Check if the result was an error
if (is_a($result, 'HTML_ToPDFException')) {
    die($result->getMessage());
}
else {
    echo "PDF file created successfully: $result";
    echo '<br />Click <a href="' . basename($result) . '">here</a> to view the PDF file';
}
?>