<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($pid != '' && $iso_id != '' && $qty >0) {
	$query = "INSERT INTO fba_ca_shipment_creator_items(iso_id,pid,qty) VALUES('".$iso_id."','".$pid."','".$qty."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
}
$cfid = $efc->getConfigValue("AmazonFBA", "CasePack");
if ($cfid == '') {
	$case_pack = "";
}
else {
	$query_case_pack  = "SELECT text_short
							 FROM custom_values
							 WHERE pid = '$pid'
							 AND cfid = '$cfid'";
	if(!$qok_case_pack = mysql_db_query($DB, $query_case_pack, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($case_pack) = mysql_fetch_array($qok_case_pack);
}
$query = "SELECT fba_ca_shipment_creator_items.pid,fba_ca_shipment_creator_items.qty,product_manufacturers.manname, product_list.manpart, product_list.descr FROM fba_ca_shipment_creator_items,product_list,product_manufacturers 
					WHERE fba_ca_shipment_creator_items.iso_id='".$iso_id."' AND
						  fba_ca_shipment_creator_items.pid=product_list.id AND
						  product_list.manid = product_manufacturers.manid AND
						  fba_ca_shipment_creator_items.pid='".$pid."'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
list($pid,$qty,$manname,$manpart,$title) = mysql_fetch_array($qok);
?>
<tr id="isoitemlist_<?=$iso_id?>_<?=$pid?>" class="isoitemaddline">
	<td align="center" class="iso_item_nrline"><?=$tr_elem?></td>
	<td align="center"><?=$pid?></td>
	<td align="center"><?=$manname?>&nbsp;</td>
	<td align="center"><?=$manpart?>&nbsp;</td>
	<td align="center"><?=$title?>&nbsp;</td>
	<td><input type="text" onblur="saveCaseQty('<?=$pid?>')" class="formBox isoitemcase" id="isoitemcase_<?=$pid?>" value="<?=$case_pack?>" style="width:50px"/></td>
	<td><input type="text" class="formBox" id="isoitemqty_<?=$iso_id?>_<?=$pid?>" value="<?=$qty?>" style="width:50px"/></td>
	<td align="center"><img src="/mgt/images/del.gif" alt="Delete" onclick="removeISOItem('<?=$iso_id?>','<?=$pid?>')" style="cursor:pointer;"/></td>
</tr>