<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/
?>
<table>
<tr>
	<td>
		<table>
<?
$query = "select shipment_id,id,plan_name from fba_ca_shipment_creator_respons WHERE created='1'";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
while (list($shipment_id,$id,$plan_name) = mysql_fetch_array($qok)) {
	?>
	<tr>
		<td><?=$plan_name?></td>		
		<td> - </td>		
		<td><a href="javascript:void(0)" onclick="updatePlanShipment('<?=$plan_id?>','<?=$id?>')"><?=$shipment_id?></a></td>		
	</tr>
	<?
}
?>
		</table>
	</td>
</tr>
</table>