<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;
////////////////////////////////////////////////////////////////////////////////////////////
/******************************************************************************************/

if($Action == "Save Settings")
{
	$query = "delete from pmw_options";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$query = "insert into pmw_options(overwrite_title, overwrite_sdescr, overwrite_specs, overwrite_staticspecs, overwrite_images) ";
	$query .=" values('$overwrite_title', '$overwrite_sdescr', '$overwrite_specs', '$overwrite_staticspecs', '$overwrite_images')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	Header("Location: /mgt/pmw/");
}
?>
<HTML>
<HEAD>
<TITLE>PMW Main</TITLE>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK HREF="/mgt/style.css" TYPE="text/css" REL="stylesheet">
</HEAD>

<STYLE>
.dialog {
display:none;
width:125px;
height:auto;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.item {
display:none;
width:75px;
height:75px;
position:absolute;
z-index:100;
background:white;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}

.cover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:99;
background:#eeeeee;
filter:alpha(Opacity=50);
opacity:0.7;
-moz-opacity:0.7;
-khtml-opacity:0.7
}

</STYLE>
</HEAD>
<body>
<div id="savecover" class="cover"></div>
<table width=100% height=100% cellpadding=0 cellspacing=0 border=0>
<tr>
	<td width=13 background="/mgt/images/l.jpg"> </td>
	<td valign=top>
		<?REQUIRE($ROOT_DIR."/mgt/include/menu.phtml");?>
		<?INCLUDE("e2win_menu.phtml");?>
		<div style="padding-left:5px;padding-top:10px">

		<?
		$query = "select overwrite_title, overwrite_sdescr, overwrite_specs, overwrite_staticspecs, overwrite_images from pmw_options ";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($overwrite_title, $overwrite_sdescr, $overwrite_specs, $overwrite_staticspecs, $overwrite_images) = mysql_fetch_array($qok);
		?>
		<form>
			<table>
			<tr><td><input type="checkbox" name="overwrite_images" value="1" <?if($overwrite_images == 1) echo "CHECKED";?>>Overwrite Images</td></tr>
			<tr><td><input type="checkbox" name="overwrite_title" value="1" <?if($overwrite_title == 1) echo "CHECKED";?>>Overwrite Title</td></tr>
			<tr><td><input type="checkbox" name="overwrite_sdescr" value="1" <?if($overwrite_sdescr == 1) echo "CHECKED";?>>Overwrite Sales Description</td></tr>
			<tr><td><input type="checkbox" name="overwrite_specs" value="1" <?if($overwrite_specs == 1) echo "CHECKED";?>>Overwrite Specs</td></tr>
			<tr><td><input type="checkbox" name="overwrite_staticspecs" value="1" <?if($overwrite_staticspecs == 1) echo "CHECKED";?>>Overwrite Static Specs</td></tr>
			<tr>
				<td style="padding-top:2px;" align=center>
				<input type="submit" name="Action" value="Save Settings" class="buttonItem">
				</td>
			</tr>
			
			
			
			</table>
		</form>		
	</td>
	<td width=13 background="/mgt/images/r.jpg"> </td>
</tr>
</table>
</body>
</html>