<?
REQUIRE($_SERVER['DOCUMENT_ROOT']."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

/******************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////
// Login Stuff
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");
REQUIRE($ROOT_DIR."/mgt/auth.phtml");

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
$amClass = new amazonClass();
$amClass->db = $DB;
$amClass->mysqlid = $mysqlid;
$amClass->efc = $efc;
/******************************************************************************************/

////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
// fix orders that have no complete date
$addon ="";
if($pid) {
	$addon .= " AND product_descr.id = '$pid'";
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

/******************************************************************************************/
$query = "select distinct(product_descr.id),product_descr.data from product_descr,product_category_map 
				where product_descr.id=product_category_map.pid AND
					  product_category_map.catid=508 AND
						product_descr.divid = '0' AND 
						length(product_descr.data)>2000
						$addon 
				GROUP BY product_descr.id";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
$totalnum = mysql_num_rows($qok);

if($totalnum > 0)
{
	$ITEMS_PER_PAGE = $num2return;
	$numpages = 0;
				
	if(intval($p) == 0)	$p = 1;
				
	$numpages = ceil($totalnum / $ITEMS_PER_PAGE);// 10 items per page
	$numpages = sprintf("%.00f", $numpages );
					
	$nextpage = $lastpage = 0;
					
	if(($p + 1) <= $numpages)$nextpage = $p + 1;
	if(($p - 1) >= 1)$lastpage = $p - 1;
							
	$offset = ($p - 1) * $ITEMS_PER_PAGE;
	if($totalnum > 0) 
	$bview = ($offset) + 1;$eview = $bview + $ITEMS_PER_PAGE - 1;
				
	if($eview > $totalnum)
		$eview = $totalnum;
	if(mysql_data_seek($qok, $offset) == false){echo "INTERNAL ERROR 14... OUTPUT STOPPED";exit();}
	if(intval($num2return) <= 0)	$num2return = 50;	

?>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"goToPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> Labels on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
				<input type="button" name="" value="Go" onclick="goToPage();" class="buttonItem">
		</td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"goToPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<table width=99% id="results" class="sortable">

	<tr bgcolor="#eeeeee">
	    <td><b>PID</b></td>
	    <td><b>OLD Count</b></td>
	    <td><b>New Count</b></td>
	    <td><b>New Descr</b></td>
	</tr>
	<?
	while ((list($id,$desc) = mysql_fetch_array($qok)) && ($numout < $ITEMS_PER_PAGE)){
	$numout++;
	
	$desc_arr = explode("<div class=\"TabbedPanelsContent\" style=\"display: none\">",$desc);

	if (count($desc_arr)>1) {
		$sdescr = $desc_arr[0];
	}
	else {
		$sdescr = $desc;
	}
	$sdescr = $amClass->cleanse($sdescr);
	
	?>
	<tr>
	    <td style="border-bottom:1px solid black"><a href="javascript:e2window('/mgt/sm/editsku.phtml?id=<?=$id?>&inwin=1', 'Edit SKU: <?=$id?>','logitem_<?=$id?>');" id="logitem_<?=$id?>">
	    		<?=$id?>
	    	</a></td>
	    <td style="border-bottom:1px solid black"><?=strlen($amClass->cleanse($desc))?></td>
	    <td style="border-bottom:1px solid black"><?=strlen($sdescr)?></td>
	    <td style="border-bottom:1px solid black"><?
	    	echo $sdescr;
	    ?></td>
	</tr>	
	<?
	}
	?>

</table>
<table width="99%" height="27px" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d9d7d8;margin-top:10px;background-color:#ffffee">
	<tr>
		<?
		if($lastpage != "")
			echo "<td align=left>&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick=\"goToPage('$lastpage');\" class=\"subc\"><<< Back</a></td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
		          
		<td align="center">
			<div align="center"><?=number_format($totalnum,0);?> Labels on <?=$numpages;?> pages. | Displaying <strong>Page <?=$p;?></strong>, items <?=$bview;?> thru <?=$eview;?>.</div>
			
			Go to Page: <input type="text" name="pageno" id="pageno" style="width:50px" class="formBox" value="<?=$p;?>">
				<input type="button" name="" value="Go" onclick="goToPage();" class="buttonItem">
		</td>
		            
				
		<?
		if($nextpage != "") 
			echo "<td align=right><a href=\"javascript:void(0);\" onclick=\"goToPage('$nextpage');\" class=\"subc\">Next >>></a>&nbsp;&nbsp;</td>";
		else 
			echo "<td>&nbsp;&nbsp;</td>";
		?>
	</tr>
</table>
<?}?>