<?
/*ini_set('display_errors',1);
error_reporting(E_ALL);*/
$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: create_fba_price_feed.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../../.');      

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}

function translatePID($mysqlid, $DB, $pid)
{
	$query = "select pid from fba_sku_map where fba_sku = '".addslashes($pid)."'";	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
	if(mysql_num_rows($qok) > 0)
	{
		list($pid) = mysql_fetch_array($qok);
		return $pid;
	}
	
	// no translation table.....
//	$query = "select id from product_list where id = '$pid'";
	if($DB == "sndkids")
		$query = "select id from product_list where sku = '".addslashes($pid)."'";
	else
		$query = "select id from product_list where id = '".addslashes($pid)."'";	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
	if(mysql_num_rows($qok) > 0)
	{
		list($pid) = mysql_fetch_array($qok);
		return $pid;
	}
	
	return 0;
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$query = "select id from fba_feed_report where type = 'FBAPRICE' and complete = '0'";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
if(mysql_num_rows($q2ok) > 0)
{
	$query = "select tstamp from fba_feed_report where type = 'FBAPRICE' order by tstamp desc limit 0, 1";
	if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
	list($tstamp) = mysql_fetch_array($q3ok);
	$feedage = (time() - strtotime($tstamp)) / 60;
	if($feedage > 120)
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		$query = "update fba_feed_report set complete = 1 where id = '$feedreportid'";
		if(!$q3ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
		
		echo "Reset feed $feedreportid\n";
	}
	else 
	{
		list($feedreportid) = mysql_fetch_array($q2ok);
		echo "Cannot update new feed until feed => $feedreportid is complete.\n";
		exit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$lstamp = date("Y-m-d H:i:s", time());
$query = "insert into amazon_log(title, tstamp) values('FBA Price Feed Creation', '$lstamp')";
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
$logid = mysql_insert_id();
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

/********************************************************************************************/
define ('DATE_FORMAT', 'Y-m-d\TH:i:s\Z');
 
define('AWS_ACCESS_KEY_ID', 	$efc->getConfigValue("AmazonFBA", "AWS_ACCESS_KEY_ID"));
define('AWS_SECRET_ACCESS_KEY', $efc->getConfigValue("AmazonFBA", "AWS_SECRET_ACCESS_KEY"));  

define('APPLICATION_NAME', 'eFluent');
define('APPLICATION_VERSION', '2.0');

define ('MERCHANT_ID',  	$efc->getConfigValue("AmazonFBA", "MERCHANT_ID"));
define ('MARKETPLACE_ID', 	$efc->getConfigValue("AmazonFBA", "MARKETPLACE_ID"));
/********************************************************************************************/

$data = "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n";
$data .= "<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier>".$efc->getConfigValue("AmazonFBA", "MERCHANT_IDENTIFIER")."</MerchantIdentifier>
	</Header>
	<MessageType>Price</MessageType>

";


$usequantity = -1;
$qty_control = 100;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// for now just use listid #16 to build the feed

$price_level = $efc->getConfigValue("AmazonFBA", "PRICE_LEVEL");

/*
			amazon_base_messages.price != product_prices.price_level$price_level AND
*/
if($DB == "sndkids") {
	$query = "select distinct(fba_skus.sku), fba_skus.lastupdate from fba_skus";
}
else {
	$query = "select distinct(fba_skus.sku), fba_skus.lastupdate from fba_skus where updateprice = '1'";
}
if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
if(mysql_num_rows($q2ok) <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from amazon_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
	
	exit;
}

$messageid = 0;

while(list($fbapid) = mysql_fetch_array($q2ok))
{
	$pid = translatePID($mysqlid, $DB, $fbapid);
		
	if(intval($pid) > 0)
	{
		$query = "select price_level$price_level, price_map from product_prices where id = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
		list($price, $price_map) = mysql_fetch_array($qok);
	
		echo "PID: $pid FBAPID: $fbapid - $price\n";
		$query = "update fba_skus set lastupdate = '".time()."', updateprice = '0' where sku = '$fbapid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
	
		$query = "select custom_values.text_short from custom_fields, custom_values where custom_fields.id = custom_values.cfid and custom_fields.name = 'AMZ Add to Cart' and custom_values.pid = '$pid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
		list($amz_add2cart) = mysql_fetch_array($qok);
		
                $query = "select fba_sku from fba_sku_map where pid = '$pid' and fba_sku != ''";	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($fba_sku) = mysql_fetch_array($qok);
                if($fba_sku != '') {
                    $fbapid = $fba_sku;
                }
		
		if(floatval($price) <= 0.00)
		{
			echo "Price == 0.00\n";
		}
		else 
		{
			$messageid++;
			
			if(intval($amz_add2cart) > 0)
			{
				$data .= "<Message> 
					<MessageID>$messageid</MessageID> 
					<Price> 
						<SKU>$fbapid</SKU> 
						<StandardPrice currency=\"USD\">$price</StandardPrice> 
						<MAP currency=\"USD\">$price_map</MAP> 
					</Price> 
				</Message>";
			}
			else 
			{
				$data .= "<Message> 
					<MessageID>$messageid</MessageID> 
					<Price> 
						<SKU>$fbapid</SKU> 
						<StandardPrice currency=\"USD\">$price</StandardPrice> 
					</Price> 
					</Message>";
			}
		}
	}
	
}

$data .= "</AmazonEnvelope>\n";
if($messageid <= 0)
{
	echo "No Products to update\n";
	
	$query = "delete from amazon_log where id = '$logid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
	
	exit;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$filename = "/tmp/amazon/fbaprice.".date("Ymd-His", time()).".xml";
$fp = fopen($filename, "w");
if(!$fp){ echo "Could not open file: $filename\n"; }
	fputs($fp, $data);
fclose($fp);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$query = "SELECT @@max_allowed_packet";
if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
list($maxsize) = mysql_fetch_array($qok);

$filesize = filesize($filename);

if($filesize > $maxsize) 
{
	$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', 'FBA Price Filesize was too large')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
}
else 
{
	$query = "insert into amazon_log_extended(lid, type, data) values('$logid', 'request', '".addslashes($data)."')";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
}

$config = array (
  'ProxyHost' => null,
  'ProxyPort' => -1,
  'MaxErrorRetry' => 3,
);

echo "AWS_ACCESS_KEY_ID: ".AWS_ACCESS_KEY_ID."\n";
echo "AWS_SECRET_ACCESS_KEY: ".AWS_SECRET_ACCESS_KEY."\n";
echo "MARKETPLACE_ID: ".MARKETPLACE_ID."\n";
echo "MERCHANT_ID: ".MERCHANT_ID."\n";

$service = new MarketplaceWebService_Client(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, $config, APPLICATION_NAME, APPLICATION_VERSION);

$feedHandle = fopen($filename, "r");

if(!$feedHandle)
{
	echo "Error opening file\n";
	exit;
}

$parameters = array (
  'Marketplace' => MARKETPLACE_ID,
  'Merchant' => MERCHANT_ID,
  'FeedType' => '_POST_PRODUCT_PRICING_DATA_',
  'FeedContent' => $feedHandle,
  'PurgeAndReplace' => false,
  'ContentMd5' => base64_encode(md5(stream_get_contents($feedHandle), true)),
);

$request = new MarketplaceWebService_Model_SubmitFeedRequest($parameters);


try 
{
	$response = $service->submitFeed($request);
              
	if ($response->isSetSubmitFeedResult()) 
	{ 
		$submitFeedResult = $response->getSubmitFeedResult();
        
		if ($submitFeedResult->isSetFeedSubmissionInfo()) 
		{ 
			$feedSubmissionInfo = $submitFeedResult->getFeedSubmissionInfo();
			if ($feedSubmissionInfo->isSetFeedSubmissionId()) 
            {
            	$amazon_reportid = $feedSubmissionInfo->getFeedSubmissionId();
			}
		} 
	} 
     
	if ($response->isSetResponseMetadata()) 
	{ 
    	$responseMetadata = $response->getResponseMetadata();
        if ($responseMetadata->isSetRequestId()) 
		{
        	$amazon_requestid = $responseMetadata->getRequestId();
		}
	} 
	
	echo "REPORTID: $amazon_reportid\n";
	echo "REQUESTID: $amazon_requestid\n";
	
	if($amazon_reportid != "" || $amazon_requestid != "")
	{
		$tstamp = date("Y-m-d H:i:s", time());
		
		$query = "insert into fba_feed_report(type, tstamp, reportid, requestid, filename, complete) ";
		$query .= " values('FBAPRICE', '$tstamp', '$amazon_reportid', '$amazon_requestid', '$filename', '0')";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
		
		$query = "update amazon_log set requestid = '$amazon_reportid' where id = '$logid'";
		if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ echo "$query\n\n".mysql_error()."\n\n"; exit;  }
		
	}	

} 
catch (MarketplaceWebService_Exception $ex) 
{
         echo("Caught Exception: " . $ex->getMessage() . "\n");
         echo("Response Status Code: " . $ex->getStatusCode() . "\n");
         echo("Error Code: " . $ex->getErrorCode() . "\n");
         echo("Error Type: " . $ex->getErrorType() . "\n");
         echo("Request ID: " . $ex->getRequestId() . "\n");
         echo("XML: " . $ex->getXML() . "\n");
}

fclose($feedHandle);

//unlink($filename);
?>
<?mysql_close();?>