<?
ini_set('display_errors',1);
error_reporting(E_ALL);

$ROOT_DIR = $argv[1];

if($ROOT_DIR == "")
{
	echo "usage: get_fba_order_report_status.phtml ROOT_DIR\n\n";
	exit;
}

REQUIRE($ROOT_DIR."/config.phtml");
REQUIRE($ROOT_DIR."/include/mysql.phtml");
REQUIRE($ROOT_DIR."/mgt/amazon/amazonclass.phtml");
REQUIRE($ROOT_DIR."/mgt/classes/efluentclass.phtml");

$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;


$reportId = "";
/********************************************************************************************/
set_include_path(get_include_path() . PATH_SEPARATOR . '../../.');    

function __autoload($className)
{
	$filePath = str_replace('_', DIRECTORY_SEPARATOR, $className) . '.php';
	$includePaths = explode(PATH_SEPARATOR, get_include_path());
    foreach($includePaths as $includePath)
    {
    	if(file_exists($includePath . DIRECTORY_SEPARATOR . $filePath))
    	{
        	require_once $filePath;
            return;
		}
	}
}
/********************************************************************************************/
$mysqlid = mysql_connect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);

$efc = new efluentClass();
$efc->dbconnect($MYSQL_SERVER, $MYSQL_USERNAME, $MYSQL_PASSWORD);
$efc->db = $DB;

$filename = "/tmp/amazon/4676010150.txt";

if(filesize($filename) > 0)
{
	echo "FILENAME: $filename<BR>";
	
	$fp = fopen($filename, "r");
	if(!$fp){echo "NO FILE! [$filename]<BR>";exit;}
	$data = "";
	
	while($data = fgetcsv($fp, 4096, "\t"))
	{
		if($data[0] == "amazon-order-id"){}
		else 
		{
			if( trim(strtoupper($data[47])) == "AMAZON.COM")
			{
				import_order($mysqlid, $DB, $efc, $data);
			}
			else 
			{
				echo "Multi-Channel Order [".$data[0]."].... Skipping\n";
			}
		}
	}
}

fclose($fp);

function translatePID($mysqlid, $DB, $pid)
{
	$query = "select pid from fba_sku_map where fba_sku = '$pid'";	
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) > 0)
	{
		list($pid) = mysql_fetch_array($qok);
		return $pid;
	}
	
	return $pid;
}

function import_order($mysqlid, $DB, $efc, $data)
{
	$invoiceid = addslashes( $data[0] );
	$orderdate = strtotime($data[7]);
	$amtstamp = date("Y-m-d H:i:s", strtotime($data[7]));
					
	$bill2name 		= $ship2name 	= addslashes( $data[24] );
	$bill2street1 	= $ship2street1 = addslashes( $data[25] );
	$bill2street2 	= $ship2street2 = addslashes( $data[26] );
	$bill2city 		= $ship2city 	= addslashes( $data[28] );
	$bill2state 	= $ship2state 	= addslashes( $data[29] );
	$bill2zip 		= $ship2zip 	= addslashes( $data[30] );
	$bill2country	= $ship2country	= addslashes( $data[31] );
					
	$emailaddr = addslashes( $data[10] );
	$phone = addslashes( $data[12] );
	$altphone = addslashes( $data[32] );
					
	$method = addslashes( $data[23] );
		
	echo "pre-PID: ".$data[13]."\n";
	
	$ampid = $data[3]; // use the shipment-item-id instead of the amazon-order-item-id
	$pid = translatePID($mysqlid, $DB, addslashes( $data[13] )); 
	$amzqty = $data[15];
	$amzdescr = $data[14];

	$query = "select manpart from product_list where id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		echo "PID: $pid DOES NOT EXIST\n";
		
		$query = "select id from fba_order_mismatch where invoiceid = '$invoiceid' and sku = '".addslashes($pid)."'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		if(mysql_num_rows($qok) <= 0)
		{
			$query = "insert into fba_order_mismatch(invoiceid, sku) values('$invoiceid', '".addslashes($pid)."')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		}
		
		return;
	}
	
	echo "INVOICEID:  	$invoiceid<BR>\n";
	echo "BILL2NAME: 	$bill2name<BR>\n";
	echo "BILL2STREET1: $bill2street1<BR>\n";
	echo "BILL2STREET2: $bill2street2<BR>\n";
	echo "BILL2CITY: 	$bill2city<BR>\n";
	echo "BILL2STATE: 	$bill2state<BR>\n";
	echo "BILL2ZIP: 	$bill2zip<BR>\n";
	echo "BILL2COUNTRY: $bill2country<BR>\n";
	
	echo "PID: $pid<BR>\n";
	
	$iprice = $data[17];
	
	echo "SHIPPING: $shipping TAX: $tax IPRICE: $iprice<BR><BR>";
	
	$query = "select orderid from customer_orders where invoiceid = '$invoiceid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	if(mysql_num_rows($qok) <= 0)
	{
		$divid = intval( $efc->getConfigValue("AmazonFBA", "DIVID") );
		$orderStatus = intval( $efc->getConfigValue("AmazonFBA", "NEW_ORDER_STATUS") );
		
		if($orderStatus == 0) $orderStatus = "1000";
		
		$query = "insert into customer_orders(acctid, invoiceid, orderdate, status, 
							bill2name, bill2street1, bill2street2, bill2city, bill2state, bill2zip, bill2country,
							ship2name, ship2street1, ship2street2, ship2city, ship2state, ship2zip, ship2country,
							weight, subtotal, tax, shipping, total, ip_addr, 
							phone, altphone, emailaddr, csmid, csmethod, divid, otype, clicktype, clickid) ";
		$query .= " values('0', '$invoiceid', '$orderdate', '$orderStatus',
							'$bill2name', '$bill2street1', '$bill2street2', '$bill2city', '$bill2state', '$bill2zip', '$bill2country',
							'$ship2name', '$ship2street1', '$ship2street2', '$ship2city', '$ship2state', '$ship2zip', '$ship2country',
							'0', '0', '$tax', '$shipping', '0', '',
							'$phone', '$altphone', '$emailaddr', '0', '$method', $divid, 'INVOICE', 1 , 'FB')";
	
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		$orderid = mysql_insert_id();
	
		/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		$query = "insert into fba_line_items_import(shipment_item_id) values('$ampid')";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		importLines($pid, $ampid, $amzqty, $amzdescr, $iprice, $orderid, $mysqlid, $DB, $efc, $data);
	}
	else 
	{
		list($orderid) = mysql_fetch_array($qok);
		
		echo ".... $invoiceid already exists<BR>\n";
		
		// make sure all the line items are imported
		$query = "select id from fba_line_items_import where shipment_item_id = '$ampid'";
		if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		if(mysql_num_rows($qok) <= 0)
		{
			$query = "insert into fba_line_items_import(shipment_item_id) values('$ampid')";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
			
			importLines($pid, $ampid, $amzqty, $amzdescr, $iprice, $orderid, $mysqlid, $DB, $efc, $data);
		}
	}
}

function importLines($pid, $ampid, $amzqty, $amzdescr, $iprice, $orderid, $mysqlid, $DB, $efc, $data)
{
	echo "Importing Line...........\n";
	echo "PID: $pid\n";
	echo "AMPID: $ampid\n";
	echo "AMZQTY: $amzqty\n";
	echo "AMZDESCR: $amzdescr\n";
	$orderdate = strtotime($data[7]);
	$amtstamp = date("Y-m-d H:i:s", strtotime($data[7]));

	$round = 0;
	
	$query = "select kit from product_list where id = '$pid'";
	if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	list($kit) = mysql_fetch_array($qok);
				
		if($kit == 1)
		{
			$numitems = 0;
					
			echo "KIT!!!!!!!!!!!!!!!!!!!! [$iprice]\n";
					
			$query = "select userid from sku_assignment where pid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($userid) = mysql_fetch_array($qok);
					
			$query = "update customer_orders set repid = '$userid', arepid = '$userid' where orderid = '$orderid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
			$query = "select kid, qty from product_kitskus where pid = '$pid'";
			if(!$q9ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			while(list($kid, $kqty) = mysql_fetch_array($q9ok))
			{
				$round++;
				
				$query = "select lineid from customer_order_lines where orderid = '$orderid' and prodid = '$kid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				if(mysql_num_rows($qok) <= 0)
				{
					$query = "update customer_orders set package = 1 where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					$query = "select product_list.manid, product_manufacturers.manname, product_list.manpart, product_list.descr from product_list, product_manufacturers
								where product_list.manid = product_manufacturers.manid and product_list.id = '$kid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($manid, $manname, $manpart, $descr) = mysql_fetch_array($qok);
							
					$manname = addslashes($manname);
					$manpart = addslashes($manpart);
					$descr = addslashes($descr);
					$qty = $kqty * $amzqty; // should this be =>  addslashes($data[8]) * $kqty;
							
					echo "NUMITEMS: $numitems [$kid]\n";
							
					if($numitems == 0)
						$price = addslashes($data[9] / $data[8]);
					else 
						$price = 0;
							
					$numitems++;	
							
					//$ampid = $data[5];//AmazonOrderItemCode - now gotten from the XML
							
					$scost = $efc->getSalesmanCost($pid);
					$cost = $efc->getActualCost($pid);				
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// let's add it
					$query = "insert into customer_order_lines(orderid, prodid, manid, manname, manpart, descr, price, qty_ordered, qty_shipped, weight, scost, cost, ampid, kitpid, kit) ";
					$query .= "values('$orderid', '$kid', '$manid', '$manname', '$manpart', '$descr', '$price', '$qty', '$qty', '0', '$scost', '$cost', '$ampid', '$pid', '1')";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// add up all the line items
					/*$query = "select sum( qty_ordered * price ) from customer_order_lines where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($subtotal) = mysql_fetch_array($qok);*/
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// get the current shipping & tax
					$query = "select shipping, tax from customer_orders where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($shipping, $tax) = mysql_fetch_array($qok);
							
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// add the shipping for this line
					//$shipping = floatval($data[11]);
					//$tax = floatval($data[10]);	
							
					$total = $iprice + $shipping + $tax;
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					// update the order
												
					$query = "update customer_orders set subtotal = '$iprice', shipping = '$shipping', tax = '$tax', total = '$total' where orderid = '$orderid'";			
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					//$amtstamp = date("Y-m-d H:i:s", time());
							
					$query = "select id from customer_payments where orderid = '$orderid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					if(mysql_num_rows($qok) > 0)
					{
						list($paymentid) = mysql_fetch_array($qok);
			
						$query = "update customer_payments set amount = '$total' where id = '$paymentid'";
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
								
						//$efc->mapAmazonShipping($orderid);
					}
					else 
					{
						$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
									amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
						$query .= "values('$orderid', '$amtstamp', 'AM', 'AMAZON', 'AMAZON', 'AMAZON',
									'$total', '', '1', 'AM', 'Amazon', '0', '0', 'CAPT')";	
							
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
								
								//$efc->mapAmazonShipping($orderid);
					}

					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					$query = "select cost from customer_order_tracking where invoiceid = '".$data[0]."' and trackno = '".$data[42]."'";
					if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					if(mysql_num_rows($q2ok) <= 0)
					{
						$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost) ";
						$query .= "values('".$data[0]."', '".$data[43]."', '".$data[42]."', '".$data[42]."', '$orderdate', '0.00') ";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						$tid = mysql_insert_id();	
						
						echo $query."\n\n";
						
						$logmsg .= "<BR>PID: $pid QTY: $qty";
						$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$orderid', '$tid', '".$data[43]."', '$pid', '')";
						if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
					}
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
					/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
									
				}
				else 
				{// already on the order, make sure the quantity is correct for this kit
					
					list($lineid) = mysql_fetch_array($qok);
							
					$query = "select qty from product_kitskus where pid = '$pid' and kid = '$kid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					list($xxqty) = mysql_fetch_array($qok);
							
					$query = "update customer_order_lines set 
									qty_ordered = qty_ordered + '$xxqty', 
									qty_shipped = qty_shipped + '$xxqty' 
									where lineid = '$lineid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
					if($round == 1)
					{
						$query = "update customer_orders set subtotal = subtotal + '$iprice', total = total + '$iprice' where orderid = '$orderid'";			
						if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					}
					
				}
			}
			
			$efc->mapAmazonShipping($orderid);
					
		}
		else 
		{
			$query = "select lineid from customer_order_lines where orderid = '$orderid' and prodid = '$pid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			if(mysql_num_rows($qok) <= 0)
			{
				echo "Looking up sku info [PID: $pid]...\n";
				$query = "select product_list.manid, product_manufacturers.manname, product_list.manpart from product_list, product_manufacturers
							where product_list.manid = product_manufacturers.manid and product_list.id = '$pid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($manid, $manname, $manpart) = mysql_fetch_array($qok);
						
				$manname = addslashes($manname);
				$manpart = addslashes($manpart);
				$descr = addslashes($amzdescr); //addslashes($data[7]);
				$qty = $amzqty; //addslashes($data[8]);
				//$price = addslashes($data[9] / $data[8]);
				//$ampid = $data[5];//AmazonOrderItemCode - gotten from the XML
						
				$scost = $efc->getSalesmanCost($pid);
				$cost = $efc->getActualCost($pid);				
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// let's add it
				$query = "insert into customer_order_lines(orderid, prodid, manid, manname, manpart, descr, price, qty_ordered, qty_shipped, weight, scost, cost, ampid) ";
				$query .= "values('$orderid', '$pid', '$manid', '$manname', '$manpart', '$descr', '".$iprice / $qty."', '$qty', '$qty', '0', '$scost', '$cost', '$ampid')";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				echo "$query<BR><BR>";
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// add up all the line items
				$query = "select sum( qty_ordered * price ) from customer_order_lines where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($subtotal) = mysql_fetch_array($qok);
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// get the current shipping & tax
				$query = "select shipping, tax from customer_orders where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping, $tax) = mysql_fetch_array($qok);
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// add the shipping for this line
				
				$total = $subtotal + $shipping + $tax;
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// update the order
										
				$query = "update customer_orders set subtotal = '$subtotal', shipping = '$shipping', tax = '$tax', total = '$total' where orderid = '$orderid'";			
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
				//$amtstamp = date("Y-m-d H:i:s", time());
						
				$query = "select id from customer_payments where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
						
				if(mysql_num_rows($qok) > 0)
				{
					list($paymentid) = mysql_fetch_array($qok);
		
					$query = "update customer_payments set amount = '$total' where id = '$paymentid'";
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
							
					$efc->mapAmazonShipping($orderid);
				}
				else 
				{
					$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
										amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
					$query .= "values('$orderid', '$amtstamp', 'AM', 'AMAZON', 'AMAZON', 'AMAZON',
										'$total', '', '1', 'AM', 'Amazon', '0', '0', 'CAPT')";	
					
					if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
							
					$efc->mapAmazonShipping($orderid);
				}
						
						
				echo "...ADDED: $pid TO $orderid [$invoiceid]\n";
				
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				$query = "insert into customer_order_tracking(invoiceid, trackno, type, carrier, shipdate, cost) ";
				$query .= "values('".$data[0]."', '".$data[43]."', '".$data[42]."', '".$data[42]."', '$orderdate', '0.00') ";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				$tid = mysql_insert_id();	
				
				echo $query."\n\n";
				
				$logmsg .= "<BR>PID: $pid QTY: $qty";
				$query = "insert into customer_order_tracking_extended(orderid, tid, trackno, prodid, serial) values('$orderid', '$tid', '".$data[43]."', '$pid', '')";
				if(!$q2ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }	
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			}
			else 
			{
				
				list($lineid) = mysql_fetch_array($qok);
				
				$qty = $amzqty;
				
				echo "...PRODUCTID: $pid ALREADY EXISTS ON $orderid [$invoiceid]\n";
				
				$query = "update customer_order_lines set qty_ordered = qty_ordered + $qty, qty_shipped = qty_shipped + $qty where lineid = '$lineid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// add up all the line items
				$query = "select sum( qty_ordered * price ) from customer_order_lines where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($subtotal) = mysql_fetch_array($qok);
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// get the current shipping & tax
				$query = "select shipping, tax from customer_orders where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				list($shipping, $tax) = mysql_fetch_array($qok);
						
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// add the shipping for this line
				
				$total = $subtotal + $shipping + $tax;
				/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// update the order
										
				$query = "update customer_orders set subtotal = '$subtotal', shipping = '$shipping', tax = '$tax', total = '$total' where orderid = '$orderid'";			
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
				
				$query = "update customer_payments set amount = '$total' where orderid = '$orderid'";
				if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }				
			}
					
			echo "----------------------------------------------------\n";
		}	
}

  
?>
<?mysql_close();?>