<?
if(!class_exists("lphp"))
	INCLUDE("lphp.php");

if(!function_exists('cleanVar'))
{
	function cleanVar($data)
	{
		$data = str_replace("&", "", $data);
		
		
		return $data;
	}
}

if($ttype == 1 || $ttype == 2 || $ttype == 3 || $ttype == 5)
{
	$firstdigit = $cardnum[0];
	$lastfour = substr($cardnum, strlen($cardnum) - 4);	
			
	if($ttype == 1 || $ttype == 2 || $ttype == 3) // sale/auth/cap
	{
		$balance = $efc->getOrderBalance($orderid, 0);
		$overcharge = round($amount - $balance, 2);
						
		if($overcharge > 0.00)
		{
			$overcharge = $amount - $balance;
					
			echo "This would overcharge the customer by: ".number_format($overcharge, 2)."\n\nAborted!";
			exit;
		}
				
		if($amount > 0)
		{
			if($ttype == 1) // SALE
			{
				$save_txtype = "SALE";
			}
			else if($ttype == 2)
			{
				$save_txtype = "AUTH";
			}
			else
			{
				$save_txtype = "CAPT";
			}
					
			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			$mylphp=new lphp;
		
			# constants
			$myorder["host"]       = "secure.linkpt.net";
			$myorder["port"]       = "1129";
			$myorder["keyfile"]    = $efc->getConfigValue("FirstData", "API_CERT"); # Change this to the name and location of your certificate file 
			$myorder["configfile"] = $efc->getConfigValue("FirstData", "API_STORE");;        # Change this to your store number 
		
			$ref = $invoiceid."-".date("YmdHis");
			# transaction details
			$myorder["ordertype"]         = $save_txtype;
			$myorder["result"]            = "LIVE";
			$myorder["transactionorigin"] = "ECI";
			$myorder["oid"]               = $ref;
			$myorder["ponumber"]          = $ref;
			$myorder["invoicenumber"]     = $ref;
			$myorder["taxexempt"]         = "NO";
			$myorder["terminaltype"]      = "UNSPECIFIED";
			$myorder["ip"]                = $ip_addr;
		
			# totals
/*			$myorder["subtotal"]    = $_POST["subtotal"];
			$myorder["tax"]         = $_POST["tax"];
			$myorder["shipping"]    = $_POST["shipping"];
			$myorder["vattax"]      = $_POST["vattax"];*/
			$myorder["chargetotal"] = $amount;
		
			# card info
			$myorder["cardnumber"]   = $cardnum;
			$myorder["cardexpmonth"] = $exp1a;
			$myorder["cardexpyear"]  = substr($exp1b, 2);
			
			if($cvv != "")
			{
				$myorder["cvmindicator"] = "provided";
				$myorder["cvmvalue"]     = $cvv;
			}
		
			
			
			# BILLING INFO
			$myorder["name"]     = cleanVar($bill2name);
			$myorder["company"]  = cleanVar($_POST["company"]);
			$myorder["address1"] = cleanVar($bill2street1);
			$myorder["address2"] = cleanVar($bill2street2);
			$myorder["city"]     = cleanVar($bill2city);
			$myorder["state"]    = cleanVar($bill2state);
			$myorder["country"]  = cleanVar($bill2country);
			$myorder["phone"]    = cleanVar($phone);
			/*$myorder["fax"]      = $_POST["fax"];*/
			$myorder["email"]    = cleanVar($emailaddr);
			/*$myorder["addrnum"]  = $_POST["addrnum"];*/
			$myorder["zip"]      = cleanVar($bill2zip);
		
			# SHIPPING INFO
			$myorder["sname"]     = cleanVar($ship2name);
			$myorder["saddress1"] = cleanVar($ship2street1);
			$myorder["saddress2"] = cleanVar($ship2street2);
			$myorder["scity"]     = cleanVar($ship2city);
			$myorder["sstate"]    = cleanVar($ship2state);
			$myorder["szip"]      = cleanVar($ship2zip);
			$myorder["scountry"]  = cleanVar($ship2country);
		
			# MISC
			/*			
			$myorder["comments"] = $_POST["comments"];
			$myorder["referred"] = $_POST["referred"];
			*/
		
			# ITEMS AND OPTIONS
			# there are several ways to pass items and options; see sample SALE_MAXINFO.php
		
			/*$myorder["items"][item1]["id"]          = $_POST["id"];
			$myorder["items"][item1]["description"] = $_POST["description"];
			$myorder["items"][item1]["quantity"]    = $_POST["quantity"];
			$myorder["items"][item1]["price"]       = $_POST["price"];
		
			$myorder["items"][item1]["option1"]["name"]  = $_POST["name1"];
			$myorder["items"][item1]["option1"]["value"] = $_POST["value1"];
			$myorder["items"][item1]["option2"]["name"]  = $_POST["name2"];
			$myorder["items"][item1]["option2"]["value"] = $_POST["value2"];*/
		
		#   Send transaction. Use one of two possible methods 
		//	$result = $mylphp->process($myorder);       # use shared library model
			$result = $mylphp->curl_process($myorder);  # use curl methods
		
			ob_start();
				print_r($myorder);
			$debug_buffer = ob_get_clean();
			
			ob_start();
				print_r($result);
			$debug_buffer .= ob_get_clean();
			
			if ($result["r_approved"] != "APPROVED")    // transaction failed, print the reason
			{
				$approved = 0;
				$approvalcode = "DECLINED";
				$return_msg = $result["r_approved"];
				
				//print "Status:  $result[r_approved]<br>\n";
				//print "Error:  $result[r_error]<br><br>\n";
			}
			else	// success
			{		
				$approved = 1;
				$approvalcode = "APPROVED";
				
				$avscode = substr($result['r_avs'], 0, 3);
				$cvvcode = substr($result['r_avs'], 3, 1);
				
				$return_msg = $result['r_ref'];
				$txid = $result['r_code'];
				
				
				//print "Status: $result[r_approved]<br>\n";
				//print "Transaction Code: $result[r_code]<br><br>\n";
			}
			
			$tstamp = date("Y-m-d H:i:s", time());
			$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
						amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype, bid) ";
			$query .= "values('$orderid', '$tstamp', '$avscode', '$txid', '$return_msg', '$ref',
						'$amount', '', '$approved', '$cvvcode', 'FirstData', '$firstdigit', '$lastfour', '$save_txtype', '$bid')";
			if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
					
			
			echo "$approvalcode\n\n$return_msg";			
			
			$query = "insert into debug(tstamp, data, title) values('$tstamp', '".addslashes($debug_buffer)."', '$invoiceid')";
			if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }

			//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////		
		}
		
	}
	else // void / refund 
	{
		$tpayments = $efc->getOrderPayments($orderid);
		$txparts = explode(":", $txid);
				
		if( $amount > $tpayments)
		{
			echo "Cannot credit a customer more than he has paid: ".number_format($tpayments, 2)."\n";
			exit;
		}
			
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
		$mylphp=new lphp;

		$myorder["host"]       = "secure.linkpt.net";
		$myorder["port"]       = "1129";
		$myorder["keyfile"]    = $efc->getConfigValue("FirstData", "API_CERT"); # Change this to the name and location of your certificate file 
		$myorder["configfile"] = $efc->getConfigValue("FirstData", "API_STORE");;        # Change this to your store number 
		
		list($usetxid, $oamount) = explode(":", $txid);
			
		$query = "select reference from customer_payments where txid like '$usetxid%' and pname = 'FirstData';";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		list($oid) = mysql_fetch_array($qok);
		
		if($cardnum == "ENCRYPTED")
		{
			$query = "select c, e from customer_billinginfo_extended where bid = '$bid'";
			if(!$qok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			list($c, $e) = mysql_fetch_array($qok);
						
			$names = explode(" ", $bill2name);
							
			$fname = $names[0];
			$lname = $names[ count($names) -1  ];
							
			// decrypt the card	using the bid
			$cardnum = $efc->decrypt( $efc->pem2der($c), "", $efc->pem2der($e));
		}
		
		# Amount returned must be less than or equal to the order amount. 
		# If there is more than one return against this order, make sure 
		#the total of the returns doesn't exceed the original sale amount.
		$myorder["chargetotal"]  = $amount;
		$myorder["ordertype"]    = "CREDIT";
		$myorder["cardnumber"]   = $cardnum;
		$myorder["cardexpmonth"] = $exp1a;
		$myorder["cardexpyear"]  = substr($exp1b, 2);
		#Must be a valid order ID from a prior Sale
		$myorder["oid"] = $oid;

		$result = $mylphp->curl_process($myorder);  # use curl methods
		
		ob_start();
			print_r($result);
		$debug_buffer = ob_get_clean();

			
		if ($result["r_approved"] != "APPROVED")	// transaction failed, print the reason
		{
			$approvalcode = "DECLINED";
			$return_msg = $result['r_error'];
		}
		else
		{// success
			$amount = $amount * -1;	
					
			if($gencredit == 1 && $amount < 0)
			{
				// change the orderid to the credit invoice orderid
				$orderid = $efc->generateCreditInvoice($orderid, $amount);
			}
						
			$approved = 1;
			$approvalcode = "APPROVED";
			$avscode = substr($result['r_avs'], 0, 3);
			$cvvcode = substr($result['r_avs'], 3, 1);
			$return_msg = $result['r_ref'];
			$txid = $result['r_code'];				
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
		$tstamp = date("Y-m-d H:i:s", time());
					
		$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
					amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype, bid) ";
		$query .= "values('$orderid', '$tstamp', '$avscode', '$txid', '$return_msg', '$ref',
					'$amount', '', '$approved', '$cvvcode', 'FirstData', '$firstdigit', '$lastfour', 'REFUND', '$bid')";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
		
		echo "$approvalcode\n\n$return_msg";		
		
		$query = "insert into debug(tstamp, data, title) values('$tstamp', '".addslashes($debug_buffer)."', '$invoiceid')";
		if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
			
	}
}
else if($ttype == 10)
{
	$tstamp = date("Y-m-d H:i:s", time());
		
	$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
				amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
	$query .= "values('$orderid', '$tstamp', '', '$manual_txid', '$approvalcode', '',
				'$amount', '', '1', '$cvvcode', 'FirstData', '0', '0000', 'CAPT')";
			
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$approvalcode = "Manual Transaction";
	$return_msg = "Successfully Entered";
			
	echo "$approvalcode\n\n$return_msg";

}	
else if($ttype == 11)
{
	$tstamp = date("Y-m-d H:i:s", time());
			
	$query = "insert into customer_payments(orderid, tstamp, avscode, txid, approvalcode, reference, 
				amount, eci, status, cvvcode, pname, firstdigit, lastfour, txtype) ";
	$query .= "values('$orderid', '$tstamp', '', '$manual_txid', '$approvalcode', '',
				'$amount', '', '1', '$cvvcode', 'FirstData', '0', '0000', 'REFUND')";
			
	if(!$q4ok = mysql_db_query($DB, $query, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops!  Internal Error"; exit; }  }
	
	$approvalcode = "Manual Transaction";
	$return_msg = "Successfully Entered";
		
	$amount = $amount * -1;	
					
	if($gencredit == 1 && $amount < 0)
	{
		// change the orderid to the credit invoice orderid
		$orderid = $efc->generateCreditInvoice($orderid, $amount);
	}

	
	echo "$approvalcode\n\n$return_msg";

}	
?>