<?php
$count_pids_removed = 0;
$icount = $_SESSION["ICOUNT"];
if ($icount > 0)
{
	for($xx = 0; $xx < $icount; $xx++)
	{
		$pid = $_SESSION["CART"]["ID"][$xx];
		$countries_list_array = array();
		
		if ($pid == -7)
		{
			continue;
		}
			
		$q_verify = "SELECT COUNT(id), countries_list
					 FROM product_shipping_limit
					 WHERE pid = '$pid'
					 LIMIT 1";
		if(!$qok_verify = mysql_db_query($DB, $q_verify, $mysqlid)){ if(stristr($_SERVER["HTTP_HOST"], ".efluent.")){echo mysql_error();exit; }else{ echo "Whoops! Internal Error"; exit; }  }
		list($verify_pid,$countries_list) = mysql_fetch_array($qok_verify);
		if ($verify_pid > 0 && !empty($countries_list))
		{
			if (isset($_SESSION["ship2country"]) && !empty($_SESSION["ship2country"]))
			{
				$ship2country = $_SESSION["ship2country"];
				$countries_list_array = explode(',', $countries_list);
		
				if (in_array($ship2country,$countries_list_array))
				{}
				else 
				{
					$cc->removeItem($pid);
					$cclass->removePidTmpCart($pid);
					++$count_pids_removed;
				}
			}
		}
	}
}
		
if($count_pids_removed > 0)
{
	$sc->redirectUrl($BASE_URL.'/checkout/?error_shipping_country');
}
$wherearewe = '<a href="'.$BASE_URL.'/">Home</a>&nbsp;::&nbsp;Checkout&nbsp;::&nbsp;Shipping Method';
?>
<div class="navBreadCrumb">  
    <?=$wherearewe?>
</div>
<div class="centerColSep"></div>
<div class="checkoutShipping">
    
        <h1 class="checkoutShippingHeading">Step 1 of 3 - Delivery Information</h1>
        <div class="centerColSep"></div>
        <h2 class="checkoutShippingHeadingAddress">Shipping Information:</h2>
        
                
         <div class="shippingInfoHolder">  
      <?php
	  $userShippingAddress=$cclass->getShippingAddress();
	  if(sizeof($userShippingAddress) <5)
	  {
	  ?>  
        
        <div class="checkoutShippingWrapper">
            <div class="checkoutChangeShipping">
                <a href="javascript:void();" class="addNewAdress">Add New Shipping Address
                </a>
            </div>
        </div>
        <?php }?>
        
        </div>
        <form name="checkout_address" action="/checkout/" method="post"  id="changeShippingAddress" style="display:none;">
        <div class="contactSep"></div>

        <div class="checkoutShippingInfo">Please use the following form to create a new shipping address for use with this order.</div>

    <div class="checkoutShippingWrapper" id="checkoutNewAddress">
        <fieldset>
            <span class="addressTitle"><legend>Add the Shipping Address </legend></span>
            <div class="alert" style="float:left;width:432px;text-align: right;">* Required information</div>

            <label class="inputLabel" for="firstname">First Name:</label>
            <input name="firstname" size="33" maxlength="32" id="firstname" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="lastname">Last Name:</label>
            <input name="lastname" size="33" maxlength="32" id="lastname" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="ship2company">Company Name:</label>
            <input name="ship2company" size="41" maxlength="64" id="ship2company" type="text">
            <div class="contactSep1"></div>

            <label class="inputLabel" for="street-address">Street Address:</label>
            <input name="street_address" size="41" maxlength="64" id="street-address" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="suburb">Address Line 2:<br><span style="font-size:10px;">Apartment, suite, unit, building, floor, etc.</span></label>
            <input name="ship2street2" size="33" maxlength="32" id="ship2street2" type="text">
            <div class="contactSep1"></div>

            <label class="inputLabel" for="country">Country:</label>
            <select name="zone_country_id" id="country">
            <?php
   	            $current_country = $_SESSION["ship2country"];
                include($ROOT_DIR."/include/country_select.php");
            ?>
            </select>
            <span class="alert">*</span>
			<div class="contactSep1"></div>              

            <label class="inputLabel" for="state" id="stateLabel">State/Province:</label>
			<select name="usa_state" <?php echo ($current_country && $current_country == 'US') ? '' : 'style="display:none;"'; ?> id="usa_states"> 
				<!--<option value="">-----------------</option>-->
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="AA">Armed Forces Americas</option>
				<option value="AE">Armed Forces Europe</option>
				<option value="AP">Armed Forces Pacific</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>             
            
            <input <?php echo ($current_country && $current_country == 'US') ? 'style="display:none;"' : ''; ?> id="international_states" name="state" value="" type="text">
            <div class="contactSep1"></div>
            
            <label class="inputLabel" for="city">City:</label>
            <input name="city" size="33" maxlength="32" id="city" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

            <label class="inputLabel" for="postcode">Post/Zip Code:</label>
            <input name="postcode" size="11" maxlength="10" id="postcode" type="text"><span class="alert">*</span>
            <div class="contactSep1"></div>

        </fieldset>
    </div>
    <div class="checkoutShippingContinue">
        <input name="action" value="add_shipping_address" type="hidden">
        <input type="hidden" name="shippingAddressID" id="shippingAddressID" value="" />
        <input src="/images/button_submit.gif" alt="Continue" title=" Continue " type="image">
    </div>
    <div class="checkoutShippingContinueTxt"><strong>Continue</strong><br>- to shipping method.</div>

    </form>
        
     <form method="post" action="<?php echo $BASE_URL; ?>/checkout/checkout_payment.phtml" name="checkout_address">
     
     
     
     <?php
	 $userInfo=$cclass->getUserInfo();
	
	 ?>
     <?php /*?><div class="checkoutShippingWrapper">
            <address class=""><?=$_SESSION["ship2name"]?><br> <?=$_SESSION["ship2street1"]?> <?=$_SESSION["ship2street2"]?><br> <?=$_SESSION["ship2city"]?>, <?=$_SESSION["ship2state"]?>    <?=$_SESSION["ship2zip"]?><br><?=$_SESSION["ship2country"]?></address>
            <div class="checkoutChangeShipping">
                <a href="/checkout/checkout_shipping_address.phtml">
                    <img width="142" height="25" title=" Change Address " alt="Change Address" src="/images/button_change_address.gif">
                </a>
            </div>
        </div><?php */?>
        
         <div class="shippingInfoHolder">  
        <fieldset style="border-bottom:none;">
        <legend>Select Shipping Address</legend>
        
        
        <input type="radio" class="RadioAddress"  value="<?=$_SESSION["acctid"] ?>" 
        name="shippingAddress" <?php if($_SESSION['ship2name']== $userInfo['ship2name']){echo "checked";} ?>  />
                   <a href="/checkout/checkout_shipping_address.phtml"> <div class="shippingRates changeAddress"> 
                   <img width="38" height="25" title=" Edit " alt="Edit" src="/images/small_edit.gif">
                   </div></a>
                    <label class="checkboxLabel" for="ship-zones-zones" style="float:none !important;">
                    <?=$userInfo['ship2name'] ?>
                    <?= $userInfo['ship2company']?>
					<?=$userInfo['ship2street1'] ?>
                     <?=$userInfo['ship2street2']?><br> 
					 <span style="margin-left:32px;"><?=$userInfo['ship2city']?>, <?=$userInfo['ship2state']?>   
                      <?=$userInfo['ship2zip']?> <?=$userInfo['ship2country']?></span>
                      
                    </label>
                    <br /><br /><br />
        
     <?php
 		 
		 if(sizeof($userShippingAddress!=0))
		 {
		 foreach($userShippingAddress as $addressC)
		 {
		 ?>
			
                    
                    <input type="radio" class="RadioAddress"  value="<?=$addressC['id'] ?>" name="shippingAddress" <?php if($_SESSION['ship2name']== $addressC['ship2name']){echo "checked";} ?>  />
                   <a href="javascript:void()"> <div class="shippingRates changeAddress" id="<?=$addressC['id'] ?>" 
                    data-ship2name ="<?=$addressC['ship2name'] ?>" data-ship2company ="<?=$addressC['ship2company'] ?>" 
                     
                    data-ship2street1 ="<?=$addressC['ship2name'] ?>" 
                    data-ship2street2 = "<?=$addressC['ship2street2']?>" 
                    data-ship2city="<?=$addressC['ship2city']?>" 
                    data-ship2state="<?=$addressC['ship2state']?>" 
                    data-ship2country="<?=$addressC['ship2country']?>" 
                    data-ship2zip="<?=$addressC['ship2zip']?>" > <img width="38" height="25" title=" Edit " alt="Edit" src="/images/small_edit.gif"></div></a>
                    <label class="checkboxLabel" for="ship-zones-zones" style="float:none !important;">
                    <?=$addressC['ship2name'] ?>
                    <?=$addressC['ship2company'] ?>
					<?=$addressC['ship2street1'] ?>
                     <?=$addressC['ship2street2']?><br> 
					 <span style="margin-left:32px;"><?=$addressC['ship2city']?>, <?=$addressC['ship2state']?>   
                      <?=$addressC['ship2zip']?> <?=$addressC['ship2country']?></span>
                      
                    </label>
                    <br /><br /><br />
               
          <?php }
		  	} ?>
        </fieldset> 
        </div>
        <fieldset class="ware" style="margin-top:-12px; background: rgba(255, 255, 0, 0.57)">
                    <legend>WareHouse</legend>
                   
                   <div class="shippingRates"><span style="color:#093"> 10% Discount applied to all Warehouse orders.</span>
                   <span style="position:relative; margin-top:17px; display:none; overflow:hidden;" id="otherDiscountHolder">
                   <input type="checkbox" name="otherDiscount" value="1" id="otherDiscount" /> <label class="checkboxLabel" for="warehousePickup" style="float:none;">I want to use a different discount coupon.</label>
                   <span style="color:red; overflow:hidden; display:block; margin-top:6px; font-size:10px;">
                   (you cannot use more than one discount coupon.)
                   </span>
                   </span>
                   </div> 
                    
                    <input  type="radio" class="warehousePickup" value="1" name="warehousePickupRadio" />
                    <label class="checkboxLabel" for="warehousePickup" style="float:none;">Pickup at Warehouse
                    <br />
                    
                    <span style="margin-left:32px; color:#C8B87C;">20 N Aviador St. Unit B, <br> </span>
                   <span style="margin-left:32px; color:#C8B87C;"">Camarillo, CA 93010. </span>
                    </label>
                    <br />
                    <br />
                   
              
                    
                </fieldset>
        <div class="shippingInfoHolder">
        <div class="checkoutShippingInfo" style="font-weight:normal;">Your Order will be shipped to the address you select above, or if you wish to stop by our Warehouse to pickup your order select <b>Pickup at Warehouse</b>.</div>
        </div>
        <div class="centerColSep"></div>
        
		<?php if (isset($_GET['error_shipping_country'])): ?>
			<div class="checkoutShippingInfo error_ship">We're sorry, one or more items cannot be shipped to your country due to licensing restrictions with the manufacturer. Please contact us for alternative options.</div>
	        <div class="centerColSep"></div>
		<?php endif; ?>
        <div class="shippingInfoHolder">
        <h2 class="checkoutShippingHeadingAddress">Shipping Method:</h2>

        <div class="checkoutShippingInfo">Please select the preferred shipping method to use on this order.</div>
         <div id="shipping_data">
        <?
            
        foreach ($methods['id'] as $k=>$v) {
            $checked = '';
            if($_SESSION["METHOD"] == "" && $k == 0)
            {
                    $_SESSION["METHOD"] = $v;
                    $_SESSION["SHIPRATE"] = number_format($methods['rate'][$k],2);
                    $checked = " checked";
            }
            else if($v == $_SESSION["METHOD"])
            {
                    $checked = " checked";
                    $_SESSION["SHIPRATE"] = number_format($methods['rate'][$k],2);
            }
            ?>
         
                <fieldset>
                    <legend><?=$methods['name'][$k]?></legend>
                    <? if($_SESSION["ship2country"]=="US") {?>
                    <div class="shippingRates">$<?=number_format($methods['rate'][$k],2);?></div> 
                    <? } ?>
                    <input class="shipMethod" type="radio" id="ship-zones-zones" value="<?=$v?>" name="shipping" <?=$checked?> />
                    <label class="checkboxLabel" for="ship-zones-zones"><?=$methods['name'][$k];?> Shipping</label>
                </fieldset>
             
            <?
        }
   
  
        ?>
             </div>
             
             
          </div>
          <div class="shippingInfoHolder">
        <h3>*<a style="font-size:10px; font-weight:normal" target="_blank" href="/help.phtml?hid=39">Please CLICK HERE to read our Expedited Shipping Policy for details about delivery times.</a><br><br></h3>
        </div>
        <div class="checkoutShippingContinue">
            <input type="image" title=" Continue " alt="Continue" src="/images/button_continue_checkout.gif">
        </div>
        <div class="checkoutShippingContinueTxt"><strong>Continue to Step 2</strong><br>- choose your payment method.</div>
    </form>
</div>

<style>

.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
.my-error-class { 
   float:left;
   display:block;
   margin-left:129px;
}​
</style>
<script>
$('.changeAddress').click(function(){
	var shippingAddressID = $(this).attr('id');
	var ship2name = $(this).attr('data-ship2name');
	var str=ship2name.split(' ');
	var firstName = str[0];
	var lastName = str[1];
	var ship2company = $(this).attr('data-ship2company');
	
	var ship2street1 = $(this).attr('data-ship2street1');
	
	var ship2street2 = $(this).attr('data-ship2street2');
	
	var ship2city = $(this).attr('data-ship2city');
	
	var ship2state = $(this).attr('data-ship2state');
	var ship2zip = $(this).attr('data-ship2zip');
	//alert(ship2zip);
	var ship2country = $(this).attr('data-ship2countrys');
	$('.addressTitle').text('Update your shipping address');
	$('#changeShippingAddress').hide();
	$('#changeShippingAddress').slideDown(500);
	$('#firstname').val(firstName);
	$('#lastname').val(lastName);
	$('#ship2company').val(ship2company);
	$('#street-address').val(ship2street1);
	$('#ship2street2').val(ship2street2);
	$('#city').val(ship2city);
	$('#postcode').val(ship2zip);
	$('#international_states').val(ship2state)
	$('#shippingAddressID').val(shippingAddressID);
	
	})

$('.addNewAdress').click(function(){
	$('#changeShippingAddress')[0].reset();
	$('.addressTitle').text('Add new shipping address');
	$('#shippingAddressID').val('');
	$('#changeShippingAddress').slideToggle();
	})
$(document).ready(function () {

    $('#changeShippingAddress').validate({ // initialize the plugin
	 errorClass: "my-error-class",
   validClass: "my-valid-class",
        rules: {
            firstname: {
                required: true,
                minlength: 2
            },
            lastname: {
                required: true,
                minlength: 2
            },
			city: {
				required: true,
				minlength: 2
			},
			street_address: {
				required: true,
				minlength: 5
			},
			postcode: {
				required: true,
				minlength: 3
			},
			state: {
				required: true,
				minlength: 2
			},
			usa_state: {
				required: true,
				
			},
        },
		onfocusout: function(element) {
            this.element(element);
        },highlight: function(element) {
            $(element).addClass('error');
        }, unhighlight: function(element) {
            $(element).removeClass('error');
        },
        
    });
 $("input[name='shippingAddress']").click(function() {
        var addressid = $(this).val();
		
		$('#otherDiscountHolder').hide();
		$('#otherDiscount').attr('checked', false);
		$('.warehousePickup').attr('checked', false);
		
        calculate_shipping(addressid);
});

$(".warehousePickup").click(function() {
        var pickware = $(this).val();
        if(pickware=='1')
		{
			 $("input[name='shippingAddress']").attr('checked', false);
			 $('#otherDiscountHolder').css({'display':'block'});
		}else
		{
			
			//$('.shippingInfoHolder').show();
			$('#otherDiscountHolder').hide();
		}
		$('.bulk_popup_mask').show();
		$('.bulk_popup').css('position', 'fixed');
		$('.bulk_popup').show();
});

});

$(document).on("click",".shipMethod", function(){
  $('.warehousePickup').attr('checked', false);
  $('#otherDiscountHolder').hide();
});
function calculate_shipping(addressid) {
  $.ajax({
      method: "POST",
    url:"shipping_calculate.php", 
     data: { shippingAddress:addressid }
     }) 
   .done(function( msg ) {
   // alert( "Data Saved: " + msg );
    $("#shipping_data").html(msg);
	var shiid = $('.shipMethod').val();
	
	if(shiid !='346')
	{
		$('.warehousePickup').attr('checked', false);
		 //$('.ware').hide();
	}else
	{
		 //$('.ware').show();
	}
  });
}
</script>
<script>
$(document).ready(function(){
	$('.hide_bulk_popup').on('click', function() {	

                            $('.bulk_popup_mask').hide();
                           $('.bulk_popup').hide();
                        });	
						
						
						
		$('.yes').on('click', function() {	

                            $('.bulk_popup_mask').hide();
							$('.bulk_popup').hide();
                        });	
						
						
						
						$('.no').on('click', function() {	
							$('.bulk_popup_mask').hide();
							$('.bulk_popup').hide();
                           location.reload();
                        });					
						
		
	});
	
</script>
<div class="bulk_popup_mask">&nbsp;</div>
<div class="bulk_popup" style="height:183px; background:floralwhite;"><a class="hide_bulk_popup"><img src="/images/bulk_popup_close_btn.png" width="36" height="36"></a>
	<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
    <tr align="left">
    <td colspan="2" style="padding-left: 27px;">
    This selection requires you to drive to our Warehouse in Camarillo to personally pickup your order. Please select Yes if you agree, or No if you would like your order shipped to you.
    </td>
    </tr>
	<tr align="left">
		<td style="border-bottom:none;padding-left: 44px;">  <button type="button" class="yes" style="padding: 10px 32px;    cursor: pointer;">Yes</button></td>
		<td style="border-bottom:none;padding-left: 44px;"><button type="button" class="no" style="padding: 10px 32px;    cursor: pointer;">No</button></td>
	</tr>
    </tbody>
    </table>
    
    </div>